{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/fake/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_tenant",
        "error_description": "AADSTS90002: Tenant \u0027fake\u0027 not found. Check to make sure you have the correct tenant ID and are signing into the correct cloud. Check with your subscription administrator, this may happen if there are no active subscriptions for the tenant.\r\nTrace ID: 0d521bcc-c701-4523-b260-b00176da6500\r\nCorrelation ID: b317f882-00ca-4b40-81ff-bfaf45a26ceb\r\nTimestamp: 2022-03-10 22:06:38Z",
        "error_codes": [
          90002
        ],
        "timestamp": "2022-03-10 22:06:38Z",
        "trace_id": "0d521bcc-c701-4523-b260-b00176da6500",
        "correlation_id": "b317f882-00ca-4b40-81ff-bfaf45a26ceb",
        "error_uri": "https://login.microsoftonline.com/error?code=90002"
      }
    }
  ],
  "Variables": {}
}
