<h1>
  <%-title%>
</h1>
<form method="post">
  <div class="post">
    <div>
      <div>Title</div>
      <input type="text" name="title" id="editPostTitle" />
    </div>
    <div id="editPostBodyDiv">
      <div>Body</div>
      <textarea name="body" rows="20" id="editPostBody"></textarea>
    </div>
  </div>

  <div id="editPostSubmitDiv">
    <input id="editPostSubmit" type="submit" value="Save" />
  </div>
</form>