{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.20.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "refresh_in": 43199,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/f7584114/providers/Microsoft.LoadTestService/loadTests/py-sdk-testing-resource-cp?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/d7185eeb-ed96-4f29-bba3-1658a467e168*C8608CEC5B0B2557E59FF8669DE91950A517DFE52FF6C877BB7638E78F5B0D27?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222c006820-0000-0800-0000-634ce5300000\u0022",
        "mise-correlation-id": "5eaf4165-40a7-443f-b95e-4022f1bb9ed2",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/f7584114/providers/Microsoft.LoadTestService/loadTests/py-sdk-testing-resource-cp",
        "name": "py-sdk-testing-resource-cp",
        "type": "microsoft.loadtestservice/loadtests",
        "location": "westus2",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-17T05:16:31.5619722Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-17T05:16:31.5619722Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "description": null,
          "dataPlaneURI": "1bfb3712-9462-4758-b508-6bff4f61e434.westus2.cnt-prod.loadtesting.azure.com",
          "encryption": null,
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/d7185eeb-ed96-4f29-bba3-1658a467e168*C8608CEC5B0B2557E59FF8669DE91950A517DFE52FF6C877BB7638E78F5B0D27?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208009a32-0000-0800-0000-634ce5300000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/d7185eeb-ed96-4f29-bba3-1658a467e168*C8608CEC5B0B2557E59FF8669DE91950A517DFE52FF6C877BB7638E78F5B0D27",
        "name": "d7185eeb-ed96-4f29-bba3-1658a467e168*C8608CEC5B0B2557E59FF8669DE91950A517DFE52FF6C877BB7638E78F5B0D27",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/f7584114/providers/Microsoft.LoadTestService/loadTests/py-sdk-testing-resource-cp",
        "status": "Accepted",
        "startTime": "2022-10-17T05:16:32.495931Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/d7185eeb-ed96-4f29-bba3-1658a467e168*C8608CEC5B0B2557E59FF8669DE91950A517DFE52FF6C877BB7638E78F5B0D27?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208009d32-0000-0800-0000-634ce5320000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/d7185eeb-ed96-4f29-bba3-1658a467e168*C8608CEC5B0B2557E59FF8669DE91950A517DFE52FF6C877BB7638E78F5B0D27",
        "name": "d7185eeb-ed96-4f29-bba3-1658a467e168*C8608CEC5B0B2557E59FF8669DE91950A517DFE52FF6C877BB7638E78F5B0D27",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/f7584114/providers/Microsoft.LoadTestService/loadTests/py-sdk-testing-resource-cp",
        "status": "Succeeded",
        "startTime": "2022-10-17T05:16:32.495931Z",
        "endTime": "2022-10-17T05:16:34.5129637Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/f7584114/providers/Microsoft.LoadTestService/loadTests/py-sdk-testing-resource-cp?api-version=2022-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/d2ed48dc-3b47-4eed-a0a7-67b9b8790c1e*C8608CEC5B0B2557E59FF8669DE91950A517DFE52FF6C877BB7638E78F5B0D27?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222c008c21-0000-0800-0000-634ce5530000\u0022",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/d2ed48dc-3b47-4eed-a0a7-67b9b8790c1e*C8608CEC5B0B2557E59FF8669DE91950A517DFE52FF6C877BB7638E78F5B0D27?api-version=2022-12-01",
        "mise-correlation-id": "2bc86415-aa7d-4847-9044-a793850cf1f9",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/f7584114/providers/Microsoft.LoadTestService/loadTests/py-sdk-testing-resource-cp?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222c00d421-0000-0800-0000-634ce5570000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/f7584114/providers/Microsoft.LoadTestService/loadTests/py-sdk-testing-resource-cp",
        "name": "py-sdk-testing-resource-cp",
        "type": "microsoft.loadtestservice/loadtests",
        "location": "westus2",
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-10-17T05:16:31.5619722Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-17T05:17:07.1887841Z"
        },
        "identity": {
          "principalId": "18bc6545-7e51-45e2-96c1-667aa74dce05",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "properties": {
          "description": null,
          "dataPlaneURI": "1bfb3712-9462-4758-b508-6bff4f61e434.westus2.cnt-prod.loadtesting.azure.com",
          "encryption": null,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/f7584114/providers/Microsoft.LoadTestService/loadTests/py-sdk-testing-resource-cp?api-version=2022-12-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/30f7f188-59b2-4824-bee2-488a03a995eb*C8608CEC5B0B2557E59FF8669DE91950A517DFE52FF6C877BB7638E78F5B0D27?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222c00d122-0000-0800-0000-634ce5730000\u0022",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/30f7f188-59b2-4824-bee2-488a03a995eb*C8608CEC5B0B2557E59FF8669DE91950A517DFE52FF6C877BB7638E78F5B0D27?api-version=2022-12-01",
        "mise-correlation-id": "e29b2d77-5976-4850-a53f-b7965df31c4d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    }
  ],
  "Variables": {}
}
