-e ../../servicebus/azure-servicebus
-e ../../core/azure-core
-e ../../../tools/azure-sdk-tools
-e ../../identity/azure-identity
pytest-asyncio>=0.8.0; python_version > '3.4'
docutils>=0.14
pygments>=2.2.0
behave==1.2.6
wheel
