body
  font-family Tahoma, "Helvetica Neue", Arial, Helvetica, sans-serif
  font-size 13px
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
  background-color #F3F4F5

h1, h2
  margin 0
  font-size 22px
  color #343434

h1
  font-size 60px
  text-align center
  margin-bottom 20px

#posts
  margin-bottom 20px
  margin-left auto
  margin-right auto
  background-color #fff
  width 80%

  #newPost
    float right
    padding-top 20px
    padding-bottom 20px

  #deletePost
    float right

  .post
    border-style solid;
    border-width 1px
    border-color #D3D2D2
    padding 20px

    .created_at
        font-size 10px
        padding-bottom 5px

    .title
        font-weight bold
        text-decoration underline
        padding-bottom 5px

.post
  border-style solid
  border-width 1px
  border-color #D3D2D2
  padding 20px
  background-color #fff

  #editPostSubmitDiv
    padding-top 20px

  #editPostTitle
    width 300px

  #editPostBodyDiv
    padding-top 20px

  #editPostBody
    width 100%
    height 90px