trio; python_version >= '3.5'
aiohttp>=3.0; python_version >= '3.5'
typing_extensions>=3.7.2
opencensus>=0.6.0
opencensus-ext-azure>=0.3.1
opencensus-ext-threading
mock
-e ../../../tools/azure-sdk-tools
-e ../../../tools/azure-devtools
azure-common~=1.1