[tool.azure-sdk-build]
mypy = true
type_check_samples = true
verifytypes = true
pyright = false
black = true
# For test environments or static checks where a check should be run by default, not explicitly disabling will enable the check.
# pylint is enabled by default, so there is no reason for a pylint = true in every pyproject.toml.
#
# For newly added checks that are not enabled by default, packages should opt IN by "<check> = true".

[[tool.azure-sdk-build.optional]]
name = "no_requests"
install = []
uninstall = ["requests"]
additional_pytest_args = ["--ignore-glob='*_async.py'"]

[[tool.azure-sdk-build.optional]]
name = "no_aiohttp"
install = []
uninstall = ["aiohttp"]
additional_pytest_args = ["-k", "_async.py"]
