interactions:
- request:
    body: '{"location": "South Central US", "tags": {"tag1": "value1", "tag2": "value2"},
      "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee","name":"namesp2test4eb615ee","type":"Microsoft.EventHub/Namespaces","location":"South
        Central US","tags":{"tag1":"value1","tag2":"value2"},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"00000000-0000-0000-0000-000000000000:namesp2test4eb615ee","createdAt":"2020-09-16T07:11:21.83Z","updatedAt":"2020-09-16T07:11:21.83Z","serviceBusEndpoint":"https://namesp2test4eb615ee.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "NorthCentralUS", "tags": {"tag1": "value1", "tag2": "value2"},
      "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesptest4eb615ee?api-version=2017-04-01
  response:
    body:
 [...]
[...]
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee/authorizationRules/authorizationrule4eb615ee?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee/authorizationRules/authorizationrule4eb615ee","name":"authorizationrule4eb615ee","type":"Microsoft.EventHub/Namespaces/AuthorizationRules","location":"South
        Central US","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "sdk-DisasterRecovery-9474"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee/disasterRecoveryConfigs/checkNameAvailability?api-version=2017-04-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"None"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: 'b''b\''{"properties": {"partnerNamespace": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesptest4eb615ee"}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee/disasterRecoveryConfigs/disasterdecoveryconfig4eb615ee?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee/disasterRecoveryConfigs/disasterdecoveryconfig4eb615ee","name":"disasterdecoveryconfig4eb615ee","type":"Microsoft.EventHub/Namespaces/disasterrecoveryconfigs","properties":{"provisioningState":"Accepted","partnerNamespace":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesptest4eb615ee","role":"Primary","type":"MetadataReplication"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee/disasterRecoveryConfigs/disasterdecoveryconfig4eb615ee?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee/disasterRecoveryConfigs/disasterdecoveryconfig4eb615ee","name":"disasterdecoveryconfig4eb615ee","type":"Microsoft.EventHub/Namespaces/disasterrecoveryconfigs","properties":{"provisioningState":"Succeeded","partnerNamespace":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesptest4eb615ee","role":"Primary","type":"MetadataReplication","pendingReplicationOperationsCount":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee/messagingplan?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee/messagingplan","name":"2","type":"Microsoft.EventHub/MessagingSKUPlan","location":null,"tags":null,"properties":{"sku":2,"selectedEventHubUnit":1,"updatedAt":"2020-09-16T07:11:22.6816823Z","revision":3}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee/disasterRecoveryConfigs/disasterdecoveryconfig4eb615ee/authorizationRules/authorizationrule4eb615ee?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee/disasterRecoveryConfigs/disasterdecoveryconfig4eb615ee/authorizationRules/authorizationrule4eb615ee","name":"authorizationrule4eb615ee","type":"Microsoft.EventHub/Namespaces/AuthorizationRules","location":"South
        Central US","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee/disasterRecoveryConfigs/disasterdecoveryconfig4eb615ee/authorizationRules/authorizationrule4eb615ee/listKeys?api-version=2017-04-01
  response:
    body:
      string: '{"aliasPrimaryConnectionString":"Endpoint=sb://disasterdecoveryconfig4eb615ee.servicebus.windows.net/;SharedAccessKeyName=authorizationrule4eb615ee;SharedAccessKey=l7V9r5Gjbmqlb0Koehg1U4YD4+m8+78aXR//8LFUykI=","aliasSecondaryConnectionString":"Endpoint=sb://disasterdecoveryconfig4eb615ee.servicebus.windows.net/;SharedAccessKeyName=authorizationrule4eb615ee;SharedAccessKey=KL0F9Nriwd6+Uq+HBlUllsVOMj6qXWzOxBNdBfmAjCg=","primaryKey":"l7V9r5Gjbmqlb0Koehg1U4YD4+m8+78aXR//8LFUykI=","secondaryKey":"KL0F9Nriwd6+Uq+HBlUllsVOMj6qXWzOxBNdBfmAjCg=","keyName":"authorizationrule4eb615ee"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesp2test4eb615ee/disasterRecoveryConfigs/disasterdecoveryconfig4eb615ee/breakPairing?api-version=2017-04-01
  response:
    body:
      string: ''
    headers:
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesptest4eb615ee/disasterRecoveryConfigs/disasterdecoveryconfig4eb615ee/failover?api-version=2017-04-01
  response:
    body:
      string: ''
    headers:
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesptest4eb615ee/disasterRecoveryConfigs/disasterdecoveryconfig4eb615ee?api-version=2017-04-01
  response:
    body:
      string: '{"error":{"message":"Delete operation is only allowed when primary
        namespace does not have secondary namespace. CorrelationId: 78c57f58-748c-498c-b96f-b3699c19573d","code":"BadRequest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_disaster_recovery_configs4eb615ee/providers/Microsoft.EventHub/namespaces/namesptest4eb615ee/disasterRecoveryConfigs/disasterdecoveryconfig4eb615ee?api-version=2017-04-01
  response:
    body:
      string: ''
    headers:
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14996'
    status:
      code: 200
      message: OK
version: 1
