interactions:
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.Storage/storageAccounts/storageaccount13130eda?api-version=2019-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/896f968b-8483-4869-89b3-53bb73a4e87b?monitor=true&api-version=2019-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/896f968b-8483-4869-89b3-53bb73a4e87b?monitor=true&api-version=2019-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/896f968b-8483-4869-89b3-53bb73a4e87b?monitor=true&api-version=2019-04-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/896f968b-8483-4869-89b3-53bb73a4e87b?monitor=true&api-version=2019-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.Storage/storageAccounts/storageaccount13130eda","name":"storageaccount13130eda","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2020-03-28T17:33:52.4498224Z"},"blob":{"enabled":true,"lastEnabledTime":"2020-03-28T17:33:52.4498224Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2020-03-28T17:33:52.3716737Z","primaryEndpoints":{"blob":"https://storageaccount13130eda.blob.core.windows.net/","queue":"https://storageaccount13130eda.queue.core.windows.net/","table":"https://storageaccount13130eda.table.core.windows.net/","file":"https://storageaccount13130eda.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"properties": {"addressPrefix": "10.0.0.0/24"},
      "name": "subnet13130eda"}], "enableDdosProtection": false, "enableVmProtection":
      false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.Network/virtualNetworks/virtualnetwork13130eda?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualnetwork13130eda\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.Network/virtualNetworks/virtualnetwork13130eda\"\
        ,\r\n  \"etag\": \"W/\\\"7a218bff-58fa-4cd7-9122-6643802e1bef\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"d8ef492b-4966-41bf-8eb9-1cce99d7d6d8\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\"\
        : \"subnet13130eda\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.Network/virtualNetworks/virtualnetwork13130eda/subnets/subnet13130eda\"\
        ,\r\n        \"etag\": \"W/\\\"7a218bff-58fa-4cd7-9122-6643802e1bef\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\"\
        : [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n  \
        \        \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\
        \n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n    \
        \  }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\"\
        : false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/c9db78f9-a640-4e29-9084-c92b9b2ea94b?api-version=2019-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/c9db78f9-a640-4e29-9084-c92b9b2ea94b?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.Network/virtualNetworks/virtualnetwork13130eda/subnets/subnet13130eda?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnet13130eda\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.Network/virtualNetworks/virtualnetwork13130eda/subnets/subnet13130eda\"\
        ,\r\n  \"etag\": \"W/\\\"f6a7fd18-aa56-41aa-8fc4-591df81e6725\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\"\
        : \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f6a7fd18-aa56-41aa-8fc4-591df81e6725"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "South Central US", "tags": {"tag1": "value1", "tag2": "value2"},
      "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda","name":"namespace13130eda","type":"Microsoft.EventHub/Namespaces","location":"South
        Central US","tags":{"tag1":"value1","tag2":"value2"},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"00000000-0000-0000-0000-000000000000:namespace13130eda","createdAt":"2020-03-28T17:34:45.187Z","updatedAt":"2020-03-28T17:34:45.187Z","serviceBusEndpoint":"https://namespace13130eda.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '45'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/messagingplan?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/messagingplan","name":"2","type":"Microsoft.EventHub/MessagingSKUPlan","location":null,"tags":null,"properties":{"sku":2,"selectedEventHubUnit":1,"updatedAt":"2020-03-28T17:34:46.3584433Z","revision":5}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"messageRetentionInDays": 4, "partitionCount": 4, "status":
      "Active", "captureDescription": {"enabled": true, "encoding": "Avro", "intervalInSeconds":
      120, "sizeLimitInBytes": 10485763, "destination": {"name": "EventHubArchive.AzureBlockBlob",
      "properties": {"storageAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.Storage/storageAccounts/storageaccount13130eda",
      "blobContainer": "container", "archiveNameFormat": "{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}"}}}}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/eventhubs/eventhub13130eda?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/eventhubs/eventhub13130eda","name":"eventhub13130eda","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"South
        Central US","properties":{"messageRetentionInDays":4,"partitionCount":4,"status":"Active","createdAt":"2020-03-28T17:35:59.363Z","updatedAt":"2020-03-28T17:35:59.697Z","partitionIds":["0","1","2","3"],"captureDescription":{"enabled":true,"encoding":"Avro","destination":{"name":"EventHubArchive.AzureBlockBlob","properties":{"storageAccountResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.Storage/storageAccounts/storageaccount13130eda","blobContainer":"container","archiveNameFormat":"{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}"}},"intervalInSeconds":120,"sizeLimitInBytes":10485763}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"defaultAction": "Deny", "virtualNetworkRules": [{"subnet":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.Network/virtualNetworks/virtualnetwork13130eda/subnets/subnet13130eda"},
      "ignoreMissingVnetServiceEndpoint": true}], "ipRules": [{"ipMask": "1.1.1.1",
      "action": "Allow"}]}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/networkRuleSets/default?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/networkRuleSets/default","name":"default","type":"Microsoft.EventHub/Namespaces/NetworkRuleSets","location":"South
        Central US","properties":{"defaultAction":"Deny","virtualNetworkRules":[{"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.Network/virtualNetworks/virtualnetwork13130eda/subnets/subnet13130eda"},"ignoreMissingVnetServiceEndpoint":true}],"ipRules":[{"ipMask":"1.1.1.1","action":"Allow"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Listen", "Send"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/AuthorizationRules/authorizationrule13130eda?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/AuthorizationRules/authorizationrule13130eda","name":"authorizationrule13130eda","type":"Microsoft.EventHub/Namespaces/AuthorizationRules","location":"South
        Central US","properties":{"rights":["Listen","Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"userMetadata": "New consumergroup"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/eventhubs/eventhub13130eda/consumergroups/consumergroup13130eda?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/eventhubs/eventhub13130eda/consumergroups/consumergroup13130eda","name":"consumergroup13130eda","type":"Microsoft.EventHub/Namespaces/EventHubs/ConsumerGroups","location":"South
        Central US","properties":{"createdAt":"2020-03-28T17:36:28.0686581Z","updatedAt":"2020-03-28T17:36:28.0686581Z","userMetadata":"New
        consumergroup"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Listen", "Send"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/eventhubs/eventhub13130eda/authorizationRules/authorizationrule13130eda?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/eventhubs/eventhub13130eda/authorizationRules/authorizationrule13130eda","name":"authorizationrule13130eda","type":"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules","location":"South
        Central US","properties":{"rights":["Listen","Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1188'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"keyType": "PrimaryKey"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/eventhubs/eventhub13130eda/authorizationRules/authorizationrule13130eda/regenerateKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://namespace13130eda.servicebus.windows.net/;SharedAccessKeyName=authorizationrule13130eda;SharedAccessKey=vB66bk9N8Kcodd0oCPadKf/TRSR/1wm3NjJh0lQ/KPE=;EntityPath=eventhub13130eda","secondaryConnectionString":"Endpoint=sb://namespace13130eda.servicebus.windows.net/;SharedAccessKeyName=authorizationrule13130eda;SharedAccessKey=ZmhO5KsYpFK7F5JsJHeg1VJQMdr9U7MNPiyGlTUVTKc=;EntityPath=eventhub13130eda","primaryKey":"vB66bk9N8Kcodd0oCPadKf/TRSR/1wm3NjJh0lQ/KPE=","secondaryKey":"ZmhO5KsYpFK7F5JsJHeg1VJQMdr9U7MNPiyGlTUVTKc=","keyName":"authorizationrule13130eda"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/eventhubs/eventhub13130eda/authorizationRules/authorizationrule13130eda/ListKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://namespace13130eda.servicebus.windows.net/;SharedAccessKeyName=authorizationrule13130eda;SharedAccessKey=vB66bk9N8Kcodd0oCPadKf/TRSR/1wm3NjJh0lQ/KPE=;EntityPath=eventhub13130eda","secondaryConnectionString":"Endpoint=sb://namespace13130eda.servicebus.windows.net/;SharedAccessKeyName=authorizationrule13130eda;SharedAccessKey=ZmhO5KsYpFK7F5JsJHeg1VJQMdr9U7MNPiyGlTUVTKc=;EntityPath=eventhub13130eda","primaryKey":"vB66bk9N8Kcodd0oCPadKf/TRSR/1wm3NjJh0lQ/KPE=","secondaryKey":"ZmhO5KsYpFK7F5JsJHeg1VJQMdr9U7MNPiyGlTUVTKc=","keyName":"authorizationrule13130eda"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "PrimaryKey"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/AuthorizationRules/authorizationrule13130eda/regenerateKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://namespace13130eda.servicebus.windows.net/;SharedAccessKeyName=authorizationrule13130eda;SharedAccessKey=CRnoCdTaoOnANyJJndp8SPM/bXm6Z6STiOssSw2wt2Q=","secondaryConnectionString":"Endpoint=sb://namespace13130eda.servicebus.windows.net/;SharedAccessKeyName=authorizationrule13130eda;SharedAccessKey=f9JMzkbMeBDWop1LaztpiVoLejRAZsRfO9Q0hHIO2wg=","primaryKey":"CRnoCdTaoOnANyJJndp8SPM/bXm6Z6STiOssSw2wt2Q=","secondaryKey":"f9JMzkbMeBDWop1LaztpiVoLejRAZsRfO9Q0hHIO2wg=","keyName":"authorizationrule13130eda"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/AuthorizationRules/authorizationrule13130eda/listKeys?api-version=2017-04-01
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://namespace13130eda.servicebus.windows.net/;SharedAccessKeyName=authorizationrule13130eda;SharedAccessKey=CRnoCdTaoOnANyJJndp8SPM/bXm6Z6STiOssSw2wt2Q=","secondaryConnectionString":"Endpoint=sb://namespace13130eda.servicebus.windows.net/;SharedAccessKeyName=authorizationrule13130eda;SharedAccessKey=f9JMzkbMeBDWop1LaztpiVoLejRAZsRfO9Q0hHIO2wg=","primaryKey":"CRnoCdTaoOnANyJJndp8SPM/bXm6Z6STiOssSw2wt2Q=","secondaryKey":"f9JMzkbMeBDWop1LaztpiVoLejRAZsRfO9Q0hHIO2wg=","keyName":"authorizationrule13130eda"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "South Central US", "tags": {"tag3": "value3", "tag4": "value4"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda","name":"namespace13130eda","type":"Microsoft.EventHub/Namespaces","location":"South
        Central US","tags":{"tag3":"value3","tag4":"value4"},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Updating","metricId":"00000000-0000-0000-0000-000000000000:namespace13130eda","createdAt":"2020-03-28T17:34:45.187Z","updatedAt":"2020-03-28T17:36:45.667Z","serviceBusEndpoint":"https://namespace13130eda.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '45'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "sdk-DisasterRecovery-9474"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventHub/CheckNameAvailability?api-version=2017-04-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"None","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_eventhub_test_eventhub13130eda/providers/Microsoft.EventHub/namespaces/namespace13130eda/operationresults/namespace13130eda?api-version=2017-04-01
  response:
    body:
      string: ''
    headers:
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 200
      message: OK
version: 1
