{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fazure-devices-provisioning.net%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://fake-resource.azure-devices-provisioning.net/enrollments?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "enrollments": [
          {
            "registrationId": "ind_enroll_tpm_d3244b38",
            "attestation": {
              "type": "tpm",
              "tpm": {
                "endorsementKey": "AToAAQALAAMAsgAgg3GXZ0SEs/gakMyNRqXXJP1S124GUgtk8qHaGzMUaaoABgCAAEMAEAgAAAAAAAEAibym9HQP9vxCGF5dVc1QQsAGe021aUGJzNol1/gycBx3jFsTpwmWbISRwnFvflWd0w2Mc44FAAZNaJOAAxwZvG8GvyLlHh6fGKdh\u002BmSBL4iLH2bZ4Ry22cB3CJVjXmdGoz9Y/j3/NwLndBxQC\u002BbaNvzvyVQZ4/A2YL7vzIIj2ik4y\u002Bve9ir7U0GbNdnxskqK1KFIITVVtkTIYyyFTIR0BySjPrRIDj7r7Mh5uF9HBppGKQCBoVSVV8dI91lNazmSdpGWyqCkO7iM4VvUMv2HT/ym53aYlUrau\u002BQq87Tu\u002BuQipWYgRdF11KDfcpMHqqzBQQ1NpOJVhrsTrhyJzO7KNw=="
              }
            },
            "allocationPolicy": "static",
            "capabilities": null,
            "reprovisionPolicy": null,
            "customAllocationDefinition": null,
            "provisioningStatus": "enabled",
            "deviceId": "device_d3244b38",
            "optionalDeviceInformation": null,
            "iotHubs": null,
            "iotHubHostName": null,
            "initialTwin": null
          },
          {
            "registrationId": "sym_key_enrollment_d3244b38",
            "attestation": {
              "type": "symmetricKey",
              "symmetricKey": {
                "primaryKey": "primaryKey",
                "secondaryKey": "secondaryKey"
              }
            },
            "allocationPolicy": "geoLatency",
            "capabilities": null,
            "reprovisionPolicy": {
              "migrateDeviceData": true,
              "updateHubAssignment": true
            },
            "customAllocationDefinition": null,
            "provisioningStatus": null,
            "deviceId": "sym_key_device_d3244b38",
            "optionalDeviceInformation": null,
            "iotHubs": null,
            "iotHubHostName": null,
            "initialTwin": null
          }
        ],
        "mode": "create"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "errors": [],
        "isSuccessful": true
      }
    },
[...]
