{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/assets?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/form-data; boundary=8f006048ec7a46d4910f10f7eda23cae"
      },
      "RequestBody": [
        "--8f006048ec7a46d4910f10f7eda23cae\r\n",
        "Content-Type: text/plain; charset=utf-8\r\n",
        "Content-Disposition: form-data; name=\"data\"\r\n",
        "\r\n",
        "{\"key\": \"test-asset-to-be-deleted\", \"href\": \"https://example.com/test-asset-to-delete.txt\", \"type\": \"text/plain\", \"roles\": [\"metadata\"], \"title\": \"Test Asset To Be Deleted\"}",
        "\r\n",
        "--8f006048ec7a46d4910f10f7eda23cae\r\n",
        "Content-Type: application/octet-stream\r\n",
        "Content-Disposition: form-data; name=\"file\"; filename=\"test-asset-to-delete.txt\"\r\n",
        "\r\n",
        "b64:VGVzdCBhc3NldCBjb250ZW50IGZvciBkZWxldGlvbg==",
        "\r\n",
        "--8f006048ec7a46d4910f10f7eda23cae--\r\n"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "type": "Collection",
        "id": "naip-atl",
        "stac_version": "1.0.0",
        "description": "A Subset of imagery for sample MPC Pro GeoCatalog deployments. - Updated for testing",
        "links": [
          {
            "rel": "items",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/items"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl"
          }
        ],
        "stac_extensions": [
          "https://stac-extensions.github.io/item-assets/v1.0.0/schema.json",
          "https://stac-extensions.github.io/table/v1.2.0/schema.json"
        ],
        "item_assets": {
          "image": {
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ],
            "title": "RGBIR COG tile",
            "eo:bands": [
              {
                "name": "Red",
                "common_name": "red"
              },
              {
                "name": "Green",
                "common_name": "green"
              },
              {
                "name": "Blue",
                "common_name": "blue"
              },
              {
                "name": "NIR",
                "common_name": "nir",
                "description": "near-infrared"
              }
            ]
          },
          "metadata": {
            "type": "text/plain",
            "roles": [
              "metadata"
            ],
            "title": "FGDC Metdata"
          },
          "thumbnail": {
            "type": "image/jpeg",
            "roles": [
              "thumbnail"
            ],
            "title": "Thumbnail"
          }
        },
        "msft:_created": "2025-11-03T14:16:10.3539672Z",
        "msft:_updated": "2025-11-03T17:42:41.700158Z",
        "title": "MPC Pro Sample Datasets",
        "extent": {
          "spatial": {
            "bbox": [
              [
                -85.605165,
                30.357851,
                -80.839729,
                35.000659
              ]
            ]
          },
          "temporal": {
            "interval": [
              [
                "2020-01-01T00:00:00Z",
                "2099-12-31T23:59:59Z"
              ]
            ]
          }
        },
        "license": "proprietary",
        "providers": [
          {
            "name": "USDA Farm Service Agency",
            "roles": [
              "producer",
              "licensor"
            ],
            "url": "https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/"
          },
          {
            "name": "Esri",
            "roles": [
              "processor"
            ],
            "url": "https://www.esri.com/"
          },
          {
            "name": "Microsoft",
            "roles": [
              "host",
              "processor"
            ],
            "url": "https://planetarycomputer.microsoft.com"
          }
        ],
        "summaries": {
          "gsd": [
            0.3,
            0.6,
            1
          ],
          "eo:bands": [
            {
              "name": "Red",
              "common_name": "red",
              "description": "visible red"
            },
            {
              "name": "Green",
              "common_name": "green",
              "description": "visible green"
            },
            {
              "name": "Blue",
              "common_name": "blue",
              "description": "visible blue"
            },
            {
              "name": "NIR",
              "common_name": "nir",
              "description": "near-infrared"
            }
          ]
        },
        "assets": {
          "thumbnail": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-bde3e846/collection-assets/thumbnail/thumbnail.png",
            "type": "image/png",
            "title": "Thumbnail",
            "roles": [
              "thumbnail"
            ]
          },
          "test-asset": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-bde3e846/collection-assets/test-asset/test-asset.txt",
            "type": "text/plain",
            "title": "Test Asset - Updated",
            "roles": [
              "metadata"
            ]
          },
          "test-asset-to-be-deleted": {
            "href": "https://SANITIZED.blob.core.windows.net/naip-atl-bde3e846/collection-assets/test-asset-to-be-deleted/test-asset-to-delete.txt",
            "type": "text/plain",
            "title": "Test Asset To Be Deleted",
            "roles": [
              "metadata"
            ]
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/assets/test-asset-to-be-deleted?api-version=2025-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "type": "Collection",
        "id": "naip-atl",
        "stac_version"[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "naip-atl",
        "type": "Collection",
        "links": [
          {
            "rel": "items"[...]
