{
  "Entries": [
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.spatio.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Required metadata header not specified"
      }
    },
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.spatio.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Metadata": "true"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Identity not found"
      }
    },
    {
      "RequestUri": "https://SANITIZED_GEOCATALOG.SANITIZED_LABEL.SANITIZED_LOCATION.geocatalog.spatio.azure.com/inma/ingestion-sources?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "Sanitized",
        "connectionInfo": {
          "containerUrl": "Sanitized",
          "sasToken": "sv=2021-01-01&st=Sanitized&se=Sanitized&sr=c&sp=rl&sig=Sanitized"
        },
        "kind": "SasToken"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "mise-correlation-id": "eb66515e-22d9-4696-a07f-61850cf4ed4c"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "kind": "SasToken",
        "created": "2025-10-18T01:50:55.0691834Z",
        "connectionInfo": {
          "containerUrl": "Sanitized",
          "expiration": "2099-12-31T23:59:59.0000000Z"
        }
      }
    }
  ],
  "Variables": {}
}
