{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip-atl/ingestions?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "creationTime": "2025-10-26T17:39:11.101219Z",
            "importType": "StaticCatalog",
            "displayName": "Ingestion",
            "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
            "skipExistingItems": true,
            "keepOriginalAssets": true,
            "status": "Ready"
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "creationTime": "2025-10-26T17:39:13.2298194Z",
            "importType": "StaticCatalog",
            "displayName": "Updated Ingestion Name",
            "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
            "skipExistingItems": true,
            "keepOriginalAssets": true,
            "status":[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip-atl/ingestions/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/531bbd09-330c-4b61-919f-cb9fcc6fc8be?api-version=2025-04-30-preview",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "operation-location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2025-10-26T17:54:24.6797249Z"
          }
        ],
        "type": "DeleteIngestion",
        "creationTime": "2025-10-26T17:54:24.6797236Z",
        "collectionId": "naip-atl",
        "additionalInformation": {
          "IngestionId": "2890f31c-8f43-4185-8146-0295138fd3af"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2025-10-26T17:54:24.6797249Z"
          }
        ],
        "type": "DeleteIngestion",
        "creationTime": "2025-10-26T17:54:24.6797236Z",
        "collectionId": "naip-atl",
        "additionalInformation": {
          "IngestionId": "2890f31c-8f43-4185-8146-0295138fd3af"
        }
      }
    },
[...]
