{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/assets/test-asset?api-version=2025-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "type": "Collection",
        "id": "naip-atl",
        "stac_version": "1.0.0",
        "description": "A Subset of NAIP imagery for sample MPC Pro GeoCatalog deployments. Includes multiple city and national park focus areas, useful for quick product evaluation. - Updated for testing",
        "links": [
          {
            "rel": "items",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/items"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl"
          }
        ],
        "stac_extensions": [
          "https://stac-extensions.github.io/item-assets/v1.0.0/schema.json",
          "https://stac-extensions.github.io/table/v1.2.0/schema.json"
        ],
        "item_assets": {
          "image": {
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ],
            "title": "RGBIR COG tile",
            "eo:bands": [
              {
                "name": "Red",
                "common_name": "red"
              },
              {
                "name": "Green",
                "common_name": "green"
              },
              {
                "name": "Blue",
                "common_name": "blue"
              },
              {
                "name": "NIR",
                "common_name": "nir",
                "description": "near-infrared"
              }
            ]
          },
          "metadata": {
            "type": "text/plain",
            "roles": [
              "metadata"
            ],
            "title": "FGDC Metdata"
          },
          "thumbnail": {
            "type": "image/jpeg",
            "roles": [
              "thumbnail"
            ],
            "title": "Thumbnail"
          }
        },
        "msft:_created": "2025-10-22T11:14:31.811918Z",
        "msft:_updated": "2025-10-28T18:00:18.342933Z",
        "title": "NAIP Atlanta (MPC Pro Sample Datasets)",
        "extent": {
          "spatial": {
            "bbox": [
              [
                -85.605165,
                30.357851,
                -80.839729,
                35.000659
              ]
            ]
          },
          "temporal": {
            "interval": [
              [
                "2010-01-01T00:00:00Z",
                "2023-12-31T00:00:00Z"
              ]
            ]
          }
        },
        "license": "proprietary",
        "providers": [
          {
            "name": "USDA Farm Service Agency",
            "roles": [
              "producer",
              "licensor"
            ],
            "url": "https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/"
          },
          {
            "name": "Esri",
            "roles": [
              "processor"
            ],
            "url": "https://www.esri.com/"
          },
          {
            "name": "Microsoft",
            "roles": [
              "host",
              "processor"
            ],
            "url": "https://planetarycomputer.microsoft.com"
          }
        ],
        "summaries": {
          "gsd": [
            0.3,
            0.6,
            1
          ],
          "eo:bands": [
            {
              "name": "Red",
              "common_name": "red",
              "description": "visible red"
            },
            {
              "name": "Green",
              "common_name": "green",
              "description": "visible green"
            },
            {
              "name": "Blue",
              "common_name": "blue",
              "description": "visible blue"
            },
            {
              "name": "NIR",
              "common_name": "nir",
              "description": "near-infrared"
            }
          ]
        },
        "assets": {
          "thumbnail": {
            "href": "https://vojrtgdatasa.blob.core.windows.net/naip-atl-bde3e846/collection-assets/thumbnail/thumbnail.png",
            "type": "image/png",
            "title": "NAIP thumbnail",
            "roles": [
              "thumbnail"
            ]
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/assets?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/form-data; boundary=7ced48b0c22640242e3bf5feceb34869"
      },
      "RequestBody": [
        "--7ced48b0c22640242e3bf5feceb34869\r\n",
        "Content-Disposition: form-data; name=\"data\"\r\n",
        "\r\n",
        "b64:eyJrZXki[...]
