{
  "Entries": [
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.spatio.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Required metadata header not specified"
      }
    },
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.spatio.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Metadata": "true"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Identity not found"
      }
    },
    {
      "RequestUri": "https://SANITIZED_GEOCATALOG.SANITIZED_LABEL.SANITIZED_LOCATION.geocatalog.spatio.azure.com/inma/collections/atl/ingestions?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "importType": "StaticCatalog",
        "displayName": "NAIP Ingestion for Run",
        "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
        "keepOriginalAssets": true,
        "skipExistingItems": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "mise-correlation-id": "02c8c8d1-6ff0-4c6d-bc84-c063f2102f24"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "creationTime": "2025-10-18T01:55:08.9165899Z",
        "importType": "StaticCatalog",
        "displayName": "NAIP Ingestion for Run",
        "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    },
    {
      "RequestUri": "https://SANITIZED_GEOCATALOG.SANITIZED_LABEL.SANITIZED_LOCATION.geocatalog.spatio.azure.com/inma/collections/atl/ingestions/25348295-9eca-42db-9264-96d1e5c06f1f/runs?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "mise-correlation-id": "f67e8ae5-424f-481c-9de9-cdfba66f5cb0"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "creationTime": "2025-10-18T01:55:08.987168Z",
        "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "operation": {
          "id": "Sanitized",
          "status": "Pending",
          "statusHistory": [
            {
              "status": "Pending",
              "timestamp": "2025-10-18T01:55:08.9791396Z"
            }
          ],
          "creationTime": "2025-10-18T01:55:08.9791369Z",
          "totalItems": 0,
          "totalPendingItems": 0,
          "totalSuccessfulItems": 0,
          "totalFailedItems": 0
        }
      }
    }
  ],
  "Variables": {}
}
