{
  "Entries": [
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.spatio.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Required metadata header not specified"
      }
    },
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.spatio.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Metadata": "true"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Identity not found"
      }
    },
    {
      "RequestUri": "https://SANITIZED_GEOCATALOG.SANITIZED_LABEL.SANITIZED_LOCATION.geocatalog.spatio.azure.com/inma/ingestion-sources/managed-identities?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0389a221-dbe8-4396-a2fa-c217b824fe15"
      },
      "ResponseBody": {
        "value": [
          {
            "objectId": "ebad594e-84af-49da-89db-7bffc9c39f3a",
            "resourceId": "/subscriptions/fcdfe1b7-8458-44e1-be61-1422e03cb202/resourcegroups/devasingh-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/devasingh-test-identity"
          }
        ]
      }
    },
    {
      "RequestUri": "https://SANITIZED_GEOCATALOG.SANITIZED_LABEL.SANITIZED_LOCATION.geocatalog.spatio.azure.com/inma/ingestion-sources?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "Sanitized",
        "connectionInfo": {
          "containerUrl": "Sanitized",
          "objectId": "ebad594e-84af-49da-89db-7bffc9c39f3a"
        },
        "kind": "BlobManagedIdentity"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "mise-correlation-id": "561789e7-c733-485f-beea-8ba848cdb228"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "kind": "BlobManagedIdentity",
        "created": "2025-10-18T02:49:06.9095591Z",
        "connectionInfo": {
          "containerUrl": "Sanitized",
          "objectId": "ebad594e-84af-49da-89db-7bffc9c39f3a"
        }
      }
    },
    {
      "RequestUri": "https://SANITIZED_GEOCATALOG.SANITIZED_LABEL.SANITIZED_LOCATION.geocatalog.spatio.azure.com/inma/ingestion-sources/3de532ce-cacb-405c-a53d-7d111a955828?api-version=2025-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "mise-correlation-id": "e601b165-0df4-458f-aaaf-07087bc06ae1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://SANITIZED_GEOCATALOG.SANITIZED_LABEL.SANITIZED_LOCATION.geocatalog.spatio.azure.com/inma/ingestion-sources?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d773065f-0b53-4f1a-942b-e2171330794e"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "kind": "BlobManagedIdentity",
            "created": "2025-10-18T02:48:37.9055922Z"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
