{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip-atl/ingestions?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Lists Test",
        "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
        "keepOriginalAssets": true,
        "skipExistingItems": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip-atl/ingestions/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "creationTime": "2025-10-27T17:53:49.512468Z",
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Lists Test",
        "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip-atl/ingestions?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "creationTime": "2025-10-27T17:53:15.0279447Z",
            "importType": "StaticCatalog",
            "displayName": "Ingestion",
            "sourceCatalogUrl": "https://raw.githubusercontent.com/aloverro/mpcpro-sample-datasets/main/datasets/planetary_computer/naip/catalog.json",
            "skipExistingItems": true,
            "keepOriginalAssets": true,
            "status": "Ready"
          },
          [...]
