{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/items?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "stac_version": "1.0.0",
        "type": "Feature",
        "id": "ga_m_3308421_se_16_060_20211114_replace_test",
        "collection": "naip-atl",
        "bbox": [
          -84.44157,
          33.621853,
          -84.370894,
          33.690654
        ],
        "geometry": {
          "type": "Polygon",
          "coordinates": [
            [
              [
                -84.372943,
                33.621853
              ],
              [
                -84.370894,
                33.689211
              ],
              [
                -84.439575,
                33.690654
              ],
              [
                -84.44157,
                33.623293
              ],
              [
                -84.372943,
                33.621853
              ]
            ]
          ]
        },
        "properties": {
          "gsd": 0.6,
          "datetime": "2021-11-14T16:00:00Z",
          "naip:year": "2021",
          "proj:bbox": [
            737334.0,
            3723324.0,
            743706.0,
            3730800.0
          ],
          "proj:epsg": 26916,
          "naip:state": "ga",
          "proj:shape": [
            12460,
            10620
          ],
          "proj:transform": [
            0.6,
            0.0,
            737334.0,
            0.0,
            -0.6,
            3730800.0,
            0.0,
            0.0,
            1.0
          ],
          "platform": "Imagery Original"
        },
        "links": [
          {
            "rel": "collection",
            "type": "application/json",
            "href": "https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip-atl"
          }
        ],
        "assets": {
          "image": {
            "href": "https://SANITIZED.blob.core.windows.net/naip/v002/ga/2021/ga_060cm_2021/33084/m_3308421_se_16_060_20211114.tif",
            "type": "image/tiff; application=geotiff; profile=cloud-optimized",
            "roles": [
              "data"
            ],
            "title": "RGBIR COG tile"
          }
        },
        "stac_extensions": [
          "https://stac-extensions.github.io/projection/v1.0.0/schema.json"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/c8c87c0e-b894-4f8b-b083-74948844cd65?api-version=2025-04-30-preview",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "operation-location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2025-11-03T16:45:02.516508Z"
          }
        ],
        "type": "AddItem",
        "creationTime": "2025-11-03T16:45:02.5165036Z",
        "collectionId": "naip-atl"
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2025-11-03T16:45:02.516508Z"
          }
        ],
        "type": "AddItem",
        "creationTime": "2025-11-03T16:45:02.5165036Z",
        "collectionId": "naip-atl"
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Failed",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2025-11-03T16:45:02.516503Z"
          },
          {
            "status": "Running",
            "timestamp": "2025-11-03T16:45:02.933735Z"
          },
          {
            "status": "Failed",
            "timestamp": "2025-11-03T16:45:03.444443Z",
            "errorCode": "ItemAlreadyExistsInCollection",
            "errorMessage": "Item 'ga_m_3308421_se_16_060_20211114_replace_test' already exists in collection 'naip-atl'"
          }
        ],
        "type": "AddItem",
        "creationTime": "2025-11-03T16:45:02.516503Z",
        "startTime": "2025-11-03T16:45:02.516503Z",
        "finishTime": "2025-11-03T16:45:03.444443Z",
        "collectionId": "naip-atl",
        "additionalInformation": {
          "TotalFailedItems": "1",
          "TotalItems": "1",
          "TotalPendingItems": "0",
          "TotalSuccessfulItems": "0"
        },
        "error": {
          "error": {
            "code": "ItemAlreadyExistsInCollection",
            "message": "Item 'ga_m_3308421_se_16_060_20211114_replace_test' already exists in collection 'naip-atl'"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/items/ga_m_3308421_se_16_060_20211114_replace_test?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/geo+json"
      },
      "ResponseBody": {
        "id": "ga_m_3308421_se_16_060_20211114_replace_tes[...]
[...]
