{
  "Entries": [
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.spatio.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Required metadata header not specified"
      }
    },
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.spatio.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Metadata": "true"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Identity not found"
      }
    },
    {
      "RequestUri": "https://SANITIZED_GEOCATALOG.SANITIZED_LABEL.SANITIZED_LOCATION.geocatalog.spatio.azure.com/inma/operations?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "618a5c90-eb32-47f9-ad3f-0f6566f5930b"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "status": "Succeeded",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-10-15T22:21:17.222285Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-10-15T22:21:18.020944Z"
              },
              {
                "status": "Finished",
                "timestamp": "2025-10-15T22:37:28.097832Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2025-10-15T22:21:17.222285Z",
            "startTime": "2025-10-15T22:21:17.222285Z",
            "finishTime": "2025-10-15T22:37:28.097832Z",
            "collectionId": "atl",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "5",
              "TotalPendingItems": "0",
              "TotalSuccessfulItems": "5"
            }
          },
          {
            "id": "Sanitized",
            "status": "Succeeded",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-10-15T22:05:31.262526Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-10-15T22:05:31.868939Z"
              },
              {
                "status": "Finished",
                "timestamp": "2025-10-15T22:06:[...]
