{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl/assets?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/form-data; boundary=f23e8137a78d414bb9c6f540eb47d00b"
      },
      "RequestBody": [
        "--f23e8137a78d414bb9c6f540eb47d00b\r\n",
        "Content-Type: text/plain; charset=utf-8\r\n",
        "Content-Disposition: form-data; name=\"data\"\r\n",
        "\r\n",
        "{\"key\": \"test-asset\", \"href\": \"https://example.com/test-asset.txt\", \"type\": \"text/plain\", \"roles\": [\"metadata\"], \"title\": \"Test Asset\"}",
        "\r\n",
        "--f23e8137a78d414bb9c6f540eb47d00b\r\n",
        "Content-Type: application/octet-stream\r\n",
        "Content-Disposition: form-data; name=\"file\"; filename=\"test-asset.txt\"\r\n",
        "\r\n",
        "b64:VGVzdCBhc3NldCBjb250ZW50",
        "\r\n",
        "--f23e8137a78d414bb9c6f540eb47d00b--\r\n"
      ],
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ResourceAlreadyExists"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceAlreadyExists",
          "message": "Asset key 'test-asset' already exists in collection 'naip-atl'. Please choose a different asset key or remove the existing asset and try again."
        }
      }
    }
  ],
  "Variables": {}
}
