{
  "Entries": [
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.spatio.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Required metadata header not specified"
      }
    },
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.spatio.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Metadata": "true"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Identity not found"
      }
    },
    {
      "RequestUri": "https://SANITIZED_GEOCATALOG.SANITIZED_LABEL.SANITIZED_LOCATION.geocatalog.spatio.azure.com/inma/operations?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "589b5629-bd76-4b13-aa95-27c0c8a7ada3",
            "status": "Pending",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-10-22T13:21:24.5750993Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2025-10-22T13:21:24.5750978Z",
            "collectionId": "naip-sample-datasets"
          },
          {
            "id": "bac3f107-e750-48c7-a937-58099614fdad",
            "status": "Pending",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-10-22T13:21:22.3730597Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2025-10-22T13:21:22.3730586Z",
            "collectionId": "naip-sample-datasets"
          },
          {
            "id": "d8134dac-ee1e-46ad-ac82-a8faf51fa98c",
            "status": "Succeeded",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-10-22T13:21:17.8978629Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-10-22T13:21:26.1811334Z"
              },
              {
                "status": "Finished",
                "timestamp": "2025-10-22T13:21:26.2043471Z"
              }
            ],
            "type": "DeleteIngestion",
            "creationTime": "2025-10-22T13:21:17.8978623Z",
            "collectionId": "naip-sample-datasets",
            "additionalInformation": {
              "IngestionId": "486f8ec0-ef27-4535-a674-6dac566725eb"
            }
          },
          {
            "id": "c9dc76ff-0fb0-454b-8d57-d9461079aa33",
            "status": "Succeeded",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-10-22T13:21:17.8337087Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-10-22T13:21:26.1433404Z"
              },
              {
                "stat[...]
    {
      "RequestUri": "https://SANITIZED_GEOCATALOG.SANITIZED_LABEL.SANITIZED_LOCATION.geocatalog.spatio.azure.com/inma/operations?$top=100&$skip=100&api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00[...]
    {
      "RequestUri": "https://SANITIZED_GEOCATALOG.SANITIZED_LABEL.SANITIZED_LOCATION.geocatalog.spatio.azure.com/inma/operations?$top=100&$skip=200&api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "b9c5a97a-631f-4a37-b9dd-7d0e78cc547b",
            "status": "Canceled",
            "statusHistory": [
              {
                "status": "Canceled",
                "timestamp": "2025-10-18T02:34:29.029155Z",
                "errorCode": "CanceledOperation",
                "errorMessage": "Operation 'b9c5a97a-631f-4a37-b9dd-7d0e78cc547b' for collection 'naip-sample-datasets' has been cancelled"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2025-10-18T02:34:04.580507Z",
            "finishTime": "2025-10-18T02:34:29.029155Z",
            "collectionId": "naip-sample-datasets",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "0",
              "TotalPendingItems": "0",
              "TotalSuccessfulItems": "0"
            }
          },
          {
            "id": "a8d56082-a5fb-47e3-87dd-9166fd3ac2dd",
            "status": "Canceled",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-10-18T02:33:57.339453Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-10-18T02:33:57.618708Z"
              },
              {
                "status": "Canceled",
                "timestamp": "2025-10-18T02:34:14.391547Z",
                "errorCode": "CanceledOperation",
                "errorMessage": "Operation 'a8d56082-a5fb-47e3-87dd-9166fd3ac2dd' for collection 'naip-sample-datasets' has been cancelled"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2025-10-18T02:33:57.339453Z",
            "startTime": "2025-10-18T02:33:57.339453Z",
            "finishTime": "2025-10-18T02:34:14.391547Z",
            "collectionId": "naip-sample-datasets",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "1050",
              "TotalPendingItems": "1050",
              "TotalSuccessfulItems": "0"
            }
          },
          {
            "id": "8731264e-8de7-494c-a40e-d8a4a306ea12",
            "status": "Canceled",
            "statusHistory": [...]
[...]
