{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Running",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-11-03T16:07:48.638381Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-11-03T16:07:49.094208Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2025-11-03T16:07:48.638381Z",
            "startTime": "2025-11-03T16:07:48.638381Z",
            "collectionId": "naip-atl",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "1050",
              "TotalPendingItems": "1050",
              "TotalSuccessfulItems": "0"
            }
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Running",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-11-03T16:07:44.540696Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-11-03T16:07:44.943454Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "cre[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?$top=100&$skip=100&api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?$top=100&$skip=200&api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Succeeded",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-10-31T11:47:13.311715Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-10-31T11:47:13.498225Z"
              },
              {
                "status": "Finished",
                "timestamp": "2025-10-31T11:47:23.303424Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2025-10-31T11:47:13.311715Z",
            "startTime": "2025-10-31T11:47:13.311715Z",
            "finishTime": "2025-10-31T11:47:23.303424Z",
            "collectionId": "naip-atl",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "46",
              "TotalPendingItems": "0",
              "TotalSuccessfulItems": "46"
            }
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Canceled",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-10-31T11:46:07.777075Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-10-31T11:46:07.908252Z"
              },
              {
                "status": "Canceled",
                "timestamp": "2025-10-31T11:46:08.950785Z",
                "errorCode": "CanceledOperation",
                "errorMessage": "Operation 'bb30f2ae-ae5e-47a5-9386-ebce120d585e' for collection 'naip-atl' has been cancelled"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2025-10-31T11:46:07.777075Z",
            "startTime": "2025-10-31T11:46:07.777075Z",
            "finishTime": "2025-10-31T11:46:08.950785Z",
            "collectionId": "naip-atl",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "46",
  [...]
[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?$top=100&$skip=600&api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Succeeded",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-10-26T17:11:43.4563212Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-10-26T17:11:55.4337908Z"
              },
              {
                "status": "Finished",
                "timestamp": "2025-10-26T17:11:55.4612346Z"
              }
            ],
            "type": "DeleteIngestion",
            "creationTime": "2025-10-26T17:11:43.4563204Z",
            "collectionId": "naip-atl",
            "additionalInformation": {
              "IngestionId": "1cc9f998-c6e6-48f4-ad9d-3159e2198b3f"
            }
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Succeeded",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-10-26T17:11:43.390135Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-10-26T17:11:55.3861748Z"
              },
              {
                "statu[...]
[...]
