interactions:
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_digitaltwins_test_digitaltwins98f9123e/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myResourcexxx?api-version=2020-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_digitaltwins_test_digitaltwins98f9123e/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myResourcexxx","name":"myResourcexxx","type":"Microsoft.DigitalTwins/digitalTwinsInstances","properties":{"provisioningState":"Provisioning","createdTime":"2020-09-22T06:43:54.571639Z","lastUpdatedTime":"2020-09-22T06:43:54.571639Z","hostName":null},"location":"westus2","sku":{"name":"S1"},"tags":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_digitaltwins_test_digitaltwins98f9123e/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myResourcexxx/operationResults/Create?api-version=2020-03-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_digitaltwins_test_digitaltwins98f9123e/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myResourcexxx/operationResults/Create?api-version=2020-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_digitaltwins_test_digitaltwins98f9123e/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myResourcexxx","name":"myResourcexxx","type":"Microsoft.DigitalTwins/digitalTwinsInstances","properties":{"provisioningState":"Succeeded","createdTime":"2020-09-22T06:43:54.571639Z","lastUpdatedTime":"2020-09-22T06:44:03.1338911Z","hostName":"myResourcexxx.api.wus2.digitaltwins.azure.net"},"location":"westus2","sku":{"name":"S1"},"tags":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"purpose": "dev"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_digitaltwins_test_digitaltwins98f9123e/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myResourcexxx?api-version=2020-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_digitaltwins_test_digitaltwins98f9123e/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myResourcexxx","name":"myResourcexxx","type":"Microsoft.DigitalTwins/digitalTwinsInstances","properties":{"provisioningState":"Succeeded","createdTime":"2020-09-22T06:43:54.571639Z","lastUpdatedTime":"2020-09-22T06:44:08.0489515Z","hostName":"myResourcexxx.api.wus2.digitaltwins.azure.net"},"location":"westus2","sku":{"name":"S1"},"tags":{"purpose":"dev"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "myadtinstance", "type": "Microsoft.DigitalTwins/digitalTwinsInstances"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DigitalTwins/locations/westus2/checkNameAvailability?api-version=2020-03-01-preview
  response:
    body:
      string: '{"nameAvailable":true,"reason":"NameIsAvailable","message":"''myadtinstance''
        is available."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_digitaltwins_test_digitaltwins98f9123e/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myResourcexxx/operationResults/Delete?api-version=2020-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_digitaltwins_test_digitaltwins98f9123e/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myResourcexxx","name":"myResourcexxx","type":"Microsoft.DigitalTwins/digitalTwinsInstances","properties":{"provisioningState":"Deleting","createdTime":"2020-09-22T06:43:54.571639Z","lastUpdatedTime":"2020-09-22T06:44:10.5555984Z","hostName":"myResourcexxx.api.wus2.digitaltwins.azure.net"},"location":"westus2","sku":{"name":"S1"},"tags":{"purpose":"dev"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_digitaltwins_test_digitaltwins98f9123e/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myResourcexxx/operationResults/Delete?api-version=2020-03-01-preview
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_digitaltwins_test_digitaltwins98f9123e/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myResourcexxx/operationResults/Delete?api-version=2020-03-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_digitaltwins_test_digitaltwins98f9123e/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myResourcexxx","name":"myResourcexxx","type":"Microsoft.DigitalTwins/digitalTwinsInstances","properties":{"provisioningState":"Deleted","createdTime":"0001-01-01T00:00:00","lastUpdatedTime":"0001-01-01T00:00:00","hostName":null},"location":null,"tags":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
