{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.20.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "refresh_in": 43199,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "tags": {
          "DeleteAfter": "2022-12-17T00:32:48",
          "BuildId": "local",
          "BuildJob": "local",
          "BuildNumber": "local",
          "BuildReason": "local"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname",
        "name": "rgname",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "DeleteAfter": "2022-12-17T00:32:48",
          "BuildId": "local",
          "BuildJob": "local",
          "BuildNumber": "local",
          "BuildReason": "local"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.DigitalTwins/digitalTwinsInstances/kdvegpoadf?api-version=2022-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.ManagedIdentity/userAssignedIdentities/firzfltyfn": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DigitalTwins/locations/westus2/operationsStatuses/fa25bb2a-3157-4272-bdc2-02c2bd7e8bf3?api-version=2022-10-31",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DigitalTwins/locations/westus2/operationResults/eyJvcGVyYXRpb25LaW5kIjoiQ3JlYXRlIiwicmVzb3VyY2VLaW5kIjoiRGlnaXRhbFR3aW5zSW5zdGFuY2UiLCJyZXNvdXJjZUdyb3VwTmFtZSI6InJncHktYm1hbXA0MzUzcWtnanV1MmJscXNveGxiNGpoamRoNWF2Z2dzdHZuaGdtYXlqZmU0bWlzNnlqZGIza2s1cGd0ZnpscXA1NHVkMmE3IiwicmVzb3VyY2VOYW1lIjoia2R2ZWdwb2FkZiJ9?api-version=2022-10-31",
        "Retry-After": "10",
        "traceresponse": "00-3a111f87558a5ea3467ffb4c90bf38b8-60eb7f902347049b-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.DigitalTwins/digitalTwinsInstances/kdvegpoadf",
        "name": "kdvegpoadf",
        "type": "Microsoft.DigitalTwins/digitalTwinsInstances",
        "properties": {
          "provisioningState": "Provisioning",
          "createdTime": "2022-12-16T16:33:00.1128343Z",
          "lastUpdatedTime": "2022-12-16T16:33:00.1128343Z",
          "hostName": null,
          "publicNetworkAccess": "Enabled"
        },
        "location": "westus2",
        "identity": {
          "type": "UserAssigned",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "userAssignedIdentities": {
            "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.ManagedIdentity/userAssignedIdentities/firzfltyfn": {
              "clientId": null,
              "principalId": null
            }
          }
        },
        "tags": null,
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-12-16T16:32:59.430915Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-12-16T16:32:59.430915Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DigitalTwins/locations/westus2/operationsStatuses/fa25bb2a-3157-4272-bdc2-02c2bd7e8bf3?api-version=2022-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-321d258b69059a05d11ce494c30f208c-f15f1a725409417a-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus2/operationsStatuses/fa25bb2a-3157-4272-bdc2-02c2bd7e8bf3",
        "name": "fa25bb2a-3157-4272-bdc2-02c2bd7e8bf3",
        "status": "Running",
        "startTime": "2022-12-16T16:33:00.1294154Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DigitalTwins/locations/westus2/operationsStatuses/fa25bb2a-3157-4272-bdc2-02c2bd7e8bf3?api-version=2022-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-222092841013504865aa612f9520486f-6d73b9f4ed48c57a-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/locations/westus2/operationsStatuses/fa25bb2a-3157-4272-bdc2-02c2bd7e8bf3",
        "name": "fa25bb2a-3157-4272-bdc2-02c2bd7e8bf3",
        "status": "Succeeded",
        "startTime": "2022-12-16T16:33:00.1294154Z",
        "endTime": "2022-12-16T16:33:46.7418527Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.DigitalTwins/digitalTwinsInstances/kdvegpoadf?api-version=2022-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-725ce0f817016cfc27026b00312f948e-55830a655e8acb9b-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.DigitalTwins/digitalTwinsInstances/kdvegpoadf",
        "name": "kdvegpoadf",
        "type": "Microsoft.DigitalTwins/digitalTwinsInstances",
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2022-12-16T16:33:00.1128343Z",
          "lastUpdatedTime": "2022-12-16T16:33:46.3836109Z",
          "hostName": "kdvegpoadf.api.wus2.digitaltwins.azure.net",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "westus2",
        "identity": {
          "type": "UserAssigned",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "userAssignedIdentities": {
            "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.ManagedIdentity/userAssignedIdentities/firzfltyfn": {
              "clientId": "43cd94cf-e932-4b96-b206-6204fb39ccb1",
              "principalId": "4f7d5a18-fa42-46e9-8ea8-e39db19f61ce"
            }
          }
        },
        "tags": null,
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-12-16T16:32:59.430915Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-12-16T16:32:59.430915Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.DigitalTwins/digitalTwinsInstances/kdvegpoadf/timeSeriesDatabaseConnections/brlpxbumkq?api-version=2022-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "connectionType": "AzureDataExplorer",
          "identity": {
            "type": "UserAssigned",
            "userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.ManagedIdentity/userAssignedIdentities/firzfltyfn"
          },
          "adxResourceId": "subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.Kusto/clusters/testclusterZikfikxz",
          "adxEndpointUri": "https://testclusterZikfikxz.eastus.kusto.windows.net",
          "adxDatabaseName": "myDatabase",
          "eventHubEndpointUri": "sb://mysb.servicebus.windows.net/",
          "eventHubEntityPath": "abcabc",
          "eventHubNamespaceResourceId": "subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.EventHub/namespaces/myEH"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DigitalTwins/locations/westus2/operationsStatuses/4007ca2f-1a37-48ff-a002-7477b29f9ae2?api-version=2022-10-31",
        "Content-Type": "application/json; chars[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1BZOjJEQk1BTVA0MzUzUUtHSlVVMkJMUVNPWExCNEpISkRINUFWR0dTVFZOSHw4QTlGQUY0QzA1NDcyOEFDLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14992"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
