interactions:
- request:
    body: '{"properties": {"peerAsn": 65001, "peerContactDetail": [{"role": "Noc",
      "email": "noc@contoso.com", "phone": "+1 (234) 567-8999"}, {"role": "Policy",
      "email": "abc@contoso.com", "phone": "+1 (234) 567-8900"}, {"role": "Technical",
      "email": "xyz@contoso.com", "phone": "+1 (234) 567-8900"}], "peerName": "Contoso"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Peering/peerAsns/myPeerAsn?api-version=2020-01-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65001,\r\n    \"peerContactDetail\"\
        : [\r\n      {\r\n        \"role\": \"Noc\",\r\n        \"email\": \"noc@contoso.com\"\
        ,\r\n        \"phone\": \"+1 (234) 567-8999\"\r\n      },\r\n      {\r\n \
        \       \"role\": \"Policy\",\r\n        \"email\": \"abc@contoso.com\",\r\
        \n        \"phone\": \"+1 (234) 567-8900\"\r\n      },\r\n      {\r\n    \
        \    \"role\": \"Technical\",\r\n        \"email\": \"xyz@contoso.com\",\r\
        \n        \"phone\": \"+1 (234) 567-8900\"\r\n      }\r\n    ],\r\n    \"\
        peerName\": \"Contoso\",\r\n    \"validationState\": \"Pending\"\r\n  },\r\
        \n  \"name\": \"myPeerAsn\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Peering/peerAsns/myPeerAsn\"\
        ,\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"peeringServiceLocation": "California", "peeringServiceProvider":
      "Kordia Limited"}, "location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_peering_test_peeringf49b0dec/providers/Microsoft.Peering/peeringServices/myPeeringService?api-version=2020-01-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"peeringServiceLocation\": \"California\"\
        ,\r\n    \"peeringServiceProvider\": \"Kordia Limited\",\r\n    \"provisioningState\"\
        : \"Succeeded\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"eTag\": \"04ed594d-7f97-4e30-966e-08641ace08cd\"\
        ,\r\n  \"name\": \"myPeeringService\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_peering_test_peeringf49b0dec/providers/Microsoft.Peering/peeringServices/myPeeringService\"\
        ,\r\n  \"type\": \"Microsoft.Peering/peeringServices\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Peering/peerAsns/myPeerAsn?api-version=2020-01-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 200
      message: OK
version: 1
