{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2023-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "bbf74cfa-ddbe-410a-91ec-64acd5ab5938",
        "description": "model1",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31466125812_45b5ed0b-2306-405b-ba05-7378a313ff7a?api-version=2023-10-31-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31466125812_45b5ed0b-2306-405b-ba05-7378a313ff7a?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31466125812_45b5ed0b-2306-405b-ba05-7378a313ff7a",
        "kind": "documentModelBuild",
        "status": "notStarted",
        "createdDateTime": "2023-11-17T17:29:47Z",
        "lastUpdatedDateTime": "2023-11-17T17:29:47Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/bbf74cfa-ddbe-410a-91ec-64acd5ab5938?api-version=2023-10-31-preview",
        "apiVersion": "2023-10-31-preview"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/operations/31466125812_45b5ed0b-2306-405b-ba05-7378a313ff7a?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "operationId": "31466125812_45b5ed0b-2306-405b-ba05-7378a313ff7a",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2023-11-17T17:29:47Z",
        "lastUpdatedDateTime": "2023-11-17T17:29:49Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/bbf74cfa-ddbe-410a-91ec-64acd5ab5938?api-version=2023-10-31-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "bbf74cfa-ddbe-410a-91ec-64acd5ab5938": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "bbf74cfa-ddbe-410a-91ec-64acd5ab5938",
          "createdDateTime": "2023-11-17T17:29:49Z",
          "expirationDateTime": "2025-11-16T17:29:49Z",
          "apiVersion": "2023-10-31-preview",
          "description": "model1"
        },
        "apiVersion": "2023-10-31-preview"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels/bbf74cfa-ddbe-410a-91ec-64acd5ab5938?api-version=2023-10-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "docTypes": {
          "bbf74cfa-ddbe-[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/documentintelligence/documentModels:compose?api-version=2023-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "e502ce5c-62c5-47ac-99ae-e11629431103",
        "description": "my composed model",
        "tags": {
          "testkey": "testvalue"
        },
        "componentModels": [
          {
            "modelId": "bbf74cfa-ddbe-410a-91ec-64acd5ab5938"
          },
          {
            "modelId": "83027ec9-8200-4013-989a-ed6dfc2b70d1"
          }
        ]
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "3",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Requests to the Create - Compose model Operation under Azure AI Document Intelligence 2023-10-31-preview have exceeded call rate limit of your current FormRecognizer F0 pricing tier. Please retry after 3 seconds. To increase your rate limit switch to a paid tier."
        }
      }
    },
[...]
