{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/test_350879160047?api-version=2022-05-01\u0026skipValidation=true",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {},
          "credentials": {
            "credentialsType": "AccountKey",
            "secrets": {
              "secretsType": "AccountKey",
              "key": "dGhpcyBpcyBmYWtlIGtleQ=="
            }
          },
          "datastoreType": "AzureFile",
          "accountName": "teststorageaccount",
          "endpoint": "core.windows.net",
          "fileShareName": "testfileshare",
          "protocol": "https"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/test_350879160047?api-version=2022-05-01\u0026skipValidation=true",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-ms-response-type": "standard",
        "x-request-time": "0.282"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/test_350879160047",
        "name": "test_350879160047",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": {},
          "properties": null,
          "isDefault": false,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureFile",
          "accountName": "teststorageaccount",
          "fileShareName": "testfileshare",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "None"
        },
        "systemData": {
          "createdAt": "2022-09-09T19:33:40.2917588\u002B00:00",
          "createdBy": "Neehar Duvvuri",
          "createdByType": "User",
          "lastModifiedAt": "2022-09-09T19:33:40.4104323\u002B00:00",
          "lastModifiedBy": "Neehar Duvvuri",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/test_350879160047?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
       [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/test_350879160047/listSecrets?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-ms-response-type": "standard",
        "x-request-time": "0.091"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2022-05-01\u0026count=30\u0026orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11991",
        "x-ms-response-type": "standard",
        "x-request-time": "0.176"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/test_350879160047",
            "name": "test_350879160047",
            "type": "Microsoft.MachineLearningServices/workspaces/datastores",
            "properties": {
              "description": null,
              "tags": {},
              "properties": null,
              "isDefault": false,
              "credentials"[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/test_350879160047?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11989",
        "x-ms-response-type": "error",
        "x-request-time": "0.048"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "Could not find datastore: test_350879160047.",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "61386d75022da3890cc6b9517273cc48",
                  "request": "58bf312eef36df40"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "eastus2euap"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "eastus2euap"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2022-09-09T19:33:44.4785673\u002B00:00"
              }
            },
            {
              "type": "InnerError",
              "info": {
                "value": {
                  "code": "NotFoundError",
                  "innerError": null
                }
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "random_name": "test_350879160047"
  }
}
