interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/certificates/contacts?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatino-kv.vault.azure.net/certificates/contacts?api-version=7.3-preview
- request:
    body: '{"contacts": [{"email": "admin@contoso.com", "name": "John Doe", "phone":
      "1111111111"}, {"email": "admin2@contoso.com", "name": "John Doe2", "phone":
      "2222222222"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/certificates/contacts?api-version=7.3-preview
  response:
    body:
      string: '{"id":"https://vaultname.vault.azure.net/certificates/contacts","contacts":[{"email":"admin@contoso.com","name":"John
        Doe","phone":"1111111111"},{"email":"admin2@contoso.com","name":"John Doe2","phone":"2222222222"}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatino-kv.vault.azure.net/certificates/contacts?api-version=7.3-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/certificates/contacts?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"ContactsNotFound","message":"Contacts not found"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatino-kv.vault.azure.net/certificates/contacts?api-version=7.3-preview
version: 1
