interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/certificates/issuers/issuer1?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"provider": "Test", "attributes": {"enabled": true}, "credentials": {"account_id":
      "keyvaultuser"}, "org_details": {"admin_details": [{"first_name": "John", "email":
      "admin@microsoft.com", "last_name": "Doe", "phone": "4255555555"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/certificates/issuers/issuer1?api-version=7.2
  response:
    body:
      string: '{"id":"https://vaultname.vault.azure.net/certificates/issuers/issuer1","provider":"Test","credentials":{"account_id":"keyvaultuser"},"org_details":{"zip":0,"admin_details":[{"first_name":"John","last_name":"Doe","email":"admin@microsoft.com","phone":"4255555555"}]},"attributes":{"enabled":true,"created":1620434173,"updated":1620434173}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/certificates/issuers?api-version=7.2
  response:
    body:
      string: '{"value":[{"id":"https://vaultname.vault.azure.net/certificates/issuers/cert-name","provider":"Test"},{"id":"https://vaultname.vault.azure.net/certificates/issuers/issuer1","provider":"Test"},{"id":"https://vaultname.vault.azure.net/certificates/issuers/issuer2","provider":"Test"},{"id":"https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer16f41777","provider":"Test"},{"id":"https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuer21a814cf","provider":"Test"},{"id":"https:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/certificates/issuers?api-version=7.2&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMTYhTURBd01EUXpJV05sY25ScFptbGpZWFJsTDBsVFUxVkZVbE12VEVsV1JVdFdWRVZUVkVsVFUxVkZVa0V3TmpFelJUUWhNREF3TURJNElUazVPVGt0TVRJdE16RlVNak02TlRrNk5Ua3VPVGs1T1RrNU9Wb2giLCJUYXJnZXRMb2NhdGlvbiI6MH0
  response:
    body:
      string: '{"value":[{"id":"https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuera0613e4","provider":"Test"},{"id":"https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuera0713e5","provider":"Test"},{"id":"https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuera0813e6","provider":"Test"},{"id":"https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuera90b1252","provider":"Test"},{"id":"https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuerbbec12bf","provider":"Test"},{"id":"https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuerf5621377","provider":"Test"},{"id":"https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuerf5631378","provider":"Test"},{"id":"https://vaultname.vault.azure.net/certificates/issuers/livekvtestissuerf5641379","provider":"Test"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/certificates/issuers/issuer1?api-version=7.2
  response:
    body:
      string: '{"id":"https://vaultname.vault.azure.net/certificates/issuers/issuer1","provider":"Test","credentials":{"account_id":"keyvaultuser"},"org_details":{"zip":0,"admin_details":[{"first_name":"John","last_name":"Doe","email":"admin@microsoft.com","phone":"4255555555"}]},"attributes":{"enabled":true,"created":1620434173,"updated":1620434173}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
