{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestasyncCanceledDeletedCertbd663c79/create?api-version=7.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "x509_props": {
            "subject": "CN=DefaultPolicy",
            "sans": {}
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://vaultname.vault.azure.net/certificates/livekvtestasyncCanceledDeletedCertbd663c79/pending?api-version=7.2\u0026request_id=b96c52174f1c44f1a893388944696173",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestasyncCanceledDeletedCertbd663c79/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICqDCCAZACAQAwGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOgHAAnD7QLmZMlL4KalmlOjHcBQXl6XgvyB4W5JnyxxKj5sA4JMsjPlm2pCqPNC/w9k5MjZm0cfRhe/8Cl38FcA\u002BB5NExYoSEfEeYK9/zLDmNOFDEllYO0LDVb37DJjSwKYWyposyUGC2OJtRKT4Py\u002BWWeDnBf0HPYNDXvJHsd1WSGJFGxrwVemmAj9TcOiUkbS0rvefPtjiefOy09n8vIZK236wYqvPMY2u8iaPoWlAl3uQ25MiUGMqQZsomVTOyf8VgPKNbGTP6sK5CPk8Pil/OzyDrnrW2/eyn6dCCXW0Ow1f6jz0QRzxW6PVuVQJeNC\u002BS7vbI0eR5DxGsXkfh0CAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQBwAZe\u002BEcq/AX0CQZJPegoIjRjN7qjsRalI7Jz3LL/nVNYqQEdtpuqFZTYmYC8OcLek75o60tmDrTMyFN3JoNS2cuoKNtJFmeG6caarf7xrRQjlk7izt91GgFSHG333dAW49wFshohjidN2LXkWB18KzhjIha0tx2hynXZLtgPqIw\u002BAZUhwi3mLEkCzK3AWQRc4oU1D0XPHYPHl7EItgm9c4eQdicPnvdfKMdvXR6DtJkh3vRZoDR5SeqKiZh10HdII/P90IbBID7YcfXsQqrqpwtdm0aHFBAtTyxLPo/Ut6B1YD2Hc9AUjHDk\u002BGXpY/eR1S48puRmdM1s80jxqvxoZ",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "b96c52174f1c44f1a893388944696173"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestasyncCanceledDeletedCertbd663c79/pending?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestasyncCanceledDeletedC[...]
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestasyncCanceledDeletedCertbd663c79/pending?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "PendingCertificateNotFound",
          "message": "Pending certificate not found: livekvtestasyncCanceledDeletedCertbd663c79"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestasyncCanceledDeletedCertbd663c79?api-version=7.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestasyncCanceledDeletedCertbd663c79",
        "deletedDate": 1651248471,
        "scheduledPurgeDate": 1651853271,
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestasyncCanceledDeletedCertbd663c79/3069d0a18bca45a8b3583effe787609d",
        "attributes": {
          "enabled": false,
          "nbf": 1651247860,
          "exp": 1682784460,
          "created": 1651248460,
          "updated": 1651248460,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://vaultname.vault.azure.net/certificates/livekvtestasyncCanceledDeletedCertbd663c79/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=DefaultPolicy",
            "sans": {},
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1651248460,
            "updated": 1651248460
          }
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestasyncCanceledDeletedCertbd663c79?api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: livekvtestasyncCanceledDeletedCertbd663c79"
        }
      }
    },
[...]
