interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault851e11ad.vault.azure.net/certificates/contacts?api-version=7.0
  response:
    body:
      string: ''
    headers:
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"contacts": [{"email": "admin@contoso.com", "name": "John Doe", "phone":
      "1111111111"}, {"email": "admin2@contoso.com", "name": "John Doe2", "phone":
      "2222222222"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault851e11ad.vault.azure.net/certificates/contacts?api-version=7.0
  response:
    body:
      string: '{"id":"https://vault851e11ad.vault.azure.net/certificates/contacts","contacts":[{"email":"admin@contoso.com","name":"John
        Doe","phone":"1111111111"},{"email":"admin2@contoso.com","name":"John Doe2","phone":"2222222222"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault851e11ad.vault.azure.net/certificates/contacts?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"ContactsNotFound","message":"Contacts not found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
