interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/certificates/issuers/issuer629d10e9?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"provider": "Test", "credentials": {"account_id": "keyvaultuser"}, "attributes":
      {"enabled": true}, "org_details": {"admin_details": [{"email": "admin@microsoft.com",
      "first_name": "John", "phone": "4255555555", "last_name": "Doe"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/certificates/issuers/issuer629d10e9?api-version=7.1
  response:
    body:
      string: '{"id":"https://vaultname.vault.azure.net/certificates/issuers/issuer629d10e9","provider":"Test","credentials":{"account_id":"keyvaultuser"},"org_details":{"zip":0,"admin_details":[{"first_name":"John","last_name":"Doe","email":"admin@microsoft.com","phone":"4255555555"}]},"attributes":{"enabled":true,"created":1607039990,"updated":1607039990}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/certificates/issuers?api-version=7.1
  response:
    body:
      string: '{"value":[{"id":"https://vaultname.vault.azure.net/certificates/issuers/issuer2629d10e9","provider":"Test"},{"id":"https://vaultname.vault.azure.net/certificates/issuers/issuer629d10e9","provider":"Test"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/certificates/issuers/issuer629d10e9?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"CertificateIssuerNotFound","message":"Issuer not
        found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
