interactions:
- request:
    body: '{"provider": "Test", "credentials": {"account_id": "keyvaultuser"}, "org_details":
      {"admin_details": [{"first_name": "John", "last_name": "Doe", "email": "admin@microsoft.com",
      "phone": "4255555555"}]}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault629d10e9.vault.azure.net/certificates/issuers/issuer?api-version=7.0
  response:
    body:
      string: '{"id":"https://vault629d10e9.vault.azure.net/certificates/issuers/issuer","provider":"Test","credentials":{"account_id":"keyvaultuser"},"org_details":{"zip":0,"admin_details":[{"first_name":"John","last_name":"Doe","email":"admin@microsoft.com","phone":"4255555555"}]},"attributes":{"enabled":true,"created":1563557532,"updated":1563557532}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"provider": "Test", "credentials": {"account_id": "keyvaultuser2"}, "org_details":
      {"admin_details": [{"first_name": "John", "last_name": "Doe", "email": "admin@microsoft.com",
      "phone": "4255555555"}]}, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault629d10e9.vault.azure.net/certificates/issuers/issuer2?api-version=7.0
  response:
    body:
      string: '{"id":"https://vault629d10e9.vault.azure.net/certificates/issuers/issuer2","provider":"Test","credentials":{"account_id":"keyvaultuser2"},"org_details":{"zip":0,"admin_details":[{"first_name":"John","last_name":"Doe","email":"admin@microsoft.com","phone":"4255555555"}]},"attributes":{"enabled":true,"created":1563557532,"updated":1563557532}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault629d10e9.vault.azure.net/certificates/issuers?api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://vault629d10e9.vault.azure.net/certificates/issuers/issuer","provider":"Test"},{"id":"https://vault629d10e9.vault.azure.net/certificates/issuers/issuer2","provider":"Test"}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault629d10e9.vault.azure.net/certificates/issuers/issuer?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"CertificateIssuerNotFound","message":"Issuer not
        found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
