{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=*.microsoft.com",
            "sans": {
              "dns_names": [
                "sdk.azure-int.net"
              ]
            },
            "validity_months": 24
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/pending?api-version=2016-10-01\u0026request_id=85413c8c4f984937beb5da5fcaf9142b",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICyDCCAbACAQAwGjEYMBYGA1UEAwwPKi5taWNyb3NvZnQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs1mNtpTIMph/EBQghzoajvH3mmX9qXCLwhPcxsgoDPE3SR5MpANo32xNtVJVIul/5SN0S80Xz7AYpmlhXgFTGL6ZS7QyXG0uSoH2gjo0XmWHvZJoX1Bu2EwVY5bFqHYuBQbhXZdlWCkX6h8UFJQnm4VeJTm3JGh4hYG2z1s0VLCDYMZ0ks2fNfFjyOOWavPmuHUBcCQxRftxsJLH7Ae4nQNi/5lEL4gRvcG24mAfBVTS1sSm7AQt5WFXJcwMQiyNYGpmlri2VwnpcKeY5OnUS23yAkmjZ2itmYcwk0ReFRlsE32wlaHKDft92hWTxpzbAXWnISiu7gkMzQX8pr0QsQIDAQABoGkwZwYJKoZIhvcNAQkOMVowWDAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBwGA1UdEQQVMBOCEXNkay5henVyZS1pbnQubmV0MAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAJIVp7B5SlETH5wKMBOvc2/eOomybP9baUdmWcejeUkw1LvG8AYhJCEPX5N\u002BjzlYSEtr9psCYHAnatGULm5nEzymlp153CY4hRbk8mOymc8ZzgI98j1SBO7001Y3yl0Kc1g1I89\u002Bg1SH1QDkxWVYIhGgbK2xjOtJGiC\u002BUx9L\u002BcvLK6z8XI/zEBOjr82Rmm\u002BH1WPaXH/r/WicYV3h15SEzBX7UgQkpA85YjGrld5dIms5GByCq/SPt5R9AasOKZScjhsyCEkz8N\u002BYQRDViWmR/IFpWqfCpxQEU7Wqf3uJbWpbOH16HEXmt1RTauilpQP2/2NBrypQkaz3pO7x3YXC7FI=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "85413c8c4f984937beb5da5fcaf9142b"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/pending?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/pending",
 [...]
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/70924c19c8b44f6d8a63d2d7e6fd9b8b",
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcert-nameaf573cc0/70924c19c8b44f6d8a63d2d7e6fd9b8b",
        "sid": "https://vaultname.vault.azure.net/secrets/livekvtestcert-nameaf573cc0/70924c19c8b44f6d8a63d2d7e6fd9b8b",
        "x5t": "WyKajlOaxaI8PORmueJIvFftQUI",
        "cer": "MIIDWjCCAkKgAwIBAgIQKPGh3k6ZQX\u002BwadEpdQEoJDANBgkqhkiG9w0BAQsFADAaMRgwFgYDVQQDDA8qLm1pY3Jvc29mdC5jb20wHhcNMjIwNDI5MTUzODA4WhcNMjQwNDI5MTU0ODA4WjAaMRgwFgYDVQQDDA8qLm1pY3Jvc29mdC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCzWY22lMgymH8QFCCHOhqO8feaZf2pcIvCE9zGyCgM8TdJHkykA2jfbE21UlUi6X/lI3RLzRfPsBimaWFeAVMYvplLtDJcbS5KgfaCOjReZYe9kmhfUG7YTBVjlsWodi4FBuFdl2VYKRfqHxQUlCebhV4lObckaHiFgbbPWzRUsINgxnSSzZ818WPI45Zq8\u002Ba4dQFwJDFF\u002B3GwksfsB7idA2L/mUQviBG9wbbiYB8FVNLWxKbsBC3lYVclzAxCLI1gamaWuLZXCelwp5jk6dRLbfICSaNnaK2ZhzCTRF4VGWwTfbCVocoN\u002B33aFZPGnNsBdachKK7uCQzNBfymvRCxAgMBAAGjgZswgZgwDgYDVR0PAQH/BAQDAgWgMAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBwGA1UdEQQVMBOCEXNkay5henVyZS1pbnQubmV0MB8GA1UdIwQYMBaAFHyanetEFf5a3/QCy2BZQ6eraTpPMB0GA1UdDgQWBBR8mp3rRBX\u002BWt/0AstgWUOnq2k6TzANBgkqhkiG9w0BAQsFAAOCAQEApofHR3BZ4UirSaPhG5DTgCu/d5KLiATws9n6ZpeF1XjLWnMyxrXbHpO/ddpLEf/q6IIn0tQLZdJA\u002BdxJlERNfFYb\u002B\u002BVeChwLvZmF1IbbSjr/4/wXOQlopCs4FjhoDkrolOu7zG1feBzV7eF/mQTI3LD4tN4bHS7w1S3Xii9q0Im/0ulZDn5LR3w3RwfOy0psmyLMGOTl1SXoz1R\u002BLE\u002BGqYIDOywsns5DFGkCk/3SuuYEkM0cGFPU3As2M5TS3Amc5W8ULFzfuHibsX0x5OIftBoGozGP9BCynIsuY\u002Brm/bqBU32PelwaqZI/yngwB4lcbjt0rhOXsKnk0UB4P3Vb7A==",
        "attributes": {
          "enabled": true,
          "nbf": 1651246688,
          "exp": 1714405688,
          "created": 1651247288,
          "updated": 1651247288,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "policy": {
          "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=*.microsoft.com",
            "sans": {
              "dns_names": [
                "sdk.azure-int.net"
              ]
            },
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 24,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1651247282,
            "updated": 1651247282
          }
        },
        "pending": {
          "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/pending"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/70924c19c8b44f6d8a63d2d7e6fd9b8b?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/70924c19c8b44f6[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/?api-version=2016-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/70924c19c8b44f6d8a63d2d7e6fd9b8b",
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcert-nameaf573cc0/70924c19c8b44f6d8a63d2d7e6fd9b8b",
        "sid": "https://vaultname.vault.azure.net/secrets/livekvtestcert-nameaf5[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert-nameaf573cc0",
        "deletedDate": 1651247293,
        "scheduledPurgeDate": 1651852093,
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-nameaf573cc0/70924c19c8b44f6d8a63d2d7e6fd9b8b",
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcert-nameaf573cc0/70924c19c8b44f6d8a63d2d7e6fd9b8b",
        "sid": "https://vaultname.vault.azure.net/secrets/livekvtestcert-nameaf573cc0/70924c19c8b44f6d8a63d2d7e6fd9b8b",
        "x5t": "WyKajlOaxaI8PORmueJIvFftQUI",
        "cer": "MIIDWjCCAkKgAwIBAgIQKPGh3k6ZQX\u002BwadEpdQEoJDANBgkqhkiG9w0B[...]
