{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert-namebb003965/create?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=*.microsoft.com",
            "sans": {
              "dns_names": [
                "sdk.azure-int.net"
              ]
            },
            "validity_months": 24
          },
          "issuer": {
            "name": "Self"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://vaultname.vault.azure.net/certificates/livekvtestcert-namebb003965/pending?api-version=2016-10-01\u0026request_id=4a67f9c68aa347ebbe87b715ffa45a07",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-namebb003965/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICyDCCAbACAQAwGjEYMBYGA1UEAwwPKi5taWNyb3NvZnQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAx2k0BCzQs0X3CRRssPdnYNxJmsTQNFDPHLWsCPbSmTLoGsWFci4xyQoPVRWeu61eNu8rmqKNd147UxbyviuIR0Mf8i6s4QAKmo0OuySwFYBPUHBZ0R1o9ohUw8ems1TYh7STxNL66u/gwgr0fh\u002BiNO0O8\u002BhPqw/ZBlmO3cdQIFMEkrCXBnm1gTMUmo5Lhci5qi7iGh8djNtK2aaqLNokXBwUDs1dzu/g7XNjhZbeOnNeXO1MeVpKZ0upMHna1PCPhkML6afFZSK2K1QwYj8VbFsoK7v0Ns3rln\u002BHxgQWon7EPCUK\u002BTsSu81IrbvhPrapkVQqSzewyTpI11ji1tDebQIDAQABoGkwZwYJKoZIhvcNAQkOMVowWDAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBwGA1UdEQQVMBOCEXNkay5henVyZS1pbnQubmV0MAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAF6oCVeMIV5k2anW6KtS71ECfLnuL7tDZ\u002BpJSL5gn4L5ONZ1jGYDSOogHcAa5U08909i/Fx/st9Ta7HDOJ6Uj\u002BR4Tn4U5IP44RjEyGUk\u002BXgjky3Wbn5Y\u002Bv0I5N7rVJAaVz5kn421bk5zVR6TEhVJLD80qQNnm\u002BM7Qeh58xM7ReZpROJ\u002ByxRxGLnyzx1WLoNa4j3oWjYAd9Tmi1QBRyqs9yYbJLAGV9\u002BBTmDPIajLYqMNlwCMn1YnLVNHm8TWRecRl0IB1wxU2yY9IYGs6iWJbJTnAhTPqEkmUkGtNV\u002BTh0BSWfI31xFxgW7TsNV8L53nfP5tw1U0UY//YQqPL0IUJg0=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "4a67f9c68aa347ebbe87b715ffa45a07"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert-namebb003965/pending?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-namebb003965/pending",
 [...]
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert-namebb003965/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-namebb003965/ebae71862b8f4095bd61603cec0413eb",
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcert-namebb003965/ebae71862b8f4095bd61603cec0413eb",
        "sid": "https://vaultname.vault.azure.net/secrets/livekvtestcert-namebb003965/ebae71862b8f4095bd61603cec0413eb",
        "x5t": "BkdDXhCXpELDIlXN_mIIgCuPGLs",
        "cer": "MIIDWjCCAkKgAwIBAgIQIQ4mcktjS5edLH7WR/9S\u002BTANBgkqhkiG9w0BAQsFADAaMRgwFgYDVQQDDA8qLm1pY3Jvc29mdC5jb20wHhcNMjIwNDI5MTU0NzUxWhcNMjQwNDI5MTU1NzUxWjAaMRgwFgYDVQQDDA8qLm1pY3Jvc29mdC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDHaTQELNCzRfcJFGyw92dg3EmaxNA0UM8ctawI9tKZMugaxYVyLjHJCg9VFZ67rV427yuaoo13XjtTFvK\u002BK4hHQx/yLqzhAAqajQ67JLAVgE9QcFnRHWj2iFTDx6azVNiHtJPE0vrq7\u002BDCCvR\u002BH6I07Q7z6E\u002BrD9kGWY7dx1AgUwSSsJcGebWBMxSajkuFyLmqLuIaHx2M20rZpqos2iRcHBQOzV3O7\u002BDtc2OFlt46c15c7Ux5WkpnS6kwedrU8I\u002BGQwvpp8VlIrYrVDBiPxVsWygru/Q2zeuWf4fGBBaifsQ8JQr5OxK7zUitu\u002BE\u002BtqmRVCpLN7DJOkjXWOLW0N5tAgMBAAGjgZswgZgwDgYDVR0PAQH/BAQDAgWgMAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBwGA1UdEQQVMBOCEXNkay5henVyZS1pbnQubmV0MB8GA1UdIwQYMBaAFNo7ZK4INyLp06unqjPmmIscDEqOMB0GA1UdDgQWBBTaO2SuCDci6dOrp6oz5piLHAxKjjANBgkqhkiG9w0BAQsFAAOCAQEAkCp92Xl5JR1wX5o9QvhwG8DLrnMOuXKjxhdSadvXSX\u002BHlcSzGqGcv7vUakzFMfMUnARKnYX\u002BnhiQwSwEza6er1f\u002B4qQJKV5VSQnbAvFtnpW7hL4g0fJs1rnhv8lmsOwLe50O2GjPlXGnsY5PhH5aAoEQq\u002BhS8Vp6CnkYAhF2MbvUcKSRfl0dhBseeyeUyfRUX66KMfrhImYz4ZQu6afKcbBcSC0bF4VROZhBE243NgmfVLsYVMifesE3XHpGEh\u002B1zqJwXjmVkkI19E0ObBnjAKyg9cD1BUFFom/Byv13IV0/1jwPahCZqt4YVjzbT/OQXZB7WS13OTtJ9St0Mx7hzA==",
        "attributes": {
          "enabled": true,
          "nbf": 1651247271,
          "exp": 1714406271,
          "created": 1651247871,
          "updated": 1651247871,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "policy": {
          "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-namebb003965/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=*.microsoft.com",
            "sans": {
              "dns_names": [
                "sdk.azure-int.net"
              ]
            },
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 24,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1651247860,
            "updated": 1651247860
          }
        },
        "pending": {
          "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-namebb003965/pending"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/certificates/livekvtestcert-namebb003965?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert-namebb003965",
        "deletedDate": 1651247876,
        "scheduledPurgeDate": 1651852676,
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-namebb003965/ebae71862b8f4095bd61603cec0413eb",
        "kid": "https://vaultname.vault.azure.net/keys/livekvtestcert-namebb003965/ebae71862b8f4095bd61603cec0413eb",
        "sid": "https://vaultname.vault.azure.net/secrets/livekvtestcert-namebb003965/ebae71862b8f4095bd61603cec0413eb",
        "x5t": "BkdDXhCXpELDIlXN_mIIgCuPGLs",
        "cer": "MIIDWjCCAkKgAwIBAgIQIQ4mcktjS5edLH7WR/9S\u002BTANBgkqhkiG9w0B[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert-namebb003965?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: livekvtestcert-namebb003965"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedcertificates/livekvtestcert-namebb003965/recover?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/certificates/livekvtestcert-namebb003965/ebae71862b8f4095bd61603cec0413eb[...]
