interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault75531ac1.vault.azure.net/certificates/cert-name/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:52:18 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault75531ac1.vault.azure.net,
        /certificates/cert-name/create, api-version=7.0, '']
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": false}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=*.microsoft.com", "sans": {"dns_names": ["onedrive.microsoft.com",
      "xbox.microsoft.com"]}, "validity_months": 24}, "issuer": {"name": "Self"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault75531ac1.vault.azure.net/certificates/cert-name/create?api-version=7.0
  response:
    body: {string: '{"id":"https://vault75531ac1.vault.azure.net/certificates/cert-name/pending","issuer":{"name":"Self"},"csr":"MIIC4zCCAcsCAQAwGjEYMBYGA1UEAwwPKi5taWNyb3NvZnQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA9I356pE9JOyC98xFQS2rWN/6I6C9eIYpa6z4w5txYntKrgFJWyt8VWS3hE9ZC975IgLOc7UlE7hSaqBmLqBfb2HuRU7lnpe7a4Co9DS4Q8RadJTC1dWwI6sDTV/xwKoSDI9n8mTzWNdPu188qLm4uyEVRnRW/6wf46ejM6g0E9pPF+nxt7NRcybzfm9Op0Mcuj1CCq8HecziNLyoLYkSmDFpdxDrooANjBL0yLGXUHjfrBFDptZal5f5XXhuUiKdgP7WSoUOo9FkhKdWBirIvua3siWyJB4ho4bI3r+SIAi+zBw65ot7ZUNF067wXCokqk3vK0fC20PU88uUBdIRmQIDAQABoIGDMIGABgkqhkiG9w0BCQ4xczBxMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwNQYDVR0RBC4wLIIWb25lZHJpdmUubWljcm9zb2Z0LmNvbYISeGJveC5taWNyb3NvZnQuY29tMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAExgpCrjCscoT7+YlOk+z71beTdrOjZY1haNAwFR3bTs3PKjypw+q+MVd6r/SAIxL3gNBOk4V043JDx0h3zXEHlE1bX+XnUCUOAKIrQru4856leYwMdLmBSfeVGNnhwXmr4xAa92MdaPNFmnRYkNOD0amLO3FExU+3CFCm4I1jjtSg9hHHwhXeb6Op9VQq9wvEgZw2HePllVp1pkMeFbK4UlU3OaqzoqmEmPFnW5CcvrAk9LYMFB7+21siQ9efny+5Bq/qm02Qb33b8R6ik85nRZbwy3Ma5KHxozJ6a9coBokbsYb9jfNKJyCA5gbkAxVfHrB6UaK2m37p/8Dr6JWPQ=","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"3b314409708d4214832d122f0c8b3b87"}'}
    headers:
      content-type: application/json; charset=utf-8
      location: [h, t, t, p, s, ':', /, /, v, a, u, l, t, '7', '5', '5', '3', '1',
        a, c, '1', ., v, a, u, l, t, ., a, z, u, r, e, ., n, e, t, /, c, e, r, t,
        i, f, i, c, a, t, e, s, /, c, e, r, t, '-', n, a, m, e, /, p, e, n, d, i,
        n, g, '?', a, p, i, '-', v, e, r, s, i, o, n, '=', '7', ., '0', '&', r, e,
        q, u, e, s, t, _, i, d, '=', '3', b, '3', '1', '4', '4', '0', '9', '7', '0',
        '8', d, '4', '2', '1', '4', '8', '3', '2', d, '1', '2', '2', f, '0', c, '8',
        b, '3', b, '8', '7']
    status: {code: 202, message: Accepted}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault75531ac1.vault.azure.net,
        /certificates/cert-name/create, api-version=7.0, '']
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault75531ac1.vault.azure.net/certificates/cert-name?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault75531ac1.vault.azure.net/deletedcertificates/cert-name","deletedDate":1566838339,"scheduledPurgeDate":1574614339,"id":"https://vault75531ac1.vault.azure.net/certificates/cert-name/3f4bc9f3cde14103880d12fabfdd2e45","attributes":{"enabled":false,"nbf":1566837739,"exp":1629996739,"created":1566838339,"updated":1566838339,"recoveryLevel":"Recoverable+Purgeable"},"policy":{"id":"https://vault75531ac1.vault.azure.net/certificates/cert-name/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":false},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=*.microsoft.com","sans":{"dns_names":["onedrive.microsoft.com","xbox.microsoft.com"]},"ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["digitalSignature","keyEncipherment"],"validity_months":24,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"lifetime_percentage":80},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1566838339,"updated":1566838339}},"pending":{"id":"https://vault75531ac1.vault.azure.net/certificates/cert-name/pending"}}'}
    headers: {cache-control: no-cache, content-length: '1158', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:52:19 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault75531ac1.vault.azure.net,
        /certificates/cert-name, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault75531ac1.vault.azure.net/deletedcertificates/cert-name?api-version=7.0
  response:
    body: {string: '{"error":{"code":"CertificateNotFound","message":"Deleted Certificate
        not found: cert-name"}}'}
    headers: {cache-control: no-cache, content-length: '93', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:52:19 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault75531ac1.vault.azure.net,
        /deletedcertificates/cert-name, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault75531ac1.vault.azure.net/deletedcertificates/cert-name/recover?api-version=7.0
  response:
    body: {string: '{"id":"https://vault75531ac1.vault.azure.net/certificates/cert-name/3f4bc9f3cde14103880d12fabfdd2e45","attributes":{"enabled":false,"nbf":1566837739,"exp":1629996739,"created":1566838339,"updated":1566838339,"recoveryLevel":"Recoverable+Purgeable"},"policy":{"id":"https://vault75531ac1.vault.azure.net/certific[...]
