interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault95aa1ed5.vault.azure.net/certificates/asyncCanceledDeletedCert/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Fri, 16 Aug 2019 22:24:00 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault95aa1ed5.vault.azure.net,
        /certificates/asyncCanceledDeletedCert/create, api-version=7.0, '']
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": false}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=*.microsoft.com", "sans": {"dns_names": ["sdk.azure-int.net"]},
      "validity_months": 24}, "issuer": {"name": "Self"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault95aa1ed5.vault.azure.net/certificates/asyncCanceledDeletedCert/create?api-version=7.0
  response:
    body: {string: '{"id":"https://vault95aa1ed5.vault.azure.net/certificates/asyncCanceledDeletedCert/pending","issuer":{"name":"Self"},"csr":"MIICyDCCAbACAQAwGjEYMBYGA1UEAwwPKi5taWNyb3NvZnQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzCl1WmCgMiudwxXUJYUWW8FTiRa7t4Q7KgYQETS+cZXeieJdcuYnRA0lxmOuDmUqo0ahBxPiBsgl3VJxEOui1rov1BE3ZhXhFZk8k9eDdg9B4lZ1752+L5l+1o51apjaDs5Mw6Yy0uv3ccV9hhp2r2i2GkcwoW70HQ2KAWR2CvG2Y2XWandBedX261ocWxq8jHI3ExwpEpK3po/ZeGLFE8NZIlnIYJcBioYrRTVfLtbhTeODkhZy0hK2Oe2oXVPQneZS/fCgqfV59bsH01qJwO8L/gVTH03vk4wUHcORSZFXmiylg4KBIe1H4H2JDF3O2y0HKGAcZldYuh7CyfN0JwIDAQABoGkwZwYJKoZIhvcNAQkOMVowWDAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBwGA1UdEQQVMBOCEXNkay5henVyZS1pbnQubmV0MAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBACp8L9JmHgtw2QKBhGyJndN7mQ2GPvTEy2R5+gYo7gOl6o4GiLtHaMo1DNLDvjoLo/fdqbDr3gupfn/MYf1tHcX2EvKxIxxWUuC0dSBdKTi9ZUShT/oFolVpKCBCO2eWO8yJKQ4ob0MUaGXm/MuGpQEi8FAPf3nhnQUWo6bFpQl4ZR3JBxeklwKyHZsxmWSKIgPY9PfkD2WOKIh/FfuOy1m/pKP5lBbhQeWZKJBMLh4IeFWvpdSHMbYDUFWw5XEfOTZ3k47U+hJ9+Wv5qW63SrIjyKKxLBhpnzt0Us/NhZ8fSnXuexGLq2b4OcO80SCAGWwbcIogwuQ8+br8qhvGiUw=","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"0182e77038de43228a05fc06f2ddc28f"}'}
    headers:
      content-type: application/json; charset=utf-8
      location: [h, t, t, p, s, ':', /, /, v, a, u, l, t, '9', '5', a, a, '1', e,
        d, '5', ., v, a, u, l, t, ., a, z, u, r, e, ., n, e, t, /, c, e, r, t, i,
        f, i, c, a, t, e, s, /, a, s, y, n, c, C, a, n, c, e, l, e, d, D, e, l, e,
        t, e, d, C, e, r, t, /, p, e, n, d, i, n, g, '?', a, p, i, '-', v, e, r, s,
        i, o, n, '=', '7', ., '0', '&', r, e, q, u, e, s, t, _, i, d, '=', '0', '1',
        '8', '2', e, '7', '7', '0', '3', '8', d, e, '4', '3', '2', '2', '8', a, '0',
        '5', f, c, '0', '6', f, '2', d, d, c, '2', '8', f]
      retry-after: '10'
    status: {code: 202, message: Accepted}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault95aa1ed5.vault.azure.net,
        /certificates/asyncCanceledDeletedCert/create, api-version=7.0, '']
- request:
    body: '{"cancellation_requested": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://vault95aa1ed5.vault.azure.net/certificates/asyncCanceledDeletedCert/pending?api-version=7.0
  response:
    body: {string: '{"id":"https://vault95aa1ed5.vault.azure.net/certificates/asyncCanceledDeletedCert/pending","issuer":{"name":"Self"},"csr":"MIICyDCCAbACAQAwGjEYMBYGA1UEAwwPKi5taWNyb3NvZnQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault95aa1ed5.vault.azure.net/certificates/asyncCanceledDeletedCert/pending?api-version=7.0
  response:
    body: {string: '{"error":{"code":"PendingCertificateNotFound","message":"Pending
        certificate not found: asyncCanceledDeletedCert"}}'}
    headers: {cache-control: no-cache, content-length: '115', content-type: application/json;
        charset=utf-8, date: 'Fri, 16 Aug 2019 22:24:12 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault95aa1ed5.vault.azure.net,
        /certificates/asyncCanceledDeletedCert/pending, api-version=7.0, '']
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault95aa1ed5.vault.azure.net/certificates/asyncCanceledDeletedCert?api-version=7.0
  response:
    body: {string: '{"id":"https://vault95aa1ed5.vault.azure.net/certificates/asyncCanceledDeletedCert/8766eab35acf45a288b0d70cb38f0b74","attributes":{"enabled":false,"nbf":1565993641,"exp":1629152641,"created":1565994241,"updated":1565994241,"recoveryLevel":"Purgeable"},"policy":{"id":"https://vault95aa1ed5.vault.azure.net/certificates/asyncCanceledDeletedCert/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":false},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=*.microsoft.com","sans":{"dns_names":["sdk.azure-int.net"]},"ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["digitalSignature","keyEncipherment"],"validity_months":24,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"lifetime_percentage":80},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1565994241,"updated":1565994241}}}'}
    headers: {cache-control: no-cache, content-length: '922', content-type: application/json;
        charset=utf-8, date: 'Fri, 16 Aug 2019 22:24:12 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault95aa1ed5.vault.azure.net,
        /certificates/asyncCanceledDeletedCert, api-version=7.0, '']
version: 1
