interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedcertificates?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedcertificates?api-version=2016-10-01
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedcertificates/importNotPasswordEncodedCertificate","deletedDate":1613176143,"scheduledPurgeDate":1620952143,"id":"https://vaultname.vault.azure.net/certificates/importNotPasswordEncodedCertificate","x5t":"Yj07xp_eOJMn7HPlahwQbKs9Eg8","attributes":{"enabled":true,"nbf":1593090033,"exp":1624626633,"created":1613175243,"updated":1613175243,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"https://vaultname.vault.azure.net/deletedcertificates/importPasswordEncodedCertificate","deletedDate":1613176146,"scheduledPurgeDate":1620952146,"id":"https://vaultname.vault.azure.net/certificates/importPasswordEncodedCertificate","x5t":"fLi3U52HunIVNXubkEnf8tP6Wbo","attributes":{"enabled":true,"nbf":1430344421,"exp":2208988799,"created":1613175245,"updated":1613175245,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"https://vaultname.vault.azure.net/deletedcertificates/policyCertificate","deletedDate":1613176150,"scheduledPurgeDate":1620952150,"id":"https://vaultname.vault.azure.net/certificates/policyCertificate","x5t":"9TiBlV4lVJMhwo2vSTFh7optzSs","attributes":{"enabled":true,"nbf":1613174664,"exp":1644711264,"created":1613175264,"updated":1613175264,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"https://vaultname.vault.azure.net/deletedcertificates/unknownIssuerCert","deletedDate":1613176154,"scheduledPurgeDate":1620952154,"id":"https://vaultname.vault.azure.net/certificates/unknownIssuerCert","x5t":"VK0_yZgzJRLvpHNPxx3-AkCiblY","attributes":{"enabled":true,"nbf":1613174641,"exp":1644711241,"created":1613175241,"updated":1613175241,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
