interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault105115999775531ac1.vault.azure.net/certificates/cert-name/create?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Tue, 03 Sep 2019 20:42:24 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault105115999775531ac1.vault.azure.net,
        /certificates/cert-name/create, api-version=7.0, '']
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": false}, "secret_props": {"contentType": "application/x-pkcs12"},
      "x509_props": {"subject": "CN=*.microsoft.com", "sans": {"dns_names": ["sdk.azure-int.net"]},
      "validity_months": 24}, "issuer": {"name": "Self"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault105115999775531ac1.vault.azure.net/certificates/cert-name/create?api-version=7.0
  response:
    body: {string: '{"id":"https://vault105115999775531ac1.vault.azure.net/certificates/cert-name/pending","issuer":{"name":"Self"},"csr":"MIICyDCCAbACAQAwGjEYMBYGA1UEAwwPKi5taWNyb3NvZnQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3X23wmL+TX82Tx95MXDVAiK+8Z91YBtlhhMN/CkQ4lcY4TUk+fauC8QC2ftKNwYmoLQUOMi3HOH1z+4tVbfyEv5iwh0JqipM/QTB98uFvITj1CT50q0OkNSbgvbyghTZptwIKvLqMGTrtFZODdz2nFgT4KkM4T8QP4Ax0rPeBCk9WkRDs126jH4e+Qn0ZViYYe25bwZTwkKerv1Sqaf8I+NYzjBsMWc7kjbVhDG60TqHli8SpAhsb07oREiQ9ZpzU09m1jf1bOhOKh27Zs4GeDzzqf9k+Rqm/IqFXpmcsHbVlf/gGTjlXuOtTa0kOCIkNwpfk4GVA9xUq03UGJ0rtwIDAQABoGkwZwYJKoZIhvcNAQkOMVowWDAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBwGA1UdEQQVMBOCEXNkay5henVyZS1pbnQubmV0MAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAFeLXSqreMXYlTNx0YTBwcEzIpVG35w6//n/I6FaEBsBvM8zocKC+9MkCt9mfMe7BUf4TAzawbSeJ/B3ZJideHUAZmlIgas2icXkgOmHDst4v2PhLwzCUWks4kgVIuzmjrla/TM84zcMtAcj5OFeRRUeZWLFhf/En5vcQVw5uNcdck0jupUlPrS7QL8ltMcnDOVGFDWg5dbC+y9rWL1cYcz7enATdcG11FQ8bVoK1oR810imn/YeHXv2xCrKVnd5em9lZBgy7OhACigm6g0PBqg4392N/L/3jrZyoKyKlezl/iu4y8ZW9OAg5YGqOuPWgtw9r2KXA0gZ2ww40wQn3dE=","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"a87934615718472fae0eecd6b10d6192"}'}
    headers:
      content-type: application/json; charset=utf-8
      location: [h, t, t, p, s, ':', /, /, v, a, u, l, t, '1', '0', '5', '1', '1',
        '5', '9', '9', '9', '7', '7', '5', '5', '3', '1', a, c, '1', ., v, a, u, l,
        t, ., a, z, u, r, e, ., n, e, t, /, c, e, r, t, i, f, i, c, a, t, e, s, /,
        c, e, r, t, '-', n, a, m, e, /, p, e, n, d, i, n, g, '?', a, p, i, '-', v,
        e, r, s, i, o, n, '=', '7', ., '0', '&', r, e, q, u, e, s, t, _, i, d, '=',
        a, '8', '7', '9', '3', '4', '6', '1', '5', '7', '1', '8', '4', '7', '2', f,
        a, e, '0', e, e, c, d, '6', b, '1', '0', d, '6', '1', '9', '2']
    status: {code: 202, message: Accepted}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault105115999775531ac1.vault.azure.net,
        /certificates/cert-name/create, api-version=7.0, '']
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault105115999775531ac1.vault.azure.net/certificates/cert-name?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault105115999775531ac1.vault.azure.net/deletedcertificates/cert-name","deletedDate":1567543345,"scheduledPurgeDate":1575319345,"id":"https://vault105115999775531ac1.vault.azure.net/certificates/cert-name/2ae561ea198a45ebab5121a7779f51e8","attributes":{"enabled":false,"nbf":1567542744,"exp":1630701744,"created":1567543345,"updated":1567543345,"recoveryLevel":"Recoverable+Purgeable"},"policy":{"id":"https://vault105115999775531ac1.vault.azure.net/certificates/cert-name/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":false},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=*.microsoft.com","sans":{"dns_names":["sdk.azure-int.net"]},"ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["digitalSignature","keyEncipherment"],"validity_months":24,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"lifetime_percentage":80},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1567543345,"updated":1567543345}},"pending":{"id":"https://vault105115999775531ac1.vault.azure.net/certificates/cert-name/pending"}}'}
    headers: {cache-control: no-cache, content-length: '1172', content-type: application/json;
        charset=utf-8, date: 'Tue, 03 Sep 2019 20:42:25 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault105115999775531ac1.vault.azure.net,
        /certificates/cert-name, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault105115999775531ac1.vault.azure.net/deletedcertificates/cert-name?api-version=7.0
  response:
    body: {string: '{"error":{"code":"CertificateNotFound","message":"Deleted Certificate
        not found: cert-name"}}'}
    headers: {cache-control: no-cache, content-length: '93', content-type: application/json;
        charset=utf-8, date: 'Tue, 03 Sep 2019 20:42:25 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault105115999775531ac1.vault.azure.net,
        /deletedcertificates/cert-name, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault105115999775531ac1.vault.azure.net/deletedcertificates/cert-name/recover?api-version=7.0
  response:
    body: {string: '{"id":"https://vault105115999775531ac1.vault.azure.net/certificates/cert-name/2ae561ea198a45ebab5121a7779f51e8","attributes":{"enabled":false,"nbf":1567542744,"exp":1630701744,"created":1567543345,"updated":1567543345,"recoveryLevel":"Recoverable+Purgeable"},"policy":{"id":"https://vault1051159997755[...]
