interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/certificates?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/certificates?api-version=2016-10-01
  response:
    body:
      string: '{"value":[{"id":"https://vaultname.vault.azure.net/certificates/livekvtestcert0f5650dfd","x5t":"fLi3U52HunIVNXubkEnf8tP6Wbo","attributes":{"enabled":true,"nbf":1430344421,"exp":2208988799,"created":1613525633,"updated":1613525633},"subject":""},{"id":"https://vaultname.vault.azure.net/certificates/livekvtestcert1f5650dfd","x5t":"fLi3U52HunIVNXubkEnf8tP6Wbo","attributes":{"enabled":true,"nbf":1430344421,"exp":2208988799,"created":1613525634,"updated":1613525634},"subject":""},{"id":"https://vaultname.vault.azure.net/certificates/livekvtestcert2f5650dfd","x5t":"fLi3U52HunIVNXubkEnf8tP6Wbo","attributes":{"enabled":true,"nbf":1430344421,"exp":2208988799,"created":1613525634,"updated":1613525634},"subject":""},{"id":"https://vaultname.v[...]
