-e ../../../tools/azure-sdk-tools
../../core/azure-core
-e ../../../tools/azure-devtools
../../identity/azure-identity
pre-commit
nox
marshmallow-jsonschema==0.10.0
mock
pytest-cov
coverage==6.0.1
pytest-forked
pytest-xdist
pytest-timeout
pytest-mock
pytest
pydash
pytest-vcr
azure-mgmt-storage~=19.1.0
numpy
scikit-image
simplification
