[tool.azure-sdk-build]
mypy = true
pyright = false
type_check_samples = false
verifytypes = false
pylint = true
strict_sphinx = false


[tool.isort]
profile = "black"
line_length = 120
known_first_party = ["azure"]
extend_skip_glob = [
  "*/_vendor/*",
  "*/_generated/*",
  "*/_restclient/*",
  "*/doc/*",
  "*/.tox/*",
]

[tool.mypy] 
python_version = "3.10"
exclude = [
  "azure/ai/ml/_restclient",
  "azure/ai/ml/_vendor/",
  "azure/ai/ml/_schema/",
  "azure/ai/ml/_arm_deployments/",
  "azure/ai/ml/_utils/_virtual_cluster_utils/__init__.py",
  "tests",
  "setup.py",
  "samples",
]   
warn_unused_configs = true 
follow_imports = "skip"
ignore_missing_imports = true
follow_imports_for_stubs = false