[tool.azure-sdk-build]
mypy = false
pyright = false
type_check_samples = false
verifytypes = false

[tool.pydocstyle]
convention = "pep257"
match_dir = "^(sdk/ml/azure-ai-ml/tests/|sdk/ml/azure-ai-ml/azure/ai/ml/_restclient|sdk/ml/azure-ai-ml/setup.py)"

[tool.mypy]
exclude = ["setup.py", "tests", "scripts", "azure/ai/ml/_restclient"]

