[tool.azure-sdk-build]
mypy = false
pyright = false
type_check_samples = false
verifytypes = false
pylint = true
strict_sphinx = true

[tool.isort]
profile = "black"
line_length = 120
known_first_party = ["azure"]
extend_skip_glob = [
  "*/_vendor/*",
  "*/_generated/*",
  "*/_restclient/*",
  "*/doc/*",
  "*/.tox/*",
]

[tool.mypy] 
exclude = ["azure/ai/ml/_vendor", "azure/ai/ml/_restclient"] 
disallow_untyped_defs = true 
warn_unused_ignores = true 
warn_return_any = true 
warn_unreachable = true 
ignore_missing_imports = true 
follow_imports = "skip" 
follow_imports_for_stubs = "skip"

[tool.pylint.'MESSAGES CONTROL']
disable = "line-too-long, trailing-whitespace"