[tool.azure-sdk-build]
mypy = true
pyright = false
type_check_samples = false
pylint = true
mindependency = false
latestdependency = false

[tool.isort]
profile = "black"
line_length = 120
known_first_party = ["azure"]
filter_files=true
extend_skip_glob = [
  "*/_vendor/*",
  "*/_generated/*",
  "*/_restclient/*",
  "*/doc/*",
  "*/.tox/*",
]

[tool.mypy]
python_version = "3.10"
exclude = [
  "azure/ai/ml/_restclient",
  "azure/ai/ml/_vendor/",
  "azure/ai/ml/_schema/",
  "azure/ai/ml/_arm_deployments/",
  "tests",
  "downloaded",
  "setup.py",
  "samples",
  "azure/ai/ml/_utils",
  "azure/ai/ml/exceptions.py",
  "azure/ai/ml/_exception_helper.py",
]
warn_unused_configs = true
follow_imports = "skip"
ignore_missing_imports = true
follow_imports_for_stubs = false
