[tool.azure-sdk-build]
mypy = false
pyright = false
type_check_samples = false
verifytypes = false

[tool.interrogate]
fail-under = 95
verbose = 2
ignore-module = true
exclude = ["setup.py", "tests", "azure/ai/ml/_restclient"]

[tool.isort]
profile = "black"