interactions:
- request:
    body: '{"id": "batch_schedule_fe140e2a", "schedule": {"startWindow": "PT1H", "recurrenceInterval":
      "P1D"}, "jobSpecification": {"onAllTasksComplete": "terminatejob", "constraints":
      {"maxTaskRetryCount": 2}, "poolInfo": {"poolId": "pool_id"}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"MissingRequiredHeader\",\"message\":{\r\n    \"lang\":\"en-US\"\
        ,\"value\":\"An HTTP header that's mandatory for this request is not specified.\\\
        nRequestId:683f388b-1ea0-424e-8705-32813f947ce5\\nTime:2020-10-01T20:36:18.0868623Z\"\
        \r\n  },\"values\":[\r\n    {\r\n      \"key\":\"HeaderName\",\"value\":\"\
        Authorization\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 400
      message: An HTTP header that's mandatory for this request is not specified.
version: 1
