{
  "Entries": [
    {
      "RequestUri": "https://batch6c682013.eastus.batch.azure.com/jobschedules?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 28 Apr 2023 21:56:24 GMT"
      },
      "RequestBody": {
        "id": "batch_schedule_6c682013",
        "schedule": {
          "startWindow": "PT01H00M00S",
          "recurrenceInterval": "P1DT00H00M00S"
        },
        "jobSpecification": {
          "poolInfo": {
            "poolId": "pool_id"
          },
          "constraints": {
            "maxTaskRetryCount": 2
          },
          "onAllTasksComplete": "terminatejob"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch6c682013.eastus.batch.azure.com/jobschedules/batch_schedule_6c682013",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB4833697E6797",
        "Last-Modified": "Fri, 28 Apr 2023 21:56:25 GMT",
        "Location": "https://batch6c682013.eastus.batch.azure.com/jobschedules/batch_schedule_6c682013"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch6c682013.eastus.batch.azure.com/jobschedules?api-version=2022-10-01.16.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 28 Apr 2023 21:56:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch6c682013.eastus.batch.azure.com/$metadata#jobschedules",
        "value": [
          {
            "id": "batch_schedule_6c682013",
            "url": "https://batch6c682013.eastus.batch.azure.com/jobschedules/batch_schedule_6c682013",
            "eTag": "0x8DB4833697E6797",
            "lastModified": "2023-04-28T21:56:25.3480855Z",
            "creationTime": "2023-04-28T21:56:25.3480855Z",
            "state": "active",
            "stateTransitionTime": "2023-04-28T21:56:25.3480855Z",
            "schedule": {
              "startWindow": "PT1H",
              "recurrenceInterval": "P1D"
            },
            "jobSpecification": {
              "priority": 0,
              "maxParallelTasks": -1,
              "allowTaskPreemption": false,
              "usesTaskDependencies": false,
              "onAllTasksComplete": "terminatejob",
              "onTaskFailure": "noaction",
              "constraints": {
                "maxWallClockTime": "P10675199DT2H48M5.4775807S",
                "maxTaskRetryCount": 2
              },
              "poolInfo": {
                "poolId": "pool_id"
              }
            },
            "executionInfo": {
              "nextRunTime": "2023-04-29T21:56:25.3480855Z",
              "recentJob": {
                "url": "https://batch6c682013.eastus.batch.azure.com/jobs/batch_schedule_6c682013:job-1",
                "id": "batch_schedule_6c682013:job-1"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch6c682013.eastus.batch.azure.com/jobschedules/batch_schedule_6c682013?api-version=2022-10-01.16.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 28 Apr 2023 21:56:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB4833697E6797",
        "Last-Modified":[...]
[...]
    {
      "RequestUri": "https://batch6c682013.eastus.batch.azure.com/jobschedules/batch_schedule_6c682013/jobs?api-version=2022-10-01.16.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Fri, 28 Apr 2023 21:56:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch6c682013.eastus.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_schedule_6c682013:job-1",
            "url": "https://batch6c682013.eastus.batch.azure.com/jobs/batch_schedule_6c682013:job-1",
            "eTag": "0x8DB4833698BA755",
            "lastModified": "2023-04-28T21:56:25.4349141Z",
            "creationTime": "2023-04-28T21:56:25.4049141Z",
            "state": "active",
            "stateTransitionTime": "2023-04-28T21:56:25.4349141Z",
            "priority": 0,
            "maxParallelTasks": -1,
            "usesTaskDependencies": false,
            "allowTaskPreemption": false,
            "constraints": {
              "maxWallClockTime": "P10675199DT2H48M5.4775807S",
              "maxTaskRetryCount": 2
            },
            "poolInfo": {
              "poolId": "pool_id"
            },
            "executionInfo": {
              "startTime": "2023-04-28T21:56:25.4349141Z",
              "poolId": "pool_id"
            },
            "onAllTasksComplete": "terminatejob",
            "onTaskFailure": "noaction"
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch6c682013.eastus.batch.azure.com/jobschedules/batch_schedule_6c682013/disable?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Fri, 28 Apr 2023 21:56:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch6c682013.eastus.batch.azure.com/jobschedules/batch_schedule_6c682013/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB483369D97EFB",
        "Last-Modified": "Fri, 28 Apr 2023 21:56:25 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch6c682013.eastus.batch.azure.com/jobschedules/batch_schedule_6c682013/enable?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Fri, 28 Apr 2023 21:56:26 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch6c682013.eastus.batch.azure.com/jobschedules/batch_schedule_6c682013/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB483369E8252C",
        "Last-Modified": "Fri, 28 Apr 2023 21:56:26 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch6c682013.eastus.batch.azure.com/jobschedules/batch_schedule_6c682013?api-version=2022-10-01.16.0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 28 Apr 2023 21:56:26 GMT"
      },
      "RequestBody": {
        "schedule": {
          "recurrenceInterval": "PT05H00M00S"
        }
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "Retry-After": "30"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch6c682013.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "TooManyRequests",
        "message": {
          "lang": "en-US",
          "value": "Request failed as server encountered too many requests. Please try again.\nRequestId:23451d9d-6a7d-4865-9465-293174cc93fe\nTime:2023-04-28T21:56:26.2482567Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://batch6c682013.eastus.batch.azure.com/jobschedules/batch_schedule_6c682013/terminate?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Fri, 28 Apr 2023 21:56:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch6c682013.eastus.batch.azure.com/jobschedules/batch_schedule_6c682013/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB48337C0851EF",
        "Last-Modified": "Fri, 28 Apr 2023 21:56:56 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch6c682013.eastus.batch.azure.com/jobschedules/batch_schedule_6c682013?api-version=2022-10-01.16.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": "Fri, 28 Apr 2023 21:56:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
