interactions:
- request:
    body: '{"id": "batch_paas_f0de0ddf", "vmSize": "standard_d2_v2", "cloudServiceConfiguration":
      {"osFamily": "5"}, "startTask": {"commandLine": "cmd.exe /c \"echo hello world\"",
      "resourceFiles": [{"httpUrl": "https://blobsource.com", "filePath": "filename.txt"}],
      "environmentSettings": [{"name": "ENV_VAR", "value": "env_value"}], "userIdentity":
      {"autoUser": {"elevationLevel": "admin"}}}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Wed, 01 Mar 2023 00:02:50 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0de0ddf.eastus.batch.azure.com/pools/batch_paas_f0de0ddf
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19E84C6679A1'
      last-modified:
      - Wed, 01 Mar 2023 00:02:50 GMT
      location:
      - https://batch.eastus.batch.azure.com/pools/batch_paas_f0de0ddf
    status:
      code: 201
      message: Created
- request:
    body: '{"certificateReferences": [], "applicationPackageReferences": [], "metadata":
      [{"name": "foo", "value": "bar"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Wed, 01 Mar 2023 00:02:51 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools/batch_paas_f0de0ddf/updateproperties?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0de0ddf.eastus.batch.azure.com/pools/batch_paas_f0de0ddf/updateproperties
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19E84D19EB4C'
      last-modified:
      - Wed, 01 Mar 2023 00:02:51 GMT
    status:
      code: 204
      message: No Content
- request:
    body: '{"metadata": [{"name": "foo2", "value": "bar2"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Wed, 01 Mar 2023 00:02:52 GMT
    method: PATCH
    uri: https://batch.eastus.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0de0ddf.eastus.batch.azure.com/pools/batch_paas_f0de0ddf
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19E84D342A2F'
      last-modified:
      - Wed, 01 Mar 2023 00:02:52 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 01 Mar 2023 00:02:52 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_paas_f0de0ddf\",\"url\":\"https://batch.eastus.batch.azure.com/pools/batch_paas_f0de0ddf\",\"eTag\":\"0x8DB19E84D342A2F\",\"lastModified\":\"2023-03-01T00:02:52.1428527Z\",\"creationTime\":\"2023-03-01T00:02:50.7948449Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-03-01T00:02:50.7948449Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2023-03-01T00:02:51.9468501Z\",\"vmSize\":\"standard_d2_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"certificateReferences\":[],\"metadata\":[\r\n
        \   {\r\n      \"name\":\"foo2\",\"value\":\"bar2\"\r\n    }\r\n  ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n
        \   \"osFamily\":\"5\",\"osVersion\":\"*\"\r\n  },\"targetNodeCommunicationMode\":\"default\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19E84D342A2F'
      last-modified:
      - Wed, 01 Mar 2023 00:02:52 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 01 Mar 2023 00:02:52 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2022-10-01.16.0&$select=id%2Cstate&$expand=stats
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_paas_f0de0ddf\",\"state\":\"active\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19E84D342A2F'
      last-modified:
      - Wed, 01 Mar 2023 00:02:52 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 01 Mar 2023 00:02:52 GMT
    method: DELETE
    uri: https://batch.eastus.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
