interactions:
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 15 Jan 2022 04:04:33 GMT
    method: GET
    uri: https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.southcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvm-4131042796_1-20220115t040420z\",\"url\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvm-4131042796_1-20220115t040420z\",\"state\":\"starting\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2022-01-15T04:04:21.0986268Z\",\"allocationTime\":\"2022-01-15T04:04:20.9766242Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvm-4131042796_1-20220115t040420z\",\"vmSize\":\"standard_d2_v2\",\"totalTasksRun\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"LogInPort\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.88.240.249\",\"publicFQDN\":\"dns768994be-06f6-4a6f-9cc9-c252912a3550-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":51000,\"backendPort\":29877\r\n
        \         },{\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.88.240.249\",\"publicFQDN\":\"dns768994be-06f6-4a6f-9cc9-c252912a3550-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n
        \         \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 15 Jan 2022 04:04:54 GMT
    method: GET
    uri: https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.southcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvm-4131042796_1-20220115t040420z\",\"url\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvm-4131042796_1-20220115t040420z\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2022-01-15T04:04:47.577895Z\",\"lastBootTime\":\"2022-01-15T04:04:47.169821Z\",\"allocationTime\":\"2022-01-15T04:04:20.9766242Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvm-4131042796_1-20220115t040420z\",\"vmSize\":\"standard_d2_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"certificateReferences\":[],\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"LogInPort\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.88.240.249\",\"publicFQDN\":\"dns768994be-06f6-4a6f-9cc9-c252912a3550-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":51000,\"backendPort\":29877\r\n
        \         },{\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.88.240.249\",\"publicFQDN\":\"dns768994be-06f6-4a6f-9cc9-c252912a3550-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2022-01-15T04:04:47.169821Z\",\"version\":\"1.9.22\"\r\n
        \     },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "test_task", "commandLine": "cmd /c \"echo hello world\""}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Sat, 15 Jan 2022 04:04:54 GMT
    method: POST
    uri: https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch498930ae3.southcentralus.batch.azure.com/jobs/batch98930ae3/tasks/test_task
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9D7DC2FC46855'
      last-modified:
      - Sat, 15 Jan 2022 04:04:54 GMT
      location:
      - https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 15 Jan 2022 04:04:54 GMT
    method: GET
    uri: https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.southcentralus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"test_task\",\"url\":\"https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task\",\"eTag\":\"0x8D9D7DC2FC46855\",\"creationTime\":\"2022-01-15T04:04:54.3813717Z\",\"lastModified\":\"2022-01-15T04:04:54.3813717Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-01-15T04:04:54.3813717Z\",\"commandLine\":\"cmd
        /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n
        \     \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9D7DC2FC46855'
      last-modified:
      - Sat, 15 Jan 2022 04:04:54 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 15 Jan 2022 04:04:59 GMT
    method: GET
    uri: https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.southcentralus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"test_task\",\"url\":\"https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task\",\"eTag\":\"0x8D9D7DC2FC46855\",\"creationTime\":\"2022-01-15T04:04:54.3813717Z\",\"lastModified\":\"2022-01-15T04:04:54.3813717Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2022-01-15T04:04:56.28892Z\",\"previousState\":\"running\",\"previousStateTransitionTime\":\"2022-01-15T04:04:56.21893Z\",\"commandLine\":\"cmd
        /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n
        \     \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"startTime\":\"2022-01-15T04:04:56.263984Z\",\"endTime\":\"2022-01-15T04:04:56.28892Z\",\"failureInfo\":{\r\n
        \     \"category\":\"UserError\",\"code\":\"CommandProgramNotFound\",\"message\":\"The
        specified command program is not found\",\"details\":[\r\n        {\r\n          \"name\":\"Message\",\"value\":\"The
        system cannot find the file specified\"\r\n        }\r\n      ]\r\n    },\"result\":\"failure\",\"retryCount\":0,\"requeueCount\":0\r\n
        \ },\"nodeInfo\":{\r\n    \"affinityId\":\"TVM:tvm-4131042796_1-20220115t040420z\",\"nodeUrl\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvm-4131042796_1-20220115t040420z\",\"poolId\":\"test_batch_test_batch_files98930ae3\",\"nodeId\":\"tvm-4131042796_1-20220115t040420z\",\"taskRootDirectory\":\"workitems/batch/job-1/test_task\",\"taskRootDirectoryUrl\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvm-4131042796_1-20220115t040420z/files/workitems/batch/job-1/test_task\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9D7DC2FC46855'
      last-modified:
      - Sat, 15 Jan 2022 04:04:54 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 15 Jan 2022 04:04:59 GMT
    method: GET
    uri: https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvm-4131042796_1-20220115t040420z/files?recursive=true&api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.southcentralus.batch.azure.com/$metadata#files\",\"value\":[\r\n
        \   {\r\n      \"name\":\"startup\",\"url\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvm-4131042796_1-20220115t040420z/files/startup\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"volatile\",\"url\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvm-4131042796_1-20220115t040420z/files/volatile\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"workitems\",\"url\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvm-4131042796_1-20220115t040420z/files/workitems\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\[...]
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 15 Jan 2022 04:05:00 GMT
    method: HEAD
    uri: https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvm-4131042796_1-20220115t040420z/files/workitems%2Fbatch%2Fjob-1%2Ftest_task%2Fstderr.txt?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Sat, 15 Jan 2022 04:04:56 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-mode:
      - 0o100644
      ocp-batch-file-url:
      - https%3A%2F%2Fbatch498930ae3.southcentralus.batch.azure.com%2Fpools%2Ftest_batch_test_batch_files98930ae3%2Fnodes%2Ftvm-4131042796_1-20220115t040420z%2Ffiles%2Fworkitems%2Fbatch98930ae3%2Fjob-1%2Ftest_task%2Fstderr.txt
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 15 Jan 2022 04:05:00 GMT
    method: GET
    uri: https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task/files?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.southcentralus.batch.azure.com/$metadata#files\",\"value\":[\r\n
        \   {\r\n      \"name\":\"stdout.txt\",\"url\":\"https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task/files/stdout.txt\",\"isDirectory\":false,\"properties\":{\r\n
        \       \"lastModified\":\"2022-01-15T04:04:56.269531Z\",\"contentLength\":\"0\",\"contentType\":\"text/plain\",\"fileMode\":\"0o100644\"\r\n
        \     }\r\n    },{\r\n      \"name\":\"wd\",\"url\":\"https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task/files/wd\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"certs\",\"url\":\"https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task/files/certs\",\"isDirectory\":true\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 15 Jan 2022 04:05:00 GMT
    method: HEAD
    uri: https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task/files/stdout.txt?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Sat, 15 Jan 2022 04:04:56 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-mode:
      - 0o100644
      ocp-batch-file-url:
      - https%3A%2F%2Fbatch498930ae3.southcentralus.batch.azure.com%2Fjobs%2Fbatch98930ae3%2Ftasks%2Ftest_task%2Ffiles%2Fstdout.txt
    status:
      code: 200
      message: OK
[...]
