{
  "Entries": [
    {
      "RequestUri": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Thu, 07 Sep 2023 03:52:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch6e50202e.eastasia.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d",
            "url": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes/tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2023-09-07T03:51:54.8693244Z",
            "allocationTime": "2023-09-07T03:51:54.8693244Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.187.166.132",
                  "publicFQDN": "dns9dd0e16f-c490-4144-93d4-08ac366f45ec-azurebatch-cloudservice.eastasia.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 22
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202306070"
              }
            }
          },
          {
            "id": "tvmps_8cdf66c790e4302ce091673c3a5ab1d1a27b1c781a58c14c733b8957899c3237_d",
            "url": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes/tvmps_8cdf66c790e4302ce091673c3a5ab1d1a27b1c781a58c14c733b8957899c3237_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2023-09-07T03:51:54.8693244Z",
            "allocationTime[...]
    {
      "RequestUri": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Thu, 07 Sep 2023 03:52:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch6e50202e.eastasia.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d",
            "url": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes/tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2023-09-07T03:52:15.021834Z",
            "lastBootTime": "2023-09-07T03:52:14.727239Z",
            "allocationTime": "2023-09-07T03:51:54.8693244Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.187.166.132",
                  "publicFQDN": "dns9dd0e16f-c490-4144-93d4-08ac366f45ec-azurebatch-cloudservice.eastasia.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 22
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2023-09-07T03:52:14.727239Z",
              "version": "1.10.0"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202306070"
              }
            }
          },
          {
            "id": "tvmps_8cdf66c790e4302ce091673c3a5ab1d1a27b1c781a58c14c733b8957899c323[...]
[...]
    {
      "RequestUri": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes/tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Thu, 07 Sep 2023 03:52:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
   [...]
    {
      "RequestUri": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes/tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d/uploadbatchservicelogs?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Thu, 07 Sep 2023 03:52:35 GMT"
      },
      "RequestBody": {
        "containerUrl": "https://computecontainer.blob.core.windows.net/",
        "startTime": "2023-09-07T03:46:35.359601Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch6e50202e.eastasia.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "batch6e50202e-22EE7920567F9EAB/6e50202e/tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d/6b4f86de-4534-42a5-9922-4e8e0534edfc",
        "numberOfFilesUploaded": 4
      }
    },
    {
      "RequestUri": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes/tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d/disablescheduling?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Thu, 07 Sep 2023 03:52:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes/tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes/tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d/enablescheduling?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Thu, 07 Sep 2023 03:52:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes/tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d/enablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes/tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d/reboot?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Thu, 07 Sep 2023 03:52:35 GMT"
      },
      "RequestBody": {
        "nodeRebootOption": "terminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes/tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d/reboot",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/nodes/tvmps_8cdf66c790e4302ce091673c3a5ab1d1a27b1c781a58c14c733b8957899c3237_d/reimage?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Thu, 07 Sep 2023 03:52:35 GMT"
      },
      "RequestBody": {
        "nodeReimageOption": "terminate"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch6e50202e.eastasia.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "OperationNotValidOnNode",
        "message": {
          "lang": "en-US",
          "value": "The specified operation is not valid on the node.\nRequestId:493afe8b-a9e9-4125-be24-71f031c02156\nTime:2023-09-07T03:52:36.3086536Z"
        },
        "values": [
          {
            "key": "Reason",
            "value": "Operation reimage can be invoked only on pools created with cloudServiceConfiguration"
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/removenodes?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Thu, 07 Sep 2023 03:52:36 GMT"
      },
      "RequestBody": {
        "nodeList": [
          "tvmps_4f03e4a0e1048d07a25d63cde52b01d53e6e483211a097532f930f3e4dee8169_d",
          "tvmps_8cdf66c790e4302ce091673c3a5ab1d1a27b1c781a58c14c733b8957899c3237_d"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch6e50202e.eastasia.batch.azure.com/pools/6e50202e/removenodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DBAF55DFC27CB6",
        "Last-Modified": "Thu, 07 Sep 2023 03:52:36 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
