interactions:
- request:
    body: '{"id": "batch_paas_f0de0ddf", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "5"}, "startTask": {"commandLine": "cmd.exe /c \"echo hello world\"",
      "resourceFiles": [{"httpUrl": "https://blobsource.com", "filePath": "filename.txt"}],
      "environmentSettings": [{"name": "ENV_VAR", "value": "env_value"}], "userIdentity":
      {"autoUser": {"elevationLevel": "admin"}}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 13 Jun 2019 20:01:25 GMT
    method: POST
    uri: https://batchf0de0ddf.westcentralus.batch.azure.com/pools?api-version=2019-06-01.9.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0de0ddf.westcentralus.batch.azure.com/pools/batch_paas_f0de0ddf
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D6F039EAEC84DA'
      last-modified:
      - Thu, 13 Jun 2019 20:01:26 GMT
      location:
      - https://batchf0de0ddf.westcentralus.batch.azure.com/pools/batch_paas_f0de0ddf
    status:
      code: 201
      message: Created
- request:
    body: '{"certificateReferences": [], "applicationPackageReferences": [], "metadata":
      [{"name": "foo", "value": "bar"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 13 Jun 2019 20:01:26 GMT
    method: POST
    uri: https://batchf0de0ddf.westcentralus.batch.azure.com/pools/batch_paas_f0de0ddf/updateproperties?api-version=2019-06-01.9.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0de0ddf.westcentralus.batch.azure.com/pools/batch_paas_f0de0ddf/updateproperties
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D6F039EB2F0B8F'
      last-modified:
      - Thu, 13 Jun 2019 20:01:26 GMT
    status:
      code: 204
      message: No Content
- request:
    body: '{"metadata": [{"name": "foo2", "value": "bar2"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 13 Jun 2019 20:01:26 GMT
    method: PATCH
    uri: https://batchf0de0ddf.westcentralus.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2019-06-01.9.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0de0ddf.westcentralus.batch.azure.com/pools/batch_paas_f0de0ddf
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D6F039EB441156'
      last-modified:
      - Thu, 13 Jun 2019 20:01:27 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 20:01:27 GMT
    method: GET
    uri: https://batchf0de0ddf.westcentralus.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2019-06-01.9.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchf0de0ddf.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_paas_f0de0ddf\",\"url\":\"https://batchf0de0ddf.westcentralus.batch.azure.com/pools/batch_paas_f0de0ddf\",\"eTag\":\"0x8D6F039EB441156\",\"lastModified\":\"2019-06-13T20:01:27.041263Z\",\"creationTime\":\"2019-06-13T20:01:26.4675034Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-06-13T20:01:26.4675034Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2019-06-13T20:01:26.8745255Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"certificateReferences\":[\r\n
        \   \r\n  ],\"metadata\":[\r\n    {\r\n      \"name\":\"foo2\",\"value\":\"bar2\"\r\n
        \   }\r\n  ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"5\",\"osVersion\":\"*\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D6F039EB441156'
      last-modified:
      - Thu, 13 Jun 2019 20:01:27 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 20:01:27 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://batchf0de0ddf.westcentralus.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2019-06-01.9.0&$select=id%2Cstate&$expand=stats&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchf0de0ddf.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_paas_f0de0ddf\",\"state\":\"active\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D6F039EB441156'
      last-modified:
      - Thu, 13 Jun 2019 20:01:27 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 20:01:27 GMT
    method: DELETE
    uri: https://batchf0de0ddf.westcentralus.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2019-06-01.9.0
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
