interactions:
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=2", "autoScaleEvaluationInterval":
      "PT6M"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 02:08:20 GMT
    method: POST
    uri: https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/enableautoscale?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/enableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901DD102EBC9'
      last-modified:
      - Tue, 24 Nov 2020 02:08:20 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=3"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 02:08:23 GMT
    method: POST
    uri: https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/evaluateautoscale?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\"\
        ,\"timestamp\":\"2020-11-24T02:08:23.1092298Z\",\"results\":\"$TargetDedicatedNodes=3;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue\"\
        \r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceid:
      - https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/evaluateautoscale
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 02:08:23 GMT
    method: POST
    uri: https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/disableautoscale?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/disableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901DD26EE675'
      last-modified:
      - Tue, 24 Nov 2020 02:08:23 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 02:08:23 GMT
    method: GET
    uri: https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.westcentralus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"test_batch_test_batch_scale_poolse2690d64\",\"displayName\":\"test_pool\"\
        ,\"url\":\"https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64\"\
        ,\"eTag\":\"0x8D8901DD26EE675\",\"lastModified\":\"2020-11-24T02:08:23.1859829Z\"\
        ,\"creationTime\":\"2020-11-24T02:08:20.8006089Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2020-11-24T02:08:20.8006089Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2020-11-24T02:08:23.209983Z\"\
        ,\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\"\
        :[\r\n    {\r\n      \"name\":\"task-user\",\"elevationLevel\":\"admin\"\r\
        \n    }\r\n  ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"\
        nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n   \
        \ \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\"\
        ,\"sku\":\"16.04-LTS\",\"version\":\"latest\"\r\n    },\"nodeAgentSKUId\"\
        :\"batch.node.ubuntu 16.04\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901DD26EE675'
      last-modified:
      - Tue, 24 Nov 2020 02:08:23 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"targetDedicatedNodes": 0, "targetLowPriorityNodes": 2}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 02:08:23 GMT
    method: POST
    uri: https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/resize?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/resize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901DD28CA813'
      last-modified:
      - Tue, 24 Nov 2020 02:08:23 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 02:08:23 GMT
    method: POST
    uri: https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/stopresize?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/stopresize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901DD28CA813'
      last-modified:
      - Tue, 24 Nov 2020 02:08:23 GMT
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 02:08:28 GMT
    method: GET
    uri: https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.westcentralus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"test_batch_test_batch_scale_poolse2690d64\",\"displayName\":\"test_pool\"\
        ,\"url\":\"https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64\"\
        ,\"eTag\":\"0x8D8901DD28CA813\",\"lastModified\":\"2020-11-24T02:08:23.3809939Z\"\
        ,\"creationTime\":\"2020-11-24T02:08:20.8006089Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2020-11-24T02:08:20.8006089Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2020-11-24T02:08:23.6122185Z\"\
        ,\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :2,\"resizeErrors\":[\r\n    {\r\n      \"code\":\"ResizeStopped\",\"message\"\
        :\"Desired number of low priority nodes could not be allocated due to a stop\
        \ resize operation\"\r\n    }\r\n  ],\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"userAccounts\":[\r\n    {\r\n      \"name\":\"task-user\",\"elevationLevel\"\
        :\"admin\"\r\n    }\r\n  ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\"\
        :{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\"\
        :{\r\n    \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\"\
        :\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\"\r\n    },\"\
        nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901DD28CA813'
      last-modified:
      - Tue, 24 Nov 2020 02:08:23 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 02:08:28 GMT
    method: GET
    uri: https://batch.westcentralus.batch.azure.com/lifetimepoolstats?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.westcentralus.batch.azure.com/$metadata#poolstats/@Element\"\
        ,\"url\":\"https://batch.westcentralus.batch.azure.com/lifetimepoolstats\"\
        ,\"usageStats\":{\r\n    \"startTime\":\"2020-11-24T02:08:03.4582204Z\",\"\
        lastUpdateTime\":\"2020-11-24T02:08:03.4582204Z\",\"dedicatedCoreTime\":\"\
        PT0S\"\r\n  },\"resourceStats\":{\r\n    \"startTime\":\"2020-11-24T02:08:03.4582204Z\"\
        ,\"diskReadIOps\":\"0\",\"diskWriteIOps\":\"0\",\"lastUpdateTime\":\"2020-11-24T02:08:03.4582204Z\"\
        ,\"avgCPUPercentage\":0.0,\"avgMemoryGiB\":0.0,\"peakMemoryGiB\":0.0,\"avgDiskGiB\"\
        :0.0,\"peakDiskGiB\":0.0,\"diskReadGiB\":0.0,\"diskWriteGiB\":0.0,\"networkReadGiB\"\
        :0.0,\"networkWriteGiB\":0.0\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 02:08:29 GMT
    method: GET
    uri: https://batch.westcentralus.batch.azure.com/poolusagemetrics?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.westcentralus.batch.azure.com/$metadata#poolusagemetrics\"\
        ,\"value\":[\r\n    \r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
