interactions:
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 24 May 2023 08:48:32 GMT
    method: GET
    uri: https://batch.eastasia.batch.azure.com/applications?api-version=2023-05-01.17.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastasia.batch.azure.com/$metadata#listapplicationsummariesresponses\",\"value\":[\r\n
        \   {\r\n      \"id\":\"application_id\",\"versions\":[\r\n        \"v1.0\"\r\n
        \     ]\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 24 May 2023 08:48:33 GMT
    method: GET
    uri: https://batch.eastasia.batch.azure.com/applications/application_id?api-version=2023-05-01.17.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastasia.batch.azure.com/$metadata#getapplicationsummaryresponse/@Element\",\"id\":\"application_id\",\"versions\":[\r\n
        \   \"v1.0\"\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "python_task_with_app_package", "commandLine": "cmd /c \"echo hello
      world\"", "applicationPackageReferences": [{"applicationId": "application_id",
      "version": "v1.0"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 24 May 2023 08:48:33 GMT
    method: POST
    uri: https://batch.eastasia.batch.azure.com/jobs/batch/tasks?api-version=2023-05-01.17.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf06f0dd7.eastasia.batch.azure.com/jobs/batchf06f0dd7/tasks/python_task_with_app_package
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB5C33A88F0DA7'
      last-modified:
      - Wed, 24 May 2023 08:48:34 GMT
      location:
      - https://batch.eastasia.batch.azure.com/jobs/batch/tasks/python_task_with_app_package
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 24 May 2023 08:48:33 GMT
    method: GET
    uri: https://batch.eastasia.batch.azure.com/jobs/batch/tasks/python_task_with_app_package?api-version=2023-05-01.17.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastasia.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"python_task_with_app_package\",\"url\":\"https://batch.eastasia.batch.azure.com/jobs/batch/tasks/python_task_with_app_package\",\"eTag\":\"0x8DB5C33A88F0DA7\",\"creationTime\":\"2023-05-24T08:48:34.4092071Z\",\"lastModified\":\"2023-05-24T08:48:34.4092071Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-05-24T08:48:34.4092071Z\",\"commandLine\":\"cmd
        /c \\\"echo hello world\\\"\",\"applicationPackageReferences\":[\r\n    {\r\n
        \     \"applicationId\":\"application_id\",\"version\":\"v1.0\"\r\n    }\r\n
        \ ],\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB5C33A88F0DA7'
      last-modified:
      - Wed, 24 May 2023 08:48:34 GMT
    status:
      code: 200
      message: OK
version: 1
