interactions:
- request:
    body: '{"id": "batch_schedule_fe140e2a", "schedule": {"startWindow": "PT1H", "recurrenceInterval":
      "P1D"}, "jobSpecification": {"onAllTasksComplete": "terminatejob", "constraints":
      {"maxTaskRetryCount": 2}, "poolInfo": {"poolId": "pool_id"}}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 04 Mar 2019 18:55:14 GMT']
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a']
      dataserviceversion: ['3.0']
      etag: ['0x8D6A0D2F00BA5B3']
      last-modified: ['Mon, 04 Mar 2019 18:55:15 GMT']
      location: ['https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 04 Mar 2019 18:55:15 GMT']
    method: GET
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.westcentralus.batch.azure.com/$metadata#jobschedules\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a\",\"eTag\":\"0x8D6A0D2F00BA5B3\",\"lastModified\":\"2019-03-04T18:55:15.0375347Z\",\"creationTime\":\"2019-03-04T18:55:15.0375347Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-03-04T18:55:15.0375347Z\",\"schedule\":{\r\n
        \       \"startWindow\":\"PT1H\",\"recurrenceInterval\":\"P1D\"\r\n      },\"jobSpecification\":{\r\n
        \       \"priority\":0,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n
        \         \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \       },\"poolInfo\":{\r\n          \"poolId\":\"pool_id\"\r\n        }\r\n
        \     },\"executionInfo\":{\r\n        \"nextRunTime\":\"2019-03-05T18:55:15.0375347Z\",\"recentJob\":{\r\n
        \         \"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\",\"id\":\"batch_schedule_fe140e2a:job-1\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 04 Mar 2019 18:55:15 GMT']
    method: GET
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.westcentralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule[...]
[...]
- request:
    body: null
    headers:
      ocp-date: ['Mon, 04 Mar 2019 18:55:15 GMT']
    method: GET
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/jobs?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.westcentralus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_schedule_fe140e2a:job-1\",\"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\",\"eTag\":\"0x8D6A0D2F01FE1E7\",\"lastModified\":\"2019-03-04T18:55:15.1701479Z\",\"creationTime\":\"2019-03-04T18:55:15.1431475Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-03-04T18:55:15.1701479Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \     },\"poolInfo\":{\r\n        \"poolId\":\"pool_id\"\r\n      },\"executionInfo\":{\r\n
        \       \"startTime\":\"2019-03-04T18:55:15.1701479Z\",\"poolId\":\"pool_id\"\r\n
        \     },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 04 Mar 2019 18:55:16 GMT']
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable']
      dataserviceversion: ['3.0']
      etag: ['0x8D6A0D2F0F1D0A6']
      last-modified: ['Mon, 04 Mar 2019 18:55:16 GMT']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 04 Mar 2019 18:55:16 GMT']
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable']
      dataserviceversion: ['3.0']
      etag: ['0x8D6A0D2F11C7143']
      last-modified: ['Mon, 04 Mar 2019 18:55:16 GMT']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      ocp-date: ['Mon, 04 Mar 2019 18:55:17 GMT']
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate']
      dataserviceversion: ['3.0']
      etag: ['0x8D6A0D2F19AB178']
      last-modified: ['Mon, 04 Mar 2019 18:55:17 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 04 Mar 2019 18:55:17 GMT']
    method: DELETE
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
version: 1
