interactions:
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 27 Oct 2022 23:13:28 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d\",\"url\":\"https://batch.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d\",\"state\":\"creating\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2022-10-27T23:13:25.6782146Z\",\"allocationTime\":\"2022-10-27T23:13:25.6782146Z\",\"ipAddress\":\"10.0.0.5\",\"affinityId\":\"TVM:tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d\",\"vmSize\":\"standard_d2_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.1\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.121.177.139\",\"publicFQDN\":\"dns355d25c6-ebf1-4d6c-9e86-91375faf7bdc-azurebatch-cloudservice.eastus.cloudapp.azure.com\",\"frontendPort\":50001,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n
        \         \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"18.04.202210180\"\r\n
        \       }\r\n      }\r\n    },{\r\n      \"id\":\"tvmps_d94f64902bf9e90be6042701e098db3dfc4680afc6609ea3e1a7c293dc4172ac_d\",\"url\":\"https://batch.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_d94f64902bf9e90be6042701e098db3dfc4680afc6609ea3e1a7c293dc4172ac_d\",\"state\":\"creating\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2022-10-27T23:13:25.6782146Z\",\"allocationTime\":\"2022-10-27T23:13:25.6782146Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_d94f64902bf9e90be6042701e098db3dfc4680afc6609ea3e1a7c293dc4172ac_d\",\"vmSize\":\"standard_d2_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.121.177.139\",\"publicFQDN\":\"dns355d25c6-ebf1-4d6c-9e86-91375faf7bdc-azurebatch-cloudservice.eastus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n
        \         \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"18.04.202210180\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 27 Oct 2022 23:13:50 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d\",\"url\":\"https://batch.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2022-10-27T23:13:42.148274Z\",\"lastBootTime\":\"2022-10-27T23:13:41.642683Z\",\"allocationTime\":\"2022-10-27T23:13:25.6782146Z\",\"ipAddress\":\"10.0.0.5\",\"affinityId\":\"TVM:tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d\",\"vmSize\":\"standard_d2_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"certificateReferences\":[],\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.1\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.121.177.139\",\"publicFQDN\":\"dns355d25c6-ebf1-4d6c-9e86-91375faf7bdc-azurebatch-cloudservice.eastus.cloudapp.azure.com\",\"frontendPort\":50001,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2022-10-27T23:13:41.642683Z\",\"version\":\"1.9.31\"\r\n
        \     },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"18.04.202210180\"\r\n
        \       }\r\n      }\r\n    },{\r\n      \"id\":\"tvmps_d94f64902bf9e90be6042701e098db3dfc4680afc6609ea3e1a7c293dc4172ac_d\",\"url\":\"https://batch.eastus.batch.azure.com/pools/test_batch_test_batch_comput[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 27 Oct 2022 23:13:51 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#nodes/@Element\",\"id\":\"tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88[...]
- request:
    body: '{"containerUrl": "https://computecontainer.blob.core.windows.net/", "startTime":
      "2022-10-27T23:07:51.247637Z"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 27 Oct 2022 23:13:51 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d/uploadbatchservicelogs?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult\",\"virtualDirectoryName\":\"batch-22EF70058626899F/test_batch_test_batch_compute_nodesff3f0e45/tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d/09ab9e0f-d024-4337-b7b3-5c2995e75ca4\",\"numberOfFilesUploaded\":4\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 27 Oct 2022 23:13:51 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d/disablescheduling?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d/disablescheduling
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 27 Oct 2022 23:13:51 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d/enablescheduling?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d/enablescheduling
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"nodeRebootOption": "terminate"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 27 Oct 2022 23:13:52 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d/reboot?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d/reboot
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
- request:
    body: '{"nodeReimageOption": "terminate"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 27 Oct 2022 23:13:52 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_d94f64902bf9e90be6042701e098db3dfc4680afc6609ea3e1a7c293dc4172ac_d/reimage?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"OperationNotValidOnNode\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The specified operation is not valid on
        the node.\\nRequestId:6e6d5462-5901-4ef3-b439-a5c8db357203\\nTime:2022-10-27T23:13:52.3862909Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"Reason\",\"value\":\"Operation
        reimage can be invoked only on pools created with cloudServiceConfiguration\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 409
      message: The specified operation is not valid on the node.
- request:
    body: '{"nodeList": ["tvmps_79fc34fd35c72e0faf1296d2939fd8387da182ebbc88e2d865c9ec81bf932873_d",
      "tvmps_d94f64902bf9e90be6042701e098db3dfc4680afc6609ea3e1a7c293dc4172ac_d"]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 27 Oct 2022 23:13:52 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/removenodes?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/removenodes
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DAB870E9E1ACFB'
      last-modified:
      - Thu, 27 Oct 2022 23:13:52 GMT
    status:
      code: 202
      message: Accepted
version: 1
