interactions:
- request:
    body: '{"id": "batch_iaas_449c15bb", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer",
      "sku": "2016-Datacenter-smalldisk"}, "nodeAgentSKUId": "batch.node.windows amd64",
      "windowsConfiguration": {"enableAutomaticUpdates": true}}, "taskSchedulingPolicy":
      {"nodeFillType": "pack"}, "mountConfiguration": [{"azureBlobFileSystemConfiguration":
      {"accountName": "test", "containerName": "https://test.blob.core.windows.net:443/test-container",
      "accountKey": "fake_account_key", "relativeMountPath": "foo"}}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Mon, 09 Nov 2020 23:10:34 GMT
    method: POST
    uri: https://batch449c15bb.westcentralus.batch.azure.com/pools?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch449c15bb.westcentralus.batch.azure.com/pools/batch_iaas_449c15bb
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D88504AA487E3A'
      last-modified:
      - Mon, 09 Nov 2020 23:10:35 GMT
      location:
      - https://batch449c15bb.westcentralus.batch.azure.com/pools/batch_iaas_449c15bb
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Mon, 09 Nov 2020 23:10:35 GMT
    method: GET
    uri: https://batch449c15bb.westcentralus.batch.azure.com/pools/batch_iaas_449c15bb?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch449c15bb.westcentralus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"batch_iaas_449c15bb\",\"url\":\"https://batch449c15bb.westcentralus.batch.azure.com/pools/batch_iaas_449c15bb\"\
        ,\"eTag\":\"0x8D88504AA487E3A\",\"lastModified\":\"2020-11-09T23:10:35.6166202Z\"\
        ,\"creationTime\":\"2020-11-09T23:10:35.6166202Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2020-11-09T23:10:35.6166202Z\",\"allocationState\"\
        :\"resizing\",\"allocationStateTransitionTime\":\"2020-11-09T23:10:35.6166202Z\"\
        ,\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\"\
        :1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Pack\"\r\n  },\"virtualMachineConfiguration\"\
        :{\r\n    \"imageReference\":{\r\n      \"publisher\":\"MicrosoftWindowsServer\"\
        ,\"offer\":\"WindowsServer\",\"sku\":\"2016-Datacenter-smalldisk\",\"version\"\
        :\"latest\"\r\n    },\"nodeAgentSKUId\":\"batch.node.windows amd64\",\"windowsConfiguration\"\
        :{\r\n      \"enableAutomaticUpdates\":true\r\n    }\r\n  },\"mountConfiguration\"\
        :[\r\n    {\r\n      \"azureBlobFileSystemConfiguration\":{\r\n        \"\
        accountName\":\"test\",\"containerName\":\"https://test.blob.core.windows.net:443/test-container\"\
        ,\"relativeMountPath\":\"foo\"\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D88504AA487E3A'
      last-modified:
      - Mon, 09 Nov 2020 23:10:35 GMT
    status:
      code: 200
      message: OK
version: 1
