interactions:
- request:
    body: null
    headers:
      ocp-date:
      - Sun, 09 Jan 2022 07:40:26 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/supportedimages?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#supportedimages\",\"value\":[\r\n
        \   {\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux\",\"sku\":\"8_4\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.el
        8\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux\",\"sku\":\"8_4-gen2\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.el
        8\",\"capabilities\":[\r\n        \"Generation2VMImage\"\r\n      ],\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"batch\",\"offer\":\"rendering-centos73\",\"sku\":\"rendering\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.centos
        7\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"batch\",\"offer\":\"rendering-windows2016\",\"sku\":\"rendering\",\"version[...]
- request:
    body: '{"id": "batch_iaas_f0260dd0", "vmSize": "standard_d1_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer",
      "sku": "2016-Datacenter-smalldisk"}, "nodeAgentSKUId": "batch.node.windows amd64",
      "windowsConfiguration": {"enableAutomaticUpdates": true}}, "taskSchedulingPolicy":
      {"nodeFillType": "pack"}, "userAccounts": [{"name": "test-user-1", "password":
      "kt#_gahr!@aGERDXA"}, {"name": "test-user-2", "password": "kt#_gahr!@aGERDXA",
      "elevationLevel": "admin"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Sun, 09 Jan 2022 07:40:26 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0260dd0.southcentralus.batch.azure.com/pools/batch_iaas_f0260dd0
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9D3434D90F93C'
      last-modified:
      - Sun, 09 Jan 2022 07:40:26 GMT
      location:
      - https://batch.southcentralus.batch.azure.com/pools/batch_iaas_f0260dd0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Sun, 09 Jan 2022 07:40:26 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/nodecounts?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#poolnodecounts\",\"value\":[\r\n
        \   {\r\n      \"poolId\":\"batch_iaas_f0260dd0\",\"dedicated\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "batch_network_f0260dd0", "vmSize": "standard_d1_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "18.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 18.04"}, "networkConfiguration":
      {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Sun, 09 Jan 2022 07:40:26 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools?api-version=2022-01-01.15.0&timeout=45
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidPropertyValue\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The value provided for one of the properties
        in the request body is invalid.\\nRequestId:d5f7e1db-409a-4171-a9bd-95ce1dcb66ba\\nTime:2022-01-09T07:40:26.9208425Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\":\"subnetId\"\r\n
        \   },{\r\n      \"key\":\"PropertyValue\",\"value\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\r\n
        \   },{\r\n      \"key\":\"Reason\",\"value\":\"The specified subnetId is
        in a different subscription and cannot be used with the current Batch account
        in subscription 00000000-0000-0000-0000-000000000000\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 400
      message: The value provided for one of the properties in the request body is
        invalid.
- request:
    body: '{"id": "batch_image_f0260dd0", "vmSize": "standard_d1_v2", "virtualMachineConfiguration":
      {"imageReference": {"virtualMachineImageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Compute/gallery/FakeGallery/images/FakeImage/versions/version"},
      "nodeAgentSKUId": "batch.node.ubuntu 18.04"}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Sun, 09 Jan 2022 07:40:27 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools?api-version=2[...]
- request:
    body: '{"id": "batch_disk_f0260dd0", "vmSize": "standard_d1_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "18.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 18.04", "dataDisks": [{"lun":
      1, "diskSizeGB": 50}]}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Sun, 09 Jan 2022 07:40:27 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0260dd0.southcentralus.batch.azure.com/pools/batch_disk_f0260dd0
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9D3434DE13CC4'
      last-modified:
      - Sun, 09 Jan 2022 07:40:27 GMT
      location:
      - https://batch.southcentralus.batch.azure.com/pools/batch_disk_f0260dd0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Sun, 09 Jan 2022 07:40:27 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/batch_disk_f0260dd0?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_disk_f0260dd0\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/batch_disk_f0260dd0\",\"eTag\":\"0x8D9D3434DE13CC4\",\"lastModified\":\"2022-01-09T07:40:27.2512196Z\",\"creationTime\":\"2022-01-09T07:40:27.2512196Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-01-09T07:40:27.2512196Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2022-01-09T07:40:27.2512196Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\",\"dataDisks\":[\r\n      {\r\n
        \       \"lun\":1,\"caching\":\"none\",\"diskSizeGB\":50,\"storageAccountType\":\"standard_lrs\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9D3434DE13CC4'
      last-modified:
      - Sun, 09 Jan 2022 07:40:27 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "batch_app_f0260dd0", "vmSize": "standard_d1_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "18.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 18.04", "dataDisks": [{"lun":
      1, "diskSizeGB": 50}]}, "applicationLicenses": ["maya"]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Sun, 09 Jan 2022 07:40:27 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0260dd0.southcentralus.batch.azure.com/pools/batch_app_f0260dd0
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9D3434E21EF6F'
      last-modified:
      - Sun, 09 Jan 2022 07:40:27 GMT
      location:
      - https://batch.southcentralus.batch.azure.com/pools/batch_app_f0260dd0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Sun, 09 Jan 2022 07:40:27 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/batch_app_f0260dd0?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_app_f0260dd0\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/batch_app_f0260dd0\",\"eTag\":\"0x8D9D3434E21EF6F\",\"la[...]
- request:
    body: '{"id": "batch_ade_f0260dd0", "vmSize": "standard_d1_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "18.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 18.04", "diskEncryptionConfiguration":
      {"targets": ["temporarydisk"]}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Sun, 09 Jan 2022 07:40:27 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0260dd0.southcentralus.batch.azure.com/pools/batch_ade_f0260dd0
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9D3434E524E71'
      last-modified:
      - Sun, 09 Jan 2022 07:40:27 GMT
      location:
      - https://batch.southcentralus.batch.azure.com/pools/batch_ade_f0260dd0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Sun, 09 Jan 2022 07:40:28 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/batch_ade_f0260dd0?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_ade_f0260dd0\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/batch_ade_f0260dd0\",\"eTag\":\"0x8D9D3434E524E71\",\"la[...]
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Sun, 09 Jan 2022 07:40:28 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools?api-version=2022-01-01.15.0&maxresults=1&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_ade_f0260dd0\",\"url\":\"https://batch.southcentr[...]
- request:
    body: null
    headers:
      ocp-date:
      - Sun, 09 Jan 2022 07:40:28 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools?api-version=2022-01-01.15.0&$filter=startswith%28id%2C%27batch_app_%27%29&$select=id%2Cstate&$expand=stats&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_app_f0260dd0\",\"state\":\"active\"\r\n    }\r\n
        \ ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
