{
  "Entries": [
    {
      "RequestUri": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d/enableautoscale?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 06 Sep 2023 09:12:52 GMT"
      },
      "RequestBody": {
        "autoScaleFormula": "$TargetDedicatedNodes=2",
        "autoScaleEvaluationInterval": "PT06M00S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d/enableautoscale",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DBAEB9737D2CB2",
        "Last-Modified": "Wed, 06 Sep 2023 09:12:53 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d/evaluateautoscale?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 06 Sep 2023 09:12:53 GMT"
      },
      "RequestBody": {
        "autoScaleFormula": "$TargetDedicatedNodes=3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d/evaluateautoscale",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch2b9b1f4d.eastasia.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun",
        "timestamp": "2023-09-06T09:12:55.1901739Z",
        "results": "$TargetDedicatedNodes=3;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue"
      }
    },
    {
      "RequestUri": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Wed, 06 Sep 2023 09:12:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DBAEB9737D2CB2",
        "Last-Modified": "Wed, 06 Sep 2023 09:12:53 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch2b9b1f4d.eastasia.batch.azure.com/$metadata#pools/@Element",
        "id": "2b9b1f4d",
        "displayName": "test_pool",
        "url": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d",
        "eTag": "0x8DBAEB9737D2CB2",
        "lastModified": "2023-09-06T09:12:53.2823218Z",
        "creationTime": "2023-09-06T09:12:53.2823218Z",
        "state": "active",
        "stateTransitionTime": "2023-09-06T09:12:53.2823218Z",
        "allocationState": "steady",
        "allocationStateTransitionTime": "2023-09-06T09:12:54.9618678Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": true,
        "autoScaleFormula": "$TargetDedicatedNodes=2",
        "autoScaleEvaluationInterval": "PT6M",
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "task-user",
            "elevationLevel": "admin"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04"
        }
      }
    },
    {
      "RequestUri": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d/disableautoscale?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Wed, 06 Sep 2023 09:12:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d/disableautoscale",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DBAEB974C9AD50",
        "Last-Modified": "Wed, 06 Sep 2023 09:12:55 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d/resize?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 06 Sep 2023 09:12:54 GMT"
      },
      "RequestBody": {
        "targetDedicatedNodes": 0,
        "targetLowPriorityNodes": 2
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d/resize",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DBAEB974F159CB",
        "Last-Modified": "Wed, 06 Sep 2023 09:12:55 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d/stopresize?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Wed, 06 Sep 2023 09:12:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d/stopresize",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DBAEB974F159CB",
        "Last-Modified": "Wed, 06 Sep 2023 09:12:55 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Wed, 06 Sep 2023 09:12:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DBAEB974F159CB",
        "Last-Modified": "Wed, 06 Sep 2023 09:12:55 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch2b9b1f4d.eastasia.batch.azure.com/$metadata#pools/@Element",
        "id": "2b9b1f4d",
        "displayName": "test_pool",
        "url": "https://batch2b9b1f4d.eastasia.batch.azure.com/pools/2b9b1f4d",
        "eTag": "0x8DBAEB974F159CB",
        "lastModified": "2023-09-06T09:12:55.7214155Z",
        "creationTime": "2023-09-06T09:12:53.2823218Z",
        "state": "active",
        "stateTransitionTime": "2023-09-06T09:12:53.2823218Z",
        "allocationState": "steady",
        "allocationStateTransitionTime": "2023-09-06T09:13:00.9148135Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 2,
        "resizeErrors": [
          {
            "code": "ResizeStopped",
            "message": "Desired number of low priority nodes could not be allocated due to a stop resize operation"
          }
        ],
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "task-user",
            "elevationLevel": "admin"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04"
        }
      }
    },
    {
      "RequestUri": "https://batch2b9b1f4d.eastasia.batch.azure.com/poolusagemetrics?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Wed, 06 Sep 2023 09:12:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch2b9b1f4d.eastasia.batch.azure.com/$metadata#poolusagemetrics",
        "value": []
      }
    }
  ],
  "Variables": {}
}
