interactions:
- request:
    body: '{"id": "batch_network_814e11b1", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}, "targetDedicatedNodes":
      1, "networkConfiguration": {"endpointConfiguration": {"inboundNATPools": [{"name":
      "TestEndpointConfig", "protocol": "udp", "backendPort": 64444, "frontendPortRangeStart":
      60000, "frontendPortRangeEnd": 61000, "networkSecurityGroupRules": [{"priority":
      150, "access": "allow", "sourceAddressPrefix": "*"}]}]}}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 04 Mar 2019 19:01:56 GMT']
    method: POST
    uri: https://batch814e11b1.westcentralus.batch.azure.com/pools?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch814e11b1.westcentralus.batch.azure.com/pools/batch_network_814e11b1']
      dataserviceversion: ['3.0']
      etag: ['0x8D6A0D3E00D60D9']
      last-modified: ['Mon, 04 Mar 2019 19:01:57 GMT']
      location: ['https://batch814e11b1.westcentralus.batch.azure.com/pools/batch_network_814e11b1']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 04 Mar 2019 19:01:57 GMT']
    method: GET
    uri: https://batch814e11b1.westcentralus.batch.azure.com/pools/batch_network_814e11b1?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch814e11b1.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_network_814e11b1\",\"url\":\"https://batch814e11b1.westcentralus.batch.azure.com/pools/batch_network_814e11b1\",\"eTag\":\"0x8D6A0D3E00D60D9\",\"lastModified\":\"2019-03-04T19:01:57.7020633Z\",\"creationTime\":\"2019-03-04T19:01:57.7020633Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-03-04T19:01:57.7020633Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2019-03-04T19:01:57.7020633Z\",\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n  },\"networkConfiguration\":{\r\n
        \   \"endpointConfiguration\":{\r\n      \"inboundNATPools\":[\r\n        {\r\n
        \         \"name\":\"TestEndpointConfig\",\"protocol\":\"udp\",\"backendPort\":64444,\"frontendPortRangeStart\":60000,\"frontendPortRangeEnd\":61000,\"networkSecurityGroupRules\":[\r\n
        \           {\r\n              \"priority\":150,\"access\":\"allow\",\"sourceAddressPrefix\":\"*\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D6A0D3E00D60D9']
      last-modified: ['Mon, 04 Mar 2019 19:01:57 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      ocp-date: ['Mon, 04 Mar 2019 19:03:30 GMT']
    method: GET
    uri: https://batch814e11b1.westcentralus.batch.azure.com/pools/batch_network_814e11b1/nodes?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch814e11b1.westcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_0387cc455c178a18f1f036c5b2957b7c3054818b557dd76b733dfd4afb39d8ef_d\",\"url\":\"https://batch814e11b1.westcentralus.batch.azure.com/pools/batch_network_814e11b1/nodes/tvmps_0387cc455c178a18f1f036c5b2957b7c3054818b557dd76b733dfd4afb39d8ef_d\",\"state\":\"starting\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2019-03-04T19:03:25.3267566Z\",\"allocationTime\":\"2019-03-04T19:03:24.2023395Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_0387cc455c178a18f1f036c5b2957b7c3054818b557dd76b733dfd4afb39d8ef_d\",\"vmSize\":\"standard_a1\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"TestEndpointConfig.0\",\"protocol\":\"udp\",\"publicIPAddress\":\"13.78.143.128\",\"publicFQDN\":\"dns19b2ab87-8349-48e2-8243-079f0d7de011-azurebatch-cloudservice.westcentralus.cloudapp.azure.com\",\"frontendPort\":60000,\"backendPort\":64444\r\n
        \         },{\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"13.78.143.128\",\"publicFQDN\":\"dns19b2ab87-8349-48e2-8243-079f0d7de011-azurebatch-cloudservice.westcentralus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
version: 1
