interactions:
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 07 Aug 2019 00:09:40 GMT
    method: GET
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/supportedimages?api-version=2019-08-01.10.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#supportedimages\",\"value\":[\r\n
        \   {\r\n      \"imageReference\":{\r\n        \"publisher\":\"batch\",\"offer\":\"rendering-centos73\",\"sku\":\"rendering\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.centos
        7\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"batch\",\"offer\":\"rendering-windows2016\",\"sku\":\"rendering\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.windows
        amd64\",\"osType\":\"windows\"\r\n    },{\r\n      \"imageReference\":{\r\n
        \       \"publisher\":\"canonical\",\"offer\":\"ubuntuserver\",\"sku\":\"14.04.5-lts\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.ubuntu
        14.04\",\"batchSupportEndOfLife\":\"2019-06-15T00:00:00Z\",\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"canonical\",\"offer\":\"ubuntuserver\",\"sku\":\"16.04-lts\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"verified\",\"nodeAgentSKUId\":\"batch.node.ubuntu
        16.04\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n
        \       \"publisher\":\"canonical\",\"offer\":\"ubuntuserver\",\"sku\":\"16.04.0-lts\",\"version\":\"latest\"\[...]
- request:
    body: '{"id": "batch_iaas_f0260dd0", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer",
      "sku": "2016-Datacenter-smalldisk"}, "nodeAgentSKUId": "batch.node.windows amd64",
      "windowsConfiguration": {"enableAutomaticUpdates": true}}, "taskSchedulingPolicy":
      {"nodeFillType": "pack"}, "userAccounts": [{"name": "test-user-1", "password":
      "kt#_gahr!@aGERDXA"}, {"name": "test-user-2", "password": "kt#_gahr!@aGERDXA",
      "elevationLevel": "admin"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 07 Aug 2019 00:09:40 GMT
    method: POST
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools?api-version=2019-08-01.10.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_iaas_f0260dd0
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D71ACB8B2F0581'
      last-modified:
      - Wed, 07 Aug 2019 00:09:41 GMT
      location:
      - https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_iaas_f0260dd0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 07 Aug 2019 00:09:41 GMT
    method: GET
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/nodecounts?api-version=2019-08-01.10.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#poolnodecounts\",\"value\":[\r\n
        \   {\r\n      \"poolId\":\"batch_iaas_f0260dd0\",\"dedicated\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: 'b''b\''{"id": "batch_network_f0260dd0", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}, "networkConfiguration":
      {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"}}\'''''
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 07 Aug 2019 00:09:41 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools?api-version=2019-08-01.10.0&timeout=45
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidPropertyValue\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The value provided for one of the properties
        in the request body is invalid.\\nRequestId:53978292-27ac-43c3-ba32-61dc9647b120\\nTime:2019-08-07T00:09:42.6572716Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\":\"subnetId\"\r\n
        \   },{\r\n      \"key\":\"PropertyValue\",\"value\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\r\n
        \   },{\r\n      \"key\":\"Reason\",\"value\":\"The specified subnetId is
        in a different subscription and cannot be used with the current Batch account
        in subscription 00000000-0000-0000-0000-000000000000\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 400
      message: The value provided for one of the properties in the request body is
        invalid.
- request:
    body: 'b''b\''{"id": "batch_image_f0260dd0", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"virtualMachineImageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Compute/images/FakeImage"},
      "nodeAgentSKUId": "batch.node.ubuntu 16.04"}}\'''''
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 07 Aug 2019 00:09:42 GMT
      return-client-request-id:
      - 'false'
    method: POST
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools?api-version=2019-08-01.10.0&timeout=45[...]
- request:
    body: '{"id": "batch_disk_f0260dd0", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04", "dataDisks": [{"lun":
      1, "diskSizeGB": 50}]}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 07 Aug 2019 00:09:42 GMT
    method: POST
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools?api-version=2019-08-01.10.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_disk_f0260dd0
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D71ACB8C85C460'
      last-modified:
      - Wed, 07 Aug 2019 00:09:43 GMT
      location:
      - https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_disk_f0260dd0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 07 Aug 2019 00:09:43 GMT
    method: GET
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_disk_f0260dd0?api-version=2019-08-01.10.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_disk_f0260dd0\",\"url\":\"https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_disk_f0260dd0\",\"eTag\":\"0x8D71ACB8C85C460\",\"lastModified\":\"2019-08-07T00:09:43.4474592Z\",\"creationTime\":\"2019-08-07T00:09:43.4474592Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-08-07T00:09:43.4474592Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2019-08-07T00:09:43.4474592Z\",\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\",\"dataDisks\":[\r\n      {\r\n
        \       \"lun\":1,\"caching\":\"none\",\"diskSizeGB\":50,\"storageAccountType\":\"standard_lrs\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D71ACB8C85C460'
      last-modified:
      - Wed, 07 Aug 2019 00:09:43 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "batch_app_f0260dd0", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04", "dataDisks": [{"lun":
      1, "diskSizeGB": 50}]}, "applicationLicenses": ["maya"]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 07 Aug 2019 00:09:43 GMT
    method: POST
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools?api-version=2019-08-01.10.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_app_f0260dd0
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D71ACB8D1E5AE0'
      last-modified:
      - Wed, 07 Aug 2019 00:09:44 GMT
      location:
      - https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_app_f0260dd0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 07 Aug 2019 00:09:44 GMT
    method: GET
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_app_f0260dd0?api-version=2019-08-01.10.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_app_f0260dd0\",\"url\":\"https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_app_f0260dd0\",\"eTag\":\"0x8[...]
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 07 Aug 2019 00:09:44 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools?api-version=2019-08-01.10.0&maxresults=1&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_app_f0260dd0\",\"url\":\"https://ba[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 07 Aug 2019 00:09:44 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools?api-version=2019-08-01.10.0&$filter=startswith%28id%2C%27batch_app_%27%29&$select=id%2Cstate&$expand=stats&maxresults=1000&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_app_f0260dd0\",\"state\":\"active\"\r\n    }\r\n
        \ ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
