interactions:
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:55 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/supportedimages?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#supportedimages\",\"value\":[\r\n
        \   {\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux\",\"sku\":\"8_4\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.el
        8\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux\",\"sku\":\"8_4-gen2\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.el
        8\",\"capabilities\":[\r\n        \"Generation2VMImage\"\r\n      ],\"osType\":\"linux\"\r\n
        \   },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux\",\"sku\":\"8_5\",\"version\":\"latest\"\r\n
        \     },\"verificationType\":\"unverified\",\"nodeAgentSKUId\":\"batch.node.el
        8\",\"osType\":\"linux\"\r\n    },{\r\n      \"imageReference\":{\r\n        \"publisher\":\"almalinux\",\"offer\":\"almalinux\",\"sku\":\"8_5-gen2\",\"version\":\"latest\"\r\n
    [...]
- request:
    body: '{"id": "batch_iaas_f0260dd0", "vmSize": "standard_d2_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "MicrosoftWindowsServer", "offer": "WindowsServer",
      "sku": "2016-Datacenter-smalldisk"}, "nodeAgentSKUId": "batch.node.windows amd64",
      "windowsConfiguration": {"enableAutomaticUpdates": true}}, "taskSchedulingPolicy":
      {"nodeFillType": "pack"}, "userAccounts": [{"name": "test-user-1", "password":
      "kt#_gahr!@aGERDXA"}, {"name": "test-user-2", "password": "kt#_gahr!@aGERDXA",
      "elevationLevel": "admin"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Tue, 28 Feb 2023 21:21:56 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0260dd0.eastus.batch.azure.com/pools/batch_iaas_f0260dd0
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19D1D1D39FDE'
      last-modified:
      - Tue, 28 Feb 2023 21:21:56 GMT
      location:
      - https://batch.eastus.batch.azure.com/pools/batch_iaas_f0260dd0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:56 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/nodecounts?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#poolnodecounts\",\"value\":[\r\n
        \   {\r\n      \"poolId\":\"batch_iaas_f0260dd0\",\"dedicated\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "batch_network_f0260dd0", "vmSize": "standard_d2_v2", "networkConfiguration":
      {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "virtualMachineConfiguration": {"imageReference": {"publisher": "Canonical",
      "offer": "UbuntuServer", "sku": "18.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu
      18.04"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Tue, 28 Feb 2023 21:21:56 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidPropertyValue\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The value provided for one of the properties
        in the request body is invalid.\\nRequestId:cfa63227-ece0-4422-bdf1-6fabf99899db\\nTime:2023-02-28T21:21:56.7354539Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\":\"subnetId\"\r\n
        \   },{\r\n      \"key\":\"PropertyValue\",\"value\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\r\n
        \   },{\r\n      \"key\":\"Reason\",\"value\":\"The specified subnetId is
        in a different subscription and cannot be used with the current Batch account
        in subscription 00000000-0000-0000-0000-000000000000\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 400
      message: The value provided for one of the properties in the request body is
        invalid.
- request:
    body: '{"id": "batch_image_f0260dd0", "vmSize": "standard_d2_v2", "virtualMachineConfiguration":
      {"imageReference": {"virtualMachineImageId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Compute/gallery/FakeGallery/images/FakeImage/versions/version"},
      "nodeAgentSKUId": "batch.node.ubuntu 18.04"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Tue, 28 Feb 2023 21:21:57 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.meta[...]
- request:
    body: '{"id": "batch_disk_f0260dd0", "vmSize": "standard_d2_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "18.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 18.04", "dataDisks": [{"lun":
      1, "diskSizeGB": 50}]}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Tue, 28 Feb 2023 21:21:57 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0260dd0.eastus.batch.azure.com/pools/batch_disk_f0260dd0
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19D1D27B5224'
      last-modified:
      - Tue, 28 Feb 2023 21:21:57 GMT
      location:
      - https://batch.eastus.batch.azure.com/pools/batch_disk_f0260dd0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:57 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools/batch_disk_f0260dd0?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_disk_f0260dd0\",\"url\":\"https://batch.eastus.batch.azure.com/pools/batch_disk_f0260dd0\",\"eTag\":\"0x8DB19D1D27B5224\",\"lastModified\":\"2023-02-28T21:21:57.3213732Z\",\"creationTime\":\"2023-02-28T21:21:57.3213732Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-02-28T21:21:57.3213732Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2023-02-28T21:21:57.3213732Z\",\"vmSize\":\"standard_d2_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\",\"dataDisks\":[\r\n      {\r\n
        \       \"lun\":1,\"caching\":\"none\",\"diskSizeGB\":50,\"storageAccountType\":\"standard_lrs\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19D1D27B5224'
      last-modified:
      - Tue, 28 Feb 2023 21:21:57 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "batch_app_f0260dd0", "vmSize": "standard_d2_v2", "applicationLicenses":
      ["maya"], "virtualMachineConfiguration": {"imageReference": {"publisher": "Canonical",
      "offer": "UbuntuServer", "sku": "18.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu
      18.04", "dataDisks": [{"lun": 1, "diskSizeGB": 50}]}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Tue, 28 Feb 2023 21:21:58 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0260dd0.eastus.batch.azure.com/pools/batch_app_f0260dd0
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19D1D2DCFAB6'
      last-modified:
      - Tue, 28 Feb 2023 21:21:57 GMT
      location:
      - https://batch.eastus.batch.azure.com/pools/batch_app_f0260dd0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:58 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools/batch_app_f0260dd0?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_app_f0260dd0\",\"url\":\"https://batch.eastus.batch.azure.com/pools/batch_app_f0260dd0\",\"eTag\":\"0x8DB19D1D2DCFAB6\",\"lastModified\":\"2023-02-2[...]
- request:
    body: '{"id": "batch_ade_f0260dd0", "vmSize": "standard_d2_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "18.04-LTS"}, "diskEncryptionConfiguration": {"targets": ["temporarydisk"]},
      "nodeAgentSKUId": "batch.node.ubuntu 18.04"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Tue, 28 Feb 2023 21:21:58 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0260dd0.eastus.batch.azure.com/pools/batch_ade_f0260dd0
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19D1D34BE938'
      last-modified:
      - Tue, 28 Feb 2023 21:21:58 GMT
      location:
      - https://batch.eastus.batch.azure.com/pools/batch_ade_f0260dd0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:59 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools/batch_ade_f0260dd0?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_ade_f0260dd0\",\"url\":\"https://batch.eastus.batch.azure.com/pools/batch_ade_f0260dd0\",\"eTag\":\"0x8DB19D1D34BE938\",\"lastModified\":\"2023-02-2[...]
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:59 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools?api-version=2022-10-01.16.0&maxresults=1
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_ade_f0260dd0\",\"url\":\"https://batch.eastus.batch.azure.com/pools/batch_ade_f0260dd0\",\"eTag\":\"0x8DB19D1D34BE938\",\"la[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:59 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools?api-version=2022-10-01.16.0&maxresults=1&$skiptoken=WATV2:kuXSvFCoOewI4xLxnLl7r1HXeYokhF92fkE2zzHHNnNrgADdpb%5ENVStZqwPAFdLHouSaaDonVpC9XMTMl/xQOizkzYFKueqpmulq%5Eb65pbq%5EQWYhvNGtMfGs8/bZslaq6/z0jAjTVkmkK05UJC0yOe%5EofnPoIfBM81cP2jdQEkGySVvbM1JFpdqUhWr%5EnPqXrqyKXKoukOd8zuZgNzLbG2rwG1UaDWtEwdMNNd3IMgiuEFegjw9B0FVZlYdpF1yYUOMEED6hy5TKlgD[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:22:00 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools?api-version=2022-10-01.16.0&maxresults=1&$skiptoken=WATV2:NeT0vYzthqzUkib4gkWwkhPkmOH4o8Bp5wa0o6/iwx9GYuRAilqZ8o%5EATqx90qC8UHZ41y8dStfq18jcJC50ff/pVpEjhLVZpYGImN1JZBwYstf8H7z7R3tjx2kd61TToYbAPazRQLe2Gee66iqLnGhcWNEEBDK2c73DtHJhxlNDXVCh52e0YDZWe/DSJW1bWkTNxVyyGkRwxEOfxInsHwFr%5Eo4c1ZJoIqu9lBG5fS7Q05n0XFvGyIt321GxPF6P4z0fJdmES8lHJhBtVHM/z[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:22:00 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools?api-version=2022-10-01.16.0&maxresults=1&$skiptoken=WATV2:5dF3dHOrGTX6k0IWHv2N9zqIytOj3r9w3QjWZ6qNkih7yWLgexZ7oeinBERvlrdxO%5EgTEpzs8XsLjJoLFpv7e6L0YS/b178mgHx1qtQjsem48fVi3C1PcD/o75Y%5EW5JXcC/r4jhFH7cORPq1FX9VHrEDj/bJyNDL8yyBSs3HQ7S1bhtnGBpOz7UVmWSambx%5ECPnPDXifnxW8iGyKgqZEBQ9tmppmBhsyzyDwPWw%5EExY3kNfc9VZbOiRVj/6s7JWLZrOFSSiltB/pJLbb5NskSaIJfojaxi6Hn1rO80I5%5Eqs=:1$1
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_iaas_f0260dd0\",\"url\":\"https://batch.eastus.batch.azure.com/pools/batch_iaas_f0260dd0\",\"eTag\":\"0x8DB19D1D1D39FDE\",\"lastModified\":\"2023-02-28T21:21:56.2223582Z\",\"creationTime\":\"2023-02-28T21:21:56.2223582Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-02-28T21:21:56.2223582Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2023-02-28T21:21:57.4693736Z\",\"vmSize\":\"standard_d2_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n
        \       {\r\n          \"name\":\"test-user-1\",\"elevationLevel\":\"nonadmin\",\"windowsUserConfiguration\":{\r\n
        \           \"loginMode\":\"batch\"\r\n          }\r\n        },{\r\n          \"name\":\"test-user-2\",\"elevationLevel\":\"admin\",\"windowsUserConfiguration\":{\r\n
        \           \"loginMode\":\"batch\"\r\n          }\r\n        }\r\n      ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \       \"nodeFillType\":\"Pack\"\r\n      },\"virtualMachineConfiguration\":{\r\n
        \       \"imageReference\":{\r\n          \"publisher\":\"MicrosoftWindowsServer\",\"offer\":\"WindowsServer\",\"sku\":\"2016-Datacenter-smalldisk\",\"version\":\"latest\"\r\n
        \       },\"nodeAgentSKUId\":\"batch.node.windows amd64\",\"windowsConfiguration\":{\r\n
        \         \"enableAutomaticUpdates\":true\r\n        }\r\n      }\r\n    }\r\n
        \ ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:22:56 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools?api-version=2022-10-01.16.0&$filter=startswith%28id%2C%27batch_app_%27%29&$select=id%2Cstate&$expand=stats
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_app_f0260dd0\",\"state\":\"active\"\r\n    }\r\n
        \ ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
