interactions:
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 01:08:45 GMT
    method: GET
    uri: https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.westcentralus.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"tvmps_f9416d45bcf416930934914644952c82e6aaa6f1a1546d5b67eba41b4f9512d0_d\"\
        ,\"url\":\"https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_f9416d45bcf416930934914644952c82e6aaa6f1a1546d5b67eba41b4f9512d0_d\"\
        ,\"state\":\"creating\",\"schedulingState\":\"enabled\",\"stateTransitionTime\"\
        :\"2020-11-24T01:08:41.8091569Z\",\"allocationTime\":\"2020-11-24T01:08:41.8091569Z\"\
        ,\"ipAddress\":\"10.218.0.4\",\"affinityId\":\"TVM:tvmps_f9416d45bcf416930934914644952c82e6aaa6f1a1546d5b67eba41b4f9512d0_d\"\
        ,\"vmSize\":\"small\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\"\
        :0,\"runningTaskSlotsCount\":0,\"isDedicated\":true,\"endpointConfiguration\"\
        :{\r\n        \"inboundEndpoints\":[\r\n          {\r\n            \"name\"\
        :\"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\",\"protocol\"\
        :\"tcp\",\"frontendPort\":3389,\"backendPort\":20000\r\n          }\r\n  \
        \      ]\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 01:15:29 GMT
    method: GET
    uri: https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.westcentralus.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"tvmps_f9416d45bcf416930934914644952c82e6aaa6f1a1546d5b67eba41b4f9512d0_d\"\
        ,\"url\":\"https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_f9416d45bcf416930934914644952c82e6aaa6f1a1546d5b67eba41b4f9512d0_d\"\
        ,\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\"\
        :\"2020-11-24T01:15:22.04577Z\",\"lastBootTime\":\"2020-11-24T01:15:12.398819Z\"\
        ,\"allocationTime\":\"2020-11-24T01:08:41.8091569Z\",\"ipAddress\":\"10.218.0.4\"\
        ,\"affinityId\":\"TVM:tvmps_f9416d45bcf416930934914644952c82e6aaa6f1a1546d5b67eba41b4f9512d0_d\"\
        ,\"vmSize\":\"small\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\"\
        :0,\"runningTaskSlotsCount\":0,\"certificateReferences\":[\r\n        \r\n\
        \      ],\"isDedicated\":true,\"endpointConfiguration\":{\r\n        \"inboundEndpoints\"\
        :[\r\n          {\r\n            \"name\":\"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\"\
        ,\"protocol\":\"tcp\",\"frontendPort\":3389,\"backendPort\":20000\r\n    \
        \      }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\"\
        :\"2020-11-24T01:15:12.398819Z\",\"version\":\"1.8.7\"\r\n      }\r\n    }\r\
        \n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "BatchPythonSDKUser", "isAdmin": false, "password": "kt#_gahr!@aGERDXA"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 01:15:30 GMT
    method: POST
    uri: https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_f9416d45bcf416930934914644952c82e6aaa6f1a1546d5b67eba41b4f9512d0_d/users?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_f9416d45bcf416930934914644952c82e6aaa6f1a1546d5b67eba41b4f9512d0_d/users/BatchPythonSDKUser
      dataserviceversion:
      - '3.0'
      location:
      - https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_f9416d45bcf416930934914644952c82e6aaa6f1a1546d5b67eba41b4f9512d0_d/users/BatchPythonSDKUser
    status:
      code: 201
      message: Created
- request:
    body: '{"password": "liilef#$DdRGSa_ewkjh"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 01:15:31 GMT
    method: PUT
    uri: https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_f9416d45bcf416930934914644952c82e6aaa6f1a1546d5b67eba41b4f9512d0_d/users/BatchPythonSDKUser?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_f9416d45bcf416930934914644952c82e6aaa6f1a1546d5b67eba41b4f9512d0_d/users/BatchPythonSDKUser
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 01:15:32 GMT
    method: GET
    uri: https://batch.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_f9416d45bcf416930934914644952c82e6aaa6f1a1546d5b67eba41b4f9512d0_d/rdp?api-version=2020-09-01.12.0
  response:
    body:
      string: "full address:s:52.161.100.143\r\nLoadBalanceInfo:s:Cookie: mstshash=TVM#TVM_IN_0"
    headers:
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
