interactions:
- request:
    body: '{"id": "batch_schedule_fe140e2a", "schedule": {"startWindow": "PT01H00M00S",
      "recurrenceInterval": "P1DT00H00M00S"}, "jobSpecification": {"poolInfo": {"poolId":
      "pool_id"}, "constraints": {"maxTaskRetryCount": 2}, "onAllTasksComplete": "terminatejob"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Tue, 28 Feb 2023 21:21:22 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/jobschedules?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19D1BE118251'
      last-modified:
      - Tue, 28 Feb 2023 21:21:23 GMT
      location:
      - https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:23 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/jobschedules?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#jobschedules\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a\",\"eTag\":\"0x8DB19D1BE118251\",\"lastModified\":\"2023-02-28T21:21:23.0734929Z\",\"creationTime\":\"2023-02-28T21:21:23.0734929Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-02-28T21:21:23.0734929Z\",\"schedule\":{\r\n
        \       \"startWindow\":\"PT1H\",\"recurrenceInterval\":\"P1D\"\r\n      },\"jobSpecification\":{\r\n
        \       \"priority\":0,\"maxParallelTasks\":-1,\"allowTaskPreemption\":false,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n
        \         \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \       },\"poolInfo\":{\r\n          \"poolId\":\"pool_id\"\r\n        }\r\n
        \     },\"executionInfo\":{\r\n        \"nextRunTime\":\"2023-03-01T21:21:23.0734929Z\",\"recentJob\":{\r\n
        \         \"url\":\"https://batch.eastus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\",\"id\":\"batch_schedule_fe140e2a:job-1\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:23 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a\",\"eTag\":\"0x8DB19D1BE1[...]
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:23 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/jobs?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_schedule_fe140e2a:job-1\",\"url\":\"https://batch.eastus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\",\"eTag\":\"0x8DB19D1BE18FC5E\",\"lastModified\":\"2023-02-28T21:21:23.1224926Z\",\"creationTime\":\"2023-02-28T21:21:23.1024926Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-02-28T21:21:23.1224926Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \     },\"poolInfo\":{\r\n        \"poolId\":\"pool_id\"\r\n      },\"executionInfo\":{\r\n
        \       \"startTime\":\"2023-02-28T21:21:23.1224926Z\",\"poolId\":\"pool_id\"\r\n
        \     },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:24 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19D1BE9501CA'
      last-modified:
      - Tue, 28 Feb 2023 21:21:23 GMT
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:24 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19D1BEB1637B'
      last-modified:
      - Tue, 28 Feb 2023 21:21:24 GMT
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:24 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB19D1BF037B55'
      last-modified:
      - Tue, 28 Feb 2023 21:21:24 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:25 GMT
    method: DELETE
    uri: https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"TooManyRequests\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"Request failed as server encountered too
        many requests. Please try again.\\nRequestId:9c6e6882-4a39-414f-8d84-7084777385f5\\nTime:2023-02-28T21:21:24.8296496Z\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 429
      message: Request failed as server encountered too many requests. Please try
        again.
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 28 Feb 2023 21:21:25 GMT
    method: DELETE
    uri: https://batch.eastus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
