interactions:
- request:
    body: '{"id": "batch_schedule_fe140e2a", "schedule": {"startWindow": "PT1H", "recurrenceInterval":
      "P1D"}, "jobSpecification": {"onAllTasksComplete": "terminatejob", "constraints":
      {"maxTaskRetryCount": 2}, "poolInfo": {"poolId": "pool_id"}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Mon, 09 Nov 2020 23:25:12 GMT
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D88506B55584A1'
      last-modified:
      - Mon, 09 Nov 2020 23:25:13 GMT
      location:
      - https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Mon, 09 Nov 2020 23:25:13 GMT
    method: GET
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.westcentralus.batch.azure.com/$metadata#jobschedules\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch_schedule_fe140e2a\",\"url\"\
        :\"https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a\"\
        ,\"eTag\":\"0x8D88506B55584A1\",\"lastModified\":\"2020-11-09T23:25:13.1503777Z\"\
        ,\"creationTime\":\"2020-11-09T23:25:13.1503777Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2020-11-09T23:25:13.1503777Z\",\"schedule\":{\r\n\
        \        \"startWindow\":\"PT1H\",\"recurrenceInterval\":\"P1D\"\r\n     \
        \ },\"jobSpecification\":{\r\n        \"priority\":0,\"usesTaskDependencies\"\
        :false,\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\
        ,\"constraints\":{\r\n          \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":2\r\n        },\"poolInfo\":{\r\n          \"poolId\"\
        :\"pool_id\"\r\n        }\r\n      },\"executionInfo\":{\r\n        \"nextRunTime\"\
        :\"2020-11-10T23:25:13.1503777Z\",\"recentJob\":{\r\n          \"url\":\"\
        https://batchfe140e2a.westcentralus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\"\
        ,\"id\":\"batch_schedule_fe140e2a:job-1\"\r\n        }\r\n      }\r\n    }\r\
        \n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Mon, 09 Nov 2020 23:25:13 GMT
    method: GET
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.westcentralus.batch.azure.com/$metadata#jobschedules/@Element\"\
        ,\"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a\"\
        ,\"eTag\":\"0x8D88506B55584A1\",\"lastModified\":\"2020-11-09T23:25:13.1503777Z\"\
        ,\"creationTime\":\"2020-11-09T23:25:13.1503777Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2020-11-09T23:25:13.1503777Z\",\"schedule\":{\r\n\
        \    \"startWindow\":\"PT1H\",\"recurrenceInterval\":\"P1D\"\r\n  },\"jobSpecification\"\
        :{\r\n    \"priority\":0,\"usesTaskDependencies\":false,\"onAllTasksComplete\"\
        :\"terminatejob\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n   \
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\"\
        :2\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"pool_id\"\r\n    }\r\n  },\"\
        executionInfo\":{\r\n    \"nextRunTime\":\"2020-11-10T23:25:13.1503777Z\"\
        ,\"recentJob\":{\r\n      \"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\"\
        ,\"id\":\"batch_schedule_fe140e2a:job-1\"\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D88506B55584A1'
      last-modified:
      - Mon, 09 Nov 2020 23:25:13 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Mon, 09 Nov 2020 23:25:13 GMT
    method: GET
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/jobs?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.westcentralus.batch.azure.com/$metadata#jobs\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch_schedule_fe140e2a:job-1\",\"\
        url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\"\
        ,\"eTag\":\"0x8D88506B55C3B45\",\"lastModified\":\"2020-11-09T23:25:13.1943749Z\"\
        ,\"creationTime\":\"2020-11-09T23:25:13.1803723Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2020-11-09T23:25:13.1943749Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":2\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"\
        pool_id\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2020-11-09T23:25:13.1943749Z\"\
        ,\"poolId\":\"pool_id\"\r\n      },\"onAllTasksComplete\":\"terminatejob\"\
        ,\"onTaskFailure\":\"noaction\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Mon, 09 Nov 2020 23:25:13 GMT
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D88506B598306A'
      last-modified:
      - Mon, 09 Nov 2020 23:25:13 GMT
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      ocp-date:
      - Mon, 09 Nov 2020 23:25:13 GMT
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D88506B5A313B9'
      last-modified:
      - Mon, 09 Nov 2020 23:25:13 GMT
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Mon, 09 Nov 2020 23:25:13 GMT
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D88506B5C62E9A'
      last-modified:
      - Mon, 09 Nov 2020 23:25:13 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Mon, 09 Nov 2020 23:25:13 GMT
    method: DELETE
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
