interactions:
- request:
    body: '{"id": "batch_schedule_fe140e2a", "schedule": {"startWindow": "PT1H", "recurrenceInterval":
      "P1D"}, "jobSpecification": {"maxParallelTasks": -1, "onAllTasksComplete": "terminatejob",
      "constraints": {"maxTaskRetryCount": 2}, "poolInfo": {"poolId": "pool_id"}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Wed, 12 Oct 2022 23:14:17 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/jobschedules?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DAACA77D05BD68'
      last-modified:
      - Wed, 12 Oct 2022 23:14:18 GMT
      location:
      - https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 12 Oct 2022 23:14:18 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/jobschedules?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#jobschedules\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a\",\"eTag\":\"0x8DAACA77D05BD68\",\"lastModified\":\"2022-10-12T23:14:18.3390568Z\",\"creationTime\":\"2022-10-12T23:14:18.3390568Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-10-12T23:14:18.3390568Z\",\"schedule\":{\r\n
        \       \"startWindow\":\"PT1H\",\"recurrenceInterval\":\"P1D\"\r\n      },\"jobSpecification\":{\r\n
        \       \"priority\":0,\"maxParallelTasks\":-1,\"allowTaskPreemption\":false,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n
        \         \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \       },\"poolInfo\":{\r\n          \"poolId\":\"pool_id\"\r\n        }\r\n
        \     },\"executionInfo\":{\r\n        \"nextRunTime\":\"2022-10-13T23:14:18.3390568Z\",\"recentJob\":{\r\n
        \         \"url\":\"https://batch.southcentralus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\",\"id\":\"batch_schedule_fe140e2a:job-1\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 12 Oct 2022 23:14:18 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a\"[...]
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 12 Oct 2022 23:14:18 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/jobs?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_schedule_fe140e2a:job-1\",\"url\":\"https://batch.southcentralus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\",\"eTag\":\"0x8DAACA77D0CC253\",\"lastModified\":\"2022-10-12T23:14:18.3850579Z\",\"creationTime\":\"2022-10-12T23:14:18.3670639Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-10-12T23:14:18.3850579Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \     },\"poolInfo\":{\r\n        \"poolId\":\"pool_id\"\r\n      },\"executionInfo\":{\r\n
        \       \"startTime\":\"2022-10-12T23:14:18.3850579Z\",\"poolId\":\"pool_id\"\r\n
        \     },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 12 Oct 2022 23:14:19 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DAACA77D9525FF'
      last-modified:
      - Wed, 12 Oct 2022 23:14:19 GMT
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 12 Oct 2022 23:14:19 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DAACA77DAFE928'
      last-modified:
      - Wed, 12 Oct 2022 23:14:19 GMT
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 12 Oct 2022 23:14:19 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DAACA77E04F2BF'
      last-modified:
      - Wed, 12 Oct 2022 23:14:20 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 12 Oct 2022 23:14:20 GMT
    method: DELETE
    uri: https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
