{
  "Entries": [
    {
      "RequestUri": "https://batch4d491fc8.eastasia.batch.azure.com/pools?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 06 Sep 2023 09:03:48 GMT"
      },
      "RequestBody": {
        "id": "batch_paas_4d491fc8",
        "vmSize": "standard_d2_v2",
        "cloudServiceConfiguration": {
          "osFamily": "5"
        },
        "startTask": {
          "commandLine": "cmd.exe /c \u0022echo hello world\u0022",
          "resourceFiles": [
            {
              "httpUrl": "https://blobsource.com",
              "filePath": "filename.txt"
            }
          ],
          "environmentSettings": [
            {
              "name": "ENV_VAR",
              "value": "env_value"
            }
          ],
          "userIdentity": {
            "autoUser": {
              "elevationLevel": "admin"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch4d491fc8.eastasia.batch.azure.com/pools/batch_paas_4d491fc8",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DBAEB82FDD56D0",
        "Last-Modified": "Wed, 06 Sep 2023 09:03:50 GMT",
        "Location": "https://batch4d491fc8.eastasia.batch.azure.com/pools/batch_paas_4d491fc8"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch4d491fc8.eastasia.batch.azure.com/pools/batch_paas_4d491fc8/updateproperties?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 06 Sep 2023 09:03:49 GMT"
      },
      "RequestBody": {
        "certificateReferences": [],
        "applicationPackageReferences": [],
        "metadata": [
          {
            "name": "foo",
            "value": "bar"
          }
        ],
        "targetNodeCommunicationMode": "classic"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://batch4d491fc8.eastasia.batch.azure.com/pools/batch_paas_4d491fc8/updateproperties",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DBAEB830D4622C",
        "Last-Modified": "Wed, 06 Sep 2023 09:03:51 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch4d491fc8.eastasia.batch.azure.com/pools/batch_paas_4d491fc8?api-version=2023-05-01.17.0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 06 Sep 2023 09:03:50 GMT"
      },
      "RequestBody": {
        "metadata": [
          {
            "name": "foo2",
            "value": "bar2"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch4d491fc8.eastasia.batch.azure.com/pools/batch_paas_4d491fc8",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DBAEB830E9BEE1",
        "Last-Modified": "Wed, 06 Sep 2023 09:03:52 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch4d491fc8.eastasia.batch.azure.com/pools/batch_paas_4d491fc8?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Wed, 06 Sep 2023 09:03:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DBAEB830E9BEE1",
        "Last-Modified": "Wed, 06 Sep 2023 09:03:52 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4d491fc8.eastasia.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_paas_4d491fc8",
        "url": "https://batch4d491fc8.eastasia.batch.azure.com/pools/batch_paas_4d491fc8",
        "eTag": "0x8DBAEB830E9BEE1",
        "lastModified": "2023-09-06T09:03:52.0897761Z",
        "creationTime": "2023-09-06T09:03:50.3307472Z",
        "state": "active",
        "stateTransitionTime": "2023-09-06T09:03:50.3307472Z",
        "allocationState": "steady",
        "allocationStateTransitionTime": "2023-09-06T09:03:51.9287693Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "certificateReferences": [],
        "metadata": [
          {
            "name": "foo2",
            "value": "bar2"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "cloudServiceConfiguration": {
          "osFamily": "5",
          "osVersion": "*"
        },
        "targetNodeCommunicationMode": "classic"
      }
    },
    {
      "RequestUri": "https://batch4d491fc8.eastasia.batch.azure.com/pools/batch_paas_4d491fc8?api-version=2023-05-01.17.0\u0026$select=id%2Cstate\u0026$expand=stats",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Wed, 06 Sep 2023 09:03:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DBAEB830E9BEE1",
        "Last-Modified": "Wed, 06 Sep 2023 09:03:52 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch4d491fc8.eastasia.batch.azure.com/$metadata#pools/@Element",
        "id": "batch_paas_4d491fc8",
        "state": "active"
      }
    },
    {
      "RequestUri": "https://batch4d491fc8.eastasia.batch.azure.com/pools/batch_paas_4d491fc8?api-version=2023-05-01.17.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": "Wed, 06 Sep 2023 09:03:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
