interactions:
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=2", "autoScaleEvaluationInterval":
      "PT6M"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 14 Jan 2022 23:49:09 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/enableautoscale?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batche2690d64.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/enableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9D7B875D2742C'
      last-modified:
      - Fri, 14 Jan 2022 23:49:10 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=3"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 14 Jan 2022 23:49:10 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/evaluateautoscale?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\",\"timestamp\":\"2022-01-14T23:49:10.1530075Z\",\"results\":\"$TargetDedicatedNodes=3;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceid:
      - https://batche2690d64.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/evaluateautoscale
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 14 Jan 2022 23:49:10 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"test_batch_test_batch_scale_poolse2690d64\",\"displayName\":\"test_pool\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64\",\"eTag\":\"0x8D9D7B875D2742C\",\"lastModified\":\"2022-01-14T23:49:10.0316716Z\",\"creationTime\":\"2022-01-14T23:49:09.4916586Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-01-14T23:49:09.4916586Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2022-01-14T23:49:10.0316716Z\",\"vmSize\":\"standard_d2_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":2,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":true,\"autoScaleFormula\":\"$TargetDedicatedNodes=2\",\"autoScaleEvaluationInterval\":\"PT6M\",\"autoScaleRun\":{\r\n
        \   \"timestamp\":\"2022-01-14T23:49:10.0316716Z\",\"results\":\"$TargetDedicatedNodes=2;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue\"\r\n
        \ },\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n    {\r\n
        \     \"name\":\"task-user\",\"elevationLevel\":\"admin\"\r\n    }\r\n  ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9D7B875D2742C'
      last-modified:
      - Fri, 14 Jan 2022 23:49:10 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 14 Jan 2022 23:50:46 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/disableautoscale?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batche2690d64.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/disableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9D7B8AF09C92F'
      last-modified:
      - Fri, 14 Jan 2022 23:50:46 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"targetDedicatedNodes": 0, "targetLowPriorityNodes": 2}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 14 Jan 2022 23:50:51 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/resize?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batche2690d64.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/resize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9D7B8B2344EC1'
      last-modified:
      - Fri, 14 Jan 2022 23:50:51 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 14 Jan 2022 23:50:51 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/stopresize?api-version=2022-01-01.15.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batche2690d64.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/stopresize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D9D7B8B2462926'
      last-modified:
      - Fri, 14 Jan 2022 23:50:51 GMT
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 14 Jan 2022 23:54:41 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/lifetimepoolstats?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#poolstats/@Element\",\"url\":\"https://batch.southcentralus.batch.azure.com/lifetimepoolstats\",\"usageStats\":{\r\n
        \   \"startTime\":\"2022-01-14T23:41:43.1857777Z\",\"lastUpdateTime\":\"2022-01-14T23:41:43.1857777Z\",\"dedicatedCoreTime\":\"PT0S\"\r\n
        \ },\"resourceStats\":{\r\n    \"startTime\":\"2022-01-14T23:41:43.1857777Z\",\"diskReadIOps\":\"0\",\"diskWriteIOps\":\"0\",\"lastUpdateTime\":\"2022-01-14T23:41:43.1857777Z\",\"avgCPUPercentage\":0.0,\"avgMemoryGiB\":0.0,\"peakMemoryGiB\":0.0,\"avgDiskGiB\":0.0,\"peakDiskGiB\":0.0,\"diskReadGiB\":0.0,\"diskWriteGiB\":0.0,\"networkReadGiB\":0.0,\"networkWriteGiB\":0.0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 14 Jan 2022 23:54:42 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/poolusagemetrics?api-version=2022-01-01.15.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#poolusagemetrics\",\"value\":[]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
