interactions:
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:23:42 GMT
    method: GET
    uri: https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes?api-version=2019-06-01.9.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch498930ae3.westcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d\",\"url\":\"https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d\",\"state\":\"starting\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2019-06-13T19:23:38.5602583Z\",\"allocationTime\":\"2019-06-13T19:23:38.307746Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d\",\"vmSize\":\"standard_a1\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"52.159.19.12\",\"publicFQDN\":\"dnscb8f841f-8564-49d7-afa6-a4df8c71aff7-azurebatch-cloudservice.westcentralus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:24:23 GMT
    method: GET
    uri: https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes?api-version=2019-06-01.9.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch498930ae3.westcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d\",\"url\":\"https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2019-06-13T19:24:20.841072Z\",\"lastBootTime\":\"2019-06-13T19:24:20.401189Z\",\"allocationTime\":\"2019-06-13T19:23:38.307746Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d\",\"vmSize\":\"standard_a1\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"52.159.19.12\",\"publicFQDN\":\"dnscb8f841f-8564-49d7-afa6-a4df8c71aff7-azurebatch-cloudservice.westcentralus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2019-06-13T19:24:20.401189Z\",\"version\":\"1.5.11\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "test_task", "commandLine": "cmd /c \"echo hello world\""}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 13 Jun 2019 19:24:23 GMT
    method: POST
    uri: https://batch498930ae3.westcentralus.batch.azure.com/jobs/batch98930ae3/tasks?api-version=2019-06-01.9.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch498930ae3.westcentralus.batch.azure.com/jobs/batch98930ae3/tasks/test_task
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D6F034BDE50441'
      last-modified:
      - Thu, 13 Jun 2019 19:24:23 GMT
      location:
      - https://batch498930ae3.westcentralus.batch.azure.com/jobs/batch98930ae3/tasks/test_task
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:24:23 GMT
    method: GET
    uri: https://batch498930ae3.westcentralus.batch.azure.com/jobs/batch98930ae3/tasks/test_task?api-version=2019-06-01.9.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch498930ae3.westcentralus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"test_task\",\"url\":\"https://batch498930ae3.westcentralus.batch.azure.com/jobs/batch98930ae3/tasks/test_task\",\"eTag\":\"0x8D6F034BDE50441\",\"creationTime\":\"2019-06-13T19:24:23.4372161Z\",\"lastModified\":\"2019-06-13T19:24:23.4372161Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-06-13T19:24:23.4372161Z\",\"commandLine\":\"cmd
        /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n
        \     \"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n
        \ },\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D6F034BDE50441'
      last-modified:
      - Thu, 13 Jun 2019 19:24:23 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:24:28 GMT
    method: GET
    uri: https://batch498930ae3.westcentralus.batch.azure.com/jobs/batch98930ae3/tasks/test_task?api-version=2019-06-01.9.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch498930ae3.westcentralus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"test_task\",\"url\":\"https://batch498930ae3.westcentralus.batch.azure.com/jobs/batch98930ae3/tasks/test_task\",\"eTag\":\"0x8D6F034BDE50441\",\"creationTime\":\"2019-06-13T19:24:23.4372161Z\",\"lastModified\":\"2019-06-13T19:24:23.4372161Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2019-06-13T19:24:24.965748Z\",\"previousState\":\"running\",\"previousStateTransitionTime\":\"2019-06-13T19:24:24.899226Z\",\"commandLine\":\"cmd
        /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n
        \     \"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n
        \ },\"executionInfo\":{\r\n    \"startTime\":\"2019-06-13T19:24:24.899226Z\",\"endTime\":\"2019-06-13T19:24:24.965748Z\",\"failureInfo\":{\r\n
        \     \"category\":\"UserError\",\"code\":\"CommandProgramNotFound\",\"message\":\"The
        specified command program is not found\",\"details\":[\r\n        {\r\n          \"name\":\"CommandLine\",\"value\":\"cmd
        /c \\\"echo hello world\\\"\"\r\n        },{\r\n          \"name\":\"Message\",\"value\":\"The
        system cannot find the file specified\"\r\n        }\r\n      ]\r\n    },\"result\":\"failure\",\"retryCount\":0,\"requeueCount\":0\r\n
        \ },\"nodeInfo\":{\r\n    \"affinityId\":\"TVM:tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d\",\"nodeUrl\":\"https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d\",\"poolId\":\"test_batch_test_batch_files98930ae3\",\"nodeId\":\"tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d\",\"taskRootDirectory\":\"workitems/batch98930ae3/job-1/test_task\",\"taskRootDirectoryUrl\":\"https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d/files/workitems/batch98930ae3/job-1/test_task\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D6F034BDE50441'
      last-modified:
      - Thu, 13 Jun 2019 19:24:23 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:24:28 GMT
    method: GET
    uri: https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d/files?recursive=true&api-version=2019-06-01.9.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch498930ae3.westcentralus.batch.azure.com/$metadata#files\",\"value\":[\r\n
        \   {\r\n      \"name\":\"applications\",\"url\":\"https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d/files/applications\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"workitems/batch98930ae3/job-1/test_task/wd\",\"url\":\"https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d/files/workitems/batch98930ae3/job-1/test_task/wd\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"volatile\",\"url\":\"https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d/files/volatile\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"workitems/batch98930ae3/job-1/test_task/stderr.txt\",\"url\":\"https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d/files/workitems/batch98930ae3/job-1/test_task/stderr.txt\",\"isDirectory\":false,\"properties\":{\r\n
        \       \"lastModified\":\"2019-06-13T19:24:24.935952Z\",\"contentLength\":\"0\",\"contentType\":\"text/plain\",\"fileMode\":\"0o100644\"\r\n
        \     }\r\n    },{\r\n      \"name\":\"workitems\",\"url\":\"https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d/files/workitems\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"shared\",\"url\":\"https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba2[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:24:29 GMT
    method: HEAD
    uri: https://batch498930ae3.westcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d/files/workitems%2Fbatch98930ae3%2Fjob-1%2Ftest_task%2Fstderr.txt?api-version=2019-06-01.9.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Thu, 13 Jun 2019 19:24:24 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-mode:
      - 0o100644
      ocp-batch-file-url:
      - https%3A%2F%2Fbatch498930ae3.westcentralus.batch.azure.com%2Fpools%2Ftest_batch_test_batch_files98930ae3%2Fnodes%2Ftvmps_2fbfcbb01dd7b45d89f4e56942ebb0eeba267d6468217a18351c1cfbab5ebe20_d%2Ffiles%2Fworkitems%2Fbatch98930ae3%2Fjob-1%2Ftest_task%2Fstderr.txt
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:24:29 GMT
    method: GET
    uri: https://batch498930ae3.westcentralus.batch.azure.com/jobs/batch98930ae3/tasks/test_task/files?api-version=2019-06-01.9.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch498930ae3.westcentralus.batch.azure.com/$metadata#files\",\"value\":[\r\n
        \   {\r\n      \"name\":\"certs\",\"url\":\"https://batch498930ae3.westcentralus.batch.azure.com/jobs/batch98930ae3/tasks/test_task/files/certs\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"wd\",\"url\":\"https://batch498930ae3.westcentralus.batch.azure.com/jobs/batch98930ae3/tasks/test_task/files/wd\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"stdout.txt\",\"url\":\"https://batch498930ae3.westcentralus.batch.azure.com/jobs/batch98930ae3/tasks/test_task/files/stdout.txt\",\"isDirectory\":false,\"properties\":{\r\n
        \       \"lastModified\":\"2019-06-13T19:24:24.935952Z\",\"contentLength\":\"0\",\"contentType\":\"text/plain\",\"fileMode\":\"0o100644\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:24:29 GMT
    method: HEAD
    uri: https://batch498930ae3.westcentralus.batch.azure.com/jobs/batch98930ae3/tasks/test_task/files/stdout.txt?api-version=2019-06-01.9.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Thu, 13 Jun 2019 19:24:24 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-mode:
      - 0o100644
      ocp-batch-file-url:
      - https%3A%2F%2Fbatch498930ae3.westcentralus.batch.azure.com%2Fjobs%2Fbatch98930ae3%2Ftasks%2Ftest_task%2Ffiles%2Fstdout.txt
    status:
      code: 200
      message: OK
[...]
