{
  "Entries": [
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Tue, 11 Jul 2023 05:55:15 GMT"
      },
      "RequestBody": {
        "id": "batch_job1_53a11c67",
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "cloudServiceConfiguration": {
                "osFamily": "5"
              }
            }
          }
        },
        "jobPreparationTask": {
          "commandLine": "cmd /c \u0022echo hello world\u0022"
        },
        "jobReleaseTask": {
          "commandLine": "cmd /c \u0022echo goodbye world\u0022"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch53a11c67.eastus.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB81D3663D8956",
        "Last-Modified": "Tue, 11 Jul 2023 05:55:15 GMT",
        "Location": "https://batch53a11c67.eastus.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67?api-version=2023-05-01.17.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Tue, 11 Jul 2023 05:55:15 GMT"
      },
      "RequestBody": {
        "priority": 500,
        "constraints": {
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "cloudServiceConfiguration": {
                "osFamily": "5"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB81D36741064B",
        "Last-Modified": "Tue, 11 Jul 2023 05:55:17 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Tue, 11 Jul 2023 05:55:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB81D36750BDDB",
        "Last-Modified": "Tue, 11 Jul 2023 05:55:17 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch53a11c67.eastus.batch.azure.com/$metadata#jobs/@Element",
        "id": "batch_job1_53a11c67",
        "url": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67",
        "eTag": "0x8DB81D36750BDDB",
        "lastModified": "2023-07-11T05:55:17.4484443Z",
        "creationTime": "2023-07-11T05:55:15.621833Z",
        "state": "active",
        "stateTransitionTime": "2023-07-11T05:55:15.6448598Z",
        "priority": 900,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "jobPreparationTask": {
          "id": "jobpreparation",
          "commandLine": "cmd /c \u0022echo hello world\u0022",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "retentionTime": "P7D",
            "maxTaskRetryCount": 0
          },
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "waitForSuccess": true,
          "rerunOnNodeRebootAfterSuccess": true
        },
        "jobReleaseTask": {
          "id": "jobrelease",
          "commandLine": "cmd /c \u0022echo goodbye world\u0022",
          "maxWallClockTime": "PT15M",
          "retentionTime": "P7D",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          }
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "keepAlive": false,
            "pool": {
              "vmSize": "standard_d2_v2",
              "taskSlotsPerNode": 1,
              "taskSchedulingPolicy": {
                "nodeFillType": "Spread"
              },
              "resizeTimeout": "PT15M",
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "enableAutoScale": false,
              "enableInterNodeCommunication": false,
              "cloudServiceConfiguration": {
                "osFamily": "5",
                "osVersion": "*"
              }
            }
          }
        },
        "executionInfo": {
          "startTime": "2023-07-11T05:55:15.6448598Z",
          "poolId": "B03E2D01-5AFC-4309-AEA5-DA24DEBAC6C1"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
[...]
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Tue, 11 Jul 2023 05:55:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch53a11c67.eastus.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_job1_53a11c67",
            "url": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67",
            "eTag": "0x8DB81D36750BDDB",
            "lastModified": "2023-07-11T05:55:17.4484443Z",
            "creationTime": "2023-07-11T05:55:15.621833Z",
            "state": "active",
            "stateTransitionTime": "2023-07-11T05:55:15.6448598Z",
            "priority": 900,
            "maxParallelTasks": -1,
            "usesTaskDependen[...]
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/disable?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Tue, 11 Jul 2023 05:55:18 GMT"
      },
      "RequestBody": {
        "disableTasks": "requeue"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB81D3679F64BA",
        "Last-Modified": "Tue, 11 Jul 2023 05:55:17 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/enable?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Tue, 11 Jul 2023 05:55:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB81D367BE1606",
        "Last-Modified": "Tue, 11 Jul 2023 05:55:18 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/jobpreparationandreleasetaskstatus?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Tue, 11 Jul 2023 05:55:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch53a11c67.eastus.batch.azure.com/$metadata#jobpreparationandreleasetaskstatuslist",
        "value": []
      }
    },
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/terminate?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "ocp-date": "Tue, 11 Jul 2023 05:55:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB81D367DBFEB2",
        "Last-Modified": "Tue, 11 Jul 2023 05:55:18 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job2_53a11c67?api-version=2023-05-01.17.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": "Tue, 11 Jul 2023 05:55:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
