interactions:
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 24 May 2023 09:28:34 GMT
    method: GET
    uri: https://batch4.eastasia.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes?api-version=2023-05-01.17.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.eastasia.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d\",\"url\":\"https://batch4.eastasia.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d\",\"state\":\"creating\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2023-05-24T09:28:29.7904025Z\",\"allocationTime\":\"2023-05-24T09:28:29.7904025Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d\",\"vmSize\":\"standard_d2_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.187.187.180\",\"publicFQDN\":\"dns8fb01d81-be9a-4fd7-9a1d-fa3794affb28-azurebatch-cloudservice.eastasia.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n
        \         \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"18.04.202305220\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 24 May 2023 09:28:45 GMT
    method: GET
    uri: https://batch4.eastasia.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes?api-version=2023-05-01.17.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.eastasia.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d\",\"url\":\"https://batch4.eastasia.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2023-05-24T09:28:46.016322Z\",\"lastBootTime\":\"2023-05-24T09:28:45.570415Z\",\"allocationTime\":\"2023-05-24T09:28:29.7904025Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d\",\"vmSize\":\"standard_d2_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"certificateReferences\":[],\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.187.187.180\",\"publicFQDN\":\"dns8fb01d81-be9a-4fd7-9a1d-fa3794affb28-azurebatch-cloudservice.eastasia.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2023-05-24T09:28:45.570415Z\",\"version\":\"1.9.43\"\r\n
        \     },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"18.04.202305220\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "test_task", "commandLine": "cmd /c \"echo hello world\""}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Wed, 24 May 2023 09:28:45 GMT
    method: POST
    uri: https://batch4.eastasia.batch.azure.com/jobs/batch/tasks?api-version=2023-05-01.17.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch498930ae3.eastasia.batch.azure.com/jobs/batch98930ae3/tasks/test_task
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB5C394644A1BF'
      last-modified:
      - Wed, 24 May 2023 09:28:46 GMT
      location:
      - https://batch4.eastasia.batch.azure.com/jobs/batch/tasks/test_task
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 24 May 2023 09:28:45 GMT
    method: GET
    uri: https://batch4.eastasia.batch.azure.com/jobs/batch/tasks/test_task?api-version=2023-05-01.17.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.eastasia.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"test_task\",\"url\":\"https://batch4.eastasia.batch.azure.com/jobs/batch/tasks/test_task\",\"eTag\":\"0x8DB5C394644A1BF\",\"creationTime\":\"2023-05-24T09:28:46.4851391Z\",\"lastModified\":\"2023-05-24T09:28:46.4851391Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-05-24T09:28:46.4851391Z\",\"commandLine\":\"cmd
        /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n
        \     \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB5C394644A1BF'
      last-modified:
      - Wed, 24 May 2023 09:28:46 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 24 May 2023 09:28:50 GMT
    method: GET
    uri: https://batch4.eastasia.batch.azure.com/jobs/batch/tasks/test_task?api-version=2023-05-01.17.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.eastasia.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"test_task\",\"url\":\"https://batch4.eastasia.batch.azure.com/jobs/batch/tasks/test_task\",\"eTag\":\"0x8DB5C394644A1BF\",\"creationTime\":\"2023-05-24T09:28:46.4851391Z\",\"lastModified\":\"2023-05-24T09:28:46.4851391Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2023-05-24T09:28:49.268182Z\",\"previousState\":\"running\",\"previousStateTransitionTime\":\"2023-05-24T09:28:49.192217Z\",\"commandLine\":\"cmd
        /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n
        \     \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"startTime\":\"2023-05-24T09:28:49.242067Z\",\"endTime\":\"2023-05-24T09:28:49.268182Z\",\"failureInfo\":{\r\n
        \     \"category\":\"UserError\",\"code\":\"CommandProgramNotFound\",\"message\":\"The
        specified command program is not found\",\"details\":[\r\n        {\r\n          \"name\":\"Message\",\"value\":\"The
        system cannot find the file specified\"\r\n        }\r\n      ]\r\n    },\"result\":\"failure\",\"retryCount\":0,\"requeueCount\":0\r\n
        \ },\"nodeInfo\":{\r\n    \"affinityId\":\"TVM:tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d\",\"nodeUrl\":\"https://batch4.eastasia.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d\",\"poolId\":\"test_batch_test_batch_files98930ae3\",\"nodeId\":\"tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d\",\"taskRootDirectory\":\"workitems/batch/job-1/test_task\",\"taskRootDirectoryUrl\":\"https://batch4.eastasia.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d/files/workitems/batch/job-1/test_task\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB5C394644A1BF'
      last-modified:
      - Wed, 24 May 2023 09:28:46 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 24 May 2023 09:28:50 GMT
    method: GET
    uri: https://batch4.eastasia.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d/files?recursive=true&api-version=2023-05-01.17.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.eastasia.batch.azure.com/$metadata#files\",\"value\":[\r\n
        \   {\r\n      \"name\":\"startup\",\"url\":\"https://batch4.eastasia.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d/files/startup\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"volatile\",\"url\":\"https://batch4.eastasia.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d/files/volatile\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"workitems\",\"url\":\"https://batch4.eastasia.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d/files/workit[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 24 May 2023 09:28:50 GMT
    method: HEAD
    uri: https://batch4.eastasia.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d/files/workitems%2Fbatch%2Fjob-1%2Ftest_task%2Fstdout.txt?api-version=2023-05-01.17.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Wed, 24 May 2023 09:28:49 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-mode:
      - 0o100644
      ocp-batch-file-url:
      - https%3A%2F%2Fbatch498930ae3.eastasia.batch.azure.com%2Fpools%2Ftest_batch_test_batch_files98930ae3%2Fnodes%2Ftvmps_347d66e902493ef2928a505b5aeb85ca6357701583ac6cc696707d6ba842845d_d%2Ffiles%2Fworkitems%2Fbatch98930ae3%2Fjob-1%2Ftest_task%2Fstdout.txt
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 24 May 2023 09:28:51 GMT
    method: GET
    uri: https://batch4.eastasia.batch.azure.com/jobs/batch/tasks/test_task/files?api-version=2023-05-01.17.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.eastasia.batch.azure.com/$metadata#files\",\"value\":[\r\n
        \   {\r\n      \"name\":\"wd\",\"url\":\"https://batch4.eastasia.batch.azure.com/jobs/batch/tasks/test_task/files/wd\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"certs\",\"url\":\"https://batch4.eastasia.batch.azure.com/jobs/batch/tasks/test_task/files/certs\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"stderr.txt\",\"url\":\"https://batch4.eastasia.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt\",\"isDirectory\":false,\"properties\":{\r\n
        \       \"lastModified\":\"2023-05-24T09:28:49.249085Z\",\"contentLength\":\"0\",\"contentType\":\"text/plain\",\"fileMode\":\"0o100644\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Wed, 24 May 2023 09:28:51 GMT
    method: HEAD
    uri: https://batch4.eastasia.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt?api-version=2023-05-01.17.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Wed, 24 May 2023 09:28:49 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-mode:
      - 0o100644
      ocp-batch-file-url:
      - https%3A%2F%2Fbatch498930ae3.eastasia.batch.azure.com%2Fjobs%2Fbatch98930ae3%2Ftasks%2Ftest_task%2Ffiles%2Fstderr.txt
    status:
      code: 200
      message: OK
[...]
