interactions:
- request:
    body: '{"maxParallelTasks": -1, "id": "batch_job1_8dcc0a7e", "poolInfo": {"autoPoolSpecification":
      {"poolLifetimeOption": "job", "pool": {"vmSize": "standard_d2_v2", "cloudServiceConfiguration":
      {"osFamily": "5"}}}}, "jobPreparationTask": {"commandLine": "cmd /c \"echo hello
      world\""}, "jobReleaseTask": {"commandLine": "cmd /c \"echo goodbye world\""}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Sat, 25 Feb 2023 09:04:32 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/jobs?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.eastus.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB170F4FC338E8'
      last-modified:
      - Sat, 25 Feb 2023 09:04:33 GMT
      location:
      - https://batch.eastus.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: '{"maxParallelTasks": -1, "priority": 500, "constraints": {"maxTaskRetryCount":
      3}, "poolInfo": {"autoPoolSpecification": {"poolLifetimeOption": "job", "pool":
      {"vmSize": "standard_d2_v2", "cloudServiceConfiguration": {"osFamily": "5"}}}}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Sat, 25 Feb 2023 09:04:33 GMT
    method: PUT
    uri: https://batch.eastus.batch.azure.com/jobs/batch_job1_8dcc0a7e?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.eastus.batch.azure.com/jobs/batch_job1_8dcc0a7e
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB170F4FEB0C6A'
      last-modified:
      - Sat, 25 Feb 2023 09:04:33 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 25 Feb 2023 09:04:34 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/jobs/batch_job1_8dcc0a7e?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"batch_job1_8dcc0a7e\",\"url\":\"https://batch.eastus.batch.azure.com/jobs/batch_job1_8dcc0a7e\",\"eTag\":\"0x8DB170F50148D85\",\"lastModified\":\"2023-02-25T09:04:33.8529669Z\",\"creationTime\":\"2023-02-25T09:04:33.2989609Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-02-25T09:04:33.3199592Z\",\"priority\":900,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":3\r\n
        \ },\"jobPreparationTask\":{\r\n    \"id\":\"jobpreparation\",\"commandLine\":\"cmd
        /c \\\"echo hello world\\\"\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n
        \   },\"userIdentity\":{\r\n      \"autoUser\":{\r\n        \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \     }\r\n    },\"waitForSuccess\":true,\"rerunOnNodeRebootAfterSuccess\":true\r\n
        \ },\"jobReleaseTask\":{\r\n    \"id\":\"jobrelease\",\"commandLine\":\"cmd
        /c \\\"echo goodbye world\\\"\",\"maxWallClockTime\":\"PT15M\",\"retentionTime\":\"P7D\",\"userIdentity\":{\r\n
        \     \"autoUser\":{\r\n        \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \     }\r\n    }\r\n  },\"poolInfo\":{\r\n    \"autoPoolSpecification\":{\r\n
        \     \"poolLifetimeOption\":\"job\",\"keepAlive\":false,\"pool\":{\r\n        \"vmSize\":\"standard_d2_v2\",\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \         \"nodeFillType\":\"Spread\"\r\n        },\"resizeTimeout\":\"PT15M\",\"targetDedicatedNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"cloudServiceConfiguration\":{\r\n
        \         \"osFamily\":\"5\",\"osVersion\":\"*\"\r\n        }\r\n      }\r\n
        \   }\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2023-02-25T09:04:33.3199592Z\",\"poolId\":\"0B9628B5-B4EF-41B2-952E-C57249A8B315\"\r\n
        \ },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB170F50148D85'
      last-modified:
      - Sat, 25 Feb 2023 09:04:33 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 25 Feb 2023 09:04:34 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/jobs?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_job1_8dcc0a7e\",\"url\":\"https://batch.eastus.batch.azure.com/jobs/batch_job1_8dcc0a7e\",\"eTag\":\"0x8DB170F50148D85\",\"lastModified\":\"2023-02-25T09:04:33.8529669Z\",\"creationTime\":\"2023-02-25T09:04:33.2989609Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-02-25T09:04:33.3199592Z\",\"priority\":900,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n
        \       \"maxWallClockTim[...]
- request:
    body: '{"disableTasks": "requeue"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata
      ocp-date:
      - Sat, 25 Feb 2023 09:04:35 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/jobs/batch_job1_8dcc0a7e/disable?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.eastus.batch.azure.com/jobs/batch_job1_8dcc0a7e/disable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB170F50E4058B'
      last-modified:
      - Sat, 25 Feb 2023 09:04:35 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 25 Feb 2023 09:04:35 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/jobs/batch_job1_8dcc0a7e/enable?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.eastus.batch.azure.com/jobs/batch_job1_8dcc0a7e/enable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB170F510CC124'
      last-modified:
      - Sat, 25 Feb 2023 09:04:35 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 25 Feb 2023 09:04:35 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/jobs/batch_job1_8dcc0a7e/jobpreparationandreleasetaskstatus?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#jobpreparationandreleasetaskstatuslist\",\"value\":[]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      ocp-date:
      - Sat, 25 Feb 2023 09:04:35 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/jobs/batch_job1_8dcc0a7e/terminate?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.eastus.batch.azure.com/jobs/batch_job1_8dcc0a7e/terminate
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DB170F514F15F4'
      last-modified:
      - Sat, 25 Feb 2023 09:04:35 GMT
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 25 Feb 2023 09:04:36 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/lifetimejobstats?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#jobstats/@Element\",\"url\":\"https://batch.eastus.batch.azure.com/lifetimejobstats\",\"startTime\":\"2023-02-25T09:04:15.9758233Z\",\"lastUpdateTime\":\"2023-02-25T09:04:15.9758233Z\",\"userCPUTime\":\"PT0S\",\"kernelCPUTime\":\"PT0S\",\"wallClockTime\":\"PT0S\",\"readIOps\":\"0\",\"writeIOps\":\"0\",\"readIOGiB\":0.0,\"writeIOGiB\":0.0,\"numTaskRetries\":\"0\",\"numSucceededTasks\":\"0\",\"numFailedTasks\":\"0\",\"waitTime\":\"PT0S\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
