interactions:
- request:
    body: '{"id": "batch_job1_8dcc0a7e", "jobPreparationTask": {"commandLine": "cmd
      /c \"echo hello world\""}, "jobReleaseTask": {"commandLine": "cmd /c \"echo
      goodbye world\""}, "poolInfo": {"autoPoolSpecification": {"poolLifetimeOption":
      "job", "pool": {"vmSize": "small", "cloudServiceConfiguration": {"osFamily":
      "5"}}}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 01:52:00 GMT
    method: POST
    uri: https://batch.westcentralus.batch.azure.com/jobs?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901B897E946D'
      last-modified:
      - Tue, 24 Nov 2020 01:52:01 GMT
      location:
      - https://batch.westcentralus.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: '{"priority": 500, "constraints": {"maxTaskRetryCount": 3}, "poolInfo":
      {"autoPoolSpecification": {"poolLifetimeOption": "job", "pool": {"vmSize": "small",
      "cloudServiceConfiguration": {"osFamily": "5"}}}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 01:52:01 GMT
    method: PUT
    uri: https://batch.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901B89A59583'
      last-modified:
      - Tue, 24 Nov 2020 01:52:02 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 01:52:02 GMT
    method: GET
    uri: https://batch.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.westcentralus.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"batch_job1_8dcc0a7e\",\"url\":\"https://batch.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e\"\
        ,\"eTag\":\"0x8D8901B89B75423\",\"lastModified\":\"2020-11-24T01:52:02.1935139Z\"\
        ,\"creationTime\":\"2020-11-24T01:52:01.8015948Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2020-11-24T01:52:01.8216045Z\",\"priority\":900,\"\
        usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\"\
        :\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":3\r\n  },\"jobPreparationTask\"\
        :{\r\n    \"id\":\"jobpreparation\",\"commandLine\":\"cmd /c \\\"echo hello\
        \ world\\\"\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n    },\"userIdentity\"\
        :{\r\n      \"autoUser\":{\r\n        \"scope\":\"pool\",\"elevationLevel\"\
        :\"nonadmin\"\r\n      }\r\n    },\"waitForSuccess\":true,\"rerunOnNodeRebootAfterSuccess\"\
        :true\r\n  },\"jobReleaseTask\":{\r\n    \"id\":\"jobrelease\",\"commandLine\"\
        :\"cmd /c \\\"echo goodbye world\\\"\",\"maxWallClockTime\":\"PT15M\",\"retentionTime\"\
        :\"P7D\",\"userIdentity\":{\r\n      \"autoUser\":{\r\n        \"scope\":\"\
        pool\",\"elevationLevel\":\"nonadmin\"\r\n      }\r\n    }\r\n  },\"poolInfo\"\
        :{\r\n    \"autoPoolSpecification\":{\r\n      \"poolLifetimeOption\":\"job\"\
        ,\"keepAlive\":false,\"pool\":{\r\n        \"vmSize\":\"small\",\"taskSlotsPerNode\"\
        :1,\"taskSchedulingPolicy\":{\r\n          \"nodeFillType\":\"Spread\"\r\n\
        \        },\"resizeTimeout\":\"PT15M\",\"targetDedicatedNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"cloudServiceConfiguration\"\
        :{\r\n          \"osFamily\":\"5\",\"osVersion\":\"*\"\r\n        }\r\n  \
        \    }\r\n    }\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2020-11-24T01:52:01.8216045Z\"\
        ,\"poolId\":\"501D8D46-65B2-48CF-A001-EB39952D13E2\"\r\n  },\"onAllTasksComplete\"\
        :\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901B89B75423'
      last-modified:
      - Tue, 24 Nov 2020 01:52:02 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "batch_job2_8dcc0a7e", "poolInfo": {"autoPoolSpecification": {"poolLifetimeOption":
      "job", "pool": {"vmSize": "small", "cloudServiceConfiguration": {"osFamily":
      "5"}}}}, "onAllTasksComplete": "terminatejob", "onTaskFailure": "performexitoptionsjobaction"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 01:52:02 GMT
    method: POST
    uri: https://batch.westcentralus.batch.azure.com/jobs?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901B89F0F687'
      last-modified:
      - Tue, 24 Nov 2020 01:52:02 GMT
      location:
      - https://batch.westcentralus.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 01:52:02 GMT
    method: GET
    uri: https://batch.westcentralus.batch.azure.com/jobs/batch_job2_8dcc0a7e?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.westcentralus.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"batch_job2_8dcc0a7e\",\"url\":\"https://batch.westcentralus.batch.azure.com/jobs/batch_job2_8dcc0a7e\"\
        ,\"eTag\":\"0x8D8901B89F0F687\",\"lastModified\":\"2020-11-24T01:52:02.5712263Z\"\
        ,\"creationTime\":\"2020-11-24T01:52:02.5562276Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2020-11-24T01:52:02.5712263Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"autoPoolSpecification\"\
        :{\r\n      \"poolLifetimeOption\":\"job\",\"keepAlive\":false,\"pool\":{\r\
        \n        \"vmSize\":\"small\",\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\"\
        :{\r\n          \"nodeFillType\":\"Spread\"\r\n        },\"resizeTimeout\"\
        :\"PT15M\",\"targetDedicatedNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\"\
        :false,\"enableInterNodeCommunication\":false,\"cloudServiceConfiguration\"\
        :{\r\n          \"osFamily\":\"5\",\"osVersion\":\"*\"\r\n        }\r\n  \
        \    }\r\n    }\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2020-11-24T01:52:02.5712263Z\"\
        ,\"poolId\":\"0DB54E0A-B3EE-4C33-A006-CC96A9F020D0\"\r\n  },\"onAllTasksComplete\"\
        :\"terminatejob\",\"onTaskFailure\":\"performexitoptionsjobaction\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901B89F0F687'
      last-modified:
      - Tue, 24 Nov 2020 01:52:02 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 01:52:02 GMT
    method: GET
    uri: https://batch.westcentralus.batch.azure.com/jobs?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.westcentralus.batch.azure.com/$metadata#jobs\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch_job1_8dcc0a7e\",\"url\":\"https://batch.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e\"\
        ,\"eTag\":\"0x8D8901B89B75423\",\"lastModified\":\"2020-11-24T01:52:02.1935139Z\"\
        ,\"creationTime\":\"2020-11-24T01:52:01.8015948Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2020-11-24T01:52:01.8216045Z\",\"priority\":900,\"\
        usesTaskDependencies\":false,\"constraints\":{\r\n        \"maxWallClockTime\"\
        :\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":3\r\n      },\"jobPreparationTask\"\
        :{\r\n        \"id\":\"jobpreparation\",\"commandLine\":\"cmd /c \\\"echo\
        \ hello world\\\"\",\"constraints\":{\r\n          \"maxWallClockTime\":\"\
        P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\"\
        :0\r\n        },\"userIdentity\":{\r\n          \"autoUser\":{\r\n       \
        \     \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n          }\r\n\
        \        },\"waitForSuccess\":true,\"rerunOnNodeRebootAfterSuccess\":true\r\
        \n      },\"jobReleaseTask\":{\r\n        \"id\":\"jobrelease\",\"commandLine\"\
        :\"cmd /c \\\"echo goodbye world\\\"\",\"maxWallClockTime\":\"PT15M\",\"retentionTime\"\
        :\"P7D\",\"userIdentity\":{\r\n          \"autoUser\":{\r\n            \"\
        scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n          }\r\n      \
        \  }\r\n      },\"poolInfo\":{\r\n        \"autoPoolSpecification\":{\r\n\
        \          \"poolLifetimeOption\":\"job\",\"keepA[...]
- request:
    body: '{"disableTasks": "requeue"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 01:52:02 GMT
    method: POST
    uri: https://batch.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/disable?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/disable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901B8A14D30D'
      last-modified:
      - Tue, 24 Nov 2020 01:52:02 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 01:52:02 GMT
    method: POST
    uri: https://batch.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/enable?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/enable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901B8A21311F'
      last-modified:
      - Tue, 24 Nov 2020 01:52:02 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 01:52:02 GMT
    method: GET
    uri: https://batch.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/jobpreparationandreleasetaskstatus?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.westcentralus.batch.azure.com/$metadata#jobpreparationandreleasetaskstatuslist\"\
        ,\"value\":[\r\n    \r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Tue, 24 Nov 2020 01:52:03 GMT
    method: POST
    uri: https://batch.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/terminate?api-version=2020-09-01.12.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/terminate
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D8901B8A395961'
      last-modified:
      - Tue, 24 Nov 2020 01:52:03 GMT
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Tue, 24 Nov 2020 01:52:03 GMT
    method: GET
    uri: https://batch.westcentralus.batch.azure.com/lifetimejobstats?api-version=2020-09-01.12.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.westcentralus.batch.azure.com/$metadata#jobstats/@Element\"\
        ,\"url\":\"https://batch.westcentralus.batch.azure.com/lifetimejobstats\"\
        ,\"startTime\":\"2020-11-24T01:51:44.6285262Z\",\"lastUpdateTime\":\"2020-11-24T01:51:44.6285262Z\"\
        ,\"userCPUTime\":\"PT0S\",\"kernelCPUTime\":\"PT0S\",\"wallClockTime\":\"\
        PT0S\",\"readIOps\":\"0\",\"writeIOps\":\"0\",\"readIOGiB\":0.0,\"writeIOGiB\"\
        :0.0,\"numTaskRetries\":\"0\",\"numSucceededTasks\":\"0\",\"numFailedTasks\"\
        :\"0\",\"waitTime\":\"PT0S\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
