{
  "Entries": [
    {
      "RequestUri": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 21:41:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch6e50202e.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d",
            "url": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes/tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2023-07-10T21:41:01.5306247Z",
            "allocationTime": "2023-07-10T21:41:01.5306247Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.124.152.52",
                  "publicFQDN": "dns7f63e09b-683d-4520-9947-094867b1e0a0-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 22
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202306070"
              }
            }
          },
          {
            "id": "tvmps_83773ccc00dd38d048509f4582c5262418769b09c10ea611c18ae854c90a0ac8_d",
            "url": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes/tvmps_83773ccc00dd38d048509f4582c5262418769b09c10ea611c18ae854c90a0ac8_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2023-07-10T21:41:01.5306247Z",
            "allocationTime":[...]
    {
      "RequestUri": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 21:41:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch6e50202e.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d",
            "url": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes/tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2023-07-10T21:41:17.752636Z",
            "lastBootTime": "2023-07-10T21:41:17.448366Z",
            "allocationTime": "2023-07-10T21:41:01.5306247Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "20.124.152.52",
                  "publicFQDN": "dns7f63e09b-683d-4520-9947-094867b1e0a0-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 22
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2023-07-10T21:41:17.448366Z",
              "version": "1.10.0"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "18.04-LTS",
                "version": "latest",
                "exactVersion": "18.04.202306070"
              }
            }
          },
          {
            "id": "tvmps_83773ccc00dd38d048509f4582c5262418769b09c10ea611c18ae854c90a0ac[...]
    {
      "RequestUri": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes/tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 21:41:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
     [...]
    {
      "RequestUri": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes/tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d/uploadbatchservicelogs?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 10 Jul 2023 21:41:22 GMT"
      },
      "RequestBody": {
        "containerUrl": "https://computecontainer.blob.core.windows.net/",
        "startTime": "2023-07-10T21:35:22.463636Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch6e50202e.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult",
        "virtualDirectoryName": "batch6e50202e-22EEA6E7FF31C4CB/6e50202e/tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d/055501c6-cb29-4b87-83ff-f7a0f218f9e0",
        "numberOfFilesUploaded": 4
      }
    },
    {
      "RequestUri": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes/tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d/disablescheduling?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "ocp-date": "Mon, 10 Jul 2023 21:41:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes/tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes/tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d/enablescheduling?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 21:41:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes/tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d/enablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes/tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d/reboot?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 10 Jul 2023 21:41:22 GMT"
      },
      "RequestBody": {
        "nodeRebootOption": "terminate"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes/tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d/reboot",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/nodes/tvmps_83773ccc00dd38d048509f4582c5262418769b09c10ea611c18ae854c90a0ac8_d/reimage?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 10 Jul 2023 21:41:22 GMT"
      },
      "RequestBody": {
        "nodeReimageOption": "terminate"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch6e50202e.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "OperationNotValidOnNode",
        "message": {
          "lang": "en-US",
          "value": "The specified operation is not valid on the node.\nRequestId:bcd39c7d-3433-4b8d-8348-fa40c5c90852\nTime:2023-07-10T21:41:22.9108282Z"
        },
        "values": [
          {
            "key": "Reason",
            "value": "Operation reimage can be invoked only on pools created with cloudServiceConfiguration"
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/removenodes?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 10 Jul 2023 21:41:23 GMT"
      },
      "RequestBody": {
        "nodeList": [
          "tvmps_29550a95b574af6d769d243db3e9a6e3120db41cb3c33a671844247d3af18e6c_d",
          "tvmps_83773ccc00dd38d048509f4582c5262418769b09c10ea611c18ae854c90a0ac8_d"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch6e50202e.eastus.batch.azure.com/pools/6e50202e/removenodes",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB818E67CF83FD",
        "Last-Modified": "Mon, 10 Jul 2023 21:41:23 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
