{
  "Entries": [
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 01 May 2023 18:41:26 GMT"
      },
      "RequestBody": {
        "maxParallelTasks": -1,
        "id": "batch_job1_53a11c67",
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "cloudServiceConfiguration": {
                "osFamily": "5"
              }
            }
          }
        },
        "jobPreparationTask": {
          "commandLine": "cmd /c \u0022echo hello world\u0022"
        },
        "jobReleaseTask": {
          "commandLine": "cmd /c \u0022echo goodbye world\u0022"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch53a11c67.eastus.batch.azure.com/jobs/job-1",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB4A73ABF4D40E",
        "Last-Modified": "Mon, 01 May 2023 18:41:26 GMT",
        "Location": "https://batch53a11c67.eastus.batch.azure.com/jobs/job-1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67?api-version=2022-10-01.16.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 01 May 2023 18:41:27 GMT"
      },
      "RequestBody": {
        "maxParallelTasks": -1,
        "priority": 500,
        "constraints": {
          "maxTaskRetryCount": 3
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "pool": {
              "vmSize": "standard_d2_v2",
              "cloudServiceConfiguration": {
                "osFamily": "5"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB4A73AC102465",
        "Last-Modified": "Mon, 01 May 2023 18:41:27 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67?api-version=2022-10-01.16.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 01 May 2023 18:41:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB4A73AC209F3C",
        "Last-Modified": "Mon, 01 May 2023 18:41:27 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch53a11c67.eastus.batch.azure.com/$metadata#jobs/@Element",
        "id": "batch_job1_53a11c67",
        "url": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67",
        "eTag": "0x8DB4A73AC209F3C",
        "lastModified": "2023-05-01T18:41:27.2570684Z",
        "creationTime": "2023-05-01T18:41:26.9040666Z",
        "state": "active",
        "stateTransitionTime": "2023-05-01T18:41:26.9700622Z",
        "priority": 900,
        "maxParallelTasks": -1,
        "usesTaskDependencies": false,
        "allowTaskPreemption": false,
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "maxTaskRetryCount": 3
        },
        "jobPreparationTask": {
          "id": "jobpreparation",
          "commandLine": "cmd /c \u0022echo hello world\u0022",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "retentionTime": "P7D",
            "maxTaskRetryCount": 0
          },
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "waitForSuccess": true,
          "rerunOnNodeRebootAfterSuccess": true
        },
        "jobReleaseTask": {
          "id": "jobrelease",
          "commandLine": "cmd /c \u0022echo goodbye world\u0022",
          "maxWallClockTime": "PT15M",
          "retentionTime": "P7D",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          }
        },
        "poolInfo": {
          "autoPoolSpecification": {
            "poolLifetimeOption": "job",
            "keepAlive": false,
            "pool": {
              "vmSize": "standard_d2_v2",
              "taskSlotsPerNode": 1,
              "taskSchedulingPolicy": {
                "nodeFillType": "Spread"
              },
              "resizeTimeout": "PT15M",
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "enableAutoScale": false,
              "enableInterNodeCommunication": false,
              "cloudServiceConfiguration": {
                "osFamily": "5",
                "osVersion": "*"
              }
            }
          }
        },
        "executionInfo": {
          "startTime": "2023-05-01T18:41:26.9700622Z",
          "poolId": "34DCA29F-985E-4B51-9888-2BF74EBBC28B"
        },
        "onAllTasksComplete": "noaction",
        "onTaskFailure": "noaction"
      }
    },
[...]
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs?api-version=2022-10-01.16.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 01 May 2023 18:41:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch53a11c67.eastus.batch.azure.com/$metadata#jobs",
        "value": [
          {
            "id": "batch_job1_53a11c67",
            "url": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67",
            "eTag": "0x8DB4A73AC209F3C",
            "lastModified": "2023-05-01T18:41:27.2570684Z",
            "creationTime": "2023-05-01T18:41:26.9040666Z",
            "state": "active",
            "stateTransitionTime": "2023-05-01T18:41:26.9700622Z",
            "priority": 900,
            "maxParallelTasks": -1,
            "usesTaskDepende[...]
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/disable?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 01 May 2023 18:41:28 GMT"
      },
      "RequestBody": {
        "disableTasks": "requeue"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/disable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB4A73AC85630F",
        "Last-Modified": "Mon, 01 May 2023 18:41:27 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/enable?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Mon, 01 May 2023 18:41:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB4A73AC9634BC",
        "Last-Modified": "Mon, 01 May 2023 18:41:28 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/jobpreparationandreleasetaskstatus?api-version=2022-10-01.16.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 01 May 2023 18:41:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch53a11c67.eastus.batch.azure.com/$metadata#jobpreparationandreleasetaskstatuslist",
        "value": []
      }
    },
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/terminate?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "ocp-date": "Mon, 01 May 2023 18:41:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job1_53a11c67/terminate",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB4A73ACB722F9",
        "Last-Modified": "Mon, 01 May 2023 18:41:28 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch53a11c67.eastus.batch.azure.com/jobs/batch_job2_53a11c67?api-version=2022-10-01.16.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": "Mon, 01 May 2023 18:41:28 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
