{
  "Entries": [
    {
      "RequestUri": "https://batch471071ccc.eastus.batch.azure.com/pools/71071ccc/nodes?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 23:08:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch471071ccc.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d",
            "url": "https://batch471071ccc.eastus.batch.azure.com/pools/71071ccc/nodes/tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d",
            "state": "creating",
            "schedulingState": "enabled",
            "stateTransitionTime": "2023-07-10T23:08:13.8443145Z",
            "allocationTime": "2023-07-10T23:08:13.8443145Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.157.153.253",
                  "publicFQDN": "dns5bbae1ed-f3b5-4f2a-8295-4f3331753a65-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "14393.5996.230622"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://batch471071ccc.eastus.batch.azure.com/pools/71071ccc/nodes?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 23:09:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch471071ccc.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d",
            "url": "https://batch471071ccc.eastus.batch.azure.com/pools/71071ccc/nodes/tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d",
            "state": "idle",
            "schedulingState": "enabled",
            "stateTransitionTime": "2023-07-10T23:08:57.298413Z",
            "lastBootTime": "2023-07-10T23:08:53.600394Z",
            "allocationTime": "2023-07-10T23:08:13.8443145Z",
            "ipAddress": "10.0.0.4",
            "affinityId": "TVM:tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d",
            "vmSize": "standard_d2_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "certificateReferences": [],
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "SSHRule.0",
                  "protocol": "tcp",
                  "publicIPAddress": "4.157.153.253",
                  "publicFQDN": "dns5bbae1ed-f3b5-4f2a-8295-4f3331753a65-azurebatch-cloudservice.eastus.cloudapp.azure.com",
                  "frontendPort": 50000,
                  "backendPort": 3389
                }
              ]
            },
            "nodeAgentInfo": {
              "lastUpdateTime": "2023-07-10T23:08:53.600394Z",
              "version": "1.10.0"
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2016-Datacenter-smalldisk",
                "version": "latest",
                "exactVersion": "14393.5996.230622"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch471071ccc.eastus.batch.azure.com/jobs/batch71071ccc/tasks?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 10 Jul 2023 23:09:00 GMT"
      },
      "RequestBody": {
        "id": "test_task",
        "commandLine": "cmd /c \u0022echo hello world\u0022"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://batch471071ccc.eastus.batch.azure.com/jobs/batch71071ccc/tasks/test_task",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB819AA571CA49",
        "Last-Modified": "Mon, 10 Jul 2023 23:09:00 GMT",
        "Location": "https://batch471071ccc.eastus.batch.azure.com/jobs/batch71071ccc/tasks/test_task"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch471071ccc.eastus.batch.azure.com/jobs/batch71071ccc/tasks/test_task?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 23:09:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB819AA571CA49",
        "Last-Modified": "Mon, 10 Jul 2023 23:09:00 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch471071ccc.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch471071ccc.eastus.batch.azure.com/jobs/batch71071ccc/tasks/test_task",
        "eTag": "0x8DB819AA571CA49",
        "creationTime": "2023-07-10T23:09:00.3701833Z",
        "lastModified": "2023-07-10T23:09:00.3701833Z",
        "state": "active",
        "stateTransitionTime": "2023-07-10T23:09:00.3701833Z",
        "commandLine": "cmd /c \u0022echo hello world\u0022",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    },
    {
      "RequestUri": "https://batch471071ccc.eastus.batch.azure.com/jobs/batch71071ccc/tasks/test_task?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 23:09:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB819AA571CA49",
        "Last-Modified": "Mon, 10 Jul 2023 23:09:00 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch471071ccc.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "test_task",
        "url": "https://batch471071ccc.eastus.batch.azure.com/jobs/batch71071ccc/tasks/test_task",
        "eTag": "0x8DB819AA571CA49",
        "creationTime": "2023-07-10T23:09:00.3701833Z",
        "lastModified": "2023-07-10T23:09:00.3701833Z",
        "state": "completed",
        "stateTransitionTime": "2023-07-10T23:09:01.747943Z",
        "previousState": "running",
        "previousStateTransitionTime": "2023-07-10T23:09:01.192088Z",
        "commandLine": "cmd /c \u0022echo hello world\u0022",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "startTime": "2023-07-10T23:09:01.254868Z",
          "endTime": "2023-07-10T23:09:01.747943Z",
          "exitCode": 0,
          "result": "success",
          "retryCount": 0,
          "requeueCount": 0
        },
        "nodeInfo": {
          "affinityId": "TVM:tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d",
          "nodeUrl": "https://batch471071ccc.eastus.batch.azure.com/pools/71071ccc/nodes/tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d",
          "poolId": "71071ccc",
          "nodeId": "tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d",
          "taskRootDirectory": "workitems\\batch71071ccc\\job-1\\test_task",
          "taskRootDirectoryUrl": "https://batch471071ccc.eastus.batch.azure.com/pools/71071ccc/nodes/tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d/files/workitems/batch71071ccc/job-1/test_task"
        }
      }
    },
    {
      "RequestUri": "https://batch471071ccc.eastus.batch.azure.com/pools/71071ccc/nodes/tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d/files?api-version=2023-05-01.17.0\u0026recursive=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 23:09:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch471071ccc.eastus.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "applications",
            "url": "https://batch471071ccc.eastus.batch.azure.com/pools/71071ccc/nodes/tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d/files/applications",
            "isDirectory": true
          },
          {
            "name": "fsmounts",
            "url": "https://batch471071ccc.eastus.batch.azure.com/pools/71071ccc/nodes/tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d/files/fsmounts",
            "isDirectory": true
          },
          {
            "name": "shared",
            "url": "https://batch471071ccc.eastus.batch.azure.com/pools/71071ccc/nodes/tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d/files/shared"[...]
    {
      "RequestUri": "https://batch471071ccc.eastus.batch.azure.com/pools/71071ccc/nodes/tvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d/files/workitems%5Cbatch71071ccc%5Cjob-1%5Ctest_task%5Cstderr.txt?api-version=2023-05-01.17.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 23:09:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Mon, 10 Jul 2023 23:09:01 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch471071ccc.eastus.batch.azure.com%2Fpools%2F71071ccc%2Fnodes%2Ftvmps_734a3c716706b66baf1a311b39610e23021ada78f234b21985e6cc1f1c44448d_d%2Ffiles%2Fworkitems%2Fbatch71071ccc%2Fjob-1%2Ftest_task%2Fstderr.txt",
        "ocp-creation-time": "Mon, 10 Jul 2023 23:09:01 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch471071ccc.eastus.batch.azure.com/jobs/batch71071ccc/tasks/test_task/files?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 23:12:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch471071ccc.eastus.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "stdout.txt",
            "url": "https://batch471071ccc.eastus.batch.azure.com/jobs/batch71071ccc/tasks/test_task/files/stdout.txt",
            "isDirectory": false,
            "properties": {
              "creationTime": "2023-07-10T23:09:01.270492Z",
              "lastModified": "2023-07-10T23:09:01.71645Z",
              "contentLength": "13",
              "contentType": "text/plain"
            }
          },
          {
            "name": "wd",
            "url": "https://batch471071ccc.eastus.batch.azure.com/jobs/batch71071ccc/tasks/test_task/files/wd",
            "isDirectory": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://batch471071ccc.eastus.batch.azure.com/jobs/batch71071ccc/tasks/test_task/files/stdout.txt?api-version=2023-05-01.17.0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 23:12:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Mon, 10 Jul 2023 23:09:01 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-url": "https%3A%2F%2Fbatch471071ccc.eastus.batch.azure.com%2Fjobs%2Fbatch71071ccc%2Ftasks%2Ftest_task%2Ffiles%2Fstdout.txt",
        "ocp-creation-time": "Mon, 10 Jul 2023 23:09:01 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch471071ccc.eastus.batch.azure.com/jobs/batch71071ccc/tasks/test_task/files/stdout.txt?api-version=2023-05-01.17.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 23:13:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
