{
  "Entries": [
    {
      "RequestUri": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d/enableautoscale?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 10 Jul 2023 19:09:08 GMT"
      },
      "RequestBody": {
        "autoScaleFormula": "$TargetDedicatedNodes=2",
        "autoScaleEvaluationInterval": "PT06M00S"
      },
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch2b9b1f4d.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "OperationTimedOut",
        "message": {
          "lang": "en-US",
          "value": "Operation could not be completed within the specified time.\nRequestId:000b5c39-fae1-48ad-b5bd-4c44c58378f5\nTime:2023-07-10T19:09:38.4679647Z"
        }
      }
    },
    {
      "RequestUri": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d/enableautoscale?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 10 Jul 2023 19:09:08 GMT"
      },
      "RequestBody": {
        "autoScaleFormula": "$TargetDedicatedNodes=2",
        "autoScaleEvaluationInterval": "PT06M00S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d/enableautoscale",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB81793FF9E748",
        "Last-Modified": "Mon, 10 Jul 2023 19:09:56 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d/evaluateautoscale?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 10 Jul 2023 19:09:56 GMT"
      },
      "RequestBody": {
        "autoScaleFormula": "$TargetDedicatedNodes=3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d/evaluateautoscale",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch2b9b1f4d.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun",
        "timestamp": "2023-07-10T19:09:56.8743877Z",
        "results": "$TargetDedicatedNodes=3;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue"
      }
    },
    {
      "RequestUri": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 19:09:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB81793FF9E748",
        "Last-Modified": "Mon, 10 Jul 2023 19:09:56 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch2b9b1f4d.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "2b9b1f4d",
        "displayName": "test_pool",
        "url": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d",
        "eTag": "0x8DB81793FF9E748",
        "lastModified": "2023-07-10T19:09:56.7425352Z",
        "creationTime": "2023-07-10T19:09:07.8518639Z",
        "state": "active",
        "stateTransitionTime": "2023-07-10T19:09:07.8518639Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2023-07-10T19:09:56.7425352Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 2,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": true,
        "autoScaleFormula": "$TargetDedicatedNodes=2",
        "autoScaleEvaluationInterval": "PT6M",
        "autoScaleRun": {
          "timestamp": "2023-07-10T19:09:56.7425352Z",
          "results": "$TargetDedicatedNodes=2;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue"
        },
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "task-user",
            "elevationLevel": "admin"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04"
        }
      }
    },
[...]
    {
      "RequestUri": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d/disableautoscale?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 19:12:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d/disableautoscale",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB8179A1CDBD37",
        "Last-Modified": "Mon, 10 Jul 2023 19:12:40 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d/resize?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Mon, 10 Jul 2023 19:13:27 GMT"
      },
      "RequestBody": {
        "targetDedicatedNodes": 0,
        "targetLowPriorityNodes": 2
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d/resize",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB8179BD525D0F",
        "Last-Modified": "Mon, 10 Jul 2023 19:13:27 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d/stopresize?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 19:13:27 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "DataServiceId": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d/stopresize",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB8179BD525D0F",
        "Last-Modified": "Mon, 10 Jul 2023 19:13:27 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 19:14:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DB8179BD525D0F",
        "Last-Modified": "Mon, 10 Jul 2023 19:13:27 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch2b9b1f4d.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "2b9b1f4d",
        "displayName": "test_pool",
        "url": "https://batch2b9b1f4d.eastus.batch.azure.com/pools/2b9b1f4d",
        "eTag": "0x8DB8179BD525D0F",
        "lastModified": "2023-07-10T19:13:27.0374671Z",
        "creationTime": "2023-07-10T19:09:07.8518639Z",
        "state": "active",
        "stateTransitionTime": "2023-07-10T19:09:07.8518639Z",
        "allocationState": "steady",
        "allocationStateTransitionTime": "2023-07-10T19:14:13.0780994Z",
        "vmSize": "standard_d2_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 2,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 2,
        "resizeErrors": [
          {
            "code": "ResizeStopped",
            "message": "Desired number of dedicated nodes could not be allocated due to a stop resize operation"
          },
          {
            "code": "ResizeStopped",
            "message": "Desired number of low priority nodes could not be allocated due to a stop resize operation"
          }
        ],
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "userAccounts": [
          {
            "name": "task-user",
            "elevationLevel": "admin"
          }
        ],
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "UbuntuServer",
            "sku": "18.04-LTS",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 18.04"
        },
        "currentNodeCommunicationMode": "classic"
      }
    },
    {
      "RequestUri": "https://batch2b9b1f4d.eastus.batch.azure.com/poolusagemetrics?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": "Mon, 10 Jul 2023 19:14:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://batch2b9b1f4d.eastus.batch.azure.com/$metadata#poolusagemetrics",
        "value": []
      }
    }
  ],
  "Variables": {}
}
