interactions:
- request:
    body: '{"id": "batch_network_814e11b1", "vmSize": "standard_d2_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "18.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 18.04"}, "targetDedicatedNodes":
      1, "networkConfiguration": {"endpointConfiguration": {"inboundNATPools": [{"name":
      "TestEndpointConfig", "protocol": "udp", "backendPort": 64444, "frontendPortRangeStart":
      60000, "frontendPortRangeEnd": 61000, "networkSecurityGroupRules": [{"priority":
      150, "access": "allow", "sourceAddressPrefix": "*"}]}]}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 27 Oct 2022 22:55:41 GMT
    method: POST
    uri: https://batch.eastus.batch.azure.com/pools?api-version=2022-10-01.16.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch814e11b1.eastus.batch.azure.com/pools/batch_network_814e11b1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DAB86E605D69EF'
      last-modified:
      - Thu, 27 Oct 2022 22:55:42 GMT
      location:
      - https://batch.eastus.batch.azure.com/pools/batch_network_814e11b1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 27 Oct 2022 22:55:43 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools/batch_network_814e11b1?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_network_814e11b1\",\"url\":\"https://batch.eastus.batch.azure.com/pools/batch_network_814e11b1\",\"eTag\":\"0x8DAB86E605D69EF\",\"lastModified\":\"2022-10-27T22:55:42.8994543Z\",\"creationTime\":\"2022-10-27T22:55:42.8994543Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-10-27T22:55:42.8994543Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2022-10-27T22:55:42.8994543Z\",\"vmSize\":\"standard_d2_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\"\r\n  },\"networkConfiguration\":{\r\n
        \   \"dynamicVNetAssignmentScope\":\"none\",\"endpointConfiguration\":{\r\n
        \     \"inboundNATPools\":[\r\n        {\r\n          \"name\":\"TestEndpointConfig\",\"protocol\":\"udp\",\"backendPort\":64444,\"frontendPortRangeStart\":60000,\"frontendPortRangeEnd\":61000,\"networkSecurityGroupRules\":[\r\n
        \           {\r\n              \"priority\":150,\"access\":\"allow\",\"sourceAddressPrefix\":\"*\",\"sourcePortRanges\":[\r\n
        \               \"*\"\r\n              ]\r\n            }\r\n          ]\r\n
        \       }\r\n      ]\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8DAB86E605D69EF'
      last-modified:
      - Thu, 27 Oct 2022 22:55:42 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 27 Oct 2022 22:58:24 GMT
    method: GET
    uri: https://batch.eastus.batch.azure.com/pools/batch_network_814e11b1/nodes?api-version=2022-10-01.16.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.eastus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_bb2c0598b34ccb1c5fbef006cd7c618a1d38828b0dac20dcefb3b540399edcf1_d\",\"url\":\"https://batch.eastus.batch.azure.com/pools/batch_network_814e11b1/nodes/tvmps_bb2c0598b34ccb1c5fbef006cd7c618a1d38828b0dac20dcefb3b540399edcf1_d\",\"state\":\"creating\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2022-10-27T22:58:15.1214235Z\",\"allocationTime\":\"2022-10-27T22:58:15.1214235Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_bb2c0598b34ccb1c5fbef006cd7c618a1d38828b0dac20dcefb3b540399edcf1_d\",\"vmSize\":\"standard_d2_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"TestEndpointConfig.0\",\"protocol\":\"udp\",\"publicIPAddress\":\"20.119.108.96\",\"publicFQDN\":\"dns14b9762b-d663-4ce6-b3ed-833968f2c5f5-azurebatch-cloudservice.eastus.cloudapp.azure.com\",\"frontendPort\":60000,\"backendPort\":64444\r\n
        \         },{\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.119.108.96\",\"publicFQDN\":\"dns14b9762b-d663-4ce6-b3ed-833968f2c5f5-azurebatch-cloudservice.eastus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n
        \         \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"18.04.202210180\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
