interactions:
- request:
    body: '{"id": "batch_network_814e11b1", "vmSize": "standard_d1_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}, "targetDedicatedNodes":
      1, "networkConfiguration": {"endpointConfiguration": {"inboundNATPools": [{"name":
      "TestEndpointConfig", "protocol": "udp", "backendPort": 64444, "frontendPortRangeStart":
      60000, "frontendPortRangeEnd": 61000, "networkSecurityGroupRules": [{"priority":
      150, "access": "allow", "sourceAddressPrefix": "*"}]}]}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 30 Jul 2021 12:57:21 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch814e11b1.southcentralus.batch.azure.com/pools/batch_network_814e11b1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D953599234DE65'
      last-modified:
      - Fri, 30 Jul 2021 12:57:21 GMT
      location:
      - https://batch.southcentralus.batch.azure.com/pools/batch_network_814e11b1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 30 Jul 2021 12:57:22 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/batch_network_814e11b1?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_network_814e11b1\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/batch_network_814e11b1\",\"eTag\":\"0x8D953599234DE65\",\"lastModified\":\"2021-07-30T12:57:21.9768933Z\",\"creationTime\":\"2021-07-30T12:57:21.9768933Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-30T12:57:21.9768933Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2021-07-30T12:57:21.9768933Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n  },\"networkConfiguration\":{\r\n
        \   \"dynamicVNetAssignmentScope\":\"none\",\"endpointConfiguration\":{\r\n
        \     \"inboundNATPools\":[\r\n        {\r\n          \"name\":\"TestEndpointConfig\",\"protocol\":\"udp\",\"backendPort\":64444,\"frontendPortRangeStart\":60000,\"frontendPortRangeEnd\":61000,\"networkSecurityGroupRules\":[\r\n
        \           {\r\n              \"priority\":150,\"access\":\"allow\",\"sourceAddressPrefix\":\"*\",\"sourcePortRanges\":[\r\n
        \               \"*\"\r\n              ]\r\n            }\r\n          ]\r\n
        \       }\r\n      ]\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D953599234DE65'
      last-modified:
      - Fri, 30 Jul 2021 12:57:21 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 30 Jul 2021 12:58:32 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/batch_network_814e11b1/nodes?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_bb3048591035a0e0caf78354deab82f1cd69cf67205b51389e5ab484fd407f1c_d\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/batch_network_814e11b1/nodes/tvmps_bb3048591035a0e0caf78354deab82f1cd69cf67205b51389e5ab484fd407f1c_d\",\"state\":\"creating\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2021-07-30T12:58:23.5536394Z\",\"allocationTime\":\"2021-07-30T12:58:23.5536394Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_bb3048591035a0e0caf78354deab82f1cd69cf67205b51389e5ab484fd407f1c_d\",\"vmSize\":\"standard_d1_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"TestEndpointConfig.0\",\"protocol\":\"udp\",\"publicIPAddress\":\"20.188.94.35\",\"publicFQDN\":\"dns7e033cf3-4823-44e4-b50c-7a29b090d753-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":60000,\"backendPort\":64444\r\n
        \         },{\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.188.94.35\",\"publicFQDN\":\"dns7e033cf3-4823-44e4-b50c-7a29b090d753-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n
        \         \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"16.04.202106110\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
