interactions:
- request:
    body: '{"id": "batch_schedule_fe140e2a", "schedule": {"startWindow": "PT1H", "recurrenceInterval":
      "P1D"}, "jobSpecification": {"onAllTasksComplete": "terminatejob", "constraints":
      {"maxTaskRetryCount": 2}, "poolInfo": {"poolId": "pool_id"}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Thu, 13 Jun 2019 19:30:38 GMT
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules?api-version=2019-06-01.9.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D6F0359D879316'
      last-modified:
      - Thu, 13 Jun 2019 19:30:38 GMT
      location:
      - https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:30:38 GMT
    method: GET
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules?api-version=2019-06-01.9.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.westcentralus.batch.azure.com/$metadata#jobschedules\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a\",\"eTag\":\"0x8D6F0359D879316\",\"lastModified\":\"2019-06-13T19:30:38.6344726Z\",\"creationTime\":\"2019-06-13T19:30:38.6344726Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-06-13T19:30:38.6344726Z\",\"schedule\":{\r\n
        \       \"startWindow\":\"PT1H\",\"recurrenceInterval\":\"P1D\"\r\n      },\"jobSpecification\":{\r\n
        \       \"priority\":0,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n
        \         \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \       },\"poolInfo\":{\r\n          \"poolId\":\"pool_id\"\r\n        }\r\n
        \     },\"executionInfo\":{\r\n        \"nextRunTime\":\"2019-06-14T19:30:38.6344726Z\",\"recentJob\":{\r\n
        \         \"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\",\"id\":\"batch_schedule_fe140e2a:job-1\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:30:38 GMT
    method: GET
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2019-06-01.9.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.westcentralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch[...]
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:30:39 GMT
    method: GET
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/jobs?api-version=2019-06-01.9.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.westcentralus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_schedule_fe140e2a:job-1\",\"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\",\"eTag\":\"0x8D6F0359D946451\",\"lastModified\":\"2019-06-13T19:30:38.7184721Z\",\"creationTime\":\"2019-06-13T19:30:38.7034775Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-06-13T19:30:38.7184721Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \     },\"poolInfo\":{\r\n        \"poolId\":\"pool_id\"\r\n      },\"executionInfo\":{\r\n
        \       \"startTime\":\"2019-06-13T19:30:38.7184721Z\",\"poolId\":\"pool_id\"\r\n
        \     },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:30:39 GMT
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable?api-version=2019-06-01.9.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D6F0359E05E628'
      last-modified:
      - Thu, 13 Jun 2019 19:30:39 GMT
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:30:39 GMT
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable?api-version=2019-06-01.9.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D6F0359E19EE91'
      last-modified:
      - Thu, 13 Jun 2019 19:30:39 GMT
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:30:39 GMT
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate?api-version=2019-06-01.9.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D6F0359E5A63AD'
      last-modified:
      - Thu, 13 Jun 2019 19:30:40 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Thu, 13 Jun 2019 19:30:40 GMT
    method: DELETE
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2019-06-01.9.0
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
