interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://fakeAccount.farmbeats.azure.net/farmers/fake-farmer?api-version=2021-03-31-preview
  response:
    body:
      string: '{"id":"fake-farmer","eTag":"2d009dbf-0000-0600-0000-609ecf970000","createdDateTime":"2021-05-14T19:29:23Z","modifiedDateTime":"2021-05-14T19:29:27Z"}'
    headers:
      api-deprecated-versions: 2020-12-31-preview
      api-supported-versions: 2021-03-31-preview
      content-type: application/json; charset=utf-8
      etag: 2d009dbf-0000-0600-0000-609ecf970000
    status:
      code: 200
      message: OK
    url: https://sdk-live-test-agadhika-second.farmbeats.azure.net/farmers/fake-farmer?api-version=2021-03-31-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://fakeAccount.farmbeats.azure.net/farmers/fake-farmer?api-version=2021-03-31-preview
  response:
    body:
      string: '{"id":"fake-farmer","eTag":"2d009dbf-0000-0600-0000-609ecf970000","createdDateTime":"2021-05-14T19:29:23Z","modifiedDateTime":"2021-05-14T19:29:27Z"}'
    headers:
      api-deprecated-versions: 2020-12-31-preview
      api-supported-versions: 2021-03-31-preview
      content-type: application/json; charset=utf-8
      etag: 2d009dbf-0000-0600-0000-609ecf970000
    status:
      code: 200
      message: OK
    url: https://sdk-live-test-agadhika-second.farmbeats.azure.net/farmers/fake-farmer?api-version=2021-03-31-preview
version: 1
