interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://fakeAccount.farmbeats.azure.net/farmers/async-test-farmer?api-version=2021-03-31-preview
  response:
    body:
      string: '{"id":"async-test-farmer","eTag":"0300c371-0000-0600-0000-60cfd9ec0000","createdDateTime":"2021-06-21T00:14:36Z","modifiedDateTime":"2021-06-21T00:14:36Z"}'
    headers:
      api-deprecated-versions: 2020-12-31-preview
      api-supported-versions: 2021-03-31-preview
      content-type: application/json; charset=utf-8
      etag: 0300c371-0000-0600-0000-60cfd9ec0000
      location: http://sdk-live-test-agadhika-second.farmbeats.azure.net/farmers/async-test-farmer
      x-ms-throttle-information: '5'
    status:
      code: 201
      message: Created
    url: https://sdk-live-test-agadhika-second.farmbeats.azure.net/farmers/async-test-farmer-137?api-version=2021-03-31-preview
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://fakeAccount.farmbeats.azure.net/farmers/async-test-farmer?api-version=2021-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-deprecated-versions: 2020-12-31-preview
      api-supported-versions: 2021-03-31-preview
      x-ms-throttle-information: '1'
    status:
      code: 204
      message: No Content
    url: https://sdk-live-test-agadhika-second.farmbeats.azure.net/farmers/async-test-farmer-137?api-version=2021-03-31-preview
version: 1
