{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=39d176c5-91b6-454b-854d-55813c17d92d\u0026client_secret=KCf8Q~J3H5tYIwsneXeV_aMSAwR5QTDM.1SsNcee\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Ffarmbeats.azure.net%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fakeaccount.farmbeats.azure.net/parties/test-party-3957?api-version=2022-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "name": "Test Party",
        "description": "Party created during testing.",
        "status": "Sample Status",
        "properties": {
          "foo": "bar",
          "numeric one": 1,
          "1": "numeric key"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "0100edb1-0000-0600-0000-63f61c500000",
        "Location": "http://bb-prod-wcus-1.farmbeats.azure.net/parties/test-party-3957",
        "mise-correlation-id": "bb931c41-b449-4516-a3fc-235fa7a6855f",
        "x-ms-throttle-information": "1000"
      },
      "ResponseBody": {
        "id": "test-party-3957",
        "eTag": "0100edb1-0000-0600-0000-63f61c500000",
        "status": "Sample Status",
        "createdDateTime": "2023-02-22T13:44:48Z",
        "modifiedDateTime": "2023-02-22T13:44:48Z",
        "name": "Test Party",
        "description": "Party created during testing.",
        "createdBy": "9002b50e-dc98-445e-a865-72dce38ecafd",
        "modifiedBy": "9002b50e-dc98-445e-a865-72dce38ecafd",
        "properties": {
          "foo": "bar",
          "numeric one": 1,
          "1": "numeric key"
        }
      }
    },
    {
      "RequestUri": "https://fakeaccount.farmbeats.azure.net/parties/test-party-3957?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01-preview",
        "mise-correlation-id": "6d957387-225e-4de7-8765-cfd168c2e01d",
        "x-ms-throttle-information": "100"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
