interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fakeAccount.farmbeats.azure.net/farmers/fake-farmer/boundaries/fake-boundaryboundary?api-version=2021-03-31-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"Resource with id ''fake-boundaryboundary''
        does not exist for provided farmerId.","target":null,"details":null,"innererror":null},"traceId":"0HM8KA76V1Q64:00000001"}'
    headers:
      api-deprecated-versions:
      - 2020-12-31-preview
      api-supported-versions:
      - 2021-03-31-preview
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"geometry": {"coordinates": [[[73.70457172393799, 20.545385304358106],
      [73.70457172393799, 20.545385304358106], [73.70448589324951, 20.542411534243367],
      [73.70877742767334, 20.541688176010233], [73.71023654937744, 20.545083911372505],
      [73.70663166046143, 20.546992723579137], [73.70457172393799, 20.545385304358106]]],
      "type": "Polygon"}, "description": "Created by SDK"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://fakeAccount.farmbeats.azure.net/farmers/fake-farmer/boundaries/fake-boundaryboundary?api-version=2021-03-31-preview
  response:
    body:
      string: '{"farmerId":"fake-farmer","geometry":{"type":"Polygon","coordinates":[[[73.70457172393799,20.545385304358106],[73.70457172393799,20.545385304358106],[73.70448589324951,20.542411534243367],[73.70877742767334,20.541688176010233],[73.71023654937744,20.545083911372505],[73.70663166046143,20.546992723579137],[73.70457172393799,20.545385304358106]]]},"isPrimary":false,"acreage":60.40491151079627,"id":"fake-boundaryboundary","eTag":"00008362-0000-0600-0000-609d4aa00000","createdDateTime":"2021-05-13T15:49:52Z","modifiedDateTime":"2021-05-13T15:49:52Z","description":"Created
        by SDK"}'
    headers:
      api-deprecated-versions:
      - 2020-12-31-preview
      api-supported-versions:
      - 2021-03-31-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - 00008362-0000-0600-0000-609d4aa00000
      location:
      - http://sdk-testing-wcus-1.farmbeats.azure.net/farmers/fake-farmer/boundaries/fake-boundaryboundary
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://fakeAccount.farmbeats.azure.net/farmers/fake-farmer/boundaries/fake-boundaryboundary?api-version=2021-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-deprecated-versions:
      - 2020-12-31-preview
      api-supported-versions:
      - 2021-03-31-preview
    status:
      code: 204
      message: No Content
version: 1
