{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=39d176c5-91b6-454b-854d-55813c17d92d\u0026client_secret=KCf8Q~J3H5tYIwsneXeV_aMSAwR5QTDM.1SsNcee\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Ffarmbeats.azure.net%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fakeaccount.farmbeats.azure.net/parties/test-party-8563?api-version=2022-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "name": "Test Party",
        "description": "Party created during testing.",
        "status": "Sample Status",
        "properties": {
          "foo": "bar",
          "numeric one": 1,
          "1": "numeric key"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "0400a607-0000-0600-0000-63ed41d70000",
        "Location": "http://fakeaccount.farmbeats.azure.net/parties/test-party-8563",
        "mise-correlation-id": "9d87d37d-c514-43fc-9154-82bf0d670c7b",
        "x-ms-throttle-information": "1000"
      },
      "ResponseBody": {
        "id": "test-party-8563",
        "eTag": "0400a607-0000-0600-0000-63ed41d70000",
        "status": "Sample Status",
        "createdDateTime": "2023-02-15T20:34:31Z",
        "modifiedDateTime": "2023-02-15T20:34:31Z",
        "name": "Test Party",
        "description": "Party created during testing.",
        "createdBy": "9002b50e-dc98-445e-a865-72dce38ecafd",
        "modifiedBy": "9002b50e-dc98-445e-a865-72dce38ecafd",
        "properties": {
          "foo": "bar",
          "numeric one": 1,
          "1": "numeric key"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeaccount.farmbeats.azure.net/parties/test-party-8563?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01-preview",
        "Content-Type": "application/json",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-throttle-information": "20"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Resource \u0027Party\u0027 with id \u0027test-party-8563\u0027 does not exist."
        },
        "traceId": "0HMOFA8TG01H1:00000007"
      }
    }
  ],
  "Variables": {}
}
