interactions:
- request:
    body: '{"status": "Sample Status", "name": "Test Farmer", "description": "Farmer
      created during testing.", "properties": {"foo": "bar", "numeric one": 1, "1":
      "numeric key"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://fakeAccount.farmbeats.azure.net/farmers/test-farmer-farmer-ops?api-version=2021-03-31-preview
  response:
    body:
      string: '{"id":"test-farmer-farmer-ops","eTag":"0000b216-0000-0600-0000-60a42f410000","status":"Sample
        Status","createdDateTime":"2021-05-18T21:18:57Z","modifiedDateTime":"2021-05-18T21:18:57Z","name":"Test
        Farmer","description":"Farmer created during testing.","properties":{"foo":"bar","numeric
        one":1,"1":"numeric key"}}'
    headers:
      api-deprecated-versions:
      - 2020-12-31-preview
      api-supported-versions:
      - 2021-03-31-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - 0000b216-0000-0600-0000-60a42f410000
      location:
      - http://sdk-live-test-agadhika-second.farmbeats.azure.net/farmers/test-farmer-farmer-ops
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fakeAccount.farmbeats.azure.net/farmers/test-farmer-farmer-ops?api-version=2021-03-31-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"Resource with id ''test-farmer-farmer-ops''
        does not exist.","target":null,"details":null,"innererror":null},"traceId":"0HM8KA6VEKNA0:00000002"}'
    headers:
      api-deprecated-versions:
      - 2020-12-31-preview
      api-supported-versions:
      - 2021-03-31-preview
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
