interactions:
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"myVirtualNetwork\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork\"\
        ,\r\n  \"etag\": \"W/\\\"0a045c76-7c9a-445a-9713-3149abe3fe47\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"a1e00656-d624-468e-aa4b-aae69b1a5a90\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\"\
        : [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/430bafc5-5fe5-4e81-9c14-bf42c021aed9?api-version=2019-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/430bafc5-5fe5-4e81-9c14-bf42c021aed9?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork/subnets/mySubnet?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"name\": \"mySubnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork/subnets/mySubnet\"\
        ,\r\n  \"etag\": \"W/\\\"8b6d6eee-c6d6-4d00-a868-6ca87c502d96\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\"\
        : \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/606dc85d-5266-45ea-8ccd-849dff48a734?api-version=2019-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''b\''{"zones": ["1"], "location": "eastus", "properties": {"redisConfiguration":
      {"maxmemory-policy": "allkeys-lru"}, "enableNonSslPort": true, "shardCount":
      2, "minimumTlsVersion": "1.2", "sku": {"name": "Premium", "family": "P", "capacity":
      1}, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork/subnets/mySubnet",
      "staticIP": "10.0.0.5"}}\'''''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Cache/Redis/myosgk?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Cache/Redis/myosgk","location":"East
        US","name":"myosgk","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningState":"Creating","redisVersion":"4.0.14","sku":{"name":"Premium","family":"P","capacity":1},"enableNonSslPort":true,"instances":[{"sslPort":15000,"nonSslPort":13000,"isMaster":false},{"sslPort":15001,"nonSslPort":13001,"isMaster":false},{"sslPort":15002,"nonSslPort":13002,"isMaster":false},{"sslPort":15003,"nonSslPort":13003,"isMaster":false}],"minimumTlsVersion":"1.2","redisConfiguration":{"maxmemory-policy":"allkeys-lru","maxclients":"7500","maxmemory-reserved":"200","maxfragmentationmemory-reserved":"300","maxmemory-delta":"200"},"accessKeys":{"primaryKey":"XfcGwf7x7Hbl195VhqzcI0bMU9xARhFEAHs9USauaTw=","secondaryKey":"3pcWgeGnzPXBZJPJwxYvYuGf9zGR+GWeTNdcHfa+rDI="},"hostName":"myosgk.redis.cache.windows.net","port":6379,"sslPort":6380,"subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork/subnets/mySubnet","staticIP":"10.0.0.5","shardCount":2,"linkedServers":[]},"zones":["1"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Cache/redis/myosgk?api-version=2019-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 786cfe9a-f192-40cc-9743-9349dd0ee735
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Cache/redis/myosgk?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Cache/Redis/myosgk","location":"East
        US","name":"myosgk","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningS[...]
- request:
    body: '{"properties": {"startIP": "10.0.1.1", "endIP": "10.0.1.4"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Cache/Redis/myosgk/firewallRules/myRule?api-version=2019-07-01
  response:
    body:
      string: '{"properties":{"startIP":"10.0.1.1","endIP":"10.0.1.4"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Cache/redis/myosgk/firewallRules/myRule","name":"myosgk/myRule","type":"Microsoft.Cache/redis/firewallRules"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Cache/redis/myosgk/firewallRules/myRule?api-version=2019-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-rp-server-mvid:
      - 786cfe9a-f192-40cc-9743-9349dd0ee735
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"keyType": "Primary"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Cache/Redis/myosgk/regenerateKey?api-version=2019-07-01
  response:
    body:
      string: '{"primaryKey":"lz+aHX3l9JY174SMNaUWhnoWVgIh3Q2VEPQArPZ37Xc=","secondaryKey":"3pcWgeGnzPXBZJPJwxYvYuGf9zGR+GWeTNdcHfa+rDI="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - 786cfe9a-f192-40cc-9743-9349dd0ee735
    status:
      code: 200
      message: OK
- request:
    body: '{"rebootType": "AllNodes", "shardId": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Cache/Redis/myosgk/forceReboot?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"message\": \"The requested reboot operation for 'Value in\
        \ shard ShardId' has been successfully scheduled and should be executed shortly.\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-rp-server-mvid:
      - 786cfe9a-f192-40cc-9743-9349dd0ee735
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Cache/Redis/myosgk/listKeys?api-version=2019-07-01
  response:
    body:
      string: '{"primaryKey":"lz+aHX3l9JY174SMNaUWhnoWVgIh3Q2VEPQArPZ37Xc=","secondaryKey":"3pcWgeGnzPXBZJPJwxYvYuGf9zGR+GWeTNdcHfa+rDI="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-rp-server-mvid:
      - 786cfe9a-f192-40cc-9743-9349dd0ee735
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"enableNonSslPort": true}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Cache/Redis/myosgk?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Cache/Redis/myosgk","location":"East
        US","name":"myosgk","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningState":"Succeeded","redisVersion":"4.0.14","sku":{"name":"Premium","family":"P","capacity":1},"enableNonSslPort":true,"instances":[{"sslPort":15000,"nonSslPort":13000,"zone":"1","shardId":0,"isMaster":true},{"sslPort":15001,"nonSslPort":13001,"zone":"1","shardId":0,"isMaster":false},{"sslPort":15002,"nonSslPort":13002,"zone":"1","shardId":1,"isMaster":true},{"sslPort":15003,"nonSslPort":13003,"zone":"1","shardId":1,"isMaster":false}],"minimumTlsVersion":"1.2","redisConfiguration":{"maxmemory-policy":"allkeys-lru","maxclients":"7500","maxmemory-reserved":"200","maxfragmentationmemory-reserved":"300","maxmemory-delta":"200"},"accessKeys":null,"hostName":"myosgk.redis.cache.windows.net","port":6379,"sslPort":6380,"subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork/subnets/mySubnet","staticIP":"10.0.0.5","shardCount":2,"linkedServers":[]},"zones":["1"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-rp-server-mvid:
      - 786cfe9a-f192-40cc-9743-9349dd0ee735
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "cacheName", "type": "Microsoft.Cache/Redis"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/CheckNameAvailability?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
      x-rp-server-mvid:
      - 786cfe9a-f192-40cc-9743-9349dd0ee735
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationresults/003c992b-07ab-4d1e-8fe1-a8ef3de764ce?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationresults/003c992b-07ab-4d1e-8fe1-a8ef3de764ce?api-version=2019-07-01
      x-rp-server-mvid:
      - 786cfe9a-f192-40cc-9743-9349dd0ee735
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/East%20US/operationresults/003c992b-07ab-4d1e-8fe1-a8ef3de764ce?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
      x-rp-server-mvid:
      - 786cfe9a-f192-40cc-9743-9349dd0ee735
    status:
      code: 200
      message: OK
version: 1
