{
  "Entries": [
    {
      "RequestUri": "https://test-workspace.workspace.discovery.azure.com/tools/projects/test-project:run?api-version=2026-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "command": "echo \"cancel test\" && sleep 300",
        "nodePoolIds": [
          "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Discovery/supercomputers/test-sc/nodePools/nodepool1"
        ],
        "toolId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Discovery/tools/testtool"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "operation-location": "https://test-workspace.workspace.discovery.azure.com/tools/projects/test-project/operations/f528d4eebb5f47d98c62725072da0ef0",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "NotStarted",
        "error": null,
        "result": null
      }
    },
    {
      "RequestUri": "https://test-workspace.workspace.discovery.azure.com/tools/projects/test-project/operations/f528d4eebb5f47d98c62725072da0ef0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "NotStarted",
        "error": null,
        "result": {
          "status": "TaskAccepted",
          "runtimeDetails": "Tool run has been requested",
          "createdAt": "2026-05-16T00:02:02.2970928Z",
          "completedAt": null,
          "toolReport": {
            "percentageComplete": 0,
            "logs": "<no logs found>",
            "statusInformation": null
          },
          "outputData": [],
          "debugInfo": ""
        }
      }
    },
    {
      "RequestUri": "https://test-workspace.workspace.discovery.azure.com/tools/projects/test-project/operations/f528d4eebb5f47d98c62725072da0ef0:cancel?api-version=2026-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-build-version": "1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
