{
  "Entries": [
    {
      "RequestUri": "https://test-workspace.workspace.discovery.azure.com/projects/test-project/investigations/test-invst/tasks?api-version=2026-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "title": "task-for-start-test",
        "priority": "High",
        "description": "Test task for Python SDK",
        "assignedTo": {
          "id": "Sanitized",
          "type": "Application"
        },
        "investigationId": "/projects/test-project/investigations/test-invst"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-build-version": "1"
      },
      "ResponseBody": {
        "name": "4975886658412173146",
        "title": "task-for-start-test",
        "priority": "High",
        "description": "Test task for Python SDK",
        "validationRequirements": [],
        "parentId": null,
        "dependsOn": [],
        "relatedTo": [],
        "assignedTo": {
          "id": "Sanitized",
          "type": "Application"
        },
        "comments": [],
        "createdByType": "User",
        "status": "New",
        "createdAt": "2026-05-15T23:59:27.4912978Z",
        "lastModifiedAt": "2026-05-15T23:59:27.4912978Z",
        "executionHistory": [
          {
            "createdAt": "2026-05-15T23:59:27.4912978Z",
            "action": "taskCreated",
            "createdBy": "Sanitized",
            "createdByType": "User",
            "summary": "Task created: task-for-start-test"
          }
        ],
        "taskCollectionId": "5215043646661345540",
        "investigationId": "/projects/test-project/investigations/test-invst",
        "taskResult": {
          "text": "",
          "storageAssetIds": [],
          "citations": []
        },
        "storageAssetIds": [],
        "lastModifiedByType": "User",
        "lastModifiedBy": "Sanitized",
        "createdBy": "Sanitized",
        "foundryConversationId": null
      }
    },
    {
      "RequestUri": "https://test-workspace.workspace.discovery.azure.com/projects/test-project/investigations/test-invst/tasks/4975886658412173146:start?api-version=2026-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-build-version": "1[...]
    {
      "RequestUri": "https://test-workspace.workspace.discovery.azure.com/projects/test-project/investigations/test-invst/tasks/4975886658412173146?api-version=2026-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-build-version": "1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
