{
  "Entries": [
    {
      "RequestUri": "https://test-workspace.workspace.discovery.azure.com/conversations/00000000-0000-0000-0000-000000000000?api-version=2026-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "x-ms-build-version": "1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
