interactions:
- request:
    body: '{"location": "WestUS", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_storagesync_test_storagesync77ac117c/providers/Microsoft.StorageSync/storageSyncServices/ssservicename?api-version=2019-06-01
  response:
    body:
      string: '{"properties":{"storageSyncServiceStatus":null,"storageSyncServiceUid":null},"location":"WestUS","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_storagesync_test_storagesync77ac117c/providers/microsoft.storagesync/storageSyncServices/ssservicename","name":"ssservicename","type":"microsoft.storagesync/storageSyncServices"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_storagesync_test_storagesync77ac117c/providers/Microsoft.StorageSync/storageSyncServices/ssservicename?api-version=2019-06-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
