interactions:
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/e078ab98-ef3a-4c9a-aba7-12f5172b45d0",
      "principalId": "123743cc-88ef-49ee-920e-13958fe5697d"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/88888888-7000-0000-0000-000000000003?api-version=2018-01-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/e078ab98-ef3a-4c9a-aba7-12f5172b45d0","principalId":"123743cc-88ef-49ee-920e-13958fe5697d","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname","createdOn":"2020-11-23T07:34:59.1067752Z","updatedOn":"2020-11-23T07:34:59.1067752Z","createdBy":null,"updatedBy":"123743cc-88ef-49ee-920e-13958fe5697d"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/88888888-7000-0000-0000-000000000003","type":"Microsoft.Authorization/roleAssignments","name":"88888888-7000-0000-0000-000000000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/88888888-7000-0000-0000-000000000003?api-version=2018-01-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/e078ab98-ef3a-4c9a-aba7-12f5172b45d0","principalId":"123743cc-88ef-49ee-920e-13958fe5697d","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname","createdOn":"2020-11-23T07:34:59.1067752Z","updatedOn":"2020-11-23T07:34:59.4167510Z","createdBy":null,"updatedBy":"123743cc-88ef-49ee-920e-13958fe5697d"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/88888888-7000-0000-0000-000000000003","type":"Microsoft.Authorization/roleAssignments","name":"88888888-7000-0000-0000-000000000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
version: 1
