interactions:
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/e078ab98-ef3a-4c9a-aba7-12f5172b45d0",
      "principalId": "123743cc-88ef-49ee-920e-13958fe5697d"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/88888888-7000-0000-0000-000000000003?api-version=2018-01-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/e078ab98-ef3a-4c9a-aba7-12f5172b45d0","principalId":"123743cc-88ef-49ee-920e-13958fe5697d","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname","createdOn":"2020-11-23T07:34:46.5443105Z","updatedOn":"2020-11-23T07:34:46.5443105Z","createdBy":null,"updatedBy":"123743cc-88ef-49ee-920e-13958fe5697d"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/88888888-7000-0000-0000-000000000003","type":"Microsoft.Authorization/roleAssignments","name":"88888888-7000-0000-0000-000000000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Authorization/providerOperations/Microsoft.Compute?api-version=2018-01-01-preview&$expand=resourceTypes
  response:
    body:
      string: '{"displayName":"Microsoft Compute","operations":[{"name":"Microsoft.Compute/register/action","displayName":"Register
        Subscription for Compute","description":"Registers Subscription with Microsoft.Compute
        resource provider","origin":"user,system","properties":null,"isDataAction":false},{"name":"Microsoft.Compute/unregister/action","displayName":"Unregister
        Subscription for Compute","description":"Unregisters Subscription with Microsoft.Compute
        resource provider","origin":"user,system","properties":null,"isDataAction":false}],"resourceTypes":[{"name":"availabilitySets","displayName":"Availability
        Sets","operations":[{"name":"Microsoft.Compute/availabilitySets/read","displayName":"Get
        Availablity Set","description":"Get the properties of an availability set","origin":"user,system","properties":null,"isDataAction":false},{"name":"Microsoft.Compute/availabilitySets/write","displayName":"Create
        or Update Availability Set","description":"Creates a new availability set
        or updates an existing one","origin":"[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/88888888-7000-0000-0000-000000000003?api-version=2018-01-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/e078ab98-ef3a-4c9a-aba7-12f5172b45d0","principalId":"123743cc-88ef-49ee-920e-13958fe5697d","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname","createdOn":"2020-11-23T07:34:47.4772858Z","updatedOn":"2020-11-23T07:34:47.4772858Z","createdBy":"123743cc-88ef-49ee-920e-13958fe5697d","updatedBy":"123743cc-88ef-49ee-920e-13958fe5697d"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/88888888-7000-0000-0000-000000000003","type":"Microsoft.Authorization/roleAssignments","name":"88888888-7000-0000-0000-000000000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 200
      message: OK
version: 1
