interactions:
- request:
    body: 'b''b\''{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "c0b47275-7607-4249-a417-af79e7ec1a91"}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_authorization_test_role_assignment9e52125c/providers/Microsoft.Authorization/roleAssignments/ddfe2dc0-9858-442f-aca3-ac215947a815?api-version=2018-09-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"c0b47275-7607-4249-a417-af79e7ec1a91","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_authorization_test_role_assignment9e52125c","createdOn":"2020-08-14T02:05:51.7782618Z","updatedOn":"2020-08-14T02:05:51.7782618Z","createdBy":null,"updatedBy":"4faa32fd-963a-464d-b6bf-c12cf48c0317"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_authorization_test_role_assignment9e52125c/providers/Microsoft.Authorization/roleAssignments/ddfe2dc0-9858-442f-aca3-ac215947a815","type":"Microsoft.Authorization/roleAssignments","name":"ddfe2dc0-9858-442f-aca3-ac215947a815"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_authorization_test_role_assignment9e52125c/providers/Microsoft.Authorization/roleAssignments/ddfe2dc0-9858-442f-aca3-ac215947a815?api-version=2018-09-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"c0b47275-7607-4249-a417-af79e7ec1a91","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_authorization_test_role_assignment9e52125c","createdOn":"2020-08-14T02:05:52.0532407Z","updatedOn":"2020-08-14T02:05:52.0532407Z","createdBy":"4faa32fd-963a-464d-b6bf-c12cf48c0317","updatedBy":"4faa32fd-963a-464d-b6bf-c12cf48c0317"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_authorization_test_role_assignment9e52125c/providers/Microsoft.Authorization/roleAssignments/ddfe2dc0-9858-442f-aca3-ac215947a815","type":"Microsoft.Authorization/roleAssignments","name":"ddfe2dc0-9858-442f-aca3-ac215947a815"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
