interactions:
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "6d33bfc8-e476-11e8-915d-f2801f1b9fd1"}}\\\\\\\''\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_authorization_test_role_assignment9e52125c/providers/Microsoft.Authorization/roleAssignments/ddfe2dc0-9858-442f-aca3-ac215947a815?api-version=2018-09-01-preview
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"6d33bfc8-e476-11e8-915d-f2801f1b9fd1","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_authorization_test_role_assignment9e52125c","createdOn":"2018-11-09T23:22:30.7697296Z","updatedOn":"2018-11-09T23:22:30.7697296Z","createdBy":null,"updatedBy":"6d33bfc8-e476-11e8-915d-f2801f1b9fd1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_authorization_test_role_assignment9e52125c/providers/Microsoft.Authorization/roleAssignments/ddfe2dc0-9858-442f-aca3-ac215947a815","type":"Microsoft.Authorization/roleAssignments","name":"ddfe2dc0-9858-442f-aca3-ac215947a815"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
      x-ms-request-charge: ['2']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_authorization_test_role_assignment9e52125c/providers/Microsoft.Authorization/roleAssignments/ddfe2dc0-9858-442f-aca3-ac215947a815?api-version=2018-09-01-preview
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"6d33bfc8-e476-11e8-915d-f2801f1b9fd1","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_authorization_test_role_assignment9e52125c","createdOn":"2018-11-09T23:22:31.8326536Z","updatedOn":"2018-11-09T23:22:31.8326536Z","createdBy":"6d33bfc8-e476-11e8-915d-f2801f1b9fd1","updatedBy":"6d33bfc8-e476-11e8-915d-f2801f1b9fd1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_authorization_test_role_assignment9e52125c/providers/Microsoft.Authorization/roleAssignments/ddfe2dc0-9858-442f-aca3-ac215947a815","type":"Microsoft.Authorization/roleAssignments","name":"ddfe2dc0-9858-442f-aca3-ac215947a815"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
      x-ms-request-charge: ['2']
    status: {code: 200, message: OK}
version: 1
