interactions:
- request:
    body: '{"tags": {"elastic_server": "1"}, "location": "eastus", "sku": {"name":
      "B_Gen5_2", "tier": "Basic"}, "properties": {"tags": {"elastic_server": "1"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_postgresql_test_postgresql562b10c0/providers/Microsoft.DBForPostgreSql/flexibleServers/testserver21345?api-version=2020-02-14-preview
  response:
    body:
      string: '{"error":{"code":"ParameterOutOfRange","message":"The value of the
        ''Sku.Tier'' should be in: [Burstable, GeneralPurpose, MemoryOptimized]. Verify
        that the specified parameter value is correct."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 400
      message: Bad Request
version: 1
