interactions:
- request:
    body: '{"location": "westus2", "sku": {"name": "Standard_B1ms", "tier": "Burstable"},
      "properties": {"administratorLogin": "testuser", "administratorLoginPassword":
      "test123!@#", "version": "5.7", "storageProfile": {"backupRetentionDays": 7,
      "storageMB": 102400}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pythonsdk-mysql-rg4cd01a55/providers/Microsoft.DBForMySql/flexibleServers/mysql-testserver2134?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"UpsertServerManagementOperationV2","startTime":"2020-10-22T04:26:53.98Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/azureAsyncOperation/723f892b-05e7-4b56-81ce-9813a20996f4?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/operationResults/723f892b-05e7-4b56-81ce-9813a20996f4?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/azureAsyncOperation/723f892b-05e7-4b56-81ce-9813a20996f4?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"name":"723f892b-05e7-4b56-81ce-9813a20996f4","status":"InProgress","startTime":"2020-10-22T04:26:53.98Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pythonsdk-mysql-rg4cd01a55/providers/Microsoft.DBForMySql/flexibleServers/mysql-testserver2134?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"sku":{"name":"Standard_B1ms","tier":"Burstable","capacity":0},"properties":{"administratorLogin":"testuser","storageProfile":{"storageMB":102400,"storageIops":0,"backupRetentionDays":7,"storageAutogrow":"Disabled","fileStorageSkuName":"Premium_LRS"},"version":"5.7","state":"Ready","haState":"NotEnabled","fullyQualifiedDomainName":"mysql-testserver2134.mysql.database.azure.com","sourceServerId":"","publicNetworkAccess":"Enabled","sslEnforcement":"Disabled","haEnabled":"Disabled","earliestRestoreDate":"2020-10-22T04:35:55.7967506+00:00","maintenanceWindow":{"customWindow":"Disabled","dayOfWeek":0,"startHour":0,"startMinute":0},"replicationRole":"None","replicaCapacity":10,"byokEnforcement":"Disabled"},"location":"West
        US 2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pythonsdk-mysql-rg4cd01a55/providers/Microsoft.DBforMySQL/flexibleServers/mysql-testserver2134","name":"mysql-testserver2134","type":"Microsoft.DBforMySQL/flexibleServers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pythonsdk-mysql-rg4cd01a55/providers/Microsoft.DBForMySql/flexibleServers/mysql-testserver2134/restart?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"RestartServerManagementOperation","startTime":"2020-10-22T04:36:57.507Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/azureAsyncOperation/bc061b65-7e7c-46a5-9725-43bf11888bf4?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/operationResults/bc061b65-7e7c-46a5-9725-43bf11888bf4?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pythonsdk-mysql-rg4cd01a55/providers/Microsoft.DBForMySql/flexibleServers/mysql-testserver2134/stop?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"StopServerManagementOperation","startTime":"2020-10-22T04:38:58.437Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/azureAsyncOperation/a4293080-13d9-41a1-ab84-50c62e1389ce?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/operationResults/a4293080-13d9-41a1-ab84-50c62e1389ce?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pythonsdk-mysql-rg4cd01a55/providers/Microsoft.DBForMySql/flexibleServers/mysql-testserver2134/start?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"StartServerManagementOperation","startTime":"2020-10-22T04:42:59.67Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/azureAsyncOperation/a5b6bb74-22d0-416b-bc9b-a73196912d60?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/operationResults/a5b6bb74-22d0-416b-bc9b-a73196912d60?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pythonsdk-mysql-rg4cd01a55/providers/Microsoft.DBForMySql/flexibleServers?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_B1ms","tier":"Burstable","capacity":0},"properties":{"administratorLogin":"testuser","storageProfile":{"storageMB":262144,"storageIops":0,"backupRetentionDays":10,"storageAutogrow":"Disabled","fileStorageSkuName":"Premium_LRS"},"version":"5.7","state":"Ready","haState":"NotEnabled","fullyQualifiedDomainName":"mysql-testserver2134.mysql.database.azure.com","sourceServerId":"","publicNetworkAccess":"Enabled","sslEnforcement":"Disabled","haEnabled":"Disabled","earliestRestoreDate":"2020-10-22T04:41:56.8113339+00:00","replicationRole":"None","replicaCapacity":10,"byokEnforcement":"Disabled"},"location":"West
        US 2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pythonsdk-mysql-rg4cd01a55/providers/Microsoft.DBforMySQL/flexibleServers/mysql-testserver2134","name":"mysql-testserver2134","type":"Microsoft.DBforMySQL/flexibleServers"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.DBForMySql/operations?api-version=2017-12-01
  response:
    body:
      string: '{"value":[{"name":"Microsoft.DBforMySQL/servers/advisors/read","display":{"provider":"Microsoft
        DB for MySQL","resource":"Advisors","operation":"Return the list of advisors","description":"Return
        the list of advisors"}},{"name":"Microsoft.DBforMySQL/servers/advisors/read","display":{"provider":"Microsoft
        DB for MySQL","resource":"Advisors","operation":"Return an advisor","description":"Return
        an advisor"}},{"name":"Microsoft.DBforMySQL/servers/advisors/recommendedActions/read","display":{"provider":"Microsoft
        DB for MySQL","resource":"Recommended Actions","operation":"Return the list
        of recommended actions","description":"Return the list of[...]
- request:
    body: '{"name": "servernamethatdoesnotexistpsvonpimw6ictx", "type": "Microsoft.DBforMySQL/flexibleServers"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBForMySql/checkNameAvailability?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"nameAvailable":true,"message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "mysql-testserver2134", "type": "Microsoft.DBforMySQL/flexibleServers"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBForMySql/checkNameAvailability?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"Specified
        server name is already used."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: 'b''b\''{"location": "westus2", "sku": {"name": "Standard_B1ms", "tier":
      "Burstable"}, "properties": {"sourceServerId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pythonsdk-mysql-rg4cd01a55/providers/Microsoft.DBforMySQL/flexibleServers/mysql-testserver2134",
      "createMode": "Replica"}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-[...]
[...]
- request:
    body: 'b''b\''{"location": "westus2", "properties": {"sourceServerId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pythonsdk-mysql-rg4cd01a55/providers/Microsoft.DBforMySQL/flexibleServers/mysql-testserver2134",
      "restorePointInTime": "2020-10-22T05:03:08.711709Z", "createMode": "PointInTimeRestore"}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pythonsdk-mysql-rg4cd01a55/providers/Microsoft.DBForMySql/flexibleServers/mysql-testserver2134-restore2134?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"RestoreSnapshotManagementOperation","startTime":"2020-10-22T05:08:08.677Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/azureAsyncOperation/a611cb58-1193-4c1e-9f3c-78c09cfcdb79?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/operationResults/a611cb58-1193-4c1e-9f3c-78c09cfcdb79?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/West%20US%202/azureAsyncOperation/b00197fa-f279-4495-9b3b-5bf4c5ec02da?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"name":"b00197fa-f279-4495-9b3b-5bf4c5ec02da","status":"InProgress","startTime":"2020-10-22T05:27:12.87Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
