include *.md
include azure/__init__.py
include azure/monitor/__init__.py
include azure/monitor/opentelemetry/__init__.py
include LICENSE.txt
recursive-include tests *.py
recursive-include samples *.py *.md