{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/328cf68e-c819-56da-ff0f-b07237ae6f3d/versions?api-version=2023-04-01\u0026hash=ef3d8d602c7712c3710cb023b1fcf6c64087444f410a002cbcfb27928d743482\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11979",
        "x-ms-response-type": "standard",
        "x-request-time": "0.029"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/328cf68e-c819-56da-ff0f-b07237ae6f3d/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "ef3d8d602c7712c3710cb023b1fcf6c64087444f410a002cbcfb27928d743482",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://amltest5899420437.blob.core.windows.net:443/0bdd51b6-c-31ed816e-4de8-5c5e-84b4-078545d6315c/data-transfer-component",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2023-05-19T10:07:38.6819607\u002B00:00",
              "createdBy": "Chenyang Zhang",
              "createdByType": "User",
              "lastModifiedAt": "2023-05-19T10:07:38.6819607\u002B00:00",
              "lastModifiedBy": "Chenyang Zhang",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/328cf68e-c819-56da-ff0f-b07237ae6f3d/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_169055566114/versions/0.0.1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "transfer data between common storage types such as Azure Blob Storage and Azure Data Lake.",
          "properties": {
            "client_component_hash": "4c39e098-781b-0001-30dd-e6c0fbf5077e"
          },
          "tags": {
            "category": "Component Tutorial",
            "contact": "amldesigner@microsoft.com"
          },
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "name": "test_169055566114",
            "description": "transfer data between common storage types such as Azure Blob Storage and Azure Data Lake.",
            "tags": {
              "category": "Component Tutorial",
              "contact": "amldesigner@microsoft.com"
            },
            "version": "0.0.1",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/DataTransferComponent.json",
            "display_name": "Data Transfer",
            "is_deterministic": true,
            "inputs": {
              "source_data": {
                "type": "path",
                "description": "Source data"
              }
            },
            "outputs": {
              "destination_data": {
                "type": "path",
                "description": "Destination data"
              }
            },
            "type": "DataTransferComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/328cf68e-c819-56da-ff0f-b07237ae6f3d/versions/1",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_169055566114/versions/0.0.1?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1193",
        "x-ms-response-type": "standard",
        "x-request-time": "0.280"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-00[...]
[...]
