interactions:
- request:
    body: '{"location": "global", "sku": {"name": "Free"}, "kind": "Bot", "properties":
      {"displayName": "this is a test bot", "description": "this is a description
      for a test bot", "endpoint": "https://bing.com/messages/", "msaAppId": "41a220b9-6571-4f0b-bbd2-43f1c1d82f52",
      "developerAppInsightKey": "59513bad-10a7-4d41-b4d0-b1c34c6af52a", "developerAppInsightsApiKey":
      "w24iw5ocbhcig71su7ibaj63hey5ieaozeuwdv2r", "developerAppInsightsApplicationId":
      "cf03484e-3fdb-4b5e-9ad7-94bde32e5a2b"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testpythonrg/providers/Microsoft.BotService/botServices/testpythonbot11?api-version=2017-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testpythonrg/providers/Microsoft.BotService/botServices/testpythonbot11","name":"testpythonbot11","type":"Microsoft.BotService/botServices","etag":"W/\"datetime''2018-03-28T19%3A37%3A22.5239389Z''\"","location":"global","sku":{"name":""},"kind":"Bot","properties":{"displayName":"this
        is a test bot","description":"this is a description for a test bot","iconUrl":"//intercom-scratch.azureedge.net/bot-icons-v1/bot-framework-default.png","endpoint":"https://bing.com/messages/","msaAppId":"41a220b9-6571-4f0b-bbd2-43f1c1d82f52","developerAppInsightKey":"59513bad-10a7-4d41-b4d0-b1c34c6af52a","developerAppInsightsApplicationId":"cf03484e-3fdb-4b5e-9ad7-94bde32e5a2b","luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":true,"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"datetime'2018-03-28T19%3A37%3A22.5239389Z'"]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "global", "properties": {"channelName": "WebChatChannel",
      "properties": {}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testpythonrg/providers/Microsoft.BotService/botServices/testpythonbot11/channels/WebChatChannel?api-version=2017-12-01
  response:
    body: {string: '{"error":{"code":"InvalidBotData","message":"message: Value cannot
        be null.\r\nParameter name: source original trace:    at System.Linq.Enumerable.Select[TSource,TResult](IEnumerable`1
        source, Func`2 selector)\r\n   at Intercom.ResourceProvider.ServiceModel.WebChatChannelResource.ToConfigSettings()
        in E:\\Repos\\IntercomProject\\Intercom.ResourceProvider\\ServiceModel\\WebChatChannelResource.cs:line
        12\r\n   at Intercom.ResourceProvider.Channels.ArmChannelManager.<UpdateChannelAsync>d__2`2.MoveNext()
        in E:\\Repos\\IntercomProject\\Intercom.ResourceProvider\\Channels\\ArmChannelManager.cs:line
        61\r\n--- End of stack trace from previous location where exception was thrown
        ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\r\n   at Intercom.ResourceProvider.DataProviders.ChannelResourceDataProvider.<InsertResourceAsync>d__3.MoveNext()
        in E:\\Repos\\IntercomProject\\Intercom.ResourceProvider\\DataProviders\\ChannelResourceDataProvider.cs:line
        84"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testpythonrg/providers/Microsoft.BotService/botServices/testpythonbot11?api-version=2017-12-01
  response:
    body: {string: '{"error":{"code":"UnknownError","message":"message: The remote
        server returned an error: (412) Precondition Failed. original trace:    at
        Microsoft.WindowsAzure.Storage.Core.Executor.Executor.EndExecuteAsync[T](IAsyncResult
        result) in c:\\Program Files (x86)\\Jenkins\\workspace\\release_dotnet_master\\Lib\\ClassLibraryCommon\\Core\\Executor\\Executor.cs:line
        50\r\n   at Microsoft.WindowsAzure.Storage.Core.Util.AsyncExtensions.<>c__DisplayClass2`1.<CreateCallback>b__0(IAsyncResult
        ar) in c:\\Program Files (x86)\\Jenkins\\workspace\\release_dotnet_master\\Lib\\ClassLibraryCommon\\Core\\Util\\AsyncExtensions.cs:line
        69\r\n--- End of stack trace from previous location where exception was thrown
        ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at
        Intercom.Azure.Helpers.CloudTableObjectExtensions.<TransformObjectAsync>d__13`1.MoveNext()
        in E:\\Repos\\IntercomProject\\Utilities\\Intercom.Storage.Helpers\\CloudTableObjectExtensions.cs:line
        320\r\n--- End of stack trace from previous location where exception was thrown
        ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\r\n   at Intercom.Azure.Helpers.CloudTableObjectExtensions.<TransformObjectAsync>d__12`1.MoveNext()
        in E:\\Repos\\IntercomProject\\Utilities\\Intercom.Storage.Helpers\\CloudTableObjectExtensions.cs:line
        0\r\n--- End of stack trace from previous location where exception was thrown
        ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\r\n   at Intercom.Models.Storage.<TransformBotAsync>d__80.MoveNext()
        in E:\\Repos\\IntercomProject\\Intercom.Models\\Storage\\BotOperators.cs:line
        272\r\n--- End of stack trace from previous location where exception was thrown
        ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\r\n   at Intercom.Models.Storage.<DeleteBotChannelAccountsAsync>d__95.MoveNext()
        in E:\\Repos\\IntercomProject\\Intercom.Models\\Storage\\BotOperators.cs:line
        740\r\n--- End of stack trace from previous location where exception was thrown
        ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\r\n   at DevPortalLib.Helpers.BotHelper.<DeleteBotAsync>d__16.MoveNext()
        in E:\\Repos\\IntercomProject\\DevPortalLib\\Helpers\\BotHelper.cs:line 225\r\n---
        End of stack trace from previous location where exception was thrown ---\r\n   at
        System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\r\n   at Intercom.ResourceProvider.DataProviders.ResourceDataProvider.<DeleteResourceAsync>d__3.MoveNext()
        in E:\\Repos\\IntercomProject\\Intercom.ResourceProvider\\DataProviders\\ResourceDataProvider.cs:line
        203"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [service]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 500, message: Internal Server Error}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testpythonrg/providers/Microsoft.BotService/botServices/testpythonbot11?api-version=2017-12-01
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
version: 1
