interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_notificationhubs_test_namespaces77d6115a/providers/Microsoft.NotificationHubs/namespaces/namespacexxx?api-version=2017-04-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Unknown","enabled":false,"zoneRedundant":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_notificationhubs_test_namespaces77d6115a/providers/Microsoft.NotificationHubs/namespaces/namespacexxx","name":"namespacexxx","type":"Microsoft.NotificationHubs/namespaces"}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_notificationhubs_test_namespaces77d6115a/providers/Microsoft.NotificationHubs/namespaces/namespacexxx/operations/Q3JlYXRlTmFtZXNwYWNlLTBiMWY2NDcxLTFiZjAtNGRkYS1hZWMzLWNiOTI3MmYwOTU5MC1uYW1lc3BhY2V4eHg7bmhwcm9kYmwyMDAxLTItZmFicmlj?api-version=2017-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_notificationhubs_test_namespaces77d6115a/providers/Microsoft.NotificationHubs/namespaces/namespacexxx?api-version=2017-04-01
      trackingid:
      - 0a3455dd-a41d-4906-94b6-8481e1b2b347
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_notificationhubs_test_namespaces77d6115a/providers/Microsoft.NotificationHubs/namespaces/namespacexxx?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Free"},"properties":{"status":"Active","createdAt":"2022-01-06T07:19:20.0370000Z","updatedAt":"2022-01-06T07:19:20.7400000Z","serviceBusEndpoint":"https://namespacexxx.servicebus.windows.net:443/","enabled":true,"critical":false,"zoneRedundant":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_notificationhubs_test_namespaces77d6115a/providers/Microsoft.NotificationHubs/namespaces/namespacexxx","name":"namespacexxx","type":"Microsoft.NotificationHubs/namespaces","location":"East
        US"}'
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview
      content-type:
      - application/json; charset=utf-8
      trackingid:
      - a5cd13c5-c968-44dc-b3d7-2b34a2427312
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_notificationhubs_test_namespaces77d6115a/providers/Microsoft.NotificationHubs/namespaces/namespacexxx?api-version=2017-04-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview
      trackingid:
      - ca638985-6996-4ee4-9121-5f36286e931b
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 204
      message: No Content
version: 1
