[run]
include =
	azure*
	sdk*
omit =
	*/test*
	env*
	*/_serialization.py

[paths]
source =
	sdk/
	**/sdk

[report]
exclude_lines =
	pragma: no cover
	if raw:
	if custom_headers:
	if headers:
	if response.status_code not in
	if TYPE_CHECKING:
omit =
	*/test*
	env*
	*/_serialization.py