# This is a sample of what your .env file should look like if you wanted to run integration tests.
# If you move this file to the .env and replace the environment variables with your own values, then the environment
# will be included when the rake test tasks are executed. Otherwise, you could just export the environment vars
# yourself.

AZURE_TENANT_ID="your tenant id or domain"
AZURE_CLIENT_ID="your client id / application id"
AZURE_CLIENT_SECRET="your service principal secret"
AZURE_SUBSCRIPTION_ID="your subscription id"