# Python cache
__pycache__/
*.pyc
.pytest_cache

# Virtual environment
env*/

# PTVS analysis
.ptvs/

# Coverage report
**/.coverage

# Build results
bin/
obj/
dist/
MANIFEST

# Result of running python setup.py install/pip install -e
RECORD.txt
build/
*.egg-info/

# Test results
TestResults/

# Credentials 
credentials_real.json
testsettings_local.json
testsettings_local.cfg
servicebus_settings_real.py
storage_settings_real.py
legacy_mgmt_settings_real.py
mgmt_settings_real.py
app_creds_real.py

# User-specific files
*.suo
*.user
*.sln.docstates
.vs/
.vscode

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

.idea
src/build
*.iml
/doc/_build
/.vs/config/applicationhost.config

# Azure deployment credentials
*.pubxml

# [begoldsm] ignore virtual env if it exists.
adlEnv/