# Python cache
__pycache__/
*.pyc
.pytest_cache
.mypy_cache
.cache

# Virtual environment
env*/

# Codespace virtual environment
pythonenv*/

# PTVS analysis
.ptvs/

# Coverage report
**/.coverage
_coverage

# Build results
bin/
obj/
dist/
MANIFEST
_docs

# Result of running python setup.py install/pip install -e
RECORD.txt
build/
*.egg-info/
.tox_pip_cache*/

# Test results
TestResults/
ENV_DIR/

# Perf test profiling
cProfile-*.pstats

# tox generated artifacts
test-junit-*.xml
pylint-*.out.txt
coverage-*.xml
stderr.txt
stdout.txt
_proxy_log_*.log
_azci_*.log
.artifacts
.tmp_whl_dir

# tox environment folders
.tox/

# Credentials
credentials_real.json
testsettings_local.json
testsettings_local.cfg
servicebus_settings_real.py
storage_settings_real.py
legacy_mgmt_settings_real.py
mgmt_settings_real.py
app_creds_real.py

# User-specific files
*.suo
*.user
*.sln.docstates
.vs/
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

.idea
src/build
*.iml
/doc/_build
/doc/sphinx/examples
/doc/sphinx/tests
/.vs/config/applicationhost.config

# Azure deployment credentials
*.pubxml

# [begoldsm] ignore virtual env if it exists.
adlEnv/
venv/
code_reports

# Azure Storage test credentials
sdk/storage/azure-storage-blob/tests/settings/settings_real.py
sdk/storage/azure-storage-queue/tests/settings/settings_real.py
sdk/storage/azure-storage-file-share/tests/settings/settings_real.py
sdk/storage/azure-storage-file-datalake/tests/settings/settings_real.py


# The locations below are deprecated - keep to prevent any accidental secrets leakage ==========
sdk/storage/azure-storage-blob/tests/_shared/settings_real.py
sdk/storage/azure-storage-queue/tests/_shared/settings_real.py
sdk/storage/azure-storage-file-share/tests/_shared/settings_real.py
sdk/storage/azure-storage-file-datalake/tests/settings_real.py
sdk/storage/azure-storage-blob/tests/settings_real.py
sdk/storage/azure-storage-queue/tests/settings_real.py
sdk/storage/azure-storage-file-share/tests/settings_real.py
# ==============================================================================================

*.code-workspace
sdk/cosmos/azure-cosmos/test/test_config.py

# temp path to to run regression test
.tmp_code_path/

# env vars
.env

# local SSL certificate folder
.certificate
