futures;python_version<="2.7"
python-dateutil
pyopenssl
git+https://github.com/Azure/msrest-for-python@async2
git+https://github.com/Azure/msrestazure-for-python@async
pytest-asyncio;python_full_version>="3.5.2"