aiohttp
avro
azure-appconfiguration
azure-cognitiveservices-knowledge-nspkg
azure-cognitiveservices-language-nspkg
azure-cognitiveservices-nspkg
azure-cognitiveservices-search-nspkg
azure-cognitiveservices-vision-nspkg
azure-common
azure-core
azure-data-nspkg
azure-eventhub
azure-keyvault-secrets
azure-media-nspkg
azure-mgmt-core
azure-mixedreality-authentication
azure-nspkg
azure-schemaregistry
azure-storage-blob
cryptography
enum34
fixedint
futures
isodate
msal
msal-extensions
msrest
msrestazure
opencensus
opencensus-ext-azure
opencensus-ext-threading
opentelemetry-api
opentelemetry-sdk
pyjwt
python-dateutil
requests
six
typing
typing-extensions
uamqp
yarl