msrest
azure-common
azure-mgmt-core
typing-extensions
azure-core
six
isodate
azure-appconfiguration
azure-keyvault-secrets
azure-nspkg
cryptography
msrestazure
azure-cognitiveservices-nspkg
azure-cognitiveservices-knowledge-nspkg
azure-cognitiveservices-language-nspkg
azure-cognitiveservices-search-nspkg
azure-cognitiveservices-vision-nspkg
python-dateutil
requests
aiohttp
opencensus
opencensus-ext-azure
opencensus-ext-threading
opentelemetry-api
azure-eventhub
futures
azure-data-nspkg
enum34
typing
msal
msal-extensions
azure-media-nspkg
fixedint
opentelemetry-sdk
azure-mixedreality-authentication
azure-schemaregistry
avro
uamqp
azure-storage-blob
yarl
pyjwt