interactions:
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-date: ['Tue, 23 Jun 2015 00:51:19 GMT']
      x-ms-version: ['2014-02-14']
    method: GET
    uri: https://storagename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors><CorsRule><AllowedMethods>GET,PUT</AllowedMethods><AllowedOrigins>www.ab.com,www.bc.com</AllowedOrigins><AllowedHeaders>x-ms-meta-data*,x-ms-meta-target*</AllowedHeaders><ExposedHeaders>x-ms-meta-source*,x-ms-meta-test*</ExposedHeaders><MaxAgeInSeconds>5</MaxAgeInSeconds></CorsRule><CorsRule><AllowedMethods>HEAD</AllowedMethods><AllowedOrigins>*</AllowedOrigins><AllowedHeaders>x-ms-meta-ab*</AllowedHeaders><ExposedHeaders>x-ms-meta-abc*</ExposedHeaders><MaxAgeInSeconds>25</MaxAgeInSeconds></CorsRule></Cors></StorageServiceProperties>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2014-02-14']
    status: {code: 200, message: OK}
version: 1
