interactions:
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-date: ['Tue, 21 Jul 2015 20:11:40 GMT']
      x-ms-version: ['2014-02-14']
    method: PUT
    uri: https://storagename.file.core.windows.net/utshareb6161f62?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D29208977089F8"']
      Last-Modified: ['Tue, 21 Jul 2015 20:11:41 GMT']
      x-ms-version: ['2014-02-14']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-date: ['Tue, 21 Jul 2015 20:11:41 GMT']
      x-ms-version: ['2014-02-14']
    method: PUT
    uri: https://storagename.file.core.windows.net/utshareb6161f62/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D2920897B4B507"']
      Last-Modified: ['Tue, 21 Jul 2015 20:11:41 GMT']
      x-ms-version: ['2014-02-14']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-content-length: ['1024']
      x-ms-date: ['Tue, 21 Jul 2015 20:11:41 GMT']
      x-ms-type: [file]
      x-ms-version: ['2014-02-14']
    method: PUT
    uri: https://storagename.file.core.windows.net/utshareb6161f62/dir1/filea1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D2920897BA81A8"']
      Last-Modified: ['Tue, 21 Jul 2015 20:11:41 GMT']
      x-ms-version: ['2014-02-14']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-content-length: ['1024']
      x-ms-date: ['Tue, 21 Jul 2015 20:11:41 GMT']
      x-ms-type: [file]
      x-ms-version: ['2014-02-14']
    method: PUT
    uri: https://storagename.file.core.windows.net/utshareb6161f62/dir1/fileb1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D2920897CDBC17"']
      Last-Modified: ['Tue, 21 Jul 2015 20:11:41 GMT']
      x-ms-version: ['2014-02-14']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-date: ['Tue, 21 Jul 2015 20:11:41 GMT']
      x-ms-version: ['2014-02-14']
    method: GET
    uri: https://storagename.file.core.windows.net/utshareb6161f62/dir1?maxresults=2&restype=directory&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        utshareb6161f62\" DirectoryPath=\"dir1\"><MaxResults>2</MaxResults><Entries><File><Name>filea1</Name><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>filea2</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEz</NextMarker></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2014-02-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-date: ['Tue, 21 Jul 2015 20:11:41 GMT']
      x-ms-version: ['2014-02-14']
    method: GET
    uri: https://storagename.file.core.windows.net/utshareb6161f62/dir1?marker=1%218%21ZmlsZWEz&maxresults=2&restype=directory&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        utshareb6161f62\" DirectoryPath=\"dir1\"><Marker>filea3</Marker><MaxResults>2</MaxResults><Entries><File><Name>filea3</Name><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>fileb1</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2014-02-14']
    status: {code: 200, message: OK}
version: 1
