interactions:
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-date: ['Tue, 21 Jul 2015 20:10:35 GMT']
      x-ms-version: ['2014-02-14']
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare923c1700?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D29208707B6AED"']
      Last-Modified: ['Tue, 21 Jul 2015 20:10:35 GMT']
      x-ms-version: ['2014-02-14']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-date: ['Tue, 21 Jul 2015 20:10:36 GMT']
      x-ms-meta-hello: [world]
      x-ms-meta-number: ['43']
      x-ms-version: ['2014-02-14']
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare923c1700?restype=share&comp=metadata
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D29208711E03C3"']
      Last-Modified: ['Tue, 21 Jul 2015 20:10:36 GMT']
      x-ms-version: ['2014-02-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-date: ['Tue, 21 Jul 2015 20:10:36 GMT']
      x-ms-version: ['2014-02-14']
    method: GET
    uri: https://storagename.file.core.windows.net/?prefix=utshare923c1700&include=metadata&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>utshare923c1700</Prefix><Shares><Share><Name>utshare923c1700</Name><Properties><Last-Modified>Tue,\
        \ 21 Jul 2015 20:10:36 GMT</Last-Modified><Etag>\"0x8D29208711E03C3\"</Etag></Properties><Metadata><number>43</number><hello>world</hello></Metadata></Share></Shares><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2014-02-14']
    status: {code: 200, message: OK}
version: 1
