interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      ms-cv:
      - 56e5zc+JAkSyPvMiakXNQQ.0
      operation-id:
      - search_1798f414-0bb8-419f-986c-f44c0d99c475
      operation-location:
      - /phoneNumbers/operations/search_1798f414-0bb8-419f-986c-f44c0d99c475?api-version=2021-03-07
      search-id:
      - 1798f414-0bb8-419f-986c-f44c0d99c475
      x-processing-time:
      - 3557ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_1798f414-0bb8-419f-986c-f44c0d99c475?api-version=2021-03-07
  response:
    body:
      string: '{"status": "Succeeded", "resourceLocation": "/availablePhoneNumbers/searchResults/1798f414-0bb8-419f-986c-f44c0d99c475?api-version=2021-03-07",
        "createdDateTime": "2021-03-05T19:18:03.9690504+00:00", "id": "sanitized",
        "operationType": "Search", "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - sFNNn28le0uiJ6ts4OZXhw.0
      x-processing-time:
      - 462ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/1798f414-0bb8-419f-986c-f44c0d99c475?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "1798f414-0bb8-419f-986c-f44c0d99c475", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "TollFree", "assignmentType": "Application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "Monthly"}, "searchExpiresBy":
        "2021-03-05T19:34:09.3360252+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - twckNvyEv0+kDoJ16vIfqQ.0
      x-processing-time:
      - 978ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "1798f414-0bb8-419f-986c-f44c0d99c475"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      ms-cv:
      - dEWJXsmK5U+S1d+SW4xPLA.0
      operation-id:
      - purchase_1798f414-0bb8-419f-986c-f44c0d99c475
      operation-location:
      - /phoneNumbers/operations/purchase_1798f414-0bb8-419f-986c-f44c0d99c475?api-version=2021-03-07
      purchase-id:
      - 1798f414-0bb8-419f-986c-f44c0d99c475
      x-processing-time:
      - 2193ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_1798f414-0bb8-419f-986c-f44c0d99c475?api-version=2021-03-07
  response:
    body:
      string: '{"status": "Succeeded", "resourceLocation": null, "createdDateTime":
        "2021-03-05T19:18:03.9690504+00:00", "id": "sanitized", "operationType": "Purchase",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - a8V5HwLBx0uJkiycA5HEMQ.0
      x-processing-time:
      - 449ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      ms-cv:
      - gXwa83+iEUSNidCup9AaWQ.0
      operation-id:
      - release_3b7c3afa-226a-436f-abc4-a6df95e73bd0
      operation-location:
      - /phoneNumbers/operations/release_3b7c3afa-226a-436f-abc4-a6df95e73bd0?api-version=2021-03-07
      release-id:
      - 3b7c3afa-226a-436f-abc4-a6df95e73bd0
      x-processing-time:
      - 1478ms
    status:
      code: 202
      message: Accepted
version: 1
