interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 05 Jan 2022 09:54:22 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/XX/:search?api-version=2021-03-07
  response:
    body:
      string: '{"error": {"code": "InvalidInput", "message": "Unable to parse country
        code.", "target": "countrycode"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview
      content-type:
      - application/json
      ms-cv:
      - GGAVJQsnbEmw3BHSGx2I7g.0
      x-processing-time:
      - 66ms
    status:
      code: 400
      message: Bad Request
    url: sanitized
version: 1
