interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 06 Dec 2022 10:30:43 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":7777}},"routes":[]}'
    headers:
      api-supported-versions: 2021-05-01-preview, 2022-09-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: ewnueVXOU0+DvD8aJQnvPQ.0
      x-processing-time: 220ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":7777}},"routes":[]}'
    headers:
      api-supported-versions: 2021-05-01-preview, 2022-09-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: 5MLCHpmlREiHGHVH+lyAyQ.0
      x-processing-time: 81ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
version: 1
