{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Location": "/availablePhoneNumbers/searchResults/b26819db-052e-453f-976f-8b78648000e6?api-version=2022-12-01",
        "MS-CV": "sanitized",
        "operation-id": "search_b26819db-052e-453f-976f-8b78648000e6",
        "Operation-Location": "/phoneNumbers/operations/search_b26819db-052e-453f-976f-8b78648000e6?api-version=2022-12-01",
        "search-id": "b26819db-052e-453f-976f-8b78648000e6",
        "X-Processing-Time": "1400ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
