interactions:
- request:
    body: ''
    headers:
      x-ms-date:
      - Fri, 02 Dec 2022 23:07:37 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "outbound", "sms":
        "outbound"}, "assignmentType": "application", "purchaseDate": "2021-06-23T23:38:41.0997634+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions: 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview,
        2022-12-01
      content-type: application/json; charset=utf-8
      ms-cv: kj73c8+MLk2JHIRFJvtbmw.0
      x-processing-time: 957ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"calling": "inbound", "sms": "inbound+outbound"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 02 Dec 2022 23:07:38 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2022-12-01
  response:
    body:
      string: '{"capabilitiesUpdateId": "2445f5a7-b9dc-46c8-a632-fbd865128943"}'
    headers:
      api-supported-versions: 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview,
        2022-12-01
      capabilities-id: 2445f5a7-b9dc-46c8-a632-fbd865128943
      content-type: application/json; charset=utf-8
      ms-cv: tTBK53wGtkSRDa1BIGY9tQ.0
      operation-id: capabilities_2445f5a7-b9dc-46c8-a632-fbd865128943
      operation-location: /phoneNumbers/operations/capabilities_2445f5a7-b9dc-46c8-a632-fbd865128943?api-version=2022-12-01
      x-processing-time: 828ms
    status:
      code: 202
      message: Accepted
    url: sanitized
- request:
    body: ''
    headers:
      x-ms-date:
      - Fri, 02 Dec 2022 23:08:09 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_2445f5a7-b9dc-46c8-a632-fbd865128943?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "updatePhoneNumberCapabilities", "status": "succeeded",
        "resourceLocation": "/phoneNumbers/+18332321221?api-version=2022-12-01", "createdDateTime":
        "2022-12-02T23:07:38.8107025+00:00", "id": "sanitized", "lastActionDateTime":
        "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions: 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview,
        2022-11-15-preview, 2022-12-01
      content-type: application/json; charset=utf-8
      ms-cv: yQfzK+1XYkqWLHLk7Lqc5w.0
      x-processing-time: 445ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: ''
    headers:
      x-ms-date:
      - Fri, 02 Dec 2022 23:08:10 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/+18332321221?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2021-06-23T23:38:41.0997634+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions: 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview,
        2022-12-01
      content-type: application/json; charset=utf-8
      ms-cv: Z/l1AhiR2USsY2F/CLGlAg.0
      x-processing-time: 1790ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
