interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 21 Apr 2022 11:40:09 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122}},"routes":[]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: v3xhhGDNh0yRhdwZxwKf9g.0
      x-processing-time: 330ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
[...]
- request:
    body: '{"trunks": {"sbs1.sipconfigtest.com": {"sipSignalingPort": 1122}, "sbs2.sipconfigtest.com":
      {"sipSignalingPort": 1123}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 21 Apr 2022 11:40:10 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: OOJK7SgSs0ubnuY0NqJDDg.0
      x-processing-time: 920ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
- request:
    body: '{"routes": [{"description": "Handle numbers starting with ''+123''", "name":
      "First rule", "numberPattern": "\\+123[0-9]+", "trunks": ["sbs1.sipconfigtest.com"]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 21 Apr 2022 11:40:11 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[{"description":"Handle
        numbers starting with ''+123''","name":"First rule","numberPattern":"\\+123[0-9]+","trunks":["sbs1.sipconfigtest.com"]}]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: C1ys1r5K7kaAhhL2DROrEA.0
      x-processing-time: 264ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 21 Apr 2022 11:40:12 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[{"description":"Handle
        numbers starting with ''+123''","name":"First rule","numberPattern":"\\+123[0-9]+","trunks":["sbs1.sipconfigtest.com"]}]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: KNBVy1R1pUKCi2xcFUNStA.0
      x-processing-time: 198ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
version: 1
