interactions:
- request:
    body: '{"calling": "inbound", "sms": "inbound+outbound"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 22 Jun 2021 20:49:00 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2021-03-07
  response:
    body:
      string: '{"error": {"code": "InternalError", "message": "The server encountered
        an internal error."}}'
    headers:
      api-supported-versions: '2021-03-07'
      content-type: application/json
      ms-cv: ZHFikJ3L5EitfYqYolw4hw.0
      x-processing-time: 446ms
    status:
      code: 404
      message: Not Found
    url: sanitized
version: 1
