{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/sanitized/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=sanitized\u0026client_secret=sanitized\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fcommunication.azure.com%2F%2F.default\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "1231ms"
      },
      "ResponseBody": {
        "id": "sanitized",
        "phoneNumber": "sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-06-23T23:31:47.0550566\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2023-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "calling": "outbound",
        "sms": "outbound"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "capabilities-id": "dad7adaa-6ca1-4ab2-b66f-fe67869f678d",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/sanitized?api-version=2023-05-01-preview",
        "MS-CV": "sanitized",
        "operation-id": "capabilities_dad7adaa-6ca1-4ab2-b66f-fe67869f678d",
        "Operation-Location": "/phoneNumbers/operations/capabilities_dad7adaa-6ca1-4ab2-b66f-fe67869f678d?api-version=2023-05-01-preview",
        "X-Processing-Time": "2394ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "dad7adaa-6ca1-4ab2-b66f-fe67869f678d"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_dad7adaa-6ca1-4ab2-b66f-fe67869f678d?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/sanitized?api-version=2023-05-01-preview",
        "MS-CV": "sanitized",
        "X-Processing-Time": "165ms"
      },
      "ResponseBody": {
        "operationType": "updatePhoneNumberCapabilities",
        "status": "running",
        "resourceLocation": "/phoneNumbers/sanitized?api-version=2023-05-01-preview",
        "createdDateTime": "2023-08-04T03:55:02.3954685\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "1235ms"
      },
      "ResponseBody": {
        "id": "sanitized",
        "phoneNumber": "sanitized",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "outbound",
          "sms": "outbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2021-06-23T23:31:47.0550566\u002B00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    }
  ],
  "Variables": {}
}
