interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 07 Jan 2022 21:15:56 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-01-11-preview2
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "outbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2021-06-23T23:38:41.0997634+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8bZxTtpBAkG+IlIJyjy5sw.0
      x-processing-time:
      - 1600ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
