interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 09 Nov 2022 10:46:06 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.0d6643317d3b45bb8435d73cc67e025a.com":{"sipSignalingPort":1122},"sbs2.0d6643317d3b45bb8435d73cc67e025a.com":{"sipSignalingPort":1123},"sbs3.0d6643317d3b45bb8435d73cc67e025a.com":{"sipSignalingPort":2222}},"routes":[]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wsmZ67ZN3kmVXdbX+T01xQ.0
      x-processing-time:
      - 379ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Nov 2022 10:46:07 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.0d6643317d3b45bb8435d73cc67e025a.com":{"sipSignalingPort":1122}},"routes":[]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wJXO8BXtP0+Lw9HUtMJScA.0
      x-processing-time:
      - 87ms
    status:
      code: 200
      message: OK
version: 1
