interactions:
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 12 Jan 2022 16:27:45 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-01-11-preview2
  response:
    body:
      string: '{"error": {"code": "NotFound", "message": "Input phoneNumber +14255550123
        cannot be found.", "target": "phonenumber"}}'
    headers:
      api-supported-versions: 2021-03-07, 2022-01-11-preview2
      content-type: application/json
      ms-cv: UnFd7B6EzEKUG7l992jUlg.0
      x-processing-time: 1558ms
    status:
      code: 404
      message: Not Found
    url: sanitized
version: 1
