interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "outbound", "sms":
        "outbound"}, "assignmentType": "application", "purchaseDate": "2000-01-01T00:00:00+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - '2021-03-07'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - NN1ByHp1/UWMdngUtxuKsQ.0
      x-processing-time:
      - 7009ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"calling": "inbound", "sms": "inbound+outbound"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2021-03-07
  response:
    body:
      string: '{"capabilitiesUpdateId": "be1e19b1-9d28-43b3-b54d-18c3ba16df1a"}'
    headers:
      api-supported-versions:
      - '2021-03-07'
      capabilities-id:
      - be1e19b1-9d28-43b3-b54d-18c3ba16df1a
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - CVK1lozVPEOndsRX5RX4xA.0
      operation-id:
      - capabilities_be1e19b1-9d28-43b3-b54d-18c3ba16df1a
      operation-location:
      - /phoneNumbers/operations/capabilities_be1e19b1-9d28-43b3-b54d-18c3ba16df1a?api-version=2021-03-07
      x-processing-time:
      - 1804ms
    status:
      code: 202
      message: Accepted
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_be1e19b1-9d28-43b3-b54d-18c3ba16df1a?api-version=2021-03-07
  response:
    body:
      string: '{"status": "succeeded", "resourceLocation": "/phoneNumbers/+18335260208?api-version=2021-03-07",
        "createdDateTime": "2021-04-30T16:15:24.2219997+00:00", "id": "sanitized",
        "operationType": "updatePhoneNumberCapabilities", "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - '2021-03-07'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - SXa4WyO3Mka8a9Gsf8BsYQ.0
      x-processing-time:
      - 267ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/+18335260208?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2000-01-01T00:00:00+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - '2021-03-07'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /K7P7Q7xt0Sgxjgs/KsISg.0
      x-processing-time:
      - 1185ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
