interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 02 Dec 2022 23:08:43 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/XX/:search?api-version=2022-12-01
  response:
    body:
      string: '{"error": {"code": "InvalidInput", "message": "Unable to parse country
        code.", "target": "countrycode"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01
      content-type:
      - application/json
      ms-cv:
      - fhubQX92gUSrJDsnwnbDbQ.0
      x-processing-time:
      - 71ms
    status:
      code: 400
      message: Bad Request
    url: sanitized
version: 1
