interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 15 Nov 2022 16:04:20 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":7777}},"routes":[]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - b+N049UEdkuXwCG4vKcqZw.0
      x-processing-time:
      - 92ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"trunks": {"sbs3.sanitized.com": {"sipSignalingPort": 2222}, "sbs1.sanitized.com":
      null, "sbs2.sanitized.com": null}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 15 Nov 2022 16:04:21 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs3.sanitized.com":{"sipSignalingPort":2222}},"routes":[]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ejbQ+oXHcUmEhHREcoo8+w.0
      x-processing-time:
      - 248ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Nov 2022 16:04:21 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs3.sanitized.com":{"sipSignalingPort":2222}},"routes":[]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jF7jxkTZVUuFZrOpSyJ6AQ.0
      x-processing-time:
      - 83ms
    status:
      code: 200
      message: OK
version: 1
