interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-01-11-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2
      ms-cv:
      - BOPyVXuJqkGcyybAtwsX/A.0
      operation-id:
      - search_50515deb-0651-4f2c-9c9c-6f28b1bcda9e
      operation-location:
      - /phoneNumbers/operations/search_50515deb-0651-4f2c-9c9c-6f28b1bcda9e?api-version=2022-01-11-preview2
      search-id:
      - 50515deb-0651-4f2c-9c9c-6f28b1bcda9e
      x-processing-time:
      - 3025ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_50515deb-0651-4f2c-9c9c-6f28b1bcda9e?api-version=2022-01-11-preview2
  response:
    body:
      string: '{"operationType": "search", "status": "succeeded", "resourceLocation":
        "/availablePhoneNumbers/searchResults/50515deb-0651-4f2c-9c9c-6f28b1bcda9e?api-version=2022-01-11-preview2",
        "createdDateTime": "2022-01-07T21:16:47.6129155+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - eFKh0yEAe0+NQNHXkYzyRQ.0
      x-processing-time:
      - 279ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/50515deb-0651-4f2c-9c9c-6f28b1bcda9e?api-version=2022-01-11-preview2
  response:
    body:
      string: '{"searchId": "50515deb-0651-4f2c-9c9c-6f28b1bcda9e", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2022-01-07T21:32:49.6695657+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - FVGg0cWz0UWCeIJDv9GcqA.0
      x-processing-time:
      - 745ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
