interactions:
- request:
    body: '{"calling": "inbound", "sms": "inbound+outbound"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2021-03-07
  response:
    body:
      string: '{"capabilitiesUpdateId": "04387c51-57e3-4842-9463-ed7f5c3ff047"}'
    headers:
      capabilities-id:
      - 04387c51-57e3-4842-9463-ed7f5c3ff047
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - VtGvV19eLUyviHRxGzv3qw.0
      operation-id:
      - capabilities_04387c51-57e3-4842-9463-ed7f5c3ff047
      operation-location:
      - /phoneNumbers/operations/capabilities_04387c51-57e3-4842-9463-ed7f5c3ff047?api-version=2021-03-07
      x-processing-time:
      - 971ms
    status:
      code: 202
      message: Accepted
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_04387c51-57e3-4842-9463-ed7f5c3ff047?api-version=2021-03-07
  response:
    body:
      string: '{"status": "succeeded", "resourceLocation": "/phoneNumbers/+18335260208?api-version=2021-03-07",
        "createdDateTime": "2021-03-16T16:37:13.8361789+00:00", "id": "sanitized",
        "operationType": "UpdatePhoneNumberCapabilities", "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - zBPNquZsdkmXWbHJTp15iA.0
      x-processing-time:
      - 310ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/+18335260208?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "TollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "Application", "purchaseDate": "2000-01-01T00:00:00+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "Monthly"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - SYhI+g0k2UupvbcQ5+vBGQ.0
      x-processing-time:
      - 1225ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
