{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Location": "/availablePhoneNumbers/searchResults/b30f14e4-4c9c-42ae-afea-f1eb0ffa74f9?api-version=2022-12-01",
        "MS-CV": "sanitized",
        "operation-id": "search_b30f14e4-4c9c-42ae-afea-f1eb0ffa74f9",
        "Operation-Location": "/phoneNumbers/operations/search_b30f14e4-4c9c-42ae-afea-f1eb0ffa74f9?api-version=2022-12-01",
        "search-id": "b30f14e4-4c9c-42ae-afea-f1eb0ffa74f9",
        "X-Processing-Time": "1394ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_b30f14e4-4c9c-42ae-afea-f1eb0ffa74f9?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/b30f14e4-4c9c-42ae-afea-f1eb0ffa74f9?api-version=2022-12-01",
        "MS-CV": "sanitized",
        "X-Processing-Time": "301ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "notStarted",
        "resourceLocation": "/availablePhoneNumbers/searchResults/b30f14e4-4c9c-42ae-afea-f1eb0ffa74f9?api-version=2022-12-01",
        "createdDateTime": "2022-12-20T23:27:33.2337328\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/b30f14e4-4c9c-42ae-afea-f1eb0ffa74f9?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "614ms"
      },
      "ResponseBody": {
        "searchId": "b30f14e4-4c9c-42ae-afea-f1eb0ffa74f9",
        "phoneNumbers": [
          "\u002Bsanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2022-12-20T23:43:37.3558741\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
