interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 23 May 2022 12:00:41 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123},"sbs3.sipconfigtest.com":{"sipSignalingPort":2222}},"routes":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - fC4LVcYgsE+Qi3AeUQbOQA.0
      x-processing-time:
      - 331ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123},"sbs3.sipconfigtest.com":{"sipSignalingPort":2222}},"routes":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xqx3gRgUg02gk4Q8ujf/ng.0
      x-processing-time:
      - 741ms
    status:
      code: 200
      message: OK
version: 1
