interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 23 May 2022 12:01:13 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1ak1rfSH3EOJfQ56uIaGxQ.0
      x-processing-time:
      - 266ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 23 May 2022 12:01:15 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - CLmW5wS/vUOly8YDcpPVeQ.0
      x-processing-time:
      - 156ms
    status:
      code: 200
      message: OK
version: 1
