{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/sanitized/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=sanitized\u0026client_secret=sanitized\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fcommunication.azure.com%2F%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-httpver": "1.1"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Location": "/availablePhoneNumbers/searchResults/0db9fa79-c2dc-44a8-a7dd-87f52ead65da?api-version=2022-12-01",
        "MS-CV": "sanitized",
        "operation-id": "search_0db9fa79-c2dc-44a8-a7dd-87f52ead65da",
        "Operation-Location": "/phoneNumbers/operations/search_0db9fa79-c2dc-44a8-a7dd-87f52ead65da?api-version=2022-12-01",
        "search-id": "0db9fa79-c2dc-44a8-a7dd-87f52ead65da",
        "X-Processing-Time": "1436ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_0db9fa79-c2dc-44a8-a7dd-87f52ead65da?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/0db9fa79-c2dc-44a8-a7dd-87f52ead65da?api-version=2022-12-01",
        "MS-CV": "sanitized",
        "X-Processing-Time": "264ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "notStarted",
        "resourceLocation": "/availablePhoneNumbers/searchResults/0db9fa79-c2dc-44a8-a7dd-87f52ead65da?api-version=2022-12-01",
        "createdDateTime": "2022-12-20T17:39:57.4163951\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/0db9fa79-c2dc-44a8-a7dd-87f52ead65da?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "811ms"
      },
      "ResponseBody": {
        "searchId": "0db9fa79-c2dc-44a8-a7dd-87f52ead65da",
        "phoneNumbers": [
          "\u002Bsanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2022-12-20T17:56:01.6431519\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "searchId": "0db9fa79-c2dc-44a8-a7dd-87f52ead65da"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "MS-CV": "sanitized",
        "operation-id": "purchase_0db9fa79-c2dc-44a8-a7dd-87f52ead65da",
        "Operation-Location": "/phoneNumbers/operations/purchase_0db9fa79-c2dc-44a8-a7dd-87f52ead65da?api-version=2022-12-01",
        "purchase-id": "0db9fa79-c2dc-44a8-a7dd-87f52ead65da",
        "X-Processing-Time": "2017ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_0db9fa79-c2dc-44a8-a7dd-87f52ead65da?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "248ms"
      },
      "ResponseBody": {
        "operationType": "purchase",
        "status": "running",
        "resourceLocation": null,
        "createdDateTime": "2022-12-20T17:39:57.4163951\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "MS-CV": "sanitized",
        "operation-id": "release_5d23a4e3-a03a-444f-8e1b-f32fd503e85a",
        "Operation-Location": "/phoneNumbers/operations/release_5d23a4e3-a03a-444f-8e1b-f32fd503e85a?api-version=2022-12-01",
        "release-id": "5d23a4e3-a03a-444f-8e1b-f32fd503e85a",
        "X-Processing-Time": "1132ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/release_5d23a4e3-a03a-444f-8e1b-f32fd503e85a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "229ms"
      },
      "ResponseBody": {
        "operationType": "releasePhoneNumber",
        "status": "notStarted",
        "resourceLocation": null,
        "createdDateTime": "2022-12-20T17:40:25.9885731\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/release_5d23a4e3-a03a-444f-8e1b-f32fd503e85a?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "224ms"
      },
      "ResponseBody": {
        "operationType": "releasePhoneNumber",
        "status": "succeeded",
        "resourceLocation": null,
        "createdDateTime": "2022-12-20T17:40:25.9885731\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
