interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "outbound", "sms":
        "outbound"}, "assignmentType": "application", "purchaseDate": "2000-01-01T00:00:00+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions: '2021-03-07'
      content-type: application/json; charset=utf-8
      ms-cv: b8QShH17K0OPkuuUcD83tg.0
      x-processing-time: 2201ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"calling": "inbound", "sms": "inbound+outbound"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2021-03-07
  response:
    body:
      string: '{"capabilitiesUpdateId": "d673295d-7927-4c56-8912-3b8a7517c3dd"}'
    headers:
      api-supported-versions: '2021-03-07'
      capabilities-id: d673295d-7927-4c56-8912-3b8a7517c3dd
      content-type: application/json; charset=utf-8
      ms-cv: EglfUu8sgke3lTBhJ92ynw.0
      operation-id: capabilities_d673295d-7927-4c56-8912-3b8a7517c3dd
      operation-location: /phoneNumbers/operations/capabilities_d673295d-7927-4c56-8912-3b8a7517c3dd?api-version=2021-03-07
      x-processing-time: 1806ms
    status:
      code: 202
      message: Accepted
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_d673295d-7927-4c56-8912-3b8a7517c3dd?api-version=2021-03-07
  response:
    body:
      string: '{"status": "succeeded", "resourceLocation": "/phoneNumbers/+18335260208?api-version=2021-03-07",
        "createdDateTime": "2021-04-30T16:18:17.4753288+00:00", "id": "sanitized",
        "operationType": "updatePhoneNumberCapabilities", "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions: '2021-03-07'
      content-type: application/json; charset=utf-8
      ms-cv: VnwNJZRFBUimJlcQEKl/2Q.0
      x-processing-time: 664ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/+18335260208?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2000-01-01T00:00:00+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions: '2021-03-07'
      content-type: application/json; charset=utf-8
      ms-cv: INpASdJbFkiAzoUK/fLPgA.0
      x-processing-time: 4863ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
