interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 15 Nov 2022 12:25:15 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":1123},"sbs3.sanitized.com":{"sipSignalingPort":2222}},"routes":[]}'
    headers:
      api-supported-versions: 2021-05-01-preview, 2022-09-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: 64SFY0+MeEairGQm+jL7RA.0
      x-processing-time: 235ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":1123},"sbs3.sanitized.com":{"sipSignalingPort":2222}},"routes":[]}'
    headers:
      api-supported-versions: 2021-05-01-preview, 2022-09-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: dnM+TeKEA0CCo+5yUYHFnQ.0
      x-processing-time: 244ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
version: 1
