interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 06 Dec 2022 10:30:38 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      api-supported-versions: 2021-05-01-preview, 2022-09-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: 8BPS7AuzWEuRd/IX4UMFRA.0
      x-processing-time: 167ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
[...]
- request:
    body: '{"routes": [{"description": "Handle numbers starting with ''+123''", "name":
      "First rule", "numberPattern": "\\+123[0-9]+", "trunks": ["sbs1.sanitized.com"]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 06 Dec 2022 10:30:39 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":1123}},"routes":[{"description":"Handle
        numbers starting with ''+123''","name":"First rule","numberPattern":"\\+123[0-9]+","trunks":["sbs1.sanitized.com"]}]}'
    headers:
      api-supported-versions: 2021-05-01-preview, 2022-09-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: Nt90hLNfeUao708rXsDPjA.0
      x-processing-time: 164ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 06 Dec 2022 10:30:39 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":1123}},"routes":[{"description":"Handle
        numbers starting with ''+999''","name":"Alternative rule","numberPattern":"\\+999[0-9]+","trunks":["sbs2.sanitized.com"]}]}'
    headers:
      api-supported-versions: 2021-05-01-preview, 2022-09-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: djh1ESCP7EisEeel3mNJUw.0
      x-processing-time: 102ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
version: 1
