interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 23 May 2022 12:01:28 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ispDysMj+Ui35yfo3+J5gA.0
      x-processing-time:
      - 289ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 23 May 2022 12:01:32 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":7777}},"routes":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ma6TZn+aU0C5SQsqX0PeOw.0
      x-processing-time:
      - 197ms
    status:
      code: 200
      message: OK
version: 1
