interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}, "quantity": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: '{"error": {"code": "InvalidInput", "message": "We are unable to find
        phone plans to match your requested capabilities.", "target": "areacode"}}'
    headers:
      content-type:
      - application/json
      ms-cv:
      - e7d7aFdMpkmwL0Jwb7LJuQ.0
      x-processing-time:
      - 720ms
    status:
      code: 400
      message: Bad Request
version: 1
