interactions:
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 12 Oct 2022 01:04:27 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-01-11-preview2
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "outbound"}, "assignmentType": "application", "purchaseDate": "2021-06-23T23:38:41.0997634+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions: 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview,
        2022-12-01
      content-type: application/json; charset=utf-8
      ms-cv: 2PV4LYqC6k+adEPIvuU7bQ.0
      x-processing-time: 1803ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"calling": "outbound", "sms": "inbound+outbound"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 12 Oct 2022 01:04:29 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2022-01-11-preview2
  response:
    body:
      string: '{"capabilitiesUpdateId": "8418f561-7ca6-443d-92ee-e0e268a6a1f0"}'
    headers:
      api-supported-versions: 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview,
        2022-12-01
      capabilities-id: 8418f561-7ca6-443d-92ee-e0e268a6a1f0
      content-type: application/json; charset=utf-8
      ms-cv: gXA/z6i0OkGfnwU8TyEpHQ.0
      operation-id: capabilities_8418f561-7ca6-443d-92ee-e0e268a6a1f0
      operation-location: /phoneNumbers/operations/capabilities_8418f561-7ca6-443d-92ee-e0e268a6a1f0?api-version=2022-01-11-preview2
      x-processing-time: 2743ms
    status:
      code: 202
      message: Accepted
    url: sanitized
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 12 Oct 2022 01:05:02 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_8418f561-7ca6-443d-92ee-e0e268a6a1f0?api-version=2022-01-11-preview2
  response:
    body:
      string: '{"operationType": "updatePhoneNumberCapabilities", "status": "succeeded",
        "resourceLocation": "/phoneNumbers/+18332321221?api-version=2022-01-11-preview2",
        "createdDateTime": "2022-10-12T01:04:32.6863281+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions: 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview,
        2022-11-15-preview, 2022-12-01
      content-type: application/json; charset=utf-8
      ms-cv: NhVUiJ6M+ECJT7sIliGEdA.0
      x-processing-time: 1225ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 12 Oct 2022 01:05:03 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/+18332321221?api-version=2022-01-11-preview2
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "outbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2021-06-23T23:38:41.0997634+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions: 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview,
        2022-12-01
      content-type: application/json; charset=utf-8
      ms-cv: /9fv/jBgmEO0Mq0DEc41BQ.0
      x-processing-time: 2638ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
