interactions:
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 05 Jan 2022 10:01:24 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"error": {"code": "NotFound", "message": "Input phoneNumber +14255550123
        cannot be found.", "target": "phonenumber"}}'
    headers:
      api-supported-versions: 2021-03-07, 2022-01-11-preview
      content-type: application/json
      ms-cv: AyhyAhsxIUat2UgI5mNGHA.0
      x-processing-time: 259ms
    status:
      code: 404
      message: Not Found
    url: sanitized
version: 1
