interactions:
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 22 Jun 2021 20:47:37 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"error": {"code": "NotFound", "message": "Input phoneNumber +14255550123
        cannot be found.", "target": "phonenumber"}}'
    headers:
      api-supported-versions: '2021-03-07'
      content-type: application/json
      ms-cv: 7+dgmadKM06K8sXhBnyRew.0
      x-processing-time: 632ms
    status:
      code: 404
      message: Not Found
    url: sanitized
version: 1
