interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      ms-cv: 8WLGSUfKPU6zyEk9ShCZmw.0
      operation-id: search_d2b92f7d-1c61-481c-ac7d-044754b422bb
      operation-location: /phoneNumbers/operations/search_d2b92f7d-1c61-481c-ac7d-044754b422bb?api-version=2021-03-07
      search-id: d2b92f7d-1c61-481c-ac7d-044754b422bb
      x-processing-time: 2876ms
    status:
      code: 202
      message: Accepted
    url: https://live-testing.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
version: 1
