interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2000-01-01T00:00:00+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions: '2021-03-07'
      content-type: application/json; charset=utf-8
      ms-cv: /MHcYD3c50eydF0onlLNaw.0
      x-processing-time: 1162ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"calling": "outbound", "sms": "outbound"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2021-03-07
  response:
    body:
      string: '{"capabilitiesUpdateId": "968ff85e-a8a6-475d-853a-f311db7ef9ce"}'
    headers:
      api-supported-versions: '2021-03-07'
      capabilities-id: 968ff85e-a8a6-475d-853a-f311db7ef9ce
      content-type: application/json; charset=utf-8
      ms-cv: PJ7DpPO+hEavcOmRpbC6/g.0
      operation-id: capabilities_968ff85e-a8a6-475d-853a-f311db7ef9ce
      operation-location: /phoneNumbers/operations/capabilities_968ff85e-a8a6-475d-853a-f311db7ef9ce?api-version=2021-03-07
      x-processing-time: 1607ms
    status:
      code: 202
      message: Accepted
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_968ff85e-a8a6-475d-853a-f311db7ef9ce?api-version=2021-03-07
  response:
    body:
      string: '{"status": "succeeded", "resourceLocation": "/phoneNumbers/+18335260208?api-version=2021-03-07",
        "createdDateTime": "2021-04-28T16:46:16.8085663+00:00", "id": "sanitized",
        "operationType": "updatePhoneNumberCapabilities", "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions: '2021-03-07'
      content-type: application/json; charset=utf-8
      ms-cv: ZgD3NPNh10KkcpsRcGKrzA.0
      x-processing-time: 559ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/+18335260208?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "outbound", "sms":
        "outbound"}, "assignmentType": "application", "purchaseDate": "2000-01-01T00:00:00+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions: '2021-03-07'
      content-type: application/json; charset=utf-8
      ms-cv: KTxsc3fmJ0Go8QDrR0nJjg.0
      x-processing-time: 1808ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
