interactions:
- request:
    body: '{"calling": "inbound+outbound", "sms": "outbound"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/phoneNumbers/%2B18335260208/capabilities?api-version=2021-03-07
  response:
    body:
      string: '{"capabilitiesUpdateId": "404951bf-440b-4ff3-938c-43cbcdc62f91"}'
    headers:
      capabilities-id:
      - 404951bf-440b-4ff3-938c-43cbcdc62f91
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dBNwCvx0C0Cx7bVqcZdyZQ.0
      operation-id:
      - capabilities_404951bf-440b-4ff3-938c-43cbcdc62f91
      operation-location:
      - /phoneNumbers/operations/capabilities_404951bf-440b-4ff3-938c-43cbcdc62f91?api-version=2021-03-07
      x-processing-time:
      - 1267ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_404951bf-440b-4ff3-938c-43cbcdc62f91?api-version=2021-03-07
  response:
    body:
      string: '{"status": "Succeeded", "resourceLocation": null, "createdDateTime":
        "2021-02-16T19:21:30.6218852+00:00", "id": "capabilities_404951bf-440b-4ff3-938c-43cbcdc62f91",
        "operationType": "UpdatePhoneNumberCapabilities", "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 9I1ueyxoaUaH5olBCjvHnQ.0
      x-processing-time:
      - 642ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/%2B18335260208/capabilities?api-version=2021-03-07
  response:
    body:
      string: '{"error": {"code": "UnsupportedApiVersion", "message": "The HTTP resource
        that matches the request URI ''https://sanitized.communication.azure.com/phoneNumbers/+18335260208/capabilities''
        does not support the API version ''2021-03-07''.", "innerError": null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mUgwWEP7I0SD1ghOfm4l4g.0
      x-processing-time:
      - 10ms
    status:
      code: 400
      message: Bad Request
version: 1
