interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/%2B18335260208?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "TollFree", "capabilities": {"calling": "inbound+outbound",
        "sms": "outbound"}, "assignmentType": "Application"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - KQDB5Gt5/EiYmdjzTHoodQ.0
      x-processing-time:
      - 847ms
    status:
      code: 200
      message: OK
version: 1
