interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 23 May 2022 17:41:46 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs3.sipconfigtest.com":{"sipSignalingPort":2222}},"routes":[]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: +a8L9ppgsESA9c88crRgIQ.0
      x-processing-time: 365ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
[...]
- request:
    body: '{"trunks": {"sbs1.sipconfigtest.com": {"sipSignalingPort": 1122}, "sbs2.sipconfigtest.com":
      {"sipSignalingPort": 1123}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 23 May 2022 17:41:47 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: FuamB5rAP0KaaOEK3Mhxag.0
      x-processing-time: 1094ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs3.sipconfigtest.com":{"sipSignalingPort":2222}},"routes":[]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: kQWeL7jkmUi3p335xME3dA.0
      x-processing-time: 242ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
version: 1
