interactions:
- request:
    body: '{"calling": "inbound", "sms": "inbound+outbound"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2021-03-07
  response:
    body:
      string: '{"capabilitiesUpdateId": "9b84d514-8d47-4b9a-a1e9-b7fc1c3e8885"}'
    headers:
      api-supported-versions:
      - '2021-03-07'
      capabilities-id:
      - 9b84d514-8d47-4b9a-a1e9-b7fc1c3e8885
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - IpJ20W6gNkucOBv8vAJwEw.0
      operation-id:
      - capabilities_9b84d514-8d47-4b9a-a1e9-b7fc1c3e8885
      operation-location:
      - /phoneNumbers/operations/capabilities_9b84d514-8d47-4b9a-a1e9-b7fc1c3e8885?api-version=2021-03-07
      x-processing-time:
      - 3399ms
    status:
      code: 202
      message: Accepted
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_9b84d514-8d47-4b9a-a1e9-b7fc1c3e8885?api-version=2021-03-07
  response:
    body:
      string: '{"status": "succeeded", "resourceLocation": "/phoneNumbers/+18335260208?api-version=2021-03-07",
        "createdDateTime": "2021-04-19T21:50:20.6043067+00:00", "id": "sanitized",
        "operationType": "updatePhoneNumberCapabilities", "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - '2021-03-07'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dWIWVzuGZkel4nGVYuM/5A.0
      x-processing-time:
      - 842ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/+18335260208?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2000-01-01T00:00:00+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - '2021-03-07'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xCrBEogHmUKngopg0ACAEA.0
      x-processing-time:
      - 1874ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
