interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 09 Nov 2022 10:46:14 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.0d6643317d3b45bb8435d73cc67e025a.com":{"sipSignalingPort":1122},"sbs2.0d6643317d3b45bb8435d73cc67e025a.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - V5M+Fp2bpEavL4v8Oc24rg.0
      x-processing-time:
      - 273ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"routes": [{"description": "Handle numbers starting with ''+123''", "name":
      "First rule", "numberPattern": "\\+123[0-9]+", "trunks": ["sbs1.0d6643317d3b45bb8435d73cc67e025a.com"]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.0d6643317d3b45bb8435d73cc67e025a.com":{"sipSignalingPort":1122},"sbs2.0d6643317d3b45bb8435d73cc67e025a.com":{"sipSignalingPort":1123}},"routes":[{"description":"Handle
        numbers starting with ''+123''","name":"First rule","numberPattern":"\\+123[0-9]+","trunks":["sbs1.0d6643317d3b45bb8435d73cc67e025a.com"]}]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Uyy+69VYLkeViHnnB3KBbA.0
      x-processing-time:
      - 455ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.0d6643317d3b45bb8435d73cc67e025a.com":{"sipSignalingPort":1122},"sbs2.0d6643317d3b45bb8435d73cc67e025a.com":{"sipSignalingPort":1123}},"routes":[{"description":"Handle
        numbers starting with ''+123''","name":"First rule","numberPattern":"\\+123[0-9]+","trunks":["sbs1.0d6643317d3b45bb8435d73cc67e025a.com"]}]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - r2vI7v7G8ka6ag6ODLqxng.0
      x-processing-time:
      - 235ms
    status:
      code: 200
      message: OK
version: 1
