interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 05 Jan 2022 09:59:25 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "outbound", "sms":
        "outbound"}, "assignmentType": "application", "purchaseDate": "2021-12-10T20:04:23.7078209+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - D3A/2MIOHkWfVmM4fvDZQA.0
      x-processing-time:
      - 2428ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"calling": "inbound", "sms": "inbound+outbound"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 05 Jan 2022 09:59:29 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2021-03-07
  response:
    body:
      string: '{"capabilitiesUpdateId": "7066f45f-0a03-49fe-baac-7c91169c4bb6"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview
      capabilities-id:
      - 7066f45f-0a03-49fe-baac-7c91169c4bb6
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mKdTjzXv4EWlAjiZfptZdw.0
      operation-id:
      - capabilities_7066f45f-0a03-49fe-baac-7c91169c4bb6
      operation-location:
      - /phoneNumbers/operations/capabilities_7066f45f-0a03-49fe-baac-7c91169c4bb6?api-version=2021-03-07
      x-processing-time:
      - 1320ms
    status:
      code: 202
      message: Accepted
    url: sanitized
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 05 Jan 2022 10:00:01 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_7066f45f-0a03-49fe-baac-7c91169c4bb6?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "updatePhoneNumberCapabilities", "status": "succeeded",
        "resourceLocation": "/phoneNumbers/+18337952062?api-version=2021-03-07", "createdDateTime":
        "2022-01-05T09:59:29.2220536+00:00", "id": "sanitized", "lastActionDateTime":
        "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - X+cP52Y02Eq8NPPPLlmyoQ.0
      x-processing-time:
      - 189ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 05 Jan 2022 10:00:01 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/+18337952062?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2021-12-10T20:04:23.7078209+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - X0BDr9AqFEmqr9n03p6jdw.0
      x-processing-time:
      - 1345ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
