{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/operatorInformation/:search?api-version=2023-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumbers": [
          "sanitized",
          "sanitized"
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-05-01-preview",
        "Content-Type": "application/json",
        "MS-CV": "sanitized",
        "X-Processing-Time": "8ms"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Can only accept one phoneNumber"
        }
      }
    }
  ],
  "Variables": {}
}
