interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD:sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_get_phone_number.yaml
      - Mon, 22 Feb 2021 19:48:24 GMT
=======
      - Wed, 10 Feb 2021 19:32:33 GMT
>>>>>>> ea76a164a... Added new pnm redesign code:sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_list_all_phone_numbers_from_managed_identity.yaml
=======
      - Wed, 10 Feb 2021 20:42:54 GMT
>>>>>>> 8bb023cc3... Added sanitization
=======
      - Thu, 11 Feb 2021 23:15:38 GMT
>>>>>>> 798b57943... Regenerated code
=======
      - Mon, 15 Feb 2021 17:03:10 GMT
>>>>>>> 968de8d7e... Added README and samples
=======
      - Tue, 16 Feb 2021 19:42:45 GMT
>>>>>>> 2b281d8ce... Addresses comments
      User-Agent:
      - azsdk-python-communication-administration/1.0.0b4 Python/3.8.5 (Windows-10-10.0.19041-SP0)
      x-ms-return-client-request-id:
      - 'true'
    method: GET
<<<<<<< HEAD
<<<<<<< HEAD:sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_get_phone_number.yaml
    uri: https://sanitized.communication.azure.com/phoneNumbers/%2B18335260208?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "TollFree", "capabilities": {"calling": "inbound+outbound",
        "sms": "outbound"}, "assignmentType": "Application"}'
=======
    uri: https://sanitized.communication.azure.com/phoneNumbers/%2B16194895875?api-version=2021-03-07
  response:
    body:
<<<<<<< HEAD
      string: '{"id": "16194895875", "phoneNumber": "+16194895875", "countryCode":
        "US", "phoneNumberType": "Geographic", "capabilities": {"calling": "outbound",
        "sms": "none"}, "assignmentType": "User", "callbackUri": null, "applicationId":
        null}'
>>>>>>> ea76a164a... Added new pnm redesign code:sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_list_all_phone_numbers_from_managed_identity.yaml
=======
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "Geographic", "capabilities": {"calling": "outbound", "sms":
<<<<<<< HEAD
        "none"}, "assignmentType": "User", "callbackUri": null, "applicationId": null}'
>>>>>>> 8bb023cc3... Added sanitization
=======
        "none"}, "assignmentType": "User"}'
>>>>>>> 798b57943... Regenerated code
=======
    uri: https://sanitized.communication.azure.com/phoneNumbers/%2B18332272412?api-version=2021-03-07
  response:
    body:
      string: '{"id": "18332272412", "phoneNumber": "+18332272412", "countryCode":
        "US", "phoneNumberType": "TollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "Application"}'
>>>>>>> 968de8d7e... Added README and samples
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD:sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_get_phone_number.yaml
      - Mon, 22 Feb 2021 19:48:23 GMT
      ms-cv:
      - KQDB5Gt5/EiYmdjzTHoodQ.0
=======
      - Wed, 10 Feb 2021 19:32:33 GMT
      ms-cv:
      - Y6DU+yoXtk+lfRS/sfS0AA.0
>>>>>>> ea76a164a... Added new pnm redesign code:sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_list_all_phone_numbers_from_managed_identity.yaml
=======
      - Wed, 10 Feb 2021 20:42:54 GMT
      ms-cv:
      - NloH7B1nGEu+4ADVEcl9Rw.0
>>>>>>> 8bb023cc3... Added sanitization
=======
      - Thu, 11 Feb 2021 23:15:39 GMT
      ms-cv:
      - 0Fa+iu/NaEivjqj8QV7AwQ.0
>>>>>>> 798b57943... Regenerated code
=======
      - Mon, 15 Feb 2021 17:03:08 GMT
      ms-cv:
      - Sz35r6+6dUyc5CXXRpte2A.0
>>>>>>> 968de8d7e... Added README and samples
=======
      - Tue, 16 Feb 2021 19:42:46 GMT
      ms-cv:
      - Npb2F6HCHUCS3PCMa+LVKA.0
>>>>>>> 2b281d8ce... Addresses comments
      request-context:
      - appId=
      transfer-encoding:
      - chunked
      x-processing-time:
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD:sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_get_phone_number.yaml
      - 847ms
=======
      - 756ms
>>>>>>> ea76a164a... Added new pnm redesign code:sdk/communication/azure-communication-phonenumbers/test/recordings/test_phone_number_administration_client.test_list_all_phone_numbers_from_managed_identity.yaml
=======
      - 778ms
>>>>>>> 8bb023cc3... Added sanitization
=======
      - 828ms
>>>>>>> 798b57943... Regenerated code
=======
      - 970ms
>>>>>>> 968de8d7e... Added README and samples
=======
      - 810ms
>>>>>>> 2b281d8ce... Addresses comments
    status:
      code: 200
      message: OK
version: 1
