interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/%2B16194895842?api-version=2021-03-07
  response:
    body:
      string: '{"id": "16194895842", "phoneNumber": "+16194895842", "countryCode":
        "US", "phoneNumberType": "Geographic", "capabilities": {"calling": "outbound",
        "sms": "none"}, "assignmentType": "User", "callbackUri": null, "applicationId":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wGv205MCmUqkevuR6YoXTw.0
      x-processing-time:
      - 953ms
    status:
      code: 200
      message: OK
version: 1
