interactions:
- request:
    body: '{"calling": "inbound", "sms": "inbound+outbound"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 07 Jan 2022 21:18:43 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2022-01-11-preview2
  response:
    body:
      string: '{"error": {"code": "InternalError", "message": "The server encountered
        an internal error."}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2
      content-type:
      - application/json
      ms-cv:
      - tlyaLc/RrkipQ/qW9GHKZg.0
      x-processing-time:
      - 59ms
    status:
      code: 404
      message: Not Found
    url: sanitized
version: 1
