{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-01-11-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Location": "/availablePhoneNumbers/searchResults/25624080-e613-4eab-a72e-eb475ec67b49?api-version=2022-01-11-preview2",
        "MS-CV": "sanitized",
        "operation-id": "search_25624080-e613-4eab-a72e-eb475ec67b49",
        "Operation-Location": "/phoneNumbers/operations/search_25624080-e613-4eab-a72e-eb475ec67b49?api-version=2022-01-11-preview2",
        "search-id": "25624080-e613-4eab-a72e-eb475ec67b49",
        "X-Processing-Time": "1618ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_25624080-e613-4eab-a72e-eb475ec67b49?api-version=2022-01-11-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/25624080-e613-4eab-a72e-eb475ec67b49?api-version=2022-01-11-preview2",
        "MS-CV": "sanitized",
        "X-Processing-Time": "276ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "notStarted",
        "resourceLocation": "/availablePhoneNumbers/searchResults/25624080-e613-4eab-a72e-eb475ec67b49?api-version=2022-01-11-preview2",
        "createdDateTime": "2022-12-09T00:28:59.4671462\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/25624080-e613-4eab-a72e-eb475ec67b49?api-version=2022-01-11-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "622ms"
      },
      "ResponseBody": {
        "searchId": "25624080-e613-4eab-a72e-eb475ec67b49",
        "phoneNumbers": [
          "\u002Bsanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2022-12-09T00:45:01.2719751\u002B00:00"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-01-11-preview2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "searchId": "25624080-e613-4eab-a72e-eb475ec67b49"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "MS-CV": "sanitized",
        "operation-id": "purchase_25624080-e613-4eab-a72e-eb475ec67b49",
        "Operation-Location": "/phoneNumbers/operations/purchase_25624080-e613-4eab-a72e-eb475ec67b49?api-version=2022-01-11-preview2",
        "purchase-id": "25624080-e613-4eab-a72e-eb475ec67b49",
        "X-Processing-Time": "1353ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_25624080-e613-4eab-a72e-eb475ec67b49?api-version=2022-01-11-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "262ms"
      },
      "ResponseBody": {
        "operationType": "purchase",
        "status": "running",
        "resourceLocation": null,
        "createdDateTime": "2022-12-09T00:28:59.4671462\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-01-11-preview2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "MS-CV": "sanitized",
        "operation-id": "release_ce9b6834-be56-4b56-9cfe-87b6bf7f1162",
        "Operation-Location": "/phoneNumbers/operations/release_ce9b6834-be56-4b56-9cfe-87b6bf7f1162?api-version=2022-01-11-preview2",
        "release-id": "ce9b6834-be56-4b56-9cfe-87b6bf7f1162",
        "X-Processing-Time": "1291ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/release_ce9b6834-be56-4b56-9cfe-87b6bf7f1162?api-version=2022-01-11-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "307ms"
      },
      "ResponseBody": {
        "operationType": "releasePhoneNumber",
        "status": "notStarted",
        "resourceLocation": null,
        "createdDateTime": "2022-12-09T00:29:27.0487035\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/release_ce9b6834-be56-4b56-9cfe-87b6bf7f1162?api-version=2022-01-11-preview2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "242ms"
      },
      "ResponseBody": {
        "operationType": "releasePhoneNumber",
        "status": "succeeded",
        "resourceLocation": null,
        "createdDateTime": "2022-12-09T00:29:27.0487035\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
