interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "TollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "Application", "purchaseDate": "2000-01-01T00:00:00+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "Monthly"}}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: yfU1dT6eVUO+R19FcP/3cg.0
      x-processing-time: 1873ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
