interactions:
- request:
    body: '{"calling": "inbound", "sms": "inbound+outbound"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized/capabilities?api-version=2021-03-07
  response:
    body:
      string: '{"capabilitiesUpdateId": "435a865e-07b9-4513-a8f6-99461b8b4fb9"}'
    headers:
      api-supported-versions:
      - '2021-03-07'
      capabilities-id:
      - 435a865e-07b9-4513-a8f6-99461b8b4fb9
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - DtcE4uv9wESDaXFMf/Ys7Q.0
      operation-id:
      - capabilities_435a865e-07b9-4513-a8f6-99461b8b4fb9
      operation-location:
      - /phoneNumbers/operations/capabilities_435a865e-07b9-4513-a8f6-99461b8b4fb9?api-version=2021-03-07
      x-processing-time:
      - 974ms
    status:
      code: 202
      message: Accepted
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/capabilities_435a865e-07b9-4513-a8f6-99461b8b4fb9?api-version=2021-03-07
  response:
    body:
      string: '{"status": "succeeded", "resourceLocation": "/phoneNumbers/+18335260208?api-version=2021-03-07",
        "createdDateTime": "2021-04-19T21:49:45.6385928+00:00", "id": "sanitized",
        "operationType": "updatePhoneNumberCapabilities", "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - '2021-03-07'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - cwpAnl0GIUu6LmkZeFWb1g.0
      x-processing-time:
      - 254ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/+18335260208?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2000-01-01T00:00:00+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - '2021-03-07'
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - k1Z83uXhnkmjOA96ooutFA.0
      x-processing-time:
      - 1066ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
