interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview,
        2022-12-01
      ms-cv: eg5W7V9nM0m4UuazqsZzmg.0
      operation-id: search_e809cef6-2a5a-4265-8c22-e7baca17970d
      operation-location: /phoneNumbers/operations/search_e809cef6-2a5a-4265-8c22-e7baca17970d?api-version=2022-12-01
      search-id: e809cef6-2a5a-4265-8c22-e7baca17970d
      x-processing-time: 2181ms
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
version: 1
