interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 15 Nov 2022 16:03:55 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122}},"routes":[]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - K8cAYm6RwEaPsvWBK87ryA.0
      x-processing-time:
      - 156ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"trunks": {"sbs1.sanitized.com": {"sipSignalingPort": 1122}, "sbs2.sanitized.com":
      {"sipSignalingPort": 1123}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 15 Nov 2022 16:03:56 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XeQqZBacHkaX6axCO/VxVA.0
      x-processing-time:
      - 230ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122}},"routes":[]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3nZhwptDN0qwH4qVvALpkw.0
      x-processing-time:
      - 313ms
    status:
      code: 200
      message: OK
version: 1
