interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      ms-cv: OtXGmscJ8EmKsbecqjaAag.0
      operation-id: search_7f99cec8-7846-4159-b200-3c536909c7da
      operation-location: /phoneNumbers/operations/search_7f99cec8-7846-4159-b200-3c536909c7da?api-version=2021-03-07
      search-id: 7f99cec8-7846-4159-b200-3c536909c7da
      x-processing-time: 2811ms
    status:
      code: 202
      message: Accepted
    url: https://live-testing.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
version: 1
