interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 07 Dec 2022 11:17:18 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      api-supported-versions: 2021-05-01-preview, 2022-09-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: 0lc0nWbJa0KrcJ505NiZMg.0
      x-processing-time: 276ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 07 Dec 2022 11:17:19 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      api-supported-versions: 2021-05-01-preview, 2022-09-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: A2Tb1V11d0y1H53Xbe3bzA.0
      x-processing-time: 85ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
version: 1
