interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 22 Apr 2022 08:04:51 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: Ist35BSbsEGhWdhjne/RUA.0
      x-processing-time: 369ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: tu9qJLu/LEeNynOtN19+Ew.0
      x-processing-time: 859ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
version: 1
