{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2023-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Location": "/availablePhoneNumbers/searchResults/d83353e1-015a-4a44-83a4-826cf5a9c6d0?api-version=2023-05-01-preview",
        "MS-CV": "sanitized",
        "operation-id": "search_d83353e1-015a-4a44-83a4-826cf5a9c6d0",
        "Operation-Location": "/phoneNumbers/operations/search_d83353e1-015a-4a44-83a4-826cf5a9c6d0?api-version=2023-05-01-preview",
        "search-id": "d83353e1-015a-4a44-83a4-826cf5a9c6d0",
        "X-Processing-Time": "916ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/phoneNumbers/operations/search_d83353e1-015a-4a44-83a4-826cf5a9c6d0?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/availablePhoneNumbers/searchResults/d83353e1-015a-4a44-83a4-826cf5a9c6d0?api-version=2023-05-01-preview",
        "MS-CV": "sanitized",
        "X-Processing-Time": "244ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "notStarted",
        "resourceLocation": "/availablePhoneNumbers/searchResults/d83353e1-015a-4a44-83a4-826cf5a9c6d0?api-version=2023-05-01-preview",
        "createdDateTime": "2023-07-13T20:31:08.458782\u002B00:00",
        "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/d83353e1-015a-4a44-83a4-826cf5a9c6d0?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-05-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "504ms"
      },
      "ResponseBody": {
        "searchId": "d83353e1-015a-4a44-83a4-826cf5a9c6d0",
        "phoneNumbers": [
          "\u002Bsanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "inbound",
          "sms": "inbound\u002Boutbound"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2023-07-13T20:47:10.0006502\u002B00:00",
        "error": "NoError"
      }
    }
  ],
  "Variables": {}
}
