interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 09 Nov 2022 11:15:40 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.f3d48969d5814d4b856dd02418c9ae4f.com":{"sipSignalingPort":1122},"sbs2.f3d48969d5814d4b856dd02418c9ae4f.com":{"sipSignalingPort":7777}},"routes":[]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Xy2ewBHU7EGGcOGi0y4xkQ.0
      x-processing-time:
      - 154ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.f3d48969d5814d4b856dd02418c9ae4f.com":{"sipSignalingPort":1122},"sbs2.f3d48969d5814d4b856dd02418c9ae4f.com":{"sipSignalingPort":7777}},"routes":[]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - EBNmdPF+M0GXibpxHRGNpw.0
      x-processing-time:
      - 247ms
    status:
      code: 200
      message: OK
version: 1
