interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"error": {"code": "PhoneNumberNotFound", "message": "The specified
        phone number +14255550123 cannot be found.", "target": "phonenumber"}}'
    headers:
      api-supported-versions: '2021-03-07'
      content-type: application/json
      ms-cv: mIQqzEwXO0ix/6wyl5JeaA.0
      x-processing-time: 370ms
    status:
      code: 404
      message: Not Found
    url: sanitized
version: 1
