interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 07 Jan 2022 21:16:02 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-01-11-preview2
  response:
    body:
      string: '{"error": {"code": "NotFound", "message": "Input phoneNumber +14255550123
        cannot be found.", "target": "phonenumber"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2
      content-type:
      - application/json
      ms-cv:
      - 1O+x5+qwZEGFEAuo5X79tA.0
      x-processing-time:
      - 400ms
    status:
      code: 404
      message: Not Found
    url: sanitized
version: 1
