interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 15 Nov 2022 16:04:00 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 5hjyHQ/eQk+pYh+7uaSt2g.0
      x-processing-time:
      - 115ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"routes": [{"description": "Handle numbers starting with ''+123''", "name":
      "First rule", "numberPattern": "\\+123[0-9]+", "trunks": ["sbs1.sanitized.com"]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":1123}},"routes":[{"description":"Handle
        numbers starting with ''+123''","name":"First rule","numberPattern":"\\+123[0-9]+","trunks":["sbs1.sanitized.com"]}]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - E/uYgE0S8UivnX4xwx2F3g.0
      x-processing-time:
      - 97ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sanitized.com":{"sipSignalingPort":1122},"sbs2.sanitized.com":{"sipSignalingPort":1123}},"routes":[{"description":"Handle
        numbers starting with ''+123''","name":"First rule","numberPattern":"\\+123[0-9]+","trunks":["sbs1.sanitized.com"]}]}'
    headers:
      api-supported-versions:
      - 2021-05-01-preview, 2022-09-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 6WVZhZotJEebRe4rp29VLQ.0
      x-processing-time:
      - 72ms
    status:
      code: 200
      message: OK
version: 1
