# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class WeatherClientOperationsMixin(object):

    def get_hourly_forecast(
        self,
        coordinates,  # type: List[float]
        format="json",  # type: Union[str, "models.JsonFormat"]
        unit=None,  # type: Optional[Union[str, "models.WeatherDataUnit"]]
        duration=None,  # type: Optional[int]
        language=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.HourlyForecastResponse"
        """**Get Hourly Forecast**

        **Applies to**\ : S0 and S1 pricing tiers.

        Request detailed weather forecast by the hour for the next 1, 12, 24 (1 day), 72 (3 days), 120
        (5 days), and 240 hours (10 days) for the given the given coordinate location.  The API returns
        details such as temperature, humidity, wind, precipitation, and ultraviolet (UV) index.

        In S0 you can request hourly forecast for the next 1, 12, 24 hours (1 day), and 72 hours (3
        days). In S1 you can also request hourly forecast for the next 120 (5 days) and 240 hours (10
        days).

        :param coordinates: The applicable query specified as a comma separated string composed by
         latitude followed by longitude e.g. "47.641268,-122.125679".
        :type coordinates: list[float]
        :param format: Desired format of the response. Only ``json`` format is supported.
        :type format: str or ~azure.maps.weather.models.JsonFormat
        :param unit: Specifies to return the data in either metric units or imperial units. Default
         value is metric.
        :type unit: str or ~azure.maps.weather.models.WeatherDataUnit
        :param duration: Time frame of the returned weather forecast. By default, the forecast data for
         next hour will be returned. Available values are


         * ``1`` - Return forecast data for the next hour. Default value.
         * ``12`` - Return hourly forecast for next 12 hours.
         * ``24`` - Return hourly forecast for next 24 hours.
         * ``72`` - Return hourly forecast for next 72 hours (3 days).
         * ``120`` - Return hourly forecast for next 120 hours (5 days). Only available in S1 SKU.
         * ``240`` - Return hourly forecast for next 240 hours (10 days). Only available in S1 SKU.
        :type duration: int
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: HourlyForecastResponse, or the result of cls(response)
        :rtype: ~azure.maps.weather.models.HourlyForecastResponse
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.HourlyForecastResponse"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.get_hourly_forecast.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['query'] = self._serialize.query("coordinates", coordinates, '[float]', div=',')
        if unit is not None:
            query_parameters['unit'] = self._serialize.query("unit", unit, 'str')
        if duration is not None:
            query_parameters['duration'] = self._serialize.query("duration", duration, 'int')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('HourlyForecastResponse', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_hourly_forecast.metadata = {'url': '/weather/forecast/hourly/{format}'}  # type: ignore

    def get_minute_forecast(
        self,
        coordinates,  # type: List[float]
        format="json",  # type: Union[str, "models.JsonFormat"]
        interval=None,  # type: Optional[int]
        language=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MinuteForecastResponse"
        """**Get Minute Forecast**

        **Applies to**\ : S1 pricing tier.

        Get Minute Forecast service returns minute-by-minute forecasts for a given location for the
        next 120 minutes.  Users can request weather forecasts in the interval of 1, 5 and 15 minutes.
        The response will include details such as the type of precipitation (including rain, snow, or a
        mixture of both), start time, and precipitation intensity value (dBZ).

        :param coordinates: The applicable query specified as a comma separated string composed by
         latitude followed by longitude e.g. "47.641268,-122.125679".
        :type coordinates: list[float]
        :param format: Desired format of the response. Only ``json`` format is supported.
        :type format: str or ~azure.maps.weather.models.JsonFormat
        :param interval: Specifies time interval in minutes for the returned weather forecast.
         Supported values are


         * ``1`` -  Retrieve forecast for 1-minute intervals. Returned by default.
         * ``5`` - Retrieve forecasts for 5-minute intervals.
         * ``15`` - Retrieve forecasts for 15-minute intervals.
        :type interval: int
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MinuteForecastResponse, or the result of cls(response)
        :rtype: ~azure.maps.weather.models.MinuteForecastResponse
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MinuteForecastResponse"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.get_minute_forecast.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['query'] = self._serialize.query("coordinates", coordinates, '[float]', div=',')
        if interval is not None:
            query_parameters['interval'] = self._serialize.query("interval", interval, 'int')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('MinuteForecastResponse', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_minute_forecast.metadata = {'url': '/weather/forecast/minute/{format}'}  # type: ignore

    def get_quarter_day_forecast(
        self,
        coordinates,  # type: List[float]
        format="json",  # type: Union[str, "models.JsonFormat"]
        unit=None,  # type: Optional[Union[str, "models.WeatherDataUnit"]]
        duration=None,  # type: Optional[int]
        language=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.QuarterDayForecastResponse"
        """**Get Quarter-Day Forecast**

        **Applies to**\ : S0 and S1 pricing tiers.

        Service returns detailed weather forecast by quarter-day for the next 1, 5, 10, or 15 days for
        a given location. Response data is presented by quarters of the day - morning, afternoon,
        evening, and overnight. Details such as temperature, humidity, wind, precipitation, and UV
        index are returned.

        :param coordinates: The applicable query specified as a comma separated string composed by
         latitude followed by longitude e.g. "47.641268,-122.125679".
        :type coordinates: list[float]
        :param format: Desired format of the response. Only ``json`` format is supported.
        :type format: str or ~azure.maps.weather.models.JsonFormat
        :param unit: Specifies to return the data in either metric units or imperial units. Default
         value is metric.
        :type unit: str or ~azure.maps.weather.models.WeatherDataUnit
        :param duration: Specifies for how many days the quester-day forecast responses are returned.
         Supported values are:


         * ``1`` - Return forecast data for the next day. Returned by default.
         * ``5`` - Return forecast data for the next 5 days.
         * ``10`` - Return forecast data for next 10 days.
         * ``15`` - Return forecast data for the next 15 days.
        :type duration: int
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: QuarterDayForecastResponse, or the result of cls(response)
        :rtype: ~azure.maps.weather.models.QuarterDayForecastResponse
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.QuarterDayForecastResponse"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.get_quarter_day_forecast.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['query'] = self._serialize.query("coordinates", coordinates, '[float]', div=',')
        if unit is not None:
            query_parameters['unit'] = self._serialize.query("unit", unit, 'str')
        if duration is not None:
            query_parameters['duration'] = self._serialize.query("duration", duration, 'int')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('QuarterDayForecastResponse', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_quarter_day_forecast.metadata = {'url': '/weather/forecast/quarterDay/{format}'}  # type: ignore

    def get_current_conditions(
        self,
        coordinates,  # type: List[float]
        format="json",  # type: Union[str, "models.JsonFormat"]
        unit=None,  # type: Optional[Union[str, "models.WeatherDataUnit"]]
        details=None,  # type: Optional[str]
        duration=None,  # type: Optional[int]
        language=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.CurrentConditionsResponse"
        """**Get Current Conditions**

        **Applies to**\ : S0 and S1 pricing tiers.

        Get Current Conditions service returns detailed current weather conditions such as
        precipitation, temperature and wind for a given coordinate location. Also, observations from
        the past 6 or 24 hours for a particular location can be retrieved. The basic information
        returned with the response include details such as observation date and time, brief description
        of the weather conditions, weather icon, precipitation indicator flags, and temperature.
        Additional details such as RealFeel™ Temperature and UV index are also returned.

        :param coordinates: The applicable query specified as a comma separated string composed by
         latitude followed by longitude e.g. "47.641268,-122.125679".
        :type coordinates: list[float]
        :param format: Desired format of the response. Only ``json`` format is supported.
        :type format: str or ~azure.maps.weather.models.JsonFormat
        :param unit: Specifies to return the data in either metric units or imperial units. Default
         value is metric.
        :type unit: str or ~azure.maps.weather.models.WeatherDataUnit
        :param details: Return full details for the current conditions. Available values are


         * ``true`` - Returns full details. By default all details are returned.
         * ``false`` - Returns a truncated version of the current condition data, which includes
         observation date time, weather phrase, icon code, precipitation indicator flag, and
         temperature.
        :type details: str
        :param duration: Time frame of the returned weather conditions. By default, the most current
         weather conditions will be returned. Default value is 0. Supported values are:


         * ``0`` - Return the most current weather conditions.
         * ``6`` - Return weather conditions from past 6 hours.
         * ``24`` - Return weather conditions from past 24 hours.
        :type duration: int
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: CurrentConditionsResponse, or the result of cls(response)
        :rtype: ~azure.maps.weather.models.CurrentConditionsResponse
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CurrentConditionsResponse"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.get_current_conditions.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['query'] = self._serialize.query("coordinates", coordinates, '[float]', div=',')
        if unit is not None:
            query_parameters['unit'] = self._serialize.query("unit", unit, 'str')
        if details is not None:
            query_parameters['details'] = self._serialize.query("details", details, 'str')
        if duration is not None:
            query_parameters['duration'] = self._serialize.query("duration", duration, 'int')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('CurrentConditionsResponse', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_current_conditions.metadata = {'url': '/weather/currentConditions/{format}'}  # type: ignore

    def get_daily_forecast(
        self,
        coordinates,  # type: List[float]
        format="json",  # type: Union[str, "models.JsonFormat"]
        unit=None,  # type: Optional[Union[str, "models.WeatherDataUnit"]]
        duration=None,  # type: Optional[int]
        language=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DailyForecastResponse"
        """**Get Daily Forecast**

        **Applies to**\ : S0 and S1 pricing tiers.

        The service returns detailed weather forecast such as temperature and wind by day for the next
        1, 5, 10, 15, 25, or 45 days for a given coordinate location.  The response include details
        such as temperature, wind, precipitation, air quality, and UV index.

        In S0 you can request daily forecast for the next 1, 5, 10, and 15 days. In S1 you can also
        request daily forecast for the next 25 days, and 45 days.

        :param coordinates: The applicable query specified as a comma separated string composed by
         latitude followed by longitude e.g. "47.641268,-122.125679".
        :type coordinates: list[float]
        :param format: Desired format of the response. Only ``json`` format is supported.
        :type format: str or ~azure.maps.weather.models.JsonFormat
        :param unit: Specifies to return the data in either metric units or imperial units. Default
         value is metric.
        :type unit: str or ~azure.maps.weather.models.WeatherDataUnit
        :param duration: Specifies for how many days the daily forecast responses are returned.
         Available values are


         * ``1`` - Return forecast data for the next day. Returned by default.
         * ``5`` - Return forecast data for the next 5 days.
         * ``10`` - Return forecast data for the next 10 days.
         * ``25`` - Return forecast data for the next 25 days. Only available in S1 SKU.
         * ``45`` - Return forecast data for the next 45 days. Only available in S1 SKU.
        :type duration: int
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DailyForecastResponse, or the result of cls(response)
        :rtype: ~azure.maps.weather.models.DailyForecastResponse
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DailyForecastResponse"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.get_daily_forecast.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['query'] = self._serialize.query("coordinates", coordinates, '[float]', div=',')
        if unit is not None:
            query_parameters['unit'] = self._serialize.query("unit", unit, 'str')
        if duration is not None:
            query_parameters['duration'] = self._serialize.query("duration", duration, 'int')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('DailyForecastResponse', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_daily_forecast.metadata = {'url': '/weather/forecast/daily/{format}'}  # type: ignore

    def get_weather_along_route(
        self,
        query,  # type: str
        format="json",  # type: Union[str, "models.JsonFormat"]
        language=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.WeatherAlongRouteResponse"
        """**Get Weather along route**

         **Applies to**\ : S1 pricing tier.

         Weather along a route API returns hyper local (one kilometer or less), up-to-the-minute
        weather nowcasts, weather hazard assessments, and notifications along a route described as a
        sequence of waypoints.
         This includes a list of weather hazards affecting the waypoint or route, and the aggregated
        hazard index for each waypoint might be used to paint each portion of a route according to how
        safe it is for the driver. When submitting the waypoints, it is recommended to stay within, or
        close to, the distance that can be traveled within 120-mins or shortly after. Data is updated
        every five minutes.

         The service supplements Azure Maps `Route Service
        <https://docs.microsoft.com/rest/api/maps/route>`_ that allows you to first request a route
        between an origin and a destination and use that as an input for Weather Along Route endpoint.

         In addition, the service supports scenarios to generate weather notifications for waypoints
        that experience an increase in intensity of a weather hazard. For example, if the vehicle is
        expected to begin experiencing heavy rain as it reaches a waypoint, a weather notification for
        heavy rain will be generated for that waypoint allowing the end product to display a heavy rain
        notification before the driver reaches that waypoint.
         The trigger for when to display the notification for a waypoint could be based, for example,
        on a `geofence <https://docs.microsoft.com/azure/azure-maps/tutorial-iot-hub-maps>`_\ , or
        selectable distance to the waypoint.

         The API covers all regions of the planet except latitudes above Greenland and Antarctica.

        :param query: Coordinates through which the route is calculated, separated by colon (:) and
         entered in chronological order. A minimum of two waypoints is required. A single API call may
         contain up to 60 waypoints.
         A waypoint indicates location, ETA, and optional heading: latitude,longitude,ETA,heading,
         where


         * ``Latitude`` - Latitude coordinate in decimal degrees.
         * ``Longitude`` - Longitude coordinate in decimal degrees.
         * ``ETA (estimated time of arrival)`` - The number of minutes from the present time that it
         will take for the vehicle to reach the waypoint. Allowed range is from 0.0 to 120.0 minutes.
         * ``Heading`` - An optional value indicating the vehicle heading as it passes the waypoint.
         Expressed in clockwise degrees relative to true north. This is issued to calculate sun glare as
         a driving hazard. Allowed range is from 0.0 to 360.0 degrees. If not provided, a heading will
         automatically be derived based on the position of neighboring waypoints.

         It is recommended to stay within, or close to, the distance that can be traveled within
         120-mins or shortly after. This way a more accurate assessment can be provided for the trip and
         prevent isolated events not being captured between waypoints.  Information can and should be
         updated along the route (especially for trips greater than 2 hours) to continuously pull new
         waypoints moving forward, but also to ensure that forecast information for content such as
         precipitation type and intensity is accurate as storms develop and dissipate over time.
        :type query: str
        :param format: Desired format of the response. Only ``json`` format is supported.
        :type format: str or ~azure.maps.weather.models.JsonFormat
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: WeatherAlongRouteResponse, or the result of cls(response)
        :rtype: ~azure.maps.weather.models.WeatherAlongRouteResponse
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.WeatherAlongRouteResponse"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.get_weather_along_route.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['query'] = self._serialize.query("query", query, 'str')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('WeatherAlongRouteResponse', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_weather_along_route.metadata = {'url': '/weather/route/{format}'}  # type: ignore

    def get_severe_weather_alerts(
        self,
        coordinates,  # type: List[float]
        format="json",  # type: Union[str, "models.JsonFormat"]
        language=None,  # type: Optional[str]
        details=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.SevereWeatherAlertsResponse"
        """**Get Severe Weather Alerts**

        **Applies to**\ : S0 and S1 pricing tiers.

        Severe weather phenomenon can significantly impact our everyday life and business operations.
        For example, severe weather conditions such as tropical storms, high winds or flooding can
        close roads and force logistics companies to reroute their fleet causing delays in reaching
        destinations and breaking the cold chain of refrigerated food products.  Azure Maps
        Severe Weather Alerts API returns the severe weather alerts that are available worldwide
        from both official Government Meteorological Agencies and leading global to
        regional weather alert providers. The service can return details such as alert type, category,
        level and detailed description about the active severe alerts for the requested location, like
        hurricanes, thunderstorms, lightning, heat waves or forest fires.

        :param coordinates: The applicable query specified as a comma separated string composed by
         latitude followed by longitude e.g. "47.641268,-122.125679".
        :type coordinates: list[float]
        :param format: Desired format of the response. Only ``json`` format is supported.
        :type format: str or ~azure.maps.weather.models.JsonFormat
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :param details: Return full details for the severe weather alerts. Available values are


         * ``true`` - Returns full details. By default all details are returned.
         * ``false`` - Returns a truncated version of the alerts data, which excludes the area-specific
         full description of alert details (\ ``alertDetails``\ ).
        :type details: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: SevereWeatherAlertsResponse, or the result of cls(response)
        :rtype: ~azure.maps.weather.models.SevereWeatherAlertsResponse
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.SevereWeatherAlertsResponse"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.get_severe_weather_alerts.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['query'] = self._serialize.query("coordinates", coordinates, '[float]', div=',')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')
        if details is not None:
            query_parameters['details'] = self._serialize.query("details", details, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('SevereWeatherAlertsResponse', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_severe_weather_alerts.metadata = {'url': '/weather/severe/alerts/{format}'}  # type: ignore

    def get_daily_indices(
        self,
        coordinates,  # type: List[float]
        format="json",  # type: Union[str, "models.JsonFormat"]
        language=None,  # type: Optional[str]
        duration=None,  # type: Optional[int]
        index_id=None,  # type: Optional[int]
        index_group_id=None,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.DailyIndicesResponse"
        """**Get Daily Indices**

        **Applies to**\ : S0 and S1 pricing tiers.

        There may be times when you want to know if the weather conditions are optimal for a specific
        activity, for example, for outdoor construction, indoor activities, running or farming
        including soil moisture information.  Azure Maps Indices API returns index values that will
        guide end users to plan future activities. For example, a health mobile application can notify
        users that today is good weather for running or for other outdoors activities like for playing
        golf, and retail stores can optimize their digital marketing campaigns based on predicted index
        values. The service returns in daily indices values for current and next 5, 10 and 15 days
        starting from current day.

        :param coordinates: The applicable query specified as a comma separated string composed by
         latitude followed by longitude e.g. "47.641268,-122.125679".
        :type coordinates: list[float]
        :param format: Desired format of the response. Only ``json`` format is supported.
        :type format: str or ~azure.maps.weather.models.JsonFormat
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :param duration: Specifies for how many days the daily indices are returned. By default, the
         indices data for the current day will be returned. When requesting future indices data, the
         current day is included in the response as day 1. Available values are


         * ``1`` - Return daily index data for the current day. Default value.
         * ``5`` - Return 5 days of daily index data starting from the current day.
         * ``10`` - Return 10 days of daily index data starting from the current day.
         * ``15`` - Return 15 days of daily index data starting from the current day.
        :type duration: int
        :param index_id: Numeric index identifier that can be used for restricting returned results to
         the corresponding index type. Cannot be paired with ``indexGroupId``. Please refer to `Weather
         Service Concepts <https://aka.ms/AzureMapsWeatherConcepts>`_ for details and to see the
         supported indices.
        :type index_id: int
        :param index_group_id: Numeric index group identifier that can be used for restricting returned
         results to the corresponding subset of indices (index group). Cannot be paired with
         ``indexId``. Please refer to `Weather Service Concepts
         <https://aka.ms/AzureMapsWeatherConcepts>`_ for details and to see the supported index groups.
        :type index_group_id: int
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: DailyIndicesResponse, or the result of cls(response)
        :rtype: ~azure.maps.weather.models.DailyIndicesResponse
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.DailyIndicesResponse"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.get_daily_indices.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['query'] = self._serialize.query("coordinates", coordinates, '[float]', div=',')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')
        if duration is not None:
            query_parameters['duration'] = self._serialize.query("duration", duration, 'int')
        if index_id is not None:
            query_parameters['indexId'] = self._serialize.query("index_id", index_id, 'int')
        if index_group_id is not None:
            query_parameters['indexGroupId'] = self._serialize.query("index_group_id", index_group_id, 'int')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('DailyIndicesResponse', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_daily_indices.metadata = {'url': '/weather/indices/daily/{format}'}  # type: ignore
