interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:08:14 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere54813d5?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D646983A1C4C44"']
      Last-Modified: ['Fri, 09 Nov 2018 23:08:14 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Fri, 09 Nov 2018 23:08:14 GMT']
      x-ms-meta-status: [original]
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere54813d5/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D646983A22DB39"']
      Last-Modified: ['Fri, 09 Nov 2018 23:08:14 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://zemaintest.blob.core.windows.net/containere54813d5/blob1']
      x-ms-date: ['Fri, 09 Nov 2018 23:08:14 GMT']
      x-ms-meta-status: [copy]
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere54813d5/blob1copy
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D646983A2A7E34"']
      Last-Modified: ['Fri, 09 Nov 2018 23:08:14 GMT']
      x-ms-copy-id: [1098f920-6081-4724-91e1-a32b80483f5d]
      x-ms-copy-status: [success]
      x-ms-version: ['2018-03-28']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:08:14 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.blob.core.windows.net/containere54813d5?restype=container&comp=list&include=copy
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        containere54813d5\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Fri,\
        \ 09 Nov 2018 23:08:14 GMT</Creation-Time><Last-Modified>Fri, 09 Nov 2018\
        \ 23:08:14 GMT</Last-Modified><Etag>0x8D646983A22DB39</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob1copy</Name><Properties><Creation-Time>Fri,\
        \ 09 Nov 2018 23:08:14 GMT</Creation-Time><Last-Modified>Fri, 09 Nov 2018\
        \ 23:08:14 GMT</Last-Modified><Etag>0x8D646983A2A7E34</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><CopyId>1098f920-6081-4724-91e1-a32b80483f5d</CopyId><CopySource>https://storagename.blob.core.windows.net/containere54813d5/blob1</CopySource><CopyStatus>success</CopyStatus><CopyProgress>11/11</CopyProgress><CopyCompletionTime>Fri,\
        \ 09 Nov 2018 23:08:14 GMT</CopyCompletionTime><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
