interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:16:02 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuef853140e
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>message1\u3688\
      </MessageText></QueueMessage>"
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:16:03 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuef853140e/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1aa28b3f-7df1-4ecd-97c4-b401a3db2814</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:16:03 GMT</InsertionTime><ExpirationTime>Fri, 16 Nov 2018\
        \ 23:16:03 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAK9twL4J41AE=</PopReceipt><TimeNextVisible>Fri,\
        \ 09 Nov 2018 23:16:03 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:16:03 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuef853140e/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1aa28b3f-7df1-4ecd-97c4-b401a3db2814</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:16:03 GMT</InsertionTime><ExpirationTime>Fri, 16 Nov 2018\
        \ 23:16:03 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0k5hQYJ41AE=</PopReceipt><TimeNextVisible>Fri,\
        \ 09 Nov 2018 23:16:33 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1\u3688\
        </MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
