interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:17:29 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuee12a1896
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "do9whSRYUrvZ2tZLlW2CMCmYt1vaXpc05buZDJrlDuM=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "ajESbrDo/x3TTIS6aeQvYeZgPFF3B4WTl9jppCLQg9t3ySzjaFWWOQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "Hxy70vOSgxBvYnVvV9V01g==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.4.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:17:29 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuee12a1896/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d080c610-03aa-4757-88b3-45f851157342</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:17:29 GMT</InsertionTime><ExpirationTime>Fri, 16 Nov 2018\
        \ 23:17:29 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAvTqvYoJ41AE=</PopReceipt><TimeNextVisible>Fri,\
        \ 09 Nov 2018 23:17:29 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:17:29 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuee12a1896/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d080c610-03aa-4757-88b3-45f851157342</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:17:29 GMT</InsertionTime><ExpirationTime>Fri, 16 Nov 2018\
        \ 23:17:29 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"do9whSRYUrvZ2tZLlW2CMCmYt1vaXpc05buZDJrlDuM=\"\
        , \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\"\
        : \"ajESbrDo/x3TTIS6aeQvYeZgPFF3B4WTl9jppCLQg9t3ySzjaFWWOQ==\", \"Algorithm\"\
        : \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\"\
        : \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"Hxy70vOSgxBvYnVvV9V01g==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 1.4.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
