interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:22 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6469939A69C8E"']
      Last-Modified: ['Fri, 09 Nov 2018 23:15:23 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:23 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6469939ACF35C"']
      Last-Modified: ['Fri, 09 Nov 2018 23:15:23 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Fri, 09 Nov 2018 23:15:23 GMT']
      x-ms-type: [file]
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/file1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6469939BB9D0E"']
      Last-Modified: ['Fri, 09 Nov 2018 23:15:23 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:23 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/pref_dir3?restype=directory
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6469939C38E4E"']
      Last-Modified: ['Fri, 09 Nov 2018 23:15:23 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-content-length: ['1025']
      x-ms-date: ['Fri, 09 Nov 2018 23:15:23 GMT']
      x-ms-type: [file]
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/pref_file2
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6469939CAE327"']
      Last-Modified: ['Fri, 09 Nov 2018 23:15:23 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-content-length: ['1025']
      x-ms-date: ['Fri, 09 Nov 2018 23:15:23 GMT']
      x-ms-type: [file]
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/file3
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6469939D1E9CC"']
      Last-Modified: ['Fri, 09 Nov 2018 23:15:23 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:23 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.file.core.windows.net/share625f1644/dir1?restype=directory&comp=list&prefix=pref
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        share625f1644\" DirectoryPath=\"dir1\"><Prefix>pref</Prefix><Entries><Directory><Name>pref_dir3</Name><Properties\
        \ /></Directory><File><Name>pref_file2</Name><Properties><Content-Length>1025</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
