interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:46 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuebf910c49
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:46 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuebf910c49/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d26e2346-47ad-446d-816c-3c7e6c8eca9f</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:15:46 GMT</InsertionTime><ExpirationTime>Fri, 16 Nov 2018\
        \ 23:15:46 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAALJxRJYJ41AE=</PopReceipt><TimeNextVisible>Fri,\
        \ 09 Nov 2018 23:15:46 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:47 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuebf910c49/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d26e2346-47ad-446d-816c-3c7e6c8eca9f</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:15:46 GMT</InsertionTime><ExpirationTime>Fri, 16 Nov 2018\
        \ 23:15:46 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAUeNZN4J41AE=</PopReceipt><TimeNextVisible>Fri,\
        \ 09 Nov 2018 23:16:17 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:47 GMT']
      x-ms-version: ['2018-03-28']
    method: DELETE
    uri: https://storagename.queue.core.windows.net/queuebf910c49/messages/d26e2346-47ad-446d-816c-3c7e6c8eca9f?popreceipt=AgAAAAMAAAAAAAAAUeNZN4J41AE%3D
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:47 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuebf910c49/messages?numofmessages=32
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9f3d5773-e992-434f-b569-7b62a4c1451c</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:15:46 GMT</InsertionTime><ExpirationTime>Fri, 16 [...]
