interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:17:08 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue577f1613
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "1sMAMLEcQ4T00jvLbDTV8Q==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "o8XoYaiquouK7GAj4Rqg/vtAPNW0Cuwc4YGLRmSayQhOI17vWo/+IQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "KHDPxjT//NAHOMVovn5jdA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.4.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:17:09 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>459eb717-7637-4e12-9242-5db6406e1a17</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:17:09 GMT</InsertionTime><ExpirationTime>Fri, 16 Nov 2018\
        \ 23:17:09 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAzr9pVoJ41AE=</PopReceipt><TimeNextVisible>Fri,\
        \ 09 Nov 2018 23:17:09 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:17:09 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>459eb717-7637-4e12-9242-5db6406e1a17</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:17:09 GMT</InsertionTime><ExpirationTime>Fri, 16 Nov 2018\
        \ 23:17:09 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA9sxRaIJ41AE=</PopReceipt><TimeNextVisible>Fri,\
        \ 09 Nov 2018 23:17:39 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"1sMAMLEcQ4T00jvLbDTV8Q==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"o8XoYaiquouK7GAj4Rqg/vtAPNW0Cuwc4YGLRmSayQhOI17vWo/+IQ==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"KHDPxjT//NAHOMVovn5jdA==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 1.4.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
