interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:42:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/containerd3041389?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0EFB76BD2A3"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:42:48 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:42:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.blob.core.windows.net/?prefix=containerd3041389&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://remotestoragename.blob.core.windows.net/\"><Prefix>containerd3041389</Prefix><Containers><Container><Name>containerd3041389</Name><Properties><Last-Modified>Fri,\
        \ 14 Jun 2019 17:42:48 GMT</Last-Modified><Etag>\"0x8D6F0EFB76BD2A3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker\
        \ /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
