interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:42:38 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/containere54813d5?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0EFB21F4A2A"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:42:39 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 14 Jun 2019 17:42:38 GMT
      x-ms-meta-status:
      - original
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/containere54813d5/blob1
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      ETag:
      - '"0x8D6F0EFB229B066"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:42:39 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://amqptest.blob.core.windows.net/containere54813d5/blob1
      x-ms-date:
      - Fri, 14 Jun 2019 17:42:38 GMT
      x-ms-meta-status:
      - copy
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/containere54813d5/blob1copy
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0EFB233C458"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:42:39 GMT
      x-ms-copy-id:
      - fae1af47-65aa-4cab-959e-fb96cdc8dab7
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2018-03-28'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:42:38 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.blob.core.windows.net/containere54813d5?include=copy&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://remotestoragename.blob.core.windows.net/\" ContainerName=\"\
        containere54813d5\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Fri,\
        \ 14 Jun 2019 17:42:39 GMT</Creation-Time><Last-Modified>Fri, 14 Jun 2019\
        \ 17:42:39 GMT</Last-Modified><Etag>0x8D6F0EFB229B066</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob1copy</Name><Properties><Creation-Time>Fri,\
        \ 14 Jun 2019 17:42:39 GMT</Creation-Time><Last-Modified>Fri, 14 Jun 2019\
        \ 17:42:39 GMT</Last-Modified><Etag>0x8D6F0EFB233C458</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><CopyId>fae1af47-65aa-4cab-959e-fb96cdc8dab7</CopyId><CopySource>https://remotestoragename.blob.core.windows.net/containere54813d5/blob1</CopySource><CopyStatus>success</CopyStatus><CopyProgress>11/11</CopyProgress><CopyCompletionTime>Fri,\
        \ 14 Jun 2019 17:42:39 GMT</CopyCompletionTime><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 18:49:14 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere54813d5?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0F8FF922B14"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:49:14 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 14 Jun 2019 18:49:15 GMT
      x-ms-meta-status:
      - original
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere54813d5/blob1
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      ETag:
      - '"0x8D6F0F8FF9BD85C"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:49:15 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://amqptest.blob.core.windows.net/containere54813d5/blob1
      x-ms-date:
      - Fri, 14 Jun 2019 18:49:15 GMT
      x-ms-meta-status:
      - copy
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere54813d5/blob1copy
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0F8FFA6D6D3"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:49:15 GMT
      x-ms-copy-id:
      - 5920b621-08be-446b-9969-1129bc675065
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2018-03-28'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 18:49:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.blob.core.windows.net/containere54813d5?include=copy&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        containere54813d5\"><Blobs><Blob><[...]
[...]
