interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:16:05 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue32150fb3
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:16:05 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue32150fb3/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4ed9f999-264c-446c-98a2-373d76c7eb7f</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:16:05 GMT</InsertionTime><ExpirationTime>Fri, 16 Nov 2018\
        \ 23:16:05 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAC+tvMIJ41AE=</PopReceipt><TimeNextVisible>Fri,\
        \ 09 Nov 2018 23:16:05 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:16:05 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue32150fb3/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4ed9f999-264c-446c-98a2-373d76c7eb7f</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:16:05 GMT</InsertionTime><ExpirationTime>Fri, 16 Nov 2018\
        \ 23:16:05 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAUB9YQoJ41AE=</PopReceipt><TimeNextVisible>Fri,\
        \ 09 Nov 2018 23:16:35 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new text</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:16:05 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue32150fb3/messages/4ed9f999-264c-446c-98a2-373d76c7eb7f?popreceipt=AgAAAAMAAAAAAAAAUB9YQoJ41AE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAA+6l9MIJ41AEBAAAA]
      x-ms-time-next-visible: ['Fri, 09 Nov 2018 23:16:05 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:16:05 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue32150fb3/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4ed9f999-264c-446c-98a2-373d76c7eb7f</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:16:05 GMT</InsertionTime><ExpirationTime>Fri, 16 Nov 2018\
        \ 23:16:05 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAJ7dlQoJ41AE=</PopReceipt><TimeNextVisible>Fri,\
        \ 09 Nov 2018 23:16:35 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>new\
        \ text</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
