interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:54 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuebef712f8
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:54 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuebef712f8/messages?messagettl=1073741824
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>138dda43-6950-4143-b5f6-4f6e4b0fe28e</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:15:54 GMT</InsertionTime><ExpirationTime>Mon, 18 Nov 2052\
        \ 12:52:58 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAysk0KoJ41AE=</PopReceipt><TimeNextVisible>Fri,\
        \ 09 Nov 2018 23:15:54 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:55 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuebef712f8/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>138dda43-6950-4143-b5f6-4f6e4b0fe28e</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:15:54 GMT</InsertionTime><ExpirationTime>Mon, 18 Nov 2052\
        \ 12:52:58 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
