interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><StaticWebsite><Enabled>False</Enabled></StaticWebsite></StorageServiceProperties>'
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:10:34 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:10:34 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /><DeleteRetentionPolicy><Enabled>false</Enabled></DeleteRetentionPolicy><StaticWebsite><Enabled>false</Enabled></StaticWebsite><DefaultServiceVersion>2014-02-14</DefaultServiceVersion></StorageServiceProperties>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
