interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 22:58:53 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D64696EBCB1A5A"']
      Last-Modified: ['Fri, 09 Nov 2018 22:58:53 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Fri, 09 Nov 2018 22:58:53 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [1B2M2Y8AsgTpgAmY7PhCfg==]
      ETag: ['"0x8D64696EBCECDD6"']
      Last-Modified: ['Fri, 09 Nov 2018 22:58:53 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: AAA
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 22:58:53 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: BBB
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 22:58:53 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: CCC
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 22:58:53 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      If-Modified-Since: ['Fri, 09 Nov 2018 23:13:53 GMT']
      x-ms-date: ['Fri, 09 Nov 2018 22:58:53 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1?comp=blocklist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The\
        \ condition specified using HTTP conditional header(s) is not met.\nRequestId:449bdfe5-601e-0035-3d7f-78617e000000\n\
        Time:2018-11-09T22:58:53.6711023Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [ConditionNotMet]
      x-ms-version: ['2018-03-28']
    status: {code: 412, message: The condition specified using HTTP conditional header(s)
        is not met.}
version: 1
