interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:24 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharef877141f?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D646993AA57979"']
      Last-Modified: ['Fri, 09 Nov 2018 23:15:24 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:24 GMT']
      x-ms-meta-hello: [world]
      x-ms-meta-number: ['42']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharef877141f?restype=share&comp=metadata
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D646993AB30A67"']
      Last-Modified: ['Fri, 09 Nov 2018 23:15:24 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:15:24 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&prefix=sharef877141f&include=metadata
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>sharef877141f</Prefix><Shares><Share><Name>sharef877141f</Name><Properties><Last-Modified>Fri,\
        \ 09 Nov 2018 23:15:24 GMT</Last-Modified><Etag>\"0x8D646993AB30A67\"</Etag><Quota>5120</Quota></Properties><Metadata><hello>world</hello><number>42</number></Metadata></Share></Shares><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
