interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:33:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer8b1c1b04?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0EE628839EA"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:33:16 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 14 Jun 2019 17:33:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer8b1c1b04/blob1
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      ETag:
      - '"0x8D6F0EE6292697F"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:33:16 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 17:33:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer8b1c1b04/blob1?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 4fr/s+YU5sL7p0KWliOGtw==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 17:33:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer8b1c1b04/blob1?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - K7Il8LqaWJMHV6ho7VfZow==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 17:33:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer8b1c1b04/blob1?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 3vuZ5pqfH24G8VAGsfFmrg==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      If-Match:
      - '0x111111111111111'
      x-ms-date:
      - Fri, 14 Jun 2019 17:33:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/utcontainer8b1c1b04/blob1?comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The\
        \ condition specified using HTTP conditional header(s) is not met.\nRequestId:4d0f64f1-101e-00bf-7ed7-227076000000\n\
        Time:2019-06-14T17:33:16.8473579Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - ConditionNotMet
      x-ms-version:
      - '2018-03-28'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:41 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8b1c1b04?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0F71AE42CF1"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:35:41 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:41 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8b1c1b04/blob1
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      ETag:
      - '"0x8D6F0F71AEE1826"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:35:41 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:41 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8b1c1b04/blob1?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 4fr/s+YU5sL7p0KWliOGtw==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:41 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8b1c1b04/blob1?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - K7Il8LqaWJMHV6ho7VfZow==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8b1c1b04/blob1?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - 3vuZ5pqfH24G8VAGsfFmrg==
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      If-Match:
      - '0x111111111111111'
      x-ms-date:
      - Fri, 14 Jun 2019 18:35:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8b1c1b04/blob1?comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The\
        \ condition specified using HTTP conditional header(s) is not met.\nRequestId:68442d7e-101e-00d9-1ddf-22c22c000000\n\
        Time:2019-06-14T18:35:42.1255688Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - ConditionNotMet
      x-ms-version:
      - '2018-03-28'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
version: 1
