interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:17:29 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "G1eUd1cBu2DXClIo7mRenPf+SEVfKZSMw7MPK8Lqzj0=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "W9noccpzE+sq0q9McxdOMwTkoELtXUTCPUAibY7JZJq1ldtr2zYYXA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "OewbVulkE8lnWIsTaIHMEg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.4.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:17:29 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>eb22d6a1-238c-4062-ad3f-b539b50eb876</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:17:29 GMT</InsertionTime><ExpirationTime>Fri, 16 Nov 2018\
        \ 23:17:29 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAq4ZbYoJ41AE=</PopReceipt><TimeNextVisible>Fri,\
        \ 09 Nov 2018 23:17:29 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 09 Nov 2018 23:17:29 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>eb22d6a1-238c-4062-ad3f-b539b50eb876</MessageId><InsertionTime>Fri,\
        \ 09 Nov 2018 23:17:29 GMT</InsertionTime><ExpirationTime>Fri, 16 Nov 2018\
        \ 23:17:29 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"G1eUd1cBu2DXClIo7mRenPf+SEVfKZSMw7MPK8Lqzj0=\"\
        , \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\"\
        : \"W9noccpzE+sq0q9McxdOMwTkoELtXUTCPUAibY7JZJq1ldtr2zYYXA==\", \"Algorithm\"\
        : \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\"\
        : \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"OewbVulkE8lnWIsTaIHMEg==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 1.4.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
