{% extends "base.html" %}
{% block title %}Restaurant Create{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
    <h1>Add New Restaurant</h1>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form method="POST" action="{{ url_for('add_restaurant') }}">
        <div class="mb-3">
          <label for="restaurant_name" class="form-label">Name</label>
          <input type="text" class="form-control" id="restaurant_name" name="restaurant_name">
        </div>
        <div class="mb-3">
          <label for="street_address" class="form-label">Street Address</label>
          <input type="text" class="form-control" id="street_address" name="street_address">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="cancel" class="btn btn-primary">Cancel</button>
    </form>
{% endblock %}
    
