interactions:
- request:
    body: '{"properties": {"version": "12.0", "administratorLogin": "mysecretname",
      "administratorLoginPassword": "HusH_Sec4et"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_database9c310b06/providers/Microsoft.Sql/servers/mypysqlserver9c310b06?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServer","startTime":"2017-06-13T17:37:56.833Z"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/e831917f-7471-4754-80dd-c9c834d5743d?api-version=2015-05-01-preview']
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/serverOperationResults/e831917f-7471-4754-80dd-c9c834d5743d?api-version=2015-05-01-preview']
      Retry-After: ['0']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/e831917f-7471-4754-80dd-c9c834d5743d?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"e831917f-7471-4754-80dd-c9c834d5743d","status":"InProgress","startTime":"2017-06-13T17:37:56.833Z"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14997']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_database9c310b06/providers/Microsoft.Sql/servers/mypysqlserver9c310b06?api-version=2015-05-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_database9c310b06/providers/Microsoft.Sql/servers/mypysqlserver9c310b06","name":"mypysqlserver9c310b06","type":"Microsoft.Sql/servers","location":"westus","kind":"v12.0","properties":{"administratorLogin":"mysecretname","version":"12.0","state":"Ready","fullyQualifiedDomainName":"mypysqlserver9c310b06.database.windows.net"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_database9c310b06/providers/Microsoft.Sql/servers/mypysqlserver9c310b06/databases/pyarmdb9c310b06?api-version=2014-04-01
  response:
    body: {string: '{"operation":"CreateLogicalDatabase","startTime":"\/Date(1497375783261+0000)\/"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_database9c310b06/providers/Microsoft.Sql/servers/mypysqlserver9c310b06/databases/pyarmdb9c310b06/azureAsyncOperation/085cfc6e-fe20-479f-8bec-0fa50959933e?api-version=2014-04-01-Preview']
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_database9c310b06/providers/Microsoft.Sql/servers/mypysqlserver9c310b06/databases/pyarmdb9c310b06/operationResults/085cfc6e-fe20-479f-8bec-0fa50959933e?api-version=2014-04-01-Preview']
      Preference-Applied: [return-content]
      Retry-After: ['0']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_database9c310b06/providers/Microsoft.Sql/servers/mypysqlserver9c310b06/databases/pyarmdb9c310b06/azureAsyncOperation/085cfc6e-fe20-479f-8bec-0fa50959933e?api-version=2014-04-01-Preview
  response:
    body: {string: '{"operationId":"085cfc6e-fe20-479f-8bec-0fa50959933e","status":"InProgress","error":null}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_database9c310b06/providers/Microsoft.Sql/servers/mypysqlserver9c310b06/databases/pyarmdb9c310b06/azureAsyncOperation/085cfc6e-fe20-479f-8bec-0fa50959933e?api-version=2014-04-01-Preview']
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      x-ms-ratelimit-remaining-subscription-reads: ['14998']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_database9c310b06/providers/Microsoft.Sql/servers/mypysqlserver9c310b06/databases/pyarmdb9c310b06?api-version=2014-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_database9c310b06/providers/Microsoft.Sql/servers/mypysqlserver9c310b06/databases/pyarmdb9c310b06","name":"pyarmdb9c310b06","type":"Microsoft.Sql/servers/databases","location":"West
        US","kind":"v12.0,user","properties":{"databaseId":"b49c6c0e-3e45-4708-bf55-ade03489bc5e","edition":"Standard","status":"Online","serviceLevelObjective":"S0","collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":"268435456000","creationDate":"2017-06-13T17:43:03.497Z","currentServiceObjectiveId":"f1173c43-91bd-4aaa-973c-54e79e15235b","requestedServiceObjectiveId":"f1173c43-91bd-4aaa-973c-54e79e15235b","requestedServiceObjectiveName":"S0","sampleName":null,"defaultSecondaryLocation":"East
        US","earliestRestoreDate":"2017-06-13T17:53:35.817Z","elasticPoolName":null,"containmentState":2,"readScale":"Disabled","failoverGroupId":null}}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      x-ms-ratelimit-remaining-subscription-reads: ['14998']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_database9c310b06/providers/Microsoft.Sql/servers/mypysqlserver9c310b06/databases?api-version=2014-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_database9c310b06/providers/Microsoft.Sql/servers/mypysqlserver9c310b06/databases/master","name":"master","type":"Microsoft.Sql/servers/databases","location":"West
        US","kind":"v12.0,system","properties":{"databaseId":"97e1711d-1c73-4f92-ad3a-f0d7fde10465","edition":"System","status":"Online","serviceLevelObjective":"System2","collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":"32212254720",[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_sql_test_database9c310b06/providers/Microsoft.Sql/servers/mypysqlserver9c310b06/databases/pyarmdb9c310b06/usages?api-version=2014-04-01
  response:
    body: {string: '{"value":[{"name":"database_size","resourceName":"pyarmdb9c310b06","displayName":"Database
        Size","currentValue":4194304.0,"limit":268435456000.0,"unit":"Bytes","nextResetTime":null}]}'}
    headers:
      Content-Type: [application/json; odata=minimalmetadata; streaming=true; charset=utf-8]
      DataServiceVersion: [3.0;]
      x-ms-ratelimit-remaining-subscription-reads: ['14998']
    status: {code: 200, message: OK}
[...]
