{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes(\u0027drgqefsg\u0027)/docs/search.index?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "hotelId": "1000",
            "rating": 5,
            "rooms": [],
            "hotelName": "Azure Inn",
            "@search.action": "upload"
          },
          {
            "hotelId": "1001",
            "rating": 4,
            "rooms": [],
            "hotelName": "Redmond Hotel",
            "@search.action": "upload"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "39",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "value": [
          {
            "key": "1000",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          },
          {
            "key": "1001",
            "status": true,
            "errorMessage": null,
            "statusCode": 201
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes(\u0027drgqefsg\u0027)/docs/$count?api-version=2021-04-30-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "elapsed-time": "6",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "\uFEFF12"
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes(\u0027drgqefsg\u0027)/docs(\u00271000\u0027)?api-version=2021-04-30-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "10",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "hotelId": "1000",
        "hotelName": "Azure Inn",
        "description": null,
        "descriptionFr": null,
        "category": null,
        "tags": [],
        "parkingIncluded": null,
        "smokingAllowed": null,
        "lastRenovationDate": null,
        "rating": 5,
        "location": null,
        "address": null,
        "rooms": []
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexes(\u0027drgqefsg\u0027)/docs(\u00275\u0027)?api-version=2021-04-30-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "7",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "hotelId": "5",
        "hotelName": "Comfy Place",
        "description": "Another good hotel",
        "descriptionFr": "Un autre bon h\u00C3\u00B4tel",
        "category": "Budget",
        "tags": [
          "wifi",
          "budget"
        ],
        "parkingIncluded": true,
        "smokingAllowed": false,
        "lastRenovationDate": "2012-08-12T00:00:00Z",
        "rating": 1,
        "location": {
          "type": "Point",
          "coordinates": [
            -122.131577,
            48.678581
          ],
          "crs": {
            "type": "name",
            "properties": {
              "name": "EPSG:4326"
            }
          }
        },
        "address": null,
        "rooms": []
      }
    },
[...]
