{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "test-ss-create",
        "description": "desc",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.EntityRecognitionSkill",
            "name": "skill1",
            "inputs": [
              {
                "name": "text",
                "source": "/document/content"
              }
            ],
            "outputs": [
              {
                "name": "organizations",
                "targetName": "organizationsS1"
              }
            ],
            "includeTypelessEntities": true
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.V3.EntityRecognitionSkill",
            "name": "skill2",
            "inputs": [
              {
                "name": "text",
                "source": "/document/content"
              }
            ],
            "outputs": [
              {
                "name": "organizations",
                "targetName": "organizationsS2"
              }
            ],
            "modelVersion": "3"
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.SentimentSkill",
            "name": "skill3",
            "inputs": [
              {
                "name": "text",
                "source": "/document/content"
              }
            ],
            "outputs": [
              {
                "name": "score",
                "targetName": "scoreS3"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.V3.SentimentSkill",
            "name": "skill4",
            "inputs": [
              {
                "name": "text",
                "source": "/document/content"
              }
            ],
            "outputs": [
              {
                "name": "confidenceScores",
                "targetName": "scoreS4"
              }
            ],
            "includeOpinionMining": true
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.V3.EntityLinkingSkill",
            "name": "skill5",
            "inputs": [
              {
                "name": "text",
                "source": "/document/content"
              }
            ],
            "outputs": [
              {
                "name": "entities",
                "targetName": "entitiesS5"
              }
            ],
            "minimumPrecision": 0.5
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "46",
        "ETag": "W/\u00220x8D9E1E74F05D2EC\u0022",
        "Location": "https://fakesearchendpoint.search.windows.net/skillsets(\u0027test-ss-create\u0027)?api-version=2021-04-30-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#skillsets/$entity",
        "@odata.etag": "\u00220x8D9E1E74F05D2EC\u0022",
        "name": "test-ss-create",
        "description": "desc",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.EntityRecognitionSkill",
            "name": "skill1",
            "description": null,
            "context": null,
            "categories": [],
            "defaultLanguageCode": null,
            "minimumPrecision": null,
            "includeTypelessEntities": true,
            "inputs": [
              {
                "name": "text",
                "source": "/document/content",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "organizations",
                "targetName": "organizationsS1"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Text.V3.EntityRecognitionSkill",
            "name": "skill2",
            "description": null,
            "context": null,
            "categories": [],
            "defaultLanguageCode": null,
      [...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets?api-version=2021-04-30-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "26",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#skillsets",
        "value": [
          {
            "@odata.etag": "\u00220x8D9E1E74F05D2EC\u0022",
            "name": "test-ss-create",
            "description": "desc",
            "skills": [
              {
                "@odata.type": "#Microsoft.Skills.Text.EntityRecognitionSkill",
                "name": "skill1",
                "description": null,
                "context": "/document",
                "categories": [
                  "Person",
                  "Quantity",
                  "Organization[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets(\u0027test-ss-create\u0027)/search.resetskills?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "skillNames": [
          "skill1",
          "skill2",
          "skill3",
          "skill4",
          "skill5"
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "20"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets(\u0027test-ss-get\u0027)?api-version=2021-04-30-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "13",
        "ETag": "W/\u00220x8D9E1E74F4EDF28\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "oda[...]
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets(\u0027test-ss-create-or-update-unchanged\u0027)?api-version=2021-04-30-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "test-ss-create-or-update-unchanged",
        "description": "desc1",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.EntityRecognitionSkill",
            "inputs": [
              {
                "name": "text",
                "source": "/document/content"
              }
            ],
            "outputs": [
              {
                "name": "organizations",
                "t[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets(\u0027test-ss-create-or-update-unchanged\u0027)?api-version=2021-04-30-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-Match": "\u00220x8D9E1E74FBECE92\u0022",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "test-ss-create-or-update-unchanged",
        "description": "desc2",
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.EntityRecognitionSkill",
            "inputs": [
              {
                "name": "text",
                "source": "/document/content"
              }
            ],
            "outputs": [
              {
                "name": "organizations",
                "targetName": "organizations"
              }
            ]
          }
        ],
        "@odata.etag": "\u00220x8D9E1E74FBECE92\u0022"
      },
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "14",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "An error has occurred."
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets(\u0027test-ss-create\u0027)?api-version=2021-04-30-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "31"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets(\u0027test-ss-list-1\u0027)?api-version=2021-04-30-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "28"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/skillsets(\u0027test-ss-list-2\u0027)?api-version=2021-04-30-Preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "25"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
