interactions:
- request:
    body: '{"location": "global", "properties": {"dataLocation": "UnitedStates"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_communication_list_resources_test_communication_list_by_rgd3a91c4f/providers/Microsoft.Communication/communicationServices/test-resource-list-by-rg?api-version=2020-08-20-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_communication_list_resources_test_communication_list_by_rgd3a91c4f/providers/Microsoft.Communication/communicationServices/test-resource-list-by-rg","name":"test-resource-list-by-rg","type":"Microsoft.Communication/communicationServices","location":"global","properties":{"provisioningState":"Accepted","hostName":"test-resource-list-by-rg.communication.azure.com","immutableResourceId":"369ed78f-8fde-45c5-b8cf-a873e6f737dd","dataLocation":"UnitedStates"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b4752e63-e594-4f50-ab27-c9f0bb2c790a?api-version=2020-08-20-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"240e1382-0000-0700-0000-5fc7dd120000"'
      location:
      - https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b4752e63-e594-4f50-ab27-c9f0bb2c790a?api-version=2020-08-20-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b4752e63-e594-4f50-ab27-c9f0bb2c790a?api-version=2020-08-20-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/b4752e63-e594-4f50-ab27-c9f0bb2c790a","name":"b4752e63-e594-4f50-ab27-c9f0bb2c790a","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_communication_list_resources_test_communication_list_by_rgd3a91c4f/providers/Microsoft.Communication/communicationServices/test-resource-list-by-rg","status":"Succeeded","startTime":"2020-12-02T18:29:38.0048921Z","endTime":"2020-12-02T18:29:39.6161013Z","percentComplete":100.0,"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2b009ee8-0000-0800-0000-5fc7dd130000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_communication_list_resources_test_communication_list_by_rgd3a91c4f/providers/Microsoft.Communication/communicationServices?api-version=2020-08-20-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_communication_list_resources_test_communication_list_by_rgd3a91c4f/providers/Microsoft.Communication/communicationServices/test-resource-list-by-rg","name":"test-resource-list-by-rg","type":"Microsoft.Communication/communicationServices","location":"global","properties":{"provisioningState":"Succeeded","hostName":"test-resource-list-by-rg.communication.azure.com","immutableResourceId":"369ed78f-8fde-45c5-b8cf-a873e6f737dd","dataLocation":"UnitedStates"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
