-e ../../../eng/tools/azure-sdk-tools
-e ../azure-ai-agentserver-core
../../monitor/azure-monitor-query
azure-identity>=1.17.0,<2.0.0
httpx>=0.27.0,<1.0.0
hypercorn>=0.17.0,<1.0.0
openai>=3.0.0,<4.0.0
pytest>=8.3.5,<10.0.0
pytest-asyncio>=0.24.0,<2.0.0
starlette>=0.45.0,<2.0.0