-e ../../../tools/azure-sdk-tools
../../core/azure-core
-e ../../../tools/azure-devtools
-e ../../cognitiveservices/azure-mgmt-cognitiveservices
-e ../../identity/azure-identity
aiohttp>=3.0
../../nspkg/azure-ai-nspkg
../../nspkg/azure-ai-language-nspkg
