-e ../../../tools/azure-sdk-tools
git+https://github.com/Azure/azure-sdk-for-python@rest_layer#subdirectory=sdk/core/azure-core&egg=azure-core
-e ../../../tools/azure-devtools
-e ../../cognitiveservices/azure-mgmt-cognitiveservices
-e ../../identity/azure-identity
aiohttp>=3.0; python_version >= '3.5'
../../nspkg/azure-ai-nspkg