{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/breaksentence?language=th\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\u0022text\u0022: \u0022\\u0e23\\u0e27\\u0e1a\\u0e23\\u0e27\\u0e21\\u0e41\\u0e1c\\u0e48\\u0e19\\u0e04\\u0e33\\u0e15\\u0e2d\\u0e1a \\u0e23\\u0e30\\u0e22\\u0e30\\u0e40\\u0e27\\u0e25\\u0e32\\u0e02\\u0e2d\\u0e07\\u0e42\\u0e04\\u0e23\\u0e07\\u0e01\\u0e32\\u0e23 \\u0e27\\u0e34\\u0e18\\u0e35\\u0e40\\u0e25\\u0e37\\u0e2d\\u0e01\\u0e0a\\u0e32\\u0e22\\u0e43\\u0e19\\u0e1d\\u0e31\\u0e19 \\u0e2b\\u0e21\\u0e32\\u0e22\\u0e40\\u0e25\\u0e02\\u0e0b\\u0e35\\u0e40\\u0e23\\u0e35\\u0e22\\u0e25\\u0e02\\u0e2d\\u0e07[...]
