interactions:
- request:
    body: '{"location": "westcentralus", "sku": {"name": "Premium"}, "properties":
      {"adminUserEnabled": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257?api-version=2017-10-01
  response:
    body: {string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257","name":"pyacr9dee1257","location":"westcentralus","tags":{},"properties":{"loginServer":"pyacr9dee1257.azurecr.io","creationDate":"2017-10-09T19:33:45.9043281Z","provisioningState":"Succeeded","adminUserEnabled":false}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "southcentralus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257/replications/southcentralus?api-version=2017-10-01
  response:
    body: {string: '{"type":"Microsoft.ContainerRegistry/registries/replications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257/replications/southcentralus","name":"southcentralus","location":"southcentralus","tags":{},"properties":{"provisioningState":"Creating","status":{"timestamp":"2017-10-09T19:34:15.5569034Z"}}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257/replications/southcentralus/operationStatuses/replications-83f3c891-5419-4155-9617-5ba0074be5a4?api-version=2017-10-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257/replications/southcentralus/operationStatuses/replications-83f3c891-5419-4155-9617-5ba0074be5a4?api-version=2017-10-01
  response:
    body: {string: '{"status":"Creating"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257/replications/southcentralus/operationStatuses/replications-83f3c891-5419-4155-9617-5ba0074be5a4?api-version=2017-10-01']
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257/replications/southcentralus?api-version=2017-10-01
  response:
    body: {string: '{"type":"Microsoft.ContainerRegistry/registries/replications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257/replications/southcentralus","name":"southcentralus","location":"southcentralus","tags":{},"properties":{"provisioningState":"Succeeded","status":{"displayStatus":"Ready","timestamp":"2017-10-09T19:34:28.7929218Z"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257/replications?api-version=2017-10-01
  response:
    body: {string: '{"value":[{"type":"Microsoft.ContainerRegistry/registries/replications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257/replications/southcentralus","name":"southcentralus","location":"southcentralus","tags":{},"properties":{"provisioningState":"Succeeded","status":{"displayStatus":"Ready","timestamp":"2017-10-09T19:34:28.7929218Z"}}},{"type":"Microsoft.ContainerRegistry/registries/replications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257/replications/westcentralus","name":"westcentralus","location":"westcentralus","tags":{},"properties":{"provisioningState":"Succeeded","status":{"displayStatus":"Ready","timestamp":"2017-10-09T19:34:18.4665502Z"}}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"tags": {"key": "value"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257/replications/southcentralus?api-version=2017-10-01
  response:
    body: {string: '{"type":"Microsoft.ContainerRegistry/registries/replications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerregistry_test_replication9dee1257/providers/Microsoft.ContainerRegistry/registries/pyacr9dee1257/replications/southcentralus","name":"southcentralus","location":"southcentralus","tags":{"key":"value"},"properties":{"provisioningState":"Succeeded","status":{"displayStatus":"Ready","timestamp":"2017-10-09T19:34:28.7929218Z"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/southcentralus/operationResults/replications-c67f24a1-3f37-40e3-aa23-722903f07ad5?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/westcentralus/operationResults/registries-d43f1647-c65f-4819-b6d5-0837e55d8506?api-version=2017-10-01
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
version: 1
