{
  "Entries": [
    {
      "RequestUri": "https://acsxplatmsg-test.unitedstates.communication.azure.com/messages/notifications:send?api-version=2024-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Thu, 15 Feb 2024 21:26:30 GMT",
        "Repeatability-Request-ID": "bb47d11c-0524-4e57-b224-7b5b93b9ec45",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "kind": "text",
        "channelRegistrationId": "b045be8c-45cd-492a-b2a2-47bae7c36959",
        "to": [
          "\u002B14254360097"
        ],
        "content": "sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-08-24-preview, 2024-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "Repeatability-Result": "accepted",
        "X-Processing-Time": "737ms"
      },
      "ResponseBody": {
        "receipts": [
          {
            "messageId": "ce97adfc-2232-4fa0-9b7e-ea2d82c453d9",
            "to": "sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
