interactions:
- request:
    body: '[{"id": "1", "parameters": {"metricId": "availabilityResults/count", "timespan":
      "P2DT12H"}}, {"id": "two", "parameters": {"metricId": "availabilityResults/duration"}}]'
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-api-key: [DEMO_KEY]
    method: POST
    uri: https://api.applicationinsights.io/v1/apps/DEMO_APP/metrics
  response:
    body: {string: '[{"id":"1","status":200,"body":{"value":{"start":"2018-07-10T09:38:20.190Z","end":"2018-07-12T21:38:20.190Z","availabilityResults/count":{"sum":29689}}}},{"id":"two","status":200,"body":{"value":{"start":"2018-07-12T09:38:20.210Z","end":"2018-07-12T21:38:20.210Z","availabilityResults/duration":{"avg":1041}}}}]'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
