interactions:
- request:
    body: null
    headers:
      x-api-key: [DEMO_KEY]
    method: GET
    uri: https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><edmx:Edmx Version="4.0"
        xmlns:edmx="http://docs.oasis-open.org/odata/ns/edmx"><edmx:DataServices><Schema
        Namespace="ApplicationInsights" xmlns="http://docs.oasis-open.org/odata/ns/edm"><ComplexType
        Name="TraceCustomDimensionsType" OpenType="True"><Property Name="AgentSession"
        Type="Edm.String"/><Property Name="AgentVersion" Type="Edm.String"/><Property
        Name="MachineName" Type="Edm.String"/><Property Name="Source" Type="Edm.String"/><Property
        Name="RunningMode" Type="Edm.String"/></ComplexType><ComplexType Name="TraceCustomMeasurementsType"
        OpenType="True"><Property Name="AgentSession" Type="Edm.String"/><Property
        Name="AgentVersion" Type="Edm.String"/><Property Name="MachineName" Type="Edm.String"/><Property
        Name="Source" Type="Edm.String"/><Property Name="RunningMode" Type="Edm.String"/></ComplexType><ComplexType
        Name="RequestCustomDimensionsType" OpenType="True"><Property Name="_MS.ProcessedByMetricExtractors"
        Type="Edm.String"/><Property Name="AI interna[...]
