interactions:
- request:
    body: '{"query": "project id, tags, properties | limit 2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01
  response:
    body:
      string: '{"totalRecords":2,"count":2,"data":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesTopologyDf-b/providers/Microsoft.Compute/virtualMachineScaleSets/nt5art","tags":{"platformsettings.host_environment.service.platform_optedin_for_rootcerts":"true","clusterName":"gov-art-df-rp-b","resourceType":"Service
        Fabric"},"properties":{"provisioningState":"Succeeded","uniqueId":"99664326-5c2d-498a-b7be-8ca222348d40","doNotRunExtensionsOnOverprovisionedVMs":false,"platformFaultDomainCount":5,"virtualMachineProfile":{"storageProfile":{"imageReference":{"publisher":"MicrosoftWindowsServer","version":"latest","offer":"WindowsServer","sku":"2019-Datacenter"},"osDisk":{"createOption":"FromImage","diskSizeGB":127,"managedDisk":{"storageAccountType":"Standard_LRS"},"caching":"ReadOnly","osType":"Windows"}},"networkProfile":{"networkInterfaceConfigurations":[{"properties":{"primary":true,"enableAcceleratedNetworking":false,"ipConfigurations":[{"properties":{"privateIPAddressVersion":"IPv4","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesTopologyDfNetworking/providers/Microsoft.Network/virtualNetworks/VNet-gov-rp-df-art/subnets/Subnet-5"},"loadBalancerBackendAddressPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesTopologyDf-b/providers/Microsoft.Network/loadBalancers/LB-gov-art-df-rp-b-nt5art/backendAddressPools/LoadBalancerBEAddressPool"}],"loadBalancerInboundNatPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesTopologyDf-b/providers/Microsoft.Network/loadBalancers/LB-gov-art-df-rp-b-nt5art/inboundNatPools/LoadBalancerBEAddressNatPool"}]},"name":"NIC-gov-art-df-rp-b-5"}],"enableIPForwarding":false,"dnsSettings":{"dnsServers":[]}},"name":"NIC-gov-art-df-rp-b-5"}]},"osProfile":{"adminUsername":"cdmuser","requireGuestProvisionSignal":true,"allowExtensionOperations":true,"secrets":[],"windowsConfiguration":{"provisionVMAgent":true,"enableAutomaticUpdates":false},"computerNamePrefix":"nt5art","dsmsConfiguration":{"secrets":[],"certificates":[]}},"extensionProfile":{"extensions":[{"properties":{"type":"ServiceFabricNode","publisher":"Microsoft.Azure.ServiceFabric","autoUpgradeMinorVersion":true,"typeHandlerVersion":"1.1","settings":{"certificate":{"x509StoreName":"My","commonNames":["arg-df-ing-b.arg-df.core.windows.net"]},"durabilityLevel":"Silver","clusterEndpoint":"https://eastus.servicefabric.azure.com/runtime/clusters/625b1484-9126-4bb2-a517-da6bf70c2836","nicPrefixOverride":"10.0.8.0/24","nodeTypeRef":"nt5art","enableParallelJobs":true,"dataPath":"D:\\\\SvcFab"},"provisionAfterExtensions":["KeyVaultForWindows","DsmsExtension"]},"name":"nt5art_ServiceFabricNode"},{"properties":{"type":"IaaSDiagnostics","publisher":"Microsoft.Azure.Diagnostics","autoUpgradeMinorVersion":true,"typeHandlerVersion":"1.5","settings":{"StorageAccount":"sfdggovartdfrpb","WadCfg":{"DiagnosticMonitorConfiguration":{"overallQuotaInMB":"50000","EtwProviders":{"EtwEventSourceProviderConfiguration":[{"scheduledTransferPeriod":"PT5M","scheduledTransferKeywordFilter":"1","DefaultEvents":{"eventDestination":"ServiceFabricReliableActorEventTable"},"provider":"Microsoft-ServiceFabric-Actors"},{"scheduledTransferPeriod":"PT5M","DefaultEvents":{"eventDestination":"ServiceFabricReliableServiceEventTable"},"provider":"Microsoft-ServiceFabric-Services"}],"EtwManifestProviderConfiguration":[{"scheduledTransferPeriod":"PT5M","scheduledTransferLogLevelFilter":"Information","scheduledTransferKeywordFilter":"4611686018427387904","DefaultEvents":{"eventDestination":"ServiceFabricSystemEventTable"},"provider":"cbd93bc2-71e5-4566-b3a7-595d8eeca6e8"}]}}}}},"name":"VMDiagnosticsVmExt_nt5art"},{"properties":{"type":"DSMSForWindows","publisher":"Microsoft.Azure.Security.Dsms","autoUpgradeMinorVersion":true,"typeHandlerVersion":"3.12"},"name":"DsmsExtension"},{"properties":{"type":"KeyVaultForWindows","publisher":"Microsoft.Azure.KeyVault","autoUpgradeMinorVersion":true,"typeHandlerVersion":"1.0","settings":{"secretsManagementSettings":{"observedCertificates":["https://gov-rp-df-art-provision.vault.azure.net/secrets/sf-gov-art-df-ingestion-b","https://gov-rp-df-art-provision.vault.azure.net/secrets/sf-arg-df-ing-b","https://gov-rp-df-art-provision.vault.azure.net/secrets/arg-df-m1-ssl"],"certificateStoreName":"My","pollingIntervalInS":"3600","requireInitialSync":true,"linkOnRenewal":false}}},"name":"KeyVaultForWindows"},{"properties":{"type":"AntimalwareConfiguration","publisher":"Microsoft.Azure.Security.AntimalwareSignature","autoUpgradeMinorVersion":true,"typeHandlerVersion":"2.0","settings":{},"enableAutomaticUpgrade":true},"name":"Microsoft.Azure.Security.AntimalwareSignature.AntimalwareConfiguration"},{"properties":{"type":"GenevaMonitoring","publisher":"Microsoft.Azure.Geneva","autoUpgradeMinorVersion":true,"typeHandlerVersion":"2.0","settings":{},"enableAutomaticUpgrade":true},"name":"Microsoft.Azure.Geneva.GenevaMonitoring"}]}},"singlePlacementGroup":true,"overprovision":false,"upgradePolicy":{"mode":"Automatic","automaticOSUpgradePolicy":{"disableAutomaticRollback":false,"enableAutomaticOSUpgrade":true,"useRollingUpgradePolicy":false},"rollingUpgradePolicy":{"maxUnhealthyUpgradedInstancePercent":20,"maxUnhealthyInstancePercent":20,"maxBatchInstancePercent":20,"pauseTimeBetweenBatches":"PT0S"}}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesTopologyDf-a/providers/Microsoft.Network/loadBalancers/LB-gov-art-df-rp-a-nt1art","tags":{"clusterName":"gov-art-df-rp-a","resourceType":"Service
        Fabric"},"properties":{"provisioningState":"Succeeded","loadBalancingRules":[{"properties":{"provisioningState":"Succeeded","enableDestinationServiceEndpoint":false,"allowBackendPortConflict":false,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesTopologyDf-a/providers/Microsoft.Network/loadBalancers/LB-gov-art-df-rp-a-nt1art/frontendIPConfigurations/LoadBalancerIPConfig"},"idleTimeoutInMinutes":5,"protocol":"Tcp","backendAddressPool":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesTopologyDf-a/providers/Microsoft.Network/loadBalancers/LB-gov-art-df-rp-a-nt1art/backendAddressPools/LoadBalancerBEAddressPool"},"enableFloatingIP":false,"disableOutboundSnat":false,"enableTcpReset":false,"loadDistribution":"Default","frontendPort":19000,"backendPort":19000,"probe":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesTopologyDf-a/providers/Microsoft.Network/loadBalancers/LB-gov-art-df-rp-a-nt1art/probes/FabricGatewayProbe"}},"type":"Microsoft.Network/loadBalancers/loadBalancingRules","name":"LBRule","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesTopologyDf-a/providers/Microsoft.Network/loadBalancers/LB-gov-art-df-rp-a-nt1art/loadBalancingRules/LBRule","etag":"W/\"1f162a9d-9111-4b4a-9c07-84ff8199aa12\""},{"properties":{"provisioningState":"Succeeded","enableDestinationServiceEndpoint":false,"allowBackendPortConflict":false,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesTopologyDf-a/providers/Microsoft.Network/loadBalancers/LB-gov-art-df-rp-a-nt1art/frontendIPConfigurations/LoadBalancerIPConfig"},"idleTimeoutInMinutes":5,"protocol":"Tcp","backendAddressPool":{"id":"/subscriptions/00000[...]
