interactions:
- request:
    body: '{"subscriptions": ["00000000-0000-0000-0000-000000000000"], "query": "project
      id, location | limit 10", "facets": [{"expression": "location", "options": {"sortOrder":
      "desc", "$top": 1}}, {"expression": "nonExistingColumn", "options": {"sortOrder":
      "desc", "$top": 1}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01
  response:
    body:
      string: '{"totalRecords":10,"count":10,"data":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesCacheProvider-TM-DF/providers/Microsoft.Network/trafficmanagerprofiles/gov-art-df-changeCompute","location":"global"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesTopologyDfStorage/providers/Microsoft.EventGrid/domains/gov-rp-df-art-eg","location":"eastus"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesTopologyDfStorage/providers/Microsoft.EventHub/namespaces/gov-rp-art-multiplexer-eventhub-df-1","location":"eastus"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureResourcesTopologyDfStor[...]
