interactions:
- request:
    body: '{"subscriptions": ["00000000-0000-0000-0000-000000000000"], "query": "project
      id, location | where where"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2020-04-01-preview
  response:
    body:
      string: "{\"error\":{\"code\":\"BadRequest\",\"message\":\"Please provide below\
        \ info when asking for support: timestamp = 2020-12-15T09:46:59.0405078Z,\
        \ correlationId = c0a5961d-2258-4095-a131-5549202a1243.\",\"details\":[{\"\
        code\":\"InvalidQuery\",\"message\":\"Query is invalid. Please refer to the\
        \ documentation for the Azure Resource Graph service and fix the error before\
        \ retrying.\"},{\"code\":\"ParserFailure\",\"message\":\"ParserFailure\",\"\
        line\":1,\"characterPositionInLine\":34,\"token\":\"<EOF>\",\"expectedToken\"\
        :\"\u0179\"}]}}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-resource-requests:
      - '11'
      x-ms-user-quota-remaining:
      - '11'
      x-ms-user-quota-resets-after:
      - 00:00:05
    status:
      code: 400
      message: Bad Request
version: 1
