interactions:
- request:
    body: 'b''b\''{"subscriptions": ["00000000-0000-0000-0000-000000000000"], "query":
      "project id, tags, properties | limit 2", "options": {"resultFormat": "objectArray"}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2019-04-01
  response:
    body:
      string: '{"totalRecords":2,"count":2,"data":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databoxtxiwrvbtjgrx2npfru76uyoc6b6isd5hdsfn6ktdumkor4a27iy7xdzticf/providers/Microsoft.DataBox/jobs/jobtztsdrfw6z6wivsqbc5nc","tags":{},"properties":{"status":"DeviceOrdered","startTime":"2020-03-03T05:09:10.31Z","isCancellableWithoutFee":true,"deliveryInfo":{"scheduledDateTime":"0001-01-01T00:00:00Z"},"deliveryType":"NonScheduled","isPrepareToShipEnabled":false,"isShippingAddressEditable":true,"isDeletable":false,"isCancellable":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databoxfatz7bwdvcwrgcw2s4nsrtqd5ekrtasz7ku5i7nfauwkmrc77zvqzofjqfj/providers/Microsoft.DataBox/jobs/job5kora4cnpnjusyrkcnwe2","tags":{},"properties":{"status":"DeviceOrdered","isCancellableWithoutFee":true,"deliveryInfo":{"scheduledDateTime":"0001-01-01T00:00:00Z"},"deliveryType":"NonScheduled","startTime":"2020-03-03T05:54:49.925Z","isPrepareToShipEnabled":false,"isShippingAddressEditable":true,"isDeletable":false,"isCancellable":true}}],"facets":[],"resultTruncated":"false"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-resource-requests:
      - '13'
      x-ms-user-quota-remaining:
      - '13'
      x-ms-user-quota-resets-after:
      - 00:00:05
    status:
      code: 200
      message: OK
version: 1
