interactions:
- request:
    body: '{"subscriptions": ["00000000-0000-0000-0000-000000000000"], "query": "project
      id, tags, properties | limit 2", "options": {"resultFormat": "objectArray"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2020-04-01-preview
  response:
    body:
      string: '{"totalRecords":2,"count":2,"data":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/xiaojxu/providers/Microsoft.Compute/galleries/xiaojxug1","tags":{},"properties":{"provisioningState":"Succeeded","identifier":{"uniqueName":"00000000-0000-0000-0000-000000000000-XIAOJXUG1"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/xiaojxu/providers/Microsoft.Compute/galleries/xiaojxug1/images/d1/versions/1.0.0","tags":{},"properties":{"provisioningState":"Failed","storageProfile":{},"publishingProfile":{"storageAccountType":"Standard_LRS","source":{"managedImage":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fytest/providers/Microsoft.Compute/images/img1"}},"replicaCount":1,"excludeFromLatest":false,"publishedDate":"2020-10-19T07:29:37.4350000Z","targetRegions":[{"name":"West
        US 2","storageAccountType":"Standard_LRS","regionalReplicaCount":1}]}}}],"facets":[],"resultTruncated":"false"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-resource-requests:
      - '13'
      x-ms-user-quota-remaining:
      - '13'
      x-ms-user-quota-resets-after:
      - 00:00:05
    status:
      code: 200
      message: OK
version: 1
