interactions:
- request:
    body: '{"name": "pysdkdmstestservice74501149", "type": "services"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/checkNameAvailability?api-version=2018-07-15-preview
  response:
    body: {string: '{"nameAvailable":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}},
      "location": "centralus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149?api-version=2018-06-01
  response:
    body: {string: "{\r\n  \"name\": \"pysdkdmstestvnet74501149\",\r\n  \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149\"\
        ,\r\n  \"etag\": \"W/\\\"fc40861c-fc44-4493-9a2e-2303111c977c\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"centralus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"9df078ad-5140-4409-9140-661abf7c0d56\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\"\
        : [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/1d6431b4-1e50-4623-9a27-4dd8437e38d6?api-version=2018-06-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/1d6431b4-1e50-4623-9a27-4dd8437e38d6?api-version=2018-06-01
  response:
    body: {string: "{\r\n  \"status\": \"InProgress\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149/subnets/subnet1?api-version=2018-06-01
  response:
    body: {string: "{\r\n  \"name\": \"subnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149/subnets/subnet1\"\
        ,\r\n  \"etag\": \"W/\\\"48a7f266-34ee-4330-91c2-78ca8e87a464\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": []\r\n  },\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/da218909-7ea9-4b05-bde9-afd0b15dc576?api-version=2018-06-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"properties": {"virtualSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149/subnets/subnet1"},
      "sku": {"name": "GeneralPurpose_2vCores"}, "location": "centralus"}\\\\\\\''\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149?api-version=2018-07-15-preview
  response:
    body: {string: '{"properties":{"provisioningState":"Accepted","virtualSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149/subnets/subnet1"},"etag":"lkAGmRuGawcId8LUSrCZylUQ0UrHuuv0ElVl4TNlTmQ=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149","location":"centralus","name":"pysdkdmstestservice74501149","sku":{"name":"GeneralPurpose_2vCores","size":"2
        vCores","tier":"General Purpose"},"type":"Microsoft.DataMigration/services"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/51046827-01e6-49eb-9cc8-db118a612f39?api-version=2018-07-15-preview']
      content-type: [application/json; charset=utf-8]
      etag: ['"lkAGmRuGawcId8LUSrCZylUQ0UrHuuv0ElVl4TNlTmQ="']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/51046827-01e6-49eb-9cc8-db118a612f39?api-version=2018-07-15-preview
  response:
    body: {string: '{"name":"51046827-01e6-49eb-9cc8-db118a612f39","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/51046827-01e6-49eb-9cc8-db118a612f39","status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149?api-version=2018-07-15-preview
  response:
    body: {string: '{"properties":{"provisioningState":"Succeeded","virtualNicId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/networkInterfaces/NIC-en2f2e9dn2krgg4nnqqes2ef","virtualSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149/subnets/subnet1"},"etag":"sjsnvFRJnZpMcPxRiQY9x7G1U9hpxPWof3sW5vxzdFM=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149","location":"centralus","name":"pysdkdmstestservice74501149","sku":{"name":"GeneralPurpose_2vCores","size":"2
        vCores","tier":"General Purpose"},"type":"Microsoft.DataMigration/services"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"sjsnvFRJnZpMcPxRiQY9x7G1U9hpxPWof3sW5vxzdFM="']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"name": "pysdkdmstestservice74501149", "type": "services"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/checkNameAvailability?api-version=2018-07-15-preview
  response:
    body: {string: '{"reason":"AlreadyExists","message":"The resource name is already
        in use.","nameAvailable":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"targetPlatform": "SQLDB", "sourcePlatform": "SQL"}, "location":
      "centralus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149/projects/pysdkdmstestproject74501149?api-version=2018-07-15-preview
  response:
    body: {string: '{"properties":{"sourcePlatform":"SQL","targetPlatform":"SQLDB","creationTime":"2018-09-06T23:36:11.7429734+00:00","provisioningState":"Succeeded"},"etag":"jpRpFq1oCgOfKjIvpN1hdlutGkcsG/DIL0Pa6JZuN9Q=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149/projects/pysdkdmstestproject74501149","location":"centralus","name":"pysdkdmstestproject74501149","type":"Microsoft.DataMigration/services/projects"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"jpRpFq1oCgOfKjIvpN1hdlutGkcsG/DIL0Pa6JZuN9Q="']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"properties": {"taskType": "Migrate.SqlServer.SqlDb", "input": {"validationOptions":
      {"enableSchemaValidation": false, "enableDataIntegrityValidation": false, "enableQueryAnalysisValidation":
      false}, "sourceConnectionInfo": {"password": "password", "dataSource": "testsource.microsoft.com",
      "encryptConnection": true, "userName": "testuser", "authentication": "SqlAuthentication",
      "type": "SqlConnectionInfo", "trustServerCertificate": true}, "selectedDatabases":
      [{"makeSourceDbReadOnly": false, "name": "Test_Source", "tableMap": {"dbo.TestTablePrimary":
      "dbo.TestTablePrimary", "dbo.TestTableForeign": "dbo.TestTableForeign"}, "targetDatabaseName":
      "Test_Target"}], "targetConnectionInfo": {"password": "password", "dataSource":
      "testtarget.microsoft.com", "encryptConnection": true, "userName": "testuser",
      "authentication": "SqlAuthentication", "type": "SqlConnectionInfo", "trustServerCertificate":
      true}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149/projects/pysdkdmstestproject74501149/tasks/pysdkdmstesttask74501149?api-version=2018-07-15-preview
  response:
    body: {string: '{"properties":{"input":{"validationOptions":{"enableSchemaValidation":false,"enableDataIntegrityValidation":false,"enableQueryAnalysisValidation":false},"sourceConnectionInfo":{"dataSource":"testsource.microsoft.com","encryptConnection":true,"userName":"testuser","authentication":"SqlAuthentication","type":"SqlConnectionInfo","trustServerCertificate":true},"selectedDatabases":[{"makeSourceDbReadOnly":false,"name":"Test_Source","tableMap":{"dbo.TestTablePrimary":"dbo.TestTablePrimary","dbo.TestTableForeign":"dbo.TestTableForeign"},"targetDatabaseName":"Test_Target"}],"targetConnectionInfo":{"dataSource":"testtarget.microsoft.com","encryptConnection":true,"userName":"testuser","authentication":"SqlAuthentication","type":"SqlConnectionInfo","trustServerCertificate":true}},"taskType":"Migrate.SqlServer.SqlDb","state":"Queued"},"etag":"OjlvxiIKKjOfPPy1G8CKPiM8UyaO0JgZcrOKbeb6ZI0=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149/projects/pysdkdmstestproject74501149/tasks/pysdkdmstesttask74501149","name":"pysdkdmstesttask74501149","type":"Microsoft.DataMigration/services/projects/tasks"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"OjlvxiIKKjOfPPy1G8CKPiM8UyaO0JgZcrOKbeb6ZI0="']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149/projects/pysdkdmstestproject74501149/tasks/pysdkdmstesttask74501149?deleteRunningTasks=true&api-version=2018-07-15-preview
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"name": "pysdkdmstestservice74501149", "type": "services"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/checkNameAvailability?api-version=2018-07-15-preview
  response:
    body: {string: '{"nameAvailable":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
