-e ../../../tools/azure-sdk-tools
-e ../../identity/azure-identity
-e ../azure-communication-identity
-e ../../servicebus/azure-servicebus
-e ../../../tools/azure-devtools
../../core/azure-core
aiohttp>=3.0