interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "DefaultEndpointsProtocol=https;AccountName=storagename;AccountKey=NzhL3hKZbJBuJ2484dPTR+xF30kYaWSSCbs2BzLgVVI1woqeST/1IgqaLm6QAOTxtGvxctSNbIR/1hW8yH+bJg==;EndpointSuffix=core.windows.net"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - ECF8F1E7053F8E7AF864D34BF7EAC5F6
    method: POST
    uri: https://search549e1a2d.search.windows.net/datasources?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search549e1a2d.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D83F1BF8F4A949\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '60'
      etag:
      - W/"0x8D83F1BF8F4A949"
      location:
      - https://search549e1a2d.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      api-key:
      - ECF8F1E7053F8E7AF864D34BF7EAC5F6
    method: GET
    uri: https://search549e1a2d.search.windows.net/datasources?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search549e1a2d.search.windows.net/$metadata#datasources","value":[{"@odata.etag":"\"0x8D83F1BF8F4A949\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '11'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      api-key:
      - ECF8F1E7053F8E7AF864D34BF7EAC5F6
    method: DELETE
    uri: https://search549e1a2d.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30
  response:
    body:
      string: ''
    headers:
      elapsed-time:
      - '169'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      api-key:
      - ECF8F1E7053F8E7AF864D34BF7EAC5F6
    method: GET
    uri: https://search549e1a2d.search.windows.net/datasources?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search549e1a2d.search.windows.net/$metadata#datasources","value":[]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '5'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
