interactions:
- request:
    body: '{"value": [{"hotelId": "1000", "@search.action": "delete"}, {"hotelId":
      "4", "@search.action": "delete"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searchc45b1c02.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"value":[{"key":"1000","status":true,"errorMessage":null,"statusCode":200},{"key":"4","status":true,"errorMessage":null,"statusCode":200}]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '81'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://searchc45b1c02.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2020-06-30-Preview
  response:
    body:
      string: "\uFEFF9"
    headers:
      content-type:
      - text/plain
      elapsed-time:
      - '17'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://searchc45b1c02.search.windows.net/indexes('drgqefsg')/docs('1000')?api-version=2020-06-30-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time:
      - '22'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://searchc45b1c02.search.windows.net/indexes('drgqefsg')/docs('4')?api-version=2020-06-30-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time:
      - '4'
    status:
      code: 404
      message: Not Found
version: 1
