interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: POST
    uri: https://searche7b20da6.search.windows.net/synonymmaps?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche7b20da6.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D7E7B4F5B7F911\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '32'
      etag:
      - W/"0x8D7E7B4F5B7F911"
      location:
      - https://searche7b20da6.search.windows.net/synonymmaps('test-syn-map')?api-version=2019-05-06-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: GET
    uri: https://searche7b20da6.search.windows.net/synonymmaps?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche7b20da6.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D7E7B4F5B7F911\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America","encryptionKey":null}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '22'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "Washington, Wash.
      => WA"}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: PUT
    uri: https://searche7b20da6.search.windows.net/synonymmaps('test-syn-map')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche7b20da6.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D7E7B4F5CDA933\"","name":"test-syn-map","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '25'
      etag:
      - W/"0x8D7E7B4F5CDA933"
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: DELETE
    uri: https://searche7b20da6.search.windows.net/synonymmaps('test-syn-map')?api-version=2019-05-06-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time:
      - '18'
    status:
      code: 204
      message: No Content
version: 1
