interactions:
- request:
    body: '{"name": "test-ss", "description": "desc", "skills": [{"@odata.type": "#Microsoft.Skills.Text.EntityRecognitionSkill",
      "inputs": [{"name": "text", "source": "/document/content"}], "outputs": [{"name":
      "organizations", "targetName": "organizations"}]}]}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - DABF6CB43B698738C7939253D7A72E9F
    method: POST
    uri: https://search21f914e4.search.windows.net/skillsets?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search21f914e4.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8D7EBF284749492\"","name":"test-ss","description":"desc","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":null,"description":null,"context":null,"categories":[],"defaultLanguageCode":null,"minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '55'
      etag:
      - W/"0x8D7EBF284749492"
      location:
      - https://search21f914e4.search.windows.net/skillsets('test-ss')?api-version=2019-05-06-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "test-ss", "description": "updated", "skills": [{"@odata.type":
      "#Microsoft.Skills.Text.EntityRecognitionSkill", "inputs": [{"name": "text",
      "source": "/document/content"}], "outputs": [{"name": "organizations", "targetName":
      "organizations"}]}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      api-key:
      - DABF6CB43B698738C7939253D7A72E9F
    method: PUT
    uri: https://search21f914e4.search.windows.net/skillsets('test-ss')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search21f914e4.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8D7EBF2848EB0EC\"","name":"test-ss","description":"updated","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":null,"description":null,"context":null,"categories":[],"defaultLanguageCode":null,"minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '45'
      etag:
      - W/"0x8D7EBF2848EB0EC"
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"0x8D7EBF284749492"'
      api-key:
      - DABF6CB43B698738C7939253D7A72E9F
    method: DELETE
    uri: https://search21f914e4.search.windows.net/skillsets('test-ss')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"error":{"code":"","message":"The precondition given in one of the
        request headers evaluated to false. No change was made to the resource from
        this request."}}'
    headers:
      content-language:
      - en
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '14'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 412
      message: Precondition Failed
version: 1
