interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America\nWashington, Wash. => WA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searchfabb2026.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://searchfabb2026.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D91BB1D4DF343D\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '61'
      etag:
      - W/"0x8D91BB1D4DF343D"
      location:
      - https://searchfabb2026.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "W\na\ns\nh\ni\nn\ng\nt\no\nn\n,\n
      \nW\na\ns\nh\n.\n \n=\n>\n \nW\nA"}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://searchfabb2026.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://searchfabb2026.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D91BB1D4F1AE21\"","name":"test-syn-map","format":"solr","synonyms":"W\na\ns\nh\ni\nn\ng\nt\no\nn\n,\n
        \nW\na\ns\nh\n.\n \n=\n>\n \nW\nA","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '24'
      etag:
      - W/"0x8D91BB1D4F1AE21"
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"0x8D91BB1D4DF343D"'
    method: DELETE
    uri: https://searchfabb2026.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
  response:
    body:
      string: '{"error":{"code":"","message":"The precondition given in one of the
        request headers evaluated to false. No change was made to the resource from
        this request."}}'
    headers:
      content-language:
      - en
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '12'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 412
      message: Precondition Failed
version: 1
