interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - EC1F64A6D07AB016456D278C08E0D3A0
    method: POST
    uri: https://search2351151c.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search2351151c.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D7EC94379003F5\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '91'
      etag:
      - W/"0x8D7EC94379003F5"
      location:
      - https://search2351151c.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      api-key:
      - EC1F64A6D07AB016456D278C08E0D3A0
    method: GET
    uri: https://search2351151c.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search2351151c.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D7EC94379003F5\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America","encryptionKey":null}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '20'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "Washington, Wash.
      => WA"}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      api-key:
      - EC1F64A6D07AB016456D278C08E0D3A0
    method: PUT
    uri: https://search2351151c.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search2351151c.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D7EC9437A3416B\"","name":"test-syn-map","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '25'
      etag:
      - W/"0x8D7EC9437A3416B"
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      api-key:
      - EC1F64A6D07AB016456D278C08E0D3A0
    method: GET
    uri: https://search2351151c.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search2351151c.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D7EC9437A3416B\"","name":"test-syn-map","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '7'
      etag:
      - W/"0x8D7EC9437A3416B"
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
