interactions:
- request:
    body: null
    headers:
      api-key:
      - 60EC5C7635A4C22E1FB63E1654F5F9E6
    method: GET
    uri: https://searchf5ca0dfc.search.windows.net/indexes?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchf5ca0dfc.search.windows.net/$metadata#indexes","value":[{"@odata.etag":"\"0x8D7E637140B0913\"","name":"drgqefsg","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"synonymMaps":[]},{"name":"hotelName","type":"Edm.String","searchable":true,"filterable":true,"retrievable":true,"sortable":true,"facetable":false,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"synonymMaps":[]},{"name":"description","type":"Edm.String","searchable":true,"filterable":false,"retrievable":true,"sortable":false,"facetable":false,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":"en.lucene","synonymMaps":[]},{"name":"descriptionFr","type":"Edm.String","sear[...]
