interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America\nWashington, Wash. => WA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search53532449.search.windows.net/synonymmaps?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search53532449.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D96BF3F72DCC71\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '113'
      etag:
      - W/"0x8D96BF3F72DCC71"
      location:
      - https://search53532449.search.windows.net/synonymmaps('test-syn-map')?api-version=2021-04-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "Washington, Wash.
      => WA"}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://search53532449.search.windows.net/synonymmaps('test-syn-map')?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search53532449.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D96BF3F738F219\"","name":"test-syn-map","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '25'
      etag:
      - W/"0x8D96BF3F738F219"
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America\nWashington, Wash. => WA", "@odata.etag": "\"0x8D96BF3F72DCC71\""}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"0x8D96BF3F72DCC71"'
      Prefer:
      - return=representation
    method: PUT
    uri: https://search53532449.search.windows.net/synonymmaps('test-syn-map')?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"error":{"code":"","message":"The precondition given in one of the
        request headers evaluated to false. No change was made to the resource from
        this request."}}'
    headers:
      content-language:
      - en
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '10'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 412
      message: Precondition Failed
version: 1
