interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America\nWashington, Wash. => WA"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - 96E0D099D7A73EA0B9EF99B53F038E31
    method: POST
    uri: https://search2351151c.search.windows.net/synonymmaps?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search2351151c.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D7E7121DC19AFD\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '29'
      etag:
      - W/"0x8D7E7121DC19AFD"
      location:
      - https://search2351151c.search.windows.net/synonymmaps('test-syn-map')?api-version=2019-05-06-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      api-key:
      - 96E0D099D7A73EA0B9EF99B53F038E31
    method: GET
    uri: https://search2351151c.search.windows.net/synonymmaps?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search2351151c.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D7E7121DC19AFD\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '9'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      api-key:
      - 96E0D099D7A73EA0B9EF99B53F038E31
    method: DELETE
    uri: https://search2351151c.search.windows.net/synonymmaps('test-syn-map')?api-version=2019-05-06-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time:
      - '10'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      api-key:
      - 96E0D099D7A73EA0B9EF99B53F038E31
    method: GET
    uri: https://search2351151c.search.windows.net/synonymmaps?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search2351151c.search.windows.net/$metadata#synonymmaps","value":[]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '5'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
