interactions:
- request:
    body: '{"name": "test-syn-map-1", "format": "solr", "synonyms": "USA, United States,
      United States of America"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search43c51a2c.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search43c51a2c.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D91BB1F16A565A\"","name":"test-syn-map-1","format":"solr","synonyms":"USA,
        United States, United States of America","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '27'
      etag:
      - W/"0x8D91BB1F16A565A"
      location:
      - https://search43c51a2c.search.windows.net/synonymmaps('test-syn-map-1')?api-version=2020-06-30
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://search43c51a2c.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search43c51a2c.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D91BB1F16A565A\"","name":"test-syn-map-1","format":"solr","synonyms":"USA,
        United States, United States of America","encryptionKey":null},{"@odata.etag":"\"0x8D91BB1F17A37BC\"","name":"test-syn-map-2","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '15'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
