interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America\nWashington, Wash. => WA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search9ae91f0f.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search9ae91f0f.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D8EFCAB5DF6B7B\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '100'
      etag:
      - W/"0x8D8EFCAB5DF6B7B"
      location:
      - https://search9ae91f0f.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://search9ae91f0f.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search9ae91f0f.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D8EFCAB5DF6B7B\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '30'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "Washington, Wash.
      => WA"}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://search9ae91f0f.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search9ae91f0f.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D8EFCAB60EAAD6\"","name":"test-syn-map","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '18'
      etag:
      - W/"0x8D8EFCAB60EAAD6"
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://search9ae91f0f.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search9ae91f0f.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D8EFCAB60EAAD6\"","name":"test-syn-map","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '7'
      etag:
      - W/"0x8D8EFCAB60EAAD6"
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
