{
  "Entries": [
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/datasources?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sample-datasource-rhilshywii",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=fakestoragecs;AccountKey=FAKE;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "fakestoragecontainer"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "41",
        "ETag": "W/\u00220x8D9E04CC6EBD688\u0022",
        "Location": "https://fakesearchendpoint.search.windows.net/datasources(\u0027sample-datasource-rhilshywii\u0027)?api-version=2021-04-30-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D9E04CC6EBD688\u0022",
        "name": "sample-datasource-rhilshywii",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "fakestoragecontainer",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null,
        "identity": null
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2021-04-30-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "7",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers",
        "value": []
      }
    },
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers?api-version=2021-04-30-Preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sample-indexer-ibebivrodd",
        "dataSourceName": "sample-datasource-rhilshywii",
        "targetIndexName": "drgqefsg",
        "disabled": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "424",
        "ETag": "W/\u00220x8D9E04CC744E609\u0022",
        "Location": "https://fakesearchendpoint.search.windows.net/indexers(\u0027sample-indexer-ibebivrodd\u0027)?api-version=2021-04-30-Preview",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D9E04CC744E609\u0022",
        "name": "sample-indexer-ibebivrodd",
        "description": null,
        "dataSourceName": "sample-datasource-rhilshywii",
        "skillsetName": null,
        "targetIndexName": "drgqefsg",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027sample-indexer-ibebivrodd\u0027)?api-version=2021-04-30-Preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      },
      "RequestBody": {
        "name": "sample-indexer-ibebivrodd",
        "description": "updated",
        "dataSourceName": "sample-datasource-rhilshywii",
        "targetIndexName": "drgqefsg",
        "disabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "435",
        "ETag": "W/\u00220x8D9E04CC7C108CB\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D9E04CC7C108CB\u0022",
        "name": "sample-indexer-ibebivrodd",
        "description": "updated",
        "dataSourceName": "sample-datasource-rhilshywii",
        "skillsetName": null,
        "targetIndexName": "drgqefsg",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    },
[...]
    {
      "RequestUri": "https://fakesearchendpoint.search.windows.net/indexers(\u0027sample-indexer-ibebivrodd\u0027)?api-version=2021-04-30-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "6",
        "ETag": "W/\u00220x8D9E04CC7C108CB\u0022",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://fakesearchendpoint.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D9E04CC7C108CB\u0022",
        "name": "sample-indexer-ibebivrodd",
        "description": "updated",
        "dataSourceName": "sample-datasource-rhilshywii",
        "skillsetName": null,
        "targetIndexName": "drgqefsg",
        "disabled": false,
        "schedule": null,
        "parameters": null,
        "fieldMappings": [],
        "outputFieldMappings": [],
        "cache": null,
        "encryptionKey": null
      }
    }
  ],
  "Variables": {
    "datasource_name": "sample-datasource-rhilshywii",
    "indexer_name": "sample-indexer-ibebivrodd"
  }
}
