interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America\nWashington, Wash. => WA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search78271aec.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search78271aec.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D91BB1C3B02C62\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '31'
      etag:
      - W/"0x8D91BB1C3B02C62"
      location:
      - https://search78271aec.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://search78271aec.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search78271aec.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D91BB1C3B02C62\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '11'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://search78271aec.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
  response:
    body:
      string: ''
    headers:
      elapsed-time:
      - '140'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://search78271aec.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search78271aec.search.windows.net/$metadata#synonymmaps","value":[]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '5'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
