interactions:
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "retrievable": true, "searchable": false}, {"name": "baseRate",
      "type": "Edm.Double", "retrievable": true}], "scoringProfiles": [{"name": "MyProfile"}],
      "corsOptions": {"allowedOrigins": ["*"], "maxAgeInSeconds": 60}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search1f361943.search.windows.net/indexes?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search1f361943.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D911E7C972FEBB\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]},{"name":"baseRate","type":"Edm.Double","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]}],"scoringProfiles":[{"name":"MyProfile","functionAggregation":null,"text":null,"functions":[]}],"corsOptions":{"allowedOrigins":["*"],"maxAgeInSeconds":60},"suggesters":[],"analyzers":[],"normalizers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":{"@odata.type":"#Microsoft.Azure.Search.BM25Similarity","k1":null,"b":null}}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '808'
      etag:
      - W/"0x8D911E7C972FEBB"
      location:
      - https://search1f361943.search.windows.net/indexes('hotels')?api-version=2020-06-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "retrievable": true, "searchable": false}, {"name": "baseRate",
      "type": "Edm.Double", "retrievable": true}], "scoringProfiles": [], "corsOptions":
      {"allowedOrigins": ["*"], "maxAgeInSeconds": 60}}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://search1f361943.search.windows.net/indexes('hotels')?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search1f361943.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D911E7C99DE713\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]},{"name":"baseRate","type":"Edm.Double","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]}],"scoringProfiles":[],"corsOptions":{"allowedOrigins":["*"],"maxAgeInSeconds":60},"suggesters":[],"analyzers":[],"normalizers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":{"@odata.type":"#Microsoft.Azure.Search.BM25Similarity","k1":null,"b":null}}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '139'
      etag:
      - W/"0x8D911E7C99DE713"
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '"0x8D911E7C972FEBB"'
    method: DELETE
    uri: https://search1f361943.search.windows.net/indexes('hotels')?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"error":{"code":"","message":"The precondition given in one of the
        request headers evaluated to false. No change was made to the resource from
        this request."}}'
    headers:
      content-language:
      - en
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '15'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 412
      message: Precondition Failed
version: 1
