interactions:
- request:
    body: '{"value": [{"hotelId": "3", "@search.action": "delete"}, {"hotelId": "4",
      "@search.action": "delete"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searche0dc1c73.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"value":[{"key":"3","status":true,"errorMessage":null,"statusCode":200},{"key":"4","status":true,"errorMessage":null,"statusCode":200}]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '101'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://searche0dc1c73.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2021-04-30-Preview
  response:
    body:
      string: "\uFEFF8"
    headers:
      content-type:
      - text/plain
      elapsed-time:
      - '22'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://searche0dc1c73.search.windows.net/indexes('drgqefsg')/docs('3')?api-version=2021-04-30-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time:
      - '5'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://searche0dc1c73.search.windows.net/indexes('drgqefsg')/docs('4')?api-version=2021-04-30-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time:
      - '5'
    status:
      code: 404
      message: Not Found
version: 1
