interactions:
- request:
    body: '{"value": [{"hotelId": "1000", "rating": 5, "rooms": [], "hotelName": "Azure
      Inn", "@search.action": "upload"}, {"hotelId": "1001", "rating": 4, "rooms":
      [], "hotelName": "Redmond Hotel", "@search.action": "upload"}]}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: POST
    uri: https://searche7b20da6.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"value":[{"key":"1000","status":true,"errorMessage":null,"statusCode":201},{"key":"1001","status":true,"errorMessage":null,"statusCode":201}]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '61'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: GET
    uri: https://searche7b20da6.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2019-05-06-Preview
  response:
    body:
      string: "\uFEFF12"
    headers:
      content-type:
      - text/plain
      elapsed-time:
      - '105'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: GET
    uri: https://searche7b20da6.search.windows.net/indexes('drgqefsg')/docs('1000')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"hotelId":"1000","hotelName":"Azure Inn","description":null,"descriptionFr":null,"category":null,"tags":[],"parkingIncluded":null,"smokingAllowed":null,"lastRenovationDate":null,"rating":5,"location":null,"address":null,"rooms":[]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '9'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: GET
    uri: https://searche7b20da6.search.windows.net/indexes('drgqefsg')/docs('1001')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"hotelId":"1001","hotelName":"Redmond Hotel","description":null,"descriptionFr":null,"category":null,"tags":[],"parkingIncluded":null,"smokingAllowed":null,"lastRenovationDate":null,"rating":4,"location":null,"address":null,"rooms":[]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '4'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
