interactions:
- request:
    body: '{"search": "mot", "suggesterName": "sg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searche2a413b7.search.windows.net/indexes('drgqefsg')/docs/search.post.autocomplete?api-version=2020-06-30
  response:
    body:
      string: '{"value":[{"text":"motel","queryPlusText":"motel"}]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '193'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
