interactions:
- request:
    body: '{"name": "test-ss-1", "description": "desc1", "skills": [{"@odata.type":
      "#Microsoft.Skills.Text.EntityRecognitionSkill", "inputs": [{"name": "text",
      "source": "/document/content"}], "outputs": [{"name": "organizations", "targetName":
      "organizations"}]}]}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - 8B5A109F851B02CD2DBF3C4C91B03EAD
    method: POST
    uri: https://search138d0eea.search.windows.net/skillsets?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search138d0eea.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8D7E63692E386AC\"","name":"test-ss-1","description":"desc1","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":null,"description":null,"context":null,"categories":[],"defaultLanguageCode":null,"minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '124'
      etag:
      - W/"0x8D7E63692E386AC"
      location:
      - https://search138d0eea.search.windows.net/skillsets('test-ss-1')?api-version=2019-05-06-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      api-key:
      - 8B5A109F851B02CD2DBF3C4C91B03EAD
    method: GET
    uri: https://search138d0eea.search.windows.net/skillsets?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search138d0eea.search.windows.net/$metadata#skillsets","value":[{"@odata.etag":"\"0x8D7E63692E386AC\"","name":"test-ss-1","description":"desc1","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":"#1","description":null,"context":"/document","categories":["Person","Quantity","Organization","URL","Email","Location","DateTime"],"defaultLanguageCode":"en","minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null},{"@odata.etag":"\"0x8D7E63692F0F69A\"","name":"test-ss-2","description":"desc2","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":"#1","description":null,"context":"/document","categories":["Person","Quantity","Organization","URL","Email","Location","DateTime"],"defaultLanguageCode":"en","minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '91'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
