interactions:
- request:
    body: '{"search": "hotel"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search498015b5.search.windows.net/indexes('drgqefsg')/docs/search.post.search?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"value":[{"@search.score":2.245087,"hotelId":"10","hotelName":"Countryside
        Hotel","description":"Save up to 50% off traditional hotels.  Free WiFi, great
        location near downtown, full kitchen, washer & dryer, 24/7 support, bowling
        alley, fitness center and more.","descriptionFr":"\u00c9conomisez jusqu''\u00e0
        50% sur les h\u00f4tels traditionnels.  WiFi gratuit, tr\u00e8s bien situ\u00e9
        pr\u00e8s du centre-ville, cuisine compl\u00e8te, laveuse & s\u00e9cheuse,
        support 24/7, bowling, centre de fitness et plus encore.","category":"Budget","tags":["24-hour
        front desk service","coffee in lobby","restaurant"],"parkingIncluded":false,"smokingAllowed":true,"lastRenovationDate":"1999-09-06T00:00:00Z","rating":3,"location":{"type":"Point","coordinates":[-78.940483,35.90416],"crs":{"type":"name","properties":{"name":"EPSG:4326"}}},"address":{"streetAddress":"6910
        Fayetteville Rd","city":"Durham","stateProvince":"NC","country":"USA","postalCode":"27713"},"rooms":[{"description":"Suite,
        1 King Bed (Amenities)","descriptionFr":"Suite, 1 tr\u00e8s grand lit (Services)","type":"Suite","baseRate":2.44,"bedOptions":"1
        King Bed","sleepsCount":2,"smokingAllowed":true,"tags":["coffee maker"]},{"description":"Budget
        Room, 1 Queen Bed (Amenities)","descriptionFr":"Chambre \u00c9conomique, 1
        grand lit (Services)","type":"Budget Room","baseRate":7.69,"bedOptions":"1
        Queen Bed","sleepsCount":2,"smokingAllowed":false,"tags":["coffee maker"]}]},{"@search.score":1.778081,"hotelId":"3","hotelName":"EconoStay","description":"Very
        popular hotel in town","descriptionFr":"H\u00f4tel le plus populaire en ville","categ[...]
- request:
    body: '{"count": true, "search": "hotel"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search498015b5.search.windows.net/indexes('drgqefsg')/docs/search.post.search?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.count":7,"value":[{"@search.score":2.245087,"hotelId":"10","hotelName":"Countryside
        Hotel","description":"Save up to 50% off traditional hotels.  Free WiFi, great
        location near downtown, full kitchen, washer & [...]
