interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "connection_string"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searchb71c225d.search.windows.net/datasources?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchb71c225d.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D84B88AC866C9F\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '118'
      etag:
      - W/"0x8D84B88AC866C9F"
      location:
      - https://searchb71c225d.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "sample-datasource", "description": "updated", "type": "azureblob",
      "credentials": {"connectionString": "connection_string"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://searchb71c225d.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchb71c225d.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D84B88ACA12572\"","name":"sample-datasource","description":"updated","type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '53'
      etag:
      - W/"0x8D84B88ACA12572"
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
