interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "connection_string"}, "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searche35313ac.search.windows.net/datasources?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche35313ac.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D93C226B586BD4\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null,"identity":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '128'
      etag:
      - W/"0x8D93C226B586BD4"
      location:
      - https://searche35313ac.search.windows.net/datasources('sample-datasource')?api-version=2021-04-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "retrievable": true, "searchable": false}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searche35313ac.search.windows.net/indexes?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche35313ac.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D93C226C0C7E81\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]}],"scoringProfiles":[],"corsOptions":null,"suggesters":[],"analyzers":[],"normalizers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":{"@odata.type":"#Microsoft.Azure.Search.BM25Similarity","k1":null,"b":null}}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '798'
      etag:
      - W/"0x8D93C226C0C7E81"
      location:
      - https://searche35313ac.search.windows.net/indexes('hotels')?api-version=2021-04-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "sample-indexer", "dataSourceName": "sample-datasource", "targetIndexName":
      "hotels", "disabled": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searche35313ac.search.windows.net/indexers?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche35313ac.search.windows.net/$metadata#indexers/$entity","@odata.etag":"\"0x8D93C227E7E8F04\"","name":"sample-indexer","description":null,"dataSourceName":"sample-datasource","skillsetName":null,"targetIndexName":"hotels","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null,"encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '30730'
      etag:
      - W/"0x8D93C227E7E8F04"
      location:
      - https://searche35313ac.search.windows.net/indexers('sample-indexer')?api-version=2021-04-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://searche35313ac.search.windows.net/indexers('sample-indexer')?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche35313ac.search.windows.net/$metadata#indexers/$entity","@odata.etag":"\"0x8D93C227E7E8F04\"","name":"sample-indexer","description":null,"dataSourceName":"sample-datasource","skillsetName":null,"targetIndexName":"hotels","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null,"encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '23'
      etag:
      - W/"0x8D93C227E7E8F04"
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
