interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - 46DF28A1622AC6557E74984EDD9A64E7
    method: POST
    uri: https://search53532449.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search53532449.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D7ED71502253A0\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '36'
      etag:
      - W/"0x8D7ED71502253A0"
      location:
      - https://search53532449.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "Washington, Wash.
      => WA"}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      api-key:
      - 46DF28A1622AC6557E74984EDD9A64E7
    method: PUT
    uri: https://search53532449.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search53532449.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D7ED715031236D\"","name":"test-syn-map","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '16'
      etag:
      - W/"0x8D7ED715031236D"
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "[''USA, United
      States, United States of America'']", "@odata.etag": "\"0x8D7ED71502253A0\""}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"0x8D7ED71502253A0"'
      Prefer:
      - return=representation
      api-key:
      - 46DF28A1622AC6557E74984EDD9A64E7
    method: PUT
    uri: https://search53532449.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
  response:
    body:
      string: '{"error":{"code":"","message":"The precondition given in one of the
        request headers evaluated to false. No change was made to the resource from
        this request."}}'
    headers:
      content-language:
      - en
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '5'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 412
      message: Precondition Failed
version: 1
