interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "connection_string"}, "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search71b21e3c.search.windows.net/datasources?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search71b21e3c.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D96CBA26F7B616\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null,"identity":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '39'
      etag:
      - W/"0x8D96CBA26F7B616"
      location:
      - https://search71b21e3c.search.windows.net/datasources('sample-datasource')?api-version=2021-04-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "retrievable": true, "searchable": false}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search71b21e3c.search.windows.net/indexes?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search71b21e3c.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D96CBA277C8D9E\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]}],"scoringProfiles":[],"corsOptions":null,"suggesters":[],"analyzers":[],"normalizers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":{"@odata.type":"#Microsoft.Azure.Search.BM25Similarity","k1":null,"b":null}}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '662'
      etag:
      - W/"0x8D96CBA277C8D9E"
      location:
      - https://search71b21e3c.search.windows.net/indexes('hotels')?api-version=2021-04-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "sample-indexer", "dataSourceName": "sample-datasource", "targetIndexName":
      "hotels", "disabled": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search71b21e3c.search.windows.net/indexers?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search71b21e3c.search.windows.net/$metadata#indexers/$entity","@odata.etag":"\"0x8D96CBA28C3503E\"","name":"sample-indexer","description":null,"dataSourceName":"sample-datasource","skillsetName":null,"targetIndexName":"hotels","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null,"encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '2035'
      etag:
      - W/"0x8D96CBA28C3503E"
      location:
      - https://search71b21e3c.search.windows.net/indexers('sample-indexer')?api-version=2021-04-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "sample-indexer", "description": "updated", "dataSourceName":
      "sample-datasource", "targetIndexName": "hotels", "disabled": false}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://search71b21e3c.search.windows.net/indexers('sample-indexer')?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search71b21e3c.search.windows.net/$metadata#indexers/$entity","@odata.etag":"\"0x8D96CBA294C1FF3\"","name":"sample-indexer","description":"updated","dataSourceName":"sample-datasource","skillsetName":null,"targetIndexName":"hotels","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null,"encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '702'
      etag:
      - W/"0x8D96CBA294C1FF3"
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "sample-indexer", "description": "updated", "dataSourceName":
      "sample-datasource", "targetIndexName": "hotels", "disabled": false, "@odata.etag":
      "\"0x8D96CBA28C3503E\""}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"0x8D96CBA28C3503E"'
      Prefer:
      - return=representation
    method: PUT
    uri: https://search71b21e3c.search.windows.net/indexers('sample-indexer')?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"error":{"code":"","message":"The precondition given in one of the
        request headers evaluated to false. No change was made to the resource from
        this request."}}'
    headers:
      content-language:
      - en
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '9'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 412
      message: Precondition Failed
version: 1
