interactions:
- request:
    body: '{"filter": "category eq ''Budget''", "orderby": "hotelName desc", "search":
      "WiFi", "select": "hotelName,category,description"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search4943159f.search.windows.net/indexes('drgqefsg')/docs/search.post.search?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"value":[{"@search.score":1.0225849,"hotelName":"Express Rooms","description":"Pretty
        good hotel","category":"Budget"},{"@search.score":1.0225849,"hotelName":"EconoStay","description":"Very
        popular hotel in town","category":"Budget"},{"@search.score":2.3832736,"hotelName":"Countryside
        Hotel","description":"Save up to 50% off traditional hotels.  Free WiFi, great
        location near downtown, full kitchen, washer & dryer, 24/7 support, bowling
        alley, fitness center and more.","category":"Budget"},{"@search.score":1.0225849,"hotelName":"Comfy
        Place","description":"Another good hotel","category":"Budget"}]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '134'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
