interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "DefaultEndpointsProtocol=https;AccountName=storagename;AccountKey=NzhL3hKZbJBuJ2484dPTR+xF30kYaWSSCbs2BzLgVVI1woqeST/1IgqaLm6QAOTxtGvxctSNbIR/1hW8yH+bJg==;EndpointSuffix=core.windows.net"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - 6C051A73A19918FEDC9EFD419203F1C7
    method: POST
    uri: https://search32ba0fb3.search.windows.net/datasources?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search32ba0fb3.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D7EC94B2E20FAE\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '56'
      etag:
      - W/"0x8D7EC94B2E20FAE"
      location:
      - https://search32ba0fb3.search.windows.net/datasources('sample-datasource')?api-version=2019-05-06-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      api-key:
      - 6C051A73A19918FEDC9EFD419203F1C7
    method: GET
    uri: https://search32ba0fb3.search.windows.net/datasources?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search32ba0fb3.search.windows.net/$metadata#datasources","value":[{"@odata.etag":"\"0x8D7EC94B2ED837E\"","name":"another-sample","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null},{"@odata.etag":"\"0x8D7EC94B2E20FAE\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '18'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
