interactions:
- request:
    body: '{"text": "One''s <two/>", "analyzer": "standard.lucene"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: POST
    uri: https://searche7b20da6.search.windows.net/indexes('drgqefsg')/search.analyze?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche7b20da6.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06_Preview.AnalyzeResult","tokens":[{"token":"one''s","startOffset":0,"endOffset":5,"position":0},{"token":"two","startOffset":7,"endOffset":10,"position":1}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '47'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
