interactions:
- request:
    body: '{"search": "WiFi", "select": "hotelName,category,description"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - E708C0D55BDFCED551EEEFA491DAAF80
    method: POST
    uri: https://search8339118d.search.windows.net/indexes('drgqefsg')/docs/search.post.search?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"value":[{"@search.score":0.2423066,"hotelName":"Countryside Hotel","description":"Save
        up to 50% off traditional hotels.  Free WiFi, great location near downtown,
        full kitchen, washer & dryer, 24/7 support, bowling alley, fitness center
        and more.","category":"Budget"},{"@search.score":0.19169211,"hotelName":"EconoStay","description":"Very
        popular hotel in town","category":"Budget"},{"@search.score":0.19169211,"hotelName":"Express
        Rooms","description":"Pretty good hotel","category":"Budget"},{"@search.score":0.19169211,"hotelName":"Comfy
        Place","description":"Another good hotel","category":"Budget"},{"@search.score":0.15335369,"hotelName":"Fancy
        Stay","description":"Best hotel in town if you like luxury hotels. They have
        an amazing infinity pool, a spa, and a really helpful concierge. The location
        is perfect -- right downtown, close to all the tourist attractions. We highly
        recommend this hotel.","category":"Luxury"}]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '176'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
