interactions:
- request:
    body: '{"search": "mot", "suggesterName": "sg"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - AE8D684F8B07A67E43EB160C1A508354
    method: POST
    uri: https://searche7b20da6.search.windows.net/indexes('drgqefsg')/docs/search.post.autocomplete?api-version=2020-06-30
  response:
    body:
      string: '{"value":[{"text":"motel","queryPlusText":"motel"}]}'
    headers:
      content-type:
      - application/json; odata.metadata=none
      elapsed-time:
      - '184'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
