interactions:
- request:
    body: null
    headers:
      api-key:
      - 1E12546DB8708BF81E371E8B6177BDB5
    method: GET
    uri: https://searchda450d24.search.windows.net/indexes('drgqefsg')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchda450d24.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D7D0456F49519D\"","name":"drgqefsg","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"synonymMaps":[]},{"name":"hotelName","type":"Edm.String","searchable":true,"filterable":true,"retrievable":true,"sortable":true,"facetable":false,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"synonymMaps":[]},{"name":"description","type":"Edm.String","searchable":true,"filterable":false,"retrievable":true,"sortable":false,"facetable":false,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":"en.lucene","synonymMaps":[]},{"name":"descriptionFr","type":"Edm.String","sear[...]
