interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "DefaultEndpointsProtocol=https;AccountName=storagename;AccountKey=NzhL3hKZbJBuJ2484dPTR+xF30kYaWSSCbs2BzLgVVI1woqeST/1IgqaLm6QAOTxtGvxctSNbIR/1hW8yH+bJg==;EndpointSuffix=core.windows.net"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search54bc1a2e.search.windows.net/datasources?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search54bc1a2e.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D911E7359941F9\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '80'
      etag:
      - W/"0x8D911E7359941F9"
      location:
      - https://search54bc1a2e.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
version: 1
