interactions:
- request:
    body: 'b''{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "connection_string"}, "container": {"name": "searchcontainer"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searchf8231428.search.windows.net/datasources?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchf8231428.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D7ED5146AB7BFE\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '78'
      etag:
      - W/"0x8D7ED5146AB7BFE"
      location:
      - https://searchf8231428.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "searchable": false}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searchf8231428.search.windows.net/indexes?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchf8231428.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D7ED5147408421\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"synonymMaps":[]}],"scoringProfiles":[],"corsOptions":null,"suggesters":[],"analyzers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '501'
      etag:
      - W/"0x8D7ED5147408421"
      location:
      - https://searchf8231428.search.windows.net/indexes('hotels')?api-version=2020-06-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "sample-indexer", "dataSourceName": "sample-datasource", "targetIndexName":
      "hotels", "disabled": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searchf8231428.search.windows.net/indexers?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchf8231428.search.windows.net/$metadata#indexers/$entity","@odata.etag":"\"0x8D7ED51489A5F94\"","name":"sample-indexer","description":null,"dataSourceName":"sample-datasource","skillsetName":null,"targetIndexName":"hotels","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '168'
      etag:
      - W/"0x8D7ED51489A5F94"
      location:
      - https://searchf8231428.search.windows.net/indexers('sample-indexer')?api-version=2020-06-30-Preview
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://searchf8231428.search.windows.net/indexers?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchf8231428.search.windows.net/$metadata#indexers","value":[{"@odata.etag":"\"0x8D7ED5148C94048\"","name":"another-indexer","description":null,"dataSourceName":"another-datasource","skillsetName":null,"targetIndexName":"another-index","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null},{"@odata.etag":"\"0x8D7ED51489A5F94\"","name":"sample-indexer","description":null,"dataSourceName":"sample-datasource","skillsetName":null,"targetIndexName":"hotels","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null}]}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '33'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
