interactions:
- request:
    body: null
    headers:
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: GET
    uri: https://searche7b20da6.search.windows.net/servicestats?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche7b20da6.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06_Preview.ServiceStatistics","counters":{"documentCount":{"usage":0,"quota":null},"indexesCount":{"usage":0,"quota":3},"indexersCount":{"usage":0,"quota":3},"dataSourcesCount":{"usage":0,"quota":3},"storageSize":{"usage":0,"quota":52428800},"synonymMaps":{"usage":0,"quota":3},"skillsetCount":{"usage":0,"quota":3}},"limits":{"maxFieldsPerIndex":1000,"maxFieldNestingDepthPerIndex":10,"maxComplexCollectionFieldsPerIndex":40,"maxComplexObjectsInCollectionsPerDocument":3000}}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      elapsed-time:
      - '114'
      odata-version:
      - '4.0'
      preference-applied:
      - odata.include-annotations="*"
    status:
      code: 200
      message: OK
version: 1
