{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_359456258185/versions/1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the command component with input/output types of path",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "command": "cp ${{inputs.component_in_file}} ${{outputs.component_out_file}}\ncp -r ${{inputs.component_in_folder}} ${{outputs.component_out_folder}}\necho \u0022${{inputs.component_in_path}} is a path\u0022\n",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "test_359456258185",
            "description": "This is the command component with input/output types of path",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentPathInputOutputs",
            "is_deterministic": true,
            "inputs": {
              "component_in_file": {
                "type": "uri_file"
              },
              "component_in_folder": {
                "type": "uri_folder"
              },
              "component_in_path": {
                "type": "path"
              }
            },
            "outputs": {
              "component_out_file": {
                "type": "uri_file"
              },
              "component_out_folder": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_359456258185/versions/1?api-version=2022-10-01",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1180",
        "x-ms-response-type": "standard",
        "x-request-time": "1.514"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_359456258185/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "componentSpec": {
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "name": "test_359456258185",
            "version": "1",
            "display_name": "CommandComponentPathInputOutputs",
            "is_deterministic": "True",
            "type": "command",
            "description": "This is the command component with input/output types of path",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "inputs": {
              "component_in_file": {
                "type": "uri_file",
                "optional": "False"
              },
              "component_in_folder": {
                "type": "uri_folder",
                "optional": "False"
              },
              "component_in_path": {
                "type": "path",
                "optional": "False"
              }
            },
            "outputs": {
              "component_out_file": {
                "type": "uri_file"
              },
              "component_out_folder": {
                "type": "uri_folder"
              }
            },
            "environment": "azureml://registries/azureml-dev/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/versions/33",
            "resources": {
              "instance_count": "1"
            },
            "command": "cp ${{inputs.component_in_file}} ${{outputs.component_out_file}}\ncp -r ${{inputs.component_in_folder}} ${{outputs.component_out_folder}}\necho \u0022${{inputs.component_in_path}} is a path\u0022\n"
          }
        },
        "systemData": {
          "createdAt": "2023-04-13T23:16:07.9648999\u002B00:00",
          "createdBy": "Diondra Peck",
          "createdByType": "User",
          "lastModifiedAt": "2023-04-13T23:16:08.4619814\u002B00:00",
          "lastModifiedBy": "Diondra Peck",
          "lastModifiedByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "component_name": "test_359456258185"
  }
}
