interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Storage%20Account%20Key%20Operator%20Service%20Role%27&api-version=2018-01-01-preview
  response:
    body: {string: '{"value":[{"properties":{"roleName":"Storage Account Key Operator
        Service Role","type":"BuiltInRole","description":"Storage Account Key Operators
        are allowed to list and regenerate keys on Storage Accounts","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Storage/storageAccounts/listkeys/action","Microsoft.Storage/storageAccounts/regeneratekey/action"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2017-04-13T18:26:11.5770570Z","updatedOn":"2017-04-13T20:57:14.5990198Z","createdBy":null,"updatedBy":null},"id":"/providers/Microsoft.Authorization/roleDefinitions/81a9662b-bebf-436f-a333-f67b29880f12","type":"Microsoft.Authorization/roleDefinitions","name":"81a9662b-bebf-436f-a333-f67b29880f12"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-request-charge: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"roleDefinitionId": "/providers/Microsoft.Authorization/roleDefinitions/81a9662b-bebf-436f-a333-f67b29880f12",
      "principalId": "93c27d83-f79b-4cb2-8dd4-4aa716542e74"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_test_e2e5fab085e/providers/Microsoft.Storage/storageAccounts/kvsa15fab085e/providers/Microsoft.Authorization/roleAssignments/d7607bd3-a467-4a14-ab5f-f4b016ffbfff?api-version=2018-01-01-preview
  response:
    body: {string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/81a9662b-bebf-436f-a333-f67b29880f12","principalId":"93c27d83-f79b-4cb2-8dd4-4aa716542e74","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_test_e2e5fab085e/providers/Microsoft.Storage/storageAccounts/kvsa15fab085e","createdOn":"2018-06-22T17:23:06.4108913Z","updatedOn":"2018-06-22T17:23:06.4108913Z","createdBy":null,"updatedBy":"00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_test_e2e5fab085e/providers/Microsoft.Storage/storageAccounts/kvsa15fab085e/providers/Microsoft.Authorization/roleAssignments/d7607bd3-a467-4a14-ab5f-f4b016ffbfff","type":"Microsoft.Authorization/roleAssignments","name":"d7607bd3-a467-4a14-ab5f-f4b016ffbfff"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
      x-ms-request-charge: ['5']
    status: {code: 201, message: Created}
- request:
    body: ''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e?api-version=7.0
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: 'b''b\''{"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_test_e2e5fab085e/providers/Microsoft.Storage/storageAccounts/kvsa15fab085e",
      "activeKeyName": "key1", "autoRegenerateKey": true, "regenerationPeriod": "P30D",
      "attributes": {"enabled": true}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e?api-version=7.0
  response:
    body: {string: '{"id":"https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_test_e2e5fab085e/providers/Microsoft.Storage/storageAccounts/kvsa15fab085e","activeKeyName":"key1","autoRegenerateKey":true,"regenerationPeriod":"P30D","attributes":{"enabled":true,"created":1529688194,"updated":1529688194,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"keyName": "key1"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e/regeneratekey?api-version=7.0
  response:
    body: {string: '{"id":"https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_test_e2e5fab085e/providers/Microsoft.Storage/storageAccounts/kvsa15fab085e","activeKeyName":"key1","autoRegenerateKey":true,"regenerationPeriod":"P30D","attributes":{"enabled":true,"created":1529688196,"updated":1529688196,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"templateUri": "se=2020-01-01&sp=acdlpruw&sv=2017-07-29&ss=bfqt&srt=sco&sig=YWdFIAQJDor%2B8o/PGcC3XhdPtvsIQFoVcsmDXUO%2BQkg%3D",
      "sasType": "account", "validityPeriod": "PT2H", "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e/sas/acctall?api-version=7.0
  response:
    body: {string: '{"id":"https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e/sas/acctall","sid":"https://vault5fab085e.vault.azure.net/secrets/kvsa15fab085e-acctall","templateUri":"se=2020-01-01&sp=acdlpruw&sv=2017-07-29&ss=bfqt&srt=sco&sig=YWdFIAQJDor%2B8o/PGcC3XhdPtvsIQFoVcsmDXUO%2BQkg%3D","sasType":"account","validityPeriod":"PT2H","attributes":{"enabled":true,"created":1529688196,"updated":1529688196,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vault5fab085e.vault.azure.net/secrets/kvsa15fab085e-acctall/?api-version=7.0
  response:
    body: {string: '{"value":"?sv=2017-07-29&ss=bfqt&srt=sco&sp=acdlpruw&se=2018-06-22T19:23:17Z&sig=fa4mkeNzAfSg8SHPL1f4MlCRqwfcqBYMXwaZoecoteY%3D","contentType":"application/vnd.ms-sastoken-storage","id":"https://vault5fab085e.vault.azure.net/secrets/kvsa15fab085e-acctall","managed":true,"attributes":{"enabled":true,"exp":1529695397,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Jun 2018 17:23:17 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://kvsa15fab085e.blob.core.windows.net/blobcontainer?sv=2017-07-29&ss=bfqt&srt=sco&sp=acdlpruw&se=2018-06-22T19:23:17Z&sig=fa4mkeNzAfSg8SHPL1f4MlCRqwfcqBYMXwaZoecoteY%3D&restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5D864D84469F3"']
      last-modified: ['Fri, 22 Jun 2018 17:23:17 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: test blob1 data
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Fri, 22 Jun 2018 17:23:18 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://kvsa15fab085e.blob.core.windows.net/blobcontainer/blob1?sv=2017-07-29&ss=bfqt&srt=sco&sp=acdlpruw&se=2018-06-22T19:23:17Z&sig=fa4mkeNzAfSg8SHPL1f4MlCRqwfcqBYMXwaZoecoteY%3D
  response:
    body: {string: ''}
    headers:
      content-md5: [nTqGDfAnfDtU7tyJ8UJqKA==]
      etag: ['"0x8D5D864D86E755B"']
      last-modified: ['Fri, 22 Jun 2018 17:23:18 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '{"templateUri": "https://kvsa15fab085e.blob.core.windows.net/blobcontainer?restype=container&se=2020-01-01&sp=rwdl&sv=2017-07-29&sr=c&sig=0RaJgVOfs0vJD7ZTqiQgjBhaZ4a425P1uNUn1SNhtWY%3D",
      "sasType": "service", "validityPeriod": "PT2H", "attributes": {"enabled": true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e/sas/blobcontall?api-version=7.0
  response:
    body: {string: '{"id":"https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e/sas/blobcontall","sid":"https://vault5fab085e.vault.azure.net/secrets/kvsa15fab085e-blobcontall","templateUri":"https://kvsa15fab085e.blob.core.windows.net/blobcontainer?restype=container&se=2020-01-01&sp=rwdl&sv=2017-07-29&sr=c&sig=0RaJgVOfs0vJD7ZTqiQgjBhaZ4a425P1uNUn1SNhtWY%3D","sasType":"service","validityPeriod":"PT2H","attributes":{"enabled":true,"created":1529688198,"updated":1529688198,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vault5fab085e.vault.azure.net/secrets/kvsa15fab085e-blobcontall/?api-version=7.0
  response:
    body: {string: '{"value":"?sv=2017-07-29&sr=c&sp=rwdl&se=2018-06-22T19%3A23%3A19Z&sig=CbzfQHOxMs%2B4h43BudpoJw4IpoFsZwTgqYJrZEjaquc%3D","contentType":"application/vnd.ms-sastoken-storage","id":"https://vault5fab085e.vault.azure.net/secrets/kvsa15fab085e-blobcontall","managed":true,"attributes":{"enabled":true,"exp":1529695399,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: test blob2 data
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Fri, 22 Jun 2018 17:23:19 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://kvsa15fab085e.blob.core.windows.net/blobcontainer/blob2?sv=2017-07-29&sr=c&sp=rwdl&se=2018-06-22T19%3A23%3A19Z&sig=CbzfQHOxMs%2B4h43BudpoJw4IpoFsZwTgqYJrZEjaquc%3D
  response:
    body: {string: ''}
    headers:
      content-md5: [862XuMyOsyybSzYVY9l8xg==]
      etag: ['"0x8D5D864D95D55F3"']
      last-modified: ['Fri, 22 Jun 2018 17:23:19 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Jun 2018 17:23:19 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://kvsa15fab085e.blob.core.windows.net/blobcontainer?sv=2017-07-29&sr=c&sp=rwdl&se=2018-06-22T19%3A23%3A19Z&sig=CbzfQHOxMs%2B4h43BudpoJw4IpoFsZwTgqYJrZEjaquc%3D&restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://kvsa15fab085e.blob.core.windows.net/\" ContainerName=\"\
        blobcontainer\"><Blobs><Blob><Name>blob1</Name><Properties><Last-Modified>Fri,\
        \ 22 Jun 2018 17:23:18 GMT</Last-Modified><Etag>0x8D5D864D86E755B</Etag><Content-Length>15</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>nTqGDfAnfDtU7tyJ8UJqKA==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob2</Name><Properties><Last-Modified>Fri,\
        \ 22 Jun 2018 17:23:19 GMT</Last-Modified><Etag>0x8D5D864D95D55F3</Etag><Content-Length>15</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>862XuMyOsyybSzYVY9l8xg==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Jun 2018 17:23:20 GMT']
      x-ms-version: ['2017-07-29']
    method: DELETE
    uri: https://kvsa15fab085e.blob.core.windows.net/blobcontainer/blob1?sv=2017-07-29&sr=c&sp=rwdl&se=2018-06-22T19%3A23%3A19Z&sig=CbzfQHOxMs%2B4h43BudpoJw4IpoFsZwTgqYJrZEjaquc%3D
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e/sas?maxresults=5&api-version=7.0
  response:
    body: {string: '{"value":[{"id":"https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e/sas/acctall","sid":"https://vault5fab085e.vault.azure.net/secrets/kvsa15fab085e-acctall","attributes":{"enabled":true,"created":1529688196,"updated":1529688196,"recoveryLevel":"Purgeable"}},{"id":"https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e/sas/blobcontall","sid":"https://vault5fab085e.vault.azure.net/secrets/kvsa15fab085e-blobcontall","attributes":{"enabled":true,"created":1529688198,"updated":1529688198,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e/sas/acctall?api-version=7.0
  response:
    body: {string: '{"id":"https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e/sas/acctall","sid":"https://vault5fab085e.vault.azure.net/secrets/kvsa15fab085e-acctall","templateUri":"se=2020-01-01&sp=acdlpruw&sv=2017-07-29&ss=bfqt&srt=sco&sig=YWdFIAQJDor%2B8o/PGcC3XhdPtvsIQFoVcsmDXUO%2BQkg%3D","sasType":"account","validityPeriod":"PT2H","attributes":{"enabled":true,"created":1529688196,"updated":1529688196,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e/sas/blobcontall?api-version=7.0
  response:
    body: {string: '{"id":"https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e/sas/blobcontall","sid":"https://vault5fab085e.vault.azure.net/secrets/kvsa15fab085e-blobcontall","templateUri":"https://kvsa15fab085e.blob.core.windows.net/blobcontainer?restype=container&se=2020-01-01&sp=rwdl&sv=2017-07-29&sr=c&sig=0RaJgVOfs0vJD7ZTqiQgjBhaZ4a425P1uNUn1SNhtWY%3D","sasType":"service","validityPeriod":"PT2H","attributes":{"enabled":true,"created":1529688198,"updated":1529688198,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e?api-version=7.0
  response:
    body: {string: '{"id":"https://vault5fab085e.vault.azure.net/storage/kvsa15fab085e","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_storage_test_e2e5fab085e/providers/Microsoft.Storage/storageAccounts/kvsa15fab085e","activeKeyName":"key1","autoRegenerateKey":true,"regenerationPeriod":"P30D","attributes":{"enabled":true,"created":1529688196,"updated":1529688196,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
