interactions:
- request:
    body: '{"value": "secValce470cfa"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultce470cfa.vault.azure.net/secrets/secce470cfa?api-version=7.0
  response:
    body: {string: '{"value":"secValce470cfa","id":"https://vaultce470cfa.vault.azure.net/secrets/secce470cfa/fdb3084c5f2648a6a09e8aa4eb312c1e","attributes":{"enabled":true,"created":1529689151,"updated":1529689151,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vaultce470cfa.vault.azure.net/secrets/secce470cfa/versions?api-version=7.0
  response:
    body: {string: '{"value":[{"id":"https://vaultce470cfa.vault.azure.net/secrets/secce470cfa/c776d812a166488a8f46aaec9e02ef6a","attributes":{"enabled":true,"created":1529689151,"updated":1529689151,"recoveryLevel":"Purgeable"}},{"id":"https://vaultce470cfa.vault.azure.net/secrets/secce470cfa/fdb3084c5f2648a6a09e8aa4eb312c1e","attributes":{"enabled":true,"created":1529689151,"updated":1529689151,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
