interactions:
- request:
    body: '{"value": "crud_secret_value5346109c"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault5346109c.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body: {string: '{"value":"crud_secret_value5346109c","id":"https://vault5346109c.vault.azure.net/secrets/crud-secret/94d0bfd2f17f4178831f265a7cd07615","attributes":{"enabled":true,"created":1529689303,"updated":1529689303,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vault5346109c.vault.azure.net/secrets/crud-secret/?api-version=7.0
  response:
    body: {string: '{"value":"crud_secret_value5346109c","id":"https://vault5346109c.vault.azure.net/secrets/crud-secret/94d0bfd2f17f4178831f265a7cd07615","attributes":{"enabled":true,"created":1529689303,"updated":1529689303,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vault5346109c.vault.azure.net/secrets/crud-secret/94d0bfd2f17f4178831f265a7cd07615?api-version=7.0
  response:
    body: {string: '{"value":"crud_secret_value5346109c","id":"https://vault5346109c.vault.azure.net/secrets/crud-secret/94d0bfd2f17f4178831f265a7cd07615","attributes":{"enabled":true,"created":1529689303,"updated":1529689303,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"contentType": "text/plain", "attributes": {"enabled": true, "exp": 2527401600},
      "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://vault5346109c.vault.azure.net/secrets/crud-secret/94d0bfd2f17f4178831f265a7cd07615?api-version=7.0
  response:
    body: {string: '{"contentType":"text/plain","id":"https://vault5346109c.vault.azure.net/secrets/crud-secret/94d0bfd2f17f4178831f265a7cd07615","attributes":{"enabled":true,"exp":2527401600,"created":1529689303,"updated":1529689306,"recoveryLevel":"Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vault5346109c.vault.azure.net/secrets/crud-secret/?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Secret not found:
        crud-secret"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
version: 1
