interactions:
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "attributes": {"enabled": true, "exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault257c152b.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/5166b2b9aa8740cfa14439ce9eff882e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"t43WBx7fbkRcoJyEyVvXoYL8uTP3Hf776U828mIOaDRRSTR0b3wHH55z_t6FgiEqCsSImndacKN9JH6_5ey_VK4i7_P4h0cbMdlK9AZDSaVpydKXlT7L2O5DaoAvRJIVWDCfBoglx6wObd59cJ2tHdfBYmfsww4XSPdm7LlUiP0eaR7pDNZQuLizhfR07N2-Xq-fGTNbR7rtpvWIlM6eHERn22b29xoX-tf-R9xHg0EbRSRdgD8JkQsvojiq-OBu-hknNk9-N5ebH33dcqg-TTMNCPqzydoUNtVu1ZzygLq2v6LtmNbVp653w_2wZSgYbqHsfKdoa7TyCG1vfbQMkQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1557446505,"updated":1557446505,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault257c152b.vault.azure.net/keys/key-name/5166b2b9aa8740cfa14439ce9eff882e?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/5166b2b9aa8740cfa14439ce9eff882e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"t43WBx7fbkRcoJyEyVvXoYL8uTP3Hf776U828mIOaDRRSTR0b3wHH55z_t6FgiEqCsSImndacKN9JH6_5ey_VK4i7_P4h0cbMdlK9AZDSaVpydKXlT7L2O5DaoAvRJIVWDCfBoglx6wObd59cJ2tHdfBYmfsww4XSPdm7LlUiP0eaR7pDNZQuLizhfR07N2-Xq-fGTNbR7rtpvWIlM6eHERn22b29xoX-tf-R9xHg0EbRSRdgD8JkQsvojiq-OBu-hknNk9-N5ebH33dcqg-TTMNCPqzydoUNtVu1ZzygLq2v6LtmNbVp653w_2wZSgYbqHsfKdoa7TyCG1vfbQMkQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1557446505,"updated":1557446505,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault257c152b.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/5166b2b9aa8740cfa14439ce9eff882e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"t43WBx7fbkRcoJyEyVvXoYL8uTP3Hf776U828mIOaDRRSTR0b3wHH55z_t6FgiEqCsSImndacKN9JH6_5ey_VK4i7_P4h0cbMdlK9AZDSaVpydKXlT7L2O5DaoAvRJIVWDCfBoglx6wObd59cJ2tHdfBYmfsww4XSPdm7LlUiP0eaR7pDNZQuLizhfR07N2-Xq-fGTNbR7rtpvWIlM6eHERn22b29xoX-tf-R9xHg0EbRSRdgD8JkQsvojiq-OBu-hknNk9-N5ebH33dcqg-TTMNCPqzydoUNtVu1ZzygLq2v6LtmNbVp653w_2wZSgYbqHsfKdoa7TyCG1vfbQMkQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1557446505,"updated":1557446505,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault257c152b.vault.azure.net/keys/key-name/5166b2b9aa8740cfa14439ce9eff882e?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/5166b2b9aa8740cfa14439ce9eff882e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"t43WBx7fbkRcoJyEyVvXoYL8uTP3Hf776U828mIOaDRRSTR0b3wHH55z_t6FgiEqCsSImndacKN9JH6_5ey_VK4i7_P4h0cbMdlK9AZDSaVpydKXlT7L2O5DaoAvRJIVWDCfBoglx6wObd59cJ2tHdfBYmfsww4XSPdm7LlUiP0eaR7pDNZQuLizhfR07N2-Xq-fGTNbR7rtpvWIlM6eHERn22b29xoX-tf-R9xHg0EbRSRdgD8JkQsvojiq-OBu-hknNk9-N5ebH33dcqg-TTMNCPqzydoUNtVu1ZzygLq2v6LtmNbVp653w_2wZSgYbqHsfKdoa7TyCG1vfbQMkQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1557446505,"updated":1557446506,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault257c152b.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault257c152b.vault.azure.net/deletedkeys/key-name","deletedDate":1557446506,"scheduledPurgeDate":1565222506,"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/5166b2b9aa8740cfa14439ce9eff882e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"t43WBx7fbkRcoJyEyVvXoYL8uTP3Hf776U828mIOaDRRSTR0b3wHH55z_t6FgiEqCsSImndacKN9JH6_5ey_VK4i7_P4h0cbMdlK9AZDSaVpydKXlT7L2O5DaoAvRJIVWDCfBoglx6wObd59cJ2tHdfBYmfsww4XSPdm7LlUiP0eaR7pDNZQuLizhfR07N2-Xq-fGTNbR7rtpvWIlM6eHERn22b29xoX-tf-R9xHg0EbRSRdgD8JkQsvojiq-OBu-hknNk9-N5ebH33dcqg-TTMNCPqzydoUNtVu1ZzygLq2v6LtmNbVp653w_2wZSgYbqHsfKdoa7TyCG1vfbQMkQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1557446505,"updated":1557446506,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
