interactions:
- request:
    body: ''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde?api-version=7.0-preview
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"value": "secval0cdc10cde"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde?api-version=7.0-preview
  response:
    body: {string: '{"value":"secval0cdc10cde","id":"https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde/b4a7d5366bf248708fff11daaf36f8ac","attributes":{"enabled":true,"created":1526658372,"updated":1526658372,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"value": "secval0cdc10cde"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultcdc10cde.vault.azure.net/secrets/secprg0cdc10cde?api-version=7.0-preview
  response:
    body: {string: '{"value":"secval0cdc10cde","id":"https://vaultcdc10cde.vault.azure.net/secrets/secprg0cdc10cde/c6b3ae1b1f93464eb2b84b10436ccbc8","attributes":{"enabled":true,"created":1526658373,"updated":1526658373,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde?api-version=7.0-preview
  response:
    body: {string: '{"recoveryId":"https://vaultcdc10cde.vault.azure.net/deletedsecrets/secrec0cdc10cde","deletedDate":1526658374,"scheduledPurgeDate":1534434374,"id":"https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde/b4a7d5366bf248708fff11daaf36f8ac","attributes":{"enabled":true,"created":1526658372,"updated":1526658372,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vaultcdc10cde.vault.azure.net/deletedsecrets?api-version=7.0-preview
  response:
    body: {string: '{"value":[{"recoveryId":"https://vaultcdc10cde.vault.azure.net/deletedsecrets/secprg0cdc10cde","deletedDate":1526658375,"scheduledPurgeDate":1534434375,"id":"https://vaultcdc10cde.vault.azure.net/secrets/secprg0cdc10cde","attributes":{"enabled":true,"created":1526658373,"u[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vaultcdc10cde.vault.azure.net/deletedsecrets/secrec0cdc10cde/recover?api-version=7.0-preview
  response:
    body: {string: '{"id":"https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde/b4a7d5366bf248708fff11daaf36f8ac","attributes":{"enabled":true,"created":1526658372,"updated":1526658372,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://vaultcdc10cde.vault.azure.net/deletedsecrets/secprg0cdc10cde?api-version=7.0-preview
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vaultcdc10cde.vault.azure.net/deletedsecrets?api-version=7.0-preview
  response:
    body: {string: '{"value":[],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde/?api-version=7.0-preview
  response:
    body: {string: '{"value":"secval0cdc10cde","id":"https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde/b4a7d5366bf248708fff11daaf36f8ac","attributes":{"enabled":true,"created":1526658372,"updated":1526658372,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vaultcdc10cde.vault.azure.net/secrets/secrec1cdc10cde/?api-version=7.0-preview
  response:
    body: {string: '{"value":"secval1cdc10cde","id":"https://vaultcdc10cde.vault.azure.net/secrets/secrec1cdc10cde/dd64c3af95ae44fa8bd29c8d478ccd8a","attributes":{"enabled":true,"created":1526658373,"updated":1526658373,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
