interactions:
- request:
    body: '{"value": "secval0cdc10cde", "attributes": {}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde?api-version=7.0
  response:
    body: {string: '{"value":"secval0cdc10cde","id":"https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde/353dd4e3f8404e909397ccc6e04922e7","attributes":{"enabled":true,"created":1555434103,"updated":1555434103,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"value": "secval0cdc10cde", "attributes": {}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultcdc10cde.vault.azure.net/secrets/secprg0cdc10cde?api-version=7.0
  response:
    body: {string: '{"value":"secval0cdc10cde","id":"https://vaultcdc10cde.vault.azure.net/secrets/secprg0cdc10cde/9584574c17454c19914a3ea20df7c9e5","attributes":{"enabled":true,"created":1555434104,"updated":1555434104,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vaultcdc10cde.vault.azure.net/deletedsecrets/secrec0cdc10cde","deletedDate":1555434105,"scheduledPurgeDate":1563210105,"id":"https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde/353dd4e3f8404e909397ccc6e04922e7","attributes":{"enabled":true,"created":1555434103,"updated":1555434103,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultcdc10cde.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vaultcdc10cde.vault.azure.net/deletedsecrets/secprg0cdc10cde","deletedDate":1555434106,"scheduledPurgeDate":1563210106,"id":"https://vaultcdc10cde.vault.azure.net/secrets/secprg0cdc10cde","attributes":{"enabled":true,"created":1555434104,"updated":1555434104,"recoveryLevel":"Recoverable+Purgeable"}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultcdc10cde.vault.azure.net/deletedsecrets?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMzIhTURBd01EVTFJWE5sWTNKbGRDOVRSVU5TUlVNMVEwUkRNVEJEUkVVdlJFRXlRVFpHTVRneVFUYzVORVV6UWtFMlFqVTJOMFpFUTBWR01USTBRVEVoTURBd01ESTRJVGs1T1RrdE1USXRNekZVTWpNNk5UazZOVGt1T1RrNU9UazVPVm9oIiwiVGFyZ2V0TG9jYXRpb24iOjB9
  response:
    body: {string: '{"value":[{"recoveryId":"https://vaultcdc10cde.vault.azure.net/deletedsecrets/secrec6cdc10cde","deletedDate":1555434106,"scheduledPurgeDate":1563210106,"id":"https://vaultcdc10cde.vault.azure.net/secrets/secrec6cdc10cde","attributes":{"enabled":true,"created":1555434104,"updated":1555434104,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultcdc10cde.vault.azure.net/deletedsecrets/secrec0cdc10cde/recover?api-version=7.0
  response:
    body: {string: '{"id":"https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde/353dd4e3f8404e909397ccc6e04922e7","attributes":{"enabled":true,"created":1555434103,"updated":1555434103,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultcdc10cde.vault.azure.net/deletedsecrets/secprg0cdc10cde?api-version=7.0
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde/?api-version=7.0
  response:
    body: {string: '{"value":"secval0cdc10cde","id":"https://vaultcdc10cde.vault.azure.net/secrets/secrec0cdc10cde/353dd4e3f8404e909397ccc6e04922e7","attributes":{"enabled":true,"created":1555434103,"updated":1555434103,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vaultcdc10cde.vault.azure.net/secrets/secrec6cdc10cde/?api-version=7.0
  response:
    body: {string: '{"value":"secval6cdc10cde","id":"https://vaultcdc10cde.vault.azure.net/secrets/secrec6cdc10cde/ff96a52df25f488aa96e3580f7c3f01b","attributes":{"enabled":true,"created":1555434104,"updated":1555434104,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
