interactions:
- request:
    body: ''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultce470cfa.vault.azure.net/secrets/secce470cfa?api-version=7.0-preview
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"value": "secValce470cfa"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultce470cfa.vault.azure.net/secrets/secce470cfa?api-version=7.0-preview
  response:
    body: {string: '{"value":"secValce470cfa","id":"https://vaultce470cfa.vault.azure.net/secrets/secce470cfa/9f334695a3514de8a1f51bdb508d91c6","attributes":{"enabled":true,"created":1526647114,"updated":1526647114,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vaultce470cfa.vault.azure.net/secrets/secce470cfa/versions?api-version=7.0-preview
  response:
    body: {string: '{"value":[{"id":"https://vaultce470cfa.vault.azure.net/secrets/secce470cfa/9f334695a3514de8a1f51bdb508d91c6","attributes":{"enabled":true,"created":1526647114,"updated":1526647114,"recoveryLevel":"Purgeable"}},{"id":"https://vaultce470cfa.vault.azure.net/secrets/secce470cfa/e7aa0570264140169bc8dec104b4dbcd","attributes":{"enabled":true,"created":1526647115,"updated":1526647115,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
