interactions:
- request:
    body: ''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault724a098d.vault.azure.net/keys/key0-724a098d/create?api-version=7.0-preview
  response:
    body: {string: ''}
    headers:
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://vault724a098d.vault.azure.net/keys/key0-724a098d/create?api-version=7.0-preview
  response:
    body: {string: '{"key":{"kid":"https://vault724a098d.vault.azure.net/keys/key0-724a098d/7968877dbc064275a34b40462ba73ffc","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2Lrq7IL9bZ6uSFuHTd6flAA33JjR4HdUzvV9s17PrBxBZcVOwMk9-qyJjI-uG3Nyx037ca46esRXbKLkcRxxmYRXhRflHiu8KrPVbgB_UHp-PllwPsUM34ZvUWztimQ3e5oazVUFxtgPXyImiJrYYUJwXPNvkPgx_Pj4kDcdeHxOuvI1qQ62R4OQVUWcBXkMfSuhPEaVEAeLqQ794MCYt33H7Ss0wiBGAACSZObaUIGjxlQBELW8cB9dWzskEbQ-Y8WGsK1WmznSokY8NAiVJA0bOftpWJ7zj8nDwCQp46rMUW-T1CVx0Pe3x2I5UFXWl-4Gu3n_1miy-g5RWMBYLw","e":"AQAB"},"attributes":{"enabled":true,"created":1526677915,"updated":1526677915,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://vault724a098d.vault.azure.net/keys?maxresults=2&api-version=7.0-preview
  response:
    body: {string: '{"value":[{"kid":"https://vault724a098d.vault.azure.net/keys/key0-724a098d","attributes":{"enabled":true,"created":1526677915,"updated":1526677915,"recoveryLevel":"Purgeable"}},{"kid":"https://vault724a098d.vault.azure.net/keys/key1-724a098d","attributes":{"enabled":true,"created":1526677916,"updated":1526677916,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
