interactions:
- request:
    body: '{"source": {"communicationUser": {"id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_a6f69d64-316f-4a2f-88c8-cb15ff759443"}},
      "callbackUri": "https://host.app/api/callback/calling", "requestedMediaTypes":
      ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 17 Sep 2021 00:03:05 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/sanitized/:join?api-version=2021-06-15-preview
  response:
    body: '{"callConnectionId": "02000b80-93ad-462e-aa09-cb88513e859d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 62ae6d5e-ae9d-49c2-b058-55c6c7023250
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"recordingStateCallbackUri": "https://host.app/api/callback/calling"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 17 Sep 2021 00:03:09 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/sanitized/recordings?api-version=2021-06-15-preview
  response:
    body: '{"recordingId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 068b6593-f955-4b67-9448-cfd0c4ff5c2a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 00:03:18 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/calling/serverCalls/sanitized/recordings/sanitized?api-version=2021-06-15-preview
  response:
    body: '{"recordingState": "active"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 7436d40d-f007-4a72-ae3f-c349cba16e6b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 00:03:18 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/sanitized/recordings/sanitized/:pause?api-version=2021-06-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 59bfb058-b601-44f0-8f65-68c0a5d77dfc
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 00:03:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/sanitized/recordings/sanitized/:resume?api-version=2021-06-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 129616ca-e4ef-4f8f-9ade-f9065d8ae8b7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 00:03:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-06-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - ea2a595a-bf15-4f72-9f72-e3389f474650
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 00:03:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:hangup?api-version=2021-06-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 1d6be88e-39d3-41e0-8169-2611bdc28651
    status:
      code: 202
      message: Accepted
version: 1
