interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 04 Dec 2021 00:08:56 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000e-22a7-5f0c-f6c7-593a0d004d57"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 6Nx8DdhqIEuOwTeUQr9gRw.0
      x-processing-time:
      - 25ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated", "toneReceived"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "f71f1300-8b6d-46bf-bf09-f542ab1ac893"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: 68e38c4f-4205-40f0-8157-bdd349c8470d
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
- request:
    body: '{"audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav", "loop":
      true, "operationContext": "878300d1-e3da-4ca5-bde9-fb6fa6522c81", "audioFileId":
      "56273ea4-8863-486c-ae50-e466855897a3"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/f71f1300-8b6d-46bf-bf09-f542ab1ac893/:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "8561477e-138e-4107-b523-3ceed195143b", "status": "running",
        "operationContext": "878300d1-e3da-4ca5-bde9-fb6fa6522c81"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: 91a0dafa-a2be-4de7-978b-d132fdfb1e5c
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/callConnections/f71f1300-8b6d-46bf-bf09-f542ab1ac893/:playAudio?api-version=2021-11-15-preview
- request:
    body: null
    headers:
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/f71f1300-8b6d-46bf-bf09-f542ab1ac893/:cancelAllMediaOperations?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "eef53cf7-a90e-474e-9f09-cb769912f37d", "status": "completed"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: fae5ecd7-36f1-400c-b30f-f2dc4209c8f7
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/calling/callConnections/f71f1300-8b6d-46bf-bf09-f542ab1ac893/:cancelAllMediaOperations?api-version=2021-11-15-preview
- request:
    body: null
    headers:
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/f71f1300-8b6d-46bf-bf09-f542ab1ac893/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id: 81664c3c-1709-48ae-9470-4cc6acb66a94
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/callConnections/f71f1300-8b6d-46bf-bf09-f542ab1ac893/:hangup?api-version=2021-11-15-preview
version: 1
