interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 18 Sep 2021 05:58:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000c-975d-a4cc-c17b-254822001755"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - DjBriAYA1kqRk1lUlFCcWQ.0
      x-processing-time:
      - 84ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated", "dtmfReceived"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-06-15-preview
  response:
    body:
      string: '{"callConnectionId": "421f0b00-0246-4b08-a51e-5233db96905d"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: 81458696-5af6-4dcb-bd04-7927b5e55307
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-06-15-preview
- request:
    body: '{"audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav", "loop":
      true, "operationContext": "<azure.communication.callingserver._models.PlayAudioOptions
      object at 0x000001DB4F4A1B80>", "audioFileId": "fef6e662-80d7-4d64-8858-5bf577f6abfc",
      "callbackUri": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/421f0b00-0246-4b08-a51e-5233db96905d/:playAudio?api-version=2021-06-15-preview
  response:
    body:
      string: '{"operationId": "ad31f90f-da4c-4421-a204-6033fdce6378", "status": "running",
        "operationContext": "<azure.communication.callingserver._models.PlayAudioOptions
        object at 0x000001DB4F4A1B80>"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: 469f79e8-a48b-4f78-b63b-6a978bcd464f
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/callConnections/421f0b00-0246-4b08-a51e-5233db96905d/:playAudio?api-version=2021-06-15-preview
- request:
    body: '{"operationContext": "51c10131-9d26-438c-aef2-7006b11e6b1d"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/421f0b00-0246-4b08-a51e-5233db96905d/:cancelAllMediaOperations?api-version=2021-06-15-preview
  response:
    body:
      string: '{"operationId": "2df93498-af93-48a4-b218-5cfb860c655f", "status": "completed",
        "operationContext": "51c10131-9d26-438c-aef2-7006b11e6b1d"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: 35c07df4-d1a5-403d-8e46-086597b83235
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/calling/callConnections/421f0b00-0246-4b08-a51e-5233db96905d/:cancelAllMediaOperations?api-version=2021-06-15-preview
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/421f0b00-0246-4b08-a51e-5233db96905d/:hangup?api-version=2021-06-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id: d295485b-719c-437a-8349-dbd4775d938e
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/callConnections/421f0b00-0246-4b08-a51e-5233db96905d/:hangup?api-version=2021-06-15-preview
version: 1
