interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sun, 10 Oct 2021 06:54:46 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000d-08dd-27e0-7308-454822000409"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Nu/KstoPTE6VQeqTFvJbog.0
      x-processing-time:
      - 650ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "acb14523-d684-4f44-bf72-816d0a98f649",
      "kind": "groupCallLocator"}, "source": "sanitized", "callbackUri": "sanitized",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "04201300-ac39-490f-8c8f-89c016ca8b17"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: 291dadd2-1e05-496d-98c7-da1c1484d9a1
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
[...]
- request:
    body: '{"callLocator": {"groupCallId": "acb14523-d684-4f44-bf72-816d0a98f649",
      "kind": "groupCallLocator"}, "audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav",
      "loop": true, "operationContext": "60f404a0-4333-462a-9922-ba8f33cf4dc3", "audioFileId":
      "1f96ccb8-e8e6-4d4e-966f-16572b647b6e", "callbackUri": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "471f1300-5dbb-4cd0-a087-06da2e7c64ef", "status": "running",
        "operationContext": "60f404a0-4333-462a-9922-ba8f33cf4dc3"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: 2bb1edd1-e0c1-4db0-bf6e-3538f71512fb
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling:playAudio?api-version=2021-11-15-preview
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/04201300-ac39-490f-8c8f-89c016ca8b17/:cancelAllMediaOperations?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "c38ab101-d87c-42ca-be35-680746eea935", "status": "completed"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: 3266fa3f-30c0-4128-b456-fb5134ca4189
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/calling/callConnections/04201300-ac39-490f-8c8f-89c016ca8b17/:cancelAllMediaOperations?api-version=2021-11-15-preview
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/04201300-ac39-490f-8c8f-89c016ca8b17/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id: 03d3585c-7000-498d-b0da-865772a5464a
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/callConnections/04201300-ac39-490f-8c8f-89c016ca8b17/:hangup?api-version=2021-11-15-preview
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/04201300-eb8f-464f-83dd-b2249092cbd1/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id: d11450e9-819a-4b14-98f4-18ad86a74bdc
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/callConnections/04201300-eb8f-464f-83dd-b2249092cbd1/:hangup?api-version=2021-11-15-preview
version: 1
