interactions:
- request:
    body: ''
    headers:
      Range:
      - bytes=0-399
      x-ms-date:
      - Fri, 17 Sep 2021 23:02:21 GMT
    method: GET
    uri: https://storagehost.com/v1/objects/0-wus-d4-6afafe78b9e313d77933b87578eabc9e/content/acsmetadata
  response:
    body:
      string: "{\r\n  \"resourceId\": \"ab12b0ea-85ea-4f83-b0b6-84d90209c7c4\",\r\n
        \ \"callId\": \"ffe2a624-6092-408f-8eb6-d52b892633bd\",\r\n  \"chunkDocumentId\":
        \"0-wus-d4-6afafe78b9e313d77933b87578eabc9e\",\r\n  \"chunkIndex\": 0,\r\n
        \ \"chunkStartTime\": \"2021-09-14T23:25:55.3107105Z\",\r\n  \"chunkDuration\":
        10660.0,\r\n  \"pauseResumeIntervals\": [],\r\n  \"recordingInfo\": {\r\n
        \   \"contentType\": \"mixed\",\r\n    \"channelType\": \"audioVideo\",\r\n
        \ "
    headers:
      content-range: bytes 0-399/837
      content-type: application/octet-stream
    status:
      code: 206
      message: Partial Content
    url: https://storagehost.com/v1/objects/0-wus-d4-6afafe78b9e313d77933b87578eabc9e/content/acsmetadata
- request:
    body: ''
    headers:
      Range:
      - bytes=400-799
      x-ms-date:
      - Fri, 17 Sep 2021 23:02:21 GMT
    method: GET
    uri: https://storagehost.com/v1/objects/0-wus-d4-6afafe78b9e313d77933b87578eabc9e/content/acsmetadata
  response:
    body:
      string: "  \"format\": \"mp4\",\r\n    \"audioConfiguration\": {\r\n      \"sampleRate\":
        16000,\r\n      \"bitRate\": 128000,\r\n      \"channels\": 1\r\n    },\r\n
        \   \"videoConfiguration\": {\r\n      \"longerSideLength\": 1920,\r\n      \"shorterSideLength\":
        1080,\r\n      \"framerate\": 8,\r\n      \"bitRate\": 1000000\r\n    }\r\n
        \ },\r\n  \"participants\": [\r\n    {\r\n      \"participantId\": \"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000c-8680-7"
    headers:
      content-range: bytes 400-799/837
      content-type: application/octet-stream
    status:
      code: 206
      message: Partial Content
    url: https://storagehost.com/v1/objects/0-wus-d4-6afafe78b9e313d77933b87578eabc9e/content/acsmetadata
- request:
    body: ''
    headers:
      Range:
      - bytes=800-836
      x-ms-date:
      - Fri, 17 Sep 2021 23:02:21 GMT
    method: GET
    uri: https://storagehost.com/v1/objects/0-wus-d4-6afafe78b9e313d77933b87578eabc9e/content/acsmetadata
  response:
    body:
      string: "76f-ba73-254822000c19\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-range: bytes 800-836/837
      content-type: application/octet-stream
    status:
      code: 206
      message: Partial Content
    url: https://storagehost.com/v1/objects/0-wus-d4-6afafe78b9e313d77933b87578eabc9e/content/acsmetadata
version: 1
