interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 09 Oct 2021 21:57:57 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000d-06f1-b164-f5f5-343a0d00053d"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - e/mMsuiODUGYIIuPtKC9eg.0
      x-processing-time:
      - 84ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated", "toneReceived"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "b9201300-8843-4deb-a33f-42f90ce1655b"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - d6ce4132-3965-4962-9844-7dbb3a1ed78e
    status:
      code: 201
      message: Created
- request:
    body: '{"audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav", "loop":
      true, "operationContext": "<azure.communication.callingserver._models.PlayAudioOptions
      object at 0x000001B505B3AF40>", "audioFileId": "ffc4b51b-a7b2-4fe2-9abf-f01c98c632d6",
      "callbackUri": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/b9201300-8843-4deb-a33f-42f90ce1655b/:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "96dcbb68-8c37-4ea0-868f-e0c57040d934", "status": "running",
        "operationContext": "<azure.communication.callingserver._models.PlayAudioOptions
        object at 0x000001B505B3AF40>", "resultInfo": {"code": 500, "subcode": 9999,
        "message": "DownloadFailed"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 4182dd05-fe5d-461a-8192-187092e445b7
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/b9201300-8843-4deb-a33f-42f90ce1655b/:cancelAllMediaOperations?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "cfd90fe1-e1fd-47fe-8fbd-07d6f5dc2ed2", "status": "completed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 51eb4c12-838d-4d66-9d6b-bb0c213b4fc7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/b9201300-8843-4deb-a33f-42f90ce1655b/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 2e9d0041-55ea-4811-af4c-6f2fec0608c0
    status:
      code: 202
      message: Accepted
version: 1
