interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 04 Oct 2021 23:43:39 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ecee8f8c-19e8-45a0-a2f9-248c9fa6c7ac_0000000c-ed92-b1d4-6ebc-9f3a0d000ace"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Od8Nqm+Dekuw6vb9v3uCcA.0
      x-processing-time:
      - 181ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {}, "source": "sanitized", "callbackUri": "sanitized",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "8523", "message": "One or more arguments are invalid."}}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: ed8224f4-29d6-4378-942d-d82e2ee9f282
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
version: 1
