interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 18 Sep 2021 23:46:30 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000c-9b2f-8707-9174-2548220014ca"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - V8CdSiOOn0u0A27XND2Cww.0
      x-processing-time:
      - 112ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"source": "sanitized", "callbackUri": "sanitized", "requestedMediaTypes":
      ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/807ec702-3e7f-4124-8956-45562ae5b5e1/:join?api-version=2021-06-15-preview
  response:
    body:
      string: '{"callConnectionId": "421f0b00-6615-4bcd-8e9d-032fa010e2b1"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: fc0ffec9-5a30-46d8-93bf-045ac9a44251
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/serverCalls/807ec702-3e7f-4124-8956-45562ae5b5e1/:join?api-version=2021-06-15-preview
- request:
    body: '{"source": "sanitized", "callbackUri": "sanitized", "requestedMediaTypes":
      ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/807ec702-3e7f-4124-8956-45562ae5b5e1/:join?api-version=2021-06-15-preview
  response:
    body:
      string: '{"callConnectionId": "421f0b00-bb55-49d4-94ed-e3bd70ce5e99"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: ba57e92a-8ed0-4194-9949-12fd2648eb91
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/serverCalls/807ec702-3e7f-4124-8956-45562ae5b5e1/:join?api-version=2021-06-15-preview
version: 1
