interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ieWSp+iSCEe9D9XC6agBsg.2.0
      x-processing-time:
      - 26ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 9a4389c2-ee2d-4d92-9563-39fbabf1beba
    status:
      code: 201
      message: Created
- request:
    body: '{"targetParticipant": {"communicationUser": "sanitized"}, "userToUserInformation":
      "test information", "operationContext": "e13fd4ee-e0b6-41ee-8c79-03fb53af6531"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstelephonyportaltesting.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/sanitized/:transferToParticipant?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "85201300-e0f2-4676-9b17-c29fec296e91", "status": "running",
        "operationContext": "e13fd4ee-e0b6-41ee-8c79-03fb53af6531"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 307140c3-3ab9-4180-b346-561a825c60d6
    status:
      code: 202
      message: Accepted
version: 1
