interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sat, 04 Dec 2021 00:01:41 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000e-22a0-bbd7-ec8d-084822004bcd"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bfUWYeG2kk2gmXzqB0pP+g.0
      x-processing-time:
      - 25ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "6d64d57f-2d97-4266-a047-af1916131a13",
      "kind": "groupCallLocator"}, "source": "sanitized", "callbackUri": "sanitized",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "28201300-1da7-4a9c-be94-dca35b70f631"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 0238539b-a94b-445c-a18e-364fcccc13d3
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"callLocator": {"groupCallId": "6d64d57f-2d97-4266-a047-af1916131a13",
      "kind": "groupCallLocator"}, "callbackUri": "sanitized", "participant": {"communicationUser":
      {"id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000e-2293-8e3d-f6c7-593a0d004c21"}},
      "operationContext": "5fbebd83-b3c9-4ff0-b4b2-4432066586c5"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "dead1886-8efb-4cae-b44e-7658aa8e758d", "status": "running",
        "operationContext": "5fbebd83-b3c9-4ff0-b4b2-4432066586c5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 7750442a-54ca-4c07-a973-98640c78ca98
    status:
      code: 202
      message: Accepted
- request:
    body: '{"callLocator": {"groupCallId": "6d64d57f-2d97-4266-a047-af1916131a13",
      "kind": "groupCallLocator"}, "identifier": {"communicationUser": {"id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000e-2293-8e3d-f6c7-593a0d004c21"}}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants:remove?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 8c5e1a25-f913-496e-b3f9-94beabb2d586
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/28201300-1da7-4a9c-be94-dca35b70f631/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 5fb4d67b-3ec3-4316-9612-cd2194eb185f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/28201300-b780-4c91-a1d9-569b1bc37e51/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - bcb1abb3-6fc6-4d33-b55d-d1ddf33e89b6
    status:
      code: 202
      message: Accepted
version: 1
