interactions:
- request:
    body: null
    headers:
      Range:
      - bytes=0-99
      x-ms-date:
      - Thu, 30 Sep 2021 23:56:08 GMT
    method: GET
    uri: https://storage.asm.skype.com/v1/objects/0-wus-d3-008713a3abdb3f3ae4904369277244c5/content/acsmetadata
  response:
    body:
      string: "{\r\n  \"resourceId\": \"ab12b0ea-85ea-4f83-b0b6-84d90209c7c4\",\r\n
        \ \"callId\": \"ade1a5b4-1fed-4eb0-bece-2af"
    headers:
      content-range:
      - bytes 0-99/836
      content-type:
      - application/octet-stream
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      Range:
      - bytes=100-199
      x-ms-date:
      - Thu, 30 Sep 2021 23:56:09 GMT
    method: GET
    uri: https://storage.asm.skype.com/v1/objects/0-wus-d3-008713a3abdb3f3ae4904369277244c5/content/acsmetadata
  response:
    body:
      string: "03a20b178\",\r\n  \"chunkDocumentId\": \"0-wus-d3-008713a3abdb3f3ae4904369277244c5\",\r\n
        \ \"chunkIndex\": 0,\r\n"
    headers:
      content-range:
      - bytes 100-199/836
      content-type:
      - application/octet-stream
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      Range:
      - bytes=200-299
      x-ms-date:
      - Thu, 30 Sep 2021 23:56:09 GMT
    method: GET
    uri: https://storage.asm.skype.com/v1/objects/0-wus-d3-008713a3abdb3f3ae4904369277244c5/content/acsmetadata
  response:
    body:
      string: "  \"chunkStartTime\": \"2021-09-30T22:37:28.9321086Z\",\r\n  \"chunkDuration\":
        7000.0,\r\n  \"pauseResumeInter"
    headers:
      content-range:
      - bytes 200-299/836
      content-type:
      - application/octet-stream
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      Range:
      - bytes=300-399
      x-ms-date:
      - Thu, 30 Sep 2021 23:56:09 GMT
    method: GET
    uri: https://storage.asm.skype.com/v1/objects/0-wus-d3-008713a3abdb3f3ae4904369277244c5/content/acsmetadata
  response:
    body:
      string: "vals\": [],\r\n  \"recordingInfo\": {\r\n    \"contentType\": \"mixed\",\r\n
        \   \"channelType\": \"audioVideo\",\r\n   "
    headers:
      content-range:
      - bytes 300-399/836
      content-type:
      - application/octet-stream
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      Range:
      - bytes=400-499
      x-ms-date:
      - Thu, 30 Sep 2021 23:56:09 GMT
    method: GET
    uri: https://storage.asm.skype.com/v1/objects/0-wus-d3-008713a3abdb3f3ae4904369277244c5/content/acsmetadata
  response:
    body:
      string: " \"format\": \"mp4\",\r\n    \"audioConfiguration\": {\r\n      \"sampleRate\":
        16000,\r\n      \"bitRate\": 128000,"
    headers:
      content-range:
      - bytes 400-499/836
      content-type:
      - application/octet-stream
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      Range:
      - bytes=500-599
      x-ms-date:
      - Thu, 30 Sep 2021 23:56:09 GMT
    method: GET
    uri: https://storage.asm.skype.com/v1/objects/0-wus-d3-008713a3abdb3f3ae4904369277244c5/content/acsmetadata
  response:
    body:
      string: "\r\n      \"channels\": 1\r\n    },\r\n    \"videoConfiguration\":
        {\r\n      \"longerSideLength\": 1920,\r\n      \""
    headers:
      content-range:
      - bytes 500-599/836
      content-type:
      - application/octet-stream
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      Range:
      - bytes=600-699
      x-ms-date:
      - Thu, 30 Sep 2021 23:56:09 GMT
    method: GET
    uri: https://storage.asm.skype.com/v1/objects/0-wus-d3-008713a3abdb3f3ae4904369277244c5/content/acsmetadata
  response:
    body:
      string: "shorterSideLength\": 1080,\r\n      \"framerate\": 8,\r\n      \"bitRate\":
        1000000\r\n    }\r\n  },\r\n  \"particip"
    headers:
      content-range:
      - bytes 600-699/836
      content-type:
      - application/octet-stream
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      Range:
      - bytes=700-799
      x-ms-date:
      - Thu, 30 Sep 2021 23:56:09 GMT
    method: GET
    uri: https://storage.asm.skype.com/v1/objects/0-wus-d3-008713a3abdb3f3ae4904369277244c5/content/acsmetadata
  response:
    body:
      string: "ants\": [\r\n    {\r\n      \"participantId\": \"8:acs:ab12b0ea-85ea-4f83-b0b6-84d90209c7c4_0000000c-d8bc-11"
    headers:
      content-range:
      - bytes 700-799/836
      content-type:
      - application/octet-stream
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      Range:
      - bytes=800-835
      x-ms-date:
      - Thu, 30 Sep 2021 23:56:09 GMT
    method: GET
    uri: https://storage.asm.skype.com/v1/objects/0-wus-d3-008713a3abdb3f3ae4904369277244c5/content/acsmetadata
  response:
    body:
      string: "76-2df4-343a0d0001bc\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-range:
      - bytes 800-835/836
      content-type:
      - application/octet-stream
    status:
      code: 206
      message: Partial Content
version: 1
