interactions:
- request:
    body: '{"recordingStateCallbackUri": "https://host.app/api/callback/calling"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 17 Sep 2021 00:03:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/sanitized/recordings?api-version=2021-06-15-preview
  response:
    body: '{"error": {"code": "401", "message": "HMAC-SHA256 validation failed"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
version: 1
