interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 07 Dec 2021 08:40:42 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000e-33ee-ffa5-02c3-593a0d0023ee"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mCRWPx/J0US1k6Jts7gBrw.0
      x-processing-time:
      - 24ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"alternateCallerId": "sanitized", "targets": "sanitized", "source": "sanitized",
      "callbackUri": "sanitized", "requestedMediaTypes": ["audio"], "requestedCallEvents":
      ["participantsUpdated", "toneReceived"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "a61f1300-e8c2-4f67-8915-35e17503550f"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 88c825fd-4bb7-49ec-b413-b9e0024bf6d6
    status:
      code: 201
      message: Created
- request:
    body: '{"audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav", "loop":
      true, "operationContext": "61522e03-dabe-4d1d-b637-f0f338fbddc0", "audioFileId":
      "9bc62159-5742-445c-9502-5dcf60fa8f7c"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/a61f1300-e8c2-4f67-8915-35e17503550f/:playAudio?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "0dc397f2-264b-460b-b4d7-cd43533d06ce", "status": "running",
        "operationContext": "61522e03-dabe-4d1d-b637-f0f338fbddc0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - c5d45792-a7d3-453b-b2e0-31b49a7dd0ff
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/a61f1300-e8c2-4f67-8915-35e17503550f/:cancelAllMediaOperations?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "8f931d60-f0bb-4b61-b5a1-d584895db81f", "status": "completed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 80be1619-3387-4075-abca-54c6ed8fb643
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/a61f1300-e8c2-4f67-8915-35e17503550f/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 1c258359-8718-447f-8f82-5acf517792ce
    status:
      code: 202
      message: Accepted
version: 1
