interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 03 Dec 2021 23:57:20 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity":{"id":"8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000e-229c-c3df-0d8b-08482200466e"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - e8UzOwQRCUGQ9zRQgLt0kQ.0
      x-processing-time:
      - 40ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {"groupCallId": "d1511050-10e2-4aef-820c-a9480355ed49",
      "kind": "groupCallLocator"}, "source": "sanitized", "callbackUri": "sanitized",
      "requestedMediaTypes": ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
  response:
    body:
      string: '{"callConnectionId": "c6201300-af4a-46de-a1e0-1ce06699d87d"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: ab44efa7-ed80-46e4-b9f8-a51efa4d44e0
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling:join?api-version=2021-11-15-preview
[...]
- request:
    body: '{"callLocator": {"groupCallId": "d1511050-10e2-4aef-820c-a9480355ed49",
      "kind": "groupCallLocator"}, "callbackUri": "sanitized", "participant": {"communicationUser":
      {"id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000e-2293-8e3d-f6c7-593a0d004c21"}},
      "operationContext": "b6eb7b31-ee9a-46a0-9acc-0f4ac2f499e5"}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants?api-version=2021-11-15-preview
  response:
    body:
      string: '{"operationId": "3debfe12-d026-480b-ae4d-fc66c043f458", "status": "running",
        "operationContext": "b6eb7b31-ee9a-46a0-9acc-0f4ac2f499e5"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: ac8ac464-4521-4f5f-8d60-a18813069972
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/participants?api-version=2021-11-15-preview
- request:
    body: '{"callLocator": {"groupCallId": "d1511050-10e2-4aef-820c-a9480355ed49",
      "kind": "groupCallLocator"}, "identifier": {"communicationUser": {"id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000e-2293-8e3d-f6c7-593a0d004c21"}}}'
    headers:
      Content-Type:
      - application/json
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/participants:remove?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id: 05b58e34-ef2a-46d5-83cc-7cc62535a83f
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/participants:remove?api-version=2021-11-15-preview
- request:
    body: null
    headers:
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/c6201300-af4a-46de-a1e0-1ce06699d87d/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id: cd1f1d18-3c5c-4fb0-b36a-a60611d8d130
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/callConnections/c6201300-af4a-46de-a1e0-1ce06699d87d/:hangup?api-version=2021-11-15-preview
- request:
    body: null
    headers:
      x-ms-host:
      - acstestbot1.communication.azure.com
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/c6201300-88ed-4ef0-a075-b83a1d653a3f/:hangup?api-version=2021-11-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id: 08da5ead-4740-4da9-90f1-3bad097d11b2
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/callConnections/c6201300-88ed-4ef0-a075-b83a1d653a3f/:hangup?api-version=2021-11-15-preview
version: 1
