interactions:
- request:
    body: '{"source": {"communicationUser": {"id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_96d4dc94-d3dc-4d6c-9f01-f7db704ff1bb"}},
      "callbackUri": "https://host.app/api/callback/calling", "requestedMediaTypes":
      ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 15 Sep 2021 23:31:26 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/sanitized/:join?api-version=2021-06-15-preview
  response:
    body: '{"callConnectionId": "411f0b00-45a3-4a1d-ab5b-a09e0885770f"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 4f8a6b13-07a3-4d16-a421-de365855942e
    status:
      code: 202
      message: Accepted
- request:
    body: '{"source": {"communicationUser": {"id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_889d3187-6faf-446c-b6d0-d298e564b76d"}},
      "callbackUri": "https://host.app/api/callback/calling", "requestedMediaTypes":
      ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 15 Sep 2021 23:31:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/sanitized/:join?api-version=2021-06-15-preview
  response:
    body: '{"error": {"code": "8501", "message": "Action is invalid when call is not
      in Established state"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 86a047ee-bcd5-4a8d-bb2d-fb279abbf410
    status:
      code: 400
      message: Bad Request
version: 1
