interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 04 Oct 2021 23:43:41 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:ecee8f8c-19e8-45a0-a2f9-248c9fa6c7ac_0000000c-ed92-b876-0e41-a63a0d00282c"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XsKpeSzy60+HkWjH/ipJSA.0
      x-processing-time:
      - 63ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"callLocator": {}, "startCallRecordingRequest": {"recordingStateCallbackUri":
      "https://bot.contoso.io/callback"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/recordings?api-version=2021-11-15-preview
  response:
    body:
      string: '{"error": {"code": "8527", "message": "Invalid join identity, cannot
        join call."}}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: a1dafbc6-fdbe-486f-b9ec-461fb2ce9e0f
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/calling/recordings?api-version=2021-11-15-preview
version: 1
