interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 20 Sep 2021 21:59:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000c-a519-fa86-5c06-454822003240"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WqmCr0X5SUKW4hEozaYz8w.0
      x-processing-time:
      - 78ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"source": "sanitized", "callbackUri": "sanitized", "requestedMediaTypes":
      ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/da4758fe-ae1b-423b-86f3-e65d4cc293ef/:join?api-version=2021-09-15-preview
  response:
    body:
      string: '{"callConnectionId": "03000b80-1175-4717-9209-afe1b1e088c5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 891d9ff1-4c3e-4f16-b022-3c52b0e9575f
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"participant": {"communicationUser": {"id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000c-9f68-6fd6-e57b-254822002248"}},
      "operationContext": "2c5eb965-998c-4117-b770-5a9a2724d923"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/da4758fe-ae1b-423b-86f3-e65d4cc293ef/participants?api-version=2021-09-15-preview
  response:
    body:
      string: '{"participantId": "222de868-7833-4d5e-a767-c3f9f5dfa423"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 1bb1a4e6-2ffc-45cd-9474-1261bb09e590
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/calling/serverCalls/da4758fe-ae1b-423b-86f3-e65d4cc293ef/participants/222de868-7833-4d5e-a767-c3f9f5dfa423?api-version=2021-09-15-preview
  response:
    body:
      string: '{"error": {"code": "InternalServerError", "message": "Response Status
        Code 404. Reason Not Found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - d342759a-628e-49d6-8ab5-e98c1e36ee3a
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/03000b80-1175-4717-9209-afe1b1e088c5/:hangup?api-version=2021-09-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 1b7db251-64ac-4ea1-b878-db3c52d95821
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/03000b80-a54b-4f50-b1ed-8173fa5765b5/:hangup?api-version=2021-09-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 347de427-36c7-4f2b-92e2-bc10e9a8cdbb
    status:
      code: 202
      message: Accepted
version: 1
