interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 20 Sep 2021 00:07:54 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000c-a069-79a5-a2d9-444822001d63"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jLteP9DdpUGLGHdusaPKxw.0
      x-processing-time:
      - 86ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"source": "sanitized", "callbackUri": "sanitized", "requestedMediaTypes":
      ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/1b3806d0-3449-30e4-a5da-0c00e39fc374/:join?api-version=2021-09-15-preview
  response:
    body:
      string: '{"callConnectionId": "00000b80-3ec3-402c-8e75-6a6a21d04369"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - dc8d600e-9834-4e5e-9bf3-6d63d3c6638c
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"participant": {"communicationUser": {"id": "8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000c-9f68-6fd6-e57b-254822002248"}},
      "operationContext": "77673a47-5b48-4f63-99d0-81bbcbd9621b"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/1b3806d0-3449-30e4-a5da-0c00e39fc374/participants?api-version=2021-09-15-preview
  response:
    body:
      string: '{"participantId": "76e20d1e-4930-4e09-b489-3f05c7e3cd10"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-microsoft-skype-chain-id:
      - 29310a55-63f6-47fd-b57e-6af99a879993
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/calling/serverCalls/1b3806d0-3449-30e4-a5da-0c00e39fc374/participants/76e20d1e-4930-4e09-b489-3f05c7e3cd10?api-version=2021-09-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - a71762ae-963e-4a21-8b09-79b826de45db
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/00000b80-3ec3-402c-8e75-6a6a21d04369/:hangup?api-version=2021-09-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - 738bc188-ad55-496d-83c1-dbafc381ba39
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/00000b80-ca45-439f-90f7-bc5b0fb419d9/:hangup?api-version=2021-09-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id:
      - e3337f37-d942-4120-8426-156af6d376dd
    status:
      code: 202
      message: Accepted
version: 1
