interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sun, 19 Sep 2021 23:30:45 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity":{"id":"8:acs:016a7064-0581-40b9-be73-6dde64d69d72_0000000c-a047-7939-207c-254822006ce9"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wABfLDJUa0i2IGSTeUscmA.0
      x-processing-time:
      - 152ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"source": "sanitized", "callbackUri": "sanitized", "requestedMediaTypes":
      ["audio"], "requestedCallEvents": ["participantsUpdated"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/a63c39d3-1147-31a1-9413-d97d876e1c5a/:join?api-version=2021-09-15-preview
  response:
    body:
      string: '{"callConnectionId": "411f0b00-5dfd-47db-8758-8856ef2a2b7d"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: 57ddc3c3-d784-4f45-b2cd-274cdecefbc5
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/serverCalls/a63c39d3-1147-31a1-9413-d97d876e1c5a/:join?api-version=2021-09-15-preview
[...]
- request:
    body: '{"audioFileUri": "https://dummy.ngrok.io/audio/sample-message.wav", "loop":
      true, "operationContext": "<azure.communication.callingserver._models.PlayAudioOptions
      object at 0x00000289ACDD67C0>", "audioFileId": "02d0985a-4f17-426b-8826-807918876208",
      "callbackUri": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/serverCalls/a63c39d3-1147-31a1-9413-d97d876e1c5a/:playAudio?api-version=2021-09-15-preview
  response:
    body:
      string: '{"operationId": "04000b80-a4fa-47eb-9664-77a27b147acf", "status": "running",
        "operationContext": "<azure.communication.callingserver._models.PlayAudioOptions
        object at 0x00000289ACDD67C0>"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: d5c71955-b1f4-446f-8593-9d14f28134ca
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/serverCalls/a63c39d3-1147-31a1-9413-d97d876e1c5a/:playAudio?api-version=2021-09-15-preview
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/411f0b00-5dfd-47db-8758-8856ef2a2b7d/:cancelAllMediaOperations?api-version=2021-09-15-preview
  response:
    body:
      string: '{"operationId": "5ad7ae32-e4e4-4ba9-8610-67f2bdb1e0a8", "status": "completed"}'
    headers:
      content-type: application/json; charset=utf-8
      x-microsoft-skype-chain-id: 1c8f31a6-c3f8-4ca3-b716-073cb25d6417
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/calling/callConnections/411f0b00-5dfd-47db-8758-8856ef2a2b7d/:cancelAllMediaOperations?api-version=2021-09-15-preview
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/411f0b00-5dfd-47db-8758-8856ef2a2b7d/:hangup?api-version=2021-09-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id: 8c6da853-31b2-453b-ba58-c85e7accbd2a
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/callConnections/411f0b00-5dfd-47db-8758-8856ef2a2b7d/:hangup?api-version=2021-09-15-preview
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/calling/callConnections/411f0b00-170c-4460-b86c-75b8a2c53bd5/:hangup?api-version=2021-09-15-preview
  response:
    body:
      string: ''
    headers:
      x-microsoft-skype-chain-id: 1a9d05fd-29ca-497a-b8c4-cc5d9e04d354
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/calling/callConnections/411f0b00-170c-4460-b86c-75b8a2c53bd5/:hangup?api-version=2021-09-15-preview
version: 1
