{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions?api-version=2023-04-01\u0026hash=3b94ac6cb29712a56cb97d9765c2dacc29a08b4fcde68a55a600b8abadbcf91e\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11995",
        "x-ms-response-type": "standard",
        "x-request-time": "0.084"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1/startPendingUpload?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.380"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://amltest5899420437.blob.core.windows.net:443/0bdd51b6-c-674813ee-9948-59fb-a44f-9d7124f0724c",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/amltest5899420437",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://amltest5899420437.blob.core.windows.net/0bdd51b6-c-674813ee-9948-59fb-a44f-9d7124f0724c?skoid=372c30a9-c04f-422f-b38c-872e6b7d5540\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-05-22T04%3A11%3A22Z\u0026ske=2023-05-23T12%3A21%3A22Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-10-04\u0026st=2023-05-22T06%3A33%3A43Z\u0026se=2023-05-22T14%3A43%3A43Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000"
          }
        },
        "pendingUploadId": "e9a57e86-c291-4384-b17e-90a0a499073e",
        "pendingUploadType": "None"
      }
    },
    {
      "RequestUri": "https://amltest5899420437.blob.core.windows.net/0bdd51b6-c-674813ee-9948-59fb-a44f-9d7124f0724c/helloworld_components_with_env/conda.yml?skoid=372c30a9-c04f-422f-b38c-872e6b7d5540\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-05-22T04%3A11%3A22Z\u0026ske=2023-05-23T12%3A21%3A22Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-10-04\u0026st=2023-05-22T06%3A33%3A43Z\u0026se=2023-05-22T14%3A43%3A43Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 22 May 2023 06:43:43 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amltest5899420437.blob.core.windows.net/0bdd51b6-c-674813ee-9948-59fb-a44f-9d7124f0724c/helloworld_components_with_env/conda.yml?skoid=372c30a9-c04f-422f-b38c-872e6b7d5540\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-05-22T04%3A11%3A22Z\u0026ske=2023-05-23T12%3A21%3A22Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-10-04\u0026st=2023-05-22T06%3A33%3A43Z\u0026se=2023-05-22T14%3A43%3A43Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "Pnsr00p3x5XQockrsswRyg==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 22 May 2023 06:43:44 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "bmFtZTogZXhhbXBsZS1lbnZpcm9ubWVudApjaGFubmVsczoKICAtIGNvbmRhLWZvcmdlCmRlcGVuZGVuY2llczoKICAtIHB5dGhvbj0zLjYuMQogIC0gcGlwCiAgLSBwaXA6CiAgICAtIG5iZ2l0cHVsbGVyCiAgICAtIHNwaGlueC1nYWxsZXJ5CiAgICAtIHBhbmRhcwogICAgLSBtYXRwbG90bGliCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Pnsr00p3x5XQockrsswRyg==",
        "ETag": "\u00220x8DB5A8FE3A04E4A\u0022",
        "Last-Modified": "Mon, 22 May 2023 06:43:44 GMT",
        "x-ms-content-crc64": "rGw8VaOHJLc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amltest5899420437.blob.core.windows.net/0bdd51b6-c-674813ee-9948-59fb-a44f-9d7124f0724c/helloworld_components_with_env/env/conda.yml?skoid=372c30a9-c04f-422f-b38c-872e6b7d5540\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-05-22T04%3A11%3A22Z\u0026ske=2023-05-23T12%3A21%3A22Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-10-04\u0026st=2023-05-22T06%3A33%3A43Z\u0026se=2023-05-22T14%3A43%3A43Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "Pnsr00p3x5XQockrsswRyg==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 22 May 2023 06:43:44 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "bmFtZTogZXhhbXBsZS1lbnZpcm9ubWVudApjaGFubmVsczoKICAtIGNvbmRhLWZvcmdlCmRlcGVuZGVuY2llczoKICAtIHB5dGhvbj0zLjYuMQogIC0gcGlwCiAgLSBwaXA6CiAgICAtIG5iZ2l0cHVsbGVyCiAgICAtIHNwaGlueC1nYWxsZXJ5CiAgICAtIHBhbmRhcwogICAgLSBtYXRwbG90bGliCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Pnsr00p3x5XQockrsswRyg==",
        "ETag": "\u00220x8DB5A8FE3C4E7F2\u0022",
        "Last-Modified": "Mon, 22 May 2023 06:43:45 GMT",
        "x-ms-content-crc64": "rGw8VaOHJLc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amltest5899420437.blob.core.windows.net/0bdd51b6-c-674813ee-9948-59fb-a44f-9d7124f0724c/helloworld_components_with_env/helloworld_component_env_path_0.yml?skoid=372c30a9-c04f-422f-b38c-872e6b7d5540\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-05-22T04%3A11%3A22Z\u0026ske=2023-05-23T12%3A21%3A22Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-10-04\u0026st=2023-05-22T06%3A33%3A43Z\u0026se=2023-05-22T14%3A43%3A43Z\u0026sr=c\u0026sp=rcwl\u0026sig=000[...]
    {
      "RequestUri": "https://amltest5899420437.blob.core.windows.net/0bdd51b6-c-674813ee-9948-59fb-a44f-9d7124f0724c/helloworld_components_with_env/helloworld_component_env_inline.yml?skoid=372c30a9-c04f-422f-b38c-872e6b7d5540\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-05-22T04%3A11%3A22Z\u0026ske=2023-05-23T12%3A21%3A22Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-10-04\u0026st=2023-05-22T06%3A33%3A43Z\u0026se=2023-05-22T14%3A43%3A43Z\u0026sr=c\u0026sp=rcwl\u0026sig=000[...]
[...]
    {
      "RequestUri": "https://amltest5899420437.blob.core.windows.net/0bdd51b6-c-674813ee-9948-59fb-a44f-9d7124f0724c/helloworld_components_with_env/conda.yml?comp=metadata\u0026skoid=372c30a9-c04f-422f-b38c-872e6b7d5540\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-05-22T04%3A11%3A22Z\u0026ske=2023-05-23T12%3A21%3A22Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-10-04\u0026st=2023-05-22T06%3A33%3A43Z\u0026se=2023-05-22T14%3A43%3A43Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 22 May 2023 06:43:45 GMT",
        "x-ms-meta-name": "000000000000000000000",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB5A8FE44CA1E8\u0022",
        "Last-Modified": "Mon, 22 May 2023 06:43:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://amltest5899420437.blob.core.windows.net:443/0bdd51b6-c-674813ee-9948-59fb-a44f-9d7124f0724c/helloworld_components_with_env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2023-04-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.343"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://amltest5899420437.blob.core.windows.net:443/0bdd51b6-c-674813ee-9948-59fb-a44f-9d7124f0724c/helloworld_components_with_env",
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2023-05-22T06:43:46.697462\u002B00:00",
          "createdBy": "Chenyang Zhang",
          "createdByType": "User",
          "lastModifiedAt": "2023-05-22T06:43:46.697462\u002B00:00",
          "lastModifiedBy": "Chenyang Zhang",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_502036186080/versions/1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the basic command component",
          "properties": {
            "client_component_hash": "ce422fcf-317e-baa7-1c8f-0e192841e5f8"
          },
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "test_502036186080",
            "description": "This is the basic command component",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentBasic",
            "is_deterministic": true,
            "outputs": {
              "component_out_path": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_502036186080/versions/1?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-wr[...]
