{
  "Entries": [
    {
      "RequestUri": "https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/testFeed/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.195"
      },
      "ResponseBody": {
        "registryId": "3b513a6b-f110-4e7f-9ce3-472b5aa28170",
        "registryName": "testFeed",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "primaryRegion": "centraluseuap",
        "regions": [
          "centraluseuap"
        ],
        "subscriptionId": "4f26493f-21d2-4726-92ea-1ddd550b1d27",
        "resourceGroup": "test-registries",
        "workspaceName": null,
        "primaryRegionResourceProviderUri": "https://cert-master.experiments.azureml-test.net/",
        "registryFqdns": {
          "centraluseuap": {
            "uri": "https://3b513a6b-f110-4e7f-9ce3-472b5aa28170.registry.master.privatelink.api.azureml-test.ms"
          }
        },
        "intellectualPropertyPublisher": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_315131852895/versions/1.0?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Component that executes an AutoML Classification task model training in a pipeline.",
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "name": "test_315131852895",
            "description": "Component that executes an AutoML Classification task model training in a pipeline.",
            "version": "1.0",
            "$schema": "http://azureml/sdk-2-0/AutoMLComponent.json",
            "display_name": "AutoML Classification",
            "is_deterministic": true,
            "type": "automl",
            "task": "classification",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_315131852895/versions/1.0?api-version=2022-10-01",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1195",
        "x-ms-response-type": "standard",
        "x-request-time": "1.245"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_315131852895/versions/1.0",
        "name": "1.0",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "componentSpec": {
            "$schema": "http://azureml/sdk-2-0/AutoMLComponent.json",
            "name": "test_315131852895",
            "version": "1.0",
            "display_name": "AutoML Classification",
            "type": "automl",
            "description": "Component that executes an AutoML Classification task model training in a pipeline.",
            "task": "classification"
          }
        },
        "systemData": {
          "createdAt": "2023-04-20T21:38:00.2873499\u002B00:00",
          "createdBy": "Diondra Peck",
          "createdByType": "User",
          "lastModifiedAt": "2023-04-20T21:38:00.8268392\u002B00:00",
          "lastModifiedBy": "Diondra Peck",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_315131852895/versions/2?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Component that executes an AutoML Classification task model training[...]
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/testFeed/components/test_724485275277/versions/1.0?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "des[...]
    {
      "RequestUri": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/bXQfJZOraBylYv5Q1wrEeIrL7pbNY0Lh823yTL2hDjc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.032"
      },
      "ResponseBody": {
        "assetId": "azureml://registries/testFeed/components/test_724485275277/versions/1.0"
      }
    },
[...]
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/4f26493f-21d2-4726-92ea-1ddd550b1d27/resourceGroups/test-registries/providers/Microsoft.MachineLearningServices/registries/testFeed/components/test_724485275277/versions/2?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "descr[...]
    {
      "RequestUri": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/EVHNuOZrqiPtZuKCHIrJFRg1uXa1sdrNhdwD6SjAYvk",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.012"
      },
      "ResponseBody": null
    },
[...]
