{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11949",
        "x-ms-response-type": "standard",
        "x-request-time": "0.208"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/saveorz2izv2bas",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtest4k4d3fds6sjxs",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aiveorz2izv2bas",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crveorz2izv2bas",
          "notebookInfo": {
            "resourceId": "0000000-0000-0000-0000-000000000000",
            "fqdn": "ml-sdkvnextcli-eastus2-2d1e66ae-85e3-42c0-be91-34de66397f26.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "2d1e66ae-85e3-42c0-be91-34de66397f26",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "0000000-0000-0000-0000-000000000000",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "0000000-0000-0000-0000-000000000000",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-02-23T02:09:00.5159669Z",
          "createdBy": "dipeck@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-23T02:09:00.5159669Z",
          "lastModifiedBy": "dipeck@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/getByHash?hash=472c7d799d01c41f0350d26d0ae02eadf60578325c27dd38b86298b725d4eb02\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "error",
        "x-request-time": "0.500"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Snapshot with hash 472c7d799d01c41f0350d26d0ae02eadf60578325c27dd38b86298b725d4eb02 was not found",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "a8570b839de3d5905ab50cc863e70026",
          "request": "95d545cb250eabf5"
        },
        "environment": "eastus2",
        "location": "eastus2",
        "time": "2023-02-23T19:01:11.8346757\u002B00:00",
        "componentName": "project"
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/assetstore/v1.0/temporaryDataReference/createOrGet",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "assetId": "azureml://locations/eastus2/workspaces/2d1e66ae-85e3-42c0-be91-34de66397f26/codes/000000000000000000000/versions/1",
        "temporaryDataReferenceId": "000000000000000000000",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "error",
        "x-request-time": "0.300"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "User is not authorized to access provided resources due to not having read access to specified resources for following asset types: codes.",
          "messageFormat": "User is not authorized to access provided resources due to {reason}.",
          "messageParameters": {
            "reason": "not having read access to specified resources for following asset types: codes"
          },
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "Auth",
            "innerError": {
              "code": "Authorization",
              "innerError": null
            }
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "21e259538381dc5dd67b84fd6560ab18",
          "request": "93be9bb3425492bd"
        },
        "environment": "eastus2",
        "location": "eastus2",
        "time": "2023-02-23T19:01:13.464288\u002B00:00",
        "componentName": "assetstore"
      }
    },
[...]
    {
      "RequestUri": "https://eastus2.api.azureml.ms/assetstore/v1.0/temporaryDataReference/createOrGet",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "assetId": "azureml://locations/eastus2/workspaces/2d1e66ae-85e3-42c0-be91-34de66397f26/codes/000000000000000000000/versions/1",
        "temporaryDataReferenceId": "000000000000000000000",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "1.067"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://saveorz2izv2bas.blob.core.windows.net:443/2d1e66ae-8-3e33f4ac-0efa-5179-84ca-073299465bdd",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/saveorz2izv2bas",
          "credential": {
            "sasUri": "https://saveorz2izv2bas.blob.core.windows.net/2d1e66ae-8-3e33f4ac-0efa-5179-84ca-073299465bdd?skoid=a7dd2c6d-73fb-4c57-85b2-5c1af4f6364a\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-23T02%3A03%3A03Z\u0026ske=2023-02-24T10%3A13%3A03Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-02-23T18%3A51%3A19Z\u0026se=2023-02-24T03%3A01%3A19Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
            "wasbsUri": null,
            "credentialType": "SAS"
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "000000000000000000000",
        "temporaryDataReferenceType": null
      }
    },
    {
      "RequestUri": "https://saveorz2izv2bas.blob.core.windows.net/2d1e66ae-8-3e33f4ac-0efa-5179-84ca-073299465bdd/component_for_reuse_test/component.yml?skoid=a7dd2c6d-73fb-4c57-85b2-5c1af4f6364a\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-23T02%3A03%3A03Z\u0026ske=2023-02-24T10%3A13%3A03Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-02-23T18%3A51%3A19Z\u0026se=2023-02-24T03%3A01%3A19Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 23 Feb 2023 19:01:19 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://saveorz2izv2bas.blob.core.windows.net/2d1e66ae-8-3e33f4ac-0efa-5179-84ca-073299465bdd/component_for_reuse_test/component.yml?skoid=a7dd2c6d-73fb-4c57-85b2-5c1af4f6364a\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-23T02%3A03%3A03Z\u0026ske=2023-02-24T10%3A13%3A03Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-02-23T18%3A51%3A19Z\u0026se=2023-02-24T03%3A01%3A19Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "jB3zZ5VAJ\u002BCYepJyeVymsg==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 23 Feb 2023 19:01:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "JHNjaGVtYTogaHR0cHM6Ly9henVyZW1sc2NoZW1hcy5henVyZWVkZ2UubmV0L2RldmVsb3BtZW50L2NvbW1hbmRDb21wb25lbnQuc2NoZW1hLmpzb24KbmFtZToge2NvbXBvbmVudF9uYW1lfQp2ZXJzaW9uOiAxCnR5cGU6IGNvbW1hbmQKbmFtZTogU2FtcGxlQ29tbWFuZENvbXBvbmVudEJhc2ljCmNvbW1hbmQ6IGVjaG8gSGVsbG8gV29ybGQKY29kZTogIi4iCmVudmlyb25tZW50OiBhenVyZW1sOkF6dXJlTUwtc2tsZWFybi0xLjAtdWJ1bnR1MjAuMDQtcHkzOC1jcHU6MzM=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jB3zZ5VAJ\u002BCYepJyeVymsg==",
        "ETag": "\u00220x8DB15D059ED6920\u0022",
        "Last-Modified": "Thu, 23 Feb 2023 19:01:20 GMT",
        "x-ms-content-crc64": "wTRftyM7Xzo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://saveorz2izv2bas.blob.core.windows.net/2d1e66ae-8-3e33f4ac-0efa-5179-84ca-073299465bdd/component_for_reuse_test/component.yml?comp=metadata\u0026skoid=a7dd2c6d-73fb-4c57-85b2-5c1af4f6364a\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-23T02%3A03%3A03Z\u0026ske=2023-02-24T10%3A13%3A03Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-02-23T18%3A51%3A19Z\u0026se=2023-02-24T03%3A01%3A19Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 23 Feb 2023 19:01:21 GMT",
        "x-ms-meta-name": "000000000000000000000",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB15D05A0CAC5B\u0022",
        "Last-Modified": "Thu, 23 Feb 2023 19:01:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://saveorz2izv2bas.blob.core.windows.net:443/2d1e66ae-8-3e33f4ac-0efa-5179-84ca-073299465bdd/component_for_reuse_test"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2022-05-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1172",
        "x-ms-response-type": "standard",
        "x-request-time": "0.311"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://saveorz2izv2bas.blob.core.windows.net:443/2d1e66ae-8-3e33f4ac-0efa-5179-84ca-073299465bdd/component_for_reuse_test"
        },
        "systemData": {
          "createdAt": "2023-02-23T19:01:24.7666362\u002B00:00",
          "createdBy": "Diondra Peck",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-23T19:01:24.7666362\u002B00:00",
          "lastModifiedBy": "Diondra Peck",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_46159602586/versions/1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "test_46159602586",
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "is_deterministic": true,
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_46159602586/versions/1?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-wri[...]
[...]
    {
      "RequestUri": "https://eastus2.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/getByHash?hash=472c7d799d01c41f0350d26d0ae02eadf60578325c27dd38b86298b725d4eb02\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.106"
      },
      "ResponseBody": {
        "snapshotType": "LocalFiles",
        "id": "2bafa32c-eb2b-456b-950c-be995649c266",
        "root": {
          "name": "",
          "hash": null,
          "type": "Directory",
          "timestamp": "0001-01-01T00:00:00\u002B00:00",
          "sasUrl": null,
          "absoluteUrl": null,
          "sizeBytes": 0,
          "sizeSet": false,
          "children": {
            "component.yml": {
              "name": "component.yml",
              "hash": "8C1DF367954027E0987A9272795CA6B2",
              "type": "File",
              "timestamp": "0001-01-01T00:00:00\u002B00:00",
              "sasUrl": null,
              "absoluteUrl": null,
              "sizeBytes": 269,
              "sizeSet": true,
              "children": {}
            }
          }
        },
        "tags": {},
        "properties": {
          "hash_sha256": "472c7d799d01c41f0350d26d0ae02eadf60578325c27dd38b86298b725d4eb02",
          "hash_version": "202208",
          "azureml.codeUri": "https://saveorz2izv2bas.blob.core.windows.net:443/2d1e66ae-8-3e33f4ac-0efa-5179-84ca-073299465bdd/component_for_reuse_test"
        },
        "description": null,
        "name": "000000000000000000000",
        "version": "1",
        "createdBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Diondra Peck",
          "upn": null
        },
        "createdTime": "2023-02-23T19:01:24.7666362\u002B00:00",
        "modifiedBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Diondra Peck",
          "upn": null
        },
        "modifiedTime": "2023-02-23T19:01:24.7666362\u002B00:00",
        "gitRepositoryCommit": null,
        "uri": "https://saveorz2izv2bas.blob.core.windows.net:443/2d1e66ae-8-3e33f4ac-0efa-5179-84ca-073299465bdd/component_for_reuse_test",
        "contentHash": "472c7d799d01c41f0350d26d0ae02eadf60578325c27dd38b86298b725d4eb02",
        "hashVersion": "202208",
        "provisioningState": "Succeeded"
      }
    },
[...]
