{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions?api-version=2023-04-01\u0026hash=3b94ac6cb29712a56cb97d9765c2dacc29a08b4fcde68a55a600b8abadbcf91e\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11980",
        "x-ms-response-type": "standard",
        "x-request-time": "0.045"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1/startPendingUpload?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.618"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://sapcy5552emqcc6.blob.core.windows.net:443/2eef7b49-b-8a48a92a-0f41-5b3e-a064-3751cb12fa31",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sapcy5552emqcc6",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://sapcy5552emqcc6.blob.core.windows.net/2eef7b49-b-8a48a92a-0f41-5b3e-a064-3751cb12fa31?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-04-20T18%3A15%3A45Z\u0026ske=2023-04-22T02%3A25%3A45Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-10-04\u0026st=2023-04-20T21%3A29%3A50Z\u0026se=2023-04-21T05%3A39%3A50Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000"
          }
        },
        "pendingUploadId": "ed5e84e0-40a3-406a-9754-fd0a14514686",
        "pendingUploadType": "None"
      }
    },
    {
      "RequestUri": "https://sapcy5552emqcc6.blob.core.windows.net/2eef7b49-b-8a48a92a-0f41-5b3e-a064-3751cb12fa31/helloworld_components_with_env/conda.yml?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-04-20T18%3A15%3A45Z\u0026ske=2023-04-22T02%3A25%3A45Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-10-04\u0026st=2023-04-20T21%3A29%3A50Z\u0026se=2023-04-21T05%3A39%3A50Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 20 Apr 2023 21:39:50 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sapcy5552emqcc6.blob.core.windows.net/2eef7b49-b-8a48a92a-0f41-5b3e-a064-3751cb12fa31/helloworld_components_with_env/helloworld_component_env_path_0.yml?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-04-20T18%3A15%3A45Z\u0026ske=2023-04-22T02%3A25%3A45Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-10-04\u0026st=2023-04-20T21%3A29%3A50Z\u0026se=2023-04-21T05%3A39%3A50Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "0g40Fib8HQWEh9NczwRWLQ==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 20 Apr 2023 21:39:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "JHNjaGVtYTogaHR0cHM6Ly9henVyZW1sc2NoZW1hcy5henVyZWVkZ2UubmV0L2RldmVsb3BtZW50L2NvbW1hbmRDb21wb25lbnQuc2NoZW1hLmpzb24KdHlwZTogY29tbWFuZAoKbmFtZTogaGVsbG93b3JsZF9jb21wb25lbnRfd2l0aF9lbnYKZGlzcGxheV9uYW1lOiBDb21tYW5kQ29tcG9uZW50QmFzaWMKZGVzY3JpcHRpb246IFRoaXMgaXMgdGhlIGJhc2ljIGNvbW1hbmQgY29tcG9uZW50CnRhZ3M6CiAgdGFnOiB0YWd2YWx1ZQogIG93bmVyOiBzZGt0ZWFtCgp2ZXJzaW9uOiAwLjAuMQoKaW5wdXRzOgogIGNvbXBvbmVudF9pbl9udW1iZXI6CiAgICBkZXNjcmlwdGlvbjogQSBudW1iZXIKICAgIHR5cGU6IG51bWJlcgogICAgZGVmYXVsdDogMTAuOTkKICAgIG9wdGlvbmFsOiBUcnVlCiAgY29tcG9uZW50X2luX3BhdGg6CiAgICBkZXNjcmlwdGlvbjogQSBwYXRoCiAgICB0eXBlOiB1cmlfZm9sZGVyCgpvdXRwdXRzOgogIGNvbXBvbmVudF9vdXRfcGF0aDoKICAgIHR5cGU6IHVyaV9mb2xkZXIKCiMgV3JpdGUgc29tZSBvdXRwdXQgdG8gd29yayBhcm91bmQgYSBidWcgd2hlbiBwaXBlbGluZSBub2RlIGZhaWxlZCB0byBydW4gd2l0aCBlbXB0eSBkYXRhc2V0IGFzIGlucHV0CmNvbW1hbmQ6ID4tCiAgZWNobyBIZWxsbyBXb3JsZCAmCiAgZWNobyAkW1ske3tpbnB1dHMuY29tcG9uZW50X2luX251bWJlcn19XV0gJgogIGVjaG8gJHt7aW5wdXRzLmNvbXBvbmVudF9pbl9wYXRofX0gJgogIGVjaG8gJHt7b3V0cHV0cy5jb21wb25lbnRfb3V0X3BhdGh9fSA\u002BICR7e291dHB1dHMuY29tcG9uZW50X291dF9wYXRofX0vY29tcG9uZW50X2luX251bWJlcgoKZW52aXJvbm1lbnQ6CiAgY29uZGFfZmlsZTogLi9jb25kYS55bWwKICBpbWFnZTogbWNyLm1pY3Jvc29mdC5jb20vYXp1cmVtbC9vcGVubXBpNC4xLjAtdWJ1bnR1MjIuMDQK",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "0g40Fib8HQWEh9NczwRWLQ==",
        "ETag": "\u00220x8DB41E7C608193D\u0022",
        "Last-Modified": "Thu, 20 Apr 2023 21:39:51 GMT",
        "x-ms-content-crc64": "i598CJkot9o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sapcy5552emqcc6.blob.core.windows.net/2eef7b49-b-8a48a92a-0f41-5b3e-a064-3751cb12fa31/helloworld_components_with_env/helloworld_component_env_inline.yml?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-04-20T18%3A15%3A45Z\u0026ske=2023-04-22T02%3A25%3A45Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-10-04\u0026st=2023-04-20T21%3A29%3A50Z\u0026se=2023-04-21T05%3A39%3A50Z\u0026sr=c\u0026sp=rcwl\u0026sig=00000[...]
    {
      "RequestUri": "https://sapcy5552emqcc6.blob.core.windows.net/2eef7b49-b-8a48a92a-0f41-5b3e-a064-3751cb12fa31/helloworld_components_with_env/env/conda.yml?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-04-20T18%3A15%3A45Z\u0026ske=2023-04-22T02%3A25%3A45Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-10-04\u0026st=2023-04-20T21%3A29%3A50Z\u0026se=2023-04-21T05%3A39%3A50Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "Pnsr00p3x5XQockrsswRyg==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 20 Apr 2023 21:39:51 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "bmFtZTogZXhhbXBsZS1lbnZpcm9ubWVudApjaGFubmVsczoKICAtIGNvbmRhLWZvcmdlCmRlcGVuZGVuY2llczoKICAtIHB5dGhvbj0zLjYuMQogIC0gcGlwCiAgLSBwaXA6CiAgICAtIG5iZ2l0cHVsbGVyCiAgICAtIHNwaGlueC1nYWxsZXJ5CiAgICAtIHBhbmRhcwogICAgLSBtYXRwbG90bGliCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Pnsr00p3x5XQockrsswRyg==",
        "ETag": "\u00220x8DB41E7C620A6C2\u0022",
        "Last-Modified": "Thu, 20 Apr 2023 21:39:52 GMT",
        "x-ms-content-crc64": "rGw8VaOHJLc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sapcy5552emqcc6.blob.core.windows.net/2eef7b49-b-8a48a92a-0f41-5b3e-a064-3751cb12fa31/helloworld_components_with_env/conda.yml?comp=metadata\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-04-20T18%3A15%3A45Z\u0026ske=2023-04-22T02%3A25%3A45Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-10-04\u0026st=2023-04-20T21%3A29%3A50Z\u0026se=2023-04-21T05%3A39%3A50Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 20 Apr 2023 21:39:52 GMT",
        "x-ms-meta-name": "000000000000000000000",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB41E7C6693E0E\u0022",
        "Last-Modified": "Thu, 20 Apr 2023 21:39:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sapcy5552emqcc6.blob.core.windows.net:443/2eef7b49-b-8a48a92a-0f41-5b3e-a064-3751cb12fa31/helloworld_components_with_env"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2023-04-01",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1177",
        "x-ms-response-type": "standard",
        "x-request-time": "0.955"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://sapcy5552emqcc6.blob.core.windows.net:443/2eef7b49-b-8a48a92a-0f41-5b3e-a064-3751cb12fa31/helloworld_components_with_env",
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2023-04-20T21:39:53.3352391\u002B00:00",
          "createdBy": "Diondra Peck",
          "createdByType": "User",
          "lastModifiedAt": "2023-04-20T21:39:53.3352391\u002B00:00",
          "lastModifiedBy": "Diondra Peck",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_197697351915/versions/1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the basic command component",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "environment": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
            "name": "test_197697351915",
            "description": "This is the basic command component",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentBasic",
            "is_deterministic": true,
            "outputs": {
              "component_out_path": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_197697351915/versions/1?api-version=2022-10-01",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscripti[...]
