{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.18.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=5019366a-3f7a-4d18-adae-d2483c23e1ee\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=5FL8Q~~BBdJpY_y.KpA94zzLZv2Czg.uYQAmfaMZ\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "refresh_in": 43199,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://eastus.api.azureml.ms/registrymanagement/v1.0/registries/testFeed/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.017"
      },
      "ResponseBody": {
        "registryId": "3b513a6b-f110-4e7f-9ce3-472b5aa28170",
        "registryName": "testFeed",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "primaryRegion": "centraluseuap",
        "regions": [
          "centraluseuap"
        ],
        "subscriptionId": "4f26493f-21d2-4726-92ea-1ddd550b1d27",
        "resourceGroup": "test-registries",
        "workspaceName": null,
        "primaryRegionResourceProviderUri": "https://cert-master.experiments.azureml-test.net/",
        "registryFqdns": {
          "centraluseuap": {
            "uri": "https://3b513a6b-f110-4e7f-9ce3-472b5aa28170.registry.master.api.azureml-test.ms"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/testFeed/tempdatarefs/56a03d3a-ee89-42b4-b7bf-041148d17d9a/versions/1?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "assetId": "azureml://registries/testFeed/codes/56a03d3a-ee89-42b4-b7bf-041148d17d9a/versions/1",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.929"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://feedmaster2.blob.core.windows.net:443/testfeed-c5cca9f4-1498-5688-b285-24db6a149bbb",
          "storageAccountArmId": "/subscriptions/ad203158-bc5d-4e72-b764-2607833a71dc/resourceGroups/vienna-test-westus2/providers/Microsoft.Storage/storageAccounts/feedmaster2",
          "credential": {
            "credentialType": "SAS",
            "sasUri": "https://feedmaster2.blob.core.windows.net/testfeed-c5cca9f4-1498-5688-b285-24db6a149bbb?sv=2019-07-07\u0026sr=c\u0026sig=Jpxzw%2BDGEzrDFXp1HidlXWcr0OixMC1tyWJ6V%2F3a5vs%3D\u0026spr=https\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2022-08-26T19%3A55%3A35Z\u0026ske=2022-08-28T04%3A05%3A35Z\u0026sks=b\u0026skv=2019-07-07\u0026st=2022-08-26T20%3A59%3A38Z\u0026se=2022-08-27T05%3A09%3A38Z\u0026sp=rcwl",
            "wasbsUri": null
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "39c05ab4-e166-413e-9af3-3392880ab170",
        "temporaryDataReferenceType": null
      }
    },
    {
      "RequestUri": "https://feedmaster2.blob.core.windows.net/testfeed-c5cca9f4-1498-5688-b285-24db6a149bbb/COMPONENT_PLACEHOLDER?sv=2019-07-07\u0026sr=c\u0026sig=Jpxzw%2BDGEzrDFXp1HidlXWcr0OixMC1tyWJ6V%2F3a5vs%3D\u0026spr=https\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2022-08-26T19%3A55%3A35Z\u0026ske=2022-08-28T04%3A05%3A35Z\u0026sks=b\u0026skv=2019-07-07\u0026st=2022-08-26T20%3A59%3A38Z\u0026se=2022-08-27T05%3A09%3A38Z\u0026sp=rcwl",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 26 Aug 2022 21:09:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://feedmaster2.blob.core.windows.net/testfeed-c5cca9f4-1498-5688-b285-24db6a149bbb/COMPONENT_PLACEHOLDER?sv=2019-07-07\u0026sr=c\u0026sig=Jpxzw%2BDGEzrDFXp1HidlXWcr0OixMC1tyWJ6V%2F3a5vs%3D\u0026spr=https\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2022-08-26T19%3A55%3A35Z\u0026ske=2022-08-28T04%3A05%3A35Z\u0026sks=b\u0026skv=2019-07-07\u0026st=2022-08-26T20%3A59%3A38Z\u0026se=2022-08-27T05%3A09%3A38Z\u0026sp=rcwl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 26 Aug 2022 21:09:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Y29tbWFuZF9jb21wb25lbnQ6IGNvZGVfcGxhY2Vob2xkZXI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "L/DnSpFIn\u002BjaQWc\u002BsUQdcw==",
        "ETag": "\u00220x8DA87A749FF8F52\u0022",
        "Last-Modified": "Fri, 26 Aug 2022 21:09:39 GMT",
        "x-ms-content-crc64": "KWRPkj\u002BQ\u002BTE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://feedmaster2.blob.core.windows.net/testfeed-c5cca9f4-1498-5688-b285-24db6a149bbb/COMPONENT_PLACEHOLDER?comp=metadata\u0026sv=2019-07-07\u0026sr=c\u0026sig=Jpxzw%2BDGEzrDFXp1HidlXWcr0OixMC1tyWJ6V%2F3a5vs%3D\u0026spr=https\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2022-08-26T19%3A55%3A35Z\u0026ske=2022-08-28T04%3A05%3A35Z\u0026sks=b\u0026skv=2019-07-07\u0026st=2022-08-26T20%3A59%3A38Z\u0026se=2022-08-27T05%3A09%3A38Z\u0026sp=rcwl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 26 Aug 2022 21:09:39 GMT",
        "x-ms-meta-upload_status": "completed",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA87A74A0ECF55\u0022",
        "Last-Modified": "Fri, 26 Aug 2022 21:09:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/testFeed/codes/56a03d3a-ee89-42b4-b7bf-041148d17d9a/versions/1?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "6807f9c9ee9f726461628977454eb1ba222ad5d03ee26d356e0a29c46fab14b0",
            "hash_version": "202208"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://feedmaster2.blob.core.windows.net/testfeed-c5cca9f4-1498-5688-b285-24db6a149bbb/"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/-qj_94kHTXqV1L2zqHB_QSgSViYppPdwoZUZRIXqy8Y",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-response-type": "standard",
        "x-request-time": "4.078"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://master.api.azureml-test.ms/assetstore/v1.0/operations/-qj_94kHTXqV1L2zqHB_QSgSViYppPdwoZUZRIXqy8Y",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.024"
      },
      "ResponseBody": {
        "assetId": "azureml://registries/testFeed/codes/56a03d3a-ee89-42b4-b7bf-041148d17d9a/versions/1"
      }
    },
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/testFeed/codes/56a03d3a-ee89-42b4-b7bf-041148d17d9a/versions/1?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "1.095"
      },
      "ResponseBody": {
        "id": "azureml://registries/testFeed/codes/56a03d3a-ee89-42b4-b7bf-041148d17d9a/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/registries/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "6807f9c9ee9f726461628977454eb1ba222ad5d03ee26d356e0a29c46fab14b0",
            "hash_version": "202208"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://feedmaster2.blob.core.windows.net/testfeed-c5cca9f4-1498-5688-b285-24db6a149bbb/"
        },
        "systemData": {
          "createdAt": "2022-08-26T21:09:40.0740923\u002B00:00",
          "createdBy": "5019366a-3f7a-4d18-adae-d2483c23e1ee",
          "createdByType": "Application",
          "lastModifiedAt": "2022-08-26T21:09:40.0740923\u002B00:00",
          "lastModifiedBy": "5019366a-3f7a-4d18-adae-d2483c23e1ee",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://cert-master.experiments.azureml-test.net/mferp/managementfrontend/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/testFeed/components/test_253420093056/versions/0.0.1?api-version=2021-10-01-dataplanepreview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the basic command component",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World \u0026 echo [${{inputs.component_in_number}}] \u0026 echo ${{inputs.component_in_path}} \u0026 echo ${{outputs.component_out_path}} \u003E ${{outputs.component_out_path}}/component_in_number",
            "code": "azureml://registries/testFeed/codes/56a03d3a-ee89-42b4-b7bf-041148d17d9a/versions/1",
            "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/None/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu/versions/1",
            "name": "test_253420093056",
            "description": "This is the basic command component",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "version": "0.0.1",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentBasic",
            "is_deterministic": true,
            "inputs": {
              "component_in_number": {
                "type": "number",
                "optional": true,
                "default": "10.99",
                "description": "A number"
              },
              "component_in_path": {
                "type": "uri_folder",
                "description": "A path"
              }
            },
            "outputs": {
              "component_out_path": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "error",
        "x-request-time": "0.286"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "Invalid AssetId: azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/None/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu/versions/1",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "d4148213ce540e9569edfd06154c2ccd",
                  "request": "e4123eeb5199242d"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "master"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "westus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2022-08-26T21:10:16.3433829\u002B00:00"
              }
   [...]
