interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/administration/phonenumbers/capabilities/capabilities_id?api-version=2020-07-20-preview1
  response:
    body: '{"capabilitiesUpdateId": "sanitized", "createdAt": "2020-09-28T17:49:13.2696607+00:00",
      "capabilitiesUpdateStatus": "Complete", "phoneNumberCapabilitiesUpdates": "sanitized"}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: LDKKttbI10OoFujUhG/HEw.0
      x-processing-time: 936ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/administration/phonenumbers/capabilities/sanitized?api-version=2020-07-20-preview1
version: 1
