interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2020-07-20-preview2
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - j8nyRpS3NEm7eC+ebtDK+Q.0
      x-processing-time:
      - 18ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body:
      string: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-11-20T20:10:10.8016523+00:00"}'
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gD1WooUYFU25kvMH/SQoGg.0
      x-processing-time:
      - 27ms
    status:
      code: 200
      message: OK
version: 1
