interactions:
- request:
    body: '{"displayName": "testsearch20200014", "description": "testsearch20200014",
      "phonePlanIds": "sanitized", "areaCode": "area_code_for_search", "quantity":
      1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/administration/phonenumbers/searches?api-version=2020-07-20-preview1
  response:
    body: '{"searchId": "sanitized"}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: RI2FgkAsnU6ZIlo95iZD8Q.0
      x-processing-time: 913ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/administration/phonenumbers/searches?api-version=2020-07-20-preview1
version: 1
