interactions:
- request:
    body: 'b''b\''{"displayName": "testsearch20200014", "description": "testsearch20200014",
      "phonePlanIds": ["phone_plan_id"], "areaCode": "area_code_for_search", "quantity":
      1}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/administration/phonenumbers/searches?api-version=2020-07-20-preview1
  response:
    body: '{"searchId": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - zBQqWRmiSEyC+AsrLoxytg.0
      x-processing-time:
      - 1555ms
    status:
      code: 201
      message: Created
version: 1
