interactions:
- request:
    body: 'b''{"phoneNumber": "+1area_code_for_search7840394"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/administration/phonenumbers/numberconfiguration?api-version=2020-07-20-preview1
  response:
    body: '{"pstnConfiguration": {"callbackUrl": "https://callbackurl", "applicationId":
      "ApplicationId"}}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: 7s7ZXUZv+ka172z6bhXhoQ.0
      x-processing-time: 114ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/administration/phonenumbers/numberconfiguration?api-version=2020-07-20-preview1
version: 1
