interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups/phone_plan_group_id/phoneplans/phone_plan_id/locationoptions?locale=en-US&api-version=2020-07-20-preview1
  response:
    body: '{"locationOptions": {"labelId": "state", "labelName": "State", "options":
      [{"name": "AK", "value": "AK", "locationOptions": [{"labelId": "city", "labelName":
      "City", "options": [{"name": "Anchorage", "value": "NOAM-US-AK-AN", "locationOptions":
      []}]}]}, {"name": "AL", "value": "AL", "locationOptions": [{"labelId": "city",
      "labelName": "City", "options": [{"name": "Birmingham", "value": "NOAM-US-AL-BI",
      "locationOptions": []}, {"name": "Huntsville", "value": "NOAM-US-AL-HN", "locationOptions":
      []}, {"name": "Mobile", "value": "NOAM-US-AL-MO", "locationOptions": [[...]
