interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/administration/phonenumbers/searches/reservation_id/purchase?api-version=2020-07-20-preview1
  response:
    body:
      string: ''
    headers:
      ms-cv:
      - 7ucu30fCUUuVdgHTILJFIA.0
      x-processing-time:
      - 275ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/administration/phonenumbers/searches/reservation_id?api-version=2020-07-20-preview1
  response:
    body: '{"searchId": "sanitized", "displayName": "mysearch20200928", "createdAt":
      "2020-10-02T21:39:32.6878583+00:00", "description": "mydescription", "phonePlanIds":
      "sanitized", "areaCode": "area_code_for_reservation", "quantity": 1, "locationOptions":
      [], "status": "Success", "phoneNumbers": "sanitized", "reservationExpiryDate":
      "2020-10-02T21:55:47.9734151+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BFFW/VX7dk+p+AVjitOCvQ.0
      x-processing-time:
      - 282ms
    status:
      code: 200
      message: OK
version: 1
