interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/administration/phonenumbers/releases/release_id?api-version=2020-07-20-preview1
  response:
    body: '{"releaseId": "sanitized", "createdAt": "2020-09-28T20:09:36.2701214+00:00",
      "status": "Failed", "errorMessage": "All numbers in Failed state after BVD call",
      "phoneNumberReleaseStatusDetails": "sanitized"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3KOpJmXus0KZykch6ub7Og.0
      x-processing-time:
      - 211ms
    status:
      code: 200
      message: OK
version: 1
