interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities?api-version=2020-07-20-preview2
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ZDSP6Prb6UGYOTBLvb6AdQ.0
      x-processing-time:
      - 23ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body:
      string: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-12-23T18:34:15.7537392+00:00"}'
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Hmv1R+jifUSsezIU2yJU8Q.0
      x-processing-time:
      - 31ms
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://communicationegrcrs.communication.azure.com/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - vwznKj2MY0qO9HTJ9YWIRw.0
      x-processing-time:
      - 11ms
    status:
      code: 204
      message: No Content
version: 1
