interactions:
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_mixedreality_test_mixedreality9961123a/providers/Microsoft.MixedReality/spatialAnchorsAccounts/myAccount?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_mixedreality_test_mixedreality9961123a/providers/Microsoft.MixedReality/spatialAnchorsAccounts/myAccount","name":"myAccount","type":"Microsoft.MixedReality/spatialAnchorsAccounts","identity":null,"location":"eastus","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus.mixedreality.azure.com","accountId":"d4407a0d-bee5-4a1c-9be8-7835fc8e7afb"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_mixedreality_test_mixedreality9961123a/providers/Microsoft.MixedReality/spatialAnchorsAccounts/myAccount
      ms-cv:
      - XNGHaHuXyU+Cg3/YxjZ14g.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_mixedreality_test_mixedreality9961123a/providers/Microsoft.MixedReality/remoteRenderingAccounts/myAccount?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_mixedreality_test_mixedreality9961123a/providers/Microsoft.MixedReality/remoteRenderingAccounts/myAccount","name":"myAccount","type":"Microsoft.MixedReality/remoteRenderingAccounts","identity":{"type":"SystemAssigned","principalId":"7c987da4-0f85-457a-90ac-9a933c93cc40","tenantId":"00000000-0000-0000-0000-000000000000"},"location":"eastus","plan":null,"sku":null,"kind":null,"tags":{},"properties":{"accountDomain":"eastus.mixedreality.azure.com","accountId":"28096da6-261b-43ca-aa1e-d42f70242e38"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_mixedreality_test_mixedreality9961123a/providers/Microsoft.MixedReality/remoteRenderingAccounts/myAccount
      ms-cv:
      - kO5+KshK9k2DKmaGcFaJzA.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"serial": 1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_mixedreality_test_mixedreality9961123a/providers/Microsoft.MixedReality/remoteRenderingAccounts/myAccount/regenerateKeys?api-version=2021-01-01
  response:
    body:
      string: '{"primaryKey":"tl+kpGFfU1JbcZ2eiGHqtUL1Q8q1TuAoBsD/7MPgFzE=","secondaryKey":"3dhV0+AtZC9giC9onez9fI9Ce/wu3cQCIAoltrHOtFM="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8lq1MpnNAEyDZ2900UcJAQ.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"serial": 1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_mixedreality_test_mixedreality9961123a/providers/Microsoft.MixedReality/spatialAnchorsAccounts/myAccount/regenerateKeys?api-version=2021-01-01
  response:
    body:
      string: '{"primaryKey":"p3Hy6VgteaZMMmzR6X7N4FHq+o+9iFhtasP98DEsGas=","secondaryKey":"aLXVSKMyjFvDPS48xJNc6eXtgIWO2GzOVWvHKT4coTA="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - GsLrT/IH80iqcFGOfpLYeA.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"heroine": "juliet", "hero": "romeo"}, "location": "eastus",
      "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_mixedreality_test_mixedreality9961123a/providers/Microsoft.MixedReality/remoteRenderingAccounts/myAccount?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_mixedreality_test_mixedreality9961123a/providers/Microsoft.MixedReality/remoteRenderingAccounts/myAccount","name":"myAccount","type":"Microsoft.MixedReality/remoteRenderingAccounts","identity":{"type":"SystemAssigned","principalId":"7c987da4-0f85-457a-90ac-9a933c93cc40","tenantId":"00000000-0000-0000-0000-000000000000"},"location":"eastus","plan":null,"sku":null,"kind":null,"tags":{"heroine":"juliet","hero":"romeo"},"properties":{"accountDomain":"eastus.mixedreality.azure.com","accountId":"28096da6-261b-43ca-aa1e-d42f70242e38"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - p+SvAk+V3U6ms5yVcOgLCw.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "MyAccount", "type": "Microsoft.MixedReality/spatialAnchorsAccounts"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MixedReality/locations/eastus/checkNameAvailability?api-version=2021-01-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":null,"message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - pB12QbxjoUW0q4vQjBAXcg.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_mixedreality_test_mixedreality9961123a/providers/Microsoft.MixedReality/spatialAnchorsAccounts/myAccount?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      ms-cv:
      - IJyq4GBOSEaDQdwmppQLjg.0
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
version: 1
