interactions:
- request:
    body: '{"properties": {"creationData": {"sourceUri": "https://mystorageaccount.blob.core.windows.net/inputtestdatadonotdelete/ubuntu.vhd",
      "createOption": "Import"}}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_managed_disks_test_md_from_storage_blobf5ab1401/providers/Microsoft.Compute/disks/my_disk_name?api-version=2018-04-01
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\":
        \"Import\",\r\n      \"sourceUri\": \"https://mystorageaccount.blob.core.windows.net/inputtestdatadonotdelete/ubuntu.vhd\"\r\n
        \   },\r\n    \"provisioningState\": \"Updating\",\r\n    \"isArmResource\":
        true\r\n  },\r\n  \"location\": \"westus\"\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/0f24271a-d4a7-44a3-b2bd-adbd304fef23?api-version=2018-04-01']
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/0f24271a-d4a7-44a3-b2bd-adbd304fef23?monitor=true&api-version=2018-04-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/0f24271a-d4a7-44a3-b2bd-adbd304fef23?api-version=2018-04-01
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-06-30T02:04:06.8961345+00:00\",\r\n
        \ \"endTime\": \"2017-06-30T02:04:07.7398687+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"sku\":{\"name\":\"Standard_LRS\",\"tier\":\"Standard\"},\"properties\":{\"creationData\":{\"createOption\":\"Import\",\"sourceUri\":\"https://mystorageaccount.blob.core.windows.net/inputtestdatadonotdelete/ubuntu.vhd\"},\"timeCreated\":\"2017-06-30T02:04:07.2242576+00:00\",\"provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\"},\"type\":\"Microsoft.Compute/disks\",\"location\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_managed_disks_test_md_from_storage_blobf5ab1401/providers/Microsoft.Compute/disks/my_disk_name\",\"name\":\"my_disk_name\"}\r\n
        \ },\r\n  \"name\": \"0f24271a-d4a7-44a3-b2bd-adbd304fef23\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14996']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_managed_disks_test_md_from_storage_blobf5ab1401/providers/Microsoft.Compute/disks/my_disk_name?api-version=2018-04-01
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\":
        \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"creationData\": {\r\n
        \     \"createOption\": \"Import\",\r\n      \"sourceUri\": \"https://mystorageaccount.blob.core.windows.net/inputtestdatadonotdelete/ubuntu.vhd\"\r\n
        \   },\r\n    \"timeCreated\": \"2017-06-30T02:04:07.2242576+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\"\r\n
        \ },\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"westus\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_managed_disks_test_md_from_storage_blobf5ab1401/providers/Microsoft.Compute/disks/my_disk_name\",\r\n
        \ \"name\": \"my_disk_name\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14997']
    status: {code: 200, message: OK}
version: 1
