interactions:
- request:
    body: '{"properties": {"diskSizeGB": 20, "creationData": {"createOption": "Empty"}},
      "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_managed_disks_test_empty_md20c90f2a/providers/Microsoft.Compute/disks/my_disk_name?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\":
        \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 20,\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"isArmResource\": true\r\n  },\r\n  \"location\": \"westus\"\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/94fb3335-c006-4fb2-92c7-d68556f7c070?api-version=2017-03-30']
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/94fb3335-c006-4fb2-92c7-d68556f7c070?monitor=true&api-version=2017-03-30']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/94fb3335-c006-4fb2-92c7-d68556f7c070?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2017-06-30T02:03:30.1801529+00:00\",\r\n
        \ \"endTime\": \"2017-06-30T02:03:30.3207485+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"sku\":{\"name\":\"Standard_LRS\",\"tier\":\"Standard\"},\"properties\":{\"creationData\":{\"createOption\":\"Empty\"},\"diskSizeGB\":20,\"timeCreated\":\"2017-06-30T02:03:30.1801529+00:00\",\"provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\"},\"type\":\"Microsoft.Compute/disks\",\"location\":\"westus\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_managed_disks_test_empty_md20c90f2a/providers/Microsoft.Compute/disks/my_disk_name\",\"name\":\"my_disk_name\"}\r\n
        \ },\r\n  \"name\": \"94fb3335-c006-4fb2-92c7-d68556f7c070\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14993']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_managed_disks_test_empty_md20c90f2a/providers/Microsoft.Compute/disks/my_disk_name?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\":
        \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"creationData\": {\r\n
        \     \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 20,\r\n
        \   \"timeCreated\": \"2017-06-30T02:03:30.1801529+00:00\",\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"diskState\": \"Unattached\"\r\n  },\r\n  \"type\":
        \"Microsoft.Compute/disks\",\r\n  \"location\": \"westus\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_managed_disks_test_empty_md20c90f2a/providers/Microsoft.Compute/disks/my_disk_name\",\r\n
        \ \"name\": \"my_disk_name\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14996']
    status: {code: 200, message: OK}
version: 1
