interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/usages?api-version=2017-12-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"limit\": 2000,\r\n   \
        \   \"unit\": \"Count\",\r\n      \"currentValue\": 1,\r\n      \"name\":\
        \ {\r\n        \"value\": \"availabilitySets\",\r\n        \"localizedValue\"\
        : \"Availability Sets\"\r\n      }\r\n    },\r\n    {\r\n      \"limit\":\
        \ 100,\r\n      \"unit\": \"Count\",\r\n      \"currentValue\": 9,\r\n   \
        \   \"name\": {\r\n        \"value\": \"cores\",\r\n        \"localizedValue\"\
        : \"Total Regional vCPUs\"\r\n      }\r\n    },\r\n    {\r\n      \"limit\"\
        : 10000,\r\n      \"unit\": \"Count\",\r\n      \"currentValue\": 7,\r\n \
        \     \"name\": {\r\n        \"value\": \"virtualMachines\",\r\n        \"\
        localizedValue\": \"Virtual Machines\"\r\n      }\r\n    },\r\n    {\r\n \
        \     \"limit\": 2000,\r\n      \"unit\": \"Count\",\r\n      \"currentValue\"\
        : 2,\r\n      \"name\": {\r\n        \"value\": \"virtualMachineScaleSets\"\
        ,\r\n        \"localizedValue\": \"Virtual Machine Scale Sets\"\r\n      }\r\
        \n    },\r\n    {\r\n      \"limit\": 100,\r\n      \"unit\": \"Count\",\r\
        \n      \"currentValue\": 5,\r\n      \"name\": {\r\n        \"value\": \"\
        standardDSv2Family\",\r\n        \"localizedValue\": \"Standard DSv2 Family\
        \ vCPUs\"\r\n      }\r\n    },\r\n    {\r\n      \"limit\": 100,\r\n     \
        \ \"unit\": \"Count\",\r\n      \"currentValue\": 4,\r\n      \"name\": {\r\
        \n        \"value\": \"st[...]
