interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:02:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesyncc0820c59
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Mon, 08 Jun 2020 17:02:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesyncc0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d65c53d5-9ba8-4c7d-a343-752ffd150f0a</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:02:25 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:02:25
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAPqyrlbY91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:02:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:02:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesyncc0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d65c53d5-9ba8-4c7d-a343-752ffd150f0a</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:02:25 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:02:25
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA5aWdp7Y91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:02:55 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Mon, 08 Jun 2020 17:02:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesyncc0820c59/messages/d65c53d5-9ba8-4c7d-a343-752ffd150f0a?popreceipt=AgAAAAMAAAAAAAAA5aWdp7Y91gE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAML3LlbY91gEBAAAA
      x-ms-time-next-visible:
      - Mon, 08 Jun 2020 17:02:26 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:02:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesyncc0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d65c53d5-9ba8-4c7d-a343-752ffd150f0a</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:02:25 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:02:25
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAB1e8p7Y91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:02:56 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
