interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:53:59 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorageab101218.queue.core.windows.net/mytestqueueab101218
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>AQ==</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:00 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorageab101218.queue.core.windows.net/mytestqueueab101218/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>412b98d9-2e9d-43cd-9ae2-0a7b20f069db</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:53:59 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:53:59
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAsMzyfO6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:53:59 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:00 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorageab101218.queue.core.windows.net/mytestqueueab101218/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>412b98d9-2e9d-43cd-9ae2-0a7b20f069db</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:53:59 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:53:59
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAaZvmju6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:54:30 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>AQ==</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
