interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage29f01530.queue.core.windows.net/encryptionqueue29f01530
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "JCItYzbRWy7ALcf03GIvsg==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "HUW9bV5EtaFJn940BDKmYOvtFtJlDyyJslyQ27zLRbu7+SIs4gkF5w==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "TYB5UJMekSerXOQrx4yZew==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage29f01530.queue.core.windows.net/encryptionqueue29f01530/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7004245b-688b-4e55-a7f0-3fa010446fda</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:54:29 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:54:29
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA2Wm/ju6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:54:29 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage29f01530.queue.core.windows.net/encryptionqueue29f01530/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7004245b-688b-4e55-a7f0-3fa010446fda</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:54:29 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:54:29
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAuhKzoO6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:54:59 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"JCItYzbRWy7ALcf03GIvsg==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"HUW9bV5EtaFJn940BDKmYOvtFtJlDyyJslyQ27zLRbu7+SIs4gkF5w==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"TYB5UJMekSerXOQrx4yZew==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b4\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "a+8CdbeIJIT4a67HmKY8Bg==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "03XCw0SZa9L99nhx4qyr9mYkomdWTjJ0FKkymGoWl6DkE8jFXSLlzw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "b/EYBtJqwt54O4YIf2rBIg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage29f01530.queue.core.windows.net/encryptionqueue29f01530/messages/7004245b-688b-4e55-a7f0-3fa010446fda?popreceipt=AgAAAAMAAAAAAAAAuhKzoO6D1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAek7jju6D1QEBAAAA
      x-ms-time-next-visible:
      - Wed, 16 Oct 2019 06:54:30 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage29f01530.queue.core.windows.net/encryptionqueue29f01530/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7004245b-688b-4e55-a7f0-3fa010446fda</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:54:29 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:54:29
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAzzPWoO6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:55:00 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"a+8CdbeIJIT4a67HmKY8Bg==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"03XCw0SZa9L99nhx4qyr9mYkomdWTjJ0FKkymGoWl6DkE8jFXSLlzw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"b/EYBtJqwt54O4YIf2rBIg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b4\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
