interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\x01</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:53:38 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage93de171a.queue.core.windows.net/mytestqueue93de171a/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML
        specified is not syntactically valid.\nRequestId:218586d6-4003-0024-60ee-833185000000\nTime:2019-10-16T06:53:38.4458069Z</Message><LineNumber>2</LineNumber><LinePosition>28</LinePosition><Reason>Error
        parsing Xml content</Reason></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - InvalidXmlDocument
      x-ms-version:
      - '2018-03-28'
    status:
      code: 400
      message: XML specified is not syntactically valid.
version: 1
