interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage7c4709d4.queue.core.windows.net/pythonqueue7c4709d4
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage7c4709d4.queue.core.windows.net/pythonqueue7c4709d4/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>69b76ee2-99f8-464f-acb5-a0c4249164ee</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:02:16 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:02:16
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAnXxbjJpX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:02:16 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage7c4709d4.queue.core.windows.net/pythonqueue7c4709d4/messages?peekonly=true&st=2019-08-20T20%3A57%3A17Z&se=2019-08-20T22%3A02%3A17Z&sp=r&sv=2018-03-28&sig=3XzfY/3LnXkVtsMsbqkF%2BZ6Uw1LAQBUzhd%2BbWEil%2BWs%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>69b76ee2-99f8-464f-acb5-a0c4249164ee</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:02:16 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:02:16
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstorage7c4709d4.queue.core.windows.net/pythonqueue7c4709d4
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AccountNotFound</Code><Message>The
        specified account does not exist.\nRequestId:2bb47293-9003-000e-159a-570803000000\nTime:2019-08-20T21:02:18.3918635Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - AccountNotFound
      x-ms-version:
      - '2018-03-28'
    status:
      code: 404
      message: The specified account does not exist.
version: 1
