interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:53:59 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragec0820c59.queue.core.windows.net/pythonqueuec0820c59
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:54:00 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragec0820c59.queue.core.windows.net/pythonqueuec0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1f7a2d32-40e4-47f4-9cc0-b8e6983ee19e</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:53:58 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:53:58
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAAg07lv1k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:53:58 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:54:00 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragec0820c59.queue.core.windows.net/pythonqueuec0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1f7a2d32-40e4-47f4-9cc0-b8e6983ee19e</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:53:58 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:53:58
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0sAoqP1k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:54:28 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:54:00 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragec0820c59.queue.core.windows.net/pythonqueuec0820c59/messages/1f7a2d32-40e4-47f4-9cc0-b8e6983ee19e?popreceipt=AgAAAAMAAAAAAAAA0sAoqP1k1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAgeBSlv1k1QEBAAAA
      x-ms-time-next-visible:
      - Fri, 06 Sep 2019 21:53:58 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:54:00 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragec0820c59.queue.core.windows.net/pythonqueuec0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1f7a2d32-40e4-47f4-9cc0-b8e6983ee19e</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:53:58 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:53:58
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA4H5BqP1k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:54:28 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
