interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:39:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage74f61174.queue.core.windows.net/pythonqueue74f61174
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:39:21 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage74f61174.queue.core.windows.net/pythonqueue74f61174/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>358bec19-d1ec-4d9f-bd2e-35c70b4f638b</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:39:19 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:39:19
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAQHBKRXFY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 22:39:19 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:39:21 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage74f61174.queue.core.windows.net/pythonqueue74f61174/messages?numofmessages=4&peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>358bec19-d1ec-4d9f-bd2e-35c70b4f638b</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:39:19 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:39:19
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>16f65880-ba5e-4e56-bfa2-674a3204e1a7</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:39:19 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:39:19
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>423cf3fa-8bd2-4702-8f59-5f83c389803d</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:39:19 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:39:19
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>7bf7b832-1f37-4b43-9900-3059efa8296a</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:39:19 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:39:19
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
