interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage7e9116b3.queue.core.windows.net/asyncqueuetest
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7e9116b3.queue.core.windows.net
        - /asyncqueuetest
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>hello world</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage7e9116b3.queue.core.windows.net/asyncqueuetest/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>18f2136c-9703-4ed3-8a47-c661cd54cf5e</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:56:45 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:56:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0qV33+6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:56:45 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7e9116b3.queue.core.windows.net
        - /asyncqueuetest/messages
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>my-access-policy-id</Id><AccessPolicy><Start>2019-10-16T05:56:45Z</Start><Expiry>2019-10-16T07:56:45Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage7e9116b3.queue.core.windows.net/asyncqueuetest?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7e9116b3.queue.core.windows.net
        - /asyncqueuetest
        - comp=acl
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstorage7e9116b3.queue.core.windows.net/asyncqueuetest
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7e9116b3.queue.core.windows.net
        - /asyncqueuetest
        - ''
        - ''
version: 1
