interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesync91880abb
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:12 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesync91880abb/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>873252c5-dcf9-43da-8dfb-c18d22ebaf27</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:04:05 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:04:05
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVDc30bY91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:04:05 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:12 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesync91880abb/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>873252c5-dcf9-43da-8dfb-c18d22ebaf27</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:04:05 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:04:05
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAKAIt47Y91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:04:35 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>updatedmessage1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:12 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesync91880abb/messages/873252c5-dcf9-43da-8dfb-c18d22ebaf27?popreceipt=AgAAAAMAAAAAAAAAKAIt47Y91gE%3D&visibilitytimeout=0&se=2020-06-08T18%3A04%3A12Z&sp=u&sv=2018-03-28&sig=6nP8Pj1XWdEAn4LuDlqtRLiXS2zJ3M8nLL7rt0GHfUI%3D
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAt4em0bY91gEBAAAA
      x-ms-time-next-visible:
      - Mon, 08 Jun 2020 17:04:06 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:13 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesync91880abb/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>873252c5-dcf9-43da-8dfb-c18d22ebaf27</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:04:05 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:04:05
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA1sec47Y91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:04:36 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>updatedmessage1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
