interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:18 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesync6405110f
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:18 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesync6405110f/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fdb39e8d-fd73-4be0-a54b-ff5b473ecd48</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:18 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:18
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAWpE9ZVuP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:51:18 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesync6405110f/messages?numofmessages=4&visibilitytimeout=20
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fdb39e8d-fd73-4be0-a54b-ff5b473ecd48</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:18 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:18
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA9EBHcVuP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:51:38 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>39216381-2a62-49d8-94ba-409cc777a033</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:18 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:18
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA9EBHcVuP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:51:38 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>eaa398b9-eda5-4f52-9372-524f0ea29282</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:18 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:18
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA9EBHcVuP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:51:38 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>122258b5-c66e-4d13-ae04-9756bd99515c</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:18 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:18
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA9EBHcVuP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:51:38 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesync6405110f/messages?numofmessages=4&visibilitytimeout=20
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
