interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:48:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage74f61174.queue.core.windows.net/pythonqueue74f61174
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:48:33 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage74f61174.queue.core.windows.net/pythonqueue74f61174/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9057ffa1-76a0-4b94-b770-9556a7a7fec6</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:48:33 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:48:33
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA+OFRuu2D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:48:33 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:48:34 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage74f61174.queue.core.windows.net/pythonqueue74f61174/messages?numofmessages=4&peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9057ffa1-76a0-4b94-b770-9556a7a7fec6</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:48:33 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:48:33
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>0eb6f99e-385a-42a6-a7b6-17b4f9556c35</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:48:33 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:48:33
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>e9e124d7-3363-4873-819a-9cecf33c2d3d</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:48:33 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:48:33
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>1dc95855-b6f8-4d71-b0c3-50c112b08acf</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:48:33 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:48:33
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
