interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:04 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesyncbef712f8
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:04 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesyncbef712f8/messages?messagettl=1073741824
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>004f7411-f417-4533-88a1-853bcd9ecec7</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:03:58 GMT</InsertionTime><ExpirationTime>Thu, 18 Jun 2054 06:41:02
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAkOu+zLY91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:03:58 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:05 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesyncbef712f8/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>004f7411-f417-4533-88a1-853bcd9ecec7</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:03:58 GMT</InsertionTime><ExpirationTime>Thu, 18 Jun 2054 06:41:02
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
