interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:59:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage2fd119c6.queue.core.windows.net/encryptionqueue2fd119c6
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage2fd119c6.queue.core.windows.net
        - /encryptionqueue2fd119c6
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "tM4La/nF9V6kvYwDxYK+naGz23WxScHAj7b+yLOSc9I=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "/H8JC0h0MOCpZA0VbqKy0xxR6cgDp2H5ZFf2ux0E7IwPj3vkmtcLPg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "t6Ulax9FkgJcmg+oG5nmrw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:59:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage2fd119c6.queue.core.windows.net/encryptionqueue2fd119c6/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ecc75611-7277-45d8-a44d-09798ab0df9f</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:59:25 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:59:25
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAc6LLWP5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:59:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage2fd119c6.queue.core.windows.net
        - /encryptionqueue2fd119c6/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:59:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage2fd119c6.queue.core.windows.net/encryptionqueue2fd119c6/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ecc75611-7277-45d8-a44d-09798ab0df9f</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:59:25 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:59:25
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAa9qxav5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:59:55 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"tM4La/nF9V6kvYwDxYK+naGz23WxScHAj7b+yLOSc9I=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"/H8JC0h0MOCpZA0VbqKy0xxR6cgDp2H5ZFf2ux0E7IwPj3vkmtcLPg==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"t6Ulax9FkgJcmg+oG5nmrw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage2fd119c6.queue.core.windows.net
        - /encryptionqueue2fd119c6/messages
        - ''
        - ''
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "WGTTo1Zcm7fTqHVQKQeKddt+5p8hw8musZE9kZTRHOg=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "ufYX1fLCWVa2rakzRoTjoo1WeC3+4n9I5BqjaqSHFxFK6bX3UN9FPQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "fH3iRjMbYlbUOFHep4MJUw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:59:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage2fd119c6.queue.core.windows.net/encryptionqueue2fd119c6/messages/ecc75611-7277-45d8-a44d-09798ab0df9f?popreceipt=AgAAAAMAAAAAAAAAa9qxav5k1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt: AwAAAAMAAAAAAAAA7KvbWP5k1QEBAAAA
      x-ms-time-next-visible: Fri, 06 Sep 2019 21:59:25 GMT
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage2fd119c6.queue.core.windows.net
        - /encryptionqueue2fd119c6/messages/ecc75611-7277-45d8-a44d-09798ab0df9f
        - popreceipt=AgAAAAMAAAAAAAAAa9qxav5k1QE%3D&visibilitytimeout=0
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:59:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage2fd119c6.queue.core.windows.net/encryptionqueue2fd119c6/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage2fd119c6.queue.core.windows.net
        - /encryptionqueue2fd119c6/messages
        - ''
        - ''
version: 1
