interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:19:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage63fd1a91.queue.core.windows.net/encryptionqueue63fd1a91
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage63fd1a91.queue.core.windows.net
        - /encryptionqueue63fd1a91
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "MOopg/Vj0ZkwMvood+RpfmYeV2wXmGOxficzV5aFJkkJtLFu60QtrvfkbheJC/rvTk9aG4dgI1ims/vc5KY42aHghbN4J2Q/u3m/zJgXXEgmkWjMf/qHDG5OCp3HAkfBizatAHr6zCmfU/NsHDljOb19gVRJYx847d8oi/SkL9j4/FR2IunUfaeKXtA2bRmO",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "mkkjhZpDmw0k5XUS6y/OUDLGNMQkk8WE9+MG1gs4y1OcddYnwGE6HQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "iSZYU84WIpZgQuPN7qrUzA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:19:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage63fd1a91.queue.core.windows.net/encryptionqueue63fd1a91/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2f6a9d36-b4ae-43ae-835d-ce5e4e3cf862</MessageId><InsertionTime>Thu,
        05 Sep 2019 22:19:05 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 22:19:05
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAPin77Tdk1QE=</PopReceipt><TimeNextVisible>Thu,
        05 Sep 2019 22:19:05 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage63fd1a91.queue.core.windows.net
        - /encryptionqueue63fd1a91/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:19:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage63fd1a91.queue.core.windows.net/encryptionqueue63fd1a91/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2f6a9d36-b4ae-43ae-835d-ce5e4e3cf862</MessageId><InsertionTime>Thu,
        05 Sep 2019 22:19:05 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 22:19:05
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA84fh/zdk1QE=</PopReceipt><TimeNextVisible>Thu,
        05 Sep 2019 22:19:35 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"MOopg/Vj0ZkwMvood+RpfmYeV2wXmGOxficzV5aFJkkJtLFu60QtrvfkbheJC/rvTk9aG4dgI1ims/vc5KY42aHghbN4J2Q/u3m/zJgXXEgmkWjMf/qHDG5OCp3HAkfBizatAHr6zCmfU/NsHDljOb19gVRJYx847d8oi/SkL9j4/FR2IunUfaeKXtA2bRmO\",
        \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\":
        \"mkkjhZpDmw0k5XUS6y/OUDLGNMQkk8WE9+MG1gs4y1OcddYnwGE6HQ==\", \"Algorithm\":
        \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"iSZYU84WIpZgQuPN7qrUzA==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage63fd1a91.queue.core.windows.net
        - /encryptionqueue63fd1a91/messages
        - ''
        - ''
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "iOQ/+7dNmRuTunuq3ssTtj7GwXTHAbF6xvCMUT1cVbAemhE2VfXrOXlo/WjK8uniepGXQbImGr8KpXF+KAch0yw/tRDj1HRJuXOI7O80XtK/UmwPJXthQdVoLYenppzRw4R+jT5dRycE2eLkNAil93SCMnp5mflslO7KujIJ3YM+JscHyAjxl5mC01NhuZcD",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "uNQ9r0gNBG4sEN5b3M9lBD25aqEWv//T5ykAlSxPSVS94tZYGBRF5A==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "/hm/GGgT3PtmgTIavsEHDQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:19:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage63fd1a91.queue.core.windows.net/encryptionqueue63fd1a91/messages/2f6a9d36-b4ae-43ae-835d-ce5e4e3cf862?popreceipt=AgAAAAMAAAAAAAAA84fh/zdk1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt: AwAAAAMAAAAAAAAAAm4K7jdk1QEBAAAA
      x-ms-time-next-visible: Thu, 05 Sep 2019 22:19:05 GMT
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage63fd1a91.queue.core.windows.net
        - /encryptionqueue63fd1a91/messages/2f6a9d36-b4ae-43ae-835d-ce5e4e3cf862
        - popreceipt=AgAAAAMAAAAAAAAA84fh/zdk1QE%3D&visibilitytimeout=0
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:19:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage63fd1a91.queue.core.windows.net/encryptionqueue63fd1a91/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage63fd1a91.queue.core.windows.net
        - /encryptionqueue63fd1a91/messages
        - ''
        - ''
version: 1
