interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:05:00 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesync6405110f
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Mon, 08 Jun 2020 17:05:01 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesync6405110f/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1164f797-f0a5-4595-a130-f8c287689dec</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:04:54 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:04:54
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAliIx7rY91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:04:54 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:05:01 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesync6405110f/messages?numofmessages=4&visibilitytimeout=20
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1164f797-f0a5-4595-a130-f8c287689dec</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:04:54 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:04:54
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAjxxw+rY91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:05:14 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>f626ecc9-b2b9-480e-873c-cc2fba610363</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:04:54 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:04:54
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAjxxw+rY91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:05:14 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>7dc252f8-2980-43c8-b382-7a870590196d</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:04:54 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:04:54
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAjxxw+rY91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:05:14 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>b46befd1-3eaa-443d-a943-55b9e0a9a12a</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:04:54 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:04:54
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAjxxw+rY91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:05:14 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:05:01 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesync6405110f/messages?numofmessages=4&visibilitytimeout=20
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
