interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:12:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuebf740c50
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:12:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuebf740c50/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>76b297ff-1aca-439a-952c-c84b470ad97d</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:12:45 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:12:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAyCEY2zYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:12:45 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:12:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuebf740c50/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:09 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuebf740c50
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:09 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueuebf740c50/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0f0e43c8-6991-4ec1-bd29-a20274d1e9ee</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:18:09 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:18:09
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAcT7pmzcp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:18:09 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:10 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueuebf740c50/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueuebf740c50
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueuebf740c50/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b20aacba-cb1e-47d1-a624-f78ce6373024</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:28:54 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:28:54
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAmdI99OZH1QE=</PopReceipt><TimeNextVisible>Wed,
        31 Jul 2019 21:28:54 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:56 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueuebf740c50/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
