interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:27:05 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage577f1613.queue.core.windows.net/encryptionqueue577f1613
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "3YiXmnGWEZkWCVDLcvBN2Q==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "eWJQ+DGl7Yq6q2ruKkqzCyiA0GA0XZI6jPJIQ+/hZVJ0XeMRgL2LaA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "GeyUpzuzgJTun1abbGlEbQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:27:05 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage577f1613.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>dff52298-758d-4dac-bc35-fa1aae57994c</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:27:05 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:27:05
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA9U+/4W9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:27:05 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:27:05 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage577f1613.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>dff52298-758d-4dac-bc35-fa1aae57994c</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:27:05 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:27:05
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAHLGu829j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:27:35 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"3YiXmnGWEZkWCVDLcvBN2Q==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"eWJQ+DGl7Yq6q2ruKkqzCyiA0GA0XZI6jPJIQ+/hZVJ0XeMRgL2LaA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"GeyUpzuzgJTun1abbGlEbQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
