interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:20:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage9ccd0b37.queue.core.windows.net/pythonqueue9ccd0b37
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:20:18 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage9ccd0b37.queue.core.windows.net/pythonqueue9ccd0b37/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>81464d6b-54fd-4eae-a7bb-7e2d69dabb17</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:20:16 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:20:16
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABZ8lgB6J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:20:16 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:20:18 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage9ccd0b37.queue.core.windows.net/pythonqueue9ccd0b37/messages?se=2019-10-22T22%3A20%3A18Z&sp=p&sv=2018-03-28&sig=lxfMCF8ZU0U5E/g5HXwtvYvN9YChkfrcHPJgHlsOxGM%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>81464d6b-54fd-4eae-a7bb-7e2d69dabb17</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:20:16 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:20:16
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAhvs1kh6J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:20:47 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
