interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueuef6bf0e06
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 31 Jul 2019 21:28:08 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueuef6bf0e06
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueuef6bf0e06/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>81f281f5-72af-4822-be67-2b67b989ccfe</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:28:09 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:28:09
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA6Z2M2eZH1QE=</PopReceipt><TimeNextVisible>Wed,
        31 Jul 2019 21:28:09 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 31 Jul 2019 21:28:08 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueuef6bf0e06/messages
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueuef6bf0e06/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>81f281f5-72af-4822-be67-2b67b989ccfe</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:28:09 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:28:09
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAUtB/6+ZH1QE=</PopReceipt><TimeNextVisible>Wed,
        31 Jul 2019 21:28:39 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Cache-Control
      : no-cache
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 31 Jul 2019 21:28:08 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueuef6bf0e06/messages
        - ''
        - ''
[...]
