interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:52:03 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage9c250b25.queue.core.windows.net/pythonqueue9c250b25
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:52:04 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage9c250b25.queue.core.windows.net/pythonqueue9c250b25/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b4d0220c-ce49-4953-86fd-871e34eb269f</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:52:02 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:52:02
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAZasDUf1k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:52:02 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 21:52:04 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage9c250b25.queue.core.windows.net/pythonqueue9c250b25/messages?peekonly=true&st=2019-09-06T21%3A47%3A04Z&se=2019-09-06T22%3A52%3A04Z&sp=r&sv=2018-03-28&ss=q&srt=o&sig=SpqwtmOiwSKHBHaK2lrd5QSOc3KluM8DYlG2iZn6YE0%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b4d0220c-ce49-4953-86fd-871e34eb269f</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:52:02 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:52:02
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
