interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 May 2022 23:32:00 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueueff191437
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "LZMk+/EnPnROVSdHRPKIfP4vPjdPdfCljG1jnsnPuckgji4b3g2ud3JK/SWd/snwG7k=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "kAeH26jizVN0Y+WwuhSs/6UejUuJCqa5lFSq4KxtJFTrp2mRw9L8og==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"EncryptedRegionDataLength": 4194304,
      "NonceLength": 12, "TagLength": 16}, "KeyWrappingMetadata": {"EncryptionLibrary":
      "Python 12.3.1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 18 May 2022 23:32:00 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueueff191437/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c9557b24-f3cc-4d72-b4d7-d83b8e895c99</MessageId><InsertionTime>Wed,
        18 May 2022 23:32:00 GMT</InsertionTime><ExpirationTime>Wed, 25 May 2022 23:32:00
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAOE4weQ9r2AE=</PopReceipt><TimeNextVisible>Wed,
        18 May 2022 23:32:00 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 May 2022 23:32:00 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueueff191437/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c9557b24-f3cc-4d72-b4d7-d83b8e895c99</MessageId><InsertionTime>Wed,
        18 May 2022 23:32:00 GMT</InsertionTime><ExpirationTime>Wed, 25 May 2022 23:32:00
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVa8diw9r2AE=</PopReceipt><TimeNextVisible>Wed,
        18 May 2022 23:32:31 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"LZMk+/EnPnROVSdHRPKIfP4vPjdPdfCljG1jnsnPuckgji4b3g2ud3JK/SWd/snwG7k=\",
        \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\":
        \"kAeH26jizVN0Y+WwuhSs/6UejUuJCqa5lFSq4KxtJFTrp2mRw9L8og==\", \"Algorithm\":
        \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\":
        \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"EncryptedRegionDataLength\":
        4194304, \"NonceLength\": 12, \"TagLength\": 16}, \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.3.1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
