interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage3fc115ad.queue.core.windows.net/encryptionqueue3fc115ad
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3fc115ad.queue.core.windows.net
        - /encryptionqueue3fc115ad
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "vRyWnCHyYM7by41P+IDcVg==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "6HNUva7RTRIkBbnIVLe6U1ezJUBSE6D7sN5IFq62Vf6RhKHkmKDeDw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "vcCmKVagjajpBWTzGdUCug==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage3fc115ad.queue.core.windows.net/encryptionqueue3fc115ad/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4911ecba-94b9-4802-a651-8c8d223be1e3</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:55:47 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:55:47
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA8hNYve6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:55:47 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3fc115ad.queue.core.windows.net
        - /encryptionqueue3fc115ad/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage3fc115ad.queue.core.windows.net/encryptionqueue3fc115ad/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4911ecba-94b9-4802-a651-8c8d223be1e3</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:55:47 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:55:47
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"vRyWnCHyYM7by41P+IDcVg==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"6HNUva7RTRIkBbnIVLe6U1ezJUBSE6D7sN5IFq62Vf6RhKHkmKDeDw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"vcCmKVagjajpBWTzGdUCug==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b4\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3fc115ad.queue.core.windows.net
        - /encryptionqueue3fc115ad/messages
        - peekonly=true
        - ''
version: 1
