interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesync9c250b25
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesync9c250b25/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9e616c03-cfaf-4652-b8bb-2aab50f67966</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:04:44 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:04:44
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAc0qS6LY91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:04:44 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesync9c250b25/messages?peekonly=true&st=2020-06-08T16%3A59%3A51Z&se=2020-06-08T18%3A04%3A51Z&sp=r&sv=2018-03-28&ss=q&srt=o&sig=pLbweD2ZlgNN2U1xcVV%2BlLEuL%2Bc89BUhuQVPK80tLoQ%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9e616c03-cfaf-4652-b8bb-2aab50f67966</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:04:44 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:04:44
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
