interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/delqueue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/delqueue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f1519661-0f4b-42c0-af45-b87de1c5505c</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:33:46 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 22:33:46
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAsh4LWYJJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 22:33:46 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/delqueue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f1519661-0f4b-42c0-af45-b87de1c5505c</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:33:46 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 22:33:46
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAC7s3a4JJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 22:34:17 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://storagename.queue.core.windows.net/delqueue/messages/f1519661-0f4b-42c0-af45-b87de1c5505c?popreceipt=AgAAAAMAAAAAAAAAC7s3a4JJ1QE%3D
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://storagename.queue.core.windows.net/delqueue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
version: 1
