interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:27:09 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage3fc115ad.queue.core.windows.net/encryptionqueue3fc115ad
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3fc115ad.queue.core.windows.net
        - /encryptionqueue3fc115ad
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "Y76uEhiJm0EKeIWNOwV8zw==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "c2HFxEzN48wJvHNCNhRonuEvUK7tTk7SbNkiB3+ipk0W7HyBh1sMGA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "kYf+R6GQK8bPjJsuwVK9Bg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:27:09 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage3fc115ad.queue.core.windows.net/encryptionqueue3fc115ad/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>25215b6c-00a8-4b5f-9062-270b3b9eed33</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:27:08 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:27:08
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAdPJJdR+J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:27:08 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3fc115ad.queue.core.windows.net
        - /encryptionqueue3fc115ad/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:27:09 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage3fc115ad.queue.core.windows.net/encryptionqueue3fc115ad/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>25215b6c-00a8-4b5f-9062-270b3b9eed33</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:27:08 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:27:08
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"Y76uEhiJm0EKeIWNOwV8zw==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"c2HFxEzN48wJvHNCNhRonuEvUK7tTk7SbNkiB3+ipk0W7HyBh1sMGA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"kYf+R6GQK8bPjJsuwVK9Bg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b4\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3fc115ad.queue.core.windows.net
        - /encryptionqueue3fc115ad/messages
        - peekonly=true
        - ''
version: 1
