interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:32:52 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuebef712f8
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:32:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueuebef712f8/messages?messagettl=1073741824
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ee999eef-2970-40b3-aee0-142488c20988</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:32:52 GMT</InsertionTime><ExpirationTime>Mon, 11 Aug 2053 12:09:56
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAIbkLOYJJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 22:32:52 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:32:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueuebef712f8/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ee999eef-2970-40b3-aee0-142488c20988</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:32:52 GMT</InsertionTime><ExpirationTime>Mon, 11 Aug 2053 12:09:56
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
