interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:50:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoraged5b0137d.queue.core.windows.net/pythonqueued5b0137d
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoraged5b0137d.queue.core.windows.net
        - /pythonqueued5b0137d
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:50:28 GMT
      x-ms-meta-val1:
      - test
      x-ms-meta-val2:
      - blah
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoraged5b0137d.queue.core.windows.net/pythonqueued5b0137d?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoraged5b0137d.queue.core.windows.net
        - /pythonqueued5b0137d
        - comp=metadata
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:50:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoraged5b0137d.queue.core.windows.net/?prefix=pythonqueued5b0137d&maxresults=1&include=metadata&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoraged5b0137d.queue.core.windows.net/\"><Prefix>pythonqueued5b0137d</Prefix><MaxResults>1</MaxResults><Queues><Queue><Name>pythonqueued5b0137d</Name><Metadata><val1>test</val1><val2>blah</val2></Metadata></Queue></Queues><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoraged5b0137d.queue.core.windows.net
        - /
        - prefix=pythonqueued5b0137d&maxresults=1&include=metadata&comp=list
        - ''
version: 1
