interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><MinuteMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>366</Days></RetentionPolicy></MinuteMetrics></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 22:00:54 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage57af1626.queue.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML
        specified is not syntactically valid.\nRequestId:5b2f3e1e-4003-00ed-20fe-645c45000000\nTime:2019-09-06T22:00:53.6829721Z</Message><LineNumber>2</LineNumber><LinePosition>176</LinePosition><Reason>Retention
        days must be greater than 0 and less than or equal to 365 days.</Reason></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - InvalidXmlDocument
      x-ms-version:
      - '2018-03-28'
    status:
      code: 400
      message: XML specified is not syntactically valid.
version: 1
