interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jun 2022 00:53:57 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue80c1168e
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "yADCSLQlEBNN6TcLtsgSdYN38x0YYsXgI82pPIjQJFp8INLwNBRkm07XyljrmUCHGZQ=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "1fzktAMNAxqilzQqBVq16tktGNFO9rQwRpGR3LiJmu8n4rh30LJQ86kCmRggTgoW",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"DataLength": 4194304, "NonceLength":
      12}, "KeyWrappingMetadata": {"EncryptionLibrary": "Python 12.4.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 15 Jun 2022 00:53:57 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue80c1168e/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f91688a8-46ad-495e-b5eb-f8dea3bbbfdb</MessageId><InsertionTime>Wed,
        15 Jun 2022 00:53:57 GMT</InsertionTime><ExpirationTime>Wed, 22 Jun 2022 00:53:57
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAsf/qZFKA2AE=</PopReceipt><TimeNextVisible>Wed,
        15 Jun 2022 00:53:57 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jun 2022 00:53:57 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue80c1168e/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f91688a8-46ad-495e-b5eb-f8dea3bbbfdb</MessageId><InsertionTime>Wed,
        15 Jun 2022 00:53:57 GMT</InsertionTime><ExpirationTime>Wed, 22 Jun 2022 00:53:57
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAULPWdlKA2AE=</PopReceipt><TimeNextVisible>Wed,
        15 Jun 2022 00:54:27 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"yADCSLQlEBNN6TcLtsgSdYN38x0YYsXgI82pPIjQJFp8INLwNBRkm07XyljrmUCHGZQ=\",
        \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\":
        \"1fzktAMNAxqilzQqBVq16tktGNFO9rQwRpGR3LiJmu8n4rh30LJQ86kCmRggTgoW\", \"Algorithm\":
        \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\":
        \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"DataLength\": 4194304, \"NonceLength\":
        12}, \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 12.4.0b1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
