{
  "Entries": [
    {
      "RequestUri": "https://storagename.queue.core.windows.net/pyqueuesync830b28cc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 27 Oct 2022 22:04:58 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.queue.core.windows.net/pyqueuesync830b28cc/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 27 Oct 2022 22:04:58 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CQueueMessage\u003E\u003CMessageText\u003Emessage1\u003C/MessageText\u003E\u003C/QueueMessage\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CQueueMessagesList\u003E\u003CQueueMessage\u003E\u003CMessageId\u003E97b09622-0cf2-494e-bf3a-ea9c2842a7b6\u003C/MessageId\u003E\u003CInsertionTime\u003EThu, 27 Oct 2022 22:04:58 GMT\u003C/InsertionTime\u003E\u003CExpirationTime\u003EThu, 03 Nov 2022 22:04:58 GMT\u003C/ExpirationTime\u003E\u003CPopReceipt\u003EAgAAAAMAAAAAAAAAMwBVJ1Dq2AE=\u003C/PopReceipt\u003E\u003CTimeNextVisible\u003EThu, 27 Oct 2022 22:04:58 GMT\u003C/TimeNextVisible\u003E\u003C/QueueMessage\u003E\u003C/QueueMessagesList\u003E"
    },
[...]
    {
      "RequestUri": "https://storagename.queue.core.windows.net/pyqueuesync830b28cc/messages/97b09622-0cf2-494e-bf3a-ea9c2842a7b6?popreceipt=AgAAAAMAAAAAAAAALNdCOVDq2AE%3D\u0026visibilitytimeout=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 27 Oct 2022 22:04:58 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CQueueMessage\u003E\u003CMessageText\u003Enew text\u003C/MessageText\u003E\u003C/QueueMessage\u003E"
      ],
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-popreceipt": "AwAAAAMAAAAAAAAAWwRuJ1Dq2AEBAAAA",
        "x-ms-time-next-visible": "Thu, 27 Oct 2022 22:04:58 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.queue.core.windows.net/pyqueuesync830b28cc/messages",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 27 Oct 2022 22:04:58 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CQueueMessagesList\u003E\u003CQueueMessage\u003E\u003CMessageId\u003E97b09622-0cf2-494e-bf3a-ea9c2842a7b6\u003C/MessageId\u003E\u003CInsertionTime\u003EThu, 27 Oct 2022 22:04:58 GMT\u003C/InsertionTime\u003E\u003CExpirationTime\u003EThu, 03 Nov 2022 22:04:58 GMT\u003C/ExpirationTime\u003E\u003CPopReceipt\u003EAgAAAAMAAAAAAAAAvxNdOVDq2AE=\u003C/PopReceipt\u003E\u003CTimeNextVisible\u003EThu, 27 Oct 2022 22:05:28 GMT\u003C/TimeNextVisible\u003E\u003CDequeueCount\u003E2\u003C/DequeueCount\u003E\u003CMessageText\u003Enew text\u003C/MessageText\u003E\u003C/QueueMessage\u003E\u003C/QueueMessagesList\u003E"
    }
  ],
  "Variables": {}
}
