interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:32:50 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueue74f61174
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:32:50 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueue74f61174/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e1e656fd-c246-45ec-8e63-f8c9196b304b</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:32:50 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 22:32:50
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAJMGXN4JJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 22:32:50 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:32:50 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueue74f61174/messages?numofmessages=4&peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e1e656fd-c246-45ec-8e63-f8c9196b304b</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:32:50 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 22:32:50
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>a3c823c5-0ea7-42f6-95da-ed8d1ff914a4</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:32:50 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 22:32:50
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>f2a69613-eef2-4ae8-ba75-32b65833a2a8</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:32:50 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 22:32:50
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>874bf977-0d67-4497-a5d7-0bcd0460b62f</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:32:50 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 22:32:50
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
