interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue509615f0
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>  mess\t
      age1\n</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue509615f0/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3e514b16-c3f3-4133-bf4b-581cc47a3c08</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:45 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAsVOAdVuP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:51:45 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue509615f0/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3e514b16-c3f3-4133-bf4b-581cc47a3c08</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:45 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAm1xqh1uP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:52:15 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>
        \ mess\t age1\n</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
