interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 23:25:30 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue1434191b
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "SgO6wmEicLT7tGGBcZ8p3STA/gc2X9DqPQnjp0p8yH3fJbQHSLmQUw==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "Y8CU6GOnhJfRrFhVyU7lhsmHN9YsPDPv8cF4lWVLPfKINQ6l9XdSJQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"EncryptedRegionDataLength": 4194304,
      "NonceLength": 12, "TagLength": 16}, "KeyWrappingMetadata": {"EncryptionLibrary":
      "Python 12.3.1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Tue, 31 May 2022 23:25:30 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue1434191b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>72dc4cc0-bec4-42d8-8eb6-86bbacf1a6d8</MessageId><InsertionTime>Tue,
        31 May 2022 23:25:30 GMT</InsertionTime><ExpirationTime>Tue, 07 Jun 2022 23:25:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAWgrpt0V12AE=</PopReceipt><TimeNextVisible>Tue,
        31 May 2022 23:25:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 May 2022 23:25:30 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue1434191b/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>72dc4cc0-bec4-42d8-8eb6-86bbacf1a6d8</MessageId><InsertionTime>Tue,
        31 May 2022 23:25:30 GMT</InsertionTime><ExpirationTime>Tue, 07 Jun 2022 23:25:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAEQzVyUV12AE=</PopReceipt><TimeNextVisible>Tue,
        31 May 2022 23:26:00 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"SgO6wmEicLT7tGGBcZ8p3STA/gc2X9DqPQnjp0p8yH3fJbQHSLmQUw==\", \"EncryptionData\":
        {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"Y8CU6GOnhJfRrFhVyU7lhsmHN9YsPDPv8cF4lWVLPfKINQ6l9XdSJQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\":
        \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"EncryptedRegionDataLength\":
        4194304, \"NonceLength\": 12, \"TagLength\": 16}, \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.3.1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "RPW2ZZn1bIROwajIJVy059ywW4wofeXdwqgyuj1BAIWBwvH5O0d/Kg==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "MOMFJ8MGblfg098nWLKPYN7USNDgtRzOCFDLaceHVde+h769J8eaiQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"EncryptedRegionDataLength": 4194304,
      "NonceLength": 12, "TagLength": 16}, "KeyWrappingMetadata": {"EncryptionLibrary":
      "Python 12.3.1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Tue, 31 May 2022 23:25:30 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue1434191b/messages/72dc4cc0-bec4-42d8-8eb6-86bbacf1a6d8?popreceipt=AgAAAAMAAAAAAAAAEQzVyUV12AE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAVcP/t0V12AEBAAAA
      x-ms-time-next-visible:
      - Tue, 31 May 2022 23:25:30 GMT
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
[...]
