interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:12:50 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuea7c20b89
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:12:50 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuea7c20b89/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6a602203-637a-4658-b3ef-d58caa8c9610</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:12:50 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:12:50
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAtZ4n3jYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:12:50 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:12:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuea7c20b89/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6a602203-637a-4658-b3ef-d58caa8c9610</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:12:50 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:12:50
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAwtUs8DYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:13:21 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuea7c20b89
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueuea7c20b89/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3284ac50-0055-45ec-b88d-65800548a26c</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:18:15 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:18:15
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAemmynzcp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:18:15 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:29:02 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuea7c20b89
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 01 Aug 2019 22:41:08 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueuea7c20b89/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>38b3bcf2-09e8-40a9-b5df-677af260b31f</MessageId><InsertionTime>Thu,
        01 Aug 2019 22:41:05 GMT</InsertionTime><ExpirationTime>Thu, 08 Aug 2019 22:41:05
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAOdM4RrpI1QE=</PopReceipt><TimeNextVisible>Thu,
        01 Aug 2019 22:41:35 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
