interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:08:54 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoraged7de1393.queue.core.windows.net/encryptionqueued7de1393
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:08:54 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoraged7de1393.queue.core.windows.net/encryptionqueued7de1393/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b79f246f-4bf4-4030-be8b-5ecf99c31a55</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:08:53 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:08:53
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAjCbveJtX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:08:53 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:08:54 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoraged7de1393.queue.core.windows.net/encryptionqueued7de1393/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b79f246f-4bf4-4030-be8b-5ecf99c31a55</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:08:53 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:08:53
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA/pzdiptX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:09:23 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
