interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:25:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorageaa76175b.queue.core.windows.net/pythonqueueaa76175b
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaa76175b.queue.core.windows.net
        - /pythonqueueaa76175b
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:25:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorageaa76175b.queue.core.windows.net/pythonqueueaa76175b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3de31818-187f-46c9-8bc7-a1187792598a</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:25:17 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:25:17
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAkLZUoW9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:25:17 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaa76175b.queue.core.windows.net
        - /pythonqueueaa76175b/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:25:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorageaa76175b.queue.core.windows.net/pythonqueueaa76175b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3de31818-187f-46c9-8bc7-a1187792598a</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:25:17 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:25:17
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAHsc6s29j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:25:47 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaa76175b.queue.core.windows.net
        - /pythonqueueaa76175b/messages
        - ''
        - ''
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:25:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorageaa76175b.queue.core.windows.net/pythonqueueaa76175b/messages/3de31818-187f-46c9-8bc7-a1187792598a?popreceipt=AgAAAAMAAAAAAAAAHsc6s29j1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt: AwAAAAMAAAAAAAAA1hBjoW9j1QEBAAAA
      x-ms-time-next-visible: Wed, 04 Sep 2019 22:25:17 GMT
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaa76175b.queue.core.windows.net
        - /pythonqueueaa76175b/messages/3de31818-187f-46c9-8bc7-a1187792598a
        - popreceipt=AgAAAAMAAAAAAAAAHsc6s29j1QE%3D&visibilitytimeout=0
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:25:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorageaa76175b.queue.core.windows.net/pythonqueueaa76175b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaa76175b.queue.core.windows.net
        - /pythonqueueaa76175b/messages
        - ''
        - ''
version: 1
