interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 May 2022 18:51:06 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue80c1168e
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "E3T4ukeab6hVsYz9c0VKbKDD02Ogw9OvVvERUltFuGHC/89t8JKKYDxKp6Wt34/wCY4=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "XIRlkoc9x6tIaC3HoL4ekUOrf5OT/MDR4BzwUgksctPcUMxAf0/MIQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"EncryptedRegionDataLength": 4194304,
      "NonceLength": 12, "TagLength": 16}, "KeyWrappingMetadata": {"EncryptionLibrary":
      "Python 12.3.1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 19 May 2022 18:51:06 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue80c1168e/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>af147b8c-241e-46cc-bfee-388ae280f233</MessageId><InsertionTime>Thu,
        19 May 2022 18:51:06 GMT</InsertionTime><ExpirationTime>Thu, 26 May 2022 18:51:06
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAT7LSZbFr2AE=</PopReceipt><TimeNextVisible>Thu,
        19 May 2022 18:51:06 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 May 2022 18:51:06 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue80c1168e/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>af147b8c-241e-46cc-bfee-388ae280f233</MessageId><InsertionTime>Thu,
        19 May 2022 18:51:06 GMT</InsertionTime><ExpirationTime>Thu, 26 May 2022 18:51:06
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAW+y/d7Fr2AE=</PopReceipt><TimeNextVisible>Thu,
        19 May 2022 18:51:36 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"E3T4ukeab6hVsYz9c0VKbKDD02Ogw9OvVvERUltFuGHC/89t8JKKYDxKp6Wt34/wCY4=\",
        \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\":
        \"XIRlkoc9x6tIaC3HoL4ekUOrf5OT/MDR4BzwUgksctPcUMxAf0/MIQ==\", \"Algorithm\":
        \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\":
        \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"EncryptedRegionDataLength\":
        4194304, \"NonceLength\": 12, \"TagLength\": 16}, \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.3.1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
