interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:22 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage4ea015da.queue.core.windows.net/pythonqueue4ea015da
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-16T06:49:23Z</Start><Expiry>2019-10-16T07:54:23Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:23 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage4ea015da.queue.core.windows.net/pythonqueue4ea015da?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:23 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage4ea015da.queue.core.windows.net/pythonqueue4ea015da?comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-16T06:49:23.0000000Z</Start><Expiry>2019-10-16T07:54:23.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
