interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec34e1330
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "1q7HPs41XoFUlPEgMSRxBQ==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "mH5HVI20jlPfCvmooK0mxrRb+nFjGaf5aBDTwOT8dCGTUa7fK8sfrw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "FxuaSmvm9RNdg1tDCf7o0w==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuec34e1330/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>13f572c4-4bd6-45fa-bfb0-cd27a1fb0ca1</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:33:42 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 22:33:42
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAGYWFVoJJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 22:33:42 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuec34e1330/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>13f572c4-4bd6-45fa-bfb0-cd27a1fb0ca1</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:33:42 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 22:33:42
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"1q7HPs41XoFUlPEgMSRxBQ==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"mH5HVI20jlPfCvmooK0mxrRb+nFjGaf5aBDTwOT8dCGTUa7fK8sfrw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"FxuaSmvm9RNdg1tDCf7o0w==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
