interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:21:10 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragec0820c59.queue.core.windows.net/pythonqueuec0820c59
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:21:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragec0820c59.queue.core.windows.net/pythonqueuec0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>283f935d-5a66-4a34-8b2f-ced04ae2dbca</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:21:10 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:21:10
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAa0Hhnx6J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:21:10 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:21:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragec0820c59.queue.core.windows.net/pythonqueuec0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>283f935d-5a66-4a34-8b2f-ced04ae2dbca</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:21:10 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:21:10
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAbinSsR6J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:21:40 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:21:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragec0820c59.queue.core.windows.net/pythonqueuec0820c59/messages/283f935d-5a66-4a34-8b2f-ced04ae2dbca?popreceipt=AgAAAAMAAAAAAAAAbinSsR6J1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAA1r9nx6J1QEBAAAA
      x-ms-time-next-visible:
      - Tue, 22 Oct 2019 21:21:10 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:21:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragec0820c59.queue.core.windows.net/pythonqueuec0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>283f935d-5a66-4a34-8b2f-ced04ae2dbca</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:21:10 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:21:10
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAldDrsR6J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:21:40 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
