{
  "Entries": [
    {
      "RequestUri": "https://storagename.queue.core.windows.net/mytestqueueb6643230",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 26 Oct 2022 23:31:17 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.queue.core.windows.net/mytestqueueb6643230/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 26 Oct 2022 23:31:17 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CQueueMessage\u003E\u003CMessageText\u003E  mess\t age1\n",
        "\u003C/MessageText\u003E\u003C/QueueMessage\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CQueueMessagesList\u003E\u003CQueueMessage\u003E\u003CMessageId\u003Ebbbab0e0-527d-4e88-841c-fab08a907ee7\u003C/MessageId\u003E\u003CInsertionTime\u003EWed, 26 Oct 2022 23:31:17 GMT\u003C/InsertionTime\u003E\u003CExpirationTime\u003EWed, 02 Nov 2022 23:31:17 GMT\u003C/ExpirationTime\u003E\u003CPopReceipt\u003EAgAAAAMAAAAAAAAANlKFC5Pp2AE=\u003C/PopReceipt\u003E\u003CTimeNextVisible\u003EWed, 26 Oct 2022 23:31:17 GMT\u003C/TimeNextVisible\u003E\u003C/QueueMessage\u003E\u003C/QueueMessagesList\u003E"
    },
    {
      "RequestUri": "https://storagename.queue.core.windows.net/mytestqueueb6643230/messages",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 26 Oct 2022 23:31:17 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CQueueMessagesList\u003E\u003CQueueMessage\u003E\u003CMessageId\u003Ebbbab0e0-527d-4e88-841c-fab08a907ee7\u003C/MessageId\u003E\u003CInsertionTime\u003EWed, 26 Oct 2022 23:31:17 GMT\u003C/InsertionTime\u003E\u003CExpirationTime\u003EWed, 02 Nov 2022 23:31:17 GMT\u003C/ExpirationTime\u003E\u003CPopReceipt\u003EAgAAAAMAAAAAAAAA85l1HZPp2AE=\u003C/PopReceipt\u003E\u003CTimeNextVisible\u003EWed, 26 Oct 2022 23:31:47 GMT\u003C/TimeNextVisible\u003E\u003CDequeueCount\u003E1\u003C/DequeueCount\u003E\u003CMessageText\u003E  mess\t age1\n",
        "\u003C/MessageText\u003E\u003C/QueueMessage\u003E\u003C/QueueMessagesList\u003E"
      ]
    }
  ],
  "Variables": {}
}
