interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:18:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorageb1de17b2.queue.core.windows.net/encryptionqueueb1de17b2
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageb1de17b2.queue.core.windows.net
        - /encryptionqueueb1de17b2
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "MfxJZxhy18Havc1/G89LLg==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "6GOKwgV32T8099PTZrA8N/ARYvQ8kdBm+DwKv5YgzGOCn0vu2leZxw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "cWjhmYjvLEKGsWdC6QeG7g==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:18:43 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorageb1de17b2.queue.core.windows.net/encryptionqueueb1de17b2/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>645b9216-9abe-440f-9d10-7f738743f97d</MessageId><InsertionTime>Thu,
        05 Sep 2019 22:18:42 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 22:18:42
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA6SMb4Ddk1QE=</PopReceipt><TimeNextVisible>Thu,
        05 Sep 2019 22:18:42 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageb1de17b2.queue.core.windows.net
        - /encryptionqueueb1de17b2/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:18:43 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorageb1de17b2.queue.core.windows.net/encryptionqueueb1de17b2/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>645b9216-9abe-440f-9d10-7f738743f97d</MessageId><InsertionTime>Thu,
        05 Sep 2019 22:18:42 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 22:18:42
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"MfxJZxhy18Havc1/G89LLg==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"6GOKwgV32T8099PTZrA8N/ARYvQ8kdBm+DwKv5YgzGOCn0vu2leZxw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"cWjhmYjvLEKGsWdC6QeG7g==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageb1de17b2.queue.core.windows.net
        - /encryptionqueueb1de17b2/messages
        - peekonly=true
        - ''
[...]
