interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragead501286.queue.core.windows.net/peekqueue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragead501286.queue.core.windows.net/peekqueue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6ce786bc-9018-471e-871f-141fd9242165</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:29:15 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:29:15
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAlmMXL3Bj1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:29:15 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragead501286.queue.core.windows.net/peekqueue/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6ce786bc-9018-471e-871f-141fd9242165</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:29:15 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:29:15
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragead501286.queue.core.windows.net/peekqueue/messages?numofmessages=5&peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6ce786bc-9018-471e-871f-141fd9242165</MessageId><In[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragead501286.queue.core.windows.net/peekqueue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
version: 1
