interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:48:54 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragefb421443.queue.core.windows.net/pythonqueuefb421443
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:48:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragefb421443.queue.core.windows.net/pythonqueuefb421443/messages?messagettl=-1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7ce8c658-9bb7-471c-b766-082af44e05f0</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:48:54 GMT</InsertionTime><ExpirationTime>Fri, 31 Dec 9999 23:59:59
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAALkEdx+2D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:48:54 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:48:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragefb421443.queue.core.windows.net/pythonqueuefb421443/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7ce8c658-9bb7-471c-b766-082af44e05f0</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:48:54 GMT</InsertionTime><ExpirationTime>Fri, 31 Dec 9999 23:59:59
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
