{
  "Entries": [
    {
      "RequestUri": "https://storagename.queue.core.windows.net/encryptionqueue407d3552",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 01 Nov 2022 00:16:26 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.queue.core.windows.net/encryptionqueue407d3552/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Tue, 01 Nov 2022 00:16:26 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CQueueMessage\u003E\u003CMessageText\u003Emessage\u003C/MessageText\u003E\u003C/QueueMessage\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CQueueMessagesList\u003E\u003CQueueMessage\u003E\u003CMessageId\u003Ee6b29940-6cf3-4c1c-b08f-04e5bfab7396\u003C/MessageId\u003E\u003CInsertionTime\u003ETue, 01 Nov 2022 00:16:26 GMT\u003C/InsertionTime\u003E\u003CExpirationTime\u003ETue, 08 Nov 2022 00:16:26 GMT\u003C/ExpirationTime\u003E\u003CPopReceipt\u003EAgAAAAMAAAAAAAAA9ArLLoft2AE=\u003C/PopReceipt\u003E\u003CTimeNextVisible\u003ETue, 01 Nov 2022 00:16:26 GMT\u003C/TimeNextVisible\u003E\u003C/QueueMessage\u003E\u003C/QueueMessagesList\u003E"
    },
    {
      "RequestUri": "https://storagename.queue.core.windows.net/encryptionqueue407d3552/messages",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 01 Nov 2022 00:16:26 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CQueueMessagesList\u003E\u003CQueueMessage\u003E\u003CMessageId\u003Ee6b29940-6cf3-4c1c-b08f-04e5bfab7396\u003C/MessageId\u003E\u003CInsertionTime\u003ETue, 01 Nov 2022 00:16:26 GMT\u003C/InsertionTime\u003E\u003CExpirationTime\u003ETue, 08 Nov 2022 00:16:26 GMT\u003C/ExpirationTime\u003E\u003CPopReceipt\u003EAgAAAAMAAAAAAAAA3Lq4QIft2AE=\u003C/PopReceipt\u003E\u003CTimeNextVisible\u003ETue, 01 Nov 2022 00:16:56 GMT\u003C/TimeNextVisible\u003E\u003CDequeueCount\u003E1\u003C/DequeueCount\u003E\u003CMessageText\u003Emessage\u003C/MessageText\u003E\u003C/QueueMessage\u003E\u003C/QueueMessagesList\u003E"
    }
  ],
  "Variables": {}
}
