interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:56:35 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage3acd1575.queue.core.windows.net/pythonqueue3acd1575
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3acd1575.queue.core.windows.net
        - /pythonqueue3acd1575
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:56:35 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage3acd1575.queue.core.windows.net/pythonqueue3acd1575/messages?messagettl=1073741824
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6c55dcf7-316f-461f-b410-1d217406eab8</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:56:33 GMT</InsertionTime><ExpirationTime>Mon, 15 Sep 2053 11:33:37
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0T2w8v1k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:56:33 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3acd1575.queue.core.windows.net
        - /pythonqueue3acd1575/messages
        - messagettl=1073741824
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:56:35 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage3acd1575.queue.core.windows.net/pythonqueue3acd1575/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6c55dcf7-316f-461f-b410-1d217406eab8</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:56:33 GMT</InsertionTime><ExpirationTime>Mon, 15 Sep 2053 11:33:37
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3acd1575.queue.core.windows.net
        - /pythonqueue3acd1575/messages
        - peekonly=true
        - ''
version: 1
