interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:01 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesync74f61174
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:01 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesync74f61174/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>06aa0e94-fc63-409e-a1bd-bc8366c01a44</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:03:55 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:03:55
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA6LHeyrY91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:03:55 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:02 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesync74f61174/messages?numofmessages=4&peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>06aa0e94-fc63-409e-a1bd-bc8366c01a44</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:03:55 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:03:55
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>37bf4327-a181-40ea-abf9-3989e512ae58</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:03:55 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:03:55
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>09443a42-3ab0-4fbe-ba02-98e7878c7c5d</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:03:55 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:03:55
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>60a7e342-67af-4aa7-a7df-e0fc64307ca6</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:03:55 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:03:55
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
