interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Oct 2020 21:41:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueueasync640e10d7
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: https://seanmcccanary3.queue.core.windows.net/pyqueueasync640e10d7
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 28 Oct 2020 21:41:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueueasync640e10d7/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e6af54c5-6054-4146-9ac1-e7b29fe4b3f1</MessageId><InsertionTime>Wed,
        28 Oct 2020 21:41:16 GMT</InsertionTime><ExpirationTime>Wed, 04 Nov 2020 21:41:16
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAACHNEHOt1gE=</PopReceipt><TimeNextVisible>Wed,
        28 Oct 2020 21:41:16 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: https://seanmcccanary3.queue.core.windows.net/pyqueueasync640e10d7/messages
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Oct 2020 21:41:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueueasync640e10d7/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e6af54c5-6054-4146-9ac1-e7b29fe4b3f1</MessageId><InsertionTime>Wed,
        28 Oct 2020 21:41:16 GMT</InsertionTime><ExpirationTime>Wed, 04 Nov 2020 21:41:16
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAbDzMInOt1gE=</PopReceipt><TimeNextVisible>Wed,
        28 Oct 2020 21:41:47 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: https://seanmcccanary3.queue.core.windows.net/pyqueueasync640e10d7/messages?numofmessages=1
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Oct 2020 21:41:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueueasync640e10d7/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>5dcd17c8-94ac-4d55-922e-308c7974fc3f</MessageId><InsertionTime>Wed,
        28 Oct 2020 21:41:17 GMT</InsertionTime><ExpirationTime>Wed, 04 Nov 2020 21:41:17
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message3</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: https://seanmcccanary3.queue.core.windows.net/pyqueueasync640e10d7/messages?peekonly=true
version: 1
