interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jun 2022 20:47:12 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue80c1168e
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "sCK6rsOwH7jOo3V6d3i7E+0C+XLzF+oELrU9lgRzflWQ5LZqVIGXxjzk5QwO+D7QEP8=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "w7flxc3aQCZqCf9kLRe5Syqyrho473dFbnpQkBy3oereJdGgVXpLAg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"DataLength": 4194304, "NonceLength":
      12}, "KeyWrappingMetadata": {"EncryptionLibrary": "Python 12.4.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 08 Jun 2022 20:47:12 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue80c1168e/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0a6f6277-5158-44e8-8cfb-d9111a5ecff9</MessageId><InsertionTime>Wed,
        08 Jun 2022 20:47:12 GMT</InsertionTime><ExpirationTime>Wed, 15 Jun 2022 20:47:12
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA50st7nh72AE=</PopReceipt><TimeNextVisible>Wed,
        08 Jun 2022 20:47:12 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jun 2022 20:47:12 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue80c1168e/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>566fc358-b37a-4246-8919-850cae52af5c</MessageId><InsertionTime>Wed,
        08 Jun 2022 20:31:19 GMT</InsertionTime><ExpirationTime>Wed, 15 Jun 2022 20:31:19
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAZmMYAHl72AE=</PopReceipt><TimeNextVisible>Wed,
        08 Jun 2022 20:47:43 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"VxbJPBjyiXmXg+Qsj4dlCvygzQNfL90i/BGE4I5g0l0UjMVGwtonQjH+Yq18EN7utVE=\",
        \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\":
        \"eFXceOxSdz3CX+btFX0CSXTkKBI9nUbxdZUt0xZh9z8qPQKGMwTfnw==\", \"Algorithm\":
        \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\":
        \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"DataLength\": 4194304, \"NonceLength\":
        12, \"TagLength\": 16}, \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python
        12.4.0b1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
