interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:52 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesyncbf740c50
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:52 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesyncbf740c50/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e668170b-ff79-40d5-a6b6-5c087e476e20</MessageId><InsertionTime>Mon,
        08 Jun 2020 17:04:46 GMT</InsertionTime><ExpirationTime>Mon, 15 Jun 2020 17:04:46
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAATSQ/6bY91gE=</PopReceipt><TimeNextVisible>Mon,
        08 Jun 2020 17:04:46 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Jun 2020 17:04:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesyncbf740c50/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
