interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage6a6e165f.queue.core.windows.net/encryptionqueue6a6e165f
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "MUTJhihgS3C0TjOJzKSYaDi8QOO2WREsrgbYhbEAFkA=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "uqKuRSYgzgO/Da+o5VXU41YPlhsi9acIDt7yAb8w91vptXj3zWIpfg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "Pc1qmOwq4DbYTNCsixcQow==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage6a6e165f.queue.core.windows.net/encryptionqueue6a6e165f/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>5e1b0765-54ad-4f79-90a4-a6ffb7b90574</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:58:10 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:58:10
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAL+8SLP5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:58:10 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage6a6e165f.queue.core.windows.net/encryptionqueue6a6e165f/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>5e1b0765-54ad-4f79-90a4-a6ffb7b90574</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:58:10 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:58:10
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"MUTJhihgS3C0TjOJzKSYaDi8QOO2WREsrgbYhbEAFkA=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"uqKuRSYgzgO/Da+o5VXU41YPlhsi9acIDt7yAb8w91vptXj3zWIpfg==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"Pc1qmOwq4DbYTNCsixcQow==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
