interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:37 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage92ec1b2a.queue.core.windows.net/asyncmessagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage92ec1b2a.queue.core.windows.net
        - /asyncmessagequeue
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:38 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage92ec1b2a.queue.core.windows.net/asyncmessagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6966cc07-c13e-4e13-8f8d-6830ffea0738</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:49:36 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:49:36
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVT//tHJY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 22:49:36 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage92ec1b2a.queue.core.windows.net
        - /asyncmessagequeue/messages
        - ''
        - ''
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message2</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:38 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage92ec1b2a.queue.core.windows.net/asyncmessagequeue/messages?visibilitytimeout=30
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8c835ed1-0289-4245-8e9a-465590605df8</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:49:36 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:49:36
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAhXXwxnJY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 22:50:06 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage92ec1b2a.queue.core.windows.net
        - /asyncmessagequeue/messages
        - visibilitytimeout=30
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:38 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage92ec1b2a.queue.core.windows.net/asyncmessagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6966cc07-c13e-4e13-8f8d-6830ffea0738</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:49:36 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:49:36
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAUDH1xnJY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 22:50:06 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage92ec1b2a.queue.core.windows.net
        - /asyncmessagequeue/messages
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:38 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage92ec1b2a.queue.core.windows.net/asyncmessagequeue/messages?numofmessages=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage92ec1b2a.queue.core.windows.net
        - /asyncmessagequeue/messages
        - numofmessages=5
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:38 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstorage92ec1b2a.queue.core.windows.net/asyncmessagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage92ec1b2a.queue.core.windows.net
        - /asyncmessagequeue
        - ''
        - ''
version: 1
