interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 May 2022 01:00:20 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc0718b4
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2021-02-12'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.queue.core.windows.net/encryptionqueuefc0718b4
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "PFeC6fjF8gaPXMUB70Z3HslvgPB7q+3L1qjOd4Va4HrqgODwAw==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "cNmXaFo4CCk5AjXzm4evZke/4eSiAwl0Hbit9CCz4ghuFP0HeYLmFg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"EncryptedRegionDataLength": 4194304,
      "NonceLength": 12, "TagLength": 16}, "KeyWrappingMetadata": {"EncryptionLibrary":
      "Python 12.3.1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 19 May 2022 01:00:20 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc0718b4/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>76b3b8c2-7ad2-46e6-ac93-48f1c1446e69</MessageId><InsertionTime>Thu,
        19 May 2022 01:00:20 GMT</InsertionTime><ExpirationTime>Thu, 26 May 2022 01:00:20
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAwCYo0Btr2AE=</PopReceipt><TimeNextVisible>Thu,
        19 May 2022 01:00:20 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2021-02-12'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.queue.core.windows.net/encryptionqueuefc0718b4/messages
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 May 2022 01:00:20 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc0718b4/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>76b3b8c2-7ad2-46e6-ac93-48f1c1446e69</MessageId><InsertionTime>Thu,
        19 May 2022 01:00:20 GMT</InsertionTime><ExpirationTime>Thu, 26 May 2022 01:00:20
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA7H4Z4htr2AE=</PopReceipt><TimeNextVisible>Thu,
        19 May 2022 01:00:50 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"PFeC6fjF8gaPXMUB70Z3HslvgPB7q+3L1qjOd4Va4HrqgODwAw==\", \"EncryptionData\":
        {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"cNmXaFo4CCk5AjXzm4evZke/4eSiAwl0Hbit9CCz4ghuFP0HeYLmFg==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\":
        \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"EncryptedRegionDataLength\":
        4194304, \"NonceLength\": 12, \"TagLength\": 16}, \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.3.1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2021-02-12'
    status:
      code: 200
      message: OK
    url: https://jalauzoncanary.queue.core.windows.net/encryptionqueuefc0718b4/messages?numofmessages=1
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "eVsLrQTkmmx3/KVv0KIqEXSaX6vbQTcN+YNWgeTWIJpS81A=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "2BO5GkR7F3fG80brOOeOwxh/lo02EnwfISlAMmeLNkkZ2at2twvzaQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"EncryptedRegionDataLength": 4194304,
      "NonceLength": 12, "TagLength": 16}, "KeyWrappingMetadata": {"EncryptionLibrary":
      "Python 12.3.1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 19 May 2022 01:00:20 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc0718b4/messages/76b3b8c2-7ad2-46e6-ac93-48f1c1446e69?popreceipt=AgAAAAMAAAAAAAAA7H4Z4htr2AE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt: AwAAAAMAAAAAAAAAS9tA0Btr2AEBAAAA
      x-ms-time-next-visible: Thu, 19 May 2022 01:00:20 GMT
      x-ms-version: '2021-02-12'
    status:
      code: 204
      message: No Content
    url: https://jalauzoncanary.queue.core.windows.net/encryptionqueuefc0718b4/messages/76b3b8c2-7ad2-46e6-ac93-48f1c1446e69?popreceipt=AgAAAAMAAAAAAAAA7H4Z4htr2AE%3D&visibilitytimeout=0
[...]
