interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:27 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:27 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4c6713a5-4291-4da3-b51c-150aec9eb1f8</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:49:25 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:49:25
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAFpyqrnJY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 22:49:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message2</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:27 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue/messages?visibilitytimeout=30
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ab2b1c22-8e79-453f-85cb-5a40b7e36716</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:49:25 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:49:25
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAvYuXwHJY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 22:49:55 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:27 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4c6713a5-4291-4da3-b51c-150aec9eb1f8</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:49:25 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:49:25
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAtVDAwHJY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 22:49:56 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue/messages?numofmessages=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
version: 1
