interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:21 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesyncb3920bee
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:21 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesyncb3920bee/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d3e2c7c5-b6fe-4ff1-98de-d2f9a21bd606</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:20 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:20
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0+T7ZluP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:51:20 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:22 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesyncb3920bee/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d3e2c7c5-b6fe-4ff1-98de-d2f9a21bd606</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:20 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:20
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
