interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:18:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage61921a21.queue.core.windows.net/encryptionqueue61921a21
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage61921a21.queue.core.windows.net
        - /encryptionqueue61921a21
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "FfdREpXaLh/xEjEK3hJ4koWaLQZieHZ+9EmBhMO2XdE=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key2", "EncryptedKey": "Tms0Gz1GIb/p/R6ZkqSyg/D5r5hBuUmw+5vfcI3uxxRd6NyOLlKwaG+lWpQq4+KEnBmmSQxz16CujSVIm/RHLsHMJAlQEPcZYyQhUdR8/qVfaTJCEjzUPZevPU4cF9qGILx7N1eYHy/+bGb/Nw9z5nHRMmtGr1dlMjUmlpJwMAG80oj3l0cUQtZrvPnlY3qEY8qFZdvKs+/r0kequUxCgLweBhYHc1fpfFplEDlbagOs7mXjyar5ABk6MU75vdQrjThZ8AHxOMPNKQAHuaAv0mclCnR2L0NiBCzW87LxJfN3S5R5wXWKLAH4/iIl4blB75slA64h9DlQP9R6W9dqMw==",
      "Algorithm": "RSA"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "6VtTN/ZQcucgAuShnNdfOg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:18:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage61921a21.queue.core.windows.net/encryptionqueue61921a21/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4d456a20-282d-40a6-a7da-a11856573d31</MessageId><InsertionTime>Thu,
        05 Sep 2019 22:18:39 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 22:18:39
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVxqT3jdk1QE=</PopReceipt><TimeNextVisible>Thu,
        05 Sep 2019 22:18:39 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage61921a21.queue.core.windows.net
        - /encryptionqueue61921a21/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:18:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage61921a21.queue.core.windows.net/encryptionqueue61921a21/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4d456a20-282d-40a6-a7da-a11856573d31</MessageId><InsertionTime>Thu,
        05 Sep 2019 22:18:39 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 22:18:39
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"FfdREpXaLh/xEjEK3hJ4koWaLQZieHZ+9EmBhMO2XdE=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key2\", \"EncryptedKey\": \"Tms0Gz1GIb/p/R6ZkqSyg/D5r5hBuUmw+5vfcI3uxxRd6NyOLlKwaG+lWpQq4+KEnBmmSQxz16CujSVIm/RHLsHMJAlQEPcZYyQhUdR8/qVfaTJCEjzUPZevPU4cF9qGILx7N1eYHy/+bGb/Nw9z5nHRMmtGr1dlMjUmlpJwMAG80oj3l0cUQtZrvPnlY3qEY8qFZdvKs+/r0kequUxCgLweBhYHc1fpfFplEDlbagOs7mXjyar5ABk6MU75vdQrjThZ8AHxOMPNKQAHuaAv0mclCnR2L0NiBCzW87LxJfN3S5R5wXWKLAH4/iIl4blB75slA64h9DlQP9R6W9dqMw==\",
        \"Algorithm\": \"RSA\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"6VtTN/ZQcucgAuShnNdfOg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage61921a21.queue.core.windows.net
        - /encryptionqueue61921a21/messages
        - peekonly=true
        - ''
version: 1
