interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage2fd119c6.queue.core.windows.net/encryptionqueue2fd119c6
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage2fd119c6.queue.core.windows.net
        - /encryptionqueue2fd119c6
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "GZLZHJB8aCU9ikVwWVqWOdxfMUaaDoqS1It+6l8Cnkw=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "KYW+cC5/K/wjOQMSOjyYumdMSBtZMvXmN+NqbRJYOuALzGpdllBoLw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "PGPsKC7eHTGuEShi5GwsHw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage2fd119c6.queue.core.windows.net/encryptionqueue2fd119c6/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8b7cd513-abe1-4509-9e5e-b89e605f5393</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:55:40 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:55:40
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAoWm/uO6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:55:40 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage2fd119c6.queue.core.windows.net
        - /encryptionqueue2fd119c6/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage2fd119c6.queue.core.windows.net/encryptionqueue2fd119c6/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8b7cd513-abe1-4509-9e5e-b89e605f5393</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:55:40 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:55:40
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA2jmoyu6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:56:10 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"GZLZHJB8aCU9ikVwWVqWOdxfMUaaDoqS1It+6l8Cnkw=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"KYW+cC5/K/wjOQMSOjyYumdMSBtZMvXmN+NqbRJYOuALzGpdllBoLw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"PGPsKC7eHTGuEShi5GwsHw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b4\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage2fd119c6.queue.core.windows.net
        - /encryptionqueue2fd119c6/messages
        - ''
        - ''
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "oSBYo03cd1az4yhvvMoGhcWw0mAzBaTG+Sf9rhCdlSA=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "mE7qmxcF841XP2MibhUCrUgLyfx4MU+LoZYHwe/oPt+UsUVy+77M0g==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "Fpgj/At3F6KRdhIgPGCE3w==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage2fd119c6.queue.core.windows.net/encryptionqueue2fd119c6/messages/8b7cd513-abe1-4509-9e5e-b89e605f5393?popreceipt=AgAAAAMAAAAAAAAA2jmoyu6D1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt: AwAAAAMAAAAAAAAAkMrUuO6D1QEBAAAA
      x-ms-time-next-visible: Wed, 16 Oct 2019 06:55:40 GMT
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage2fd119c6.queue.core.windows.net
        - /encryptionqueue2fd119c6/messages/8b7cd513-abe1-4509-9e5e-b89e605f5393
        - popreceipt=AgAAAAMAAAAAAAAA2jmoyu6D1QE%3D&visibilitytimeout=0
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage2fd119c6.queue.core.windows.net/encryptionqueue2fd119c6/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage2fd119c6.queue.core.windows.net
        - /encryptionqueue2fd119c6/messages
        - ''
        - ''
version: 1
