interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:12 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:12 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a4ae3b7b-24b6-4293-a351-442eca4536f1</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:29:12 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:29:12
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAXvKaLXBj1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:29:12 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message2</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:13 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue/messages?visibilitytimeout=30
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>416e0717-97ae-43c7-94d8-991139f65985</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:29:13 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:29:13
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAGjCIP3Bj1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:29:43 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:13 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a4ae3b7b-24b6-4293-a351-442eca4536f1</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:29:12 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:29:12
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAANN+xP3Bj1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:29:43 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:13 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue/messages?numofmessages=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:13 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
version: 1
