interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:55:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorageaa76175b.queue.core.windows.net/pythonqueueaa76175b
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaa76175b.queue.core.windows.net
        - /pythonqueueaa76175b
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:55:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorageaa76175b.queue.core.windows.net/pythonqueueaa76175b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f72b72f2-85f0-477f-abd1-fa2cfa791e8f</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:55:51 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:55:51
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAwdCT2f1k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:55:51 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaa76175b.queue.core.windows.net
        - /pythonqueueaa76175b/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:55:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorageaa76175b.queue.core.windows.net/pythonqueueaa76175b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f72b72f2-85f0-477f-abd1-fa2cfa791e8f</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:55:51 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:55:51
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAYOF56/1k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:56:21 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaa76175b.queue.core.windows.net
        - /pythonqueueaa76175b/messages
        - ''
        - ''
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:55:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorageaa76175b.queue.core.windows.net/pythonqueueaa76175b/messages/f72b72f2-85f0-477f-abd1-fa2cfa791e8f?popreceipt=AgAAAAMAAAAAAAAAYOF56/1k1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt: AwAAAAMAAAAAAAAA246h2f1k1QEBAAAA
      x-ms-time-next-visible: Fri, 06 Sep 2019 21:55:51 GMT
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaa76175b.queue.core.windows.net
        - /pythonqueueaa76175b/messages/f72b72f2-85f0-477f-abd1-fa2cfa791e8f
        - popreceipt=AgAAAAMAAAAAAAAAYOF56/1k1QE%3D&visibilitytimeout=0
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:55:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorageaa76175b.queue.core.windows.net/pythonqueueaa76175b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaa76175b.queue.core.windows.net
        - /pythonqueueaa76175b/messages
        - ''
        - ''
version: 1
