interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueued35b138c
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 31 Jul 2019 21:28:09 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueued35b138c
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueued35b138c/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a955175b-7d93-4a33-85d5-3255d88d4e9a</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:28:09 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:28:09
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAz7nF2eZH1QE=</PopReceipt><TimeNextVisible>Wed,
        31 Jul 2019 21:28:09 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 31 Jul 2019 21:28:09 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueued35b138c/messages
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueued35b138c/messages?numofmessages=4&visibilitytimeout=20
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a955175b-7d93-4a33-85d5-3255d88d4e9a</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:28:09 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:28:09
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABL3C5eZH1QE=</PopReceipt><TimeNextVisible>Wed,
        31 Jul 2019 21:28:30 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>200680bf-1fc3-464d-b1d8-b1ce11bc9e72</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:28:09 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:28:09
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABL3C5eZH1QE=</PopReceipt><TimeNextVisible>Wed,
        31 Jul 2019 21:28:30 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><Mes[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:29:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueued35b138c/messages?numofmessages=4&visibilitytimeout=20
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Cache-Control
      : no-cache
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 31 Jul 2019 21:29:29 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueued35b138c/messages
        - numofmessages=4&visibilitytimeout=20
        - ''
version: 1
