interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:52 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragefdf21450.queue.core.windows.net/testqueue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragefdf21450.queue.core.windows.net/?comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragefdf21450.queue.core.windows.net/\"><Queues><Queue><Name>testqueue</Name></Queue></Queues><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragefdf21450.queue.core.windows.net/?prefix=test&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragefdf21450.queue.core.windows.net/\"><Prefix>test</Prefix><Queues><Queue><Name>testqueue</Name></Queue></Queues><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragefdf21450.queue.core.windows.net/testqueue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
version: 1
