interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:25:05 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragee6c913f1.queue.core.windows.net/pythonqueuee6c913f1
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee6c913f1.queue.core.windows.net
        - /pythonqueuee6c913f1
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:25:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragee6c913f1.queue.core.windows.net/pythonqueuee6c913f1/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e2006244-d561-4923-9881-9513d196e822</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:25:06 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:25:06
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA44prmm9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:25:06 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee6c913f1.queue.core.windows.net
        - /pythonqueuee6c913f1/messages
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:25:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragee6c913f1.queue.core.windows.net/pythonqueuee6c913f1/messages?numofmessages=4&peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e2006244-d561-4923-9881-9513d196e822</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:25:06 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:25:06
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>f6e98d8a-4e7f-463b-9af3-0b0a75107d13</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:25:06 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:25:06
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>4e2bdd06-fdf1-463c-afba-296b6b642967</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:25:06 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:25:06
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>18259f4c-e1d1-4b64-b1d8-738d52ec0144</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:25:06 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:25:06
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee6c913f1.queue.core.windows.net
        - /pythonqueuee6c913f1/messages
        - numofmessages=4&peekonly=true
        - ''
version: 1
