interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:14 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragee12a1896.queue.core.windows.net/encryptionqueuee12a1896
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "Rk8nAMecT15Nc4XC0IGTgn/IHeYCFYK7xL8o9tfxxiA=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "RCwNXlS8H5LwsMQHrU08GVHN6FqmX3VnyjKnOuFxlFE9YfQWuRrpvA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "64T3PEfHRlLg3zzThmzTnQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragee12a1896.queue.core.windows.net/encryptionqueuee12a1896/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>bae32840-30ff-43b3-90fa-72d9ca307b9c</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:58:13 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:58:13
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAmflJLv5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:58:13 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragee12a1896.queue.core.windows.net/encryptionqueuee12a1896/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>bae32840-30ff-43b3-90fa-72d9ca307b9c</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:58:13 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:58:13
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"Rk8nAMecT15Nc4XC0IGTgn/IHeYCFYK7xL8o9tfxxiA=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"RCwNXlS8H5LwsMQHrU08GVHN6FqmX3VnyjKnOuFxlFE9YfQWuRrpvA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"64T3PEfHRlLg3zzThmzTnQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
