interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:10:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage3fc115ad.queue.core.windows.net/encryptionqueue3fc115ad
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3fc115ad.queue.core.windows.net
        - /encryptionqueue3fc115ad
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "NpocQJ8LC+Mii9hS9YCr0w==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "6/8CaTK3grwY2VCz5ombBANz+INKAE3YUOfiHgiQB7VFZyffFYX+Xw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "yL0+CnIiugQXH2i2c6UTvw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:10:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage3fc115ad.queue.core.windows.net/encryptionqueue3fc115ad/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b1fd7d57-047a-48c9-8945-7b82e82723a9</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:10:44 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:10:44
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAzlnzuptX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:10:44 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3fc115ad.queue.core.windows.net
        - /encryptionqueue3fc115ad/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:10:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage3fc115ad.queue.core.windows.net/encryptionqueue3fc115ad/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b1fd7d57-047a-48c9-8945-7b82e82723a9</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:10:44 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:10:44
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"NpocQJ8LC+Mii9hS9YCr0w==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"6/8CaTK3grwY2VCz5ombBANz+INKAE3YUOfiHgiQB7VFZyffFYX+Xw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"yL0+CnIiugQXH2i2c6UTvw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3fc115ad.queue.core.windows.net
        - /encryptionqueue3fc115ad/messages
        - peekonly=true
        - ''
version: 1
