interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jun 2022 00:54:26 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue6bbb1637
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "gVsA7Lk4RMyK0pRq5LoUJRrvuYv6+jsXfZS2TAI7Z16XKn5cpQ==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "I1o0GSgg06wNZd6tYWi5yYNmB3EvXxIW6L/uKW18nrSwKLJZZHaRjj8FREY+LNdn",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"DataLength": 4194304, "NonceLength":
      12}, "KeyWrappingMetadata": {"EncryptionLibrary": "Python 12.4.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 15 Jun 2022 00:54:26 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue6bbb1637/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7382fc26-f7d4-405c-948b-de4e5e404a36</MessageId><InsertionTime>Wed,
        15 Jun 2022 00:54:26 GMT</InsertionTime><ExpirationTime>Wed, 22 Jun 2022 00:54:26
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA20NIdlKA2AE=</PopReceipt><TimeNextVisible>Wed,
        15 Jun 2022 00:54:26 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jun 2022 00:54:26 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue6bbb1637/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7382fc26-f7d4-405c-948b-de4e5e404a36</MessageId><InsertionTime>Wed,
        15 Jun 2022 00:54:26 GMT</InsertionTime><ExpirationTime>Wed, 22 Jun 2022 00:54:26
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAr7o0iFKA2AE=</PopReceipt><TimeNextVisible>Wed,
        15 Jun 2022 00:54:56 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"gVsA7Lk4RMyK0pRq5LoUJRrvuYv6+jsXfZS2TAI7Z16XKn5cpQ==\", \"EncryptionData\":
        {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"I1o0GSgg06wNZd6tYWi5yYNmB3EvXxIW6L/uKW18nrSwKLJZZHaRjj8FREY+LNdn\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\":
        \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"DataLength\": 4194304, \"NonceLength\":
        12}, \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 12.4.0b1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "9fePUgts8vsuHbshyOmSeCx4lUghM9DwUFK6kdQOBHOwYrk=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "N7MloOUj5rhuwXLAGTbv2bixqGb4EzQnAkDjv/7KxU5b63rbVGL6381/asBeWLmH",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"DataLength": 4194304, "NonceLength":
      12}, "KeyWrappingMetadata": {"EncryptionLibrary": "Python 12.4.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 15 Jun 2022 00:54:26 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue6bbb1637/messages/7382fc26-f7d4-405c-948b-de4e5e404a36?popreceipt=AgAAAAMAAAAAAAAAr7o0iFKA2AE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAASQFddlKA2AEBAAAA
      x-ms-time-next-visible:
      - Wed, 15 Jun 2022 00:54:26 GMT
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jun 2022 00:54:26 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue6bbb1637/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7382fc26-f7d4-405c-948b-de4e5e404a36</MessageId><InsertionTime>Wed,
        15 Jun 2022 00:54:26 GMT</InsertionTime><ExpirationTime>Wed, 22 Jun 2022 00:54:26
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABNxIiFKA2AE=</PopReceipt><TimeNextVisible>Wed,
        15 Jun 2022 00:54:56 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"9fePUgts8vsuHbshyOmSeCx4lUghM9DwUFK6kdQOBHOwYrk=\", \"EncryptionData\":
        {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"N7MloOUj5rhuwXLAGTbv2bixqGb4EzQnAkDjv/7KxU5b63rbVGL6381/asBeWLmH\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\":
        \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"DataLength\": 4194304, \"NonceLength\":
        12}, \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 12.4.0b1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
