interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueueasyncf6bf0e06
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekiq3q5uw4eso.queue.core.windows.net
        - /pyqueueasyncf6bf0e06
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueueasyncf6bf0e06/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>54eaa758-52a3-4b51-863b-5ba2e45f051e</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:30 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA6tmpbFuP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:51:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekiq3q5uw4eso.queue.core.windows.net
        - /pyqueueasyncf6bf0e06/messages
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueueasyncf6bf0e06/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>54eaa758-52a3-4b51-863b-5ba2e45f051e</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:30 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAfJWnfluP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:52:00 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekiq3q5uw4eso.queue.core.windows.net
        - /pyqueueasyncf6bf0e06/messages
        - ''
        - ''
version: 1
