interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:05:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage7ba0168b.queue.core.windows.net/pythonqueue7ba0168b
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7ba0168b.queue.core.windows.net
        - /pythonqueue7ba0168b
        - ''
        - ''
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>message1\u3688</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:05:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage7ba0168b.queue.core.windows.net/pythonqueue7ba0168b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f0176269-608d-4688-a373-9c49da585537</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:05:14 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:05:14
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAKTJM9ppX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:05:14 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7ba0168b.queue.core.windows.net
        - /pythonqueue7ba0168b/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:05:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage7ba0168b.queue.core.windows.net/pythonqueue7ba0168b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f0176269-608d-4688-a373-9c49da585537</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:05:14 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:05:14
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAx0IyCJtX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:05:44 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1\u3688</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7ba0168b.queue.core.windows.net
        - /pythonqueue7ba0168b/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:05:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage7ba0168b.queue.core.windows.net/pythonqueue7ba0168b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7ba0168b.queue.core.windows.net
        - /pythonqueue7ba0168b/messages
        - ''
        - ''
version: 1
