interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:21:05 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragee8a50da2.queue.core.windows.net/pythonqueuee8a50da2
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee8a50da2.queue.core.windows.net
        - /pythonqueuee8a50da2
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:21:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragee8a50da2.queue.core.windows.net/pythonqueuee8a50da2/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fa51e95b-af6d-4bb2-9773-ba1cb2d98c34</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:21:05 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:21:05
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAylzPnB6J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:21:05 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee8a50da2.queue.core.windows.net
        - /pythonqueuee8a50da2/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:21:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragee8a50da2.queue.core.windows.net/pythonqueuee8a50da2/messages?peekonly=true&st=2019-10-22T21:16:06Z&se=2019-10-22T22:21:06Z&sp=r&sv=2018-03-28&ss=q&srt=o&sig=9D%2BYppIrQsRHewIFwlB4BM7kbeaKqLLPUw9aYO2btXI%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fa51e95b-af6d-4bb2-9773-ba1cb2d98c34</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:21:05 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:21:05
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee8a50da2.queue.core.windows.net
        - /pythonqueuee8a50da2/messages
        - peekonly=true&st=2019-10-22T21:16:06Z&se=2019-10-22T22:21:06Z&sp=r&sv=2018-03-28&ss=q&srt=o&sig=9D%2BYppIrQsRHewIFwlB4BM7kbeaKqLLPUw9aYO2btXI%3D
        - ''
version: 1
