interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jun 2022 21:45:20 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueueb5eb1b98
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2021-02-12'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.queue.core.windows.net/encryptionqueueb5eb1b98
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "3qvP8kUyyDHOdxIztlirqT2dll3dqtpNRXSE8DqxOfb2owUbchgyig==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "jjZ4j+JiQiV0X7Q3na29Bo7pIJmRCbe3VBfwdgCG9GwSX/+wG5Xtrw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"DataLength": 4194304, "NonceLength":
      12}, "KeyWrappingMetadata": {"EncryptionLibrary": "Python 12.4.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 08 Jun 2022 21:45:20 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueueb5eb1b98/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e4a389d3-824d-4c1a-b60a-7b43f5042f36</MessageId><InsertionTime>Wed,
        08 Jun 2022 21:45:20 GMT</InsertionTime><ExpirationTime>Wed, 15 Jun 2022 21:45:20
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAP5nwDIF72AE=</PopReceipt><TimeNextVisible>Wed,
        08 Jun 2022 21:45:20 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2021-02-12'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.queue.core.windows.net/encryptionqueueb5eb1b98/messages
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jun 2022 21:45:20 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueueb5eb1b98/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e4a389d3-824d-4c1a-b60a-7b43f5042f36</MessageId><InsertionTime>Wed,
        08 Jun 2022 21:45:20 GMT</InsertionTime><ExpirationTime>Wed, 15 Jun 2022 21:45:20
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAXVHaHoF72AE=</PopReceipt><TimeNextVisible>Wed,
        08 Jun 2022 21:45:50 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"3qvP8kUyyDHOdxIztlirqT2dll3dqtpNRXSE8DqxOfb2owUbchgyig==\", \"EncryptionData\":
        {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"jjZ4j+JiQiV0X7Q3na29Bo7pIJmRCbe3VBfwdgCG9GwSX/+wG5Xtrw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\":
        \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"DataLength\": 4194304, \"NonceLength\":
        12}, \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 12.4.0b1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2021-02-12'
    status:
      code: 200
      message: OK
    url: https://jalauzoncanary.queue.core.windows.net/encryptionqueueb5eb1b98/messages?numofmessages=1
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "0CL4mt9PVIkIL4gyu5NNRhNc17pFI93g3orZ+9gskGNQXGp2LOstRg==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "82uC2JYD0f65MNQ1yzi7T7fMLy/J3bEMj1ZXyvyhGbOUTTH0yDl0aA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"DataLength": 4194304, "NonceLength":
      12}, "KeyWrappingMetadata": {"EncryptionLibrary": "Python 12.4.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 08 Jun 2022 21:45:20 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueueb5eb1b98/messages/e4a389d3-824d-4c1a-b60a-7b43f5042f36?popreceipt=AgAAAAMAAAAAAAAAXVHaHoF72AE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt: AwAAAAMAAAAAAAAAroYBDYF72AEBAAAA
      x-ms-time-next-visible: Wed, 08 Jun 2022 21:45:20 GMT
      x-ms-version: '2021-02-12'
    status:
      code: 204
      message: No Content
    url: https://jalauzoncanary.queue.core.windows.net/encryptionqueueb5eb1b98/messages/e4a389d3-824d-4c1a-b60a-7b43f5042f36?popreceipt=AgAAAAMAAAAAAAAAXVHaHoF72AE%3D&visibilitytimeout=0
[...]
