interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 22:00:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage7e9116b3.queue.core.windows.net/asyncqueuetest
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7e9116b3.queue.core.windows.net
        - /asyncqueuetest
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>hello world</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 22:00:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage7e9116b3.queue.core.windows.net/asyncqueuetest/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>eeff2a87-cdfd-4660-afe4-ad54b56b2e3d</MessageId><InsertionTime>Fri,
        06 Sep 2019 22:00:28 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 22:00:28
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAj5h+fv5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 22:00:28 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7e9116b3.queue.core.windows.net
        - /asyncqueuetest/messages
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>my-access-policy-id</Id><AccessPolicy><Start>2019-09-06T21:00:29Z</Start><Expiry>2019-09-06T23:00:29Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 22:00:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage7e9116b3.queue.core.windows.net/asyncqueuetest?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7e9116b3.queue.core.windows.net
        - /asyncqueuetest
        - comp=acl
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 22:00:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstorage7e9116b3.queue.core.windows.net/asyncqueuetest
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7e9116b3.queue.core.windows.net
        - /asyncqueuetest
        - ''
        - ''
version: 1
