interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:20:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage7c4709d4.queue.core.windows.net/pythonqueue7c4709d4
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:20:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage7c4709d4.queue.core.windows.net/pythonqueue7c4709d4/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ed58b8a8-4eb4-43a8-a564-8e34eef90460</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:20:16 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:20:16
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA1RYVgB6J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:20:16 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:20:18 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage7c4709d4.queue.core.windows.net/pythonqueue7c4709d4/messages?peekonly=true&st=2019-10-22T21%3A15%3A17Z&se=2019-10-22T22%3A20%3A17Z&sp=r&sv=2018-03-28&sig=t4HzRarfwR6rdZ74dWcNrE3K7EqYPHMzBJCEdKM2gaQ%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ed58b8a8-4eb4-43a8-a564-8e34eef90460</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:20:16 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:20:16
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
