interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 24 Mar 2022 21:33:50 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueueasync3a1d157d
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2021-02-12'
    status:
      code: 201
      message: Created
    url: https://vincenttrancanary.queue.core.windows.net/pyqueueasync3a1d157d
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 24 Mar 2022 21:33:50 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueueasync3a1d157d/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>05dc00d9-c49f-48c5-a55d-fa43b12a7ebd</MessageId><InsertionTime>Thu,
        24 Mar 2022 21:33:51 GMT</InsertionTime><ExpirationTime>Thu, 31 Mar 2022 21:33:51
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAeaCR2sY/2AE=</PopReceipt><TimeNextVisible>Thu,
        24 Mar 2022 21:33:51 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2021-02-12'
    status:
      code: 201
      message: Created
    url: https://vincenttrancanary.queue.core.windows.net/pyqueueasync3a1d157d/messages
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 24 Mar 2022 21:33:51 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueueasync3a1d157d/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>05dc00d9-c49f-48c5-a55d-fa43b12a7ebd</MessageId><InsertionTime>Thu,
        24 Mar 2022 21:33:51 GMT</InsertionTime><ExpirationTime>Thu, 31 Mar 2022 21:33:51
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVUnZ7MY/2AE=</PopReceipt><TimeNextVisible>Thu,
        24 Mar 2022 21:34:21 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2021-02-12'
    status:
      code: 200
      message: OK
    url: https://vincenttrancanary.queue.core.windows.net/pyqueueasync3a1d157d/messages?numofmessages=1
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 24 Mar 2022 21:33:51 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueueasync3a1d157d/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d836743e-5919-4275-9529-7bf3a896e4e4</MessageId><InsertionTime>Thu,
        24 Mar 2022 21:33:51 GMT</InsertionTime><ExpirationTime>Thu, 31 Mar 2022 21:33:51
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVhID7cY/2AE=</PopReceipt><TimeNextVisible>Thu,
        24 Mar 2022 21:34:21 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message5</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2021-02-12'
    status:
      code: 200
      message: OK
    url: https://vincenttrancanary.queue.core.windows.net/pyqueueasync3a1d157d/messages?numofmessages=1
version: 1
