interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:27:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragea9f9175f.queue.core.windows.net/messagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:27:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragea9f9175f.queue.core.windows.net/messagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a2ca2513-6b4c-49ed-bcb5-5080b70d8fbe</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:27:54 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:27:54
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAASMijkB+J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:27:54 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message2</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:27:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragea9f9175f.queue.core.windows.net/messagequeue/messages?visibilitytimeout=30
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e163816f-1fa5-41e6-84ac-43f3d1127219</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:27:54 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:27:54
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABbiQoh+J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:28:24 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:27:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragea9f9175f.queue.core.windows.net/messagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a2ca2513-6b4c-49ed-bcb5-5080b70d8fbe</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:27:54 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:27:54
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAbHrPoh+J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:28:24 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:27:56 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragea9f9175f.queue.core.windows.net/messagequeue/messages?numofmessages=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:27:56 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragea9f9175f.queue.core.windows.net/messagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
version: 1
