interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:01 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragee74013e1.queue.core.windows.net/mytestqueuee74013e1
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee74013e1.queue.core.windows.net
        - /mytestqueuee74013e1
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:01 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragee74013e1.queue.core.windows.net/mytestqueuee74013e1/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d8c0438b-b55d-4f77-ad24-1ce4e4527168</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:54:00 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:54:00
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAATgmFfe6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:54:00 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee74013e1.queue.core.windows.net
        - /mytestqueuee74013e1/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:01 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragee74013e1.queue.core.windows.net/mytestqueuee74013e1/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d8c0438b-b55d-4f77-ad24-1ce4e4527168</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:54:00 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:54:00
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA6Mdsj+6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:54:30 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee74013e1.queue.core.windows.net
        - /mytestqueuee74013e1/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:01 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragee74013e1.queue.core.windows.net/mytestqueuee74013e1/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee74013e1.queue.core.windows.net
        - /mytestqueuee74013e1/messages
        - ''
        - ''
version: 1
