interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:10 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage546e15fa.queue.core.windows.net/encryptionqueue546e15fa
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "vwe4Xm3btGqag7DhlcSiIs3VbbTqhUmnLXv/5+7JD40=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "8PanrwocCGyhIOkide6tC55aWC2dJumRG7mbBC8ZjboMQopj26LZNg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "4BLz2tUZOh6Y3Bknp4GQkg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage546e15fa.queue.core.windows.net/encryptionqueue546e15fa/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e5a55163-9484-410a-9996-1f5dc1aa2122</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:58:09 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:58:09
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAARb7TK/5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:58:09 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage546e15fa.queue.core.windows.net/encryptionqueue546e15fa/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e5a55163-9484-410a-9996-1f5dc1aa2122</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:58:09 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:58:09
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAXG7DPf5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:58:39 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"vwe4Xm3btGqag7DhlcSiIs3VbbTqhUmnLXv/5+7JD40=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"8PanrwocCGyhIOkide6tC55aWC2dJumRG7mbBC8ZjboMQopj26LZNg==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"4BLz2tUZOh6Y3Bknp4GQkg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
