interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:53:39 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragee8a50da2.queue.core.windows.net/pythonqueuee8a50da2
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee8a50da2.queue.core.windows.net
        - /pythonqueuee8a50da2
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:53:39 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragee8a50da2.queue.core.windows.net/pythonqueuee8a50da2/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fe3f5187-bf2b-4aac-9a72-0aba99faaa04</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:53:38 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:53:38
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAnlnxif1k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:53:38 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee8a50da2.queue.core.windows.net
        - /pythonqueuee8a50da2/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 21:53:39 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragee8a50da2.queue.core.windows.net/pythonqueuee8a50da2/messages?peekonly=true&st=2019-09-06T21:48:39Z&se=2019-09-06T22:53:39Z&sp=r&sv=2018-03-28&ss=q&srt=o&sig=y8ZamgWfnbV2cUmmOOoFvuy51HcnBXg4Ad%2Bl3u2VrFE%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fe3f5187-bf2b-4aac-9a72-0aba99faaa04</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:53:38 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:53:38
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee8a50da2.queue.core.windows.net
        - /pythonqueuee8a50da2/messages
        - peekonly=true&st=2019-09-06T21:48:39Z&se=2019-09-06T22:53:39Z&sp=r&sv=2018-03-28&ss=q&srt=o&sig=y8ZamgWfnbV2cUmmOOoFvuy51HcnBXg4Ad%2Bl3u2VrFE%3D
        - ''
version: 1
