interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuec0820c59
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuec0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>83095281-1ec9-4175-9dea-586954608941</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:16 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:16
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0Qhw7TYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:13:16 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuec0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>83095281-1ec9-4175-9dea-586954608941</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:16 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:16
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAnsNZ/zYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:13:46 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuec0820c59/messages/83095281-1ec9-4175-9dea-586954608941?popreceipt=AgAAAAMAAAAAAAAAnsNZ%2FzYp1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAJHGB7TYp1QEBAAAA
      x-ms-time-next-visible:
      - Sat, 22 Jun 2019 20:13:16 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:35 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuec0820c59
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:35 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueuec0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e14c8959-6eb7-4504-9d4d-27fa682ba738</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:18:35 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:18:35
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA1Uaqqzcp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:18:35 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:35 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuec0820c59/messages/e14c8959-6eb7-4504-9d4d-27fa682ba738?popreceipt=AgAAAAMAAAAAAAAALeyUvTcp1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAmHK8qzcp1QEBAAAA
      x-ms-time-next-visible:
      - Sat, 22 Jun 2019 20:18:35 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:22:56 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuec0820c59/messages/f446f6b5-e9f9-4abf-a32b-3ed9358b4851?popreceipt=AgAAAAMAAAAAAAAAUZLqWDgp1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAA/o0SRzgp1QEBAAAA
      x-ms-time-next-visible:
      - Sat, 22 Jun 2019 20:22:56 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:39:10 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuec0820c59/messages/0b1b2830-4f09-42fb-a348-490c551b040b?popreceipt=AgAAAAMAAAAAAAAAHW48nTop1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAnsllizop1QEBAAAA
      x-ms-time-next-visible:
      - Sat, 22 Jun 2019 20:39:10 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:49 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuec0820c59
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:49 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuec0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fc4eb4cd-6c10-4d4f-aeef-d08025a678f6</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:55:49 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:55:49
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA2inLdhhJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 09:55:49 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:50 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuec0820c59/messages/fc4eb4cd-6c10-4d4f-aeef-d08025a678f6?popreceipt=AgAAAAMAAAAAAAAAS%2BO%2FiBhJ1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAATvoMdxhJ1QEBAAAA
      x-ms-time-next-visible:
      - Fri, 02 Aug 2019 09:55:50 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:50 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuec0820c59/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fc4eb4cd-6c10-4d4f-aeef-d08025a678f6</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:55:49 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:55:49
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAtfP+iBhJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 09:56:20 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
