interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:48:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage3acd1575.queue.core.windows.net/pythonqueue3acd1575
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3acd1575.queue.core.windows.net
        - /pythonqueue3acd1575
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:48:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage3acd1575.queue.core.windows.net/pythonqueue3acd1575/messages?messagettl=1073741824
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ca98d888-aa1b-4603-8d34-dafb100672d7</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:48:27 GMT</InsertionTime><ExpirationTime>Sat, 30 Aug 2053 12:25:31
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAArjDOi3JY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 22:48:27 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3acd1575.queue.core.windows.net
        - /pythonqueue3acd1575/messages
        - messagettl=1073741824
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:48:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage3acd1575.queue.core.windows.net/pythonqueue3acd1575/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ca98d888-aa1b-4603-8d34-dafb100672d7</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:48:27 GMT</InsertionTime><ExpirationTime>Sat, 30 Aug 2053 12:25:31
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3acd1575.queue.core.windows.net
        - /pythonqueue3acd1575/messages
        - peekonly=true
        - ''
version: 1
