interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:39:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorageb3920bee.queue.core.windows.net/pythonqueueb3920bee
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:39:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorageb3920bee.queue.core.windows.net/pythonqueueb3920bee/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>64536a42-a81a-43e3-9b9d-fa39f44c86c7</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:39:04 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:39:04
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAjHhzPHFY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 22:39:04 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:39:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorageb3920bee.queue.core.windows.net/pythonqueueb3920bee/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>64536a42-a81a-43e3-9b9d-fa39f44c86c7</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:39:04 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:39:04
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
