interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragebf910c49.queue.core.windows.net/pythonqueuebf910c49
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragebf910c49.queue.core.windows.net/pythonqueuebf910c49/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>91e18bc7-ad93-46b8-aa96-f7d9524a3019</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:01:24 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:01:24
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA2V1LbZpX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:01:24 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragebf910c49.queue.core.windows.net/pythonqueuebf910c49/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>91e18bc7-ad93-46b8-aa96-f7d9524a3019</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:01:24 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:01:24
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAADEJ+f5pX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:01:55 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragebf910c49.queue.core.windows.net/pythonqueuebf910c49/messages/91e18bc7-ad93-46b8-aa96-f7d9524a3019?popreceipt=AgAAAAMAAAAAAAAADEJ%2Bf5pX1QE%3D
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragebf910c49.queue.core.windows.net/pythonqueuebf910c49/messages?numofmessages=32
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f1a331b7-337b-47f3-9d19-56f49861432b</MessageId><Inser[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:27 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragebf910c49.queue.core.windows.net/pythonqueuebf910c49
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AccountNotFound</Code><Message>The
        specified account does not exist.\nRequestId:2f7c4bba-7003-0129-549a-57d41f000000\nTime:2019-08-20T21:01:26.7994073Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - AccountNotFound
      x-ms-version:
      - '2018-03-28'
    status:
      code: 404
      message: The specified account does not exist.
version: 1
