interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:21:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage91880abb.queue.core.windows.net/pythonqueue91880abb
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:21:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage91880abb.queue.core.windows.net/pythonqueue91880abb/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d6f10cfe-94b8-45e7-8b46-b0b60152939a</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:21:57 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:21:57
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAtIQTKm9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:21:57 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:21:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage91880abb.queue.core.windows.net/pythonqueue91880abb/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d6f10cfe-94b8-45e7-8b46-b0b60152939a</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:21:57 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:21:57
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAADvwBPG9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:22:27 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>updatedmessage1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:21:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage91880abb.queue.core.windows.net/pythonqueue91880abb/messages/d6f10cfe-94b8-45e7-8b46-b0b60152939a?popreceipt=AgAAAAMAAAAAAAAADvwBPG9j1QE%3D&visibilitytimeout=0&se=2019-09-04T23%3A21%3A57Z&sp=u&sv=2018-03-28&sig=6oRZYbVgJuyZcNxI7CgXvTcDCOEJ7l3EhlY1AaAdtPM%3D
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAHWtLKm9j1QEBAAAA
      x-ms-time-next-visible:
      - Wed, 04 Sep 2019 22:21:57 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:21:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage91880abb.queue.core.windows.net/pythonqueue91880abb/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d6f10cfe-94b8-45e7-8b46-b0b60152939a</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:21:57 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:21:57
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAWbs5PG9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:22:28 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>updatedmessage1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
