interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:03:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage32150fb3.queue.core.windows.net/pythonqueue32150fb3
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:03:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage32150fb3.queue.core.windows.net/pythonqueue32150fb3/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b146e48c-0abb-4a5a-907c-072e1a48c06e</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:03:15 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:03:15
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAXXmJr5pX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:03:15 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:03:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage32150fb3.queue.core.windows.net/pythonqueue32150fb3/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b146e48c-0abb-4a5a-907c-072e1a48c06e</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:03:15 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:03:15
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA2ZB2wZpX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:03:45 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new text</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:03:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage32150fb3.queue.core.windows.net/pythonqueue32150fb3/messages/b146e48c-0abb-4a5a-907c-072e1a48c06e?popreceipt=AgAAAAMAAAAAAAAA2ZB2wZpX1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAjLCgr5pX1QEBAAAA
      x-ms-time-next-visible:
      - Tue, 20 Aug 2019 21:03:16 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:03:18 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstorage32150fb3.queue.core.windows.net/pythonqueue32150fb3
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AccountNotFound</Code><Message>The
        specified account does not exist.\nRequestId:76a7b999-3003-0125-5c9a-573aee000000\nTime:2019-08-20T21:03:17.5003004Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - AccountNotFound
      x-ms-version:
      - '2018-03-28'
    status:
      code: 404
      message: The specified account does not exist.
version: 1
