interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage63fd1a91.queue.core.windows.net/encryptionqueue63fd1a91
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage63fd1a91.queue.core.windows.net
        - /encryptionqueue63fd1a91
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "74H4jS9vSZtkp8xfzC3LxU4mrFD2XiDhm4MaIlA7RtgWXe+n7bssgqGgGdzhCSCT7gPbeRVgjc4zM3u1wZBE0Z3Rm5J0ioT89dW34uI1pqmHeYk5fTxRZfUcUIBbtpsAF/yIW/xgaMAha6PcTdcMCSNZLb6V8bJoBJB3Cw1Qt0VOi2z+4o5PY5u61tG1jK+S",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "fYgouRjourK4JJu26FvUtM4Yh/FPTvPF5kiBi9WF9+p8VonFik6XjQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "a0yT40QtVfKzXx0gjrONRA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage63fd1a91.queue.core.windows.net/encryptionqueue63fd1a91/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>91b01108-1c6a-4b9d-947b-b5beaff57f30</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:55:30 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:55:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAA1cYs+6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:55:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage63fd1a91.queue.core.windows.net
        - /encryptionqueue63fd1a91/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage63fd1a91.queue.core.windows.net/encryptionqueue63fd1a91/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>91b01108-1c6a-4b9d-947b-b5beaff57f30</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:55:30 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:55:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAEtkAxe6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:56:00 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"74H4jS9vSZtkp8xfzC3LxU4mrFD2XiDhm4MaIlA7RtgWXe+n7bssgqGgGdzhCSCT7gPbeRVgjc4zM3u1wZBE0Z3Rm5J0ioT89dW34uI1pqmHeYk5fTxRZfUcUIBbtpsAF/yIW/xgaMAha6PcTdcMCSNZLb6V8bJoBJB3Cw1Qt0VOi2z+4o5PY5u61tG1jK+S\",
        \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\":
        \"fYgouRjourK4JJu26FvUtM4Yh/FPTvPF5kiBi9WF9+p8VonFik6XjQ==\", \"Algorithm\":
        \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"a0yT40QtVfKzXx0gjrONRA==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b4\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage63fd1a91.queue.core.windows.net
        - /encryptionqueue63fd1a91/messages
        - ''
        - ''
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "ud6YKIvXrhXJCVFzHHmNOy3/JMRk+qW52AvKHdLnYbqG2FuGO5/GplzhMzMrdAjwq4t80AU4XLUR97bS/ykNo7M12GN/0l7yT1tDhYudps5MulBooxxZ4kekByfV4U4awd8ab3e99lroI63yRZEL/mIpM6HQvyyvf4ncsmlAfszaUV+NCmCdGgHMMqQV7AP3",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "+1m/wvSmxzKONAwD1oelFY4K8PY8PwzS8tBoNtwIUqkRpy4fM+3+zA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "bcAwMAVfVxPvlnZ6tZMlnQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage63fd1a91.queue.core.windows.net/encryptionqueue63fd1a91/messages/91b01108-1c6a-4b9d-947b-b5beaff57f30?popreceipt=AgAAAAMAAAAAAAAAEtkAxe6D1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt: AwAAAAMAAAAAAAAAjD4vs+6D1QEBAAAA
      x-ms-time-next-visible: Wed, 16 Oct 2019 06:55:30 GMT
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage63fd1a91.queue.core.windows.net
        - /encryptionqueue63fd1a91/messages/91b01108-1c6a-4b9d-947b-b5beaff57f30
        - popreceipt=AgAAAAMAAAAAAAAAEtkAxe6D1QE%3D&visibilitytimeout=0
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage63fd1a91.queue.core.windows.net/encryptionqueue63fd1a91/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage63fd1a91.queue.core.windows.net
        - /encryptionqueue63fd1a91/messages
        - ''
        - ''
version: 1
