interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragea9f9175f.queue.core.windows.net/messagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragea9f9175f.queue.core.windows.net/messagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>53448821-86cb-4357-b501-09553358ed39</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:56:25 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:56:25
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAgCzx0+6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:56:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message2</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragea9f9175f.queue.core.windows.net/messagequeue/messages?visibilitytimeout=30
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4e7f752f-b2db-431d-abc1-c90295ac1a0d</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:56:26 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:56:26
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAArhrp5e6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:56:56 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragea9f9175f.queue.core.windows.net/messagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>53448821-86cb-4357-b501-09553358ed39</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:56:25 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:56:25
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA+ioo5u6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:56:56 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:27 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragea9f9175f.queue.core.windows.net/messagequeue/messages?numofmessages=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:27 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragea9f9175f.queue.core.windows.net/messagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
version: 1
