interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage91880abb.queue.core.windows.net/pythonqueue91880abb
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage91880abb.queue.core.windows.net/pythonqueue91880abb/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a17e1e9e-2ee2-44ca-9598-d8a6a884ae2a</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:02:24 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:02:24
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAlzgDkZpX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:02:24 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage91880abb.queue.core.windows.net/pythonqueue91880abb/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a17e1e9e-2ee2-44ca-9598-d8a6a884ae2a</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:02:24 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:02:24
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAbsjuoppX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:02:54 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>updatedmessage1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage91880abb.queue.core.windows.net/pythonqueue91880abb/messages/a17e1e9e-2ee2-44ca-9598-d8a6a884ae2a?popreceipt=AgAAAAMAAAAAAAAAbsjuoppX1QE%3D&visibilitytimeout=0&se=2019-08-20T22%3A02%3A25Z&sp=u&sv=2018-03-28&sig=aA8lUSFSrcXxySI9LBR4K437A4nCryxCqLfdprY6tEM%3D
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAADCc1kZpX1QEBAAAA
      x-ms-time-next-visible:
      - Tue, 20 Aug 2019 21:02:25 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:27 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstorage91880abb.queue.core.windows.net/pythonqueue91880abb
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AccountNotFound</Code><Message>The
        specified account does not exist.\nRequestId:00933f3f-b003-00d4-389a-57e1eb000000\nTime:2019-08-20T21:02:26.4938250Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - AccountNotFound
      x-ms-version:
      - '2018-03-28'
    status:
      code: 404
      message: The specified account does not exist.
version: 1
