interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:09:14 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage847016ff.queue.core.windows.net/encryptionqueue847016ff
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "X1lVNLlz9ZVi3pBAoJ6iXw==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "/jzGgA8f77UdmBKYBaCLarGs/aaAkqgcCoWkwBvGJjmfDfAcGTNJEw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "fAsIzMR3HVXLL21fLWE6YQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:09:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage847016ff.queue.core.windows.net/encryptionqueue847016ff/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ee6c570f-fc37-4092-93d4-63a04e8c2c11</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:09:14 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:09:14
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA82IfhZtX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:09:14 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:09:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage847016ff.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ee6c570f-fc37-4092-93d4-63a04e8c2c11</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:09:14 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:09:14
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"X1lVNLlz9ZVi3pBAoJ6iXw==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"/jzGgA8f77UdmBKYBaCLarGs/aaAkqgcCoWkwBvGJjmfDfAcGTNJEw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"fAsIzMR3HVXLL21fLWE6YQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:09:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage847016ff.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ee6c570f-fc37-4092-93d4-63a04e8c2c11</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:09:14 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:09:14
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"X1lVNLlz9ZVi3pBAoJ6iXw==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"/jzGgA8f77UdmBKYBaCLarGs/aaAkqgcCoWkwBvGJjmfDfAcGTNJEw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"fAsIzMR3HVXLL21fLWE6YQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
