interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:26:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage6a6e165f.queue.core.windows.net/encryptionqueue6a6e165f
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "gBtDUPIv2hJPgpqJujNCSjoFxAgZ8aafXvTu+BADOHE=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "ljBeB0j0FzISXBO/2cqxG+r/D2Eaw0PG/iFJ/uLkzQ/4zZM8vJAHuA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "LMITHJ5z/0DssurEI8ClEA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:26:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage6a6e165f.queue.core.windows.net/encryptionqueue6a6e165f/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>327af634-32c6-4fe8-9bec-87b92f5e813f</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:26:27 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:26:27
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAhFsxXR+J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:26:27 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:26:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage6a6e165f.queue.core.windows.net/encryptionqueue6a6e165f/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>327af634-32c6-4fe8-9bec-87b92f5e813f</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:26:27 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:26:27
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"gBtDUPIv2hJPgpqJujNCSjoFxAgZ8aafXvTu+BADOHE=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"ljBeB0j0FzISXBO/2cqxG+r/D2Eaw0PG/iFJ/uLkzQ/4zZM8vJAHuA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"LMITHJ5z/0DssurEI8ClEA==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b4\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
