interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:12:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.queue.core.windows.net/pythonqueueb3920bee
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:12:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://remotestoragename.queue.core.windows.net/pythonqueueb3920bee/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>245cfd79-1c16-4d04-ba74-8210b5cad3f9</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:12:57 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:12:57
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAQKn34TYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:12:57 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:12:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.queue.core.windows.net/pythonqueueb3920bee/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>245cfd79-1c16-4d04-ba74-8210b5cad3f9</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:12:57 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:12:57
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:22 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueueb3920bee
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:22 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueueb3920bee/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>24e3e2a4-8261-4221-8569-195ef923c058</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:18:22 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:18:22
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABIT0ozcp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:18:22 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:22 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueueb3920bee/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>24e3e2a4-8261-4221-8569-195ef923c058</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:18:22 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:18:22
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:29:10 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueueb3920bee
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:29:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueueb3920bee/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e0b373cd-f6bb-4660-b5b2-d7c0c4cad231</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:29:09 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:29:09
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAALoy/eZH1QE=</PopReceipt><TimeNextVisible>Wed,
        31 Jul 2019 21:29:09 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:29:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueueb3920bee/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e0b373cd-f6bb-4660-b5b2-d7c0c4cad231</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:29:09 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:29:09
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
