interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Oct 2021 23:07:54 GMT
      x-ms-version:
      - '2020-08-04'
    method: GET
    uri: https://storagename-secondary.queue.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Thu,
        07 Oct 2021 23:05:07 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-08-04'
    status:
      code: 200
      message: OK
version: 1
