interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:07 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragedd7c186d.queue.core.windows.net/mytestqueuedd7c186d
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedd7c186d.queue.core.windows.net
        - /mytestqueuedd7c186d
        - ''
        - ''
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>  mess\t
      age1\n</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:07 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragedd7c186d.queue.core.windows.net/mytestqueuedd7c186d/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8a922b98-f3c4-45de-8936-110514c054ca</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:58:05 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:58:05
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAATtCUKf5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:58:05 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedd7c186d.queue.core.windows.net
        - /mytestqueuedd7c186d/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:07 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragedd7c186d.queue.core.windows.net/mytestqueuedd7c186d/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8a922b98-f3c4-45de-8936-110514c054ca</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:58:05 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:58:05
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAM1Z7O/5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:58:35 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>
        \ mess\t age1\n</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedd7c186d.queue.core.windows.net
        - /mytestqueuedd7c186d/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:07 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragedd7c186d.queue.core.windows.net/mytestqueuedd7c186d/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedd7c186d.queue.core.windows.net
        - /mytestqueuedd7c186d/messages
        - ''
        - ''
version: 1
