interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Mar 2022 23:46:02 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesyncba4112bb
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 18 Mar 2022 23:46:03 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesyncba4112bb/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ef9d0d84-574c-492e-871b-0d0f7ffe11d5</MessageId><InsertionTime>Fri,
        18 Mar 2022 23:46:01 GMT</InsertionTime><ExpirationTime>Fri, 25 Mar 2022 23:46:01
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAa9H2UiI72AE=</PopReceipt><TimeNextVisible>Fri,
        18 Mar 2022 23:46:01 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Mar 2022 23:46:03 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesyncba4112bb/messages?visibilitytimeout=20
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ef9d0d84-574c-492e-871b-0d0f7ffe11d5</MessageId><InsertionTime>Fri,
        18 Mar 2022 23:46:01 GMT</InsertionTime><ExpirationTime>Fri, 25 Mar 2022 23:46:01
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAlHoQXyI72AE=</PopReceipt><TimeNextVisible>Fri,
        18 Mar 2022 23:46:21 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
