interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9ae1814
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "ADaPVDUuyGcBsCBGdrzsr6sDsRyM4s02GxHHRXTdCKoCrbn/vFxs3Ko65YDB7ljZjNZeJIjLcjAMtSjS9I7/cDFanQ3w8NAPeSdFdSdH/KAv2L+JXMrymDVY/e0u52VoYwjT6DzX4zxUakpos0TbQaly3nSsCYViig+vVQkqxEOor+Ga1jXzfJ/bJlDgZ6fY",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "+hYdxFv+PEovRiIgpeQ6//FksCqhxmJ5Wo/XStlsh5b2iSrXu6INdA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "Hy0KHCUXrg5x/1vmxIFOmg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:41 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9ae1814/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>59d9be54-2327-42f7-a7f7-a318c1ccbe88</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:33:41 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 22:33:41
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAprvFVYJJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 22:33:41 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:41 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9ae1814/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>59d9be54-2327-42f7-a7f7-a318c1ccbe88</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:33:41 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 22:33:41
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAgae0Z4JJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 22:34:11 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"ADaPVDUuyGcBsCBGdrzsr6sDsRyM4s02GxHHRXTdCKoCrbn/vFxs3Ko65YDB7ljZjNZeJIjLcjAMtSjS9I7/cDFanQ3w8NAPeSdFdSdH/KAv2L+JXMrymDVY/e0u52VoYwjT6DzX4zxUakpos0TbQaly3nSsCYViig+vVQkqxEOor+Ga1jXzfJ/bJlDgZ6fY\",
        \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\":
        \"+hYdxFv+PEovRiIgpeQ6//FksCqhxmJ5Wo/XStlsh5b2iSrXu6INdA==\", \"Algorithm\":
        \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"Hy0KHCUXrg5x/1vmxIFOmg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "eV+kqANlXO82EYl0AGiDcVAeo+0Cf0B2Qseq+M22/rWjMVkLr2T22Zo4EIyQFCZvNRwLz3uUCqzCcmv0YwB9D9lb/ijZTj8DwuFJCrPUpquO6MFWd1zxp48SzFaDTLILb0hPg54H7qF5osMUVegna5N4Q2sWRF+Chk/VFz+5UqZs5JKqfiQJG+ov8W7lFwSA",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "sYJ3ZZUvjwFIwsjKULJGemKLcAsMeU3W7XBB2cNL4+tNE77f+WP03A==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "LSiuO+JDXrMAkRit9mn4Bg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:41 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9ae1814/messages/59d9be54-2327-42f7-a7f7-a318c1ccbe88?popreceipt=AgAAAAMAAAAAAAAAgae0Z4JJ1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAANa3hVYJJ1QEBAAAA
      x-ms-time-next-visible:
      - Fri, 02 Aug 2019 22:33:41 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
