interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:55:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragee94d0db4.queue.core.windows.net/pythonqueuee94d0db4
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee94d0db4.queue.core.windows.net
        - /pythonqueuee94d0db4
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:55:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragee94d0db4.queue.core.windows.net/pythonqueuee94d0db4/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>658f4693-6aa5-4cd8-ac3d-365ccb97731a</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:55:30 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:55:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAoMzRzP1k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:55:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee94d0db4.queue.core.windows.net
        - /pythonqueuee94d0db4/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:55:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragee94d0db4.queue.core.windows.net/pythonqueuee94d0db4/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>658f4693-6aa5-4cd8-ac3d-365ccb97731a</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:55:30 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:55:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA7MO63v1k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:56:00 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee94d0db4.queue.core.windows.net
        - /pythonqueuee94d0db4/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:55:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragee94d0db4.queue.core.windows.net/pythonqueuee94d0db4/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee94d0db4.queue.core.windows.net
        - /pythonqueuee94d0db4/messages
        - ''
        - ''
version: 1
