interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuee6c913f1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 31 Jul 2019 21:28:12 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueuee6c913f1
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueuee6c913f1/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>436d9f9b-6539-44ab-b4df-08d54aa98521</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:28:13 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:28:13
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0/vf2+ZH1QE=</PopReceipt><TimeNextVisible>Wed,
        31 Jul 2019 21:28:13 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 31 Jul 2019 21:28:12 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueuee6c913f1/messages
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueuee6c913f1/messages?numofmessages=4&peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>436d9f9b-6539-44ab-b4df-08d54aa98521</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:28:13 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:28:13
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>161586b5-2d61-4289-bb03-21fe5ba8f467</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:28:13 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:28:13
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>3e27616f-3d8a-4e4c-87ce-e825a4d0da3e</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:28:13 GMT</InsertionTime><E[...]
[...]
