interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:48:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage1748197c.queue.core.windows.net/encryptionqueue1748197c
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1748197c.queue.core.windows.net
        - /encryptionqueue1748197c
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "Ss2L+jbzjd+nQhqF6r3uQw==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "yuceawxpoVqgd1LRjuDvX2XD3IrtupMcpoWkyYWhbEXRstYaH4Dpug==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "VVLM/3nXdMba7+rMrRasYg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:48:12 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage1748197c.queue.core.windows.net/encryptionqueue1748197c/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>de626d0f-ec97-4b41-8c59-eaa71b04a87e</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:48:10 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:48:10
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVke6gXJY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 22:48:10 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1748197c.queue.core.windows.net
        - /encryptionqueue1748197c/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:48:12 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage1748197c.queue.core.windows.net/encryptionqueue1748197c/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>de626d0f-ec97-4b41-8c59-eaa71b04a87e</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:48:10 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:48:10
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"Ss2L+jbzjd+nQhqF6r3uQw==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"yuceawxpoVqgd1LRjuDvX2XD3IrtupMcpoWkyYWhbEXRstYaH4Dpug==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"VVLM/3nXdMba7+rMrRasYg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1748197c.queue.core.windows.net
        - /encryptionqueue1748197c/messages
        - peekonly=true
        - ''
[...]
