interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:12:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuee42613c2
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:12:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuee42613c2/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b058a9d0-ca4e-47fc-9b64-4448b19cbd91</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:12:53 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:12:53
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAJi/w3zYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:12:53 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:12:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuee42613c2?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count:
      - '1'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:18 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuee42613c2
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:18 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueuee42613c2/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>cbb2c1d4-6a3e-48da-b92b-942afff11ea4</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:18:19 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:18:19
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAo826oTcp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:18:19 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueuee42613c2?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count:
      - '1'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:29:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueuee42613c2
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:29:07 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueuee42613c2/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c7a798e9-aeff-4637-9bbd-845c24a6e4bd</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:29:05 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:29:05
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAxbj2+uZH1QE=</PopReceipt><TimeNextVisible>Wed,
        31 Jul 2019 21:29:05 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:29:07 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://rakshithqueueasynctest.queue.core.windows.net/pythonqueuee42613c2?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count:
      - '1'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
