interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueueaa76175b
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 31 Jul 2019 21:28:18 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueueaa76175b
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueueaa76175b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ea34941c-f983-4806-9891-4b975c1e4a77</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:28:19 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:28:19
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAbPcy3+ZH1QE=</PopReceipt><TimeNextVisible>Wed,
        31 Jul 2019 21:28:19 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 31 Jul 2019 21:28:18 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueueaa76175b/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueueaa76175b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ea34941c-f983-4806-9891-4b975c1e4a77</MessageId><InsertionTime>Wed,
        31 Jul 2019 21:28:19 GMT</InsertionTime><ExpirationTime>Wed, 07 Aug 2019 21:28:19
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAv0Aa8eZH1QE=</PopReceipt><TimeNextVisible>Wed,
        31 Jul 2019 21:28:49 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Cache-Control
      : no-cache
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 31 Jul 2019 21:28:18 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueueaa76175b/messages
        - ''
        - ''
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:28:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueueaa76175b/messages/ea34941c-f983-4806-9891-4b975c1e4a77?popreceipt=AgAAAAMAAAAAAAAAv0Aa8eZH1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 31 Jul 2019 21:28:18 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      x-ms-popreceipt: AwAAAAMAAAAAAAAAu19E3+ZH1QEBAAAA
      x-ms-time-next-visible: Wed, 31 Jul 2019 21:28:19 GMT
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueueaa76175b/messages/ea34941c-f983-4806-9891-4b975c1e4a77
        - popreceipt=AgAAAAMAAAAAAAAAv0Aa8eZH1QE%3D&visibilitytimeout=0
        - ''
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:29:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueueaa76175b/messages/c2fd5c43-83d8-44f6-b39e-f27bcd1b35ba?popreceipt=AgAAAAMAAAAAAAAAX9T3IedH1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 31 Jul 2019 21:29:40 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      x-ms-popreceipt: AwAAAAMAAAAAAAAAvI8iEOdH1QEBAAAA
      x-ms-time-next-visible: Wed, 31 Jul 2019 21:29:41 GMT
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueueaa76175b/messages/c2fd5c43-83d8-44f6-b39e-f27bcd1b35ba
        - popreceipt=AgAAAAMAAAAAAAAAX9T3IedH1QE%3D&visibilitytimeout=0
        - ''
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 01 Aug 2019 22:41:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueueaa76175b/messages/b5b227d8-ccfd-48e7-ac6c-fc6ffcb50ed3?popreceipt=AgAAAAMAAAAAAAAAYL3SXbpI1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 01 Aug 2019 22:41:44 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      x-ms-popreceipt: AwAAAAMAAAAAAAAAPbX8S7pI1QEBAAAA
      x-ms-time-next-visible: Thu, 01 Aug 2019 22:41:45 GMT
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueueaa76175b/messages/b5b227d8-ccfd-48e7-ac6c-fc6ffcb50ed3
        - popreceipt=AgAAAAMAAAAAAAAAYL3SXbpI1QE%3D&visibilitytimeout=0
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 01 Aug 2019 22:41:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueueaa76175b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Cache-Control
      : no-cache
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 01 Aug 2019 22:41:44 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.queue.core.windows.net
        - /pythonqueueaa76175b/messages
        - ''
        - ''
version: 1
