interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jun 2022 00:54:37 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue523015ae
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "5OcNcBdFt9WRvxTb15PqyFkip/REiNKoi1yAv0wymDo1Sz0ytyHXnvN+VGfosHXwh2Y=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "SwQSJFKaFZZv7mgYrCeCmfMoP0dfNnksmEdqzFDMQbsF8efY5r5B5PmMbqjNZ67K",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"DataLength": 4194304, "NonceLength":
      12}, "KeyWrappingMetadata": {"EncryptionLibrary": "Python 12.4.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 15 Jun 2022 00:54:37 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue523015ae/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3dbd827d-a1c0-4a8f-8d1c-34cd12a23337</MessageId><InsertionTime>Wed,
        15 Jun 2022 00:54:37 GMT</InsertionTime><ExpirationTime>Wed, 22 Jun 2022 00:54:37
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA/yWsfFKA2AE=</PopReceipt><TimeNextVisible>Wed,
        15 Jun 2022 00:54:37 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jun 2022 00:54:37 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue523015ae/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3dbd827d-a1c0-4a8f-8d1c-34cd12a23337</MessageId><InsertionTime>Wed,
        15 Jun 2022 00:54:37 GMT</InsertionTime><ExpirationTime>Wed, 22 Jun 2022 00:54:37
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAzU6YjlKA2AE=</PopReceipt><TimeNextVisible>Wed,
        15 Jun 2022 00:55:07 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"5OcNcBdFt9WRvxTb15PqyFkip/REiNKoi1yAv0wymDo1Sz0ytyHXnvN+VGfosHXwh2Y=\",
        \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\":
        \"SwQSJFKaFZZv7mgYrCeCmfMoP0dfNnksmEdqzFDMQbsF8efY5r5B5PmMbqjNZ67K\", \"Algorithm\":
        \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\":
        \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"DataLength\": 4194304, \"NonceLength\":
        12}, \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 12.4.0b1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "5OcNcBdFt9WRvxTb15PqyFkip/REiNKoi1yAv0wymDo1Sz0ytyHXnvN+VGfosHXwh2Y=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "SwQSJFKaFZZv7mgYrCeCmfMoP0dfNnksmEdqzFDMQbsF8efY5r5B5PmMbqjNZ67K",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "EncryptedRegionInfo": {"DataLength": 4194304, "NonceLength":
      12}, "KeyWrappingMetadata": {"EncryptionLibrary": "Python 12.4.0b1"}, "ContentEncryptionIV":
      "Iyf5A0p3UaQedx/91feYfA=="}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 15 Jun 2022 00:54:37 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue523015ae/messages/3dbd827d-a1c0-4a8f-8d1c-34cd12a23337?popreceipt=AgAAAAMAAAAAAAAAzU6YjlKA2AE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAADQbDfFKA2AEBAAAA
      x-ms-time-next-visible:
      - Wed, 15 Jun 2022 00:54:37 GMT
      x-ms-version:
      - '2021-02-12'
    status:
      code: 204
      message: No Content
[...]
