interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:21:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage7c4709d4.queue.core.windows.net/pythonqueue7c4709d4
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:21:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage7c4709d4.queue.core.windows.net/pythonqueue7c4709d4/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9024d565-a3c7-49b1-8340-9a1ea5896db5</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:21:51 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:21:51
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAgC2XJm9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:21:51 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 04 Sep 2019 22:21:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage7c4709d4.queue.core.windows.net/pythonqueue7c4709d4/messages?peekonly=true&st=2019-09-04T22%3A16%3A51Z&se=2019-09-04T23%3A21%3A51Z&sp=r&sv=2018-03-28&sig=4YahmXYVYQgzmM%2Bj9goefIcbMIlP2E%2BBZZRcqycupvw%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9024d565-a3c7-49b1-8340-9a1ea5896db5</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:21:51 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:21:51
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
