interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:27:10 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragec9311831.queue.core.windows.net/encryptionqueuec9311831
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "UpE1zGH5amRT55al7v8Db7vo2Q5HgI+P25yk0/FgmwA=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "HEKooJ/U+h6noaY3FF/ol1kn1rofI5Tc2N4CtUFvyhpAZEfrNJFd0w==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "Yu3XkFH36k7+D7ZyOh+dFg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:27:10 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragec9311831.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f34d0d25-17b2-4f89-ba38-794770d9cacd</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:27:10 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:27:10
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAZZGN5G9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:27:10 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:27:10 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragec9311831.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f34d0d25-17b2-4f89-ba38-794770d9cacd</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:27:10 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:27:10
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA7qh69m9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:27:40 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"UpE1zGH5amRT55al7v8Db7vo2Q5HgI+P25yk0/FgmwA=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"HEKooJ/U+h6noaY3FF/ol1kn1rofI5Tc2N4CtUFvyhpAZEfrNJFd0w==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"Yu3XkFH36k7+D7ZyOh+dFg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
