interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:22:44 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage137a0ecd.queue.core.windows.net/pythonqueue137a0ecd
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage137a0ecd.queue.core.windows.net
        - /pythonqueue137a0ecd
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:22:44 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage137a0ecd.queue.core.windows.net/pythonqueue137a0ecd/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a2cb6dda-52f5-43e6-a592-579f74c90bee</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:22:44 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:22:44
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAj4ICRm9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:22:44 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage137a0ecd.queue.core.windows.net
        - /pythonqueue137a0ecd/messages
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:22:44 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage137a0ecd.queue.core.windows.net/pythonqueue137a0ecd/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage137a0ecd.queue.core.windows.net
        - /pythonqueue137a0ecd/messages
        - peekonly=true
        - ''
version: 1
