interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.queue.core.windows.net/encryptionqueue6a6e165f
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "2ZYsyOnVCjohYaGQvNtetNRMPxHZ+931t1m02hNTyLs=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "CNnCoRdJpyTfPbp8rKvKVyjqhVoyNwiCDXv/8l51q9Vm3CHKl2dOAw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "Zj465sQEp0GaX2TlT5jVVg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.0.0"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://remotestoragename.queue.core.windows.net/encryptionqueue6a6e165f/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4b56787a-56af-40e0-95a9-dd2d2969695a</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:30 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAzg9+9TYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:13:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.queue.core.windows.net/encryptionqueue6a6e165f/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4b56787a-56af-40e0-95a9-dd2d2969695a</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:30 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:30
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"2ZYsyOnVCjohYaGQvNtetNRMPxHZ+931t1m02hNTyLs=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"CNnCoRdJpyTfPbp8rKvKVyjqhVoyNwiCDXv/8l51q9Vm3CHKl2dOAw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"Zj465sQEp0GaX2TlT5jVVg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.0.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "gtXiNLhAmoCyUPT7P5vc679447BW1boFSKnXi50hkHo=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "1X/hnLB6FUbj6Pw6jdyXUvhEPwtvGpErq63T//3nHx2K3U7KF6wARw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "Sqvyb9wAM6MLKuFjuSlrww==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.0.0"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:23:10 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>81ebbcd0-52d0-43c5-b5b3-e20273e8296e</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:23:10 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:23:10
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAZgJNTzgp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:23:10 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:23:10 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4b56787a-56af-40e0-95a9-dd2d2969695a</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:30 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:30
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"2ZYsyOnVCjohYaGQvNtetNRMPxHZ+931t1m02hNTyLs=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"CNnCoRdJpyTfPbp8rKvKVyjqhVoyNwiCDXv/8l51q9Vm3CHKl2dOAw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"Zj465sQEp0GaX2TlT5jVVg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.0.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://blobstoragename.queue.core.windows.net/encryptionqueue6a6e165f
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "UhdGiYiHqAj8365sVu/osPOE4l+We39peD8ovNw2H8I=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "4LuRrPAtcdOhw12tfziSBY63TPbG7MVfMRr5GIUYAoFgCtzD3VUbgQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "EgHDgTZcMZmE7vAV7Jzc9g==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://blobstoragename.queue.core.windows.net/encryptionqueue6a6e165f/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a30a3949-cfd6-47b2-9d3a-84ebfda5f079</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:56:40 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:56:40
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAE7w2lRhJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 09:56:40 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://blobstoragename.queue.core.windows.net/encryptionqueue6a6e165f/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a30a3949-cfd6-47b2-9d3a-84ebfda5f079</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:56:40 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:56:40
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"UhdGiYiHqAj8365sVu/osPOE4l+We39peD8ovNw2H8I=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"4LuRrPAtcdOhw12tfziSBY63TPbG7MVfMRr5GIUYAoFgCtzD3VUbgQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"EgHDgTZcMZmE7vAV7Jzc9g==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
