interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.queue.core.windows.net/encryptionqueue847016ff
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "xITZKlfcChO/kDAWLJQxkg==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "AMIWR8IcamDoq1aRY2peAAXHmUBCQ+ED8xvnxUEJukCSJXNK+KoN1g==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "rptbBw1EoSa//sCOhPjpNA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.0.0"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://remotestoragename.queue.core.windows.net/encryptionqueue847016ff/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fc91b88f-4ff5-45b7-81ef-566af61ba2dc</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:29 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:29
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAowoG9TYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:13:29 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fc91b88f-4ff5-45b7-81ef-566af61ba2dc</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:29 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:29
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"xITZKlfcChO/kDAWLJQxkg==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"AMIWR8IcamDoq1aRY2peAAXHmUBCQ+ED8xvnxUEJukCSJXNK+KoN1g==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"rptbBw1EoSa//sCOhPjpNA==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.0.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "OR6Lg0hw0MxMLgBhhrUbzA==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "pP9cGuesLaBH8V8Ir3ka0ZRzROHlamBD+tZA+OqriHE+NfVH0e9MAQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "+Bkftq995w9Yf5VkEuHLKg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.0.0"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:23:09 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4de281d7-7bd9-4e63-98d1-6dcfebdd0149</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:23:09 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:23:09
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAYM6lTjgp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:23:09 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:23:09 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fc91b88f-4ff5-45b7-81ef-566af61ba2dc</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:29 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:29
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"xITZKlfcChO/kDAWLJQxkg==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"AMIWR8IcamDoq1aRY2peAAXHmUBCQ+ED8xvnxUEJukCSJXNK+KoN1g==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"rptbBw1EoSa//sCOhPjpNA==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.0.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:38 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://blobstoragename.queue.core.windows.net/encryptionqueue847016ff
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "BEDmUhxU9vixJaaHIvb9vg==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "hxctZtZmBWww62zCBDvhdtK6dMWPEPWASTWRAo1xGQGz17HgFJ5eAw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "FSOvGQH3w4C70amhnPGgyw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:38 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://blobstoragename.queue.core.windows.net/encryptionqueue847016ff/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>787e0de4-a712-4384-aa45-ac2861e82fcc</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:56:39 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:56:39
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAjAAolBhJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 09:56:39 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:38 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://blobstoragename.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>787e0de4-a712-4384-aa45-ac2861e82fcc</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:56:39 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:56:39
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"BEDmUhxU9vixJaaHIvb9vg==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"hxctZtZmBWww62zCBDvhdtK6dMWPEPWASTWRAo1xGQGz17HgFJ5eAw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"FSOvGQH3w4C70amhnPGgyw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:39 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://blobstoragename.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>787e0de4-a712-4384-aa45-ac2861e82fcc</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:56:39 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:56:39
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"BEDmUhxU9vixJaaHIvb9vg==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"hxctZtZmBWww62zCBDvhdtK6dMWPEPWASTWRAo1xGQGz17HgFJ5eAw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"FSOvGQH3w4C70amhnPGgyw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
