{
  "Entries": [
    {
      "RequestUri": "https://storagename.queue.core.windows.net/encryptionqueue620f317b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 31 Oct 2022 23:38:26 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.queue.core.windows.net/encryptionqueue620f317b/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 31 Oct 2022 23:38:26 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CQueueMessage\u003E\u003CMessageText\u003E{\u0022EncryptedMessageContents\u0022: \u0022TWLVTsK9oMikTPugqLtzfO5u8yYLr3KJsyE7OJPBZMVg3ecqv7i090v5w8XNHCP9FaY=\u0022, \u0022EncryptionData\u0022: {\u0022WrappedContentKey\u0022: {\u0022KeyId\u0022: \u0022key1\u0022, [...]
    {
      "RequestUri": "https://storagename.queue.core.windows.net/encryptionqueue620f317b/messages?numofmessages=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 31 Oct 2022 23:38:27 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221[...]
