interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><MinuteMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>366</Days></RetentionPolicy></MinuteMetrics></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 20:36:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://blobstoragename.queue.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML
        specified is not syntactically valid.\nRequestId:32581ea9-0003-0001-7072-4965fd000000\nTime:2019-08-02T20:36:48.3918539Z</Message><LineNumber>2</LineNumber><LinePosition>176</LinePosition><Reason>Retention
        days must be greater than 0 and less than or equal to 365 days.</Reason></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - InvalidXmlDocument
      x-ms-version:
      - '2018-03-28'
    status:
      code: 400
      message: XML specified is not syntactically valid.
version: 1
