interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\x01</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:57:44 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage284a1997.queue.core.windows.net/mytestqueue284a1997/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML
        specified is not syntactically valid.\nRequestId:d08c7558-a003-009e-0bfe-64f8f8000000\nTime:2019-09-06T21:57:42.7920439Z</Message><LineNumber>2</LineNumber><LinePosition>28</LinePosition><Reason>Error
        parsing Xml content</Reason></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: InvalidXmlDocument
      x-ms-version: '2018-03-28'
    status:
      code: 400
      message: XML specified is not syntactically valid.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage284a1997.queue.core.windows.net
        - /mytestqueue284a1997/messages
        - ''
        - ''
version: 1
