interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:22 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage21d30f34.queue.core.windows.net/pythonqueue21d30f34
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-08-20T20:02:22Z</Start><Expiry>2019-08-20T22:02:22Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:23 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage21d30f34.queue.core.windows.net/pythonqueue21d30f34?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:23 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage21d30f34.queue.core.windows.net/pythonqueue21d30f34/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>58c82f6e-c06e-485d-903f-00eae2d6b47d</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:02:22 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:02:22
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA2hqgj5pX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:02:22 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:23 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage21d30f34.queue.core.windows.net/pythonqueue21d30f34/messages?peekonly=true&sv=2018-03-28&si=testid&sig=wuUygZ%2BRgt5wuPW6pfxs5wAtcIVZDlXOLsEGaF3eoI4%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>58c82f6e-c06e-485d-903f-00eae2d6b47d</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:02:22 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:02:22
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:24 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstorage21d30f34.queue.core.windows.net/pythonqueue21d30f34
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AccountNotFound</Code><Message>The
        specified account does not exist.\nRequestId:debe8977-7003-006c-449a-575a7c000000\nTime:2019-08-20T21:02:23.8410386Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - AccountNotFound
      x-ms-version:
      - '2018-03-28'
    status:
      code: 404
      message: The specified account does not exist.
version: 1
