interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:28:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage7df61b13.queue.core.windows.net/encryptionqueue7df61b13
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7df61b13.queue.core.windows.net
        - /encryptionqueue7df61b13
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "Ut+zxYbtcO9RzNcyNaYMoTeZDj9ideDQTLjd+pq5SNU=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "sQblZXpVoSf4LqguldPnVPqI+NmoQ5epUSFpi9CBBR1mD4arDXnV5A==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "NUTURjRKABIZFov1UHqCTg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:28:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage7df61b13.queue.core.windows.net/encryptionqueue7df61b13/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>385589a4-c003-405d-be65-ed294128ac89</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:28:16 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:28:16
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAoUndC3Bj1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:28:16 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7df61b13.queue.core.windows.net
        - /encryptionqueue7df61b13/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:28:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage7df61b13.queue.core.windows.net/encryptionqueue7df61b13/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>385589a4-c003-405d-be65-ed294128ac89</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:28:16 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:28:16
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"Ut+zxYbtcO9RzNcyNaYMoTeZDj9ideDQTLjd+pq5SNU=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"sQblZXpVoSf4LqguldPnVPqI+NmoQ5epUSFpi9CBBR1mD4arDXnV5A==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"NUTURjRKABIZFov1UHqCTg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7df61b13.queue.core.windows.net
        - /encryptionqueue7df61b13/messages
        - peekonly=true
        - ''
version: 1
