interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:04:13 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragef6bf0e06.queue.core.windows.net/pythonqueuef6bf0e06
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef6bf0e06.queue.core.windows.net
        - /pythonqueuef6bf0e06
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:04:13 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragef6bf0e06.queue.core.windows.net/pythonqueuef6bf0e06/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>634924c3-9719-47af-88ea-3796c62edc0e</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:04:12 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:04:12
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA80Jx0ZpX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:04:12 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef6bf0e06.queue.core.windows.net
        - /pythonqueuef6bf0e06/messages
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:04:13 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragef6bf0e06.queue.core.windows.net/pythonqueuef6bf0e06/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>634924c3-9719-47af-88ea-3796c62edc0e</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:04:12 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:04:12
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAgMNk45pX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:04:42 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef6bf0e06.queue.core.windows.net
        - /pythonqueuef6bf0e06/messages
        - ''
        - ''
version: 1
