{
  "Entries": [
    {
      "RequestUri": "https://storagename.queue.core.windows.net/mytestqueue507a335a/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 26 Oct 2022 23:31:17 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CQueueMessage\u003E\u003CMessageText\u003E\u0001\u003C/MessageText\u003E\u003C/QueueMessage\u003E"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidXmlDocument",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidXmlDocument\u003C/Code\u003E\u003CMessage\u003EXML specified is not syntactically valid.\n",
        "RequestId:35540dd2-6003-00a9-6a93-e93753000000\n",
        "Time:2022-10-26T23:31:17.3700295Z\u003C/Message\u003E\u003CLineNumber\u003E2\u003C/LineNumber\u003E\u003CLinePosition\u003E28\u003C/LinePosition\u003E\u003CReason\u003EError parsing Xml content\u003C/Reason\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
