interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:57:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage577f1613.queue.core.windows.net/encryptionqueue577f1613
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "1LQb9QvM/qT2/aTLcwJw4w==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "G9ct8YUE9VgQ0DslrKJUhrUAmknjLAJfasa/Puv7f0q/pESZsG8BbA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "VGGgQNjy6cFPvd6odgRscw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:57:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage577f1613.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6ce267a8-0a8b-4298-9640-c44a8c6f89f4</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:57:47 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:57:47
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA2GeRHv5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:57:47 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:57:49 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage577f1613.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6ce267a8-0a8b-4298-9640-c44a8c6f89f4</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:57:47 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:57:47
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA3EV9MP5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:58:17 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"1LQb9QvM/qT2/aTLcwJw4w==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"G9ct8YUE9VgQ0DslrKJUhrUAmknjLAJfasa/Puv7f0q/pESZsG8BbA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"VGGgQNjy6cFPvd6odgRscw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
