interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:21:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragedb8b0d38.queue.core.windows.net/pythonqueuedb8b0d38
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedb8b0d38.queue.core.windows.net
        - /pythonqueuedb8b0d38
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:21:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragedb8b0d38.queue.core.windows.net/pythonqueuedb8b0d38/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>aefa37a5-af96-4df6-a648-bf31f75791e3</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:21:46 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:21:46
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA9W2GtR6J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:21:46 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedb8b0d38.queue.core.windows.net
        - /pythonqueuedb8b0d38/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:21:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragedb8b0d38.queue.core.windows.net/pythonqueuedb8b0d38/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>aefa37a5-af96-4df6-a648-bf31f75791e3</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:21:46 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:21:46
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAcQVuxx6J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:22:16 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedb8b0d38.queue.core.windows.net
        - /pythonqueuedb8b0d38/messages
        - ''
        - ''
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>updatedmessage1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:21:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragedb8b0d38.queue.core.windows.net/pythonqueuedb8b0d38/messages/aefa37a5-af96-4df6-a648-bf31f75791e3?popreceipt=AgAAAAMAAAAAAAAAcQVuxx6J1QE%3D&visibilitytimeout=0&se=2019-10-22T22:21:47Z&sp=u&sv=2018-03-28&sig=QoyjRF420brl2Vfh9eLrkloLb0IKzyPx0P%2BLOjsWlns%3D
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt: AwAAAAMAAAAAAAAAfMGstR6J1QEBAAAA
      x-ms-time-next-visible: Tue, 22 Oct 2019 21:21:46 GMT
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedb8b0d38.queue.core.windows.net
        - /pythonqueuedb8b0d38/messages/aefa37a5-af96-4df6-a648-bf31f75791e3
        - popreceipt=AgAAAAMAAAAAAAAAcQVuxx6J1QE%3D&visibilitytimeout=0&se=2019-10-22T22:21:47Z&sp=u&sv=2018-03-28&sig=QoyjRF420brl2Vfh9eLrkloLb0IKzyPx0P%2BLOjsWlns%3D
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:21:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragedb8b0d38.queue.core.windows.net/pythonqueuedb8b0d38/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedb8b0d38.queue.core.windows.net
        - /pythonqueuedb8b0d38/messages
        - ''
        - ''
version: 1
