interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:27 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.queue.core.windows.net/encryptionqueued7de1393
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://remotestoragename.queue.core.windows.net/encryptionqueued7de1393/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f2d21db6-31b8-47a7-8786-319979908e03</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:28 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:28
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA1QxX9DYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:13:28 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.queue.core.windows.net/encryptionqueued7de1393/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f2d21db6-31b8-47a7-8786-319979908e03</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:28 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:28
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA/2NBBjcp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:13:58 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueued7de1393
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:23:07 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueued7de1393/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8172b458-e77c-4b26-b589-7efe580c5d8e</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:23:07 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:23:07
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA5N+7TTgp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:23:07 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:29:59 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueued7de1393
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 01 Aug 2019 22:42:05 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueued7de1393/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f820776b-d1c3-40ad-8ef0-0f0e8376cd9e</MessageId><InsertionTime>Thu,
        01 Aug 2019 22:42:02 GMT</InsertionTime><ExpirationTime>Thu, 08 Aug 2019 22:42:02
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAYZgeaLpI1QE=</PopReceipt><TimeNextVisible>Thu,
        01 Aug 2019 22:42:32 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
