interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "R/rTxATyD2XLb2+eirvLcq58wDeCjBwmtHl464l9rTM=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "UComlIBm1GSO/wm7z+J8uWK85dL0Sj0gY7TeVHuEjUSk4o1jsZ4jRQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "+u83ZRwYKQl49uWQdJBhNA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b5"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2be548c6-9862-4fc6-8a67-3a9bb133fd0a</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:50 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:50
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAncDTeFuP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:51:50 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2be548c6-9862-4fc6-8a67-3a9bb133fd0a</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:50 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:50
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"R/rTxATyD2XLb2+eirvLcq58wDeCjBwmtHl464l9rTM=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"UComlIBm1GSO/wm7z+J8uWK85dL0Sj0gY7TeVHuEjUSk4o1jsZ4jRQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"+u83ZRwYKQl49uWQdJBhNA==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b5\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
