interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 18:10:34 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 18:10:35 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d1170c6a-12a3-4907-aa69-dfd8ab26ec59</MessageId><InsertionTime>Wed,
        21 Aug 2019 18:10:33 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 18:10:33
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAASdhtuUtY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 18:10:33 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message2</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 18:10:35 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue/messages?visibilitytimeout=30
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>cb93855d-2800-4007-8239-c141067165cb</MessageId><InsertionTime>Wed,
        21 Aug 2019 18:10:33 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 18:10:33
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAyXlay0tY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 18:11:03 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 18:10:35 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d1170c6a-12a3-4907-aa69-dfd8ab26ec59</MessageId><InsertionTime>Wed,
        21 Aug 2019 18:10:33 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 18:10:33
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAW1SCy0tY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 18:11:03 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 18:10:35 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue/messages?numofmessages=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 18:10:35 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragef48018ad.queue.core.windows.net/messagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
version: 1
