interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:12 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuee9bc0dac
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 22:33:11 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.queue.core.windows.net
        - /pythonqueuee9bc0dac
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 22:33:12 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueuee9bc0dac/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>84a3534b-5240-4d31-921b-178ab4d1f58f</MessageId><InsertionTime>Fri,
        02 Aug 2019 22:33:11 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 22:33:11
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAKvRgRIJJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 22:33:11 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 22:33:11 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.queue.core.windows.net
        - /pythonqueuee9bc0dac/messages
        - ''
        - ''
[...]
