interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://blobstoragename.queue.core.windows.net/mytestqueuedd7c186d
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 09:56:30 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.queue.core.windows.net
        - /mytestqueuedd7c186d
        - ''
        - ''
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>  mess\t
      age1\n</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://blobstoragename.queue.core.windows.net/mytestqueuedd7c186d/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>614afb7a-92a7-4d26-8c43-8f4f32a7670a</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:56:30 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:56:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAfwX0jhhJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 09:56:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 09:56:30 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.queue.core.windows.net
        - /mytestqueuedd7c186d/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://blobstoragename.queue.core.windows.net/mytestqueuedd7c186d/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>614afb7a-92a7-4d26-8c43-8f4f32a7670a</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:56:30 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:56:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAjrzfoBhJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 09:57:00 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>
        \ mess\t age1\n</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Cache-Control
      : no-cache
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 09:56:30 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.queue.core.windows.net
        - /mytestqueuedd7c186d/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://blobstoragename.queue.core.windows.net/mytestqueuedd7c186d/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Cache-Control
      : no-cache
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 09:56:30 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Queue/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.queue.core.windows.net
        - /mytestqueuedd7c186d/messages
        - ''
        - ''
version: 1
