interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 23 Jul 2019 22:10:44 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuebf910c49
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 23 Jul 2019 22:10:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueuebf910c49/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8c67a6da-dc58-453c-a32c-2357250782d6</MessageId><InsertionTime>Tue,
        23 Jul 2019 22:10:45 GMT</InsertionTime><ExpirationTime>Tue, 30 Jul 2019 22:10:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAASa7peaNB1QE=</PopReceipt><TimeNextVisible>Tue,
        23 Jul 2019 22:10:45 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 23 Jul 2019 22:10:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueuebf910c49/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8c67a6da-dc58-453c-a32c-2357250782d6</MessageId><InsertionTime>Tue,
        23 Jul 2019 22:10:45 GMT</InsertionTime><ExpirationTime>Tue, 30 Jul 2019 22:10:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAA7gajKNB1QE=</PopReceipt><TimeNextVisible>Tue,
        23 Jul 2019 22:11:16 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 23 Jul 2019 22:10:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://storagename.queue.core.windows.net/pythonqueuebf910c49/messages/8c67a6da-dc58-453c-a32c-2357250782d6?popreceipt=AgAAAAMAAAAAAAAAA7gajKNB1QE%3D
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 23 Jul 2019 22:10:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueuebf910c49/messages?numofmessages=32
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>53352c13-0ace-4405-a299-848592033386</MessageId><InsertionTime>Tue,
        23 Jul 2019 22:10:45 GMT</InsertionTime><Expir[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuebf910c49
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:18 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuebf910c49/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>47793914-861a-4524-9aa8-4b1b2e183b8b</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:55:18 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:55:18
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA7SgHZBhJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 09:55:18 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuebf910c49/messages/47793914-861a-4524-9aa8-4b1b2e183b8b?popreceipt=AgAAAAMAAAAAAAAApYRydhhJ1QE%3D
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuebf910c49/messages?numofmessages=32
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c1fa962c-6aa9-4763-887b-6a3abb5e3c6e</MessageId><InsertionT[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuebf910c49/messages?numofmessages=32
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
