interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage72410961.queue.core.windows.net/pythonqueue72410961
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>addedmessage</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage72410961.queue.core.windows.net/pythonqueue72410961/messages?se=2019-08-20T22%3A02%3A17Z&sp=a&sv=2018-03-28&sig=m1PJSeCQKbKfJedp9K6gdbfZ79AhQgcb7t8h2x7QuXw%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d398d50f-a314-45bb-92be-e434c4e5ffb8</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:02:16 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:02:16
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAviwTjJpX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:02:16 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage72410961.queue.core.windows.net/pythonqueue72410961/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d398d50f-a314-45bb-92be-e434c4e5ffb8</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:02:16 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:02:16
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAuJEAnppX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:02:46 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>addedmessage</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstorage72410961.queue.core.windows.net/pythonqueue72410961
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AccountNotFound</Code><Message>The
        specified account does not exist.\nRequestId:f5878279-2003-0134-109a-57d89e000000\nTime:2019-08-20T21:02:18.4285244Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - AccountNotFound
      x-ms-version:
      - '2018-03-28'
    status:
      code: 404
      message: The specified account does not exist.
version: 1
