interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:06:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragee6c913f1.queue.core.windows.net/pythonqueuee6c913f1
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee6c913f1.queue.core.windows.net
        - /pythonqueuee6c913f1
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:06:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragee6c913f1.queue.core.windows.net/pythonqueuee6c913f1/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e4e2defe-7ea5-4112-996d-f038b5aa0d28</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:06:54 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:06:54
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA9QT9MZtX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:06:54 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee6c913f1.queue.core.windows.net
        - /pythonqueuee6c913f1/messages
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:06:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragee6c913f1.queue.core.windows.net/pythonqueuee6c913f1/messages?numofmessages=4&peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e4e2defe-7ea5-4112-996d-f038b5aa0d28</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:06:54 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:06:54
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>87b3d326-f9d5-4b13-bb52-a5748da84d8a</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:06:54 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:06:54
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>31edc645-336a-4c5e-98c9-d62caeaa8095</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:06:54 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:06:54
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>f48f5a71-7c0f-4c53-97a7-c8b45c0a77d9</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:06:54 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:06:54
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee6c913f1.queue.core.windows.net
        - /pythonqueuee6c913f1/messages
        - numofmessages=4&peekonly=true
        - ''
version: 1
