interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:49 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "LpanRt0LI9oWwSwT6wcjtuSctHkcXRJJQh9eucEVBSM=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "kGCY0BP6A31sXuX6LgGg/3qjnQSn8Ov7JstqX4jDr+w9m3NonevJ9g==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "eOQdKp5bDouSrnUJIEsDKQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b5"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:49 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e86bd25b-7219-4e84-a65e-44805861daa3</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:48 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:48
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAILKKd1uP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:51:48 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:49 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e86bd25b-7219-4e84-a65e-44805861daa3</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:48 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:48
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAmfdziVuP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:52:18 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"LpanRt0LI9oWwSwT6wcjtuSctHkcXRJJQh9eucEVBSM=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"kGCY0BP6A31sXuX6LgGg/3qjnQSn8Ov7JstqX4jDr+w9m3NonevJ9g==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"eOQdKp5bDouSrnUJIEsDKQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b5\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
