interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:48:39 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage9b831b7a.queue.core.windows.net/encryptionqueue9b831b7a
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage9b831b7a.queue.core.windows.net
        - /encryptionqueue9b831b7a
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "HLtIxEMWr+ZhfzpOtlH48w==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "Vfgt4rOm9tBXBfm7oKtUaVr9oV1i46NLE+KmllGG7et6r1eu4rONtQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "am+CgLAPL0sAJa+yEOK/bg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:48:39 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage9b831b7a.queue.core.windows.net/encryptionqueue9b831b7a/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c8473b7f-6bde-41dd-b90b-546b51767141</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:48:37 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:48:37
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAA0UtknJY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 22:48:37 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage9b831b7a.queue.core.windows.net
        - /encryptionqueue9b831b7a/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:48:39 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage9b831b7a.queue.core.windows.net/encryptionqueue9b831b7a/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c8473b7f-6bde-41dd-b90b-546b51767141</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:48:37 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:48:37
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA6soTpHJY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 22:49:07 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"HLtIxEMWr+ZhfzpOtlH48w==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"Vfgt4rOm9tBXBfm7oKtUaVr9oV1i46NLE+KmllGG7et6r1eu4rONtQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"am+CgLAPL0sAJa+yEOK/bg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage9b831b7a.queue.core.windows.net
        - /encryptionqueue9b831b7a/messages
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:48:39 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage9b831b7a.queue.core.windows.net/encryptionqueue9b831b7a/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage9b831b7a.queue.core.windows.net
        - /encryptionqueue9b831b7a/messages
        - ''
        - ''
version: 1
