interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:27:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage29f01530.queue.core.windows.net/encryptionqueue29f01530
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "8YSvuApmdkE+SotSKqsJ0g==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "CeK+ADqDVEwsrkdg4OOszI7tMIK+H5DiHUMhPIf4TcI0jfzV6nDdgw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "cKo+iKSshqBzyauObMTxaw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:27:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage29f01530.queue.core.windows.net/encryptionqueue29f01530/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2429923f-cd55-4895-b9de-551be9b5a9c5</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:27:30 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:27:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA1qiK8G9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:27:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:27:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage29f01530.queue.core.windows.net/encryptionqueue29f01530/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2429923f-cd55-4895-b9de-551be9b5a9c5</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:27:30 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:27:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAArTh2AnBj1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:28:00 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"8YSvuApmdkE+SotSKqsJ0g==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"CeK+ADqDVEwsrkdg4OOszI7tMIK+H5DiHUMhPIf4TcI0jfzV6nDdgw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"cKo+iKSshqBzyauObMTxaw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "XpZJgkBCyVzjStOCmSzYnw==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "Z/2GXB74vltPYjxlZDB1j4IoVOQDUZyfcVaGpdtl5a6BJaQ4oJEHDw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "1NI2QQkz7D+EsIYWIk6/UA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:27:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage29f01530.queue.core.windows.net/encryptionqueue29f01530/messages/2429923f-cd55-4895-b9de-551be9b5a9c5?popreceipt=AgAAAAMAAAAAAAAArTh2AnBj1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAA1vee8G9j1QEBAAAA
      x-ms-time-next-visible:
      - Wed, 04 Sep 2019 22:27:30 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:27:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage29f01530.queue.core.windows.net/encryptionqueue29f01530/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2429923f-cd55-4895-b9de-551be9b5a9c5</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:27:30 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:27:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAhjmKAnBj1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:28:00 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"XpZJgkBCyVzjStOCmSzYnw==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"Z/2GXB74vltPYjxlZDB1j4IoVOQDUZyfcVaGpdtl5a6BJaQ4oJEHDw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"1NI2QQkz7D+EsIYWIk6/UA==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
