interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:25:44 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragec9311831.queue.core.windows.net/encryptionqueuec9311831
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "Dc7DA8N9g6pHPmpd1KuEHLcn76Um8vZ4VcF7KZJCBys=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "hA43EZAEplD54nkvG1Cr4uLHm/UE1H/qFMwHqBDwCfnxIkoJAoGdpQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "0cc5b45RnbyBCTiQ6H7ZXg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:25:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragec9311831.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>15ea16bc-6ebb-49fc-99f7-95c67a123864</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:25:44 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:25:44
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAt+0bQx+J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:25:44 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:25:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragec9311831.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>15ea16bc-6ebb-49fc-99f7-95c67a123864</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:25:44 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:25:44
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA/GcIVR+J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:26:14 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"Dc7DA8N9g6pHPmpd1KuEHLcn76Um8vZ4VcF7KZJCBys=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"hA43EZAEplD54nkvG1Cr4uLHm/UE1H/qFMwHqBDwCfnxIkoJAoGdpQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"0cc5b45RnbyBCTiQ6H7ZXg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b4\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
