interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage6a6e165f.queue.core.windows.net/encryptionqueue6a6e165f
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "kTpb2uzoNgy1icrpYXwXY5UR6Mgquvxyd1qNzKApECk=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "DcisyFBdPgDGLSGs0UWQ7a6P0Zjy9hpVy/K87EjnoHSbGJVnE1j4Fg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "ciPVW2MxinVD6uXKRaeIUw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage6a6e165f.queue.core.windows.net/encryptionqueue6a6e165f/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e745565c-d3f8-4c86-b5cc-305466a5a1aa</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:54:17 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:54:17
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAArHFKh+6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:54:17 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage6a6e165f.queue.core.windows.net/encryptionqueue6a6e165f/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e745565c-d3f8-4c86-b5cc-305466a5a1aa</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:54:17 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:54:17
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"kTpb2uzoNgy1icrpYXwXY5UR6Mgquvxyd1qNzKApECk=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"DcisyFBdPgDGLSGs0UWQ7a6P0Zjy9hpVy/K87EjnoHSbGJVnE1j4Fg==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"ciPVW2MxinVD6uXKRaeIUw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b4\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
