interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragea8ab174c.queue.core.windows.net/delqueue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragea8ab174c.queue.core.windows.net/delqueue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f7c5bb0a-dfb4-499a-b007-9f52569f9e08</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:56:15 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:56:15
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAApVoGzu6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:56:15 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragea8ab174c.queue.core.windows.net/delqueue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f7c5bb0a-dfb4-499a-b007-9f52569f9e08</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:56:15 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:56:15
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAZxI54O6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:56:46 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragea8ab174c.queue.core.windows.net/delqueue/messages/f7c5bb0a-dfb4-499a-b007-9f52569f9e08?popreceipt=AgAAAAMAAAAAAAAAZxI54O6D1QE%3D
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:17 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragea8ab174c.queue.core.windows.net/delqueue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
version: 1
