interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 Jul 2019 22:10:44 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuebf910c49
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type: [application/xml; charset=utf-8]
      x-ms-date: ['Tue, 23 Jul 2019 22:10:45 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueuebf910c49/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8c67a6da-dc58-453c-a32c-2357250782d6</MessageId><InsertionTime>Tue,
        23 Jul 2019 22:10:45 GMT</InsertionTime><ExpirationTime>Tue, 30 Jul 2019 22:10:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAASa7peaNB1QE=</PopReceipt><TimeNextVisible>Tue,
        23 Jul 2019 22:10:45 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 Jul 2019 22:10:46 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueuebf910c49/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8c67a6da-dc58-453c-a32c-2357250782d6</MessageId><InsertionTime>Tue,
        23 Jul 2019 22:10:45 GMT</InsertionTime><ExpirationTime>Tue, 30 Jul 2019 22:10:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAA7gajKNB1QE=</PopReceipt><TimeNextVisible>Tue,
        23 Jul 2019 22:11:16 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 Jul 2019 22:10:46 GMT']
      x-ms-version: ['2018-03-28']
    method: DELETE
    uri: https://storagename.queue.core.windows.net/pythonqueuebf910c49/messages/8c67a6da-dc58-453c-a32c-2357250782d6?popreceipt=AgAAAAMAAAAAAAAAA7gajKNB1QE%3D
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 Jul 2019 22:10:46 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueuebf910c49/messages?numofmessages=32
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>53352c13-0ace-4405-a299-848592033386</MessageId><InsertionTime>Tue,
        23 Jul 2019 22:10:45 GMT</InsertionTime><ExpirationTime>Tue, [...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 23 Jul 2019 22:10:46 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueuebf910c49/messages?numofmessages=32
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
