interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragee23d1877.queue.core.windows.net/encryptionqueuee23d1877
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee23d1877.queue.core.windows.net
        - /encryptionqueuee23d1877
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "sQhyaJtIwUtNz5myKqYCG03XtvkhT4dH/igkxme4yQI=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "ePsDIwkH+uw/miYo+s+YTslaclSrBHSk9Ekfqbe5kZtymd0mAQzv1g==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "C/lRmjGKC1k83NywZySD4A==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragee23d1877.queue.core.windows.net/encryptionqueuee23d1877/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>574b9410-58d9-418d-904c-0b8f96377b74</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:55:45 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:55:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAXrTNu+6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:55:45 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee23d1877.queue.core.windows.net
        - /encryptionqueuee23d1877/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragee23d1877.queue.core.windows.net/encryptionqueuee23d1877/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>574b9410-58d9-418d-904c-0b8f96377b74</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:55:45 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:55:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVw+2ze6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:56:15 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"sQhyaJtIwUtNz5myKqYCG03XtvkhT4dH/igkxme4yQI=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"ePsDIwkH+uw/miYo+s+YTslaclSrBHSk9Ekfqbe5kZtymd0mAQzv1g==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"C/lRmjGKC1k83NywZySD4A==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b4\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee23d1877.queue.core.windows.net
        - /encryptionqueuee23d1877/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragee23d1877.queue.core.windows.net/encryptionqueuee23d1877/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee23d1877.queue.core.windows.net
        - /encryptionqueuee23d1877/messages
        - ''
        - ''
version: 1
