interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:17:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragec9311831.queue.core.windows.net/encryptionqueuec9311831
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "nmxySM4kIO+p1tYxaOC8oDcvGws8m+oWbPBB/s2VjT8=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "0WEmGy4qXJIcjNOEtfX+YyUxARWoGteEKHkutQAB9fhSDpg5XnCVeQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "bwxgPhmeuDok2waGEtYZcw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:17:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragec9311831.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8810b7ed-76cf-4329-b128-314ca2585427</MessageId><InsertionTime>Thu,
        05 Sep 2019 22:17:46 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 22:17:46
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0V4Dvzdk1QE=</PopReceipt><TimeNextVisible>Thu,
        05 Sep 2019 22:17:46 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:17:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragec9311831.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8810b7ed-76cf-4329-b128-314ca2585427</MessageId><InsertionTime>Thu,
        05 Sep 2019 22:17:46 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 22:17:46
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAApUry0Ddk1QE=</PopReceipt><TimeNextVisible>Thu,
        05 Sep 2019 22:18:16 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"nmxySM4kIO+p1tYxaOC8oDcvGws8m+oWbPBB/s2VjT8=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"0WEmGy4qXJIcjNOEtfX+YyUxARWoGteEKHkutQAB9fhSDpg5XnCVeQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"bwxgPhmeuDok2waGEtYZcw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
