interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage1748197c.queue.core.windows.net/encryptionqueue1748197c
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1748197c.queue.core.windows.net
        - /encryptionqueue1748197c
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "6WmOc1Yb11al3cqC35bRwQ==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "ateoFgJ8xzMcC0BZSlrelyFitGB6OPmqCPjtaoOqUaLm4S4i9dTflw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "A1qMjL7EY5ZnKcVveT567Q==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:59 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage1748197c.queue.core.windows.net/encryptionqueue1748197c/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>27e8fea8-f518-49af-8bb3-aec9ac8f0d27</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:58:57 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:58:57
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAS5ZaSP5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:58:57 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1748197c.queue.core.windows.net
        - /encryptionqueue1748197c/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:59 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage1748197c.queue.core.windows.net/encryptionqueue1748197c/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>27e8fea8-f518-49af-8bb3-aec9ac8f0d27</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:58:57 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:58:57
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"6WmOc1Yb11al3cqC35bRwQ==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"ateoFgJ8xzMcC0BZSlrelyFitGB6OPmqCPjtaoOqUaLm4S4i9dTflw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"A1qMjL7EY5ZnKcVveT567Q==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1748197c.queue.core.windows.net
        - /encryptionqueue1748197c/messages
        - peekonly=true
        - ''
[...]
