interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragefb421443.queue.core.windows.net/pythonqueuefb421443
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragefb421443.queue.core.windows.net/pythonqueuefb421443/messages?messagettl=-1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8d13d7c3-22d2-4edf-80b9-a3eec5051542</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:02:25 GMT</InsertionTime><ExpirationTime>Fri, 31 Dec 9999 23:59:59
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAG6GtkZpX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:02:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragefb421443.queue.core.windows.net/pythonqueuefb421443/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8d13d7c3-22d2-4edf-80b9-a3eec5051542</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:02:25 GMT</InsertionTime><ExpirationTime>Fri, 31 Dec 9999 23:59:59
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:02:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragefb421443.queue.core.windows.net/pythonqueuefb421443
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AccountNotFound</Code><Message>The
        specified account does not exist.\nRequestId:a9856bfb-d003-0047-7b9a-5777a0000000\nTime:2019-08-20T21:02:27.5990926Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - AccountNotFound
      x-ms-version:
      - '2018-03-28'
    status:
      code: 404
      message: The specified account does not exist.
version: 1
