interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 May 2022 22:14:13 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuef9ea18c5
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "SeZehCQQttR4YAyRxXjJU7bewv6m+T2PLvpY/b6SYFzOEfJDb4xVSa/E1YQnld6qZuQ=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "2FaM3epFq1ByKyLO18FBwylh8gvl4Z6AVSlRKwwUXfQHReiXt12ffg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "AuthenticationBlockInfo": {"CiphertextLength": 4194304, "NonceLength":
      12}, "KeyWrappingMetadata": {"EncryptionLibrary": "Python 12.3.1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 18 May 2022 22:14:13 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuef9ea18c5/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>88611993-c960-4826-b9b5-98e25f3523f9</MessageId><InsertionTime>Wed,
        18 May 2022 22:14:13 GMT</InsertionTime><ExpirationTime>Wed, 25 May 2022 22:14:13
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVoFumwRr2AE=</PopReceipt><TimeNextVisible>Wed,
        18 May 2022 22:14:13 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 May 2022 22:14:13 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuef9ea18c5/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>88611993-c960-4826-b9b5-98e25f3523f9</MessageId><InsertionTime>Wed,
        18 May 2022 22:14:13 GMT</InsertionTime><ExpirationTime>Wed, 25 May 2022 22:14:13
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAIqparQRr2AE=</PopReceipt><TimeNextVisible>Wed,
        18 May 2022 22:14:43 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"SeZehCQQttR4YAyRxXjJU7bewv6m+T2PLvpY/b6SYFzOEfJDb4xVSa/E1YQnld6qZuQ=\",
        \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\":
        \"2FaM3epFq1ByKyLO18FBwylh8gvl4Z6AVSlRKwwUXfQHReiXt12ffg==\", \"Algorithm\":
        \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\":
        \"AES_GCM_256\"}, \"AuthenticationBlockInfo\": {\"CiphertextLength\": 4194304,
        \"NonceLength\": 12}, \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python
        12.3.1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
