interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:04:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage873511b1.queue.core.windows.net/pythonqueue873511b1
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage873511b1.queue.core.windows.net
        - /pythonqueue873511b1
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-08-20T20:04:40Z</Start><Expiry>2019-08-20T22:04:40Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:04:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage873511b1.queue.core.windows.net/pythonqueue873511b1?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage873511b1.queue.core.windows.net
        - /pythonqueue873511b1
        - comp=acl
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:04:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage873511b1.queue.core.windows.net/pythonqueue873511b1/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ee645a91-f26e-4566-8358-6a9ef32130e7</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:04:39 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:04:39
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVLV94ZpX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:04:39 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage873511b1.queue.core.windows.net
        - /pythonqueue873511b1/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 20 Aug 2019 21:04:40 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage873511b1.queue.core.windows.net/pythonqueue873511b1/messages?peekonly=true&sv=2018-03-28&si=testid&sig=uUnFupUF2w%2B3M58ElQRKG%2BpIoY66vU10%2BEG2FjwrTjc%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ee645a91-f26e-4566-8358-6a9ef32130e7</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:04:39 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:04:39
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage873511b1.queue.core.windows.net
        - /pythonqueue873511b1/messages
        - peekonly=true&sv=2018-03-28&si=testid&sig=uUnFupUF2w%2B3M58ElQRKG%2BpIoY66vU10%2BEG2FjwrTjc%3D
        - ''
version: 1
