interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jun 2019 21:45:33 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/messagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 28 Jun 2019 21:45:33 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/messagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>33266877-814c-4002-b598-3c9b15e47303</MessageId><InsertionTime>Fri,
        28 Jun 2019 21:45:33 GMT</InsertionTime><ExpirationTime>Fri, 05 Jul 2019 21:45:33
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAMOwx0Pot1QE=</PopReceipt><TimeNextVisible>Fri,
        28 Jun 2019 21:45:33 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message2</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 28 Jun 2019 21:45:33 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/messagequeue/messages?visibilitytimeout=30
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ced51f13-1e6e-40b9-9344-fbf366195ed9</MessageId><InsertionTime>Fri,
        28 Jun 2019 21:45:33 GMT</InsertionTime><ExpirationTime>Fri, 05 Jul 2019 21:45:33
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAX3IY4vot1QE=</PopReceipt><TimeNextVisible>Fri,
        28 Jun 2019 21:46:03 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jun 2019 21:45:33 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/messagequeue/messages?numofmessages=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>33266877-814c-4002-b598-3c9b15e47303</MessageId><InsertionTime>Fri,
        28 Jun 2019 21:45:33 GMT</InsertionTime><ExpirationTime>Fri, 05 Jul 2019 21:45:33
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAATU0s4vot1QE=</PopReceipt><TimeNextVisible>Fri,
        28 Jun 2019 21:46:03 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>048fcf7b-7f38-4767-a0d8-4a23c0d3e579</MessageId><InsertionTime>Fri,
        28 Jun 2019 21:45:33 GMT</InsertionTime><ExpirationTime>Fri, 05 Jul 2019 21:45:33
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAATU0s4vot1QE=</PopReceipt><TimeNextVisible>Fri,
        28 Jun 2019 21:46:03 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>17a13f38-41a2-4477-b62f-c18a18d95d2d</MessageId><InsertionTime>Fri,
        28 Jun 2019 21:45:33 GMT</InsertionTime><ExpirationTime>Fri, 05 Jul 2019 21:45:33
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAATU0s4vot1QE=</PopReceipt><TimeNextVisible>Fri,
        28 Jun 2019 21:46:03 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message4</MessageText></QueueMessage><QueueMessage><MessageId>4e737f07-b24f-4c85-a213-fb35d9df0f92</MessageId><InsertionTime>Fri,
        28 Jun 2019 21:45:33 GMT</InsertionTime><ExpirationTime>Fri, 05 Jul 2019 21:45:33
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAATU0s4vot1QE=</PopReceipt><TimeNextVisible>Fri,
        28 Jun 2019 21:46:03 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message5</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://blobstoragename.queue.core.windows.net/messagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://blobstoragename.queue.core.windows.net/messagequeue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2f260f99-4021-4303-a6f6-514dbd0092c8</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:56:52 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:56:52
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAaE7omxhJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 09:56:52 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message2</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://blobstoragename.queue.core.windows.net/messagequeue/messages?visibilitytimeout=30
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>644cb3aa-b9c9-4851-b76e-8432d0209462</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:56:52 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:56:52
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAQHXhrRhJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 09:57:22 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:52 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://blobstoragename.queue.core.windows.net/messagequeue/messages?numofmessages=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2f260f99-4021-4303-a6f6-514dbd0092c8</MessageId><InsertionTime>Fri,[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:56:52 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://blobstoragename.queue.core.windows.net/messagequeue
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
version: 1
