interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Mar 2022 20:56:39 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesyncbe471300
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Fri, 25 Mar 2022 20:56:40 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesyncbe471300/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>01e3eca8-9c03-49c8-806f-67757200e4ba</MessageId><InsertionTime>Fri,
        25 Mar 2022 20:56:39 GMT</InsertionTime><ExpirationTime>Fri, 01 Apr 2022 20:56:39
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAC04R04pA2AE=</PopReceipt><TimeNextVisible>Fri,
        25 Mar 2022 20:56:39 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Mar 2022 20:56:40 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesyncbe471300/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>01e3eca8-9c03-49c8-806f-67757200e4ba</MessageId><InsertionTime>Fri,
        25 Mar 2022 20:56:39 GMT</InsertionTime><ExpirationTime>Fri, 01 Apr 2022 20:56:39
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA/oRo5YpA2AE=</PopReceipt><TimeNextVisible>Fri,
        25 Mar 2022 20:57:10 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Mar 2022 20:56:41 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesyncbe471300/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>974e5f0d-e73e-4292-b770-9ed5f8c97239</MessageId><InsertionTime>Fri,
        25 Mar 2022 20:56:40 GMT</InsertionTime><ExpirationTime>Fri, 01 Apr 2022 20:56:40
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAhBmY5YpA2AE=</PopReceipt><TimeNextVisible>Fri,
        25 Mar 2022 20:57:10 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message5</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
