interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:50:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage3acd1575.queue.core.windows.net/pythonqueue3acd1575
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3acd1575.queue.core.windows.net
        - /pythonqueue3acd1575
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:50:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage3acd1575.queue.core.windows.net/pythonqueue3acd1575/messages?messagettl=1073741824
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>259ba86d-1887-4616-ad21-3ea068149024</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:50:16 GMT</InsertionTime><ExpirationTime>Fri, 24 Oct 2053 20:27:20
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAobyp9+2D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:50:16 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3acd1575.queue.core.windows.net
        - /pythonqueue3acd1575/messages
        - messagettl=1073741824
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:50:16 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage3acd1575.queue.core.windows.net/pythonqueue3acd1575/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>259ba86d-1887-4616-ad21-3ea068149024</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:50:16 GMT</InsertionTime><ExpirationTime>Fri, 24 Oct 2053 20:27:20
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3acd1575.queue.core.windows.net
        - /pythonqueue3acd1575/messages
        - peekonly=true
        - ''
version: 1
