interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:50 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragee42613c2.queue.core.windows.net/pythonqueuee42613c2
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragee42613c2.queue.core.windows.net/pythonqueuee42613c2/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>58e43e31-167b-45f2-9bfd-026f8553125e</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:01:50 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:01:50
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAmmCBfJpX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:01:50 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:51 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragee42613c2.queue.core.windows.net/pythonqueuee42613c2?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count:
      - '1'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragee42613c2.queue.core.windows.net/pythonqueuee42613c2
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AccountNotFound</Code><Message>The
        specified account does not exist.\nRequestId:4f4c61e5-9003-00ab-3c9a-5782d3000000\nTime:2019-08-20T21:01:52.1916248Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - AccountNotFound
      x-ms-version:
      - '2018-03-28'
    status:
      code: 404
      message: The specified account does not exist.
version: 1
