interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueueasync64f6163f
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekiq3q5uw4eso.queue.core.windows.net
        - /pyqueueasync64f6163f
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:33 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueueasync64f6163f/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6fc687fe-79a2-499a-a600-666bf2289a81</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:32 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:32
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA82qvbVuP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:51:32 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekiq3q5uw4eso.queue.core.windows.net
        - /pyqueueasync64f6163f/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:33 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueueasync64f6163f?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count: '1'
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekiq3q5uw4eso.queue.core.windows.net
        - /pyqueueasync64f6163f
        - comp=metadata
        - ''
version: 1
