interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 20:35:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuef853140e
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>message1\u3688</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 20:35:54 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuef853140e/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a4995de7-32fe-4755-ab80-5cf111ed1781</MessageId><InsertionTime>Fri,
        02 Aug 2019 20:35:54 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 20:35:54
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAAPKN4XFJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 20:35:54 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 20:35:54 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuef853140e/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a4995de7-32fe-4755-ab80-5cf111ed1781</MessageId><InsertionTime>Fri,
        02 Aug 2019 20:35:54 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 20:35:54
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAdRp883FJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 20:36:24 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1\u3688</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
