interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage74f61174.queue.core.windows.net/pythonqueue74f61174
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage74f61174.queue.core.windows.net/pythonqueue74f61174/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>cd440f10-72be-46f8-aa27-dbd89a413bd4</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:01:54 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:01:54
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAmDb+fppX1QE=</PopReceipt><TimeNextVisible>Tue,
        20 Aug 2019 21:01:54 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage74f61174.queue.core.windows.net/pythonqueue74f61174/messages?numofmessages=4&peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>cd440f10-72be-46f8-aa27-dbd89a413bd4</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:01:54 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:01:54
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>2e31c096-6237-4e2b-a5c2-a59333efb36f</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:01:54 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:01:54
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>caea6f7f-04ef-4c20-9db7-ecae3f2d25b2</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:01:54 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:01:54
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>173dbf7b-3815-43d3-9ac4-264a4add9931</MessageId><InsertionTime>Tue,
        20 Aug 2019 21:01:54 GMT</InsertionTime><ExpirationTime>Tue, 27 Aug 2019 21:01:54
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 20 Aug 2019 21:01:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstorage74f61174.queue.core.windows.net/pythonqueue74f61174
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AccountNotFound</Code><Message>The
        specified account does not exist.\nRequestId:0796d71b-2003-0019-1c9a-571d0b000000\nTime:2019-08-20T21:01:56.4633221Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - AccountNotFound
      x-ms-version:
      - '2018-03-28'
    status:
      code: 404
      message: The specified account does not exist.
version: 1
