{
  "Entries": [
    {
      "RequestUri": "https://storagename.queue.core.windows.net/pyqueueasync89ba28d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 27 Oct 2022 22:35:06 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.queue.core.windows.net/?comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 27 Oct 2022 22:35:06 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://storagename.queue.core.windows.net/\u0022\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Elistqueue0dcba29e4\u003C/Name\u003E\u003C/Queue\u003E\u003CQueue\u003E\u003CName\u003Elistqueue1dcba29e4\u003C/Name\u003E\u003C/Queue\u003E\u003CQueue\u003E\u003CName\u003Elistqueue2dc[...]
