interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:53:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage75b91164.queue.core.windows.net/mytestqueue75b91164
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:53:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage75b91164.queue.core.windows.net/mytestqueue75b91164/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ff2a9e11-0842-4dc9-a69f-daac1634e864</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:53:15 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:53:15
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA65Y8Yu6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:53:15 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:53:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage75b91164.queue.core.windows.net/mytestqueue75b91164/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ff2a9e11-0842-4dc9-a69f-daac1634e864</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:53:15 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:53:15
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAz1ctdO6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:53:45 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
