interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:24:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorageab101218.queue.core.windows.net/mytestqueueab101218
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>AQ==</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:24:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorageab101218.queue.core.windows.net/mytestqueueab101218/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7d4b7996-fb46-4241-8925-a10b70d48c14</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:24:30 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:24:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAYdt3Fx+J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:24:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:24:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorageab101218.queue.core.windows.net/mytestqueueab101218/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7d4b7996-fb46-4241-8925-a10b70d48c14</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:24:30 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:24:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAzzuGKR+J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:25:01 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>AQ==</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
