interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragefb841436.queue.core.windows.net/queuetest
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>hello world</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:21 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragefb841436.queue.core.windows.net/queuetest/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>5b771126-d405-4828-b518-b0b38a121b45</MessageId><InsertionTime>Wed,
        21 Aug 2019 22:49:19 GMT</InsertionTime><ExpirationTime>Wed, 28 Aug 2019 22:49:19
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAATJz8qnJY1QE=</PopReceipt><TimeNextVisible>Wed,
        21 Aug 2019 22:49:19 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>my-access-policy-id</Id><AccessPolicy><Start>2019-08-21T21:49:21Z</Start><Expiry>2019-08-21T23:49:21Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:21 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragefb841436.queue.core.windows.net/queuetest?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 21 Aug 2019 22:49:21 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragefb841436.queue.core.windows.net/queuetest
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
version: 1
