interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:54 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuee23d1877
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekiq3q5uw4eso.queue.core.windows.net
        - /encryptionqueuee23d1877
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "z0/SgJpUlkdjWmPuHXGl+G14Rbn0TDBFFOku4+a6EfY=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "ldvl7COgT9XCZ6QuvfhxWyEGcGAiOVujz8Uzvs9AqhfSahIeeTWYdA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "BDKqXRunjZAHH/dt5gOg/Q==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b5"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:54 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuee23d1877/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>de0afc48-8c56-47f0-8cba-84168f19737a</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:53 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:53
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAfkegeluP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:51:53 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekiq3q5uw4eso.queue.core.windows.net
        - /encryptionqueuee23d1877/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:54 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuee23d1877/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>de0afc48-8c56-47f0-8cba-84168f19737a</MessageId><InsertionTime>Wed,
        30 Oct 2019 19:51:53 GMT</InsertionTime><ExpirationTime>Wed, 06 Nov 2019 19:51:53
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAX1CKjFuP1QE=</PopReceipt><TimeNextVisible>Wed,
        30 Oct 2019 19:52:23 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"z0/SgJpUlkdjWmPuHXGl+G14Rbn0TDBFFOku4+a6EfY=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"ldvl7COgT9XCZ6QuvfhxWyEGcGAiOVujz8Uzvs9AqhfSahIeeTWYdA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"BDKqXRunjZAHH/dt5gOg/Q==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b5\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekiq3q5uw4eso.queue.core.windows.net
        - /encryptionqueuee23d1877/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Oct 2019 19:51:54 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuee23d1877/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekiq3q5uw4eso.queue.core.windows.net
        - /encryptionqueuee23d1877/messages
        - ''
        - ''
version: 1
