{
  "Entries": [
    {
      "RequestUri": "https://storagename.queue.core.windows.net/pyqueueasyncfa822ea4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Mar 2023 22:11:41 GMT",
        "x-ms-meta": "{\u0027val1\u0027: \u0027test\u0027, \u0027val2\u0027: \u0027blah\u0027}",
        "x-ms-meta-val1": "test",
        "x-ms-meta-val2": "blah",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.queue.core.windows.net/pyqueueasyncfa822ea4?comp=metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Mar 2023 22:11:42 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-approximate-messages-count": "0",
        "x-ms-meta-val1": "test",
        "x-ms-meta-val2": "blah",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
