interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:19:02 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage3fc115ad.queue.core.windows.net/encryptionqueue3fc115ad
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3fc115ad.queue.core.windows.net
        - /encryptionqueue3fc115ad
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "jed9VNAElgBhLPJZQnE+dg==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "kvEZBxTsujoTJjC3kjTSL7Q20F4FWsca7Be7ZwFiy4go5pWBkeg35A==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "Wu1ZLxb2F6urDJqTiUyTIw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:19:02 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage3fc115ad.queue.core.windows.net/encryptionqueue3fc115ad/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c5fb7b72-1b22-47d3-9d28-12646c339818</MessageId><InsertionTime>Thu,
        05 Sep 2019 22:19:01 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 22:19:01
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAw2qG6zdk1QE=</PopReceipt><TimeNextVisible>Thu,
        05 Sep 2019 22:19:01 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3fc115ad.queue.core.windows.net
        - /encryptionqueue3fc115ad/messages
        - ''
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 22:19:02 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage3fc115ad.queue.core.windows.net/encryptionqueue3fc115ad/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c5fb7b72-1b22-47d3-9d28-12646c339818</MessageId><InsertionTime>Thu,
        05 Sep 2019 22:19:01 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 22:19:01
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"jed9VNAElgBhLPJZQnE+dg==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"kvEZBxTsujoTJjC3kjTSL7Q20F4FWsca7Be7ZwFiy4go5pWBkeg35A==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"Wu1ZLxb2F6urDJqTiUyTIw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3fc115ad.queue.core.windows.net
        - /encryptionqueue3fc115ad/messages
        - peekonly=true
        - ''
version: 1
