interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:14 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuef853140e
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>message1\u3688</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:14 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuef853140e/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>956db5c6-f895-42bf-8d30-606350ee9015</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:14 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:14
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAH5Zu7DYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:13:14 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:14 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.queue.core.windows.net/pythonqueuef853140e/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>956db5c6-f895-42bf-8d30-606350ee9015</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:14 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:14
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAA3hY/jYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:13:44 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1\u3688</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueuef853140e
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>message1\u3688</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:33 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueuef853140e/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>42cd8c38-9c3d-477e-bf38-f94812824644</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:18:33 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:18:33
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA8Zxpqjcp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:18:33 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:45 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuef853140e
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>message1\u3688</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuef853140e/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8854b28d-6787-4f91-9777-17e6fb802b43</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:55:47 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:55:47
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAxCxFdRhJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 09:55:47 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://blobstoragename.queue.core.windows.net/pythonqueuef853140e/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8854b28d-6787-4f91-9777-17e6fb802b43</MessageId><InsertionTime>Fri,
        02 Aug 2019 09:55:47 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 09:55:47
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAboI6hxhJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 09:56:17 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1\u3688</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
