interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 20:36:27 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://blobstoragename.queue.core.windows.net/encryptionqueue577f1613
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "lFU8CTAbva+FVJmZc6EZYA==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "LntL5PkpJcb1T2HqyWEUUeyju2rtQmrmhZGqNDRW237Z6iiARehakQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "VgnLgVMHQxFKdhAU+DnCSw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 20:36:27 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://blobstoragename.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9b83daf1-1bc0-4518-9892-d891011e75b2</MessageId><InsertionTime>Fri,
        02 Aug 2019 20:36:27 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 20:36:27
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA16Zr9XFJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 20:36:27 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 20:36:27 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://blobstoragename.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9b83daf1-1bc0-4518-9892-d891011e75b2</MessageId><InsertionTime>Fri,
        02 Aug 2019 20:36:27 GMT</InsertionTime><ExpirationTime>Fri, 09 Aug 2019 20:36:27
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAmRlcB3JJ1QE=</PopReceipt><TimeNextVisible>Fri,
        02 Aug 2019 20:36:57 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"lFU8CTAbva+FVJmZc6EZYA==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"LntL5PkpJcb1T2HqyWEUUeyju2rtQmrmhZGqNDRW237Z6iiARehakQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"VgnLgVMHQxFKdhAU+DnCSw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
