interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.queue.core.windows.net/pythonqueue223e14de
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://remotestoragename.queue.core.windows.net/pythonqueue223e14de/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6bfc1578-8e80-4df9-80dd-87675d27ed24</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:15 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:15
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAf87B7DYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:13:15 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://remotestoragename.queue.core.windows.net/pythonqueue223e14de/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6bfc1578-8e80-4df9-80dd-87675d27ed24</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:13:15 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:13:15
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAAcKs/jYp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:13:45 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:13:15 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.queue.core.windows.net/pythonqueue223e14de/messages/6bfc1578-8e80-4df9-80dd-87675d27ed24?popreceipt=AgAAAAMAAAAAAAAAAcKs%2FjYp1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAA7IkY7TYp1QEBAAAA
      x-ms-time-next-visible:
      - Sat, 22 Jun 2019 20:13:16 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:34 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueue223e14de
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:34 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://storagename.queue.core.windows.net/pythonqueue223e14de/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>badee19e-591a-4805-a686-0c8541c80fa0</MessageId><InsertionTime>Sat,
        22 Jun 2019 20:18:34 GMT</InsertionTime><ExpirationTime>Sat, 29 Jun 2019 20:18:34
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAjlffqjcp1QE=</PopReceipt><TimeNextVisible>Sat,
        22 Jun 2019 20:18:34 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:18:34 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueue223e14de/messages/badee19e-591a-4805-a686-0c8541c80fa0?popreceipt=AgAAAAMAAAAAAAAAig7LvDcp1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAA0bowqzcp1QEBAAAA
      x-ms-time-next-visible:
      - Sat, 22 Jun 2019 20:18:34 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:22:55 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueue223e14de/messages/cd70bb73-c121-484c-b75a-83f489b1e638?popreceipt=AgAAAAMAAAAAAAAA3NsgWDgp1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAArcdvRjgp1QEBAAAA
      x-ms-time-next-visible:
      - Sat, 22 Jun 2019 20:22:55 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 22 Jun 2019 20:39:06 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueue223e14de/messages/72ffe2a7-12da-4d1d-b8f2-8f40d2b955b8?popreceipt=AgAAAAMAAAAAAAAAWnUvmzop1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAJ1ypijop1QEBAAAA
      x-ms-time-next-visible:
      - Sat, 22 Jun 2019 20:39:08 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:29:23 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueue223e14de
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 31 Jul 2019 21:29:24 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueue223e14de/messages/15f1e170-3f57-4fca-a70d-381b981a62a0?popreceipt=AgAAAAMAAAAAAAAAwknyFudH1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAJtoeBedH1QEBAAAA
      x-ms-time-next-visible:
      - Wed, 31 Jul 2019 21:29:22 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 01 Aug 2019 22:34:49 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueue223e14de/messages/ea991135-8c7d-45a9-84b5-ce6fd4a42010?popreceipt=AgAAAAMAAAAAAAAAnLg%2FZLlI1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAANztpUrlI1QEBAAAA
      x-ms-time-next-visible:
      - Thu, 01 Aug 2019 22:34:46 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 01 Aug 2019 22:41:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pythonqueue223e14de/messages/83f5b75d-9dc5-4eba-be40-b841e77d39e4?popreceipt=AgAAAAMAAAAAAAAA2ojUUrpI1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAA4yoCQbpI1QEBAAAA
      x-ms-time-next-visible:
      - Thu, 01 Aug 2019 22:41:26 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 01 Aug 2019 22:41:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.queue.core.windows.net/pythonqueue223e14de/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>83f5b75d-9dc5-4eba-be40-b841e77d39e4</MessageId><InsertionTime>Thu,
        01 Aug 2019 22:41:26 GMT</InsertionTime><ExpirationTime>Thu, 08 Aug 2019 22:41:26
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAdaHwUrpI1QE=</PopReceipt><TimeNextVisible>Thu,
        01 Aug 2019 22:41:56 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
