interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 01:31:30 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesyncf7f71410
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 30 Jun 2022 01:31:31 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesyncf7f71410/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>dc87d0b7-05a4-471c-8a0d-5c2ade57397b</MessageId><InsertionTime>Thu,
        30 Jun 2022 01:31:30 GMT</InsertionTime><ExpirationTime>Thu, 07 Jul 2022 01:31:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAlHXjHyGM2AE=</PopReceipt><TimeNextVisible>Thu,
        30 Jun 2022 01:31:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 30 Jun 2022 01:31:31 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesyncf7f71410/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>dc87d0b7-05a4-471c-8a0d-5c2ade57397b</MessageId><InsertionTime>Thu,
        30 Jun 2022 01:31:30 GMT</InsertionTime><ExpirationTime>Thu, 07 Jul 2022 01:31:30
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
