interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:26:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage7df61b13.queue.core.windows.net/encryptionqueue7df61b13
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7df61b13.queue.core.windows.net
        - /encryptionqueue7df61b13
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "bBEdnjUWWUjfZ8X/W86bmp9Ne5cS/NNU/jdzmi2O87Q=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "5APN1GCS59PyYG+Ne9kZ8dGvFepn5zJvNMiUtu8aKP8Q7Uu8yiWiLg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "6M8xPTxhcRqLrx1g7uGSUw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 22 Oct 2019 21:26:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage7df61b13.queue.core.windows.net/encryptionqueue7df61b13/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8bd41469-e660-4ae8-8822-6911d336f62b</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:26:46 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:26:46
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAcfVfaB+J1QE=</PopReceipt><TimeNextVisible>Tue,
        22 Oct 2019 21:26:46 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7df61b13.queue.core.windows.net
        - /encryptionqueue7df61b13/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Oct 2019 21:26:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage7df61b13.queue.core.windows.net/encryptionqueue7df61b13/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8bd41469-e660-4ae8-8822-6911d336f62b</MessageId><InsertionTime>Tue,
        22 Oct 2019 21:26:46 GMT</InsertionTime><ExpirationTime>Tue, 29 Oct 2019 21:26:46
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"bBEdnjUWWUjfZ8X/W86bmp9Ne5cS/NNU/jdzmi2O87Q=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"5APN1GCS59PyYG+Ne9kZ8dGvFepn5zJvNMiUtu8aKP8Q7Uu8yiWiLg==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"6M8xPTxhcRqLrx1g7uGSUw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b4\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7df61b13.queue.core.windows.net
        - /encryptionqueue7df61b13/messages
        - peekonly=true
        - ''
version: 1
