interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:22:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage32150fb3.queue.core.windows.net/pythonqueue32150fb3
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:22:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage32150fb3.queue.core.windows.net/pythonqueue32150fb3/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d62908c8-e40e-47d1-ac38-4c4863ea0339</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:22:42 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:22:42
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAHkryRG9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:22:42 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:22:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage32150fb3.queue.core.windows.net/pythonqueue32150fb3/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d62908c8-e40e-47d1-ac38-4c4863ea0339</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:22:42 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:22:42
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAACK/fVm9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:23:12 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new text</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:22:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage32150fb3.queue.core.windows.net/pythonqueue32150fb3/messages/d62908c8-e40e-47d1-ac38-4c4863ea0339?popreceipt=AgAAAAMAAAAAAAAACK%2FfVm9j1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAARXQPRW9j1QEBAAAA
      x-ms-time-next-visible:
      - Wed, 04 Sep 2019 22:22:42 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:22:42 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage32150fb3.queue.core.windows.net/pythonqueue32150fb3/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d62908c8-e40e-47d1-ac38-4c4863ea0339</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:22:42 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:22:42
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAKUwnV29j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:23:13 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>new
        text</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
