interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragedd7c186d.queue.core.windows.net/mytestqueuedd7c186d
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedd7c186d.queue.core.windows.net
        - /mytestqueuedd7c186d
        - ''
        - ''
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>  mess\t
      age1\n</MessageText></QueueMessage>"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragedd7c186d.queue.core.windows.net/mytestqueuedd7c186d/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e8c33047-4240-4cdc-b205-0b5fe79a359c</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:54:45 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:54:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA4MNcmO6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:54:45 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedd7c186d.queue.core.windows.net
        - /mytestqueuedd7c186d/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragedd7c186d.queue.core.windows.net/mytestqueuedd7c186d/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e8c33047-4240-4cdc-b205-0b5fe79a359c</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:54:45 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:54:45
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAxKVGqu6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:55:15 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>
        \ mess\t age1\n</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedd7c186d.queue.core.windows.net
        - /mytestqueuedd7c186d/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:54:46 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragedd7c186d.queue.core.windows.net/mytestqueuedd7c186d/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedd7c186d.queue.core.windows.net
        - /mytestqueuedd7c186d/messages
        - ''
        - ''
version: 1
