interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Mar 2022 21:24:04 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesync6272161e
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Tue, 29 Mar 2022 21:24:04 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesync6272161e/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>67e57fb6-8168-4b15-be52-4d9fa6d4adad</MessageId><InsertionTime>Tue,
        29 Mar 2022 21:24:04 GMT</InsertionTime><ExpirationTime>Tue, 05 Apr 2022 21:24:04
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAA4tBUbND2AE=</PopReceipt><TimeNextVisible>Tue,
        29 Mar 2022 21:24:04 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Mar 2022 21:24:05 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesync6272161e/messages?numofmessages=2
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>67e57fb6-8168-4b15-be52-4d9fa6d4adad</MessageId><InsertionTime>Tue,
        29 Mar 2022 21:24:04 GMT</InsertionTime><ExpirationTime>Tue, 05 Apr 2022 21:24:04
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA8VhnY7ND2AE=</PopReceipt><TimeNextVisible>Tue,
        29 Mar 2022 21:24:35 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>1b4dc29b-60a5-4975-878f-417e28da0772</MessageId><InsertionTime>Tue,
        29 Mar 2022 21:24:04 GMT</InsertionTime><ExpirationTime>Tue, 05 Apr 2022 21:24:04
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA8VhnY7ND2AE=</PopReceipt><TimeNextVisible>Tue,
        29 Mar 2022 21:24:35 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message2</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
