interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:26:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage75b91164.queue.core.windows.net/mytestqueue75b91164
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:26:35 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage75b91164.queue.core.windows.net/mytestqueue75b91164/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>db758324-8203-4147-a9bb-6696442289d4</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:26:35 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:26:35
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAcYy9z29j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:26:35 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:26:35 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage75b91164.queue.core.windows.net/mytestqueue75b91164/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>db758324-8203-4147-a9bb-6696442289d4</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:26:35 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:26:35
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAURyp4W9j1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:27:05 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
