interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 May 2022 01:00:19 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue1399190b
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2021-02-12'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.queue.core.windows.net/encryptionqueue1399190b
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "uLBuNGG6qQEuOIJd3wntSh6/nzcGiwPlPhNDUu6jJagbdtiecLc0M0d5j0hq93EbPJM=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "gCtdxVuhFGW6SKuoCxR/UClrH3EHgvilAClPfhLQ/pm+eV0uvJXXCA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"EncryptedRegionDataLength": 4194304,
      "NonceLength": 12, "TagLength": 16}, "KeyWrappingMetadata": {"EncryptionLibrary":
      "Python 12.3.1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 19 May 2022 01:00:20 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue1399190b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>80ea2ce8-be91-4d48-981b-aa0be666c325</MessageId><InsertionTime>Thu,
        19 May 2022 01:00:20 GMT</InsertionTime><ExpirationTime>Thu, 26 May 2022 01:00:20
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA/ePCzxtr2AE=</PopReceipt><TimeNextVisible>Thu,
        19 May 2022 01:00:20 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2021-02-12'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.queue.core.windows.net/encryptionqueue1399190b/messages
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 May 2022 01:00:20 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue1399190b/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>80ea2ce8-be91-4d48-981b-aa0be666c325</MessageId><InsertionTime>Thu,
        19 May 2022 01:00:20 GMT</InsertionTime><ExpirationTime>Thu, 26 May 2022 01:00:20
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA69ir4Rtr2AE=</PopReceipt><TimeNextVisible>Thu,
        19 May 2022 01:00:50 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"uLBuNGG6qQEuOIJd3wntSh6/nzcGiwPlPhNDUu6jJagbdtiecLc0M0d5j0hq93EbPJM=\",
        \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\":
        \"gCtdxVuhFGW6SKuoCxR/UClrH3EHgvilAClPfhLQ/pm+eV0uvJXXCA==\", \"Algorithm\":
        \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\":
        \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"EncryptedRegionDataLength\":
        4194304, \"NonceLength\": 12, \"TagLength\": 16}, \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.3.1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2021-02-12'
    status:
      code: 200
      message: OK
    url: https://jalauzoncanary.queue.core.windows.net/encryptionqueue1399190b/messages?numofmessages=1
version: 1
