interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Mar 2022 18:31:40 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueueasyncf221189b
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2021-02-12'
    status:
      code: 201
      message: Created
    url: https://vincenttrancanary.queue.core.windows.net/pyqueueasyncf221189b
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 30 Mar 2022 18:31:41 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueueasyncf221189b/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>06bcba8a-5910-411d-965e-14ca9dbd8023</MessageId><InsertionTime>Wed,
        30 Mar 2022 18:31:40 GMT</InsertionTime><ExpirationTime>Wed, 06 Apr 2022 18:31:40
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAKhQuZmRE2AE=</PopReceipt><TimeNextVisible>Wed,
        30 Mar 2022 18:31:40 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2021-02-12'
    status:
      code: 201
      message: Created
    url: https://vincenttrancanary.queue.core.windows.net/pyqueueasyncf221189b/messages
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 30 Mar 2022 18:31:41 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueueasyncf221189b/messages?numofmessages=2
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>06bcba8a-5910-411d-965e-14ca9dbd8023</MessageId><InsertionTime>Wed,
        30 Mar 2022 18:31:40 GMT</InsertionTime><ExpirationTime>Wed, 06 Apr 2022 18:31:40
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAB11AeGRE2AE=</PopReceipt><TimeNextVisible>Wed,
        30 Mar 2022 18:32:11 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>527fa2a9-1724-4ea1-b092-bc421f692fd3</MessageId><InsertionTime>Wed,
        30 Mar 2022 18:31:40 GMT</InsertionTime><ExpirationTime>Wed, 06 Apr 2022 18:31:40
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAB11AeGRE2AE=</PopReceipt><TimeNextVisible>Wed,
        30 Mar 2022 18:32:11 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message2</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2021-02-12'
    status:
      code: 200
      message: OK
    url: https://vincenttrancanary.queue.core.windows.net/pyqueueasyncf221189b/messages?numofmessages=2
version: 1
