interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragefb841436.queue.core.windows.net/queuetest
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>hello world</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragefb841436.queue.core.windows.net/queuetest/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9e16180e-9190-4801-af4b-8666e01820c4</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:56:30 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:56:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAeRd51u6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:56:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>my-access-policy-id</Id><AccessPolicy><Start>2019-10-16T05:56:30Z</Start><Expiry>2019-10-16T07:56:30Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragefb841436.queue.core.windows.net/queuetest?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:56:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstoragefb841436.queue.core.windows.net/queuetest
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
version: 1
