interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:53:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage9ccd0b37.queue.core.windows.net/pythonqueue9ccd0b37
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:53:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage9ccd0b37.queue.core.windows.net/pythonqueue9ccd0b37/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7d514162-af5f-4400-a514-3653753b05a9</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:53:10 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:53:10
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVVBNef1k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:53:10 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 21:53:11 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage9ccd0b37.queue.core.windows.net/pythonqueue9ccd0b37/messages?se=2019-09-06T22%3A53%3A11Z&sp=p&sv=2018-03-28&sig=DzW7T7VwaLyclJPAApkXjqJ46wCB3hxfLLYeKlGVlRM%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7d514162-af5f-4400-a514-3653753b05a9</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:53:10 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:53:10
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAFHhai/1k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:53:40 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
