interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jun 2022 00:54:03 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuef9ea18c5
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "3F+Nu8VG6lelS6FEB5Wmt5J960yecEG+1gMW8cmHUSf7cKn3Q8Cqrj/4ZU+oYqMOnIk=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "fGAjNwsMukICloYqBg3YlPWvIrgU3ojQdyeca/YvvwIxW0e057AZFU02gMfOG9v4",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
      "AES_GCM_256"}, "EncryptedRegionInfo": {"DataLength": 4194304, "NonceLength":
      12}, "KeyWrappingMetadata": {"EncryptionLibrary": "Python 12.4.0b1"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Wed, 15 Jun 2022 00:54:03 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuef9ea18c5/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7fb93c93-b66d-4e0c-93a3-c3044fb2d069</MessageId><InsertionTime>Wed,
        15 Jun 2022 00:54:03 GMT</InsertionTime><ExpirationTime>Wed, 22 Jun 2022 00:54:03
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAgDttaFKA2AE=</PopReceipt><TimeNextVisible>Wed,
        15 Jun 2022 00:54:03 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jun 2022 00:54:03 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuef9ea18c5/messages?numofmessages=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7fb93c93-b66d-4e0c-93a3-c3044fb2d069</MessageId><InsertionTime>Wed,
        15 Jun 2022 00:54:03 GMT</InsertionTime><ExpirationTime>Wed, 22 Jun 2022 00:54:03
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAZLJZelKA2AE=</PopReceipt><TimeNextVisible>Wed,
        15 Jun 2022 00:54:33 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"3F+Nu8VG6lelS6FEB5Wmt5J960yecEG+1gMW8cmHUSf7cKn3Q8Cqrj/4ZU+oYqMOnIk=\",
        \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\":
        \"fGAjNwsMukICloYqBg3YlPWvIrgU3ojQdyeca/YvvwIxW0e057AZFU02gMfOG9v4\", \"Algorithm\":
        \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"2.0\", \"EncryptionAlgorithm\":
        \"AES_GCM_256\"}, \"EncryptedRegionInfo\": {\"DataLength\": 4194304, \"NonceLength\":
        12}, \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 12.4.0b1\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
