interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorageb2c517ad.queue.core.windows.net/encryptionqueueb2c517ad
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageb2c517ad.queue.core.windows.net
        - /encryptionqueueb2c517ad
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "Ccrwix71cOm8WiJmMcEPbw==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "Fq2Jrn6SmRs+o1nQ6uhngsSMBcMdNb+vCJkSKYRz4SzqUT/hw7UwNw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "U3GmsRhRlbuRR8oc9eH14g==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorageb2c517ad.queue.core.windows.net/encryptionqueueb2c517ad/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>84ed0b34-57b8-4a61-9624-8e9affddf522</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:55:47 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:55:47
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAxXkUve6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:55:47 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageb2c517ad.queue.core.windows.net
        - /encryptionqueueb2c517ad/messages
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:47 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorageb2c517ad.queue.core.windows.net/encryptionqueueb2c517ad/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>84ed0b34-57b8-4a61-9624-8e9affddf522</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:55:47 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:55:47
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAeF/8zu6D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:56:17 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"Ccrwix71cOm8WiJmMcEPbw==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"Fq2Jrn6SmRs+o1nQ6uhngsSMBcMdNb+vCJkSKYRz4SzqUT/hw7UwNw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"U3GmsRhRlbuRR8oc9eH14g==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b4\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageb2c517ad.queue.core.windows.net
        - /encryptionqueueb2c517ad/messages
        - ''
        - ''
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "uSR/t6yl821uohQ42R3gAA==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "p2eDer8dANH+zW7frODgqiGq6Z+b2UrGpNs5iMTWH15Nqi+AkranCA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "9QoLfZV9vV1umQbU99POWA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b4"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorageb2c517ad.queue.core.windows.net/encryptionqueueb2c517ad/messages/84ed0b34-57b8-4a61-9624-8e9affddf522?popreceipt=AgAAAAMAAAAAAAAAeF/8zu6D1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt: AwAAAAMAAAAAAAAA2O8ove6D1QEBAAAA
      x-ms-time-next-visible: Wed, 16 Oct 2019 06:55:47 GMT
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageb2c517ad.queue.core.windows.net
        - /encryptionqueueb2c517ad/messages/84ed0b34-57b8-4a61-9624-8e9affddf522
        - popreceipt=AgAAAAMAAAAAAAAAeF/8zu6D1QE%3D&visibilitytimeout=0
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:55:48 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorageb2c517ad.queue.core.windows.net/encryptionqueueb2c517ad/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageb2c517ad.queue.core.windows.net
        - /encryptionqueueb2c517ad/messages
        - ''
        - ''
version: 1
