interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage26691503.queue.core.windows.net/asyncpeekqueue
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage26691503.queue.core.windows.net
        - /asyncpeekqueue
        - ''
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage26691503.queue.core.windows.net/asyncpeekqueue/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b6cdc48c-1c6c-49ae-a3f2-274a46544c98</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:29:32 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:29:32
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAsMQoOXBj1QE=</PopReceipt><TimeNextVisible>Wed,
        04 Sep 2019 22:29:32 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage26691503.queue.core.windows.net
        - /asyncpeekqueue/messages
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage26691503.queue.core.windows.net/asyncpeekqueue/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b6cdc48c-1c6c-49ae-a3f2-274a46544c98</MessageId><InsertionTime>Wed,
        04 Sep 2019 22:29:32 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 22:29:32
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage26691503.queue.core.windows.net
        - /asyncpeekqueue/messages
        - peekonly=true
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage26691503.queue.core.windows.net/asyncpeekqueue/messages?numofmessages=5&peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b6cdc48c-1c6c-49ae-a3f2-274a46544c98</MessageI[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 04 Sep 2019 22:29:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://pyacrstorage26691503.queue.core.windows.net/asyncpeekqueue
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2018-03-28'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage26691503.queue.core.windows.net
        - /asyncpeekqueue
        - ''
        - ''
version: 1
