interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:48:07 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstoragea7c20b89.queue.core.windows.net/pythonqueuea7c20b89
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 16 Oct 2019 06:48:08 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstoragea7c20b89.queue.core.windows.net/pythonqueuea7c20b89/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b4edf8f3-25e1-4c4f-8adc-6bb4eb4178fe</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:48:07 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:48:07
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABb4gq+2D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:48:07 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 06:48:08 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstoragea7c20b89.queue.core.windows.net/pythonqueuea7c20b89/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b4edf8f3-25e1-4c4f-8adc-6bb4eb4178fe</MessageId><InsertionTime>Wed,
        16 Oct 2019 06:48:07 GMT</InsertionTime><ExpirationTime>Wed, 23 Oct 2019 06:48:07
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAN2c8ve2D1QE=</PopReceipt><TimeNextVisible>Wed,
        16 Oct 2019 06:48:38 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
