interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Mar 2022 21:21:21 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.queue.core.windows.net/pyqueuesync867611ba
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Tue, 29 Mar 2022 21:21:21 GMT
      x-ms-version:
      - '2021-02-12'
    method: POST
    uri: https://storagename.queue.core.windows.net/pyqueuesync867611ba/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a45d19f3-0ac1-45e8-ac57-0b6205b746b1</MessageId><InsertionTime>Tue,
        29 Mar 2022 21:21:21 GMT</InsertionTime><ExpirationTime>Tue, 05 Apr 2022 21:21:21
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0oMV8LJD2AE=</PopReceipt><TimeNextVisible>Tue,
        29 Mar 2022 21:21:21 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Mar 2022 21:21:23 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesync867611ba/messages?numofmessages=3
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a45d19f3-0ac1-45e8-ac57-0b6205b746b1</MessageId><InsertionTime>Tue,
        29 Mar 2022 21:21:21 GMT</InsertionTime><ExpirationTime>Tue, 05 Apr 2022 21:21:21
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAApd6ZArND2AE=</PopReceipt><TimeNextVisible>Tue,
        29 Mar 2022 21:21:52 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>cc15e266-cd36-4333-902a-27502b0e8b8f</MessageId><InsertionTime>Tue,
        29 Mar 2022 21:21:21 GMT</InsertionTime><ExpirationTime>Tue, 05 Apr 2022 21:21:21
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAApd6ZArND2AE=</PopReceipt><TimeNextVisible>Tue,
        29 Mar 2022 21:21:52 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>cdcab1e6-4c14-4b0e-9498-5e543ab5c8ef</MessageId><InsertionTime>Tue,
        29 Mar 2022 21:21:22 GMT</InsertionTime><ExpirationTime>Tue, 05 Apr 2022 21:21:22
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAApd6ZArND2AE=</PopReceipt><TimeNextVisible>Tue,
        29 Mar 2022 21:21:52 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message3</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Mar 2022 21:21:23 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.queue.core.windows.net/pyqueuesync867611ba/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
