interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:52 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage9a7c1749.queue.core.windows.net/encryptionqueue9a7c1749
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "f/bFSCQLLZaNrVbtZvQ+/B8Eel+PYTTs/8QMbqFA4vw=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "2CjJtENwzvmFPLBTNYiG5Th/IZepMPSSlkZy2hd3Vt29tyVr7nBlvQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "JvHZMspum/F57Hxc/xjXPQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://pyacrstorage9a7c1749.queue.core.windows.net/encryptionqueue9a7c1749/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b4e1fb0b-6f98-4574-81aa-10e7af9be125</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:58:51 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:58:51
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAanAIRf5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:58:51 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage9a7c1749.queue.core.windows.net/encryptionqueue9a7c1749/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b4e1fb0b-6f98-4574-81aa-10e7af9be125</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:58:51 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:58:51
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAQZ30Vv5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:59:22 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"f/bFSCQLLZaNrVbtZvQ+/B8Eel+PYTTs/8QMbqFA4vw=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"2CjJtENwzvmFPLBTNYiG5Th/IZepMPSSlkZy2hd3Vt29tyVr7nBlvQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"JvHZMspum/F57Hxc/xjXPQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "z56bMLkUUg2acjd6nUwFKQHbRwZYehVcMpAZdoBLtzs=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "48IgElvULrBkhzrUC6syIngvBNI6065ozQi1P2Vc8KSwbs4Wl8a7Fw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "MFqqBGkdS3HiOD/YUOBxMA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 12.0.0b2"}}}</MessageText></QueueMessage>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://pyacrstorage9a7c1749.queue.core.windows.net/encryptionqueue9a7c1749/messages/b4e1fb0b-6f98-4574-81aa-10e7af9be125?popreceipt=AgAAAAMAAAAAAAAAQZ30Vv5k1QE%3D&visibilitytimeout=0
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAXfkdRf5k1QEBAAAA
      x-ms-time-next-visible:
      - Fri, 06 Sep 2019 21:58:52 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 21:58:53 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://pyacrstorage9a7c1749.queue.core.windows.net/encryptionqueue9a7c1749/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b4e1fb0b-6f98-4574-81aa-10e7af9be125</MessageId><InsertionTime>Fri,
        06 Sep 2019 21:58:51 GMT</InsertionTime><ExpirationTime>Fri, 13 Sep 2019 21:58:51
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAeyIMV/5k1QE=</PopReceipt><TimeNextVisible>Fri,
        06 Sep 2019 21:59:22 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"z56bMLkUUg2acjd6nUwFKQHbRwZYehVcMpAZdoBLtzs=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"48IgElvULrBkhzrUC6syIngvBNI6065ozQi1P2Vc8KSwbs4Wl8a7Fw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"MFqqBGkdS3HiOD/YUOBxMA==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 12.0.0b2\"}}}</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
