recursive-include tests *.py
include *.md
include LICENSE
include azure/__init__.py
include azure/appconfiguration/__init__.py
include azure/appconfiguration/provider/*.py
recursive-include samples *.py *.md
recursive-include doc *.rst
include azure/appconfiguration/provider/py.typed