---
http_interactions:
- request:
    method: get
    uri: https://login.windows.net/<AZURE_TENANT_ID>/oauth2/token
    body:
      encoding: UTF-8
      string: resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_id=<AZURE_CLIENT_ID>&client_secret=<AZURE_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-gateway-service-instanceid:
      - ESTSFE_IN_113
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3599","expires_on":"1460082100","not_before":"1460078200","resource":"https://management.core.windows.net/","access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Fri, 08 Apr 2016 01:21:40 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/RubySDKTest_azure_mgmt_storage?api-version=2015-11-01
    body:
      encoding: UTF-8
      string: '{"location":"westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    body:
      encoding: UTF-8
      string: '{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_storage","name":"RubySDKTest_azure_mgmt_storage","location":"westus","properties":{"provisioningState":"Succeeded"}}'
  recorded_at: Fri, 08 Apr 2016 01:21:40 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_storage/providers/Microsoft.Storage/storageAccounts/storage3b8b8f628a1c4d868?api-version=2015-06-15
    body:
      encoding: UTF-8
      string: '{"location":"westus","properties":{"accountType":"Standard_LRS"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 202
      message: 
    headers:
      location:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Storage/operations/1b0fd13b-1356-4bef-a710-c3cde5cd685a?monitor=true&api-version=2015-06-15
      retry-after: '1'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Apr 2016 01:21:42 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Storage/operations/1b0fd13b-1356-4bef-a710-c3cde5cd685a?api-version=2015-06-15&monitor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-reads:
      - '14859'
    body:
      encoding: ASCII-8BIT
      string: '{"location":"westus","properties":{"accountType":"Standard_LRS"}}'
  recorded_at: Fri, 08 Apr 2016 01:33:07 GMT
- request:
    method: patch
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_storage/providers/Microsoft.Storage/storageAccounts/storage3b8b8f628a1c4d868?api-version=2015-06-15
    body:
      encoding: UTF-8
      string: '{"tags":{"tag1":"val1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    body:
      encoding: ASCII-8BIT
      string: '{"tags":{"tag1":"val1"}}'
  recorded_at: Fri, 08 Apr 2016 01:33:09 GMT
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SVUJZU0RLVEVTVDo1RkFaVVJFOjVGTUdNVDo1RlNUT1JBR0UtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2015-11-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      x-ms-ratelimit-remaining-subscription-reads:
      - '14858'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Apr 2016 01:34:46 GMT
recorded_with: VCR 3.0.1
