interactions:
- request:
    body: <?xml version="1.0" encoding="utf-8" standalone="yes"?><entry xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices"
      xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata" xmlns="http://www.w3.org/2005/Atom"><title></title><updated>2019-04-25T06:37:23.127907+00:00</updated><author><name></name></author><id></id><content
      type="application/xml"><TopicDescription xmlns:i="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"></TopicDescription></content></entry>
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    method: PUT
    uri: https://fakesbnamespace.servicebus.windows.net/uttopicb3e91bbf?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://fakesbnamespace.servicebus.windows.net/uttopicb3e91bbf?api-version=2017-04</id><title
        type="text">uttopicb3e91bbf</title><published>2019-04-25T06:37:23Z</published><updated>2019-04-25T06:37:23Z</updated><author><name>fakesbnamespace</name></author><link
        rel="self" href="https://fakesbnamespace.servicebus.windows.net/uttopicb3e91bbf?api-version=2017-04"/><content
        type="application/xml"><TopicDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2019-04-25T06:37:23.75Z</CreatedAt><UpdatedAt>2019-04-25T06:37:23.777Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><IsExpress>false</IsExpress><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress></TopicDescription></content></entry>
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: <?xml version="1.0" encoding="utf-8" standalone="yes"?><entry xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices"
      xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata" xmlns="http://www.w3.org/2005/Atom"><title></title><updated>2019-04-25T06:37:24.275395+00:00</updated><author><name></name></author><id></id><content
      type="application/xml"><SubscriptionDescription xmlns:i="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"></SubscriptionDescription></content></entry>
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    method: PUT
    uri: https://fakesbnamespace.servicebus.windows.net/uttopicb3e91bbf/subscriptions/MySubscription?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://fakesbnamespace.servicebus.windows.net/uttopicb3e91bbf/subscriptions/MySubscription?api-version=2017-04</id><title
        type="text">MySubscription</title><published>2019-04-25T06:37:24Z</published><updated>2019-04-25T06:37:24Z</updated><link
        rel="self" href="https://fakesbnamespace.servicebus.windows.net/uttopicb3e91bbf/subscriptions/MySubscription?api-version=2017-04"/><content
        type="application/xml"><SubscriptionDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2019-04-25T06:37:24.2728152Z</CreatedAt><UpdatedAt>2019-04-25T06:37:24.2728152Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus></SubscriptionDescription></content></entry>
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
      ETag:
      - '636917710437770000'
    status:
      code: 201
      message: Created
- request:
    body: subscription message
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    method: POST
    uri: https://fakesbnamespace.servicebus.windows.net/uttopicb3e91bbf/messages?api-version=2017-04
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - '636917710437770000'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    method: POST
    uri: https://fakesbnamespace.servicebus.windows.net/uttopicb3e91bbf/subscriptions/MySubscription/messages/head?timeout=5&api-version=2017-04
  response:
    body:
      string: subscription message
    headers:
      BrokerProperties:
      - '{"DeliveryCount":1,"EnqueuedSequenceNumber":1,"EnqueuedTimeUtc":"Thu, 25
        Apr 2019 06:37:24 GMT","LockToken":"615cc249-8542-498f-84ef-62985c81c519","LockedUntilUtc":"Thu,
        25 Apr 2019 06:38:24 GMT","MessageId":"73c644dc7f914f81bb135d5cac774842","SequenceNumber":1,"State":"Active","TimeToLive":922337203685.47754}'
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
      ETag:
      - '636917710437770000'
      Location:
      - https://fakesbnamespace.servicebus.windows.net/uttopicb3e91bbf/subscriptions/MySubscription/messages/1/615cc249-8542-498f-84ef-62985c81c519
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    method: DELETE
    uri: https://fakesbnamespace.servicebus.windows.net/uttopicb3e91bbf/subscriptions/MySubscription/messages/1/615cc249-8542-498f-84ef-62985c81c519?api-version=2017-04
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - '636917710437770000'
    status:
      code: 200
      message: OK
version: 1
