interactions:
- request:
    body: <?xml version="1.0" encoding="utf-8" standalone="yes"?><entry xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices"
      xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata" xmlns="http://www.w3.org/2005/Atom"><title></title><updated>2019-04-25T06:37:55.303528+00:00</updated><author><name></name></author><id></id><content
      type="application/xml"><QueueDescription xmlns:i="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"></QueueDescription></content></entry>
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    method: PUT
    uri: https://fakesbnamespace.servicebus.windows.net/utqueuea14d1f2e?api-version=2017-04
  response:
    body:
      string: <entry xmlns="http://www.w3.org/2005/Atom"><id>https://fakesbnamespace.servicebus.windows.net/utqueuea14d1f2e?api-version=2017-04</id><title
        type="text">utqueuea14d1f2e</title><published>2019-04-25T06:37:55Z</published><updated>2019-04-25T06:37:55Z</updated><author><name>fakesbnamespace</name></author><link
        rel="self" href="https://fakesbnamespace.servicebus.windows.net/utqueuea14d1f2e?api-version=2017-04"/><content
        type="application/xml"><QueueDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2019-04-25T06:37:55.76Z</CreatedAt><UpdatedAt>2019-04-25T06:37:55.843Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableExpress>false</EnableExpress></QueueDescription></content></entry>
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    status:
      code: 201
      message: Created
- request:
    body: <text>peek lock message custom message type</text>
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://fakesbnamespace.servicebus.windows.net/utqueuea14d1f2e/messages?api-version=2017-04
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - '636917710758430000'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    method: POST
    uri: https://fakesbnamespace.servicebus.windows.net/utqueuea14d1f2e/messages/head?timeout=5&api-version=2017-04
  response:
    body:
      string: <text>peek lock message custom message type</text>
    headers:
      BrokerProperties:
      - '{"DeliveryCount":1,"EnqueuedSequenceNumber":0,"EnqueuedTimeUtc":"Thu, 25
        Apr 2019 06:37:56 GMT","LockToken":"c0d624f1-1f16-40d5-82e9-4f9f721047e6","LockedUntilUtc":"Thu,
        25 Apr 2019 06:38:56 GMT","MessageId":"d3eeb9bd997c41109e29b3ff12d5b895","SequenceNumber":1,"State":"Active","TimeToLive":922337203685.47754}'
      Content-Type:
      - text/xml
      ETag:
      - '636917710758430000'
      Location:
      - https://fakesbnamespace.servicebus.windows.net/utqueuea14d1f2e/messages/1/c0d624f1-1f16-40d5-82e9-4f9f721047e6
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/atom+xml;type=entry;charset=utf-8
    method: DELETE
    uri: https://fakesbnamespace.servicebus.windows.net/utqueuea14d1f2e/messages/1/c0d624f1-1f16-40d5-82e9-4f9f721047e6?api-version=2017-04
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      ETag:
      - '636917710758430000'
    status:
      code: 200
      message: OK
version: 1
