{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sms?api-version=2021-03-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "sanitized",
        "x-ms-date": "sanitized"
      },
      "RequestBody": {
        "from": "sanitized",
        "smsRecipients": [
          {
            "to": "sanitized",
            "repeatabilityRequestId": "sanitized",
            "repeatabilityFirstSent": "Fri, 13 Jan 2023 15:07:28 GMT"
          }
        ],
        "message": "Hello World via SMS",
        "smsSendOptions": {
          "enableDeliveryReport": false
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview1, 2020-08-20-preview, 2021-03-07",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "sanitized",
        "X-Processing-Time": "122ms"
      },
      "ResponseBody": {
        "value": [
          {
            "to": "sanitized",
            "messageId": "sanitized",
            "httpStatusCode": 202,
            "repeatabilityResult": "accepted",
            "successful": true
          }
        ]
      }
    }
  ],
  "Variables": {}
}
