interactions:
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello World
      via SMS", "smsSendOptions": {"enableDeliveryReport": true, "tag": "custom-tag"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
      202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
      "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
      "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - MtVR67LOTkS0KNTafNnY3A.0
      x-processing-time:
      - 966ms
    status:
      code: 202
      message: Accepted
version: 1
