interactions:
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello World
      via SMS", "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 20:30:41 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions: 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: xGjy4/vRbUiYkqdcDmnDFg.0
      x-processing-time: 668ms
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello World
      via SMS", "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 20:30:42 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions: 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: yIG8uY7bZkGL4GUPfnA1Yg.0
      x-processing-time: 654ms
    status:
      code: 202
      message: Accepted
    url: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
version: 1
