interactions:
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello World
      via SMS", "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 20:30:36 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"From": ["Invalid From phone number format"]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: 5YjuVK2z8U+886rY73SotQ.0
      x-processing-time: 43ms
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
version: 1
