interactions:
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello World
      via SMS", "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      ms-cv: G+jHfvCEjECPwEKrIJkC4w.0
      x-processing-time: 332ms
    status:
      code: 401
      message: Unauthorized
    url: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
version: 1
