interactions:
- request:
    body: '{"from": "sanitized", "to": "sanitized", "message": "Hello World via SMS",
      "sendSmsOptions": {"enableDeliveryReport": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2020-07-20-preview1
  response:
    body: '{"messageId": "sanitized"}'
    headers:
      api-supported-versions: 2020-07-20-preview1, 2021-03-07
      content-type: application/json; charset=utf-8
      ms-cv: gaTWYwT6rE6iao/bzl/MXw.0
      x-processing-time: 542ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sms?api-version=2020-07-20-preview1
version: 1
