interactions:
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello World
      via SMS", "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"From": ["Invalid From phone number format"]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: X3+7Z5l3CkuQo9Appa1aAA.0
      x-processing-time: 13ms
    status:
      code: 400
      message: Bad Request
    url: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
version: 1
