{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/fake-subscription/resourceGroups/fake-resource/providers/Microsoft.Insights/metricDefinitions?api-version=2018-01-01\u0026metricnamespace=Microsoft.OperationalInsights/workspaces",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "398"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/fake-subscription/resourceGroups/fake-resource/providers/microsoft.insights/metricdefinitions/Average_% Free Inodes",
            "resourceId": "/subscriptions/fake-subscription/resourceGroups/fake-resource",
            "namespace": "Microsoft.OperationalInsights/workspaces",
            "name": {
              "value": "Average_% Free Inodes",
              "localizedValue": "% Free Inodes"
            },
            "displayDescription": "Average_% Free Inodes. Supported for: Linux. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "isDimensionRequired": false,
            "unit": "Count",
            "primaryAggregationType": "Average",
            "supportedAggregationTypes": [
              "None",
              "Average",
              "Minimum",
              "Maximum",
              "Total",
              "Count"
            ],
            "metricAvailabilities": [
              {
                "timeGrain": "PT1M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT5M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT15M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT30M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT1H",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT6H",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT12H",
                "retention": "P93D"
              },
              {
                "timeGrain": "P1D",
                "retention": "P93D"
              }
            ],
            "dimensions": [
              {
                "value": "Computer",
                "localizedValue": "Computer"
              },
              {
                "value": "ObjectName",
                "localizedValue": "ObjectName"
              },
              {
                "value": "InstanceName",
                "localizedValue": "InstanceName"
              },
              {
                "value": "CounterPath",
                "localizedValue": "CounterPath"
              },
              {
   [...]
