{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11995",
        "x-ms-response-type": "standard",
        "x-request-time": "0.047"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "eastus2euap",
        "tags": {},
        "properties": {
          "createdOn": "2022-09-12T00:11:27.8158938\u002B00:00",
          "modifiedOn": "2022-09-12T00:11:46.4464557\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "eastus2euap",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 0,
            "targetNodeCount": 0,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2022-09-14T19:32:46.827\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "azureml_anonymous",
            "tags": {
              "component_type_overwrite": "import"
            },
            "version": "000000000000000000000",
            "display_name": "import_step",
            "is_deterministic": true,
            "type": "command",
            "inputs": {
              "type": {
                "type": "string",
                "default": "azuresqldb"
              },
              "connection": {
                "type": "string",
                "default": "azureml:my_username_password"
              },
              "query": {
                "type": "string",
                "default": "select * from REGION"
              }
            },
            "outputs": {
              "output": {
                "type": "mltable"
              }
            },
            "command": "import",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-ms-response-type": "standard",
        "x-request-time": "0.392"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/be3474d8-9de4-4bc3-b37e-ff563a86067b",
        "name": "be3474d8-9de4-4bc3-b37e-ff563a86067b",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "componentSpec": {
            "name": "azureml_anonymous",
            "version": "be3474d8-9de4-4bc3-b37e-ff563a86067b",
            "display_name": "import_step",
            "is_deterministic": "True",
            "type": "command",
            "outputs": {
              "output": {
                "type": "mltable"
              }
            },
            "inputs": {
              "type": {
                "type": "string",
                "optional": "False",
                "default": "azuresqldb"
              },
              "connection": {
                "type": "string",
                "optional": "False",
                "default": "azureml:my_username_password"
              },
              "query": {
                "type": "string",
                "optional": "False",
                "default": "select * from REGION"
              }
            },
            "environment": {
              "docker": {
                "image": "mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04"
              }
            },
            "resources": {
              "instance_count": "1"
            },
            "command": "import",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json"
          }
        },
        "systemData": {
          "createdAt": "2022-09-12T00:19:15.9876617\u002B00:00",
          "createdBy": "10832f61-6ea1-44eb-9622-85f30271eec4",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-12T00:19:16.1638791\u002B00:00",
          "lastModifiedBy": "10832f61-6ea1-44eb-9622-85f30271eec4",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11994",
        "x-ms-response-type": "standard",
        "x-request-time": "0.086"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "sagh4dshas62md4",
          "containerName": "azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2022-09-12T00:11:18.2362953\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-12T00:11:18.7663673\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-ms-response-type": "standard",
        "x-request-time": "0.214"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job/import_component_test.yml",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 14 Sep 2022 20:52:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job/import_component_test_missing_keys.yml",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "JA/eqWaFg5ffRV494QhtiA==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Sep 2022 20:52:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "dHlwZTogaW1wb3J0DQpuYW1lOiAidGVzdDEiDQpkaXNwbGF5X25hbWU6ICJ0ZXN0X2Rpc3BsYXlfbmFtZSINCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "JA/eqWaFg5ffRV494QhtiA==",
        "ETag": "\u00220x8DA969316807F37\u0022",
        "Last-Modified": "Wed, 14 Sep 2022 20:52:50 GMT",
        "x-ms-content-crc64": "Sr/j\u002B/JgZTU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job/import_job_test_missing_keys.yml",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "JA/eqWaFg5ffRV494QhtiA==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Sep 2022 20:52:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "dHlwZTogaW1wb3J0DQpuYW1lOiAidGVzdDEiDQpkaXNwbGF5X25hbWU6ICJ0ZXN0X2Rpc3BsYXlfbmFtZSINCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "JA/eqWaFg5ffRV494QhtiA==",
        "ETag": "\u00220x8DA9693168F4B04\u0022",
        "Last-Modified": "Wed, 14 Sep 2022 20:52:50 GMT",
        "x-ms-content-crc64": "Sr/j\u002B/JgZTU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job/import_job_test_snowflake.yml",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "NlpDeSZq9PhZhSAmXYJW4A==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Sep 2022 20:52:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "dHlwZTogaW1wb3J0DQpuYW1lOiAidGVzdDEiDQpkZXNjcmlwdGlvbjogInRlc3RfZGVzY3JpcHRpb24iDQpkaXNwbGF5X25hbWU6ICJ0ZXN0X2Rpc3BsYXlfbmFtZSINCnNvdXJjZToNCiAgdHlwZTogc25vd2ZsYWtlDQogIGNvbm5lY3Rpb246IGF6dXJlbWw6bXlfdXNlcm5hbWVfcGFzc3dvcmQNCiAgcXVlcnk6IHNlbGVjdCAqIGZyb20gUkVHSU9ODQpvdXRwdXQ6DQogIHR5cGU6IG1sdGFibGUNCiAgcGF0aDogYXp1cmVtbDovL2RhdGFzdG9yZXMvd29ya3NwYWNlYmxvYnN0b3JlL3BhdGhzL291dHB1dF9kaXIvDQo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "NlpDeSZq9PhZhSAmXYJW4A==",
        "ETag": "\u00220x8DA96931694A1BE\u0022",
        "Last-Modified": "Wed, 14 Sep 2022 20:52:50 GMT",
        "x-ms-content-crc64": "Zhjj0B3IGgU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job/import_job_test.yml",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "vKF2h8cRBJPkfgI/6ZCTvw==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Sep 2022 20:52:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "dHlwZTogaW1wb3J0DQpkZXNjcmlwdGlvbjogInRlc3RfZGVzY3JpcHRpb24iDQpkaXNwbGF5X25hbWU6ICJ0ZXN0X2Rpc3BsYXlfbmFtZSINCnNvdXJjZToNCiAgdHlwZTogYXp1cmVzcWxkYg0KICBjb25uZWN0aW9uOiBhenVyZW1sOm15X3VzZXJuYW1lX3Bhc3N3b3JkDQogIHF1ZXJ5OiBzZWxlY3QgKiBmcm9tIFJFR0lPTg0Kb3V0cHV0Og0KICB0eXBlOiBtbHRhYmxlDQogIHBhdGg6IGF6dXJlbWw6Ly9kYXRhc3RvcmVzL3dvcmtzcGFjZWJsb2JzdG9yZS9wYXRocy9vdXRwdXRfZGlyLw0K",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "vKF2h8cRBJPkfgI/6ZCTvw==",
        "ETag": "\u00220x8DA969316964F4C\u0022",
        "Last-Modified": "Wed, 14 Sep 2022 20:52:50 GMT",
        "x-ms-content-crc64": "Vlx/MMzbDBA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job/import_job_test_azuresynapseanalytics.yml",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "bY8pKGnIv8i4TiwsYkvE7g==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Sep 2022 20:52:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "dHlwZTogaW1wb3J0DQpkZXNjcmlwdGlvbjogInRlc3RfZGVzY3JpcHRpb24iDQpkaXNwbGF5X25hbWU6ICJ0ZXN0X2Rpc3BsYXlfbmFtZSINCnNvdXJjZToNCiAgdHlwZTogYXp1cmVzeW5hcHNlYW5hbHl0aWNzDQogIGNvbm5lY3Rpb246IGF6dXJlbWw6bXlfdXNlcm5hbWVfcGFzc3dvcmQNCiAgcXVlcnk6IHNlbGVjdCAqIGZyb20gUkVHSU9ODQpvdXRwdXQ6DQogIHR5cGU6IG1sdGFibGUNCiAgcGF0aDogYXp1cmVtbDovL2RhdGFzdG9yZXMvd29ya3NwYWNlYmxvYnN0b3JlL3BhdGhzL291dHB1dF9kaXIvDQo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "bY8pKGnIv8i4TiwsYkvE7g==",
        "ETag": "\u00220x8DA96931697FCDD\u0022",
        "Last-Modified": "Wed, 14 Sep 2022 20:52:50 GMT",
        "x-ms-content-crc64": "vNG228QJoyc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job/import_job_test_unknown_fields.yml",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "wM/M9emBJJqgDDRJ2JBcFw==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Sep 2022 20:52:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "dHlwZTogaW1wb3J0DQpuYW1lOiAidGVzdDEiDQpkaXNwbGF5X25hbWU6ICJ0ZXN0X2Rpc3BsYXlfbmFtZSINCnNvdXJjZToNCiAgdHlwZTogYXp1cmVzcWxkYg0KICBjb25uZWN0aW9uOiBhenVyZW1sOm15X3VzZXJuYW1lX3Bhc3N3b3JkDQogIHBhdGg6IHNlbGVjdCAqIGZyb20gUkVHSU9ODQpvdXRwdXQ6DQogIHR5cGU6IG1sdGFibGUNCiAgcGF0aDogYXp1cmVtbDovL2RhdGFzdG9yZXMvd29ya3NwYWNlYmxvYnN0b3JlL3BhdGhzL291dHB1dF9kaXIvYXp1cmVzcWwvDQo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "wM/M9emBJJqgDDRJ2JBcFw==",
        "ETag": "\u00220x8DA969316984AF7\u0022",
        "Last-Modified": "Wed, 14 Sep 2022 20:52:50 GMT",
        "x-ms-content-crc64": "V0m1486xmuY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job/import_job_test_missing_fields.yml",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "pmvI9KF9bym9lAVTTylclg==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Sep 2022 20:52:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "dHlwZTogaW1wb3J0DQpuYW1lOiAidGVzdDEiDQpkaXNwbGF5X25hbWU6ICJ0ZXN0X2Rpc3BsYXlfbmFtZSINCnNvdXJjZToNCiAgdHlwZTogYXp1cmVzcWxkYg0Kb3V0cHV0Og0KICB0eXBlOiBtbHRhYmxlDQogIHBhdGg6IGF6dXJlbWw6Ly9kYXRhc3RvcmVzL3dvcmtzcGFjZWJsb2JzdG9yZS9wYXRocy9vdXRwdXRfZGlyL2F6dXJlc3FsLw0K",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "pmvI9KF9bym9lAVTTylclg==",
        "ETag": "\u00220x8DA9693169823E6\u0022",
        "Last-Modified": "Wed, 14 Sep 2022 20:52:50 GMT",
        "x-ms-content-crc64": "WEkTLT/qWN0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job/import_job_test_unknown_keys.yml",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "XAlWvo9uYWNdzgeTxq/pGA==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Sep 2022 20:52:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "dHlwZTogaW1wb3J0DQpuYW1lOiAidGVzdDEiDQpkaXNwbGF5X25hbWU6ICJ0ZXN0X2Rpc3BsYXlfbmFtZSINCmNvbXB1dGU6ICJ0ZXN0MSINCmlucHV0czoNCiAgdHlwZTogYXp1cmVzcWxkYg0Kb3V0cHV0czoNCnNvdXJjZToNCiAgdHlwZTogYXp1cmVzcWxkYg0KICBjb25uZWN0aW9uOiBhenVyZW1sOm15X3VzZXJuYW1lX3Bhc3N3b3JkDQogIHF1ZXJ5OiBzZWxlY3QgKiBmcm9tIFJFR0lPTg0Kb3V0cHV0Og0KICB0eXBlOiBtbHRhYmxlDQogIHBhdGg6IGF6dXJlbWw6Ly9kYXRhc3RvcmVzL3dvcmtzcGFjZWJsb2JzdG9yZS9wYXRocy9vdXRwdXRfZGlyL2F6dXJlc3FsLw0K",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XAlWvo9uYWNdzgeTxq/pGA==",
        "ETag": "\u00220x8DA96931698E725\u0022",
        "Last-Modified": "Wed, 14 Sep 2022 20:52:50 GMT",
        "x-ms-content-crc64": "HsNltKm1ano=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job/import_pipeline_test.yml",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "tKxNmCy3UfLE0x4suslpeA==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Sep 2022 20:52:49 GMT",
        "x-ms-vers[...]
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job/import_pipeline_component_test.yml",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "BcbvtCoJcf7XDgqiLMcfuQ==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Sep 2022 20:52:49 GMT",
        [...]
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job/import_job_test_s3.yml",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "hBK8gpzp22lfKyDLM6nzJA==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 14 Sep 2022 20:52:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "dHlwZTogaW1wb3J0DQpuYW1lOiAidGVzdDEiDQpkZXNjcmlwdGlvbjogInRlc3RfZGVzY3JpcHRpb24iDQpkaXNwbGF5X25hbWU6ICJ0ZXN0X2Rpc3BsYXlfbmFtZSINCnNvdXJjZToNCiAgdHlwZTogczMNCiAgY29ubmVjdGlvbjogYXp1cmVtbDpteV91c2VybmFtZV9wYXNzd29yZA0KICBwYXRoOiB0ZXN0MS8qDQpvdXRwdXQ6DQogIHR5cGU6IHVyaV9mb2xkZXINCiAgcGF0aDogYXp1cmVtbDovL2RhdGFzdG9yZXMvd29ya3NwYWNlYmxvYnN0b3JlL3BhdGhzL291dHB1dF9kaXIvDQo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "hBK8gpzp22lfKyDLM6nzJA==",
        "ETag": "\u00220x8DA969316998358\u0022",
        "Last-Modified": "Wed, 14 Sep 2022 20:52:50 GMT",
        "x-ms-content-crc64": "Fr/5TpRwNIo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job/import_component_test.yml?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 14 Sep 2022 20:52:49 GMT",
        "x-ms-meta-name": "000000000000000000000",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA969316A01279\u0022",
        "Last-Modified": "Wed, 14 Sep 2022 20:52:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "acf78fa4c2efc3585203e136cb65ed65bcab25ea632263ae561dca215a73b953",
            "hash_version": "202208"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-ef5fd6ab-1b1a-4f8e-9635-014821c166f8/LocalUpload/000000000000000000000/import_job"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?ap[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo ${{inputs.imported_data}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "environment": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cuda11-gpu:3",
            "name": "azureml_anonymous",
            "tags": {},
            "version": "000000000000000000000",
            "display_name": "data_prep_step",
            "is_deterministic": true,
            "inputs": {
              "imported_data": {
                "type": "mltable"
              }
            },
            "outputs": {},
            "type": "command",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "import_pipeline_test_description",
          "properties": {
            "mlflow.source.git.repoURL": "fake_git_url",
            "mlflow.source.git.branch": "fake_git_branch",
            "mlflow.source.git.commit": "fake_git_commit",
            "azureml.git.dirty": "fake_git_dirty_value"
          },
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "000000000000000000000",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {},
          "jobs": {
            "import_step": {
              "name": "import_step",
              "type": "import",
              "display_name": null,
              "tags": {},
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/DataFactory",
              "inputs": {
                "type": {
                  "job_input_type": "literal",
                  "value": "azuresqldb"
                },
                "connection": {
                  "job_input_type": "literal",
                  "value": "azureml:my_username_password"
                },
                "query": {
                  "job_input_type": "literal",
                  "value": "select * from REGION"
                }
              },
              "outputs": {
                "output": {
                  "uri": "azureml://datastores/workspaceblobstore/paths/output_dir/",
                  "job_output_type": "mltable"
                }
              },
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/be3474d8-9de4-4bc3-b37e-ff563a86067b"
            },
            "data_prep_step": {
              "resources": null,
              "distribution": null,
              "limits": null,
              "environment_variables": {},
              "name": "data_prep_step",
              "type": "command",
              "display_name": null,
              "tags": {},
              "computeId": null,
              "inputs": {
                "imported_data": {
                  "job_input_type": "literal",
                  "value": "${{parent.jobs.import_step.outputs.output}}"
                }
              },
              "outputs": {},
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/b19e736a-138e-44c1-b7e6-4df25c4fb6ba"
            }
          },
          "outputs": {},
          "settings": {
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-06-01-preview",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1194",
        "x-ms-response-type": "standard",
        "x-request-time": "3.093"
      },
[...]
