{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/providers/Microsoft.Discovery/tools?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "24003cd0-f688-43af-ba15-65474a0b807c",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "microsoft.discovery/tools",
            "location": "centraluseuap",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-01-30T00:14:21.3990537Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-01-30T00:14:21.3990537Z"
            },
            "properties": {
              "version": "1.0.0",
              "definitionContent": {
                "name": "Sanitized",
                "description": "This is the coding tool for CorePython cheminformatics operations.",
                "version": "1.0.0",
                "category": "cheminformatics",
                "license": "MIT",
                "infra": [
                  {
                    "infra_type": "container",
                    "name": "Sanitized",
                    "image": {
                      "acr": "demodiscoveryacr.azurecr.io/corepython:latest"
                    },
                    "compute": {
                      "min_resources": {
                        "cpu": "1",
                        "ram": "2Gi",
                        "gpu": "0",
                        "storage": "0"
                      },
                      "max_resources": {
                        "cpu": "2",
                        "ram": "4Gi",
                        "storage": "0"
                      },
                      "recommended_sku": [
                        "Standard_D4s_v6"
                      ],
                      "pool_type": "static",
                      "pool_size": 1
                    }
                  }
                ],
                "code_environments": [
                  {
                    "language": "python",
                    "command": "python3 \"/{{ scriptName }}\"",
                    "description": "Python code environment with RDKit for molecular manipulation, cheminformatics, and property calculations, as well as general Python code execution. Note: All file outputs should be written to directory /app/outputs. DO NOT FORGET THIS. DO NOT WRITE OUTPUTS TO ANY OTHER DIRECTORY. Utilize the outputMounts parameter to make sure this is mounted correctly and captured after script execution.",
                    "infra_node": "worker"
                  }
                ]
              },
              "environmentVariables": {},
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
