{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/providers/Microsoft.Discovery/supercomputers?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "9dcdcbe5-1551-4c9d-86f6-35ef8fd9f25a",
          "78ac76bb-9727-4bef-ba20-606c17274eae",
          "0117e727-04ef-438c-bf02-cfeda583b7d3",
          "f83716ec-8acb-4279-8cc4-e6d1d131f2c1",
          "5d21fb26-951c-413c-b380-d28ebe5914fc",
          "329a4075-e041-4d8e-94d2-b2d7dfbec5b6"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "1098",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "microsoft.discovery/supercomputers",
            "location": "uksouth",
            "tags": {
              "createdBy": "Sanitized"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2025-11-18T14:01:46.9205594Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-02-19T13:40:29.0395037Z"
            },
            "properties": {
              "subnetId": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/fixedrg-dev-uksouth1/providers/Microsoft.Network/virtualNetworks/vnet-dev-uksouth1/subnets/supercomputer-aks",
              "identities": {
                "clusterIdentity": {
                  "id": "Sanitized",
                  "principalId": "00000000-0000-0000-0000-000000000000",
                  "clientId": "00000000-0000-0000-0000-000000000000"
                },
                "kubeletIdentity": {
                  "id": "Sanitized",
                  "principalId": "00000000-0000-0000-0000-000000000000",
                  "clientId": "00000000-0000-0000-0000-000000000000"
                },
                "workloadIdentities": {
                  "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourcegroups/fixedrg-dev-uksouth1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/dev-uksouth1-uami": {
                    "principalId": "00000000-0000-0000-0000-000000000000",
                    "clientId": "00000000-0000-0000-0000-000000000000"
                  }
                }
              },
              "systemSku": "Standard_D4s_v5",
              "managedOnBehalfOfConfiguration": {
                "moboBrokerResources": [
                  {
                    "id": "Sanitized"
                  }
                ]
              },
              "provisioningState": "Failed"
            }
          },
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "microsoft.discovery/supercomputers",
            "location": "uksouth",
            "tags": {
              "createdBy": "Sanitized"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "createdAt": "2026-01-15T00:18:20.4616551Z",
              "lastModifiedBy": "Sanitized",
[...]
