{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/providers/Microsoft.Discovery/workspaces?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "63c2004e-e7c8-4835-9a35-80083b155301",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "1098",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "microsoft.discovery/workspaces",
            "location": "centraluseuap",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-02-03T10:53:18.7643596Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-02-03T10:53:18.7643596Z"
            },
            "properties": {
              "managedResourceGroup": "mrg-dwsp-wrksptest44-rxc6r1",
              "supercomputerIds": [],
              "workspaceApiUri": "https://wrksptest44.workspace-dev.discovery.azure.com",
              "workspaceUiUri": "https://studio.discovery.microsoft.com/workspaces/wrksptest44",
              "workspaceIdentity": {
                "id": "Sanitized"
              },
              "managedOnBehalfOfConfiguration": {
                "moboBrokerResources": [
                  {
                    "id": "Sanitized"
                  }
                ]
              },
              "provisioningState": "Failed"
            }
          },
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "microsoft.discovery/workspaces",
            "location": "centraluseuap",
            "tags": {},
            "systemData": {
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-02-04T09:19:20.1363722Z"
            },
            "properties": {
              "managedResourceGroup": "mrg-dwsp-wrksptest45-4rxpj0",
              "supercomputerIds": [],
              "workspaceApiUri": "https://wrksptest45.workspace-dev.discovery.azure.com",
              "workspaceUiUri": "https://studio.discovery.microsoft.com/workspaces/wrksptest45",
              "workspaceIdentity": {
                "id": "Sanitized"
              },
              "managedOnBehalfOfConfiguration": {
                "moboBrokerResources": [
                  {
                    "id": "Sanitized"
                  }
                ]
              },
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
