{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/providers/Microsoft.Discovery/bookshelves?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "f5ad9cce-cfd0-48f0-be99-7a29b5c00d0c",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "microsoft.discovery/bookshelves",
            "location": "centraluseuap",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-02-03T19:19:48.5868481Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-02-03T19:19:48.5868481Z"
            },
            "properties": {
              "managedResourceGroup": "mrg-dbksf-newbooks-ktgz9i",
              "managedOnBehalfOfConfiguration": {
                "moboBrokerResources": [
                  {
                    "id": "Sanitized"
                  }
                ]
              },
              "provisioningState": "Failed"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
