{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/providers/Microsoft.Discovery/operations?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Discovery",
              "resource": "Microsoft.Discovery",
              "operation": "Register the Microsoft.Discovery",
              "description": "Register the subscription for Microsoft.Discovery"
            },
            "properties": null
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Discovery",
              "resource": "Microsoft.Discovery",
              "operation": "Unregister the Microsoft.Discovery",
              "description": "Unregister the subscription for Microsoft.Discovery"
            },
            "properties": null
          },
          {
            "name": "Sanitized",
            "isDataAction"[...]
