{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Discovery/supercomputers/test-sc-2bbb25b8?api-version=2026-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "\"3e0096f1-0000-1000-0000-69a9a9a40000\"",
        "mise-correlation-id": "c7152a84-2565-418f-8a89-fe8f6008a10e",
        "x-ms-build-version": "1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}