{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Discovery/storageContainers/test-sc-8bef0d1a/storageAssets/test-sa-482ad005?api-version=2026-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth",
        "properties": {
          "description": "Test storage asset for SDK validation",
          "path": "data/test-assets"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4b00ed4c-0000-1000-0000-69a705be0000\"",
        "mise-correlation-id": "fbf0ad2c-ff68-428d-be23-20542cd9901d",
        "x-ms-build-version": "1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "800",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "microsoft.discovery/storagecontainers/storageassets",
        "location": "uksouth",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-03T16:00:59.1416626Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-03T16:00:59.1416626Z"
        },
        "properties": {
          "description": "Test storage asset for SDK validation",
          "path": "data/test-assets",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}