{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/providers/Microsoft.Discovery/storageContainers?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "gateway",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "error": {
          "code": "NoResourceTypeEndpointAvailable",
          "message": "'Microsoft.Discovery/storageContainers' Resource provider doesn't support api-version 2026-02-01-preview in 'centraluseuap'. Number of endpoints before filtering based on feature flags : 1."
        }
      }
    }
  ],
  "Variables": {}
}
