{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Discovery/bookshelves/test-bookshelf-324938be?api-version=2026-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"79033bd8-0000-1000-0000-69a5eea40000\"",
        "mise-correlation-id": "c804aa00-55ce-47cc-95f5-9a7dd1976588",
        "x-ms-build-version": "1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "800",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "microsoft.discovery/bookshelves",
        "location": "uksouth",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-02T20:10:07.3380149Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-02T20:10:07.3380149Z"
        },
        "properties": {
          "managedResourceGroup": "mrg-dbksf-test-bookshelf-324938be-vh75b0",
          "managedOnBehalfOfConfiguration": {
            "moboBrokerResources": [
              {
                "id": "Sanitized"
              }
            ]
          },
          "workloadIdentities": {},
          "provisioningState": "Succeeded",
          "bookshelfUri": "https://test-bookshelf-324938be.bookshelf-dev.discovery.azure.com"
        }
      }
    }
  ],
  "Variables": {}
}