{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/providers/Microsoft.Discovery/storageContainers?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "128a456b-21d4-480d-98ba-faf629e50062",
          "02a69c46-a2bb-41dd-a69f-78b51e06c6b6",
          "342bb941-e37d-4b38-b604-ad4758ef1a49",
          "3df070ce-6ec2-4c6c-9b01-fc9121d9776a",
          "d3c3125f-f407-4c4d-9f09-b676a2f8bba2",
          "9675f956-e7b1-42d8-9e1f-2fcf6df9e339"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "microsoft.discovery/storagecontainers",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2026-03-02T20:56:51.8425901Z"
            },
            "properties": {
              "storageStore": {
                "storageAccountId": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/deray-private-test/providers/Microsoft.Storage/storageAccounts/derayprstg",
                "kind": "AzureStorageBlob"
              },
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "microsoft.discovery/storagecontainers",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-03-02T20:45:51.2603686Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-03-02T20:45:51.2603686Z"
            },
            "properties": {
              "storageStore": {
                "storageAccountId": "/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Storage/storageAccounts/mytststr",
                "kind": "AzureStorageBlob"
              },
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
