{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/31b0b6a5-2647-47eb-8a38-7d12047ee8ec/resourceGroups/olawal/providers/Microsoft.Discovery/tools/test-tool-50d87c62?api-version=2026-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "\"57005f4d-0000-1000-0000-69a9ae8a0000\"",
        "mise-correlation-id": "658a0cb8-2437-4086-b630-88d78341fe20",
        "x-ms-build-version": "1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}