interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://seankane.azurecr.io/acr/v1/hello-world/_tags/doesnotexist
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required,
        visit https://aka.ms/acr/authorization for more information.","detail":[{"Type":"repository","Name":"hello-world","Action":"metadata_read"}]}]}

        '
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
      www-authenticate: Bearer realm="https://seankane.azurecr.io/oauth2/token",service="seankane.azurecr.io",scope="repository:hello-world:metadata_read"
    status:
      code: 401
      message: Unauthorized
    url: https://fake_url.azurecr.io/acr/v1/hello-world/_tags/doesnotexist
- request:
    body:
      client_id: f850650c-1fcf-4489-b46f-71af2e30d360
      client_secret: s?=q2ZAdO=-Vn8ecVgo0Hv64-=4ril2t
      grant_type: client_credentials
      scope: https://management.core.windows.net/.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "REDACTED"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token
- request:
    body:
      access_token: REDACTED
      grant_type: access_token
      service: fake_url.azurecr.io
    headers:
    method: POST
    uri: https://seankane.azurecr.io/oauth2/exchange
  response:
    body:
      string: '{"refresh_token": "REDACTED"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second: '165.933333'
    status:
      code: 200
      message: OK
    url: https://fake_url.azurecr.io/oauth2/exchange
- request:
    body:
      grant_type: refresh_token
      refresh_token: REDACTED
      scope: repository:hello-world:metadata_read
      service: fake_url.azurecr.io
    headers:
    method: POST
    uri: https://seankane.azurecr.io/oauth2/token
  response:
    body:
      string: '{"access_token": "REDACTED"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second: '165.8'
    status:
      code: 200
      message: OK
    url: https://fake_url.azurecr.io/oauth2/token
- request:
    body: null
    headers:
    method: GET
    uri: https://seankane.azurecr.io/acr/v1/hello-world/_tags/doesnotexist
  response:
    body:
      string: '{"errors": [{"code": "TAG_UNKNOWN", "message": "the specified tag does
        not exist"}]}'
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
    status:
      code: 404
      message: Not Found
    url: https://fake_url.azurecr.io/acr/v1/hello-world/_tags/doesnotexist
version: 1
