interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://seankane.azurecr.io/acr/v1/_catalog?n=2
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required,
        visit https://aka.ms/acr/authorization for more information.","detail":[{"Type":"registry","Name":"catalog","Action":"*"}]}]}

        '
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
      www-authenticate: Bearer realm="https://seankane.azurecr.io/oauth2/token",service="seankane.azurecr.io",scope="registry:catalog:*"
    status:
      code: 401
      message: Unauthorized
    url: https://fake_url.azurecr.io/acr/v1/_catalog?n=2
- request:
    body:
      client_id: f850650c-1fcf-4489-b46f-71af2e30d360
      client_secret: s?=q2ZAdO=-Vn8ecVgo0Hv64-=4ril2t
      grant_type: client_credentials
      scope: https://management.core.windows.net/.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "REDACTED"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token
- request:
    body:
      access_token: REDACTED
      grant_type: access_token
      service: fake_url.azurecr.io
    headers:
    method: POST
    uri: https://seankane.azurecr.io/oauth2/exchange
  response:
    body:
      string: '{"refresh_token": "REDACTED"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second: '166.633333'
    status:
      code: 200
      message: OK
    url: https://fake_url.azurecr.io/oauth2/exchange
- request:
    body:
      grant_type: refresh_token
      refresh_token: REDACTED
      scope: registry:catalog:*
      service: fake_url.azurecr.io
    headers:
    method: POST
    uri: https://seankane.azurecr.io/oauth2/token
  response:
    body:
      string: '{"access_token": "REDACTED"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second: '166.15'
    status:
      code: 200
      message: OK
    url: https://fake_url.azurecr.io/oauth2/token
- request:
    body: null
    headers:
    method: GET
    uri: https://seankane.azurecr.io/acr/v1/_catalog?n=2
  response:
    body:
      string: '{"repositories": ["library/alpine", "library/busybox"]}'
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
      link: </acr/v1/_catalog?last=library%2Fbusybox&n=2&orderby=>; rel="next"
    status:
      code: 200
      message: OK
    url: https://fake_url.azurecr.io/acr/v1/_catalog?n=2
- request:
    body: null
    headers:
    method: GET
    uri: https://seankane.azurecr.io/acr/v1/_catalog?last=library/busybox&n=2&orderby=
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required,
        visit https://aka.ms/acr/authorization for more information.","detail":[{"Type":"registry","Name":"catalog","Action":"*"}]}]}

        '
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
      www-authenticate: Bearer realm="https://seankane.azurecr.io/oauth2/token",service="seankane.azurecr.io",scope="registry:catalog:*"
    status:
      code: 401
      message: Unauthorized
    url: https://fake_url.azurecr.io/acr/v1/_catalog?last=library/busybox&n=2&orderby=
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://seankane.azurecr.io/acr/v1/_catalog?last=repo27331535&n=2&orderby=
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required,
        visit https://aka.ms/acr/authorization for more information.","detail":[{"Type":"registry","Name":"catalog","Action":"*"}]}]}

        '
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
      www-authenticate: Bearer realm="https://seankane.azurecr.io/oauth2/token",service="seankane.azurecr.io",scope="registry:catalog:*"
    status:
      code: 401
      message: Unauthorized
    url: https://fake_url.azurecr.io/acr/v1/_catalog?last=repo27331535&n=2&orderby=
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://seankane.azurecr.io/acr/v1/_catalog?last=repoc7611808&n=2&orderby=
  response:
    body:
      string: '{"repositories": null}'
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
    status:
      code: 200
      message: OK
    url: https://fake_url.azurecr.io/acr/v1/_catalog?last=repoc7611808&n=2&orderby=
version: 1
