interactions:
- request:
    body: client_id=f850650c-1fcf-4489-b46f-71af2e30d360&grant_type=client_credentials&client_info=1&client_secret=s%3F%3Dq2ZAdO%3D-Vn8ecVgo0Hv64-%3D4ril2t&scope=https%3A%2F%2Fmanagement.azure.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 1|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.9.0
    method: POST
    uri: https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "REDACTED"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"source": {"registryUri": "registry.hub.docker.com", "sourceImage": "library/hello-world"},
      "targetTags": ["repoc7611808:tagc7611808"], "mode": "Force"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/rg-seankane/providers/Microsoft.ContainerRegistry/registries/seankane/importImage?api-version=2019-05-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/providers/Microsoft.ContainerRegistry/locations/WESTUS2/operationResults/registries-af87ba06-a83c-11eb-9950-002b67128e4c?api-version=2019-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/providers/Microsoft.ContainerRegistry/locations/WESTUS2/operationResults/registries-af87ba06-a83c-11eb-9950-002b67128e4c?api-version=2019-05-01
  response:
    body:
      string: '{"status": "Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://seankane.azurecr.io/acr/v1/repoc7611808/_manifests
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required,
        visit https://aka.ms/acr/authorization for more information.","detail":[{"Type":"repository","Name":"repoc7611808","Action":"metadata_read"}]}]}

        '
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
      www-authenticate: Bearer realm="https://seankane.azurecr.io/oauth2/token",service="seankane.azurecr.io",scope="repository:repoc7611808:metadata_read"
    status:
      code: 401
      message: Unauthorized
    url: https://fake_url.azurecr.io/acr/v1/repoc7611808/_manifests
- request:
    body:
      client_id: f850650c-1fcf-4489-b46f-71af2e30d360
      client_secret: s?=q2ZAdO=-Vn8ecVgo0Hv64-=4ril2t
      grant_type: client_credentials
      scope: https://management.core.windows.net/.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "REDACTED"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token
- request:
    body:
      access_token: REDACTED
      grant_type: access_token
      service: fake_url.azurecr.io
    headers:
    method: POST
    uri: https://seankane.azurecr.io/oauth2/exchange
  response:
    body:
      string: '{"refresh_token": "REDACTED"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second: '166'
    status:
      code: 200
      message: OK
    url: https://fake_url.azurecr.io/oauth2/exchange
- request:
    body:
      grant_type: refresh_token
      refresh_token: REDACTED
      scope: repository:repoc7611808:metadata_read
      service: fake_url.azurecr.io
    headers:
    method: POST
    uri: https://seankane.azurecr.io/oauth2/token
  response:
    body:
      string: '{"access_token": "REDACTED"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second: '165.75'
    status:
      code: 200
      message: OK
    url: https://fake_url.azurecr.io/oauth2/token
- request:
    body: null
    headers:
    method: GET
    uri: https://seankane.azurecr.io/acr/v1/repoc7611808/_manifests
  response:
    body:
      string: '{"registry": "seankane.azurecr.io", "imageName": "repoc7611808", "manifests":
        [{"digest": "sha256:1b26826f602946860c279fce658f31050cff2c596583af237d971f4629b57792",
        "imageSize": 525, "createdTime": "2021-04-28T16:13:39.7891562Z", "lastUpdateTime":
        "2021-04-28T16:13:39.7891562Z", "architecture": "amd64", "os": "linux", "mediaType":
        "application/vnd.docker.distribution.manifest.v2+json", "changeableAttributes":
        {"deleteEnabled": true, "writeEnabled": true, "readEnabled": true, "listEnabled":
        true, "quarantineState": "Passed"}}, {"digest": "sha256:50b8560ad574c779908da71f7ce370c0a2471c098d44d1c8f6b513c5a55eeeb1",
        "imageSize": 0, "createdTime": "2021-04-28T15:39:48.8335216Z", "lastUpdateTime":
        "2021-04-28T15:39:48.8335216Z", "architecture": "arm", "os": "linux", "mediaType":
        "application/vnd.docker.distribution.manifest.v2+json", "changeableAttributes":
        {"deleteEnabled": true, "writeEnabled": true, "readEnabled": true, "listEnabled":
        true, "quarantineState": "Passed"}}[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://seankane.azurecr.io/v2/repoc7611808/manifests/sha256:1b26826f602946860c279fce658f31050cff2c596583af237d971f4629b57792
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required,
        visit https://aka.ms/acr/authorization for more information.","detail":[{"Type":"repository","Name":"repoc7611808","Action":"delete"}]}]}

        '
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
      www-authenticate: Bearer realm="https://seankane.azurecr.io/oauth2/token",service="seankane.azurecr.io",scope="repository:repoc7611808:delete"
    status:
      code: 401
      message: Unauthorized
    url: https://fake_url.azurecr.io/v2/repoc7611808/manifests/sha256:1b26826f602946860c279fce658f31050cff2c596583af237d971f4629b57792
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://seankane.azurecr.io/acr/v1/repoc7611808/_manifests/sha256:1b26826f602946860c279fce658f31050cff2c596583af237d971f4629b57792
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required,
        visit https://aka.ms/acr/authorization for more information.","detail":[{"Type":"repository","Name":"repoc7611808","Action":"metadata_read"}]}]}

        '
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
      www-authenticate: Bearer realm="https://seankane.azurecr.io/oauth2/token",service="seankane.azurecr.io",scope="repository:repoc7611808:metadata_read"
    status:
      code: 401
      message: Unauthorized
    url: https://fake_url.azurecr.io/acr/v1/repoc7611808/_manifests/sha256:1b26826f602946860c279fce658f31050cff2c596583af237d971f4629b57792
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://seankane.azurecr.io/acr/v1/repoc7611808/_manifests/sha256:1b26826f602946860c279fce658f31050cff2c596583af237d971f4629b57792
  response:
    body:
      string: '{"errors": [{"code": "MANIFEST_UNKNOWN", "message": "manifest unknown"}]}'
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
    status:
      code: 404
      message: Not Found
    url: https://fake_url.azurecr.io/acr/v1/repoc7611808/_manifests/sha256:1b26826f602946860c279fce658f31050cff2c596583af237d971f4629b57792
version: 1
