interactions:
- request:
    body: '{"source": {"registryUri": "registry.hub.docker.com", "sourceImage": "library/hello-world"},
      "targetTags": ["repo9cb4121e:tag9cb4121e0", "repo9cb4121e:tag9cb4121e1", "repo9cb4121e:tag9cb4121e2",
      "repo9cb4121e:tag9cb4121e3"], "mode": "Force"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/fake_rg/providers/Microsoft.ContainerRegistry/registries/seankane/importImage?api-version=2019-05-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/providers/Microsoft.ContainerRegistry/locations/WESTUS2/operationResults/registries-ae8d1dc8-a839-11eb-986f-002b67128e4c?api-version=2019-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/providers/Microsoft.ContainerRegistry/locations/WESTUS2/operationResults/registries-ae8d1dc8-a839-11eb-986f-002b67128e4c?api-version=2019-05-01
  response:
    body:
      string: '{"status": "Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://fake_url.azurecr.io/acr/v1/repo9cb4121e/_tags/tag9cb4121e0
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required,
        visit https://aka.ms/acr/authorization for more information.","detail":[{"Type":"repository","Name":"repo9cb4121e","Action":"delete"}]}]}

        '
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
      www-authenticate: Bearer realm="https://seankane.azurecr.io/oauth2/token",service="seankane.azurecr.io",scope="repository:repo9cb4121e:delete"
    status:
      code: 401
      message: Unauthorized
    url: https://fake_url.azurecr.io/acr/v1/repo9cb4121e/_tags/tag9cb4121e0
- request:
    body:
      access_token: REDACTED
      grant_type: access_token
      service: fake_url.azurecr.io
    headers:
    method: POST
    uri: https://fake_url.azurecr.io/oauth2/exchange
  response:
    body:
      string: '{"refresh_token": "REDACTED"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second: '166.233333'
    status:
      code: 200
      message: OK
    url: https://fake_url.azurecr.io/oauth2/exchange
- request:
    body: null
    headers:
    method: DELETE
    uri: https://fake_url.azurecr.io/acr/v1/repo9cb4121e/_tags/tag9cb4121e0
  response:
    body:
      string: ''
    headers:
      docker-distribution-api-version: registry/2.0
      x-ms-int-docker-content-digest: sha256:f2266cbfc127c960fd30e76b7c792dc23b588c0db76233517e1891a4e357d519
      x-ms-ratelimit-remaining-calls-per-second: '8.000000'
    status:
      code: 202
      message: Accepted
    url: https://fake_url.azurecr.io/acr/v1/repo9cb4121e/_tags/tag9cb4121e0
- request:
    body: null
    headers:
    method: GET
    uri: https://fake_url.azurecr.io/acr/v1/repo9cb4121e/_tags
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required,
        visit https://aka.ms/acr/authorization for more information.","detail":[{"Type":"repository","Name":"repo9cb4121e","Action":"metadata_read"}]}]}

        '
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
      www-authenticate: Bearer realm="https://seankane.azurecr.io/oauth2/token",service="seankane.azurecr.io",scope="repository:repo9cb4121e:metadata_read"
    status:
      code: 401
      message: Unauthorized
    url: https://fake_url.azurecr.io/acr/v1/repo9cb4121e/_tags
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake_url.azurecr.io/acr/v1/repo9cb4121e/_tags
  response:
    body:
      string: '{"registry": "fake_url.azurecr.io", "imageName": "repo9cb4121e", "tags":
        [{"name": "tag9cb4121e1", "digest": "sha256:f2266cbfc127c960fd30e76b7c792dc23b588c0db76233517e1891a4e357d519",
        "createdTime": "2021-04-28T15:40:06.2665877Z", "lastUpdateTime": "2021-04-28T15:40:06.2665877Z",
        "signed": false, "changeableAttributes": {"deleteEnabled": true, "writeEnabled":
        true, "readEnabled": true, "listEnabled": true}}, {"name": "tag9cb4121e2",
        "digest": "sha256:f2266cbfc127c960fd30e76b7c792dc23b588c0db76233517e1891a4e357d519",
        "createdTime": "2021-04-28T15:40:05.5686367Z", "lastUpdateTime": "2021-04-28T15:40:05.5686367Z",
        "signed": false, "changeableAttributes": {"deleteEnabled": true, "writeEnabled":
        true, "readEnabled": true, "listEnabled": true}}, {"name": "tag9cb4121e3",
        "digest": "sha256:f2266cbfc127c960fd30e76b7c792dc23b588c0db76233517e1891a4e357d519",
        "createdTime": "2021-04-28T15:40:05.2533005Z", "lastUpdateTime": "2021-04-28T15:40:05.2533005Z",
        "signed": false, "changeableAttributes": {"deleteEnabled": true, "writeEnabled":
        true, "readEnabled": true, "listEnabled": true}}]}'
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
    status:
      code: 200
      message: OK
    url: https://fake_url.azurecr.io/acr/v1/repo9cb4121e/_tags
version: 1
