interactions:
- request:
    body: null
    headers:
    method: DELETE
    uri: https://seankane.azurecr.io/acr/v1/does_not_exist
  response:
    body:
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required,
        visit https://aka.ms/acr/authorization for more information.","detail":[{"Type":"repository","Name":"does_not_exist","Action":"delete"}]}]}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
      docker-distribution-api-version:
      - registry/2.0
      www-authenticate:
      - Bearer realm="https://seankane.azurecr.io/oauth2/token",service="seankane.azurecr.io",scope="repository:does_not_exist:delete"
    status:
      code: 401
      message: Unauthorized
- request:
    body: client_id=f850650c-1fcf-4489-b46f-71af2e30d360&grant_type=client_credentials&client_info=1&client_secret=s%3F%3Dq2ZAdO%3D-Vn8ecVgo0Hv64-%3D4ril2t&scope=https%3A%2F%2Fmanagement.core.windows.net%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 1|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.9.0
    method: POST
    uri: https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "REDACTED"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: grant_type=access_token&service=fake_url.azurecr.io&access_token=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://seankane.azurecr.io/oauth2/exchange
  response:
    body:
      string: '{"refresh_token": "REDACTED"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second:
      - '166.183333'
    status:
      code: 200
      message: OK
- request:
    body: grant_type=refresh_token&service=fake_url.azurecr.io&scope=repository%3Adoes_not_exist%3Adelete&refresh_token=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://seankane.azurecr.io/oauth2/token
  response:
    body:
      string: '{"access_token": "REDACTED"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second:
      - '165.95'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://seankane.azurecr.io/acr/v1/does_not_exist
  response:
    body:
      string: '{"errors": [{"code": "NAME_UNKNOWN", "message": "repository name not
        known to registry", "detail": {"name": "does_not_exist"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      docker-distribution-api-version:
      - registry/2.0
      x-ms-ratelimit-remaining-calls-per-second:
      - '8.000000'
    status:
      code: 404
      message: Not Found
version: 1
