interactions:
- request:
    body: '{"source": {"registryUri": "registry.hub.docker.com", "sourceImage": "library/hello-world"},
      "targetTags": ["repo8b5a11da:tag8b5a11da0", "repo8b5a11da:tag8b5a11da1", "repo8b5a11da:tag8b5a11da2",
      "repo8b5a11da:tag8b5a11da3"], "mode": "Force"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/rg-seankane/providers/Microsoft.ContainerRegistry/registries/seankane/importImage?api-version=2019-05-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/providers/Microsoft.ContainerRegistry/locations/WESTUS2/operationResults/registries-4bf7d6fc-a84c-11eb-a33f-002b67128e4c?api-version=2019-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/providers/Microsoft.ContainerRegistry/locations/WESTUS2/operationResults/registries-4bf7d6fc-a84c-11eb-a33f-002b67128e4c?api-version=2019-05-01
  response:
    body:
      string: '{"status": "Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fake_url.azurecr.io/acr/v1/repo8b5a11da/_manifests
  response:
    body:
      string: '{"errors": [{"code": "UNAUTHORIZED", "message": "authentication required,
        visit https://aka.ms/acr/authorization for more information.", "detail": [{"Type":
        "repository", "Name": "repo8b5a11da", "Action": "metadata_read"}]}]}'
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
      www-authenticate: Bearer realm="https://fake_url.azurecr.io/oauth2/token",service="fake_url.azurecr.io",scope="fake_scope",error="invalid_token"
    status:
      code: 401
      message: Unauthorized
    url: https://fake_url.azurecr.io/acr/v1/repo8b5a11da/_manifests
- request:
    body:
      access_token: REDACTED
      grant_type: access_token
      service: fake_url.azurecr.io
    headers:
    method: POST
    uri: https://fake_url.azurecr.io/oauth2/exchange
  response:
    body:
      string: '{"refresh_token": "REDACTED"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second: '165.666667'
    status:
      code: 200
      message: OK
    url: https://fake_url.azurecr.io/oauth2/exchange
- request:
    body:
      grant_type: refresh_token
      refresh_token: REDACTED
      scope: repository:repo8b5a11da:metadata_read
      service: fake_url.azurecr.io
    headers:
    method: POST
    uri: https://fake_url.azurecr.io/oauth2/token
  response:
    body:
      string: '{"access_token": "REDACTED"}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-calls-per-second: '165.65'
    status:
      code: 200
      message: OK
    url: https://fake_url.azurecr.io/oauth2/token
- request:
    body: null
    headers:
    method: GET
    uri: https://fake_url.azurecr.io/acr/v1/repo8b5a11da/_manifests
  response:
    body:
      string: '{"registry": "fake_url.azurecr.io", "imageName": "repo8b5a11da", "manifests":
        [{"digest": "sha256:1b26826f602946860c279fce658f31050cff2c596583af237d971f4629b57792",
        "imageSize": 0, "createdTime": "2021-04-28T15:40:53.2285659Z", "lastUpdateTime":
        "2021-04-28T15:40:53.2285659Z", "architecture": "amd64", "os": "linux", "mediaType":
        "application/vnd.docker.distribution.manifest.v2+json", "changeableAttributes":
        {"deleteEnabled": true, "writeEnabled": true, "readEnabled": true, "listEnabled":
        true, "quarantineState": "Passed"}}, {"digest": "sha256:50b8560ad574c779908da71f7ce370c0a2471c098d44d1c8f6b513c5a55eeeb1",
        "imageSize": 0, "createdTime": "2021-04-28T15:40:53.4675747Z", "lastUpdateTime":
        "2021-04-28T15:40:53.4675747Z", "architecture": "arm", "os": "linux", "mediaType":
        "application/vnd.docker.distribution.manifest.v2+json", "changeableAttributes":
        {"deleteEnabled": true, "writeEnabled": true, "readEnabled": true, "listEnabled":
        true, "quarantineState": "Passed"}}[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake_url.azurecr.io/acr/v1/repo8b5a11da/_tags
  response:
    body:
      string: '{"errors": [{"code": "UNAUTHORIZED", "message": "authentication required,
        visit https://aka.ms/acr/authorization for more information.", "detail": [{"Type":
        "repository", "Name": "repo8b5a11da", "Action": "metadata_read"}]}]}'
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
      www-authenticate: Bearer realm="https://fake_url.azurecr.io/oauth2/token",service="fake_url.azurecr.io",scope="fake_scope",error="invalid_token"
    status:
      code: 401
      message: Unauthorized
    url: https://fake_url.azurecr.io/acr/v1/repo8b5a11da/_tags
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake_url.azurecr.io/acr/v1/repo8b5a11da/_tags
  response:
    body:
      string: '{"registry": "fake_url.azurecr.io", "imageName": "repo8b5a11da", "tags":
        [{"name": "tag8b5a11da0", "digest": "sha256:f2266cbfc127c960fd30e76b7c792dc23b588c0db76233517e1891a4e357d519",
        "createdTime": "2021-04-28T15:40:55.5579596Z", "lastUpdateTime": "2021-04-28T15:40:55.5579596Z",
        "signed": false, "changeableAttributes": {"deleteEnabled": true, "writeEnabled":
        true, "readEnabled": true, "listEnabled": true}}, {"name": "tag8b5a11da1",
        "digest": "sha256:f2266cbfc127c960fd30e76b7c792dc23b588c0db76233517e1891a4e357d519",
        "createdTime": "2021-04-28T15:40:53.3089855Z", "lastUpdateTime": "2021-04-28T15:40:53.3089855Z",
        "signed": false, "changeableAttributes": {"deleteEnabled": true, "writeEnabled":
        true, "readEnabled": true, "listEnabled": true}}, {"name": "tag8b5a11da2",
        "digest": "sha256:f2266cbfc127c960fd30e76b7c792dc23b588c0db76233517e1891a4e357d519",
        "createdTime": "2021-04-28T15:40:53.4155166Z", "lastUpdateTime": "2021-04-28T15:40:53.4155166Z",
        "signed": false, "changeableAttributes": {"deleteEnabled": true, "writeEnabled":
        true, "readEnabled": true, "listEnabled": true}}, {"name": "tag8b5a11da3",
        "digest": "sha256:f2266cbfc127c960fd30e76b7c792dc23b588c0db76233517e1891a4e357d519",
        "createdTime": "2021-04-28T15:40:53.572585Z", "lastUpdateTime": "2021-04-28T15:40:53.572585Z",
        "signed": false, "changeableAttributes": {"deleteEnabled": true, "writeEnabled":
        true, "readEnabled": true, "listEnabled": true}}]}'
    headers:
      content-type: application/json; charset=utf-8
      docker-distribution-api-version: registry/2.0
    status:
      code: 200
      message: OK
    url: https://fake_url.azurecr.io/acr/v1/repo8b5a11da/_tags
version: 1
