interactions:
- request:
    body: '{"location": "East US 2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeStore/accounts/pyarmadls232e3152c?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"d1c20746-3808-42e3-95b1-b476a76389ad"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeStore/accounts/pyarmadls232e3152c","name":"pyarmadls232e3152c","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/d1c20746-3808-42e3-95b1-b476a76389ad0?api-version=2016-11-01&expanded=true']
      content-type: [application/json]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeStore/accounts/pyarmadls232e3152c/operationresults/0?api-version=2016-11-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/d1c20746-3808-42e3-95b1-b476a76389ad0?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeStore/accounts/pyarmadls232e3152c?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallAllowDataLakeAnalytics":"Disabled","firewallRules":[],"virtualNetworkRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"encryptionState":"Enabled","encryptionConfig":{"type":"ServiceManaged"},"currentTier":"Consumption","newTier":"Consumption","dataLakePerformanceTierState":"Disabled","provisioningState":"Succeeded","state":"Active","endpoint":"pyarmadls232e3152c.azuredatalakestore.net","accountId":"d1c20746-3808-42e3-95b1-b476a76389ad","creationTime":"2018-06-20T11:43:20.5147524Z","lastModifiedTime":"2018-06-20T11:43:20.5147524Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeStore/accounts/pyarmadls232e3152c","name":"pyarmadls232e3152c","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"queryStoreRetention": 30, "maxDegreeOfParallelism":
      30, "maxJobCount": 3, "defaultDataLakeStoreAccount": "pyarmadls232e3152c", "dataLakeStoreAccounts":
      [{"name": "pyarmadls232e3152c"}]}, "location": "East US 2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla232e3152c?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"defaultDataLakeStoreAccount":"pyarmadls232e3152c","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"pyarmadls232e3152c"}],"maxDegreeOfParallelism":30,"maxJobCount":3,"queryStoreRetention":30,"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"a93ee47d-f42b-48d9-a80f-58c3947815fc"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla232e3152c","name":"pyarmadla232e3152c","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/a93ee47d-f42b-48d9-a80f-58c3947815fc0?api-version=2016-11-01&expanded=true']
      content-type: [application/json]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla232e3152c/operationresults/0?api-version=2016-11-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/a93ee47d-f42b-48d9-a80f-58c3947815fc0?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla232e3152c?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallRules":[],"virtualNetworkRules":[],"debugDataAccessLevel":"All","defaultDataLakeStoreAccount":"pyarmadls232e3152c","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"pyarmadls232e3152c"}],"publicDataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"adltrainingsampledata"},{"properties":{"suffix":"azuredatalakestore.net"},"name":"ghinsights"}],"storageAccounts":[],"maxDegreeOfParallelism":30,"maxJobCount":3,"systemMaxDegreeOfParallelism":100,"systemMaxJobCount":20,"maxDegreeOfParallelismPerJob":30,"minPriorityPerJob":1,"computePolicies":[],"queryStoreRetention":30,"hiveMetastores":[],"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"pyarmadla232e3152c.azuredatalakeanalytics.net","accountId":"a93ee47d-f42b-48d9-a80f-58c3947815fc","creationTime":"2018-06-20T11:44:05.8827671Z","lastModifiedTime":"2018-06-20T11:44:05.8827671Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla232e3152c","name":"pyarmadla232e3152c","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"type": "USql", "degreeOfParallelism": 2, "name": "testjob32e3152c",
      "properties": {"type": "USql", "script": "DROP DATABASE IF EXISTS adladb32e3152c;
      CREATE DATABASE adladb32e3152c; \nCREATE TABLE adladb32e3152c.dbo.adlatable32e3152c\n(\n        //Define
      schema of table\n        UserId          int, \n        Start           DateTime,
      \n        Region          string, \n        Query           string, \n        Duration        int,
      \n        Urls            string, \n        ClickedUrls     string,\n    INDEX
      idx1 \n    CLUSTERED (Region ASC) \n    PARTITIONED BY (UserId)[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/jobs/00000000-0000-0000-0000-000000000000?api-version=2017-09-01-preview
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"testjob32e3152c","type":"USql","submitter":"AdlSdkTestApp01@SPI","degreeOfParallelism":2,"priority":1000,"submitTime":"2018-06-20T11:46:48.7901643+00:00","state":"Compiling","result":"None","stateAuditRecords":[{"newState":"New","timeStamp":"2018-06-20T11:46:48.7901643+00:00","details":"userName:;submitMachine:N/A"}],"properties":{"owner":"AdlSdkTestApp01@SPI","resources":[{"name":"Profile","resourcePath":"adl://pyarmadls232e3152c.azuredatalakestore.net/system/jobservice/jobs/Usql/2018/06/20/11/46/00000000-0000-0000-0000-000000000000/profile","type":"StatisticsResource"},{"name":"__ScopeRuntimeStatistics__.xml","resourcePath":"adl://pyarmadls232e3152c.azuredatalakestore.net/system/jobservice/jobs/Usql/2018/06/20/11/46/00000000-0000-0000-0000-000000000000/__ScopeRuntimeStatistics__.xml","type":"StatisticsResource"}],"runtimeVersion":"default","rootProcessNodeId":"00000000-0000-0000-0000-000000000000","script":"DROP
        DATABASE IF EXISTS adladb32e3152c; CREATE DATABASE adladb32e3152c; \nCREATE
        TABLE adladb32e3152c.dbo.adlatable32e3152c\n(\n        //Define schema of
        table\n        UserId          int, \n        Start           DateTime, \n        Region          string,
        \n        Query           string, \n        Duration        int, \n        Urls            string,
        \n        ClickedUrls     string,\n    INDEX idx1 \[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/jobs/00000000-0000-0000-0000-000000000000?api-version=2017-09-01-preview
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"testjob32e3152c","type":"USql","submitter":"AdlSdkTestApp01@SPI","degreeOfParallelism":2,"priority":1000,"submitTime":"2018-06-20T11:46:48.7901643+00:00","startTime":"2018-06-20T11:47:16.8842753+00:00","state":"Running","result":"None","stateAuditRecords":[{"newState":"New","timeStamp":"2018-06-20T11:46:48.7901643+00:00","details":"userName:;submitMachine:N/A"},{"newState":"Compiling","timeStamp":"2018-06-20T11:46:50.6964382+00:00","details":"Compilation:1b38b826-aa4e-4825-8649-3da0aff66af0;Status:Dispatched"},{"newState":"Queued","timeStamp":"2018-06-20T11:47:11.5717218+00:00"},{"newState":"Scheduling","timeStamp":"2018-06-20T11:47:11.5873508+00:00","detail[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/jobs/00000000-0000-0000-0000-000000000000?api-version=2017-09-01-preview
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"testjob32e3152c","type":"USql","submitter":"AdlSdkTestApp01@SPI","degreeOfParallelism":2,"priority":1000,"submitTime":"2018-06-20T11:46:48.7901643+00:00","startTime":"2018-06-20T11:47:16.8842753+00:00","endTime":"2018-06-20T11:48:37.8696144+00:00","state":"Ended","result":"Succeeded","stateAuditRecords":[{"newState":"New","timeStamp":"2018-06-20T11:46:48.7901643+00:00","details":"userName:;submitMachine:N/A"},{"newState":"Compiling","timeStamp":"2018-06-20T11:46:50.6964382+00:00","details":"Compilation:1b38b826-aa4e-4825-8649-3da0aff66af0;Status:Dispatched"},{"newState":"Queued","timeStamp":"2018-06-20T11:47:11.5717218+00:00"},{"newState":"Scheduling","timeStamp":"2018-06-20T11:47:11.5873508+00:00","det[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#databases\",\"value\":[\r\n
        \   {\r\n      \"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\",\"version\":\"ce12fa11-624b-4634-9755-6f931b824d90\"\r\n
        \   },{\r\n      \"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"master\",\"version\":\"29b127d0-cb0c-4706-9411-79f3b55617cf\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#databases/$entity\",\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\",\"version\":\"ce12fa11-624b-4634-9755-6f931b824d90\"\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tables?api-version=2016-11-01&basic=false
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tables\",\"value\":[\r\n
        \   {\r\n      \"tableName\":\"adlatable32e3152c\",\"columnList\":[\r\n        {\r\n
        \         \"name\":\"UserId\",\"type\":\"System.Int32\"\r\n        },{\r\n
        \         \"name\":\"Start\",\"type\":\"System.DateTime\"\r\n        },{\r\n
        \         \"name\":\"Region\",\"type\":\"System.String\"\r\n        },{\r\n
        \         \"name\":\"Query\",\"type\":\"System.String\"\r\n        },{\r\n
        \         \"name\":\"Duration\",\"type\":\"System.Int32\"\r\n        },{\r\n
        \         \"name\":\"Urls\",\"type\":\"System.String\"\r\n        },{\r\n
        \         \"name\":\"ClickedUrls\",\"type\":\"System.String\"\r\n        }\r\n
        \     ],\"indexList\":[\r\n        {\r\n          \"name\":\"idx1\",\"indexKeys\":[\r\n
        \           {\r\n              \"name\":\"Region\",\"descending\":false\r\n
        \           }\r\n          ],\"columns\":[\r\n            \"Region\",\"UserId\"\r\n
        \         ],\"distributionInfo\":{\r\n            \"type\":2,\"keys\":[\r\n
        \             {\r\n                \"name\":\"Region\",\"descending\":false\r\n
        \             }\r\n            ],\"count\":0,\"dynamicCount\":0\r\n          },\"partitionFunction\":\"9365a145-fc40-48d9-8446-8ac128e228f1\",\"partitionKeyList\":[\r\n
        \           \"UserId\"\r\n          ],\"isColumnstore\":false,\"indexId\":1,\"isUnique\":false\r\n
        \       }\r\n      ],\"partitionKeyList\":[\r\n        \r\n      ],\"externalTable\":null,\"distributionInfo\":null,\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"createTime\":\"2018-06-20T11:48:23.04-07:00\",\"updateTime\":\"2018-06-20T11:48:23.04-07:00\",\"version\":\"fddfcc8b-d6ae-425c-9154-6b68aa83b54b\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tables?api-version=2016-11-01&basic=true
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tables\",\"value\":[\r\n
        \   {\r\n      \"tableName\":\"adlatable32e3152c\",\"columnList\":[\r\n        \r\n
        \     ],\"indexList\":[\r\n        \r\n      ],\"partitionKeyList\":[\r\n
        \       \r\n      ],\"externalTable\":null,\"distributionInfo\":null,\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"createTime\":null,\"updateTime\":null,\"version\":\"fddfcc8b-d6ae-425c-9154-6b68aa83b54b\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/tables?api-version=2016-11-01&basic=false
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tables\",\"value\":[\r\n
        \   {\r\n      \"tableName\":\"adlatable32e3152c\",\"columnList\":[\r\n        {\r\n
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/tables?api-version=2016-11-01&basic=true
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tables\",\"value\":[\r\n
        \   {\r\n      \"tableName\":\"adlatable32e3152c\",\"columnList\":[\r\n        \r\n
        \     ],\"indexList\":[\r\n        \r\n      ],\"partitionKeyList\":[\r\n
        \       \r\n      ],\"externalTable\":null,\"distributionInfo\":null,\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"createTime\":null,\"updateTime\":null,\"version\":\"fddfcc8b-d6ae-425c-9154-6b68aa83b54b\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tables/adlatable32e3152c/previewrows?api-version=2016-11-01
  response:
    body: {string: '{"rowCount":2,"totalRowCount":2,"columnCount":7,"totalColumnCount":7,"schema":[{"columnName":"UserId","dataType":"System.Int32"},{"columnName":"Start","dataType":"System.DateTime"},{"columnName":"Region","dataType":"System.String"},{"columnName":"Query","dataType":"System.String"},{"columnName":"Duration","dataType":"System.Int32"},{"columnName":"Urls","dataType":"System.String"},{"columnName":"ClickedUrls","dataType":"System.String"}],"rows":[["1","4/26/2018
        12:00:00 AM","EN","fake query","23","http://url2.fake.com","http://clickedUrl2.fake.com"],["1","4/25/2018
        12:00:00 AM","US","fake query","34","http://url1.fake.com","http://clickedUrl1.fake.com"]],"truncated":false}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tables/adlatable32e3152c?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tables/$entity\",\"tableName\":\"adlatable32e3152c\",\"columnList\":[\r\n
        \   {\r\n      \"n[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tablevaluedfunctions?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions\",\"value\":[\r\n
        \   {\r\n      \"tvfName\":\"adlatvf32e3152c\",\"definition\":\"CREATE FUNCTION
        adladb32e3152c.dbo.adlatvf32e3152c()\\nRETURNS @result TABLE\\n(\\n    s_date
        DateTime,\\n    s_time string,\\n    s_sitename string,\\n    cs_method string,
        \\n    cs_uristem string,\\n    cs_uriquery string,\\n    s_port int,\\n    cs_username
        string, \\n    c_ip string,\\n    cs_useragent string,\\n    cs_cookie string,\\n
        \   cs_referer string, \\n    cs_host string,\\n    sc_status int,\\n    sc_substatus
        int,\\n    sc_win32s[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/tablevaluedfunctions?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions\",\"value\":[\r\n
        \   {\r\n      \"tvfName\":\"adlatvf32e3152c\",\"definition\":\"CREAT[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tablevaluedfunctions/adlatvf32e3152c?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions/$entity\",\"tvfName\":\"adlatvf32e3152c\",\"definition\":\"CREATE
 [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/views?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#views\",\"value\":[\r\n
        \   {\r\n      \"viewName\":\"adlaview32e3152c\",\"definition\":\"CREATE VIEW
        adladb32e3152c.dbo.adlaview32e3152c \\nAS \\n    SELECT * FROM \\n    (\\n
        \       VALUES(1,2),(2,4)\\n    ) \\nAS \\nT(a, b);\",\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"createTime\":\"2018-06-20T11:48:23.087-07:00\",\"updateTime\":\"2018-06-20T11:48:23.087-07:00\",\"version\":\"f09ddba9-d156-4f84-a604-f01cf74ace25\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/views?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#views\",\"value\":[\r\n
        \   {\r\n      \"viewName\":\"adlaview32e3152c\",\"definition\":\"CREATE VIEW
        adladb32e3152c.dbo.adlaview32e3152c \\nAS \\n    SELECT * FROM \\n    (\\n
        \       VALUES(1,2),(2,4)\\n    ) \\nAS \\nT(a, b);\",\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"createTime\":\"2018-06-20T11:48:23.087-07:00\",\"updateTime\":\"2018-06-20T11:48:23.087-07:00\",\"version\":\"f09ddba9-d156-4f84-a604-f01cf74ace25\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/views/adlaview32e3152c?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#views/$entity\",\"viewName\":\"adlaview32e3152c\",\"definition\":\"CREATE
        VIEW adladb32e3152c.dbo.adlaview32e3152c \\nAS \\n    SELECT * FROM \\n    (\\n
        \       VALUES(1,2),(2,4)\\n    ) \\nAS \\nT(a, b);\",\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"createTime\":\"2018-06-20T11:48:23.087-07:00\",\"updateTime\":\"2018-06-20T11:48:23.087-07:00\",\"version\":\"f09ddba9-d156-4f84-a604-f01cf74ace25\"\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/procedures?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#procedures\",\"value\":[\r\n
        \   {\r\n      \"procName\":\"adlaproc32e3152c\",\"definition\":\"CREATE PROCEDURE
        adladb32e3152c.dbo.adlaproc32e3152c()\\nAS BEGIN\\n  CREATE VIEW adladb32e3152c.dbo.adlaview32e3152c
        \\n  AS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    )
        \\n  AS \\n  T(a, b);\\nEND;\",\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"createTime\":null,\"updateTime\":null,\"version\":\"fac65969-492d-4e16-891a-cf3e5297eb1a\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/procedures/adlaproc32e3152c?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#procedures/$entity\",\"procName\":\"adlaproc32e3152c\",\"definition\":\"CREATE
        PROCEDURE adladb32e3152c.dbo.adlaproc32e3152c()\\nAS BEGIN\\n  CREATE VIEW
        adladb32e3152c.dbo.adlaview32e3152c \\n  AS \\n    SELECT * FROM \\n    (\\n
        \       VALUES(1,2),(2,4)\\n    ) \\n  AS \\n  T(a, b);\\nEND;\",\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"createTime\":null,\"updateTime\":null,\"version\":\"fac65969-492d-4e16-891a-cf3e5297eb1a\"\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tables/adlatable32e3152c/partitions?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#partitions\",\"value\":[\r\n
        \   {\r\n      \"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"partitionName\":\"adlatable32e3152c_Partition_92224e18-8aa9-4584-93b4-d7c2cdfdf347\",\"indexId\":1,\"label\":[\r\n
        \       \"1\"\r\n      ],\"createTime\":\"2018-06-20T11:48:23.057-07:00\",\"parentName\":{\r\n
        \       \"server\":\"a93ee47d-f42b-48d9-a80f-58c3947815fc\",\"firstPart\":\"adladb32e3152c\",\"secondPart\":\"dbo\",\"thirdPart\":\"adlatable32e3152c\",\"fourthPart\":null\r\n
        \     },\"version\":\"f8bfa059-e287-4292-810f-94209eb13b98\"\r\n    }\r\n
        \ ]\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tables/adlatable32e3152c/partitions/adlatable32e3152c_Partition_92224e18-8aa9-4584-93b4-d7c2cdfdf347?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#partitions/$entity\",\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"partitionName\":\"adlatable32e3152c_Partition_92224e18-8aa9-4584-93b4-d7c2cdfdf347\",\"indexId\":1,\"label\":[\r\n
        \   \"1\"\r\n  ],\"createTime\":\"2018-06-20T11:48:23.057-07:00\",\"parentName\":{\r\n
        \   \"server\":\"a93ee47d-f42b-48d9-a80f-58c3947815fc\",\"firstPart\":\"adladb32e3152c\",\"secondPart\":\"dbo\",\"thirdPart\":\"adlatable32e3152c\",\"fourthPart\":null\r\n
        \ },\"version\":\"f8bfa059-e287-4292-810f-94209eb13b98\"\r\n}"}
    headers:
      content-type: [application/json; odata.metadata=minimal]
      odata-version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
[...]
