interactions:
- request:
    body: '{"location": "North Central US", "tags": {}, "properties": {"clusterVersion":
      "3.6", "osType": "Linux", "tier": "Standard", "clusterDefinition": {"kind":
      "Spark", "configurations": {"gateway": {"restAuthCredential.isEnabled":
      "true", "restAuthCredential.username": "admin", "restAuthCredential.password":
      "Password1!"}}}, "computeProfile": {"roles": [{"name": "headnode", "targetInstanceCount":
      2, "hardwareProfile": {"vmSize": "Large"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}}, {"name": "workernode",
      "targetInstanceCount": 3, "hardwareProfile": {"vmSize": "Large"}, "osProfile":
      {"linuxOperatingSystemProfile": {"username": "sshuser", "password": "Password1!"}}},
      {"name": "zookeepernode", "targetInstanceCount": 3, "hardwareProfile": {"vmSize":
      "Small"}, "osProfile": {"linuxOperatingSystemProfile": {"username": "sshuser",
      "password": "Password1!"}}}]}, "storageProfile": {"storageaccounts": [{"name":
      "hdipy7dce1ed9.blob.core.windows.net", "isDefault": true, "container": "hdisdk-sparkcomponentversions7dce1ed9",
      "key": "o/AOPtEDgRxrLJMixGamaQsyPkqhIepYgltUEH5bDBmlM5A0MWGXFJkgubB54+6Pjyf06wuSSlcy2yyvY5zHZA=="}]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-7dce1ed9/providers/Microsoft.HDInsight/clusters/hdisdk-sparkcomponentversions7dce1ed9?api-version=2018-06-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-7dce1ed9/providers/Microsoft.HDInsight/clusters/hdisdk-sparkcomponentversions7dce1ed9","name":"hdisdk-sparkcomponentversions7dce1ed9","type":"Microsoft.HDInsight/clusters","location":"North
        Central US","etag":"7afa8272-c648-4169-ba26-21b5fba90531","tags":{},"properties":{"clusterVersion":"3.6.1000.67","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/spark-3.6.1000.67.1812120705.json","kind":"Spark","componentVersion":{"Spark":"2.3"}},"computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"Large"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"Large"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"zookeepernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"Medium"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2018-12-25T06:22:08.877","quotaInfo":{"coresUsed":20},"tier":"standard"}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-7dce1ed9/providers/Microsoft.HDInsight/clusters/hdisdk-sparkcomponentversions7dce1ed9/azureasyncoperations/create?api-version=2018-06-01-preview']
      content-type: [application/json; charset=utf-8]
      etag: ['"7afa8272-c648-4169-ba26-21b5fba90531"']
      x-ms-hdi-clusteruri: ['https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/hdipy-7dce1ed9/providers/Microsoft.HDInsight/clusters/hdisdk-sparkcomponentversions7dce1ed9?api-version=2018-06-01-preview']
      x-ms-hdi-matched-rule: [ClusterResourcesAndSubResources]
      x-ms-hdi-routed-to: [RegionalRp]
      x-ms-hdi-served-by: [northcentralus]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-7dce1ed9/providers/Microsoft.HDInsight/clusters/hdisdk-sparkcomponentversions7dce1ed9/azureasyncoperations/create?api-version=2018-06-01-preview
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-hdi-matched-rule: [ClusterResourcesAndSubResources]
      x-ms-hdi-routed-to: [RegionalRp]
      x-ms-hdi-served-by: [northcentralus]
    status: {code: 200, message: OK}
[...]
