interactions:
- request:
    body: 'b''{"location": "North Central US", "tags": {}, "properties": {"clusterVersion":
      "3.6", "osType": "Linux", "tier": "Standard", "clusterDefinition": {"kind":
      "hadoop", "configurations": {"gateway": {"restAuthCredential.isEnabled": "true",
      "restAuthCredential.username": "admin", "restAuthCredential.password": "Password1!"}}},
      "computeProfile": {"roles": [{"name": "headnode", "targetInstanceCount": 2,
      "hardwareProfile": {"vmSize": "Large"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}}, {"name": "workernode",
      "targetInstanceCount": 3, "hardwareProfile": {"vmSize": "Large"}, "osProfile":
      {"linuxOperatingSystemProfile": {"username": "sshuser", "password": "Password1!"}}},
      {"name": "zookeepernode", "targetInstanceCount": 3, "hardwareProfile": {"vmSize":
      "Small"}, "osProfile": {"linuxOperatingSystemProfile": {"username": "sshuser",
      "password": "Password1!"}}}]}, "storageProfile": {"storageaccounts": [{"name":
      "hdipy.blob.core.windows.net", "isDefault": true, "container": "hdisdk-clusterresize43531036",
      "key": "Z6adXIVVZ+0m52f0RWlx5xSud3LBiRRg24DVHj9OHwssBvQpOyrfA7QLyY+Qphxog77W58xgCDPmWhrYwcEhGw=="}]}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-43531036/providers/Microsoft.HDInsight/clusters/hdisdk-clusterresize43531036?api-version=2018-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-43531036/providers/Microsoft.HDInsight/clusters/hdisdk-clusterresize43531036","name":"hdisdk-clusterresize43531036","type":"Microsoft.HDInsight/clusters","location":"North
        Central US","etag":"1d2b3e30-8b43-4774-bbab-ddc2d195e0f9","tags":{},"properties":{"clusterVersion":"3.6.1000.67","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.2009301626.json","kind":"hadoop","componentVersion":{"hadoop":"2.7"}},"clusterId":"54929df3f9ae42c784f2c3363173496f","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_a4_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_a4_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"zookeepernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_a1_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2020-10-20T05:23:26.953","quotaInfo":{"coresUsed":20},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdipy.blob.core.windows.net","resourceId":null,"msiResourceId":null,"key":null,"fileSystem":null,"container":"hdisdk-clusterresize43531036","saskey":null,"isDefault":true,"fileshare":null}]},"excludedServicesConfig":{"excludedServicesConfigId":"default","excludedServicesList":""},"computeIsolationProperties":{"enableComputeIsolation":false,"hostSku":null}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-43531036/providers/Microsoft.HDInsight/clusters/hdisdk-clusterresize43531036/azureasyncoperations/create?api-version=2018-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1d2b3e30-8b43-4774-bbab-ddc2d195e0f9"'
      x-ms-hdi-clusteruri:
      - https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/hdipy-43531036/providers/Microsoft.HDInsight/clusters/hdisdk-clusterresize43531036?api-version=2018-06-01-preview
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-43531036/providers/Microsoft.HDInsight/clusters/hdisdk-clusterresize43531036/azureasyncoperations/create?api-version=2018-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"targetInstanceCount": 4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-43531036/providers/Microsoft.HDInsight/clusters/hdisdk-clusterresize43531036/roles/workernode/resize?api-version=2018-06-01-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-43531036/providers/Microsoft.HDInsight/clusters/hdisdk-clusterresize43531036/azureasyncoperations/a6eb14e3-a4ad-4765-8309-46c4cbcdca40-0-r?api-version=2018-06-01-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-43531036/providers/Microsoft.HDInsight/clusters/hdisdk-clusterresize43531036/operationresults/a6eb14e3-a4ad-4765-8309-46c4cbcdca40-0-r?api-version=2018-06-01-preview
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-43531036/providers/Microsoft.HDInsight/clusters/hdisdk-clusterresize43531036/azureasyncoperations/a6eb14e3-a4ad-4765-8309-46c4cbcdca40-0-r?api-version=2018-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
    status:
      code: 200
      message: OK
[...]
