interactions:
- request:
    body: '{"location": "North Central US", "tags": {}, "properties": {"clusterVersion":
      "3.6", "osType": "Linux", "tier": "Standard", "clusterDefinition": {"kind":
      "hadoop", "configurations": {"gateway": {"restAuthCredential.isEnabled": "true",
      "restAuthCredential.username": "admin", "restAuthCredential.password": "Password1!"}}},
      "computeProfile": {"roles": [{"name": "headnode", "targetInstanceCount": 2,
      "hardwareProfile": {"vmSize": "Large"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}}, {"name": "workernode",
      "targetInstanceCount": 3, "hardwareProfile": {"vmSize": "Large"}, "osProfile":
      {"linuxOperatingSystemProfile": {"username": "sshuser", "password": "Password1!"}}},
      {"name": "zookeepernode", "targetInstanceCount": 3, "hardwareProfile": {"vmSize":
      "Small"}, "osProfile": {"linuxOperatingSystemProfile": {"username": "sshuser",
      "password": "Password1!"}}}]}, "storageProfile": {"storageaccounts": [{"name":
      "hdipy.blob.core.windows.net", "isDefault": true, "container": "hdisdk-http64501105",
      "key": "PpAJHiBeeXdWTeYo3TVF7xllsLZy+1WmQCDRkm+mReWHAjwc2p+jcvH6rh8joQmrbLdTMi/ylrvYGIsgrLLGKg=="}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-64501105/providers/Microsoft.HDInsight/clusters/hdisdk-http64501105?api-version=2018-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-64501105/providers/Microsoft.HDInsight/clusters/hdisdk-http64501105","name":"hdisdk-http64501105","type":"Microsoft.HDInsight/clusters","location":"North
        Central US","etag":"bc11a4b6-768b-4fcc-8285-44d94fe8fc08","tags":{},"properties":{"clusterVersion":"3.6.1000.67","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.2009301626.json","kind":"hadoop","componentVersion":{"hadoop":"2.7"}},"clusterId":"b284efa8d7474251aa07075889f8e506","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_a4_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_a4_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"zookeepernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_a1_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2020-10-28T05:34:11.53","quotaInfo":{"coresUsed":20},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdipy.blob.core.windows.net","resourceId":null,"msiResourceId":null,"key":null,"fileSystem":null,"container":"hdisdk-http64501105","saskey":null,"isDefault":true,"fileshare":null}]},"excludedServicesConfig":{"excludedServicesConfigId":"default","excludedServicesList":""},"computeIsolationProperties":{"enableComputeIsolation":false,"hostSku":null}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-64501105/providers/Microsoft.HDInsight/clusters/hdisdk-http64501105/azureasyncoperations/create?api-version=2018-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"bc11a4b6-768b-4fcc-8285-44d94fe8fc08"'
      x-ms-hdi-clusteruri:
      - https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/hdipy-64501105/providers/Microsoft.HDInsight/clusters/hdisdk-http64501105?api-version=2018-06-01-preview
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-64501105/providers/Microsoft.HDInsight/clusters/hdisdk-http64501105/azureasyncoperations/create?api-version=2018-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-64501105/providers/Microsoft.HDInsight/clusters/hdisdk-http64501105/getGatewaySettings?api-version=2018-06-01-preview
  response:
    body:
      string: '{"restAuthCredential.isEnabled":"true","restAuthCredential.username":"admin","restAuthCredential.password":"Password1!"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"restAuthCredential.isEnabled": true, "restAuthCredential.username": "admin",
      "restAuthCredential.password": "NewPassword1!"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-64501105/providers/Microsoft.HDInsight/clusters/hdisdk-http64501105/updateGatewaySettings?api-version=2018-06-01-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-64501105/providers/Microsoft.HDInsight/clusters/hdisdk-http64501105/azureasyncoperations/af6864c1-24e1-4e06-bc21-18a2f3258b56-0-r?api-version=2018-06-01-preview
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-64501105/providers/Microsoft.HDInsight/clusters/hdisdk-http64501105/operationresults/af6864c1-24e1-4e06-bc21-18a2f3258b56-0-r?api-version=2018-06-01-preview
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-64501105/providers/Microsoft.HDInsight/clusters/hdisdk-http64501105/azureasyncoperations/af6864c1-24e1-4e06-bc21-18a2f3258b56-0-r?api-version=2018-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-64501105/providers/Microsoft.HDInsight/clusters/hdisdk-http64501105/operationresults/af6864c1-24e1-4e06-bc21-18a2f3258b56-0-r?api-version=2018-06-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-64501105/providers/Microsoft.HDInsight/clusters/hdisdk-http64501105/getGatewaySettings?api-version=2018-06-01-preview
  response:
    body:
      string: '{"restAuthCredential.isEnabled":"true","restAuthCredential.username":"admin","restAuthCredential.password":"NewPassword1!"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
version: 1
