interactions:
- request:
    body: 'b''b\''{"location": "North Central US", "tags": {}, "properties": {"clusterVersion":
      "3.6", "osType": "Linux", "tier": "Standard", "clusterDefinition": {"kind":
      "hadoop", "configurations": {"gateway": {"restAuthCredential.isEnabled": "true",
      "restAuthCredential.username": "admin", "restAuthCredential.password": "Password1!"}}},
      "computeProfile": {"roles": [{"name": "headnode", "targetInstanceCount": 2,
      "hardwareProfile": {"vmSize": "Large"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}, "encryptDataDisks": false},
      {"name": "workernode", "targetInstanceCount": 3, "hardwareProfile": {"vmSize":
      "Large"}, "osProfile": {"linuxOperatingSystemProfile": {"username": "sshuser",
      "password": "Password1!"}}, "encryptDataDisks": false}, {"name": "zookeepernode",
      "targetInstanceCount": 3, "hardwareProfile": {"vmSize": "Small"}, "osProfile":
      {"linuxOperatingSystemProfile": {"username": "sshuser", "password": "Password1!"}},
      "encryptDataDisks": false}]}, "storageProfile": {"storageaccounts": [{"name":
      "hdipy.dfs.core.windows.net", "isDefault": true, "fileSystem": "hdisdk-adlgen2bcf612a0",
      "key": "L7nMoOL9YIhEOusk2k63krri/7U4itL6WmKZV10SYgVXX4YPOAAqt8h+9wslvXxQfAJ7Tqs/YQKxP4CFiKippw=="},
      {"name": "hdipy2.blob.core.windows.net", "isDefault": false, "container": "hdisdk-adlgen2bcf612a0",
      "key": "WxakCzUYzI8bbklTrEYiTPcZkp44amzEwo+9yJqoTzKrxf10iVaH1i/otDNFv3BuVyyW6MMG2in0+o/Ev5QAhg=="}]}}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-bcf612a0/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen2bcf612a0?api-version=2018-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-bcf612a0/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen2bcf612a0","name":"hdisdk-adlgen2bcf612a0","type":"Microsoft.HDInsight/clusters","location":"North
        Central US","etag":"d31756d3-8bce-4cd1-b91d-419da13394c5","tags":{},"properties":{"clusterVersion":"3.6.1000.67","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.2101301510.json","kind":"hadoop","componentVersion":{"hadoop":"2.7"}},"clusterId":"7c818316cb764508a1f02df99f1420b9","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_a4_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_a4_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"zookeepernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_a1_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2021-03-05T08:52:29.13","quotaInfo":{"coresUsed":20},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdipy.dfs.core.windows.net","resourceId":null,"msiResourceId":null,"key":null,"fileSystem":"hdisdk-adlgen2bcf612a0","container":null,"saskey":null,"isDefault":true,"fileshare":null},{"name":"hdipy2.blob.core.windows.net","resourceId":null,"msiResourceId":null,"key":null,"fileSystem":null,"container":"hdisdk-adlgen2bcf612a0","saskey":null,"isDefault":false,"fileshare":null}]},"excludedServicesConfig":{"excludedServicesConfigId":"default","excludedServicesList":""},"computeIsolationProperties":{"enableComputeIsolation":false,"hostSku":null}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-bcf612a0/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen2bcf612a0/azureasyncoperations/create?api-version=2018-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"d31756d3-8bce-4cd1-b91d-419da13394c5"'
      x-ms-hdi-clusteruri:
      - https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/hdipy-bcf612a0/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen2bcf612a0?api-version=2018-06-01-preview
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-bcf612a0/providers/Microsoft.HDInsight/clusters/hdisdk-adlgen2bcf612a0/azureasyncoperations/create?api-version=2018-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
    status:
      code: 200
      message: OK
[...]
