interactions:
- request:
    body: '{"location": "North Central US", "tags": {}, "properties": {"clusterVersion":
      "3.6", "osType": "Linux", "tier": "Standard", "clusterDefinition": {"kind":
      "hadoop", "configurations": {"gateway": {"restAuthCredential.isEnabled": "true",
      "restAuthCredential.username": "admin", "restAuthCredential.password": "Password1!"}}},
      "computeProfile": {"roles": [{"name": "headnode", "targetInstanceCount": 2,
      "hardwareProfile": {"vmSize": "Large"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}}, {"name": "workernode",
      "targetInstanceCount": 3, "hardwareProfile": {"vmSize": "Large"}, "osProfile":
      {"linuxOperatingSystemProfile": {"username": "sshuser", "password": "Password1!"}}},
      {"name": "zookeepernode", "targetInstanceCount": 3, "hardwareProfile": {"vmSize":
      "Small"}, "osProfile": {"linuxOperatingSystemProfile": {"username": "sshuser",
      "password": "Password1!"}}}]}, "storageProfile": {"storageaccounts": [{"name":
      "hdipy.blob.core.windows.net", "isDefault": true, "container": "hdisdk-humboldte4cb13d6",
      "key": "WRambx8G7Hpiwj0AF+yvO8v8jjM13+2u/RCRccrZdJb76oMFI5iWgR70UlMxW6/PRsyWH2loPKAMs1wFuGgVDg=="}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-e4cb13d6/providers/Microsoft.HDInsight/clusters/hdisdk-humboldte4cb13d6?api-version=2018-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-e4cb13d6/providers/Microsoft.HDInsight/clusters/hdisdk-humboldte4cb13d6","name":"hdisdk-humboldte4cb13d6","type":"Microsoft.HDInsight/clusters","location":"North
        Central US","etag":"19cff8a7-52bd-426f-aa46-26ca346bc91b","tags":{},"properties":{"clusterVersion":"3.6.1000.67","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.2012080609.json","kind":"hadoop","componentVersion":{"hadoop":"2.7"}},"clusterId":"b9ac51cbae9e441ea9dc5d93a73d46f6","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_a4_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_a4_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"zookeepernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_a1_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2020-12-18T06:15:20.71","quotaInfo":{"coresUsed":20},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdipy.blob.core.windows.net","resourceId":null,"msiResourceId":null,"key":null,"fileSystem":null,"container":"hdisdk-humboldte4cb13d6","saskey":null,"isDefault":true,"fileshare":null}]},"excludedServicesConfig":{"excludedServicesConfigId":"default","excludedServicesList":""},"computeIsolationProperties":{"enableComputeIsolation":false,"hostSku":null}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-e4cb13d6/providers/Microsoft.HDInsight/clusters/hdisdk-humboldte4cb13d6/azureasyncoperations/create?api-version=2018-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"19cff8a7-52bd-426f-aa46-26ca346bc91b"'
      x-ms-hdi-clusteruri:
      - https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/hdipy-e4cb13d6/providers/Microsoft.HDInsight/clusters/hdisdk-humboldte4cb13d6?api-version=2018-06-01-preview
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-e4cb13d6/providers/Microsoft.HDInsight/clusters/hdisdk-humboldte4cb13d6/azureasyncoperations/create?api-version=2018-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
    status:
      code: 200
      message: OK
[...]
