interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/North%20Central%20US/usages?api-version=2018-06-01-preview
  response:
    body:
      string: '{"value":[{"unit":"Count","currentValue":44,"limit":250,"name":{"value":"cores","localizedValue":"Cores"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-matched-rule:
      - SubscriptionManagementOperations
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
    status:
      code: 200
      message: OK
version: 1
