interactions:
- request:
    body: 'b''{"location": "North Central US", "tags": {}, "properties": {"clusterVersion":
      "3.6", "osType": "Linux", "tier": "Standard", "clusterDefinition": {"kind":
      "hadoop", "configurations": {"gateway": {"restAuthCredential.isEnabled": "true",
      "restAuthCredential.username": "admin", "restAuthCredential.password": "Password1!"}}},
      "computeProfile": {"roles": [{"name": "headnode", "targetInstanceCount": 2,
      "hardwareProfile": {"vmSize": "Large"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}}, {"name": "workernode",
      "targetInstanceCount": 3, "hardwareProfile": {"vmSize": "Large"}, "osProfile":
      {"linuxOperatingSystemProfile": {"username": "sshuser", "password": "Password1!"}}},
      {"name": "zookeepernode", "targetInstanceCount": 3, "hardwareProfile": {"vmSize":
      "Small"}, "osProfile": {"linuxOperatingSystemProfile": {"username": "sshuser",
      "password": "Password1!"}}}]}, "storageProfile": {"storageaccounts": [{"name":
      "hdipy.blob.core.windows.net", "isDefault": true, "container": "hdisdk-premium91811b62",
      "key": "a0xXYhU7mqjpwlfVeOWaq9vBI33oet7BB4KpPbkG7hmxwilPSrym6s17Ve4VnrILvfR/W2SNSFtlnbcPrA8HXQ=="}]}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-91811b62/providers/Microsoft.HDInsight/clusters/hdisdk-premium91811b62?api-version=2018-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-91811b62/providers/Microsoft.HDInsight/clusters/hdisdk-premium91811b62","name":"hdisdk-premium91811b62","type":"Microsoft.HDInsight/clusters","location":"North
        Central US","etag":"2ecd99c8-cac9-47ae-af87-1c430df675e4","tags":{},"properties":{"clusterVersion":"3.6.1000.67","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/hadoop-3.6.1000.67.2006100202.json","kind":"hadoop","componentVersion":{"hadoop":"2.7"}},"clusterId":"ce0752a471594fcb91ad65081025e477","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_a4_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_a4_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"zookeepernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_a2_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2020-07-20T10:38:03.12","quotaInfo":{"coresUsed":20},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdipy.blob.core.windows.net","resourceId":null,"msiResourceId":null,"key":null,"fileSystem":null,"container":"hdisdk-premium91811b62","saskey":null,"isDefault":true,"fileshare":null}]},"excludedServicesConfig":{"m_Item1":"default","m_Item2":""}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-91811b62/providers/Microsoft.HDInsight/clusters/hdisdk-premium91811b62/azureasyncoperations/create?api-version=2018-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2ecd99c8-cac9-47ae-af87-1c430df675e4"'
      x-ms-hdi-clusteruri:
      - https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/hdipy-91811b62/providers/Microsoft.HDInsight/clusters/hdisdk-premium91811b62?api-version=2018-06-01-preview
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdipy-91811b62/providers/Microsoft.HDInsight/clusters/hdisdk-premium91811b62/azureasyncoperations/create?api-version=2018-06-01-preview
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-matched-rule:
      - ClusterResourcesAndSubResources
      x-ms-hdi-routed-to:
      - RegionalRp
      x-ms-hdi-served-by:
      - northcentralus
    status:
      code: 200
      message: OK
[...]
