interactions:
- request:
    body: '{"location": "eastus", "properties": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_attestation_test_attestation76ba1178/providers/Microsoft.Attestation/attestationProviders/myprovider6?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_attestation_test_attestation76ba1178/providers/Microsoft.Attestation/attestationProviders/myprovider6","name":"myprovider6","type":"Microsoft.Attestation/attestationProviders","location":"eastus","tags":null,"properties":{"trustModel":"AAD","status":"Ready","attestUri":"https://myprovider6.eus.attest.azure.net"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://myprovider6.eus.attest.azure.net/
      x-ms-maa-service-version:
      - 1.10.01405.0001
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Attestation/operations?api-version=2020-10-01
  response:
    body:
      string: '{"value":[{"name":"Microsoft.Attestation/attestationProviders/attestation/read","display":{"provider":"Microsoft
        Azure Attestation","resource":"AzureAttestation","operation":"Gets the attestation
        service status.","description":"Gets the attestation service status."}},{"name":"Microsoft.Attestation/attestationProviders/attestation/write","display":{"provider":"Microsoft
        Azure Attestation","resource":"AzureAttestation","operation":"Adds attestation
        service.","description":"Adds attestation service."}},{"name":"Microsoft.Attestation/attestationProviders/attestation/delete","display":{"provider":"Microsoft
        Azure Attestation","resource":"AzureAttestation","operation":"Removes attestation
        ser[...]
- request:
    body: '{"tags": {"property1": "Value1", "property2": "Value2", "property3": "Value3"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_attestation_test_attestation76ba1178/providers/Microsoft.Attestation/attestationProviders/myprovider6?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_attestation_test_attestation76ba1178/providers/Microsoft.Attestation/attestationProviders/myprovider6","name":"myprovider6","type":"Microsoft.Attestation/attestationProviders","location":"eastus","tags":{"property1":"Value1","property2":"Value2","property3":"Value3"},"properties":{"trustModel":"AAD","status":"Ready","attestUri":"https://myprovider6.eus.attest.azure.net"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-maa-service-version:
      - 1.10.01405.0001
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_attestation_test_attestation76ba1178/providers/Microsoft.Attestation/attestationProviders/myprovider6?api-version=2020-10-01
  response:
    body:
      string: ''
    headers:
      x-ms-maa-service-version:
      - 1.10.01405.0001
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
