interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"containers": [{"name": "my-container", "properties": {"image": "nginx", "command":
      [], "ports": [{"port": 80}], "environmentVariables": [], "resources": {"requests":
      {"memoryInGB": 1.5, "cpu": 1.0, "gpu": {"count": 1, "sku": "K80"}}}, "volumeMounts":
      [{"name": "empty-volume", "mountPath": "/mnt/mydir"}]}}], "restartPolicy": "OnFailure",
      "osType": "Linux", "volumes": [{"name": "empty-volume", "emptyDir": {}}], "diagnostics":
      {"logAnalytics": {"workspaceId": "workspaceid", "workspaceKey": "workspaceKey"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ContainerInstance/containerGroups/myContainerGroup?api-version=2020-11-01
  response:
    body:
      string: '{"properties":{"sku":"Standard","provisioningState":"Pending","containers":[{"name":"my-container","properties":{"image":"nginx","command":[],"ports":[{"port":80}],"environmentVariables":[],"resources":{"requests":{"memoryInGB":1.5,"cpu":1.0,"gpu":{"count":1,"sku":"K80"}}},"volumeMounts":[{"name":"empty-volume","mountPath":"/mnt/mydir"}]}}],"initContainers":[],"restartPolicy":"OnFailure","osType":"Linux","volumes":[{"name":"empty-volume","emptyDir":{}}],"instanceView":{"events":[],"state":"Pending"},"diagnostics":{"logAnalytics":{"workspaceId":"workspaceid"}}},"identity":{"principalId":"afb9f155-d30c-4404-a0e4-d987afd64268","tenantId":"00000000-0000-0000-0000-000000000000","type":"SystemAssigned"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ContainerInstance/containerGroups/myContainerGroup","name":"myContainerGroup","type":"Microsoft.ContainerInstance/containerGroups","location":"eastus"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/eastus/operations/46080482-bcac-4e28-8114-8cb9421c4893?api-version=2018-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests-pt1h:
      - '299'
      x-ms-ratelimit-remaining-subscription-resource-requests-pt5m:
      - '99'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/eastus/operations/46080482-bcac-4e28-8114-8cb9421c4893?api-version=2018-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ContainerInstance/containerGroups/myContainerGroup","status":"Pending","startTime":"2021-03-15T09:17:08.2932601Z","properties":{"events":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/eastus/operations/46080482-bcac-4e28-8114-8cb9421c4893?api-version=2018-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ContainerInstance/containerGroups/myContainerGroup","status":"Succeeded","startTime":"2021-03-15T09:17:08.2932601Z","properties":{"events":[{"count":1,"firstTimestamp":"2021-03-15T09:26:25Z","lastTimestamp":"2021-03-15T09:26:25Z","name":"Pulling","message":"pulling
        image \"nginx\"","type":"Normal"},{"count":1,"firstTimestamp":"2021-03-15T09:26:33Z","lastTimestamp":"2021-03-15T09:26:33Z","name":"Pulled","message":"Successfully
        pulled image \"nginx\"","type":"Normal"},{"count":1,"firstTimestamp":"2021-03-15T09:26:33Z","lastTimestamp":"2021-03-15T09:26:33Z","name":"Created","message":"Created
        container","type":"Normal"},{"count":1,"firstTimestamp":"2021-03-15T09:26:33Z","lastTimestamp":"2021-03-15T09:26:33Z","name":"Started","message":"Started
        container","type":"Normal"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ContainerInstance/containerGroups/myContainerGroup?api-version=2020-11-01
  response:
    body:
      string: '{"properties":{"sku":"Standard","provisioningState":"Succeeded","containers":[{"name":"my-container","properties":{"image":"nginx","command":[],"ports":[{"port":80}],"environmentVariables":[],"instanceView":{"restartCount":0,"currentState":{"state":"Running","startTime":"2021-03-15T09:26:33Z","detailStatus":""},"events":[{"count":1,"firstTimestamp":"2021-03-15T09:26:25Z","lastTimestamp":"2021-03-15T09:26:25Z","name":"Pulling","message":"pulling
        image \"nginx\"","type":"Normal"},{"count":1,"firstTimestamp":"2021-03-15T09:26:33Z","lastTimestamp":"2021-03-15T09:26:33Z","name":"Pulled","message":"Successfully
        pulled image \"nginx\"","type":"Normal"},{"count":1,"firstTimestamp":"2021-03-15T09:26:33Z","lastTimestamp":"2021-03-15T09:26:33Z","name":"Created","message":"Created
        conta[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ContainerInstance/containerGroups/myContainerGroup/containers/my-container/logs?api-version=2020-11-01&tail=10
  response:
    body:
      string: '{"content":"/docker-entrypoint.sh: /docker-entrypoint.d/ is not empty,
        will attempt to perform configuration\n/docker-entrypoint.sh: Looking for
        shell scripts in /docker-entrypoint.d/\n/docker-entrypoint.sh: Launching /docker-entrypoint.d/10-listen-on-ipv6-by-default.sh\n10-listen-on-ipv6-by-default.sh:
        info: Getting the checksum of /etc/nginx/conf.d/default.conf\n10-listen-on-ipv6-by-default.sh:
        info: Enabled listen on IPv6 in /etc/nginx/conf.d/default.conf\n/docker-entrypoint.sh:
        Launching /docker-entrypoint.d/20-envsubst-on-templates.sh\n/docker-entrypoint.sh:
        Launching /docker-entrypoint.d/30-tune-worker-processes.sh\n/docker-entrypoint.sh:
        Configuration complete; ready for start up\n"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"command": "/bin/bash", "terminalSize": {"rows": 12, "cols": 12}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ContainerInstance/containerGroups/myContainerGroup/containers/my-container/exec?api-version=2020-11-01
  response:
    body:
      string: '{"webSocketUri":"wss://bridge-linux-79.eastus.management.azurecontainer.io/exec/caas-8292e1ace14c4323afa1f4801e9c0e97/bridge-f0db53bdaa6d8bfa?rows=12&cols=12&api-version=2018-02-01-preview","password":"QMshahaC3CpRFOOSy99Vx-Ay_VCQNyt47UN7Lnc7p-M[[EOM]]"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ContainerInstance/containerGroups/myContainerGroup/restart?api-version=2020-11-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/eastus/operations/d62c5a67-09f6-41d0-98db-4bf68bca25b7?api-version=2018-06-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ContainerInstance/containerGroups/myContainerGroup/start?api-version=2020-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ContainerInstance/containerGroups/myContainerGroup/stop?api-version=2020-11-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 204
      message: No Content
- request:
    body: '{"tags": {"tag1key": "tag1Value", "tag2key": "tag2Value"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ContainerInstance/containerGroups/myContainerGroup?api-version=2020-11-01
  response:
    body:
      string: '{"properties":{"sku":"Standard","provisioningState":"Succeeded","containers":[{"name":"my-container","properties":{"image":"nginx","command":[],"ports":[{"port":80}],[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ContainerInstance/containerGroups/myContainerGroup?api-version=2020-11-01
  response:
    body:
      string: '{"properties":{"sku":"Standard","provisioningState":"Succeeded","containers":[{"name":"my-container","properties":{"image":"nginx","command":[],"ports":[{"port":80}],"environmentVariables":[],"instanceView":{"restartCount":0,"currentState":{"state":"Terminated","finishTime":"2021-03-15T09:27:29.7223789Z","detailStatus":"Container
        stopped per client request"},"previousState":{"state":"Running","startTime":"2021-03-15T09:26:56Z","detailStatus":""},"events":[{"count":1,"firstTimestamp":"2021-03-15T09:26:25Z","lastTimestamp":"2021-03-15T09:26:25Z","name":"Pulling","message":"pulling
        image \"nginx\"","type":"Normal"},{"count":1,"firstTimestamp":"2021-03-15T09:26:33Z","lastTimestamp":"2021-03-15T09:26:33Z","name":"Pulled","message":"Successfully
        pulled image \"nginx\"","type":"Normal"},{"count":1,"firstTimestamp":"2021-03-15T09:26:33Z","lastTimestamp":"20[...]
