interactions:
- request:
    body: '{"location": "eastus", "identity": {"type": "SystemAssigned"}, "properties":
      {"containers": [{"name": "my-container", "properties": {"image": "nginx", "command":
      [], "ports": [{"port": 80}], "environmentVariables": [], "resources": {"requests":
      {"memoryInGB": 1.5, "cpu": 1.0, "gpu": {"count": 1, "sku": "K80"}}}, "volumeMounts":
      [{"name": "empty-volume", "mountPath": "/mnt/mydir"}]}}], "restartPolicy": "OnFailure",
      "osType": "Linux", "volumes": [{"name": "empty-volume", "emptyDir": {}}], "diagnostics":
      {"logAnalytics": {"workspaceId": "workspaceid", "workspaceKey": "workspaceKey"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.ContainerInstance/containerGroups/myContainerGroup?api-version=2021-03-01
  response:
    body:
      string: '{"error":{"code":"NoRegisteredProviderFound","message":"No registered
        resource provider found for location ''eastus'' and API version ''2021-03-01''
        for type ''containerGroups''. The supported api-versions are ''2017-08-01-preview,
        2017-10-01-preview, 2017-12-01-preview, 2018-02-01-preview, 2018-04-01, 2018-06-01,
        2018-07-01, 2018-09-01, 2018-10-01, 2019-12-01, 2020-11-01''. The supported
        locations are ''westcentralus, westus, eastus, westeurope, westus2, northeurope,
        southeastasia, eastus2, centralus, australiaeast, uksouth, southcentralus,
        centralindia, brazilsouth, southindia, northcentralus, eastasia, canadacentral,
        japaneast, koreacentral, francecentral, switzerlandnorth, germanywestcentral,
        uaenorth''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 400
      message: Bad Request
version: 1
