{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/Example-ner-project/exported-models/exportedModel?api-version=2025-05-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "trainedModelLabel": "m1"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "fake_resource.servicebus.windows.net/language/authoring/analyze-text/projects/Example-ner-project/exported-models/exportedModel/jobs/2fc8143f-1885-478e-b70d-b75f02a23d16_638892576000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/Example-ner-project/exported-models/exportedModel/jobs/2fc8143f-1885-478e-b70d-b75f02a23d16_638892576000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "2fc8143f-1885-478e-b70d-b75f02a23d16_638892576000000000",
        "createdDateTime": "2025-07-28T22:24:59Z",
        "lastUpdatedDateTime": "2025-07-28T22:24:59Z",
        "expirationDateTime": "2025-08-04T22:24:59Z",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/Example-ner-project/exported-models/exportedModel?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "exportedModelName": "exportedModel",
        "modelId": "m1-20250528T060008-cfae88ebf2144aac900cd1191c6eb50a",
        "lastTrainedDateTime": "2025-05-28T06:00:08.2776456Z",
        "lastExportedModelDateTime": "2025-07-28T22:25:01Z",
        "modelExpirationDate": "2025-11-15",
        "modelTrainingConfigVersion": "2024-11-01"
      }
    }
  ],
  "Variables": {}
}
