{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/analyze-documents/jobs?api-version=2026-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "displayName": "Document Analysis.",
        "analysisInput": {
          "documents": [
            {
              "language": "en",
              "id": "Sanitized",
              "source": {
                "location": "https://fakeaccount.blob.core.windows.net/input/fake.docx"
              },
              "target": {
                "location": "https://fakeaccount.blob.core.windows.net/output"
              }
            }
          ]
        },
        "tasks": [
          {
            "kind": "PiiEntityRecognition",
            "parameters": {
              "redactionPolicies": [
                {
                  "policyName": "defaultPolicy",
                  "policyKind": "EntityMask",
                  "isDefault": true
                }
              ]
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fake_analyzedocuments_endpoint.comlanguage/analyze-documents/jobs/f2304f33-591f-4321-991f-29214c22acc6?api-version=2026-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/analyze-documents/jobs/f2304f33-591f-4321-991f-29214c22acc6:cancel?api-version=2026-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fake_analyzedocuments_endpoint.comlanguage/analyze-documents/jobs/f2304f33-591f-4321-991f-29214c22acc6?api-version=2026-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/analyze-documents/jobs/f2304f33-591f-4321-991f-29214c22acc6?api-version=2026-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "f2304f33-591f-4321-991f-29214c22acc6",
        "lastUpdatedDateTime": "2026-05-28T23:47:06Z",
        "createdDateTime": "2026-05-28T23:47:06Z",
        "expirationDateTime": "2026-05-29T23:47:06Z",
        "status": "cancelled",
        "errors": [],
        "displayName": "Document Analysis.",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "PiiEntityRecognitionLROResults",
              "lastUpdateDateTime": "2026-05-28T23:47:06.6773779Z",
              "status": "cancelled",
              "results": {
                "documents": [],
                "errors": [],
                "modelVersion": ""
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
