# pylint: disable=line-too-long,useless-suppression
# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from collections.abc import MutableMapping
from io import IOBase
from typing import Any, Callable, IO, Iterator, Optional, TypeVar, Union, cast, overload

from azure.core import PipelineClient
from azure.core.exceptions import (
    ClientAuthenticationError,
    HttpResponseError,
    ResourceExistsError,
    ResourceNotFoundError,
    ResourceNotModifiedError,
    StreamClosedError,
    StreamConsumedError,
    map_error,
)
from azure.core.pipeline import PipelineResponse
from azure.core.polling import LROPoller, NoPolling, PollingMethod
from azure.core.rest import HttpRequest, HttpResponse
from azure.core.tracing.decorator import distributed_trace
from azure.core.utils import case_insensitive_dict
from azure.mgmt.core.exceptions import ARMErrorFormat
from azure.mgmt.core.polling.arm_polling import ARMPolling

from .. import models as _models
from .._configuration import MonitorManagementClientConfiguration
from .._utils.serialization import Serializer
from .._utils.utils import ClientMixinABC

T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, dict[str, Any]], Any]]
List = list

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_create_notifications_at_tenant_action_group_resource_level_request(  # pylint: disable=name-too-long
    management_group_id: str, tenant_action_group_name: str, *, x_ms_client_tenant_id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-05-01-preview"))
    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop(
        "template_url",
        "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Insights/tenantActionGroups/{tenantActionGroupName}/createNotifications",
    )
    path_format_arguments = {
        "managementGroupId": _SERIALIZER.url("management_group_id", management_group_id, "str"),
        "tenantActionGroupName": _SERIALIZER.url(
            "tenant_action_group_name",
            tenant_action_group_name,
            "str",
            max_length=260,
            min_length=1,
            pattern=r"^[A-Za-z][A-Za-z0-9]*$",
        ),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["x-ms-client-tenant-id"] = _SERIALIZER.header("x_ms_client_tenant_id", x_ms_client_tenant_id, "str")
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_get_test_notifications_at_tenant_action_group_resource_level_request(  # pylint: disable=name-too-long
    management_group_id: str,
    tenant_action_group_name: str,
    notification_id: str,
    *,
    x_ms_client_tenant_id: str,
    **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-05-01-preview"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = kwargs.pop(
        "template_url",
        "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Insights/tenantActionGroups/{tenantActionGroupName}/notificationStatus/{notificationId}",
    )
    path_format_arguments = {
        "managementGroupId": _SERIALIZER.url("management_group_id", management_group_id, "str"),
        "tenantActionGroupName": _SERIALIZER.url(
            "tenant_action_group_name",
            tenant_action_group_name,
            "str",
            max_length=260,
            min_length=1,
            pattern=r"^[A-Za-z][A-Za-z0-9]*$",
        ),
        "notificationId": _SERIALIZER.url("notification_id", notification_id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["x-ms-client-tenant-id"] = _SERIALIZER.header("x_ms_client_tenant_id", x_ms_client_tenant_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


class _MonitorManagementClientOperationsMixin(
    ClientMixinABC[PipelineClient[HttpRequest, HttpResponse], MonitorManagementClientConfiguration]
):

    def _create_notifications_at_tenant_action_group_resource_level_initial(  # pylint: disable=name-too-long
        self,
        management_group_id: str,
        tenant_action_group_name: str,
        x_ms_client_tenant_id: str,
        notification_request: Union[_models.TenantNotificationRequestBody, IO[bytes]],
        **kwargs: Any
    ) -> Iterator[bytes]:
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-05-01-preview"))
        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[Iterator[bytes]] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(notification_request, (IOBase, bytes)):
            _content = notification_request
        else:
            _json = self._serialize.body(notification_request, "TenantNotificationRequestBody")

        _request = build_create_notifications_at_tenant_action_group_resource_level_request(
            management_group_id=management_group_id,
            tenant_action_group_name=tenant_action_group_name,
            x_ms_client_tenant_id=x_ms_client_tenant_id,
            api_version=api_version,
            content_type=content_type,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _decompress = kwargs.pop("decompress", True)
        _stream = True
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200, 202]:
            try:
                response.read()  # Load the body in memory and close the socket
            except (StreamConsumedError, StreamClosedError):
                pass
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.ErrorResponseAutoGenerated2,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        response_headers = {}
        if response.status_code == 202:
            response_headers["location"] = self._deserialize("str", response.headers.get("location"))

        deserialized = response.stream_download(self._client._pipeline, decompress=_decompress)

        if cls:
            return cls(pipeline_response, deserialized, response_headers)  # type: ignore

        return deserialized  # type: ignore

    @overload
    def begin_create_notifications_at_tenant_action_group_resource_level(  # pylint: disable=name-too-long
        self,
        management_group_id: str,
        tenant_action_group_name: str,
        x_ms_client_tenant_id: str,
        notification_request: _models.TenantNotificationRequestBody,
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> LROPoller[_models.TestNotificationDetailsResponseAutoGenerated]:
        """Send test notifications to a set of provided receivers.

        :param management_group_id: The management group id. Required.
        :type management_group_id: str
        :param tenant_action_group_name: The name of the action group. Required.
        :type tenant_action_group_name: str
        :param x_ms_client_tenant_id: The tenant ID of the client making the request. Required.
        :type x_ms_client_tenant_id: str
        :param notification_request: The notification request body which includes the contact details.
         Required.
        :type notification_request: ~azure.mgmt.monitor.models.TenantNotificationRequestBody
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: An instance of LROPoller that returns either
         TestNotificationDetailsResponseAutoGenerated or the result of cls(response)
        :rtype:
         ~azure.core.polling.LROPoller[~azure.mgmt.monitor.models.TestNotificationDetailsResponseAutoGenerated]
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def begin_create_notifications_at_tenant_action_group_resource_level(  # pylint: disable=name-too-long
        self,
        management_group_id: str,
        tenant_action_group_name: str,
        x_ms_client_tenant_id: str,
        notification_request: IO[bytes],
        *,
        content_type: str = "application/json",
        **kwargs: Any
    ) -> LROPoller[_models.TestNotificationDetailsResponseAutoGenerated]:
        """Send test notifications to a set of provided receivers.

        :param management_group_id: The management group id. Required.
        :type management_group_id: str
        :param tenant_action_group_name: The name of the action group. Required.
        :type tenant_action_group_name: str
        :param x_ms_client_tenant_id: The tenant ID of the client making the request. Required.
        :type x_ms_client_tenant_id: str
        :param notification_request: The notification request body which includes the contact details.
         Required.
        :type notification_request: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: An instance of LROPoller that returns either
         TestNotificationDetailsResponseAutoGenerated or the result of cls(response)
        :rtype:
         ~azure.core.polling.LROPoller[~azure.mgmt.monitor.models.TestNotificationDetailsResponseAutoGenerated]
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def begin_create_notifications_at_tenant_action_group_resource_level(  # pylint: disable=name-too-long
        self,
        management_group_id: str,
        tenant_action_group_name: str,
        x_ms_client_tenant_id: str,
        notification_request: Union[_models.TenantNotificationRequestBody, IO[bytes]],
        **kwargs: Any
    ) -> LROPoller[_models.TestNotificationDetailsResponseAutoGenerated]:
        """Send test notifications to a set of provided receivers.

        :param management_group_id: The management group id. Required.
        :type management_group_id: str
        :param tenant_action_group_name: The name of the action group. Required.
        :type tenant_action_group_name: str
        :param x_ms_client_tenant_id: The tenant ID of the client making the request. Required.
        :type x_ms_client_tenant_id: str
        :param notification_request: The notification request body which includes the contact details.
         Is either a TenantNotificationRequestBody type or a IO[bytes] type. Required.
        :type notification_request: ~azure.mgmt.monitor.models.TenantNotificationRequestBody or
         IO[bytes]
        :return: An instance of LROPoller that returns either
         TestNotificationDetailsResponseAutoGenerated or the result of cls(response)
        :rtype:
         ~azure.core.polling.LROPoller[~azure.mgmt.monitor.models.TestNotificationDetailsResponseAutoGenerated]
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-05-01-preview"))
        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.TestNotificationDetailsResponseAutoGenerated] = kwargs.pop("cls", None)
        polling: Union[bool, PollingMethod] = kwargs.pop("polling", True)
        lro_delay = kwargs.pop("polling_interval", self._config.polling_interval)
        cont_token: Optional[str] = kwargs.pop("continuation_token", None)
        if cont_token is None:
            raw_result = self._create_notifications_at_tenant_action_group_resource_level_initial(
                management_group_id=management_group_id,
                tenant_action_group_name=tenant_action_group_name,
                x_ms_client_tenant_id=x_ms_client_tenant_id,
                notification_request=notification_request,
                api_version=api_version,
                content_type=content_type,
                cls=lambda x, y, z: x,
                headers=_headers,
                params=_params,
                **kwargs
            )
            raw_result.http_response.read()  # type: ignore
        kwargs.pop("error_map", None)

        def get_long_running_output(pipeline_response):
            deserialized = self._deserialize(
                "TestNotificationDetailsResponseAutoGenerated", pipeline_response.http_response
            )
            if cls:
                return cls(pipeline_response, deserialized, {})  # type: ignore
            return deserialized

        if polling is True:
            polling_method: PollingMethod = cast(
                PollingMethod, ARMPolling(lro_delay, lro_options={"final-state-via": "location"}, **kwargs)
            )
        elif polling is False:
            polling_method = cast(PollingMethod, NoPolling())
        else:
            polling_method = polling
        if cont_token:
            return LROPoller[_models.TestNotificationDetailsResponseAutoGenerated].from_continuation_token(
                polling_method=polling_method,
                continuation_token=cont_token,
                client=self._client,
                deserialization_callback=get_long_running_output,
            )
        return LROPoller[_models.TestNotificationDetailsResponseAutoGenerated](
            self._client, raw_result, get_long_running_output, polling_method  # type: ignore
        )

    @distributed_trace
    def get_test_notifications_at_tenant_action_group_resource_level(  # pylint: disable=name-too-long
        self,
        management_group_id: str,
        tenant_action_group_name: str,
        x_ms_client_tenant_id: str,
        notification_id: str,
        **kwargs: Any
    ) -> _models.TestNotificationDetailsResponseAutoGenerated:
        """Get the test notifications by the notification id.

        :param management_group_id: The management group id. Required.
        :type management_group_id: str
        :param tenant_action_group_name: The name of the action group. Required.
        :type tenant_action_group_name: str
        :param x_ms_client_tenant_id: The tenant ID of the client making the request. Required.
        :type x_ms_client_tenant_id: str
        :param notification_id: The notification id. Required.
        :type notification_id: str
        :return: TestNotificationDetailsResponseAutoGenerated or the result of cls(response)
        :rtype: ~azure.mgmt.monitor.models.TestNotificationDetailsResponseAutoGenerated
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

        api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-05-01-preview"))
        cls: ClsType[_models.TestNotificationDetailsResponseAutoGenerated] = kwargs.pop("cls", None)

        _request = build_get_test_notifications_at_tenant_action_group_resource_level_request(
            management_group_id=management_group_id,
            tenant_action_group_name=tenant_action_group_name,
            notification_id=notification_id,
            x_ms_client_tenant_id=x_ms_client_tenant_id,
            api_version=api_version,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.ErrorResponse,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize(
            "TestNotificationDetailsResponseAutoGenerated", pipeline_response.http_response
        )

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore
