interactions:
- request:
    body: '{"assignedRole": "Administrator"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://fake-confidential-ledger.azure.com/app/users/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa?api-version=0.1-preview
  response:
    body:
      string: '{"assignedRole":"Administrator","userId":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '6.3448'
    status:
      code: 200
      message: OK
- request:
    body: '{"contents": "message-0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0
  response:
    body:
      string: '{"subLedgerId":"0"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '6.3450'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=6.3450
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=6.3450\",\n
        \ \"state\": \"Loading\"\n}"
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '6.3674'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=6.3450
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=6.3551\",\n
        \ \"entries\": [\n    {\n      \"contents\": \"message-0\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"6.3450\"\n    },\n    {\n      \"contents\":
        \"message-5\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"6.3456\"\n
        \   },\n    {\n      \"contents\": \"message-10\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"6.3461\"\n    },\n    {\n      \"contents\":
        \"message-15\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"6.3467\"\n
        \   },\n    {\n      \"contents\": \"message-20\",\n      \"subLedgerId\":
        \"0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=4&fromTransactionId=6.3656
  response:
    body:
      string: "{\n  \"entries\": [\n    {\n      \"contents\": \"message-184\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"6.3656\"\n    },\n
        \   {\n      \"contents\": \"message-189\",\n      \"subLedgerId\": \"4\",\n
        \     \"transactionId\": \"6.3662\"\n    },\n    {\n      \"contents\": \"message-194\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"6.3668\"\n    },\n
        \   {\n      \"contents\": \"message-199\",\n      \"subLedgerId\": \"4\",\n
        \     \"transactionId\": \"6.3673\"\n    }\n  ],\n  \"state\": \"Ready\"\n}"
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '6.3675'
    status:
      code: 200
      message: OK
version: 1
