interactions:
- request:
    body: '{"contents": "Test sub-ledger entry from Python SDK"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake.confidential-ledger.azure.com/app/transactions?api-version=2022-05-13&collectionId=132
  response:
    body:
      string: '{"collectionId":"132"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '2.71'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fake.confidential-ledger.azure.com/app/transactions/2.71/status?api-version=2022-05-13
  response:
    body:
      string: '{"state":"Pending","transactionId":"2.71"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '2.71'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake.confidential-ledger.azure.com/app/transactions/2.71/status?api-version=2022-05-13
  response:
    body:
      string: '{"state":"Committed","transactionId":"2.71"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '2.72'
    status:
      code: 200
      message: OK
version: 1
