interactions:
- request:
    body: '{"contents": "message-0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0
  response:
    body:
      string: '{"subLedgerId":"0"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '5.7325'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=5.7325
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=5.7325\",\n
        \ \"state\": \"Loading\"\n}"
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '5.7559'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=5.7325
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=5.7426\",\n
        \ \"entries\": [\n    {\n      \"contents\": \"message-0\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"5.7325\"\n    },\n    {\n      \"contents\":
        \"message-5\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"5.7331\"\n
        \   },\n    {\n      \"contents\": \"message-10\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"5.7337\"\n    },\n    {\n      \"contents\":
        \"message-15\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"5.7343\"\n
        \   },\n    {\n      \"contents\": \"message-20\",\n      \"subLedgerId\":
        \"0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=4&fromTransactionId=5.7531
  response:
    body:
      string: "{\n  \"entries\": [\n    {\n      \"contents\": \"message-174\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"5.7531\"\n    },\n
        \   {\n      \"contents\": \"message-179\",\n      \"subLedgerId\": \"4\",\n
        \     \"transactionId\": \"5.7536\"\n    },\n    {\n      \"contents\": \"message-184\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"5.7541\"\n    },\n
        \   {\n      \"contents\": \"message-189\",\n      \"subLedgerId\": \"4\",\n
        \     \"transactionId\": \"5.7547\"\n    },\n    {\n      \"contents\": \"message-194\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"5.7552\"\n    },\n
        \   {\n      \"contents\": \"message-199\",\n      \"subLedgerId\": \"4\",\n
        \     \"transactionId\": \"5.7558\"\n    }\n  ],\n  \"state\": \"Ready\"\n}"
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '5.7560'
    status:
      code: 200
      message: OK
version: 1
