interactions:
- request:
    body: '{"contents": "message-0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0
  response:
    body:
      string: '{"subLedgerId":"0"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '7.7020'
    status:
      code: 200
      message: OK
    url: https://sdk-test-ledger-prod.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=7.7020
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=7.7020\",\n
        \ \"state\": \"Loading\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '7.7276'
    status:
      code: 200
      message: OK
    url: https://sdk-test-ledger-prod.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=7.7020
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=7.7020
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=7.7121\",\n
        \ \"entries\": [\n    {\n      \"contents\": \"message-0\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"7.7020\"\n    },\n    {\n      \"contents\":
        \"message-5\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"7.7026\"\n
        \   },\n    {\n      \"contents\": \"message-10\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"7.7032\"\n    },\n    {\n      \"contents\":
        \"message-15\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"7.7039\"\n
        \   },\n    {\n      \"contents\": \"message-20\",\n      \"subLedgerId\":
        \"0[...]
[...]
