interactions:
- request:
    body: '{"contents": "message-0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0
  response:
    body:
      string: '{"subLedgerId":"0"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '2.799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.799
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.799\",\n
        \ \"state\": \"Loading\"\n}"
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '2.1021'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.799
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.900\",\n
        \ \"entries\": [\n    {\n      \"contents\": \"message-0\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"2.799\"\n    },\n    {\n      \"contents\":
        \"message-5\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"2.804\"\n
        \   },\n    {\n      \"contents\": \"message-10\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"2.810\"\n    },\n    {\n      \"contents\":
        \"message-15\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"2.815\"\n
        \   },\n    {\n      \"contents\": \"message-20\",\n      \"subLedgerId\":
        \"0\",\[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=4&fromTransactionId=2.1005
  response:
    body:
      string: "{\n  \"entries\": [\n    {\n      \"contents\": \"message-189\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"2.1009\"\n    },\n
        \   {\n      \"contents\": \"message-194\",\n      \"subLedgerId\": \"4\",\n
        \     \"transactionId\": \"2.1014\"\n    },\n    {\n      \"contents\": \"message-199\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"2.1020\"\n    }\n
        \ ],\n  \"state\": \"Ready\"\n}"
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '2.1022'
    status:
      code: 200
      message: OK
version: 1
