interactions:
- request:
    body: '{"contents": "Test sub-ledger entry from Python SDK"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=132
  response:
    body:
      string: '{"subLedgerId":"132"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '5.6981'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=132
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/5.6981/status?api-version=0.1-preview
  response:
    body:
      string: '{"state":"Pending","transactionId":"5.6981"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '5.6982'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger.eastus.cloudapp.azure.com/app/transactions/5.6981/status?api-version=0.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/5.6981/receipt?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"receipt\": {\n    \"leaf\": \"\",\n    \"node_id\": \"\",\n
        \   \"proof\": [],\n    \"root\": \"\",\n    \"signature\": \"\"\n  },\n  \"state\":
        \"Loading\",\n  \"transactionId\": \"\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '5.6982'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger.eastus.cloudapp.azure.com/app/transactions/5.6981/receipt?api-version=0.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/5.6981/receipt?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"receipt\": {\n    \"leaf\": \"086f66f297984dfceb9b05d9b8b6c2f9c026bbc784ff4bf3ab5ec2acb314c0a5\",\n
        \   \"node_id\": \"d0856cf4771df2ca08cf689812396b929d18115370b3349c59030e08126ec0a6\",\n
        \   \"proof\": [\n      {\n        \"left\": \"8908e19bbd96bb0f21efc351472da62fd2daaa1954e12dc6cc88f51054cc91c2\"\n
        \     },\n      {\n        \"left\": \"ec60992221c1338a1566a37417918654a821ad624d398b941dfe5f84e01e92cb\"\n
        \     },\n      {\n        \"left\": \"b1316fcdcd50cdf26012517d86d5b671588b87a7e528051f6bfb87f1b210818e\"\n
        \     },\n      {\n        \"left\": \"b9a9a0412ae92501f91af45c9130b595ce916854d29ce548f5e46cc72cbe4fb8\"\n
        \     },\n      {\n        \"left\": \"2353432abd8d4fecf5094ea9ea29e540edf980973e81b5ca5280e1447d20430e\"\n
        \     },\n      {\n        \"left\": \"a4e1b9f89db552436884312ca60b47953b1735ad86003f37710187ae0c298e5b\"\n
        \     },\n      {\n        \"left\": \"c9fc84081e12add5a7c8074875288bffe0c0313ce69f68904d023aedfd356d32\"\n
        \     }\n    ],\n    \"root\": \"f5ad8d846a8f4862e91ca2c517f1d745e0690d5bc0ca9460c258e535b44593f2\",\n
        \   \"signature\": \"MGYCMQC0XKnC6CxIMgHRnYPTEF89enT9MERC4BFhPkz9/vCK6Z2lI9qYphoIaQP4i0CFQHQCMQDXYOT0BEWtgMc9Nd25WlK0jwKEbSGDbexQZ6m0RGc2fwHKI6M6Z5sfNTuoHMsu91M=\"\n
        \ },\n  \"state\": \"Ready\",\n  \"transactionId\": \"5.6981\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '5.6982'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger.eastus.cloudapp.azure.com/app/transactions/5.6981/receipt?api-version=0.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/current?api-version=0.1-preview&subLedgerId=132
  response:
    body:
      string: '{"contents":"Test sub-ledger entry from Python SDK","subLedgerId":"132","transactionId":"5.6982"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '5.6982'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger.eastus.cloudapp.azure.com/app/transactions/current?api-version=0.1-preview&subLedgerId=132
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/5.6981?api-version=0.1-preview&subLedgerId=132
  response:
    body:
      string: "{\n  \"state\": \"Loading\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '5.6984'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger.eastus.cloudapp.azure.com/app/transactions/5.6981?api-version=0.1-preview&subLedgerId=132
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/5.6981?api-version=0.1-preview&subLedgerId=132
  response:
    body:
      string: "{\n  \"entry\": {\n    \"contents\": \"Test sub-ledger entry from Python
        SDK\",\n    \"subLedgerId\": \"132\",\n    \"transactionId\": \"5.6981\"\n
        \ },\n  \"state\": \"Ready\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '5.6984'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger.eastus.cloudapp.azure.com/app/transactions/5.6981?api-version=0.1-preview&subLedgerId=132
version: 1
