interactions:
- request:
    body: '{"contents": "message-0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0
  response:
    body:
      string: '{"subLedgerId":"0"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '5.8172'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=5.8172
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=5.8172\",\n
        \ \"state\": \"Loading\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '5.8500'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=5.8172
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=5.8172
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=5.8273\",\n
        \ \"entries\": [\n    {\n      \"contents\": \"message-0\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"5.8172\"\n    },\n    {\n      \"contents\":
        \"message-5\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"5.8180\"\n
        \   },\n    {\n      \"contents\": \"message-10\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"5.8188\"\n    },\n    {\n      \"contents\":
        \"message-15\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"5.8196\"\n
        \   },\n    {\n      \"contents\": \"message-20\",\n      \"subLedgerId\":
        \"0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=4&fromTransactionId=5.8482
  response:
    body:
      string: "{\n  \"entries\": [\n    {\n      \"contents\": \"message-194\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"5.8489\"\n    },\n
        \   {\n      \"contents\": \"message-199\",\n      \"subLedgerId\": \"4\",\n
        \     \"transactionId\": \"5.8497\"\n    }\n  ],\n  \"state\": \"Ready\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '5.8500'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=4&fromTransactionId=5.8482
version: 1
