interactions:
- request:
    body: '{"contents": "Test entry from Python SDK"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview
  response:
    body:
      string: '{"subLedgerId":"subledger:0"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '8.5804'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/8.5804/status?api-version=0.1-preview
  response:
    body:
      string: '{"state":"Committed","transactionId":"8.5804"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '8.5805'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions/8.5804/status?api-version=0.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/8.5804/receipt?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"receipt\": {\n    \"leaf\": \"\",\n    \"node_id\": \"\",\n
        \   \"proof\": [],\n    \"root\": \"\",\n    \"signature\": \"\"\n  },\n  \"state\":
        \"Loading\",\n  \"transactionId\": \"\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '8.5805'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions/8.5804/receipt?api-version=0.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/8.5804/receipt?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"receipt\": {\n    \"leaf\": \"a66db7c51179a0b5d969737b6b92518535b3f37e01d587e6f992f2621c66d3e7\",\n
        \   \"node_id\": \"b3b66865cec514b29e8c15315170db13f959a0796c5227b3f0778922bec3b213\",\n
        \   \"proof\": [\n      {\n        \"left\": \"9740a6b986076a21a02fb303483b81a76086eac3712b72b5da4b71e19dd0937d\"\n
        \     },\n      {\n        \"left\": \"909f000f68bb90001ff5221845c213d05966a7249dd1bd96962448b2f22fa889\"\n
        \     },\n      {\n        \"left\": \"351b0e9c80901fa2ea0b99aafb0a26314c8e415ab32dad2e60907dc775e96c26\"\n
        \     },\n      {\n        \"left\": \"2fd98f4107b99bf925c71ccfea2bbb1f300253b8edf7eaad62522bdf1c5a2e41\"\n
        \     },\n      {\n        \"left\": \"e65fced17a4e4a037c517595d829f01081031d750ca1c71f2f248774ac00fc0b\"\n
        \     },\n      {\n        \"left\": \"d33521d593d04667136830d326070831dbf860769c0bda20906c78f7817a863e\"\n
        \     },\n      {\n        \"left\": \"af01e113b0708fcec46989f69229c11a58ca1f25cebcc197e0d432480e62ec11\"\n
        \     }\n    ],\n    \"root\": \"caa478e8b832e09a79f220930f091755782bd7211b8cad9fcf2953de227a6c3c\",\n
        \   \"signature\": \"MGUCMAf63tlx/DsaHL7uSTYP4aa1YhAXtbye8LzOmgTTxXbNxkRrZiFP7vtP+Xdl+R56zgIxANSyy0v915XCdIuJQLq4tFJ7HueDi1Iw78hxNzQl2adIfmajXOMsZu7V/3XxYuHcbA==\"\n
        \ },\n  \"state\": \"Ready\",\n  \"transactionId\": \"8.5804\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '8.5805'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions/8.5804/receipt?api-version=0.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/current?api-version=0.1-preview
  response:
    body:
      string: '{"contents":"Test entry from Python SDK","subLedgerId":"subledger:0","transactionId":"8.5805"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '8.5805'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions/current?api-version=0.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/8.5804?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"state\": \"Loading\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '8.5807'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions/8.5804?api-version=0.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/8.5804?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"entry\": {\n    \"contents\": \"Test entry from Python SDK\",\n
        \   \"subLedgerId\": \"subledger:0\",\n    \"transactionId\": \"8.5804\"\n
        \ },\n  \"state\": \"Ready\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '8.5807'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions/8.5804?api-version=0.1-preview
version: 1
