interactions:
- request:
    body: '{"assignedRole": "Administrator"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://fake-confidential-ledger.azure.com/app/users/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa?api-version=0.1-preview
  response:
    body:
      string: '{"assignedRole":"Administrator","userId":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '7.6270'
    status:
      code: 200
      message: OK
- request:
    body: '{"contents": "Test sub-ledger entry from Python SDK"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=132
  response:
    body:
      string: '{"subLedgerId":"132"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '7.6271'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/7.6271/status?api-version=0.1-preview
  response:
    body:
      string: '{"state":"Pending","transactionId":"7.6271"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '7.6271'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/7.6271/receipt?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"receipt\": {\n    \"leaf\": \"\",\n    \"node_id\": \"\",\n
        \   \"proof\": [],\n    \"root\": \"\",\n    \"signature\": \"\"\n  },\n  \"state\":
        \"Loading\",\n  \"transactionId\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '7.6272'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/7.6271/receipt?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"receipt\": {\n    \"leaf\": \"56e694178c55e9bba76bcd1e51d54edc0ad6935869b857ae3b4a8f6c188dafd5\",\n
        \   \"node_id\": \"cda0fa96a7916caafd144ea4b3d4188b197cff605b32416a3b47c1c69aeff594\",\n
        \   \"proof\": [\n      {\n        \"left\": \"440d3808966d11b1a900d010ec6c14346ea0a3d20925973297b7dc140810afb9\"\n
        \     },\n      {\n        \"left\": \"cd8ee24631fa51803e2fb82e683d361b52488e76fe165f90c317c8ae33b28c18\"\n
        \     },\n      {\n        \"left\": \"98d03aa67162db2d8e94d82d49b5c383274e34472c7716f4cb9ce68050f936ec\"\n
        \     },\n      {\n        \"left\": \"2e30ece81d771cebadd1022b2ba636e7af72874558c45e554a8472c9c0cda325\"\n
        \     },\n      {\n        \"left\": \"12d086beffdfbb94b320951146b599f3e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/current?api-version=0.1-preview&subLedgerId=132
  response:
    body:
      string: '{"contents":"Test sub-ledger entry from Python SDK","subLedgerId":"132","transactionId":"7.6272"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '7.6272'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/7.6271?api-version=0.1-preview&subLedgerId=132
  response:
    body:
      string: "{\n  \"entry\": {\n    \"contents\": \"Test sub-ledger entry from Python
        SDK\",\n    \"subLedgerId\": \"132\",\n    \"transactionId\": \"7.6271\"\n
        \ },\n  \"state\": \"Ready\"\n}"
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '7.6274'
    status:
      code: 200
      message: OK
version: 1
