interactions:
- request:
    body: '{"assignedRole": "Administrator"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://fake-confidential-ledger.azure.com/app/users/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa?api-version=0.1-preview
  response:
    body:
      string: '{"assignedRole":"Administrator","userId":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.2656'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-2.eastus.cloudapp.azure.com/app/users/e76336f1-cae2-492f-84bc-bfcbb6503c9b?api-version=0.1-preview
- request:
    body: '{"contents": "message-0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0
  response:
    body:
      string: '{"subLedgerId":"0"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.2657'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-2.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.2657
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.2657\",\n
        \ \"state\": \"Loading\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.2976'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-2.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.2657
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.2657
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.2758\",\n
        \ \"entries\": [\n    {\n      \"contents\": \"message-0\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"2.2657\"\n    },\n    {\n      \"contents\":
        \"message-5\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"2.2665\"\n
        \   },\n    {\n      \"contents\": \"message-10\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"2.2673\"\n    },\n    {\n      \"contents\":
        \"message-15\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"2.2680\"\n
        \   },\n    {\n      \"contents\": \"message-20\",\n      \"subLedgerId\":
        \"0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=4&fromTransactionId=2.2967
  response:
    body:
      string: "{\n  \"entries\": [\n    {\n      \"contents\": \"message-199\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"2.2974\"\n    }\n
        \ ],\n  \"state\": \"Ready\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.2976'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-2.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=4&fromTransactionId=2.2967
version: 1
