interactions:
- request:
    body: '{"contents": "message-0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0
  response:
    body:
      string: '{"subLedgerId":"0"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.1389'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.1389
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.1389\",\n
        \ \"state\": \"Loading\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.1740'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.1389
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.1389
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=2.1490\",\n
        \ \"entries\": [\n    {\n      \"contents\": \"message-0\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"2.1389\"\n    },\n    {\n      \"contents\":
        \"message-5\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"2.1398\"\n
        \   },\n    {\n      \"contents\": \"message-10\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"2.1406\"\n    },\n    {\n      \"contents\":
        \"message-15\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"2.1415\"\n
        \   },\n    {\n      \"contents\": \"message-20\",\n      \"subLedgerId\":
        \"0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=4&fromTransactionId=2.1699
  response:
    body:
      string: "{\n  \"entries\": [\n    {\n      \"contents\": \"message-179\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"2.1702\"\n    },\n
        \   {\n      \"contents\": \"message-184\",\n      \"subLedgerId\": \"4\",\n
        \     \"transactionId\": \"2.1711\"\n    },\n    {\n      \"contents\": \"message-189\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"2.1720\"\n    },\n
        \   {\n      \"contents\": \"message-194\",\n      \"subLedgerId\": \"4\",\n
        \     \"transactionId\": \"2.1729\"\n    },\n    {\n      \"contents\": \"message-199\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"2.1738\"\n    }\n
        \ ],\n  \"state\": \"Ready\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.1740'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=4&fromTransactionId=2.1699
version: 1
