interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://identity.confidential-ledger.core.azure.com/ledgerIdentity/fake?api-version=2022-05-13
  response:
    body:
      string: '{"ledgerTlsCertificate":"-----BEGIN CERTIFICATE-----\nMIIBeTCCASCgAwIBAgIQcTrTRLjb9eOoGTXSvOEgxjAKBggqhkjOPQQDAjAWMRQw\nEgYDVQQDDAtDQ0YgTmV0d29yazAeFw0yMjA2MjcxNjA3MjNaFw0yMjA5MjUxNjA3\nMjJaMBYxFDASBgNVBAMMC0NDRiBOZXR3b3JrMFkwEwYHKoZIzj0CAQYIKoZIzj0D\nAQcDQgAEyn3oh7/D+m/yuzdWNSEh3ZOupuUiO6U7MIcwiM6RBZ3nsWQHGeVyT0Ai\n+7cYDtPGo/8VRio+Brknl7VALE3q9aNQME4wDAYDVR0TBAUwAwEB/zAdBgNVHQ4E\nFgQUh1gNHgpIlTONmFbFX7HeG1rcT6gwHwYDVR0jBBgwFoAUh1gNHgpIlTONmFbF\nX7HeG1rcT6gwCgYIKoZIzj0EAwIDRwAwRAIgdd7rQszgGJ+jtjuiECigiFxoAvDk\nOPPBwTvMsE8TzsYCIDgYQ1mGHyZ52NXgoxPfqVVFTive8JIsjeQuczMZFq+9\n-----END
        CERTIFICATE-----\n","ledgerId":"fake"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-image-digest:
      - sha256:7a76c9097c3450987501c23e71a3e16b89f727059ab6de727807ac97b808810e
      x-ms-image-tag:
      - 1.0.01999.541-e02672ed644876c9cf10c5494e0203a0dc9da070
      x-ms-machinename:
      - identityservice-6499ffbf45-g48zc
    status:
      code: 200
      message: OK
- request:
    body: '{"contents": "message-0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake.confidential-ledger.azure.com/app/transactions?api-version=2022-05-13&collectionId=0
  response:
    body:
      string: '{"collectionId":"0"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.22653'
    status:
      code: 200
      message: OK
    url: https://lyshi-python-sdk.confidential-ledger.azure.com/app/transactions?api-version=2022-05-13&collectionId=0
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake.confidential-ledger.azure.com/app/transactions/2.22669/status?api-version=2022-05-13
  response:
    body:
      string: '{"state":"Committed","transactionId":"2.22669"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.22670'
    status:
      code: 200
      message: OK
    url: https://lyshi-python-sdk.confidential-ledger.azure.com/app/transactions/2.22669/status?api-version=2022-05-13
- request:
    body: null
    headers:
    method: GET
    uri: https://fake.confidential-ledger.azure.com/app/transactions?api-version=2022-05-13&collectionId=0&fromTransactionId=2.22653&toTransactionId=2.22661
  response:
    body:
      string: "{\n  \"entries\": [],\n  \"nextLink\": \"/app/transactions?api-version=2022-05-13&collectionId=0&fromTransactionId=2.22653&toTransactionId=2.22661\",\n
        \ \"state\": \"Loading\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.22670'
    status:
      code: 200
      message: OK
    url: https://lyshi-python-sdk.confidential-ledger.azure.com/app/transactions?api-version=2022-05-13&collectionId=0&fromTransactionId=2.22653&toTransactionId=2.22661
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake.confidential-ledger.azure.com/app/transactions?api-version=2022-05-13&collectionId=4&fromTransactionId=2.22660&toTransactionId=2.22669
  response:
    body:
      string: "{\n  \"entries\": [\n    {\n      \"collectionId\": \"4\",\n      \"contents\":
        \"message-4\",\n      \"transactionId\": \"2.22660\"\n    },\n    {\n      \"collectionId\":
        \"4\",\n      \"contents\": \"message-9\",\n      \"transactionId\": \"2.22669\"\n
        \   }\n  ],\n  \"state\": \"Ready\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.22670'
    status:
      code: 200
      message: OK
    url: https://lyshi-python-sdk.confidential-ledger.azure.com/app/transactions?api-version=2022-05-13&collectionId=4&fromTransactionId=2.22660&toTransactionId=2.22669
version: 1
