interactions:
- request:
    body: '{"contents": "Test entry from Python SDK"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview
  response:
    body:
      string: '{"subLedgerId":"subledger:0"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '6.3686'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/6.3686/status?api-version=0.1-preview
  response:
    body:
      string: '{"state":"Pending","transactionId":"6.3686"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '6.3686'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions/6.3686/status?api-version=0.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/6.3686/receipt?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"receipt\": {\n    \"leaf\": \"\",\n    \"node_id\": \"\",\n
        \   \"proof\": [],\n    \"root\": \"\",\n    \"signature\": \"\"\n  },\n  \"state\":
        \"Loading\",\n  \"transactionId\": \"\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '6.3687'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions/6.3686/receipt?api-version=0.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/6.3686/receipt?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"receipt\": {\n    \"leaf\": \"9a6fd724a9253a2d93f83ff9ad36609f89d814692a846d6c008813ca9f65c627\",\n
        \   \"node_id\": \"b3b66865cec514b29e8c15315170db13f959a0796c5227b3f0778922bec3b213\",\n
        \   \"proof\": [\n      {\n        \"left\": \"41b667e63528bd0599035c6ef6d25f990d2a8d8733dafcb4b20adeb5be5f5088\"\n
        \     },\n      {\n        \"left\": \"35c8a286d1911c8a19305addfae06137a7137bbb2f1bb8fbddcb65c51787cb30\"\n
        \     },\n      {\n        \"left\": \"e3844aaabd59ac85e55f42e830a9832a8d4b3745aba65a6ff40769cb443cf9ca\"\n
        \     },\n      {\n        \"left\": \"3a021e2ec545789a8655da908d7e748b4ed1e903b687ef71c49b20a6fe8bef28\"\n
        \     },\n      {\n        \"left\": \"daac1ec610424c30b321224485d6ee5e6f983845fc82a7a2780de1792b714f0a\"\n
        \     },\n      {\n        \"left\": \"eb558a54c5705e1a09a23e081a47879186f1e785558724d0af435320dcb43c94\"\n
        \     },\n      {\n        \"left\": \"dea7934f5058b440ec75d0f6a61184515cb02bc1aaa729a7b5ee7f9b148c977b\"\n
        \     }\n    ],\n    \"root\": \"aa827dbebbbbbacdb4cd636996df7a8cce11a1aa6e98402af6d79f8e1b018382\",\n
        \   \"signature\": \"MGUCMDbbX2kaD5lyDUkGo4VTqrcl4MehBkm4wSz9qH/yMa0VF0v1ug6LUkJavUQj3FdITgIxALqowhME+O8yD2VnsRWD375R+7Jm+7xtokvHKPm2TaVMRHItESlg3x3qFJ4Nac6HGw==\"\n
        \ },\n  \"state\": \"Ready\",\n  \"transactionId\": \"6.3686\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '6.3687'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions/6.3686/receipt?api-version=0.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/current?api-version=0.1-preview
  response:
    body:
      string: '{"contents":"Test entry from Python SDK","subLedgerId":"subledger:0","transactionId":"6.3687"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '6.3687'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions/current?api-version=0.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/6.3686?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"state\": \"Loading\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '6.3689'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions/6.3686?api-version=0.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/6.3686?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"entry\": {\n    \"contents\": \"Test entry from Python SDK\",\n
        \   \"subLedgerId\": \"subledger:0\",\n    \"transactionId\": \"6.3686\"\n
        \ },\n  \"state\": \"Ready\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '6.3689'
    status:
      code: 200
      message: OK
    url: https://lyshi-sdk-ledger-1.eastus.cloudapp.azure.com/app/transactions/6.3686?api-version=0.1-preview
version: 1
