interactions:
- request:
    body: '{"assignedRole": "Administrator"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://fake-confidential-ledger.azure.com/app/users/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa?api-version=0.1-preview
  response:
    body:
      string: '{"assignedRole":"Administrator","userId":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.1842'
    status:
      code: 200
      message: OK
    url: https://sdk-test-ledger-prod.eastus.cloudapp.azure.com/app/users/e76336f1-cae2-492f-84bc-bfcbb6503c9b?api-version=0.1-preview
- request:
    body: '{"contents": "Test sub-ledger entry from Python SDK"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=132
  response:
    body:
      string: '{"subLedgerId":"132"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.1844'
    status:
      code: 200
      message: OK
    url: https://sdk-test-ledger-prod.eastus.cloudapp.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=132
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/2.1844/status?api-version=0.1-preview
  response:
    body:
      string: '{"state":"Pending","transactionId":"2.1844"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.1844'
    status:
      code: 200
      message: OK
    url: https://sdk-test-ledger-prod.eastus.cloudapp.azure.com/app/transactions/2.1844/status?api-version=0.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/2.1844/receipt?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"receipt\": {\n    \"leaf\": \"\",\n    \"node_id\": \"\",\n
        \   \"proof\": [],\n    \"root\": \"\",\n    \"signature\": \"\"\n  },\n  \"state\":
        \"Loading\",\n  \"transactionId\": \"\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.1845'
    status:
      code: 200
      message: OK
    url: https://sdk-test-ledger-prod.eastus.cloudapp.azure.com/app/transactions/2.1844/receipt?api-version=0.1-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/2.1844/receipt?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"receipt\": {\n    \"leaf\": \"97a3d56f477c5a86f53752d5ebd7b05ec7823a30ac6b143e255e38b3c9c757de\",\n
        \   \"node_id\": \"c801be0e15cdd5fdef828ec11b69551941f48aa200c17438d11286471c3e118c\",\n
        \   \"proof\": [\n      {\n        \"left\": \"412be6e6e59fe38d2e8f4cdc6f4916ec21beecc558b83b5a42e87f7a9f131986\"\n
        \     },\n      {\n        \"left\": \"140d526184b1fb76a9a7002f87dee8ee19ad59616e779097b4dbea621c712478\"\n
        \     },\n      {\n        \"left\": \"c29a4b0194fa4a4d72e2a74248d42c3d653344fe576a3c5b10edb8bd2d7ed61f\"\n
        \     },\n      {\n        \"left\": \"96cdc79a790c95835b64baa35578025ea6c71123b469a23f780d45d4a912a0c7\"\n
        \     },\n      {\n        \"left\": \"a7d18ac2d0561cb6d9923e65393f54a951e0ead8b844c4a7a60b4d920c090097\"\n
        \     },\n      {\n        \"left\": \"b1f43f8a8b2de6743c0a62c1f31d1b4e0caa9d3323acb9d0f51c810ac8dafe2f\"\n
        \     }\n    ],\n    \"root\": \"a4d2da720f65ee6fe5c2e754fb4fac265cd4e9f0cbd658d3e7c773508925e9bf\",\n
        \   \"signature\": \"MGQCMHQVKsvIUged8WnzPmbAs5DGPlofnq4pP6QyuRJmGG7G6A5TXajC+daxMSB5xo2gyQIwdAhZWH3GNCEuEuVGUGgInKOSQnaEUjthB/RVOOtQeLl683hpuULgH/GVlq+Xm3cu\"\n
        \ },\n  \"state\": \"Ready\",\n  \"transactionId\": \"2.1844\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.1845'
    status:
      code: 200
      message: OK
    url: https://sdk-test-ledger-prod.eastus.cloudapp.azure.com/app/transactions/2.1844/receipt?api-version=0.1-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/current?api-version=0.1-preview&subLedgerId=132
  response:
    body:
      string: '{"contents":"Test sub-ledger entry from Python SDK","subLedgerId":"132","transactionId":"2.1845"}'
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.1845'
    status:
      code: 200
      message: OK
    url: https://sdk-test-ledger-prod.eastus.cloudapp.azure.com/app/transactions/current?api-version=0.1-preview&subLedgerId=132
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/2.1844?api-version=0.1-preview&subLedgerId=132
  response:
    body:
      string: "{\n  \"entry\": {\n    \"contents\": \"Test sub-ledger entry from Python
        SDK\",\n    \"subLedgerId\": \"132\",\n    \"transactionId\": \"2.1844\"\n
        \ },\n  \"state\": \"Ready\"\n}"
    headers:
      content-type: application/json
      x-ms-ccf-transaction-id: '2.1847'
    status:
      code: 200
      message: OK
    url: https://sdk-test-ledger-prod.eastus.cloudapp.azure.com/app/transactions/2.1844?api-version=0.1-preview&subLedgerId=132
version: 1
