interactions:
- request:
    body: '{"assignedRole": "Administrator"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://fake-confidential-ledger.azure.com/app/users/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa?api-version=0.1-preview
  response:
    body:
      string: '{"assignedRole":"Administrator","userId":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '8.4930'
    status:
      code: 200
      message: OK
- request:
    body: '{"contents": "message-0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0
  response:
    body:
      string: '{"subLedgerId":"0"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '8.4932'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=8.4932
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=8.4932\",\n
        \ \"state\": \"Loading\"\n}"
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '8.5176'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=8.4932
  response:
    body:
      string: "{\n  \"@nextLink\": \"/app/transactions?api-version=0.1-preview&subLedgerId=0&fromTransactionId=8.5033\",\n
        \ \"entries\": [\n    {\n      \"contents\": \"message-0\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"8.4932\"\n    },\n    {\n      \"contents\":
        \"message-5\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"8.4938\"\n
        \   },\n    {\n      \"contents\": \"message-10\",\n      \"subLedgerId\":
        \"0\",\n      \"transactionId\": \"8.4944\"\n    },\n    {\n      \"contents\":
        \"message-15\",\n      \"subLedgerId\": \"0\",\n      \"transactionId\": \"8.4949\"\n
        \   },\n    {\n      \"contents\": \"message-20\",\n      \"subLedgerId\":
        \"0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview&subLedgerId=4&fromTransactionId=8.5139
  response:
    body:
      string: "{\n  \"entries\": [\n    {\n      \"contents\": \"message-169\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"8.5140\"\n    },\n
        \   {\n      \"contents\": \"message-174\",\n      \"subLedgerId\": \"4\",\n
        \     \"transactionId\": \"8.5146\"\n    },\n    {\n      \"contents\": \"message-179\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"8.5151\"\n    },\n
        \   {\n      \"contents\": \"message-184\",\n      \"subLedgerId\": \"4\",\n
        \     \"transactionId\": \"8.5157\"\n    },\n    {\n      \"contents\": \"message-189\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"8.5162\"\n    },\n
        \   {\n      \"contents\": \"message-194\",\n      \"subLedgerId\": \"4\",\n
        \     \"transactionId\": \"8.5168\"\n    },\n    {\n      \"contents\": \"message-199\",\n
        \     \"subLedgerId\": \"4\",\n      \"transactionId\": \"8.5174\"\n    }\n
        \ ],\n  \"state\": \"Ready\"\n}"
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '8.5176'
    status:
      code: 200
      message: OK
version: 1
