interactions:
- request:
    body: '{"contents": "Test entry from Python SDK"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fake-confidential-ledger.azure.com/app/transactions?api-version=0.1-preview
  response:
    body:
      string: '{"subLedgerId":"subledger:0"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '6.4028'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/6.4028/status?api-version=0.1-preview
  response:
    body:
      string: '{"state":"Pending","transactionId":"6.4028"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '6.4028'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/6.4028/receipt?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"receipt\": {\n    \"leaf\": \"\",\n    \"node_id\": \"\",\n
        \   \"proof\": [],\n    \"root\": \"\",\n    \"signature\": \"\"\n  },\n  \"state\":
        \"Loading\",\n  \"transactionId\": \"\"\n}"
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '6.4029'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/6.4028/receipt?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"receipt\": {\n    \"leaf\": \"1bb2834113a6b7b1dac2c457ed33832ba3bfc76b81a1fcacbd1094fafdd127cf\",\n
        \   \"node_id\": \"b3b66865cec514b29e8c15315170db13f959a0796c5227b3f0778922bec3b213\",\n
        \   \"proof\": [\n      {\n        \"left\": \"db69334e541c6e37ea1792792d05ed9ca6d04599f017014dbb7240d5a10d7472\"\n
        \     },\n      {\n        \"left\": \"a4e4be237b8d188491c48b30d490afbf2ea5e838d946b6610c9ca27609f51a9a\"\n
        \     },\n      {\n        \"left\": \"9c9556948b6aaddc650e7cb0b273b0eeadddcee5ccdb4cf6a4134e38206ad52a\"\n
        \     },\n      {\n        \"left\": \"faa6b0978526c9895555a37d1820014a69d4a13703df548d43b7e9ce8170f210\"\n
        \     },\n      {\n        \"left\": \"b8272928b3590c561785356a966b00e7e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/current?api-version=0.1-preview
  response:
    body:
      string: '{"contents":"Test entry from Python SDK","subLedgerId":"subledger:0","transactionId":"6.4029"}'
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '6.4029'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-confidential-ledger.azure.com/app/transactions/6.4028?api-version=0.1-preview
  response:
    body:
      string: "{\n  \"entry\": {\n    \"contents\": \"Test entry from Python SDK\",\n
        \   \"subLedgerId\": \"subledger:0\",\n    \"transactionId\": \"6.4028\"\n
        \ },\n  \"state\": \"Ready\"\n}"
    headers:
      content-type:
      - application/json
      x-ms-ccf-transaction-id:
      - '6.4031'
    status:
      code: 200
      message: OK
version: 1
