requests
# Aiohttp 3.8.6 triggers https://github.com/aio-libs/aiohttp/issues/4581 on pypy for some reasons
aiohttp<3.8.6 ; platform_python_implementation == "PyPy"
aiohttp ; platform_python_implementation != "PyPy"
httpx>=0.25.0
-e ../../../tools/azure-sdk-tools
-e tests/testserver_tests/coretestserver
../../core/azure-core
azure-storage-blob
azure-data-tables
azure-identity
opentelemetry-sdk~=1.26
opentelemetry-instrumentation-requests>=0.50b0
