interactions:
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 06 2019 20:31:16 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      if-none-match:
      - '*'
      x-ms-content-sha256:
      - 5b/E4qQlXHTRod+n+f+xjK6c/tRVR8uxoC62FjvGJPw=
      x-ms-date:
      - Aug, 06 2019 20:31:16 GMT
    method: PUT
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309
  response:
    body:
      string: '{"etag":"9rAYFiAK780zgo5rM7NmHRcqhmN","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-08-06T20:31:17+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9rAYFiAK780zgo5rM7NmHRcqhmN"
      last-modified:
      - Tue, 06 Aug 2019 20:31:17 GMT
      sync-token:
      - zAJw6V16=MzotMSMzODAxMzQ=;sn=380134
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 06 2019 20:31:16 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?label=&key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309
  response:
    body:
      string: '{"items":[{"etag":"9rAYFiAK780zgo5rM7NmHRcqhmN","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-08-06T20:31:17+00:00"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSMzODAxMzQ=;sn=380134
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 06 2019 20:31:16 GMT
    method: DELETE
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "multi_label_0", "value": "multi value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      if-none-match:
      - '*'
      x-ms-content-sha256:
      - PjvHe35hDjqVX18xmPvPb0Q2NpeaKTiWhBfGwlG2GGo=
      x-ms-date:
      - Aug, 06 2019 20:31:16 GMT
    method: PUT
    uri: https://xyazconfig.azconfig.io/kv/multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_0
  response:
    body:
      string: '{"etag":"VD4vE9SGgIflwDB4JsoqgHa8aI5","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2019-08-06T20:31:17+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"VD4vE9SGgIflwDB4JsoqgHa8aI5"
      last-modified:
      - Tue, 06 Aug 2019 20:31:17 GMT
      sync-token:
      - zAJw6V16=MzotMSMzODAxMzY=;sn=380136
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 06 2019 20:31:21 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?key=multi_%2A
  response:
    body:
      string: '{"items":[{"etag":"VD4vE9SGgIflwDB4JsoqgHa8aI5","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modifi[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 06 2019 20:31:25 GMT
    method: DELETE
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309
  response:
    body:
      string: '{"etag":"sVcHxFgy3wm2d9L9ZDwi8eFVGbB","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-08-06T20:31:17+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"sVcHxFgy3wm2d9L9ZDwi8eFVGbB"
      last-modified:
      - Tue, 06 Aug 2019 20:31:17 GMT
      sync-token:
      - zAJw6V16=MzotMSMzODAzMzk=;sn=380339
    status:
      code: 200
      message: OK
version: 1
