interactions:
- request:
    body: '{"location": "westus", "tags": {"tag1": "value1", "tag2": "value2"}, "sku":
      {"name": "Standard"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule?api-version=2017-04-01
  response:
    body: {string: '{"sku":{"name":"Standard","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule","name":"testingpythontestcaserule","type":"Microsoft.ServiceBus/Namespaces","location":"West
        US","tags":{"tag1":"value1","tag2":"value2"},"properties":{"provisioningState":"Created","metricId":"00000000-0000-0000-0000-000000000000:testingpythontestcaserule","createdAt":"2017-11-01T01:26:47.177Z","updatedAt":"2017-11-01T01:26:47.177Z","serviceBusEndpoint":"https://testingpythontestcaserule.servicebus.windows.net:443/"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule/topics/testingpythonsdktopic?api-version=2017-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule/topics/testingpythonsdktopic","name":"testingpythonsdktopic","type":"Microsoft.ServiceBus/Namespaces/Topics","location":"West
        US","properties":{"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","maxSizeInMegabytes":5120,"requiresDuplicateDetection":false,"duplicateDetectionHistoryTimeWindow":"PT10M","enableBatchedOperations":true,"sizeInBytes":0,"status":"Active","supportOrdering":true,"autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"createdAt":"2017-11-01T01:27:23.587Z","updatedAt":"2017-11-01T01:27:23.633Z","accessedAt":"0001-01-01T00:00:00","subscriptionCount":0,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule/topics/testingpythonsdktopic/subscriptions/testingpythonsdksubscription?api-version=2017-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule/topics/testingpythonsdktopic/subscriptions/testingpythonsdksubscription","name":"testingpythonsdksubscription","type":"Microsoft.ServiceBus/Namespaces/Topics/Subscriptions","location":"West
        US","properties":{"lockDuration":"PT1M","requiresSession":false,"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","deadLetteringOnMessageExpiration":false,"messageCount":0,"maxDeliveryCount":10,"status":"Active","enableBatchedOperations":true,"createdAt":"2017-11-01T01:27:26.0535608Z","updatedAt":"2017-11-01T01:27:26.0535608Z","accessedAt":"0001-01-01T00:00:00","countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0},"autoDeleteOnIdle":"P10675199DT2H48M5.4775807S"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule/topics/testingpythonsdktopic/subscriptions/testingpythonsdksubscription/rules/testingpythonsdkrule?api-version=2017-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule/topics/testingpythonsdktopic/subscriptions/testingpythonsdksubscription/rules/testingpythonsdkrule","name":"testingpythonsdkrule","type":"Microsoft.ServiceBus/Namespaces/Topics/Subscriptions/Rules","location":"West
        US","properties":{"action":{},"filterType":"SqlFilter","sqlFilter":{"sqlExpression":"1=1","compatibilityLevel":20}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule/topics/testingpythonsdktopic/subscriptions/testingpythonsdksubscription/rules?api-version=2017-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule/topics/testingpythonsdktopic/subscriptions/testingpythonsdksubscription/rules/testingpythonsdkrule","name":"testingpythonsdkrule","type":"Microsoft.ServiceBus/Namespaces/Topics/Subscriptions/Rules","location":"West
        US","properties":{"action":{},"filterType":"SqlFilter","sqlFilter":{"sqlExpression":"1=1","compatibilityLevel":20}}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/SN1]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"filterType": "SqlFilter", "sqlFilter": {"sqlExpression":
      "myproperty=''test''", "requiresPreprocessing": true}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule/topics/testingpythonsdktopic/subscriptions/testingpythonsdksubscription/rules/testingpythonsdkrule?api-version=2017-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule/topics/testingpythonsdktopic/subscriptions/testingpythonsdksubscription/rules/testingpythonsdkrule","name":"testingpythonsdkrule","type":"Microsoft.ServiceBus/Namespaces/Topics/Subscriptions/Rules","location":"West
        US","properties":{"action":{},"filterType":"SqlFilter","sqlFilter":{"sqlExpression":"myproperty=''test''","compatibilityLevel":20}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule?api-version=2017-04-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_subscription_rule_test_sb_rule_curdd7b71c54/providers/Microsoft.ServiceBus/namespaces/testingpythontestcaserule/operationresults/testingpythontestcaserule?api-version=2017-04-01']
      server-sb: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
version: 1
