interactions:
- request:
    body: '{"location": "westus", "tags": {"tag1": "value1", "tag2": "value2"}, "sku":
      {"name": "Standard"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_test_sb_topic_curd29a11520/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasetopic?api-version=2017-04-01
  response:
    body: {string: '{"sku":{"name":"Standard","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_test_sb_topic_curd29a11520/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasetopic","name":"testingpythontestcasetopic","type":"Microsoft.ServiceBus/Namespaces","location":"West
        US","tags":{"tag1":"value1","tag2":"value2"},"properties":{"provisioningState":"Created","metricId":"00000000-0000-0000-0000-000000000000:testingpythontestcasetopic","createdAt":"2018-04-21T00:33:59.467Z","updatedAt":"2018-04-21T00:33:59.467Z","serviceBusEndpoint":"https://testingpythontestcasetopic.servicebus.windows.net:443/","status":"Activating"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_test_sb_topic_curd29a11520/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasetopic/topics/testingpythonsdktopic?api-version=2017-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_test_sb_topic_curd29a11520/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasetopic/topics/testingpythonsdktopic","name":"testingpythonsdktopic","type":"Microsoft.ServiceBus/Namespaces/Topics","location":"West
        US","properties":{"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","maxSizeInMegabytes":5120,"requiresDuplicateDetection":false,"duplicateDetectionHistoryTimeWindow":"PT10M","enableBatchedOperations":true,"sizeInBytes":0,"status":"Active","supportOrdering":true,"autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"createdAt":"2018-04-21T00:34:34.043Z","updatedAt":"2018-04-21T00:34:34.183Z","accessedAt":"0001-01-01T00:00:00","subscriptionCount":0,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_test_sb_topic_curd29a11520/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasetopic/topics?api-version=2017-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_test_sb_topic_curd29a11520/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasetopic/topics/testingpythonsdktopic","name":"testingpythonsdktopic","type":"Microsoft.ServiceBus/Namespaces/Topics","location":"West
        US","properties":{"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","maxSizeInMegabytes":5120,"requiresDuplicateDetection":false,"duplicateDetectionHistoryTimeWindow":"PT10M","enableBatchedOperations":true,"sizeInBytes":0,"status":"Active","supportOrdering":true,"autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"createdAt":"2018-04-21T00:34:34.043Z","updatedAt":"2018-04-21T00:34:34.183Z","accessedAt":"0001-01-01T00:00:00Z","subscriptionCount":0,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0}}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-inline-count: ['']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"rights": ["Send", "Listen"]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_test_sb_topic_curd29a11520/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasetopic/topics/testingpythonsdktopic/authorizationRules/testingauthrulepy?api-version=2017-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_test_sb_topic_curd29a11520/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasetopic/topics/testingpythonsdktopic/authorizationRules/testingauthrulepy","name":"testingauthrulepy","type":"Microsoft.ServiceBus/Namespaces/Topics/AuthorizationRules","location":"West
        US","properties":{"rights":["Send","Listen"]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_test_sb_topic_curd29a11520/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasetopic/topics/testingpythonsdktopic/authorizationRules?api-version=2017-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_test_sb_topic_curd29a11520/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasetopic/topics/testingpythonsdktopic/authorizationRules/testingauthrulepy","name":"testingauthrulepy","type":"Microsoft.ServiceBus/Namespaces/Topics/AuthorizationRules","location":"West
        US","properties":{"rights":["Send","Listen","Manage"]}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_test_sb_topic_curd29a11520/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasetopic/topics/testingpythonsdktopic/authorizationRules/testingauthrulepy/ListKeys?api-version=2017-04-01
  response:
    body: {string: '{"primaryConnectionString":"Endpoint=sb://testingpythontestcasetopic.servicebus.windows.net/;SharedAccessKeyName=testingauthrulepy;SharedAccessKey=EJRFXg6APMBOguIn7f5hXTyCmbAjLjQRmNDDcwsb6go=;EntityPath=testingpythonsdktopic","secondaryConnectionString":"Endpoint=sb://testingpythontestcasetopic.servicebus.windows.net/;SharedAccessKeyName=testingauthrulepy;SharedAccessKey=qYH1bp0447J9CVqYejVR3MODJGKcJPG2Sel6buReH9Q=;EntityPath=testingpythonsdktopic","primaryKey":"EJRFXg6APMBOguIn7f5hXTyCmbAjLjQRmNDDcwsb6go=","secondaryKey":"qYH1bp0447J9CVqYejVR3MODJGKcJPG2Sel6buReH9Q=","keyName":"testingauthrulepy"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: '{"keyType": "PrimaryKey"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_test_sb_topic_curd29a11520/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasetopic/topics/testingpythonsdktopic/authorizationRules/testingauthrulepy/regenerateKeys?api-version=2017-04-01
  response:
    body: {string: '{"primaryConnectionString":"Endpoint=sb://testingpythontestcasetopic.servicebus.windows.net/;SharedAccessKeyName=testingauthrulepy;SharedAccessKey=guBMVKlg99ZciGOi4uXNsy9rf0RrOazg1CTNaCq6DqU=;EntityPath=testingpythonsdktopic","secondaryConnectionString":"Endpoint=sb://testingpythontestcasetopic.servicebus.windows.net/;SharedAccessKeyName=testingauthrulepy;SharedAccessKey=qYH1bp0447J9CVqYejVR3MODJGKcJPG2Sel6buReH9Q=;EntityPath=testingpythonsdktopic","primaryKey":"guBMVKlg99ZciGOi4uXNsy9rf0RrOazg1CTNaCq6DqU=","secondaryKey":"qYH1bp0447J9CVqYejVR3MODJGKcJPG2Sel6buReH9Q=","keyName":"testingauthrulepy"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_topic_test_sb_topic_curd29a11520/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasetopic/operationresults/testingpythontestcasetopic?api-version=2017-04-01
  response:
    body: {string: ''}
    headers:
      server-sb: [Service-Bus-Resource-Provider/CH3]
    status: {code: 200, message: OK}
version: 1
