interactions:
- request:
    body: ''
    headers:
    method: POST
    uri: https://communicatione17a1886.communication.azure.com/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions: 2020-07-20-preview1, 2020-07-20-preview2
      content-type: application/json; charset=utf-8
      ms-cv: hSI3h4dFs0SEcyBP98YVKQ.0
      x-processing-time: 81ms
    status:
      code: 200
      message: OK
    url: https://communicatione17a1886.communication.azure.com/identities?api-version=2020-07-20-preview2
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicatione17a1886.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-10-09T20:36:28.6505114+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview1, 2020-07-20-preview2
      content-type: application/json; charset=utf-8
      ms-cv: FfDOZdjZfU6RgYgmAqYdag.0
      x-processing-time: 31ms
    status:
      code: 200
      message: OK
    url: https://communicatione17a1886.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://communicatione17a1886.communication.azure.com/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv: /cIh9eWlCEq+ofGXHGTE9Q.0
      x-processing-time: 9ms
    status:
      code: 204
      message: No Content
    url: https://communicatione17a1886.communication.azure.com/identities/sanitized?api-version=2020-07-20-preview2
version: 1
