interactions:
- request:
    body: ''
    headers:
    method: POST
    uri: https://communicationb11717b0.communication.azure.com/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions: 2020-07-20-preview1, 2020-07-20-preview2
      content-type: application/json; charset=utf-8
      ms-cv: FKV3dSgE8kSnRREVag7ptQ.0
      x-processing-time: 85ms
    status:
      code: 200
      message: OK
    url: https://communicationb11717b0.communication.azure.com/identities?api-version=2020-07-20-preview2
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://communicationb11717b0.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-10-09T20:35:23.8641285+00:00"}'
    headers:
      api-supported-versions: 2020-07-20-preview1, 2020-07-20-preview2
      content-type: application/json; charset=utf-8
      ms-cv: NU8uHE1Vj0abYa2HA3ULdA.0
      x-processing-time: 33ms
    status:
      code: 200
      message: OK
    url: https://communicationb11717b0.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
version: 1
