{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/organizations/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/organizations/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/{tenantid}/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/organizations/kerberos",
        "tenant_region_scope": null,
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/organizations/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "X-AnchorMailbox": "Oid:df428e89-1bc2-4e72-b736-032c31a6cd97@8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|169,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.22.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=04b07795-8ddb-461a-bbee-02f9e1bf7b46\u0026grant_type=authorization_code\u0026client_info=1\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026code_verifier=jNHGMREux0~Q-92aCdSWhwnpBZ8qTlFtPY1cmK5zDA3\u0026code=0.AQEAHN-yiojtRkmoqeG7s-TR_ZV3sATbjRpGu-4C-eG_e0YaANg.AgABAAIAAAD--DLA3VO7QrddgJg7WevrAgDs_wUA9P_9WdsqobNyjUKldnKFCOkbwKXPBYZpnaf1kSGWSvag459EnEmjI7ZsnyNczLiXN[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/catalogs/sdk-default-catalog?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-05T15:58:52.8392631Z"
      },
      "ResponseBody": {
        "name": "sdk-default-catalog"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/catalogs?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-05T15:58:53.0813622Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "sdk-default-catalog"
          }
        ]
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/catalogs/sdk-default-catalog/environmentDefinitions/Sandbox?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-05T15:58:53.2459114Z"
      },
      "ResponseBody": {
        "id": "/projects/proj-sdk-tests/catalogs/sdk-default-catalog/environmentDefinitions/sandbox",
        "name": "Sandbox",
        "catalogName": "sdk-default-catalog",
        "description": "Deploys an empty sandbox environment",
        "parameters": [],
        "parametersSchema": "{\u0022type\u0022:\u0022object\u0022}",
        "templatePath": "Environments/Sandbox/azuredeploy.json"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/environmentDefinitions?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-05T15:58:52.8392631Z"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/projects/proj-sdk-tests/catalogs/sdk-default-catalog/environmentDefinitions/functionapp",
            "name": "FunctionApp",
            "catalogName": "sdk-default-catalog",
            "description": "Deploys an Azure Function App, Storage Account, and Application Insights",
            "parameters": [
              {
                "id": "name",
                "name": "Name",
                "description": "Name of the Function App.",
                "type": "string",
                "readOnly": false,
                "required": true,
                "allowed": []
              },
              {
                "id": "supportsHttpsTrafficOnly",
                "name": "Supports Https Traffic Only",
                "description": "Allows https traffic only to Storage Account and Functions App if set to true.",
                "type": "boolean",
                "readOnly": false,
                "required": false,
                "allowed": []
              },
              {
                "id": "runtime",
                "name": "Runtime",
                "description": "The language worker runtime to load in the function app.",
                "default": "dotnet-isolated",
                "type": "string",
                "readOnly": false,
                "required": false,
                "allowed": [
                  "dotnet",
                  "dotnet-isolated",
                  "java",
                  "node",
                  "powershell",
                  "python"
                ]
              }
            ],
            "parametersSchema": "{\u0022type\u0022:\u0022object\u0022,\u0022properties\u0022:{\u0022name\u0022:{\u0022titl[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/catalogs/sdk-default-catalog/environmentDefinitions?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining":[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/environmentTypes?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-05T15:58:53.2459114Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "sdk-default-environment-type",
            "deploymentTargetId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1",
            "status": {}
          }
        ]
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/users/me/environments/pythonenvironment?api-version=2023-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "catalogName": "sdk-default-catalog",
        "environmentDefinitionName": "Sandbox",
        "environmentType": "sdk-default-environment-type"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/operationstatuses/287fce38-db03-4eac-9669-cfc09e6e1b2e?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/operationstatuses/287fce38-db03-4eac-9669-cfc09e6e1b2e",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2023-05-05T15:58:52.8392631Z"
      },
      "ResponseBody": {
        "name": "pythonenvironment",
        "environmentType": "sdk-default-environment-type",
        "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "provisioningState": "Succeeded",
        "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/proj-sdk-tests-pythonenvironment",
        "catalogName": "sdk-default-catalog",
        "environmentDefinitionName": "Sandbox"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/operationstatuses/287fce38-db03-4eac-9669-cfc09e6e1b2e",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/operationstatuses/287fce38-db03-4eac-9669-cfc09e6e1b2e?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/operationstatuses/287fce38-db03-4eac-9669-cfc09e6e1b2e",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2023-05-05T15:58:53.0813622Z"
      },
      "ResponseBody": {
        "id": "/projects/proj-sdk-tests/operationStatuses/287fce38-db03-4eac-9669-cfc09e6e1b2e",
        "name": "287fce38-db03-4eac-9669-cfc09e6e1b2e",
        "status": "NotStarted",
        "startTime": "2023-05-05T15:58:10.0940652\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/operationstatuses/287fce38-db03-4eac-9669-cfc09e6e1b2e",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/operationstatuses/287fce38-db03-4eac-9669-cfc09e6e1b2e?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/operationstatuses/287fce38-db03-4eac-9669-cfc09e6e1b2e",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-05T16:00:10.6704618Z"
      },
      "ResponseBody": {
        "id": "/projects/proj-sdk-tests/operationStatuses/287fce38-db03-4eac-9669-cfc09e6e1b2e",
        "name": "287fce38-db03-4eac-9669-cfc09e6e1b2e",
        "status": "Succeeded",
        "startTime": "2023-05-05T15:58:10.0940652\u002B00:00",
        "endTime": "2023-05-05T15:58:42.7932367\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/users/me/environments?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-05T16:00:10.6704618Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "pythonenvironment",
            "environmentType": "sdk-default-environment-type",
            "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
            "provisioningState": "Succeeded",
            "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/proj-sdk-tests-pythonenvironment",
            "catalogName": "sdk-default-catalog",
            "environmentDefinitionName": "Sandbox"
          }
        ]
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/environments?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-05T16:00:10.8990655Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "pythonenvironment",
            "environmentType": "sdk-default-environment-type",
            "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
            "provisioningState": "Succeeded",
            "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/proj-sdk-tests-pythonenvironment",
            "catalogName": "sdk-default-catalog",
            "environmentDefinitionName": "Sandbox"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/operationstatuses/0a0121be-c240-45b8-be08-6214cc35c698",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/operationstatuses/0a0121be-c240-45b8-be08-6214cc35c698?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-dc-sdk-tests.centraluseuap.devcenter.azure.com/projects/proj-sdk-tests/operationstatuses/0a0121be-c240-45b8-be08-6214cc35c698",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-05T16:02:38.0561658Z"
      },
      "ResponseBody": {
        "id": "/projects/proj-sdk-tests/operationStatuses/0a0121be-c240-45b8-be08-6214cc35c698",
        "name": "0a0121be-c240-45b8-be08-6214cc35c698",
        "status": "Succeeded",
        "startTime": "2023-05-05T16:00:05.5711278\u002B00:00",
        "endTime": "2023-05-05T16:01:25.308971\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
