{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/organizations/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/organizations/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/{tenantid}/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/organizations/kerberos",
        "tenant_region_scope": null,
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/organizations/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "X-AnchorMailbox": "Oid:11111111-1111-1111-1111-111111111111@8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|832,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.20.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=04b07795-8ddb-461a-bbee-02f9e1bf7b46\u0026grant_type=authorization_code\u0026client_info=1\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026code_verifier=9HJQ5FsEGBSYI8VWZq~vOfjgdtw.eyKbnxmkr1U2CXR\u0026code=0.AQEAHN-yiojtRkmoqeG7s-TR_ZV3sATbjRpGu-4C-eG_e0YaAAM.AgABAAIAAAD--DLA3VO7QrddgJg7WevrAgDs_wUA9P9AgERRsK310vxfC8ODJ6EAvf6amJCGXbHJ64L1QXMkm70kzsmXnS_e4kV20RBFW[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-default-project/users/me/environments/Dev_Environment?api-version=2022-11-11-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "catalogItemName": "Empty",
        "environmentType": "sdk-default-environment-type",
        "catalogName": "sdk-default-catalog"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-default-project/operationstatuses/b161f301-955f-47cf-8df8-bf6e29de907c?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-default-project/operationstatuses/b161f301-955f-47cf-8df8-bf6e29de907c",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-01-30T19:06:04.1617328Z"
      },
      "ResponseBody": {
        "name": "dev_environment",
        "environmentType": "sdk-default-environment-type",
        "user": "11111111-1111-1111-1111-111111111111",
        "provisioningState": "Creating",
        "catalogName": "sdk-default-catalog",
        "catalogItemName": "Empty",
        "scheduledTasks": {},
        "tags": {}
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-default-project/operationstatuses/b161f301-955f-47cf-8df8-bf6e29de907c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-default-project/operationstatuses/b161f301-955f-47cf-8df8-bf6e29de907c?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-default-project/operationstatuses/b161f301-955f-47cf-8df8-bf6e29de907c",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-01-30T19:05:52.2586424Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/b161f301-955f-47cf-8df8-bf6e29de907c",
        "name": "b161f301-955f-47cf-8df8-bf6e29de907c",
        "status": "NotStarted",
        "startTime": "2023-01-30T19:05:05.0308053\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-default-project/operationstatuses/b161f301-955f-47cf-8df8-bf6e29de907c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-default-project/operationstatuses/b161f301-955f-47cf-8df8-bf6e29de907c?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-default-project/operationstatuses/b161f301-955f-47cf-8df8-bf6e29de907c",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2023-01-30T19:07:01.0961043Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/b161f301-955f-47cf-8df8-bf6e29de907c",
        "name": "b161f301-955f-47cf-8df8-bf6e29de907c",
        "status": "Succeeded",
        "startTime": "2023-01-30T19:05:05.0308053\u002B00:00",
        "endTime": "2023-01-30T19:06:16.2749147\u002B00:00"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-default-project/users/me/environments/Dev_Environment?api-version=2022-11-11-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-01-30T19:07:36.1498596Z"
      },
      "ResponseBody": {
        "name": "dev_environment",
        "environmentType": "sdk-default-environment-type",
        "user": "11111111-1111-1111-1111-111111111111",
        "provisioningState": "Succeeded",
        "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/sdk-default-project-dev_environment",
        "catalogName": "sdk-default-catalog",
        "catalogItemName": "Empty",
        "scheduledTasks": {},
        "tags": {}
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-default-project/operationstatuses/639043f9-dea3-4fa9-bb5d-5ab3dc1c8ac0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-default-project/operationstatuses/639043f9-dea3-4fa9-bb5d-5ab3dc1c8ac0?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-default-project/operationstatuses/639043f9-dea3-4fa9-bb5d-5ab3dc1c8ac0",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "256",
        "X-Rate-Limit-Reset": "2023-01-30T19:08:45.6400918Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/639043f9-dea3-4fa9-bb5d-5ab3dc1c8ac0",
        "name": "639043f9-dea3-4fa9-bb5d-5ab3dc1c8ac0",
        "status": "Succeeded",
        "startTime": "2023-01-30T19:06:36.4551255\u002B00:00",
        "endTime": "2023-01-30T19:07:37.996616\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
