{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/organizations/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/organizations/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/{tenantid}/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/organizations/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/organizations/kerberos",
        "tenant_region_scope": null,
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/organizations/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "X-AnchorMailbox": "Oid:11111111-1111-1111-1111-111111111111@8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|832,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.20.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=04b07795-8ddb-461a-bbee-02f9e1bf7b46\u0026grant_type=authorization_code\u0026client_info=1\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026code_verifier=XuFL~P97JNvUhe_RA0wzMxgjHt-cBOKb3Dsp2GCk8mI\u0026code=0.AQEAHN-yiojtRkmoqeG7s-TR_ZV3sATbjRpGu-4C-eG_e0YaAAM.AgABAAIAAAD--DLA3VO7QrddgJg7WevrAgDs_wUA9P8D2SghVV1le1n7f0WejhY0eIJJZ-fxkxY1wy3ZjTLNdI-Zyc7v7odpuY_dZ9Np_[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/users/11111111-1111-1111-1111-111111111111/devboxes/Test_DevBox?api-version=2022-11-11-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "poolName": "sdk-default-pool"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/operationstatuses/7735b7fe-9867-42e4-965a-0698d0f95ed1?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/operationstatuses/7735b7fe-9867-42e4-965a-0698d0f95ed1",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-01-30T16:11:21.9926762Z"
      },
      "ResponseBody": {
        "name": "Test_DevBox",
        "projectName": "sdk-default-project",
        "poolName": "sdk-default-pool",
        "hibernateSupport": "Disabled",
        "provisioningState": "Creating",
        "actionState": "Unknown",
        "uniqueId": "2683ad62-db68-40a1-b34b-5ee3aa9b1dcf",
        "location": "eastus",
        "osType": "Windows",
        "user": "11111111-1111-1111-1111-111111111111",
        "hardwareProfile": {
          "skuName": "general_a_8c32gb_v1",
          "memoryGB": 32,
          "vCPUs": 8
        },
        "storageProfile": {
          "osDisk": {
            "diskSizeGB": 1024
          }
        },
        "imageReference": {
          "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
          "version": "1.0.0",
          "operatingSystem": "Windows11",
          "osBuildNumber": "win11-21h2-ent-cpc-m365",
          "publishedDate": "2021-10-04T00:00:00\u002B00:00"
        },
        "createdTime": "2023-01-30T16:10:22.1638225\u002B00:00",
        "localAdministrator": "Enabled"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/operationstatuses/7735b7fe-9867-42e4-965a-0698d0f95ed1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/operationstatuses/7735b7fe-9867-42e4-965a-0698d0f95ed1?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/operationstatuses/7735b7fe-9867-42e4-965a-0698d0f95ed1",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-01-30T16:11:22.4376273Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/7735b7fe-9867-42e4-965a-0698d0f95ed1",
        "name": "7735b7fe-9867-42e4-965a-0698d0f95ed1",
        "status": "NotStarted",
        "startTime": "2023-01-30T16:10:22.1789664\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/operationstatuses/7735b7fe-9867-42e4-965a-0698d0f95ed1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/operationstatuses/7735b7fe-9867-42e4-965a-0698d0f95ed1?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/operationstatuses/7735b7fe-9867-42e4-965a-0698d0f95ed1",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-01-30T16:33:34.7976004Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/7735b7fe-9867-42e4-965a-0698d0f95ed1",
        "name": "7735b7fe-9867-42e4-965a-0698d0f95ed1",
        "status": "Succeeded",
        "startTime": "2023-01-30T16:10:22.1789664\u002B00:00",
        "endTime": "2023-01-30T16:32:34.2768185\u002B00:00"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/users/11111111-1111-1111-1111-111111111111/devboxes/Test_DevBox?api-version=2022-11-11-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-01-30T16:33:35.0586280Z"
      },
      "ResponseBody": {
        "name": "Test_DevBox",
        "projectName": "sdk-default-project",
        "poolName": "sdk-default-pool",
        "hibernateSupport": "Disabled",
        "provisioningState": "Succeeded",
        "actionState": "Unknown",
        "powerState": "Running",
        "uniqueId": "2683ad62-db68-40a1-b34b-5ee3aa9b1dcf",
        "errorDetails": {},
        "location": "eastus",
        "osType": "Windows",
        "user": "11111111-1111-1111-1111-111111111111",
        "hardwareProfile": {
          "skuName": "general_a_8c32gb_v1",
          "memoryGB": 32,
          "vCPUs": 8
        },
        "storageProfile": {
          "osDisk": {
            "diskSizeGB": 1024
          }
        },
        "imageReference": {
          "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
          "version": "1.0.0",
          "operatingSystem": "Windows11",
          "osBuildNumber": "win11-21h2-ent-cpc-m365",
          "publishedDate": "2021-10-04T00:00:00\u002B00:00"
        },
        "createdTime": "2023-01-30T16:10:22.1638225\u002B00:00",
        "localAdministrator": "Enabled"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/users/me/devboxes/Test_DevBox?api-version=2022-11-11-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj[...]
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/operationstatuses/48c6aa3f-e787-4b06-ab85-a5d5196b683a",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/operationstatuses/48c6aa3f-e787-4b06-ab85-a5d5196b683a?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com//projects/sdk-default-project/operationstatuses/48c6aa3f-e787-4b06-ab85-a5d5196b683a",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-01-30T16:37:19.6857439Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/48c6aa3f-e787-4b06-ab85-a5d5196b683a",
        "name": "48c6aa3f-e787-4b06-ab85-a5d5196b683a",
        "status": "Succeeded",
        "startTime": "2023-01-30T16:32:35.4006424\u002B00:00",
        "endTime": "2023-01-30T16:36:36.9040312\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
