interactions:
- request:
    body: '{"sku": {"name": "Standard_GRS"}, "kind": "StorageV2", "location": "westeurope",
      "tags": {"key1": "value1", "key2": "value2"}, "properties": {"encryption": {"services":
      {"blob": {"enabled": true, "keyType": "Account"}, "file": {"enabled": true,
      "keyType": "Account"}}, "keySource": "Microsoft.Storage"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      content-type: text/plain; charset=utf-8
      location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westeurope/asyncoperations/d5a15cce-9bf5-4407-9fb7-9ffcea43aa3e?monitor=true&api-version=2021-04-01
      x-ms-ratelimit-remaining-subscription-writes: '1199'
    status:
      code: 202
      message: Accepted
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgpy-jhgfqvzcc33mlw4hmbxou2gk5cbpqykl4xeekxfvcqxhjt4ts3hyedix7wwanv7di73rtvf4qhv/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn?api-version=2021-04-01
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westeurope/asyncoperations/d5a15cce-9bf5-4407-9fb7-9ffcea43aa3e?monitor=true&api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\[...]
- request:
    body: '{"location": "westeurope", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virualnetwork111?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"virualnetwork111\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virualnetwork111\",\r\n
        \ \"etag\": \"W/\\\"4db979e9-52ae-4ae2-bc96-024132360115\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westeurope\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"8b110fe1-bc70-4de5-b9d4-55329320a7f1\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westeurope/operations/4dde8ea0-6fec-4ebf-a894-b46508c0f580?api-version=2020-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westeurope/operations/4dde8ea0-6fec-4ebf-a894-b46508c0f580?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24", "privateEndpointNetworkPolicies":
      "disabled", "privateLinkServiceNetworkPolicies": "disabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virualnetwork111/subnets/subnet111?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnet111\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virualnetwork111/subnets/subnet111\",\r\n
        \ \"etag\": \"W/\\\"38e312a9-8871-4c32-886a-9fbf05b7766e\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Disabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westeurope/operations/88c5a17d-faf5-415a-a9b8-5b78b0f65fc7?api-version=2020-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westeurope", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virualnetwork111/subnets/subnet111"},
      "privateLinkServiceConnections": [{"name": "myconnection", "properties": {"privateLinkServiceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn",
      "groupIds": ["blob"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/privateEndpoints/endpoint123xxx?api-version=2020-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"endpoint123xxx\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/privateEndpoints/endpoint[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/fileServices/default?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc\uD77C\\xf7\\xde{\\xef\\xbd\\xf7\\xde{\\xef\\xbd\\xf7\\xba;\\x9dN'\\xf7\\xdf\\xff?\\fd\x01l\\xf6\\xceJ\\xda\u025E!\\x80\\xaa\\xc8\x1F?~|\x1F?\"~\\xf1/\\xf9\x7F\0C\\xbf\\xa6\\xa3\x02\0\0\0"
    headers:
      content-type: application/json
      x-ms-ratelimit-remaining-subscription-writes: '1199'
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgpy-jhgfqvzcc33mlw4hmbxou2gk5cbpqykl4xeekxfvcqxhjt4ts3hyedix7wwanv7di73rtvf4qhv/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/fileServices/default?api-version=2021-04-01
- request:
    body: '{"properties": {"cors": {"corsRules": [{"allowedOrigins": ["http://www.contoso.com",
      "http://www.fabrikam.com"], "allowedMethods": ["GET", "HEAD", "POST", "OPTIONS",
      "MERGE", "PUT"], "maxAgeInSeconds": 100, "exposedHeaders": ["x-ms-meta-*"],
      "allowedHeaders": ["x-ms-meta-abc", "x-ms-meta-data*", "x-ms-meta-target*"]},
      {"allowedOrigins": ["*"], "allowedMethods": ["GET"], "maxAgeInSeconds": 2, "exposedHeaders":
      ["*"], "allowedHeaders": ["*"]}, {"allowedOrigins": ["http://www.abc23.com",
      "https://www.fabrikam.com/*"], "allowedMethods": ["GET", "PUT"], "maxAgeInSeconds":
      2000, "exposedHeaders": ["x-ms-meta-abc", "x-ms-meta-data*", "x -ms-meta-target*"],
      "allowedHeaders": ["x-ms-meta-12345675754564*"]}]}, "defaultServiceVersion":
      "2017-07-29", "deleteRetentionPolicy": {"enabled": true, "days": 300}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\x[...]
- request:
    body: '{"properties": {"source": "Microsoft.Storage", "state": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/encryptionScopes/encryptionscopexxyyzz?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/encryptionScopes/encryptionscopexxyyzz","type":"Microsoft.Storage/storageAccounts/encryptionScopes","name":"encryptionscopexxyyzz","properties":{"source":"Microsoft.Storage","keyVaultProperties":{},"creationTime":"2021-05-13T03:43:23.0451572Z","lastModifiedTime":"2021-05-13T03:43:23.0451572Z","state":"Enabled"}}'
    headers:
      content-type: application/json
      x-ms-ratelimit-remaining-subscription-writes: '1197'
    status:
      code: 201
      message: Created
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgpy-jhgfqvzcc33mlw4hmbxou2gk5cbpqykl4xeekxfvcqxhjt4ts3hyedix7wwanv7di73rtvf4qhv/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/encryptionScopes/encryptionscopexxyyzz?api-version=2021-04-01
- request:
    body: '{"properties": {"policy": {"rules": [{"enabled": true, "name": "olcmtest",
      "type": "Lifecycle", "definition": {"actions": {"baseBlob": {"tierToCool": {"daysAfterModificationGreaterThan":
      30.0}, "tierToArchive": {"daysAfterModificationGreaterThan": 90.0}, "delete":
      {"daysAfterModificationGreaterThan": 1000.0}}, "snapshot": {"delete": {"daysAfterCreationGreaterThan":
      30.0}}}, "filters": {"prefixMatch": ["olcmtestcontainer"], "blobTypes": ["blockBlob"]}}}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/managementPolicies/default?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\[...]
[...]
- request:
    body: '{"properties": {"privateLinkServiceConnectionState": {"status": "Rejected",
      "description": "Auto-Approved"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/privateEndpointConnections/storageaccountxxyyzznzn.301dd949-5fe7-444c-9357-84a6635ee140?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz","name":"containernamexxyyzz","type":"Microsoft.Storage/storageAccounts/blobServices/containers"}'
    headers:
      content-type: application/json
      etag: '"0x8D915C145FEE3DD"'
      x-ms-ratelimit-remaining-subscription-writes: '1194'
    status:
      code: 201
      message: Created
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgpy-jhgfqvzcc33mlw4hmbxou2gk5cbpqykl4xeekxfvcqxhjt4ts3hyedix7wwanv7di73rtvf4qhv/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz?api-version=2021-04-01
- request:
    body: '{"properties": {"immutabilityPeriodSinceCreationInDays": 3, "allowProtectedAppendWrites":
      true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz/immutabilityPolicies/default?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\[...]
- request:
    body: null
    headers:
      If-Match:
      - '"8d915c1462b7d49"'
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz/immutabilityPolicies/default?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe][...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/privateLinkResources?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/encryptionScopes?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc\uD7[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc\uD77C\\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/fileServices?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc\uD77C\\[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc\uD77C\\xf7\\xde{\\xef\\xbd\\xf7\\xde{\\xef\\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westeurope/usages?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc\uD77C\\xf7\\xde{\\xef\\xbd\\xf7\\xde{\\xef\\xbd\\xf7\\xba;\\x9dN'\\xf7\\xdf\\xff?\\fd\x01l\\xf6\\xceJ\\xda\u025E!\\x80\\xaa\\xc8\x1F?~|\x1F?\"~\\xf1G\\x97Y\\xb9\\xce?z\\xf4\\xbd_\\xfc\\xd1zY\\xb4\x1F=\\xfa\\xe8\\xa4Z/\u06CFF\x1FM\\xd7u\\x9d/\u06DF\\x94\\xefwG\x1F\\x95\\xc5\x02\r\\xf6\\xee\\xef\\x8c>Zf\v\\xfa\u043E\\xfd\\xd1\uBDAA\\xb3\\x8b\\xfcx:\\xc5\\xdb\r\\xbd^V\u04EC,~\\x90\\xcf\x14\\x80i\\x92\\xda6\\xbf\\xe4\\x97|\\xff\\x97\\xfc?cf\x1C\u0480\0\0\0"
    headers:
      content-type: application/json
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/locations/westeurope/usages?api-version=2021-04-01
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc\uD77C\\xf7\\xde{\\xef\\xbd\\xf7\\xde{\\xef\\xbd\\xf7\\xba;\\x9dN'\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/skus?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc\uD77C\\xf7\\xde{\\xef\\xbd\\xf7\\xde{\\xef\\xbd\\xf7\\xba;\\x9dN'\\xf7\\xdf\\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Storage/operations?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc\uD77C\\xf7\\xde{\\xef\\xbd\\xf7\\xde{\\xef\\xbd\\xf7\\xba;\\x9dN'\\xf7\\xdf\\xff?\\fd\x01l\\xf6\\xceJ\\xda\u025E!\\x80\\xa[...]
- request:
    body: '{"tags": ["tag1", "tag2", "tag3"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz/setLegalHold?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc\uD77C\\xf7\\xde{\\xef\\xbd\\xf7\\xde{\\xef\\xbd\\xf7\\xba;\\x9dN'\\xf7\\xdf\\xff?\\fd\x01l\\xf6\\xceJ\\xda\u025E!\\x80\\xaa\\xc8\x1F?~|\x1F?\"~\\xf1G\\xf3\\xacy\\x9e_d\u5DEBr\\xf6\u0463\\xb6^\u78CF\\xda\\xec\\xa2\\xf9\\xe8\\xd1\\xf7\\xf0s\\xf7#\\xfesO~\\xdc\\xfb\\xe8\\xfb\\xbf\\xe4\\xff\x01\u014C:<3\0\0\0"
    headers:
      content-type: application/json
      x-ms-ratelimit-remaining-subscription-writes: '1199'
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgpy-jhgfqvzcc33mlw4hmbxou2gk5cbpqykl4xeekxfvcqxhjt4ts3hyedix7wwanv7di73rtvf4qhv/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz/setLegalHold?api-version=2021-04-01
- request:
    body: '{"tags": ["tag1", "tag2", "tag3"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz/clearLegalHold?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc\uD77C\\xf7\\xde{\\xef\\xbd\\xf7\\xde{\\xef\\xbd\\xf7\\xba;\\x9dN'\\xf7\\xdf\\xff?\\fd\x01l\\xf6\\xceJ\\xda\u025E!\\x80\\xaa\\xc8\x1F?~|\x1F?\"~\\xf1G\\xf3\\xacy\\x9e_d\u5DEBr\\xf6\u0463\\xf3\\xacl\\xf2\\xd1Gmv\\xd1|\\xf4\\xe8{\\xdf\\xff%\\xff\x0FV\\xb1\\xe5\x06
        \0\0\0"
    headers:
      content-type: application/json
      x-ms-ratelimit-remaining-subscription-writes: '1198'
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgpy-jhgfqvzcc33mlw4hmbxou2gk5cbpqykl4xeekxfvcqxhjt4ts3hyedix7wwanv7di73rtvf4qhv/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz/clearLegalHold?api-version=2021-04-01
- request:
    body: '{"action": "Acquire", "leaseDuration": -1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz/lease?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc\uD77C\\xf7\\xde{\\xef\\xbd\\xf7\\xde{\\xef\\xbd\\xf7\\xba;\\x9dN'\\xf7\\xdf\\xff?\\fd\x01l\\xf6\\xceJ\\xda\u025E!\\x80\\xaa\\xc8\x1F?~|\x1F?\"~\\xf1Ge\\x9e5\\xf9\\xd9\\xec\\xa3G\x1F\\xed\\xec>\\xd8}x\\xb0\\xfbp\\xfb\\xd3\\xd9\\xce\\xc3\\xed\\xfd\\xfb\u0643\\xed\\x87\x0Ff\\xfb\u06D3\\xe9l\\xb2\\xb3{\x7Fr\x7Fo\\x92\x7F\\xf4K\\xfe\x1F\\xbe\\x86Y\\x902\0\0\0"
    headers:
      content-type: application/json
      etag: '"0x8D915C14A08A57B"'
      x-ms-ratelimit-remaining-subscription-writes: '1197'
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgpy-jhgfqvzcc33mlw4hmbxou2gk5cbpqykl4xeekxfvcqxhjt4ts3hyedix7wwanv7di73rtvf4qhv/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz/lease?api-version=2021-04-01
- request:
    body: '{"action": "Break", "leaseId": "01719819-6d09-45a7-97d4-bcdb015b52be"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz/lease?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\xcc\uD77C\\xf7\\xde{\\xef\\xbd\\xf7\\xde{\\xef\\xbd\\xf7\\xba;\\x9dN'\\xf7\\xdf\\xff?\\fd\x01l\\xf6\\xceJ\\xda\u025E!\\x80\\xaa\\xc8\x1F?~|\x1F?\"~\\xf1Ge\\x9e5\\xf9\\x9bb\\x91\\xbf\u03A7\\xd5r\\xd6|\\xf4\u88DD\\x8f~\\xc9\\xff\x03\\xc6\\xc7\x10'\x18\0\0\0"
    headers:
      content-type: application/json
      etag: '"0x8D915C14A08A57B"'
      x-ms-ratelimit-remaining-subscription-writes: '1196'
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgpy-jhgfqvzcc33mlw4hmbxou2gk5cbpqykl4xeekxfvcqxhjt4ts3hyedix7wwanv7di73rtvf4qhv/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz/lease?api-version=2021-04-01
- request:
    body: '{"properties": {"publicAccess": "Container", "metadata": {"metadata": "true"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/revokeUserDelegationKeys?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      content-type: text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes: '1195'
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/rgpy-jhgfqvzcc33mlw4hmbxou2gk5cbpqykl4xeekxfvcqxhjt4ts3hyedix7wwanv7di73rtvf4qhv/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/revokeUserDelegationKeys?api-version=2021-04-01
- request:
    body: '{"keyName": "key2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/regenerateKey?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/listKeys?api-version=2021-04-01&$expand=kerb
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd7\\xe0t\\xa1\b\\x80`\x13$\u0610@\x10\\xec\\xc1\\x88\\xcd\\xe6\\x92\\xec\x1DiG#)\\xab*\\x81\\xcaeVe]f\x16@\\x[...]
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"8d915c1469203c0"'
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz/immutabilityPolicies/default/lock?api-version=2021-04-01
  response:
    body:
      string: "\x1F\\x8b\b\0\0\0\0\0\x04\0\\xed\\xbd\a`\x1CI\\x96%&/m\\xca{\x7FJ\\xf5J\\xd[...]
- request:
    body: '{"properties": {"immutabilityPeriodSinceCreationInDays": 100}}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"8d915c14bb89984"'
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storageaccountxxyyzznzn/blobServices/default/containers/containernamexxyyzz/immutabilityPolicies/default/extend?api-version=2021-04-01
  res[...]
- request:
    body: '{"name": "sto3363", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2021-04-01
  response:
    body:
[...]
