-e ../../../tools/azure-sdk-tools
-e ../../core/azure-core
-e ../../keyvault/azure-keyvault-keys
-e ../../keyvault/azure-mgmt-keyvault
azure-mgmt-loganalytics==2.0.0
-e ../../resources/azure-mgmt-msi/
-e ../../../tools/azure-devtools