-e ../../../eng/tools/azure-sdk-tools
../../core/azure-core
../../keyvault/azure-keyvault-keys
../../keyvault/azure-mgmt-keyvault
../../resources/azure-mgmt-resource
../../storage/azure-mgmt-storage
azure-mgmt-loganalytics==2.0.0
../../resources/azure-mgmt-msi/
aiohttp