interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.RecoveryServices/operations?api-version=2016-08-10
  response:
    body:
      string: '{"value":[{"name":"Microsoft.RecoveryServices/Locations/backupPreValidateProtection/action","display":{"provider":"Microsoft.RecoveryServices","resource":"PreValidate
        Protection","operation":"Pre Validate Enable Protection","description":""},"origin":"user"},{"name":"Microsoft.RecoveryServices/Locations/backupProtectedItem/write","display":{"provider":"Microsoft.RecoveryServices","resource":"Protected
        Items","operation":"Create Backup Protected Item","description":"Create a
        backup Protected Item"},"origin":"user"},{"name":"Microsoft.RecoveryServices/Locations/backupProtectedItems/read","display":{"provider":"Microsoft.RecoveryServices","resource":"Protected
        Items","operation":"Get All Protected Items","description":"R[...]
