-e ../../../tools/azure-devtools
../../core/azure-core
-e ../../identity/azure-identity
-e ../azure-mgmt-keyvault
-e ../../../tools/azure-sdk-tools
../../nspkg/azure-keyvault-nspkg
aiohttp>=3.0
parameterized>=0.7.3
