-e ../../../tools/azure-devtools
../../core/azure-core
-e ../../identity/azure-identity
-e ../../../tools/azure-sdk-tools
../../nspkg/azure-keyvault-nspkg
aiohttp>=3.0
azure-mgmt-core==1.3.0
azure-mgmt-keyvault==10.0.0
parameterized>=0.7.3
