# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse

from .. import models as _models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, IO, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class ServiceFabricClientAPIsOperationsMixin(object):

    def get_cluster_manifest(
        self,
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.ClusterManifest"
        """Get the Service Fabric cluster manifest.

        Get the Service Fabric cluster manifest. The cluster manifest contains properties of the
        cluster that include different node types on the cluster,
        security configurations, fault, and upgrade domain topologies, etc.

        These properties are specified as part of the ClusterConfig.JSON file while deploying a
        stand-alone cluster. However, most of the information in the cluster manifest
        is generated internally by service fabric during cluster deployment in other deployment
        scenarios (e.g. when using Azure portal).

        The contents of the cluster manifest are for informational purposes only and users are not
        expected to take a dependency on the format of the file contents or its interpretation.

        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ClusterManifest, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.ClusterManifest
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.ClusterManifest"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.get_cluster_manifest.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('ClusterManifest', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_cluster_manifest.metadata = {'url': '/$/GetClusterManifest'}  # type: ignore

    def get_cluster_health(
        self,
        nodes_health_state_filter=0,  # type: Optional[int]
        applications_health_state_filter=0,  # type: Optional[int]
        events_health_state_filter=0,  # type: Optional[int]
        exclude_health_statistics=False,  # type: Optional[bool]
        include_system_application_health_statistics=False,  # type: Optional[bool]
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.ClusterHealth"
        """Gets the health of a Service Fabric cluster.

        Use EventsHealthStateFilter to filter the collection of health events reported on the cluster
        based on the health state.
        Similarly, use NodesHealthStateFilter and ApplicationsHealthStateFilter to filter the
        collection of nodes and applications returned based on their aggregated health state.

        :param nodes_health_state_filter: Allows filtering of the node health state objects returned in
         the result of cluster health query
         based on their health state. The possible values for this parameter include integer value of
         one of the
         following health states. Only nodes that match the filter are returned. All nodes are used to
         evaluate the aggregated health state.
         If not specified, all entries are returned.
         The state values are flag-based enumeration, so the value could be a combination of these
         values obtained using bitwise 'OR' operator.
         For example, if the provided value is 6 then health state of nodes with HealthState value of
         OK (2) and Warning (4) are returned.


         * Default - Default value. Matches any HealthState. The value is zero.
         * None - Filter that doesn't match any HealthState value. Used in order to return no results
         on a given collection of states. The value is 1.
         * Ok - Filter that matches input with HealthState value Ok. The value is 2.
         * Warning - Filter that matches input with HealthState value Warning. The value is 4.
         * Error - Filter that matches input with HealthState value Error. The value is 8.
         * All - Filter that matches input with any HealthState value. The value is 65535.
        :type nodes_health_state_filter: int
        :param applications_health_state_filter: Allows filtering of the application health state
         objects returned in the result of cluster health
         query based on their health state.
         The possible values for this parameter include integer value obtained from members or bitwise
         operations
         on members of HealthStateFilter enumeration. Only applications that match the filter are
         returned.
         All applications are used to evaluate the aggregated health state. If not specified, all
         entries are returned.
         The state values are flag-based enumeration, so the value could be a combination of these
         values obtained using bitwise 'OR' operator.
         For example, if the provided value is 6 then health state of applications with HealthState
         value of OK (2) and Warning (4) are returned.


         * Default - Default value. Matches any HealthState. The value is zero.
         * None - Filter that doesn't match any HealthState value. Used in order to return no results
         on a given collection of states. The value is 1.
         * Ok - Filter that matches input with HealthState value Ok. The value is 2.
         * Warning - Filter that matches input with HealthState value Warning. The value is 4.
         * Error - Filter that matches input with HealthState value Error. The value is 8.
         * All - Filter that matches input with any HealthState value. The value is 65535.
        :type applications_health_state_filter: int
        :param events_health_state_filter: Allows filtering the collection of HealthEvent objects
         returned based on health state.
         The possible values for this parameter include integer value of one of the following health
         states.
         Only events that match the filter are returned. All events are used to evaluate the aggregated
         health state.
         If not specified, all entries are returned. The state values are flag-based enumeration, so
         the value could be a combination of these values, obtained using the bitwise 'OR' operator. For
         example, If the provided value is 6 then all of the events with HealthState value of OK (2) and
         Warning (4) are returned.


         * Default - Default value. Matches any HealthState. The value is zero.
         * None - Filter that doesn't match any HealthState value. Used in order to return no results
         on a given collection of states. The value is 1.
         * Ok - Filter that matches input with HealthState value Ok. The value is 2.
         * Warning - Filter that matches input with HealthState value Warning. The value is 4.
         * Error - Filter that matches input with HealthState value Error. The value is 8.
         * All - Filter that matches input with any HealthState value. The value is 65535.
        :type events_health_state_filter: int
        :param exclude_health_statistics: Indicates whether the health statistics should be returned as
         part of the query result. False by default.
         The statistics show the number of children entities in health state Ok, Warning, and Error.
        :type exclude_health_statistics: bool
        :param include_system_application_health_statistics: Indicates whether the health statistics
         should include the fabric:/System application health statistics. False by default.
         If IncludeSystemApplicationHealthStatistics is set to true, the health statistics include the
         entities that belong to the fabric:/System application.
         Otherwise, the query result includes health statistics only for user applications.
         The health statistics must be included in the query result for this parameter to be applied.
        :type include_system_application_health_statistics: bool
        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ClusterHealth, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.ClusterHealth
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.ClusterHealth"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.get_cluster_health.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if nodes_health_state_filter is not None:
            query_parameters['NodesHealthStateFilter'] = self._serialize.query("nodes_health_state_filter", nodes_health_state_filter, 'int')
        if applications_health_state_filter is not None:
            query_parameters['ApplicationsHealthStateFilter'] = self._serialize.query("applications_health_state_filter", applications_health_state_filter, 'int')
        if events_health_state_filter is not None:
            query_parameters['EventsHealthStateFilter'] = self._serialize.query("events_health_state_filter", events_health_state_filter, 'int')
        if exclude_health_statistics is not None:
            query_parameters['ExcludeHealthStatistics'] = self._serialize.query("exclude_health_statistics", exclude_health_statistics, 'bool')
        if include_system_application_health_statistics is not None:
            query_parameters['IncludeSystemApplicationHealthStatistics'] = self._serialize.query("include_system_application_health_statistics", include_system_application_health_statistics, 'bool')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('ClusterHealth', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_cluster_health.metadata = {'url': '/$/GetClusterHealth'}  # type: ignore

    def get_cluster_health_using_policy(
        self,
        nodes_health_state_filter=0,  # type: Optional[int]
        applications_health_state_filter=0,  # type: Optional[int]
        events_health_state_filter=0,  # type: Optional[int]
        exclude_health_statistics=False,  # type: Optional[bool]
        include_system_application_health_statistics=False,  # type: Optional[bool]
        timeout=60,  # type: Optional[int]
        application_health_policy_map=None,  # type: Optional[List["_models.ApplicationHealthPolicyMapItem"]]
        cluster_health_policy=None,  # type: Optional["_models.ClusterHealthPolicy"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.ClusterHealth"
        """Gets the health of a Service Fabric cluster using the specified policy.

        Use EventsHealthStateFilter to filter the collection of health events reported on the cluster
        based on the health state.
        Similarly, use NodesHealthStateFilter and ApplicationsHealthStateFilter to filter the
        collection of nodes and applications returned based on their aggregated health state.
        Use ClusterHealthPolicies to override the health policies used to evaluate the health.

        :param nodes_health_state_filter: Allows filtering of the node health state objects returned in
         the result of cluster health query
         based on their health state. The possible values for this parameter include integer value of
         one of the
         following health states. Only nodes that match the filter are returned. All nodes are used to
         evaluate the aggregated health state.
         If not specified, all entries are returned.
         The state values are flag-based enumeration, so the value could be a combination of these
         values obtained using bitwise 'OR' operator.
         For example, if the provided value is 6 then health state of nodes with HealthState value of
         OK (2) and Warning (4) are returned.


         * Default - Default value. Matches any HealthState. The value is zero.
         * None - Filter that doesn't match any HealthState value. Used in order to return no results
         on a given collection of states. The value is 1.
         * Ok - Filter that matches input with HealthState value Ok. The value is 2.
         * Warning - Filter that matches input with HealthState value Warning. The value is 4.
         * Error - Filter that matches input with HealthState value Error. The value is 8.
         * All - Filter that matches input with any HealthState value. The value is 65535.
        :type nodes_health_state_filter: int
        :param applications_health_state_filter: Allows filtering of the application health state
         objects returned in the result of cluster health
         query based on their health state.
         The possible values for this parameter include integer value obtained from members or bitwise
         operations
         on members of HealthStateFilter enumeration. Only applications that match the filter are
         returned.
         All applications are used to evaluate the aggregated health state. If not specified, all
         entries are returned.
         The state values are flag-based enumeration, so the value could be a combination of these
         values obtained using bitwise 'OR' operator.
         For example, if the provided value is 6 then health state of applications with HealthState
         value of OK (2) and Warning (4) are returned.


         * Default - Default value. Matches any HealthState. The value is zero.
         * None - Filter that doesn't match any HealthState value. Used in order to return no results
         on a given collection of states. The value is 1.
         * Ok - Filter that matches input with HealthState value Ok. The value is 2.
         * Warning - Filter that matches input with HealthState value Warning. The value is 4.
         * Error - Filter that matches input with HealthState value Error. The value is 8.
         * All - Filter that matches input with any HealthState value. The value is 65535.
        :type applications_health_state_filter: int
        :param events_health_state_filter: Allows filtering the collection of HealthEvent objects
         returned based on health state.
         The possible values for this parameter include integer value of one of the following health
         states.
         Only events that match the filter are returned. All events are used to evaluate the aggregated
         health state.
         If not specified, all entries are returned. The state values are flag-based enumeration, so
         the value could be a combination of these values, obtained using the bitwise 'OR' operator. For
         example, If the provided value is 6 then all of the events with HealthState value of OK (2) and
         Warning (4) are returned.


         * Default - Default value. Matches any HealthState. The value is zero.
         * None - Filter that doesn't match any HealthState value. Used in order to return no results
         on a given collection of states. The value is 1.
         * Ok - Filter that matches input with HealthState value Ok. The value is 2.
         * Warning - Filter that matches input with HealthState value Warning. The value is 4.
         * Error - Filter that matches input with HealthState value Error. The value is 8.
         * All - Filter that matches input with any HealthState value. The value is 65535.
        :type events_health_state_filter: int
        :param exclude_health_statistics: Indicates whether the health statistics should be returned as
         part of the query result. False by default.
         The statistics show the number of children entities in health state Ok, Warning, and Error.
        :type exclude_health_statistics: bool
        :param include_system_application_health_statistics: Indicates whether the health statistics
         should include the fabric:/System application health statistics. False by default.
         If IncludeSystemApplicationHealthStatistics is set to true, the health statistics include the
         entities that belong to the fabric:/System application.
         Otherwise, the query result includes health statistics only for user applications.
         The health statistics must be included in the query result for this parameter to be applied.
        :type include_system_application_health_statistics: bool
        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :param application_health_policy_map: Defines a map that contains specific application health
         policies for different applications.
         Each entry specifies as key the application name and as value an ApplicationHealthPolicy used
         to evaluate the application health.
         If an application is not specified in the map, the application health evaluation uses the
         ApplicationHealthPolicy found in its application manifest or the default application health
         policy (if no health policy is defined in the manifest).
         The map is empty by default.
        :type application_health_policy_map: list[~azure.servicefabric.models.ApplicationHealthPolicyMapItem]
        :param cluster_health_policy: Defines a health policy used to evaluate the health of the
         cluster or of a cluster node.
        :type cluster_health_policy: ~azure.servicefabric.models.ClusterHealthPolicy
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ClusterHealth, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.ClusterHealth
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.ClusterHealth"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        _cluster_health_policies = _models.ClusterHealthPolicies(application_health_policy_map=application_health_policy_map, cluster_health_policy=cluster_health_policy)
        api_version = "8.0"
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.get_cluster_health_using_policy.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if nodes_health_state_filter is not None:
            query_parameters['NodesHealthStateFilter'] = self._serialize.query("nodes_health_state_filter", nodes_health_state_filter, 'int')
        if applications_health_state_filter is not None:
            query_parameters['ApplicationsHealthStateFilter'] = self._serialize.query("applications_health_state_filter", applications_health_state_filter, 'int')
        if events_health_state_filter is not None:
            query_parameters['EventsHealthStateFilter'] = self._serialize.query("events_health_state_filter", events_health_state_filter, 'int')
        if exclude_health_statistics is not None:
            query_parameters['ExcludeHealthStatistics'] = self._serialize.query("exclude_health_statistics", exclude_health_statistics, 'bool')
        if include_system_application_health_statistics is not None:
            query_parameters['IncludeSystemApplicationHealthStatistics'] = self._serialize.query("include_system_application_health_statistics", include_system_application_health_statistics, 'bool')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        if _cluster_health_policies is not None:
            body_content = self._serialize.body(_cluster_health_policies, 'ClusterHealthPolicies')
        else:
            body_content = None
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('ClusterHealth', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_cluster_health_using_policy.metadata = {'url': '/$/GetClusterHealth'}  # type: ignore

    def get_cluster_health_chunk(
        self,
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.ClusterHealthChunk"
        """Gets the health of a Service Fabric cluster using health chunks.

        Gets the health of a Service Fabric cluster using health chunks. Includes the aggregated health
        state of the cluster, but none of the cluster entities.
        To expand the cluster health and get the health state of all or some of the entities, use the
        POST URI and specify the cluster health chunk query description.

        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ClusterHealthChunk, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.ClusterHealthChunk
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.ClusterHealthChunk"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.get_cluster_health_chunk.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('ClusterHealthChunk', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_cluster_health_chunk.metadata = {'url': '/$/GetClusterHealthChunk'}  # type: ignore

    def get_cluster_health_chunk_using_policy_and_advanced_filters(
        self,
        timeout=60,  # type: Optional[int]
        cluster_health_chunk_query_description=None,  # type: Optional["_models.ClusterHealthChunkQueryDescription"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.ClusterHealthChunk"
        """Gets the health of a Service Fabric cluster using health chunks.

        Gets the health of a Service Fabric cluster using health chunks. The health evaluation is done
        based on the input cluster health chunk query description.
        The query description allows users to specify health policies for evaluating the cluster and
        its children.
        Users can specify very flexible filters to select which cluster entities to return. The
        selection can be done based on the entities health state and based on the hierarchy.
        The query can return multi-level children of the entities based on the specified filters. For
        example, it can return one application with a specified name, and for this application, return
        only services that are in Error or Warning, and all partitions and replicas for one of these
        services.

        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :param cluster_health_chunk_query_description: Describes the cluster and application health
         policies used to evaluate the cluster health and the filters to select which cluster entities
         to be returned.
         If the cluster health policy is present, it is used to evaluate the cluster events and the
         cluster nodes. If not present, the health evaluation uses the cluster health policy defined in
         the cluster manifest or the default cluster health policy.
         By default, each application is evaluated using its specific application health policy,
         defined in the application manifest, or the default health policy, if no policy is defined in
         manifest.
         If the application health policy map is specified, and it has an entry for an application, the
         specified application health policy
         is used to evaluate the application health.
         Users can specify very flexible filters to select which cluster entities to include in
         response. The selection can be done based on the entities health state and based on the
         hierarchy.
         The query can return multi-level children of the entities based on the specified filters. For
         example, it can return one application with a specified name, and for this application, return
         only services that are in Error or Warning, and all partitions and replicas for one of these
         services.
        :type cluster_health_chunk_query_description: ~azure.servicefabric.models.ClusterHealthChunkQueryDescription
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ClusterHealthChunk, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.ClusterHealthChunk
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.ClusterHealthChunk"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.get_cluster_health_chunk_using_policy_and_advanced_filters.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        if cluster_health_chunk_query_description is not None:
            body_content = self._serialize.body(cluster_health_chunk_query_description, 'ClusterHealthChunkQueryDescription')
        else:
            body_content = None
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('ClusterHealthChunk', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_cluster_health_chunk_using_policy_and_advanced_filters.metadata = {'url': '/$/GetClusterHealthChunk'}  # type: ignore

    def report_cluster_health(
        self,
        health_information,  # type: "_models.HealthInformation"
        immediate=False,  # type: Optional[bool]
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Sends a health report on the Service Fabric cluster.

        Sends a health report on a Service Fabric cluster. The report must contain the information
        about the source of the health report and property on which it is reported.
        The report is sent to a Service Fabric gateway node, which forwards to the health store.
        The report may be accepted by the gateway, but rejected by the health store after extra
        validation.
        For example, the health store may reject the report because of an invalid parameter, like a
        stale sequence number.
        To see whether the report was applied in the health store, run GetClusterHealth and check that
        the report appears in the HealthEvents section.

        :param health_information: Describes the health information for the health report. This
         information needs to be present in all of the health reports sent to the health manager.
        :type health_information: ~azure.servicefabric.models.HealthInformation
        :param immediate: A flag that indicates whether the report should be sent immediately.
         A health report is sent to a Service Fabric gateway Application, which forwards to the health
         store.
         If Immediate is set to true, the report is sent immediately from HTTP Gateway to the health
         store, regardless of the fabric client settings that the HTTP Gateway Application is using.
         This is useful for critical reports that should be sent as soon as possible.
         Depending on timing and other conditions, sending the report may still fail, for example if
         the HTTP Gateway is closed or the message doesn't reach the Gateway.
         If Immediate is set to false, the report is sent based on the health client settings from the
         HTTP Gateway. Therefore, it will be batched according to the HealthReportSendInterval
         configuration.
         This is the recommended setting because it allows the health client to optimize health
         reporting messages to health store as well as health report processing.
         By default, reports are not sent immediately.
        :type immediate: bool
        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.report_cluster_health.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if immediate is not None:
            query_parameters['Immediate'] = self._serialize.query("immediate", immediate, 'bool')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(health_information, 'HealthInformation')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        if cls:
            return cls(pipeline_response, None, {})

    report_cluster_health.metadata = {'url': '/$/ReportClusterHealth'}  # type: ignore

    def get_provisioned_fabric_code_version_info_list(
        self,
        code_version=None,  # type: Optional[str]
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> List["_models.FabricCodeVersionInfo"]
        """Gets a list of fabric code versions that are provisioned in a Service Fabric cluster.

        Gets a list of information about fabric code versions that are provisioned in the cluster. The
        parameter CodeVersion can be used to optionally filter the output to only that particular
        version.

        :param code_version: The product version of Service Fabric.
        :type code_version: str
        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of FabricCodeVersionInfo, or the result of cls(response)
        :rtype: list[~azure.servicefabric.models.FabricCodeVersionInfo]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["_models.FabricCodeVersionInfo"]]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.get_provisioned_fabric_code_version_info_list.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if code_version is not None:
            query_parameters['CodeVersion'] = self._serialize.query("code_version", code_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('[FabricCodeVersionInfo]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_provisioned_fabric_code_version_info_list.metadata = {'url': '/$/GetProvisionedCodeVersions'}  # type: ignore

    def get_provisioned_fabric_config_version_info_list(
        self,
        config_version=None,  # type: Optional[str]
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> List["_models.FabricConfigVersionInfo"]
        """Gets a list of fabric config versions that are provisioned in a Service Fabric cluster.

        Gets a list of information about fabric config versions that are provisioned in the cluster.
        The parameter ConfigVersion can be used to optionally filter the output to only that particular
        version.

        :param config_version: The config version of Service Fabric.
        :type config_version: str
        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of FabricConfigVersionInfo, or the result of cls(response)
        :rtype: list[~azure.servicefabric.models.FabricConfigVersionInfo]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["_models.FabricConfigVersionInfo"]]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.get_provisioned_fabric_config_version_info_list.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if config_version is not None:
            query_parameters['ConfigVersion'] = self._serialize.query("config_version", config_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('[FabricConfigVersionInfo]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_provisioned_fabric_config_version_info_list.metadata = {'url': '/$/GetProvisionedConfigVersions'}  # type: ignore

    def get_cluster_upgrade_progress(
        self,
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.ClusterUpgradeProgressObject"
        """Gets the progress of the current cluster upgrade.

        Gets the current progress of the ongoing cluster upgrade. If no upgrade is currently in
        progress, get the last state of the previous cluster upgrade.

        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ClusterUpgradeProgressObject, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.ClusterUpgradeProgressObject
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.ClusterUpgradeProgressObject"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.get_cluster_upgrade_progress.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('ClusterUpgradeProgressObject', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_cluster_upgrade_progress.metadata = {'url': '/$/GetUpgradeProgress'}  # type: ignore

    def get_cluster_configuration(
        self,
        configuration_api_version,  # type: str
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.ClusterConfiguration"
        """Get the Service Fabric standalone cluster configuration.

        The cluster configuration contains properties of the cluster that include different node types
        on the cluster,
        security configurations, fault, and upgrade domain topologies, etc.

        :param configuration_api_version: The API version of the Standalone cluster json configuration.
        :type configuration_api_version: str
        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ClusterConfiguration, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.ClusterConfiguration
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.ClusterConfiguration"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.get_cluster_configuration.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['ConfigurationApiVersion'] = self._serialize.query("configuration_api_version", configuration_api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('ClusterConfiguration', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_cluster_configuration.metadata = {'url': '/$/GetClusterConfiguration'}  # type: ignore

    def get_cluster_configuration_upgrade_status(
        self,
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.ClusterConfigurationUpgradeStatusInfo"
        """Get the cluster configuration upgrade status of a Service Fabric standalone cluster.

        Get the cluster configuration upgrade status details of a Service Fabric standalone cluster.

        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ClusterConfigurationUpgradeStatusInfo, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.ClusterConfigurationUpgradeStatusInfo
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.ClusterConfigurationUpgradeStatusInfo"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.get_cluster_configuration_upgrade_status.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('ClusterConfigurationUpgradeStatusInfo', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_cluster_configuration_upgrade_status.metadata = {'url': '/$/GetClusterConfigurationUpgradeStatus'}  # type: ignore

    def get_upgrade_orchestration_service_state(
        self,
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.UpgradeOrchestrationServiceState"
        """Get the service state of Service Fabric Upgrade Orchestration Service.

        Get the service state of Service Fabric Upgrade Orchestration Service. This API is internally
        used for support purposes.

        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: UpgradeOrchestrationServiceState, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.UpgradeOrchestrationServiceState
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.UpgradeOrchestrationServiceState"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.get_upgrade_orchestration_service_state.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('UpgradeOrchestrationServiceState', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_upgrade_orchestration_service_state.metadata = {'url': '/$/GetUpgradeOrchestrationServiceState'}  # type: ignore

    def set_upgrade_orchestration_service_state(
        self,
        timeout=60,  # type: Optional[int]
        service_state=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.UpgradeOrchestrationServiceStateSummary"
        """Update the service state of Service Fabric Upgrade Orchestration Service.

        Update the service state of Service Fabric Upgrade Orchestration Service. This API is
        internally used for support purposes.

        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :param service_state: The state of Service Fabric Upgrade Orchestration Service.
        :type service_state: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: UpgradeOrchestrationServiceStateSummary, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.UpgradeOrchestrationServiceStateSummary
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.UpgradeOrchestrationServiceStateSummary"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        _upgrade_orchestration_service_state = _models.UpgradeOrchestrationServiceState(service_state=service_state)
        api_version = "8.0"
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.set_upgrade_orchestration_service_state.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_upgrade_orchestration_service_state, 'UpgradeOrchestrationServiceState')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('UpgradeOrchestrationServiceStateSummary', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    set_upgrade_orchestration_service_state.metadata = {'url': '/$/SetUpgradeOrchestrationServiceState'}  # type: ignore

    def provision_cluster(
        self,
        timeout=60,  # type: Optional[int]
        code_file_path=None,  # type: Optional[str]
        cluster_manifest_file_path=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Provision the code or configuration packages of a Service Fabric cluster.

        Validate and provision the code or configuration packages of a Service Fabric cluster.

        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :param code_file_path: The cluster code package file path.
        :type code_file_path: str
        :param cluster_manifest_file_path: The cluster manifest file path.
        :type cluster_manifest_file_path: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        _provision_fabric_description = _models.ProvisionFabricDescription(code_file_path=code_file_path, cluster_manifest_file_path=cluster_manifest_file_path)
        api_version = "8.0"
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.provision_cluster.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_provision_fabric_description, 'ProvisionFabricDescription')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        if cls:
            return cls(pipeline_response, None, {})

    provision_cluster.metadata = {'url': '/$/Provision'}  # type: ignore

    def unprovision_cluster(
        self,
        timeout=60,  # type: Optional[int]
        code_version=None,  # type: Optional[str]
        config_version=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Unprovision the code or configuration packages of a Service Fabric cluster.

        It is supported to unprovision code and configuration separately.

        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :param code_version: The cluster code package version.
        :type code_version: str
        :param config_version: The cluster manifest version.
        :type config_version: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        _unprovision_fabric_description = _models.UnprovisionFabricDescription(code_version=code_version, config_version=config_version)
        api_version = "8.0"
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.unprovision_cluster.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_unprovision_fabric_description, 'UnprovisionFabricDescription')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        if cls:
            return cls(pipeline_response, None, {})

    unprovision_cluster.metadata = {'url': '/$/Unprovision'}  # type: ignore

    def rollback_cluster_upgrade(
        self,
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Roll back the upgrade of a Service Fabric cluster.

        Roll back the code or configuration upgrade of a Service Fabric cluster.

        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.rollback_cluster_upgrade.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.post(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [202]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        if cls:
            return cls(pipeline_response, None, {})

    rollback_cluster_upgrade.metadata = {'url': '/$/RollbackUpgrade'}  # type: ignore

    def resume_cluster_upgrade(
        self,
        upgrade_domain,  # type: str
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Make the cluster upgrade move on to the next upgrade domain.

        Make the cluster code or configuration upgrade move on to the next upgrade domain if
        appropriate.

        :param upgrade_domain: The next upgrade domain for this cluster upgrade.
        :type upgrade_domain: str
        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        _resume_cluster_upgrade_description = _models.ResumeClusterUpgradeDescription(upgrade_domain=upgrade_domain)
        api_version = "8.0"
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.resume_cluster_upgrade.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_resume_cluster_upgrade_description, 'ResumeClusterUpgradeDescription')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        if cls:
            return cls(pipeline_response, None, {})

    resume_cluster_upgrade.metadata = {'url': '/$/MoveToNextUpgradeDomain'}  # type: ignore

    def start_cluster_upgrade(
        self,
        start_cluster_upgrade_description,  # type: "_models.StartClusterUpgradeDescription"
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Start upgrading the code or configuration version of a Service Fabric cluster.

        Validate the supplied upgrade parameters and start upgrading the code or configuration version
        of a Service Fabric cluster if the parameters are valid.

        :param start_cluster_upgrade_description: Describes the parameters for starting a cluster
         upgrade.
        :type start_cluster_upgrade_description: ~azure.servicefabric.models.StartClusterUpgradeDescription
        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.start_cluster_upgrade.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(start_cluster_upgrade_description, 'StartClusterUpgradeDescription')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [202]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        if cls:
            return cls(pipeline_response, None, {})

    start_cluster_upgrade.metadata = {'url': '/$/Upgrade'}  # type: ignore

    def start_cluster_configuration_upgrade(
        self,
        cluster_configuration_upgrade_description,  # type: "_models.ClusterConfigurationUpgradeDescription"
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Start upgrading the configuration of a Service Fabric standalone cluster.

        Validate the supplied configuration upgrade parameters and start upgrading the cluster
        configuration if the parameters are valid.

        :param cluster_configuration_upgrade_description: Parameters for a standalone cluster
         configuration upgrade.
        :type cluster_configuration_upgrade_description: ~azure.servicefabric.models.ClusterConfigurationUpgradeDescription
        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.start_cluster_configuration_upgrade.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(cluster_configuration_upgrade_description, 'ClusterConfigurationUpgradeDescription')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [202]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        if cls:
            return cls(pipeline_response, None, {})

    start_cluster_configuration_upgrade.metadata = {'url': '/$/StartClusterConfigurationUpgrade'}  # type: ignore

    def update_cluster_upgrade(
        self,
        update_cluster_upgrade_description,  # type: "_models.UpdateClusterUpgradeDescription"
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the upgrade parameters of a Service Fabric cluster upgrade.

        Update the upgrade parameters used during a Service Fabric cluster upgrade.

        :param update_cluster_upgrade_description: Parameters for updating a cluster upgrade.
        :type update_cluster_upgrade_description: ~azure.servicefabric.models.UpdateClusterUpgradeDescription
        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_cluster_upgrade.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(update_cluster_upgrade_description, 'UpdateClusterUpgradeDescription')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        if cls:
            return cls(pipeline_response, None, {})

    update_cluster_upgrade.metadata = {'url': '/$/UpdateUpgrade'}  # type: ignore

    def get_aad_metadata(
        self,
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.AadMetadataObject"
        """Gets the Azure Active Directory metadata used for secured connection to cluster.

        Gets the Azure Active Directory metadata used for secured connection to cluster.
        This API is not supposed to be called separately. It provides information needed to set up an
        Azure Active Directory secured connection with a Service Fabric cluster.

        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: AadMetadataObject, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.AadMetadataObject
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.AadMetadataObject"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.get_aad_metadata.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('AadMetadataObject', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_aad_metadata.metadata = {'url': '/$/GetAadMetadata'}  # type: ignore

    def get_cluster_version(
        self,
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.ClusterVersion"
        """Get the current Service Fabric cluster version.

        If a cluster upgrade is happening, then this API will return the lowest (older) version of the
        current and target cluster runtime versions.

        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ClusterVersion, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.ClusterVersion
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.ClusterVersion"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.get_cluster_version.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('ClusterVersion', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_cluster_version.metadata = {'url': '/$/GetClusterVersion'}  # type: ignore

    def get_cluster_load(
        self,
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.ClusterLoadInfo"
        """Gets the load of a Service Fabric cluster.

        Retrieves the load information of a Service Fabric cluster for all the metrics that have load
        or capacity defined.

        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ClusterLoadInfo, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.ClusterLoadInfo
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.ClusterLoadInfo"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.get_cluster_load.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('ClusterLoadInfo', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_cluster_load.metadata = {'url': '/$/GetLoadInformation'}  # type: ignore

    def toggle_verbose_service_placement_health_reporting(
        self,
        enabled,  # type: bool
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Changes the verbosity of service placement health reporting.

        If verbosity is set to true, then detailed health reports will be generated when replicas
        cannot be placed or dropped.
        If verbosity is set to false, then no health reports will be generated when replicas cannot be
        placed or dropped.

        :param enabled: The verbosity of service placement health reporting.
        :type enabled: bool
        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.toggle_verbose_service_placement_health_reporting.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['Enabled'] = self._serialize.query("enabled", enabled, 'bool')
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.post(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        if cls:
            return cls(pipeline_response, None, {})

    toggle_verbose_service_placement_health_reporting.metadata = {'url': '/$/ToggleVerboseServicePlacementHealthReporting'}  # type: ignore

    def get_node_info_list(
        self,
        continuation_token_parameter=None,  # type: Optional[str]
        node_status_filter="default",  # type: Optional[Union[str, "_models.NodeStatusFilter"]]
        max_results=0,  # type: Optional[int]
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "_models.PagedNodeInfoList"
        """Gets the list of nodes in the Service Fabric cluster.

        The response includes the name, status, ID, health, uptime, and other details about the nodes.

        :param continuation_token_parameter: The continuation token parameter is used to obtain next
         set of results. A continuation token with a non-empty value is included in the response of the
         API when the results from the system do not fit in a single response. When this value is passed
         to the next API call, the API returns next set of results. If there are no further results,
         then the continuation token does not contain a value. The value of this parameter should not be
         URL encoded.
        :type continuation_token_parameter: str
        :param node_status_filter: Allows filtering the nodes based on the NodeStatus. Only the nodes
         that are matching the specified filter value will be returned. The filter value can be one of
         the following.
        :type node_status_filter: str or ~azure.servicefabric.models.NodeStatusFilter
        :param max_results: The maximum number of results to be returned as part of the paged queries.
         This parameter defines the upper bound on the number of results returned. The results returned
         can be less than the specified maximum results if they do not fit in the message as per the max
         message size restrictions defined in the configuration. If this parameter is zero or not
         specified, the paged query includes as many results as possible that fit in the return message.
        :type max_results: long
        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
        :type timeout: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: PagedNodeInfoList, or the result of cls(response)
        :rtype: ~azure.servicefabric.models.PagedNodeInfoList
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["_models.PagedNodeInfoList"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "8.0"
        accept = "application/json"

        # Construct URL
        url = self.get_node_info_list.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if continuation_token_parameter is not None:
            query_parameters['ContinuationToken'] = self._serialize.query("continuation_token_parameter", continuation_token_parameter, 'str', skip_quote=True)
        if node_status_filter is not None:
            query_parameters['NodeStatusFilter'] = self._serialize.query("node_status_filter", node_status_filter, 'str')
        if max_results is not None:
            query_parameters['MaxResults'] = self._serialize.query("max_results", max_results, 'long', minimum=0)
        if timeout is not None:
            query_parameters['timeout'] = self._serialize.query("timeout", timeout, 'long', maximum=4294967295, minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(_models.FabricError, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('PagedNodeInfoList', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_node_info_list.metadata = {'url': '/Nodes'}  # type: ignore

    def get_node_info(
        self,
        node_name,  # type: str
        timeout=60,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> Optional["_models.NodeInfo"]
        """Gets the information about a specific node in the Service Fabric cluster.

        The response includes the name, status, ID, health, uptime, and other details about the node.

        :param node_name: The name of the node.
        :type node_name: str
        :param timeout: The server timeout for performing the operation in seconds. This timeout
         specifies the time duration that the client is willing to wait for the requested operation to
         complete. The default value for this parameter is 60 seconds.
[...]
