-e ../../../tools/azure-sdk-tools
aiohttp>=3.0; python_version >= '3.5'
-e ../../../tools/azure-devtools
azure.mgmt.storage
azure.mgmt.eventhub
azure.mgmt.loganalytics
azure.mgmt.web
azure.mgmt.compute
azure.mgmt.network
azure.mgmt.applicationinsights
azure.mgmt.logic
