{
  "Entries": [
    {
      "RequestUri": "https://sb-administratorservicebus.servicebus.windows.net/$Resources/topics?$skip=0\u0026$top=100\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Ctitle type=\u0022text\u0022\u003ETopics\u003C/title\u003E\u003Cid\u003Ehttps://sb-administratorservicebus.servicebus.windows.net/$Resources/topics?$skip=0\u0026amp;$top=100\u0026amp;api-version=2021-05\u003C/id\u003E\u003Cupdated\u003E2022-04-10T06:55:00Z\u003C/updated\u003E\u003Clink rel=\u0022self\u0022 href=\u0022https://sb-administratorservicebus.servicebus.windows.net/$Resources/topics?$skip=0\u0026amp;$top=100\u0026amp;api-version=2021-05\u0022/\u003E\u003C/feed\u003E"
    },
    {
      "RequestUri": "https://sb-administratorservicebus.servicebus.windows.net/dfjfj?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003Cns0:entry xmlns:ns0=\u0022http://www.w3.org/2005/Atom\u0022 xmlns=\u0022http://schemas.microsoft.com/netservices[...]
    {
      "RequestUri": "https://sb-administratorservicebus.servicebus.windows.net/iewdm?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "If-Match": "*"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003Cns0:entry xmlns:ns0=\u0022http://www.w3.org/2005/Atom\u0022 xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\u003Cns0:content type=\u0022application/xml\u0022\u003E\u003CTopicDescription\u003E\u003CDefaultMessageTimeToLive\u003EP10675199DT2H48M5.477539S\u003C/DefaultMessageTimeToLive\u003E\u003CMaxSizeInMegabytes\u003E102[...]
[...]
    {
      "RequestUri": "https://sb-administratorservicebus.servicebus.windows.net/dfjfj?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "637851705007470000"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
