{
  "Entries": [
    {
      "RequestUri": "https://sb-administratorservicebus.servicebus.windows.net/$Resources/topics?$skip=0\u0026$top=100\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=feed; charset=utf-8"
      },
      "ResponseBody": "\u003Cfeed xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Ctitle type=\u0022text\u0022\u003ETopics\u003C/title\u003E\u003Cid\u003Ehttps://sb-administratorservicebus.servicebus.windows.net/$Resources/topics?$skip=0\u0026amp;$top=100\u0026amp;api-version=2021-05\u003C/id\u003E\u003Cupdated\u003E2022-04-10T06:54:09Z\u003C/updated\u003E\u003Clink rel=\u0022self\u0022 href=\u0022https://sb-administratorservicebus.servicebus.windows.net/$Resources/topics?$skip=0\u0026amp;$top=100\u0026amp;api-version=2021-05\u0022/\u003E\u003C/feed\u003E"
    },
    {
      "RequestUri": "https://sb-administratorservicebus.servicebus.windows.net/dfkla?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003Cns0:entry xmlns:ns0=\u0022http://www.w3.org/2005/Atom\u0022 xmlns=\u0022http://schemas.microsoft.com/netservices[...]
    {
      "RequestUri": "https://sb-administratorservicebus.servicebus.windows.net/fjrui?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003Cns0:entry xmlns:ns0=\u0022http://www.w3.org/2005/Atom\u0022 xmlns=\u0022http://schemas.microsoft.com/netservices[...]
    {
      "RequestUri": "https://sb-administratorservicebus.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003Cns0:entry xmlns:ns0=\u0022http://www.w3.org/2005/Atom\u0022 xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\u003Cns0:content type=\u0022application/xml\u0022\u003E\u003CSubscriptionDescription /\u003E\u003C/ns0:content\u003E\u003C/ns0:entry\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "ETag": "637851704508070000"
      },
      "ResponseBody": "\u003Centry xmlns=\u0022http://www.w3.org/2005/Atom\u0022\u003E\u003Cid\u003Ehttps://sb-administratorservicebus.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05\u003C/id\u003E\u003Ctitle type=\u0022text\u0022\u003Eeqkovc\u003C/title\u003E\u003Cpublished\u003E2022-04-10T06:54:11Z\u003C/published\u003E\u003Cupdated\u003E2022-04-10T06:54:11Z\u003C/updated\u003E\u003Clink rel=\u0022self\u0022 href=\u0022https://sb-administrat[...]
    {
      "RequestUri": "https://sb-administratorservicebus.servicebus.windows.net/fjrui/subscriptions/eqkovc?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml",
        "If-Match": "*"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003Cns0:entry xmlns:ns0=\u0022http://www.w3.org/2005/Atom\u0022 xmlns=\u0022http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\u0022\u003E\u003Cns0:content type=\u0022application/xml\u0022\u003E\u003CSubscriptionDescription\u003E\u003CLockDuration\u003EPT2M\u003C/LockDuration\u003E\u003CRequiresSession\u003Efalse\u003C/RequiresSession\u003E\u003CDefau[...]
    {
      "RequestUri": "https://sb-administratorservicebus.servicebus.windows.net/fjrui/subscriptions/eqkovc?enrich=false\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "ETag": "637851704508070000"
      },
      "ResponseBody": "\u003Centry xmlns=[...]
[...]
    {
      "RequestUri": "https://sb-administratorservicebus.servicebus.windows.net/dfkla?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "637851704499830000"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
