<div id="map-dialog" title="Add pushpin">
  <form name="addPushpinForm" id="addPushpinForm" action="createPushpin" method="post" enctype="multipart/form-data">
    <fieldset>
      <label for="title">Title</label><br />
      <input type="text" name="title" id="title" /><br />
      <label for="description">Description</label><br />
      <textarea name="description" id="description"></textarea><br />
      <label for="image">Image</label><br />
      <input type="file" name="image" id="image" />

      <input type="hidden" id="latitude" name="latitude" />
      <input type="hidden" id="longitude" name="longitude" />
    </fieldset>
  </form>
</div>

<div id="buttonDiv">
  <input type="button" id="clearButton" name="clearButton" value="Clear" />
</div>

<div id="map" />