<form name="setupForm" id="setupForm" action="setupPOST" method="post" enctype="multipart/form-data">
  <fieldset>
    <label for="account">Storage Account</label><br />
    <input type="text" name="account" id="account" /><br />

    <label for="accessKey">Storage Access Key</label><br />
    <input type="text" name="accessKey" id="accessKey" /><br />

    <label for="bingMapsCredentials">Bing Maps Credentials</label><br />
    <input type="text" name="bingMapsCredentials" id="bingMapsCredentials" /><br />

      <input type="submit" value="Save" />
  </fieldset>
</form>