include *.md
include LICENSE
include azure/confidentialledger/certificate/py.typed
recursive-include tests *.py
recursive-include samples *.py *.md
include azure/__init__.py
include azure/confidentialledger/__init__.py
