# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from collections.abc import MutableMapping
from io import IOBase
from typing import Any, Callable, IO, Optional, TypeVar, Union, overload

from azure.core import PipelineClient
from azure.core.exceptions import (
    ClientAuthenticationError,
    HttpResponseError,
    ResourceExistsError,
    ResourceNotFoundError,
    ResourceNotModifiedError,
    map_error,
)
from azure.core.pipeline import PipelineResponse
from azure.core.rest import HttpRequest, HttpResponse
from azure.core.tracing.decorator import distributed_trace
from azure.core.utils import case_insensitive_dict

from .. import models as _models
from .._configuration import AzureCommunicationSMSServiceConfiguration
from .._utils.serialization import Deserializer, Serializer

T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, dict[str, Any]], Any]]

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_sms_send_request(**kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2026-01-23"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/sms"

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_opt_outs_add_request(**kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2026-01-23"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/sms/optouts:add"

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_opt_outs_remove_request(**kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2026-01-23"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/sms/optouts:remove"

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_opt_outs_check_request(**kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2026-01-23"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/sms/optouts:check"

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_delivery_reports_get_request(outgoing_message_id: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2026-01-23"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/deliveryReports/{outgoingMessageId}"
    path_format_arguments = {
        "outgoingMessageId": _SERIALIZER.url("outgoing_message_id", outgoing_message_id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


class SmsOperations:
    """
    .. warning::
        **DO NOT** instantiate this class directly.

        Instead, you should access the following operations through
        :class:`~azure.communication.sms.AzureCommunicationSMSService`'s
        :attr:`sms` attribute.
    """

    models = _models

    def __init__(self, *args, **kwargs) -> None:
        input_args = list(args)
        self._client: PipelineClient = input_args.pop(0) if input_args else kwargs.pop("client")
        self._config: AzureCommunicationSMSServiceConfiguration = (
            input_args.pop(0) if input_args else kwargs.pop("config")
        )
        self._serialize: Serializer = input_args.pop(0) if input_args else kwargs.pop("serializer")
        self._deserialize: Deserializer = input_args.pop(0) if input_args else kwargs.pop("deserializer")

    @overload
    def send(
        self, send_message_request: _models.SendMessageRequest, *, content_type: str = "application/json", **kwargs: Any
    ) -> _models.SmsSendResponse:
        """Sends a SMS message from a phone number that belongs to the authenticated account.

        Sends a SMS message from a phone number that belongs to the authenticated account.

        :param send_message_request: Represents the body of the send message request. Required.
        :type send_message_request: ~azure.communication.sms.models.SendMessageRequest
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: SmsSendResponse
        :rtype: ~azure.communication.sms.models.SmsSendResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def send(
        self, send_message_request: IO[bytes], *, content_type: str = "application/json", **kwargs: Any
    ) -> _models.SmsSendResponse:
        """Sends a SMS message from a phone number that belongs to the authenticated account.

        Sends a SMS message from a phone number that belongs to the authenticated account.

        :param send_message_request: Represents the body of the send message request. Required.
        :type send_message_request: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: SmsSendResponse
        :rtype: ~azure.communication.sms.models.SmsSendResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def send(
        self, send_message_request: Union[_models.SendMessageRequest, IO[bytes]], **kwargs: Any
    ) -> _models.SmsSendResponse:
        """Sends a SMS message from a phone number that belongs to the authenticated account.

        Sends a SMS message from a phone number that belongs to the authenticated account.

        :param send_message_request: Represents the body of the send message request. Is either a
         SendMessageRequest type or a IO[bytes] type. Required.
        :type send_message_request: ~azure.communication.sms.models.SendMessageRequest or IO[bytes]
        :return: SmsSendResponse
        :rtype: ~azure.communication.sms.models.SmsSendResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.SmsSendResponse] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(send_message_request, (IOBase, bytes)):
            _content = send_message_request
        else:
            _json = self._serialize.body(send_message_request, "SendMessageRequest")

        _request = build_sms_send_request(
            content_type=content_type,
            api_version=self._config.api_version,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        path_format_arguments = {
            "endpoint": self._serialize.url("self._config.endpoint", self._config.endpoint, "str", skip_quote=True),
        }
        _request.url = self._client.format_url(_request.url, **path_format_arguments)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [202]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        deserialized = self._deserialize("SmsSendResponse", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore


class OptOutsOperations:
    """
    .. warning::
        **DO NOT** instantiate this class directly.

        Instead, you should access the following operations through
        :class:`~azure.communication.sms.AzureCommunicationSMSService`'s
        :attr:`opt_outs` attribute.
    """

    models = _models

    def __init__(self, *args, **kwargs) -> None:
        input_args = list(args)
        self._client: PipelineClient = input_args.pop(0) if input_args else kwargs.pop("client")
        self._config: AzureCommunicationSMSServiceConfiguration = (
            input_args.pop(0) if input_args else kwargs.pop("config")
        )
        self._serialize: Serializer = input_args.pop(0) if input_args else kwargs.pop("serializer")
        self._deserialize: Deserializer = input_args.pop(0) if input_args else kwargs.pop("deserializer")

    @overload
    def add(
        self, body: _models.OptOutRequest, *, content_type: str = "application/json", **kwargs: Any
    ) -> _models.OptOutResponse:
        """Add phone numbers to the optouts list which shall stop receiving messages from a sender number.

        Add phone numbers to the optouts list which shall stop receiving messages from a sender number.

        :param body: Required.
        :type body: ~azure.communication.sms.models.OptOutRequest
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: OptOutResponse
        :rtype: ~azure.communication.sms.models.OptOutResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def add(self, body: IO[bytes], *, content_type: str = "application/json", **kwargs: Any) -> _models.OptOutResponse:
        """Add phone numbers to the optouts list which shall stop receiving messages from a sender number.

        Add phone numbers to the optouts list which shall stop receiving messages from a sender number.

        :param body: Required.
        :type body: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: OptOutResponse
        :rtype: ~azure.communication.sms.models.OptOutResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def add(self, body: Union[_models.OptOutRequest, IO[bytes]], **kwargs: Any) -> _models.OptOutResponse:
        """Add phone numbers to the optouts list which shall stop receiving messages from a sender number.

        Add phone numbers to the optouts list which shall stop receiving messages from a sender number.

        :param body: Is either a OptOutRequest type or a IO[bytes] type. Required.
        :type body: ~azure.communication.sms.models.OptOutRequest or IO[bytes]
        :return: OptOutResponse
        :rtype: ~azure.communication.sms.models.OptOutResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.OptOutResponse] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(body, (IOBase, bytes)):
            _content = body
        else:
            _json = self._serialize.body(body, "OptOutRequest")

        _request = build_opt_outs_add_request(
            content_type=content_type,
            api_version=self._config.api_version,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        path_format_arguments = {
            "endpoint": self._serialize.url("self._config.endpoint", self._config.endpoint, "str", skip_quote=True),
        }
        _request.url = self._client.format_url(_request.url, **path_format_arguments)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        deserialized = self._deserialize("OptOutResponse", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @overload
    def remove(
        self, body: _models.OptOutRequest, *, content_type: str = "application/json", **kwargs: Any
    ) -> _models.OptOutResponse:
        """Remove phone numbers from the optouts list.

        Remove phone numbers from the optouts list.

        :param body: Required.
        :type body: ~azure.communication.sms.models.OptOutRequest
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: OptOutResponse
        :rtype: ~azure.communication.sms.models.OptOutResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def remove(
        self, body: IO[bytes], *, content_type: str = "application/json", **kwargs: Any
    ) -> _models.OptOutResponse:
        """Remove phone numbers from the optouts list.

        Remove phone numbers from the optouts list.

        :param body: Required.
        :type body: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: OptOutResponse
        :rtype: ~azure.communication.sms.models.OptOutResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def remove(self, body: Union[_models.OptOutRequest, IO[bytes]], **kwargs: Any) -> _models.OptOutResponse:
        """Remove phone numbers from the optouts list.

        Remove phone numbers from the optouts list.

        :param body: Is either a OptOutRequest type or a IO[bytes] type. Required.
        :type body: ~azure.communication.sms.models.OptOutRequest or IO[bytes]
        :return: OptOutResponse
        :rtype: ~azure.communication.sms.models.OptOutResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.OptOutResponse] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(body, (IOBase, bytes)):
            _content = body
        else:
            _json = self._serialize.body(body, "OptOutRequest")

        _request = build_opt_outs_remove_request(
            content_type=content_type,
            api_version=self._config.api_version,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        path_format_arguments = {
            "endpoint": self._serialize.url("self._config.endpoint", self._config.endpoint, "str", skip_quote=True),
        }
        _request.url = self._client.format_url(_request.url, **path_format_arguments)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        deserialized = self._deserialize("OptOutResponse", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @overload
    def check(
        self, body: _models.OptOutRequest, *, content_type: str = "application/json", **kwargs: Any
    ) -> _models.OptOutResponse:
        """Check the opt out status for a recipient phone number with a sender phone number.

        Check the opt out status for a recipient phone number with a sender phone number.

        :param body: Required.
        :type body: ~azure.communication.sms.models.OptOutRequest
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: OptOutResponse
        :rtype: ~azure.communication.sms.models.OptOutResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def check(
        self, body: IO[bytes], *, content_type: str = "application/json", **kwargs: Any
    ) -> _models.OptOutResponse:
        """Check the opt out status for a recipient phone number with a sender phone number.

        Check the opt out status for a recipient phone number with a sender phone number.

        :param body: Required.
        :type body: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: OptOutResponse
        :rtype: ~azure.communication.sms.models.OptOutResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def check(self, body: Union[_models.OptOutRequest, IO[bytes]], **kwargs: Any) -> _models.OptOutResponse:
        """Check the opt out status for a recipient phone number with a sender phone number.

        Check the opt out status for a recipient phone number with a sender phone number.

        :param body: Is either a OptOutRequest type or a IO[bytes] type. Required.
        :type body: ~azure.communication.sms.models.OptOutRequest or IO[bytes]
        :return: OptOutResponse
        :rtype: ~azure.communication.sms.models.OptOutResponse
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.OptOutResponse] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(body, (IOBase, bytes)):
            _content = body
        else:
            _json = self._serialize.body(body, "OptOutRequest")

        _request = build_opt_outs_check_request(
            content_type=content_type,
            api_version=self._config.api_version,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        path_format_arguments = {
            "endpoint": self._serialize.url("self._config.endpoint", self._config.endpoint, "str", skip_quote=True),
        }
        _request.url = self._client.format_url(_request.url, **path_format_arguments)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        deserialized = self._deserialize("OptOutResponse", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore


class DeliveryReportsOperations:
    """
    .. warning::
        **DO NOT** instantiate this class directly.

        Instead, you should access the following operations through
        :class:`~azure.communication.sms.AzureCommunicationSMSService`'s
        :attr:`delivery_reports` attribute.
    """

    models = _models

    def __init__(self, *args, **kwargs) -> None:
        input_args = list(args)
        self._client: PipelineClient = input_args.pop(0) if input_args else kwargs.pop("client")
        self._config: AzureCommunicationSMSServiceConfiguration = (
            input_args.pop(0) if input_args else kwargs.pop("config")
        )
        self._serialize: Serializer = input_args.pop(0) if input_args else kwargs.pop("serializer")
        self._deserialize: Deserializer = input_args.pop(0) if input_args else kwargs.pop("deserializer")

    @distributed_trace
    def get(self, outgoing_message_id: str, **kwargs: Any) -> _models.DeliveryReport:
        """Gets delivery report for a specific outgoing message.

        Gets delivery report for a specific outgoing message.

        :param outgoing_message_id: The identifier of the outgoing message. Required.
        :type outgoing_message_id: str
        :return: DeliveryReport
        :rtype: ~azure.communication.sms.models.DeliveryReport
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls: ClsType[_models.DeliveryReport] = kwargs.pop("cls", None)

        _request = build_delivery_reports_get_request(
            outgoing_message_id=outgoing_message_id,
            api_version=self._config.api_version,
            headers=_headers,
            params=_params,
        )
        path_format_arguments = {
            "endpoint": self._serialize.url("self._config.endpoint", self._config.endpoint, "str", skip_quote=True),
        }
        _request.url = self._client.format_url(_request.url, **path_format_arguments)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        deserialized = self._deserialize("DeliveryReport", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore
