{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/9fb5aa10-ecc4-4010-a23a-6fe8848cc91f",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "9fb5aa10-ecc4-4010-a23a-6fe8848cc91f",
        "name": "alertconfig06207be9-1c90-4bd3-9b8a-5bd4dc364e59",
        "description": "",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "409b5d01-a083-4f3a-bfce-a97d60dd4f4a",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "ffc3f158-e164-48b6-80e5-ada4ec6d4b2d",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "409b5d01-a083-4f3a-bfce-a97d60dd4f4a",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "409b5d01-a083-4f3a-bfce-a97d60dd4f4a",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/e2744bcb-69d8-4cb1-96c8-244b02957f58",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "9fb5aa10-ecc4-4010-a23a-6fe8848cc91f",
    "alert_config_name": "alertconfig06207be9-1c90-4bd3-9b8a-5bd4dc364e59",
    "alert_config_updated_name": "updateb13ce521-0928-47f1-81c0-6b9c6259bec5",
    "data_feed_id": "e2744bcb-69d8-4cb1-96c8-244b02957f58",
    "data_feed_metric_id": "ffc3f158-e164-48b6-80e5-ada4ec6d4b2d",
    "data_feed_name": "datafeed00d772cc-6520-4745-959e-6c126ef8afdf",
    "detection_config_id": "409b5d01-a083-4f3a-bfce-a97d60dd4f4a",
    "detection_config_name": "detectionconfig6ea9607b-f90e-4767-bb48-fa128a54b672"
  }
}
