interactions:
- request:
    body: '{"hookType": "Webhook", "hookName": "testwebhooksa36e1751", "description":
      "my web hook", "externalLink": "external link", "hookParameter": {"endpoint":
      "https://httpbin.org/post", "username": "krista", "password": "123"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location:
      - https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/a258cfa3-671c-4a5a-8d9b-ed275ad91dfe
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/a258cfa3-671c-4a5a-8d9b-ed275ad91dfe
  response:
    body:
      string: '{"hookId":"a258cfa3-671c-4a5a-8d9b-ed275ad91dfe","hookName":"testwebhooksa36e1751","hookType":"Webhook","externalLink":"external
        link","description":"my web hook","admins":["f850650c-1fcf-4489-b46f-71af2e30d360"],"hookParameter":{"endpoint":"https://httpbin.org/post","username":"krista","password":"123"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/a258cfa3-671c-4a5a-8d9b-ed275ad91dfe
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
