interactions:
- request:
    body: 'b''{"dataSourceType": "SqlServer", "dataFeedName": "datafeedforconfig6acc2ecc",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "select\\u202f*\\u202ffrom\\u202fadsample2\\u202fwhere\\u202fTimestamp\\u202f=\\u202f@StartTime"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/bd021393-1f4a-40b5-a0af-fc8708a555d1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/bd021393-1f4a-40b5-a0af-fc8708a555d1
  response:
    body:
      string: "{\"dataFeedId\":\"bd021393-1f4a-40b5-a0af-fc8708a555d1\",\"dataFeedName\":\"datafeedforconfig6acc2ecc\",\"metrics\":[{\"metricId\":\"054c4324-e01a-4877-adb9-f38a9961af21\",\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\":\"\"},{\"metricId\":\"f29cb87c-25e0-444d-b7d0-38df587ec9d5\",\"metricName\":\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\":null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\":[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\"],\"viewers\":[],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\",\"createdTime\":\"2020-09-09T22:33:21Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "multipledetectionconfigs6acc2ecc", "description": "My test metric
      anomaly detection configuration", "metricId": "054c4324-e01a-4877-adb9-f38a9961af21",
      "wholeMetricConfiguration": {"conditionOperator": "AND", "smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 50, "minRatio": 50.0}}, "hardThresholdCondition": {"lowerBound":
      0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition": {"changePercentage":
      50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, "dimensionGroupOverrideConfigurations":
      [{"group": {"dimension": {"city": "Sao Paulo"}}, "conditionOperator": "AND",
      "smartDetectionCondition": {"sensitivity": 63.0, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 1, "minRatio": 100.0}}, "hardThresholdCondition":
      {"lowerBound": 0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition":
      {"changePercentage": 50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, {"group":
      {"dimension": {"city": "Seoul"}}, "conditionOperator": "AND", "smartDetectionCondition":
      {"sensitivity": 63.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 1, "minRatio": 100.0}}}], "seriesOverrideConfigurations": [{"series":
      {"dimension": {"city": "Shenzhen", "category": "Jewelry"}}, "conditionOperator":
      "AND", "smartDetectionCondition": {"sensitivity": 63.0, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 1, "minRatio": 100.0}}, "hardThresholdCondition":
      {"lowerBound": 0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition":
      {"changePercentage": 50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, {"series":
      {"dimension": {"city": "Osaka", "category": "Cell Phones"}}, "conditionOperator":
      "AND", "smartDetectionCondition": {"sensitivity": 63.0, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 1, "minRatio": 100.0}}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/e81e7d6d-ec70-4204-abc4-721f1cc9ab13
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/e81e7d6d-ec70-4204-abc4-721f1cc9ab13
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"e81e7d6d-ec70-4204-abc4-721f1cc9ab13","name":"multipledetectionconfigs6acc2ecc","description":"My
        test metric anomaly detection configuration","metricId":"054c4324-e01a-4877-adb9-f38a9961af21","wholeMetricConfiguration":{"conditionOperator":"AND","smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}},"hardThresholdCondition":{"lowerBound":0.0,"upperBound":100.0,"anomalyDetectorDirection":"Both","suppressCondi[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/bd021393-1f4a-40b5-a0af-fc8708a555d1
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
