interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "alertupdatewzyu42fm7tf35",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1ad3e616-5ab9-42da-b105-dfce215bf799
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1ad3e616-5ab9-42da-b105-dfce215bf799
  response:
    body:
      string: "{\"dataFeedId\":\"1ad3e616-5ab9-42da-b105-dfce215bf799\",\"dataFeedName\":\"alertupdatewzyu42fm7tf35\",\"metrics\":[{\"metricId\":\"0aea0197-ad25-451c-84fe-ed899fecd748\",\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\":\"\"},{\"metricId\":\"c20160f1-56e2-4dea-b7d9-07980dd8631d\",\"metricName\":\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\":null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\":[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\"],\"viewers\":[],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\",\"createdTime\":\"2021-01-22T00:55:24Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "alertupdatehqodcwcwjntft", "description": "testing", "metricId":
      "0aea0197-ad25-451c-84fe-ed899fecd748", "wholeMetricConfiguration": {"smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 50, "minRatio": 50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/5b75d560-a9d9-456f-a12a-6b93c36d3866
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/5b75d560-a9d9-456f-a12a-6b93c36d3866
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"5b75d560-a9d9-456f-a12a-6b93c36d3866","name":"alertupdatehqodcwcwjntft","description":"testing","metricId":"0aea0197-ad25-451c-84fe-ed899fecd748","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "alertupdatenm3tqpmqbotci", "crossMetricsOperator": "AND", "hookIds":
      [], "metricAlertingConfigurations": [{"anomalyDetectionConfigurationId": "5b75d560-a9d9-456f-a12a-6b93c36d3866",
      "anomalyScopeType": "TopN", "topNAnomalyScope": {"top": 5, "period": 10, "minTopCount":
      9}, "valueFilter": {"lower": 1.0, "upper": 5.0, "direction": "Both", "metricId":
      "0aea0197-ad25-451c-84fe-ed899fecd748"}}, {"anomalyDetectionConfigurationId":
      "5b75d560-a9d9-456f-a12a-6b93c36d3866", "anomalyScopeType": "Dimension", "dimensionAnomalyScope":
      {"dimension": {"city": "Shenzhen"}}, "severityFilter": {"minAlertSeverity":
      "Low", "maxAlertSeverity": "High"}}, {"anomalyDetectionConfigurationId": "5b75d560-a9d9-456f-a12a-6b93c36d3866",
      "anomalyScopeType": "All", "severityFilter": {"minAlertSeverity": "Low", "maxAlertSeverity":
      "High"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/79cacccb-64a1-48a7-ac98-94b59e395cc3
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/79cacccb-64a1-48a7-ac98-94b59e395cc3
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"79cacccb-64a1-48a7-ac98-94b59e395cc3","name":"alertupdatenm3tqpmqbotci","description":"","crossMetricsOperator":"AND","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"5b75d560-a9d9-456f-a12a-6b93c36d3866","anomalyScopeType":"TopN","negationOperation":false,"topNAnomalyScope":{"top":5,"period":10,"minTopCount":9},"valueFilter":{"lower":1.0,"upper":5.0,"direction":"Both","metricId":"0aea0197-ad25-451c-84fe-ed899fecd748","triggerForMissing":false}},{"anomalyDetectionConfigurationId":"5b75d560-a9d9-456f-a12a-6b93c36d3866","anomalyScopeType":"Dimension","negationOperation":false,"dimensionAnomalyScope":{"dimension":{"city":"Shenzhen"}},"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}},{"anomalyDetectionConfigurationId":"5b75d560-a9d9-456f-a12a-6b93c36d3866","anomalyScopeType":"All","negationOperation":false,"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1ad3e616-5ab9-42da-b105-dfce215bf799
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
