{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022dataSourceCredentialType\u0022: \u0022AzureSQLConnectionString\u0022, \u0022dataSourceCredentialName\u0022: \u0022testsqlcredentiald80ce306-7844-42d9-b924-f9a856d09ba7\u0022, \u0022dataSourceCredentialDescription\u0022: \u0022my credential\u0022, \u0022parameters\u0022: {\u0022connectionString\u0022: \u0022metrics_advisor_sql_server_connection_string\u0022}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/c44621eb-dc91-4858-b85b-57217fef63bf"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/c44621eb-dc91-4858-b85b-57217fef63bf",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "c44621eb-dc91-4858-b85b-57217fef63bf",
        "dataSourceCredentialName": "testsqlcredentiald80ce306-7844-42d9-b924-f9a856d09ba7",
        "dataSourceCredentialDescription": "my credential",
        "dataSourceCredentialType": "AzureSQLConnectionString",
        "parameters": {}
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "dataSourceCredentialId": "c44621eb-dc91-4858-b85b-57217fef63bf",
            "dataSourceCredentialName": "testsqlcredentiald80ce306-7844-42d9-b924-f9a856d09ba7",
            "dataSourceCredentialDescription": "my credential",
            "dataSourceCredentialType": "AzureSQLConnectionString",
            "parameters": {}
          },
          {
            "dataSourceCredentialId": "a9348dae-3799-4a7f-b954-4ffd00e0de69",
            "dataSourceCredentialName": "testsqlcredential45344842",
            "dataSourceCredentialDescription": "my credential",
            "dataSourceCredentialType": "AzureSQLConnectionString",
            "parameters": {}
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/c44621eb-dc91-4858-b85b-57217fef63bf",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "credential_id": "c44621eb-dc91-4858-b85b-57217fef63bf",
    "credential_name": "testsqlcredentiald80ce306-7844-42d9-b924-f9a856d09ba7"
  }
}
