{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/884110f6-a18f-4206-a2e0-b75637577644",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "884110f6-a18f-4206-a2e0-b75637577644",
        "name": "alertconfigfkoc2wklyfeha",
        "description": "",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "bc026235-ff2e-4554-b936-4bbf226c9e12",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "c413021c-e071-4195-9c24-5c5ab368a5f8",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "bc026235-ff2e-4554-b936-4bbf226c9e12",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "bc026235-ff2e-4554-b936-4bbf226c9e12",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f2c7185c-231a-4986-bdec-436f0ea56e7a",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "884110f6-a18f-4206-a2e0-b75637577644",
    "alert_config_name": "alertconfigfkoc2wklyfeha",
    "data_feed_id": "f2c7185c-231a-4986-bdec-436f0ea56e7a",
    "data_feed_metric_id": "c413021c-e071-4195-9c24-5c5ab368a5f8",
    "data_feed_name": "datafeedh4myxeskwfkyn7t2",
    "detection_config_id": "bc026235-ff2e-4554-b936-4bbf226c9e12",
    "detection_config_name": "detectionconfigeb6ydu3ym"
  }
}
