interactions:
- request:
    body: '{"hookType": "Email", "hookName": "testhookf4461419", "description": "my
      email hook", "externalLink": "external link", "hookParameter": {"toList": ["yournamehere@microsoft.com"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/9899d04e-b5ef-4679-8876-00e971ad6f20
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/9899d04e-b5ef-4679-8876-00e971ad6f20
  response:
    body:
      string: '{"hookId":"9899d04e-b5ef-4679-8876-00e971ad6f20","hookName":"testhookf4461419","hookType":"Email","externalLink":"external
        link","description":"my email hook","admins":["f850650c-1fcf-4489-b46f-71af2e30d360"],"hookParameter":{"toList":["yournamehere@microsoft.com"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/9899d04e-b5ef-4679-8876-00e971ad6f20
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
