interactions:
- request:
    body: '{"hookType": "Email", "hookName": "testhookaa421294", "description": "my
      email hook", "externalLink": "external link", "hookParameter": {"toList": ["yournamehere@microsoft.com"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/b634244b-0047-47a8-921a-8a85a180fb05
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/b634244b-0047-47a8-921a-8a85a180fb05
  response:
    body:
      string: '{"hookId":"b634244b-0047-47a8-921a-8a85a180fb05","hookName":"testhookaa421294","hookType":"Email","externalLink":"external
        link","description":"my email hook","admins":["krpratic@microsoft.com"],"hookParameter":{"toList":["yournamehere@microsoft.com"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/b634244b-0047-47a8-921a-8a85a180fb05
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
