{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/47d8c201-1f97-4b0b-81e7-1b0ff3b88036",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "47d8c201-1f97-4b0b-81e7-1b0ff3b88036",
        "hookName": "emailhookmp72bswyeqrndcd",
        "hookType": "Email",
        "externalLink": "external link",
        "description": "my email hook",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "hookParameter": {
          "toList": [
            "yournamehere@microsoft.com"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/47d8c201-1f97-4b0b-81e7-1b0ff3b88036",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "email_hook_id": "47d8c201-1f97-4b0b-81e7-1b0ff3b88036",
    "email_hook_name": "emailhookmp72bswyeqrndcd"
  }
}
