interactions:
- request:
    body: '{"hookType": "Email", "hookName": "testwebhook978c1216", "description":
      "my email hook", "externalLink": "external link", "hookParameter": {"toList":
      ["yournamehere@microsoft.com"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/30181d20-cc64-460c-815c-9755149cc64e
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/30181d20-cc64-460c-815c-9755149cc64e
  response:
    body:
      string: '{"hookId":"30181d20-cc64-460c-815c-9755149cc64e","hookName":"testwebhook978c1216","hookType":"Email","externalLink":"external
        link","description":"my email hook","admins":["krpratic@microsoft.com"],"hookParameter":{"toList":["yournamehere@microsoft.com"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/30181d20-cc64-460c-815c-9755149cc64e
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
