interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "topnupbyntn4xwzwsfbielw6",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a6f18a75-c4b3-4fbd-a1fd-a67f5090488f
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a6f18a75-c4b3-4fbd-a1fd-a67f5090488f
  response:
    body:
      string: "{\"dataFeedId\":\"a6f18a75-c4b3-4fbd-a1fd-a67f5090488f\",\"dataFeedName\":\"topnupbyntn4xwzwsfbielw6\",\"metrics\":[{\"metricId\":\"b9565fa1-09a5-4f40-910c-4689d122ddd0\",\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\":\"\"},{\"metricId\":\"3f95bccb-a2e5-42a8-9b34-813f081cbe25\",\"metricName\":\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\":null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\":[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"f850650c-1fcf-4489-b46f-71af2e30d360\"],\"viewers\":[],\"creator\":\"f850650c-1fcf-4489-b46f-71af2e30d360\",\"status\":\"Active\",\"createdTime\":\"2021-01-22T00:56:18Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "topnupyziol56le2iwfmlhbv", "description": "testing", "metricId":
      "b9565fa1-09a5-4f40-910c-4689d122ddd0", "wholeMetricConfiguration": {"smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 50, "minRatio": 50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/7675c902-a0d0-4489-9598-9cff35876460
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/7675c902-a0d0-4489-9598-9cff35876460
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"7675c902-a0d0-4489-9598-9cff35876460","name":"topnupyziol56le2iwfmlhbv","description":"testing","metricId":"b9565fa1-09a5-4f40-910c-4689d122ddd0","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "testalerte6fb2007", "hookIds": [], "metricAlertingConfigurations":
      [{"anomalyDetectionConfigurationId": "7675c902-a0d0-4489-9598-9cff35876460",
      "anomalyScopeType": "All", "severityFilter": {"minAlertSeverity": "Low", "maxAlertSeverity":
      "High"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/861cb840-62b3-4f41-9182-60e457f135ec
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/861cb840-62b3-4f41-9182-60e457f135ec
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"861cb840-62b3-4f41-9182-60e457f135ec","name":"testalerte6fb2007","description":"","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"7675c902-a0d0-4489-9598-9cff35876460","anomalyScopeType":"All","negationOperation":false,"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/861cb840-62b3-4f41-9182-60e457f135ec
  response:
    body:
      string: '{"code":"Not Found","message":"Not found this AnomalyAlertingConfiguration.
        TraceId: 9cfcf56b-00dd-41fc-bb5e-0c2a95dac6ed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a6f18a75-c4b3-4fbd-a1fd-a67f5090488f
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
