interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "updatee4bd1882", "dataFeedDescription":
      "my first data feed", "granularityName": "Daily", "metrics": [{"metricName":
      "cost", "metricDisplayName": "display cost", "metricDescription": "the cost"},
      {"metricName": "revenue", "metricDisplayName": "display revenue", "metricDescription":
      "the revenue"}], "dimension": [{"dimensionName": "category", "dimensionDisplayName":
      "display category"}, {"dimensionName": "city", "dimensionDisplayName": "display
      city"}], "timestampColumn": "Timestamp", "dataStartFrom": "2019-10-01T00:00:00.000Z",
      "startOffsetInSeconds": -1, "maxConcurrency": 0, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "needRollup": "NoRollup", "rollUpMethod":
      "None", "fillMissingPointType": "SmartFilling", "viewMode": "Private", "admins":
      ["yournamehere@microsoft.com"], "viewers": ["viewers"], "actionLinkTemplate":
      "action link template", "dataSourceParameter": {"connectionString": "connectionstring",
      "query": "select * from adsample2 where Timestamp = @StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/af25a658-a2fd-48a1-a771-91b9580c9215
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/af25a658-a2fd-48a1-a771-91b9580c9215
  response:
    body:
      string: '{"dataFeedId":"af25a658-a2fd-48a1-a771-91b9580c9215","dataFeedName":"updatee4bd1882","metrics":[{"metricId":"aa40a5d9-9a60-49f3-9514-8ce84c916573","metricName":"cost","metricDisplayName":"display
        cost","metricDescription":"the cost"},{"metricId":"bc67cc18-b9e2-46a4-8b53-f810db4c5be7","metricName":"revenue","metricDisplayName":"display
        revenue","metricDescription":"the revenue"}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"display
        category"},{"dimensionName":"city","dimensionDisplayName":"display city"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"Timestamp","startOffsetInSeconds":-1,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"SmartFilling","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"my
        first data feed","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":0,"viewMode":"Private","admins":["krpratic@microsoft.com","yournamehere@microsoft.com"],"viewers":["viewers"],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-10-26T17:35:06Z","isAdmin":true,"actionLinkTemplate":"action
        link template","dataSourceParameter":{"connectionString":"connectionstring","query":"select
        * from adsample2 where Timestamp = @StartTime"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/af25a658-a2fd-48a1-a771-91b9580c9215
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
