{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022name\u0022: \u0022alertconfigfe8316d6-a62a-4251-abed-7b7a22a85fba\u0022, \u0022hookIds\u0022: [], \u0022metricAlertingConfigurations\u0022: [{\u0022anomalyDetectionConfigurationId\u0022: \u002281f4bd3d-2762-4845-acde-87254ebb89c2\u0022, \u0022anomalyScopeType\u0022: \u0022Dimension\u0022, \u0022dimensionAnomalyScope\u0022: {\u0022dimension\u0022: {\u0022region\u0022: \u0022Shenzhen\u0022}}, \u0022valueFilter\u0022: {\u0022lower\u0022: 1.0, \u0022upper\u0022: 5.0, \u0022direction\u0022: \u0022Both\u0022, \u0022type\u0022: \u0022Value\u0022, \u0022metricId\u0022: \u0022703a5949-1fcf-4626-814e-ded1dbf6fd0b\u0022}}]}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/829f4f56-c254-46c7-981a-7fe506f83f13"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/829f4f56-c254-46c7-981a-7fe506f83f13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "829f4f56-c254-46c7-981a-7fe506f83f13",
        "name": "alertconfigfe8316d6-a62a-4251-abed-7b7a22a85fba",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "81f4bd3d-2762-4845-acde-87254ebb89c2",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "703a5949-1fcf-4626-814e-ded1dbf6fd0b",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3231f16f-d9ac-4d4f-ae00-239faa1df3df",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfigfe8316d6-a62a-4251-abed-7b7a22a85fba",
    "data_feed_id": "3231f16f-d9ac-4d4f-ae00-239faa1df3df",
    "data_feed_metric_id": "703a5949-1fcf-4626-814e-ded1dbf6fd0b",
    "data_feed_name": "datafeedokbkiinssxvpkbo5",
    "detection_config_id": "81f4bd3d-2762-4845-acde-87254ebb89c2",
    "detection_config_name": "detectionconfigr4umfqvxz"
  }
}
