{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/87504228-fb4e-41cf-b88d-a9e02c416018",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "87504228-fb4e-41cf-b88d-a9e02c416018",
        "name": "detectionconfigalt4sajfi",
        "description": "My test metric anomaly detection configuration",
        "metricId": "59782965-7435-4015-a863-c61ef192da87",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 0.0,
            "upperBound": 100.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 50.0,
            "shiftPoint": 30,
            "anomalyDetectorDirection": "Both",
            "withinRange": true,
            "suppressCondition": {
              "minNumber": 2,
              "minRatio": 2.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "group": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            }
          }
        ],
        "seriesOverrideConfigurations": [
          {
            "series": {
              "dimension": {
                "region": "Beijing",
                "category": "Shoes Handbags \u0026 Sunglasses"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/e6a17cf1-9649-4f9d-a961-29fc6af7c55a",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "e6a17cf1-9649-4f9d-a961-29fc6af7c55a",
    "data_feed_metric_id": "59782965-7435-4015-a863-c61ef192da87",
    "data_feed_name": "datafeedgx4wa5xn3abt3yyn",
    "detection_config_id": "87504228-fb4e-41cf-b88d-a9e02c416018",
    "detection_config_name": "detectionconfigalt4sajfi"
  }
}
