{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022name\u0022: \u0022testdetectionconfige318104f-b557-4157-9f67-1bfec8264fc5\u0022, \u0022description\u0022: \u0022My test metric anomaly detection configuration\u0022, \u0022metricId\u0022: \u00223c965439-a2ed-43ea-bef9-1c1d6f39a7ff\u0022, \u0022wholeMetricConfiguration\u0022: {\u0022conditionOperator\u0022: \u0022OR\u0022, \u0022smartDetectionCondition\u0022: {\u0022sensitivity\u0022: 50.0, \u0022anomalyDetectorDirection\u0022: \u0022Both\u0022, \u0022suppressCondition\u0022: {\u0022minNumber\u0022: 5, \u0022minRatio\u0022: 5.0}}, \u0022hardThresholdCondition\u0022: {\u0022lowerBound\u0022: 0.0, \u0022upperBound\u0022: 100.0, \u0022anomalyDetectorDirection\u0022: \u0022Both\u0022, \u0022suppressCondition\u0022: {\u0022minNumber\u0022: 5, \u0022minRatio\u0022: 5.0}}, \u0022changeThresholdCondition\u0022: {\u0022changePercentage\u0022: 50.0, \u0022shiftPoint\u0022: 30, \u0022withinRange\u0022: true, \u0022anomalyDetectorDirection\u0022: \u0022Both\u0022, \u0022suppressCondition\u0022: {\u0022minNumber\u0022: 2, \u0022minRatio\u0022: 2.0}}}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/68d31716-afc1-46a5-8c50-dda7caa8aa24"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/68d31716-afc1-46a5-8c50-dda7caa8aa24",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "68d31716-afc1-46a5-8c50-dda7caa8aa24",
        "name": "testdetectionconfige318104f-b557-4157-9f67-1bfec8264fc5",
        "description": "My test metric anomaly detection configuration",
        "metricId": "3c965439-a2ed-43ea-bef9-1c1d6f39a7ff",
        "wholeMetricConfiguration": {
          "conditionOperator": "OR",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 0.0,
            "upperBound": 100.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 50.0,
            "shiftPoint": 30,
            "anomalyDetectorDirection": "Both",
            "withinRange": true,
            "suppressCondition": {
              "minNumber": 2,
              "minRatio": 2.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [],
        "seriesOverrideConfigurations": []
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/68d31716-afc1-46a5-8c50-dda7caa8aa24",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "code": "Not Found",
        "message": "Not found this AnomalyDetectionConfiguration. TraceId: 308d78c2-2fc3-4ed3-a312-759f7785951e"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/88c1b859-d7ee-4345-9db8-c543e046a48d",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "88c1b859-d7ee-4345-9db8-c543e046a48d",
    "data_feed_metric_id": "3c965439-a2ed-43ea-bef9-1c1d6f39a7ff",
    "data_feed_name": "datafeedhp5zmieddg3we4ev",
    "detection_config_id": "68d31716-afc1-46a5-8c50-dda7caa8aa24",
    "detection_config_name": "testdetectionconfige318104f-b557-4157-9f67-1bfec8264fc5"
  }
}
