{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "dataSourceType": "AzureDataExplorer",
        "dataFeedName": "azuredataexplorer2fdc436e-e507-48e6-8722-43cf7ddd8a66",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost"
          },
          {
            "metricName": "revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category"
          },
          {
            "dimensionName": "city"
          }
        ],
        "dataStartFrom": "2019-01-01T00:00:00.000Z",
        "startOffsetInSeconds": 0,
        "maxConcurrency": -1,
        "minRetryIntervalInSeconds": -1,
        "stopRetryAfterInSeconds": -1,
        "viewMode": "Private",
        "authenticationType": "Basic",
        "dataSourceParameter": {
          "connectionString": "azure_data_explorer_connection_string",
          "query": "let StartDateTime = datetime(@StartTime); let EndDateTime = StartDateTime \u002B 1d; adsample | where Timestamp \u003E= StartDateTime and Timestamp \u003C EndDateTime"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3ebc9d85-d026-4584-816f-b301ea34950e"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3ebc9d85-d026-4584-816f-b301ea34950e",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "3ebc9d85-d026-4584-816f-b301ea34950e",
        "dataFeedName": "azuredataexplorer2fdc436e-e507-48e6-8722-43cf7ddd8a66",
        "metrics": [
          {
            "metricId": "e10a8575-5f42-4358-9e02-38d6a585a6d3",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          },
          {
            "metricId": "fd1209b5-d6e8-4c8c-b362-e5cc189f0021",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2019-01-01T00:00:00Z",
        "dataSourceType": "AzureDataExplorer",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "viewers": [],
        "creator": "krpratic@microsoft.com",
        "status": "Active",
        "createdTime": "2022-09-29T23:21:40Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "query": "let StartDateTime = datetime(@StartTime); let EndDateTime = StartDateTime \u002B 1d; adsample | where Timestamp \u003E= StartDateTime and Timestamp \u003C EndDateTime"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3ebc9d85-d026-4584-816f-b301ea34950e",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "3ebc9d85-d026-4584-816f-b301ea34950e",
    "data_feed_name": "azuredataexplorer2fdc436e-e507-48e6-8722-43cf7ddd8a66"
  }
}
