{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/13d4a20b-77d5-4f6a-9a66-5fb17f064c08",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "13d4a20b-77d5-4f6a-9a66-5fb17f064c08",
        "dataFeedName": "datafeeddf3f1a54-3110-4bb4-b4a7-8283c2ce7cf1",
        "metrics": [
          {
            "metricId": "460e6a3b-df3b-4948-85c7-b077119dbfaf",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "274e6190-fd97-4d53-bc33-1ea77b944f89",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "Timestamp",
        "startOffsetInSeconds": -1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "SmartFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "my first data feed",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": 0,
        "viewMode": "Private",
        "admins": [
          "krpratic@microsoft.com",
          "yournamehere@microsoft.com"
        ],
        "viewers": [
          "viewers"
        ],
        "creator": "krpratic@microsoft.com",
        "status": "Active",
        "createdTime": "2022-03-08T21:07:37Z",
        "isAdmin": true,
        "actionLinkTemplate": "action link template",
        "dataSourceParameter": {
          "query": "select * from adsample2 where Timestamp = @StartTime"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/13d4a20b-77d5-4f6a-9a66-5fb17f064c08",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "dataSourceType": "SqlServer",
        "dataFeedName": "update745abeaa-d4ef-4b59-968d-77e4de4396c3",
        "dataFeedDescription": "updated",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "timestampColumn": "time",
        "dataStartFrom": "2021-12-10T00:00:00.000Z",
        "startOffsetInSeconds": 1,
        "maxConcurrency": 1,
        "minRetryIntervalInSeconds": 120,
        "stopRetryAfterInSeconds": 1,
        "needRollup": "AlreadyRollup",
        "rollUpMethod": "Sum",
        "rollUpColumns": [],
        "allUpIdentification": "sumrollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 2.0,
        "viewMode": "Public",
        "admins": [
          "krpratic@microsoft.com",
          "yournamehere@microsoft.com"
        ],
        "viewers": [
          "updated"
        ],
        "status": "Paused",
        "actionLinkTemplate": "updated",
        "authenticationType": "Basic",
        "dataSourceParameter": {
          "connectionString": "updated",
          "query": "get data"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "13d4a20b-77d5-4f6a-9a66-5fb17f064c08",
        "dataFeedName": "update745abeaa-d4ef-4b59-968d-77e4de4396c3",
        "metrics": [
          {
            "metricId": "460e6a3b-df3b-4948-85c7-b077119dbfaf",
            "metricName": "cost",
            "metricDisplayName": [...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/13d4a20b-77d5-4f6a-9a66-5fb17f064c08",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "13d4a20b-77d5-4f6a-9a66-5fb17f064c08",
    "data_feed_metric_id": "460e6a3b-df3b-4948-85c7-b077119dbfaf",
    "data_feed_name": "datafeeddf3f1a54-3110-4bb4-b4a7-8283c2ce7cf1",
    "data_feed_updated_name": "update745abeaa-d4ef-4b59-968d-77e4de4396c3"
  }
}
