{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022name\u0022: \u0022alertconfiga8614517\u0022, \u0022hookIds\u0022: [], \u0022metricAlertingConfigurations\u0022: [{\u0022anomalyDetectionConfigurationId\u0022: \u00225d9acf7b-29df-4b35-944a-b88ca3220fdf\u0022, \u0022anomalyScopeType\u0022: \u0022Dimension\u0022, \u0022dimensionAnomalyScope\u0022: {\u0022dimension\u0022: {\u0022region\u0022: \u0022Shenzhen\u0022}}, \u0022valueFilter\u0022: {\u0022upper\u0022: 5.0, \u0022direction\u0022: \u0022Up\u0022, \u0022type\u0022: \u0022Value\u0022, \u0022metricId\u0022: \u002288126ce8-3789-44f5-a413-64c361b1eeee\u0022}}]}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/916dafa9-e8ad-400c-b56b-0c4d1fcb53aa"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/916dafa9-e8ad-400c-b56b-0c4d1fcb53aa",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "916dafa9-e8ad-400c-b56b-0c4d1fcb53aa",
        "name": "alertconfiga8614517",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "5d9acf7b-29df-4b35-944a-b88ca3220fdf",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "upper": 5.0,
              "direction": "Up",
              "metricId": "88126ce8-3789-44f5-a413-64c361b1eeee",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/916dafa9-e8ad-400c-b56b-0c4d1fcb53aa",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "code": "Not Found",
        "message": "Not found this AnomalyAlertingConfiguration. TraceId: 3230a033-1463-40bf-a6f2-ee3d8c5b9231"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/5d9acf7b-29df-4b35-944a-b88ca3220fdf",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1d8ec67f-2c20-4ca2-9c79-41fee286bece",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "916dafa9-e8ad-400c-b56b-0c4d1fcb53aa",
    "alert_config_name": "alertconfiga8614517",
    "data_feed_id": "1d8ec67f-2c20-4ca2-9c79-41fee286bece",
    "data_feed_metric_id": "88126ce8-3789-44f5-a413-64c361b1eeee",
    "data_feed_name": "datafeedydgrpyimvl2b2k3e",
    "detection_config_id": "5d9acf7b-29df-4b35-944a-b88ca3220fdf",
    "detection_config_name": "detectionconfigwv3odgxzj"
  }
}
