{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/metrics_advisor_data_feed_id/ingestionProgress",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "latestSuccessTimestamp": "2022-09-28T00:00:00Z",
        "latestActiveTimestamp": "2022-09-28T00:00:00Z"
      }
    }
  ],
  "Variables": {}
}
