interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "alertupdate60791632",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "timestampColumn": "Timestamp", "dataStartFrom": "2019-10-01T00:00:00.000Z",
      "startOffsetInSeconds": 0, "maxConcurrency": -1, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter": {"connectionString":
      "connectionstring", "query": "select * from adsample2 where Timestamp = @StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4370db8b-907d-419f-b42e-c5cebcff45ee
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4370db8b-907d-419f-b42e-c5cebcff45ee
  response:
    body:
      string: '{"dataFeedId":"4370db8b-907d-419f-b42e-c5cebcff45ee","dataFeedName":"alertupdate60791632","metrics":[{"metricId":"f196d930-da0e-4d29-91fc-c5dffe025025","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"95b22dca-e00c-4697-b517-6658e2dc1422","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"Timestamp","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-10-26T17:33:31Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"connectionString":"connectionstring","query":"select
        * from adsample2 where Timestamp = @StartTime"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "alertupdate60791632", "description": "testing", "metricId": "f196d930-da0e-4d29-91fc-c5dffe025025",
      "wholeMetricConfiguration": {"smartDetectionCondition": {"sensitivity": 50.0,
      "anomalyDetectorDirection": "Both", "suppressCondition": {"minNumber": 50, "minRatio":
      50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/ff449192-ed0c-4e13-9c20-8ecd8d65f10f
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/ff449192-ed0c-4e13-9c20-8ecd8d65f10f
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"ff449192-ed0c-4e13-9c20-8ecd8d65f10f","name":"alertupdate60791632","description":"testing","metricId":"f196d930-da0e-4d29-91fc-c5dffe025025","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "alertupdate60791632", "crossMetricsOperator": "AND", "hookIds":
      [], "metricAlertingConfigurations": [{"anomalyDetectionConfigurationId": "ff449192-ed0c-4e13-9c20-8ecd8d65f10f",
      "anomalyScopeType": "TopN", "topNAnomalyScope": {"top": 5, "period": 10, "minTopCount":
      9}, "valueFilter": {"lower": 1.0, "upper": 5.0, "direction": "Both", "metricId":
      "f196d930-da0e-4d29-91fc-c5dffe025025"}}, {"anomalyDetectionConfigurationId":
      "ff449192-ed0c-4e13-9c20-8ecd8d65f10f", "anomalyScopeType": "Dimension", "dimensionAnomalyScope":
      {"dimension": {"city": "Shenzhen"}}, "severityFilter": {"minAlertSeverity":
      "Low", "maxAlertSeverity": "High"}}, {"anomalyDetectionConfigurationId": "ff449192-ed0c-4e13-9c20-8ecd8d65f10f",
      "anomalyScopeType": "All", "severityFilter": {"minAlertSeverity": "Low", "maxAlertSeverity":
      "High"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/35e7b6a0-1a47-4169-961a-a8f02ea34126
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/35e7b6a0-1a47-4169-961a-a8f02ea34126
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"35e7b6a0-1a47-4169-961a-a8f02ea34126","name":"alertupdate60791632","description":"","crossMetricsOperator":"AND","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"ff449192-ed0c-4e13-9c20-8ecd8d65f10f","anomalyScopeType":"TopN","negationOperation":false,"topNAnomalyScope":{"top":5,"period":10,"minTopCount":9},"valueFilter":{"lower":1.0,"upper":5.0,"direction":"Both","metricId":"f196d930-da0e-4d29-91fc-c5dffe025025","triggerForMissing":false}},{"anomalyDetectionConfigurationId":"ff449192-ed0c-4e13-9c20-8ecd8d65f10f","anomalyScopeType":"Dimension","negationOperation":false,"dimensionAnomalyScope":{"dimension":{"city":"Shenzhen"}},"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}},{"anomalyDetectionConfigurationId":"ff449192-ed0c-4e13-9c20-8ecd8d65f10f","anomalyScopeType":"All","negationOperation":false,"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4370db8b-907d-419f-b42e-c5cebcff45ee
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
