{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/adf9d683-9365-4525-bb49-e09089f88867",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": "{\u0022name\u0022: \u0022reset\u0022, \u0022metricAlertingConfigurations\u0022: [{\u0022anomalyDetectionConfigurationId\u0022: \u0022e5fbef50-59f0-46fd-9795-77b0707b647b\u0022, \u0022anomalyScopeType\u0022: \u0022TopN\u0022, \u0022topNAnomalyScope\u0022: {\u0022top\u0022: 5, \u0022period\u0022: 10, \u0022minTopCount\u0022: 9}}], \u0022description\u0022: \u0022\u0022}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "adf9d683-9365-4525-bb49-e09089f88867",
        "name": "reset",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "e5fbef50-59f0-46fd-9795-77b0707b647b",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3f70efeb-448d-4a9f-b9c3-1cbc6bacc5bd",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "adf9d683-9365-4525-bb49-e09089f88867",
    "alert_config_name": "alertconfig5bw3dfcxccade",
    "data_feed_id": "3f70efeb-448d-4a9f-b9c3-1cbc6bacc5bd",
    "data_feed_metric_id": "63076cb3-a134-4dab-8280-24c5b3c2e17d",
    "data_feed_name": "datafeed3giittt3kdg2jv2e",
    "detection_config_id": "e5fbef50-59f0-46fd-9795-77b0707b647b",
    "detection_config_name": "detectionconfighg4ctz4rk"
  }
}
