interactions:
- request:
    body: '{"dataSourceType": "AzureDataLakeStorageGen2", "dataFeedName": "datalake688e1603",
      "granularityName": "Daily", "metrics": [{"metricName": "cost", "metricDisplayName":
      "Cost"}, {"metricName": "revenue", "metricDisplayName": "Revenue"}], "dimension":
      [{"dimensionName": "category", "dimensionDisplayName": "Category"}, {"dimensionName":
      "city", "dimensionDisplayName": "City"}], "dataStartFrom": "2019-01-01T00:00:00.000Z",
      "startOffsetInSeconds": 0, "maxConcurrency": -1, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter": {"accountName": "adsampledatalakegen2",
      "accountKey": "connectionstring", "fileSystemName": "adsample", "directoryTemplate":
      "%Y/%m/%d", "fileTemplate": "adsample.json"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/57b1c2e5-bc28-42a4-b83e-22141f9351a2
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/57b1c2e5-bc28-42a4-b83e-22141f9351a2
  response:
    body:
      string: '{"dataFeedId":"57b1c2e5-bc28-42a4-b83e-22141f9351a2","dataFeedName":"datalake688e1603","metrics":[{"metricId":"76ee25fa-7656-4778-9c81-9989d49bf149","metricName":"cost","metricDisplayName":"Cost","metricDescription":""},{"metricId":"cf618803-df7e-4ff7-bd30-ecad024b83ab","metricName":"revenue","metricDisplayName":"Revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"Category"},{"dimensionName":"city","dimensionDisplayName":"City"}],"dataStartFrom":"2019-01-01T00:00:00Z","dataSourceType":"AzureDataLakeStorageGen2","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["f850650c-1fcf-4489-b46f-71af2e30d360"],"viewers":[],"creator":"f850650c-1fcf-4489-b46f-71af2e30d360","status":"Active","createdTime":"2021-02-02T22:04:07Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"fileTemplate":"adsample.json","accountName":"adsampledatalakegen2","directoryTemplate":"%Y/%m/%d","fileSystemName":"adsample","accountKey":"connectionstring"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/57b1c2e5-bc28-42a4-b83e-22141f9351a2
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
