{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfig97a950a8-6fa1-4a45-b9fc-c1a6e902d201",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "814c01e7-fc1a-493a-a323-75874d8fdb8e",
            "anomalyScopeType": "TopN",
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/b73c3609-ceab-467a-b0c9-8636bf96f14a"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/b73c3609-ceab-467a-b0c9-8636bf96f14a",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "b73c3609-ceab-467a-b0c9-8636bf96f14a",
        "name": "alertconfig97a950a8-6fa1-4a45-b9fc-c1a6e902d201",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "814c01e7-fc1a-493a-a323-75874d8fdb8e",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/531e88ea-9655-4586-aa80-3f0e5897612e",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfig97a950a8-6fa1-4a45-b9fc-c1a6e902d201",
    "data_feed_id": "531e88ea-9655-4586-aa80-3f0e5897612e",
    "data_feed_metric_id": "920f4aab-85a6-4620-8456-cd988189a93a",
    "data_feed_name": "datafeed8a159675-04f5-4533-9ed6-593324b1a083",
    "detection_config_id": "814c01e7-fc1a-493a-a323-75874d8fdb8e",
    "detection_config_name": "detectionconfigaf1aa9d4-53bc-4c30-8af9-65abd6f33d9f"
  }
}
