interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "multiple74ba21cf", "granularityName":
      "Daily", "metrics": [{"metricName": "cost"}, {"metricName": "revenue"}], "dimension":
      [{"dimensionName": "category"}, {"dimensionName": "city"}], "dataStartFrom":
      "2019-10-01T00:00:00.000Z", "startOffsetInSeconds": 0, "maxConcurrency": -1,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter":
      {"connectionString": "connectionstring", "query": "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/81d12e27-2f72-4f42-b351-b1ee2feba497
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/81d12e27-2f72-4f42-b351-b1ee2feba497
  response:
    body:
      string: "{\"dataFeedId\":\"81d12e27-2f72-4f42-b351-b1ee2feba497\",\"dataFeedName\"\
        :\"multiple74ba21cf\",\"metrics\":[{\"metricId\":\"d1323ab2-a5c8-4b23-844e-310ff89cbf9f\"\
        ,\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\"\
        :\"\"},{\"metricId\":\"caa4cf6a-477c-496b-8c90-82103d10a9b9\",\"metricName\"\
        :\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"\
        }],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\"\
        :\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"\
        }],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\"\
        ,\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\"\
        :30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\"\
        :null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\"\
        ,\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\"\
        :[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\"\
        :-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\"\
        ],\"viewers\":[],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\"\
        ,\"createdTime\":\"2020-10-22T15:47:57Z\",\"isAdmin\":true,\"actionLinkTemplate\"\
        :\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"\
        query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F\
        =\u202F@StartTime\"}}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "multiple74ba21cf", "description": "testing", "metricId": "d1323ab2-a5c8-4b23-844e-310ff89cbf9f",
      "wholeMetricConfiguration": {"smartDetectionCondition": {"sensitivity": 50.0,
      "anomalyDetectorDirection": "Both", "suppressCondition": {"minNumber": 50, "minRatio":
      50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/f94add6a-4dfe-48fa-8aaa-f938fde0615c
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/f94add6a-4dfe-48fa-8aaa-f938fde0615c
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"f94add6a-4dfe-48fa-8aaa-f938fde0615c","name":"multiple74ba21cf","description":"testing","metricId":"d1323ab2-a5c8-4b23-844e-310ff89cbf9f","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "testalert74ba21cf", "crossMetricsOperator": "AND", "hookIds":
      [], "metricAlertingConfigurations": [{"anomalyDetectionConfigurationId": "f94add6a-4dfe-48fa-8aaa-f938fde0615c",
      "anomalyScopeType": "TopN", "topNAnomalyScope": {"top": 5, "period": 10, "minTopCount":
      9}, "valueFilter": {"lower": 1.0, "upper": 5.0, "direction": "Both", "metricId":
      "d1323ab2-a5c8-4b23-844e-310ff89cbf9f"}}, {"anomalyDetectionConfigurationId":
      "f94add6a-4dfe-48fa-8aaa-f938fde0615c", "anomalyScopeType": "Dimension", "dimensionAnomalyScope":
      {"dimension": {"city": "Shenzhen"}}, "severityFilter": {"minAlertSeverity":
      "Low", "maxAlertSeverity": "High"}}, {"anomalyDetectionConfigurationId": "f94add6a-4dfe-48fa-8aaa-f938fde0615c",
      "anomalyScopeType": "All", "severityFilter": {"minAlertSeverity": "Low", "maxAlertSeverity":
      "High"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/792a2700-df1b-4735-b8a7-851457028d5e
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/792a2700-df1b-4735-b8a7-851457028d5e
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"792a2700-df1b-4735-b8a7-851457028d5e","name":"testalert74ba21cf","description":"","crossMetricsOperator":"AND","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"f94add6a-4dfe-48fa-8aaa-f938fde0615c","anomalyScopeType":"TopN","negationOperation":false,"topNAnomalyScope":{"top":5,"period":10,"minTopCount":9},"valueFilter":{"lower":1.0,"upper":5.0,"direction":"Both","metricId":"d1323ab2-a5c8-4b23-844e-310ff89cbf9f","triggerForMissing":false}},{"anomalyDetectionConfigurationId":"f94add6a-4dfe-48fa-8aaa-f938fde0615c","anomalyScopeType":"Dimension","negationOperation":false,"dimensionAnomalyScope":{"dimension":{"city":"Shenzhen"}},"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}},{"anomalyDetectionConfigurationId":"f94add6a-4dfe-48fa-8aaa-f938fde0615c","anomalyScopeType":"All","negationOperation":false,"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/792a2700-df1b-4735-b8a7-851457028d5e
  response:
    body:
      string: '{"code":"Not Found","message":"Not found this AnomalyAlertingConfiguration.
        TraceId: 80ac23a8-b26a-417f-b3d7-49a4c726bd01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/81d12e27-2f72-4f42-b351-b1ee2feba497
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
