interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: '{"value":[{"hookId":"d25286fb-98b6-48b8-9a05-712871c0d4e1","hookName":"emailhook","hookType":"Email","externalLink":"","description":"","admins":["krpratic@microsoft.com"],"hookParameter":{"toList":["krpratic@microsoft.com"],"ccList":null,"bccList":null}},{"hookId":"3af3e00f-adf4-40eb-b01f-4cc12f58db45","hookName":"updatedWebHook1","hookType":"Webhook","externalLink":"my
        external link","description":"","admins":["krpratic@microsoft.com"],"hookParameter":{"endpoint":"https://httpbin.org/post","username":"sdfsd","password":"","headers":{},"certificateKey":"","certificatePassword":""}},{"hookId":"b1befa30-37a6-4f4e-b195-c91788d2af9d","hookName":"web_hook","hookType":"Webhook","externalLink":"my
        external link","description":"jadg","admins":["krpratic@microsoft.com"],"hookParameter":{"endpoint":"https://httpbin.org/post","username":"fsdgsd","password":"","headers":{},"certificateKey":"","certificatePassword":""}}],"@nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
