{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/0bec82fd-c533-4bde-91d4-2aca862dc70d",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": "{\u0022name\u0022: \u0022update\u0022, \u0022crossMetricsOperator\u0022: \u0022OR\u0022, \u0022metricAlertingConfigurations\u0022: [{\u0022anomalyDetectionConfigurationId\u0022: \u0022ef4b1952-5766-4f87-bb46-56dc79a076e0\u0022, \u0022anomalyScopeType\u0022: \u0022TopN\u0022, \u0022topNAnomalyScope\u0022: {\u0022top\u0022: 5, \u0022period\u0022: 10, \u0022minTopCount\u0022: 9}, \u0022severityFilter\u0022: {\u0022minAlertSeverity\u0022: \u0022Low\u0022, \u0022maxAlertSeverity\u0022: \u0022High\u[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/0bec82fd-c533-4bde-91d4-2aca862dc70d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "0bec82fd-c533-4bde-91d4-2aca862dc70d",
        "name": "update",
        "description": "update description",
        "crossMetricsOperator": "OR",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "ef4b1952-5766-4f87-bb46-56dc79a076e0",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "4cf621d0-4927-43a2-a260-c3665eb4ffe5",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "ef4b1952-5766-4f87-bb46-56dc79a076e0",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "ef4b1952-5766-4f87-bb46-56dc79a076e0",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/c7a2cd09-8c51-46f0-a196-bdd23f523e83",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "0bec82fd-c533-4bde-91d4-2aca862dc70d",
    "alert_config_name": "alertconfigda5nlrw32vzso",
    "data_feed_id": "c7a2cd09-8c51-46f0-a196-bdd23f523e83",
    "data_feed_metric_id": "4cf621d0-4927-43a2-a260-c3665eb4ffe5",
    "data_feed_name": "datafeedgod54q5jd3sxll2a",
    "detection_config_id": "ef4b1952-5766-4f87-bb46-56dc79a076e0",
    "detection_config_name": "detectionconfigucta7jujm"
  }
}
