{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/f463f503-7dba-450c-9a53-16d5c615b0eb",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": "{\u0022hookName\u0022: \u0022updated1beadb7-cbba-4499-999a-cfa2824bd5e3\u0022, \u0022description\u0022: \u0022update\u0022, \u0022externalLink\u0022: \u0022update\u0022, \u0022hookType\u0022: \u0022Webhook\u0022, \u0022hookParameter\u0022: {\u0022endpoint\u0022: \u0022https://httpbin.org/post\u0022, \u0022username\u0022: \u0022myusername\u0022, \u0022password\u0022: \u0022password\u0022}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "f463f503-7dba-450c-9a53-16d5c615b0eb",
        "hookName": "updated1beadb7-cbba-4499-999a-cfa2824bd5e3",
        "hookType": "Webhook",
        "externalLink": "update",
        "description": "update",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "hookParameter": {
          "endpoint": "https://httpbin.org/post",
          "username": "myusername",
          "password": "password"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/f463f503-7dba-450c-9a53-16d5c615b0eb",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "hook_updated_name": "updated1beadb7-cbba-4499-999a-cfa2824bd5e3",
    "web_hook_id": "f463f503-7dba-450c-9a53-16d5c615b0eb",
    "web_hook_name": "web_hookdhje3d2ovv7zjknq"
  }
}
