interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "updatedetectiond4721fb3",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1fbfa663-3ef6-450b-9ccb-f75b7844949b
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1fbfa663-3ef6-450b-9ccb-f75b7844949b
  response:
    body:
      string: "{\"dataFeedId\":\"1fbfa663-3ef6-450b-9ccb-f75b7844949b\",\"dataFeedName\"\
        :\"updatedetectiond4721fb3\",\"metrics\":[{\"metricId\":\"175c5477-0179-4cf3-a71b-bb5a6b4e9d4a\"\
        ,\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\"\
        :\"\"},{\"metricId\":\"3e8b808e-2d8f-4977-8487-2d79841ab966\",\"metricName\"\
        :\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"\
        }],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\"\
        :\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"\
        }],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\"\
        ,\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\"\
        :30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\"\
        :null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\"\
        ,\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\"\
        :[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\"\
        :-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\"\
        ],\"viewers\":[],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\"\
        ,\"createdTime\":\"2020-10-22T15:51:11Z\",\"isAdmin\":true,\"actionLinkTemplate\"\
        :\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"\
        query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F\
        =\u202F@StartTime\"}}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "testupdatedd4721fb3", "description": "My test metric anomaly
      detection configuration", "metricId": "175c5477-0179-4cf3-a71b-bb5a6b4e9d4a",
      "wholeMetricConfiguration": {"conditionOperator": "AND", "smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 50, "minRatio": 50.0}}, "hardThresholdCondition": {"lowerBound":
      0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition": {"changePercentage":
      50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, "dimensionGroupOverrideConfigurations":
      [{"group": {"dimension": {"city": "Sao Paulo"}}, "smartDetectionCondition":
      {"sensitivity": 63.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 1, "minRatio": 100.0}}}], "seriesOverrideConfigurations": [{"series":
      {"dimension": {"city": "Shenzhen", "category": "Jewelry"}}, "smartDetectionCondition":
      {"sensitivity": 63.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 1, "minRatio": 100.0}}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/502eb425-b209-4985-9a0e-dd7d5f372bfc
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/502eb425-b209-4985-9a0e-dd7d5f372bfc
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"502eb425-b209-4985-9a0e-dd7d5f372bfc","name":"testupdatedd4721fb3","description":"My
        test metric anomaly detection configuration","metricId":"175c5477-0179-4cf3-a71b-bb5a6b4e9d4a","wholeMetricConfiguration":{"conditionOperator":"AND","smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}},"hardThresholdCondition":{"lowerBound":0.0,"upperBound":100.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":5,"minRatio":5.0}},"changeThresholdCondition":{"changePercentage":50.0,"shiftPoint":30,"anomalyDetectorDirection":"Both","withinRange":true,"suppressCondition":{"minNumber":2,"minRatio":2.0}}},"dimensionGroupOverrideConfigurations":[{"group":{"dimension":{"city":"Sao
        Paulo"}},"smartDetectionCondition":{"sensitivity":63.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":1,"minRatio":100.0}}}],"seriesOverrideConfigurations":[{"series":{"dimension":{"city":"Shenzhen","category":"Jewelry"}},"smartDetectionCondition":{"sensitivity":63.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":1,"minRatio":100.0}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1fbfa663-3ef6-450b-9ccb-f75b7844949b
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
