interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds?dataSourceType=SqlServer
  response:
    body:
      string: "{\"value\":[{\"dataFeedId\":\"0878ef33-d3c0-4868-a556-c0287d971180\",\"dataFeedName\":\"updatehlgw2i4smv3ngmdqej\",\"metrics\":[{\"metricId\":\"97adb289-7ce7-41a8-a476-bc6131de2e00\",\"metricName\":\"cost\",\"metricDisplayName\":\"display
        cost\",\"metricDescription\":\"the cost\"},{\"metricId\":\"eecc41f9-518e-4186-bb6b-b18ee53c7ecf\",\"metricName\":\"revenue\",\"metricDisplayName\":\"display
        revenue\",\"metricDescription\":\"the revenue\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"display
        category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"display
        city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"Timestamp\",\"startOffsetInSeconds\":-1,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\":null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"SmartFilling\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\":[],\"dataFeedDescription\":\"my
        first data feed\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":0,\"viewMode\":\"Private\",\"admins\":[\"yournamehere@microsoft.com\",\"f850650c-1fcf-4489-b46f-71af2e30d360\"],\"viewers\":[\"viewers\"],\"creator\":\"f850650c-1fcf-4489-b46f-71af2e30d360\",\"status\":\"Active\",\"createdTime\":\"2020-12-26T19:11:43Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"action
        link template\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}},{\"dataFeedId\":\"9d85a33d-7de0-411d-aa0f-f1940b7973b6\",\"dataFeedName\":\"test_datafeed_1605050124034\",\"metrics\":[{\"metricId\":\"49205ee4-255c-4c4e-8d8d-d94b87896ff9\",\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\":\"Metric2
        description\"},{\"metricId\":\"590d7610-ae2a-41ab-8504-c509e724afc5\",\"metricName\":\"revenue\",\"metricDisplayName\":\"revenue\",\"metr[...]
