interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "updateu7cdjcrzvwodmjdcjg",
      "dataFeedDescription": "my first data feed", "granularityName": "Daily", "metrics":
      [{"metricName": "cost", "metricDisplayName": "display cost", "metricDescription":
      "the cost"}, {"metricName": "revenue", "metricDisplayName": "display revenue",
      "metricDescription": "the revenue"}], "dimension": [{"dimensionName": "category",
      "dimensionDisplayName": "display category"}, {"dimensionName": "city", "dimensionDisplayName":
      "display city"}], "timestampColumn": "Timestamp", "dataStartFrom": "2019-10-01T00:00:00.000Z",
      "startOffsetInSeconds": -1, "maxConcurrency": 0, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "needRollup": "NoRollup", "rollUpMethod":
      "None", "fillMissingPointType": "SmartFilling", "viewMode": "Private", "admins":
      ["yournamehere@microsoft.com"], "viewers": ["viewers"], "actionLinkTemplate":
      "action link template", "authenticationType": "Basic", "dataSourceParameter":
      {"connectionString": "connectionstring", "query": "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b135ae9d-046d-468e-a52a-d8d321c11bea
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b135ae9d-046d-468e-a52a-d8d321c11bea
  response:
    body:
      string: "{\"dataFeedId\":\"b135ae9d-046d-468e-a52a-d8d321c11bea\",\"dataFeedName\":\"updateu7cdjcrzvwodmjdcjg\",\"metrics\":[{\"metricId\":\"fdb8daa4-b97c-4c87-ace3-08e44c810661\",\"metricName\":\"cost\",\"metricDisplayName\":\"display
        cost\",\"metricDescription\":\"the cost\"},{\"metricId\":\"fe82827c-09bf-4fb4-bf91-4bdcbecfc4ef\",\"metricName\":\"revenue\",\"metricDisplayName\":\"display
        revenue\",\"metricDescription\":\"the revenue\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"display
        category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"display
        city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"Timestamp\",\"startOffsetInSeconds\":-1,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"SmartFilling\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"dataFeedDescription\":\"my
        first data feed\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":0,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\",\"yournamehere@microsoft.com\"],\"viewers\":[\"viewers\"],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\",\"createdTime\":\"2021-06-11T23:31:34Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"action
        link template\",\"dataSourceParameter\":{\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"},\"authenticationType\":\"Basic\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"dataFeedName": "update", "dataFeedDescription": "updated", "timestampColumn":
      "time", "dataStartFrom": "2020-12-10T00:00:00.000Z", "startOffsetInSeconds":
      1, "maxConcurrency": 1, "minRetryIntervalInSeconds": 1, "stopRetryAfterInSeconds":
      1, "needRollup": "AlreadyRollup", "rollUpMethod": "Sum", "rollUpColumns": [],
      "allUpIdentification": "sumrollup", "fillMissingPointType": "CustomValue", "fillMissingPointValue":
      2, "viewMode": "Public", "viewers": ["updated"], "status": "Paused", "actionLinkTemplate":
      "updated", "dataSourceParameter": {"connectionString": "updated", "query": "get
      data"}, "authenticationType": "Basic", "credentialId": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b135ae9d-046d-468e-a52a-d8d321c11bea
  response:
    body:
      string: '{"dataFeedId":"b135ae9d-046d-468e-a52a-d8d321c11bea","dataFeedName":"update","metrics":[{"metricId":"fdb8daa4-b97c-4c87-ace3-08e44c810661","metricName":"cost","metricDisplayName":"display
        cost","metricDescription":"the cost"},{"[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b135ae9d-046d-468e-a52a-d8d321c11bea
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
