interactions:
- request:
    body: '{"dataSourceType": "AzureDataLakeStorageGen2", "dataFeedName": "datalakek74oobegze4yiss51595147e",
      "granularityName": "Daily", "metrics": [{"metricName": "cost", "metricDisplayName":
      "Cost"}, {"metricName": "revenue", "metricDisplayName": "Revenue"}], "dimension":
      [{"dimensionName": "category", "dimensionDisplayName": "Category"}, {"dimensionName":
      "city", "dimensionDisplayName": "City"}], "dataStartFrom": "2019-01-01T00:00:00.000Z",
      "startOffsetInSeconds": 0, "maxConcurrency": -1, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter": {"accountName": "adsampledatalakegen2",
      "accountKey": "connectionstring", "fileSystemName": "adsample", "directoryTemplate":
      "%Y/%m/%d", "fileTemplate": "adsample.json"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/16739230-6a4d-4065-9e55-641814e8c43b
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/16739230-6a4d-4065-9e55-641814e8c43b
  response:
    body:
      string: '{"dataFeedId":"16739230-6a4d-4065-9e55-641814e8c43b","dataFeedName":"datalakek74oobegze4yiss51595147e","metrics":[{"metricId":"c995beb9-7d32-4bab-9dcd-db629ac8cea2","metricName":"cost","metricDisplayName":"Cost","metricDescription":""},{"metricId":"5b343a1d-ae62-4aea-b85b-1094f4e11c47","metricName":"revenue","metricDisplayName":"Revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"Category"},{"dimensionName":"city","dimensionDisplayName":"City"}],"dataStartFrom":"2019-01-01T00:00:00Z","dataSourceType":"AzureDataLakeStorageGen2","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-10-13T16:05:50Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"fileTemplate":"adsample.json","accountName":"adsampledatalakegen2","directoryTemplate":"%Y/%m/%d","fileSystemName":"adsample","accountKey":"connectionstring"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/16739230-6a4d-4065-9e55-641814e8c43b
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
