{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/metrics_advisor_anomaly_detection_configuration_id/incidents/metrics_advisor_incident_id/rootCause",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "rootCause": {
              "dimension": {
                "Dim1": "JPN",
                "Dim2": "JP"
              }
            },
            "path": [
              "Dim1",
              "Dim2"
            ],
            "score": 0.24316873576926223,
            "description": "Increase on Dim1 = JPN | Dim2 = JP contributes the most to current incident."
          }
        ]
      }
    }
  ],
  "Variables": {}
}
