{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/d88a1f73-c630-40ab-a6ac-7201072e6b3a",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "hookType": "Webhook",
        "hookName": "update18ba8646-c9cd-4e7d-9da4-4a0d42c2826b",
        "description": "update",
        "externalLink": "update",
        "hookParameter": {
          "endpoint": "https://httpbin.org/post",
          "username": "myusername",
          "password": "password",
          "certificateKey": null,
          "certificatePassword": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "d88a1f73-c630-40ab-a6ac-7201072e6b3a",
        "hookName": "update18ba8646-c9cd-4e7d-9da4-4a0d42c2826b",
        "hookType": "Webhook",
        "externalLink": "update",
        "description": "update",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "hookParameter": {
          "endpoint": "https://httpbin.org/post",
          "username": "myusername",
          "password": "password",
          "certificateKey": "",
          "certificatePassword": ""
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/d88a1f73-c630-40ab-a6ac-7201072e6b3a",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "hook_updated_name": "update18ba8646-c9cd-4e7d-9da4-4a0d42c2826b",
    "web_hook_id": "d88a1f73-c630-40ab-a6ac-7201072e6b3a",
    "web_hook_name": "web_hookd67174ef-0b7e-4685-85ae-0cfb25894517"
  }
}
