{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/efe948e6-6a11-42ba-a7ef-5aea5043554e",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "efe948e6-6a11-42ba-a7ef-5aea5043554e",
        "name": "alertconfig5bhlxl7egskp7",
        "description": "",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "7f19780b-a854-49a9-a454-aacf8ef5f1db",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "e357c1f9-5ff7-4521-a739-66ea124ff107",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "7f19780b-a854-49a9-a454-aacf8ef5f1db",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "7f19780b-a854-49a9-a454-aacf8ef5f1db",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1207a94f-39cf-4e9c-b94a-5649a65f2ef3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "efe948e6-6a11-42ba-a7ef-5aea5043554e",
    "alert_config_name": "alertconfig5bhlxl7egskp7",
    "data_feed_id": "1207a94f-39cf-4e9c-b94a-5649a65f2ef3",
    "data_feed_metric_id": "e357c1f9-5ff7-4521-a739-66ea124ff107",
    "data_feed_name": "datafeed4ufxci7nepzjwrzy",
    "detection_config_id": "7f19780b-a854-49a9-a454-aacf8ef5f1db",
    "detection_config_name": "detectionconfigksypsz2qr"
  }
}
