{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "dataSourceType": "AzureDataLakeStorageGen2",
        "dataFeedName": "datalakee8179d9e-882a-495d-9aaf-71b8cd81c0fe",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost",
            "metricDisplayName": "Cost"
          },
          {
            "metricName": "revenue",
            "metricDisplayName": "Revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "Category"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2019-01-01T00:00:00.000Z",
        "startOffsetInSeconds": 0,
        "maxConcurrency": -1,
        "minRetryIntervalInSeconds": -1,
        "stopRetryAfterInSeconds": -1,
        "viewMode": "Private",
        "authenticationType": "Basic",
        "dataSourceParameter": {
          "accountName": "adsampledatalakegen2",
          "accountKey": "azure_datalake_account_key",
          "fileSystemName": "adsample",
          "directoryTemplate": "%Y/%m/%d",
          "fileTemplate": "adsample.json"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b1dde7c7-63e7-4c10-8408-8e6a7117b585"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b1dde7c7-63e7-4c10-8408-8e6a7117b585",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "b1dde7c7-63e7-4c10-8408-8e6a7117b585",
        "dataFeedName": "datalakee8179d9e-882a-495d-9aaf-71b8cd81c0fe",
        "metrics": [
          {
            "metricId": "d8685363-4bdd-402a-bf54-708a7018c00c",
            "metricName": "cost",
            "metricDisplayName": "Cost",
            "metricDescription": ""
          },
          {
            "metricId": "3805a5d3-d00e-40db-9b24-610735ef7e86",
            "metricName": "revenue",
            "metricDisplayName": "Revenue",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "Category"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2019-01-01T00:00:00Z",
        "dataSourceType": "AzureDataLakeStorageGen2",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "viewers": [],
        "creator": "krpratic@microsoft.com",
        "status": "Active",
        "createdTime": "2022-09-29T23:21:46Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "fileTemplate": "adsample.json",
          "accountName": "adsampledatalakegen2",
          "directoryTemplate": "%Y/%m/%d",
          "fileSystemName": "adsample"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b1dde7c7-63e7-4c10-8408-8e6a7117b585",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "b1dde7c7-63e7-4c10-8408-8e6a7117b585",
    "data_feed_name": "datalakee8179d9e-882a-495d-9aaf-71b8cd81c0fe"
  }
}
