interactions:
- request:
    body: '{"dataSourceCredentialType": "AzureSQLConnectionString", "dataSourceCredentialName":
      "testsqlcredentiale1841c7e", "dataSourceCredentialDescription": "my credential",
      "parameters": {"connectionString": "connectionstring"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials
  response:
    body:
      string: ''
    headers:
      location:
      - https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/3bacb206-78b1-4aee-820b-80f8d854dff8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/3bacb206-78b1-4aee-820b-80f8d854dff8
  response:
    body:
      string: '{"dataSourceCredentialId":"3bacb206-78b1-4aee-820b-80f8d854dff8","dataSourceCredentialName":"testsqlcredentiale1841c7e","dataSourceCredentialDescription":"my
        credential","dataSourceCredentialType":"AzureSQLConnectionString","parameters":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/3bacb206-78b1-4aee-820b-80f8d854dff8
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
