interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "topnupt47wio4p7icmgpcdhn",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "region"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "viewMode": "Private", "authenticationType": "Basic", "dataSourceParameter":
      {"connectionString": "connectionstring", "query": "select * from adsample2 where
      Timestamp = @StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1f58d4db-4f01-4b48-ad74-4550e779a0f2
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1f58d4db-4f01-4b48-ad74-4550e779a0f2
  response:
    body:
      string: '{"dataFeedId":"1f58d4db-4f01-4b48-ad74-4550e779a0f2","dataFeedName":"topnupt47wio4p7icmgpcdhn","metrics":[{"metricId":"ca8356d4-ecbe-4c17-aa32-4099fdd6918d","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"a523f891-cb22-4e36-830f-72bae0952e18","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"region","dimensionDisplayName":"region"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["f850650c-1fcf-4489-b46f-71af2e30d360"],"viewers":[],"creator":"f850650c-1fcf-4489-b46f-71af2e30d360","status":"Active","createdTime":"2021-09-29T19:33:46Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"query":"select
        * from adsample2 where Timestamp = @StartTime"},"authenticationType":"Basic"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "topnupzsealzmlweasfq2qqz", "description": "testing", "metricId":
      "ca8356d4-ecbe-4c17-aa32-4099fdd6918d", "wholeMetricConfiguration": {"smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 5, "minRatio": 5.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/511faab6-cdf0-4dee-8aa6-70e91e1c0bee
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/511faab6-cdf0-4dee-8aa6-70e91e1c0bee
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"511faab6-cdf0-4dee-8aa6-70e91e1c0bee","name":"topnupzsealzmlweasfq2qqz","description":"testing","metricId":"ca8356d4-ecbe-4c17-aa32-4099fdd6918d","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":5,"minRatio":5.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "testalert49251dcc", "hookIds": [], "metricAlertingConfigurations":
      [{"anomalyDetectionConfigurationId": "511faab6-cdf0-4dee-8aa6-70e91e1c0bee",
      "anomalyScopeType": "TopN", "topNAnomalyScope": {"top": 5, "period": 10, "minTopCount":
      9}, "valueFilter": {"lower": 1.0, "direction": "Down", "type": "Value", "metricId":
      "ca8356d4-ecbe-4c17-aa32-4099fdd6918d"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/3454d3b2-2605-4865-8029-ce88f7821846
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/3454d3b2-2605-4865-8029-ce88f7821846
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"3454d3b2-2605-4865-8029-ce88f7821846","name":"testalert49251dcc","description":"","splitAlertByDimensions":[],"hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"511faab6-cdf0-4dee-8aa6-70e91e1c0bee","anomalyScopeType":"TopN","negationOperation":false,"topNAnomalyScope":{"top":5,"period":10,"minTopCount":9},"valueFilter":{"lower":1.0,"direction":"Down","metricId":"ca8356d4-ecbe-4c17-aa32-4099fdd6918d","triggerForMissing":false,"type":"Value"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/3454d3b2-2605-4865-8029-ce88f7821846
  response:
    body:
      string: '{"code":"Not Found","message":"Not found this AnomalyAlertingConfiguration.
        TraceId: d2dd718e-2be5-4667-b866-337d4be9ee74"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1f58d4db-4f01-4b48-ad74-4550e779a0f2
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
