{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfig4c479da0-55d2-4996-8bba-816c03d23946",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "b4bbc25f-741b-45d1-a6ac-f74a6037af4f",
            "anomalyScopeType": "All",
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "3c668e71-9f10-4263-8f6c-0b47cd16ead2"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/560446f7-321e-4a68-b539-140cedb124d3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/560446f7-321e-4a68-b539-140cedb124d3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "560446f7-321e-4a68-b539-140cedb124d3",
        "name": "alertconfig4c479da0-55d2-4996-8bba-816c03d23946",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "b4bbc25f-741b-45d1-a6ac-f74a6037af4f",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "3c668e71-9f10-4263-8f6c-0b47cd16ead2",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a75069cf-899d-4f88-b3c0-0fb5514abf84",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfig4c479da0-55d2-4996-8bba-816c03d23946",
    "data_feed_id": "a75069cf-899d-4f88-b3c0-0fb5514abf84",
    "data_feed_metric_id": "3c668e71-9f10-4263-8f6c-0b47cd16ead2",
    "data_feed_name": "datafeed9564ebae-18e9-414a-8b0f-5f2d8ee00f55",
    "detection_config_id": "b4bbc25f-741b-45d1-a6ac-f74a6037af4f",
    "detection_config_name": "detectionconfig002433fd-2afa-42e5-9796-0644f0bcdd3f"
  }
}
