interactions:
- request:
    body: '{"feedbackType": "Period", "metricId": "metric_id", "dimensionFilter":
      {"dimension": {"dimension_name": "Los Angeles"}}, "value": {"periodType": "AssignValue",
      "periodValue": 2}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/eb24e21e-aae9-4f37-a4b2-88ab77503186
    status:
      code: 201
      message: Created
version: 1
