{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022dataSourceCredentialType\u0022: \u0022AzureSQLConnectionString\u0022, \u0022dataSourceCredentialName\u0022: \u0022testsqlcredential5500cbf6-15f9-4f29-86ee-bbfaf864348c\u0022, \u0022dataSourceCredentialDescription\u0022: \u0022my credential\u0022, \u0022parameters\u0022: {\u0022connectionString\u0022: \u0022metrics_advisor_sql_server_connection_string\u0022}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/f6cb5d58-22f7-4459-a5cb-69c30ce57a47"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/f6cb5d58-22f7-4459-a5cb-69c30ce57a47",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "f6cb5d58-22f7-4459-a5cb-69c30ce57a47",
        "dataSourceCredentialName": "testsqlcredential5500cbf6-15f9-4f29-86ee-bbfaf864348c",
        "dataSourceCredentialDescription": "my credential",
        "dataSourceCredentialType": "AzureSQLConnectionString",
        "parameters": {}
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/f6cb5d58-22f7-4459-a5cb-69c30ce57a47",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "credential_id": "f6cb5d58-22f7-4459-a5cb-69c30ce57a47",
    "credential_name": "testsqlcredential5500cbf6-15f9-4f29-86ee-bbfaf864348c"
  }
}
