interactions:
- request:
    body: '{"dataSourceCredentialType": "ServicePrincipal", "dataSourceCredentialName":
      "testserviceprincipalcredentialc17017e8", "dataSourceCredentialDescription":
      "my credential", "parameters": {"clientId": "client_id", "clientSecret": "client_secret",
      "tenantId": "tenant_id"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials
  response:
    body:
      string: ''
    headers:
      location:
      - https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/22313296-b7ed-4b7c-9f45-ad6273df7bcc
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/22313296-b7ed-4b7c-9f45-ad6273df7bcc
  response:
    body:
      string: '{"dataSourceCredentialId":"22313296-b7ed-4b7c-9f45-ad6273df7bcc","dataSourceCredentialName":"testserviceprincipalcredentialc17017e8","dataSourceCredentialDescription":"my
        credential","dataSourceCredentialType":"ServicePrincipal","parameters":{"clientId":"client_id","tenantId":"tenant_id"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/22313296-b7ed-4b7c-9f45-ad6273df7bcc
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
