interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/anomaly_detection_configuration_id/incidents/incident_id/rootCause
  response:
    body:
      string: '{"value":[{"rootCause":{"dimension":{"dimension_name":"Caucasian Lime","Dim2":"Arctic
        Wolf"}},"path":[],"score":1.0,"description":"No root cause insight."}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
