interactions:
- request:
    body: '{"startTime": "2020-08-09T00:00:00.000Z", "endTime": "2020-09-16T00:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/data_feed_id/ingestionStatus/query
  response:
    body:
      string: '{"value":[{"timestamp":"2020-09-15T00:00:00Z","status":"NotStarted","message":"","lastAttemptTime":"2021-06-11T22:15:59Z"},{"timestamp":"2020-09-14T00:00:00Z","status":"NotStarted","message":"","lastAttemptTime":"2021-06-11T22:15:59Z"},{"timestamp":"2020-09-13T00:00:00Z","status":"NotStarted","message":"","lastAttemptTime":"2021-06-11T22:15:59Z"},{"timestamp":"2020-09-12T00:00:00Z","status":"NotStarted","message":"","lastAttemptTime":"2021-06-11T22:15:59Z"},{"timestamp":"2020-09-11T00:00:00Z","status":"NotStarted","message":"","lastAttemptTime":"2021-06-11T22:15:59Z"},{"timestamp":"2020-09-10[...]
- request:
    body: '{"startTime": "2020-08-09T00:00:00.000Z", "endTime": "2020-09-16T00:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/data_feed_id/ingestionStatus/query?$skip=5
  response:
    body:
      string: '{"value":[{"timestamp":"2020-09-10T00:00:00Z","status":"NotStarted","message":"","lastAttemptTime":"2021-06-11T22:15:59Z"},{"timestamp":"2020-09-09[...]
