interactions:
- request:
    body: '{"dataSourceType": "MongoDB", "dataFeedName": "mongodb1aa142d", "granularityName":
      "Daily", "metrics": [{"metricName": "cost"}, {"metricName": "revenue"}], "dimension":
      [{"dimensionName": "category"}, {"dimensionName": "city"}], "dataStartFrom":
      "2019-01-01T00:00:00.000Z", "startOffsetInSeconds": 0, "maxConcurrency": -1,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "viewMode":
      "Private", "authenticationType": "Basic", "dataSourceParameter": {"connectionString":
      "connectionstring", "database": "adsample", "command": "{\"find\": \"adsample\",
      \"filter\": { Timestamp: { $eq: @StartTime }} \"batchSize\": 2000,}"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7183391b-d1b0-4dc5-a2e9-415123e10105
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7183391b-d1b0-4dc5-a2e9-415123e10105
  response:
    body:
      string: '{"dataFeedId":"7183391b-d1b0-4dc5-a2e9-415123e10105","dataFeedName":"mongodb1aa142d","metrics":[{"metricId":"383c962c-f859-4918-971f-a5a5dfb67922","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"dd599d72-f7ac-4c02-b666-00cd8f63edd9","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-01-01T00:00:00Z","dataSourceType":"MongoDB","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2021-06-11T23:31:13Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"database":"adsample","command":"{\"find\":
        \"adsample\", \"filter\": { Timestamp: { $eq: @StartTime }} \"batchSize\":
        2000,}"},"authenticationType":"Basic"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7183391b-d1b0-4dc5-a2e9-415123e10105
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
