{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/eb0dc737-3695-45be-bd74-55e2afa0638c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "eb0dc737-3695-45be-bd74-55e2afa0638c",
        "hookName": "web_hook99feb1d6-0517-4f36-bb7c-277d36417e13",
        "hookType": "Webhook",
        "externalLink": "external link",
        "description": "my web hook",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "hookParameter": {
          "endpoint": "https://httpbin.org/post",
          "username": "krista",
          "password": "123"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/eb0dc737-3695-45be-bd74-55e2afa0638c",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "hookType": "Webhook",
        "hookName": "update08ac7938-b2e4-49ca-973c-1007321d7377",
        "description": "update",
        "externalLink": "update",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "hookParameter": {
          "endpoint": "https://httpbin.org/post",
          "username": "myusername",
          "password": "password",
          "certificateKey": null,
          "certificatePassword": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "eb0dc737-3695-45be-bd74-55e2afa0638c",
        "hookName": "update08ac7938-b2e4-49ca-973c-1007321d7377",
        "hookType": "Webhook",
        "externalLink": "update",
        "description": "update",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "hookParameter": {
          "endpoint": "https://httpbin.org/post",
          "username": "myusername",
          "password": "password",
          "certificateKey": "",
          "certificatePassword": ""
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/eb0dc737-3695-45be-bd74-55e2afa0638c",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "hook_updated_name": "update08ac7938-b2e4-49ca-973c-1007321d7377",
    "web_hook_id": "eb0dc737-3695-45be-bd74-55e2afa0638c",
    "web_hook_name": "web_hook99feb1d6-0517-4f36-bb7c-277d36417e13"
  }
}
