interactions:
- request:
    body: '{"dataSourceCredentialType": "AzureSQLConnectionString", "dataSourceCredentialName":
      "testsqlcredentiale1841c7e", "dataSourceCredentialDescription": "my credential",
      "parameters": {"connectionString": "connectionstring"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/1e638690-38ce-407b-a946-9dc64709050e
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/1e638690-38ce-407b-a946-9dc64709050e
  response:
    body:
      string: '{"dataSourceCredentialId":"1e638690-38ce-407b-a946-9dc64709050e","dataSourceCredentialName":"testsqlcredentiale1841c7e","dataSourceCredentialDescription":"my
        credential","dataSourceCredentialType":"AzureSQLConnectionString","parameters":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/1e638690-38ce-407b-a946-9dc64709050e
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
