interactions:
- request:
    body: '{"hookType": "Email", "hookName": "testhookaa421294", "description": "my
      email hook", "externalLink": "external link", "hookParameter": {"toList": ["yournamehere@microsoft.com"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location:
      - https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/9458781c-2759-4ead-9bb9-331c8c1ab155
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/9458781c-2759-4ead-9bb9-331c8c1ab155
  response:
    body:
      string: '{"hookId":"9458781c-2759-4ead-9bb9-331c8c1ab155","hookName":"testhookaa421294","hookType":"Email","externalLink":"external
        link","description":"my email hook","admins":["krpratic@microsoft.com"],"hookParameter":{"toList":["yournamehere@microsoft.com"],"ccList":null,"bccList":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/9458781c-2759-4ead-9bb9-331c8c1ab155
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
