interactions:
- request:
    body: '{"hookType": "Webhook", "hookName": "testwebhook7489114c", "description":
      "my web hook", "externalLink": "external link", "hookParameter": {"endpoint":
      "https://httpbin.org/post", "username": "krista", "password": "123"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/d4013087-8361-41ea-84e0-9e4b07da5955
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/d4013087-8361-41ea-84e0-9e4b07da5955
  response:
    body:
      string: '{"hookId":"d4013087-8361-41ea-84e0-9e4b07da5955","hookName":"testwebhook7489114c","hookType":"Webhook","externalLink":"external
        link","description":"my web hook","admins":["krpratic@microsoft.com"],"hookParameter":{"endpoint":"https://httpbin.org/post","username":"krista","password":"123","headers":{},"certificateKey":"","certificatePassword":""}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/d4013087-8361-41ea-84e0-9e4b07da5955
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
