interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/anomaly_detection_configuration_id/alert/anomaly/configurations
  response:
    body:
      string: '{"value":[{"anomalyAlertingConfigurationId":"0125f647-d115-40a7-ad86-b8249436f380","name":"test_alert_configuration","description":"testing_alert_configuration_description","crossMetricsOperator":"XOR","splitAlertByDimensions":[],"hookIds":["793adcdb-5293-4e4a-a60c-7c32cd5829fc"],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","anomalyScopeType":"All","negationOperation":false},{"anomalyDetectionConfigurationId":"e17f32d4-3ddf-4dc7-84ee-b4130c7e1777","anomalyScopeType":"All","negationOperation":false}]},{"anomalyAlertingConfigurationId":"01f6006a-f395-47d3-b5eb-74ced6401b6f","name":"test_alert_configuration","description":"testing_alert_configuration_description","crossMetricsOperator":"XOR","splitAlertByDimensions":[],"hookIds":["793adcdb-5293-4e4a-a60c-7c32cd5829fc"],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"anomaly_detection_configur[...]
