interactions:
- request:
    body: '{"dataSourceType": "AzureDataLakeStorageGen2", "dataFeedName": "datalake1595147e",
      "granularityName": "Daily", "metrics": [{"metricName": "cost", "metricDisplayName":
      "Cost"}, {"metricName": "revenue", "metricDisplayName": "Revenue"}], "dimension":
      [{"dimensionName": "category", "dimensionDisplayName": "Category"}, {"dimensionName":
      "city", "dimensionDisplayName": "City"}], "dataStartFrom": "2019-01-01T00:00:00.000Z",
      "startOffsetInSeconds": 0, "maxConcurrency": -1, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter": {"accountName": "adsampledatalakegen2",
      "accountKey": "connectionstring", "fileSystemName": "adsample", "directoryTemplate":
      "%Y/%m/%d", "fileTemplate": "adsample.json"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/54160da7-19c4-4f6a-917a-46846416284b
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/54160da7-19c4-4f6a-917a-46846416284b
  response:
    body:
      string: '{"dataFeedId":"54160da7-19c4-4f6a-917a-46846416284b","dataFeedName":"datalake1595147e","metrics":[{"metricId":"9d79e6f1-42b7-4d30-981c-5c03ee4bed75","metricName":"cost","metricDisplayName":"Cost","metricDescription":""},{"metricId":"5ee8553c-a2b1-4db4-babf-1181934b0f67","metricName":"revenue","metricDisplayName":"Revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"Category"},{"dimensionName":"city","dimensionDisplayName":"City"}],"dataStartFrom":"2019-01-01T00:00:00Z","dataSourceType":"AzureDataLakeStorageGen2","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-12-26T19:29:53Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"fileTemplate":"adsample.json","accountName":"adsampledatalakegen2","directoryTemplate":"%Y/%m/%d","fileSystemName":"adsample","accountKey":"connectionstring"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/54160da7-19c4-4f6a-917a-46846416284b
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
