{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testdetectionconfig8ae791cb-e01c-4af8-8c33-4a8b17d6b7fb",
        "description": "My test metric anomaly detection configuration",
        "metricId": "4d9059fd-d505-4c12-8838-424f69a94b7c",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 0.0,
            "upperBound": 100.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 50.0,
            "shiftPoint": 30,
            "withinRange": true,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 2,
              "minRatio": 2.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "conditionOperator": "AND",
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "hardThresholdCondition": {
              "lowerBound": 0.0,
              "upperBound": 100.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 5,
                "minRatio": 5.0
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 50.0,
              "shiftPoint": 30,
              "withinRange": true,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 2,
                "minRatio": 2.0
              }
            },
            "group": {
              "dimension": {
                "region": "Sao Paulo"
              }
            }
          },
          {
            "conditionOperator": "AND",
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "group": {
              "dimension": {
                "region": "Seoul"
              }
            }
          }
        ],
        "seriesOverrideConfigurations": [
          {
            "conditionOperator": "AND",
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "hardThresholdCondition": {
              "lowerBound": 0.0,
              "upperBound": 100.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 5,
                "minRatio": 5.0
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 50.0,
              "shiftPoint": 30,
              "withinRange": true,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 2,
                "minRatio": 2.0
              }
            },
            "series": {
              "dimension": {
                "region": "Shenzhen",
                "category": "Jewelry"
              }
            }
          },
          {
            "conditionOperator": "AND",
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "series": {
              "dimension": {
                "region": "Osaka",
                "category": "Cell Phones"
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/711d4a31-5566-4d8e-8cb6-924f73ef3afe"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/711d4a31-5566-4d8e-8cb6-924f73ef3afe",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "711d4a31-5566-4d8e-8cb6-924f73ef3afe",
        "name": "testdetectionconfig8ae791cb-e01c-4af8-8c33-4a8b17d6b7fb",
        "description": "My test metric anomaly detection configuration",
        "metricId": "4d9059fd-d505-4c12-8838-424f69a94b7c",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNu[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/aab0a006-5334-4da9-bd22-ab511b38de6b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "aab0a006-5334-4da9-bd22-ab511b38de6b",
    "data_feed_metric_id": "4d9059fd-d505-4c12-8838-424f69a94b7c",
    "data_feed_name": "datafeed4deb41e4-ccd4-4129-a799-bc11fbc8d408",
    "detection_config_name": "testdetectionconfig8ae791cb-e01c-4af8-8c33-4a8b17d6b7fb"
  }
}
