interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "updatehog55mmx2yourqykck",
      "dataFeedDescription": "my first data feed", "granularityName": "Daily", "metrics":
      [{"metricName": "cost", "metricDisplayName": "display cost", "metricDescription":
      "the cost"}, {"metricName": "revenue", "metricDisplayName": "display revenue",
      "metricDescription": "the revenue"}], "dimension": [{"dimensionName": "category",
      "dimensionDisplayName": "display category"}, {"dimensionName": "city", "dimensionDisplayName":
      "display city"}], "timestampColumn": "Timestamp", "dataStartFrom": "2019-10-01T00:00:00.000Z",
      "startOffsetInSeconds": -1, "maxConcurrency": 0, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "needRollup": "NoRollup", "rollUpMethod":
      "None", "fillMissingPointType": "SmartFilling", "viewMode": "Private", "admins":
      ["yournamehere@microsoft.com"], "viewers": ["viewers"], "actionLinkTemplate":
      "action link template", "dataSourceParameter": {"connectionString": "connectionstring",
      "query": "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/c8004090-e19d-4a81-b994-ad7adad120e5
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/c8004090-e19d-4a81-b994-ad7adad120e5
  response:
    body:
      string: "{\"dataFeedId\":\"c8004090-e19d-4a81-b994-ad7adad120e5\",\"dataFeedName\":\"updatehog55mmx2yourqykck\",\"metrics\":[{\"metricId\":\"43f5f3a5-2b27-4e92-93d5-1a3ddc2f1ae2\",\"metricName\":\"cost\",\"metricDisplayName\":\"display
        cost\",\"metricDescription\":\"the cost\"},{\"metricId\":\"bf3c4de3-b4a7-4da9-98a3-8a51e47e1aa6\",\"metricName\":\"revenue\",\"metricDisplayName\":\"display
        revenue\",\"metricDescription\":\"the revenue\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"display
        category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"display
        city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"Timestamp\",\"startOffsetInSeconds\":-1,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"SmartFilling\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"dataFeedDescription\":\"my
        first data feed\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":0,\"viewMode\":\"Private\",\"admins\":[\"yournamehere@microsoft.com\",\"f850650c-1fcf-4489-b46f-71af2e30d360\"],\"viewers\":[\"viewers\"],\"creator\":\"f850650c-1fcf-4489-b46f-71af2e30d360\",\"status\":\"Active\",\"createdTime\":\"2021-05-21T19:59:02Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"action
        link template\",\"dataSourceParameter\":{\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"},\"authenticationType\":\"Basic\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "updateMe", "dataFeedDescription":
      "updateMe", "timestampColumn": "time", "dataStartFrom": "2020-12-10T00:00:00.000Z",
      "startOffsetInSeconds": 1, "maxConcurrency": 1, "minRetryIntervalInSeconds":
      1, "stopRetryAfterInSeconds": 1, "needRollup": "AlreadyRollup", "rollUpMethod":
      "Sum", "rollUpColumns": [], "allUpIdentification": "sumrollup", "fillMissingPointType":
      "CustomValue", "fillMissingPointValue": 2.0, "viewMode": "Public", "admins":
      ["yournamehere@microsoft.com", "f850650c-1fcf-4489-b46f-71af2e30d360"], "viewers":
      ["updated"], "status": "Paused", "actionLinkTemplate": "updated", "dataSourceParameter":
      {"connectionString": "updated", "query": "get data"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://js-metrics-advisor.cognitives[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/c8004090-e19d-4a81-b994-ad7adad120e5
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
