interactions:
- request:
    body: '{"feedbackType": "Period", "metricId": "metric_id", "dimensionFilter":
      {"dimension": {"category": "Shoes Handbags & Sunglasses"}}, "value": {"periodType":
      "AssignValue", "periodValue": 2}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric
  response:
    body:
      string: ''
    headers:
      location:
      - https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/f1ac9ff3-192c-4778-8e7c-4f618d4c6dc3
    status:
      code: 201
      message: Created
version: 1
