{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfig2472a3da-3b6e-4472-ab97-9d6ce92aff2f",
        "crossMetricsOperator": "AND",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "fcf72d45-c179-44e4-b500-9ddf120f0991",
            "anomalyScopeType": "TopN",
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "19f7370b-2f57-49eb-b4c2-630b3fb0ce6f"
            }
          },
          {
            "anomalyDetectionConfigurationId": "fcf72d45-c179-44e4-b500-9ddf120f0991",
            "anomalyScopeType": "Dimension",
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "fcf72d45-c179-44e4-b500-9ddf120f0991",
            "anomalyScopeType": "All",
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/0bcd0c6c-5aaa-448b-8392-4105cb71a252"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/0bcd0c6c-5aaa-448b-8392-4105cb71a252",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "0bcd0c6c-5aaa-448b-8392-4105cb71a252",
        "name": "alertconfig2472a3da-3b6e-4472-ab97-9d6ce92aff2f",
        "description": "",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "fcf72d45-c179-44e4-b500-9ddf120f0991",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "19f7370b-2f57-49eb-b4c2-630b3fb0ce6f",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "fcf72d45-c179-44e4-b500-9ddf120f0991",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "fcf72d45-c179-44e4-b500-9ddf120f0991",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3eacc91c-64c2-49a5-bfe1-a181fd8ac9be",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfig2472a3da-3b6e-4472-ab97-9d6ce92aff2f",
    "data_feed_id": "3eacc91c-64c2-49a5-bfe1-a181fd8ac9be",
    "data_feed_metric_id": "19f7370b-2f57-49eb-b4c2-630b3fb0ce6f",
    "data_feed_name": "datafeed6093b950-f26b-448f-8dc6-4bc1f7ac1b98",
    "detection_config_id": "fcf72d45-c179-44e4-b500-9ddf120f0991",
    "detection_config_name": "detectionconfigb031d3c6-5931-4893-aaf9-1834d4571449"
  }
}
