{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/metrics_advisor_metric_id/status/enrichment/anomalyDetection/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "startTime": "2022-02-28T00:00:00.000Z",
        "endTime": "2022-09-29T00:00:00.000Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "timestamp": "2022-03-09T00:00:00Z",
            "status": "Succeeded",
            "message": "{\u0022UpdateTime\u0022:\u00222022-04-05T20:15:35.839Z\u0022,\u0022CreateTime\u0022:\u00222022-04-05T20:15:35.839Z\u0022}"
          },
          {
            "timestamp": "2022-03-10T00:00:00Z",
            "status": "Succeeded",
            "message": "{\u0022UpdateTime\u0022:\u00222022-04-06T02:42:26.141Z\u0022,\u0022CreateTime\u0022:\u00222022-04-06T02:42:26.141Z\u0022}"
          },
          {
            "timestamp": "2022-03-11T00:00:00Z",
            "status": "Succeeded",
          [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/metrics_advisor_metric_id/status/enrichment/anomalyDetection/query?$maxpagesize=100\u0026$skip=100",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "startTime": "2022-02-28T00:00:00.000Z",
        "endTime": "2022-09-29T00:00:00.000Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
       [...]
[...]
