{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022dataSourceCredentialType\u0022: \u0022DataLakeGen2SharedKey\u0022, \u0022dataSourceCredentialName\u0022: \u0022testdatalakecredential23f5478c-015c-4242-aa95-f443564492d3\u0022, \u0022dataSourceCredentialDescription\u0022: \u0022my credential\u0022, \u0022parameters\u0022: {\u0022accountKey\u0022: \u0022azure_datalake_account_key\u0022}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/839ba803-c812-420f-bd32-578a57b62bfc"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/839ba803-c812-420f-bd32-578a57b62bfc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "839ba803-c812-420f-bd32-578a57b62bfc",
        "dataSourceCredentialName": "testdatalakecredential23f5478c-015c-4242-aa95-f443564492d3",
        "dataSourceCredentialDescription": "my credential",
        "dataSourceCredentialType": "DataLakeGen2SharedKey",
        "parameters": {}
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/839ba803-c812-420f-bd32-578a57b62bfc",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "credential_id": "839ba803-c812-420f-bd32-578a57b62bfc",
    "credential_name": "testdatalakecredential23f5478c-015c-4242-aa95-f443564492d3"
  }
}
