interactions:
- request:
    body: '{"dataSourceCredentialType": "ServicePrincipalInKV", "dataSourceCredentialName":
      "testserviceprincipalcredential59571a5e", "dataSourceCredentialDescription":
      "my credential", "parameters": {"keyVaultEndpoint": "key_vault_endpoint", "keyVaultClientId":
      "key_vault_client_id", "keyVaultClientSecret": "key_vault_client_secret", "servicePrincipalIdNameInKV":
      "service_principal_id_name_in_kv", "servicePrincipalSecretNameInKV": "service_principal_secret_name_in_kv",
      "tenantId": "tenant_id"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/e0caab31-9278-4cde-89bf-d6aff3c773e6
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/e0caab31-9278-4cde-89bf-d6aff3c773e6
  response:
    body:
      string: '{"dataSourceCredentialId":"e0caab31-9278-4cde-89bf-d6aff3c773e6","dataSourceCredentialName":"testserviceprincipalcredential59571a5e","dataSourceCredentialDescription":"my
        credential","dataSourceCredentialType":"ServicePrincipalInKV","parameters":{"servicePrincipalSecretNameInKV":"service_principal_secret_name_in_kv","servicePrincipalIdNameInKV":"service_principal_id_name_in_kv","tenantId":"tenant_id","keyVaultClientId":"key_vault_client_id","keyVaultEndpoint":"key_vault_endpoint"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/e0caab31-9278-4cde-89bf-d6aff3c773e6
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
