{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/b50832e1-796a-4ae4-b795-033f186c8768",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "b50832e1-796a-4ae4-b795-033f186c8768",
        "hookName": "web_hook8c257eb8-8a45-4828-b5be-d1f6a250a837",
        "hookType": "Webhook",
        "externalLink": "external link",
        "description": "my web hook",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "hookParameter": {
          "endpoint": "https://httpbin.org/post",
          "username": "krista",
          "password": "123"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/b50832e1-796a-4ae4-b795-033f186c8768",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "hookType": "Webhook",
        "hookName": "update7c60529e-ada0-44a3-910c-3d3c32eb67c7",
        "description": "updateMe",
        "externalLink": "update",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "hookParameter": {
          "endpoint": "https://httpbin.org/post",
          "username": "myusername",
          "password": "password",
          "certificateKey": null,
          "certificatePassword": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "b50832e1-796a-4ae4-b795-033f186c8768",
        "hookName": "update7c60529e-ada0-44a3-910c-3d3c32eb67c7",
        "hookType": "Webhook",
        "externalLink": "update",
        "description": "updateMe",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "hookParameter": {
          "endpoint": "https://httpbin.org/post",
          "username": "myusername",
          "password": "password",
          "certificateKey": "",
          "certificatePassword": ""
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/b50832e1-796a-4ae4-b795-033f186c8768",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "hook_updated_name": "update7c60529e-ada0-44a3-910c-3d3c32eb67c7",
    "web_hook_id": "b50832e1-796a-4ae4-b795-033f186c8768",
    "web_hook_name": "web_hook8c257eb8-8a45-4828-b5be-d1f6a250a837"
  }
}
