interactions:
- request:
    body: '{"feedbackType": "ChangePoint", "metricId": "metric_id", "dimensionFilter":
      {"dimension": {"category": "Shoes Handbags & Sunglasses"}}, "startTime": "2021-08-05T00:00:00.000Z",
      "endTime": "2021-09-09T00:00:00.000Z", "value": {"changePointValue": "NotChangePoint"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric
  response:
    body:
      string: ''
    headers:
      location:
      - https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/5dfae3c2-3ddc-4618-aacb-fd58475e7f94
    status:
      code: 201
      message: Created
version: 1
