interactions:
- request:
    body: '{"hookType": "Webhook", "hookName": "testwebhookcd6f134f", "description":
      "my web hook", "externalLink": "external link", "hookParameter": {"endpoint":
      "https://httpbin.org/post", "username": "krista", "password": "123"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/4b5788f2-8857-4cac-9bd6-77cea72f0454
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/4b5788f2-8857-4cac-9bd6-77cea72f0454
  response:
    body:
      string: '{"hookId":"4b5788f2-8857-4cac-9bd6-77cea72f0454","hookName":"testwebhookcd6f134f","hookType":"Webhook","externalLink":"external
        link","description":"my web hook","admins":["f850650c-1fcf-4489-b46f-71af2e30d360"],"hookParameter":{"endpoint":"https://httpbin.org/post","username":"krista","password":"123","headers":{},"certificateKey":"","certificatePassword":""}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/4b5788f2-8857-4cac-9bd6-77cea72f0454
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
