interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "testfeed40ac1585", "dataFeedDescription":
      "my first data feed", "granularityName": "Daily", "metrics": [{"metricName":
      "cost", "metricDisplayName": "display cost", "metricDescription": "the cost"},
      {"metricName": "revenue", "metricDisplayName": "display revenue", "metricDescription":
      "the revenue"}], "dimension": [{"dimensionName": "category", "dimensionDisplayName":
      "display category"}, {"dimensionName": "city", "dimensionDisplayName": "display
      city"}], "timestampColumn": "Timestamp", "dataStartFrom": "2019-10-01T00:00:00.000Z",
      "startOffsetInSeconds": -1, "maxConcurrency": 0, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "needRollup": "NoRollup", "rollUpMethod":
      "None", "fillMissingPointType": "SmartFilling", "viewMode": "Private", "admins":
      ["yournamehere@microsoft.com"], "viewers": ["viewers"], "actionLinkTemplate":
      "action link template", "authenticationType": "Basic", "dataSourceParameter":
      {"connectionString": "connectionstring", "query": "select * from adsample2 where
      Timestamp = @StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4037ec39-73cf-401b-9ad0-9abbbda71091
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4037ec39-73cf-401b-9ad0-9abbbda71091
  response:
    body:
      string: '{"dataFeedId":"4037ec39-73cf-401b-9ad0-9abbbda71091","dataFeedName":"testfeed40ac1585","metrics":[{"metricId":"d9a47990-0c78-46e1-b987-105ce70d61a8","metricName":"cost","metricDisplayName":"display
        cost","metricDescription":"the cost"},{"metricId":"d35aaff7-b65d-4e9c-b481-a305042374cb","metricName":"revenue","metricDisplayName":"display
        revenue","metricDescription":"the revenue"}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"display
        category"},{"dimensionName":"city","dimensionDisplayName":"display city"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"Timestamp","startOffsetInSeconds":-1,"maxQueryPerMinute":30.0,"granularityName":"Daily","needRollup":"NoRollup","fillMissingPointType":"SmartFilling","fillMissingPointValue":0.0,"rollUpMethod":"None","dataFeedDescription":"my
        first data feed","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":0,"viewMode":"Private","admins":["xiangyan@microsoft.com","yournamehere@microsoft.com"],"viewers":["viewers"],"creator":"xiangyan@microsoft.com","status":"Active","createdTime":"2021-09-29T19:34:55Z","isAdmin":true,"actionLinkTemplate":"action
        link template","dataSourceParameter":{"query":"select * from adsample2 where
        Timestamp = @StartTime"},"authenticationType":"Basic"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4037ec39-73cf-401b-9ad0-9abbbda71091
  response:
    body:
      string: '{"code":"404 NOT_FOUND","message":"datafeedId is invalid."}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
