interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "topnup97102239", "granularityName":
      "Daily", "metrics": [{"metricName": "cost"}, {"metricName": "revenue"}], "dimension":
      [{"dimensionName": "category"}, {"dimensionName": "city"}], "dataStartFrom":
      "2019-10-01T00:00:00.000Z", "startOffsetInSeconds": 0, "maxConcurrency": -1,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter":
      {"connectionString": "connectionstring", "query": "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/ef5e9b35-4321-4ebf-b7e7-7502d6f6c448
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/ef5e9b35-4321-4ebf-b7e7-7502d6f6c448
  response:
    body:
      string: "{\"dataFeedId\":\"ef5e9b35-4321-4ebf-b7e7-7502d6f6c448\",\"dataFeedName\"\
        :\"topnup97102239\",\"metrics\":[{\"metricId\":\"25229b81-649e-4e4e-93de-6c228dfc0dac\"\
        ,\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\"\
        :\"\"},{\"metricId\":\"eca1b0f0-f0a4-452d-b2c7-d483c7520420\",\"metricName\"\
        :\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"\
        }],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\"\
        :\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"\
        }],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\"\
        ,\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\"\
        :30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\"\
        :null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\"\
        ,\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\"\
        :[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\"\
        :-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\"\
        ],\"viewers\":[],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\"\
        ,\"createdTime\":\"2020-10-22T15:48:48Z\",\"isAdmin\":true,\"actionLinkTemplate\"\
        :\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"\
        query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F\
        =\u202F@StartTime\"}}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "topnup97102239", "description": "testing", "metricId": "25229b81-649e-4e4e-93de-6c228dfc0dac",
      "wholeMetricConfiguration": {"smartDetectionCondition": {"sensitivity": 50.0,
      "anomalyDetectorDirection": "Both", "suppressCondition": {"minNumber": 50, "minRatio":
      50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/8470c609-d205-4a5e-abc3-6787207f4912
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/8470c609-d205-4a5e-abc3-6787207f4912
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"8470c609-d205-4a5e-abc3-6787207f4912","name":"topnup97102239","description":"testing","metricId":"25229b81-649e-4e4e-93de-6c228dfc0dac","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "testalert97102239", "hookIds": [], "metricAlertingConfigurations":
      [{"anomalyDetectionConfigurationId": "8470c609-d205-4a5e-abc3-6787207f4912",
      "anomalyScopeType": "TopN", "topNAnomalyScope": {"top": 5, "period": 10, "minTopCount":
      9}, "severityFilter": {"minAlertSeverity": "Low", "maxAlertSeverity": "High"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/34982106-0515-42c3-8f52-a0b3f699f81d
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/34982106-0515-42c3-8f52-a0b3f699f81d
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"34982106-0515-42c3-8f52-a0b3f699f81d","name":"testalert97102239","description":"","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"8470c609-d205-4a5e-abc3-6787207f4912","anomalyScopeType":"TopN","negationOperation":false,"topNAnomalyScope":{"top":5,"period":10,"minTopCount":9},"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/34982106-0515-42c3-8f52-a0b3f699f81d
  response:
    body:
      string: '{"code":"Not Found","message":"Not found this AnomalyAlertingConfiguration.
        TraceId: 017c67bc-a750-49ae-b8ec-89cb4a396c80"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/ef5e9b35-4321-4ebf-b7e7-7502d6f6c448
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
