interactions:
- request:
    body: '{"dataSourceCredentialType": "AzureSQLConnectionString", "dataSourceCredentialName":
      "testsqlcredential300920ef", "dataSourceCredentialDescription": "my credential
      entity", "parameters": {"connectionString": "connectionstring"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials
  response:
    body:
      string: '{"error":{"code":"API operation not supported for token authentication","message":"ApiId
        MetricsAdvisor OperationId createCredential not supported for CheckAccess."}}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: BadRequest
version: 1
