{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/38fc8c04-a8f1-472a-bfea-5f92b87d5501",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "38fc8c04-a8f1-472a-bfea-5f92b87d5501",
        "dataFeedName": "datafeedqmtp2kwvm2oijti3",
        "metrics": [
          {
            "metricId": "ee374a9d-7df0-4933-ae5e-ef8e2de898b3",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "48dbe1af-51fc-44d3-9a40-dec7dd2151d0",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "Timestamp",
        "startOffsetInSeconds": -1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "SmartFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "my first data feed",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": 0,
        "viewMode": "Private",
        "admins": [
          "yournamehere@microsoft.com",
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "viewers": [
          "viewers"
        ],
        "creator": "f850650c-1fcf-4489-b46f-71af2e30d360",
        "status": "Active",
        "createdTime": "2021-12-16T01:06:46Z",
        "isAdmin": true,
        "actionLinkTemplate": "action link template",
        "dataSourceParameter": {
          "query": "select * from adsample2 where Timestamp = @StartTime"
        },
        "authenticationType": "Basic"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/38fc8c04-a8f1-472a-bfea-5f92b87d5501",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "38fc8c04-a8f1-472a-bfea-5f92b87d5501",
        "dataFeedName": "updateMe",
        "metrics": [
          {
            "metricId": "ee374a9d-7df0-4933-ae5e-ef8e2de898b3",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "48dbe1af-51fc-44d3-9a40-dec7dd2151d0",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2021-09-10T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "time",
        "startOffsetInSeconds": 1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "allUpIdentification": "sumrollup",
        "needRollup": "AlreadyRollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 2.0,
        "rollUpMethod": "Sum",
        "dataFeedDescription": "updateMe",
        "stopRetryAfterInSeconds": 1,
        "minRetryIntervalInSeconds": 120,
        "maxConcurrency": 1,
        "viewMode": "Public",
        "admins": [
          "yournamehere@microsoft.com",
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "viewers": [
          "updated"
        ],
        "creator": "f850650c-1fcf-4489-b46f-71af2e30d360",
        "status": "Paused",
        "createdTime": "2021-12-16T01:06:46Z",
        "isAdmin": true,
        "actionLinkTemplate": "updated",
        "dataSourceParameter": {
          "query": "get data"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/38fc8c04-a8f1-472a-bfea-5f92b87d5501",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "38fc8c04-a8f1-472a-bfea-5f92b87d5501",
    "data_feed_metric_id": "ee374a9d-7df0-4933-ae5e-ef8e2de898b3",
    "data_feed_name": "datafeedqmtp2kwvm2oijti3"
  }
}
