{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/204ad688-ef1d-4e9f-9d68-8fb385c22b69",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "204ad688-ef1d-4e9f-9d68-8fb385c22b69",
        "name": "alertconfigshnilawelgmyz",
        "description": "",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "f408eeae-26f3-4297-adf5-d250ac0855ca",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "bed4d0ca-fed9-48fc-ac8c-573f69d04f16",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "f408eeae-26f3-4297-adf5-d250ac0855ca",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "f408eeae-26f3-4297-adf5-d250ac0855ca",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/2a3d4868-fa1b-472c-a243-d7f0a56bbd69",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "204ad688-ef1d-4e9f-9d68-8fb385c22b69",
    "alert_config_name": "alertconfigshnilawelgmyz",
    "data_feed_id": "2a3d4868-fa1b-472c-a243-d7f0a56bbd69",
    "data_feed_metric_id": "bed4d0ca-fed9-48fc-ac8c-573f69d04f16",
    "data_feed_name": "datafeed7labsoaqgabjokxi",
    "detection_config_id": "f408eeae-26f3-4297-adf5-d250ac0855ca",
    "detection_config_name": "detectionconfigetss364zy"
  }
}
