interactions:
- request:
    body: '{"dataSourceType": "MySql", "dataFeedName": "mysqld9eb137d", "granularityName":
      "Daily", "metrics": [{"metricName": "cost"}, {"metricName": "revenue"}], "dimension":
      [{"dimensionName": "category"}, {"dimensionName": "city"}], "dataStartFrom":
      "2019-01-01T00:00:00.000Z", "startOffsetInSeconds": 0, "maxConcurrency": -1,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter":
      {"connectionString": "Server=ad-sample.westcentralus.cloudapp.azure.com;Port=3306;Database=adsample;Uid=adreadonly;Pwd=connectionstring",
      "query": "''select * from adsample2 where Timestamp = @StartTime''"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/8cb10932-5bd9-45b8-a19d-69a3f3fb3ac6
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/8cb10932-5bd9-45b8-a19d-69a3f3fb3ac6
  response:
    body:
      string: '{"dataFeedId":"8cb10932-5bd9-45b8-a19d-69a3f3fb3ac6","dataFeedName":"mysqld9eb137d","metrics":[{"metricId":"7a755d7e-2076-4963-bc67-8ef53c009c56","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"b0ea5501-f0c0-40cd-8b5f-0b633163e30f","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-01-01T00:00:00Z","dataSourceType":"MySql","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-10-22T15:50:06Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"connectionString":"Server=ad-sample.westcentralus.cloudapp.azure.com;Port=3306;Database=adsample;Uid=adreadonly;Pwd=connectionstring","query":"''select
        * from adsample2 where Timestamp = @StartTime''"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/8cb10932-5bd9-45b8-a19d-69a3f3fb3ac6
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
