{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022name\u0022: \u0022testdetectionconfigb8b24738-bbe8-4baf-93d8-6fcdcd9db9b1\u0022, \u0022description\u0022: \u0022My test metric anomaly detection configuration\u0022, \u0022metricId\u0022: \u002299e3cf45-1d16-40f0-832b-26bcd3ad1a7b\u0022, \u0022wholeMetricConfiguration\u0022: {\u0022conditionOperator\u0022: \u0022AND\u0022, \u0022smartDetectionCondition\u0022: {\u0022sensitivity\u0022: 50.0, \u0022anomalyDetectorDirection\u0022: \u0022Both\u0022, \u0022suppressCondition\u0022: {\u0022min[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/c86b31a7-ded8-4186-9ee6-76255dacc1dc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "c86b31a7-ded8-4186-9ee6-76255dacc1dc",
        "name": "testdetectionconfigb8b24738-bbe8-4baf-93d8-6fcdcd9db9b1",
        "description": "My test metric anomaly detection configuration",
        "metricId": "99e3cf45-1d16-40f0-832b-26bcd3ad1a7b",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 0.0,
            "upperBound": 100.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 50.0,
            "shiftPoint": 30,
            "anomalyDetectorDirection": "Both",
            "withinRange": true,
            "suppressCondition": {
              "minNumber": 2,
              "minRatio": 2.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "group": {
              "dimension": {
                "region": "Sao Paulo"
              }
            },
            "conditionOperator": "AND",
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "hardThresholdCondition": {
              "lowerBound": 0.0,
              "upperBound": 100.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 5,
                "minRatio": 5.0
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 50.0,
              "shiftPoint": 30,
              "anomalyDetectorDirection": "Both",
              "withinRange": true,
              "suppressCondition": {
                "minNumber": 2,
                "minRatio": 2.0
              }
            }
          },
          {
            "group": {
              "dimension": {
                "region": "Seoul"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            }
          }
        ],
        "seriesOverrideConfigurations": [
          {
            "series": {
              "dimension": {
                "region": "Shenzhen",
                "category": "Jewelry"
              }
            },
            "conditionOperator": "AND",
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "hardThresholdCondition": {
              "lowerBound": 0.0,
              "upperBound": 100.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 5,
                "minRatio": 5.0
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 50.0,
              "shiftPoint": 30,
              "anomalyDetectorDirection": "Both",
              "withinRange": true,
              "suppressCondition": {
                "minNumber": 2,
                "minRatio": 2.0
              }
            }
          },
          {
            "series": {
              "dimension": {
                "region": "Osaka",
                "category": "Cell Phones"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/6cf99dfd-260d-49cf-887a-f110bab24075",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "6cf99dfd-260d-49cf-887a-f110bab24075",
    "data_feed_metric_id": "99e3cf45-1d16-40f0-832b-26bcd3ad1a7b",
    "data_feed_name": "datafeedf667satg4s3eerac",
    "detection_config_name": "testdetectionconfigb8b24738-bbe8-4baf-93d8-6fcdcd9db9b1"
  }
}
