interactions:
- request:
    body: '{"dataSourceType": "AzureBlob", "dataFeedName": "blobfeed40d0156c", "granularityName":
      "Daily", "metrics": [{"metricName": "cost"}, {"metricName": "revenue"}], "dimension":
      [{"dimensionName": "category"}, {"dimensionName": "city"}], "dataStartFrom":
      "2019-10-01T00:00:00.000Z", "startOffsetInSeconds": 0, "maxConcurrency": -1,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter":
      {"connectionString": "connectionstring", "container": "adsample", "blobTemplate":
      "%Y/%m/%d/%h/JsonFormatV2.json"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a13a0934-f60b-411b-87aa-f3828557ea48
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a13a0934-f60b-411b-87aa-f3828557ea48
  response:
    body:
      string: '{"dataFeedId":"a13a0934-f60b-411b-87aa-f3828557ea48","dataFeedName":"blobfeed40d0156c","metrics":[{"metricId":"a1745e4d-99ce-4dc5-9aa0-2e27baa5c8b0","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"0c4ec8e2-13f9-49bf-8f7d-9a78cf081775","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"AzureBlob","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2021-01-22T00:56:54Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"container":"adsample","connectionString":"connectionstring","blobTemplate":"%Y/%m/%d/%h/JsonFormatV2.json"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a13a0934-f60b-411b-87aa-f3828557ea48
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
