interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "wholeseries52spgju2672sg",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/72e92c2d-6e47-4ec2-8fa0-3c49efbd6300
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/72e92c2d-6e47-4ec2-8fa0-3c49efbd6300
  response:
    body:
      string: "{\"dataFeedId\":\"72e92c2d-6e47-4ec2-8fa0-3c49efbd6300\",\"dataFeedName\":\"wholeseries52spgju2672sg\",\"metrics\":[{\"metricId\":\"bc52c242-5eb0-4c2b-a43c-953fa0d9bbdd\",\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\":\"\"},{\"metricId\":\"f8768191-c27c-43b8-ae4a-82fc05198e5d\",\"metricName\":\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\":null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\":[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\"],\"viewers\":[],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\",\"createdTime\":\"2021-01-22T00:55:15Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "wholeseriesbyics5hopegnd", "description": "testing", "metricId":
      "bc52c242-5eb0-4c2b-a43c-953fa0d9bbdd", "wholeMetricConfiguration": {"smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 50, "minRatio": 50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/04f9792e-ee5f-43f6-b51f-c90118af0d57
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/04f9792e-ee5f-43f6-b51f-c90118af0d57
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"04f9792e-ee5f-43f6-b51f-c90118af0d57","name":"wholeseriesbyics5hopegnd","description":"testing","metricId":"bc52c242-5eb0-4c2b-a43c-953fa0d9bbdd","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "testalertabf21f30", "hookIds": [], "metricAlertingConfigurations":
      [{"anomalyDetectionConfigurationId": "04f9792e-ee5f-43f6-b51f-c90118af0d57",
      "anomalyScopeType": "All", "valueFilter": {"lower": 1.0, "direction": "Down",
      "metricId": "bc52c242-5eb0-4c2b-a43c-953fa0d9bbdd"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/fdf98a2a-1884-4653-8f39-ccd6ff74cb53
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/fdf98a2a-1884-4653-8f39-ccd6ff74cb53
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"fdf98a2a-1884-4653-8f39-ccd6ff74cb53","name":"testalertabf21f30","description":"","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"04f9792e-ee5f-43f6-b51f-c90118af0d57","anomalyScopeType":"All","negationOperation":false,"valueFilter":{"lower":1.0,"direction":"Down","metricId":"bc52c242-5eb0-4c2b-a43c-953fa0d9bbdd","triggerForMissing":false}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/fdf98a2a-1884-4653-8f39-ccd6ff74cb53
  response:
    body:
      string: '{"code":"Not Found","message":"Not found this AnomalyAlertingConfiguration.
        TraceId: e460b400-22dc-4598-9466-44ece0656d5b"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/72e92c2d-6e47-4ec2-8fa0-3c49efbd6300
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
