interactions:
- request:
    body: '{"hookType": "Webhook", "hookName": "testwebhookcbed0cb2", "description":
      "my web hook", "externalLink": "external link", "hookParameter": {"endpoint":
      "https://httpbin.org/post"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/1495b4a5-f339-479b-926b-343999ce8166
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/1495b4a5-f339-479b-926b-343999ce8166
  response:
    body:
      string: '{"hookId":"1495b4a5-f339-479b-926b-343999ce8166","hookName":"testwebhookcbed0cb2","hookType":"Webhook","externalLink":"external
        link","description":"my web hook","admins":["krpratic@microsoft.com"],"hookParameter":{"endpoint":"https://httpbin.org/post","username":"","password":"","headers":{},"certificateKey":"","certificatePassword":""}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/1495b4a5-f339-479b-926b-343999ce8166
  response:
    body:
      string: '{"code":"ERROR_INVALID_PARAMETER","message":"hookId is invalid."}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
