interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "adconfig51ad2127", "granularityName":
      "Daily", "metrics": [{"metricName": "cost"}, {"metricName": "revenue"}], "dimension":
      [{"dimensionName": "category"}, {"dimensionName": "city"}], "dataStartFrom":
      "2019-10-01T00:00:00.000Z", "startOffsetInSeconds": 0, "maxConcurrency": -1,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter":
      {"connectionString": "connectionstring", "query": "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/6a1bc7e2-d745-47ca-ad70-965a538c20c7
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/6a1bc7e2-d745-47ca-ad70-965a538c20c7
  response:
    body:
      string: "{\"dataFeedId\":\"6a1bc7e2-d745-47ca-ad70-965a538c20c7\",\"dataFeedName\"\
        :\"adconfig51ad2127\",\"metrics\":[{\"metricId\":\"d5001dab-6f19-4dc2-aa55-323ab43958be\"\
        ,\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\"\
        :\"\"},{\"metricId\":\"8d782199-372e-4148-bcc0-f624128f11ef\",\"metricName\"\
        :\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"\
        }],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\"\
        :\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"\
        }],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\"\
        ,\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\"\
        :30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\"\
        :null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\"\
        ,\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\"\
        :[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\"\
        :-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\"\
        ],\"viewers\":[],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\"\
        ,\"createdTime\":\"2020-10-22T15:51:05Z\",\"isAdmin\":true,\"actionLinkTemplate\"\
        :\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"\
        query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F\
        =\u202F@StartTime\"}}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "testdetectionconfig51ad2127", "description": "My test metric
      anomaly detection configuration", "metricId": "d5001dab-6f19-4dc2-aa55-323ab43958be",
      "wholeMetricConfiguration": {"conditionOperator": "OR", "smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 50, "minRatio": 50.0}}, "hardThresholdCondition": {"lowerBound":
      0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition": {"changePercentage":
      50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/296e8fe9-7bb9-4047-8975-6f12e9608881
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/296e8fe9-7bb9-4047-8975-6f12e9608881
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"296e8fe9-7bb9-4047-8975-6f12e9608881","name":"testdetectionconfig51ad2127","description":"My
        test metric anomaly detection configuration","metricId":"d5001dab-6f19-4dc2-aa55-323ab43958be","wholeMetricConfiguration":{"conditionOperator":"OR","smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}},"hardThresholdCondition":{"lowerBound":0.0,"upperBound":100.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":5,"minRatio":5.0}},"changeThresholdCondition":{"changePercentage":50.0,"shiftPoint":30,"anomalyDetectorDirection":"Both","withinRange":true,"suppressCondition":{"minNumber":2,"minRatio":2.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/296e8fe9-7bb9-4047-8975-6f12e9608881
  response:
    body:
      string: '{"code":"Not Found","message":"Not found this AnomalyDetectionConfiguration.
        TraceId: 5f68834e-050c-49f8-ae59-795ebb9617de"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/6a1bc7e2-d745-47ca-ad70-965a538c20c7
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
