interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "datafeedforconfigq2hd7cp",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "viewMode": "Private", "authenticationType": "Basic", "dataSourceParameter":
      {"connectionString": "connectionstring", "query": "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/5640a9f5-4e84-4c87-9b06-c8a19c077981
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/5640a9f5-4e84-4c87-9b06-c8a19c077981
  response:
    body:
      string: "{\"dataFeedId\":\"5640a9f5-4e84-4c87-9b06-c8a19c077981\",\"dataFeedName\":\"datafeedforconfigq2hd7cp\",\"metrics\":[{\"metricId\":\"099c8f65-c921-4a5b-9b7c-c3df45c7721f\",\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\":\"\"},{\"metricId\":\"1cc362e5-156b-4cab-9e13-761e71fba179\",\"metricName\":\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\"],\"viewers\":[],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\",\"createdTime\":\"2021-06-11T23:34:04Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"\",\"dataSourceParameter\":{\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"},\"authenticationType\":\"Basic\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "multipledetectionconfigs8c301eb7", "description": "My test metric
      anomaly detection configuration", "metricId": "099c8f65-c921-4a5b-9b7c-c3df45c7721f",
      "wholeMetricConfiguration": {"conditionOperator": "AND", "smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 5, "minRatio": 5.0}}, "hardThresholdCondition": {"lowerBound":
      0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition": {"changePercentage":
      50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, "dimensionGroupOverrideConfigurations":
      [{"group": {"dimension": {"city": "Sao Paulo"}}, "conditionOperator": "AND",
      "smartDetectionCondition": {"sensitivity": 63.0, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 1, "minRatio": 100.0}}, "hardThresholdCondition":
      {"lowerBound": 0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition":
      {"changePercentage": 50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, {"group":
      {"dimension": {"city": "Seoul"}}, "conditionOperator": "AND", "smartDetectionCondition":
      {"sensitivity": 63.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 1, "minRatio": 100.0}}}], "seriesOverrideConfigurations": [{"series":
      {"dimension": {"city": "Shenzhen", "category": "Jewelry"}}, "conditionOperator":
      "AND", "smartDetectionCondition": {"sensitivity": 63.0, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 1, "minRatio": 100.0}}, "hardThresholdCondition":
      {"lowerBound": 0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition":
      {"changePercentage": 50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, {"series":
      {"dimension": {"city": "Osaka", "category": "Cell Phones"}}, "conditionOperator":
      "AND", "smartDetectionCondition": {"sensitivity": 63.0, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 1, "minRatio": 100.0}}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/ae2ddeb7-ac8b-4048-8492-571064bf79f2
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/ae2ddeb7-ac8b-4048-8492-571064bf79f2
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"ae2ddeb7-ac8b-4048-8492-571064bf79f2","name":"multipledetectionconfigs8c301eb7","description":"My
        test metric anomaly detection configuration","metricId":"099c8f65-c921-4a5b-9b7c-c3df45c7721f","wholeMetricConfiguration":{"conditionOperator":"AND","smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":5,"minRatio":5.0}},"hardThresholdCondition":{"lowerBound":0.0,"upperBound":100.0,"anomalyDetectorDirection":"Both","suppressConditi[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/5640a9f5-4e84-4c87-9b06-c8a19c077981
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
