interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/anomaly_detection_configuration_id/incidents/incident_id/rootCause
  response:
    body:
      string: '{"value":[{"rootCause":{"dimension":{"dimension_name":"Beijing","category":"Handmade"}},"path":["category"],"score":0.05937581364487382,"description":"Increase
        on dimension_name = Beijing | category = Handmade contributes the most to
        current incident."}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
