interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/anomaly_alert_configuration_id/alerts/alert_id/incidents
  response:
    body:
      string: '{"value":[{"metricId":"metric_id","anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","incidentId":"a6a239ae68312b70cf66f778a7477d41-alert_id","startTime":"2020-09-08T00:00:00Z","lastTime":"2020-09-08T00:00:00Z","rootNode":{"dimension":{"dimension_name":"Cherry
        Laurel","Dim2":"Bandicoot"}},"property":{"maxSeverity":"Low","incidentStatus":"Active"}},{"metricId":"metric_id","anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","incidentId":"incident_id","startTime":"2020-09-06T00:00:00Z","lastTime":"2020-09-08T00:00:00Z","rootNode":{"dimension":{"dimension_name":"Common
        Lime","Dim2":"Arrow crab"}},"property":{"maxSeverity":"Low","incidentStatus":"Active"}},{"metricId":"metric_id","anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","incidentId":"faa12efccfc87ba03d8d757bc2f0b0c4-alert_id","startTime":"2020-09-08T00:00:00Z","lastTime":"2020-09-08T00:00:00Z","rootNode":{"dimension":{"dimension_name":"Cherry
        Laurel","Dim2":"Beaked whale"}},"property":{"maxSeverity":"Medium","incidentStatus":"Active"}}],"@nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
