interactions:
- request:
    body: '{"dataSourceType": "AzureTable", "dataFeedName": "tablefeed56bc15d5", "granularityName":
      "Daily", "metrics": [{"metricName": "cost"}, {"metricName": "revenue"}], "dimension":
      [{"dimensionName": "category"}, {"dimensionName": "city"}], "dataStartFrom":
      "2019-10-01T00:00:00.000Z", "startOffsetInSeconds": 0, "maxConcurrency": -1,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "viewMode":
      "Private", "authenticationType": "Basic", "dataSourceParameter": {"connectionString":
      "connectionstring", "table": "adsample", "query": "PartitionKey ge ''@StartTime''
      and PartitionKey lt ''@EndTime''"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3988ada6-8e67-498e-bd7b-5a79184d625f
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3988ada6-8e67-498e-bd7b-5a79184d625f
  response:
    body:
      string: '{"dataFeedId":"3988ada6-8e67-498e-bd7b-5a79184d625f","dataFeedName":"tablefeed56bc15d5","metrics":[{"metricId":"113fb308-cc6b-4ed4-b57d-3cfa97508d2c","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"36bd58b2-fd49-4704-948b-c5e30403f4fa","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"AzureTable","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2021-06-11T23:30:56Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"query":"PartitionKey
        ge ''@StartTime'' and PartitionKey lt ''@EndTime''","table":"adsample"},"authenticationType":"Basic"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3988ada6-8e67-498e-bd7b-5a79184d625f
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
