interactions:
- request:
    body: '{"startTime": "2020-01-01T00:00:00.000Z", "endTime": "2020-09-09T00:00:00.000Z",
      "dimensionName": "dimension_name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/anomaly_detection_configuration_id/anomalies/dimension/query
  response:
    body:
      string: '{"value":["Common Lime","Cherry Laurel","Cabbage Palm","Blackthorn","Blue
        Atlas Cedar","Cider gum","Common Walnut","Almond","Chinese red-barked birch","Bastard
        Service Tree","Black Birch (River Birch)","Caucasian Fir","Common Beech","Cherry","Caucasian
        Lime","Birch","Algerian Fir","Black Poplar","Cockspur Thorn","Common Alder","Common
        Ash","Austrian Pine","Common Hazel","Box elder","Common Juniper","Aspen","Common
        Yew"],"@nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
