{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfige0700034-1a40-4c88-a87b-9b6b5a54f42f",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "04e367e8-4ce5-43ce-b20e-bac816d75df8",
            "anomalyScopeType": "Dimension",
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "upper": 5.0,
              "direction": "Up",
              "metricId": "ab769d68-e388-43df-a08f-e5df8fa0c488"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/9bfecfa4-be23-4d76-8371-0c0c320f72e0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/9bfecfa4-be23-4d76-8371-0c0c320f72e0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "9bfecfa4-be23-4d76-8371-0c0c320f72e0",
        "name": "alertconfige0700034-1a40-4c88-a87b-9b6b5a54f42f",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "04e367e8-4ce5-43ce-b20e-bac816d75df8",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "upper": 5.0,
              "direction": "Up",
              "metricId": "ab769d68-e388-43df-a08f-e5df8fa0c488",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/c4a917c1-7dfb-407f-9c0f-d94a869badfa",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfige0700034-1a40-4c88-a87b-9b6b5a54f42f",
    "data_feed_id": "c4a917c1-7dfb-407f-9c0f-d94a869badfa",
    "data_feed_metric_id": "ab769d68-e388-43df-a08f-e5df8fa0c488",
    "data_feed_name": "datafeed24f66c5a-d221-4a45-aeb1-91f85c04e4b2",
    "detection_config_id": "04e367e8-4ce5-43ce-b20e-bac816d75df8",
    "detection_config_name": "detectionconfigc72aac7f-8807-4a0f-af42-822d60cc4d17"
  }
}
