interactions:
- request:
    body: '{"hookType": "Email", "hookName": "testwebhooke00b139b", "description":
      "my email hook", "externalLink": "external link", "hookParameter": {"toList":
      ["yournamehere@microsoft.com"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location:
      - https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/9c4047f1-6699-4493-9245-80cac40f5b87
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/9c4047f1-6699-4493-9245-80cac40f5b87
  response:
    body:
      string: '{"hookId":"9c4047f1-6699-4493-9245-80cac40f5b87","hookName":"testwebhooke00b139b","hookType":"Email","externalLink":"external
        link","description":"my email hook","admins":["f850650c-1fcf-4489-b46f-71af2e30d360"],"hookParameter":{"toList":["yournamehere@microsoft.com"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/9c4047f1-6699-4493-9245-80cac40f5b87
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
