{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/40484f31-5b60-4d61-8e3c-8d5c28b5ffdf",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": "{\u0022hookName\u0022: \u0022updatebe14a5f1-484a-460f-b98a-4b34cc367180\u0022, \u0022description\u0022: null, \u0022externalLink\u0022: null}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "40484f31-5b60-4d61-8e3c-8d5c28b5ffdf",
        "hookName": "updatebe14a5f1-484a-460f-b98a-4b34cc367180",
        "hookType": "Email",
        "externalLink": "",
        "description": "",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "hookParameter": {
          "toList": [
            "yournamehere@microsoft.com"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/40484f31-5b60-4d61-8e3c-8d5c28b5ffdf",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "email_hook_id": "40484f31-5b60-4d61-8e3c-8d5c28b5ffdf",
    "email_hook_name": "emailhook45fjixrxmgwpwdh",
    "hook_updated_name": "updatebe14a5f1-484a-460f-b98a-4b34cc367180"
  }
}
