interactions:
- request:
    body: 'b''{"dataSourceType": "SqlServer", "dataFeedName": "seriesgroupdb6925de",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "select\\u202f*\\u202ffrom\\u202fadsample2\\u202fwhere\\u202fTimestamp\\u202f=\\u202f@StartTime"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f779fa3e-7981-43d3-9963-f3b4379cecf3
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f779fa3e-7981-43d3-9963-f3b4379cecf3
  response:
    body:
      string: "{\"dataFeedId\":\"f779fa3e-7981-43d3-9963-f3b4379cecf3\",\"dataFeedName\":\"seriesgroupdb6925de\",\"metrics\":[{\"metricId\":\"ac379d67-94d3-4e8a-b9fe-0ef9636a4f4a\",\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\":\"\"},{\"metricId\":\"45ea825d-050d-42b4-83fd-bcfdbb7d7a53\",\"metricName\":\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\":null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\":[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\"],\"viewers\":[],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\",\"createdTime\":\"2020-09-11T23:42:46Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "seriesgroupdb6925de", "description": "testing", "metricId": "ac379d67-94d3-4e8a-b9fe-0ef9636a4f4a",
      "wholeMetricConfiguration": {"smartDetectionCondition": {"sensitivity": 50.0,
      "anomalyDetectorDirection": "Both", "suppressCondition": {"minNumber": 50, "minRatio":
      50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/9c77024e-fdb3-4145-a3c5-8c5ce12738d4
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/9c77024e-fdb3-4145-a3c5-8c5ce12738d4
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"9c77024e-fdb3-4145-a3c5-8c5ce12738d4","name":"seriesgroupdb6925de","description":"testing","metricId":"ac379d67-94d3-4e8a-b9fe-0ef9636a4f4a","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "testalertdb6925de", "hookIds": [], "metricAlertingConfigurations":
      [{"anomalyDetectionConfigurationId": "9c77024e-fdb3-4145-a3c5-8c5ce12738d4",
      "anomalyScopeType": "Dimension", "dimensionAnomalyScope": {"dimension": {"city":
      "Shenzhen"}}, "valueFilter": {"lower": 1.0, "direction": "Down", "metricId":
      "ac379d67-94d3-4e8a-b9fe-0ef9636a4f4a"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/b3935d77-9752-479f-b084-8f94bf860d1e
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/b3935d77-9752-479f-b084-8f94bf860d1e
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"b3935d77-9752-479f-b084-8f94bf860d1e","name":"testalertdb6925de","description":"","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"9c77024e-fdb3-4145-a3c5-8c5ce12738d4","anomalyScopeType":"Dimension","negationOperation":false,"dimensionAnomalyScope":{"dimension":{"city":"Shenzhen"}},"valueFilter":{"lower":1.0,"direction":"Down","metricId":"ac379d67-94d3-4e8a-b9fe-0ef9636a4f4a","triggerForMissing":false}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/b3935d77-9752-479f-b084-8f94bf860d1e
  response:
    body:
      string: '{"code":"Not Found","message":"Not found this AnomalyAlertingConfiguration.
        TraceId: 01f74466-9daf-40bb-bd27-cf1c92281bd4"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f779fa3e-7981-43d3-9963-f3b4379cecf3
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
