interactions:
- request:
    body: '{"startTime": "2020-01-01T00:00:00.000Z", "endTime": "2020-09-09T00:00:00.000Z",
      "series": [{"dimension": {"city": "city"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/342346a5-4e6d-4cb7-9a0a-41901bdedb52/series/query
  response:
    body:
      string: '{"value":[{"series":{"dimension":{"city":"city"}},"timestampList":[],"valueList":[],"isAnomalyList":[],"periodList":[],"expectedValueList":[],"lowerBoundaryList":[],"upperBoundaryList":[]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
