interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/feedback_id
  response:
    body:
      string: '{"feedbackId":"feedback_id","createdTime":"2021-09-08T17:02:30.264Z","userPrincipal":"xiangyan@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Seoul","category":"Shoes
        Handbags & Sunglasses"}},"feedbackType":"Anomaly","startTime":"2021-05-09T00:00:00Z","endTime":"2021-05-09T00:00:00Z","value":{"anomalyValue":"AutoDetect"},"anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","anomalyDetectionConfigurationSnapshot":{"anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","name":"Default","description":"This
        description was generated by a sample.","metricId":"metric_id","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":100.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":1,"minRatio":100.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/feedback_id
  response:
    body:
      string: '{"error":{"code":"401","message":"Access denied due to invalid subscription
        key or wrong API endpoint. Make sure to provide a valid key for an active
        subscription and use a correct dimension_nameal API endpoint for your resource."}}'
    headers:
      content-type:
      - application/json
    status:
      code: 401
      message: PermissionDenied
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/feedback_id
  response:
    body:
      string: '{"feedbackId":"feedback_id","createdTime":"2021-09-08T17:02:30.264Z","userPrincipal":"xiangyan@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Seoul","category":"Shoes
        Handbags & Sunglasses"}},"feedbackType":"Anomaly","startTime":"2021-05-09T00:00:00Z","endTime":"2021-05-09T00:00:00Z","value":{"anomalyValue":"AutoDetect"},"anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","anomalyDetectionConfigurationSnapshot":{"anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","name":"Default","description":"This
        description was generated by a sample.","metricId":"metric_id","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":100.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":1,"minRatio":100.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
