{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfig1e35f387-cb9e-4dd8-bd48-8bbbc919d72f",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "51574115-c5c6-4701-a5b2-d76490940b47",
            "anomalyScopeType": "Dimension",
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "cef7dd02-cb86-40bf-a94b-9cd1b59a7a80"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/83aedbcf-7bec-4277-956c-01e22aa0d93d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/83aedbcf-7bec-4277-956c-01e22aa0d93d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "83aedbcf-7bec-4277-956c-01e22aa0d93d",
        "name": "alertconfig1e35f387-cb9e-4dd8-bd48-8bbbc919d72f",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "51574115-c5c6-4701-a5b2-d76490940b47",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "cef7dd02-cb86-40bf-a94b-9cd1b59a7a80",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b8b14427-30c3-4120-a57d-9344d4fceaa0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfig1e35f387-cb9e-4dd8-bd48-8bbbc919d72f",
    "data_feed_id": "b8b14427-30c3-4120-a57d-9344d4fceaa0",
    "data_feed_metric_id": "cef7dd02-cb86-40bf-a94b-9cd1b59a7a80",
    "data_feed_name": "datafeedebea0bef-5c5b-4ffc-b10e-d4fe3915ee61",
    "detection_config_id": "51574115-c5c6-4701-a5b2-d76490940b47",
    "detection_config_name": "detectionconfig4c5f6330-2600-44ae-802d-3e0cf635748d"
  }
}
