{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/afb9fc37-7632-48ef-b918-e92a4d64ecb3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "afb9fc37-7632-48ef-b918-e92a4d64ecb3",
        "dataFeedName": "datafeed75ff2756-9a9d-4dc3-923b-981e85d08e6d",
        "metrics": [
          {
            "metricId": "3a820919-2c0e-494f-9e83-c79c46dcf108",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "8492af8b-f088-4fa0-8c38-65158669e1a3",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "Timestamp",
        "startOffsetInSeconds": -1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "SmartFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "my first data feed",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": 0,
        "viewMode": "Private",
        "admins": [
          "krpratic@microsoft.com",
          "yournamehere@microsoft.com"
        ],
        "viewers": [
          "viewers"
        ],
        "creator": "krpratic@microsoft.com",
        "status": "Active",
        "createdTime": "2022-03-08T20:19:57Z",
        "isAdmin": true,
        "actionLinkTemplate": "action link template",
        "dataSourceParameter": {
          "query": "select * from adsample2 where Timestamp = @StartTime"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/afb9fc37-7632-48ef-b918-e92a4d64ecb3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "dataFeedName": "update6e9a8ebd-3551-49cb-ae85-8f81c937eadd",
        "dataFeedDescription": "updated",
        "timestampColumn": "time",
        "dataStartFrom": "2021-09-10T00:00:00.000Z",
        "startOffsetInSeconds": 1,
        "maxConcurrency": 1,
        "minRetryIntervalInSeconds": 120,
        "stopRetryAfterInSeconds": 1,
        "needRollup": "AlreadyRollup",
        "rollUpMethod": "Sum",
        "rollUpColumns": [],
        "allUpIdentification": "sumrollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 2,
        "viewMode": "Public",
        "viewers": [
          "updated"
        ],
        "status": "Paused",
        "actionLinkTemplate": "updated",
        "dataSourceParameter": {
          "connectionString": "updated",
          "query": "get data"
        },
        "authenticationType": "Basic",
        "credentialId": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "afb9fc37-7632-48ef-b918-e92a4d64ecb3",
        "dataFeedName": "update6e9a8ebd-3551-49cb-ae85-8f81c937eadd",
        "metrics": [
          {
            "metricId": "3a820919-2c0e-494f-9e83-c79c46dcf108",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the [...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/afb9fc37-7632-48ef-b918-e92a4d64ecb3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "afb9fc37-7632-48ef-b918-e92a4d64ecb3",
    "data_feed_metric_id": "3a820919-2c0e-494f-9e83-c79c46dcf108",
    "data_feed_name": "datafeed75ff2756-9a9d-4dc3-923b-981e85d08e6d",
    "data_feed_updated_name": "update6e9a8ebd-3551-49cb-ae85-8f81c937eadd"
  }
}
