interactions:
- request:
    body: '{"hookType": "Email", "hookName": "testemailhooke6240d7c", "description":
      "my email hook", "externalLink": "external link", "hookParameter": {"toList":
      ["yournamehere@microsoft.com"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location:
      - https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/80b7d0df-5191-4cf9-8492-8a8e0826c46b
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/80b7d0df-5191-4cf9-8492-8a8e0826c46b
  response:
    body:
      string: '{"hookId":"80b7d0df-5191-4cf9-8492-8a8e0826c46b","hookName":"testemailhooke6240d7c","hookType":"Email","externalLink":"external
        link","description":"my email hook","admins":["xiangyan@microsoft.com"],"hookParameter":{"toList":["yournamehere@microsoft.com"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/80b7d0df-5191-4cf9-8492-8a8e0826c46b
  response:
    body:
      string: '{"code":"404 NOT_FOUND","message":"hookId is invalid."}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
