interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "alertupdatejualop4375tcr32a020d4",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/cc8e58f1-7368-43f7-bc39-5079d7044c6d
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/cc8e58f1-7368-43f7-bc39-5079d7044c6d
  response:
    body:
      string: "{\"dataFeedId\":\"cc8e58f1-7368-43f7-bc39-5079d7044c6d\",\"dataFeedName\":\"alertupdatejualop4375tcr32a020d4\",\"metrics\":[{\"metricId\":\"6d1abe05-d6f8-45b4-8dd4-b475b5ef1e03\",\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\":\"\"},{\"metricId\":\"56b7382f-1d5e-4e8d-b6ce-07b8213aab24\",\"metricName\":\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\":null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\":[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\"],\"viewers\":[],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\",\"createdTime\":\"2020-10-13T15:56:17Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "alertupdatejualop4375tcr32a020d4", "description": "testing",
      "metricId": "6d1abe05-d6f8-45b4-8dd4-b475b5ef1e03", "wholeMetricConfiguration":
      {"smartDetectionCondition": {"sensitivity": 50.0, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 50, "minRatio": 50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/78c6097a-0178-4758-b105-c9b35991e47b
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/78c6097a-0178-4758-b105-c9b35991e47b
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"78c6097a-0178-4758-b105-c9b35991e47b","name":"alertupdatejualop4375tcr32a020d4","description":"testing","metricId":"6d1abe05-d6f8-45b4-8dd4-b475b5ef1e03","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "alertupdatejualop4375tcr32a020d4", "crossMetricsOperator": "AND",
      "hookIds": [], "metricAlertingConfigurations": [{"anomalyDetectionConfigurationId":
      "78c6097a-0178-4758-b105-c9b35991e47b", "anomalyScopeType": "TopN", "topNAnomalyScope":
      {"top": 5, "period": 10, "minTopCount": 9}, "valueFilter": {"lower": 1.0, "upper":
      5.0, "direction": "Both", "metricId": "6d1abe05-d6f8-45b4-8dd4-b475b5ef1e03"}},
      {"anomalyDetectionConfigurationId": "78c6097a-0178-4758-b105-c9b35991e47b",
      "anomalyScopeType": "Dimension", "dimensionAnomalyScope": {"dimension": {"city":
      "Shenzhen"}}, "severityFilter": {"minAlertSeverity": "Low", "maxAlertSeverity":
      "High"}}, {"anomalyDetectionConfigurationId": "78c6097a-0178-4758-b105-c9b35991e47b",
      "anomalyScopeType": "All", "severityFilter": {"minAlertSeverity": "Low", "maxAlertSeverity":
      "High"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/fa870abf-dd1f-40b7-8cb8-33b57c6267f3
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/fa870abf-dd1f-40b7-8cb8-33b57c6267f3
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"fa870abf-dd1f-40b7-8cb8-33b57c6267f3","name":"alertupdatejualop4375tcr32a020d4","description":"","crossMetricsOperator":"AND","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"78c6097a-0178-4758-b105-c9b35991e47b","anomalyScopeType":"TopN","negationOperation":false,"topNAnomalyScope":{"top":5,"period":10,"minTopCount":9},"valueFilter":{"lower":1.0,"upper":5.0,"direction":"Both","metricId":"6d1abe05-d6f8-45b4-8dd4-b475b5ef1e03","triggerForMissing":false}},{"anomalyDetectionConfigurationId":"78c6097a-0178-4758-b105-c9b35991e47b","anomalyScopeType":"Dimension","negationOperation":false,"dimensionAnomalyScope":{"dimension":{"city":"Shenzhen"}},"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}},{"anomalyDetectionConfigurationId":"78c6097a-0178-4758-b105-c9b35991e47b","anomalyScopeType":"All","negationOperation":false,"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/cc8e58f1-7368-43f7-bc39-5079d7044c6d
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
