{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022dataSourceType\u0022: \u0022AzureTable\u0022, \u0022dataFeedName\u0022: \u0022tablefeed10964004-d531-4bac-ba40-07e0df8d7618\u0022, \u0022granularityName\u0022: \u0022Daily\u0022, \u0022metrics\u0022: [{\u0022metricName\u0022: \u0022cost\u0022}, {\u0022metricName\u0022: \u0022revenue\u0022}], \u0022dimension\u0022: [{\u0022dimensionName\u0022: \u0022category\u0022}, {\u0022dimensionName\u0022: \u0022city\u0022}], \u0022dataStartFrom\u0022: \u00222019-10-01T00:00:00.000Z\u0022, \u0022startOffsetInSeconds\u0022: 0, \u0022maxConcurrency\u0022: -1, \u0022minRetryIntervalInSeconds\u0022: -1, \u0022stopRetryAfterInSeconds\u0022: -1, \u0022viewMode\u0022: \u0022Private\u0022, \u0022authenticationType\u0022: \u0022Basic\u0022, \u0022dataSourceParameter\u0022: {\u0022connectionString\u0022: \u0022azure_table_connection_string\u0022, \u0022table\u0022: \u0022adsample\u0022, \u0022query\u0022: \u0022PartitionKey ge \u0027@StartTime\u0027 and PartitionKey lt \u0027@EndTime\u0027\u0022}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b88fba6e-81e7-48d7-a89d-107b54e43fa2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b88fba6e-81e7-48d7-a89d-107b54e43fa2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "b88fba6e-81e7-48d7-a89d-107b54e43fa2",
        "dataFeedName": "tablefeed10964004-d531-4bac-ba40-07e0df8d7618",
        "metrics": [
          {
            "metricId": "17929dfe-546f-4a92-8d9f-cd60234190ea",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          },
          {
            "metricId": "c922da90-91d3-406f-8764-323156886912",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00Z",
        "dataSourceType": "AzureTable",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "viewers": [],
        "creator": "krpratic@microsoft.com",
        "status": "Active",
        "createdTime": "2021-12-16T01:05:55Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "query": "PartitionKey ge \u0027@StartTime\u0027 and PartitionKey lt \u0027@EndTime\u0027",
          "table": "adsample"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b88fba6e-81e7-48d7-a89d-107b54e43fa2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "b88fba6e-81e7-48d7-a89d-107b54e43fa2",
    "data_feed_name": "tablefeed10964004-d531-4bac-ba40-07e0df8d7618"
  }
}
