{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/metrics_advisor_feedback_id",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "feedbackId": "metrics_advisor_feedback_id",
        "createdTime": "2022-04-14T22:12:24.706Z",
        "userPrincipal": "camaiaor@microsoft.com",
        "metricId": "metrics_advisor_metric_id",
        "dimensionFilter": {
          "dimension": {
            "Dim1": "USD"
          }
        },
        "feedbackType": "Anomaly",
        "startTime": "2020-02-01T00:00:00Z",
        "endTime": "2020-02-03T00:00:00Z",
        "value": {
          "anomalyValue": "NotAnomaly"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/metrics_advisor_feedback_id",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "error": {
          "code": "401",
          "message": "Access denied due to invalid subscription key or wrong API endpoint. Make sure to provide a valid key for an active subscription and use a correct regional API endpoint for your resource."
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/metrics_advisor_feedback_id",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "feedbackId": "metrics_advisor_feedback_id",
        "createdTime": "2022-04-14T22:12:24.706Z",
        "userPrincipal": "camaiaor@microsoft.com",
        "metricId": "metrics_advisor_metric_id",
        "dimensionFilter": {
          "dimension": {
            "Dim1": "USD"
          }
        },
        "feedbackType": "Anomaly",
        "startTime": "2020-02-01T00:00:00Z",
        "endTime": "2020-02-03T00:00:00Z",
        "value": {
          "anomalyValue": "NotAnomaly"
        }
      }
    }
  ],
  "Variables": {}
}
