interactions:
- request:
    body: '{"dataSourceType": "AzureDataExplorer", "dataFeedName": "azuredataexplorer82bd16b1",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-01-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "let StartDateTime = datetime(@StartTime); let EndDateTime = StartDateTime +
      1d; adsample | where Timestamp >= StartDateTime and Timestamp < EndDateTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/0f6c6424-226e-4705-868c-bd728bc02483
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/0f6c6424-226e-4705-868c-bd728bc02483
  response:
    body:
      string: '{"dataFeedId":"0f6c6424-226e-4705-868c-bd728bc02483","dataFeedName":"azuredataexplorer82bd16b1","metrics":[{"metricId":"8c5773c0-b690-4454-a068-bab9a1269e07","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"c0c82bea-057e-463c-8f4b-ec67ca59c7b5","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-01-01T00:00:00Z","dataSourceType":"AzureDataExplorer","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-12-26T19:29:51Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"connectionString":"connectionstring","query":"let
        StartDateTime = datetime(@StartTime); let EndDateTime = StartDateTime + 1d;
        adsample | where Timestamp >= StartDateTime and Timestamp < EndDateTime"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/0f6c6424-226e-4705-868c-bd728bc02483
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
