{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfig15528174-aabd-41c5-9e57-f49da8fbfb4a",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "ce3aed3f-eea0-47b6-bbd8-9b46b22e4010",
            "anomalyScopeType": "Dimension",
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/2326602b-cf0e-4037-be20-bab2132c7c7a"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/2326602b-cf0e-4037-be20-bab2132c7c7a",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "2326602b-cf0e-4037-be20-bab2132c7c7a",
        "name": "alertconfig15528174-aabd-41c5-9e57-f49da8fbfb4a",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "ce3aed3f-eea0-47b6-bbd8-9b46b22e4010",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/336e82fd-b821-477f-9daa-3b7f0f9f4b4f",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfig15528174-aabd-41c5-9e57-f49da8fbfb4a",
    "data_feed_id": "336e82fd-b821-477f-9daa-3b7f0f9f4b4f",
    "data_feed_metric_id": "5fd7b435-8e9f-4356-b81b-08b5e7452b83",
    "data_feed_name": "datafeed2dd960c0-acec-468d-abb1-ed93ffaa3349",
    "detection_config_id": "ce3aed3f-eea0-47b6-bbd8-9b46b22e4010",
    "detection_config_name": "detectionconfig777e822f-ed1e-46dd-8d78-a39bab20bc1d"
  }
}
