interactions:
- request:
    body: '{"dataSourceType": "MongoDB", "dataFeedName": "mongodb36eqx6lk5jr7xopvi1aa142d",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-01-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "database":
      "adsample", "command": "{\"find\": \"adsample\", \"filter\": { Timestamp: {
      $eq: @StartTime }} \"batchSize\": 2000,}"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/0c50056a-2528-4f1a-9c35-a7bbe17b9d2d
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/0c50056a-2528-4f1a-9c35-a7bbe17b9d2d
  response:
    body:
      string: '{"dataFeedId":"0c50056a-2528-4f1a-9c35-a7bbe17b9d2d","dataFeedName":"mongodb36eqx6lk5jr7xopvi1aa142d","metrics":[{"metricId":"0ccb482c-3e51-4e23-96a0-c843bfb9034d","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"fab4020b-2146-4436-9d87-a9053c221aa5","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-01-01T00:00:00Z","dataSourceType":"MongoDB","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-10-13T16:06:01Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"connectionString":"connectionstring","database":"adsample","command":"{\"find\":
        \"adsample\", \"filter\": { Timestamp: { $eq: @StartTime }} \"batchSize\":
        2000,}"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/0c50056a-2528-4f1a-9c35-a7bbe17b9d2d
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
