interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "alertupdatekqwun4kyu6ne3",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/bd5916b3-5754-45a4-a5e0-c04c8d5c7cf7
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/bd5916b3-5754-45a4-a5e0-c04c8d5c7cf7
  response:
    body:
      string: "{\"dataFeedId\":\"bd5916b3-5754-45a4-a5e0-c04c8d5c7cf7\",\"dataFeedName\":\"alertupdatekqwun4kyu6ne3\",\"metrics\":[{\"metricId\":\"3f00b0aa-08d2-462f-bef2-5cf2c0ee4a1e\",\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\":\"\"},{\"metricId\":\"15cd2ac2-927a-4b24-b098-0aff32d8b846\",\"metricName\":\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\":null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\":[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"f850650c-1fcf-4489-b46f-71af2e30d360\"],\"viewers\":[],\"creator\":\"f850650c-1fcf-4489-b46f-71af2e30d360\",\"status\":\"Active\",\"createdTime\":\"2020-12-26T19:29:24Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "alertupdatezsuxj2ljnzs7z", "description": "testing", "metricId":
      "3f00b0aa-08d2-462f-bef2-5cf2c0ee4a1e", "wholeMetricConfiguration": {"smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 50, "minRatio": 50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/fadddcf2-c7b5-4f7e-a871-da90c7f716e8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/fadddcf2-c7b5-4f7e-a871-da90c7f716e8
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"fadddcf2-c7b5-4f7e-a871-da90c7f716e8","name":"alertupdatezsuxj2ljnzs7z","description":"testing","metricId":"3f00b0aa-08d2-462f-bef2-5cf2c0ee4a1e","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "alertupdateg3y6pk4paxxh7", "crossMetricsOperator": "AND", "hookIds":
      [], "metricAlertingConfigurations": [{"anomalyDetectionConfigurationId": "fadddcf2-c7b5-4f7e-a871-da90c7f716e8",
      "anomalyScopeType": "TopN", "topNAnomalyScope": {"top": 5, "period": 10, "minTopCount":
      9}, "valueFilter": {"lower": 1.0, "upper": 5.0, "direction": "Both", "metricId":
      "3f00b0aa-08d2-462f-bef2-5cf2c0ee4a1e"}}, {"anomalyDetectionConfigurationId":
      "fadddcf2-c7b5-4f7e-a871-da90c7f716e8", "anomalyScopeType": "Dimension", "dimensionAnomalyScope":
      {"dimension": {"city": "Shenzhen"}}, "severityFilter": {"minAlertSeverity":
      "Low", "maxAlertSeverity": "High"}}, {"anomalyDetectionConfigurationId": "fadddcf2-c7b5-4f7e-a871-da90c7f716e8",
      "anomalyScopeType": "All", "severityFilter": {"minAlertSeverity": "Low", "maxAlertSeverity":
      "High"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/627a988d-b7b4-4eb7-8f1e-c475c8532391
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/627a988d-b7b4-4eb7-8f1e-c475c8532391
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"627a988d-b7b4-4eb7-8f1e-c475c8532391","name":"alertupdateg3y6pk4paxxh7","description":"","crossMetricsOperator":"AND","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"fadddcf2-c7b5-4f7e-a871-da90c7f716e8","anomalyScopeType":"TopN","negationOperation":false,"topNAnomalyScope":{"top":5,"period":10,"minTopCount":9},"valueFilter":{"lower":1.0,"upper":5.0,"direction":"Both","metricId":"3f00b0aa-08d2-462f-bef2-5cf2c0ee4a1e","triggerForMissing":false}},{"anomalyDetectionConfigurationId":"fadddcf2-c7b5-4f7e-a871-da90c7f716e8","anomalyScopeType":"Dimension","negationOperation":false,"dimensionAnomalyScope":{"dimension":{"city":"Shenzhen"}},"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}},{"anomalyDetectionConfigurationId":"fadddcf2-c7b5-4f7e-a871-da90c7f716e8","anomalyScopeType":"All","negationOperation":false,"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/bd5916b3-5754-45a4-a5e0-c04c8d5c7cf7
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
