interactions:
- request:
    body: '{"dataSourceCredentialType": "DataLakeGen2SharedKey", "dataSourceCredentialName":
      "testdatalakecredential34151d38", "dataSourceCredentialDescription": "my credential",
      "parameters": {"accountKey": "connectionstring"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/1580e1e5-ebb5-4190-ba2c-baf219c08912
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/1580e1e5-ebb5-4190-ba2c-baf219c08912
  response:
    body:
      string: '{"dataSourceCredentialId":"1580e1e5-ebb5-4190-ba2c-baf219c08912","dataSourceCredentialName":"testdatalakecredential34151d38","dataSourceCredentialDescription":"my
        credential","dataSourceCredentialType":"DataLakeGen2SharedKey","parameters":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/1580e1e5-ebb5-4190-ba2c-baf219c08912
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
