interactions:
- request:
    body: '{"hookType": "Email", "hookName": "testhook78f31696", "description": "my
      email hook", "externalLink": "external link", "hookParameter": {"toList": ["yournamehere@microsoft.com"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/89af96a9-bfbc-4e20-8cd5-73c87c6a71d1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/89af96a9-bfbc-4e20-8cd5-73c87c6a71d1
  response:
    body:
      string: '{"hookId":"89af96a9-bfbc-4e20-8cd5-73c87c6a71d1","hookName":"testhook78f31696","hookType":"Email","externalLink":"external
        link","description":"my email hook","admins":["krpratic@microsoft.com"],"hookParameter":{"toList":["yournamehere@microsoft.com"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/89af96a9-bfbc-4e20-8cd5-73c87c6a71d1
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
