interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "updatecizdtvi4ba66opc5d4",
      "dataFeedDescription": "my first data feed", "granularityName": "Daily", "metrics":
      [{"metricName": "cost", "metricDisplayName": "display cost", "metricDescription":
      "the cost"}, {"metricName": "revenue", "metricDisplayName": "display revenue",
      "metricDescription": "the revenue"}], "dimension": [{"dimensionName": "category",
      "dimensionDisplayName": "display category"}, {"dimensionName": "city", "dimensionDisplayName":
      "display city"}], "timestampColumn": "Timestamp", "dataStartFrom": "2019-10-01T00:00:00.000Z",
      "startOffsetInSeconds": -1, "maxConcurrency": 0, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "needRollup": "NoRollup", "rollUpMethod":
      "None", "fillMissingPointType": "SmartFilling", "viewMode": "Private", "admins":
      ["yournamehere@microsoft.com"], "viewers": ["viewers"], "actionLinkTemplate":
      "action link template", "dataSourceParameter": {"connectionString": "connectionstring",
      "query": "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f63fdb72-57ed-4f66-a593-73196ab59540
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f63fdb72-57ed-4f66-a593-73196ab59540
  response:
    body:
      string: "{\"dataFeedId\":\"f63fdb72-57ed-4f66-a593-73196ab59540\",\"dataFeedName\":\"updatecizdtvi4ba66opc5d4\",\"metrics\":[{\"metricId\":\"58c81d27-0e65-4ce4-8bc2-3290a481b6af\",\"metricName\":\"cost\",\"metricDisplayName\":\"display
        cost\",\"metricDescription\":\"the cost\"},{\"metricId\":\"8b82d76d-02f5-421a-9c2f-1b7c96b4f80f\",\"metricName\":\"revenue\",\"metricDisplayName\":\"display
        revenue\",\"metricDescription\":\"the revenue\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"display
        category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"display
        city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"Timestamp\",\"startOffsetInSeconds\":-1,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"SmartFilling\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"dataFeedDescription\":\"my
        first data feed\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":0,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\",\"yournamehere@microsoft.com\"],\"viewers\":[\"viewers\"],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\",\"createdTime\":\"2021-05-21T19:47:28Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"action
        link template\",\"dataSourceParameter\":{\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"},\"authenticationType\":\"Basic\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"dataFeedName": "update", "dataFeedDescription": null, "timestampColumn":
      null, "startOffsetInSeconds": null, "maxConcurrency": null, "minRetryIntervalInSeconds":
      null, "stopRetryAfterInSeconds": null, "needRollup": null, "rollUpMethod": null,
      "rollUpColumns": null, "allUpIdentification": null, "fillMissingPointType":
      null, "fillMissingPointValue": null, "viewMode": null, "viewers": null, "status":
      null, "actionLinkTemplate": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f63fdb72-57ed-4f66-a593-73196ab59540
  response:
    body:
      string: '{"code":"InternalServerError","message":"Internal error occurred, please
        contact us."}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"dataFeedName": "update", "dataFeedDescription": null, "timestampColumn":
      null, "startOffsetInSeconds": null, "maxConcurrency": null, "minRetryIntervalInSeconds":
      null, "stopRetryAfterInSeconds": null, "needRollup": null, "rollUpMethod": null,
      "rollUpColumns": null, "allUpIdentification": null, "fillMissingPointType":
      null, "fillMissingPointValue": null, "viewMode": null, "viewers": null, "status":
      null, "actionLinkTemplate": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f63fdb72-57ed-4f66-a593-73196ab59540
  response:
    body:
      string: '{ "error": { "code": "Timeout", "message": "The operation was timeout."
        } }'
    headers:
      content-type:
      - application/json
    status:
      code: 408
      message: Timeout
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f63fdb72-57ed-4f66-a593-73196ab59540
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
