interactions:
- request:
    body: '{"hookType": "Email", "hookName": "testhookd229181b", "description": "my
      email hook", "externalLink": "external link", "hookParameter": {"toList": ["yournamehere@microsoft.com"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location:
      - https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/5a8fd4d4-1db0-4ac5-994a-988f98c82a9d
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/5a8fd4d4-1db0-4ac5-994a-988f98c82a9d
  response:
    body:
      string: '{"hookId":"5a8fd4d4-1db0-4ac5-994a-988f98c82a9d","hookName":"testhookd229181b","hookType":"Email","externalLink":"external
        link","description":"my email hook","admins":["f850650c-1fcf-4489-b46f-71af2e30d360"],"hookParameter":{"toList":["yournamehere@microsoft.com"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/5a8fd4d4-1db0-4ac5-994a-988f98c82a9d
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
