{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022hookType\u0022: \u0022Email\u0022, \u0022hookName\u0022: \u0022testemailhookddd4a840-da83-4263-8e30-f58d3722af47\u0022, \u0022description\u0022: \u0022my email hook\u0022, \u0022externalLink\u0022: \u0022external link\u0022, \u0022hookParameter\u0022: {\u0022toList\u0022: [\u0022yournamehere@microsoft.com\u0022]}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/de6eea6c-6b90-4a30-939a-0770e7dd5056"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/de6eea6c-6b90-4a30-939a-0770e7dd5056",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "de6eea6c-6b90-4a30-939a-0770e7dd5056",
        "hookName": "testemailhookddd4a840-da83-4263-8e30-f58d3722af47",
        "hookType": "Email",
        "externalLink": "external link",
        "description": "my email hook",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "hookParameter": {
          "toList": [
            "yournamehere@microsoft.com"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/de6eea6c-6b90-4a30-939a-0770e7dd5056",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "code": "404 NOT_FOUND",
        "message": "hookId is invalid."
      }
    }
  ],
  "Variables": {
    "email_hook_id": "de6eea6c-6b90-4a30-939a-0770e7dd5056",
    "email_hook_name": "testemailhookddd4a840-da83-4263-8e30-f58d3722af47"
  }
}
