{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfigbd39c184-c381-44b0-8d9d-703138e850db",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "021c0e76-fe63-4486-ad96-25fdb5ea2c82",
            "anomalyScopeType": "All",
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/c0e0416d-63ac-435a-8c0a-33643c419a81"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/c0e0416d-63ac-435a-8c0a-33643c419a81",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "c0e0416d-63ac-435a-8c0a-33643c419a81",
        "name": "alertconfigbd39c184-c381-44b0-8d9d-703138e850db",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "021c0e76-fe63-4486-ad96-25fdb5ea2c82",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/264d99ed-b6d8-443e-9509-fdd84be243f5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfigbd39c184-c381-44b0-8d9d-703138e850db",
    "data_feed_id": "264d99ed-b6d8-443e-9509-fdd84be243f5",
    "data_feed_metric_id": "92f7828a-ada2-40b2-8cf3-4d89fb7cea8f",
    "data_feed_name": "datafeede5f24dc1-a31b-4693-8adc-d8b7155efb2e",
    "detection_config_id": "021c0e76-fe63-4486-ad96-25fdb5ea2c82",
    "detection_config_name": "detectionconfig2af212a8-70c1-452b-ad03-54f66d1cbac6"
  }
}
