{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/metrics_advisor_anomaly_detection_configuration_id/series/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "startTime": "2022-02-28T00:00:00.000Z",
        "endTime": "2022-09-29T00:00:00.000Z",
        "series": [
          {
            "dimension": {
              "Dim1": "USD"
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "series": {
              "dimension": {
                "Dim1": "USD"
              }
            },
            "timestampList": [],
            "valueList": [],
            "isAnomalyList": [],
            "periodList": [],
            "expectedValueList": [],
            "lowerBoundaryList": [],
            "upperBoundaryList": []
          }
        ]
      }
    }
  ],
  "Variables": {}
}
