{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfigefdfcf7e-8191-4076-8447-37f31a0f561f",
        "crossMetricsOperator": "AND",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "80cc8b57-6b45-46eb-b039-12701a65ca77",
            "anomalyScopeType": "TopN",
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "c47bf1db-e19e-4ae3-926d-e4a9f1e5c687"
            }
          },
          {
            "anomalyDetectionConfigurationId": "80cc8b57-6b45-46eb-b039-12701a65ca77",
            "anomalyScopeType": "Dimension",
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "80cc8b57-6b45-46eb-b039-12701a65ca77",
            "anomalyScopeType": "All",
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/db0b76e3-181f-4bad-b823-7120b2bc9e40"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/db0b76e3-181f-4bad-b823-7120b2bc9e40",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "db0b76e3-181f-4bad-b823-7120b2bc9e40",
        "name": "alertconfigefdfcf7e-8191-4076-8447-37f31a0f561f",
        "description": "",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "80cc8b57-6b45-46eb-b039-12701a65ca77",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "c47bf1db-e19e-4ae3-926d-e4a9f1e5c687",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "80cc8b57-6b45-46eb-b039-12701a65ca77",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "80cc8b57-6b45-46eb-b039-12701a65ca77",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/c37b96f1-55bc-4afd-82f1-6337e7f4ceb6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfigefdfcf7e-8191-4076-8447-37f31a0f561f",
    "data_feed_id": "c37b96f1-55bc-4afd-82f1-6337e7f4ceb6",
    "data_feed_metric_id": "c47bf1db-e19e-4ae3-926d-e4a9f1e5c687",
    "data_feed_name": "datafeedb115721a-9ba3-4909-91f5-8214d03c4d9f",
    "detection_config_id": "80cc8b57-6b45-46eb-b039-12701a65ca77",
    "detection_config_name": "detectionconfigb4a32c83-9ad2-4a75-b155-a5760d3f4315"
  }
}
