interactions:
- request:
    body: '{"dataSourceCredentialType": "DataLakeGen2SharedKey", "dataSourceCredentialName":
      "testdatalakecredentiala0411ec7", "dataSourceCredentialDescription": "my credential
      entity", "parameters": {"accountKey": "connectionstring"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials
  response:
    body:
      string: ''
    headers:
    status:
      code: 400
      message: BadRequest
version: 1
