{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.22.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026scope=https%3A%2F%2Fpurview.azure.net%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "refresh_in": 43199,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://fake_account.share.purview.azure.com/sentShares/4556ccb7-5d6a-45d4-8568-e1faa236e037?api-version=2023-05-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "artifact": {
            "properties": {
              "paths": [
                {
                  "containerName": "container1",
                  "receiverPath": "folder1",
                  "senderPath": "folder1"
                }
              ]
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fakeResourceGroup/providers/Microsoft.Storage/storageAccounts/fakeStorageAccount",
              "type": "ArmResourceReference"
            }
          },
          "displayName": "sentShare-Test",
          "description": "A sample share"
        },
        "shareKind": "InPlace"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/sentShares/4556ccb7-5d6a-45d4-8568-e1faa236e037/4556ccb7-5d6a-45d4-8568-e1faa236e037",
        "Operation-Id": "https://fake_account.share.purview.azure.com/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
        "Operation-Location": "https://fake_account.share.purview.azure.com/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "sentShare-Test",
          "description": "A sample share",
          "artifact": {
            "properties": {
              "paths": [
                {
                  "containerName": "container1",
                  "senderPath": "folder1",
                  "receiverPath": "folder1"
                }
              ],
              "location": "southafricanorth"
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fakeResourceGroup/providers/Microsoft.Storage/storageAccounts/fakeStorageAccount",
              "type": "ArmResourceReference"
            }
          },
          "state": "Succeeded",
          "createdAt": "2023-06-29T16:56:36.7292948Z",
          "dependsOn": [],
          "senderName": "python-sdk-share",
          "senderTenantName": "Microsoft"
        },
        "shareKind": "InPlace",
        "id": "4556ccb7-5d6a-45d4-8568-e1faa236e037",
        "type": "SentShare"
      }
    },
    {
      "RequestUri": "https://fake_account.share.purview.azure.com/sentShares/4556ccb7-5d6a-45d4-8568-e1faa236e037/sentShareInvitations/554696cf-ddc7-46c0-b915-45face229cd3?api-version=2023-05-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "invitationKind": "User",
        "properties": {
          "targetEmail": "consumer@contoso.com",
          "notify": "true",
          "expirationDate": "2024-01-01 00:00:00"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/sentShares/4556ccb7-5d6a-45d4-8568-e1faa236e037/sentShareInvitations/554696cf-ddc7-46c0-b915-45face229cd3/554696cf-ddc7-46c0-b915-45face229cd3"
      },
      "ResponseBody": {
        "properties": {
          "targetEmail": "consumer@contoso.com",
          "notify": true,
          "shareStatus": "Detached",
          "expirationDate": "2024-01-01T00:00:00Z",
          "sentAt": "2023-06-29T16:56:40.6928961Z",
          "senderName": "python-sdk-share",
          "senderTenantName": "Microsoft",
          "state": "Succeeded"
        },
        "invitationKind": "User",
        "id": "554696cf-ddc7-46c0-b915-45face229cd3",
        "type": "sentShares/sentShareInvitations"
      }
    },
    {
      "RequestUri": "https://fake_account.share.purview.azure.com/receivedShares/detached?api-version=2023-05-30-preview\u0026orderby=properties%2FcreatedAt%20desc",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "createdAt": "2023-06-14T23:31:10.6017962Z",
              "sharedAt": "2023-06-14T23:31:10.6017962Z",
              "displayName": "sentShare-Test",
              "state": "Succeeded",
              "shareStatus": "Detached",
              "sentShareDescription": "A sample share",
              "senderName": "python-sdk-share",
              "senderTenantName": "Microsoft",
              "assetLocation": "southafricanorth",
              "assetStoreKind": "AdlsGen2Account"
            },
            "shareKind": "InPlace",
            "id": "b9fccf02-ba25-4846-9d20-2b38ede868a7",
            "type": "ReceivedShare"
          },
          {
            "properties": {
              "createdAt": "2023-06-14T23:20:29.8790458Z",
              "sharedAt": "2023-06-14T23:20:29.8790458Z",
              "displayName": "sentShare-Test",
              "state": "Succeeded",
              "shareStatus": "Detached",
              "sentShareDescription": "A s[...]
