interactions:
- request:
    body: '{"tags": {"key1": "value1"}, "sku": {"name": "Standard_S1", "tier": "Standard",
      "capacity": 1}, "properties": {"features": [{"flag": "ServiceMode", "value":
      "Serverless"}], "cors": {"allowedOrigins": ["https://foo.com", "https://bar.com"]}},
      "location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_signalr_test_signalrf5150df8/providers/Microsoft.SignalRService/signalR/myResource?api-version=2018-10-01
  response:
    body:
      string: '{"sku":{"name":"Standard_S1","tier":"Standard","size":"S1","capacity":1},"properties":{"provisioningState":"Creating","externalIP":null,"hostName":"myresource.service.signalr.net","publicPort":443,"serverPort":443,"version":"1.0-preview","privateEndpointConnections":[],"hostNamePrefix":"myresource","features":[{"flag":"ServiceMode","value":"Serverless","properties":{}},{"flag":"EnableConnectivityLogs","value":"False","properties":{}},{"flag":"EnableMessagingLogs","value":"False","properties":{}}],"cors":{"allowedOrigins":["https://foo.com","https://bar.com"]},"upstream":{"templates":null},"networkACLs":{"defaultAction":"Deny","publicNetwork":{"allow":["ServerConnection","ClientConnection","RESTAPI"],"deny":null},"privateEndpoints":[]}},"location":"eastus","tags":{"key1":"value1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_signalr_test_signalrf5150df8/providers/Microsoft.SignalRService/SignalR/myResource","name":"myResource","type":"Microsoft.SignalRService/SignalR","kind":"SignalR"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_signalr_test_signalrf5150df8/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/myResource/operationId/99e0f7b7-a4f7-476b-9869-0f7de5b4ea87?api-version=2018-10-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_signalr_test_signalrf5150df8/providers/Microsoft.SignalRService/locations/eastus/operationResults/99e0f7b7-a4f7-476b-9869-0f7de5b4ea87/SignalR/myResource?api-version=2018-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - afd9a794-0c74-4d7a-9baf-5982aa7d2e8c
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_signalr_test_signalrf5150df8/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/myResource/operationId/99e0f7b7-a4f7-476b-9869-0f7de5b4ea87?api-version=2018-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_signalr_test_signalrf5150df8/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/myResource/operationId/99e0f7b7-a4f7-476b-9869-0f7de5b4ea87","name":"99e0f7b7-a4f7-476b-9869-0f7de5b4ea87","status":"Running","startTime":"2020-04-30T14:24:39.4587136Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - afd9a794-0c74-4d7a-9baf-5982aa7d2e8c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_signalr_test_signalrf5150df8/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/myResource/operationId/99e0f7b7-a4f7-476b-9869-0f7de5b4ea87?api-version=2018-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_signalr_test_signalrf5150df8/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/myResource/operationId/99e0f7b7-a4f7-476b-9869-0f7de5b4ea87","name":"99e0f7b7-a4f7-476b-9869-0f7de5b4ea87","status":"Succeeded","startTime":"2020-04-30T14:24:39.4587136Z","endTime":"2020-04-30T14:25:56.4099109Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - afd9a794-0c74-4d7a-9baf-5982aa7d2e8c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_signalr_test_signalrf5150df8/providers/Microsoft.SignalRService/SignalR/myResource/listKeys?api-version=2018-10-01
  response:
    body:
      string: '{"primaryKey":"Nj4VNIHZNdwAKU32mM22ureU/yo4JamK79FQiOzvGik=","secondaryKey":"aWqFqjyYds8z+LBCeRlmHlsS8IVN8JYh1UXPpk30a04=","primaryConnectionString":"Endpoint=https://myresource.service.signalr.net;AccessKey=Nj4VNIHZNdwAKU32mM22ureU/yo4JamK79FQiOzvGik=;Version=1.0;","secondaryConnectionString":"Endpoint=https://myresource.service.signalr.net;AccessKey=aWqFqjyYds8z+LBCeRlmHlsS8IVN8JYh1UXPpk30a04=;Version=1.0;"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - afd9a794-0c74-4d7a-9baf-5982aa7d2e8c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_signalr_test_signalrf5150df8/providers/Microsoft.SignalRService/signalR/myResource/restart?api-version=2018-10-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_signalr_test_signalrf5150df8/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/myResource/operationId/3296660b-933d-4664-bfd4-8aebcd21cbdf?api-version=2018-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_signalr_test_signalrf5150df8/providers/Microsoft.SignalRService/locations/eastus/operationResults/3296660b-933d-4664-bfd4-8aebcd21cbdf/SignalR/myResource?api-version=2018-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - afd9a794-0c74-4d7a-9baf-5982aa7d2e8c
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "Microsoft.SignalRService/SignalR", "name": "my-signalr-service"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/checkNameAvailability?api-version=2018-10-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-rp-server-mvid:
      - afd9a794-0c74-4d7a-9baf-5982aa7d2e8c
    status:
      code: 200
      message: OK
[...]
