# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for
# license information.
#
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is
# regenerated.
# --------------------------------------------------------------------------

from msrest.pipeline import ClientRawResponse
from msrestazure.azure_exceptions import CloudError
from .. import models
import uuid


class AttestationClientOperationsMixin(object):

    def prepare_to_set_policy(
            self, tenanturi, authorization, tee, policy_jws, custom_headers=None, raw=False, **operation_config):
        """Accepts a new policy document and returns a JWT which expresses  used
        in preparation to set attestation policy.

        :param tenanturi: The tenant name, for example
         https://mytenant.tenant.azure.net.
        :type tenanturi: str
        :param authorization: Authorization header containing AAD bearer
         token.
        :type authorization: str
        :param tee: Specifies the trusted execution environment to be used to
         validate the evidence. Possible values include: 'SgxEnclave',
         'OpenEnclave', 'CyResComponent', 'AzureGuest'
        :type tee: str or ~azure.attestation.models.TeeKind
        :param policy_jws: JSON Web Signature (See RFC7515) expressing the new
         policy
        :type policy_jws: str
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: object or ClientRawResponse if raw=true
        :rtype: object or ~msrest.pipeline.ClientRawResponse
        :raises: :class:`CloudError<msrestazure.azure_exceptions.CloudError>`
        """
        # Construct URL
        url = self.prepare_to_set_policy.metadata['url']
        path_format_arguments = {
            'tenanturi': self._serialize.url("tenanturi", tenanturi, 'str', skip_quote=True)
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')
        query_parameters['tee'] = self._serialize.query("tee", tee, 'TeeKind')

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        header_parameters['Content-Type'] = 'text/plain'
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        header_parameters['authorization'] = self._serialize.header("authorization", authorization, 'str')
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct body
        body_content = self._serialize.body(policy_jws, 'str')

        # Construct and send request
        request = self._client.post(url, query_parameters, header_parameters, body_content)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200, 400, 401]:
            exp = CloudError(response)
            exp.request_id = response.headers.get('x-ms-request-id')
            raise exp

        deserialized = None
        if response.status_code == 200:
            deserialized = self._deserialize('str', response)
        if response.status_code == 400:
            deserialized = self._deserialize('CloudError', response)
        if response.status_code == 401:
            deserialized = self._deserialize('str', response)

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized
    prepare_to_set_policy.metadata = {'url': '/operations/update'}

    def get_policy(
            self, tenanturi, authorization, tee, custom_headers=None, raw=False, **operation_config):
        """Retrieves the current policy for a given kind of TEE.

        :param tenanturi: The tenant name, for example
         https://mytenant.tenant.azure.net.
        :type tenanturi: str
        :param authorization: Authorization header containing AAD bearer
         token.
        :type authorization: str
        :param tee: Specifies the trusted execution environment to be used to
         validate the evidence. Possible values include: 'SgxEnclave',
         'OpenEnclave', 'CyResComponent', 'AzureGuest'
        :type tee: str or ~azure.attestation.models.TeeKind
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: object or ClientRawResponse if raw=true
        :rtype: object or ~msrest.pipeline.ClientRawResponse
        :raises: :class:`CloudError<msrestazure.azure_exceptions.CloudError>`
        """
        # Construct URL
        url = self.get_policy.metadata['url']
        path_format_arguments = {
            'tenanturi': self._serialize.url("tenanturi", tenanturi, 'str', skip_quote=True)
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')
        query_parameters['tee'] = self._serialize.query("tee", tee, 'TeeKind')

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        header_parameters['authorization'] = self._serialize.header("authorization", authorization, 'str')
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200, 400, 401]:
            exp = CloudError(response)
            exp.request_id = response.headers.get('x-ms-request-id')
            raise exp

        deserialized = None
        if response.status_code == 200:
            deserialized = self._deserialize('AttestationPolicy', response)
        if response.status_code == 400:
            deserialized = self._deserialize('CloudError', response)
        if response.status_code == 401:
            deserialized = self._deserialize('str', response)

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized
    get_policy.metadata = {'url': '/operations/policy/current'}

    def set_policy(
            self, tenanturi, authorization, tee, new_attestation_policy, custom_headers=None, raw=False, **operation_config):
        """Sets the policy for a given kind of TEE.

        :param tenanturi: The tenant name, for example
         https://mytenant.tenant.azure.net.
        :type tenanturi: str
        :param authorization: Authorization header containing AAD bearer
         token.
        :type authorization: str
        :param tee: Specifies the trusted execution environment to be used to
         validate the evidence. Possible values include: 'SgxEnclave',
         'OpenEnclave', 'CyResComponent', 'AzureGuest'
        :type tee: str or ~azure.attestation.models.TeeKind
        :param new_attestation_policy: JWT Expressing the new policy
        :type new_attestation_policy: str
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: object or ClientRawResponse if raw=true
        :rtype: object or ~msrest.pipeline.ClientRawResponse
        :raises: :class:`CloudError<msrestazure.azure_exceptions.CloudError>`
        """
        # Construct URL
        url = self.set_policy.metadata['url']
        path_format_arguments = {
            'tenanturi': self._serialize.url("tenanturi", tenanturi, 'str', skip_quote=True)
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')
        query_parameters['tee'] = self._serialize.query("tee", tee, 'TeeKind')

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        header_parameters['Content-Type'] = 'text/plain'
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        header_parameters['authorization'] = self._serialize.header("authorization", authorization, 'str')
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct body
        body_content = self._serialize.body(new_attestation_policy, 'str')

        # Construct and send request
        request = self._client.put(url, query_parameters, header_parameters, body_content)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200, 400, 401]:
            exp = CloudError(response)
            exp.request_id = response.headers.get('x-ms-request-id')
            raise exp

        deserialized = None
        if response.status_code == 400:
            deserialized = self._deserialize('CloudError', response)
        if response.status_code == 401:
            deserialized = self._deserialize('str', response)

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized
    set_policy.metadata = {'url': '/operations/policy/current'}

    def delete_policy(
            self, tenanturi, authorization, tee, policy_jws, custom_headers=None, raw=False, **operation_config):
        """Deletes the attestation policy for the specified tenant and reverts to
        the default policy.

        :param tenanturi: The tenant name, for example
         https://mytenant.tenant.azure.net.
        :type tenanturi: str
        :param authorization: Authorization header containing AAD bearer
         token.
        :type authorization: str
        :param tee: Specifies the trusted execution environment to be used to
         validate the evidence. Possible values include: 'SgxEnclave',
         'OpenEnclave', 'CyResComponent', 'AzureGuest'
        :type tee: str or ~azure.attestation.models.TeeKind
        :param policy_jws: JSON Web Signature with an empty policy document
        :type policy_jws: str
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: object or ClientRawResponse if raw=true
        :rtype: object or ~msrest.pipeline.ClientRawResponse
        :raises: :class:`CloudError<msrestazure.azure_exceptions.CloudError>`
        """
        # Construct URL
        url = self.delete_policy.metadata['url']
        path_format_arguments = {
            'tenanturi': self._serialize.url("tenanturi", tenanturi, 'str', skip_quote=True)
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')
        query_parameters['tee'] = self._serialize.query("tee", tee, 'TeeKind')

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        header_parameters['Content-Type'] = 'text/plain'
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        header_parameters['authorization'] = self._serialize.header("authorization", authorization, 'str')
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct body
        body_content = self._serialize.body(policy_jws, 'str')

        # Construct and send request
        request = self._client.delete(url, query_parameters, header_parameters, body_content)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200, 400, 401]:
            exp = CloudError(response)
            exp.request_id = response.headers.get('x-ms-request-id')
            raise exp

        deserialized = None
        if response.status_code == 200:
            deserialized = self._deserialize('str', response)
        if response.status_code == 400:
            deserialized = self._deserialize('CloudError', response)
        if response.status_code == 401:
            deserialized = self._deserialize('str', response)

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized
    delete_policy.metadata = {'url': '/operations/policy/current'}
