interactions:
- request:
    body: '{"key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "multi_label_0", "value": "multi value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - PjvHe35hDjqVX18xmPvPb0Q2NpeaKTiWhBfGwlG2GGo=
      x-ms-date:
      - Jan, 21 2020 21:18:27 GMT
    method: PUT
    uri: https://appconfigc2261fa5.azconfig.io/kv/multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_0&api-version=1.0
  response:
    body:
      string: '{"etag":"XvyrLFeAlusEJHrEMTXXtAE7TIa","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-21T21:18:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XvyrLFeAlusEJHrEMTXXtAE7TIa"'
      last-modified:
      - Tue, 21 Jan 2020 21:18:28 GMT
      sync-token:
      - zAJw6V16=NjotMSMxNTQxNjI4;sn=1541628
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "multi_1test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "multi_label_1", "value": "multi value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NjotMSMxNTQxNjI4
      x-ms-content-sha256:
      - r3JS0yt1R+3ABSNFebd5zPkrYTzo8dAxgu3ormN0gVI=
      x-ms-date:
      - Jan, 21 2020 21:18:28 GMT
    method: PUT
    uri: https://appconfigc2261fa5.azconfig.io/kv/multi_1test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_1&api-version=1.0
  response:
    body:
      string: '{"etag":"6IhEzZItF57OkvZPJoaaSSwiEhI","key":"multi_1test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_1","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-21T21:18:28+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"6IhEzZItF57OkvZPJoaaSSwiEhI"'
      last-modified:
      - Tue, 21 Jan 2020 21:18:28 GMT
      sync-token:
      - zAJw6V16=NjotMSMxNTQxNjI5;sn=1541629
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjotMSMxNTQxNzI5
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 21 2020 21:18:35 GMT
    method: GET
    uri: https://appconfigc2261fa5.azconfig.io/kv?key=multi_%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"XvyrLFeAlusEJHrEMTXXtAE7TIa","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-21T21:18:28+00:00"},{"etag":"FI22lEpF0TTApAqJdKeBF51YYNF","key":"multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_100","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-21T21:18:35+00:00"},{"etag":"[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjotMSMxNTQxNzI5
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 21 2020 21:18:35 GMT
    method: GET
    uri: https://appconfigc2261fa5.azconfig.io/kv?key=multi_*&api-version=1.0&after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDkKbXVsdGlfbGFiZWxfOTk%3D
  response:
    body:
      string: '{"items":[{"etag":"vzrYPFZx9VqboRlcC0heUy76S6v","key":"multi_9test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_9","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-21T21:18:29+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NjotMSMxNTQxNzI5;sn=1541729
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjotMSMxNTQxODI5
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Jan, 21 2020 21:18:42 GMT
    method: DELETE
    uri: https://appconfigc2261fa5.azconfig.io/kv/multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_100&api-version=1.0
  response:
    body:
      string: '{"etag":"FI22lEpF0TTApAqJdKeBF51YYNF","key":"multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_100","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-21T21:18:35+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"FI22lEpF0TTApAqJdKeBF51YYNF"'
      last-modified:
      - Tue, 21 Jan 2020 21:18:35 GMT
      sync-token:
      - zAJw6V16=NjotMSMxNTQxODMw;sn=1541830
    status:
      code: 200
      message: OK
version: 1
