interactions:
- request:
    body: '{"key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "multi_label_0", "value": "multi value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
    method: PUT
    uri: https://appconfig3e4b212a.azconfig.io/kv/multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_0&api-version=1.0
  response:
    body:
      string: '{"etag":"jXRtE80oqiPTrq1Tj3sRWbc3ud7","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-21T21:27:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"jXRtE80oqiPTrq1Tj3sRWbc3ud7"'
      last-modified:
      - Tue, 21 Jan 2020 21:27:08 GMT
      sync-token:
      - zAJw6V16=NjotMSMxNTQxODkw;sn=1541890
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "multi_1test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "multi_label_1", "value": "multi value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NjotMSMxNTQxODkw
    method: PUT
    uri: https://appconfig3e4b212a.azconfig.io/kv/multi_1test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_1&api-version=1.0
  response:
    body:
      string: '{"etag":"zRwAyWbZo9igooxe9JJyXEpQfYd","key":"multi_1test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_1","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-21T21:27:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zRwAyWbZo9igooxe9JJyXEpQfYd"'
      last-modified:
      - Tue, 21 Jan 2020 21:27:08 GMT
      sync-token:
      - zAJw6V16=NjotMSMxNTQxODkx;sn=1541891
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjotMSMxNTQxOTkw
    method: GET
    uri: https://appconfig3e4b212a.azconfig.io/kv?key=multi_%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"jXRtE80oqiPTrq1Tj3sRWbc3ud7","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-21T21:27:08+00:00"},{"etag":"8c9uCMug2tSybMiDZBuSGjlUfgZ","key":"multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_100","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-21T21:27:15+00:00"},{"etag":"[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjotMSMxNTQxOTkw
    method: GET
    uri: https://appconfig3e4b212a.azconfig.io/kv?key=multi_*&api-version=1.0&after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDkKbXVsdGlfbGFiZWxfOTk%3D
  response:
    body:
      string: '{"items":[{"etag":"FV7Tcmu6vymaB5xhMu9JLoIRAK7","key":"multi_9test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_9","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-21T21:27:09+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NjotMSMxNTQxOTkw;sn=1541990
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NjotMSMxNTQyMDkw
    method: DELETE
    uri: https://appconfig3e4b212a.azconfig.io/kv/multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_100&api-version=1.0
  response:
    body:
      string: '{"etag":"8c9uCMug2tSybMiDZBuSGjlUfgZ","key":"multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_100","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-21T21:27:15+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"8c9uCMug2tSybMiDZBuSGjlUfgZ"'
      last-modified:
      - Tue, 21 Jan 2020 21:27:15 GMT
      sync-token:
      - zAJw6V16=NjotMSMxNTQyMDkx;sn=1542091
    status:
      code: 200
      message: OK
version: 1
