{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests-azconfig-net.azconfig.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/.appconfig.featureflag%2Ftest_feature?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/test_feature",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022enabled\u0022: true, \u0022conditions\u0022: {\u0022client_filters\u0022: []}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022WsQMHENLM40auOhxrPPeibFjpZWrnytvZk-if-c-fG4\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 02:13:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNjgxNzkz;sn=11681793"
      },
      "ResponseBody": {
        "etag": "WsQMHENLM40auOhxrPPeibFjpZWrnytvZk-if-c-fG4",
        "key": ".appconfig.featureflag/test_feature",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022enabled\u0022: true, \u0022conditions\u0022: {\u0022client_filters\u0022: []}}",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-24T02:13:56\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/.appconfig.featureflag%2Ftest_feature?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExNjgxNzk1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ARfwnyFiG1sSyn21QsCXY0YCnBUMDL2oRIDdrV9Diu8\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 02:13:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNjgxNzk3;sn=11681797"
      },
      "ResponseBody": {
        "etag": "ARfwnyFiG1sSyn21QsCXY0YCnBUMDL2oRIDdrV9Diu8",
        "key": ".appconfig.featureflag/test_feature",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022enabled\u0022: false, \u0022conditions\u0022: {\u0022client_filters\u0022: []}}",
        "tags": {},
        "locked": false,
        "last_modified": "2022-08-24T02:13:56\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
