{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests-azconfig-net.azconfig.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/KEY1?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson"
      },
      "RequestBody": {
        "key": "KEY1",
        "content_type": "test content type",
        "value": "TEST_VALUE1",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022OpGpdYMqguZpKoIYTeJB6f1VexwrX3aDwgXhF3prsFM\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 02:13:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNjgxNzc2;sn=11681776"
      },
      "ResponseBody": {
        "etag": "OpGpdYMqguZpKoIYTeJB6f1VexwrX3aDwgXhF3prsFM",
        "key": "KEY1",
        "label": null,
        "content_type": "test content type",
        "value": "TEST_VALUE1",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2022-08-24T02:13:55\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/KEY2?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExNjgxNzc4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Ztam9qZsS6gCpgbIzClt6pLTQIlFsiwqHTix6QedaUg\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 02:13:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNjgxNzgw;sn=11681780"
      },
      "ResponseBody": {
        "etag": "Ztam9qZsS6gCpgbIzClt6pLTQIlFsiwqHTix6QedaUg",
        "key": "KEY2",
        "label": null,
        "content_type": "test content type",
        "value": "TEST_VALUE2",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2022-08-24T02:13:55\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
