interactions:
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 17 2019 18:18:13 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 5b/E4qQlXHTRod+n+f+xjK6c/tRVR8uxoC62FjvGJPw=
      x-ms-date:
      - Sep, 17 2019 18:18:13 GMT
    method: PUT
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"znTyOGerQkbzoouq8WJqtc7LBbk","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-09-17T18:18:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"znTyOGerQkbzoouq8WJqtc7LBbk"'
      last-modified:
      - Tue, 17 Sep 2019 18:18:14 GMT
      sync-token:
      - zAJw6V16=MzotMSM1NzU0NTE=;sn=575451
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 17 2019 18:18:13 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"znTyOGerQkbzoouq8WJqtc7LBbk","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-09-17T18:18:14+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM1NzU0NTE=;sn=575451
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 17 2019 18:18:13 GMT
    method: DELETE
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "multi_label_0", "value": "multi value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - PjvHe35hDjqVX18xmPvPb0Q2NpeaKTiWhBfGwlG2GGo=
      x-ms-date:
      - Sep, 17 2019 18:18:13 GMT
    method: PUT
    uri: https://xyazconfig.azconfig.io/kv/multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_0&api-version=1.0
  response:
    body:
      string: '{"etag":"HRjfC0k4rTdpLxLvWjxzLDTB7Fn","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2019-09-17T18:18:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"HRjfC0k4rTdpLxLvWjxzLDTB7Fn"'
      last-modified:
      - Tue, 17 Sep 2019 18:18:14 GMT
      sync-token:
      - zAJw6V16=MzotMSM1NzU0NTM=;sn=575453
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 17 2019 18:18:21 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?key=multi_%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"HRjfC0k4rTdpLxLvWjxzLDTB7Fn","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":fa[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 17 2019 18:18:21 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?key=multi_*&api-version=1.0&after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDkKbXVsdGlfbGFiZWxfOTk%3D
  response:
    body:
      string: '{"items":[{"etag":"dqxa2GVgXj6v3GY1l1FOaOqlRry","key":"multi_9test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_9","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2019-09-17T18:18:14+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM1NzU1NTM=;sn=575553
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 17 2019 18:18:28 GMT
    method: DELETE
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"etag":"hiP5IsctQsUfMbkoEbB1yYLwZTf","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-09-17T18:18:14+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hiP5IsctQsUfMbkoEbB1yYLwZTf"'
      last-modified:
      - Tue, 17 Sep 2019 18:18:14 GMT
      sync-token:
      - zAJw6V16=MzotMSM1NzU2NTY=;sn=575656
    status:
      code: 200
      message: OK
version: 1
