interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://appconfig21bd1d4e.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
    method: PUT
    uri: https://appconfig21bd1d4e.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"XsTEFSThwqT5k9X2ZraOEVODn6U","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-01-17T20:20:17+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XsTEFSThwqT5k9X2ZraOEVODn6U"'
      last-modified:
      - Fri, 17 Jan 2020 20:20:17 GMT
      sync-token:
      - zAJw6V16=ODotMSMxMTIxNzI4;sn=1121728
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=ODotMSMxMTIxNzI4
    method: GET
    uri: https://appconfig21bd1d4e.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"XsTEFSThwqT5k9X2ZraOEVODn6U","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-01-17T20:20:17+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODotMSMxMTIxNzI4;sn=1121728
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=ODotMSMxMTIxNzI4
    method: DELETE
    uri: https://appconfig21bd1d4e.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309_SET",
      "label": "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type":
      "test content type", "value": "test value", "tags": {"tag1": "tag1", "tag2":
      "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"random etag"'
      Sync-Token:
      - zAJw6V16=ODotMSMxMTIxNzI5
    method: PUT
    uri: https://appconfig21bd1d4e.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309_SET?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 412
      message: Precondition Failed
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=ODotMSMxMTIxNzMw
    method: DELETE
    uri: https://appconfig21bd1d4e.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"etag":"NI0Sb6fnZbk6ndPnOLyJdPbaA4h","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-01-17T20:20:18+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NI0Sb6fnZbk6ndPnOLyJdPbaA4h"'
      last-modified:
      - Fri, 17 Jan 2020 20:20:18 GMT
      sync-token:
      - zAJw6V16=ODotMSMxMTIxNzMx;sn=1121731
    status:
      code: 200
      message: OK
version: 1
