interactions:
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 19 2019 18:30:23 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      if-none-match:
      - '*'
      x-ms-content-sha256:
      - 5b/E4qQlXHTRod+n+f+xjK6c/tRVR8uxoC62FjvGJPw=
      x-ms-date:
      - Aug, 19 2019 18:30:23 GMT
    method: PUT
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309
  response:
    body:
      string: '{"etag":"PBigK3zOXqF1hmiCVMzFbOPmun4","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-08-19T18:30:23+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"PBigK3zOXqF1hmiCVMzFbOPmun4"
      last-modified:
      - Mon, 19 Aug 2019 18:30:23 GMT
      sync-token:
      - zAJw6V16=MzotMSM0Mzg5NDQ=;sn=438944
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 19 2019 18:30:23 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?label=&key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309
  response:
    body:
      string: '{"items":[{"etag":"PBigK3zOXqF1hmiCVMzFbOPmun4","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-08-19T18:30:23+00:00"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM0Mzg5NDQ=;sn=438944
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 19 2019 18:30:23 GMT
    method: DELETE
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "updated_value", "tags": {"a": "b", "c": "d"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      if-match:
      - '"PBigK3zOXqF1hmiCVMzFbOPmun4"'
      x-ms-content-sha256:
      - SBI1y+QoVwuZeATdXoC7On0E2yhc6HFxQK1H/Ekqys8=
      x-ms-date:
      - Aug, 19 2019 18:30:23 GMT
    method: PUT
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309
  response:
    body:
      string: '{"etag":"LNB68u2DpDkNDeG1ku3ZxBYTdMf","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"updated_value","tags":{"a":"b","c":"d"},"locked":false,"last_modified":"2019-08-19T18:30:24+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"LNB68u2DpDkNDeG1ku3ZxBYTdMf"
      last-modified:
      - Mon, 19 Aug 2019 18:30:24 GMT
      sync-token:
      - zAJw6V16=MzotMSM0Mzg5NDY=;sn=438946
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 19 2019 18:30:23 GMT
    method: DELETE
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309
  response:
    body:
      string: '{"etag":"6voiGQ7wvq6WqJkZIZN8AoApdnJ","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-08-19T18:30:24+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6voiGQ7wvq6WqJkZIZN8AoApdnJ"
      last-modified:
      - Mon, 19 Aug 2019 18:30:24 GMT
      sync-token:
      - zAJw6V16=MzotMSM0Mzg5NDg=;sn=438948
    status:
      code: 200
      message: OK
version: 1
