interactions:
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2020 19:41:19 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzozIzUzMzU2OTQ=;sn=5335694
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzozIzUzMzU2OTQ=
      x-ms-content-sha256:
      - 5b/E4qQlXHTRod+n+f+xjK6c/tRVR8uxoC62FjvGJPw=
      x-ms-date:
      - Nov, 18 2020 19:41:21 GMT
    method: PUT
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"saNQ550HnSmaBuu27cTQLW5gdHd","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-11-18T19:41:22+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"saNQ550HnSmaBuu27cTQLW5gdHd"'
      last-modified:
      - Wed, 18 Nov 2020 19:41:22 GMT
      sync-token:
      - zAJw6V16=MzozIzUzMzU2OTU=;sn=5335695
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzU2OTU=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2020 19:41:21 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"saNQ550HnSmaBuu27cTQLW5gdHd","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-11-18T19:41:22+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzozIzUzMzU2OTU=;sn=5335695
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzU2OTU=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2020 19:41:21 GMT
    method: DELETE
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "multi_label_0", "value": "multi value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - PjvHe35hDjqVX18xmPvPb0Q2NpeaKTiWhBfGwlG2GGo=
      x-ms-date:
      - Nov, 18 2020 19:41:21 GMT
    method: PUT
    uri: https://seankane-azconfig-net.azconfig.io/kv/multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_0&api-version=1.0
  response:
    body:
      string: '{"etag":"JBITc3S8Y1LDctVMf62OXvxyakZ","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-11-18T19:41:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"JBITc3S8Y1LDctVMf62OXvxyakZ"'
      last-modified:
      - Wed, 18 Nov 2020 19:41:23 GMT
      sync-token:
      - zAJw6V16=MzozIzUzMzU2OTc=;sn=5335697
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzU3OTc=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2020 19:41:27 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=multi_%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"JBITc3S8Y1LDctVMf62OXvxyakZ","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzU3OTc=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2020 19:41:28 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=multi_*&api-version=1.0&after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDkKbXVsdGlfbGFiZWxfOTk%3D
  response:
    body:
      string: '{"items":[{"etag":"L1vF5xNUpWU5QZBV3vFyWPocz72","key":"multi_9test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_9","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-11-18T19:41:24+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzozIzUzMzU3OTc=;sn=5335797
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzU4OTk=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2020 19:41:33 GMT
    method: DELETE
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"etag":"yyLtHETVyEYAeg4c4laioFxZ2MS","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-11-18T19:41:23+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"yyLtHETVyEYAeg4c4laioFxZ2MS"'
      last-modified:
      - Wed, 18 Nov 2020 19:41:23 GMT
      sync-token:
      - zAJw6V16=MzozIzUzMzU5MDA=;sn=5335900
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
version: 1
