interactions:
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 01 2020 19:36:57 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzozIzU0NDE0MjU=;sn=5441425
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzozIzU0NDE0MjU=
      x-ms-content-sha256:
      - 5b/E4qQlXHTRod+n+f+xjK6c/tRVR8uxoC62FjvGJPw=
      x-ms-date:
      - Dec, 01 2020 19:36:58 GMT
    method: PUT
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"zNVePdGAgSDD2YW4AjJUN304Cwk","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-12-01T19:36:59+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"zNVePdGAgSDD2YW4AjJUN304Cwk"'
      last-modified:
      - Tue, 01 Dec 2020 19:36:59 GMT
      sync-token:
      - zAJw6V16=MzozIzU0NDE0MjY=;sn=5441426
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzU0NDE0MjY=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 01 2020 19:36:58 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"zNVePdGAgSDD2YW4AjJUN304Cwk","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-12-01T19:36:59+00:00"},{"etag":"Eu0B4cdBAy4U8m5FtkGD0TDw9YP","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label2_*,
        \\1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":null,"value":"test
        value","tags":{},"locked":false,"last_modified":"2020-12-01T18:00:27+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzozIzU0NDE0MjY=;sn=5441426
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzU0NDE0MjY=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 01 2020 19:36:58 GMT
    method: DELETE
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzU0NDE0Mjc=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 01 2020 19:36:58 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/revisions?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"zNVePdGAgSDD2YW4AjJUN304Cwk","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzU0NDE0Mjc=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 01 2020 19:36:58 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/revisions?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0&after=MTYwNjg0NjM2MTt3aXJxMGMxNzVqUFhzQXFXM01DbW5CVTY4ZU8%3D
  response:
    body:
      string: '{"items":[{"etag":"im8v5a1mWD8UI[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzU0NDE0Mjc=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 01 2020 19:36:59 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/revisions?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0&after=MTYwNjg0NTMzMTtleld5M1NobUJCczJTbFRwRWdhYWVUWEE4YXk%3D
  response:
    body:
      string: '{"items":[{"etag":"eu4pZRUk9tGB5[...]
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzU0NDE0Mjg=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Dec, 01 2020 19:36:59 GMT
    method: DELETE
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"etag":"haWr8k1r1hxVxcPOik3YJGAJsPf","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-12-01T19:37:00+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"haWr8k1r1hxVxcPOik3YJGAJsPf"'
      last-modified:
      - Tue, 01 Dec 2020 19:37:00 GMT
      sync-token:
      - zAJw6V16=MzozIzU0NDE0Mjk=;sn=5441429
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
version: 1
