interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://xyappconfig.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
    method: PUT
    uri: https://xyappconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"68EdqWmNl3OYgGqqUK3M5OMFyUM","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-12-05T23:08:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"68EdqWmNl3OYgGqqUK3M5OMFyUM"'
      last-modified:
      - Thu, 05 Dec 2019 23:08:06 GMT
      sync-token:
      - zAJw6V16=MDotMSM3MjU4ODU=;sn=725885
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MDotMSM3MjU4ODU=
    method: GET
    uri: https://xyappconfig.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"68EdqWmNl3OYgGqqUK3M5OMFyUM","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-12-05T23:08:06+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MDotMSM3MjU4ODU=;sn=725885
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MDotMSM3MjU4ODU=
    method: DELETE
    uri: https://xyappconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MDotMSM3MjU4ODY=
    method: GET
    uri: https://xyappconfig.azconfig.io/revisions?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"9Ar53g75jkWzzAjXEaLq685fqWx","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"}[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MDotMSM3MjU4ODY=
    method: GET
    uri: https://xyappconfig.azconfig.io/revisions?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0&after=MTU3NTU4NzEyMA%3D%3D
  response:
    body:
      string: '{"items":[{"etag":"9Ar53g75jkWzzAjXEaLq685fqWx","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"[...]
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MDotMSM3MjU4ODc=
    method: DELETE
    uri: https://xyappconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"etag":"9Ar53g75jkWzzAjXEaLq685fqWx","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-12-05T23:08:06+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9Ar53g75jkWzzAjXEaLq685fqWx"'
      last-modified:
      - Thu, 05 Dec 2019 23:08:06 GMT
      sync-token:
      - zAJw6V16=MDotMSM3MjU4ODg=;sn=725888
    status:
      code: 200
      message: OK
version: 1
