interactions:
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2020 19:37:37 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzozIzUzMzQ2NzQ=;sn=5334674
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzozIzUzMzQ2NzQ=
      x-ms-content-sha256:
      - 5b/E4qQlXHTRod+n+f+xjK6c/tRVR8uxoC62FjvGJPw=
      x-ms-date:
      - Nov, 18 2020 19:37:38 GMT
    method: PUT
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"pFOshZvml0vRAdqCrzXcr0HfVhw","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-11-18T19:37:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"pFOshZvml0vRAdqCrzXcr0HfVhw"'
      last-modified:
      - Wed, 18 Nov 2020 19:37:40 GMT
      sync-token:
      - zAJw6V16=MzozIzUzMzQ2NzU=;sn=5334675
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzQ2NzU=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2020 19:37:38 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"pFOshZvml0vRAdqCrzXcr0HfVhw","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-11-18T19:37:40+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzozIzUzMzQ2NzU=;sn=5334675
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzQ2NzU=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2020 19:37:38 GMT
    method: DELETE
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "multi_label_0", "value": "multi value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - PjvHe35hDjqVX18xmPvPb0Q2NpeaKTiWhBfGwlG2GGo=
      x-ms-date:
      - Nov, 18 2020 19:37:38 GMT
    method: PUT
    uri: https://seankane-azconfig-net.azconfig.io/kv/multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_0&api-version=1.0
  response:
    body:
      string: '{"etag":"1og83P6yWEvz3V9QuR7XiWOsKrp","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-11-18T19:37:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1og83P6yWEvz3V9QuR7XiWOsKrp"'
      last-modified:
      - Wed, 18 Nov 2020 19:37:40 GMT
      sync-token:
      - zAJw6V16=MzozIzUzMzQ2Nzc=;sn=5334677
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzQ3Nzc=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2020 19:37:44 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=multi_%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"1og83P6yWEvz3V9QuR7XiWOsKrp","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzQ3Nzc=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2020 19:37:44 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=multi_*&api-version=1.0&after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDkKbXVsdGlfbGFiZWxfOTk%3D
  response:
    body:
      string: '{"items":[{"etag":"KvHWpwhGb37zyfGd5zjLy6eIoU8","key":"multi_9test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_9","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-11-18T19:37:41+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzozIzUzMzQ3Nzc=;sn=5334777
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzQ4Nzk=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 18 2020 19:37:50 GMT
    method: DELETE
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"etag":"Y5FEFbZFaNo9JqyCNQbKMWBIddD","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-11-18T19:37:40+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Y5FEFbZFaNo9JqyCNQbKMWBIddD"'
      last-modified:
      - Wed, 18 Nov 2020 19:37:40 GMT
      sync-token:
      - zAJw6V16=MzozIzUzMzQ4ODA=;sn=5334880
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
version: 1
