interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://appconfiga42b2277.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
    method: PUT
    uri: https://appconfiga42b2277.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"i5vn4zp3LeXOxrdHJYuTYPRhoJV","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-03-10T20:21:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"i5vn4zp3LeXOxrdHJYuTYPRhoJV"'
      last-modified:
      - Tue, 10 Mar 2020 20:21:32 GMT
      sync-token:
      - zAJw6V16=ODotMSMxMzAyODQ3;sn=1302847
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=ODotMSMxMzAyODQ3
    method: GET
    uri: https://appconfiga42b2277.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"i5vn4zp3LeXOxrdHJYuTYPRhoJV","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-03-10T20:21:32+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=ODotMSMxMzAyODQ3;sn=1302847
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=ODotMSMxMzAyODQ3
    method: DELETE
    uri: https://appconfiga42b2277.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=ODotMSMxMzAyODQ5
    method: DELETE
    uri: https://appconfiga42b2277.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"etag":"E2Q1GFy9CTmuIbwNfArsOMvfDgh","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-03-10T20:21:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"E2Q1GFy9CTmuIbwNfArsOMvfDgh"'
      last-modified:
      - Tue, 10 Mar 2020 20:21:32 GMT
      sync-token:
      - zAJw6V16=ODotMSMxMzAyODUw;sn=1302850
    status:
      code: 200
      message: OK
version: 1
