interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://appconfig415019da.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
    method: PUT
    uri: https://appconfig415019da.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"A9vrrfXgIZUhW7nfv7LhxPg20i0","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-03-10T20:17:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"A9vrrfXgIZUhW7nfv7LhxPg20i0"'
      last-modified:
      - Tue, 10 Mar 2020 20:17:50 GMT
      sync-token:
      - zAJw6V16=MzotMSMxMjE5MjU5;sn=1219259
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzotMSMxMjE5MjU5
    method: GET
    uri: https://appconfig415019da.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"A9vrrfXgIZUhW7nfv7LhxPg20i0","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-03-10T20:17:50+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSMxMjE5MjU5;sn=1219259
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzotMSMxMjE5MjU5
    method: DELETE
    uri: https://appconfig415019da.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzotMSMxMjE5MjYw
    method: PUT
    uri: https://appconfig415019da.azconfig.io/locks/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"etag":"ztw7vfWUyee8SPzdAS1SgqkjF0q","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":true,"last_modified":"2020-03-10T20:17:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"ztw7vfWUyee8SPzdAS1SgqkjF0q"'
      last-modified:
      - Tue, 10 Mar 2020 20:17:50 GMT
      sync-token:
      - zAJw6V16=MzotMSMxMjE5MjYx;sn=1219261
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzotMSMxMjE5MjYx
    method: DELETE
    uri: https://appconfig415019da.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"type":"https://azconfig.io/errors/key-locked","title":"Modifing key
        ''PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309'' is not allowed","name":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","detail":"The
        key is read-only. To allow modification unlock it first.","status":409}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzotMSMxMjE5MjYz
    method: DELETE
    uri: https://appconfig415019da.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"A9vrrfXgIZUhW7nfv7LhxPg20i0","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-03-10T20:17:50+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"A9vrrfXgIZUhW7nfv7LhxPg20i0"'
      last-modified:
      - Tue, 10 Mar 2020 20:17:50 GMT
      sync-token:
      - zAJw6V16=MzotMSMxMjE5MjY0;sn=1219264
    status:
      code: 200
      message: OK
version: 1
