{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests-azconfig-net.azconfig.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY3ODc5OTg=;sn=6787998"
      },
      "ResponseBody": {
        "items": []
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Mzo1IzY3ODc5OTg="
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022XmLZEpZG_CS3iw8IlSRVb4iLsxCmBwwmVQPvDFsyud0\u0022",
        "Last-Modified": "Tue, 27 Sep 2022 20:05:48 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3ODc5OTk=;sn=6787999"
      },
      "ResponseBody": {
        "etag": "XmLZEpZG_CS3iw8IlSRVb4iLsxCmBwwmVQPvDFsyud0",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": false,
        "last_modified": "2022-09-27T20:05:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/locks/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY3ODc5OTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022WPtDa5k8-BSXooYA2ygjQD0ESngiLcNlmD3AwGBM61w\u0022",
        "Last-Modified": "Tue, 27 Sep 2022 20:05:48 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3ODgwMDE=;sn=6788001"
      },
      "ResponseBody": {
        "etag": "WPtDa5k8-BSXooYA2ygjQD0ESngiLcNlmD3AwGBM61w",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test value",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": true,
        "last_modified": "2022-09-27T20:05:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3ODgwMDE="
      },
      "RequestBody": {
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "content_type": "test content type",
        "value": "test value",
        "last_modified": "2022-09-27T20:05:48.000Z",
        "tags": {
          "tag1": "tag1",
          "tag2": "tag2"
        },
        "locked": true,
        "etag": "WPtDa5k8-BSXooYA2ygjQD0ESngiLcNlmD3AwGBM61w"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem\u002Bjson; charset=utf-8"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key \u0027PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309\u0027 is not allowed",
        "name": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/locks/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-Match": "\u0022bad\u0022",
        "Sync-Token": "zAJw6V16=Mzo1IzY3ODgwMDU="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY3ODgwMDU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022gCNWnYdBx30QNqLMouBRkL8L1MeOrcVDmiDMaLpmM2w\u0022",
        "Last-Modified": "Tue, 27 Sep 2022 20:05:48 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3ODgwMDc=;sn=6788007"
      },
      "ResponseBody": {
        "etag": "gCNWnYdBx30QNqLMouBRkL8L1MeOrcVDmiDMaLpmM2w",
        "key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309",
        "label": null,
        "content_type": "test content type",
        "value": "test valuea",
        "tags": {
          "a": "b",
          "c": "d"
        },
        "locked": false,
        "last_modified": "2022-09-27T20:05:48\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
