interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzozIzUzMzQ5ODY=;sn=5334986
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzozIzUzMzQ5ODY=
    method: PUT
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"s34rupwCryMSOZCbAVI2sgHwJwq","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-11-18T19:38:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"s34rupwCryMSOZCbAVI2sgHwJwq"'
      last-modified:
      - Wed, 18 Nov 2020 19:38:32 GMT
      sync-token:
      - zAJw6V16=MzozIzUzMzQ5ODc=;sn=5334987
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzQ5ODc=
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"s34rupwCryMSOZCbAVI2sgHwJwq","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-11-18T19:38:32+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzozIzUzMzQ5ODc=;sn=5334987
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzQ5ODc=
    method: DELETE
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      If-Match:
      - '"wrong etag"'
      Sync-Token:
      - zAJw6V16=MzozIzUzMzQ5ODg=
    method: DELETE
    uri: https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: ''
    headers:
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 412
      message: Precondition Failed
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzQ5ODg=
    method: DELETE
    uri: https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"s34rupwCryMSOZCbAVI2sgHwJwq","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-11-18T19:38:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"s34rupwCryMSOZCbAVI2sgHwJwq"'
      last-modified:
      - Wed, 18 Nov 2020 19:38:32 GMT
      sync-token:
      - zAJw6V16=MzozIzUzMzQ5ODk=;sn=5334989
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzMzQ5ODk=
    method: DELETE
    uri: https://fake_app_config.azconfig-test.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"etag":"9ObSz5QvukyOseM1sLDB3PoT05q","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-11-18T19:38:32+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"9ObSz5QvukyOseM1sLDB3PoT05q"'
      last-modified:
      - Wed, 18 Nov 2020 19:38:32 GMT
      sync-token:
      - zAJw6V16=MzozIzUzMzQ5OTA=;sn=5334990
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
version: 1
