interactions:
- request:
    body: '{"key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "multi_label_0", "value": "multi value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
    method: PUT
    uri: https://appconfigdee23a7.azconfig.io/kv/multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_0&api-version=1.0
  response:
    body:
      string: '{"etag":"OZyYjPEKWqxeKTHVqd6SIWCM9wj","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-17T20:28:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"OZyYjPEKWqxeKTHVqd6SIWCM9wj"'
      last-modified:
      - Fri, 17 Jan 2020 20:28:51 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDYzNTcw;sn=1063570
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "multi_1test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "multi_label_1", "value": "multi value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NTotMSMxMDYzNTcw
    method: PUT
    uri: https://appconfigdee23a7.azconfig.io/kv/multi_1test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_1&api-version=1.0
  response:
    body:
      string: '{"etag":"tzLoaCz3mZPu9RdNWxeqZNRSKvt","key":"multi_1test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_1","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-17T20:28:51+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"tzLoaCz3mZPu9RdNWxeqZNRSKvt"'
      last-modified:
      - Fri, 17 Jan 2020 20:28:51 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDYzNTcx;sn=1063571
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NTotMSMxMDYzNjcw
    method: GET
    uri: https://appconfigdee23a7.azconfig.io/kv?key=multi_%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"OZyYjPEKWqxeKTHVqd6SIWCM9wj","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-17T20:28:51+00:00"},{"etag":"DTyPFSpy1lm8Uih8SXseBcG17W9","key":"multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_100","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-17T20:28:58+00:00"},{"etag":"[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NTotMSMxMDYzNjcw
    method: GET
    uri: https://appconfigdee23a7.azconfig.io/kv?key=multi_*&api-version=1.0&after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDkKbXVsdGlfbGFiZWxfOTk%3D
  response:
    body:
      string: '{"items":[{"etag":"UkKTxLbDVXQhvNzxQsYHieaBdiJ","key":"multi_9test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_9","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-17T20:28:52+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NTotMSMxMDYzNjcw;sn=1063670
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=NTotMSMxMDYzNzcw
    method: DELETE
    uri: https://appconfigdee23a7.azconfig.io/kv/multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_100&api-version=1.0
  response:
    body:
      string: '{"etag":"DTyPFSpy1lm8Uih8SXseBcG17W9","key":"multi_100test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_100","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2020-01-17T20:28:58+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"DTyPFSpy1lm8Uih8SXseBcG17W9"'
      last-modified:
      - Fri, 17 Jan 2020 20:28:58 GMT
      sync-token:
      - zAJw6V16=NTotMSMxMDYzNzcx;sn=1063771
    status:
      code: 200
      message: OK
version: 1
