{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=client-id\u0026client_secret=client-secret\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fyallappconfigtests-azconfig-net.azconfig.io%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/.appconfig.featureflag%2Fcustom?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key": ".appconfig.featureflag/custom",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022enabled\u0022: true, \u0022conditions\u0022: {\u0022client_filters\u0022: [{\u0022name\u0022: \u0022Microsoft.Percentage\u0022, \u0022parameters\u0022: {\u0022Value\u0022: 10, \u0022User\u0022: \u0022user1\u0022}}]}}",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022zdKDF7mk0lAk2OGdQbMXdhoVgGxjGTA2Qmz0r_88F70\u0022",
        "Last-Modified": "Fri, 09 Dec 2022 22:49:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzE4MDc2NzU2;sn=18076756"
      },
      "ResponseBody": {
        "etag": "zdKDF7mk0lAk2OGdQbMXdhoVgGxjGTA2Qmz0r_88F70",
        "key": ".appconfig.featureflag/custom",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022enabled\u0022: true, \u0022conditions\u0022: {\u0022client_filters\u0022: [{\u0022name\u0022: \u0022Microsoft.Percentage\u0022, \u0022parameters\u0022: {\u0022Value\u0022: 10, \u0022User\u0022: \u0022user1\u0022}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2022-12-09T22:49:31\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://fake_app_config.azconfig-test.io/kv/.appconfig.featureflag%2Fcustom?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzE4MDc2NzU4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022EQZCQ1GulOpRcfIJlwKpsoGHdJ8dkOwPDOUnKU5EFUc\u0022",
        "Last-Modified": "Fri, 09 Dec 2022 22:49:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzE4MDc2NzYw;sn=18076760"
      },
      "ResponseBody": {
        "etag": "EQZCQ1GulOpRcfIJlwKpsoGHdJ8dkOwPDOUnKU5EFUc",
        "key": ".appconfig.featureflag/custom",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022enabled\u0022: true, \u0022conditions\u0022: {\u0022client_filters\u0022: [{\u0022name\u0022: \u0022Microsoft.Percentage\u0022, \u0022parameters\u0022: {\u0022Value\u0022: 100, \u0022User\u0022: \u0022user1\u0022}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2022-12-09T22:49:31\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
