interactions:
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 11 2019 19:57:54 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0307&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0307&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0307", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0307", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      if-none-match:
      - '*'
      x-ms-content-sha256:
      - EcLyYD77Lx3X8vN5w0ia+MCOL2LvXC3UWqvYFJlqycw=
      x-ms-date:
      - Sep, 11 2019 19:57:55 GMT
    method: PUT
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0307?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0307&api-version=1.0
  response:
    body:
      string: '{"etag":"M4XzkkefNgzCBvEwdRo4rzuqsg8","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0307","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0307","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-09-11T19:57:55+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"M4XzkkefNgzCBvEwdRo4rzuqsg8"'
      last-modified:
      - Wed, 11 Sep 2019 19:57:55 GMT
      sync-token:
      - zAJw6V16=MzotMSM1NDU3NDk=;sn=545749
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 11 2019 19:57:55 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0307&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"M4XzkkefNgzCBvEwdRo4rzuqsg8","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0307","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0307","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-09-11T19:57:55+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM1NDU3NDk=;sn=545749
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 11 2019 19:57:55 GMT
    method: DELETE
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0307?api-version=1.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0307", "label":
      "multi_label_0", "value": "multi value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      if-none-match:
      - '*'
      x-ms-content-sha256:
      - FqsOax9y7G0M8bfT6Dmja9yafafOgiBNs4vhS/7WFtw=
      x-ms-date:
      - Sep, 11 2019 19:57:55 GMT
    method: PUT
    uri: https://xyazconfig.azconfig.io/kv/multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0307?label=multi_label_0&api-version=1.0
  response:
    body:
      string: '{"etag":"NiEc0901gelfNQaFqXcwZfENtg9","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0307","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2019-09-11T19:57:56+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"NiEc0901gelfNQaFqXcwZfENtg9"'
      last-modified:
      - Wed, 11 Sep 2019 19:57:56 GMT
      sync-token:
      - zAJw6V16=MzotMSM1NDU3NTE=;sn=545751
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 11 2019 19:58:02 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?key=multi_%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"NiEc0901gelfNQaFqXcwZfENtg9","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0307","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":fa[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 11 2019 19:58:03 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?key=multi_*&api-version=1.0&after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDcKbXVsdGlfbGFiZWxfOTk%3D
  response:
    body:
      string: '{"items":[{"etag":"zVQHv7AD3HaSEUQDlGjsgWuwkmO","key":"multi_9test_key_a6af8952-54a6-11e9-b600-2816a84d0307","label":"multi_label_9","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2019-09-11T19:57:56+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM1NDU4NTE=;sn=545851
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 11 2019 19:58:11 GMT
    method: DELETE
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0307?api-version=1.0
  response:
    body:
      string: '{"etag":"cmkvO1XIqNhSUkLBYdZYEUmmRG8","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0307","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-09-11T19:57:55+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"cmkvO1XIqNhSUkLBYdZYEUmmRG8"'
      last-modified:
      - Wed, 11 Sep 2019 19:57:55 GMT
      sync-token:
      - zAJw6V16=MzotMSM1NDU5NTQ=;sn=545954
    status:
      code: 200
      message: OK
version: 1
