interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://appconfig5f362184.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
    method: PUT
    uri: https://appconfig5f362184.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"Hgpi3F6wUvduFtlZStoZahrhP7r","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-03-10T20:20:03+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Hgpi3F6wUvduFtlZStoZahrhP7r"'
      last-modified:
      - Tue, 10 Mar 2020 20:20:03 GMT
      sync-token:
      - zAJw6V16=MzotMSMxMjE5Mjcz;sn=1219273
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzotMSMxMjE5Mjcz
    method: GET
    uri: https://appconfig5f362184.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"Hgpi3F6wUvduFtlZStoZahrhP7r","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-03-10T20:20:03+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSMxMjE5Mjcz;sn=1219273
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzotMSMxMjE5Mjcz
    method: DELETE
    uri: https://appconfig5f362184.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzotMSMxMjE5Mjc0
    method: GET
    uri: https://appconfig5f362184.azconfig.io/kv?key=%2A&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0&$Select=key%2Ccontent_type
  response:
    body:
      string: '{"items":[{"key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","content_type":"test
        content type"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSMxMjE5Mjc0;sn=1219274
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzotMSMxMjE5Mjc1
    method: DELETE
    uri: https://appconfig5f362184.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"etag":"1xUFHbP2yX1a3H9wzn0SqbYlRvo","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-03-10T20:20:04+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1xUFHbP2yX1a3H9wzn0SqbYlRvo"'
      last-modified:
      - Tue, 10 Mar 2020 20:20:04 GMT
      sync-token:
      - zAJw6V16=MzotMSMxMjE5Mjc2;sn=1219276
    status:
      code: 200
      message: OK
version: 1
