interactions:
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 24 2020 17:44:18 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzozIzUzODYzMDk=;sn=5386309
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=MzozIzUzODYzMDk=
      x-ms-content-sha256:
      - 5b/E4qQlXHTRod+n+f+xjK6c/tRVR8uxoC62FjvGJPw=
      x-ms-date:
      - Nov, 24 2020 17:44:18 GMT
    method: PUT
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"sHFDklsnohMHf1btuEKqLAb4k8g","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-11-24T17:44:19+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"sHFDklsnohMHf1btuEKqLAb4k8g"'
      last-modified:
      - Tue, 24 Nov 2020 17:44:19 GMT
      sync-token:
      - zAJw6V16=MzozIzUzODYzMTA=;sn=5386310
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzODYzMTA=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 24 2020 17:44:18 GMT
    method: GET
    uri: https://seankane-azconfig-net.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"5btcSLV0qVRtwdvGz9a0ZMVAIRA","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzODYzMTA=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 24 2020 17:44:19 GMT
    method: DELETE
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"etag":"5btcSLV0qVRtwdvGz9a0ZMVAIRA","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-11-24T17:44:10+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"5btcSLV0qVRtwdvGz9a0ZMVAIRA"'
      last-modified:
      - Tue, 24 Nov 2020 17:44:10 GMT
      sync-token:
      - zAJw6V16=MzozIzUzODYzMTE=;sn=5386311
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Sync-Token:
      - zAJw6V16=MzozIzUzODYzMTM=
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 24 2020 17:44:19 GMT
    method: DELETE
    uri: https://seankane-azconfig-net.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"etag":"I0dSVP3lbHxYgm2cf5prAmHcK08","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-11-24T17:44:19+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"I0dSVP3lbHxYgm2cf5prAmHcK08"'
      last-modified:
      - Tue, 24 Nov 2020 17:44:19 GMT
      sync-token:
      - zAJw6V16=MzozIzUzODYzMTQ=;sn=5386314
      x-ms-tenant-name:
      - seankane-azconfig-net
    status:
      code: 200
      message: OK
version: 1
