interactions:
- request:
    body: null
    headers:
      x-ms-version: ['2012-03-01']
    method: GET
    uri: https://management.core.windows.net/00000000-0000-0000-0000-000000000000/services/serviceBus/Regions/
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><feed xmlns="http://www.w3.org/2005/Atom"><title
        type="text"></title><id>uuid:0cc618b3-edf8-44ce-8a33-3c05cfa5546e;id=20822326</id><updated>2015-07-01T00:02:44Z</updated><entry><id>uuid:0cc618b3-edf8-44ce-8a33-3c05cfa5546e;id=20822327</id><title
        type="text"></title><updated>2015-07-01T00:02:44Z</updated><content type="application/xml"><RegionCodeDescription
        xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Code>Australia East</Code><FullName>Australia
        East</FullName></RegionCodeDescription></content></entry><entry><id>uuid:0cc618b3-edf8-44ce-8a33-3c05cfa5546e;id=20822328</id><title
        type="text"></title><updated>2015-07-01T00:02:44Z</updated><content type="application/xml"><RegionCodeDescription
        xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Code>Australia Southeast</Code><FullName>Australia
        Southeast</FullName></R[...]
