interactions:
- request:
    body: null
    headers:
      x-ms-version: ['2014-10-01']
    method: GET
    uri: https://management.core.windows.net/00000000-0000-0000-0000-000000000000/services/vmimages?publisher=Cloudera
  response:
    body: {string: '<VMImages xmlns="http://schemas.microsoft.com/windowsazure" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><VMImage><Name>1acf693f34c74e86a50be61cb631ddfe__ClouderaGolden-202406-699696</Name><Label>CDH
        5.1 Evaluation</Label><Category>Public</Category><Description>Single click
        deployment of CDH 5.1 Evaluation for MR, HDFS and HIVE</Description><OSDiskConfiguration><Name>ClouderaGolden-202406-699696-os-2014-10-06</Name><HostCaching>ReadWrite</HostCaching><OSState>Specialized</OSState><OS>Linux</OS><LogicalDiskSizeInGB>30</LogicalDiskSizeInGB><IOType>Standard_LRS</IOType></OSDiskConfiguration><DataDiskConfigurations/><Location>East
        Asia;Southeast Asia;Australia East;Australia Southeast;Brazil South;North
        Europe;West Europe;Japan East;Japan West;Central US;East US;East US 2;North
        Central US;South Central US;West US</Location><CreatedTime>1801-01-01T00:00:00Z</CreatedTime><ModifiedTime>1801-01-01T00:00:00Z</ModifiedTime><ImageFamily>CDH
        5.1 Evaluation</ImageFamily><RecommendedVMSize>Standard_D14</RecommendedVMSize><IsPremium>false</IsPremium><Eula>http://www.gnu.org/copyleft/gpl.html</Eula><PrivacyUri>http://www.cloudera.com/content/cloudera/en/privacy-policy.html</PrivacyUri><PublisherName>Cloudera</PublisherName><PublishedDate>2014-10-27T04:00:00Z</PublishedDate><VMImageState>VMImageReadyForUse</VMImageState></VMImage></VMImages>'}
    headers:
      Content-Type: [application/xml; charset=utf-8]
      x-ms-servedbyregion: [ussouth3]
    status: {code: 200, message: OK}
version: 1
