{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/:swap?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "firstDeploymentName": "staging",
        "secondDeploymentName": "production"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/swap/jobs/5506d4d9-8818-4e97-a62e-76c0c85692b9_638913312000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/swap/jobs/5506d4d9-8818-4e97-a62e-76c0c85692b9_638913312000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "5506d4d9-8818-4e97-a62e-76c0c85692b9_638913312000000000",
        "createdDateTime": "2025-08-21T08:55:58Z",
        "lastUpdatedDateTime": "2025-08-21T08:55:58Z",
        "expirationDateTime": "2025-08-28T08:55:58Z",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments/swap/jobs/5506d4d9-8818-4e97-a62e-76c0c85692b9_638913312000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "5506d4d9-8818-4e97-a62e-76c0c85692b9_638913312000000000",
        "createdDateTime": "2025-08-21T08:55:58Z",
        "lastUpdatedDateTime": "2025-08-21T08:56:03Z",
        "expirationDateTime": "2025-08-28T08:55:58Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
