{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/MyPythonProject0723?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "fake_resource.servicebus.windows.net/language/authoring/analyze-conversations/projects/global/deletion-jobs/4b6d281c-0078-4897-8a76-be5c54772624_638891712000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/global/deletion-jobs/4b6d281c-0078-4897-8a76-be5c54772624_638891712000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "4b6d281c-0078-4897-8a76-be5c54772624_638891712000000000",
        "createdDateTime": "2025-07-27T00:23:46Z",
        "lastUpdatedDateTime": "2025-07-27T00:23:46Z",
        "expirationDateTime": "2025-08-03T00:23:46Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
