{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/EmailApp/deployments?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "deploymentName": "production",
            "modelId": "Model1-20250618T062247-76ed3a8386c24b35958dcac948f884c7",
            "lastTrainedDateTime": "2025-06-18T06:22:47.0408253Z",
            "lastDeployedDateTime": "2025-06-18T06:24:02Z",
            "deploymentExpirationDate": "2027-02-27",
            "modelTrainingConfigVersion": "2022-09-01"
          },
          {
            "deploymentName": "staging",
            "modelId": "Model1-20250618T062247-76ed3a8386c24b35958dcac948f884c7",
            "lastTrainedDateTime": "2025-06-18T06:22:47.0408253Z",
            "lastDeployedDateTime": "2025-06-24T23:43:06Z",
            "deploymentExpirationDate": "2027-02-27",
            "modelTrainingConfigVersion": "2022-09-01"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
