{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/deployments/deployment2?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/deployments/deployment2/jobs/e96061db-55dd-4fb3-a782-efd0507a118d_638913312000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/deployments/deployment2/jobs/e96061db-55dd-4fb3-a782-efd0507a118d_638913312000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "e96061db-55dd-4fb3-a782-efd0507a118d_638913312000000000",
        "createdDateTime": "2025-08-21T09:06:00Z",
        "lastUpdatedDateTime": "2025-08-21T09:06:00Z",
        "expirationDateTime": "2025-08-28T09:06:00Z",
        "status": "running"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/Test-data-labels/deployments/deployment2/jobs/e96061db-55dd-4fb3-a782-efd0507a118d_638913312000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "e96061db-55dd-4fb3-a782-efd0507a118d_638913312000000000",
        "createdDateTime": "2025-08-21T09:06:00Z",
        "lastUpdatedDateTime": "2025-08-21T09:06:05Z",
        "expirationDateTime": "2025-08-28T09:06:00Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
