{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/PythonImportProject0820/:import?api-version=2025-05-15-preview&format=Conversation",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "projectFileVersion": "2025-05-15-preview",
        "stringIndexType": "Utf16CodeUnit",
        "metadata": {
          "projectKind": "Conversation",
          "projectName": "PythonImportProject0820",
          "language": "en-us",
          "settings": {
            "confidenceThreshold": 0.0
          },
          "multilingual": false,
          "description": ""
        },
        "assets": {
          "projectKind": "Conversation",
          "intents": [
            {
              "category": "None"
            },
            {
              "category": "Buy"
            }
          ],
          "entities": [
            {
              "category": "product",
              "compositionSetting": "combineComponents"
            }
          ],
          "utterances": [
            {
              "text": "I want to buy a house",
              "intent": "Buy",
              "language": "en-us",
              "dataset": "Train",
              "entities": [
                {
                  "category": "product",
                  "offset": 16,
                  "length": 5
                }
              ]
            },
            {
              "text": "I want to buy surface pro",
              "intent": "Buy",
              "language": "en-us",
              "dataset": "Train",
              "entities": [
                {
                  "category": "product",
                  "offset": 14,
                  "length": 11
                }
              ]
            },
            {
              "text": "I want to buy xbox",
              "intent": "Buy",
              "language": "en-us",
              "dataset": "Train",
              "entities": [
                {
                  "category": "product",
                  "offset": 14,
                  "length": 4
                }
              ]
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/PythonImportProject0820/import/jobs/c3af7a7d-4cf2-42f4-ae04-e9765b366982_638913312000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/PythonImportProject0820/import/jobs/c3af7a7d-4cf2-42f4-ae04-e9765b366982_638913312000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "c3af7a7d-4cf2-42f4-ae04-e9765b366982_638913312000000000",
        "createdDateTime": "2025-08-21T04:52:51Z",
        "lastUpdatedDateTime": "2025-08-21T04:52:51Z",
        "expirationDateTime": "2025-08-28T04:52:51Z",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-conversations/projects/PythonImportProject0820/import/jobs/c3af7a7d-4cf2-42f4-ae04-e9765b366982_638913312000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "c3af7a7d-4cf2-42f4-ae04-e9765b366982_638913312000000000",
        "createdDateTime": "2025-08-21T04:52:51Z",
        "lastUpdatedDateTime": "2025-08-21T04:52:52Z",
        "expirationDateTime": "2025-08-28T04:52:51Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
