interactions:
- request:
    body: <?xml version="1.0" encoding="utf-8" standalone="yes"?><entry xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices"
      xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata" xmlns="http://www.w3.org/2005/Atom"><title></title><updated>2016-08-11T22:21:36.782954+00:00</updated><author><name></name></author><id></id><content
      type="application/xml"><QueueDescription xmlns:i="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"></QueueDescription></content></entry>
    headers:
      Content-Type: [application/atom+xml;type=entry;charset=utf-8]
    method: PUT
    uri: https://fakesbnamespace.servicebus.windows.net/utqueue51c815e2
  response:
    body: {string: '<entry xmlns="http://www.w3.org/2005/Atom"><id>https://fakesbnamespace.servicebus.windows.net/utqueue51c815e2</id><title
        type="text">utqueue51c815e2</title><published>2016-08-11T22:21:39Z</published><updated>2016-08-11T22:21:40Z</updated><author><name>fakesbnamespace</name></author><link
        rel="self" href="https://fakesbnamespace.servicebus.windows.net/utqueue51c815e2"/><content
        type="application/xml"><QueueDescription xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><LockDuration>PT1M</LockDuration><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><MessageCount>0</MessageCount><CreatedAt>2016-08-11T22:21:39.973</CreatedAt><UpdatedAt>2016-08-11T22:21:40.093</UpdatedAt></QueueDescription></content></entry>'}
    headers:
      Content-Type: [application/atom+xml;type=entry;charset=utf-8]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/atom+xml;type=entry;charset=utf-8]
    method: POST
    uri: https://fakesbnamespace.servicebus.windows.net/utqueue51c815e2/$DeadLetterQueue/messages/head?timeout=2
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/xml; charset=utf-8]
    status: {code: 204, message: No Content}
version: 1
