interactions:
- request:
    body: '{"location": "westus", "properties": {"containers": [{"name": "pycontainer26441510",
      "properties": {"image": "alpine:latest", "resources": {"requests": {"memoryInGB":
      1.0, "cpu": 1.0}}, "volumeMounts": [{"name": "empty-volume", "mountPath": "/mnt/mydir"}],
      "livenessProbe": {"exec": {"command": ["cat/tmp/healthy"]}, "periodSeconds":
      5}}}], "restartPolicy": "OnFailure", "osType": "Linux", "volumes": [{"name":
      "empty-volume", "emptyDir": {}}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerinstance_test_container_instance26441510/providers/Microsoft.ContainerInstance/containerGroups/pycontainer26441510?api-version=2018-06-01
  response:
    body: {string: '{"properties":{"provisioningState":"Pending","containers":[{"name":"pycontainer26441510","properties":{"image":"alpine:latest","ports":[],"environmentVariables":[],"resources":{"requests":{"memoryInGB":1.0,"cpu":1.0}},"volumeMounts":[{"name":"empty-volume","mountPath":"/mnt/mydir"}],"livenessProbe":{"exec":{"command":["cat/tmp/healthy"]},"periodSeconds":5}}}],"restartPolicy":"OnFailure","osType":"Linux","volumes":[{"name":"empty-volume","emptyDir":{}}],"instanceView":{"state":"Pending"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerinstance_test_container_instance26441510/providers/Microsoft.ContainerInstance/containerGroups/pycontainer26441510","name":"pycontainer26441510","type":"Microsoft.ContainerInstance/containerGroups","location":"westus"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/West
          US/operations/93704fdf-b485-4f04-8603-c7e1730ab25c?api-version=2018-02-01-preview']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests-pt1h: ['87']
      x-ms-ratelimit-remaining-subscription-resource-requests-pt5m: ['98']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/West%20US/operations/93704fdf-b485-4f04-8603-c7e1730ab25c?api-version=2018-02-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerinstance_test_container_instance26441510/providers/Microsoft.ContainerInstance/containerGroups/pycontainer26441510","status":"Succeeded","startTime":"2018-06-18T20:22:40.6357413Z","properties":{"events":[{"count":1,"firstTimestamp":"2018-06-18T20:22:49Z","lastTimestamp":"2018-06-18T20:22:49Z","name":"Pulling","message":"pulling
        image \"alpine:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-06-18T20:22:51Z","lastTimestamp":"2018-06-18T20:22:51Z","name":"Pulled","message":"Successfully
        pulled image \"alpine:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-06-18T20:22:51Z","lastTimestamp":"2018-06-18T20:22:51Z","name":"Created","message":"Created
        container with id ad2aa22993bd0d6be9c51f86b7667a55828c7313a2b9ed5c7b4c7d814ba83f6e","type":"Normal"},{"count":1,"firstTimestamp":"2018-06-18T20:22:52Z","lastTimestamp":"2018-06-18T20:22:52Z","name":"Started","message":"Started
        container with id ad2aa22993bd0d6be9c51f86b7667a55828c7313a2b9ed5c7b4c7d814ba83f6e","type":"Normal"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerinstance_test_container_instance26441510/providers/Microsoft.ContainerInstance/containerGroups/pycontainer26441510?api-version=2018-06-01
  response:
    body: {string: '{"properties":{"provisioningState":"Succeeded","containers":[{"name":"pycontainer26441510","properties":{"image":"alpine:latest","ports":[],"environmentVariables":[],"instanceView":{"restartCount":0,"currentState":{"state":"Terminated","startTime":"2018-06-18T20:22:52Z","exitCode":0,"finishTime":"2018-06-18T20:22:52Z","detailStatus":"Completed"},"events":[{"count":1,"firstTimestamp":"2018-06-18T20:22:49Z","lastTimestamp":"2018-06-18T20:22:49Z","name":"Pulling","message":"pulling
        image \"alpine:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-06-18T20:22:51Z","lastTimestamp":"2018-06-18T20:22:51Z","name":"Pulled","message":"Successfully
        pulled image \"alpine:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-06-18T20:22:51Z","lastTimestamp":"2018-06-18T20:22:51Z","name":"Created","messag[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerinstance_test_container_instance26441510/providers/Microsoft.ContainerInstance/containerGroups?api-version=2018-06-01
  response:
    body: {string: '{"value":[{"properties":{"provisioningState":"Succeeded","containers":[{"name":"pycontainer26441510","properties":{"image":"alpine:latest","ports":[],"environmentVariables":[],"resources":{"requests":{"memoryInGB":1.0,"cpu":1.0}},"volumeMounts":[{"name":"empty-volume","mountPath":"/mnt/mydir"}],"livenessProbe":{"exec":{"command":["cat/tmp/healthy"]},"periodSeconds":5}}}],"restartPolicy":"OnFailure","osType":"Linux","volumes":[{"name":"empty-volume","emptyDir":{}}]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerinstance_test_container_instance26441510/providers/Microsoft.ContainerInstance/containerGroups/pycontainer26441510","name":"pycontainer26441510","type":"Microsoft.ContainerInstance/containerGroups","location":"westus"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"command": "/bin/bash", "terminalSize": {"rows": 24, "cols": 80}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_containerinstance_test_container_instance26441510/providers/Microsoft.ContainerInstance/containerGroups/pycontainer26441510/containers/pycontainer26441510/exec?api-version=2018-06-01
  response:
    body: {string: '{"error":{"code":"ContainerGroupStopped","message":"Container
        Group ''pycontainer26441510'' in resource group ''test_mgmt_containerinstance_test_container_instance26441510''
        is stopped."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 400, message: Bad Request}
version: 1
