interactions:
- request:
    body: null
    headers:
      subscription-key:
      - <RealSubscriptionKey>
      x-ms-client-id:
      - <RealClientId>
    method: GET
    uri: https://atlas.microsoft.com/search/nearby/json?api-version=1.0&lat=25.0338053&lon=121.5640089
  response:
    body:
      string: "{\"summary\":{\"queryType\":\"NEARBY\",\"queryTime\":89,\"numResults\":10,\"offset\":0,\"totalResults\":179471,\"fuzzyLevel\":1,\"geoBias\":{\"lat\":25.0338053,\"lon\":121.5640089}},\"results\":[{\"type\":\"POI\",\"id\":\"g6JpZK8xNTgwMDkwMDIwMDMzMzWhY6NUV06hdqdVbmlmaWVk\",\"score\":99.9951095581,\"dist\":4.886915281964249,\"info\":\"search:ta:158009002003335-TW\",\"poi\":{\"name\":\"Audemars
        Piguet\",\"phone\":\"+886 2 8101 8181\",\"categorySet\":[{\"id\":9361036}],\"url\":\"www.audemarspiguet.com\",\"categories\":[\"jewelry,
        clocks watches\",\"shop\"],\"classifications\":[{\"code\":\"SHOP\",\"names\":[{\"nameLocale\":\"en-US\",\"name\":\"shop\"},{\"nameLocale\":\"en-US\",\"name\":\"jewelry,
        clocks watches\"}]}]},\"address\":{\"streetName\":\"Shifu Road\",\"municipalitySubdivision\":\"Xinyi
        District\",\"municipality\":\"Taipei City\",\"countrySubdivision\":\"Taipei
        City\",\"postalCode\":\"110\",\"countryCode\":\"TW\",\"country\":\"Taiwan\",\"countryCodeISO3\":\"TWN\",\"freeformAddress\":\"Shifu
        Road, Xinyi District, Taipei City 110\",\"localName\":\"Xinyi District\"},\"position\":{\"lat\":25.03377,\"lon\":121.56398},\"viewport\":{\"topLeftPoint\":{\"lat\":25.03467,\"lon\":121.56299},\"btmRightPoint\":{\"lat\":25.03287,\"lon\":121.56497}},\"entryPoints\":[{\"type\":\"main\",\"position\":{\"lat\":25.03379,\"lon\":121.56354}}],\"dataSources\":{\"poiDetails\":[{\"id\":\"Rm91cnNxdWFyZTo0ZTVkZGYzNjdkOGI2N2RjOGZlYzRmMjE=\",\"sourceName\":\"Foursquare\"}]}},{\"type\":\"POI\",\"id\":\"g6JpZK8xNTgwMDkwMDIwMDkyOTehY6NUV06hdqdVbmlmaWVk\",\"score\":99.9890289307,\"dist\":10.968319695263533,\"info\":\"search:ta:158009002009297-TW\",\"poi\":{\"name\":\"Bottega
        Veneta\",\"phone\":\"+886 2 8101 8038\",\"categorySet\":[{\"id\":9361058}],\"url\":\"https://www.bottegaveneta.com/experience/us/store/taipei-101-mall\",\"categories\":[\"bags
        leatherwear\",\"shop\"],\"classifications\":[{\"code\":\"SHOP\",\"names\":[{\"nameLocale\[...]
