interactions:
- request:
    body: null
    headers:
      subscription-key:
      - <RealSubscriptionKey>
      x-ms-client-id:
      - <RealClientId>
    method: GET
    uri: https://atlas.microsoft.com/search/fuzzy/json?api-version=1.0&query=No.%20221%2C%20Sec.%202%2C%20Zhishan%20Rd.%2C%20Shilin%20Dist.%2C%20Taipei%20City%20111%2C%20Taiwan%20%28R.O.C.%29
  response:
    body:
      string: '{"summary":{"query":"no 221 sec 2 zhishan rd shilin dist taipei city
        111 taiwan r o c","queryType":"NON_NEAR","queryTime":899,"numResults":10,"offset":0,"totalResults":850,"fuzzyLevel":2},"results":[{"type":"Point
        Address","id":"TW/PAD/p0/848986","score":17.4929943085,"address":{"streetNumber":"11-2","streetName":"Zhishan
        Road Section 2","municipalitySubdivision":"Shilin District","municipality":"Taipei
        City","countrySubdivision":"Taipei City","postalCode":"111","extendedPostalCode":"11143","countryCode":"TW","country":"Taiwan","countryCodeISO3":"TWN","freeformAddress":"11-2,
        Zhishan Road Section 2, Shilin District, Taipei City 11143","localName":"Shilin
        District"},"position":{"lat":25.09735,"lon":121.54401},"viewport":{"topLeftPoint":{"lat":25.09825,"lon":121.54302},"btmRightPoint":{"lat":25.09645,"lon":121.545}},"entryPoints":[{"type":"main","position":{"lat":25.09723,"lon":121.544}}]},{"type":"Point
        Address","id":"TW/PAD/p0/1576501","score":17.4929943085,"address":{"streetNumber":"90-2","streetName":"Zhishan
        Road Section 2","municipalitySubdivision":"Shilin District","municipality":"Taipei
        City","countrySubdivision":"Taipei City","postalCode":"111","extendedPostalCode":"11143","countryCode":"TW","country":"Taiwan","countryCodeISO3":"TWN","freeformAddress":"90-2,
        Zhishan Road Section 2[...]
