interactions:
- request:
    body: null
    headers:
      x-ms-client-id:
      - <RealClientId>
    method: GET
    uri: https://atlas.microsoft.com/search/nearby/json?api-version=1.0&lat=25.0338053&lon=121.5640089&subscription-key=pryWmPOH5EtRpxLMlGoMFni8b5rgPnMSR3ZFtrDj0hY
  response:
    body:
      string: "{\"summary\":{\"queryType\":\"NEARBY\",\"queryTime\":105,\"numResults\":10,\"offset\":0,\"totalResults\":208467,\"fuzzyLevel\":1,\"geoBias\":{\"lat\":25.0338053,\"lon\":121.5640089}},\"results\":[{\"type\":\"POI\",\"id\":\"158009002003335\",\"score\":99.9951095581,\"dist\":4.886915281964249,\"info\":\"search:ta:158009002003335-TW\",\"poi\":{\"name\":\"Audemars
        Piguet\",\"phone\":\"+886 2 8101 8181\",\"categorySet\":[{\"id\":9361036}],\"url\":\"www.audemarspiguet.com\",\"categories\":[\"jewelry,
        clocks watches\",\"shop\"],\"classifications\":[{\"code\":\"SHOP\",\"names\":[{\"nameLocale\":\"en-US\",\"name\":\"shop\"},{\"nameLocale\":\"en-US\",\"name\":\"jewelry,
        clocks watches\"}]}]},\"address\":{\"municipalitySubdivision\":\"Xinyi District\",\"municipality\":\"Taipei
        City\",\"countrySubdivision\":\"Taipei City\",\"postalCode\":\"110\",\"countryCode\":\"TW\",\"country\":\"Taiwan\",\"countryCodeISO3\":\"TWN\",\"freeformAddress\":\"Xinyi
        District, Taipei City 110\",\"localName\":\"Xinyi District\"},\"position\":{\"lat\":25.03377,\"lon\":121.56398},\"viewport\":{\"topLeftPoint\":{\"lat\":25.03467,\"lon\":121.56299},\"btmRightPoint\":{\"lat\":25.03287,\"lon\":121.56497}},\"entryPoints\":[{\"type\":\"main\",\"position\":{\"lat\":25.03377,\"lon\":121.5638}}],\"dataSources\":{\"poiDetails\":[{\"id\":\"Rm91cnNxdWFyZTo0ZTVkZGYzNjdkOGI2N2RjOGZlYzRmMjE=\",\"sourceName\":\"Foursquare\"}]}},{\"type\":\"POI\",\"id\":\"158009002009297\",\"score\":99.9890289307,\"dist\":10.968319695263533,\"info\":\"search:ta:158009002009297-TW\",\"poi\":{\"name\":\"Bottega
        Veneta\",\"phone\":\"+886 2 8101 8038\",\"categorySet\":[{\"id\":9361058}],\"url\":\"www.bottegaveneta.com/experience/us/store/taipei-101-mall\",\"categories\":[\"bags
        leatherwear\",\"shop\"],\"classifications\":[{\"code\":\"SHOP\",\"names\":[{\"nameLocale\":\"en-US\",\"name\":\"bags
        leath[...]
