interactions:
- request:
    body: null
    headers:
      x-ms-client-id:
      - <RealClientId>
    method: GET
    uri: https://atlas.microsoft.com/search/fuzzy/json?api-version=1.0&query=Taipei%20101&countrySet=TW&subscription-key=pryWmPOH5EtRpxLMlGoMFni8b5rgPnMSR3ZFtrDj0hY
  response:
    body:
      string: "{\"summary\":{\"query\":\"taipei 101\",\"queryType\":\"NON_NEAR\",\"queryTime\":59,\"numResults\":10,\"offset\":0,\"totalResults\":1504,\"fuzzyLevel\":1},\"results\":[{\"type\":\"POI\",\"id\":\"158009002017965\",\"score\":4.4091453552,\"info\":\"search:ta:158009002017965-TW\",\"poi\":{\"name\":\"Taipei
        101\",\"categorySet\":[{\"id\":7315059}],\"categories\":[\"restaurant\",\"taiwanese\"],\"classifications\":[{\"code\":\"RESTAURANT\",\"names\":[{\"nameLocale\":\"en-US\",\"name\":\"taiwanese\"},{\"nameLocale\":\"en-US\",\"name\":\"restaurant\"}]}]},\"address\":{\"streetName\":\"Xinyi
        Road Section 5\",\"municipalitySubdivision\":\"Xinyi District\",\"municipality\":\"Taipei
        City\",\"countrySubdivision\":\"Taipei City\",\"postalCode\":\"110\",\"extendedPostalCode\":\"11049\",\"countryCode\":\"TW\",\"country\":\"Taiwan\",\"countryCodeISO3\":\"TWN\",\"freeformAddress\":\"Xinyi
        Road Section 5, Xinyi District, Taipei City 11049\",\"localName\":\"Xinyi
        District\"},\"position\":{\"lat\":25.03339,\"lon\":121.56437},\"viewport\":{\"topLeftPoint\":{\"lat\":25.03429,\"lon\":121.56338},\"btmRightPoint\":{\"lat\":25.03249,\"lon\":121.56536}},\"entryPoints\":[{\"type\":\"main\",\"position\":{\"lat\":25.03298,\"lon\":121.56437}}],\"dataSources\":{\"poiDetails\":[{\"id\":\"Rm91cnNxdWFyZTo1YzgyMDQyYTRhYzI4YTAwMmNiOWVjYzE=\",\"sourceName\":\"Foursquare\"}]}},{\"type\":\"POI\",\"id\":\"158008000011052\",\"score\":4.4091453552,\"info\":\"search:ta:158008000011052-TW\",\"poi\":{\"name\":\"Taipei
        101\",\"phone\":\"+886 2 8101 8960\",\"categorySet\":[{\"id\":9382}],\"url\":\"www.taipei-101.com.tw\",\"categories\":[\"commercial
        building\"],\"classifications\":[{\"code\":\"COMMERCIAL_BUILDING\",\"names\":[{\"nameLocale\":\"en-US\",\"name\":\"commercial
        building\"}]}]},\"address\":{\"streetNumber\":\"7\",\"streetName\":\"Xinyi
        Road Section 5\",\"municipalitySubdivision\":\"Xinyi District\",\"municipality\":\"Taipei
        City\",\"countrySubdivision\":\"Taipei City\",\"postalCode\":\"110\",\"extendedPostalCode\":\"11049\",\"countryCode\":\"TW\",\"country\":\"Taiwan\",\"countryCodeISO3\":\"TWN\",\"freeformAddress\":\"7,
        Xinyi Road Section 5, Xinyi District, Taipei City 11049\",\"localName\":\"Xinyi
        District\"},\"position\":{\"lat\":25.03454,\"lon\":121.56449},\"viewport\":{\"topLeftPoint\":{\"lat\":25.03611,\"lon\":121.56276},\"btmRightPoint\":{\"lat\":25.03297,\"lon\":121.56622}},\"entryPoints\":[{\"type\":\"main\",\"position\":{\"lat\":25.03297,\"lon\":121.5645}}]},{\"type\":\"POI\",\"id\":\"158009002170007\",\"score\":4.3663377762,\"info\":\"search:ta:158009002170007-TW\",\"poi\":{\"name\":\"Apple
        Taipei 101\",\"phone\":\"+886 2 8726 3500\",\"brands\":[{\"name\":\"Apple\"}],\"categorySet\":[{\"id\":9361013}],\"url\":\"www.apple.com/tw/retail/taipei101\",\"categories\":[\"electrical,
        office it: consumer electronics\",\"shop\"],\"classifications\":[{\"code\":\"SHOP\",\"names\":[{\"nameLocale\":\"en-US\",\"name\":\"electrical,
        office it: consumer electronics\"},{\"nameLocale\":\"en-US\",\"name\":\"shop\"}]}]},\"address\":{\"municipalitySubdivision\":\"\u4FE1\u7FA9\u5340\",\"municipality\":\"\u53F0\u5317\u5E02\",\"countrySubdivisi[...]
