{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/deletedWorkspaces?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "customerId": "0bde0522-3a88-4450-8f25-c68e1a929360",
              "provisioningState": "Succeeded",
              "sku": {
                "name": "Sanitized",
                "lastSkuUpdate": "2026-06-09T23:50:31.9048727Z"
              },
              "retentionInDays": 30,
              "features": {
                "legacy": 0,
                "searchVersion": 1,
                "enableLogAccessUsingOnlyResourcePermissions": true
              },
              "workspaceCapping": {
                "dailyQuotaGb": -1.0,
                "quotaNextResetTime": "2026-06-10T14:00:00Z",
                "dataIngestionStatus": "RespectQuota"
              },
              "publicNetworkAccessForIngestion": "Enabled",
              "publicNetworkAccessForQuery": "Enabled",
              "createdDate": "2026-06-09T23:50:31.9048727Z",
              "modifiedDate": "2026-06-09T23:59:35.0443675Z"
            },
            "location": "eastus",
            "tags": {
              "azd-env-name": "devclaw-test2"
            },
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.OperationalInsights/workspaces",
            "etag": "Sanitized"
          },
          {
            "properties": {
              "customerId": "6cad249d-1aeb-45a1-be2f-5690ecaec80d",
              "provisioningState": "Succeeded",
              "sku": {
                "name": "Sanitized",
                "lastSkuUpdate": "2026-06-10T00:02:03.1660725Z"
              },
              "retentionInDays": 30,
              "features": {
                "legacy": 0,
                "searchVersion": 1,
                "enableLogAccessUsingOnlyResour[...]
