interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/usages?api-version=2018-02-01
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"unit\": \"Count\",\r\n\
        \      \"currentValue\": 0,\r\n      \"limit\": 250,\r\n      \"name\": {\r\
        \n        \"value\": \"StorageAccounts\",\r\n        \"localizedValue\": \"\
        Storage Accounts\"\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
