interactions:
- request:
    body: null
    headers:
    method: PUT
    uri: https://myservice.webpubsub.azure.com/api/hubs/hub/users/some_user/groups/some_group?api-version=2021-10-01
  response:
    body:
      string: '{"code":"Warning.User.NotExisted","message":"User `some_user` is not
        found.","target":"User","details":null,"innererror":null}'
    headers:
      api-supported-versions:
      - '2021-10-01'
      content-type:
      - application/json; charset=utf-8
      x-ms-error-code:
      - Warning.User.NotExisted
    status:
      code: 404
      message: Not Found
version: 1
