{
    "swagger": "2.0",
    "info": {
      "title": "Azure Machine Learning Services",
      "description": "These APIs allow end users to operate on Azure Machine Learning Workspace resources.",
      "version": "2023-04-01"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow.",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/providers/Microsoft.MachineLearningServices/operations": {
        "get": {
          "tags": [
            "Operation"
          ],
          "description": "Lists all of the available Azure Machine Learning Workspaces REST API operations.",
          "operationId": "Operations_List",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "x-ms-examples": {
            "OperationsList": {
              "$ref": "./examples/Workspace/operationsList.json"
            }
          },
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly.",
              "schema": {
                "$ref": "#/definitions/AmlOperationListResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": null
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}": {
        "get": {
          "tags": [
            "Workspaces"
          ],
          "description": "Gets the properties of the specified machine learning workspace.",
          "operationId": "Workspaces_Get",
          "x-ms-examples": {
            "Get Workspace": {
              "$ref": "./examples/Workspace/get.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly.",
              "schema": {
                "$ref": "#/definitions/Workspace"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "tags": [
            "Workspaces"
          ],
          "description": "Creates or updates a workspace with the specified parameters.",
          "operationId": "Workspaces_CreateOrUpdate",
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "Create Workspace": {
              "$ref": "./examples/Workspace/create.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "description": "The parameters for creating or updating a machine learning workspace.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Workspace"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly.",
              "schema": {
                "$ref": "#/definitions/Workspace"
              }
            },
            "202": {
              "description": "The request was successful; the request was well-formed and received properly."
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Workspaces"
          ],
          "description": "Deletes a machine learning workspace.",
          "operationId": "Workspaces_Delete",
          "x-ms-examples": {
            "Delete Workspace": {
              "$ref": "./examples/Workspace/delete.json"
            }
          },
          "x-ms-long-running-operation": true,
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly."
            },
            "202": {
              "description": "The request was accepted; the request was well-formed and received properly."
            },
            "204": {
              "description": "The machine learning workspace does not exist in the subscription."
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "patch": {
          "tags": [
            "Workspaces"
          ],
          "description": "Updates a machine learning workspace with the specified parameters.",
          "operationId": "Workspaces_Update",
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "Update Workspace": {
              "$ref": "./examples/Workspace/update.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "description": "The parameters for updating a machine learning workspace.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/WorkspaceUpdateParameters"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly.",
              "schema": {
                "$ref": "#/definitions/Workspace"
              }
            },
            "202": {
              "description": "The request was successful; the request was well-formed and received properly."
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces": {
        "get": {
          "tags": [
            "Workspaces"
          ],
          "description": "Lists all the available machine learning workspaces under the specified resource group.",
          "operationId": "Workspaces_ListByResourceGroup",
          "x-ms-examples": {
            "Get Workspaces by Resource Group": {
              "$ref": "./examples/Workspace/listByResourceGroup.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/PaginationParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly.",
              "schema": {
                "$ref": "#/definitions/WorkspaceListResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/diagnose": {
        "post": {
          "tags": [
            "Workspaces"
          ],
          "summary": "Diagnose workspace setup issue.",
          "operationId": "Workspaces_Diagnose",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "body",
              "name": "parameters",
              "description": "The parameter of diagnosing workspace health",
              "schema": {
                "$ref": "#/definitions/DiagnoseWorkspaceParameters"
              }
            }
          ],
          "responses": {
            "202": {
              "description": "Success",
              "headers": {
                "Location": {
                  "description": "URI to poll for asynchronous operation result.",
                  "type": "string"
                },
                "Retry-After": {
                  "description": "Duration the client should wait between requests, in seconds.",
                  "type": "integer",
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 10
                }
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DiagnoseResponseResult"
              }
            },
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "Diagnose Workspace": {
              "$ref": "./examples/Workspace/diagnose.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "location"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/listKeys": {
        "post": {
          "tags": [
            "Workspaces"
          ],
          "description": "Lists all the keys associated with this workspace. This includes keys for the storage account, app insights and password for container registry",
          "operationId": "Workspaces_ListKeys",
          "x-ms-examples": {
            "List Workspace Keys": {
              "$ref": "./examples/Workspace/listKeys.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly.",
              "schema": {
                "$ref": "#/definitions/ListWorkspaceKeysResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/resyncKeys": {
        "post": {
          "tags": [
            "Workspaces"
          ],
          "description": "Resync all the keys associated with this workspace. This includes keys for the storage account, app insights and password for container registry",
          "operationId": "Workspaces_ResyncKeys",
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "Resync Workspace Keys": {
              "$ref": "./examples/Workspace/resyncKeys.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly."
            },
            "202": {
              "description": "The request was accepted; the request was well-formed and received properly."
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/usages": {
        "get": {
          "tags": [
            "Usage"
          ],
          "operationId": "Usages_List",
          "description": "Gets the current usage information as well as limits for AML resources for given subscription and location.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "name": "location",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The location for which resource usage is queried.",
              "pattern": "^[-\\w\\._]+$"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ListUsagesResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          },
          "x-ms-examples": {
            "List Usages": {
              "$ref": "./examples/Usage/list.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/vmSizes": {
        "get": {
          "tags": [
            "VirtualMachineSizes"
          ],
          "operationId": "VirtualMachineSizes_List",
          "description": "Returns supported VM Sizes in a location",
          "parameters": [
            {
              "name": "location",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The location upon which virtual-machine-sizes is queried.",
              "pattern": "^[-\\w\\._]+$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/VirtualMachineSizeListResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "List VM Sizes": {
              "$ref": "./examples/VirtualMachineSize/list.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/updateQuotas": {
        "post": {
          "tags": [
            "Quota"
          ],
          "operationId": "Quotas_Update",
          "description": "Update quota for each VM family in workspace.",
          "parameters": [
            {
              "name": "location",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The location for update quota is queried.",
              "pattern": "^[-\\w\\._]+$"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/QuotaUpdateParameters"
              },
              "description": "Quota update parameters."
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The operation was successful.",
              "schema": {
                "$ref": "#/definitions/UpdateWorkspaceQuotasResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "update quotas": {
              "$ref": "./examples/Quota/update.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/quotas": {
        "get": {
          "tags": [
            "Quota"
          ],
          "operationId": "Quotas_List",
          "description": "Gets the currently assigned Workspace Quotas based on VMFamily.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "name": "location",
              "in": "path",
              "required": true,
              "type": "string",
              "description": "The location for which resource usage is queried.",
              "pattern": "^[-\\w\\._]+$"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ListWorkspaceQuotas"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          },
          "x-ms-examples": {
            "List workspace quotas by VMFamily": {
              "$ref": "./examples/Quota/list.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/workspaces": {
        "get": {
          "tags": [
            "Workspaces"
          ],
          "description": "Lists all the available machine learning workspaces under the specified subscription.",
          "operationId": "Workspaces_ListBySubscription",
          "x-ms-examples": {
            "Get Workspaces by subscription": {
              "$ref": "./examples/Workspace/listBySubscription.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/PaginationParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly.",
              "schema": {
                "$ref": "#/definitions/WorkspaceListResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes": {
        "get": {
          "tags": [
            "OperationalizationClusters",
            "MachineLearningComputes"
          ],
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          },
          "operationId": "Compute_List",
          "description": "Gets computes in specified workspace.",
          "x-ms-examples": {
            "Get Computes": {
              "$ref": "./examples/Compute/list.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/PaginationParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The response includes a paginated array of Machine Learning computes and a URI to the next set of results, if any. For the more information the limits of the number of items in a resource group, see https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/.",
              "schema": {
                "$ref": "#/definitions/PaginatedComputeResourcesList"
              }
            },
            "default": {
              "description": "Error response describing why the request failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}": {
        "get": {
          "tags": [
            "OperationalizationClusters",
            "MachineLearningComputes"
          ],
          "operationId": "Compute_Get",
          "description": "Gets compute definition by its name. Any secrets (storage keys, service credentials, etc) are not returned - use 'keys' nested resource to get them.",
          "x-ms-examples": {
            "Get a AKS Compute": {
              "$ref": "./examples/Compute/get/AKSCompute.json"
            },
            "Get a AML Compute": {
              "$ref": "./examples/Compute/get/AmlCompute.json"
            },
            "Get an ComputeInstance": {
              "$ref": "./examples/Compute/get/ComputeInstance.json"
            },
            "Get a Kubernetes Compute": {
              "$ref": "./examples/Compute/get/KubernetesCompute.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/ComputeNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Success.",
              "schema": {
                "$ref": "#/definitions/ComputeResource"
              }
            },
            "default": {
              "description": "Error response describing why the request failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "tags": [
            "OperationalizationClusters",
            "MachineLearningComputes"
          ],
          "operationId": "Compute_CreateOrUpdate",
          "description": "Creates or updates compute. This call will overwrite a compute if it exists. This is a nonrecoverable operation. If your intent is to create a new compute, do a GET first to verify that it does not exist yet.",
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "Create a AML Compute": {
              "$ref": "./examples/Compute/createOrUpdate/BasicAmlCompute.json"
            },
            "Create an ComputeInstance Compute with minimal inputs": {
              "$ref": "./examples/Compute/createOrUpdate/ComputeInstanceMinimal.json"
            },
            "Create an ComputeInstance Compute": {
              "$ref": "./examples/Compute/createOrUpdate/ComputeInstance.json"
            },
            "Create an ComputeInstance Compute with Schedules": {
              "$ref": "./examples/Compute/createOrUpdate/ComputeInstanceWithSchedules.json"
            },
            "Create an AKS Compute": {
              "$ref": "./examples/Compute/createOrUpdate/BasicAKSCompute.json"
            },
            "Create a DataFactory Compute": {
              "$ref": "./examples/Compute/createOrUpdate/BasicDataFactoryCompute.json"
            },
            "Update a AML Compute": {
              "$ref": "./examples/Compute/createOrUpdate/AmlCompute.json"
            },
            "Update an AKS Compute": {
              "$ref": "./examples/Compute/createOrUpdate/AKSCompute.json"
            },
            "Attach a Kubernetes Compute": {
              "$ref": "./examples/Compute/createOrUpdate/KubernetesCompute.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/ComputeNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/ComputeDefinitionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Compute creation or update initiated.",
              "schema": {
                "$ref": "#/definitions/ComputeResource"
              }
            },
            "201": {
              "description": "Compute creation or update initiated.",
              "headers": {
                "Azure-AsyncOperation": {
                  "description": "URI to poll for asynchronous operation status.",
                  "type": "string"
                }
              },
              "schema": {
                "$ref": "#/definitions/ComputeResource"
              }
            },
            "default": {
              "description": "Error response describing why the request failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "patch": {
          "tags": [
            "OperationalizationClusters",
            "MachineLearningComputes"
          ],
          "operationId": "Compute_Update",
          "description": "Updates properties of a compute. This call will overwrite a compute if it exists. This is a nonrecoverable operation.",
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "Update a AmlCompute Compute": {
              "$ref": "./examples/Compute/patch.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/ComputeNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ClusterUpdateParameters"
              },
              "description": "Additional parameters for cluster update."
            }
          ],
          "responses": {
            "200": {
              "description": "Compute update initiated.",
              "schema": {
                "$ref": "#/definitions/ComputeResource"
              }
            },
            "default": {
              "description": "Error response describing why the request failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "OperationalizationClusters",
            "MachineLearningComputes"
          ],
          "operationId": "Compute_Delete",
          "description": "Deletes specified Machine Learning compute.",
          "x-ms-long-running-operation": true,
          "x-ms-examples": {
            "Delete Compute": {
              "$ref": "./examples/Compute/delete.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/ComputeNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/UnderlyingResourceActionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly."
            },
            "202": {
              "description": "Compute deletion initiated.",
              "headers": {
                "Azure-AsyncOperation": {
                  "description": "URI to poll for asynchronous operation status.",
                  "type": "string"
                },
                "Location": {
                  "description": "URI to poll for asynchronous operation result.",
                  "type": "string"
                }
              }
            },
            "204": {
              "description": "No content; The target compute does not exist."
            },
            "default": {
              "description": "Error response describing why the request failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}/listNodes": {
        "post": {
          "tags": [
            "MachineLearningComputes"
          ],
          "operationId": "Compute_ListNodes",
          "description": "Get the details (e.g IP address, port etc) of all the compute nodes in the compute.",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/ComputeNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The operation was successful. The response contains the list of IP addresses.",
              "schema": {
                "$ref": "#/definitions/AmlComputeNodesInformation"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink",
            "itemName": "nodes"
          },
          "x-ms-examples": {
            "Get compute nodes information for a compute": {
              "$ref": "./examples/Compute/listNodes.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/listNotebookAccessToken": {
        "post": {
          "tags": [
            "Workspaces"
          ],
          "description": "return notebook access token and refresh token",
          "operationId": "Workspaces_ListNotebookAccessToken",
          "x-ms-examples": {
            "List Workspace Keys": {
              "$ref": "./examples/Workspace/listNotebookAccessToken.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly.",
              "schema": {
                "$ref": "#/definitions/NotebookAccessTokenResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}/listKeys": {
        "post": {
          "tags": [
            "OperationalizationClusters",
            "MachineLearningComputes"
          ],
          "operationId": "Compute_ListKeys",
          "description": "Gets secrets related to Machine Learning compute (storage keys, service credentials, etc).",
          "x-ms-examples": {
            "List AKS Compute Keys": {
              "$ref": "./examples/Compute/listKeys.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/ComputeNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Success.",
              "schema": {
                "$ref": "#/definitions/ComputeSecrets"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}/start": {
        "post": {
          "tags": [
            "OperationalizationClusters",
            "MachineLearningComputes"
          ],
          "operationId": "Compute_Start",
          "description": "Posts a start action to a compute instance",
          "x-ms-examples": {
            "Start ComputeInstance Compute": {
              "$ref": "./examples/Compute/start.json"
            }
          },
          "x-ms-long-running-operation": true,
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/ComputeNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "202": {
              "description": "Success."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}/stop": {
        "post": {
          "tags": [
            "OperationalizationClusters",
            "MachineLearningComputes"
          ],
          "operationId": "Compute_Stop",
          "description": "Posts a stop action to a compute instance",
          "x-ms-examples": {
            "Stop ComputeInstance Compute": {
              "$ref": "./examples/Compute/stop.json"
            }
          },
          "x-ms-long-running-operation": true,
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/ComputeNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "202": {
              "description": "Success."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}/restart": {
        "post": {
          "tags": [
            "OperationalizationClusters",
            "MachineLearningComputes"
          ],
          "operationId": "Compute_Restart",
          "description": "Posts a restart action to a compute instance",
          "x-ms-examples": {
            "Restart ComputeInstance Compute": {
              "$ref": "./examples/Compute/restart.json"
            }
          },
          "x-ms-long-running-operation": true,
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/ComputeNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "202": {
              "description": "Success."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/privateEndpointConnections": {
        "get": {
          "tags": [
            "PrivateEndpointConnections"
          ],
          "operationId": "PrivateEndpointConnections_List",
          "description": "List all the private endpoint connections associated with the workspace.",
          "x-ms-examples": {
            "StorageAccountListPrivateEndpointConnections": {
              "$ref": "./examples/PrivateEndpointConnection/list.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK -- Successfully retrieved private endpoint connections.",
              "schema": {
                "$ref": "#/definitions/PrivateEndpointConnectionListResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": null
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
        "get": {
          "tags": [
            "WorkspacePrivateEndpointConnections"
          ],
          "operationId": "PrivateEndpointConnections_Get",
          "description": "Gets the specified private endpoint connection associated with the workspace.",
          "x-ms-examples": {
            "WorkspaceGetPrivateEndpointConnection": {
              "$ref": "./examples/PrivateEndpointConnection/get.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/PrivateEndpointConnectionName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK -- Get the private endpoint connection properties successfully.",
              "schema": {
                "$ref": "#/definitions/PrivateEndpointConnection"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "tags": [
            "WorkspacePrivateEndpointConnections"
          ],
          "operationId": "PrivateEndpointConnections_CreateOrUpdate",
          "description": "Update the state of specified private endpoint connection associated with the workspace.",
          "x-ms-examples": {
            "WorkspacePutPrivateEndpointConnection": {
              "$ref": "./examples/PrivateEndpointConnection/createOrUpdate.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/PrivateEndpointConnectionName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "name": "properties",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/PrivateEndpointConnection"
              },
              "description": "The private endpoint connection properties."
            }
          ],
          "responses": {
            "200": {
              "description": "OK -- Update the private endpoint connection properties successfully.",
              "schema": {
                "$ref": "#/definitions/PrivateEndpointConnection"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "WorkspacePrivateEndpointConnections"
          ],
          "operationId": "PrivateEndpointConnections_Delete",
          "description": "Deletes the specified private endpoint connection associated with the workspace.",
          "x-ms-examples": {
            "WorkspaceDeletePrivateEndpointConnection": {
              "$ref": "./examples/PrivateEndpointConnection/delete.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/PrivateEndpointConnectionName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK -- Delete the private endpoint connection successfully."
            },
            "204": {
              "description": "No Content -- The private endpoint connection does not exist."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/privateLinkResources": {
        "get": {
          "tags": [
            "WorkspacePrivateLinkResources"
          ],
          "operationId": "PrivateLinkResources_List",
          "description": "Gets the private link resources that need to be created for a workspace.",
          "x-ms-examples": {
            "WorkspaceListPrivateLinkResources": {
              "$ref": "./examples/PrivateLinkResource/list.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Successfully retrieved private link resources.",
              "schema": {
                "$ref": "#/definitions/PrivateLinkResourceListResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/prepareNotebook": {
        "post": {
          "tags": [
            "ProxyOperations"
          ],
          "operationId": "Workspaces_PrepareNotebook",
          "description": "Prepare a notebook.",
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "location"
          },
          "x-ms-examples": {
            "Prepare Notebook": {
              "$ref": "./examples/Notebook/prepare.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/NotebookResourceInfo"
              }
            },
            "202": {
              "description": "The request was successful; the request was well-formed and received properly."
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/listStorageAccountKeys": {
        "post": {
          "tags": [
            "ProxyOperations"
          ],
          "operationId": "Workspaces_ListStorageAccountKeys",
          "description": "List storage account keys of a workspace.",
          "x-ms-examples": {
            "List Workspace Keys": {
              "$ref": "./examples/Workspace/listStorageAccountKeys.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly.",
              "schema": {
                "$ref": "#/definitions/ListStorageAccountKeysResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/listNotebookKeys": {
        "post": {
          "tags": [
            "ProxyOperations"
          ],
          "operationId": "Workspaces_ListNotebookKeys",
          "description": "List keys of a notebook.",
          "x-ms-examples": {
            "List Workspace Keys": {
              "$ref": "./examples/Notebook/listKeys.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly.",
              "schema": {
                "$ref": "#/definitions/ListNotebookKeysResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/connections/{connectionName}": {
        "put": {
          "tags": [
            "V2WorkspaceConnectionResource"
          ],
          "operationId": "WorkspaceConnections_Create",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/ConnectionName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "name": "parameters",
              "in": "body",
              "description": "The object for creating or updating a new workspace connection",
              "required": true,
              "schema": {
                "$ref": "#/definitions/WorkspaceConnectionPropertiesV2BasicResource"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly.",
              "schema": {
                "$ref": "#/definitions/WorkspaceConnectionPropertiesV2BasicResource"
              }
            },
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "CreateWorkspaceConnection": {
              "$ref": "./examples/WorkspaceConnection/create.json"
            }
          }
        },
        "get": {
          "tags": [
            "V2WorkspaceConnectionResource"
          ],
          "operationId": "WorkspaceConnections_Get",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/ConnectionName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly.",
              "schema": {
                "$ref": "#/definitions/WorkspaceConnectionPropertiesV2BasicResource"
              }
            },
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "GetWorkspaceConnection": {
              "$ref": "./examples/WorkspaceConnection/get.json"
            }
          }
        },
        "delete": {
          "tags": [
            "V2WorkspaceConnectionResource"
          ],
          "operationId": "WorkspaceConnections_Delete",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/ConnectionName"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success"
            },
            "204": {
              "description": "Success"
            }
          },
          "x-ms-examples": {
            "DeleteWorkspaceConnection": {
              "$ref": "./examples/WorkspaceConnection/delete.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/connections": {
        "get": {
          "tags": [
            "V2WorkspaceConnectionResource"
          ],
          "operationId": "WorkspaceConnections_List",
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "#/parameters/TargetParameter"
            },
            {
              "$ref": "#/parameters/CategoryParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request was successful; the request was well-formed and received properly.",
              "schema": {
                "$ref": "#/definitions/WorkspaceConnectionPropertiesV2BasicResourceArmPaginatedResult"
              }
            },
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "ListWorkspaceConnections": {
              "$ref": "./examples/WorkspaceConnection/list.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/outboundNetworkDependenciesEndpoints": {
        "get": {
          "tags": [
            "OutboundNetworkDependenciesEndpoints"
          ],
          "summary": "Called by Client (Portal, CLI, etc) to get a list of all external outbound dependencies (FQDNs) programmatically.",
          "operationId": "Workspaces_ListOutboundNetworkDependenciesEndpoints",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/WorkspaceNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExternalFQDNResponse"
              }
            },
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "ListOutboundNetworkDependenciesEndpoints": {
              "$ref": "./examples/ExternalFQDN/get.json"
            }
          }
        }
      }
    },
    "parameters": {
      "WorkspaceNameParameter": {
        "name": "workspaceName",
        "description": "Name of Azure Machine Learning workspace.",
        "in": "path",
        "type": "string",
        "required": true,
        "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$",
        "x-ms-parameter-location": "method"
      },
      "ComputeNameParameter": {
        "name": "computeName",
        "description": "Name of the Azure Machine Learning compute.",
        "in": "path",
        "type": "string",
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "AsyncOperationIdParameter": {
        "name": "asyncOperationId",
        "description": "Identifier of an asynchronous Azure Machine Learning compute operation.",
        "in": "path",
        "type": "string",
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "LocationParameter": {
        "name": "location",
        "description": "The name of the Azure location/region.",
        "in": "path",
        "type": "string",
        "required": true,
        "x-ms-parameter-location": "method"
      },
      "PaginationParameter": {
        "in": "query",
        "name": "$skip",
        "type": "string",
        "description": "Continuation token for pagination.",
        "required": false,
        "x-ms-parameter-location": "method"
      },
      "ComputeDefinitionParameter": {
        "in": "body",
        "name": "parameters",
        "description": "Payload with Machine Learning compute definition.",
        "required": true,
        "schema": {
          "$ref": "#/definitions/ComputeResource"
        },
        "x-ms-parameter-location": "method"
      },
      "ComputeTypeParameter": {
        "in": "query",
        "name": "compute-type",
        "type": "string",
        "description": "Type of compute to filter by.",
        "required": false,
        "x-ms-parameter-location": "method"
      },
      "UnderlyingResourceActionParameter": {
        "in": "query",
        "name": "underlyingResourceAction",
        "type": "string",
        "description": "Delete the underlying compute if 'Delete', or detach the underlying compute from workspace if 'Detach'.",
        "required": true,
        "enum": [
          "Delete",
          "Detach"
        ],
        "x-ms-enum": {
          "name": "UnderlyingResourceAction",
          "modelAsString": true
        },
        "x-ms-parameter-location": "method"
      },
      "PrivateEndpointConnectionName": {
        "name": "privateEndpointConnectionName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the private endpoint connection associated with the workspace",
        "x-ms-parameter-location": "method"
      },
      "ConnectionName": {
        "name": "connectionName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "Friendly name of the workspace connection",
        "x-ms-parameter-location": "method"
      },
      "TargetParameter": {
        "in": "query",
        "name": "target",
        "type": "string",
        "description": "Target of the workspace connection.",
        "required": false,
        "x-ms-parameter-location": "method"
      },
      "CategoryParameter": {
        "in": "query",
        "name": "category",
        "type": "string",
        "description": "Category of the workspace connection.",
        "required": false,
        "x-ms-parameter-location": "method"
      }
    },
    "definitions": {
      "AmlOperation": {
        "description": "Azure Machine Learning workspace REST API operation",
        "type": "object",
        "properties": {
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}",
            "type": "string"
          },
          "display": {
            "description": "Display name of operation",
            "type": "object",
            "properties": {
              "provider": {
                "description": "The resource provider name: Microsoft.MachineLearningExperimentation",
                "type": "string"
              },
              "resource": {
                "description": "The resource on which the operation is performed.",
                "type": "string"
              },
              "operation": {
                "description": "The operation that users can perform.",
                "type": "string"
              },
              "description": {
                "description": "The description for the operation.",
                "type": "string"
              }
            }
          },
          "isDataAction": {
            "description": "Indicates whether the operation applies to data-plane",
            "type": "boolean"
          }
        }
      },
      "AmlOperationListResult": {
        "type": "object",
        "description": "An array of operations supported by the resource provider.",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/AmlOperation"
            },
            "x-ms-identifiers": [
              "name"
            ],
            "description": "List of AML workspace operations supported by the AML workspace resource provider."
          }
        }
      },
      "Workspace": {
        "type": "object",
        "description": "An object that represents a machine learning workspace.",
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
          }
        ],
        "properties": {
          "properties": {
            "$ref": "#/definitions/WorkspaceProperties",
            "description": "The properties of the machine learning workspace.",
            "x-ms-client-flatten": true
          },
          "identity": {
            "$ref": "../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity",
            "description": "The identity of the resource."
          },
          "location": {
            "description": "Specifies the location of the resource.",
            "type": "string"
          },
          "tags": {
            "description": "Contains resource tags defined as key/value pairs.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "sku": {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
            "description": "The sku of the workspace."
          }
        }
      },
      "WorkspaceProperties": {
        "type": "object",
        "description": "The properties of a machine learning workspace.",
        "properties": {
          "workspaceId": {
            "description": "The immutable id associated with this workspace.",
            "type": "string",
            "readOnly": true
          },
          "description": {
            "description": "The description of this workspace.",
            "type": "string"
          },
          "friendlyName": {
            "description": "The friendly name for this workspace. This name in mutable",
            "type": "string"
          },
          "keyVault": {
            "description": "ARM id of the key vault associated with this workspace. This cannot be changed once the workspace has been created",
            "type": "string"
          },
          "applicationInsights": {
            "description": "ARM id of the application insights associated with this workspace.",
            "type": "string"
          },
          "containerRegistry": {
            "description": "ARM id of the container registry associated with this workspace.",
            "type": "string",
            "x-nullable": true
          },
          "storageAccount": {
            "description": "ARM id of the storage account associated with this workspace. This cannot be changed once the workspace has been created",
            "type": "string"
          },
          "discoveryUrl": {
            "description": "Url for the discovery service to identify regional endpoints for machine learning experimentation services",
            "type": "string"
          },
          "provisioningState": {
            "type": "string",
            "enum": [
              "Unknown",
              "Updating",
              "Creating",
              "Deleting",
              "Succeeded",
              "Failed",
              "Canceled"
            ],
            "x-ms-enum": {
              "name": "ProvisioningState",
              "modelAsString": true
            },
            "readOnly": true,
            "description": "The current deployment state of workspace resource. The provisioningState is to indicate states for resource provisioning."
          },
          "encryption": {
            "$ref": "#/definitions/EncryptionProperty",
            "description": "The encryption settings of Azure ML workspace."
          },
          "hbiWorkspace": {
            "type": "boolean",
            "description": "The flag to signal HBI data in the workspace and reduce diagnostic data collected by the service",
            "default": false
          },
          "serviceProvisionedResourceGroup": {
            "type": "string",
            "description": "The name of the managed resource group created by workspace RP in customer subscription if the workspace is CMK workspace",
            "readOnly": true
          },
          "privateLinkCount": {
            "type": "integer",
            "format": "int32",
            "description": "Count of private connections in the workspace",
            "readOnly": true
          },
          "imageBuildCompute": {
            "description": "The compute name for image build",
            "type": "string"
          },
          "allowPublicAccessWhenBehindVnet": {
            "type": "boolean",
            "description": "The flag to indicate whether to allow public access when behind VNet.",
            "default": false
          },
          "publicNetworkAccess": {
            "type": "string",
            "description": "Whether requests from Public Network are allowed.",
            "enum": [
              "Enabled",
              "Disabled"
            ],
            "x-ms-enum": {
              "modelAsString": true,
              "name": "PublicNetworkAccess"
            }
          },
          "privateEndpointConnections": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "x-ms-identifiers": [
              "name"
            ],
            "description": "The list of private endpoint connections in the workspace."
          },
          "sharedPrivateLinkResources": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/SharedPrivateLinkResource"
            },
            "x-ms-identifiers": [
              "name"
            ],
            "description": "The list of shared private link resources in this workspace."
          },
          "notebookInfo": {
            "readOnly": true,
            "$ref": "#/definitions/NotebookResourceInfo",
            "description": "The notebook info of Azure ML workspace."
          },
          "serviceManagedResourcesSettings": {
            "$ref": "#/definitions/ServiceManagedResourcesSettings",
            "description": "The service managed resource settings."
          },
          "primaryUserAssignedIdentity": {
            "description": "The user assigned identity resource id that represents the workspace identity.",
            "type": "string"
          },
          "tenantId": {
            "description": "The tenant id associated with this workspace.",
            "type": "string",
            "readOnly": true
          },
          "storageHnsEnabled": {
            "description": "If the storage associated with the workspace has hierarchical namespace(HNS) enabled.",
            "type": "boolean",
            "readOnly": true
          },
          "mlFlowTrackingUri": {
            "description": "The URI associated with this workspace that machine learning flow must point at to set up tracking.",
            "type": "string",
            "readOnly": true
          },
          "v1LegacyMode": {
            "description": "Enabling v1_legacy_mode may prevent you from using features provided by the v2 API.",
            "default": false,
            "type": "boolean"
          }
        }
      },
      "WorkspaceUpdateParameters": {
        "type": "object",
        "description": "The parameters for updating a machine learning workspace.",
        "properties": {
          "tags": {
            "description": "The resource tags for the machine learning workspace.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "sku": {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
            "description": "The sku of the workspace."
          },
          "identity": {
            "$ref": "../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity",
            "description": "The identity of the resource."
          },
          "properties": {
            "$ref": "#/definitions/WorkspacePropertiesUpdateParameters",
            "description": "The properties that the machine learning workspace will be updated with.",
            "x-ms-client-flatten": true
          }
        }
      },
      "WorkspacePropertiesUpdateParameters": {
        "type": "object",
        "description": "The parameters for updating the properties of a machine learning workspace.",
        "properties": {
          "description": {
            "description": "The description of this workspace.",
            "type": "string"
          },
          "friendlyName": {
            "description": "The friendly name for this workspace.",
            "type": "string"
          },
          "imageBuildCompute": {
            "description": "The compute name for image build",
            "type": "string"
          },
          "serviceManagedResourcesSettings": {
            "$ref": "#/definitions/ServiceManagedResourcesSettings",
            "description": "The service managed resource settings."
          },
          "primaryUserAssignedIdentity": {
            "description": "The user assigned identity resource id that represents the workspace identity.",
            "type": "string"
          },
          "publicNetworkAccess": {
            "type": "string",
            "description": "Whether requests from Public Network are allowed.",
            "enum": [
              "Enabled",
              "Disabled"
            ],
            "x-ms-enum": {
              "modelAsString": true,
              "name": "PublicNetworkAccess"
            }
          },
          "applicationInsights": {
            "description": "ARM id of the application insights associated with this workspace.",
            "type": "string"
          },
          "containerRegistry": {
            "description": "ARM id of the container registry associated with this workspace.",
            "type": "string"
          }
        }
      },
      "UsageName": {
        "type": "object",
        "properties": {
          "value": {
            "readOnly": true,
            "type": "string",
            "description": "The name of the resource."
          },
          "localizedValue": {
            "readOnly": true,
            "type": "string",
            "description": "The localized name of the resource."
          }
        },
        "description": "The Usage Names."
      },
      "Usage": {
        "type": "object",
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "Specifies the resource ID."
          },
          "amlWorkspaceLocation": {
            "readOnly": true,
            "type": "string",
            "description": "Region of the AML workspace in the id."
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "Specifies the resource type."
          },
          "unit": {
            "readOnly": true,
            "type": "string",
            "description": "An enum describing the unit of usage measurement.",
            "enum": [
              "Count"
            ],
            "x-ms-enum": {
              "name": "UsageUnit",
              "modelAsString": true
            }
          },
          "currentValue": {
            "readOnly": true,
            "type": "integer",
            "format": "int64",
            "description": "The current usage of the resource."
          },
          "limit": {
            "readOnly": true,
            "type": "integer",
            "format": "int64",
            "description": "The maximum permitted usage of the resource."
          },
          "name": {
            "readOnly": true,
            "$ref": "#/definitions/UsageName",
            "description": "The name of the type of usage."
          }
        },
        "description": "Describes AML Resource Usage."
      },
      "ListUsagesResult": {
        "type": "object",
        "properties": {
          "value": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/definitions/Usage"
            },
            "description": "The list of AML resource usages."
          },
          "nextLink": {
            "readOnly": true,
            "type": "string",
            "description": "The URI to fetch the next page of AML resource usage information. Call ListNext() with this to fetch the next page of AML resource usage information."
          }
        },
        "description": "The List Usages operation response."
      },
      "VirtualMachineSize": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Virtual Machine size name",
            "description": "The name of the virtual machine size.",
            "readOnly": true
          },
          "family": {
            "type": "string",
            "title": "Virtual Machine family name",
            "description": "The family name of the virtual machine size.",
            "readOnly": true
          },
          "vCPUs": {
            "type": "integer",
            "format": "int32",
            "title": "Number of vPUs",
            "description": "The number of vCPUs supported by the virtual machine size.",
            "readOnly": true
          },
          "gpus": {
            "type": "integer",
            "format": "int32",
            "title": "Number of gPUs",
            "description": "The number of gPUs supported by the virtual machine size.",
            "readOnly": true
          },
          "osVhdSizeMB": {
            "type": "integer",
            "format": "int32",
            "title": "OS VHD Disk size",
            "description": "The OS VHD disk size, in MB, allowed by the virtual machine size.",
            "readOnly": true
          },
          "maxResourceVolumeMB": {
            "type": "integer",
            "format": "int32",
            "title": "Resource volume size",
            "description": "The resource volume size, in MB, allowed by the virtual machine size.",
            "readOnly": true
          },
          "memoryGB": {
            "type": "number",
            "format": "double",
            "title": "Memory size",
            "description": "The amount of memory, in GB, supported by the virtual machine size.",
            "readOnly": true
          },
          "lowPriorityCapable": {
            "type": "boolean",
            "title": "Low priority capable",
            "description": "Specifies if the virtual machine size supports low priority VMs.",
            "readOnly": true
          },
          "premiumIO": {
            "type": "boolean",
            "title": "Premium IO supported",
            "description": "Specifies if the virtual machine size supports premium IO.",
            "readOnly": true
          },
          "estimatedVMPrices": {
            "title": "Estimated VM prices",
            "description": "The estimated price information for using a VM.",
            "$ref": "#/definitions/EstimatedVMPrices"
          },
          "supportedComputeTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "title": "Supported Compute Types",
            "description": "Specifies the compute types supported by the virtual machine size."
          }
        },
        "description": "Describes the properties of a VM size."
      },
      "EstimatedVMPrices": {
        "type": "object",
        "properties": {
          "billingCurrency": {
            "type": "string",
            "title": "Billing currency",
            "description": "Three lettered code specifying the currency of the VM price. Example: USD",
            "enum": [
              "USD"
            ],
            "x-ms-enum": {
              "name": "BillingCurrency",
              "modelAsString": true
            }
          },
          "unitOfMeasure": {
            "type": "string",
            "title": "Unit of time measure",
            "description": "The unit of time measurement for the specified VM price. Example: OneHour",
            "enum": [
              "OneHour"
            ],
            "x-ms-enum": {
              "name": "UnitOfMeasure",
              "modelAsString": true
            }
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/EstimatedVMPrice"
            },
            "x-ms-identifiers": [],
            "title": "List of estimated VM prices.",
            "description": "The list of estimated prices for using a VM of a particular OS type, tier, etc."
          }
        },
        "required": [
          "billingCurrency",
          "unitOfMeasure",
          "values"
        ],
        "description": "The estimated price info for using a VM."
      },
      "EstimatedVMPrice": {
        "type": "object",
        "properties": {
          "retailPrice": {
            "type": "number",
            "format": "double",
            "title": "Retail price",
            "description": "The price charged for using the VM."
          },
          "osType": {
            "type": "string",
            "title": "OS type",
            "description": "Operating system type used by the VM.",
            "enum": [
              "Linux",
              "Windows"
            ],
            "x-ms-enum": {
              "name": "VMPriceOSType",
              "modelAsString": true
            }
          },
          "vmTier": {
            "type": "string",
            "title": "VM tier",
            "description": "The type of the VM.",
            "enum": [
              "Standard",
              "LowPriority",
              "Spot"
            ],
            "x-ms-enum": {
              "name": "VMTier",
              "modelAsString": true
            }
          }
        },
        "required": [
          "retailPrice",
          "osType",
          "vmTier"
        ],
        "description": "The estimated price info for using a VM of a particular OS type, tier, etc."
      },
      "VirtualMachineSizeListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/VirtualMachineSize"
            },
            "x-ms-identifiers": [
              "name"
            ],
            "description": "The list of virtual machine sizes supported by AmlCompute."
          }
        },
        "description": "The List Virtual Machine size operation response."
      },
      "WorkspaceListResult": {
        "type": "object",
        "description": "The result of a request to list machine learning workspaces.",
        "properties": {
          "value": {
            "description": "The list of machine learning workspaces. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning workspaces.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "nextLink": {
            "description": "The URI that can be used to request the next list of machine learning workspaces.",
            "type": "string"
          }
        }
      },
      "QuotaBaseProperties": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Specifies the resource ID."
          },
          "type": {
            "type": "string",
            "description": "Specifies the resource type."
          },
          "limit": {
            "type": "integer",
            "format": "int64",
            "title": "Limit.",
            "description": "The maximum permitted quota of the resource."
          },
          "unit": {
            "type": "string",
            "description": "An enum describing the unit of quota measurement.",
            "enum": [
              "Count"
            ],
            "x-ms-enum": {
              "name": "QuotaUnit",
              "modelAsString": true
            }
          }
        },
        "description": "The properties for Quota update or retrieval."
      },
      "QuotaUpdateParameters": {
        "type": "object",
        "properties": {
          "value": {
            "description": "The list for update quota.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/QuotaBaseProperties"
            }
          },
          "location": {
            "description": "Region of workspace quota to be updated.",
            "type": "string"
          }
        },
        "description": "Quota update parameters."
      },
      "DiagnoseRequestProperties": {
        "type": "object",
        "properties": {
          "udr": {
            "description": "Setting for diagnosing user defined routing",
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "nsg": {
            "description": "Setting for diagnosing network security group",
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "resourceLock": {
            "description": "Setting for diagnosing resource lock",
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "dnsResolution": {
            "description": "Setting for diagnosing dns resolution",
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "storageAccount": {
            "description": "Setting for diagnosing dependent storage account",
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "keyVault": {
            "description": "Setting for diagnosing dependent key vault",
            "type": "object",
[...]
