{
    "swagger": "2.0",
    "info": {
      "title": "Azure Machine Learning Services",
      "version": "2023-04-01"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/codes": {
        "get": {
          "tags": [
            "CodeContainer"
          ],
          "summary": "List containers.",
          "operationId": "RegistryCodeContainers_List",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "machineLearningServices.json#/parameters/PaginationParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/CodeContainerResourceArmPaginatedResult"
              }
            }
          },
          "x-ms-examples": {
            "List Registry Code Container.": {
              "$ref": "./examples/Registry/CodeContainer/list.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/codes/{codeName}": {
        "delete": {
          "tags": [
            "CodeContainer"
          ],
          "summary": "Delete Code container.",
          "operationId": "RegistryCodeContainers_Delete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "codeName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "202": {
              "description": "Accepted",
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Location": {
                  "description": "URI to poll for asynchronous operation result.",
                  "type": "string"
                },
                "Retry-After": {
                  "description": "Duration the client should wait between requests, in seconds.",
                  "type": "integer",
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 10
                }
              }
            },
            "200": {
              "description": "Success"
            },
            "204": {
              "description": "No Content"
            }
          },
          "x-ms-examples": {
            "Delete Registry Code Container.": {
              "$ref": "./examples/Registry/CodeContainer/delete.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "location"
          }
        },
        "get": {
          "tags": [
            "CodeContainer"
          ],
          "summary": "Get Code container.",
          "operationId": "RegistryCodeContainers_Get",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "codeName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/CodeContainerResource"
              }
            }
          },
          "x-ms-examples": {
            "Get Registry Code Container.": {
              "$ref": "./examples/Registry/CodeContainer/get.json"
            }
          }
        },
        "put": {
          "tags": [
            "CodeContainer"
          ],
          "summary": "Create or update Code container.",
          "operationId": "RegistryCodeContainers_CreateOrUpdate",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "codeName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Container entity to create or update.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CodeContainerResource"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/CodeContainerResource"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/CodeContainerResource"
              },
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Azure-AsyncOperation": {
                  "description": "URI to poll for asynchronous operation status.",
                  "type": "string"
                }
              }
            }
          },
          "x-ms-examples": {
            "CreateOrUpdate Registry Code Container.": {
              "$ref": "./examples/Registry/CodeContainer/createOrUpdate.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "original-uri"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/codes/{codeName}/versions": {
        "get": {
          "tags": [
            "CodeVersion"
          ],
          "summary": "List versions.",
          "operationId": "RegistryCodeVersions_List",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "codeName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "query",
              "name": "$orderBy",
              "description": "Ordering of list.",
              "type": "string"
            },
            {
              "in": "query",
              "name": "$top",
              "description": "Maximum number of records to return.",
              "type": "integer",
              "format": "int32"
            },
            {
              "$ref": "machineLearningServices.json#/parameters/PaginationParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/CodeVersionResourceArmPaginatedResult"
              }
            }
          },
          "x-ms-examples": {
            "List Registry Code Version.": {
              "$ref": "./examples/Registry/CodeVersion/list.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/codes/{codeName}/versions/{version}": {
        "delete": {
          "tags": [
            "CodeVersion"
          ],
          "summary": "Delete version.",
          "operationId": "RegistryCodeVersions_Delete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "codeName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "202": {
              "description": "Accepted",
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Location": {
                  "description": "URI to poll for asynchronous operation result.",
                  "type": "string"
                },
                "Retry-After": {
                  "description": "Duration the client should wait between requests, in seconds.",
                  "type": "integer",
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 10
                }
              }
            },
            "200": {
              "description": "Success"
            },
            "204": {
              "description": "No Content"
            }
          },
          "x-ms-examples": {
            "Delete Registry Code Version.": {
              "$ref": "./examples/Registry/CodeVersion/delete.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "location"
          }
        },
        "get": {
          "tags": [
            "CodeVersion"
          ],
          "summary": "Get version.",
          "operationId": "RegistryCodeVersions_Get",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "codeName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/CodeVersionResource"
              }
            }
          },
          "x-ms-examples": {
            "Get Registry Code Version.": {
              "$ref": "./examples/Registry/CodeVersion/get.json"
            }
          }
        },
        "put": {
          "tags": [
            "CodeVersion"
          ],
          "summary": "Create or update version.",
          "operationId": "RegistryCodeVersions_CreateOrUpdate",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "codeName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Version entity to create or update.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CodeVersionResource"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/CodeVersionResource"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/CodeVersionResource"
              },
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Azure-AsyncOperation": {
                  "description": "URI to poll for asynchronous operation status.",
                  "type": "string"
                }
              }
            }
          },
          "x-ms-examples": {
            "CreateOrUpdate Registry Code Version.": {
              "$ref": "./examples/Registry/CodeVersion/createOrUpdate.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "original-uri"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/codes/{codeName}/versions/{version}/startPendingUpload": {
        "post": {
          "tags": [
            "CodeVersion"
          ],
          "summary": "Generate a storage location and credential for the client to upload a code asset to.",
          "operationId": "RegistryCodeVersions_CreateOrGetStartPendingUpload",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "codeName",
              "description": "Pending upload name. This is case-sensitive.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier. This is case-sensitive.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Pending upload request object",
              "required": true,
              "schema": {
                "$ref": "#/definitions/PendingUploadRequestDto"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/PendingUploadResponseDto"
              }
            }
          },
          "x-ms-examples": {
            "CreateOrGetStartPendingUpload Registry Code Version.": {
              "$ref": "./examples/Registry/CodeVersion/createOrGetStartPendingUpload.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/components": {
        "get": {
          "tags": [
            "ComponentContainer"
          ],
          "summary": "List containers.",
          "operationId": "RegistryComponentContainers_List",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "machineLearningServices.json#/parameters/PaginationParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ComponentContainerResourceArmPaginatedResult"
              }
            }
          },
          "x-ms-examples": {
            "List Registry Component Container.": {
              "$ref": "./examples/Registry/ComponentContainer/list.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/components/{componentName}": {
        "delete": {
          "tags": [
            "ComponentContainer"
          ],
          "summary": "Delete container.",
          "operationId": "RegistryComponentContainers_Delete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "componentName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "202": {
              "description": "Accepted",
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Location": {
                  "description": "URI to poll for asynchronous operation result.",
                  "type": "string"
                },
                "Retry-After": {
                  "description": "Duration the client should wait between requests, in seconds.",
                  "type": "integer",
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 10
                }
              }
            },
            "200": {
              "description": "Success"
            },
            "204": {
              "description": "No Content"
            }
          },
          "x-ms-examples": {
            "Delete Registry Component Container.": {
              "$ref": "./examples/Registry/ComponentContainer/delete.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "location"
          }
        },
        "get": {
          "tags": [
            "ComponentContainer"
          ],
          "summary": "Get container.",
          "operationId": "RegistryComponentContainers_Get",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "componentName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ComponentContainerResource"
              }
            }
          },
          "x-ms-examples": {
            "Get Registry Component Container.": {
              "$ref": "./examples/Registry/ComponentContainer/get.json"
            }
          }
        },
        "put": {
          "tags": [
            "ComponentContainer"
          ],
          "summary": "Create or update container.",
          "operationId": "RegistryComponentContainers_CreateOrUpdate",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "componentName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Container entity to create or update.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ComponentContainerResource"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ComponentContainerResource"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/ComponentContainerResource"
              },
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Azure-AsyncOperation": {
                  "description": "URI to poll for asynchronous operation status.",
                  "type": "string"
                }
              }
            }
          },
          "x-ms-examples": {
            "CreateOrUpdate Registry Component Container.": {
              "$ref": "./examples/Registry/ComponentContainer/createOrUpdate.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "original-uri"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/components/{componentName}/versions": {
        "get": {
          "tags": [
            "ComponentVersion"
          ],
          "summary": "List versions.",
          "operationId": "RegistryComponentVersions_List",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "componentName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "query",
              "name": "$orderBy",
              "description": "Ordering of list.",
              "type": "string"
            },
            {
              "in": "query",
              "name": "$top",
              "description": "Maximum number of records to return.",
              "type": "integer",
              "format": "int32"
            },
            {
              "$ref": "machineLearningServices.json#/parameters/PaginationParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ComponentVersionResourceArmPaginatedResult"
              }
            }
          },
          "x-ms-examples": {
            "List Registry Component Version.": {
              "$ref": "./examples/Registry/ComponentVersion/list.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/components/{componentName}/versions/{version}": {
        "delete": {
          "tags": [
            "ComponentVersion"
          ],
          "summary": "Delete version.",
          "operationId": "RegistryComponentVersions_Delete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "componentName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "202": {
              "description": "Accepted",
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Location": {
                  "description": "URI to poll for asynchronous operation result.",
                  "type": "string"
                },
                "Retry-After": {
                  "description": "Duration the client should wait between requests, in seconds.",
                  "type": "integer",
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 10
                }
              }
            },
            "200": {
              "description": "Success"
            },
            "204": {
              "description": "No Content"
            }
          },
          "x-ms-examples": {
            "Delete Registry Component Version.": {
              "$ref": "./examples/Registry/ComponentVersion/delete.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "location"
          }
        },
        "get": {
          "tags": [
            "ComponentVersion"
          ],
          "summary": "Get version.",
          "operationId": "RegistryComponentVersions_Get",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "componentName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ComponentVersionResource"
              }
            }
          },
          "x-ms-examples": {
            "Get Registry Component Version.": {
              "$ref": "./examples/Registry/ComponentVersion/get.json"
            }
          }
        },
        "put": {
          "tags": [
            "ComponentVersion"
          ],
          "summary": "Create or update version.",
          "operationId": "RegistryComponentVersions_CreateOrUpdate",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "componentName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Version entity to create or update.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ComponentVersionResource"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ComponentVersionResource"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/ComponentVersionResource"
              },
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Azure-AsyncOperation": {
                  "description": "URI to poll for asynchronous operation status.",
                  "type": "string"
                }
              }
            }
          },
          "x-ms-examples": {
            "CreateOrUpdate Registry Component Version.": {
              "$ref": "./examples/Registry/ComponentVersion/createOrUpdate.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "original-uri"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/data": {
        "get": {
          "tags": [
            "DataContainerRegistry"
          ],
          "summary": "List Data containers.",
          "operationId": "RegistryDataContainers_List",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "machineLearningServices.json#/parameters/PaginationParameter"
            },
            {
              "in": "query",
              "name": "listViewType",
              "description": "View type for including/excluding (for example) archived entities.",
              "type": "string",
              "default": "ActiveOnly",
              "enum": [
                "ActiveOnly",
                "ArchivedOnly",
                "All"
              ],
              "x-ms-enum": {
                "name": "ListViewType",
                "modelAsString": true,
                "values": [
                  {
                    "value": "ActiveOnly"
                  },
                  {
                    "value": "ArchivedOnly"
                  },
                  {
                    "value": "All"
                  }
                ]
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DataContainerResourceArmPaginatedResult"
              }
            }
          },
          "x-ms-examples": {
            "RegistryList Registry Data Container.": {
              "$ref": "./examples/Registry/DataContainer/registryList.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/data/{name}": {
        "delete": {
          "tags": [
            "DataContainerRegistry"
          ],
          "summary": "Delete container.",
          "operationId": "RegistryDataContainers_Delete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "name",
              "description": "Container name.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "202": {
              "description": "Accepted",
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Location": {
                  "description": "URI to poll for asynchronous operation result.",
                  "type": "string"
                },
                "Retry-After": {
                  "description": "Duration the client should wait between requests, in seconds.",
                  "type": "integer",
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 10
                }
              }
            },
            "200": {
              "description": "Success"
            },
            "204": {
              "description": "No Content"
            }
          },
          "x-ms-examples": {
            "Delete Registry Data Container.": {
              "$ref": "./examples/Registry/DataContainer/delete.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "location"
          }
        },
        "get": {
          "tags": [
            "DataContainerRegistry"
          ],
          "summary": "Get container.",
          "operationId": "RegistryDataContainers_Get",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "name",
              "description": "Container name.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DataContainerResource"
              }
            }
          },
          "x-ms-examples": {
            "Get Registry Data Container.": {
              "$ref": "./examples/Registry/DataContainer/get.json"
            }
          }
        },
        "put": {
          "tags": [
            "DataContainerRegistry"
          ],
          "summary": "Create or update container.",
          "operationId": "RegistryDataContainers_CreateOrUpdate",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "name",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Container entity to create or update.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/DataContainerResource"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DataContainerResource"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/DataContainerResource"
              },
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Azure-AsyncOperation": {
                  "description": "URI to poll for asynchronous operation status.",
                  "type": "string"
                }
              }
            }
          },
          "x-ms-examples": {
            "CreateOrUpdate Registry Data Container.": {
              "$ref": "./examples/Registry/DataContainer/createOrUpdate.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "original-uri"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/data/{name}/versions": {
        "get": {
          "tags": [
            "DataVersionRegistry"
          ],
          "summary": "List data versions in the data container",
          "operationId": "RegistryDataVersions_List",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "name",
              "description": "Data container's name",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "query",
              "name": "$orderBy",
              "description": "Please choose OrderBy value from ['createdtime', 'modifiedtime']",
              "type": "string"
            },
            {
              "in": "query",
              "name": "$top",
              "description": "Top count of results, top count cannot be greater than the page size.\r\n                              If topCount > page size, results with be default page size count will be returned",
              "type": "integer",
              "format": "int32"
            },
            {
              "$ref": "machineLearningServices.json#/parameters/PaginationParameter"
            },
            {
              "in": "query",
              "name": "$tags",
              "description": "Comma-separated list of tag names (and optionally values). Example: tag1,tag2=value2",
              "type": "string"
            },
            {
              "in": "query",
              "name": "listViewType",
              "description": "[ListViewType.ActiveOnly, ListViewType.ArchivedOnly, ListViewType.All]View type for including/excluding (for example) archived entities.",
              "type": "string",
              "default": "ActiveOnly",
              "enum": [
                "ActiveOnly",
                "ArchivedOnly",
                "All"
              ],
              "x-ms-enum": {
                "name": "ListViewType",
                "modelAsString": true,
                "values": [
                  {
                    "value": "ActiveOnly"
                  },
                  {
                    "value": "ArchivedOnly"
                  },
                  {
                    "value": "All"
                  }
                ]
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DataVersionBaseResourceArmPaginatedResult"
              }
            }
          },
          "x-ms-examples": {
            "RegistryList Registry Data Version Base.": {
              "$ref": "./examples/Registry/DataVersionBase/registryList.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/data/{name}/versions/{version}": {
        "delete": {
          "tags": [
            "DataVersionRegistry"
          ],
          "summary": "Delete version.",
          "operationId": "RegistryDataVersions_Delete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "name",
              "description": "Container name.",
              "required": true,
              "type": "string"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "202": {
              "description": "Accepted",
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Location": {
                  "description": "URI to poll for asynchronous operation result.",
                  "type": "string"
                },
                "Retry-After": {
                  "description": "Duration the client should wait between requests, in seconds.",
                  "type": "integer",
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 10
                }
              }
            },
            "200": {
              "description": "Success"
            },
            "204": {
              "description": "No Content"
            }
          },
          "x-ms-examples": {
            "Delete Registry Data Version Base.": {
              "$ref": "./examples/Registry/DataVersionBase/delete.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "location"
          }
        },
        "get": {
          "tags": [
            "DataVersionRegistry"
          ],
          "summary": "Get version.",
          "operationId": "RegistryDataVersions_Get",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "name",
              "description": "Container name.",
              "required": true,
              "type": "string"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DataVersionBaseResource"
              }
            }
          },
          "x-ms-examples": {
            "Get Registry Data Version Base.": {
              "$ref": "./examples/Registry/DataVersionBase/get.json"
            }
          }
        },
        "put": {
          "tags": [
            "DataVersionRegistry"
          ],
          "summary": "Create or update version.",
          "operationId": "RegistryDataVersions_CreateOrUpdate",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "name",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Version entity to create or update.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/DataVersionBaseResource"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DataVersionBaseResource"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/DataVersionBaseResource"
              },
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Azure-AsyncOperation": {
                  "description": "URI to poll for asynchronous operation status.",
                  "type": "string"
                }
              }
            }
          },
          "x-ms-examples": {
            "CreateOrUpdate Registry Data Version Base.": {
              "$ref": "./examples/Registry/DataVersionBase/createOrUpdate.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "original-uri"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/data/{name}/versions/{version}/startPendingUpload": {
        "post": {
          "tags": [
            "DataVersionRegistry"
          ],
          "summary": "Generate a storage location and credential for the client to upload a data asset to.",
          "operationId": "RegistryDataVersions_CreateOrGetStartPendingUpload",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "name",
              "description": "Data asset name. This is case-sensitive.",
              "required": true,
              "type": "string"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier. This is case-sensitive.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Pending upload request object",
              "required": true,
              "schema": {
                "$ref": "#/definitions/PendingUploadRequestDto"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/PendingUploadResponseDto"
              }
            }
          },
          "x-ms-examples": {
            "CreateOrGetStartPendingUpload Registry Data Version Base.": {
              "$ref": "./examples/Registry/DataVersionBase/createOrGetStartPendingUpload.json"
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/environments": {
        "get": {
          "tags": [
            "EnvironmentContainer"
          ],
          "summary": "List environment containers.",
          "operationId": "RegistryEnvironmentContainers_List",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "machineLearningServices.json#/parameters/PaginationParameter"
            },
            {
              "in": "query",
              "name": "listViewType",
              "description": "View type for including/excluding (for example) archived entities.",
              "type": "string",
              "default": "ActiveOnly",
              "enum": [
                "ActiveOnly",
                "ArchivedOnly",
                "All"
              ],
              "x-ms-enum": {
                "name": "ListViewType",
                "modelAsString": true,
                "values": [
                  {
                    "value": "ActiveOnly"
                  },
                  {
                    "value": "ArchivedOnly"
                  },
                  {
                    "value": "All"
                  }
                ]
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/EnvironmentContainerResourceArmPaginatedResult"
              }
            }
          },
          "x-ms-examples": {
            "List Registry Environment Container.": {
              "$ref": "./examples/Registry/EnvironmentContainer/list.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/environments/{environmentName}": {
        "delete": {
          "tags": [
            "EnvironmentContainer"
          ],
          "summary": "Delete container.",
          "operationId": "RegistryEnvironmentContainers_Delete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "environmentName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "202": {
              "description": "Accepted",
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Location": {
                  "description": "URI to poll for asynchronous operation result.",
                  "type": "string"
                },
                "Retry-After": {
                  "description": "Duration the client should wait between requests, in seconds.",
                  "type": "integer",
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 10
                }
              }
            },
            "200": {
              "description": "Success"
            },
            "204": {
              "description": "No Content"
            }
          },
          "x-ms-examples": {
            "Delete Registry Environment Container.": {
              "$ref": "./examples/Registry/EnvironmentContainer/delete.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "location"
          }
        },
        "get": {
          "tags": [
            "EnvironmentContainer"
          ],
          "summary": "Get container.",
          "operationId": "RegistryEnvironmentContainers_Get",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "environmentName",
              "description": "Container name. This is case-sensitive.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/EnvironmentContainerResource"
              }
            }
          },
          "x-ms-examples": {
            "Get Registry Environment Container.": {
              "$ref": "./examples/Registry/EnvironmentContainer/get.json"
            }
          }
        },
        "put": {
          "tags": [
            "EnvironmentContainer"
          ],
          "summary": "Create or update container.",
          "operationId": "RegistryEnvironmentContainers_CreateOrUpdate",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "environmentName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Container entity to create or update.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/EnvironmentContainerResource"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/EnvironmentContainerResource"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/EnvironmentContainerResource"
              },
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Azure-AsyncOperation": {
                  "description": "URI to poll for asynchronous operation status.",
                  "type": "string"
                }
              }
            }
          },
          "x-ms-examples": {
            "CreateOrUpdate Registry Environment Container.": {
              "$ref": "./examples/Registry/EnvironmentContainer/createOrUpdate.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "original-uri"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/environments/{environmentName}/versions": {
        "get": {
          "tags": [
            "EnvironmentVersion"
          ],
          "summary": "List versions.",
          "operationId": "RegistryEnvironmentVersions_List",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "environmentName",
              "description": "Container name. This is case-sensitive.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "query",
              "name": "$orderBy",
              "description": "Ordering of list.",
              "type": "string"
            },
            {
              "in": "query",
              "name": "$top",
              "description": "Maximum number of records to return.",
              "type": "integer",
              "format": "int32"
            },
            {
              "$ref": "machineLearningServices.json#/parameters/PaginationParameter"
            },
            {
              "in": "query",
              "name": "listViewType",
              "description": "View type for including/excluding (for example) archived entities.",
              "type": "string",
              "default": "ActiveOnly",
              "enum": [
                "ActiveOnly",
                "ArchivedOnly",
                "All"
              ],
              "x-ms-enum": {
                "name": "ListViewType",
                "modelAsString": true,
                "values": [
                  {
                    "value": "ActiveOnly"
                  },
                  {
                    "value": "ArchivedOnly"
                  },
                  {
                    "value": "All"
                  }
                ]
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/EnvironmentVersionResourceArmPaginatedResult"
              }
            }
          },
          "x-ms-examples": {
            "List Registry Environment Version.": {
              "$ref": "./examples/Registry/EnvironmentVersion/list.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/environments/{environmentName}/versions/{version}": {
        "delete": {
          "tags": [
            "EnvironmentVersion"
          ],
          "summary": "Delete version.",
          "operationId": "RegistryEnvironmentVersions_Delete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "environmentName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "202": {
              "description": "Accepted",
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Location": {
                  "description": "URI to poll for asynchronous operation result.",
                  "type": "string"
                },
                "Retry-After": {
                  "description": "Duration the client should wait between requests, in seconds.",
                  "type": "integer",
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 10
                }
              }
            },
            "200": {
              "description": "Success"
            },
            "204": {
              "description": "No Content"
            }
          },
          "x-ms-examples": {
            "Delete Registry Environment Version.": {
              "$ref": "./examples/Registry/EnvironmentVersion/delete.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "location"
          }
        },
        "get": {
          "tags": [
            "EnvironmentVersion"
          ],
          "summary": "Get version.",
          "operationId": "RegistryEnvironmentVersions_Get",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "environmentName",
              "description": "Container name. This is case-sensitive.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier. This is case-sensitive.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/EnvironmentVersionResource"
              }
            }
          },
          "x-ms-examples": {
            "Get Registry Environment Version.": {
              "$ref": "./examples/Registry/EnvironmentVersion/get.json"
            }
          }
        },
        "put": {
          "tags": [
            "EnvironmentVersion"
          ],
          "summary": "Create or update version.",
          "operationId": "RegistryEnvironmentVersions_CreateOrUpdate",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "environmentName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "in": "path",
              "name": "version",
              "description": "Version identifier.",
              "required": true,
              "type": "string"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Version entity to create or update.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/EnvironmentVersionResource"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/EnvironmentVersionResource"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/EnvironmentVersionResource"
              },
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Azure-AsyncOperation": {
                  "description": "URI to poll for asynchronous operation status.",
                  "type": "string"
                }
              }
            }
          },
          "x-ms-examples": {
            "CreateOrUpdate Registry Environment Version.": {
              "$ref": "./examples/Registry/EnvironmentVersion/createOrUpdate.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "original-uri"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/models": {
        "get": {
          "tags": [
            "ModelContainer"
          ],
          "summary": "List model containers.",
          "operationId": "RegistryModelContainers_List",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "machineLearningServices.json#/parameters/PaginationParameter"
            },
            {
              "in": "query",
              "name": "listViewType",
              "description": "View type for including/excluding (for example) archived entities.",
              "type": "string",
              "default": "ActiveOnly",
              "enum": [
                "ActiveOnly",
                "ArchivedOnly",
                "All"
              ],
              "x-ms-enum": {
                "name": "ListViewType",
                "modelAsString": true,
                "values": [
                  {
                    "value": "ActiveOnly"
                  },
                  {
                    "value": "ArchivedOnly"
                  },
                  {
                    "value": "All"
                  }
                ]
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ModelContainerResourceArmPaginatedResult"
              }
            }
          },
          "x-ms-examples": {
            "List Registry Model Container.": {
              "$ref": "./examples/Registry/ModelContainer/list.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/registries/{registryName}/models/{modelName}": {
        "delete": {
          "tags": [
            "ModelContainer"
          ],
          "summary": "Delete container.",
          "operationId": "RegistryModelContainers_Delete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "modelName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "202": {
              "description": "Accepted",
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Location": {
                  "description": "URI to poll for asynchronous operation result.",
                  "type": "string"
                },
                "Retry-After": {
                  "description": "Duration the client should wait between requests, in seconds.",
                  "type": "integer",
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 10
                }
              }
            },
            "200": {
              "description": "Success"
            },
            "204": {
              "description": "No Content"
            }
          },
          "x-ms-examples": {
            "Delete Registry Model Container.": {
              "$ref": "./examples/Registry/ModelContainer/delete.json"
            }
          },
          "x-ms-long-running-operation": true,
          "x-ms-long-running-operation-options": {
            "final-state-via": "location"
          }
        },
        "get": {
          "tags": [
            "ModelContainer"
          ],
          "summary": "Get container.",
          "operationId": "RegistryModelContainers_Get",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "modelName",
              "description": "Container name. This is case-sensitive.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ModelContainerResource"
              }
            }
          },
          "x-ms-examples": {
            "Get Registry Model Container.": {
              "$ref": "./examples/Registry/ModelContainer/get.json"
            }
          }
        },
        "put": {
          "tags": [
            "ModelContainer"
          ],
          "summary": "Create or update model container.",
          "operationId": "RegistryModelContainers_CreateOrUpdate",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "registries.json#/parameters/RegistryNameParameter"
            },
            {
              "in": "path",
              "name": "modelName",
              "description": "Container name.",
              "required": true,
              "type": "string",
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Container entity to create or update.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ModelContainerResource"
              }
            }
          ],
          "responses": {
            "default": {
              "description": "Error",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
              }
            },
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ModelContainerResource"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/ModelContainerResource"
              },
              "headers": {
                "x-ms-async-operation-timeout": {
                  "description": "Timeout for the client to use when polling the asynchronous operation.",
                  "type": "string",
                  "format": "duration"
                },
                "Azure-AsyncOperation": {
                  "description": "URI to poll for asynchronous operation status.",
                  "type": "string"
                }
              }
            }
          },
          "x-ms-examples": {
[...]
