interactions:
- request:
    body: '{"id": "batch_paas_f0de0ddf", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "5"}, "startTask": {"commandLine": "cmd.exe /c \"echo hello world\"",
      "resourceFiles": [{"blobSource": "https://blobsource.com", "filePath": "filename.txt"}],
      "environmentSettings": [{"name": "ENV_VAR", "value": "env_value"}], "userIdentity":
      {"autoUser": {"elevationLevel": "admin"}}}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 07 Nov 2017 18:28:03 GMT']
    method: POST
    uri: https://batchf0de0ddf.japanwest.batch.azure.com/pools?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchf0de0ddf.japanwest.batch.azure.com/pools/batch_paas_f0de0ddf']
      dataserviceversion: ['3.0']
      etag: ['0x8D5260D49018880']
      last-modified: ['Tue, 07 Nov 2017 18:28:04 GMT']
      location: ['https://batchf0de0ddf.japanwest.batch.azure.com/pools/batch_paas_f0de0ddf']
    status: {code: 201, message: Created}
- request:
    body: '{"targetOSVersion": "*"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 07 Nov 2017 18:28:04 GMT']
    method: POST
    uri: https://batchf0de0ddf.japanwest.batch.azure.com/pools/batch_paas_f0de0ddf/upgradeos?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchf0de0ddf.japanwest.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"PoolVersionEqualsUpgradeVersion\",\"message\":{\r\n    \"lang\"\
        :\"en-US\",\"value\":\"The pool is already with the given version.\\nRequestId:165d9557-9ddd-4a4e-ad4f-989b58b8599f\\\
        nTime:2017-11-07T18:28:05.0283363Z\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 400, message: The pool is already with the given version.}
- request:
    body: '{"certificateReferences": [], "applicationPackageReferences": [], "metadata":
      [{"name": "foo", "value": "bar"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 07 Nov 2017 18:28:04 GMT']
    method: POST
    uri: https://batchf0de0ddf.japanwest.batch.azure.com/pools/batch_paas_f0de0ddf/updateproperties?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchf0de0ddf.japanwest.batch.azure.com/pools/batch_paas_f0de0ddf/updateproperties']
      dataserviceversion: ['3.0']
      etag: ['0x8D5260D49C283F9']
      last-modified: ['Tue, 07 Nov 2017 18:28:05 GMT']
    status: {code: 204, message: No Content}
- request:
    body: '{"metadata": [{"name": "foo2", "value": "bar2"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 07 Nov 2017 18:28:05 GMT']
    method: PATCH
    uri: https://batchf0de0ddf.japanwest.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchf0de0ddf.japanwest.batch.azure.com/pools/batch_paas_f0de0ddf']
      dataserviceversion: ['3.0']
      etag: ['0x8D5260D4A1D1A75']
      last-modified: ['Tue, 07 Nov 2017 18:28:06 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 07 Nov 2017 18:28:06 GMT']
    method: GET
    uri: https://batchf0de0ddf.japanwest.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchf0de0ddf.japanwest.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"batch_paas_f0de0ddf\",\"url\":\"https://batchf0de0ddf.japanwest.batch.azure.com/pools/batch_paas_f0de0ddf\"\
        ,\"eTag\":\"0x8D5260D4A1D1A75\",\"lastModified\":\"2017-11-07T18:28:06.2644853Z\"\
        ,\"creationTime\":\"2017-11-07T18:28:04.40608Z\",\"state\":\"active\",\"stateTransitionTime\"\
        :\"2017-11-07T18:28:04.40608Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\"\
        :\"2017-11-07T18:28:04.5300886Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"\
        PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\"\
        :0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"metadata\":[\r\n    {\r\n      \"name\":\"foo2\",\"value\":\"bar2\"\
        \r\n    }\r\n  ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"\
        nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"\
        osFamily\":\"5\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n\
        \  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D5260D4A1D1A75']
      last-modified: ['Tue, 07 Nov 2017 18:28:06 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 07 Nov 2017 18:28:07 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://batchf0de0ddf.japanwest.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2017-09-01.6.0&$select=id%2Cstate&$expand=stats&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchf0de0ddf.japanwest.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"batch_paas_f0de0ddf\",\"state\":\"active\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D5260D4A1D1A75']
      last-modified: ['Tue, 07 Nov 2017 18:28:06 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 07 Nov 2017 18:28:08 GMT']
    method: DELETE
    uri: https://batchf0de0ddf.japanwest.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
version: 1
