interactions:
- request:
    body: '{"autoScaleEvaluationInterval": "PT6M", "autoScaleFormula": "$TargetDedicatedNodes=2"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 24 Aug 2018 20:44:42 GMT']
    method: POST
    uri: https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/enableautoscale?api-version=2018-08-01.7.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/enableautoscale']
      dataserviceversion: ['3.0']
      etag: ['0x8D60A026BD62AAD']
      last-modified: ['Fri, 24 Aug 2018 20:44:43 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 24 Aug 2018 20:44:43 GMT']
    method: POST
    uri: https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/evaluateautoscale?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batche2690d64.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\",\"timestamp\":\"2018-08-24T20:44:44.2335554Z\",\"results\":\"$TargetDedicatedNodes=3;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceid: ['https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/evaluateautoscale']
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 24 Aug 2018 20:44:44 GMT']
    method: POST
    uri: https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/disableautoscale?api-version=2018-08-01.7.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/disableautoscale']
      dataserviceversion: ['3.0']
      etag: ['0x8D60A026CCB4EB3']
      last-modified: ['Fri, 24 Aug 2018 20:44:45 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 24 Aug 2018 20:44:45 GMT']
    method: GET
    uri: https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batche2690d64.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"test_batch_test_batch_scale_poolse2690d64\",\"url\":\"https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64\",\"eTag\":\"0x8D60A026CCB4EB3\",\"lastModified\":\"2018-08-24T20:44:45.0979507Z\",\"creationTime\":\"2018-08-24T20:44:42.4496124Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-08-24T20:44:42.4496124Z\",\"allocationState\":\"stopping\",\"allocationStateTransitionTime\":\"2018-08-24T20:44:45.0979507Z\",\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":2,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n
        \   {\r\n      \"name\":\"task-user\",\"elevationLevel\":\"admin\"\r\n    }\r\n
        \ ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D60A026CCB4EB3']
      last-modified: ['Fri, 24 Aug 2018 20:44:45 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 24 Aug 2018 20:45:06 GMT']
    method: GET
    uri: https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batche2690d64.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"test_batch_test_batch_scale_poolse2690d64\",\"url\":\"https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64\",\"eTag\":\"0x8D60A026CCB4EB3\",\"lastModified\":\"2018-08-24T20:44:45.0979507Z\",\"creationTime\":\"2018-08-24T20:44:42.4496124Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-08-24T20:44:42.4496124Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2018-08-24T20:44:57.4198238Z\",\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":2,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"resizeErrors\":[\r\n
        \   {\r\n      \"code\":\"ResizeStopped\",\"message\":\"Desired number of
        dedicated nodes could not be allocated due to a stop resize operation\"\r\n
        \   }\r\n  ],\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n
        \   {\r\n      \"name\":\"task-user\",\"elevationLevel\":\"admin\"\r\n    }\r\n
        \ ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D60A026CCB4EB3']
      last-modified: ['Fri, 24 Aug 2018 20:44:45 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"targetLowPriorityNodes": 2, "targetDedicatedNodes": 0}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 24 Aug 2018 20:45:07 GMT']
    method: POST
    uri: https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/resize?api-version=2018-08-01.7.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/resize']
      dataserviceversion: ['3.0']
      etag: ['0x8D60A027A4FF116']
      last-modified: ['Fri, 24 Aug 2018 20:45:07 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 24 Aug 2018 20:45:07 GMT']
    method: POST
    uri: https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/stopresize?api-version=2018-08-01.7.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batche2690d64.eastus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/stopresize']
      dataserviceversion: ['3.0']
      etag: ['0x8D60A027AD3E02F']
      last-modified: ['Fri, 24 Aug 2018 20:45:08 GMT']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      ocp-date: ['Fri, 24 Aug 2018 20:45:51 GMT']
    method: GET
    uri: https://batche2690d64.eastus.batch.azure.com/lifetimepoolstats?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batche2690d64.eastus.batch.azure.com/$metadata#poolstats/@Element\",\"url\":\"https://batche2690d64.eastus.batch.azure.com/lifetimepoolstats\",\"usageStats\":{\r\n
        \   \"startTime\":\"2018-08-24T20:44:22.9780495Z\",\"lastUpdateTime\":\"2018-08-24T20:44:22.9780495Z\",\"dedicatedCoreTime\":\"PT0S\"\r\n
        \ },\"resourceStats\":{\r\n    \"startTime\":\"2018-08-24T20:44:22.9780495Z\",\"diskReadIOps\":\"0\",\"diskWriteIOps\":\"0\",\"lastUpdateTime\":\"2018-08-24T20:44:22.9780495Z\",\"avgCPUPercentage\":0.0,\"avgMemoryGiB\":0.0,\"peakMemoryGiB\":0.0,\"avgDiskGiB\":0.0,\"peakDiskGiB\":0.0,\"diskReadGiB\":0.0,\"diskWriteGiB\":0.0,\"networkReadGiB\":0.0,\"networkWriteGiB\":0.0\r\n
        \ }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 24 Aug 2018 20:45:52 GMT']
    method: GET
    uri: https://batche2690d64.eastus.batch.azure.com/poolusagemetrics?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batche2690d64.eastus.batch.azure.com/$metadata#poolusagemetrics\",\"value\":[\r\n
        \   \r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
version: 1
