interactions:
- request:
    body: '{"schedule": {"startWindow": "PT1H", "recurrenceInterval": "P1D"}, "jobSpecification":
      {"onAllTasksComplete": "terminatejob", "constraints": {"maxTaskRetryCount":
      2}, "poolInfo": {"poolId": "pool_id"}}, "id": "batch_schedule_fe140e2a"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 14 Dec 2018 00:47:55 GMT']
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a']
      dataserviceversion: ['3.0']
      etag: ['0x8D6615DC975ACE8']
      last-modified: ['Fri, 14 Dec 2018 00:47:55 GMT']
      location: ['https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 00:47:56 GMT']
    method: GET
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.westcentralus.batch.azure.com/$metadata#jobschedules\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a\",\"eTag\":\"0x8D6615DC975ACE8\",\"lastModified\":\"2018-12-14T00:47:55.9289064Z\",\"creationTime\":\"2018-12-14T00:47:55.9289064Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-12-14T00:47:55.9289064Z\",\"schedule\":{\r\n
        \       \"startWindow\":\"PT1H\",\"recurrenceInterval\":\"P1D\"\r\n      },\"jobSpecification\":{\r\n
        \       \"priority\":0,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n
        \         \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \       },\"poolInfo\":{\r\n          \"poolId\":\"pool_id\"\r\n        }\r\n
        \     },\"executionInfo\":{\r\n        \"nextRunTime\":\"2018-12-15T00:47:55.9289064Z\",\"recentJob\":{\r\n
        \         \"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\",\"id\":\"batch_schedule_fe140e2a:job-1\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 00:47:56 GMT']
    method: GET
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.westcentralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule[...]
[...]
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 00:47:57 GMT']
    method: GET
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/jobs?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.westcentralus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_schedule_fe140e2a:job-1\",\"url\":\"https://batchfe140e2a.westcentralus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\",\"eTag\":\"0x8D6615DC9828012\",\"lastModified\":\"2018-12-14T00:47:56.0129554Z\",\"creationTime\":\"2018-12-14T00:47:55.9939109Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-12-14T00:47:56.0129554Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \     },\"poolInfo\":{\r\n        \"poolId\":\"pool_id\"\r\n      },\"executionInfo\":{\r\n
        \       \"startTime\":\"2018-12-14T00:47:56.0129554Z\",\"poolId\":\"pool_id\"\r\n
        \     },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 00:47:57 GMT']
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable']
      dataserviceversion: ['3.0']
      etag: ['0x8D6615DCAAB81F4']
      last-modified: ['Fri, 14 Dec 2018 00:47:57 GMT']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 00:47:58 GMT']
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable']
      dataserviceversion: ['3.0']
      etag: ['0x8D6615DCAE6C75F']
      last-modified: ['Fri, 14 Dec 2018 00:47:58 GMT']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 00:47:59 GMT']
    method: POST
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate']
      dataserviceversion: ['3.0']
      etag: ['0x8D6615DCB94BD81']
      last-modified: ['Fri, 14 Dec 2018 00:47:59 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 00:47:59 GMT']
    method: DELETE
    uri: https://batchfe140e2a.westcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
version: 1
