interactions:
- request:
    body: '{"autoScaleEvaluationInterval": "PT6M", "autoScaleFormula": "$TargetDedicatedNodes=2"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:36:56 GMT']
    method: POST
    uri: https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/enableautoscale?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/enableautoscale']
      dataserviceversion: ['3.0']
      etag: ['0x8D58919C88075BC']
      last-modified: ['Tue, 13 Mar 2018 19:36:57 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:36:57 GMT']
    method: POST
    uri: https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/evaluateautoscale?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batche2690d64.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\",\"timestamp\":\"2018-03-13T19:36:58.1241258Z\",\"results\":\"$TargetDedicatedNodes=3;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceid: ['https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/evaluateautoscale']
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:36:58 GMT']
    method: POST
    uri: https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/disableautoscale?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/disableautoscale']
      dataserviceversion: ['3.0']
      etag: ['0x8D58919C93D1047']
      last-modified: ['Tue, 13 Mar 2018 19:36:58 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:36:58 GMT']
    method: GET
    uri: https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batche2690d64.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"test_batch_test_batch_scale_poolse2690d64\",\"url\":\"https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64\",\"eTag\":\"0x8D58919C93D1047\",\"lastModified\":\"2018-03-13T19:36:58.6203207Z\",\"creationTime\":\"2018-03-13T19:36:56.7133662Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-03-13T19:36:56.7133662Z\",\"allocationState\":\"stopping\",\"allocationStateTransitionTime\":\"2018-03-13T19:36:58.6203207Z\",\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":2,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n
        \   {\r\n      \"name\":\"task-user\",\"elevationLevel\":\"admin\"\r\n    }\r\n
        \ ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D58919C93D1047']
      last-modified: ['Tue, 13 Mar 2018 19:36:58 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:37:19 GMT']
    method: GET
    uri: https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batche2690d64.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"test_batch_test_batch_scale_poolse2690d64\",\"url\":\"https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64\",\"eTag\":\"0x8D58919C93D1047\",\"lastModified\":\"2018-03-13T19:36:58.6203207Z\",\"creationTime\":\"2018-03-13T19:36:56.7133662Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-03-13T19:36:56.7133662Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2018-03-13T19:37:09.3463141Z\",\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":2,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"resizeErrors\":[\r\n
        \   {\r\n      \"code\":\"ResizeStopped\",\"message\":\"Desired number of
        dedicated nodes could not be allocated due to a stop resize operation\"\r\n
        \   }\r\n  ],\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n
        \   {\r\n      \"name\":\"task-user\",\"elevationLevel\":\"admin\"\r\n    }\r\n
        \ ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D58919C93D1047']
      last-modified: ['Tue, 13 Mar 2018 19:36:58 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"targetDedicatedNodes": 0, "targetLowPriorityNodes": 2}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:37:19 GMT']
    method: POST
    uri: https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/resize?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/resize']
      dataserviceversion: ['3.0']
      etag: ['0x8D58919D60AB15A']
      last-modified: ['Tue, 13 Mar 2018 19:37:20 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:37:20 GMT']
    method: POST
    uri: https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/stopresize?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batche2690d64.westcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/stopresize']
      dataserviceversion: ['3.0']
      etag: ['0x8D58919D657B031']
      last-modified: ['Tue, 13 Mar 2018 19:37:20 GMT']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:37:41 GMT']
    method: GET
    uri: https://batche2690d64.westcentralus.batch.azure.com/lifetimepoolstats?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batche2690d64.westcentralus.batch.azure.com/$metadata#poolstats/@Element\",\"url\":\"https://batche2690d64.westcentralus.batch.azure.com/lifetimepoolstats\",\"usageStats\":{\r\n
        \   \"startTime\":\"2018-03-13T19:36:38.590799Z\",\"lastUpdateTime\":\"2018-03-13T19:36:38.590799Z\",\"dedicatedCoreTime\":\"PT0S\"\r\n
        \ },\"resourceStats\":{\r\n    \"startTime\":\"2018-03-13T19:36:38.590799Z\",\"diskReadIOps\":\"0\",\"diskWriteIOps\":\"0\",\"lastUpdateTime\":\"2018-03-13T19:36:38.590799Z\",\"avgCPUPercentage\":0.0,\"avgMemoryGiB\":0.0,\"peakMemoryGiB\":0.0,\"avgDiskGiB\":0.0,\"peakDiskGiB\":0.0,\"diskReadGiB\":0.0,\"diskWriteGiB\":0.0,\"networkReadGiB\":0.0,\"networkWriteGiB\":0.0\r\n
        \ }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:37:42 GMT']
    method: GET
    uri: https://batche2690d64.westcentralus.batch.azure.com/poolusagemetrics?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batche2690d64.westcentralus.batch.azure.com/$metadata#poolusagemetrics\",\"value\":[\r\n
        \   \r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
version: 1
