interactions:
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 00:13:08 GMT']
    method: GET
    uri: https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch3c670ff0.westcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_fb6e8c1ac018d7c6dbdfc94af68be6a1af5bb4d2a6c54786878d468b9a28c884_d\",\"url\":\"https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_fb6e8c1ac018d7c6dbdfc94af68be6a1af5bb4d2a6c54786878d468b9a28c884_d\",\"state\":\"starting\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2018-12-14T00:12:57.8305769Z\",\"allocationTime\":\"2018-12-14T00:12:57.5182448Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_fb6e8c1ac018d7c6dbdfc94af68be6a1af5bb4d2a6c54786878d468b9a28c884_d\",\"vmSize\":\"small\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\",\"protocol\":\"tcp\",\"publicIPAddress\":\"13.78.226.1\",\"frontendPort\":3389,\"backendPort\":20000\r\n
        \         }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 00:17:39 GMT']
    method: GET
    uri: https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch3c670ff0.westcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_fb6e8c1ac018d7c6dbdfc94af68be6a1af5bb4d2a6c54786878d468b9a28c884_d\",\"url\":\"https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_fb6e8c1ac018d7c6dbdfc94af68be6a1af5bb4d2a6c54786878d468b9a28c884_d\",\"state\":\"starting\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2018-12-14T00:12:57.8305769Z\",\"lastBootTime\":\"2018-12-14T00:17:38.963947Z\",\"allocationTime\":\"2018-12-14T00:12:57.5182448Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_fb6e8c1ac018d7c6dbdfc94af68be6a1af5bb4d2a6c54786878d468b9a28c884_d\",\"vmSize\":\"small\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\",\"protocol\":\"tcp\",\"publicIPAddress\":\"13.78.226.1\",\"frontendPort\":3389,\"backendPort\":20000\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2018-12-14T00:17:38.963947Z\",\"version\":\"1.4.7\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"name": "BatchPythonSDKUser", "password": "kt#_gahr!@aGERDXA", "isAdmin":
      false}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 14 Dec 2018 00:17:50 GMT']
    method: POST
    uri: https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_fb6e8c1ac018d7c6dbdfc94af68be6a1af5bb4d2a6c54786878d468b9a28c884_d/users?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_fb6e8c1ac018d7c6dbdfc94af68be6a1af5bb4d2a6c54786878d468b9a28c884_d/users/BatchPythonSDKUser']
      dataserviceversion: ['3.0']
      location: ['https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_fb6e8c1ac018d7c6dbdfc94af68be6a1af5bb4d2a6c54786878d468b9a28c884_d/users/BatchPythonSDKUser']
    status: {code: 201, message: Created}
- request:
    body: '{"password": "liilef#$DdRGSa_ewkjh"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 14 Dec 2018 00:17:51 GMT']
    method: PUT
    uri: https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_fb6e8c1ac018d7c6dbdfc94af68be6a1af5bb4d2a6c54786878d468b9a28c884_d/users/BatchPythonSDKUser?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_fb6e8c1ac018d7c6dbdfc94af68be6a1af5bb4d2a6c54786878d468b9a28c884_d/users/BatchPythonSDKUser']
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 00:17:52 GMT']
    method: GET
    uri: https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_fb6e8c1ac018d7c6dbdfc94af68be6a1af5bb4d2a6c54786878d468b9a28c884_d/rdp?api-version=2018-12-01.8.0
  response:
    body: {string: "full address:s:13.78.226.1\r\nLoadBalanceInfo:s:Cookie: mstshash=TVM#TVM_IN_0"}
    headers:
      content-type: [application/octet-stream]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
[...]
