interactions:
- request:
    body: '{"id": "batch_task1_98da0af6", "commandLine": "cmd /c \"echo hello world\"",
      "exitConditions": {"exitCodes": [{"code": 1, "exitOptions": {"jobAction": "terminate"}}],
      "exitCodeRanges": [{"start": 2, "end": 4, "exitOptions": {"jobAction": "disable"}}],
      "default": {"jobAction": "none"}}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:11:54 GMT']
    method: POST
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task1_98da0af6']
      dataserviceversion: ['3.0']
      etag: ['0x8D526DC9343897D']
      last-modified: ['Wed, 08 Nov 2017 19:11:54 GMT']
      location: ['https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task1_98da0af6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:11:55 GMT']
    method: GET
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task1_98da0af6?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch98da0af6.japanwest.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"batch_task1_98da0af6\",\"url\":\"https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task1_98da0af6\"\
        ,\"eTag\":\"0x8D526DC9343897D\",\"creationTime\":\"2017-11-08T19:11:54.8130685Z\"\
        ,\"lastModified\":\"2017-11-08T19:11:54.8130685Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-11-08T19:11:54.8130685Z\",\"commandLine\":\"\
        cmd /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n    \"autoUser\":{\r\
        \n      \"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"exitConditions\"\
        :{\r\n    \"exitCodes\":[\r\n      {\r\n        \"code\":1,\"exitOptions\"\
        :{\r\n          \"jobAction\":\"terminate\"\r\n        }\r\n      }\r\n  \
        \  ],\"exitCodeRanges\":[\r\n      {\r\n        \"start\":2,\"end\":4,\"exitOptions\"\
        :{\r\n          \"jobAction\":\"disable\"\r\n        }\r\n      }\r\n    ],\"\
        default\":{\r\n      \"jobAction\":\"none\"\r\n    }\r\n  },\"constraints\"\
        :{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\"\
        :\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"executionInfo\"\
        :{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D526DC9343897D']
      last-modified: ['Wed, 08 Nov 2017 19:11:54 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"id": "batch_task2_98da0af6", "commandLine": "cmd /c \"echo hello world\"",
      "outputFiles": [{"filePattern": "../stdout.txt", "destination": {"container":
      {"path": "taskLogs/output.txt", "containerUrl": "https://test.blob.core.windows.net:443/test-container"}},
      "uploadOptions": {"uploadCondition": "taskCompletion"}}, {"filePattern": "../stderr.txt",
      "destination": {"container": {"path": "taskLogs/error.txt", "containerUrl":
      "https://test.blob.core.windows.net:443/test-container"}}, "uploadOptions":
      {"uploadCondition": "taskFailure"}}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:11:55 GMT']
    method: POST
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task2_98da0af6']
      dataserviceversion: ['3.0']
      etag: ['0x8D526DC9408573D']
      last-modified: ['Wed, 08 Nov 2017 19:11:56 GMT']
      location: ['https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task2_98da0af6']
    status: {code: 201, message: Created}
[...]
{"scope": "task", "elevationLevel": "admin"}}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:11:56 GMT']
    method: POST
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task3_98da0af6']
      dataserviceversion: ['3.0']
      etag: ['0x8D526DC94DB2E37']
      last-modified: ['Wed, 08 Nov 2017 19:11:57 GMT']
      location: ['https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task3_98da0af6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:11:57 GMT']
    method: GET
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task3_98da0af6?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch98da0af6.japanwest.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"batch_task3_98da0af6\",\"url\":\"https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task3_98da0af6\"\
        ,\"eTag\":\"0x8D526DC94DB2E37\",\"creationTime\":\"2017-11-08T19:11:57.4846007Z\"\
        ,\"lastModified\":\"2017-11-08T19:11:57.4846007Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-11-08T19:11:57.4846007Z\",\"commandLine\":\"\
        cmd /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n    \"autoUser\":{\r\
        \n      \"scope\":\"task\",\"elevationLevel\":\"admin\"\r\n    }\r\n  },\"\
        constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\
        \n  },\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n \
        \ }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D526DC94DB2E37']
      last-modified: ['Wed, 08 Nov 2017 19:11:57 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"id": "batch_task4_98da0af6", "commandLine": "cmd /c \"echo hello world\"",
      "authenticationTokenSettings": {"access": ["job"]}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:11:58 GMT']
    method: POST
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task4_98da0af6']
      dataserviceversion: ['3.0']
      etag: ['0x8D526DC9583CB01']
      last-modified: ['Wed, 08 Nov 2017 19:11:58 GMT']
      location: ['https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task4_98da0af6']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:11:58 GMT']
    method: GET
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task4_98da0af6?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch98da0af6.japanwest.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"batch_task4_98da0af6\",\"url\":\"https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task4_98da0af6\"\
        ,\"eTag\":\"0x8D526DC9583CB01\",\"creationTime\":\"2017-11-08T19:11:58.5896193Z\"\
        ,\"lastModified\":\"2017-11-08T19:11:58.5896193Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-11-08T19:11:58.5896193Z\",\"commandLine\":\"\
        cmd /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n    \"autoUser\":{\r\
        \n      \"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"authenticationTokenSettings\"\
        :{\r\n    \"access\":[\r\n      \"job\"\r\n    ]\r\n  },\"constraints\":{\r\
        \n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\"\
        :\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"executionInfo\"\
        :{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D526DC9583CB01']
      last-modified: ['Wed, 08 Nov 2017 19:11:58 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"id": "batch_task5_98da0af6", "commandLine": "cmd /c \"echo hello world\"",
      "containerSettings": {"imageName": "windows_container:latest", "registry": {"username":
      "username", "password": "password"}}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:11:59 GMT']
    method: POST
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task5_98da0af6']
      dataserviceversion: ['3.0']
      etag: ['0x8D526DC963614FF']
      last-modified: ['Wed, 08 Nov 2017 19:11:59 GMT']
      location: ['https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task5_98da0af6']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"value": [{"id": "batch_task7_98da0af6", "commandLine": "cmd /c \"echo
      hello world\""}, {"id": "batch_task8_98da0af6", "commandLine": "cmd /c \"echo
      hello world\""}, {"id": "batch_task9_98da0af6", "commandLine": "cmd /c \"echo
      hello world\""}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:12:01 GMT']
    method: POST
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/addtaskcollection?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch98da0af6.japanwest.batch.azure.com/$metadata#taskaddresult\"\
        ,\"value\":[\r\n    {\r\n      \"status\":\"Success\",\"taskId\":\"batch_task7_98da0af6\"\
        ,\"eTag\":\"0x8D526DC97BFC8E1\",\"lastModified\":\"2017-11-08T19:12:02.3382241Z\"\
        ,\"location\":\"https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task7_98da0af6\"\
        \r\n    },{\r\n      \"status\":\"Success\",\"taskId\":\"batch_task9_98da0af6\"\
        ,\"eTag\":\"0x8D526DC97C6A44C\",\"lastModified\":\"2017-11-08T19:12:02.3831628Z\"\
        ,\"location\":\"https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task9_98da0af6\"\
        \r\n    },{\r\n      \"status\":\"Success\",\"taskId\":\"batch_task8_98da0af6\"\
        ,\"eTag\":\"0x8D526DC97C6F267\",\"lastModified\":\"2017-11-08T19:12:02.3851623Z\"\
        ,\"location\":\"https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task8_98da0af6\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:12:02 GMT']
    method: GET
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch98da0af6.japanwest.batch.azure.com/$metadata#tasks\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch_task1_98da0af6\",\"url\":\"\
        https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task1_98da0af6\"\
        ,\"eTag\":\"0x8D526DC9343897D\",\"creationTime\":\"2017-11-08T19:11:54.8130685Z\"\
        ,\"lastModified\":\"2017-11-08T19:11:54.8130685Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-11-08T19:11:54.8130685Z\",\"commandLine\":\"\
        cmd /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n        \"autoUser\"\
        :{\r\n          \"elevationLevel\":\"nonadmin\"\r\n      [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:12:03 GMT']
    method: GET
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/taskcounts?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch98da0af6.japanwest.batch.azure.com/$metadata#taskcounts/@Element\"\
        ,\"active\":5,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0,\"\
        validationStatus\":\"Validated\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:12:03 GMT']
    method: POST
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task6_98da0af6/terminate?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task6_98da0af6/terminate']
      dataserviceversion: ['3.0']
      etag: ['0x8D526DC98E5D477']
      last-modified: ['Wed, 08 Nov 2017 19:12:04 GMT']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:12:04 GMT']
    method: GET
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task6_98da0af6?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch98da0af6.japanwest.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"batch_task6_98da0af6\",\"url\":\"https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task6_98da0af6\"\
        ,\"eTag\":\"0x8D526DC98E5D477\",\"creationTime\":\"2017-11-08T19:12:01.0900491Z\"\
        ,\"lastModified\":\"2017-11-08T19:12:04.2652791Z\",\"state\":\"completed\"\
        ,\"stateTransitionTime\":\"2017-11-08T19:12:04.2652791Z\",\"previousState\"\
        :\"active\",\"previousStateTransitionTime\":\"2017-11-08T19:12:01.0900491Z\"\
        ,\"commandLine\":\"cmd /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n\
        \    \"username\":\"task-user\"\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\"\
        :\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n  },\"executionInfo\":{\r\n    \"endTime\":\"\
        2017-11-08T19:12:04.2652791Z\",\"failureInfo\":{\r\n      \"category\":\"\
        UserError\",\"code\":\"TaskEnded\",\"message\":\"Task Was Ended by User Request\"\
        \r\n    },\"result\":\"Failure\",\"retryCount\":0,\"requeueCount\":0\r\n \
        \ },\"nodeInfo\":{\r\n    \r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D526DC98E5D477']
      last-modified: ['Wed, 08 Nov 2017 19:12:04 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:12:05 GMT']
    method: POST
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task6_98da0af6/reactivate?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
      etag: ['0x8D526DC99D88677']
      last-modified: ['Wed, 08 Nov 2017 19:12:05 GMT']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:12:05 GMT']
    method: GET
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task6_98da0af6?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch98da0af6.japanwest.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"batch_task6_98da0af6\",\"url\":\"https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task6_98da0af6\"\
        ,\"eTag\":\"0x8D526DC99D88677\",\"creationTime\":\"2017-11-08T19:12:01.0900491Z\"\
        ,\"lastModified\":\"2017-11-08T19:12:05.8558071Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-11-08T19:12:05.8558071Z\",\"previousState\":\"\
        completed\",\"previousStateTransitionTime\":\"2017-11-08T19:12:04.2652791Z\"\
        ,\"commandLine\":\"cmd /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n\
        \    \"username\":\"task-user\"\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\"\
        :\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n  },\"executionInfo\":{\r\n    \"retryCount\"\
        :0,\"requeueCount\":0\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D526DC99D88677']
      last-modified: ['Wed, 08 Nov 2017 19:12:05 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:12:06 GMT']
    method: GET
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task6_98da0af6/subtasksinfo?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch98da0af6.japanwest.batch.azure.com/$metadata#subtaskinfo\"\
        ,\"value\":[\r\n    \r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 19:12:07 GMT']
    method: DELETE
    uri: https://batch98da0af6.japanwest.batch.azure.com/jobs/batch98da0af6/tasks/batch_task6_98da0af6?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
version: 1
