interactions:
- request:
    body: '{"id": "batch_schedule_fe140e2a", "schedule": {"startWindow": "PT1H", "recurrenceInterval":
      "P1D"}, "jobSpecification": {"onAllTasksComplete": "terminateJob", "constraints":
      {"maxTaskRetryCount": 2}, "poolInfo": {"poolId": "pool_id"}}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://batchfe140e2a.japanwest.batch.azure.com/jobschedules?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchfe140e2a.japanwest.batch.azure.com/jobschedules/batch_schedule_fe140e2a']
      dataserviceversion: ['3.0']
      etag: ['0x8D526307EF62004']
      last-modified: ['Tue, 07 Nov 2017 22:40:07 GMT']
      location: ['https://batchfe140e2a.japanwest.batch.azure.com/jobschedules/batch_schedule_fe140e2a']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: GET
    uri: https://batchfe140e2a.japanwest.batch.azure.com/jobschedules?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.japanwest.batch.azure.com/$metadata#jobschedules\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch_schedule_fe140e2a\",\"url\"\
        :\"https://batchfe140e2a.japanwest.batch.azure.com/jobschedules/batch_schedule_fe140e2a\"\
        ,\"eTag\":\"0x8D526307EF62004\",\"lastModified\":\"2017-11-07T22:40:07.313818Z\"\
        ,\"creationTime\":\"2017-11-07T22:40:07.313818Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-11-07T22:40:07.313818Z\",\"schedule\":{\r\n \
        \       \"startWindow\":\"PT1H\",\"recurrenceInterval\":\"P1D\"\r\n      },\"\
        jobSpecification\":{\r\n        \"priority\":0,\"usesTaskDependencies\":false,\"\
        onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\",\"constraints\"\
        :{\r\n          \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\"\
        :2\r\n        },\"poolInfo\":{\r\n          \"poolId\":\"pool_id\"\r\n   \
        \     }\r\n      },\"executionInfo\":{\r\n        \"nextRunTime\":\"2017-11-08T22:40:07.313818Z\"\
        ,\"recentJob\":{\r\n          \"url\":\"https://batchfe140e2a.japanwest.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\"\
        ,\"id\":\"batch_schedule_fe140e2a:job-1\"\r\n        }\r\n      }\r\n    }\r\
        \n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: GET
    uri: https://batchfe140e2a.japanwest.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.japanwest.batch.azure.com/$metadata#jobschedules/@Element\"\
        ,\"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batchfe140e2a.japanwest.batch.azure.com/jo[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: GET
    uri: https://batchfe140e2a.japanwest.batch.azure.com/jobschedules/batch_schedule_fe140e2a/jobs?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchfe140e2a.japanwest.batch.azure.com/$metadata#jobs\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch_schedule_fe140e2a:job-1\",\"\
        url\":\"https://batchfe140e2a.japanwest.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\"\
        ,\"eTag\":\"0x8D526307F03CE22\",\"lastModified\":\"2017-11-07T22:40:07.4034722Z\"\
        ,\"creationTime\":\"2017-11-07T22:40:07.3809907Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-11-07T22:40:07.4034722Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":2\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"\
        pool_id\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2017-11-07T22:40:07.4034722Z\"\
        ,\"poolId\":\"pool_id\"\r\n      },\"onAllTasksComplete\":\"terminatejob\"\
        ,\"onTaskFailure\":\"noaction\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://batchfe140e2a.japanwest.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchfe140e2a.japanwest.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable']
      dataserviceversion: ['3.0']
      etag: ['0x8D526308282E74A']
      last-modified: ['Tue, 07 Nov 2017 22:40:13 GMT']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://batchfe140e2a.japanwest.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchfe140e2a.japanwest.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable']
      dataserviceversion: ['3.0']
      etag: ['0x8D52630835BF92F']
      last-modified: ['Tue, 07 Nov 2017 22:40:14 GMT']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://batchfe140e2a.japanwest.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchfe140e2a.japanwest.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate']
      dataserviceversion: ['3.0']
      etag: ['0x8D5263085CF0962']
      last-modified: ['Tue, 07 Nov 2017 22:40:18 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: DELETE
    uri: https://batchfe140e2a.japanwest.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
version: 1
