interactions:
- request:
    body: null
    headers:
      ocp-date: ['Mon, 04 Mar 2019 18:18:18 GMT']
    method: GET
    uri: https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch3c670ff0.westcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_d0c195219723ac3bf8456a952f3f1bf55d7aa0e16a6bf64f54e91f69cd613bf6_d\",\"url\":\"https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_d0c195219723ac3bf8456a952f3f1bf55d7aa0e16a6bf64f54e91f69cd613bf6_d\",\"state\":\"starting\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2019-03-04T18:18:12.1612613Z\",\"allocationTime\":\"2019-03-04T18:18:11.4166425Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_d0c195219723ac3bf8456a952f3f1bf55d7aa0e16a6bf64f54e91f69cd613bf6_d\",\"vmSize\":\"small\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\",\"protocol\":\"tcp\",\"publicIPAddress\":\"13.78.147.36\",\"frontendPort\":3389,\"backendPort\":20000\r\n
        \         }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      ocp-date: ['Mon, 04 Mar 2019 18:25:10 GMT']
    method: GET
    uri: https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch3c670ff0.westcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_d0c195219723ac3bf8456a952f3f1bf55d7aa0e16a6bf64f54e91f69cd613bf6_d\",\"url\":\"https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_d0c195219723ac3bf8456a952f3f1bf55d7aa0e16a6bf64f54e91f69cd613bf6_d\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2019-03-04T18:25:07.692821Z\",\"lastBootTime\":\"2019-03-04T18:25:03.538057Z\",\"allocationTime\":\"2019-03-04T18:18:11.4166425Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_d0c195219723ac3bf8456a952f3f1bf55d7aa0e16a6bf64f54e91f69cd613bf6_d\",\"vmSize\":\"small\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\",\"protocol\":\"tcp\",\"publicIPAddress\":\"13.78.147.36\",\"frontendPort\":3389,\"backendPort\":20000\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2019-03-04T18:25:03.538057Z\",\"version\":\"1.4.12\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"name": "BatchPythonSDKUser", "isAdmin": false, "password": "kt#_gahr!@aGERDXA"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 04 Mar 2019 18:25:11 GMT']
    method: POST
    uri: https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_d0c195219723ac3bf8456a952f3f1bf55d7aa0e16a6bf64f54e91f69cd613bf6_d/users?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_d0c195219723ac3bf8456a952f3f1bf55d7aa0e16a6bf64f54e91f69cd613bf6_d/users/BatchPythonSDKUser']
      dataserviceversion: ['3.0']
      location: ['https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_d0c195219723ac3bf8456a952f3f1bf55d7aa0e16a6bf64f54e91f69cd613bf6_d/users/BatchPythonSDKUser']
    status: {code: 201, message: Created}
- request:
    body: '{"password": "liilef#$DdRGSa_ewkjh"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Mon, 04 Mar 2019 18:25:12 GMT']
    method: PUT
    uri: https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_d0c195219723ac3bf8456a952f3f1bf55d7aa0e16a6bf64f54e91f69cd613bf6_d/users/BatchPythonSDKUser?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_d0c195219723ac3bf8456a952f3f1bf55d7aa0e16a6bf64f54e91f69cd613bf6_d/users/BatchPythonSDKUser']
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Mon, 04 Mar 2019 18:25:13 GMT']
    method: GET
    uri: https://batch3c670ff0.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_d0c195219723ac3bf8456a952f3f1bf55d7aa0e16a6bf64f54e91f69cd613bf6_d/rdp?api-version=2018-12-01.8.0
  response:
    body: {string: "full address:s:13.78.147.36\r\nLoadBalanceInfo:s:Cookie: mstshash=TVM#TVM_IN_0"}
    headers:
      content-type: [application/octet-stream]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
[...]
