interactions:
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 01:26:24 GMT']
    method: GET
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/nodeagentskus?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#nodeagentskus\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch.node.centos 7\",\"verifiedImageReferences\":[\r\n
        \       {\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS\",\"sku\":\"7.5\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.4\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.3\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"OpenLogic\",\"offer\":\"CentOS-HPC\",\"sku\":\"7.1\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"Oracle\",\"offer\":\"Oracle-Linux\",\"sku\":\"7.5\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"microsoft-ads\",\"offer\":\"linux-data-science-vm\",\"sku\":\"linuxdsvm\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"batch\",\"offer\":\"rendering-centos73\",\"sku\":\"rendering\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"microsoft-azure-batch\",\"offer\":\"centos-container\",\"sku\":\"7-5\",\"version\":\"latest\"\r\n
        \       },{\r\n          \"publisher\":\"microsoft-azure-batch\",\"offer\":\"centos-container-rdma\",\"sku\":\"7-4\",\"version\":\"latest\"\r\n
        \       }\r\n      ],\"osType\":\"linux\"\r\n    },{\r\n      \"id\":\"batch.node.debian
        8\",\"verifiedImageReferences\":[\r\n        {\r\n          \"publisher\":\"Credativ\",\"offer\":\"Debian\",\"sku\":\"8\",\"version\":\"latest\"\r\n
        \       }\r\n      ],\"osType\":\"linux\"\r\n    },{\r\n      \"id\":\"batch.node.debian
        9\",\"verifiedImageReferences\":[\r\n        {\r\n          \"publisher\":\"Credativ\",\"offer\":\"Debian\",\"sku\":\"9\",\"version\":\"latest\"\r\n
        \       }\r\n      ],\"o[...]
- request:
    body: '{"userAccounts": [{"name": "test-user-1", "password": "kt#_gahr!@aGERDXA"},
      {"name": "test-user-2", "elevationLevel": "admin", "password": "kt#_gahr!@aGERDXA"}],
      "virtualMachineConfiguration": {"nodeAgentSKUId": "batch.node.windows amd64",
      "imageReference": {"sku": "2016-Datacenter-smalldisk", "offer": "WindowsServer",
      "publisher": "MicrosoftWindowsServer"}, "windowsConfiguration": {"enableAutomaticUpdates":
      true}}, "vmSize": "Standard_A1", "id": "batch_iaas_f0260dd0", "taskSchedulingPolicy":
      {"nodeFillType": "pack"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 14 Dec 2018 01:26:25 GMT']
    method: POST
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_iaas_f0260dd0']
      dataserviceversion: ['3.0']
      etag: ['0x8D661632A43516C']
      last-modified: ['Fri, 14 Dec 2018 01:26:25 GMT']
      location: ['https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_iaas_f0260dd0']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 01:26:25 GMT']
    method: GET
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/nodecounts?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#poolnodecounts\",\"value\":[\r\n
        \   {\r\n      \"poolId\":\"batch_iaas_f0260dd0\",\"dedicated\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n
        \     }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''b\\\''{"virtualMachineConfiguration": {"imageReference": {"sku":
      "16.04-LTS", "offer": "UbuntuServer", "publisher": "Canonical"}, "nodeAgentSKUId":
      "batch.node.ubuntu 16.04"}, "id": "batch_network_f0260dd0", "vmSize": "Standard_A1",
      "networkConfiguration": {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"}}\\\''\'''''
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 14 Dec 2018 01:26:26 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools?timeout=45&api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InvalidPropertyValue\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The value provided for one of the properties
        in the request body is invalid.\\nRequestId:7081055d-2f5e-4ab4-b7e3-0e41470c8f0f\\nTime:2018-12-14T01:26:26.7536208Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\":\"subnetId\"\r\n
        \   },{\r\n      \"key\":\"PropertyValue\",\"value\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\r\n
        \   },{\r\n      \"key\":\"Reason\",\"value\":\"The specified subnetId is
        in a different subscription and cannot be used with the current Batch account
        in subscription 00000000-0000-0000-0000-000000000000\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 400, message: The value provided for one of the properties in the
        request body is invalid.}
- request:
    body: 'b''b\''b\\\''{"virtualMachineConfiguration": {"imageReference": {"virtualMachineImageId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Compute/images/FakeImage"},
      "nodeAgentSKUId": "batch.node.ubuntu 16.04"}, "id": "batch_image_f0260dd0",
      "vmSize": "Standard_A1"}\\\''\'''''
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 14 Dec 2018 01:26:26 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://batchf0260dd0.westcentralus.batc[...]
- request:
    body: '{"virtualMachineConfiguration": {"dataDisks": [{"lun": 1, "diskSizeGB":
      50}], "imageReference": {"sku": "16.04-LTS", "offer": "UbuntuServer", "publisher":
      "Canonical"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}, "id": "batch_disk_f0260dd0",
      "vmSize": "Standard_A1"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 14 Dec 2018 01:26:27 GMT']
    method: POST
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_disk_f0260dd0']
      dataserviceversion: ['3.0']
      etag: ['0x8D661632B88495F']
      last-modified: ['Fri, 14 Dec 2018 01:26:27 GMT']
      location: ['https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_disk_f0260dd0']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 01:26:28 GMT']
    method: GET
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_disk_f0260dd0?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_disk_f0260dd0\",\"url\":\"https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_disk_f0260dd0\",\"eTag\":\"0x8D661632B88495F\",\"lastModified\":\"2018-12-14T01:26:27.9512415Z\",\"creationTime\":\"2018-12-14T01:26:27.9512415Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-12-14T01:26:27.9512415Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2018-12-14T01:26:27.9512415Z\",\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\",\"dataDisks\":[\r\n      {\r\n
        \       \"lun\":1,\"caching\":\"none\",\"diskSizeGB\":50,\"storageAccountType\":\"standard_lrs\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D661632B88495F']
      last-modified: ['Fri, 14 Dec 2018 01:26:27 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"virtualMachineConfiguration": {"dataDisks": [{"lun": 1, "diskSizeGB":
      50}], "imageReference": {"sku": "16.04-LTS", "offer": "UbuntuServer", "publisher":
      "Canonical"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}, "applicationLicenses":
      ["maya"], "id": "batch_app_f0260dd0", "vmSize": "Standard_A1"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 14 Dec 2018 01:26:28 GMT']
    method: POST
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools?api-version=2018-12-01.8.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_app_f0260dd0']
      dataserviceversion: ['3.0']
      etag: ['0x8D661632C505BF4']
      last-modified: ['Fri, 14 Dec 2018 01:26:29 GMT']
      location: ['https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_app_f0260dd0']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 01:26:29 GMT']
    method: GET
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_app_f0260dd0?api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_app_f0260dd0\",\"url\":\"https://batchf0260dd0.westcentralus.batch.azure.com/pools/batch_app_f0260dd0\",\"eTag\":\"0x8D661632C50[...]
[...]
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 01:26:30 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools?timeout=30&maxresults=1&api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_app_f0260dd0\",\"url\":\"https://batchf0260dd0.west[...]
- request:
    body: null
    headers:
      ocp-date: ['Fri, 14 Dec 2018 01:26:30 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://batchf0260dd0.westcentralus.batch.azure.com/pools?$select=id%2Cstate&maxresults=1000&timeout=30&$expand=stats&$filter=startswith%28id%2C%27batch_app_%27%29&api-version=2018-12-01.8.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchf0260dd0.westcentralus.batch.azure.com/$metadata#pools\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_app_f0260dd0\",\"state\":\"active\"\r\n    }\r\n
        \ ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
version: 1
