interactions:
- request:
    body: null
    headers:
      ocp-date: ['Fri, 24 Aug 2018 20:36:48 GMT']
    method: GET
    uri: https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchff3f0e45.eastus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvm-587366007_1-20180824t203642z\",\"url\":\"https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-587366007_1-20180824t203642z\",\"state\":\"starting\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2018-08-24T20:36:42.7925816Z\",\"allocationTime\":\"2018-08-24T20:36:42.7275598Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvm-587366007_1-20180824t203642z\",\"vmSize\":\"standard_a1\",\"totalTasksRun\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"40.87.66.81\",\"publicFQDN\":\"dns58ffcdff-b942-431f-83bf-506bcaf42653-azurebatch-cloudservice.eastus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      }\r\n    },{\r\n      \"id\":\"tvm-587366007_2-20180824t203642z\",\"url\":\"https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-587366007_2-20180824t203642z\",\"state\":\"starting\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2018-08-24T20:36:42.8245617Z\",\"allocationTime\":\"2018-08-24T20:36:42.7275598Z\",\"ipAddress\":\"10.0.0.5\",\"affinityId\":\"TVM:tvm-587366007_2-20180824t203642z\",\"vmSize\":\"standard_a1\",\"totalTasksRun\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.1\",\"protocol\":\"tcp\",\"publicIPAddress\":\"40.87.66.81\",\"publicFQDN\":\"dns58ffcdff-b942-431f-83bf-506bcaf42653-azurebatch-cloudservice.eastus.cloudapp.azure.com\",\"frontendPort\":50001,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      ocp-date: ['Fri, 24 Aug 2018 20:38:26 GMT']
    method: GET
    uri: https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchff3f0e45.eastus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvm-587366007_1-20180824t203642z\",\"url\":\"https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-587366007_1-20180824t203642z\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2018-08-24T20:38:20.36863Z\",\"lastBootTime\":\"2018-08-24T20:38:19.510392Z\",\"allocationTime\":\"2018-08-24T20:36:42.7275598Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvm-587366007_1-20180824t203642z\",\"vmSize\":\"standard_a1\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"40.87.66.81\",\"publicFQDN\":\"dns58ffcdff-b942-431f-83bf-506bcaf42653-azurebatch-cloudservice.eastus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2018-08-24T20:38:19.510392Z\",\"version\":\"1.3.0.8\"\r\n
        \     }\r\n    },{\r\n      \"id\":\"tvm-587366007_2-20180824t203642z\",\"url\":\"https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-587366007_2-20180824t203642z\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2018-08-24T20:37:43.010896Z\",\"lastBootTime\":\"2018-08-24T20:37:42.4584Z\",\"allocationTime\":\"2018-08-24T20:36:42.7275598Z\",\"ipAddress\":\"10.0.0.5\",\"affinityId\":\"TVM:tvm-587366007_2-20180824t203642z\",\"vmSize\":\"standard_a1\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.1\",\"protocol\":\"tcp\",\"publicIPAddress\":\"40.87.66.81\",\"publicFQDN\":\"dns58ffcdff-b942-431f-83bf-506bcaf42653-azurebatch-cloudservice.eastus.cloudapp.azure.com\",\"frontendPort\":50001,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2018-08-24T20:37:42.4584Z\",\"version\":\"1.3.0.8\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 24 Aug 2018 20:38:27 GMT']
    method: GET
    uri: https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-587366007_1-20180824t203642z?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchff3f0e45.eastus.batch.azure.com/$metadata#nodes/@Element\",\"id\":\"tvm-587366007_1-20180824t203642z\",\"url\":\"https://batchff3f0e45.eastus.batch.azur[...]
- request:
    body: '{"startTime": "2018-08-24T20:32:28.996988Z", "containerUrl": "https://test.blob.core.windows.net:443/test-container"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 24 Aug 2018 20:38:28 GMT']
    method: POST
    uri: https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-587366007_1-20180824t203642z/uploadbatchservicelogs?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchff3f0e45.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult\",\"virtualDirectoryName\":\"batchff3f0e45-22F41E74EC4D1BE7/test_batch_test_batch_compute_nodesff3f0e45/tvm-587366007_1-20180824t203642z/aa3e88d9-2c2d-4240-8de0-1aa7207f6db2\",\"numberOfFilesUploaded\":4\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 24 Aug 2018 20:38:30 GMT']
    method: POST
    uri: https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-587366007_1-20180824t203642z/disablescheduling?api-version=2018-08-01.7.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-587366007_1-20180824t203642z/disablescheduling']
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      ocp-date: ['Fri, 24 Aug 2018 20:38:31 GMT']
    method: POST
    uri: https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-587366007_1-20180824t203642z/enablescheduling?api-version=2018-08-01.7.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-587366007_1-20180824t203642z/enablescheduling']
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: '{"nodeRebootOption": "terminate"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 24 Aug 2018 20:38:32 GMT']
    method: POST
    uri: https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-587366007_1-20180824t203642z/reboot?api-version=2018-08-01.7.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-587366007_1-20180824t203642z/reboot']
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
- request:
    body: '{"nodeReimageOption": "terminate"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 24 Aug 2018 20:38:33 GMT']
    method: POST
    uri: https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-587366007_2-20180824t203642z/reimage?api-version=2018-08-01.7.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchff3f0e45.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"OperationNotValidOnNode\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The specified operation is not valid on
        the node.\\nRequestId:bb338c4e-2b3a-4ab0-ae2a-27951ded8c86\\nTime:2018-08-24T20:38:34.2377855Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"Reason\",\"value\":\"Operation
        reimage can be invoked only on pools created with cloudServiceConfiguration
        \"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 409, message: The specified operation is not valid on the node.}
- request:
    body: '{"nodeList": ["tvm-587366007_1-20180824t203642z", "tvm-587366007_2-20180824t203642z"]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 24 Aug 2018 20:38:34 GMT']
    method: POST
    uri: https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/removenodes?api-version=2018-08-01.7.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchff3f0e45.eastus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/removenodes']
      dataserviceversion: ['3.0']
      etag: ['0x8D60A0190476D25']
      last-modified: ['Fri, 24 Aug 2018 20:38:35 GMT']
    status: {code: 202, message: Accepted}
version: 1
