interactions:
- request:
    body: '{"id": "batch_job1_8dcc0a7e", "jobPreparationTask": {"commandLine": "cmd
      /c \"echo hello world\""}, "jobReleaseTask": {"commandLine": "cmd /c \"echo
      goodbye world\""}, "poolInfo": {"autoPoolSpecification": {"poolLifetimeOption":
      "job", "pool": {"vmSize": "small", "cloudServiceConfiguration": {"osFamily":
      "5"}}}}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 18:29:01 GMT']
    method: POST
    uri: https://batch8dcc0a7e.japanwest.batch.azure.com/jobs?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/job-1']
      dataserviceversion: ['3.0']
      etag: ['0x8D526D69639B1D0']
      last-modified: ['Wed, 08 Nov 2017 18:29:02 GMT']
      location: ['https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: '{"priority": 500, "constraints": {"maxTaskRetryCount": 3}, "poolInfo":
      {"autoPoolSpecification": {"poolLifetimeOption": "job", "pool": {"vmSize": "small",
      "cloudServiceConfiguration": {"osFamily": "5"}}}}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 18:29:02 GMT']
    method: PUT
    uri: https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job1_8dcc0a7e?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job1_8dcc0a7e']
      dataserviceversion: ['3.0']
      etag: ['0x8D526D696A1F88B']
      last-modified: ['Wed, 08 Nov 2017 18:29:03 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 18:29:04 GMT']
    method: GET
    uri: https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job1_8dcc0a7e?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch8dcc0a7e.japanwest.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"batch_job1_8dcc0a7e\",\"url\":\"https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job1_8dcc0a7e\"\
        ,\"eTag\":\"0x8D526D696FFB7B3\",\"lastModified\":\"2017-11-08T18:29:04.0991155Z\"\
        ,\"creationTime\":\"2017-11-08T18:29:02.7655532Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-11-08T18:29:02.801352Z\",\"priority\":900,\"\
        usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\"\
        :\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":3\r\n  },\"jobPreparationTask\"\
        :{\r\n    \"id\":\"jobpreparation\",\"commandLine\":\"cmd /c \\\"echo hello\
        \ world\\\"\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\
        \n    },\"userIdentity\":{\r\n      \"autoUser\":{\r\n        \"elevationLevel\"\
        :\"nonadmin\"\r\n      }\r\n    },\"waitForSuccess\":true,\"rerunOnNodeRebootAfterSuccess\"\
        :true\r\n  },\"jobReleaseTask\":{\r\n    \"id\":\"jobrelease\",\"commandLine\"\
        :\"cmd /c \\\"echo goodbye world\\\"\",\"maxWallClockTime\":\"PT15M\",\"retentionTime\"\
        :\"P10675199DT2H48M5.4775807S\",\"userIdentity\":{\r\n      \"autoUser\":{\r\
        \n        \"elevationLevel\":\"nonadmin\"\r\n      }\r\n    }\r\n  },\"poolInfo\"\
        :{\r\n    \"autoPoolSpecification\":{\r\n      \"poolLifetimeOption\":\"job\"\
        ,\"keepAlive\":false,\"pool\":{\r\n        \"vmSize\":\"small\",\"maxTasksPerNode\"\
        :1,\"taskSchedulingPolicy\":{\r\n          \"nodeFillType\":\"Spread\"\r\n\
        \        },\"resizeTimeout\":\"PT15M\",\"targetDedicatedNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"cloudServiceConfiguration\"\
        :{\r\n          \"osFamily\":\"5\",\"targetOSVersion\":\"*\"\r\n        }\r\
        \n      }\r\n    }\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2017-11-08T18:29:02.801352Z\"\
        ,\"poolId\":\"DCADDA54-009F-4D86-815B-51D701BB8530\"\r\n  },\"onAllTasksComplete\"\
        :\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D526D696FFB7B3']
      last-modified: ['Wed, 08 Nov 2017 18:29:04 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"id": "batch_job2_8dcc0a7e", "poolInfo": {"autoPoolSpecification": {"poolLifetimeOption":
      "job", "pool": {"vmSize": "small", "cloudServiceConfiguration": {"osFamily":
      "5"}}}}, "onAllTasksComplete": "terminateJob", "onTaskFailure": "performExitOptionsJobAction"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 18:29:04 GMT']
    method: POST
    uri: https://batch8dcc0a7e.japanwest.batch.azure.com/jobs?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/job-1']
      dataserviceversion: ['3.0']
      etag: ['0x8D526D697D545E7']
      last-modified: ['Wed, 08 Nov 2017 18:29:05 GMT']
      location: ['https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 18:29:05 GMT']
    method: GET
    uri: https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job2_8dcc0a7e?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch8dcc0a7e.japanwest.batch.azure.com/$metadata#jobs/@Element\"\
        ,\"id\":\"batch_job2_8dcc0a7e\",\"url\":\"https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job2_8dcc0a7e\"\
        ,\"eTag\":\"0x8D526D697D545E7\",\"lastModified\":\"2017-11-08T18:29:05.4986727Z\"\
        ,\"creationTime\":\"2017-11-08T18:29:05.4616407Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-11-08T18:29:05.4986727Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"autoPoolSpecification\"\
        :{\r\n      \"poolLifetimeOption\":\"job\",\"keepAlive\":false,\"pool\":{\r\
        \n        \"vmSize\":\"small\",\"maxTasksPerNode\":1,\"taskSchedulingPolicy\"\
        :{\r\n          \"nodeFillType\":\"Spread\"\r\n        },\"resizeTimeout\"\
        :\"PT15M\",\"targetDedicatedNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\"\
        :false,\"enableInterNodeCommunication\":false,\"cloudServiceConfiguration\"\
        :{\r\n          \"osFamily\":\"5\",\"targetOSVersion\":\"*\"\r\n        }\r\
        \n      }\r\n    }\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2017-11-08T18:29:05.4986727Z\"\
        ,\"poolId\":\"6AB4D789-7340-4A27-B9D8-4246F04ABFA0\"\r\n  },\"onAllTasksComplete\"\
        :\"terminatejob\",\"onTaskFailure\":\"performexitoptionsjobaction\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D526D697D545E7']
      last-modified: ['Wed, 08 Nov 2017 18:29:05 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 18:29:06 GMT']
    method: GET
    uri: https://batch8dcc0a7e.japanwest.batch.azure.com/jobs?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch8dcc0a7e.japanwest.batch.azure.com/$metadata#jobs\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"batch_job1_8dcc0a7e\",\"url\":\"https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job1_8dcc0a7e\"\
        ,\"eTag\":\"0x8D526D696FFB7B3\",\"lastModified\":\"2017-11-08T18:29:04.0991155Z\"\
        ,\"creationTime\":\"2017-11-08T18:29:02.7655532Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-11-08T18:29:02.801352Z\",\"priority\":900,\"\
        usesTaskDependencies\":false,\"constraints\":{\r\n        \"maxWallClockTime\"\
        :\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":3\r\n      },\"jobPreparationTask\"\
        :{\r\n        \"id\":\"jobpreparation\",\"commandLine\":\"cmd /c \\\"echo\
        \ hello world\\\"\",\"constraints\":{\r\n          \"maxWallClockTime\":\"\
        P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n        },\"userIdentity\":{\r\n          \"autoUser\"\
        :{\r\n            \"elevationLevel\":\"nonadmin\"\r\n          }\r\n     \
        \   },\"waitForSuccess\":true,\"rerunOnNodeRebootAfterSuccess\":true\r\n \
        \     },\"jobReleaseTask\":{\r\n        \"id\":\"jobrelease\",\"commandLine\"\
        :\"cmd /c \\\"echo goodbye world\\\"\",\"maxWallClockTime\":\"PT15M\",\"retentionTime\"\
        :\"P10675199DT2H48M5.4775807S\",\"userIdentity\":{\r\n          \"autoUser\"\
        :{\r\n            \"elevationLevel\":\"nonadmin\"\r\n          }\r\n     \
        \   }\r\n      },\"poolInfo\":{\r\n        \"autoPoolSpecification\":{\r\n\
        \          \"poolLifetimeOption\":\"job\",\"[...]
- request:
    body: '{"disableTasks": "requeue"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 18:29:06 GMT']
    method: POST
    uri: https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job1_8dcc0a7e/disable?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job1_8dcc0a7e/disable']
      dataserviceversion: ['3.0']
      etag: ['0x8D526D698E258BB']
      last-modified: ['Wed, 08 Nov 2017 18:29:07 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 18:29:07 GMT']
    method: POST
    uri: https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job1_8dcc0a7e/enable?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job1_8dcc0a7e/enable']
      dataserviceversion: ['3.0']
      etag: ['0x8D526D6993ECDD0']
      last-modified: ['Wed, 08 Nov 2017 18:29:07 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 18:29:07 GMT']
    method: GET
    uri: https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job1_8dcc0a7e/jobpreparationandreleasetaskstatus?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch8dcc0a7e.japanwest.batch.azure.com/$metadata#jobpreparationandreleasetaskstatuslist\"\
        ,\"value\":[\r\n    \r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 18:29:08 GMT']
    method: POST
    uri: https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job1_8dcc0a7e/terminate?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch8dcc0a7e.japanwest.batch.azure.com/jobs/batch_job1_8dcc0a7e/terminate']
      dataserviceversion: ['3.0']
      etag: ['0x8D526D699FC047C']
      last-modified: ['Wed, 08 Nov 2017 18:29:09 GMT']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Wed, 08 Nov 2017 18:29:09 GMT']
    method: GET
    uri: https://batch8dcc0a7e.japanwest.batch.azure.com/lifetimejobstats?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch8dcc0a7e.japanwest.batch.azure.com/$metadata#jobstats/@Element\"\
        ,\"url\":\"https://batch8dcc0a7e.japanwest.batch.azure.com/lifetimejobstats\"\
        ,\"startTime\":\"2017-11-08T18:28:44.2806356Z\",\"lastUpdateTime\":\"2017-11-08T18:28:44.2806356Z\"\
        ,\"userCPUTime\":\"PT0S\",\"kernelCPUTime\":\"PT0S\",\"wallClockTime\":\"\
        PT0S\",\"readIOps\":\"0\",\"writeIOps\":\"0\",\"readIOGiB\":0.0,\"writeIOGiB\"\
        :0.0,\"numTaskRetries\":\"0\",\"numSucceededTasks\":\"0\",\"numFailedTasks\"\
        :\"0\",\"waitTime\":\"PT0S\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
version: 1
