interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:57:23 GMT']
    method: GET
    uri: https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchff3f0e45.westcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvm-3687402588_1-20180313t195712z\",\"url\":\"https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-3687402588_1-20180313t195712z\",\"state\":\"starting\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2018-03-13T19:57:12.7701714Z\",\"allocationTime\":\"2018-03-13T19:57:12.7041532Z\",\"ipAddress\":\"10.0.0.5\",\"affinityId\":\"TVM:tvm-3687402588_1-20180313t195712z\",\"vmSize\":\"standard_a1\",\"totalTasksRun\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.1\",\"protocol\":\"tcp\",\"publicIPAddress\":\"52.161.157.19\",\"publicFQDN\":\"dnsd677415d-f363-4bfc-9ff4-d19ca820f478-azurebatch-cloudservice.westcentralus.cloudapp.azure.com\",\"frontendPort\":50001,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      }\r\n    },{\r\n      \"id\":\"tvm-3687402588_2-20180313t195712z\",\"url\":\"https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-3687402588_2-20180313t195712z\",\"state\":\"starting\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2018-03-13T19:57:12.771123Z\",\"allocationTime\":\"2018-03-13T19:57:12.7041532Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvm-3687402588_2-20180313t195712z\",\"vmSize\":\"standard_a1\",\"totalTasksRun\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"52.161.157.19\",\"publicFQDN\":\"dnsd677415d-f363-4bfc-9ff4-d19ca820f478-azurebatch-cloudservice.westcentralus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:58:27 GMT']
    method: GET
    uri: https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchff3f0e45.westcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvm-3687402588_1-20180313t195712z\",\"url\":\"https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-3687402588_1-20180313t195712z\",\"state\":\"starting\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2018-03-13T19:57:12.7701714Z\",\"lastBootTime\":\"2018-03-13T19:58:27.992833Z\",\"allocationTime\":\"2018-03-13T19:57:12.7041532Z\",\"ipAddress\":\"10.0.0.5\",\"affinityId\":\"TVM:tvm-3687402588_1-20180313t195712z\",\"vmSize\":\"standard_a1\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.1\",\"protocol\":\"tcp\",\"publicIPAddress\":\"52.161.157.19\",\"publicFQDN\":\"dnsd677415d-f363-4bfc-9ff4-d19ca820f478-azurebatch-cloudservice.westcentralus.cloudapp.azure.com\",\"frontendPort\":50001,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      }\r\n    },{\r\n      \"id\":\"tvm-3687402588_2-20180313t195712z\",\"url\":\"https://batch[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:58:39 GMT']
    method: GET
    uri: https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-3687402588_1-20180313t195712z?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchff3f0e45.westcentralus.batch.azure.com/$metadata#nodes/@Element\",\"id\":\"tvm-3687402588_[...]
- request:
    body: '{"startTime": "2018-03-13T19:52:40.029228999999999998Z", "containerUrl":
      "https://test.blob.core.windows.net:443/test-container"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:58:40 GMT']
    method: POST
    uri: https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-3687402588_1-20180313t195712z/uploadbatchservicelogs?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchff3f0e45.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult\",\"virtualDirectoryName\":\"batchff3f0e45-22F49F5995C85188/test_batch_test_batch_compute_nodesff3f0e45/tvm-3687402588_1-20180313t195712z/c9a5c537-2e1a-4051-a497-2d7022dcfaff\",\"numberOfFilesUploaded\":4\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:58:40 GMT']
    method: POST
    uri: https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-3687402588_1-20180313t195712z/disablescheduling?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-3687402588_1-20180313t195712z/disablescheduling']
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:58:42 GMT']
    method: POST
    uri: https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-3687402588_1-20180313t195712z/enablescheduling?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-3687402588_1-20180313t195712z/enablescheduling']
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: '{"nodeRebootOption": "terminate"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:58:43 GMT']
    method: POST
    uri: https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-3687402588_1-20180313t195712z/reboot?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-3687402588_1-20180313t195712z/reboot']
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
- request:
    body: '{"nodeReimageOption": "terminate"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:58:43 GMT']
    method: POST
    uri: https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-3687402588_2-20180313t195712z/reimage?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvm-3687402588_2-20180313t195712z/reimage']
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}    
- request:
    body: '{"nodeList": ["tvm-3687402588_1-20180313t195712z", "tvm-3687402588_2-20180313t195712z"]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 19:58:44 GMT']
    method: POST
    uri: https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/removenodes?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchff3f0e45.westcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/removenodes']
      dataserviceversion: ['3.0']
      etag: ['0x8D5891CD3BA2CE3']
      last-modified: ['Tue, 13 Mar 2018 19:58:44 GMT']
    status: {code: 202, message: Accepted}
version: 1
