interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 09 Nov 2017 00:59:44 GMT']
    method: GET
    uri: https://batchf06f0dd7.japanwest.batch.azure.com/applications?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchf06f0dd7.japanwest.batch.azure.com/$metadata#listapplicationsummariesresponses\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"application_id\",\"versions\":[\r\n\
        \        \"v1.0\"\r\n      ]\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 09 Nov 2017 00:59:45 GMT']
    method: GET
    uri: https://batchf06f0dd7.japanwest.batch.azure.com/applications/application_id?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchf06f0dd7.japanwest.batch.azure.com/$metadata#getapplicationsummaryresponse/@Element\"\
        ,\"id\":\"application_id\",\"versions\":[\r\n    \"v1.0\"\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: '{"id": "python_task_with_app_package", "commandLine": "cmd /c \"echo hello
      world\"", "applicationPackageReferences": [{"applicationId": "application_id",
      "version": "v1.0"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 09 Nov 2017 00:59:46 GMT']
    method: POST
    uri: https://batchf06f0dd7.japanwest.batch.azure.com/jobs/batchf06f0dd7/tasks?api-version=2017-09-01.6.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batchf06f0dd7.japanwest.batch.azure.com/jobs/batchf06f0dd7/tasks/python_task_with_app_package']
      dataserviceversion: ['3.0']
      etag: ['0x8D5270D2C3221B1']
      last-modified: ['Thu, 09 Nov 2017 00:59:47 GMT']
      location: ['https://batchf06f0dd7.japanwest.batch.azure.com/jobs/batchf06f0dd7/tasks/python_task_with_app_package']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 09 Nov 2017 00:59:47 GMT']
    method: GET
    uri: https://batchf06f0dd7.japanwest.batch.azure.com/jobs/batchf06f0dd7/tasks/python_task_with_app_package?api-version=2017-09-01.6.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batchf06f0dd7.japanwest.batch.azure.com/$metadata#tasks/@Element\"\
        ,\"id\":\"python_task_with_app_package\",\"url\":\"https://batchf06f0dd7.japanwest.batch.azure.com/jobs/batchf06f0dd7/tasks/python_task_with_app_package\"\
        ,\"eTag\":\"0x8D5270D2C3221B1\",\"creationTime\":\"2017-11-09T00:59:47.2334257Z\"\
        ,\"lastModified\":\"2017-11-09T00:59:47.2334257Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-11-09T00:59:47.2334257Z\",\"commandLine\":\"\
        cmd /c \\\"echo hello world\\\"\",\"applicationPackageReferences\":[\r\n \
        \   {\r\n      \"applicationId\":\"application_id\",\"version\":\"v1.0\"\r\
        \n    }\r\n  ],\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"elevationLevel\"\
        :\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\"\
        :\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n  },\"executionInfo\":{\r\n    \"retryCount\"\
        :0,\"requeueCount\":0\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D5270D2C3221B1']
      last-modified: ['Thu, 09 Nov 2017 00:59:47 GMT']
    status: {code: 200, message: OK}
version: 1
