interactions:
- request:
    body: '{"poolInfo": {"autoPoolSpecification": {"pool": {"vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "5"}}, "poolLifetimeOption": "job"}}, "jobReleaseTask": {"commandLine":
      "cmd /c \"echo goodbye world\""}, "jobPreparationTask": {"commandLine": "cmd
      /c \"echo hello world\""}, "id": "batch_job1_8dcc0a7e"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 07:04:50 GMT']
    method: POST
    uri: https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/job-1']
      dataserviceversion: ['3.0']
      etag: ['0x8D588B0B73BDBA5']
      last-modified: ['Tue, 13 Mar 2018 07:04:51 GMT']
      location: ['https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: '{"poolInfo": {"autoPoolSpecification": {"pool": {"vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "5"}}, "poolLifetimeOption": "job"}}, "constraints": {"maxTaskRetryCount":
      3}, "priority": 500}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 07:04:51 GMT']
    method: PUT
    uri: https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e']
      dataserviceversion: ['3.0']
      etag: ['0x8D588B0B7AEBA10']
      last-modified: ['Tue, 13 Mar 2018 07:04:52 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 07:04:52 GMT']
    method: GET
    uri: https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch8dcc0a7e.westcentralus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"batch_job1_8dcc0a7e\",\"url\":\"https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e\",\"eTag\":\"0x8D588B0B81B3FF1\",\"lastModified\":\"2018-03-13T07:04:52.7208433Z\",\"creationTime\":\"2018-03-13T07:04:51.2398732Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-03-13T07:04:51.2568229Z\",\"priority\":900,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":3\r\n
        \ },\"jobPreparationTask\":{\r\n    \"id\":\"jobpreparation\",\"commandLine\":\"cmd
        /c \\\"echo hello world\\\"\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n
        \   },\"userIdentity\":{\r\n      \"autoUser\":{\r\n        \"elevationLevel\":\"nonadmin\"\r\n
        \     }\r\n    },\"waitForSuccess\":true,\"rerunOnNodeRebootAfterSuccess\":true\r\n
        \ },\"jobReleaseTask\":{\r\n    \"id\":\"jobrelease\",\"commandLine\":\"cmd
        /c \\\"echo goodbye world\\\"\",\"maxWallClockTime\":\"PT15M\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"userIdentity\":{\r\n
        \     \"autoUser\":{\r\n        \"elevationLevel\":\"nonadmin\"\r\n      }\r\n
        \   }\r\n  },\"poolInfo\":{\r\n    \"autoPoolSpecification\":{\r\n      \"poolLifetimeOption\":\"job\",\"keepAlive\":false,\"pool\":{\r\n
        \       \"vmSize\":\"small\",\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \         \"nodeFillType\":\"Spread\"\r\n        },\"resizeTimeout\":\"PT15M\",\"targetDedicatedNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"cloudServiceConfiguration\":{\r\n
        \         \"osFamily\":\"5\",\"targetOSVersion\":\"*\"\r\n        }\r\n      }\r\n
        \   }\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2018-03-13T07:04:51.2568229Z\",\"poolId\":\"44822E5D-9333-4DE8-B357-138B922D74C7\"\r\n
        \ },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D588B0B81B3FF1']
      last-modified: ['Tue, 13 Mar 2018 07:04:52 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 07:04:55 GMT']
    method: GET
    uri: https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch8dcc0a7e.westcentralus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_job1_8dcc0a7e\",\"url\":\"https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e\",\"eTag\":\"0x8D588B0B81B3FF1\",\"lastModified\":\"2018-03-13T07:04:52.7208433Z\",\"creationTime\":\"2018-03-13T07:04:51.2398732Z\",\"state\":\"active\",\"stateTransitionTime\":\"2018-03-13T07:04:51.2568229Z\",\"priority\":900,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"ma[...]
- request:
    body: '{"disableTasks": "requeue"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 07:04:55 GMT']
    method: POST
    uri: https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/disable?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/disable']
      dataserviceversion: ['3.0']
      etag: ['0x8D588B0BA5317DF']
      last-modified: ['Tue, 13 Mar 2018 07:04:56 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 07:04:56 GMT']
    method: POST
    uri: https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/enable?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/enable']
      dataserviceversion: ['3.0']
      etag: ['0x8D588B0BAC35DB5']
      last-modified: ['Tue, 13 Mar 2018 07:04:57 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 07:04:57 GMT']
    method: GET
    uri: https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/jobpreparationandreleasetaskstatus?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch8dcc0a7e.westcentralus.batch.azure.com/$metadata#jobpreparationandreleasetaskstatuslist\",\"value\":[\r\n
        \   \r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 07:04:57 GMT']
    method: POST
    uri: https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/terminate?api-version=2018-03-01.6.1
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://batch8dcc0a7e.westcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/terminate']
      dataserviceversion: ['3.0']
      etag: ['0x8D588B0BB8ADEB6']
      last-modified: ['Tue, 13 Mar 2018 07:04:58 GMT']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      ocp-date: ['Tue, 13 Mar 2018 07:04:59 GMT']
    method: GET
    uri: https://batch8dcc0a7e.westcentralus.batch.azure.com/lifetimejobstats?api-version=2018-03-01.6.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://batch8dcc0a7e.westcentralus.batch.azure.com/$metadata#jobstats/@Element\",\"url\":\"https://batch8dcc0a7e.westcentralus.batch.azure.com/lifetimejobstats\",\"startTime\":\"2018-03-13T07:04:33.4629284Z\",\"lastUpdateTime\":\"2018-03-13T07:04:33.4629284Z\",\"userCPUTime\":\"PT0S\",\"kernelCPUTime\":\"PT0S\",\"wallClockTime\":\"PT0S\",\"readIOps\":\"0\",\"writeIOps\":\"0\",\"readIOGiB\":0.0,\"writeIOGiB\":0.0,\"numTaskRetries\":\"0\",\"numSucceededTasks\":\"0\",\"numFailedTasks\":\"0\",\"waitTime\":\"PT0S\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
version: 1
