#
# Environment variables that define secrets required for running tests and samples.
#
# All values should be empty by default in this template.
#
# To run tests locally on your device:
# 1. Rename the file to `.env.template` to `.env`
# 2. Fill in the values for the environment variables below (do not commit these changes to the repository!)
# 3. Run the tests (`pytest`) or run samples in the `samples` folder
#

#######################################################################
#
# Used in samples
#
# Project endpoint has the format: 
#  `https://<your-ai-services-account-name>.services.ai.azure.com/api/projects/<your-project-name>`
AZURE_AI_PROJECT_ENDPOINT=
AZURE_AI_MODEL_DEPLOYMENT_NAME=
AGENT_NAME=
CONVERSATION_ID=
CONNECTION_NAME=
AZURE_AI_PROJECTS_AZURE_SUBSCRIPTION_ID=
AZURE_AI_PROJECTS_AZURE_RESOURCE_GROUP=
AZURE_AI_PROJECTS_AZURE_AOAI_ACCOUNT=

# Used in Memory Store samples
AZURE_AI_CHAT_MODEL_DEPLOYMENT_NAME=
AZURE_AI_EMBEDDING_MODEL_DEPLOYMENT_NAME=

#######################################################################
#
# Used tests, excluding Agent tests
AZURE_AI_PROJECTS_TESTS_PROJECT_ENDPOINT=

# Used in Agent tests
AZURE_AI_PROJECTS_TESTS_AGENTS_PROJECT_ENDPOINT=

# Used in tracing tests
AZURE_AI_PROJECTS_TESTS_TRACING_PROJECT_ENDPOINT=

# Used in Container App Agents tests
AZURE_AI_PROJECTS_TESTS_CONTAINER_PROJECT_ENDPOINT=
AZURE_AI_PROJECTS_TESTS_CONTAINER_APP_RESOURCE_ID=
AZURE_AI_PROJECTS_TESTS_CONTAINER_INGRESS_SUBDOMAIN_SUFFIX=

# Used in tools
BING_PROJECT_CONNECTION_ID=
MCP_PROJECT_CONNECTION_ID=
FABRIC_PROJECT_CONNECTION_ID=
AI_SEARCH_PROJECT_CONNECTION_ID=
AI_SEARCH_INDEX_NAME=
BING_CUSTOM_SEARCH_PROJECT_CONNECTION_ID=
BING_CUSTOM_SEARCH_INSTANCE_NAME=
SHAREPOINT_PROJECT_CONNECTION_ID=
A2A_PROJECT_CONNECTION_ID=
BROWSER_AUTOMATION_PROJECT_CONNECTION_ID=
OPENAPI_PROJECT_CONNECTION_ID=