#
# Environment variables that define secrets required for running tests and samples.
#
# All values should be empty by default in this template.
#
# To run tests locally on your device:
# 1. Rename the file to `.env.template` to `.env`
# 2. Fill in the values for the environment variables below (do not commit these changes to the repository!)
# 3. Run the tests (`pytest`) or run samples in the `samples` folder
#

# Set to true for console logging
AZURE_AI_PROJECTS_CONSOLE_LOGGING=

#######################################################################
#
# Used in samples
#
#######################################################################

# Project endpoint has the format: 
#  `https://<your-ai-services-account-name>.services.ai.azure.com/api/projects/<your-project-name>`
AZURE_AI_PROJECT_ENDPOINT=
AZURE_AI_MODEL_DEPLOYMENT_NAME=
AZURE_AI_AGENT_NAME=
CONVERSATION_ID=
CONNECTION_NAME=
AZURE_AI_PROJECTS_AZURE_SUBSCRIPTION_ID=
AZURE_AI_PROJECTS_AZURE_RESOURCE_GROUP=
AZURE_AI_PROJECTS_AZURE_AOAI_ACCOUNT=
MEMORY_STORE_CHAT_MODEL_DEPLOYMENT_NAME=
MEMORY_STORE_EMBEDDING_MODEL_DEPLOYMENT_NAME=
IMAGE_GENERATION_MODEL_DEPLOYMENT_NAME=
BING_PROJECT_CONNECTION_ID=
MCP_PROJECT_CONNECTION_ID=
FABRIC_PROJECT_CONNECTION_ID=
AI_SEARCH_PROJECT_CONNECTION_ID=
AI_SEARCH_INDEX_NAME=
BING_CUSTOM_SEARCH_PROJECT_CONNECTION_ID=
BING_CUSTOM_SEARCH_INSTANCE_NAME=
SHAREPOINT_PROJECT_CONNECTION_ID=
A2A_PROJECT_CONNECTION_ID=
BROWSER_AUTOMATION_PROJECT_CONNECTION_ID=
OPENAPI_PROJECT_CONNECTION_ID=
AI_SEARCH_USER_INPUT=
SHAREPOINT_USER_INPUT=
FABRIC_USER_INPUT=
BING_CUSTOM_USER_INPUT=
A2A_USER_INPUT=

#######################################################################
#
# Used in tests
#
#######################################################################

# Used for recording or playback
AZURE_TEST_RUN_LIVE=false
AZURE_SKIP_LIVE_RECORDING=true

# Used in Fine-tuning tests
COMPLETED_OAI_MODEL_SFT_FINE_TUNING_JOB_ID=
COMPLETED_OAI_MODEL_RFT_FINE_TUNING_JOB_ID=
COMPLETED_OAI_MODEL_DPO_FINE_TUNING_JOB_ID=
COMPLETED_OSS_MODEL_SFT_FINE_TUNING_JOB_ID=
RUNNING_FINE_TUNING_JOB_ID=
PAUSED_FINE_TUNING_JOB_ID=
AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=

# Set to true to run extended finetuning live tests
RUN_EXTENDED_FINE_TUNING_LIVE_TESTS=false

# Used for logging in sample tests (uncomment to generate logs for monitoring and alerting)
# - SAMPLE_TEST_ERROR_LOG: Sample crashed with an exception during execution
# - SAMPLE_TEST_FAILED_LOG: Sample ran successfully but LLM validation failed (incorrect output)
# - SAMPLE_TEST_PASSED_LOG: Sample ran successfully and LLM validation passed (correct output)
# SAMPLE_TEST_PASSED_LOG=<sample_filename>_success_<timestamp>.log
# SAMPLE_TEST_FAILED_LOG=<sample_filename>_failed_<timestamp>.log
# SAMPLE_TEST_ERROR_LOG=<sample_filename>_errors_<timestamp>.log