-e ../../../eng/tools/azure-sdk-tools
../../core/azure-core
../../identity/azure-identity
aiohttp
python-dotenv
opentelemetry-sdk
azure-core-tracing-opentelemetry
azure-monitor-opentelemetry
azure-mgmt-cognitiveservices
jsonref
