-e ../../../tools/azure-sdk-tools
../azure-core
opentelemetry-sdk<2.0.0,>=1.12.0
opentelemetry-instrumentation-requests>=0.32b0
requests
azure-storage-blob
../../servicebus/azure-servicebus
../../eventhub/azure-eventhub
