recursive-include tests *.py
include *.md
include LICENSE
include azure/__init__.py
include azure/core/__init__.py
include azure/core/tracing/__init__.py
include azure/core/tracing/ext/__init__.py
recursive-include samples *.py
include azure/core/tracing/ext/opentelemetry_span/py.typed
