[run]
source =
        ../../azure-common/azure
        ../../azure-mgmt/azure
        ../../azure-mgmt-authorization/azure
        ../../azure-mgmt-cdn/azure
        ../../azure-mgmt-compute/azure
        ../../azure-mgmt-logic/azure
        ../../azure-mgmt-network/azure
        ../../azure-mgmt-notificationhubs/azure
        ../../azure-mgmt-redis/azure
        ../../azure-mgmt-resource/azure
        ../../azure-mgmt-scheduler/azure
        ../../azure-mgmt-storage/azure
        ../../azure-mgmt-web/azure
        ../../azure-graphrbac/azure
omit = */test*
