interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://devicemodels.azure.com/dtmi/com/example/thermostat-1.json
  response:
    body:
      string: "{\n  \"@context\": \"dtmi:dtdl:context;2\",\n  \"@id\": \"dtmi:com:example:Thermostat;1\",\n
        \ \"@type\": \"Interface\",\n  \"displayName\": \"Thermostat\",\n  \"description\":
        \"Reports current temperature and provides desired temperature control.\",\n
        \ \"contents\": [\n    {\n      \"@type\": [\n        \"Telemetry\",\n        \"Temperature\"\n
        \     ],\n      \"name\": \"temperature\",\n      \"displayName\": \"Temperature\",\n
        \     \"description\": \"Temperature in degrees Celsius.\",\n      \"schema\":
        \"double\",\n      \"unit\": \"degreeCelsius\"\n    },\n    {\n      \"@type\":
        [\n        \"Property\",\n        \"Temperature\"\n      ],\n      \"name\":
        \"targetTemperature\",\n      \"schema\": \"double\",\n      \"displayName\":
        \"Target Temperature\",\n      \"description\": \"Allows to remotely specify
        the desired target temperature.\",\n      \"unit\": \"degreeCelsius\",\n      \"writable\":
        true\n    },\n    {\n      \"@type\": [\n        \"Property\",\n        \"Temperature\"\n
        \     ],\n      \"name\": \"maxTempSinceLastReboot\",\n      \"schema\": \"double\",\n
        \     \"unit\": \"degreeCelsius\",\n      \"displayName\": \"Max temperature
        since last reboot.\",\n      \"description\": \"Returns the max temperature
        since last device reboot.\"\n    },\n    {\n      \"@type\": \"Command\",\n
        \     \"name\": \"getMaxMinReport\",\n      \"displayName\": \"Get Max-Min
        report.\",\n      \"description\": \"This command returns the max, min and
        average temperature from the specified time to the current time.\",\n      \"request\":
        {\n        \"name\": \"since\",\n        \"displayName\": \"Since\",\n        \"description\":
        \"Period to return the max-min report.\",\n        \"schema\": \"dateTime\"\n
        \     },\n      \"response\": {\n        \"name\": \"tempReport\",\n        \"displayName\":
        \"Temperature Report\",\n        \"schema\": {\n          \"@type\": \"Object\",\n
        \         \"fields\": [\n            {\n              \"name\": \"maxTemp\",\n
        \             \"displayName\": \"Max temperature\",\n              \"schema\":
        \"double\"\n            },\n            {\n              \"name\": \"minTemp\",\n
        \             \"displayName\": \"Min temperature\",\n              \"schema\":
        \"double\"\n            },\n            {\n              \"name\": \"avgTemp\",\n
        \             \"displayName\": \"Average Temperature\",\n              \"schema\":
        \"double\"\n            },\n            {\n              \"name\": \"startTime\",\n
        \             \"displayName\": \"Start Time\",\n              \"schema\":
        \"dateTime\"\n            },\n            {\n              \"name\": \"endTime\",\n
        \             \"displayName\": \"End Time\",\n              \"schema\": \"dateTime\"\n
        \           }\n          ]\n        }\n      }\n    }\n  ]\n}"
    headers:
      content-md5:
      - U0VZgOgpfb6bwvG5UDVZuw==
      content-type:
      - application/json
      etag:
      - '"0x8D8FED94ED5FC94"'
      last-modified:
      - Wed, 14 Apr 2021 00:07:35 GMT
      x-ms-error-code:
      - ConditionNotMet
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
