interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azvmc632/providers/Microsoft.Compute/virtualMachines/azvmc632/providers/microsoft.insights/metricDefinitions?api-version=2017-05-01-preview
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azvmc632/providers/Microsoft.Compute/virtualMachines/azvmc632/providers/microsoft.insights/metricdefinitions/Percentage
        CPU","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azvmc632/providers/Microsoft.Compute/virtualMachines/azvmc632","name":{"value":"Percentage
        CPU","localizedValue":"Percentage CPU"},"isDimensionRequired":false,"unit":"Percent","primaryAggregationType":"Average","metricAvailabilities":[{"timeGrain":"PT1M","retention":"P93D"},{"timeGrain":"PT1H","retention":"P93D"}]},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azvmc632/providers/Microsoft.Compute/virtualMachines/azvmc632/providers/microsoft.insights/metricdefinitions/Network
        In","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azvmc632/providers/Microsoft.Compute/virtualMachines/azvmc632","name":{"value":"Network
        In","localizedValue":"Network In"},"isDimensionRequired":false,"unit":[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azvmc632/providers/Microsoft.Compute/virtualMachines/azvmc632/providers/microsoft.insights/metrics?timespan=2017-10-22%2F2017-10-23&metric=Percentage%20CPU&aggregation=Total&api-version=2017-05-01-preview&interval=PT1H
  response:
    body: {string: '{"cost":0,"timespan":"2017-10-22T00:00:00Z/2017-10-23T00:00:00Z","interval":"PT1H","value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azvmc632/providers/Microsoft.Compute/virtualMachines/azvmc632/providers/Microsoft.Insights/metrics/Percentage
        CPU","type":"Microsoft.Insights/metrics","name":{"value":"Percentage CPU","localizedValue":"Percentage
        CPU"},"unit":"Percent","timeseries":[{"metadatavalues":[],"data":[{"timeStamp":"2017-10-22T00:00:00Z","total":57.290000000000006},{"timeStamp":"2017-10-22T01:00:00Z","total":59.339999999999996},{"timeStamp":"2017-10-22T02:00:00Z","total":58.43},{"timeStamp":"2017-10-22T03:00:00Z","total":98.329999999999956},{"timeStamp":"2017-10-22T04:00:00Z","total":66.79},{"timeStamp":"2017-10-22T05:00:00Z","total":68.859999999999985},{"timeStamp":"2017-10-22T06:00:00Z","total":126.61999999999999},{"timeStamp":"2017-10-22T07:00:00Z","total":131.33000000000007},{"timeStamp":"2017-10-22T08:00:00Z","total":58.01},{"timeStamp":"2017-10-22T09:00:00Z","total":68.04},{"timeStamp":"2017-10-22T10:00:00Z","total":84.659999999999982},{"timeStamp":"2017-10-22T11:00:00Z","total":98.449999999999989},{"timeStamp":"2017-10-22T12:00:00Z","total":100.99999999999994},{"timeStamp":"2017-10-22T13:00:00Z","total":115.09000000000002},{"timeStamp":"2017-10-22T14:00:00Z","total":122.99999999999999},{"timeStamp":"2017-10-22T15:00:00Z","total":114.44999999999999},{"timeStamp":"2017-10-22T16:00:00Z","total":107.05},{"timeStamp":"2017-10-22T17:00:00Z","total":104.34},{"timeStamp":"2017-10-22T18:00:00Z","total":60.229999999999983},{"timeStamp":"2017-10-22T19:00:00Z","total":69.700000000000017},{"timeStamp":"2017-10-22T20:00:00Z","total":79.639999999999986},{"timeStamp":"2017-10-22T21:00:00Z","total":48.460000000000008},{"timeStamp":"2017-10-22T22:00:00Z","total":51.980000000000004},{"timeStamp":"2017-10-22T23:00:00Z","total":56.930000000000021}]}]}]}'}
    headers:
      __handlingserverid__: [shoeboxproxyprod_shoeboxproxyprod-red_MetricsMP_IN_9]
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
