interactions:
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 30 2019 17:13:42 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 5b/E4qQlXHTRod+n+f+xjK6c/tRVR8uxoC62FjvGJPw=
      x-ms-date:
      - Sep, 30 2019 17:13:43 GMT
    method: PUT
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"gu2DHyQ1jjJBuVXIgLUju1iU7Mr","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-09-30T17:13:43+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"gu2DHyQ1jjJBuVXIgLUju1iU7Mr"'
      last-modified:
      - Mon, 30 Sep 2019 17:13:43 GMT
      sync-token:
      - zAJw6V16=MzotMSM2NjQyNzY=;sn=664276
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 30 2019 17:13:43 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"gu2DHyQ1jjJBuVXIgLUju1iU7Mr","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-09-30T17:13:43+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM2NjQyNzY=;sn=664276
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 30 2019 17:13:43 GMT
    method: DELETE
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"key": "multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "multi_label_0", "value": "multi value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - PjvHe35hDjqVX18xmPvPb0Q2NpeaKTiWhBfGwlG2GGo=
      x-ms-date:
      - Sep, 30 2019 17:13:43 GMT
    method: PUT
    uri: https://xyazconfig.azconfig.io/kv/multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=multi_label_0&api-version=1.0
  response:
    body:
      string: '{"etag":"Qu7fNepJsHp57nwKnL4utLW1wpT","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2019-09-30T17:13:44+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"Qu7fNepJsHp57nwKnL4utLW1wpT"'
      last-modified:
      - Mon, 30 Sep 2019 17:13:44 GMT
      sync-token:
      - zAJw6V16=MzotMSM2NjQyNzg=;sn=664278
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 30 2019 17:13:50 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?key=multi_%2A&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"Qu7fNepJsHp57nwKnL4utLW1wpT","key":"multi_0test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_0","content_type":null,"value":"multi
        value","tags":{},"locked":fa[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 30 2019 17:13:50 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?key=multi_*&api-version=1.0&after=bXVsdGlfOTl0ZXN0X2tleV9hNmFmODk1Mi01NGE2LTExZTktYjYwMC0yODE2YTg0ZDAzMDkKbXVsdGlfbGFiZWxfOTk%3D
  response:
    body:
      string: '{"items":[{"etag":"X8PbDTQZ0rBIrDHJ75pOeq9M6H5","key":"multi_9test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"multi_label_9","content_type":null,"value":"multi
        value","tags":{},"locked":false,"last_modified":"2019-09-30T17:13:44+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM2NjQzNzg=;sn=664378
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Sep, 30 2019 17:13:58 GMT
    method: DELETE
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?api-version=1.0
  response:
    body:
      string: '{"etag":"lsAHHHJNcdTZj9lLxsdBHURbbTn","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-09-30T17:13:43+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"lsAHHHJNcdTZj9lLxsdBHURbbTn"'
      last-modified:
      - Mon, 30 Sep 2019 17:13:43 GMT
      sync-token:
      - zAJw6V16=MzotMSM2NjQ0ODE=;sn=664481
    status:
      code: 200
      message: OK
version: 1
