interactions:
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 19 2019 18:30:57 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      if-none-match:
      - '*'
      x-ms-content-sha256:
      - 5b/E4qQlXHTRod+n+f+xjK6c/tRVR8uxoC62FjvGJPw=
      x-ms-date:
      - Aug, 19 2019 18:30:57 GMT
    method: PUT
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309
  response:
    body:
      string: '{"etag":"d88Jj1LuWZO2J277SVW7DLuWrdH","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-08-19T18:30:57+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d88Jj1LuWZO2J277SVW7DLuWrdH"
      last-modified:
      - Mon, 19 Aug 2019 18:30:57 GMT
      sync-token:
      - zAJw6V16=MzotMSM0MzkyNTY=;sn=439256
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 19 2019 18:30:57 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/kv?label=&key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309
  response:
    body:
      string: '{"items":[{"etag":"d88Jj1LuWZO2J277SVW7DLuWrdH","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-08-19T18:30:57+00:00"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      sync-token:
      - zAJw6V16=MzotMSM0MzkyNTY=;sn=439256
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 19 2019 18:30:57 GMT
    method: DELETE
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 19 2019 18:30:57 GMT
    method: GET
    uri: https://xyazconfig.azconfig.io/revisions?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&key=PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309
  response:
    body:
      string: '{"items":[{"etag":"d88Jj1LuWZO2J277SVW7DLuWrdH","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d03[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Aug, 19 2019 18:30:57 GMT
    method: DELETE
    uri: https://xyazconfig.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309
  response:
    body:
      string: '{"etag":"yeycEKKo9VEVBPnYEZS7pTnEaEu","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":null,"content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2019-08-19T18:30:58+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"yeycEKKo9VEVBPnYEZS7pTnEaEu"
      last-modified:
      - Mon, 19 Aug 2019 18:30:58 GMT
      sync-token:
      - zAJw6V16=MzotMSM0MzkyNTk=;sn=439259
    status:
      code: 200
      message: OK
version: 1
