interactions:
- request:
    body: '{"name": "pysdkdmstestservice74501149", "type": "services"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/checkNameAvailability?api-version=2018-07-15-preview
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centralus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"pysdkdmstestvnet74501149\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149\"\
        ,\r\n  \"etag\": \"W/\\\"3a85a917-0aeb-4d46-96e1-efeb3936ec09\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"centralus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"878fbbe1-4fbd-4341-a28c-91010d955b44\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\"\
        : [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/68450413-6c48-4ed8-94e2-ce972ace3c5a?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/68450413-6c48-4ed8-94e2-ce972ace3c5a?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149/subnets/subnet1?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149/subnets/subnet1\"\
        ,\r\n  \"etag\": \"W/\\\"b4f398cc-87e2-4600-bf63-0df9a09495e0\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\"\
        : \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\
        \n    \"subnetID\": 0\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\
        \r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/centralus/operations/ff01f225-b99e-45fe-8e9c-36adb5696853?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''b\''{"location": "centralus", "properties": {"virtualSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149/subnets/subnet1"},
      "sku": {"name": "Premium_4vCores"}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149?api-version=2018-07-15-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Accepted","virtualSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149/subnets/subnet1"},"etag":"lPMsdYq7PKNtAENsxIO1KnBM5LPOaCHwno/hmklrJUM=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149","kind":"Cloud","location":"centralus","name":"pysdkdmstestservice74501149","sku":{"name":"Premium_4vCores","size":"4
        vCores","tier":"Premium"},"type":"Microsoft.DataMigration/services"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/9869c60d-3b39-43eb-8b1d-cde9c224e8b1?api-version=2018-07-15-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"lPMsdYq7PKNtAENsxIO1KnBM5LPOaCHwno/hmklrJUM="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/9869c60d-3b39-43eb-8b1d-cde9c224e8b1?api-version=2018-07-15-preview
  response:
    body:
      string: '{"name":"9869c60d-3b39-43eb-8b1d-cde9c224e8b1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/9869c60d-3b39-43eb-8b1d-cde9c224e8b1","status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149?api-version=2018-07-15-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","virtualNicId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/networkInterfaces/NIC-dtj7wesdv78gj8h9ub6cmfnu","virtualSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.Network/virtualNetworks/pysdkdmstestvnet74501149/subnets/subnet1"},"etag":"RQk7pUG9+M5jFiOwn9snpjemyOMGavKLZ8rQ0FbTm1Y=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149","kind":"Cloud","location":"centralus","name":"pysdkdmstestservice74501149","sku":{"name":"Premium_4vCores","size":"4
        vCores","tier":"Premium"},"type":"Microsoft.DataMigration/services"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"RQk7pUG9+M5jFiOwn9snpjemyOMGavKLZ8rQ0FbTm1Y="'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "pysdkdmstestservice74501149", "type": "services"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/checkNameAvailability?api-version=2018-07-15-preview
  response:
    body:
      string: '{"reason":"AlreadyExists","message":"The resource name is already in
        use.","nameAvailable":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centralus", "properties": {"sourcePlatform": "SQL", "targetPlatform":
      "SQLDB"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149/projects/pysdkdmstestproject74501149?api-version=2018-07-15-preview
  response:
    body:
      string: '{"properties":{"sourcePlatform":"SQL","targetPlatform":"SQLDB","creationTime":"2020-10-21T02:08:56.7777902+00:00","provisioningState":"Succeeded"},"etag":"Kc2MBt9wnSXfB7IOYiJTx2UhGB3Jxj5IvB5/D5DTzq8=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149/projects/pysdkdmstestproject74501149","location":"centralus","name":"pysdkdmstestproject74501149","type":"Microsoft.DataMigration/services/projects"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"Kc2MBt9wnSXfB7IOYiJTx2UhGB3Jxj5IvB5/D5DTzq8="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"taskType": "Migrate.SqlServer.SqlDb", "input": {"sourceConnectionInfo":
      {"userName": "testuser", "password": "password", "type": "SqlConnectionInfo",
      "dataSource": "testsource.microsoft.com", "authentication": "SqlAuthentication",
      "encryptConnection": true, "trustServerCertificate": true}, "targetConnectionInfo":
      {"userName": "testuser", "password": "password", "type": "SqlConnectionInfo",
      "dataSource": "testtarget.microsoft.com", "authentication": "SqlAuthentication",
      "encryptConnection": true, "trustServerCertificate": true}, "selectedDatabases":
      [{"name": "Test_Source", "targetDatabaseName": "Test_Target", "makeSourceDbReadOnly":
      false, "tableMap": {"dbo.TestTableForeign": "dbo.TestTableForeign", "dbo.TestTablePrimary":
      "dbo.TestTablePrimary"}}], "validationOptions": {"enableSchemaValidation": false,
      "enableDataIntegrityValidation": false, "enableQueryAnalysisValidation": false}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149/projects/pysdkdmstestproject74501149/tasks/pysdkdmstesttask74501149?api-version=2018-07-15-preview
  response:
    body:
      string: '{"properties":{"input":{"sourceConnectionInfo":{"userName":"testuser","password":"1tXzQ5T8vWIebgfwzNc+KuuNggzkBkc57z0+/fR0qQs=","type":"SqlConnectionInfo","dataSource":"testsource.microsoft.com","authentication":"SqlAuthentication","encryptConnection":true,"trustServerCertificate":true},"targetConnectionInfo":{"userName":"testuser","password":"1tXzQ5T8vWIebgfwzNc+KuuNggzkBkc57z0+/fR0qQs=","type":"SqlConnectionInfo","dataSource":"testtarget.microsoft.com","authentication":"SqlAuthentication","encryptConnection":true,"trustServerCertificate":true},"selectedDatabases":[{"name":"Test_Source","targetDatabaseName":"Test_Target","makeSourceDbReadOnly":false,"tableMap":{"dbo.TestTableForeign":"dbo.TestTableForeign","dbo.TestTablePrimary":"dbo.TestTablePrimary"}}],"validationOptions":{"enableSchemaValidation":false,"enableDataIntegrityValidation":false,"enableQueryAnalysisValidation":false},"encryptedKeyForSecureFields":"DC8kKHAFw1Wgh4GbZ4TVW1LiqmaLmEZ2I1CmVfcIuwO3RdvNBAqbMzeEyy5+cXRYhcAcZi9pFyYPvUn9iv3TP1sjk+uDyZ6J3htrAGul67v1lX1Vf1eVHfS16zTysj+mzH6k+5g8E9B+1S+P4Pp2tJdbjx05IDUGCNmPgFGwazWbzwhxuy9CdrMVF4bi5GC4bp07csSd6Mzt1aE23DpRL8qoqcTjNdTAa1ZNA2kyAgi2ok9gBVjrvcDWQ0OG11QevO6CSJOyWn/ri6Erc/UUsNvlvh6RTXO02IqTFM5vSgupEz8MV/LOvIqnLZL0rwAuDS7n3wovan0M71KbJ9sBug=="},"taskId":"20dbe3dc-9e28-4bd1-96e0-71539895c0d9","taskType":"Migrate.SqlServer.SqlDb","state":"Queued","isCloneable":true,"createdOn":"2020-10-21T02:08:58.7802174+00:00"},"etag":"FbqRMquFgUS1R4BM3ui5zpOgl4/J/dNAv9xkitL5E88=","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149/projects/pysdkdmstestproject74501149/tasks/pysdkdmstesttask74501149","name":"pysdkdmstesttask74501149","type":"Microsoft.DataMigration/services/projects/tasks"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"FbqRMquFgUS1R4BM3ui5zpOgl4/J/dNAv9xkitL5E88="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dms_sdk_test74501149/providers/Microsoft.DataMigration/services/pysdkdmstestservice74501149/projects/pysdkdmstestproject74501149/tasks/pysdkdmstesttask74501149?deleteRunningTasks=true&api-version=2018-07-15-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "pysdkdmstestservice74501149", "type": "services"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataMigration/locations/centralus/checkNameAvailability?api-version=2018-07-15-preview
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
