# NOTE: To avoid breaking changes in a major version bump, all dependencies should pin an upper bound if possible.

pyyaml<7.0.0,>=5.1.0
azure-identity
msrest>=0.6.18
azure-core<2.0.0,>=1.8.0, !=1.22.0
azure-mgmt-core<2.0.0,>=1.2.0
marshmallow<4.0.0,>=3.5
jsonschema<5.0.0,>=4.0.0
tqdm<=4.63.0
# Used for PR 825138
strictyaml<=1.6.1
# Used for PR 718512
colorama<=0.4.4
pyjwt<3.0.0
azure-storage-blob<13.0.0,>=12.10.0
azure-storage-file-share<13.0.0
azure-storage-file-datalake<=12.6.0
pydash<=4.9.0
pathspec==0.9.*
isodate
# Used for local endpoint story.
docker
azure-common<2.0.0,>=1.1
typing-extensions>=4.0.1
applicationinsights<=0.11.10
