-e ../../../tools/vcrpy
-e ../../../tools/azure-devtools
-e ../../../tools/azure-sdk-tools
-e ../../resources/azure-mgmt-resource
-e ../azure-mgmt-storage
../../core/azure-core
azure-identity
aiohttp>=3.0
