interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 20 Jan 2021 21:10:12 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/acontainerd0941360?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D8BD87C6EC3BAA"'
      last-modified: Wed, 20 Jan 2021 21:10:12 GMT
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://emilydevtest.blob.core.windows.net/acontainerd0941360?restype=container
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 20 Jan 2021 21:10:12 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/acontainerd0941360/blob1
  response:
    body:
      string: ''
    headers:
      content-md5: XrY7u+Ae7tCTyyK7j1rNww==
      etag: '"0x8D8BD87C6EF4EDC"'
      last-modified: Wed, 20 Jan 2021 21:10:12 GMT
      x-ms-content-crc64: vo7q9sPVKY0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://emilydevtest.blob.core.windows.net/acontainerd0941360/blob1
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 20 Jan 2021 21:10:12 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/acontainerd0941360/blob1?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D8BD87C6EF4EDC"'
      last-modified: Wed, 20 Jan 2021 21:10:12 GMT
      x-ms-request-server-encrypted: 'false'
      x-ms-snapshot: '2021-01-20T21:10:12.9052171Z'
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://emilydevtest.blob.core.windows.net/acontainerd0941360/blob1?comp=snapshot
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 20 Jan 2021 21:10:12 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/acontainerd0941360?restype=container&comp=list&include=snapshots
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"acontainerd0941360\"><Blobs><Blob><Name>blob1</Name><Snapshot>2021-01-20T21:10:12.9052171Z</Snapshot><Properties><Creation-Time>Wed,
        20 Jan 2021 21:10:12 GMT</Creation-Time><Last-Modified>Wed, 20 Jan 2021 21:10:12
        GMT</Last-Modified><Etag>0x8D8BD87C6EF4EDC</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>blob1</Name><Properties><Creation-Time>Wed, 20 Jan 2021
        21:10:12 GMT</Creation-Time><Last-Modified>Wed, 20 Jan 2021 21:10:12 GMT</Last-Modified><Etag>0x8D8BD87C6EF4EDC</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Wed, 20 Jan 2021
        21:10:12 GMT</Creation-Time><Last-Modified>Wed, 20 Jan 2021 21:10:12 GMT</Last-Modified><Etag>0x8D8BD87C6F76726</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5[...]
- request:
    body: "--===============0712464537==\r\nContent-Type: application/http\r\nContent-Transfer-Encoding:
      binary\r\nContent-ID: 0\r\n\r\nDELETE /acontainerd0941360/blob1? HTTP/1.1\r\nx-ms-delete-snapshots:
      only\r\nx-ms-date: Wed, 20 Jan 2021 21:10:12 GMT\r\nx-ms-client-request-id:
      e2985216-5b63-11eb-9b67-c8348e5fffbc\r\nAuthorization: SharedKey emilydevtest:blxBoTOD5T5PLEgCZP8ViVRtSxfkOmOudOdW6kum1TY=\r\n\r\n\r\n--===============0712464537==\r\nContent-Type:
      app[...]
[...]
