interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 01:58:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragea2841b87.blob.core.windows.net/utcontainera2841b87?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:e67dbdf8-601e-002b-8044-5df28f000000\nTime:2019-08-28T01:58:15.5361392Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'glmTmm79R3b8+jNH8ZuLe9oVIFekmt+fOy4t8CKFoao='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:4b278522-c937-11e9-907f-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 01:58:13 GMT\nx-ms-version:2019-02-02\n/pyacrstoragea2841b87/utcontainera2841b87\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragea2841b87.blob.core.windows.net
        - /utcontainera2841b87
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-type:
      - AppendBlob
      x-ms-date:
      - Wed, 28 Aug 2019 01:58:15 GMT
      x-ms-meta-BlobData:
      - Data1
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragea2841b87.blob.core.windows.net/utcontainera2841b87/bloba2841b87
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:e67dbdfb-601e-002b-0244-5df28f000000\nTime[...]
