interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 02:14:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage4f911e0d.blob.core.windows.net/utcontainer4f911e0d?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:9cb6dd3c-e01e-0031-0a46-5ddde0000000\nTime:2019-08-28T02:14:14.0585546Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'FZVpg0S1l2uUoU5P9//McZKDmAmlw0bNb2XqTrO3SHc='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:873b2f90-c939-11e9-ad79-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 02:14:13 GMT\nx-ms-version:2019-02-02\n/pyacrstorage4f911e0d/utcontainer4f911e0d\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage4f911e0d.blob.core.windows.net
        - /utcontainer4f911e0d
        - restype=container
        - ''
version: 1
