interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Aug 2020 17:34:01 GMT
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://pytagstoragestorname.blob.core.windows.net/containercd831351?timeout=5&restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8389C93E3221B"'
      last-modified:
      - Tue, 04 Aug 2020 17:34:02 GMT
      x-ms-version:
      - '2019-12-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 04 Aug 2020 17:34:02 GMT
      x-ms-tags:
      - condition%20tag=test%20tag
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://pytagstoragestorname.blob.core.windows.net/containercd831351/blobcd831351
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      etag:
      - '"0x8D8389C93F3B2E6"'
      last-modified:
      - Tue, 04 Aug 2020 17:34:02 GMT
      x-ms-content-crc64:
      - AAAAAAAAAAA=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
      x-ms-version-id:
      - '2020-08-04T17:34:02.1210621Z'
    status:
      code: 201
      message: Created
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 04 Aug 2020 17:34:02 GMT
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://pytagstoragestorname.blob.core.windows.net/containercd831351/blobcd831351?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - Cc/2Kr4DuKg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 201
      message: Created
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 04 Aug 2020 17:34:02 GMT
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://pytagstoragestorname.blob.core.windows.net/containercd831351/blobcd831351?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - +3yuPEA7IqE=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 201
      message: Created
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 04 Aug 2020 17:34:02 GMT
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://pytagstoragestorname.blob.core.windows.net/containercd831351/blobcd831351?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - VRJmMeosVKY=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 04 Aug 2020 17:34:02 GMT
      x-ms-if-tags:
      - '"condition tag"=''wrong tag'''
      x-ms-tags:
      - tag1=firsttag&tag2=secondtag&tag3=thirdtag
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://pytagstoragestorname.blob.core.windows.net/containercd831351/blobcd831351?comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The
        condition specified using HTTP conditional header(s) is not met.\nRequestId:6bbb2889-201e-005c-1385-6a18f8000000\nTime:2020-08-04T17:34:02.6199338Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ConditionNotMet
      x-ms-version:
      - '2019-12-12'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 04 Aug 2020 17:34:02 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://pytagstoragestorname.blob.core.windows.net/containercd831351/blobcd831351?comp=tags
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Tags><TagSet><Tag><Key>tag1</Key><Value>firsttag</Value></Tag><Tag><Key>tag2</Key><Value>secondtag</Value></Tag><Tag><Key>tag3</Key><Value>thirdtag</Value></Tag></TagSet></Tags>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
version: 1
