{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer6fd73564?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:57:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61246DBE08F7\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource6fd73564?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:57:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61246DC9A001\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer6fd73564/blob6fd73564",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 08 Jul 2022 20:57:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61246DD740B7\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer6fd73564/blob6fd73564?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 08 Jul 2022 20:57:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "ZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61246DE52165\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:11 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "RfVFzHuXlUY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer6fd73564/blob6fd73564",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:57:12 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-22/23",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA61246DE52165\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:11 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 08 Jul 2022 20:57:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "ZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXo="
    }
  ],
  "Variables": {}
}
