{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer8f5f3fe3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Aug 2022 21:32:10 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A4E9DB20C6D\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 21:32:09 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer8f5f3fe3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Modified-Since": "Tue, 09 Aug 2022 21:47:10 GMT",
        "x-ms-date": "Tue, 09 Aug 2022 21:32:10 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:1b35104f-701e-00c7-1e37-ac627c000000\n",
        "Time:2022-08-09T21:32:09.9515278Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "if_modified": "2022-08-09T21:47:10.576442"
  }
}
