{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainera47937ce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 08 Sep 2022 18:42:58 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA91C9F3D4E28C\u0022",
        "Last-Modified": "Thu, 08 Sep 2022 18:42:59 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainera47937ce/encryption_block_bloba47937ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 08 Sep 2022 18:42:59 GMT",
        "x-ms-meta-encryptiondata": "{\u0022WrappedContentKey\u0022: {\u0022KeyId\u0022: \u0022key1\u0022, \u0022EncryptedKey\u0022: \u0022zJpSf8DOs/fwIVPrWYZJkB\u002B6MPGuLB9\u002BPseTfxgbcDLGChi7TyYa0A==\u0022, \u0022Algorithm\u0022: \u0022A256KW\u0022}, \u0022EncryptionAgent\u0022: {\u0022Protocol\u0022: \u00221.0\u0022, \u0022EncryptionAlgorithm\u0022: \u0022AES_CBC_256\u0022}, \u0022ContentEncryptionIV\u0022: \u0022u9aHtmrl3JOwEx7Mn/TKqw==\u0022, \u0022KeyWrappingMetadata\u0022: {\u0022EncryptionLibrary\u0022: \u0022Python 12.14.0\u0022}, \u0022EncryptionMode\u0022: \u0022FullBlob\u0022}",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "/7ZWX2MU\u002B57uTrZwN3\u002BWRg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "CyiFAgYP5KesoRYMOudcpw==",
        "ETag": "\u00220x8DA91C9F3E0C6DD\u0022",
        "Last-Modified": "Thu, 08 Sep 2022 18:42:59 GMT",
        "x-ms-content-crc64": "8sSxPHtr9Ic=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
