interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 02:14:22 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageefaa13a0.blob.core.windows.net/utcontainerefaa13a0?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:bf2a9f18-701e-003f-6146-5d31eb000000\nTime:2019-08-28T02:14:23.4394845Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'o1dwxSEPM+Ud7W7hw+LlE8r7OiEKJbIMTmBv/85RN/w='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:8cd08e02-c939-11e9-882f-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 02:14:22 GMT\nx-ms-version:2019-02-02\n/pyacrstorageefaa13a0/utcontainerefaa13a0\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageefaa13a0.blob.core.windows.net
        - /utcontainerefaa13a0
        - restype=container
        - ''
version: 1
