interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 01:56:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee3e2081.blob.core.windows.net/utcontainere3e2081?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:4b8fab4b-b01e-0075-7e43-5d2f70000000\nTime:2019-08-28T01:56:26.1884971Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'iGMnA5OFcbcNdVfPLf0qklZM7puWCCDp6mLTftKmuqA='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:0ab86e66-c937-11e9-b5d2-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 01:56:25 GMT\nx-ms-version:2019-02-02\n/pyacrstoragee3e2081/utcontainere3e2081\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee3e2081.blob.core.windows.net
        - /utcontainere3e2081
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-type:
      - AppendBlob
      x-ms-date:
      - Wed, 28 Aug 2019 01:56:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee3e2081.blob.core.windows.net/utcontainere3e2081/blobe3e2081
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signatu[...]
