{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer155836d2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Jul 2022 01:15:38 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B7FB0612212\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 01:15:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource1155836d2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Jul 2022 01:15:38 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B7FB06EDBAB\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 01:15:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer155836d2/blob155836d2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 22 Jul 2022 01:15:38 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "c291cmNlIGJsb2IgZGF0YQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "2aOcYFcVKStc87w7K\u002BaH2w==",
        "ETag": "\u00220x8DA6B7FB07B5DCE\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 01:15:39 GMT",
        "x-ms-content-crc64": "hZmqWo4qMrE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer155836d2/blobcopy155836d2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 22 Jul 2022 01:15:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "ZGVzdGluYXRpb24gYmxvYiBkYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Bob6mTNI4zhfrgH2joaZxA==",
        "ETag": "\u00220x8DA6B7FB0A99301\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 01:15:39 GMT",
        "x-ms-content-crc64": "4ixHY25Hhu0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer155836d2/blobcopy155836d2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainer155836d2/blob155836d2?se=end\u0026sp=r\u0026sv=2023-01-03\u0026sr=b\u0026sig=fake_token_value",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Fri, 22 Jul 2022 01:15:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:933b50eb-c01e-003b-1e68-9d9f66000000\n",
        "Time:2022-07-22T01:15:39.6377506Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer155836d2/blobcopy155836d2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Jul 2022 01:15:39 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-15/16",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B7FB0C8FD51\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 01:15:39 GMT",
        "x-ms-blob-content-md5": "2aOcYFcVKStc87w7K\u002BaH2w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 22 Jul 2022 01:15:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "c291cmNlIGJsb2IgZGF0YQ=="
    }
  ],
  "Variables": {}
}
