interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:05:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/containername?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D75975F2EA1247"'
      last-modified: Fri, 25 Oct 2019 18:05:41 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedhajsdtot6ve.blob.core.windows.net
        - /containername
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:05:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/containername?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The
        specified container already exists.\nRequestId:90800a4f-701e-0023-485e-8b9e64000000\nTime:2019-10-25T18:05:45.0549826Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: ContainerAlreadyExists
      x-ms-version: '2019-02-02'
    status:
      code: 409
      message: The specified container already exists.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedhajsdtot6ve.blob.core.windows.net
        - /containername
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:05:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/?maxresults=1&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\"><MaxResults>1</MaxResults><Containers><Container><Name>containername</Name><Properties><Last-Modified>Fri,
        25 Oct 2019 18:05:41 GMT</Last-Modified><Etag>\"0x8D75975F2EA1247\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker>/blobstoragename/utcontainer17050f0f</NextMarker></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedhajsdtot6ve.blob.core.windows.net
        - /
        - maxresults=1&comp=list
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:05:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/containername?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D75975F2EA1247"'
      last-modified: Fri, 25 Oct 2019 18:05:41 GMT
      x-ms-has-immutability-policy: 'false'
      x-ms-has-legal-hold: 'false'
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedhajsdtot6ve.blob.core.windows.net
        - /containername
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:05:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/containername?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D75975F2EA1247"'
      last-modified: Fri, 25 Oct 2019 18:05:41 GMT
      x-ms-has-immutability-policy: 'false'
      x-ms-has-legal-hold: 'false'
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedhajsdtot6ve.blob.core.windows.net
        - /containername
        - restype=container
        - ''
version: 1
