{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/containerf95629d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 05 Aug 2022 00:27:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA767957150D94\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 00:27:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/containerf95629d9?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 05 Aug 2022 00:28:25 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EContainerNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified container does not exist.\n",
        "RequestId:3c6c17fa-601e-007a-1d62-a85fe4000000\n",
        "Time:2022-08-05T00:28:25.2649752Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/?comp=list\u0026include=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 05 Aug 2022 00:28:25 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/containerf95629d9?restype=container\u0026comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 05 Aug 2022 00:28:25 GMT",
        "x-ms-deleted-container-name": "containerf95629d9",
        "x-ms-deleted-container-version": "01D8A862349E0130",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/containerf95629d9?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 05 Aug 2022 00:28:25 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA76796948357F\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 00:28:25 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
