{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerccf33eb2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 27 Oct 2022 21:29:49 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAB86261019864\u0022",
        "Last-Modified": "Thu, 27 Oct 2022 21:29:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerccf33eb2/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 27 Oct 2022 21:29:50 GMT",
        "x-ms-meta-a0": "a",
        "x-ms-meta-a1": "a",
        "x-ms-meta-a2": "a",
        "x-ms-meta-a3": "a",
        "x-ms-meta-a4": "a",
        "x-ms-meta-a5": "a",
        "x-ms-meta-a6": "a",
        "x-ms-meta-a7": "a",
        "x-ms-meta-a8": "a",
        "x-ms-meta-a9": "a",
        "x-ms-meta-a_": "a",
        "x-ms-meta-a__": "a",
        "x-ms-meta-b": "a",
        "x-ms-meta-c": "a",
        "x-ms-meta-F": "a",
        "x-ms-meta-F_": "a",
        "x-ms-meta-y": "a",
        "x-ms-meta-z": "z_",
        "x-ms-meta-_": "a",
        "x-ms-meta-_a": "a",
        "x-ms-meta-_a_": "a",
        "x-ms-meta-_F": "a",
        "x-ms-meta-_F_": "a",
        "x-ms-meta-_z": "a",
        "x-ms-meta-__": "a",
        "x-ms-meta-__a": "a",
        "x-ms-meta-__F": "a",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8DAB86261127126\u0022",
        "Last-Modified": "Thu, 27 Oct 2022 21:29:50 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
