{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerce9f4038?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Jul 2022 21:31:14 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA65E02DF16FBA\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 21:31:14 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerce9f4038/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Jul 2022 21:31:14 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8DA65E02DFD1DBB\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 21:31:14 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerce9f4038/blob1?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-Modified-Since": "Thu, 14 Jul 2022 21:46:14 GMT",
        "x-ms-date": "Thu, 14 Jul 2022 21:31:14 GMT",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "42",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:97f142a5-201e-000c-67c9-974dca000000\n",
        "Time:2022-07-14T21:31:14.5682887Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "if_modified": "2022-07-14T21:46:14.759624"
  }
}
