interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 20:31:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage277119b1.blob.core.windows.net/containerfromblobserviceasync?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74CF7B8379E0E"'
      last-modified: Wed, 09 Oct 2019 20:31:52 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage277119b1.blob.core.windows.net
        - /containerfromblobserviceasync
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 20:31:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage277119b1.blob.core.windows.net/containerfromblobserviceasync?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74CF7B8379E0E"'
      last-modified: Wed, 09 Oct 2019 20:31:52 GMT
      x-ms-has-immutability-policy: 'false'
      x-ms-has-legal-hold: 'false'
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage277119b1.blob.core.windows.net
        - /containerfromblobserviceasync
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 20:31:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage277119b1.blob.core.windows.net/?include=metadata&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage277119b1.blob.core.windows.net/\"><Containers><Container><Name>containerfromblobserviceasync</Name><Properties><Last-Modified>Wed,
        09 Oct 2019 20:31:52 GMT</Last-Modified><Etag>\"0x8D74CF7B8379E0E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties><Metadata
        /></Container></Containers><NextMarker /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage277119b1.blob.core.windows.net
        - /
        - include=metadata&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 20:31:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage277119b1.blob.core.windows.net/?prefix=test-&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage277119b1.blob.core.windows.net/\"><Prefix>test-</Prefix><Containers
        /><NextMarker /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage277119b1.blob.core.windows.net
        - /
        - prefix=test-&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 20:31:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstorage277119b1.blob.core.windows.net/containerfromblobserviceasync?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage277119b1.blob.core.windows.net
        - /containerfromblobserviceasync
        - restype=container
        - ''
version: 1
