interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:16:33 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragedeba138e.blob.core.windows.net/utcontainerdeba138e?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74E6662B99F32"'
      last-modified: Fri, 11 Oct 2019 16:16:34 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedeba138e.blob.core.windows.net
        - /utcontainerdeba138e
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:16:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragedeba138e.blob.core.windows.net/utcontainersourcedeba138e?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74E6662C8BD42"'
      last-modified: Fri, 11 Oct 2019 16:16:34 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedeba138e.blob.core.windows.net
        - /utcontainersourcedeba138e
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:16:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragedeba138e.blob.core.windows.net/utpremiumcontainerdeba138e?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74E6662DFF47B"'
      last-modified: Fri, 11 Oct 2019 16:16:34 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedeba138e.blob.core.windows.net
        - /utpremiumcontainerdeba138e
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '1024'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 11 Oct 2019 16:16:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragedeba138e.blob.core.windows.net/utpremiumcontainerdeba138e/blobdeba138e
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74E6662E94C70"'
      last-modified: Fri, 11 Oct 2019 16:16:34 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedeba138e.blob.core.windows.net
        - /utpremiumcontainerdeba138e/blobdeba138e
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:16:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstoragedeba138e.blob.core.windows.net/utpremiumcontainerdeba138e/blobdeba138e
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D74E6662E94C70"'
      last-modified: Fri, 11 Oct 2019 16:16:34 GMT
      x-ms-access-tier: P10
      x-ms-access-tier-inferred: 'true'
      x-ms-blob-sequence-number: '0'
      x-ms-blob-type: PageBlob
      x-ms-creation-time: Fri, 11 Oct 2019 16:16:34 GMT
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedeba138e.blob.core.windows.net
        - /utpremiumcontainerdeba138e/blobdeba138e
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:16:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragedeba138e.blob.core.windows.net/utpremiumcontainerdeba138e?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragedeba138e.blob.core.windows.net/\" ContainerName=\"utpremiumcontainerdeba138e\"><Blobs><Blob><Name>blobdeba138e</Name><Properties><Creation-Time>Fri,
        11 Oct 2019 16:16:34 GMT</Creation-Time><Last-Modified>Fri, 11 Oct 2019 16:16:34
        GMT</Last-Modified><Etag>0x8D74E6662E94C70</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding/><Content-Language/><Content-MD5/><Cache-Control/><Content-Disposition/><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><AccessTier>P10</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker/></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedeba138e.blob.core.windows.net
        - /utpremiumcontainerdeba138e
        - restype=container&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-access-tier:
      - P50
      x-ms-date:
      - Fri, 11 Oct 2019 16:16:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragedeba138e.blob.core.windows.net/utpremiumcontainerdeba138e/blobdeba138e?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedeba138e.blob.core.windows.net
        - /utpremiumcontainerdeba138e/blobdeba138e
        - comp=tier
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:16:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstoragedeba138e.blob.core.windows.net/utpremiumcontainerdeba138e?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragedeba138e.blob.core.windows.net
        - /utpremiumcontainerdeba138e
        - restype=container
        - ''
version: 1
