{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer158834b8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 31 May 2022 22:41:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA4356BF12A494\u0022",
        "Last-Modified": "Tue, 31 May 2022 22:41:47 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer158834b8/encryption_block_blob158834b8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 31 May 2022 22:41:47 GMT",
        "x-ms-meta-encryptiondata": "{\u0022WrappedContentKey\u0022: {\u0022KeyId\u0022: \u0022key1\u0022, \u0022EncryptedKey\u0022: \u0022cd1M7/hb7eFt//VaLs0EDbjcw/HvLVVRMjh3ehPkfw9wxeeHIA7saw==\u0022, \u0022Algorithm\u0022: \u0022A256KW\u0022}, \u0022EncryptionAgent\u0022: {\u0022Protocol\u0022: \u00221.0\u0022, \u0022EncryptionAlgorithm\u0022: \u0022AES_CBC_256\u0022}, \u0022ContentEncryptionIV\u0022: \u0022fX2nSZi\u002B\u002Bwm95O8a5dtRKQ==\u0022, \u0022KeyWrappingMetadata\u0022: {\u0022EncryptionLibrary\u0022: \u0022Python 12.12.1\u0022}, \u0022EncryptionMode\u0022: \u0022FullBlob\u0022}",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Ojh30uBt1Jg\u002BX4mc/Eq1JuVd4VQm73FI4rLzHKo3sY/g9ZINsyukR\u002BVXQTKuzlrKcV8d3/NcMes8givY6Hb990FAuibHmv47rechjmpKD/ZnCLpdgvdcCyA4Ny819FjcKYTznJUtzu/LuPq1mK0bhkYHG33cJOQ3HG7GASwVTGhZ\u002B9RtIJic72VKKAEvPYkS",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "P/p2e4bNE1/wRSKDqkeceA==",
        "ETag": "\u00220x8DA4356BF163C2F\u0022",
        "Last-Modified": "Tue, 31 May 2022 22:41:47 GMT",
        "x-ms-content-crc64": "kPT4/2IJDY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer158834b8/encryption_block_blob158834b8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 31 May 2022 22:41:47 GMT",
        "x-ms-range": "bytes=0-63",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-63/144",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA4356BF163C2F\u0022",
        "Last-Modified": "Tue, 31 May 2022 22:41:47 GMT",
        "x-ms-blob-content-md5": "P/p2e4bNE1/wRSKDqkeceA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 31 May 2022 22:41:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022WrappedContentKey\u0022: {\u0022KeyId\u0022: \u0022key1\u0022, \u0022EncryptedKey\u0022: \u0022cd1M7/hb7eFt//VaLs0EDbjcw/HvLVVRMjh3ehPkfw9wxeeHIA7saw==\u0022, \u0022Algorithm\u0022: \u0022A256KW\u0022}, \u0022EncryptionAgent\u0022: {\u0022Protocol\u0022: \u00221.0\u0022, \u0022EncryptionAlgorithm\u0022: \u0022AES_CBC_256\u0022}, \u0022ContentEncryptionIV\u0022: \u0022fX2nSZi\u002B\u002Bwm95O8a5dtRKQ==\u0022, \u0022KeyWrappingMetadata\u0022: {\u0022EncryptionLibrary\u0022: \u0022Python 12.12.1\u0022}, \u0022EncryptionMode\u0022: \u0022FullBlob\u0022}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "Ojh30uBt1Jg\u002BX4mc/Eq1JuVd4VQm73FI4rLzHKo3sY/g9ZINsyukR\u002BVXQTKuzlrKcV8d3/NcMes8givY6Hb99w=="
    }
  ],
  "Variables": {}
}
