interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:00:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/acontainerc2c617d8?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D759754249AD33"'
      last-modified: Fri, 25 Oct 2019 18:00:45 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekzoj3d7n4a5m.blob.core.windows.net
        - /acontainerc2c617d8
        - restype=container
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 25 Oct 2019 18:00:45 GMT
      x-ms-meta-name:
      - bob
      x-ms-meta-number:
      - '1'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/acontainerc2c617d8/blob1
  response:
    body:
      string: ''
    headers:
      content-md5: XrY7u+Ae7tCTyyK7j1rNww==
      etag: '"0x8D759754251D6CB"'
      last-modified: Fri, 25 Oct 2019 18:00:45 GMT
      x-ms-content-crc64: vo7q9sPVKY0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekzoj3d7n4a5m.blob.core.windows.net
        - /acontainerc2c617d8/blob1
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:00:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/acontainerc2c617d8/blob1?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D759754251D6CB"'
      last-modified: Fri, 25 Oct 2019 18:00:45 GMT
      x-ms-request-server-encrypted: 'false'
      x-ms-snapshot: '2019-10-25T18:00:45.5330158Z'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekzoj3d7n4a5m.blob.core.windows.net
        - /acontainerc2c617d8/blob1
        - comp=snapshot
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:00:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.blob.core.windows.net/acontainerc2c617d8?include=metadata&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"acontainerc2c617d8\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Fri,
        25 Oct 2019 18:00:45 GMT</Creation-Time><Last-Modified>Fri, 25 Oct 2019 18:00:45
        GMT</Last-Modified><Etag>0x8D759754251D6CB</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><number>1</number><name>bob</name></Metadata></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Fri,
        25 Oct 2019 18:00:45 GMT</Creation-Time><Last-Modified>Fri, 25 Oct 2019 18:00:45
        GMT</Last-Modified><Etag>0x8D759754260584E</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><number>2</number><name>car</name></Metadata></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekzoj3d7n4a5m.blob.core.windows.net
        - /acontainerc2c617d8
        - include=metadata&restype=container&comp=list
        - ''
version: 1
