interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Oct 2021 05:47:03 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://storagename-secondary.blob.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>unavailable</Status><LastSyncTime></LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type: application/xml
      x-ms-version: '2020-10-02'
    status:
      code: 200
      message: OK
    url: https://emilydevtest-secondary.blob.core.windows.net/?restype=service&comp=stats
version: 1
