interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 16:18:27 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragef11f18b4.blob.core.windows.net/containerf11f18b4?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74D9D7C0F3554"'
      last-modified:
      - Thu, 10 Oct 2019 16:18:28 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>0</Id><AccessPolicy><Start>2019-10-10T16:17:28Z</Start><Expiry>2019-10-10T17:18:28Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>1</Id><AccessPolicy><Start>2019-10-10T16:17:28Z</Start><Expiry>2019-10-10T17:18:28Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>2</Id><AccessPolicy><Start>2019-10-10T16:17:28Z</Start><Expiry>2019-10-10T17:18:28Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 10 Oct 2019 16:18:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragef11f18b4.blob.core.windows.net/containerf11f18b4?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74D9D7C1B3FBC"'
      last-modified:
      - Thu, 10 Oct 2019 16:18:28 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 16:18:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragef11f18b4.blob.core.windows.net/containerf11f18b4?restype=container&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>0</Id><AccessPolicy><Start>2019-10-10T16:17:28.0000000Z</Start><Expiry>2019-10-10T17:18:28.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>1</Id><AccessPolicy><Start>2019-10-10T16:17:28.0000000Z</Start><Expiry>2019-10-10T17:18:28.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>2</Id><AccessPolicy><Start>2019-10-10T16:17:28.0000000Z</Start><Expiry>2019-10-10T17:18:28.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D74D9D7C1B3FBC"'
      last-modified:
      - Thu, 10 Oct 2019 16:18:28 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
