interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 02:15:55 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage9f731b5f.blob.core.windows.net/utcontainer9f731b5f?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:b4729963-501e-0095-3246-5d5050000000\nTime:2019-08-28T02:15:55.5638336Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'gbl7aHe+XIipK8ApVtnRSnd2GP56ofcSxivMHSa2Pj8='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:c413b5e6-c939-11e9-9e53-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 02:15:55 GMT\nx-ms-version:2019-02-02\n/pyacrstorage9f731b5f/utcontainer9f731b5f\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage9f731b5f.blob.core.windows.net
        - /utcontainer9f731b5f
        - restype=container
        - ''
version: 1
