{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container47c02f0e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:12:59 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA741360B7FAF0\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:13:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container47c02f0e?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:13:00 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "2f5ee5a0-dec9-454d-adb5-5267e27c5553",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA741360B7FAF0\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:13:00 GMT",
        "x-ms-lease-id": "2f5ee5a0-dec9-454d-adb5-5267e27c5553",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container47c02f0e?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 01 Aug 2022 23:13:00 GMT",
        "x-ms-lease-id": "2f5ee5a0-dec9-454d-adb5-5267e27c5553",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CId\u003Etestid\u003C/Id\u003E\u003CAccessPolicy\u003E\u003CStart\u003E2022-08-01T23:13:00Z\u003C/Start\u003E\u003CExpiry\u003E2022-08-02T00:13:00Z\u003C/Expiry\u003E\u003CPermission\u003Er\u003C/Permission\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003C/SignedIdentifiers\u003E"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA741360D49AC5\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:13:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container47c02f0e?restype=container\u0026comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:13:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA741360D49AC5\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:13:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CId\u003Etestid\u003C/Id\u003E\u003CAccessPolicy\u003E\u003CStart\u003E2022-08-01T23:13:00.0000000Z\u003C/Start\u003E\u003CExpiry\u003E2022-08-02T00:13:00.0000000Z\u003C/Expiry\u003E\u003CPermission\u003Er\u003C/Permission\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003C/SignedIdentifiers\u003E"
    }
  ],
  "Variables": {}
}
