{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc3db3257?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 21 Jul 2022 23:52:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B74222873B7\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:52:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource1c3db3257?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 21 Jul 2022 23:52:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B74223DA640\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:52:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc3db3257/blobc3db3257",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 23:52:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "c291cmNlIGJsb2IgZGF0YQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "2aOcYFcVKStc87w7K\u002BaH2w==",
        "ETag": "\u00220x8DA6B74224C39FA\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:52:56 GMT",
        "x-ms-content-crc64": "hZmqWo4qMrE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc3db3257/blobcopyc3db3257",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 23:52:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "ZGVzdGluYXRpb24gYmxvYiBkYXRh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Bob6mTNI4zhfrgH2joaZxA==",
        "ETag": "\u00220x8DA6B74227BF5A3\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:52:56 GMT",
        "x-ms-content-crc64": "4ixHY25Hhu0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc3db3257/blobcopyc3db3257",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainerc3db3257/blobc3db3257?se=end\u0026sp=r\u0026sv=2021-08-06\u0026sr=b\u0026sig=fake_token_value",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Thu, 21 Jul 2022 23:52:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:df6877c5-e01e-0085-3a5d-9df71f000000\n",
        "Time:2022-07-21T23:52:56.7946569Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc3db3257/blobcopyc3db3257",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 21 Jul 2022 23:52:56 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-15/16",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B7422B2DC20\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:52:56 GMT",
        "x-ms-blob-content-md5": "2aOcYFcVKStc87w7K\u002BaH2w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 23:52:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "c291cmNlIGJsb2IgZGF0YQ=="
    }
  ],
  "Variables": {}
}
