{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc1323603?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 08 Sep 2022 18:43:03 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA91C9F6AAC9E7\u0022",
        "Last-Modified": "Thu, 08 Sep 2022 18:43:03 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc1323603/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 08 Sep 2022 18:43:03 GMT",
        "x-ms-meta-encryptiondata": "{\u0022WrappedContentKey\u0022: {\u0022KeyId\u0022: \u0022key1\u0022, \u0022EncryptedKey\u0022: \u0022zJpSf8DOs/fwIVPrWYZJkB\u002B6MPGuLB9\u002BPseTfxgbcDLGChi7TyYa0A==\u0022, \u0022Algorithm\u0022: \u0022A256KW\u0022}, \u0022EncryptionAgent\u0022: {\u0022Protocol\u0022: \u00221.0\u0022, \u0022EncryptionAlgorithm\u0022: \u0022AES_CBC_256\u0022}, \u0022ContentEncryptionIV\u0022: \u0022u9aHtmrl3JOwEx7Mn/TKqw==\u0022, \u0022KeyWrappingMetadata\u0022: {\u0022EncryptionLibrary\u0022: \u0022Python 12.14.0\u0022}, \u0022EncryptionMode\u0022: \u0022FullBlob\u0022}",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA91C9F6B503AB\u0022",
        "Last-Modified": "Thu, 08 Sep 2022 18:43:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc1323603/blob1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8DA91C9F6B503AB\u0022",
        "x-ms-date": "Thu, 08 Sep 2022 18:43:03 GMT",
        "x-ms-meta-encryptiondata": "{\u0022WrappedContentKey\u0022: {\u0022KeyId\u0022: \u0022key1\u0022, \u0022EncryptedKey\u0022: \u0022zJpSf8DOs/fwIVPrWYZJkB\u002B6MPGuLB9\u002BPseTfxgbcDLGChi7TyYa0A==\u0022, \u0022Algorithm\u0022: \u0022A256KW\u0022}, \u0022EncryptionAgent\u0022: {\u0022Protocol\u0022: \u00221.0\u0022, \u0022EncryptionAlgorithm\u0022: \u0022AES_CBC_256\u0022}, \u0022ContentEncryptionIV\u0022: \u0022u9aHtmrl3JOwEx7Mn/TKqw==\u0022, \u0022KeyWrappingMetadata\u0022: {\u0022EncryptionLibrary\u0022: \u0022Python 12.14.0\u0022}, \u0022EncryptionMode\u0022: \u0022FullBlob\u0022}",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "DpWqPh7ScSxnXqsqX2xl/2MDC60HZZ5pj1YaRwCSZmPUiUJojKGr2ybP4rtDJ0u3JUckNdqvriFD/Nd2iqWpsZRst\u002Bl8pEeGHgZz83EUR\u002BBAJ0X4l/PdtyTn3eHGxbE/b1tUUOE7Z\u002BSseafQEkLOkMsN\u002BvM23jT6NRz53tAPlgbSiuyE9o\u002BYWD2fwCH\u002BGSosAyJxdpOfdv0i9s7oqn3sINpjqnZt4YOV5xTjo2qi98nDyS6ZmSNn9pPzEHEezZISFybhf3YincU3eKAdrEVGroylsFh6\u002BZsveNrWn0Z7shOeYnYq5JW8d2Vll6V7F03ha8wi4f54nLtRP5Obv485Kn4PyBA6K4I4d3W8zPPGUBCZ95mJrXBoSC0yxxOqcsROzwK\u002BpImXOwcfvoHOIceKddbVI1vdt14qPSRe6CYTtPaYvGXzfqMVX943z17Ih7mMMRLqJwucTfQYULi9/E078lA2fx8Ox6kSA8I7x7FcfLOD8rJQIomH3SiH6b1Iy3WDlKn6yWUrNvZfqHq61sfWqzyDs1U/Hlp2IHE8wgc0GRzDAQatFdgU3ZP1LQsl2mMNteB9UnJ19SMWVC5yJx5zTtbsvT933LsC9KXrgBjJB8E6fMwd5dG9UGYMjfuEoog0sOdqdtOaL\u002B0WKNb8V\u002BmvAjaElxnu06e2Q8kM74hpNwE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA91C9F6BEED50\u0022",
        "Last-Modified": "Thu, 08 Sep 2022 18:43:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "\u002BRLjHwfolKM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc1323603/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 08 Sep 2022 18:43:03 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA91C9F6BEED50\u0022",
        "Last-Modified": "Thu, 08 Sep 2022 18:43:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 Sep 2022 18:43:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022WrappedContentKey\u0022: {\u0022KeyId\u0022: \u0022key1\u0022, \u0022EncryptedKey\u0022: \u0022zJpSf8DOs/fwIVPrWYZJkB\u002B6MPGuLB9\u002BPseTfxgbcDLGChi7TyYa0A==\u0022, \u0022Algorithm\u0022: \u0022A256KW\u0022}, \u0022EncryptionAgent\u0022: {\u0022Protocol\u0022: \u00221.0\u0022, \u0022EncryptionAlgorithm\u0022: \u0022AES_CBC_256\u0022}, \u0022ContentEncryptionIV\u0022: \u0022u9aHtmrl3JOwEx7Mn/TKqw==\u0022, \u0022KeyWrappingMetadata\u0022: {\u0022EncryptionLibrary\u0022: \u0022Python 12.14.0\u0022}, \u0022EncryptionMode\u0022: \u0022FullBlob\u0022}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc1323603/blob1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 08 Sep 2022 18:43:04 GMT",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA91C9F6BEED50\u0022",
        "Last-Modified": "Thu, 08 Sep 2022 18:43:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 08 Sep 2022 18:43:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022WrappedContentKey\u0022: {\u0022KeyId\u0022: \u0022k[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc1323603/blob1?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 08 Sep 2022 18:43:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA91C9F6BEED50\u0022",
        "Last-Modified": "Thu, 08 Sep 2022 18:43:04 GMT",
        "x-ms-blob-content-length": "512",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E511\u003C/End\u003E\u003C/PageRange\u003E\u003C/PageList\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc1323603/blob3?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 08 Sep 2022 18:43:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA91C9F7485519\u0022",
        "Last-Modified": "Thu, 08 Sep 2022 18:43:04 GMT",
        "x-ms-blob-content-length": "512",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E511\u003C/End\u003E\u003C/PageRange\u003E\u003C/PageList\u003E"
      ]
    }
  ],
  "Variables": {}
}
