interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>1</Days></DeleteRetentionPolicy></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 09 Oct 2019 18:34:40 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoraged6b4181b.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 18:34:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoraged6b4181b.blob.core.windows.net/containerfordeletedblobs?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74CE75980831A"'
      last-modified:
      - Wed, 09 Oct 2019 18:34:41 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: Lorem ipsum dolor sit amet, consectetur adipiscing elit
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 18:34:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoraged6b4181b.blob.core.windows.net/containerfordeletedblobs/my_blob
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /BCgjff6+jhxFmZGYJ4clQ==
      etag:
      - '"0x8D74CE75988A838"'
      last-modified:
      - Wed, 09 Oct 2019 18:34:41 GMT
      x-ms-content-crc64:
      - 69CZwUFtgrU=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 18:34:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstoraged6b4181b.blob.core.windows.net/containerfordeletedblobs/my_blob
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 18:34:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoraged6b4181b.blob.core.windows.net/containerfordeletedblobs/my_blob?comp=undelete
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 18:34:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstoraged6b4181b.blob.core.windows.net/containerfordeletedblobs/my_blob
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /BCgjff6+jhxFmZGYJ4clQ==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D74CE75988A838"'
      last-modified:
      - Wed, 09 Oct 2019 18:34:41 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 09 Oct 2019 18:34:41 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 18:34:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstoraged6b4181b.blob.core.windows.net/containerfordeletedblobs?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
version: 1
