interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 17 Oct 2019 19:53:37 GMT']
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/acontainer231c1506?restype=container
  response:
    body: {string: ''}
    headers: {content-length: '0', date: 'Thu, 17 Oct 2019 19:53:37 GMT', etag: '"0x8D7533BB39E52BC"',
      last-modified: 'Thu, 17 Oct 2019 19:53:37 GMT', server: Windows-Azure-Blob/1.0
        Microsoft-HTTPAPI/2.0, x-ms-version: '2019-02-02'}
    status: {code: 201, message: Created}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, pyacrstorage3wfv5caujmik.blob.core.windows.net,
        /acontainer231c1506, restype=container, '']
- request:
    body: hello world
    headers:
      Content-Type: [application/octet-stream]
      If-None-Match: ['*']
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 17 Oct 2019 19:53:37 GMT']
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/acontainer231c1506/a%2Fblob1
  response:
    body: {string: ''}
    headers: {content-length: '0', content-md5: XrY7u+Ae7tCTyyK7j1rNww==, date: 'Thu,
        17 Oct 2019 19:53:37 GMT', etag: '"0x8D7533BB3A7185A"', last-modified: 'Thu,
        17 Oct 2019 19:53:37 GMT', server: Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0,
      x-ms-content-crc64: vo7q9sPVKY0=, x-ms-request-server-encrypted: 'true', x-ms-version: '2019-02-02'}
    status: {code: 201, message: Created}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, pyacrstorage3wfv5caujmik.blob.core.windows.net,
        /acontainer231c1506/a%2Fblob1, '', '']
[...]
- request:
    body: hello world
    headers:
      Content-Type: [application/octet-stream]
      If-None-Match: ['*']
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 17 Oct 2019 19:53:37 GMT']
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/acontainer231c1506/b%2Fc%2Fblob3
  response:
    body: {string: ''}
    headers: {content-length: '0', content-md5: XrY7u+Ae7tCTyyK7j1rNww==, date: 'Thu,
        17 Oct 2019 19:53:37 GMT', etag: '"0x8D7533BB3B32888"', last-modified: 'Thu,
        17 Oct 2019 19:53:37 GMT', server: Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0,
      x-ms-content-crc64: vo7q9sPVKY0=, x-ms-request-server-encrypted: 'true', x-ms-version: '2019-02-02'}
    status: {code: 201, message: Created}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, pyacrstorage3wfv5caujmik.blob.core.windows.net,
        /acontainer231c1506/b%2Fc%2Fblob3, '', '']
- request:
    body: hello world
    headers:
      Content-Type: [application/octet-stream]
      If-None-Match: ['*']
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 17 Oct 2019 19:53:37 GMT']
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/acontainer231c1506/blob4
  response:
    body: {string: ''}
    headers: {content-length: '0', content-md5: XrY7u+Ae7tCTyyK7j1rNww==, date: 'Thu,
        17 Oct 2019 19:53:37 GMT', etag: '"0x8D7533BB3B91D12"', last-modified: 'Thu,
        17 Oct 2019 19:53:37 GMT', server: Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0,
      x-ms-content-crc64: vo7q9sPVKY0=, x-ms-request-server-encrypted: 'true', x-ms-version: '2019-02-02'}
    status: {code: 201, message: Created}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, pyacrstorage3wfv5caujmik.blob.core.windows.net,
        /acontainer231c1506/blob4, '', '']
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 17 Oct 2019 19:53:37 GMT']
      x-ms-version: ['2019-02-02']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/acontainer231c1506?delimiter=/&restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"acontainer231c1506\"><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>a/</Name></BlobPrefix><BlobPrefix><Name>b/</Name></BlobPrefix><Blob><Name>blob4</Name><Properties><Creation-Time>Thu,
        17 Oct 2019 19:53:37 GMT</Creation-Time><Last-Modified>Thu, 17 Oct 2019 19:53:37
        GMT</Last-Modified><Etag>0x8D7533BB3B91D12</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"}
    headers: {content-type: application/xml, date: 'Thu, 17 Oct 2019 19:53:37 GMT',
      server: Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0, transfer-encoding: chunked,
      x-ms-version: '2019-02-02'}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, pyacrstorage3wfv5caujmik.blob.core.windows.net,
        /acontainer231c1506, delimiter=/&restype=container&comp=list, '']
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 17 Oct 2019 19:53:37 GMT']
      x-ms-version: ['2019-02-02']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/acontainer231c1506?prefix=a/&delimiter=/&restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"acontainer231c1506\"><Prefix>a/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>a/blob1</Name><Properties><Creation-Time>Thu,
        17 Oct 2019 19:53:37 GMT</Creation-Time><Last-Modified>Thu, 17 Oct 2019 19:53:37
        GMT</Last-Modified><Etag>0x8D7533BB3A7185A</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><B[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 17 Oct 2019 19:53:38 GMT']
      x-ms-version: ['2019-02-02']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/acontainer231c1506?prefix=b/&delimiter=/&restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"acontainer231c1506\"><Prefix>b/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>b/c/</Name></BlobPrefix></Blobs><NextMarker
        /></EnumerationResults>"}
    headers: {content-type: application/xml, date: 'Thu, 17 Oct 2019 19:53:37 GMT',
      server: Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0, transfer-encoding: chunked,
      x-ms-version: '2019-02-02'}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, pyacrstorage3wfv5caujmik.blob.core.windows.net,
        /acontainer231c1506, prefix=b/&delimiter=/&restype=container&comp=list, '']
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 17 Oct 2019 19:53:38 GMT']
      x-ms-version: ['2019-02-02']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/acontainer231c1506?prefix=b/c/&delimiter=/&restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"acontainer231c1506\"><Prefix>b/c/</Prefix>[...]
