{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container3c443113?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:12:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA74135CF3B632\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:12:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container3c443113?restype=container\u0026comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:12:53 GMT",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "42",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA74135D0424DE\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:12:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container3c443113?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:12:53 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "782187b7-efc3-4e98-b1bd-0efd39087f37",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA74135D0424DE\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:12:54 GMT",
        "x-ms-lease-id": "782187b7-efc3-4e98-b1bd-0efd39087f37",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container3c443113?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:12:53 GMT",
        "x-ms-lease-id": "782187b7-efc3-4e98-b1bd-0efd39087f37",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA74135D0424DE\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:12:54 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "42",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
