{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container79f32d37?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 10 Aug 2022 19:04:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7B0316940AD4\u0022",
        "Last-Modified": "Wed, 10 Aug 2022 19:04:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container79f32d37/blob79f32d37",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Aug 2022 19:04:02 GMT",
        "x-ms-tags": "%2B-.%2F%3A%3D_%20=firsttag\u0026tag2=%2B-.%2F%3A%3D_\u0026%2B-.%2F%3A%3D_1=%2B-.%2F%3A%3D_",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFh[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container79f32d37/blob79f32d37?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 10 Aug 2022 19:04:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7B0316A3C390\u0022",
        "Last-Modified": "Wed, 10 Aug 2022 19:04:02 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-08-10T19:04:02.2195716Z",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container79f32d37/blob79f32d37?comp=tags\u0026snapshot=2022-08-10T19:04:02.2195716Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 10 Aug 2022 19:04:03 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003E\u002B-./:=_ \u003C/Key\u003E\u003CValue\u003Efirsttag\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003E\u002B-./:=_1\u003C/Key\u003E\u003CValue\u003E\u002B-./:=_\u003C/Value\u003E\u003C/Tag\u003E\u003CTag\u003E\u003CKey\u003Etag2\u003C/Key\u003E\u003CValue\u003E\u002B-./:=_\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E"
      ]
    }
  ],
  "Variables": {}
}
