{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerf7d53076?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 21 Jul 2022 23:53:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B7424E6DDD4\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource1f7d53076?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 21 Jul 2022 23:53:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B7424F7080D\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerf7d53076/blobf7d53076",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 23:53:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DA6B7425052866\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:00 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerf7d53076/blobcopyf7d53076",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 23:53:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "dGVzdA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "CY9rzUYh03PK3k6DJie09g==",
        "ETag": "\u00220x8DA6B74253AD69B\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:01 GMT",
        "x-ms-content-crc64": "Q7G6/s6\u002Bu/k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerf7d53076/blobcopyf7d53076?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 21 Jul 2022 23:53:00 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B74253AD69B\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:01 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerf7d53076/blobcopyf7d53076",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainerf7d53076/blobf7d53076?se=end\u0026sp=r\u0026sv=2023-01-03\u0026sr=b\u0026sig=fake_token_value",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Thu, 21 Jul 2022 23:53:00 GMT",
        "x-ms-lease-id": "baddde9e-8247-4276-8bfa-c7a8081eba1d",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMismatchWithBlobOperation",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMismatchWithBlobOperation\u003C/Code\u003E\u003CMessage\u003EThe lease ID specified did not match the lease ID for the blob.\n",
        "RequestId:df6880ef-e01e-0085-0a5d-9df71f000000\n",
        "Time:2022-07-21T23:53:01.3370359Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerf7d53076/blobcopyf7d53076",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainerf7d53076/blobf7d53076?se=end\u0026sp=r\u0026sv=2023-01-03\u0026sr=b\u0026sig=fake_token_value",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Thu, 21 Jul 2022 23:53:01 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B7425742DD5\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:01 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
