{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer6d9e2f34?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 20:54:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7CA4DF86449A\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 20:54:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource6d9e2f34?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 20:54:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7CA4DF93FE38\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 20:54:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer6d9e2f34/%E5%95%8A%E9%BD%84%E4%B8%82%E7%8B%9B%E7%8B%9C",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Aug 2022 20:54:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8DA7CA4DFA13DB9\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 20:54:39 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer6d9e2f34/%E5%95%8A%E9%BD%84%E4%B8%82%E7%8B%9B%E7%8B%9C",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 20:54:39 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-10/11",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7CA4DFA13DB9\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 20:54:39 GMT",
        "x-ms-blob-content-md5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Aug 2022 20:54:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "aGVsbG8gd29ybGQ="
    }
  ],
  "Variables": {}
}
