{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer88032f83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 29 Aug 2022 22:26:06 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8A0D76E90549\u0022",
        "Last-Modified": "Mon, 29 Aug 2022 22:26:06 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer88032f83/cpk88032f83?comp=block\u0026blockid=MQ%3D%3D\u0026se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=b\u0026ses=testscope1\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Aug 2022 22:26:06 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "QUFB",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "Cc/2Kr4DuKg=",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer88032f83/cpk88032f83?comp=block\u0026blockid=Mg%3D%3D\u0026se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=b\u0026ses=testscope1\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Aug 2022 22:26:06 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "QkJC",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "\u002B3yuPEA7IqE=",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer88032f83/cpk88032f83?comp=block\u0026blockid=Mw%3D%3D\u0026se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=b\u0026ses=testscope1\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Aug 2022 22:26:06 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "Q0ND",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "VRJmMeosVKY=",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer88032f83/cpk88032f83?comp=blocklist\u0026se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=b\u0026ses=testscope1\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 29 Aug 2022 22:26:06 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CBlockList\u003E\u003CLatest\u003EMQ==\u003C/Latest\u003E\u003CLatest\u003EMg==\u003C/Latest\u003E\u003CLatest\u003EMw==\u003C/Latest\u003E\u003C/BlockList\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8A0D7738DF71\u0022",
        "Last-Modified": "Mon, 29 Aug 2022 22:26:06 GMT",
        "x-ms-content-crc64": "dAoQ5rLgKr0=",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer88032f83/cpk88032f83?se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=b\u0026ses=testscope1\u0026sig=fake_token_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 29 Aug 2022 22:26:06 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-8/9",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA8A0D7738DF71\u0022",
        "Last-Modified": "Mon, 29 Aug 2022 22:26:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 29 Aug 2022 22:26:06 GMT",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "QUFBQkJCQ0ND"
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer88032f83?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 29 Aug 2022 22:26:06 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
