interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jul 2020 06:15:31 GMT
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://storagename.blob.core.windows.net/acontainer44b81a54?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D828867A56ED8A"'
      last-modified: Wed, 15 Jul 2020 06:15:31 GMT
      x-ms-version: '2019-12-12'
    status:
      code: 201
      message: Created
    url: https://emilyeuap.blob.core.windows.net/acontainer44b81a54?restype=container
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-access-tier:
      - Archive
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 15 Jul 2020 06:15:31 GMT
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://storagename.blob.core.windows.net/acontainer44b81a54/blob1
  response:
    body:
      string: ''
    headers:
      content-md5: XrY7u+Ae7tCTyyK7j1rNww==
      etag: '"0x8D828867A641D96"'
      last-modified: Wed, 15 Jul 2020 06:15:31 GMT
      x-ms-content-crc64: vo7q9sPVKY0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-12-12'
      x-ms-version-id: '2020-07-15T06:15:31.7035414Z'
    status:
      code: 201
      message: Created
    url: https://emilyeuap.blob.core.windows.net/acontainer44b81a54/blob1
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Hot
      x-ms-date:
      - Wed, 15 Jul 2020 06:15:31 GMT
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://storagename.blob.core.windows.net/acontainer44b81a54/blob1?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-12-12'
    status:
      code: 202
      message: Accepted
    url: https://emilyeuap.blob.core.windows.net/acontainer44b81a54/blob1?comp=tier
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jul 2020 06:15:31 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://storagename.blob.core.windows.net/acontainer44b81a54?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"acontainer44b81a54\"><Blobs><Blob><Name>blob1</Name><VersionId>2020-07-15T06:15:31.7035414Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed,
        15 Jul 2020 06:15:31 GMT</Creation-Time><Last-Modified>Wed, 15 Jul 2020 06:15:31
        GMT</Last-Modified><Etag>0x8D828867A641D96</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Archive</AccessTier><ArchiveStatus>rehydrate-pending-to-hot</ArchiveStatus><RehydratePriority>Standard</RehydratePriority><AccessTierChangeTime>Wed,
        15 Jul 2020 06:15:31 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-12-12'
    status:
      code: 200
      message: OK
    url: https://emilyeuap.blob.core.windows.net/acontainer44b81a54?restype=container&comp=list
version: 1
