interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:31:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec39a1803.blob.core.windows.net/containerc39a1803?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DC0D458D41B"'
      last-modified: Thu, 10 Oct 2019 20:31:28 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec39a1803.blob.core.windows.net
        - /containerc39a1803
        - restype=container
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 10 Oct 2019 20:31:28 GMT
      x-ms-meta-name:
      - bob
      x-ms-meta-number:
      - '1'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec39a1803.blob.core.windows.net/containerc39a1803/blob1
  response:
    body:
      string: ''
    headers:
      content-md5: XrY7u+Ae7tCTyyK7j1rNww==
      etag: '"0x8D74DC0D4749DB8"'
      last-modified: Thu, 10 Oct 2019 20:31:28 GMT
      x-ms-content-crc64: vo7q9sPVKY0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec39a1803.blob.core.windows.net
        - /containerc39a1803/blob1
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:31:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec39a1803.blob.core.windows.net/containerc39a1803/blob1?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DC0D4749DB8"'
      last-modified: Thu, 10 Oct 2019 20:31:28 GMT
      x-ms-request-server-encrypted: 'false'
      x-ms-snapshot: '2019-10-10T20:31:29.0096849Z'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec39a1803.blob.core.windows.net
        - /containerc39a1803/blob1
        - comp=snapshot
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:31:29 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragec39a1803.blob.core.windows.net/containerc39a1803?include=snapshots,metadata&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragec39a1803.blob.core.windows.net/\" ContainerName=\"containerc39a1803\"><Blobs><Blob><Name>blob1</Name><Snapshot>2019-10-10T20:31:29.0096849Z</Snapshot><Properties><Creation-Time>Thu,
        10 Oct 2019 20:31:28 GMT</Creation-Time><Last-Modified>Thu, 10 Oct 2019 20:31:28
        GMT</Last-Modified><Etag>0x8D74DC0D4749DB8</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><number>1</number><name>bob</name></Metadata></Blob><Blob><Name>blob1</Name><Properties><Creation-Time>Thu,
        10 Oct 2019 20:31:28 GMT</Creation-Time><Last-Modified>Thu, 10 Oct 2019 20:31:28
        GMT</Last-Modified><Etag>0x8D74DC0D4749DB8</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><number>1</number><name>bob</name></Metadata></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Thu,
        10 Oct 2019 20:31:29 GMT</Creation-Time><Last-Modified>Thu, 10 Oct 2019 20:31:29
        GMT</Last-Modified><Etag>0x8D74DC0D4860712</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><number>2</number><name>car</name></Metadata></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec39a1803.blob.core.windows.net
        - /containerc39a1803
        - include=snapshots,metadata&restype=container&comp=list
        - ''
version: 1
