interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 01 Jul 2019 15:41:41 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename-secondary.blob.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Mon,
        01 Jul 2019 15:37:43 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 27 Aug 2019 00:27:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename-secondary.blob.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Tue,
        27 Aug 2019 00:25:32 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
