interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 07:50:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragebc4c17ad.blob.core.windows.net/utcontainerbc4c17ad?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D72C558D48E045"'
      last-modified: Thu, 29 Aug 2019 07:50:25 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragebc4c17ad.blob.core.windows.net
        - /utcontainerbc4c17ad
        - restype=container
        - ''
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 29 Aug 2019 07:50:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragebc4c17ad.blob.core.windows.net/utcontainerbc4c17ad/blobbc4c17ad?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: Cc/2Kr4DuKg=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragebc4c17ad.blob.core.windows.net
        - /utcontainerbc4c17ad/blobbc4c17ad
        - blockid=MQ%3D%3D&comp=block
        - ''
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 29 Aug 2019 07:50:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragebc4c17ad.blob.core.windows.net/utcontainerbc4c17ad/blobbc4c17ad?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: +3yuPEA7IqE=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragebc4c17ad.blob.core.windows.net
        - /utcontainerbc4c17ad/blobbc4c17ad
        - blockid=Mg%3D%3D&comp=block
        - ''
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 29 Aug 2019 07:50:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragebc4c17ad.blob.core.windows.net/utcontainerbc4c17ad/blobbc4c17ad?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: VRJmMeosVKY=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragebc4c17ad.blob.core.windows.net
        - /utcontainerbc4c17ad/blobbc4c17ad
        - blockid=Mw%3D%3D&comp=block
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>NA==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 29 Aug 2019 07:50:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragebc4c17ad.blob.core.windows.net/utcontainerbc4c17ad/blobbc4c17ad?comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidBlockList</Code><Message>The
        specified block list is invalid.\nRequestId:f518472a-001e-0139-2c3e-5e3687000000\nTime:2019-08-29T07:50:25.2512297Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: InvalidBlockList
      x-ms-version: '2019-02-02'
    status:
      code: 400
      message: The specified block list is invalid.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragebc4c17ad.blob.core.windows.net
        - /utcontainerbc4c17ad/blobbc4c17ad
        - comp=blocklist
        - ''
version: 1
