interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Jun 2022 22:25:17 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer83b111a2?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA441D9B41900E"'
      last-modified:
      - Wed, 01 Jun 2022 22:25:17 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 01 Jun 2022 22:25:17 GMT
      x-ms-meta-encryptiondata:
      - '{"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "QlVVCQp2EL7s1YnoFxURqwd4fpq1LIFoz45sqti15AOwIMS9eGoagQ==",
        "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
        "AES_GCM_256"}, "EncryptedRegionInfo": {"EncryptedRegionDataLength": 4194304,
        "NonceLength": 12, "TagLength": 16}, "KeyWrappingMetadata": {"EncryptionLibrary":
        "Python 12.12.1"}, "EncryptionMode": "FullBlob"}'
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer83b111a2/encryptionv2_blob83b111a2
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      etag:
      - '"0x8DA441D9B4E4F96"'
      last-modified:
      - Wed, 01 Jun 2022 22:25:17 GMT
      x-ms-content-crc64:
      - AAAAAAAAAAA=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Jun 2022 22:25:17 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainer83b111a2/encryptionv2_blob83b111a2
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA441D9B4E4F96"'
      last-modified:
      - Wed, 01 Jun 2022 22:25:17 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 01 Jun 2022 22:25:17 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-encryptiondata:
      - '{"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "QlVVCQp2EL7s1YnoFxURqwd4fpq1LIFoz45sqti15AOwIMS9eGoagQ==",
        "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
        "AES_GCM_256"}, "EncryptedRegionInfo": {"EncryptedRegionDataLength": 4194304,
        "NonceLength": 12, "TagLength": 16}, "KeyWrappingMetadata": {"EncryptionLibrary":
        "Python 12.12.1"}, "EncryptionMode": "FullBlob"}'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Jun 2022 22:25:17 GMT
      x-ms-range:
      - bytes=0-33554655
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainer83b111a2/encryptionv2_blob83b111a2
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidRange</Code><Message>The
        range specified is invalid for the current size of the resource.\nRequestId:2398d401-701e-0073-3d06-768251000000\nTime:2022-06-01T22:25:17.7960826Z</Message></Error>"
    headers:
      content-range:
      - bytes */0
      content-type:
      - application/xml
      x-ms-error-code:
      - InvalidRange
      x-ms-version:
      - '2021-06-08'
    status:
      code: 416
      message: The range specified is invalid for the current size of the resource.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 01 Jun 2022 22:25:17 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainer83b111a2/encryptionv2_blob83b111a2
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA441D9B4E4F96"'
      last-modified:
      - Wed, 01 Jun 2022 22:25:17 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 01 Jun 2022 22:25:17 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-encryptiondata:
      - '{"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "QlVVCQp2EL7s1YnoFxURqwd4fpq1LIFoz45sqti15AOwIMS9eGoagQ==",
        "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "2.0", "EncryptionAlgorithm":
        "AES_GCM_256"}, "EncryptedRegionInfo": {"EncryptedRegionDataLength": 4194304,
        "NonceLength": 12, "TagLength": 16}, "KeyWrappingMetadata": {"EncryptionLibrary":
        "Python 12.12.1"}, "EncryptionMode": "FullBlob"}'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
version: 1
