interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 27 Jul 2021 04:24:02 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagenamestorname.blob.core.windows.net/utcontainer88a816fd?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D950B65D8E1EE2"'
      last-modified:
      - Tue, 27 Jul 2021 04:24:03 GMT
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 27 Jul 2021 04:24:03 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagenamestorname.blob.core.windows.net/utcontainersource88a816fd?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D950B65DA1AA5F"'
      last-modified:
      - Tue, 27 Jul 2021 04:24:03 GMT
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"immutableStorageWithVersioning": {"enabled": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storagenamestorname/blobServices/default/containers/vlwcontainer88a816fd?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storagenamestorname/blobServices/default/containers/vlwcontainer88a816fd","name":"vlwcontainer88a816fd","type":"Microsoft.Storage/storageAccounts/blobServices/containers","properties":{"immutableStorageWithVersioning":{"enabled":true},"deleted":false,"remainingRetentionDays":0,"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D950B65E767A94"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '1024'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Tue, 27 Jul 2021 04:24:05 GMT
      x-ms-immutability-policy-mode:
      - Unlocked
      x-ms-immutability-policy-until-date:
      - Tue, 27 Jul 2021 04:24:10 GMT
      x-ms-legal-hold:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagenamestorname.blob.core.windows.net/vlwcontainer88a816fd/vlwblob88a816fd
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D950B65E98644A"'
      last-modified:
      - Tue, 27 Jul 2021 04:24:05 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 27 Jul 2021 04:24:05 GMT
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://storagenamestorname.blob.core.windows.net/vlwcontainer88a816fd/vlwblob88a816fd
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D950B65E98644A"'
      last-modified:
      - Tue, 27 Jul 2021 04:24:05 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-creation-time:
      - Tue, 27 Jul 2021 04:24:05 GMT
      x-ms-immutability-policy-mode:
      - unlocked
      x-ms-immutability-policy-until-date:
      - Tue, 27 Jul 2021 04:24:10 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-legal-hold:
      - 'true'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 27 Jul 2021 04:24:05 GMT
      x-ms-version:
      - '2020-10-02'
    method: DELETE
    uri: https://storagenamestorname.blob.core.windows.net/vlwcontainer88a816fd/vlwblob88a816fd?comp=immutabilityPolicies
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 27 Jul 2021 04:24:05 GMT
      x-ms-legal-hold:
      - 'false'
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagenamestorname.blob.core.windows.net/vlwcontainer88a816fd/vlwblob88a816fd?comp=legalhold
  response:
    body:
      string: ''
    headers:
      x-ms-legal-hold:
      - 'false'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 27 Jul 2021 04:24:05 GMT
      x-ms-version:
      - '2020-10-02'
    method: DELETE
    uri: https://storagenamestorname.blob.core.windows.net/vlwcontainer88a816fd/vlwblob88a816fd
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storagenamestorname/blobServices/default/containers/utcontainer88a816fd?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
