{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainera33070?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:57:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA612485025C92\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersourcea33070?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:57:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6124850FA109\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainera33070/bloba33070",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 08 Jul 2022 20:57:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6124851B1019\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainera33070/bloba33070?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 08 Jul 2022 20:57:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8g5ZWK6b2E5LiC54ub54ucIHdvcmxk",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA612485287BAE\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:50 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "UXe8nST0QoA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainera33070/bloba33070",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:57:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA612485287BAE\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:50 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 08 Jul 2022 20:57:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainera33070/bloba33070",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:57:51 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-26/27",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA612485287BAE\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:50 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 08 Jul 2022 20:57:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "aGVsbG8g5ZWK6b2E5LiC54ub54ucIHdvcmxk"
    }
  ],
  "Variables": {}
}
