interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Oct 2021 06:38:15 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container31f2152e?restype=container&timeout=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The
        specified container already exists.\nRequestId:28040c1f-001e-0055-7f45-bb437f000000\nTime:2021-10-07T06:38:15.2795017Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: ContainerAlreadyExists
      x-ms-version: '2020-10-02'
    status:
      code: 409
      message: The specified container already exists.
    url: https://emilydevtest.blob.core.windows.net/container31f2152e?restype=container&timeout=5
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '512'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Thu, 07 Oct 2021 06:38:15 GMT
      x-ms-tags:
      - tag1=firsttag&tag2=secondtag&tag3=thirdtag
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container31f2152e/blob31f2152e
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D9895D0AA2A312"'
      last-modified: Thu, 07 Oct 2021 06:38:15 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2020-10-02'
    status:
      code: 201
      message: Created
    url: https://emilydevtest.blob.core.windows.net/container31f2152e/blob31f2152e
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Oct 2021 06:38:15 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://storagename.blob.core.windows.net/container31f2152e/blob31f2152e?comp=tags
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Tags><TagSet><Tag><Key>tag1</Key><Value>firsttag</Value></Tag><Tag><Key>tag2</Key><Value>secondtag</Value></Tag><Tag><Key>tag3</Key><Value>thirdtag</Value></Tag></TagSet></Tags>"
    headers:
      content-type: application/xml
      x-ms-version: '2020-10-02'
    status:
      code: 200
      message: OK
    url: https://emilydevtest.blob.core.windows.net/container31f2152e/blob31f2152e?comp=tags
version: 1
