{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer50583de8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Jul 2022 21:30:41 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA65E01A05B11D\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 21:30:41 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer50583de8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Modified-Since": "Thu, 14 Jul 2022 21:15:41 GMT",
        "x-ms-date": "Thu, 14 Jul 2022 21:30:41 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer50583de8?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Jul 2022 21:30:41 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EContainerNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified container does not exist.\n",
        "RequestId:97f11535-201e-000c-1ec8-974dca000000\n",
        "Time:2022-07-14T21:30:41.1545968Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "if_modified": "2022-07-14T21:15:41.268117"
  }
}
