interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><StaticWebsite><Enabled>true</Enabled></StaticWebsite></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 29 Aug 2019 08:38:04 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragedf491ff5.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>StaticWebsiteNotSupportedByAccountType</Code><Message>Static
        website is not supported by this account type.\nRequestId:79e2a799-301e-00b7-0645-5e5bd1000000\nTime:2019-08-29T08:38:04.0635633Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - StaticWebsiteNotSupportedByAccountType
      x-ms-version:
      - '2019-02-02'
    status:
      code: 400
      message: Static website is not supported by this account type.
version: 1
