interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainercc06132f?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7597711CCDC31"'
      last-modified: Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragewusi22ibboee.blob.core.windows.net
        - /utcontainercc06132f
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainersourcecc06132f?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7597711D4A646"'
      last-modified: Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragewusi22ibboee.blob.core.windows.net
        - /utcontainersourcecc06132f
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '2048'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainercc06132f/blobcc06132f
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7597711DCAD3D"'
      last-modified: Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragewusi22ibboee.blob.core.windows.net
        - /utcontainercc06132f/blobcc06132f
        - ''
        - ''
- request:
    body: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainercc06132f/blobcc06132f?comp=page
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7597711E3659C"'
      last-modified: Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-blob-sequence-number: '0'
      x-ms-content-crc64: u661BimQ84c=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragewusi22ibboee.blob.core.windows.net
        - /utcontainercc06132f/blobcc06132f
        - comp=page
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainercc06132f/blobcc06132f?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7597711EA6C33"'
      last-modified: Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-request-server-encrypted: 'false'
      x-ms-snapshot: '2019-10-25T18:13:43.3170988Z'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragewusi22ibboee.blob.core.windows.net
        - /utcontainercc06132f/blobcc06132f
        - comp=snapshot
        - ''
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://pyacrstoragewusi22ibboee.blob.core.windows.net/utcontainercc06132f/blobcc06132f?snapshot=2019-10-25T18:13:43.3170988Z&se=2019-10-25T19%3A13%3A43Z&sp=r&sv=2019-02-02&sr=bs&sig=eEIW1GsAOwuT844pdO/GpYh8RI/bF65yN6hH5M24laI%3D
      x-ms-date:
      - Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainercc06132f/dest_blob?comp=incrementalcopy
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D75977120722EF"'
      last-modified: Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-copy-id: 338d7283-e753-4b29-bcf1-2051b2decc95
      x-ms-copy-status: pending
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragewusi22ibboee.blob.core.windows.net
        - /utcontainercc06132f/dest_blob
        - comp=incrementalcopy
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainercc06132f/dest_blob
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D75977120722EF"'
      last-modified: Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-blob-sequence-number: '0'
      x-ms-blob-type: PageBlob
      x-ms-copy-id: 338d7283-e753-4b29-bcf1-2051b2decc95
      x-ms-copy-progress: 0/2048
      x-ms-copy-source: https://pyacrstoragewusi22ibboee.blob.core.windows.net/utcontainercc06132f/blobcc06132f?snapshot=2019-10-25T18:13:43.3170988Z&se=2019-10-25T19%3A13%3A43Z&sp=r&sv=2019-02-02&sr=bs&sig=eEIW1GsAOwuT844pdO/GpYh8RI/bF65yN6hH5M24laI%3D
      x-ms-copy-status: pending
      x-ms-creation-time: Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-incremental-copy: 'true'
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragewusi22ibboee.blob.core.windows.net
        - /utcontainercc06132f/dest_blob
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:13:49 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainercc06132f/dest_blob
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D7597712109B22"'
      last-modified: Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-blob-sequence-number: '0'
      x-ms-blob-type: PageBlob
      x-ms-copy-completion-time: Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-copy-destination-snapshot: '2019-10-25T18:13:43.5343056Z'
      x-ms-copy-id: 338d7283-e753-4b29-bcf1-2051b2decc95
      x-ms-copy-progress: 2048/2048
      x-ms-copy-source: https://pyacrstoragewusi22ibboee.blob.core.windows.net/utcontainercc06132f/blobcc06132f?snapshot=2019-10-25T18:13:43.3170988Z&se=2019-10-25T19%3A13%3A43Z&sp=r&sv=2019-02-02&sr=bs&sig=eEIW1GsAOwuT844pdO/GpYh8RI/bF65yN6hH5M24laI%3D
      x-ms-copy-status: success
      x-ms-creation-time: Fri, 25 Oct 2019 18:13:43 GMT
      x-ms-incremental-copy: 'true'
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragewusi22ibboee.blob.core.windows.net
        - /utcontainercc06132f/dest_blob
        - ''
        - ''
version: 1
