{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainercf6b2e1d?restype=container\u0026se=end\u0026sp=rwdl\u0026sv=2021-08-06\u0026ss=b\u0026srt=co\u0026ses=end\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Aug 2022 00:21:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA862FB47F3DF0\u0022",
        "Last-Modified": "Thu, 25 Aug 2022 00:21:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainercf6b2e1d/blockblob?se=end\u0026sp=rwdl\u0026sv=2021-08-06\u0026ss=b\u0026srt=co\u0026ses=end\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 25 Aug 2022 00:21:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "QUFBQkJCQ0ND",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Yge131eW6WNBDTvEtqQhiw==",
        "ETag": "\u00220x8DA862FB48B56B3\u0022",
        "Last-Modified": "Thu, 25 Aug 2022 00:21:07 GMT",
        "x-ms-content-crc64": "DTngHrtvLQU=",
        "x-ms-encryption-scope": "testscope2",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainercf6b2e1d/copiedblobcf6b2e1d?se=end\u0026sp=rwdl\u0026sv=2021-08-06\u0026ss=b\u0026srt=co\u0026ses=end\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainercf6b2e1d/blockblob?se=end\u0026sp=rwdl\u0026sv=2021-08-06\u0026ss=b\u0026srt=co\u0026ses=end\u0026sig=fake_token_value",
        "x-ms-date": "Thu, 25 Aug 2022 00:21:07 GMT",
        "x-ms-requires-sync": "True",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA862FB4B0CDF5\u0022",
        "Last-Modified": "Thu, 25 Aug 2022 00:21:07 GMT",
        "x-ms-content-crc64": "DTngHrtvLQU=",
        "x-ms-copy-id": "375be1ae-84bd-4b7b-8d66-235e46a9e5f5",
        "x-ms-copy-status": "success",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainercf6b2e1d/copiedblobcf6b2e1d?se=end\u0026sp=rwdl\u0026sv=2021-08-06\u0026ss=b\u0026srt=co\u0026ses=end\u0026sig=fake_token_value",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Aug 2022 00:21:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Yge131eW6WNBDTvEtqQhiw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA862FB4B0CDF5\u0022",
        "Last-Modified": "Thu, 25 Aug 2022 00:21:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 25 Aug 2022 00:21:07 GMT",
        "x-ms-copy-id": "375be1ae-84bd-4b7b-8d66-235e46a9e5f5",
        "x-ms-copy-progress": "9/9",
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainercf6b2e1d/blockblob?se=2022-08-25T01%3A21%3A07Z\u0026sp=rwdl\u0026sv=2021-08-06\u0026ss=b\u0026srt=co\u0026ses=testscope2",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 25 Aug 2022 00:21:07 GMT",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainercf6b2e1d?restype=container\u0026se=end\u0026sp=rwdl\u0026sv=2021-08-06\u0026ss=b\u0026srt=co\u0026ses=end\u0026sig=fake_token_value",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Aug 2022 00:21:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
