{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/orp-source/blob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Aug 2022 20:23:01 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8DA797BCAC9065B\u0022",
        "Last-Modified": "Mon, 08 Aug 2022 20:23:01 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-08-08T20:23:01.6456795Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/orp-source/blob3?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 08 Aug 2022 20:23:01 GMT",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "42",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA797BCADDEAE2\u0022",
        "Last-Modified": "Mon, 08 Aug 2022 20:23:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-08-08T20:23:01.7836018Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/orp-source?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 08 Aug 2022 20:23:01 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u00[...]
