interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 Feb 2020 17:27:48 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerd5f4183b?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7AF17B748BEC0"'
      last-modified:
      - Tue, 11 Feb 2020 17:27:49 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: HelloWorld
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 11 Feb 2020 17:27:49 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerd5f4183b/blobd5f4183b1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - aOEJ8PQMpyoV4FzCJ4b45g==
      etag:
      - '"0x8D7AF17B7576839"'
      last-modified:
      - Tue, 11 Feb 2020 17:27:49 GMT
      x-ms-content-crc64:
      - 8R2aIe9T07E=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 Feb 2020 17:27:49 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.blob.core.windows.net/containerd5f4183b?prefix=blobd5f4183b&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"containerd5f4183b\"><Prefix>blobd5f4183b</Prefix><Blobs><Blob><Name>blobd5f4183b1</Name><Properties><Creation-Time>Tue,
        11 Feb 2020 17:27:49 GMT</Creation-Time><Last-Modified>Tue, 11 Feb 2020 17:27:49
        GMT</Last-Modified><Etag>0x8D7AF17B7576839</Etag><Content-Length>10</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>aOEJ8PQMpyoV4FzCJ4b45g==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blobd5f4183b2</Name><Properties><Creation-Time>Tue,
        11 Feb 2020 17:27:49 GMT</Creation-Time><Last-Modified>Tue, 11 Feb 2020 17:27:49
        GMT</Last-Modified><Etag>0x8D7AF17B76A093B</Etag><Content-Length>10</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>aOEJ8PQMpyoV4FzCJ4b45g==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blobd5f4183b3</Name><Properties><Creation-Time>Tue,
        11 Feb 2020 17:27:49 GMT</Creation-Time><Last-Modified>Tue, 11 Feb 2020 17:27:49
        GMT</Last-Modified><Etag>0x8D7AF17B779272E</Etag><Content-Length>10</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>aOEJ8PQMpyoV4FzCJ4b45g==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: "--===============5799046951047863873==\r\nContent-Type: application/http\r\nContent-Transfer-Encoding:
      binary\r\nContent-ID: 0\r\n\r\nDELETE /containerd5f4183b/blobd5f4183b1? HTTP/1.1\r\nx-ms-date:
      Tue, 11 Feb 2020 17:27:49 GMT\r\nx-ms-client-request-id: d35d9bac-4cf3-11ea-b06b-b831b5891408\r\nAuthorization:
      Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkhsQzBSMTJza3hOWjFXUXdtak9GXzZ0X3RERSIsImtpZCI6IkhsQzBSMTJza3hOWjFXUXdtak9GXzZ0X3RERSJ9.eyJhdWQiOi[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 11 Feb 2020 17:27:49 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.blob.core.windows.net/containerd5f4183b?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 202
      message: Accepted
version: 1
