{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5ad2e6e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 21 Jul 2022 23:53:03 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B742717C2E0\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource15ad2e6e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 21 Jul 2022 23:53:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B74272702DD\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5ad2e6e/blob5ad2e6e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 23:53:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "VGhpcyBpcyB0ZXN0IGRhdGEgdG8gYmUgY29waWVkIG92ZXIu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "BmRZdU7mXzYVn1nIbsazYg==",
        "ETag": "\u00220x8DA6B742733772B\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:04 GMT",
        "x-ms-content-crc64": "OIyBbegbJhU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5ad2e6e/blobcopy5ad2e6e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainer5ad2e6e/blob5ad2e6e?se=end\u0026sp=r\u0026sv=2021-08-06\u0026sr=b\u0026sig=fake_token_value",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Thu, 21 Jul 2022 23:53:04 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B7427613748\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:04 GMT",
        "x-ms-content-crc64": "OIyBbegbJhU=",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5ad2e6e/blobcopy5ad2e6e?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 21 Jul 2022 23:53:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobUsesCustomerSpecifiedEncryption",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobUsesCustomerSpecifiedEncryption\u003C/Code\u003E\u003CMessage\u003EThe blob is encrypted with customer specified encryption, but it was not provided in the request.\n",
        "RequestId:df6887a9-e01e-0085-1e5d-9df71f000000\n",
        "Time:2022-07-21T23:53:04.8500091Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5ad2e6e/blobcopy5ad2e6e?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 21 Jul 2022 23:53:04 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "Sanitized",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B7427613748\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:04 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-07-21T23:53:04.9326350Z",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
