{
  "Entries": [
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/container75f933e7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 Mar 2023 21:53:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB1B687E4B2BA1\u0022",
        "Last-Modified": "Thu, 02 Mar 2023 21:53:01 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/container75f933e7/utcontainer75f933e7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 02 Mar 2023 21:53:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "YWJj",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "kAFQmDzST7DWlj99KOF/cg==",
        "ETag": "\u00220x8DB1B687E5F28B7\u0022",
        "Last-Modified": "Thu, 02 Mar 2023 21:53:01 GMT",
        "x-ms-content-crc64": "6/rBP7vK5QU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-02T21:53:01.3771447Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/container75f933e7/utcontainer75f933e7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 Mar 2023 21:53:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kAFQmDzST7DWlj99KOF/cg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB1B687E5F28B7\u0022",
        "Last-Modified": "Thu, 02 Mar 2023 21:53:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Mar 2023 21:53:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-02T21:53:01.3771447Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/container75f933e7/utcontainer75f933e7?versionid=2023-03-02T21%3A53%3A01.3771447Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 Mar 2023 21:53:17 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kAFQmDzST7DWlj99KOF/cg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB1B687E5F28B7\u0022",
        "Last-Modified": "Thu, 02 Mar 2023 21:53:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Mar 2023 21:53:01 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-02T21:53:01.3771447Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/container75f933e7/utcontainer75f933e7?versionid=2023-03-02T21%3A53%3A01.6100127Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 Mar 2023 21:53:17 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "RArIWJLKQ60m1Ex62dR9Pg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB1B687E828A0F\u0022",
        "Last-Modified": "Thu, 02 Mar 2023 21:53:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Mar 2023 21:53:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-02T21:53:01.6100127Z"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
