interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 17:59:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container75091165?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D759751AA86553"'
      last-modified:
      - Fri, 25 Oct 2019 17:59:38 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 25 Oct 2019 17:59:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container75091165/blob_a1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D759751AB3082F"'
      last-modified:
      - Fri, 25 Oct 2019 17:59:39 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 25 Oct 2019 17:59:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container75091165/blob_b1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D759751AC77F87"'
      last-modified:
      - Fri, 25 Oct 2019 17:59:39 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 17:59:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/container75091165?prefix=blob_a&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"container75091165\"><Prefix>blob_a</Prefix><Blobs><Blob><Name>blob_a1</Name><Properties><Creation-Time>Fri,
        25 Oct 2019 17:59:39 GMT</Creation-Time><Last-Modified>Fri, 25 Oct 2019 17:59:39
        GMT</Last-Modified><Etag>0x8D759751AB3082F</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob_a2</Name><Properties><Creation-Time>Fri,
        25 Oct 2019 17:59:39 GMT</Creation-Time><Last-Modified>Fri, 25 Oct 2019 17:59:39
        GMT</Last-Modified><Etag>0x8D759751ABD6AFB</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
