interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 15 Oct 2019 16:11:19 GMT']
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container21a014dd?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D7518A513A486F"']
      last-modified: ['Tue, 15 Oct 2019 16:11:20 GMT']
      x-ms-version: ['2019-02-02']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 15 Oct 2019 16:11:20 GMT']
      x-ms-lease-action: [acquire]
      x-ms-lease-duration: ['-1']
      x-ms-proposed-lease-id: [20dd85ff-684f-48e2-bc85-2aca0e5d211e]
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container21a014dd?comp=lease&restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D7518A513A486F"']
      last-modified: ['Tue, 15 Oct 2019 16:11:20 GMT']
      x-ms-lease-id: [20dd85ff-684f-48e2-bc85-2aca0e5d211e]
      x-ms-version: ['2019-02-02']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-15T16:11:20Z</Start><Expiry>2019-10-15T17:11:20Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type: [application/xml; charset=utf-8]
      x-ms-date: ['Tue, 15 Oct 2019 16:11:20 GMT']
      x-ms-lease-id: [20dd85ff-684f-48e2-bc85-2aca0e5d211e]
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container21a014dd?restype=container&comp=acl
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D7518A514F4977"']
      last-modified: ['Tue, 15 Oct 2019 16:11:20 GMT']
      x-ms-version: ['2019-02-02']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 15 Oct 2019 16:11:20 GMT']
      x-ms-version: ['2019-02-02']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/container21a014dd?restype=container&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-15T16:11:20.0000000Z</Start><Expiry>2019-10-15T17:11:20.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D7518A514F4977"']
      last-modified: ['Tue, 15 Oct 2019 16:11:20 GMT']
      x-ms-version: ['2019-02-02']
    status: {code: 200, message: OK}
version: 1
