{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer53e73f9f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Aug 2022 21:43:33 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A5035078B9F\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 21:43:33 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer53e73f9f/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Aug 2022 21:43:33 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8DA7A503517F4DC\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 21:43:33 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer53e73f9f/blob1?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-Unmodified-Since": "Tue, 09 Aug 2022 21:28:34 GMT",
        "x-ms-date": "Tue, 09 Aug 2022 21:43:34 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:4859c145-501e-001b-7839-acc822000000\n",
        "Time:2022-08-09T21:43:33.4105097Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "if_modified": "2022-08-09T21:28:34.041848"
  }
}
