{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer9e293394?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:41:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7CBC23E0CBD0\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 23:41:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource9e293394?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:41:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7CBC23FA4381\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 23:41:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer9e293394/blob9e293394",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Aug 2022 23:41:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8gd29ybGTllYrpvYTkuILni5vni5w=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "aFkhSeVIRnJoB2MmKjC25w==",
        "ETag": "\u00220x8DA7CBC24083F65\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 23:41:12 GMT",
        "x-ms-content-crc64": "hP31XHHFURE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
