{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/containera770321f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:12:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA74135E5EAA75\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:12:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/containera770321f?restype=container\u0026comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:12:56 GMT",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "42",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA74135E70ECD4\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:12:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/containera770321f?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:12:56 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "c3a1d1c6-a5f0-4fb1-ad87-9c9b4558ba0a",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA74135E70ECD4\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:12:56 GMT",
        "x-ms-lease-id": "c3a1d1c6-a5f0-4fb1-ad87-9c9b4558ba0a",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/containera770321f?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:12:56 GMT",
        "x-ms-lease-id": "c3a1d1c6-a5f0-4fb1-ad87-9c9b4558ba0a",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA74135E70ECD4\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:12:56 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "42",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/containera770321f?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:12:56 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA74135E70ECD4\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:12:56 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
