interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 02:10:50 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage58411a4a.blob.core.windows.net/utcontainer58411a4a?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:9e04fb76-901e-0071-0345-5df40e000000\nTime:2019-08-28T02:10:50.5414064Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'K+BQzmDHDpV+PGE9rFKocSaTEE66+Lr9DHNmrmcWNiY='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:0e3e0e9a-c939-11e9-98bf-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 02:10:50 GMT\nx-ms-version:2019-02-02\n/pyacrstorage58411a4a/utcontainer58411a4a\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage58411a4a.blob.core.windows.net
        - /utcontainer58411a4a
        - restype=container
        - ''
- request:
    body: null
    headers:
      If-None-Match:
      - '*'
      x-ms-blob-content-length:
      - '512'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Wed, 28 Aug 2019 02:10:50 GMT
      x-ms-meta-encryptiondata:
      - '{"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "Demjupt/fkfTJom35SWcmUxU5Bg8MMNHu+rCGCUx1ypz4bQ/8wx1kw==",
        "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
        "AES_CBC_256"}, "ContentEncryptionIV": "zj5v6c5WoPNv2UyOe2XZ9g==", "KeyWrappingMetadata":
        {"EncryptionLibrary": "Python 12.0.0b2"}, "EncryptionMode": "FullBlob"}'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage58411a4a.blob.core.windows.net/utcontainer58411a4a/encryption_page_blob58411a4a
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:9e04fb7e-901e-0071-0a45-5df[...]
