{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer19522741?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 26 Aug 2022 22:54:17 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA87B5E86AECCE\u0022",
        "Last-Modified": "Fri, 26 Aug 2022 22:54:18 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer19522741/cpk19522741",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 26 Aug 2022 22:54:17 GMT",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA87B5E8757190\u0022",
        "Last-Modified": "Fri, 26 Aug 2022 22:54:18 GMT",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer19522741/cpk19522741?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 26 Aug 2022 22:54:17 GMT",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "QUFB",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA87B5E880E1A4\u0022",
        "Last-Modified": "Fri, 26 Aug 2022 22:54:18 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "Cc/2Kr4DuKg=",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer19522741/cpk19522741",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 26 Aug 2022 22:54:18 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-8/9",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA87B5E897738F\u0022",
        "Last-Modified": "Fri, 26 Aug 2022 22:54:18 GMT",
        "x-ms-blob-committed-block-count": "3",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 26 Aug 2022 22:54:18 GMT",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "QUFBQkJCQ0ND"
    }
  ],
  "Variables": {}
}
