interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 May 2021 02:33:35 GMT
      x-ms-version:
      - '2020-08-04'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container319b0fa8?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D915B781ABF866"'
      last-modified:
      - Thu, 13 May 2021 02:33:34 GMT
      x-ms-version:
      - '2020-08-04'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 May 2021 02:34:15 GMT
      x-ms-version:
      - '2020-08-04'
    method: GET
    uri: https://storagename.blob.core.windows.net/container319b0fa8?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:91c101d6-001e-0079-7aa0-479572000000\nTime:2021-05-13T02:34:15.0070460Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ContainerNotFound
      x-ms-version:
      - '2020-08-04'
    status:
      code: 404
      message: The specified container does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 May 2021 02:34:15 GMT
      x-ms-version:
      - '2020-08-04'
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&include=deleted
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Containers><Container><Name>container319b0fa8</Name><Deleted>true</Deleted><Version>01D747A05F3533D2</Version><Properties><Last-Modified>Thu,
        13 May 2021 02:33:34 GMT</Last-Modified><Etag>\"0x8D915B781ABF866\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>expired</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><DeletedTime>Thu,
        13 May 2021 02:33:34 GMT</DeletedTime><RemainingRetentionDays>7</RemainingRetentionDays></Properties></Container><Container><Name>container775b16a0</Name><Properties><Last-Modified>Sun,
        25 Apr 2021 23:57:06 GMT</Last-Modified><Etag>\"0x8D90845D4B76C02\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></P[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 May 2021 02:34:15 GMT
      x-ms-deleted-container-name:
      - container319b0fa8
      x-ms-deleted-container-version:
      - 01D747A05F3533D2
      x-ms-version:
      - '2020-08-04'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container319b0fa8?restype=container&comp=undelete
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-08-04'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 May 2021 02:34:15 GMT
      x-ms-version:
      - '2020-08-04'
    method: GET
    uri: https://storagename.blob.core.windows.net/container319b0fa8?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D915B799B9CFC4"'
      last-modified:
      - Thu, 13 May 2021 02:34:15 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2020-08-04'
    status:
      code: 200
      message: OK
version: 1
