{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerbf9e2fe2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Aug 2022 00:13:22 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA849C4A7061D0\u0022",
        "Last-Modified": "Tue, 23 Aug 2022 00:13:22 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerbf9e2fe2/cpkbf9e2fe2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 23 Aug 2022 00:13:22 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "QUFBQkJCQ0ND",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Yge131eW6WNBDTvEtqQhiw==",
        "ETag": "\u00220x8DA849C4A83671E\u0022",
        "Last-Modified": "Tue, 23 Aug 2022 00:13:22 GMT",
        "x-ms-content-crc64": "DTngHrtvLQU=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerbf9e2fe2/cpkbf9e2fe2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Aug 2022 00:13:22 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobUsesCustomerSpecifiedEncryption",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobUsesCustomerSpecifiedEncryption\u003C/Code\u003E\u003CMessage\u003EThe blob is encrypted with customer specified encryption, but it was not provided in the request.\n",
        "RequestId:98c57d5c-c01e-002b-5085-b65a0e000000\n",
        "Time:2022-08-23T00:13:22.7278879Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerbf9e2fe2/cpkbf9e2fe2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Aug 2022 00:13:22 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-8/9",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA849C4A83671E\u0022",
        "Last-Modified": "Tue, 23 Aug 2022 00:13:22 GMT",
        "x-ms-blob-content-md5": "Yge131eW6WNBDTvEtqQhiw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Aug 2022 00:13:22 GMT",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "QUFBQkJCQ0ND"
    }
  ],
  "Variables": {}
}
