{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer60c13ac2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:45:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6529C847096A\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer60c13ac2/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 13 Jul 2022 23:45:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8DA6529C8578B83\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:35 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer60c13ac2/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "If-Modified-Since": "Wed, 13 Jul 2022 23:30:36 GMT",
        "x-ms-date": "Wed, 13 Jul 2022 23:45:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6529C8578B83\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 13 Jul 2022 23:45:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "if_modified": "2022-07-13T23:30:36.041633"
  }
}
