interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><StaticWebsite><Enabled>true</Enabled><IndexDocument>index.html</IndexDocument><ErrorDocument404Path>errors/error/404error.html</ErrorDocument404Path></StaticWebsite></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 28 Aug 2019 02:12:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage44cd1a39.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>StaticWebsiteNotSupportedByAccountType</Code><Message>Static
        website is not supported by this account type.\nRequestId:0f65761b-a01e-002a-1046-5d84ea000000\nTime:2019-08-28T02:12:18.8917994Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - StaticWebsiteNotSupportedByAccountType
      x-ms-version:
      - '2019-02-02'
    status:
      code: 400
      message: Static website is not supported by this account type.
version: 1
