interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 01:58:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage8b8216ec.blob.core.windows.net/utcontainer8b8216ec?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:8a49e0b6-401e-00ac-5b44-5d895c000000\nTime:2019-08-28T01:58:36.7788620Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'I2MGniHiOYQ4ixpC70yAXJrKX1WqhUGf9MLHN4qPLAU='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:58e5319c-c937-11e9-8213-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 01:58:36 GMT\nx-ms-version:2019-02-02\n/pyacrstorage8b8216ec/utcontainer8b8216ec\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8b8216ec.blob.core.windows.net
        - /utcontainer8b8216ec
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-type:
      - AppendBlob
      x-ms-date:
      - Wed, 28 Aug 2019 01:58:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage8b8216ec.blob.core.windows.net/utcontainer8b8216ec/blob8b8216ec
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the sign[...]
