interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Dec 2020 01:10:24 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer50d0216a?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D8A2F1B2DDF955"'
      last-modified: Fri, 18 Dec 2020 01:10:24 GMT
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://emilydevtest.blob.core.windows.net/utcontainer50d0216a?restype=container
- request:
    body: This is test data to be copied over.
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-access-tier:
      - Cool
      x-ms-blob-content-disposition:
      - inline
      x-ms-blob-content-language:
      - spanish
      x-ms-blob-content-type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 18 Dec 2020 01:10:24 GMT
      x-ms-tags:
      - tag1=firsttag&tag2=secondtag&tag3=thirdtag
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer50d0216a/blob50d0216a
  response:
    body:
      string: ''
    headers:
      content-md5: BmRZdU7mXzYVn1nIbsazYg==
      etag: '"0x8D8A2F1B2E2E318"'
      last-modified: Fri, 18 Dec 2020 01:10:24 GMT
      x-ms-content-crc64: OIyBbegbJhU=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://emilydevtest.blob.core.windows.net/utcontainer50d0216a/blob50d0216a
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Dec 2020 01:10:24 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - 75cd31c3-2206-4b71-8e6a-1234f3e618df
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer50d0216a/blob50d0216a?comp=lease
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D8A2F1B2E2E318"'
      last-modified: Fri, 18 Dec 2020 01:10:24 GMT
      x-ms-lease-id: 75cd31c3-2206-4b71-8e6a-1234f3e618df
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://emilydevtest.blob.core.windows.net/utcontainer50d0216a/blob50d0216a?comp=lease
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Dec 2020 01:10:24 GMT
      x-ms-version:
      - '2020-04-08'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainer50d0216a/blob50d0216a
  response:
    body:
      string: ''
    headers:
      content-disposition: inline
      content-language: spanish
      content-md5: BmRZdU7mXzYVn1nIbsazYg==
      content-type: application/octet-stream
      etag: '"0x8D8A2F1B2E2E318"'
      last-modified: Fri, 18 Dec 2020 01:10:24 GMT
      x-ms-access-tier: Cool
      x-ms-access-tier-change-time: Fri, 18 Dec 2020 01:10:24 GMT
      x-ms-blob-type: BlockBlob
      x-ms-creation-time: Fri, 18 Dec 2020 01:10:24 GMT
      x-ms-lease-duration: infinite
      x-ms-lease-state: leased
      x-ms-lease-status: locked
      x-ms-server-encrypted: 'true'
      x-ms-tag-count: '3'
      x-ms-version: '2020-04-08'
    status:
      code: 200
      message: OK
    url: https://emilydevtest.blob.core.windows.net/utcontainer50d0216a/blob50d0216a
- request:
    body: null
    headers:
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-source:
      - https://emilydevtest.blob.core.windows.net/utcontainer50d0216a/blob50d0216a?se=2020-12-18T02%3A10%3A24Z&sp=rt&sv=2020-04-08&sr=b&sig=UyZHpbszhsF1j31rQJgyToxizPe7XX4wGhJSUkD6NxE%3D
      x-ms-copy-source-blob-properties:
      - 'true'
      x-ms-date:
      - Fri, 18 Dec 2020 01:10:24 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer50d0216a/blobcopy50d0216a
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D8A2F1B33ECF31"'
      last-modified: Fri, 18 Dec 2020 01:10:25 GMT
      x-ms-content-crc64: OIyBbegbJhU=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://emilydevtest.blob.core.windows.net/utcontainer50d0216a/blobcopy50d0216a
- request:
    body: null
    headers:
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-source:
      - https://emilydevtest.blob.core.windows.net/utcontainer50d0216a/blob50d0216a?se=2020-12-18T02%3A10%3A24Z&sp=rt&sv=2020-04-08&sr=b&sig=UyZHpbszhsF1j31rQJgyToxizPe7XX4wGhJSUkD6NxE%3D
      x-ms-copy-source-blob-properties:
      - 'false'
      x-ms-date:
      - Fri, 18 Dec 2020 01:10:25 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer50d0216a/blob2copy
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D8A2F1B3444E6F"'
      last-modified: Fri, 18 Dec 2020 01:10:25 GMT
      x-ms-content-crc64: OIyBbegbJhU=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://emilydevtest.blob.core.windows.net/utcontainer50d0216a/blob2copy
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Dec 2020 01:10:25 GMT
      x-ms-version:
      - '2020-04-08'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainer50d0216a/blobcopy50d0216a
  response:
    body:
      string: ''
    headers:
      content-disposition: inline
      content-language: spanish
      content-md5: BmRZdU7mXzYVn1nIbsazYg==
      content-type: application/octet-stream
      etag: '"0x8D8A2F1B33ECF31"'
      last-modified: Fri, 18 Dec 2020 01:10:25 GMT
      x-ms-access-tier: Hot
      x-ms-access-tier-inferred: 'true'
      x-ms-blob-type: BlockBlob
      x-ms-creation-time: Fri, 18 Dec 2020 01:10:25 GMT
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2020-04-08'
    status:
      code: 200
      message: OK
    url: https://emilydevtest.blob.core.windows.net/utcontainer50d0216a/blobcopy50d0216a
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Dec 2020 01:10:25 GMT
      x-ms-version:
      - '2020-04-08'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainer50d0216a/blob2copy
  response:
    body:
      string: ''
    headers:
      content-md5: BmRZdU7mXzYVn1nIbsazYg==
      content-type: application/octet-stream
      etag: '"0x8D8A2F1B3444E6F"'
      last-modified: Fri, 18 Dec 2020 01:10:25 GMT
      x-ms-access-tier: Hot
      x-ms-access-tier-inferred: 'true'
      x-ms-blob-type: BlockBlob
      x-ms-creation-time: Fri, 18 Dec 2020 01:10:25 GMT
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2020-04-08'
    status:
      code: 200
      message: OK
    url: https://emilydevtest.blob.core.windows.net/utcontainer50d0216a/blob2copy
version: 1
