interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 01:26:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage37c11d81.blob.core.windows.net/utcontainer37c11d81?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DE9FDC3A3A9"'
      last-modified: Fri, 11 Oct 2019 01:26:07 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage37c11d81.blob.core.windows.net
        - /utcontainer37c11d81
        - restype=container
        - ''
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 11 Oct 2019 01:26:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage37c11d81.blob.core.windows.net/utcontainer37c11d81/blob1
  response:
    body:
      string: ''
    headers:
      content-md5: 1B2M2Y8AsgTpgAmY7PhCfg==
      etag: '"0x8D74DE9FDCA4D3C"'
      last-modified: Fri, 11 Oct 2019 01:26:07 GMT
      x-ms-content-crc64: AAAAAAAAAAA=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage37c11d81.blob.core.windows.net
        - /utcontainer37c11d81/blob1
        - ''
        - ''
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 11 Oct 2019 01:26:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage37c11d81.blob.core.windows.net/utcontainer37c11d81/blob1?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: Cc/2Kr4DuKg=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage37c11d81.blob.core.windows.net
        - /utcontainer37c11d81/blob1
        - blockid=MQ%3D%3D&comp=block
        - ''
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 11 Oct 2019 01:26:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage37c11d81.blob.core.windows.net/utcontainer37c11d81/blob1?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: VRJmMeosVKY=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage37c11d81.blob.core.windows.net
        - /utcontainer37c11d81/blob1
        - blockid=Mw%3D%3D&comp=block
        - ''
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 11 Oct 2019 01:26:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage37c11d81.blob.core.windows.net/utcontainer37c11d81/blob1?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: +3yuPEA7IqE=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage37c11d81.blob.core.windows.net
        - /utcontainer37c11d81/blob1
        - blockid=Mg%3D%3D&comp=block
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      If-Match:
      - '0x111111111111111'
      x-ms-date:
      - Fri, 11 Oct 2019 01:26:08 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage37c11d81.blob.core.windows.net/utcontainer37c11d81/blob1?comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The
        condition specified using HTTP conditional header(s) is not met.\nRequestId:6953dd6f-301e-0033-4bd2-7fdf1a000000\nTime:2019-10-11T01:26:07.8339017Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: ConditionNotMet
      x-ms-version: '2019-02-02'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage37c11d81.blob.core.windows.net
        - /utcontainer37c11d81/blob1
        - comp=blocklist
        - ''
version: 1
