interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 06 Apr 2022 21:18:04 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerdae51878?restype=container&timeout=5
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA1812F0A48364"'
      last-modified:
      - Wed, 06 Apr 2022 21:18:05 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: Hello World
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 06 Apr 2022 21:18:05 GMT
      x-ms-tags:
      - tag1=firsttag&tag2=secondtag&tag3=thirdtag
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerdae51878/blobdae51878
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sQqNsWTgdUEFt6mb5y4/5Q==
      etag:
      - '"0x8DA1812F0B0B3D7"'
      last-modified:
      - Wed, 06 Apr 2022 21:18:05 GMT
      x-ms-content-crc64:
      - YeJLfssylmU=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://storagename.blob.core.windows.net/containerdae51878/blobdae51878?se=2022-04-06T22%3A18%3A05Z&sp=rt&sv=2021-06-08&sr=b&sig=xxx
      x-ms-copy-source-tag-option:
      - COPY
      x-ms-date:
      - Wed, 06 Apr 2022 21:18:05 GMT
      x-ms-requires-sync:
      - 'True'
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerdae51878/blob1copy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA1812F0C8F5F8"'
      last-modified:
      - Wed, 06 Apr 2022 21:18:05 GMT
      x-ms-content-crc64:
      - YeJLfssylmU=
      x-ms-copy-id:
      - bb6117f8-2e25-4ddd-9f98-2c6c33050cc1
      x-ms-copy-status:
      - success
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 06 Apr 2022 21:18:05 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/containerdae51878/blob1copy?comp=tags
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Tags><TagSet><Tag><Key>tag1</Key><Value>firsttag</Value></Tag><Tag><Key>tag2</Key><Value>secondtag</Value></Tag><Tag><Key>tag3</Key><Value>thirdtag</Value></Tag></TagSet></Tags>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
version: 1
