{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerce613b97?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:57:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61248689ACEC\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersourcece613b97?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:57:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61248694F5DA\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerce613b97/blobce613b97",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 08 Jul 2022 20:57:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA612486A150B8\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerce613b97/blobce613b97?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 08 Jul 2022 20:57:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "//5oAGUAbABsAG8AIABKVUSfAk7bctxyIAB3AG8AcgBsAGQA",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA612486ADAB04\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:57:53 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "3oHrdKq2zcg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
