{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer46d8371c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 00:02:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA607536719E25\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 00:02:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource46d8371c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 00:02:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6075367C23F0\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 00:02:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer46d8371c/blob46d8371c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 08 Jul 2022 00:02:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA60753686F971\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 00:02:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer46d8371c/blob46d8371c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 08 Jul 2022 00:02:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "//5oAGUAbABsAG8AIABKVUSfAk7bctxyIAB3AG8AcgBsAGQA",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA60753691F459\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 00:02:56 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "3oHrdKq2zcg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
