{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer1d322c56?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 27 Aug 2022 00:50:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA87C61B10A42A\u0022",
        "Last-Modified": "Sat, 27 Aug 2022 00:50:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource11d322c56?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 27 Aug 2022 00:50:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA87C61B1D0031\u0022",
        "Last-Modified": "Sat, 27 Aug 2022 00:50:15 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer1d322c56/blob1d322c56",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 27 Aug 2022 00:50:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DA87C61B2556D6\u0022",
        "Last-Modified": "Sat, 27 Aug 2022 00:50:15 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer1d322c56/blob1copy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-access-tier": "Cold",
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainer1d322c56/blob1d322c56",
        "x-ms-date": "Sat, 27 Aug 2022 00:50:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA87C61B44028F\u0022",
        "Last-Modified": "Sat, 27 Aug 2022 00:50:15 GMT",
        "x-ms-copy-id": "cf462601-7621-4a22-a9a2-5672953cd225",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer1d322c56/blob1copy",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 27 Aug 2022 00:50:16 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA87C61B44028F\u0022",
        "Last-Modified": "Sat, 27 Aug 2022 00:50:15 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Sat, 27 Aug 2022 00:50:15 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Sat, 27 Aug 2022 00:50:15 GMT",
        "x-ms-copy-id": "cf462601-7621-4a22-a9a2-5672953cd225",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainer1d322c56/blob1d322c56",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Sat, 27 Aug 2022 00:50:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
