interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 08:37:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage3074153d.blob.core.windows.net/utcontainer3074153d?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72C5C23850D3E"'
      last-modified:
      - Thu, 29 Aug 2019 08:37:34 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 29 Aug 2019 08:37:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage3074153d.blob.core.windows.net/utcontainer3074153d/blob3074153d?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - Cc/2Kr4DuKg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 29 Aug 2019 08:37:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage3074153d.blob.core.windows.net/utcontainer3074153d/blob3074153d?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - +3yuPEA7IqE=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 29 Aug 2019 08:37:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage3074153d.blob.core.windows.net/utcontainer3074153d/blob3074153d?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - VRJmMeosVKY=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 29 Aug 2019 08:37:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage3074153d.blob.core.windows.net/utcontainer3074153d/blob3074153d?comp=blocklist
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72C5C23C20510"'
      last-modified:
      - Thu, 29 Aug 2019 08:37:34 GMT
      x-ms-content-crc64:
      - dAoQ5rLgKr0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 08:37:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage3074153d.blob.core.windows.net/utcontainer3074153d/blob3074153d?blocklisttype=committed&comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>MQ==</Name><Size>3</Size></Block><Block><Name>Mg==</Name><Size>3</Size></Block><Block><Name>Mw==</Name><Size>3</Size></Block></CommittedBlocks></BlockList>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D72C5C23C20510"'
      last-modified:
      - Thu, 29 Aug 2019 08:37:34 GMT
      x-ms-blob-content-length:
      - '9'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
