interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>1</Days></DeleteRetentionPolicy></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 25 Jun 2019 23:47:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 25 Jun 2019 23:47:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerforblobs?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F9C776D6FC3D"'
      Last-Modified:
      - Tue, 25 Jun 2019 23:47:20 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dolor purus,
      interdum in turpis ut, ultrices ornare augue. Donec mollis varius sem, et mattis
      ex gravida eget. Duis nibh magna, ultrices a nisi quis, pretium tristique ligula.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Vestibulum in dui arcu. Nunc at orci volutpat, elementum magna eget,
      pellentesque sem. Etiam id placerat nibh. Vestibulum varius at elit ut mattis.\r\n\r\nSuspendisse
      ipsum sem, placerat id blandit ac, cursus eget purus. Vestibulum pretium ante
      eu augue aliquam, ultrices fermentum nibh condimentum. Pellentesque pulvinar
      feugiat augue vel accumsan. Nulla imperdiet viverra nibh quis rhoncus. Nunc
      tincidunt sollicitudin urna, eu efficitur elit gravida ut. Quisque eget urna
      convallis, commodo diam eu, pretium erat. Nullam quis magna a dolor ullamcorper
      malesuada. Donec bibendum sem lectus, sit amet faucibus nisi sodales eget. Integer
      lobortis lacus et volutpat dignissim. Suspendisse cras amet."
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 25 Jun 2019 23:47:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerforblobs/my_blob
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - CYtMy/ttQYV2KO6ll15P7g==
      ETag:
      - '"0x8D6F9C776DE60A8"'
      Last-Modified:
      - Tue, 25 Jun 2019 23:47:20 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 25 Jun 2019 23:47:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://storagename.blob.core.windows.net/containerforblobs/my_blob
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 25 Jun 2019 23:47:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerforblobs/my_blob?comp=undelete
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 25 Jun 2019 23:47:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/containerforblobs/my_blob
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - CYtMy/ttQYV2KO6ll15P7g==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8D6F9C776DE60A8"'
      Last-Modified:
      - Tue, 25 Jun 2019 23:47:20 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 25 Jun 2019 23:47:20 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 25 Jun 2019 23:47:21 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://storagename.blob.core.windows.net/containerforblobs?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 202
      message: Accepted
version: 1
