{
  "Entries": [
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainer6d3a335d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:45:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6529C9102B8A\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainer6d3a335d/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8DA6529C9187732\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:36 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-13T23:45:36.8234802Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainer6d3a335d/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6529C9187732\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 13 Jul 2022 23:45:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-13T23:45:36.8234802Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainer6d3a335d/blob1?comp=block\u0026blockid=MQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "dGhpcyBpcyB0ZXN0IGNvbnRlbnQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "wae/Ns62JRA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainer6d3a335d/blob1?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CBlockList\u003E\u003CLatest\u003EMQ==\u003C/Latest\u003E\u003C/BlockList\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6529C935BEE1\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-content-crc64": "iEgKfcNWGmY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-13T23:45:37.0163697Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainer6d3a335d/blob1?versionid=2022-07-13T23%3A45%3A36.8234802Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6529C9187732\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 13 Jul 2022 23:45:36 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-13T23:45:36.8234802Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainer6d3a335d/blob1?versionid=2020-08-21T21%3A24%3A15.3585832Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainer6d3a335d/blob1?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6529C935BEE1\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-07-13T23:45:37.1812758Z",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-13T23:45:37.1822758Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainer6d3a335d/blob1?snapshot=2022-07-13T23:45:37.1812758Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6529C935BEE1\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainer6d3a335d/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6529C968D551\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 13 Jul 2022 23:45:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-07-13T23:45:37.3511777Z"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
