interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 16:16:15 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageabb4177f.blob.core.windows.net/containerabb4177f?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74D9D2D90BC04"'
      last-modified:
      - Thu, 10 Oct 2019 16:16:16 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 16:16:16 GMT
      x-ms-meta-hello:
      - world
      x-ms-meta-number:
      - '42'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageabb4177f.blob.core.windows.net/containerabb4177f?restype=container&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74D9D2D9C4132"'
      last-modified:
      - Thu, 10 Oct 2019 16:16:16 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 16:16:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorageabb4177f.blob.core.windows.net/?prefix=containerabb4177f&include=metadata&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorageabb4177f.blob.core.windows.net/\"><Prefix>containerabb4177f</Prefix><Containers><Container><Name>containerabb4177f</Name><Properties><Last-Modified>Thu,
        10 Oct 2019 16:16:16 GMT</Last-Modified><Etag>\"0x8D74D9D2D9C4132\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties><Metadata><hello>world</hello><number>42</number></Metadata></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
