interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 06 Apr 2022 21:18:11 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container261e1999?restype=container&timeout=5
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA1812F458A3CA"'
      last-modified:
      - Wed, 06 Apr 2022 21:18:11 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: Hello World
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 06 Apr 2022 21:18:11 GMT
      x-ms-tags:
      - tag1=firsttag&tag2=secondtag&tag3=thirdtag
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container261e1999/blob261e1999
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sQqNsWTgdUEFt6mb5y4/5Q==
      etag:
      - '"0x8DA1812F4654291"'
      last-modified:
      - Wed, 06 Apr 2022 21:18:11 GMT
      x-ms-content-crc64:
      - YeJLfssylmU=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://storagename.blob.core.windows.net/container261e1999/blob261e1999?se=2022-04-06T22%3A18%3A11Z&sp=r&sv=2021-06-08&sr=b&sig=xxx
      x-ms-date:
      - Wed, 06 Apr 2022 21:18:11 GMT
      x-ms-requires-sync:
      - 'True'
      x-ms-tags:
      - hello=world
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container261e1999/blob1copy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA1812F4B1DA40"'
      last-modified:
      - Wed, 06 Apr 2022 21:18:12 GMT
      x-ms-content-crc64:
      - YeJLfssylmU=
      x-ms-copy-id:
      - 49df1148-14c6-4263-a91e-50e7bd5a19ab
      x-ms-copy-status:
      - success
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 06 Apr 2022 21:18:12 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/container261e1999/blob1copy?comp=tags
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Tags><TagSet><Tag><Key>hello</Key><Value>world</Value></Tag></TagSet></Tags>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
version: 1
