{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd8ce3453?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 17 Feb 2023 00:15:55 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB107C22508DD9\u0022",
        "Last-Modified": "Fri, 17 Feb 2023 00:15:54 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersourced8ce3453?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 17 Feb 2023 00:15:56 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerBeingDeleted",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EContainerBeingDeleted\u003C/Code\u003E\u003CMessage\u003EThe specified container is being deleted. Try operation later.\n",
        "RequestId:d6e02e0e-a01e-00b6-4464-428457000000\n",
        "Time:2023-02-17T00:15:54.1990411Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd8ce3453/%3Fques%3Ftion%3F",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Feb 2023 00:15:56 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "Pz8/",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "DRsIw0hYkhvHxmKyKKy3ug==",
        "ETag": "\u00220x8DB107C2275EECD\u0022",
        "Last-Modified": "Fri, 17 Feb 2023 00:15:54 GMT",
        "x-ms-content-crc64": "VtoDJyOMw/A=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd8ce3453/%3Fques%3Ftion%3F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 17 Feb 2023 00:15:56 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2/3",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB107C2275EECD\u0022",
        "Last-Modified": "Fri, 17 Feb 2023 00:15:54 GMT",
        "x-ms-blob-content-md5": "DRsIw0hYkhvHxmKyKKy3ug==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Feb 2023 00:15:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "Pz8/"
    }
  ],
  "Variables": {}
}
