{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerff8c3840?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6529AC9860A1\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerff8c3840?restype=container\u0026comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "43",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6529ACA61F14\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerff8c3840?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6529ACA61F14\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "43",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerff8c3840/testblob1ff8c3840",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "dGhpcyBpcyB0ZXN0IGRhdGE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "RJEUeSdibUK\u002Bwg83Kr/LDQ==",
        "ETag": "\u00220x8DA6529ACBF6D42\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-content-crc64": "6Ms0uXDyNv0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerff8c3840/testblob1ff8c3840",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-16/17",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6529ACBF6D42\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-blob-content-md5": "RJEUeSdibUK\u002Bwg83Kr/LDQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "dGhpcyBpcyB0ZXN0IGRhdGE="
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerff8c3840/testblob1ff8c3840",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-16/17",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6529ACBF6D42\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-blob-content-md5": "RJEUeSdibUK\u002Bwg83Kr/LDQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 13 Jul 2022 23:44:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "dGhpcyBpcyB0ZXN0IGRhdGE="
    }
  ],
  "Variables": {}
}
