{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc2d03425?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 21 Jul 2022 23:53:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B7445DA8DE2\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource1c2d03425?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 21 Jul 2022 23:53:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B7445E67309\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc2d03425/blobc2d03425",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 21 Jul 2022 23:53:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YWFhYWE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "WU\u002BAOzgKQTlu1j3KOVA1Qg==",
        "ETag": "\u00220x8DA6B7445F39684\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:56 GMT",
        "x-ms-content-crc64": "8fTpoDbhIEg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc2d03425/blobc2d03425",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 21 Jul 2022 23:53:55 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-4/5",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6B7445F39684\u0022",
        "Last-Modified": "Thu, 21 Jul 2022 23:53:56 GMT",
        "x-ms-blob-content-md5": "WU\u002BAOzgKQTlu1j3KOVA1Qg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 21 Jul 2022 23:53:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "YWFhYWE="
    }
  ],
  "Variables": {}
}
