interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 02:14:04 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragebd5e1c06.blob.core.windows.net/utcontainerbd5e1c06?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:a4248b7a-f01e-0139-1946-5dae3a000000\nTime:2019-08-28T02:14:06.2528961Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'grs19MUHZUwsOYQ1WeQZHD860G3dkAno2pk1vhp+YPA='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:81d46c92-c939-11e9-a185-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 02:14:04 GMT\nx-ms-version:2019-02-02\n/pyacrstoragebd5e1c06/utcontainerbd5e1c06\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragebd5e1c06.blob.core.windows.net
        - /utcontainerbd5e1c06
        - restype=container
        - ''
version: 1
