{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer4445351e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Nov 2022 23:09:47 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAC75E7D94D5E0\u0022",
        "Last-Modified": "Tue, 15 Nov 2022 23:09:47 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource4445351e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Nov 2022 23:09:48 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAC75E7DA1CC50\u0022",
        "Last-Modified": "Tue, 15 Nov 2022 23:09:47 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer4445351e/blob4445351e?comp=block\u0026blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQSUzRA%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 15 Nov 2022 23:09:48 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "SGVsbG8gQXN5bmMgV29ybGQhSGVsbG8gQXN5bmMgV29ybGQhSGVsbG8gQXN5bmMgV29ybGQh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "xQKUtWV3DME=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer4445351e/blob4445351e?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "If-None-Match": "*",
        "x-ms-date": "Tue, 15 Nov 2022 23:09:48 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CBlockList\u003E\u003CLatest\u003ETURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQSUzRA==\u003C/Latest\u003E\u003C/BlockList\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAC75E7DE8D172\u0022",
        "Last-Modified": "Tue, 15 Nov 2022 23:09:47 GMT",
        "x-ms-content-crc64": "7XagkOrfW/A=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer4445351e/blob4445351e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 15 Nov 2022 23:09:48 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-53/54",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAC75E7DE8D172\u0022",
        "Last-Modified": "Tue, 15 Nov 2022 23:09:47 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 15 Nov 2022 23:09:47 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "SGVsbG8gQXN5bmMgV29ybGQhSGVsbG8gQXN5bmMgV29ybGQhSGVsbG8gQXN5bmMgV29ybGQh"
    }
  ],
  "Variables": {}
}
