{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainera3942b6e?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 17 Feb 2023 00:32:26 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB107E70E48ABB\u0022",
        "Last-Modified": "Fri, 17 Feb 2023 00:32:24 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersourcea3942b6e?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 17 Feb 2023 00:32:27 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB107E70F440E1\u0022",
        "Last-Modified": "Fri, 17 Feb 2023 00:32:25 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainera3942b6e/utcontainera3942b6e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 17 Feb 2023 00:32:27 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "YWJj",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "kAFQmDzST7DWlj99KOF/cg==",
        "ETag": "\u00220x8DB107E710645CB\u0022",
        "Last-Modified": "Fri, 17 Feb 2023 00:32:25 GMT",
        "x-ms-content-crc64": "6/rBP7vK5QU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainera3942b6e/utcontainera3942b6e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 17 Feb 2023 00:32:27 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2/3",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB107E710645CB\u0022",
        "Last-Modified": "Fri, 17 Feb 2023 00:32:25 GMT",
        "x-ms-blob-content-md5": "kAFQmDzST7DWlj99KOF/cg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 17 Feb 2023 00:32:25 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "YWJj"
    }
  ],
  "Variables": {}
}
