interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 01:24:56 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageed9b1fed.blob.core.windows.net/utcontainered9b1fed?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DE9D3B66C08"'
      last-modified: Fri, 11 Oct 2019 01:24:57 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageed9b1fed.blob.core.windows.net
        - /utcontainered9b1fed
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '2048'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 11 Oct 2019 01:24:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageed9b1fed.blob.core.windows.net/utcontainered9b1fed/blob1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DE9D3BD61FC"'
      last-modified: Fri, 11 Oct 2019 01:24:57 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageed9b1fed.blob.core.windows.net
        - /utcontainered9b1fed/blob1
        - ''
        - ''
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 11 Oct 2019 01:24:57 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageed9b1fed.blob.core.windows.net/utcontainered9b1fed/blob1?comp=page
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DE9D3C26BFF"'
      last-modified: Fri, 11 Oct 2019 01:24:57 GMT
      x-ms-blob-sequence-number: '0'
      x-ms-content-crc64: EZA9hgZaRrQ=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageed9b1fed.blob.core.windows.net
        - /utcontainered9b1fed/blob1
        - comp=page
        - ''
[...]
- request:
    body: null
    headers:
      If-Unmodified-Since:
      - Fri, 11 Oct 2019 01:39:57 GMT
      x-ms-date:
      - Fri, 11 Oct 2019 01:24:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorageed9b1fed.blob.core.windows.net/utcontainered9b1fed/blob1?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>0</Start><End>511</End></PageRange><PageRange><Start>1024</Start><End>1535</End></PageRange></PageList>"
    headers:
      content-type: application/xml
      etag: '"0x8D74DE9D3CEF170"'
      last-modified: Fri, 11 Oct 2019 01:24:57 GMT
      x-ms-blob-content-length: '2048'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageed9b1fed.blob.core.windows.net
        - /utcontainered9b1fed/blob1
        - comp=pagelist
        - ''
version: 1
