{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainere9d8300e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 25 Jul 2022 23:54:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E98FE973F6F\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 23:54:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersourcee9d8300e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 25 Jul 2022 23:54:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E98FEA87D9A\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 23:54:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainere9d8300e/blobe9d8300e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 25 Jul 2022 23:54:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E98FEB7214A\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 23:54:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainere9d8300e/blobe9d8300e?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 25 Jul 2022 23:54:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E98FEB7214A\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 23:54:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-07-25T23:54:21.5065271Z",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainere9d8300e/blobe9d8300e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 23:54:21 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1535",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWF[...]
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainere9d8300e/blobe9d8300e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 25 Jul 2022 23:54:21 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E98FF04CD7C\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 23:54:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainere9d8300e/blobe9d8300e?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 25 Jul 2022 23:54:22 GMT",
        "x-ms-previous-snapshot-url": "https://storagename.blob.core.windows.net/utcontainere9d8300e/blobe9d8300e?snapshot=2022-07-25T23:54:21.5065271Z\u0026se=end\u0026sp=r\u0026sv=2021-08-06\u0026sr=bs\u0026sig=fake_token_value",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA6E98FF04CD7C\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 23:54:21 GMT",
        "x-ms-blob-content-length": "2048",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E511\u003C/End\u003E\u003C/PageRange\u003E\u003CClearRange\u003E\u003CStart\u003E512\u003C/Start\u003E\u003CEnd\u003E1023\u003C/End\u003E\u003C/ClearRange\u003E\u003CPageRange\u003E\u003CStart\u003E1024\u003C/Start\u003E\u003CEnd\u003E1535\u003C/End\u003E\u003C/PageRange\u003E\u003C/PageList\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainere9d8300e/blobe9d8300e?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 25 Jul 2022 23:54:22 GMT",
        "x-ms-previous-snapshot-url": "https://storagename.blob.core.windows.net/utcontainere9d8300e/blobe9d8300e?snapshot=2022-07-25T23:54:21.7815556Z\u0026se=end\u0026sp=r\u0026sv=2021-08-06\u0026sr=bs\u0026sig=fake_token_value",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA6E98FF04CD7C\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 23:54:21 GMT",
        "x-ms-blob-content-length": "2048",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CClearRange\u003E\u003CStart\u003E512\u003C/Start\u003E\u003CEnd\u003E1023\u003C/End\u003E\u003C/ClearRange\u003E\u003C/PageList\u003E"
      ]
    }
  ],
  "Variables": {}
}
