interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 03:27:03 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containera998175a?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:27:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F949C3DB19"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:27:03 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containera998175a
        - restype=container
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 03:27:03 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - 1410ce26-861f-425f-a287-7ac2eb5ee2a6
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containera998175a?comp=lease&restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:27:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F949C3DB19"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:27:03 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-lease-id: 1410ce26-861f-425f-a287-7ac2eb5ee2a6
      x-ms-version: '2018-03-28'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containera998175a
        - comp=lease&restype=container
        - ''
- request:
    body: null
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 03:27:03 GMT
      x-ms-lease-id:
      - 1410ce26-861f-425f-a287-7ac2eb5ee2a6
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containera998175a?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 03:27:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716F949D19CB6"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 03:27:03 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-03-28'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containera998175a
        - restype=container&comp=acl
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 23:57:50 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/containera998175a?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 11 Oct 2019 23:57:50 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D74EA6D2BD0F19"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 11 Oct 2019 23:57:50 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containera998175a
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 23:57:50 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - dd30745b-2181-4e84-9668-4bdda0fbfabb
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/containera998175a?comp=lease&restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 11 Oct 2019 23:57:50 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D74EA6D2BD0F19"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 11 Oct 2019 23:57:50 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-lease-id: dd30745b-2181-4e84-9668-4bdda0fbfabb
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containera998175a
        - comp=lease&restype=container
        - ''
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-12T00:19:49Z</Start><Expiry>2019-10-12T01:19:49Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 12 Oct 2019 00:19:49 GMT
      x-ms-lease-id:
      - c6afd091-b35d-44cf-bb41-9a762fca9b44
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/containera998175a?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Sat, 12 Oct 2019 00:19:49 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D74EA9E4D496B5"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Sat, 12 Oct 2019 00:19:49 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /containera998175a
        - restype=container&comp=acl
        - ''
[...]
