interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Jul 2020 00:16:50 GMT
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdaef1c0a?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The
        specified container already exists.\nRequestId:8cf6b417-801e-0018-554f-6192c7000000\nTime:2020-07-24T00:16:50.3130055Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: ContainerAlreadyExists
      x-ms-version: '2019-12-12'
    status:
      code: 409
      message: The specified container already exists.
    url: https://emilyeuap.blob.core.windows.net/utcontainerdaef1c0a?restype=container
- request:
    body: null
    headers:
      x-ms-blob-type:
      - AppendBlob
      x-ms-date:
      - Fri, 24 Jul 2020 00:16:50 GMT
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdaef1c0a/blobdaef1c0a
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D82F66DC68DC57"'
      last-modified: Fri, 24 Jul 2020 00:16:50 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-12-12'
      x-ms-version-id: '2020-07-24T00:16:50.3964522Z'
    status:
      code: 201
      message: Created
    url: https://emilyeuap.blob.core.windows.net/utcontainerdaef1c0a/blobdaef1c0a
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://emilyeuap.blob.core.windows.net/utcontainerdaef1c0a/blobdaef1c0a
      x-ms-date:
      - Fri, 24 Jul 2020 00:16:50 GMT
      x-ms-seal-blob:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdaef1c0a/copiedblob2
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D82F66DC7736D0"'
      last-modified: Fri, 24 Jul 2020 00:16:50 GMT
      x-ms-copy-id: 8afbd562-f741-41e7-8d8c-9e0f2b84de20
      x-ms-copy-status: success
      x-ms-version: '2019-12-12'
      x-ms-version-id: '2020-07-24T00:16:50.4915191Z'
    status:
      code: 202
      message: Accepted
    url: https://emilyeuap.blob.core.windows.net/utcontainerdaef1c0a/copiedblob2
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Jul 2020 00:16:50 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainerdaef1c0a/copiedblob2
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D82F66DC7736D0"'
      last-modified: Fri, 24 Jul 2020 00:16:50 GMT
      x-ms-blob-committed-block-count: '0'
      x-ms-blob-sealed: 'true'
      x-ms-blob-type: AppendBlob
      x-ms-copy-completion-time: Fri, 24 Jul 2020 00:16:50 GMT
      x-ms-copy-id: 8afbd562-f741-41e7-8d8c-9e0f2b84de20
      x-ms-copy-progress: 0/0
      x-ms-copy-source: https://emilyeuap.blob.core.windows.net/utcontainerdaef1c0a/blobdaef1c0a
      x-ms-copy-status: success
      x-ms-creation-time: Thu, 23 Jul 2020 18:00:57 GMT
      x-ms-is-current-version: 'true'
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2019-12-12'
      x-ms-version-id: '2020-07-24T00:16:50.4915191Z'
    status:
      code: 200
      message: OK
    url: https://emilyeuap.blob.core.windows.net/utcontainerdaef1c0a/copiedblob2
- request:
    body: abc
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 24 Jul 2020 00:16:50 GMT
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdaef1c0a/copiedblob2?comp=appendblock
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobIsSealed</Code><Message>The
        blob is sealed and its contents cannot be modified.\nRequestId:8cf6b462-801e-0018-194f-6192c7000000\nTime:2020-07-24T00:16:50.6532469Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: BlobIsSealed
      x-ms-version: '2019-12-12'
    status:
      code: 409
      message: The blob is sealed and its contents cannot be modified.
    url: https://emilyeuap.blob.core.windows.net/utcontainerdaef1c0a/copiedblob2?comp=appendblock
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 24 Jul 2020 00:16:50 GMT
      x-ms-version:
      - '2019-12-12'
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainerdaef1c0a?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"utcontainerdaef1c0a\"><Blobs><Blob><Name>blobdaef1c0a</Name><VersionId>2020-07-24T00:16:50.3964522Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri,
        24 Jul 2020 00:16:50 GMT</Creation-Time><Last-Modified>Fri, 24 Jul 2020 00:16:50
        GMT</Last-Modified><Etag>0x8D82F66DC68DC57</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>copiedblob2</Name><VersionId>2020-07-24T00:16:50.4915191Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu,
        23 Jul 2020 18:00:57 GMT</Creation-Time><Last-Modified>Fri, 24 Jul 2020 00:16:50
        GMT</Last-Modified><Etag>0x8D82F66DC7736D0</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><Sealed>true</Sealed></Properties><OrMetadata
        /></Blob><Blob><Name>copiedblob3</Name><VersionId>2020-07-23T06:38:18.0482196Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu,
        23 Jul 2020 06:29:06 GMT</Creation-Time><Last-Modified>Thu, 23 Jul 2020 06:38:18
        GMT</Last-Modified><Etag>0x8D82ED2FC19766D</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><Sealed>true</Sealed></Properties><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-12-12'
    status:
      code: 200
      message: OK
    url: https://emilyeuap.blob.core.windows.net/utcontainerdaef1c0a?restype=container&comp=list
version: 1
