{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd24c361e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 29 Aug 2022 22:34:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8A0E9B00D95E\u0022",
        "Last-Modified": "Mon, 29 Aug 2022 22:34:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd24c361e/cpkd24c361e?comp=block\u0026blockid=MQ%3D%3D\u0026se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=b\u0026ses=testscope1\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Aug 2022 22:34:16 GMT",
        "x-ms-encryption-scope": "testscope2",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "QUFB",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:00a8ad6f-c01e-0014-60f7-bb92ad000000\n",
        "Time:2022-08-29T22:34:16.2994748Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-encryption-scope\u003C/HeaderName\u003E\u003CHeaderValue\u003Etestscope2\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd24c361e/cpkd24c361e?comp=block\u0026blockid=MQ%3D%3D\u0026se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=b\u0026ses=testscope1\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Aug 2022 22:34:16 GMT",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "QUFB",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "Cc/2Kr4DuKg=",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd24c361e/cpkd24c361e?comp=blocklist\u0026se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=b\u0026ses=testscope1\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-date": "Mon, 29 Aug 2022 22:34:16 GMT",
        "x-ms-encryption-scope": "testscope2",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CBlockList\u003E\u003CLatest\u003EMQ==\u003C/Latest\u003E\u003C/BlockList\u003E"
      ],
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidHeaderValue",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidHeaderValue\u003C/Code\u003E\u003CMessage\u003EThe value for one of the HTTP headers is not in the correct format.\n",
        "RequestId:00a8adc4-c01e-0014-25f7-bb92ad000000\n",
        "Time:2022-08-29T22:34:16.4843698Z\u003C/Message\u003E\u003CHeaderName\u003Ex-ms-encryption-scope\u003C/HeaderName\u003E\u003CHeaderValue\u003Etestscope2\u003C/HeaderValue\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd24c361e/cpkd24c361e?se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=b\u0026ses=testscope2\u0026sig=fake_token_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 29 Aug 2022 22:34:16 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2/3",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA8A0E9B4A21C5\u0022",
        "Last-Modified": "Mon, 29 Aug 2022 22:34:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 29 Aug 2022 22:34:16 GMT",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "QUFB"
    }
  ],
  "Variables": {}
}
