interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:39:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer902616e5?timeout=5&restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7597AAB1976E9"'
      last-modified: Fri, 25 Oct 2019 18:39:28 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageiqnubxlez5qu.blob.core.windows.net
        - /utcontainer902616e5
        - timeout=5&restype=container
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>2</Days></DeleteRetentionPolicy></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 25 Oct 2019 18:39:29 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageiqnubxlez5qu.blob.core.windows.net
        - /
        - restype=service&comp=properties
        - ''
- request:
    body: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 25 Oct 2019 18:39:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer902616e5/blob902616e5
  response:
    body:
      string: ''
    headers:
      content-md5: yaNM/IXZgmmMasifdgcavQ==
      etag: '"0x8D7597ABD270F43"'
      last-modified: Fri, 25 Oct 2019 18:39:59 GMT
      x-ms-content-crc64: ov8U1LLnyKc=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageiqnubxlez5qu.blob.core.windows.net
        - /utcontainer902616e5/blob902616e5
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:39:59 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - f1d17edc-d2d6-4783-9803-03eb7131c103
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer902616e5/blob902616e5?comp=lease
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7597ABD270F43"'
      last-modified: Fri, 25 Oct 2019 18:39:59 GMT
      x-ms-lease-id: f1d17edc-d2d6-4783-9803-03eb7131c103
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageiqnubxlez5qu.blob.core.windows.net
        - /utcontainer902616e5/blob902616e5
        - comp=lease
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:39:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://blobstoragename.blob.core.windows.net/utcontainer902616e5/blob902616e5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the blob and no lease ID was specified in the request.\nRequestId:5ebb7212-c01e-0052-1b63-8bf9fa000000\nTime:2019-10-25T18:39:59.1434886Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2019-02-02'
    status:
      code: 412
      message: There is currently a lease on the blob and no lease ID was specified
        in the request.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageiqnubxlez5qu.blob.core.windows.net
        - /utcontainer902616e5/blob902616e5
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:39:59 GMT
      x-ms-lease-id:
      - f1d17edc-d2d6-4783-9803-03eb7131c103
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://blobstoragename.blob.core.windows.net/utcontainer902616e5/blob902616e5
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent: 'false'
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageiqnubxlez5qu.blob.core.windows.net
        - /utcontainer902616e5/blob902616e5
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:39:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainer902616e5?include=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"utcontainer902616e5\"><Blobs><Blob><Name>blob902616e5</Name><Deleted>true</Deleted><Properties><Creation-Time>Fri,
        25 Oct 2019 18:39:59 GMT</Creation-Time><Last-Modified>Fri, 25 Oct 2019 18:39:59
        GMT</Last-Modified><Etag>0x8D7597ABD270F43</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>yaNM/IXZgmmMasifdgcavQ==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus
        /><ServerEncrypted>true</ServerEncrypted><DeletedTime>Fri, 25 Oct 2019 18:39:59
        GMT</DeletedTime><RemainingRetentionDays>1</RemainingRetentionDays></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageiqnubxlez5qu.blob.core.windows.net
        - /utcontainer902616e5
        - include=deleted&restype=container&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:39:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainer902616e5?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"utcontainer902616e5\"><Blobs
        /><NextMarker /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageiqnubxlez5qu.blob.core.windows.net
        - /utcontainer902616e5
        - restype=container&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:39:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer902616e5/blob902616e5?comp=undelete
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageiqnubxlez5qu.blob.core.windows.net
        - /utcontainer902616e5/blob902616e5
        - comp=undelete
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:39:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainer902616e5?include=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"utcontainer902616e5\"><Blobs><Blob><Name>blob902616e5</Name><Properties><Creation-Time>Fri,
        25 Oct 2019 18:39:59 GMT</Creation-Time><Last-Modified>Fri, 25 Oct 2019 18:39:59
        GMT</Last-Modified><Etag>0x8D7597ABD270F43</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>yaNM/IXZgmmMasifdgcavQ==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageiqnubxlez5qu.blob.core.windows.net
        - /utcontainer902616e5
        - include=deleted&restype=container&comp=list
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><DeleteRetentionPolicy><Enabled>false</Enabled></DeleteRetentionPolicy></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 25 Oct 2019 18:39:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageiqnubxlez5qu.blob.core.windows.net
        - /
        - restype=service&comp=properties
        - ''
version: 1
