interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Oct 2019 17:30:32 GMT']
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/acontainerd0941360?restype=container
  response:
    body: {string: ''}
    headers: {content-length: '0', date: 'Tue, 22 Oct 2019 17:30:31 GMT', etag: '"0x8D757158A52043F"',
      last-modified: 'Tue, 22 Oct 2019 17:30:32 GMT', server: Windows-Azure-Blob/1.0
        Microsoft-HTTPAPI/2.0, x-ms-version: '2019-02-02'}
    status: {code: 201, message: Created}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, pyacrstoragenxbeq23rvvr4.blob.core.windows.net,
        /acontainerd0941360, restype=container, '']
- request:
    body: hello world
    headers:
      Content-Type: [application/octet-stream]
      If-None-Match: ['*']
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Tue, 22 Oct 2019 17:30:32 GMT']
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/acontainerd0941360/blob1
  response:
    body: {string: ''}
    headers: {content-length: '0', content-md5: XrY7u+Ae7tCTyyK7j1rNww==, date: 'Tue,
        22 Oct 2019 17:30:31 GMT', etag: '"0x8D757158A5E8BD7"', last-modified: 'Tue,
        22 Oct 2019 17:30:32 GMT', server: Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0,
      x-ms-content-crc64: vo7q9sPVKY0=, x-ms-request-server-encrypted: 'true', x-ms-version: '2019-02-02'}
    status: {code: 201, message: Created}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, pyacrstoragenxbeq23rvvr4.blob.core.windows.net,
        /acontainerd0941360/blob1, '', '']
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Oct 2019 17:30:32 GMT']
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/acontainerd0941360/blob1?comp=snapshot
  response:
    body: {string: ''}
    headers: {content-length: '0', date: 'Tue, 22 Oct 2019 17:30:31 GMT', etag: '"0x8D757158A5E8BD7"',
      last-modified: 'Tue, 22 Oct 2019 17:30:32 GMT', server: Windows-Azure-Blob/1.0
        Microsoft-HTTPAPI/2.0, x-ms-request-server-encrypted: 'false', x-ms-snapshot: '2019-10-22T17:30:32.4006543Z',
      x-ms-version: '2019-02-02'}
    status: {code: 201, message: Created}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, pyacrstoragenxbeq23rvvr4.blob.core.windows.net,
        /acontainerd0941360/blob1, comp=snapshot, '']
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Oct 2019 17:30:32 GMT']
      x-ms-version: ['2019-02-02']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/acontainerd0941360?include=snapshots&restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"acontainerd0941360\"><Blobs><Blob><Name>blob1</Name><Snapshot>2019-10-22T17:30:32.4006543Z</Snapshot><Properties><Creation-Time>Tue,
        22 Oct 2019 17:30:32 GMT</Creation-Time><Last-Modified>Tue, 22 Oct 2019 17:30:32
        GMT</Last-Modified><Etag>0x8D757158A5E8BD7</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob1</Name><Properties><Creation-Time>Tue,
        22 Oct 2019 17:30:32 GMT</Creation-Time><Last-Modified>Tue, 22 Oct 2019 17:30:32
        GMT</Last-Modified><Etag>0x8D757158A5E8BD7</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Tue,
        22 Oct 2019 17:30:32 GMT</Creation-Time><Last-Modified>Tue, 22 Oct 2019 17:30:32
        GMT</Last-Modified><Etag>0x8D757158A70696C</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Contro[...]
- request:
    body: "--===============5511672530336092004==\r\nContent-Type: application/http\r\nContent-Transfer-Encoding:
      binary\r\nContent-ID: 0\r\n\r\nDELETE /acontainerd0941360/blob1? HTTP/1.1\r\nx-ms-delete-snapshots:
      only\r\nx-ms-date: Tue, 22 Oct 2019 17:30:32 GMT\r\nx-ms-client-request-id:
      a64e91fe-f4f1-11e9-b639-ecb1d756380e\r\nAuthorization: SharedKey pyacrstoragenxbeq23rvvr4:/Uf5AFHxU0veS+CHWfH8mFKI5AT9fcVZmD8Oiz6jXLU=\r\n\r\n\r\n--===============551167253033609200[...]
[...]
