{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer92ab3c8c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Jul 2022 21:30:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA65E01F623B6D\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 21:30:49 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer92ab3c8c/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 14 Jul 2022 21:30:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8DA65E01F6E9B81\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 21:30:50 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer92ab3c8c/blob1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Modified-Since": "Thu, 14 Jul 2022 21:45:50 GMT",
        "x-ms-date": "Thu, 14 Jul 2022 21:30:50 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "if_modified": "2022-07-14T21:45:50.334352"
  }
}
