interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Apr 2022 21:23:36 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://storagenamestorname.blob.core.windows.net/container2?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA295D5AFBD009"'
      last-modified:
      - Thu, 28 Apr 2022 21:23:36 GMT
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-blob-type:
      - AppendBlob
      x-ms-date:
      - Thu, 28 Apr 2022 21:23:37 GMT
      x-ms-tags:
      - tag1=firsttag
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://storagenamestorname.blob.core.windows.net/container2/blob1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA295D5B08F2ED"'
      last-modified:
      - Thu, 28 Apr 2022 21:23:36 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
      x-ms-version-id:
      - '2022-04-28T21:23:36.2356973Z'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 28 Apr 2022 21:23:47 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://storagenamestorname.blob.core.windows.net/container2?restype=container&comp=blobs&where=%22tag1%22%3D%27firsttag%27&include=versions
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<EnumerationResults
        ServiceEndpoint=\"https://storagenamestorname.blob.core.windows.net/\"><Where>&quot;tag1&quot;=&apos;firsttag&apos;</Where><Blobs><Blob><Name>blob1</Name><ContainerName>container2</ContainerName><VersionId>2022-04-28T21:23:36.2356973Z</VersionId><Tags><TagSet><Tag><Key>tag1</Key><Value>firsttag</Value></Tag></TagSet></Tags></Blob><Blob><Name>blob1</Name><ContainerName>container2</ContainerName><VersionId>2022-04-28T21:23:41.3300552Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Tags><TagSet><Tag><Key>tag1</Key><Value>firsttag</Value></Tag></TagSet></Tags></Blob></Blobs><NextMarker/></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
version: 1
