{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc10e2dfd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 31 May 2022 22:41:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA4356BC0980A4\u0022",
        "Last-Modified": "Tue, 31 May 2022 22:41:42 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc10e2dfd/encryption_block_blobc10e2dfd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 31 May 2022 22:41:42 GMT",
        "x-ms-meta-encryptiondata": "{\u0022WrappedContentKey\u0022: {\u0022KeyId\u0022: \u0022key1\u0022, \u0022EncryptedKey\u0022: \u0022FDJ\u002BGhq5gcX37ZWE0pkpDs47XlVcB6Uso1qf6GxFksP7S/KMe2AHxA==\u0022, \u0022Algorithm\u0022: \u0022A256KW\u0022}, \u0022EncryptionAgent\u0022: {\u0022Protocol\u0022: \u00221.0\u0022, \u0022EncryptionAlgorithm\u0022: \u0022AES_CBC_256\u0022}, \u0022ContentEncryptionIV\u0022: \u0022nx9uw\u002BqM\u002Bye9jpSrdyR4gA==\u0022, \u0022KeyWrappingMetadata\u0022: {\u0022EncryptionLibrary\u0022: \u0022Python 12.12.1\u0022}, \u0022EncryptionMode\u0022: \u0022FullBlob\u0022}",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "5eG9bfb\u002Bp2QKO1Oi5dsDFA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "/PoYZVjxkd9ZIpk5prEv1Q==",
        "ETag": "\u00220x8DA4356BC0D8BBE\u0022",
        "Last-Modified": "Tue, 31 May 2022 22:41:42 GMT",
        "x-ms-content-crc64": "TYDgRowqwlQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc10e2dfd/encryption_block_blobc10e2dfd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 31 May 2022 22:41:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-15/16",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA4356BC0D8BBE\u0022",
        "Last-Modified": "Tue, 31 May 2022 22:41:42 GMT",
        "x-ms-blob-content-md5": "/PoYZVjxkd9ZIpk5prEv1Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 31 May 2022 22:41:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-encryptiondata": "{\u0022WrappedContentKey\u0022: {\u0022KeyId\u0022: \u0022key1\u0022, \u0022EncryptedKey\u0022: \u0022FDJ\u002BGhq5gcX37ZWE0pkpDs47XlVcB6Uso1qf6GxFksP7S/KMe2AHxA==\u0022, \u0022Algorithm\u0022: \u0022A256KW\u0022}, \u0022EncryptionAgent\u0022: {\u0022Protocol\u0022: \u00221.0\u0022, \u0022EncryptionAlgorithm\u0022: \u0022AES_CBC_256\u0022}, \u0022ContentEncryptionIV\u0022: \u0022nx9uw\u002BqM\u002Bye9jpSrdyR4gA==\u0022, \u0022KeyWrappingMetadata\u0022: {\u0022EncryptionLibrary\u0022: \u0022Python 12.12.1\u0022}, \u0022EncryptionMode\u0022: \u0022FullBlob\u0022}",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "5eG9bfb\u002Bp2QKO1Oi5dsDFA=="
    }
  ],
  "Variables": {}
}
