interactions:
- request:
    body: client_id=68390a19-a897-236b-b453-488abf67b4fc&client_secret=SdalnyD%5BwDb%2FS%3DLL.rZoHaRFmrJT3015&grant_type=client_credentials&scope=https%3A%2F%2Fstorage.azure.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/32f988bf-54f1-15af-36ab-2d7cd364db47/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type":"Bearer","expires_in":3600,"ext_expires_in":3600,"access_token":"access_token"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 27 Jun 2019 16:50:56 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://oauthstoragename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /><DeleteRetentionPolicy><Enabled>false</Enabled></DeleteRetentionPolicy><StaticWebsite><Enabled>false</Enabled></StaticWebsite></StorageServiceProperties>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 27 Jun 2019 16:50:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://oauthstoragename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidAuthenticationInfo</Code><Message>Authentication\
        \ information is not given in the correct format. Check the value of Authorization\
        \ header.\nRequestId:310435a6-901e-006d-2308-2d9b4d000000\nTime:2019-06-27T16:50:57.3990371Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - InvalidAuthenticationInfo
    status:
      code: 400
      message: Authentication information is not given in the correct format. Check
        the value of Authorization header.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 27 Jun 2019 16:50:57 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://oauthstoragename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /><DeleteRetentionPolicy><Enabled>false</Enabled></DeleteRetentionPolicy><StaticWebsite><Enabled>false</Enabled></StaticWebsite></StorageServiceProperties>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
