interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec4631be2.blob.core.windows.net/utcontainerc4631be2?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74D1A7F4D36E9"'
      last-modified: Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec4631be2.blob.core.windows.net
        - /utcontainerc4631be2
        - restype=container
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec4631be2.blob.core.windows.net/utcontainerc4631be2/blobc4631be2
  response:
    body:
      string: ''
    headers:
      content-md5: XrY7u+Ae7tCTyyK7j1rNww==
      etag: '"0x8D74D1A7F593272"'
      last-modified: Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-content-crc64: vo7q9sPVKY0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec4631be2.blob.core.windows.net
        - /utcontainerc4631be2/blobc4631be2
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstoragec4631be2.blob.core.windows.net/utcontainerc4631be2/blobc4631be2
  response:
    body:
      string: ''
    headers:
      content-md5: XrY7u+Ae7tCTyyK7j1rNww==
      content-type: application/octet-stream
      etag: '"0x8D74D1A7F593272"'
      last-modified: Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-access-tier: Hot
      x-ms-access-tier-inferred: 'true'
      x-ms-blob-type: BlockBlob
      x-ms-creation-time: Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec4631be2.blob.core.windows.net
        - /utcontainerc4631be2/blobc4631be2
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragec4631be2.blob.core.windows.net/utcontainerc4631be2?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragec4631be2.blob.core.windows.net/\" ContainerName=\"utcontainerc4631be2\"><Blobs><Blob><Name>blobc4631be2</Name><Properties><Creation-Time>Thu,
        10 Oct 2019 00:40:49 GMT</Creation-Time><Last-Modified>Thu, 10 Oct 2019 00:40:49
        GMT</Last-Modified><Etag>0x8D74D1A7F593272</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec4631be2.blob.core.windows.net
        - /utcontainerc4631be2
        - restype=container&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Archive
      x-ms-date:
      - Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec4631be2.blob.core.windows.net/utcontainerc4631be2/blobc4631be2?comp=tier
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec4631be2.blob.core.windows.net
        - /utcontainerc4631be2/blobc4631be2
        - comp=tier
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstoragec4631be2.blob.core.windows.net/utcontainerc4631be2/blobc4631be2
  response:
    body:
      string: ''
    headers:
      content-md5: XrY7u+Ae7tCTyyK7j1rNww==
      content-type: application/octet-stream
      etag: '"0x8D74D1A7F593272"'
      last-modified: Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-access-tier: Archive
      x-ms-access-tier-change-time: Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-blob-type: BlockBlob
      x-ms-creation-time: Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec4631be2.blob.core.windows.net
        - /utcontainerc4631be2/blobc4631be2
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 00:40:49 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragec4631be2.blob.core.windows.net/utcontainerc4631be2?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragec4631be2.blob.core.windows.net/\" ContainerName=\"utcontainerc4631be2\"><Blobs><Blob><Name>blobc4631be2</Name><Properties><Creation-Time>Thu,
        10 Oct 2019 00:40:49 GMT</Creation-Time><Last-Modified>Thu, 10 Oct 2019 00:40:49
        GMT</Last-Modified><Etag>0x8D74D1A7F593272</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Archive</AccessTier><AccessTierChangeTime>Thu,
        10 Oct 2019 00:40:49 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec4631be2.blob.core.windows.net
        - /utcontainerc4631be2
        - restype=container&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 00:40:50 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstoragec4631be2.blob.core.windows.net/utcontainerc4631be2/blobc4631be2
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec4631be2.blob.core.windows.net
        - /utcontainerc4631be2/blobc4631be2
        - ''
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 00:40:51 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstoragec4631be2.blob.core.windows.net/utcontainerc4631be2/blobc4631be2
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec4631be2.blob.core.windows.net
        - /utcontainerc4631be2/blobc4631be2
        - ''
        - ''
version: 1
