{
  "Entries": [
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/containerda8f32af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Mar 2023 00:25:06 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EContainerAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified container already exists.\n",
        "RequestId:e3f36717-301e-0049-54af-536192000000\n",
        "Time:2023-03-11T00:25:06.0508402Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/containerda8f32af/utcontainerda8f32af",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 11 Mar 2023 00:25:06 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "YWJj",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "kAFQmDzST7DWlj99KOF/cg==",
        "ETag": "\u00220x8DB21C71072EC88\u0022",
        "Last-Modified": "Sat, 11 Mar 2023 00:25:06 GMT",
        "x-ms-content-crc64": "6/rBP7vK5QU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-11T00:25:06.1252778Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/containerda8f32af/utcontainerda8f32af",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Mar 2023 00:25:06 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kAFQmDzST7DWlj99KOF/cg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB21C71072EC88\u0022",
        "Last-Modified": "Sat, 11 Mar 2023 00:25:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 11 Mar 2023 00:25:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-11T00:25:06.1252778Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/containerda8f32af?restype=container\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary=batch_2cd6ebc0-bfa3-11ed-8fbf-4851c58829e3",
        "x-ms-date": "Sat, 11 Mar 2023 00:25:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "LS1iYXRjaF8yY2Q2ZWJjMC1iZmEzLTExZWQtOGZiZi00ODUxYzU4ODI5ZTMNCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb2[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/containerda8f32af/utcontainerda8f32af?versionid=2023-03-11T00%3A25%3A06.3461499Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Mar 2023 00:25:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "l6yCpbglI554LQM54te5EA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB21C71094A05E\u0022",
        "Last-Modified": "Sat, 11 Mar 2023 00:25:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 11 Mar 2023 00:25:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-11T00:25:06.3461499Z"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
