{
  "Entries": [
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainer2ea2372a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Mar 2023 00:28:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EContainerAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified container already exists.\n",
        "RequestId:05bea05c-c01e-0072-80b0-532436000000\n",
        "Time:2023-03-11T00:28:51.9111544Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainer2ea2372a/utcontainer2ea2372a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 11 Mar 2023 00:28:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "YWJj",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "kAFQmDzST7DWlj99KOF/cg==",
        "ETag": "\u00220x8DB21C79716F1AF\u0022",
        "Last-Modified": "Sat, 11 Mar 2023 00:28:52 GMT",
        "x-ms-content-crc64": "6/rBP7vK5QU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-11T00:28:52.0138943Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainer2ea2372a/utcontainer2ea2372a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Mar 2023 00:28:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kAFQmDzST7DWlj99KOF/cg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB21C79716F1AF\u0022",
        "Last-Modified": "Sat, 11 Mar 2023 00:28:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 11 Mar 2023 00:28:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-11T00:28:52.0138943Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainer2ea2372a?restype=container\u0026comp=batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "multipart/mixed; boundary================3349319156731500561==",
        "x-ms-date": "Sat, 11 Mar 2023 00:28:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "LS09PT09PT09PT09PT09PT0zMzQ5MzE5MTU2NzMxNTAwNTYxPT0NCkNvbnRlbnQtVHlwZTogYXBwbGljYXRpb24vaHR0cA0KQ29[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainer2ea2372a/utcontainer2ea2372a?versionid=2023-03-11T00:28:52.3127221Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Mar 2023 00:28:53 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "l6yCpbglI554LQM54te5EA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB21C797448AA5\u0022",
        "Last-Modified": "Sat, 11 Mar 2023 00:28:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 11 Mar 2023 00:28:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-11T00:28:52.3127221Z"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
