{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer500f3c4d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:44:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6529B0962015\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:44:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer500f3c4d?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-Modified-Since": "Wed, 13 Jul 2022 23:29:56 GMT",
        "x-ms-date": "Wed, 13 Jul 2022 23:44:56 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6529B0962015\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:44:55 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer500f3c4d?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:44:56 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6529B0962015\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:44:55 GMT",
        "x-ms-lease-time": "0",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "if_modified": "2022-07-13T23:29:56.181338"
  }
}
