{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer234e30af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 26 Aug 2022 22:54:14 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA87B5E66B4994\u0022",
        "Last-Modified": "Fri, 26 Aug 2022 22:54:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer234e30af/cpk234e30af",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 26 Aug 2022 22:54:14 GMT",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "QUFBQkJCQ0ND",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Yge131eW6WNBDTvEtqQhiw==",
        "ETag": "\u00220x8DA87B5E6769093\u0022",
        "Last-Modified": "Fri, 26 Aug 2022 22:54:15 GMT",
        "x-ms-content-crc64": "DTngHrtvLQU=",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer234e30af/cpk234e30af",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 26 Aug 2022 22:54:14 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-8/9",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA87B5E6769093\u0022",
        "Last-Modified": "Fri, 26 Aug 2022 22:54:15 GMT",
        "x-ms-blob-content-md5": "Yge131eW6WNBDTvEtqQhiw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 26 Aug 2022 22:54:15 GMT",
        "x-ms-encryption-scope": "testscope1",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "QUFBQkJCQ0ND"
    }
  ],
  "Variables": {}
}
