{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer61ef33a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Aug 2022 00:35:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8631A75FC372\u0022",
        "Last-Modified": "Thu, 25 Aug 2022 00:35:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource161ef33a8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Aug 2022 00:35:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8631A771741B\u0022",
        "Last-Modified": "Thu, 25 Aug 2022 00:35:04 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer61ef33a8/blob61ef33a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-content-language": "spanish",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 25 Aug 2022 00:35:04 GMT",
        "x-ms-tags": "tag1=sourcetag\u0026tag2=secondsourcetag",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "VGhpcyBpcyB0ZXN0IGRhdGEgdG8gYmUgY29waWVkIG92ZXIu",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "BmRZdU7mXzYVn1nIbsazYg==",
        "ETag": "\u00220x8DA8631A77F7A24\u0022",
        "Last-Modified": "Thu, 25 Aug 2022 00:35:04 GMT",
        "x-ms-content-crc64": "OIyBbegbJhU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer61ef33a8/blobcopy61ef33a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-language": "english",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainer61ef33a8/blob61ef33a8?se=end\u0026sp=r\u0026sv=2023-01-03\u0026sr=b\u0026sig=fake_token_value",
        "x-ms-copy-source-blob-properties": "true",
        "x-ms-date": "Thu, 25 Aug 2022 00:35:04 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-tags": "tag1=copytag",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8631A7F5AA32\u0022",
        "Last-Modified": "Thu, 25 Aug 2022 00:35:05 GMT",
        "x-ms-content-crc64": "OIyBbegbJhU=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer61ef33a8/blobcopy61ef33a8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Aug 2022 00:35:05 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Language": "english",
        "Content-MD5": "BmRZdU7mXzYVn1nIbsazYg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA8631A7F5AA32\u0022",
        "Last-Modified": "Thu, 25 Aug 2022 00:35:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 25 Aug 2022 00:35:05 GMT",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-tag-count": "1",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
