interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 17 Oct 2019 19:53:31 GMT']
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/acontainer51171606?restype=container
  response:
    body: {string: ''}
    headers: {content-length: '0', date: 'Thu, 17 Oct 2019 19:53:30 GMT', etag: '"0x8D7533BAFED95DD"',
      last-modified: 'Thu, 17 Oct 2019 19:53:31 GMT', server: Windows-Azure-Blob/1.0
        Microsoft-HTTPAPI/2.0, x-ms-version: '2019-02-02'}
    status: {code: 201, message: Created}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, pyacrstorage3wfv5caujmik.blob.core.windows.net,
        /acontainer51171606, restype=container, '']
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 17 Oct 2019 19:53:31 GMT']
      x-ms-version: ['2019-02-02']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/?prefix=acontainer51171606&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\"><Prefix>acontainer51171606</Prefix><Containers><Container><Name>acontainer51171606</Name><Properties><Last-Modified>Thu,
        17 Oct 2019 19:53:31 GMT</Last-Modified><Etag>\"0x8D7533BAFED95DD\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"}
    headers: {content-type: application/xml, date: 'Thu, 17 Oct 2019 19:53:30 GMT',
      server: Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0, transfer-encoding: chunked,
      x-ms-version: '2019-02-02'}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, pyacrstorage3wfv5caujmik.blob.core.windows.net,
        /, prefix=acontainer51171606&comp=list, '']
version: 1
