{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerfcae3484?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Aug 2022 21:52:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA86E42D24D519\u0022",
        "Last-Modified": "Thu, 25 Aug 2022 21:52:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource1fcae3484?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Aug 2022 21:52:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA86E42D407393\u0022",
        "Last-Modified": "Thu, 25 Aug 2022 21:52:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerfcae3484/blobfcae3484?comp=block\u0026blockid=MQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 25 Aug 2022 21:52:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "QUFB",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "Cc/2Kr4DuKg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerfcae3484/blobfcae3484?comp=block\u0026blockid=Mg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 25 Aug 2022 21:52:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "QkJC",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "\u002B3yuPEA7IqE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerfcae3484/blobfcae3484?comp=block\u0026blockid=Mw%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 25 Aug 2022 21:52:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "Q0ND",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "VRJmMeosVKY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerfcae3484/blobfcae3484?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-access-tier": "Cold",
        "x-ms-date": "Thu, 25 Aug 2022 21:52:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CBlockList\u003E\u003CLatest\u003EMQ==\u003C/Latest\u003E\u003CLatest\u003EMg==\u003C/Latest\u003E\u003CLatest\u003EMw==\u003C/Latest\u003E\u003C/BlockList\u003E"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA86E42D69CEC9\u0022",
        "Last-Modified": "Thu, 25 Aug 2022 21:52:59 GMT",
        "x-ms-content-crc64": "dAoQ5rLgKr0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerfcae3484/blobfcae3484",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 25 Aug 2022 21:52:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA86E42D69CEC9\u0022",
        "Last-Modified": "Thu, 25 Aug 2022 21:52:59 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 25 Aug 2022 21:52:59 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 25 Aug 2022 21:52:59 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
