interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 Nov 2020 22:14:48 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8dea1eed?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D88C0F5CE3B7F3"'
      last-modified:
      - Wed, 18 Nov 2020 22:14:48 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: This is test data to be copied over.
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-access-tier:
      - Cool
      x-ms-blob-content-disposition:
      - inline
      x-ms-blob-content-language:
      - spanish
      x-ms-blob-content-type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 18 Nov 2020 22:14:48 GMT
      x-ms-tags:
      - tag1=firsttag&tag2=secondtag&tag3=thirdtag
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8dea1eed/blob8dea1eed
  response:
    body:
      string: ''
    headers:
      content-md5:
      - BmRZdU7mXzYVn1nIbsazYg==
      etag:
      - '"0x8D88C0F5D003237"'
      last-modified:
      - Wed, 18 Nov 2020 22:14:48 GMT
      x-ms-content-crc64:
      - OIyBbegbJhU=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-04-08'
      x-ms-version-id:
      - '2020-11-18T22:14:48.5617207Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 Nov 2020 22:14:48 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - 23dc1b14-8637-4b15-8c26-a6ea73908ca3
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8dea1eed/blob8dea1eed?comp=lease
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D88C0F5D003237"'
      last-modified:
      - Wed, 18 Nov 2020 22:14:48 GMT
      x-ms-lease-id:
      - 23dc1b14-8637-4b15-8c26-a6ea73908ca3
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 Nov 2020 22:14:48 GMT
      x-ms-version:
      - '2020-04-08'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainer8dea1eed/blob8dea1eed
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline
      content-language:
      - spanish
      content-md5:
      - BmRZdU7mXzYVn1nIbsazYg==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D88C0F5D003237"'
      last-modified:
      - Wed, 18 Nov 2020 22:14:48 GMT
      x-ms-access-tier:
      - Cool
      x-ms-access-tier-change-time:
      - Wed, 18 Nov 2020 22:14:48 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 18 Nov 2020 22:14:48 GMT
      x-ms-is-current-version:
      - 'true'
      x-ms-last-access-time:
      - Wed, 18 Nov 2020 22:14:48 GMT
      x-ms-lease-duration:
      - infinite
      x-ms-lease-state:
      - leased
      x-ms-lease-status:
      - locked
      x-ms-server-encrypted:
      - 'true'
      x-ms-tag-count:
      - '3'
      x-ms-version:
      - '2020-04-08'
      x-ms-version-id:
      - '2020-11-18T22:14:48.5617207Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-source:
      - https://seanmcccanary3.blob.core.windows.net/utcontainer8dea1eed/blob8dea1eed?se=2020-11-18T23%3A14%3A49Z&sp=rt&sv=2020-04-08&sr=b&sig=uyWZz9hw0rOs46jh5rmhcRy5TZ3WGf5WQF8n8gCM44g%3D
      x-ms-copy-source-blob-properties:
      - 'true'
      x-ms-date:
      - Wed, 18 Nov 2020 22:14:49 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8dea1eed/blob1copy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D88C0F5D75507B"'
      last-modified:
      - Wed, 18 Nov 2020 22:14:49 GMT
      x-ms-content-crc64:
      - OIyBbegbJhU=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-04-08'
      x-ms-version-id:
      - '2020-11-18T22:14:49.3292667Z'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 Nov 2020 22:14:49 GMT
      x-ms-version:
      - '2020-04-08'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainer8dea1eed/blob1copy
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline
      content-language:
      - spanish
      content-md5:
      - BmRZdU7mXzYVn1nIbsazYg==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D88C0F5D75507B"'
      last-modified:
      - Wed, 18 Nov 2020 22:14:49 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 18 Nov 2020 22:14:49 GMT
      x-ms-is-current-version:
      - 'true'
      x-ms-last-access-time:
      - Wed, 18 Nov 2020 22:14:49 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-04-08'
      x-ms-version-id:
      - '2020-11-18T22:14:49.3292667Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 18 Nov 2020 22:14:49 GMT
      x-ms-version:
      - '2020-04-08'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainer8dea1eed/blob2copy
  response:
    body:
      string: ''
    headers:
      content-md5:
      - BmRZdU7mXzYVn1nIbsazYg==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D88C0F5D89C69A"'
      last-modified:
      - Wed, 18 Nov 2020 22:14:49 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 18 Nov 2020 22:14:49 GMT
      x-ms-is-current-version:
      - 'true'
      x-ms-last-access-time:
      - Wed, 18 Nov 2020 22:14:49 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-04-08'
      x-ms-version-id:
      - '2020-11-18T22:14:49.4633626Z'
    status:
      code: 200
      message: OK
version: 1
