interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 May 2020 07:08:33 GMT
      x-ms-version:
      - '2019-10-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container4b1215ce?timeout=5&restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7F70C732E6738"'
      last-modified: Wed, 13 May 2020 07:08:34 GMT
      x-ms-version: '2019-10-10'
    status:
      code: 201
      message: Created
    url: https://huxfrancec.blob.core.windows.net/container4b1215ce?timeout=5&restype=container
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 13 May 2020 07:08:34 GMT
      x-ms-tags:
      - ''
      x-ms-version:
      - '2019-10-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container4b1215ce/blob4b1215ce
  response:
    body:
      string: ''
    headers:
      content-md5: 1B2M2Y8AsgTpgAmY7PhCfg==
      etag: '"0x8D7F70C7351FAA3"'
      last-modified: Wed, 13 May 2020 07:08:34 GMT
      x-ms-content-crc64: AAAAAAAAAAA=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-10-10'
      x-ms-version-id: '2020-05-13T07:08:34.2645174Z'
    status:
      code: 201
      message: Created
    url: https://huxfrancec.blob.core.windows.net/container4b1215ce/blob4b1215ce
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 13 May 2020 07:08:34 GMT
      x-ms-version:
      - '2019-10-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container4b1215ce/blob4b1215ce?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: Cc/2Kr4DuKg=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-10-10'
    status:
      code: 201
      message: Created
    url: https://huxfrancec.blob.core.windows.net/container4b1215ce/blob4b1215ce?blockid=MQ%3D%3D&comp=block
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 13 May 2020 07:08:34 GMT
      x-ms-version:
      - '2019-10-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container4b1215ce/blob4b1215ce?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: +3yuPEA7IqE=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-10-10'
    status:
      code: 201
      message: Created
    url: https://huxfrancec.blob.core.windows.net/container4b1215ce/blob4b1215ce?blockid=Mg%3D%3D&comp=block
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 13 May 2020 07:08:34 GMT
      x-ms-version:
      - '2019-10-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container4b1215ce/blob4b1215ce?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: VRJmMeosVKY=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-10-10'
    status:
      code: 201
      message: Created
    url: https://huxfrancec.blob.core.windows.net/container4b1215ce/blob4b1215ce?blockid=Mw%3D%3D&comp=block
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 13 May 2020 07:08:34 GMT
      x-ms-tags:
      - tag1=firsttag&tag2=secondtag&tag3=thirdtag
      x-ms-version:
      - '2019-10-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container4b1215ce/blob4b1215ce?comp=blocklist
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7F70C73B58961"'
      last-modified: Wed, 13 May 2020 07:08:34 GMT
      x-ms-content-crc64: dAoQ5rLgKr0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-10-10'
      x-ms-version-id: '2020-05-13T07:08:34.9179789Z'
    status:
      code: 201
      message: Created
    url: https://huxfrancec.blob.core.windows.net/container4b1215ce/blob4b1215ce?comp=blocklist
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 May 2020 07:08:35 GMT
      x-ms-version:
      - '2019-10-10'
    method: GET
    uri: https://storagename.blob.core.windows.net/container4b1215ce/blob4b1215ce?comp=tags
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Tags><TagSet><Tag><Key>tag1</Key><Value>firsttag</Value></Tag><Tag><Key>tag2</Key><Value>secondtag</Value></Tag><Tag><Key>tag3</Key><Value>thirdtag</Value></Tag></TagSet></Tags>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-10-10'
    status:
      code: 200
      message: OK
    url: https://huxfrancec.blob.core.windows.net/container4b1215ce/blob4b1215ce?comp=tags
version: 1
