{
  "Entries": [
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainer68e9379c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Mar 2023 00:31:07 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EContainerAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified container already exists.\n",
        "RequestId:3b024e11-a01e-0006-04b0-5310c6000000\n",
        "Time:2023-03-11T00:31:07.5759755Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainer68e9379c/utcontainer68e9379c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 11 Mar 2023 00:31:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "YWJj",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "kAFQmDzST7DWlj99KOF/cg==",
        "ETag": "\u00220x8DB21C7E7EF2A2D\u0022",
        "Last-Modified": "Sat, 11 Mar 2023 00:31:07 GMT",
        "x-ms-content-crc64": "6/rBP7vK5QU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-11T00:31:07.6486461Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainer68e9379c/utcontainer68e9379c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Mar 2023 00:31:08 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kAFQmDzST7DWlj99KOF/cg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB21C7E7EF2A2D\u0022",
        "Last-Modified": "Sat, 11 Mar 2023 00:31:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 11 Mar 2023 00:31:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-11T00:31:07.6486461Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainer68e9379c/utcontainer68e9379c?versionid=2023-03-11T00:31:07.6486461Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Mar 2023 00:31:08 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2/3",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB21C7E7EF2A2D\u0022",
        "Last-Modified": "Sat, 11 Mar 2023 00:31:07 GMT",
        "x-ms-blob-content-md5": "kAFQmDzST7DWlj99KOF/cg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 11 Mar 2023 00:31:07 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-11T00:31:07.6486461Z"
      },
      "ResponseBody": "YWJj"
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainer68e9379c/utcontainer68e9379c?versionid=2023-03-11T00:31:07.7305985Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Mar 2023 00:31:08 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-5/6",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB21C7E7FB8464\u0022",
        "Last-Modified": "Sat, 11 Mar 2023 00:31:07 GMT",
        "x-ms-blob-content-md5": "RArIWJLKQ60m1Ex62dR9Pg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 11 Mar 2023 00:31:07 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-03-11T00:31:07.7305985Z"
      },
      "ResponseBody": "YWJjYWJj"
    }
  ],
  "Variables": {}
}
