{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/cont1ae1a2fd2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 08 Aug 2022 19:39:24 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7975B2B968E4\u0022",
        "Last-Modified": "Mon, 08 Aug 2022 19:39:24 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/cont1ae1a2fd2/testblobae1a2fd2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 08 Aug 2022 19:39:24 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQgcHl0aG9uIHN0b3JhZ2UgdGVzdCBjaHVua3NoZWxsbyB3b3JsZCBweXRob24gc3RvcmFnZSB0ZXN0IGNodW5rc2hlbGxvIHdvcmxkIHB5dGhvbiBzdG9yYWdlIHRlc3QgY2h1bmtzaGVsbG8gd29ybGQgcHl0aG9uIHN0b3JhZ2UgdGVzdCBjaHVua3NoZWxsbyB3b3JsZCBweXRob24gc3RvcmFnZSB0ZXN0IGNodW5rcw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "NFABlYa98QcKByUGNRWlww==",
        "ETag": "\u00220x8DA7975B2C91EFC\u0022",
        "Last-Modified": "Mon, 08 Aug 2022 19:39:24 GMT",
        "x-ms-content-crc64": "riFs7WyQCe8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/cont1ae1a2fd2/testblobae1a2fd2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "*",
        "x-ms-date": "Mon, 08 Aug 2022 19:39:24 GMT",
        "x-ms-range": "bytes=0-37",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-37/190",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7975B2C91EFC\u0022",
        "Last-Modified": "Mon, 08 Aug 2022 19:39:24 GMT",
        "x-ms-blob-content-md5": "NFABlYa98QcKByUGNRWlww==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 08 Aug 2022 19:39:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "aGVsbG8gd29ybGQgcHl0aG9uIHN0b3JhZ2UgdGVzdCBjaHVua3M="
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/cont1ae1a2fd2/testblobae1a2fd2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DA7975B2C91EFC\u0022",
        "x-ms-date": "Mon, 08 Aug 2022 19:39:24 GMT",
        "x-ms-range": "bytes=152-189",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:07156122-f01e-00bb-665e-ab4c83000000\n",
        "Time:2022-08-08T19:39:24.9604325Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
