interactions:
- request:
    body: null
    headers:
      content-type: [application/xml; charset=utf-8]
      x-ms-date: ['Tue, 01 Oct 2019 19:15:50 GMT']
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container617e10e3?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D746A3C5D36D35"']
      Last-Modified: ['Tue, 01 Oct 2019 19:15:50 GMT']
      x-ms-version: ['2019-02-02']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      Content-Type: [application/octet-stream]
      If-None-Match: ['*']
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Tue, 01 Oct 2019 19:15:50 GMT']
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container617e10e3/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D746A3C5E03DF7"']
      Last-Modified: ['Tue, 01 Oct 2019 19:15:50 GMT']
      x-ms-content-crc64: [vo7q9sPVKY0=]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2019-02-02']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      content-type: [application/xml; charset=utf-8]
      x-ms-date: ['Tue, 01 Oct 2019 19:15:50 GMT']
      x-ms-version: ['2019-02-02']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container617e10e3/blob1?comp=snapshot
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D746A3C5E03DF7"']
      Last-Modified: ['Tue, 01 Oct 2019 19:15:50 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-snapshot: ['2019-10-01T19:15:51.0506185Z']
      x-ms-version: ['2019-02-02']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      content-type: [application/xml; charset=utf-8]
      x-ms-date: ['Tue, 01 Oct 2019 19:15:51 GMT']
      x-ms-version: ['2019-02-02']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/container617e10e3?include=snapshots&restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"container617e10e3\"><Blobs><Blob><Name>blob1</Name><Snapshot>2019-10-01T19:15:51.0506185Z</Snapshot><Properties><Creation-Time>Tue,
        01 Oct 2019 19:15:50 GMT</Creation-Time><Last-Modified>Tue, 01 Oct 2019 19:15:50
        GMT</Last-Modified><Etag>0x8D746A3C5E03DF7</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob1</Name><Properties><Creation-Time>Tue,
        01 Oct 2019 19:15:50 GMT</Creation-Time><Last-Modified>Tue, 01 Oct 2019 19:15:50
        GMT</Last-Modified><Etag>0x8D746A3C5E03DF7</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Tue,
        01 Oct 2019 19:15:51 GMT</Creation-Time><Last-Modified>Tue, 01 Oct 2019 19:15:51
        GMT</Last-Modified><Etag>0x8D746A3C5F9E514</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Contro[...]
- request:
    body: "--===============5779720402057910344==\r\nContent-Type: application/http\r\nContent-Transfer-Encoding:
      binary\r\nContent-ID: 0\r\n\r\nDELETE /container617e10e3/blob1? HTTP/1.1\r\nx-ms-delete-snapshots:
      only\r\nx-ms-date: Tue, 01 Oct 2019 19:15:51 GMT\r\nx-ms-client-request-id:
      e1e44f92-e47f-11e9-8503-ecb1d756380e\r\ncontent-type: application/xml; charset=utf-8\r\nAuthorization:
      SharedKey blobstoragename:9Lx9Y3hqUPW5VjJQz7bolWNxpE0Tl4MTLMm95nUYyrw=\r\[...]
[...]
