interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 24 Mar 2022 23:42:40 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer472315a5?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA0DEFFC0EE985"'
      last-modified: Thu, 24 Mar 2022 23:42:40 GMT
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.blob.core.windows.net/utcontainer472315a5?restype=container
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 24 Mar 2022 23:42:40 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainersource472315a5?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA0DEFFC17C1DA"'
      last-modified: Thu, 24 Mar 2022 23:42:40 GMT
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.blob.core.windows.net/utcontainersource472315a5?restype=container
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '3072'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Thu, 24 Mar 2022 23:42:40 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer472315a5/blob472315a5
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA0DEFFC204B1E"'
      last-modified: Thu, 24 Mar 2022 23:42:40 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.blob.core.windows.net/utcontainer472315a5/blob472315a5
- request:
    body: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 24 Mar 2022 23:42:40 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer472315a5/blob472315a5?comp=page
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA0DEFFC283932"'
      last-modified: Thu, 24 Mar 2022 23:42:40 GMT
      x-ms-blob-sequence-number: '0'
      x-ms-content-crc64: u661BimQ84c=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.blob.core.windows.net/utcontainer472315a5/blob472315a5?comp=page
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 24 Mar 2022 23:42:40 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainer472315a5/blob472315a5?comp=pagelist&maxresults=2
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<PageList><PageRange><Start>0</Start><End>511</End></PageRange><PageRange><Start>1024</Start><End>1535</End></PageRange><NextMarker>2!16!MDAwMDA0ITIwNDgh</NextMarker></PageList>"
    headers:
      content-type: application/xml
      etag: '"0x8DA0DEFFC383C75"'
      last-modified: Thu, 24 Mar 2022 23:42:40 GMT
      x-ms-blob-content-length: '3072'
      x-ms-version: '2021-06-08'
    status:
      code: 200
      message: OK
    url: https://jalauzoncanary.blob.core.windows.net/utcontainer472315a5/blob472315a5?comp=pagelist&maxresults=2
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 24 Mar 2022 23:42:40 GMT
      x-ms-version:
      - '2021-06-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainer472315a5/blob472315a5?comp=pagelist&marker=2!16!MDAwMDA0ITIwNDgh&maxresults=2
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<PageList><PageRange><Start>2048</Start><End>3071</End></PageRange><NextMarker/></PageList>"
    headers:
      content-type: application/xml
      etag: '"0x8DA0DEFFC383C75"'
      last-modified: Thu, 24 Mar 2022 23:42:40 GMT
      x-ms-blob-content-length: '3072'
      x-ms-version: '2021-06-08'
    status:
      code: 200
      message: OK
    url: https://jalauzoncanary.blob.core.windows.net/utcontainer472315a5/blob472315a5?comp=pagelist&marker=2!16!MDAwMDA0ITIwNDgh&maxresults=2
version: 1
