interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 08:48:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoraged2991398.blob.core.windows.net/containerd2991398?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72C5D9BDDAF10"'
      last-modified:
      - Thu, 29 Aug 2019 08:48:05 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 29 Aug 2019 08:48:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoraged2991398.blob.core.windows.net/containerd2991398/blob_a1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D72C5D9BEDF1CB"'
      last-modified:
      - Thu, 29 Aug 2019 08:48:05 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 29 Aug 2019 08:48:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoraged2991398.blob.core.windows.net/containerd2991398/blob_b1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D72C5D9C1E5C37"'
      last-modified:
      - Thu, 29 Aug 2019 08:48:05 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 08:48:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoraged2991398.blob.core.windows.net/containerd2991398?maxresults=2&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoraged2991398.blob.core.windows.net/\" ContainerName=\"containerd2991398\"><MaxResults>2</MaxResults><Blobs><Blob><Name>blob_a1</Name><Properties><Creation-Time>Thu,
        29 Aug 2019 08:48:05 GMT</Creation-Time><Last-Modified>Thu, 29 Aug 2019 08:48:05
        GMT</Last-Modified><Etag>0x8D72C5D9BEDF1CB</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob><Blob><Name>blob_a2</Name><Properties><Creation-Time>Thu,
        29 Aug 2019 08:48:05 GMT</Creation-Time><Last-Modified>Thu, 29 Aug 2019 08:48:05
        GMT</Last-Modified><Etag>0x8D72C5D9BFEBEA8</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob></Blobs><NextMarker>2!68!MDAwMDA3IWJsb2JfYTMhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVoh</NextMarker></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
