interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>1</Days></DeleteRetentionPolicy></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 09 Oct 2019 18:27:56 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage1a851d15.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1a851d15.blob.core.windows.net
        - /
        - restype=service&comp=properties
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 18:28:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage1a851d15.blob.core.windows.net/containerfordeletedblobsasync?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74CE66B52FB84"'
      last-modified: Wed, 09 Oct 2019 18:28:02 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1a851d15.blob.core.windows.net
        - /containerfordeletedblobsasync
        - restype=container
        - ''
- request:
    body: Lorem ipsum dolor sit amet, consectetur adipiscing elit
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 09 Oct 2019 18:28:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage1a851d15.blob.core.windows.net/containerfordeletedblobsasync/my_blob
  response:
    body:
      string: ''
    headers:
      content-md5: /BCgjff6+jhxFmZGYJ4clQ==
      etag: '"0x8D74CE66B5BCF13"'
      last-modified: Wed, 09 Oct 2019 18:28:02 GMT
      x-ms-content-crc64: 69CZwUFtgrU=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1a851d15.blob.core.windows.net
        - /containerfordeletedblobsasync/my_blob
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 18:28:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstorage1a851d15.blob.core.windows.net/containerfordeletedblobsasync/my_blob
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent: 'false'
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1a851d15.blob.core.windows.net
        - /containerfordeletedblobsasync/my_blob
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 18:28:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage1a851d15.blob.core.windows.net/containerfordeletedblobsasync/my_blob?comp=undelete
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1a851d15.blob.core.windows.net
        - /containerfordeletedblobsasync/my_blob
        - comp=undelete
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 18:28:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstorage1a851d15.blob.core.windows.net/containerfordeletedblobsasync/my_blob
  response:
    body:
      string: ''
    headers:
      content-md5: /BCgjff6+jhxFmZGYJ4clQ==
      content-type: application/octet-stream
      etag: '"0x8D74CE66B5BCF13"'
      last-modified: Wed, 09 Oct 2019 18:28:02 GMT
      x-ms-blob-type: BlockBlob
      x-ms-creation-time: Wed, 09 Oct 2019 18:28:02 GMT
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1a851d15.blob.core.windows.net
        - /containerfordeletedblobsasync/my_blob
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Oct 2019 18:28:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstorage1a851d15.blob.core.windows.net/containerfordeletedblobsasync?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1a851d15.blob.core.windows.net
        - /containerfordeletedblobsasync
        - restype=container
        - ''
version: 1
