interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 01:24:20 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage51961dd6.blob.core.windows.net/utcontainer51961dd6?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DE9BE394AED"'
      last-modified: Fri, 11 Oct 2019 01:24:21 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage51961dd6.blob.core.windows.net
        - /utcontainer51961dd6
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '2048'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 11 Oct 2019 01:24:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage51961dd6.blob.core.windows.net/utcontainer51961dd6/blob1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DE9BE40A357"'
      last-modified: Fri, 11 Oct 2019 01:24:21 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage51961dd6.blob.core.windows.net
        - /utcontainer51961dd6/blob1
        - ''
        - ''
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 11 Oct 2019 01:24:21 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage51961dd6.blob.core.windows.net/utcontainer51961dd6/blob1?comp=page
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DE9BE45D469"'
      last-modified: Fri, 11 Oct 2019 01:24:21 GMT
      x-ms-blob-sequence-number: '0'
      x-ms-content-crc64: EZA9hgZaRrQ=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage51961dd6.blob.core.windows.net
        - /utcontainer51961dd6/blob1
        - comp=page
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 01:24:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstorage51961dd6.blob.core.windows.net/utcontainer51961dd6/blob1
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D74DE9BE52F631"'
      last-modified: Fri, 11 Oct 2019 01:24:21 GMT
      x-ms-blob-sequence-number: '0'
      x-ms-blob-type: PageBlob
      x-ms-creation-time: Fri, 11 Oct 2019 01:24:21 GMT
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage51961dd6.blob.core.windows.net
        - /utcontainer51961dd6/blob1
        - ''
        - ''
- request:
    body: null
    headers:
      If-Match:
      - '"0x8D74DE9BE52F631"'
      x-ms-date:
      - Fri, 11 Oct 2019 01:24:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage51961dd6.blob.core.windows.net/utcontainer51961dd6/blob1?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>0</Start><End>511</End></PageRange><PageRange><Start>1024</Start><End>1535</End></PageRange></PageList>"
    headers:
      content-type: application/xml
      etag: '"0x8D74DE9BE52F631"'
      last-modified: Fri, 11 Oct 2019 01:24:21 GMT
      x-ms-blob-content-length: '2048'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage51961dd6.blob.core.windows.net
        - /utcontainer51961dd6/blob1
        - comp=pagelist
        - ''
version: 1
