interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee018138a.blob.core.windows.net/utcontainere018138a?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74E668E38EB23"'
      last-modified: Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee018138a.blob.core.windows.net
        - /utcontainere018138a
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee018138a.blob.core.windows.net/utcontainersourcee018138a?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74E668E4D6135"'
      last-modified: Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee018138a.blob.core.windows.net
        - /utcontainersourcee018138a
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '512'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee018138a.blob.core.windows.net/utcontainere018138a/blobe018138a
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74E668E5626EB"'
      last-modified: Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee018138a.blob.core.windows.net
        - /utcontainere018138a/blobe018138a
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - b9436db6-db2f-4704-ad82-302762801e66
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee018138a.blob.core.windows.net/utcontainere018138a/blobe018138a?comp=lease
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74E668E5626EB"'
      last-modified: Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-lease-id: b9436db6-db2f-4704-ad82-302762801e66
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee018138a.blob.core.windows.net
        - /utcontainere018138a/blobe018138a
        - comp=lease
        - ''
- request:
    body: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-lease-id:
      - b9436db6-db2f-4704-ad82-302762801e66
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragee018138a.blob.core.windows.net/utcontainere018138a/blobe018138a?comp=page
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74E668E5FC594"'
      last-modified: Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-blob-sequence-number: '0'
      x-ms-content-crc64: u661BimQ84c=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee018138a.blob.core.windows.net
        - /utcontainere018138a/blobe018138a
        - comp=page
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-lease-id:
      - b9436db6-db2f-4704-ad82-302762801e66
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragee018138a.blob.core.windows.net/utcontainere018138a/blobe018138a
  response:
    body:
      string: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    headers:
      content-range: bytes 0-511/512
      content-type: application/octet-stream
      etag: '"0x8D74E668E5FC594"'
      last-modified: Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-blob-sequence-number: '0'
      x-ms-blob-type: PageBlob
      x-ms-creation-time: Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-lease-duration: infinite
      x-ms-lease-state: leased
      x-ms-lease-status: locked
      x-ms-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 206
      message: Partial Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee018138a.blob.core.windows.net
        - /utcontainere018138a/blobe018138a
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragee018138a.blob.core.windows.net/utcontainere018138a/blobe018138a?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>0</Start><End>511</End></PageRange></PageList>"
    headers:
      content-type: application/xml
      etag: '"0x8D74E668E5FC594"'
      last-modified: Fri, 11 Oct 2019 16:17:47 GMT
      x-ms-blob-content-length: '512'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragee018138a.blob.core.windows.net
        - /utcontainere018138a/blobe018138a
        - comp=pagelist
        - ''
version: 1
