{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer36543712?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 08 Sep 2022 18:42:43 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA91C9EAA5EEC5\u0022",
        "Last-Modified": "Thu, 08 Sep 2022 18:42:43 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
