interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 01:58:29 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragef6f81cc3.blob.core.windows.net/utcontainerf6f81cc3?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:cfaf82e9-301e-0017-4d44-5df015000000\nTime:2019-08-28T01:58:30.3232525Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request '1n2RYU5D0We8ReDywpAaQAG3y0lWwM6d22OfnBszY2A='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:550b4700-c937-11e9-ae57-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 01:58:29 GMT\nx-ms-version:2019-02-02\n/pyacrstoragef6f81cc3/utcontainerf6f81cc3\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef6f81cc3.blob.core.windows.net
        - /utcontainerf6f81cc3
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-type:
      - AppendBlob
      x-ms-date:
      - Wed, 28 Aug 2019 01:58:30 GMT
      x-ms-meta-BlobData:
      - Data1
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragef6f81cc3.blob.core.windows.net/utcontainerf6f81cc3/blobf6f81cc3
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:cfaf8327-301e-0017-0844-5df015000000\nTime[...]
