interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 17:59:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D759751A0FBAD0"'
      last-modified:
      - Fri, 25 Oct 2019 17:59:37 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 25 Oct 2019 17:59:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5/blob1?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - Cc/2Kr4DuKg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 25 Oct 2019 17:59:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5/blob1?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - +3yuPEA7IqE=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 25 Oct 2019 17:59:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5/blob1?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - VRJmMeosVKY=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 25 Oct 2019 17:59:38 GMT
      x-ms-meta-name:
      - car
      x-ms-meta-number:
      - '2'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5/blob2
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D759751A31AAC9"'
      last-modified:
      - Fri, 25 Oct 2019 17:59:38 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 17:59:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5?include=uncommittedblobs&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"containerf3fe18d5\"><Blobs><Blob><Name>blob1</Name><Properties><Content-Length>0</Content-Length><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Fri,
        25 Oct 2019 17:59:38 GMT</Creation-Time><Last-Modified>Fri, 25 Oct 2019 17:59:38
        GMT</Last-Modified><Etag>0x8D759751A31AAC9</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
