{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container3f95629d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 04 Aug 2022 00:02:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA75AC96490081\u0022",
        "Last-Modified": "Thu, 04 Aug 2022 00:02:14 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container3f95629d9?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 04 Aug 2022 00:02:47 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EContainerNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified container does not exist.\n",
        "RequestId:1395640b-f01e-004a-6d95-a77256000000\n",
        "Time:2022-08-04T00:02:45.8266750Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/?comp=list\u0026include=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 04 Aug 2022 00:02:47 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container3f95629d9?restype=container\u0026comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 04 Aug 2022 00:02:47 GMT",
        "x-ms-deleted-container-name": "container3f95629d9",
        "x-ms-deleted-container-version": "01D8A79573D268DD",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container3f95629d9?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 04 Aug 2022 00:02:49 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA75ACA94205A5\u0022",
        "Last-Modified": "Thu, 04 Aug 2022 00:02:46 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
