{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer96f4392c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 00:03:09 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA60753E1151AD\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 00:03:09 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource96f4392c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 00:03:09 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA60753E24AFC5\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 00:03:09 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer96f4392c/blob96f4392c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 08 Jul 2022 00:03:09 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA60753E30971B\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 00:03:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer96f4392c/blob96f4392c?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 00:03:10 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA60753EEA7D12\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 00:03:10 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer96f4392c/copiedblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainer96f4392c/blob96f4392c",
        "x-ms-date": "Fri, 08 Jul 2022 00:03:11 GMT",
        "x-ms-seal-blob": "false",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA60753EF6141B\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 00:03:11 GMT",
        "x-ms-copy-id": "1788b24d-b1ab-4a63-9297-6ccacd4f8345",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer96f4392c/copiedblob3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 00:03:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA60753EF6141B\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 00:03:11 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Fri, 08 Jul 2022 00:03:11 GMT",
        "x-ms-copy-id": "1788b24d-b1ab-4a63-9297-6ccacd4f8345",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainer96f4392c/blob96f4392c",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 08 Jul 2022 00:03:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer96f4392c/copiedblob3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 08 Jul 2022 00:03:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YWJj",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA60753F0C30F6\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 00:03:11 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "6/rBP7vK5QU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
