{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd37a4061?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Aug 2022 21:28:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A4E0D7D02D6\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 21:28:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd37a4061?restype=container\u0026comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-Modified-Since": "Tue, 09 Aug 2022 21:13:08 GMT",
        "x-ms-date": "Tue, 09 Aug 2022 21:28:08 GMT",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "43",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A4E0D987C80\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 21:28:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd37a4061?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Aug 2022 21:28:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A4E0D987C80\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 21:28:08 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "43",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "if_modified": "2022-08-09T21:13:08.671064"
  }
}
