interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 15 Aug 2019 00:39:56 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf11f18b4?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7211919E2A6A6"'
      Last-Modified:
      - Thu, 15 Aug 2019 00:39:58 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>0</Id><AccessPolicy><Start>2019-08-15T00:38:58Z</Start><Expiry>2019-08-15T01:39:58Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>1</Id><AccessPolicy><Start>2019-08-15T00:38:58Z</Start><Expiry>2019-08-15T01:39:58Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>2</Id><AccessPolicy><Start>2019-08-15T00:38:58Z</Start><Expiry>2019-08-15T01:39:58Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 15 Aug 2019 00:39:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf11f18b4?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D721191A1A1E9B"'
      Last-Modified:
      - Thu, 15 Aug 2019 00:39:59 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 15 Aug 2019 00:39:59 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.blob.core.windows.net/containerf11f18b4?restype=container&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>0</Id><AccessPolicy><Start>2019-08-15T00:38:58.0000000Z</Start><Expiry>2019-08-15T01:39:58.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>1</Id><AccessPolicy><Start>2019-08-15T00:38:58.0000000Z</Start><Expiry>2019-08-15T01:39:58.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>2</Id><AccessPolicy><Start>2019-08-15T00:38:58.0000000Z</Start><Expiry>2019-08-15T01:39:58.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      Content-Type:
      - application/xml
      ETag:
      - '"0x8D721191A1A1E9B"'
      Last-Modified:
      - Thu, 15 Aug 2019 00:39:59 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
