interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Oct 2021 07:01:24 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer1c7814d1?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D9896046E7F171"'
      last-modified: Thu, 07 Oct 2021 07:01:24 GMT
      x-ms-version: '2020-10-02'
    status:
      code: 201
      message: Created
    url: https://emilydevtest.blob.core.windows.net/utcontainer1c7814d1?restype=container
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Oct 2021 07:01:24 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainersource11c7814d1?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D9896046EC37F4"'
      last-modified: Thu, 07 Oct 2021 07:01:24 GMT
      x-ms-version: '2020-10-02'
    status:
      code: 201
      message: Created
    url: https://emilydevtest.blob.core.windows.net/utcontainersource11c7814d1?restype=container
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 07 Oct 2021 07:01:24 GMT
      x-ms-tags:
      - tag1=firsttag&tag2=secondtag&tag3=thirdtag
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer1c7814d1/blob1c7814d1
  response:
    body:
      string: ''
    headers:
      content-md5: 1B2M2Y8AsgTpgAmY7PhCfg==
      etag: '"0x8D9896046F2777B"'
      last-modified: Thu, 07 Oct 2021 07:01:24 GMT
      x-ms-content-crc64: AAAAAAAAAAA=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2020-10-02'
    status:
      code: 201
      message: Created
    url: https://emilydevtest.blob.core.windows.net/utcontainer1c7814d1/blob1c7814d1
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Oct 2021 07:01:25 GMT
      x-ms-if-tags:
      - '"condition tag"=''wrong tag'''
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainer1c7814d1/blob1c7814d1?comp=blocklist&blocklisttype=all
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The
        condition specified using HTTP conditional header(s) is not met.\nRequestId:4e6bcff5-c01e-0075-0b49-bb38d8000000\nTime:2021-10-07T07:01:25.1789213Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: ConditionNotMet
      x-ms-version: '2020-10-02'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
    url: https://emilydevtest.blob.core.windows.net/utcontainer1c7814d1/blob1c7814d1?comp=blocklist&blocklisttype=all
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Oct 2021 07:01:25 GMT
      x-ms-if-tags:
      - '"tag1"=''firsttag'''
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainer1c7814d1/blob1c7814d1?comp=blocklist&blocklisttype=all
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks
        /><UncommittedBlocks /></BlockList>"
    headers:
      content-type: application/xml
      etag: '"0x8D9896046F2777B"'
      last-modified: Thu, 07 Oct 2021 07:01:24 GMT
      x-ms-blob-content-length: '0'
      x-ms-version: '2020-10-02'
    status:
      code: 200
      message: OK
    url: https://emilydevtest.blob.core.windows.net/utcontainer1c7814d1/blob1c7814d1?comp=blocklist&blocklisttype=all
version: 1
