interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Feb 2020 23:40:23 GMT
      x-ms-default-encryption-scope:
      - containerscope
      x-ms-deny-encryption-scope-override:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/asyncdenyoverridecpkcontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7AB5DEFF1F9DE"'
      last-modified: Thu, 06 Feb 2020 23:40:24 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /asyncdenyoverridecpkcontainer
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Feb 2020 23:40:24 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.blob.core.windows.net/asyncdenyoverridecpkcontainer?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7AB5DEFF1F9DE"'
      last-modified: Thu, 06 Feb 2020 23:40:24 GMT
      x-ms-default-encryption-scope: containerscope
      x-ms-deny-encryption-scope-override: 'true'
      x-ms-has-immutability-policy: 'false'
      x-ms-has-legal-hold: 'false'
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /asyncdenyoverridecpkcontainer
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Feb 2020 23:40:24 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.blob.core.windows.net/?prefix=asyncdenyoverridecpkcontainer&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>asyncdenyoverridecpkcontainer</Prefix><Containers><Container><Name>asyncdenyoverridecpkcontainer</Name><Properties><Last-Modified>Thu,
        06 Feb 2020 23:40:24 GMT</Last-Modified><Etag>\"0x8D7AB5DEFF1F9DE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>containerscope</DefaultEncryptionScope><DenyEncryptionScopeOverride>true</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /
        - prefix=asyncdenyoverridecpkcontainer&comp=list
        - ''
- request:
    body: aaaa
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 06 Feb 2020 23:40:24 GMT
      x-ms-encryption-scope:
      - antjoscope1
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/asyncdenyoverridecpkcontainer/appendblob?comp=appendblock
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>RequestForbiddenByContainerEncryptionPolicy</Code><Message>The
        request is forbidden by the container encryption policy.\nRequestId:2c04dfb9-501e-007f-2546-ddfa32000000\nTime:2020-02-06T23:40:25.5775208Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: RequestForbiddenByContainerEncryptionPolicy
      x-ms-version: '2019-02-02'
    status:
      code: 403
      message: The request is forbidden by the container encryption policy.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /asyncdenyoverridecpkcontainer/appendblob
        - comp=appendblock
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-blob-type:
      - AppendBlob
      x-ms-date:
      - Thu, 06 Feb 2020 23:40:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/asyncdenyoverridecpkcontainer/appendblob
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7AB5DF1032A5D"'
      last-modified: Thu, 06 Feb 2020 23:40:26 GMT
      x-ms-encryption-scope: containerscope
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /asyncdenyoverridecpkcontainer/appendblob
        - ''
        - ''
- request:
    body: aaaa
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 06 Feb 2020 23:40:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/asyncdenyoverridecpkcontainer/appendblob?comp=appendblock
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7AB5DF10AA5CF"'
      last-modified: Thu, 06 Feb 2020 23:40:26 GMT
      x-ms-blob-append-offset: '0'
      x-ms-blob-committed-block-count: '1'
      x-ms-content-crc64: 8JRcxVurLRg=
      x-ms-encryption-scope: containerscope
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /asyncdenyoverridecpkcontainer/appendblob
        - comp=appendblock
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 06 Feb 2020 23:40:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.blob.core.windows.net/asyncdenyoverridecpkcontainer?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.blob.core.windows.net
        - /asyncdenyoverridecpkcontainer
        - restype=container
        - ''
version: 1
