interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Dec 2021 23:43:36 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.blob.core.windows.net/cont131050f8e?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9BC36E3700B89"'
      last-modified:
      - Fri, 10 Dec 2021 23:43:37 GMT
      x-ms-version:
      - '2021-02-12'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 10 Dec 2021 23:43:37 GMT
      x-ms-version:
      - '2021-02-12'
    method: PUT
    uri: https://storagename.blob.core.windows.net/cont131050f8e/dir1/dir2/file%EF%BF%BF.blob
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D9BC36E3A85C3F"'
      last-modified:
      - Fri, 10 Dec 2021 23:43:38 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-02-12'
      x-ms-version-id:
      - '2021-12-10T23:43:38.3353407Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Dec 2021 23:43:38 GMT
      x-ms-version:
      - '2021-02-12'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/cont131050f8e/dir1/dir2/file%EF%BF%BF.blob
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D9BC36E3A85C3F"'
      last-modified:
      - Fri, 10 Dec 2021 23:43:38 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 10 Dec 2021 23:43:38 GMT
      x-ms-is-current-version:
      - 'true'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-02-12'
      x-ms-version-id:
      - '2021-12-10T23:43:38.3353407Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Dec 2021 23:43:38 GMT
      x-ms-version:
      - '2021-02-12'
    method: GET
    uri: https://storagename.blob.core.windows.net/cont131050f8e?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"cont131050f8e\"><Blobs><Blob><Name
        Encoded=\"true\">dir1%2Fdir2%2Ffile%EF%BF%BF.blob</Name><VersionId>2021-12-10T23:43:38.3353407Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri,
        10 Dec 2021 23:43:38 GMT</Creation-Time><Last-Modified>Fri, 10 Dec 2021 23:43:38
        GMT</Last-Modified><Etag>0x8D9BC36E3A85C3F</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob></Blobs><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-02-12'
    status:
      code: 200
      message: OK
version: 1
