interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 02:00:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragea3131b7e.blob.core.windows.net/utcontainera3131b7e?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:6f00d76e-e01e-0004-7b44-5d042d000000\nTime:2019-08-28T02:00:37.0395918Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'L++Rh01CAUhgVaJZK38TzOryXizbAI/9g32Mkr28ksk='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:a09a04cc-c937-11e9-8a22-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 02:00:36 GMT\nx-ms-version:2019-02-02\n/pyacrstoragea3131b7e/utcontainera3131b7e\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragea3131b7e.blob.core.windows.net
        - /utcontainera3131b7e
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-type:
      - AppendBlob
      x-ms-date:
      - Wed, 28 Aug 2019 02:00:37 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragea3131b7e.blob.core.windows.net/utcontainera3131b7e/bloba3131b7e
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the sign[...]
