interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Apr 2020 18:53:43 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containeraa031289?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7DB24FEB41279"'
      last-modified:
      - Tue, 07 Apr 2020 18:53:43 GMT
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 07 Apr 2020 18:53:43 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containeraa031289/a/blob1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D7DB24FEBBFA16"'
      last-modified:
      - Tue, 07 Apr 2020 18:53:43 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
[...]
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 07 Apr 2020 18:53:43 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containeraa031289/b/c/blob3
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D7DB24FECA5579"'
      last-modified:
      - Tue, 07 Apr 2020 18:53:43 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 07 Apr 2020 18:53:43 GMT
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containeraa031289/blob4
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D7DB24FED1AA42"'
      last-modified:
      - Tue, 07 Apr 2020 18:53:43 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Apr 2020 18:53:43 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.blob.core.windows.net/containeraa031289?delimiter=%2F&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"containeraa031289\"><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>a/</Name></BlobPrefix><BlobPrefix><Name>b/</Name></BlobPrefix><Blob><Name>blob4</Name><Properties><Creation-Time>Tue,
        07 Apr 2020 18:53:43 GMT</Creation-Time><Last-Modified>Tue, 07 Apr 2020 18:53:43
        GMT</Last-Modified><Etag>0x8D7DB24FED1AA42</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Apr 2020 18:53:43 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.blob.core.windows.net/containeraa031289?prefix=a%2F&delimiter=%2F&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"containeraa031289\"><Prefix>a/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>a/blob1</Name><Properties><Creation-Time>Tue,
        07 Apr 2020 18:53:43 GMT</Creation-Time><Last-Modified>Tue, 07 Apr 2020 18:53:43
        GMT</Last-Modified><Etag>0x8D7DB24FEBBFA16</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><B[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Apr 2020 18:53:43 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.blob.core.windows.net/containeraa031289?prefix=b%2F&delimiter=%2F&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"containeraa031289\"><Prefix>b/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>b/c/</Name></BlobPrefix></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Apr 2020 18:53:43 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.blob.core.windows.net/containeraa031289?prefix=b%2Fc%2F&delimiter=%2F&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"containeraa031289\"><Prefix>b/c/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>b/c/blob3</Name><Properties><Creation-Time>Tue,
        07 Apr 2020 18:53:43 GMT</Creation-Time><Last-Modified>Tue, 07 Apr 2020 18:53:43
        GMT</Last-Modified><Etag>0x8D7DB24FECA5579</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
version: 1
