interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Oct 2021 06:28:35 GMT
      x-ms-version:
      - '2020-08-04'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerde1e138c?restype=container&timeout=5
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9895BB12E4F81"'
      last-modified:
      - Thu, 07 Oct 2021 06:28:35 GMT
      x-ms-version:
      - '2020-08-04'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-blob-type:
      - AppendBlob
      x-ms-date:
      - Thu, 07 Oct 2021 06:28:35 GMT
      x-ms-tags:
      - '%2B-.%2F%3A%3D_%20=firsttag&tag2=%2B-.%2F%3A%3D_&%2B-.%2F%3A%3D_1=%2B-.%2F%3A%3D_'
      x-ms-version:
      - '2020-08-04'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerde1e138c/blobde1e138c
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9895BB1385EC6"'
      last-modified:
      - Thu, 07 Oct 2021 06:28:35 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-08-04'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 07 Oct 2021 06:28:35 GMT
      x-ms-version:
      - '2020-08-04'
    method: GET
    uri: https://storagename.blob.core.windows.net/containerde1e138c/blobde1e138c?comp=tags
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Tags><TagSet><Tag><Key>+-./:=_
        </Key><Value>firsttag</Value></Tag><Tag><Key>+-./:=_1</Key><Value>+-./:=_</Value></Tag><Tag><Key>tag2</Key><Value>+-./:=_</Value></Tag></TagSet></Tags>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-08-04'
    status:
      code: 200
      message: OK
version: 1
