interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 02 Jun 2021 21:20:54 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerbd114a6?restype=container&timeout=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The
        specified container already exists.\nRequestId:2b69983b-701e-000f-20f5-57d0c5000000\nTime:2021-06-02T21:20:54.9331260Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ContainerAlreadyExists
      x-ms-version:
      - '2020-10-02'
    status:
      code: 409
      message: The specified container already exists.
- request:
    body: '{"properties": {"immutableStorageWithVersioning": {"enabled": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/XClient/providers/Microsoft.Storage/storageAccounts/storagename/blobServices/default/containers/vlwcontainerbd114a6?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/XClient/providers/Microsoft.Storage/storageAccounts/storagename/blobServices/default/containers/vlwcontainerbd114a6","name":"vlwcontainerbd114a6","type":"Microsoft.Storage/storageAccounts/blobServices/containers","properties":{"immutableStorageWithVersioning":{"enabled":true},"deleted":false,"remainingRetentionDays":0,"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D9260C5034AD4B"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: abc
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 02 Jun 2021 21:20:57 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/vlwcontainerbd114a6/vlwblobbd114a6
  response:
    body:
      string: ''
    headers:
      content-md5:
      - kAFQmDzST7DWlj99KOF/cg==
      etag:
      - '"0x8D9260C50723E08"'
      last-modified:
      - Wed, 02 Jun 2021 21:20:58 GMT
      x-ms-content-crc64:
      - 6/rBP7vK5QU=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
      x-ms-version-id:
      - '2021-06-02T21:20:58.0773144Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 02 Jun 2021 21:21:00 GMT
      x-ms-immutability-policy-mode:
      - Unlocked
      x-ms-immutability-policy-until-date:
      - Wed, 02 Jun 2021 21:21:05 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/vlwcontainerbd114a6/vlwblobbd114a6?comp=immutabilityPolicies
  response:
    body:
      string: ''
    headers:
      x-ms-immutability-policy-mode:
      - unlocked
      x-ms-immutability-policy-until-date:
      - Wed, 02 Jun 2021 21:21:05 GMT
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 02 Jun 2021 21:21:01 GMT
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/vlwcontainerbd114a6/vlwblobbd114a6
  response:
    body:
      string: ''
    headers:
      content-md5:
      - kAFQmDzST7DWlj99KOF/cg==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D9260C50723E08"'
      last-modified:
      - Wed, 02 Jun 2021 21:20:58 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 02 Jun 2021 21:20:58 GMT
      x-ms-immutability-policy-mode:
      - unlocked
      x-ms-immutability-policy-until-date:
      - Wed, 02 Jun 2021 21:21:05 GMT
      x-ms-is-current-version:
      - 'true'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
      x-ms-version-id:
      - '2021-06-02T21:20:58.0773144Z'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/XClient/providers/Microsoft.Storage/storageAccounts/storagename/blobServices/default/containers/utcontainerbd114a6?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
