interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:00:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/acontainerdbe2187a?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7597542CB1456"'
      last-modified: Fri, 25 Oct 2019 18:00:46 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekzoj3d7n4a5m.blob.core.windows.net
        - /acontainerdbe2187a
        - restype=container
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 25 Oct 2019 18:00:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/acontainerdbe2187a/blob1
  response:
    body:
      string: ''
    headers:
      content-md5: XrY7u+Ae7tCTyyK7j1rNww==
      etag: '"0x8D7597542D3534D"'
      last-modified: Fri, 25 Oct 2019 18:00:46 GMT
      x-ms-content-crc64: vo7q9sPVKY0=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekzoj3d7n4a5m.blob.core.windows.net
        - /acontainerdbe2187a/blob1
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:00:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/acontainerdbe2187a/blob1?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7597542D3534D"'
      last-modified: Fri, 25 Oct 2019 18:00:46 GMT
      x-ms-request-server-encrypted: 'false'
      x-ms-snapshot: '2019-10-25T18:00:46.3846218Z'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekzoj3d7n4a5m.blob.core.windows.net
        - /acontainerdbe2187a/blob1
        - comp=snapshot
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:00:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.blob.core.windows.net/acontainerdbe2187a?include=snapshots&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"acontainerdbe2187a\"><Blobs><Blob><Name>blob1</Name><Snapshot>2019-10-25T18:00:46.3846218Z</Snapshot><Properties><Creation-Time>Fri,
        25 Oct 2019 18:00:46 GMT</Creation-Time><Last-Modified>Fri, 25 Oct 2019 18:00:46
        GMT</Last-Modified><Etag>0x8D7597542D3534D</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob1</Name><Properties><Creation-Time>Fri,
        25 Oct 2019 18:00:46 GMT</Creation-Time><Last-Modified>Fri, 25 Oct 2019 18:00:46
        GMT</Last-Modified><Etag>0x8D7597542D3534D</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Fri,
        25 Oct 2019 18:00:46 GMT</Creation-Time><Last-Modified>Fri, 25 Oct 2019 18:00:46
        GMT</Last-Modified><Etag>0x8D7597542E1FBF8</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragekzoj3d7n4a5m.blob.core.windows.net
        - /acontainerdbe2187a
        - include=snapshots&restype=container&comp=list
        - ''
version: 1
