interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:14:31 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragef5ba18c8.blob.core.windows.net/containerf5ba18c8?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DBE7656108C"'
      last-modified: Thu, 10 Oct 2019 20:14:32 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef5ba18c8.blob.core.windows.net
        - /containerf5ba18c8
        - restype=container
        - ''
- request:
    body: null
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-blob-public-access:
      - blob
      x-ms-date:
      - Thu, 10 Oct 2019 20:14:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragef5ba18c8.blob.core.windows.net/containerf5ba18c8?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74DBE765B8F96"'
      last-modified: Thu, 10 Oct 2019 20:14:32 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef5ba18c8.blob.core.windows.net
        - /containerf5ba18c8
        - restype=container&comp=acl
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Oct 2019 20:14:32 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragef5ba18c8.blob.core.windows.net/?prefix=containerf5ba18c8&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragef5ba18c8.blob.core.windows.net/\"><Prefix>containerf5ba18c8</Prefix><Containers><Container><Name>containerf5ba18c8</Name><Properties><Last-Modified>Thu,
        10 Oct 2019 20:14:32 GMT</Last-Modified><Etag>\"0x8D74DBE765B8F96\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef5ba18c8.blob.core.windows.net
        - /
        - prefix=containerf5ba18c8&comp=list
        - ''
version: 1
