{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainere47a39b5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Aug 2022 22:11:19 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A5416155BFA\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 22:11:19 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainere47a39b5/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 09 Aug 2022 22:11:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A541627504A\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 22:11:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainere47a39b5/blob1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-Modified-Since": "Tue, 09 Aug 2022 22:26:20 GMT",
        "x-ms-date": "Tue, 09 Aug 2022 22:11:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YmxvY2sgMA==",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:12da3cdf-f01e-0060-4b3c-ac8abe000000\n",
        "Time:2022-08-09T22:11:19.4885868Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "if_modified": "2022-08-09T22:26:20.113573"
  }
}
