{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5b643325?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F369753A982\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource5b643325?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F36975EA45F\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5b643325/blob5b643325",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 26 Jul 2022 18:42:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F36976A3408\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5b643325/blob5b643325?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F36976A3408\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:28 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-07-26T18:42:28.6762688Z",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5b643325/blob5b643325?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jul 2022 18:42:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1535",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWF[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5b643325/blob5b643325?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:29 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F3697953552\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5b643325/blob5b643325?comp=pagelist\u0026prevsnapshot=2022-07-26T18:42:28.6762688Z\u0026maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:29 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA6F3697953552\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:28 GMT",
        "x-ms-blob-content-length": "2048",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E511\u003C/End\u003E\u003C/PageRange\u003E\u003CClearRange\u003E\u003CStart\u003E512\u003C/Start\u003E\u003CEnd\u003E1023\u003C/End\u003E\u003C/ClearRange\u003E\u003CNextMarker\u003E2!16!MDAwMDA0ITEwMjQh\u003C/NextMarker\u003E\u003C/PageList\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5b643325/blob5b643325?comp=pagelist\u0026prevsnapshot=2022-07-26T18:42:28.6762688Z\u0026marker=2!16!MDAwMDA0ITEwMjQh\u0026maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:29 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA6F3697953552\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:28 GMT",
        "x-ms-blob-content-length": "2048",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E1024\u003C/Start\u003E\u003CEnd\u003E1535\u003C/End\u003E\u003C/PageRange\u003E\u003CNextMarker/\u003E\u003C/PageList\u003E"
      ]
    }
  ],
  "Variables": {}
}
