{
  "Entries": [
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainer93a737be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:42:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7CBC44ADC1F4\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 23:42:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainersource93a737be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:42:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7CBC44B4ECE1\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 23:42:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storagenamestorname/blobServices/default/containers/vlwcontainer93a737be?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "immutableStorageWithVersioning": {
            "enabled": true
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8DA7CBC4525CE54\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storagenamestorname/blobServices/default/containers/vlwcontainer93a737be",
        "name": "vlwcontainer93a737be",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
        "properties": {
          "immutableStorageWithVersioning": {
            "enabled": true
          },
          "deleted": false,
          "remainingRetentionDays": 0,
          "hasImmutabilityPolicy": false,
          "hasLegalHold": false
        }
      }
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/vlwcontainer93a737be/vlwblob93a737be",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Aug 2022 23:42:08 GMT",
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Fri, 12 Aug 2022 23:42:13 GMT",
        "x-ms-legal-hold": "true",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YWJjZWRmZw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "3eUGUzgtctuRaJEq8fjAHg==",
        "ETag": "\u00220x8DA7CBC453532CE\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 23:42:08 GMT",
        "x-ms-content-crc64": "mI9QQJ\u002BDEzc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-08-12T23:42:08.3156686Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/vlwcontainer93a737be/vlwblob93a737be",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:42:08 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-6/7",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7CBC453532CE\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 23:42:08 GMT",
        "x-ms-blob-content-md5": "3eUGUzgtctuRaJEq8fjAHg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Aug 2022 23:42:08 GMT",
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Fri, 12 Aug 2022 23:42:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-legal-hold": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-08-12T23:42:08.3156686Z"
      },
      "ResponseBody": "YWJjZWRmZw=="
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/vlwcontainer93a737be/vlwblob93a737be",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:42:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobImmutableDueToLegalHold",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobImmutableDueToLegalHold\u003C/Code\u003E\u003CMessage\u003EThis operation is not permitted as the blob is immutable due to one or more legal holds.\n",
        "RequestId:bfb0961e-201e-0067-51a5-ae6121000000\n",
        "Time:2022-08-12T23:42:08.4094874Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/vlwcontainer93a737be/vlwblob93a737be?comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:42:08 GMT",
        "x-ms-legal-hold": "false",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/vlwcontainer93a737be/vlwblob93a737be?comp=immutabilityPolicies",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:42:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/vlwcontainer93a737be/vlwblob93a737be",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:42:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storagenamestorname/blobServices/default/containers/vlwcontainer93a737be?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "expiry_time": "2022-08-12T23:42:13.378889"
  }
}
