{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/listcontainerasync017c438db?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 08 Aug 2022 19:39:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7975B5383D6B\u0022",
        "Last-Modified": "Mon, 08 Aug 2022 19:39:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/?comp=list\u0026prefix=listcontainerasync\u0026maxresults=2\u0026include=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 08 Aug 2022 19:39:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://storagename.blob.core.windows.net/\u0022\u003E\u003CPrefix\u003Elistcontainerasync\u003C/Prefix\u003E\u003CMaxResults\u003E2\u003C/MaxResults\u003E\u003CContainers\u003E\u003CContainer\u003E\u003CName\u003Elistcontainerasync017c438db\u003C/Name\u003E\u003CProperties\u003E\u003CLast[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/?comp=list\u0026prefix=listcontainerasync\u0026marker=/storagename/listcontainerasync217c438db\u0026maxresults=2\u0026include=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 08 Aug 2022 19:39:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": [...]
