interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 02:15:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage1eb20f04.blob.core.windows.net/utcontainer1eb20f04?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:474adb01-201e-00c5-4946-5d2aef000000\nTime:2019-08-28T02:15:46.2231450Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'rb7c2ygiqJZOZmae6kFkv7I3I2wwmrNobXHgzqY41V0='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:be756f2e-c939-11e9-b592-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 02:15:45 GMT\nx-ms-version:2019-02-02\n/pyacrstorage1eb20f04/utcontainer1eb20f04\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1eb20f04.blob.core.windows.net
        - /utcontainer1eb20f04
        - restype=container
        - ''
version: 1
