{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer2e4630c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Jul 2022 01:16:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B7FC469966A\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 01:16:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource12e4630c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Jul 2022 01:16:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6B7FC476B3E4\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 01:16:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer2e4630c7/blob2e4630c7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 22 Jul 2022 01:16:12 GMT",
        "x-ms-tags": "tag1=firsttag\u0026tag2=secondtag\u0026tag3=thirdtag",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DA6B7FC48424CE\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 01:16:12 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer2e4630c7/blob2e4630c7?comp=blocklist\u0026blocklisttype=all",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Jul 2022 01:16:12 GMT",
        "x-ms-if-tags": "\u0022condition tag\u0022=\u0027wrong tag\u0027",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:933b8e13-c01e-003b-6668-9d9f66000000\n",
        "Time:2022-07-22T01:16:12.9937347Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer2e4630c7/blob2e4630c7?comp=blocklist\u0026blocklisttype=all",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Jul 2022 01:16:12 GMT",
        "x-ms-if-tags": "\u0022tag1\u0022=\u0027firsttag\u0027",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA6B7FC48424CE\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 01:16:12 GMT",
        "x-ms-blob-content-length": "0",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CBlockList\u003E\u003CCommittedBlocks /\u003E\u003CUncommittedBlocks /\u003E\u003C/BlockList\u003E"
    }
  ],
  "Variables": {}
}
