{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainere4353616?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:45:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6529BA376F49\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainere4353616/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 13 Jul 2022 23:45:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8DA6529BA43A884\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:11 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainere4353616/blob1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Modified-Since": "Wed, 13 Jul 2022 23:30:12 GMT",
        "x-ms-date": "Wed, 13 Jul 2022 23:45:12 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-10/11",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6529BA43A884\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:45:11 GMT",
        "x-ms-blob-content-md5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 13 Jul 2022 23:45:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "aGVsbG8gd29ybGQ="
    }
  ],
  "Variables": {
    "if_modified": "2022-07-13T23:30:12.425659"
  }
}
