{
  "Entries": [
    {
      "RequestUri": "https://pyacrstoragestorname.blob.core.windows.net/utcontainer66482a9b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Jul 2022 23:16:10 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6C382B417714\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 23:16:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pyacrstoragestorname.blob.core.windows.net/utcontainersource66482a9b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Jul 2022 23:16:10 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6C382B4F7EC6\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 23:16:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pyacrstoragestorname.blob.core.windows.net/utpremiumcontainer66482a9b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Jul 2022 23:16:10 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6C382B6721FB\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 23:16:12 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pyacrstoragestorname.blob.core.windows.net/utpremiumcontainer66482a9b/blob66482a9b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 22 Jul 2022 23:16:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6C382B77D616\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 23:16:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pyacrstoragestorname.blob.core.windows.net/utpremiumcontainer66482a9b/blob66482a9b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Jul 2022 23:16:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6C382B77D616\u0022",
        "Last-Modified": "Fri, 22 Jul 2022 23:16:12 GMT",
        "x-ms-access-tier": "P10",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 22 Jul 2022 23:16:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://pyacrstoragestorname.blob.core.windows.net/utpremiumcontainer66482a9b?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Jul 2022 23:16:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uF[...]
    {
      "RequestUri": "https://pyacrstoragestorname.blob.core.windows.net/utpremiumcontainer66482a9b/blob66482a9b?comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-access-tier": "P50",
        "x-ms-date": "Fri, 22 Jul 2022 23:16:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://pyacrstoragestorname.blob.core.windows.net/utpremiumcontainer66482a9b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 22 Jul 2022 23:16:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
