{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer62c53ace?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Aug 2022 21:59:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A52732728C8\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 21:59:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer62c53ace/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Aug 2022 21:59:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8DA7A52733D035C\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 21:59:36 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer62c53ace/blob1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-Modified-Since": "Tue, 09 Aug 2022 21:44:37 GMT",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "spanish",
        "x-ms-date": "Tue, 09 Aug 2022 21:59:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A52734D7CC7\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 21:59:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer62c53ace/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Aug 2022 21:59:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "spanish",
        "ETag": "\u00220x8DA7A52734D7CC7\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 21:59:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Aug 2022 21:59:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "if_modified": "2022-08-09T21:44:37.306566"
  }
}
