interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 01:58:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage13fd1d11.blob.core.windows.net/utcontainer13fd1d11?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:b170c3c3-401e-0007-4b44-5dfc8f000000\nTime:2019-08-28T01:58:29.4203595Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'XID5ZfgbFLNFoJCzYSApIDOry2ZDcPm5o6odXuERVN4='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:542a803a-c937-11e9-9b6c-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 01:58:28 GMT\nx-ms-version:2019-02-02\n/pyacrstorage13fd1d11/utcontainer13fd1d11\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage13fd1d11.blob.core.windows.net
        - /utcontainer13fd1d11
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-type:
      - AppendBlob
      x-ms-date:
      - Wed, 28 Aug 2019 01:58:29 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage13fd1d11.blob.core.windows.net/utcontainer13fd1d11/blob13fd1d11
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the sign[...]
