interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 04 Jun 2021 00:24:41 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainercb3e1fa9?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D926EF2598A00C"'
      last-modified: Fri, 04 Jun 2021 00:24:41 GMT
      x-ms-version: '2020-10-02'
    status:
      code: 201
      message: Created
    url: https://seanmcccanary3.blob.core.windows.net/utcontainercb3e1fa9?restype=container
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 04 Jun 2021 00:24:42 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainersourcecb3e1fa9?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D926EF25A23EC1"'
      last-modified: Fri, 04 Jun 2021 00:24:42 GMT
      x-ms-version: '2020-10-02'
    status:
      code: 201
      message: Created
    url: https://seanmcccanary3.blob.core.windows.net/utcontainersourcecb3e1fa9?restype=container
- request:
    body: '{"properties": {"immutableStorageWithVersioning": {"enabled": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/XClient/providers/Microsoft.Storage/storageAccounts/storagename/blobServices/default/containers/vlwcontainerasynccb3e1fa9?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/XClient/providers/Microsoft.Storage/storageAccounts/storagename/blobServices/default/containers/vlwcontainerasynccb3e1fa9","name":"vlwcontainerasynccb3e1fa9","type":"Microsoft.Storage/storageAccounts/blobServices/containers","properties":{"immutableStorageWithVersioning":{"enabled":true},"deleted":false,"remainingRetentionDays":0,"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
    headers:
      content-type: application/json
      etag: '"0x8D926EF266A0B9B"'
      x-ms-ratelimit-remaining-subscription-writes: '1199'
    status:
      code: 201
      message: Created
    url: https://management.azure.com/subscriptions/ba45b233-e2ef-4169-8808-49eb0d8eba0d/resourceGroups/XClient/providers/Microsoft.Storage/storageAccounts/seanmcccanary3/blobServices/default/containers/vlwcontainerasynccb3e1fa9?api-version=2021-04-01
- request:
    body: null
    headers:
      x-ms-blob-type:
      - AppendBlob
      x-ms-date:
      - Fri, 04 Jun 2021 00:24:43 GMT
      x-ms-immutability-policy-mode:
      - Unlocked
      x-ms-immutability-policy-until-date:
      - Fri, 04 Jun 2021 00:24:48 GMT
      x-ms-legal-hold:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/vlwcontainerasynccb3e1fa9/vlwblobcb3e1fa9
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D926EF2688D849"'
      last-modified: Fri, 04 Jun 2021 00:24:43 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2020-10-02'
      x-ms-version-id: '2021-06-04T00:24:43.5177545Z'
    status:
      code: 201
      message: Created
    url: https://seanmcccanary3.blob.core.windows.net/vlwcontainerasynccb3e1fa9/vlwblobcb3e1fa9
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 04 Jun 2021 00:24:43 GMT
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/vlwcontainerasynccb3e1fa9/vlwblobcb3e1fa9
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D926EF2688D849"'
      last-modified: Fri, 04 Jun 2021 00:24:43 GMT
      x-ms-blob-committed-block-count: '0'
      x-ms-blob-type: AppendBlob
      x-ms-creation-time: Fri, 04 Jun 2021 00:24:43 GMT
      x-ms-immutability-policy-mode: unlocked
      x-ms-immutability-policy-until-date: Fri, 04 Jun 2021 00:24:48 GMT
      x-ms-is-current-version: 'true'
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-legal-hold: 'true'
      x-ms-server-encrypted: 'true'
      x-ms-version: '2020-10-02'
      x-ms-version-id: '2021-06-04T00:24:43.5177545Z'
    status:
      code: 200
      message: OK
    url: https://seanmcccanary3.blob.core.windows.net/vlwcontainerasynccb3e1fa9/vlwblobcb3e1fa9
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 04 Jun 2021 00:24:43 GMT
      x-ms-version:
      - '2020-10-02'
    method: DELETE
    uri: https://storagename.blob.core.windows.net/vlwcontainerasynccb3e1fa9/vlwblobcb3e1fa9
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobImmutableDueToLegalHold</Code><Message>This
        operation is not permitted as the blob is immutable due to one or more legal
        holds.\nRequestId:3b95fb65-701e-0001-77d8-58851e000000\nTime:2021-06-04T00:24:43.6817010Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: BlobImmutableDueToLegalHold
      x-ms-version: '2020-10-02'
    status:
      code: 409
      message: This operation is not permitted as the blob is immutable due to one
        or more legal holds.
    url: https://seanmcccanary3.blob.core.windows.net/vlwcontainerasynccb3e1fa9/vlwblobcb3e1fa9
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/XClient/providers/Microsoft.Storage/storageAccounts/storagename/blobServices/default/containers/utcontainercb3e1fa9?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      content-type: text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes: '14999'
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/ba45b233-e2ef-4169-8808-49eb0d8eba0d/resourceGroups/XClient/providers/Microsoft.Storage/storageAccounts/seanmcccanary3/blobServices/default/containers/utcontainercb3e1fa9?api-version=2021-04-01
version: 1
