interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 01:58:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage705121b1.blob.core.windows.net/utcontainer705121b1?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:2d1ffd9d-701e-0028-7a44-5d8610000000\nTime:2019-08-28T01:58:11.0159854Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'w2nZxk/lek0Km6BJAC020R4pxi5avLQiwkAiEkYverQ='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:4931472e-c937-11e9-b840-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 01:58:09 GMT\nx-ms-version:2019-02-02\n/pyacrstorage705121b1/utcontainer705121b1\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage705121b1.blob.core.windows.net
        - /utcontainer705121b1
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-type:
      - AppendBlob
      x-ms-date:
      - Wed, 28 Aug 2019 01:58:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage705121b1.blob.core.windows.net/utcontainer705121b1/blob705121b1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the sign[...]
