interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 01 Jul 2019 16:07:36 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerfromblobservice?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FE3E3BF8F31E"'
      Last-Modified:
      - Mon, 01 Jul 2019 16:07:36 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 01 Jul 2019 16:07:36 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.blob.core.windows.net/containerfromblobservice?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FE3E3BF8F31E"'
      Last-Modified:
      - Mon, 01 Jul 2019 16:07:36 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 01 Jul 2019 16:07:36 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.blob.core.windows.net/?include=metadata&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Containers><Container><Name>$web</Name><Properties><Last-Modified>Fri,\
        \ 28 Jun 2019 02:59:52 GMT</Last-Modified><Etag>\"0x8D6FB74B0D2179A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties><Metadata\
        \ /></Container><Container><Name>container01371df10c544ea884659d52f3065632</Name><Properties><Last-Modified>Mon,\
        \ 17 Jun 2019 14:30:05 GMT</Last-Modified><Etag>\"0x8D6F3304AB660B3\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties><Metadata\
        \ /></Container><Container><Name>container0343ebf9a3d943a0985c7490c10f2330</Name><Properties><Last-Modified>Fri,\
        \ 28 Jun 2019 02:47:14 GMT</Last-Modified><Etag>\"0x8D6FB72ED17BEEF\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties><Metadata\
        \ /></Container><Container><Name>container0364c1d300ea44ca82c67e2692456062</Name><Properties><Last-Modified>Mon,\
        \ 17 Jun 2019 16:55:40 GMT</Last-Modified><Etag>\"0x8D6F344A1276181\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalH[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 01 Jul 2019 16:07:36 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storagename.blob.core.windows.net/?prefix=test-&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>test-</Prefix><Containers\
        \ /><NextMarker /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 01 Jul 2019 16:07:36 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://storagename.blob.core.windows.net/containerfromblobservice?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 202
      message: Accepted
version: 1
