interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 20 Jan 2021 20:33:32 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/test617e10e3?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8BD82A7E69FE6"'
      last-modified:
      - Wed, 20 Jan 2021 20:33:33 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 20 Jan 2021 20:33:32 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/test617e10e3/blob1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D8BD82A7F3183F"'
      last-modified:
      - Wed, 20 Jan 2021 20:33:33 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 20 Jan 2021 20:33:33 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/test617e10e3/blob1?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8BD82A7F3183F"'
      last-modified:
      - Wed, 20 Jan 2021 20:33:33 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2021-01-20T20:33:33.5070816Z'
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 20 Jan 2021 20:33:33 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/test617e10e3?restype=container&comp=list&include=snapshots
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"test617e10e3\"><Blobs><Blob><Name>blob1</Name><Snapshot>2021-01-20T20:33:33.5070816Z</Snapshot><Properties><Creation-Time>Wed,
        20 Jan 2021 20:33:33 GMT</Creation-Time><Last-Modified>Wed, 20 Jan 2021 20:33:33
        GMT</Last-Modified><Etag>0x8D8BD82A7F3183F</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>blob1</Name><Properties><Creation-Time>Wed, 20 Jan 2021
        20:33:33 GMT</Creation-Time><Last-Modified>Wed, 20 Jan 2021 20:33:33 GMT</Last-Modified><Etag>0x8D8BD82A7F3183F</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata
        /></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Wed, 20 Jan 2021
        20:33:33 GMT</Creation-Time><Last-Modified>Wed, 20 Jan 2021 20:33:33 GMT</Last-Modified><Etag>0x8D8BD82A80E6F09</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64 /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5[...]
- request:
    body: "--===============1049724224==\r\nContent-Type: application/http\r\nContent-Transfer-Encoding:
      binary\r\nContent-ID: 0\r\n\r\nDELETE /test617e10e3/blob1? HTTP/1.1\r\nx-ms-delete-snapshots:
      only\r\nx-ms-date: Wed, 20 Jan 2021 20:33:33 GMT\r\nx-ms-client-request-id:
      c3b7449e-5b5e-11eb-81ea-c8348e5fffbc\r\nAuthorization: SharedKey emilydevtest:NMhu/QoBLMsZXHRT3wvz+0juGwFyOdhCdkGWpTJAhX0=\r\n\r\n\r\n--===============1049724224==\r\nContent-Type:
      applicati[...]
[...]
