{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/asynccpkcontainer?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 26 Aug 2022 22:54:36 GMT",
        "x-ms-default-encryption-scope": "testscope1",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA87B5F3CDA8F9\u0022",
        "Last-Modified": "Fri, 26 Aug 2022 22:54:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/asynccpkcontainer?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 26 Aug 2022 22:54:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA87B5F3CDA8F9\u0022",
        "Last-Modified": "Fri, 26 Aug 2022 22:54:37 GMT",
        "x-ms-default-encryption-scope": "testscope1",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/?comp=list\u0026prefix=asynccpkcontainer\u0026include=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 26 Aug 2022 22:54:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://storagename.blob.core.windows.net/\u0022\u003E\u003CPrefix\u003Easynccpkcontainer\u003C/Prefix\u003E\u003CContainers\u003E\u003CContainer\u003E\u003CName\u003Easynccpkcontainer\u003C/Name\u003E\u003CProperties\u003E\u003CLast-Modified\u003EFri, 26 Aug 2022 22:54:37 GMT\u003C/Last-Modified\u003E\u003CEtag\u003E\u00220x8DA87B5F3CDA8F9\u0022\u003C/Etag\u003E\u003CLeaseStatus\u003Eunlocked\u003C/LeaseStatus\u003E\u003CLeaseState\u003Eavailable\u003C/LeaseState\u003E\u003CDefaultEncryptionScope\u003Etestscope1\u003C/DefaultEncryptionScope\u003E\u003CDenyEncryptionScopeOverride\u003Efalse\u003C/DenyEncryptionScopeOverride\u003E\u003CHasImmutabilityPolicy\u003Efalse\u003C/HasImmutabilityPolicy\u003E\u003CHasLegalHold\u003Efalse\u003C/HasLegalHold\u003E\u003CImmutableStorageWithVersioningEnabled\u003Efalse\u003C/ImmutableStorageWithVersioningEnabled\u003E\u003C/Properties\u003E\u003C/Container\u003E\u003C/Containers\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/asynccpkcontainer/appendblob?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 26 Aug 2022 22:54:37 GMT",
        "x-ms-encryption-scope": "testscope2",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YWFhYQ==",
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified blob does not exist.\n",
        "RequestId:acf752ac-401e-0068-799e-b9bc52000000\n",
        "Time:2022-08-26T22:54:37.7717198Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/asynccpkcontainer/appendblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 26 Aug 2022 22:54:37 GMT",
        "x-ms-encryption-scope": "testscope2",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA87B5F3FBE288\u0022",
        "Last-Modified": "Fri, 26 Aug 2022 22:54:37 GMT",
        "x-ms-encryption-scope": "testscope2",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/asynccpkcontainer/appendblob?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 26 Aug 2022 22:54:37 GMT",
        "x-ms-encryption-scope": "testscope2",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YWFhYQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA87B5F40B97BA\u0022",
        "Last-Modified": "Fri, 26 Aug 2022 22:54:37 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "8JRcxVurLRg=",
        "x-ms-encryption-scope": "testscope2",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/asynccpkcontainer?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 26 Aug 2022 22:54:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
