{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/containerf6db29bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 16 Aug 2022 19:26:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7FBD2FD22AA7\u0022",
        "Last-Modified": "Tue, 16 Aug 2022 19:26:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/containerf6db29bb/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 16 Aug 2022 19:26:16 GMT",
        "x-ms-tags": "tag1=tagone\u0026tag2=tagtwo\u0026tag3=tagthree",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8DA7FBD2FDD93CE\u0022",
        "Last-Modified": "Tue, 16 Aug 2022 19:26:15 GMT",
        "x-ms-content-crc64": "vo7q9sPVKY0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/containerf6db29bb?restype=container\u0026comp=blobs\u0026where=tag1%3D%27tagone%27%20and%20tag2%3D%27tagtwo%27\u0026maxresults=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 16 Aug 2022 19:26:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version"[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/containerf6db29bb?restype=container\u0026comp=blobs\u0026where=tag1%3D%27tagone%27%20and%20tag2%3D%27tagtwo%27\u0026marker=2%21240%21MDAwMDM0IWNvbnRhaW5lcmY2ZGIyOWJiATAxRDhCMUE2MEQ1N0EwRjUhMDAwMDA1IWJsb2IzITAwMDAxNCEIAAAABgAAAHRhZ29uZSEwMDAwMDEhMCEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiEwMDAwMzYhMDMwZDkxMTgtZGM4Ny00NWUxLWJlNTYtYWRlODlkMTIxZmY3ITAwMDAwNCF0YWcxIQ--\u0026maxresults=2",
      "RequestMethod": "GET",
      "[...]
