{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerb8f9378a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:58:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61248BFD8118\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:58:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersourceb8f9378a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:58:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61248C0B13A2\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:58:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerb8f9378a/blobb8f9378a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 08 Jul 2022 20:58:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61248C16FED9\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:58:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerb8f9378a/blobb8f9378a?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:58:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61248C2247D9\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:58:02 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerb8f9378a/copiedblob",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainerb8f9378a/blobb8f9378a",
        "x-ms-date": "Fri, 08 Jul 2022 20:58:03 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61248C3139CF\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:58:02 GMT",
        "x-ms-copy-id": "3935870b-d1cc-40be-8394-a94e966a76f0",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerb8f9378a/copiedblob",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:58:03 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA61248C3139CF\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:58:02 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-sealed": "true",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Fri, 08 Jul 2022 20:58:02 GMT",
        "x-ms-copy-id": "3935870b-d1cc-40be-8394-a94e966a76f0",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainerb8f9378a/blobb8f9378a",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 08 Jul 2022 20:58:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerb8f9378a/copiedblob?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 08 Jul 2022 20:58:03 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YWJj",
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobIsSealed",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobIsSealed\u003C/Code\u003E\u003CMessage\u003EThe blob is sealed and its contents cannot be modified.\n",
        "RequestId:d4a05713-b01e-0031-360d-933bd1000000\n",
        "Time:2022-07-08T20:58:02.6817146Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
