interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 02:14:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage42e141f.blob.core.windows.net/utcontainer42e141f?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:ba131859-f01e-011f-7246-5dac26000000\nTime:2019-08-28T02:14:07.8343047Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request '8qpV6hG6OB0iTVkM8+msdtNXu0vYr6XRrwrmZUhz7Dc='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:841f2d62-c939-11e9-9c14-2816a845e8c6\nx-ms-date:Wed,
        28 Aug 2019 02:14:07 GMT\nx-ms-version:2019-02-02\n/pyacrstorage42e141f/utcontainer42e141f\nrestype:container'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage42e141f.blob.core.windows.net
        - /utcontainer42e141f
        - restype=container
        - ''
version: 1
