interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 02:31:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage4b43101b.blob.core.windows.net/utcontainer4b43101b?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74DF31019423F"'
      last-modified:
      - Fri, 11 Oct 2019 02:31:03 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 02:31:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage4b43101b.blob.core.windows.net/utcontainersource4b43101b?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74DF31021810A"'
      last-modified:
      - Fri, 11 Oct 2019 02:31:03 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '2048'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 11 Oct 2019 02:31:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage4b43101b.blob.core.windows.net/utcontainer4b43101b/blob4b43101b
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74DF3102980AF"'
      last-modified:
      - Fri, 11 Oct 2019 02:31:03 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 02:31:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage4b43101b.blob.core.windows.net/utcontainer4b43101b/blob4b43101b?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74DF3102980AF"'
      last-modified:
      - Fri, 11 Oct 2019 02:31:03 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2019-10-11T02:31:04.0201905Z'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 02:31:04 GMT
      x-ms-page-write:
      - clear
      x-ms-range:
      - bytes=512-1023
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage4b43101b.blob.core.windows.net/utcontainer4b43101b/blob4b43101b?comp=page
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D74DF310439D26"'
      last-modified:
      - Fri, 11 Oct 2019 02:31:04 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 02:31:04 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage4b43101b.blob.core.windows.net/utcontainer4b43101b/blob4b43101b?prevsnapshot=2019-10-11T02%3A31%3A04.0201905Z&comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>0</Start><End>511</End></PageRange><ClearRange><Start>512</Start><End>1023</End></ClearRange><PageRange><Start>1024</Start><End>1535</End></PageRange></PageList>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D74DF310439D26"'
      last-modified:
      - Fri, 11 Oct 2019 02:31:04 GMT
      x-ms-blob-content-length:
      - '2048'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 02:31:04 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage4b43101b.blob.core.windows.net/utcontainer4b43101b/blob4b43101b?prevsnapshot=2019-10-11T02%3A31%3A04.1062503Z&comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><ClearRange><Start>512</Start><End>1023</End></ClearRange></PageList>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D74DF310439D26"'
      last-modified:
      - Fri, 11 Oct 2019 02:31:04 GMT
      x-ms-blob-content-length:
      - '2048'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
