interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 17:07:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec02c0c5f.blob.core.windows.net/containerc02c0c5f?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72BDA47F79D27"'
      last-modified:
      - Wed, 28 Aug 2019 17:08:00 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 28 Aug 2019 17:08:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec02c0c5f.blob.core.windows.net/containerc02c0c5f/blob1
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D72BDA48025BA6"'
      last-modified:
      - Wed, 28 Aug 2019 17:08:00 GMT
      x-ms-content-crc64:
      - vo7q9sPVKY0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2019 17:08:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragec02c0c5f.blob.core.windows.net/containerc02c0c5f?restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragec02c0c5f.blob.core.windows.net/\" ContainerName=\"containerc02c0c5f\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Wed,
        28 Aug 2019 17:08:00 GMT</Creation-Time><Last-Modified>Wed, 28 Aug 2019 17:08:00
        GMT</Last-Modified><Etag>0x8D72BDA48025BA6</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Wed,
        28 Aug 2019 17:08:00 GMT</Creation-Time><Last-Modified>Wed, 28 Aug 2019 17:08:00
        GMT</Last-Modified><Etag>0x8D72BDA480E44B5</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
