{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer396e3da7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:58:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61248DC4DE42\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:58:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource396e3da7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:58:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61248DD270C6\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:58:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer396e3da7/blob396e3da7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 08 Jul 2022 20:58:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61248DE4EC7A\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:58:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer396e3da7/blob396e3da7?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:58:06 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61248DF0D1A9\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:58:05 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer396e3da7/copiedblob3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainer396e3da7/blob396e3da7",
        "x-ms-date": "Fri, 08 Jul 2022 20:58:06 GMT",
        "x-ms-seal-blob": "false",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61248DFDA10A\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:58:05 GMT",
        "x-ms-copy-id": "2135b142-65a6-4e8f-9394-38667c6ab1a0",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer396e3da7/copiedblob3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 08 Jul 2022 20:58:06 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA61248DFDA10A\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:58:05 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Fri, 08 Jul 2022 20:58:05 GMT",
        "x-ms-copy-id": "2135b142-65a6-4e8f-9394-38667c6ab1a0",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://storagename.blob.core.windows.net/utcontainer396e3da7/blob396e3da7",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 08 Jul 2022 20:58:05 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer396e3da7/copiedblob3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 08 Jul 2022 20:58:06 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YWJj",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA61248E17B4F6\u0022",
        "Last-Modified": "Fri, 08 Jul 2022 20:58:05 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "6/rBP7vK5QU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
