interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 04 Jun 2021 03:30:07 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer7c4d16d3?restype=container&timeout=5
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The
        specified container already exists.\nRequestId:64db2846-301e-0029-6df1-58b647000000\nTime:2021-06-04T03:30:08.0362489Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ContainerAlreadyExists
      x-ms-version:
      - '2020-10-02'
    status:
      code: 409
      message: The specified container already exists.
- request:
    body: '{"properties": {"immutableStorageWithVersioning": {"enabled": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/XClient/providers/Microsoft.Storage/storageAccounts/storagename/blobServices/default/containers/vlwcontainer7c4d16d3?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/XClient/providers/Microsoft.Storage/storageAccounts/storagename/blobServices/default/containers/vlwcontainer7c4d16d3","name":"vlwcontainer7c4d16d3","type":"Microsoft.Storage/storageAccounts/blobServices/containers","properties":{"immutableStorageWithVersioning":{"enabled":true},"deleted":false,"remainingRetentionDays":0,"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D927090ECED923"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: abc
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 04 Jun 2021 03:30:10 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/vlwcontainer7c4d16d3/vlwblob7c4d16d3
  response:
    body:
      string: ''
    headers:
      content-md5:
      - kAFQmDzST7DWlj99KOF/cg==
      etag:
      - '"0x8D927090EF9125A"'
      last-modified:
      - Fri, 04 Jun 2021 03:30:10 GMT
      x-ms-content-crc64:
      - 6/rBP7vK5QU=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
      x-ms-version-id:
      - '2021-06-04T03:30:10.9038954Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 04 Jun 2021 03:30:10 GMT
      x-ms-immutability-policy-mode:
      - Unlocked
      x-ms-immutability-policy-until-date:
      - Fri, 04 Jun 2021 03:30:15 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/vlwcontainer7c4d16d3/vlwblob7c4d16d3?comp=immutabilityPolicies&se=2021-06-04T04%3A30%3A10Z&sp=ri&sv=2020-10-02&ss=b&srt=co&sig=JeSZVEcG0xoikV14a2xJobNVgs8UCKM/sM/2GWKxfjM%3D
  response:
    body:
      string: ''
    headers:
      x-ms-immutability-policy-mode:
      - unlocked
      x-ms-immutability-policy-until-date:
      - Fri, 04 Jun 2021 03:30:15 GMT
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://storagename.blob.core.windows.net/vlwcontainer7c4d16d3/vlwblob7c4d16d3?se=2021-06-04T04%3A30%3A10Z&sp=ri&sv=2020-10-02&ss=b&srt=co&sig=JeSZVEcG0xoikV14a2xJobNVgs8UCKM/sM/2GWKxfjM%3D
  response:
    body:
      string: abc
    headers:
      content-md5:
      - kAFQmDzST7DWlj99KOF/cg==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D927090EF9125A"'
      last-modified:
      - Fri, 04 Jun 2021 03:30:10 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 04 Jun 2021 03:30:10 GMT
      x-ms-immutability-policy-mode:
      - unlocked
      x-ms-immutability-policy-until-date:
      - Fri, 04 Jun 2021 03:30:15 GMT
      x-ms-is-current-version:
      - 'true'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
      x-ms-version-id:
      - '2021-06-04T03:30:10.9038954Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 04 Jun 2021 03:30:11 GMT
      x-ms-immutability-policy-mode:
      - Unlocked
      x-ms-immutability-policy-until-date:
      - Fri, 04 Jun 2021 03:30:16 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/vlwcontainer7c4d16d3/vlwblob7c4d16d3?comp=immutabilityPolicies&se=2021-06-04T04%3A30%3A11Z&sp=ri&sv=2020-10-02&sr=c&sig=Yx49o9nuCzbv6BlcDlvnEL8oMjvHDqLKFWJYIM%2BU0c0%3D
  response:
    body:
      string: ''
    headers:
      x-ms-immutability-policy-mode:
      - unlocked
      x-ms-immutability-policy-until-date:
      - Fri, 04 Jun 2021 03:30:16 GMT
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 04 Jun 2021 03:30:12 GMT
      x-ms-immutability-policy-mode:
      - Unlocked
      x-ms-immutability-policy-until-date:
      - Fri, 04 Jun 2021 03:30:17 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/vlwcontainer7c4d16d3/vlwblob7c4d16d3?comp=immutabilityPolicies&se=2021-06-04T04%3A30%3A12Z&sp=rti&sv=2020-10-02&sr=b&sig=QDN1tgMDgi3XwgdgSyI4RLFZr%2BRMdh95W8gThmLkmnk%3D
  response:
    body:
      string: ''
    headers:
      x-ms-immutability-policy-mode:
      - unlocked
      x-ms-immutability-policy-until-date:
      - Fri, 04 Jun 2021 03:30:17 GMT
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
version: 1
