interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:46:17 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerebc6189d?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7597B9EA6B683"'
      last-modified: Fri, 25 Oct 2019 18:46:17 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageinrrev5kxink.blob.core.windows.net
        - /utcontainerebc6189d
        - restype=container
        - ''
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 25 Oct 2019 18:46:17 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerebc6189d/blobebc6189d?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: Cc/2Kr4DuKg=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageinrrev5kxink.blob.core.windows.net
        - /utcontainerebc6189d/blobebc6189d
        - blockid=MQ%3D%3D&comp=block
        - ''
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 25 Oct 2019 18:46:17 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerebc6189d/blobebc6189d?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: +3yuPEA7IqE=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageinrrev5kxink.blob.core.windows.net
        - /utcontainerebc6189d/blobebc6189d
        - blockid=Mg%3D%3D&comp=block
        - ''
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 25 Oct 2019 18:46:17 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerebc6189d/blobebc6189d?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64: VRJmMeosVKY=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageinrrev5kxink.blob.core.windows.net
        - /utcontainerebc6189d/blobebc6189d
        - blockid=Mw%3D%3D&comp=block
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Oct 2019 18:46:17 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainerebc6189d/blobebc6189d?blocklisttype=uncommitted&comp=blocklist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><UncommittedBlocks><Block><Name>MQ==</Name><Size>3</Size></Block><Block><Name>Mg==</Name><Size>3</Size></Block><Block><Name>Mw==</Name><Size>3</Size></Block></UncommittedBlocks></BlockList>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageinrrev5kxink.blob.core.windows.net
        - /utcontainerebc6189d/blobebc6189d
        - blocklisttype=uncommitted&comp=blocklist
        - ''
version: 1
