{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerdafb3b94?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Aug 2022 22:08:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A53BE43F257\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 22:08:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerdafb3b94/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Aug 2022 22:08:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\u00220x8DA7A53BE556846\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 22:08:52 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerdafb3b94/blob1?comp=block\u0026blockid=MQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Aug 2022 22:08:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "QUFB",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "Cc/2Kr4DuKg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerdafb3b94/blob1?comp=block\u0026blockid=Mg%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Aug 2022 22:08:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "QkJC",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "\u002B3yuPEA7IqE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerdafb3b94/blob1?comp=block\u0026blockid=Mw%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Aug 2022 22:08:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "Q0ND",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "VRJmMeosVKY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerdafb3b94/blob1?comp=blocklist",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "If-Unmodified-Since": "Tue, 09 Aug 2022 21:53:53 GMT",
        "x-ms-date": "Tue, 09 Aug 2022 22:08:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CBlockList\u003E\u003CLatest\u003EMQ==\u003C/Latest\u003E\u003CLatest\u003EMg==\u003C/Latest\u003E\u003CLatest\u003EMw==\u003C/Latest\u003E\u003C/BlockList\u003E"
      ],
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:3a443aea-601e-00e4-753c-acf8bf000000\n",
        "Time:2022-08-09T22:08:52.4163156Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "if_modified": "2022-08-09T21:53:53.030050"
  }
}
