interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 17:42:52 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/container909916f7?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0EFBA5A3F8A"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:42:53 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-blob-public-access:
      - container
      x-ms-date:
      - Fri, 14 Jun 2019 17:42:52 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://remotestoragename.blob.core.windows.net/container909916f7?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0EFBA657CFA"'
      Last-Modified:
      - Fri, 14 Jun 2019 17:42:53 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 14 Jun 2019 18:49:32 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container909916f7?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0F90A63A520"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:49:33 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-blob-public-access:
      - container
      x-ms-date:
      - Fri, 14 Jun 2019 18:49:33 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storagename.blob.core.windows.net/container909916f7?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F0F90A6CB47F"'
      Last-Modified:
      - Fri, 14 Jun 2019 18:49:33 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 23:45:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container909916f7?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D74EA5112C850E"'
      Last-Modified:
      - Fri, 11 Oct 2019 23:45:16 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-11T23:45:16Z</Start><Expiry>2019-10-12T00:45:16Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-blob-public-access:
      - container
      x-ms-date:
      - Fri, 11 Oct 2019 23:45:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/container909916f7?restype=container&comp=acl
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D74EA51138996D"'
      Last-Modified:
      - Fri, 11 Oct 2019 23:45:16 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 23:45:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/container909916f7?restype=container&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-11T23:45:16.0000000Z</Start><Expiry>2019-10-12T00:45:16.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      Content-Type:
      - application/xml
      ETag:
      - '"0x8D74EA51138996D"'
      Last-Modified:
      - Fri, 11 Oct 2019 23:45:16 GMT
      x-ms-blob-public-access:
      - container
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
