{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5b9d3a90?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:47:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA652A0423451F\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:47:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5b9d3a90/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 13 Jul 2022 23:47:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA652A04302FBB\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:47:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5b9d3a90/blob1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 13 Jul 2022 23:47:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA652A04302FBB\u0022",
        "Last-Modified": "Wed, 13 Jul 2022 23:47:15 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 13 Jul 2022 23:47:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer5b9d3a90/blob1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "\u00220x8DA652A04302FBB\u0022",
        "x-ms-date": "Wed, 13 Jul 2022 23:47:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YmxvY2sgMA==",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EConditionNotMet\u003C/Code\u003E\u003CMessage\u003EThe condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:aacb2718-a01e-0084-5712-97a8c3000000\n",
        "Time:2022-07-13T23:47:16.1307172Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
