interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 27 Jul 2021 00:53:01 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagenamestorname.blob.core.windows.net/utcontainerbba812fb?restype=container&timeout=5
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D95098E3C73AFB"'
      last-modified:
      - Tue, 27 Jul 2021 00:53:03 GMT
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 27 Jul 2021 00:53:03 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagenamestorname.blob.core.windows.net/utcontainersourcebba812fb?restype=container&timeout=5
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D95098E3E4B361"'
      last-modified:
      - Tue, 27 Jul 2021 00:53:03 GMT
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"immutableStorageWithVersioning": {"enabled": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storagenamestorname/blobServices/default/containers/vlwcontainerbba812fb?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storagenamestorname/blobServices/default/containers/vlwcontainerbba812fb","name":"vlwcontainerbba812fb","type":"Microsoft.Storage/storageAccounts/blobServices/containers","properties":{"immutableStorageWithVersioning":{"enabled":true},"deleted":false,"remainingRetentionDays":0,"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"0x8D95098E4C988CF"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: abc
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 27 Jul 2021 00:53:05 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagenamestorname.blob.core.windows.net/vlwcontainerbba812fb/vlwblobbba812fb
  response:
    body:
      string: ''
    headers:
      content-md5:
      - kAFQmDzST7DWlj99KOF/cg==
      etag:
      - '"0x8D95098E4EC9D78"'
      last-modified:
      - Tue, 27 Jul 2021 00:53:05 GMT
      x-ms-content-crc64:
      - 6/rBP7vK5QU=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
      x-ms-version-id:
      - '2021-07-27T00:53:05.5608964Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 27 Jul 2021 00:53:05 GMT
      x-ms-immutability-policy-mode:
      - Unlocked
      x-ms-immutability-policy-until-date:
      - Tue, 27 Jul 2021 00:53:10 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagenamestorname.blob.core.windows.net/vlwcontainerbba812fb/vlwblobbba812fb?comp=immutabilityPolicies
  response:
    body:
      string: ''
    headers:
      x-ms-immutability-policy-mode:
      - unlocked
      x-ms-immutability-policy-until-date:
      - Tue, 27 Jul 2021 00:53:10 GMT
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 27 Jul 2021 00:53:05 GMT
      x-ms-version:
      - '2020-10-02'
    method: HEAD
    uri: https://storagenamestorname.blob.core.windows.net/vlwcontainerbba812fb/vlwblobbba812fb
  response:
    body:
      string: ''
    headers:
      content-md5:
      - kAFQmDzST7DWlj99KOF/cg==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D95098E4EC9D78"'
      last-modified:
      - Tue, 27 Jul 2021 00:53:05 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 27 Jul 2021 00:53:05 GMT
      x-ms-immutability-policy-mode:
      - unlocked
      x-ms-immutability-policy-until-date:
      - Tue, 27 Jul 2021 00:53:10 GMT
      x-ms-is-current-version:
      - 'true'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
      x-ms-version-id:
      - '2021-07-27T00:53:05.5608964Z'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 27 Jul 2021 00:53:06 GMT
      x-ms-legal-hold:
      - 'false'
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagenamestorname.blob.core.windows.net/vlwcontainerbba812fb/vlwblobbba812fb?comp=legalhold
  response:
    body:
      string: ''
    headers:
      x-ms-legal-hold:
      - 'false'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 27 Jul 2021 00:53:06 GMT
      x-ms-version:
      - '2020-10-02'
    method: DELETE
    uri: https://storagenamestorname.blob.core.windows.net/vlwcontainerbba812fb/vlwblobbba812fb
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storagenamestorname/blobServices/default/containers/vlwcontainerbba812fb?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
