interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:17:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageefaa13a0.blob.core.windows.net/utcontainerefaa13a0?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74E668126C2AB"'
      last-modified: Fri, 11 Oct 2019 16:17:25 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageefaa13a0.blob.core.windows.net
        - /utcontainerefaa13a0
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:17:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageefaa13a0.blob.core.windows.net/utcontainersourceefaa13a0?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74E66812E6525"'
      last-modified: Fri, 11 Oct 2019 16:17:25 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageefaa13a0.blob.core.windows.net
        - /utcontainersourceefaa13a0
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '2048'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Fri, 11 Oct 2019 16:17:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageefaa13a0.blob.core.windows.net/utcontainerefaa13a0/blobefaa13a0
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74E66813F26D9"'
      last-modified: Fri, 11 Oct 2019 16:17:25 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageefaa13a0.blob.core.windows.net
        - /utcontainerefaa13a0/blobefaa13a0
        - ''
        - ''
- request:
    body: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 11 Oct 2019 16:17:25 GMT
      x-ms-page-write:
      - update
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageefaa13a0.blob.core.windows.net/utcontainerefaa13a0/blobefaa13a0?comp=page
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D74E66814590A9"'
      last-modified: Fri, 11 Oct 2019 16:17:25 GMT
      x-ms-blob-sequence-number: '0'
      x-ms-content-crc64: u661BimQ84c=
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageefaa13a0.blob.core.windows.net
        - /utcontainerefaa13a0/blobefaa13a0
        - comp=page
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Oct 2019 16:17:25 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorageefaa13a0.blob.core.windows.net/utcontainerefaa13a0/blobefaa13a0?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>0</Start><End>511</End></PageRange><PageRange><Start>1024</Start><End>1535</End></PageRange></PageList>"
    headers:
      content-type: application/xml
      etag: '"0x8D74E66814AE8D2"'
      last-modified: Fri, 11 Oct 2019 16:17:25 GMT
      x-ms-blob-content-length: '2048'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageefaa13a0.blob.core.windows.net
        - /utcontainerefaa13a0/blobefaa13a0
        - comp=pagelist
        - ''
version: 1
