{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer52b2e20?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F36996D39DA\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersource52b2e20?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F36997882CE\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer52b2e20/blob52b2e20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F369984394D\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer52b2e20/blob52b2e20?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F369984394D\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-07-26T18:42:32.1692596Z",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer52b2e20/blob52b2e20?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1535",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWF[...]
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer52b2e20/blob52b2e20?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=512-1023",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F3699B5F057\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer52b2e20/blob52b2e20?comp=pagelist\u0026prevsnapshot=2022-07-26T18:42:32.1692596Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA6F3699B5F057\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-blob-content-length": "2048",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E511\u003C/End\u003E\u003C/PageRange\u003E\u003CClearRange\u003E\u003CStart\u003E512\u003C/Start\u003E\u003CEnd\u003E1023\u003C/End\u003E\u003C/ClearRange\u003E\u003CPageRange\u003E\u003CStart\u003E1024\u003C/Start\u003E\u003CEnd\u003E1535\u003C/End\u003E\u003C/PageRange\u003E\u003C/PageList\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainer52b2e20/blob52b2e20?comp=pagelist\u0026prevsnapshot=2022-07-26T18:42:32.3371628Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA6F3699B5F057\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:32 GMT",
        "x-ms-blob-content-length": "2048",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CClearRange\u003E\u003CStart\u003E512\u003C/Start\u003E\u003CEnd\u003E1023\u003C/End\u003E\u003C/ClearRange\u003E\u003C/PageList\u003E"
      ]
    }
  ],
  "Variables": {}
}
