{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container6c9b336c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:13:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA741378DC440B\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:13:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container6c9b336c?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:13:40 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "c10be965-30d3-4caf-8c26-860bdedf062f",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA741378DC440B\u0022",
        "Last-Modified": "Mon, 01 Aug 2022 23:13:40 GMT",
        "x-ms-lease-id": "c10be965-30d3-4caf-8c26-860bdedf062f",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/container6c9b336c?comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 01 Aug 2022 23:13:40 GMT",
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseNotPresentWithLeaseOperation",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseNotPresentWithLeaseOperation\u003C/Code\u003E\u003CMessage\u003EThere is currently no lease on the container.\n",
        "RequestId:6b624ec6-c01e-0014-46fc-a592ad000000\n",
        "Time:2022-08-01T23:13:41.0246701Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
