{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd2da3d18?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Jul 2022 21:32:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA65E04D87D893\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 21:32:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd2da3d18/blob1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Jul 2022 21:32:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA65E04D923FCF\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 21:32:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd2da3d18/blob1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-Unmodified-Since": "Thu, 14 Jul 2022 21:47:07 GMT",
        "x-ms-date": "Thu, 14 Jul 2022 21:32:07 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YmxvY2sgMA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA65E04D9DFDED\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 21:32:07 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "qG0Ez70es10=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerd2da3d18/blob1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 14 Jul 2022 21:32:08 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-34/35",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA65E04DDA88DE\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 21:32:07 GMT",
        "x-ms-blob-committed-block-count": "5",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Jul 2022 21:32:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "YmxvY2sgMGJsb2NrIDFibG9jayAyYmxvY2sgM2Jsb2NrIDQ="
    }
  ],
  "Variables": {
    "if_modified": "2022-07-14T21:47:07.745599"
  }
}
