{
  "Entries": [
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainerb57d3621?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:40:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7CBBFA56F5F6\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 23:40:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainersourceb57d3621?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:40:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7CBBFA5D369D\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 23:40:02 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storagenamestorname/blobServices/default/containers/vlwcontainerb57d3621?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "immutableStorageWithVersioning": {
            "enabled": true
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8DA7CBBFC04DECC\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storagenamestorname/blobServices/default/containers/vlwcontainerb57d3621",
        "name": "vlwcontainerb57d3621",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
        "properties": {
          "immutableStorageWithVersioning": {
            "enabled": true
          },
          "deleted": false,
          "remainingRetentionDays": 0,
          "hasImmutabilityPolicy": false,
          "hasLegalHold": false
        }
      }
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainerb57d3621/blobb57d3621",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 12 Aug 2022 23:40:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFh[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/vlwcontainerb57d3621/blob1copy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://storagenamestorname.blob.core.windows.net/utcontainerb57d3621/blobb57d3621",
        "x-ms-date": "Fri, 12 Aug 2022 23:40:05 GMT",
        "x-ms-immutability-policy-mode": "Unlocked",
        "x-ms-immutability-policy-until-date": "Fri, 12 Aug 2022 23:40:10 GMT",
        "x-ms-legal-hold": "true",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7CBBFC1FCB46\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 23:40:05 GMT",
        "x-ms-copy-id": "a19a1316-d0bb-412c-9c42-0932df2cdc4b",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-08-12T23:40:05.7017158Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/vlwcontainerb57d3621/blob1copy",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:40:05 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7CBBFC1FCB46\u0022",
        "Last-Modified": "Fri, 12 Aug 2022 23:40:05 GMT",
        "x-ms-blob-content-md5": "yaNM/IXZgmmMasifdgcavQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Fri, 12 Aug 2022 23:40:05 GMT",
        "x-ms-copy-id": "a19a1316-d0bb-412c-9c42-0932df2cdc4b",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-source": "https://storagenamestorname.blob.core.windows.net/utcontainerb57d3621/blobb57d3621",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 12 Aug 2022 23:40:05 GMT",
        "x-ms-immutability-policy-mode": "unlocked",
        "x-ms-immutability-policy-until-date": "Fri, 12 Aug 2022 23:40:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-legal-hold": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06",
        "x-ms-version-id": "2022-08-12T23:40:05.7017158Z"
      },
      "ResponseBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWF[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/vlwcontainerb57d3621/blob1copy?comp=immutabilityPolicies",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:40:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/vlwcontainerb57d3621/blob1copy?comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:40:05 GMT",
        "x-ms-legal-hold": "false",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-legal-hold": "false",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/vlwcontainerb57d3621/blob1copy",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 12 Aug 2022 23:40:05 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/storagenamestorname/blobServices/default/containers/vlwcontainerb57d3621?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "expiry_time": "2022-08-12T23:40:10.737619"
  }
}
