{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc5d42fd3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:30 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F36982B4C34\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:29 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainersourcec5d42fd3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:30 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F369836BC36\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:29 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc5d42fd3/blobc5d42fd3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "512",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 26 Jul 2022 18:42:30 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F3698424BCA\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utcontainerc5d42fd3/blobc5d42fd3?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Tue, 26 Jul 2022 18:42:30 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA6F3698424BCA\u0022",
        "Last-Modified": "Tue, 26 Jul 2022 18:42:29 GMT",
        "x-ms-blob-content-length": "512",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList/\u003E"
      ]
    }
  ],
  "Variables": {}
}
