{
  "Entries": [
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainerf59a36b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 03 Jul 2023 23:11:39 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EContainerAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified container already exists.\n",
        "RequestId:2e610aa1-701e-0077-1903-aef6ed000000\n",
        "Time:2023-07-03T23:11:35.5650722Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainerf59a36b7/utcontainerf59a36b7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 03 Jul 2023 23:11:39 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": "YWJj",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "kAFQmDzST7DWlj99KOF/cg==",
        "ETag": "\u00220x8DB7C1AD9162904\u0022",
        "Last-Modified": "Mon, 03 Jul 2023 23:11:35 GMT",
        "x-ms-content-crc64": "6/rBP7vK5QU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-07-03T23:11:35.6159236Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainerf59a36b7/utcontainerf59a36b7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 03 Jul 2023 23:11:39 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kAFQmDzST7DWlj99KOF/cg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB7C1AD9162904\u0022",
        "Last-Modified": "Mon, 03 Jul 2023 23:11:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 03 Jul 2023 23:11:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-07-03T23:11:35.6159236Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainerf59a36b7/utcontainerf59a36b7?versionid=2023-07-03T23:11:35.6159236Z",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 03 Jul 2023 23:11:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/acontainerf59a36b7/utcontainerf59a36b7?versionid=2023-07-03T23:11:35.7888243Z",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 03 Jul 2023 23:11:40 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "l6yCpbglI554LQM54te5EA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB7C1AD9303CD6\u0022",
        "Last-Modified": "Mon, 03 Jul 2023 23:11:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 03 Jul 2023 23:11:35 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03",
        "x-ms-version-id": "2023-07-03T23:11:35.7888243Z"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
