{
  "Entries": [
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainerf3323087?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Aug 2022 22:19:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A55494A761F\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 22:19:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagenamestorname.blob.core.windows.net/utcontainersourcef3323087?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Aug 2022 22:19:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A55495486C0\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 22:19:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
