interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 May 2020 06:33:11 GMT
      x-ms-version:
      - '2019-10-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containercd831351?timeout=5&restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7F70782B2C12F"'
      last-modified:
      - Wed, 13 May 2020 06:33:12 GMT
      x-ms-version:
      - '2019-10-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 13 May 2020 06:33:12 GMT
      x-ms-tags:
      - ''
      x-ms-version:
      - '2019-10-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containercd831351/blobcd831351
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 1B2M2Y8AsgTpgAmY7PhCfg==
      etag:
      - '"0x8D7F70782CDDA82"'
      last-modified:
      - Wed, 13 May 2020 06:33:12 GMT
      x-ms-content-crc64:
      - AAAAAAAAAAA=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-10-10'
      x-ms-version-id:
      - '2020-05-13T06:33:12.7575170Z'
    status:
      code: 201
      message: Created
- request:
    body: AAA
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 13 May 2020 06:33:12 GMT
      x-ms-version:
      - '2019-10-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containercd831351/blobcd831351?blockid=MQ%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - Cc/2Kr4DuKg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-10-10'
    status:
      code: 201
      message: Created
- request:
    body: BBB
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 13 May 2020 06:33:13 GMT
      x-ms-version:
      - '2019-10-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containercd831351/blobcd831351?blockid=Mg%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - +3yuPEA7IqE=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-10-10'
    status:
      code: 201
      message: Created
- request:
    body: CCC
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 13 May 2020 06:33:13 GMT
      x-ms-version:
      - '2019-10-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containercd831351/blobcd831351?blockid=Mw%3D%3D&comp=block
  response:
    body:
      string: ''
    headers:
      x-ms-content-crc64:
      - VRJmMeosVKY=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-10-10'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 13 May 2020 06:33:13 GMT
      x-ms-tags:
      - tag1=firsttag&tag2=secondtag&tag3=thirdtag
      x-ms-version:
      - '2019-10-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/containercd831351/blobcd831351?comp=blocklist
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7F7078340D556"'
      last-modified:
      - Wed, 13 May 2020 06:33:13 GMT
      x-ms-content-crc64:
      - dAoQ5rLgKr0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-10-10'
      x-ms-version-id:
      - '2020-05-13T06:33:13.5120486Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 May 2020 06:33:13 GMT
      x-ms-version:
      - '2019-10-10'
    method: GET
    uri: https://storagename.blob.core.windows.net/containercd831351/blobcd831351?comp=tags
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Tags><TagSet><Tag><Key>tag1</Key><Value>firsttag</Value></Tag><Tag><Key>tag2</Key><Value>secondtag</Value></Tag><Tag><Key>tag3</Key><Value>thirdtag</Value></Tag></TagSet></Tags>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-10-10'
    status:
      code: 200
      message: OK
version: 1
