interactions:
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"disableVpnEncryption":
      false, "type": "Basic"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualwan76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\",\r\n
        \ \"etag\": \"W/\\\"bf414a31-067e-4b8b-9e0a-4c1d2decd8f9\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\":
        true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\":
        \"Basic\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/54106a98-6820-4e9b-8f72-2223ec552eee?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/54106a98-6820-4e9b-8f72-2223ec552eee?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"virtualWan":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f"},
      "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "isSecuritySite": false,
      "vpnSiteLinks": [{"name": "vpnSiteLink1", "properties": {"linkProperties": {"linkProviderName":
      "vendor1", "linkSpeedInMbps": 0}, "ipAddress": "50.50.50.56", "bgpProperties":
      {"asn": 1234, "bgpPeeringAddress": "192.168.0.0"}}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnpsite76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f\",\r\n
        \ \"etag\": \"W/\\\"39bb706f-de50-4b37-9ae6-f52de81bcad3\\\"\",\r\n  \"type\":
        \"Microsoft.Network/vpnSites\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n
        \       \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"deviceProperties\":
        {\r\n      \"linkSpeedInMbps\": 0\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\"\r\n
        \   },\r\n    \"isSecuritySite\": false,\r\n    \"o365Policy\": {\r\n      \"breakOutCategories\":
        {\r\n        \"optimize\": false,\r\n        \"allow\": false,\r\n        \"default\":
        false\r\n      }\r\n    },\r\n    \"vpnSiteLinks\": [\r\n      {\r\n        \"name\":
        \"vpnSiteLink1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f/vpnSiteLinks/vpnSiteLink1\",\r\n
        \       \"etag\": \"W/\\\"39bb706f-de50-4b37-9ae6-f52de81bcad3\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"ipAddress\": \"50.50.50.56\",\r\n          \"bgpProperties\":
        {\r\n            \"asn\": 1234,\r\n            \"bgpPeeringAddress\": \"192.168.0.0\"\r\n
        \         },\r\n          \"linkProperties\": {\r\n            \"linkProviderName\":
        \"vendor1\",\r\n            \"linkSpeedInMbps\": 0\r\n          }\r\n        },\r\n
        \       \"type\": \"Microsoft.Network/vpnSites/vpnSiteLinks\"\r\n      }\r\n
        \   ]\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/567a21e5-7781-4cdc-9d6c-c2dae006b9f4?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"virtualWan":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f"},
      "addressPrefix": "10.168.0.0/24", "sku": "Basic"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualhubx76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f\",\r\n
        \ \"etag\": \"W/\\\"4bdbd9eb-e922-4760-8484-c354c04a9509\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\":
        \"10.168.0.0/24\",\r\n    \"virtualRouterAsn\": 0,\r\n    \"virtualRouterIps\":
        [],\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualWan\":
        {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\"\r\n
        \   },\r\n    \"sku\": \"Basic\",\r\n    \"routingState\": \"None\",\r\n    \"allowBranchToBranchTraffic\":
        false,\r\n    \"preferredRoutingGateway\": \"ExpressRoute\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/2bf18c0d-01ca-4278-8e79-664cd6029f27?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"virtualHub":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f"},
      "connections": [{"name": "vpnConnection1", "properties": {"remoteVpnSite": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f"},
      "vpnLinkConnections": [{"name": "Connection-Link1", "properties": {"vpnSiteLink":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f/vpnSiteLinks/vpnSiteLink1"},
      "vpnConnectionProtocolType": "IKEv2", "connectionBandwidth": 200, "sharedKey":
      "key"}}]}}], "bgpSettings": {"asn": 65515, "peerWeight": 0}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnGateways/vpngateway76dc116f?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vpngateway76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnGateways/vpngateway76dc116f\",\r\n
        \ \"etag\": \"W/\\\"45c7a788-a9b9-4f23-86f4-89428092b7bf\\\"\",\r\n  \"type\":
        \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"connections\": [\r\n      {\r\n        \"name\": \"vpnConnection1\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnGateways/vpngateway76dc116f/vpnConnections/vpnConnection1\",\r\n
        \       \"etag\": \"W/\\\"45c7a788-a9b9-4f23-86f4-89428092b7bf\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/vpnGateways/vpnConnections\",\r\n        \"properties\":
        {\r\n          \"provisioningState\": \"Updating\",\r\n          \"routingConfiguration\":
        {\r\n            \"associatedRouteTable\": {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f/hubRouteTables/defaultRouteTable\"\r\n
        \           },\r\n            \"propagatedRouteTables\": {\r\n              \"labels\":
        [\r\n                \"default\"\r\n              ],\r\n              \"ids\":
        [\r\n                {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f/hubRouteTables/defaultRouteTable\"\r\n
        \               }\r\n              ]\r\n            },\r\n            \"vnetRoutes\":
        {\r\n              \"staticRoutes\": []\r\n            }\r\n          },\r\n
        \         \"enableInternetSecurity\": false,\r\n          \"remoteVpnSite\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f\"\r\n
        \         },\r\n          \"vpnLinkConnections\": [\r\n            {\r\n              \"name\":
        \"Connection-Link1\",\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnGateways/vpngateway76dc116f/vpnConnections/vpnConnection1/vpnLinkConnections/Connection-Link1\",\r\n
        \             \"etag\": \"W/\\\"45c7a788-a9b9-4f23-86f4-89428092b7bf\\\"\",\r\n
        \             \"properties\": {\r\n                \"provisioningState\":
        \"Updating\",\r\n                \"vpnSiteLink\": {\r\n                  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f/vpnSiteLinks/vpnSiteLink1\"\r\n
        \               },\r\n                \"connectionBandwidth\": 200,\r\n                \"ipsecPolicies\":
        [],\r\n                \"vpnConnectionProtocolType\": \"IKEv2\",\r\n                \"sharedKey\":
        \"key\",\r\n                \"ingressBytesTransferred\": 0,\r\n                \"egressBytesTransferred\":
        0,\r\n                \"packetCaptureDiagnosticState\": \"None\",\r\n                \"enableBgp\":
        false,\r\n                \"enableRateLimiting\": false,\r\n                \"useLocalAzureIpAddress\":
        false,\r\n                \"usePolicyBasedTrafficSelectors\": false,\r\n                \"routingWeight\":
        0,\r\n                \"dpdTimeoutSeconds\": 0,\r\n                \"vpnLinkConnectionMode\":
        \"Default\"\r\n              },\r\n              \"type\": \"Microsoft.Network/vpnGateways/vpnConnections/vpnLinkConnections\"\r\n
        \           }\r\n          ],\r\n          \"ingressBytesTransferred\": 0,\r\n
        \         \"egressBytesTransferred\": 0\r\n        }\r\n      }\r\n    ],\r\n
        \   \"virtualHub\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f\"\r\n
        \   },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"peerWeight\":
        0\r\n    },\r\n    \"vpnGatewayScaleUnit\": 1,\r\n    \"packetCaptureDiagnosticState\":
        \"None\",\r\n    \"ipConfigurations\": [],\r\n    \"natRules\": [],\r\n    \"enableBgpRouteTranslationForNat\":
        false,\r\n    \"isRoutingPreferenceInternet\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b3b72238-f6f5-4790-8554-34fa625a0ae3?api-version=2021-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1188'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b3b72238-f6f5-4790-8554-34fa625a0ae3?api-version=2021-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\r\n    \"code\": \"OperationFailureErrors\",\r\n
        \   \"message\": \"The operation failed due to following errors: '[\\\"The
        operation failed due to following errors: '[\\\\\\\"The vpn gateway deployment
        operation failed due to an intermittent error. Please try again.\\\\\\\"]'.\\\"]'.\",\r\n
        \   \"details\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
