interactions:
- request:
    body: '{"location": "westus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {"dnsServers": ["10.1.1.1", "10.1.2.4"]}, "subnets":
      [{"name": "pyvnetsubnetone4725106e", "properties": {"addressPrefix": "10.0.1.0/24"}},
      {"name": "pyvnetsubnettwo4725106e", "properties": {"addressPrefix": "10.0.2.0/24"}}],
      "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/pyvnet4725106e?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"pyvnet4725106e\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/pyvnet4725106e\"\
        ,\r\n  \"etag\": \"W/\\\"a272d1c5-227a-4f23-a52a-401a60c313ef\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"6950fa40-6a8e-49bf-873c-3a0ba19db0fd\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\
        \n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n \
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"pyvnetsubnetone4725106e\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/pyvnet4725106e/subnets/pyvnetsubnetone4725106e\"\
        ,\r\n        \"etag\": \"W/\\\"a272d1c5-227a-4f23-a52a-401a60c313ef\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"delegations\"\
        : [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n  \
        \        \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\
        \n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n    \
        \  },\r\n      {\r\n        \"name\": \"pyvnetsubnettwo4725106e\",\r\n   \
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/pyvnet4725106e/subnets/pyvnetsubnettwo4725106e\"\
        ,\r\n        \"etag\": \"W/\\\"a272d1c5-227a-4f23-a52a-401a60c313ef\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"delegations\"\
        : [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n  \
        \        \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\
        \n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n    \
        \  }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\"\
        : false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/a165bfa6-cdae-4f84-8bd4-c903d21f340f?api-version=2020-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/a165bfa6-cdae-4f84-8bd4-c903d21f340f?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/pyvnet4725106e/CheckIPAddressAvailability?ipAddress=10.0.1.35&api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"available\": true,\r\n  \"isPlatformReserved\": false\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"pyvnet4725106e\"\
        ,\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/pyvnet4725106e\"\
        ,\r\n      \"etag\": \"W/\\\"dac76e08-961e-432a-bf4c-88088bc6c593\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/virtualNetworks\",\r\n      \"location\"\
        : \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\"\
        : \"Succeeded\",\r\n        \"resourceGuid\": \"6950fa40-6a8e-49bf-873c-3a0ba19db0fd\"\
        ,\r\n        \"addressSpace\": {\r\n          \"addressPrefixes\": [\r\n \
        \           \"10.0.0.0/16\"\r\n          ]\r\n        },\r\n        \"dhcpOptions\"\
        : {\r\n          \"dnsServers\": [\r\n            \"10.1.1.1\",\r\n      \
        \      \"10.1.2.4\"\r\n          ]\r\n        },\r\n        \"subnets\": [\r\
        \n          {\r\n            \"name\": \"pyvnetsubnetone4725106e\",\r\n  \
        \          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/pyvnet4725106e/subnets/pyvnetsubnetone4725106e\"\
        ,\r\n            \"etag\": \"W/\\\"dac76e08-961e-432a-bf4c-88088bc6c593\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"addressPrefix\": \"10.0.1.0/24\",\r\n\
        \              \"delegations\": [],\r\n              \"privateEndpointNetworkPolicies\"\
        : \"Enabled\",\r\n              \"privateLinkServiceNetworkPolicies\": \"\
        Enabled\"\r\n            },\r\n            \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\
        \r\n          },\r\n          {\r\n            \"name\": \"pyvnetsubnettwo4725106e\"\
        ,\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/pyvnet4725106e/subnets/pyvnetsubnettwo4725106e\"\
        ,\r\n            \"etag\": \"W/\\\"dac76e08-961e-432a-bf4c-88088bc6c593\\\"\
        \",\r\n            \"properties\": {\r\n              \"provisioningState\"\
        : \"Succeeded\",\r\n              \"addressPrefix\": \"10.0.2.0/24\",\r\n\
        \              \"delegations\": [],\r\n              \"privateEndpointNetworkPolicies\"\
        : \"Enabled\",\r\n              \"privateLinkServiceNetworkPolicies\": \"\
        Enabled\"\r\n            },\r\n            \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\
        \r\n          }\r\n        ],\r\n        \"virtualNetworkPeerings\": [],\r\
        \n        \"enableDdosProtection\": false,\r\n        \"enableVmProtection\"\
        : false\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/virtualNetworks?api-version=2020-04-01
  response:
    body:
      string: '{"value":[{"name":"pysubnetc2cc0c8f","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_network_test_subnetsc2cc0c8f/providers/Microsoft.Network/virtualNetworks/pysubnetc2cc0c8f","etag":"W/\"5d7d71a5-43b6-4ce0-a803-a50f6[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/73bdd8b8-a045-430b-b168-34c03f8aedc0?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
