interactions:
- request:
    body: '{"location": "westus", "sku": {"name": "Standard"}, "properties": {"prefixLength":
      30}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_ip_addresses_test_networkd3db1381/providers/Microsoft.Network/publicIPPrefixes/publicipprefixd3db1381?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"publicipprefixd3db1381\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_ip_addresses_test_networkd3db1381/providers/Microsoft.Network/publicIPPrefixes/publicipprefixd3db1381\"\
        ,\r\n  \"etag\": \"W/\\\"cb1d7865-4089-46ba-b7c1-846a802a0957\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPPrefixes\",\r\n  \"location\": \"\
        westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"56f8fd3b-f0ff-4afc-8f0a-fe19475a82d0\",\r\n \
        \   \"prefixLength\": 30,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n\
        \    \"ipTags\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\
        \n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/27252e3e-b1ed-484e-b9b6-247ac8839d7a?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/27252e3e-b1ed-484e-b9b6-247ac8839d7a?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_ip_addresses_test_networkd3db1381/providers/Microsoft.Network/publicIPPrefixes/publicipprefixd3db1381?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"publicipprefixd3db1381\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_ip_addresses_test_networkd3db1381/providers/Microsoft.Network/publicIPPrefixes/publicipprefixd3db1381\"\
        ,\r\n  \"etag\": \"W/\\\"1cc52e0b-bd97-4e6b-9a0d-77ef56d1d94a\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/publicIPPrefixes\",\r\n  \"location\": \"\
        westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"56f8fd3b-f0ff-4afc-8f0a-fe19475a82d0\",\r\n \
        \   \"prefixLength\": 30,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n\
        \    \"ipPrefix\": \"13.88.131.160/30\",\r\n    \"ipTags\": []\r\n  },\r\n\
        \  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1cc52e0b-bd97-4e6b-9a0d-77ef56d1d94a"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_ip_addresses_test_networkd3db1381/providers/Microsoft.Network/publicIPAddresses/publicipaddressd3db1381?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"publicipaddressd3db1381\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_ip_addresses_test_networkd3db1381/providers/Microsoft.Network/publicIPAddresses/publicipaddressd3db1381\"\
        ,\r\n  \"etag\": \"W/\\\"92a6feef-5173-44fa-ba51-eb20344818b1\\\"\",\r\n \
        \ \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"7049f10f-e27a-48e8-9c79-d757b6061c50\"\
        ,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\"\
        : {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/95f14883-4d4f-43bd-b337-1b8e5329feb5?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/95f14883-4d4f-43bd-b337-1b8e5329feb5?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tags": {"tag1": "value1", "tag2": "value2"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_ip_addresses_test_networkd3db1381/providers/Microsoft.Network/publicIPAddresses/publicipaddressd3db1381?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"publicipaddressd3db1381\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resource[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/73e36aa1-2c78-47fb-a10d-3952bb9d732f?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
