interactions:
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"ipAddresses":
      ["13.64.39.16/32", "40.74.146.80/31", "40.74.147.32/28"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/ipGroups/myIpGroups?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"firewalls\": [],\r\n    \"firewallPolicies\":
        [],\r\n    \"ipAddresses\": [\r\n      \"13.64.39.16/32\",\r\n      \"40.74.146.80/31\",\r\n
        \     \"40.74.147.32/28\"\r\n    ],\r\n    \"provisioningState\": \"Updating\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/ipGroups/myIpGroups\",\r\n
        \ \"name\": \"myIpGroups\",\r\n  \"type\": \"Microsoft.Network/IpGroups\",\r\n
        \ \"etag\": \"1333ff73-541c-4708-b6ba-835c84e4a897\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"key1\": \"value1\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/nfvOperations/11d9a246-4895-4b14-bf66-c51a860acf6c?api-version=2020-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/nfvOperations/11d9a246-4895-4b14-bf66-c51a860acf6c?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/ipGroups/myIpGroups?api-version=2020-08-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
