interactions:
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Network/virtualNetworks/virtualnetworkc6c91815?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualnetworkc6c91815\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Network/virtualNetworks/virtualnetworkc6c91815\"\
        ,\r\n  \"etag\": \"W/\\\"08620d5a-5a1b-488c-9812-cfecdf834da9\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"42276016-731a-43db-ad15-0be9e1aef86e\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\"\
        : [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/e4b9377d-5f9a-403a-bcbd-d5855361a916?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/e4b9377d-5f9a-403a-bcbd-d5855361a916?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Network/virtualNetworks/virtualnetworkc6c91815/subnets/subnetc6c91815?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnetc6c91815\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Network/virtualNetworks/virtualnetworkc6c91815/subnets/subnetc6c91815\"\
        ,\r\n  \"etag\": \"W/\\\"69422626-96ff-4a1b-b25e-16f0666c9712\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\"\
        : \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/aa8f726f-9574-4c5e-b229-9ff867df7084?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"location": "eastus", "properties": {"ipConfigurations": [{"name":
      "MyIpConfig", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Network/virtualNetworks/virtualnetworkc6c91815/subnets/subnetc6c91815"}}}]}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Mi[...]
[...]
- request:
    body: 'b''{"location": "eastus", "properties": {"hardwareProfile": {"vmSize":
      "Standard_D2_v2"}, "storageProfile": {"imageReference": {"publisher": "MicrosoftWindowsServer",
      "offer": "WindowsServer", "sku": "2016-Datacenter", "version": "latest"}, "osDisk":
      {"name": "myVMosdisk", "caching": "ReadWrite", "createOption": "FromImage",
      "managedDisk": {"storageAccountType": "Standard_LRS"}}, "dataDisks": [{"lun":
      0, "createOption": "Empty", "diskSizeGB": 1023}, {"lun": 1, "createOption":
      "Empty", "diskSizeGB": 1023}]}, "osProfile": {"computerName": "myVM", "adminUsername":
      "testuser", "adminPassword": "Aa1!zyx_", "windowsConfiguration": {"enableAutomaticUpdates":
      true}}, "networkProfile": {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Network/networkInterfaces/interfacec6c91815",
      "properties": {"primary": true}}]}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Compute/virtualMachines/virtualmachinec6c91815?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualmachinec6c91815\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Compute/virtualMachines/virtualmachinec6c91815\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\"\
        : \"eastus\",\r\n  \"properties\": {\r\n    \"vmId\": \"c6736330-44d5-4b39-b46b-6048200575e1\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2_v2\"\r\n\
        \    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n  \
        \      \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"\
        WindowsServer\",\r\n        \"sku\": \"2016-Datacenter\",\r\n        \"version\"\
        : \"latest\",\r\n        \"exactVersion\": \"14393.3630.2004101604\"\r\n \
        \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n  \
        \      \"name\": \"myVMosdisk\",\r\n        \"createOption\": \"FromImage\"\
        ,\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n\
        \          \"storageAccountType\": \"Standard_LRS\"\r\n        },\r\n    \
        \    \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": [\r\n       \
        \ {\r\n          \"lun\": 0,\r\n          \"createOption\": \"Empty\",\r\n\
        \          \"caching\": \"None\",\r\n          \"managedDisk\": {\r\n    \
        \        \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n    \
        \      \"diskSizeGB\": 1023,\r\n          \"toBeDetached\": false\r\n    \
        \    },\r\n        {\r\n          \"lun\": 1,\r\n          \"createOption\"\
        : \"Empty\",\r\n          \"caching\": \"None\",\r\n          \"managedDisk\"\
        : {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\
        \n          \"diskSizeGB\": 1023,\r\n          \"toBeDetached\": false\r\n\
        \        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\"\
        : \"myVM\",\r\n      \"adminUsername\": \"testuser\",\r\n      \"windowsConfiguration\"\
        : {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\"\
        : true\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\"\
        : true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"\
        networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Network/networkInterfaces/interfacec6c91815\"\
        ,\"properties\":{\"primary\":true}}]},\r\n    \"provisioningState\": \"Creating\"\
        \r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/8891acfc-12fc-46fd-aba7-ffbffa64580a?api-version=2019-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus/operations/8891acfc-12fc-46fd-aba7-ffbffa64580a?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-04-29T03:20:58.1275444+00:00\",\r\n  \"\
        status\": \"InProgress\",\r\n  \"name\": \"8891acfc-12fc-46fd-aba7-ffbffa64580a\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29994
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"publisher": "Microsoft.Azure.NetworkWatcher",
      "type": "NetworkWatcherAgentWindows", "typeHandlerVersion": "1.4", "autoUpgradeMinorVersion":
      true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Compute/virtualMachines/virtualmachinec6c91815/extensions/virtualmachineextensionc6c91815?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualmachineextensionc6c91815\",\r[...]
[...]
- request:
    body: '{"location": "eastus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Network/networkWatchers/networkwatcherc6c91815?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"networkwatcherc6c91815\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Network/networkWatchers/networkwatcherc6c91815\"\
        ,\r\n  \"etag\": \"W/\\\"d490def2-3ef3-41fa-ad70-3363f26b53d0\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/networkWatchers\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n\
        \    \"runningOperationIds\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/88d14f8f-8294-4c06-bf53-9ddd334fc993?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Compute/virtualMachines/virtualmachinec6c91815",
      "direction": "Outbound", "protocol": "TCP", "localPort": "80", "remotePort":
      "80", "localIPAddress": "10.0.0.4", "remoteIPAddress": "121.10.1.1"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_watcher_test_network_watcher_ip_flowc6c91815/providers/Microsoft.Network/networkWatchers/networkwatcherc6c91815/ipFlowVerify?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"access\": \"Allow\",\r\n  \"ruleName\": \"defaultSecurityRules/AllowInternetOutBound\"\
        ,\r\n  \"ruleId\": \"\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operationResults/9c1b9ebf-9f77-45f9-a9b1-0b21b2566c24?api-version=2020-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operationResults/9c1b9ebf-9f77-45f9-a9b1-0b21b2566c24?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"access\": \"Allow\",\r\n  \"ruleName\": \"defaultSecurityRules/AllowInternetOutBound\"\
        ,\r\n  \"ruleId\": \"\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operationResults/9c1b9ebf-9f77-45f9-a9b1-0b21b2566c24?api-version=2020-03-01
    status:
      code: 200
      message: OK
[...]
