interactions:
- request:
    body: '{"location": "westus", "properties": {"securityRules": [{"properties":
      {"description": "Test security rule", "protocol": "Tcp", "sourcePortRange":
      "655", "destinationPortRange": "123-3500", "sourceAddressPrefix": "*", "destinationAddressPrefix":
      "*", "access": "Allow", "priority": 500, "direction": "Inbound"}, "name": "pysecgrouprulec575136b"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions//resourceGroups/test_mgmt_network_test_network_security_groupsc575136b/providers/Microsoft.Network/networkSecurityGroups/pysecgroupc575136b?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"pysecgroupc575136b\",\r\n  \"id\": \"/subscriptions//resourceGroups/test_mgmt_network_test_network_security_groupsc575136b/providers/Microsoft.Network/networkSecurityGroups/pysecgroupc575136b\"\
        ,\r\n  \"etag\": \"W/\\\"60a7368c-53cc-4e24-b671-59b82eea9e8e\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\"\
        : \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"4846e8a0-f510-49d1-9a38-5f4f7ed29657\",\r\n \
        \   \"securityRules\": [\r\n      {\r\n        \"name\": \"pysecgrouprulec575136b\"\
        ,\r\n        \"id\": \"/subscriptions//resourceGroups/test_mgmt_network_test_network_security_groupsc575136b/providers/Microsoft.Network/networkSecurityGroups/pysecgroupc575136b/securityRules/pysecgrouprulec575136b\"\
        ,\r\n        \"etag\": \"W/\\\"60a7368c-53cc-4e24-b671-59b82eea9e8e\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"description\": \"Test security rule\",\r\n          \"protocol\"\
        : \"Tcp\",\r\n          \"sourcePortRange\": \"655\",\r\n          \"destinationPortRange\"\
        : \"123-3500\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n         \
        \ \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\"\
        ,\r\n          \"priority\": 500,\r\n          \"direction\": \"Inbound\"\
        ,\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\"\
        : [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\"\
        : []\r\n        }\r\n      }\r\n    ],\r\n    \"defaultSecurityRules\": [\r\
        \n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"\
        /subscriptions//resourceGroups/test_mgmt_network_test_network_security_groupsc575136b/providers/Microsoft.Network/networkSecurityGroups/pysecgroupc575136b/defaultSecurityRules/AllowVnetInBound\"\
        ,\r\n        \"etag\": \"W/\\\"60a7368c-53cc-4e24-b671-59b82eea9e8e\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\"\
        ,\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\"\
        ,\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\"\
        : \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\"\
        ,\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n\
        \          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\":\
        \ [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\"\
        : [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n   \
        \   },\r\n      {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\
        \n        \"id\": \"/subscriptions//resourceGroups/test_mgmt_network_test_network_security_groupsc575136b/providers/Microsoft.Network/networkSecurityGroups/pysecgroupc575136b/defaultSecurityRules/AllowAzureLoadBalancerInBound\"\
        ,\r\n        \"etag\": \"W/\\\"60a7368c-53cc-4e24-b671-59b82eea9e8e\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkSecurityGrou[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions//providers/Microsoft.Network/locations/westus/operations/0f7879da-474d-4cab-9236-ff454d8fb61d?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions//resourceGroups/test_mgmt_network_test_network_security_groupsc575136b/providers/Microsoft.Network/networkSecurityGroups?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"pysecgroupc575136b\"\
        ,\r\n      \"id\": \"/subscriptions//resourceGroups/test_mgmt_network_test_network_security_groupsc575136b/providers/Microsoft.Network/networkSecurityGroups/pysecgroupc575136b\"\
        ,\r\n      \"etag\": \"W/\\\"64e7f6e8-f29a-498a-91f7-5d46a5fc1e50\\\"\",\r\
        \n      \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n      \"\
        location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions//providers/Microsoft.Network/networkSecurityGroups?api-version=2019-07-01
  response:
    body:
      string: '{"value":[{"name":"nsg1","id":"/subscriptions//resourceGroups/cli_role_assignqebydek2q63vedv67w5m3uofzq45jmgbf3zclr6jp4m3ns24znuy3y6nkzie/providers/Microsoft.Network/networkSecurityGroups/nsg1","etag":"W/\"71ad376c-f8dd-4e67-bb41-52e147172900\"","type":"Microsoft.Network/networkSec[...]
- request:
    body: '{"properties": {"description": "New Test security rule", "protocol": "Tcp",
      "sourcePortRange": "655", "destinationPortRange": "123-3500", "sourceAddressPrefix":
      "*", "destinationAddressPrefix": "*", "access": "Allow", "priority": 400, "direction":
      "Outbound"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions//resourceGroups/test_mgmt_network_test_network_security_g[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions//resourceGroups/test_mgmt_network_test_network_security_groupsc575136b/providers/Microsoft.Network/networkSecurityGroups/pysecgroupc575136b/securityRules?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"pysecgrouprulec575136b\"\
        ,\r\n      \"id\": \"/subscriptions//resourceGroups/test_mgmt_network_test_network_security_gro[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions//resourceGroups/test_mgmt_network_test_network_security_groupsc575136b/providers/Microsoft.Network/networkSecurityGroups/pysecgroupc575136b/securityRules/pynewrulec575136b?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions//providers/Microsoft.Network/locations/westus/operations/59b66ec1-5311-46ec-97a4-5607cda0f2b5?api-version=2019-07-01
      location:
      - https://management.azure.com/subscriptions//providers/Microsoft.Network/locations/westus/operationResults/59b66ec1-5311-46ec-97a4-5607cda0f2b5?api-version=2019-07-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14992'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions//providers/Microsoft.Network/locations/westus/operations/c48e5b12-42ee-4909-809f-0ebd3fb4c86a?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
