interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard_MeteredData", "tier":
      "Standard", "family": "MeteredData"}, "properties": {"serviceProviderProperties":
      {"serviceProviderName": "Equinix", "peeringLocation": "Silicon Valley", "bandwidthInMbps":
      200}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"myCircuit\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit\"\
        ,\r\n  \"etag\": \"W/\\\"6f570a5c-d6a3-4de2-b433-ccc4dfae6018\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\"\
        : \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"c7418d8f-0646-49ea-9b7a-a8e0d6b311c8\",\r\n \
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\"\
        : {\r\n      \"serviceProviderName\": \"Equinix\",\r\n      \"peeringLocation\"\
        : \"Silicon Valley\",\r\n      \"bandwidthInMbps\": 200\r\n    },\r\n    \"\
        circuitProvisioningState\": \"Disabled\",\r\n    \"allowClassicOperations\"\
        : false,\r\n    \"serviceKey\": \"00000000-0000-0000-0000-000000000000\",\r\
        \n    \"serviceProviderProvisioningState\": \"NotProvisioned\",\r\n    \"\
        allowGlobalReach\": false,\r\n    \"globalReachEnabled\": false\r\n  },\r\n\
        \  \"sku\": {\r\n    \"name\": \"Standard_MeteredData\",\r\n    \"tier\":\
        \ \"Standard\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/e6c0cd31-d244-4ea9-8812-21de35529571?api-version=2020-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/e6c0cd31-d244-4ea9-8812-21de35529571?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"myCircuit\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit\"\
        ,\r\n  \"etag\": \"W/\\\"ff67419d-f6ae-4b9f-8ab8-1ca8cca4fcd7\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\"\
        : \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"c7418d8f-0646-49ea-9b7a-a8e0d6b311c8\",\r\n \
        \   \"peerings\": [],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\"\
        : {\r\n      \"serviceProviderName\": \"Equinix\",\r\n      \"peeringLocation\"\
        : \"Silicon Valley\",\r\n      \"bandwidthInMbps\": 200\r\n    },\r\n    \"\
        circuitProvisioningState\": \"Enabled\",\r\n    \"allowClassicOperations\"\
        : false,\r\n    \"gatewayManagerEtag\": \"\",\r\n    \"serviceKey\": \"e64a0608-027e-461c-ac10-167a8732955f\"\
        ,\r\n    \"serviceProviderProvisioningState\": \"NotProvisioned\",\r\n   \
        \ \"allowGlobalReach\": false,\r\n    \"globalReachEnabled\": false,\r\n \
        \   \"stag\": 140\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_MeteredData\"\
        ,\r\n    \"tier\": \"Standard\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\
        \n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard_MeteredData", "tier":
      "Standard", "family": "MeteredData"}, "properties": {"serviceProviderProperties":
      {"serviceProviderName": "Equinix", "peeringLocation": "Silicon Valley", "bandwidthInMbps":
      200}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Net[...]
[...]
- request:
    body: '{"properties": {"peerASN": 10001, "primaryPeerAddressPrefix": "102.0.0.0/30",
      "secondaryPeerAddressPrefix": "103.0.0.0/30", "vlanId": 101}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/peerings/AzurePrivatePeering?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"AzurePrivatePeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/peerings/AzurePrivatePeering\"\
        ,\r\n  \"etag\": \"W/\\\"7de9b461-5597-4317-b71a-5d9eac263841\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        peeringType\": \"AzurePrivatePeering\",\r\n    \"azureASN\": 0,\r\n    \"\
        peerASN\": 10001,\r\n    \"primaryPeerAddressPrefix\": \"102.0.0.0/30\",\r\
        \n    \"secondaryPeerAddressPrefix\": \"103.0.0.0/30\",\r\n    \"state\":\
        \ \"Enabled\",\r\n    \"vlanId\": 101,\r\n    \"lastModifiedBy\": \"\",\r\n\
        \    \"connections\": [],\r\n    \"peeredConnections\": []\r\n  },\r\n  \"\
        type\": \"Microsoft.Network/expressRouteCircuits/peerings\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/1c473dde-9e8e-4ec3-a8cc-ee1ba86d62df?api-version=2020-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/peerings/AzurePrivatePeering?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"AzurePrivatePeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/peerings/AzurePrivatePeering\"\
        ,\r\n  \"etag\": \"W/\\\"1a4419e7-ee22-4c8e-85ad-f7d6391adf7b\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        peeringType\": \"AzurePrivatePeering\",\r\n    \"azureASN\": 12076,\r\n  \
        \  \"peerASN\": 10001,\r\n    \"primaryPeerAddressPrefix\": \"102.0.0.0/30\"\
        ,\r\n    \"secondaryPeerAddressPrefix\": \"103.0.0.0/30\",\r\n    \"primaryAzurePort\"\
        : \"EQIX-SJC-06GMR-CIS-1-PRI-A\",\r\n    \"secondaryAzurePort\": \"EQIX-SJC-06GMR-CIS-2-SEC-A\"\
        ,\r\n    \"state\": \"Enabled\",\r\n    \"vlanId\": 101,\r\n    \"gatewayManagerEtag\"\
        : \"\",\r\n    \"lastModifiedBy\": \"Customer\",\r\n    \"connections\": [],\r\
        \n    \"peeredConnections\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/expressRouteCircuits/peerings\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"peerASN": 10002, "primaryPeerAddressPrefix": "104.0.0.0/30",
      "secondaryPeerAddressPrefix": "105.0.0.0/30", "vlanId": 102}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit2/peerings/AzurePrivatePeering?api-version=2020-08-01
  response:
    body:
      string[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/authorizations/myAuthorization?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"myAuthorization\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/authorizations/myAuthorization\"\
        ,\r\n  \"etag\": \"W/\\\"26063cfb-ab4c-449a-a34a-d23febf0abe8\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        authorizationKey\": \"5b70f388-25d8-40bc-9485-fb10a8212b0b\",\r\n    \"authorizationUseStatus\"\
        : \"Available\"\r\n  },\r\n  \"type\": \"Microsoft.Network/expressRouteCircuits/authorizations\"\
        \r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/e5cea286-5e2d-4a2f-9327-de0ae941499e?api-version=2020-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"expressRouteCircuitPeering": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/peerings/AzurePrivatePeering"},
      "peerExpressRouteCircuitPeering": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit2/peerings/AzurePrivatePeering"},
      "addressPrefix": "104.0.0.0/29"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/peerings/AzurePrivatePeering/connections/myConnection?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"myConnection\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/d2212d26-033f-4046-872b-6608e0b1a4d2?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\r\n    \"code\": \"\
        InitiatingCircuitNotProvisioned\",\r\n    \"message\": \"Put Global Reach\
        \ Connection Initiating Circuit Subscription = 00000000-0000-0000-0000-000000000000,\
        \ ServiceKey = e64a0608-027e-461c-ac10-167a8732955f is Not Provisioned. Current\
        \ Status NotProvisioned\",\r\n    \"details\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit2/peerings/AzurePrivatePeering/peerConnections/myConnection?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\"\
        : \"Resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit2/peerings/AzurePrivatePeering/peerConnections/myConnection\
        \ not found.\",\r\n    \"details\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/peerings/AzurePrivatePeering/stats?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"primaryBytesIn\": 0,\r\n  \"primaryBytesOut\": 0,\r\n  \"\
        secondaryBytesIn\": 0,\r\n  \"secondaryBytesOut\": 0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/stats?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"primaryBytesIn\": 0,\r\n  \"primaryBytesOut\": 0,\r\n  \"\
        secondaryBytesIn\": 0,\r\n  \"secondaryBytesOut\": 0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"myCircuit\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit\"\
        ,\r\n  \"etag\": \"W/\\\"1f033034-6696-476b-82e9-b5bd658c7c59\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\"\
        : \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Failed\"\
        ,\r\n    \"resourceGuid\": \"c7418d8f-0646-49ea-9b7a-a8e0d6b311c8\",\r\n \
        \   \"peerings\": [\r\n      {\r\n        \"name\": \"AzurePrivatePeering\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/peerings/AzurePrivatePeering\"\
        ,\r\n        \"etag\": \"W/\\\"1f033034-6696-476b-82e9-b5bd658c7c59\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Failed\"\
        ,\r\n          \"peeringType\": \"AzurePrivatePeering\",\r\n          \"azureASN\"\
        : 12076,\r\n          \"peerASN\": 10001,\r\n          \"primaryPeerAddressPrefix\"\
        : \"102.0.0.0/30\",\r\n          \"secondaryPeerAddressPrefix\": \"103.0.0.0/30\"\
        ,\r\n          \"primaryAzurePort\": \"\",\r\n          \"secondaryAzurePort\"\
        : \"\",\r\n          \"state\": \"Enabled\",\r\n          \"vlanId\": 101,\r\
        \n          \"gatewayManagerEtag\": \"\",\r\n          \"lastModifiedBy\"\
        : \"Customer\",\r\n          \"connections\": [\r\n            {\r\n     \
        \         \"name\": \"myConnection\",\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/peerings/AzurePrivatePeering/connections/myConnection\"\
        ,\r\n              \"etag\": \"W/\\\"1f033034-6696-476b-82e9-b5bd658c7c59\\\
        \"\",\r\n              \"properties\": {\r\n                \"provisioningState\"\
        : \"Failed\",\r\n                \"expressRouteCircuitPeering\": {\r\n   \
        \               \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/peerings/AzurePrivatePeering\"\
        \r\n                },\r\n                \"peerExpressRouteCircuitPeering\"\
        : {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit2/peerings/AzurePrivatePeering\"\
        \r\n                },\r\n                \"addressPrefix\": \"104.0.0.0/29\"\
        ,\r\n                \"circuitConnectionStatus\": \"Connected\"\r\n      \
        \        },\r\n              \"type\": \"Microsoft.Network/expressRouteCircuits/peerings/connections\"\
        \r\n            }\r\n          ],\r\n          \"peeredConnections\": []\r\
        \n        },\r\n        \"type\": \"Microsoft.Network/expressRouteCircuits/peerings\"\
        \r\n      }\r\n    ],\r\n    \"authorizations\": [\r\n      {\r\n        \"\
        name\": \"myAuthorization\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/expressRouteCircuits/myCircuit/authorizations/myAuthorization\"\
        ,\r\n        \"etag\": \"W/\\\"1f033034-6696-476b-82e9-b5bd658c7c59\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Failed\"\
        ,\r\n          \"authorizationKey\": \"5b70f388-25d8-40bc-9485-fb10a8212b0b\"\
        ,\r\n          \"authorizationUseStatus\": \"Available\"\r\n        },\r\n\
        \        \"type\": \"Microsoft.Network/expressRouteCircuits/authorizations\"\
        \r\n      }\r\n    ],\r\n    \"serviceProviderProperties\": {\r\n      \"\
        serviceProviderName\": \"Equinix\",\r\n      \"peeringLocation\": \"Silicon\
        \ Valley\",\r\n      \"bandwidthInMbps\": 200\r\n    },\r\n    \"circuitProvisioningState\"\
        : \"Enabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"gatewayManagerEtag\"\
        : \"\",\r\n    \"serviceKey\": \"e64a0608-027e-461c-ac10-167a8732955f\",\r\
        \n    \"serviceProviderProvisioningState\": \"NotProvisioned\",\r\n    \"\
        allowGlobalReach\": false,\r\n    \"globalReachEnabled\": false,\r\n    \"\
        stag\": 140\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_MeteredData\"\
        ,\r\n    \"tier\": \"Standard\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\
        \n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/31bd7098-9c75-4b4f-9a9b-77a2d690f380?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
