interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/expressRouteServiceProviders?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ARM Test Provider\"\
        ,\r\n      \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/\"\
        ,\r\n      \"type\": \"Microsoft.Network/expressRouteServiceProviders\",\r\
        \n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\
        ,\r\n        \"peeringLocations\": [\r\n          \"Area51\",\r\n        \
        \  \"Denver Test\",\r\n          \"EUAP Test\"\r\n        ],\r\n        \"\
        bandwidthsOffered\": [\r\n          {\r\n            \"offerName\": \"50Mbps\"\
        ,\r\n            \"valueInMbps\": 50\r\n          },\r\n          {\r\n  \
        \          \"offerName\": \"100Mbps\",\r\n            \"valueInMbps\": 100\r\
        \n          },\r\n          {\r\n            \"offerName\": \"200Mbps\",\r\
        \n            \"valueInMbps\": 200\r\n          },\r\n          {\r\n    \
        \        \"offerName\": \"500Mbps\",\r\n            \"valueInMbps\": 500\r\
        \n          },\r\n          {\r\n            \"offerName\": \"1Gbps\",\r\n\
        \            \"valueInMbps\":[...]
