interactions:
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"threatIntelMode":
      "Alert"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_policy_test_network12aa14d0/providers/Microsoft.Network/firewallPolicies/myFirewallPolicy?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"threatIntelMode\": \"Alert\",\r\n\
        \    \"childPolicies\": [],\r\n    \"ruleGroups\": [],\r\n    \"firewalls\"\
        : [],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_policy_test_network12aa14d0/providers/Microsoft.Network/firewallPolicies/myFirewallPolicy\"\
        ,\r\n  \"name\": \"myFirewallPolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\"\
        ,\r\n  \"etag\": \"4e041b29-aef2-49f4-945f-21e29ded3023\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/nfvOperations/4bead938-b70c-43dc-acee-55801fb2c35d?api-version=2020-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/nfvOperations/4bead938-b70c-43dc-acee-55801fb2c35d?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"priority": 110, "rules": [{"ruleType": "FirewallPolicyFilterRule",
      "name": "Example-Filter-Rule", "action": {"type": "Deny"}, "ruleConditions":
      [{"name": "network-condition1", "ruleConditionType": "NetworkRuleCondition",
      "ipProtocols": ["TCP"], "sourceAddresses": ["10.1.25.0/24"], "destinationAddresses":
      ["*"], "destinationPorts": ["*"]}]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_policy_test_network12aa14d0/providers/Microsoft.Network/firewallPolicies/myFirewallPolicy/ruleGroups/myRuleGroup?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"priority\": 110,\r\n    \"rules\"\
        : [\r\n      {\r\n        \[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_policy_test_network12aa14d0/providers/Microsoft.Network/firewallPolicies/myFirewallPolicy?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"threatIntelMode\": \"Alert\",\r\n\
        \    \"childPolicies\": [],\r\n    \"ruleGroups\": [\r\n      {\r\n      \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_policy_test_network12aa14d0/providers/Microsoft.Network/firewallPolicies/myFirewallPolicy/ruleGroups/myRuleGroup\"\
        \r\n      }\r\n    ],\r\n    \"firewalls\": [],\r\n    \"provisioningState\"\
        : \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_policy_test_network12aa14d0/providers/Microsoft.Network/firewallPolicies/myFirewallPolicy\"\
        ,\r\n  \"name\": \"myFirewallPolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\"\
        ,\r\n  \"etag\": \"4e041b29-aef2-49f4-945f-21e29ded3023\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_policy_test_network12aa14d0/providers/Microsoft.Network/firewallPolicies/myFirewallPolicy?api-version=2020-04-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 200
      message: OK
version: 1
