interactions:
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/virtualNetworks/virtualnetwork?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualnetwork\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/virtualNetworks/virtualnetwork\"\
        ,\r\n  \"etag\": \"W/\\\"1c16e384-3d27-4f68-9186-93c6f546b0bd\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"631b243b-2033-486c-b221-3cb556181e7e\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\"\
        : [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/c30ffef6-75bb-4331-ab5e-ac029dadf83c?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/c30ffef6-75bb-4331-ab5e-ac029dadf83c?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24", "privateLinkServiceNetworkPolicies":
      "disabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/virtualNetworks/virtualnetwork/subnets/subnet1?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnet1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/virtualNetworks/virtualnetwork/subnets/subnet1\"\
        ,\r\n  \"etag\": \"W/\\\"ad69d5c1-68a9-4bbf-8402-e55c5ca6b989\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\"\
        : \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Disabled\"\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/ef44d514-b687-4f63-8490-13db91270a3a?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.1.0/24", "privateEndpointNetworkPolicies":
      "disabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/virtualNetworks/virtualnetwork/subnets/subnet2?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnet2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/virtualNetworks/virtualnetwork/subnets/subnet2\"\
        ,\r\n  \"etag\": \"W/\\\"e0dae168-8df4-4991-83f7-eac04183cd41\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.1.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\"\
        : \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/51112c04-093c-43ba-87d7-7beedfff4df5?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"frontendIPConfigurations":
      [{"name": "myIPConfiguration", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/virtualNetworks/virtualnetwork/subnets/subnet1"}}}]}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/loadBalancers/loadbalancer?ap[...]
[...]
- request:
    body: 'b''{"location": "eastus", "properties": {"loadBalancerFrontendIpConfigurations":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/loadBalancers/loadbalancer/frontendIPConfigurations/myIPConfiguration"}],
      "ipConfigurations": [{"name": "myIPConfiguration", "properties": {"privateIPAddress":
      "10.0.1.4", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/virtualNetworks/virtualnetwork/subnets/subnet1"},
      "privateIPAddressVersion": "IPv4"}}], "visibility": {"subscriptions": ["00000000-0000-0000-0000-000000000000"]},
      "autoApproval": {"subscriptions": ["00000000-0000-0000-0000-000000000000"]},
      "fqdns": ["fqdn1", "fqdn2", "fqdn3"]}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateLinkServices/myService?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"myService\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateLinkServices/myService\"\
        ,\r\n  \"etag\": \"W/\\\"913b83cc-b882-4df0-9b5d-205a6e2d3baa\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/privateLinkServices\",\r\n  \"location\":\
        \ \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"be08375a-4f82-440c-8305-a349017d7fc2\",\r\n \
        \   \"fqdns\": [\r\n      \"fqdn1\",\r\n      \"fqdn2\",\r\n      \"fqdn3\"\
        \r\n    ],\r\n    \"alias\": \"myservice.1c77e9c9-570e-4485-941e-3cd9e2c9fbc3.eastus.azure.privatelinkservice\"\
        ,\r\n    \"visibility\": {\r\n      \"subscriptions\": [\r\n        \"00000000-0000-0000-0000-000000000000\"\
        \r\n      ]\r\n    },\r\n    \"autoApproval\": {\r\n      \"subscriptions\"\
        : [\r\n        \"00000000-0000-0000-0000-000000000000\"\r\n      ]\r\n   \
        \ },\r\n    \"enableProxyProtocol\": false,\r\n    \"loadBalancerFrontendIpConfigurations\"\
        : [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/loadBalancers/loadbalancer/frontendIPConfigurations/myIPConfiguration\"\
        \r\n      }\r\n    ],\r\n    \"ipConfigurations\": [\r\n      {\r\n      \
        \  \"name\": \"myIPConfiguration\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateLinkServices/myService/ipConfigurations/myIPConfiguration\"\
        ,\r\n        \"etag\": \"W/\\\"913b83cc-b882-4df0-9b5d-205a6e2d3baa\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/privateLinkServices/ipConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"\
        subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/virtualNetworks/virtualnetwork/subnets/subnet1\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"privateEndpointConnections\"\
        : [],\r\n    \"networkInterfaces\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/networkInterfaces/myService.nic.74a729b1-2f57-480d-8542-397afc13af79\"\
        \r\n      }\r\n    ]\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/143bf1c9-88be-43e1-b2ba-312e63ec37aa?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"location": "eastus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/virtualNetworks/virtualnetwork/subnets/subnet2"},
      "privateLinkServiceConnections": [{"name": "myService", "properties": {"privateLinkServiceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateLinkServices/myService"}}]}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateEndpoints/myPrivateEndpoint?api-version=2[...]
[...]
- request:
    body: '{"name": "myPrivateEndpoint.a22108f0-fbe6-4159-a0fd-656eb6ecec67", "properties":
      {"privateLinkServiceConnectionState": {"status": "Approved", "description":
      "approved it for some reason."}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateLinkServices/myService/privateEndpointConnections/myPrivateEndpoint.a22108f0-fbe6-4159-a0fd-656eb6ecec67?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"myPrivateEndpoint.a22108f0-fbe6-4159-a0fd-656eb6ecec67\"\
        ,\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateLinkServices/myService/privateEndpointConnections/myPrivateEndpoint.a22108f0-fbe6-4159-a0fd-656eb6ecec67\"\
        ,\r\n  \"etag\": \"W/\\\"ac8430be-09da-45af-bb2a-efc76af2fd29\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        privateEndpoint\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateEndpoints/myPrivateEndpoint\"\
        \r\n    },\r\n    \"privateLinkServiceConnectionState\": {\r\n      \"status\"\
        : \"Approved\",\r\n      \"description\": \"approved it for some reason.\"\
        ,\r\n      \"actionsRequired\": \"\"\r\n    },\r\n    \"linkIdentifier\":\
        \ \"536913096\"\r\n  },\r\n  \"type\": \"Microsoft.Network/privateLinkServices/privateEndpointConnections\"\
        \r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/b9f5c9c6-6934-4ff3-80e0-e247ce8e267b?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateDnsZones/www.zone1.com?api-version=2018-09-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs0MTEzOWJjNi0wNWYxLTQzMWItODgwYi03ZGY3ZWUxOTJlOTU=?api-version=2018-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs0MTEzOWJjNi0wNWYxLTQzMWItODgwYi03ZGY3ZWUxOTJlOTU=?api-version=2018-09-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs0MTEzOWJjNi0wNWYxLTQzMWItODgwYi03ZGY3ZWUxOTJlOTU=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateDnsZones/www.zone1.com?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/test_cli_mgmt_network_endpoint_test_network89b511ec\/providers\/Microsoft.Network\/privateDnsZones\/www.zone1.com","name":"www.zone1.com","type":"Microsoft.Network\/privateDnsZones","etag":"3e281d79-466a-4bd9-b88b-86e198c3c064","location":"global","properties":{"maxNumberOfRecordSets":25000,"maxNumberOfVirtualNetworkLinks":1000,"maxNumberOfVirtualNetworkLinksWithRegistration":100,"numberOfRecordSets":1,"numberOfVirtualNetworkLinks":0,"numberOfVirtualNetworkLinksWithRegistration":0,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 3e281d79-466a-4bd9-b88b-86e198c3c064
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"name": "myPrivateDnsZoneGroup", "properties": {"privateDnsZoneConfigs":
      [{"name": "zone1", "properties": {"privateDnsZoneId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateDnsZones/www.zone1.com"}}]}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/privateEndpoints/myPrivateEndpoint/privateDnsZoneGroup[...]
[...]
- request:
    body: '{"privateLinkServiceAlias": "mypls.00000000-0000-0000-0000-000000000000.azure.privatelinkservice"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_endpoint_test_network89b511ec/providers/Microsoft.Network/locations/eastus/checkPrivateLinkServiceVisibility?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"visible\": false\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/ac9f52e0-febd-4564-a7f3-9759b3c7ed21?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operationResults/ac9f52e0-febd-4564-a7f3-9759b3c7ed21?api-version=2020-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/a364919e-00aa-489c-a386-95ee3036540c?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
