{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "NA",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.17.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=a2df54d5-ab03-4725-9b80-9a00b3b1967f\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=0vj7Q~IsFayrD0V_8oyOfygU-GE3ELOabq95a\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/publicIPAddresses/publicipname?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "idleTimeoutInMinutes": 4
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/3db35d2a-abeb-4fea-ab58-52a1b73484ee?api-version=2021-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "name": "publicipname",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/publicIPAddresses/publicipname",
        "etag": "W/\u0022fdb90452-25b9-4afe-970a-faabe2c84099\u0022",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "a3c41ea0-faa8-44d7-9601-1228d8678b68",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Dynamic",
          "idleTimeoutInMinutes": 4,
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Basic",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/3db35d2a-abeb-4fea-ab58-52a1b73484ee?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/publicIPAddresses/publicipname?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022488e9aec-9d25-4462-afa5-7f0e7230530d\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "name": "publicipname",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/publicIPAddresses/publicipname",
        "etag": "W/\u0022488e9aec-9d25-4462-afa5-7f0e7230530d\u0022",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "a3c41ea0-faa8-44d7-9601-1228d8678b68",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Dynamic",
          "idleTimeoutInMinutes": 4,
          "ipTags": []
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Basic",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virtualnetworkname?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/c8b32467-5e1c-4c85-a5c9-f34b2a3b0de8?api-version=2021-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "name": "virtualnetworkname",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virtualnetworkname",
        "etag": "W/\u00222cda8dd1-dd6d-4e45-956c-890f24b6cea5\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "56065b5a-498d-4ddb-9bbb-89a158b07aa1",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/rmvirtualnetworkname?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes":[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/subnetname?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressPrefix": "10.0.0.0/24"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/cbc3fbf6-110e-44bc-be45-b450c5ba9047?api-version=2021-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "name": "subnetname",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/subnetname",
        "etag": "W/\u0022cc63cd90-ed37-40fb-818f-e7da6edd5553\u0022",
        "properties": {
          "provisioningState": "Updating",
          "addressPrefix": "10.0.0.0/24",
          "delegations": [],
          "privateEndpointNetworkPolicies": "Enabled",
          "privateLinkServiceNetworkPolicies": "Enabled"
        },
        "type": "Microsoft.Network/virtualNetworks/subnets"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/networkinterfacename?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "ipConfigurations": [
            {
              "name": "ipconfig",
              "properties": {
                "subnet": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/subnetname"
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Netwo[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/GatewaySubnet?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressPrefix": "10.0.1.0/24"
        }
      },
      "S[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/localNetworkGateways/localnetworkgatewayname?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "localNetworkAddressSpace": {
            "addressPrefixes": [
              "10.1.0.0/16"
            ]
          },
          "gatewayIpAddress": "11.12.13.14"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/eea79562-6c8a-4e8d-ab11-4ea8c264bafb?api-version=2021-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "name": "localnetworkgatewayname",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/localNetworkGateways/localnetworkgatewayname",
        "etag": "W/\u00224a587fbd-afcb-420b-9af7-13ed47074eee\u0022",
        "type": "Microsoft.Network/localNetworkGateways",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "f55a35ff-bb1c-4ee7-8cf8-2fa584be3987",
          "localNetworkAddressSpace": {
            "addressPrefixes": [
              "10.1.0.0/16"
            ]
          },
          "gatewayIpAddress": "11.12.13.14"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "ipConfigurations": [
            {
              "name": "ipconfig",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/GatewaySubnet"
                },
                "publicIPAddress": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/publicIPAddresses/publicipname"
                }
              }
            }
          ],
          "gatewayType": "Vpn",
          "vpnType": "RouteBased",
          "enableBgp": false,
          "sku": {
            "name": "VpnGw1",
            "tier": "VpnGw1"
          },
          "bgpSettings": {
            "asn": 65515,
            "bgpPeeringAddress": "10.0.1.30",
            "peerWeight": 0
          },
          "customRoutes": {
            "addressPrefixes": [
              "101.168.0.6/32"
            ]
          },
          "enableDnsForwarding": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/9ac244d4-ece5-4ca2-a126-8acad8f59b56?api-version=2021-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "name": "virtualnetworkgatewayname",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname",
        "etag": "W/\u0022cc3efaeb-b791-4559-b0ac-ab2a055b4c08\u0022",
        "type": "Microsoft.Network/virtualNetworkGateways",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "8021f642-bac5-46f4-ae0d-f936c3cf96a1",
          "packetCaptureDiagnosticState": "None",
          "enablePrivateIpAddress": false,
          "ipConfigurations": [
            {
              "name": "ipconfig",
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname/ipConfigurations/ipconfig",
              "etag": "W/\u0022cc3efaeb-b791-4559-b0ac-ab2a055b4c08\u0022",
              "type": "Microsoft.Network/virtualNetworkGateways/ipConfigurations",
              "properties": {
                "provisioningState": "Updating",
                "privateIPAllocationMethod": "Dynamic",
                "publicIPAddress": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/publicIPAddresses/publicipname"
                },
                "subnet": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/GatewaySubnet"
                }
              }
            }
          ],
          "natRules": [],
          "enableBgpRouteTranslationForNat": false,
          "disableIPSecReplayProtection": false,
          "sku": {
            "name": "VpnGw1",
            "tier": "VpnGw1",
            "capacity": 2
          },
          "gatewayType": "Vpn",
          "vpnType": "RouteBased",
          "enableBgp": false,
          "activeActive": false,
          "vpnClientConfiguration": {
            "vpnClientProtocols": [
              "OpenVPN",
              "IkeV2"
            ],
            "vpnAuthenticationTypes": [],
            "vpnClientRootCertificates": [],
            "vpnClientRevokedCertificates": [],
            "radiusServers": [],
            "vpnClientIpsecPolicies": []
          },
          "bgpSettings": {
            "asn": 65515,
            "bgpPeeringAddress": "10.0.1.30",
            "peerWeight": 0,
            "bgpPeeringAddresses": [
              {
                "ipconfigurationId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname/ipConfigurations/ipconfig",
                "defaultBgpIpAddresses": [],
                "customBgpIpAddresses": []
              }
            ]
          },
          "customRoutes": {
            "addressPrefixes": [
              "101.168.0.6/32"
            ]
          },
          "vpnGatewayGeneration": "Generation1",
          "enableDnsForwarding": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/virtualNetworkPeerings/virtualnetworkpeeringname?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "allowVirtualNetworkAccess": true,
          "allowForwardedTraffic": true,
          "allowGatewayTransit": false,
          "useRemoteGateways": false,
          "remoteVirtualNetwork": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/rmvirtualnetworkname"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/4c6e8e53-f41b-4a59-a52f-bec0fe35c2b6?api-version=2021-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "virtualnetworkpeeringname",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/virtualNetworkPeerings/virtualnetworkpeeringname",
        "etag": "W/\u0022519386d5-cf72-4cfb-92f7-46729f3ef65f\u0022",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "4a6351f1-d41f-0665-15c0-ec7f45ca5a0d",
          "peeringState": "Initiated",
          "peeringSyncLevel": "RemoteNotInSync",
          "remoteVirtualNetwork": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/rmvirtualnetworkname"
          },
          "allowVirtualNetworkAccess": true,
          "allowForwardedTraffic": true,
          "allowGatewayTransit": false,
          "useRemoteGateways": false,
          "doNotVerifyRemoteGateways": false,
          "peerCompleteVnets": true,
          "remoteAddressSpace": {
            "addressPrefixes": [
              "10.2.0.0/16"
            ]
          },
          "remoteVirtualNetworkAddressSpace": {
            "addressPrefixes": [
              "10.2.0.0/16"
            ]
          },
          "routeServiceVips": {}
        },
        "type": "Microsoft.Network/virtualNetworks/virtualNetworkPeerings"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/connections/connectionname?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "virtualNetworkGateway1": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname",
            "location": "eastus",
            "properties": {
              "ipConfigurations": [
                {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname/ipConfigurations/ipconfig",
     [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/connections/connectionname?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "name": "connectionname",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/connections/connectionname",
        "etag": "W/\u0022a158fe70-af75-4a46-8132-88bf7e0346b2\u0022",
        "type": "Microsoft.Network/connections",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "5b70943f-aefe-4df8-8cab-d3110e397002",
          "packetCaptureDiagnosticState": "None",
          "virtualNetworkGateway1": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname"
          },
          "localNetworkGateway2": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/localNetworkGateways/localnetworkgatewayname"
          },
          "connectionType": "IPsec",
          "connectionProtocol": "IKEv2",
          "routingWeight": 0,
          "sharedKey": "Abc123",
          "enableBgp": false,
          "useLocalAzureIpAddress": false,
          "usePolicyBasedTrafficSelectors": false,
          "ipsecPolicies": [],
          "trafficSelectorPolicies": [],
          "connectionStatus": "Unknown",
          "ingressBytesTransferred": 0,
          "egressBytesTransferred": 0,
          "expressRouteGatewayBypass": false,
          "dpdTimeoutSeconds": 0,
          "connectionMode": "Default",
          "gatewayCustomBgpIpAddresses": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/connections/connectionname/sharedkey?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "AzureAbc123"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/735ddbed-b684-4127-8631-ec1088a7b384?api-version=2021-05-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/subnetname/ServiceAssociationLinks?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/subnetname/ResourceNavigationLinks?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
[...]
