interactions:
- request:
    body: '{"location": "westus", "tags": {"key": "value"}, "properties": {"publicIPAllocationMethod":
      "Dynamic"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions//resourceGroups/test_mgmt_network_test_public_ip_addresses773e115f/providers/Microsoft.Network/publicIPAddresses/pyipname773e115f?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"pyipname773e115f\",\r\n  \"id\": \"/subscriptions//resourceGroups/test_mgmt_network_test_public_ip_addresses773e115f/providers/Microsoft.Network/publicIPAddresses/pyipname773e115f\"\
        ,\r\n  \"etag\": \"W/\\\"aafd1b6d-0a1f-49f7-bb63-5d70cbe6883c\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n\
        \  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\
        \n    \"resourceGuid\": \"13cb1927-afd8-4fb0-98d2-7e593fb68210\",\r\n    \"\
        publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"\
        Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n \
        \ },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\"\
        : {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions//providers/Microsoft.Network/locations/westus/operations/1caf2958-d39b-44cf-8074-a530d7a01241?api-version=2019-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions//providers/Microsoft.Network/locations/westus/operations/1caf2958-d39b-44cf-8074-a530d7a01241?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions//resourceGroups/test_mgmt_network_test_public_ip_addresses773e115f/providers/Microsoft.Network/publicIPAddresses?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"pyipname773e115f\"\
        ,\r\n      \"id\": \"/subscriptions//resourceGroups/test_mgmt_network_test_public_ip_addresses773e115f/providers/Microsoft.Network/publicIPAddresses/pyipname773e115f\"\
        ,\r\n      \"etag\": \"W/\\\"8b421a89-3025-476f-8742-7f17cfa2ac10\\\"\",\r\
        \n      \"location\": \"westus\",\r\n      \"tags\": {\r\n        \"key\"\
        : \"value\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\"\
        : \"Succeeded\",\r\n        \"resourceGuid\": \"13cb1927-afd8-4fb0-98d2-7e593fb68210\"\
        ,\r\n        \"publicIPAddressVersion\": \"IPv4\",\r\n        \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n        \"idleTimeoutInMinutes\": 4,\r\n        \"ipTags\"\
        : []\r\n      },\r\n      \"type\": \"Microsoft.Network/publicIPAddresses\"\
        ,\r\n      \"sku\": {\r\n        \"name\": \"Basic\",\r\n        \"tier\"\
        : \"Regional\"\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions//providers/Microsoft.Network/publicIPAddresses?api-version=2019-07-01
  response:
    body:
      string: '{"value":[{"name":"cli-test-vmmwqr6rnm5pcjxgkxja5PublicIP","id":"/subscriptions//resourceGroups/cli_test_invoke_actionwfymrc3ubclrp6ylrgto76szw3dayq2c762kvodxz44kanl75epn4/providers/Microsoft.Network/publicIPAddresses/cli-test-vmmwqr6rnm5pcjxgkxja5PublicIP","etag":"W/\"b6412e2a-8316-4041-8681-af5a0f4fcedf\"","location":"westus","tags":{},"properties":{"provisioningState":"Succeeded","resourceGuid":"f9b506ce-a8dd-4f25-a21b-7e8102671b2e","ipAddress":"40.78.17.143","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Dynamic","idleTimeoutInMinutes":4,"ipTags":[],"ipConfiguration":{"id":"/subscriptions//resourceGroups/cli_test_invoke_actionwfymrc3ubclrp6ylrgto76szw3dayq2c762kvodxz44kanl75epn4/providers/Microsoft.Network/networkInterfaces/cli-test-vmmwqr6rnm5pcjxgkxja5VMNic/ipConfigurations/ipconfigcli-test-vmmwqr6rnm5pcjxgkxja5"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Basic","tier":"Regional"}},{"name":"vm1PublicIP","id":"/subscriptions//resourceGroups/cli_test_msi_no_scopetbanb44x5fslhr5u7jmtbbhyj64zgwd2pd2jh7t6gqzfwpusckht3h/providers/Microsoft.Net[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions//resourceGroups/test_mgmt_network_test_public_ip_addresses773e115f/providers/Microsoft.Network/publicIPAddresses?api-version=2019-07-01
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
