interactions:
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"disableVpnEncryption":
      false, "type": "Basic"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualwan76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\",\r\n
        \ \"etag\": \"W/\\\"e6b80f04-09d2-4eb7-aee0-85c14a5e0466\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\":
        true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\":
        \"Basic\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e544e3ba-6d9a-4a1f-909c-902e9256ec73?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e544e3ba-6d9a-4a1f-909c-902e9256ec73?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"virtualWan":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f"},
      "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "isSecuritySite": false,
      "vpnSiteLinks": [{"name": "vpnSiteLink1", "properties": {"linkProperties": {"linkProviderName":
      "vendor1", "linkSpeedInMbps": 0}, "ipAddress": "50.50.50.56", "bgpProperties":
      {"asn": 1234, "bgpPeeringAddress": "192.168.0.0"}}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnpsite76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f\",\r\n
        \ \"etag\": \"W/\\\"949434c9-2ceb-41e5-91ea-330f790d9099\\\"\",\r\n  \"type\":
        \"Microsoft.Network/vpnSites\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n
        \       \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"deviceProperties\":
        {\r\n      \"linkSpeedInMbps\": 0\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\"\r\n
        \   },\r\n    \"isSecuritySite\": false,\r\n    \"o365Policy\": {\r\n      \"breakOutCategories\":
        {\r\n        \"optimize\": false,\r\n        \"allow\": false,\r\n        \"default\":
        false\r\n      }\r\n    },\r\n    \"vpnSiteLinks\": [\r\n      {\r\n        \"name\":
        \"vpnSiteLink1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f/vpnSiteLinks/vpnSiteLink1\",\r\n
        \       \"etag\": \"W/\\\"949434c9-2ceb-41e5-91ea-330f790d9099\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"ipAddress\": \"50.50.50.56\",\r\n          \"bgpProperties\":
        {\r\n            \"asn\": 1234,\r\n            \"bgpPeeringAddress\": \"192.168.0.0\"\r\n
        \         },\r\n          \"linkProperties\": {\r\n            \"linkProviderName\":
        \"vendor1\",\r\n            \"linkSpeedInMbps\": 0\r\n          }\r\n        },\r\n
        \       \"type\": \"Microsoft.Network/vpnSites/vpnSiteLinks\"\r\n      }\r\n
        \   ]\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/182be101-2003-4240-b9a0-8ba046c79c9a?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"virtualWan":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f"},
      "addressPrefix": "10.168.0.0/24", "sku": "Basic"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualhubx76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f\",\r\n
        \ \"etag\": \"W/\\\"ae0bbf88-1448-42a7-b197-75d49b589306\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\":
        \"10.168.0.0/24\",\r\n    \"virtualRouterAsn\": 0,\r\n    \"virtualRouterIps\":
        [],\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualWan\":
        {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\"\r\n
        \   },\r\n    \"sku\": \"Basic\",\r\n    \"routingState\": \"None\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/c2164be0-14ba-49fa-8731-7596496f5902?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1188'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"virtualHub":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f"},
      "connections": [{"name": "vpnConnection1", "properties": {"remoteVpnSite": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f"},
      "vpnLinkConnections": [{"name": "Connection-Link1", "properties": {"vpnSiteLink":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f/vpnSiteLinks/vpnSiteLink1"},
      "vpnConnectionProtocolType": "IKEv2", "connectionBandwidth": 200, "sharedKey":
      "key"}}]}}], "bgpSettings": {"asn": 65515, "peerWeight": 0}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnGateways/vpngateway76dc116f?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vpngateway76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnGateways/vpngateway76dc116f\",\r\n
        \ \"etag\": \"W/\\\"3ad7520e-1a98-4f46-ad42-17da51453b7a\\\"\",\r\n  \"type\":
        \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"connections\": [\r\n      {\r\n        \"name\": \"vpnConnection1\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnGateways/vpngateway76dc116f/vpnConnections/vpnConnection1\",\r\n
        \       \"etag\": \"W/\\\"3ad7520e-1a98-4f46-ad42-17da51453b7a\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/vpnGateways/vpnConnections\",\r\n        \"properties\":
        {\r\n          \"provisioningState\": \"Updating\",\r\n          \"routingConfiguration\":
        {\r\n            \"associatedRouteTable\": {\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f/hubRouteTables/defaultRouteTable\"\r\n
        \           },\r\n            \"propagatedRouteTables\": {\r\n              \"labels\":
        [\r\n                \"default\"\r\n              ],\r\n              \"ids\":
        [\r\n                {\r\n                  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f/hubRouteTables/defaultRouteTable\"\r\n
        \               }\r\n              ]\r\n            },\r\n            \"vnetRoutes\":
        {\r\n              \"staticRoutes\": []\r\n            }\r\n          },\r\n
        \         \"enableInternetSecurity\": false,\r\n          \"remoteVpnSite\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f\"\r\n
        \         },\r\n          \"vpnLinkConnections\": [\r\n            {\r\n              \"name\":
        \"Connection-Link1\",\r\n              \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnGateways/vpngateway76dc116f/vpnConnections/vpnConnection1/vpnLinkConnections/Connection-Link1\",\r\n
        \             \"etag\": \"W/\\\"3ad7520e-1a98-4f46-ad42-17da51453b7a\\\"\",\r\n
        \             \"properties\": {\r\n                \"provisioningState\":
        \"Updating\",\r\n                \"vpnSiteLink\": {\r\n                  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f/vpnSiteLinks/vpnSiteLink1\"\r\n
        \               },\r\n                \"connectionBandwidth\": 200,\r\n                \"ipsecPolicies\":
        [],\r\n                \"vpnConnectionProtocolType\": \"IKEv2\",\r\n                \"sharedKey\":
        \"key\",\r\n                \"ingressBytesTransferred\": 0,\r\n                \"egressBytesTransferred\":
        0,\r\n                \"packetCaptureDiagnosticState\": \"None\",\r\n                \"enableBgp\":
        false,\r\n                \"enableRateLimiting\": false,\r\n                \"useLocalAzureIpAddress\":
        false,\r\n                \"usePolicyBasedTrafficSelectors\": false,\r\n                \"routingWeight\":
        0,\r\n                \"dpdTimeoutSeconds\": 0\r\n              },\r\n              \"type\":
        \"Microsoft.Network/vpnGateways/vpnConnections/vpnLinkConnections\"\r\n            }\r\n
        \         ],\r\n          \"ingressBytesTransferred\": 0,\r\n          \"egressBytesTransferred\":
        0\r\n        }\r\n      }\r\n    ],\r\n    \"virtualHub\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f\"\r\n
        \   },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"peerWeight\":
        0\r\n    },\r\n    \"vpnGatewayScaleUnit\": 1,\r\n    \"packetCaptureDiagnosticState\":
        \"None\",\r\n    \"ipConfigurations\": [],\r\n    \"natRules\": [],\r\n    \"enableBgpRouteTranslationForNat\":
        false,\r\n    \"isRoutingPreferenceInternet\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/e10cbe53-1788-40b9-b4ce-3bc64697e402?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1187'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"securityProviderName":
      "ZScaler", "virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/securityPartnerProviders/mySecurityPartnerProvider76dc116f?api-version=2020-07-01
  response:
    body:
    [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualhubx76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f\",\r\n
        \ \"etag\": \"W/\\\"42cc9dfb-c5fb-4986-b0ad-e48b0768e763\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\":
        \"10.168.0.0/24\",\r\n    \"virtualRouterAsn\": 65515,\r\n    \"virtualRouterIps\":
        [\r\n      \"10.168.0.100\",\r\n      \"10.168.0.101\"\r\n    ],\r\n    \"routeTable\":
        {\r\n      \"routes\": []\r\n    },\r\n    \"securityProviderName\": \"zscaler\",\r\n
        \   \"virtualWan\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\"\r\n
        \   },\r\n    \"vpnGateway\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnGateways/vpngateway76dc116f\"\r\n
        \   },\r\n    \"securityPartnerProvider\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/securityPartnerProviders/mySecurityPartnerProvider76dc116f\"\r\n
        \   },\r\n    \"sku\": \"Basic\",\r\n    \"routingState\": \"Provisioned\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualwan76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\",\r\n
        \ \"etag\": \"W/\\\"8a2fc44e-e70d-4957-a384-63550755be0f\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\":
        true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\":
        \"Basic\",\r\n    \"virtualHubs\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f\"\r\n
        \     }\r\n    ],\r\n    \"vpnSites\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8a2fc44e-e70d-4957-a384-63550755be0f"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f/vpnSiteLinks/vpnSiteLink1?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vpnSiteLink1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f/vpnSiteLinks/vpnSiteLink1\",\r\n
        \ \"etag\": \"W/\\\"a50d2aba-5972-47e9-89f9-d130a52e462f\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"ipAddress\": \"50.50.50.56\",\r\n
        \   \"bgpProperties\": {\r\n      \"asn\": 1234,\r\n      \"bgpPeeringAddress\":
        \"192.168.0.0\"\r\n    },\r\n    \"linkProperties\": {\r\n      \"linkProviderName\":
        \"vendor1\",\r\n      \"linkSpeedInMbps\": 0\r\n    }\r\n  },\r\n  \"type\":
        \"Microsoft.Network/vpnSites/vpnSiteLinks\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a50d2aba-5972-47e9-89f9-d130a52e462f"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnGateways/vpngateway76dc116f/reset?api-version=2020-07-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/7772ddd6-9e0f-44dd-82a0-053e836f8ba0?api-version=2020-07-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/7772ddd6-9e0f-44dd-82a0-053e836f8ba0?api-version=2020-07-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/7772ddd6-9e0f-44dd-82a0-053e836f8ba0?api-version=2020-07-01
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/7772ddd6-9e0f-44dd-82a0-053e836f8ba0?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/7772ddd6-9e0f-44dd-82a0-053e836f8ba0?api-version=2020-07-01
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"key1": "value1", "key2": "value2"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualhubx76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhu[...]
[...]
- request:
    body: '{"tags": {"tag1": "value1", "tag2": "value2"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/securityPartnerProviders/mySecurityPartnerProvider76dc116f?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"mySecurityPartnerProvider76dc116f\",\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/securityPartnerProviders/mySecurityPartnerProvider76dc116f\",\r\n
        \ \"etag\": \"W/\\\"5bddb2a3-8144-43ee-9860-1e4335529213\\\"\",\r\n  \"type\":
        \"Microsoft.Network/securityPartnerProviders\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"tag1\": \"value1\",\r\n    \"tag2\": \"value2\"\r\n
        \ },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"securityProviderName\": \"ZScaler\",\r\n    \"virtualHub\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f\"\r\n
        \   }\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/5a2ea72a-6d9a-40ca-b4cb-8eb92b1b2a36?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
