interactions:
- request:
    body: '{"location": "eastus", "properties": {"publicIPAllocationMethod": "Dynamic",
      "idleTimeoutInMinutes": 4}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/publicIPAddresses/publicipname?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"publicipname\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/publicIPAddresses/publicipname\"\
        ,\r\n  \"etag\": \"W/\\\"8f594329-1ffd-4920-9f4f-51453e9b46d3\\\"\",\r\n \
        \ \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"resourceGuid\": \"e5f6939b-c10d-45e1-a286-95c206f5de26\"\
        ,\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\"\
        : \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\"\
        : {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/34271005-bd4c-46aa-b354-4cda94908fe3?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/34271005-bd4c-46aa-b354-4cda94908fe3?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualnetworkname\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname\"\
        ,\r\n  \"etag\": \"W/\\\"c045f451-b0cb-44df-878b-5e5c9a4ba2d4\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"bd1eaade-e402-46fc-9f8e-9d1d4ca65a4f\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\"\
        : [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\"\
        : false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/9156046a-c2e3-4856-af7e-7aa5e5e22f78?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.2.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/rmvirtualnetworkname?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"rmvirtua[...]
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/subnetname?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnetname\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/subnetname\"\
        ,\r\n  \"etag\": \"W/\\\"8a8048ad-6b5a-4731-afed-b8ea5fa2d07e\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\"\
        : \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/96ff9344-4200-493c-b0cd-12c8eaec2625?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"location": "eastus", "properties": {"ipConfigurations": [{"name":
      "ipconfig", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/subnetname"}}}]}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/networkInterfaces/networkinter[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/networkInterfaces/networkinterfacename?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"networkinterfacename\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/networkInterfaces/networkinterfacename\"\
        ,\r\n  \"etag\": \"W/\\\"4a0ece95-6fc0-4e22-af78-0d3cf284b00e\\\"\",\r\n \
        \ \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"resourceGuid\": \"3210da1c-3768-433b-ad50-aef39c8b796d\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/networkInterfaces/networkinterfacename/ipConfigurations/ipconfig\"\
        ,\r\n        \"etag\": \"W/\\\"4a0ece95-6fc0-4e22-af78-0d3cf284b00e\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/subnetname\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"10vb3pic2t4enh2otuouzjs0jh.bx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\"\
        : false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\
        \n    \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4a0ece95-6fc0-4e22-af78-0d3cf284b00e"
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"addressPrefix": "10.0.1.0/24"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/GatewaySubnet?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"GatewaySubnet\",\r\n  \"id\": \"/subsc[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"localNetworkAddressSpace": {"addressPrefixes":
      ["10.1.0.0/16"]}, "gatewayIpAddress": "11.12.13.14"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/localNetworkGateways/localnetworkgatewayname?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"localnetworkgatewayname\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGr[...]
[...]
- request:
    body: 'b''{"location": "eastus", "properties": {"ipConfigurations": [{"name":
      "ipconfig", "properties": {"privateIPAllocationMethod": "Dynamic", "subnet":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/GatewaySubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/publicIPAddresses/publicipname"}}}],
      "gatewayType": "Vpn", "vpnType": "RouteBased", "enableBgp": false, "sku": {"name":
      "VpnGw1", "tier": "VpnGw1"}, "bgpSettings": {"asn": 65515, "bgpPeeringAddress":
      "10.0.1.30", "peerWeight": 0}, "customRoutes": {"addressPrefixes": ["101.168.0.6/32"]},
      "enableDnsForwarding": false}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualnetworkgatewayname\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname\"\
        ,\r\n  \"etag\": \"W/\\\"ec7a8f51-52af-4f95-99f5-0c370ac96be3\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworkGateways\",\r\n  \"location\"\
        : \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"3f9d9c30-88e9-4552-ba10-fabe8940742b\",\r\n \
        \   \"packetCaptureDiagnosticState\": \"None\",\r\n    \"enablePrivateIpAddress\"\
        : false,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"\
        ipconfig\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname/ipConfigurations/ipconfig\"\
        ,\r\n        \"etag\": \"W/\\\"ec7a8f51-52af-4f95-99f5-0c370ac96be3\\\"\"\
        ,\r\n        \"ty[...]
[...]
- request:
    body: 'b''{"properties": {"allowVirtualNetworkAccess": true, "allowForwardedTraffic":
      true, "allowGatewayTransit": false, "useRemoteGateways": false, "remoteVirtualNetwork":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/rmvirtualnetworkname"}}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/virtualNe[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/virtualNetworkPeerings/virtualnetworkpeeringname?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualnetworkpeeringname\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/virtualNetworkPeerings/virtualnetworkpeeringname\"\
        ,\r\n  \"etag\": \"W/\\\"a5e3e864-d681-4751-a512-8fcb2e8eacd2\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        resourceGuid\": \"fc1cda21-d76c-0e06-3a02-b29c5b23ed4d\",\r\n    \"peeringState\"\
        : \"Initiated\",\r\n    \"remoteVirtualNetwork\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/rmvirtualnetworkname\"\
        \r\n    },\r\n    \"allowVirtualNetworkAccess\": true,\r\n    \"allowForwardedTraffic\"\
        : true,\r\n    \"allowGatewayTransit\": false,\r\n    \"useRemoteGateways\"\
        : false,\r\n    \"doNotVerifyRemoteGateways\": false,\r\n    \"remoteAddressSpace\"\
        : {\r\n      \"addressPrefixes\": [\r\n        \"10.2.0.0/16\"\r\n      ]\r\
        \n    },\r\n    \"routeServiceVips\": {}\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/virtualNetworkPeerings\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a5e3e864-d681-4751-a512-8fcb2e8eacd2"
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"location": "eastus", "properties": {"virtualNetworkGateway1": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname",
      "location": "eastus", "properties": {"ipConfigurations": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname/ipConfigurations/ipconfig",
      "name": "ipconfig", "properties": {"privateIPAllocationMethod": "Dynamic", "subnet":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/GatewaySubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/publicIPAddresses/publicipname"}}}],
      "gatewayType": "Vpn", "vpnType": "RouteBased", "enableBgp": false, "sku": {"name":
      "VpnGw1", "tier": "VpnGw1"}, "bgpSettings": {"asn": 65514, "bgpPeeringAddress":
      "10.0.2.30", "peerWeight": 0}}}, "localNetworkGateway2": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/localNetworkGateways/localnetworkgatewayname",
      "location": "eastus", "properties": {"localNetworkAddressSpace": {"addressPrefixes":
      ["10.1.0.0/16"]}, "gatewayIpAddress": "10.1.0.1"}}, "connectionType": "IPsec",
      "connectionProtocol": "IKEv2", "routingWeight": 0, "sharedKey": "Abc123", "enableBgp":
      false, "usePolicyBasedTrafficSelectors": false, "ipsecPolicies": [], "trafficSelectorPolicies":
      []}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/connections/connectionname?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"connectionname\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_bas[...]
[...]
- request:
    body: '{"value": "AzureAbc123"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/connections/connectionname/sharedkey?api-version=2020-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/bcb2a97c-ede2-401f-96a2-c101bae1aa7a?api-version=2020-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/subnetname/ServiceAssociationLinks?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/subnetname/ResourceNavigationLinks?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"value\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/CheckIPAddressAvailability?ipAddress=10.0.1.4&api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"available\": true,\r\n  \"isPlatformReserved\": false\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/subnetname?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"subnetname\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworks/virtualnetworkname/subnets/subnetname\"\
        ,\r\n  \"etag\": \"W/\\\"aee06460-8217-449d-b38c-fc1ba3a868d5\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        addressPrefix\": \"10.0.0.0/24\",\r\n    \"networkSecurityGroup\": {\r\n \
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/networkSecurityGroups/virtualnetworkname-subnetname-NRMS\"\
        \r\n    },\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/networkInterfaces/networkinterfacename/ipConfigurations/ipconfig\"\
        \r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\"\
        : \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\
        \n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"aee06460-8217-449d-b38c-fc1ba3a868d5"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname/getAdvertisedRoutes?peer=10.0.0.2&api-version=2020-03-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operationResults/8fa93bcf-35b9-4111-b00c-3883b5c9b5c2?api-version=2020-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operationResults/8fa93bcf-35b9-4111-b00c-3883b5c9b5c2?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"localAddress\": \"\",\r\n \
        \     \"network\": \"10.0.0.0/16\",\r\n      \"nextHop\": \"Virtual Network\"\
        ,\r\n      \"origin\": \"Network\",\r\n      \"weight\": 0\r\n    }\r\n  ]\r\
        \n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operationResults/8fa93bcf-35b9-4111-b00c-3883b5c9b5c2?api-version=2020-03-01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname/getBgpPeerStatus?api-version=2020-03-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operationResults/a6217cb2-ed02-4479-9f3a-79a863eff89e?api-version=2020-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname/getLearnedRoutes?api-version=2020-03-01
  response:
    body:
      string: 'null'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operationResults/ebf2dc7c-0d4e-4400-bf63-8570088b008e?api-version=2020-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"keyLength": 128}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/connections/connectionname/sharedkey/reset?api-version=2020-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/b2557020-2533-4ec2-b0e6-039bf438904e?api-version=2020-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operationResults/b2557020-2533-4ec2-b0e6-039bf438904e?api-version=2020-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname/reset?api-version=2020-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/3712d417-1f0f-4f8c-8f42-5cdc448558cc?api-version=2020-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operationResults/3712d417-1f0f-4f8c-8f42-5cdc448558cc?api-version=2020-03-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"tags": {"tag1": "value1", "tag2": "value2"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"virtualnetworkgatewayname\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourc[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_base_test_network42d41026/providers/Microsoft.Network/virtualNetworkGateways/virtualnetworkgatewayname?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"AnotherOperationInProgress\"\
        ,\r\n    \"message\": \"Another operation on this or dependent resource is\
        \ in progress. To retrieve status of the operation use uri: 5ebb5f07-69e4-445d-b57a-eee3c48e5a70.\"\
        ,\r\n    \"details\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/cda88c58-849b-4c36-89d7-07e3c2fff41b?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
