interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https:fake.loadtesting.azure.com/loadtests/sortAndFilter?maxPageSize=50&api-version=2022-06-01-preview
  response:
    body:
      string: '{"value":[{"testId":"d7c9990e-a729-4226-a89c-b1f616e80f10","description":"","displayName":"newtest","resourceId":"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/harshanb-apim-func-loadtest-rg/providers/microsoft.loadtestservice/loadtests/harshanb-apim-func-loadtest","loadTestConfig":{"engineInstances":1,"splitAllCSVs":false},"passFailCriteria":{"passFailMetrics":{}},"createdDateTime":"2022-06-08T11:07:07.226Z","createdBy":null,"lastModifiedDateTime":"2022-06-08T11:07:07.226Z","lastModifiedBy":null,"inputArtifacts":{"configUrl":null,"testScriptUrl":null,"userPropUrl":null,"inputArtifactsZipFileurl":null,"additionalUrls":[]},"secrets":null,"environmentVariables":null,"subnetId":null,"keyvaultReferenceIdentityType":"SystemAssigned","keyvaultReferenceIdentityId":null},{"testId":"dc459962-e34d-414e-bd12-f300ebaa9a89","description":"","displayName":"NGINX-9h","resourceId":"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/harshanb-apim-func-loadtest-rg/providers/microsoft.loadtestservice/loadtests/harshanb-apim-func-loadtest","loadTestConfig":{"engineInstances":1,"splitAllCSVs":false},"passFailCriteria":{"passFailMetrics":{}},"createdDateTime":"2022-06-13T04:54:23.723Z","createdBy":"t-harshanb@microsoft.com","lastModifiedDateTime":"2022-06-13T04:54:25.711Z","lastModifiedBy":"t-harshanb@microsoft.com","inputArtifacts":{"configUrl":null,"testScriptUrl":{"url":"https://stcnteuapdata20200924.blob.core.windows.net/f16a7bb3-f0b1-413e-8b2e-5a658052424a/9c239ef4-5c49-4408-ba95-e317f7d18cdd?sv=2020-04-08&se=2022-06-15T17%3A22%3A01Z&sr=b&sp=r&sig=%2FeQvK%2Ftz8UkxhZ2D8CEaEGQ0%2Fbxft%2BA9WdkqumEhsQw%3D","fileId":"9c239ef4-5c49-4408-ba95-e317f7d18cdd","filename":"NGINX-9h.jmx","fileType":0,"expireTime":"2022-06-15T16:32:01.7395424+00:00","validationStatus":"VALIDATION_SUCCESS"},"userPropUrl":null,"inputArtifactsZipFileurl":null,"additionalUrls":[]},"secrets":null,"environmentVariables":null,"subnetId":null,"keyvaultReferenceIdentityType":"SystemAssigned","keyvaultReferenceIdentityId":null},{"testId":"a4558858-beab-4a3c-a8c5-4581feffb891","description":"","displayName":"endpoint-port-path-protocol-method-ws-300it-20vu","resourceId":"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/harshanb-apim-func-loadtest-rg/providers/microsoft[...]
