AZURE_AI_PROJECT_URL="https://<your-ai-resource>.services.ai.azure.com/api/projects/<your-ai-project>/"
AZURE_OPENAI_ENDPOINT="https://<your-ai-resource>.openai.azure.com/"
AZURE_AI_API_KEY="<your-api-key>"

AZURE_AI_PROJECT_ENDPOINT="${AZURE_AI_PROJECT_URL}"
AZURE_AI_MODEL_DEPLOYMENT_NAME="gpt-4o-mini"
AZURE_AI_MODEL_DEPLOYMENT_NAME_FOR_AUDIO="gpt-audio"
