interactions:
- request:
    body: '{"location": "West US", "identity": {"type": "SystemAssigned"}, "sku":
      {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_recoveryservices_test_recoveryservices3eb015be/providers/Microsoft.RecoveryServices/vaults/myVault?api-version=2016-06-01
  response:
    body:
      string: '{"error":{"code":"InvalidRestApiParameter","message":"properties parameter
        is invalid.\r\nPlease provide a valid properties","target":null,"details":null,"innerError":null}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 400
      message: Bad Request
version: 1
