interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.EventGrid/topicTypes?api-version=2017-09-15-preview
  response:
    body: {string: '{"value":[{"properties":{"provider":"Microsoft.Eventhub","displayName":"EventHubs
        Namespace","description":"Microsoft EventHubs service events.","resourceRegionType":"RegionalResource","provisioningState":"Succeeded"},"id":"providers/Microsoft.EventGrid/topicTypes/Microsoft.Eventhub.Namespaces","name":"Microsoft.Eventhub.Namespaces","type":"Microsoft.EventGrid/topicTypes"},{"properties":{"provider":"Microsoft.Storage","displayName":"Storage
        Accounts","description":"Microsoft Storage service events.","resourceRegionType":"RegionalResource","provisioningState":"Succeeded"},"id":"providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts","name":"Microsoft.Storage.StorageAccounts","type":"Microsoft.EventGrid/topicTypes"},{"properties":{"provider":"Microsoft.Resources","displayName":"Azure
        Subscriptions","description":"Resource management events under an Azure subscription","resourceRegionType":"GlobalResource","provisioningState":"Succeeded"},"id":"providers/Microsoft.EventGrid/topicTypes/Microsoft.Resources.Subscriptions","name":"Microsoft.Resources.Subscriptions","type":"Microsoft.EventGrid/topicTypes"},{"properties":{"provider":"Microsoft.Resources","displayName":"Resource
        Groups","description":"Resource management events under a resource group.","resourceRegionType":"GlobalResource","provisioningState":"Succeeded"},"id":"providers/Microsoft.EventGrid/topicTypes/Microsoft.Resources.ResourceGroups","name":"Microsoft.Resources.ResourceGroups","type":"Microsoft.EventGrid/topicTypes"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
