{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem25572cab?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 31 Aug 2022 22:58:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8BA458EF6DEA\u0022",
        "Last-Modified": "Wed, 31 Aug 2022 22:58:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem25572cab/file1?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 31 Aug 2022 22:58:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8BA45904771E\u0022",
        "Last-Modified": "Wed, 31 Aug 2022 22:58:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem25572cab?resource=filesystem\u0026recursive=true\u0026upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 31 Aug 2022 22:58:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133064603210708766",
            "etag": "0x8DA8BA45904771E",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 31 Aug 2022 22:58:41 GMT",
            "name": "file1",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
