interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 May 2021 02:18:01 GMT
      x-ms-version:
      - '2020-08-04'
    method: PUT
    uri: https://storagename.blob.core.windows.net/testfs75f5116a?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D915B555007A06"'
      last-modified:
      - Thu, 13 May 2021 02:18:00 GMT
      x-ms-version:
      - '2020-08-04'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 May 2021 02:18:41 GMT
      x-ms-version:
      - '2020-08-04'
    method: GET
    uri: https://storagename.blob.core.windows.net/testfs75f5116a?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:c2e99ef2-b01e-000a-3d9e-473b5a000000\nTime:2021-05-13T02:18:41.1647521Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ContainerNotFound
      x-ms-version:
      - '2020-08-04'
    status:
      code: 404
      message: The specified container does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 May 2021 02:18:41 GMT
      x-ms-version:
      - '2020-08-04'
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&include=deleted
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Containers><Container><Name>filesystem41b81006</Name><Deleted>true</Deleted><Version>01D7454F48DD4DD9</Version><Properties><Last-Modified>Mon,
        10 May 2021 03:48:05 GMT</Last-Modified><Etag>\"0x8D913666B540D09\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>expired</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><DeletedTime>Mon,
        10 May 2021 03:48:07 GMT</DeletedTime><RemainingRetentionDays>4</RemainingRetentionDays></Properties></Container><Container><Name>filesystem75f5116a</Name><Deleted>true</Deleted><Version>01D7478261A661F7</Version><Properties><Last-Modified>Wed,
        12 May 2021 22:58:54 GMT</Last-Modified><Etag>\"0x8D91599841CF2F3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>expired</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</Ha[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 May 2021 02:18:42 GMT
      x-ms-deleted-container-name:
      - testfs75f5116a
      x-ms-deleted-container-version:
      - 01D7479E3289C488
      x-ms-version:
      - '2020-08-04'
    method: PUT
    uri: https://storagename.blob.core.windows.net/testfs75f5116a?restype=container&comp=undelete
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-08-04'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 May 2021 02:18:42 GMT
      x-ms-version:
      - '2020-08-04'
    method: GET
    uri: https://storagename.blob.core.windows.net/testfs75f5116a?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D915B56D3A090E"'
      last-modified:
      - Thu, 13 May 2021 02:18:41 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2020-08-04'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 May 2021 02:18:42 GMT
      x-ms-version:
      - '2020-08-04'
    method: DELETE
    uri: https://storagename.blob.core.windows.net/testfs75f5116a?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-08-04'
    status:
      code: 202
      message: Accepted
version: 1
