interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 Nov 2020 04:15:43 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem7235112c/directory7235112c?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D88C41C8D1A27A"'
      Last-Modified:
      - Thu, 19 Nov 2020 04:15:44 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 Nov 2020 04:15:44 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem7235112c/directory7235112c%2Ffilename?resource=file
  response:
    body:
      string: '{"error":{"code":"LeaseIdMissing","message":"There is currently a lease
        on the resource and no lease ID was specified in the request.\nRequestId:95d4c651-f01f-0002-5b2a-be4899000000\nTime:2020-11-19T04:15:44.4622110Z"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-error-code:
      - LeaseIdMissing
      x-ms-version:
      - '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the resource and no lease ID was specified
        in the request.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 Nov 2020 04:17:48 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - d73d950c-bce3-464a-9b54-602e69064361
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem7235112c/directory7235112c/filename?comp=lease
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D88C421300DB24"'
      Last-Modified:
      - Thu, 19 Nov 2020 04:17:48 GMT
      x-ms-lease-id:
      - d73d950c-bce3-464a-9b54-602e69064361
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 Nov 2020 04:17:49 GMT
      x-ms-lease-id:
      - 444badfd-192b-471a-80c2-c36e994e4e0b
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem7235112c/directory7235112c/filename?comp=snapshot
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMismatchWithBlobOperation</Code><Message>The
        lease ID specified did not match the lease ID for the blob.\nRequestId:0207050d-901e-00ad-6a2a-beba54000000\nTime:2020-11-19T04:17:49.5384189Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - LeaseIdMismatchWithBlobOperation
      x-ms-version:
      - '2020-02-10'
    status:
      code: 412
      message: The lease ID specified did not match the lease ID for the blob.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 Nov 2020 04:20:08 GMT
      x-ms-lease-id:
      - 93490362-5369-4485-baa4-da5eb49e4a2c
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem7235112c/directory7235112c/filename?comp=snapshot
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D88C4265AEC234"'
      Last-Modified:
      - Thu, 19 Nov 2020 04:20:07 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-snapshot:
      - '2020-11-19T04:20:08.4527480Z'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 Nov 2020 04:20:08 GMT
      x-ms-lease-id:
      - 444badfd-192b-471a-80c2-c36e994e4e0b
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem7235112c/directory7235112c/filename?comp=snapshot
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMismatchWithBlobOperation</Code><Message>The
        lease ID specified did not match the lease ID for the blob.\nRequestId:4c7acb76-701e-0041-042b-beaec5000000\nTime:2020-11-19T04:20:08.6251562Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - LeaseIdMismatchWithBlobOperation
      x-ms-version:
      - '2020-02-10'
    status:
      code: 412
      message: The lease ID specified did not match the lease ID for the blob.
version: 1
