{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem422308d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 03 Sep 2022 01:06:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8D4891F75A68\u0022",
        "Last-Modified": "Sat, 03 Sep 2022 01:06:45 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem422308d?restype=container\u0026comp=acl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/xml",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Sat, 03 Sep 2022 01:06:46 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": [
        "\u003C?xml version=\u00271.0\u0027 encoding=\u0027utf-8\u0027?\u003E\n",
        "\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CId\u003Etestid\u003C/Id\u003E\u003CAccessPolicy\u003E\u003CStart\u003E2022-09-03T01:06:46Z\u003C/Start\u003E\u003CExpiry\u003E2022-09-03T02:06:46Z\u003C/Expiry\u003E\u003CPermission\u003Er\u003C/Permission\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003C/SignedIdentifiers\u003E"
      ],
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8D48920D4308\u0022",
        "Last-Modified": "Sat, 03 Sep 2022 01:06:45 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem422308d?restype=container\u0026comp=acl",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 03 Sep 2022 01:06:47 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DA8D489235859B\u0022",
        "Last-Modified": "Sat, 03 Sep 2022 01:06:45 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CSignedIdentifiers\u003E\u003CSignedIdentifier\u003E\u003CId\u003Etestid\u003C/Id\u003E\u003CAccessPolicy\u003E\u003CStart\u003E2022-09-03T01:06:46.0000000Z\u003C/Start\u003E\u003CExpiry\u003E2022-09-03T02:06:46.0000000Z\u003C/Expiry\u003E\u003CPermission\u003Er\u003C/Permission\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003CSignedIdentifier\u003E\u003CId\u003Etest2\u003C/Id\u003E\u003CAccessPolicy\u003E\u003CStart\u003E2022-09-03T01:06:46.0000000Z\u003C/Start\u003E\u003CExpiry\u003E2022-09-03T02:06:46.0000000Z\u003C/Expiry\u003E\u003CPermission\u003Er\u003C/Permission\u003E\u003C/AccessPolicy\u003E\u003C/SignedIdentifier\u003E\u003C/SignedIdentifiers\u003E"
    }
  ],
  "Variables": {
    "expiry_time": "2022-09-03T02:06:46.771046",
    "start_time": "2022-09-03T01:06:46.774513"
  }
}
