{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem15fb2772?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Aug 2022 01:21:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA84A5BD5E3DC4\u0022",
        "Last-Modified": "Tue, 23 Aug 2022 01:21:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem15fb2772/directory15fb2772?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Aug 2022 01:21:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA84A5BD6F33D1\u0022",
        "Last-Modified": "Tue, 23 Aug 2022 01:21:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem15fb2772/directory15fb2772%2Fnewfile?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "spanish",
        "x-ms-date": "Tue, 23 Aug 2022 01:21:00 GMT",
        "x-ms-properties": "hello=d29ybGQ=,number=NDI=",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA84A5BD83B8F2\u0022",
        "Last-Modified": "Tue, 23 Aug 2022 01:21:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem15fb2772/directory15fb2772/newfile?comp=expiry",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Aug 2022 01:21:00 GMT",
        "x-ms-expiry-option": "Absolute",
        "x-ms-expiry-time": "Tue, 23 Aug 2022 02:21:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA84A5BD83B8F2\u0022",
        "Last-Modified": "Tue, 23 Aug 2022 01:21:01 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem15fb2772/directory15fb2772/newfile",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Aug 2022 01:21:01 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "spanish",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA84A5BD83B8F2\u0022",
        "Last-Modified": "Tue, 23 Aug 2022 01:21:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 23 Aug 2022 01:21:01 GMT",
        "x-ms-expiry-time": "Tue, 23 Aug 2022 02:21:00 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "42",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "expiry_time": "2022-08-23T02:21:00.718297"
  }
}
