interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Feb 2021 21:06:04 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem2ae119a8?restype=container
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D8CC75592EADCA"'
      Last-Modified: Mon, 08 Feb 2021 21:06:05 GMT
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://seanprodhierarchical.blob.core.windows.net/filesystem2ae119a8?restype=container
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Feb 2021 21:06:05 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem2ae119a8/dir10?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D8CC7559C152F5"'
      Last-Modified: Mon, 08 Feb 2021 21:06:06 GMT
      x-ms-version: '2020-02-10'
    status:
      code: 201
      message: Created
    url: https://seanprodhierarchical.dfs.core.windows.net/filesystem2ae119a8/dir10?resource=directory
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Feb 2021 21:06:07 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.dfs.core.windows.net/filesystem2ae119a8?resource=filesystem&recursive=true&maxResults=2&upn=true
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"132572919662007029","etag":"0x8D8CC7559C152F5","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        08 Feb 2021 21:06:06 GMT","name":"dir10","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","creationTime":"132572919671368346","etag":"0x8D8CC755A502A9A","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        08 Feb 2021 21:06:07 GMT","name":"dir11","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      Content-Type: application/json;charset=utf-8
      x-ms-continuation: VBaaiJqskrGIyEIYVRhQL3NlYW5wcm9kaGllcmFyY2hpY2FsATAxRDUyQjgzMjIxMkY4MEEvZmlsZXN5c3RlbTJhZTExOWE4ATAxRDZGRTVFMzZCODA4MkUvZGlyMTIWAAAA
      x-ms-version: '2020-02-10'
    status:
      code: 200
      message: OK
    url: https://seanprodhierarchical.dfs.core.windows.net/filesystem2ae119a8?resource=filesystem&recursive=true&maxResults=2&upn=true
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 08 Feb 2021 21:06:11 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.dfs.core.windows.net/filesystem2ae119a8?resource=filesystem&continuation=VBaaiJqskrGIyEIYVRhQL3NlYW5wcm9kaGllcmFyY2hpY2FsATAxRDUyQjgzMjIxMkY4MEEvZmlsZXN5c3RlbTJhZTExOWE4ATAxRDZGRTVFMzZCODA4MkUvZGlyMTIWAAAA&recursive=true&maxResults=4&upn=true
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creation[...]
