interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jan 2020 01:50:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem2ae119a8?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._multidict.istr
      - Date
      : Wed, 22 Jan 2020 01:50:11 GMT
      ? !!python/object/new:multidict._multidict.istr
      - Etag
      : '"0x8D79EDD6B5B1B62"'
      ? !!python/object/new:multidict._multidict.istr
      - Last-Modified
      : Wed, 22 Jan 2020 01:50:12 GMT
      ? !!python/object/new:multidict._multidict.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - xiafuhns.blob.core.windows.net
        - /filesystem2ae119a8
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jan 2020 01:50:12 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem2ae119a8/dir10?resource=directory
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._multidict.istr
      - Date
      : Wed, 22 Jan 2020 01:50:11 GMT
      ? !!python/object/new:multidict._multidict.istr
      - Etag
      : '"0x8D79EDD6B7DD9AB"'
      ? !!python/object/new:multidict._multidict.istr
      - Last-Modified
      : Wed, 22 Jan 2020 01:50:12 GMT
      ? !!python/object/new:multidict._multidict.istr
      - Server
      : Windows-Azure-HDFS/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - xiafuhns.dfs.core.windows.net
        - /filesystem2ae119a8/dir10
        - resource=directory
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jan 2020 01:50:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.dfs.core.windows.net/filesystem2ae119a8?recursive=true&maxResults=2&upn=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","etag":"0x8D79EDD6B7DD9AB","group":"$superuser","isDirectory":"true","lastModified":"Wed,
        22 Jan 2020 01:50:12 GMT","name":"dir10","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","etag":"0x8D79EDD6B87389A","group":"$superuser","isDirectory":"true","lastModified":"Wed,
        22 Jan 2020 01:50:12 GMT","name":"dir11","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : application/json;charset=utf-8
      ? !!python/object/new:multidict._multidict.istr
      - Date
      : Wed, 22 Jan 2020 01:50:12 GMT
      ? !!python/object/new:multidict._multidict.istr
      - Server
      : Windows-Azure-HDFS/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._multidict.istr
      - Transfer-Encoding
      : chunked
      x-ms-continuation: OTc3Mzc2OTMxNzcwMjIyNjEyMSAwIC94aWFmdWhucwEwMUQ1N0ZDMzg0QzgyRTNEL2ZpbGVzeXN0ZW0yYWUxMTlhOAEwMUQ1RDBDNjQ4RTQ1QTZDL2RpcjEy
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - xiafuhns.dfs.core.windows.net
        - /filesystem2ae119a8
        - recursive=true&maxResults=2&upn=true&resource=filesystem
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jan 2020 01:50:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.dfs.core.windows.net/filesystem2ae119a8?continuation=OTc3Mzc2OTMxNzcwMjIyNjEyMSAwIC94aWFmdWhucwEwMUQ1N0ZDMzg0QzgyRTNEL2ZpbGVzeXN0ZW0yYWUxMTlhOAEwMUQ1RDBDNjQ4RTQ1QTZDL2RpcjEy&recursive=true&maxResults=4&upn=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","etag":"0x8D79EDD6B90[...]
