interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 04 Aug 2022 18:44:25 GMT
      x-ms-default-encryption-scope:
      - hnstestscope1
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://storagename.blob.core.windows.net/testfs3?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA7649597535AD"'
      last-modified: Thu, 04 Aug 2022 18:44:23 GMT
      x-ms-version: '2021-08-06'
    status:
      code: 201
      message: Created
    url: https://vincenttranhnscanary.blob.core.windows.net/testfs3?restype=container
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 04 Aug 2022 18:44:26 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&include=
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Containers><Container><Name>testfs1</Name><Properties><Last-Modified>Thu,
        04 Aug 2022 18:43:29 GMT</Last-Modified><Etag>\"0x8DA7649396BD4A4\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>hnstestscope1</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties></Container><Container><Name>testfs2</Name><Properties><Last-Modified>Thu,
        04 Aug 2022 18:43:29 GMT</Last-Modified><Etag>\"0x8DA7649397DAC5A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>hnstestscope1</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><Imm[...]
