interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 May 2022 00:39:15 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystema6d21771?restype=container&timeout=5
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2E2FAEBE19EF"'
      last-modified:
      - Thu, 05 May 2022 00:39:15 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 May 2022 00:39:15 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystema6d21771/directorya6d21771?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2E2FAF1625F9"'
      last-modified:
      - Thu, 05 May 2022 00:39:16 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-acl:
      - user::rwx,group::r-x,other::rwx
      x-ms-date:
      - Thu, 05 May 2022 00:39:16 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystema6d21771/directorya6d21771%2Ffile1?resource=file
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2E2FAF2784E9"'
      last-modified:
      - Thu, 05 May 2022 00:39:16 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 May 2022 00:39:16 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://storagename.dfs.core.windows.net/filesystema6d21771/directorya6d21771%2Ffile1?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2E2FAF2784E9"'
      last-modified:
      - Thu, 05 May 2022 00:39:16 GMT
      x-ms-acl:
      - user::rwx,group::r-x,other::rwx
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-xrwx
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 May 2022 00:39:16 GMT
      x-ms-version:
      - '2021-06-08'
    method: DELETE
    uri: https://storagename.blob.core.windows.net/filesystema6d21771?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-06-08'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 May 2022 00:39:16 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&include=
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>InvalidHeaderValue</Code><Message>The
        value for one of the HTTP headers is not in the correct format.\nRequestId:534e9f98-601e-000d-2a18-601216000000\nTime:2022-05-05T00:39:16.9135744Z</Message><HeaderName>x-ms-version</HeaderName><HeaderValue>2021-08-06</HeaderValue></Error>"
    headers:
      content-type:
      - application/xml
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
version: 1
