{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem036d33317?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 03 Sep 2022 00:56:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8D4723951ABD\u0022",
        "Last-Modified": "Sat, 03 Sep 2022 00:56:30 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.blob.core.windows.net/?comp=list\u0026prefix=file\u0026maxresults=3\u0026include=metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 03 Sep 2022 00:56:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://storagename.blob.core.windows.net/\u0022\u003E\u003CPrefix\u003Efile\u003C/Prefix\u003E\u003CMaxResults\u003E3\u003C/MaxResults\u003E\u003CContainers\u003E\u003CContainer\u003E\u003CName\u003Efilesystem036d33317\u003C/Name\u003E\u003CProperties\u003E\u003CLast-Modified\u003ESat, 03[...]
