{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem45e32b7?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Aug 2022 22:18:59 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA861EA3FC6B09\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 22:18:58 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem45e32b7/directory45e32b7?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Aug 2022 22:19:00 GMT",
        "x-ms-properties": "hello=d29ybGQ=,number=NDI=",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA861EA41999E3\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 22:18:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem45e32b7/directory45e32b7?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "x-ms-date": "Wed, 24 Aug 2022 22:19:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA861EA41999E3\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 22:18:58 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem45e32b7/directory45e32b7?action=getAccessControl\u0026upn=false",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Aug 2022 22:19:00 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA861EA41999E3\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 22:18:58 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-xrwx",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
