{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/fakeclient?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 31 Aug 2022 22:58:34 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EContainerNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified container does not exist.\n",
        "RequestId:84fcbfe4-701e-006e-568d-bd188f000000\n",
        "Time:2022-08-31T22:58:34.9873898Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
