interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:44 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystemdb5c0d4c?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D761712F6524CC"'
      Last-Modified:
      - Mon, 04 Nov 2019 21:51:45 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:45 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystemdb5c0d4c/dir10?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D761712FB159EA"'
      Last-Modified:
      - Mon, 04 Nov 2019 21:51:45 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.dfs.core.windows.net/filesystemdb5c0d4c?recursive=true&upn=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","etag":"0x8D761712FB159EA","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        04 Nov 2019 21:51:45 GMT","name":"dir10","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","etag":"0x8D761712FD09856","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        04 Nov 2019 21:51:45 GMT","name":"dir11","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","etag":"0x8D761712FDD87ED","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        04 Nov 2019 21:51:45 GMT","name":"dir12","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","etag":"0x8D761712FEA952A","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        04 Nov 2019 21:51:45 GMT","name":"dir13","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","etag":"0x8D761712FF7895B","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        04 Nov 2019 21:51:46 GMT","name":"dir14","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","etag":"0x8D7617130049849","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        04 Nov 2019 21:51:46 GMT","name":"dir15","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
