{
  "Entries": [
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/filesystem9a1a2b29?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:19:19 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA9A95619530F0\u0022",
        "Last-Modified": "Mon, 19 Sep 2022 23:19:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9a1a2b29/file0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:19:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA9A9562205EA8\u0022",
        "Last-Modified": "Mon, 19 Sep 2022 23:19:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9a1a2b29/dir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:19:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA9A95624138A4\u0022",
        "Last-Modified": "Mon, 19 Sep 2022 23:19:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9a1a2b29/dir3%2Ffile_in_dir3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:19:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA9A956270DE09\u0022",
        "Last-Modified": "Mon, 19 Sep 2022 23:19:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9a1a2b29/dir3%2Fsubdir%2Ffile_in_subdir?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:19:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA9A95628503FD\u0022",
        "Last-Modified": "Mon, 19 Sep 2022 23:19:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9a1a2b29/file0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:19:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133081031621807739",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9a1a2b29/dir1?recursive=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:19:22 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133081031624755490",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9a1a2b29/dir3%2Ffile_in_dir3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:19:22 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133081031627492483",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9a1a2b29/dir3%2Fsubdir%2Ffile_in_subdir",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:19:22 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133081031629340296",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/filesystem9a1a2b29?restype=container\u0026comp=list\u0026showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:19:22 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://storagesoftdelname.blob.core.windows.net/\u0022 ContainerName=\u0022filesystem9a1a2b29\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Edir1\u003C/Name\u003E\u003CDeletionId\u003E133081031624755490\u003C/DeletionId\u003E\u003CDeleted\u003Etrue\u003C/Deleted\u003E\u003CPr[...]
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/filesystem9a1a2b29?restype=container\u0026comp=list\u0026prefix=dir3%2F\u0026showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:19:23 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
    [...]
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/filesystem9a1a2b29?restype=container\u0026comp=list\u0026maxResults=2\u0026showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:19:23 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      [...]
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/filesystem9a1a2b29?restype=container\u0026comp=list\u0026marker=2%21256%21MDAwMTQ4IVZCYWtzUDZ4dzdUaHZ4b1lYeGhhTDNacGJtTmxiblIwY21GdWMyOW1kR1JsYkdodWN6TUJNREZFT0VKR016UTVPRGMyUVRjeU15OGtkSEpoYzJndlptbHNaWE41YzNSbGJUbGhNV0V5WWpJNUFUQXhSRGhEUXpkRk0wWXhSVU0zTlRBQ0wyUnBjak1DRmdBQUFBPT0hMDAwMDI4ITIwMjItMDktMTlUMjM6MTk6MjMuMzgwMTc5OFoh\u0026maxResults=4\u0026showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders[...]
