interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jul 2022 00:34:53 GMT
      x-ms-default-encryption-scope:
      - hnstestscope1
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem98c61b87?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA6F67D32A1428"'
      last-modified: Wed, 27 Jul 2022 00:34:54 GMT
      x-ms-version: '2021-08-06'
    status:
      code: 201
      message: Created
    url: https://vincenttranhnscanary.blob.core.windows.net/filesystem98c61b87?restype=container
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jul 2022 00:34:53 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem98c61b87/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA6F67D3702A83"'
      last-modified: Wed, 27 Jul 2022 00:34:54 GMT
      x-ms-encryption-scope: hnstestscope1
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-08-06'
    status:
      code: 201
      message: Created
    url: https://vincenttranhnscanary.dfs.core.windows.net/filesystem98c61b87/dir1?resource=directory
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jul 2022 00:34:53 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem98c61b87/dir1%2Ffile1?resource=file
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA6F67D37F9357"'
      last-modified: Wed, 27 Jul 2022 00:34:54 GMT
      x-ms-encryption-scope: hnstestscope1
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-08-06'
    status:
      code: 201
      message: Created
    url: https://vincenttranhnscanary.dfs.core.windows.net/filesystem98c61b87/dir1%2Ffile1?resource=file
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jul 2022 00:34:54 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/filesystem98c61b87/dir1
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8DA6F67D3702A83"'
      last-modified: Wed, 27 Jul 2022 00:34:54 GMT
      x-ms-access-tier: Hot
      x-ms-access-tier-inferred: 'true'
      x-ms-blob-type: BlockBlob
      x-ms-creation-time: Wed, 27 Jul 2022 00:34:54 GMT
      x-ms-encryption-scope: hnstestscope1
      x-ms-group: $superuser
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-meta-hdi_isfolder: 'true'
      x-ms-owner: $superuser
      x-ms-permissions: rwxr-x---
      x-ms-resource-type: directory
      x-ms-server-encrypted: 'true'
      x-ms-version: '2021-08-06'
    status:
      code: 200
      message: OK
    url: https://vincenttranhnscanary.blob.core.windows.net/filesystem98c61b87/dir1
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jul 2022 00:34:54 GMT
      x-ms-version:
      - '2021-08-06'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/filesystem98c61b87/dir1/file1
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8DA6F67D37F9357"'
      last-modified: Wed, 27 Jul 2022 00:34:54 GMT
      x-ms-access-tier: Hot
      x-ms-access-tier-inferred: 'true'
      x-ms-blob-type: BlockBlob
      x-ms-creation-time: Wed, 27 Jul 2022 00:34:54 GMT
      x-ms-encryption-scope: hnstestscope1
      x-ms-group: $superuser
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-owner: $superuser
      x-ms-permissions: rw-r-----
      x-ms-resource-type: file
      x-ms-server-encrypted: 'true'
      x-ms-version: '2021-08-06'
    status:
      code: 200
      message: OK
    url: https://vincenttranhnscanary.blob.core.windows.net/filesystem98c61b87/dir1/file1
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jul 2022 00:34:54 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://storagename.dfs.core.windows.net/filesystem98c61b87?resource=filesystem&recursive=true&upn=true
  response:
    body:
      string: '{"paths":[{"EncryptionScope":"hnstestscope1","contentLength":"0","creationTime":"133033556946004611","etag":"0x8DA6F67D3702A83","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Wed,
        27 Jul 2022 00:34:54 GMT","name":"dir1","owner":"$superuser","permissions":"rwxr-x---"},{"EncryptionScope":"hnstestscope1","contentLength":"0","creationTime":"133033556947014487","etag":"0x8DA6F67D37F9357","expiryTime":"0","group":"$superuser","lastModified":"Wed,
        27 Jul 2022 00:34:54 GMT","name":"dir1/file1","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      content-type: application/json;charset=utf-8
      x-ms-version: '2021-08-06'
    status:
      code: 200
      message: OK
    url: https://vincenttranhnscanary.dfs.core.windows.net/filesystem98c61b87?resource=filesystem&recursive=true&upn=true
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jul 2022 00:34:54 GMT
      x-ms-version:
      - '2021-08-06'
    method: DELETE
    uri: https://storagename.blob.core.windows.net/filesystem98c61b87?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2021-08-06'
    status:
      code: 202
      message: Accepted
    url: https://vincenttranhnscanary.blob.core.windows.net/filesystem98c61b87?restype=container
version: 1
