{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem4fec2543?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Aug 2022 22:54:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA816C94C7AC2B\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 22:54:17 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem4fec2543/directory4fec2543?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Aug 2022 22:54:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA816C94D84485\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 22:54:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem4fec2543/directory4fec2543%2Ffilename?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Aug 2022 22:54:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA816C94E7CFFF\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 22:54:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem4fec2543/directory4fec2543%2Ffilename?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 18 Aug 2022 22:54:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "abc",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem4fec2543/directory4fec2543%2Ffilename?action=flush\u0026position=3\u0026retainUncommittedData=false\u0026close=false",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Aug 2022 22:54:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA816C950533F9\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 22:54:18 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem4fec2543/directory4fec2543/filename",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Aug 2022 22:54:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA816C950533F9\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 22:54:18 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 18 Aug 2022 22:54:18 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
