interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 Nov 2020 03:48:16 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem56701a3d/directory56701a3d?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D88C3DF30D5B0B"'
      Last-Modified: Thu, 19 Nov 2020 03:48:17 GMT
      x-ms-version: '2020-02-10'
    status:
      code: 201
      message: Created
    url: https://amandaadlscanary2.dfs.core.windows.net/filesystem56701a3d/directory56701a3d?resource=directory
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 Nov 2020 03:48:17 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem56701a3d/directory56701a3d%2Ffilename?resource=file
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D88C3DF31C5A60"'
      Last-Modified: Thu, 19 Nov 2020 03:48:17 GMT
      x-ms-version: '2020-02-10'
    status:
      code: 201
      message: Created
    url: https://amandaadlscanary2.dfs.core.windows.net/filesystem56701a3d/directory56701a3d%2Ffilename?resource=file
- request:
    body: null
    headers:
      If-Unmodified-Since:
      - Thu, 19 Nov 2020 03:33:17 GMT
      x-ms-date:
      - Thu, 19 Nov 2020 03:48:17 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem56701a3d/directory56701a3d/filename?comp=snapshot
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The
        condition specified using HTTP conditional header(s) is not met.\nRequestId:132ba15c-801e-00d3-1926-be2a13000000\nTime:2020-11-19T03:48:17.3570175Z</Message></Error>"
    headers:
      Content-Type: application/xml
      x-ms-error-code: ConditionNotMet
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
    url: https://amandaadlscanary2.blob.core.windows.net/filesystem56701a3d/directory56701a3d/filename?comp=snapshot
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 19 Nov 2020 03:49:14 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem56701a3d/directory56701a3d?resource=directory
  response:
    body:
      string: '{"error":{"code":"FilesystemNotFound","message":"The specified filesystem
        does not exist.\nRequestId:b8276499-a01f-0089-3d26-be4cf4000000\nTime:2020-11-19T03:49:15.0522703Z"}}'
    headers:
      Content-Type: application/json;charset=utf-8
      x-ms-error-code: FilesystemNotFound
      x-ms-version: '2020-02-10'
    status:
      code: 404
      message: The specified filesystem does not exist.
    url: https://amandaadlscanary2.dfs.core.windows.net/filesystem56701a3d/directory56701a3d?resource=directory
[...]
- request:
    body: null
    headers:
      If-Unmodified-Since:
      - Thu, 19 Nov 2020 03:45:33 GMT
      x-ms-date:
      - Thu, 19 Nov 2020 04:00:33 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem56701a3d/directory56701a3d/filename?comp=snapshot
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The
        condition specified using HTTP conditional header(s) is not met.\nRequestId:f99822cd-201e-003e-6428-be615e000000\nTime:2020-11-19T04:00:33.4780208Z</Message></Error>"
    headers:
      Content-Type: application/xml
      x-ms-error-code: ConditionNotMet
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: The condition specified using HTTP conditional header(s) is not met.
    url: https://amandaadlscanary2.blob.core.windows.net/filesystem56701a3d/directory56701a3d/filename?comp=snapshot
version: 1
