interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Apr 2020 08:53:06 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystemb98a12f8/fileb98a12f8?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7D6E343554718"'
      Last-Modified:
      - Thu, 02 Apr 2020 08:53:07 GMT
      x-ms-version:
      - '2019-12-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-acl:
      - user::rwx,group::r-x,other::rwx
      x-ms-date:
      - Thu, 02 Apr 2020 08:53:07 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystemb98a12f8/fileb98a12f8?mode=modify&action=setAccessControlRecursive
  response:
    body:
      string: '{"directoriesSuccessful":0,"failedEntries":[],"failureCount":0,"filesSuccessful":1}

        '
    headers:
      x-ms-namespace-enabled:
      - 'true'
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Apr 2020 08:53:07 GMT
      x-ms-version:
      - '2019-12-12'
    method: HEAD
    uri: https://storagename.dfs.core.windows.net/filesystemb98a12f8/fileb98a12f8?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7D6E343554718"'
      Last-Modified:
      - Thu, 02 Apr 2020 08:53:07 GMT
      x-ms-acl:
      - user::rwx,group::r-x,other::rwx
      x-ms-group:
      - $superuser
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-xrwx
      x-ms-version:
      - '2019-12-12'
    status:
      code: 200
      message: OK
version: 1
