{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem67bb33a6?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 17 Aug 2022 22:22:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA809F064D961A\u0022",
        "Last-Modified": "Wed, 17 Aug 2022 22:22:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem67bb33a6/directory67bb33a6?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 17 Aug 2022 22:22:51 GMT",
        "x-ms-permissions": "0777",
        "x-ms-umask": "0000",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA809F065F1E5D\u0022",
        "Last-Modified": "Wed, 17 Aug 2022 22:22:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem67bb33a6/directory67bb33a6?action=getAccessControl\u0026upn=false",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "If-Match": "\u00220x8DA809F065F1E5D\u0022",
        "x-ms-date": "Wed, 17 Aug 2022 22:22:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA809F065F1E5D\u0022",
        "Last-Modified": "Wed, 17 Aug 2022 22:22:52 GMT",
        "x-ms-acl": "user::rwx,group::rwx,other::rwx",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxrwxrwx",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
