interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 04 Aug 2022 23:00:33 GMT
      x-ms-default-encryption-scope:
      - hnstestscope1
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://storagename.blob.core.windows.net/esd1121c60?restype=container
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA766D2352759C"'
      last-modified: Thu, 04 Aug 2022 23:00:34 GMT
      x-ms-version: '2021-08-06'
    status:
      code: 201
      message: Created
    url: https://vincenttranhns.blob.core.windows.net/esd1121c60?restype=container
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 04 Aug 2022 23:00:34 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&include=
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Containers><Container><Name>anonymooose</Name><Properties><Last-Modified>Thu,
        04 Aug 2022 22:55:47 GMT</Last-Modified><Etag>\"0x8DA766C7893D92F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties></Container><Container><Name>es2d1121c60</Name><Properties><Last-Modified>Thu,
        04 Aug 2022 23:00:34 GMT</Last-Modified><Etag>\"0x8DA766D236C1451\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>hnstestscope1</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties></Container><Container><Name>esd1121c60</Name><Properties><Last-Modified>Thu,
        04 Aug 2022 23:00:34 GMT</Last-Modified><Etag>\"0x8DA766D2352759C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>hnstestscope1</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2021-08-06'
    status:
      code: 200
      message: OK
    url: https://vincenttranhns.blob.core.windows.net/?comp=list&include=
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 04 Aug 2022 23:00:34 GMT
      x-ms-version:
      - '2021-08-06'
    method: DELETE
    uri: https://storagename.blob.core.windows.net/es2d1121c60?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2021-08-06'
    status:
      code: 202
      message: Accepted
    url: https://vincenttranhns.blob.core.windows.net/es2d1121c60?restype=container
version: 1
