{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem2cd92eaf?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 22 Aug 2022 21:35:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA848642DC780E\u0022",
        "Last-Modified": "Mon, 22 Aug 2022 21:35:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 22 Aug 2022 21:35:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA84864335DFF6\u0022",
        "Last-Modified": "Mon, 22 Aug 2022 21:35:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf%2Ffilename?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 22 Aug 2022 21:35:41 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA84864348A90C\u0022",
        "Last-Modified": "Mon, 22 Aug 2022 21:35:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf%2Ffilename?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 22 Aug 2022 21:35:41 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "abc",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf%2Ffilename?action=flush\u0026position=3\u0026retainUncommittedData=false\u0026close=false",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-date": "Mon, 22 Aug 2022 21:35:41 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA848643783A4F\u0022",
        "Last-Modified": "Mon, 22 Aug 2022 21:35:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf%2Ffilename?action=flush\u0026position=100\u0026close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-date": "Mon, 22 Aug 2022 21:35:41 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:cfc04eca-401f-0038-6f6f-b6e960000000\nTime:2022-08-22T21:35:42.0581264Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem2cd92eaf/directory2cd92eaf%2Ffilename?action=flush\u0026position=100\u0026close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\u00220x8DA848643A2BEFC\u0022",
        "x-ms-date": "Mon, 22 Aug 2022 21:35:42 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA848643EA0377\u0022",
        "Last-Modified": "Mon, 22 Aug 2022 21:35:42 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem2cd92eaf/directory2cd92eaf/filename",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 22 Aug 2022 21:35:42 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/100",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA848643EA0377\u0022",
        "Last-Modified": "Mon, 22 Aug 2022 21:35:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 22 Aug 2022 21:35:42 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYQ=="
    }
  ],
  "Variables": {}
}
