interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Apr 2020 09:25:57 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?resource=directory
  response:
    body:
      string: ''
    headers:
      Etag: '"0x8D7D6E7DA1CDCFB"'
      Last-Modified: Thu, 02 Apr 2020 09:25:58 GMT
      x-ms-version: '2019-12-12'
    status:
      code: 201
      message: Created
    url: https://aclcbn06stf.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?resource=directory
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Apr 2020 09:25:58 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1%2Fsubdir07e931ea1?resource=directory
  response:
    body:
      string: ''
    headers:
      Etag: '"0x8D7D6E7DA297186"'
      Last-Modified: Thu, 02 Apr 2020 09:25:58 GMT
      x-ms-version: '2019-12-12'
    status:
      code: 201
      message: Created
    url: https://aclcbn06stf.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1%2Fsubdir07e931ea1?resource=directory
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Apr 2020 09:25:58 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-12-12'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1%2Fsubdir07e931ea1%2Fsubfile07e931ea1?resource=file
  response:
    body:
      string: ''
    headers:
      Etag: '"0x8D7D6E7DA362572"'
      Last-Modified: Thu, 02 Apr 2020 09:25:58 GMT
      x-ms-version: '2019-12-12'
    status:
      code: 201
      message: Created
    url: https://aclcbn06stf.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1%2Fsubdir07e931ea1%2Fsubfile07e931ea1?resource=file
[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:00 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?mode=remove&maxRecords=2&action=setAccessControlRecursive
  response:
    body:
      string: '{"directoriesSuccessful":2,"failedEntries":[],"failureCount":0,"filesSuccessful":0}

        '
    headers:
      x-ms-continuation: VBb+nOeTvYjYpeQBGHkYdC9hY2xjYm4wNnN0ZgEwMUQ1RDdFM0RDRUM2QkUwL2ZpbGVzeXN0ZW03ZTkzMWVhMQEwMUQ2MDhEMEI3NUFBRDA3L2RpcmVjdG9yeTdlOTMxZWExL3N1YmRpcjA3ZTkzMWVhMS9zdWJmaWxlMDdlOTMxZWExFgAAAA==
      x-ms-namespace-enabled: 'true'
      x-ms-version: '2019-12-12'
    status:
      code: 200
      message: OK
    url: https://aclcbn06stf.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?mode=remove&maxRecords=2&action=setAccessControlRecursive
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:00 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBb%2[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:00 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBb19[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:01 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBa/h[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:01 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBaQq[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:01 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBabw[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:01 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBbRs[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:01 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBai9[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:01 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBapn[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:01 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBbj7[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:01 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBbMw[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:01 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBbHq[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:01 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBaN2[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:01 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBa5t[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:02 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBay3[...]
- request:
    body: null
    headers:
      x-ms-acl:
      - mask,default:user,default:group,user:ec3595d6-2c17-4696-8caa-7e139758d24a,group:ec3595d6-2c17-4696-8caa-7e139758d24a,default:user:ec3595d6-2c17-4696-8caa-7e139758d24a,default:group:ec3595d6-2c17-4696-8caa-7e139758d24a
      x-ms-date:
      - Thu, 02 Apr 2020 09:26:02 GMT
      x-ms-version:
      - '2019-12-12'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBb4r6D/p5qBzkwYeRh0L2FjbGNibjA2c3RmATAxRDVEN0UzRENFQzZCRTAvZmlsZXN5c3RlbTdlOTMxZWExATAxRDYwOEQwQjc1QUFEMDcvZGlyZWN0b3J5N2U5MzFlYTEvc3ViZGlyNDdlOTMxZWExL3N1YmZpbGU0N2U5MzFlYTEWAAAA&mode=remove&maxRecords=2&action=setAccessControlRecursive
  response:
    body:
      string: '{"directoriesSuccessful":0,"failedEntries":[],"failureCount":0,"filesSuccessful":1}

        '
    headers:
      x-ms-namespace-enabled: 'true'
      x-ms-version: '2019-12-12'
    status:
      code: 200
      message: OK
    url: https://aclcbn06stf.dfs.core.windows.net/filesystem7e931ea1/directory7e931ea1?continuation=VBb4r6D/p5qBzkwYeRh0L2FjbGNibjA2c3RmATAxRDVEN0UzRENFQzZCRTAvZmlsZXN5c3RlbTdlOTMxZWExATAxRDYwOEQwQjc1QUFEMDcvZGlyZWN0b3J5N2U5MzFlYTEvc3ViZGlyNDdlOTMxZWExL3N1YmZpbGU0N2U5MzFlYTEWAAAA&mode=remove&maxRecords=2&action=setAccessControlRecursive
version: 1
