{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem90fd3d23?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 03 Sep 2022 00:56:08 GMT",
        "x-ms-default-encryption-scope": "hnstestscope1",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8D4715634563\u0022",
        "Last-Modified": "Sat, 03 Sep 2022 00:56:06 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem90fd3d23/dir1?resource=directory\u0026se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=d\u0026ses=hnstestscope1\u0026sdd=1\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 03 Sep 2022 00:56:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8D47157F19B3\u0022",
        "Last-Modified": "Sat, 03 Sep 2022 00:56:06 GMT",
        "x-ms-encryption-scope": "hnstestscope1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem90fd3d23/dir1?se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=d\u0026ses=hnstestscope1\u0026sdd=1\u0026sig=fake_token_value",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 03 Sep 2022 00:56:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA8D47157F19B3\u0022",
        "Last-Modified": "Sat, 03 Sep 2022 00:56:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 03 Sep 2022 00:56:06 GMT",
        "x-ms-encryption-scope": "hnstestscope1",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
