{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem891c377a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 03 Sep 2022 00:56:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8D47271CD5D5\u0022",
        "Last-Modified": "Sat, 03 Sep 2022 00:56:36 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem891c377a/file0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 03 Sep 2022 00:56:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8D47272DE94F\u0022",
        "Last-Modified": "Sat, 03 Sep 2022 00:56:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem891c377a?resource=filesystem\u0026recursive=true\u0026upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 03 Sep 2022 00:56:38 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133066401965861199",
            "etag": "0x8DA8D47272DE94F",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Sat, 03 Sep 2022 00:56:36 GMT",
            "name": "file0",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133066401966798851",
            "etag": "0x8DA8D47273C3803",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Sat, 03 Sep 2022 00:56:36 GMT",
            "name": "file1",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133066401967918333"[...]
