interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:13:59 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem66d4164a?restype=container&timeout=5
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2EFDB44A5B31"'
      last-modified:
      - Fri, 06 May 2022 01:14:01 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:14:00 GMT
      x-ms-lease-duration:
      - '15'
      x-ms-proposed-lease-id:
      - e4b78a42-7317-4c32-a67f-505945c82ad1
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem66d4164a/directory66d4164a?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2EFDB4A4AC5C"'
      last-modified:
      - Fri, 06 May 2022 01:14:01 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:14:01 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/filesystem66d4164a/directory66d4164a
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA2EFDB4A4AC5C"'
      last-modified:
      - Fri, 06 May 2022 01:14:01 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 06 May 2022 01:14:01 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-duration:
      - fixed
      x-ms-lease-state:
      - leased
      x-ms-lease-status:
      - locked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-x---
      x-ms-resource-type:
      - directory
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:14:01 GMT
      x-ms-version:
      - '2021-06-08'
    method: DELETE
    uri: https://storagename.blob.core.windows.net/filesystem66d4164a?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-06-08'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:14:01 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&include=
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>InvalidHeaderValue</Code><Message>The
        value for one of the HTTP headers is not in the correct format.\nRequestId:6b40ab2e-801e-002a-07e6-6005d2000000\nTime:2022-05-06T01:14:02.5046549Z</Message><HeaderName>x-ms-version</HeaderName><HeaderValue>2021-08-06</HeaderValue></Error>"
    headers:
      content-type:
      - application/xml
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
version: 1
