interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem3b81157a?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7617130521CD9"'
      Last-Modified:
      - Mon, 04 Nov 2019 21:51:46 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:46 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem3b81157a/dir10?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D76171308CDE07"'
      Last-Modified:
      - Mon, 04 Nov 2019 21:51:46 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:47 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem3b81157a/dir10%2Fsubdir?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D76171309AE074"'
      Last-Modified:
      - Mon, 04 Nov 2019 21:51:47 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:47 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem3b81157a/dir10%2Fsubdir%2Fsubsub?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7617130A7B7DD"'
      Last-Modified:
      - Mon, 04 Nov 2019 21:51:47 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:47 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem3b81157a/dir10%2Fsubdir%2Ffile?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7617130B79D09"'
      Last-Modified:
      - Mon, 04 Nov 2019 21:51:47 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: abced
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem3b81157a/dir10%2Fsubdir%2Ffile?position=0&action=append
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: PATCH
    uri: https://storagename.dfs.core.windows.net/filesystem3b81157a/dir10%2Fsubdir%2Ffile?position=5&retainUncommittedData=false&close=false&action=flush
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7617130CF9A88"'
      Last-Modified:
      - Mon, 04 Nov 2019 21:51:47 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:50 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.dfs.core.windows.net/filesystem3b81157a?directory=dir10%2Fsubdir&recursive=true&maxResults=2&upn=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"5","etag":"0x8D7617130CF9A88","group":"$superuser","lastModified":"Mon,
        04 Nov 2019 21:51:47 GMT","name":"dir10/subdir/file","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"0","etag":"0x8D7617130A7B7DD","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        04 Nov 2019 21:51:47 GMT","name":"dir10/subdir/subsub","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
