{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem21ce2eb9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 21 Jan 2023 00:37:10 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EContainerAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified container already exists.\n",
        "RequestId:c5a9eb8e-e01e-0007-5c30-2dfda4000000\n",
        "Time:2023-01-21T00:36:35.5680251Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem21ce2eb9/testfile?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 21 Jan 2023 00:37:12 GMT",
        "x-ms-encryption-context": "encryptionContext",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFB478DE01E81\u0022",
        "Last-Modified": "Sat, 21 Jan 2023 00:36:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem21ce2eb9/testfile",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 21 Jan 2023 00:37:14 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAFB478DE01E81\u0022",
        "Last-Modified": "Sat, 21 Jan 2023 00:36:36 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 21 Jan 2023 00:36:36 GMT",
        "x-ms-encryption-context": "encryptionContext",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem21ce2eb9/testfile",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 21 Jan 2023 00:37:14 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 416,
      "ResponseHeaders": {
        "Content-Range": "bytes */0",
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidRange",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidRange\u003C/Code\u003E\u003CMessage\u003EThe range specified is invalid for the current size of the resource.\n",
        "RequestId:c5a9eb93-e01e-0007-5e30-2dfda4000000\n",
        "Time:2023-01-21T00:36:37.1930589Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem21ce2eb9?resource=filesystem\u0026recursive=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sat, 21 Jan 2023 00:37:14 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": {
        "paths": [
          {
            "EncryptionContext": "encryptionContext",
            "contentLength": "0",
            "creationTime": "133187349967871617",
            "etag": "0x8DAFB478DE01E81",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Sat, 21 Jan 2023 00:36:36 GMT",
            "name": "testfile",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
