{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem21ce2eb9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 13 Jan 2023 01:24:55 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAF504EA0C3C39\u0022",
        "Last-Modified": "Fri, 13 Jan 2023 01:24:28 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem21ce2eb9/testfile?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 13 Jan 2023 01:24:56 GMT",
        "x-ms-encryption-context": "encryptionContext",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAF504EA8F58C4\u0022",
        "Last-Modified": "Fri, 13 Jan 2023 01:24:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem21ce2eb9/testfile",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 13 Jan 2023 01:24:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAF504EA8F58C4\u0022",
        "Last-Modified": "Fri, 13 Jan 2023 01:24:29 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 13 Jan 2023 01:24:29 GMT",
        "x-ms-encryption-context": "encryptionContext",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem21ce2eb9/testfile",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 13 Jan 2023 01:24:57 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 416,
      "ResponseHeaders": {
        "Content-Range": "bytes */0",
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidRange",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidRange\u003C/Code\u003E\u003CMessage\u003EThe range specified is invalid for the current size of the resource.\n",
        "RequestId:3c8f6fdd-601e-0004-69ed-260ec4000000\n",
        "Time:2023-01-13T01:24:29.1781270Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem21ce2eb9?resource=filesystem\u0026recursive=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 13 Jan 2023 01:24:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": {
        "paths": [
          {
            "EncryptionContext": "encryptionContext",
            "contentLength": "0",
            "creationTime": "133180466690283716",
            "etag": "0x8DAF504EA8F58C4",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Fri, 13 Jan 2023 01:24:29 GMT",
            "name": "testfile",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
