{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem85d42f9d?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Feb 2023 22:28:10 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB08914F18A6C9\u0022",
        "Last-Modified": "Mon, 06 Feb 2023 22:27:19 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem85d42f9d/oldfile?resource=file\u0026se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=c\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Feb 2023 22:28:11 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB08914FA78286\u0022",
        "Last-Modified": "Mon, 06 Feb 2023 22:27:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem85d42f9d/oldfile?action=append\u0026position=0\u0026flush=true\u0026se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=c\u0026sig=fake_token_value",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 06 Feb 2023 22:28:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": "abc",
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB08914FF3559D\u0022",
        "Last-Modified": "Mon, 06 Feb 2023 22:27:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem85d42f9d2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Feb 2023 22:28:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB089150083ACB\u0022",
        "Last-Modified": "Mon, 06 Feb 2023 22:27:20 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem85d42f9d2/new%3Ffile?mode=legacy\u0026se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=c\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Feb 2023 22:28:12 GMT",
        "x-ms-rename-source": "/filesystem85d42f9d/oldfile?se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=c\u0026sig=fake_token_value",
        "x-ms-source-lease-id": "",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB08914FF3559D\u0022",
        "Last-Modified": "Mon, 06 Feb 2023 22:27:20 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem85d42f9d2/new%3Ffile?se=end\u0026sp=rwd\u0026sv=2023-01-03\u0026sr=c\u0026sig=fake_token_value",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Feb 2023 22:28:13 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8DB08914FF3559D\u0022",
        "Last-Modified": "Mon, 06 Feb 2023 22:27:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 06 Feb 2023 22:27:20 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem85d42f9d2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 06 Feb 2023 22:28:13 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
