interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Jan 2021 06:48:44 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem75f5116a?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D8B6C61B247FAC"'
      Last-Modified:
      - Tue, 12 Jan 2021 06:48:44 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Jan 2021 06:48:45 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/filesystem75f5116a?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:429ec547-301e-0004-3fae-e814cb000000\nTime:2021-01-12T06:48:45.3365596Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - ContainerNotFound
      x-ms-version:
      - '2020-04-08'
    status:
      code: 404
      message: The specified container does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Jan 2021 06:48:45 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&include=deleted
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Containers><Container><Name>newc44e1800</Name><Properties><Last-Modified>Tue,
        12 Jan 2021 06:31:36 GMT</Last-Modified><Etag>\"0x8D8B6C3B624B43B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>newcontainer5303108c</Name><Properties><Last-Modified>Tue,
        12 Jan 2021 06:31:18 GMT</Last-Modified><Etag>\"0x8D8B6C3AB793363\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>oldcontainer25303108c</Name><Properties><Last-Modified>Tue,
        12 Jan 2021 06:31:18 GMT</Last-Modified><Etag>\"0x8D8B6C3AB3852A2\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2020-04-08'
    status:
      code: 200
      message: OK
version: 1
