interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>1</Days></DeleteRetentionPolicy></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 10 Dec 2020 21:45:40 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2020-04-08'
    status:
      code: 202
      message: Accepted
    url: https://storagename.blob.core.windows.net/?restype=service&comp=properties
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 21:45:41 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>true</Read><Write>true</Write><Delete>true</Delete><RetentionPolicy><Enabled>true</Enabled><Days>5</Days></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>true</Enabled><Days>5</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>true</Enabled><Days>5</Days></RetentionPolicy></MinuteMetrics><Cors><CorsRule><AllowedMethods>GET</AllowedMethods><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedHeaders
        /><ExposedHeaders /><MaxAgeInSeconds>0</MaxAgeInSeconds></CorsRule><CorsRule><AllowedMethods>GET,PUT</AllowedMethods><AllowedOrigins>www.xyz.com,www.ab.com,www.bc.com</AllowedOrigins><AllowedHeaders>x-ms-meta-xyz,x-ms-meta-foo,x-ms-meta-data*,x-ms-meta-target*</AllowedHeaders><ExposedHeaders>x-ms-meta-abc,x-ms-meta-bcd,x-ms-meta-data*,x-ms-meta-source*</ExposedHeaders><MaxAgeInSeconds>500</MaxAgeInSeconds></CorsRule></Cors><DeleteRetentionPolicy><Enabled>true</Enabled><Days>1</Days><AllowPermanentDelete>false</AllowPermanentDelete></DeleteRetentionPolicy><StaticWebsite><Enabled>true</Enabled><IndexDocument>index.html</IndexDocument><ErrorDocument404Path>errors/error/404error.html</ErrorDocument404Path></StaticWebsite><DefaultServiceVersion>2014-02-14</DefaultServiceVersion></StorageServiceProperties>"
    headers:
      Content-Type: application/xml
      x-ms-version: '2020-04-08'
    status:
      code: 200
      message: OK
    url: https://storagename.blob.core.windows.net/?restype=service&comp=properties
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>366</Days></DeleteRetentionPolicy></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 10 Dec 2020 21:45:42 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML
        specified is not syntactically valid.\nRequestId:4fa6014d-801e-0023-053d-cfe642000000\nTime:2020-12-10T21:45:42.7619446Z</Message><LineNumber>2</LineNumber><LinePosition>91</LinePosition><Reason>Retention
        days must be greater than 0 and less than or equal to 365 days.</Reason></Error>"
    headers:
      Content-Type: application/xml
      x-ms-error-code: InvalidXmlDocument
      x-ms-version: '2020-04-08'
    status:
      code: 400
      message: XML specified is not syntactically valid.
    url: https://storagename.blob.core.windows.net/?restype=service&comp=properties
[...]
