{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem5896375a?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Aug 2022 22:18:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA861E9F673B6F\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 22:18:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem5896375a/directory5896375a?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "x-ms-date": "Wed, 24 Aug 2022 22:18:52 GMT",
        "x-ms-group": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-owner": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA861E9F83AADE\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 22:18:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem5896375a/directory5896375a?action=getAccessControl\u0026upn=false",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Aug 2022 22:18:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA861E9F83AADE\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 22:18:50 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "x-ms-group": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-owner": "4cf4e284-f6a8-4540-b53e-c3469af032dc",
        "x-ms-permissions": "rwxr-xrwx",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
