interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 18:38:02 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/fs1ac201283?restype=container
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D8A1288EB56FA4"'
      Last-Modified: Tue, 15 Dec 2020 18:38:03 GMT
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://storagename.blob.core.windows.net/fs1ac201283?restype=container
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 18:38:04 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/fs1ac201283/file0?resource=file
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D8A1288FB7E960"'
      Last-Modified: Tue, 15 Dec 2020 18:38:05 GMT
      x-ms-version: '2020-06-12'
    status:
      code: 201
      message: Created
    url: https://storagename.dfs.core.windows.net/fs1ac201283/file0?resource=file
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 18:38:06 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/fs1ac201283/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D8A1288FF54690"'
      Last-Modified: Tue, 15 Dec 2020 18:38:05 GMT
      x-ms-version: '2020-06-12'
    status:
      code: 201
      message: Created
    url: https://storagename.dfs.core.windows.net/fs1ac201283/dir1?resource=directory
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 18:38:07 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/fs1ac201283/dir3%2Ffile_in_dir3?resource=file
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D8A128904C26D4"'
      Last-Modified: Tue, 15 Dec 2020 18:38:06 GMT
      x-ms-version: '2020-06-12'
    status:
      code: 201
      message: Created
    url: https://storagename.dfs.core.windows.net/fs1ac201283/dir3%2Ffile_in_dir3?resource=file
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 18:38:07 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/fs1ac201283/dir3%2Fsubdir%2Ffile_in_subdir?resource=file
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D8A1289070D5F6"'
      Last-Modified: Tue, 15 Dec 2020 18:38:06 GMT
      x-ms-version: '2020-06-12'
    status:
      code: 201
      message: Created
    url: https://storagename.dfs.core.windows.net/fs1ac201283/dir3%2Fsubdir%2Ffile_in_subdir?resource=file
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 18:38:07 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.core.windows.net/fs1ac201283/file0?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent: 'false'
      x-ms-deletion-id: '132525310868759169'
      x-ms-version: '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://storagename.dfs.core.windows.net/fs1ac201283/file0?recursive=true
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 18:38:08 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.core.windows.net/fs1ac201283/dir1?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent: 'false'
      x-ms-deletion-id: '132525310873819200'
      x-ms-version: '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://storagename.dfs.core.windows.net/fs1ac201283/dir1?recursive=true
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 18:38:08 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.core.windows.net/fs1ac201283/dir3%2Ffile_in_dir3?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent: 'false'
      x-ms-deletion-id: '132525310877632842'
      x-ms-version: '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://storagename.dfs.core.windows.net/fs1ac201283/dir3%2Ffile_in_dir3?recursive=true
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 18:38:08 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.core.windows.net/fs1ac201283/dir3%2Fsubdir%2Ffile_in_subdir?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent: 'false'
      x-ms-deletion-id: '132525310880360428'
      x-ms-version: '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://storagename.dfs.core.windows.net/fs1ac201283/dir3%2Fsubdir%2Ffile_in_subdir?recursive=true
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 18:38:08 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://storagename.blob.core.windows.net/fs1ac201283?delimiter=&showonly=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"fs1ac201283\"><Blobs><BlobPrefix><Name>dir1</Name></BlobPrefix><BlobPrefix><Name>dir2</Name></BlobPrefix><Blob><Name>dir3/file_in_dir3</Name><DeletionId>132525310877632842</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Tue,
        15 Dec 2020 18:38:06 GMT</Creation-Time><Last-Modified>Tue, 15 Dec 2020 18:38:06
        GMT</Last-Modified><Expiry-Time>Fri, 18 Dec 2020 18:38:07 GMT</Expiry-Time><Etag>0x8D8A128904C26D4</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>BlockBlob</BlobType><ServerEncrypted>true</ServerEncrypted><DeletedTime>Tue,
        15 Dec 2020 18:38:07 GMT</DeletedTime><RemainingRetentionDays>2</RemainingRetentionDays></Properties><OrMetadata
        /></Blob><Blob><Name>dir3/subdir/file_in_subdir</Name><DeletionId>132525310880360428</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Tue,
        15 Dec 2020 18:38:06 GMT</Creation-Time><Last-Modified>Tue, 15 Dec 2020 18:38:06
        GMT</Last-Modified><Expiry-Time>Fri, 18 Dec 2020 18:38:08 GMT</Expiry-Time><Etag>0x8D8A1289070D5F6</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type>[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 18:38:09 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://storagename.blob.core.windows.net/fs1ac201283?prefix=dir3/&delimiter=&showonly=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"fs1ac201283\"><Prefix>dir3/</Prefix><Blobs><Blob><Name>dir3/file_in_dir3</Name><DeletionId>132525310877632842</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Tue,
        15 Dec 2020 18:38:06 GMT</Creation-Time><Last-Modified>Tue, 15 Dec 2020 18:38:06
        GMT</Last-Modified><Expiry-Time>Fri, 18 Dec 2020 18:38:07 GMT</Expiry-Time><Etag>0x8D8A128904C26D4</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 18:38:09 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://storagename.blob.core.windows.net/fs1ac201283?delimiter=&maxResults=2&showonly=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"fs1ac201283\"><MaxResults>2</MaxResults><Blobs><BlobPrefix><Name>dir1</Name></BlobPrefix><BlobPrefix><Name>dir2</Name></BlobPrefix></Blobs><NextMarker>2!240!MDAwMTM2IVZCYkNrc0NYclppK2pEb1lWaGhSTHpKMmVIaHpZMjVoY0dGdGN6SXdjSFJtTURGakFUQXhSRFkwUmtReU0wVkRPRUZETjBZdkpIUnlZWE5vTDJaek1XRmpNakF4TWpnekFUQXhSRFpFTXpFeE5rTXpSVFpFTXpBQ0wyUnBjak1DRmdBQUFBPT0hMDAwMDI4ITIwMjAtMTItMTVUMTg6Mzg6MDguNzkyMTIyMVoh</NextMarker></EnumerationResults>"
    headers:
      Content-Type: application/xml
      x-ms-version: '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://storagename.blob.core.windows.net/fs1ac201283?delimiter=&maxResults=2&showonly=deleted&restype=container&comp=list
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 15 Dec 2020 18:38:09 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://storagename.blob.core.windows.net/fs1ac201283?delimiter=&marker=2!240!MDAwMTM2IVZCYkNrc0NYclppK2pEb1lWaGhSTHpKMmVIaHpZMjVoY0dGdGN6SXdjSFJtTURGakFUQXhSRFkwUmtReU0wVkRPRUZETjBZdkpIUnlZWE5vTDJaek1XRmpNakF4TWpnekFUQXhSRFpFTXpFeE5rTXpSVFpFTXpBQ0wyUnBjak1DRmdBQUFBPT0hMDAwMDI4ITIwMjAtMTItMTVUMTg6Mzg6MDguNzkyMTIyMVoh&maxResults=4&showonly=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"fs1ac201283\"><Marker>2!240!MDAwMTM2IVZCYkNrc0NYclppK2pEb1lWaGhSTHpKMmVIaHpZMjVoY0dGdGN6SXdjSFJtTURGakFUQXhSRFkwUmtReU0wVkRPRUZETjBZdkpIUnlZWE5vTDJaek1XRmpNakF4TWpnekFUQXhSRFpFTXpFeE5rTXpSVFpFTXpBQ0wyUnBjak1DRmdBQUFBPT0hMDAwMDI4ITIwMjAtMTItMTVUMTg6Mzg6MDguNzkyMTIyMVoh</Marker><MaxResults>4</MaxResults><Blobs><Blob><Name>dir3/file_in_dir3</Name><DeletionId>132525310877632842</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Tue,
        15 Dec 2020 18:38:06 GMT</Creation-Time><Last-Modified>Tue, 15 Dec 202[...]
