{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem31d52a2d?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Aug 2022 20:14:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA815648B286CA\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 20:14:41 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem31d52a2d/existingfile?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Aug 2022 20:14:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA815648C2CF7B\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 20:14:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem31d52a2d/existingfile?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 18 Aug 2022 20:14:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "a",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem31d52a2d/existingfile?action=flush\u0026position=1\u0026retainUncommittedData=false\u0026close=false",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Aug 2022 20:14:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA815648E19B1D\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 20:14:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem31d52a2d/file31d52a2d?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Aug 2022 20:14:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA815648EF29CA\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 20:14:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem31d52a2d/file31d52a2d?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-date": "Thu, 18 Aug 2022 20:14:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "abc",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem31d52a2d/file31d52a2d?action=flush\u0026position=3\u0026retainUncommittedData=false\u0026close=false",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Aug 2022 20:14:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8156490D7779\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 20:14:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem31d52a2d/existingfile?mode=legacy",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Aug 2022 20:14:40 GMT",
        "x-ms-rename-source": "/filesystem31d52a2d/file31d52a2d",
        "x-ms-source-lease-id": "",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8156490D7779\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 20:14:41 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem31d52a2d/existingfile",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Thu, 18 Aug 2022 20:14:40 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2/3",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA8156490D7779\u0022",
        "Last-Modified": "Thu, 18 Aug 2022 20:14:41 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 18 Aug 2022 20:14:41 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "YWJj"
    }
  ],
  "Variables": {}
}
