{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem9f562fef?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 Feb 2023 19:58:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0557D691B10F\u0022",
        "Last-Modified": "Thu, 02 Feb 2023 19:58:22 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem9f562fef/olddir?resource=directory\u0026se=end\u0026sp=rwd\u0026sv=2021-12-02\u0026sr=c\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 Feb 2023 19:58:22 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0557D6DA0BA9\u0022",
        "Last-Modified": "Thu, 02 Feb 2023 19:58:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem9f562fef/newdir?mode=legacy\u0026se=end\u0026sp=rwd\u0026sv=2021-12-02\u0026sr=c\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 Feb 2023 19:58:22 GMT",
        "x-ms-rename-source": "/filesystem9f562fef/olddir?se=end\u0026sp=rwd\u0026sv=2021-12-02\u0026sr=c\u0026sig=fake_token_value",
        "x-ms-source-lease-id": "",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0557D6DA0BA9\u0022",
        "Last-Modified": "Thu, 02 Feb 2023 19:58:22 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem9f562fef/newdir?se=end\u0026sp=rwd\u0026sv=2021-12-02\u0026sr=c\u0026sig=fake_token_value",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 02 Feb 2023 19:58:24 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB0557D6DA0BA9\u0022",
        "Last-Modified": "Thu, 02 Feb 2023 19:58:22 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 02 Feb 2023 19:58:22 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
