{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem822c2d8b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 31 Aug 2022 22:58:49 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8BA45E7126BF\u0022",
        "Last-Modified": "Wed, 31 Aug 2022 22:58:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem822c2d8b/dir10?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 31 Aug 2022 22:58:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8BA45E84F578\u0022",
        "Last-Modified": "Wed, 31 Aug 2022 22:58:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem822c2d8b/dir10%2Fsubdir?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 31 Aug 2022 22:58:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8BA45E944075\u0022",
        "Last-Modified": "Wed, 31 Aug 2022 22:58:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem822c2d8b/dir10%2Fsubdir%2Fsubsub?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 31 Aug 2022 22:58:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8BA45EA44961\u0022",
        "Last-Modified": "Wed, 31 Aug 2022 22:58:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem822c2d8b/dir10%2Fsubdir%2Ffile?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 31 Aug 2022 22:58:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8BA45EB380C0\u0022",
        "Last-Modified": "Wed, 31 Aug 2022 22:58:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem822c2d8b?resource=filesystem\u0026recursive=true\u0026upn=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 31 Aug 2022 22:58:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133064603303015800",
            "etag": "0x8DA8BA45E84F578",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 31 Aug 2022 22:58:50 GMT",
            "name": "dir10",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
            "creationTime": "133064603304018037",
            "etag": "0x8DA8BA45E944075",
            "expiryTime": "0",
            "group": "$superuser",
            "isDirectory": "true",
            "lastModified": "Wed, 31 Aug 2022 22:58:50 GMT",
            "name": "dir10/subdir",
            "owner": "$superuser",
            "permissions": "rwxr-x---"
          },
          {
            "contentLength": "0",
      [...]
