interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>1</Days></DeleteRetentionPolicy></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 10 Dec 2020 20:49:55 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2020-04-08'
    status:
      code: 202
      message: Accepted
    url: https://2vxxscnapams20ptf01c.blob.preprod.core.windows.net/?restype=service&comp=properties
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 20:49:56 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.blob.preprod.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /><DeleteRetentionPolicy><Enabled>true</Enabled><Days>1</Days><AllowPermanentDelete>false</AllowPermanentDelete></DeleteRetentionPolicy><StaticWebsite><Enabled>true</Enabled><IndexDocument>index.html</IndexDocument><ErrorDocument404Path>errors/error/404error.html</ErrorDocument404Path></StaticWebsite><DefaultServiceVersion>2014-02-14</DefaultServiceVersion></StorageServiceProperties>"
    headers:
      Content-Type: application/xml
      x-ms-version: '2020-04-08'
    status:
      code: 200
      message: OK
    url: https://2vxxscnapams20ptf01c.blob.preprod.core.windows.net/?restype=service&comp=properties
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>366</Days></DeleteRetentionPolicy></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 10 Dec 2020 20:49:57 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.preprod.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML
        specified is not syntactically valid.\nRequestId:cde8e1c6-c01e-0032-0a36-cf7cf6000000\nTime:2020-12-10T20:49:57.4955300Z</Message><LineNumber>2</LineNumber><LinePosition>91</LinePosition><Reason>Retention
        days must be greater than 0 and less than or equal to 365 days.</Reason></Error>"
    headers:
      Content-Type: application/xml
      x-ms-error-code: InvalidXmlDocument
      x-ms-version: '2020-04-08'
    status:
      code: 400
      message: XML specified is not syntactically valid.
    url: https://2vxxscnapams20ptf01c.blob.preprod.core.windows.net/?restype=service&comp=properties
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 10 Dec 2020 20:49:57 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.blob.preprod.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /><DeleteRetentionPolicy><Enabled>true</Enabled><Days>365</Days><AllowPermanentDelete>false</AllowPermanentDelete></DeleteRetentionPolicy><StaticWebsite><Enabled>true</Enabled><IndexDocument>index.html</IndexDocument><ErrorDocument404Path>errors/error/404error.html</ErrorDocument404Path></StaticWebsite><DefaultServiceVersion>2014-02-14</DefaultServiceVersion></StorageServiceProperties>"
    headers:
      Content-Type: application/xml
      x-ms-version: '2020-04-08'
    status:
      code: 200
      message: OK
    url: https://2vxxscnapams20ptf01c.blob.preprod.core.windows.net/?restype=service&comp=properties
version: 1
