interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Jan 2021 07:28:22 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesysteme7d413e7?restype=container
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D8B6CBA485F5DA"'
      Last-Modified: Tue, 12 Jan 2021 07:28:22 GMT
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://storagename.blob.core.windows.net/filesysteme7d413e7?restype=container
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Jan 2021 07:28:22 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/filesysteme7d413e7?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:429f8c3a-301e-0004-05b4-e814cb000000\nTime:2021-01-12T07:28:22.9505385Z</Message></Error>"
    headers:
      Content-Type: application/xml
      x-ms-error-code: ContainerNotFound
      x-ms-version: '2020-04-08'
    status:
      code: 404
      message: The specified container does not exist.
    url: https://storagename.blob.core.windows.net/filesysteme7d413e7?restype=container
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 12 Jan 2021 07:28:22 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&include=deleted
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Containers><Container><Name>newc44e1800</Name><Properties><Last-Modified>Tue,
        12 Jan 2021 06:31:36 GMT</Last-Modified><Etag>\"0x8D8B6C3B624B43B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>newcontainer5303108c</Name><Properties><Last-Modified>Tue,
        12 Jan 2021 06:31:18 GMT</Last-Modified><Etag>\"0x8D8B6C3AB793363\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Prop[...]
