{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem894333c3?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Aug 2022 01:20:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA84A5BAACEFE8\u0022",
        "Last-Modified": "Tue, 23 Aug 2022 01:20:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem894333c3/file894333c3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 23 Aug 2022 01:20:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA84A5BAC6F08E\u0022",
        "Last-Modified": "Tue, 23 Aug 2022 01:20:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem894333c3/file894333c3?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-date": "Tue, 23 Aug 2022 01:20:56 GMT",
        "x-ms-permissions": "0777",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": {
        "error": {
          "code": "ConditionNotMet",
          "message": "The condition specified using HTTP conditional header(s) is not met.\nRequestId:0ad3b161-d01f-003a-208e-b657d8000000\nTime:2022-08-23T01:20:56.6638641Z"
        }
      }
    }
  ],
  "Variables": {}
}
