{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystemd75f347b?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Aug 2022 22:19:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA861EB506FF84\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 22:19:27 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystemd75f347b/directoryd75f347b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Aug 2022 22:19:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA861EB5261798\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 22:19:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystemd75f347b/directoryd75f347b%2Fsubdir0d75f347b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Aug 2022 22:19:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA861EB53B79B9\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 22:19:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystemd75f347b/directoryd75f347b%2Fsubdir0d75f347b%2Fsubfile0d75f347b?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Aug 2022 22:19:28 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA861EB54C705A\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 22:19:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystemd75f347b/directoryd75f347b?action=setAccessControlRecursive\u0026mode=modify",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "x-ms-date": "Wed, 24 Aug 2022 22:19:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjYsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MjV9Cg=="
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystemd75f347b/directoryd75f347b?action=getAccessControl\u0026upn=false",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 24 Aug 2022 22:19:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA861EB5261798\u0022",
        "Last-Modified": "Wed, 24 Aug 2022 22:19:27 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-xrwx",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
