{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/utfilesystemade62b17?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Aug 2022 20:02:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A4225B42AA2\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 20:02:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/utfilesystemade62b17/directoryade62b17?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Aug 2022 20:02:54 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A4225C4E4AA\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 20:02:54 GMT",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/utfilesystemade62b17/directoryade62b17%2Ffileade62b17?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 09 Aug 2022 20:02:54 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A4225D60083\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 20:02:54 GMT",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/utfilesystemade62b17/directoryade62b17%2Ffileade62b17?action=append\u0026position=0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 09 Aug 2022 20:02:54 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa[...]
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/utfilesystemade62b17/directoryade62b17%2Ffileade62b17?action=flush\u0026position=1024\u0026close=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "If-Match": "\u00220x8DA7A4225E8D0CA\u0022",
        "x-ms-date": "Tue, 09 Aug 2022 20:02:55 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7A422A68A729\u0022",
        "Last-Modified": "Tue, 09 Aug 2022 20:03:02 GMT",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
