interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 May 2022 00:48:35 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem3c622120?restype=container&timeout=5
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2E30FCB4D681"'
      last-modified:
      - Thu, 05 May 2022 00:48:35 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 May 2022 00:48:35 GMT
      x-ms-lease-duration:
      - '15'
      x-ms-proposed-lease-id:
      - b12e008b-9c06-4f9d-ab79-2ea7a516ef0e
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem3c622120/directory3c622120%2Fsub1?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2E30FD0F9C82"'
      last-modified:
      - Thu, 05 May 2022 00:48:36 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 May 2022 00:48:36 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://storagename.blob.core.windows.net/filesystem3c622120/directory3c622120/sub1
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8DA2E30FD0F9C82"'
      last-modified:
      - Thu, 05 May 2022 00:48:36 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 05 May 2022 00:48:36 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-duration:
      - fixed
      x-ms-lease-state:
      - leased
      x-ms-lease-status:
      - locked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-x---
      x-ms-resource-type:
      - directory
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 May 2022 00:48:36 GMT
      x-ms-version:
      - '2021-06-08'
    method: DELETE
    uri: https://storagename.blob.core.windows.net/filesystem3c622120?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-06-08'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 May 2022 00:48:36 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&include=
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>InvalidHeaderValue</Code><Message>The
        value for one of the HTTP headers is not in the correct format.\nRequestId:c420ef23-901e-008f-0819-6053a8000000\nTime:2022-05-05T00:48:37.1479995Z</Message><HeaderName>x-ms-version</HeaderName><HeaderValue>2021-08-06</HeaderValue></Error>"
    headers:
      content-type:
      - application/xml
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
version: 1
