interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>1</Days></DeleteRetentionPolicy></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Mon, 29 Mar 2021 23:16:30 GMT
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2020-06-12'
    status:
      code: 202
      message: Accepted
    url: https://seannsecanary.blob.core.windows.net/?restype=service&comp=properties
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 29 Mar 2021 23:16:35 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://storagename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /><DeleteRetentionPolicy><Enabled>true</Enabled><Days>1</Days><AllowPermanentDelete>false</AllowPermanentDelete></DeleteRetentionPolicy><StaticWebsite><Enabled>false</Enabled></StaticWebsite></StorageServiceProperties>"
    headers:
      Content-Type: application/xml
      x-ms-version: '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://seannsecanary.blob.core.windows.net/?restype=service&comp=properties
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><DeleteRetentionPolicy><Enabled>true</Enabled><Days>0</Days></DeleteRetentionPolicy></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Mon, 29 Mar 2021 23:16:35 GMT
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML
        specified is not syntactically valid.\nRequestId:74cb106a-c01e-008f-20f1-24c4ca000000\nTime:2021-03-29T23:16:36.0596298Z</Message><LineNumber>2</LineNumber><LinePosition>89</LinePosition><Reason>Retention
        days must be greater than 0 and less than or equal to 365 days.</Reason></Error>"
    headers:
      Content-Type: application/xml
      x-ms-error-code: InvalidXmlDocument
      x-ms-version: '2020-06-12'
    status:
      code: 400
      message: XML specified is not syntactically valid.
    url: https://seannsecanary.blob.core.windows.net/?restype=service&comp=properties
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 29 Mar 2021 23:16:36 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://storagename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
        /><DeleteRetentionPolicy><Enabled>true</Enabled><Days>365</Days><AllowPermanentDelete>false</AllowPermanentDelete></DeleteRetentionPolicy><StaticWebsite><Enabled>false</Enabled></StaticWebsite></StorageServiceProperties>"
    headers:
      Content-Type: application/xml
      x-ms-version: '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://seannsecanary.blob.core.windows.net/?restype=service&comp=properties
version: 1
