interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem549010b6?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D761712EEB0A59"'
      Last-Modified:
      - Mon, 04 Nov 2019 21:51:44 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 04 Nov 2019 21:51:44 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Containers><Container><Name>filesystem11d31941</Name><Properties><Last-Modified>Mon,
        04 Nov 2019 21:51:42 GMT</Last-Modified><Etag>\"0x8D761712DFE0B54\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>filesystem52a41088</Name><Properties><Last-Modified>Mon,
        04 Nov 2019 20:05:30 GMT</Last-Modified><Etag>\"0x8D7616257A3B031\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>filesystem549010b6</Name><Properties><Last-Modified>Mon,
        04 Nov 2019 21:51:44 GMT</Last-Modified><Etag>\"0x8D761712EEB0A59\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>filesystemc715180d</Name><Properties><Last-Modified>Mon,
        04 Nov 2019 21:51:43 GMT</Last-Modified><Etag>\"0x8D761712E7FADE6\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>filesystemd45f1379</Name><Properties><Last-Modified>Mon,
        04 Nov 2019 21:51:41 GMT</Last-Modified><Etag>\"0x8D761712D85E240\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>filesysteme75f1400</Name><Properties><Last-Modified>Mon,
        04 Nov 2019 21:51:41 GMT</Last-Modified><Etag>\"0x8D761712D3BF91E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
