interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Jan 2021 05:24:52 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/existing254311624?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D8B7838E1223F2"'
      Last-Modified:
      - Wed, 13 Jan 2021 05:24:52 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Jan 2021 05:24:52 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem254311624?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D8B7838E26E82B"'
      Last-Modified:
      - Wed, 13 Jan 2021 05:24:52 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Jan 2021 05:24:52 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/filesystem254311624?restype=container
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:e9f5c24d-901e-0002-3f6c-e9e3b3000000\nTime:2021-01-13T05:24:53.0511286Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - ContainerNotFound
      x-ms-version:
      - '2020-04-08'
    status:
      code: 404
      message: The specified container does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 13 Jan 2021 05:24:53 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&include=
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Containers><Container><Name>existing254311624</Name><Properties><Last-Modified>Wed,
        13 Jan 2021 05:24:52 GMT</Last-Modified><Etag>\"0x8D8B7838E1223F2\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>newc44e1800</Name><Properties><Last-Modified>Tue,
        12 Jan 2021 06:31:36 GMT</Last-Modified><Etag>\"0x8D8B6C3B624B43B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></[...]
