interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 13 Dec 2020 06:26:23 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/fs141b81006?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89F30043A5389"'
      Last-Modified:
      - Sun, 13 Dec 2020 06:26:25 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 13 Dec 2020 06:26:25 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/fs141b81006/file0?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89F30055A553C"'
      Last-Modified:
      - Sun, 13 Dec 2020 06:26:26 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 13 Dec 2020 06:26:27 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/fs141b81006/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89F3005A20373"'
      Last-Modified:
      - Sun, 13 Dec 2020 06:26:27 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 13 Dec 2020 06:26:28 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/fs141b81006/dir3%2Ffile_in_dir3?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89F300603CD5A"'
      Last-Modified:
      - Sun, 13 Dec 2020 06:26:28 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 13 Dec 2020 06:26:28 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/fs141b81006/dir3%2Fsubdir%2Ffile_in_subdir?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D89F30063812FB"'
      Last-Modified:
      - Sun, 13 Dec 2020 06:26:28 GMT
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 13 Dec 2020 06:26:28 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.core.windows.net/fs141b81006/file0?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132523143888498953'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 13 Dec 2020 06:26:29 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.core.windows.net/fs141b81006/dir1?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132523143893528513'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 13 Dec 2020 06:26:29 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.core.windows.net/fs141b81006/dir3%2Ffile_in_dir3?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132523143898370161'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 13 Dec 2020 06:26:30 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://storagename.dfs.core.windows.net/fs141b81006/dir3%2Fsubdir%2Ffile_in_subdir?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'false'
      x-ms-deletion-id:
      - '132523143901076900'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 13 Dec 2020 06:26:30 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://storagename.blob.core.windows.net/fs141b81006?delimiter=&showonly=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"fs141b81006\"><Blobs><BlobPrefix><Name>dir1</Name></BlobPrefix><BlobPrefix><Name>dir2</Name></BlobPrefix><Blob><Name>dir3/file_in_dir3</Name><DeletionId>132523143898370161</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Sun,
        13 Dec 2020 06:26:28 GMT</Creation-Time><Last-Modified>Sun, 13 Dec 2020 06:26:28
        GMT</Last-Modified><Expiry-Time>Wed, 16 Dec 2020 06:26:29 GMT</Expiry-Time><Etag>0x8D89F300603CD5A</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>BlockBlob</BlobType><ServerEncrypted>true</ServerEncrypted><DeletedTime>Sun,
        13 Dec 2020 06:26:29 GMT</DeletedTime><RemainingRetentionDays>2</RemainingRetentionDays></Properties><OrMetadata
        /></Blob><Blob><Name>dir3/subdir/file_in_subdir</Name><DeletionId>132523143901076900</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Sun,
        13 Dec 2020 06:26:28 GMT</Creation-Time><Last-Modified>Sun, 13 Dec 2020 06:26:28
        GMT</Last-Modified><Expiry-Time>Wed, 16 Dec 2020 06:26:30 GMT</Expiry-Time><Etag>0x8D89F30063812FB</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type>[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sun, 13 Dec 2020 06:26:31 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://storagename.blob.core.windows.net/fs141b81006?prefix=dir3%2F&delimiter=&showonly=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"fs141b81006\"><Prefix>dir3/</Prefix><Blobs><Blob><Name>dir3/file_in_dir3</Name><DeletionId>132523143898370161</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Sun,
        13 Dec 2020 06:26:28 GMT</Creation-Time><Last-Modified>Sun, 13 Dec 2020 06:26:28
        GMT</Last-Modified><Expiry-Time>Wed, 16 Dec 2020 06:26:29 GMT</Expiry-Time><Etag>0x8D89F300603CD5A</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content[...]
