interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:11:09 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem3acd158f?restype=container&timeout=5
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2EFD4EE851A7"'
      last-modified:
      - Fri, 06 May 2022 01:11:11 GMT
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-acl:
      - user::rwx,group::r-x,other::rwx
      x-ms-date:
      - Fri, 06 May 2022 01:11:10 GMT
      x-ms-group:
      - e1de1862-6556-4b18-888b-45972afde862
      x-ms-owner:
      - e1de1862-6556-4b18-888b-45972afde862
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem3acd158f/directory3acd158f?resource=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2EFD4F59025A"'
      last-modified:
      - Fri, 06 May 2022 01:11:11 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-06-08'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:11:12 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://storagename.dfs.core.windows.net/filesystem3acd158f/directory3acd158f?action=getAccessControl&upn=false
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA2EFD4F59025A"'
      last-modified:
      - Fri, 06 May 2022 01:11:11 GMT
      x-ms-acl:
      - user::rwx,group::r-x,other::rwx
      x-ms-group:
      - e1de1862-6556-4b18-888b-45972afde862
      x-ms-owner:
      - e1de1862-6556-4b18-888b-45972afde862
      x-ms-permissions:
      - rwxr-xrwx
      x-ms-version:
      - '2021-06-08'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:11:21 GMT
      x-ms-version:
      - '2021-06-08'
    method: DELETE
    uri: https://storagename.blob.core.windows.net/filesystem3acd158f?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-06-08'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:11:21 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&include=
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>InvalidHeaderValue</Code><Message>The
        value for one of the HTTP headers is not in the correct format.\nRequestId:814be5d9-101e-0065-08e6-607486000000\nTime:2022-05-06T01:11:22.9759549Z</Message><HeaderName>x-ms-version</HeaderName><HeaderValue>2021-08-06</HeaderValue></Error>"
    headers:
      content-type:
      - application/xml
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
version: 1
