{
  "Entries": [
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/fs2c39c2928?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 10 Mar 2023 01:35:33 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB2107BDDEB1CE\u0022",
        "Last-Modified": "Fri, 10 Mar 2023 01:35:33 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/fs2c39c2928/dir10?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 10 Mar 2023 01:35:33 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB2107BE1AF9FD\u0022",
        "Last-Modified": "Fri, 10 Mar 2023 01:35:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/fs2c39c2928/dir10?recursive=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 10 Mar 2023 01:35:34 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133228857342048725",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/fs2c39c2928/dir10",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 10 Mar 2023 01:35:34 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/fs2c39c2928/dir10?comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 10 Mar 2023 01:35:34 GMT",
        "x-ms-undelete-source": "dir10?deletionid=133228857342048725",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-creation-time": "Fri, 10 Mar 2023 01:35:34 GMT",
        "x-ms-resource-type": "directory",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/fs2c39c2928/dir10",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 10 Mar 2023 01:35:34 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB2107BE1AF9FD\u0022",
        "Last-Modified": "Fri, 10 Mar 2023 01:35:34 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 10 Mar 2023 01:35:34 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-resource-type": "directory",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
