interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jan 2021 22:52:12 GMT
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://sachinssoftdelete3.blob.core.windows.net/filesystemac201283?restype=container
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D8C316300AAB7E"'
      Last-Modified: Wed, 27 Jan 2021 22:52:13 GMT
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://sachinssoftdelete3.blob.core.windows.net/filesystemac201283?restype=container
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jan 2021 22:52:13 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/file0?resource=file
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D8C316303C8258"'
      Last-Modified: Wed, 27 Jan 2021 22:52:13 GMT
      x-ms-version: '2020-06-12'
    status:
      code: 201
      message: Created
    url: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/file0?resource=file
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jan 2021 22:52:13 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/dir1?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D8C31630504E73"'
      Last-Modified: Wed, 27 Jan 2021 22:52:14 GMT
      x-ms-version: '2020-06-12'
    status:
      code: 201
      message: Created
    url: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/dir1?resource=directory
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jan 2021 22:52:13 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/dir3%2Ffile_in_dir3?resource=file
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D8C316306D4F4E"'
      Last-Modified: Wed, 27 Jan 2021 22:52:14 GMT
      x-ms-version: '2020-06-12'
    status:
      code: 201
      message: Created
    url: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/dir3%2Ffile_in_dir3?resource=file
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jan 2021 22:52:13 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/dir3%2Fsubdir%2Ffile_in_subdir?resource=file
  response:
    body:
      string: ''
    headers:
      ETag: '"0x8D8C3163078186E"'
      Last-Modified: Wed, 27 Jan 2021 22:52:14 GMT
      x-ms-version: '2020-06-12'
    status:
      code: 201
      message: Created
    url: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/dir3%2Fsubdir%2Ffile_in_subdir?resource=file
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jan 2021 22:52:13 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/file0?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent: 'false'
      x-ms-deletion-id: '132562615343457964'
      x-ms-version: '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/file0?recursive=true
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jan 2021 22:52:13 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/dir1?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent: 'false'
      x-ms-deletion-id: '132562615345014937'
      x-ms-version: '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/dir1?recursive=true
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jan 2021 22:52:14 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/dir3%2Ffile_in_dir3?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent: 'false'
      x-ms-deletion-id: '132562615346636843'
      x-ms-version: '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/dir3%2Ffile_in_dir3?recursive=true
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jan 2021 22:52:14 GMT
      x-ms-version:
      - '2020-06-12'
    method: DELETE
    uri: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/dir3%2Fsubdir%2Ffile_in_subdir?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent: 'false'
      x-ms-deletion-id: '132562615347463522'
      x-ms-version: '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://sachinssoftdelete3.dfs.core.windows.net/filesystemac201283/dir3%2Fsubdir%2Ffile_in_subdir?recursive=true
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jan 2021 22:52:14 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://sachinssoftdelete3.blob.core.windows.net/filesystemac201283?showonly=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://sachinssoftdelete3.blob.core.windows.net/\" ContainerName=\"filesystemac201283\"><Blobs><Blob><Name>dir1</Name><DeletionId>132562615345014937</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Wed,
        27 Jan 2021 22:52:14 GMT</Creation-Time><Last-Modified>Wed, 27 Jan 2021 22:52:14
        GMT</Last-Modified><Expiry-Time>Sun, 31 Jan 2021 22:52:14 GMT</Expiry-Time><Etag>0x8D8C31630504E73</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5
        /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><ServerEncrypted>true</ServerEncrypted><DeletedTime>Wed,
        27 Jan 2021 22:52:14 GMT</DeletedTime><RemainingRetentionDays>3</RemainingRetentionDays></Properties><OrMetadata
        /></Blob><Blob><Name>dir2</Name><DeletionId>132562615345790096</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Wed,
        27 Jan 2021 22:52:14 GMT</Creation-Time><Last-Modified>Wed, 27 Jan 2021 22:52:14
        GMT</Last-Modified><Expiry-Time>Sun, 31 Jan 2021 22:52:14 GMT</Expiry-Time><Etag>0x8D8C3163059D058</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
    [...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jan 2021 22:52:14 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://sachinssoftdelete3.blob.core.windows.net/filesystemac201283?prefix=dir3/&showonly=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://sachinssoftdelete3.blob.core.windows.net/\" ContainerName=\"filesystemac201283\"><Prefix>dir3/</Prefix><Blobs><Blob><Name>dir3/file_in_dir3</Name><DeletionId>132562615346636843</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Wed,
        27 Jan 2021 22:52:14 GMT</Creation-Time><Last-Modified>Wed, 27 Jan 2021 22:52:14
        GMT</Last-Modified><Expiry-Time>Sun, 31 Jan 2021 22:52:14 GMT</Expiry-Time><Etag>0x8D8C316306D4F4E</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jan 2021 22:52:14 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://sachinssoftdelete3.blob.core.windows.net/filesystemac201283?maxResults=2&showonly=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://sachinssoftdelete3.blob.core.windows.net/\" ContainerName=\"filesystemac201283\"><MaxResults>2</MaxResults><Blobs><Blob><Name>dir1</Name><DeletionId>132562615345014937</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Wed,
        27 Jan 2021 22:52:14 GMT</Creation-Time><Last-Modified>Wed, 27 Jan 2021 22:52:14
        GMT</Last-Modified><Expiry-Time>Sun, 31 Jan 2021 22:52:14 GMT</Expiry-Time><Etag>0x8D8C31630504E73</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>AAAAAA[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 27 Jan 2021 22:52:14 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://sachinssoftdelete3.blob.core.windows.net/filesystemac201283?marker=2!252!MDAwMTQ0IU9USXdPVGt4TnpRM016WTJOVGczT1RJeE1pQXdJQzl6WVdOb2FXNXpjMjltZEdSbGJHVjBaVE1CTURGRU5rVkNPVE13TmtFNU1VWTBPQzhrZEhKaGMyZ3ZabWxzWlhONWMzUmxiV0ZqTWpBeE1qZ3pBVEF4UkRaR05FWkdNRVE1TlRVMlFrWUNMMlJwY2pNQyEwMDAwMjghMjAyMS0wMS0yN1QyMjo1MjoxNS4wMDg5NzA5WiE-&maxResults=4&showonly=deleted&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://sachinssoftdelete3.blob.core.windows.net/\" ContainerName=\"filesystemac201283\"><Marker>2!252!MDAwMTQ0IU9USXdPVGt4TnpRM016WTJOVGczT1RJeE1pQXdJQzl6WVdOb2FXNXpjMjltZEdSbGJHVjBaVE1CTURGRU5rVkNPVE13TmtFNU1VWTBPQzhrZEhKaGMyZ3ZabWxzWlhONWMzUmxiV0ZqTWpBeE1qZ3pBVEF4UkRaR05FWkdNRVE1TlRVMlFrWUNMMlJwY2pNQyEwMDAwMjghMjAyMS0wMS0yN1QyMjo1MjoxNS4wMDg5NzA5WiE-</Marker><MaxResults>4</MaxResults><Blobs><Blob><Name>dir3/file_in_dir3</Name><DeletionId>132562615346636843</DeletionId><Deleted>true</Deleted><Properties><Creation-Time>Wed,
        27 Jan 2021 22:52:14 GMT</Creation-Time><Last-Modified>Wed[...]
