{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystem36843324?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 03 Sep 2022 00:56:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8D473097EA49\u0022",
        "Last-Modified": "Sat, 03 Sep 2022 00:56:52 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem36843324/%2F?action=setAccessControl",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "x-ms-date": "Sat, 03 Sep 2022 00:56:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8D47309BB93F\u0022",
        "Last-Modified": "Sat, 03 Sep 2022 00:56:52 GMT",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystem36843324/%2F?action=getAccessControl\u0026upn=false",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 03 Sep 2022 00:56:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8D47309BB93F\u0022",
        "Last-Modified": "Sat, 03 Sep 2022 00:56:52 GMT",
        "x-ms-acl": "user::rwx,group::r-x,other::rwx",
        "x-ms-group": "$superuser",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rwxr-xrwx",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
