interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jan 2020 01:50:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.blob.core.windows.net/filesystem5c671a59?restype=container
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._multidict.istr
      - Date
      : Wed, 22 Jan 2020 01:50:10 GMT
      ? !!python/object/new:multidict._multidict.istr
      - Etag
      : '"0x8D79EDD6AC856B5"'
      ? !!python/object/new:multidict._multidict.istr
      - Last-Modified
      : Wed, 22 Jan 2020 01:50:11 GMT
      ? !!python/object/new:multidict._multidict.istr
      - Server
      : Windows-Azure-Blob/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - xiafuhns.blob.core.windows.net
        - /filesystem5c671a59
        - restype=container
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jan 2020 01:50:11 GMT
      x-ms-properties:
      - ''
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.dfs.core.windows.net/filesystem5c671a59/file0?resource=file
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._multidict.istr
      - Date
      : Wed, 22 Jan 2020 01:50:11 GMT
      ? !!python/object/new:multidict._multidict.istr
      - Etag
      : '"0x8D79EDD6AEB3FF5"'
      ? !!python/object/new:multidict._multidict.istr
      - Last-Modified
      : Wed, 22 Jan 2020 01:50:11 GMT
      ? !!python/object/new:multidict._multidict.istr
      - Server
      : Windows-Azure-HDFS/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - xiafuhns.dfs.core.windows.net
        - /filesystem5c671a59/file0
        - resource=file
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jan 2020 01:50:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.dfs.core.windows.net/filesystem5c671a59?recursive=true&upn=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","etag":"0x8D79EDD6AEB3FF5","group":"$superuser","lastModified":"Wed,
        22 Jan 2020 01:50:11 GMT","name":"file0","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"0","etag":"0x8D79EDD6AF4AE0A","group":"$superuser","lastModified":"Wed,
        22 Jan 2020 01:50:11 GMT","name":"file1","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"0","etag":"0x8D79EDD6AFE0F77","group":"$superuser","lastModified":"Wed,
        22 Jan 2020 01:50:11 GMT","name":"file2","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"0","etag":"0x8D79EDD6B077954","group":"$superuser","lastModified":"Wed,
        22 Jan 2020 01:[...]
