{
  "Entries": [
    {
      "RequestUri": "https://storagename.blob.core.windows.net/filesystemeb32dd?restype=container\u0026timeout=5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 17 Aug 2022 22:22:45 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA809F029EF8C1\u0022",
        "Last-Modified": "Wed, 17 Aug 2022 22:22:45 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.dfs.core.windows.net/filesystemeb32dd/directoryeb32dd?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-date": "Wed, 17 Aug 2022 22:22:45 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA809F02F5F3E2\u0022",
        "Last-Modified": "Wed, 17 Aug 2022 22:22:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
