{
  "Entries": [
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/filesystem9f612fa4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:26:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA9A966FC8AD7E\u0022",
        "Last-Modified": "Mon, 19 Sep 2022 23:26:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9f612fa4/file0?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:26:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA9A9670232322\u0022",
        "Last-Modified": "Mon, 19 Sep 2022 23:26:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9f612fa4/dir1?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:26:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA9A967043BAE4\u0022",
        "Last-Modified": "Mon, 19 Sep 2022 23:26:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9f612fa4/dir3%2Ffile_in_dir3?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:26:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA9A967073AB85\u0022",
        "Last-Modified": "Mon, 19 Sep 2022 23:26:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9f612fa4/dir3%2Fsubdir%2Ffile_in_subdir?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:26:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA9A967088D52D\u0022",
        "Last-Modified": "Mon, 19 Sep 2022 23:26:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9f612fa4/file0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:26:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133081036151333507",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9f612fa4/dir1?recursive=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:26:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133081036154761020",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9f612fa4/dir3%2Ffile_in_dir3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:26:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133081036158276672",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.dfs.core.windows.net/filesystem9f612fa4/dir3%2Fsubdir%2Ffile_in_subdir",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:26:55 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133081036160140417",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/filesystem9f612fa4?restype=container\u0026comp=list\u0026showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:26:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://storagesoftdelname.blob.core.windows.net/\u0022 ContainerName=\u0022filesystem9f612fa4\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Edir1\u003C/Name\u003E\u003CDeletionId\u003E133081036154761020\u003C/DeletionId\u003E\u003CDeleted\u003Etrue\u003C/Deleted\u003E\u003CPr[...]
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/filesystem9f612fa4?restype=container\u0026comp=list\u0026prefix=dir3/\u0026showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:26:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      [...]
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/filesystem9f612fa4?restype=container\u0026comp=list\u0026maxResults=2\u0026showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Mon, 19 Sep 2022 23:26:56 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      [...]
    {
      "RequestUri": "https://storagesoftdelname.blob.core.windows.net/filesystem9f612fa4?restype=container\u0026comp=list\u0026marker=2!256!MDAwMTQ4IVZCYnorTUhsclorczVORUJHRjhZV2k5MmFXNWpaVzUwZEhKaGJuTnZablJrWld4b2JuTXpBVEF4UkRoQ1JqTTBPVGczTmtFM01qTXZKSFJ5WVhOb0wyWnBiR1Z6ZVhOMFpXMDVaall4TW1aaE5BRXdNVVE0UTBNM1JqUkVOVEkwTkRnMEFpOWthWEl6QWhZQUFBQT0hMDAwMDI4ITIwMjItMDktMTlUMjM6MjY6NTYuNDg1NTUyMloh\u0026maxResults=4\u0026showonly=deleted",
      "RequestMethod": "GET",
      "RequestHeaders": {[...]
