interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_compute_test_containerdb8c0d41?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_containerdb8c0d41","name":"test_mgmt_compute_test_containerdb8c0d41","location":"westus","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "properties": {"masterProfile": {"count": 1, "dnsPrefix":
      "MasterPrefixTest"}, "linuxProfile": {"adminUsername": "acsLinuxAdmin", "ssh":
      {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAlj9UC6+57XWVu0fd6zqXa256EU9EZdoLGE3TqdZqu9fvUvLQOX2G0d5DmFhDCyTmWLQUx3/ONQ9RotYmHGymBIPQcpx43nnxsuihAILcpGZ5NjCj4IOYnmhdULxN4ti7k00S+udqokrRYpmwt0N4NA4VT9cN+7uJDL8Opqa1FYu0CT/RqSW+3aoQ0nfGj11axoxM37FuOMZ/c7mBSxvuI9NsDmcDQOUmPXjlgNlxrLzf6VcjxnJh4AO83zbyLok37mW/C7CuNK4WowjPO1Ix2kqRHRxBrzxYZ9xqZPc8GpFTw/dxJEYdJ3xlitbOoBoDgrL5gSITv6ESlNqjPk6kHQ==
      azureuser@linuxvm"}]}}, "agentPoolProfiles": [{"name": "AgentPool1", "count":
      3, "dnsPrefix": "AgentPrefixTest", "vmSize": "Standard_A1"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_containerdb8c0d41/providers/Microsoft.ContainerService/containerServices/pycontainerdb8c0d41?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_containerdb8c0d41/providers/Microsoft.ContainerService/containerServices/pycontainerdb8c0d41\"\
        ,\r\n  \"name\": \"pycontainerdb8c0d41\",\r\n  \"type\": \"Microsoft.ContainerService/ContainerServices\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Creating\",\r\n    \"orchestratorProfile\": {\r\n      \"orchestratorType\"\
        : \"DCOS\"\r\n    },\r\n    \"masterProfile\": {\r\n      \"count\": 1,\r\n\
        \      \"dnsPrefix\": \"MasterPrefixTest\"\r\n    },\r\n    \"agentPoolProfiles\"\
        : [\r\n      {\r\n        \"name\": \"AgentPool1\",\r\n        \"count\":\
        \ 3,\r\n        \"vmSize\": \"Standard_A1\",\r\n        \"dnsPrefix\": \"\
        AgentPrefixTest\",\r\n        \"osType\": \"Linux\"\r\n      }\r\n    ],\r\
        \n    \"linuxProfile\": {\r\n      \"ssh\": {\r\n        \"publicKeys\": [\r\
        \n          {\r\n            \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAlj9UC6+57XWVu0fd6zqXa256EU9EZdoLGE3TqdZqu9fvUvLQOX2G0d5DmFhDCyTmWLQUx3/ONQ9RotYmHGymBIPQcpx43nnxsuihAILcpGZ5NjCj4IOYnmhdULxN4ti7k00S+udqokrRYpmwt0N4NA4VT9cN+7uJDL8Opqa1FYu0CT/RqSW+3aoQ0nfGj11axoxM37FuOMZ/c7mBSxvuI9NsDmcDQOUmPXjlgNlxrLzf6VcjxnJh4AO83zbyLok37mW/C7CuNK4WowjPO1Ix2kqRHRxBrzxYZ9xqZPc8GpFTw/dxJEYdJ3xlitbOoBoDgrL5gSITv6ESlNqjPk6kHQ==\
        \ azureuser@linuxvm\"\r\n          }\r\n        ]\r\n      },\r\n      \"\
        adminUsername\": \"acsLinuxAdmin\"\r\n    },\r\n    \"diagnosticsProfile\"\
        : {\r\n      \"vmDiagnostics\": {\r\n        \"enabled\": true\r\n      }\r\
        \n    }\r\n  }\r\n}"}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/125e8c7f-3554-438c-869a-bd81c9778317?api-version=2016-03-30']
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/125e8c7f-3554-438c-869a-bd81c9778317?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2016-07-14T19:05:40.5827833+00:00\",\r\
        \n  \"status\": \"InProgress\",\r\n  \"name\": \"125e8c7f-3554-438c-869a-bd81c9778317\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14994']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/125e8c7f-3554-438c-869a-bd81c9778317?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2016-07-14T19:05:40.5827833+00:00\",\r\
        \n  \"endTime\": \"2016-07-14T19:26:57.7239735+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"125e8c7f-3554-438c-869a-bd81c9778317\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14997']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_containerdb8c0d41/providers/Microsoft.ContainerService/containerServices/pycontainerdb8c0d41?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_containerdb8c0d41/providers/Microsoft.ContainerService/containerServices/pycontainerdb8c0d41\"\
        ,\r\n  \"name\": \"pycontainerdb8c0d41\",\r\n  \"type\": \"Microsoft.ContainerService/ContainerServices\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"orchestratorProfile\": {\r\n      \"orchestratorType\"\
        : \"DCOS\"\r\n    },\r\n    \"masterProfile\": {\r\n      \"count\": 1,\r\n\
        \      \"dnsPrefix\": \"MasterPrefixTest\",\r\n      \"fqdn\": \"masterprefixtest.westus.cloudapp.azure.com\"\
        \r\n    },\r\n    \"agentPoolProfiles\": [\r\n      {\r\n        \"name\"\
        : \"AgentPool1\",\r\n        \"count\": 3,\r\n        \"vmSize\": \"Standard_A1\"\
        ,\r\n        \"dnsPrefix\": \"AgentPrefixTest\",\r\n        \"fqdn\": \"agentprefixtest.westus.cloudapp.azure.com\"\
        ,\r\n        \"osType\": \"Linux\"\r\n      }\r\n    ],\r\n    \"linuxProfile\"\
        : {\r\n      \"ssh\": {\r\n        \"publicKeys\": [\r\n          {\r\n  \
        \          \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAlj9UC6+57XWVu0fd6zqXa256EU9EZdoLGE3TqdZqu9fvUvLQOX2G0d5DmFhDCyTmWLQUx3/ONQ9RotYmHGymBIPQcpx43nnxsuihAILcpGZ5NjCj4IOYnmhdULxN4ti7k00S+udqokrRYpmwt0N4NA4VT9cN+7uJDL8Opqa1FYu0CT/RqSW+3aoQ0nfGj11axoxM37FuOMZ/c7mBSxvuI9NsDmcDQOUmPXjlgNlxrLzf6VcjxnJh4AO83zbyLok37mW/C7CuNK4WowjPO1Ix2kqRHRxBrzxYZ9xqZPc8GpFTw/dxJEYdJ3xlitbOoBoDgrL5gSITv6ESlNqjPk6kHQ==\
        \ azureuser@linuxvm\"\r\n          }\r\n        ]\r\n      },\r\n      \"\
        adminUsername\": \"acsLinuxAdmin\"\r\n    },\r\n    \"diagnosticsProfile\"\
        : {\r\n      \"vmDiagnostics\": {\r\n        \"enabled\": true,\r\n      \
        \  \"storageUri\": \"https://qzyj2kyynol56diag0.blob.core.windows.net/\"\r\
        \n      }\r\n    }\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14996']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_containerdb8c0d41/providers/Microsoft.ContainerService/containerServices?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/TEST_MGMT_COMPUTE_TEST_CONTAINERDB8C0D41/providers/Microsoft.ContainerService/containerServices/pycontainerdb8c0d41\"\
        ,\r\n      \"name\": \"pycontainerdb8c0d41\",\r\n      \"type\": \"Microsoft.ContainerService/ContainerServices\"\
        ,\r\n      \"location\": \"westus\",\r\n      \"properties\": {\r\n      \
        \  \"provisioningState\": \"Succeeded\",\r\n        \"orchestratorProfile\"\
        : {\r\n          \"orchestratorType\": \"DCOS\"\r\n        },\r\n        \"\
        masterProfile\": {\r\n          \"count\": 1,\r\n          \"dnsPrefix\":\
        \ \"MasterPrefixTest\",\r\n          \"fqdn\": \"masterprefixtest.westus.cloudapp.azure.com\"\
        \r\n        },\r\n        \"agentPoolProfiles\": [\r\n          {\r\n    \
        \        \"name\": \"AgentPool1\",\r\n            \"count\": 3,\r\n      \
        \      \"vmSize\": \"Standard_A1\",\r\n            \"dnsPrefix\": \"AgentPrefixTest\"\
        ,\r\n            \"fqdn\": \"agentprefixtest.westus.cloudapp.azure.com\",\r\
        \n            \"osType\": \"Linux\"\r\n          }\r\n        ],\r\n     \
        \   \"linuxProfile\": {\r\n          \"ssh\": {\r\n            \"publicKeys\"\
        : [\r\n              {\r\n                \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAlj9UC6+57XWVu0fd6zqXa256EU9EZdoLGE3TqdZqu9fvUvLQOX2G0d5DmFhDCyTmWLQUx3/ONQ9RotYmHGymBIPQcpx43nnxsuihAILcpGZ5NjCj4IOYnmhdULxN4ti7k00S+udqokrRYpmwt0N4NA4VT9cN+7uJDL8Opqa1FYu0CT/RqSW+3aoQ0nfGj11axoxM37FuOMZ/c7mBSxvuI9NsDmcDQOUmPXjlgNlxrLzf6VcjxnJh4AO83zbyLok37mW/C7CuNK4WowjPO1Ix2kqRHRxBrzxYZ9xqZPc8GpFTw/dxJEYdJ3xlitbOoBoDgrL5gSITv6ESlNqjPk6kHQ==\
        \ azureuser@linuxvm\"\r\n              }\r\n            ]\r\n          },\r\
        \n          \"adminUsername\": \"acsLinuxAdmin\"\r\n        },\r\n       \
        \ \"diagnosticsProfile\": {\r\n          \"vmDiagnostics\": {\r\n        \
        \    \"enabled\": true,\r\n            \"storageUri\": \"https://qzyj2kyynol56diag0.blob.core.windows.net/\"\
        \r\n          }\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14997']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_compute_test_containerdb8c0d41/providers/Microsoft.ContainerService/containerServices/pycontainerdb8c0d41?api-version=2016-03-30
  response:
    body: {string: ''}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/bf2b8420-b2e7-4e4d-95cd-6adc3df88825?api-version=2016-03-30']
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/bf2b8420-b2e7-4e4d-95cd-6adc3df88825?monitor=true&api-version=2016-03-30']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus/operations/bf2b8420-b2e7-4e4d-95cd-6adc3df88825?api-version=2016-03-30
  response:
    body: {string: "{\r\n  \"startTime\": \"2016-07-14T19:27:07.0063858+00:00\",\r\
        \n  \"endTime\": \"2016-07-14T19:27:07.1157787+00:00\",\r\n  \"status\": \"\
        Succeeded\",\r\n  \"name\": \"bf2b8420-b2e7-4e4d-95cd-6adc3df88825\"\r\n}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14981']
    status: {code: 200, message: OK}
version: 1
