interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods?api-version=2017-04-24-preview&$filter=billingPeriodEndDate%20gt%202017-02-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201706-1","type":"Microsoft.Billing/billingPeriods","name":"201706-1","properties":{"billingPeriodStartDate":"2017-04-27","billingPeriodEndDate":"2017-05-26"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201705-1","type":"Microsoft.Billing/billingPeriods","name":"201705-1","properties":{"billingPeriodStartDate":"2017-03-27","billingPeriodEndDate":"2017-04-26","invoiceIds":["/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201705-217089190378988"]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201704-1","type":"Microsoft.Billing/billingPeriods","name":"201704-1","properties":{"billingPeriodStartDate":"2017-02-27","billingPeriodEndDate":"2017-03-26","invoiceIds":["/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201704-117949190364043"]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201703-1","type":"Microsoft.Billing/billingPeriods","name":"201703-1","properties":{"billingPeriodStartDate":"2017-01-27","billingPeriodEndDate":"2017-02-26"}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['99']
    status: {code: 200, message: OK}
version: 1
