interactions:
- request:
    body: '{"location": "East US 2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c","name":"test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c","location":"eastus2","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "East US 2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeStore/accounts/pyarmadls232e3152c?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"a49b399b-10cd-4cf8-b2a3-2ea981ec0ba6","creationTime":null,"lastModifiedTime":null},"location":"East
        US 2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeStore/accounts/pyarmadls232e3152c","name":"pyarmadls232e3152c","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/a49b399b-10cd-4cf8-b2a3-2ea981ec0ba60?api-version=2016-11-01&expanded=true']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeStore/accounts/pyarmadls232e3152c/operationresults/0?api-version=2016-11-01']
      Retry-After: ['0']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/a49b399b-10cd-4cf8-b2a3-2ea981ec0ba60?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14998']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeStore/accounts/pyarmadls232e3152c?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"encryptionState":"Enabled","encryptionConfig":{"type":"ServiceManaged"},"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"pyarmadls232e3152c.azuredatalakestore.net","accountId":"a49b399b-10cd-4cf8-b2a3-2ea981ec0ba6","creationTime":"2017-04-20T21:03:45.9172677Z","lastModifiedTime":"2017-04-20T21:03:45.9172677Z"},"location":"East
        US 2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeStore/accounts/pyarmadls232e3152c","name":"pyarmadls232e3152c","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "East US 2", "properties": {"queryStoreRetention": 30, "dataLakeStoreAccounts":
      [{"name": "pyarmadls232e3152c"}], "defaultDataLakeStoreAccount": "pyarmadls232e3152c",
      "maxDegreeOfParallelism": 30, "maxJobCount": 3}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla232e3152c?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"defaultDataLakeStoreAccount":"pyarmadls232e3152c","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"pyarmadls232e3152c"}],"maxDegreeOfParallelism":30,"maxJobCount":3,"queryStoreRetention":30,"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"86c20948-068b-456b-864d-190cca01454d","creationTime":null,"lastModifiedTime":null},"location":"East
        US 2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla232e3152c","name":"pyarmadla232e3152c","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/86c20948-068b-456b-864d-190cca01454d0?api-version=2016-11-01&expanded=true']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla232e3152c/operationresults/0?api-version=2016-11-01']
      Retry-After: ['0']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/86c20948-068b-456b-864d-190cca01454d0?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla232e3152c?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallRules":[],"defaultDataLakeStoreAccount":"pyarmadls232e3152c","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"pyarmadls232e3152c"}],"storageAccounts":[],"maxDegreeOfParallelism":30,"maxJobCount":3,"systemMaxDegreeOfParallelism":250,"systemMaxJobCount":20,"queryStoreRetention":30,"hiveMetastores":[],"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"pyarmadla232e3152c.azuredatalakeanalytics.net","accountId":"86c20948-068b-456b-864d-190cca01454d","creationTime":"2017-04-20T21:04:41.5864697Z","lastModifiedTime":"2017-04-20T21:04:41.5864697Z"},"location":"East
        US 2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_items32e3152c/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla232e3152c","name":"pyarmadla232e3152c","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: OK}
- request:
    body: '{"degreeOfParallelism": 2, "type": "USql", "properties": {"script": "DROP
      DATABASE IF EXISTS adladb32e3152c; CREATE DATABASE adladb32e3152c; \nCREATE
      TABLE adladb32e3152c.dbo.adlatable32e3152c\n(\n        //Define schema of table\n        UserId          int,
      \n        Start           DateTime, \n        Region          string, \n        Query           string,
      \n        Duration        int, \n        Urls            string, \n        ClickedUrls     string,\n    INDEX
      idx1 \n    CLUSTERED (Region ASC) \n    PARTITIONED BY (UserId)[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000?api-version=2016-11-01
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"testjob32e3152c","type":"USql","submitter":"adlsvc01@myaddomain.onmicrosoft.com","degreeOfParallelism":2,"priority":1000,"submitTime":"2017-04-20T21:07:15.8828348+00:00","state":"Compiling","result":"None","stateAuditRecords":[{"newState":"New","timeStamp":"2017-04-20T21:07:15.8828348+00:00","details":"userName:;submitMachine:N/A"},{"newState":"Compiling","timeStamp":"2017-04-20T21:07:16.3515964+00:00","details":"CcsAttempts:1;Status:Dispatched"}],"properties":{"owner":"adlsvc01@myaddomain.onmicrosoft.com","resources":[{"name":"Profile","resourcePath":"adl://pyarmadls232e3152c.azuredatalakestore.net/system/jobservice/jobs/Usql/2017/04/20/21/07/00000000-0000-0000-0000-000000000000/profile","type":"StatisticsResource"},{"name":"__ScopeRuntimeStatistics__.xml","resourcePath":"adl://pyarmadls232e3152c.azuredatalakestore.net/system/jobservice/jobs/Usql/2017/04/20/21/07/00000000-0000-0000-0000-000000000000/__ScopeRuntimeStatistics__.xml","type":"StatisticsResource"}],"runtimeVersion":"default","rootProcessNodeId":"00000000-0000-0000-0000-000000000000","script":"DROP
        DATABASE IF EXISTS adladb32e3152c; CREATE DATABASE adladb32e3152c; \nCREATE
        TABLE adladb32e3152c.dbo.adlatable32e3152c\n(\n        //Define schema of
        table\n        UserId          int, \n        Start           DateTime, \n        Region          string,
        \n        Query           string, \n        Duration        int, \n        Urls            string,
        \n        ClickedUrls     string,\n    INDEX idx1 \[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000?api-version=2016-11-01
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"testjob32e3152c","type":"USql","submitter":"adlsvc01@myaddomain.onmicrosoft.com","degreeOfParallelism":2,"priority":1000,"submitTime":"2017-04-20T21:07:15.8828348+00:00","startTime":"2017-04-20T21:07:42.4613361+00:00","state":"Running","result":"None","stateAuditRecords":[{"newState":"New","timeStamp":"2017-04-20T21:07:15.8828348+00:00","details":"userName:;submitMachine:N/A"},{"newState":"Compiling","timeStamp":"2017-04-20T21:07:16.3515964+00:00","details":"CcsAttempts:1;Status:Dispatched"},{"newState":"Queued","timeStamp":"2017-04-20T21:07:31.2267837+00:00"},{"newState":"Scheduling","timeStamp":"2017-04-20T21:07:31.2580525+00:00","details":"Detail:Dispatching
        job [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000?api-version=2016-11-01
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"testjob32e3152c","type":"USql","submitter":"adlsvc01@myaddomain.onmicrosoft.com","degreeOfParallelism":2,"priority":1000,"submitTime":"2017-04-20T21:07:15.8828348+00:00","startTime":"2017-04-20T21:07:42.4613361+00:00","endTime":"2017-04-20T21:07:48.5551685+00:00","state":"Ended","result":"Succeeded","stateAuditRecords":[{"newState":"New","timeStamp":"2017-04-20T21:07:15.8828348+00:00","details":"userName:;submitMachine:N/A"},{"newState":"Compiling","timeStamp":"2017-04-20T21:07:16.3515964+00:00","details":"CcsAttempts:1;Status:Dispatched"},{"newState":"Queued","timeStamp":"2017-04-20T21:07:31.2267837+00:00"},{"newState":"Scheduling","timeStamp":"2017-04-20T21:07:31.2580525+00:00","details":"Detail:Dispatching
        j[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#databases\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"pyarmadla232e3152c\"\
        ,\"databaseName\":\"adladb32e3152c\",\"version\":\"cbdc49f0-d441-476a-85f6-f850cb36290b\"\
        \r\n    },{\r\n      \"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\"\
        :\"master\",\"version\":\"1c850b7e-dca7-4c6b-987e-d8ed8d62cffd\"\r\n    }\r\
        \n  ]\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#databases/$entity\"\
        ,\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\"\
        ,\"version\":\"cbdc49f0-d441-476a-85f6-f850cb36290b\"\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tables?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tables\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"pyarmadla232e3152c\"\
        ,\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"tableName\"\
        :\"adlatable32e3152c\",\"columnList\":[\r\n        {\r\n          \"name\"\
        :\"UserId\",\"type\":\"System.Int32\"\r\n        },{\r\n          \"name\"\
        :\"Start\",\"type\":\"System.DateTime\"\r\n        },{\r\n          \"name\"\
        :\"Region\",\"type\":\"System.String\"\r\n        },{\r\n          \"name\"\
        :\"Query\",\"type\":\"System.String\"\r\n        },{\r\n          \"name\"\
        :\"Duration\",\"type\":\"System.Int32\"\r\n        },{\r\n          \"name\"\
        :\"Urls\",\"type\":\"System.String\"\r\n        },{\r\n          \"name\"\
        :\"ClickedUrls\",\"type\":\"System.String\"\r\n        }\r\n      ],\"indexList\"\
        :[\r\n        {\r\n          \"name\":\"idx1\",\"indexKeys\":[\r\n       \
        \     {\r\n              \"name\":\"Region\",\"descending\":false\r\n    \
        \        }\r\n          ],\"columns\":[\r\n            \"Region\",\"UserId\"\
        \r\n          ],\"distributionInfo\":{\r\n            \"type\":2,\"keys\"\
        :[\r\n              {\r\n                \"name\":\"Region\",\"descending\"\
        :false\r\n              }\r\n            ],\"count\":0,\"dynamicCount\":0\r\
        \n          },\"partitionFunction\":\"d9b79d53-7ee7-407d-821c-650c075485a1\"\
        ,\"partitionKeyList\":[\r\n            \"UserId\"\r\n          ],\"isColumnstore\"\
        :false,\"indexId\":1,\"isUnique\":false\r\n        }\r\n      ],\"partitionKeyList\"\
        :[\r\n        \r\n      ],\"externalTable\":null,\"distributionInfo\":null,\"\
        version\":\"659eafba-8c53-4a5c-825a-9c37c22671a5\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/tables?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tables\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"pyarmadla232e3152c\"\
        ,\"databaseName\":\"adladb[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tables/adlatable32e3152c?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tables/$entity\"\
        ,\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\"\
        ,\"schemaName\":\"dbo\",\"tableName\":\"adlatable32e3152c\",\"columnList\"\
        :[\r\n    {\r\n      \"name\":\"UserId\",\"type\":\"System.Int32\"\r\n   \
        \ },{\r\n      \"name\":\"Start\",\"type\":\"System.DateTime\"\r\n    },{\r\
        \n      \"name\":\"Region\",\"type\":\"System.String\"\r\n    },{\r\n    \
        \  \"name\":\"Query\",\"type\":\"System.String\"\r\n    },{\r\n      \"name\"\
        :\"Duration\",\"type\":\"System.Int32\"\r\n    },{\r\n      \"name\":\"Urls\"\
        ,\"type\":\"System.String\"\r\n    },{\r\n      \"name\":\"ClickedUrls\",\"\
        type\":\"System.String\"\r\n    }\r\n  ],\"indexList\":[\r\n    {\r\n    \
        \  \"name\":\"idx1\",\"indexKeys\":[\r\n        {\r\n          \"name\":\"\
        Region\",\"descending\":false\r\n        }\r\n      ],\"columns\":[\r\n  \
        \      \"Region\",\"UserId\"\r\n      ],\"distributionInfo\":{\r\n       \
        \ \"type\":2,\"keys\":[\r\n          {\r\n            \"name\":\"Region\"\
        ,\"descending\":false\r\n          }\r\n        ],\"count\":0,\"dynamicCount\"\
        :0\r\n      },\"partitionFunction\":\"d9b79d53-7ee7-407d-821c-650c075485a1\"\
        ,\"partitionKeyList\":[\r\n        \"UserId\"\r\n      ],\"isColumnstore\"\
        :false,\"indexId\":1,\"isUnique\":false\r\n    }\r\n  ],\"partitionKeyList\"\
        :[\r\n    \r\n  ],\"externalTable\":null,\"distributionInfo\":null,\"version\"\
        :\"659eafba-8c53-4a5c-825a-9c37c22671a5\"\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tablevaluedfunctions?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"pyarmadla232e3152c\"\
        ,\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"tvfName\":\"\
        adlatvf32e3152c\",\"definition\":\"CREATE FUNCTION adladb32e3152c.dbo.adlatvf32e3152c()\\\
        nRETURNS @result TABLE\\n(\\n    s_date DateTime,\\n    s_time string,\\n\
        \    s_sitename string,\\n    cs_method string, \\n    cs_uristem string,\\\
        n    cs_uriquery string,\\n    s_port int,\\n    cs_username string, \\n \
        \   c_ip string,\\n    cs_useragent string,\\n    cs_cookie string,\\n   \
        \ cs_referer string, \\n    cs_host string,\\n    sc_status int,\\n    sc_substatus\
        \ int,\[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/tablevaluedfunctions?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"pyarmadla232e3152c\"\
      [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tablevaluedfunctions/adlatvf32e3152c?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions/$entity\"\
        ,\"computeAccountName\":\"pyarmadla232e3152c\",\[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/views?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#views\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"pyarmadla232e3152c\"\
        ,\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"viewName\":\"\
        adlaview32e3152c\",\"definition\":\"CREATE VIEW adladb32e3152c.dbo.adlaview32e3152c\
        \ \\nAS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    )\
        \ \\nAS \\nT(a, b);\",\"version\":\"f845ffd0-78b2-4da0-a8a3-473180dd01ee\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/views?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#views\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"pyarmadla232e3152c\"\
        ,\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"viewName\":\"\
        adlaview32e3152c\",\"definition\":\"CREATE VIEW adladb32e3152c.dbo.adlaview32e3152c\
        \ \\nAS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    )\
        \ \\nAS \\nT(a, b);\",\"version\":\"f845ffd0-78b2-4da0-a8a3-473180dd01ee\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/views/adlaview32e3152c?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#views/$entity\"\
        ,\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\"\
        ,\"schemaName\":\"dbo\",\"viewName\":\"adlaview32e3152c\",\"definition\":\"\
        CREATE VIEW adladb32e3152c.dbo.adlaview32e3152c \\nAS \\n    SELECT * FROM\
        \ \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\nAS \\nT(a, b);\",\"version\"\
        :\"f845ffd0-78b2-4da0-a8a3-473180dd01ee\"\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/procedures?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#procedures\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"pyarmadla232e3152c\"\
        ,\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"procName\":\"\
        adlaproc32e3152c\",\"definition\":\"CREATE PROCEDURE adladb32e3152c.dbo.adlaproc32e3152c()\\\
        nAS BEGIN\\n  CREATE VIEW adladb32e3152c.dbo.adlaview32e3152c \\n  AS \\n\
        \    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\n  AS \\\
        n  T(a, b);\\nEND;\",\"version\":\"a2675346-4dd1-4674-993e-062a7c02cbb1\"\r\
        \n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/procedures/adlaproc32e3152c?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#procedures/$entity\"\
        ,\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\"\
        ,\"schemaName\":\"dbo\",\"procName\":\"adlaproc32e3152c\",\"definition\":\"\
        CREATE PROCEDURE adladb32e3152c.dbo.adlaproc32e3152c()\\nAS BEGIN\\n  CREATE\
        \ VIEW adladb32e3152c.dbo.adlaview32e3152c \\n  AS \\n    SELECT * FROM \\\
        n    (\\n        VALUES(1,2),(2,4)\\n    ) \\n  AS \\n  T(a, b);\\nEND;\"\
        ,\"version\":\"a2675346-4dd1-4674-993e-062a7c02cbb1\"\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tables/adlatable32e3152c/partitions?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#partitions\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"pyarmadla232e3152c\"\
        ,\"databaseName\":\"adladb32e3152c\",\"schemaName\":\"dbo\",\"partitionName\"\
        :\"adlatable32e3152c_Partition_9b053cb2-3005-4b2d-b057-8e960620b90c\",\"indexId\"\
        :1,\"label\":[\r\n        \"1\"\r\n      ],\"createDate\":\"2017-04-20T21:07:39.047-07:00\"\
        ,\"parentName\":{\r\n        \"server\":\"86c20948-068b-456b-864d-190cca01454d\"\
        ,\"firstPart\":\"adladb32e3152c\",\"secondPart\":\"dbo\",\"thirdPart\":\"\
        adlatable32e3152c\",\"fourthPart\":null\r\n      },\"version\":\"78963242-64d9-4652-83b3-0157012187f9\"\
        \r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/tables/adlatable32e3152c/partitions/adlatable32e3152c_Partition_9b053cb2-3005-4b2d-b057-8e960620b90c?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#partitions/$entity\"\
        ,\"computeAccountName\":\"pyarmadla232e3152c\",\"databaseName\":\"adladb32e3152c\"\
        ,\"schemaName\":\"dbo\",\"partitionName\":\"adlatable32e3152c_Partition_9b053cb2-3005-4b2d-b057-8e960620b90c\"\
        ,\"indexId\":1,\"label\":[\r\n    \"1\"\r\n  ],\"createDate\":\"2017-04-20T21:07:39.047-07:00\"\
        ,\"parentName\":{\r\n    \"server\":\"86c20948-068b-456b-864d-190cca01454d\"\
        ,\"firstPart\":\"adladb32e3152c\",\"secondPart\":\"dbo\",\"thirdPart\":\"\
        adlatable32e3152c\",\"fourthPart\":null\r\n  },\"version\":\"78963242-64d9-4652-83b3-0157012187f9\"\
        \r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla232e3152c.azuredatalakeanalytics.net/catalog/usql/databases/adladb32e3152c/schemas/dbo/types?api-version=2016-11-01
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla232e3152c.azuredatalakeanalytics.net/sqlip/$metadata#types\"\
        ,\"value\":[\r\n    {\r\n      \"computeAccountName\":\"pyarmadla232e3152c\"\
        ,\"databaseName\":\"master\",\"schemaName\":\"sys\",\"typeName\":\"Microsoft.Analytics.Types.Sql.SqlArray\"\
[...]
