interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_eventhub_test_namespacee8ca0d8f/providers/Microsoft.EventHub/namespaces/pyarmnse8ca0d8f?api-version=2017-04-01
  response:
    body: {string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_eventhub_test_namespacee8ca0d8f/providers/Microsoft.EventHub/namespaces/pyarmnse8ca0d8f","name":"pyarmnse8ca0d8f","type":"Microsoft.EventHub/Namespaces","location":"West
        US","tags":{},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"provisioningState":"Created","metricId":"00000000-0000-0000-0000-000000000000:pyarmnse8ca0d8f","createdAt":"2017-06-27T21:26:12.06Z","updatedAt":"2017-06-27T21:26:12.06Z","serviceBusEndpoint":"https://pyarmnse8ca0d8f.servicebus.windows.net:443/"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Server-SB: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_eventhub_test_namespacee8ca0d8f/providers/Microsoft.EventHub/namespaces?api-version=2017-04-01
  response:
    body: {string: '{"value":[{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_eventhub_test_namespacee8ca0d8f/providers/Microsoft.EventHub/namespaces/pyarmnse8ca0d8f","name":"pyarmnse8ca0d8f","type":"Microsoft.EventHub/Namespaces","location":"West
        US","tags":{},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"provisioningState":"Succeeded","metricId":"00000000-0000-0000-0000-000000000000:pyarmnse8ca0d8f","createdAt":"2017-06-27T21:26:12.06Z","updatedAt":"2017-06-27T21:26:36.25Z","serviceBusEndpoint":"https://pyarmnse8ca0d8f.servicebus.windows.net:443/"}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Server-SB: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_eventhub_test_namespacee8ca0d8f/providers/Microsoft.EventHub/namespaces/pyarmnse8ca0d8f?api-version=2017-04-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_eventhub_test_namespacee8ca0d8f/providers/Microsoft.EventHub/namespaces/pyarmnse8ca0d8f/operationresults/pyarmnse8ca0d8f?api-version=2017-04-01']
      Server-SB: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_eventhub_test_namespacee8ca0d8f/providers/Microsoft.EventHub/namespaces/pyarmnse8ca0d8f/operationresults/pyarmnse8ca0d8f?api-version=2017-04-01
  response:
    body: {string: ''}
    headers:
      Server-SB: [Service-Bus-Resource-Provider/SN1]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: OK}
version: 1
