interactions:
- request:
    body: '{"contacts": [{"phone": "1111111111", "email": "admin@contoso.com", "name":
      "John Doe"}, {"phone": "2222222222", "email": "admin2@contoso.com", "name":
      "John Doe2"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://python-sdk-test-keyvault.vault.azure.net/certificates/contacts?api-version=2015-06-01
  response:
    body: {string: '{"id":"https://python-sdk-test-keyvault.vault.azure.net/certificates/contacts","contacts":[{"email":"admin@contoso.com","name":"John
        Doe","phone":"1111111111"},{"email":"admin2@contoso.com","name":"John Doe2","phone":"2222222222"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://python-sdk-test-keyvault.vault.azure.net/certificates/contacts?api-version=2015-06-01
  response:
    body: {string: '{"error":{"code":"ContactsNotFound","message":"Contacts not found"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://python-sdk-test-keyvault.vault.azure.net/certificates/contacts?api-version=2016-10-01
  response:
    body: {string: '{"error":{"code":"ContactsNotFound","message":"Contacts not found"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
version: 1
