interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azkv-pytest?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azkv-pytest","name":"azkv-pytest","location":"westus","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "properties": {"tenantId": "00000000-0000-0000-0000-000000000000",
      "enabledForDeployment": true, "enabledForDiskEncryption": true, "enabledForTemplateDeployment":
      true, "accessPolicies": [{"tenantId": "00000000-0000-0000-0000-000000000000",
      "objectId": "00000000-0000-0000-0000-000000000000", "permissions": {"certificates":
      ["get", "list", "delete", "create", "import", "update", "managecontacts", "getissuers",
      "listissuers", "setissuers", "deleteissuers", "manageissuers", "recover", "purge"],
      "keys": ["encrypt", "decrypt", "wrapKey", "unwrapKey", "sign", "verify", "get",
      "list", "create", "update", "import", "delete", "backup", "restore", "recover",
      "purge"], "secrets": ["get", "list", "set", "delete", "backup", "restore", "recover",
      "purge"], "storage": ["get", "list", "delete", "set", "update", "regeneratekey",
      "setsas", "listsas", "getsas", "deletesas"]}}], "sku": {"name": "premium", "family":
      "A"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azkv-pytest/providers/Microsoft.KeyVault/vaults/pytest-shared-vault?api-version=2018-02-14-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azkv-pytest/providers/Microsoft.KeyVault/vaults/pytest-shared-vault","name":"pytest-shared-vault","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"00000000-0000-0000-0000-000000000000","permissions":{"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover","purge"],"keys":["encrypt","decrypt","wrapKey","unwrapKey","sign","verify","get","list","create","update","import","delete","backup","restore","recover","purge"],"secrets":["get","list","set","delete","backup","restore","recover","purge"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"vaultUri":"https://pytest-shared-vault.vault.azure.net/"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 200, message: OK}
- request:
    body: '{"policy": {"x509_props": {"validity_months": 24, "sans": {"dns_names":
      ["onedrive.microsoft.com", "xbox.microsoft.com"]}, "subject": "CN=*.microsoft.com"},
      "key_props": {"exportable": true, "kty": "RSA", "key_size": 2048, "reuse_key":
      false}, "secret_props": {"contentType": "application/x-pkcs12"}, "issuer": {"name":
      "Self"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/create?api-version=7.0-preview
  response:
    body: {string: '{"id":"https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/pending","issuer":{"name":"Self"},"csr":"MIIC4zCCAcsCAQAwGjEYMBYGA1UEAwwPKi5taWNyb3NvZnQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAlbG0TROXjdmWvD3gh+OR4D8YBa1zBRs4wSjCKDNEeG9dq1R76UKzhGgBLgzOO4bvq+iyw7dQ9yLpNE+UxhmL+LBOsqxrvQGob+1MA1xoBBs7Nu08c8+dTNSY8s2cEFEP/noi6hg8t7+HN6FZknZJ1L69KP6LHXRaDAMT/A8cRokW9gBKh0vQSZTOACSw5HFpC2dM9UzHI147VuGjSfnf0uY4/g/XePRN6S/BXz5OYrUFt9ihXBc9JKynWn63faTO0csimP38CM0Htrz3eCuGiu8vt6N4KUfBLDydiBBDJFgfamwCV3pg3UWXUC21rp0L6hik3euZImN0ZCFLkq6W3wIDAQABoIGDMIGABgkqhkiG9w0BCQ4xczBxMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwNQYDVR0RBC4wLIIWb25lZHJpdmUubWljcm9zb2Z0LmNvbYISeGJveC5taWNyb3NvZnQuY29tMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAD74Z0nZUCpm/QGlAcPdHtrmr1hWQANk+z18R9Y6x66tuNbmcOWxALefzWHqGVq4IJlisZ+WAGk2MTUds9/gqsZDLn+2NS5MAWFiseYsNpKCOsWQNh6gwcbtUtcWU2uZoPl3AC3NxQU3Xp1eZ1Wek9NRFsX0jXdKTM0S0kL4Kyaz8QK8vzihSHScKOADRjC3w8Sngumd+/rm8BAtljiRjKGNShw7/ZFe7kda+jwj47G6RfcxkuZ1LnzdEpWBROKiy5r3R7GlT55afJp0GiPtUTD9FTAA+BHSYBFN/MXVJti5Gt7+9y/afEDCETS7CvFbFsl6qtah8mri9UsaPU4W/ig=","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"8e61c0dfe1f049fca58fb07d10174229"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/pending?api-version=7.0-preview&request_id=8e61c0dfe1f049fca58fb07d10174229']
      Retry-After: ['0']
    status: {code: 202, message: Accepted}
- request:
    body: '{"cancellation_requested": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/pending?api-version=7.0-preview
  response:
    body: {string: '{"id":"https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/pending","issuer":{"name":"Self"},"csr":"MIIC4zCCAcsCAQAwGjEYMBYGA1UEAwwPKi5taWNyb3NvZnQuY29tMIIBIjANBgkqhkiG9w0BAQ[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/pending?api-version=7.0-preview
  response:
    body: {string: '{"error":{"code":"PendingCertificateNotFound","message":"Pending
        certificate not found: asyncCanceledDeletedCert"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert?api-version=7.0-preview
  response:
    body: {string: '{"id":"https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/73317c36b42d44f9b654ca9cadc3c15c","attributes":{"enabled":false,"nbf":1496766361,"exp":1559838961,"created":1496766962,"updated":1496766962,"recoverylevel":"Purgeable"},"policy":{"id":"https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":false},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=*.microsoft.com","sans":{"dns_names":["onedrive.microsoft.com","xbox.microsoft.com"]},"ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["digitalSignature","keyEncipherment"],"validity_months":24,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"lifetime_percentage":80},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1496766962,"updated":1496766962}}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
