interactions:
- request:
    body: '{"id": "python_test_pool_5", "vmSize": "small", "targetDedicated": 2, "cloudServiceConfiguration":
      {"osFamily": "4"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Mar 2016 02:25:16 GMT']
    method: POST
    uri: https://pythonsdktestbatch.westus.batch.azure.com/pools?api-version=2016-02-01.3.0
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://pythonsdktestbatch.westus.batch.azure.com/pools/python_test_pool_5']
      dataserviceversion: ['3.0']
      etag: ['0x8D3590BB27CC16F']
      last-modified: ['Thu, 31 Mar 2016 02:25:16 GMT']
      location: ['https://pythonsdktestbatch.westus.batch.azure.com/pools/python_test_pool_5']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Mar 2016 02:25:46 GMT']
    method: GET
    uri: https://pythonsdktestbatch.westus.batch.azure.com/pools/python_test_pool_5/nodes?api-version=2016-02-01.3.0&$select=id%2Cstate&timeout=30
  response:
    body: {string: !!python/unicode "{\r\n  \"odata.metadata\":\"https://pythonsdktestbatch.westus.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    \r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Mar 2016 02:26:17 GMT']
    method: GET
    uri: https://pythonsdktestbatch.westus.batch.azure.com/pools/python_test_pool_5/nodes?api-version=2016-02-01.3.0&$select=id%2Cstate&timeout=30
  response:
    body: {string: !!python/unicode "{\r\n  \"odata.metadata\":\"https://pythonsdktestbatch.westus.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"tvm-296922763_1-20160331t022614z\"\
        ,\"state\":\"creating\"\r\n    },{\r\n      \"id\":\"tvm-296922763_2-20160331t022614z\"\
        ,\"state\":\"creating\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"jobSpecification": {"poolInfo": {"poolId": "python_test_pool_5"}}, "id":
      "python_test_schedule", "schedule": {"startWindow": "PT1H", "recurrenceInterval":
      "P1D"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Mar 2016 02:30:50 GMT']
    method: POST
    uri: https://pythonsdktestbatch.westus.batch.azure.com/jobschedules?api-version=2016-02-01.3.0
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://pythonsdktestbatch.westus.batch.azure.com/jobschedules/python_test_schedule']
      dataserviceversion: ['3.0']
      etag: ['0x8D3590C79EB37EA']
      last-modified: ['Thu, 31 Mar 2016 02:30:50 GMT']
      location: ['https://pythonsdktestbatch.westus.batch.azure.com/jobschedules/python_test_schedule']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Mar 2016 02:30:51 GMT']
    method: GET
    uri: https://pythonsdktestbatch.westus.batch.azure.com/jobschedules?api-version=2016-02-01.3.0
  response:
    body: {string: !!python/unicode "{\r\n  \"odata.metadata\":\"https://pythonsdktestbatch.westus.batch.azure.com/$metadata#jobschedules\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"python_test_schedule\",\"url\":\"\
        https://pythonsdktestbatch.westus.batch.azure.com/jobschedules/python_test_schedule\"\
        ,\"eTag\":\"0x8D3590C79EB37EA\",\"lastModified\":\"2016-03-31T02:30:50.930993Z\"\
        ,\"creationTime\":\"2016-03-31T02:30:50.930993Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2016-03-31T02:30:50.930993Z\",\"schedule\":{\r\n \
        \       \"startWindow\":\"PT1H\",\"recurrenceInterval\":\"P1D\"\r\n      },\"\
        jobSpecification\":{\r\n        \"priority\":0,\"usesTaskDependencies\":false,\"\
        constraints\":{\r\n          \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n        },\"poolInfo\":{\r\n          \"poolId\"\
        :\"python_test_pool_5\"\r\n        }\r\n      },\"executionInfo\":{\r\n  \
        \      \"nextRunTime\":\"2016-04-01T02:30:50.930993Z\",\"recentJob\":{\r\n\
        \          \"url\":\"https://pythonsdktestbatch.westus.batch.azure.com/jobs/python_test_schedule:job-1\"\
        ,\"id\":\"python_test_schedule:job-1\"\r\n        }\r\n      }\r\n    }\r\n\
        \  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Mar 2016 02:30:51 GMT']
    method: GET
    uri: https://pythonsdktestbatch.westus.batch.azure.com/jobschedules/python_test_schedule?api-version=2016-02-01.3.0
  response:
    body: {string: !!python/unicode "{\r\n  \"odata.metadata\":\"https://pythonsdktestbatch.westus.batch.azure.com/$metadata#jobschedules/@Element\"\
        ,\"id\":\"python_test_schedule\",\"url\":\"https://pythonsdktestbatch.westus.batch.azure.com/jobschedules/python_test_schedule\"\
        ,\"eTag\":\"0x8D3590C79EB37EA\",\"lastModified\":\"2016-03-31T02:30:50.930993Z\"\
        ,\"creationTime\":\"2016-03-31T02:30:50.930993Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2016-03-31T02:30:50.930993Z\",\"schedule\":{\r\n \
        \   \"startWindow\":\"PT1H\",\"recurrenceInterval\":\"P1D\"\r\n  },\"jobSpecification\"\
        :{\r\n    \"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\
        \n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\"\
        :0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"python_test_pool_5\"\r\n\
        \    }\r\n  },\"executionInfo\":{\r\n    \"nextRunTime\":\"2016-04-01T02:30:50.930993Z\"\
        ,\"recentJob\":{\r\n      \"url\":\"https://pythonsdktestbatch.westus.batch.azure.com/jobs/python_test_schedule:job-1\"\
        ,\"id\":\"python_test_schedule:job-1\"\r\n    }\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D3590C79EB37EA']
      last-modified: ['Thu, 31 Mar 2016 02:30:50 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Mar 2016 02:30:52 GMT']
    method: GET
    uri: https://pythonsdktestbatch.westus.batch.azure.com/jobschedules/python_test_schedule/jobs?api-version=2016-02-01.3.0
  response:
    body: {string: !!python/unicode "{\r\n  \"odata.metadata\":\"https://pythonsdktestbatch.westus.batch.azure.com/$metadata#jobs\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"python_test_schedule:job-1\",\"url\"\
        :\"https://pythonsdktestbatch.westus.batch.azure.com/jobs/python_test_schedule:job-1\"\
        ,\"eTag\":\"0x8D3590C79FA8BCA\",\"lastModified\":\"2016-03-31T02:30:51.0314442Z\"\
        ,\"creationTime\":\"2016-03-31T02:30:51.015455Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2016-03-31T02:30:51.0314442Z\",\"priority\":0,\"usesTaskDependencies\"\
        :false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\"\
        ,\"maxTaskRetryCount\":0\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"\
        python_test_pool_5\"\r\n      },\"executionInfo\":{\r\n        \"startTime\"\
        :\"2016-03-31T02:30:51.0314442Z\",\"poolId\":\"python_test_pool_5\"\r\n  \
        \    }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Mar 2016 02:30:52 GMT']
    method: DELETE
    uri: https://pythonsdktestbatch.westus.batch.azure.com/jobs/python_test_schedule%3Ajob-1?api-version=2016-02-01.3.0
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Mar 2016 02:30:54 GMT']
    method: POST
    uri: https://pythonsdktestbatch.westus.batch.azure.com/jobschedules/python_test_schedule/disable?api-version=2016-02-01.3.0
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://pythonsdktestbatch.westus.batch.azure.com/jobschedules/python_test_schedule/disable']
      dataserviceversion: ['3.0']
      etag: ['0x8D3590C7BDBC481']
      last-modified: ['Thu, 31 Mar 2016 02:30:54 GMT']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Mar 2016 02:30:54 GMT']
    method: POST
    uri: https://pythonsdktestbatch.westus.batch.azure.com/jobschedules/python_test_schedule/enable?api-version=2016-02-01.3.0
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://pythonsdktestbatch.westus.batch.azure.com/jobschedules/python_test_schedule/enable']
      dataserviceversion: ['3.0']
      etag: ['0x8D3590C7C19711D']
      last-modified: ['Thu, 31 Mar 2016 02:30:54 GMT']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Mar 2016 02:30:55 GMT']
    method: POST
    uri: https://pythonsdktestbatch.westus.batch.azure.com/jobschedules/python_test_schedule/terminate?api-version=2016-02-01.3.0
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://pythonsdktestbatch.westus.batch.azure.com/jobschedules/python_test_schedule/terminate']
      dataserviceversion: ['3.0']
      etag: ['0x8D3590C7C9B521A']
      last-modified: ['Thu, 31 Mar 2016 02:30:55 GMT']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 31 Mar 2016 02:30:56 GMT']
    method: DELETE
    uri: https://pythonsdktestbatch.westus.batch.azure.com/pools/python_test_pool_5?api-version=2016-02-01.3.0
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
version: 1
