interactions:
- request:
    body: '{"location": "East US 2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_jobs83af117e?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_jobs83af117e","name":"test_mgmt_datalake_analytics_test_adla_jobs83af117e","location":"eastus2","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "East US 2", "name": "pyarmadls83af117e"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_jobs83af117e/providers/Microsoft.DataLakeStore/accounts/pyarmadls83af117e?api-version=2015-10-01-preview
  response:
    body: {string: '{"properties":{"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"cdd54097-1bf5-461a-912b-c2e19c816e9b","creationTime":null,"lastModifiedTime":null},"location":"East
        US 2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_jobs83af117e/providers/Microsoft.DataLakeStore/accounts/pyarmadls83af117e","name":"pyarmadls83af117e","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/cdd54097-1bf5-461a-912b-c2e19c816e9b0?api-version=2015-10-01-preview&expanded=true']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_jobs83af117e/providers/Microsoft.DataLakeStore/accounts/pyarmadls83af117e/operationresults/0?api-version=2015-10-01-preview']
      Retry-After: ['0']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/cdd54097-1bf5-461a-912b-c2e19c816e9b0?api-version=2015-10-01-preview&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14997']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"defaultDataLakeStoreAccount": "pyarmadls83af117e", "dataLakeStoreAccounts":
      [{"name": "pyarmadls83af117e"}]}, "location": "East US 2", "name": "pyarmadla283af117e"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_jobs83af117e/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla283af117e?api-version=2015-10-01-preview
  response:
    body: {string: '{"properties":{"defaultDataLakeStoreAccount":"pyarmadls83af117e","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"pyarmadls83af117e"}],"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"24374269-b208-490d-ae33-07816f3f2401","creationTime":null,"lastModifiedTime":null},"location":"East
        US 2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_jobs83af117e/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla283af117e","name":"pyarmadla283af117e","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/24374269-b208-490d-ae33-07816f3f24010?api-version=2015-10-01-preview&expanded=true']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_jobs83af117e/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla283af117e/operationresults/0?api-version=2015-10-01-preview']
      Retry-After: ['0']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/24374269-b208-490d-ae33-07816f3f24010?api-version=2015-10-01-preview&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"script": "DROP DATABASE IF EXISTS testdb; CREATE DATABASE
      testdb;", "type": "USql"}, "degreeOfParallelism": 2, "type": "USql", "jobId":
      "00000000-0000-0000-0000-000000000000", "name": "azure python sdk job test"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://pyarmadla283af117e.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000?api-version=2016-03-20-preview
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"azure
        python sdk job test","type":"USql","submitter":"adlsvc01@myaddomain.onmicrosoft.com","degreeOfParallelism":2,"priority":1000,"submitTime":"2016-10-24T18:55:01.7683891+00:00","state":"Compiling","result":"Succeeded","stateAuditRecords":[{"newState":"New","timeStamp":"2016-10-24T18:55:01.7683891+00:00","details":"userName:;submitMachine:N/A"}],"properties":{"owner":"adlsvc01@myaddomain.onmicrosoft.com","resources":[],"runtimeVersion":"default","rootProcessNodeId":"00000000-0000-0000-0000-000000000000","algebraFilePath":"adl://pyarmadls83af117e.azuredatalakestore.net/system/jobservice/jobs/Usql/2016/10/24/18/55/00000000-0000-0000-0000-000000000000/algebra.xml","compileMode":"Semantic","errorSource":"Unknown","totalCompilationTime":"PT0S","totalPausedTime":"PT0S","totalQueuedTime":"PT0S","totalRunningTime":"PT0S","type":"USql"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://pyarmadla283af117e.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000/CancelJob?api-version=2016-03-20-preview
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla283af117e.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000?api-version=2016-03-20-preview
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"azure
        python sdk job test","type":"USql","submitter":"adlsvc01@myaddomain.onmicrosoft.com","degreeOfParallelism":2,"priority":1000,"submitTime":"2016-10-24T18:55:01.7683891+00:00","endTime":"2016-10-24T18:55:02.8933828+00:00","state":"Ended","result":"Cancelled","errorMessage":[{"errorId":"I_USER_CJS_CANCELEDBYUSER","name":"CANCELED_BY_USER","severity":"Info","source":"User","component":"CJS","message":"Job
        was cancelled.","details":"","description":"Job was cancelled by adlsvc01@myaddomain.onmicrosoft.com.","resolution":"","helpLink":"","innerError":null}],"stateAuditRecords":[{"newState":"New","timeStamp":"2016-10-24T18:55:01.7683891+00:00","details":"userName:;submitMachine:N/A"},{"newState":"Compiling","timeStamp":"2016-10-24T18:55:02.3933768+00:00","details":"CcsAttempts:1;Status:Dispatched"},{"newState":"Ended","timeStamp":"2016-10-24T18:55:02.8933828+00:00","details":"result:CanceledByUser"}],"properties":{"owner":"adlsvc01@myaddomain.onmicrosoft.com","resources":[{"name":"Profile","resourcePath":"adl://pyarmadls83af117e.azuredatalakestore.net/system/jobservice/jobs/Usql/2016/10/24/18/55/00000000-0000-0000-0000-000000000000/profile","type":"StatisticsResource"},{"name":"__ScopeRuntimeStatistics__.xml","resourcePath":"adl://pyarmadls83af117e.azuredatalakestore.net/system/jobservice/jobs/Usql/2016/10/24/18/55/00000000-0000-0000-0000-000000000000/__ScopeRuntimeStatistics__.xml","type":"StatisticsResource"}],"runtimeVersion":"default","rootProcessNodeId":"00000000-0000-0000-0000-000000000000","script":"DROP
        DATABASE IF EXISTS testdb; CREATE DATABASE testdb;","algebraFilePath":"adl://pyarmadls83af117e.azuredatalakestore.net/system/jobservice/jobs/Usql/2016/10/24/18/55/00000000-0000-0000-0000-000000000000/algebra.xml","compileMode":"Semantic","errorSource":"UserError","totalCompilationTime":"PT0.500006S","totalPausedTime":"PT0S","totalQueuedTime":"PT0S","totalRunningTime":"PT0S","type":"USql"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla283af117e.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000?api-version=2016-03-20-preview
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"testjob83af117e","type":"USql","submitter":"adlsvc01@myaddomain.onmicrosoft.com","degreeOfParallelism":2,"priority":1000,"submitTime":"2016-10-24T18:55:03.955904+00:00","startTime":"2016-10-24T18:55:34.2004666+00:00","state":"Running","result":"Succeeded","stateAuditRecords":[{"newState":"New","timeStamp":"2016-10-24T18:55:03.955904+00:00","details":"userName:;submitMachine:N/A"},{"newState":"Compiling","timeStamp":"2016-10-24T18:55:04.393418+00:00","details":"CcsAttempts:1;Status:Dispatched"},{"newState":"Queued","timeStamp":"2016-10-24T18:55:16.3712959+00:00"},{"newState":"Scheduling","timeStamp":"2016-10-24T18:55:16.3712959+00:00","details":"Detail:Dispatching
        j[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla283af117e.azuredatalakeanalytics.net/Jobs?api-version=2016-03-20-preview
  response:
    body: {string: '{"value":[{"jobId":"00000000-0000-0000-0000-000000000000","name":"azure
        python sdk job test","type":"USql","submitter":"adlsvc01@myaddomain.onmicrosoft.com","degreeOfParallelism":2,"priority":1000,"submitTime":"2016-10-24T18:55:01.7683891+00:00","endTime":"2016-10-24T18:55:02.8933828+00:00","state":"Ended","result":"Cancelled"},{"jobId":"00000000-0000-0000-0000-000000000000","name":"testjob83af117e","type":"USql","submitter":"adlsvc01@myaddomain.onmicrosoft.com","degreeOfParallelism":2,"priority":1000,"submitTime":"2016-10-24T18:55:03.955904+00:00","startTime":"2016-10-24T18:55:34.2004666+00:00","endTime":"2016-10-24T18:55:40.3567821+00:00","state":"Ended","result":"Succeeded"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"script": "DROP DATABASE IF EXISTS testdb; CREATE DATABASE
      testdb;", "type": "USql"}, "degreeOfParallelism": 2, "type": "USql", "jobId":
      "00000000-0000-0000-0000-000000000000", "name": "azure python sdk job test"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://pyarmadla283af117e.azuredatalakeanalytics.net/BuildJob?api-version=2016-03-20-preview
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"azure
        python sdk job test","type":"USql","submitter":"adlsvc01@myaddomain.onmicrosoft.com","degreeOfParallelism":0,"priority":0,"submitTime":"0001-01-01T00:00:00+00:00","state":"Ended","result":"Succeeded","properties":{"resources":[],"runtimeVersion":"kobo_live_signed_5151747","script":"DROP
        DATABASE IF EXISTS testdb; CREATE DATABASE testdb;","algebraFilePath":"mafs://accounts/pyarmadls83af117e/fs/system/compilationService/jobs/USql/00000000-0000-0000-0000-000000000000/2016/10/24/18/55/algebra.xml","compileMode":"Semantic","errorSource":"Unknown","totalCompilationTime":"PT0S","totalPausedTime":"PT0S","totalQueuedTime":"PT0S","totalRunningTime":"PT0S","diagnostics":[],"type":"USql"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"script": "DROP DATABASE IF EXIST FOO; CREATE DATABASE
      FOO;", "type": "USql"}, "degreeOfParallelism": 2, "type": "USql", "jobId": "00000000-0000-0000-0000-000000000000",
      "name": "azure python sdk job test"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://pyarmadla283af117e.azuredatalakeanalytics.net/BuildJob?api-version=2016-03-20-preview
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"azure
        python sdk job test","type":"USql","submitter":"adlsvc01@myaddomain.onmicrosoft.com","degreeOfParallelism":0,"priority":0,"submitTime":"0001-01-01T00:00:00+00:00","state":"Ended","result":"Failed","properties":{"resources":[],"runtimeVersion":"","script":"DROP
        DATABASE IF EXIST FOO; CREATE DATABASE FOO;","compileMode":"Semantic","errorSource":"Unknown","totalCompilationTime":"PT0S","totalPausedTime":"PT0S","totalQueuedTime":"PT0S","totalRunningTime":"PT0S","diagnostics":[{"severity":"Error","lineNumber":1,"columnNumber":18,"start":17,"end":22,"message":"E_CSC_USER_SYNTAXERROR:
        syntax error. Expected one of: EXISTS"}],"type":"USql"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
