interactions:
- request:
    body: '{"cloudServiceConfiguration": {"osFamily": "4"}, "id": "python_test_pool_3",
      "vmSize": "small", "targetDedicatedNodes": 2}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:18:14 GMT']
    method: POST
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools?api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4936DC087E4EA']
      Last-Modified: ['Fri, 05 May 2017 04:18:15 GMT']
      Location: ['https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:18:45 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes?maxresults=1000&timeout=30&$select=id%2Cstate&api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.brazilsouth.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    \r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:19:47 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes?maxresults=1000&timeout=30&$select=id%2Cstate&api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.brazilsouth.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"tvm-57200098_1-20170505t041922z\"\
        ,\"state\":\"creating\"\r\n    },{\r\n      \"id\":\"tvm-57200098_2-20170505t041922z\"\
        ,\"state\":\"creating\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:23:54 GMT']
    method: GET
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes?api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.brazilsouth.batch.azure.com/$metadata#nodes\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"tvm-57200098_1-20170505t041922z\"\
        ,\"url\":\"https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z\"\
        ,\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\"\
        :\"2017-05-05T04:23:10.8434094Z\",\"lastBootTime\":\"2017-05-05T04:23:08.4446155Z\"\
        ,\"allocationTime\":\"2017-05-05T04:19:22.5197804Z\",\"ipAddress\":\"100.105.204.44\"\
        ,\"affinityId\":\"TVM:tvm-57200098_1-20170505t041922z\",\"vmSize\":\"small\"\
        ,\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"\
        isDedicated\":true\r\n    },{\r\n      \"id\":\"tvm-57200098_2-20170505t041922z\"\
        ,\"url\":\"https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_2-20170505t041922z\"\
        ,\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\"\
        :\"2017-05-05T04:23:10.50954Z\",\"lastBootTime\":\"2017-05-05T04:23:07.5022418Z\"\
        ,\"allocationTime\":\"2017-05-05T04:19:22.5197804Z\",\"ipAddress\":\"100.105.188.51\"\
        ,\"affinityId\":\"TVM:tvm-57200098_2-20170505t041922z\",\"vmSize\":\"small\"\
        ,\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"\
        isDedicated\":true\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:23:55 GMT']
    method: GET
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z?api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.brazilsouth.batch.azure.com/$metadata#nodes/@Element\"\
        ,\"id\":\"tvm-57200098_1-20170505t041922z\",\"url\":\"https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z\"\
        ,\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\"\
        :\"2017-05-05T04:23:10.8434094Z\",\"lastBootTime\":\"2017-05-05T04:23:08.4446155Z\"\
        ,\"allocationTime\":\"2017-05-05T04:19:22.5197804Z\",\"ipAddress\":\"100.105.204.44\"\
        ,\"affinityId\":\"TVM:tvm-57200098_1-20170505t041922z\",\"vmSize\":\"small\"\
        ,\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"\
        isDedicated\":true\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: '{"password": "kt#_gahr!@aGERDXA", "name": "BatchPythonSDKUser", "isAdmin":
      false}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:23:56 GMT']
    method: POST
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/users?api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/users/BatchPythonSDKUser']
      DataServiceVersion: ['3.0']
      Location: ['https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/users/BatchPythonSDKUser']
    status: {code: 201, message: Created}
- request:
    body: '{"password": "liilef#$DdRGSa_ewkjh"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:23:57 GMT']
    method: PUT
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/users/BatchPythonSDKUser?api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/users/BatchPythonSDKUser']
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:23:58 GMT']
    method: GET
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/rdp?api-version=2017-05-01.5.0
  response:
    body: {string: "full address:s:191.232.191.59\r\nLoadBalanceInfo:s:Cookie: mstshash=TVM#TVM_IN_0"}
    headers:
      Content-Type: [application/octet-stream]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:24:01 GMT']
    method: POST
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/disablescheduling?api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/disablescheduling']
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:24:03 GMT']
    method: POST
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/enablescheduling?api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/enablescheduling']
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:24:05 GMT']
    method: GET
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/files?api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.brazilsouth.batch.azure.com/$metadata#files\"\
        ,\"value\":[\r\n    {\r\n      \"name\":\"applications\",\"url\":\"https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/files/applications\"\
        ,\"isDirectory\":true\r\n    },{\r\n      \"name\":\"shared\",\"url\":\"https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/files/shared\"\
        ,\"isDirectory\":true\r\n    },{\r\n      \"name\":\"startup\",\"url\":\"\
        https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/files/startup\"\
        ,\"isDirectory\":true\r\n    },{\r\n      \"name\":\"workitems\",\"url\":\"\
        https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/files/workitems\"\
        ,\"isDirectory\":true\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:24:07 GMT']
    method: POST
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/reboot?api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_1-20170505t041922z/reboot']
      DataServiceVersion: ['3.0']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:24:09 GMT']
    method: POST
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_2-20170505t041922z/reimage?api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/nodes/tvm-57200098_2-20170505t041922z/reimage']
      DataServiceVersion: ['3.0']
    status: {code: 202, message: Accepted}
- request:
    body: '{"nodeList": ["tvm-57200098_1-20170505t041922z", "tvm-57200098_2-20170505t041922z"]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:24:11 GMT']
    method: POST
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/removenodes?api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3/removenodes']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4936E95421334']
      Last-Modified: ['Fri, 05 May 2017 04:24:12 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 05 May 2017 04:24:12 GMT']
    method: DELETE
    uri: https://pythonsdktest.brazilsouth.batch.azure.com/pools/python_test_pool_3?api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: ['3.0']
    status: {code: 202, message: Accepted}
version: 1
