interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azkv-pytest?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azkv-pytest","name":"azkv-pytest","location":"westus","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1192']
    status: {code: 200, message: OK}
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://pytest-shared-vault.vault.azure.net/keys/key75b61176/create?api-version=2016-10-01
  response:
    body: {string: '{"key":{"kid":"https://pytest-shared-vault.vault.azure.net/keys/key75b61176/1e337e593a3b4db29da8d374137f5237","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xk1IcRFAc_iQ6jwBgRFGJC5JpXiFnkmv9sf27cJT8X-hlRRnI3LRLjm7VjunCIRXl5mOWmU2gb9TtTAm0kqPzgEfFGhxyySVIvHLq6ZtG7JhMq6TpZZmQKWrwzEifOunM10Bm4jAARvPwF_QnN6edWfXat3iFKx6oO7xqVMjs1zdIZsXoqU0u4BceCzA1Se_KbqQCsPJfdRPpeBF1HUajLFn7YdqqnJ6Yn696tyVBJUElmYIqxDWMjgbZjczbO2SqiZ9kdbM8oDPMKCoo08uiRssuuTYexvCvYCpTUHsn9BTZ-qTVoN2ZpQ-M2Oey5Qy4GWHrLllDovopauq2KeyFw","e":"AQAB"},"attributes":{"enabled":true,"created":1496705539,"updated":1496705539,"recoverylevel":"Purgeable"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pytest-shared-vault.vault.azure.net/keys/key75b61176/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"kid":"https://pytest-shared-vault.vault.azure.net/keys/key75b61176/1e337e593a3b4db29da8d374137f5237","attributes":{"enabled":true,"created":1496705539,"updated":1496705539,"recoverylevel":"Purgeable"}},{"kid":"https://pytest-shared-vault.vault.azure.net/keys/key75b61176/53a59559672d4510a7f3245bdee89709","attributes":{"enabled":true,"created":1496704767,"updated":1496704767,"recoverylevel":"Purgeable"}},{"kid":"https://pytest-shared-vault.vault.azure.net/keys/key75b61176/926f432c84b44e59b122b0dd6299e849","attributes":{"enabled":true,"created":1496704767,"updated":1496704767,"recoverylevel":"Purgeable"}},{"kid":"https://pytest-shared-vault.vault.azure.net/keys/key75b61176/c4a13dd0b1f14ff582f49e36f3a6e2a1","attributes":{"enabled":true,"created":1496705540,"updated":1496705540,"recoverylevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
