interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Batch/operations?api-version=2017-05-01
  response:
    body: {string: '{"value":[{"name":"Microsoft.Batch/batchAccounts/providers/Microsoft.Insights/diagnosticSettings/read","display":{"provider":"Microsoft
        Batch","resource":"Batch Accounts","operation":"Read diagnostic setting","description":"Gets
        the diagnostic setting for the resource"},"origin":"system"},{"name":"Microsoft.Batch/batchAccounts/providers/Microsoft.Insights/diagnosticSettings/write","display":{"provider":"Microsoft
        Batch","resource":"Batch Accounts","operation":"Write diagnostic setting","description":"Creates
        or updates the diagnostic setting for the resource"},"origin":"system"},{"name":"Microsoft.Batch/batchAccounts/providers/Microsoft.Insights/logDefinitions/read","display":{"provider":"Microsoft
        Batch","resource":"Batch Account Log Definitions","operation":"Read Batch
        service log definitions","description":"Gets the available logs for the Batch
        service"},"origin":"system","properties":{"serviceSpecification":{"logSpecifications":[{"name":"ServiceLog","displayName":"Service
        Logs","blobDuration":"PT1H"}]}}},{"name":"Microsoft.Batch/batchAccounts/providers/Microsoft.Insights/metricDefinitions/read","display":{"provider":"Microsoft
        Batch","resource":"Batch Account Metric Definitions","operation":"Read Batch
        service metric definitions","description":"Gets the available metrics for
        the Batch service"},"origin":"system","properties":{"serviceSpecification":{"metricSpecifications":[{"name":"CoreCount","displayName":"Dedicated
        Core Count","displayDescription":"Total number of dedicated cores in the batch
        account","unit":"Count","aggregationType":"Total","availabilities":[{"timeGrain":"PT1M","blobDuration":"PT1H"}],"supportsInstanceLevelAggregation":false,"enableRegionalMdmAccount":false},{"name":"TotalNodeCount","displayName":"Dedicated
        Node Count","displayDescription":"Total number of dedicated nodes in the batch
        account","unit":"Count","aggregationType":"Total","availabilities":[{"timeGrain":"PT1M","blobDuration":"PT1H"}],"supportsInstanceLevelAggregation":false,"enableRegionalMdmAccount":false},{"name":"LowPriorityCoreCount","displayName":"LowPriority
        Core Count","displayDescription":"Total number of low-priority cores in the
        batch accou[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Batch/locations/brazilsouth/quotas?api-version=2017-05-01
  response:
    body: {string: '{"accountQuota":1}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14995']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "Microsoft.Batch/batchAccounts", "name": "randombatchaccount@5^$g9873495873"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Batch/locations/brazilsouth/checkNameAvailability?api-version=2017-05-01
  response:
    body: {string: '{"nameAvailable":false,"reason":"Invalid","message":"Account name
        must be at least 3 characters and at most 24 characters."}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"type": "Microsoft.Batch/batchAccounts", "name": "batchpythonaccounttest"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Batch/locations/eastus2/checkNameAvailability?api-version=2017-05-01
  response:
    body: {string: '{"nameAvailable":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"poolAllocationMode": "UserSubscription"}, "location":
      "eastus2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest?api-version=2017-05-01
  response:
    body: {string: '{"error":{"code":"InvalidRequestBody","message":"The specified
        Request Body is not syntactically valid.\nRequestId:1fc41de3-0e4f-442e-99bf-4a4db90d5112\nTime:2017-07-21T20:16:22.2767063Z","target":"BatchAccount","details":[{"code":"Reason","message":"keyVaultReference
        must be set if poolAllocationMode is specified as ''UserSubscription'' on
        a PUT request"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 400, message: The specified Request Body is not syntactically valid.}
- request:
    body: '{"properties": {"keyVaultReference": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.KeyVault/vaults/batchpythonsdktest",
      "url": "https://batchpythonsdktest.vault.azure.net/"}, "poolAllocationMode":
      "UserSubscription"}, "location": "eastus2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest/operationResults/50593a60-dfe9-4f1b-becf-c95873a4140a?api-version=2017-05-01']
      Retry-After: ['0']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest/operationResults/50593a60-dfe9-4f1b-becf-c95873a4140a?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest","name":"batchpythonaccounttest","type":"Microsoft.Batch/batchAccounts","location":"eastus2","properties":{"accountEndpoint":"batchpythonaccounttest.eastus2.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":2147483647,"lowPriorityCoreQuota":0,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"poolAllocationMode":"usersubscription","keyVaultReference":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.KeyVault/vaults/batchpythonsdktest","url":"https://batchpythonsdktest.vault.azure.net/"}}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"0x8D4D0757604847F"']
      Last-Modified: ['Fri, 21 Jul 2017 20:17:07 GMT']
      x-ms-ratelimit-remaining-subscription-reads: ['14990']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest","name":"pythonsdktest","type":"Microsoft.Batch/batchAccounts","location":"brazilsouth","properties":{"accountEndpoint":"pythonsdktest.brazilsouth.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":50,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Storage/storageAccounts/batchpythonsdktest","lastKeySync":"2017-07-21T20:12:28.2086854Z"},"poolAllocationMode":"batchservice"},"tags":{"Value":"tagValue","Name":"tagName"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"0x8D4D074D0B88A2C"']
      Last-Modified: ['Fri, 21 Jul 2017 20:12:30 GMT']
      x-ms-ratelimit-remaining-subscription-reads: ['14950']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts?api-version=2017-05-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest",[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/listKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"pythonsdktest","primary":"QLixBlAbSvbOVWILkPxQqYySx4+8GZ70nfuoKQYSjzNL2FxZlZPC6tUY871KXnw==","secondary":"f2ndj9x0Lpn6Ah9FUjqpZoyobNfUHRjOcINqZlArASGyucLBGJ3N9Iaqg=="}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"keyName": "Secondary"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/regenerateKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"pythonsdktest","primary":"QLixBlAbSvbOVWILkPxQqYySx4+8GZ70nfuoKQYSjzNL2FxZlZPC6tUY871KXnw==","secondary":"DchwZrJBwLRD8bm3mFWf1QJOGTnkV6n0BMl0i9MCLmLboclZE+a8884Rw=="}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/syncAutoStorageKeys?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest/operationResults/fadf7734-0e43-44b9-b1bf-ba91feaa264f?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-reads: ['14815']
    status: {code: 200, message: OK}
version: 1
