interactions:
- request:
    body: '{"displayName": "my_application_name"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/applications/my_application_id?api-version=2015-12-01
  response:
    body: {string: '{"id":"my_application_id","displayName":"my_application_name","packages":[],"allowUpdates":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/applications/my_application_id?api-version=2015-12-01
  response:
    body: {string: '{"id":"my_application_id","displayName":"my_application_name","packages":[],"allowUpdates":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['0x8D3B72280F3E56D']
      Last-Modified: ['Thu, 28 Jul 2016 20:05:20 GMT']
      x-ms-ratelimit-remaining-subscription-reads: ['14991']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/applications?api-version=2015-12-01
  response:
    body: {string: '{"value":[{"id":"my_application_id","displayName":"my_application_name","packages":[],"allowUpdates":true}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14995']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/applications/my_application_id/versions/v1.0?api-version=2015-12-01
  response:
    body: {string: '{"id":"my_application_id","version":"v1.0","storageUrl":"https://pythonsdkbatchtest.blob.core.windows.net/app-my-application-id-b9dfc2b75e089960a922be9b4180a01f29ca0c78/my_application_id-v1.0-8bc0db29-5486-44e6-9859-a2c3da179e1c?sv=2014-02-14&sr=b&sig=RoRHQf5SwJbiLjamYSyKxZfASP%2BfqN3gpdXAnWHJJYE%3D&st=2016-07-28T20%3A00%3A20Z&se=2016-07-29T00%3A05%3A20Z&sp=rw","storageUrlExpiry":"2016-07-29T00:05:20.5796455Z","state":"pending"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: Hello World
    headers:
      x-ms-blob-type: [BlockBlob]
    method: PUT
    uri: https://pythonsdkbatchtest.blob.core.windows.net/app-my-application-id-b9dfc2b75e089960a922be9b4180a01f29ca0c78/my_application_id-v1.0-8bc0db29-5486-44e6-9859-a2c3da179e1c?sv=2014-02-14&sr=b&sig=RoRHQf5SwJbiLjamYSyKxZfASP%2BfqN3gpdXAnWHJJYE%3D&st=2016-07-28T20%3A00%3A20Z&se=2016-07-29T00%3A05%3A20Z&sp=rw
  response:
    body: {string: ''}
    headers:
      Content-MD5: [sQqNsWTgdUEFt6mb5y4/5Q==]
      ETag: ['"0x8D3B722825673FC"']
      Last-Modified: ['Thu, 28 Jul 2016 20:05:23 GMT']
      x-ms-version: ['2014-02-14']
    status: {code: 201, message: Created}
- request:
    body: '{"format": "zip"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/applications/my_application_id/versions/v1.0/activate?api-version=2015-12-01
  response:
    body: {string: ''}
    headers:
      ETag: ['0x8D3B72281EC7B0D']
      Last-Modified: ['Thu, 28 Jul 2016 20:05:22 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 204, message: No Content}
- request:
    body: '{"allowUpdates": false, "displayName": "my_updated_name", "defaultVersion":
      "v1.0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/applications/my_application_id?api-version=2015-12-01
  response:
    body: {string: ''}
    headers:
      ETag: ['0x8D3B72280F3E56D']
      Last-Modified: ['Thu, 28 Jul 2016 20:05:20 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/applications/my_application_id/versions/v1.0?api-version=2015-12-01
  response:
    body: {string: '{"id":"my_application_id","version":"v1.0","storageUrl":"https://pythonsdkbatchtest.blob.core.windows.net/app-my-application-id-b9dfc2b75e089960a922be9b4180a01f29ca0c78/my_application_id-v1.0-8bc0db29-5486-44e6-9859-a2c3da179e1c?sv=2014-02-14&sr=b&sig=VeAsc1JaV%2F0jhIvfethS2GHjnxGNxWJtAirtYJ8HPHA%3D&st=2016-07-28T20%3A00%3A22Z&se=2016-07-29T00%3A05%3A22Z&sp=r","storageUrlExpiry":"2016-07-29T00:05:22.9043083Z","state":"active","format":"zip","lastActivationTime":"2016-07-28T20:05:23.9781699Z"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['0x8D3B72282B5E977']
      Last-Modified: ['Thu, 28 Jul 2016 20:05:23 GMT']
      x-ms-ratelimit-remaining-subscription-reads: ['14998']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 20:05:28 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/applications/my_application_id?api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#getapplicationsummaryresponse/@Element\"\
        ,\"id\":\"my_application_id\",\"versions\":[\r\n    \"v1.0\"\r\n  ],\"displayName\"\
        :\"my_updated_name\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 20:05:29 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/applications?api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#listapplicationsummariesresponses\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"my_application_id\",\"versions\":[\r\
        \n        \"v1.0\"\r\n      ],\"displayName\":\"my_updated_name\"\r\n    }\r\
        \n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
