interactions:
- request:
    body: '{"id": "python_test_pool_1", "vmSize": "small", "cloudServiceConfiguration":
      {"osFamily": "4"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:28:15 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3B73ED70AB4B7']
      Last-Modified: ['Thu, 28 Jul 2016 23:28:11 GMT']
      Location: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"targetOSVersion": "WA-GUEST-OS-4.32_201605-01"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:16 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/upgradeos?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/upgradeos']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3B73EFB5288D1']
      Last-Modified: ['Thu, 28 Jul 2016 23:29:12 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: '{"applicationPackageReferences": [], "certificateReferences": [], "metadata":
      [{"name": "foo", "value": "bar"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:16 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/updateproperties?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/updateproperties']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3B73EFB81D629']
      Last-Modified: ['Thu, 28 Jul 2016 23:29:12 GMT']
    status: {code: 204, message: No Content}
- request:
    body: '{"metadata": [{"name": "foo2", "value": "bar2"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:17 GMT']
    method: PATCH
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3B73EFBA7AD87']
      Last-Modified: ['Thu, 28 Jul 2016 23:29:12 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:17 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1?api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"python_test_pool_1\",\"url\":\"https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1\"\
        ,\"eTag\":\"0x8D3B73EFBA7AD87\",\"lastModified\":\"2016-07-28T23:29:12.7297415Z\"\
        ,\"creationTime\":\"2016-07-28T23:28:11.3030327Z\",\"state\":\"upgrading\"\
        ,\"stateTransitionTime\":\"2016-07-28T23:29:12.7297415Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2016-07-28T23:28:11.4290271Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicated\":0,\"\
        targetDedicated\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"metadata\":[\r\n    {\r\n      \"name\":\"foo2\",\"value\":\"bar2\"\
        \r\n    }\r\n  ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"\
        nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"\
        osFamily\":\"4\",\"targetOSVersion\":\"WA-GUEST-OS-4.32_201605-01\",\"currentOSVersion\"\
        :\"*\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3B73EFBA7AD87']
      Last-Modified: ['Thu, 28 Jul 2016 23:29:12 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:17 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1?$select=id%2Cstate&api-version=2016-07-01.3.1&$expand=stats&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"python_test_pool_1\",\"state\":\"upgrading\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3B73EFBA7AD87']
      Last-Modified: ['Thu, 28 Jul 2016 23:29:12 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"autoScaleEvaluationInterval": "PT6M", "autoScaleFormula": "$TargetDedicated=2"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:17 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/enableautoscale?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/enableautoscale']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3B73EFBF559A3']
      Last-Modified: ['Thu, 28 Jul 2016 23:29:13 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"autoScaleFormula": "$TargetDedicated=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:17 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/evaluateautoscale?api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\"\
        ,\"timestamp\":\"2016-07-28T23:29:13.6054998Z\",\"results\":\"$TargetDedicated=3;$NodeDeallocationOption=requeue\"\
        \r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/evaluateautoscale']
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:18 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/disableautoscale?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/disableautoscale']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3B73EFC44FE79']
      Last-Modified: ['Thu, 28 Jul 2016 23:29:13 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:18 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/pools?api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"python_test_pool_1\",\"url\":\"https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1\"\
        ,\"eTag\":\"0x8D3B73EFC4525DB\",\"lastModified\":\"2016-07-28T23:29:13.7617371Z\"\
        ,\"creationTime\":\"2016-07-28T23:28:11.3030327Z\",\"state\":\"upgrading\"\
        ,\"stateTransitionTime\":\"2016-07-28T23:29:13.7617371Z\",\"allocationState\"\
        :\"stopping\",\"allocationStateTransitionTime\":\"2016-07-28T23:29:13.7617371Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicated\":0,\"\
        targetDedicated\":2,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"metadata\":[\r\n        {\r\n          \"name\":\"foo2\",\"value\"\
        :\"bar2\"\r\n        }\r\n      ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\"\
        :{\r\n        \"nodeFillType\":\"Spread\"\r\n      },\"cloudServiceConfiguration\"\
        :{\r\n        \"osFamily\":\"4\",\"targetOSVersion\":\"WA-GUEST-OS-4.32_201605-01\"\
        ,\"currentOSVersion\":\"*\"\r\n      }\r\n    },{\r\n      \"id\":\"python_test_pool_2\"\
        ,\"url\":\"https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_2\"\
        ,\"eTag\":\"0x8D3B73EE9314C61\",\"lastModified\":\"2016-07-28T23:28:41.7549409Z\"\
        ,\"creationTime\":\"2016-07-28T23:28:41.7549409Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2016-07-28T23:28:41.7549409Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2016-07-28T23:28:41.8899324Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicated\":0,\"\
        targetDedicated\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n        \"nodeFillType\"\
        :\"Spread\"\r\n      },\"cloudServiceConfiguration\":{\r\n        \"osFamily\"\
        :\"4\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n      }\r\n\
        \    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:18 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/pools?api-version=2016-07-01.3.1&maxresults=1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"python_test_pool_1\",\"url\":\"http[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:18 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/pools?$select=id%2Cstate&api-version=2016-07-01.3.1&$expand=stats&timeout=30&$filter=startswith%28id%2C%27python_test_pool_1%27%29
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"python_test_pool_1\",\"state\":\"\
        upgrading\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"targetDedicated": 3}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:19 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_2/resize?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_2/resize']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3B73EFCC57A7B']
      Last-Modified: ['Thu, 28 Jul 2016 23:29:14 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:19 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_2/stopresize?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_2/stopresize']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3B73EFCF1DFED']
      Last-Modified: ['Thu, 28 Jul 2016 23:29:14 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:19 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/lifetimepoolstats?api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#poolstats/@Element\"\
        ,\"url\":\"https://pythonsdktest.westus.batch.azure.com/lifetimepoolstats\"\
        ,\"usageStats\":{\r\n    \"startTime\":\"2016-07-28T23:27:45.3934247Z\",\"\
        lastUpdateTime\":\"2016-07-28T23:27:45.3934247Z\",\"dedicatedCoreTime\":\"\
        PT0S\"\r\n  },\"resourceStats\":{\r\n    \"startTime\":\"2016-07-28T23:27:45.3934247Z\"\
        ,\"diskReadIOps\":\"0\",\"diskWriteIOps\":\"0\",\"lastUpdateTime\":\"2016-07-28T23:27:45.3934247Z\"\
        ,\"avgCPUPercentage\":0.0,\"avgMemoryGiB\":0.0,\"peakMemoryGiB\":0.0,\"avgDiskGiB\"\
        :0.0,\"peakDiskGiB\":0.0,\"diskReadGiB\":0.0,\"diskWriteGiB\":0.0,\"networkReadGiB\"\
        :0.0,\"networkWriteGiB\":0.0\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 28 Jul 2016 23:29:19 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/poolusagemetrics?api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#poolusagemetrics\"\
        ,\"value\":[\r\n    \r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"cloudServiceConfiguration": {"osFamily": "4"}, "id": "no_pool", "vmSize":
      "small", "networkConfiguration": {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 15:23:28 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools?api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"InvalidPropertyValue\",\"message\":{\r\n    \"lang\":\"en-US\"\
        ,\"value\":\"The value provided for one of the property in the request body\
        \ is invalid.\\nRequestId:f8598930-9550-4688-a0b4-1c3dcb46ad7f\\nTime:2016-08-04T15:23:28.5638230Z\"\
        \r\n  },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\"\
        :\"subnetId\"\r\n    },{\r\n      \"key\":\"PropertyValue\",\"value\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\
        \r\n    },{\r\n      \"key\":\"Reason\",\"value\":\"The specified subnetId\
        \ is in a different subscription and cannot be used with the current Batch\
        \ account in subscription 00000000-0000-0000-0000-000000000000\"\r\n    }\r\
        \n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 400, message: The value provided for one of the property in the
        request body is invalid.}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 16:19:37 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1?timeout=30&$select=id%2Cstate&api-version=2016-07-01.3.1&$expand=stats
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"python_test_pool_1\",\"state\":\"upgrading\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3BC831FE4AFBD']
      Last-Modified: ['Thu, 04 Aug 2016 16:19:35 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 16:19:39 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/pools?maxresults=1&api-version=2016-07-01.3.1&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"python_test_pool_1\",\"url\":\"http[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 16:19:40 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/pools?timeout=30&$filter=startswith%28id%2C%27python_test_pool_1%27%29&$select=id%2Cstate&api-version=2016-07-01.3.1&$expand=stats
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"python_test_pool_1\",\"state\":\"\
        upgrading\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 16:19:43 GMT']
    method: DELETE
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: ['3.0']
    status: {code: 202, message: Accepted}
version: 1
