interactions:
- request:
    body: '{"displayName": "my_application_name"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/applications/my_application_id?api-version=2017-01-01
  response:
    body: {string: '{"id":"my_application_id","displayName":"my_application_name","packages":[],"allowUpdates":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/applications/my_application_id/versions/v1.0?api-version=2017-01-01
  response:
    body: {string: '{"id":"my_application_id","version":"v1.0","storageUrl":"https://pythonsdkbatchtest.blob.core.windows.net/app-my-application-id-b9dfc2b75e089960a922be9b4180a01f29ca0c78/my_application_id-v1.0-b9e7cf67-cd9a-43fc-a6b6-2c69fee15d6c?sv=2015-04-05&sr=b&sig=zppkzteoAH9Yyd6QnjzZLTFqLwBjUZ5jHLiZlzrQNa4%3D&st=2017-02-17T19%3A20%3A56Z&se=2017-02-17T23%3A25%3A56Z&sp=rw","storageUrlExpiry":"2017-02-17T23:25:56.0834962Z","state":"pending"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"vmSize": "small", "targetDedicated": 2, "cloudServiceConfiguration":
      {"osFamily": "4"}, "id": "python_test_pool_4", "userAccounts": [{"name": "task-user",
      "password": "kt#_gahr!@aGERDXA", "elevationLevel": "admin"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:25:54 GMT']
    method: POST
    uri: https://pythonsdktest.westeurope.batch.azure.com/pools?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westeurope.batch.azure.com/pools/python_test_pool_4']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576ACA11313A']
      Last-Modified: ['Fri, 17 Feb 2017 19:25:53 GMT']
      Location: ['https://pythonsdktest.westeurope.batch.azure.com/pools/python_test_pool_4']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:26:25 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://pythonsdktest.westeurope.batch.azure.com/pools/python_test_pool_4/nodes?maxresults=1000&timeout=30&$select=id%2Cstate&api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westeurope.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   \r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": "python_test_job", "poolInfo": {"poolId": "python_test_pool_4"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westeurope.batch.azure.com/jobs/job-1']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576BD1F841CB']
      Last-Modified: ['Fri, 17 Feb 2017 19:33:16 GMT']
      Location: ['https://pythonsdktest.westeurope.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: '{"onTaskFailure": "performExitOptionsJobAction", "id": "python_test_job_2",
      "onAllTasksComplete": "noAction", "poolInfo": {"poolId": "python_test_pool_4"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westeurope.batch.azure.com/jobs/job-1']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576BD8AC9C43']
      Last-Modified: ['Fri, 17 Feb 2017 19:33:27 GMT']
      Location: ['https://pythonsdktest.westeurope.batch.azure.com/jobs/job-1']
    status: {code: 201, message: Created}
- request:
    body: '{"priority": 500, "constraints": {"maxTaskRetryCount": 3}, "poolInfo":
      {"poolId": "python_test_pool_4"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: PUT
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576BDF4EDDA9']
      Last-Modified: ['Fri, 17 Feb 2017 19:33:38 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: GET
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westeurope.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"python_test_job\",\"url\":\"https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job\",\"eTag\":\"0x8D4576BDFF91E19\",\"lastModified\":\"2017-02-17T19:33:39.6845081Z\",\"creationTime\":\"2017-02-17T19:33:16.1617495Z\",\"state\":\"active\",\"stateTransitionTime\":\"2017-02-17T19:33:16.1907659Z\",\"priority\":900,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":1\r\n
        \ },\"poolInfo\":{\r\n    \"poolId\":\"python_test_pool_4\"\r\n  },\"executionInfo\":{\r\n
        \   \"startTime\":\"2017-02-17T19:33:16.1907659Z\",\"poolId\":\"python_test_pool_4\"\r\n
        \ },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576BDFF91E19']
      Last-Modified: ['Fri, 17 Feb 2017 19:33:39 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"disableTasks": "requeue"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/disable?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/disable']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576BE2BB5317']
      Last-Modified: ['Fri, 17 Feb 2017 19:33:44 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
    method: POST
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/enable?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/enable']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576BE32BF561']
      Last-Modified: ['Fri, 17 Feb 2017 19:33:45 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: '{"authenticationTokenSettings": {"access": ["job"]}, "userIdentity": {"autoUser":
      {"elevationLevel": "admin", "scope": "task"}}, "id": "python_task_with_auto_complete",
      "exitConditions": {"exitCodes": [{"code": 1, "exitOptions": {"jobAction": "none"}}],
      "default": {"jobAction": "terminate"}}, "commandLine": "cmd /c echo hello world"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:33:43 GMT']
    method: POST
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job_2/tasks?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job_2/tasks/python_task_with_auto_complete']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576BE3A2F5D1']
      Last-Modified: ['Fri, 17 Feb 2017 19:33:45 GMT']
      Location: ['https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job_2/tasks/python_task_with_auto_complete']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:33:44 GMT']
    method: GET
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job_2/tasks/python_task_with_auto_complete?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westeurope.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"python_task_with_auto_complete\",\"url\":\"https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job_2/tasks/python_task_with_auto_complete\",\"eTag\":\"0x8D4576BE3A2F5D1\",\"creationTime\":\"2017-02-17T19:33:45.8307537Z\",\"lastModified\":\"2017-02-17T19:33:45.8307537Z\",\"state\":\"active\",\"stateTransitionTime\":\"2017-02-17T19:33:45.8307537Z\",\"commandLine\":\"cmd
        /c echo hello world\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"task\",\"elevationLevel\":\"admin\"\r\n
        \   }\r\n  },\"exitConditions\":{\r\n    \"exitCodes\":[\r\n      {\r\n        \"code\":1,\"exitOptions\":{\r\n
        \         \"jobAction\":\"none\"\r\n        }\r\n      }\r\n    ],\"default\":{\r\n
        \     \"jobAction\":\"terminate\"\r\n    }\r\n  },\"authenticationTokenSettings\":{\r\n
        \   \"access\":[\r\n      \"job\"\r\n    ]\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n
        \ },\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576BE3A2F5D1']
      Last-Modified: ['Fri, 17 Feb 2017 19:33:45 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"id": "python_task_with_app_package", "applicationPackageReferences":
      [{"applicationId": "my_application_id"}], "userIdentity": {"username": "task-user"},
      "commandLine": "cmd /c echo hello world"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:33:45 GMT']
    method: POST
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_with_app_package']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576BE49D494F']
      Last-Modified: ['Fri, 17 Feb 2017 19:33:47 GMT']
      Location: ['https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_with_app_package']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:33:45 GMT']
    method: GET
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_with_app_package?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westeurope.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"python_task_with_app_package\",\[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:33:48 GMT']
    method: POST
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_1/terminate?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_1/terminate']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576BE6F9911C']
      Last-Modified: ['Fri, 17 Feb 2017 19:33:51 GMT']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:33:48 GMT']
    method: GET
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_1?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westeurope.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"python_task_1\",\"url\":\"https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_1\",\"eTag\":\"0x8D4576BE6F9911C\",\"creationTime\":\"2017-02-17T19:33:50.4315036Z\",\"lastModified\":\"2017-02-17T19:33:51.4315036Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2017-02-17T19:33:51.4315036Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2017-02-17T19:33:50.4315036Z\",\"commandLine\":\"cmd
        /c echo hello world\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"task\",\"elevationLevel\":\"nonadmin\"\r\n
        \   }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":1\r\n
        \ },\"executionInfo\":{\r\n    \"endTime\":\"2017-02-17T19:33:51.4315036Z\",\"schedulingError\":{\r\n
        \     \"category\":\"UserError\",\"code\":\"TaskEnded\",\"message\":\"Task
        Was Ended by User Request\"\r\n    },\"retryCount\":0,\"requeueCount\":0\r\n
        \ },\"nodeInfo\":{\r\n    \r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576BE6F9911C']
      Last-Modified: ['Fri, 17 Feb 2017 19:33:51 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:33:49 GMT']
    method: POST
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_1/reactivate?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576BE6E602B2']
      Last-Modified: ['Fri, 17 Feb 2017 19:33:51 GMT']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '{"value": [{"id": "python_task_3", "commandLine": "cmd /c echo hello world"},
      {"id": "python_task_4", "commandLine": "cmd /c echo hello world"}, {"id": "python_task_5",
      "commandLine": "cmd /c echo hello world"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:33:53 GMT']
    method: POST
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/addtaskcollection?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westeurope.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n
        \   {\r\n      \"status\":\"Success\",\"taskId\":\"python_task_3\",\"eTag\":\"0x8D4576BE8AC2928\",\"lastModified\":\"2017-02-17T19:33:54.2796584Z\",\"location\":\"https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_3\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"python_task_4\",\"eTag\":\"0x8D4576BE8B529F4\",\"lastModified\":\"2017-02-17T19:33:54.3386612Z\",\"location\":\"https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_4\"\r\n
        \   },{\r\n      \"status\":\"Success\",\"taskId\":\"python_task_5\",\"eTag\":\"0x8D4576BE8B502C4\",\"lastModified\":\"2017-02-17T19:33:54.337658Z\",\"location\":\"https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_5\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:33:53 GMT']
    method: GET
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westeurope.batch.azure.com/$metadata#tasks\",\"value\":[\r\n
        \   {\r\n      \"id\":\"python_task_1\",\"url\":\"https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_1\",\"eTag\":\"0x8D4576BE6E602B2\",\"creationTime\":\"2017-02-17T19:33:50.4315036Z\",\"lastModified\":\"2017-02-17T19:33:51.3033394Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2017-02-17T19:33:53.6788587Z\",\"previousState\":\"running\",\"previousStateTransitionTime\":\"2017-02-17T19:33:53.5058599Z\",\"commandLine\":\"cmd
        /c echo hello world\",\"userIdentity\":{\r\n        \"autoUser\":{\r\n          \"scope\":\"task\",\"elevationLevel\":\"nonadmin\"\r\n
        \       }\r\n      },\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":1\r\n
        \     },\"executionInfo\":{\r\n        \"startTime\":\"2017-02-17T19:33:53.5058599Z\",\"endTime\":\"2017-02-17T19:33:53.6788587Z\",\"exitCode\":0,\"retryCount\":0,\"requeueCount\":0\r\n
        \     },\"nodeInfo\":{\r\n        \"affinityId\":\"TVM:tvm-3272485314_2-20170217t192723z\",\"nodeUrl\":\"https://pythonsdktest.westeurope.batch.azure.com/pools/python_test_pool_4/nodes/tvm-3272485314_2-20170217t192723z\",\"poolId\":\"python_test_pool_4\",\"nodeId\":\"tvm-3272485314_2-20170217t192723z\",\"taskRootDirectory\":\"workitems\\\\python_test_job\\\\job-1\\\\python_task_1\",\"taskRootDirectoryUrl\":\"https://pythonsdktest.westeurope.batch.azure.com/pools/python_test_pool_4/nodes/tvm-3272485314_2-20170217t192723z/files/workitems/python_test_job/job-1/python_task_1\"\r\n
        \     }\r\n    },{\r\n      \"id\":\"python_task_2\",\"url\":\"https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_2\",\"eTag\":\"0x8D4576BE8D69C69\",\"creationTime\":\"2017-02-17T19:33:50.7453369Z\",\"lastModified\":\"2017-02-17T19:33:54.5578601Z\",\"state\":\"active\",\"stateTran[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:33:55 GMT']
    method: GET
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_2/subtasksinfo?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westeurope.batch.azure.com/$metadata#subtaskinfo\",\"value\":[\r\n
        \   \r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:34:26 GMT']
    method: GET
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_2/files?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westeurope.batch.azure.com/$metadata#files\",\"value\":[\r\n
        \   {\r\n      \"name\":\"ProcessEnv.cmd\",\"url\":\"https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_2/files/ProcessEnv.cmd\",\"isDirectory\":false,\"properties\":{\r\n
        \       \"creationTime\":\"2017-02-17T19:33:56.3087029Z\",\"lastModified\":\"2017-02-17T19:33:56.3087029Z\",\"contentLength\":\"2565\",\"contentType\":\"application/octet-stream\"\r\n
        \     }\r\n    },{\r\n      \"name\":\"stderr.txt\",\"url\":\"https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_2/files/stderr.txt\",\"isDirectory\":false,\"properties\":{\r\n
        \       \"creationTime\":\"2017-02-17T19:33:56.2347036Z\",\"lastModified\":\"2017-02-17T19:33:56.2347036Z\",\"contentLength\":\"0\",\"contentType\":\"application/octet-stream\"\r\n
        \     }\r\n    },{\r\n      \"name\":\"stdout.txt\",\"url\":\"https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_2/files/stdout.txt\",\"isDirectory\":false,\"properties\":{\r\n
        \       \"creationTime\":\"2017-02-17T19:33:56.2347036Z\",\"lastModified\":\"2017-02-17T19:33:56.313703Z\",\"contentLength\":\"13\",\"contentType\":\"application/octet-stream\"\r\n
        \     }\r\n    },{\r\n      \"name\":\"wd\",\"url\":\"https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_2/files/wd\",\"isDirectory\":true\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:34:27 GMT']
    method: HEAD
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/tasks/python_task_2/files/stdout.txt?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/octet-stream]
      DataServiceVersion: ['3.0']
      Last-Modified: ['Fri, 17 Feb 2017 19:33:56 GMT']
      ocp-batch-file-isdirectory: ['False']
      ocp-batch-file-url: [https%3A%2F%2Fpythonsdktest.westeurope.batch.azure.com%2Fjobs%2Fpython_test_job%2Ftasks%2Fpython_task_2%2Ffiles%2Fstdout.txt]
      ocp-creation-time: ['Fri, 17 Feb 2017 19:33:56 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:34:35 GMT']
    method: POST
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/terminate?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job/terminate']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D4576C026337DA']
      Last-Modified: ['Fri, 17 Feb 2017 19:34:37 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:34:35 GMT']
    method: DELETE
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westeurope.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"ServerBusy\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The server is busy.\\nRequestId:a866c040-66e7-4fca-86ea-a1ed67716514\\nTime:2017-02-17T19:34:45.7479317Z\"\r\n
        \ }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 503, message: The server is busy.}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:35:07 GMT']
    method: DELETE
    uri: https://pythonsdktest.westeurope.batch.azure.com/jobs/python_test_job_2?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: ['3.0']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:35:08 GMT']
    method: GET
    uri: https://pythonsdktest.westeurope.batch.azure.com/lifetimejobstats?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westeurope.batch.azure.com/$metadata#jobstats/@Element\",\"url\":\"https://pythonsdktest.westeurope.batch.azure.com/lifetimejobstats\",\"startTime\":\"2017-02-17T18:42:18.1427777Z\",\"lastUpdateTime\":\"2017-02-17T18:42:18.1427777Z\",\"userCPUTime\":\"PT0S\",\"kernelCPUTime\":\"PT0S\",\"wallClockTime\":\"PT0S\",\"readIOps\":\"0\",\"writeIOps\":\"0\",\"readIOGiB\":0.0,\"writeIOGiB\":0.0,\"numTaskRetries\":\"0\",\"numSucceededTasks\":\"0\",\"numFailedTasks\":\"0\",\"waitTime\":\"PT0S\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 17 Feb 2017 19:35:09 GMT']
    method: DELETE
    uri: https://pythonsdktest.westeurope.batch.azure.com/pools/python_test_pool_4?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: ['3.0']
    status: {code: 202, message: Accepted}
version: 1
