interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azkv-pytest?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azkv-pytest","name":"azkv-pytest","location":"westus","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 200, message: OK}
- request:
    body: '{"value": "secVald17e1370"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://pytest-shared-vault.vault.azure.net/secrets/secd17e1370?api-version=2016-10-01
  response:
    body: {string: '{"value":"secVald17e1370","id":"https://pytest-shared-vault.vault.azure.net/secrets/secd17e1370/9f47ad6d475a4648b3c197db5acbbda3","attributes":{"enabled":true,"created":1496705576,"updated":1496705576,"recoverylevel":"Purgeable"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pytest-shared-vault.vault.azure.net/secrets/secd17e1370/?api-version=2016-10-01
  response:
    body: {string: '{"value":"secVald17e1370","id":"https://pytest-shared-vault.vault.azure.net/secrets/secd17e1370/9f47ad6d475a4648b3c197db5acbbda3","attributes":{"enabled":true,"created":1496705576,"updated":1496705576,"recoverylevel":"Purgeable"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pytest-shared-vault.vault.azure.net/secrets/secd17e1370/9f47ad6d475a4648b3c197db5acbbda3?api-version=2016-10-01
  response:
    body: {string: '{"value":"secVald17e1370","id":"https://pytest-shared-vault.vault.azure.net/secrets/secd17e1370/9f47ad6d475a4648b3c197db5acbbda3","attributes":{"enabled":true,"created":1496705576,"updated":1496705576,"recoverylevel":"Purgeable"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"tags": {"foo": "updated tag"}, "contentType": "text/plain", "attributes":
      {"enabled": true, "exp": 2527401600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://pytest-shared-vault.vault.azure.net/secrets/secd17e1370/?api-version=2016-10-01
  response:
    body: {string: '{"contentType":"text/plain","id":"https://pytest-shared-vault.vault.azure.net/secrets/secd17e1370/9f47ad6d475a4648b3c197db5acbbda3","attributes":{"enabled":true,"exp":2527401600,"created":1496705576,"updated":1496705578,"recoverylevel":"Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pytest-shared-vault.vault.azure.net/secrets/secd17e1370/?api-version=2016-10-01
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Secret not found:
        secd17e1370"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
version: 1
