interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_documentdb_test_accounts_delete632310d8/providers/Microsoft.DocumentDB/databaseAccounts/pydocumentdbtst632310d8?api-version=2015-04-08
  response:
    body: {string: '{"status":"Enqueued","error":{}}'}
    headers:
      Content-Location: ['https://management.documents.azure.com:450/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_documentdb_test_accounts_delete632310d8/providers/Microsoft.DocumentDB/databaseAccounts/pydocumentdbtst632310d8?api-version=2015-04-08']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_documentdb_test_accounts_delete632310d8/providers/Microsoft.DocumentDB/databaseAccounts/pydocumentdbtst632310d8/operationResults/eacad6a4-1b66-470d-b3fc-ce0083d431ea?api-version=2015-04-08']
      x-ms-gatewayversion: [version=1.10.57.4]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_documentdb_test_accounts_delete632310d8/providers/Microsoft.DocumentDB/databaseAccounts/pydocumentdbtst632310d8/operationResults/2e457de9-19b6-4195-8858-2f8e3d918baa?api-version=2015-04-08
  response:
    body: {string: '{"status":"Completed","error":{}}'}
    headers:
      Content-Location: ['https://management.documents.azure.com:450/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_documentdb_test_accounts_delete632310d8/providers/Microsoft.DocumentDB/databaseAccounts/pydocumentdbtst632310d8/operationResults/2e457de9-19b6-4195-8858-2f8e3d918baa?api-version=2015-04-08']
      Content-Type: [application/json]
      x-ms-gatewayversion: [version=1.10.57.4]
      x-ms-ratelimit-remaining-subscription-reads: ['14994']
    status: {code: 200, message: Ok}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_documentdb_test_accounts_delete632310d8/providers/Microsoft.DocumentDB/databaseAccounts/pydocumentdbtst632310d8/operationResults/eacad6a4-1b66-470d-b3fc-ce0083d431ea?api-version=2015-04-08
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.DocumentDB/databaseAccounts/pydocumentdbtst632310d8''
        under resource group ''test_mgmt_documentdb_test_accounts_delete632310d8''
        was not found."}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
version: 1
