interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Batch/operations?api-version=2017-05-01
  response:
    body: {string: '{"value":[{"name":"Microsoft.Batch/batchAccounts/providers/Microsoft.Insights/diagnosticSettings/read","display":{"provider":"Microsoft
        Batch","resource":"Batch Accounts","operation":"Read diagnostic setting","description":"Gets
        the diagnostic setting for the resource"},"origin":"system"},{"name":"Microsoft.Batch/batchAccounts/providers/Microsoft.Insights/diagnosticSettings/write","display":{"provider":"Microsoft
        Batch","resource":"Batch Accounts","operation":"Write diagnostic setting","description":"Creates
        or updates the diagnostic setting for the resource"},"origin":"system"},{"name":"Microsoft.Batch/batchAccounts/providers/Microsoft.Insights/logDefinitions/read","display":{"provider":"Microsoft
        Batch","resource":"Batch Account Log Definitions","operation":"Read Batch
        service log definitions","description":"Gets the available logs for the Batch
        service"},"origin":"system","properties":{"serviceSpecification":{"logSpecifications":[{"name":"ServiceLog","displayName":"Service
        Logs","blobDuration":"PT1H"}]}}},{"name":"Microsoft.Batch/batchAccounts/providers/Microsoft.Insights/metricDefinitions/read","display":{"provider":"Microsoft
        Batch","resource":"Batch Account Metric Definitions","operation":"Read Batch
        service metric definitions","description":"Gets the available metrics for
        the Batch service"},"origin":"system","properties":{"serviceSpecification":{"metricSpecifications":[{"name":"CoreCount","displayName":"Core
        Count","displayDescription":"Total number of cores in the batch account","unit":"Count","aggregationType":"Total","availabilities":[{"timeGrain":"PT1M","blobDuration":"PT1H"}],"supportsInstanceLevelAggregation":false,"enableRegionalMdmAccount":false},{"name":"TotalNodeCount","displayName":"Node
        Count","displayDescription":"Total number of nodes in the batch account","unit":"Count","aggregationType":"Total","availabilities":[{"timeGrain":"PT1M","blobDuration":"PT1H"}],"supportsInstanceLevelAggregation":false,"enableRegionalMdmAccount":false},{"name":"CreatingNodeCount","displayName":"Creating
        Node Count","displayDescription":"Number of nodes being created","unit":"Count","aggregationType":"Total","availabilities":[{"tim[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Batch/locations/brazilsouth/quotas?api-version=2017-05-01
  response:
    body: {string: '{"accountQuota":1}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-reads: ['14979']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "eastus2", "properties": {"poolAllocationMode": "UserSubscription"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest?api-version=2017-05-01
  response:
    body: {string: '{"error":{"code":"InvalidRequestBody","message":"The specified
        Request Body is not syntactically valid.\nRequestId:91631754-5617-4e7a-844f-49da74cb1335\nTime:2017-05-09T20:27:25.0032982Z","target":"BatchAccount","details":[{"code":"Reason","message":"keyVaultReference
        must be set if poolAllocationMode is specified as ''UserSubscription'' on
        a PUT request"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 400, message: The specified Request Body is not syntactically valid.}
- request:
    body: '{"location": "eastus2", "properties": {"poolAllocationMode": "UserSubscription",
      "keyVaultReference": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.KeyVault/vaults/batchpythonsdktest",
      "url": "https://batchpythonsdktest.vault.azure.net/"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest/operationResults/45401047-f13c-4352-b640-67102e24daa2?api-version=2017-05-01']
      Retry-After: ['0']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest/operationResults/45401047-f13c-4352-b640-67102e24daa2?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest","name":"batchpythonaccounttest","type":"Microsoft.Batch/batchAccounts","location":"eastus2","properties":{"accountEndpoint":"batchpythonaccounttest.eastus2.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":2147483647,"lowPriorityCoreQuota":0,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"poolAllocationMode":"usersubscription","keyVaultReference":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.KeyVault/vaults/batchpythonsdktest","url":"https://batchpythonsdktest.vault.azure.net/"}}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"0x8D49719D8B7BFBE"']
      Last-Modified: ['Tue, 09 May 2017 20:27:43 GMT']
      x-ms-ratelimit-remaining-subscription-reads: ['14985']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest","name":"pythonsdktest","type":"Microsoft.Batch/batchAccounts","location":"brazilsouth","properties":{"accountEndpoint":"pythonsdktest.brazilsouth.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":50,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Storage/storageAccounts/batchpythonsdktest","lastKeySync":"2017-05-09T20:26:28.5741279Z"},"poolAllocationMode":"batchservice"},"tags":{"Name":"tagName","Value":"tagValue"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"0x8D49719AD753BEA"']
      Last-Modified: ['Tue, 09 May 2017 20:26:30 GMT']
      x-ms-ratelimit-remaining-subscription-reads: ['14984']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts?api-version=2017-05-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest",[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/listKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"pythonsdktest","primary":"QLixBlAbSvbOVWILkPxQqYySx4+8GZ70nfuoKQYSjzNL2FxZlZPC6tUY871KXnw==","secondary":"f2ndj9x0Lpn6Ah9FUjqpZoyobNfUHRjOcINqZlArASGyucLBGJ3N9Iaqg=="}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: '{"keyName": "Secondary"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/regenerateKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"pythonsdktest","primary":"QLixBlAbSvbOVWILkPxQqYySx4+8GZ70nfuoKQYSjzNL2FxZlZPC6tUY871KXnw==","secondary":"DchwZrJBwLRD8bm3mFWf1QJOGTnkV6n0BMl0i9MCLmLboclZE+a8884Rw=="}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/pythonsdktest/syncAutoStorageKeys?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_batch_sdk_test/providers/Microsoft.Batch/batchAccounts/batchpythonaccounttest/operationResults/caa9ed06-b646-4c60-9067-db46df603c6c?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-reads: ['14986']
    status: {code: 200, message: OK}
version: 1
