interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azkv-pytest?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azkv-pytest","name":"azkv-pytest","location":"westus","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus", "properties": {"accessPolicies": [{"permissions":
      {"keys": ["encrypt", "decrypt", "wrapKey", "unwrapKey", "sign", "verify", "get",
      "list", "create", "update", "import", "delete", "backup", "restore", "recover",
      "purge"], "storage": ["get", "list", "delete", "set", "update", "regeneratekey",
      "setsas", "listsas", "getsas", "deletesas"], "secrets": ["get", "list", "set",
      "delete", "backup", "restore", "recover", "purge"], "certificates": ["get",
      "list", "delete", "create", "import", "update", "managecontacts", "getissuers",
      "listissuers", "setissuers", "deleteissuers", "manageissuers", "recover", "purge"]},
      "tenantId": "00000000-0000-0000-0000-000000000000", "objectId": "00000000-0000-0000-0000-000000000000"}],
      "sku": {"family": "A", "name": "premium"}, "tenantId": "00000000-0000-0000-0000-000000000000",
      "enabledForDiskEncryption": true, "enabledForTemplateDeployment": true, "enabledForDeployment":
      true}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azkv-pytest/providers/Microsoft.KeyVault/vaults/pytest-shared-vault?api-version=2016-10-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azkv-pytest/providers/Microsoft.KeyVault/vaults/pytest-shared-vault","name":"pytest-shared-vault","type":"Microsoft.KeyVault/vaults","location":"westus","tags":{},"properties":{"sku":{"family":"A","name":"premium"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"00000000-0000-0000-0000-000000000000","permissions":{"keys":["encrypt","decrypt","wrapKey","unwrapKey","sign","verify","get","list","create","update","import","delete","backup","restore","recover","purge"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"],"secrets":["get","list","set","delete","backup","restore","recover","purge"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover","purge"]}}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"vaultUri":"https://pytest-shared-vault.vault.azure.net/"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: '{"policy": {"secret_props": {"contentType": "application/x-pkcs12"}, "issuer":
      {"name": "Self"}, "x509_props": {"subject": "CN=*.microsoft.com", "sans": {"dns_names":
      ["onedrive.microsoft.com", "xbox.microsoft.com"]}, "validity_months": 24}, "key_props":
      {"key_size": 2048, "exportable": true, "kty": "RSA", "reuse_key": false}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/create?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/pending","issuer":{"name":"Self"},"csr":"MIIC4zCCAcsCAQAwGjEYMBYGA1UEAwwPKi5taWNyb3NvZnQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApgCD58sVWMT4B0kBF9xcQHAGZeVUApOTbJktobLzlbsRXq1GzSzunO0H0M2phzMeGH3M0q9DvHsafdK7IfaFKek02aApeeIJNvtqtOQCga2KjNPjjQPOc7FBJ5Tv9OHrYSZDY45lGL7XhyQpEE40cCXJtqwDWHBNRoNweDStwKgYtCr2IkMAPFjl5DMmoONbRALl1miM71ho5RucGvOn1lQ4n38MRjkJAlICzIVHrFOqpPRQ8lpgSa9XezhQpR61JP7oRhpEXEI2WU1LhINPNJIoBpaRp1vS+ArS8uoDvtBc8+XDk+KjIO9Nz8IgV/XfEFzHw0yLnicHdnovca5HOwIDAQABoIGDMIGABgkqhkiG9w0BCQ4xczBxMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwNQYDVR0RBC4wLIIWb25lZHJpdmUubWljcm9zb2Z0LmNvbYISeGJveC5taWNyb3NvZnQuY29tMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBABJ3Dpz7R85wdZ0KjNOD//5WHgteEwWYc9Yax2iBtHwFnYnnpW1TgZcqj4+2qamtHzwKCn8O+tusD9+IINzyNAlDgFvOABXNBfdzqlXxsK8/KGjSBhPkS9aAiSQnz46oMP/vdNjP+AkvjUFjx6Rs7ZBo9DVKfAh9fQvWOQnmzdVuukDcoglKkgG4Pdotxv2gzS1zVsudrRFcu/j4MBkymQXSQDKMxPHjQoOfGKlgQCxLInCrN0U2bgCz7nVCSrAXg8euRwL4CaRcKlby1YRm/+9RpGkqliYTMbW0remi7ZjQvyTlH68fjCA9Wd6N9ZglZq2vMUHDOlGu4wtQkxzuKsY=","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"22316bad2bca41f5a4d02c7227c01877"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Location: ['https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/pending?api-version=2016-10-01&request_id=22316bad2bca41f5a4d02c7227c01877']
      Retry-After: ['0']
    status: {code: 202, message: Accepted}
- request:
    body: '{"cancellation_requested": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/pending?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/pending","issuer":{"name":"Self"},"csr":"MIIC4zCCAcsCAQAwGjEYMBYGA1UEAwwPKi5taWNyb3NvZnQuY29tMIIBIjANBgkqhkiG9w0BAQE[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/pending?api-version=2016-10-01
  response:
    body: {string: '{"error":{"code":"PendingCertificateNotFound","message":"Pending
        certificate not found: asyncCanceledDeletedCert"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert?api-version=2016-10-01
  response:
    body: {string: '{"id":"https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/19a62395788c4784b01370c02cbcffc2","attributes":{"enabled":false,"nbf":1496704808,"exp":1559777408,"created":1496705408,"updated":1496705408,"recoverylevel":"Purgeable"},"policy":{"id":"https://pytest-shared-vault.vault.azure.net/certificates/asyncCanceledDeletedCert/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":false},"secret_props":{"contentType":"application/x-pkcs12"},"x509_props":{"subject":"CN=*.microsoft.com","sans":{"dns_names":["onedrive.microsoft.com","xbox.microsoft.com"]},"ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["digitalSignature","keyEncipherment"],"validity_months":24,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"lifetime_percentage":80},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1496705408,"updated":1496705408}}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
