interactions:
- request:
    body: '{"location": "East US 2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684","name":"test_mgmt_datalake_analytics_test_adla_compute_policies768c1684","location":"eastus2","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "East US 2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeStore/accounts/pyarmadls2768c1684?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"3bfe4386-530e-4216-a214-5ec3dc171ef2"},"location":"East
        US 2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeStore/accounts/pyarmadls2768c1684","name":"pyarmadls2768c1684","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/3bfe4386-530e-4216-a214-5ec3dc171ef20?api-version=2016-11-01&expanded=true']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeStore/accounts/pyarmadls2768c1684/operationresults/0?api-version=2016-11-01']
      Retry-After: ['0']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/3bfe4386-530e-4216-a214-5ec3dc171ef20?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeStore/accounts/pyarmadls2768c1684?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","firewallAllowDataLakeAnalytics":"Disabled","firewallRules":[],"virtualNetworkRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"encryptionState":"Enabled","encryptionConfig":{"type":"ServiceManaged"},"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"pyarmadls2768c1684.azuredatalakestore.net","accountId":"3bfe4386-530e-4216-a214-5ec3dc171ef2","creationTime":"2018-02-12T21:29:42.5999324Z","lastModifiedTime":"2018-02-12T21:29:42.5999324Z"},"location":"East
        US 2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeStore/accounts/pyarmadls2768c1684","name":"pyarmadls2768c1684","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "East US 2", "properties": {"defaultDataLakeStoreAccount":
      "pyarmadls2768c1684", "dataLakeStoreAccounts": [{"name": "pyarmadls2768c1684"}],
      "computePolicies": [{"name": "adlapolicy1768c1684", "properties": {"objectId":
      "8ce05900-7a9e-4895-b3f0-0fbcee507803", "objectType": "User", "maxDegreeOfParallelismPerJob":
      1, "minPriorityPerJob": 1}}], "maxJobCount": 3, "maxDegreeOfParallelism": 30,
      "queryStoreRetention": 30}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla768c1684?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"defaultDataLakeStoreAccount":"pyarmadls2768c1684","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"pyarmadls2768c1684"}],"maxDegreeOfParallelism":30,"maxJobCount":3,"computePolicies":[{"properties":{"objectId":"8ce05900-7a9e-4895-b3f0-0fbcee507803","objectType":"User","maxDegreeOfParallelismPerJob":1,"minPriorityPerJob":1},"name":"adlapolicy1768c1684"}],"queryStoreRetention":30,"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"d95067c5-77cb-4009-a5b8-6ae591cf3e4c"},"location":"East
        US 2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla768c1684","name":"pyarmadla768c1684","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/d95067c5-77cb-4009-a5b8-6ae591cf3e4c0?api-version=2016-11-01&expanded=true']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla768c1684/operationresults/0?api-version=2016-11-01']
      Retry-After: ['0']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/d95067c5-77cb-4009-a5b8-6ae591cf3e4c0?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla768c1684?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"firewallState":"Disabled","firewallAllowAzureIps":"Disabled","debugDataAccessLevel":"All","firewallRules":[],"defaultDataLakeStoreAccount":"pyarmadls2768c1684","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"pyarmadls2768c1684"}],"publicDataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"adltrainingsampledata"},{"properties":{"suffix":"azuredatalakestore.net"},"name":"ghinsights"}],"storageAccounts":[],"maxDegreeOfParallelism":30,"maxJobCount":3,"systemMaxDegreeOfParallelism":100,"systemMaxJobCount":20,"maxDegreeOfParallelismPerJob":30,"minPriorityPerJob":1,"computePolicies":[{"properties":{"objectId":"8ce05900-7a9e-4895-b3f0-0fbcee507803","objectType":"User","maxDegreeOfParallelismPerJob":1,"minPriorityPerJob":1},"name":"adlapolicy1768c1684"}],"queryStoreRetention":30,"hiveMetastores":[],"currentTier":"Consumption","newTier":"Consumption","provisioningState":"Succeeded","state":"Active","endpoint":"pyarmadla768c1684.azuredatalakeanalytics.net","accountId":"d95067c5-77cb-4009-a5b8-6ae591cf3e4c","creationTime":"2018-02-12T21:30:27.6506231Z","lastModifiedTime":"2018-02-12T21:30:27.6506231Z"},"location":"East
        US 2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla768c1684","name":"pyarmadla768c1684","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"objectId": "0583cfd7-60f5-43f0-9597-68b85591fc69", "objectType":
      "Group", "maxDegreeOfParallelismPerJob": 1, "minPriorityPerJob": 1}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla768c1684/computePolicies/adlapolicy2768c1684?api-version=2016-11-01
  response:
    body: {string: '{"properties":{"objectId":"0583cfd7-60f5-43f0-9597-68b85591fc69","objectType":"Group","maxDegreeOfParallelismPerJob":1,"minPriorityPerJob":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla768c1684/computePolicies/adlapolicy2768c1684","name":"adlapolicy2768c1684","type":"Microsoft.DataLakeAnalytics/accounts/computePolicies"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla768c1684/computePolicies?api-version=2016-11-01
  response:
    body: {string: '{"value":[{"properties":{"objectId":"8ce05900-7a9e-4895-b3f0-0fbcee507803","objectType":"User","maxDegreeOfParallelismPerJob":1,"minPriorityPerJob":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla768c1684/computePolicies/adlapolicy1768c1684","name":"adlapolicy1768c1684","type":"Microsoft.DataLakeAnalytics/accounts/computePolicies"},{"properties":{"objectId":"0583cfd7-60f5-43f0-9597-68b85591fc69","objectType":"Group","maxDegreeOfParallelismPerJob":1,"minPriorityPerJob":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_compute_policies768c1684/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla768c1684/computePolicies/adlapolicy2768c1684","name":"adlapolicy2768c1684","type":"Microsoft.DataLakeAnalytics/accounts/computePolicies"}]}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/d95067c5-77cb-4009-a5b8-6ae591cf3e4c3?api-version=2016-11-01&expanded=true
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14998']
    status: {code: 200, message: OK}
version: 1
