interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices?api-version=2017-04-24-preview&$expand=downloadUrl
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201705-217089190378988","type":"Microsoft.Billing/invoices","name":"201705-217089190378988","properties":{"downloadUrl":{"expiryTime":"2017-05-13T07:27:03Z","url":"https://billinginsightsstore02.blob.core.windows.net/invoices/00000000-0000-0000-0000-000000000000-201705-217089190378988.pdf?sv=2014-02-14&sr=b&sig=s4qVQSX2VbkRH6a6QUxRFLkAwfH8udlzm%2BhntSxvWDs%3D&se=2017-05-13T07%3A27%3A03Z&sp=r"},"invoicePeriodEndDate":"2017-04-26","invoicePeriodStartDate":"2017-03-27","billingPeriodIds":["/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201705-1"]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201704-117949190364043","type":"Microsoft.Billing/invoices","name":"201704-117949190364043","properties":{"downloadUrl":{"expiryTime":"2017-05-13T07:27:03Z","url":"https://billinginsightsstore02.blob.core.windows.net/invoices/00000000-0000-0000-0000-000000000000-201704-117949190364043.pdf?sv=2014-02-14&sr=b&sig=r7tXw%2FrNLpWPTdqf4DxwN%2FT9RdAVzqpysNtpPa6Hp8k%3D&se=2017-05-13T07%3A27%3A03Z&sp=r"},"invoicePeriodEndDate":"2017-03-26","invoicePeriodStartDate":"2017-02-27","billingPeriodIds":["/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201704-1"]}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['98']
    status: {code: 200, message: OK}
version: 1
