interactions:
- request:
    body: '{"value": "Pa$$w0rd"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://python-sdk-test-keyvault.vault.azure.net/secrets/pythonSecret-versioned?api-version=2016-10-01
  response:
    body: {string: '{"value":"Pa$$w0rd","id":"https://python-sdk-test-keyvault.vault.azure.net/secrets/pythonSecret-versioned/1e5aafa33e91418c9a6558e9eda4c1c6","attributes":{"enabled":true,"created":1478212958,"updated":1478212958}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://python-sdk-test-keyvault.vault.azure.net/secrets/pythonSecret-versioned/versions?api-version=2016-10-01
  response:
    body: {string: '{"value":[{"id":"https://python-sdk-test-keyvault.vault.azure.net/secrets/pythonSecret-versioned/1e5aafa33e91418c9a6558e9eda4c1c6","attributes":{"enabled":true,"created":1478212958,"updated":1478212958}},{"id":"https://python-sdk-test-keyvault.vault.azure.net/secrets/pythonSecret-versioned/70808c7953c74377b3a3d3a90a39dc72","attributes":{"enabled":true,"created":1478212958,"updated":1478212958}}],"nextLink":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
