interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azkv-pytest?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azkv-pytest","name":"azkv-pytest","location":"westus","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
- request:
    body: '{"key": {"q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5Mak7j3OPPY_T9rohjTW5aGGg9YSwq4jdz0RrmBX00ofYOjI3",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "e": "AQAB", "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey", "unwrapKey"],
      "kty": "RSA"}, "Hsm": false}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://pytest-shared-vault.vault.azure.net/keys/keysign97fd1219?api-version=7.0-preview
  response:
    body: {string: '{"key":{"kid":"https://pytest-shared-vault.vault.azure.net/keys/keysign97fd1219/071f815b35a14aaa81ef2555106a4d6c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU","e":"AQAB"},"attributes":{"enabled":true,"created":1496767240,"updated":1496767240,"recoverylevel":"Purgeable"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "iUoMr9_rsd7nprk-lB1GH2cEqF0WQcv5eTfZfVBdA00", "alg": "RS256"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://pytest-shared-vault.vault.azure.net/keys/keysign97fd1219/sign?api-version=7.0-preview
  response:
    body: {string: '{"kid":"https://pytest-shared-vault.vault.azure.net/keys/keysign97fd1219/071f815b35a14aaa81ef2555106a4d6c","value":"aX9kVFVSMxsJuxvkoQCIsdz_a-JhMawg3NyuUTXJJBWZy_xiTKSS7cUufSjyTDlY-0Xp8yqehys1f-tiE5RmHY5-uxcHDB4OwWB8YhOzLTZfrhWzTj1L4o4cxhUIli8F6DQuQw7ICHR_GIwBJhOCr7L44h-504ECVDo5Af8b2lot9k7OE-IMA0R_0eCI7HAb8jpJplAPOqhWgpipozSc4YJURoQq-jDBgjIwgMZDaCxBDF0hm-2aX5-1sbDuRv_rltfVKESyb1jfFTa-EAm08VfBKlm3Et7PnyW4cQSVnMdZD6PusXmVTCeYJ86IAIh5qG5DMf18RmIofGgY19y7Xg"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "aX9kVFVSMxsJuxvkoQCIsdz_a-JhMawg3NyuUTXJJBWZy_xiTKSS7cUufSjyTDlY-0Xp8yqehys1f-tiE5RmHY5-uxcHDB4OwWB8YhOzLTZfrhWzTj1L4o4cxhUIli8F6DQuQw7ICHR_GIwBJhOCr7L44h-504ECVDo5Af8b2lot9k7OE-IMA0R_0eCI7HAb8jpJplAPOqhWgpipozSc4YJURoQq-jDBgjIwgMZDaCxBDF0hm-2aX5-1sbDuRv_rltfVKESyb1jfFTa-EAm08VfBKlm3Et7PnyW4cQSVnMdZD6PusXmVTCeYJ86IAIh5qG5DMf18RmIofGgY19y7Xg",
      "alg": "RS256", "digest": "iUoMr9_rsd7nprk-lB1GH2cEqF0WQcv5eTfZfVBdA00"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://pytest-shared-vault.vault.azure.net/keys/keysign97fd1219/verify?api-version=7.0-preview
  response:
    body: {string: '{"value":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"value": "aX9kVFVSMxsJuxvkoQCIsdz_a-JhMawg3NyuUTXJJBWZy_xiTKSS7cUufSjyTDlY-0Xp8yqehys1f-tiE5RmHY5-uxcHDB4OwWB8YhOzLTZfrhWzTj1L4o4cxhUIli8F6DQuQw7ICHR_GIwBJhOCr7L44h-504ECVDo5Af8b2lot9k7OE-IMA0R_0eCI7HAb8jpJplAPOqhWgpipozSc4YJURoQq-jDBgjIwgMZDaCxBDF0hm-2aX5-1sbDuRv_rltfVKESyb1jfFTa-EAm08VfBKlm3Et7PnyW4cQSVnMdZD6PusXmVTCeYJ86IAIh5qG5DMf18RmIofGgY19y7Xg",
      "alg": "RS256", "digest": "iUoMr9_rsd7nprk-lB1GH2cEqF0WQcv5eTfZfVBdA00"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://pytest-shared-vault.vault.azure.net/keys/keysign97fd1219/071f815b35a14aaa81ef2555106a4d6c/verify?api-version=7.0-preview
  response:
    body: {string: '{"value":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
