interactions:
- request:
    body: '{"vmSize": "small", "cloudServiceConfiguration": {"osFamily": "4"}, "id":
      "python_test_pool_1"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:02:47 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3BCB3116AC9EE']
      Last-Modified: ['Thu, 04 Aug 2016 22:02:46 GMT']
      Location: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"vmSize": "small", "cloudServiceConfiguration": {"osFamily": "4"}, "networkConfiguration":
      {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1"},
      "id": "no_pool"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:09 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools?timeout=45&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"InvalidPropertyValue\",\"message\":{\r\n    \"lang\":\"en-US\"\
        ,\"value\":\"The value provided for one of the property in the request body\
        \ is invalid.\\nRequestId:b5e5bc3f-3d9e-4c2e-8e4f-c1223e9a2e32\\nTime:2016-08-04T22:04:08.8965806Z\"\
        \r\n  },\"values\":[\r\n    {\r\n      \"key\":\"PropertyName\",\"value\"\
        :\"subnetId\"\r\n    },{\r\n      \"key\":\"PropertyValue\",\"value\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1\"\
        \r\n    },{\r\n      \"key\":\"Reason\",\"value\":\"The specified subnetId\
        \ is in a different subscription and cannot be used with the current Batch\
        \ account in subscription 00000000-0000-0000-0000-000000000000\"\r\n    }\r\
        \n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 400, message: The value provided for one of the property in the
        request body is invalid.}
- request:
    body: '{"targetOSVersion": "WA-GUEST-OS-4.32_201605-01"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:13 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/upgradeos?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/upgradeos']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3BCB3445EB3AE']
      Last-Modified: ['Thu, 04 Aug 2016 22:04:12 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: '{"metadata": [{"value": "bar", "name": "foo"}], "applicationPackageReferences":
      [], "certificateReferences": []}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:13 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/updateproperties?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/updateproperties']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3BCB344A5A795']
      Last-Modified: ['Thu, 04 Aug 2016 22:04:12 GMT']
    status: {code: 204, message: No Content}
- request:
    body: '{"metadata": [{"value": "bar2", "name": "foo2"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:14 GMT']
    method: PATCH
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3BCB344DFCAD2']
      Last-Modified: ['Thu, 04 Aug 2016 22:04:13 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:14 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1?api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"python_test_pool_1\",\"url\":\"https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1\"\
        ,\"eTag\":\"0x8D3BCB344DFCAD2\",\"lastModified\":\"2016-08-04T22:04:13.0056914Z\"\
        ,\"creationTime\":\"2016-08-04T22:02:46.6750958Z\",\"state\":\"upgrading\"\
        ,\"stateTransitionTime\":\"2016-08-04T22:04:13.0056914Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2016-08-04T22:02:46.8190304Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicated\":0,\"\
        targetDedicated\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"metadata\":[\r\n    {\r\n      \"name\":\"foo2\",\"value\":\"bar2\"\
        \r\n    }\r\n  ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"\
        nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"\
        osFamily\":\"4\",\"targetOSVersion\":\"WA-GUEST-OS-4.32_201605-01\",\"currentOSVersion\"\
        :\"*\"\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3BCB344DFCAD2']
      Last-Modified: ['Thu, 04 Aug 2016 22:04:13 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:14 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1?timeout=30&$select=id%2Cstate&$expand=stats&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"python_test_pool_1\",\"state\":\"upgrading\"\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3BCB344DFCAD2']
      Last-Modified: ['Thu, 04 Aug 2016 22:04:13 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"autoScaleFormula": "$TargetDedicated=2", "autoScaleEvaluationInterval":
      "PT6M"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:15 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/enableautoscale?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/enableautoscale']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3BCB34587F0DF']
      Last-Modified: ['Thu, 04 Aug 2016 22:04:14 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"autoScaleFormula": "$TargetDedicated=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:15 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/evaluateautoscale?api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\"\
        ,\"timestamp\":\"2016-08-04T22:04:14.8996159Z\",\"results\":\"$TargetDedicated=3;$NodeDeallocationOption=requeue\"\
        \r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/evaluateautoscale']
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:16 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/disableautoscale?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1/disableautoscale']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3BCB3460AB52D']
      Last-Modified: ['Thu, 04 Aug 2016 22:04:14 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:16 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/pools?api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"python_test_pool_1\",\"url\":\"https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1\"\
        ,\"eTag\":\"0x8D3BCB3460AB52D\",\"lastModified\":\"2016-08-04T22:04:14.9646637Z\"\
        ,\"creationTime\":\"2016-08-04T22:02:46.6750958Z\",\"state\":\"upgrading\"\
        ,\"stateTransitionTime\":\"2016-08-04T22:04:14.9646637Z\",\"allocationState\"\
        :\"stopping\",\"allocationStateTransitionTime\":\"2016-08-04T22:04:14.9646637Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicated\":0,\"\
        targetDedicated\":2,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"metadata\":[\r\n        {\r\n          \"name\":\"foo2\",\"value\"\
        :\"bar2\"\r\n        }\r\n      ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\"\
        :{\r\n        \"nodeFillType\":\"Spread\"\r\n      },\"cloudServiceConfiguration\"\
        :{\r\n        \"osFamily\":\"4\",\"targetOSVersion\":\"WA-GUEST-OS-4.32_201605-01\"\
        ,\"currentOSVersion\":\"*\"\r\n      }\r\n    },{\r\n      \"id\":\"python_test_pool_2\"\
        ,\"url\":\"https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_2\"\
        ,\"eTag\":\"0x8D3BCB3239272C0\",\"lastModified\":\"2016-08-04T22:03:17.1339968Z\"\
        ,\"creationTime\":\"2016-08-04T22:03:17.1339968Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2016-08-04T22:03:17.1339968Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2016-08-04T22:03:17.2619964Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicated\":0,\"\
        targetDedicated\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n        \"nodeFillType\"\
        :\"Spread\"\r\n      },\"cloudServiceConfiguration\":{\r\n        \"osFamily\"\
        :\"4\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n      }\r\n\
        \    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:16 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/pools?maxresults=1&timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"python_test_pool_1\",\"url\":\"http[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:17 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/pools?$expand=stats&$filter=startswith%28id%2C%27python_test_pool_1%27%29&$select=id%2Cstate&timeout=30&api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"python_test_pool_1\",\"state\":\"\
        upgrading\"\r\n    }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"targetDedicated": 3}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:17 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_2/resize?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_2/resize']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3BCB3472C2A44']
      Last-Modified: ['Thu, 04 Aug 2016 22:04:16 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:18 GMT']
    method: POST
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_2/stopresize?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_2/stopresize']
      DataServiceVersion: ['3.0']
      ETag: ['0x8D3BCB34791A2D8']
      Last-Modified: ['Thu, 04 Aug 2016 22:04:17 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:19 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/lifetimepoolstats?api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#poolstats/@Element\"\
        ,\"url\":\"https://pythonsdktest.westus.batch.azure.com/lifetimepoolstats\"\
        ,\"usageStats\":{\r\n    \"startTime\":\"2016-08-04T22:02:29.4246799Z\",\"\
        lastUpdateTime\":\"2016-08-04T22:02:29.4246799Z\",\"dedicatedCoreTime\":\"\
        PT0S\"\r\n  },\"resourceStats\":{\r\n    \"startTime\":\"2016-08-04T22:02:29.4246799Z\"\
        ,\"diskReadIOps\":\"0\",\"diskWriteIOps\":\"0\",\"lastUpdateTime\":\"2016-08-04T22:02:29.4246799Z\"\
        ,\"avgCPUPercentage\":0.0,\"avgMemoryGiB\":0.0,\"peakMemoryGiB\":0.0,\"avgDiskGiB\"\
        :0.0,\"peakDiskGiB\":0.0,\"diskReadGiB\":0.0,\"diskWriteGiB\":0.0,\"networkReadGiB\"\
        :0.0,\"networkWriteGiB\":0.0\r\n  }\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:19 GMT']
    method: GET
    uri: https://pythonsdktest.westus.batch.azure.com/poolusagemetrics?api-version=2016-07-01.3.1
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://pythonsdktest.westus.batch.azure.com/$metadata#poolusagemetrics\"\
        ,\"value\":[\r\n    \r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json;odata=minimalmetadata]
      DataServiceVersion: ['3.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Thu, 04 Aug 2016 22:04:20 GMT']
    method: DELETE
    uri: https://pythonsdktest.westus.batch.azure.com/pools/python_test_pool_1?api-version=2016-07-01.3.1
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: ['3.0']
    status: {code: 202, message: Accepted}
version: 1
