interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_devtestlabs_test_devtestlabs34410fc3?api-version=2016-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_devtestlabs_test_devtestlabs34410fc3","name":"test_mgmt_devtestlabs_test_devtestlabs34410fc3","location":"westus","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_devtestlabs_test_devtestlabs34410fc3/providers/Microsoft.DevTestLab/labs/pylab34410fc3?api-version=2016-05-15
  response:
    body: {string: '{"properties":{"vaultName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_devtestlabs_test_devtestlabs34410fc3/providers/Microsoft.KeyVault/vaults/pylab34410fc35447","labStorageType":"Standard","createdDate":"2016-09-12T18:06:00.4772532+00:00","premiumDataDisks":"Disabled","provisioningState":"Succeeded","uniqueIdentifier":"2d7bd2ff-95a9-4022-b5f6-527f01e55ee4"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_devtestlabs_test_devtestlabs34410fc3/providers/microsoft.devtestlab/labs/pylab34410fc3","name":"pylab34410fc3","type":"Microsoft.DevTestLab/labs","location":"westus"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
      x-rp-requesturi: ['https://westus.rp1.vsdth.visualstudio.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_devtestlabs_test_devtestlabs34410fc3/providers/Microsoft.DevTestLab/labs/pylab34410fc3?api-version=2016-05-15']
    status: {code: 201, message: Created}
version: 1
