interactions:
- request:
    body: '{"location": "East US 2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_catalog_secrets5e621603?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_secrets5e621603","name":"test_mgmt_datalake_analytics_test_adla_catalog_secrets5e621603","location":"eastus2","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"name": "pyarmadls5e621603", "location": "East US 2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_secrets5e621603/providers/Microsoft.DataLakeStore/accounts/pyarmadls5e621603?api-version=2015-10-01-preview
  response:
    body: {string: '{"properties":{"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"211fd196-7650-4b16-a306-3099612ca760","creationTime":null,"lastModifiedTime":null},"location":"East
        US 2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_secrets5e621603/providers/Microsoft.DataLakeStore/accounts/pyarmadls5e621603","name":"pyarmadls5e621603","type":"Microsoft.DataLakeStore/accounts"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/211fd196-7650-4b16-a306-3099612ca7600?api-version=2015-10-01-preview&expanded=true']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_catalog_secrets5e621603/providers/Microsoft.DataLakeStore/accounts/pyarmadls5e621603/operationresults/0?api-version=2015-10-01-preview']
      Retry-After: ['0']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/211fd196-7650-4b16-a306-3099612ca7600?api-version=2015-10-01-preview&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14998']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"dataLakeStoreAccounts": [{"name": "pyarmadls5e621603"}],
      "defaultDataLakeStoreAccount": "pyarmadls5e621603"}, "name": "pyarmadla25e621603",
      "location": "East US 2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_secrets5e621603/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla25e621603?api-version=2015-10-01-preview
  response:
    body: {string: '{"properties":{"defaultDataLakeStoreAccount":"pyarmadls5e621603","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"pyarmadls5e621603"}],"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"40d9edb4-f580-47b6-82db-e2dcaa2bd7ec","creationTime":null,"lastModifiedTime":null},"location":"East
        US 2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_datalake_analytics_test_adla_catalog_secrets5e621603/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla25e621603","name":"pyarmadla25e621603","type":"Microsoft.DataLakeAnalytics/accounts"}'}
    headers:
      Azure-AsyncOperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/40d9edb4-f580-47b6-82db-e2dcaa2bd7ec0?api-version=2015-10-01-preview&expanded=true']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_datalake_analytics_test_adla_catalog_secrets5e621603/providers/Microsoft.DataLakeAnalytics/accounts/pyarmadla25e621603/operationresults/0?api-version=2015-10-01-preview']
      Retry-After: ['0']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/40d9edb4-f580-47b6-82db-e2dcaa2bd7ec0?api-version=2015-10-01-preview&expanded=true
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"script": "DROP DATABASE IF EXISTS adladb5e621603; CREATE
      DATABASE adladb5e621603; \nCREATE TABLE adladb5e621603.dbo.adlatable5e621603\n(\n        //Define
      schema of table\n        UserId          int, \n        Start           DateTime,
      \n        Region          string, \n        Query           string, \n        Duration        int,
      \n        Urls            string, \n        ClickedUrls     string,\n    INDEX
      idx1 \n    CLUSTERED (Region ASC) \n    PARTITIONED BY BUCKETS [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla25e621603.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000?api-version=2016-03-20-preview
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"testjob5e621603","type":"USql","submitter":"adlsvc01@myaddomain.onmicrosoft.com","degreeOfParallelism":2,"priority":1000,"submitTime":"2016-10-24T20:24:23.260977+00:00","state":"Compiling","result":"Succeeded","stateAuditRecords":[{"newState":"New","timeStamp":"2016-10-24T20:24:23.260977+00:00","details":"userName:;submitMachine:N/A"},{"newState":"Compiling","timeStamp":"2016-10-24T20:24:23.6828456+00:00","details":"CcsAttempts:1;Status:Dispatched"}],"properties":{"owner":"adlsvc01@myaddomain.onmicrosoft.com","resources":[{"name":"Profile","resourcePath":"adl://pyarmadls5e621603.azuredatalakestore.net/system/jobservice/jobs/Usql/2016/10/24/20/24/00000000-0000-0000-0000-000000000000/profile","type":"StatisticsResource"},{"name":"__ScopeRuntimeStatistics__.xml","resourcePath":"adl://pyarmadls5e621603.azuredatalakestore.net/system/jobservice/jobs/Usql/2016/10/24/20/24/00000000-0000-0000-0000-000000000000/__ScopeRuntimeStatistics__.xml","type":"StatisticsResource"}],"runtimeVersion":"default","rootProcessNodeId":"00000000-0000-0000-0000-000000000000","script":"DROP
        DATABASE IF EXISTS adladb5e621603; CREATE DATABASE adladb5e621603; \nCREATE
        TABLE adladb5e621603.dbo.adlatable5e621603\n(\n        //Define schema of
        table\n        UserId          int, \n        Start           DateTime, \n        Region          string,
        \n        Query           string, \n        Duration        int, \n        Urls            string,
        \n        ClickedUrls     string,\n    INDEX idx1 \[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla25e621603.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000?api-version=2016-03-20-preview
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"testjob5e621603","type":"USql","submitter":"adlsvc01@myaddomain.onmicrosoft.com","degreeOfParallelism":2,"priority":1000,"submitTime":"2016-10-24T20:24:23.260977+00:00","startTime":"2016-10-24T20:25:03.06378+00:00","endTime":"2016-10-24T20:25:03.0794026+00:00","state":"Ended","result":"Succeeded","stateAuditRecords":[{"newState":"New","timeStamp":"2016-10-24T20:24:23.260977+00:00","details":"userName:;submitMachine:N/A"},{"newState":"Compiling","timeStamp":"2016-10-24T20:24:23.6828456+00:00","details":"CcsAttempts:1;Status:Dispatched"},{"newState":"Queued","timeStamp":"2016-10-24T20:24:38.5580396+00:00"},{"newState":"Scheduling","timeStamp":"2016-10-24T20:24:38.573649+00:00","details":"Detail:Dispatching
        job[...]
- request:
    body: '{"password": "{''password'': ''adlapwd5e621603'', ''uri'': ''https://adlapysecrettest.contoso.com:443''}"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://pyarmadla25e621603.azuredatalakeanalytics.net/catalog/usql/databases/adladb5e621603/secrets/adlasecret5e621603?api-version=2015-10-01-preview
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
- request:
    body: '{"password": "{''password'': ''adlapwd5e621603'', ''uri'': ''https://adlapysecrettest.contoso.com:443''}"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://pyarmadla25e621603.azuredatalakeanalytics.net/catalog/usql/databases/adladb5e621603/secrets/adlasecret5e621603?api-version=2015-10-01-preview
  response:
    body: {string: '{"error":{"code":"ResourceAlreadyExists","message":"The resource
        ''mafs://accounts/pyarmadls5e621603/fs/catalog/database/ffcbc797-b243-49a1-8218-1efdc3ffdf55/credential/adlasecret5e621603''
        already exists. Trace: 31dd23f8-282f-4c0d-b414-e9518cd59790 Time: 2016-10-24T13:25:10.0645404-07:00"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 409, message: Conflict}
[...]
- request:
    body: '{"properties": {"script": "USE adladb5e621603; CREATE CREDENTIAL adlasecretcred5e621603
      WITH USER_NAME = \"scope@rkm4grspxa\", IDENTITY = \"adlasecret5e621603\";",
      "type": "USql"}, "name": "testjob5e621603", "type": "USql", "degreeOfParallelism":
      2, "jobId": "00000000-0000-0000-0000-000000000000"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://pyarmadla25e621603.azuredatalakeanalytics.net/Jobs/00000000-0000-0000-0000-000000000000?api-version=2016-03-20-preview
  response:
    body: {string: '{"jobId":"00000000-0000-0000-0000-000000000000","name":"testjob5e621603","type":"USql","submitter":"adlsvc01@myaddomain.onmicrosoft.com","degreeOfParallelism":2,"priority":1000,"submitTime":"2016-10-24T20:25:10.9882796+00:00","state":"Compiling","result":"Succeeded","stateAuditRecords":[{"newState":"New","timeStamp":"2016-10-24T20:25:10.9882796+00:00","details":"userName:;submitMachine:N/A"}],"properties":{"owner":"adlsvc01@myaddomain.onmicrosoft.com","resources":[],"runtimeVersion":"default","rootProcessNodeId":"00000000-0000-0000-0000-000000000000","algebraFilePath":"adl://pyarmadls5e621603.azuredatalakestore.net/system/jobservice/jobs/Usql/2016/10/24/20/25/00000000-0000-0000-0000-000000000000/algebra.xml","compileMode":"Semantic","errorSource":"Unknown","totalCompilationTime":"PT0S","totalPausedTime":"PT0S","totalQueuedTime":"PT0S","totalRunningTime":"PT0S","type":"USql"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla25e621603.azuredatalakeanalytics.net/catalog/usql/databases/adladb5e621603/credentials/adlasecretcred5e621603?api-version=2015-10-01-preview
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla25e621603.azuredatalakeanalytics.net/sqlip/$metadata#credentials/$entity\",\"computeAccountName\":\"pyarmadla25e621603\",\"databaseName\":\"adladb5e621603\",\"credentialName\":\"adlasecretcred5e621603\",\"userName\":\"scope@rkm4grspxa\",\"identity\":\"adlasecret5e621603\",\"version\":\"ba4e5404-6b04-451f-aed4-023605763f5e\"\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://pyarmadla25e621603.azuredatalakeanalytics.net/catalog/usql/databases/adladb5e621603/credentials?api-version=2015-10-01-preview
  response:
    body: {string: "{\r\n  \"@odata.context\":\"https://pyarmadla25e621603.azuredatalakeanalytics.net/sqlip/$metadata#credentials\",\"value\":[\r\n
        \   {\r\n      \"computeAccountName\":\"pyarmadla25e621603\",\"databaseName\":\"adladb5e621603\",\"credentialName\":\"adlasecretcred5e621603\",\"userName\":\"scope@rkm4grspxa\",\"identity\":\"adlasecret5e621603\",\"version\":\"ba4e5404-6b04-451f-aed4-023605763f5e\"\r\n
        \   }\r\n  ]\r\n}"}
    headers:
      Content-Type: [application/json; odata.metadata=minimal]
      OData-Version: ['4.0']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://pyarmadla25e621603.azuredatalakeanalytics.net/catalog/usql/databases/adladb5e621603/secrets?api-version=2015-10-01-preview
  response:
    body: {string: ''}
    headers:
    status: {code: 200, message: OK}
version: 1
