interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: HEAD
    uri: https://management.azure.com/providers/Microsoft.DocumentDB/databaseAccountNames/pydocdbtst633610d9?api-version=2015-04-08
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-tenant-reads: ['14999']
    status: {code: 404, message: NotFound}
- request:
    body: '{"location": "westus", "properties": {"locations": [{"locationName": "westus"}],
      "databaseAccountOfferType": "Standard"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_documentdb_test_accounts_create633610d9/providers/Microsoft.DocumentDB/databaseAccounts/pydocdbtst633610d9?api-version=2015-04-08
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_documentdb_test_accounts_create633610d9/providers/Microsoft.DocumentDB/databaseAccounts/pydocdbtst633610d9","name":"pydocdbtst633610d9","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Initializing","databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"writeLocations":[{"id":"pydocdbtst633610d9-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0}],"readLocations":[{"id":"pydocdbtst633610d9-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0}],"failoverPolicies":[{"id":"pydocdbtst633610d9-westus","locationName":"West
        US","failoverPriority":0}]}}'}
    headers:
      Content-Location: ['https://management.documents.azure.com:450/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_documentdb_test_accounts_create633610d9/providers/Microsoft.DocumentDB/databaseAccounts/pydocdbtst633610d9?api-version=2015-04-08']
      Content-Type: [application/json]
      x-ms-gatewayversion: [version=1.10.57.4]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: Ok}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_documentdb_test_accounts_create633610d9/providers/Microsoft.DocumentDB/databaseAccounts/pydocdbtst633610d9?api-version=2015-04-08
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_documentdb_test_accounts_create633610d9/providers/Microsoft.DocumentDB/databaseAccounts/pydocdbtst633610d9","name":"pydocdbtst633610d9","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://pydocdbtst633610d9.documents.azure.com:443/","databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"writeLocations":[{"id":"pydocdbtst633610d9-westus","locationName":"West
        US","documentEndpoint":"https://pydocdbtst633610d9-westus.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0}],"readLocations":[{"id":"pydocdbtst633610d9-westus","locationName":"West
        US","documentEndpoint":"https://pydocdbtst633610d9-westus.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0}],"failoverPolicies":[{"id":"pydocdbtst633610d9-westus","locationName":"West
        US","failoverPriority":0}]}}'}
    headers:
      Content-Location: ['https://management.documents.azure.com:450/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_documentdb_test_accounts_create633610d9/providers/Microsoft.DocumentDB/databaseAccounts/pydocdbtst633610d9?api-version=2015-04-08']
      Content-Type: [application/json]
      x-ms-gatewayversion: [version=1.10.57.4]
      x-ms-ratelimit-remaining-subscription-reads: ['14985']
    status: {code: 200, message: Ok}
version: 1
