{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-ms-response-type": "standard",
        "x-request-time": "0.016"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sag5kafuzodsfcw",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestnq6bnff67572c",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aig5kafuzodsfcw",
          "hbiWorkspace": false,
          "tenantId": "0000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crg5kafuzodsfcw",
          "notebookInfo": {
            "resourceId": "0000000-0000-0000-0000-000000000000",
            "fqdn": "ml-sdkvnextcli-eastus2-ed997c1d-9e48-442e-b62b-478a0b393069.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "0000000-0000-0000-0000-000000000000",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "0000000-0000-0000-0000-000000000000",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "0000000-0000-0000-0000-000000000000",
          "tenantId": "0000000-0000-0000-0000-000000000000"
        },
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-01-30T04:47:31.0681103Z",
          "createdBy": "dipeck@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-01-30T04:47:31.0681103Z",
          "lastModifiedBy": "dipeck@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://eastus2.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/getByHash?hash=6414b266c8933c19edc71af8d8a97e4e46d686bd9a904f3e6f4a44bc541a2f3b\u0026hashVersion=202208",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.307"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Request body could not be read. Ensure data was provided in the request body and that the content-type header is correct.",
          "messageFormat": null,
          "messageParameters": {},
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": null,
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": null,
        "environment": null,
        "location": null,
        "time": "0001-01-01T00:00:00\u002B00:00",
        "componentName": null
      }
    },
[...]
    {
      "RequestUri": "https://eastus2.api.azureml.ms/assetstore/v1.0/temporaryDataReference/createOrGet",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "assetId": "azureml://locations/eastus2/workspaces/ed997c1d-9e48-442e-b62b-478a0b393069/codes/641cafa7-a514-f78f-efa2-d93380d3117b/versions/1",
        "temporaryDataReferenceId": "000000000000000000000",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.085"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://sag5kafuzodsfcw.blob.core.windows.net:443/ed997c1d-9-8c85a0eb-49a9-519f-9191-199899f0f4a8",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sag5kafuzodsfcw",
          "credential": {
            "sasUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-8c85a0eb-49a9-519f-9191-199899f0f4a8?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=0000000000000000000000000000000000003D",
            "wasbsUri": null,
            "credentialType": "SAS"
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "000000000000000000000",
        "temporaryDataReferenceType": null
      }
    },
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-8c85a0eb-49a9-519f-9191-199899f0f4a8/get_started_train_score_eval/eval.py?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=0000000000000000000000000000000000003D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Jan 2023 05:48:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-8c85a0eb-49a9-519f-9191-199899f0f4a8/get_started_train_score_eval/eval.py?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=0000000000000000000000000000000000003D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "jBxVfCMm34izx6O6BAHAAQ==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 30 Jan 2023 05:48:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aW1wb3J0IGFyZ3BhcnNlCmZyb20gcGF0aGxpYiBpbXBvcnQgUGF0aAoKcGFyc2VyID0gYXJncGFyc2UuQXJndW1lbnRQYXJzZXIoImV2YWwiKQpwYXJzZXIuYWRkX2FyZ3VtZW50KCItLXNjb3JpbmdfcmVzdWx0IiwgdHlwZT1zdHIsIGhlbHA9IlBhdGggb2Ygc2NvcmluZyByZXN1bHQuIikKcGFyc2VyLmFkZF9hcmd1bWVudCgiLS1ldmFsX291dHB1dCIsIHR5cGU9c3RyLCBoZWxwPSJQYXRoIG9mIG91dHB1dCBldmFsdWF0aW9uIHJlc3VsdC4iKQoKYXJncyA9IHBhcnNlci5wYXJzZV9hcmdzKCkKCmxpbmVzID0gWwogICAgZiJTY29yaW5nIHJlc3VsdCBwYXRoOiB7YXJncy5zY29yaW5nX3Jlc3VsdH0iLAogICAgZiJFdmFsdWF0aW9uIG91dHB1dCBwYXRoOiB7YXJncy5ldmFsX291dHB1dH0iLApdCgpmb3IgbGluZSBpbiBsaW5lczoKICAgIHByaW50KGxpbmUpCgojIEV2YWx1YXRlIHRoZSBpbmNvbWluZyBzY29yaW5nIHJlc3VsdCBhbmQgb3V0cHV0IGV2YWx1YXRpb24gcmVzdWx0LgojIEhlcmUgb25seSBvdXRwdXQgYSBkdW1teSBmaWxlIGZvciBkZW1vLgooUGF0aChhcmdzLmV2YWxfb3V0cHV0KSAvICJldmFsX3Jlc3VsdCIpLndyaXRlX3RleHQoImV2YWxfcmVzdWx0IikK",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jBxVfCMm34izx6O6BAHAAQ==",
        "ETag": "\u00220x8DB0285A11AF0B7\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 05:48:35 GMT",
        "x-ms-content-crc64": "zvoojmJcIKE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-8c85a0eb-49a9-519f-9191-199899f0f4a8/get_started_train_score_eval/score.py?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=00000000000000000000000000000000000[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-8c85a0eb-49a9-519f-9191-199899f0f4a8/get_started_train_score_eval/eval.yaml?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=0000000000000000000000000000000000[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-8c85a0eb-49a9-519f-9191-199899f0f4a8/get_started_train_score_eval/score.yaml?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-8c85a0eb-49a9-519f-9191-199899f0f4a8/get_started_train_score_eval/train.yaml?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-8c85a0eb-49a9-519f-9191-199899f0f4a8/get_started_train_score_eval/train.py?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=00000000000000000000000000000000000[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-34398e60-3f3d-5d65-98b2-5dcd8251d4d8/get_started_train_score_eval/eval.py?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=irOgOOvAh20rOWvQYYEBJOiSdcza1Q3xbppNtgRwZKI%3D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Jan 2023 05:48:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-b878729d-ae72-516b-b1c1-323025c88f76/get_started_train_score_eval/eval.py?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=6hqXK4xeJuWprOJZTLgsRI0gsMn2AK1gvVPO3JcwTGM%3D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Jan 2023 05:48:35 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-8c85a0eb-49a9-519f-9191-199899f0f4a8/get_started_train_score_eval/eval.py?comp=metadata\u0026skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=0000000000000000000000000000000000003D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Jan 2023 05:48:36 GMT",
        "x-ms-meta-name": "641cafa7-a514-f78f-efa2-d93380d3117b",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0285A143F678\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 05:48:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-34398e60-3f3d-5d65-98b2-5dcd8251d4d8/get_started_train_score_eval/eval.yaml?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=irOgOOvAh20rOWvQYYEBJOiSdcza1Q3xbp[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-34398e60-3f3d-5d65-98b2-5dcd8251d4d8/get_started_train_score_eval/score.py?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=irOgOOvAh20rOWvQYYEBJOiSdcza1Q3xbpp[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-b878729d-ae72-516b-b1c1-323025c88f76/get_started_train_score_eval/eval.yaml?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=6hqXK4xeJuWprOJZTLgsRI0gsMn2AK1gvV[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-34398e60-3f3d-5d65-98b2-5dcd8251d4d8/get_started_train_score_eval/train.py?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=irOgOOvAh20rOWvQYYEBJOiSdcza1Q3xbpp[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-34398e60-3f3d-5d65-98b2-5dcd8251d4d8/get_started_train_score_eval/score.yaml?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=irOgOOvAh20rOWvQYYEBJOiSdcza1Q3xb[...]
[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-b878729d-ae72-516b-b1c1-323025c88f76/get_started_train_score_eval/score.py?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=6hqXK4xeJuWprOJZTLgsRI0gsMn2AK1gvVP[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-b878729d-ae72-516b-b1c1-323025c88f76/get_started_train_score_eval/score.yaml?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=6hqXK4xeJuWprOJZTLgsRI0gsMn2AK1gv[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-b878729d-ae72-516b-b1c1-323025c88f76/get_started_train_score_eval/train.yaml?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=6hqXK4xeJuWprOJZTLgsRI0gsMn2AK1gv[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-b878729d-ae72-516b-b1c1-323025c88f76/get_started_train_score_eval/train.py?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=6hqXK4xeJuWprOJZTLgsRI0gsMn2AK1gvVP[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-34398e60-3f3d-5d65-98b2-5dcd8251d4d8/get_started_train_score_eval/train.yaml?skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=irOgOOvAh20rOWvQYYEBJOiSdcza1Q3xb[...]
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-b878729d-ae72-516b-b1c1-323025c88f76/get_started_train_score_eval/eval.py?comp=metadata\u0026skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=6hqXK4xeJuWprOJZTLgsRI0gsMn2AK1gvVPO3JcwTGM%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Jan 2023 05:48:36 GMT",
        "x-ms-meta-name": "641cafa7-a514-f78f-efa2-d93380d3117b",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0285A171DD74\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 05:48:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sag5kafuzodsfcw.blob.core.windows.net/ed997c1d-9-34398e60-3f3d-5d65-98b2-5dcd8251d4d8/get_started_train_score_eval/eval.py?comp=metadata\u0026skoid=da11e5f0-57ac-4d3e-894c-cf537f89d706\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-01-30T04%3A40%3A19Z\u0026ske=2023-01-31T12%3A50%3A19Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-30T05%3A38%3A35Z\u0026se=2023-01-30T13%3A48%3A35Z\u0026sr=c\u0026sp=rcwl\u0026sig=irOgOOvAh20rOWvQYYEBJOiSdcza1Q3xbppNtgRwZKI%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 30 Jan 2023 05:48:36 GMT",
        "x-ms-meta-name": "641cafa7-a514-f78f-efa2-d93380d3117b",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0285A17A19A6\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 05:48:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/641cafa7-a514-f78f-efa2-d93380d3117b/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sag5kafuzodsfcw.blob.core.windows.net:443/ed997c1d-9-34398e60-3f3d-5d65-98b2-5dcd8251d4d8/get_started_train_score_eval"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/641cafa7-a514-f78f-efa2-d93380d3117b/versions/1?api-version=2022-05-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.263"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-00[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/70851a57-84e1-d8e5-8694-7e132238e864?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "A dummy evaluate module",
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "samples_evaluate",
            "description": "A dummy evaluate module",
            "version": "0.0.6",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json",
            "display_name": "Evaluate",
            "inputs": {
              "scoring_result": {
                "type": "path",
                "description": "Scoring result file in TSV format",
                "optional": false
              }
            },
            "outputs": {
              "eval_output": {
                "type": "path",
                "description": "Evaluation result"
              }
            },
            "type": "CommandComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/641cafa7-a514-f78f-efa2-d93380d3117b/versions/1",
            "environment": {
              "docker": {
                "image": "mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04:20220714.v1"
              },
              "conda": {
                "conda_dependencies": {
                  "name": "project_environment",
                  "channels": [
                    "conda-forge"
                  ],
                  "dependencies": [
                    "pip=20.2",
                    "python=3.7.9",
                    "scikit-surprise=1.0.6",
                    {
                      "pip": [
                        "waitress==2.0.0",
                        "azureml-designer-classic-modules==0.0.161",
                        "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm",
                        "spacy==2.1.7"
                      ]
                    }
                  ]
                }
              },
              "os": "Linux"
            },
            "command": "python eval.py --scoring_result {inputs.scoring_result} --eval_output {outputs.eval_output}"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/70851a57-84e1-d8e5-8694-7e132238e864?api-vers[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/44bb929b-0c68-db81-09b2-a163ae260ab3?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "A dummy scoring module",
          "properties": {},
          "tags": {
            "category": "Component Tutorial",
            "contact": "amldesigner@microsoft.com"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "samples_score",
            "description": "A dummy scoring module",
            "tags": {
              "category": "Component Tutorial",
              "contact": "amldesigner@microsoft.com"
            },
            "version": "0.0.5",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json",
            "display_name": "Score",
            "inputs": {
              "model_input": {
                "type": "path",
                "description": "Zipped model file",
                "optional": false
              },
              "test_data": {
                "type": "path",
                "description": "Test data organized in the torchvision format/structure",
                "optional": false
              }
            },
            "outputs": {
              "score_output": {
                "type": "path",
                "description": "The scoring result in TSV"
              }
            },
            "type": "CommandComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/641cafa7-a514-f78f-efa2-d93380d3117b/versions/1",
            "environment": {
              "docker": {
                "image": "mcr.microsoft.com/azureml/openmpi3.1.2[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/55d65622-ff6f-6761-37c4-d18f5288dde2?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "A dummy training module",
          "properties": {},
          "tags": {
            "category": "Component Tutorial",
            "contact": "amldesigner@microsoft.com"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "samples_train",
            "description": "A dummy training module",
[...]
