{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model/versions/2?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "error",
        "x-request-time": "1.129"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "Data version mltable_mnist_model:2 (dataContainerName:version) not found.",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "b787feb98207ed957bc247ead5187314",
                  "request": "6282a68331130bc6"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "int"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "westus3"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2023-03-31T07:12:48.959114\u002B00:00"
              }
            },
            {
              "type": "InnerError",
              "info": {
                "value": {
                  "code": "NotFoundError",
                  "innerError": null
                }
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://azuremlschemasprod.azureedge.net/latest/MLTable.schema.json",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "uU\u002ByQWSARp5Gs8TUQXVxrw==",
        "Content-Type": "application/json",
        "ETag": "\u00220x8DB2CE2040CA717\u0022",
        "Last-Modified": "Sat, 25 Mar 2023 03:35:44 GMT",
        "x-ms-version": "2018-03-28"
      },
      "ResponseBody": {
        "$schema": "http://json-schema.org/draft-07/schema#",
        "$id": "http://azureml/sdk-2-0/MLTable.json",
        "title": "MLTable specification",
        "description": "An MLTable defines a set of instructions in order to build a table of data.",
        "type": "object",
        "properties": {
          "$schema": {
            "type": "string"
          },
          "type": {
            "const": "mltable"
          },
          "metadata": {
            "description": "Infomation about the MLTable",
            "type": "object",
            "additionalProperties": true
          },
          "paths": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "file": {
                      "type": "string",
                      "description": "This specifies path of file containing data."
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "file"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "folder": {
                      "type": "string",
                      "description": "This specifies path of folder containing data."
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "folder"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "pattern": {
                      "type": "string",
                      "description": "This specifies a search pattern to allow globbing of files and folders containing data."
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "pattern"
                  ]
                }
              ]
            }
          },
          "traits": {
            "type": "object",
            "properties": {
              "index_columns": {
                "type": "array",
                "description": "Sets the table index using existing columns. This trait can be used by partition_by in the data plane to split data by the index.",
                "items": {
                  "type": "string"
                }
              },
              "timestamp_column": {
                "type": "string",
                "description": "Defines the timestamp column of the table. This trait can be used in filter transforms, or in other data plane operations (SDK) such as drift detection."
              }
            }
          },
          "transformations": {
            "description": "Defined sequence of transformations that are applied to data loaded from defined paths.",
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "const": "read_delimited"
                },
                {
                  "const": "read_parquet"
                },
                {
                  "const": "read_json_lines"
                },
                {
                  "const": "read_delta_lake"
                },
                {
                  "const": "extract_columns_from_partition_format"
                },
                {
                  "type": "object",
                  "properties": {
                    "read_delimited": {
                      "description": "Reads delimited files from provided paths, splitting them into rows and columns based on separator.",
                      "type": "object",
                      "properties": {
                        "delimiter": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 2,
                          "default": ","
                        },
                        "header": {
                          "type": "string",
                          "enum": [
                            "no_header",
                            "from_first_file",
                            "all_files_different_headers",
                            "all_files_same_headers"
                          ],
                          "default": "all_files_same_headers"
                        },
                        "support_multi_line": {
                          "type": "boolean",
                          "default": false
                        },
                        "empty_as_string": {
                          "type": "boolean",
                          "default": false
                        },
                        "encoding": {
                          "type": "string",
                          "enum": [
                            "utf8",
                            "iso88591",
                            "latin1",
                            "ascii",
                            "utf16",
                            "utf32",
                            "utf8bom",
                            "windows1252"
                          ],
                          "default": "utf8"
                        },
                        "include_path_column": {
                          "type": "boolean",
                          "default": false
                        },
                        "infer_column_types": {
                          "type": [
                            "object",
                            "boolean"
                          ],
                          "properties": {
                            "sample_size": {
                              "type": "integer",
                              "default": 100
                            },
                            "column_type_overrides": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "columns": {
                                    "oneOf": [
                                      {
                                        "type": "string",
                                        "description": "single column to be selected"
                                      },
                                      {
                                        "type": "array",
                                        "description": "list of columns to be selected",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    ]
                                  },
                                  "column_type": {
                                    "oneOf": [
                                      {
                                        "type": "string",
                                        "enum": [
                                          "boolean",
                                          "float",
                                          "string",
                                          "int",
                                          "stream_info"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "boolean": {
                                            "type": "object",
                                            "properties": {
                                              "true_values": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              },
                                              "false_values": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              },
                                              "mismatch_as": {
                                                "type": "string",
                                                "enum": [
                                                  "false",
                                                  "true",
                                                  "error"
                                                ],
                                                "default": "error"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "datetime": {
                                            "type": "object",
                                            "properties": {
                                              "formats": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              },
                                              "date_constant": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "formats"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "columns",
                                  "column_type"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "default": true,
                          "additionalProperties": false
                        },
                        "path_column": {
                          "type": "string"
                        },
                        "partition_size": {
                          "type": "integer"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "read_parquet": {
                      "description": "Reads parquet files from the provided paths using the defined options.",
                      "type": "object",
                      "properties": {
                        "include_path_column": {
                          "type": "boolean",
                          "default": false
                        },
                        "path_column": {
                          "type": "string"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "read_json_lines": {
                      "description": "Reads JSON lines file from the provided paths using the defined options.",
                      "type": "object",
                      "properties": {
                        "invalid_lines": {
                          "type": "string",
                          "enum": [
                            "error",
                            "drop"
                          ],
                          "default": "error"
                        },
                        "encoding": {
                          "type": "string",
                          "enum": [
                            "utf8",
                            "iso88591",
                            "latin1",
                            "ascii",
                            "utf16",
                            "utf32",
                            "utf8bom",
                            "windows1252"
                          ],
                          "default": "utf8"
                        },
                        "include_path_column": {
                          "type": "boolean",
                          "default": false
                        },
                        "path_column": {
                          "type": "string"
                        },
                        "partition_size": {
                          "type": "integer"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "read_delta_lake": {
                      "description": "Reads parquet files from delta lake using the defined options.",
                      "type": "object",
                      "properties": {
                        "version_as_of": {
                          "type": "integer",
                          "description": "integer version to use to read in a specific version of parquet files."
                        },
                        "timestamp_as_of": {
                          "type": "string",
                          "description": "datetime string in RFC-3339/ISO-8601 format to use to read in matching parquet files from a specific point in time."
                        },
                        "include_path_column": {
                          "type": "boolean",
                          "default": false
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "extract_columns_from_partition_format": {
                      "type": "object",
                      "description": "The partition information of each path will be extracted into columns based on the specified format",
                      "properties": {
                        "partition_format": {
                          "type": "string",
                          "description": "Partition format to use to extract data into columns"
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "filter": {
                      "description": "filter rows based on the expression",
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "take": {
                      "description": "take the first N rows from dataset",
                      "type": "integer"
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "take_random_sample": {
                      "description": "take a random sample of records in the dataset approximately by the probability specified",
                      "type": "object",
                      "properties": {
                        "probability": {
                          "type": "number",
                          "minimum": 0.0,
                          "maximum": 1.0
                        },
                        "seed": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "skip": {
                      "description": "Skip the first N records from top of the dataset",
                      "type": "integer"
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "drop_columns": {
                      "description": "Drop the specified columns from the dataset",
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "single column to be selected"
                        },
                        {
                          "type": "array",
                          "description": "list of columns to be selected",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "object",
                          "description": "pattern and properties defining columns to be selected",
                          "properties": {
                            "pattern": {
                              "type": "string"
                            },
                            "ignore_case": {
                              "type": "boolean",
                              "default": false
                            },
                            "invert": {
                              "type": "boolean",
                              "default": false
                            }
                          }
                        }
                      ]
                    }
                  },
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "keep_columns": {
                      "description": "Keep only the specified columns from the dataset",
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "single column to be selected"
                        },
                        {
                          "type": "array",
                          "description": "list of columns to be selected",
                          "items": {
                         [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-ms-response-type": "standard",
        "x-request-time": "0.135"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "sdkvnextcli6335583593",
          "containerName": "azureml-blobstore-911fb3a0-a072-4b1d-a4cc-a85f113abe13",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2023-03-22T06:38:29.9158635\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2023-03-22T06:38:30.9592202\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.449"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://sdkvnextcli6335583593.blob.core.windows.net/azureml-blobstore-911fb3a0-a072-4b1d-a4cc-a85f113abe13/LocalUpload/00000000000000000000000000000000/mnist-data/0.png",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 31 Mar 2023 07:12:50 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "yLW2CQQeldeN1S7hH1/5Nw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB2E82725E5965\u0022",
        "Last-Modified": "Mon, 27 Mar 2023 05:16:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 27 Mar 2023 05:16:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "df05892d-0988-48ea-8f71-4321042745fb",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "eea65a61-ff9b-45a3-9f11-7e300a2de918",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sdkvnextcli6335583593.blob.core.windows.net/azureml-blobstore-911fb3a0-a072-4b1d-a4cc-a85f113abe13/az-ml-artifacts/00000000000000000000000000000000/mnist-data/0.png",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 31 Mar 2023 07:12:51 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model/versions/2?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "dataType": "mltable",
          "dataUri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/mnist-data",
          "referencedUris": [
            "./0.png",
            "./1.png",
            "./2.png",
            "./3.png"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model/versions/2?api-version=2022-10-01",
        "x-aml-cluster": "int-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "1.020"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resour[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist/versions/2?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-02",
        "x-ms-ratelim[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_imdb_reviews_train/versions/2?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-02",
        [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_Adls_Tsv/versions/2?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
[...]
