{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11887",
        "x-ms-response-type": "standard",
        "x-request-time": "0.226"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "centraluseuap",
        "tags": {},
        "properties": {
          "createdOn": "2022-09-22T09:02:22.1899959\u002B00:00",
          "modifiedOn": "2022-09-23T03:28:18.0066218\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "centraluseuap",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 1,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 4,
            "targetNodeCount": 4,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 4,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2022-10-21T06:50:04.626\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11884",
        "x-ms-response-type": "standard",
        "x-request-time": "0.111"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "sagvgsoim6nmhbq",
          "containerName": "azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2022-09-22T09:02:03.2629568\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-22T09:02:04.166989\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1150",
        "x-ms-response-type": "standard",
        "x-request-time": "0.120"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/LocalUpload/00000000000000000000000000000000/one-line-tsv/component.yaml",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 24 Oct 2022 04:11:18 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "I/mAXjP62f\u002B\u002BfKCunnI4hw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAAA723E447D70\u0022",
        "Last-Modified": "Mon, 10 Oct 2022 03:48:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 10 Oct 2022 03:48:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "b7444b5f-b861-40c5-9887-133cf52f3a0c",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/az-ml-artifacts/00000000000000000000000000000000/one-line-tsv/component.yaml",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 24 Oct 2022 04:11:18 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b7444b5f-b861-40c5-9887-133cf52f3a0c/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/LocalUpload/00000000000000000000000000000000/one-line-tsv"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1112",
        "x-ms-response-type": "standard",
        "x-request-time": "0.174"
      },
      "R[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "azureml_anonymous",
            "tags": {},
            "version": "000000000000000000000",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json",
            "display_name": "Generate One Line Tsv",
            "is_deterministic": true,
            "inputs": {
              "content": {
                "type": "string"
              },
              "tsv_file": {
                "type": "string",
                "default": "output.tsv"
              }
            },
            "outputs": {
              "output_dir": {
                "type": "path"
              }
            },
            "type": "CommandComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b7444b5f-b861-40c5-9887-133cf52f3a0c/versions/1",
            "environment": {
              "os": "Linux",
              "name": "AzureML-Designer"
            },
            "command": "echo {inputs.content} \u003E {outputs.output_dir}/{inputs.tsv_file}"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1111",
        "x-ms-response-type": "standard",
        "x-request-time": "0.684"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/98f24375-15da-4ba9-83c4-65d2d044081e",
        "name": "98f24375-15da-4ba9-83c4-65d2d044081e",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "componentSpec": {
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json",
            "name": "azureml_anonymous",
            "version": "98f24375-15da-4ba9-83c4-65d2d044081e",
            "display_name": "Generate One Line Tsv",
            "is_deterministic": "True",
            "type": "CommandComponent",
            "outputs": {
              "output_dir": {
                "type": "path",
                "datastore_mode": "Upload"
              }
            },
            "inputs": {
              "content": {
                "type": "String",
                "optional": "False"
              },
              "tsv_file": {
                "type": "String",
                "optional": "False",
                "default": "output.tsv"
              }
            },
            "environment": {
              "name": "AzureML-Designer",
              "os": "Linux"
            },
            "successful_return_code": "Zero",
            "command": "echo {inputs.content} \u003E {outputs.output_dir}/{inputs.tsv_file}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/b7444b5f-b861-40c5-9887-133cf52f3a0c/versions/1"
          }
        },
        "systemData": {
          "createdAt": "2022-10-10T03:48:10.4696324\u002B00:00",
          "createdBy": "Xingzhi Zhang",
          "createdByType": "User",
          "lastModifiedAt": "2022-10-10T03:48:10.9637406\u002B00:00",
          "lastModifiedBy": "Xingzhi Zhang",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/LocalUpload/00000000000000000000000000000000/copy/component.yaml",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 24 Oct 2022 04:11:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "ISeDnoo/Cj2rw6jTAllU1A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAAA72419B68A3\u0022",
        "Last-Modified": "Mon, 10 Oct 2022 03:48:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 10 Oct 2022 03:48:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "9bb57d14-38c5-45ff-a752-035e86a90ba5",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/az-ml-artifacts/00000000000000000000000000000000/copy/component.yaml",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 24 Oct 2022 04:11:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "azureml_anonymous",
            "tags": {},
            "version": "000000000000000000000",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json",
            "display_name": "Copy Command",
            "is_deterministic": true,
            "inputs": {
              "input_dir": {
                "type": "path"
              },
              "file_names": {
                "type": "string"
              }
            },
            "outputs": {
              "output_dir": {
                "type": "path"
              }
            },
            "type": "CommandComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/9bb57d14-38c5-45ff-a752-035e86a90ba5/versions/1",
            "environment": {
              "os": "Linux",
  [...]
[...]
    {
      "RequestUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/LocalUpload/00000000000000000000000000000000/ls/ls.yaml",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 24 Oct 2022 04:11:24 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4FDxsPtcQKSnynuNx488iw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAAA724492DCAF\u0022",
        "Last-Modified": "Mon, 10 Oct 2022 03:48:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 10 Oct 2022 03:48:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "95c98c55-41f7-41c9-a2e1-f61050c6bc72",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/az-ml-artifacts/00000000000000000000000000000000/ls/ls.yaml",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 24 Oct 2022 04:11:25 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Pipeline with command components",
          "properties": {},
          "tags": {},
          "displayName": "pipeline_with_command_components",
          "experimentName": "v15_v2_interop",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "tsv_file": {
              "jobInputType": "literal",
              "value": "out.tsv"
            },
            "content": {
              "jobInputType": "literal",
              "value": "1\t2\t3\t4"
            }
          },
          "jobs": {
            "write_tsv": {
              "environment": null,
              "limits": {
                "job_limits_type": "Command"
              },
              "resources": {
                "properties": {}
              },
              "type": "CommandComponent",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "inputs": {
                "content": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.content}}"
                },
                "tsv_file": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.tsv_file}}"
                }
              },
              "outputs": {},
              "properties": {},
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/98f24375-15da-4ba9-83c4-65d2d044081e"
            },
            "copy_file": {
              "environment": null,
              "limits": {
                "job_limits_type": "Command"
              },
              "resources": {
                "properties": {}
              },
              "type": "CommandComponent",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "inputs": {
                "input_dir": {
                  "job_input_type": "literal",
                  "value": "${{parent.jobs.write_tsv.outputs.output_dir}}"
                },
                "file_names": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.tsv_file}}"
                }
              },
              "outputs": {
                "output_dir": {
                  "uri": "azureml://datastores/workspaceblobstore/paths/azureml/copy_file/outputs/output_dir",
                  "job_output_type": "uri_folder"
                }
              },
              "properties": {},
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/f9282ef9-604e-4109-8ea6-e565cc20d711"
            },
            "ls_file": {
              "environment": null,
              "limits": {
                "job_limits_type": "Command"
              },
              "resources": {
                "properties": {}
              },
              "type": "CommandComponent",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "inputs": {
                "input_dir": {
                  "job_input_type": "literal",
                  "value": "${{parent.jobs.copy_file.outputs.output_dir}}"
                }
              },
              "outputs": {},
              "properties": {},
              "_source": "YAML.COMPONENT",
              "environment_variables": {
                "verbose": "DEBUG"
              },
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/31415cc3-81dd-4085-8824-13f76ee1cbbb"
            }
          },
          "outputs": {},
          "settings": {
            "_source": "DSL"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-10-01-preview",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1106",
        "x-ms-response-type": "standard",
        "x-request-time": "4.639"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000",
        "name": "000000000000000000000",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "Pipeline with command components",
          "tags": {},
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{\u0022tsv_file\u0022:\u0022out.tsv\u0022,\u0022content\u0022:\u00221\\t2\\t3\\t4\u0022}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "pipeline_with_command_components",
          "status": "Preparing",
          "experimentName": "v15_v2_interop",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/000000000000000000000?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": null,
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "jobType": "Pipeline",
          "settings": {
            "_source": "DSL"
          },
          "jobs": {
            "write_tsv": {
              "environment": null,
              "limits": {
                "job_limits_type": "Command"
              },
              "resources": {
                "properties": {}
              },
              "type": "CommandComponent",
              "computeId": "/subscriptions/00000000-0000-0000-0000-00000[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000/cancel?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/jc:e61cd5e2-512f-475e-9842-5e2a973993b8:000000000000000000000?api-version=2022-10-01-preview",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-ratelimit-remaining-subscription-writes": "1147",
        "x-ms-response-type": "standard",
        "x-request-time": "0.800"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/jc:e61cd5e2-512f-475e-9842-5e2a973993b8:000000000000000000000?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/jc:e61cd5e2-512f-475e-9842-5e2a973993b8:000000000000000000000?api-version=2022-10-01-preview",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11880",
        "x-ms-response-type": "standard",
        "x-request-time": "0.033"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/jc:e61cd5e2-512f-475e-9842-5e2a973993b8:000000000000000000000?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11879",
        "x-ms-response-type": "standard",
        "x-request-time": "0.036"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
