{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model/versions/2?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.047"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist_model/versions/2",
        "name": "2",
        "type": "Microsoft.MachineLearningServices/workspaces/data/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "dataUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/mnist-data/",
          "dataType": "mltable",
          "referencedUris": [
            "./0.png",
            "./1.png",
            "./2.png",
            "./3.png"
          ]
        },
        "systemData": {
          "createdAt": "2023-03-08T06:32:28.6439358\u002B00:00",
          "createdBy": "Firstname Lastname",
          "createdByType": "User",
          "lastModifiedAt": "2023-03-08T06:32:28.6850547\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_mnist/versions/2?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
     [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_imdb_reviews_train/versions/2?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westu[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_Adls_Tsv/versions/2?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
  [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_aml_component_datatransfer_folder/versions/2?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vi[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_reghits/versions/2?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
   [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/data/mltable_starlite_sample_output/versions/2?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-w[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11992",
        "x-ms-response-type": "standard",
        "x-request-time": "0.014"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "centraluseuap",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sawz3ze3nechbsg",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestngco52wpeid7y",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aiwz3ze3nechbsg",
          "hbiWorkspace": false,
          "tenantId": "0000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crwz3ze3nechbsg",
          "creationTime": "2023-03-08T03:28:02.4901470Z",
          "notebookInfo": {
            "resourceId": "0000000-0000-0000-0000-000000000000",
            "fqdn": "ml-sdkvnextc-centraluseuap-df64664c-6e5e-4447-a0e4-b6d98f13443d.centraluseuap.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "df64664c-6e5e-4447-a0e4-b6d98f13443d",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://master.api.azureml-test.ms/discovery",
          "mlFlowTrackingUri": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "0000000-0000-0000-0000-000000000000",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "0000000-0000-0000-0000-000000000000",
          "tenantId": "0000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-03-08T03:28:02.490147Z",
          "createdBy": "alias@contoso.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-03-08T03:28:02.490147Z",
          "lastModifiedBy": "alias@contoso.com",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://master.api.azureml-test.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/getByHash?hash=f6ff5bfbe966ca01bf983b14929a796175114fd773afae3219bc0fe47690e77a\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "error",
        "x-request-time": "0.030"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Snapshot with hash f6ff5bfbe966ca01bf983b14929a796175114fd773afae3219bc0fe47690e77a was not found",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": {
            "type": "Common.WebApi.Exceptions.ResourceNotFoundException",
            "message": "Snapshot with hash f6ff5bfbe966ca01bf983b14929a796175114fd773afae3219bc0fe47690e77a was not found",
            "stackTrace": "   at Microsoft.MachineLearning.ProjectContent.EntryPoints.Controllers.SnapshotControllerV2.GetSnapshotByHash(WorkspaceContext2 workspaceContext, String hash, String hashVersion) in /mnt/vss/_work/1/s/src/azureml-api/src/ProjectContent/EntryPoints/Controllers/SnapshotControllerV2.cs:line 616\n   at lambda_method1311(Closure , Object )\n   at Microsoft.AspNetCore.Mvc.Infrastructure.ActionMethodExecutor.AwaitableObjectResultExecutor.Execute(IActionResultTypeMapper mapper, ObjectMethodExecutor ex[...]
[...]
    {
      "RequestUri": "https://master.api.azureml-test.ms/assetstore/v1.0/temporaryDataReference/createOrGet",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "assetId": "azureml://locations/centraluseuap/workspaces/df64664c-6e5e-4447-a0e4-b6d98f13443d/codes/641cafa7-a514-f78f-efa2-d93380d3117b/versions/1",
        "temporaryDataReferenceId": "000000000000000000000",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.475"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://sawz3ze3nechbsg.blob.core.windows.net:443/df64664c-6-7d75ffc5-8656-53ac-9213-b4b12bb278b8",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sawz3ze3nechbsg",
          "credential": {
            "sasUri": "https://sawz3ze3nechbsg.blob.core.windows.net/df64664c-6-7d75ffc5-8656-53ac-9213-b4b12bb278b8?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-03-08T06%3A34%3A48Z\u0026ske=2023-03-09T14%3A44%3A48Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-03-08T06%3A52%3A58Z\u0026se=2023-03-08T15%3A02%3A58Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
            "wasbsUri": null,
            "credentialType": "SAS"
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "000000000000000000000",
        "temporaryDataReferenceType": null
      }
    },
[...]
    {
      "RequestUri": "https://sawz3ze3nechbsg.blob.core.windows.net/df64664c-6-e423ccc2-cd1b-5e4c-a86f-ce663fc52846/get_started_train_score_eval/eval.py?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-03-08T03%3A34%3A01Z\u0026ske=2023-03-09T11%3A44%3A01Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-03-08T06%3A52%3A58Z\u0026se=2023-03-08T15%3A02%3A58Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 08 Mar 2023 07:02:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sawz3ze3nechbsg.blob.core.windows.net/df64664c-6-e423ccc2-cd1b-5e4c-a86f-ce663fc52846/get_started_train_score_eval/score.py?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-03-08T03%3A34%3A01Z\u0026ske=2023-03-09T11%3A44%3A01Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-03-08T06%3A52%3A58Z\u0026se=2023-03-08T15%3A02%3A58Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "P4Pg4tp7VCERqCdelo/SQw==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 08 Mar 2023 07:02:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "aW1wb3J0IGFyZ3BhcnNlCmZyb20gcGF0aGxpYiBpbXBvcnQgUGF0aAoKcGFyc2VyID0gYXJncGFyc2UuQXJndW1lbnRQYXJzZXIoInNjb3JlIikKcGFyc2VyLmFkZF9hcmd1bWVudCgiLS1tb2RlbF9pbnB1dCIsIHR5cGU9c3RyLCBoZWxwPSJQYXRoIG9mIGlucHV0IG1vZGVsLiIpCnBhcnNlci5hZGRfYXJndW1lbnQoIi0tdGVzdF9kYXRhIiwgdHlwZT1zdHIsIGhlbHA9IlBhdGggdG8gdGVzdCBkYXRhLiIpCnBhcnNlci5hZGRfYXJndW1lbnQoIi0tc2NvcmVfb3V0cHV0IiwgdHlwZT1zdHIsIGhlbHA9IlBhdGggb2Ygc2NvcmluZyBvdXRwdXQuIikKCmFyZ3MgPSBwYXJzZXIucGFyc2VfYXJncygpCgpsaW5lcyA9IFsKICAgIGYiTW9kZWwgcGF0aDoge2FyZ3MubW9kZWxfaW5wdXR9IiwKICAgIGYiVGVzdCBkYXRhIHBhdGg6IHthcmdzLnRlc3RfZGF0YX0iLAogICAgZiJTY29yaW5nIG91dHB1dCBwYXRoOiB7YXJncy5zY29yZV9vdXRwdXR9IiwKXQoKZm9yIGxpbmUgaW4gbGluZXM6CiAgICBwcmludChsaW5lKQoKIyBMb2FkIHRoZSBtb2RlbCBmcm9tIGlucHV0IHBvcnQKIyBIZXJlIG9ubHkgcHJpbnQgdGhlIG1vZGVsIGFzIHRleHQgc2luY2UgaXQgaXMgYSBkdW1teSBvbmUKbW9kZWwgPSAoUGF0aChhcmdzLm1vZGVsX2lucHV0KSAvICJtb2RlbCIpLnJlYWRfdGV4dCgpCnByaW50KCJNb2RlbDoiLCBtb2RlbCkKCiMgRG8gc2NvcmluZyB3aXRoIHRoZSBpbnB1dCBtb2RlbAojIEhlcmUgb25seSBwcmludCB0ZXh0IHRvIG91dHB1dCBmaWxlIGFzIGRlbW8KKFBhdGgoYXJncy5zY29yZV9vdXRwdXQpIC8gInNjb3JlIikud3JpdGVfdGV4dCgic2NvcmVkIHdpdGgge30iLmZvcm1hdChtb2RlbCkpCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "P4Pg4tp7VCERqCdelo/SQw==",
        "ETag": "\u00220x8DB1FA327140B87\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 07:02:59 GMT",
        "x-ms-content-crc64": "lIeV8eIt4ms=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sawz3ze3nechbsg.blob.core.windows.net/df64664c-6-7d75ffc5-8656-53ac-9213-b4b12bb278b8/get_started_train_score_eval/score.yaml?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-03-08T06%3A34%3A48Z\u0026ske=2023-03-09T14%3A44%3A48Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-03-08T06%3A52%3A58Z\u0026se=2023-03-08T15%3A02%3A58Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000[...]
    {
      "RequestUri": "https://sawz3ze3nechbsg.blob.core.windows.net/df64664c-6-e423ccc2-cd1b-5e4c-a86f-ce663fc52846/get_started_train_score_eval/eval.yaml?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-03-08T03%3A34%3A01Z\u0026ske=2023-03-09T11%3A44%3A01Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-03-08T06%3A52%3A58Z\u0026se=2023-03-08T15%3A02%3A58Z\u0026sr=c\u0026sp=rcwl\u0026sig=0000000000000000000000000000000000[...]
    {
      "RequestUri": "https://sawz3ze3nechbsg.blob.core.windows.net/df64664c-6-e423ccc2-cd1b-5e4c-a86f-ce663fc52846/get_started_train_score_eval/train.py?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-03-08T03%3A34%3A01Z\u0026ske=2023-03-09T11%3A44%3A01Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-03-08T06%3A52%3A58Z\u0026se=2023-03-08T15%3A02%3A58Z\u0026sr=c\u0026sp=rcwl\u0026sig=00000000000000000000000000000000000[...]
    {
      "RequestUri": "https://sawz3ze3nechbsg.blob.core.windows.net/df64664c-6-e423ccc2-cd1b-5e4c-a86f-ce663fc52846/get_started_train_score_eval/train.yaml?skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-03-08T03%3A34%3A01Z\u0026ske=2023-03-09T11%3A44%3A01Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-03-08T06%3A52%3A58Z\u0026se=2023-03-08T15%3A02%3A58Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000[...]
[...]
    {
      "RequestUri": "https://sawz3ze3nechbsg.blob.core.windows.net/df64664c-6-e423ccc2-cd1b-5e4c-a86f-ce663fc52846/get_started_train_score_eval/eval.py?comp=metadata\u0026skoid=e3f42e2c-d581-4b65-a966-631cfa961328\u0026sktid=0000000-0000-0000-0000-000000000000\u0026skt=2023-03-08T03%3A34%3A01Z\u0026ske=2023-03-09T11%3A44%3A01Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-03-08T06%3A52%3A58Z\u0026se=2023-03-08T15%3A02%3A58Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 08 Mar 2023 07:03:00 GMT",
        "x-ms-meta-name": "641cafa7-a514-f78f-efa2-d93380d3117b",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB1FA3279B9E6D\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 07:03:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/641cafa7-a514-f78f-efa2-d93380d3117b/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sawz3ze3nechbsg.blob.core.windows.net:443/df64664c-6-7d75ffc5-8656-53ac-9213-b4b12bb278b8/get_started_train_score_eval"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/641cafa7-a514-f78f-efa2-d93380d3117b/versions/1?api-version=2022-05-01",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-ms-response-type": "standard",
        "x-request-time": "1.445"
      },
      "ResponseBody": {
        "id": "/subscriptions/000000[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/44bb929b-0c68-db81-09b2-a163ae260ab3?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "A dummy scoring module",
          "properties": {},
          "tags": {
            "category": "Component Tutorial",
            "contact": "amldesigner@microsoft.com"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "samples_score",
            "description": "A dummy scoring module",
            "tags": {
              "category": "Component Tutorial",
              "contact": "amldesigner@microsoft.com"
            },
            "version": "0.0.5",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json",
            "display_name": "Score",
            "inputs": {
              "model_input": {
                "type": "path",
                "description": "Zipped model file",
                "optional": false
              },
              "test_data": {
                "type": "path",
                "description": "Test data organized in the torchvision format/structure",
                "optional": false
              }
            },
            "outputs": {
              "score_output": {
                "type": "path",
                "description": "The scoring result in TSV"
              }
            },
            "type": "CommandComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/641cafa7-a514-f78f-efa2-d93380d3117b/versions/1",
            "environment": {
              "docker": {
                "image": "mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04:20220714.v1"
              },
              "conda": {
                "conda_dependencies": {
                  "name": "project_environment",
                  "channels": [
                    "conda-forge"
                  ],
                  "dependencies": [
                    "pip=20.2",
                    "python=3.7.9",
                    "scikit-surprise=1.0.6",
                    {
                      "pip": [
                        "waitress==2.0.0",
                        "azureml-designer-classic-modules==0.0.161",
                        "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm",
                        "spacy==2.1.7"
                      ]
                    }
                  ]
                }
              },
              "os": "Linux"
            },
            "command": "python score.py --model_input {inputs.model_input} --test_data {inputs.test_data} --score_output {outputs.score_output}",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/44bb929b-0c68-db81-09b2-a163ae260ab3?api-version=2022-10-01",
        "x-aml-cluster": "vienna-test-westus2-01",
        "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/70851a57-84e1-d8e5-8694-7e132238e864?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "A dummy evaluate module",
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "samples_evaluate",
            "description": "A dummy evaluate module",
            "version": "0.0.6",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json",
            "display_name": "Evaluate",
            "inputs": {
              "scoring_result": {
                "type": "path",
                "description": "Scoring result file in TSV format",
                "optional": false
              }
            },
            "outputs": {
              "eval_output": {
                "type": "path",
                "description": "Evaluation result"
              }
            },
            "type": "CommandComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/641cafa7-a514-f78f-efa2-d93380d3117b/versions/1",
            "environment": {
              "docker": {
                "image": "mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu1[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/55d65622-ff6f-6761-37c4-d18f5288dde2?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "A dummy training module",
          "properties": {},
          "tags": {
            "category": "Component Tutorial",
            "contact": "amldesigner@microsoft.com"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "samples_train",
            "description": "A dummy training module",
            "tags": {
              "category": "Component Tutorial",
              "contact": "amldesigner@microsoft.com"
            },
            "version": "0.0.6",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json",
            "display_name": "Train",
            "inputs": {
              "training_data": {
                "type": "path",
                "description": "Training data organized in the torchvision format/structure",
                "optional": false
              },
              "max_epochs": {
                "type": "integer",
                "optional": false,
                "description": "Maximum number of epochs for the training"
              },
              "learning_rate": {
                "type": "float",
                "optional": false,
                "default": "0.01",
                "description": "Learning rate, default is 0.01"
              }
            },
            "outputs": {
              "model_output": {
                "type": "path",
                "description": "The output model"
              }
            },
            "type": "CommandComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/641cafa7-a514-f78f-efa2-d93380d3117b/versions/1",
            "environment": {
              "docker": {
                "image": "mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2023-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "displayName": "training_pipeline_with_components_in_registry",
          "experimentName": "v15_v2_interop",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "input_data": {
              "uri": "https://dprepdata.blob.core.windows.net/demo/Titanic.csv",
              "jobInputType": "uri_file"
            },
            "test_data": {
              "uri": "https://dprepdata.blob.core.windows.net/demo/Titanic.csv",
              "jobInputType": "uri_file"
            },
            "learning_rate": {
              "jobInputType": "literal",
              "value": "0.1"
            }
          },
          "jobs": {
            "train": {
              "type": "CommandComponent",
              "inputs": {
                "training_data": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.input_data}}"
                },
                "learning_rate": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.learning_rate}}"
                },
                "max_epochs": {
                  "job_input_type": "literal",
                  "value": "5"
                }
              },
              "outputs": {
                "model_output": {
                  "mode": "Upload",
                  "job_output_type": "uri_folder"
                }
              },
              "_source": "YAML.COMPONENT",
[...]
