{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/0538e903-ac4e-f403-c41e-5dc75a9c2e6b/versions?api-version=2023-04-01\u0026hash=b90ae5f2f892b1fe01fc746a48e075c0fdf5a70ed1d45164095b07679a6aca18\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11965",
        "x-ms-response-type": "standard",
        "x-request-time": "0.042"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/0538e903-ac4e-f403-c41e-5dc75a9c2e6b/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "b90ae5f2f892b1fe01fc746a48e075c0fdf5a70ed1d45164095b07679a6aca18",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://sdknotebstoragecffca2b79.blob.core.windows.net:443/616e0eb4-3-f53cde07-fdec-546b-995e-596f47ad9577/distribution-component",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2023-05-18T03:57:53.055814\u002B00:00",
              "createdBy": "Xingzhi Zhang",
              "createdByType": "User",
              "lastModifiedAt": "2023-05-18T03:57:53.055814\u002B00:00",
              "lastModifiedBy": "Xingzhi Zhang",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/0538e903-ac4e-f403-c41e-5dc75a9c2e6b/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_33217238577/versions/0.0.1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "name": "test_33217238577",
            "version": "0.0.1",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/DistributedComponent.json",
            "display_name": "MPI Example",
            "inputs": {
              "input_path": {
                "type": "path",
                "description": "The directory contains input data.",
                "optional": false
              },
              "string_parameter": {
                "type": "String",
                "optional": true,
                "description": "A parameter accepts a string value."
              }
            },
            "outputs": {
              "output_path": {
                "type": "path",
                "description": "The directory contains output data."
              }
            },
            "type": "DistributedComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/0538e903-ac4e-f403-c41e-5dc75a9c2e6b/versions/1",
            "environment": {
              "os": "Linux",
              "name": "AzureML-Minimal"
            },
            "launcher": {
              "type": "mpi",
              "additional_arguments": "python train.py --input-path {inputs.input_path} [--string-parameter {inputs.string_parameter}] --output-path {outputs.output_path}"
            },
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_33217238577/versions/0.0.1?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1187",
        "x-ms-response-type": "standard",
        "x-request-time": "0.443"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_33217238577/versions/0.0.1",
        "name": "0.0.1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "componentSpec": {
            "$schema": "https://componentsdk.azureedge.net/jsonschema/DistributedComponent.json",
            "name": "test_33217238577",
            "version": "0.0.1",
            "display_name": "MPI Example",
            "is_deterministic": "True",
            "type": "DistributedComponent",
            "inputs": {
              "input_path": {
                "type": "path",
                "optional": "False",
                "description": "The directory contains input data.",
                "datastore_mode": "Mount"
              },
              "string_parameter": {
                "type": "String",
                "optional": "True",
                "description": "A parameter accepts a string value."
              }
            },
            "outputs": {
              "output_path": {
                "type": "path",
                "description": "The directory contains output data.",
                "datastore_mode": "Upload"
              }
            },
            "environment": {
              "name": "AzureML-Minimal",
              "os": "Linux"
            },
            "launcher": {
              "type": "mpi",
              "additional_arguments": "python train.py --input-path {inputs.input_path} [--string-parameter {inputs.string_parameter}] --output-path {outputs.output_path}"
            },
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/0538e903-ac4e-f403-c41e-5dc75a9c2e6b/versions/1"
          }
        },
        "systemData": {
          "createdAt": "2023-05-18T05:16:29.5735874\u002B00:00",
          "createdBy": "Xingzhi Zhang",
          "createdByType": "User",
          "lastModifiedAt": "2023-05-18T05:16:29.6479861\u002B00:00",
          "lastModifiedBy": "Xingzhi Zhang",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
