{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11872",
        "x-ms-response-type": "standard",
        "x-request-time": "0.039"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "createdOn": "2023-02-09T01:54:27.5698654\u002B00:00",
          "modifiedOn": "2023-02-09T01:54:31.3327171\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "eastus2",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 0,
            "targetNodeCount": 0,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2023-02-11T02:04:10.745\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11869",
        "x-ms-response-type": "standard",
        "x-request-time": "0.019"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/safat2f6rn4hclg",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestkwk2ikhiolcmu",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aifat2f6rn4hclg",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crfat2f6rn4hclg",
          "notebookInfo": {
            "resourceId": "0000000-0000-0000-0000-000000000000",
            "fqdn": "ml-sdkvnextcli-eastus2-f7a7a6a9-166d-4f8e-9423-60668c799dd1.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "f7a7a6a9-166d-4f8e-9423-60668c799dd1",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "0000000-0000-0000-0000-000000000000",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "0000000-0000-0000-0000-000000000000",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-02-09T01:53:50.8086974Z",
          "createdBy": "dipeck@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-09T01:53:50.8086974Z",
          "lastModifiedBy": "dipeck@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://eastus2.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/getByHash?hash=672757e8c0a10210be3d906237f82bdcb59017a3c438f510dfe13d5b98f41b94\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "error",
        "x-request-time": "0.052"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Snapshot with hash 672757e8c0a10210be3d906237f82bdcb59017a3c438f510dfe13d5b98f41b94 was not found",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "20819964bee3104649d6d080d1e9e13e",
          "request": "0900aa168e858108"
        },
        "environment": "eastus2",
        "location": "eastus2",
        "time": "2023-02-11T02:09:49.4317216\u002B00:00",
        "componentName": "project"
      }
    },
[...]
    {
      "RequestUri": "https://eastus2.api.azureml.ms/assetstore/v1.0/temporaryDataReference/createOrGet",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "assetId": "azureml://locations/eastus2/workspaces/f7a7a6a9-166d-4f8e-9423-60668c799dd1/codes/9dd91ac6-3106-cec3-4b08-32bf9e3a91bd/versions/1",
        "temporaryDataReferenceId": "000000000000000000000",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "error",
        "x-request-time": "0.024"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "User is not authorized to access provided resources due to not having read access to specified resources for following asset types: codes.",
          "messageFormat": "User is not authorized to access provided resources due to {reason}.",
          "messageParameters": {
            "reason": "not having read access to specified resources for following asset types: codes"
          },
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "Auth",
            "innerError": {
              "code": "Authorization",
              "innerError": null
            }
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "95e0452af4416f111053807ac139ec9c",
          "request": "85a80e7994236265"
        },
        "environment": "eastus2",
        "location": "eastus2",
        "time": "2023-02-11T02:09:51.6051029\u002B00:00",
        "componentName": "feed"
      }
    },
[...]
    {
      "RequestUri": "https://eastus2.api.azureml.ms/assetstore/v1.0/temporaryDataReference/createOrGet",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "assetId": "azureml://locations/eastus2/workspaces/f7a7a6a9-166d-4f8e-9423-60668c799dd1/codes/aedf49e8-6449-3156-80cc-228aad71675b/versions/1",
        "temporaryDataReferenceId": "000000000000000000000",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.197"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://safat2f6rn4hclg.blob.core.windows.net:443/f7a7a6a9-1-a3bc0e28-44e3-57af-9d49-2f40e831b2fd",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/safat2f6rn4hclg",
          "credential": {
            "sasUri": "https://safat2f6rn4hclg.blob.core.windows.net/f7a7a6a9-1-a3bc0e28-44e3-57af-9d49-2f40e831b2fd?skoid=69d9d6d0-c876-4cae-973a-7084ed614894\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-11T01%3A59%3A53Z\u0026ske=2023-02-12T10%3A09%3A53Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-02-11T01%3A59%3A53Z\u0026se=2023-02-11T10%3A09%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
            "wasbsUri": null,
            "credentialType": "SAS"
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "000000000000000000000",
        "temporaryDataReferenceType": null
      }
    },
[...]
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/f7a7a6a9-1-098fc36d-a2ed-5e2f-a317-3944299d7df7/ls/ls.yaml?skoid=69d9d6d0-c876-4cae-973a-7084ed614894\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-11T01%3A59%3A53Z\u0026ske=2023-02-12T10%3A09%3A53Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-02-11T01%3A59%3A53Z\u0026se=2023-02-11T10%3A09%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Feb 2023 02:09:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/f7a7a6a9-1-a3bc0e28-44e3-57af-9d49-2f40e831b2fd/copy/component.yaml?skoid=69d9d6d0-c876-4cae-973a-7084ed614894\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-11T01%3A59%3A53Z\u0026ske=2023-02-12T10%3A09%3A53Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-02-11T01%3A59%3A53Z\u0026se=2023-02-11T10%3A09%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Feb 2023 02:09:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/f7a7a6a9-1-e2863014-1908-50db-b095-68f442bccdec/one-line-tsv/component.yaml?skoid=69d9d6d0-c876-4cae-973a-7084ed614894\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-11T01%3A59%3A53Z\u0026ske=2023-02-12T10%3A09%3A53Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-02-11T01%3A59%3A53Z\u0026se=2023-02-11T10%3A09%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Feb 2023 02:09:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/f7a7a6a9-1-098fc36d-a2ed-5e2f-a317-3944299d7df7/ls/ls.yaml?skoid=69d9d6d0-c876-4cae-973a-7084ed614894\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-11T01%3A59%3A53Z\u0026ske=2023-02-12T10%3A09%3A53Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-02-11T01%3A59%3A53Z\u0026se=2023-02-11T10%3A09%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "DgFLARKi0e4hqmZOmJSCJA==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 11 Feb 2023 02:09:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "JHNjaGVtYTogaHR0cHM6Ly9jb21wb25lbnRzZGsuYXp1cmVlZGdlLm5ldC9qc29uc2NoZW1hL0NvbW1hbmRDb21wb25lbnQuanNvbgpuYW1lOiBsc19jb21tYW5kCmRpc3BsYXlfbmFtZTogTHMgQ29tbWFuZAp2ZXJzaW9uOiAwLjAuMQp0eXBlOiBDb21tYW5kQ29tcG9uZW50CmlzX2RldGVybWluaXN0aWM6IHRydWUKdGFnczoge30KaW5wdXRzOgogIGlucHV0X2RpcjoKICAgIHR5cGU6IHBhdGgKICAgIG9wdGlvbmFsOiBmYWxzZQpvdXRwdXRzOiB7fQpjb21tYW5kOiA\u002BLQogIGxzIHtpbnB1dHMuaW5wdXRfZGlyfQplbnZpcm9ubWVudDoKICBuYW1lOiBBenVyZU1MLURlc2lnbmVyCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "DgFLARKi0e4hqmZOmJSCJA==",
        "ETag": "\u00220x8DB0BD510CFFD55\u0022",
        "Last-Modified": "Sat, 11 Feb 2023 02:09:54 GMT",
        "x-ms-content-crc64": "8BDO7s0uo8s=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/f7a7a6a9-1-098fc36d-a2ed-5e2f-a317-3944299d7df7/ls/ls.yaml?comp=metadata\u0026skoid=69d9d6d0-c876-4cae-973a-7084ed614894\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-11T01%3A59%3A53Z\u0026ske=2023-02-12T10%3A09%3A53Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-02-11T01%3A59%3A53Z\u0026se=2023-02-11T10%3A09%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Feb 2023 02:09:54 GMT",
        "x-ms-meta-name": "9dd91ac6-3106-cec3-4b08-32bf9e3a91bd",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0BD510E88ABC\u0022",
        "Last-Modified": "Sat, 11 Feb 2023 02:09:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/f7a7a6a9-1-a3bc0e28-44e3-57af-9d49-2f40e831b2fd/copy/component.yaml?comp=metadata\u0026skoid=69d9d6d0-c876-4cae-973a-7084ed614894\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-11T01%3A59%3A53Z\u0026ske=2023-02-12T10%3A09%3A53Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-02-11T01%3A59%3A53Z\u0026se=2023-02-11T10%3A09%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Feb 2023 02:09:54 GMT",
        "x-ms-meta-name": "aedf49e8-6449-3156-80cc-228aad71675b",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0BD510FD210D\u0022",
        "Last-Modified": "Sat, 11 Feb 2023 02:09:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/f7a7a6a9-1-e2863014-1908-50db-b095-68f442bccdec/one-line-tsv/component.yaml?comp=metadata\u0026skoid=69d9d6d0-c876-4cae-973a-7084ed614894\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-02-11T01%3A59%3A53Z\u0026ske=2023-02-12T10%3A09%3A53Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-02-11T01%3A59%3A53Z\u0026se=2023-02-11T10%3A09%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=000000000000000000000000000000000000",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 11 Feb 2023 02:09:54 GMT",
        "x-ms-meta-name": "50bac507-c69f-0bdb-5c85-675d0580e4fe",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0BD510FEF589\u0022",
        "Last-Modified": "Sat, 11 Feb 2023 02:09:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/9dd91ac6-3106-cec3-4b08-32bf9e3a91bd/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://safat2f6rn4hclg.blob.core.windows.net:443/f7a7a6a9-1-098fc36d-a2ed-5e2f-a317-3944299d7df7/ls"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/9dd91ac6-3106-cec3-4b08-32bf9e3a91bd/versions/1?api-version=2022-05-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1152",
        "x-ms-response-type": "standard",
        "x-request-time": "0.225"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-00[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/170c81f6-c4ae-476d-9aa1-f62155fcbafa?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "ls_command",
            "version": "0.0.1",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json",
            "display_name": "Ls Command",
            "is_deterministic": true,
            "inputs": {
              "input_dir": {
                "type": "path",
                "optional": false
              }
            },
            "type": "CommandComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/9dd91ac6-3106-cec3-4b08-32bf9e3a91bd/versions/1",
            "environment": {
              "os": "Linux",
              "name": "AzureML-Designer"
            },
            "command": "ls {inputs.input_dir}",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/170c81f6-c4ae-476d-9aa1-f62155fcbafa?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/c65d8e0e-41d5-ebde-e8f6-48b332806676?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "copy_command",
            "version": "0.0.1",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json",
            "display_name": "Copy Command",
            "is_deterministic": true,
            "inputs": {
              "input_dir": {
                "type": "path",
                "optional": false
              },
              "file_names": {
                "type": "string",
                "optional": false
              }
            },
            "outputs": {
              "output_dir": {
                "type": "path"
              }
            },
            "type": "CommandComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/aedf49e8-6449-3156-80cc-228aad71675b/versions/1",
            "environment": {
              "os": "Linux",
              "name": "AzureML-Designer"
            },
            "command": "cp {inputs.input_dir}/{inputs.file_names}[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/d8e0b9ce-1dd9-5c9f-7bc2-7cebd78c6faa?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "one_line_tsv",
            "version": "0.0.1",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json",
            "display_name": "Generate One Line Tsv",
            "is_deterministic": true,
            "inputs": {
              "content": {
                "type": "string",
                "optional": false
              },
              "tsv_file": {
                "type": "string",
                "optional": false,
                "default": "output.tsv"
              }
            },
            "outputs": {
              "output_dir": {
                "type": "path"
              }
            },
            "type": "CommandComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/50bac507-c69f-0bdb-5c85-675d0580e4fe/versions/1",
            "environment": {
              "os": "Linux",
              "name": "A[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Pipeline with command components",
          "properties": {},
          "tags": {},
          "displayName": "pipeline_with_command_components",
          "experimentName": "v15_v2_interop",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "tsv_file": {
              "jobInputType": "literal",
              "value": "out.tsv"
            },
            "content": {
              "jobInputType": "literal",
              "value": "1\t2\t3\t4"
            }
          },
          "jobs": {
            "write_tsv": {
              "type": "CommandComponent",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "inputs": {
                "content": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.content}}"
                },
                "tsv_file": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.tsv_file}}"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/483933ee-06aa-4077-95ff-c1a3bd988e05",
              "limits": {
                "job_limits_type": "Command"
              },
              "resources": {
                "properties": {}
              }
            },
            "copy_file": {
              "type": "CommandComponent",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "inputs": {
                "input_dir": {
                  "job_input_type": "literal",
                  "value": "${{parent.jobs.write_tsv.outputs.output_dir}}"
                },
                "file_names": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.tsv_file}}"
                }
              },
              "outputs": {
                "output_dir": {
                  "uri": "azureml://datastores/workspaceblobstore/paths/azureml/copy_file/outputs/output_dir",
                  "job_output_type": "uri_folder"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/8d1b8161-f441-4130-b8b7-3ff9a25ed533",
              "limits": {
                "job_limits_type": "Command"
              },
              "resources": {
                "properties": {}
              }
            },
            "ls_file": {
              "environment_variables": {
                "verbose": "DEBUG"
              },
              "type": "CommandComponent",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "inputs": {
                "input_dir": {
                  "job_input_type": "literal",
                  "value": "${{parent.jobs.copy_file.outputs.output_dir}}"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/1860c683-e574-4105-aff3-c85756ae9b0d",
              "limits": {
                "job_limits_type": "Command"
              },
              "resources": {
                "properties": {}
              }
[...]
