{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/47613077-69aa-8e2f-41b5-3b9e0fb90403/versions?api-version=2023-04-01\u0026hash=5397723835f7cddca0556264e306b844186068b3cc3026d36560da70d6760e8a\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11972",
        "x-ms-response-type": "standard",
        "x-request-time": "0.065"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/47613077-69aa-8e2f-41b5-3b9e0fb90403/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "5397723835f7cddca0556264e306b844186068b3cc3026d36560da70d6760e8a",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://amltest5899420437.blob.core.windows.net:443/0bdd51b6-c-3fcf9633-ee64-5e3c-81dd-613b403bec06/spark-component",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2023-05-19T10:08:27.58625\u002B00:00",
              "createdBy": "Chenyang Zhang",
              "createdByType": "User",
              "lastModifiedAt": "2023-05-19T10:08:27.58625\u002B00:00",
              "lastModifiedBy": "Chenyang Zhang",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/47613077-69aa-8e2f-41b5-3b9e0fb90403/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/6efb4967af524e324816635d7197e5ee?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "isAnonymous": true,
          "isArchived": false,
          "condaFile": "dependencies:\n- python=3.8\n- pip:\n  - azureml-core==1.44.0\n  - shrike==1.31.2\nname: component_env\n",
          "image": "conda/miniconda3"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/6efb4967af524e324816635d7197e5ee?api-version=2023-04-01-preview",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1190",
        "x-ms-response-type": "standard",
        "x-request-time": "0.536"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/6efb4967af524e324816635d7197e5ee",
        "name": "6efb4967af524e324816635d7197e5ee",
        "type": "Microsoft.MachineLearningServices/workspaces/environments/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "autoDeleteSetting": null,
          "environmentType": "UserCreated",
          "image": "conda/miniconda3",
          "condaFile": "{\n  \u0022dependencies\u0022: [\n    \u0022python=3.8\u0022,\n    {\n      \u0022pip\u0022: [\n        \u0022azureml-core==1.44.0\u0022,\n        \u0022shrike==1.31.2\u0022\n      ]\n    }\n  ],\n  \u0022name\u0022: \u0022component_env\u0022\n}",
          "osType": "Linux",
          "autoRebuild": "Disabled",
          "provisioningState": "Succeeded",
          "stage": "Logged",
          "intellectualProperty": null
        },
        "systemData": {
          "createdAt": "2023-05-19T10:08:29.8128337\u002B00:00",
          "createdBy": "Chenyang Zhang",
          "createdByType": "User",
          "lastModifiedAt": "2023-05-19T10:08:29.8128337\u002B00:00",
          "lastModifiedBy": "Chenyang Zhang",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_199599445837/versions/1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Aml Spark dataset test module",
          "properties": {
            "client_component_hash": "1cff4bfb-5b71-3447-d7e4-cc9f0313d415"
          },
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "name": "test_199599445837",
            "description": "Aml Spark dataset test module",
            "version": "1",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/SparkComponent.json",
            "display_name": "Aml Spark dataset test module",
            "inputs": {
              "file_input1": {
                "type": "path",
                "description": "The data to be read.",
                "datastore_mode": "hdfs"
              },
              "file_input2": {
                "type": "path",
                "description": "The data to be read.",
                "datastore_mode": "hdfs"
              }
            },
            "outputs": {
              "output": {
                "type": "path",
                "datastore_mode": "hdfs"
              }
            },
            "type": "spark",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/47613077-69aa-8e2f-41b5-3b9e0fb90403/versions/1",
            "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/6efb4967af524e324816635d7197e5ee",
            "jars": [
              "scalaproj.jar"
            ],
            "entry": {
              "file": "entry.py"
            },
            "args": "--file_input1 ${{inputs.file_input1}} --file_input2 ${{inputs.file_input2}} --output ${{outputs.output}}",
            "_source": "YAML.COMPONENT",
            "py_files": [
              "utils.zip"
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_199599445837/versions/1?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1189",
        "x-ms-response-type": "standard",
        "x-request-time": "0.359"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_199599445837/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "client_component_hash": "1cff4bfb-5b71-3447-d7e4-cc9f0313d415"
          },
          "isArchived": false,
          "isAnonymous": false,
          "componentSpec": {
            "$schema": "https://componentsdk.azureedge.net/jsonschema/SparkComponent.json",
            "name": "test_199599445837",
            "version": "1",
            "display_name": "Aml Spark dataset test module",
            "is_deterministic": "True",
            "type": "spark",
            "description": "Aml Spark dataset test module",
            "inputs": {
              "file_input1": {
                "type": "path",
                "optional": "False",
                "description": "The data to be read."
              },
              "file_input2": {
                "type": "path",
                "optional": "False",
                "description": "The data to be read."
              }
            },
            "outputs": {
              "output": {
                "type": "path"
              }
            },
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Ma[...]
[...]
