{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11929",
        "x-ms-response-type": "standard",
        "x-request-time": "0.021"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/saveorz2izv2bas",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtest4k4d3fds6sjxs",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aiveorz2izv2bas",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crveorz2izv2bas",
          "notebookInfo": {
            "resourceId": "0000000-0000-0000-0000-000000000000",
            "fqdn": "ml-sdkvnextcli-eastus2-2d1e66ae-85e3-42c0-be91-34de66397f26.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "2d1e66ae-85e3-42c0-be91-34de66397f26",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "0000000-0000-0000-0000-000000000000",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "0000000-0000-0000-0000-000000000000",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-02-23T02:09:00.5159669Z",
          "createdBy": "dipeck@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-23T02:09:00.5159669Z",
          "lastModifiedBy": "dipeck@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/getByHash?hash=aba922d867c8af4fca3176ad3b7e88bd2fab7435e4c38829d2f32ee1042b14aa\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.059"
      },
      "ResponseBody": {
        "snapshotType": "LocalFiles",
        "id": "4217dcc4-f538-4825-bd97-e3a90359ea12",
        "root": {
          "name": "",
          "hash": null,
          "type": "Directory",
          "timestamp": "0001-01-01T00:00:00\u002B00:00",
          "sasUrl": null,
          "absoluteUrl": null,
          "sizeBytes": 0,
          "sizeSet": false,
          "children": {
            "ls_command_component.yaml": {
              "name": "ls_command_component.yaml",
              "hash": "C2B2B24A8D5825A2B52E410460D920A2",
              "type": "File",
              "timestamp": "0001-01-01T00:00:00\u002B00:00",
              "sasUrl": null,
              "absoluteUrl": null,
              "sizeBytes": 235,
              "sizeSet": true,
              "children": {}
            }
          }
        },
        "tags": {},
        "properties": {
          "hash_sha256": "aba922d867c8af4fca3176ad3b7e88bd2fab7435e4c38829d2f32ee1042b14aa",
          "hash_version": "202208",
          "azureml.codeUri": "https://saveorz2izv2bas.blob.core.windows.net:443/2d1e66ae-8-e0f96040-aa78-5a29-9292-7b525f44ceca/command-component-ls"
        },
        "description": null,
        "name": "ca358933-f89d-b559-6e19-671fbd3fb357",
        "version": "1",
        "createdBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Diondra Peck",
          "upn": null
        },
        "createdTime": "2023-02-23T07:41:40.8400501\u002B00:00",
        "modifiedBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Diondra Peck",
          "upn": null
        },
        "modifiedTime": "2023-02-23T07:41:40.8400501\u002B00:00",
        "gitRepositoryCommit": null,
        "uri": "https://saveorz2izv2bas.blob.core.windows.net:443/2d1e66ae-8-e0f96040-aa78-5a29-9292-7b525f44ceca/command-component-ls",
        "contentHash": "aba922d867c8af4fca3176ad3b7e88bd2fab7435e4c38829d2f32ee1042b14aa",
        "hashVersion": "202208",
        "provisioningState": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/ca358933-f89d-b559-6e19-671fbd3fb357/versions/1?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11928",
        "x-ms-response-type": "standard",
        "x-request-time": "0.159"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/ca358933-f89d-b559-6e19-671fbd3fb357/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://saveorz2izv2bas.blob.core.windows.net:443/2d1e66ae-8-e0f96040-aa78-5a29-9292-7b525f44ceca/command-component-ls"
        },
        "systemData": {
          "createdAt": "2023-02-23T07:41:40.8400501\u002B00:00",
          "createdBy": "Diondra Peck",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-23T07:41:40.8400501\u002B00:00",
          "lastModifiedBy": "Diondra Peck",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_324126729371/versions/0.0.1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "name": "test_324126729371",
            "version": "0.0.1",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json",
            "display_name": "Ls Command",
            "is_deterministic": true,
            "type": "CommandComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/ca358933-f89d-b559-6e19-671fbd3fb357/versions/1",
            "environment": {
              "os": "Linux",
              "name": "AzureML-Designer"
            },
            "command": "ls",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_324126729371/versions/0.0.1?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1174",
        "x-ms-response-type": "standard",
        "x-request-time": "0.652"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_324126729371/versions/0.0.1",
        "name": "0.0.1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "componentSpec": {
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json",
            "name": "test_324126729371",
            "version": "0.0.1",
            "display_name": "Ls Command",
            "is_deterministic": "True",
            "type": "CommandComponent",
            "environment": {
              "name": "AzureML-Designer",
              "os": "Linux"
            },
            "successful_return_code": "Zero",
            "command": "ls",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/ca358933-f89d-b559-6e19-671fbd3fb357/versions/1"
          }
        },
        "systemData": {
          "createdAt": "2023-02-23T07:59:15.3102064\u002B00:00",
          "createdBy": "Diondra Peck",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-23T07:59:15.3685481\u002B00:00",
          "lastModifiedBy": "Diondra Peck",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11926",
        "x-ms-response-type": "standard",
        "x-request-time": "0.041"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "createdOn": "2023-02-23T02:09:37.0381833\u002B00:00",
          "modifiedOn": "2023-02-23T02:09:40.5544927\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "eastus2",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 0,
            "targetNodeCount": 0,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2023-02-23T07:44:04.51\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "displayName": "pipeline_func",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {},
          "jobs": {
            "node": {
              "limits": {
                "job_limits_type": "Command",
                "timeout": "PT5M"
              },
              "resources": {
                "instance_count": 2,
                "instance_type": "1Gi",
                "properties": {},
                "docker_args": "--cpus=2 --memory=1GB",
                "shm_size": "4g"
              },
              "environment_variables": {
                "verbose": "DEBUG"
              },
              "type": "CommandComponent",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "_source": "REMOTE.WORKSPACE.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_324126729371/versions/0.0.1"
            }
          },
          "outputs": {},
          "settings": {
            "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
            "_source": "DSL"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1173",
        "x-ms-response-type": "standard",
        "x-request-time": "1.434"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000",
        "name": "000000000000000000000",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultComputeName": "cpu-cluster",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "pipeline_func",
          "status": "Preparing",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/000000000000000000000?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": null,
          "isArchived": false,
          "identity": null,
          "comp[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000/cancel?api-version=2022-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationResults/jc:2d1e66ae-85e3-42c0-be91-34de66397f26:000000000000000000000?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-ratelimit-remaining-subscription-writes": "1183",
        "x-ms-response-type": "standard",
        "x-request-time": "0.675"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationResults/jc:2d1e66ae-85e3-42c0-be91-34de66397f26:000000000000000000000?api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationResults/jc:2d1e66ae-85e3-42c0-be91-34de66397f26:000000000000000000000?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11925",
        "x-ms-response-type": "standard",
        "x-request-time": "0.027"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationResults/jc:2d1e66ae-85e3-42c0-be91-34de66397f26:000000000000000000000?api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11924",
        "x-ms-response-type": "standard",
        "x-request-time": "0.070"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "component_name": "test_324126729371"
  }
}
