{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_220259600609?api-version=2023-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/79a1ba0c-35bb-436b-bff2-3074d5ff1f89/resourceGroups/Runtime/providers/Microsoft.MachineLearningServices/virtualclusters/centeuapvc",
          "displayName": "test_220259600609",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Command",
          "command": "echo \u0022test\u0022",
          "distribution": {
            "distributionType": "PyTorch",
            "processCountPerInstance": 1
          },
          "environmentId": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
          "environmentVariables": {
            "JOB_EXECUTION_MODE": "Basic",
            "AZUREML_COMPUTE_USE_COMMON_RUNTIME": "true"
          },
          "inputs": {},
          "outputs": {},
          "queueSettings": {
            "jobTier": "Premium",
            "priority": 2
          },
          "resources": {
            "instanceCount": 2,
            "instanceType": "Singularity.NC6_v3",
            "locations": [
              "westus",
              "eastus"
            ],
            "properties": {
              "AISuperComputer": {
                "interactive": false,
                "imageVersion": "",
                "tensorboardLogDirectory": "/scratch/tensorboard_logs",
                "scalePolicy": {
                  "autoScaleIntervalInSec": 120,
                  "maxInstanceTypeCount": 1,
                  "minInstanceTypeCount": 1
                }
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_220259600609?api-version=2023-02-01-preview",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "5.184"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_220259600609",
        "name": "test_220259600609",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "_azureml.ComputeTargetType": "singularity",
            "azureml.SLATier": "Premium",
            "azureml.EnableAzmlInt": "true",
            "azureml.VC": "/subscriptions/79a1ba0c-35bb-436b-bff2-3074d5ff1f89/resourcegroups/runtime/providers/microsoft.machinelearningservices/virtualclusters/centeuapvc",
            "azureml.ComputeType": "Singularity",
            "azureml.AutoScale": "true",
            "azureml.InstanceType": "Singularity.NC6_v3",
            "azureml.AutoScaleIntervalInSeconds": "120"
          },
          "displayName": "test_220259600609",
          "status": "Starting",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/test_220259600609?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/79a1ba0c-35bb-436b-bff2-3074d5ff1f89/resourceGroups/Runtime/providers/Microsoft.MachineLearningServices/virtualclusters/centeuapvc",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "jobType": "Command",
          "resources": {
            "instanceCount": 2,
            "instanceType": "Singularity.NC6_v3",
            "locations": [
              "westus",
              "eastus"
            ],
            "properties": {
              "AISuperComputer": {
                "interactive": false,
                "imageVersion": "",
                "tensorboardLogDirectory": "/scratch/tensorboard_logs",
                "scalePolicy": {
                  "autoScaleIntervalInSec": 120,
                  "maxInstanceTypeCount": 1,
                  "minInstanceTypeCount": 1
                }
              }
            },
            "shmSize": "2g",
            "dockerArgs": null
          },
          "codeId": null,
          "command": "echo \u0022test\u0022",
          "environmentId": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33",
          "inputs": {},
          "outputs": {
            "default": {
              "description": null,
              "uri": "azureml://datastores/workspaceartifactstore/ExperimentRun/dcid.test_220259600609",
              "assetName": null,
              "assetVersion": null,
              "mode": "ReadWriteMount",
              "jobOutputType": "uri_folder"
            }
          },
          "distribution": {
            "distributionType": "PyTorch",
            "processCountPerInstance": 1
          },
          "autologgerSettings": null,
          "limits": null,
          "environmentVariables": {
            "JOB_EXECUTION_MODE": "Basic",
            "AZUREML_COMPUTE_USE_COMMON_RUNTIME": "true"
          },
          "parameters": {},
          "queueSettings": {
            "jobTier": "Premium",
            "priority": 2
          }
        },
        "systemData": {
          "createdAt": "2023-03-09T17:37:25.8201511\u002B00:00",
          "createdBy": "Firstname Lastname",
          "createdByType": "User"
        }
      }
    },
[...]
