{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_480086623175?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/testCompute",
          "displayName": "test_480086623175",
          "experimentName": "mfe-test1",
          "isArchived": false,
          "jobType": "Command",
          "command": "echo \u0022inputs dont need to be used in command\u0022",
          "environmentId": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1",
          "environmentVariables": {},
          "inputs": {},
          "outputs": {
            "test1": {
              "jobOutputType": "uri_folder"
            },
            "test2": {
              "assetName": "test2_output",
              "assetVersion": "2",
              "mode": "Upload",
              "jobOutputType": "uri_folder"
            },
            "test3": {
              "assetName": "test3_output",
              "assetVersion": "3",
              "mode": "ReadWriteMount",
              "jobOutputType": "uri_folder"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_480086623175?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1190",
        "x-ms-response-type": "standard",
        "x-request-time": "0.413"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_480086623175",
        "name": "test_480086623175",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "_azureml.ComputeTargetType": "amlctrain"
          },
          "displayName": "test_480086623175",
          "status": "Starting",
          "experimentName": "mfe-test1",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/test_480086623175?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/testCompute",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "jobType": "Command",
          "resources": {
            "instanceCount": 1,
            "instanceType": null,
            "properties": null,
            "shmSize": "2g",
            "dockerArgs": null
          },
          "codeId": null,
          "command": "echo \u0022inputs dont need to be used in command\u0022",
          "environmentId": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1",
          "inputs": {},
          "outputs": {
            "test1": {
              "description": null,
              "uri": null,
              "assetName": null,
              "assetVersion": null,
              "mode": "ReadWriteMount",
              "jobOutputType": "uri_folder"
            },
            "test2": {
              "description": null,
              "uri": null,
              "assetName": "test2_output",
              "assetVersion": "2",
              "mode": "Upload",
              "jobOutputType": "uri_folder"
            },
            "test3": {
              "description": null,
              "uri": null,
              "assetName": "test3_output",
              "assetVersion": "3",
              "mode": "ReadWriteMount",
              "jobOutputType": "uri_folder"
            },
            "default": {
              "description": null,
              "uri": "azureml://datastores/workspaceartifactstore/ExperimentRun/dcid.test_480086623175",
              "assetName": null,
              "assetVersion": null,
              "mode": "ReadWriteMount",
              "jobOutputType": "uri_folder"
            }
          },
          "distribution": null,
          "autologgerSettings": null,
          "limits": null,
          "environmentVariables": {},
          "parameters": {}
        },
        "systemData": {
          "createdAt": "2023-02-23T05:18:21.8143832\u002B00:00",
          "createdBy": "Diondra Peck",
          "createdByType": "User"
        }
      }
    }
  ],
  "Variables": {
    "job_name": "test_480086623175"
  }
}
