include _meta.json
recursive-include tests *.py *.yaml
include *.md
include azure/__init__.py
include azure/cognitiveservices/__init__.py
include azure/cognitiveservices/language/__init__.py
include LICENSE
include azure/cognitiveservices/language/luis/py.typed
