interactions:
- request:
    body: 'b''b\''{"location": "westus", "sku": {"name": "DataBox"}, "properties":
      {"details": {"contactDetails": {"contactName": "Public SDK Test", "phone": "1234567890",
      "phoneExtension": "1234", "emailList": ["testing@microsoft.com"]}, "shippingAddress":
      {"streetAddress1": "16 TOWNSEND ST", "streetAddress2": "Unit 1", "city": "San
      Francisco", "stateOrProvince": "CA", "country": "US", "postalCode": "94107",
      "companyName": "Microsoft", "addressType": "Commercial"}, "destinationAccountDetails":
      [{"dataDestinationType": "StorageAccount", "storageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_databox_test_databoxf3720dde/providers/Microsoft.Storage/storageAccounts/databoxaccountabc"}],
      "jobDetailsType": "DataBox"}}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_databox_test_databoxf3720dde/providers/Microsoft.DataBox/jobs/testjob?api-version=2019-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataBox/locations/westus/operationResults/f9e1be3c-5196-440b-a2db-9722a34b20af?api-version=2018-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataBox/locations/westus/operationResults/f9e1be3c-5196-440b-a2db-9722a34b20af?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_databox_test_databoxf3720dde/providers/Microsoft.DataBox/jobs/testjob?api-version=2018-01-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_databox_test_databoxf3720dde/providers/Microsoft.DataBox/jobs/testjob?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"isCancellable\": true,\r\n    \"\
        isDeletable\": false,\r\n    \"isShippingAddressEditable\": true,\r\n    \"\
        isPrepareToShipEnabled\": false,\r\n    \"status\": \"DeviceOrdered\",\r\n\
        \    \"startTime\": \"2020-02-13T06:44:28.00637+00:00\",\r\n    \"deliveryType\"\
        : \"NonScheduled\",\r\n    \"deliveryInfo\": {\r\n      \"scheduledDateTime\"\
        : \"0001-01-01T00:00:00+00:00\"\r\n    },\r\n    \"isCancellableWithoutFee\"\
        : true\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"sku\"\
        : {\r\n    \"name\": \"DataBox\"\r\n  },\r\n  \"name\": \"testjob\",\r\n \
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_databox_test_databoxf3720dde/providers/Microsoft.DataBox/jobs/testjob\"\
        ,\r\n  \"type\": \"Microsoft.DataBox/jobs\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''b\''{"individualRequestDetails": [{"validationType": "ValidateDataDestinationDetails",
      "destinationAccountDetails": [{"dataDestinationType": "StorageAccount", "storageAccountId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_databox_test_databoxf3720dde/providers/Microsoft.Storage/storageAccounts/databoxaccountabc"}],
      "location": "westus"}, {"validationType": "ValidateAddress", "shippingAddress":
      {"streetAddress1": "16 TOWNSEND ST", "streetAddress2": "Unit 1", "city": "San
      Francisco", "stateOrProvince": "CA", "country": "US", "postalCode": "94107",
      "companyName": "Microsoft", "addressType": "Commercial"}, "deviceType": "DataBox"}],
      "validationCategory": "JobCreationValidation"}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_databox_test_databoxf3720dde/providers/Microsoft.DataBox/locations/westus/validateInputs?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"status\": \"AllValidToProceed\",\r\
        \n    \"individualResponseDetails\": [\r\n      {\r\n        \"status\": \"\
        Valid\",\r\n        \"validationType\": \"ValidateDataDestinationDetails\"\
        ,\r\n        \"error\": {}\r\n      },\r\n      {\r\n        \"validationStatus\"\
        : \"Valid\",\r\n        \"alternateAddresses\": [\r\n          {\r\n     \
        \       \"streetAddress1\": \"16 TOWNSEND ST\",\r\n            \"streetAddress2\"\
        : \"Unit 1\",\r\n            \"streetAddress3\": \"\",\r\n            \"city\"\
        : \"SAN FRANCISCO\",\r\n            \"stateOrProvince\": \"CA\",\r\n     \
        \       \"country\": \"US\",\r\n            \"postalCode\": \"94107\",\r\n\
        \            \"addressType\": \"None\"\r\n          }\r\n        ],\r\n  \
        \      \"validationType\": \"ValidateAddress\",\r\n        \"error\": {}\r\
        \n      }\r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataBox/locations/westus/regionConfiguration?api-version=2019-09-01
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: '{"validationType": "ValidateAddress", "shippingAddress": {"streetAddress1":
      "16 TOWNSEND ST", "streetAddress2": "Unit 1", "city": "San Francisco", "stateOrProvince":
      "CA", "country": "US", "postalCode": "94107", "companyName": "Microsoft", "addressType":
      "Commercial"}, "deviceType": "DataBox"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataBox/locations/westus/validateAddress?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"validationStatus\": \"Valid\",\r\n\
        \    \"alternateAddresses\": [\r\n      {\r\n        \"streetAddress1\": \"\
        16 TOWNSEND ST\",\r\n        \"streetAddress2\": \"Unit 1\",\r\n        \"\
        streetAddress3\": \"\",\r\n        \"city\": \"SAN FRANCISCO\",\r\n      \
        \  \"stateOrProvince\": \"CA\",\r\n        \"country\": \"US\",\r\n      \
        \  \"postalCode\": \"94107\",\r\n        \"addressType\": \"None\"\r\n   \
        \   }\r\n    ],\r\n    \"validationType\": \"ValidateAddress\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
- request:
    body: 'b''b\''{"individualRequestDetails": [{"validationType": "ValidateDataDestinationDetails",
      "destinationAccountDetails": [{"dataDestinationType": "StorageAccount", "storageAccountId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_databox_test_databoxf3720dde/providers/Microsoft.Storage/storageAccounts/databoxaccountabc"}],
      "location": "westus"}, {"validationType": "ValidateAddress", "shippingAddress":
      {"streetAddress[...]
- request:
    body: '{"reason": "{''reason'': ''CancelTest''}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_databox_test_databoxf3720dde/providers/Microsoft.DataBox/jobs/testjob/cancel?api-version=2019-09-01
  response:
    body:
      string: '{"error":{"code":"GatewayTimeout","message":"The gateway did not receive
        a response from ''Microsoft.DataBox'' within the specified time period."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
    status:
      code: 504
      message: Gateway Timeout
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataBox/locations/westus/operationResults/f9e1be3c-5196-440b-a2db-9722a34b20af-deleteorder?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataBox/locations/westus/operationResults/f9e1be3c-5196-440b-a2db-9722a34b20af-deleteorder?api-version=2018-01-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataBox/locations/westus/operationResults/f9e1be3c-5196-440b-a2db-9722a34b20af-deleteorder?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
