interactions:
- request:
    body: '{"description": "Created by SDK", "geometry": {"type": "Polygon", "coordinates":
      [[[73.70457172393799, 20.545385304358106], [73.70457172393799, 20.545385304358106],
      [73.70448589324951, 20.542411534243367], [73.70877742767334, 20.541688176010233],
      [73.71023654937744, 20.545083911372505], [73.70663166046143, 20.546992723579137],
      [73.70457172393799, 20.545385304358106]]]}}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://fakeAccount.farmbeats.azure.net/farmers/fake-farmer/boundaries/fake-boundaryboundary?api-version=2021-03-31-preview
  response:
    body:
      string: '{"farmerId":"fake-farmer","geometry":{"type":"Polygon","coordinates":[[[73.70457172393799,20.545385304358106],[73.70457172393799,20.545385304358106],[73.70448589324951,20.542411534243367],[73.70877742767334,20.541688176010233],[73.71023654937744,20.545083911372505],[73.70663166046143,20.546992723579137],[73.70457172393799,20.545385304358106]]]},"isPrimary":false,"acreage":60.40491151079627,"id":"fake-boundaryboundary","eTag":"19025df6-0000-0700-0000-609191ab0000","createdDateTime":"2021-05-04T18:25:47Z","modifiedDateTime":"2021-05-04T18:25:47Z","description":"Created
        by SDK"}'
    headers:
      api-deprecated-versions:
      - 2020-12-31-preview
      api-supported-versions:
      - 2021-03-31-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - 19025df6-0000-0700-0000-609191ab0000
      location:
      - http://iscai-sdk.farmbeats-dogfood.azure.net/farmers/fake-farmer/boundaries/fake-boundaryboundary
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://fakeAccount.farmbeats.azure.net/farmers/fake-farmer/boundaries/fake-boundaryboundary?api-version=2021-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-deprecated-versions:
      - 2020-12-31-preview
      api-supported-versions:
      - 2021-03-31-preview
    status:
      code: 204
      message: No Content
version: 1
