---
http_interactions:
- request:
    method: get
    uri: https://login.windows.net/<AZURE_TENANT_ID>/oauth2/token
    body:
      encoding: UTF-8
      string: resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_id=<AZURE_CLIENT_ID>&client_secret=<AZURE_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-responsehealth:
      - TargetId=ESTSFE_IN_72;Action=None;Category=None;Health=0;Load=10;
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3599","ext_expires_in":"3600","expires_on":"1468120504","not_before":"1468116604","resource":"https://management.core.windows.net/","access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Sun, 10 Jul 2016 02:15:05 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/RubySDKTest_azure_mgmt_dl_analytics?api-version=2016-02-01
    body:
      encoding: UTF-8
      string: '{"location":"East US 2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    body:
      encoding: UTF-8
      string: '{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_dl_analytics","name":"RubySDKTest_azure_mgmt_dl_analytics","location":"eastus2","properties":{"provisioningState":"Succeeded"}}'
  recorded_at: Sun, 10 Jul 2016 02:15:06 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_dl_analytics/providers/Microsoft.DataLakeStore/accounts/dlstoreacc?api-version=2015-10-01-preview
    body:
      encoding: UTF-8
      string: '{"location":"East US 2","name":"dlstoreacc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/RubySDKTest_azure_mgmt_dl_analytics/providers/Microsoft.DataLakeStore/accounts/dlstoreacc/operationresults/0?api-version=2015-10-01-preview
      retry-after: '1'
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/7a8b793c-50f0-4766-a776-0b28d05ddd730?api-version=2015-10-01-preview&expanded=true
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    body:
      encoding: UTF-8
      string: '{"properties":{"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"7a8b793c-50f0-4766-a776-0b28d05ddd73","creationTime":null,"lastModifiedTime":null},"location":"East
        US 2","tags":null,"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_dl_analytics/providers/Microsoft.DataLakeStore/accounts/dlstoreacc","name":"dlstoreacc","type":"Microsoft.DataLakeStore/accounts"}'
  recorded_at: Sun, 10 Jul 2016 02:15:08 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/7a8b793c-50f0-4766-a776-0b28d05ddd730?api-version=2015-10-01-preview&expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-reads:
      - '14939'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Succeeded"}'
  recorded_at: Sun, 10 Jul 2016 02:15:39 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_dl_analytics/providers/Microsoft.DataLakeStore/accounts/dlstoreacc?api-version=2015-10-01-preview
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-reads:
      - '14996'
    body:
      encoding: ASCII-8BIT
      string: '{"properties":{"firewallState":"Disabled","firewallRules":[],"trustedIdProviderState":"Disabled","trustedIdProviders":[],"provisioningState":"Succeeded","state":"Active","endpoint":"dlstoreacc.azuredatalakestore.net","accountId":"7a8b793c-50f0-4766-a776-0b28d05ddd73","creationTime":"2016-07-10T02:15:16.1310989Z","lastModifiedTime":"2016-07-10T02:15:16.1310989Z"},"location":"East
        US 2","tags":null,"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_dl_analytics/providers/Microsoft.DataLakeStore/accounts/dlstoreacc","name":"dlstoreacc","type":"Microsoft.DataLakeStore/accounts"}'
  recorded_at: Sun, 10 Jul 2016 02:15:40 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_dl_analytics/providers/Microsoft.DataLakeAnalytics/accounts/dlanalyticsacc?api-version=2015-10-01-preview
    body:
      encoding: UTF-8
      string: '{"location":"East US 2","name":"dlanalyticsacc","properties":{"defaultDataLakeStoreAccount":"dlstoreacc","dataLakeStoreAccounts":[{"name":"dlstoreacc"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/RubySDKTest_azure_mgmt_dl_analytics/providers/Microsoft.DataLakeAnalytics/accounts/dlanalyticsacc/operationresults/0?api-version=2015-10-01-preview
      retry-after: '1'
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/d6945624-5651-4139-a174-e43d0d9053000?api-version=2015-10-01-preview&expanded=true
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    body:
      encoding: UTF-8
      string: '{"properties":{"defaultDataLakeStoreAccount":"dlstoreacc","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"dlstoreacc"}],"provisioningState":"Creating","state":null,"endpoint":null,"accountId":"d6945624-5651-4139-a174-e43d0d905300","creationTime":null,"lastModifiedTime":null},"location":"East
        US 2","tags":null,"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_dl_analytics/providers/Microsoft.DataLakeAnalytics/accounts/dlanalyticsacc","name":"dlanalyticsacc","type":"Microsoft.DataLakeAnalytics/accounts"}'
  recorded_at: Sun, 10 Jul 2016 02:15:41 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/d6945624-5651-4139-a174-e43d0d9053000?api-version=2015-10-01-preview&expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-reads:
      - '14997'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"Succeeded"}'
  recorded_at: Sun, 10 Jul 2016 02:16:12 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_dl_analytics/providers/Microsoft.DataLakeAnalytics/accounts/dlanalyticsacc?api-version=2015-10-01-preview
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-reads:
      - '14995'
    body:
      encoding: ASCII-8BIT
      string: '{"properties":{"defaultDataLakeStoreAccount":"dlstoreacc","dataLakeStoreAccounts":[{"properties":{"suffix":"azuredatalakestore.net"},"name":"dlstoreacc"}],"storageAccounts":[],"maxDegreeOfParallelism":60,"maxJobCount":3,"hiveMetastores":[],"provisioningState":"Succeeded","state":"Active","endpoint":"dlanalyticsacc.azuredatalakeanalytics.net","accountId":"d6945624-5651-4139-a174-e43d0d905300","creationTime":"2016-07-10T02:15:44.5507057Z","lastModifiedTime":"2016-07-10T02:15:44.5507057Z"},"location":"East
        US 2","tags":null,"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_dl_analytics/providers/Microsoft.DataLakeAnalytics/accounts/dlanalyticsacc","name":"dlanalyticsacc","type":"Microsoft.DataLakeAnalytics/accounts"}'
  recorded_at: Sun, 10 Jul 2016 02:16:12 GMT
- request:
    method: put
    uri: https://dlanalyticsacc.azuredatalakeanalytics.net/Jobs/68ef6b80-ec33-4c7e-b204-1e6a77e504a7?api-version=2016-03-20-preview
    body:
      encoding: UTF-8
      string: '{"jobId":"68ef6b80-ec33-4c7e-b204-1e6a77e504a7","name":"testjob","type":"USql","properties":{"script":"DROP
        DATABASE IF EXISTS FOO; CREATE DATABASE FOO; DROP DATABASE IF EXISTS FOO;","type":"USql"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jobId":"68ef6b80-ec33-4c7e-b204-1e6a77e504a7","name":"testjob","type":"USql","submitter":"vshahliveapp@SPI","degreeOfParallelism":1,"priority":0,"submitTime":"2016-07-10T02:16:14.2177938+00:00","state":"Compiling","result":"Succeeded","stateAuditRecords":[{"newState":"New","timeStamp":"2016-07-10T02:16:14.2177938+00:00","details":"userName:vshahliveapp@SPI;submitMachine:N/A"}],"properties":{"owner":"vshahliveapp@SPI","resources":[],"runtimeVersion":"default","rootProcessNodeId":"00000000-0000-0000-0000-000000000000","algebraFilePath":"adl://dlstoreacc.azuredatalakestore.net/system/jobservice/jobs/Usql/2016/07/10/02/16/68ef6b80-ec33-4c7e-b204-1e6a77e504a7/algebra.xml","compileMode":"Semantic","errorSource":"Unknown","totalCompilationTime":"PT0S","totalPausedTime":"PT0S","totalQueuedTime":"PT0S","totalRunningTime":"PT0S","type":"USql"}}'
  recorded_at: Sun, 10 Jul 2016 02:16:15 GMT
[...]
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SVUJZU0RLVEVTVDo1RkFaVVJFOjVGTUdNVDo1RkRMOjVGQU5BTFlUSUNTLUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2016-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      x-ms-ratelimit-remaining-subscription-reads:
      - '14969'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 10 Jul 2016 02:18:19 GMT
recorded_with: VCR 3.0.3
