interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"stringIndexType":
      "UnicodeCodePoint"}, "taskName": "0"}], "entityRecognitionPiiTasks": [{"parameters":
      {"stringIndexType": "UnicodeCodePoint"}, "taskName": "2"}], "keyPhraseExtractionTasks":
      [{"parameters": {}, "taskName": "1"}], "entityLinkingTasks": [{"parameters":
      {"stringIndexType": "UnicodeCodePoint"}, "taskName": "3"}], "sentimentAnalysisTasks":
      [{"parameters": {"stringIndexType": "UnicodeCodePoint"}, "taskName": "4"}],
      "extractiveSummarizationTasks": [{"parameters": {"stringIndexType": "UnicodeCodePoint"},
      "taskName": "5"}], "customEntityRecognitionTasks": [], "customSingleClassificationTasks":
      [], "customMultiClassificationTasks": []}, "analysisInput": {"documents": [{"id":
      "0", "text": "This is written in English.", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: '{"error":{"code":"401","message":"Access denied due to invalid subscription
        key or wrong API endpoint. Make sure to provide a valid key for an active
        subscription and use a correct regional API endpoint for your resource."}}'
    headers:
      content-type:
      - application/json
    status:
      code: 401
      message: PermissionDenied
version: 1
