{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022tasks\u0022: {\u0022entityRecognitionTasks\u0022: [{\u0022parameters\u0022: {\u0022model-version\u0022: \u0022latest\u0022, \u0022stringIndexType\u0022: \u0022UnicodeCodePoint\u0022}, \u0022taskName\u0022: \u00220\u0022}], \u0022entityRecognitionPiiTasks\u0022: [{\u0022parameters\u0022: {\u0022model-version\u0022: \u0022latest\u0022, \u0022stringIndexType\u0022: \u0022UnicodeCodePoint\u0022}, \u0022taskName\u0022: \u00222\u0022}], \u0022keyPhraseExtractionTasks\u0022: [{\u0022parameters[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/a3b429e9-1e83-4a3a-8db2-e2efdba5e96f?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a3b429e9-1e83-4a3a-8db2-e2efdba5e96f",
        "lastUpdateDateTime": "2021-12-14T18:51:27Z",
        "createdDateTime": "2021-12-14T18:51:22Z",
        "expirationDateTime": "2021-12-15T18:51:22Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 5,
          "total": 6,
          "extractiveSummarizationTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T18:51:27.7564685Z",
              "taskName": "5",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 4,
                  "validDocumentsCount": 4,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 4
                },
                "documents": [
                  {
                    "id": "56",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "sentences": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "sentences": [],
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "sentences": [],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "sentences": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-08-01"
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/a3b429e9-1e83-4a3a-8db2-e2efdba5e96f?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a3b429e9-1e83-4a3a-8db2-e2efdba5e96f",
        "lastUpdateDateTime": "2021-12-14T18:51:31Z",
        "createdDateTime": "2021-12-14T18:51:22Z",
        "expirationDateTime": "2021-12-15T18:51:22Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 5,
          "failed": 0,
          "inProgress": 1,
          "total": 6,
          "entityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T18:51:31.0871957Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 4,
                  "validDocumentsCount": 4,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 4
                },
                "documents": [
                  {
                    "id": "56",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ],
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T18:51:30.8759545Z",
              "taskName": "3",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 4,
                  "validDocumentsCount": 4,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 4
                },
                "documents": [
                  {
                    "id": "56",
               [...]
[...]
