{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I will go to the park.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "I did not like the hotel we stayed at.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "The restaurant had really good food.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/0e22d244-3c8c-4607-b64d-222cf84b518d?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/0e22d244-3c8c-4607-b64d-222cf84b518d?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0e22d244-3c8c-4607-b64d-222cf84b518d",
        "lastUpdateDateTime": "2022-10-17T18:56:06Z",
        "createdDateTime": "2022-10-17T18:56:04Z",
        "expirationDateTime": "2022-10-18T18:56:04Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-10-17T18:56:06.6894803Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  },
                  {
                    "id": "3",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-03-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
