interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This was the best day of my life.",
      "language": ""}, {"id": "1", "text": "I did not like the hotel we stayed at.
      It was too expensive.", "language": ""}, {"id": "2", "text": "The restaurant
      was not as good as I hoped.", "language": ""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/24087d2c-59ea-4cf6-b1d0-fa750db489cc
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/24087d2c-59ea-4cf6-b1d0-fa750db489cc
  response:
    body:
      string: '{"jobId":"24087d2c-59ea-4cf6-b1d0-fa750db489cc","lastUpdateDateTime":"2020-11-10T01:33:08Z","createdDateTime":"2020-11-10T01:33:05Z","expirationDateTime":"2020-11-11T01:33:05Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[],"relations":[],"warnings":[]},{"id":"1","entities":[],"relations":[],"warnings":[]},{"id":"2","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
