interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Bill Gates is the CEO of Microsoft.",
      "language": "es"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK-Client: [Python-SDK]
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/linking?model-version=latest&showStats=true
  response:
    body: {string: '{"statistics":{"documentsCount":1,"validDocumentsCount":1,"erroneousDocumentsCount":0,"transactionsCount":1},"documents":[{"id":"0","statistics":{"charactersCount":35,"transactionsCount":1},"entities":[{"name":"Bill
        Gates","matches":[{"text":"Bill Gates","offset":0,"length":10,"score":0.32285729110882921}],"language":"es","id":"Bill
        Gates","url":"https://es.wikipedia.org/wiki/Bill_Gates","dataSource":"Wikipedia"},{"name":"Microsoft","matches":[{"text":"Microsoft","offset":25,"length":9,"score":0.24235412233423559}],"language":"es","id":"Microsoft","url":"https://es.wikipedia.org/wiki/Microsoft","dataSource":"Wikipedia"},{"name":"Director
        ejecutivo","matches":[{"text":"CEO","offset":18,"length":3,"score":0.13690795466701777}],"language":"es","id":"Director
        ejecutivo","url":"https://es.wikipedia.org/wiki/Director_ejecutivo","dataSource":"Wikipedia"}]}],"errors":[],"modelVersion":"2020-02-01"}'}
    headers: {apim-request-id: 77f6f52f-597e-41b5-9b2d-3288f0a19952, content-type: application/json;
        charset=utf-8, csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1,
      date: 'Tue, 03 Mar 2020 18:34:07 GMT', strict-transport-security: max-age=31536000;
        includeSubDomains; preload, transfer-encoding: chunked, x-content-type-options: nosniff,
      x-envoy-upstream-service-time: '11'}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, westus2.api.cognitive.microsoft.com,
        //text/analytics/v3.0-preview.1/entities/linking, model-version=latest&showStats=true,
        '']
version: 1
