{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/entities/health/jobs?stringIndexType=TextElement_v8",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Hello world",
            "language": "en"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/entities/health/jobs/45b6c556-6545-48dc-8f5b-b6d666f80dac"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/be2bf6e4-b0cb-43dd-8e2a-b048cb3638ea?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "be2bf6e4-b0cb-43dd-8e2a-b048cb3638ea",
        "lastUpdateDateTime": "2022-10-17T18:57:46Z",
        "createdDateTime": "2022-10-17T18:57:45Z",
        "expirationDateTime": "2022-10-18T18:57:45Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-10-17T18:57:46.7855393Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-03-01"
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/entities/health/jobs/45b6c556-6545-48dc-8f5b-b6d666f80dac",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "45b6c556-6545-48dc-8f5b-b6d666f80dac",
        "lastUpdateDateTime": "2022-10-17T18:57:47Z",
        "createdDateTime": "2022-10-17T18:57:45Z",
        "expirationDateTime": "2022-10-18T18:57:45Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [],
              "relations": [],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-03-01"
        }
      }
    }
  ],
  "Variables": {}
}
