interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This was the best day of my life.",
      "countryHint": "CA"}, {"id": "1", "text": "I did not like the hotel we stayed
      at. It was too expensive.", "countryHint": "CA"}, {"id": "2", "text": "The restaurant
      was not as good as I hoped.", "countryHint": "CA"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.1/languages?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"0","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]},{"id":"1","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]},{"id":"2","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=3
    status:
      code: 200
      message: OK
version: 1
