{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/recognition/pii?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022My name is Inigo Montoya, my SSN in 243-56-0987 and my phone number is 333-3333.\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "redactedText": "My name is *************, my SSN in *********** and my phone number is *********",
            "id": "0",
            "entities": [
              {
                "text": "Inigo Montoya",
                "category": "Person",
                "offset": 11,
                "length": 13,
                "confidenceScore": 0.99
              },
              {
                "text": "243-56-0987",
                "category": "USSocialSecurityNumber",
                "offset": 36,
                "length": 11,
                "confidenceScore": 0.85
              },
              {
                "text": "333-3333",
                "category": "PhoneNumber",
                "offset": 71,
                "length": 8,
                "confidenceScore": 0.8
              },
              {
                "text": "333-3333.",
                "category": "PhoneNumber",
                "offset": 71,
                "length": 9,
                "confidenceScore": 0.98
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-01-15"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/recognition/pii?showStats=false\u0026stringIndexType=UnicodeCodePoint\u0026piiCategories=USSocialSecurityNumber",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022My name is Inigo Montoya, my SSN in 243-56-0987 and my phone number is 333-3333.\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "redactedText": "My name is Inigo Montoya, my SSN in *********** and my phone number is 333-3333.",
            "id": "0",
            "entities": [
              {
                "text": "243-56-0987",
                "category": "USSocialSecurityNumber",
                "offset": 36,
                "length": 11,
                "confidenceScore": 0.85
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-01-15"
      }
    }
  ],
  "Variables": {}
}
