interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/4c4d50ee-c801-4e46-b90a-01164c670334
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/4c4d50ee-c801-4e46-b90a-01164c670334
  response:
    body:
      string: '{"jobId":"4c4d50ee-c801-4e46-b90a-01164c670334","lastUpdateDateTime":"2021-01-27T02:28:47Z","createdDateTime":"2021-01-27T02:28:44Z","expirationDateTime":"2021-01-28T02:28:44Z","status":"succeeded","errors":[],"results":{"documents":[],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innererror":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2020-09-03"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/4c4d50ee-c801-4e46-b90a-01164c670334
version: 1
