{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "KeyPhraseExtraction",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen",
              "language": "English"
            },
            {
              "id": "2",
              "text": "Microsoft fue fundado por Bill Gates y Paul Allen",
              "language": "es"
            }
          ]
        },
        "parameters": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "KeyPhraseExtractionResults",
        "results": {
          "documents": [
            {
              "id": "2",
              "keyPhrases": [
                "Bill Gates",
                "Paul Allen",
                "Microsoft"
              ],
              "warnings": []
            }
          ],
          "errors": [
            {
              "id": "1",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Language Code.",
                "innererror": {
                  "code": "UnsupportedLanguageCode",
                  "message": "Invalid language code \u0027English\u0027. Supported languages: af,am,ar,as,az,be,bg,bn,br,bs,ca,cs,cy,da,de,el,en,eo,es,et,eu,fa,fi,fil,fr,fy,ga,gd,gl,gu,ha,he,hi,hr,hu,hy,id,it,ja,jv,ka,kk,km,kn,ko,ku,ky,la,lo,lt,lv,mg,mk,ml,mn,mr,ms,my,ne,nl,no,om,or,pa,pl,ps,pt-BR,pt-PT,ro,ru,sa,sd,si,sk,sl,so,sq,sr,su,sv,sw,ta,te,th,tr,ug,uk,ur,uz,vi,xh,yi,zh-Hans,zh-Hant. For additional details see https://aka.ms/text-analytics/language-support?tabs=key-phrase-extraction"
                }
              }
            }
          ],
          "modelVersion": "2022-10-01"
        }
      }
    }
  ],
  "Variables": {}
}
