interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "This won''t actually create a warning
      :''(", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/30d84e70-8b50-45a3-ac0a-70906c874687
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/30d84e70-8b50-45a3-ac0a-70906c874687
  response:
    body:
      string: '{"jobId":"30d84e70-8b50-45a3-ac0a-70906c874687","lastUpdateDateTime":"2020-11-10T01:25:38Z","createdDateTime":"2020-11-10T01:25:34Z","expirationDateTime":"2020-11-11T01:25:34Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"1","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
