{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "0"
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "2"
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true
              },
              "taskName": "1"
            }
          ],
          "entityLinkingTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "3"
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "opinionMining": false
              },
              "taskName": "4"
            }
          ],
          "extractiveSummarizationTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "stringIndexType": "UnicodeCodePoint",
                "sentenceCount": 3,
                "sortBy": "Offset"
              },
              "taskName": "5"
            }
          ],
          "customEntityRecognitionTasks": [
            {
              "parameters": {
                "project-name": "custom_entities_project_name",
                "deployment-name": "custom_entities_deployment_name",
                "loggingOptOut": true
              },
              "taskName": "8"
            }
          ],
          "customSingleClassificationTasks": [
            {
              "parameters": {
                "project-name": "single_category_classify_project_name",
                "deployment-name": "single_category_classify_deployment_name",
                "loggingOptOut": true
              },
              "taskName": "6"
            }
          ],
          "customMultiClassificationTasks": [
            {
              "parameters": {
                "project-name": "multi_category_classify_project_name",
                "deployment-name": "multi_category_classify_deployment_name",
                "loggingOptOut": true
              },
              "taskName": "7"
            }
          ]
        },
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test for logging disable",
              "language": "en"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/c305d743-e5c9-4664-8146-7040f9cdeb40"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/c305d743-e5c9-4664-8146-7040f9cdeb40",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "c305d743-e5c9-4664-8146-7040f9cdeb40",
        "lastUpdateDateTime": "2021-12-14T02:07:49Z",
        "createdDateTime": "2021-12-14T02:07:46Z",
        "expirationDateTime": "2021-12-15T02:07:46Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 3,
          "failed": 0,
          "inProgress": 6,
          "total": 9,
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T02:07:49.0795073Z",
              "taskName": "3",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "bingId": "a7b11e27-5b63-19a5-b4dd-37b71149ecac",
                        "name": "Test (assessment)",
                        "matches": [
                          {
                            "text": "Test",
                            "offset": 0,
                            "length": 4,
                            "confidenceScore": 0.04
                          }
                        ],
                        "language": "en",
                        "id": "Test (assessment)",
                        "url": "https://en.wikipedia.org/wiki/Test_(assessment)",
                        "dataSource": "Wikipedia"
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ],
          "customEntityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T02:07:48.5963903Z",
              "taskName": "8",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "custom_entities_project_name",
                "deploymentName": "custom_entities_project_name"
              }
            }
          ],
          "customSingleClassificationTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T02:07:48.2467609Z",
              "taskName": "6",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "classification": {
                      "category": "PlayMusic",
                      "confidenceScore": 0.6
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "single_category_classify_project_name",
                "deploymentName": "single_category_classify_project_name"
              }
            }
          ]
        }
      }
    },
[...]
