interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Este es un document escrito en Espa\u00f1ol.",
      "countryHint": "US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/languages?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"0","detectedLanguages":[{"name":"Spanish","iso6391Name":"es","score":1.0}]}],"errors":[],"modelVersion":"2019-10-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=1
      x-aml-ta-request-id:
      - d72da94a-aadc-4a6c-8e3a-930c92e624dd
    status:
      code: 200
      message: OK
version: 1
