interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I did not like the hotel we stayed
      at.", "language": "english"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs?model-version=bad&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/ec6a250c-880b-4b45-bca1-2d614186b4a4
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/ec6a250c-880b-4b45-bca1-2d614186b4a4
  response:
    body:
      string: '{"jobId":"ec6a250c-880b-4b45-bca1-2d614186b4a4","lastUpdateDateTime":"2021-05-13T22:35:31Z","createdDateTime":"2021-05-13T22:35:31Z","expirationDateTime":"2021-05-14T22:35:31Z","status":"notStarted","errors":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/ec6a250c-880b-4b45-bca1-2d614186b4a4
  response:
    body:
      string: '{"jobId":"ec6a250c-880b-4b45-bca1-2d614186b4a4","lastUpdateDateTime":"2021-05-13T22:35:38Z","createdDateTime":"2021-05-13T22:35:31Z","expirationDateTime":"2021-05-14T22:35:31Z","status":"succeeded","errors":[],"results":{"documents":[],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en. For additional details see https://aka.ms/text-analytics/language-support"}}}],"modelVersion":"2021-03-01"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
