interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "My SSN is 555-55-5555", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/pii?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"0","entities":[{"text":"555-55-5555","type":"U.S.
        Social Security Number (SSN)","subtype":"","offset":10,"length":11,"score":0.85}]}],"errors":[],"modelVersion":"2019-10-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1
      x-aml-ta-request-id: eb1136cc-9ffd-4e73-bc9d-49c43d08d6a6
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - westus2.api.cognitive.microsoft.com
        - //text/analytics/v3.0-preview.1/entities/recognition/pii
        - showStats=false
        - ''
version: 1
