interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}}],
      "entityRecognitionPiiTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      true, "stringIndexType": "UnicodeCodePoint"}}], "keyPhraseExtractionTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false}}], "entityLinkingTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false, "stringIndexType":
      "UnicodeCodePoint"}}], "sentimentAnalysisTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "opinionMining": false}}], "extractiveSummarizationTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false, "stringIndexType":
      "UnicodeCodePoint", "sentenceCount": 3, "sortBy": "Offset"}}], "customEntityRecognitionTasks":
      [], "customSingleClassificationTasks": [], "customMultiClassificationTasks":
      []}, "analysisInput": {"documents": [{"id": "0", "text": "hello world", "language":
      "en"}, {"id": "1", "text": "hello world", "language": "en"}, {"id": "2", "text":
      "hello world", "language": "en"}, {"id": "3", "text": "hello world", "language":
      "en"}, {"id": "4", "text": "hello world", "language": "en"}, {"id": "5", "text":
      "hello world", "language": "en"}, {"id": "6", "text": "hello world", "language":
      "en"}, {"id": "7", "text": "hello world", "language": "en"}, {"id": "8", "text":
      "hello world", "language": "en"}, {"id": "9", "text": "hello world", "language":
      "en"}, {"id": "10", "text": "hello world", "language": "en"}, {"id": "11", "text":
      "hello world", "language": "en"}, {"id": "12", "text": "hello world", "language":
      "en"}, {"id": "13", "text": "hello world", "language": "en"}, {"id": "14", "text":
      "hello world", "language": "en"}, {"id": "15", "text": "hello world", "language":
      "en"}, {"id": "16", "text": "hello world", "language": "en"}, {"id": "17", "text":
      "hello world", "language": "en"}, {"id": "18", "text": "hello world", "language":
      "en"}, {"id": "19", "text": "hello world", "language": "en"}, {"id": "20", "text":
      "hello world", "language": "en"}, {"id": "21", "text": "hello world", "language":
      "en"}, {"id": "22", "text": "hello world", "language": "en"}, {"id": "23", "text":
      "hello world", "language": "en"}, {"id": "24", "text": "hello world", "language":
      "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/641b9ba5-3d7f-4bf2-9cc2-cc355e60bbc4
    status:
      code: 202
      message: Accepted
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/641b9ba5-3d7f-4bf2-9cc2-cc355e60bbc4?showStats=True
  response:
    body:
      string: '{"jobId":"641b9ba5-3d7f-4bf2-9cc2-cc355e60bbc4","lastUpdateDateTime":"2021-10-06T20:56:20Z","createdDateTime":"2021-10-06T20:56:14Z","expirationDateTime":"2021-10-07T20:56:14Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":6,"total":6}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/641b9ba5-3d7f-4bf2-9cc2-cc355e60bbc4?showStats=True
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/641b9ba5-3d7f-4bf2-9cc2-cc355e60bbc4?showStats=True
  response:
    body:
      string: '{"jobId":"641b9ba5-3d7f-4bf2-9cc2-cc355e60bbc4","lastUpdateDateTime":"2021-10-06T20:56:25Z","createdDateTime":"2021-10-06T20:56:14Z","expirationDateTime":"2021-10-07T20:56:14Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":5,"total":6,"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-10-06T20:56:25.9121748Z","state":"succeeded","results":{"statistics":{"documentsCount":20,"validDocumentsCount":20,"erroneousDocumentsCount":0,"transactionsCount":20},"documents":[{"redactedText":"hello
        world","id":"0","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"1","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"2","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"3","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"4","statistics":{"charactersCount":11,"transaction[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/641b9ba5-3d7f-4bf2-9cc2-cc355e60bbc4?showStats=false&$top=5&$skip=20
  response:
    body:
      string: '{"jobId":"641b9ba5-3d7f-4bf2-9cc2-cc355e60bbc4","lastUpdateDateTime":"2021-10-06T20:56:55Z","createdDateTime":"2021-10-06T20:56:14Z","expirationDateTime":"2021-10-07T20:56:14Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":6,"failed":0,"inProgress":0,"total":6,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-06T20:56:34.5694874Z","state":"succeeded","results":{"documents":[{"id":"20","entities":[],"warnings":[]},{"id":"21","entities":[],"warnings":[]},{"id":"22","entities":[],"warnings":[]},{"id":"23","entities":[],"warnings":[]},{"id":"24","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityLinkingTasks":[{"lastUpdateDateTime":"2021-10-06T20:56:44.1296374Z","state":"succeeded","results":{"documents":[{"id":"20","entities":[],"warnings":[]},{"id":"21","entities":[],"warnings":[]},{"id":"22","entities":[],"warnings":[]},{"id":"23","entities":[],"warnings":[]},{"id":"24","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-10-06T20:56:25.9121748Z","state":"succeeded","results":{"documents":[{"redactedText":"hello
        world","id":"20","entities":[],"warnings":[]},{"redactedText":"hello world","id":"21","entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"22","entities":[],"warnings":[]},{"redactedText":"hello world","id":"23","entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"24","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"extractiveSummarizationTasks":[{"lastUpdateDateTime":"2021-10-06T20:56:55.4725263Z","state":"succeeded","results":{"documents":[{"id":"20","sentences":[],"warnings":[]},{"id":"21","sentences":[],"warnings":[]},{"id":"22","sentences":[],"warnings":[]},{"id":"23","sentences":[],"warnings":[]},{"id":"24","sentences":[],"warnings":[]}],"errors":[],"modelVersion":"2021-08-01"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-10-06T20:56:40.4950746Z","state":"succeeded","results":{"documents":[{"id":"20","keyPhrases":["hello
        world"],"warnings":[]},{"id":"21","keyPhrases":["hello world"],"warnings":[]},{"id":"22","keyPhrases":["hello
        world"],"warnings":[]},{"id":"23","keyPhrases":["hello world"],"warnings":[]},{"id":"24","keyPhrases":["hello
        world"],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"sentimentAnalysisTasks":[{"lastUpdateDateTime":"2021-10-06T20:56:49.0897672Z","state":"succeeded","results":{"documents":[{"id":"20","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"21","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"22","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"23","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"24","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/analyze/jobs/641b9ba5-3d7f-4bf2-9cc2-cc355e60bbc4?showStats=false&$top=5&$skip=20
version: 1
