interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "hello world", "countryHint": "United
      States"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/languages?showStats=false
  response:
    body:
      string: '{"documents":[],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Country Hint.","innererror":{"code":"InvalidCountryHint","message":"Country
        hint is not valid. Please specify an ISO 3166-1 alpha-2 two letter country
        code."}}}],"modelVersion":"2021-01-05"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/languages?showStats=false
version: 1
