{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/keyPhrases",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022I should take my cat to the veterinarian.\u0022, \u0022language\u0022: \u0022de\u0022}, {\u0022id\u0022: \u00224\u0022, \u0022text\u0022: \u0022Este es un document escrito en Espa\\u00f1ol.\u0022, \u0022language\u0022: \u0022de\u0022}, {\u0022id\u0022: \u00223\u0022, \u0022text\u0022: \u0022\\u732b\\u306f\\u5e78\\u305b\u0022, \u0022language\u0022: \u0022de\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "1",
            "keyPhrases": [
              "cat",
              "veterinarian"
            ],
            "warnings": []
          },
          {
            "id": "4",
            "keyPhrases": [
              "Espa\u00F1ol",
              "document"
            ],
            "warnings": []
          },
          {
            "id": "3",
            "keyPhrases": [
              "\u306F\u5E78\u305B"
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-06-01"
      }
    }
  ],
  "Variables": {}
}
