interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "stringIndexType": "UnicodeCodePoint"}}], "entityRecognitionPiiTasks":
      [{"parameters": {"model-version": "latest", "stringIndexType": "UnicodeCodePoint"}}],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest"}}]},
      "analysisInput": {"documents": [{"id": "0", "text": "hello world", "language":
      "en"}, {"id": "1", "text": "hello world", "language": "en"}, {"id": "2", "text":
      "hello world", "language": "en"}, {"id": "3", "text": "hello world", "language":
      "en"}, {"id": "4", "text": "hello world", "language": "en"}, {"id": "5", "text":
      "hello world", "language": "en"}, {"id": "6", "text": "hello world", "language":
      "en"}, {"id": "7", "text": "hello world", "language": "en"}, {"id": "8", "text":
      "hello world", "language": "en"}, {"id": "9", "text": "hello world", "language":
      "en"}, {"id": "10", "text": "hello world", "language": "en"}, {"id": "11", "text":
      "hello world", "language": "en"}, {"id": "12", "text": "hello world", "language":
      "en"}, {"id": "13", "text": "hello world", "language": "en"}, {"id": "14", "text":
      "hello world", "language": "en"}, {"id": "15", "text": "hello world", "language":
      "en"}, {"id": "16", "text": "hello world", "language": "en"}, {"id": "17", "text":
      "hello world", "language": "en"}, {"id": "18", "text": "hello world", "language":
      "en"}, {"id": "19", "text": "hello world", "language": "en"}, {"id": "20", "text":
      "hello world", "language": "en"}, {"id": "21", "text": "hello world", "language":
      "en"}, {"id": "22", "text": "hello world", "language": "en"}, {"id": "23", "text":
      "hello world", "language": "en"}, {"id": "24", "text": "hello world", "language":
      "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/89c50b51-757d-44cf-9e81-c280e1f2444a
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.4/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/89c50b51-757d-44cf-9e81-c280e1f2444a?showStats=True
  response:
    body:
      string: '{"jobId":"89c50b51-757d-44cf-9e81-c280e1f2444a","lastUpdateDateTime":"2021-02-23T17:07:52Z","createdDateTime":"2021-02-23T17:07:50Z","expirationDateTime":"2021-02-24T17:07:50Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-02-23T17:07:52Z"},"completed":0,"failed":0,"inProgress":3,"total":3}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/89c50b51-757d-44cf-9e81-c280e1f2444a?showStats=True
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/89c50b51-757d-44cf-9e81-c280e1f2444a?showStats=True
  response:
    body:
      string: '{"jobId":"89c50b51-757d-44cf-9e81-c280e1f2444a","lastUpdateDateTime":"2021-02-23T17:07:52Z","createdDateTime":"2021-02-23T17:07:50Z","expirationDateTime":"2021-02-24T17:07:50Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-02-23T17:07:52Z"},"completed":1,"failed":0,"inProgress":2,"total":3,"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-02-23T17:07:52.2170953Z","state":"succeeded","results":{"statistics":{"documentsCount":20,"validDocumentsCount":20,"erroneousDocumentsCount":0,"transactionsCount":20},"documents":[{"id":"0","keyPhrases":["world"],"statistics":{"charactersCount":11,"transactionsCount":1},"warnings":[]},{"id":"1","keyPhrases":["world"],"statistics":{"charactersCount":11,"transactionsCount":1},"warnings":[]},{"id":"2","keyPhrases":["world"],"statistics":{"charactersCount":11,"transactionsCount":1},"warnings":[]},{"id":"3","keyPhrases":["world"],"statistics":{"charactersCount":11,"transactionsCount":1},"warnings":[]},{"id":"4","keyPhrases":["world"],"statistics":{"charactersCount":11,"transactionsCount":1},"warnings":[]},{"id":"5","keyPhrases":["world"],"statistics":{"charactersCount":11,"tra[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/89c50b51-757d-44cf-9e81-c280e1f2444a?showStats=True
  response:
    body:
      string: '{"jobId":"89c50b51-757d-44cf-9e81-c280e1f2444a","lastUpdateDateTime":"2021-02-23T17:07:52Z","createdDateTime":"2021-02-23T17:07:50Z","expirationDateTime":"2021-02-24T17:07:50Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-02-23T17:07:52Z"},"completed":2,"failed":0,"inProgress":1,"total":3,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-02-23T17:07:52.2170953Z","state":"succeeded","results":{"statistics":{"documentsCount":20,"validDocumentsCount":20,"erroneousDocumentsCount":0,"transactionsCount":20},"documents":[{"id":"0","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"1","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"2","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"3","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"4","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"5","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/89c50b51-757d-44cf-9e81-c280e1f2444a?showStats=false&$top=20&$skip=20
  response:
    body:
      string: '{"jobId":"89c50b51-757d-44cf-9e81-c280e1f2444a","lastUpdateDateTime":"2021-02-23T17:07:52Z","createdDateTime":"2021-02-23T17:07:50Z","expirationDateTime":"2021-02-24T17:07:50Z","status":"succeeded","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-02-23T17:07:52Z"},"completed":3,"failed":0,"inProgress":0,"total":3,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-02-23T17:07:52.2170953Z","state":"succeeded","results":{"documents":[{"id":"20","entities":[],"warnings":[]},{"id":"21","entities":[],"warnings":[]},{"id":"22","entities":[],"warnings":[]},{"id":"23","entities":[],"warnings":[]},{"id":"24","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-02-23T17:07:52.2170953Z","state":"succeeded","results":{"documents":[{"redactedText":"hello
        world","id":"20","entities":[],"warnings":[]},{"redactedText":"hello world","id":"21","entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"22","entities":[],"warnings":[]},{"redactedText":"hello world","id":"23","entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"24","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-02-23T17:07:52.2170953Z","state":"succeeded","results":{"documents":[{"id":"20","keyPhrases":["world"],"warnings":[]},{"id":"21","keyPhrases":["world"],"warnings":[]},{"id":"22","keyPhrases":["world"],"warnings":[]},{"id":"23","keyPhrases":["world"],"warnings":[]},{"id":"24","keyPhrases":["world"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.4/analyze/jobs/89c50b51-757d-44cf-9e81-c280e1f2444a?showStats=false&$top=20&$skip=20
version: 1
