interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "bad", "stringIndexType": "UnicodeCodePoint"}}], "entityRecognitionPiiTasks":
      [{"parameters": {"model-version": "latest", "stringIndexType": "UnicodeCodePoint"}}],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest"}}], "entityLinkingTasks":
      []}, "analysisInput": {"documents": [{"id": "0", "text": "hello world", "language":
      "en"}, {"id": "1", "text": "hello world", "language": "en"}, {"id": "2", "text":
      "hello world", "language": "en"}, {"id": "3", "text": "hello world", "language":
      "en"}, {"id": "4", "text": "hello world", "language": "en"}, {"id": "5", "text":
      "hello world", "language": "en"}, {"id": "6", "text": "hello world", "language":
      "en"}, {"id": "7", "text": "hello world", "language": "en"}, {"id": "8", "text":
      "hello world", "language": "en"}, {"id": "9", "text": "hello world", "language":
      "en"}, {"id": "10", "text": "hello world", "language": "en"}, {"id": "11", "text":
      "hello world", "language": "en"}, {"id": "12", "text": "hello world", "language":
      "en"}, {"id": "13", "text": "hello world", "language": "en"}, {"id": "14", "text":
      "hello world", "language": "en"}, {"id": "15", "text": "hello world", "language":
      "en"}, {"id": "16", "text": "hello world", "language": "en"}, {"id": "17", "text":
      "hello world", "language": "en"}, {"id": "18", "text": "hello world", "language":
      "en"}, {"id": "19", "text": "hello world", "language": "en"}, {"id": "20", "text":
      "hello world", "language": "en"}, {"id": "21", "text": "hello world", "language":
      "en"}, {"id": "22", "text": "hello world", "language": "en"}, {"id": "23", "text":
      "hello world", "language": "en"}, {"id": "24", "text": "hello world", "language":
      "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/6fb30f26-fc34-49b8-8e0a-57d35ac0264a
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.4/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/6fb30f26-fc34-49b8-8e0a-57d35ac0264a
  response:
    body:
      string: '{"jobId":"6fb30f26-fc34-49b8-8e0a-57d35ac0264a","lastUpdateDateTime":"2021-03-05T17:45:11Z","createdDateTime":"2021-03-05T17:45:11Z","expirationDateTime":"2021-03-06T17:45:11Z","status":"notStarted","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-03-05T17:45:11Z"},"completed":0,"failed":0,"inProgress":0,"total":0}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/6fb30f26-fc34-49b8-8e0a-57d35ac0264a
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/6fb30f26-fc34-49b8-8e0a-57d35ac0264a
  response:
    body:
      string: '{"jobId":"6fb30f26-fc34-49b8-8e0a-57d35ac0264a","lastUpdateDateTime":"2021-03-05T17:45:23Z","createdDateTime":"2021-03-05T17:45:11Z","expirationDateTime":"2021-03-06T17:45:11Z","status":"running","errors":[{"code":"InvalidRequest","message":"Job
        task parameter value bad is not supported for model-version parameter for
        job task type NamedEntityRecognition. Supported values latest,2020-04-01,2021-01-15.","target":"#/tasks/entityRecognitionTasks/0"}],"tasks":{"details":{"lastUpdateDateTime":"2021-03-05T17:45:23Z"},"completed":0,"failed":1,"inProgress":2,"total":3,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-03-05T17:45:23.247006Z","state":"failed"}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/6fb30f26-fc34-49b8-8e0a-57d35ac0264a
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/6fb30f26-fc34-49b8-8e0a-57d35ac0264a
  response:
    body:
      string: '{"jobId":"6fb30f26-fc34-49b8-8e0a-57d35ac0264a","lastUpdateDateTime":"2021-03-05T17:45:23Z","createdDateTime":"2021-03-05T17:45:11Z","expirationDateTime":"2021-03-06T17:45:11Z","status":"running","errors":[{"code":"InvalidRequest","message":"Job
        task parameter value bad is not supported for model-version parameter for
        job task type NamedEntityRecognition. Supported values latest,2020-04-01,2021-01-15.","target":"#/tasks/entityRecognitionTasks/0"}],"tasks":{"details":{"lastUpdateDateTime":"2021-03-05T17:45:23Z"},"completed":1,"failed":1,"inProgress":1,"total":3,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-03-05T17:45:23.247006Z","state":"failed"}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-03-05T17:45:23.247006Z","state":"succeeded","results":{"documents":[{"id":"0","keyPhrases":["world"],"warnings":[]},{"id":"1","keyPhrases":["world"],"warnings":[]},{"id":"2","keyPhrases":["world"],"warnings":[]},{"id":"3","keyPhrases":["world"],"warnings":[]},{"id":"4","keyPhrases":["world"],"warnings":[]},{"id":"5","keyPhrases":["world"],"warnings":[]},{"id":"6","keyPhrases":["world"],"warnings":[]},{"id":"7","keyPhrases":["world"],"warnings":[]},{"id":"8","keyPhrases":["world"],"warnings":[]},{"id":"9","keyPhrases":["world"],"warnings":[]},{"id":"10","keyPhrases":["world"],"warnings":[]},{"id":"11","keyPhrases":["world"],"warnings":[]},{"id":"12","keyPhrases":["world"],"warnings":[]},{"id":"13","keyPhrases":["world"],"warnings":[]},{"id":"14","keyPhrases":["world"],"warnings":[]},{"id":"15","keyPhrases":["world"],"warnings":[]},{"id":"16","keyPhrases":["world"],"warnings":[]},{"id":"17","keyPhrases":["world"],"warnings":[]},{"id":"18","keyPhrases":["world"],"warnings":[]},{"id":"19","keyPhrases":["world"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]},"@nextLink":"https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/6fb30f26-fc34-49b8-8e0a-57d35ac0264a?$skip=20&$top=20"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/6fb30f26-fc34-49b8-8e0a-57d35ac0264a
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/6fb30f26-fc34-49b8-8e0a-57d35ac0264a
  response:
    body:
      string: '{"jobId":"6fb30f26-fc34-49b8-8e0a-57d35ac0264a","lastUpdateDateTime":"2021-03-05T17:45:23Z","createdDateTime":"2021-03-05T17:45:11Z","expirationDateTime":"2021-03-06T17:45:11Z","status":"partiallyCompleted","errors":[{"code":"InvalidRequest","message":"Job
        task parameter value bad is not supported for model-version parameter for
        job task type NamedEntityRecognition. Supported values latest,2020-04-01,2021-01-15.","target":"#/tasks/entityRecognitionTasks/0"}],"tasks":{"details":{"lastUpdateDateTime":"2021-03-05T17:45:23Z"},"completed":2,"failed":1,"inProgress":0,"total":3,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-03-05T17:45:23.247006Z","state":"failed"}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-03-05T17:45:23.247006Z","state":"succeeded","results":{"documents":[{"redactedText":"hello
        world","id":"0","entities":[],"warnings":[]},{"redactedText":"hello world","id":"1","entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"2","entities":[],"warnings":[]},{"redactedText":"hello world","id":"3","entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"4","entities":[],"warnings":[]},{"redactedText":"hello world","id":"5","entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"6","entities":[],"warnings":[]},{"redactedText":"hello world","id":"7","entities":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/6fb30f26-fc34-49b8-8e0a-57d35ac0264a?showStats=false&$top=20&$skip=20
  response:
    body:
      string: '{"jobId":"6fb30f26-fc34-49b8-8e0a-57d35ac0264a","lastUpdateDateTime":"2021-03-05T17:45:23Z","createdDateTime":"2021-03-05T17:45:11Z","expirationDateTime":"2021-03-06T17:45:11Z","status":"partiallyCompleted","errors":[{"code":"InvalidRequest",[...]
