interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      "es"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "language":
      "es"}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "es"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/keyPhrases?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"1","keyPhrases":["park"],"warnings":[]},{"id":"2","keyPhrases":["hotel"],"warnings":[]},{"id":"3","keyPhrases":["good
        food","restaurant"],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/keyPhrases?showStats=false
[...]
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      "es"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "language":
      "es"}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "es"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/keyPhrases?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"1","keyPhrases":["park"],"warnings":[]},{"id":"2","keyPhrases":["hotel"],"warnings":[]},{"id":"3","keyPhrases":["good
        food","restaurant"],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/keyPhrases?showStats=false
version: 1
