interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "This won''t actually create a warning
      :''(", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/55334c6b-81c6-4974-8759-3fc8d85a31cc
    status:
      code: 202
      message: Accepted
    url: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/55334c6b-81c6-4974-8759-3fc8d85a31cc
  response:
    body:
      string: '{"jobId":"55334c6b-81c6-4974-8759-3fc8d85a31cc","lastUpdateDateTime":"2020-11-14T00:52:46Z","createdDateTime":"2020-11-14T00:52:46Z","expirationDateTime":"2020-11-15T00:52:46Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"1","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/55334c6b-81c6-4974-8759-3fc8d85a31cc
version: 1
