interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Test passing cls to endpoint", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/e4db5537-a72b-46f5-be74-5c9d0ac17cd3
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/e4db5537-a72b-46f5-be74-5c9d0ac17cd3
  response:
    body:
      string: '{"jobId":"e4db5537-a72b-46f5-be74-5c9d0ac17cd3","lastUpdateDateTime":"2021-02-23T17:11:53Z","createdDateTime":"2021-02-23T17:11:52Z","expirationDateTime":"2021-02-24T17:11:52Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[{"offset":5,"length":11,"text":"passing
        cls","category":"Diagnosis","confidenceScore":0.93,"isNegated":false}],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-11"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/e4db5537-a72b-46f5-be74-5c9d0ac17cd3
version: 1
