{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "DynamicClassification",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "The WHO is issuing a warning about Monkey Pox.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Mo Salah plays in Liverpool FC in England.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "classificationType": "single",
          "categories": [
            "Health",
            "Politics",
            "Music",
            "Sports"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=0,CognitiveServices.TextAnalytics.TextRecords=2",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "kind": "DynamicClassificationResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "classifications": [
                {
                  "category": "Health",
                  "confidenceScore": 0.88
                }
              ],
              "warnings": []
            },
            {
              "id": "1",
              "classifications": [
                {
                  "category": "Sports",
                  "confidenceScore": 0.99
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-10-01-preview"
        }
      }
    }
  ],
  "Variables": {}
}
