interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I should take my cat to the veterinarian.",
      "countryHint": "United States"}, {"id": "2", "text": "Este es un document escrito
      en Espa\u00f1ol.", "countryHint": "US"}, {"id": "3", "text": "", "countryHint":
      "US"}, {"id": "4", "text": "Fahrt nach Stuttgart und dann zum Hotel zu Fu.",
      "countryHint": "US"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0/languages?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"2","detectedLanguage":{"name":"Spanish","iso6391Name":"es","confidenceScore":1.0},"warnings":[]},{"id":"4","detectedLanguage":{"name":"German","iso6391Name":"de","confidenceScore":1.0},"warnings":[]}],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Country Hint.","innererror":{"code":"InvalidCountryHint","message":"Country
        hint is not valid. Please specify an ISO 3166-1 alpha-2 two letter country
        code."}}},{"id":"3","error":{"code":"InvalidArgument","message":"Invalid document
        in request.","innererror":{"code":"InvalidDocument","message":"Document text
        is empty."}}}],"modelVersion":"2019-10-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=2
    status:
      code: 200
      message: OK
version: 1
