{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "RECORD #333582770390100 | MH | 85986313 | | 054351 | 2/14/2001 12:00:00 AM |             CORONARY ARTERY DISEASE | Signed | DIS | Admission Date: 5/22/2001             Report Status: Signed Discharge Date: 4/24/2001 ADMISSION DIAGNOSIS:             CORONARY ARTERY DISEASE. HISTORY OF PRESENT ILLNESS:             The patient is a 54-year-old gentleman with a history of progressive angina over the past several months.             The patient had a cardiac catheterization in July of this year rev[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/b9a9f9a7-d337-4b5e-b07b-a96b0e925fc9:cancel?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/b9a9f9a7-d337-4b5e-b07b-a96b0e925fc9?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/b9a9f9a7-d337-4b5e-b07b-a96b0e925fc9?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalServerError",
          "innerError": {
            "requestId": "0757a353-a49a-4cd9-a6f5-7be7ad0cfd45"
          },
          "message": "Internal server error"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/b9a9f9a7-d337-4b5e-b07b-a96b0e925fc9?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalServerError",
          "innerError": {
            "requestId": "946d1d51-7f08-4c12-9efa-b270e3e26617"
          },
          "message": "Internal server error"
        }
      }
    }
  ],
  "Variables": {}
}
