interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Test for logging disable", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/entities/health/jobs?stringIndexType=UnicodeCodePoint&loggingOptOut=true
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/entities/health/jobs/e4ee63ff-d1e6-4695-9dcb-3e9e8a2eb95a
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/entities/health/jobs/e4ee63ff-d1e6-4695-9dcb-3e9e8a2eb95a
  response:
    body:
      string: '{"jobId":"e4ee63ff-d1e6-4695-9dcb-3e9e8a2eb95a","lastUpdateDateTime":"2021-08-03T17:30:17Z","createdDateTime":"2021-08-03T17:30:16Z","expirationDateTime":"2021-08-04T17:30:16Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2021-05-15"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
