interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      false}}], "entityLinkingTasks": [], "sentimentAnalysisTasks": [], "extractiveSummarizationTasks":
      []}, "analysisInput": {"documents": [{"id": "1", "text": "Microsoft was founded
      by Bill Gates and Paul Allen", "language": "en"}, {"id": "2", "text": "Microsoft
      fue fundado por Bill Gates y Paul Allen", "language": "es"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/analyze/jobs/7054258a-aa9c-4a39-9d92-354cc67e2b83
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/analyze/jobs/7054258a-aa9c-4a39-9d92-354cc67e2b83?showStats=True
  response:
    body:
      string: '{"jobId":"7054258a-aa9c-4a39-9d92-354cc67e2b83","lastUpdateDateTime":"2021-08-02T21:29:02Z","createdDateTime":"2021-08-02T21:29:01Z","expirationDateTime":"2021-08-03T21:29:01Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/analyze/jobs/7054258a-aa9c-4a39-9d92-354cc67e2b83?showStats=True
  response:
    body:
      string: '{"jobId":"7054258a-aa9c-4a39-9d92-354cc67e2b83","lastUpdateDateTime":"2021-08-02T21:29:14Z","createdDateTime":"2021-08-02T21:29:01Z","expirationDateTime":"2021-08-03T21:29:01Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-08-02T21:29:14.0101558Z","taskName":"KeyPhraseExtraction_latest","state":"succeeded","results":{"statistics":{"documentsCount":2,"validDocumentsCount":2,"erroneousDocumentsCount":0,"transactionsCount":2},"documents":[{"id":"1","keyPhrases":["Bill
        Gates","Paul Allen","Microsoft"],"statistics":{"charactersCount":50,"transactionsCount":1},"warnings":[]},{"id":"2","keyPhrases":["Bill
        Gates","Paul Allen","Microsoft"],"statistics":{"charactersCount":49,"transactionsCount":1},"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
