{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/recognition/general?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "one",
            "language": "en"
          },
          {
            "id": "2",
            "text": "two",
            "language": "en"
          },
          {
            "id": "3",
            "text": "three",
            "language": "en"
          },
          {
            "id": "4",
            "text": "four",
            "language": "en"
          },
          {
            "id": "5",
            "text": "five",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=5,CognitiveServices.TextAnalytics.TextRecords=5"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "1",
            "entities": [
              {
                "text": "one",
                "category": "Quantity",
                "subcategory": "Number",
                "offset": 0,
                "length": 3,
                "confidenceScore": 0.8
              }
            ],
            "warnings": []
          },
          {
            "id": "2",
            "entities": [
              {
                "text": "two",
                "category": "Quantity",
                "subcategory": "Number",
                "offset": 0,
                "length": 3,
                "confidenceScore": 0.8
              }
            ],
            "warnings": []
          },
          {
            "id": "3",
            "entities": [
              {
                "text": "three",
                "category": "Quantity",
                "subcategory": "Number",
                "offset": 0,
                "length": 5,
                "confidenceScore": 0.8
              }
            ],
            "warnings": []
          },
          {
            "id": "4",
            "entities": [
              {
                "text": "four",
                "category": "Quantity",
                "subcategory": "Number",
                "offset": 0,
                "length": 4,
                "confidenceScore": 0.8
              }
            ],
            "warnings": []
          },
          {
            "id": "5",
            "entities": [
              {
                "text": "five",
                "category": "Quantity",
                "subcategory": "Number",
                "offset": 0,
                "length": 4,
                "confidenceScore": 0.8
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-06-01"
      }
    }
  ],
  "Variables": {}
}
