{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/linking?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "I will go to the park.",
            "language": "en"
          },
          {
            "id": "2",
            "text": "I did not like the hotel we stayed at.",
            "language": "en"
          },
          {
            "id": "3",
            "text": "The restaurant had really good food.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "1",
            "entities": [],
            "warnings": []
          },
          {
            "id": "2",
            "entities": [],
            "warnings": []
          },
          {
            "id": "3",
            "entities": [],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-06-01"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/linking?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "I will go to the park.",
            "language": "en"
          },
          {
            "id": "2",
            "text": "I did not like the hotel we stayed at.",
            "language": "en"
          },
          {
            "id": "3",
            "text": "The restaurant had really good food.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "error": {
          "code": "401",
          "message": "Access denied due to invalid subscription key or wrong API endpoint. Make sure to provide a valid key for an active subscription and use a correct regional API endpoint for your resource."
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/linking?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "I will go to the park.",
            "language": "en"
          },
          {
            "id": "2",
            "text": "I did not like the hotel we stayed at.",
            "language": "en"
          },
          {
            "id": "3",
            "text": "The restaurant had really good food.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "1",
            "entities": [],
            "warnings": []
          },
          {
            "id": "2",
            "entities": [],
            "warnings": []
          },
          {
            "id": "3",
            "entities": [],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-06-01"
      }
    }
  ],
  "Variables": {}
}
