{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "0"
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "2"
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {},
              "taskName": "1"
            }
          ],
          "entityLinkingTasks": [
            {
              "parameters": {
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "3"
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "parameters": {
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "4"
            }
          ]
        },
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "A recent re[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/4cd8778e-6532-42fd-851b-5e84ddcc2d2b?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "4cd8778e-6532-42fd-851b-5e84ddcc2d2b",
        "lastUpdateDateTime": "2022-07-12T22:13:44Z",
        "createdDateTime": "2022-07-12T22:13:43Z",
        "expirationDateTime": "2022-07-13T22:13:43Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 5,
          "total": 5
        }
      }
    }
  ],
  "Variables": {}
}
