interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      "en"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "language":
      "en"}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/c9c8133c-5330-49ef-8f25-7d1bb7112220
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/c9c8133c-5330-49ef-8f25-7d1bb7112220
  response:
    body:
      string: '{"jobId":"c9c8133c-5330-49ef-8f25-7d1bb7112220","lastUpdateDateTime":"2020-10-31T00:56:51Z","createdDateTime":"2020-10-31T00:56:50Z","expirationDateTime":"2020-11-01T00:56:50Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"1","statistics":{"charactersCount":22,"transactionsCount":1},"entities":[]},{"id":"2","statistics":{"charactersCount":38,"transactionsCount":1},"entities":[]},{"id":"3","statistics":{"charactersCount":36,"transactionsCount":1},"entities":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
