interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "hola", "language": "notalanguage"},
      {"id": "2", "text": "", "language": "en"}, {"id": "3", "text": "Is 998.214.865-68
      your Brazilian CPF number?", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/entities/recognition/pii?showStats=false&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: '{"documents":[{"redactedText":"Is 998.214.865-68 your Brazilian CPF
        number?","id":"3","entities":[],"warnings":[]}],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: de,en,es,fr,it,ja,ko,pt-BR,pt-PT,zh-Hans.
        For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"}}},{"id":"2","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innererror":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2021-01-15"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1
    status:
      code: 200
      message: OK
version: 1
