interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "I was unhappy with the food at the
      restaurant.", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/sentiment?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"0","sentiment":"negative","documentScores":{"positive":8.3826489572E-06,"neutral":1.4686445411E-06,"negative":0.99999022483825684},"sentences":[{"sentiment":"negative","sentenceScores":{"positive":8.3826489572E-06,"neutral":1.4686445411E-06,"negative":0.99999022483825684},"offset":0,"length":46}]}],"errors":[],"modelVersion":"2019-10-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1
      x-aml-ta-request-id: 9a9a1eeb-33e3-4568-9336-5a25794c10e5
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - westus2.api.cognitive.microsoft.com
        - //text/analytics/v3.0-preview.1/sentiment
        - showStats=false
        - ''
version: 1
