interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "countryHint":
      "US"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "countryHint":
      "US"}, {"id": "3", "text": "The restaurant had really good food.", "countryHint":
      "CA"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/languages?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"1","detectedLanguages":[{"name":"English","iso6391Name":"en","score":1.0}]},{"id":"2","detectedLanguages":[{"name":"English","iso6391Name":"en","score":1.0}]},{"id":"3","detectedLanguages":[{"name":"English","iso6391Name":"en","score":1.0}]}],"errors":[],"modelVersion":"2019-10-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=3
    status:
      code: 200
      message: OK
version: 1
