{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/recognition/pii?showStats=false\u0026domain=phi\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "I work at Microsoft and my phone number is 333-333-3333",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "redactedText": "I work at ********* and my phone number is ************",
            "id": "0",
            "entities": [
              {
                "text": "Microsoft",
                "category": "Organization",
                "offset": 10,
                "length": 9,
                "confidenceScore": 0.94
              },
              {
                "text": "333-333-3333",
                "category": "PhoneNumber",
                "offset": 43,
                "length": 12,
                "confidenceScore": 0.8
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-01-15"
      }
    }
  ],
  "Variables": {}
}
