{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "EntityLinking",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "This was the best day of my life.",
              "language": "fr"
            },
            {
              "id": "1",
              "text": "I did not like the hotel we stayed at. It was too expensive.",
              "language": "fr"
            },
            {
              "id": "2",
              "text": "The restaurant was not as good as I hoped.",
              "language": "fr"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "kind": "EntityLinkingResults",
        "results": {
          "documents": [],
          "errors": [
            {
              "id": "0",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Language Code.",
                "innererror": {
                  "code": "UnsupportedLanguageCode",
                  "message": "Invalid language code. Supported languages: en,es. For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"
                }
              }
            },
            {
              "id": "1",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Language Code.",
                "innererror": {
                  "code": "UnsupportedLanguageCode",
                  "message": "Invalid language code. Supported languages: en,es. For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"
                }
              }
            },
            {
              "id": "2",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Language Code.",
                "innererror": {
                  "code": "UnsupportedLanguageCode",
                  "message": "Invalid language code. Supported languages: en,es. For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"
                }
              }
            }
          ],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
