{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "RECORD #333582770390100 | MH | 85986313 | | 054351 | 2/14/2001 12:00:00 AM |             CORONARY ARTERY DISEASE | Signed | DIS | Admission Date: 5/22/2001             Report Status: Signed Discharge Date: 4/24/2001 ADMISSION DIAGNOSIS:             CORONARY ARTERY DISEASE. HISTORY OF PRESENT ILLNESS:             The patient is a 54-year-old gentleman with a history of progressive angina over the past several months.             The patient had a cardiac catheterization in July of this year revealing total occlusion of the RCA and             50% left main disease , with a strong family history of coronary artery disease with a brother dying at             the age of 52 from a myocardial infarction and another brother who is status post coronary artery bypass grafting.             The patient had a stress echocardiogram done on July , 2001 , which showed no wall motion abnormalities ,            but this was a difficult study due to body habitus. The patient went for six minutes with minimal ST depressions             in the anterior lateral leads , thought due to fatigue and wrist pain , his anginal equivalent. Due to the patient\u0027s             increased symptoms and family history and history left main disease with total occasional of his RCA was referred             for revascularization with open heart surgery.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "RECORD #333582770390100 | MH | 85986313 | | 054351 | 2/14/2001 12:00:00 AM |             CORONARY ARTERY DISEASE | Signed | DIS | Admission Date: 5/22/2001             Report Status: Signed Discharge Date: 4/24/2001 ADMISSION DIAGNOSIS:             CORONARY ARTERY DISEASE. HISTORY OF PRESENT ILLNESS:             The patient is a 54-year-old gentleman with a history of progressive angina over the past several month[...]
