interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "this is written in english", "countryHint":
      "ES"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK-Client: [Python-SDK]
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/languages?model-version=latest&showStats=true
  response:
    body: {string: '{"statistics":{"documentsCount":1,"validDocumentsCount":1,"erroneousDocumentsCount":0,"transactionsCount":1},"documents":[{"id":"0","detectedLanguages":[{"name":"English","iso6391Name":"en","score":1.0}],"statistics":{"charactersCount":26,"transactionsCount":1}}],"errors":[],"modelVersion":"2019-10-01"}'}
    headers: {apim-request-id: 2c87f519-2c5b-4066-a7cf-1e6f7af68bee, content-type: application/json;
        charset=utf-8, csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1,
      date: 'Tue, 03 Mar 2020 18:33:38 GMT', strict-transport-security: max-age=31536000;
        includeSubDomains; preload, transfer-encoding: chunked, x-content-type-options: nosniff,
      x-envoy-upstream-service-time: '3'}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, westus2.api.cognitive.microsoft.com,
        //text/analytics/v3.0-preview.1/languages, model-version=latest&showStats=true,
        '']
version: 1
