interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Microsoft was founded by Bill Gates.",
      "language": "en"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/general?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"0","entities":[{"text":"Microsoft","type":"Organization","offset":0,"length":9,"score":0.999969482421875},{"text":"Bill
        Gates","type":"Person","offset":25,"length":10,"score":0.99999237060546875}]}],"errors":[],"modelVersion":"2019-10-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1
      x-aml-ta-request-id: 738bd015-e09c-44e8-9d15-ca7e15014e8e
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - westus2.api.cognitive.microsoft.com
        - //text/analytics/v3.0-preview.1/entities/recognition/general
        - showStats=false
        - ''
version: 1
