{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "EntityLinking",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test for logging disable",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "loggingOptOut": true,
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "EntityLinkingResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [
                {
                  "bingId": "a7b11e27-5b63-19a5-b4dd-37b71149ecac",
                  "name": "Test (assessment)",
                  "matches": [
                    {
                      "text": "Test",
                      "offset": 0,
                      "length": 4,
                      "confidenceScore": 0.04
                    }
                  ],
                  "language": "en",
                  "id": "Test (assessment)",
                  "url": "https://en.wikipedia.org/wiki/Test_(assessment)",
                  "dataSource": "Wikipedia"
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
