{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "The patient was diagnosed with Parkinsons Disease (PD)",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/4bcbedb5-9420-4a6e-8ce1-b24dbd704e47?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/0e16d703-2177-4dc5-a473-f9757e9d842d?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0e16d703-2177-4dc5-a473-f9757e9d842d",
        "lastUpdateDateTime": "2022-10-17T18:57:52Z",
        "createdDateTime": "2022-10-17T18:57:51Z",
        "expirationDateTime": "2022-10-18T18:57:51Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-10-17T18:57:52.5910072Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-03-01"
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/4bcbedb5-9420-4a6e-8ce1-b24dbd704e47?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "4bcbedb5-9420-4a6e-8ce1-b24dbd704e47",
        "lastUpdateDateTime": "2022-10-17T18:57:53Z",
        "createdDateTime": "2022-10-17T18:57:51Z",
        "expirationDateTime": "2022-10-18T18:57:51Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-10-17T18:57:53.2212681Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "offset": 31,
                        "length": 18,
                        "text": "Parkinsons Disease",
                        "category": "Diagnosis",
                        "confidenceScore": 1.0,
                        "name": "Parkinson Disease",
                        "links": [
                          {
                            "dataSource": "UMLS",
                            "id": "C0030567"
                          },
                          {
                            "dataSource": "AOD",
                            "id": "0000006203"
                          },
                          {
                            "dataSource": "BI",
                            "id": "BI00554"
                          },
                          {
                            "dataSource": "CCPSS",
                            "id": "1[...]
