{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022tasks\u0022: {\u0022entityRecognitionTasks\u0022: [], \u0022entityRecognitionPiiTasks\u0022: [{\u0022parameters\u0022: {\u0022model-version\u0022: \u0022latest\u0022, \u0022loggingOptOut\u0022: true, \u0022stringIndexType\u0022: \u0022UnicodeCodePoint\u0022}, \u0022taskName\u0022: \u00221\u0022}], \u0022keyPhraseExtractionTasks\u0022: [], \u0022entityLinkingTasks\u0022: [], \u0022sentimentAnalysisTasks\u0022: [], \u0022extractiveSummarizationTasks\u0022: [{\u0022parameters\u0022: {\u002[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/52419fa1-2576-4685-8025-06e65c379898",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "52419fa1-2576-4685-8025-06e65c379898",
        "lastUpdateDateTime": "2021-12-14T02:10:59Z",
        "createdDateTime": "2021-12-14T02:10:55Z",
        "expirationDateTime": "2021-12-15T02:10:55Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 2,
          "total": 3,
          "extractiveSummarizationTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T02:10:59.8886635Z",
              "taskName": "2",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "5",
                    "sentences": [
                      {
                        "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
                        "rankScore": 1.0,
                        "offset": 0,
                        "length": 295
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "2",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "modelVersion": "2021-08-01"
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/52419fa1-2576-4685-8025-06e65c379898",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "52419fa1-2576-4685-8025-06e65c379898",
        "lastUpdateDateTime": "2021-12-14T02:11:04Z",
        "createdDateTime": "2021-12-14T02:10:55Z",
        "expirationDateTime": "2021-12-15T02:10:55Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 3,
          "failed": 0,
          "inProgress": 0,
          "total": 3,
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T02:11:04.6111025Z",
              "taskName": "1",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "A recent report by the ******************************** (***) found that the dramatic increase in oil and natural gas development on federal lands over the ************** has stretched the staff of the *** to a point that it has been unable to meet its environmental protection responsibilities.",
                    "id": "5",
                    "entities": [
                      {
                        "text": "Government Accountability Office",
                        "category": "Organization",
                        "offset": 23,
                        "length": 32,
                        "confidenceScore": 0.95
                      },
                      {
                        "text": "GAO",
                        "category": "Organization",
                        "offset": 57,
                        "length": 3,
                        "confidenceScore": 0.9
                      },
                      {
                        "text": "past six years",
                        "category": "DateTime",
                        "subcategory": "DateRange",
                        "offset": 156,
                        "length": 14,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "BLM",
                        "category": "Organization",
                        "offset": 202,
                        "length": 3,
                        "confidenceScore": 0.87
                      }
                    ],
                    "warnings": []
                [...]
