interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      false}, "taskName": "0"}], "entityLinkingTasks": [], "sentimentAnalysisTasks":
      [], "extractiveSummarizationTasks": [], "customEntityRecognitionTasks": [],
      "customSingleClassificationTasks": [], "customMultiClassificationTasks": []},
      "analysisInput": {"documents": [{"id": "1", "text": "Microsoft was founded by
      Bill Gates and Paul Allen", "language": "en"}, {"id": "2", "text": "Microsoft
      fue fundado por Bill Gates y Paul Allen", "language": "es"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/fe68e29b-c0d8-4566-950d-20aa98a6470f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/fe68e29b-c0d8-4566-950d-20aa98a6470f?showStats=True
  response:
    body:
      string: '{"jobId":"fe68e29b-c0d8-4566-950d-20aa98a6470f","lastUpdateDateTime":"2021-10-07T23:38:20Z","createdDateTime":"2021-10-07T23:38:19Z","expirationDateTime":"2021-10-08T23:38:19Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/fe68e29b-c0d8-4566-950d-20aa98a6470f?showStats=True
  response:
    body:
      string: '{"jobId":"fe68e29b-c0d8-4566-950d-20aa98a6470f","lastUpdateDateTime":"2021-10-07T23:38:42Z","createdDateTime":"2021-10-07T23:38:19Z","expirationDateTime":"2021-10-08T23:38:19Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-10-07T23:38:42.0291176Z","taskName":"0","state":"succeeded","results":{"statistics":{"documentsCount":2,"validDocumentsCount":2,"erroneousDocumentsCount":0,"transactionsCount":2},"documents":[{"id":"1","keyPhrases":["Bill
        Gates","Paul Allen","Microsoft"],"statistics":{"charactersCount":50,"transactionsCount":1},"warnings":[]},{"id":"2","keyPhrases":["Bill
        Gates","Paul Allen","Microsoft"],"statistics":{"charactersCount":49,"transactionsCount":1},"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
