interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "The patient was diagnosed with Parkinsons
      Disease (PD)", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/entities/health/jobs/bee4679d-cfa1-4677-b8c0-2b8c0e48d441
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/entities/health/jobs/bee4679d-cfa1-4677-b8c0-2b8c0e48d441
  response:
    body:
      string: '{"jobId":"bee4679d-cfa1-4677-b8c0-2b8c0e48d441","lastUpdateDateTime":"2021-12-08T22:54:36Z","createdDateTime":"2021-12-08T22:54:35Z","expirationDateTime":"2021-12-09T22:54:35Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[{"offset":31,"length":18,"text":"Parkinsons
        Disease","category":"Diagnosis","confidenceScore":1.0,"name":"Parkinson Disease","links":[{"dataSource":"UMLS","id":"C0030567"},{"dataSource":"AOD","id":"0000006203"},{"dataSource":"BI","id":"BI00554"},{"dataSource":"CCPSS","id":"1018057"},{"dataSource":"CCS","id":"6.2.1"},{"dataSource":"CCSR_10","id":"NVS004"},{"dataSource":"CHV","id":"0000009319"},{"dataSource":"COSTAR","id":"559"},{"dataSource":"CSP","id":"2057-3689"},{"dataSource":"CST","id":"EXTRAPYR
        SYND"},{"dataSource":"ICD10","id":"G20"},{"dataSource":"ICD10AM","id":"G20"},{"dataSource":"ICD10CM","id":"G20"},{"dataSource":"ICD9CM",[...]
