interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "stringIndexType": "UnicodeCodePoint"}}], "entityRecognitionPiiTasks":
      [{"parameters": {"model-version": "bad", "stringIndexType": "UnicodeCodePoint"}}],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "bad"}}]}, "analysisInput":
      {"documents": [{"id": "1", "text": "I did not like the hotel we stayed at.",
      "language": "english"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/afbb1ce2-8960-4eb3-9f08-f98222d243b9_637479936000000000
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.3/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/afbb1ce2-8960-4eb3-9f08-f98222d243b9_637479936000000000
  response:
    body:
      string: '{"jobId":"afbb1ce2-8960-4eb3-9f08-f98222d243b9_637479936000000000","lastUpdateDateTime":"2021-02-04T01:36:12Z","createdDateTime":"2021-02-04T01:36:10Z","expirationDateTime":"2021-02-05T01:36:10Z","status":"running","errors":[{"code":"InvalidRequest","message":"Job
        task parameter value bad is not supported for model-version parameter for
        job task type PersonallyIdentifiableInformation. Supported values latest,2020-07-01.","target":"#/tasks/entityRecognitionPiiTasks/0"},{"code":"InvalidRequest","message":"Job
        task parameter value bad is not supported for model-version parameter for
        job task type KeyPhraseExtraction. Supported values latest,2020-07-01.","target":"#/tasks/keyPhraseExtractionTasks/0"}],"tasks":{"details":{"lastUpdateDateTime":"2021-02-04T01:36:12Z"},"completed":0,"failed":2,"inProgress":1,"total":3,"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-02-04T01:36:12.3087523Z","results":{"documents":[],"errors":[],"modelVersion":""}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-02-04T01:36:12.3087523Z","results":{"documents":[],"errors":[],"modelVersion":""}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/afbb1ce2-8960-4eb3-9f08-f98222d243b9_637479936000000000
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/afbb1ce2-8960-4eb3-9f08-f98222d243b9_637479936000000000
  response:
    body:
      string: '{"jobId":"afbb1ce2-8960-4eb3-9f08-f98222d243b9_637479936000000000","lastUpdateDateTime":"2021-02-04T01:36:12Z","createdDateTime":"2021-02-04T01:36:10Z","expirationDateTime":"2021-02-05T01:36:10Z","status":"partiallySucceeded","errors":[{"code":"InvalidRequest","message":"Job
        task parameter value bad is not supported for model-version parameter for
        job task type PersonallyIdentifiableInformation. Supported values latest,2020-07-01.","target":"#/tasks/entityRecognitionPiiTasks/0"},{"code":"InvalidRequest","message":"Job
        task parameter value bad is not supported for model-version parameter for
        job task type KeyPhraseExtraction. Supported values latest,2020-07-01.","target":"#/tasks/keyPhraseExtractionTasks/0"}],"tasks":{"details":{"lastUpdateDateTime":"2021-02-04T01:36:12Z"},"completed":1,"failed":2,"inProgress":0,"total":3,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-02-04T01:36:12.3087523Z","results":{"documents":[],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en,es,de,fr,zh-Hans,ar,cs,da,fi,hu,it,ja,ko,no,nl,pl,pt-BR,pt-PT,ru,sv,tr"}}}],"modelVersion":"2021-01-15"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-02-04T01:36:12.3087523Z","results":{"documents":[],"errors":[],"modelVersion":""}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-02-04T01:36:12.3087523Z","results":{"documents":[],"errors":[],"modelVersion":""}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/afbb1ce2-8960-4eb3-9f08-f98222d243b9_637479936000000000
version: 1
