{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen",
              "language": "auto"
            },
            {
              "id": "2",
              "text": "Microsoft fue fundado por Bill Gates y Paul Allen",
              "language": "auto"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "EntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "1",
            "kind": "KeyPhraseExtraction",
            "parameters": {}
          },
          {
            "taskName": "2",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "3",
            "kind": "SentimentAnalysis",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "4",
            "kind": "ExtractiveSummarization",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/91587903-745b-4512-84be-9d84a0b83583?api-version=2022-10-01-preview",
        "x-ms-region": "UK South"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/91587903-745b-4512-84be-9d84a0b83583?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "UK South"
      },
      "ResponseBody": {
        "jobId": "91587903-745b-4512-84be-9d84a0b83583",
        "lastUpdateDateTime": "2022-10-28T18:19:36Z",
        "createdDateTime": "2022-10-28T18:19:33Z",
        "expirationDateTime": "2022-10-29T18:19:33Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 5,
          "failed": 0,
          "inProgress": 0,
          "total": 5,
          "items": [
            {
              "kind": "EntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-10-28T18:19:36.2768138Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "text": "Microsoft",
                        "category": "Organization",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 1.0
                      },
                      {
                        "text": "Bill Gates",
                        "category": "Person",
                        "offset": 25,
                        "length": 10,
                        "confidenceScore": 1.0
                      },
                      {
                        "text": "Paul Allen",
                        "category": "Person",
                        "offset": 40,
                        "length": 10,
                        "confidenceScore": 1.0
                      }
                    ],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "English",
                      "iso6391Name": "en",
                      "confidenceScore": 0.94
                    },
                    "isLanguageDefaulted": false
                  },
                  {
                    "id": "2",
                    "entities": [
                      {
                        "text": "Microsoft",
                        "category": "Organization",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 1.0
                      },
                      {
                        "text": "Bill Gates",
                        "category": "Person",
                        "offset": 26,
                        "length": 10,
                        "confidenceScore": 1.0
                      },
                      {
                        "text": "Paul Allen",
                        "category": "Person",
                        "offset": 39,
                        "length": 10,
                        "confidenceScore": 0.99
                      }
                    ],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "Spanish",
                      "iso6391Name": "es",
                      "confidenceScore": 0.97
                    },
                    "isLanguageDefaulted": false
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            },
            {
              "kind": "KeyPhraseExtractionLROResults",
              "taskName": "1",
              "lastUpdateDateTime": "2022-10-28T18:19:36.6182176Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "English",
                      "iso6391Name": "en",
                      "confidenceScore": 0.94
                    },
                    "isLanguageDefaulted": false
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "Spanish",
                      "iso6391Name": "es",
                      "confidenceScore": 0.97
                    },
                    "isLanguageDefaulted": false
                  }
                ],
                "errors": [],
                "modelVersion": "2022-10-01"
              }
            },
            {
              "kind": "PiiEntityRecognitionLROResults",
              "taskName": "2",
              "lastUpdateDateTime": "2022-10-28T18:19:36.4136792Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "********* was founded by ********** and **********",
                    "id": "1",
                    "entities": [
                      {
                        "text": "Microsoft",
                        "category": "Organization",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 0.96
                      },
                      {
                        "text": "Bill Gates",
                        "category": "Perso[...]
