{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01\u0026showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "KeyPhraseExtraction",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Bill Gates is the CEO of Microsoft.",
              "language": "es"
            }
          ]
        },
        "parameters": {
          "modelVersion": "latest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "KeyPhraseExtractionResults",
        "results": {
          "statistics": {
            "documentsCount": 1,
            "validDocumentsCount": 1,
            "erroneousDocumentsCount": 0,
            "transactionsCount": 1
          },
          "documents": [
            {
              "id": "0",
              "keyPhrases": [
                "Bill Gates",
                "CEO",
                "Microsoft"
              ],
              "statistics": {
                "charactersCount": 35,
                "transactionsCount": 1
              },
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
