{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022tasks\u0022: {\u0022entityRecognitionTasks\u0022: [], \u0022entityRecognitionPiiTasks\u0022: [], \u0022keyPhraseExtractionTasks\u0022: [{\u0022parameters\u0022: {}, \u0022taskName\u0022: \u00220\u0022}], \u0022entityLinkingTasks\u0022: [], \u0022sentimentAnalysisTasks\u0022: [], \u0022extractiveSummarizationTasks\u0022: [], \u0022customEntityRecognitionTasks\u0022: [], \u0022customSingleClassificationTasks\u0022: [], \u0022customMultiClassificationTasks\u0022: []}, \u0022analysisInput\u0022: {\u0022documents\u0022: [{\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022Microsoft was founded by Bill Gates and Paul Allen\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u00222\u0022, \u0022text\u0022: \u0022Microsoft fue fundado por Bill Gates y Paul Allen\u0022, \u0022language\u0022: \u0022es\u0022}]}}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/865f1d86-7a7e-4872-a66f-e59e6dfbe778"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/865f1d86-7a7e-4872-a66f-e59e6dfbe778?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "865f1d86-7a7e-4872-a66f-e59e6dfbe778",
        "lastUpdateDateTime": "2021-12-14T18:55:10Z",
        "createdDateTime": "2021-12-14T18:55:08Z",
        "expirationDateTime": "2021-12-15T18:55:08Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T18:55:10.8748145Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 2,
                  "validDocumentsCount": 2,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 2
                },
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "statistics": {
                      "charactersCount": 50,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "statistics": {
                      "charactersCount": 49,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
