{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/sentiment?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "I will go to the park.",
            "language": ""
          },
          {
            "id": "2",
            "text": "I did not like the hotel we stayed at.",
            "language": ""
          },
          {
            "id": "3",
            "text": "The restaurant had really good food.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "1",
            "sentiment": "neutral",
            "confidenceScores": {
              "positive": 0.09,
              "neutral": 0.9,
              "negative": 0.01
            },
            "sentences": [
              {
                "sentiment": "neutral",
                "confidenceScores": {
                  "positive": 0.09,
                  "neutral": 0.9,
                  "negative": 0.01
                },
                "offset": 0,
                "length": 22,
                "text": "I will go to the park."
              }
            ],
            "warnings": []
          },
          {
            "id": "2",
            "sentiment": "negative",
            "confidenceScores": {
              "positive": 0.01,
              "neutral": 0.45,
              "negative": 0.54
            },
            "sentences": [
              {
                "sentiment": "negative",
                "confidenceScores": {
                  "positive": 0.01,
                  "neutral": 0.45,
                  "negative": 0.54
                },
                "offset": 0,
                "length": 38,
                "text": "I did not like the hotel we stayed at."
              }
            ],
            "warnings": []
          },
          {
            "id": "3",
            "sentiment": "positive",
            "confidenceScores": {
              "positive": 1.0,
              "neutral": 0.0,
              "negative": 0.0
            },
            "sentences": [
              {
                "sentiment": "positive",
                "confidenceScores": {
                  "positive": 1.0,
                  "neutral": 0.0,
                  "negative": 0.0
                },
                "offset": 0,
                "length": 36,
                "text": "The restaurant had really good food."
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2020-04-01"
      }
    }
  ],
  "Variables": {}
}
