interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}}],
      "entityRecognitionPiiTasks": [], "keyPhraseExtractionTasks": [], "entityLinkingTasks":
      [], "sentimentAnalysisTasks": []}, "analysisInput": {"documents": [{"id": "0",
      "text": "Test passing cls to endpoint", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/db77b781-4e12-4b65-b586-8235279242b4
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/db77b781-4e12-4b65-b586-8235279242b4
  response:
    body:
      string: '{"jobId":"db77b781-4e12-4b65-b586-8235279242b4","lastUpdateDateTime":"2021-05-08T06:51:49Z","createdDateTime":"2021-05-08T06:51:49Z","expirationDateTime":"2021-05-09T06:51:49Z","status":"running","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-08T06:51:49Z"},"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/db77b781-4e12-4b65-b586-8235279242b4
  response:
    body:
      string: '{"jobId":"db77b781-4e12-4b65-b586-8235279242b4","lastUpdateDateTime":"2021-05-08T06:52:01Z","createdDateTime":"2021-05-08T06:51:49Z","expirationDateTime":"2021-05-09T06:51:49Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-08T06:52:01Z"},"completed":1,"failed":0,"inProgress":0,"total":1,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-05-08T06:52:01.4284319Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
