{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": false,
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "0"
            }
          ],
          "entityRecognitionPiiTasks": [],
          "keyPhraseExtractionTasks": [],
          "entityLinkingTasks": [],
          "sentimentAnalysisTasks": [],
          "extractiveSummarizationTasks": [],
          "customEntityRecognitionTasks": [],
          "customSingleClassificationTasks": [],
          "customMultiClassificationTasks": []
        },
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test passing cls to endpoint",
              "language": "en"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/10c8f495-9120-4149-9907-84cd5928ac3a"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/10c8f495-9120-4149-9907-84cd5928ac3a",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "10c8f495-9120-4149-9907-84cd5928ac3a",
        "lastUpdateDateTime": "2021-11-19T19:54:27Z",
        "createdDateTime": "2021-11-19T19:54:27Z",
        "expirationDateTime": "2021-11-20T19:54:27Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/10c8f495-9120-4149-9907-84cd5928ac3a",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "10c8f495-9120-4149-9907-84cd5928ac3a",
        "lastUpdateDateTime": "2021-11-19T19:54:35Z",
        "createdDateTime": "2021-11-19T19:54:27Z",
        "expirationDateTime": "2021-11-20T19:54:27Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "entityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:54:35.9713932Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "text": "Test",
                        "category": "Skill",
                        "offset": 0,
                        "length": 4,
                        "confidenceScore": 0.94
                      },
                      {
                        "text": "cls",
                        "category": "Skill",
                        "offset": 13,
                        "length": 3,
                        "confidenceScore": 0.96
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
