{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "LanguageDetection",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "I should take my cat to the veterinarian.",
              "countryHint": "US"
            },
            {
              "id": "1",
              "text": "Este es un document escrito en Espa\u00F1ol.",
              "countryHint": "US"
            },
            {
              "id": "2",
              "text": "\u732B\u306F\u5E78\u305B",
              "countryHint": "US"
            },
            {
              "id": "3",
              "text": "Fahrt nach Stuttgart und dann zum Hotel zu Fu.",
              "countryHint": "US"
            },
            {
              "id": "4",
              "text": "",
              "countryHint": "US"
            }
          ]
        },
        "parameters": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=4,CognitiveServices.TextAnalytics.TextRecords=4"
      },
      "ResponseBody": {
        "kind": "LanguageDetectionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "detectedLanguage": {
                "name": "English",
                "iso6391Name": "en",
                "confidenceScore": 0.96
              },
              "warnings": []
            },
            {
              "id": "1",
              "detectedLanguage": {
                "name": "English",
                "iso6391Name": "en",
                "confidenceScore": 1.0
              },
              "warnings": []
            },
            {
              "id": "2",
              "detectedLanguage": {
                "name": "Japanese",
                "iso6391Name": "ja",
                "confidenceScore": 1.0
              },
              "warnings": []
            },
            {
              "id": "3",
              "detectedLanguage": {
                "name": "German",
                "iso6391Name": "de",
                "confidenceScore": 0.99
              },
              "warnings": []
            }
          ],
          "errors": [
            {
              "id": "4",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Document in request.",
                "innererror": {
                  "code": "InvalidDocument",
                  "message": "Document text is empty."
                }
              }
            }
          ],
          "modelVersion": "2021-11-20"
        }
      }
    }
  ],
  "Variables": {}
}
