{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "EntityLinking",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Hello world",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "EntityLinkingResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [
                {
                  "bingId": "7b4d3717-77ab-39ff-d8ec-1c7fd8723bd2",
                  "name": "\u0022Hello, World!\u0022 program",
                  "matches": [
                    {
                      "text": "Hello world",
                      "offset": 0,
                      "length": 11,
                      "confidenceScore": 0.03
                    }
                  ],
                  "language": "en",
                  "id": "\u0022Hello, World!\u0022 program",
                  "url": "https://en.wikipedia.org/wiki/\u0022Hello,_World!\u0022_program",
                  "dataSource": "Wikipedia"
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
