interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "one", "language": "en"}, {"id": "2",
      "text": "two", "language": "en"}, {"id": "3", "text": "three", "language": "en"},
      {"id": "4", "text": "four", "language": "en"}, {"id": "5", "text": "five", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/0cafaae4-244e-4b06-b27a-1eb45811fd59
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/0cafaae4-244e-4b06-b27a-1eb45811fd59
  response:
    body:
      string: '{"jobId":"0cafaae4-244e-4b06-b27a-1eb45811fd59","lastUpdateDateTime":"2020-11-19T21:34:53Z","createdDateTime":"2020-11-19T21:34:49Z","expirationDateTime":"2020-11-20T21:34:49Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"1","entities":[{"offset":0,"length":3,"text":"one","category":"Dosage","confidenceScore":0.77,"isNegated":false}],"relations":[],"warnings":[]},{"id":"2","entities":[{"offset":0,"length":3,"text":"two","category":"Dosage","confidenceScore":0.62,"isNegated":false}],"relations":[],"warnings":[]},{"id":"3","entities":[{"offset":0,"length":5,"text":"three","category":"Dosage","confidenceScore":0.61,"isNegated":false}],"relations":[],"warnings":[]},{"id":"4","entities":[],"relations":[],"warnings":[]},{"id":"5","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
