interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "This should fail because we''re passing
      in an invalid language hint", "language": "notalanguage"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/39a15099-1683-4182-86ca-b695840c1fdb
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/39a15099-1683-4182-86ca-b695840c1fdb
  response:
    body:
      string: '{"jobId":"39a15099-1683-4182-86ca-b695840c1fdb","lastUpdateDateTime":"2020-11-19T21:31:17Z","createdDateTime":"2020-11-19T21:31:13Z","expirationDateTime":"2020-11-20T21:31:13Z","status":"succeeded","errors":[],"results":{"documents":[],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en"}}}],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
