interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This was the best day of my life.",
      "language": "fr"}, {"id": "1", "text": "I did not like the hotel we stayed it.
      It was too expensive.", "language": "fr"}, {"id": "2", "text": "The restaurant
      was not as good as I hoped.", "language": "fr"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/pii?showStats=false
  response:
    body:
      string: '{"documents":[],"errors":[{"id":"0","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innerError":{"code":"UnsupportedLanguageCode","message":"Supplied
        language not supported. Pass in one of: en"}}},{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innerError":{"code":"UnsupportedLanguageCode","message":"Supplied
        language not supported. Pass in one of: en"}}},{"id":"2","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innerError":{"code":"UnsupportedLanguageCode","message":"Supplied
        language not supported. Pass in one of: en"}}}],"modelVersion":"2020-02-01"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.0-preview.1/entities/recognition/pii?showStats=false
version: 1
