interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "hello world", "language": "en"}, {"id":
      "1", "text": "hello world", "language": "en"}, {"id": "2", "text": "hello world",
      "language": "en"}, {"id": "3", "text": "hello world", "language": "en"}, {"id":
      "4", "text": "hello world", "language": "en"}, {"id": "5", "text": "hello world",
      "language": "en"}, {"id": "6", "text": "hello world", "language": "en"}, {"id":
      "7", "text": "hello world", "language": "en"}, {"id": "8", "text": "hello world",
      "language": "en"}, {"id": "9", "text": "hello world", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/f16447d8-ab16-46e5-a7ae-6b2131e72348
    status:
      code: 202
      message: Accepted
    url: https://centralus.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/entities/health/jobs?stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/f16447d8-ab16-46e5-a7ae-6b2131e72348
  response:
    body:
      string: '{"jobId":"f16447d8-ab16-46e5-a7ae-6b2131e72348","lastUpdateDateTime":"2021-05-13T22:35:48Z","createdDateTime":"2021-05-13T22:35:48Z","expirationDateTime":"2021-05-14T22:35:48Z","status":"notStarted","errors":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/f16447d8-ab16-46e5-a7ae-6b2131e72348
- request:
    body: null
    headers:
    method: DELETE
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/f16447d8-ab16-46e5-a7ae-6b2131e72348
  response:
    body:
      string: ''
    headers:
      operation-location: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/f16447d8-ab16-46e5-a7ae-6b2131e72348
    status:
      code: 202
      message: Accepted
    url: https://centralus.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/entities/health/jobs/f16447d8-ab16-46e5-a7ae-6b2131e72348
version: 1
