{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/sentiment?stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022I will go to the park.\u0022, \u0022language\u0022: \u0022es\u0022}, {\u0022id\u0022: \u00222\u0022, \u0022text\u0022: \u0022I did not like the hotel we stayed at.\u0022, \u0022language\u0022: \u0022es\u0022}, {\u0022id\u0022: \u00223\u0022, \u0022text\u0022: \u0022The restaurant had really good food.\u0022, \u0022language\u0022: \u0022es\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "1",
            "sentiment": "neutral",
            "confidenceScores": {
              "positive": 0.04,
              "neutral": 0.95,
              "negative": 0.01
            },
            "sentences": [
              {
                "sentiment": "neutral",
                "confidenceScores": {
                  "positive": 0.04,
                  "neutral": 0.95,
                  "negative": 0.01
                },
                "offset": 0,
                "length": 22,
                "text": "I will go to the park."
              }
            ],
            "warnings": []
          },
          {
            "id": "2",
            "sentiment": "neutral",
            "confidenceScores": {
              "positive": 0.01,
              "neutral": 0.5,
              "negative": 0.49
            },
            "sentences": [
              {
                "sentiment": "neutral",
                "confidenceScores": {
                  "positive": 0.01,
                  "neutral": 0.5,
                  "negative": 0.49
                },
                "offset": 0,
                "length": 38,
                "text": "I did not like the hotel we stayed at."
              }
            ],
            "warnings": []
          },
          {
            "id": "3",
            "sentiment": "positive",
            "confidenceScores": {
              "positive": 0.97,
              "neutral": 0.02,
              "negative": 0.01
            },
            "sentences": [
              {
                "sentiment": "positive",
                "confidenceScores": {
                  "positive": 0.97,
                  "neutral": 0.02,
                  "negative": 0.01
                },
                "offset": 0,
                "length": 36,
                "text": "The restaurant had really good food."
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2020-04-01"
      }
    },
[...]
