interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}}], "entityRecognitionPiiTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": true, "stringIndexType":
      "UnicodeCodePoint"}}], "keyPhraseExtractionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true}}], "entityLinkingTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}}], "sentimentAnalysisTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": true, "opinionMining":
      false}}]}, "analysisInput": {"documents": [{"id": "0", "text": "Test for logging
      disable", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/14bddf69-7cf0-4a1e-9a4b-be63c6644043
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/14bddf69-7cf0-4a1e-9a4b-be63c6644043
  response:
    body:
      string: '{"jobId":"14bddf69-7cf0-4a1e-9a4b-be63c6644043","lastUpdateDateTime":"2021-05-18T18:25:26Z","createdDateTime":"2021-05-18T18:25:21Z","expirationDateTime":"2021-05-19T18:25:21Z","status":"running","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-18T18:25:26Z"},"completed":1,"failed":0,"inProgress":4,"total":5,"entityLinkingTasks":[{"lastUpdateDateTime":"2021-05-18T18:25:22.824384Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"name":"Test
        (assessment)","matches":[{"text":"Test","offset":0,"length":4,"confidenceScore":0.04}],"language":"en","id":"Test
        (assessment)","url":"https://en.wikipedia.org/wiki/Test_(assessment)","dataSource":"Wikipedia"}],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/14bddf69-7cf0-4a1e-9a4b-be63c6644043
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/14bddf69-7cf0-4a1e-9a4b-be63c6644043
  response:
    body:
      string: '{"jobId":"14bddf69-7cf0-4a1e-9a4b-be63c6644043","lastUpdateDateTime":"2021-05-18T18:25:36Z","createdDateTime":"2021-05-18T18:25:21Z","expirationDateTime":"2021-05-19T18:25:21Z","status":"running","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-18T18:25:36Z"},"completed":2,"failed":0,"inProgress":3,"total":5,"entityLinkingTasks":[{"lastUpdateDateTime":"2021-05-18T18:25:22.824384Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"name":"Test
        (assessment)","matches":[{"text":"Test","offset":0,"length":4,"confidenceScore":0.04}],"language":"en","id":"Test
        (assessment)","url":"https://en.wikipedia.org/wiki/Test_(assessment)","dataSource":"Wikipedia"}],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-05-18T18:25:36.4290537Z","name":"NA","state":"succeeded","results":{"documents":[{"redactedText":"Test
        for logging disable","id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/14bddf69-7cf0-4a1e-9a4b-be63c6644043
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/14bddf69-7cf0-4a1e-9a4b-be63c6644043
  response:
    body:
      string: '{"jobId":"14bddf69-7cf0-4a1e-9a4b-be63c6644043","lastUpdateDateTime":"2021-05-18T18:25:38Z","createdDateTime":"2021-05-18T18:25:21Z","expirationDateTime":"2021-05-19T18:25:21Z","status":"running","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-18T18:25:38Z"},"completed":3,"failed":0,"inProgress":2,"total":5,"entityLinkingTasks":[{"lastUpdateDateTime":"2021-05-18T18:25:22.824384Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"name":"Test
        (assessment)","matches":[{"text":"Test","offset":0,"length":4,"confidenceScore":0.04}],"language":"en","id":"Test
        (assessment)","url":"https://en.wikipedia.org/wiki/Test_(assessment)","dataSource":"Wikipedia"}],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-05-18T18:25:36.4290537Z","name":"NA","state":"succeeded","results":{"documents":[{"redactedText":"Test
        for logging disable","id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-05-18T18:25:38.6735281Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"0","keyPhrases":["Test","logging"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/14bddf69-7cf0-4a1e-9a4b-be63c6644043
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/14bddf69-7cf0-4a1e-9a4b-be63c6644043
  response:
    body:
      string: '{"jobId":"14bddf69-7cf0-4a1e-9a4b-be63c6644043","lastUpdateDateTime":"2021-05-18T18:25:44Z","createdDateTime":"2021-05-18T18:25:21Z","expirationDateTime":"2021-05-19T18:25:21Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-18T18:25:44Z"},"completed":5,"failed":0,"inProgress":0,"total":5,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-05-18T18:25:43.5360363Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"text":"logging","category":"Skill","offset":9,"length":7,"confidenceScore":0.8}],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"entityLinkingTasks":[{"lastUpdateDateTime":"2021-05-18T18:25:22.824384Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"name":"Test
        (assessment)","matches":[{"text":"Test","offset":0,"length":4,"confidenceScore":0.04}],"language":"en","id":"Test
        (assessment)","url":"https://en.wikipedia.org/wiki/Test_(assessment)","dataSource":"Wikipedia"}],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-05-18T18:25:36.4290537Z","name":"NA","state":"succeeded","results":{"documents":[{"redactedText":"Test
        for logging disable","id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-05-18T18:25:38.6735281Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"0","keyPhrases":["Test","logging"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}],"sentimentAnalysisTasks":[{"lastUpdateDateTime":"2021-05-18T18:25:44.8265053Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"0","sentiment":"negative","confidenceScores":{"positive":0.02,"neutral":0.12,"negative":0.86},"sentences":[{"sentiment":"negative","confidenceScores":{"positive":0.02,"neutral":0.12,"negative":0.86},"offset":0,"length":24,"text":"Test
        for logging disable"}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/14bddf69-7cf0-4a1e-9a4b-be63c6644043
version: 1
