interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Test passing cls to endpoint", "countryHint":
      "US"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.2/languages?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"0","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=1
    status:
      code: 200
      message: OK
version: 1
