interactions:
- request:
    body: '{"documents": [{"id": "56", "text": ":)", "language": "en"}, {"id": "0",
      "text": ":(", "language": "en"}, {"id": "22", "text": "", "language": "en"},
      {"id": "19", "text": ":P", "language": "en"}, {"id": "1", "text": ":D", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/keyPhrases?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"56","keyPhrases":[],"warnings":[]},{"id":"0","keyPhrases":[],"warnings":[]},{"id":"19","keyPhrases":[],"warnings":[]},{"id":"1","keyPhrases":[],"warnings":[]}],"errors":[{"id":"22","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innererror":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2021-06-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=4,CognitiveServices.TextAnalytics.TextRecords=4
    status:
      code: 200
      message: OK
    url: https://tacanaryjava.cognitiveservices.azure.com//text/analytics/v3.2-preview.1/keyPhrases?showStats=false
version: 1
