{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tasks": {
          "entityRecognitionTasks": [],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "piiCategories": [
                  "USSocialSecurityNumber",
                  "ABARoutingNumber"
                ],
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "0"
            }
          ],
          "keyPhraseExtractionTasks": [],
          "entityLinkingTasks": [],
          "sentimentAnalysisTasks": [],
          "extractiveSummarizationTasks": [],
          "customEntityRecognitionTasks": [],
          "customSingleClassificationTasks": [],
          "customMultiClassificationTasks": []
        },
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "My SSN is 859-98-0987.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Your ABA number - 111000025 - is the first 9 digits in the lower left hand corner of your personal check.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "Is 998.214.865-68 your Brazilian CPF number?",
              "language": "en"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/14aee76d-02aa-48b0-8b41-e75b2a34e8bf"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/14aee76d-02aa-48b0-8b41-e75b2a34e8bf",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "14aee76d-02aa-48b0-8b41-e75b2a34e8bf",
        "lastUpdateDateTime": "2021-11-19T19:43:58Z",
        "createdDateTime": "2021-11-19T19:43:55Z",
        "expirationDateTime": "2021-11-20T19:43:55Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:43:58.5671548Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "My SSN is ***********.",
                    "id": "1",
                    "entities": [
                      {
                        "text": "859-98-0987",
                        "category": "USSocialSecurityNumber",
                        "offset": 10,
                        "length": 11,
                        "confidenceScore": 0.65
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "redactedText": "Your ABA number - ********* - is the first 9 digits in the lower left hand corner of your personal check.",
                    "id": "2",
                    "entities": [
                      {
                        "text": "111000025",
                        "category": "ABARoutingNumber",
                        "offset": 18,
                        "length": 9,
                        "confidenceScore": 0.75
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "redactedText": "Is 998.214.865-68 your Brazilian CPF number?",
                    "id": "3",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
