interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Hello world", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/entities/health/jobs/cf50bdc4-7682-44d9-a4b1-4e5cc46fffd9
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/entities/health/jobs/cf50bdc4-7682-44d9-a4b1-4e5cc46fffd9
  response:
    body:
      string: '{"jobId":"cf50bdc4-7682-44d9-a4b1-4e5cc46fffd9","lastUpdateDateTime":"2021-06-23T01:43:43Z","createdDateTime":"2021-06-23T01:43:41Z","expirationDateTime":"2021-06-24T01:43:41Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2021-05-15"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
