interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}, "taskName":
      "0"}], "entityRecognitionPiiTasks": [{"parameters": {"model-version": "latest",
      "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}, "taskName":
      "2"}], "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest",
      "loggingOptOut": false}, "taskName": "1"}], "entityLinkingTasks": [{"parameters":
      {"model-version": "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"},
      "taskName": "3"}], "sentimentAnalysisTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "opinionMining": false}, "taskName": "4"}]},
      "analysisInput": {"documents": [{"id": "0", "text": "hello world", "language":
      "en"}, {"id": "1", "text": "hello world", "language": "en"}, {"id": "2", "text":
      "hello world", "language": "en"}, {"id": "3", "text": "hello world", "language":
      "en"}, {"id": "4", "text": "hello world", "language": "en"}, {"id": "5", "text":
      "hello world", "language": "en"}, {"id": "6", "text": "hello world", "language":
      "en"}, {"id": "7", "text": "hello world", "language": "en"}, {"id": "8", "text":
      "hello world", "language": "en"}, {"id": "9", "text": "hello world", "language":
      "en"}, {"id": "10", "text": "hello world", "language": "en"}, {"id": "11", "text":
      "hello world", "language": "en"}, {"id": "12", "text": "hello world", "language":
      "en"}, {"id": "13", "text": "hello world", "language": "en"}, {"id": "14", "text":
      "hello world", "language": "en"}, {"id": "15", "text": "hello world", "language":
      "en"}, {"id": "16", "text": "hello world", "language": "en"}, {"id": "17", "text":
      "hello world", "language": "en"}, {"id": "18", "text": "hello world", "language":
      "en"}, {"id": "19", "text": "hello world", "language": "en"}, {"id": "20", "text":
      "hello world", "language": "en"}, {"id": "21", "text": "hello world", "language":
      "en"}, {"id": "22", "text": "hello world", "language": "en"}, {"id": "23", "text":
      "hello world", "language": "en"}, {"id": "24", "text": "hello world", "language":
      "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/e984135c-1668-44a3-8d42-3ecdb08d102f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/e984135c-1668-44a3-8d42-3ecdb08d102f?showStats=True
  response:
    body:
      string: '{"jobId":"e984135c-1668-44a3-8d42-3ecdb08d102f","lastUpdateDateTime":"2021-06-23T23:56:29Z","createdDateTime":"2021-06-23T23:56:25Z","expirationDateTime":"2021-06-24T23:56:25Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":4,"total":5,"entityLinkingTasks":[{"lastUpdateDateTime":"2021-06-23T23:56:29.5592201Z","taskName":"3","state":"succeeded","results":{"statistics":{"documentsCount":20,"validDocumentsCount":20,"erroneousDocumentsCount":0,"transactionsCount":20},"documents":[{"id":"0","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"1","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"2","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"3","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"4","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"5","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"6","[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/e984135c-1668-44a3-8d42-3ecdb08d102f?showStats=true&$top=5&$skip=20
  response:
    body:
      string: '{"jobId":"e984135c-1668-44a3-8d42-3ecdb08d102f","lastUpdateDateTime":"2021-06-23T23:57:32Z","createdDateTime":"2021-06-23T23:56:25Z","expirationDateTime":"2021-06-24T23:56:25Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":5,"failed":0,"inProgress":0,"total":5,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-06-23T23:56:41.588099Z","taskName":"0","state":"succeeded","results":{"statistics":{"documentsCount":5,"validDocumentsCount":5,"erroneousDocumentsCount":0,"transactionsCount":5},"documents":[{"id":"20","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"21","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"22","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"23","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"24","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityLinkingTasks":[{"lastUpdateDateTime":"2021-06-23T23:56:29.5592201Z","taskName":"3","state":"succeeded","results":{"statistics":{"documentsCount":5,"validDocumentsCount":5,"erroneousDocumentsCount":0,"transactionsCount":5},"documents":[{"id":"20","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"21","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"22","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"23","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"24","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-06-23T23:56:47.304613Z","taskName":"2","state":"succeeded","results":{"statistics":{"documentsCount":5,"validDocumentsCount":5,"erroneousDocumentsCount":0,"transactionsCount":5},"documents":[{"redactedText":"hello
        world","id":"20","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"21","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"22","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"23","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"24","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-06-23T23:57:32.2228148Z","taskName":"1","state":"succeeded","results":{"statistics":{"documentsCount":5,"validDocumentsCount":5,"erroneousDocumentsCount":0,"transactionsCount":5},"documents":[{"id":"20","keyPhrases":["hello
        world"],"statistics":{"charactersCount":11,"transactionsCount":1},"warnings":[]},{"id":"21","keyPhrases":["hello
        world"],"statistics":{"charactersCount":11,"transactionsCount":1},"warnings":[]},{"id":"22","keyPhrases":["hello
        world"],"statistics":{"charactersCount":11,"transactionsCount":1},"warnings":[]},{"id":"23","keyPhrases":["hello
        world"],"statistics":{"charactersCount":11,"transactionsCount":1},"warnings":[]},{"id":"24","keyPhrases":["hello
        world"],"statistics":{"charactersCount":11,"transactionsCount":1},"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"sentimentAnalysisTasks":[{"lastUpdateDateTime":"2021-06-23T23:56:46.6333085Z","taskName":"4","state":"succeeded","results":{"statistics":{"documentsCount":5,"validDocumentsCount":5,"erroneousDocumentsCount":0,"transactionsCount":5},"documents":[{"id":"20","sentiment":"neutral","statistics":{"charactersCount":11,"transactionsCount":1},"confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"21","sentiment":"neutral","statistics":{"charactersCount":11,"transactionsCount":1},"confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"22","sentiment":"neutral","statistics":{"charactersCount":11,"transactionsCount":1},"confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"23","sentiment":"neutral","statistics":{"charactersCount":11,"transactionsCount":1},"confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"24","sentiment":"neutral","statistics":{"charactersCount":11,"transactionsCount":1},"confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
