interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Test for logging disable", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/entities/recognition/general?loggingOptOut=true&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: '{"documents":[{"id":"0","entities":[{"text":"Test","category":"Skill","offset":0,"length":4,"confidenceScore":0.83},{"text":"logging","category":"Skill","offset":9,"length":7,"confidenceScore":0.69}],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1
    status:
      code: 200
      message: OK
    url: https://python-textanalytics.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/entities/recognition/general?loggingOptOut=true&stringIndexType=UnicodeCodePoint
version: 1
