interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [], "entityLinkingTasks": [], "sentimentAnalysisTasks":
      [], "extractiveSummarizationTasks": [], "customEntityRecognitionTasks": [{"parameters":
      {"project-name": "textanalytics_custom_entities_project_name", "deployment-name":
      "textanalytics_custom_entities_project_name", "stringIndexType": "UnicodeCodePoint"},
      "taskName": "0"}], "customSingleClassificationTasks": [], "customMultiClassificationTasks":
      []}, "analysisInput": {"documents": [{"id": "1", "text": "A recent report by
      the Government Accountability Office (GAO) found that the dramatic increase
      in oil and natural gas development on federal lands over the past six years
      has stretched the staff of the BLM to a point that it has been unable to meet
      its environmental protection responsibilities.", "language": "en"}, {"id": "2",
      "text": "David Schmidt, senior vice president--Food Safety, International Food
      Information Council (IFIC), Washington, D.C., discussed the physical activity
      component.", "language": "en"}, {"id": "3", "text": "I need a reservation for
      an indoor restaurant in China. Please don''t stop the music. Play music and
      add it to my playlist", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com//text/analytics/v3.2-preview.2/analyze/jobs/abd913b4-00da-4ff5-92c7-7d36ca33fe20
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/abd913b4-00da-4ff5-92c7-7d36ca33fe20?showStats=True
  response:
    body:
      string: '{"jobId":"abd913b4-00da-4ff5-92c7-7d36ca33fe20","lastUpdateDateTime":"2021-12-08T22:47:41Z","createdDateTime":"2021-12-08T22:47:40Z","expirationDateTime":"2021-12-09T22:47:40Z","status":"succeeded","errors":[],"tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"customEntityRecognitionTasks":[{"lastUpdateDateTime":"2021-12-08T22:47:41.053448Z","taskName":"0","state":"succeeded","results":{"statistics":{"documentsCount":3,"validDocumentsCount":3,"erroneousDocumentsCount":0,"transactionsCount":3},"documents":[{"id":"1","statistics":{"charactersCount":295,"transactionsCount":1},"entities":[{"text":"Government","category":"restaurant_name","offset":23,"length":10,"confidenceScore":0.05},{"text":"Office","category":"restaurant_name","offset":49,"length":6,"confidenceScore":0.11},{"text":"GAO","category":"restaurant_name","offset":57,"length":3,"confidenceScore":0.04},{"text":"Accountability","category":"geographic_poi","offset":34,"length":14,"confidenceScore":0.07},{"text":"natural","category":"geographic_poi","offset":106,"length":7,"confidenceScore":0.04},{"text":"dramatic","category":"sort","offset":77,"length":8,"confidenceScore":0.03},{"text":"oil","category":"restaurant_type","offset":98,"length":3,"confidenceScore":0.03},{"text":"gas","category":"restaurant_type","offset":114,"length":3,"confidenceScore":0.09},{"text":"and","category":"served_dish","offset":102,"length":3,"confidenceScore":0.07},{"text":"development","category":"object_type","offset":118,"length":11,"confidenceScore":0.06},{"text":"federal","category":"state","offset":133,"length":7,"confidenceScore":0.07},{"text":"protection","category":"state","offset":267,"length":10,"confidenceScore":0.05},{"text":"lands","category":"poi","offset":141,"length":5,"confidenceScore":0.04},{"text":"BLM","category":"poi","offset":202,"length":3,"confidenceScore":0.07},{"text":"the","category":"timeRange","offset":152,"length":3,"confidenceScore":0.24},{"text":"past
        six years","category":"timeRange","offset":156,"length":14,"confidenceScore":0.54}],"warnings":[]},{"id":"2","statistics":{"charactersCount":158,"transactionsCount":1},"entities":[{"text":"David
        Schmidt","category":"artist","offset":0,"length":13,"confidenceScore":0.8},{"text":"Food","category":"service","offset":38,"length":4,"confidenceScore":0.03},{"text":"Safety","category":"geographic_poi","offset":43,"length":6,"confidenceScore":0.06},{"text":"International
        Food","category":"geographic_poi","offset":51,"length":18,"confidenceScore":0.07},{"text":"IFIC","category":"geographic_poi","offset":91,"length":4,"confidenceScore":0.05},{"text":"Information
        Council","category":"restaurant_name","offset":70,"length":19,"confidenceScore":0.1},{"text":"Washington,
        D.C.","category":"state","offset":98,"length":16,"confidenceScore":0.49}],"warnings":[]},{"id":"3","statistics":{"charactersCount":121,"transactionsCount":1},"entities":[{"text":"indoor","category":"facility","offset":28,"length":6,"confidenceScore":0.57},{"text":"restaurant","category":"restaurant_type","offset":35,"length":10,"confidenceScore":0.95},{"text":"China","category":"country","offset":49,"length":5,"confidenceScore":0.48},{"text":"music","category":"music_item","offset":78,"length":5,"confidenceScore":0.63},{"text":"my","category":"playlist_owner","offset":110,"length":2,"confidenceScore":0.84}],"warnings":[]}],"errors":[],"projectName":"textanalytics_custom_entities_project_name","deploymentName":"textanalytics_custom_entities_project_name"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
