{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tasks": {
          "entityRecognitionTasks": [],
          "entityRecognitionPiiTasks": [],
          "keyPhraseExtractionTasks": [],
          "entityLinkingTasks": [],
          "sentimentAnalysisTasks": [],
          "extractiveSummarizationTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": false,
                "stringIndexType": "UnicodeCodePoint",
                "sentenceCount": 3,
                "sortBy": "Offset"
              },
              "taskName": "0"
            }
          ],
          "customEntityRecognitionTasks": [],
          "customSingleClassificationTasks": [],
          "customMultiClassificationTasks": []
        },
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "",
              "language": "en"
            },
            {
              "id": "2",
              "text": "hello world",
              "language": "en"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/29465be7-21f3-49a9-8444-4f6448eb093b"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/29465be7-21f3-49a9-8444-4f6448eb093b?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "29465be7-21f3-49a9-8444-4f6448eb093b",
        "lastUpdateDateTime": "2021-11-19T19:56:24Z",
        "createdDateTime": "2021-11-19T19:56:23Z",
        "expirationDateTime": "2021-11-20T19:56:23Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/29465be7-21f3-49a9-8444-4f6448eb093b?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "29465be7-21f3-49a9-8444-4f6448eb093b",
        "lastUpdateDateTime": "2021-11-19T19:56:35Z",
        "createdDateTime": "2021-11-19T19:56:23Z",
        "expirationDateTime": "2021-11-20T19:56:23Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "extractiveSummarizationTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:56:35.3866764Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 2,
                  "validDocumentsCount": 1,
                  "erroneousDocumentsCount": 1,
                  "transactionsCount": 1
                },
                "documents": [
                  {
                    "id": "2",
                    "statistics": {
                      "charactersCount": 11,
                      "transactionsCount": 1
                    },
                    "sentences": [],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "modelVersion": "2021-08-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
