{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-03-01-preview\u0026showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "KeyPhraseExtraction",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Microsoft fue fundado por Bill Gates y Paul Allen",
              "language": "es"
            }
          ]
        },
        "parameters": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2"
      },
      "ResponseBody": {
        "kind": "KeyPhraseExtractionResults",
        "results": {
          "statistics": {
            "documentsCount": 2,
            "validDocumentsCount": 2,
            "erroneousDocumentsCount": 0,
            "transactionsCount": 2
          },
          "documents": [
            {
              "id": "1",
              "keyPhrases": [
                "Bill Gates",
                "Paul Allen",
                "Microsoft"
              ],
              "statistics": {
                "charactersCount": 50,
                "transactionsCount": 1
              },
              "warnings": []
            },
            {
              "id": "2",
              "keyPhrases": [
                "Bill Gates",
                "Paul Allen",
                "Microsoft"
              ],
              "statistics": {
                "charactersCount": 49,
                "transactionsCount": 1
              },
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
