{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/languages?showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "one",
            "countryHint": "US"
          },
          {
            "id": "2",
            "text": "two",
            "countryHint": "US"
          },
          {
            "id": "3",
            "text": "three",
            "countryHint": "US"
          },
          {
            "id": "4",
            "text": "four",
            "countryHint": "US"
          },
          {
            "id": "5",
            "text": "five",
            "countryHint": "US"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=5,CognitiveServices.TextAnalytics.TextRecords=5"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "1",
            "detectedLanguage": {
              "name": "English",
              "iso6391Name": "en",
              "confidenceScore": 1.0
            },
            "warnings": []
          },
          {
            "id": "2",
            "detectedLanguage": {
              "name": "English",
              "iso6391Name": "en",
              "confidenceScore": 0.99
            },
            "warnings": []
          },
          {
            "id": "3",
            "detectedLanguage": {
              "name": "English",
              "iso6391Name": "en",
              "confidenceScore": 0.93
            },
            "warnings": []
          },
          {
            "id": "4",
            "detectedLanguage": {
              "name": "English",
              "iso6391Name": "en",
              "confidenceScore": 1.0
            },
            "warnings": []
          },
          {
            "id": "5",
            "detectedLanguage": {
              "name": "English",
              "iso6391Name": "en",
              "confidenceScore": 1.0
            },
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-01-05"
      }
    }
  ],
  "Variables": {}
}
