{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Hello world",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/be2bf6e4-b0cb-43dd-8e2a-b048cb3638ea?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
