interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [], "entityLinkingTasks": [], "sentimentAnalysisTasks":
      [], "extractiveSummarizationTasks": [{"parameters": {"model-version": "latest",
      "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint", "sentenceCount":
      3, "sortBy": "Offset"}}]}, "analysisInput": {"documents": [{"id": "1", "text":
      "The government of British Prime Minster Theresa May has been plunged into turmoil
      with the resignation of two senior Cabinet ministers in a deep split over her
      Brexit strategy. The Foreign Secretary Boris Johnson, quit on Monday, hours
      after the resignation late on Sunday night of the minister in charge of Brexit
      negotiations, David Davis. Their decision to leave the government came three
      days after May appeared to have agreed a deal with herfractured Cabine[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/analyze/jobs/e392f783-53c8-4a5a-b952-8a03fa0cb23f?showStats=True
  response:
    body:
      string: '{"jobId":"e392f783-53c8-4a5a-b952-8a03fa0cb23f","lastUpdateDateTime":"2021-08-02T21:44:21Z","createdDateTime":"2021-08-02T21:44:21Z","expirationDateTime":"2021-08-03T21:44:21Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://tacanaryjava.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/analyze/jobs/e392f783-53c8-4a5a-b952-8a03fa0cb23f?showStats=True
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/analyze/jobs/e392f783-53c8-4a5a-b952-8a03fa0cb23f?showStats=True
  response:
    body:
      string: '{"jobId":"e392f783-53c8-4a5a-b952-8a03fa0cb23f","lastUpdateDateTime":"2021-08-02T21:44:44Z","createdDateTime":"2021-08-02T21:44:21Z","expirationDateTime":"2021-08-03T21:44:21Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"extractiveSummarizationTasks":[{"lastUpdateDateTime":"2021-08-02T21:44:44.7234071Z","taskName":"ExtractiveSummarization_latest","state":"succeeded","results":{"statistics":{"documentsCount":2,"validDocumentsCount":2,"erroneousDocumentsCount":0,"transactionsCount":3},"documents":[{"id":"1","statistics":{"charactersCount":1625,"transactionsCount":2},"sentences":[{"text":"The
        government of British Prime Minster Theresa May has been plunged into turmoil
        with the resignation of two senior Cabinet ministers in a deep split over
        her Brexit strategy.","rankScore":1.0,"offset":0,"length":176},{"text":"The
        Foreign Secretary Boris Johnson, quit on Monday, hours after the resignation
        late on Sunday night of the minister in charge of Brexit negotiations, David
        Davis.","rankScore":0.9692596246437071,"offset":177,"length":164},{"text":"Their
        decision to leave the government came three days after May appeared to have
        agreed a deal with herfractured Cabinet on the UK''s post Brexit relationship
        with the EU.","rankScore":0.8793036866968857,"offset":342,"length":171}],"warnings":[]},{"id":"2","statistics":{"charactersCount":49,"transactionsCount":1},"sentences":[{"text":"Microsoft
        fue fundado por Bill Gates y Paul Allen","rankScore":1.0,"offset":0,"length":49}],"warnings":[]}],"errors":[],"modelVersion":"2021-08-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://tacanaryjava.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/analyze/jobs/e392f783-53c8-4a5a-b952-8a03fa0cb23f?showStats=True
version: 1
