interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This was the best day of my life.",
      "countryHint": ""}, {"id": "1", "text": "I did not like the hotel we stayed
      at. It was too expensive.", "countryHint": ""}, {"id": "2", "text": "The restaurant
      was not as good as I hoped.", "countryHint": ""}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK-Client: [Python-SDK]
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/languages?showStats=false
  response:
    body: {string: '{"documents":[{"id":"0","detectedLanguages":[{"name":"English","iso6391Name":"en","score":1.0}]},{"id":"1","detectedLanguages":[{"name":"English","iso6391Name":"en","score":1.0}]},{"id":"2","detectedLanguages":[{"name":"English","iso6391Name":"en","score":1.0}]}],"errors":[],"modelVersion":"2019-10-01"}'}
    headers: {apim-request-id: 29333972-1158-4dc0-9457-181eab02eb88, content-type: application/json;
        charset=utf-8, csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3,
      date: 'Tue, 03 Mar 2020 18:33:41 GMT', strict-transport-security: max-age=31536000;
        includeSubDomains; preload, transfer-encoding: chunked, x-content-type-options: nosniff,
      x-envoy-upstream-service-time: '3'}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, westus2.api.cognitive.microsoft.com,
        //text/analytics/v3.0-preview.1/languages, showStats=false, '']
version: 1
