{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "KeyPhraseExtraction",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "One",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Two",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Three",
              "language": "en"
            },
            {
              "id": "3",
              "text": "Four",
              "language": "en"
            },
            {
              "id": "4",
              "text": "Five",
              "language": "en"
            },
            {
              "id": "5",
              "text": "Six",
              "language": "en"
            },
            {
              "id": "6",
              "text": "Seven",
              "language": "en"
            },
            {
              "id": "7",
              "text": "Eight",
              "language": "en"
            },
            {
              "id": "8",
              "text": "Nine",
              "language": "en"
            },
            {
              "id": "9",
              "text": "Ten",
              "language": "en"
            },
            {
              "id": "10",
              "text": "Eleven",
              "language": "en"
            }
          ]
        },
        "parameters": {}
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid Document in request.",
          "innererror": {
            "code": "InvalidDocumentBatch",
            "message": "Batch request contains too many records. Max 10 records are permitted."
          }
        }
      }
    }
  ],
  "Variables": {}
}
