interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Bill Gates is the CEO of Microsoft.",
      "language": "es"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/keyPhrases?model-version=latest&showStats=true
  response:
    body:
      string: '{"statistics":{"documentsCount":1,"validDocumentsCount":1,"erroneousDocumentsCount":0,"transactionsCount":1},"documents":[{"id":"0","keyPhrases":["Bill
        Gates","CEO","Microsoft"],"statistics":{"charactersCount":35,"transactionsCount":1},"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1
    status:
      code: 200
      message: OK
version: 1
