{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "SentimentAnalysis",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "This was the best day of my life.",
              "language": "fr"
            },
            {
              "id": "1",
              "text": "I did not like the hotel we stayed at. It was too expensive.",
              "language": "fr"
            },
            {
              "id": "2",
              "text": "The restaurant was not as good as I hoped.",
              "language": "fr"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "sentiment": "positive",
              "confidenceScores": {
                "positive": 1.0,
                "neutral": 0.0,
                "negative": 0.0
              },
              "sentences": [
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 1.0,
                    "neutral": 0.0,
                    "negative": 0.0
                  },
                  "offset": 0,
                  "length": 33,
                  "text": "This was the best day of my life."
                }
              ],
              "warnings": []
            },
            {
              "id": "1",
              "sentiment": "negative",
              "confidenceScores": {
                "positive": 0.0,
                "neutral": 0.0,
                "negative": 1.0
              },
              "sentences": [
                {
                  "sentiment": "neutral",
                  "confidenceScores": {
                    "positive": 0.01,
                    "neutral": 0.82,
                    "negative": 0.17
            [...]
