{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "KeyPhraseExtraction",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Microsoft was founded by Bill Gates and Paul Allen",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Microsoft fue fundado por Bill Gates y Paul Allen",
              "language": "en"
            },
            {
              "id": "2",
              "text": "",
              "language": "en"
            }
          ]
        },
        "parameters": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2"
      },
      "ResponseBody": {
        "kind": "KeyPhraseExtractionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "keyPhrases": [
                "Bill Gates",
                "Paul Allen",
                "Microsoft"
              ],
              "warnings": []
            },
            {
              "id": "1",
              "keyPhrases": [
                "Bill Gates",
                "Paul Allen",
                "Microsoft"
              ],
              "warnings": []
            }
          ],
          "errors": [
            {
              "id": "2",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid document in request.",
                "innererror": {
                  "code": "InvalidDocument",
                  "message": "Document text is empty."
                }
              }
            }
          ],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
