{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "0"
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "2"
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest"
              },
              "taskName": "1"
            }
          ],
          "entityLinkingTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "3"
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "4"
            }
          ]
        },
        "analysisInput": {
          "documents": [
            {
              "id": "56",
              "text": ":)",
              "language": "en"
            },
            {
              "id": "0",
              "text": ":(",
              "language": "en"
            },
            {
              "id": "19",
              "text": ":P",
              "language": "en"
            },
            {
              "id": "1",
              "text": ":D",
              "language": "en"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/0e124956-4cf1-4400-ade5-0b8c4742af47"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/0e124956-4cf1-4400-ade5-0b8c4742af47?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0e124956-4cf1-4400-ade5-0b8c4742af47",
        "lastUpdateDateTime": "2022-10-10T20:47:13Z",
        "createdDateTime": "2022-10-10T20:47:08Z",
        "expirationDateTime": "2022-10-11T20:47:08Z",
        "status": "succeeded",
        "errors": [],
        "statistics": {
          "documentsCount": 20,
          "validDocumentsCount": 20,
          "erroneousDocumentsCount": 0,
          "transactionsCount": 20
        },
        "tasks": {
          "completed": 5,
          "failed": 0,
          "inProgress": 0,
          "total": 5,
          "entityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2022-10-10T20:47:12.0592838Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 4,
                  "validDocumentsCount": 4,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 4
                },
                "documents": [
                  {
                    "id": "56",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ],
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2022-10-10T20:47:12.7010125Z",
              "taskName": "3",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 4,
                  "validDocumentsCount": 4,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 4
                },
          [...]
