{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "My SSN is 859-98-0987.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Your ABA number - 111000025 - is the first 9 digits in the lower left hand corner of your personal check.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Is 998.214.865-68 your Brazilian CPF number?",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/6597d4d2-32c6-46d7-b141-7f93e4ea731b?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/6597d4d2-32c6-46d7-b141-7f93e4ea731b?api-version=2022-10-01-preview\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "6597d4d2-32c6-46d7-b141-7f93e4ea731b",
        "lastUpdateDateTime": "2022-10-17T18:52:33Z",
        "createdDateTime": "2022-10-17T18:52:31Z",
        "expirationDateTime": "2022-10-18T18:52:31Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "PiiEntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-10-17T18:52:33.2927472Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 3,
                  "validDocumentsCount": 3,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 3
                },
                "documents": [
                  {
                    "redactedText": "My SSN is ***********.",
                    "id": "0",
                    "statistics": {
                      "charactersCount": 22,
                      "transactionsCount": 1
                    },
                    "entities": [
                      {
                        "text": "859-98-0987",
                        "category": "USSocialSecurityNumber",
                        "offset": 10,
                        "length": 11,
                        "confidenceScore": 0.65
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "redactedText": "Your ABA number - ********* - is the first 9 digits in the lower left hand corner of your personal check.",
                    "id": "1",
                    "statistics": {
                      "charactersCount": 105,
                      "transactionsCount": 1
                    },
                    "entities": [
                      {
                        "text": "111000025",
                        "c[...]
