{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "hello world",
              "language": "en"
            },
            {
              "id": "1",
              "text": "I did not like the hotel we stayed at.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid Document in request.",
          "innererror": {
            "code": "InvalidDocument",
            "message": "Request contains duplicated Ids. Make sure each document has a unique Id."
          }
        }
      }
    }
  ],
  "Variables": {}
}
