interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Microsoft was founded by Bill Gates.",
      "language": "en"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/general?model-version=old&showStats=false
  response:
    body:
      string: '{"error":{"code":"InvalidRequest","message":"Specified Model version
        is incorrect. Allowed values are latest,2019-10-01"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-aml-ta-request-id: 437c3d3c-2d58-4705-acab-c0461d6e2d94
    status:
      code: 400
      message: Bad Request
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - westus2.api.cognitive.microsoft.com
        - //text/analytics/v3.0-preview.1/entities/recognition/general
        - model-version=old&showStats=false
        - ''
version: 1
