interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I should take my cat to the veterinarian.",
      "language": "de"}, {"id": "4", "text": "Este es un document escrito en Espa\u00f1ol.",
      "language": "de"}, {"id": "3", "text": "\u732b\u306f\u5e78\u305b", "language":
      "de"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.2/entities/recognition/pii?showStats=false&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: '{"documents":[],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en"}}},{"id":"4","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en"}}},{"id":"3","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en"}}}],"modelVersion":"2020-07-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
