interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      "en"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "language":
      "en"}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "en"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK-Client: [Python-SDK]
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/general?showStats=false
  response:
    body: {string: '{"documents":[{"id":"1","entities":[{"text":"park","type":"Location","offset":17,"length":4,"score":0.73}]},{"id":"2","entities":[{"text":"hotel","type":"Location","offset":19,"length":5,"score":0.75}]},{"id":"3","entities":[{"text":"restaurant","type":"Location","offset":4,"length":10,"score":0.83}]}],"errors":[],"modelVersion":"2020-02-01"}'}
    headers: {apim-request-id: b0cd9610-4392-411b-b816-e459c1baf007, content-type: application/json;
        charset=utf-8, csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3,
      date: 'Tue, 03 Mar 2020 18:33:59 GMT', strict-transport-security: max-age=31536000;
        includeSubDomains; preload, transfer-encoding: chunked, x-content-type-options: nosniff,
      x-envoy-upstream-service-time: '64'}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, westus2.api.cognitive.microsoft.com,
        //text/analytics/v3.0-preview.1/entities/recognition/general, showStats=false,
        '']
version: 1
