interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      ""}, {"id": "2", "text": "I did not like the hotel we stayed it.", "language":
      ""}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/sentiment?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"1","sentiment":"neutral","documentScores":{"positive":0.088280625641346,"neutral":0.8992583155632019,"negative":0.012460995465517},"sentences":[{"sentiment":"neutral","sentenceScores":{"positive":0.088280625641346,"neutral":0.8992583155632019,"negative":0.012460995465517},"offset":0,"length":22}]},{"id":"2","sentiment":"negative","documentScores":{"positive":0.0186765696853399,"neutral":0.41426131129264832,"negative":0.56706219911575317},"sentences":[{"sentiment":"negative","sentenceScores":{"positive":0.0186765696853399,"neutral":0.41426131129264832,"negative":0.56706219911575317},"offset":0,"length":38}]},{"id":"3","sentiment":"positive","documentScores":{"positive":0.99868422746658325,"neutral":0.0004790813545696,"negative":0.0008366378606297},"sentences":[{"sentiment":"positive","sentenceScores":{"positive":0.99868422746658325,"neutral":0.0004790813545696,"negative":0.0008366378606297},"offset":0,"length":36}]}],"errors":[],"modelVersion":"2019-10-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3
      x-aml-ta-request-id: f63fa709-69c0-465a-a8e8-2f75c56853b1
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - westus2.api.cognitive.microsoft.com
        - //text/analytics/v3.0-preview.1/sentiment
        - showStats=false
        - ''
version: 1
