{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "KeyPhraseExtraction",
            "parameters": {}
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid document in request.",
          "innererror": {
            "code": "InvalidDocumentBatch",
            "message": "Document text is empty."
          }
        }
      }
    }
  ],
  "Variables": {}
}
