{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/entities/health/jobs?stringIndexType=TextElement_v8",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Hello world",
            "language": "en"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/entities/health/jobs/83f3de88-3a10-4dd8-a717-71ba762c566c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/entities/health/jobs/83f3de88-3a10-4dd8-a717-71ba762c566c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "83f3de88-3a10-4dd8-a717-71ba762c566c",
        "lastUpdateDateTime": "2022-10-10T21:04:10Z",
        "createdDateTime": "2022-10-10T21:04:08Z",
        "expirationDateTime": "2022-10-11T21:04:08Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [],
              "relations": [],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-03-01"
        }
      }
    }
  ],
  "Variables": {}
}
