{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "A recent re[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/3377452b-8329-4246-aa41-f2e5e28a44fa?api-version=2022-05-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "3377452b-8329-4246-aa41-f2e5e28a44fa",
        "lastUpdatedDateTime": "2022-07-18T23:47:51Z",
        "createdDateTime": "2022-07-18T23:47:45Z",
        "expirationDateTime": "2022-07-19T23:47:45Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 4,
          "failed": 0,
          "inProgress": 1,
          "total": 5,
          "items": [
            {
              "kind": "EntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-07-18T23:47:51.226399Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 20,
                  "validDocumentsCount": 20,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 20
                },
                "documents": [
                  {
                    "id": "0",
                    "statistics": {
                      "charactersCount": 295,
                      "transactionsCount": 1
                    },
                    "entities": [
                      {
                        "text": "cent",
                        "category": "Quantity",
                        "subcategory": "Percentage",
                        "offset": 4,
                        "length": 4,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "Government Accountability Office",
                        "category": "Organization",
                        "offset": 23,
                        "length": 32,
                        "confidenceScore": 0.99
                      },
                      {
                        "text": "GAO",
                        "category": "Organization",
                        "offset": 57,
                        [...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/3377452b-8329-4246-aa41-f2e5e28a44fa:cancel?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Failed to cancel job with job id 3377452b-8329-4246-aa41-f2e5e28a44fa as its already completed."
        }
      }
    }
  ],
  "Variables": {}
}
