interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Bill Gates is the CEO of Microsoft.",
      "language": "es"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK-Client: [Python-SDK]
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/keyPhrases?model-version=latest&showStats=true
  response:
    body: {string: '{"statistics":{"documentsCount":1,"validDocumentsCount":1,"erroneousDocumentsCount":0,"transactionsCount":1},"documents":[{"id":"0","keyPhrases":["Bill
        Gates","the CEO of Microsoft"],"statistics":{"charactersCount":35,"transactionsCount":1}}],"errors":[],"modelVersion":"2019-10-01"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      csp-billing-usage: [CognitiveServices.TextAnalytics.BatchScoring=1]
    status: {code: 200, message: OK}
version: 1
