{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs?stringIndexType=TextElements_v8",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022Hello world\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/b3b03b18-1c96-4ef6-abb6-db7a806eb35b"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/b3b03b18-1c96-4ef6-abb6-db7a806eb35b",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "b3b03b18-1c96-4ef6-abb6-db7a806eb35b",
        "lastUpdateDateTime": "2021-12-14T19:01:32Z",
        "createdDateTime": "2021-12-14T19:01:31Z",
        "expirationDateTime": "2021-12-15T19:01:31Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [],
              "relations": [],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-05-15"
        }
      }
    }
  ],
  "Variables": {}
}
