interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I should take my cat to the veterinarian.",
      "language": "es"}, {"id": "2", "text": "Este es un document escrito en Espa\u00f1ol.",
      "language": "es"}, {"id": "3", "text": "\u732b\u306f\u5e78\u305b", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/recognition/pii?showStats=false&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: "{\"documents\":[{\"redactedText\":\"\u732B\u306F\u5E78\u305B\",\"id\"\
        :\"3\",\"entities\":[],\"warnings\":[]}],\"errors\":[{\"id\":\"1\",\"error\"\
        :{\"code\":\"InvalidArgument\",\"message\":\"Invalid Language Code.\",\"innererror\"\
        :{\"code\":\"UnsupportedLanguageCode\",\"message\":\"Invalid language code.\
        \ Supported languages: en\"}}},{\"id\":\"2\",\"error\":{\"code\":\"InvalidArgument\"\
        ,\"message\":\"Invalid Language Code.\",\"innererror\":{\"code\":\"UnsupportedLanguageCode\"\
        ,\"message\":\"Invalid language code. Supported languages: en\"}}}],\"modelVersion\"\
        :\"2020-07-01\"}"
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.3/entities/recognition/pii?showStats=false&stringIndexType=UnicodeCodePoint
version: 1
