interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "stringIndexType": "TextElements_v8"}}], "entityRecognitionPiiTasks":
      [{"parameters": {"model-version": "latest", "stringIndexType": "TextElements_v8"}}],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest"}}]},
      "analysisInput": {"documents": [{"id": "0", "text": "hello world", "language":
      "en"}, {"id": "1", "text": "hello world", "language": "en"}, {"id": "2", "text":
      "hello world", "language": "en"}, {"id": "3", "text": "hello world", "language":
      "en"}, {"id": "4", "text": "hello world", "language": "en"}, {"id": "5", "text":
      "hello world", "language": "en"}, {"id": "6", "text": "hello world", "language":
      "en"}, {"id": "7", "text": "hello world", "language": "en"}, {"id": "8", "text":
      "hello world", "language": "en"}, {"id": "9", "text": "hello world", "language":
      "en"}, {"id": "10", "text": "hello world", "language": "en"}, {"id": "11", "text":
      "hello world", "language": "en"}, {"id": "12", "text": "hello world", "language":
      "en"}, {"id": "13", "text": "hello world", "language": "en"}, {"id": "14", "text":
      "hello world", "language": "en"}, {"id": "15", "text": "hello world", "language":
      "en"}, {"id": "16", "text": "hello world", "language": "en"}, {"id": "17", "text":
      "hello world", "language": "en"}, {"id": "18", "text": "hello world", "language":
      "en"}, {"id": "19", "text": "hello world", "language": "en"}, {"id": "20", "text":
      "hello world", "language": "en"}, {"id": "21", "text": "hello world", "language":
      "en"}, {"id": "22", "text": "hello world", "language": "en"}, {"id": "23", "text":
      "hello world", "language": "en"}, {"id": "24", "text": "hello world", "language":
      "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/5c4cc74c-924b-4c35-b0e5-8966992915a8_637413408000000000
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.3/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/5c4cc74c-924b-4c35-b0e5-8966992915a8_637413408000000000?showStats=True
  response:
    body:
      string: '{"jobId":"5c4cc74c-924b-4c35-b0e5-8966992915a8_637413408000000000","lastUpdateDateTime":"2020-11-19T21:16:47Z","createdDateTime":"2020-11-19T21:16:46Z","expirationDateTime":"2020-11-20T21:16:46Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2020-11-19T21:16:47Z"},"completed":1,"failed":0,"inProgress":2,"total":3,"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2020-11-19T21:16:47.7454868Z","results":{"inTerminalState":true,"documents":[{"id":"0","keyPhrases":["world"],"warnings":[]},{"id":"1","keyPhrases":["world"],"warnings":[]},{"id":"2","keyPhrases":["world"],"warnings":[]},{"id":"3","keyPhrases":["world"],"warnings":[]},{"id":"4","keyPhrases":["world"],"warnings":[]},{"id":"5","keyPhrases":["world"],"warnings":[]},{"id":"6","keyPhrases":["world"],"warnings":[]},{"id":"7","keyPhrases":["world"],"warnings":[]},{"id":"8","keyPhrases":["world"],"warnings":[]},{"id":"9","keyPhrases":["world"],"warnings":[]},{"id":"10","keyPhrases":["world"],"warnings":[]},{"id":"11","keyPhrases":["world"],"warnings":[]},{"id":"12","keyPhrases":["world"],"warnings":[]},{"id":"13","keyPhrases":["world"],"warnings":[]},{"id":"14","keyPhrases":["world"],"warnings":[]},{"id":"15","keyPhrases":["world"],"warnings":[]},{"id":"16","keyPhrases":["world"],"warnings":[]},{"id":"17","keyPhrases":["world"],"warnings":[]},{"id":"18","keyPhrases":["world"],"warnings":[]},{"id":"19","keyPhrases":["world"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01","@nextLink":"http://svc--textanalyticsdispatcher.text-analytics.svc.cluster.local/text/analytics/v3.1-preview.3/jobs/fb399000-1d0b-4ddf-ab15-f1ec16510e95?$skip=20&$top=5"}}]},"@nextLink":"https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/5c4cc74c-924b-4c35-b0e5-8966992915a8_637413408000000000?$skip=20&$top=20"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/5c4cc74c-924b-4c35-b0e5-8966992915a8_637413408000000000?showStats=True
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/5c4cc74c-924b-4c35-b0e5-8966992915a8_637413408000000000?showStats=True
  response:
    body:
      string: '{"jobId":"5c4cc74c-924b-4c35-b0e5-8966992915a8_637413408000000000","lastUpdateDateTime":"2020-11-19T21:16:47Z","createdDateTime":"2020-11-19T21:16:46Z","expirationDateTime":"2020-11-20T21:16:46Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2020-11-19T21:16:47Z"},"completed":2,"failed":0,"inProgress":1,"total":3,"entityRecognitionTasks":[{"lastUpdateDateTime":"2020-11-19T21:16:47.7454868Z","results":{"inTerminalState":true,"documents":[{"id":"0","entities":[],"warnings":[]},{"id":"1","entities":[],"warnings":[]},{"id":"2","entities":[],"warnings":[]},{"id":"3","entities":[],"warnings":[]},{"id":"4","entities":[],"warnings":[]},{"id":"5","entities":[],"warnings":[]},{"id":"6","entities":[],"warnings":[]},{"id":"7","entities":[],"warnings":[]},{"id":"8","entities":[],"warnings":[]},{"id":"9","entities":[],"warnings":[]},{"id":"10","entities":[],"warnings":[]},{"id":"11","entities":[],"warnings":[]},{"id":"12","entities":[],"warnings":[]},{"id":"13",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/5c4cc74c-924b-4c35-b0e5-8966992915a8_637413408000000000?showStats=false&$top=20&$skip=20
  response:
    body:
      string: '{"jobId":"5c4cc74c-924b-4c35-b0e5-8966992915a8_637413408000000000","lastUpdateDateTime":"2020-11-19T21:16:47Z","createdDateTime":"2020-11-19T21:16:46Z","expirationDateTime":"2020-11-20T21:16:46Z","status":"succeeded","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2020-11-19T21:16:47Z"},"completed":3,"failed":0,"inProgress":0,"total":3,"entityRecognitionTasks":[{"lastUpdateDateTime":"2020-11-19T21:16:47.7454868Z","results":{"inTerminalState":true,"documents":[{"id":"20","entities":[],"warnings":[]},{"id":"21","entities":[],"warnings":[]},{"id":"22","entities":[],"warnings":[]},{"id":"23","entities":[],"warnings":[]},{"id":"24","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2020-11-19T21:16:47.7454868Z","results":{"inTerminalState":true,"documents":[{"redactedText":"hello
        world","id":"20","entities":[],"warnings":[]},{"redactedText":"hello world","id":"21","entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"22","entities":[],"warnings":[]},{"redactedText":"hello world","id":"23","entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"24","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2020-11-19T21:16:47.7454868Z","results":{"inTerminalState":true,"documents":[{"id":"20","keyPhrases":["world"],"warnings":[]},{"id":"21","keyPhrases":["world"],"warnings":[]},{"id":"22","keyPhrases":["world"],"warnings":[]},{"id":"23","keyPhrases":["world"],"warnings":[]},{"id":"24","keyPhrases":["world"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.3/analyze/jobs/5c4cc74c-924b-4c35-b0e5-8966992915a8_637413408000000000?showStats=false&$top=20&$skip=20
version: 1
