interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "one", "language": "en"}, {"id": "2",
      "text": "two", "language": "en"}, {"id": "3", "text": "three", "language": "en"},
      {"id": "4", "text": "four", "language": "en"}, {"id": "5", "text": "five", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.2/entities/linking?showStats=false&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: '{"documents":[{"id":"1","entities":[],"warnings":[]},{"id":"2","entities":[],"warnings":[]},{"id":"3","entities":[],"warnings":[]},{"id":"4","entities":[],"warnings":[]},{"id":"5","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=5
    status:
      code: 200
      message: OK
version: 1
