interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}}],
      "entityRecognitionPiiTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      true, "stringIndexType": "UnicodeCodePoint"}}], "keyPhraseExtractionTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false}}], "entityLinkingTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false, "stringIndexType":
      "UnicodeCodePoint"}}]}, "analysisInput": {"documents": [{"id": "56", "text":
      ":)", "language": "en"}, {"id": "0", "text": ":(", "language": "en"}, {"id":
      "19", "text": ":P", "language": "en"}, {"id": "1", "text": ":D", "language":
      "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/ebf74589-bf08-4a9a-b047-5a4bb84bf6b4
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/ebf74589-bf08-4a9a-b047-5a4bb84bf6b4?showStats=True
  response:
    body:
      string: '{"jobId":"ebf74589-bf08-4a9a-b047-5a4bb84bf6b4","lastUpdateDateTime":"2021-04-27T19:35:16Z","createdDateTime":"2021-04-27T19:35:10Z","expirationDateTime":"2021-04-28T19:35:10Z","status":"running","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-04-27T19:35:16Z"},"completed":1,"failed":0,"inProgress":3,"total":4,"entityLinkingTasks":[{"lastUpdateDateTime":"2021-04-27T19:35:16.7822879Z","name":"NA","state":"succeeded","results":{"statistics":{"documentsCount":4,"validDocumentsCount":4,"erroneousDocumentsCount":0,"transactionsCount":4},"documents":[{"id":"56","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"0","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"19","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"1","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
