interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      "es"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "language":
      "es"}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "es"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK-Client: [Python-SDK]
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/keyPhrases?showStats=false
  response:
    body: {string: '{"documents":[{"id":"1","keyPhrases":["the park","I will go"]},{"id":"2","keyPhrases":["I
        did not like the hotel we stayed at"]},{"id":"3","keyPhrases":["The restaurant
        had really good food"]}],"errors":[],"modelVersion":"2019-10-01"}'}
    headers: {apim-request-id: 8add56ad-7625-4d76-80a7-219cb334100a, content-type: application/json;
        charset=utf-8, csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3,
      date: 'Tue, 03 Mar 2020 18:33:47 GMT', strict-transport-security: max-age=31536000;
        includeSubDomains; preload, transfer-encoding: chunked, x-content-type-options: nosniff,
      x-envoy-upstream-service-time: '6'}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, westus2.api.cognitive.microsoft.com,
        //text/analytics/v3.0-preview.1/keyPhrases, showStats=false, '']
[...]
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      "es"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "language":
      "es"}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "es"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK-Client: [Python-SDK]
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/keyPhrases?showStats=false
  response:
    body: {string: '{"documents":[{"id":"1","keyPhrases":["the park","I will go"]},{"id":"2","keyPhrases":["I
        did not like the hotel we stayed at"]},{"id":"3","keyPhrases":["The restaurant
        had really good food"]}],"errors":[],"modelVersion":"2019-10-01"}'}
    headers: {apim-request-id: 8dd08761-8ec8-4c8e-8dbe-66989d84fa5f, content-type: application/json;
        charset=utf-8, csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3,
      date: 'Tue, 03 Mar 2020 18:33:47 GMT', strict-transport-security: max-age=31536000;
        includeSubDomains; preload, transfer-encoding: chunked, x-content-type-options: nosniff,
      x-envoy-upstream-service-time: '5'}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, westus2.api.cognitive.microsoft.com,
        //text/analytics/v3.0-preview.1/keyPhrases, showStats=false, '']
version: 1
