{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "56",
              "text": ":)",
              "language": "en"
            },
            {
              "id": "0",
              "text": ":(",
              "language": "en"
            },
            {
              "id": "19",
              "text": ":P",
              "language": "en"
            },
            {
              "id": "1",
              "text": ":D",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "EntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "1",
            "kind": "KeyPhraseExtraction",
            "parameters": {}
          },
          {
            "taskName": "2",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "3",
            "kind": "EntityLinking",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "4",
            "kind": "SentimentAnalysis",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "5",
            "kind": "ExtractiveSummarization",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/55b40f77-af41-45e2-a01b-c995ae2abb05?api-version=2022-03-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/55b40f77-af41-45e2-a01b-c995ae2abb05?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "55b40f77-af41-45e2-a01b-c995ae2abb05",
        "lastUpdateDateTime": "2022-04-20T23:52:37Z",
        "createdDateTime": "2022-04-20T23:52:34Z",
        "expirationDateTime": "2022-04-21T23:52:34Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 2,
          "failed": 0,
          "inProgress": 4,
          "total": 6,
          "items": [
            {
              "kind": "EntityLinkingLROResults",
              "taskName": "3",
              "lastUpdateDateTime": "2022-04-20T23:52:37.0021114Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "56",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            },
            {
              "kind": "SentimentAnalysisLROResults",
              "taskName": "4",
              "lastUpdateDateTime": "2022-04-20T23:52:37.0258971Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "56",
                    "sentiment": "positive",
                    "confidenceScores": {
                      "positive": 0.89,
                      "neutral": 0.1,
                      "negative": 0.01
                    },
                    "sentences": [
                      {
                        "sentiment": "positive",
                        "confidenceScores": {
                          "positive": 0.89,
                          "neutral": 0.1,
                          "negative": 0.01
                        },
                        "offset": 0,
                        "length": 2,
                        "text": ":)"
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "sentiment": "negative",
                    "confidenceScores": {
                      "positive": 0.0,
                      "neutral": 0.02,
                      "negative": 0.98
                    },
                    "sentences": [
                      {
                   [...]
[...]
