{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "LanguageDetection",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Tumhara naam kya hai?",
              "countryHint": "US"
            }
          ]
        },
        "parameters": {
          "modelVersion": "2022-04-10-preview"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "kind": "LanguageDetectionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "detectedLanguage": {
                "name": "Hindi",
                "iso6391Name": "hi",
                "confidenceScore": 1.0,
                "script": "Latin"
              },
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2022-04-10-preview"
        }
      }
    }
  ],
  "Variables": {}
}
