interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}}],
      "entityRecognitionPiiTasks": [{"parameters": {"model-version": "bad", "loggingOptOut":
      true, "stringIndexType": "UnicodeCodePoint"}}], "keyPhraseExtractionTasks":
      [{"parameters": {"model-version": "bad", "loggingOptOut": false}}], "entityLinkingTasks":
      [{"parameters": {"model-version": "bad", "loggingOptOut": false, "stringIndexType":
      "UnicodeCodePoint"}}]}, "analysisInput": {"documents": [{"id": "1", "text":
      "I did not like the hotel we stayed at.", "language": "english"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze
  response:
    body:
      string: '{"error":{"code":"InvalidRequest","message":"Job task parameter value
        bad is not supported for model-version parameter for job task type KeyPhraseExtraction.
        Supported values latest,2019-10-01,2020-07-01."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/analyze
version: 1
