interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I should take my cat to the veterinarian.",
      "language": "de"}, {"id": "4", "text": "Este es un document escrito en Espa\u00f1ol.",
      "language": "de"}, {"id": "3", "text": "\u732b\u306f\u5e78\u305b", "language":
      "de"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0/keyPhrases?showStats=false
  response:
    body:
      string: "{\"documents\":[{\"id\":\"1\",\"keyPhrases\":[\"should take my cat\
        \ to the veterinarian\"],\"warnings\":[]},{\"id\":\"4\",\"keyPhrases\":[\"\
        Espa\xF1ol\",\"Este\",\"un document escrito\"],\"warnings\":[]},{\"id\":\"\
        3\",\"keyPhrases\":[\"\u732B\u306F\u5E78\u305B\"],\"warnings\":[]}],\"errors\"\
        :[],\"modelVersion\":\"2019-10-01\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=3
    status:
      code: 200
      message: OK
version: 1
