interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest"}}]},
      "analysisInput": {"documents": [{"id": "1", "text": "Microsoft was founded by
      Bill Gates and Paul Allen", "language": "en"}, {"id": "2", "text": "Microsoft
      fue fundado por Bill Gates y Paul Allen", "language": "es"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/89952cf5-49d3-43f7-812a-15840359e5d4_637402176000000000
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/89952cf5-49d3-43f7-812a-15840359e5d4_637402176000000000
  response:
    body:
      string: '{"jobId":"89952cf5-49d3-43f7-812a-15840359e5d4_637402176000000000","lastUpdateDateTime":"2020-11-06T05:15:35Z","createdDateTime":"2020-11-06T05:15:34Z","expirationDateTime":"2020-11-08T05:15:34Z","status":"succeeded","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2020-11-06T05:15:35Z"},"completed":1,"failed":0,"inProgress":0,"total":1,"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2020-11-06T05:15:35.0245834Z","results":{"inTerminalState":true,"documents":[{"id":"1","keyPhrases":["Bill
        Gates","Paul Allen","Microsoft"],"warnings":[]},{"id":"2","keyPhrases":["Bill
        Gates","Paul Allen","Microsoft"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
