{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/entities/health/jobs?model-version=2021-01-11\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "56",
            "text": ":)",
            "language": "en"
          },
          {
            "id": "0",
            "text": ":(",
            "language": "en"
          },
          {
            "id": "22",
            "text": "",
            "language": "en"
          },
          {
            "id": "19",
            "text": ":P",
            "language": "en"
          },
          {
            "id": "1",
            "text": ":D",
            "language": "en"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/entities/health/jobs/93fc92f2-3a5f-4fa9-bb36-a8e5fd4ab148",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.1/entities/health/jobs/93fc92f2-3a5f-4fa9-bb36-a8e5fd4ab148?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "93fc92f2-3a5f-4fa9-bb36-a8e5fd4ab148",
        "lastUpdateDateTime": "2022-11-10T23:36:31Z",
        "createdDateTime": "2022-11-10T23:36:28Z",
        "expirationDateTime": "2022-11-11T23:36:28Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "statistics": {
            "documentsCount": 5,
            "validDocumentsCount": 4,
            "erroneousDocumentsCount": 1,
            "transactionsCount": 4
          },
          "documents": [
            {
              "id": "56",
              "statistics": {
                "charactersCount": 2,
                "transactionsCount": 1
              },
              "entities": [],
              "relations": [],
              "warnings": []
            },
            {
              "id": "0",
              "statistics": {
                "charactersCount": 2,
                "transactionsCount": 1
              },
              "entities": [],
              "relations": [],
              "warnings": []
            },
            {
              "id": "19",
              "statistics": {
                "charactersCount": 2,
                "transactionsCount": 1
              },
              "entities": [],
              "relations": [],
              "warnings": []
            },
            {
              "id": "1",
              "statistics": {
                "charactersCount": 2,
                "transactionsCount": 1
              },
              "entities": [],
              "relations": [],
              "warnings": []
            }
          ],
          "errors": [
            {
              "id": "22",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Document in request.",
                "innererror": {
                  "code": "InvalidDocument",
                  "message": "Document text is empty."
                }
              }
            }
          ],
          "modelVersion": "2022-03-01"
        }
      }
    }
  ],
  "Variables": {}
}
