interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}}],
      "entityRecognitionPiiTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      true, "stringIndexType": "UnicodeCodePoint"}}], "keyPhraseExtractionTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false}}], "entityLinkingTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false, "stringIndexType":
      "UnicodeCodePoint"}}], "sentimentAnalysisTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "opinionMining": false}}]}, "analysisInput":
      {"documents": [{"id": "56", "text": ":)", "language": "en"}, {"id": "0", "text":
      ":(", "language": "en"}, {"id": "19", "text": ":P", "language": "en"}, {"id":
      "1", "text": ":D", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/89a3df6f-e36d-4588-8ec8-e0afee506e7f
    status:
      code: 202
      message: Accepted
    url: https://centralus.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/89a3df6f-e36d-4588-8ec8-e0afee506e7f?showStats=True
  response:
    body:
      string: '{"jobId":"89a3df6f-e36d-4588-8ec8-e0afee506e7f","lastUpdateDateTime":"2021-05-13T22:35:56Z","createdDateTime":"2021-05-13T22:35:52Z","expirationDateTime":"2021-05-14T22:35:52Z","status":"running","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-13T22:35:56Z"},"completed":1,"failed":0,"inProgress":4,"total":5,"entityLinkingTasks":[{"lastUpdateDateTime":"2021-05-13T22:35:55.5283726Z","name":"NA","state":"succeeded","results":{"statistics":{"documentsCount":4,"validDocumentsCount":4,"erroneousDocumentsCount":0,"transactionsCount":4},"documents":[{"id":"56","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"0","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"19","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"1","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/89a3df6f-e36d-4588-8ec8-e0afee506e7f?showStats=True
[...]
