{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "28",
              "text": "My SSN is 859-98-0987. Here is another sentence.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "Is 998.214.865-68 your Brazilian CPF number? Here is another sentence.",
              "language": "en"
            },
            {
              "id": "5",
              "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "SentimentAnalysis",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "1",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "2",
            "kind": "EntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "3",
            "kind": "EntityLinking",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "4",
            "kind": "ExtractiveSummarization",
            "parameters": {
              "sortBy": "Rank",
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "5",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "piiCategories": [
                "USSocialSecurityNumber"
              ],
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "6",
            "kind": "KeyPhraseExtraction",
            "parameters": {}
          },
          {
            "taskName": "7",
            "kind": "EntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "8",
            "kind": "SentimentAnalysis",
            "parameters": {
              "opinionMining": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "9",
            "kind": "EntityLinking",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "10",
            "kind": "ExtractiveSummarization",
            "parameters": {
              "sentenceCount": 1,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "11",
            "kind": "KeyPhraseExtraction",
            "parameters": {}
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/d90749b3-4654-41aa-96c9-8ca4161eec87?api-version=2022-03-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/d90749b3-4654-41aa-96c9-8ca4161eec87?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "d90749b3-4654-41aa-96c9-8ca4161eec87",
        "lastUpdateDateTime": "2022-04-20T23:54:21Z",
        "createdDateTime": "2022-04-20T23:54:19Z",
        "expirationDateTime": "2022-04-21T23:54:19Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 11,
          "total": 12,
          "items": [
            {
              "kind": "EntityLinkingLROResults",
              "taskName": "9",
              "lastUpdateDateTime": "2022-04-20T23:54:21.7852958Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "28",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "3",
                    "entities": [
                      {
                        "bingId": "a828cf41-b938-49fe-7986-4b336618d413",
                        "name": "Brazil",
                        "matches": [
                          {
                            "text": "Brazilian",
                            "offset": 23,
                            "length": 9,
                            "confidenceScore": 0.07
                          }
                        ],
                        "language": "en",
                        "id": "Brazil",
                        "url": "https://en.wikipedia.org/wiki/Brazil",
                        "dataSource": "Wikipedia"
                      },
                      {
                        "bingId": "f4df6dc5-6807-165b-d7ad-9cfb628549f4",
                        "name": "Cadastro de Pessoas F\u00EDsicas",
                        "matches": [
                          {
                            "text": "CPF number",
                            "offset": 33,
                            "length": 10,
                            "confidenceScore": 0.82
                          }
                 [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/d90749b3-4654-41aa-96c9-8ca4161eec87?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "d90749b3-4654-41aa-96c9-8ca4161eec87",
        "lastUpdateDateTime": "2022-04-20T23:54:28Z",
        "createdDateTime": "2022-04-20T23:54:19Z",
        "expirationDateTime": "2022-04-21T23:54:19Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 9,
          "failed": 0,
          "inProgress": 3,
          "total": 12,
          "items": [
            {
              "kind": "EntityRecognitionLROResults",
              "taskName": "2",
              "lastUpdateDateTime": "2022-04-20T23:54:27.6258297Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "28",
                    "entities": [
                      {
                        "text": "859",
                        "category": "Quantity",
                        "subcategory": "Number",
                        "offset": 10,
                        "length": 3,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "98",
                        "category": "Quantity",
                        "subcategory": "Number",
                        "offset": 14,
                        "length": 2,
                        "confidenceScore": 0.8
                      },
                      {
            [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/d90749b3-4654-41aa-96c9-8ca4161eec87?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "d90749b3-4654-41aa-96c9-8ca4161eec87",
        "lastUpdateDateTime": "2022-04-20T23:54:33Z",
        "createdDateTime": "2022-04-20T23:54:19Z",
        "expirationDateTime": "2022-04-21T23:54:19Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 12,
          "failed": 0,
          "inProgress": 0,
          "total": 12,
          "items": [
            {
              "kind": "SentimentAnalysisLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-04-20T23:54:33.7470243Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "28",
                    "sentiment": "neutral",
                    "confidenceScores": {
                      "positive": 0.01,
                      "neutral": 0.95,
                      "negative": 0.04
                    },
                    "sentences": [
                      {
                        "sentiment": "neutral",
                        "confidenceScores": {
                          "positive": 0.0,
                          "neutral": 1.0,
                          "negative": 0.0
                        },
                        "offset": 0,
                        "length": 22,
                        "text": "My SSN is 859-98-0987."
                      },
                      {
                        "sentiment": "neutra[...]
