interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I should take my cat to the veterinarian.",
      "language": "en"}, {"id": "2", "text": "\u732b\u306f\u5e78\u305b", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/a120d79f-0221-4a98-859c-0cca7d626f6c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/a120d79f-0221-4a98-859c-0cca7d626f6c
  response:
    body:
      string: '{"jobId":"a120d79f-0221-4a98-859c-0cca7d626f6c","lastUpdateDateTime":"2020-11-14T00:41:50Z","createdDateTime":"2020-11-14T00:41:47Z","expirationDateTime":"2020-11-15T00:41:47Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"1","entities":[{"offset":17,"length":3,"text":"cat","category":"TreatmentName","confidenceScore":0.74,"isNegated":false,"links":[{"dataSource":"UMLS","id":"C0280589"},{"dataSource":"CHV","id":"0000027342"},{"dataSource":"NCI","id":"C10277"},{"dataSource":"PDQ","id":"CDR0000040974"}]},{"offset":28,"length":12,"text":"veterinarian","category":"HealthcareProfession","confidenceScore":0.99,"isNegated":false}],"relations":[],"warnings":[]},{"id":"2","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
