{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs?stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022Test passing cls to endpoint\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/0857f129-1fae-467e-ae8a-516fae706446"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/0857f129-1fae-467e-ae8a-516fae706446",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0857f129-1fae-467e-ae8a-516fae706446",
        "lastUpdateDateTime": "2021-12-14T02:15:36Z",
        "createdDateTime": "2021-12-14T02:15:36Z",
        "expirationDateTime": "2021-12-15T02:15:36Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [
                {
                  "offset": 5,
                  "length": 7,
                  "text": "passing",
                  "category": "MeasurementValue",
                  "confidenceScore": 0.78
                },
                {
                  "offset": 13,
                  "length": 3,
                  "text": "cls",
                  "category": "Diagnosis",
                  "confidenceScore": 1.0,
                  "name": "Coffin-Lowry syndrome",
                  "links": [
                    {
                      "dataSource": "UMLS",
                      "id": "C0265252"
                    },
                    {
                      "dataSource": "CHV",
                      "id": "0000025867"
                    },
                    {
                      "dataSource": "JABL",
                      "id": "238"
                    },
                    {
                      "dataSource": "MDR",
                      "id": "10081806"
                    },
                    {
                      "dataS[...]
