{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "hello world",
              "language": "en"
            },
            {
              "id": "1",
              "text": "hello world",
              "language": "en"
            },
            {
              "id": "2",
              "text": "hello world",
              "language": "en"
            },
            {
              "id": "3",
              "text": "hello world",
              "language": "en"
            },
            {
              "id": "4",
              "text": "hello world",
              "language": "en"
      [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/3ee16e1d-abd2-408c-b2c0-9e684370a2f8?api-version=2022-10-01-preview\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "3ee16e1d-abd2-408c-b2c0-9e684370a2f8",
        "lastUpdateDateTime": "2022-10-17T18:50:16Z",
        "createdDateTime": "2022-10-17T18:50:10Z",
        "expirationDateTime": "2022-10-18T18:50:10Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 2,
          "failed": 0,
          "inProgress": 3,
          "total": 5,
          "items": [
            {
              "kind": "KeyPhraseExtractionLROResults",
              "taskName": "1",
              "lastUpdateDateTime": "2022-10-17T18:50:16.1990045Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 20,
                  "validDocumentsCount": 20,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 20
                },
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "hello world"
                    ],
                    "statistics": {
                      "charactersCount": 11,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "keyPhrases": [
                      "hello world"
                    ],
                    "statistics": {
                      "charactersCount": 11,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "hello world"
 [...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/3ee16e1d-abd2-408c-b2c0-9e684370a2f8?api-version=2022-10-01-preview\u0026showStats=true\u0026top=5\u0026skip=20",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "3ee16e1d-abd2-408c-b2c0-9e6843[...]
