{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test passing cls to endpoint",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "EntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/f1fde9bf-63ad-4401-818f-239ea7a21330?api-version=2022-03-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/f1fde9bf-63ad-4401-818f-239ea7a21330?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "f1fde9bf-63ad-4401-818f-239ea7a21330",
        "lastUpdateDateTime": "2022-04-20T23:53:24Z",
        "createdDateTime": "2022-04-20T23:53:20Z",
        "expirationDateTime": "2022-04-21T23:53:20Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "EntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-04-20T23:53:24.6648228Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "text": "Test",
                        "category": "Skill",
                        "offset": 0,
                        "length": 4,
                        "confidenceScore": 0.94
                      },
                      {
                        "text": "cls",
                        "category": "Skill",
                        "offset": 13,
                        "length": 3,
                        "confidenceScore": 0.96
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
