interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Hello world", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=TextElements_v8
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/c26df8f2-809b-4460-a646-968127bca478
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=TextElements_v8
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/c26df8f2-809b-4460-a646-968127bca478
  response:
    body:
      string: '{"jobId":"c26df8f2-809b-4460-a646-968127bca478","lastUpdateDateTime":"2021-02-23T17:11:48Z","createdDateTime":"2021-02-23T17:11:46Z","expirationDateTime":"2021-02-24T17:11:46Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-11"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/c26df8f2-809b-4460-a646-968127bca478
version: 1
