interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I should take my cat to the veterinarian.",
      "language": "en"}, {"id": "4", "text": "Este es un document escrito en Espa\u00f1ol.",
      "language": "en"}, {"id": "3", "text": "\u732b\u306f\u5e78\u305b", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/f082d8d6-efe1-49c0-af1b-be4cc6ce2ea3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/f082d8d6-efe1-49c0-af1b-be4cc6ce2ea3
  response:
    body:
      string: '{"jobId":"f082d8d6-efe1-49c0-af1b-be4cc6ce2ea3","lastUpdateDateTime":"2020-11-19T21:22:54Z","createdDateTime":"2020-11-19T21:22:52Z","expirationDateTime":"2020-11-20T21:22:52Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"1","entities":[{"offset":17,"length":3,"text":"cat","category":"TreatmentName","confidenceScore":0.74,"isNegated":false,"links":[{"dataSource":"UMLS","id":"C0280589"},{"dataSource":"CHV","id":"0000027342"},{"dataSource":"NCI","id":"C10277"},{"dataSource":"PDQ","id":"CDR0000040974"}]},{"offset":28,"length":12,"text":"veterinarian","category":"HealthcareProfession","confidenceScore":0.99,"isNegated":false}],"relations":[],"warnings":[]},{"id":"4","entities":[],"relations":[],"warnings":[]},{"id":"3","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
