{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "KeyPhraseExtraction",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "This was the best day of my life.",
              "language": "fr"
            },
            {
              "id": "1",
              "text": "I did not like the hotel we stayed at. It was too expensive.",
              "language": "fr"
            },
            {
              "id": "2",
              "text": "The restaurant was not as good as I hoped.",
              "language": "fr"
            }
          ]
        },
        "parameters": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "kind": "KeyPhraseExtractionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "keyPhrases": [
                "best day",
                "life"
              ],
              "warnings": []
            },
            {
              "id": "1",
              "keyPhrases": [
                "hotel"
              ],
              "warnings": []
            },
            {
              "id": "2",
              "keyPhrases": [
                "restaurant"
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
