interactions:
- request:
    body: '{"documents": [{"id": "56", "text": ":)", "language": "en"}, {"id": "0",
      "text": ":(", "language": "en"}, {"id": "22", "text": "", "language": "en"},
      {"id": "19", "text": ":P", "language": "en"}, {"id": "1", "text": ":D", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/entities/health/jobs/d8f3c0c8-e8f8-4647-a22f-19113e1b9b3c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/entities/health/jobs/d8f3c0c8-e8f8-4647-a22f-19113e1b9b3c
  response:
    body:
      string: '{"jobId":"d8f3c0c8-e8f8-4647-a22f-19113e1b9b3c","lastUpdateDateTime":"2021-03-01T19:49:45Z","createdDateTime":"2021-03-01T19:49:43Z","expirationDateTime":"2021-03-02T19:49:43Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"56","entities":[],"relations":[],"warnings":[]},{"id":"0","entities":[],"relations":[],"warnings":[]},{"id":"19","entities":[],"relations":[],"warnings":[]},{"id":"1","entities":[],"relations":[],"warnings":[]}],"errors":[{"id":"22","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innererror":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2021-01-11"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
