interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "\ud83d\udc69 SSN: 859-98-0987", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/entities/recognition/pii?showStats=false&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: "{\"documents\":[{\"redactedText\":\"\U0001F469 SSN: ***********\",\"id\":\"0\",\"entities\":[{\"text\":\"859-98-0987\",\"category\":\"USSocialSecurityNumber\",\"offset\":7,\"length\":11,\"confidenceScore\":0.65}],\"warnings\":[]}],\"errors\":[],\"modelVersion\":\"2021-01-15\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=1
    status:
      code: 200
      message: OK
version: 1
