{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/languages?showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "hello world",
            "countryHint": "United States"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "documents": [],
        "errors": [
          {
            "id": "1",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid Country Hint.",
              "innererror": {
                "code": "InvalidCountryHint",
                "message": "Country hint is not valid. Please specify an ISO 3166-1 alpha-2 two letter country code."
              }
            }
          }
        ],
        "modelVersion": "2021-01-05"
      }
    }
  ],
  "Variables": {}
}
