interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}}],
      "entityRecognitionPiiTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      true, "stringIndexType": "UnicodeCodePoint"}}], "keyPhraseExtractionTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false}}], "entityLinkingTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false, "stringIndexType":
      "UnicodeCodePoint"}}], "sentimentAnalysisTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "opinionMining": false}}]}, "analysisInput":
      {"documents": [{"id": "0", "text": "hello world", "language": "en"}, {"id":
      "1", "text": "hello world", "language": "en"}, {"id": "2", "text": "hello world",
      "language": "en"}, {"id": "3", "text": "hello world", "language": "en"}, {"id":
      "4", "text": "hello world", "language": "en"}, {"id": "5", "text": "hello world",
      "language": "en"}, {"id": "6", "text": "hello world", "language": "en"}, {"id":
      "7", "text": "hello world", "language": "en"}, {"id": "8", "text": "hello world",
      "language": "en"}, {"id": "9", "text": "hello world", "language": "en"}, {"id":
      "10", "text": "hello world", "language": "en"}, {"id": "11", "text": "hello
      world", "language": "en"}, {"id": "12", "text": "hello world", "language": "en"},
      {"id": "13", "text": "hello world", "language": "en"}, {"id": "14", "text":
      "hello world", "language": "en"}, {"id": "15", "text": "hello world", "language":
      "en"}, {"id": "16", "text": "hello world", "language": "en"}, {"id": "17", "text":
      "hello world", "language": "en"}, {"id": "18", "text": "hello world", "language":
      "en"}, {"id": "19", "text": "hello world", "language": "en"}, {"id": "20", "text":
      "hello world", "language": "en"}, {"id": "21", "text": "hello world", "language":
      "en"}, {"id": "22", "text": "hello world", "language": "en"}, {"id": "23", "text":
      "hello world", "language": "en"}, {"id": "24", "text": "hello world", "language":
      "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/292c4f3e-ce90-4aa1-843a-8c82fa915556
    status:
      code: 202
      message: Accepted
    url: https://centralus.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/292c4f3e-ce90-4aa1-843a-8c82fa915556?showStats=True
  response:
    body:
      string: '{"jobId":"292c4f3e-ce90-4aa1-843a-8c82fa915556","lastUpdateDateTime":"2021-05-13T22:36:29Z","createdDateTime":"2021-05-13T22:36:24Z","expirationDateTime":"2021-05-14T22:36:24Z","status":"running","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-13T22:36:29Z"},"completed":0,"failed":0,"inProgress":5,"total":5}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/292c4f3e-ce90-4aa1-843a-8c82fa915556?showStats=True
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/292c4f3e-ce90-4aa1-843a-8c82fa915556?showStats=True
  response:
    body:
      string: '{"jobId":"292c4f3e-ce90-4aa1-843a-8c82fa915556","lastUpdateDateTime":"2021-05-13T22:36:33Z","createdDateTime":"2021-05-13T22:36:24Z","expirationDateTime":"2021-05-14T22:36:24Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-13T22:36:33Z"},"completed":5,"failed":0,"inProgress":0,"total":5,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-05-13T22:36:33.7338628Z","name":"NA","state":"succeeded","results":{"statistics":{"documentsCount":20,"validDocumentsCount":20,"erroneousDocumentsCount":0,"transactionsCount":20},"documents":[{"id":"0","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"1","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"2","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"3","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"4","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"5","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"6","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/292c4f3e-ce90-4aa1-843a-8c82fa915556?showStats=false&$top=5&$skip=20
  response:
    body:
      string: '{"jobId":"292c4f3e-ce90-4aa1-843a-8c82fa915556","lastUpdateDateTime":"2021-05-13T22:36:33Z","createdDateTime":"2021-05-13T22:36:24Z","expirationDateTime":"2021-05-14T22:36:24Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-13T22:36:33Z"},"completed":5,"failed":0,"inProgress":0,"total":5,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-05-13T22:36:33.7338628Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"20","entities":[],"warnings":[]},{"id":"21","entities":[],"warnings":[]},{"id":"22","entities":[],"warnings":[]},{"id":"23","entities":[],"warnings":[]},{"id":"24","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"entityLinkingTasks":[{"lastUpdateDateTime":"2021-05-13T22:36:31.4286226Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"20","entities":[],"warnings":[]},{"id":"21","entities":[],"warnings":[]},{"id":"22","entities":[],"warnings":[]},{"id":"23","entities":[],"warnings":[]},{"id":"24","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-05-13T22:36:33.7258037Z","name":"NA","state":"succeeded","results":{"documents":[{"redactedText":"hello
        world","id":"20","entities":[],"warnings":[]},{"redactedText":"hello world","id":"21","entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"22","entities":[],"warnings":[]},{"redactedText":"hello world","id":"23","entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"24","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-05-13T22:36:32.8238615Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"20","keyPhrases":["world"],"warnings":[]},{"id":"21","keyPhrases":["world"],"warnings":[]},{"id":"22","keyPhrases":["world"],"warnings":[]},{"id":"23","keyPhrases":["world"],"warnings":[]},{"id":"24","keyPhrases":["world"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}],"sentimentAnalysisTasks":[{"lastUpdateDateTime":"2021-05-13T22:36:32.8175939Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"20","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"21","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"22","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"23","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"24","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centralus.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/analyze/jobs/292c4f3e-ce90-4aa1-843a-8c82fa915556?showStats=false&$top=5&$skip=20
version: 1
