interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This should fail because we''re passing
      in an invalid language hint", "language": "notalanguage"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/ce6172f5-ce8e-4b91-9dff-7a78fbb253e9
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/ce6172f5-ce8e-4b91-9dff-7a78fbb253e9
  response:
    body:
      string: '{"jobId":"ce6172f5-ce8e-4b91-9dff-7a78fbb253e9","lastUpdateDateTime":"2021-01-27T02:23:50Z","createdDateTime":"2021-01-27T02:23:49Z","expirationDateTime":"2021-01-28T02:23:49Z","status":"succeeded","errors":[],"results":{"documents":[],"errors":[{"id":"0","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en"}}}],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
