interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Microsoft was founded by Bill Gates.",
      "language": "English"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/linking?showStats=false
  response:
    body:
      string: '{"documents":[],"errors":[{"id":"0","error":{"code":"InvalidArgument","innerError":{"code":"UnsupportedLanguageCode","message":"Supplied
        language not supported. Pass in one of: en,es"},"message":"Invalid Language
        Code."}}],"modelVersion":"2019-10-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-ta-request-id:
      - 1c5f8dc4-008a-43b7-9cf0-aa9112eaa0bb
    status:
      code: 200
      message: OK
version: 1
