interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I did not like the hotel we stayed
      at.", "language": "english"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs?model-version=bad&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/9ed39792-a181-44c5-aad3-5dd463e87b1f
    status:
      code: 202
      message: Accepted
    url: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs?model-version=bad&stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/9ed39792-a181-44c5-aad3-5dd463e87b1f
  response:
    body:
      string: '{"jobId":"9ed39792-a181-44c5-aad3-5dd463e87b1f","lastUpdateDateTime":"2020-10-31T02:01:19Z","createdDateTime":"2020-10-31T02:01:18Z","expirationDateTime":"2020-11-01T02:01:18Z","status":"succeeded","errors":[],"results":{"documents":[],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en"}}}],"modelVersion":"2020-09-03"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/9ed39792-a181-44c5-aad3-5dd463e87b1f
version: 1
