interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "hello world", "language": "en"}, {"id":
      "1", "text": "hello world", "language": "en"}, {"id": "2", "text": "hello world",
      "language": "en"}, {"id": "3", "text": "hello world", "language": "en"}, {"id":
      "4", "text": "hello world", "language": "en"}, {"id": "5", "text": "hello world",
      "language": "en"}, {"id": "6", "text": "hello world", "language": "en"}, {"id":
      "7", "text": "hello world", "language": "en"}, {"id": "8", "text": "hello world",
      "language": "en"}, {"id": "9", "text": "", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/f50c4fbb-7ecf-4f1e-aa01-19adfaa4100b
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/f50c4fbb-7ecf-4f1e-aa01-19adfaa4100b?showStats=True
  response:
    body:
      string: '{"jobId":"f50c4fbb-7ecf-4f1e-aa01-19adfaa4100b","lastUpdateDateTime":"2021-01-27T02:28:04Z","createdDateTime":"2021-01-27T02:28:01Z","expirationDateTime":"2021-01-28T02:28:01Z","status":"succeeded","errors":[],"results":{"statistics":{"documentsCount":10,"validDocumentsCount":9,"erroneousDocumentsCount":1,"transactionsCount":9},"documents":[{"id":"0","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"1","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"2","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"3","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"4","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"5","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"6","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"7","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"8","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]}],"errors":[{"id":"9","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innererror":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
