interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}}], "entityRecognitionPiiTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": true, "stringIndexType":
      "UnicodeCodePoint"}}], "keyPhraseExtractionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true}}], "entityLinkingTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}}], "sentimentAnalysisTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": true, "opinionMining":
      false}}]}, "analysisInput": {"documents": [{"id": "0", "text": "Test for logging
      disable", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/e6eef8c2-76b5-40df-a2ff-98afce0e0912
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/e6eef8c2-76b5-40df-a2ff-98afce0e0912
  response:
    body:
      string: '{"jobId":"e6eef8c2-76b5-40df-a2ff-98afce0e0912","lastUpdateDateTime":"2021-05-13T23:45:08Z","createdDateTime":"2021-05-13T23:44:58Z","expirationDateTime":"2021-05-14T23:44:58Z","status":"running","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-13T23:45:08Z"},"completed":1,"failed":0,"inProgress":4,"total":5,"entityLinkingTasks":[{"lastUpdateDateTime":"2021-05-13T23:45:07.5074977Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"name":"Test
        (assessment)","matches":[{"text":"Test","offset":0,"length":4,"confidenceScore":0.04}],"language":"en","id":"Test
        (assessment)","url":"https://en.wikipedia.org/wiki/Test_(assessment)","dataSource":"Wikipedia"}],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
