{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/recognition/pii?model-version=latest\u0026showStats=true\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Bill Gates is the CEO of Microsoft.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "statistics": {
          "documentsCount": 1,
          "validDocumentsCount": 1,
          "erroneousDocumentsCount": 0,
          "transactionsCount": 1
        },
        "documents": [
          {
            "redactedText": "********** is the *** of *********.",
            "id": "0",
            "statistics": {
              "charactersCount": 35,
              "transactionsCount": 1
            },
            "entities": [
              {
                "text": "Bill Gates",
                "category": "Person",
                "offset": 0,
                "length": 10,
                "confidenceScore": 1.0
              },
              {
                "text": "CEO",
                "category": "PersonType",
                "offset": 18,
                "length": 3,
                "confidenceScore": 0.95
              },
              {
                "text": "Microsoft",
                "category": "Organization",
                "offset": 25,
                "length": 9,
                "confidenceScore": 0.97
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-01-15"
      }
    }
  ],
  "Variables": {}
}
