interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "bad", "stringIndexType": "UnicodeCodePoint"}}], "entityRecognitionPiiTasks":
      [], "keyPhraseExtractionTasks": []}, "analysisInput": {"documents": [{"id":
      "1", "text": "I did not like the hotel we stayed at.", "language": "english"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/426fc149-6757-4c23-8e33-5461ddd4ac98
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.4/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/426fc149-6757-4c23-8e33-5461ddd4ac98
  response:
    body:
      string: '{"jobId":"426fc149-6757-4c23-8e33-5461ddd4ac98","lastUpdateDateTime":"2021-02-23T17:07:45Z","createdDateTime":"2021-02-23T17:07:44Z","expirationDateTime":"2021-02-24T17:07:44Z","status":"failed","errors":[{"code":"InvalidRequest","message":"Job
        task parameter value bad is not supported for model-version parameter for
        job task type NamedEntityRecognition. Supported values latest,2020-04-01,2021-01-15.","target":"#/tasks/entityRecognitionTasks/0"}],"tasks":{"details":{"lastUpdateDateTime":"2021-02-23T17:07:45Z"},"completed":0,"failed":1,"inProgress":0,"total":1,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-02-23T17:07:45.1354473Z","state":"failed"}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/426fc149-6757-4c23-8e33-5461ddd4ac98
version: 1
