interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}}],
      "entityRecognitionPiiTasks": [], "keyPhraseExtractionTasks": [], "entityLinkingTasks":
      [], "sentimentAnalysisTasks": []}, "analysisInput": {"documents": [{"id": "0",
      "text": "Test passing cls to endpoint", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/6366df3b-3252-4623-8fdb-7e4c457f921d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/6366df3b-3252-4623-8fdb-7e4c457f921d
  response:
    body:
      string: '{"jobId":"6366df3b-3252-4623-8fdb-7e4c457f921d","lastUpdateDateTime":"2021-06-23T01:31:30Z","createdDateTime":"2021-06-23T01:31:29Z","expirationDateTime":"2021-06-24T01:31:29Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/6366df3b-3252-4623-8fdb-7e4c457f921d
  response:
    body:
      string: '{"jobId":"6366df3b-3252-4623-8fdb-7e4c457f921d","lastUpdateDateTime":"2021-06-23T01:31:36Z","createdDateTime":"2021-06-23T01:31:29Z","expirationDateTime":"2021-06-24T01:31:29Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-06-23T01:31:36.3498492Z","taskName":"NamedEntityRecognition_latest","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"text":"Test","category":"Skill","offset":0,"length":4,"confidenceScore":0.97},{"text":"cls","category":"Skill","offset":13,"length":3,"confidenceScore":0.82}],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
