{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022tasks\u0022: {\u0022entityRecognitionTasks\u0022: [{\u0022parameters\u0022: {\u0022stringIndexType\u0022: \u0022UnicodeCodePoint\u0022}, \u0022taskName\u0022: \u00220\u0022}], \u0022entityRecognitionPiiTasks\u0022: [{\u0022parameters\u0022: {\u0022stringIndexType\u0022: \u0022UnicodeCodePoint\u0022}, \u0022taskName\u0022: \u00222\u0022}], \u0022keyPhraseExtractionTasks\u0022: [{\u0022parameters\u0022: {}, \u0022taskName\u0022: \u00221\u0022}], \u0022entityLinkingTasks\u0022: [{\u0022par[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/420bc6d1-ad68-4198-8b41-3e65dbdc1239",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "420bc6d1-ad68-4198-8b41-3e65dbdc1239",
        "lastUpdateDateTime": "2021-12-14T18:56:03Z",
        "createdDateTime": "2021-12-14T18:56:00Z",
        "expirationDateTime": "2021-12-15T18:56:00Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 2,
          "failed": 0,
          "inProgress": 4,
          "total": 6,
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T18:56:03.7802173Z",
              "taskName": "3",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "56",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T18:56:03.5443148Z",
              "taskName": "2",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": ":)",
                    "id": "56",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "redactedText": ":(",
                    "id": "0",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "redactedText": ":P",
                    "id": "19",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "redactedText": ":D",
                    "id": "1",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/420bc6d1-ad68-4198-8b41-3e65dbdc1239",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "420bc6d1-ad68-4198-8b41-3e65dbdc1239",
        "lastUpdateDateTime": "2021-12-14T18:56:08Z",
        "createdDateTime": "2021-12-14T18:56:00Z",
        "expirationDateTime": "2021-12-15T18:56:00Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 5,
          "failed": 0,
          "inProgress": 1,
          "total": 6,
          "entityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T18:56:08.9432338Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "56",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "entities": [],
                    "warnings": []
                  },
   [...]
[...]
