{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "",
              "language": "en"
            },
            {
              "id": "2",
              "text": "okay",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/2746349c-779d-4a56-8d36-7f1578cf0139?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/2746349c-779d-4a56-8d36-7f1578cf0139?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "2746349c-779d-4a56-8d36-7f1578cf0139",
        "lastUpdateDateTime": "2022-10-17T18:56:28Z",
        "createdDateTime": "2022-10-17T18:56:26Z",
        "expirationDateTime": "2022-10-18T18:56:26Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-10-17T18:56:28.3909414Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "2",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "modelVersion": "2022-03-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
