interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This was the best day of my life.",
      "language": ""}, {"id": "1", "text": "I did not like the hotel we stayed at.
      It was too expensive.", "language": ""}, {"id": "2", "text": "The restaurant
      was not as good as I hoped.", "language": ""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/e183e7b9-4bd0-46eb-849f-7a63c8caf4fc
    status:
      code: 202
      message: Accepted
    url: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/e183e7b9-4bd0-46eb-849f-7a63c8caf4fc
  response:
    body:
      string: '{"jobId":"e183e7b9-4bd0-46eb-849f-7a63c8caf4fc","lastUpdateDateTime":"2020-11-10T02:08:10Z","createdDateTime":"2020-11-10T02:08:06Z","expirationDateTime":"2020-11-11T02:08:06Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[],"relations":[],"warnings":[]},{"id":"1","entities":[],"relations":[],"warnings":[]},{"id":"2","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/e183e7b9-4bd0-46eb-849f-7a63c8caf4fc
version: 1
