interactions:
- request:
    body: '{"documents": [{"id": "56", "text": ":)", "language": "en"}, {"id": "0",
      "text": ":(", "language": "en"}, {"id": "22", "text": "", "language": "en"},
      {"id": "19", "text": ":P", "language": "en"}, {"id": "1", "text": ":D", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?model-version=2021-01-11&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/5065dca0-e8c8-449d-8d12-6a170fd85751
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/5065dca0-e8c8-449d-8d12-6a170fd85751?showStats=True
  response:
    body:
      string: '{"jobId":"5065dca0-e8c8-449d-8d12-6a170fd85751","lastUpdateDateTime":"2021-02-23T17:19:26Z","createdDateTime":"2021-02-23T17:19:23Z","expirationDateTime":"2021-02-24T17:19:23Z","status":"succeeded","errors":[],"results":{"statistics":{"documentsCount":5,"validDocumentsCount":4,"erroneousDocumentsCount":1,"transactionsCount":4},"documents":[{"id":"56","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"0","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"19","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"1","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]}],"errors":[{"id":"22","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innererror":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2021-01-11"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
