{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs?model-version=2021-01-11\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u002256\u0022, \u0022text\u0022: \u0022:)\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022:(\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u002222\u0022, \u0022text\u0022: \u0022\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u002219\u0022, \u0022text\u0022: \u0022:P\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022:D\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/d2c5ba54-e59a-4c4c-bc61-d8418ad95d37"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/d2c5ba54-e59a-4c4c-bc61-d8418ad95d37?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "d2c5ba54-e59a-4c4c-bc61-d8418ad95d37",
        "lastUpdateDateTime": "2021-12-14T19:00:24Z",
        "createdDateTime": "2021-12-14T19:00:23Z",
        "expirationDateTime": "2021-12-15T19:00:23Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "statistics": {
            "documentsCount": 5,
            "validDocumentsCount": 4,
            "erroneousDocumentsCount": 1,
            "transactionsCount": 4
          },
          "documents": [
            {
              "id": "56",
              "statistics": {
                "charactersCount": 2,
                "transactionsCount": 1
              },
              "entities": [],
              "relations": [],
              "warnings": []
            },
            {
              "id": "0",
              "statistics": {
                "charactersCount": 2,
                "transactionsCount": 1
              },
              "entities": [],
              "relations": [],
              "warnings": []
            },
            {
              "id": "19",
              "statistics": {
                "charactersCount": 2,
                "transactionsCount": 1
              },
              "entities": [],
              "relations": [],
              "warnings": []
            },
            {
              "id": "1",
              "statistics": {
                "charactersCount": 2,
                "transactionsCount": 1
              },
              "entities": [],
              "relations": [],
              "warnings": []
            }
          ],
          "errors": [
            {
              "id": "22",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid document in request.",
                "innererror": {
                  "code": "InvalidDocument",
                  "message": "Document text is empty."
                }
              }
            }
          ],
          "modelVersion": "2021-05-15"
        }
      }
    }
  ],
  "Variables": {}
}
