interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"stringIndexType":
      "UnicodeCodePoint"}, "taskName": "0"}], "entityRecognitionPiiTasks": [{"parameters":
      {"stringIndexType": "UnicodeCodePoint"}, "taskName": "2"}], "keyPhraseExtractionTasks":
      [{"parameters": {}, "taskName": "1"}], "entityLinkingTasks": [{"parameters":
      {"stringIndexType": "UnicodeCodePoint"}, "taskName": "3"}], "sentimentAnalysisTasks":
      [{"parameters": {"stringIndexType": "UnicodeCodePoint"}, "taskName": "4"}],
      "extractiveSummarizationTasks": [{"parameters": {"stringIndexType": "UnicodeCodePoint"},
      "taskName": "5"}], "customEntityRecognitionTasks": [], "customSingleClassificationTasks":
      [], "customMultiClassificationTasks": []}, "analysisInput": {"documents": [{"id":
      "0", "text": "input document", "language": "en"}, {"id": "1", "text": "input
      document", "language": "en"}, {"id": "2", "text": "input document", "language":
      "en"}, {"id": "3", "text": "input document", "language": "en"}, {"id": "4",
      "text": "input document", "language": "en"}, {"id": "5", "text": "input document",
      "language": "en"}, {"id": "6", "text": "input document", "language": "en"},
      {"id": "7", "text": "input document", "language": "en"}, {"id": "8", "text":
      "input document", "language": "en"}, [...]
