interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [{"parameters":
      {"model-version": "latest", "stringIndexType": "TextElements_v8"}}], "keyPhraseExtractionTasks":
      []}, "analysisInput": {"documents": [{"id": "1", "text": "My SSN is 859-98-0987.",
      "language": "en"}, {"id": "2", "text": "Your ABA number - 111000025 - is the
      first 9 digits in the lower left hand corner of your personal check.", "language":
      "en"}, {"id": "3", "text": "Is 998.214.865-68 your Brazilian CPF number?", "language":
      "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/9b39b20a-1b6d-4665-8251-1de77a30fe7f_637473024000000000
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/9b39b20a-1b6d-4665-8251-1de77a30fe7f_637473024000000000
  response:
    body:
      string: '{"jobId":"9b39b20a-1b6d-4665-8251-1de77a30fe7f_637473024000000000","lastUpdateDateTime":"2021-01-27T02:07:58Z","createdDateTime":"2021-01-27T02:07:57Z","expirationDateTime":"2021-01-28T02:07:57Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-01-27T02:07:58Z"},"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/9b39b20a-1b6d-4665-8251-1de77a30fe7f_637473024000000000
  response:
    body:
      string: '{"jobId":"9b39b20a-1b6d-4665-8251-1de77a30fe7f_637473024000000000","lastUpdateDateTime":"2021-01-27T02:07:58Z","createdDateTime":"2021-01-27T02:07:57Z","expirationDateTime":"2021-01-28T02:07:57Z","status":"succeeded","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-01-27T02:07:58Z"},"completed":1,"failed":0,"inProgress":0,"total":1,"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-01-27T02:07:58.1218804Z","results":{"inTerminalState":true,"documents":[{"redactedText":"My
        SSN is ***********.","id":"1","entities":[{"text":"859-98-0987","category":"U.S.
        Social Security Number (SSN)","offset":10,"length":11,"confidenceScore":0.65}],"warnings":[]},{"redactedText":"Your
        ABA number - ********* - is the first 9 digits in the lower left hand corner
        of your personal check.","id":"2","entities":[{"text":"111000025","category":"Phone
        Number","offset":18,"length":9,"confidenceScore":0.8},{"text":"111000025","category":"ABA
        Routing Number","offset":18,"length":9,"confidenceScore":0.75},{"text":"111000025","category":"New
        Zealand Social Welfare Number","offset":18,"length":9,"confidenceScore":0.65},{"text":"111000025","category":"Portugal
        Tax Identification Number","offset":18,"length":9,"confidenceScore":0.65}],"warnings":[]},{"redactedText":"Is
        ************** your Brazilian CPF number?","id":"3","entities":[{"text":"998.214.865-68","category":"Brazil
        CPF Number","offset":3,"length":14,"confidenceScore":0.85}],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
