{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test for logging disable",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "EntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "1",
            "kind": "KeyPhraseExtraction",
            "parameters": {
              "loggingOptOut": true
            }
          },
          {
            "taskName": "2",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "3",
            "kind": "EntityLinking",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "4",
            "kind": "SentimentAnalysis",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "5",
            "kind": "CustomSingleLabelClassification",
            "parameters": {
              "loggingOptOut": true,
              "projectName": "single_label_classify_project_name",
              "deploymentName": "single_label_classify_project_name"
            }
          },
          {
            "taskName": "6",
            "kind": "CustomMultiLabelClassification",
            "parameters": {
              "loggingOptOut": true,
              "projectName": "multi_label_classify_project_name",
              "deploymentName": "multi_label_classify_project_name"
            }
          },
          {
            "taskName": "7",
            "kind": "CustomEntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "projectName": "custom_entities_project_name",
              "deploymentName": "custom_entities_project_name",
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "8",
            "kind": "Healthcare",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 404,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
