{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "56",
              "text": ":)",
              "language": "en"
            },
            {
              "id": "0",
              "text": ":(",
              "language": "en"
            },
            {
              "id": "19",
              "text": ":P",
              "language": "en"
            },
            {
              "id": "1",
              "text": ":D",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "EntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "1",
            "kind": "KeyPhraseExtraction",
            "parameters": {}
          },
          {
            "taskName": "2",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "3",
            "kind": "EntityLinking",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "4",
            "kind": "SentimentAnalysis",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "5",
            "kind": "ExtractiveSummarization",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/e660f01f-d4b9-44cf-9cdd-de0997161552?api-version=2022-04-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/e660f01f-d4b9-44cf-9cdd-de0997161552?api-version=2022-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "e660f01f-d4b9-44cf-9cdd-de0997161552",
        "lastUpdateDateTime": "2022-05-03T00:07:40Z",
        "createdDateTime": "2022-05-03T00:07:35Z",
        "expirationDateTime": "2022-05-04T00:07:35Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 3,
          "failed": 0,
          "inProgress": 3,
          "total": 6,
          "items": [
            {
              "kind": "KeyPhraseExtractionLROResults",
              "taskName": "1",
              "lastUpdateDateTime": "2022-05-03T00:07:38.9434955Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "56",
                    "keyPhrases": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "keyPhrases": [],
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "keyPhrases": [],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "keyPhrases": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            },
            {
              "kind": "PiiEntityRecognitionLROResults",
              "taskName": "2",
              "lastUpdateDateTime": "2022-05-03T00:07:38.545443Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": ":)",
                    "id": "56",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "redactedText": ":(",
                    "id": "0",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "redactedText": ":P",
                    "id": "19",
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "redactedText": ":D",
                    "id": "1",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            },
            {
              "kind": "ExtractiveSummarizationLROResults",
              "taskName": "5",
              "lastUpdateDateTime": "2022-05-03T00:07:40.7049227Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "56",
                    "sentences": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "sentences": [],
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "sentences": [],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "sentences": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-08-01"
              }
            }
          ]
        }
      }
    },
[...]
