{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "KeyPhraseExtraction",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test passing cls to endpoint",
              "language": "en"
            }
          ]
        },
        "parameters": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "KeyPhraseExtractionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "keyPhrases": [
                "Test",
                "cls",
                "endpoint"
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
