{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022tasks\u0022:{\u0022entityRecognitionTasks\u0022:[{\u0022parameters\u0022:{\u0022model-version\u0022:\u0022latest\u0022,\u0022loggingOptOut\u0022:false,\u0022stringIndexType\u0022:\u0022UnicodeCodePoint\u0022},\u0022taskName\u0022:\u00220\u0022}],\u0022entityRecognitionPiiTasks\u0022:[{\u0022parameters\u0022:{\u0022model-version\u0022:\u0022latest\u0022,\u0022loggingOptOut\u0022:true,\u0022stringIndexType\u0022:\u0022UnicodeCodePoint\u0022},\u0022taskName\u0022:\u00222\u0022}],\u0022keyP[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/ee543ada-3c79-41fe-acc7-119a1c19a017",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "ee543ada-3c79-41fe-acc7-119a1c19a017",
        "lastUpdateDateTime": "2021-11-19T19:45:34Z",
        "createdDateTime": "2021-11-19T19:45:34Z",
        "expirationDateTime": "2021-11-20T19:45:34Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 6,
          "total": 6
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/ee543ada-3c79-41fe-acc7-119a1c19a017",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "ee543ada-3c79-41fe-acc7-119a1c19a017",
        "lastUpdateDateTime": "2021-11-19T19:45:42Z",
        "createdDateTime": "2021-11-19T19:45:34Z",
        "expirationDateTime": "2021-11-20T19:45:34Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 5,
          "failed": 0,
          "inProgress": 1,
          "total": 6,
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:45:42.2045103Z",
              "taskName": "3",
              "state": "succeeded",
              "results": {
                "documents": [],
                "errors": [
                  {
                    "id": "0",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Language Code.",
                      "innererror": {
                        "code": "UnsupportedLanguageCode",
                        "message": "Invalid language code. Supported languages: en,es. For additional details see https://aka.ms/text-analytics/language-support?tabs=entity-linking"
                      }
                    }
                  }
                ],
                "modelVersion": "2021-06-01"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:45:42.1563652Z",
              "taskName": "2",
              "state": "succeeded",
              "results": {
                "documents": [],
                "errors": [
                  {
                    "id": "0",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Language Code.",
                      "innererror": {
                        "code": "UnsupportedLanguageCode",
                        "message": "Invalid language code. Supported languages: ja,ko,zh-Hans,de,en,es,fr,it,pt-BR,pt-PT. For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"
                      }
                    }
                  }
                ],
                "modelVersion": "2021-01-15"
              }
            }
          ],
          "extractiveSummarizationTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:45:42.1037384Z",
              "taskName": "5",
              "state": "succeeded",
              "results": {
                "documents": [],
                "errors": [
                  {
                    "id": "0",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Language Code.",
                      "innererror": {
                        "code": "UnsupportedLanguageCode",
                        "message": "Invalid language code. Supported languages: ja,ko,zh-Hans,de,en,es,fr,it,pt-PT,pt-BR. For additional details see https://aka.ms/text-analytics/language-support"
                      }
                    }
                  }
                ],
                "modelVersion": "2021-08-01"
              }
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:45:42.1722481Z",
              "taskName": "1",
              "state": "succeeded",
              "results": {
                "documents": [],
                "errors": [
                  {
                    "id": "0",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Language Code.",
                      "innererror": {
                        "code": "UnsupportedLanguageCode",
                        "message": "Invalid language code. Supported languages: ja,ko,zh-Hans,da,fi,nl,pl,ru,sv,de,en,es,fr,it,pt-BR,pt-PT,af,bg,ca,el,et,hr,hu,id,lv,no,ro,sk,sl,tr. For additional details see https://aka.ms/text-analytics/language-support?tabs=key-phrase-extraction"
                      }
                    }
                  }
                ],
                "modelVersion": "2021-06-01"
              }
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:45:42.7471502Z",
              "taskName": "4",
              "state": "succeeded",
              "results": {
                "documents": [],
                "errors": [
                  {
                    "id": "0",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Language Code.",
                      "innererror": {
                        "code": "UnsupportedLanguageCode",
                        "message": "Invalid language code. Supported languages: en,ja,ko,zh-Hans,zh-Hant,de,es,fr,hi,no,tr,it,nl,pt-BR,pt-PT. For additional details see https://aka.ms/text-analytics/language-support?tabs=sentiment-analysis"
                      }
                    }
                  }
                ],
                "modelVersion": "2020-04-01"
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/ee543ada-3c79-41fe-acc7-119a1c19a017",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "ee543ada-3c79-41fe-acc7-119a1c19a017",
        "lastUpdateDateTime": "2021-11-19T19:45:48Z",
        "createdDateTime": "2021-11-19T19:45:34Z",
        "expirationDateTime": "2021-11-20T19:45:34Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 6,
          "failed": 0,
          "inProgress": 0,
          "total": 6,
          "entityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:45:48.2109231Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "documents": [],
                "errors": [
                  {
                    "id": "0",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Language Code.",
                      "innererror": {
                        "code": [...]
