interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}}],
      "entityRecognitionPiiTasks": [], "keyPhraseExtractionTasks": [], "entityLinkingTasks":
      [], "sentimentAnalysisTasks": []}, "analysisInput": {"documents": [{"id": "56",
      "text": ":)", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/cd4a666b-91be-4274-b75b-187aadcfaccd
    status:
      code: 202
      message: Accepted
    url: https://centralus.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/cd4a666b-91be-4274-b75b-187aadcfaccd?showStats=True
  response:
    body:
      string: '{"jobId":"cd4a666b-91be-4274-b75b-187aadcfaccd","lastUpdateDateTime":"2021-05-13T22:36:07Z","createdDateTime":"2021-05-13T22:36:07Z","expirationDateTime":"2021-05-14T22:36:07Z","status":"running","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-13T22:36:07Z"},"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/cd4a666b-91be-4274-b75b-187aadcfaccd?showStats=True
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/cd4a666b-91be-4274-b75b-187aadcfaccd?showStats=True
  response:
    body:
      string: '{"jobId":"cd4a666b-91be-4274-b75b-187aadcfaccd","lastUpdateDateTime":"2021-05-13T22:36:12Z","createdDateTime":"2021-05-13T22:36:07Z","expirationDateTime":"2021-05-14T22:36:07Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-13T22:36:12Z"},"completed":1,"failed":0,"inProgress":0,"total":1,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-05-13T22:36:12.4498186Z","name":"NA","state":"succeeded","results":{"statistics":{"documentsCount":1,"validDocumentsCount":1,"erroneousDocumentsCount":0,"transactionsCount":1},"documents":[{"id":"56","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/cd4a666b-91be-4274-b75b-187aadcfaccd?showStats=True
version: 1
