{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/linking?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "One",
            "language": "en"
          },
          {
            "id": "1",
            "text": "Two",
            "language": "en"
          },
          {
            "id": "2",
            "text": "Three",
            "language": "en"
          },
          {
            "id": "3",
            "text": "Four",
            "language": "en"
          },
          {
            "id": "4",
            "text": "Five",
            "language": "en"
          },
          {
            "id": "5",
            "text": "Six",
            "language": "en"
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid document in request.",
          "innererror": {
            "code": "InvalidDocumentBatch",
            "message": "Batch request contains too many records. Max 5 records are permitted."
          }
        }
      }
    }
  ],
  "Variables": {}
}
