{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tasks": {
          "entityRecognitionTasks": [],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "0"
            }
          ],
          "keyPhraseExtractionTasks": [],
          "entityLinkingTasks": [],
          "sentimentAnalysisTasks": [],
          "extractiveSummarizationTasks": [],
          "customEntityRecognitionTasks": [],
          "customSingleClassificationTasks": [],
          "customMultiClassificationTasks": []
        },
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "My SSN is 859-98-0987.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Your ABA number - 111000025 - is the first 9 digits in the lower left hand corner of your personal check.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Is 998.214.865-68 your Brazilian CPF number?",
              "language": "en"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/0a9d4637-637b-4811-aa60-6457742b1fdf"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/0a9d4637-637b-4811-aa60-6457742b1fdf?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0a9d4637-637b-4811-aa60-6457742b1fdf",
        "lastUpdateDateTime": "2021-11-19T19:53:47Z",
        "createdDateTime": "2021-11-19T19:53:45Z",
        "expirationDateTime": "2021-11-20T19:53:45Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:53:47.8274307Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 3,
                  "validDocumentsCount": 3,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 3
                },
                "documents": [
                  {
                    "redactedText": "My SSN is ***********.",
                    "id": "0",
                    "statistics": {
                      "charactersCount": 22,
                      "transactionsCount": 1
                    },
                    "entities": [
                      {
                        "text": "859-98-0987",
                        "category": "USSocialSecurityNumber",
                        "offset": 10,
                        "length": 11,
                        "confidenceScore": 0.65
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "redactedText": "Your ABA number - ********* - is the first 9 digits in the lower left hand corner of your personal check.",
                    "id": "1",
                    "statistics": {
                      "charactersCount": 105,
                      "transactionsCount": 1
                    },
                    "entities": [
                      {
                        "text": "111000025",
                        "c[...]
