{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/recognition/general?stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022I should take my cat to the veterinarian.\u0022, \u0022language\u0022: \u0022es\u0022}, {\u0022id\u0022: \u00222\u0022, \u0022text\u0022: \u0022Este es un document escrito en Espa\\u00f1ol.\u0022, \u0022language\u0022: \u0022es\u0022}, {\u0022id\u0022: \u00223\u0022, \u0022text\u0022: \u0022\\u732b\\u306f\\u5e78\\u305b\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "1",
            "entities": [
              {
                "text": "veterinarian",
                "category": "PersonType",
                "offset": 28,
                "length": 12,
                "confidenceScore": 1.0
              }
            ],
            "warnings": []
          },
          {
            "id": "2",
            "entities": [
              {
                "text": "un",
                "category": "Quantity",
                "subcategory": "Number",
                "offset": 8,
                "length": 2,
                "confidenceScore": 0.8
              },
              {
                "text": "Espa\u00F1ol",
                "category": "Skill",
                "offset": 31,
                "length": 7,
                "confidenceScore": 0.94
              }
            ],
            "warnings": []
          },
          {
            "id": "3",
            "entities": [],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-06-01"
      }
    }
  ],
  "Variables": {}
}
