{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs?stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022This should fail because we\u0027re passing in an invalid language hint\u0022, \u0022language\u0022: \u0022notalanguage\u0022}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/0dc762ca-edbf-4864-8dcc-33d7cefbc5a1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/0dc762ca-edbf-4864-8dcc-33d7cefbc5a1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0dc762ca-edbf-4864-8dcc-33d7cefbc5a1",
        "lastUpdateDateTime": "2021-12-14T02:15:07Z",
        "createdDateTime": "2021-12-14T02:15:06Z",
        "expirationDateTime": "2021-12-15T02:15:06Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [],
          "errors": [
            {
              "id": "0",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Language Code.",
                "innererror": {
                  "code": "UnsupportedLanguageCode",
                  "message": "Invalid language code. Supported languages: en. For additional details see https://aka.ms/text-analytics/language-support"
                }
              }
            }
          ],
          "modelVersion": "2021-05-15"
        }
      }
    }
  ],
  "Variables": {}
}
