{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022tasks\u0022:{\u0022entityRecognitionTasks\u0022:[],\u0022entityRecognitionPiiTasks\u0022:[],\u0022keyPhraseExtractionTasks\u0022:[],\u0022entityLinkingTasks\u0022:[],\u0022sentimentAnalysisTasks\u0022:[],\u0022extractiveSummarizationTasks\u0022:[],\u0022customEntityRecognitionTasks\u0022:[],\u0022customSingleClassificationTasks\u0022:[{\u0022parameters\u0022:{\u0022project-name\u0022:\u0022single_category_classify_project_name\u0022,\u0022deployment-name\u0022:\u0022single_category_clas[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/7e7f49a9-6094-4963-86b1-4147951f5535?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "7e7f49a9-6094-4963-86b1-4147951f5535",
        "lastUpdateDateTime": "2021-11-19T19:44:59Z",
        "createdDateTime": "2021-11-19T19:44:58Z",
        "expirationDateTime": "2021-11-20T19:44:58Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "customSingleClassificationTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:44:59.9298927Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 3,
                  "validDocumentsCount": 3,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 3
                },
                "documents": [
                  {
                    "id": "1",
                    "classification": {
                      "category": "RateBook",
                      "confidenceScore": 0.76
                    },
                    "statistics": {
                      "charactersCount": 295,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "classification": {
                      "category": "RateBook",
                      "confidenceScore": 0.57
                    },
                    "statistics": {
                      "charactersCount": 158,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "3",
                    "classification": {
                      "category": "BookRestaurant",
                      "confidenceScore": 1.0
                    },
                    "statistics": {
                      "charactersCount": 121,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "659c1851-be0b-4142-b12a-087da9785926",
                "deploymentName": "659c1851-be0b-4142-b12a-087da9785926"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
