interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "stringIndexType": "TextElements_v8"}}], "entityRecognitionPiiTasks":
      [], "keyPhraseExtractionTasks": []}, "analysisInput": {"documents": [{"id":
      "1", "text": "Microsoft was founded by Bill Gates and Paul Allen on April 4,
      1975.", "language": "en"}, {"id": "2", "text": "Microsoft fue fundado por Bill
      Gates y Paul Allen el 4 de abril de 1975.", "language": "es"}, {"id": "3", "text":
      "Microsoft wurde am 4. April 1975 von Bill Gates und Paul Allen gegr\u00fcndet.",
      "language": "de"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/fadaacb2-8336-4ff6-9d61-e97b83d192e1_637473024000000000
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.3/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/fadaacb2-8336-4ff6-9d61-e97b83d192e1_637473024000000000
  response:
    body:
      string: '{"jobId":"fadaacb2-8336-4ff6-9d61-e97b83d192e1_637473024000000000","lastUpdateDateTime":"2021-01-27T02:14:44Z","createdDateTime":"2021-01-27T02:14:44Z","expirationDateTime":"2021-01-28T02:14:44Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-01-27T02:14:44Z"},"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/fadaacb2-8336-4ff6-9d61-e97b83d192e1_637473024000000000
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/fadaacb2-8336-4ff6-9d61-e97b83d192e1_637473024000000000
  response:
    body:
      string: '{"jobId":"fadaacb2-8336-4ff6-9d61-e97b83d192e1_637473024000000000","lastUpdateDateTime":"2021-01-27T02:14:44Z","createdDateTime":"2021-01-27T02:14:44Z","expirationDateTime":"2021-01-28T02:14:44Z","status":"succeeded","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-01-27T02:14:44Z"},"completed":1,"failed":0,"inProgress":0,"total":1,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-01-27T02:14:44.9595493Z","results":{"inTerminalState":true,"documents":[{"id":"1","entities":[{"text":"Microsoft","category":"Organization","offset":0,"length":9,"confidenceScore":0.8},{"text":"Bill
        Gates","category":"Person","offset":25,"length":10,"confidenceScore":0.83},{"text":"Paul
        Allen","category":"Person","offset":40,"length":10,"confidenceScore":0.87},{"text":"April
        4, 1975","category":"DateTime","subcategory":"Date","offset":54,"length":13,"confidenceScore":0.8}],"warnings":[]},{"id":"2","entities":[{"text":"Microsoft","category":"Organization","offset":0,"length":9,"confidenceScore":0.89},{"text":"Bill
        Gates","category":"Person","offset":26,"length":10,"confidenceScore":0.8},{"text":"Paul
        Allen","category":"Person","offset":39,"length":10,"confidenceScore":0.75},{"text":"4
        de abril de 1975","category":"DateTime","subcategory":"Date","offset":53,"length":18,"confidenceScore":0.8}],"warnings":[]},{"id":"3","entities":[{"text":"Microsoft","category":"Organization","offset":0,"length":9,"confidenceScore":1.0},{"text":"4.
        April 1975","category":"DateTime","subcategory":"Date","offset":19,"length":13,"confidenceScore":0.8},{"text":"Bill
        Gates","category":"Person","offset":37,"length":10,"confidenceScore":0.86},{"text":"Paul
        Allen","category":"Person","offset":52,"length":10,"confidenceScore":0.98}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/fadaacb2-8336-4ff6-9d61-e97b83d192e1_637473024000000000
version: 1
