interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Test for logging disable", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/entities/health/jobs?stringIndexType=UnicodeCodePoint&loggingOptOut=true
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/entities/health/jobs/1917a84a-9f08-44b6-9f5b-3cc51f1b2005
    status:
      code: 202
      message: Accepted
    url: https://tacanaryjava.cognitiveservices.azure.com//text/analytics/v3.2-preview.1/entities/health/jobs?stringIndexType=UnicodeCodePoint&loggingOptOut=true
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/entities/health/jobs/1917a84a-9f08-44b6-9f5b-3cc51f1b2005
  response:
    body:
      string: '{"jobId":"1917a84a-9f08-44b6-9f5b-3cc51f1b2005","lastUpdateDateTime":"2021-08-03T17:33:27Z","createdDateTime":"2021-08-03T17:33:22Z","expirationDateTime":"2021-08-04T17:33:22Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2021-05-15"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://tacanaryjava.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/entities/health/jobs/1917a84a-9f08-44b6-9f5b-3cc51f1b2005
version: 1
