{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/languages?model-version=latest\u0026showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u002256\u0022, \u0022text\u0022: \u0022:)\u0022, \u0022countryHint\u0022: \u0022US\u0022}, {\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022:(\u0022, \u0022countryHint\u0022: \u0022US\u0022}, {\u0022id\u0022: \u002222\u0022, \u0022text\u0022: \u0022\u0022, \u0022countryHint\u0022: \u0022US\u0022}, {\u0022id\u0022: \u002219\u0022, \u0022text\u0022: \u0022:P\u0022, \u0022countryHint\u0022: \u0022US\u0022}, {\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022:D\u0022, \u0022countryHint\u0022: \u0022US\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=4,CognitiveServices.TextAnalytics.TextRecords=4"
      },
      "ResponseBody": {
        "statistics": {
          "documentsCount": 5,
          "validDocumentsCount": 4,
          "erroneousDocumentsCount": 1,
          "transactionsCount": 4
        },
        "documents": [
          {
            "id": "56",
            "detectedLanguage": {
              "name": "(Unknown)",
              "iso6391Name": "(Unknown)",
              "confidenceScore": 0.0
            },
            "statistics": {
              "charactersCount": 2,
              "transactionsCount": 1
            },
            "warnings": []
          },
          {
            "id": "0",
            "detectedLanguage": {
              "name": "(Unknown)",
              "iso6391Name": "(Unknown)",
              "confidenceScore": 0.0
            },
            "statistics": {
              "charactersCount": 2,
              "transactionsCount": 1
            },
            "warnings": []
          },
          {
            "id": "19",
            "detectedLanguage": {
              "name": "(Unknown)",
              "iso6391Name": "(Unknown)",
              "confidenceScore": 0.0
            },
            "statistics": {
              "charactersCount": 2,
              "transactionsCount": 1
            },
            "warnings": []
          },
          {
            "id": "1",
            "detectedLanguage": {
              "name": "(Unknown)",
              "iso6391Name": "(Unknown)",
              "confidenceScore": 0.0
            },
            "statistics": {
              "charactersCount": 2,
              "transactionsCount": 1
            },
            "warnings": []
          }
        ],
        "errors": [
          {
            "id": "22",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid document in request.",
              "innererror": {
                "code": "InvalidDocument",
                "message": "Document text is empty."
              }
            }
          }
        ],
        "modelVersion": "2021-01-05"
      }
    }
  ],
  "Variables": {}
}
