{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "This should fail because we\u0027re passing in an invalid language hint",
              "language": "notalanguage"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/39c1841d-b7bc-4cc6-b1ec-3b3c0bde7408?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/39c1841d-b7bc-4cc6-b1ec-3b3c0bde7408?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "39c1841d-b7bc-4cc6-b1ec-3b3c0bde7408",
        "lastUpdatedDateTime": "2022-06-09T23:09:51Z",
        "createdDateTime": "2022-06-09T23:09:50Z",
        "expirationDateTime": "2022-06-10T23:09:50Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-06-09T23:09:51.4637127Z",
              "status": "succeeded",
              "results": {
                "documents": [],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Language Code.",
                      "innererror": {
                        "code": "UnsupportedLanguageCode",
                        "message": "Invalid language code. Supported languages: en. For additional details see https://aka.ms/text-analytics/language-support"
                      }
                    }
                  }
                ],
                "modelVersion": "2022-03-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
