interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "", "language": "en"}, {"id": "2", "text":
      "Microsoft fue fundado por Bill Gates y Paul Allen", "language": "es"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.1/entities/linking?showStats=false&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: '{"documents":[{"id":"2","entities":[{"name":"Bill Gates","matches":[{"text":"Bill
        Gates","offset":26,"length":10,"confidenceScore":0.37}],"language":"es","id":"Bill
        Gates","url":"https://es.wikipedia.org/wiki/Bill_Gates","dataSource":"Wikipedia"},{"name":"Paul
        Allen","matches":[{"text":"Paul Allen","offset":39,"length":10,"confidenceScore":0.9}],"language":"es","id":"Paul
        Allen","url":"https://es.wikipedia.org/wiki/Paul_Allen","dataSource":"Wikipedia"},{"name":"Microsoft","matches":[{"text":"Microsoft","offset":0,"length":9,"confidenceScore":0.38}],"language":"es","id":"Microsoft","url":"https://es.wikipedia.org/wiki/Microsoft","dataSource":"Wikipedia"}],"warnings":[]}],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innererror":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2020-02-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=1
    status:
      code: 200
      message: OK
version: 1
