interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}, "taskName":
      "0"}], "entityRecognitionPiiTasks": [], "keyPhraseExtractionTasks": [], "entityLinkingTasks":
      [], "sentimentAnalysisTasks": []}, "analysisInput": {"documents": [{"id": "56",
      "text": ":)", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/566c226e-bc55-43a7-ba61-bd0b3cafe16d
    status:
      code: 202
      message: Accepted
    url: https://textanalyticskrpratictextanalytics.cognitiveservices.azure.com//text/analytics/v3.1/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/566c226e-bc55-43a7-ba61-bd0b3cafe16d?showStats=True
  response:
    body:
      string: '{"jobId":"566c226e-bc55-43a7-ba61-bd0b3cafe16d","lastUpdateDateTime":"2021-06-24T00:09:27Z","createdDateTime":"2021-06-24T00:09:26Z","expirationDateTime":"2021-06-25T00:09:26Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalyticskrpratictextanalytics.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/566c226e-bc55-43a7-ba61-bd0b3cafe16d?showStats=True
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/566c226e-bc55-43a7-ba61-bd0b3cafe16d?showStats=True
  response:
    body:
      string: '{"jobId":"566c226e-bc55-43a7-ba61-bd0b3cafe16d","lastUpdateDateTime":"2021-06-24T00:09:49Z","createdDateTime":"2021-06-24T00:09:26Z","expirationDateTime":"2021-06-25T00:09:26Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-06-24T00:09:49.6781198Z","taskName":"0","state":"succeeded","results":{"statistics":{"documentsCount":1,"validDocumentsCount":1,"erroneousDocumentsCount":0,"transactionsCount":1},"documents":[{"id":"56","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalyticskrpratictextanalytics.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/566c226e-bc55-43a7-ba61-bd0b3cafe16d?showStats=True
version: 1
