{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/recognition/general?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "I will go to the park.",
            "language": ""
          },
          {
            "id": "2",
            "text": "I did not like the hotel we stayed at.",
            "language": ""
          },
          {
            "id": "3",
            "text": "The restaurant had really good food.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "1",
            "entities": [
              {
                "text": "park",
                "category": "Location",
                "offset": 17,
                "length": 4,
                "confidenceScore": 0.99
              }
            ],
            "warnings": []
          },
          {
            "id": "2",
            "entities": [
              {
                "text": "hotel",
                "category": "Location",
                "offset": 19,
                "length": 5,
                "confidenceScore": 0.99
              }
            ],
            "warnings": []
          },
          {
            "id": "3",
            "entities": [
              {
                "text": "restaurant",
                "category": "Location",
                "subcategory": "Structural",
                "offset": 4,
                "length": 10,
                "confidenceScore": 0.97
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-06-01"
      }
    }
  ],
  "Variables": {}
}
