interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "stringIndexType": "UnicodeCodePoint"}}], "entityRecognitionPiiTasks":
      [], "keyPhraseExtractionTasks": []}, "analysisInput": {"documents": [{"id":
      "56", "text": ":)", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/56746e72-f0ef-4b9a-b30e-3b2eeb9b7a8c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/56746e72-f0ef-4b9a-b30e-3b2eeb9b7a8c?showStats=True
  response:
    body:
      string: '{"jobId":"56746e72-f0ef-4b9a-b30e-3b2eeb9b7a8c","lastUpdateDateTime":"2021-02-23T17:04:27Z","createdDateTime":"2021-02-23T17:04:27Z","expirationDateTime":"2021-02-24T17:04:27Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-02-23T17:04:27Z"},"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/56746e72-f0ef-4b9a-b30e-3b2eeb9b7a8c?showStats=True
  response:
    body:
      string: '{"jobId":"56746e72-f0ef-4b9a-b30e-3b2eeb9b7a8c","lastUpdateDateTime":"2021-02-23T17:04:27Z","createdDateTime":"2021-02-23T17:04:27Z","expirationDateTime":"2021-02-24T17:04:27Z","status":"succeeded","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-02-23T17:04:27Z"},"completed":1,"failed":0,"inProgress":0,"total":1,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-02-23T17:04:27.337124Z","state":"succeeded","results":{"statistics":{"documentsCount":1,"validDocumentsCount":1,"erroneousDocumentsCount":0,"transactionsCount":1},"documents":[{"id":"56","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
