interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This was the best day of my life.",
      "language": "en"}, {"id": "1", "text": "I did not like the hotel we stayed at.
      It was too expensive.", "language": "en"}, {"id": "2", "text": "The restaurant
      was not as good as I hoped.", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/c9c483fe-7dd3-4bf6-aa89-d46cb144aa39
    status:
      code: 202
      message: Accepted
    url: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/c9c483fe-7dd3-4bf6-aa89-d46cb144aa39
  response:
    body:
      string: '{"jobId":"c9c483fe-7dd3-4bf6-aa89-d46cb144aa39","lastUpdateDateTime":"2020-11-10T02:08:40Z","createdDateTime":"2020-11-10T02:08:38Z","expirationDateTime":"2020-11-11T02:08:38Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[],"relations":[],"warnings":[]},{"id":"1","entities":[],"relations":[],"warnings":[]},{"id":"2","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/c9c483fe-7dd3-4bf6-aa89-d46cb144aa39
version: 1
