interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [], "entityLinkingTasks": [], "sentimentAnalysisTasks":
      [], "extractiveSummarizationTasks": [{"parameters": {"model-version": "latest",
      "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint", "sentenceCount":
      3, "sortBy": "Offset"}}]}, "analysisInput": {"documents": [{"id": "1", "text":
      "", "language": "en"}, {"id": "2", "text": "hello world", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/analyze/jobs/6d47b405-03f5-4fb0-9e35-f0abf05d5cd3
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/analyze/jobs/6d47b405-03f5-4fb0-9e35-f0abf05d5cd3?showStats=True
  response:
    body:
      string: '{"jobId":"6d47b405-03f5-4fb0-9e35-f0abf05d5cd3","lastUpdateDateTime":"2021-08-02T21:30:44Z","createdDateTime":"2021-08-02T21:30:44Z","expirationDateTime":"2021-08-03T21:30:44Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/analyze/jobs/6d47b405-03f5-4fb0-9e35-f0abf05d5cd3?showStats=True
  response:
    body:
      string: '{"jobId":"6d47b405-03f5-4fb0-9e35-f0abf05d5cd3","lastUpdateDateTime":"2021-08-02T21:30:56Z","createdDateTime":"2021-08-02T21:30:44Z","expirationDateTime":"2021-08-03T21:30:44Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"extractiveSummarizationTasks":[{"lastUpdateDateTime":"2021-08-02T21:30:56.9573055Z","taskName":"ExtractiveSummarization_latest","state":"succeeded","results":{"statistics":{"documentsCount":2,"validDocumentsCount":1,"erroneousDocumentsCount":1,"transactionsCount":1},"documents":[{"id":"2","statistics":{"charactersCount":11,"transactionsCount":1},"sentences":[{"text":"hello
        world","rankScore":1.0,"offset":0,"length":11}],"warnings":[]}],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innererror":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2021-08-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
