interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      "en"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "language":
      "en"}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/431a2732-6616-4127-b596-b9e1cfc3b64f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/431a2732-6616-4127-b596-b9e1cfc3b64f
  response:
    body:
      string: '{"jobId":"431a2732-6616-4127-b596-b9e1cfc3b64f","lastUpdateDateTime":"2020-11-19T21:34:58Z","createdDateTime":"2020-11-19T21:34:56Z","expirationDateTime":"2020-11-20T21:34:56Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"1","entities":[],"relations":[],"warnings":[]},{"id":"2","entities":[],"relations":[],"warnings":[]},{"id":"3","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      "en"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "language":
      "en"}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: '{"error":{"code":"401","message":"Access denied due to invalid subscription
        key or wrong API endpoint. Make sure to provide a valid key for an active
        subscription and use a correct regional API endpoint for your resource."}}'
    headers:
    status:
      code: 401
      message: PermissionDenied
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/2b5fd7a0-0ec0-47bd-8696-6ebdc4239031
  response:
    body:
      string: '{"jobId":"2b5fd7a0-0ec0-47bd-8696-6ebdc4239031","lastUpdateDateTime":"2020-11-19T21:35:03Z","createdDateTime":"2020-11-19T21:35:01Z","expirationDateTime":"2020-11-20T21:35:01Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"1","entities":[],"relations":[],"warnings":[]},{"id":"2","entities":[],"relations":[],"warnings":[]},{"id":"3","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
