interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This was the best day of my life.",
      "language": "fr"}, {"id": "1", "text": "I did not like the hotel we stayed at.
      It was too expensive.", "language": "fr"}, {"id": "2", "text": "The restaurant
      was not as good as I hoped.", "language": "fr"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/entities/recognition/general?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: '{"documents":[{"id":"0","entities":[],"warnings":[]},{"id":"1","entities":[{"text":"hotel","category":"Location","offset":19,"length":5,"confidenceScore":0.99}],"warnings":[]},{"id":"2","entities":[{"text":"restaurant","category":"Location","offset":4,"length":10,"confidenceScore":0.96}],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3
    status:
      code: 200
      message: OK
    url: https://python-textanalytics.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/entities/recognition/general?stringIndexType=UnicodeCodePoint
version: 1
