{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tasks": {
          "entityRecognitionTasks": [],
          "entityRecognitionPiiTasks": [],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": false
              },
              "taskName": "0"
            }
          ],
          "entityLinkingTasks": [],
          "sentimentAnalysisTasks": [],
          "extractiveSummarizationTasks": [],
          "customEntityRecognitionTasks": [],
          "customSingleClassificationTasks": [],
          "customMultiClassificationTasks": []
        },
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Microsoft fue fundado por Bill Gates y Paul Allen",
              "language": "es"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/c3f4b4f5-b291-4281-b186-45b490982438"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/c3f4b4f5-b291-4281-b186-45b490982438?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "c3f4b4f5-b291-4281-b186-45b490982438",
        "lastUpdateDateTime": "2021-11-19T19:53:09Z",
        "createdDateTime": "2021-11-19T19:53:07Z",
        "expirationDateTime": "2021-11-20T19:53:07Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:53:09.7366147Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 2,
                  "validDocumentsCount": 2,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 2
                },
                "documents": [
                  {
                    "id": "1",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "statistics": {
                      "charactersCount": 50,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "keyPhrases": [
                      "Bill Gates",
                      "Paul Allen",
                      "Microsoft"
                    ],
                    "statistics": {
                      "charactersCount": 49,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
