interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "please don''t fail", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/text/analytics/v3.0/entities/linking?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1
    status:
      code: 200
      message: OK
    url: https://westcentralus.api.cognitive.microsoft.com//text/analytics/v3.0/entities/linking?showStats=false
version: 1
