interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [{"parameters":
      {"model-version": "latest", "stringIndexType": "TextElements_v8"}}, {"parameters":
      {"domain": "PHI", "model-version": "latest", "stringIndexType": "TextElements_v8"}}],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest"}}]},
      "analysisInput": {"documents": [{"id": "1", "text": "one", "language": "en"},
      {"id": "2", "text": "two", "language": "en"}, {"id": "3", "text": "three", "language":
      "en"}, {"id": "4", "text": "four", "language": "en"}, {"id": "5", "text": "five",
      "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/dcdff2d9-0473-4eee-ae0b-e7697f43eff2_637478208000000000
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.3/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/dcdff2d9-0473-4eee-ae0b-e7697f43eff2_637478208000000000
  response:
    body:
      string: '{"jobId":"dcdff2d9-0473-4eee-ae0b-e7697f43eff2_637478208000000000","lastUpdateDateTime":"2021-02-02T04:32:52Z","createdDateTime":"2021-02-02T04:32:51Z","expirationDateTime":"2021-02-03T04:32:51Z","status":"running","errors":[{"code":"InvalidRequest","message":"Job
        task parameter value PHI is not supported for domain parameter for job task
        type PersonallyIdentifiableInformation. Supported values phi.","target":"#/tasks/entityRecognitionPiiTasks/1"}],"tasks":{"details":{"lastUpdateDateTime":"2021-02-02T04:32:52Z"},"completed":1,"failed":1,"inProgress":1,"total":3,"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-02-02T04:32:52.7798378Z","results":{"documents":[],"errors":[],"modelVersion":""}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-02-02T04:32:52.7798378Z","results":{"documents":[{"id":"1","keyPhrases":[],"warnings":[]},{"id":"2","keyPhrases":[],"warnings":[]},{"id":"3","keyPhrases":[],"warnings":[]},{"id":"4","keyPhrases":[],"warnings":[]},{"id":"5","keyPhrases":[],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/dcdff2d9-0473-4eee-ae0b-e7697f43eff2_637478208000000000
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/dcdff2d9-0473-4eee-ae0b-e7697f43eff2_637478208000000000
  response:
    body:
      string: '{"jobId":"dcdff2d9-0473-4eee-ae0b-e7697f43eff2_637478208000000000","lastUpdateDateTime":"2021-02-02T04:32:52Z","createdDateTime":"2021-02-02T04:32:51Z","expirationDateTime":"2021-02-03T04:32:51Z","status":"partiallySucceeded","errors":[{"code":"InvalidRequest","message":"Job
        task parameter value PHI is not supported for domain parameter for job task
        type PersonallyIdentifiableInformation. Supported values phi.","target":"#/tasks/entityRecognitionPiiTasks/1"}],"tasks":{"details":{"lastUpdateDateTime":"2021-02-02T04:32:52Z"},"completed":2,"failed":1,"inProgress":0,"total":3,"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-02-02T04:32:52.7798378Z","results":{"documents":[{"redactedText":"one","id":"1","entities":[],"warnings":[]},{"redactedText":"two","id":"2","entities":[],"warnings":[]},{"redactedText":"three","id":"3","entities":[],"warnings":[]},{"redactedText":"four","id":"4","entities":[],"warnings":[]},{"redactedText":"five","id":"5","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}},{"lastUpdateDateTime":"2021-02-02T04:32:52.7798378Z","results":{"documents":[],"errors":[],"modelVersion":""}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-02-02T04:32:52.7798378Z","results":{"documents":[{"id":"1","keyPhrases":[],"warnings":[]},{"id":"2","keyPhrases":[],"warnings":[]},{"id":"3","keyPhrases":[],"warnings":[]},{"id":"4","keyPhrases":[],"warnings":[]},{"id":"5","keyPhrases":[],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/dcdff2d9-0473-4eee-ae0b-e7697f43eff2_637478208000000000
version: 1
