{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "SentimentAnalysis",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Hello world",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "TextElements_v8"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "sentiment": "positive",
              "confidenceScores": {
                "positive": 0.58,
                "neutral": 0.38,
                "negative": 0.04
              },
              "sentences": [
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 0.58,
                    "neutral": 0.38,
                    "negative": 0.04
                  },
                  "offset": 0,
                  "length": 11,
                  "text": "Hello world"
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-10-01"
        }
      }
    }
  ],
  "Variables": {}
}
