{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test passing cls to endpoint",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/f0e89adf-c790-4dce-ac7b-ba4f04553021?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/f0e89adf-c790-4dce-ac7b-ba4f04553021?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "f0e89adf-c790-4dce-ac7b-ba4f04553021",
        "lastUpdatedDateTime": "2022-06-09T23:12:15Z",
        "createdDateTime": "2022-06-09T23:12:14Z",
        "expirationDateTime": "2022-06-10T23:12:14Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-06-09T23:12:15.5480542Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "offset": 5,
                        "length": 7,
                        "text": "passing",
                        "category": "MeasurementValue",
                        "confidenceScore": 0.98
                      },
                      {
                        "offset": 13,
                        "length": 3,
                        "text": "cls",
                        "category": "Diagnosis",
                        "confidenceScore": 1.0,
                        "name": "Coffin-Lowry syndrome",
                        "links": [
                          {
                            "dataSource": "UMLS",
                            "id": "C0265252"
                          },
                          {
                            "dataSource": "CHV",
                            "id": "0000025867"
                          },
                          {
                            "dataSource": "JABL",
                            "id": "238"
                          },
                          {
                            "dataSource": "MDR",
                            "id": "10081[...]
