interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"stringIndexType":
      "UnicodeCodePoint"}, "taskName": "0"}], "entityRecognitionPiiTasks": [{"parameters":
      {"stringIndexType": "UnicodeCodePoint"}, "taskName": "1"}], "keyPhraseExtractionTasks":
      [{"parameters": {}, "taskName": "3"}], "entityLinkingTasks": [], "sentimentAnalysisTasks":
      [{"parameters": {"stringIndexType": "UnicodeCodePoint"}, "taskName": "2"}],
      "extractiveSummarizationTasks": [], "customEntityRecognitionTasks": [], "customSingleClassificationTasks":
      [], "customMultiClassificationTasks": []}, "analysisInput": {"documents": [{"id":
      "1", "text": "A recent report by the Government Accountability Office (GAO)
      found that the dramatic increase in oil and natural gas development on federal
      lands over the past six years has stretched the staff of the BLM to a point
      that it has been unable to meet its environmental protection responsibilities.",
      "language": "en"}, {"id": "2", "text": "David Schmidt, senior vice president--Food
      Safety, International Food Information Council (IFIC), Washington, D.C., discussed
      the physical activity component.", "language": "en"}, {"id": "3", "text": "",
      "language": "en"}, {"id": "4", "text": "I need a reservation for an indoor restaurant
      in China. Please don''t stop the music. Play music and add it to my playlist",
      "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/e30061bf-3299-4fd1-b041-41fc501a8f61
    status:
      code: 202
      message: Accepted
    url: https://python-textanalytics.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/e30061bf-3299-4fd1-b041-41fc501a8f61?showStats=True
  response:
    body:
      string: '{"jobId":"e30061bf-3299-4fd1-b041-41fc501a8f61","lastUpdateDateTime":"2021-12-08T22:49:17Z","createdDateTime":"2021-12-08T22:49:14Z","expirationDateTime":"2021-12-09T22:49:14Z","status":"running","errors":[],"tasks":{"completed":2,"failed":0,"inProgress":2,"total":4,"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-12-08T22:49:16.7930441Z","taskName":"1","state":"succeeded","results":{"statistics":{"documentsCount":4,"validDocumentsCount":3,"erroneousDocumentsCount":1,"transactionsCount":3},"documents":[{"redactedText":"A
        recent report by the ******************************** (***) found that the
        dramatic increase in oil and natural gas development on federal lands over
        the ************** has stretched the staff of the *** to a point that it has
        been unable to meet its environmental protection responsibilities.","id":"1","statistics":{"charactersCount":295,"transactionsCount":1},"entities":[{"text":"Government
        Accountability Office","category":"Organization","offset":23,"length":32,"confidenceScore":0.95},{"text":"GAO","category":"Organization","offset":57,"length":3,"confidenceScore":0.9},{"text":"past
        six years","category":"DateTime","subcategory":"DateRange","offset":156,"length":14,"confidenceScore":0.8},{"text":"BLM","category":"Organization","offset":202,"length":3,"confidenceScore":0.87}],"warnings":[]},{"redactedText":"*************,
        *********************--Food Safety, **************************************
        (****), Washington, D.C., discussed the physical activity component.","id":"2","statistics":{"charactersCount":158,"transactionsCount":1},"entities":[{"text":"David
        Schmidt","category":"Person","offset":0,"length":13,"confidenceScore":1.0},{"text":"senior
        vice president","category":"PersonType","offset":15,"length":21,"confidenceScore":0.71},{"text":"International
        Food Information Council","category":"Organization","offset":51,"length":38,"confidenceScore":0.96},{"text":"IFIC","category":"Organization","offset":91,"length":4,"confidenceScore":0.92}],"warnings":[]},{"redactedText":"I
        need a reservation for an indoor restaurant in China. Please don''t stop the
        music. Play music and add it to my playlist","id":"4","statistics":{"charactersCount":121,"transactionsCount":1},"entities":[],"warnings":[]}],"errors":[{"id":"3","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innererror":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2021-01-15"}}],"sentimentAnalysisTasks":[{"lastUpdateDateTime":"2021-12-08T22:49:17.0621567Z","taskName":"2","state":"succeeded","results":{"statistics":{"documentsCount":4,"validDocumentsCount":3,"erroneousDocumentsCount":1,"transactionsCount":3},"documents":[{"id":"1","sentiment":"neutral","statistics":{"charactersCount":295,"transactionsCount":1},"confidenceScores":{"positive":0.23,"neutral":0.61,"negative":0.16},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.23,"neutral":0.61,"negative":0.16},"offset":0,"length":295,"text":"A
        recent report by the Government Accountability Office (GAO) found that the
        dramatic increase in oil and natural gas development on federal lands over
        the past six years has stretched the staff of the BLM to a point that it has
        been unable to meet its environmental protection responsibilities."}],"warnings":[]},{"id":"2","sentiment":"neutral[...]
[...]
