{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "EntityRecognition",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "one",
              "language": "en"
            },
            {
              "id": "2",
              "text": "two",
              "language": "en"
            },
            {
              "id": "3",
              "text": "three",
              "language": "en"
            },
            {
              "id": "4",
              "text": "four",
              "language": "en"
            },
            {
              "id": "5",
              "text": "five",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=5,CognitiveServices.TextAnalytics.TextRecords=5"
      },
      "ResponseBody": {
        "kind": "EntityRecognitionResults",
        "results": {
          "documents": [
            {
              "id": "1",
              "entities": [
                {
                  "text": "one",
                  "category": "Quantity",
                  "subcategory": "Number",
                  "offset": 0,
                  "length": 3,
                  "confidenceScore": 0.8
                }
              ],
              "warnings": []
            },
            {
              "id": "2",
              "entities": [
                {
                  "text": "two",
                  "category": "Quantity",
                  "subcategory": "Number",
                  "offset": 0,
                  "length": 3,
                  "confidenceScore": 0.8
                }
              ],
              "warnings": []
            },
            {
              "id": "3",
              "entities": [
                {
           [...]
