interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "My SSN is 555-55-5555.", "language":
      "en"}, {"id": "2", "text": "Your ABA number - 111000025 - is the first 9 digits
      in the lower left hand corner of your personal check.", "language": "en"}, {"id":
      "3", "text": "Is 998.214.865-68 your Brazilian CPF number?", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/pii?showStats=true
  response:
    body:
      string: '{"statistics":{"documentsCount":3,"validDocumentsCount":3,"erroneousDocumentsCount":0,"transactionsCount":3},"documents":[{"id":"1","statistics":{"charactersCount":22,"transactionsCount":1},"entities":[{"text":"555-55-5555","type":"U.S.
        Social Security Number (SSN)","subtype":"","offset":10,"length":11,"score":0.85}]},{"id":"2","statistics":{"charactersCount":105,"transactionsCount":1},"entities":[{"text":"111000025","type":"ABA
        Routing Number","subtype":"","offset":18,"length":9,"score":0.75}]},{"id":"3","statistics":{"charactersCount":44,"transactionsCount":1},"entities":[{"text":"998.214.865-68","type":"Brazil
        CPF Number","subtype":"","offset":3,"length":14,"score":0.85}]}],"errors":[],"modelVersion":"2019-10-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - westus2.api.cognitive.microsoft.com
        - //text/analytics/v3.0-preview.1/entities/recognition/pii
        - showStats=true
        - ''
version: 1
