{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "PiiEntityRecognition",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I should take my cat to the veterinarian.",
              "language": "de"
            },
            {
              "id": "4",
              "text": "Este es un document escrito en Espa\u00F1ol.",
              "language": "de"
            },
            {
              "id": "3",
              "text": "\u732B\u306F\u5E78\u305B",
              "language": "de"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "kind": "PiiEntityRecognitionResults",
        "results": {
          "documents": [
            {
              "redactedText": "I should take my cat to the ************.",
              "id": "1",
              "entities": [
                {
                  "text": "veterinarian",
                  "category": "PersonType",
                  "offset": 28,
                  "length": 12,
                  "confidenceScore": 0.98
                }
              ],
              "warnings": []
            },
            {
              "redactedText": "Este es un document escrito en Espa\u00F1ol.",
              "id": "4",
              "entities": [],
              "warnings": []
            },
            {
              "redactedText": "\u732B\u306F\u5E78\u305B",
              "id": "3",
              "entities": [],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-01-15"
        }
      }
    }
  ],
  "Variables": {}
}
