interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Test passing cls to endpoint", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/entities/health/jobs/4ef38851-0eea-4cd0-8055-97bd23d431f6
    status:
      code: 202
      message: Accepted
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/entities/health/jobs?stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/entities/health/jobs/4ef38851-0eea-4cd0-8055-97bd23d431f6
  response:
    body:
      string: '{"jobId":"4ef38851-0eea-4cd0-8055-97bd23d431f6","lastUpdateDateTime":"2021-10-06T21:02:56Z","createdDateTime":"2021-10-06T21:02:55Z","expirationDateTime":"2021-10-07T21:02:55Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[{"offset":5,"length":7,"text":"passing","category":"MeasurementValue","confidenceScore":0.78},{"offset":13,"length":3,"text":"cls","category":"Diagnosis","confidenceScore":1.0,"name":"Coffin-Lowry
        syndrome","links":[{"dataSource":"UMLS","id":"C0265252"},{"dataSource":"CHV","id":"0000025867"},{"dataSource":"JABL","id":"238"},{"dataSource":"MDR","id":"10081806"},{"dataSource":"MEDCIN","id":"311935"},{"dataSource":"MSH","id":"D038921"},{"dataSource":"NCI","id":"C84643"},{"dataSource":"NCI_CELLOSAURUS","id":"C84643"},{"dataSource":"OMIM","id":"303600"},{"dataSource":"RCD","id":"Xa0Zc"},{"dataSource":"SNM","id":"D-5122"},{"dataSource":"SNMI","id":"D4-00811"},{"dataSource":"SNOMEDCT_US","id":"15182000"}]}],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2021-05-15"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/entities/health/jobs/4ef38851-0eea-4cd0-8055-97bd23d431f6
version: 1
