{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "SentimentAnalysis",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "",
              "language": "en"
            },
            {
              "id": "2",
              "text": "I did not like the hotel we stayed at. It was too expensive.",
              "language": "english"
            },
            {
              "id": "3",
              "text": "The restaurant had really good food. I recommend you try it.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "documents": [
            {
              "id": "3",
              "sentiment": "positive",
              "confidenceScores": {
                "positive": 0.8,
                "neutral": 0.19,
                "negative": 0.02
              },
              "sentences": [
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 1.0,
                    "neutral": 0.0,
                    "negative": 0.0
                  },
                  "offset": 0,
                  "length": 37,
                  "text": "The restaurant had really good food. "
                },
                {
                  "sentiment": "positive",
                  "confidenceScores": {
                    "positive": 0.6,
                    "neutral": 0.37,
                    "negative": 0.03
                  },
                  "offset": 37,
                  "length": 23,
                  "text": "I recommend you try it."
                }
              ],
              "warnings": []
            }
          ],
          "errors": [
            {
              "id": "1",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Document in request.",
                "innererror": {
                  "code": "InvalidDocument",
                  "message": "Document text is empty."
                }
              }
            },
            {
              "id": "2",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Language Code.",
                "innererror": {
                  "code": "UnsupportedLanguageCode",
                  "message": "Invalid language code \u0027english\u0027. Supported languages: af,am,ar,as,az,be,bg,bn,br,bs,ca,cs,cy,da,de,el,en,eo,es,et,eu,fa,fi,fil,fr,fy,ga,gd,gl,gu,ha,he,hi,hr,hu,hy,id,it,ja,jv,ka,kk,km,kn,ko,ku,ky,la,lo,lt,lv,mg,mk,ml,mn,mr,ms,my,ne,nl,no,om,or,pa,pl,ps,pt-BR,pt-PT,ro,ru,sa,sd,si,sk,sl,so,sq,sr,su,sv,sw,ta,te,th,tr,ug,uk,ur,uz,vi,xh,yi,zh-Hans,zh-Hant. For additional details see https://aka.ms/text-analytics/language-support?tabs=sentiment-analysis"
                }
              }
            }
          ],
          "modelVersion": "2022-10-01"
        }
      }
    }
  ],
  "Variables": {}
}
