interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"stringIndexType":
      "UnicodeCodePoint"}, "taskName": "0"}], "entityRecognitionPiiTasks": [{"parameters":
      {"stringIndexType": "UnicodeCodePoint"}, "taskName": "2"}], "keyPhraseExtractionTasks":
      [{"parameters": {}, "taskName": "1"}], "entityLinkingTasks": [{"parameters":
      {"stringIndexType": "UnicodeCodePoint"}, "taskName": "3"}], "sentimentAnalysisTasks":
      [{"parameters": {"stringIndexType": "UnicodeCodePoint"}, "taskName": "4"}],
      "extractiveSummarizationTasks": [{"parameters": {"stringIndexType": "UnicodeCodePoint"},
      "taskName": "5"}], "customEntityRecognitionTasks": [], "customSingleClassificationTasks":
      [], "customMultiClassificationTasks": []}, "analysisInput": {"documents": [{"id":
      "56", "text": ":)", "language": "en"}, {"id": "0", "text": ":(", "language":
      "en"}, {"id": "19", "text": ":P", "language": "en"}, {"id": "1", "text": ":D",
      "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/b305afa4-97fd-454a-ab68-5b3dd427991a
    status:
      code: 202
      message: Accepted
    url: https://python-textanalytics.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/b305afa4-97fd-454a-ab68-5b3dd427991a
  response:
    body:
      string: '{"jobId":"b305afa4-97fd-454a-ab68-5b3dd427991a","lastUpdateDateTime":"2021-12-08T22:51:29Z","createdDateTime":"2021-12-08T22:51:24Z","expirationDateTime":"2021-12-09T22:51:24Z","status":"running","errors":[],"tasks":{"completed":2,"failed":0,"inProgress":4,"total":6,"entityLinkingTasks":[{"lastUpdateDateTime":"2021-12-08T22:51:29.2258024Z","taskName":"3","state":"succeeded","results":{"documents":[{"id":"56","entities":[],"warnings":[]},{"id":"0","entities":[],"warnings":[]},{"id":"19","entities":[],"warnings":[]},{"id":"1","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"extractiveSummarizationTasks":[{"lastUpdateDateTime":"2021-12-08T22:51:29.1359321Z","taskName":"5","state":"succeeded","results":{"documents":[{"id":"56","sentences":[],"warnings":[]},{"id":"0","sentences":[],"warnings":[]},{"id":"19","sentences":[],"warnings":[]},{"id":"1","sentences":[],"warnings":[]}],"errors":[],"modelVersion":"2021-08-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://python-textanalytics.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/b305afa4-97fd-454a-ab68-5b3dd427991a
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/b305afa4-97fd-454a-ab68-5b3dd427991a
  response:
    body:
      string: '{"jobId":"b305afa4-97fd-454a-ab68-5b3dd427991a","lastUpdateDateTime":"2021-12-08T22:51:34Z","createdDateTime":"2021-12-08T22:51:24Z","expirationDateTime":"2021-12-09T22:51:24Z","status":"running","errors":[],"tasks":{"completed":4,"failed":0,"inProgress":2,"total":6,"entityLinkingTasks":[{"lastUpdateDateTime":"2021-12-08T22:51:29.2258024Z","taskName":"3","state":"succeeded","results":{"documents":[{"id":"56","entities":[],"warnings":[]},{"id":"0","entities":[],"warnings":[]},{"id":"19","entities":[],"warnings":[]},{"id":"1","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-12-08T22:51:34.2396552Z","taskName":"2","state":"succeeded","results":{"documents":[{"redactedText":":)","id":"56","entities":[],"warnings":[]},{"redactedText":":(","id":"0","entities":[],"warnings":[]},{"redactedText":":P","id":"19","entities":[],"warnings":[]},{"redactedText":":D","id":"1","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"extractiveSummarizationTasks":[{"lastUpdateDateTime":"2021-12-08T22:51:29.1359321Z","taskName":"5","state":"succeeded","results":{"documents":[{"id":"56","sentences":[],"warnings":[]},{"id":"0","sentences":[],"warnings":[]},{"id":"19","sentences":[],"warnings":[]},{"id":"1","sentences":[],"warnings":[]}],"errors":[],"modelVersion":"2021-08-01"}}],"sentimentAnalysisTasks":[{"lastUpdateDateTime":"2021-12-08T22:51:32.328384Z","taskName":"4","state":"succeeded","results":{"documents":[{"id":"56","sentiment":"positive","confidenceScores":{"positive":0.89,"neutral":0.1,"negative":0.01},"sentences":[{"sentiment":"positive","confidenceScores":{"positive":0.89,"neutral":0.1,"negative":0.01},"offset":0,"length":2,"text":":)"}],"warnings":[]},{"id":"0","sentiment":"negative","confidenceScores":{"positive":0.0,"neutral":0.02,"negative":0.98},"sentences":[{"sentiment":"negative","confidenceScores":{"positive":0.0,"neutral":0.02,"negative":0.98},"offset":0,"length":2,"text":":("}],"warnings":[]},{"id":"19","sentiment":"neutral","confidenceScores":{"positive":0.3,"neutral":0.67,"negative":0.03},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.3,"neutral":0.67,"negative":0.03},"offset":0,"length":2,"text":":P"}],"warnings":[]},{"id":"1","sentiment":"positive","confidenceScores":{"positive":0.89,"neutral":0.1,"negative":0.01},"sentences":[{"sentiment":"positive","confidenceScores":{"positive":0.89,"neutral":0.1,"negative":0.01},"offset":0,"length":2,"text":":D"}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://python-textanalytics.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/b305afa4-97fd-454a-ab68-5b3dd427991a
[...]
