{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022tasks\u0022: {\u0022entityRecognitionTasks\u0022: [], \u0022entityRecognitionPiiTasks\u0022: [{\u0022parameters\u0022: {\u0022stringIndexType\u0022: \u0022UnicodeCodePoint\u0022}, \u0022taskName\u0022: \u00221\u0022}], \u0022keyPhraseExtractionTasks\u0022: [], \u0022entityLinkingTasks\u0022: [], \u0022sentimentAnalysisTasks\u0022: [{\u0022parameters\u0022: {\u0022stringIndexType\u0022: \u0022UnicodeCodePoint\u0022}, \u0022taskName\u0022: \u00220\u0022}], \u0022extractiveSummarizationTasks\u0022: [], \u0022customEntityRecognitionTasks\u0022: [], \u0022customSingleClassificationTasks\u0022: [], \u0022customMultiClassificationTasks\u0022: []}, \u0022analysisInput\u0022: {\u0022documents\u0022: [{\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022I did not like the hotel we stayed at.\u0022, \u0022language\u0022: \u0022tr\u0022}, {\u0022id\u0022: \u00222\u0022, \u0022text\u0022: \u0022I did not like the hotel we stayed at.\u0022, \u0022language\u0022: \u0022en\u0022}]}}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/417a0e46-9ce5-4b91-a109-abff179aad66"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/417a0e46-9ce5-4b91-a109-abff179aad66",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "417a0e46-9ce5-4b91-a109-abff179aad66",
        "lastUpdateDateTime": "2021-12-14T18:52:51Z",
        "createdDateTime": "2021-12-14T18:52:50Z",
        "expirationDateTime": "2021-12-15T18:52:50Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 2,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/417a0e46-9ce5-4b91-a109-abff179aad66",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "417a0e46-9ce5-4b91-a109-abff179aad66",
        "lastUpdateDateTime": "2021-12-14T18:52:59Z",
        "createdDateTime": "2021-12-14T18:52:50Z",
        "expirationDateTime": "2021-12-15T18:52:50Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 2,
          "failed": 0,
          "inProgress": 0,
          "total": 2,
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T18:52:58.8295303Z",
              "taskName": "1",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "I did not like the hotel we stayed at.",
                    "id": "2",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Language Code.",
                      "innererror": {
                        "code": "UnsupportedLanguageCode",
                        "message": "Invalid language code. Supported languages: ja,ko,zh-Hans,de,en,es,fr,it,pt-BR,pt-PT. For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"
                      }
                    }
                  }
                ],
                "modelVersion": "2021-01-15"
              }
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T18:52:59.4916988Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "sentiment": "neutral",
                    "confidenceScores": {
                      "positive": 0.06,
                      "neutral": 0.55,
                      "negative": 0.39
                    },
                    "sentences": [
                      {
                        "sentiment": "neutral",
                        "confidenceScores": {
                          "positive": 0.06,
                          "neutral": 0.55,
                          "negative": 0.39
                        },
                        "offset": 0,
                        "length": 38,
                        "text": "I did not like the hotel we stayed at."
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "sentiment": "negative",
                    "confidenceScores": {
                      "positive": 0.01,
                      "neutral": 0.45,
                      "negative": 0.54
                    },
                    "sentences": [
                      {
                        "sentiment": "negative",
                        "confidenceScores": {
                          "positive": 0.01,
                          "neutral": 0.45,
                          "negative": 0.54
                        },
                        "offset": 0,
                        "length": 38,
                        "text": "I did not like the hotel we stayed at."
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-04-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
