interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "stringIndexType": "UnicodeCodePoint"}}], "entityRecognitionPiiTasks":
      [], "keyPhraseExtractionTasks": []}, "analysisInput": {"documents": [{"id":
      "1", "text": "Microsoft was founded by Bill Gates and Paul Allen on April 4,
      1975", "language": "en"}, {"id": "2", "text": "Microsoft fue fundado por Bill
      Gates y Paul Allen el 4 de abril de 1975.", "language": "es"}, {"id": "3", "text":
      "Microsoft wurde am 4. April 1975 von Bill Gates und Paul Allen gegr\u00fcndet.",
      "language": "de"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/a485c05f-b962-41fd-a1d7-d64fa9d842f5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/a485c05f-b962-41fd-a1d7-d64fa9d842f5?showStats=True
  response:
    body:
      string: '{"jobId":"a485c05f-b962-41fd-a1d7-d64fa9d842f5","lastUpdateDateTime":"2021-02-23T17:04:22Z","createdDateTime":"2021-02-23T17:04:21Z","expirationDateTime":"2021-02-24T17:04:21Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-02-23T17:04:22Z"},"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/analyze/jobs/a485c05f-b962-41fd-a1d7-d64fa9d842f5?showStats=True
  response:
    body:
      string: '{"jobId":"a485c05f-b962-41fd-a1d7-d64fa9d842f5","lastUpdateDateTime":"2021-02-23T17:04:22Z","createdDateTime":"2021-02-23T17:04:21Z","expirationDateTime":"2021-02-24T17:04:21Z","status":"succeeded","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-02-23T17:04:22Z"},"completed":1,"failed":0,"inProgress":0,"total":1,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-02-23T17:04:22.7434783Z","state":"succeeded","results":{"statistics":{"documentsCount":3,"validDocumentsCount":3,"erroneousDocumentsCount":0,"transactionsCount":3},"documents":[{"id":"1","statistics":{"charactersCount":67,"transactionsCount":1},"entities":[{"text":"Microsoft","category":"Organization","offset":0,"length":9,"confidenceScore":0.96},{"text":"Bill
        Gates","category":"Person","offset":25,"length":10,"confidenceScore":0.99},{"text":"Paul
        Allen","category":"Person","offset":40,"length":10,"confidenceScore":0.99},{"text":"April
        4, 1975","category":"DateTime","subcategory":"Date","offset":54,"length":13,"confidenceScore":0.8}],"warnings":[]},{"id":"2","statistics":{"charactersCount":72,"transactionsCount":1},"entities":[{"text":"Microsoft","category":"Organization","offset":0,"length":9,"confidenceScore":0.97},{"text":"Bill
        Gates","category":"Person","offset":26,"length":10,"confidenceScore":1.0},{"text":"Paul
        Allen","category":"Person","offset":39,"length":10,"confidenceScore":0.99},{"text":"4
        de abril de 1975","category":"DateTime","subcategory":"Date","offset":53,"length":18,"confidenceScore":0.8}],"warnings":[]},{"id":"3","statistics":{"charactersCount":73,"transactionsCount":1},"entities":[{"text":"Microsoft","category":"Organization","offset":0,"length":9,"confidenceScore":0.97},{"text":"4.
        April 1975","category":"DateTime","subcategory":"Date","offset":19,"length":13,"confidenceScore":0.8},{"text":"Bill
        Gates","category":"Person","offset":37,"length":10,"confidenceScore":1.0},{"text":"Paul
        Allen","category":"Person","offset":52,"length":10,"confidenceScore":0.99}],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
