{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "A recent re[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/558a5802-450c-4f49-acd7-5e5344737f26?api-version=2022-05-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalServerError",
          "innerError": {
            "requestId": "c6383496-ee81-427c-a540-c640232a41e4"
          },
          "message": "Internal server error"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/80ae28a4-fac3-4300-8711-6176e41f8141?api-version=2022-05-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "80ae28a4-fac3-4300-8711-6176e41f8141",
        "lastUpdatedDateTime": "2022-07-13T23:02:35Z",
        "createdDateTime": "2022-07-13T23:02:34Z",
        "expirationDateTime": "2022-07-14T23:02:34Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomEntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-07-13T23:02:35.4425435Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 5,
                  "validDocumentsCount": 5,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 5
                },
                "documents": [
                  {
                    "id": "0",
                    "statistics": {
                      "charactersCount": 295,
                      "transactionsCount": 1
                    },
                    "entities": [
                      {
                        "text": "Government",
                        "category": "restaurant_name",
                        "offset": 23,
                        "length": 10,
                        "confidenceScore": 0.05
                      },
                      {
                        "text": "Accountability",
                        "category": "geographic_poi",
                        "offset": 34,
                        "length": 14,
                        "confidenceScore": 0.07
                      },
                      {
                        "text": "Office",
                        "category": "restaurant_name",
                        "offset": 49,
                        "length":[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/80ae28a4-fac3-4300-8711-6176e41f8141:cancel?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Failed to cancel job with job id 80ae28a4-fac3-4300-8711-6176e41f8141 as its already completed."
        }
      }
    }
  ],
  "Variables": {}
}
