{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022tasks\u0022: {\u0022entityRecognitionTasks\u0022: [], \u0022entityRecognitionPiiTasks\u0022: [], \u0022keyPhraseExtractionTasks\u0022: [{\u0022parameters\u0022: {\u0022model-version\u0022: \u0022latest\u0022, \u0022loggingOptOut\u0022: false}, \u0022taskName\u0022: \u00220\u0022}], \u0022entityLinkingTasks\u0022: [], \u0022sentimentAnalysisTasks\u0022: [], \u0022extractiveSummarizationTasks\u0022: [], \u0022customEntityRecognitionTasks\u0022: [], \u0022customSingleClassificationTasks\u0022: [], \u0022customMultiClassificationTasks\u0022: []}, \u0022analysisInput\u0022: {\u0022documents\u0022: [{\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022\u0022, \u0022language\u0022: \u0022en\u0022}]}}",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid document in request.",
          "innererror": {
            "code": "InvalidDocumentBatch",
            "message": "Document text is empty."
          }
        }
      }
    }
  ],
  "Variables": {}
}
