interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/entities/health/jobs/2a687a4d-d79a-4317-b671-7402cbeb0368
    status:
      code: 202
      message: Accepted
    url: https://textanalyticskrpratictextanalytics.cognitiveservices.azure.com//text/analytics/v3.1/entities/health/jobs?stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/entities/health/jobs/2a687a4d-d79a-4317-b671-7402cbeb0368
  response:
    body:
      string: '{"jobId":"2a687a4d-d79a-4317-b671-7402cbeb0368","lastUpdateDateTime":"2021-06-23T01:48:08Z","createdDateTime":"2021-06-23T01:48:06Z","expirationDateTime":"2021-06-24T01:48:06Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"1","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2021-05-15"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalyticskrpratictextanalytics.cognitiveservices.azure.com/text/analytics/v3.1/entities/health/jobs/2a687a4d-d79a-4317-b671-7402cbeb0368
version: 1
