interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      "es"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "language":
      "es"}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "es"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK-Client: [Python-SDK]
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/sentiment?showStats=false
  response:
    body: {string: '{"documents":[{"id":"1","sentiment":"neutral","documentScores":{"positive":0.04,"neutral":0.95,"negative":0.01},"sentences":[{"sentiment":"neutral","sentenceScores":{"positive":0.04,"neutral":0.95,"negative":0.01},"offset":0,"length":22}]},{"id":"2","sentiment":"neutral","documentScores":{"positive":0.01,"neutral":0.5,"negative":0.49},"sentences":[{"sentiment":"neutral","sentenceScores":{"positive":0.01,"neutral":0.5,"negative":0.49},"offset":0,"length":38}]},{"id":"3","sentiment":"positive","documentScores":{"positive":0.97,"neutral":0.02,"negative":0.01},"sentences":[{"sentiment":"positive","sentenceScores":{"positive":0.97,"neutral":0.02,"negative":0.01},"offset":0,"length":36}]}],"errors":[],"modelVersion":"2019-10-01"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      csp-billing-usage: [CognitiveServices.TextAnalytics.BatchScoring=3]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      "es"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "language":
      "es"}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "es"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK-Client: [Python-SDK]
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/sentiment?showStats=false
  response:
    body: {string: '{"documents":[{"id":"1","sentiment":"neutral","documentScores":{"positive":0.04,"neutral":0.95,"negative":0.01},"sentences":[{"sentiment":"neutral","sentenceScores":{"positive":0.04,"neutral":0.95,"negative":0.01},"offset":0,"length":22}]},{"id":"2","sentiment":"neutral","documentScores":{"positive":0.01,"neutral":0.5,"negative":0.49},"sentences":[{"sentiment":"neutral","sentenceScores":{"positive":0.01,"neutral":0.5,"negative":0.49},"offset":0,"length":38}]},{"id":"3","sentiment":"positive","documentScores":{"positive":0.97,"neutral":0.02,"negative":0.01},"sentences":[{"sentiment":"positive","sentenceScores":{"positive":0.97,"neutral":0.02,"negative":0.01},"offset":0,"length":36}]}],"errors":[],"modelVersion":"2019-10-01"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      csp-billing-usage: [CognitiveServices.TextAnalytics.BatchScoring=3]
    status: {code: 200, message: OK}
version: 1
