interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "", "language": "en"}, {"id": "2", "text":
      "I did not like the hotel we stayed at. It was too expensive.", "language":
      "english"}, {"id": "3", "text": "The restaurant had really good food. I recommend
      you try it.", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/sentiment?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"3","sentiment":"positive","documentScores":{"positive":0.98,"neutral":0.02,"negative":0.0},"sentences":[{"sentiment":"positive","sentenceScores":{"positive":1.0,"neutral":0.0,"negative":0.0},"offset":0,"length":36},{"sentiment":"positive","sentenceScores":{"positive":0.96,"neutral":0.03,"negative":0.01},"offset":37,"length":23}]}],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innerError":{"code":"InvalidDocument","message":"Document
        text is empty."}}},{"id":"2","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innerError":{"code":"UnsupportedLanguageCode","message":"Supplied
        language not supported. Pass in one of: de,en,es,fr,it,ja,ko,nl,pt-PT,zh-Hans,zh-Hant"}}}],"modelVersion":"2019-10-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=1
    status:
      code: 200
      message: OK
version: 1
