{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "LanguageDetection",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I did not like the hotel we stayed at.",
              "countryHint": "US"
            }
          ]
        },
        "parameters": {
          "modelVersion": "bad"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid Request.",
          "innererror": {
            "code": "ModelVersionIncorrect",
            "message": "Invalid model version. Possible values are: latest,2019-10-01,2020-07-01,2020-09-01,2021-01-05,2021-11-20. For additional details see https://aka.ms/text-analytics-model-versioning"
          }
        }
      }
    }
  ],
  "Variables": {}
}
