interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [], "entityLinkingTasks": [], "sentimentAnalysisTasks":
      [], "extractiveSummarizationTasks": [], "customEntityRecognitionTasks": [],
      "customSingleClassificationTasks": [], "customMultiClassificationTasks": [{"parameters":
      {"project-name": "textanalytics_multi_category_classify_project_name", "deployment-name":
      "textanalytics_multi_category_classify_project_name"}}]}, "analysisInput": {"documents":
      [{"id": "1", "text": "A recent report by the Government Accountability Office
      (GAO) found that the dramatic increase in oil and natural gas development on
      federal lands over the past six years has stretched the staff of the BLM to
      a point that it has been unable to meet its environmental protection responsibilities.",
      "language": "en"}, {"id": "2", "text": "David Schmidt, senior vice president--Food
      Safety, International Food Information Council (IFIC), Washington, D.C., discussed
      the physical activity component.", "language": "en"}, {"id": "3", "text": "I
      need a reservation for an indoor restaurant in China. Please don''t stop the
      music. Play music and add it to my playlist", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/b0f6212f-5c05-4285-b047-88bf07e76854
    status:
      code: 202
      message: Accepted
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/b0f6212f-5c05-4285-b047-88bf07e76854?showStats=True
  response:
    body:
      string: '{"jobId":"b0f6212f-5c05-4285-b047-88bf07e76854","lastUpdateDateTime":"2021-10-06T21:18:38Z","createdDateTime":"2021-10-06T21:18:33Z","expirationDateTime":"2021-10-07T21:18:33Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"customMultiClassificationTasks":[{"lastUpdateDateTime":"2021-10-06T21:18:38.279196Z","state":"succeeded","results":{"statistics":{"documentsCount":3,"validDocumentsCount":3,"erroneousDocumentsCount":0,"transactionsCount":3},"documents":[{"id":"1","classifications":[],"statistics":{"charactersCount":295,"transactionsCount":1},"warnings":[]},{"id":"2","classifications":[],"statistics":{"charactersCount":158,"transactionsCount":1},"warnings":[]},{"id":"3","classifications":[{"category":"BookRestaurant","confidenceScore":0.97}],"statistics":{"charactersCount":121,"transactionsCount":1},"warnings":[]}],"errors":[],"projectName":"textanalytics_multi_category_classify_project_name","deploymentName":"textanalytics_multi_category_classify_project_name"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/b0f6212f-5c05-4285-b047-88bf07e76854?showStats=True
version: 1
