{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs?stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "patients must have histologically confirmed NHL",
            "language": "en"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/entities/health/jobs/be21efb3-cfb4-4de4-8cd7-46bb8ca4b0b7"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/entities/health/jobs/be21efb3-cfb4-4de4-8cd7-46bb8ca4b0b7",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "be21efb3-cfb4-4de4-8cd7-46bb8ca4b0b7",
        "lastUpdateDateTime": "2021-11-19T20:12:42Z",
        "createdDateTime": "2021-11-19T20:12:42Z",
        "expirationDateTime": "2021-11-20T20:12:42Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [
                {
                  "offset": 19,
                  "length": 14,
                  "text": "histologically",
                  "category": "ExaminationName",
                  "confidenceScore": 1.0,
                  "name": "Histology Procedure",
                  "links": [
                    {
                      "dataSource": "UMLS",
                      "id": "C0344441"
                    },
                    {
                      "dataSource": "CHV",
                      "id": "0000030964"
                    },
                    {
                      "dataSource": "LNC",
                      "id": "MTHU010496"
                    },
                    {
                      "dataSource": "MDR",
                      "id": "10062005"
                    },
                    {
                      [...]
