interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}}],
      "entityRecognitionPiiTasks": [], "keyPhraseExtractionTasks": [], "entityLinkingTasks":
      [], "sentimentAnalysisTasks": [], "extractiveSummarizationTasks": [], "customEntityRecognitionTasks":
      [], "customSingleClassificationTasks": [], "customMultiClassificationTasks":
      []}, "analysisInput": {"documents": [{"id": "1", "text": "Microsoft was founded
      by Bill Gates and Paul Allen on April 4, 1975", "language": "en"}, {"id": "2",
      "text": "Microsoft fue fundado por Bill Gates y Paul Allen el 4 de abril de
      1975.", "language": "es"}, {"id": "3", "text": "Microsoft wurde am 4. April
      1975 von Bill Gates und Paul Allen gegr\u00fcndet.", "language": "de"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/4dc01a35-27a0-4e90-a212-670fa6a3fd05
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/4dc01a35-27a0-4e90-a212-670fa6a3fd05?showStats=True
  response:
    body:
      string: '{"jobId":"4dc01a35-27a0-4e90-a212-670fa6a3fd05","lastUpdateDateTime":"2021-10-06T20:48:25Z","createdDateTime":"2021-10-06T20:48:25Z","expirationDateTime":"2021-10-07T20:48:25Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/4dc01a35-27a0-4e90-a212-670fa6a3fd05?showStats=True
  response:
    body:
      string: '{"jobId":"4dc01a35-27a0-4e90-a212-670fa6a3fd05","lastUpdateDateTime":"2021-10-06T20:48:32Z","createdDateTime":"2021-10-06T20:48:25Z","expirationDateTime":"2021-10-07T20:48:25Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-06T20:48:32.9257288Z","state":"succeeded","results":{"statistics":{"documentsCount":3,"validDocumentsCount":3,"erroneousDocumentsCount":0,"transactionsCount":3},"documents":[{"id":"1","statistics":{"charactersCount":67,"transactionsCount":1},"entities":[{"text":"Microsoft","category":"Organization","offset":0,"length":9,"confidenceScore":0.99},{"text":"Bill
        Gates","category":"Person","offset":25,"length":10,"confidenceScore":1.0},{"text":"Paul
        Allen","category":"Person","offset":40,"length":10,"confidenceScore":1.0},{"text":"April
        4, 1975","category":"DateTime","subcategory":"Date","offset":54,"length":13,"confidenceScore":0.8}],"warnings":[]},{"id":"2","statistics":{"charactersCount":72,"transactionsCount":1},"entities":[{"text":"Microsoft","category":"Organization","offset":0,"length":9,"confidenceScore":1.0},{"text":"Bill
        Gates","category":"Person","offset":26,"length":10,"confidenceScore":1.0},{"text":"Paul
        Allen","category":"Person","offset":39,"length":10,"confidenceScore":0.99},{"text":"4
        de abril de 1975","category":"DateTime","subcategory":"Date","offset":53,"length":18,"confidenceScore":0.8}],"warnings":[]},{"id":"3","statistics":{"charactersCount":73,"transactionsCount":1},"entities":[{"text":"Microsoft","category":"Organization","offset":0,"length":9,"confidenceScore":1.0},{"text":"4.
        April 1975","category":"DateTime","subcategory":"Date","offset":19,"length":13,"confidenceScore":0.8},{"text":"Bill
        Gates","category":"Person","offset":37,"length":10,"confidenceScore":1.0},{"text":"Paul
        Allen","category":"Person","offset":52,"length":10,"confidenceScore":1.0}],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
