interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}, "taskName":
      "0"}], "entityRecognitionPiiTasks": [{"parameters": {"model-version": "latest",
      "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}, "taskName": "2"}],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      true}, "taskName": "1"}], "entityLinkingTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}, "taskName":
      "3"}], "sentimentAnalysisTasks": [{"parameters": {"model-version": "latest",
      "loggingOptOut": true, "opinionMining": false}, "taskName": "4"}]}, "analysisInput":
      {"documents": [{"id": "0", "text": "Test for logging disable", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/3e25f18b-8843-453e-b8c4-08bf03079a91
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/3e25f18b-8843-453e-b8c4-08bf03079a91
  response:
    body:
      string: '{"jobId":"3e25f18b-8843-453e-b8c4-08bf03079a91","lastUpdateDateTime":"2021-06-23T23:54:42Z","createdDateTime":"2021-06-23T23:54:39Z","expirationDateTime":"2021-06-24T23:54:39Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":4,"total":5,"entityLinkingTasks":[{"lastUpdateDateTime":"2021-06-23T23:54:40.883111Z","taskName":"3","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"name":"Test
        (assessment)","matches":[{"text":"Test","offset":0,"length":4,"confidenceScore":0.04}],"language":"en","id":"Test
        (assessment)","url":"https://en.wikipedia.org/wiki/Test_(assessment)","dataSource":"Wikipedia"}],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/3e25f18b-8843-453e-b8c4-08bf03079a91
  response:
    body:
      string: '{"jobId":"3e25f18b-8843-453e-b8c4-08bf03079a91","lastUpdateDateTime":"2021-06-23T23:54:46Z","createdDateTime":"2021-06-23T23:54:39Z","expirationDateTime":"2021-06-24T23:54:39Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":2,"failed":0,"inProgress":3,"total":5,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-06-23T23:54:46.5434249Z","taskName":"0","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"text":"logging","category":"Skill","offset":9,"length":7,"confidenceScore":0.61}],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityLinkingTasks":[{"lastUpdateDateTime":"2021-06-23T23:54:40.883111Z","taskName":"3","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"name":"Test
        (assessment)","matches":[{"text":"Test","offset":0,"length":4,"confidenceScore":0.04}],"language":"en","id":"Test
        (assessment)","url":"https://en.wikipedia.org/wiki/Test_(assessment)","dataSource":"Wikipedia"}],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/3e25f18b-8843-453e-b8c4-08bf03079a91
  response:
    body:
      string: '{"jobId":"3e25f18b-8843-453e-b8c4-08bf03079a91","lastUpdateDateTime":"2021-06-23T23:54:51Z","createdDateTime":"2021-06-23T23:54:39Z","expirationDateTime":"2021-06-24T23:54:39Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":3,"failed":0,"inProgress":2,"total":5,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-06-23T23:54:46.5434249Z","taskName":"0","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"text":"logging","category":"Skill","offset":9,"length":7,"confidenceScore":0.61}],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityLinkingTasks":[{"lastUpdateDateTime":"2021-06-23T23:54:40.883111Z","taskName":"3","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"name":"Test
        (assessment)","matches":[{"text":"Test","offset":0,"length":4,"confidenceScore":0.04}],"language":"en","id":"Test
        (assessment)","url":"https://en.wikipedia.org/wiki/Test_(assessment)","dataSource":"Wikipedia"}],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-06-23T23:54:51.6232085Z","taskName":"2","state":"succeeded","results":{"documents":[{"redactedText":"Test
        for logging disable","id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
