{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/recognition/pii?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022:[{\u0022id\u0022:\u00220\u0022,\u0022text\u0022:\u0022\uD83D\uDC69\uD83C\uDFFB SSN: 859-98-0987\u0022,\u0022language\u0022:\u0022en\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": "{\u0022documents\u0022:[{\u0022redactedText\u0022:\u0022\uD83D\uDC69\uD83C\uDFFB SSN: ***********\u0022,\u0022id\u0022:\u00220\u0022,\u0022entities\u0022:[{\u0022text\u0022:\u0022859-98-0987\u0022,\u0022category\u0022:\u0022USSocialSecurityNumber\u0022,\u0022offset\u0022:8,\u0022length\u0022:11,\u0022confidenceScore\u0022:0.65}],\u0022warnings\u0022:[]}],\u0022errors\u0022:[],\u0022modelVersion\u0022:\u00222021-01-15\u0022}"
    }
  ],
  "Variables": {}
}
