{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tasks": {
          "entityRecognitionTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "0"
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "2"
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true
              },
              "taskName": "1"
            }
          ],
          "entityLinkingTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "stringIndexType": "UnicodeCodePoint"
              },
              "taskName": "3"
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "opinionMining": false
              },
              "taskName": "4"
            }
          ],
          "extractiveSummarizationTasks": [
            {
              "parameters": {
                "model-version": "latest",
                "loggingOptOut": true,
                "stringIndexType": "UnicodeCodePoint",
                "sentenceCount": 3,
                "sortBy": "Offset"
              },
              "taskName": "5"
            }
          ],
          "customEntityRecognitionTasks": [
            {
              "parameters": {
                "project-name": "custom_entities_project_name",
                "deployment-name": "custom_entities_deployment_name",
                "loggingOptOut": true
              },
              "taskName": "8"
            }
          ],
          "customSingleClassificationTasks": [
            {
              "parameters": {
                "project-name": "single_category_classify_project_name",
                "deployment-name": "single_category_classify_deployment_name",
                "loggingOptOut": true
              },
              "taskName": "6"
            }
          ],
          "customMultiClassificationTasks": [
            {
              "parameters": {
                "project-name": "multi_category_classify_project_name",
                "deployment-name": "multi_category_classify_deployment_name",
                "loggingOptOut": true
              },
              "taskName": "7"
            }
          ]
        },
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test for logging disable",
              "language": "en"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/eb5faaab-6904-4f27-abc8-31173b36b24b"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/eb5faaab-6904-4f27-abc8-31173b36b24b",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "eb5faaab-6904-4f27-abc8-31173b36b24b",
        "lastUpdateDateTime": "2021-11-19T19:43:43Z",
        "createdDateTime": "2021-11-19T19:43:38Z",
        "expirationDateTime": "2021-11-20T19:43:38Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 6,
          "failed": 0,
          "inProgress": 3,
          "total": 9,
          "extractiveSummarizationTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:43:42.7813579Z",
              "taskName": "5",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "sentences": [
                      {
                        "text": "Test for logging disable",
                        "rankScore": 1.0,
                        "offset": 0,
                        "length": 24
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-08-01"
              }
            }
          ],
          "keyPhraseExtractionTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:43:42.2123402Z",
              "taskName": "1",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "Test",
                      "logging"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ],
          "sentimentAnalysisTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:43:43.8933398Z",
              "taskName": "4",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "sentiment": "negative",
                    "confidenceScores": {
                      "positive": 0.02,
                      "neutral": 0.12,
                      "negative": 0.86
                    },
                    "sentences": [
                      {
                        "sentiment": "negative",
                        "confidenceScores": {
                          "positive": 0.02,
                          "neutral": 0.12,
                          "negative": 0.86
                        },
                        "offset": 0,
                        "length": 24,
                        "text": "Test for logging disable"
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-04-01"
              }
            }
          ],
          "customEntityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:43:40.2540407Z",
              "taskName": "8",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
                "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
              }
            }
          ],
          "customSingleClassificationTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:43:40.3813933Z",
              "taskName": "6",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "classification": {
                      "category": "PlayMusic",
                      "confidenceScore": 0.6
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "659c1851-be0b-4142-b12a-087da9785926",
                "deploymentName": "659c1851-be0b-4142-b12a-087da9785926"
              }
            }
          ],
          "customMultiClassificationTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:43:40.4523728Z",
              "taskName": "7",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "classifications": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "7cdace98-537b-494a-b69a-c19754718025",
                "deploymentName": "7cdace98-537b-494a-b69a-c19754718025"
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/eb5faaab-6904-4f27-abc8-31173b36b24b",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "eb5faaab-6904-4f27-abc8-31173b36b24b",
        "lastUpdateDateTime": "2021-11-19T19:43:47Z",
        "createdDateTime": "2021-11-19T19:43:38Z",
        "expirationDateTime": "2021-11-20T19:43:38Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 8,
          "failed": 0,
          "inProgress": 1,
          "total": 9,
          "entityLinkingTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:43:46.9468345Z",
              "taskName": "3",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "bingId": "a7b11e27-5b63-19a5-b4dd-37b71149ecac",
                        "name": "Test (assessment)",
                        "matches": [
                          {
                            "text": "Test",
                            "offset": 0,
                            "length": 4,
                            "confidenceScore": 0.04
                          }
                        ],
                        "language": "en",
                        "id": "Test (assessment)",
                        "url": "https://en.wikipedia.org/wiki/Test_(assessment)",
                        "dataSource": "Wikipedia"
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            }
          ],
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:43:47.0918495Z",
              "taskName": "2",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "Test for logging disable",
                    "id": "0",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            }
          ],
          "extractiveSummarizationTasks": [
            {
              "lastUpdateDateTime": "2021-11-19T19:43:42.7813579Z",
              "taskName": "5",
              "state": "succeeded",
              "resu[...]
[...]
