{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test for logging disable",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "EntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "1",
            "kind": "KeyPhraseExtraction",
            "parameters": {
              "loggingOptOut": true
            }
          },
          {
            "taskName": "2",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "3",
            "kind": "EntityLinking",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "4",
            "kind": "SentimentAnalysis",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "5",
            "kind": "CustomSingleLabelClassification",
            "parameters": {
              "loggingOptOut": true,
              "projectName": "single_label_classify_project_name",
              "deploymentName": "single_label_classify_project_name"
            }
          },
          {
            "taskName": "6",
            "kind": "CustomMultiLabelClassification",
            "parameters": {
              "loggingOptOut": true,
              "projectName": "multi_label_classify_project_name",
              "deploymentName": "multi_label_classify_project_name"
            }
          },
          {
            "taskName": "7",
            "kind": "CustomEntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "projectName": "custom_entities_project_name",
              "deploymentName": "custom_entities_project_name",
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "8",
            "kind": "Healthcare",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/c06bc67b-8b7e-4f98-89e8-17900d61ba26?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/c06bc67b-8b7e-4f98-89e8-17900d61ba26?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "c06bc67b-8b7e-4f98-89e8-17900d61ba26",
        "lastUpdateDateTime": "2022-10-17T18:53:24Z",
        "createdDateTime": "2022-10-17T18:53:22Z",
        "expirationDateTime": "2022-10-18T18:53:22Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 8,
          "failed": 0,
          "inProgress": 1,
          "total": 9,
          "items": [
            {
              "kind": "EntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-10-17T18:53:23.7245854Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "text": "Test",
                        "category": "Skill",
                        "offset": 0,
                        "length": 4,
                        "confidenceScore": 0.83
                      },
                      {
                        "text": "logging",
                        "category": "Skill",
                        "offset": 9,
                        "length": 7,
                        "confidenceScore": 0.69
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            },
            {
              "kind": "KeyPhraseExtractionLROResults",
              "taskName": "1",
              "lastUpdateDateTime": "2022-10-17T18:53:23.7377623Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "Test",
                      "logging"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-10-01"
              }
            },
            {
              "kind": "EntityLinkingLROResults",
              "taskName": "3",
              "lastUpdateDateTime": "2022-10-17T18:53:24.022846Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "bingId": "a7b11e27-5b63-19a5-b4dd-37b71149ecac",
                        "name": "Test (assessment)",
                        "matches": [
                          {
                            "text": "Test",
                            "offset": 0,
                            "length": 4,
                            "confidenceScore": 0.04
                          }
                        ],
                        "language": "en",
                        "id": "Test (assessment)",
                        "url": "https://en.wikipedia.org/wiki/Test_(assessment)",
                        "dataSource": "Wikipedia"
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            },
            {
              "kind": "SentimentAnalysisLROResults",
              "taskName": "4",
              "lastUpdateDateTime": "2022-10-17T18:53:23.7909911Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "sentiment": "neutral",
                    "confidenceScores": {
                      "positive": 0.01,
                      "neutral": 0.8,
                      "negative": 0.19
                    },
                    "sentences": [
                      {
                        "sentiment": "neutral",
                        "confidenceScores": {
                          "positive": 0.01,
                          "neutral": 0.8,
                          "negative": 0.19
                        },
                        "offset": 0,
                        "length": 24,
                        "text": "Test for logging disable"
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-10-01"
              }
            },
            {
              "kind": "CustomSingleLabelClassificationLROResults",
              "taskName": "5",
              "lastUpdateDateTime": "2022-10-17T18:53:23.1349869Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "class": [
                      {
                        "category": "PlayMusic",
                        "confidenceScore": 0.6
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "single_label_classify_project_name",
                "deploymentName": "single_label_classify_project_name"
              }
            },
            {
              "kind": "CustomMultiLabelCl[...]
[...]
