interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [{"parameters":
      {"model-version": "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}}],
      "keyPhraseExtractionTasks": [], "entityLinkingTasks": [], "sentimentAnalysisTasks":
      []}, "analysisInput": {"documents": [{"id": "0", "text": "My SSN is 859-98-0987.",
      "language": "en"}, {"id": "1", "text": "Your ABA number - 111000025 - is the
      first 9 digits in the lower left hand corner of your personal check.", "language":
      "en"}, {"id": "2", "text": "Is 998.214.865-68 your Brazilian CPF number?", "language":
      "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/8d59bd72-0a6c-47b5-b4d7-26064c3b1e5c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/8d59bd72-0a6c-47b5-b4d7-26064c3b1e5c?showStats=True
  response:
    body:
      string: '{"jobId":"8d59bd72-0a6c-47b5-b4d7-26064c3b1e5c","lastUpdateDateTime":"2021-05-08T06:48:22Z","createdDateTime":"2021-05-08T06:48:21Z","expirationDateTime":"2021-05-09T06:48:21Z","status":"running","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-08T06:48:22Z"},"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/8d59bd72-0a6c-47b5-b4d7-26064c3b1e5c?showStats=True
  response:
    body:
      string: '{"jobId":"8d59bd72-0a6c-47b5-b4d7-26064c3b1e5c","lastUpdateDateTime":"2021-05-08T06:48:48Z","createdDateTime":"2021-05-08T06:48:21Z","expirationDateTime":"2021-05-09T06:48:21Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-08T06:48:48Z"},"completed":1,"failed":0,"inProgress":0,"total":1,"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-05-08T06:48:48.0258038Z","name":"NA","state":"succeeded","results":{"statistics":{"documentsCount":3,"validDocumentsCount":3,"erroneousDocumentsCount":0,"transactionsCount":3},"documents":[{"redactedText":"My
        SSN is ***********.","id":"0","statistics":{"charactersCount":22,"transactionsCount":1},"entities":[{"text":"859-98-0987","category":"USSocialSecurityNumber","offset":10,"length":11,"confidenceScore":0.65}],"warnings":[]},{"redactedText":"Your
        ABA number - ********* - is the first 9 digits in the lower left hand corner
        of your personal check.","id":"1","statistics":{"charactersCount":105,"transactionsCount":1},"entities":[{"text":"111000025","category":"PhoneNumber","offset":18,"length":9,"confidenceScore":0.8},{"text":"111000025","category":"ABARoutingNumber","offset":18,"length":9,"confidenceScore":0.75},{"text":"111000025","category":"NZSocialWelfareNumber","offset":18,"length":9,"confidenceScore":0.65}],"warnings":[]},{"redactedText":"Is
        998.214.865-68 your Brazilian CPF number?","id":"2","statistics":{"charactersCount":44,"transactionsCount":1},"entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
