{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/recognition/general?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022This was the best day of my life.\u0022, \u0022language\u0022: \u0022fr\u0022}, {\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022I did not like the hotel we stayed at. It was too expensive.\u0022, \u0022language\u0022: \u0022fr\u0022}, {\u0022id\u0022: \u00222\u0022, \u0022text\u0022: \u0022The restaurant was not as good as I hoped.\u0022, \u0022language\u0022: \u0022fr\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "entities": [],
            "warnings": []
          },
          {
            "id": "1",
            "entities": [
              {
                "text": "hotel",
                "category": "Location",
                "offset": 19,
                "length": 5,
                "confidenceScore": 0.99
              }
            ],
            "warnings": []
          },
          {
            "id": "2",
            "entities": [
              {
                "text": "restaurant",
                "category": "Location",
                "offset": 4,
                "length": 10,
                "confidenceScore": 0.96
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-06-01"
      }
    }
  ],
  "Variables": {}
}
