interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Bill Gates is the CEO of Microsoft.",
      "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.2/entities/recognition/pii?model-version=latest&showStats=true&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: '{"statistics":{"documentsCount":1,"validDocumentsCount":1,"erroneousDocumentsCount":0,"transactionsCount":1},"documents":[{"redactedText":"**********
        is the CEO of *********.","id":"0","statistics":{"charactersCount":35,"transactionsCount":1},"entities":[{"text":"Bill
        Gates","category":"Person","offset":0,"length":10,"confidenceScore":0.81},{"text":"Microsoft","category":"Organization","offset":25,"length":9,"confidenceScore":0.64}],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1
    status:
      code: 200
      message: OK
    url: https://westcentralus.api.cognitive.microsoft.com//text/analytics/v3.1-preview.2/entities/recognition/pii?model-version=latest&showStats=true&stringIndexType=UnicodeCodePoint
version: 1
