{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022tasks\u0022: {\u0022entityRecognitionTasks\u0022: [], \u0022entityRecognitionPiiTasks\u0022: [], \u0022keyPhraseExtractionTasks\u0022: [], \u0022entityLinkingTasks\u0022: [], \u0022sentimentAnalysisTasks\u0022: [], \u0022extractiveSummarizationTasks\u0022: [], \u0022customEntityRecognitionTasks\u0022: [], \u0022customSingleClassificationTasks\u0022: [], \u0022customMultiClassificationTasks\u0022: [{\u0022parameters\u0022: {\u0022project-name\u0022: \u0022multi_category_classify_project_[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/2e05a0cb-2328-4868-9250-748dbaed25ea?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "2e05a0cb-2328-4868-9250-748dbaed25ea",
        "lastUpdateDateTime": "2021-12-14T18:59:12Z",
        "createdDateTime": "2021-12-14T18:59:11Z",
        "expirationDateTime": "2021-12-15T18:59:11Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "customMultiClassificationTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T18:59:12.2907492Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 3,
                  "validDocumentsCount": 3,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 3
                },
                "documents": [
                  {
                    "id": "1",
                    "classifications": [],
                    "statistics": {
                      "charactersCount": 295,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "classifications": [],
                    "statistics": {
                      "charactersCount": 158,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "3",
                    "classifications": [
                      {
                        "category": "BookRestaurant",
                        "confidenceScore": 0.97
                      }
                    ],
                    "statistics": {
                      "charactersCount": 121,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "multi_category_classify_project_name",
                "deploymentName": "multi_category_classify_project_name"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
