interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "hola", "language": "es"}, {"id": "2",
      "text": "", "language": "en"}, {"id": "3", "text": "Is 998.214.865-68 your Brazilian
      CPF number?", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/pii?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"3","entities":[{"text":"998.214.865-68","type":"Brazil
        CPF Number","offset":3,"length":14,"score":0.85}]}],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innerError":{"code":"UnsupportedLanguageCode","message":"Supplied
        language not supported. Pass in one of: en"}}},{"id":"2","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innerError":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2020-02-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=1
    status:
      code: 200
      message: OK
version: 1
