{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/sentiment?stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022Microsoft was founded by Bill Gates and Paul Allen.\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u00222\u0022, \u0022text\u0022: \u0022I did not like the hotel we stayed at. It was too expensive.\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u00223\u0022, \u0022text\u0022: \u0022The restaurant had really good food. I recommend you try it.\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "1",
            "sentiment": "neutral",
            "confidenceScores": {
              "positive": 0.01,
              "neutral": 0.99,
              "negative": 0.0
            },
            "sentences": [
              {
                "sentiment": "neutral",
                "confidenceScores": {
                  "positive": 0.01,
                  "neutral": 0.99,
                  "negative": 0.0
                },
                "offset": 0,
                "length": 51,
                "text": "Microsoft was founded by Bill Gates and Paul Allen."
              }
            ],
            "warnings": []
          },
          {
            "id": "2",
            "sentiment": "negative",
            "confidenceScores": {
              "positive": 0.01,
              "neutral": 0.22,
              "negative": 0.77
            },
            "sentences": [
              {
                "sentiment": "negative",
                "confidenceScores": {
                  "positive": 0.01,
                  "neutral": 0.45,
                  "negative": 0.54
                },
                "offs[...]
