interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "stringIndexType": "UnicodeCodePoint"}, "taskName": "0"}], "entityRecognitionPiiTasks":
      [], "keyPhraseExtractionTasks": [], "entityLinkingTasks": [], "sentimentAnalysisTasks":
      [], "extractiveSummarizationTasks": [], "customEntityRecognitionTasks": [],
      "customSingleClassificationTasks": [], "customMultiClassificationTasks": []},
      "analysisInput": {"documents": [{"id": "56", "text": ":)", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/b3826c85-3937-422e-b2fb-6b6d6fed4f22
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/b3826c85-3937-422e-b2fb-6b6d6fed4f22?showStats=True
  response:
    body:
      string: '{"jobId":"b3826c85-3937-422e-b2fb-6b6d6fed4f22","lastUpdateDateTime":"2021-12-08T22:47:35Z","createdDateTime":"2021-12-08T22:47:34Z","expirationDateTime":"2021-12-09T22:47:34Z","status":"succeeded","errors":[],"tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-12-08T22:47:35.9202074Z","taskName":"0","state":"succeeded","results":{"statistics":{"documentsCount":1,"validDocumentsCount":1,"erroneousDocumentsCount":0,"transactionsCount":1},"documents":[{"id":"56","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
