{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "SentimentAnalysis",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "This is written in English.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "error": {
          "code": "401",
          "message": "Access denied due to invalid subscription key or wrong API endpoint. Make sure to provide a valid key for an active subscription and use a correct regional API endpoint for your resource."
        }
      }
    }
  ],
  "Variables": {}
}
