interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "stringIndexType": "TextElements_v8"}}], "entityRecognitionPiiTasks":
      [{"parameters": {"model-version": "latest", "stringIndexType": "TextElements_v8"}}],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest"}}]},
      "analysisInput": {"documents": [{"id": "0", "text": "This was the best day of
      my life.", "language": ""}, {"id": "1", "text": "I did not like the hotel we
      stayed at. It was too expensive.", "language": ""}, {"id": "2", "text": "The
      restaurant was not as good as I hoped.", "language": ""}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/278f6dc3-7315-4fc3-9c9d-a4dd220e40dc_637408224000000000
    status:
      code: 202
      message: Accepted
    url: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/278f6dc3-7315-4fc3-9c9d-a4dd220e40dc_637408224000000000
  response:
    body:
      string: '{"jobId":"278f6dc3-7315-4fc3-9c9d-a4dd220e40dc_637408224000000000","lastUpdateDateTime":"2020-11-13T22:24:47Z","createdDateTime":"2020-11-13T22:24:46Z","expirationDateTime":"2020-11-14T22:24:46Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2020-11-13T22:24:47Z"},"completed":1,"failed":0,"inProgress":2,"total":3,"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2020-11-13T22:24:47.4971463Z","results":{"inTerminalState":true,"documents":[{"id":"0","keyPhrases":["best
        day","life"],"warnings":[]},{"id":"1","keyPhrases":["hotel"],"warnings":[]},{"id":"2","keyPhrases":["restaurant"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/278f6dc3-7315-4fc3-9c9d-a4dd220e40dc_637408224000000000
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/278f6dc3-7315-4fc3-9c9d-a4dd220e40dc_637408224000000000
  response:
    body:
      string: '{"jobId":"278f6dc3-7315-4fc3-9c9d-a4dd220e40dc_637408224000000000","lastUpdateDateTime":"2020-11-13T22:24:47Z","createdDateTime":"2020-11-13T22:24:46Z","expirationDateTime":"2020-11-14T22:24:46Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2020-11-13T22:24:47Z"},"completed":2,"failed":0,"inProgress":1,"total":3,"entityRecognitionTasks":[{"lastUpdateDateTime":"2020-11-13T22:24:47.4971463Z","results":{"inTerminalState":true,"documents":[{"id":"0","entities":[],"warnings":[]},{"id":"1","entities":[{"text":"hotel","category":"Location","offset":19,"length":5,"confidenceScore":0.76}],"warnings":[]},{"id":"2","entities":[{"text":"restaurant","category":"Location","subcategory":"Structural","offset":4,"length":10,"confidenceScore":0.71}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2020-11-13T22:24:47.4971463Z","results":{"inTerminalState":true,"documents":[{"id":"0","keyPhrases":["best
        day","life"],"warnings":[]},{"id":"1","keyPhrases":["hotel"],"warnings":[]},{"id":"2","keyPhrases":["restaurant"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/278f6dc3-7315-4fc3-9c9d-a4dd220e40dc_637408224000000000
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/278f6dc3-7315-4fc3-9c9d-a4dd220e40dc_637408224000000000
  response:
    body:
      string: '{"jobId":"278f6dc3-7315-4fc3-9c9d-a4dd220e40dc_637408224000000000","lastUpdateDateTime":"2020-11-13T22:24:47Z","createdDateTime":"2020-11-13T22:24:46Z","expirationDateTime":"2020-11-14T22:24:46Z","status":"succeeded","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2020-11-13T22:24:47Z"},"completed":3,"failed":0,"inProgress":0,"total":3,"entityRecognitionTasks":[{"lastUpdateDateTime":"2020-11-13T22:24:47.4971463Z","results":{"inTerminalState":true,"documents":[{"id":"0","entities":[],"warnings":[]},{"id":"1","entities":[{"text":"hotel","category":"Location","offset":19,"length":5,"confidenceScore":0.76}],"warnings":[]},{"id":"2","entities":[{"text":"restaurant","category":"Location","subcategory":"Structural","offset":4,"length":10,"confidenceScore":0.71}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2020-11-13T22:24:47.4971463Z","results":{"inTerminalState":true,"documents":[{"redactedText":"This
        was the best day of my life.","id":"0","entities":[],"warnings":[]},{"redactedText":"I
        did not like the hotel we stayed at. It was too expensive.","id":"1","entities":[],"warnings":[]},{"redactedText":"The
        restaurant was not as good as I hoped.","id":"2","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2020-11-13T22:24:47.4971463Z","results":{"inTerminalState":true,"documents":[{"id":"0","keyPhrases":["best
        day","life"],"warnings":[]},{"id":"1","keyPhrases":["hotel"],"warnings":[]},{"id":"2","keyPhrases":["restaurant"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/278f6dc3-7315-4fc3-9c9d-a4dd220e40dc_637408224000000000
version: 1
