interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "", "language": "en"}, {"id": "2", "text":
      "Hola", "language": "Spanish"}, {"id": "3", "text": "", "language": "de"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/general?showStats=false
  response:
    body:
      string: '{"documents":[],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innerError":{"code":"InvalidDocument","message":"Document
        text is empty."}}},{"id":"2","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innerError":{"code":"UnsupportedLanguageCode","message":"Supplied
        language not supported. Pass in one of: ar,cs,da,de,en,es,fi,fr,hu,it,ja,ko,nl,no,pl,pt-BR,pt-PT,ru,sv,tr,zh-Hans"}}},{"id":"3","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innerError":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2020-02-01"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.0-preview.1/entities/recognition/general?showStats=false
version: 1
