interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I should take my cat to the veterinarian.",
      "language": "es"}, {"id": "2", "text": "Este es un document escrito en Espa\u00f1ol.",
      "language": "es"}, {"id": "3", "text": "\u732b\u306f\u5e78\u305b", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/entities/recognition/general?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: "{\"documents\":[{\"id\":\"1\",\"entities\":[{\"text\":\"veterinarian\",\"category\":\"PersonType\",\"offset\":28,\"length\":12,\"confidenceScore\":1.0}],\"warnings\":[]},{\"id\":\"2\",\"entities\":[{\"text\":\"un\",\"category\":\"Quantity\",\"subcategory\":\"Number\",\"offset\":8,\"length\":2,\"confidenceScore\":0.8},{\"text\":\"Espa\xF1ol\",\"category\":\"Skill\",\"offset\":31,\"length\":7,\"confidenceScore\":0.94}],\"warnings\":[]},{\"id\":\"3\",\"entities\":[],\"warnings\":[]}],\"errors\":[],\"modelVersion\":\"2021-06-01\"}"
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3
    status:
      code: 200
      message: OK
    url: https://python-textanalytics.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/entities/recognition/general?stringIndexType=UnicodeCodePoint
version: 1
