interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "stringIndexType": "TextElements_v8"}}], "entityRecognitionPiiTasks":
      [{"parameters": {"model-version": "latest", "stringIndexType": "TextElements_v8"}}],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest"}}]},
      "analysisInput": {"documents": [{"id": "1", "text": "hello world", "language":
      "en"}, {"id": "1", "text": "I did not like the hotel we stayed at.", "language":
      "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: '{"error":{"code":"InvalidArgument","message":"Request contains duplicated
        Ids. Make sure each document has a unique Id."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
