{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs?stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022patients must have histologically confirmed NHL\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/df95ee44-4bec-4d35-8208-0bafe289c6c1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/df95ee44-4bec-4d35-8208-0bafe289c6c1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "df95ee44-4bec-4d35-8208-0bafe289c6c1",
        "lastUpdateDateTime": "2021-12-14T02:14:07Z",
        "createdDateTime": "2021-12-14T02:14:06Z",
        "expirationDateTime": "2021-12-15T02:14:06Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [
                {
                  "offset": 19,
                  "length": 14,
                  "text": "histologically",
                  "category": "ExaminationName",
                  "confidenceScore": 1.0,
                  "name": "Histology Procedure",
                  "links": [
                    {
                      "dataSource": "UMLS",
                      "id": "C0344441"
                    },
                    {
                      "dataSource": "CHV",
                      "id": "0000030964"
                    },
                    {
                      "dataSource": "LNC",
                      "id": "MTHU010496"
                    },
                    {
                      "dataSource": "MDR",
                      "id": "10062005"
                    },
                    {
                      [...]
