interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest"}}]},
      "analysisInput": {"documents": [{"id": "0", "text": "Microsoft was founded by
      Bill Gates and Paul Allen", "language": "en"}, {"id": "1", "text": "Microsoft
      fue fundado por Bill Gates y Paul Allen", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/8e3ee073-a7d1-4e0d-8889-dc3af7c13c18_637405632000000000
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/8e3ee073-a7d1-4e0d-8889-dc3af7c13c18_637405632000000000
  response:
    body:
      string: '{"jobId":"8e3ee073-a7d1-4e0d-8889-dc3af7c13c18_637405632000000000","lastUpdateDateTime":"2020-11-10T06:32:53Z","createdDateTime":"2020-11-10T06:32:52Z","expirationDateTime":"2020-11-11T06:32:52Z","status":"succeeded","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2020-11-10T06:32:53Z"},"completed":1,"failed":0,"inProgress":0,"total":1,"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2020-11-10T06:32:53.1281844Z","results":{"inTerminalState":true,"documents":[{"id":"0","keyPhrases":["Bill
        Gates","Paul Allen","Microsoft"],"warnings":[]},{"id":"1","keyPhrases":["Microsoft
        fue fundado por Bill Gates y Paul Allen"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
