{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "56",
              "text": ":)",
              "language": "en"
            },
            {
              "id": "0",
              "text": ":(",
              "language": "en"
            },
            {
              "id": "19",
              "text": ":P",
              "language": "en"
            },
            {
              "id": "1",
              "text": ":D",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "EntityRecognition",
            "parameters": {
              "model-version": "latest",
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "1",
            "kind": "KeyPhraseExtraction",
            "parameters": {
              "model-version": "latest"
            }
          },
          {
            "taskName": "2",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "model-version": "latest",
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "3",
            "kind": "EntityLinking",
            "parameters": {
              "model-version": "latest",
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "4",
            "kind": "SentimentAnalysis",
            "parameters": {
              "model-version": "latest",
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "5",
            "kind": "ExtractiveSummarization",
            "parameters": {
              "model-version": "latest",
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/f51cbaf3-4375-4ffd-bd97-4a058033fe91?api-version=2022-03-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/f51cbaf3-4375-4ffd-bd97-4a058033fe91?api-version=2022-03-01-preview\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "f51cbaf3-4375-4ffd-bd97-4a058033fe91",
        "lastUpdateDateTime": "2022-04-20T23:37:43Z",
        "createdDateTime": "2022-04-20T23:37:39Z",
        "expirationDateTime": "2022-04-21T23:37:39Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 4,
          "failed": 0,
          "inProgress": 2,
          "total": 6,
          "items": [
            {
              "kind": "KeyPhraseExtractionLROResults",
              "taskName": "1",
              "lastUpdateDateTime": "2022-04-20T23:37:41.4303954Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 4,
                  "validDocumentsCount": 4,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 4
                },
                "documents": [
                  {
                    "id": "56",
                    "keyPhrases": [],
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "keyPhrases": [],
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "keyPhrases": [],
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "keyPhrases": [],
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            },
            {
              "kind": "EntityLinkingLROResults",
              "taskName": "3",
              "lastUpdateDateTime": "2022-04-20T23:37:41.4889601Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 4,
                  "validDocumentsCount": 4,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 4
                },
                "documents": [
                  {
                    "id": "56",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "statistics": {
                      "charactersCount": 2,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "statistics": {
                      "charactersCount": 2,
                [...]
[...]
