{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/sentiment?model-version=latest\u0026showStats=true\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u002256\u0022, \u0022text\u0022: \u0022:)\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022:(\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u002222\u0022, \u0022text\u0022: \u0022\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u002219\u0022, \u0022text\u0022: \u0022:P\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022:D\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=4,CognitiveServices.TextAnalytics.TextRecords=4"
      },
      "ResponseBody": {
        "statistics": {
          "documentsCount": 5,
          "validDocumentsCount": 4,
          "erroneousDocumentsCount": 1,
          "transactionsCount": 4
        },
        "documents": [
          {
            "id": "56",
            "sentiment": "positive",
            "statistics": {
              "charactersCount": 2,
              "transactionsCount": 1
            },
            "confidenceScores": {
              "positive": 0.89,
              "neutral": 0.1,
              "negative": 0.01
            },
            "sentences": [
              {
                "sentiment": "positive",
                "confidenceScores": {
                  "positive": 0.89,
                  "neutral": 0.1,
                  "negative": 0.01
                },
                "offset": 0,
                "length": 2,
                "text": ":)"
              }
            ],
            "warnings": []
          },
          {
            "id": "0",
            "sentiment": "negative",
            "statistics": {
              "charactersCount": 2,
              "transactionsCount": 1
            },
            "confidenceScores": {
              "positive": 0.0,
              "neutral": 0.02,
              "negative": 0.98
            },
            "sentences": [
              {
                "sentiment": "negative",
                "confidenceScores": {
                  "positive": 0[...]
