{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/recognition/pii?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022:[{\u0022id\u0022:\u00221\u0022,\u0022text\u0022:\u0022I should take my cat to the veterinarian.\u0022,\u0022language\u0022:\u0022de\u0022},{\u0022id\u0022:\u00224\u0022,\u0022text\u0022:\u0022Este es un document escrito en Espa\u00F1ol.\u0022,\u0022language\u0022:\u0022de\u0022},{\u0022id\u0022:\u00223\u0022,\u0022text\u0022:\u0022\u732B\u306F\u5E78\u305B\u0022,\u0022language\u0022:\u0022de\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "documents": [
          {
            "redactedText": "I should take my cat to the ************.",
            "id": "1",
            "entities": [
              {
                "text": "veterinarian",
                "category": "PersonType",
                "offset": 28,
                "length": 12,
                "confidenceScore": 0.98
              }
            ],
            "warnings": []
          },
          {
            "redactedText": "Este es un document escrito en Espa\u00F1ol.",
            "id": "4",
            "entities": [],
            "warnings": []
          },
          {
            "redactedText": "\u732B\u306F\u5E78\u305B",
            "id": "3",
            "entities": [],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-01-15"
      }
    }
  ],
  "Variables": {}
}
