{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/sentiment?stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u00222\u0022, \u0022text\u0022: \u0022I did not like the hotel we stayed at. It was too expensive.\u0022, \u0022language\u0022: \u0022english\u0022}, {\u0022id\u0022: \u00223\u0022, \u0022text\u0022: \u0022The restaurant had really good food. I recommend you try it.\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "3",
            "sentiment": "positive",
            "confidenceScores": {
              "positive": 0.98,
              "neutral": 0.02,
              "negative": 0.0
            },
            "sentences": [
              {
                "sentiment": "positive",
                "confidenceScores": {
                  "positive": 1.0,
                  "neutral": 0.0,
                  "negative": 0.0
                },
                "offset": 0,
                "length": 36,
                "text": "The restaurant had really good food."
              },
              {
                "sentiment": "positive",
                "confidenceScores": {
                  "positive": 0.96,
                  "neutral": 0.03,
                  "negative": 0.01
                },
                "offset": 37,
                "length": 23,
                "text": "I recommend you try it."
              }
            ],
            "warnings": []
          }
        ],
        "errors": [
          {
            "id": "1",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid document in request.",
              "innererror": {
                "code": "InvalidDocument",
                "message": "Document text is empty."
              }
            }
          },
          {
            "id": "2",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid Language Code.",
              "innererror": {
                "code": "UnsupportedLanguageCode",
                "message": "Invalid language code. Supported languages: de,en,es,fr,hi,it,ja,ko,nl,no,pt-BR,pt-PT,tr,zh-Hans,zh-Hant. For additional details see https://aka.ms/text-analytics/language-support?tabs=sentiment-analysis"
              }
            }
          }
        ],
        "modelVersion": "2020-04-01"
      }
    }
  ],
  "Variables": {}
}
