{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/keyPhrases?showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "This was the best day of my life.",
            "language": ""
          },
          {
            "id": "1",
            "text": "I did not like the hotel we stayed at. It was too expensive.",
            "language": ""
          },
          {
            "id": "2",
            "text": "The restaurant was not as good as I hoped.",
            "language": ""
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "keyPhrases": [
              "best day",
              "life"
            ],
            "warnings": []
          },
          {
            "id": "1",
            "keyPhrases": [
              "hotel"
            ],
            "warnings": []
          },
          {
            "id": "2",
            "keyPhrases": [
              "restaurant"
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-06-01"
      }
    }
  ],
  "Variables": {}
}
