{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "5",
              "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "EntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "1",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "2",
            "kind": "EntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/a38b58fe-8024-4e2d-ab92-b2c9638bccf1?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/a38b58fe-8024-4e2d-ab92-b2c9638bccf1?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "a38b58fe-8024-4e2d-ab92-b2c9638bccf1",
        "lastUpdatedDateTime": "2022-06-09T17:29:41Z",
        "createdDateTime": "2022-06-09T17:29:37Z",
        "expirationDateTime": "2022-06-10T17:29:37Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 3,
          "failed": 0,
          "inProgress": 0,
          "total": 3,
          "items": [
            {
              "kind": "EntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-06-09T17:29:41.2348593Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "5",
                    "entities": [
                      {
                        "text": "cent",
                        "category": "Quantity",
                        "subcategory": "Percentage",
                        "offset": 4,
                        "length": 4,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "Government Accountability Office",
                        "category": "Organization",
                        "offset": 23,
                        "length": 32,
                        "confidenceScore": 0.99
                      },
                      {
                        "text": "GAO",
                        "category": "Organization",
                        "offset": 57,
                        [...]
