interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Microsoft was founded by Bill Gates
      and Paul Allen", "language": "en"}, {"id": "1", "text": "Microsoft fue fundado
      por Bill Gates y Paul Allen", "language": "en"}, {"id": "2", "text": "", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/keyPhrases?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"0","keyPhrases":["Bill Gates","Paul Allen","Microsoft"],"warnings":[]},{"id":"1","keyPhrases":["Microsoft
        fue fundado por Bill Gates y Paul Allen"],"warnings":[]}],"errors":[{"id":"2","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innererror":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2020-07-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=2,CognitiveServices.TextAnalytics.TextRecords=2
    status:
      code: 200
      message: OK
    url: https://centralus.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/keyPhrases?showStats=false
version: 1
