interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I did not like the hotel we stayed
      at.", "language": "english"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.ppe.cognitiveservices.azure.com/text/analytics/v3.0/entities/linking?model-version=bad&showStats=false
  response:
    body:
      string: '{"error":{"code":"InvalidRequest","message":"Specified Model version
        is incorrect. Allowed values are latest,2020-02-01"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://westus2.ppe.cognitiveservices.azure.com/text/analytics/v3.0/entities/linking?model-version=bad&showStats=false
version: 1
