{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022tasks\u0022: {\u0022entityRecognitionTasks\u0022: [], \u0022entityRecognitionPiiTasks\u0022: [], \u0022keyPhraseExtractionTasks\u0022: [], \u0022entityLinkingTasks\u0022: [], \u0022sentimentAnalysisTasks\u0022: [], \u0022extractiveSummarizationTasks\u0022: [{\u0022parameters\u0022: {\u0022model-version\u0022: \u0022latest\u0022, \u0022loggingOptOut\u0022: false, \u0022stringIndexType\u0022: \u0022UnicodeCodePoint\u0022, \u0022sentenceCount\u0022: 3, \u0022sortBy\u0022: \u0022Offset\u002[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/c2594219-f0a1-468a-b845-bc47130b068d?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "c2594219-f0a1-468a-b845-bc47130b068d",
        "lastUpdateDateTime": "2021-12-14T02:11:07Z",
        "createdDateTime": "2021-12-14T02:11:07Z",
        "expirationDateTime": "2021-12-15T02:11:07Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/c2594219-f0a1-468a-b845-bc47130b068d?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "c2594219-f0a1-468a-b845-bc47130b068d",
        "lastUpdateDateTime": "2021-12-14T02:11:15Z",
        "createdDateTime": "2021-12-14T02:11:07Z",
        "expirationDateTime": "2021-12-15T02:11:07Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "extractiveSummarizationTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T02:11:15.5914423Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 2,
                  "validDocumentsCount": 2,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 3
                },
                "documents": [
                  {
                    "id": "1",
                    "statistics": {
                      "charactersCount": 1625,
                      "transactionsCount": 2
                    },
                    "sentences": [
                      {
                        "text": "The government of British Prime Minster Theresa May has been plunged into turmoil with the resignation of two senior Cabinet ministers in a deep split over her Brexit strategy.",
                        "rankScore": 0.57,
                        "offset": 0,
                        "length": 176
                      },
                      {
                        "text": "The Foreign Secretary Boris Johnson, quit on Monday, hours after the resignation late on Sunday night of the minister in charge of Brexit negotiations, David Davis.",
                        "rankScore": 1.0,
                        "offset": 177,
                        "length": 164
                      },
                      {
                        "text": "Their decision to leave the government came three days after May appeared to have agreed a deal with herfractured Cabinet on the UK\u0027s post Brexit relationship with the EU.",
                        "rankScore": 0.47,
                        "offset": 342,
                        "length": 171
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "statistics": {
                      "charactersCount": 49,
                      "transactionsCount": 1
                    },
                    "sentences": [
                      {
                        "text": "Microsoft fue fundado por Bill Gates y Paul Allen",
                        "rankScore": 1.0,
                        "offset": 0,
                        "length": 49
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-08-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
