interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      "en"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "language":
      "en"}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/122ae90d-c539-4318-a935-4e0c947447f5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/122ae90d-c539-4318-a935-4e0c947447f5
  response:
    body:
      string: '{"jobId":"122ae90d-c539-4318-a935-4e0c947447f5","lastUpdateDateTime":"2020-11-19T21:35:08Z","createdDateTime":"2020-11-19T21:35:08Z","expirationDateTime":"2020-11-20T21:35:08Z","status":"notStarted","errors":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/122ae90d-c539-4318-a935-4e0c947447f5
  response:
    body:
      string: '{"jobId":"122ae90d-c539-4318-a935-4e0c947447f5","lastUpdateDateTime":"2020-11-19T21:35:13Z","createdDateTime":"2020-11-19T21:35:08Z","expirationDateTime":"2020-11-20T21:35:08Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"1","entities":[],"relations":[],"warnings":[]},{"id":"2","entities":[],"relations":[],"warnings":[]},{"id":"3","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
