{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.0/sentiment",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "I like nature. I do not like being inside",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "sentiment": "mixed",
            "confidenceScores": {
              "positive": 0.38,
              "neutral": 0.14,
              "negative": 0.48
            },
            "sentences": [
              {
                "sentiment": "positive",
                "confidenceScores": {
                  "positive": 0.74,
                  "neutral": 0.23,
                  "negative": 0.02
                },
                "offset": 0,
                "length": 15,
                "text": "I like nature. "
              },
              {
                "sentiment": "negative",
                "confidenceScores": {
                  "positive": 0.01,
                  "neutral": 0.04,
                  "negative": 0.94
                },
                "offset": 15,
                "length": 26,
                "text": "I do not like being inside"
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-10-01"
      }
    }
  ],
  "Variables": {}
}
