{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs?stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "I will go to the park.",
            "language": "en"
          },
          {
            "id": "2",
            "text": "I did not like the hotel we stayed at.",
            "language": "en"
          },
          {
            "id": "3",
            "text": "The restaurant had really good food.",
            "language": "en"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/entities/health/jobs/4a028337-c8de-4acc-904a-1433c4785d94"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/entities/health/jobs/4a028337-c8de-4acc-904a-1433c4785d94",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "4a028337-c8de-4acc-904a-1433c4785d94",
        "lastUpdateDateTime": "2021-11-19T20:15:06Z",
        "createdDateTime": "2021-11-19T20:15:05Z",
        "expirationDateTime": "2021-11-20T20:15:05Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [
            {
              "id": "1",
              "entities": [],
              "relations": [],
              "warnings": []
            },
            {
              "id": "2",
              "entities": [],
              "relations": [],
              "warnings": []
            },
            {
              "id": "3",
              "entities": [],
              "relations": [],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-05-15"
        }
      }
    }
  ],
  "Variables": {}
}
