interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "stringIndexType": "TextElements_v8"}}], "entityRecognitionPiiTasks":
      [{"parameters": {"model-version": "latest", "stringIndexType": "TextElements_v8"}}],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest"}}]},
      "analysisInput": {"documents": [{"id": "0", "text": "Test passing cls to endpoint",
      "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/292bb737-a429-4701-9f7a-daa1e7694c3b_637408224000000000
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/292bb737-a429-4701-9f7a-daa1e7694c3b_637408224000000000
  response:
    body:
      string: '{"jobId":"292bb737-a429-4701-9f7a-daa1e7694c3b_637408224000000000","lastUpdateDateTime":"2020-11-13T21:02:25Z","createdDateTime":"2020-11-13T21:02:24Z","expirationDateTime":"2020-11-14T21:02:24Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2020-11-13T21:02:25Z"},"completed":1,"failed":0,"inProgress":2,"total":3,"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2020-11-13T21:02:25.3879787Z","results":{"inTerminalState":true,"documents":[{"id":"0","keyPhrases":["Test","cls","endpoint"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/292bb737-a429-4701-9f7a-daa1e7694c3b_637408224000000000
  response:
    body:
      string: '{"jobId":"292bb737-a429-4701-9f7a-daa1e7694c3b_637408224000000000","lastUpdateDateTime":"2020-11-13T21:02:25Z","createdDateTime":"2020-11-13T21:02:24Z","expirationDateTime":"2020-11-14T21:02:24Z","status":"succeeded","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2020-11-13T21:02:25Z"},"completed":3,"failed":0,"inProgress":0,"total":3,"entityRecognitionTasks":[{"lastUpdateDateTime":"2020-11-13T21:02:25.3879787Z","results":{"inTerminalState":true,"documents":[{"id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2020-11-13T21:02:25.3879787Z","results":{"inTerminalState":true,"documents":[{"redactedText":"Test
        passing cls to endpoint","id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2020-11-13T21:02:25.3879787Z","results":{"inTerminalState":true,"documents":[{"id":"0","keyPhrases":["Test","cls","endpoint"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
