interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This was the best day of my life.",
      "language": ""}, {"id": "1", "text": "I did not like the hotel we stayed at.
      It was too expensive.", "language": ""}, {"id": "2", "text": "The restaurant
      was not as good as I hoped.", "language": ""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/recognition/general?showStats=false&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: '{"documents":[{"id":"0","entities":[],"warnings":[]},{"id":"1","entities":[{"text":"hotel","category":"Location","offset":19,"length":5,"confidenceScore":0.89}],"warnings":[]},{"id":"2","entities":[{"text":"restaurant","category":"Location","subcategory":"Structural","offset":4,"length":10,"confidenceScore":0.87}],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3
    status:
      code: 200
      message: OK
version: 1
