interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [], "entityLinkingTasks": [], "sentimentAnalysisTasks":
      [], "extractiveSummarizationTasks": [{"parameters": {"model-version": "latest",
      "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint", "sentenceCount":
      3, "sortBy": "Offset"}, "taskName": "0"}], "customEntityRecognitionTasks": [],
      "customSingleClassificationTasks": [], "customMultiClassificationTasks": []},
      "analysisInput": {"documents": [{"id": "1", "text": "The government of British
      Prime Minster Theresa May has been plunged into turmoil with the resignation
      of two senior Cabinet ministers in a deep split over her Brexit strategy. The
      Foreign Secretary Boris Johnson, quit on Monday, hours after the resignation
      late on Sunday night of the minister in charge of Brexit negotiations, David
      Davis. Their decision to leave the government came three days after May appeared
      to have agreed a deal with herfractured Cabine[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/a9563c4c-c626-432e-96c7-9d5b5b54f6ac?showStats=True
  response:
    body:
      string: '{"jobId":"a9563c4c-c626-432e-96c7-9d5b5b54f6ac","lastUpdateDateTime":"2021-10-07T23:45:45Z","createdDateTime":"2021-10-07T23:45:44Z","expirationDateTime":"2021-10-08T23:45:44Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/a9563c4c-c626-432e-96c7-9d5b5b54f6ac?showStats=True
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/a9563c4c-c626-432e-96c7-9d5b5b54f6ac?showStats=True
  response:
    body:
      string: '{"jobId":"a9563c4c-c626-432e-96c7-9d5b5b54f6ac","lastUpdateDateTime":"2021-10-07T23:46:02Z","createdDateTime":"2021-10-07T23:45:44Z","expirationDateTime":"2021-10-08T23:45:44Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"extractiveSummarizationTasks":[{"lastUpdateDateTime":"2021-10-07T23:46:02.866601Z","taskName":"0","state":"succeeded","results":{"statistics":{"documentsCount":2,"validDocumentsCount":2,"erroneousDocumentsCount":0,"transactionsCount":3},"documents":[{"id":"1","statistics":{"charactersCount":1625,"transactionsCount":2},"sentences":[{"text":"The
        government of British Prime Minster Theresa May has been plunged into turmoil
        with the resignation of two senior Cabinet ministers in a deep split over
        her Brexit strategy.","rankScore":0.57,"offset":0,"length":176},{"text":"The
        Foreign Secretary Boris Johnson, quit on Monday, hours after the resignation
        late on Sunday night of the minister in charge of Brexit negotiations, David
        Davis.","rankScore":1.0,"offset":177,"length":164},{"text":"Their decision
        to leave the government came three days after May appeared to have agreed
        a deal with herfractured Cabinet on the UK''s post Brexit relationship with
        the EU.","rankScore":0.47,"offset":342,"length":171}],"warnings":[]},{"id":"2","statistics":{"charactersCount":49,"transactionsCount":1},"sentences":[{"text":"Microsoft
        fue fundado por Bill Gates y Paul Allen","rankScore":1.0,"offset":0,"length":49}],"warnings":[]}],"errors":[],"modelVersion":"2021-08-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/a9563c4c-c626-432e-96c7-9d5b5b54f6ac?showStats=True
version: 1
