interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I should take my cat to the veterinarian.",
      "language": "en"}, {"id": "4", "text": "Este es un document escrito en Espa\u00f1ol.",
      "language": "en"}, {"id": "3", "text": "\u732b\u306f\u5e78\u305b", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/98e59347-1017-42c9-918a-b3bf0b8f4dc2
    status:
      code: 202
      message: Accepted
    url: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs?stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/98e59347-1017-42c9-918a-b3bf0b8f4dc2
  response:
    body:
      string: '{"jobId":"98e59347-1017-42c9-918a-b3bf0b8f4dc2","lastUpdateDateTime":"2020-10-31T02:13:41Z","createdDateTime":"2020-10-31T02:13:38Z","expirationDateTime":"2020-11-01T02:13:38Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"1","statistics":{"charactersCount":41,"transactionsCount":1},"entities":[{"offset":17,"length":3,"text":"cat","category":"TreatmentName","confidenceScore":0.74,"isNegated":false,"links":[{"dataSource":"UMLS","id":"C0280589"},{"dataSource":"CHV","id":"0000027342"},{"dataSource":"NCI","id":"C10277"},{"dataSource":"PDQ","id":"CDR0000040974"}]},{"offset":28,"length":12,"text":"veterinarian","category":"HealthcareProfession","confidenceScore":0.99,"isNegated":false}]},{"id":"4","statistics":{"charactersCount":39,"transactionsCount":1},"entities":[]},{"id":"3","statistics":{"charactersCount":4,"transactionsCount":1},"entities":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/98e59347-1017-42c9-918a-b3bf0b8f4dc2
version: 1
