interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Test for logging disable", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/entities/health/jobs?stringIndexType=UnicodeCodePoint&loggingOptOut=true
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/entities/health/jobs/2fe38174-9cfe-433b-a75b-18cad9b254c5
    status:
      code: 202
      message: Accepted
    url: https://textanalyticskrpratictextanalytics.cognitiveservices.azure.com//text/analytics/v3.1/entities/health/jobs?stringIndexType=UnicodeCodePoint&loggingOptOut=true
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/entities/health/jobs/2fe38174-9cfe-433b-a75b-18cad9b254c5
  response:
    body:
      string: '{"jobId":"2fe38174-9cfe-433b-a75b-18cad9b254c5","lastUpdateDateTime":"2021-06-23T01:46:49Z","createdDateTime":"2021-06-23T01:46:48Z","expirationDateTime":"2021-06-24T01:46:48Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2021-05-15"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalyticskrpratictextanalytics.cognitiveservices.azure.com/text/analytics/v3.1/entities/health/jobs/2fe38174-9cfe-433b-a75b-18cad9b254c5
version: 1
