{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Baby not likely to have Meningitis. In case of fever in the mother, consider Penicillin for the baby too.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/df7715da-1f39-4ca6-9c13-aea0af78550a?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/df7715da-1f39-4ca6-9c13-aea0af78550a?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "df7715da-1f39-4ca6-9c13-aea0af78550a",
        "lastUpdatedDateTime": "2022-06-09T23:12:53Z",
        "createdDateTime": "2022-06-09T23:12:53Z",
        "expirationDateTime": "2022-06-10T23:12:53Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-06-09T23:12:53.7837351Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "offset": 0,
                        "length": 4,
                        "text": "Baby",
                        "category": "Age",
                        "confidenceScore": 0.94,
                        "name": "Infant",
                        "links": [
                          {
                            "dataSource": "UMLS",
                            "id": "C0021270"
                          },
                          {
                            "dataSource": "AOD",
                            "id": "0000005273"
                          },
                          {
                            "dataSource": "CCPSS",
                            "id": "0030805"
                          },
                          {
                            "dataSource": "CHV",
                            "id": "[...]
