{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "hello world",
              "language": "en"
            },
            {
              "id": "1",
              "text": "hello world",
              "language": "en"
            },
            {
              "id": "2",
              "text": "hello world",
              "language": "en"
            },
            {
              "id": "3",
              "text": "hello world",
              "language": "en"
            },
            {
              "id": "4",
              "text": "hello world",
              "language": "en"
      [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/e0d1b37a-80ad-4188-9af9-1c869c8c8f8c?api-version=2022-04-01-preview\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "e0d1b37a-80ad-4188-9af9-1c869c8c8f8c",
        "lastUpdateDateTime": "2022-05-03T00:04:47Z",
        "createdDateTime": "2022-05-03T00:04:42Z",
        "expirationDateTime": "2022-05-04T00:04:42Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 6,
          "total": 6,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/e0d1b37a-80ad-4188-9af9-1c869c8c8f8c?api-version=2022-04-01-preview\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "e0d1b37a-80ad-4188-9af9-1c869c8c8f8c",
        "lastUpdateDateTime": "2022-05-03T00:04:53Z",
        "createdDateTime": "2022-05-03T00:04:42Z",
        "expirationDateTime": "2022-05-04T00:04:42Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 4,
          "failed": 0,
          "inProgress": 2,
          "total": 6,
          "items": [
            {
              "kind": "EntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-05-03T00:04:50.9574797Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 20,
                  "validDocumentsCount": 20,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 20
                },
                "documents": [
                  {
                    "id": "0",
                    "statistics": {
                      "charactersCount": 11,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "statistics": {
                      "charactersCount": 11,
                      "transactionsCount": 1
                    },
                    "entities": [],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "statistics": {
                      "charactersCount": 11,
                      "transactionsCount": 1
      [...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/e0d1b37a-80ad-4188-9af9-1c869c8c8f8c?api-version=2022-04-01-preview\u0026showStats=true\u0026top=5\u0026skip=20",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "e0d1b37a-80ad-4188-9af9-1c869c[...]
