interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [{"parameters":
      {"model-version": "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"},
      "taskName": "1"}], "keyPhraseExtractionTasks": [], "entityLinkingTasks": [],
      "sentimentAnalysisTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      false, "opinionMining": false}, "taskName": "0"}]}, "analysisInput": {"documents":
      [{"id": "1", "text": "I did not like the hotel we stayed at.", "language": "tr"},
      {"id": "2", "text": "I did not like the hotel we stayed at.", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/d5c0b8b9-ce7d-4056-9015-67531f39622c
    status:
      code: 202
      message: Accepted
    url: https://textanalyticskrpratictextanalytics.cognitiveservices.azure.com//text/analytics/v3.1/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/d5c0b8b9-ce7d-4056-9015-67531f39622c
  response:
    body:
      string: '{"jobId":"d5c0b8b9-ce7d-4056-9015-67531f39622c","lastUpdateDateTime":"2021-06-24T00:07:59Z","createdDateTime":"2021-06-24T00:07:58Z","expirationDateTime":"2021-06-25T00:07:58Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":2,"total":2}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalyticskrpratictextanalytics.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/d5c0b8b9-ce7d-4056-9015-67531f39622c
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/d5c0b8b9-ce7d-4056-9015-67531f39622c
  response:
    body:
      string: '{"jobId":"d5c0b8b9-ce7d-4056-9015-67531f39622c","lastUpdateDateTime":"2021-06-24T00:08:17Z","createdDateTime":"2021-06-24T00:07:58Z","expirationDateTime":"2021-06-25T00:07:58Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":1,"total":2,"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-06-24T00:08:17.5532263Z","taskName":"1","state":"succeeded","results":{"documents":[{"redactedText":"I
        did not like the hotel we stayed at.","id":"2","entities":[],"warnings":[]}],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: ja,ko,zh-Hans,de,en,es,fr,it,pt-BR,pt-PT.
        For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"}}}],"modelVersion":"2021-01-15"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalyticskrpratictextanalytics.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/d5c0b8b9-ce7d-4056-9015-67531f39622c
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/d5c0b8b9-ce7d-4056-9015-67531f39622c
  response:
    body:
      string: '{"jobId":"d5c0b8b9-ce7d-4056-9015-67531f39622c","lastUpdateDateTime":"2021-06-24T00:08:42Z","createdDateTime":"2021-06-24T00:07:58Z","expirationDateTime":"2021-06-25T00:07:58Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":2,"failed":0,"inProgress":0,"total":2,"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-06-24T00:08:17.5532263Z","taskName":"1","state":"succeeded","results":{"documents":[{"redactedText":"I
        did not like the hotel we stayed at.","id":"2","entities":[],"warnings":[]}],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: ja,ko,zh-Hans,de,en,es,fr,it,pt-BR,pt-PT.
        For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"}}}],"modelVersion":"2021-01-15"}}],"sentimentAnalysisTasks":[{"lastUpdateDateTime":"2021-06-24T00:08:42.0656699Z","taskName":"0","state":"succeeded","results":{"documents":[{"id":"1","sentiment":"neutral","confidenceScores":{"positive":0.06,"neutral":0.55,"negative":0.39},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.06,"neutral":0.55,"negative":0.39},"offset":0,"length":38,"text":"I
        did not like the hotel we stayed at."}],"warnings":[]},{"id":"2","sentiment":"negative","confidenceScores":{"positive":0.01,"neutral":0.45,"negative":0.54},"sentences":[{"sentiment":"negative","confidenceScores":{"positive":0.01,"neutral":0.45,"negative":0.54},"offset":0,"length":38,"text":"I
        did not like the hotel we stayed at."}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalyticskrpratictextanalytics.cognitiveservices.azure.com/text/analytics/v3.1/analyze/jobs/d5c0b8b9-ce7d-4056-9015-67531f39622c
version: 1
