{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/languages?showStats=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "hello world",
            "countryHint": "US"
          },
          {
            "id": "1",
            "text": "I did not like the hotel we stayed at.",
            "countryHint": "US"
          }
        ]
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid document in request.",
          "innererror": {
            "code": "InvalidDocument",
            "message": "Request contains duplicated Ids. Make sure each document has a unique Id."
          }
        }
      }
    }
  ],
  "Variables": {}
}
