interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"stringIndexType":
      "UnicodeCodePoint"}, "taskName": "0"}], "entityRecognitionPiiTasks": [{"parameters":
      {"stringIndexType": "UnicodeCodePoint"}, "taskName": "2"}], "keyPhraseExtractionTasks":
      [{"parameters": {}, "taskName": "1"}], "entityLinkingTasks": [{"parameters":
      {"stringIndexType": "UnicodeCodePoint"}, "taskName": "3"}], "sentimentAnalysisTasks":
      [{"parameters": {"stringIndexType": "UnicodeCodePoint"}, "taskName": "4"}],
      "extractiveSummarizationTasks": [{"parameters": {"stringIndexType": "UnicodeCodePoint"},
      "taskName": "5"}], "customEntityRecognitionTasks": [], "customSingleClassificationTasks":
      [], "customMultiClassificationTasks": []}, "analysisInput": {"documents": [{"id":
      "0", "text": "hello world", "language": "en"}, {"id": "1", "text": "hello world",
      "language": "en"}, {"id": "2", "text": "hello world", "language": "en"}, {"id":
      "3", "text": "hello world", "language": "en"}, {"id": "4", "text": "hello world",
      "language": "en"}, {"id": "5", "text": "hello world", "language": "en"}, {"id":
      "6", "text": "hello world", "language": "en"}, {"id": "7", "text": "hello world",
      "language": "en"}, {"id": "8", "text": "hello world", "language": "en"}, {"id":
      "9", "text": "hello world", "language": "en"}, {"id": "10", "text": "hello world",
      "language": "en"}, {"id": "11", "text": "hello world", "language": "en"}, {"id":
      "12", "text": "hello world", "language": "en"}, {"id": "13", "text": "hello
      world", "language": "en"}, {"id": "14", "text": "hello world", "language": "en"},
      {"id": "15", "text": "hello world", "language": "en"}, {"id": "16", "text":
      "hello world", "language": "en"}, {"id": "17", "text": "hello world", "language":
      "en"}, {"id": "18", "text": "hello world", "language": "en"}, {"id": "19", "text":
      "hello world", "language": "en"}, {"id": "20", "text": "hello world", "language":
      "en"}, {"id": "21", "text": "hello world", "language": "en"}, {"id": "22", "text":
      "hello world", "language": "en"}, {"id": "23", "text": "hello world", "language":
      "en"}, {"id": "24", "text": "hello world", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/1e78a116-a020-4057-af56-5d56aeef668e
    status:
      code: 202
      message: Accepted
    url: https://python-textanalytics.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/1e78a116-a020-4057-af56-5d56aeef668e?showStats=True
  response:
    body:
      string: '{"jobId":"1e78a116-a020-4057-af56-5d56aeef668e","lastUpdateDateTime":"2021-12-08T22:50:58Z","createdDateTime":"2021-12-08T22:50:52Z","expirationDateTime":"2021-12-09T22:50:52Z","status":"running","errors":[],"tasks":{"completed":0,"failed":0,"inProgress":6,"total":6}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://python-textanalytics.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/1e78a116-a020-4057-af56-5d56aeef668e?showStats=True
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/1e78a116-a020-4057-af56-5d56aeef668e?showStats=True
  response:
    body:
      string: '{"jobId":"1e78a116-a020-4057-af56-5d56aeef668e","lastUpdateDateTime":"2021-12-08T22:50:59Z","createdDateTime":"2021-12-08T22:50:52Z","expirationDateTime":"2021-12-09T22:50:52Z","status":"running","errors":[],"tasks":{"completed":2,"failed":0,"inProgress":4,"total":6,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-12-08T22:50:58.7175285Z","taskName":"0","state":"succeeded","results":{"statistics":{"documentsCount":20,"validDocumentsCount":20,"erroneousDocumentsCount":0,"transactionsCount":20},"documents":[{"id":"0","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"1","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"2","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"3","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"4","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"5","statistics":{"charactersCount":11,"transactionsCount":1},"entities":[],"warnings":[]},{"id":"6","[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/1e78a116-a020-4057-af56-5d56aeef668e?showStats=false&$top=5&$skip=20
  response:
    body:
      string: '{"jobId":"1e78a116-a020-4057-af56-5d56aeef668e","lastUpdateDateTime":"2021-12-08T22:51:15Z","createdDateTime":"2021-12-08T22:50:52Z","expirationDateTime":"2021-12-09T22:50:52Z","status":"succeeded","errors":[],"tasks":{"completed":6,"failed":0,"inProgress":0,"total":6,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-12-08T22:50:58.7175285Z","taskName":"0","state":"succeeded","results":{"documents":[{"id":"20","entities":[],"warnings":[]},{"id":"21","entities":[],"warnings":[]},{"id":"22","entities":[],"warnings":[]},{"id":"23","entities":[],"warnings":[]},{"id":"24","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityLinkingTasks":[{"lastUpdateDateTime":"2021-12-08T22:51:08.1255893Z","taskName":"3","state":"succeeded","results":{"documents":[{"id":"20","entities":[],"warnings":[]},{"id":"21","entities":[],"warnings":[]},{"id":"22","entities":[],"warnings":[]},{"id":"23","entities":[],"warnings":[]},{"id":"24","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-12-08T22:50:59.5522002Z","taskName":"2","state":"succeeded","results":{"documents":[{"redactedText":"hello
        world","id":"20","entities":[],"warnings":[]},{"redactedText":"hello world","id":"21","entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"22","entities":[],"warnings":[]},{"redactedText":"hello world","id":"23","entities":[],"warnings":[]},{"redactedText":"hello
        world","id":"24","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"extractiveSummarizationTasks":[{"lastUpdateDateTime":"2021-12-08T22:51:15.9745823Z","taskName":"5","state":"succeeded","results":{"documents":[{"id":"20","sentences":[],"warnings":[]},{"id":"21","sentences":[],"warnings":[]},{"id":"22","sentences":[],"warnings":[]},{"id":"23","sentences":[],"warnings":[]},{"id":"24","sentences":[],"warnings":[]}],"errors":[],"modelVersion":"2021-08-01"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-12-08T22:51:06.4735749Z","taskName":"1","state":"succeeded","results":{"documents":[{"id":"20","keyPhrases":["hello
        world"],"warnings":[]},{"id":"21","keyPhrases":["hello world"],"warnings":[]},{"id":"22","keyPhrases":["hello
        world"],"warnings":[]},{"id":"23","keyPhrases":["hello world"],"warnings":[]},{"id":"24","keyPhrases":["hello
        world"],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"sentimentAnalysisTasks":[{"lastUpdateDateTime":"2021-12-08T22:51:05.6315653Z","taskName":"4","state":"succeeded","results":{"documents":[{"id":"20","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"21","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"22","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"23","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]},{"id":"24","sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.02,"neutral":0.97,"negative":0.01},"offset":0,"length":11,"text":"hello
        world"}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://python-textanalytics.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/analyze/jobs/1e78a116-a020-4057-af56-5d56aeef668e?showStats=false&$top=5&$skip=20
version: 1
