{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/linking?loggingOptOut=true\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022Test for logging disable\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "entities": [
              {
                "bingId": "a7b11e27-5b63-19a5-b4dd-37b71149ecac",
                "name": "Test (assessment)",
                "matches": [
                  {
                    "text": "Test",
                    "offset": 0,
                    "length": 4,
                    "confidenceScore": 0.04
                  }
                ],
                "language": "en",
                "id": "Test (assessment)",
                "url": "https://en.wikipedia.org/wiki/Test_(assessment)",
                "dataSource": "Wikipedia"
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-06-01"
      }
    }
  ],
  "Variables": {}
}
