{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "56",
              "text": ":)",
              "language": "en"
            },
            {
              "id": "0",
              "text": ":(",
              "language": "en"
            },
            {
              "id": "22",
              "text": "",
              "language": "en"
            },
            {
              "id": "19",
              "text": ":P",
              "language": "en"
            },
            {
              "id": "1",
              "text": ":D",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/0df48e8e-50a6-4b94-80fc-c14ccbd68fe4?api-version=2022-04-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/0df48e8e-50a6-4b94-80fc-c14ccbd68fe4?api-version=2022-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0df48e8e-50a6-4b94-80fc-c14ccbd68fe4",
        "lastUpdateDateTime": "2022-05-03T00:10:55Z",
        "createdDateTime": "2022-05-03T00:10:54Z",
        "expirationDateTime": "2022-05-04T00:10:54Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-05-03T00:10:55.9762104Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "56",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  },
                  {
                    "id": "0",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  },
                  {
                    "id": "19",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "22",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "modelVersion": "2022-03-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
