{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/linking?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "0",
            "text": "Test passing cls to endpoint",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "0",
            "entities": [
              {
                "bingId": "9d84a0ad-fb96-8089-b2e7-9bdb0ee2551e",
                "name": ".test",
                "matches": [
                  {
                    "text": "Test",
                    "offset": 0,
                    "length": 4,
                    "confidenceScore": 0.02
                  }
                ],
                "language": "en",
                "id": ".test",
                "url": "https://en.wikipedia.org/wiki/.test",
                "dataSource": "Wikipedia"
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-06-01"
      }
    }
  ],
  "Variables": {}
}
