{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/linking?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "56",
            "text": ":)",
            "language": "en"
          },
          {
            "id": "0",
            "text": ":(",
            "language": "en"
          },
          {
            "id": "22",
            "text": "",
            "language": "en"
          },
          {
            "id": "19",
            "text": ":P",
            "language": "en"
          },
          {
            "id": "1",
            "text": ":D",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=4,CognitiveServices.TextAnalytics.TextRecords=4"
      },
      "ResponseBody": {
        "documents": [
          {
            "id": "56",
            "entities": [],
            "warnings": []
          },
          {
            "id": "0",
            "entities": [],
            "warnings": []
          },
          {
            "id": "19",
            "entities": [],
            "warnings": []
          },
          {
            "id": "1",
            "entities": [],
            "warnings": []
          }
        ],
        "errors": [
          {
            "id": "22",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid document in request.",
              "innererror": {
                "code": "InvalidDocument",
                "message": "Document text is empty."
              }
            }
          }
        ],
        "modelVersion": "2021-06-01"
      }
    }
  ],
  "Variables": {}
}
