{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs?stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022I will go to the park.\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/0fe4f8f1-0dd3-4fc5-874c-6e0dafec7f17"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/0fe4f8f1-0dd3-4fc5-874c-6e0dafec7f17",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0fe4f8f1-0dd3-4fc5-874c-6e0dafec7f17",
        "lastUpdateDateTime": "2021-12-14T02:13:13Z",
        "createdDateTime": "2021-12-14T02:13:12Z",
        "expirationDateTime": "2021-12-15T02:13:12Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [
            {
              "id": "1",
              "entities": [],
              "relations": [],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-05-15"
        }
      }
    }
  ],
  "Variables": {}
}
