interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [], "entityLinkingTasks": [], "sentimentAnalysisTasks":
      [], "extractiveSummarizationTasks": [{"parameters": {"model-version": "latest",
      "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint", "sentenceCount":
      5, "sortBy": "Rank"}}], "customEntityRecognitionTasks": [], "customSingleClassificationTasks":
      [], "customMultiClassificationTasks": []}, "analysisInput": {"documents": [{"id":
      "0", "text": "The government of British Prime Minster Theresa May has been plunged
      into turmoil with the resignation of two senior Cabinet ministers in a deep
      split over her Brexit strategy. The Foreign Secretary Boris Johnson, quit on
      Monday, hours after the resignation late on Sunday night of the minister in
      charge of Brexit negotiations, David Davis. Their decision to leave the government
      came three days after May appeared to have agreed a deal with herfractured Cabinet
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/ac216c3c-9fdc-44b0-9aa9-5cdab35b685b?showStats=True
  response:
    body:
      string: '{"jobId":"ac216c3c-9fdc-44b0-9aa9-5cdab35b685b","lastUpdateDateTime":"2021-10-06T20:49:18Z","createdDateTime":"2021-10-06T20:49:18Z","expirationDateTime":"2021-10-07T20:49:18Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/ac216c3c-9fdc-44b0-9aa9-5cdab35b685b?showStats=True
  response:
    body:
      string: '{"jobId":"ac216c3c-9fdc-44b0-9aa9-5cdab35b685b","lastUpdateDateTime":"2021-10-06T20:49:35Z","createdDateTime":"2021-10-06T20:49:18Z","expirationDateTime":"2021-10-07T20:49:18Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"extractiveSummarizationTasks":[{"lastUpdateDateTime":"2021-10-06T20:49:35.9577722Z","state":"succeeded","results":{"statistics":{"documentsCount":1,"validDocumentsCount":1,"erroneousDocumentsCount":0,"transactionsCount":2},"documents":[{"id":"0","statistics":{"charactersCount":1625,"transactionsCount":2},"sentences":[{"text":"The
        Foreign Secretary Boris Johnson, quit on Monday, hours after the resignation
        late on Sunday night of the minister in charge of Brexit negotiations, David
        Davis.","rankScore":1.0,"offset":177,"length":164},{"text":"The government
        of British Prime Minster Theresa May has been plunged into turmoil with the
        resignation of two senior Cabinet ministers in a deep split over her Brexit
        strategy.","rankScore":0.57,"offset":0,"length":176},{"text":"Their decision
        to leave the government came three days after May appeared to have agreed
        a deal with herfractured Cabinet on the UK''s post Brexit relationship with
        the EU.","rankScore":0.47,"offset":342,"length":171},{"text":"That plan is
        now in tatters and her political future appears uncertain.","rankScore":0.36,"offset":514,"length":71},{"text":"The
        Prime Minister''s latest plitical drama began late on Sunday night when Davis
        quit, declaring he could not support May''s Brexit plan.","rankScore":0.26,"offset":918,"length":136}],"warnings":[]}],"errors":[],"modelVersion":"2021-08-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
