interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Hello world", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/6723fc18-4e7d-492a-9e6d-d27032bd19b4
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/6723fc18-4e7d-492a-9e6d-d27032bd19b4
  response:
    body:
      string: '{"jobId":"6723fc18-4e7d-492a-9e6d-d27032bd19b4","lastUpdateDateTime":"2021-01-30T01:01:37Z","createdDateTime":"2021-01-30T01:01:35Z","expirationDateTime":"2021-01-31T01:01:35Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/6723fc18-4e7d-492a-9e6d-d27032bd19b4
version: 1
