{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "A recent report by the Government Accountability Office (GAO) found that the dramatic increase in oil and natural gas development on federal lands over the past six years has stretched the staff of the BLM to a point that it has been unable to meet its environmental protection responsibilities.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "CustomSingleLabelClassification",
            "parameters": {
              "projectName": "single_category_classify_project_name",
              "deploymentName": "single_category_classify_project_name"
            }
          },
          {
            "taskName": "1",
            "kind": "CustomMultiLabelClassification",
            "parameters": {
              "projectName": "multi_category_classify_project_name",
              "deploymentName": "multi_category_classify_project_name"
            }
          },
          {
            "taskName": "2",
            "kind": "CustomEntityRecognition",
            "parameters": {
              "projectName": "custom_entities_project_name",
              "deploymentName": "custom_entities_project_name",
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/e87b77fc-3fec-47b4-9338-d0f219f88ed9?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/e87b77fc-3fec-47b4-9338-d0f219f88ed9?api-version=2022-05-01\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "e87b77fc-3fec-47b4-9338-d0f219f88ed9",
        "lastUpdatedDateTime": "2022-06-09T22:01:50Z",
        "createdDateTime": "2022-06-09T22:01:49Z",
        "expirationDateTime": "2022-06-10T22:01:49Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 3,
          "failed": 0,
          "inProgress": 0,
          "total": 3,
          "items": [
            {
              "kind": "CustomSingleLabelClassificationLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-06-09T22:01:50.1185336Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 2,
                  "validDocumentsCount": 1,
                  "erroneousDocumentsCount": 1,
                  "transactionsCount": 1
                },
                "documents": [
                  {
                    "id": "1",
                    "class": [
                      {
                        "category": "RateBook",
                        "confidenceScore": 0.76
                      }
                    ],
                    "statistics": {
                      "charactersCount": 295,
                      "transactionsCount": 1
                    },
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "2",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "projectName": "single_category_classify_project_name",
                "deploymentName": "single_category_classify_project_name"
              }
            },
            {
              "kind": "CustomMultiLabelClassificationLROResults",
              "taskName": "1",
            [...]
