interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}, "taskName":
      "0"}], "entityRecognitionPiiTasks": [{"parameters": {"model-version": "latest",
      "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}, "taskName": "2"}],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      false}, "taskName": "1"}], "entityLinkingTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}, "taskName":
      "3"}], "sentimentAnalysisTasks": [{"parameters": {"model-version": "latest",
      "loggingOptOut": false, "opinionMining": false}, "taskName": "4"}], "extractiveSummarizationTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false, "stringIndexType":
      "UnicodeCodePoint", "sentenceCount": 3, "sortBy": "Offset"}, "taskName": "5"}],
      "customEntityRecognitionTasks": [], "customSingleClassificationTasks": [], "customMultiClassificationTasks":
      []}, "analysisInput": {"documents": [{"id": "0", "text": "This should fail because
      we''re passing in an invalid language hint", "language": "notalanguage"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/20700fe9-a203-4c42-96c5-a902ca3cbbbb
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/20700fe9-a203-4c42-96c5-a902ca3cbbbb
  response:
    body:
      string: '{"jobId":"20700fe9-a203-4c42-96c5-a902ca3cbbbb","lastUpdateDateTime":"2021-10-07T23:40:53Z","createdDateTime":"2021-10-07T23:40:52Z","expirationDateTime":"2021-10-08T23:40:52Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":6,"total":6}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/20700fe9-a203-4c42-96c5-a902ca3cbbbb
  response:
    body:
      string: '{"jobId":"20700fe9-a203-4c42-96c5-a902ca3cbbbb","lastUpdateDateTime":"2021-10-07T23:41:08Z","createdDateTime":"2021-10-07T23:40:52Z","expirationDateTime":"2021-10-08T23:40:52Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":4,"failed":0,"inProgress":2,"total":6,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-07T23:41:08.1351322Z","taskName":"0","state":"succeeded","results":{"documents":[],"errors":[{"id":"0","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en,es,de,fr,zh-Hans,ar,cs,da,fi,hu,it,ja,ko,no,nl,pl,pt-BR,pt-PT,ru,sv,tr.
        For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"}}}],"modelVersion":"2021-06-01"}}],"entityLinkingTasks":[{"lastUpdateDateTime":"2021-10-07T23:41:06.1967898Z","taskName":"3","state":"succeeded","results":{"documents":[],"errors":[{"id":"0","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en,es. For additional details see https://aka.ms/text-analytics/language-support?tabs=entity-linking"}}}],"modelVersion":"2021-06-01"}}],"ent[...]
[...]
