interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}}],
      "entityRecognitionPiiTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      true, "stringIndexType": "UnicodeCodePoint"}}], "keyPhraseExtractionTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false}}], "entityLinkingTasks":
      []}, "analysisInput": {"documents": [{"id": "0", "text": "This is written in
      English.", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze
  response:
    body:
      string: '{"error":{"code":"401","message":"Access denied due to invalid subscription
        key or wrong API endpoint. Make sure to provide a valid key for an active
        subscription and use a correct regional API endpoint for your resource."}}'
    headers:
    status:
      code: 401
      message: PermissionDenied
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/analyze
version: 1
