{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "PiiEntityRecognition",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "My name is Inigo Montoya, my SSN in 243-56-0987 and my phone number is 333-3333.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "PiiEntityRecognitionResults",
        "results": {
          "documents": [
            {
              "redactedText": "My name is *************, my SSN in *********** and my phone number is ********.",
              "id": "0",
              "entities": [
                {
                  "text": "Inigo Montoya",
                  "category": "Person",
                  "offset": 11,
                  "length": 13,
                  "confidenceScore": 0.99
                },
                {
                  "text": "243-56-0987",
                  "category": "USSocialSecurityNumber",
                  "offset": 36,
                  "length": 11,
                  "confidenceScore": 0.85
                },
                {
                  "text": "333-3333",
                  "category": "PhoneNumber",
                  "offset": 71,
                  "length": 8,
                  "confidenceScore": 0.8
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-01-15"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "PiiEntityRecognition",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "My name is Inigo Montoya, my SSN in 243-56-0987 and my phone number is 333-3333.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "piiCategories": [
            "USSocialSecurityNumber"
          ],
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "PiiEntityRecognitionResults",
        "results": {
          "documents": [
            {
              "redactedText": "My name is Inigo Montoya, my SSN in *********** and my phone number is 333-3333.",
              "id": "0",
              "entities": [
                {
                  "text": "243-56-0987",
                  "category": "USSocialSecurityNumber",
                  "offset": 36,
                  "length": 11,
                  "confidenceScore": 0.85
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-01-15"
        }
      }
    }
  ],
  "Variables": {}
}
