interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}, "taskName":
      "2"}, {"parameters": {"model-version": "latest", "loggingOptOut": false, "stringIndexType":
      "UnicodeCodePoint"}, "taskName": "7"}], "entityRecognitionPiiTasks": [{"parameters":
      {"model-version": "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"},
      "taskName": "1"}, {"parameters": {"model-version": "latest", "loggingOptOut":
      true, "piiCategories": ["USSocialSecurityNumber"], "stringIndexType": "UnicodeCodePoint"},
      "taskName": "5"}], "keyPhraseExtractionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false}, "taskName": "6"}, {"parameters": {"model-version":
      "latest", "loggingOptOut": false}, "taskName": "11"}], "entityLinkingTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false, "stringIndexType":
      "UnicodeCodePoint"}, "taskName": "3"}, {"parameters": {"model-version": "latest",
      "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}, "taskName":
      "9"}], "sentimentAnalysisTasks": [{"parameters": {"model-version": "latest",
      "loggingOptOut": false, "opinionMining": false}, "taskName": "0"}, {"parameters":
      {"model-version": "latest", "loggingOptOut": false, "opinionMining": true},
      "taskName": "8"}], "extractiveSummarizationTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint", "sentenceCount":
      3, "sortBy": "Rank"}, "taskName": "4"}, {"parameters": {"model-version": "latest",
      "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint", "sentenceCount":
      1, "sortBy": "Offset"}, "taskName": "10"}], "customEntityRecognitionTasks":
      [], "customSingleClassificationTasks": [], "customMultiClassificationTasks":
      []}, "analysisInput": {"documents": [{"id": "28", "text": "My SSN is 859-98-0987.
      Here is another sentence.", "language": "en"}, {"id": "3", "text": "Is 998.214.865-68
      your Brazilian CPF number? Here is another sentence.", "language": "en"}, {"id":
      "5", "text": "A recent report by the Government Accountability Office (GAO)
      found that the dramatic increase in oil and natural gas development on federal
      lands over the past six years has stretched the staff of the BLM to a point
      that it has been unable to meet its environmental protection responsibilities.",
      "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/cd102a7a-8695-4a06-8a8e-69e68ca7758f
    status:
      code: 202
      message: Accepted
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/cd102a7a-8695-4a06-8a8e-69e68ca7758f
  response:
    body:
      string: '{"jobId":"cd102a7a-8695-4a06-8a8e-69e68ca7758f","lastUpdateDateTime":"2021-10-07T23:51:49Z","createdDateTime":"2021-10-07T23:51:47Z","expirationDateTime":"2021-10-08T23:51:47Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":12,"total":12}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/cd102a7a-8695-4a06-8a8e-69e68ca7758f
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/cd102a7a-8695-4a06-8a8e-69e68ca7758f
  response:
    body:
      string: '{ "error": { "code": "Timeout", "message": "The operation was timeout."
        } }'
    headers:
      content-type: application/json
    status:
      code: 408
      message: Timeout
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/cd102a7a-8695-4a06-8a8e-69e68ca7758f
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/cd102a7a-8695-4a06-8a8e-69e68ca7758f
  response:
    body:
      string: "{\"jobId\":\"cd102a7a-8695-4a06-8a8e-69e68ca7758f\",\"lastUpdateDateTime\"\
        :\"2021-10-07T23:52:25Z\",\"createdDateTime\":\"2021-10-07T23:51:47Z\",\"\
        expirationDateTime\":\"2021-10-08T23:51:47Z\",\"status\":\"succeeded\",\"\
        errors\":[],\"displayName\":\"NA\",\"tasks\":{\"completed\":12,\"failed\"\
        :0,\"inProgress\":0,\"total\":12,\"entityRecognitionTasks\":[{\"lastUpdateDateTime\"\
        :\"2021-10-07T23:52:02.6412737Z\",\"taskName\":\"2\",\"state\":\"succeeded\"\
        ,\"results\":{\"documents\":[{\"id\":\"28\",\"entities\":[{\"text\":\"859\"\
        ,\"category\":\"Quantity\",\"subcategory\":\"Number\",\"offset\":10,\"length\"\
        :3,\"confidenceScore\":0.8},{\"text\":\"98\",\"category\":\"Quantity\",\"\
        subcategory\":\"Number\",\"offset\":14,\"length\":2,\"confidenceScore\":0.8},{\"\
        text\":\"0987\",\"category\":\"Quantity\",\"subcategory\":\"Number\",\"offset\"\
        :17,\"length\":4,\"confidenceScore\":0.8}],\"warnings\":[]},{\"id\":\"3\"\
        ,\"entities\":[{\"text\":\"998\",\"category\":\"Quantity\",\"subcategory\"\
        :\"Number\",\"offset\":3,\"length\":3,\"confidenceScore\":0.8},{\"text\":\"\
        214\",\"category\":\"Quantity\",\"subcategory\":\"Number\",\"offset\":7,\"\
        length\":3,\"confidenceScore\":0.8},{\"text\":\"865\",\"category\":\"Quantity\"\
        ,\"subcategory\":\"Number\",\"offset\":11,\"length\":3,\"confidenceScore\"\
        :0.8},{\"text\":\"68\",\"category\":\"Quantity\[...]
