interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Test for logging disable", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs?stringIndexType=UnicodeCodePoint&loggingOptOut=true
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/cd65a264-e36e-4531-b875-ed400abbe8b2
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/entities/health/jobs?stringIndexType=UnicodeCodePoint&loggingOptOut=true
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/cd65a264-e36e-4531-b875-ed400abbe8b2
  response:
    body:
      string: '{"jobId":"cd65a264-e36e-4531-b875-ed400abbe8b2","lastUpdateDateTime":"2021-05-18T18:25:21Z","createdDateTime":"2021-05-18T18:25:21Z","expirationDateTime":"2021-05-19T18:25:21Z","status":"notStarted","errors":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/cd65a264-e36e-4531-b875-ed400abbe8b2
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/cd65a264-e36e-4531-b875-ed400abbe8b2
  response:
    body:
      string: '{"jobId":"cd65a264-e36e-4531-b875-ed400abbe8b2","lastUpdateDateTime":"2021-05-18T18:25:41Z","createdDateTime":"2021-05-18T18:25:21Z","expirationDateTime":"2021-05-19T18:25:21Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2021-03-01"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/cd65a264-e36e-4531-b875-ed400abbe8b2
version: 1
