{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "displayName": "testing",
        "analysisInput": {
          "documents": [
            {
              "id": "56",
              "text": "David Schmidt, senior vice president--Food Safety, International Food Information Council (IFIC), Washington, D.C., discussed the physical activity component.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "CustomEntityRecognition",
            "parameters": {
              "projectName": "custom_entities_project_name",
              "deploymentName": "custom_entities_project_name",
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/29dea1ac-1956-47d3-a2fd-cc88ef06ab92?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/29dea1ac-1956-47d3-a2fd-cc88ef06ab92?api-version=2022-10-01-preview\u0026showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "29dea1ac-1956-47d3-a2fd-cc88ef06ab92",
        "lastUpdateDateTime": "2022-10-17T19:01:02Z",
        "createdDateTime": "2022-10-17T19:01:01Z",
        "expirationDateTime": "2022-10-18T19:01:01Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "testing",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomEntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-10-17T19:01:02.9310835Z",
              "status": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 1,
                  "validDocumentsCount": 1,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 1
                },
                "documents": [
                  {
                    "id": "56",
                    "statistics": {
                      "charactersCount": 158,
                      "transactionsCount": 1
                    },
                    "entities": [
                      {
                        "text": "David Schmidt",
                        "category": "artist",
                        "offset": 0,
                        "length": 13,
                        "confidenceScore": 0.8
                      },
                      {
                        "text": "Food",
                        "category": "service",
                        "offset": 38,
                        "length": 4,
                        "confidenceScore": 0.03
                      },
                      {
                        "text": "Safety",
                        "category": "geographic_poi",
                        "offset": 43,
                        "length": 6,
                [...]
