interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "I work at Microsoft and my phone number
      is 333-333-3333", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/recognition/pii?showStats=false&domain=phi&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: '{"documents":[{"redactedText":"I work at ********* and my phone number
        is ************","id":"0","entities":[{"text":"Microsoft","category":"Organization","offset":10,"length":9,"confidenceScore":0.95},{"text":"333-333-3333","category":"PhoneNumber","offset":43,"length":12,"confidenceScore":0.8}],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/entities/recognition/pii?showStats=false&domain=phi&stringIndexType=UnicodeCodePoint
version: 1
