interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/f26635db-99db-4673-a40b-2474f5a4f794
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/f26635db-99db-4673-a40b-2474f5a4f794
  response:
    body:
      string: '{"jobId":"f26635db-99db-4673-a40b-2474f5a4f794","lastUpdateDateTime":"2020-10-31T00:46:35Z","createdDateTime":"2020-10-31T00:46:31Z","expirationDateTime":"2020-11-01T00:46:31Z","status":"succeeded","errors":[],"results":{"documents":[],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innererror":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
