interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "\ud83d\udc69 SSN: 123-12-1234", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/pii?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"0","entities":[{"text":"123-12-1234","type":"U.S.
        Social Security Number (SSN)","offset":7,"length":11,"score":0.85}]}],"errors":[],"modelVersion":"2020-02-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.0-preview.1/entities/recognition/pii?showStats=false
version: 1
