interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "stringIndexType": "TextElements_v8"}}], "entityRecognitionPiiTasks":
      [], "keyPhraseExtractionTasks": []}, "analysisInput": {"documents": [{"id":
      "1", "text": "", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: '{"error":{"code":"InvalidArgument","message":"At least one document
        is missing a Text attribute.","innerError":{"code":"InvalidDocument","message":"Document
        text is empty."}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
