interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}, "taskName":
      "0"}], "entityRecognitionPiiTasks": [{"parameters": {"model-version": "latest",
      "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}, "taskName": "2"}],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      false}, "taskName": "1"}], "entityLinkingTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}, "taskName":
      "3"}], "sentimentAnalysisTasks": [{"parameters": {"model-version": "latest",
      "loggingOptOut": false, "opinionMining": false}, "taskName": "4"}], "extractiveSummarizationTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false, "stringIndexType":
      "UnicodeCodePoint", "sentenceCount": 3, "sortBy": "Offset"}, "taskName": "5"}],
      "customEntityRecognitionTasks": [], "customSingleClassificationTasks": [], "customMultiClassificationTasks":
      []}, "analysisInput": {"documents": [{"id": "0", "text": "input document", "language":
      "en"}, {"id": "1", "text": "input document", "language": "en"}, {"id": "2",
      "text": "input document", "language": "en"}, {"id": "3", "text": "input document",
      "language": "en"}, {"id": "4", "text": "input document", "language": "en"},
      {"id": "5", "text": "input document", "language": "en"}, {"id": "6", "text":
      "input document", "language": "en"}, {"id": "7", "text": "input document", "language":
      "en"}, {"id": "8", "text": "input document", "language": "en"}, [...]
