interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "One", "language": "en"}, {"id": "1",
      "text": "Two", "language": "en"}, {"id": "2", "text": "Three", "language": "en"},
      {"id": "3", "text": "Four", "language": "en"}, {"id": "4", "text": "Five", "language":
      "en"}, {"id": "5", "text": "Six", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/entities/recognition/general?showStats=false&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: '{"error":{"code":"InvalidRequest","message":"Invalid document in request.","innererror":{"code":"InvalidDocumentBatch","message":"Batch
        request contains too many records. Max 5 records are permitted."}}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.4/entities/recognition/general?showStats=false&stringIndexType=UnicodeCodePoint
version: 1
