interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "My name is Inigo Montoya, my SSN in
      243-56-0987 and my phone number is 333-3333.", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/recognition/pii?showStats=false&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: '{"documents":[{"redactedText":"My name is *************, my SSN in
        *********** and my phone number is ********.","id":"0","entities":[{"text":"Inigo
        Montoya","category":"Person","offset":11,"length":13,"confidenceScore":0.99},{"text":"243-56-0987","category":"USSocialSecurityNumber","offset":36,"length":11,"confidenceScore":0.85},{"text":"333-3333","category":"PhoneNumber","offset":71,"length":8,"confidenceScore":0.8}],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/entities/recognition/pii?showStats=false&stringIndexType=UnicodeCodePoint
- request:
    body: '{"documents": [{"id": "0", "text": "My name is Inigo Montoya, my SSN in
      243-56-0987 and my phone number is 333-3333.", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/recognition/pii?showStats=false&stringIndexType=UnicodeCodePoint&piiCategories=USSocialSecurityNumber
  response:
    body:
      string: '{"documents":[{"redactedText":"My name is Inigo Montoya, my SSN in
        *********** and my phone number is 333-3333.","id":"0","entities":[{"text":"243-56-0987","category":"USSocialSecurityNumber","offset":36,"length":11,"confidenceScore":0.85}],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/entities/recognition/pii?showStats=false&stringIndexType=UnicodeCodePoint&piiCategories=USSocialSecurityNumber
version: 1
