interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "countryHint":
      "US"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "countryHint":
      "US"}, {"id": "3", "text": "The restaurant had really good food.", "countryHint":
      "US"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0/languages?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"1","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]},{"id":"2","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]},{"id":"3","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]}],"errors":[],"modelVersion":"2019-10-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.0/languages?showStats=false
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "countryHint":
      "US"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "countryHint":
      "US"}, {"id": "3", "text": "The restaurant had really good food.", "countryHint":
      "US"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0/languages?showStats=false
  response:
    body:
      string: '{"error":{"code":"401","message":"Access denied due to invalid subscription
        key or wrong API endpoint. Make sure to provide a valid key for an active
        subscription and use a correct regional API endpoint for your resource."}}'
    headers:
    status:
      code: 401
      message: PermissionDenied
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.0/languages?showStats=false
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "countryHint":
      "US"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "countryHint":
      "US"}, {"id": "3", "text": "The restaurant had really good food.", "countryHint":
      "US"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0/languages?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"1","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]},{"id":"2","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]},{"id":"3","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]}],"errors":[],"modelVersion":"2019-10-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.0/languages?showStats=false
version: 1
