interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "hello world", "language": "en"}, {"id":
      "1", "text": "hello world", "language": "en"}, {"id": "2", "text": "hello world",
      "language": "en"}, {"id": "3", "text": "hello world", "language": "en"}, {"id":
      "4", "text": "hello world", "language": "en"}, {"id": "5", "text": "hello world",
      "language": "en"}, {"id": "6", "text": "hello world", "language": "en"}, {"id":
      "7", "text": "hello world", "language": "en"}, {"id": "8", "text": "hello world",
      "language": "en"}, {"id": "9", "text": "hello world", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/49f56938-477a-4042-b488-789d6f482324
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/49f56938-477a-4042-b488-789d6f482324
  response:
    body:
      string: '{"jobId":"49f56938-477a-4042-b488-789d6f482324","lastUpdateDateTime":"2021-02-23T17:11:20Z","createdDateTime":"2021-02-23T17:11:17Z","expirationDateTime":"2021-02-24T17:11:17Z","status":"running","errors":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/49f56938-477a-4042-b488-789d6f482324
  response:
    body:
      string: '{"jobId":"49f56938-477a-4042-b488-789d6f482324","lastUpdateDateTime":"2021-02-23T17:11:25Z","createdDateTime":"2021-02-23T17:11:17Z","expirationDateTime":"2021-02-24T17:11:17Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[{"offset":0,"length":11,"text":"hello
        world","category":"SymptomOrSign","confidenceScore":0.57,"isNegated":false}],"relations":[],"warnings":[]},{"id":"1","entities":[{"offset":0,"length":11,"text":"hello
        world","category":"SymptomOrSign","confidenceScore":0.57,"isNegated":false}],"relations":[],"warnings":[]},{"id":"2","entities":[{"offset":0,"length":11,"text":"hello
        world","category":"SymptomOrSign","confidenceScore":0.57,"isNegated":false}],"relations":[],"warnings":[]},{"id":"3","entities":[{"offset":0,"length":11,"text":"hello
        world","category":"SymptomOrSign","confidenceScore":0.57,"isNegated":false}],"[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/49f56938-477a-4042-b488-789d6f482324
  response:
    body:
      string: '{"error":{"code":"InvalidRequest","message":"Failed to cancel job with
        job id 49f56938-477a-4042-b488-789d6f482324 as its already completed."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
