interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I should take my cat to the veterinarian.",
      "language": "es"}, {"id": "2", "text": "Este es un document escrito en Espa\u00f1ol.",
      "language": "es"}, {"id": "3", "text": "\u732b\u306f\u5e78\u305b", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.1/sentiment?showStats=false&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: "{\"documents\":[{\"id\":\"1\",\"sentiment\":\"neutral\",\"confidenceScores\"\
        :{\"positive\":0.05,\"neutral\":0.94,\"negative\":0.01},\"sentences\":[{\"\
        sentiment\":\"neutral\",\"confidenceScores\":{\"positive\":0.05,\"neutral\"\
        :0.94,\"negative\":0.01},\"offset\":0,\"length\":41,\"text\":\"I should take\
        \ my cat to the veterinarian.\"}],\"warnings\":[]},{\"id\":\"2\",\"sentiment\"\
        :\"neutral\",\"confidenceScores\":{\"positive\":0.03,\"neutral\":0.92,\"negative\"\
        :0.05},\"sentences\":[{\"sentiment\":\"neutral\",\"confidenceScores\":{\"\
        positive\":0.03,\"neutral\":0.92,\"negative\":0.05},\"offset\":0,\"length\"\
        :39,\"text\":\"Este es un document escrito en Espa\xF1ol.\"}],\"warnings\"\
        :[]},{\"id\":\"3\",\"sentiment\":\"neutral\",\"confidenceScores\":{\"positive\"\
        :0.13,\"neutral\":0.81,\"negative\":0.06},\"sentences\":[{\"sentiment\":\"\
        neutral\",\"confidenceScores\":{\"positive\":0.13,\"neutral\":0.81,\"negative\"\
        :0.06},\"offset\":0,\"length\":4,\"text\":\"\u732B\u306F\u5E78\u305B\"}],\"\
        warnings\":[]}],\"errors\":[],\"modelVersion\":\"2020-04-01\"}"
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.1/sentiment?showStats=false&stringIndexType=UnicodeCodePoint
version: 1
