interactions:
- request:
    body: '{"documents": [{"id": "56", "text": ":)", "language": "en"}, {"id": "0",
      "text": ":(", "language": "en"}, {"id": "22", "text": "", "language": "en"},
      {"id": "19", "text": ":P", "language": "en"}, {"id": "1", "text": ":D", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/entities/health/jobs?model-version=2021-01-11&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/entities/health/jobs/196e0284-c276-4458-a15f-a5b79a416daf
    status:
      code: 202
      message: Accepted
    url: https://tacanaryjava.cognitiveservices.azure.com//text/analytics/v3.2-preview.1/entities/health/jobs?model-version=2021-01-11&stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.1/entities/health/jobs/196e0284-c276-4458-a15f-a5b79a416daf?showStats=True
  response:
    body:
      string: '{"jobId":"196e0284-c276-4458-a15f-a5b79a416daf","lastUpdateDateTime":"2021-08-03T17:34:37Z","createdDateTime":"2021-08-03T17:34:37Z","expirationDateTime":"2021-08-04T17:34:37Z","status":"succeeded","errors":[],"results":{"statistics":{"documentsCount":5,"validDocumentsCount":4,"erroneousDocumentsCount":1,"transactionsCount":4},"documents":[{"id":"56","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"0","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"19","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]},{"id":"1","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[],"relations":[],"warnings":[]}],"errors":[{"id":"22","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innererror":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2021-05-15"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://tacanaryjava.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/entities/health/jobs/196e0284-c276-4458-a15f-a5b79a416daf?showStats=True
version: 1
