interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "input document", "language": "en"},
      {"id": "1", "text": "input document", "language": "en"}, {"id": "2", "text":
      "input document", "language": "en"}, {"id": "3", "text": "input document", "language":
      "en"}, {"id": "4", "text": "input document", "language": "en"}, {"id": "5",
      "text": "input document", "language": "en"}, {"id": "6", "text": "input document",
      "language": "en"}, {"id": "7", "text": "input document", "language": "en"},
      {"id": "8", "text": "input document", "language": "en"}, {"id": "9", "text":
      "input document", "language": "en"}, {"id": "10", "text": "input document",
      "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.4/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: '{"error":{"code":"InvalidRequest","message":"Invalid document in request.","innererror":{"code":"InvalidDocumentBatch","message":"Batch
        request contains too many records. Max 10 records are permitted."}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
