interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      "en"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "language":
      "en"}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/365a6f84-d5b6-450b-ae28-b9637cc2e930
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/365a6f84-d5b6-450b-ae28-b9637cc2e930
  response:
    body:
      string: '{"jobId":"365a6f84-d5b6-450b-ae28-b9637cc2e930","lastUpdateDateTime":"2020-10-31T00:46:05Z","createdDateTime":"2020-10-31T00:46:00Z","expirationDateTime":"2020-11-01T00:46:00Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"1","statistics":{"charactersCount":22,"transactionsCount":1},"entities":[]},{"id":"2","statistics":{"charactersCount":38,"transactionsCount":1},"entities":[]},{"id":"3","statistics":{"charactersCount":36,"transactionsCount":1},"entities":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
