interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [{"parameters":
      {"model-version": "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"},
      "taskName": "1"}], "keyPhraseExtractionTasks": [], "entityLinkingTasks": [],
      "sentimentAnalysisTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      false, "opinionMining": false}, "taskName": "0"}]}, "analysisInput": {"documents":
      [{"id": "1", "text": "I did not like the hotel we stayed at.", "language": "tr"},
      {"id": "2", "text": "I did not like the hotel we stayed at.", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/a9c2a65f-8a94-43c5-951d-6b4be213f755
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/a9c2a65f-8a94-43c5-951d-6b4be213f755
  response:
    body:
      string: '{"jobId":"a9c2a65f-8a94-43c5-951d-6b4be213f755","lastUpdateDateTime":"2021-06-23T23:59:49Z","createdDateTime":"2021-06-23T23:59:48Z","expirationDateTime":"2021-06-24T23:59:48Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":0,"failed":0,"inProgress":2,"total":2}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1/analyze/jobs/a9c2a65f-8a94-43c5-951d-6b4be213f755
  response:
    body:
      string: '{"jobId":"a9c2a65f-8a94-43c5-951d-6b4be213f755","lastUpdateDateTime":"2021-06-24T00:00:13Z","createdDateTime":"2021-06-23T23:59:48Z","expirationDateTime":"2021-06-24T23:59:48Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"completed":2,"failed":0,"inProgress":0,"total":2,"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-06-24T00:00:12.70649Z","taskName":"1","state":"succeeded","results":{"documents":[{"redactedText":"I
        did not like the hotel we stayed at.","id":"2","entities":[],"warnings":[]}],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: ja,ko,zh-Hans,de,en,es,fr,it,pt-BR,pt-PT.
        For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"}}}],"modelVersion":"2021-01-15"}}],"sentimentAnalysisTasks":[{"lastUpdateDateTime":"2021-06-24T00:00:13.4633656Z","taskName":"0","state":"succeeded","results":{"documents":[{"id":"1","sentiment":"neutral","confidenceScores":{"positive":0.06,"neutral":0.55,"negative":0.39},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.06,"neutral":0.55,"negative":0.39},"offset":0,"length":38,"text":"I
        did not like the hotel we stayed at."}],"warnings":[]},{"id":"2","sentiment":"negative","confidenceScores":{"positive":0.01,"neutral":0.45,"negative":0.54},"sentences":[{"sentiment":"negative","confidenceScores":{"positive":0.01,"neutral":0.45,"negative":0.54},"offset":0,"length":38,"text":"I
        did not like the hotel we stayed at."}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
