{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022tasks\u0022: {\u0022entityRecognitionTasks\u0022: [], \u0022entityRecognitionPiiTasks\u0022: [{\u0022parameters\u0022: {\u0022model-version\u0022: \u0022latest\u0022, \u0022loggingOptOut\u0022: true, \u0022piiCategories\u0022: [\u0022USSocialSecurityNumber\u0022, \u0022ABARoutingNumber\u0022], \u0022stringIndexType\u0022: \u0022UnicodeCodePoint\u0022}, \u0022taskName\u0022: \u00220\u0022}], \u0022keyPhraseExtractionTasks\u0022: [], \u0022entityLinkingTasks\u0022: [], \u0022sentimentAnalysisTasks\u0022: [], \u0022extractiveSummarizationTasks\u0022: [], \u0022customEntityRecognitionTasks\u0022: [], \u0022customSingleClassificationTasks\u0022: [], \u0022customMultiClassificationTasks\u0022: []}, \u0022analysisInput\u0022: {\u0022documents\u0022: [{\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022My SSN is 859-98-0987.\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u00222\u0022, \u0022text\u0022: \u0022Your ABA number - 111000025 - is the first 9 digits in the lower left hand corner of your personal check.\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u00223\u0022, \u0022text\u0022: \u0022Is 998.214.865-68 your Brazilian CPF number?\u0022, \u0022language\u0022: \u0022en\u0022}]}}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/ceecb35f-c921-4683-91fe-3e28b708575c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/ceecb35f-c921-4683-91fe-3e28b708575c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "ceecb35f-c921-4683-91fe-3e28b708575c",
        "lastUpdateDateTime": "2021-12-14T02:10:15Z",
        "createdDateTime": "2021-12-14T02:10:12Z",
        "expirationDateTime": "2021-12-15T02:10:12Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "entityRecognitionPiiTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T02:10:15.4158213Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "My SSN is ***********.",
                    "id": "1",
                    "entities": [
                      {
                        "text": "859-98-0987",
                        "category": "USSocialSecurityNumber",
                        "offset": 10,
                        "length": 11,
                        "confidenceScore": 0.65
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "redactedText": "Your ABA number - ********* - is the first 9 digits in the lower left hand corner of your personal check.",
                    "id": "2",
                    "entities": [
                      {
                        "text": "111000025",
                        "category": "ABARoutingNumber",
                        "offset": 18,
                        "length": 9,
                        "confidenceScore": 0.75
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "redactedText": "Is 998.214.865-68 your Brazilian CPF number?",
                    "id": "3",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
