interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I did not like the hotel we stayed
      at.", "language": "english"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?model-version=bad&stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/4d7454fe-2e04-418f-bc0d-ebaa8d48cc90
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/4d7454fe-2e04-418f-bc0d-ebaa8d48cc90
  response:
    body:
      string: '{"jobId":"4d7454fe-2e04-418f-bc0d-ebaa8d48cc90","lastUpdateDateTime":"2021-02-23T17:16:28Z","createdDateTime":"2021-02-23T17:16:27Z","expirationDateTime":"2021-02-24T17:16:27Z","status":"succeeded","errors":[],"results":{"documents":[],"errors":[{"id":"1","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en"}}}],"modelVersion":"2021-01-11"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
