interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "hello world", "language": "en"}, {"id":
      "1", "text": "hello world", "language": "en"}, {"id": "2", "text": "hello world",
      "language": "en"}, {"id": "3", "text": "hello world", "language": "en"}, {"id":
      "4", "text": "hello world", "language": "en"}, {"id": "5", "text": "hello world",
      "language": "en"}, {"id": "6", "text": "hello world", "language": "en"}, {"id":
      "7", "text": "hello world", "language": "en"}, {"id": "8", "text": "hello world",
      "language": "en"}, {"id": "9", "text": "hello world", "language": "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/77d6cdaa-59d5-4b00-9d5e-de56d69faae2
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/77d6cdaa-59d5-4b00-9d5e-de56d69faae2
  response:
    body:
      string: '{"jobId":"77d6cdaa-59d5-4b00-9d5e-de56d69faae2","lastUpdateDateTime":"2021-02-05T21:32:42Z","createdDateTime":"2021-02-05T21:32:41Z","expirationDateTime":"2021-02-06T21:32:41Z","status":"notStarted","errors":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/77d6cdaa-59d5-4b00-9d5e-de56d69faae2
  response:
    body:
      string: '{"jobId":"77d6cdaa-59d5-4b00-9d5e-de56d69faae2","lastUpdateDateTime":"2021-02-05T21:32:44Z","createdDateTime":"2021-02-05T21:32:41Z","expirationDateTime":"2021-02-06T21:32:41Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","entities":[],"relations":[],"warnings":[]},{"id":"1","entities":[],"relations":[],"warnings":[]},{"id":"2","entities":[],"relations":[],"warnings":[]},{"id":"3","entities":[],"relations":[],"warnings":[]},{"id":"4","entities":[],"relations":[],"warnings":[]},{"id":"5","entities":[],"relations":[],"warnings":[]},{"id":"6","entities":[],"relations":[],"warnings":[]},{"id":"7","entities":[],"relations":[],"warnings":[]},{"id":"8","entities":[],"relations":[],"warnings":[]},{"id":"9","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/77d6cdaa-59d5-4b00-9d5e-de56d69faae2
  response:
    body:
      string: '{"error":{"code":"InvalidRequest","message":"Failed to cancel job with
        job id 77d6cdaa-59d5-4b00-9d5e-de56d69faae2 as its already completed."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
