interactions:
- request:
    body: '{"documents": [{"id": "56", "text": ":)", "language": "en"}, {"id": "0",
      "text": ":(", "language": "en"}, {"id": "22", "text": "", "language": "en"},
      {"id": "19", "text": ":P", "language": "en"}, {"id": "1", "text": ":D", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/bc3bbf8b-7915-4b26-8888-4dbba6ad5dd5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/bc3bbf8b-7915-4b26-8888-4dbba6ad5dd5
  response:
    body:
      string: '{"jobId":"bc3bbf8b-7915-4b26-8888-4dbba6ad5dd5","lastUpdateDateTime":"2020-10-29T01:29:44Z","createdDateTime":"2020-10-29T01:29:40Z","expirationDateTime":"2020-10-30T01:29:40Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"56","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[]},{"id":"0","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[]},{"id":"19","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[]},{"id":"1","statistics":{"charactersCount":2,"transactionsCount":1},"entities":[]}],"errors":[{"id":"22","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innererror":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
