{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs?stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/5c95e54c-8ff5-485b-b0f6-a476c64877af"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/5c95e54c-8ff5-485b-b0f6-a476c64877af",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "5c95e54c-8ff5-485b-b0f6-a476c64877af",
        "lastUpdateDateTime": "2021-12-14T19:00:54Z",
        "createdDateTime": "2021-12-14T19:00:53Z",
        "expirationDateTime": "2021-12-15T19:00:53Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [],
          "errors": [
            {
              "id": "1",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid document in request.",
                "innererror": {
                  "code": "InvalidDocument",
                  "message": "Document text is empty."
                }
              }
            }
          ],
          "modelVersion": "2021-05-15"
        }
      }
    }
  ],
  "Variables": {}
}
