interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "stringIndexType": "UnicodeCodePoint"}}],
      "entityRecognitionPiiTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      true, "stringIndexType": "UnicodeCodePoint"}}], "keyPhraseExtractionTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false}}], "entityLinkingTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": false, "stringIndexType":
      "UnicodeCodePoint"}}], "sentimentAnalysisTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": false, "opinionMining": false}}]}, "analysisInput":
      {"documents": [{"id": "56", "text": ":)", "language": "en"}, {"id": "0", "text":
      ":(", "language": "en"}, {"id": "19", "text": ":P", "language": "en"}, {"id":
      "1", "text": ":D", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/5f7c3672-7eb9-485e-a5eb-b8b9ae224df8
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/5f7c3672-7eb9-485e-a5eb-b8b9ae224df8
  response:
    body:
      string: '{"jobId":"5f7c3672-7eb9-485e-a5eb-b8b9ae224df8","lastUpdateDateTime":"2021-05-04T01:18:48Z","createdDateTime":"2021-05-04T01:18:40Z","expirationDateTime":"2021-05-05T01:18:40Z","status":"running","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-04T01:18:48Z"},"completed":1,"failed":0,"inProgress":4,"total":5,"entityLinkingTasks":[{"lastUpdateDateTime":"2021-05-04T01:18:47.8333045Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"56","entities":[],"warnings":[]},{"id":"0","entities":[],"warnings":[]},{"id":"19","entities":[],"warnings":[]},{"id":"1","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/5f7c3672-7eb9-485e-a5eb-b8b9ae224df8
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/5f7c3672-7eb9-485e-a5eb-b8b9ae224df8
  response:
    body:
      string: '{"jobId":"5f7c3672-7eb9-485e-a5eb-b8b9ae224df8","lastUpdateDateTime":"2021-05-04T01:19:11Z","createdDateTime":"2021-05-04T01:18:40Z","expirationDateTime":"2021-05-05T01:18:40Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-05-04T01:19:11Z"},"completed":5,"failed":0,"inProgress":0,"total":5,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-05-04T01:19:08.4566521Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"56","entities":[],"warnings":[]},{"id":"0","entities":[],"warnings":[]},{"id":"19","entities":[],"warnings":[]},{"id":"1","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"entityLinkingTasks":[{"lastUpdateDateTime":"2021-05-04T01:18:47.8333045Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"56","entities":[],"warnings":[]},{"id":"0","entities":[],"warnings":[]},{"id":"19","entities":[],"warnings":[]},{"id":"1","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-02-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-05-04T01:19:08.3743987Z","name":"NA","state":"succeeded","results":{"documents":[{"redactedText":":)","id":"56","entities":[],"warnings":[]},{"redactedText":":(","id":"0","entities":[],"warnings":[]},{"redactedText":":P","id":"19","entities":[],"warnings":[]},{"redactedText":":D","id":"1","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-05-04T01:19:06.7419176Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"56","keyPhrases":[],"warnings":[]},{"id":"0","keyPhrases":[],"warnings":[]},{"id":"19","keyPhrases":[],"warnings":[]},{"id":"1","keyPhrases":[],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}],"sentimentAnalysisTasks":[{"lastUpdateDateTime":"2021-05-04T01:19:11.175578Z","name":"NA","state":"succeeded","results":{"documents":[{"id":"56","sentiment":"positive","confidenceScores":{"positive":0.89,"neutral":0.1,"negative":0.01},"sentences":[{"sentiment":"positive","confidenceScores":{"positive":0.89,"neutral":0.1,"negative":0.01},"offset":0,"length":2,"text":":)"}],"warnings":[]},{"id":"0","sentiment":"negative","confidenceScores":{"positive":0.0,"neutral":0.02,"negative":0.98},"sentences":[{"sentiment":"negative","confidenceScores":{"positive":0.0,"neutral":0.02,"negative":0.98},"offset":0,"length":2,"text":":("}],"warnings":[]},{"id":"19","sentiment":"neutral","confidenceScores":{"positive":0.3,"neutral":0.67,"negative":0.03},"sentences":[{"sentiment":"neutral","confidenceScores":{"positive":0.3,"neutral":0.67,"negative":0.03},"offset":0,"length":2,"text":":P"}],"warnings":[]},{"id":"1","sentiment":"positive","confidenceScores":{"positive":0.89,"neutral":0.1,"negative":0.01},"sentences":[{"sentiment":"positive","confidenceScores":{"positive":0.89,"neutral":0.1,"negative":0.01},"offset":0,"length":2,"text":":D"}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/5f7c3672-7eb9-485e-a5eb-b8b9ae224df8
version: 1
