interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This should fail because we''re passing
      in an invalid language hint", "language": "notalanguage"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/fc7a3ee7-f590-44b9-9343-23aa11364ea8
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/fc7a3ee7-f590-44b9-9343-23aa11364ea8
  response:
    body:
      string: '{"jobId":"fc7a3ee7-f590-44b9-9343-23aa11364ea8","lastUpdateDateTime":"2021-02-23T17:13:45Z","createdDateTime":"2021-02-23T17:13:45Z","expirationDateTime":"2021-02-24T17:13:45Z","status":"notStarted","errors":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/fc7a3ee7-f590-44b9-9343-23aa11364ea8
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/fc7a3ee7-f590-44b9-9343-23aa11364ea8
  response:
    body:
      string: '{"jobId":"fc7a3ee7-f590-44b9-9343-23aa11364ea8","lastUpdateDateTime":"2021-02-23T17:13:56Z","createdDateTime":"2021-02-23T17:13:45Z","expirationDateTime":"2021-02-24T17:13:45Z","status":"succeeded","errors":[],"results":{"documents":[],"errors":[{"id":"0","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en"}}}],"modelVersion":"2021-01-11"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/entities/health/jobs/fc7a3ee7-f590-44b9-9343-23aa11364ea8
version: 1
