interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [{"parameters":
      {"model-version": "latest", "stringIndexType": "UnicodeCodePoint"}}], "keyPhraseExtractionTasks":
      []}, "analysisInput": {"documents": [{"id": "0", "text": "My SSN is 859-98-0987.",
      "language": "en"}, {"id": "1", "text": "Your ABA number - 111000025 - is the
      first 9 digits in the lower left hand corner of your personal check.", "language":
      "en"}, {"id": "2", "text": "Is 998.214.865-68 your Brazilian CPF number?", "language":
      "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/9566113d-a1b7-4caa-8d16-bd76f2992944
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/9566113d-a1b7-4caa-8d16-bd76f2992944?showStats=True
  response:
    body:
      string: '{"jobId":"9566113d-a1b7-4caa-8d16-bd76f2992944","lastUpdateDateTime":"2021-02-18T01:55:52Z","createdDateTime":"2021-02-18T01:55:52Z","expirationDateTime":"2021-02-19T01:55:52Z","status":"notStarted","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-02-18T01:55:52Z"},"completed":0,"failed":0,"inProgress":0,"total":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
