interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "stringIndexType": "TextElements_v8"}}], "entityRecognitionPiiTasks":
      [{"parameters": {"model-version": "latest", "stringIndexType": "TextElements_v8"}}],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest"}}]},
      "analysisInput": {"documents": [{"id": "0", "text": "This was the best day of
      my life.", "language": "en"}, {"id": "1", "text": "I did not like the hotel
      we stayed at. It was too expensive.", "language": "en"}, {"id": "2", "text":
      "The restaurant was not as good as I hoped.", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/ebc25e3d-e6a8-4fe7-9cc3-87aba4b7317b_637473024000000000
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/ebc25e3d-e6a8-4fe7-9cc3-87aba4b7317b_637473024000000000
  response:
    body:
      string: '{"jobId":"ebc25e3d-e6a8-4fe7-9cc3-87aba4b7317b_637473024000000000","lastUpdateDateTime":"2021-01-27T02:14:32Z","createdDateTime":"2021-01-27T02:14:31Z","expirationDateTime":"2021-01-28T02:14:31Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-01-27T02:14:32Z"},"completed":1,"failed":0,"inProgress":2,"total":3,"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-01-27T02:14:32.3759332Z","results":{"inTerminalState":true,"documents":[{"id":"0","keyPhrases":["best
        day","life"],"warnings":[]},{"id":"1","keyPhrases":["hotel"],"warnings":[]},{"id":"2","keyPhrases":["restaurant"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/ebc25e3d-e6a8-4fe7-9cc3-87aba4b7317b_637473024000000000
  response:
    body:
      string: '{"jobId":"ebc25e3d-e6a8-4fe7-9cc3-87aba4b7317b_637473024000000000","lastUpdateDateTime":"2021-01-27T02:14:32Z","createdDateTime":"2021-01-27T02:14:31Z","expirationDateTime":"2021-01-28T02:14:31Z","status":"running","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-01-27T02:14:32Z"},"completed":2,"failed":0,"inProgress":1,"total":3,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-01-27T02:14:32.3759332Z","results":{"inTerminalState":true,"documents":[{"id":"0","entities":[],"warnings":[]},{"id":"1","entities":[{"text":"hotel","category":"Location","offset":19,"length":5,"confidenceScore":0.76}],"warnings":[]},{"id":"2","entities":[{"text":"restaurant","category":"Location","subcategory":"Structural","offset":4,"length":10,"confidenceScore":0.71}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-01-27T02:14:32.3759332Z","results":{"inTerminalState":true,"documents":[{"id":"0","keyPhrases":["best
        day","life"],"warnings":[]},{"id":"1","keyPhrases":["hotel"],"warnings":[]},{"id":"2","keyPhrases":["restaurant"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/ebc25e3d-e6a8-4fe7-9cc3-87aba4b7317b_637473024000000000
  response:
    body:
      string: '{"jobId":"ebc25e3d-e6a8-4fe7-9cc3-87aba4b7317b_637473024000000000","lastUpdateDateTime":"2021-01-27T02:14:32Z","createdDateTime":"2021-01-27T02:14:31Z","expirationDateTime":"2021-01-28T02:14:31Z","status":"succeeded","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2021-01-27T02:14:32Z"},"completed":3,"failed":0,"inProgress":0,"total":3,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-01-27T02:14:32.3759332Z","results":{"inTerminalState":true,"documents":[{"id":"0","entities":[],"warnings":[]},{"id":"1","entities":[{"text":"hotel","category":"Location","offset":19,"length":5,"confidenceScore":0.76}],"warnings":[]},{"id":"2","entities":[{"text":"restaurant","category":"Location","subcategory":"Structural","offset":4,"length":10,"confidenceScore":0.71}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-01-27T02:14:32.3759332Z","results":{"inTerminalState":true,"documents":[{"redactedText":"This
        was the best day of my life.","id":"0","entities":[],"warnings":[]},{"redactedText":"I
        did not like the hotel we stayed at. It was too expensive.","id":"1","entities":[],"warnings":[]},{"redactedText":"The
        restaurant was not as good as I hoped.","id":"2","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-01-27T02:14:32.3759332Z","results":{"inTerminalState":true,"documents":[{"id":"0","keyPhrases":["best
        day","life"],"warnings":[]},{"id":"1","keyPhrases":["hotel"],"warnings":[]},{"id":"2","keyPhrases":["restaurant"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
