{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview\u0026showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "SentimentAnalysis",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "I did not like the hotel we stayed at. It was too expensive.",
              "language": "en"
            },
            {
              "id": "3",
              "text": "The restaurant had really good food. I recommend you try it.",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "kind": "SentimentAnalysisResults",
        "results": {
          "statistics": {
            "documentsCount": 3,
            "validDocumentsCount": 3,
            "erroneousDocumentsCount": 0,
            "transactionsCount": 3
          },
          "documents": [
            {
              "id": "1",
              "sentiment": "neutral",
              "statistics": {
                "charactersCount": 51,
                "transactionsCount": 1
              },
              "confidenceScores": {
                "positive": 0.0,
                "neutral": 1.0,
                "negative": 0.0
              },
              "sentences": [
                {
                  "sentiment": "neutral",
                  "confidenceScores": {
                    "positive": 0.0,
                    "neutral": 1.0,
                    "negative": 0.0
                  },
                  "offset": 0,
                  "length": 51,
                  "text": "Microsoft was founded by Bill Gates and Paul Allen."
                }
              ],
              "warnings": []
            },
            {
              "id": "2",
              "sentiment": "negative",
              "statistics": {
                "charactersCount": 60,
                "transactionsCount": 1
              },
              "confidenceScores": {
                "positive": 0.0,
                "neutral": 0.02,
                "negative": 0.98
              },
              "sentences": [
                {
                  "sentiment": "negative",
                  "confidenceScores"[...]
