interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "stringIndexType": "TextElements_v8"}}], "entityRecognitionPiiTasks":
      [{"parameters": {"model-version": "latest", "stringIndexType": "TextElements_v8"}}],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest"}}]},
      "analysisInput": {"documents": [{"id": "0", "text": "input document", "language":
      "en"}, {"id": "1", "text": "input document", "language": "en"}, {"id": "2",
      "text": "input document", "language": "en"}, {"id": "3", "text": "input document",
      "language": "en"}, {"id": "4", "text": "input document", "language": "en"},
      {"id": "5", "text": "input document", "language": "en"}, {"id": "6", "text":
      "input document", "language": "en"}, {"id": "7", "text": "input document", "language":
      "en"}, {"id": "8", "text": "input document", "language": "en"}, [...]
