interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      false}}], "entityLinkingTasks": [], "sentimentAnalysisTasks": [], "extractiveSummarizationTasks":
      [], "customEntityRecognitionTasks": [], "customSingleClassificationTasks": [],
      "customMultiClassificationTasks": []}, "analysisInput": {"documents": [{"id":
      "0", "text": "", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: '{"error":{"code":"InvalidRequest","message":"Invalid document in request.","innererror":{"code":"InvalidDocumentBatch","message":"Document
        text is empty."}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
