{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test for logging disable",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "EntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "1",
            "kind": "KeyPhraseExtraction",
            "parameters": {
              "loggingOptOut": true
            }
          },
          {
            "taskName": "2",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "3",
            "kind": "EntityLinking",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "4",
            "kind": "SentimentAnalysis",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "5",
            "kind": "CustomSingleLabelClassification",
            "parameters": {
              "loggingOptOut": true,
              "projectName": "single_category_classify_project_name",
              "deploymentName": "single_category_classify_project_name"
            }
          },
          {
            "taskName": "6",
            "kind": "CustomMultiLabelClassification",
            "parameters": {
              "loggingOptOut": true,
              "projectName": "multi_category_classify_project_name",
              "deploymentName": "multi_category_classify_project_name"
            }
          },
          {
            "taskName": "7",
            "kind": "CustomEntityRecognition",
            "parameters": {
              "loggingOptOut": true,
              "projectName": "custom_entities_project_name",
              "deploymentName": "custom_entities_project_name",
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "8",
            "kind": "Healthcare",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/3857da50-7216-4749-bea9-0841318bda42?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/3857da50-7216-4749-bea9-0841318bda42?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "3857da50-7216-4749-bea9-0841318bda42",
        "lastUpdatedDateTime": "2022-06-09T17:10:39Z",
        "createdDateTime": "2022-06-09T17:10:36Z",
        "expirationDateTime": "2022-06-10T17:10:36Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 7,
          "failed": 0,
          "inProgress": 2,
          "total": 9,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "8",
              "lastUpdateDateTime": "2022-06-09T17:10:37.4553713Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-03-01"
              }
            },
            {
              "kind": "KeyPhraseExtractionLROResults",
              "taskName": "1",
              "lastUpdateDateTime": "2022-06-09T17:10:38.3246222Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "Test",
                      "logging"
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            },
            {
              "kind": "PiiEntityRecognitionLROResults",
              "taskName": "2",
              "lastUpdateDateTime": "2022-06-09T17:10:39.7347707Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "Test for logging disable",
                    "id": "0",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
            },
            {
              "kind": "EntityLinkingLROResults",
              "taskName": "3",
              "lastUpdateDateTime": "2022-06-09T17:10:38.1996211Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "bingId": "a7b11e27-5b63-19a5-b4dd-37b71149ecac",
                        "name": "Test (assessment)",
                        "matches": [
                          {
                            "text": "Test",
                            "offset": 0,
                            "length": 4,
                            "confidenceScore": 0.04
                          }
                        ],
                        "language": "en",
                        "id": "Test (assessment)",
                        "url": "https://en.wikipedia.org/wiki/Test_(assessment)",
                        "dataSource": "Wikipedia"
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            },
            {
              "kind": "CustomSingleLabelClassificationLROResults",
              "taskName": "5",
              "lastUpdateDateTime": "2022-06-09T17:10:37.6836202Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "class": [
                      {
                        "category": "PlayMusic",
                        "confidenceScore": 0.6
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "single_category_classify_project_name",
                "deploymentName": "single_category_classify_project_name"
              }
            },
            {
              "kind": "CustomMultiLabelClassificationLROResults",
              "taskName": "6",
[...]
[...]
