{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs?model-version=bad\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "I did not like the hotel we stayed at.",
            "language": "english"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/entities/health/jobs/3970b6ef-9d79-4fef-b9a4-707b9efde1c3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.1/entities/health/jobs/3970b6ef-9d79-4fef-b9a4-707b9efde1c3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "3970b6ef-9d79-4fef-b9a4-707b9efde1c3",
        "lastUpdateDateTime": "2021-11-19T20:12:01Z",
        "createdDateTime": "2021-11-19T20:12:00Z",
        "expirationDateTime": "2021-11-20T20:12:00Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [],
          "errors": [
            {
              "id": "1",
              "error": {
                "code": "InvalidArgument",
                "message": "Invalid Language Code.",
                "innererror": {
                  "code": "UnsupportedLanguageCode",
                  "message": "Invalid language code. Supported languages: en. For additional details see https://aka.ms/text-analytics/language-support"
                }
              }
            }
          ],
          "modelVersion": "2021-05-15"
        }
      }
    }
  ],
  "Variables": {}
}
