{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "LanguageDetection",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test for logging disable",
              "countryHint": "US"
            }
          ]
        },
        "parameters": {
          "loggingOptOut": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "kind": "LanguageDetectionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "detectedLanguage": {
                "name": "English",
                "iso6391Name": "en",
                "confidenceScore": 0.85
              },
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-11-20"
        }
      }
    }
  ],
  "Variables": {}
}
