{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/languages?model-version=bad",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022I did not like the hotel we stayed at.\u0022, \u0022countryHint\u0022: \u0022US\u0022}]}",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid Request.",
          "innererror": {
            "code": "ModelVersionIncorrect",
            "message": "Invalid model version. Possible values are: latest,2019-10-01,2020-07-01,2020-09-01,2021-01-05. For additional details see https://aka.ms/text-analytics-model-versioning"
          }
        }
      }
    }
  ],
  "Variables": {}
}
