interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This was the best day of my life.",
      "language": ""}, {"id": "1", "text": "I did not like the hotel we stayed at.
      It was too expensive.", "language": ""}, {"id": "2", "text": "The restaurant
      was not as good as I hoped.", "language": ""}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/e1958982-00d3-411e-90f8-2f0458643fd1
    status:
      code: 202
      message: Accepted
    url: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs?stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/e1958982-00d3-411e-90f8-2f0458643fd1
  response:
    body:
      string: '{"jobId":"e1958982-00d3-411e-90f8-2f0458643fd1","lastUpdateDateTime":"2020-10-31T02:11:40Z","createdDateTime":"2020-10-31T02:11:36Z","expirationDateTime":"2020-11-01T02:11:36Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"0","statistics":{"charactersCount":33,"transactionsCount":1},"entities":[]},{"id":"1","statistics":{"charactersCount":60,"transactionsCount":1},"entities":[]},{"id":"2","statistics":{"charactersCount":42,"transactionsCount":1},"entities":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://cognitiveusw2dev.azure-api.net/text/analytics/v3.2-preview.1/entities/health/jobs/e1958982-00d3-411e-90f8-2f0458643fd1
version: 1
