{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/recognition/pii?showStats=true\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "documents": [
          {
            "id": "1",
            "text": "My SSN is 859-98-0987.",
            "language": "en"
          },
          {
            "id": "2",
            "text": "Your ABA number - 111000025 - is the first 9 digits in the lower left hand corner of your personal check.",
            "language": "en"
          },
          {
            "id": "3",
            "text": "Is 998.214.865-68 your Brazilian CPF number?",
            "language": "en"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "statistics": {
          "documentsCount": 3,
          "validDocumentsCount": 3,
          "erroneousDocumentsCount": 0,
          "transactionsCount": 3
        },
        "documents": [
          {
            "redactedText": "My SSN is ***********.",
            "id": "1",
            "statistics": {
              "charactersCount": 22,
              "transactionsCount": 1
            },
            "entities": [
              {
                "text": "859-98-0987",
                "category": "USSocialSecurityNumber",
                "offset": 10,
                "length": 11,
                "confidenceScore": 0.65
              }
            ],
            "warnings": []
          },
          {
            "redactedText": "Your ABA number - ********* - is the first 9 digits in the lower left hand corner of your personal check.",
            "id": "2",
            "statistics": {
              "charactersCount": 105,
              "transactionsCount": 1
            },
            "entities": [
              {
                "text": "111000025",
                "category": "PhoneNumber",
                "offset": 18,
                "length": 9,
                "confidenceScore": 0.8
              },
              {
                "text": "111000025",
                "category": "ABARoutingNumber",
                "offset": 18,
                "length": 9,
                "confidenceScore": 0.75
              },
              {
                "text": "111000025",
                "category": "NZSocialWelfareNumber",
                "offset": 18,
                "length": 9,
                "confidenceScore": 0.65
              }
            ],
            "warnings": []
          },
          {
            "redactedText": "Is 998.214.865-68 your Brazilian CPF number?",
            "id": "3",
            "statistics": {
              "charactersCount": 44,
              "transactionsCount": 1
            },
            "entities": [],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-01-15"
      }
    }
  ],
  "Variables": {}
}
