{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Test for logging disable",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "Healthcare",
            "parameters": {
              "loggingOptOut": true,
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/925ae4ef-159d-4759-a16c-19ed064bd529?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/925ae4ef-159d-4759-a16c-19ed064bd529?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "925ae4ef-159d-4759-a16c-19ed064bd529",
        "lastUpdateDateTime": "2022-10-10T20:53:08Z",
        "createdDateTime": "2022-10-10T20:53:05Z",
        "expirationDateTime": "2022-10-11T20:53:05Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-10-10T20:53:08.2033389Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [],
                    "relations": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2022-03-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
