interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest"}}]},
      "analysisInput": {"documents": [{"id": "1", "text": "Microsoft was founded by
      Bill Gates and Paul Allen", "language": "en"}, {"id": "2", "text": "Microsoft
      fue fundado por Bill Gates y Paul Allen", "language": "es"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/0c0860fe-6fbc-4e91-8324-e7e09b49748b_637413408000000000
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/0c0860fe-6fbc-4e91-8324-e7e09b49748b_637413408000000000
  response:
    body:
      string: '{"jobId":"0c0860fe-6fbc-4e91-8324-e7e09b49748b_637413408000000000","lastUpdateDateTime":"2020-11-19T21:11:43Z","createdDateTime":"2020-11-19T21:11:43Z","expirationDateTime":"2020-11-20T21:11:43Z","status":"succeeded","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2020-11-19T21:11:43Z"},"completed":1,"failed":0,"inProgress":0,"total":1,"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2020-11-19T21:11:43.5148746Z","results":{"inTerminalState":true,"documents":[{"id":"1","keyPhrases":["Bill
        Gates","Paul Allen","Microsoft"],"warnings":[]},{"id":"2","keyPhrases":["Bill
        Gates","Paul Allen","Microsoft"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
