interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "bad", "stringIndexType": "TextElements_v8"}}], "entityRecognitionPiiTasks":
      [], "keyPhraseExtractionTasks": []}, "analysisInput": {"documents": [{"id":
      "1", "text": "I did not like the hotel we stayed at.", "language": "english"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/bd0fad21-537e-4f0b-8eae-a18fd118809b_637413408000000000
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.3/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/bd0fad21-537e-4f0b-8eae-a18fd118809b_637413408000000000
  response:
    body:
      string: '{"jobId":"bd0fad21-537e-4f0b-8eae-a18fd118809b_637413408000000000","lastUpdateDateTime":"2020-11-19T21:17:36Z","createdDateTime":"2020-11-19T21:17:35Z","expirationDateTime":"2020-11-20T21:17:35Z","status":"failed","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2020-11-19T21:17:36Z"},"completed":0,"failed":1,"inProgress":0,"total":1,"entityRecognitionTasks":[{"lastUpdateDateTime":"2020-11-19T21:17:36.0284055Z","results":{"inTerminalState":true,"documents":[],"errors":[{"id":"1","error":{"code":"InvalidRequest","message":"Job
        task parameter value bad is not supported for model-version parameter for
        job task type NamedEntityRecognition. Supported values latest,2020-04-01."}}],"modelVersion":""}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.3/analyze/jobs/bd0fad21-537e-4f0b-8eae-a18fd118809b_637413408000000000
version: 1
