interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest"}}]},
      "analysisInput": {"documents": [{"id": "1", "text": "Microsoft was founded by
      Bill Gates and Paul Allen", "language": "en"}, {"id": "2", "text": "Microsoft
      fue fundado por Bill Gates y Paul Allen", "language": "es"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/a308f197-e2e7-473c-b1a4-27a42cedd658_637408224000000000
    status:
      code: 202
      message: Accepted
    url: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/a308f197-e2e7-473c-b1a4-27a42cedd658_637408224000000000
  response:
    body:
      string: '{"jobId":"a308f197-e2e7-473c-b1a4-27a42cedd658_637408224000000000","lastUpdateDateTime":"2020-11-13T21:44:22Z","createdDateTime":"2020-11-13T21:44:22Z","expirationDateTime":"2020-11-14T21:44:22Z","status":"succeeded","errors":[],"tasks":{"details":{"lastUpdateDateTime":"2020-11-13T21:44:22Z"},"completed":1,"failed":0,"inProgress":0,"total":1,"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2020-11-13T21:44:22.8566433Z","results":{"inTerminalState":true,"documents":[{"id":"1","keyPhrases":["Bill
        Gates","Paul Allen","Microsoft"],"warnings":[]},{"id":"2","keyPhrases":["Bill
        Gates","Paul Allen","Microsoft"],"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/analyze/jobs/a308f197-e2e7-473c-b1a4-27a42cedd658_637408224000000000
version: 1
