interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "language":
      ""}, {"id": "2", "text": "I did not like the hotel we stayed at.", "language":
      ""}, {"id": "3", "text": "The restaurant had really good food.", "language":
      "en"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/7b8d893c-3955-41e6-8f47-08a489ff88cd
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://textanalytics-westeurope.ppe.cognitiveservices.azure.com/text/analytics/v3.1-preview.3/entities/health/jobs/7b8d893c-3955-41e6-8f47-08a489ff88cd
  response:
    body:
      string: '{"jobId":"7b8d893c-3955-41e6-8f47-08a489ff88cd","lastUpdateDateTime":"2020-11-14T00:40:45Z","createdDateTime":"2020-11-14T00:40:44Z","expirationDateTime":"2020-11-15T00:40:44Z","status":"succeeded","errors":[],"results":{"documents":[{"id":"1","entities":[],"relations":[],"warnings":[]},{"id":"2","entities":[],"relations":[],"warnings":[]},{"id":"3","entities":[],"relations":[],"warnings":[]}],"errors":[],"modelVersion":"2020-09-03"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
