{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "defaultLanguage": "es",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "hello world",
              "language": "auto"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "EntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "1",
            "kind": "KeyPhraseExtraction",
            "parameters": {}
          },
          {
            "taskName": "2",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "3",
            "kind": "EntityLinking",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "4",
            "kind": "SentimentAnalysis",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/f7720985-19ca-46f1-bf4a-dd55156d910d?api-version=2022-10-01-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/f7720985-19ca-46f1-bf4a-dd55156d910d?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "f7720985-19ca-46f1-bf4a-dd55156d910d",
        "lastUpdateDateTime": "2022-11-10T23:31:26Z",
        "createdDateTime": "2022-11-10T23:31:23Z",
        "expirationDateTime": "2022-11-11T23:31:23Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 5,
          "failed": 0,
          "inProgress": 0,
          "total": 5,
          "items": [
            {
              "kind": "EntityRecognitionLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-11-10T23:31:26.0604524Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "English",
                      "iso6391Name": "en",
                      "confidenceScore": 1.0
                    },
                    "isLanguageDefaulted": false
                  }
                ],
                "errors": [],
                "modelVersion": "2021-06-01"
              }
            },
            {
              "kind": "KeyPhraseExtractionLROResults",
              "taskName": "1",
              "lastUpdateDateTime": "2022-11-10T23:31:26.0786044Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "keyPhrases": [
                      "hello world"
                    ],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "English",
                      "iso6391Name": "en",
                      "confidenceScore": 1.0
                    },
                    "isLanguageDefaulted": false
                  }
                ],
                "errors": [],
                "modelVersion": "2022-10-01"
              }
            },
            {
              "kind": "PiiEntityRecognitionLROResults",
              "taskName": "2",
              "lastUpdateDateTime": "2022-11-10T23:31:26.0511325Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "hello world",
                    "id": "0",
                    "entities": [],
                    "warnings": [],
                    "detectedLanguage": {
                      "name": "English",
                      "iso6391Name": "en",
                      "confidenceScore": 1.0
                    },
                    "isLanguageDefaulted": false
                  }
                ],
                "errors": [],
                "modelVersion": "2021-01-15"
              }
        [...]
