interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"stringIndexType":
      "UnicodeCodePoint"}, "taskName": "0"}], "entityRecognitionPiiTasks": [{"parameters":
      {"stringIndexType": "UnicodeCodePoint"}, "taskName": "2"}], "keyPhraseExtractionTasks":
      [{"parameters": {}, "taskName": "1"}], "entityLinkingTasks": [{"parameters":
      {"stringIndexType": "UnicodeCodePoint"}, "taskName": "3"}], "sentimentAnalysisTasks":
      [{"parameters": {"stringIndexType": "UnicodeCodePoint"}, "taskName": "4"}],
      "extractiveSummarizationTasks": [{"parameters": {"stringIndexType": "UnicodeCodePoint"},
      "taskName": "5"}], "customEntityRecognitionTasks": [], "customSingleClassificationTasks":
      [], "customMultiClassificationTasks": []}, "analysisInput": {"documents": [{"id":
      "0", "text": "This should fail because we''re passing in an invalid language
      hint", "language": "notalanguage"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/2449d28d-9673-4d50-8cb8-96741252e912
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/2449d28d-9673-4d50-8cb8-96741252e912
  response:
    body:
      string: '{"jobId":"2449d28d-9673-4d50-8cb8-96741252e912","lastUpdateDateTime":"2021-12-08T22:45:28Z","createdDateTime":"2021-12-08T22:45:25Z","expirationDateTime":"2021-12-09T22:45:25Z","status":"running","errors":[],"tasks":{"completed":4,"failed":0,"inProgress":2,"total":6,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-12-08T22:45:28.068003Z","taskName":"0","state":"succeeded","results":{"documents":[],"errors":[{"id":"0","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en,es,de,fr,zh-Hans,ar,cs,da,fi,hu,it,ja,ko,no,nl,pl,pt-BR,pt-PT,ru,sv,tr.
        For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"}}}],"modelVersion":"2021-06-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-12-08T22:45:28.09495Z","taskName":"2","state":"succeeded","results":{"documents":[],"errors":[{"id":"0","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: ja,ko,zh-Hans,de,en,es,fr,it,pt-BR,pt-PT.
        For additional details see https://aka.ms/text-analytics/language-support?tabs=named-e[...]
[...]
