interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This should fail because we''re passing
      in an invalid language hint", "language": "notalanguage"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs?stringIndexType=UnicodeCodePoint
  response:
    body:
      string: ''
    headers:
      operation-location: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/1d02ec04-0de1-469a-aad8-4742ecc11d64
    status:
      code: 202
      message: Accepted
    url: https://centralus.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/entities/health/jobs?stringIndexType=UnicodeCodePoint
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/1d02ec04-0de1-469a-aad8-4742ecc11d64
  response:
    body:
      string: '{"jobId":"1d02ec04-0de1-469a-aad8-4742ecc11d64","lastUpdateDateTime":"2021-05-13T22:35:27Z","createdDateTime":"2021-05-13T22:35:26Z","expirationDateTime":"2021-05-14T22:35:26Z","status":"notStarted","errors":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/1d02ec04-0de1-469a-aad8-4742ecc11d64
- request:
    body: null
    headers:
    method: GET
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/1d02ec04-0de1-469a-aad8-4742ecc11d64
  response:
    body:
      string: '{"jobId":"1d02ec04-0de1-469a-aad8-4742ecc11d64","lastUpdateDateTime":"2021-05-13T22:35:33Z","createdDateTime":"2021-05-13T22:35:26Z","expirationDateTime":"2021-05-14T22:35:26Z","status":"succeeded","errors":[],"results":{"documents":[],"errors":[{"id":"0","error":{"code":"InvalidArgument","message":"Invalid
        Language Code.","innererror":{"code":"UnsupportedLanguageCode","message":"Invalid
        language code. Supported languages: en. For additional details see https://aka.ms/text-analytics/language-support"}}}],"modelVersion":"2021-03-01"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/entities/health/jobs/1d02ec04-0de1-469a-aad8-4742ecc11d64
version: 1
