interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "countryHint":
      "US"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "countryHint":
      "US"}, {"id": "3", "text": "The restaurant had really good food.", "countryHint":
      "US"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/languages?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"1","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":0.99},"warnings":[]},{"id":"2","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]},{"id":"3","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":0.99},"warnings":[]}],"errors":[],"modelVersion":"2021-01-05"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3
    status:
      code: 200
      message: OK
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "countryHint":
      "US"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "countryHint":
      "US"}, {"id": "3", "text": "The restaurant had really good food.", "countryHint":
      "US"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/languages?showStats=false
  response:
    body:
      string: '{"error":{"code":"401","message":"Access denied due to invalid subscription
        key or wrong API endpoint. Make sure to provide a valid key for an active
        subscription and use a correct regional API endpoint for your resource."}}'
    headers:
    status:
      code: 401
      message: PermissionDenied
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "countryHint":
      "US"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "countryHint":
      "US"}, {"id": "3", "text": "The restaurant had really good food.", "countryHint":
      "US"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centralus.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/languages?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"1","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":0.99},"warnings":[]},{"id":"2","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]},{"id":"3","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":0.99},"warnings":[]}],"errors":[],"modelVersion":"2021-01-05"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3
    status:
      code: 200
      message: OK
version: 1
