{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "EntityLinking",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I should take my cat to the veterinarian.",
              "language": "es"
            },
            {
              "id": "2",
              "text": "Este es un document escrito en Espa\u00F1ol.",
              "language": "es"
            },
            {
              "id": "3",
              "text": "\u732B\u306F\u5E78\u305B",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "kind": "EntityLinkingResults",
        "results": {
          "documents": [
            {
              "id": "1",
              "entities": [],
              "warnings": []
            },
            {
              "id": "2",
              "entities": [],
              "warnings": []
            },
            {
              "id": "3",
              "entities": [],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
