interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [], "entityRecognitionPiiTasks": [],
      "keyPhraseExtractionTasks": [{"parameters": {"model-version": "latest", "loggingOptOut":
      false}}], "entityLinkingTasks": []}, "analysisInput": {"documents": [{"id":
      "1", "text": "Microsoft was founded by Bill Gates and Paul Allen", "language":
      "en"}, {"id": "2", "text": "Microsoft fue fundado por Bill Gates y Paul Allen",
      "language": "es"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/6a52eaa2-beea-4868-9069-766f6d5a0618
    status:
      code: 202
      message: Accepted
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.1-preview.5/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/6a52eaa2-beea-4868-9069-766f6d5a0618?showStats=True
  response:
    body:
      string: '{"jobId":"6a52eaa2-beea-4868-9069-766f6d5a0618","lastUpdateDateTime":"2021-04-27T19:36:22Z","createdDateTime":"2021-04-27T19:36:21Z","expirationDateTime":"2021-04-28T19:36:21Z","status":"running","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-04-27T19:36:22Z"},"completed":0,"failed":0,"inProgress":1,"total":1}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/6a52eaa2-beea-4868-9069-766f6d5a0618?showStats=True
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/6a52eaa2-beea-4868-9069-766f6d5a0618?showStats=True
  response:
    body:
      string: '{"jobId":"6a52eaa2-beea-4868-9069-766f6d5a0618","lastUpdateDateTime":"2021-04-27T19:36:28Z","createdDateTime":"2021-04-27T19:36:21Z","expirationDateTime":"2021-04-28T19:36:21Z","status":"succeeded","errors":[],"displayName":"NA","tasks":{"details":{"name":"NA","lastUpdateDateTime":"2021-04-27T19:36:28Z"},"completed":1,"failed":0,"inProgress":0,"total":1,"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-04-27T19:36:28.8512134Z","name":"NA","state":"succeeded","results":{"statistics":{"documentsCount":2,"validDocumentsCount":2,"erroneousDocumentsCount":0,"transactionsCount":2},"documents":[{"id":"1","keyPhrases":["Bill
        Gates","Paul Allen","Microsoft"],"statistics":{"charactersCount":50,"transactionsCount":1},"warnings":[]},{"id":"2","keyPhrases":["Bill
        Gates","Paul Allen","Microsoft"],"statistics":{"charactersCount":49,"transactionsCount":1},"warnings":[]}],"errors":[],"modelVersion":"2020-07-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.1-preview.5/analyze/jobs/6a52eaa2-beea-4868-9069-766f6d5a0618?showStats=True
version: 1
