interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}}], "entityRecognitionPiiTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": true, "stringIndexType":
      "UnicodeCodePoint"}}], "keyPhraseExtractionTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true}}], "entityLinkingTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint"}}], "sentimentAnalysisTasks":
      [{"parameters": {"model-version": "latest", "loggingOptOut": true, "opinionMining":
      false}}], "extractiveSummarizationTasks": [{"parameters": {"model-version":
      "latest", "loggingOptOut": true, "stringIndexType": "UnicodeCodePoint", "sentenceCount":
      3, "sortBy": "Offset"}}], "customEntityRecognitionTasks": [{"parameters": {"project-name":
      "textanalytics_custom_entities_project_name", "deployment-name": "textanalytics_custom_entities_project_name",
      "loggingOptOut": true}}], "customSingleClassificationTasks": [{"parameters":
      {"project-name": "single_category_classify_project_name", "deployment-name":
      "single_category_classify_project_name", "loggingOptOut": true}}], "customMultiClassificationTasks":
      [{"parameters": {"project-name": "textanalytics_multi_category_classify_project_name",
      "deployment-name": "textanalytics_multi_category_classify_project_name", "loggingOptOut":
      true}}]}, "analysisInput": {"documents": [{"id": "0", "text": "Test for logging
      disable", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/1ff759bd-2344-4d27-8098-265589e5f876
    status:
      code: 202
      message: Accepted
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/1ff759bd-2344-4d27-8098-265589e5f876
  response:
    body:
      string: '{"jobId":"1ff759bd-2344-4d27-8098-265589e5f876","lastUpdateDateTime":"2021-10-06T20:55:00Z","createdDateTime":"2021-10-06T20:54:59Z","expirationDateTime":"2021-10-07T20:54:59Z","status":"running","errors":[],"displayName":"NA","tasks":{"completed":1,"failed":0,"inProgress":8,"total":9,"customMultiClassificationTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:00.8646659Z","state":"succeeded","results":{"documents":[{"id":"0","classifications":[],"warnings":[]}],"errors":[],"projectName":"textanalytics_multi_category_classify_project_name","deploymentName":"textanalytics_multi_category_classify_project_name"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/1ff759bd-2344-4d27-8098-265589e5f876
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/1ff759bd-2344-4d27-8098-265589e5f876
  response:
    body:
      string: '{"jobId":"1ff759bd-2344-4d27-8098-265589e5f876","lastUpdateDateTime":"2021-10-06T20:55:08Z","createdDateTime":"2021-10-06T20:54:59Z","expirationDateTime":"2021-10-07T20:54:59Z","status":"running","errors":[{"code":"InternalServerError","message":"2
        out of 9 job tasks failed. Failed job tasks : v3.2-preview.2/custom/entities/general,v3.2-preview.2/custom/classification/singlelabel."}],"displayName":"NA","tasks":{"completed":3,"failed":2,"inProgress":4,"total":9,"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:08.4247459Z","state":"succeeded","results":{"documents":[{"redactedText":"Test
        for logging disable","id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:08.1222057Z","state":"succeeded","results":{"documents":[{"id":"0","keyPhrases":["Test","logging"],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"customEntityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:06.6152459Z","state":"failed"}],"customSingleClassificationTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:06.5775061Z","state":"failed"}],"customMultiClassificationTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:00.8646659Z","state":"succeeded","results":{"documents":[{"id":"0","classifications":[],"warnings":[]}],"errors":[],"projectName":"textanalytics_multi_category_classify_project_name","deploymentName":"textanalytics_multi_category_classify_project_name"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/1ff759bd-2344-4d27-8098-265589e5f876
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/1ff759bd-2344-4d27-8098-265589e5f876
  response:
    body:
      string: '{"jobId":"1ff759bd-2344-4d27-8098-265589e5f876","lastUpdateDateTime":"2021-10-06T20:55:14Z","createdDateTime":"2021-10-06T20:54:59Z","expirationDateTime":"2021-10-07T20:54:59Z","status":"running","errors":[{"code":"InternalServerError","message":"2
        out of 9 job tasks failed. Failed job tasks : v3.2-preview.2/custom/entities/general,v3.2-preview.2/custom/classification/singlelabel."}],"displayName":"NA","tasks":{"completed":4,"failed":2,"inProgress":3,"total":9,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:14.4053097Z","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"text":"logging","category":"Skill","offset":9,"length":7,"confidenceScore":0.61}],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:08.4247459Z","state":"succeeded","results":{"documents":[{"redactedText":"Test
        for logging disable","id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:08.1222057Z","state":"succeeded","results":{"documents":[{"id":"0","keyPhrases":["Test","logging"],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"customEntityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:06.6152459Z","state":"failed"}],"customSingleClassificationTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:06.5775061Z","state":"failed"}],"customMultiClassificationTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:00.8646659Z","state":"succeeded","results":{"documents":[{"id":"0","classifications":[],"warnings":[]}],"errors":[],"projectName":"textanalytics_multi_category_classify_project_name","deploymentName":"textanalytics_multi_category_classify_project_name"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/1ff759bd-2344-4d27-8098-265589e5f876
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/1ff759bd-2344-4d27-8098-265589e5f876
  response:
    body:
      string: '{"jobId":"1ff759bd-2344-4d27-8098-265589e5f876","lastUpdateDateTime":"2021-10-06T20:55:18Z","createdDateTime":"2021-10-06T20:54:59Z","expirationDateTime":"2021-10-07T20:54:59Z","status":"running","errors":[{"code":"InternalServerError","message":"2
        out of 9 job tasks failed. Failed job tasks : v3.2-preview.2/custom/entities/general,v3.2-preview.2/custom/classification/singlelabel."}],"displayName":"NA","tasks":{"completed":5,"failed":2,"inProgress":2,"total":9,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:14.4053097Z","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"text":"logging","category":"Skill","offset":9,"length":7,"confidenceScore":0.61}],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:08.4247459Z","state":"succeeded","results":{"documents":[{"redactedText":"Test
        for logging disable","id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"extractiveSummarizationTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:18.0624414Z","state":"succeeded","results":{"documents":[{"id":"0","sentences":[{"text":"Test
        for logging disable","rankScore":1.0,"offset":0,"length":24}],"warnings":[]}],"errors":[],"modelVersion":"2021-08-01"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:08.1222057Z","state":"succeeded","results":{"documents":[{"id":"0","keyPhrases":["Test","logging"],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"customEntityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:06.6152459Z","state":"failed"}],"customSingleClassificationTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:06.5775061Z","state":"failed"}],"customMultiClassificationTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:00.8646659Z","state":"succeeded","results":{"documents":[{"id":"0","classifications":[],"warnings":[]}],"errors":[],"projectName":"textanalytics_multi_category_classify_project_name","deploymentName":"textanalytics_multi_category_classify_project_name"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/1ff759bd-2344-4d27-8098-265589e5f876
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/1ff759bd-2344-4d27-8098-265589e5f876
  response:
    body:
      string: '{"jobId":"1ff759bd-2344-4d27-8098-265589e5f876","lastUpdateDateTime":"2021-10-06T20:55:31Z","createdDateTime":"2021-10-06T20:54:59Z","expirationDateTime":"2021-10-07T20:54:59Z","status":"partiallyCompleted","errors":[{"code":"InternalServerError","message":"2
        out of 9 job tasks failed. Failed job tasks : v3.2-preview.2/custom/entities/general,v3.2-preview.2/custom/classification/singlelabel."}],"displayName":"NA","tasks":{"completed":7,"failed":2,"inProgress":0,"total":9,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:14.4053097Z","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"text":"logging","category":"Skill","offset":9,"length":7,"confidenceScore":0.61}],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityLinkingTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:28.6015137Z","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"bingId":"a7b11e27-5b63-19a5-b4dd-37b71149ecac","name":"Test
        (assessment)","matches":[{"text":"Test","offset":0,"length":4,"confidenceScore":0.04}],"language":"en","id":"Test
        (assessment)","url":"https://en.wikipedia.org/wiki/Test_(assessment)","dataSource":"Wikipedia"}],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"entityRecognitionPiiTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:08.4247459Z","state":"succeeded","results":{"documents":[{"redactedText":"Test
        for logging disable","id":"0","entities":[],"warnings":[]}],"errors":[],"modelVersion":"2021-01-15"}}],"extractiveSummarizationTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:18.0624414Z","state":"succeeded","results":{"documents":[{"id":"0","sentences":[{"text":"Test
        for logging disable","rankScore":1.0,"offset":0,"length":24}],"warnings":[]}],"errors":[],"modelVersion":"2021-08-01"}}],"keyPhraseExtractionTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:08.1222057Z","state":"succeeded","results":{"documents":[{"id":"0","keyPhrases":["Test","logging"],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}],"sentimentAnalysisTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:31.0206339Z","state":"succeeded","results":{"documents":[{"id":"0","sentiment":"negative","confidenceScores":{"positive":0.02,"neutral":0.12,"negative":0.86},"sentences":[{"sentiment":"negative","confidenceScores":{"positive":0.02,"neutral":0.12,"negative":0.86},"offset":0,"length":24,"text":"Test
        for logging disable"}],"warnings":[]}],"errors":[],"modelVersion":"2020-04-01"}}],"customEntityRecognitionTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:06.6152459Z","state":"failed"}],"customSingleClassificationTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:06.5775061Z","state":"failed"}],"customMultiClassificationTasks":[{"lastUpdateDateTime":"2021-10-06T20:55:00.8646659Z","state":"succeeded","results":{"documents":[{"id":"0","classifications":[],"warnings":[]}],"errors":[],"projectName":"textanalytics_multi_category_classify_project_name","deploymentName":"textanalytics_multi_category_classify_project_name"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/1ff759bd-2344-4d27-8098-265589e5f876
version: 1
