interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I will go to the park.", "countryHint":
      "CA"}, {"id": "2", "text": "I did not like the hotel we stayed at.", "countryHint":
      "CA"}, {"id": "3", "text": "The restaurant had really good food.", "countryHint":
      "CA"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0/languages?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"1","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]},{"id":"2","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]},{"id":"3","detectedLanguage":{"name":"English","iso6391Name":"en","confidenceScore":1.0},"warnings":[]}],"errors":[],"modelVersion":"2019-10-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3
    status:
      code: 200
      message: OK
    url: https://westus2.api.cognitive.microsoft.com//text/analytics/v3.0/languages?showStats=false
version: 1
