{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/linking?model-version=latest\u0026showStats=true\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022Bill Gates is the CEO of Microsoft.\u0022, \u0022language\u0022: \u0022es\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "statistics": {
          "documentsCount": 1,
          "validDocumentsCount": 1,
          "erroneousDocumentsCount": 0,
          "transactionsCount": 1
        },
        "documents": [
          {
            "id": "0",
            "statistics": {
              "charactersCount": 35,
              "transactionsCount": 1
            },
            "entities": [
              {
                "bingId": "0d47c987-0042-5576-15e8-97af601614fa",
                "name": "Bill Gates",
                "matches": [
                  {
                    "text": "Bill Gates",
                    "offset": 0,
                    "length": 10,
                    "confidenceScore": 0.38
                  }
                ],
                "language": "es",
                "id": "Bill Gates",
                "url": "https://es.wikipedia.org/wiki/Bill_Gates",
                "dataSource": "Wikipedia"
              },
              {
                "bingId": "cf5db860-9fd2-390d-0b6d-5ba856efed49",
                "name": "Director ejecutivo",
                "matches": [
                  {
                    "text": "CEO",
                    "offset": 18,
                    "length": 3,
                    "confidenceScore": 0.22
                  }
                ],
                "language": "es",
                "id": "Director ejecutivo",
                "url": "https://es.wikipedia.org/wiki/Director_ejecutivo",
                "dataSource": "Wikipedia"
              },
              {
                "bingId": "a093e9b9-90f5-a3d5-c4b8-5855e1b01f85",
                "name": "Microsoft",
                "matches": [
                  {
                    "text": "Microsoft",
                    "offset": 25,
                    "length": 9,
                    "confidenceScore": 0.3
                  }
                ],
                "language": "es",
                "id": "Microsoft",
                "url": "https://es.wikipedia.org/wiki/Microsoft",
                "dataSource": "Wikipedia"
              }
            ],
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-06-01"
      }
    }
  ],
  "Variables": {}
}
