{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I did not like the hotel we stayed at.",
              "language": "tr"
            },
            {
              "id": "2",
              "text": "I did not like the hotel we stayed at.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "taskName": "0",
            "kind": "SentimentAnalysis",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          },
          {
            "taskName": "1",
            "kind": "PiiEntityRecognition",
            "parameters": {
              "stringIndexType": "UnicodeCodePoint"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/0a5d138b-3dbf-4bb2-8488-4e9b05329119?api-version=2022-03-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/0a5d138b-3dbf-4bb2-8488-4e9b05329119?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0a5d138b-3dbf-4bb2-8488-4e9b05329119",
        "lastUpdateDateTime": "2022-04-20T23:54:09Z",
        "createdDateTime": "2022-04-20T23:54:08Z",
        "expirationDateTime": "2022-04-21T23:54:08Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 2,
          "total": 2,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/analyze-text/jobs/0a5d138b-3dbf-4bb2-8488-4e9b05329119?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "0a5d138b-3dbf-4bb2-8488-4e9b05329119",
        "lastUpdateDateTime": "2022-04-20T23:54:16Z",
        "createdDateTime": "2022-04-20T23:54:08Z",
        "expirationDateTime": "2022-04-21T23:54:08Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 2,
          "failed": 0,
          "inProgress": 0,
          "total": 2,
          "items": [
            {
              "kind": "SentimentAnalysisLROResults",
              "taskName": "0",
              "lastUpdateDateTime": "2022-04-20T23:54:16.719876Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "sentiment": "neutral",
                    "confidenceScores": {
                      "positive": 0.06,
                      "neutral": 0.55,
                      "negative": 0.39
                    },
                    "sentences": [
                      {
                        "sentiment": "neutral",
                        "confidenceScores": {
                          "positive": 0.06,
                          "neutral": 0.55,
                          "negative": 0.39
                        },
                        "offset": 0,
                        "length": 38,
                        "text": "I did not like the hotel we stayed at."
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "sentiment": "negative",
                    "confidenceScores": {
                      "positive": 0.01,
                      "neutral": 0.45,
                      "negative": 0.54
                    },
                    "sentences": [
                      {
                        "sentiment": "negative",
                        "confidenceScores": {
                          "positive": 0.01,
                          "neutral": 0.45,
                          "negative": 0.54
                        },
                        "offset": 0,
                        "length": 38,
                        "text": "I did not like the hotel we stayed at."
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2020-04-01"
              }
            },
            {
              "kind": "PiiEntityRecognitionLROResults",
              "taskName": "1",
              "lastUpdateDateTime": "2022-04-20T23:54:16.1555565Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "redactedText": "I did not like the hotel we stayed at.",
                    "id": "2",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Language Code.",
                      "innererror": {
                        "code": "UnsupportedLanguageCode",
                        "message": "Invalid language code. Supported languages: ja,ko,zh-Hans,de,en,es,fr,it,pt-BR,pt-PT. For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"
                      }
                    }
                  }
                ],
                "modelVersion": "2021-01-15"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
