interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "My SSN is 555-55-5555", "language":
      "English"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/pii?showStats=false
  response:
    body:
      string: '{"documents":[],"errors":[{"id":"0","error":{"code":"InvalidArgument","innerError":{"code":"UnsupportedLanguageCode","message":"Supplied
        language not supported. Pass in one of: en"},"message":"Invalid Language Code."}}],"modelVersion":"2019-10-01"}'
    headers:
      content-type: application/json; charset=utf-8
      x-aml-ta-request-id: 9399815e-a26e-45f3-b66b-967938634f63
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - westus2.api.cognitive.microsoft.com
        - //text/analytics/v3.0-preview.1/entities/recognition/pii
        - showStats=false
        - ''
version: 1
