{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/linking?showStats=false\u0026stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022:[{\u0022id\u0022:\u00221\u0022,\u0022text\u0022:\u0022I should take my cat to the veterinarian.\u0022,\u0022language\u0022:\u0022de\u0022},{\u0022id\u0022:\u00224\u0022,\u0022text\u0022:\u0022Este es un document escrito en Espa\u00F1ol.\u0022,\u0022language\u0022:\u0022de\u0022},{\u0022id\u0022:\u00223\u0022,\u0022text\u0022:\u0022\u732B\u306F\u5E78\u305B\u0022,\u0022language\u0022:\u0022de\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "documents": [],
        "errors": [
          {
            "id": "1",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid Language Code.",
              "innererror": {
                "code": "UnsupportedLanguageCode",
                "message": "Invalid language code. Supported languages: en,es. For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"
              }
            }
          },
          {
            "id": "4",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid Language Code.",
              "innererror": {
                "code": "UnsupportedLanguageCode",
                "message": "Invalid language code. Supported languages: en,es. For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"
              }
            }
          },
          {
            "id": "3",
            "error": {
              "code": "InvalidArgument",
              "message": "Invalid Language Code.",
              "innererror": {
                "code": "UnsupportedLanguageCode",
                "message": "Invalid language code. Supported languages: en,es. For additional details see https://aka.ms/text-analytics/language-support?tabs=named-entity-recognition"
              }
            }
          }
        ],
        "modelVersion": "2021-06-01"
      }
    }
  ],
  "Variables": {}
}
