interactions:
- request:
    body: '{"tasks": {"entityRecognitionTasks": [{"parameters": {"stringIndexType":
      "UnicodeCodePoint"}, "taskName": "0"}], "entityRecognitionPiiTasks": [], "keyPhraseExtractionTasks":
      [], "entityLinkingTasks": [], "sentimentAnalysisTasks": [], "extractiveSummarizationTasks":
      [], "customEntityRecognitionTasks": [], "customSingleClassificationTasks": [],
      "customMultiClassificationTasks": []}, "analysisInput": {"documents": [{"id":
      "0", "text": "Test passing cls to endpoint", "language": "en"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/9f2c7116-4028-4523-bd45-72c4339fda86
    status:
      code: 202
      message: Accepted
    url: https://python-textanalytics.cognitiveservices.azure.com//text/analytics/v3.2-preview.2/analyze
- request:
    body: null
    headers:
    method: GET
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.2-preview.2/analyze/jobs/9f2c7116-4028-4523-bd45-72c4339fda86
  response:
    body:
      string: '{"jobId":"9f2c7116-4028-4523-bd45-72c4339fda86","lastUpdateDateTime":"2021-12-08T22:51:59Z","createdDateTime":"2021-12-08T22:51:57Z","expirationDateTime":"2021-12-09T22:51:57Z","status":"succeeded","errors":[],"tasks":{"completed":1,"failed":0,"inProgress":0,"total":1,"entityRecognitionTasks":[{"lastUpdateDateTime":"2021-12-08T22:51:59.8154057Z","taskName":"0","state":"succeeded","results":{"documents":[{"id":"0","entities":[{"text":"Test","category":"Skill","offset":0,"length":4,"confidenceScore":0.94},{"text":"cls","category":"Skill","offset":13,"length":3,"confidenceScore":0.96}],"warnings":[]}],"errors":[],"modelVersion":"2021-06-01"}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://python-textanalytics.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/9f2c7116-4028-4523-bd45-72c4339fda86
version: 1
