{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs?stringIndexType=UnicodeCodePoint",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022Patient does not suffer from high blood pressure.\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u00221\u0022, \u0022text\u0022: \u0022Prescribed 100mg ibuprofen, taken twice daily.\u0022, \u0022language\u0022: \u0022en\u0022}, {\u0022id\u0022: \u00222\u0022, \u0022text\u0022: \u0022\u0022, \u0022language\u0022: \u0022en\u0022}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/731bea1c-57f2-4ba8-8eba-7f559abb47e4"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/entities/health/jobs/731bea1c-57f2-4ba8-8eba-7f559abb47e4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "731bea1c-57f2-4ba8-8eba-7f559abb47e4",
        "lastUpdateDateTime": "2021-12-14T19:02:10Z",
        "createdDateTime": "2021-12-14T19:02:09Z",
        "expirationDateTime": "2021-12-15T19:02:09Z",
        "status": "succeeded",
        "errors": [],
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [
                {
                  "offset": 29,
                  "length": 19,
                  "text": "high blood pressure",
                  "category": "SymptomOrSign",
                  "confidenceScore": 1.0,
                  "assertion": {
                    "certainty": "negative"
                  },
                  "name": "Hypertensive disease",
                  "links": [
                    {
                      "dataSource": "UMLS",
                      "id": "C0020538"
                    },
                    {
                      "dataSource": "AOD",
                      "id": "0000023317"
                    },
                    {
                      "dataSource": "BI",
                      "id": "BI00001"
                    },
                    {
                      "dataSource": "CCPSS",
                      "id": "1017493"
                    },
                    {
                      "da[...]
