{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/language/:analyze-text?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "EntityRecognition",
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "This was the best day of my life.",
              "language": "fr"
            },
            {
              "id": "1",
              "text": "I did not like the hotel we stayed at. It was too expensive.",
              "language": "fr"
            },
            {
              "id": "2",
              "text": "The restaurant was not as good as I hoped.",
              "language": "fr"
            }
          ]
        },
        "parameters": {
          "stringIndexType": "UnicodeCodePoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=3,CognitiveServices.TextAnalytics.TextRecords=3"
      },
      "ResponseBody": {
        "kind": "EntityRecognitionResults",
        "results": {
          "documents": [
            {
              "id": "0",
              "entities": [],
              "warnings": []
            },
            {
              "id": "1",
              "entities": [
                {
                  "text": "hotel",
                  "category": "Location",
                  "offset": 19,
                  "length": 5,
                  "confidenceScore": 0.99
                }
              ],
              "warnings": []
            },
            {
              "id": "2",
              "entities": [
                {
                  "text": "restaurant",
                  "category": "Location",
                  "offset": 4,
                  "length": 10,
                  "confidenceScore": 0.96
                }
              ],
              "warnings": []
            }
          ],
          "errors": [],
          "modelVersion": "2021-06-01"
        }
      }
    }
  ],
  "Variables": {}
}
