{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022tasks\u0022: {\u0022entityRecognitionTasks\u0022: [], \u0022entityRecognitionPiiTasks\u0022: [], \u0022keyPhraseExtractionTasks\u0022: [], \u0022entityLinkingTasks\u0022: [], \u0022sentimentAnalysisTasks\u0022: [], \u0022extractiveSummarizationTasks\u0022: [{\u0022parameters\u0022: {\u0022model-version\u0022: \u0022latest\u0022, \u0022loggingOptOut\u0022: false, \u0022stringIndexType\u0022: \u0022UnicodeCodePoint\u0022, \u0022sentenceCount\u0022: 5, \u0022sortBy\u0022: \u0022Rank\u0022}[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/e0ba53f8-9ce5-4e76-a356-505a9b48360f?showStats=True",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "e0ba53f8-9ce5-4e76-a356-505a9b48360f",
        "lastUpdateDateTime": "2021-12-14T02:11:20Z",
        "createdDateTime": "2021-12-14T02:11:18Z",
        "expirationDateTime": "2021-12-15T02:11:18Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "extractiveSummarizationTasks": [
            {
              "lastUpdateDateTime": "2021-12-14T02:11:20.4023746Z",
              "taskName": "0",
              "state": "succeeded",
              "results": {
                "statistics": {
                  "documentsCount": 1,
                  "validDocumentsCount": 1,
                  "erroneousDocumentsCount": 0,
                  "transactionsCount": 2
                },
                "documents": [
                  {
                    "id": "0",
                    "statistics": {
                      "charactersCount": 1625,
                      "transactionsCount": 2
                    },
                    "sentences": [
                      {
                        "text": "The Foreign Secretary Boris Johnson, quit on Monday, hours after the resignation late on Sunday night of the minister in charge of Brexit negotiations, David Davis.",
                        "rankScore": 1.0,
                        "offset": 177,
                        "length": 164
                      },
                      {
                        "text": "The government of British Prime Minster Theresa May has been plunged into turmoil with the resignation of two senior Cabinet ministers in a deep split over her Brexit strategy.",
                        "rankScore": 0.57,
                        "offset": 0,
                        "length": 176
                      },
                      {
                        "text": "Their decision to leave the government came three days after May appeared to have agreed a deal with herfractured Cabinet on the UK\u0027s post Brexit relationship with the EU.",
                        "rankScore": 0.47,
                        "offset": 342,
                        "length": 171
                      },
                      {
                        "text": "That plan is now in tatters and her political future appears uncertain.",
                        "rankScore": 0.36,
                        "offset": 514,
                        "length": 71
                      },
                      {
                        "text": "The Prime Minister\u0027s latest plitical drama began late on Sunday night when Davis quit, declaring he could not support May\u0027s Brexit plan.",
                        "rankScore": 0.26,
                        "offset": 918,
                        "length": 136
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "modelVersion": "2021-08-01"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
