interactions:
- request:
    body: '{"documents": [{"id": "56", "text": ":)", "language": "en"}, {"id": "0",
      "text": ":(", "language": "en"}, {"id": "22", "text": "", "language": "en"},
      {"id": "19", "text": ":P", "language": "en"}, {"id": "1", "text": ":D", "language":
      "en"}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK-Client: [Python-SDK]
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/keyPhrases?model-version=latest&showStats=true
  response:
    body: {string: '{"statistics":{"documentsCount":5,"validDocumentsCount":4,"erroneousDocumentsCount":1,"transactionsCount":4},"documents":[{"id":"56","keyPhrases":[],"statistics":{"charactersCount":2,"transactionsCount":1}},{"id":"0","keyPhrases":[],"statistics":{"charactersCount":2,"transactionsCount":1}},{"id":"19","keyPhrases":[],"statistics":{"charactersCount":2,"transactionsCount":1}},{"id":"1","keyPhrases":[],"statistics":{"charactersCount":2,"transactionsCount":1}}],"errors":[{"id":"22","error":{"code":"InvalidArgument","message":"Invalid
        document in request.","innerError":{"code":"InvalidDocument","message":"Document
        text is empty."}}}],"modelVersion":"2019-10-01"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      csp-billing-usage: [CognitiveServices.TextAnalytics.BatchScoring=4]
    status: {code: 200, message: OK}
version: 1
