{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/languages?model-version=latest\u0026showStats=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022documents\u0022: [{\u0022id\u0022: \u00220\u0022, \u0022text\u0022: \u0022this is written in english\u0022, \u0022countryHint\u0022: \u0022ES\u0022}]}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.BatchScoring=1,CognitiveServices.TextAnalytics.TextRecords=1"
      },
      "ResponseBody": {
        "statistics": {
          "documentsCount": 1,
          "validDocumentsCount": 1,
          "erroneousDocumentsCount": 0,
          "transactionsCount": 1
        },
        "documents": [
          {
            "id": "0",
            "detectedLanguage": {
              "name": "English",
              "iso6391Name": "en",
              "confidenceScore": 1.0
            },
            "statistics": {
              "charactersCount": 26,
              "transactionsCount": 1
            },
            "warnings": []
          }
        ],
        "errors": [],
        "modelVersion": "2021-01-05"
      }
    }
  ],
  "Variables": {}
}
