interactions:
- request:
    body: '{"passwordProfile": {"password": "MyStr0ngP4ssword", "forceChangePasswordNextLogin":
      true}, "accountEnabled": false, "displayName": "Test Buddy", "mailNickname":
      "testbuddy", "userPrincipalName": "testbuddy@myaddomain.onmicrosoft.com"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://graph.windows.net/myaddomain.onmicrosoft.com/users?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/myaddomain.onmicrosoft.com/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"63a1ebd5-b6a3-4aa9-a341-8da31557bd29","deletionTimestamp":null,"accountEnabled":false,"signInNames":[],"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Test
        Buddy","facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"mail":null,"mailNickname":"testbuddy","mobile":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":{"password":null,"forceChangePasswordNextLogin":true,"enforceChangePasswordPolicy":false},"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2016-06-22T17:59:49.4889161Z","sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"usageLocation":null,"userPrincipalName":"testbuddy@myaddomain.onmicrosoft.com","userType":"Member"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      DataServiceVersion: [3.0;]
      Duration: ['16622453']
      Location: ['https://graph.windows.net/myaddomain.onmicrosoft.com/directoryObjects/63a1ebd5-b6a3-4aa9-a341-8da31557bd29/Microsoft.DirectoryServices.User']
      ocp-aad-diagnostics-server-name: [iYdxC4//s1JYk40t8P7wp4F402LFHd9cy7lmjVT3g6E=]
      ocp-aad-session-key: [QU3D2XU_U5U7AAlIGfGhkeczbDTa9Dt6QjpPjPrT81eck3C9UAVPwSzYm-8cVPX_FYTiHAhExqKYoc43Yf_Nvs7BuwrJffI-LThUFm5VSgDVk6SZ-X5kR6OTe1FhtMI8RNSXJYeV8hN885SUWJs0BA.JnPMO4U4t_sMrpjgb62Yud5r1fnzcUkTgcbysP-2ZFU]
      x-ms-dirapi-data-contract-version: ['1.6']
      x-ms-gateway-rewrite: ['false']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/myaddomain.onmicrosoft.com/users/63a1ebd5-b6a3-4aa9-a341-8da31557bd29?api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/myaddomain.onmicrosoft.com/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"63a1ebd5-b6a3-4a[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://graph.windows.net/myaddomain.onmicrosoft.com/users?$filter=displayName%20eq%20%27Test%20Buddy%27&api-version=1.6
  response:
    body: {string: '{"odata.metadata":"https://graph.windows.net/myaddomain.onmicrosoft.com/$metadata#directoryObjects/Microsoft.DirectoryServices.User","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"63a1ebd5-b6a3-4aa9-a341-8da31557bd29","deletionTimestamp":null,"accountEnabled":false,"signInNames":[],"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"country":null,"creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"Test
        Buddy","facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"mail[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://graph.windows.net/myaddomain.onmicrosoft.com/users/63a1ebd5-b6a3-4aa9-a341-8da31557bd29?api-version=1.6
  response:
    body: {string: ''}
    headers:
      DataServiceVersion: [1.0;]
      Duration: ['13926420']
      ocp-aad-diagnostics-server-name: [PsdA7PkyAvi9ISC2/j5GADuk5Hlkgp7V82CwYNLGNR4=]
      ocp-aad-session-key: [zZqbhN4ject-oOGICpbxaFHX8A7jMbX8FN6coChscxkUARGH7UdA1R1BF0QEu1tM89ShQYpC_mwqVvhqjtIE1bIV_5eq23ZAJ2hYm1ggyV4rSRLlc-BE88_4HX7bvgfkz-6p7jSM5kdnk3OMDiym2A.sXYbKcs0CUn7vgfFnfyTFAu-4MUIPm3oIX7DlGu4Pkk]
      x-ms-dirapi-data-contract-version: ['1.6']
      x-ms-gateway-rewrite: ['false']
    status: {code: 204, message: No Content}
version: 1
