interactions:
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"subscriptions": ["00000000-0000-0000-0000-000000000000"],
      "query": "project id, location | where where"}\\\\\\\''\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2019-04-01
  response:
    body: {string: "{\"error\":{\"code\":\"InvalidQuery\",\"message\":\"Query validation
        error\",\"details\":[{\"code\":\"ParserFailure\",\"message\":\"Parser failure\",\"line\":1,\"characterPositionInLine\":34,\"token\":\"<EOF>\",\"expectedToken\":\"\u0178\"}]}}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-tenant-writes: ['1197']
    status: {code: 400, message: Bad Request}
version: 1
