interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ZnvUuj0XsUmdCSvrKAuq/Q.0
      x-processing-time:
      - 83ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2021-02-02T23:05:49.906379+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - cCElD8gOXkyn78SC7PR2xA.0
      x-processing-time:
      - 133ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-Request-ID:
      - ee5399fe-a8b4-4f81-b022-eb5271820855
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2020-11-01-preview3
  response:
    body: '{"chatThread": {"id": "19:1DwYpmFor6fm6d9B-KPvnaKt1GDCbGkphgtJGLw6qMY1@thread.v2",
      "topic": "test topic", "createdOn": "2021-02-01T23:05:51Z", "createdBy": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000007-ffb9-ff5a-1655-373a0d0025bf"}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - TO71ajX/1EiaJuJJQ5vqJw.0
      x-processing-time:
      - 1318ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - w8dY644PGkyY7+bBkOXYHQ.0
      x-processing-time:
      - 16808ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      ms-cv:
      - qsobGe1ye0iPmeq6xTNEXA.0
      x-processing-time:
      - 345ms
    status:
      code: 204
      message: No Content
version: 1
