interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Sj7h3LbAl0i9hyvAE6L6RA.0
      x-processing-time:
      - 56ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2021-02-02T23:12:05.9542699+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - K235FSgb1kidl5278N5ziw.0
      x-processing-time:
      - 96ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-Request-ID:
      - 15be76a1-7003-4647-a1fc-cc05d462a289
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2020-11-01-preview3
  response:
    body: '{"chatThread": {"id": "19:QiwZiY15O_F3chKHC9waSQP57ESVljAUkKeEW-yoQx41@thread.v2",
      "topic": "test topic", "createdOn": "2021-02-01T23:12:07Z", "createdBy": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000007-ffbf-bc7b-b0b7-3a3a0d002fd1"}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jsCsMRBiPkiHEwSVHT+osA.0
      x-processing-time:
      - 836ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "hello world", "senderDisplayName": "sender name", "type":
      "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/messages?api-version=2020-11-01-preview3
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - d7I+ZkOHlkS5dLbp580JqQ.0
      x-processing-time:
      - 837ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/messages?maxPageSize=1&api-version=2020-11-01-preview3
  response:
    body: '{"value": "sanitized", "nextLink": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - c0gVf1/fTEya3/2+70xxkQ.0
      x-processing-time:
      - 289ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/messages?syncState=sanitized&startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00&maxPageSize=1&api-version=2020-11-01-preview3
  response:
    body: '{"value": "sanitized", "nextLink": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vNK5whUAeUmf4w+/X8el2A.0
      x-processing-time:
      - 364ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - qlR3Xdmn5Uekc2Jr1WkZVg.0
      x-processing-time:
      - 16116ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      ms-cv:
      - BiUEsvuFh0G9dHU3dkZv7w.0
      x-processing-time:
      - 291ms
    status:
      code: 204
      message: No Content
version: 1
