interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - msRYo46MSkyKI84reLo0HA.0
      x-processing-time:
      - 194ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-11-27T01:24:17.1459685+00:00"}'
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ME5w3LfU3k6qpGONFQFRGg.0
      x-processing-time:
      - 814ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3
  response:
    body: '{"id": "sanitized", "topic": "test topic", "createdOn": "2020-11-26T01:24:19Z",
      "createdBy": "8:acs:9b665d53-8164-4923-ad5d-5e983b07d2e7_00000006-a208-52d1-557d-5a3a0d0000df",
      "participants": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - EKBi3K6XsE+2Lhsqi5cRhg.0
      x-processing-time:
      - 825ms
    status:
      code: 201
      message: Created
- request:
    body: '{"priority": "Normal", "content": "hello world", "senderDisplayName": "sender
      name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/messages?api-version=2020-11-01-preview3
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Orn/iKS620SaBNazUpUxiQ.0
      x-processing-time:
      - 684ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/messages/sanitized?api-version=2020-11-01-preview3
  response:
    body: '{"id": "sanitized", "type": "Text", "priority": "Normal", "version": "1606353860857",
      "content": "hello world", "senderDisplayName": "sender name", "createdOn": "2020-11-26T01:24:20Z",
      "senderId": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - TgVAXmNOVUqQDFtLimeI3g.0
      x-processing-time:
      - 262ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - 7WkXURdvCUadQaKfM0XUCg.0
      x-processing-time:
      - 17535ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3
      ms-cv:
      - aNenUrVPlEqJY0ZCn/jJGw.0
      x-processing-time:
      - 323ms
    status:
      code: 204
      message: No Content
version: 1
