{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "repeatability-request-id": "caaf0632-355e-4a23-9261-69dd61f832f5"
      },
      "RequestBody": {
        "topic": "test topic",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "sanitized",
              "communicationUser": {
                "id": "sanitized"
              }
            },
            "displayName": "name",
            "shareHistoryTime": "2023-05-27T01:38:17.039309Z"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "dhTwKnadDU\u002BPszWod9YMrA.0",
        "X-Processing-Time": "643ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "sanitized",
          "topic": "test topic",
          "createdOn": "2023-05-27T01:38:16Z",
          "createdByCommunicationIdentifier": {
            "rawId": "sanitized",
            "communicationUser": {
              "id": "sanitized"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3ASUZcnddKXyB4txu3EOO2_Ivg47S4j6TQb2BYrHwaA8Q1%40thread.v2/messages?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "hello world",
        "senderDisplayName": "sender name",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "9VF/rJsRVkGRdWwK1aTjmA.0",
        "X-Processing-Time": "238ms"
      },
      "ResponseBody": {
        "id": "sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3ASUZcnddKXyB4txu3EOO2_Ivg47S4j6TQb2BYrHwaA8Q1%40thread.v2/messages/1685151497027?api-version=2021-09-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "MS-CV": "DntxxEYmiEqGk\u002B5qL8o1lQ.0",
        "X-Processing-Time": "299ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
