interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 19:07:04 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d500-1405-edbe-a43a0d00cce9"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - CCiQw7i9Pk+unU7sEpyXJg.0
      x-processing-time:
      - 68ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 19:07:05 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-06-23T19:07:04.3697475+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BA1LpMod70+5W1YFNpCTQQ.0
      x-processing-time:
      - 145ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - f443aae0-be83-47e4-a536-1923d611db8d
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-07
  response:
    body: '{"chatThread": {"id": "19:l_PT-J5u7_FigPL5qXzvJWQ2H3mNQ0_Cuyc03DjhOZI1@thread.v2",
      "topic": "test topic", "createdOn": "2021-06-22T19:07:05Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d500-1405-edbe-a43a0d00cce9",
      "communicationUser": {"id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d500-1405-edbe-a43a0d00cce9"}}}}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6
      content-type: application/json; charset=utf-8
      ms-cv: qZ5XHAjFqEalhPv3ErkGKA.0
      x-processing-time: 1228ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-07
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6
      ms-cv: dz/jZnSMVUGCPR9tdJDxUA.0
      x-processing-time: 196ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-07
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Jun 2021 19:07:07 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      ms-cv:
      - VTuWgETNLEKjIlHJiKQUFA.0
      x-processing-time:
      - 702ms
    status:
      code: 204
      message: No Content
version: 1
