interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-c8dc-8ede-dbb7-3a3a0d00d568"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - QS8UnYtZLEuzS9xVxo4Vbw.0
      x-processing-time:
      - 17ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-03-14T00:27:15.202818+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XztTpK6jME23N2kBKc09RA.0
      x-processing-time:
      - 93ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      idempotency-token:
      - 22a2d196-32ff-4b67-9227-89bb9e399999
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2021-03-01-preview5
  response:
    body: '{"chatThread": {"id": "19:nBnpeOYjwuZdTFnouhQI0K8hbd3PXaBkw_d6h-r9nWI1@thread.v2",
      "topic": "test topic", "createdOn": "2021-03-13T00:27:16Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-c8dc-8ede-dbb7-3a3a0d00d568",
      "communicationUser": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-c8dc-8ede-dbb7-3a3a0d00d568"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - lgAn080z2k6H//0OhHk5Lw.0
      x-processing-time:
      - 865ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.int.communication.azure.net/chat/threads?maxPageSize=1&api-version=2021-03-01-preview5
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - e194EhiDB0qWa5JN+Z8mbg.0
      x-processing-time:
      - 411ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - TwZn0VKz+U6jMEYhj+G/fQ.0
      x-processing-time:
      - 15933ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2021-03-01-preview5
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      ms-cv:
      - VR9qJkhvV02YjIH5cTllXg.0
      x-processing-time:
      - 344ms
    status:
      code: 204
      message: No Content
version: 1
