{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "repeatability-request-id": "c38ba702-e78e-4235-b2f3-f0f2c13d6212"
      },
      "RequestBody": {
        "topic": "test topic",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "sanitized",
              "communicationUser": {
                "id": "sanitized"
              }
            },
            "displayName": "name",
            "shareHistoryTime": "2023-05-27T01:38:13.760604Z"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "LhO9zEyxU0WHZKT/gqsSKg.0",
        "X-Processing-Time": "435ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "sanitized",
          "topic": "test topic",
          "createdOn": "2023-05-27T01:38:13Z",
          "createdByCommunicationIdentifier": {
            "rawId": "sanitized",
            "communicationUser": {
              "id": "sanitized"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3AsaAHIkbAZuPyC6wbi04jbuHRQ2SSItKEhUZ8Po8FZqg1%40thread.v2/messages?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "hello world",
        "senderDisplayName": "sender name",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "HvIu1gDGIkKM5u0TeDSsBw.0",
        "X-Processing-Time": "194ms"
      },
      "ResponseBody": {
        "id": "sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19%3AsaAHIkbAZuPyC6wbi04jbuHRQ2SSItKEhUZ8Po8FZqg1%40thread.v2/messages/1685151493482?api-version=2021-09-07",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "content": "updated message content"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "MS-CV": "Z8fa0b3kskOg19TjnVGEfg.0",
        "X-Processing-Time": "267ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
