interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - EZm4ZV97KEm0bmO5QoCf5A.0
      x-processing-time:
      - 38ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2021-02-02T23:14:00.2599102+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - U+n9c5UM90OQyXf+d0GRyg.0
      x-processing-time:
      - 115ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-Request-ID:
      - e99db6c4-bef1-481d-8e92-528e8a290d0b
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2020-11-01-preview3
  response:
    body: '{"chatThread": {"id": "19:4E8s1hIQeP0NL5a4RI5MHuFwoSUNhnLIm84cb-6qJtk1@thread.v2",
      "topic": "test topic", "createdOn": "2021-02-01T23:14:01Z", "createdBy": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000007-ffc1-7abd-b0b7-3a3a0d002fd9"}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 7RNEOUTHk0GR//bh61Mcwg.0
      x-processing-time:
      - 849ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/participants/:add?api-version=2020-11-01-preview3
  response:
    body: '{}'
    headers:
      api-supported-versions:
      - 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WTe/ZJvW/UW+XLlyxEnIRQ.0
      x-processing-time:
      - 405ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/participants/8%3Aacs%3A46849534-eb08-4ab7-bde7-c36928cd1547_00000007-ffc1-7be5-b0b7-3a3a0d002fda?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-11-01-preview3, 2021-01-27-preview4
      ms-cv:
      - jkB6wPDKmUeaim9wAvflbg.0
      x-processing-time:
      - 452ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - oT4lJ//RSUahLSYWY6yTWw.0
      x-processing-time:
      - 16000ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      ms-cv:
      - lDW3jg3eiEqYxIvtlsTOxg.0
      x-processing-time:
      - 329ms
    status:
      code: 204
      message: No Content
version: 1
