interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-734c-a20c-1db7-3a3a0d0075aa"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - //OHHyNfUUmY6n2w+uBhtw.0
      x-processing-time:
      - 19ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-02-25T09:42:19.5634988+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - UWgUpwwAeEKfT48u5hdl3A.0
      x-processing-time:
      - 93ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-Request-Id:
      - 5ed46979-6e49-4f45-9d18-f22fd287b4f4
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2021-01-27-preview4
  response:
    body: '{"chatThread": {"id": "19:zFCcvRvbCpFYPDAKOyrNeVPh_SEjETRMAlIqcCbju1A1@thread.v2",
      "topic": "test topic", "createdOn": "2021-02-24T09:42:21Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-734c-a20c-1db7-3a3a0d0075aa",
      "communicationUser": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-734c-a20c-1db7-3a3a0d0075aa"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - c71YVL8R+0i+GNyiZevf0Q.0
      x-processing-time:
      - 828ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "hello world", "senderDisplayName": "sender name", "type":
      "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/messages?api-version=2021-01-27-preview4
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HLSbS2zTiUqGHCwMjzOjog.0
      x-processing-time:
      - 366ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/messages?maxPageSize=1&api-version=2021-01-27-preview4
  response:
    body: '{"value": "sanitized", "nextLink": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - e83kUyEjik6UTBGMorMYVQ.0
      x-processing-time:
      - 269ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/messages?syncState=sanitized&startTime=1%2F1%2F1970%2012%3A00%3A00%20AM%20%2B00%3A00&maxPageSize=1&api-version=2021-01-27-preview4
  response:
    body: '{"value": "sanitized", "nextLink": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vc8Y6e3A102j/QOrxLC0gg.0
      x-processing-time:
      - 364ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - JhVl3JWuxEi+NL+SIu5LxA.0
      x-processing-time:
      - 16285ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2021-01-27-preview4
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      ms-cv:
      - 60V2hI4oCkW7ee4QWSB+Gw.0
      x-processing-time:
      - 348ms
    status:
      code: 204
      message: No Content
version: 1
