{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "repeatability-request-id": "a364a3af-73c1-4210-88c0-fade3d62408c"
      },
      "RequestBody": {
        "topic": "test topic",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "sanitized",
              "communicationUser": {
                "id": "sanitized"
              }
            },
            "displayName": "name",
            "shareHistoryTime": "2023-05-27T01:47:38.619205Z"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "yhw8ZULBakOEo5H56/gXXQ.0",
        "X-Processing-Time": "523ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "sanitized",
          "topic": "test topic",
          "createdOn": "2023-05-27T01:47:37Z",
          "createdByCommunicationIdentifier": {
            "rawId": "sanitized",
            "communicationUser": {
              "id": "sanitized"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:daVoSpP5UtlI3jxQJaqYP79f5EUFzLskggOoXrpO1co1@thread.v2/messages?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "hello world",
        "senderDisplayName": "sender name",
        "type": "text"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "U/vgF2ljhUaI12x1ctVhng.0",
        "X-Processing-Time": "181ms"
      },
      "ResponseBody": {
        "id": "sanitized"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:daVoSpP5UtlI3jxQJaqYP79f5EUFzLskggOoXrpO1co1@thread.v2/readReceipts?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "chatMessageId": "sanitized"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "MS-CV": "NwvGyK4QCkSv6ao9DoBnrw.0",
        "X-Processing-Time": "196ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:daVoSpP5UtlI3jxQJaqYP79f5EUFzLskggOoXrpO1co1@thread.v2?api-version=2021-09-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "MS-CV": "ScCEGkA840uZXrETsXpyGA.0",
        "X-Processing-Time": "223ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
