interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 20:51:56 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d560-1534-9806-113a0d002a51"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - KZYlls6Ju0uv3K93fXVuBA.0
      x-processing-time:
      - 123ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 20:51:57 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-06-23T20:51:56.2488809+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dPgBczYazEKv4sjiHqB9Gw.0
      x-processing-time:
      - 165ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 0587da26-8d1a-4b03-ade7-f702310b3e17
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-07
  response:
    body: '{"chatThread": {"id": "19:EyT1M86f22dSYWHcXYA5QmKJ-EVOiXZ5TrkGPn0N1HY1@thread.v2",
      "topic": "test topic", "createdOn": "2021-06-22T20:51:57Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d560-1534-9806-113a0d002a51",
      "communicationUser": {"id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d560-1534-9806-113a0d002a51"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - k0JPeei4/kykVHAe4VoHrQ.0
      x-processing-time:
      - 725ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      ms-cv:
      - L2klub7EVU2txmVdZFb2pw.0
      x-processing-time:
      - 169ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Jun 2021 20:51:58 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      ms-cv:
      - KeGcNL0Fh0ebitakfwUzAQ.0
      x-processing-time:
      - 789ms
    status:
      code: 204
      message: No Content
version: 1
