interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-734d-32e1-1655-373a0d0070ec"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - TUXkmpR0t0aNRwTkHvAggg.0
      x-processing-time:
      - 14ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-02-25T09:42:56.6433991+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 2Gt7GK1t5UOZSbvDX55CUA.0
      x-processing-time:
      - 93ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-Request-Id:
      - a4778af3-9cd1-4449-87f7-692c6ba174c6
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2021-01-27-preview4
  response:
    body: '{"chatThread": {"id": "19:qCBKex-mF9Zsw4J6qLD6SJEXfkFKLNel3E_VrzcOPxg1@thread.v2",
      "topic": "test topic", "createdOn": "2021-02-24T09:42:58Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-734d-32e1-1655-373a0d0070ec",
      "communicationUser": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-734d-32e1-1655-373a0d0070ec"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - FWYRDQMEUESH5z2j8V035Q.0
      x-processing-time:
      - 839ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/participants/:add?api-version=2021-01-27-preview4
  response:
    body: '{}'
    headers:
      api-supported-versions:
      - 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - N++1QPPVDUqDNfDc3G+bjg.0
      x-processing-time:
      - 454ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/participants?maxPageSize=1&skip=1&api-version=2021-01-27-preview4
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XHmchry+NEOa5O8Pwa2DGA.0
      x-processing-time:
      - 266ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - M2Po/WxX60qLbtQ/zUTSrg.0
      x-processing-time:
      - 16479ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2021-01-27-preview4
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      ms-cv:
      - Yag2yTPrJUeYO8GV2UrlgA.0
      x-processing-time:
      - 335ms
    status:
      code: 204
      message: No Content
version: 1
