interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-7de5-e10d-b0b7-3a3a0d00a725"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - RLO913gZSkOEho71wet5HA.0
      x-processing-time:
      - 21ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-02-27T11:05:54.8663893+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - of4ivAg37USKEKy1zgjYMA.0
      x-processing-time:
      - 98ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-Request-Id:
      - 8e416940-142b-4024-acf6-ce6d55fa3487
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2021-01-27-preview4
  response:
    body: '{"chatThread": {"id": "19:2WoCuiiYSQxqIWXyh11qik24P0kSnmYgK-6A1GwBgXw1@thread.v2",
      "topic": "test topic", "createdOn": "2021-02-26T11:05:56Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-7de5-e10d-b0b7-3a3a0d00a725",
      "communicationUser": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-7de5-e10d-b0b7-3a3a0d00a725"}}}}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type: application/json; charset=utf-8
      ms-cv: ++Hd3jwnOkycUz9Z4Zosow.0
      x-processing-time: 820ms
    status:
      code: 201
      message: Created
    url: https://sanitized.int.communication.azure.net/chat/threads?api-version=2021-01-27-preview4
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2021-01-27-preview4
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      ms-cv: aovz8n2Fv0e6lPJWMSvWdg.0
      x-processing-time: 288ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2021-01-27-preview4
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - qq2eqxg1BEGIdRFhC/6vGQ.0
      x-processing-time:
      - 16938ms
    status:
      code: 204
      message: No Content
version: 1
