interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 61vO4atq0UKeczqTmhaEMA.0
      x-processing-time:
      - 207ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-09-19T21:28:49.2890081+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gobnGr7Z3U+u3az+PGrw0Q.0
      x-processing-time:
      - 283ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-09-21-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - R4WHT5ntBU68ivjgbXYRJw.0
      x-processing-time:
      - 265ms
    status:
      code: 207
      message: Multi-Status
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/members?api-version=2020-09-21-preview2
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-09-21-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PXuVUevct0G1ZNTrYeKapQ.0
      x-processing-time:
      - 117ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - LAa8VeRaAkK5m/Mrp+j51g.0
      x-processing-time:
      - 694ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-09-21-preview2
      ms-cv:
      - aW/n7VEDpkaRN/A41EfxgA.0
      x-processing-time:
      - 144ms
    status:
      code: 204
      message: No Content
version: 1
