interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - v3TMDj1D0Um09fxCXw+1Sw.0
      x-processing-time:
      - 205ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-10-02T22:50:23.7114719+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - KnAreO90k0iyjLoJNS6ISQ.0
      x-processing-time:
      - 280ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2
      content-type: application/json; charset=utf-8
      ms-cv: 9atEWqszcUmYGFTT6JtHgw.0
      x-processing-time: 223ms
    status:
      code: 207
      message: Multi-Status
    url: https://sanitized.communication.azure.com/chat/threads?api-version=2020-09-21-preview2
- request:
    body: '{"priority": "Normal", "content": "hello world", "senderDisplayName": "sender
      name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2020-09-21-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2
      content-type: application/json; charset=utf-8
      ms-cv: L7LSiiDNpUe3+4Ldq3sYmw.0
      x-processing-time: 63ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2020-09-21-preview2
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2
      ms-cv: AbkyGCr+YECMVhiQHwb+sA.0
      x-processing-time: 79ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2020-09-21-preview2
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2
      ms-cv: wR1vYfm950edBonlVmLdVg.0
      x-processing-time: 55ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2020-09-21-preview2
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - JrjN4h+WPk+/fZBncoYzGw.0
      x-processing-time:
      - 1302ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - T6XAfdJ0H0eRzvlp3+xixQ.0
      x-processing-time:
      - 446ms
    status:
      code: 204
      message: No Content
version: 1
