interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - +o8WsDMOs0uqL5EJG1EhCA.0
      x-processing-time:
      - 269ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2021-02-02T23:06:28.6577603+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - NXs+b7gabkGQbpFj6Ob9jw.0
      x-processing-time:
      - 162ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-Request-ID:
      - e249507a-f040-419b-b197-3e2585182bc0
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2020-11-01-preview3
  response:
    body: '{"chatThread": {"id": "19:j9pZbUVFcG0UIKClamuE8fPBzDr7o2szKbPsuRRuH6M1@thread.v2",
      "topic": "test topic", "createdOn": "2021-02-01T23:06:30Z", "createdBy": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000007-ffba-95de-1655-373a0d0025c3"}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - OtyGkQBz0k+TjFJiC9qciw.0
      x-processing-time:
      - 919ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      ms-cv:
      - mQ+gq8vICEGXJsrvlW4nNw.0
      x-processing-time:
      - 338ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - jgtU2RpRuECz0gcDM385Lw.0
      x-processing-time:
      - 16385ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      ms-cv:
      - vXn1GQn/UkO+84loyHanjQ.0
      x-processing-time:
      - 262ms
    status:
      code: 204
      message: No Content
version: 1
