interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-c8d8-dd86-b0b7-3a3a0d00d3f9"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - OPTeqnunL0yFeQe56P++sA.0
      x-processing-time:
      - 13ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-03-14T00:23:13.2054866+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ppPJSjpMBUSs1nwh/sQn+w.0
      x-processing-time:
      - 93ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      idempotency-token:
      - 3aeeb1fa-3494-4418-baba-1f20bf30163f
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2021-03-01-preview5
  response:
    body: '{"chatThread": {"id": "19:Kbowq1stOPfyFp0Cy-WYfmQ2i285kl1cs0ChZzbm8Lk1@thread.v2",
      "topic": "test topic", "createdOn": "2021-03-13T00:23:15Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-c8d8-dd86-b0b7-3a3a0d00d3f9",
      "communicationUser": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-c8d8-dd86-b0b7-3a3a0d00d3f9"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - fHk4g/SI4kSYqtYSquI2DQ.0
      x-processing-time:
      - 1197ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/typing?api-version=2021-03-01-preview5
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      ms-cv:
      - FTRrUMfCBEOW4VoAigOLLw.0
      x-processing-time:
      - 369ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - w59AlvWtjEC0AU5zrkXrsg.0
      x-processing-time:
      - 17091ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2021-03-01-preview5
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      ms-cv:
      - 37R3yNUdFkOqMGpp2SO4KA.0
      x-processing-time:
      - 287ms
    status:
      code: 204
      message: No Content
version: 1
