interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - eSYTkMn7tEa0wx8qUExYVQ.0
      x-processing-time:
      - 19ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2021-01-29T02:56:56.7041302+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - lXlnvI4cF0SQvopoziFDow.0
      x-processing-time:
      - 92ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-Request-ID:
      - 6ab65574-c8b7-4f89-8460-659c1e20392e
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2020-11-01-preview3
  response:
    body: '{"chatThread": {"id": "19:yfJH0hAT_2bVssdXBhztpVDjlHblnliK-heIORMtnf41@thread.v2",
      "topic": "test topic", "createdOn": "2021-01-28T02:56:58Z", "createdBy": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000007-e6cd-cadc-dbb7-3a3a0d000551"}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1LpDoIWUN0OXgVKgNR2y7Q.0
      x-processing-time:
      - 915ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "hello world", "senderDisplayName": "sender name", "type":
      "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/messages?api-version=2020-11-01-preview3
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gOmCsKUK5UmDQ8KxDyFG4A.0
      x-processing-time:
      - 394ms
    status:
      code: 201
      message: Created
- request:
    body: '{"chatMessageId": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/readReceipts?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      ms-cv:
      - jKbfyDDD6kinMN4lyq5fsA.0
      x-processing-time:
      - 632ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/readReceipts?api-version=2020-11-01-preview3
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - GFB61mwdcUGFDt7XG4c2sg.0
      x-processing-time:
      - 260ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/readReceipts?maxPageSize=2&skip=0&api-version=2020-11-01-preview3
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Sw3gP2YO2E2MwJAdSMqVlg.0
      x-processing-time:
      - 266ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - ay5EMUnQCEiCuinZmgsaag.0
      x-processing-time:
      - 16547ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      ms-cv:
      - wZMwmqLebkihpf/YlYvMJw.0
      x-processing-time:
      - 347ms
    status:
      code: 204
      message: No Content
version: 1
