interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 10 Mar 2023 00:44:47 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3UT/Ki5td0GYmSlMf+F5cA.0
      x-processing-time:
      - 17ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 10 Mar 2023 00:44:47 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-10-01
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2023-03-11T00:44:47.4642277+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - VckzyVrmR0mtvGsjSO4azA.0
      x-processing-time:
      - 27ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - ffcdd64e-c469-473a-8d30-72f264b52024
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "test topic", "createdOn":
        "2023-03-10T00:44:47Z", "createdByCommunicationIdentifier": {"rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000017-68db-dd91-f6c7-593a0d007e33",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions: 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: 3LkCvnBy5E+9DPERWfx64g.0
      x-processing-time: 413ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized", "topic": "test topic", "createdOn": "2023-03-10T00:44:47Z",
        "createdByCommunicationIdentifier": {"rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000017-68db-dd91-f6c7-593a0d007e33",
        "communicationUser": {"id": "sanitized"}}}'
    headers:
      api-supported-versions: 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: vZk9ikkbaUO4sqgM/Pxrkg.0
      x-processing-time: 81ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Mar 2023 00:44:48 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - vPV/AzbK+UyzzbMrdK0LNQ.0
      x-processing-time:
      - 222ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Mar 2023 00:44:48 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - Hd9xnG9FBUqfqvngEiJE4w.0
      x-processing-time:
      - 217ms
    status:
      code: 204
      message: No Content
version: 1
