interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-e7a4-8795-570c-113a0d002825"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Je9OHJcYxUOelUpXcRiICg.0
      x-processing-time:
      - 138ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-03-19T23:54:17.2611297+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 6+ZqtIjfuUmAT4RNNQnNCg.0
      x-processing-time:
      - 280ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      idempotency-token:
      - 0d738af9-569f-4b92-823d-468772a80650
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-01-preview5
  response:
    body: '{"chatThread": {"id": "19:Krav-zqQlloSFj8cWxHjIeHAHMbh812mZI4FM6iAwRg1@thread.v2",
      "topic": "test topic", "createdOn": "2021-03-18T23:54:19Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-e7a4-8795-570c-113a0d002825",
      "communicationUser": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-e7a4-8795-570c-113a0d002825"}}}}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5
      content-type: application/json; charset=utf-8
      ms-cv: ICHjVnXnvUyiLFDbGiV2eg.0
      x-processing-time: 896ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-01-preview5
- request:
    body: '{"content": "hello world", "senderDisplayName": "sender name", "type":
      "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-03-01-preview5
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5
      content-type: application/json; charset=utf-8
      ms-cv: fr6QDPphDEa4wwQYPXd4Tw.0
      x-processing-time: 207ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-03-01-preview5
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-01-preview5
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5
      ms-cv: sCTRYaEBNEmUjTPZnWemSA.0
      x-processing-time: 251ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-01-preview5
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - dvQbAw9VXUm0S0dgE0T8LA.0
      x-processing-time:
      - 595ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - KXohZtdz4kiMtghE/VXgQw.0
      x-processing-time:
      - 850ms
    status:
      code: 204
      message: No Content
version: 1
