interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - N2xJrSbqm0KEwZJcYEFSKw.0
      x-processing-time:
      - 21ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2021-02-02T23:08:42.3776314+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - SauqYXgsqUGA1REpr0qJ/Q.0
      x-processing-time:
      - 106ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-Request-ID:
      - 51e80716-553e-416f-ab88-ca2ae1385f19
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2020-11-01-preview3
  response:
    body: '{"chatThread": {"id": "19:EQXoydWlPLxGgkYqZp4tqWuhxAwLbEnnf2E_h58XqtQ1@thread.v2",
      "topic": "test topic", "createdOn": "2021-02-01T23:08:44Z", "createdBy": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000007-ffbc-a155-9c58-373a0d002dd8"}}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type: application/json; charset=utf-8
      ms-cv: OVJtV5UbHE2/2zFrj6wpQA.0
      x-processing-time: 1616ms
    status:
      code: 201
      message: Created
    url: https://sanitized.int.communication.azure.net/chat/threads?api-version=2020-11-01-preview3
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
  response:
    body: '{"id": "sanitized", "topic": "test topic", "createdOn": "2021-02-01T23:08:44Z",
      "createdBy": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      content-type: application/json; charset=utf-8
      ms-cv: WA+vAGOIwUWpGifBnrlzsA.0
      x-processing-time: 257ms
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4
      ms-cv: jBgMdj97NUePvbeakFOeJg.0
      x-processing-time: 298ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - T9QT5+k0kka/dj9zVpdDiA.0
      x-processing-time:
      - 15968ms
    status:
      code: 204
      message: No Content
version: 1
