interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PI5HRuD/F06qldFWyCOXtQ.0
      x-processing-time:
      - 236ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-10-02T22:48:25.9847651+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - yW1xnufq20O4sEXQhtqzbw.0
      x-processing-time:
      - 294ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2
      content-type: application/json; charset=utf-8
      ms-cv: EzHyAxuiU0CSqwzJ+oWiWg.0
      x-processing-time: 300ms
    status:
      code: 207
      message: Multi-Status
    url: https://sanitized.communication.azure.com/chat/threads?api-version=2020-09-21-preview2
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2
      ms-cv: VVrHZhE7o0+AuzhYvrh0/g.0
      x-processing-time: 65ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2020-09-21-preview2
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - JspE4e7FgUCeNsXU49YE2w.0
      x-processing-time:
      - 821ms
    status:
      code: 204
      message: No Content
version: 1
