interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 20:52:55 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d560-faf7-e3c7-593a0d001af4"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - aaeABU1Xe06GwZEg1JswmQ.0
      x-processing-time:
      - 42ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 20:52:55 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-06-23T20:52:54.7753604+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0N2X/MP2MESeB3PkXke1Og.0
      x-processing-time:
      - 37ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 18c89648-0d4a-4373-8fa3-d52aa41524e2
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-07
  response:
    body: '{"chatThread": {"id": "19:DKWVb1_3iQgLjBQn3i_d2saoFSv3GgYXKAwt8tQRD2g1@thread.v2",
      "topic": "test topic", "createdOn": "2021-06-22T20:52:56Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d560-faf7-e3c7-593a0d001af4",
      "communicationUser": {"id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d560-faf7-e3c7-593a0d001af4"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - S5UG0uK3REel82YZV2fUFQ.0
      x-processing-time:
      - 648ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "hello world", "senderDisplayName": "sender name", "type":
      "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-03-07
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 5CDv1n3FlUGnK8jVsBpvVQ.0
      x-processing-time:
      - 279ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2021-03-07
  response:
    body: '{"id": "sanitized", "type": "text", "sequenceId": "3", "version": "1624395177044",
      "content": {"message": "hello world"}, "senderDisplayName": "sender name", "createdOn":
      "2021-06-22T20:52:57Z", "senderCommunicationIdentifier": {"rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d560-faf7-e3c7-593a0d001af4",
      "communicationUser": {"id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d560-faf7-e3c7-593a0d001af4"}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - pdfPUTV8qEyLn2wHdcpVUQ.0
      x-processing-time:
      - 116ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      ms-cv:
      - Y0Hhg87HE0CWyLi5i2UxZQ.0
      x-processing-time:
      - 257ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Jun 2021 20:52:57 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      ms-cv:
      - cQZhKYzCikGiqhT3eXhJ4A.0
      x-processing-time:
      - 664ms
    status:
      code: 204
      message: No Content
[...]
