{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "repeatability-request-id": "834d99a1-0693-474e-b480-55f58efcdc4d"
      },
      "RequestBody": {
        "topic": "test topic",
        "participants": [
          {
            "communicationIdentifier": {
              "rawId": "sanitized",
              "communicationUser": {
                "id": "sanitized"
              }
            },
            "displayName": "name",
            "shareHistoryTime": "2023-05-27T00:20:56.105045Z"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "NfzjC9NqHEeG4wcd5ERMXQ.0",
        "X-Processing-Time": "479ms"
      },
      "ResponseBody": {
        "chatThread": {
          "id": "sanitized",
          "topic": "test topic",
          "createdOn": "2023-05-27T00:20:55Z",
          "createdByCommunicationIdentifier": {
            "rawId": "sanitized",
            "communicationUser": {
              "id": "sanitized"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads?maxPageSize=1\u0026api-version=2021-09-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "\u002BmjnEz9pT0eQtDr7qWHwyQ.0",
        "X-Processing-Time": "174ms"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "sanitized",
            "topic": "test topic",
            "lastMessageReceivedOn": "2023-05-27T00:20:55Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/chat/threads/19:RZmLzO1RK0hcDcf_HB7jA0FyzCMiy43hOrqKo99-HHQ1@thread.v2?api-version=2021-09-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview",
        "MS-CV": "oebsGxTgikep7fcMt0T8bA.0",
        "X-Processing-Time": "315ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
