interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 19:06:40 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d4ff-b5b4-28c5-593a0d0015f2"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8SgE+wC8gEyluhwbQEBtQQ.0
      x-processing-time:
      - 21ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 19:06:40 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-06-23T19:06:40.0479353+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0J0sDm+dBUm2h4AkteN9Pw.0
      x-processing-time:
      - 28ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic1", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - a1060f6d-a8d5-4fe8-9425-a65d1a9bfad5
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-07
  response:
    body: '{"chatThread": {"id": "19:PNl9TTEVkz58nhYsjy3Kk8cwp96A_V2Hc2NGbzG6ZpY1@thread.v2",
      "topic": "test topic1", "createdOn": "2021-06-22T19:06:41Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d4ff-b5b4-28c5-593a0d0015f2",
      "communicationUser": {"id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d4ff-b5b4-28c5-593a0d0015f2"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BS2GqzcITU+OtgR4amBefQ.0
      x-processing-time:
      - 721ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-07
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - N1Ecgfr9ckeyxItW8DVF+A.0
      x-processing-time:
      - 99ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      ms-cv:
      - Neg+e9MXDEe1T/OPl9XSwA.0
      x-processing-time:
      - 282ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Jun 2021 19:06:42 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      ms-cv:
      - yvEi+rUgoUOu8YaTuzMJlg.0
      x-processing-time:
      - 772ms
    status:
      code: 204
      message: No Content
version: 1
