interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - kMaZYGA7EUiph2Hho+BqUQ.0
      x-processing-time:
      - 213ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-09-19T21:29:10.5764798+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - w1bQUbWWVEq8y9GHsL5xqA.0
      x-processing-time:
      - 279ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-09-21-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wWhQT55LFUOKcb627GWXEA.0
      x-processing-time:
      - 321ms
    status:
      code: 207
      message: Multi-Status
- request:
    body: '{"members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/members?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-09-21-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - t5T4oeXhmketj0kS148qUg.0
      x-processing-time:
      - 202ms
    status:
      code: 207
      message: Multi-Status
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/members/8%3Aacs%3Afa5c4fc3-a269-43e2-9eb6-0ca17b388993_00000005-4300-a3a8-eef0-8b3a0d000d69?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-09-21-preview2
      ms-cv:
      - e+gOlcsbAE6H017y0nYxmg.0
      x-processing-time:
      - 158ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - 6qmt/itibEOTTR1eodCztg.0
      x-processing-time:
      - 807ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-09-21-preview2
      ms-cv:
      - GMj8yT1xzkmy6ud4dE1gYQ.0
      x-processing-time:
      - 155ms
    status:
      code: 204
      message: No Content
version: 1
