interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-8ff3-109b-dbb7-3a3a0d00fe37"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HuPP1ThDDU2SgTpma7095Q.0
      x-processing-time:
      - 63ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-03-02T23:13:28.895824+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bOnA0dDdbkWXYCU/VhyZKA.0
      x-processing-time:
      - 94ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-Request-Id:
      - 0ceb21b6-60ec-4180-ae51-699957c2e204
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2021-01-27-preview4
  response:
    body: '{"chatThread": {"id": "19:-i0uFpmWwsQpFoaWG4En3Oil8WphbzovDCSkdZUhsL41@thread.v2",
      "topic": "test topic", "createdOn": "2021-03-01T23:13:30Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-8ff3-109b-dbb7-3a3a0d00fe37",
      "communicationUser": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-8ff3-109b-dbb7-3a3a0d00fe37"}}}}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5
      content-type: application/json; charset=utf-8
      ms-cv: Y6woGsmZoE2ukkbCcCsO+g.0
      x-processing-time: 839ms
    status:
      code: 201
      message: Created
    url: https://sanitized.int.communication.azure.net/chat/threads?api-version=2021-01-27-preview4
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2021-01-27-preview4
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5
      ms-cv: Gz3XzHmp8UqOnLNHJgWfbg.0
      x-processing-time: 296ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2021-01-27-preview4
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - sL7w0ec2cESw/NOo6QT8/w.0
      x-processing-time:
      - 17183ms
    status:
      code: 204
      message: No Content
version: 1
