interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-e7a4-791a-02c3-593a0d00549f"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - P4Q46hhNRUqB6W/Tse7A+g.0
      x-processing-time:
      - 13ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-03-19T23:54:13.243987+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - AVzIHEtCpE6T5AAW9xTuIA.0
      x-processing-time:
      - 26ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      idempotency-token:
      - c868c729-a51c-482d-8490-8c8da0b9c848
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-01-preview5
  response:
    body: '{"chatThread": {"id": "19:cmDT7hppGYsqk4rOMgX8CBUL4UABfJ6FeRX2ETg_wuo1@thread.v2",
      "topic": "test topic", "createdOn": "2021-03-18T23:54:14Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-e7a4-791a-02c3-593a0d00549f",
      "communicationUser": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-e7a4-791a-02c3-593a0d00549f"}}}}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5
      content-type: application/json; charset=utf-8
      ms-cv: gdK9qVOiiE2SxoXJdtzNvA.0
      x-processing-time: 837ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-01-preview5
- request:
    body: '{"participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2021-03-01-preview5
  response:
    body: '{}'
    headers:
      api-supported-versions: 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      content-type: application/json; charset=utf-8
      ms-cv: 6tVk/0YHiEaQ2yYuIaR1Gg.0
      x-processing-time: 259ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2021-03-01-preview5
- request:
    body: '{"communicationUser": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-e7a4-799f-02c3-593a0d0054a0"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:remove?api-version=2021-03-01-preview5
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      ms-cv: hNn5Yz6JwEyPQ4KWIbaTrA.0
      x-processing-time: 208ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:remove?api-version=2021-03-01-preview5
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-01-preview5
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5
      ms-cv: 2qKPlUb6EUWZdElni5RPbA.0
      x-processing-time: 237ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-01-preview5
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - TFQb/TnGsU64mqLEnXWu1A.0
      x-processing-time:
      - 658ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - iNvTNx8YFkKGsehfrmCSUQ.0
      x-processing-time:
      - 500ms
    status:
      code: 204
      message: No Content
version: 1
