interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - nO8pu1egoEqqv8dH+gISKw.0
      x-processing-time:
      - 177ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-12-05T19:16:41.6855087+00:00"}'
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 6zrrKPD94k2WqW3dc+YpKQ.0
      x-processing-time:
      - 692ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3
  response:
    body: '{"chatThread": {"id": "19:d499e180c13f4066aacaf7d0fe3c24fb@thread.v2",
      "topic": "test topic", "createdOn": "2020-12-04T19:16:43Z", "createdBy": "8:acs:9b665d53-8164-4923-ad5d-5e983b07d2e7_00000006-cf11-0133-8a72-5a3a0d00034e"}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WAg3UltJL0Gc1twzjSkMzA.0
      x-processing-time:
      - 881ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized/participants?api-version=2020-11-01-preview3
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-11-01-preview3
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 02zCDsS1T0KWqcfYynbtIw.0
      x-processing-time:
      - 254ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - UtzQEybrkEqMBVSxZFW/sQ.0
      x-processing-time:
      - 16069ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3
      ms-cv:
      - +jLVieBu6E6QNZ9Z+bVNGg.0
      x-processing-time:
      - 330ms
    status:
      code: 204
      message: No Content
version: 1
