interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 19:08:18 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d501-3505-9806-113a0d002093"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - eLWZV7OdT0OoAbd2qb1rgQ.0
      x-processing-time:
      - 85ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 19:08:19 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-06-23T19:08:18.4503112+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8RWKWrVx+kOk3epXuCohtw.0
      x-processing-time:
      - 161ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 0d0e93a6-fa07-460e-9db1-f94b1ea2dba0
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-07
  response:
    body: '{"chatThread": {"id": "19:3GUwYUn6uzQ2dktJ_B3CJUAZJgOl_BBS2VeSKWabnq01@thread.v2",
      "topic": "test topic", "createdOn": "2021-06-22T19:08:20Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d501-3505-9806-113a0d002093",
      "communicationUser": {"id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d501-3505-9806-113a0d002093"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 6Ghmk6PVYUWFinqPGzq71Q.0
      x-processing-time:
      - 510ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "hello world", "senderDisplayName": "sender name", "type":
      "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-03-07
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Y1fDnNrdr0iwFhGja6sEHQ.0
      x-processing-time:
      - 277ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "updated message content"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      ms-cv:
      - AWclvR9LbE+yYdd02XZhNQ.0
      x-processing-time:
      - 248ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      ms-cv:
      - Sr/Lz3FONkGArFMsWpm+lg.0
      x-processing-time:
      - 108ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Jun 2021 19:08:22 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      ms-cv:
      - /XBfvDZDiUitgolMA6YGPA.0
      x-processing-time:
      - 916ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Jun 2021 19:08:23 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      ms-cv:
      - nIIW0jCws02ByVE9VwPl3g.0
      x-processing-time:
      - 729ms
    status:
      code: 204
      message: No Content
version: 1
