interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 19:06:51 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d4ff-df30-b8ba-a43a0d0025bf"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - a3tHGoROv0W0eRU8MGhmsQ.0
      x-processing-time:
      - 75ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 22 Jun 2021 19:06:51 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-06-23T19:06:50.8574354+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - QRy3xtImVke5kt3VLEgONA.0
      x-processing-time:
      - 129ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 08ddf286-614f-4499-8d2b-78faa94b69c0
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-07
  response:
    body: '{"chatThread": {"id": "19:ZyPdro5pHF7xsLYJNDMhPii0i9aFBAX2TzkQiMYzANg1@thread.v2",
      "topic": "test topic", "createdOn": "2021-06-22T19:06:52Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d4ff-df30-b8ba-a43a0d0025bf",
      "communicationUser": {"id": "8:acs:ac80d96a-85de-48b1-995d-a3a3fa3627c8_0000000a-d4ff-df30-b8ba-a43a0d0025bf"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - O9TDzOD73ki1EYqb0gAOJA.0
      x-processing-time:
      - 379ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6
      ms-cv:
      - GTGmFKiBjEeTdbSRyYXvvw.0
      x-processing-time:
      - 127ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 22 Jun 2021 19:06:53 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      ms-cv:
      - APFtu7IIp0ar9APZQ5+e8w.0
      x-processing-time:
      - 494ms
    status:
      code: 204
      message: No Content
version: 1
