interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - T1SicIBFQ0OqIPsPESoNhg.0
      x-processing-time:
      - 209ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-09-19T21:28:10.3443551+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ncrEM8Lnt0WM8pIlfrawzQ.0
      x-processing-time:
      - 283ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-09-21-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - UhcTmivdXU2XVXi6rs/H6g.0
      x-processing-time:
      - 317ms
    status:
      code: 207
      message: Multi-Status
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads?maxPageSize=1&api-version=2020-09-21-preview2
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-09-21-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - SaCwHB1w6U2BYp4E6OommA.0
      x-processing-time:
      - 40ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - YvdnCp6d8k6AucsQycFqIg.0
      x-processing-time:
      - 601ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-09-21-preview2
      ms-cv:
      - bdvSE2U4S02HemcKmlkD3g.0
      x-processing-time:
      - 159ms
    status:
      code: 204
      message: No Content
version: 1
