interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3e0us11r0kSoSEpvvjajvw.0
      x-processing-time:
      - 24ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2021-01-26T18:05:01.6442687+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vd1+PR51ykGx63GutU73/A.0
      x-processing-time:
      - 101ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2020-11-01-preview3
  response:
    body: '{"chatThread": {"id": "19:654491a4c86b47c4aad289e23664d2f4@thread.v2",
      "topic": "test topic", "createdOn": "2021-01-25T18:05:03Z", "createdBy": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000007-da9a-168f-1db7-3a3a0d002b15"}}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      content-type: application/json; charset=utf-8
      ms-cv: AK5CcHwZHUWPtRxVqNw/+w.0
      x-processing-time: 919ms
    status:
      code: 201
      message: Created
    url: https://sanitized.int.communication.azure.net/chat/threads?api-version=2020-11-01-preview3
- request:
    body: '{"priority": "Normal", "content": "hello world", "senderDisplayName": "sender
      name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/messages?api-version=2020-11-01-preview3
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      content-type: application/json; charset=utf-8
      ms-cv: cwLP/Sq0ekCC8TL++QGyUA.0
      x-processing-time: 410ms
    status:
      code: 201
      message: Created
    url: https://sanitized.int.communication.azure.net/chat/threads/sanitized/messages?api-version=2020-11-01-preview3
- request:
    body: '{"content": "updated message content"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized/messages/sanitized?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      ms-cv: XYq3xt+j5EOPI26kgG4IzA.0
      x-processing-time: 761ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/chat/threads/sanitized/messages/sanitized?api-version=2020-11-01-preview3
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      ms-cv: qog0bonzuEyZUxgbPGcYxw.0
      x-processing-time: 334ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - KIQ9nWLFaU64XCdXU5wVPg.0
      x-processing-time:
      - 16509ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - +JzvemoM3U6ixd86NvtfHQ.0
      x-processing-time:
      - 15815ms
    status:
      code: 204
      message: No Content
version: 1
