interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 07 Sep 2021 21:45:00 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_0000000c-621a-53e5-89df-44482200127d"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - hQlDNagHr0+40hsphzXKww.0
      x-processing-time:
      - 63ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 07 Sep 2021 21:45:00 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-09-08T21:45:00.4891763+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - UiXKrWpWyUqzGK4EB88gPA.0
      x-processing-time:
      - 238ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 241bf0fc-79e9-427d-a80e-00481dc938b5
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body: '{"chatThread": {"id": "19:dO_stDpbWrWsk4OuKPlcx7EyFkkcZGljtDGL-_AV5do1@thread.v2",
      "topic": "test topic", "createdOn": "2021-09-07T21:45:01Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_0000000c-621a-53e5-89df-44482200127d",
      "communicationUser": {"id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_0000000c-621a-53e5-89df-44482200127d"}}}}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6, 2021-09-07
      content-type: application/json; charset=utf-8
      ms-cv: drEh+s+A9kq7OwJmabRCkg.0
      x-processing-time: 547ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
- request:
    body: '{"content": "hello world", "senderDisplayName": "sender name", "type":
      "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6, 2021-09-07
      content-type: application/json; charset=utf-8
      ms-cv: +PAff+enIEihvY0rkYT0eA.0
      x-processing-time: 232ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
- request:
    body: '{"chatMessageId": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6, 2021-09-07
      ms-cv: Vq4YOSxjFkOC0QdIq1aLlA.0
      x-processing-time: 169ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6, 2021-09-07
      content-type: application/json; charset=utf-8
      ms-cv: 28SMUeOvqkeQjXbJhIrVvA.0
      x-processing-time: 376ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?maxPageSize=2&skip=0&api-version=2021-09-07
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6, 2021-09-07
      content-type: application/json; charset=utf-8
      ms-cv: 4qvQ9Mj5Xki2XiV02tpZnw.0
      x-processing-time: 85ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?maxPageSize=2&skip=0&api-version=2021-09-07
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6, 2021-09-07
      ms-cv: +tR15y9KvEimI5dLd8gYNw.0
      x-processing-time: 236ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Sep 2021 21:45:04 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      ms-cv:
      - NApEgi8dx0awc+ghdcbW4g.0
      x-processing-time:
      - 268ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Sep 2021 21:45:05 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      ms-cv:
      - Jwnb1ja1iEOa0vzQNdYaIA.0
      x-processing-time:
      - 322ms
    status:
      code: 204
      message: No Content
version: 1
