interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 7HJUgoqEY0+tMZj1LHMLXA.0
      x-processing-time:
      - 149ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-12-05T19:12:32.6909335+00:00"}'
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - p+rktYsA+kuFz/9yWOVPEA.0
      x-processing-time:
      - 302ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3
  response:
    body: '{"chatThread": {"id": "19:4c1fe998f91149eb8633785e068a5631@thread.v2",
      "topic": "test topic", "createdOn": "2020-12-04T19:12:34Z", "createdBy": "8:acs:9b665d53-8164-4923-ad5d-5e983b07d2e7_00000006-cf0d-361b-ea7c-5a3a0d0003ba"}}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      content-type: application/json; charset=utf-8
      ms-cv: 4qusa0VscESH1xeBLiFVog.0
      x-processing-time: 893ms
    status:
      code: 201
      message: Created
    url: https://sanitized.dev.communication.azure.net/chat/threads?api-version=2020-11-01-preview3
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
  response:
    body: '{"id": "sanitized", "topic": "test topic", "createdOn": "2020-12-04T19:12:34Z",
      "createdBy": "sanitized"}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      content-type: application/json; charset=utf-8
      ms-cv: z6wYzZ8u0ESCKP2S+F7/Ig.0
      x-processing-time: 262ms
    status:
      code: 200
      message: OK
    url: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3
      ms-cv: +PzgPuRsh02CGevSpzIY6Q.0
      x-processing-time: 338ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.dev.communication.azure.net/chat/threads/sanitized?api-version=2020-11-01-preview3
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.dev.communication.azure.net/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-01-15-preview3, 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - 6+d84SqH7k6lschaPQeALQ.0
      x-processing-time:
      - 16524ms
    status:
      code: 204
      message: No Content
version: 1
