interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - QW5+EPDi4kuDBJENEGaeWQ.0
      x-processing-time:
      - 202ms
    status:
      code: 200
      message: OK
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/token?api-version=2020-07-20-preview2
  response:
    body: '{"id": "sanitized", "token": "sanitized", "expiresOn": "2020-10-02T22:49:09.6442672+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - rkd2UN8Tmk2I24ASaFwM3g.0
      x-processing-time:
      - 272ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "members": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2020-09-21-preview2
  response:
    body: '{"multipleStatus": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bCITJJz1x0ur2lJr6xWOtA.0
      x-processing-time:
      - 189ms
    status:
      code: 207
      message: Multi-Status
- request:
    body: '{"priority": "Normal", "content": "hello world", "senderDisplayName": "sender
      name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2020-09-21-preview2
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - H0JLEz8XM0+3KGw5Qk/sBA.0
      x-processing-time:
      - 77ms
    status:
      code: 201
      message: Created
- request:
    body: '{"chatMessageId": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readreceipts?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2
      ms-cv:
      - JowfBSb2ykysq77Lz+vljw.0
      x-processing-time:
      - 43ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readreceipts?api-version=2020-09-21-preview2
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vus31CqeikaLUeLq6t7W4A.0
      x-processing-time:
      - 29ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2020-07-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-07-20-preview2
      ms-cv:
      - UUFuuAVChUqQpCoTk6aC+w.0
      x-processing-time:
      - 1277ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2020-09-21-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2
      ms-cv:
      - K5WSAsuL4UOBINl3WiLxDg.0
      x-processing-time:
      - 57ms
    status:
      code: 204
      message: No Content
version: 1
