interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-fcb1-f7dc-6a0b-343a0d00275b"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3sJKD+JFiUiDAiJR7jhCCA.0
      x-processing-time:
      - 18ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-03-24T02:00:59.1936435+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xcKub/dMtE+1AEyoQ9cD/Q.0
      x-processing-time:
      - 25ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-Request-Id:
      - 40334be5-6db5-40a2-9086-b8f6080182fb
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-07
  response:
    body: '{"chatThread": {"id": "19:2sAh1iSiY-YP8qJnPfcxq0PJ_rnx2Q3kpQ4vIIhi-881@thread.v2",
      "topic": "test topic", "createdOn": "2021-03-23T02:01:00Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-fcb1-f7dc-6a0b-343a0d00275b",
      "communicationUser": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-fcb1-f7dc-6a0b-343a0d00275b"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - pFrSgFoM6USXkVa+Mhcyyw.0
      x-processing-time:
      - 689ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "hello world", "senderDisplayName": "sender name", "type":
      "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-03-07
  response:
    body: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 68pwrisUIE+bSqvf0JCU2w.0
      x-processing-time:
      - 197ms
    status:
      code: 201
      message: Created
- request:
    body: '{"chatMessageId": "sanitized"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07
      ms-cv:
      - oKsMI60yAku3U80TzMZbyQ.0
      x-processing-time:
      - 179ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-03-07
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - D2eRx7unKUOqBNEf2neBDQ.0
      x-processing-time:
      - 107ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?maxPageSize=2&skip=0&api-version=2021-03-07
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /CwxPly3qUSZONfb47bbQQ.0
      x-processing-time:
      - 94ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      ms-cv:
      - 8oEkkLbp1UKuhoWfeK7v2g.0
      x-processing-time:
      - 1069ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07
      ms-cv:
      - Q8AzXkbx+kSPl3qUwpSkww.0
      x-processing-time:
      - 259ms
    status:
      code: 204
      message: No Content
version: 1
