interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-fcb2-362f-ac00-343a0d0029e2"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - G6FFxcQIV0KZYI/blGkRKQ.0
      x-processing-time:
      - 11ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-03-24T02:01:15.1650847+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XxfgnhNXFkShZ05F3sVnbA.0
      x-processing-time:
      - 24ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-Request-Id:
      - 24c0c828-5301-4f58-955b-ee94ce3e58cc
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-07
  response:
    body: '{"chatThread": {"id": "19:yvV3f3G4aaImX4P6x9cxEbqeF5mMCWqZ4COCZU7n33A1@thread.v2",
      "topic": "test topic", "createdOn": "2021-03-23T02:01:19Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-fcb2-362f-ac00-343a0d0029e2",
      "communicationUser": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-fcb2-362f-ac00-343a0d0029e2"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - UCWHpDwitUuunHCFmGxDpg.0
      x-processing-time:
      - 3833ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/typing?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07
      ms-cv:
      - 0xs0B6bhW0Sd53azinpyEA.0
      x-processing-time:
      - 125ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07
      ms-cv:
      - Ku6ml2ePIEucROuO85btnQ.0
      x-processing-time:
      - 1003ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07
      ms-cv:
      - Cnk4RDXJXE2/p9wX5yyGGQ.0
      x-processing-time:
      - 193ms
    status:
      code: 204
      message: No Content
version: 1
