interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-e7a5-8b2b-99c6-593a0d009e68"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8T5Y2BWMZkSPvRKcGRIAeg.0
      x-processing-time:
      - 13ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-03-19T23:55:23.4081523+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - eU0gyipKIE2PLE5W2V7BjQ.0
      x-processing-time:
      - 28ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      idempotency-token:
      - 8145f5ef-5623-43b0-b088-6f47c0451d34
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-03-01-preview5
  response:
    body: '{"chatThread": {"id": "19:w0534x9bJ4FN6e1jeD_2mXqm1tcl06chkjJJLIK0EGg1@thread.v2",
      "topic": "test topic", "createdOn": "2021-03-18T23:55:24Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-e7a5-8b2b-99c6-593a0d009e68",
      "communicationUser": {"id": "8:acs:fac4607d-d2d0-40e5-84df-6f32ebd1251a_00000008-e7a5-8b2b-99c6-593a0d009e68"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - DMANBD+GSkKNExFgRev3/g.0
      x-processing-time:
      - 763ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads?maxPageSize=1&api-version=2021-03-01-preview5
  response:
    body: '{"value": "sanitized"}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - +eX9SaqemE+q+zPjQJkjVg.0
      x-processing-time:
      - 102ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - 0kskc7lZv0+iZysMl5VVPA.0
      x-processing-time:
      - 608ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-03-01-preview5
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      ms-cv:
      - quZuKcpURUGLF+/axPnpGg.0
      x-processing-time:
      - 276ms
    status:
      code: 204
      message: No Content
version: 1
