interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 10 Mar 2023 00:43:48 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gS1/YMlPYkWF1KbYuhcbGQ.0
      x-processing-time:
      - 37ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 10 Mar 2023 00:43:48 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-10-01
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2023-03-11T00:43:48.303508+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 4a3oq4dceE+ntN6RpxMDnA.0
      x-processing-time:
      - 26ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - f586f92d-c42c-4d84-804c-f1bb1f99cb9f
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "test topic", "createdOn":
        "2023-03-10T00:43:48Z", "createdByCommunicationIdentifier": {"rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000017-68da-f674-99c6-593a0d007647",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions: 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: MF3MDGFUUE+nq2dDB8qDnw.0
      x-processing-time: 403ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview
      ms-cv: 6yHncDbL1EmpXd94n4HbjQ.0
      x-processing-time: 274ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Mar 2023 00:43:54 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - ZJ8QupdtTUGNaMGJeiw0VQ.0
      x-processing-time:
      - 239ms
    status:
      code: 204
      message: No Content
version: 1
