interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 07 Sep 2021 21:44:27 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_0000000c-6219-d5c0-dc7b-2548220015ad"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - FjlWfZekcEaMJDj6BO0EMw.0
      x-processing-time:
      - 88ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 07 Sep 2021 21:44:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-09-08T21:44:28.1695173+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - aZX9KFAAbU+uj8wzJpFlXg.0
      x-processing-time:
      - 154ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - bd9dae00-a75d-49a9-a557-a8168d7cfedd
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body: '{"chatThread": {"id": "19:1P_S6sf7gPL6nhG69Us09Gn4qtsVv0F9c9XWQ29AWZo1@thread.v2",
      "topic": "test topic", "createdOn": "2021-09-07T21:44:29Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_0000000c-6219-d5c0-dc7b-2548220015ad",
      "communicationUser": {"id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_0000000c-6219-d5c0-dc7b-2548220015ad"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6, 2021-09-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bgutoPKXCUih5RBJglmVdQ.0
      x-processing-time:
      - 734ms
    status:
      code: 201
      message: Created
- request:
    body: '{"senderDisplayName": "John"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/typing?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-05-preview6, 2021-09-07
      ms-cv:
      - Gnoa43kciUal9FOqu2N4Pg.0
      x-processing-time:
      - 189ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5,
        2021-03-07, 2021-04-05-preview6, 2021-09-07
      ms-cv:
      - 8LiURxfDR0Ce8qshgFStUA.0
      x-processing-time:
      - 202ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Sep 2021 21:44:30 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      ms-cv:
      - jrTQ1oRggEGnygLVM8EFbw.0
      x-processing-time:
      - 555ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Sep 2021 21:44:30 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      ms-cv:
      - 7fxNZqnMTEqNE/D2Dswwlg.0
      x-processing-time:
      - 418ms
    status:
      code: 204
      message: No Content
version: 1
