interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 07 Sep 2021 21:43:26 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_0000000c-6218-e928-5505-4548220010ed"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - iFzBlBDiqUqsdO7MDUwDqA.0
      x-processing-time:
      - 64ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 07 Sep 2021 21:43:27 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-09-08T21:43:27.7175329+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wbA0kTBOnUCtf2B/rrfJ9Q.0
      x-processing-time:
      - 322ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 45a204ae-501a-49d6-89fb-b4c54e16b47b
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body: '{"chatThread": {"id": "19:IH2GWYcQbJYKdkqfrHGdDaxsqCZy2eK_c8LmH4qQkNE1@thread.v2",
      "topic": "test topic", "createdOn": "2021-09-07T21:43:27Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_0000000c-6218-e928-5505-4548220010ed",
      "communicationUser": {"id": "8:acs:fa5c4fc3-a269-43e2-9eb6-0ca17b388993_0000000c-6218-e928-5505-4548220010ed"}}}}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6, 2021-09-07
      content-type: application/json; charset=utf-8
      ms-cv: iqWjNQnkqE6jcKR6yNEdwQ.0
      x-processing-time: 435ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5, 2021-03-07, 2021-04-05-preview6, 2021-09-07
      ms-cv: HtkL6Hu7+U2jSJ3MAW0ttw.0
      x-processing-time: 287ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Sep 2021 21:43:28 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview
      ms-cv:
      - TujUO84wKkelIbFrM0kpGw.0
      x-processing-time:
      - 495ms
    status:
      code: 204
      message: No Content
version: 1
