interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 10 Mar 2023 00:44:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - raEmNtL9hEqngkuhSg2jig.0
      x-processing-time:
      - 21ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 10 Mar 2023 00:44:25 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-10-01
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2023-03-11T00:44:25.2434822+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - W47H4GYfl0WkKwPwRaLgjQ.0
      x-processing-time:
      - 27ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - cdb55141-a2d3-4b0b-bf9a-b7d5b50972e4
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "test topic", "createdOn":
        "2023-03-10T00:44:25Z", "createdByCommunicationIdentifier": {"rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000017-68db-86bf-ec8d-084822005860",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - afyEofrM2EyhGKJAQKdCDg.0
      x-processing-time:
      - 633ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "hello world", "senderDisplayName": "sender name", "type":
      "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mf3Tz09cMUGKrTnDLy1QBA.0
      x-processing-time:
      - 158ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview
      ms-cv:
      - Kp3PosqtQESCaPsGDESnrQ.0
      x-processing-time:
      - 186ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Mar 2023 00:44:26 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - RJ52I+FBbUmozBGX3bpF/w.0
      x-processing-time:
      - 241ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Mar 2023 00:44:27 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - MFzB3ibW8USVn6gi6zR1TQ.0
      x-processing-time:
      - 224ms
    status:
      code: 204
      message: No Content
version: 1
