interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-c8da-0080-9c58-373a0d00d516"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - tQ+A7w4UC0qskrBZr2pDQA.0
      x-processing-time:
      - 16ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-03-14T00:24:27.6770043+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - iXbWyPTuS0us1v1mOfVPFA.0
      x-processing-time:
      - 90ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      idempotency-token:
      - 498e05bf-c656-403e-b5fc-c221e2ccd323
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2021-03-01-preview5
  response:
    body: '{"chatThread": {"id": "19:8m-BqxabXjlyYMUpDI-RyHrDDPuYM5jIaIr8eJz6j4Y1@thread.v2",
      "topic": "test topic", "createdOn": "2021-03-13T00:24:29Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-c8da-0080-9c58-373a0d00d516",
      "communicationUser": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-c8da-0080-9c58-373a0d00d516"}}}}'
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - hktaRTaiLUOc4s+EZ1rm8A.0
      x-processing-time:
      - 854ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "update topic"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2021-03-01-preview5
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      ms-cv:
      - bMtL/2WBHUyAKvtCJDRCqA.0
      x-processing-time:
      - 425ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - /Ktx6hAMbEeJxub2MBbpbw.0
      x-processing-time:
      - 16819ms
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2021-03-01-preview5
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4, 2021-03-01-preview5
      ms-cv:
      - 1Dmh7bHF6Eq79ZjX9oeUJQ.0
      x-processing-time:
      - 342ms
    status:
      code: 204
      message: No Content
version: 1
