interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 10 Mar 2023 00:45:08 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - DMN2arPDB0+zhYS++FZ1BA.0
      x-processing-time:
      - 20ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 10 Mar 2023 00:45:08 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-10-01
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2023-03-11T00:45:08.7759569+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Hl17BD4MoEGabsjboQu/Ww.0
      x-processing-time:
      - 29ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - dbb2f222-a832-48a0-b571-15c7d45c3b7e
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "test topic", "createdOn":
        "2023-03-10T00:45:09Z", "createdByCommunicationIdentifier": {"rawId": "8:acs:357e39d2-a29a-4bf6-88cc-fda0afc2c0ed_00000017-68dc-30db-ec8d-08482200587b",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions: 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: qprTbiL7uk+xXktk48h+UA.0
      x-processing-time: 701ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
- request:
    body: '{"senderDisplayName": "John"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/typing?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview
      ms-cv: tAMGPFDp3EW97SJNA1/znw.0
      x-processing-time: 195ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/chat/threads/sanitized/typing?api-version=2021-09-07
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview
      ms-cv: Sd5dPrUQBEK01/O3lJHoLw.0
      x-processing-time: 293ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Mar 2023 00:45:10 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - +JEMpzzDNkKsovGT78MmsA.0
      x-processing-time:
      - 428ms
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 10 Mar 2023 00:45:10 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/identities/sanitized?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      ms-cv:
      - lmNDaQozoEKyCtPVrs5kjQ.0
      x-processing-time:
      - 267ms
    status:
      code: 204
      message: No Content
version: 1
