interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities?api-version=2021-03-07
  response:
    body: '{"identity": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-c7de-89ae-9c58-373a0d00d0b4"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - lQlDGQd8PEub0oKA0GBbkQ.0
      x-processing-time:
      - 48ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.int.communication.azure.net/identities/sanitized/:issueAccessToken?api-version=2021-03-07
  response:
    body: '{"token": "sanitized", "expiresOn": "2021-03-13T19:49:47.7476265+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - RV9mvUH9qE6aUxf9UuB8xQ.0
      x-processing-time:
      - 92ms
    status:
      code: 200
      message: OK
- request:
    body: '{"topic": "test topic", "participants": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      idempotency-token:
      - 8da9331b-ba57-4f7e-9a23-a6444e7b7dba
    method: POST
    uri: https://sanitized.int.communication.azure.net/chat/threads?api-version=2021-03-01-preview5
  response:
    body: '{"chatThread": {"id": "19:EdmXHSqF9wnAIjMalevgRFiQRJEqejkp1gmpUHDdLPw1@thread.v2",
      "topic": "test topic", "createdOn": "2021-03-12T19:49:49Z", "createdByCommunicationIdentifier":
      {"rawId": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-c7de-89ae-9c58-373a0d00d0b4",
      "communicationUser": {"id": "8:acs:46849534-eb08-4ab7-bde7-c36928cd1547_00000008-c7de-89ae-9c58-373a0d00d0b4"}}}}'
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5
      content-type: application/json; charset=utf-8
      ms-cv: QZSSTChwqkajJsdkqwey3w.0
      x-processing-time: 849ms
    status:
      code: 201
      message: Created
    url: https://sanitized.int.communication.azure.net/chat/threads?api-version=2021-03-01-preview5
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2021-03-01-preview5
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2020-09-21-preview2, 2020-11-01-preview3, 2021-01-27-preview4,
        2021-03-01-preview5
      ms-cv: C+ks7Buc4EKpI7wCL3iLeQ.0
      x-processing-time: 291ms
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/chat/threads/sanitized?api-version=2021-03-01-preview5
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/identities/sanitized?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-03-07
      ms-cv:
      - OLd97ocDhUS18dBAsnJmMw.0
      x-processing-time:
      - 16950ms
    status:
      code: 204
      message: No Content
version: 1
