include *.md
include LICENSE
include azure/developer/loadtesting/py.typed
recursive-include tests *.py
recursive-include samples *.py *.md
include azure/__init__.py
include azure/developer/__init__.py