aiohttp>=3.0
opencensus-ext-azure
psutil

python-dotenv
websocket-client

git+https://github.com/kashifkhan/azure-sdk-for-python.git@sb_pyamqp_mem#subdirectory=sdk/servicebus/azure-servicebus&egg=azure-servicebus