aiohttp>=3.0
opencensus-ext-azure
psutil
# To install from a specific git branch, replace the package with a req in the following format:
# git+<gh-repo-url>@<branch>#subdirectory=<path/to/sdk>&egg=<package-name>
# ex. git+https://github.com/l0lawrence/azure-sdk-for-python.git@sb_retries#subdirectory=sdk/servicebus/azure-servicebus&egg=azure-servicebus
azure-servicebus
python-dotenv
websocket-client
memray
azure-identity