# --------------------------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# --------------------------------------------------------------------------------------------

# Configurations for running stress test
[BASIC_CONFIG]
# running duration
duration=864000
# output to console
print_console=False
auth_timeout=60
# log output per output_interval messages
#output_interval=1000
run_generated_commands=yes


[RUN_METHODS]
sync_queues=no
sync_long_term_auto_renew=no

[CREDENTIALS]
# In most case, configure SERVICE_BUS_CONNECTION_STR and SERVICE_BUS_QUEUE_NAME to get the test run
SERVICE_BUS_CONNECTION_STR=
SERVICE_BUS_FULLY_QUALIFIED_NAMESPACE=
SERVICE_BUS_QUEUE_NAME=
SERVICE_BUS_SAS_POLICY=
SERVICE_BUS_SAS_KEY=
SERVICE_BUS_SESSION_QUEUE_NAME=
SERVICE_BUS_SESSION_ID=
SERVICE_BUS_SESSION_QUEUE_SAS_POLICY=
SERVICE_BUS_SESSION_QUEUE_SAS_KEY=
AZURE_CLIENT_SECRET=
AZURE_CLIENT_ID=
AZURE_TENANT_ID=