{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "data_import_my_azuresqldb_asset",
          "properties": {
            "azureml.materializationAssetName": "my_azuresqldb_asset"
          },
          "tags": {},
          "displayName": "data_import_my_azuresqldb_asset",
          "experimentName": "data_import_my_azuresqldb_asset",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {},
          "jobs": {
            "data_import_my_azuresqldb_asset": {
              "type": "data_transfer",
              "task": "import_data",
              "source": {
                "type": "database",
                "query": "select * from region",
                "connection": "azureml:my_azuresqldb_connection"
              },
              "display_name": "data_import_my_azuresqldb_asset",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/serverless",
              "outputs": {
                "sink": {
                  "uri": "azureml://datastores/workspaceblobstore/paths/{name}",
                  "job_output_type": "mltable",
                  "name": "my_azuresqldb_asset"
                }
              },
              "_source": "REMOTE.REGISTRY",
              "componentId": "azureml://registries/azureml-dev/components/import_data_database/versions/1"
            }
          },
          "outputs": {},
          "settings": {
            "_source": "CLASS"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "4.491"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000",
        "name": "000000000000000000000",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "data_import_my_azuresqldb_asset",
          "tags": {},
          "properties": {
            "azureml.materializationAssetName": "my_azuresqldb_asset",
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "data_import_my_azuresqldb_asset",
          "status": "Preparing",
          "experimentName": "data_import_my_azuresqldb_asset",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/000000000000000000000?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": null,
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "jobType": "Pipeline",
          "settings": {
            "_source": "CLASS"
          },
          "jobs": {
            "data_import_my_azuresqldb_asset": {
              "type": "data_transfer",
              "task": "import_data",
              "source": {
                "type": "database",
                "query": "select * from region",
                "connection": "azureml:my_azuresqldb_connection"
              },
              "display_name": "data_import_my_azuresqldb_asset",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/serverless",
              "outputs": {
                "sink": {
                  "uri": "azureml://datastores/workspaceblobstore/paths/{name}",
                  "job_output_type": "mltable",
                  "name": "my_azuresqldb_asset"
                }
              },
              "_source": "REMOTE.REGISTRY",
              "componentId": "azureml://registries/azureml-dev/components/import_data_database/versions/1"
            }
          },
          "inputs": {},
          "outputs": {},
          "sourceJobId": null
        },
        "systemData": {
          "createdAt": "2023-02-25T16:36:16.9592183\u002B00:00",
          "createdBy": "Firstname Lastname",
          "createdByType": "User"
        }
      }
    }
  ],
  "Variables": {}
}
