{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_85512786075?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Schedule data import",
          "properties": {},
          "tags": {},
          "action": {
            "actionType": "ImportData",
            "dataImportDefinition": {
              "properties": {},
              "tags": {},
              "isAnonymous": false,
              "isArchived": false,
              "dataType": "uri_folder",
              "dataUri": "azureml://datastores/workspaceblobstore/paths/{name}",
              "assetName": "my_s3_asset",
              "source": {
                "connection": "azureml:my_s3_connection",
                "sourceType": "file_system",
                "path": "test1/*"
              }
            }
          },
          "displayName": "Schedule data import",
          "trigger": {
            "timeZone": "Pacific Standard Time",
            "triggerType": "Cron",
            "expression": "15 10 * * 1"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:c08708bc-8110-4edf-af07-0d48a59691a6:i5TG6CUD-HhMecjJNf3sLVkrWLeAb1CfHzj2YP_vVZY?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_85512786075?api-version=2023-04-01-preview",
        "x-aml-cluster": "int-02",
        "x-ms-async-operation-timeout": "PT30M",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.431"
      },
      "ResponseBody": {
        "properties": {
          "description": "Schedule data import",
          "tags": {},
          "properties": {
            "azureml.materializationAssetName": "my_s3_asset"
          },
          "displayName": "Schedule data import",
          "isEnabled": true,
          "trigger": {
            "endTime": null,
            "startTime": null,
            "timeZone": "Pacific Standard Time",
            "triggerType": "Cron",
            "expression": "15 10 * * 1"
          },
          "action": {
            "actionType": "ImportData",
            "dataImportDefinition": {
              "description": null,
              "tags": {},
              "properties": {
                "azureml.materializationAssetName": "my_s3_asset"
              },
              "isArchived": false,
              "isAnonymous": false,
              "autoDeleteSetting": null,
              "dataUri": "azureml://datastores/workspaceblobstore/paths/{name}/${{name}}",
              "stage": null,
              "intellectualProperty": null,
              "dataType": "uri_folder",
              "assetName": "my_s3_asset",
              "source": {
                "connection": "azureml:my_s3_connection",
                "sourceType": "file_system",
                "path": "test1/*"
              }
            }
          },
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:c08708bc-8110-4edf-af07-0d48a59691a6:i5TG6CUD-HhMecjJNf3sLVkrWLeAb1CfHzj2YP_vVZY?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "int-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11996",
        "x-ms-response-type": "standard",
        "x-request-time": "0.026"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/s:c08708bc-8110-4edf-af07-0d48a59691a6:i5TG6CUD-HhMecjJNf3sLVkrWLeAb1CfHzj2YP_vVZY",
        "name": "s:c08708bc-8110-4edf-af07-0d48a59691a6:i5TG6CUD-HhMecjJNf3sLVkrWLeAb1CfHzj2YP_vVZY",
        "status": "Creating"
      }
    },
[...]
