{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_166004536013?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Schedule data import",
          "properties": {},
          "tags": {},
          "action": {
            "actionType": "ImportData",
            "dataImportDefinition": {
              "properties": {},
              "tags": {},
              "isAnonymous": false,
              "isArchived": false,
              "dataType": "uri_folder",
              "dataUri": "azureml://datastores/workspaceblobstore/paths/{name}",
              "assetName": "my_azuresqldb_asset",
              "source": {
                "connection": "azureml:my_azuresqldb_connection",
                "sourceType": "database",
                "query": "select * from region"
              }
            }
          },
          "displayName": "Schedule data import",
          "trigger": {
            "timeZone": "Pacific Standard Time",
            "triggerType": "Cron",
            "expression": "15 10 * * 1"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:a4b197d1-5967-42d6-a2be-76f1bd0b075d:ieVFhyuSPyD-nS_OEJwWojVM5tNk8Arz-AHDWM46uyM?api-version=2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/schedules/test_166004536013?api-version=2023-04-01-preview",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-async-operation-timeout": "PT30M",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "3.192"
      },
      "ResponseBody": {
        "properties": {
          "description": "Schedule data import",
          "tags": {},
          "properties": {
            "azureml.materializationAssetName": "my_azuresqldb_asset"
          },
          "displayName": "Schedule data import",
          "isEnabled": true,
          "trigger": {
            "endTime": null,
            "startTime": null,
            "timeZone": "Pacific Standard Time",
            "triggerType": "Cron",
            "expression": "15 10 * * 1"
          },
          "action": {
            "actionType": "ImportData",
            "dataImportDefinition": {
              "description": null,
              "tags": {},
              "properties": {
                "azureml.materializationAssetName": "my_azuresqldb_asset"
              },
              "isArchived": false,
              "isAnonymous": false,
              "autoDeleteSetting": null,
              "dataUri": "azureml://datastores/workspaceblobstore/paths/{name}/${{name}}",
              "stage": null,
              "intellectualProperty": null,
              "dataType": "mltable",
              "assetName": "my_azuresqldb_asset",
              "source": {
                "connection": "azureml:my_azuresqldb_connection",
                "sourceType": "database",
                "query": "select * from region",
                "tableName": null,
                "storedProcedure": null,
                "storedProcedureParams": null
              }
            }
          },
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationsStatus/s:a4b197d1-5967-42d6-a2be-76f1bd0b075d:ieVFhyuSPyD-nS_OEJwWojVM5tNk8Arz-AHDWM46uyM?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.163"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/s:a4b197d1-5967-42d6-a2be-76f1bd0b075d:ieVFhyuSPyD-nS_OEJwWojVM5tNk8Arz-AHDWM46uyM",
        "name": "s:a4b197d1-5967-42d6-a2be-76f1bd0b075d:ieVFhyuSPyD-nS_OEJwWojVM5tNk8Arz-AHDWM46uyM",
        "status": "Creating"
      }
    },
[...]
