interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices?api-version=2018-03-01-preview&$expand=downloadUrl
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201710-317724100092362","type":"Microsoft.Billing/invoices","name":"201710-317724100092362","properties":{"downloadUrl":{"expiryTime":"2018-03-27T22:38:53Z","url":"https://billinginsightsstoretest.blob.core.windows.net/invoices/00000000-0000-0000-0000-000000000000-201710-317724100092362.pdf?sv=2014-02-14&sr=b&sig=IJHaU2wZmwVnLkOvc6pMPjXV75wxnHIdFM22jwelUro%3D&se=2018-03-27T22%3A38%3A53Z&sp=r"},"invoicePeriodEndDate":"2017-08-05","invoicePeriodStartDate":"2017-07-06","billingPeriodIds":["/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201710-1"]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201709-317477130089288","type":"Microsoft.Billing/invoices","name":"201709-317477130089288","properties":{"downloadUrl":{"expiryTime":"2018-03-27T22:38:53Z","url":"https://billinginsightsstoretest.blob.core.windows.net/invoices/00000000-0000-0000-0000-000000000000-201709-317477130089288.pdf?sv[...]
