interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/enrollmentAccounts?api-version=2018-03-01-preview
  response:
    body: {string: '{"value":[{"id":"/providers/Microsoft.Billing/enrollmentAccounts/6166d98d-3b2e-4d36-a673-ca01bc7dcf0e","name":"6166d98d-3b2e-4d36-a673-ca01bc7dcf0e","properties":{"principalName":"claire@contoso.com","offerTypes":["MS-AZR-0143P"]},"type":"Microsoft.Billing/enrollmentAccounts"}]}'}
    headers:
      api-supported-versions: [2018-03-01-preview]
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
