interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods?api-version=2018-03-01-preview&$top=1
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201806-1","type":"Microsoft.Billing/billingPeriods","name":"201806-1","properties":{"billingPeriodStartDate":"2018-03-06","billingPeriodEndDate":"2018-04-05"}}]}'}
    headers:
      api-supported-versions: ['2017-04-24-preview, 2018-03-01-preview']
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
