{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11972",
        "x-ms-response-type": "standard",
        "x-request-time": "0.015"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sadnuammrwdeilc",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtesthhy5m5pqcjec6",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aidnuammrwdeilc",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crdnuammrwdeilc",
          "notebookInfo": {
            "resourceId": "493ca697a7f447848820635d6ef3a5f0",
            "fqdn": "ml-sdkvnextcli-eastus2-c33afa53-cead-40f1-8d1d-ac5976604612.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "c33afa53-cead-40f1-8d1d-ac5976604612",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "066b0d89-53d2-4b58-8bc8-ac382527e4fb",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "ab3f5d04-98db-441d-97a8-f558ea82f4ef",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-01-17T23:08:06.6643232Z",
          "createdBy": "dipeck@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-01-17T23:08:06.6643232Z",
          "lastModifiedBy": "dipeck@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-9ceaccccb30f429?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {
          "authMode": "aadToken",
          "description": "my sample batch endpoint",
          "properties": {
            "ComponentDeployment.Enabled": "True"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/be:c33afa53-cead-40f1-8d1d-ac5976604612:9404e625-e78e-4834-9f1d-b70fb2b6299e?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-9ceaccccb30f429?api-version=2022-05-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-async-operation-timeout": "PT30M",
        "x-ms-ratelimit-remaining-subscription-writes": "1193",
        "x-ms-response-type": "standard",
        "x-request-time": "1.046"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-9ceaccccb30f429",
        "name": "batch-ept-9ceaccccb30f429",
        "type": "Microsoft.MachineLearningServices/workspaces/batchEndpoints",
        "properties": {
          "description": "my sample batch endpoint",
          "properties": {
            "ComponentDeployment.Enabled": "True",
            "BatchEndpointCreationApiVersion": "2022-05-01",
            "azureml.onlineendpointid": "/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/providers/microsoft.machinelearningservices/workspaces/00000/onlineendpoints/batch-ept-9ceaccccb30f429",
            "AzureAsyncOperationUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/be:c33afa53-cead-40f1-8d1d-ac5976604612:9404e625-e78e-4834-9f1d-b70fb2b6299e?api-version=2022-05-01"
          },
          "scoringUri": null,
          "swaggerUri": null,
          "authMode": "AADToken",
          "defaults": {
            "deploymentName": null
          },
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdAt": "2023-01-18T20:16:50.5916025\u002B00:00",
          "createdBy": "Diondra Peck",
          "lastModifiedAt": "2023-01-18T20:16:50.5916026\u002B00:00"
        },
        "tags": {},
        "location": "eastus2",
        "identity": {
          "type": "None",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/be:c33afa53-cead-40f1-8d1d-ac5976604612:9404e625-e78e-4834-9f1d-b70fb2b6299e?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11971",
        "x-ms-response-type": "standard",
        "x-request-time": "0.044"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/be:c33afa53-cead-40f1-8d1d-ac5976604612:9404e625-e78e-4834-9f1d-b70fb2b6299e",
        "name": "be:c33afa53-cead-40f1-8d1d-ac5976604612:9404e625-e78e-4834-9f1d-b70fb2b6299e",
        "startTime": "2023-01-18T20:16:50.4653032\u002B00:00",
        "percentComplete": 0.0,
        "status": "Updating"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/be:c33afa53-cead-40f1-8d1d-ac5976604612:9404e625-e78e-4834-9f1d-b70fb2b6299e?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11970",
        "x-ms-response-type": "standard",
        "x-request-time": "0.046"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/be:c33afa53-cead-40f1-8d1d-ac5976604612:9404e625-e78e-4834-9f1d-b70fb2b6299e",
        "name": "be:c33afa53-cead-40f1-8d1d-ac5976604612:9404e625-e78e-4834-9f1d-b70fb2b6299e",
        "startTime": "2023-01-18T20:16:50.4653032\u002B00:00",
        "endTime": "2023-01-18T20:17:00.8734372\u002B00:00",
        "percentComplete": 100.0,
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/batch-ept-9ceaccccb30f429/deployments/batch-dpm-3575ac635715491?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {
          "description": "A sample deployment with pre and post processing done before and after inference.",
          "environmentVariables": {},
          "properties": {},
          "compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/batch-cluster"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "23",
        "x-ms-response-type": "error",
        "x-request-time": "0.259"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "The Deployment request provided has the following validation errors. Please resolve them and try again.\nErrors:\n[\n  {\n    \u0022PropertyName\u0022: \u0022ModelConfiguration.ModelReference\u0022,\n    \u0022ErrorMessage\u0022: \u0022\u0027Model Reference\u0027 must not be empty.\u0022,\n    \u0022ErrorCode\u0022: \u0022ArgumentNullOrEmpty\u0022\n  }\n]\n",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "c26f27b5e115cadb217cc5f26d6a14cf",
                  "request": "57568e141f1f4844"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2023-01-18T20:17:24.2307426\u002B00:00"
              }
            },
            {
              "type": "InnerError",
              "info": {
                "value": {
                  "code": "BadArgument",
                  "innerError": {
                    "code": "ArgumentInvalid",
                    "innerError": {
                      "code": "InvalidInputArguments",
                      "innerError": null
                    }
                  }
                }
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "deployment_name": "batch-dpm-3575ac635715491",
    "endpoint_name": "batch-ept-9ceaccccb30f429"
  }
}
