{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/lightgbm_predict/versions/1?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11995",
        "x-ms-response-type": "standard",
        "x-request-time": "0.496"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/lightgbm_predict/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/models/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "flavors.python_function": "{\n  \u0022loader_module\u0022: \u0022mlflow.lightgbm\u0022,\n  \u0022python_version\u0022: \u00223.6.2\u0022,\n  \u0022data\u0022: \u0022model.lgb\u0022,\n  \u0022env\u0022: \u0022conda.yaml\u0022\n}",
            "flavors.lightgbm": "{\n  \u0022lgb_version\u0022: \u00223.3.2\u0022,\n  \u0022data\u0022: \u0022model.lgb\u0022,\n  \u0022model_class\u0022: \u0022lightgbm.basic.Booster\u0022\n}",
            "flavors": "python_function,lightgbm",
            "azureml.artifactPrefix": "ExperimentRun/dcid.light_gbm_job_0e06762d4adf4f0184c6adc522347262/lightgbm_artifact",
            "model_json": "{\u0022run_id\u0022: \u0022light_gbm_job_0e06762d4adf4f0184c6adc522347262\u0022, \u0022artifact_path\u0022: \u0022lightgbm_artifact\u0022, \u0022utc_time_created\u0022: \u00222022-09-28 09:06:12.676451\u0022, \u0022flavors\u0022: {\u0022python_function\u0022: {\u0022loader_module\u0022: \u0022mlflow.lightgbm\u0022, \u0022python_version\u0022: \u00223.6.2\u0022, \u0022data\u0022: \u0022model.lgb\u0022, \u0022env\u0022: \u0022conda.yaml\u0022}, \u0022lightgbm\u0022: {\u0022lgb_version\u0022: \u0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11994",
        "x-ms-response-type": "standard",
        "x-request-time": "0.014"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sano4nluz7tny6e",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestg4pvkwb5ugzdu",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aino4nluz7tny6e",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crno4nluz7tny6e",
          "notebookInfo": {
            "resourceId": "91eece339fe8458b972c06afa45ed5c3",
            "fqdn": "ml-sdkvnextcli-eastus2-ee8c8c7b-8359-4874-b140-2a13f80fdccd.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "ee8c8c7b-8359-4874-b140-2a13f80fdccd",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "066b0d89-53d2-4b58-8bc8-ac382527e4fb",
          "sasGetterUri": ""
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "cb26b995-24b2-471e-9912-81805f881bd2",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2022-09-20T06:30:21.9315063Z",
          "createdBy": "namejia@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2022-09-20T06:30:21.9315063Z",
          "lastModifiedBy": "namejia@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/be-e2e-ff755d8b26b34b50add9f8f0d?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2",
        "properties": {
          "authMode": "aadToken",
          "description": "my sample batch endpoint",
          "properties": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/be:ee8c8c7b-8359-4874-b140-2a13f80fdccd:0feff1af-1173-4f84-b37c-9c3231ca7704?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/be-e2e-ff755d8b26b34b50add9f8f0d?api-version=2022-05-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-async-operation-timeout": "PT30M",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "1.068"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/be-e2e-ff755d8b26b34b50add9f8f0d",
        "name": "be-e2e-ff755d8b26b34b50add9f8f0d",
        "type": "Microsoft.MachineLearningServices/workspaces/batchEndpoints",
        "properties": {
          "description": "my sample batch endpoint",
          "properties": {
            "BatchEndpointCreationApiVersion": "2022-05-01",
            "azureml.onlineendpointid": "/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/providers/microsoft.machinelearningservices/workspaces/00000/onlineendpoints/be-e2e-ff755d8b26b34b50add9f8f0d",
            "AzureAsyncOperationUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/be:ee8c8c7b-8359-4874-b140-2a13f80fdccd:0feff1af-1173-4f84-b37c-9c3231ca7704?api-version=2022-05-01"
          },
          "scoringUri": null,
          "swaggerUri": null,
          "authMode": "AADToken",
          "defaults": {
            "deploymentName": null
          },
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdAt": "2022-10-31T18:47:57.2345791\u002B00:00",
          "createdBy": "Nancy Mejia Juarez",
          "lastModifiedAt": "2022-10-31T18:47:57.2345791\u002B00:00"
        },
        "tags": {},
        "location": "eastus2",
        "identity": {
          "type": "None",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/be:ee8c8c7b-8359-4874-b140-2a13f80fdccd:0feff1af-1173-4f84-b37c-9c3231ca7704?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11993",
        "x-ms-response-type": "standard",
        "x-request-time": "0.085"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/be:ee8c8c7b-8359-4874-b140-2a13f80fdccd:0feff1af-1173-4f84-b37c-9c3231ca7704",
        "name": "be:ee8c8c7b-8359-4874-b140-2a13f80fdccd:0feff1af-1173-4f84-b37c-9c3231ca7704",
        "startTime": "2022-10-31T18:47:57.061945\u002B00:00",
        "percentComplete": 0.0,
        "status": "Updating"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/be:ee8c8c7b-8359-4874-b140-2a13f80fdccd:0feff1af-1173-4f84-b37c-9c3231ca7704?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11992",
        "x-ms-response-type": "standard",
        "x-request-time": "0.060"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationsStatus/be:ee8c8c7b-8359-4874-b140-2a13f80fdccd:0feff1af-1173-4f84-b37c-9c3231ca7704",
        "name": "be:ee8c8c7b-8359-4874-b140-2a13f80fdccd:0feff1af-1173-4f84-b37c-9c3231ca7704",
        "startTime": "2022-10-31T18:47:57.061945\u002B00:00",
        "endTime": "2022-10-31T18:48:07.8716158\u002B00:00",
        "percentComplete": 100.0,
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/batchEndpoints/be-e2e-ff755d8b26b34b50add9f8f0d?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11986",
        "x-ms-response-type": "error",
        "x-request-time": "0.054"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "The specified resource was not found.",
          "details": [
            {
              "code": "NoSuchEndpoint",
              "message": "There is no endpoint with name: be-e2e-ff755d8b26b34b50add9f8f0d in 00000",
              "details": [],
              "additionalInfo": []
            }
          ],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "33bf28fa0253c5a82476a49de5cab8e6",
                  "request": "5a47fb66730c82d7"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "eastus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2022-10-31T18:48:41.2877237\u002B00:00"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "job_name": "light_gbm_job_a7f76b50824047a395c9e2dba363df70",
    "name": "be-e2e-ff755d8b26b34b50add9f8f0d"
  }
}
