{
  "Entries": [
    {
      "RequestUri": "https://fake-resource-name.cognitiveservices.azure.com/computervision/imageanalysis:analyze?api-version=2023-10-01\u0026features=caption",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "00000000000000000000000000000000"
      },
      "RequestBody": {
        "url": "https://www.this.is.a.bad.url.com/for/sure.jpg"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "4.0-pre1,2022-07-31-preview,2022-10-12-preview,2023-02-01-preview,2023-04-01-preview,2023-06-01-preview,2023-07-01-preview,2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.ComputerVision.Transaction=1",
        "x-ms-error-code": "InvalidRequest",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "The provided image url is not accessible."
        }
      }
    }
  ],
  "Variables": {}
}
