# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from collections.abc import MutableMapping
from io import IOBase
from typing import Any, Callable, IO, Iterator, Optional, TypeVar, Union, cast, overload

from azure.core import PipelineClient
from azure.core.exceptions import (
    ClientAuthenticationError,
    HttpResponseError,
    ResourceExistsError,
    ResourceNotFoundError,
    ResourceNotModifiedError,
    StreamClosedError,
    StreamConsumedError,
    map_error,
)
from azure.core.pipeline import PipelineResponse
from azure.core.polling import LROPoller, NoPolling, PollingMethod
from azure.core.polling.base_polling import LROBasePolling
from azure.core.rest import HttpRequest, HttpResponse
from azure.core.tracing.decorator import distributed_trace
from azure.core.utils import case_insensitive_dict

from .._configuration import ConversationAnalysisClientConfiguration
from .._utils.serialization import Serializer
from .._utils.utils import ClientMixinABC

JSON = MutableMapping[str, Any]
T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, dict[str, Any]], Any]]

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_conversation_analysis_analyze_conversation_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-04-01"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/:analyze-conversations"

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_conversation_analysis_conversation_analysis_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    api_version: str = kwargs.pop("api_version", _params.pop("api-version", "2023-04-01"))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/analyze-conversations/jobs"

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


class _ConversationAnalysisClientOperationsMixin(
    ClientMixinABC[PipelineClient[HttpRequest, HttpResponse], ConversationAnalysisClientConfiguration]
):

    @overload
    def analyze_conversation(self, task: JSON, *, content_type: str = "application/json", **kwargs: Any) -> JSON:
        """Analyzes the input conversation utterance.

        See
        https://learn.microsoft.com/rest/api/language/2023-04-01/conversation-analysis-runtime/analyze-conversation
        for more information.

        :param task: A single conversational task to execute. Required.
        :type task: JSON
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # The input is polymorphic. The following are possible polymorphic inputs based off
                  discriminator "kind":

                # JSON input template for discriminator value "Conversation":
                analyze_conversation_task = {
                    "analysisInput": {
                        "conversationItem": {
                            "id": "str",
                            "participantId": "str",
                            "language": "str",
                            "modality": "str",
                            "role": "str"
                        }
                    },
                    "kind": "Conversation",
                    "parameters": {
                        "deploymentName": "str",
                        "projectName": "str",
                        "directTarget": "str",
                        "isLoggingEnabled": bool,
                        "stringIndexType": "TextElements_v8",
                        "targetProjectParameters": {
                            "str": analysis_parameters
                        },
                        "verbose": bool
                    }
                }

                # JSON input template you can fill out and use as your body input.
                task = analyze_conversation_task

                # The response is polymorphic. The following are possible polymorphic responses based
                  off discriminator "kind":

                # JSON input template for discriminator value "ConversationResult":
                analyze_conversation_task_result = {
                    "kind": "ConversationResult",
                    "result": {
                        "prediction": base_prediction,
                        "query": "str",
                        "detectedLanguage": "str"
                    }
                }

                # JSON input template for discriminator value "Conversation":
                base_prediction = {
                    "entities": [
                        {
                            "category": "str",
                            "confidenceScore": 0.0,
                            "length": 0,
                            "offset": 0,
                            "text": "str",
                            "extraInformation": [
                                base_extra_information
                            ],
                            "resolutions": [
                                base_resolution
                            ]
                        }
                    ],
                    "intents": [
                        {
                            "category": "str",
                            "confidenceScore": 0.0
                        }
                    ],
                    "projectKind": "Conversation",
                    "topIntent": "str"
                }

                # JSON input template for discriminator value "Orchestration":
                base_prediction = {
                    "intents": {
                        "str": target_intent_result
                    },
                    "projectKind": "Orchestration",
                    "topIntent": "str"
                }

                # response body for status code(s): 200
                response == analyze_conversation_task_result
        """

    @overload
    def analyze_conversation(self, task: IO[bytes], *, content_type: str = "application/json", **kwargs: Any) -> JSON:
        """Analyzes the input conversation utterance.

        See
        https://learn.microsoft.com/rest/api/language/2023-04-01/conversation-analysis-runtime/analyze-conversation
        for more information.

        :param task: A single conversational task to execute. Required.
        :type task: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # The response is polymorphic. The following are possible polymorphic responses based
                  off discriminator "kind":

                # JSON input template for discriminator value "ConversationResult":
                analyze_conversation_task_result = {
                    "kind": "ConversationResult",
                    "result": {
                        "prediction": base_prediction,
                        "query": "str",
                        "detectedLanguage": "str"
                    }
                }

                # JSON input template for discriminator value "Conversation":
                base_prediction = {
                    "entities": [
                        {
                            "category": "str",
                            "confidenceScore": 0.0,
                            "length": 0,
                            "offset": 0,
                            "text": "str",
                            "extraInformation": [
                                base_extra_information
                            ],
                            "resolutions": [
                                base_resolution
                            ]
                        }
                    ],
                    "intents": [
                        {
                            "category": "str",
                            "confidenceScore": 0.0
                        }
                    ],
                    "projectKind": "Conversation",
                    "topIntent": "str"
                }

                # JSON input template for discriminator value "Orchestration":
                base_prediction = {
                    "intents": {
                        "str": target_intent_result
                    },
                    "projectKind": "Orchestration",
                    "topIntent": "str"
                }

                # response body for status code(s): 200
                response == analyze_conversation_task_result
        """

    @distributed_trace
    def analyze_conversation(self, task: Union[JSON, IO[bytes]], **kwargs: Any) -> JSON:
        """Analyzes the input conversation utterance.

        See
        https://learn.microsoft.com/rest/api/language/2023-04-01/conversation-analysis-runtime/analyze-conversation
        for more information.

        :param task: A single conversational task to execute. Is either a JSON type or a IO[bytes]
         type. Required.
        :type task: JSON or IO[bytes]
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # The input is polymorphic. The following are possible polymorphic inputs based off
                  discriminator "kind":

                # JSON input template for discriminator value "Conversation":
                analyze_conversation_task = {
                    "analysisInput": {
                        "conversationItem": {
                            "id": "str",
                            "participantId": "str",
                            "language": "str",
                            "modality": "str",
                            "role": "str"
                        }
                    },
                    "kind": "Conversation",
                    "parameters": {
                        "deploymentName": "str",
                        "projectName": "str",
                        "directTarget": "str",
                        "isLoggingEnabled": bool,
                        "stringIndexType": "TextElements_v8",
                        "targetProjectParameters": {
                            "str": analysis_parameters
                        },
                        "verbose": bool
                    }
                }

                # JSON input template you can fill out and use as your body input.
                task = analyze_conversation_task

                # The response is polymorphic. The following are possible polymorphic responses based
                  off discriminator "kind":

                # JSON input template for discriminator value "ConversationResult":
                analyze_conversation_task_result = {
                    "kind": "ConversationResult",
                    "result": {
                        "prediction": base_prediction,
                        "query": "str",
                        "detectedLanguage": "str"
                    }
                }

                # JSON input template for discriminator value "Conversation":
                base_prediction = {
                    "entities": [
                        {
                            "category": "str",
                            "confidenceScore": 0.0,
                            "length": 0,
                            "offset": 0,
                            "text": "str",
                            "extraInformation": [
                                base_extra_information
                            ],
                            "resolutions": [
                                base_resolution
                            ]
                        }
                    ],
                    "intents": [
                        {
                            "category": "str",
                            "confidenceScore": 0.0
                        }
                    ],
                    "projectKind": "Conversation",
                    "topIntent": "str"
                }

                # JSON input template for discriminator value "Orchestration":
                base_prediction = {
                    "intents": {
                        "str": target_intent_result
                    },
                    "projectKind": "Orchestration",
                    "topIntent": "str"
                }

                # response body for status code(s): 200
                response == analyze_conversation_task_result
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[JSON] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(task, (IOBase, bytes)):
            _content = task
        else:
            _json = task

        _request = build_conversation_analysis_analyze_conversation_request(
            content_type=content_type,
            api_version=self._config.api_version,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        path_format_arguments = {
            "Endpoint": self._serialize.url("self._config.endpoint", self._config.endpoint, "str", skip_quote=True),
        }
        _request.url = self._client.format_url(_request.url, **path_format_arguments)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        if response.content:
            deserialized = response.json()
        else:
            deserialized = None

        if cls:
            return cls(pipeline_response, cast(JSON, deserialized), {})  # type: ignore

        return cast(JSON, deserialized)  # type: ignore

    def _conversation_analysis_initial(self, task: Union[JSON, IO[bytes]], **kwargs: Any) -> Iterator[bytes]:
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[Iterator[bytes]] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(task, (IOBase, bytes)):
            _content = task
        else:
            _json = task

        _request = build_conversation_analysis_conversation_analysis_request(
            content_type=content_type,
            api_version=self._config.api_version,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        path_format_arguments = {
            "Endpoint": self._serialize.url("self._config.endpoint", self._config.endpoint, "str", skip_quote=True),
        }
        _request.url = self._client.format_url(_request.url, **path_format_arguments)

        _stream = True
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200, 202]:
            try:
                response.read()  # Load the body in memory and close the socket
            except (StreamConsumedError, StreamClosedError):
                pass
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        response_headers = {}
        if response.status_code == 202:
            response_headers["Operation-Location"] = self._deserialize(
                "str", response.headers.get("Operation-Location")
            )

        deserialized = response.iter_bytes()

        if cls:
            return cls(pipeline_response, cast(Iterator[bytes], deserialized), response_headers)  # type: ignore

        return cast(Iterator[bytes], deserialized)  # type: ignore

    @overload
    def begin_conversation_analysis(
        self, task: JSON, *, content_type: str = "application/json", **kwargs: Any
    ) -> LROPoller[JSON]:
        """Submit analysis job for conversations.

        Submit a collection of conversations for analysis. Specify one or more unique tasks to be
        executed.

        See https://learn.microsoft.com/rest/api/language/2023-04-01/analyze-conversation/submit-job
        for more information.

        :param task: Collection of conversations to analyze and one or more tasks to execute. Required.
        :type task: JSON
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: An instance of LROPoller that returns JSON object
        :rtype: ~azure.core.polling.LROPoller[JSON]
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # JSON input template you can fill out and use as your body input.
                task = {
                    "analysisInput": {
                        "conversations": [
                            conversation
                        ]
                    },
                    "tasks": [
                        analyze_conversation_lro_task
                    ],
                    "displayName": "str"
                }

                # response body for status code(s): 200
                response == {
                    "createdDateTime": "2020-02-20 00:00:00",
                    "jobId": "str",
                    "lastUpdatedDateTime": "2020-02-20 00:00:00",
                    "status": "str",
                    "tasks": {
                        "completed": 0,
                        "failed": 0,
                        "inProgress": 0,
                        "total": 0,
                        "items": [
                            analyze_conversation_job_result
                        ]
                    },
                    "displayName": "str",
                    "errors": [
                        {
                            "code": "str",
                            "message": "str",
                            "details": [
                                ...
                            ],
                            "innererror": {
                                "code": "str",
                                "message": "str",
                                "details": {
                                    "str": "str"
                                },
                                "innererror": ...,
                                "target": "str"
                            },
                            "target": "str"
                        }
                    ],
                    "expirationDateTime": "2020-02-20 00:00:00",
                    "nextLink": "str",
                    "statistics": {
                        "conversationsCount": 0,
                        "documentsCount": 0,
                        "erroneousConversationsCount": 0,
                        "erroneousDocumentsCount": 0,
                        "transactionsCount": 0,
                        "validConversationsCount": 0,
                        "validDocumentsCount": 0
                    }
                }
        """

    @overload
    def begin_conversation_analysis(
        self, task: IO[bytes], *, content_type: str = "application/json", **kwargs: Any
    ) -> LROPoller[JSON]:
        """Submit analysis job for conversations.

        Submit a collection of conversations for analysis. Specify one or more unique tasks to be
        executed.

        See https://learn.microsoft.com/rest/api/language/2023-04-01/analyze-conversation/submit-job
        for more information.

        :param task: Collection of conversations to analyze and one or more tasks to execute. Required.
        :type task: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: An instance of LROPoller that returns JSON object
        :rtype: ~azure.core.polling.LROPoller[JSON]
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # response body for status code(s): 200
                response == {
                    "createdDateTime": "2020-02-20 00:00:00",
                    "jobId": "str",
                    "lastUpdatedDateTime": "2020-02-20 00:00:00",
                    "status": "str",
                    "tasks": {
                        "completed": 0,
                        "failed": 0,
                        "inProgress": 0,
                        "total": 0,
                        "items": [
                            analyze_conversation_job_result
                        ]
                    },
                    "displayName": "str",
                    "errors": [
                        {
                            "code": "str",
                            "message": "str",
                            "details": [
                                ...
                            ],
                            "innererror": {
                                "code": "str",
                                "message": "str",
                                "details": {
                                    "str": "str"
                                },
                                "innererror": ...,
                                "target": "str"
                            },
                            "target": "str"
                        }
                    ],
                    "expirationDateTime": "2020-02-20 00:00:00",
                    "nextLink": "str",
                    "statistics": {
                        "conversationsCount": 0,
                        "documentsCount": 0,
                        "erroneousConversationsCount": 0,
                        "erroneousDocumentsCount": 0,
                        "transactionsCount": 0,
                        "validConversationsCount": 0,
                        "validDocumentsCount": 0
                    }
                }
        """

    @distributed_trace
    def begin_conversation_analysis(self, task: Union[JSON, IO[bytes]], **kwargs: Any) -> LROPoller[JSON]:
        """Submit analysis job for conversations.

        Submit a collection of conversations for analysis. Specify one or more unique tasks to be
        executed.

        See https://learn.microsoft.com/rest/api/language/2023-04-01/analyze-conversation/submit-job
        for more information.

        :param task: Collection of conversations to analyze and one or more tasks to execute. Is either
         a JSON type or a IO[bytes] type. Required.
        :type task: JSON or IO[bytes]
        :return: An instance of LROPoller that returns JSON object
        :rtype: ~azure.core.polling.LROPoller[JSON]
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # JSON input template you can fill out and use as your body input.
                task = {
                    "analysisInput": {
                        "conversations": [
                            conversation
                        ]
                    },
                    "tasks": [
                        analyze_conversation_lro_task
                    ],
                    "displayName": "str"
                }

                # response body for status code(s): 200
                response == {
                    "createdDateTime": "2020-02-20 00:00:00",
                    "jobId": "str",
                    "lastUpdatedDateTime": "2020-02-20 00:00:00",
                    "status": "str",
                    "tasks": {
                        "completed": 0,
                        "failed": 0,
                        "inProgress": 0,
                        "total": 0,
                        "items": [
                            analyze_conversation_job_result
                        ]
                    },
                    "displayName": "str",
                    "errors": [
                        {
                            "code": "str",
                            "message": "str",
                            "details": [
                                ...
                            ],
                            "innererror": {
                                "code": "str",
                                "message": "str",
                                "details": {
                                    "str": "str"
                                },
                                "innererror": ...,
                                "target": "str"
                            },
                            "target": "str"
                        }
                    ],
                    "expirationDateTime": "2020-02-20 00:00:00",
                    "nextLink": "str",
                    "statistics": {
                        "conversationsCount": 0,
                        "documentsCount": 0,
                        "erroneousConversationsCount": 0,
                        "erroneousDocumentsCount": 0,
                        "transactionsCount": 0,
                        "validConversationsCount": 0,
                        "validDocumentsCount": 0
                    }
                }
        """
        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[JSON] = kwargs.pop("cls", None)
        polling: Union[bool, PollingMethod] = kwargs.pop("polling", True)
        lro_delay = kwargs.pop("polling_interval", self._config.polling_interval)
        cont_token: Optional[str] = kwargs.pop("continuation_token", None)
        if cont_token is None:
            raw_result = self._conversation_analysis_initial(
                task=task, content_type=content_type, cls=lambda x, y, z: x, headers=_headers, params=_params, **kwargs
            )
            raw_result.http_response.read()  # type: ignore
        kwargs.pop("error_map", None)

        def get_long_running_output(pipeline_response):
            response = pipeline_response.http_response
            if response.content:
                deserialized = response.json()
            else:
                deserialized = None
            if cls:
                return cls(pipeline_response, deserialized, {})  # type: ignore
            return deserialized

        path_format_arguments = {
            "Endpoint": self._serialize.url("self._config.endpoint", self._config.endpoint, "str", skip_quote=True),
        }

        if polling is True:
            polling_method: PollingMethod = cast(
                PollingMethod, LROBasePolling(lro_delay, path_format_arguments=path_format_arguments, **kwargs)
            )
        elif polling is False:
            polling_method = cast(PollingMethod, NoPolling())
        else:
            polling_method = polling
        if cont_token:
            return LROPoller[JSON].from_continuation_token(
                polling_method=polling_method,
                continuation_token=cont_token,
                client=self._client,
                deserialization_callback=get_long_running_output,
            )
        return LROPoller[JSON](self._client, raw_result, get_long_running_output, polling_method)  # type: ignore
