interactions:
- request:
    body: '{"location": "westus", "tags": {"tag1": "value1", "tag2": "value2"}, "sku":
      {"name": "Standard"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasenamespace?api-version=2017-04-01
  response:
    body: {string: '{"sku":{"name":"Standard","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasenamespace","name":"testingpythontestcasenamespace","type":"Microsoft.ServiceBus/Namespaces","location":"West
        US","tags":{"tag1":"value1","tag2":"value2"},"properties":{"provisioningState":"Created","metricId":"00000000-0000-0000-0000-000000000000:testingpythontestcasenamespace","createdAt":"2018-04-21T00:27:30.67Z","updatedAt":"2018-04-21T00:27:30.67Z","serviceBusEndpoint":"https://testingpythontestcasenamespace.servicebus.windows.net:443/","status":"Activating"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces?api-version=2017-04-01
  response:
    body: {string: '{"value":[{"sku":{"name":"Standard","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasenamespace","name":"testingpythontestcasenamespace","type":"Microsoft.ServiceBus/Namespaces","location":"West
        US","tags":{"tag1":"value1","tag2":"value2"},"properties":{"provisioningState":"Succeeded","metricId":"00000000-0000-0000-0000-000000000000:testingpythontestcasenamespace","createdAt":"2018-04-21T00:27:30.67Z","updatedAt":"2018-04-21T00:27:54.417Z","serviceBusEndpoint":"https://testingpythontestcasenamespace.servicebus.windows.net:443/","status":"Active"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/namespaces?api-version=2017-04-01
  response:
    body: {string: "{\"value\":[{\"sku\":{\"name\":\"Standard\",\"tier\":\"Standard\"\
        },\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-ServiceBus-WestEurope/providers/Microsoft.Se[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasenamespace/AuthorizationRules/RootManageSharedAccessKey?api-version=2017-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasenamespace/AuthorizationRules/RootManageSharedAccessKey","name":"RootManageSharedAccessKey","type":"","location":"West
        US","properties":{"rights":["Listen","Manage","Send"]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"rights": ["Send", "Listen"]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasenamespace/AuthorizationRules/testingauthrulepy?api-version=2017-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasenamespace/AuthorizationRules/testingauthrulepy","name":"testingauthrulepy","type":"","location":"West
        US","properties":{"rights":["Send","Listen"]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasenamespace/AuthorizationRules?api-version=2017-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasenamespace/AuthorizationRules/RootManageSharedAccessKey","name":"RootManageSharedAccessKey","type":"","location":"West
        US","properties":{"rights":["Listen","Manage","Send"]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasenamespace/AuthorizationRules/testingauthrulepy","name":"testingauthrulepy","type":"","location":"West
        US","properties":{"rights":["Send","Listen","Manage"]}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasenamespace/AuthorizationRules/testingauthrulepy/listKeys?api-version=2017-04-01
  response:
    body: {string: '{"primaryConnectionString":"Endpoint=sb://testingpythontestcasenamespace.servicebus.windows.net/;SharedAccessKeyName=testingauthrulepy;SharedAccessKey=kZTROPc/pT8xeE6Zte7GxldXVbkb5Vso/OBxJ950+lg=","secondaryConnectionString":"Endpoint=sb://testingpythontestcasenamespace.servicebus.windows.net/;SharedAccessKeyName=testingauthrulepy;SharedAccessKey=iN+3Fy9mWI5a8T0A3y2k94ASOMlDBF8TED/4NG1gMnY=","primaryKey":"kZTROPc/pT8xeE6Zte7GxldXVbkb5Vso/OBxJ950+lg=","secondaryKey":"iN+3Fy9mWI5a8T0A3y2k94ASOMlDBF8TED/4NG1gMnY=","keyName":"testingauthrulepy"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: '{"keyType": "PrimaryKey"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasenamespace/AuthorizationRules/testingauthrulepy/regenerateKeys?api-version=2017-04-01
  response:
    body: {string: '{"primaryConnectionString":"Endpoint=sb://testingpythontestcasenamespace.servicebus.windows.net/;SharedAccessKeyName=testingauthrulepy;SharedAccessKey=6E6NfG2hkSM+iG9aMVV7+hanwVU6irnocBWR2UVSQek=","secondaryConnectionString":"Endpoint=sb://testingpythontestcasenamespace.servicebus.windows.net/;SharedAccessKeyName=testingauthrulepy;SharedAccessKey=iN+3Fy9mWI5a8T0A3y2k94ASOMlDBF8TED/4NG1gMnY=","primaryKey":"6E6NfG2hkSM+iG9aMVV7+hanwVU6irnocBWR2UVSQek=","secondaryKey":"iN+3Fy9mWI5a8T0A3y2k94ASOMlDBF8TED/4NG1gMnY=","keyName":"testingauthrulepy"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      server-sb: [Service-Bus-Resource-Provider/CH3]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_azure_mgmt_servicebus_namespace_test_sb_namespace_curdde57183c/providers/Microsoft.ServiceBus/namespaces/testingpythontestcasenamespace/operationresults/testingpythontestcasenamespace?api-version=2017-04-01
  response:
    body: {string: ''}
    headers:
      server-sb: [Service-Bus-Resource-Provider/CH3]
    status: {code: 200, message: OK}
version: 1
