omitted_paths:
  - eng/*
  - tools/*
  - scripts/*
  - azure-mgmt-netapp/tests/*
  - sdk/*/azure-mgmt*/*
  - sdk/keyvault/azure-keyvault/*
  - doc/*
  - sdk/**/samples/*
  - sdk/identity/azure-identity/tests/*
  - sdk/**/tests/perfstress_tests/*
  - sdk/nspkg/*
  - sdk/**/swagger/*

language: python
root_check_enabled: True
required_readme_sections:
  - ^Azure (.+ client library for Python|Smoke Test for Python)
  - ^Getting started$
  - ^Key concepts$
  - ^Examples$
  - ^Troubleshooting$
  - ^Next steps$
  - ^Contributing$

known_presence_issues:
  - ['HISTORY.rst','#4554']
  - ['sdk/template/azure-template/HISTORY.rst','#4554']
  # Converted from README.rst to README.md
  - ['sdk/batch/azure-batch/README.md', '#4554']
  - ['sdk/core/azure-common/README.md', '#4554']
  - ['sdk/core/azure/README.md', '#4554']
  - ['sdk/core/azure-servicemanagement-legacy/README.md', '#4554']
  - ['sdk/servicebus/azure-servicebus/README.md', '#4554']

known_content_issues:
  # data plane. common issue filed to azure-sdk-for-python
  - ['README.rst', '#4554']
  - ['sdk/synapse/azure-synapse/README.md', '#4554']
  - ['sdk/synapse/azure-synapse-accesscontrol/README.md', '#4554']
  - ['sdk/synapse/azure-synapse-spark/README.md', '#4554']
  - ['sdk/synapse/azure-synapse-artifacts/README.md', '#4554']
  - ['sdk/synapse/azure-synapse-monitoring/README.md', '#4554']
  - ['sdk/synapse/azure-synapse-managedprivateendpoints/README.md', '#4554']
  - ['sdk/anomalydetector/azure-ai-anomalydetector/README.md', '#4554']
  - ['sdk/metricsadvisor/azure-ai-metricsadvisor/README.md', '#4554']
  - ['sdk/applicationinsights/azure-applicationinsights/README.md', '#4554']
  - ['sdk/batch/azure-batch/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-anomalydetector/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-formrecognizer/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-knowledge-qnamaker/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-language-luis/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-language-spellcheck/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-personalizer/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-search-autosuggest/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-search-customimagesearch/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-search-customsearch/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-search-entitysearch/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-search-imagesearch/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-search-newssearch/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-search-videosearch/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-search-visualsearch/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-search-websearch/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-vision-computervision/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-vision-contentmoderator/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-vision-customvision/README.md', '#4554']
  - ['sdk/cognitiveservices/azure-cognitiveservices-vision-face/README.md', '#4554']
  - ['sdk/core/azure/README.md', '#4554']
  - ['sdk/core/azure-common/README.md', '#4554']
  - ['sdk/core/azure-servicemanagement-legacy/README.md', '#4554']
  - ['sdk/eventgrid/azure-eventgrid/README.md', '#4554']
  - ['sdk/monitor/azure-monitor-query/README.md', '#4554']
  - ['sdk/monitor/azure-monitor-query/samples/README.md', '#4554']
  - ['sdk/graphrbac/azure-graphrbac/README.md', '#4554']
  - ['sdk/loganalytics/azure-loganalytics/README.md', '#4554']
  - ['sdk/servicebus/azure-servicebus/README.md', '#4554']
  - ['sdk/servicebus/azure-servicebus/tests/perf_tests/README.md', '#4554']
  - ['sdk/servicebus/azure-servicebus/stress/scripts/README.md', '#4554']
  - ['sdk/servicefabric/azure-servicefabric/README.md', '#4554']
  - ['sdk/storage/azure-storage-blob/swagger/README.md', '#4554']
  - ['cognitivelanguage/azure-ai-language-questionanswering/swagger/README.md', '#4554']
  - ['sdk/storage/azure-storage-file-datalake/swagger/README.md', '#4554']
  - ['sdk/storage/azure-storage-file-share/swagger/README.md', '#4554']
  - ['sdk/storage/azure-storage/README.md', '#4554']
  - ['sdk/storage/azure-storage-queue/swagger/README.md', '#4554']
  - ['sdk/storage/README.md', '#4554']
  - ['sdk/textanalytics/azure-ai-textanalytics/samples/README.md', '#4554']
  - ['sdk/monitor/azure-monitor-opentelemetry-exporter/README.md', '#4554']
  - ['sdk/monitor/azure-monitor/README.md', '#4554']
  - ['sdk/digitaltwins/azure-digitaltwins-core/swagger/README.md', '#4554']
  - ['sdk/textanalytics/azure-ai-textanalytics/swagger/README.md', '#4554']
  - ['sdk/translation/azure-ai-translation-document/swagger/README.md', '#4554']
  - ['sdk/purview/azure-purview-catalog/swagger/README.md',  '#4554']
  - ['sdk/purview/azure-purview-scanning/swagger/README.md',  '#4554']
  - ['sdk/agrifood/azure-agrifood-farming/swagger/README.md',  '#4554']
  - ['sdk/purview/azure-purview-account/swagger/README.md', '#4554']
  - ['sdk/purview/azure-purview-administration/swagger/README.md', '#4554']
  - ['sdk/containerregistry/azure-containerregistry/swagger/README.md', '#4554']
  - ['sdk/appconfiguration/azure-appconfiguration/swagger/README.md', '#4554']
  - ['sdk/attestation/azure-security-attestation/swagger/README.md', '#4554']
  - ['sdk/core/azure-core/tests/testserver_tests/coretestserver/README.rst', '#4554']
  - ['sdk/media/azure-media-analytics-edge/README.md', '#4554']
  - ['sdk/remoterendering/azure-mixedreality-remoterendering/README.md', '#4554']
  - ['sdk/modelsrepository/azure-iot-modelsrepository/README.md', '#4554']

  # common.
  - ['sdk/appconfiguration/azure-appconfiguration/README.md', 'common']
  - ['sdk/appconfiguration/azure-appconfiguration/samples/README.md', 'common']
  - ['sdk/core/azure/README.rst', 'common']
  - ['sdk/core/azure-common/README.rst', 'common']
  - ['sdk/core/azure-core/README.md', 'common']
  - ['sdk/core/azure-core/samples/README.md', 'common']
  - ['sdk/search/azure-search-documents/README.md', 'common']
  - ['sdk/storage/azure-storage-blob/samples/README.md', 'common']
  - ['sdk/storage/azure-storage-file-datalake/samples/README.md', 'common']
  - ['sdk/storage/azure-storage-blob-changefeed/samples/README.md', 'common']
  - ['sdk/storage/azure-storage-file-share/samples/README.md', 'common']
  - ['sdk/storage/azure-storage-queue/samples/README.md', 'common']
  - ['sdk/eventhub/azure-eventhub/samples/README.md', 'common']
  - ['sdk/cosmos/README.md', 'common']
  - ['sdk/iot/azure-iot-nspkg/README.md', 'common']
  # HISTORY.rst
  - ['sdk/core/azure/HISTORY.rst','nspkg and common']
  - ['sdk/digitaltwins/azure-digitaltwins-nspkg/README.md', 'nspkg and common']
  - ['sdk/nspkg/azure-messaging-nspkg/README.md', '#4554']
  - ['sdk/signalr/azure-mgmt-signalr/README.md', '#4554']
  - ['sdk/webpubsub/azure-messaging-webpubsubservice/README.md', '#4554']
  # root readme
  - ['README.md', 'root readme']

  # dev tools
  - ['doc/dev/mgmt/swagger/single_api/readme.md', 'dev readme']
  - ['doc/dev/mgmt/swagger/multi_api/readme.md', 'dev readme']
  - ['doc/dev/mgmt/README.md', 'dev readme']
  - ['doc/dev/README.md', dev readme']
  - ['doc/README.md', 'dev readme']

  # swagger files
  - ['sdk/schemaregistry/azure-schemaregistry/swagger/README.md', '#4554']
  - ['sdk/servicebus/azure-servicebus/swagger/README.md', '#4554']
  - ['sdk/storage/azure-storage-blob/swagger/README.md', '#4554']
  - ['sdk/storage/azure-storage-file-datalake/swagger/README.md', '#4554']
  - ['sdk/storage/azure-storage-file-share/swagger/README.md', '#4554']
  - ['sdk/storage/azure-storage-queue/swagger/README.md', '#4554']
  - ['sdk/monitor/azure-monitor-opentelemetry-exporter/swagger/README.md', '#4554']
  - ['sdk/digitaltwins/azure-digitaltwins-core/swagger/README.md', '#4554']
  - ['sdk/textanalytics/azure-ai-textanalytics/swagger/README.md', '#4554']
  - ['sdk/appconfiguration/azure-appconfiguration/swagger/README.md', '#4554']
  - ['sdk/core/azure-core/tests/testserver_tests/coretestserver/README.md', '#4554']
package_indexing_exclusion_list:
  - 'azure-sdk-tools'
  - 'azure-template'
