aiohttp>=3.0; python_version >= '3.5'
../../../tools/azure-devtools
../../../tools/azure-sdk-tools
mock;python_version<="2.7"
aiodns>=2.0; python_version >= '3.5'
parameterized>=0.7.3; python_version >= '3.0'

