# install from root of repo
aiohttp>=3.0
tools/azure-devtools
tools/azure-sdk-tools
mock;
aiodns>=2.0
parameterized>=0.7.3
trio
typing_extensions>=3.7.2
cryptography
adal
setuptools==46.4.0
pytest-asyncio==0.12.0
-e sdk/core/azure-core/tests/testserver_tests/coretestserver
