../../keyvault/azure-keyvault-keys # include a package that is pyproject.toml based
tests/testserver_tests/coretestserver
-e tests/testserver_tests/coretestserver
-e ../../identity/azure-identity
../../identity/azure-identity
# random comment that should be ignored
../azure-mgmt-core
-e ../azure-mgmt-core
../../../eng/tools/azure-sdk-tools
-e ../../../eng/tools/azure-sdk-tools
-e .
.