https://docsupport.blob.core.windows.net/repackaged/cffi-1.15.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl; python_version >= '3.12'
https://docsupport.blob.core.windows.net/repackaged/aiohttp-4.0.0a2.dev0-cp312-cp312-linux_x86_64.whl; python_version >= '3.12'
git+https://github.com/AzureAD/microsoft-authentication-library-for-python@dev