interactions:
- request:
    body: '{"location": "West US", "properties": {"definition": {"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "triggers": {}, "actions": {},
      "outputs": {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_apps_test_logic86a60a43/providers/Microsoft.Logic/workflows/12HourHeartBeat?api-version=2019-05-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","createdTime":"2020-12-18T03:32:25.3503734Z","changedTime":"2020-12-18T03:32:25.3500176Z","state":"Enabled","version":"08585933445401590634","accessEndpoint":"https://prod-82.westus.logic.azure.com:443/workflows/af955dc041174ebebfbfc4f4852a9c32","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{},"triggers":{},"actions":{},"outputs":{}},"parameters":{},"endpointsConfiguration":{"workflow":{"outgoingIpAddresses":[{"address":"52.160.92.112"},{"address":"40.118.244.241"},{"address":"40.118.241.243"},{"address":"157.56.162.53"},{"address":"157.56.167.147"},{"address":"104.42.49.145"},{"address":"40.83.164.80"},{"address":"104.42.38.32"}],"accessEndpointIpAddresses":[{"address":"52.160.90.237"},{"address":"138.91.188.137"},{"address":"13.91.252.184"},{"address":"157.56.160.212
        "}]},"connector":{"outgoingIpAddresses":[{"address":"40.112.243.160/28"},{"address":"104.40.51.248"},{"address":"104.42.122.49"},{"address":"40.112.195.87"},{"address":"13.93.148.62"}]}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_apps_test_logic86a60a43/providers/Microsoft.Logic/workflows/12HourHeartBeat","name":"12HourHeartBeat","type":"Microsoft.Logic/workflows","location":"West
        US"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
