interactions:
- request:
    body: '{"location": "West US", "properties": {"definition": {"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "triggers": {}, "actions": {},
      "outputs": {}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_apps_test_logic86a60a43/providers/Microsoft.Logic/workflows/12HourHeartBeat?api-version=2018-07-01-preview
  response:
    body: {string: '{"properties":{"provisioningState":"Succeeded","createdTime":"2018-12-10T21:44:59.8075127Z","changedTime":"2018-12-10T21:44:59.793436Z","state":"Enabled","version":"08586571285857002143","accessEndpoint":"https://prod-39.westus.logic.azure.com:443/workflows/c16d097f07b74d8d845e4d08e4b96b87","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{},"triggers":{},"actions":{},"outputs":{}},"parameters":{},"endpointsConfiguration":{"workflow":{"outgoingIpAddresses":[{"address":"52.160.92.112"},{"address":"40.118.244.241"},{"address":"40.118.241.243"},{"address":"157.56.162.53"},{"address":"157.56.167.147"},{"address":"104.42.49.145"},{"address":"40.83.164.80"},{"address":"104.42.38.32"}],"accessEndpointIpAddresses":[{"address":"52.160.90.237"},{"address":"138.91.188.137"},{"address":"13.91.252.184"},{"address":"157.56.160.212
        "}]},"connector":{"outgoingIpAddresses":[{"address":"104.40.51.248"}]}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_apps_test_logic86a60a43/providers/Microsoft.Logic/workflows/12HourHeartBeat","name":"12HourHeartBeat","type":"Microsoft.Logic/workflows","location":"West
        US"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
version: 1
