interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations?api-version=2017-04-19
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations/3733dec6-65bd-f94e-2917-45429da0a155","name":"3733dec6-65bd-f94e-2917-45429da0a155","properties":{"category":"Security","impact":"High","impactedField":"","impactedValue":"","lastUpdated":"2018-01-16T21:44:23.5133404Z","risk":"None","shortDescription":{"problem":"Improve
        the security of your Azure resources","solution":"Follow Security Center recommendations"}},"type":"Microsoft.Advisor/recommendations"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations/f2a42c50-9f22-efad-fe71-06b6ee4a619a","name":"f2a42c50-9f22-efad-fe71-06b6ee4a619a","properties":{"category":"Security","impact":"High","impactedField":"","impactedValue":"","lastUpdated":"2018-01-16T21:44:23.5133404Z","risk":"None","shortDescription":{"problem":"Improve
        the security of your Azure resources","solution":"Follow Security Center recomme[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/%2Fsubscriptions%2F00000000-0000-0000-0000-000000000000%2FresourceGroups%2Fxiaoyuh-dev%2Fproviders%2FMicrosoft.Network%2FexpressRouteCircuits%2Ftest/providers/Microsoft.Advisor/recommendations/f72c4f2b-596b-746e-de95-f25a1d3276c9?api-version=2017-04-19
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/xiaoyuh-dev/providers/Microsoft.Network/expressRouteCircuits/test/providers/Microsoft.Advisor/recommendations/f72c4f2b-596b-746e-de95-f25a1d3276c9","name":"f72c4f2b-596b-746e-de95-f25a1d3276c9","properties":{"description":"We
        noticed that your ExpressRoute circuit is in the provider status of Not Provisioned
        for more than one month. This circuit is currently billed hourly to your subscription.
        We recommend that you delete the circuit if you aren''t planning to provision
        the circuit with your connectivity provider.","label":"Delete ExpressRoute
        circuit in Not Provisioned state","learnMoreLink":"https://aka.ms/expressroute","potentialBenefits":"Cost
        savings","category":"Cost","impact":"Medium","impactedField":"Microsoft.Network/expressRouteCircuits","impactedValue":"test","lastUpdated":"2018-01-16T18:27:19.4852364Z","risk":"None","shortDescription":{"problem":"Your
        ExpressRoute circuit is in the provider status of Not Provisioned for more
        than one month","solution":"Delete ExpressRoute circuits in the provider status
        of Not Provisioned"}},"type":"Microsoft.Advisor/recommendations"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['599']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"ttl": "00:01:00:00"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/%2Fsubscriptions%2F00000000-0000-0000-0000-000000000000%2FresourceGroups%2Fxiaoyuh-dev%2Fproviders%2FMicrosoft.Network%2FexpressRouteCircuits%2Ftest/providers/Microsoft.Advisor/recommendations/f72c4f2b-596b-746e-de95-f25a1d3276c9/suppressions/Python_SDK_Test?api-version=2017-04-19
  response:
    body: {string: '{"properties":{"suppressionId":"8aced6b1-5a49-daff-be0e-89ada2bf6bd4","ttl":"00:01:00:00"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/suppressions?api-version=2017-04-19
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['599']
    status: {code: 200, message: OK}
version: 1
