interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations?api-version=2017-04-19-alpha
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations/91bdfc60-2497-540c-ec48-1af7f744bc4a","name":"91bdfc60-2497-540c-ec48-1af7f744bc4a","properties":{"category":"Security","impact":"High","impactedField":"","impactedValue":"","lastUpdated":"2017-11-03T17:41:19.8082668Z","risk":"None","shortDescription":{"problem":"Improve
        the security of your Azure resources","solution":"Follow Security Center recommendations"}},"type":"Microsoft.Advisor/recommendations"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/functionaltest/providers/Microsoft.Compute/virtualMachines/vmnobackup1/providers/Microsoft.Advisor/recommendations/435be9bb-4e13-e4f8-a39a-b262ef623053","name":"435be9bb-4e13-e4f8-a39a-b262ef623053","properties":{"category":"Cost","impact":"High","impactedField":"Microsoft.Compute/virtualMachines","impactedValue":"vmnobackup1","lastUpdated":"2017-11-03T17:41:20.2145536Z","risk":"None","shortDescription":{"problem":"Your
        virtual machine has low usage","solution":"Right-size or shutdown underutilized
        virtual machines"}},"type":"Microsoft.Advisor/recommendations","hardwareDetails":{"resourceId":"y8fx4nayf4ptcckwy6pri8bbx5z4mwufo9ax4nayrti71j3x5pdwtc7y4imyqeyy6a","size":"Standard_D1_v2"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/COSMOSDATA/providers/Microsoft.Compute/virtualMachines/azatestvm/providers/Microsoft.Advisor/recommendations/c06aa5e1-9374-c6d0-241a-f45843cff284","name":"c06aa5e1-9374-c6d0-241a-f45843cff284","properties":{"category":"Security","impact":"High","impactedField":"Microsoft.Compute/virtualMachines","impactedValue":"azatestvm","lastUpdated":"2017-11-03T17:41:19.8082668Z","risk":"None","shortDescription":{"pr[...]
- request:
    body: '{"properties": {"ttl": "00:01:00:00"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/%2Fsubscriptions%2F00000000-0000-0000-0000-000000000000%2FresourceGroups%2Fcosmosdata%2Fproviders%2FMicrosoft.Compute%2FvirtualMachines%2Fazatestvm/providers/Microsoft.Advisor/recommendations/7fa1270c-c43f-03cf-6e13-d6b2de06aa9a/suppressions/Python_SDK_Test?api-version=2017-04-19-alpha
  response:
    body: {string: '{"properties":{"suppressionId":"1f4f2776-477d-3313-f49d-d7daab433b3c","ttl":"00:01:00:00"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/suppressions?api-version=2017-04-19-alpha
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
