interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations?api-version=2017-04-19
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations/8c93b64d-bdcf-0edf-d373-9a4988706e1b","name":"8c93b64d-bdcf-0edf-d373-9a4988706e1b","properties":{"category":"Security","impact":"High","impactedField":"","impactedValue":"","lastUpdated":"2017-11-04T00:15:20.4845586Z","risk":"None","shortDescription":{"problem":"Improve
        the security of your Azure resources","solution":"Follow Security Center recommendations"}},"type":"Microsoft.Advisor/recommendations"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/COSMOSDATA/providers/Microsoft.Compute/virtualMachines/azatestvm/providers/Microsoft.Advisor/recommendations/44025f03-7487-d0e5-2144-51ccb40718e5","name":"44025f03-7487-d0e5-2144-51ccb40718e5","properties":{"category":"Security","impact":"High","impactedField":"Microsoft.Compute/virtualMachines","impactedValue":"azatestvm","lastUpdated":"2017-11-04T00:15:20.4845586Z","risk":"None","shor[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/%2Fsubscriptions%2F00000000-0000-0000-0000-000000000000%2FresourceGroups%2Fcosmosdata%2Fproviders%2FMicrosoft.Compute%2FvirtualMachines%2Fazatestvm/providers/Microsoft.Advisor/recommendations/2ba630b2-9211-5563-a8e1-1319b209c7c4?api-version=2017-04-19
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmosdata/providers/Microsoft.Compute/virtualMachines/azatestvm/providers/Microsoft.Advisor/recommendations/2ba630b2-9211-5563-a8e1-1319b209c7c4","name":"2ba630b2-9211-5563-a8e1-1319b209c7c4","properties":{"description":"Group
        two or more virtual machines in an availability set to ensure at least one
        virtual machine is available during an outage.","label":"Use availability
        sets","learnMoreLink":"http://aka.ms/aa_sivmrec_learnmore","potentialBenefits":"Ensure
        business continuity through virtual machine resilience","category":"HighAvailability","impact":"Medium","impactedField":"Microsoft.Compute/virtualMachines","impactedValue":"azatestvm","lastUpdated":"2017-11-03T22:36:16.806205Z","risk":"None","shortDescription":{"problem":"This
        virtual machine is not configured for fault tolerance","solution":"Use availability
        sets for improved fault tolerance"}},"type":"Microsoft.Advisor/recommendations"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"ttl": "00:01:00:00"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/%2Fsubscriptions%2F00000000-0000-0000-0000-000000000000%2FresourceGroups%2Fcosmosdata%2Fproviders%2FMicrosoft.Compute%2FvirtualMachines%2Fazatestvm/providers/Microsoft.Advisor/recommendations/2ba630b2-9211-5563-a8e1-1319b209c7c4/suppressions/Python_SDK_Test?api-version=2017-04-19
  response:
    body: {string: '{"properties":{"suppressionId":"6b805033-201d-c2da-1532-df4e9840ba92","ttl":"00:01:00:00"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/suppressions?api-version=2017-04-19
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
