interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations?api-version=2017-04-19-alpha
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations/3c4e8f4f-9720-a925-cbfd-c3ff22d27f28","name":"3c4e8f4f-9720-a925-cbfd-c3ff22d27f28","properties":{"category":"Security","impact":"High","impactedField":"","impactedValue":"","lastUpdated":"2017-11-03T21:37:42.4022429Z","risk":"None","shortDescription":{"problem":"Improve
        the security of your Azure resources","solution":"Follow Security Center recommendations"}},"type":"Microsoft.Advisor/recommendations"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/COSMOSDATA/providers/Microsoft.Compute/virtualMachines/azatestvm/providers/Microsoft.Advisor/recommendations/6c5e9e59-69f5-4e64-76f8-0982cb0af1f1","name":"6c5e9e59-69f5-4e64-76f8-0982cb0af1f1","properties":{"category":"Security","impact":"High","impactedField":"Microsoft.Compute/virtualMachines","impactedValue":"azatestvm","lastUpdated":"2017-11-03T21:37:42.4022429Z","risk":"None","shortDescription":{"problem":"Improve
        the security of your Azure resources","solution":"Follow Security Center recommendations"}},"type":"Microsoft.Advisor/recommendations"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/functionaltest/providers/Microsoft.Compute/virtualMachines/vmnobackup1/providers/Microsoft.Advisor/recommendations/0efffb96-e266-6881-1b9c-daede9a09807","name":"0efffb96-e266-6881-1b9c-daede9a09807","properties":{"category":"Cost","impact":"High","impactedField":"Microsoft.Compute/virtualMachines","impactedValue":"vmnobackup1","lastUpdated":"2017-11-03T21:37:42.8553684Z","risk":"None","shortDescription":{"problem":"Your
        virtual machine has low usage","solution":"Right-size or shutdown underutilized
        virtual machines"}},"type":"Microsoft.Advisor/recommendations","hardwareDetails":{"resourceId":"y8fx4nayf4ptcckwy6pri8bbx5z4mwufo9ax4nayrti71j3x5pdwtc7y4imyqeyy6a","size":"Standard_D1_v2"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/FUNCTIONALTEST/providers/Microsoft.Compute/virtualMachines/vmnobackup1/providers/Microsoft.Advisor/recommendations/29a84ffe-8358-0515-cf54-d6fe56432f34","name":"29a84ffe-8358-0515-cf54-d6fe56432f34","properties":{"category":"Security","impact":"High","impactedField":"Microsoft.Compute/virtualMachines","impactedValue":"vmnobackup1","lastUpdated":"2017-11-03T21:37:42.4022429Z","risk":"None","shortDescripti[...]
- request:
    body: '{"properties": {"ttl": "00:01:00:00"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/%2Fsubscriptions%2F00000000-0000-0000-0000-000000000000%2FresourceGroups%2Fcosmosdata%2Fproviders%2FMicrosoft.Compute%2FvirtualMachines%2Fazatestvm/providers/Microsoft.Advisor/recommendations/7c384f9e-95bf-612b-7017-6215dba2c711/suppressions/Python_SDK_Test?api-version=2017-04-19-alpha
  response:
    body: {string: '{"properties":{"suppressionId":"b826b2af-8f30-a734-26d5-1ae44ca41487","ttl":"00:01:00:00"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/suppressions?api-version=2017-04-19-alpha
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
