interactions:
- request:
    body: '{"properties": {"low_cpu_threshold": "20"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/configurations?api-version=2017-04-19
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/configurations?api-version=2017-04-19
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/configurations/00000000-0000-0000-0000-000000000000","type":"Microsoft.Advisor/Configurations","name":"00000000-0000-0000-0000-000000000000","properties":{"low_cpu_threshold":"20","exclude":false}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cosmosdata/providers/Microsoft.Advisor/configurations/00000000-0000-0000-0000-000000000000-cosmosdata","type":"Microsoft.Advisor/Configurations","name":"00000000-0000-0000-0000-000000000000-cosmosdata","properties":{"exclude":false}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/FunctionalTest/providers/Microsoft.Advisor/configurations/00000000-0000-0000-0000-000000000000-FunctionalTest","type":"Microsoft.Advisor/Configurations","name":"00000000-0000-0000-0000-000000000000-FunctionalTest","properties":{"exclude":false}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzExpertStg/providers/Microsoft.Advisor/configurations/00000000-0000-0000-0000-000000000000-AzExpertStg","type":"Microsoft.Advisor/Configurations","name":"00000000-0000-0000-0000-000000000000-AzExpertStg","properties":{"exclude":false}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_advisor_test_configurations_resourcegroup27471558/providers/Microsoft.Advisor/configurations/00000000-0000-0000-0000-000000000000-test_mgmt_advisor_test_configurations_resourcegroup27471558","type":"Microsoft.Advisor/Configurations","name":"00000000-0000-0000-0000-000000000000-test_mgmt_advisor_test_configurations_resourcegroup27471558","properties":{"exclude":false}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
