{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions?api-version=2023-04-01\u0026hash=000000000000000000000000000000000000\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11960",
        "x-ms-response-type": "standard",
        "x-request-time": "0.108"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "682762579124a10c3ff944319a47b8d023ed3ca269ea5550874bdb61d08ff95f",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://sdknotebstoragee77090213.blob.core.windows.net:443/7f206fe8-7-6c774617-32cf-58d8-bc10-4f565c27126c/batch_inference",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2023-04-28T08:57:35.1183123\u002B00:00",
              "createdBy": "Xingzhi Zhang",
              "createdByType": "User",
              "lastModifiedAt": "2023-04-28T08:57:35.1183123\u002B00:00",
              "lastModifiedBy": "Xingzhi Zhang",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_49580125189/versions/0.0.1?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Score images with MNIST image classification model.",
          "properties": {},
          "tags": {
            "Parallel": "",
            "Sample": "",
            "contact": "Microsoft Corporation \u003Cxxx@microsoft.com\u003E",
            "helpDocument": "https://aka.ms/parallel-modules"
          },
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "name": "test_49580125189",
            "description": "Score images with MNIST image classification model.",
            "tags": {
              "Parallel": "",
              "Sample": "",
              "contact": "Microsoft Corporation \u003Cxxx@microsoft.com\u003E",
              "helpDocument": "https://aka.ms/parallel-modules"
            },
            "version": "0.0.1",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/ParallelComponent.json",
            "display_name": "Parallel Score Image Classification with MNIST",
            "inputs": {
              "model_path": {
                "type": "path",
                "description": "Trained MNIST image classification model.",
                "optional": false
              },
              "images_to_score": {
                "type": "path",
                "description": "Images to score.",
                "optional": false
              }
            },
            "outputs": {
              "scored_dataset": {
                "type": "path",
                "description": "Output folder to save scored result."
              }
            },
            "type": "ParallelComponent",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/23ebb661-7845-cc9a-b1da-084f1abaf69e/versions/1",
            "environment": {
              "docker": {
                "image": "mcr.microsoft.com/azureml/openmpi4.1.0-cuda11.8-cudnn8-ubuntu22.04"
              },
              "conda": {
                "conda_dependencies": {
                  "channels": [
                    "defaults"
                  ],
                  "dependencies": [
                    "python=3.7.9",
                    "pip=20.0",
                    {
                      "pip": [
                        "protobuf==3.20.1",
                        "tensorflow==1.15.2",
                        "pillow",
                        "azureml-core",
                        "azureml-dataset-runtime[fuse, pandas]"
                      ]
                    }
                  ],
                  "name": "batch_environment"
                }
              },
              "os": "Linux"
            },
            "parallel": {
              "input_data": "inputs.images_to_score",
              "output_data": "outputs.scored_dataset",
              "entry": "batch_score.py",
              "args": "--model_path {inputs.model_path} --scored_dataset {outputs.scored_dataset}"
            },
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_49580125189/versions/0.0.1?api-version=2022-10-01",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1183",
        "x-ms-response-type": "standard",
        "x-request-time": "1.510"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_49580125189/versions/0.0.1",
        "name": "0.0.1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "Parallel": "",
            "Sample": "",
            "contact": "Microsoft Corporation \u003Cxxx@microsoft.com\u003E",
            "helpDocument": "https://aka.ms/parallel-modules"
          },
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "componentSpec": {
            "$schema": "https://componentsdk.azureedge.net/jsonschema/ParallelComponent.json",
            "name": "test_49580125189",
            "version": "0.0.1",
            "display_name": "Parallel Score Image Classification with MNIST",
            "is_deterministic": "True",
            "type": "ParallelComponent",
            "description": "Score images with MNIST image classification model.",
            "tags": {
              "Parallel": "",
              "Sample": "",
              "contact": "Microsoft Corporation \u003Cxxx@microsoft.com\u003E",
              "helpDocument": "https://aka.ms/parallel-modules"
            },
            "inputs": {
              "model_path": {
                "type": "path",
                "optional": "False",
                "description": "Trained MNIST image classification model.",
                "datastore_mode": "Mount"
              },
              "images_to_score": {
                "type": "path",
                "optional": "False",
                "description": "Images to score.",
                "datastore_mode": "Mount"
              }
            },
            "outputs": {
              "scored_dataset": {
                "type": "path",
                "description": "Output folder to save scored result.",
                "datastore_mode": "Upload"
              }
            },
          [...]
[...]
