interactions:
- request:
    body: '{"trunks": {"test_remove_trunk.com": {"sipSignalingPort": 9876}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.net/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.contoso.com":{"sipSignalingPort":1122},"sbs2.contoso.com":{"sipSignalingPort":8888},"test_remove_trunk.com":{"sipSignalingPort":9876}},"routes":[{"description":"Handle
        all other numbers''''","name":"Updated rule","numberPattern":"\\+[1-9][0-9]{3,23}","trunks":["sbs1.contoso.com","sbs2.contoso.com"]}]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: E8MLEmxhLEmh50kKROzMSA.0
      x-processing-time: 1119ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.net/sip?api-version=2021-05-01-preview
- request:
    body: '{"trunks": {"test_remove_trunk.com": null}}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.net/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.contoso.com":{"sipSignalingPort":1122},"sbs2.contoso.com":{"sipSignalingPort":8888}},"routes":[{"description":"Handle
        all other numbers''''","name":"Updated rule","numberPattern":"\\+[1-9][0-9]{3,23}","trunks":["sbs1.contoso.com","sbs2.contoso.com"]}]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: /KMF+6/pQkyzqXAxk873Ow.0
      x-processing-time: 889ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.net/sip?api-version=2021-05-01-preview
version: 1
