../../core/azure-core
-e ../../../tools/azure-devtools
-e ../../../tools/azure-sdk-tools
-e ../../identity/azure-identity
aiohttp>=3.0; python_version >= '3.5'
aiodns>=2.0; python_version >= '3.5'
msrest>=0.6.10
pytest==5.4.2
tox>=3.20.0
tox-monorepo>=0.1.2
pytest-asyncio==0.12.0
