interactions:
- request:
    body: '[{"reason_code": 204, "extension": "hello", "id": "95811495-b000-4bef-b37b-042b29590046",
      "source": "http://samplesource.dev", "data": "cloudevent", "type": "Sample.Cloud.Event",
      "time": "2020-10-01T23:05:34.508284Z", "specversion": "1.0"}]'
    headers:
      Content-Type:
      - application/cloudevents-batch+json; charset=utf-8
    method: POST
    uri: https://cloudeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: '2018-01-01'
    status:
      code: 200
      message: OK
    url: https://cloudeventgridtestv2tnop.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
version: 1
