interactions:
- request:
    body: '[{"id": "f3a0f201-cc0f-4703-bd2b-d0ad7f442f43", "source": "http://samplesource.dev",
      "data_base64": "Y2xvdWRldmVudA==", "type": "Sample.Cloud.Event", "time": "2020-10-01T17:52:23.719811Z",
      "specversion": "1.0"}]'
    headers:
      Content-Type:
      - application/cloudevents-batch+json; charset=utf-8
    method: POST
    uri: https://cloudeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - '2018-01-01'
    status:
      code: 200
      message: OK
version: 1
