interactions:
- request:
    body: '[{"reason_code": 204, "extension": "extension", "id": "70db4803-6202-4e85-8c0d-0d32243d864d",
      "source": "http://samplesource.dev", "data": "cloudevent", "type": "Sample.Cloud.Event",
      "time": "2020-09-03T21:37:49.229285Z", "specversion": "1.0"}]'
    headers:
      Content-Type:
      - application/cloudevents-batch+json; charset=utf-8
    method: POST
    uri: https://cloudeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: '2018-01-01'
    status:
      code: 200
      message: OK
    url: https://cloudeventgridtestoc4o4l.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
version: 1
