interactions:
- request:
    body: '[{"id": "2894d5e6-f850-4bb2-a6fd-171589deaadc", "source": "http://samplesource.dev",
      "data": "cloudevent", "type": "Sample.Cloud.Event", "time": "2020-10-01T17:57:19.265344Z",
      "specversion": "1.0"}]'
    headers:
      Content-Type:
      - application/cloudevents-batch+json; charset=utf-8
    method: POST
    uri: https://cloudeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: '2018-01-01'
    status:
      code: 200
      message: OK
    url: https://cloudeventgridtest3cgsus.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
version: 1
