{
  "Entries": [
    {
      "RequestUri": "https://customeventgridtestwflcs.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": "[{\u0022customSubject\u0022: \u0022sample\u0022, \u0022customEventType\u0022: \u0022sample.event\u0022, \u0022customDataVersion\u0022: \u00222.0\u0022, \u0022customId\u0022: \u00221234\u0022, \u0022customEventTime\u0022: \u00222021-11-17T20:27:33.014372\u002B00:00\u0022, \u0022customData\u0022: \u0022sample data\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
