{
  "Entries": [
    {
      "RequestUri": "https://cloudeventgridtest7cdw2t.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022id\u0022: \u00221234\u0022, \u0022source\u0022: \u0022http://samplesource.dev\u0022, \u0022specversion\u0022: \u00221.0\u0022, \u0022data\u0022: \u0022cloudevent\u0022, \u0022type\u0022: \u0022Sample.Cloud.Event\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
