interactions:
- request:
    body: '[{"id": "b0cf1bb0-c01f-4bc8-9356-52ad52e49a73", "source": "http://samplesource.dev",
      "type": "Sample.Cloud.Event", "time": "2021-03-09T23:36:15.038105Z", "specversion":
      "1.0"}]'
    headers:
      Content-Type:
      - application/cloudevents-batch+json; charset=utf-8
    method: POST
    uri: https://cloudeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - '2018-01-01'
    status:
      code: 200
      message: OK
version: 1
