interactions:
- request:
    body: '[{"id": "5314829f-df85-4b47-a336-47a851154c65", "subject": "sample", "data":
      {"sample": "0"}, "eventType": "Sample.Event", "eventTime": "2020-07-28T18:49:10.493442Z",
      "dataVersion": "2.0"}]'
    headers:
      Content-Type:
      - application/json
      aeg-sas-key:
      - Upn4lJPorTgDBIvzRWt76KC5H6nfeiSLTx1QILciUYk=
    method: POST
    uri: https://eventgridtestvsm4nzzezwf.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - '2018-01-01'
    status:
      code: 200
      message: OK
version: 1
