{
  "Entries": [
    {
      "RequestUri": "https://eventgridtestbdhdbsm5vpt.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": "[{\u0022id\u0022: \u002236a33e8f-d87e-4f03-8cf8-3cc7f591e1fe\u0022, \u0022subject\u0022: \u0022sample\u0022, \u0022data\u0022: \u0022eventgridevent\u0022, \u0022eventType\u0022: \u0022Sample.EventGrid.Event\u0022, \u0022eventTime\u0022: \u00222021-11-17T20:27:29.724686Z\u0022, \u0022dataVersion\u0022: \u00222.0\u0022}, {\u0022id\u0022: \u00229e05e6c2-e8d7-4def-aacc-1613587ecfb0\u0022, \u0022subject\u0022: \u0022sample2\u0022, \u0022data\u0022: \u0022eventgridevent2\u0022, \u0022eventType\u0022: \u0022Sample.EventGrid.Event\u0022, \u0022eventTime\u0022: \u00222021-11-17T20:27:29.725714Z\u0022, \u0022dataVersion\u0022: \u00222.0\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
