interactions:
- request:
    body: '[{"id": "15dd698a-dfae-4b77-b74a-7ebbda98f3d5", "subject": "sample", "data":
      {"sample": "eventgridevent"}, "eventType": "Sample.EventGrid.Event", "eventTime":
      "2020-09-03T21:37:50.921288Z", "dataVersion": "2.0"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: '2018-01-01'
    status:
      code: 200
      message: OK
    url: https://eventgridtestqagvsp23jey.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
version: 1
