interactions:
- request:
    body: '[{"id": "1234", "source": "http://samplesource.dev", "specversion": "1.0",
      "data": "cloudevent", "type": "Sample.Cloud.Event"}]'
    headers:
      Content-Type:
      - application/cloudevents-batch+json; charset=utf-8
    method: POST
    uri: https://cloudeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: '2018-01-01'
    status:
      code: 200
      message: OK
    url: https://cloudeventgridtestcxhotk.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
version: 1
