interactions:
- request:
    body: '[{"reason_code": 204, "extension": "extension", "id": "20f0e28d-2f8b-4a6c-8db0-2bf2deb7b7a9",
      "source": "http://samplesource.dev", "data": "cloudevent", "type": "Sample.Cloud.Event",
      "time": "2020-09-03T20:53:53.682088Z", "specversion": "1.0"}]'
    headers:
      Content-Type:
      - application/cloudevents-batch+json; charset=utf-8
      aeg-sas-key:
      - V2cEjWSHpLNxHUFGzsDcz5cM1uAluYb4GsvNL4HY3c8=
    method: POST
    uri: https://cloudeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - '2018-01-01'
    status:
      code: 200
      message: OK
version: 1
