{
  "Entries": [
    {
      "RequestUri": "https://cloudeventgridtestuvxcvm.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022id\u0022: \u0022f01e83da-9de8-4cc7-8349-b1272fc80e5a\u0022, \u0022source\u0022: \u0022http://samplesource.dev\u0022, \u0022data\u0022: {\u0022sample\u0022: \u0022cloudevent\u0022}, \u0022type\u0022: \u0022Sample.Cloud.Event\u0022, \u0022time\u0022: \u00222021-11-17T20:27:30.743931Z\u0022, \u0022specversion\u0022: \u00221.0\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
