interactions:
- request:
    body: '[{"id": "ca8e20bf-c5d4-4b40-bc23-bf2215991d46", "source": "http://samplesource.dev",
      "data": "cloudevent", "type": "Sample.Cloud.Event", "time": "2020-10-01T23:05:02.358824Z",
      "specversion": "1.0"}]'
    headers:
      Content-Type:
      - application/cloudevents-batch+json; charset=utf-8
    method: POST
    uri: https://cloudeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - '2018-01-01'
    status:
      code: 200
      message: OK
version: 1
