{
  "Entries": [
    {
      "RequestUri": "https://cloudeventgridtest3ebt25.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022id\u0022: \u002287844349-ad69-45a8-abe0-f68c3df8f1a6\u0022, \u0022source\u0022: \u0022http://samplesource.dev\u0022, \u0022type\u0022: \u0022Sample.Cloud.Event\u0022, \u0022time\u0022: \u00222022-01-08T23:49:39.2058Z\u0022, \u0022specversion\u0022: \u00221.0\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
