interactions:
- request:
    body: '[{"id": "ce003f4e-780a-45c5-ae78-5269a4d1dafa", "subject": "sample", "data":
      "eventgridevent", "eventType": "Sample.EventGrid.Event", "eventTime": "2020-10-01T21:07:41.59204Z",
      "dataVersion": "2.0"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - '2018-01-01'
    status:
      code: 200
      message: OK
version: 1
