interactions:
- request:
    body: '[{"id": "b45adf70-208e-4e07-a283-f9af42e02fe4", "subject": "sample", "data":
      {"sample": "eventgridevent"}, "eventType": "Sample.EventGrid.Event", "eventTime":
      "2021-11-17T15:59:11.991934Z", "dataVersion": "2.0"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: "{\r\n    \"error\": {\r\n        \"code\": \"Unauthorized\",\r\n        \"message\":
        \"The request authorization key is not authorized for EVENTGRIDTESTQSOD5SUH2YP.WESTUS-1.EVENTGRID.AZURE.NET.
        This is due to the reason: Invalid length for a Base-64 char array or string.
        Report 'a76bec50-5303-4dee-8f32-2e4d9b996a36:11:11/17/2021 3:59:11 PM (UTC)'
        to our forums for assistance or raise a support ticket.\",\r\n        \"details\":
        [{\r\n            \"code\": \"Unauthorized\",\r\n            \"message\":
        \"The request authorization key is not authorized for EVENTGRIDTESTQSOD5SUH2YP.WESTUS-1.EVENTGRID.AZURE.NET.
        This is due to the reason: Invalid length for a Base-64 char array or string.
        Report 'a76bec50-5303-4dee-8f32-2e4d9b996a36:11:11/17/2021 3:59:11 PM (UTC)'
        to our forums for assistance or raise a support ticket.\"\r\n    }]\r\n  }\r\n}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 401
      message: 'The request authorization key is not authorized for EVENTGRIDTESTQSOD5SUH2YP.WESTUS-1.EVENTGRID.AZURE.NET.
        This is due to the reason: Invalid length for a Base-64 char array or string.
        Report ''a76bec50-5303-4dee-8f32-2e4d9b996a36:11:11/17/2021 3:59:11 PM (UTC)''
        to our forums for assistance or raise a support ticket.'
    url: https://eventgridtestqsod5suh2yp.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
version: 1
