interactions:
- request:
    body: '[{"customSubject": "sample", "customEventType": "sample.event", "customDataVersion":
      "2.0", "customId": "1234", "customEventTime": "2021-03-09T23:37:24.600983+00:00",
      "customData": "sample data"}, {"customSubject": "sample2", "customEventType":
      "sample.event", "customDataVersion": "2.0", "customId": "12345", "customEventTime":
      "2021-03-09T23:37:24.600983+00:00", "customData": "sample data 2"}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://customeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: '2018-01-01'
    status:
      code: 200
      message: OK
    url: https://customeventgridtestbz4pr.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
version: 1
