interactions:
- request:
    body: '[{"id": "79f645e1-ddbc-4c8b-b87f-7f47d0120cd1", "subject": "sample", "data":
      {"sample": "eventgridevent"}, "eventType": "Sample.EventGrid.Event", "eventTime":
      "2020-10-01T23:05:35.730327Z", "dataVersion": "2.0"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: '2018-01-01'
    status:
      code: 200
      message: OK
    url: https://eventgridtestdjwda35y4hv.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
version: 1
