{
  "Entries": [
    {
      "RequestUri": "https://eventgridtestbdhdbsm5vpt.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": "[{\u0022id\u0022: \u002256afa411-6735-4a64-b968-db074c45ab3e\u0022, \u0022subject\u0022: \u0022sample\u0022, \u0022data\u0022: \u0022eventgridevent\u0022, \u0022eventType\u0022: \u0022Sample.EventGrid.Event\u0022, \u0022eventTime\u0022: \u00222021-11-17T20:27:30.076899Z\u0022, \u0022dataVersion\u0022: \u00222.0\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
