interactions:
- request:
    body: '[{"customSubject": "sample", "customEventType": "sample.event", "customDataVersion":
      "2.0", "customId": "1234", "customEventTime": "2020-08-07T16:45:50.027953+00:00",
      "customData": "sample data"}]'
    headers:
      Content-Type:
      - application/json
      aeg-sas-key:
      - HFoVLrneqLI6epiEO08yVn7sMZgc7ih0vY2pQqJuepE=
    method: POST
    uri: https://customeventgridtestlm7ub.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - '2018-01-01'
    status:
      code: 200
      message: OK
version: 1
