{
  "Entries": [
    {
      "RequestUri": "https://cloudeventgridtestuc3h2z.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022specversion\u0022: \u00221.0\u0022, \u0022id\u0022: \u0022eea70a56-902d-4290-a59e-f630266e3e8d\u0022, \u0022source\u0022: \u0022https://example.com/event-producer\u0022, \u0022type\u0022: \u0022com.example.sampletype1\u0022, \u0022time\u0022: \u00222021-11-16T01:10:23.979816\u002B00:00\u0022, \u0022data\u0022: \u0022hello world\u0022, \u0022ext1\u0022: \u0022extension\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
