interactions:
- request:
    body: '[{"type": "com.example.sampletype1", "source": "https://example.com/event-producer",
      "specversion": "1.0", "id": "698f1b34-d6db-4f79-8b8d-fece823f29b3", "time":
      "2021-10-13T07:10:31.970815+00:00", "data": {"message": "Hello World!"}}]'
    headers:
      Content-Type:
      - application/cloudevents-batch+json; charset=utf-8
    method: POST
    uri: https://cloudeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - '2018-01-01'
    status:
      code: 200
      message: OK
version: 1
