interactions:
- request:
    body: '[{"id": "bf72d636-e0ce-4241-a94f-2d6047d9fe86", "source": "http://samplesource.dev",
      "data": "cloudevent", "type": "Sample.Cloud.Event", "time": "2021-03-09T23:37:10.278325Z",
      "specversion": "1.0"}]'
    headers:
      Content-Type:
      - application/cloudevents-batch+json; charset=utf-8
    method: POST
    uri: https://cloudeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: '2018-01-01'
    status:
      code: 200
      message: OK
    url: https://cloudeventgridtestcxhotk.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
version: 1
