interactions:
- request:
    body: '[{"id": "b796bf81-581e-42c2-a8d8-301036f97c26", "subject": "sample", "data":
      {"sample": "eventgridevent"}, "eventType": "Sample.EventGrid.Event", "eventTime":
      "2020-08-07T21:34:42.16594Z", "dataVersion": "2.0"}]'
    headers:
      Content-Type:
      - application/json
      aeg-sas-key:
      - cus6lOEQ+atANdNK2jb8zKRAAcQq7MjDAUr19LQBzQc=
    method: POST
    uri: https://eventgridtest2neomnjgjhm.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - '2018-01-01'
    status:
      code: 200
      message: OK
version: 1
