interactions:
- request:
    body: '[{"id": "c9f98dbc-9b68-40e2-9446-58c7b7a2d745", "subject": "sample", "data":
      "eventgridevent", "eventType": "Sample.EventGrid.Event", "eventTime": "2021-03-09T23:37:38.476044Z",
      "dataVersion": "2.0"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: '2018-01-01'
    status:
      code: 200
      message: OK
    url: https://eventgridtestzs77j53quzy.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
version: 1
