interactions:
- request:
    body: '[{"id": "68e29039-ef5c-46a5-a77b-063b6736a445", "source": "http://samplesource.dev",
      "type": "Sample.Cloud.Event", "time": "2021-03-09T23:37:09.987352Z", "specversion":
      "1.0"}]'
    headers:
      Content-Type:
      - application/cloudevents-batch+json; charset=utf-8
    method: POST
    uri: https://cloudeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: '2018-01-01'
    status:
      code: 200
      message: OK
    url: https://cloudeventgridtestcxhotk.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
version: 1
