interactions:
- request:
    body: '[{"id": "56a121b0-92b9-4921-b11b-2a99b0b4c5be", "subject": "sample", "data":
      "eventgridevent", "eventType": "Sample.EventGrid.Event", "eventTime": "2020-08-11T06:39:51.543811Z",
      "dataVersion": "2.0"}]'
    headers:
      Content-Type:
      - application/json
      aeg-sas-key:
      - mu+h0B1P+GXAS5TCSIJVZ/oZUf+Pur3p90WxHabL2MM=
    method: POST
    uri: https://eventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - '2018-01-01'
    status:
      code: 200
      message: OK
version: 1
