interactions:
- request:
    body: '[{"id": "7aa4c84c-e3ae-4cc7-8dd2-07d5bd8d1d71", "source": "http://samplesource.dev",
      "data": "cloudevent", "type": "Sample.Cloud.Event", "time": "2020-10-01T23:05:34.285273Z",
      "specversion": "1.0"}]'
    headers:
      Content-Type:
      - application/cloudevents-batch+json; charset=utf-8
    method: POST
    uri: https://cloudeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: '2018-01-01'
    status:
      code: 200
      message: OK
    url: https://cloudeventgridtestv2tnop.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
version: 1
