interactions:
- request:
    body: '[{"id": "ee8ba686-cf5c-4f55-a5ea-c60d8115ec7f", "source": "http://samplesource.dev",
      "data": "cloudevent", "type": "Sample.Cloud.Event", "time": "2020-10-01T23:05:03.318822Z",
      "specversion": "1.0"}]'
    headers:
      Content-Type:
      - application/cloudevents-batch+json; charset=utf-8
    method: POST
    uri: https://cloudeventgridtestegtopic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - '2018-01-01'
    status:
      code: 200
      message: OK
version: 1
