interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment","name":"experiment","type":"Microsoft.BatchAI/workspaces/experiments","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2018-06-07T00:50:35.847Z","creationTime":"2018-06-07T00:50:35.847Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D5CC10AE4AE08D"']
      last-modified: ['Thu, 07 Jun 2018 00:50:35 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"schedulingPriority": "normal", "cluster": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster46b2158e"},
      "nodeCount": 1, "containerSettings": {"imageSourceRegistry": {"image": "ubuntu"}},
      "customToolkitSettings": {"commandLine": "echo hi | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt"},
      "stdOutErrPathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles", "inputDirectories":
      [{"id": "INPUT", "path": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}], "outputDirectories":
      [{"id": "OUTPUTS", "pathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/", "pathSuffix":
      "files"}]}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/a74a103d-346a-45a4-9f14-24c179781f3a?api-version=2018-05-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationstatuses/a74a103d-346a-45a4-9f14-24c179781f3a?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/a74a103d-346a-45a4-9f14-24c179781f3a?api-version=2018-05-01
  response:
    body: {string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/a74a103d-346a-45a4-9f14-24c179781f3a","name":"a74a103d-346a-45a4-9f14-24c179781f3a","status":"Succeeded","startTime":"2018-06-07T00:54:34.892Z","endTime":"2018-06-07T00:54:35.568Z","properties":{"resourceId":"00000000-0000-0000-0000-000000000000$test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e$workspace$experiment$job"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job","name":"job","type":"Microsoft.BatchAI/workspaces/experiments/jobs","properties":{"experimentName":"experiment","schedulingPriority":"normal","cluster":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster46b2158e"},"jobOutputDirectoryPathSegment":"00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/workspaces/workspace/experiments/experiment/jobs/job/fc5f77ec-6223-488e-9b92-165ed79618ba","nodeCount":1,"containerSettings":{"imageSourceRegistry":{"image":"ubuntu"}},"toolType":"custom","customToolkitSettings":{"commandLine":"echo
        hi | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt"},"stdOutErrPathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles","inputDirectories":[{"id":"INPUT","path":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}],"outputDirectories":[{"id":"OUTPUTS","pathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/","pathSuffix":"files"}],"constraints":{"maxWallClockTime":"P7D"},"creationTime":"2018-06-07T00:54:34.892Z","provisioningState":"succeeded","provisioningStateTransitionTime":"2018-06-07T00:54:35.552Z","executionState":"running","executionStateTransitionTime":"2018-06-07T00:54:36.703Z","executionInfo":{"startTime":"2018-06-07T00:54:36.703Z"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D5CC113CC63550"']
      last-modified: ['Thu, 07 Jun 2018 00:54:34 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job/listOutputFiles?api-version=2018-05-01&outputdirectoryid=stdouterr&directory=.&linkexpiryinminutes=60&maxresults=1000
  response:
    body: {string: '{"value":[{"name":"execution.log","fileType":"file","downloadUrl":"https://psdk46b2158e.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/workspaces/workspace/experiments/experiment/jobs/job/fc5f77ec-6223-488e-9b92-165ed79618ba/stdouterr/execution.log?sv=2016-05-31&sr=f&sig=M6Dh9LR2jD8GgMLa0KyBaVdEuDRQ%2FUAJZ87QC68VYT0%3D&se=2018-06-07T01%3A55%3A16Z&sp=rl","properties":{"lastModified":"2018-06-07T00:55:05Z","contentLength":15593}},{"name":"stderr.txt","fileType":"file","downloadUrl":"https://psdk46b2158e.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/workspaces/workspace/experiments/experiment/jobs/job/fc5f77ec-6223-488e-9b92-165ed79618ba/stdouterr/stderr.txt?sv=2016-05-31&sr=f&sig=OIQ3SLUaTDAG8teHNPrcDHTy%2Ft7rOP0MGaB8PDBnHfM%3D&se=2018-06-07T01%3A55%3A16Z&sp=rl","properties":{"lastModified":"2018-06-07T00:55:01Z","contentLength":0}},{"name":"stdout.txt","fileType":"file","downloadUrl":"https://psdk46b2158e.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/workspaces/workspace/experiments/experiment/jobs/job/fc5f77ec-6223-488e-9b92-165ed79618ba/stdouterr/stdout.txt?sv=2016-05-31&sr=f&sig=5JwydgVQ3gNY8iVdzci%2FqkAdEpwtLe3af2t0LC8MZQc%3D&se=2018-06-07T01%3A55%3A16Z&sp=rl","properties":{"lastModified":"2018-06-07T00:55:01Z","contentLength":3}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdk46b2158e.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/workspaces/workspace/experiments/experiment/jobs/job/fc5f77ec-6223-488e-9b92-165ed79618ba/stdouterr/stderr.txt?sv=2016-05-31&sr=f&sig=OIQ3SLUaTDAG8teHNPrcDHTy%2Ft7rOP0MGaB8PDBnHfM%3D&se=2018-06-07T01%3A55%3A16Z&sp=rl
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5CC114CB3BBA7"']
      last-modified: ['Thu, 07 Jun 2018 00:55:01 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdk46b2158e.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/workspaces/workspace/experiments/experiment/jobs/job/fc5f77ec-6223-488e-9b92-165ed79618ba/stdouterr/stdout.txt?sv=2016-05-31&sr=f&sig=5JwydgVQ3gNY8iVdzci%2FqkAdEpwtLe3af2t0LC8MZQc%3D&se=2018-06-07T01%3A55%3A16Z&sp=rl
  response:
    body: {string: 'hi

        '}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5CC114CC76E24"']
      last-modified: ['Thu, 07 Jun 2018 00:55:01 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job/listOutputFiles?api-version=2018-05-01&outputdirectoryid=OUTPUTS&directory=.&linkexpiryinminutes=60&maxresults=1000
  response:
    body: {string: '{"value":[{"name":"hi.txt","fileType":"file","downloadUrl":"https://psdk46b2158e.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/workspaces/workspace/experiments/experiment/jobs/job/fc5f77ec-6223-488e-9b92-165ed79618ba/outputs/files/hi.txt?sv=2016-05-31&sr=f&sig=T6TZAEtwYQW2Wlp2rnUKkkH4NkRQ0VLoQGB4WjzGsnY%3D&se=2018-06-07T01%3A55%3A18Z&sp=rl","properties":{"lastModified":"2018-06-07T00:55:01Z","contentLength":3}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdk46b2158e.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/workspaces/workspace/experiments/experiment/jobs/job/fc5f77ec-6223-488e-9b92-165ed79618ba/outputs/files/hi.txt?sv=2016-05-31&sr=f&sig=T6TZAEtwYQW2Wlp2rnUKkkH4NkRQ0VLoQGB4WjzGsnY%3D&se=2018-06-07T01%3A55%3A18Z&sp=rl
  response:
    body: {string: 'hi

        '}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5CC114CC59913"']
      last-modified: ['Thu, 07 Jun 2018 00:55:01 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 07 Jun 2018 00:55:19 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://psdk46b2158e.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/workspaces/workspace/experiments/experiment/jobs/job/fc5f77ec-6223-488e-9b92-165ed79618ba/stdouterr/stdout.txt
  response:
    body: {string: 'hi

        '}
    headers:
      content-range: [bytes 0-2/3]
      content-type: [application/octet-stream]
      etag: ['"0x8D5CC114CC76E24"']
      last-modified: ['Thu, 07 Jun 2018 00:55:01 GMT']
      x-ms-server-encrypted: ['true']
      x-ms-type: [File]
      x-ms-version: ['2017-07-29']
    status: {code: 206, message: Partial Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_creation_and_deletion46b2158e/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body: {string: '{"error":{"code":"JobNotFound","message":"The specified job job
        is not found"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: The specified job job is not found}
version: 1
