interactions:
- request:
    body: 'b''{"location": "eastus", "properties": {"jobPreparation": {"commandLine":
      "false"}, "cluster": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_container_preparation_failure_reporting163b1d3b/providers/Microsoft.BatchAI/clusters/cluster163b1d3b"},
      "nodeCount": 1, "stdOutErrPathPrefix": "$AZ_LEARNING_MOUNT_ROOT/azfiles", "customToolkitSettings":
      {"commandLine": "true"}, "inputDirectories": [{"id": "INPUT", "path": "$AZ_LEARNING_MOUNT_ROOT/azfiles/input"}],
      "priority": 0, "containerSettings": {"imageSourceRegistry": {"image": "ubuntu"}},
      "outputDirectories": [{"pathPrefix": "$AZ_LEARNING_MOUNT_ROOT/azfiles/", "type":
      "custom", "id": "OUTPUTS", "pathSuffix": "files", "createNew": true}]}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_container_preparation_failure_reporting163b1d3b/providers/Microsoft.BatchAI/jobs/job?api-version=2017-09-01-preview
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/918c0e4e-fd05-438b-a319-b7770b4db277?api-version=2017-09-01-preview']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/918c0e4e-fd05-438b-a319-b7770b4db277?api-version=2017-09-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/918c0e4e-fd05-438b-a319-b7770b4db277?api-version=2017-09-01-preview
  response:
    body: {string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/918c0e4e-fd05-438b-a319-b7770b4db277","name":"918c0e4e-fd05-438b-a319-b7770b4db277","status":"Succeeded","startTime":"2017-09-27T23:26:07.489Z","endTime":"2017-09-27T23:26:08.533Z","properties":{"resourceId":"00000000-0000-0000-0000-000000000000$test_mgmt_batchai_jobs_test_job_container_preparation_failure_reporting163b1d3b$job"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_container_preparation_failure_reporting163b1d3b/providers/Microsoft.BatchAI/jobs/job?api-version=2017-09-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_container_preparation_failure_reporting163b1d3b/providers/Microsoft.BatchAI/jobs/job","name":"job","type":"Microsoft.BatchAI/Jobs","properties":{"priority":0,"cluster":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_container_preparation_failure_reporting163b1d3b/providers/Microsoft.BatchAI/clusters/cluster163b1d3b"},"nodeCount":1,"containerSettings":{"imageSourceRegistry":{"image":"ubuntu"}},"toolType":"Custom","customToolkitSettings":{"commandLine":"true"},"jobPreparation":{"commandLine":"false"},"stdOutErrPathPrefix":"$AZ_LEARNING_MOUNT_ROOT/azfiles","inputDirectories":[{"id":"INPUT","path":"$AZ_LEARNING_MOUNT_ROOT/azfiles/input"}],"outputDirectories":[{"id":"OUTPUTS","pathPrefix":"$AZ_LEARNING_MOUNT_ROOT/azfiles/","pathSuffix":"files","type":"Custom","createNew":true}],"constraints":{"maxWallClockTime":"P7D","maxRetryCount":0},"creationTime":"2017-09-27T23:26:07.474Z","provisioningState":"Succeeded","provisioningStateTransitionTime":"2017-09-27T23:26:08.47Z","executionState":"Running","executionStateTransitionTime":"2017-09-27T23:26:10.301Z","executionInfo":{"startTime":"2017-09-27T23:26:08.834Z"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D505FF21356AFF"']
      last-modified: ['Wed, 27 Sep 2017 23:26:07 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_container_preparation_failure_reporting163b1d3b/providers/Microsoft.BatchAI/jobs/job?api-version=2017-09-01-preview
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.BatchAI/jobs/job''
        under resource group ''test_mgmt_batchai_jobs_test_job_container_preparation_failure_reporting163b1d3b''
        was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
version: 1
