interactions:
- request:
    body: 'b''b\''b\\\''{"location": "westeurope", "properties": {"priority": 0, "cluster":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/providers/Microsoft.BatchAI/clusters/clustere0e613b6"},
      "nodeCount": 1, "customToolkitSettings": {"commandLine": "cat $AZ_BATCHAI_INPUT_INPUT/hi.txt"},
      "jobPreparation": {"commandLine": "mkdir -p $AZ_BATCHAI_INPUT_INPUT && echo
      hello | tee $AZ_BATCHAI_INPUT_INPUT/hi.txt"}, "stdOutErrPathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles",
      "inputDirectories": [{"id": "INPUT", "path": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}],
      "outputDirectories": [{"id": "OUTPUTS", "pathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/",
      "pathSuffix": "files", "type": "custom", "createNew": true}]}}\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/providers/Microsoft.BatchAI/jobs/job?api-version=2018-03-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/westeurope/operationresults/4e880450-efeb-461a-a733-88cfcfc857eb?api-version=2018-03-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/westeurope/operationstatuses/4e880450-efeb-461a-a733-88cfcfc857eb?api-version=2018-03-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/westeurope/operationresults/4e880450-efeb-461a-a733-88cfcfc857eb?api-version=2018-03-01
  response:
    body: {string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/westeurope/operationresults/4e880450-efeb-461a-a733-88cfcfc857eb","name":"4e880450-efeb-461a-a733-88cfcfc857eb","status":"Succeeded","startTime":"2018-03-16T06:07:29.144Z","endTime":"2018-03-16T06:07:30.539Z","properties":{"resourceId":"00000000-0000-0000-0000-000000000000$test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6$job"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/providers/Microsoft.BatchAI/jobs/job?api-version=2018-03-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/providers/Microsoft.BatchAI/jobs/job","name":"job","type":"Microsoft.BatchAI/Jobs","properties":{"priority":0,"cluster":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/providers/Microsoft.BatchAI/clusters/clustere0e613b6"},"jobOutputDirectoryPathSegment":"00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/607f653a-aa97-40f5-baf1-f48737fac2be","nodeCount":1,"toolType":"custom","customToolkitSettings":{"commandLine":"cat
        $AZ_BATCHAI_INPUT_INPUT/hi.txt"},"jobPreparation":{"commandLine":"mkdir -p
        $AZ_BATCHAI_INPUT_INPUT && echo hello | tee $AZ_BATCHAI_INPUT_INPUT/hi.txt"},"stdOutErrPathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles","inputDirectories":[{"id":"INPUT","path":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}],"outputDirectories":[{"id":"OUTPUTS","pathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/","pathSuffix":"files","type":"custom","createNew":true}],"constraints":{"maxWallClockTime":"P7D"},"creationTime":"2018-03-16T06:07:29.144Z","provisioningState":"succeeded","provisioningStateTransitionTime":"2018-03-16T06:07:30.523Z","executionState":"succeeded","executionStateTransitionTime":"2018-03-16T06:07:34.263Z","executionInfo":{"startTime":"2018-03-16T06:07:31.501Z","endTime":"2018-03-16T06:07:34.263Z","exitCode":0}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D58B0432D077FC"']
      last-modified: ['Fri, 16 Mar 2018 06:07:29 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/providers/Microsoft.BatchAI/jobs/job/listOutputFiles?api-version=2018-03-01&outputdirectoryid=stdouterr&directory=.&linkexpiryinminutes=60&maxresults=1000
  response:
    body: {string: '{"value":[{"name":"execution.log","isDirectory":false,"downloadUrl":"https://psdke0e613b6.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/607f653a-aa97-40f5-baf1-f48737fac2be/stdouterr/execution.log?sv=2016-05-31&sr=f&sig=R3VbiDOaifTxYR0Z51kQMMuk4H1vfwq4kfWELogUbgM%3D&se=2018-03-16T07%3A07%3A49Z&sp=rl","properties":{"lastModified":"2018-03-16T06:07:33Z","contentLength":181}},{"name":"stderr-job_prep.txt","isDirectory":false,"downloadUrl":"https://psdke0e613b6.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/607f653a-aa97-40f5-baf1-f48737fac2be/stdouterr/stderr-job_prep.txt?sv=2016-05-31&sr=f&sig=5ls2W2BwyrTq2mAMf4ghAQM1PpqRFpEH2Fp3AkBMdZk%3D&se=2018-03-16T07%3A07%3A49Z&sp=rl","properties":{"lastModified":"2018-03-16T06:07:33Z","contentLength":0}},{"name":"stderr.txt","isDirectory[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://psdke0e613b6.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/607f653a-aa97-40f5-baf1-f48737fac2be/stdouterr/stderr-job_prep.txt?sv=2016-05-31&sr=f&sig=5ls2W2BwyrTq2mAMf4ghAQM1PpqRFpEH2Fp3AkBMdZk%3D&se=2018-03-16T07%3A07%3A49Z&sp=rl
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D58B0435456D4C"']
      last-modified: ['Fri, 16 Mar 2018 06:07:33 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdke0e613b6.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/607f653a-aa97-40f5-baf1-f48737fac2be/stdouterr/stderr.txt?sv=2016-05-31&sr=f&sig=MfncXImH%2BD3HlL03rarz0czqHH3a4ze4fNw7rHWKvCo%3D&se=2018-03-16T07%3A07%3A49Z&sp=rl
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D58B04357622CA"']
      last-modified: ['Fri, 16 Mar 2018 06:07:33 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdke0e613b6.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/607f653a-aa97-40f5-baf1-f48737fac2be/stdouterr/stdout-job_prep.txt?sv=2016-05-31&sr=f&sig=u0RsadGAtw6NE66lAjLfA6ChnxOoeGqdKvCNkg%2Few1I%3D&se=2018-03-16T07%3A07%3A49Z&sp=rl
  response:
    body: {string: 'hello

        '}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D58B0435641E41"']
      last-modified: ['Fri, 16 Mar 2018 06:07:33 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdke0e613b6.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/607f653a-aa97-40f5-baf1-f48737fac2be/stdouterr/stdout.txt?sv=2016-05-31&sr=f&sig=UUAMYfKXt0SQkhyrGa7ojsY5UR496RVdG1laJXOwXhs%3D&se=2018-03-16T07%3A07%3A49Z&sp=rl
  response:
    body: {string: 'hello

        '}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D58B04357FE880"']
      last-modified: ['Fri, 16 Mar 2018 06:07:33 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/providers/Microsoft.BatchAI/jobs/job?api-version=2018-03-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.BatchAI/jobs/job''
        under resource group ''test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6''
        was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
version: 1
