interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_password_less_ssha9071290/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_password_less_ssha9071290/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment","name":"experiment","type":"Microsoft.BatchAI/workspaces/experiments","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2018-06-07T01:19:56.748Z","creationTime":"2018-06-07T01:19:56.748Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D5CC14C7DF0EED"']
      last-modified: ['Thu, 07 Jun 2018 01:19:56 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"schedulingPriority": "normal", "cluster": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_password_less_ssha9071290/providers/Microsoft.BatchAI/workspaces/workspace/clusters/clustera9071290"},
      "nodeCount": 2, "customToolkitSettings": {"commandLine": "ssh 10.0.0.4 echo
      done && ssh 10.0.0.5 echo done"}, "stdOutErrPathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles",
      "inputDirectories": [{"id": "INPUT", "path": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}],
      "outputDirectories": [{"id": "OUTPUTS", "pathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/",
      "pathSuffix": "files"}]}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_password_less_ssha9071290/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/fcc7a2ed-e468-4b53-be91-e4e893e54729?api-version=2018-05-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationstatuses/fcc7a2ed-e468-4b53-be91-e4e893e54729?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/fcc7a2ed-e468-4b53-be91-e4e893e54729?api-version=2018-05-01
  response:
    body: {string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/fcc7a2ed-e468-4b53-be91-e4e893e54729","name":"fcc7a2ed-e468-4b53-be91-e4e893e54729","status":"Succeeded","startTime":"2018-06-07T01:23:51.482Z","endTime":"2018-06-07T01:23:51.873Z","properties":{"resourceId":"00000000-0000-0000-0000-000000000000$test_mgmt_batchai_jobs_test_password_less_ssha9071290$workspace$experiment$job"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_password_less_ssha9071290/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_password_less_ssha9071290/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job","name":"job","type":"Microsoft.BatchAI/workspaces/experiments/jobs","properties":{"experimentName":"experiment","schedulingPriority":"normal","cluster":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_password_less_ssha9071290/providers/Microsoft.BatchAI/workspaces/workspace/clusters/clustera9071290"},"jobOutputDirectoryPathSegment":"00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_password_less_ssha9071290/workspaces/workspace/experiments/experiment/jobs/job/e65ed333-0bbc-4750-a378-0ababdff2e6f","nodeCount":2,"toolType":"custom","customToolkitSettings":{"commandLine":"ssh
        10.0.0.4 echo done && ssh 10.0.0.5 echo done"},"stdOutErrPathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles","inputDirectories":[{"id":"INPUT","path":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}],"outputDirectories":[{"id":"OUTPUTS","pathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/","pathSuffix":"files"}],"constraints":{"maxWallClockTime":"P7D"},"creationTime":"2018-06-07T01:23:51.451Z","provisioningState":"succeeded","provisioningStateTransitionTime":"2018-06-07T01:23:51.857Z","executionState":"succeeded","executionStateTransitionTime":"2018-06-07T01:24:04.536Z","executionInfo":{"startTime":"2018-06-07T01:23:57.752Z","endTime":"2018-06-07T01:24:04.536Z","exitCode":0}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D5CC1553C3D30C"']
      last-modified: ['Thu, 07 Jun 2018 01:23:51 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_password_less_ssha9071290/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job/listOutputFiles?api-version=2018-05-01&outputdirectoryid=stdouterr&directory=.&linkexpiryinminutes=60&maxresults=1000
  response:
    body: {string: '{"value":[{"name":"execution-tvm-171039672_1-20180607t012137z-p.log","fileType":"file","downloadUrl":"https://psdka9071290.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_password_less_ssha9071290/workspaces/workspace/experiments/experiment/jobs/job/e65ed333-0bbc-4750-a378-0ababdff2e6f/stdouterr/execution-tvm-171039672_1-20180607t012137z-p.log?sv=2016-05-31&sr=f&sig=D2WFxv0u8Q9yG1JVRsmzy97dSJQvkGZs7zhSsTT6Jy0%3D&se=2018-06-07T02%3A24%3A10Z&sp=rl","properties":{"lastModified":"2018-06-07T01:24:02Z","contentLength":383}},{"name":"execution-tvm-171039672_2-20180607t012137z-p.log","fileType":"file","downloadUrl":"https://psdka9071290.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_password_less_ssha9071290/workspaces/workspace/experiments/experiment/jobs/job/e65ed333-0bbc-4750-a378-0ababdff2e6f/stdouterr/execution-tvm-171039672_2-20180607t012137z-p.log?sv=2016-05-31&sr=f&sig=LCtGsiCZVZcvqIv2KtIgzvE1ytNJxZt91LWSwUhBwS0%3D&se=2018-06-07T02%3A24%3A10Z&sp=rl","propert[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://psdka9071290.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_password_less_ssha9071290/workspaces/workspace/experiments/experiment/jobs/job/e65ed333-0bbc-4750-a378-0ababdff2e6f/stdouterr/stderr.txt?sv=2016-05-31&sr=f&sig=l94K%2Bn9sMp3y5ZU4kQcICCO36f5EDT0z4UP2Wosl8fY%3D&se=2018-06-07T02%3A24%3A10Z&sp=rl
  response:
    body: {string: "Warning: Permanently added '10.0.0.4' (ECDSA) to the list of known\
        \ hosts.\r\n"}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5CC155AE9803F"']
      last-modified: ['Thu, 07 Jun 2018 01:24:03 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdka9071290.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_password_less_ssha9071290/workspaces/workspace/experiments/experiment/jobs/job/e65ed333-0bbc-4750-a378-0ababdff2e6f/stdouterr/stdout.txt?sv=2016-05-31&sr=f&sig=M3BzqPS5gWIcZLR2pEeWnjJ3udS81r9Ft4WDvv9gO%2BY%3D&se=2018-06-07T02%3A24%3A10Z&sp=rl
  response:
    body: {string: 'done

        done

        '}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5CC155B113647"']
      last-modified: ['Thu, 07 Jun 2018 01:24:03 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_password_less_ssha9071290/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body: {string: '{"error":{"code":"JobNotFound","message":"The specified job job
        is not found"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: The specified job job is not found}
version: 1
