interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment","name":"experiment","type":"Microsoft.BatchAI/workspaces/experiments","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2018-06-06T21:26:38.407Z","creationTime":"2018-06-06T21:26:38.407Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D5CBF43035B6B9"']
      last-modified: ['Wed, 06 Jun 2018 21:26:38 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"schedulingPriority": "normal", "cluster": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster494215bb"},
      "nodeCount": 1, "containerSettings": {"imageSourceRegistry": {"image": "ubuntu"}},
      "customToolkitSettings": {"commandLine": "cat $AZ_BATCHAI_INPUT_INPUT/hi.txt"},
      "jobPreparation": {"commandLine": "mkdir -p $AZ_BATCHAI_INPUT_INPUT && echo
      hello | tee $AZ_BATCHAI_INPUT_INPUT/hi.txt"}, "stdOutErrPathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles",
      "inputDirectories": [{"id": "INPUT", "path": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}],
      "outputDirectories": [{"id": "OUTPUTS", "pathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/",
      "pathSuffix": "files"}]}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job","name":"job","type":"Microsoft.BatchAI/workspaces/experiments/jobs","properties":{"experimentName":"experiment","schedulingPriority":"normal","cluster":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster494215bb"},"jobOutputDirectoryPathSegment":"00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/workspaces/workspace/experiments/experiment/jobs/job/76e51e03-f903-4b79-aee2-85e37db7cccb","nodeCount":1,"containerSettings":{"imageSourceRegistry":{"image":"ubuntu"}},"toolType":"custom","customToolkitSettings":{"commandLine":"cat
        $AZ_BATCHAI_INPUT_INPUT/hi.txt"},"jobPreparation":{"commandLine":"mkdir -p
        $AZ_BATCHAI_INPUT_INPUT && echo hello | tee $AZ_BATCHAI_INPUT_INPUT/hi.txt"},"stdOutErrPathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles","inputDirectories":[{"id":"INPUT","path":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}],"outputDirectories":[{"id":"OUTPUTS","pathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/","pathSuffix":"files"}],"constraints":{"maxWallClockTime":"P7D"},"creationTime":"2018-06-06T21:30:15.818Z","provisioningState":"succeeded","provisioningStateTransitionTime":"2018-06-07T00:05:49.449Z","executionState":"queued","executionStateTransitionTime":"2018-06-06T21:30:15.818Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D5CBF4B1CC010F"']
      last-modified: ['Wed, 06 Jun 2018 21:30:15 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job/listOutputFiles?api-version=2018-05-01&outputdirectoryid=stdouterr&directory=.&linkexpiryinminutes=60&maxresults=1000
  response:
    body: {string: '{"value":[{"name":"execution.log","fileType":"file","downloadUrl":"https://psdk494215bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/workspaces/workspace/experiments/experiment/jobs/job/76e51e03-f903-4b79-aee2-85e37db7cccb/stdouterr/execution.log?sv=2016-05-31&sr=f&sig=kgZLXwktRBmEJlozBZcOl04mKiFQP13A24koUItNAdQ%3D&se=2018-06-07T02%3A13%3A12Z&sp=rl","properties":{"lastModified":"2018-06-07T00:06:17Z","contentLength":15634}},{"name":"stderr-job_prep.txt","fileType":"file","downloadUrl":"https://psdk494215bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/workspaces/workspace/experiments/experiment/jobs/job/76e51e03-f903-4b79-aee2-85e37db7cccb/stdouterr/stderr-job_prep.txt?sv=2016-05-31&sr=f&sig=eHTGPtNd2tkwMqmw%2FzKOqCKdo%2BN7iXjnvcmqfKH7eNo%3D&se=2018-06-07T02%3A13%3A12Z&sp=rl","properties":{"lastModified":"2018-06-07T00:06:13Z",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://psdk494215bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/workspaces/workspace/experiments/experiment/jobs/job/76e51e03-f903-4b79-aee2-85e37db7cccb/stdouterr/stderr-job_prep.txt?sv=2016-05-31&sr=f&sig=eHTGPtNd2tkwMqmw%2FzKOqCKdo%2BN7iXjnvcmqfKH7eNo%3D&se=2018-06-07T02%3A13%3A12Z&sp=rl
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5CC0A7B399306"']
      last-modified: ['Thu, 07 Jun 2018 00:06:13 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdk494215bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/workspaces/workspace/experiments/experiment/jobs/job/76e51e03-f903-4b79-aee2-85e37db7cccb/stdouterr/stderr.txt?sv=2016-05-31&sr=f&sig=a2cL7n%2BepMhpWThIanlwl1k9%2FJR2wv%2Frfj%2FhCO4a9R0%3D&se=2018-06-07T02%3A13%3A12Z&sp=rl
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5CC0A7B72CBC8"']
      last-modified: ['Thu, 07 Jun 2018 00:06:13 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdk494215bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/workspaces/workspace/experiments/experiment/jobs/job/76e51e03-f903-4b79-aee2-85e37db7cccb/stdouterr/stdout-job_prep.txt?sv=2016-05-31&sr=f&sig=dicwbsbPwHbbQ8XDmP7QTM%2FuGtro1%2FgA2mCHEUsh%2BhA%3D&se=2018-06-07T02%3A13%3A12Z&sp=rl
  response:
    body: {string: 'hello

        '}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5CC0A7B4F8C28"']
      last-modified: ['Thu, 07 Jun 2018 00:06:13 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdk494215bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/workspaces/workspace/experiments/experiment/jobs/job/76e51e03-f903-4b79-aee2-85e37db7cccb/stdouterr/stdout.txt?sv=2016-05-31&sr=f&sig=ER6KViAfSzFoo2tSlaSBFZJTPFty6duuoZHztYolFvE%3D&se=2018-06-07T02%3A13%3A12Z&sp=rl
  response:
    body: {string: 'hello

        '}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5CC0A7B7BA561"']
      last-modified: ['Thu, 07 Jun 2018 00:06:13 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/5c590d2e-05b4-4fd6-acc0-47dacbf54b96?api-version=2018-05-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationstatuses/5c590d2e-05b4-4fd6-acc0-47dacbf54b96?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14997']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/5c590d2e-05b4-4fd6-acc0-47dacbf54b96?api-version=2018-05-01
  response:
    body: {string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/5c590d2e-05b4-4fd6-acc0-47dacbf54b96","name":"5c590d2e-05b4-4fd6-acc0-47dacbf54b96","status":"Succeeded","startTime":"2018-06-07T01:13:18.552Z","endTime":"2018-06-07T01:13:21.777Z","properties":{"resourceId":"00000000-0000-0000-0000-000000000000$test_mgmt_batchai_jobs_test_job_preparation_container494215bb$workspace$experiment$job"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_job_preparation_container494215bb/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body: {string: '{"error":{"code":"JobNotFound","message":"The specified job job
        is not found"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: The specified job job is not found}
version: 1
