interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 27 Sep 2017 22:28:06 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://psdk4c3c15bb.file.core.windows.net/share?restype=share
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D505F7070077B3"']
      last-modified: ['Wed, 27 Sep 2017 22:28:07 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"userAccountSettings": {"adminUserName": "demoUser", "adminUserPassword":
      "Dem0Pa$$w0rd"}, "scaleSettings": {"manual": {"nodeDeallocationOption": "requeue",
      "targetNodeCount": 1}}, "vmSize": "STANDARD_D1", "vmPriority": "dedicated",
      "nodeSetup": {"mountVolumes": {"azureFileShares": [{"azureFileUrl": "https://psdk4c3c15bb.file.core.windows.net/share",
      "fileMode": "0777", "relativeMountPath": "azfiles", "directoryMode": "0777",
      "accountName": "psdk4c3c15bb", "credentialsInfo": {"accountKey": "QZfP1uv2hTpfY00Gxd4X48TiwIShRcLtdbxz+GPSzhQAjGJyP+K+JpP0dcS3W/nqt4XvTVm/R/84n5vlSOMqcg=="}}]}}},
      "location": "eastus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/clusters/cluster4c3c15bb?api-version=2017-09-01-preview
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/711dbbd4-a16d-4fee-a76a-f5feaa9f8a03?api-version=2017-09-01-preview']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/711dbbd4-a16d-4fee-a76a-f5feaa9f8a03?api-version=2017-09-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/711dbbd4-a16d-4fee-a76a-f5feaa9f8a03?api-version=2017-09-01-preview
  response:
    body: {string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/711dbbd4-a16d-4fee-a76a-f5feaa9f8a03","name":"711dbbd4-a16d-4fee-a76a-f5feaa9f8a03","status":"Succeeded","startTime":"2017-09-27T22:28:07.66Z","endTime":"2017-09-27T22:28:08.374Z","properties":{"resourceId":"00000000-0000-0000-0000-000000000000$test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb$cluster4c3c15bb"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/clusters/cluster4c3c15bb?api-version=2017-09-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/clusters/cluster4c3c15bb","name":"cluster4c3c15bb","type":"Microsoft.BatchAI/Clusters","location":"eastus","properties":{"provisioningState":"Succeeded","allocationState":"Resizing","creationTime":"2017-09-27T22:28:07.645Z","lastModified":"2017-09-27T22:28:07.645Z","allocationStateTransitionTime":"2017-09-27T22:28:08.998Z","provisioningStateTransitionTime":"2017-09-27T22:28:08.327Z","vmSize":"STANDARD_D1","currentNodeCount":0,"nodeStateCounts":{"runningNodeCount":0,"idleNodeCount":0,"unusableNodeCount":0,"preparingNodeCount":0},"vmPriority":"Dedicated","scaleSettings":{"manual":{"targetNodeCount":1,"nodeDeallocationOption":"Requeue"}},"virtualMachineConfiguration":{"imageReference":{"publisher":"Canonical","offer":"UbuntuServer","sku":"16.04-LTS","version":"latest"}},"userAccountSettings":{"adminUserName":"demoUser"},"nodeSetup":{"mountVolumes":{"azureFileShares":[{"accountName":"psdk4c3c15bb","azureFileUrl":"https://psdk4c3c15bb.file.core.windows.net/share","credentialsInfo":{},"relativeMountPath":"azfiles","fileMode":"0777","directoryMode":"0777"}]}},"subnet":{}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D505F70711A1F5"']
      last-modified: ['Wed, 27 Sep 2017 22:28:07 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/clusters?api-version=2017-09-01-preview
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/clusters/cluster4c3c15bb","name":"cluster4c3c15bb","type":"Microsoft.BatchAI/Clusters","location":"eastus","properties":{"provisioningState":"Succeeded","allocationState":"Resizing","creationTime":"2017-09-27T22:28:07.645Z","lastModified":"2017-09-27T22:28:07.645Z","allocationStateTransitionTime":"2017-09-27T22:28:08.998Z","provisioningStateTransitionTime":"2017-09-27T22:28:08.327Z","vmSize":"STANDARD_D1","currentNodeCount":0,"nodeStateCounts":{"runningNodeCount":0,"idleNodeCount":0,"unusableNodeCount":0,"preparingNodeCount":0},"vmPriority":"Dedicated","scaleSettings":{"manual":{"targetNodeCount":1,"nodeDeallocationOption":"Requeue"}},"virtualMachineConfiguration":{"imageReference":{"publisher":"Canonical","offer":"UbuntuServer","sku":"16.04-LTS","version":"latest"}},"userAccountSettings":{"adminUserName":"demoUser"},"nodeSetup":{"mountVolumes":{"azureFileShares":[{"accountName":"psdk4c3c15bb","azureFileUrl":"https://psdk4c3c15bb.file.core.windows.net/share","credentialsInfo":{},"relativeMountPath":"azfiles","fileMode":"0777","directoryMode":"0777"}]}},"subnet":{}}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/clusters/cluster4c3c15bb/listRemoteLoginInformation?api-version=2017-09-01-preview
  response:
    body: {string: '{"value":[{"nodeId":"tvm-3657382398_1-20170927t223003z","ipAddress":"13.92.254.223","port":50000}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"customToolkitSettings": {"commandLine": "echo hello
      | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt"}, "priority": 0, "inputDirectories":
      [{"id": "INPUT", "path": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}], "cluster":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/clusters/cluster4c3c15bb"},
      "nodeCount": 1, "outputDirectories": [{"createNew": true, "type": "custom",
      "pathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/", "id": "OUTPUTS", "pathSuffix":
      "files"}], "stdOutErrPathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles"}, "location":
      "eastus"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/jobs/host_job?api-version=2017-09-01-preview
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/fbdd1615-8f7d-496d-ac38-6abe062a9aad?api-version=2017-09-01-preview']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/fbdd1615-8f7d-496d-ac38-6abe062a9aad?api-version=2017-09-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/jobs/host_job?api-version=2017-09-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/jobs/host_job","name":"host_job","type":"Microsoft.BatchAI/Jobs","properties":{"priority":0,"cluster":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/clusters/cluster4c3c15bb"},"nodeCount":1,"toolType":"Custom","customToolkitSettings":{"commandLine":"echo
        hello | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt"},"stdOutErrPathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles","inputDirectories":[{"id":"INPUT","path":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}],"outputDirectories":[{"id":"OUTPUTS","pathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/","pathSuffix":"files","type":"Custom","createNew":true}],"constraints":{"maxWallClockTime":"P7D","maxRetryCount":0},"creationTime":"2017-09-27T22:32:29.799Z","provisioningState":"Succeeded","provisioningStateTransitionTime":"2017-09-27T22:32:31.99Z","executionState":"Succeeded","executionStateTransitionTime":"2017-09-27T22:32:33.996Z","executionInfo":{"startTime":"2017-09-27T22:32:31.344Z","endTime":"2017-09-27T22:32:33.996Z","exitCode":0}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D505F7A3533591"']
      last-modified: ['Wed, 27 Sep 2017 22:32:29 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/jobs/host_job/listOutputFiles?linkexpiryinminutes=60&api-version=2017-09-01-preview&outputdirectoryid=OUTPUTS&maxresults=1000
  response:
    body: {string: '{"value":[{"name":"hi.txt","downloadUrl":"https://psdk4c3c15bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/jobs/host_job/outputs/files/hi.txt?sv=2016-05-31&sr=f&sig=ooHOTaGoZ7mvdpzJcsu5FE2QLSvJNPfCWK7SicIiKxY%3D&se=2017-09-27T23%3A32%3A49Z&sp=rl","properties":{"lastModified":"2017-09-27T22:32:34Z","contentLength":6}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdk4c3c15bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/jobs/host_job/outputs/files/hi.txt?sv=2016-05-31&sr=f&sig=ooHOTaGoZ7mvdpzJcsu5FE2QLSvJNPfCWK7SicIiKxY%3D&se=2017-09-27T23%3A32%3A49Z&sp=rl
  response:
    body: {string: 'hello

        '}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D505F7A604FF4D"']
      last-modified: ['Wed, 27 Sep 2017 22:32:34 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/jobs/host_job/listOutputFiles?linkexpiryinminutes=60&api-version=2017-09-01-preview&outputdirectoryid=stdouterr&maxresults=1000
  response:
    body: {string: '{"value":[{"name":"stderr.txt","downloadUrl":"https://psdk4c3c15bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/jobs/host_job/stderr.txt?sv=2016-05-31&sr=f&sig=ROOFS6k%2FvUqikmHtErq8wWWLdbHXaBJqCOgVqq9BXXs%3D&se=2017-09-27T23%3A32%3A51Z&sp=rl","properties":{"lastModified":"2017-09-27T22:32:34Z","contentLength":0}},{"name":"stdout.txt","downloadUrl":"https://psdk4c3c15bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/jobs/host_job/stdout.txt?sv=2016-05-31&sr=f&sig=y%2FqZOQom1GKHmzh3bOmtqoZHzbOBwwwLOtCmKgmidP8%3D&se=2017-09-27T23%3A32%3A51Z&sp=rl","properties":{"lastModified":"2017-09-27T22:32:34Z","contentLength":6}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdk4c3c15bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/jobs/host_job/stderr.txt?sv=2016-05-31&sr=f&sig=ROOFS6k%2FvUqikmHtErq8wWWLdbHXaBJqCOgVqq9BXXs%3D&se=2017-09-27T23%3A32%3A51Z&sp=rl
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D505F7A5FC71BA"']
      last-modified: ['Wed, 27 Sep 2017 22:32:34 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdk4c3c15bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/jobs/host_job/stdout.txt?sv=2016-05-31&sr=f&sig=y%2FqZOQom1GKHmzh3bOmtqoZHzbOBwwwLOtCmKgmidP8%3D&se=2017-09-27T23%3A32%3A51Z&sp=rl
  response:
    body: {string: 'hello

        '}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D505F7A60610FD"']
      last-modified: ['Wed, 27 Sep 2017 22:32:34 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"properties": {"customToolkitSettings": {"commandLine": "echo hello
      | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt"}, "priority": 0, "containerSettings":
      {"imageSourceRegistry": {"image": "ubuntu"}}, "inputDirectories": [{"id": "INPUT",
      "path": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}], "cluster": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/clusters/cluster4c3c15bb"},
      "nodeCount": 1, "outputDirectories": [{"createNew": true, "type": "custom",
      "pathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/", "id": "OUTPUTS", "pathSuffix":
      "files"}], "stdO[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/jobs/container_job?api-version=2017-09-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/jobs/container_job/listOutputFiles?linkexpiryinminutes=60&api-version=2017-09-01-preview&outputdirectoryid=OUTPUTS&maxresults=1000
  response:
    body: {string: '{"value":[{"name":"hi.txt","downloadUrl":"https://psdk4c3c15bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/jobs/container_job/outputs/files/hi.txt?sv=2016-05-31&sr=f&sig=WedgTGuDENZcuxGS%2Bjbr8bWeLdEFsRiaZ2H7DdgYPT0%3D&se=2017-09-27T23%3A33%3A36Z&sp=rl","properties":{"lastModified":"2017-09-27T22:33:29Z","contentLength":6}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdk4c3c15bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/jobs/container_job/outputs/files/hi.txt?sv=2016-05-31&sr=f&sig=WedgTGuDENZcuxGS%2Bjbr8bWeLdEFsRiaZ2H7DdgYPT0%3D&se=2017-09-27T23%3A33%3A36Z&sp=rl
  response:
    body: {string: 'hello

        '}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D505F7C6D4B97A"']
      last-modified: ['Wed, 27 Sep 2017 22:33:29 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/providers/Microsoft.BatchAI/jobs/container_job/listOutputFiles?linkexpiryinminutes=60&api-version=2017-09-01-preview&outputdirectoryid=stdouterr&maxresults=1000
  response:
    body: {string: '{"value":[{"name":"stderr.txt","downloadUrl":"https://psdk4c3c15bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/jobs/container_job/stderr.txt?sv=2016-05-31&sr=f&sig=p0OKS4wrAyOFOQSCPbd3ILsGMDdr415ZQc2aP7ZEYMU%3D&se=2017-09-27T23%3A33%3A37Z&sp=rl","properties":{"lastModified":"2017-09-27T22:33:29Z","contentLength":0}},{"name":"stdout.txt","downloadUrl":"https://psdk4c3c15bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/jobs/container_job/stdout.txt?sv=2016-05-31&sr=f&sig=uI%2FY46%2BZrM7zwEOJqP6U7Z1Ql%2BQvkXNmOC6bPnl1ha4%3D&se=2017-09-27T23%3A33%3A37Z&sp=rl","properties":{"lastModified":"2017-09-27T22:33:29Z","contentLength":6}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdk4c3c15bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/jobs/container_job/stderr.txt?sv=2016-05-31&sr=f&sig=p0OKS4wrAyOFOQSCPbd3ILsGMDdr415ZQc2aP7ZEYMU%3D&se=2017-09-27T23%3A33%3A37Z&sp=rl
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D505F7C6CBDDA6"']
      last-modified: ['Wed, 27 Sep 2017 22:33:29 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://psdk4c3c15bb.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_clusters_test_creation_and_deletion4c3c15bb/jobs/container_job/stdout.txt?sv=2016-05-31&sr=f&sig=uI%2FY46%2BZrM7zwEOJqP6U7Z1Ql%2BQvkXNmOC6bPnl1ha4%3D&se=2017-09-27T23%3A33%3A37Z&sp=rl
  response:
    body: {string: 'hello

        '}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D505F7C6D6407B"']
      last-modified: ['Wed, 27 Sep 2017 22:33:29 GMT']
      x-ms-type: [File]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
