interactions:
- request:
    body: 'b''b\''b\\\''{"location": "westeurope", "properties": {"priority": 0, "cluster":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_failed_job_reportingdee81392/providers/Microsoft.BatchAI/clusters/clusterdee81392"},
      "nodeCount": 1, "customToolkitSettings": {"commandLine": "false"}, "stdOutErrPathPrefix":
      "$AZ_BATCHAI_MOUNT_ROOT/azfiles", "inputDirectories": [{"id": "INPUT", "path":
      "$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}], "outputDirectories": [{"id": "OUTPUTS",
      "pathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/", "pathSuffix": "files", "type":
      "custom", "createNew": true}]}}\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_failed_job_reportingdee81392/providers/Microsoft.BatchAI/jobs/job?api-version=2018-03-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/westeurope/operationresults/fe2b7b88-fa58-4575-8e41-fbbbf7a61b18?api-version=2018-03-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/westeurope/operationstatuses/fe2b7b88-fa58-4575-8e41-fbbbf7a61b18?api-version=2018-03-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/westeurope/operationresults/fe2b7b88-fa58-4575-8e41-fbbbf7a61b18?api-version=2018-03-01
  response:
    body: {string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/westeurope/operationresults/fe2b7b88-fa58-4575-8e41-fbbbf7a61b18","name":"fe2b7b88-fa58-4575-8e41-fbbbf7a61b18","status":"Succeeded","startTime":"2018-03-16T04:38:07.595Z","endTime":"2018-03-16T04:38:08.397Z","properties":{"resourceId":"00000000-0000-0000-0000-000000000000$test_mgmt_batchai_jobs_test_failed_job_reportingdee81392$job"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_failed_job_reportingdee81392/providers/Microsoft.BatchAI/jobs/job?api-version=2018-03-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_failed_job_reportingdee81392/providers/Microsoft.BatchAI/jobs/job","name":"job","type":"Microsoft.BatchAI/Jobs","properties":{"priority":0,"cluster":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_failed_job_reportingdee81392/providers/Microsoft.BatchAI/clusters/clusterdee81392"},"jobOutputDirectoryPathSegment":"00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_failed_job_reportingdee81392/jobs/job/0b38ffbc-ae3c-4790-9828-862bafe696d2","nodeCount":1,"toolType":"custom","customToolkitSettings":{"commandLine":"false"},"stdOutErrPathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles","inputDirectories":[{"id":"INPUT","path":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}],"outputDirectories":[{"id":"OUTPUTS","pathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/","pathSuffix":"files","type":"custom","createNew":true}],"constraints":{"maxWallClockTime":"P7D"},"creationTime":"2018-03-16T04:38:07.579Z","provisioningState":"succeeded","provisioningStateTransitionTime":"2018-03-16T04:38:08.366Z","executionState":"failed","executionStateTransitionTime":"2018-03-16T04:38:11.526Z","executionInfo":{"startTime":"2018-03-16T04:38:09.298Z","endTime":"2018-03-16T04:38:11.526Z","exitCode":1,"errors":[{"code":"JobFailed","message":"Job
        failed with non-zero exit code"}]}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D58AF7B7129E2C"']
      last-modified: ['Fri, 16 Mar 2018 04:38:07 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_failed_job_reportingdee81392/providers/Microsoft.BatchAI/jobs/job?api-version=2018-03-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.BatchAI/jobs/job''
        under resource group ''test_mgmt_batchai_jobs_test_failed_job_reportingdee81392''
        was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
version: 1
