interactions:
- request:
    body: '{"location": "northeurope"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_experiments_test_workspaces_isolation7d4e16d3/providers/Microsoft.BatchAI/workspaces/first?api-version=2018-05-01
  response:
    body: {string: '{"error":{"code":"SubscriptionNotFound","message":"The subscription
        ''00000000-0000-0000-0000-000000000000'' could not be found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
version: 1
