interactions:
- request:
    body: '{"location": "northeurope"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_experiments_test_creation_and_deletion90ac16fa/providers/Microsoft.BatchAI/workspaces/workspace?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_experiments_test_creation_and_deletion90ac16fa/providers/Microsoft.BatchAI/workspaces/workspace","name":"workspace","type":"Microsoft.BatchAI/workspaces","location":"northeurope","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2018-06-06T21:45:46.193Z","creationTime":"2018-06-06T21:45:46.193Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D5CBF6DC57FB16"']
      last-modified: ['Wed, 06 Jun 2018 21:45:46 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_experiments_test_creation_and_deletion90ac16fa/providers/Microsoft.BatchAI/workspaces/workspace/experiments/testee?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_experiments_test_creation_and_deletion90ac16fa/providers/Microsoft.BatchAI/workspaces/workspace/experiments/testee","name":"testee","type":"Microsoft.BatchAI/workspaces/experiments","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2018-06-06T21:45:48.938Z","creationTime":"2018-06-06T21:45:48.938Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D5CBF6DDFAAECD"']
      last-modified: ['Wed, 06 Jun 2018 21:45:48 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_experiments_test_creation_and_deletion90ac16fa/providers/Microsoft.BatchAI/workspaces/workspace/experiments?api-version=2018-05-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_experiments_test_creation_and_deletion90ac16fa/providers/Microsoft.BatchAI/workspaces/workspace/experiments/testee","name":"testee","type":"Microsoft.BatchAI/workspaces/experiments","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2018-06-06T21:45:48.938Z","creationTime":"2018-06-06T21:45:48.938Z"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_experiments_test_creation_and_deletion90ac16fa/providers/Microsoft.BatchAI/workspaces/workspace/experiments/testee?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/09de8686-8a9a-41ca-b919-5d57dc44d32d?api-version=2018-05-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationstatuses/09de8686-8a9a-41ca-b919-5d57dc44d32d?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/09de8686-8a9a-41ca-b919-5d57dc44d32d?api-version=2018-05-01
  response:
    body: {string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/09de8686-8a9a-41ca-b919-5d57dc44d32d","name":"09de8686-8a9a-41ca-b919-5d57dc44d32d","status":"Succeeded","startTime":"2018-06-06T21:45:53.435Z","endTime":"2018-06-06T21:45:53.795Z","properties":{"resourceId":"00000000-0000-0000-0000-000000000000$test_mgmt_batchai_experiments_test_creation_and_deletion90ac16fa$workspace$testee"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_experiments_test_creation_and_deletion90ac16fa/providers/Microsoft.BatchAI/workspaces/workspace/experiments/testee?api-version=2018-05-01
  response:
    body: {string: '{"error":{"code":"ExperimentNotFound","message":"The specified
        experiment testee is not found"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: The specified experiment testee is not found}
version: 1
