interactions:
- request:
    body: 'b''b\''b\\\''{"location": "westeurope", "properties": {"priority": 0, "cluster":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_completed_job_termination490915ba/providers/Microsoft.BatchAI/clusters/cluster490915ba"},
      "nodeCount": 1, "customToolkitSettings": {"commandLine": "true"}, "stdOutErrPathPrefix":
      "$AZ_BATCHAI_MOUNT_ROOT/azfiles", "inputDirectories": [{"id": "INPUT", "path":
      "$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}], "outputDirectories": [{"id": "OUTPUTS",
      "pathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles/", "pathSuffix": "files", "type":
      "custom", "createNew": true}]}}\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_completed_job_termination490915ba/providers/Microsoft.BatchAI/jobs/job?api-version=2018-03-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/westeurope/operationresults/f695945d-f8ad-4271-8379-59c75641e1de?api-version=2018-03-01']
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/westeurope/operationstatuses/f695945d-f8ad-4271-8379-59c75641e1de?api-version=2018-03-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/westeurope/operationresults/f695945d-f8ad-4271-8379-59c75641e1de?api-version=2018-03-01
  response:
    body: {string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/westeurope/operationresults/f695945d-f8ad-4271-8379-59c75641e1de","name":"f695945d-f8ad-4271-8379-59c75641e1de","status":"Succeeded","startTime":"2018-03-16T04:24:30.113Z","endTime":"2018-03-16T04:24:30.818Z","properties":{"resourceId":"00000000-0000-0000-0000-000000000000$test_mgmt_batchai_jobs_test_completed_job_termination490915ba$job"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_completed_job_termination490915ba/providers/Microsoft.BatchAI/jobs/job?api-version=2018-03-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_completed_job_termination490915ba/providers/Microsoft.BatchAI/jobs/job","name":"job","type":"Microsoft.BatchAI/Jobs","properties":{"priority":0,"cluster":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_completed_job_termination490915ba/providers/Microsoft.BatchAI/clusters/cluster490915ba"},"jobOutputDirectoryPathSegment":"00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_completed_job_termination490915ba/jobs/job/0d6b79f9-95fe-474f-ba2a-32d473fa3b59","nodeCount":1,"toolType":"custom","customToolkitSettings":{"commandLine":"true"},"stdOutErrPathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles","inputDirectories":[{"id":"INPUT","path":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/input"}],"outputDirectories":[{"id":"OUTPUTS","pathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles/","pathSuffix":"files","type":"custom","createNew":true}],"constraints":{"maxWallClockTime":"P7D"},"creationTime":"2018-03-16T04:24:30.097Z","provisioningState":"succeeded","provisioningStateTransitionTime":"2018-03-16T04:24:30.787Z","executionState":"succeeded","executionStateTransitionTime":"2018-03-16T04:24:35.542Z","executionInfo":{"startTime":"2018-03-16T04:24:32.948Z","endTime":"2018-03-16T04:24:35.542Z","exitCode":0}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D58AF5CFD0A3FB"']
      last-modified: ['Fri, 16 Mar 2018 04:24:30 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_completed_job_termination490915ba/providers/Microsoft.BatchAI/jobs/job/terminate?api-version=2018-03-01
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batchai_jobs_test_completed_job_termination490915ba/providers/Microsoft.BatchAI/jobs/job?api-version=2018-03-01
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.BatchAI/jobs/job''
        under resource group ''test_mgmt_batchai_jobs_test_completed_job_termination490915ba''
        was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
version: 1
