-e ../../../tools/azure-sdk-tools
-e ../../identity/azure-identity
../../core/azure-core
../azure-communication-nspkg
../azure-mgmt-communication
aiohttp>=3.0; python_version >= '3.5'
-e ../../../tools/azure-devtools
