interactions:
- request:
    body: null
    headers:
      x-ms-version: ['2012-03-01']
    method: GET
    uri: https://management.core.windows.net/00000000-0000-0000-0000-000000000000/services/serviceBus/Namespaces/fakesbnamespace
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><entry xmlns="http://www.w3.org/2005/Atom"><id>uuid:0cc618b3-edf8-44ce-8a33-3c05cfa5546e;id=20822580</id><title
        type="text"></title><updated>2015-07-01T00:02:49Z</updated><content type="application/xml"><NamespaceDescription
        xmlns="http://schemas.microsoft.com/netservices/2010/10/servicebus/connect"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Name>fakesbnamespace</Name><Region>West
        US</Region><Status>Active</Status><CreatedAt>2015-06-24T01:08:05.553Z</CreatedAt><ServiceBusEndpoint>https://fakesbnamespace.servicebus.windows.net/</ServiceBusEndpoint><SubscriptionId>daa135f20a854d87bda57e765966cd64</SubscriptionId><Enabled>true</Enabled><Critical>false</Critical><UpdatedAt>2015-06-24T01:08:08.88Z</UpdatedAt><EventHubEnabled>true</EventHubEnabled><NamespaceType>Messaging</NamespaceType><ResourceGroup></ResourceGroup></NamespaceDescription></content></entry>'}
    headers:
      Content-Type: [application/atom+xml; type=entry; charset=utf-8]
      Server-SB: [Service-Bus-Resource-Provider/SN1]
      x-ms-servedbyregion: [ussouth3]
    status: {code: 200, message: OK}
version: 1
