-e ../../../tools/azure-devtools
../../core/azure-core
-e ../../../tools/azure-sdk-tools
../../nspkg/azure-keyvault-nspkg
aiohttp>=3.0
azure-identity
azure-mgmt-keyvault==10.1.0
parameterized>=0.7.3
python-dateutil>=2.8.0