interactions:
- request:
    body: '{"name": "test_delete_queue_tst_dp_async", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:12:53 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"test_delete_queue_tst_dp_async","name":"test_delete_queue_tst_dp_async","offerTTLSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:12:54 GMT
      trace-id: d031272188268fab30890dbea02d22ef
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp_async?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_delete_q_async", "distributionPolicyId": "test_delete_queue_tst_dp_async",
      "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4": false, "key5":
      10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:12:54 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_delete_q_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"test_delete_q_async","name":"test_delete_q_async","distributionPolicyId":"test_delete_queue_tst_dp_async","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_delete_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:12:54 GMT
      trace-id: dd79ec7f5c900cb6382036c730e987d8
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/queues/test_delete_q_async?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:12:54 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_delete_q_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"communicationError":{"code":"NotFound","message":"The item was not
        found.","target":"/routing/queues/test_delete_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      trace-id: 5198fc4db42f2638d08d4c4e42975be5
    status:
      code: 404
      message: Not Found
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/queues/test_delete_q_async?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:12:54 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp_async?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 0b4b947db4adfb09bfffab9fe59e11ff
    status:
      code: 204
      message: No Content
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp_async?api-version=2021-10-20-preview2
version: 1
