{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:09:58 GMT"
      },
      "RequestBody": {
        "name": "test_get_worker_tst_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:09:56 GMT",
        "trace-id": "e56d8365-0b6e-f637-2cd6-2f92e1ef867d"
      },
      "ResponseBody": {
        "id": "test_get_worker_tst_dp_async",
        "name": "test_get_worker_tst_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_get_worker_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:09:59 GMT"
      },
      "RequestBody": {
        "name": "test_get_worker_tst_q_async",
        "distributionPolicyId": "test_get_worker_tst_dp_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:09:57 GMT",
        "trace-id": "365e315c-d74a-98db-1a42-2d57be39b565"
      },
      "ResponseBody": {
        "id": "test_get_worker_tst_q_async",
        "name": "test_get_worker_tst_q_async",
        "distributionPolicyId": "test_get_worker_tst_dp_async",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "test_get_worker_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/tst_get_w_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:09:59 GMT"
      },
      "RequestBody": {
        "queueAssignments": {
          "test_get_worker_tst_q_async": {}
        },
        "totalCapacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 10
          },
          "fakeChannel2": {
            "capacityCostPerJob": 90
          }
        },
        "availableForOffers": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:09:57 GMT",
        "trace-id": "524571bc-7d77-0986-f325-76db32bc22f4"
      },
      "ResponseBody": {
        "id": "tst_get_w_async",
        "state": "inactive",
        "queueAssignments": {
          "test_get_worker_tst_q_async": {}
        },
        "totalCapacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "tst_get_w_async"
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 10
          },
          "fakeChannel2": {
            "capacityCostPerJob": 90
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:10:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "e764ca48-a435-d247-9cdc-3fa316c702ff"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
