interactions:
- request:
    body: '{"name": "tst_list_dp_1", "offerTTLSeconds": 10.0, "mode": {"kind": "best-worker",
      "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 01:37:40 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_list_dp_1", "offerTTLSeconds": 10, "mode":
      {"kind": "best-worker", "scoringRuleOptions": {"scoringParameters": ["jobLabels",
      "workerSelectors"], "allowScoringBatchOfWorkers": false, "descendingOrder":
      true}, "minConcurrentOffers": 1, "maxConcurrentOffers": 1, "bypassSelectors":
      false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Fri, 06 May 2022 01:37:32 GMT
      trace-id:
      - a9c4c74ad6aef49c058f193e4c4095c6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:37:41 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies?maxpagesize=sanitized&api-version=2021-10-20-preview2
  response:
    body: '{"value": [{"etag": "sanitized", "id": "sanitized", "name": "tst_create_dp_1",
      "offerTTLSeconds": 10, "mode": {"kind": "round-robin", "minConcurrentOffers":
      1, "maxConcurrentOffers": 1, "bypassSelectors": false}}, {"etag": "sanitized",
      "id": "sanitized", "name": "tst_update_dp_1", "offerTTLSeconds": 10, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 2, "maxConcurrentOffers": 2,
      "bypassSelectors": false}}], "nextLink": "/routing/distributionPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVVwMmRUUXRiRFJLWjBGQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTkpVMVk2TWlOSlJVODZOalUxTmpjalJsQkRPa0ZuUlVGQlFVRlBRVWhwYldjMGRFSkJSMmRCWkc5VlVrRkJRbmNpTENKeVlXNW5aU0k2ZXlKdGFXNGlPaUlpTENKdFlYZ2lPaUpHUmlKOWZWMD0%3D"}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 2242ad28e0f3918d1ffde4b40d290dfd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:37:41 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies?maxpagesize=sanitized&api-version=2021-10-20-preview2&continuationToken=sanitized
  response:
    body: '{"value": [{"etag": "sanitized", "id": "sanitized", "name": "test_update_queue_tst_dp",
      "offerTTLSeconds": 10, "mode": {"kind": "round-robin", "minConcurrentOffers":
      1, "maxConcurrentOffers": 1, "bypassSelectors": false}}, {"etag": "sanitized",
      "id": "sanitized", "name": "test_delete_queue_tst_dp_async", "offerTTLSeconds":
      10, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1, "bypassSelectors": false}}], "nextLink": "/routing/distributionPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVVwMmRUUXRiRlJOWjBGQlFVRkJRVUZCUFQwalVsUTZNaU5VVWtNNk5DTkpVMVk2TWlOSlJVODZOalUxTmpjalJsQkRPa0ZuUlVGQlFVRkxRVVpGZVdGQlFqSm9Va1ZCUVVoQlBTSXNJbkpoYm1kbElqcDdJbTFwYmlJNklpSXNJbTFoZUNJNklrWkdJbjE5WFE9PQ%3D%3D"}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - c1e479cab1194d157886c6339b20366c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:37:42 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - 8f69d17530593c9d6077145bd790f48b
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:37:42 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - 347b2f46116730a11fd31f25eef6bf30
    status:
      code: 204
      message: No Content
version: 1
