{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:09:46 GMT"
      },
      "RequestBody": {
        "name": "test_get_worker_tst_dp",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:09:44 GMT",
        "trace-id": "7f14ea1b-ccf4-afe0-76d0-1199f783479a"
      },
      "ResponseBody": {
        "id": "test_get_worker_tst_dp",
        "name": "test_get_worker_tst_dp",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_get_worker_tst_q?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:09:46 GMT"
      },
      "RequestBody": {
        "name": "test_get_worker_tst_q",
        "distributionPolicyId": "test_get_worker_tst_dp",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:09:44 GMT",
        "trace-id": "fa06e654-2ee9-b0d7-3cd5-53a7523d7f04"
      },
      "ResponseBody": {
        "id": "test_get_worker_tst_q",
        "name": "test_get_worker_tst_q",
        "distributionPolicyId": "test_get_worker_tst_dp",
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "test_get_worker_tst_q"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/tst_get_w?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:09:47 GMT"
      },
      "RequestBody": {
        "queueAssignments": {
          "test_get_worker_tst_q": {}
        },
        "totalCapacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 10,
            "maxNumberOfJobs": 10
          },
          "fakeChannel2": {
            "capacityCostPerJob": 90,
            "maxNumberOfJobs": 1
          }
        },
        "availableForOffers": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:09:45 GMT",
        "trace-id": "de7fae0d-85b9-d645-a08b-e620eb920035"
      },
      "ResponseBody": {
        "id": "tst_get_w",
        "state": "inactive",
        "queueAssignments": {
          "test_get_worker_tst_q": {}
        },
        "totalCapacity": 100,
        "labels": {
          "key1": "WorkerKey",
          "key2": 10,
          "key3": true,
          "Id": "tst_get_w"
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 10,
            "maxNumberOfJobs": 10
          },
          "fakeChannel2": {
            "capacityCostPerJob": 90,
            "maxNumberOfJobs": 1
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:09:48 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "800cf3f2-7f80-e322-c1c5-a1a8bf960340"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
