interactions:
- request:
    body: '{"name": "test_get_worker_tst_dp_async", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:56 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_worker_tst_dp_async","name":"test_get_worker_tst_dp_async","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:29:58 GMT
      trace-id: 46593a09d8593a570b884cd4b4199177
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_get_worker_tst_q_async", "distributionPolicyId": "test_get_worker_tst_dp_async",
      "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:56 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_get_worker_tst_q_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_worker_tst_q_async","name":"test_get_worker_tst_q_async","distributionPolicyId":"test_get_worker_tst_dp_async","labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"test_get_worker_tst_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:29:58 GMT
      trace-id: 4dc4dc97208887904f45306e476a7d48
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/queues/test_get_worker_tst_q_async?api-version=2022-07-18-preview
- request:
    body: '{"queueAssignments": {"test_get_worker_tst_q_async": {}}, "totalCapacity":
      100, "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}, "tags": {"tag1":
      "WorkerGenericInfo"}, "channelConfigurations": {"fakeChannel1": {"capacityCostPerJob":
      10}, "fakeChannel2": {"capacityCostPerJob": 90}}, "availableForOffers": false}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:57 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/workers/tst_get_w_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_get_w_async","state":"inactive","queueAssignments":{"test_get_worker_tst_q_async":{}},"totalCapacity":100,"labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"tst_get_w_async"},"tags":{"tag1":"WorkerGenericInfo"},"channelConfigurations":{"fakeChannel1":{"capacityCostPerJob":10},"fakeChannel2":{"capacityCostPerJob":90}},"offers":[],"assignedJobs":[],"loadRatio":0,"availableForOffers":false}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:29:58 GMT
      trace-id: cee1bdd50ca515865f0eb0c525657596
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers/tst_get_w_async?api-version=2022-07-18-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:58 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      trace-id: 1929aeffadfd57eb59dd8b704c3aabf0
    status:
      code: 204
      message: No Content
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp_async?api-version=2022-07-18-preview
version: 1
