{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_assignment_scenario_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 09:01:12 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerTtlSeconds": 600.0,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 09:01:11 GMT",
        "trace-id": "f31d4045fe0a737df744e383341532be"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_dp_async",
        "name": "test",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_assignment_scenario_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 09:01:12 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "test_assignment_scenario_tst_dp_async"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 09:01:12 GMT",
        "trace-id": "98c4d6cf01fa73aaae3125d42abe63c6"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_q_async",
        "name": "test",
        "distributionPolicyId": "test_assignment_scenario_tst_dp_async",
        "labels": {
          "Id": "test_assignment_scenario_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 09:01:13 GMT"
      },
      "RequestBody": {
        "queueAssignments": {
          "test_assignment_scenario_tst_q_async": {}
        },
        "totalCapacity": 1,
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 1
          }
        },
        "availableForOffers": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 09:01:12 GMT",
        "trace-id": "fb96b84f9f7b009948eb7f3f810d4882"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_w",
        "state": "active",
        "queueAssignments": {
          "test_assignment_scenario_tst_q_async": {}
        },
        "totalCapacity": 1,
        "labels": {
          "Id": "test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 1
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 09:01:13 GMT"
      },
      "RequestBody": {
        "channelId": "fakeChannel1",
        "queueId": "test_assignment_scenario_tst_q_async",
        "priority": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 09:01:12 GMT",
        "trace-id": "b18cc1cf18bb53583c784c91c8df1f7b"
      },
      "ResponseBody": {
        "id": "assignment_scenario_job_id",
        "jobStatus": "created",
        "channelId": "fakeChannel1",
        "queueId": "test_assignment_scenario_tst_q_async",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 09:01:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 09:01:12 GMT",
        "trace-id": "8355f1e9ec355825d0f5dd0eabe1c4cb"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_w",
        "state": "active",
        "queueAssignments": {
          "test_assignment_scenario_tst_q_async": {}
        },
        "totalCapacity": 1,
        "labels": {
          "Id": "test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 1
          }
        },
        "offers": [
          {
            "id": "4ec97d02-9b4a-4cfd-a1df-be3e43396774",
            "jobId": "assignment_scenario_job_id",
            "capacityCost": 1,
            "offerTimeUtc": "2022-11-09T09:01:12.9496834\u002B00:00",
            "expiryTimeUtc": "2022-11-09T09:11:12.9496845\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w/offers/4ec97d02-9b4a-4cfd-a1df-be3e43396774:accept?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 09:01:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "de361cb3b29d1329bd845b1bcd1c492a"
      },
      "ResponseBody": {
        "assignmentId": "2dd73a94-149c-466d-a832-61ad8b51417e",
        "jobId": "assignment_scenario_job_id",
        "workerId": "test_assignment_scenario_tst_w"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w/offers/4ec97d02-9b4a-4cfd-a1df-be3e43396774:decline?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 09:01:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "fbb2a1acb92a7b64312a47b05ac4a694"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "InternalServerError",
          "message": "An internal server error has occurred.",
          "target": "/routing/workers/test_assignment_scenario_tst_w/offers/4ec97d02-9b4a-4cfd-a1df-be3e43396774:decline"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id:complete?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 09:01:22 GMT"
      },
      "RequestBody": {
        "assignmentId": "2dd73a94-149c-466d-a832-61ad8b51417e"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f08466e88fe2889f82f09650cadd963c"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id:close?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 09:01:22 GMT"
      },
      "RequestBody": {
        "assignmentId": "2dd73a94-149c-466d-a832-61ad8b51417e"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "58a0387d0a465cc2f55ae65561dfb30d"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 09:01:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 09:01:22 GMT",
        "trace-id": "b6eca99af5fab956b83f3d400b0989b0"
      },
      "ResponseBody": {
        "id": "assignment_scenario_job_id",
        "jobStatus": "closed",
        "enqueueTimeUtc": "2022-11-09T09:01:12.6468433\u002B00:00",
        "channelId": "fakeChannel1",
        "queueId": "test_assignment_scenario_tst_q_async",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "2dd73a94-149c-466d-a832-61ad8b51417e": {
            "id": "2dd73a94-149c-466d-a832-61ad8b51417e",
            "workerId": "test_assignment_scenario_tst_w",
            "assignTime": "2022-11-09T09:01:16.060994\u002B00:00",
            "completeTime": "2022-11-09T09:01:21.8598242\u002B00:00",
            "closeTime": "2022-11-09T09:01:22.0440403\u002B00:00"
          }
        },
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_assignment_scenario_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 09:01:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "d66dc6f3fc80692621d1b8f08eece31e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
