interactions:
- request:
    body: '{"name": "test_get_queue_tst_dp_async", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 23:42:31 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_get_queue_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_queue_tst_dp_async","name":"test_get_queue_tst_dp_async","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 17 Aug 2022 23:42:24 GMT
      trace-id: e4841269ef2b0b31d86975d8969a96bc
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_get_queue_tst_dp_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_get_q_async", "distributionPolicyId": "test_get_queue_tst_dp_async",
      "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4": false, "key5":
      10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 23:42:33 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_get_q_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_q_async","name":"test_get_q_async","distributionPolicyId":"test_get_queue_tst_dp_async","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_get_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 17 Aug 2022 23:42:25 GMT
      trace-id: ab8ba23d49245cdab10164d9223fd9d9
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/queues/test_get_q_async?api-version=2022-07-18-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 17 Aug 2022 23:42:36 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_get_queue_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      trace-id: 72eae4e080e44dede8a89af9e68230f8
    status:
      code: 204
      message: No Content
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_get_queue_tst_dp_async?api-version=2022-07-18-preview
version: 1
