{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_exception_policy_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 19:59:16 GMT"
      },
      "RequestBody": {
        "name": "test_update_exception_policy_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 21 Jun 2023 19:59:16 GMT",
        "trace-id": "1591a1e8-30c9-83e3-86c6-d485382abd38"
      },
      "ResponseBody": {
        "id": "test_update_exception_policy_tst_dp",
        "name": "test_update_exception_policy_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_update_exception_policy_tst_q?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 19:59:16 GMT"
      },
      "RequestBody": {
        "name": "test_update_exception_policy_tst_q",
        "distributionPolicyId": "test_update_exception_policy_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 21 Jun 2023 19:59:16 GMT",
        "trace-id": "587005a5-c841-cda8-900f-70aeceb796fe"
      },
      "ResponseBody": {
        "id": "test_update_exception_policy_tst_q",
        "name": "test_update_exception_policy_tst_q",
        "distributionPolicyId": "test_update_exception_policy_tst_dp",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_update_exception_policy_tst_q"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_update_exception_policy_tst_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 19:59:16 GMT"
      },
      "RequestBody": {
        "name": "test_update_exception_policy_tst_cp",
        "fallbackQueueId": "test_update_exception_policy_tst_q"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 21 Jun 2023 19:59:16 GMT",
        "trace-id": "787ca5fa-02ef-9f90-05bf-a2daf500ebf0"
      },
      "ResponseBody": {
        "id": "test_update_exception_policy_tst_cp",
        "name": "test_update_exception_policy_tst_cp",
        "fallbackQueueId": "test_update_exception_policy_tst_q",
        "queueSelectors": [],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 19:59:17 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 21 Jun 2023 19:59:16 GMT",
        "trace-id": "f6df7011-e54e-07b0-af37-92088b24dfb4"
      },
      "ResponseBody": {
        "id": "tst_update_ep",
        "name": "tst_update_ep",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 19:59:17 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep",
        "exceptionRules": {
          "fakeExceptionRuleId": null,
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 21 Jun 2023 19:59:17 GMT",
        "trace-id": "6386306b-e9bc-ca44-3c68-e5c36853b567"
      },
      "ResponseBody": {
        "id": "tst_update_ep",
        "name": "tst_update_ep",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 19:59:17 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_update_exception_policy_tst_q",
                "priority": 1
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 21 Jun 2023 19:59:17 GMT",
        "trace-id": "26ad8f98-f2c3-45e0-b86c-23fc9026796e"
      },
      "ResponseBody": {
        "id": "tst_update_ep",
        "name": "tst_update_ep",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          },
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_update_exception_policy_tst_q",
                "priority": 1,
                "workerSelectors": []
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 19:59:17 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_update_exception_policy_tst_cp"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 21 Jun 2023 19:59:17 GMT",
        "trace-id": "a766e883-7bc3-420f-b43c-bdb8045f089d"
      },
      "ResponseBody": {
        "id": "tst_update_ep",
        "name": "tst_update_ep",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_update_exception_policy_tst_q",
                "priority": 1,
                "workerSelectors": []
              }
            }
          },
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_update_exception_policy_tst_cp",
                "labelsToUpsert": {}
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 19:59:18 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600.0
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 21 Jun 2023 19:59:18 GMT",
        "trace-id": "b704103e-8d79-9a77-79b4-da2fc0981f83"
      },
      "ResponseBody": {
        "id": "tst_update_ep",
        "name": "tst_update_ep",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_update_exception_policy_tst_cp",
                "labelsToUpsert": {}
              }
            }
          },
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 19:59:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "584e54e4-7aa3-8e04-58ab-60faa8d26b0d"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
