interactions:
- request:
    body: '{"name": "test_update_exception_policy_w_kwargs_tst_dp", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:13 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_update_exception_policy_w_kwargs_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_exception_policy_w_kwargs_tst_dp","name":"test_update_exception_policy_w_kwargs_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:14 GMT
      trace-id:
      - 6ad6ad8577c4f0dc6a3925f878b33069
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_update_exception_policy_w_kwargs_tst_q", "distributionPolicyId":
      "test_update_exception_policy_w_kwargs_tst_dp", "labels": {"key1": "QueueKey",
      "key2": 10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:13 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_update_exception_policy_w_kwargs_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_exception_policy_w_kwargs_tst_q","name":"test_update_exception_policy_w_kwargs_tst_q","distributionPolicyId":"test_update_exception_policy_w_kwargs_tst_dp","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_update_exception_policy_w_kwargs_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:15 GMT
      trace-id:
      - 5f3c0b6070bc52f44ba925cfc14e1385
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_update_exception_policy_w_kwargs_tst_cp", "fallbackQueueId":
      "test_update_exception_policy_w_kwargs_tst_q"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:13 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/test_update_exception_policy_w_kwargs_tst_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_exception_policy_w_kwargs_tst_cp","name":"test_update_exception_policy_w_kwargs_tst_cp","fallbackQueueId":"test_update_exception_policy_w_kwargs_tst_q","queueSelectors":[],"workerSelectors":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:15 GMT
      trace-id:
      - a994a87f27ee44e61270a572f6ceb513
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_update_ep_w_kwargs", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:14 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep_w_kwargs","name":"tst_update_ep_w_kwargs","exceptionRules":{"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:15 GMT
      trace-id:
      - 1d53f639cabeddba10373c5424ce0a85
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_update_ep_w_kwargs", "exceptionRules": {"fakeExceptionRuleId":
      null, "fakeExceptionRuleId2": {"trigger": {"kind": "queue-length", "threshold":
      1}, "actions": {"fakeExceptionActionId": {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:14 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep_w_kwargs","name":"tst_update_ep_w_kwargs","exceptionRules":{"fakeExceptionRuleId2":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:16 GMT
      trace-id:
      - 15fb2b729070503a6d86cfb3d349d2c4
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_update_ep_w_kwargs", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "manual-reclassify", "queueId": "test_update_exception_policy_w_kwargs_tst_q",
      "priority": 1}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:14 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep_w_kwargs","name":"tst_update_ep_w_kwargs","exceptionRules":{"fakeExceptionRuleId2":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}},"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"manual-reclassify","queueId":"test_update_exception_policy_w_kwargs_tst_q","priority":1,"workerSelectors":[]}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:16 GMT
      trace-id:
      - ee8b791b3b44c45c8e6b911778b32f1d
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_update_ep_w_kwargs", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "reclassify", "classificationPolicyId": "test_update_exception_policy_w_kwargs_tst_cp"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:15 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep_w_kwargs","name":"tst_update_ep_w_kwargs","exceptionRules":{"fakeExceptionRuleId2":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"manual-reclassify","queueId":"test_update_exception_policy_w_kwargs_tst_q","priority":1,"workerSelectors":[]}}},"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"reclassify","classificationPolicyId":"test_update_exception_policy_w_kwargs_tst_cp","labelsToUpsert":{}}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:16 GMT
      trace-id:
      - 610dd5a9fd89dbb1e33e46228d85c3c3
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_update_ep_w_kwargs", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "wait-time", "thresholdSeconds": 3600.0}, "actions": {"fakeExceptionActionId":
      {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:15 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep_w_kwargs","name":"tst_update_ep_w_kwargs","exceptionRules":{"fakeExceptionRuleId2":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"reclassify","classificationPolicyId":"test_update_exception_policy_w_kwargs_tst_cp","labelsToUpsert":{}}}},"fakeExceptionRuleId":{"trigger":{"kind":"wait-time","thresholdSeconds":3600},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:16 GMT
      trace-id:
      - 4c8f8b366ab64a204ddd914f30e23d70
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:17 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      trace-id:
      - 151b8451d49ea0867e6a16cf2e2dd037
    status:
      code: 204
      message: No Content
version: 1
