{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 12 Jul 2023 19:10:59 GMT"
      },
      "RequestBody": {
        "name": "test_list_classification_policies_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 12 Jul 2023 19:11:00 GMT",
        "trace-id": "5cf67fe9-3353-1642-429a-86864fe320c2"
      },
      "ResponseBody": {
        "id": "test_list_classification_policies_tst_dp",
        "name": "test_list_classification_policies_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_classification_policies_tst_q?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 12 Jul 2023 19:10:59 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "test_list_classification_policies_tst_dp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 12 Jul 2023 19:11:00 GMT",
        "trace-id": "cfdf4c90-0d82-ba3d-01a5-98eda3517adb"
      },
      "ResponseBody": {
        "id": "test_list_classification_policies_tst_q",
        "name": "test",
        "distributionPolicyId": "test_list_classification_policies_tst_dp",
        "labels": {
          "Id": "test_list_classification_policies_tst_q"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_list_cp_1?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 12 Jul 2023 19:10:59 GMT"
      },
      "RequestBody": {
        "name": "tst_list_cp_1",
        "fallbackQueueId": "test_list_classification_policies_tst_q",
        "queueSelectors": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          },
          {
            "kind": "conditional",
            "condition": {
              "kind": "static-rule",
              "value": true
            },
            "queueSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value"
              }
            ]
          },
          {
            "kind": "pass-through",
            "key": "testKey",
            "labelOperator": "equal"
          },
          {
            "kind": "weighted-allocation-queue-selector",
            "allocations": [
              {
                "weight": 1.0,
                "queueSelectors": [
                  {
                    "key": "test_key",
                    "labelOperator": "equal",
                    "value": "test_value"
                  }
                ]
              }
            ]
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "static",
            "workerSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "expiresAfterSeconds": 10.0,
              "expedite": false
            }
          },
          {
            "kind": "conditional",
            "condition": {
              "kind": "static-rule",
              "value": true
            },
            "workerSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value",
                "expiresAfterSeconds": 10.0,
                "expedite": false
              }
            ]
          },
          {
            "[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies?maxpagesize=1\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 12 Jul 2023 19:10:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "cfca8d5c-91ce-8e04-fed1-abd201e00f58"
      },
      "ResponseBody": {
        "value": [
          {
            "classificationPolicy": {
              "id": "tst_list_cp_2",
              "name": "tst_list_cp_2",
              "fallbackQueueId": "test_list_classification_policies_tst_q",
              "queueSelectors": [
                {
                  "kind": "static",
                  "queueSelector": {
                    "key": "test_key",
                    "labelOperator": "equal",
                    "value": "test_value"
                  }
                },
                {
                  "kind": "condition[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies?continuationToken=bWF4cGFnZXNpemU9MSZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNHJWVFZFUVV4Q2NYQkRWUzFPVVZsQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1TTlNWRVE2UVVFOVBTTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPamdqUmxCRE9rRm5SVmRIUWxsRFFVTkRTVVozTkVGMFFtcDZkak15WWk5UFpTOTNVMFpCSzBJNFdVSm5RMEpuTmtWNFFVMUJQU0lzSW5KaGJtZGxJanA3SW0xcGJpSTZJaUlzSW0xaGVDSTZJa1pHSW4xOVhRPT0%3D\u0026api-version=2022-07-18-pre[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies?continuationToken=bWF4cGFnZXNpemU9MSZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNHJWVFZFUVV4Q2NYQkRWU3RPVVZsQlFVRkJRVUZCUFQwalVsUTZNaU5VVWtNNk1pTlNWRVE2UVVFOVBTTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPamdqUmxCRE9rRm5SVmRIUWxsRFFVTkRTVVozTkVGMFFtcDZkak15WWk5UFpTOTNVMFpCSzBJNFdVSm5RMEpuTmtWNFFVMUJQU0lzSW5KaGJtZGxJanA3SW0xcGJpSTZJaUlzSW0xaGVDSTZJa1pHSW4xOVhRPT0%3D\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 12 Jul 2023 19:11:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "b57c4eff-55d6-e126-f3d3-4b336d09159c"
      },
      "ResponseBody": {
        "value": [
          {
            "classificationPolicy": {
              "id": "sdk-mNV1yZwgakmZhiAeqOzvNw--CPEmpty",
              "queueSelectors": [],
              "workerSelectors": []
            },
            "etag": "Sanitized"
          }
        ],
        "nextLink": "/routing/classificationPolicies?continuationToken=bWF4cGFnZXNpemU9MSZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNHJWVFZFUVV4Q2NYQkRWMEpCZDFsQlFVRkJRVUZCUFQwalVsUTZNeU5VVWtNNk15TlNWRVE2UVVFOVBTTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPamdqUmxCRE9rRm5SVmRIUWxsRFFVTkRTVVozTkVGMFFtcDZkak15WWk5UFpTOTNVMFpCSzBJNFdVSm5RMEpuTmtWNFFVMUJQU0lzSW5KaGJtZGxJanA3SW0xcGJpSTZJaUlzSW0xaGVDSTZJa1pHSW4xOVhRPT0%3D"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 12 Jul 2023 19:11:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "99d55d32-d5c8-8663-313e-7c3b7282648c"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
