interactions:
- request:
    body: '{"name": "test_delete_job_tst_dp", "offerTtlSeconds": 10.0, "mode": {"kind":
      "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:13:05 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_delete_job_tst_dp?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"test_delete_job_tst_dp","name":"test_delete_job_tst_dp","offerTTLSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:13:06 GMT
      trace-id:
      - 42185a18d42d280ded8f25140e2de091
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_delete_job_tst_q", "distributionPolicyId": "test_delete_job_tst_dp",
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:13:06 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_delete_job_tst_q?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"test_delete_job_tst_q","name":"test_delete_job_tst_q","distributionPolicyId":"test_delete_job_tst_dp","labels":{"key1":"JobKey","key2":10,"key3":true,"Id":"test_delete_job_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:13:07 GMT
      trace-id:
      - 59c09d4573720dff36864f539df7d443
    status:
      code: 200
      message: OK
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "queueId": "test_delete_job_tst_q", "priority": 10, "requestedWorkerSelectors":
      [{"key": "FakeKey1", "labelOperator": "equal", "value": true}, {"key": "FakeKey2",
      "labelOperator": "notEqual", "value": false}, {"key": "FakeKey3", "labelOperator":
      "lessThan", "value": 10}, {"key": "FakeKey4", "labelOperator": "lessThanEqual",
      "value": 10.01}, {"key": "FakeKey5", "labelOperator": "greaterThan", "value":
      10}, {"key": "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}],
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:13:06 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/jobs/tst_del_job_man?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_del_job_man","channelReference":"fakeChannelRef1","jobStatus":"created","channelId":"fakeChannelId1","queueId":"test_delete_job_tst_q","priority":10,"requestedWorkerSelectors":[{"expedite":false,"key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:13:07 GMT
      trace-id:
      - 3f90d37b72a988d214dff0e43208314b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:13:06 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs/tst_del_job_man?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_del_job_man","channelReference":"fakeChannelRef1","jobStatus":"queued","enqueueTimeUtc":"2022-05-16T21:13:07.4966213+00:00","channelId":"fakeChannelId1","queueId":"test_delete_job_tst_q","priority":10,"requestedWorkerSelectors":[{"expedite":false,"key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:13:07 GMT
      trace-id:
      - 3a52760eaf522c8eea5829d7e27d2a6f
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 16 May 2022 21:13:06 GMT
    method: POST
    uri: https://sanitized.int.communication.azure.net/routing/jobs/tst_del_job_man:cancel?api-version=2021-10-20-preview2
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 851ae76767d7c6d9ec615220900d0292
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:13:07 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs/tst_del_job_man?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"communicationError":{"code":"NotFound","message":"The item was not
        found.","target":"/routing/jobs/tst_del_job_man"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - cf4e30607c2bd6a30b35c75d35e0227b
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:13:07 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_delete_job_tst_dp?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - a6b5a669e380c25eb8dc6c327e51e227
    status:
      code: 204
      message: No Content
version: 1
