interactions:
- request:
    body: '{"name": "test_get_worker_tst_dp_async", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:45:13 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_worker_tst_dp_async","name":"test_get_worker_tst_dp_async","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Thu, 18 Aug 2022 22:45:06 GMT
      trace-id: d035f14ffc5badceb9b2d2e85378acd6
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_get_worker_tst_q_async", "distributionPolicyId": "test_get_worker_tst_dp_async",
      "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:45:15 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_get_worker_tst_q_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_worker_tst_q_async","name":"test_get_worker_tst_q_async","distributionPolicyId":"test_get_worker_tst_dp_async","labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"test_get_worker_tst_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Thu, 18 Aug 2022 22:45:07 GMT
      trace-id: 2f0d8ff74d3343efb46cbe1d75259378
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/queues/test_get_worker_tst_q_async?api-version=2022-07-18-preview
- request:
    body: '{"queueAssignments": {"test_get_worker_tst_q_async": {}}, "totalCapacity":
      100, "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}, "tags": {"tag1":
      "WorkerGenericInfo"}, "channelConfigurations": {"fakeChannel1": {"capacityCostPerJob":
      10}, "fakeChannel2": {"capacityCostPerJob": 90}}, "availableForOffers": false}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:45:16 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/workers/tst_get_w_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_get_w_async","state":"inactive","queueAssignments":{"test_get_worker_tst_q_async":{}},"totalCapacity":100,"labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"tst_get_w_async"},"tags":{"tag1":"WorkerGenericInfo"},"channelConfigurations":{"fakeChannel1":{"capacityCostPerJob":10},"fakeChannel2":{"capacityCostPerJob":90}},"offers":[],"assignedJobs":[],"loadRatio":0,"availableForOffers":false}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Thu, 18 Aug 2022 22:45:09 GMT
      trace-id: e623f5d7362e23edcd3a9ce6c36ebb61
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/workers/tst_get_w_async?api-version=2022-07-18-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 22:45:22 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      trace-id: b2403c4a47db49e370cb797ced35e78f
    status:
      code: 204
      message: No Content
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp_async?api-version=2022-07-18-preview
version: 1
