interactions:
- request:
    body: '{"name": "test_list_classification_policies_tst_dp", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:21:36 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id": "test_list_classification_policies_tst_dp", "name": "test_list_classification_policies_tst_dp",
        "offerTtlSeconds": 10, "mode": {"kind": "round-robin", "minConcurrentOffers":
        1, "maxConcurrentOffers": 1, "bypassSelectors": false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 31 Aug 2022 23:21:36 GMT
      trace-id:
      - 485fef59e9afd1aab42bef14339e7f9c
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_list_classification_policies_tst_q", "distributionPolicyId":
      "test_list_classification_policies_tst_dp", "labels": {"key1": "QueueKey", "key2":
      10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:21:37 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_list_classification_policies_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id": "test_list_classification_policies_tst_q", "name": "test_list_classification_policies_tst_q",
        "distributionPolicyId": "test_list_classification_policies_tst_dp", "labels":
        {"key1": "QueueKey", "key2": 10, "key3": true, "key4": false, "key5": 10.1,
        "Id": "test_list_classification_policies_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 31 Aug 2022 23:21:37 GMT
      trace-id:
      - 374713bca9daa3d4a4f4f0352b6f8057
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_list_cp_1", "fallbackQueueId": "test_list_classification_policies_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:21:37 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id": "tst_list_cp_1", "name": "tst_list_cp_1", "fallbackQueueId":
        "test_list_classification_policies_tst_q", "queueSelectors": [{"kind": "static",
        "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value"}}],
        "prioritizationRule": {"kind": "static-rule", "value": 1}, "workerSelectors":
        [{"kind": "static", "labelSelector": {"ttlSeconds": 10, "expedite": false,
        "state": "active", "key": "test_key", "labelOperator": "equal", "value": "test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 31 Aug 2022 23:21:37 GMT
      trace-id:
      - df54879ba35f76e152ef49f7da4b3bfa
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 31 Aug 2022 23:21:38 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies?maxpagesize=2&api-version=2022-07-18-preview
  response:
    body:
      string: '{"value": [{"classificationPolicy": {"id": "tst_list_cp_1", "name":
        "tst_list_cp_1", "fallbackQueueId": "test_list_classification_policies_tst_q",
        "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key",
        "labelOperator": "equal", "value": "test_value"}}], "prioritizationRule":
        {"kind": "static-rule", "value": 1}, "workerSelectors": [{"kind": "static",
        "labelSelector": {"ttlSeconds": 10, "expedite": false, "state": "active",
        "key": "test_key", "labelOperator": "equal", "value": "test_value"}}]}, "etag":
        "sanitized"}, {"classificationPolicy": {"id": "tst_list_cp_2", "name": "tst_list_cp_2",
        "fallbackQueueId": "test_list_classification_policies_tst_q", "queueSelectors":
        [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
        "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
        "value": 1}, "workerSelectors": [{"kind": "static", "labelSelector": {"ttlSeconds":
        10, "expedite": false, "state": "active", "key": "test_key", "labelOperator":
        "equal", "value": "test_value"}}]}, "etag": "sanitized"}], "nextLink": "/routing/classificationPolicies?continuationToken=bWF4cGFnZXNpemU9MiZhcGktdmVyc2lvbj0yMDIyLTA3LTE4LXByZXZpZXcmY29udGludWF0aW9uVG9rZW49VzNzaWRHOXJaVzRpT2lJclVrbEVPbjVsYnpBeFFVOXJRMDE2TUhOQlowRkJRVUZCUVVGQlBUMGpVbFE2TVNOVVVrTTZNaU5KVTFZNk1pTkpSVTg2TmpVMU5qY2pVVU5HT2pnalJsQkRPa0ZUZDBOQlFVRkJRVUZCUVV4UlNVRkJRVUZCUVVGQlBTSXNJbkpoYm1kbElqcDdJbTFwYmlJNklpSXNJbTFoZUNJNklrWkdJbjE5WFE9PQ%3D%3D"}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 76a9709ef0c33e3a01fae30aa55fbb85
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 31 Aug 2022 23:21:38 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies?continuationToken=bWF4cGFnZXNpemU9MiZhcGktdmVyc2lvbj0yMDIyLTA3LTE4LXByZXZpZXcmY29udGludWF0aW9uVG9rZW49VzNzaWRHOXJaVzRpT2lJclVrbEVPbjVsYnpBeFFVOXJRMDE2TUhOQlowRkJRVUZCUVVGQlBUMGpVbFE2TVNOVVVrTTZNaU5KVTFZNk1pTkpSVTg2TmpVMU5qY2pVVU5HT2pnalJsQkRPa0ZUZDBOQlFVRkJRVUZCUVV4UlNVRkJRVUZCUVVGQlBTSXNJbkpoYm1kbElqcDdJbTFwYmlJNklpSXNJbTFoZUNJNklrWkdJbjE5WFE9PQ==&api-version=2022-07-18-preview
  response:
    body:
      string: '{"value": [{"classificationPolicy": {"id": "tst_list_cp_3", "name":
        "tst_list_cp_3", "fallbackQueueId": "test_list_classification_policies_tst_q",
        "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key",
        "labelOperator": "equal", "value": "test_value"}}], "prioritizationRule":
        {"kind": "static-rule", "value": 1}, "workerSelectors": [{"kind": "static",
        "labelSelector": {"ttlSeconds": 10, "expedite": false, "state": "active",
        "key": "test_key", "labelOperator": "equal", "value": "test_value"}}]}, "etag":
        "sanitized"}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 7fd5a06f3245fbbbb2bc72e3d3aabcbb
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_list_cp_1", "fallbackQueueId": "test_list_classification_policies_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind":
      "static-rule", "value": true}, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:21:38 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id": "tst_list_cp_1", "name": "tst_list_cp_1", "fallbackQueueId":
        "test_list_classification_policies_tst_q", "queueSelectors": [{"kind": "static",
        "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value"}}],
        "prioritizationRule": {"kind": "static-rule", "value": 1}, "workerSelectors":
        [{"kind": "conditional", "condition": {"kind": "static-rule", "value": true},
        "labelSelectors": [{"ttlSeconds": 10, "expedite": false, "state": "active",
        "key": "test_key", "labelOperator": "equal", "value": "test_value"}]}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 31 Aug 2022 23:21:38 GMT
      trace-id:
      - f7f89aa6d5df953377386e496ced6a81
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_list_cp_1", "fallbackQueueId": "test_list_classification_policies_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector",
      "allocations": [{"weight": 1.0, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:21:39 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id": "tst_list_cp_1", "name": "tst_list_cp_1", "fallbackQueueId":
        "test_list_classification_policies_tst_q", "queueSelectors": [{"kind": "static",
        "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value"}}],
        "prioritizationRule": {"kind": "static-rule", "value": 1}, "workerSelectors":
        [{"kind": "weighted-allocation-worker-selector", "allocations": [{"weight":
        1, "labelSelectors": [{"ttlSeconds": 10, "expedite": false, "state": "active",
        "key": "test_key", "labelOperator": "equal", "value": "test_value"}]}]}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 31 Aug 2022 23:21:39 GMT
      trace-id:
      - 77c7827fef9abea04b67e1167c9e8fed
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_list_cp_1", "fallbackQueueId": "test_list_classification_policies_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "1"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value",
      "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:21:40 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id": "tst_list_cp_1", "name": "tst_list_cp_1", "fallbackQueueId":
        "test_list_classification_policies_tst_q", "queueSelectors": [{"kind": "static",
        "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value"}}],
        "prioritizationRule": {"kind": "expression-rule", "language": "powerFx", "expression":
        "1"}, "workerSelectors": [{"kind": "static", "labelSelector": {"ttlSeconds":
        10, "expedite": false, "state": "active", "key": "test_key", "labelOperator":
        "equal", "value": "test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 31 Aug 2022 23:21:40 GMT
      trace-id:
      - 561ab0471fd1e002c0d35db37c47ac7e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_list_cp_1", "fallbackQueueId": "test_list_classification_policies_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUri": "sanitized"}, "workerSelectors": [{"kind": "static", "labelSelector":
      {"key": "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds":
      10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:21:43 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id": "tst_list_cp_1", "name": "tst_list_cp_1", "fallbackQueueId":
        "test_list_classification_policies_tst_q", "queueSelectors": [{"kind": "static",
        "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value"}}],
        "prioritizationRule": {"kind": "azure-function-rule", "functionUri": "sanitized"},
        "workerSelectors": [{"kind": "static", "labelSelector": {"ttlSeconds": 10,
        "expedite": false, "state": "active", "key": "test_key", "labelOperator":
        "equal", "value": "test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 31 Aug 2022 23:21:43 GMT
      trace-id:
      - 494a07e435a03dda3ce2cc11e1b9d330
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_list_cp_1", "fallbackQueueId": "test_list_classification_policies_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUri": "sanitized", "credential": {"functionKey": "sanitized"}}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:21:45 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id": "tst_list_cp_1", "name": "tst_list_cp_1", "fallbackQueueId":
        "test_list_classification_policies_tst_q", "queueSelectors": [{"kind": "static",
        "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value"}}],
        "prioritizationRule": {"kind": "azure-function-rule", "functionUri": "sanitized",
        "credential": {"functionKey": "sanitized"}}, "workerSelectors": [{"kind":
        "static", "labelSelector": {"ttlSeconds": 10, "expedite": false, "state":
        "active", "key": "test_key", "labelOperator": "equal", "value": "test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 31 Aug 2022 23:21:46 GMT
      trace-id:
      - dc58eb418f0a753bc192c3873562fb59
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 31 Aug 2022 23:22:22 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      trace-id:
      - acd09a6ad4fda13c09adf3c5537d6815
    status:
      code: 204
      message: No Content
version: 1
