{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_sch_jobs_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 20:19:07 GMT"
      },
      "RequestBody": {
        "name": "test_list_sch_jobs_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 16:29:38 GMT",
        "trace-id": "59617006-2729-5582-f319-92244e8d85af"
      },
      "ResponseBody": {
        "id": "test_list_sch_jobs_tst_dp",
        "name": "test_list_sch_jobs_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_sch_jobs_tst_q?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 20:19:07 GMT"
      },
      "RequestBody": {
        "name": "test_list_sch_jobs_tst_q",
        "distributionPolicyId": "test_list_sch_jobs_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 16:29:38 GMT",
        "trace-id": "aca3a8c4-01f7-60f2-a3ce-a36ef2098df7"
      },
      "ResponseBody": {
        "id": "test_list_sch_jobs_tst_q",
        "name": "test_list_sch_jobs_tst_q",
        "distributionPolicyId": "test_list_sch_jobs_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "test_list_sch_jobs_tst_q"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_list_sch_job_1?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 20:19:07 GMT"
      },
      "RequestBody": {
        "channelReference": "fakeChannelRef1",
        "channelId": "fakeChannelId1",
        "queueId": "test_list_sch_jobs_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199Z": "Fake notes attached to job"
        },
        "matchingMode": {
          "modeType": "scheduleAndSuspendMode",
          "queueAndMatchMode": null,
          "scheduleAndSuspendMode": {
            "scheduleAt": "2023-07-11T20:19:37.366021Z"
          },
          "suspendMode": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 20:19:07 GMT",
        "trace-id": "7993992b-b543-e9a8-a770-3132635fcc69"
      },
      "ResponseBody": {
        "id": "tst_list_sch_job_1",
        "channelReference": "fakeChannelRef1",
        "status": "pendingSchedule",
        "channelId": "fakeChannelId1",
        "queueId": "test_list_sch_jobs_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199\u002B00:00": "Fake notes attached to job"
        },
        "scheduledAt": "2023-07-11T16:30:09.1948821\u002B00:00",
        "matchingMode": {
          "modeType": "scheduleAndSuspendMode",
          "scheduleAndSuspendMode": {
            "scheduleAt": "2023-07-11T20:19:37.366021\u002B00:00"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs?maxpagesize=2\u0026status=scheduled\u0026queueId=test_list_sch_jobs_tst_q\u0026channelId=fakeChannelId1\u0026scheduledBefore=2023-07-11T20%3A19%3A37.366021Z\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 20:19:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d54cf8d4-1ac7-58d6-23f9-5d6ad211aed1"
      },
      "ResponseBody": {
        "value": [
          {
            "job": {
              "id": "tst_list_sch_job_2",
              "channelReference": "fakeChannelRef1",
              "status": "scheduled",
              "channelId": "fakeChannelId1",
              "queueId": "test_list_sch_jobs_tst_q",
              "priority": 10,
              "requestedWorkerSelectors": [
                {
                  "expedite": false,
                  "status": "active",
                  "key": "FakeKey1",
                  "labelOperator": "equal",
                  "[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_sch_jobs_tst_q?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 20:19:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "743a18b9-970b-7f48-dd38-1a201afb5a66"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- : There is active job with this queue",
          "target": "/routing/queues/test_list_sch_jobs_tst_q"
        }
      }
    }
  ],
  "Variables": {
    "scheduled_time_utc": "2023-07-11T20:19:37.366021Z"
  }
}
