interactions:
- request:
    body: '{"name": "test_update_job_w_cp_tst_dp_async", "offerTtlSeconds": 10.0,
      "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:19:37 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_update_job_w_cp_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_job_w_cp_tst_dp_async","name":"test_update_job_w_cp_tst_dp_async","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Thu, 18 Aug 2022 22:13:02 GMT
      trace-id: 72ed32f87b8fcc29d1ac87d86dfe6fc5
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_update_job_w_cp_tst_dp_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_update_job_w_cp_tst_q_async", "distributionPolicyId": "test_update_job_w_cp_tst_dp_async",
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:19:39 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_update_job_w_cp_tst_q_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_job_w_cp_tst_q_async","name":"test_update_job_w_cp_tst_q_async","distributionPolicyId":"test_update_job_w_cp_tst_dp_async","labels":{"key1":"JobKey","key2":10,"key3":true,"Id":"test_update_job_w_cp_tst_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Thu, 18 Aug 2022 22:13:04 GMT
      trace-id: cb6a169aa3d7a341cff1d09db33c2c80
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/queues/test_update_job_w_cp_tst_q_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_update_job_w_cp_tst_flbk_q_async", "distributionPolicyId":
      "test_update_job_w_cp_tst_dp_async", "labels": {"key1": "JobKey", "key2": 10,
      "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:19:41 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_update_job_w_cp_tst_flbk_q_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_job_w_cp_tst_flbk_q_async","name":"test_update_job_w_cp_tst_flbk_q_async","distributionPolicyId":"test_update_job_w_cp_tst_dp_async","labels":{"key1":"JobKey","key2":10,"key3":true,"Id":"test_update_job_w_cp_tst_flbk_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Thu, 18 Aug 2022 22:13:06 GMT
      trace-id: 1f01dfa8a12029b723372b6c8be1d90f
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/queues/test_update_job_w_cp_tst_flbk_q_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_update_job_w_cp_tst_cp", "fallbackQueueId": "test_update_job_w_cp_tst_flbk_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "Id", "labelOperator":
      "equal", "value": "test_update_job_w_cp_tst_q_async"}}], "prioritizationRule":
      {"kind": "static-rule", "value": 10}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "FakeKeyFromCp", "labelOperator": "equal", "value":
      "FakeValue"}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:19:42 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/test_update_job_w_cp_tst_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_job_w_cp_tst_cp","name":"test_update_job_w_cp_tst_cp","fallbackQueueId":"test_update_job_w_cp_tst_flbk_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"Id","labelOperator":"equal","value":"test_update_job_w_cp_tst_q_async"}}],"prioritizationRule":{"kind":"static-rule","value":10},"workerSelectors":[{"kind":"static","labelSelector":{"expedite":false,"state":"active","key":"FakeKeyFromCp","labelOperator":"equal","value":"FakeValue"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Thu, 18 Aug 2022 22:13:10 GMT
      trace-id: 950747a40adc83e4224a7ecf4ccf35b1
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/test_update_job_w_cp_tst_cp?api-version=2022-07-18-preview
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "classificationPolicyId": "test_update_job_w_cp_tst_cp", "requestedWorkerSelectors":
      [{"key": "FakeKey1", "labelOperator": "equal", "value": true}, {"key": "FakeKey2",
      "labelOperator": "notEqual", "value": false}, {"key": "FakeKey3", "labelOperator":
      "lessThan", "value": 10}, {"key": "FakeKey4", "labelOperator": "lessThanEqual",
      "value": 10.01}, {"key": "FakeKey5", "labelOperator": "greaterThan", "value":
      10}, {"key": "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}],
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:19:43 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/jobs/tst_update_job_cp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_job_cp_async","channelReference":"fakeChannelRef1","jobStatus":"pendingClassification","channelId":"fakeChannelId1","classificationPolicyId":"test_update_job_w_cp_tst_cp","priority":1,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"state":"active","key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"state":"active","key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"state":"active","key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Thu, 18 Aug 2022 22:19:35 GMT
      trace-id: e49b3f291cbbe6022fd2bb8aa1d94c7d
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/tst_update_job_cp_async?api-version=2022-07-18-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 22:19:45 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs/tst_update_job_cp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_job_cp_async","channelReference":"fakeChannelRef1","jobStatus":"pendingClassification","channelId":"fakeChannelId1","classificationPolicyId":"test_update_job_w_cp_tst_cp","queueId":"test_update_job_w_cp_tst_q_async","priority":10,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"state":"active","key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"state":"active","key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"state":"active","key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKeyFromCp","labelOperator":"equal","value":"FakeValue"}],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Thu, 18 Aug 2022 22:19:37 GMT
      trace-id: bd2d6b855eeb36ec39f888bf5f71e673
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/tst_update_job_cp_async?api-version=2022-07-18-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 22:19:48 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs/tst_update_job_cp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_job_cp_async","channelReference":"fakeChannelRef1","jobStatus":"queued","enqueueTimeUtc":"2022-08-18T22:19:38.1091107+00:00","channelId":"fakeChannelId1","classificationPolicyId":"test_update_job_w_cp_tst_cp","queueId":"test_update_job_w_cp_tst_q_async","priority":10,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,[...]
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "classificationPolicyId": "test_update_job_w_cp_tst_cp", "priority": 1, "requestedWorkerSelectors":
      [{"key": "FakeKey1", "labelOperator": "equal", "value": true, "expedite": false},
      {"key": "FakeKey2", "labelOperator": "notEqual", "value": false, "expedite":
      false}, {"key": "FakeKey3", "labelOperator": "lessThan", "value": 10, "expedite":
      false}, {"key": "FakeKey4", "labelOperator": "lessThanEqual", "value": 10.01,
      "expedite": false}, {"key": "FakeKey5", "labelOperator": "greaterThan", "value":
      10, "expedite": false}, {"key": "FakeKey6", "labelOperator": "greaterThanEqual",
      "value": 10, "expedite": false}], "labels": {"key1": "JobKey", "key2": 10, "key3":
      true, "FakeKey": "FakeWorkerValue"}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:19:49 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/jobs/tst_update_job_cp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_job_cp_async","channelReference":"fakeCh[...]
[...]
- request:
    body: '{"note": "Cancelling job after test cleanup after: test_update_job_w_cp",
      "dispositionCode": "JobCancelledAsPartOfTestCleanUp"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 18 Aug 2022 22:19:52 GMT
    method: POST
    uri: https://sanitized.int.communication.azure.net/routing/jobs/tst_update_job_cp_async:cancel?api-version=2022-07-18-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      trace-id: 980273d9f25c343e95db233b66eb0ccd
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/jobs/tst_update_job_cp_async:cancel?api-version=2022-07-18-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 22:20:01 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_update_job_w_cp_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      trace-id: 697fbbc552fc5bda1234bb6919794b50
    status:
      code: 204
      message: No Content
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_update_job_w_cp_tst_dp_async?api-version=2022-07-18-preview
version: 1
