interactions:
- request:
    body: '{"name": "test_update_classification_policy_w_kwargs_tst_dp", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:20:49 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_update_classification_policy_w_kwargs_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_classification_policy_w_kwargs_tst_dp","name":"test_update_classification_policy_w_kwargs_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:20:50 GMT
      trace-id:
      - 2744160e61818b17a8de7017a0141f8b
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_update_classification_policy_w_kwargs_tst_q", "distributionPolicyId":
      "test_update_classification_policy_w_kwargs_tst_dp", "labels": {"key1": "QueueKey",
      "key2": 10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:20:49 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_update_classification_policy_w_kwargs_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_classification_policy_w_kwargs_tst_q","name":"test_update_classification_policy_w_kwargs_tst_q","distributionPolicyId":"test_update_classification_policy_w_kwargs_tst_dp","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_update_classification_policy_w_kwargs_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:20:51 GMT
      trace-id:
      - a0603e3241d28ad6119c320f3562c0a4
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_update_cp_w_kwargs", "fallbackQueueId": "test_update_classification_policy_w_kwargs_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:20:49 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_update_cp_w_kwargs?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_cp_w_kwargs","name":"tst_update_cp_w_kwargs","fallbackQueueId":"test_update_classification_policy_w_kwargs_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:20:51 GMT
      trace-id:
      - 1a41a925ad79878c0d321b3ac41050a0
    status:
      code: 200
      message: OK
- request:
    body: '{"prioritizationRule": {"kind": "expression-rule", "language": "powerFx",
      "expression": "2"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:20:50 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_update_cp_w_kwargs?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_cp_w_kwargs","name":"tst_update_cp_w_kwargs","fallbackQueueId":"test_update_classification_policy_w_kwargs_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"expression-rule","language":"powerFx","expression":"2"},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:20:51 GMT
      trace-id:
      - 5f6d1844d96e93aca8435cbbdabc37fe
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_update_cp_w_kwargs", "fallbackQueueId": "test_update_classification_policy_w_kwargs_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind":
      "static-rule", "value": true}, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:20:50 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_update_cp_w_kwargs?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_cp_w_kwargs","name":"tst_update_cp_w_kwargs","fallbackQueueId":"test_update_classification_policy_w_kwargs_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"conditional","condition":{"kind":"static-rule","value":true},"labelSelectors":[{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}]}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:20:51 GMT
      trace-id:
      - 39d34aa61b9714bd5c7092c2b0221f45
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_update_cp_w_kwargs", "fallbackQueueId": "test_update_classification_policy_w_kwargs_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector",
      "allocations": [{"weight": 1.0, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:20:50 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_update_cp_w_kwargs?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_cp_w_kwargs","name":"tst_update_cp_w_kwargs","fallbackQueueId":"test_update_classification_policy_w_kwargs_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"weighted-allocation-worker-selector","allocations":[{"weight":1,"labelSelectors":[{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}]}]}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:20:52 GMT
      trace-id:
      - cdce01af5cda0f0e4ae820388b56d207
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_update_cp_w_kwargs", "fallbackQueueId": "test_update_classification_policy_w_kwargs_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUri": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:20:52 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_update_cp_w_kwargs?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_cp_w_kwargs","name":"tst_update_cp_w_kwargs","fallbackQueueId":"test_update_classification_policy_w_kwargs_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"azure-function-rule","functionUri":"https://fake.azurewebsites.net/fakeRule"},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:20:53 GMT
      trace-id:
      - fede3e0c3e452ddcf8f6c235b5b5ea21
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_update_cp_w_kwargs", "fallbackQueueId": "test_update_classification_policy_w_kwargs_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUri": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:20:53 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_update_cp_w_kwargs?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_cp_w_kwargs","name":"tst_update_cp_w_kwargs","fallbackQueueId":"test_update_classification_policy_w_kwargs_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"azure-function-rule","functionUri":"https://fake.azurewebsites.net/fakeRule","credential":{"functionKey":"fakeKey"}},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:20:55 GMT
      trace-id:
      - ee883ca02274461e4446e90afbfbf694
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:21:13 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_update_classification_policy_w_kwargs_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      trace-id:
      - c3c93934d216076ea15678272c5dd71a
    status:
      code: 204
      message: No Content
version: 1
