interactions:
- request:
    body: '{"name": "test_create_job_direct_q_tst_dp_async", "offerTtlSeconds": 10.0,
      "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Sun, 15 May 2022 01:04:31 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_create_job_direct_q_tst_dp_async", "offerTtlSeconds":
      10, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1, "bypassSelectors": false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Sun, 15 May 2022 01:04:31 GMT
      trace-id: 742761911acddaacac296e70faad29ba
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_create_job_direct_q_tst_q_async", "distributionPolicyId":
      "sanitized", "labels": {"key1": "JobKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Sun, 15 May 2022 01:04:31 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_create_job_direct_q_tst_q_async", "distributionPolicyId":
      "sanitized", "labels": {"key1": "JobKey", "key2": 10, "key3": true, "Id": "sanitized"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Sun, 15 May 2022 01:04:32 GMT
      trace-id: 1ea3e7a58cb453a8df52206a589c0390
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "queueId": "sanitized", "priority": 10, "requestedWorkerSelectors": [{"key":
      "FakeKey1", "labelOperator": "equal", "value": true}, {"key": "FakeKey2", "labelOperator":
      "notEqual", "value": false}, {"key": "FakeKey3", "labelOperator": "lessThan",
      "value": 10}, {"key": "FakeKey4", "labelOperator": "lessThanEqual", "value":
      10.01}, {"key": "FakeKey5", "labelOperator": "greaterThan", "value": 10}, {"key":
      "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}], "labels": {"key1":
      "JobKey", "key2": 10, "key3": true}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Sun, 15 May 2022 01:04:31 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "channelReference": "fakeChannelRef1", "jobStatus":
      "created", "channelId": "fakeChannelId1", "queueId": "sanitized", "priority":
      10, "requestedWorkerSelectors": [{"expedite": false, "key": "FakeKey1", "labelOperator":
      "equal", "value": true}, {"expedite": false, "key": "FakeKey2", "labelOperator":
      "notEqual", "value": false}, {"expedite": false, "key": "FakeKey3", "labelOperator":
      "lessThan", "value": 10}, {"expedite": false, "key": "FakeKey4", "labelOperator":
      "lessThanEqual", "value": 10.01}, {"expedite": false, "key": "FakeKey5", "labelOperator":
      "greaterThan", "value": 10}, {"expedite": false, "key": "FakeKey6", "labelOperator":
      "greaterThanEqual", "value": 10}], "attachedWorkerSelectors": [], "labels":
      {"key1": "JobKey", "key2": 10, "key3": true}, "assignments": {}, "tags": {"tag1":
      "WorkerGenericInfo"}, "notes": {"2022-05-13T16:59:04.531199+00:00": "Fake notes
      attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Sun, 15 May 2022 01:04:32 GMT
      trace-id: ebfd2b98e8868f521ce9275b7b80dd0d
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Sun, 15 May 2022 01:04:32 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "channelReference": "fakeChannelRef1", "jobStatus":
      "queued", "enqueueTimeUtc": "2022-05-15T01:04:32.5258927+00:00", "channelId":
      "fakeChannelId1", "queueId": "sanitized", "priority": 10, "requestedWorkerSelectors":
      [{"expedite": false, "key": "FakeKey1", "labelOperator": "equal", "value": true},
      {"expedite": false, "key": "FakeKey2", "labelOperator": "notEqual", "value":
      false}, {"expedite": false, "key": "FakeKey3", "labelOperator": "lessThan",
      "value": 10}, {"expedite": false, "key": "FakeKey4", "labelOperator": "lessThanEqual",
      "value": 10.01}, {"expedite": false, "key": "FakeKey5", "labelOperator": "greaterThan",
      "value": 10}, {"expedite": false, "key": "FakeKey6", "labelOperator": "greaterThanEqual",
      "value": 10}], "attachedWorkerSelectors": [], "labels": {"key1": "JobKey", "key2":
      10, "key3": true}, "assignments": {}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199+00:00": "Fake notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Sun, 15 May 2022 01:04:32 GMT
      trace-id: a7a00280f0ca6f2c185db5d9dd4dc0e0
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"note": "Cancelling job after test cleanup after: test_create_job_direct_q",
      "dispositionCode": "JobCancelledAsPartOfTestCleanUp"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Sun, 15 May 2022 01:04:32 GMT
    method: POST
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      trace-id: db2db8175babc3b05fce6ab8d83096e5
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Sun, 15 May 2022 01:04:32 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 2a275d77b80e849434e091f8909daa49
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Sun, 15 May 2022 01:04:33 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 33daa45fb11648f73d7f242d866f2d9d
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
version: 1
