interactions:
- request:
    body: '{"name": "tst_delete_dp", "offerTtlSeconds": 10.0, "mode": {"kind": "best-worker",
      "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:12:01 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/tst_delete_dp?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_delete_dp","name":"tst_delete_dp","offerTTLSeconds":10,"mode":{"kind":"best-worker","scoringRuleOptions":{"scoringParameters":["jobLabels","workerSelectors"],"allowScoringBatchOfWorkers":false,"descendingOrder":true},"minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:12:02 GMT
      trace-id:
      - e9736dd3f7950c105f1c34eb7966fe4b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:12:01 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/tst_delete_dp?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"communicationError":{"code":"NotFound","message":"The item was not
        found.","target":"/routing/distributionPolicies/tst_delete_dp"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - b77f64454e6c1d000f983bbbc9605d71
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:12:02 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/tst_delete_dp?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"communicationError":{"code":"NotFound","message":"The item was not
        found.","target":"/routing/distributionPolicies/tst_delete_dp"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - dc05e726adb259144d4fa256786c5af0
    status:
      code: 404
      message: Not Found
version: 1
