{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_job_w_cp_w_kwargs_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:59:26 GMT"
      },
      "RequestBody": {
        "name": "test_update_job_w_cp_w_kwargs_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:59:26 GMT",
        "trace-id": "42253833-4b36-22fc-060c-8960287816a7"
      },
      "ResponseBody": {
        "id": "test_update_job_w_cp_w_kwargs_tst_dp_async",
        "name": "test_update_job_w_cp_w_kwargs_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_update_job_w_cp_w_kwargs_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:59:26 GMT"
      },
      "RequestBody": {
        "name": "test_update_job_w_cp_w_kwargs_tst_q_async",
        "distributionPolicyId": "test_update_job_w_cp_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:59:26 GMT",
        "trace-id": "adeff24c-81ab-0d3c-21f4-fcfd13d83bad"
      },
      "ResponseBody": {
        "id": "test_update_job_w_cp_w_kwargs_tst_q_async",
        "name": "test_update_job_w_cp_w_kwargs_tst_q_async",
        "distributionPolicyId": "test_update_job_w_cp_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "test_update_job_w_cp_w_kwargs_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_update_job_w_cp_w_kwargs_tst_flbk_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:59:27 GMT"
      },
      "RequestBody": {
        "name": "test_update_job_w_cp_w_kwargs_tst_flbk_q_async",
        "distributionPolicyId": "test_update_job_w_cp_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:59:27 GMT",
        "trace-id": "0b2e7088-6af7-ed61-f224-b280c9616ed7"
      },
      "ResponseBody": {
        "id": "test_update_job_w_cp_w_kwargs_tst_flbk_q_async",
        "name": "test_update_job_w_cp_w_kwargs_tst_flbk_q_async",
        "distributionPolicyId": "test_update_job_w_cp_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "test_update_job_w_cp_w_kwargs_tst_flbk_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_update_job_w_cp_w_kwargs_tst_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:59:27 GMT"
      },
      "RequestBody": {
        "name": "test_update_job_w_cp_w_kwargs_tst_cp",
        "fallbackQueueId": "test_update_job_w_cp_w_kwargs_tst_flbk_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "test_update_job_w_cp_w_kwargs_tst_q_async"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": [
          {
            "kind": "static",
            "workerSelector": {
              "key": "FakeKeyFromCp",
              "labelOperator": "equal",
              "value": "FakeValue"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:59:27 GMT",
        "trace-id": "b6fa5d3e-f509-592b-3f56-cf06cc6dbee6"
      },
      "ResponseBody": {
        "id": "test_update_job_w_cp_w_kwargs_tst_cp",
        "name": "test_update_job_w_cp_w_kwargs_tst_cp",
        "fallbackQueueId": "test_update_job_w_cp_w_kwargs_tst_flbk_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "test_update_job_w_cp_w_kwargs_tst_q_async"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": [
          {
            "kind": "static",
            "workerSelector": {
              "expedite": false,
              "status": "active",
              "key": "FakeKeyFromCp",
              "labelOperator": "equal",
              "value": "FakeValue"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_cp_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:59:27 GMT"
      },
      "RequestBody": {
        "channelReference": "fakeChannelRef1",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "test_update_job_w_cp_w_kwargs_tst_cp",
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199Z": "Fake notes attached to job"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:59:27 GMT",
        "trace-id": "910ceb1e-3e51-665f-0a0c-889bb422d6a1"
      },
      "ResponseBody": {
        "id": "tst_update_job_cp_w_kwargs_async",
        "channelReference": "fakeChannelRef1",
        "status": "pendingClassification",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "test_update_job_w_cp_w_kwargs_tst_cp",
        "priority": 1,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199\u002B00:00": "Fake notes attached to job"
        },
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {}
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_cp_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:59:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:59:27 GMT",
        "trace-id": "ec5b6d18-7e79-1efa-ea10-fc32012289e6"
      },
      "ResponseBody": {
        "id": "tst_update_job_cp_w_kwargs_async",
        "channelReference": "fakeChannelRef1",
        "status": "queued",
        "enqueuedAt": "2023-07-11T21:59:27.9501268\u002B00:00",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "test_update_job_w_cp_w_kwargs_tst_cp",
        "queueId": "test_update_job_w_cp_w_kwargs_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
          [...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_cp_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:59:30 GMT"
      },
      "RequestBody": {
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "FakeKey": "FakeWorkerValue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:59:30 GMT",
        "trace-id": "6453d0e9-3873-237a-4005-c4f07eef7ed2"
      },
      "ResponseBody": {
        "id": "tst_update_job_cp_w_kwargs_async",
        "channelReference": "fakeChannelRef1"[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_cp_w_kwargs_async:cancel?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:59:34 GMT"
      },
      "RequestBody": {
        "dispositionCode": "JobCancelledAsPartOfTestCleanUp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "c21c2a15-f337-f386-ccc5-a2796b19a216"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_job_w_cp_w_kwargs_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:59:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "c07fb040-22da-40c8-06ac-6fb48adaed4e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
