interactions:
- request:
    body: '{"name": "test_create_worker_tst_dp", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:33:28 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_create_worker_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_create_worker_tst_dp","name":"test_create_worker_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 22:33:22 GMT
      trace-id:
      - 89c86cf3fde0a38fc2bc5438b6865a7a
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_create_worker_tst_q", "distributionPolicyId": "test_create_worker_tst_dp",
      "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:33:30 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_create_worker_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_create_worker_tst_q","name":"test_create_worker_tst_q","distributionPolicyId":"test_create_worker_tst_dp","labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"test_create_worker_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 22:33:23 GMT
      trace-id:
      - 32b01a389f82cfc238c9d3dd253a822b
    status:
      code: 200
      message: OK
- request:
    body: '{"queueAssignments": {"test_create_worker_tst_q": {}}, "totalCapacity":
      100, "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}, "tags": {"tag1":
      "WorkerGenericInfo"}, "channelConfigurations": {"fakeChannel1": {"capacityCostPerJob":
      10}, "fakeChannel2": {"capacityCostPerJob": 90}}, "availableForOffers": false}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:33:32 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/workers/tst_create_w?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_create_w","state":"inactive","queueAssignments":{"test_create_worker_tst_q":{}},"totalCapacity":100,"labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"tst_create_w"},"tags":{"tag1":"WorkerGenericInfo"},"channelConfigurations":{"fakeChannel1":{"capacityCostPerJob":10},"fakeChannel2":{"capacityCostPerJob":90}},"offers":[],"assignedJobs":[],"loadRatio":0,"availableForOffers":false}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 22:33:25 GMT
      trace-id:
      - cc3f81f5bf99b1dc9646d2a9b2ae06d1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 22:33:37 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_create_worker_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      trace-id:
      - 34a1783c36b96c7124b8749e6dd1671c
    status:
      code: 204
      message: No Content
version: 1
