interactions:
- request:
    body: '{"name": "test_list_workers_tst_dp", "offerTtlSeconds": 10.0, "mode": {"kind":
      "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:31:40 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_list_workers_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_list_workers_tst_dp","name":"test_list_workers_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 22:31:32 GMT
      trace-id:
      - 5b101e04eaf430c0e2d3eb2b0cc0fc33
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_list_workers_tst_q", "distributionPolicyId": "test_list_workers_tst_dp",
      "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:31:41 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_list_workers_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_list_workers_tst_q","name":"test_list_workers_tst_q","distributionPolicyId":"test_list_workers_tst_dp","labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"test_list_workers_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 22:31:34 GMT
      trace-id:
      - 88059d958cc14cd971c8eccbbebcedb6
    status:
      code: 200
      message: OK
- request:
    body: '{"queueAssignments": {"test_list_workers_tst_q": {}}, "totalCapacity":
      100, "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}, "tags": {"tag1":
      "WorkerGenericInfo"}, "channelConfigurations": {"fakeChannel1": {"capacityCostPerJob":
      10}, "fakeChannel2": {"capacityCostPerJob": 90}}, "availableForOffers": false}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 22:31:44 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/workers/tst_list_w_1?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_list_w_1","state":"inactive","queueAssignments":{"test_list_workers_tst_q":{}},"totalCapacity":100,"labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"tst_list_w_1"},"tags":{"tag1":"WorkerGenericInfo"},"channelConfigurations":{"fakeChannel1":{"capacityCostPerJob":10},"fakeChannel2":{"capacityCostPerJob":90}},"offers":[],"assignedJobs":[],"loadRatio":0,"availableForOffers":false}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 22:31:36 GMT
      trace-id:
      - 1887811dd8fcd449a01c42a04bf8a0d5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 22:31:48 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/workers?maxpagesize=2&status=inactive&channelId=fakeChannel1&queueId=test_list_workers_tst_q&api-version=2022-07-18-preview
  response:
    body:
      string: '{"value":[{"routerWorker":{"id":"tst_list_w_1","state":"inactive","queueAssignments":{"test_list_workers_tst_q":{}},"totalCapacity":100,"labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"tst_list_w_1"},"tags":{"tag1":"WorkerGenericInfo"},"channelConfigurations":{"fakeChannel1":{"capacityCostPerJob":10},"fakeChannel2":{"capacityCostPerJob":90}},"offers":[],"assignedJobs":[],"loadRatio":0,"availableForOffers":false},"etag":"\"00000000-0000-0000-d45a-52696981da08\""},{"routerWorker":{"id":"tst_list_w_2","state":"inactive","queueAssignments":{"test_list_workers_tst_q":{}},"totalCapacity":100,"labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"tst_list_w_2"},"tags":{"tag1":"WorkerGenericInfo"},"channelConfigurations":{"fakeChannel1":{"capacityCostPerJob":10},"fakeChannel2":{"capacityCostPerJob":90}},"offers":[],"assignedJobs":[],"loadRatio":0,"availableForOffers":false},"etag":"\"00000000-0000-0000-d78f-606a6981da08\""}],"nextLink":"/routing/workers?continuationToken=bWF4cGFnZXNpemU9MiZzdGF0dXM9aW5hY3RpdmUmY2hhbm5lbElkPWZha2VDaGFubmVsMSZxdWV1ZUlkPXRlc3RfbGlzdF93b3JrZXJzX3RzdF9xJmFwaS12ZXJzaW9uPTIwMjItMDctMTgtcHJldmlldyZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVVwQmJrZDJUbnBQWjBsQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPamdqUmxCRE9rRllUVFpCWjBGQlFVRkJRV1JFYjBOQlFVRkJRVUZCUFNJc0luSmhibWRsSWpwN0ltMXBiaUk2SWlJc0ltMWhlQ0k2SWtaR0luMTlYUT09"}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 8c04d1c15092e4ee3111ac78070aced5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 22:31:49 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/workers?continuationToken=bWF4cGFnZXNpemU9MiZzdGF0dXM9aW5hY3RpdmUmY2hhbm5lbElkPWZha2VDaGFubmVsMSZxdWV1ZUlkPXRlc3RfbGlzdF93b3JrZXJzX3RzdF9xJmFwaS12ZXJzaW9uPTIwMjItMDctMTgtcHJldmlldyZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVVwQmJrZDJUbnBQWjBsQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPamdqUmxCRE9rRllUVFpCWjBGQlFVRkJRV1JFYjBOQlFVRkJRVUZCUFNJc0luSmhibWRsSWpwN0ltMXBiaUk2SWlJc0ltMWhlQ0k2SWtaR0luMTlYUT09&api-version=2022-07-18-preview
  response:
    body:
      string: '{"value":[{"routerWorker":{"id":"tst_list_w_3","state":"inactive","queueAssignments":{"test_list_workers_tst_q":{}},"totalCapacity":100,"labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"tst_list_w_3"},"tags":{"tag1":"WorkerGenericInfo"},"channelConfigurations":{"fakeChannel1":{"capacityCostPerJob":10},"fakeChannel2":{"capacityCostPerJob":90}},"offers":[],"assignedJobs":[],"loadRatio":0,"availableForOffers":false},"etag":"\"00000000-0000-0000-c540-216b6981da08\""}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 0d5700f12c3705fc5a449d011095627f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 22:31:58 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_list_workers_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      trace-id:
      - d8e754b91e2374bbf5ed734b516a74b4
    status:
      code: 204
      message: No Content
version: 1
