interactions:
- request:
    body: '{"name": "test_create_queue_tst_dp_async", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:06 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_create_queue_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_create_queue_tst_dp_async","name":"test_create_queue_tst_dp_async","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:28:08 GMT
      trace-id: e86757143818dcf32af089ba1a75bd5e
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/test_create_queue_tst_dp_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_create_q_async", "distributionPolicyId": "test_create_queue_tst_dp_async",
      "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4": false, "key5":
      10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:06 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_create_q_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_create_q_async","name":"test_create_q_async","distributionPolicyId":"test_create_queue_tst_dp_async","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_create_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:28:08 GMT
      trace-id: 8ad60cfcfd31044bf78d013c0738c47c
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/queues/test_create_q_async?api-version=2022-07-18-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:07 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_create_queue_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      trace-id: 39318de141f07a09e9b36568ffccfbfa
    status:
      code: 204
      message: No Content
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/test_create_queue_tst_dp_async?api-version=2022-07-18-preview
version: 1
