{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_classification_policy_w_kwargs_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:05:28 GMT"
      },
      "RequestBody": {
        "name": "test_update_classification_policy_w_kwargs_tst_dp",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:05:28 GMT",
        "trace-id": "32b82f80-b74b-b884-62bf-3ce2ac63c76a"
      },
      "ResponseBody": {
        "id": "test_update_classification_policy_w_kwargs_tst_dp",
        "name": "test_update_classification_policy_w_kwargs_tst_dp",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_update_classification_policy_w_kwargs_tst_q?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:05:28 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "test_update_classification_policy_w_kwargs_tst_dp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:05:29 GMT",
        "trace-id": "4d6e6fe2-26bc-3fb5-61fa-cc6c5892a2f1"
      },
      "ResponseBody": {
        "id": "test_update_classification_policy_w_kwargs_tst_q",
        "name": "test",
        "distributionPolicyId": "test_update_classification_policy_w_kwargs_tst_dp",
        "labels": {
          "Id": "test_update_classification_policy_w_kwargs_tst_q"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_update_cp_w_kwargs?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:05:29 GMT"
      },
      "RequestBody": {
        "name": "tst_update_cp_w_kwargs",
        "fallbackQueueId": "test_update_classification_policy_w_kwargs_tst_q",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          },
          {
            "kind": "conditional",
            "condition": {
              "kind": "static-rule",
              "value": true
            },
            "labelSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value"
              }
            ]
          },
          {
            "kind": "rule-engine",
            "rule": {
              "kind": "static-rule",
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "value": "test_value"
                }
              ]
            }
          },
          {
            "kind": "pass-through",
            "key": "testKey",
            "labelOperator": "equal"
          },
          {
            "kind": "weighted-allocation-queue-selector",
            "allocations": [
              {
                "weight": 1.0,
                "labelSelectors": [
                  {
                    "key": "test_key",
                    "labelOperator": "equal",
                    "value": "test_value"
                  }
                ]
              }
            ]
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          },
          {
            "kind": "conditional",
            "condition": {
              "kind": "static-rule",
              "value": true
            },
            "labelSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value",
                "ttlSeconds": 10.0,
                "expedite": false
              }
            ]
          },
          {
            "kind": "ru[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_update_cp_w_kwargs?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:05:29 GMT"
      },
      "RequestBody": {
        "prioritizationRule": {
          "kind": "expression-rule",
          "language": "powerFx",
          "expression": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:05:30 GMT",
        "trace-id": "bdc054be-0e34-4ba6-f5ff-194e6f9e4bb0"
      },
      "ResponseBody": {
        "id": "tst_update_cp_w_kwargs",
        "name": "tst_update_cp_w_kwargs",
        "fallbackQueueId": [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_classification_policy_w_kwargs_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:05:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "02c9a9d3-210d-f7df-a0cd-8379fa3fb8c9"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
