interactions:
- request:
    body: '{"name": "test_create_job_w_cp_tst_dp", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:28 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_create_job_w_cp_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_create_job_w_cp_tst_dp","name":"test_create_job_w_cp_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:30 GMT
      trace-id:
      - 3437efac679840965b57dcaefc416bac
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_create_job_w_cp_tst_q", "distributionPolicyId": "test_create_job_w_cp_tst_dp",
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:28 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_create_job_w_cp_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_create_job_w_cp_tst_q","name":"test_create_job_w_cp_tst_q","distributionPolicyId":"test_create_job_w_cp_tst_dp","labels":{"key1":"JobKey","key2":10,"key3":true,"Id":"test_create_job_w_cp_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:30 GMT
      trace-id:
      - aac618e75a65d56625dd4af2436da9ed
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_create_job_w_cp_tst_flbk_q", "distributionPolicyId": "test_create_job_w_cp_tst_dp",
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:29 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_create_job_w_cp_tst_flbk_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_create_job_w_cp_tst_flbk_q","name":"test_create_job_w_cp_tst_flbk_q","distributionPolicyId":"test_create_job_w_cp_tst_dp","labels":{"key1":"JobKey","key2":10,"key3":true,"Id":"test_create_job_w_cp_tst_flbk_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:30 GMT
      trace-id:
      - 0803f38a8d5a8ecaa6002c911a47c9a0
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_create_job_w_cp_tst_cp", "fallbackQueueId": "test_create_job_w_cp_tst_flbk_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "Id", "labelOperator":
      "equal", "value": "test_create_job_w_cp_tst_q"}}], "prioritizationRule": {"kind":
      "static-rule", "value": 10}, "workerSelectors": [{"kind": "static", "labelSelector":
      {"key": "FakeKeyFromCp", "labelOperator": "equal", "value": "FakeValue"}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:29 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/test_create_job_w_cp_tst_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_create_job_w_cp_tst_cp","name":"test_create_job_w_cp_tst_cp","fallbackQueueId":"test_create_job_w_cp_tst_flbk_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"Id","labelOperator":"equal","value":"test_create_job_w_cp_tst_q"}}],"prioritizationRule":{"kind":"static-rule","value":10},"workerSelectors":[{"kind":"static","labelSelector":{"expedite":false,"state":"active","key":"FakeKeyFromCp","labelOperator":"equal","value":"FakeValue"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:31 GMT
      trace-id:
      - 70919db77fe8d2ba2dc2ec7c1ef01ba2
    status:
      code: 200
      message: OK
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "classificationPolicyId": "test_create_job_w_cp_tst_cp", "requestedWorkerSelectors":
      [{"key": "FakeKey1", "labelOperator": "equal", "value": true}, {"key": "FakeKey2",
      "labelOperator": "notEqual", "value": false}, {"key": "FakeKey3", "labelOperator":
      "lessThan", "value": 10}, {"key": "FakeKey4", "labelOperator": "lessThanEqual",
      "value": 10.01}, {"key": "FakeKey5", "labelOperator": "greaterThan", "value":
      10}, {"key": "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}],
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:29 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_create_job_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_create_job_cp","channelReference":"fakeChannelRef1","jobStatus":"pendingClassification","channelId":"fakeChannelId1","classificationPolicyId":"test_create_job_w_cp_tst_cp","priority":1,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"state":"active","key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"state":"active","key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"state":"active","key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:31 GMT
      trace-id:
      - 7b820d75e0f3b70bb807093a5b39d18e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:29 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_create_job_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_create_job_cp","channelReference":"fakeChannelRef1","jobStatus":"pendingClassification","channelId":"fakeChannelId1","classificationPolicyId":"test_create_job_w_cp_tst_cp","queueId":"test_create_job_w_cp_tst_q","priority":10,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"state":"active","key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"state":"active","key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"state":"active","key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKeyFromCp","labelOperator":"equal","value":"FakeValue"}],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:31 GMT
      trace-id:
      - dd000ce3c0bf8d34b91bcef8d1564fc2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:33 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_create_job_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_create_job_cp","channelReference":"fakeChannelRef1","jobStatus":"queued","enqueueTimeUtc":"2022-08-30T23:28:31.5994247+00:00","channelId":"fakeChannelId1","classificationPolicyId":"test_create_job_w_cp_tst_cp","queueId":"test_create_job_w_cp_tst_q","priority":10,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"state":"active","key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"state":"active","key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"state":"active","key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKeyFromCp","labelOperator":"equal","value":"FakeValue"}],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:31 GMT
      trace-id:
      - 5078e70057e1f5767137205dba900bf6
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dispositionCode": "JobCancelledAsPartOfTestCleanUp"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:35 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_create_job_cp:cancel?api-version=2022-07-18-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 07a355416cfe30842b9e673853ffce2a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:36 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_create_job_w_cp_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      trace-id:
      - 10c568f3334814dac7166ac6f7d8396f
    status:
      code: 204
      message: No Content
version: 1
