interactions:
- request:
    body: '{"name": "test_get_queue_tst_dp_async", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 17:59:50 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_get_queue_tst_dp_async", "offerTTLSeconds":
      10, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1, "bypassSelectors": false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Fri, 06 May 2022 17:59:44 GMT
      trace-id: 05a13ea1d433a301819a78ed34400163
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_get_q_async", "distributionPolicyId": "sanitized", "labels":
      {"key1": "QueueKey", "key2": 10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 17:59:50 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_get_q_async", "distributionPolicyId":
      "sanitized", "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4":
      false, "key5": 10.1, "Id": "sanitized"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Fri, 06 May 2022 17:59:44 GMT
      trace-id: 3eb377bd34c1a53c8a4d100090448451
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Fri, 06 May 2022 17:59:50 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 859959b94572f168bef5188283259f20
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Fri, 06 May 2022 17:59:51 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 771e1303f0039d9d9362bf193c9f2ab1
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
version: 1
