{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/tst_update_dp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 19:58:46 GMT"
      },
      "RequestBody": {
        "name": "tst_update_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 21 Jun 2023 19:58:46 GMT",
        "trace-id": "762da211-2b06-b913-a434-5a47d974cbed"
      },
      "ResponseBody": {
        "id": "tst_update_dp",
        "name": "tst_update_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "best-worker",
          "scoringRuleOptions": {
            "scoringParameters": [
              "jobLabels",
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/tst_update_dp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 21 Jun 2023 19:58:47 GMT"
      },
      "RequestBody": {
        "name": "tst_update_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 2,
          "maxConcurrentOffers": 2
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 21 Jun 2023 19:58:46 GMT",
        "trace-id": "61f4efe4-d614-ab1e-f3bc-e44a0f0b342a"
      },
      "ResponseBody": {
        "id": "tst_update_dp",
        "name": "tst_update_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 2,
          "maxConcurrentOffers": 2,
          "bypassSelectors": false
        }
      }
    }
  ],
  "Variables": {}
}
