{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_exception_policies_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:48:43 GMT"
      },
      "RequestBody": {
        "name": "test_list_exception_policies_tst_dp_async",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:48:43 GMT",
        "trace-id": "e79d86b4-c84e-4e8e-8b80-686eeb4f34e1"
      },
      "ResponseBody": {
        "id": "test_list_exception_policies_tst_dp_async",
        "name": "test_list_exception_policies_tst_dp_async",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_exception_policies_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:48:44 GMT"
      },
      "RequestBody": {
        "name": "test_list_exception_policies_tst_q_async",
        "distributionPolicyId": "test_list_exception_policies_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:48:44 GMT",
        "trace-id": "7e2debf2-98a6-66cf-95c2-bb2aa6508335"
      },
      "ResponseBody": {
        "id": "test_list_exception_policies_tst_q_async",
        "name": "test_list_exception_policies_tst_q_async",
        "distributionPolicyId": "test_list_exception_policies_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_list_exception_policies_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_list_exception_policies_tst_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:48:44 GMT"
      },
      "RequestBody": {
        "name": "test_list_exception_policies_tst_cp_async",
        "fallbackQueueId": "test_list_exception_policies_tst_q_async"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:48:44 GMT",
        "trace-id": "47cd863c-82a3-1676-75b8-30cb35f1abdc"
      },
      "ResponseBody": {
        "id": "test_list_exception_policies_tst_cp_async",
        "name": "test_list_exception_policies_tst_cp_async",
        "fallbackQueueId": "test_list_exception_policies_tst_q_async",
        "queueSelectors": [],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:48:44 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:48:44 GMT",
        "trace-id": "3dc95bb3-9896-caf4-af20-13003fb15b11"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1_async",
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies?maxpagesize=2\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:48:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "df6e5b26-0b3c-52bd-b709-44621d1f7f06"
      },
      "ResponseBody": {
        "value": [
          {
            "exceptionPolicy": {
              "id": "tst_list_ep_3_async",
              "name": "tst_list_ep_3_async",
              "exceptionRules": {
                "fakeExceptionRuleId": {
                  "trigger": {
                    "kind": "queue-length",
                    "threshold": 1
                  },
                  "actions": {
                    "fakeExceptionActionId": {
                      "kind": "cancel"
                    }
                  }
                }
              }
            },
            "etag": "Sanitized"
          },
          {
            "exceptionPolicy": {
              "id": "tst_list_ep_2_async",
              "name": "tst_list_ep_2_async",
              "exceptionRules": {
                "fakeExceptionRuleId": {
                  "trigger": {
                    "kind": "queue-length",
                    "threshold": 1
                  },
                  "actions": {
                    "fakeExceptionActionId": {
                      "kind": "cancel"
                    }
                  }
                }
              }
            },
            "etag": "Sanitized"
          }
        ],
        "nextLink": "/routing/exceptionPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNHJWVFZFUVUxeVlTMXFPV2h1UVVWQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTlNWRVE2UVVFOVBTTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPamdqUmxCRE9rRm5SVVpDWjFWRlFVeEZUVzlEVVVkQ1FVSm9TRUZqUVNJc0luSmhibWRsSWpwN0ltMXBiaUk2SWlJc0ltMWhlQ0k2SWtaR0luMTlYUT09"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNHJWVFZFUVUxeVlTMXFPV2h1UVVWQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTlNWRVE2UVVFOVBTTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPamdqUmxCRE9rRm5SVVpDWjFWRlFVeEZUVzlEVVVkQ1FVSm9TRUZqUVNJc0luSmhibWRsSWpwN0ltMXBiaUk2SWlJc0ltMWhlQ0k2SWtaR0luMTlYUT09\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "Request[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNHJWVFZFUVUxeVlTMXFLemxVUVVWQlFVRkJRVUZCUFQwalVsUTZNaU5VVWtNNk5DTlNWRVE2UVVFOVBTTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPamdqUmxCRE9rRm5SVVpDWjFWRlFVeEZUVzlEVVVkQ1FVSm9TRUZqUVNJc0luSmhibWRsSWpwN0ltMXBiaUk2SWlJc0ltMWhlQ0k2SWtaR0luMTlYUT09\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "Request[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNHJWVFZFUVUxeVlTMXFLek5VUVVWQlFVRkJRVUZCUFQwalVsUTZNeU5VVWtNNk5pTlNWRVE2UVVFOVBTTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPamdqUmxCRE9rRm5SVVpDWjFWRlFVeEZUVzlEVVVkQ1FVSm9TRUZqUVNJc0luSmhibWRsSWpwN0ltMXBiaUk2SWlJc0ltMWhlQ0k2SWtaR0luMTlYUT09\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "Request[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:48:45 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_list_exception_policies_tst_q_async",
                "priority": 1
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:48:45 GMT",
        "trace-id": "06535c8f-9f1e-ef35-742e-28e1a95df7d9"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1_async",
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_list_exception_policies_tst_q_async",
                "priority": 1,
                "workerSelectors": []
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:48:46 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_list_exception_policies_tst_cp_async"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:48:46 GMT",
        "trace-id": "27ff0cc2-0753-ac92-12d5-b0f19d51b643"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1_async",
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_list_exception_policies_tst_cp_async",
                "labelsToUpsert": {}
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:48:46 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600.0
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 21:48:47 GMT",
        "trace-id": "39656aaf-c56d-d133-a47a-cb0579076b43"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1_async",
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_2_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 21:48:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "7acadec2-a860-ae5c-3b52-8156da9c9f0a"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
