interactions:
- request:
    body: '{"name": "test_list_exception_policies_tst_dp_async", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:01 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_list_exception_policies_tst_dp_async",
      "offerTtlSeconds": 10, "mode": {"kind": "round-robin", "minConcurrentOffers":
      1, "maxConcurrentOffers": 1, "bypassSelectors": false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:02 GMT
      trace-id: 0eb6d388d513925625d8d8895229465f
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_list_exception_policies_tst_q_async", "distributionPolicyId":
      "sanitized", "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4":
      false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:01 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_list_exception_policies_tst_q_async",
      "distributionPolicyId": "sanitized", "labels": {"key1": "QueueKey", "key2":
      10, "key3": true, "key4": false, "key5": 10.1, "Id": "sanitized"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:02 GMT
      trace-id: c55c46def7294d1bb3dd8caab8f8cc65
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_list_exception_policies_tst_cp_async", "fallbackQueueId":
      "sanitized"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:01 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_list_exception_policies_tst_cp_async",
      "fallbackQueueId": "sanitized", "queueSelectors": [], "workerSelectors": []}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:02 GMT
      trace-id: 615b175a511346bd3d9801250169ed6e
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "tst_list_ep_1_async", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:01 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_list_ep_1_async", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "cancel"}}}}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:02 GMT
      trace-id: 32d0ca64096bbc345493b469b4c5c546
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:02 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies?maxpagesize=sanitized&api-version=2021-10-20-preview2
  response:
    body: '{"value": [{"etag": "sanitized", "id": "sanitized", "name": "tst_list_ep_1_async",
      "exceptionRules": {"fakeExceptionRuleId": {"trigger": {"kind": "queue-length",
      "threshold": 1}, "actions": {"fakeExceptionActionId": {"kind": "cancel"}}}}},
      {"etag": "sanitized", "id": "sanitized", "name": "tst_list_ep_2_async", "exceptionRules":
      {"fakeExceptionRuleId": {"trigger": {"kind": "queue-length", "threshold": 1},
      "actions": {"fakeExceptionActionId": {"kind": "cancel"}}}}}], "nextLink": "/routing/exceptionPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVUxQldrVk9WRVpCUVVGQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTkpVMVk2TWlOSlJVODZOalUxTmpjalJsQkRPa0ZqVlVGQlFVRkJRVUZCUVhoblFVRkJRVUZCUVVGQlBTSXNJbkpoYm1kbElqcDdJbTFwYmlJNklpSXNJbTFoZUNJNklrWkdJbjE5WFE9PQ%3D%3D"}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      trace-id: bc7d8113d675e790c8a2d0ae58e3411b
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/exceptionPolicies?maxpagesize=sanitized&api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:02 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies?maxpagesize=sanitized&api-version=2021-10-20-preview2&continuationToken=sanitized
  response:
    body: '{"value": [{"etag": "sanitized", "id": "sanitized", "name": "tst_list_ep_3_async",
      "exceptionRules": {"fakeExceptionRuleId": {"trigger": {"kind": "queue-length",
      "threshold": 1}, "actions": {"fakeExceptionActionId": {"kind": "cancel"}}}}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      trace-id: 04d9812680bdd6325c66a1d77f00e602
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/exceptionPolicies?maxpagesize=sanitized&api-version=2021-10-20-preview2&continuationToken=sanitized
- request:
    body: '{"name": "tst_list_ep_1_async", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "manual-reclassify", "queueId": "sanitized", "priority": 1}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:02 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_list_ep_1_async", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "manual-reclassify", "queueId": "sanitized", "priority": 1, "workerSelectors":
      []}}}}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:03 GMT
      trace-id: 91c62cfd17c6fe8a914f617fccbbd72b
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_list_ep_1_async", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "reclassify", "classificationPolicyId": "sanitized"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:02 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_list_ep_1_async", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "reclassify", "classificationPolicyId": "sanitized", "labelsToUpsert":
      {}}}}}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:03 GMT
      trace-id: 0352ae12100e6f5bc92f171601aaa68e
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:04 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 6c1bff16085b495e8ef368cd3bfa2c8b
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:05 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 91a9b722ee72067e93ce70e1a15f4755
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/sanitized?api-version=2021-10-20-preview2
version: 1
