interactions:
- request:
    body: '{"name": "test_get_classification_policy_tst_dp_async", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:33:03 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_get_classification_policy_tst_dp_async",
      "offerTtlSeconds": 10, "mode": {"kind": "round-robin", "minConcurrentOffers":
      1, "maxConcurrentOffers": 1, "bypassSelectors": false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:33:04 GMT
      trace-id: 3e53a9e9ae4d56a56b14c90195193262
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_get_classification_policy_tst_q_async", "distributionPolicyId":
      "sanitized", "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4":
      false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:33:03 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_get_classification_policy_tst_q_async",
      "distributionPolicyId": "sanitized", "labels": {"key1": "QueueKey", "key2":
      10, "key3": true, "key4": false, "key5": 10.1, "Id": "sanitized"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:33:04 GMT
      trace-id: 85b7a1c474ef70640850d6647115209f
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "tst_get_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value":
      1}, "workerSelectors": [{"kind": "static", "labelSelector": {"key": "test_key",
      "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite":
      false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:33:03 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_get_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "static", "labelSelector": {"ttlSeconds":
      10, "expedite": false, "key": "test_key", "labelOperator": "equal", "value":
      "test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:33:04 GMT
      trace-id: 65346b9688b57cc47287ffe31e0fe5ba
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_get_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value":
      1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind": "static-rule",
      "value": true}, "labelSelectors": [{"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:33:03 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_get_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind":
      "static-rule", "value": true}, "labelSelectors": [{"ttlSeconds": 10, "expedite":
      false, "key": "test_key", "labelOperator": "equal", "value": "test_value"}]}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:33:04 GMT
      trace-id: 12b1287bb41f818325aa9e34b8c22e66
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_get_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value":
      1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector", "allocations":
      [{"weight": 1.0, "labelSelectors": [{"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:33:04 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_get_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector",
      "allocations": [{"weight": 1, "labelSelectors": [{"ttlSeconds": 10, "expedite":
      false, "key": "test_key", "labelOperator": "equal", "value": "test_value"}]}]}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:33:05 GMT
      trace-id: 7661a9bef4cee5a9afc817a3c8fe32dc
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_get_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "1"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value",
      "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:33:04 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_get_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "1"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"ttlSeconds": 10, "expedite": false, "key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:33:05 GMT
      trace-id: 71c1ae15a79b2b4c792bed8f76188487
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_get_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:33:05 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_get_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"ttlSeconds": 10, "expedite": false, "key":
      "test_key", "labelOperator": "equal", "value": "test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:33:06 GMT
      trace-id: 3f4d46fec77af3ea810b0b9c7596cefe
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_get_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:33:06 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_get_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"ttlSeconds":
      10, "expedite": false, "key": "test_key", "labelOperator": "equal", "value":
      "test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:33:07 GMT
      trace-id: 86ef907d4df00f6114926aed614a61d4
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:33:18 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 258190d279feb887aaa35eb164778b04
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:33:18 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 22c4805ecf8dc009c7290201ed3cd569
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
version: 1
