interactions:
- request:
    body: '{"name": "test_delete_queue_tst_dp", "offerTtlSeconds": 10.0, "mode": {"kind":
      "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:50 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_delete_queue_tst_dp","name":"test_delete_queue_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:51 GMT
      trace-id:
      - 7cc5032454d397ca7ee013f28e76a594
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_delete_q", "distributionPolicyId": "test_delete_queue_tst_dp",
      "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4": false, "key5":
      10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:50 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/tst_delete_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_delete_q","name":"tst_delete_q","distributionPolicyId":"test_delete_queue_tst_dp","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"tst_delete_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:52 GMT
      trace-id:
      - 9da264ca41052ded75d9ec3e6fd013ed
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:50 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/tst_delete_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"communicationError":{"code":"NotFound","message":"The item was not
        found.","target":"/routing/queues/tst_delete_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 7cfdde169fb826b576752e867252dd54
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:50 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      trace-id:
      - 7021f18cc5edd032cc32181aaa16ea81
    status:
      code: 204
      message: No Content
version: 1
