interactions:
- request:
    body: '{"name": "test_list_classification_policies_tst_dp_async", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:11:03 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"test_list_classification_policies_tst_dp_async","name":"test_list_classification_policies_tst_dp_async","offerTTLSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:11:04 GMT
      trace-id: 8c78ba4fede4a58113be837c7f03b358
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp_async?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_list_classification_policies_tst_q_async", "distributionPolicyId":
      "test_list_classification_policies_tst_dp_async", "labels": {"key1": "QueueKey",
      "key2": 10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:11:04 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_list_classification_policies_tst_q_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"test_list_classification_policies_tst_q_async","name":"test_list_classification_policies_tst_q_async","distributionPolicyId":"test_list_classification_policies_tst_dp_async","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_list_classification_policies_tst_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:11:05 GMT
      trace-id: c119dad1305eefbcf84a04f377d1def4
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/queues/test_list_classification_policies_tst_q_async?api-version=2021-10-20-preview2
- request:
    body: '{"name": "tst_list_cp_1_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:11:04 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_list_cp_1_async","name":"tst_list_cp_1_async","fallbackQueueId":"test_list_classification_policies_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:11:05 GMT
      trace-id: 235b7450f7481a1b8d6095fd3214c696
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:11:05 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies?maxpagesize=2&api-version=2021-10-20-preview2
  response:
    body:
      string: '{"value":[{"etag":"\"0e040292-0000-0700-0000-6282bde90000\"","id":"tst_list_cp_1_async","name":"tst_list_cp_1_async","fallbackQueueId":"test_list_classification_policies_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"key":"test_key","labelOperator":"equal","value":"test_value"}}]},{"etag":"\"0e040b92-0000-0700-0000-6282bde90000\"","id":"tst_list_cp_2_async","name":"tst_list_cp_2_async","fallbackQueueId":"test_list_classification_policies_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"key":"test_key","labelOperator":"equal","value":"test_value"}}]}],"nextLink":"/routing/classificationPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVVwSVRtUklWVU5DZDBGQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTkpVMVk2TWlOSlJVODZOalUxTmpjalJsQkRPa0ZSU1VoQlFVRkJRVUZCUVVGM1kwRkJRVUZCUVVGQlBTSXNJbkpoYm1kbElqcDdJbTFwYmlJNklpSXNJbTFoZUNJNklrWkdJbjE5WFE9PQ%3D%3D"}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      trace-id: ab8242a9fd33f3d6b05a905abe15b596
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies?maxpagesize=2&api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:11:05 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies?maxpagesize=2&api-version=2021-10-20-preview2&continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVVwSVRtUklWVU5DZDBGQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTkpVMVk2TWlOSlJVODZOalUxTmpjalJsQkRPa0ZSU1VoQlFVRkJRVUZCUVVGM1kwRkJRVUZCUVVGQlBTSXNJbkpoYm1kbElqcDdJbTFwYm[...]
- request:
    body: '{"name": "tst_list_cp_1_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind":
      "static-rule", "value": true}, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:11:05 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_list_cp_1_async","name":"tst_list_cp_1_async","fallbackQueueId":"test_list_classification_policies_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"conditional","condition":{"kind":"static-rule","value":true},"labelSelectors":[{"ttlSeconds":10,"expedite":false,"key":"test_key","labelOperator":"equal","value":"test_value"}]}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:11:06 GMT
      trace-id: 7232b50a9037074d7327eabd27a38e8c
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_list_cp_1_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector",
      "allocations": [{"weight": 1.0, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:11:06 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_list_cp_1_async","name":"tst_list_cp_1_async","fallbackQueueId":"test_list_classification_policies_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"weighted-allocation-worker-selector","allocations":[{"weight":1,"labelSelectors":[{"ttlSeconds":10,"expedite":false,"key":"test_key","labelOperator":"equal","value":"test_value"}]}]}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:11:07 GMT
      trace-id: cf43a1ac2d9d0169b75cb7660cd5caef
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_list_cp_1_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "1"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value",
      "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:11:06 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_list_cp_1_async","name":"tst_list_cp_1_async","fallbackQueueId":"test_list_classification_policies_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"expression-rule","language":"powerFx","expression":"1"},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:11:07 GMT
      trace-id: 3dafa5e1137007da6bb65543c4ea9014
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_list_cp_1_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:11:08 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_list_cp_1_async","name":"tst_list_cp_1_async","fallbackQueueId":"test_list_classification_policies_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"azure-function-rule","functionUrl":"https://fake.azurewebsites.net/fakeRule"},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:11:09 GMT
      trace-id: 67c345adabe3c097197beab71c5a497c
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_list_cp_1_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:11:11 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2021-10-20-preview2
  response:
    bod[...]
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:11:41 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp_async?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: d0fd528679e15f31fd8881a1fa19c4c1
    status:
      code: 204
      message: No Content
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp_async?api-version=2021-10-20-preview2
version: 1
