interactions:
- request:
    body: '{"name": "test_delete_queue_tst_dp", "offerTtlSeconds": 10.0, "mode": {"kind":
      "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 17:59:43 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_delete_queue_tst_dp", "offerTTLSeconds":
      10, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1, "bypassSelectors": false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Fri, 06 May 2022 17:59:37 GMT
      trace-id:
      - a0e252f617078a25bf37ba2c3a683481
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_delete_q", "distributionPolicyId": "sanitized", "labels":
      {"key1": "QueueKey", "key2": 10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 17:59:43 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_delete_q", "distributionPolicyId": "sanitized",
      "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4": false, "key5":
      10.1, "Id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Fri, 06 May 2022 17:59:37 GMT
      trace-id:
      - 30ebe10ee389592d9bb432e32c6ee1a0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 17:59:44 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - 6c816fdd71abfe9e54a2115e588c3933
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 May 2022 17:59:44 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"communicationError": {"code": "NotFound", "message": "The item was not
      found.", "target": "/routing/queues/tst_delete_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 7e7a84831acb4d1f8f5bdd838887dbdd
    status:
      code: 404
      message: Not Found
version: 1
