{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:06:35 GMT"
      },
      "RequestBody": {
        "name": "test_delete_queue_tst_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:06:33 GMT",
        "trace-id": "d6f2af6a-4ffe-339b-916f-3922189643e1"
      },
      "ResponseBody": {
        "id": "test_delete_queue_tst_dp_async",
        "name": "test_delete_queue_tst_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_delete_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:06:35 GMT"
      },
      "RequestBody": {
        "name": "test_delete_q_async",
        "distributionPolicyId": "test_delete_queue_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:06:33 GMT",
        "trace-id": "aec4bf14-b0d0-cccd-69db-a14dba576118"
      },
      "ResponseBody": {
        "id": "test_delete_q_async",
        "name": "test_delete_q_async",
        "distributionPolicyId": "test_delete_queue_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_delete_q_async"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_delete_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:06:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "7cbc6155-7919-bcc1-324a-28c19bacc54b"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "The item was not found.",
          "target": "/routing/queues/test_delete_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:06:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "c01de80a-6e3f-4e69-5289-86df011067f8"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
