interactions:
- request:
    body: '{"name": "tst_update_dp", "offerTtlSeconds": 10.0, "mode": {"kind": "best-worker",
      "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 21:12:52 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/tst_update_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_dp","name":"tst_update_dp","offerTtlSeconds":10,"mode":{"kind":"best-worker","scoringRuleOptions":{"scoringParameters":["jobLabels","workerSelectors"],"allowScoringBatchOfWorkers":false,"descendingOrder":true},"minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 21:12:46 GMT
      trace-id:
      - 8d2b9298c7ee11fbff222b393f2d4434
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Aug 2022 21:13:01 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/tst_update_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      trace-id:
      - 50b1d07fa5692be2167e5553f1e9e994
    status:
      code: 204
      message: No Content
version: 1
