{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_job_direct_q_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:39:30 GMT"
      },
      "RequestBody": {
        "name": "test_update_job_direct_q_tst_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:39:29 GMT",
        "trace-id": "15cc4b6acf0f3f297970d5bdce6325f6"
      },
      "ResponseBody": {
        "id": "test_update_job_direct_q_tst_dp_async",
        "name": "test_update_job_direct_q_tst_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_update_job_direct_q_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:39:30 GMT"
      },
      "RequestBody": {
        "name": "test_update_job_direct_q_tst_q_async",
        "distributionPolicyId": "test_update_job_direct_q_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:39:29 GMT",
        "trace-id": "ef99c9c7a1981798e40d5e954b7dd827"
      },
      "ResponseBody": {
        "id": "test_update_job_direct_q_tst_q_async",
        "name": "test_update_job_direct_q_tst_q_async",
        "distributionPolicyId": "test_update_job_direct_q_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "test_update_job_direct_q_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_man_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:39:30 GMT"
      },
      "RequestBody": {
        "channelReference": "fakeChannelRef1",
        "channelId": "fakeChannelId1",
        "queueId": "test_update_job_direct_q_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199Z": "Fake notes attached to job"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:39:29 GMT",
        "trace-id": "5eef0c9ff16bb030d87ff90856f8c36c"
      },
      "ResponseBody": {
        "id": "tst_update_job_man_async",
        "channelReference": "fakeChannelRef1",
        "jobStatus": "created",
        "channelId": "fakeChannelId1",
        "queueId": "test_update_job_direct_q_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199\u002B00:00": "Fake notes attached to job"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_man_async?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:39:30 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:39:30 GMT",
        "trace-id": "284c429db5f449a359ab7fd6b54ff74f"
      },
      "ResponseBody": {
        "id": "tst_update_job_man_async",
        "channelReference": "fakeChannelRef1",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-11-09T08:39:30.1313444\u002B00:00",
        "channelId": "fakeChannelId1",
        "queueId": "test_update_job_direct_q_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey2",
          [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_man_async:cancel?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:39:31 GMT"
      },
      "RequestBody": {
        "dispositionCode": "JobCancelledAsPartOfTestCleanUp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "410f3128391e6ba1b0e41554df06d07f"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_job_direct_q_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:39:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "2e6347bb9ba42fa940b8a32a0ec66beb"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
