interactions:
- request:
    body: '{"name": "test_get_worker_tst_dp", "offerTtlSeconds": 10.0, "mode": {"kind":
      "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:48 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_worker_tst_dp","name":"test_get_worker_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:29:50 GMT
      trace-id:
      - 8a91c4281cf6ec8b2804dfc90e6b2cdc
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_get_worker_tst_q", "distributionPolicyId": "test_get_worker_tst_dp",
      "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:49 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_get_worker_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_worker_tst_q","name":"test_get_worker_tst_q","distributionPolicyId":"test_get_worker_tst_dp","labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"test_get_worker_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:29:50 GMT
      trace-id:
      - 3dd8b557f09af32e46e859ea80f66d2d
    status:
      code: 200
      message: OK
- request:
    body: '{"queueAssignments": {"test_get_worker_tst_q": {}}, "totalCapacity": 100,
      "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}, "tags": {"tag1":
      "WorkerGenericInfo"}, "channelConfigurations": {"fakeChannel1": {"capacityCostPerJob":
      10}, "fakeChannel2": {"capacityCostPerJob": 90}}, "availableForOffers": false}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:49 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/workers/tst_get_w?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_get_w","state":"inactive","queueAssignments":{"test_get_worker_tst_q":{}},"totalCapacity":100,"labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"tst_get_w"},"tags":{"tag1":"WorkerGenericInfo"},"channelConfigurations":{"fakeChannel1":{"capacityCostPerJob":10},"fakeChannel2":{"capacityCostPerJob":90}},"offers":[],"assignedJobs":[],"loadRatio":0,"availableForOffers":false}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:29:51 GMT
      trace-id:
      - db543daff0cc447ba51052f3d9454ac7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:50 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_get_worker_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      trace-id:
      - 73ee9ad0646c2db007a8d88c7f6e7774
    status:
      code: 204
      message: No Content
version: 1
