interactions:
- request:
    body: '{"name": "test_delete_queue_tst_dp", "offerTtlSeconds": 10.0, "mode": {"kind":
      "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:12:46 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"test_delete_queue_tst_dp","name":"test_delete_queue_tst_dp","offerTTLSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:12:47 GMT
      trace-id:
      - 94a314bb5bd3e1f6f5a984600f1e128e
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_delete_q", "distributionPolicyId": "test_delete_queue_tst_dp",
      "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4": false, "key5":
      10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:12:47 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/tst_delete_q?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_delete_q","name":"tst_delete_q","distributionPolicyId":"test_delete_queue_tst_dp","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"tst_delete_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:12:48 GMT
      trace-id:
      - 4b4a059c7ea8b08bd36e1e93792b3c24
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:12:47 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/queues/tst_delete_q?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"communicationError":{"code":"NotFound","message":"The item was not
        found.","target":"/routing/queues/tst_delete_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 836a644f719175f3e4e19140a3b96c4d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:12:47 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - 03585486c91f700018958ae88c835752
    status:
      code: 204
      message: No Content
version: 1
