interactions:
- request:
    body: '{"name": "test_create_worker_tst_dp_async", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:53 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_create_worker_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_create_worker_tst_dp_async","name":"test_create_worker_tst_dp_async","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:29:55 GMT
      trace-id: 40987ddcba2a73d8670d67230bbf1c72
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/test_create_worker_tst_dp_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_create_worker_tst_q_async", "distributionPolicyId": "test_create_worker_tst_dp_async",
      "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:53 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_create_worker_tst_q_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_create_worker_tst_q_async","name":"test_create_worker_tst_q_async","distributionPolicyId":"test_create_worker_tst_dp_async","labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"test_create_worker_tst_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:29:55 GMT
      trace-id: 5b83785610839734d8e4911b50f8874a
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/queues/test_create_worker_tst_q_async?api-version=2022-07-18-preview
- request:
    body: '{"queueAssignments": {"test_create_worker_tst_q_async": {}}, "totalCapacity":
      100, "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}, "tags": {"tag1":
      "WorkerGenericInfo"}, "channelConfigurations": {"fakeChannel1": {"capacityCostPerJob":
      10}, "fakeChannel2": {"capacityCostPerJob": 90}}, "availableForOffers": false}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:54 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/workers/tst_create_w_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_create_w_async","state":"inactive","queueAssignments":{"test_create_worker_tst_q_async":{}},"totalCapacity":100,"labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"tst_create_w_async"},"tags":{"tag1":"WorkerGenericInfo"},"channelConfigurations":{"fakeChannel1":{"capacityCostPerJob":10},"fakeChannel2":{"capacityCostPerJob":90}},"offers":[],"assignedJobs":[],"loadRatio":0,"availableForOffers":false}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:29:55 GMT
      trace-id: 31d490535bec7a6a1009a579a5801f53
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/workers/tst_create_w_async?api-version=2022-07-18-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:54 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_create_worker_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      trace-id: 5a525fbec10d0453f1c310a9c89fac60
    status:
      code: 204
      message: No Content
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/test_create_worker_tst_dp_async?api-version=2022-07-18-preview
version: 1
