interactions:
- request:
    body: '{"name": "test_get_job_w_cp_tst_dp", "offerTtlSeconds": 10.0, "mode": {"kind":
      "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:40 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_get_job_w_cp_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_job_w_cp_tst_dp","name":"test_get_job_w_cp_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:42 GMT
      trace-id:
      - 222c3400a04441932bc7461106e1ed30
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_get_job_w_cp_tst_q", "distributionPolicyId": "test_get_job_w_cp_tst_dp",
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:41 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_get_job_w_cp_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_job_w_cp_tst_q","name":"test_get_job_w_cp_tst_q","distributionPolicyId":"test_get_job_w_cp_tst_dp","labels":{"key1":"JobKey","key2":10,"key3":true,"Id":"test_get_job_w_cp_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:43 GMT
      trace-id:
      - b21fd7eddb5245864fc8431d283930ac
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_get_job_w_cp_tst_flbk_q", "distributionPolicyId": "test_get_job_w_cp_tst_dp",
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:41 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_get_job_w_cp_tst_flbk_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_job_w_cp_tst_flbk_q","name":"test_get_job_w_cp_tst_flbk_q","distributionPolicyId":"test_get_job_w_cp_tst_dp","labels":{"key1":"JobKey","key2":10,"key3":true,"Id":"test_get_job_w_cp_tst_flbk_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:43 GMT
      trace-id:
      - b6304a38a3d79df27bb23539c63d9e54
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_get_job_w_cp_tst_cp", "fallbackQueueId": "test_get_job_w_cp_tst_flbk_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "Id", "labelOperator":
      "equal", "value": "test_get_job_w_cp_tst_q"}}], "prioritizationRule": {"kind":
      "static-rule", "value": 10}, "workerSelectors": [{"kind": "static", "labelSelector":
      {"key": "FakeKeyFromCp", "labelOperator": "equal", "value": "FakeValue"}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:42 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/test_get_job_w_cp_tst_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_job_w_cp_tst_cp","name":"test_get_job_w_cp_tst_cp","fallbackQueueId":"test_get_job_w_cp_tst_flbk_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"Id","labelOperator":"equal","value":"test_get_job_w_cp_tst_q"}}],"prioritizationRule":{"kind":"static-rule","value":10},"workerSelectors":[{"kind":"static","labelSelector":{"expedite":false,"state":"active","key":"FakeKeyFromCp","labelOperator":"equal","value":"FakeValue"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:43 GMT
      trace-id:
      - 945e0597f40112b25dec56135cbb3bfc
    status:
      code: 200
      message: OK
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "classificationPolicyId": "test_get_job_w_cp_tst_cp", "requestedWorkerSelectors":
      [{"key": "FakeKey1", "labelOperator": "equal", "value": true}, {"key": "FakeKey2",
      "labelOperator": "notEqual", "value": false}, {"key": "FakeKey3", "labelOperator":
      "lessThan", "value": 10}, {"key": "FakeKey4", "labelOperator": "lessThanEqual",
      "value": 10.01}, {"key": "FakeKey5", "labelOperator": "greaterThan", "value":
      10}, {"key": "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}],
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:42 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_get_job_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_get_job_cp","channelReference":"fakeChannelRef1","jobStatus":"pendingClassification","channelId":"fakeChannelId1","classificationPolicyId":"test_get_job_w_cp_tst_cp","priority":1,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"state":"active","key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"state":"active","key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"state":"active","key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:44 GMT
      trace-id:
      - f334e95e7dd907411a5754a4ea110049
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:42 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_get_job_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_get_job_cp","channelReference":"fakeChannelRef1","jobStatus":"queued","enqueueTimeUtc":"2022-08-30T23:28:44.5586088+00:00","channelId":"fakeChannelId1","classificationPolicyId":"test_get_job_w_cp_tst_cp","queueId":"test_get_job_w_cp_tst_q","priority":10,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"state":"active","key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"state":"active","key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"state":"active","key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKeyFromCp","labelOperator":"equal","value":"FakeValue"}],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:44 GMT
      trace-id:
      - 6bbab4ed2d7cdc222e43e9365c3bc8fb
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dispositionCode": "JobCancelledAsPartOfTestCleanUp"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:43 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_get_job_cp:cancel?api-version=2022-07-18-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 74da931ab97b5e0bc3edcbb14ec17420
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:44 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_get_job_w_cp_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      trace-id:
      - f7b5535894bb125042ae8dcda7cf34af
    status:
      code: 204
      message: No Content
version: 1
