interactions:
- request:
    body: '{"name": "test_delete_worker_tst_dp", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:47 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_delete_worker_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_delete_worker_tst_dp","name":"test_delete_worker_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:29:49 GMT
      trace-id:
      - 610d2357434b685f6739afdd6b8319cc
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_delete_worker_tst_q", "distributionPolicyId": "test_delete_worker_tst_dp",
      "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:47 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_delete_worker_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_delete_worker_tst_q","name":"test_delete_worker_tst_q","distributionPolicyId":"test_delete_worker_tst_dp","labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"test_delete_worker_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:29:49 GMT
      trace-id:
      - ad51ee1abfc7405ff03a1676a41195e5
    status:
      code: 200
      message: OK
- request:
    body: '{"queueAssignments": {"test_delete_worker_tst_q": {}}, "totalCapacity":
      100, "labels": {"key1": "WorkerKey", "key2": 10, "key3": true}, "tags": {"tag1":
      "WorkerGenericInfo"}, "channelConfigurations": {"fakeChannel1": {"capacityCostPerJob":
      10}, "fakeChannel2": {"capacityCostPerJob": 90}}, "availableForOffers": false}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:47 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/workers/tst_delete_w?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_delete_w","state":"inactive","queueAssignments":{"test_delete_worker_tst_q":{}},"totalCapacity":100,"labels":{"key1":"WorkerKey","key2":10,"key3":true,"Id":"tst_delete_w"},"tags":{"tag1":"WorkerGenericInfo"},"channelConfigurations":{"fakeChannel1":{"capacityCostPerJob":10},"fakeChannel2":{"capacityCostPerJob":90}},"offers":[],"assignedJobs":[],"loadRatio":0,"availableForOffers":false}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:29:49 GMT
      trace-id:
      - 35fde2370468608e8dfe7c99652e910d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:48 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/routing/workers/tst_delete_w?api-version=2022-07-18-preview
  response:
    body:
      string: '{"communicationError":{"code":"NotFound","message":"The item was not
        found.","target":"/routing/workers/tst_delete_w"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - a363dddc968d19681683f6b6b2c5cb0d
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:48 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_delete_worker_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      trace-id:
      - 7745361e7a290397de0a297a2294dc64
    status:
      code: 204
      message: No Content
version: 1
