interactions:
- request:
    body: '{"name": "test_update_job_w_cp_tst_dp_async", "offerTtlSeconds": 10.0,
      "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:57 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_update_job_w_cp_tst_dp_async", "offerTtlSeconds":
      10, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1, "bypassSelectors": false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:58 GMT
      trace-id: 0605e00c3d2b7cda53ec189c4e86511e
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_update_job_w_cp_tst_q_async", "distributionPolicyId": "sanitized",
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:57 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_update_job_w_cp_tst_q_async", "distributionPolicyId":
      "sanitized", "labels": {"key1": "JobKey", "key2": 10, "key3": true, "Id": "sanitized"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:58 GMT
      trace-id: b9a8dc3793dc7c606ac616026869b14f
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "test_update_job_w_cp_tst_cp", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "Id", "labelOperator":
      "equal", "value": "test_update_job_w_cp_tst_q_async"}}], "prioritizationRule":
      {"kind": "static-rule", "value": 10}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "FakeKeyFromCp", "labelOperator": "equal", "value":
      "FakeValue"}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:57 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_update_job_w_cp_tst_cp", "fallbackQueueId":
      "sanitized", "queueSelectors": [{"kind": "static", "labelSelector": {"key":
      "Id", "labelOperator": "equal", "value": "test_update_job_w_cp_tst_q_async"}}],
      "prioritizationRule": {"kind": "static-rule", "value": 10}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"expedite": false, "key": "FakeKeyFromCp",
      "labelOperator": "equal", "value": "FakeValue"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:58 GMT
      trace-id: 1bd06ea97c7a9cff9a07290f20466cc7
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "classificationPolicyId": "sanitized", "requestedWorkerSelectors": [{"key":
      "FakeKey1", "labelOperator": "equal", "value": true}, {"key": "FakeKey2", "labelOperator":
      "notEqual", "value": false}, {"key": "FakeKey3", "labelOperator": "lessThan",
      "value": 10}, {"key": "FakeKey4", "labelOperator": "lessThanEqual", "value":
      10.01}, {"key": "FakeKey5", "labelOperator": "greaterThan", "value": 10}, {"key":
      "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}], "labels": {"key1":
      "JobKey", "key2": 10, "key3": true}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:58 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "channelReference": "fakeChannelRef1", "jobStatus":
      "pendingClassification", "channelId": "fakeChannelId1", "classificationPolicyId":
      "sanitized", "priority": 1, "requestedWorkerSelectors": [{"expedite": false,
      "key": "FakeKey1", "labelOperator": "equal", "value": true}, {"expedite": false,
      "key": "FakeKey2", "labelOperator": "notEqual", "value": false}, {"expedite":
      false, "key": "FakeKey3", "labelOperator": "lessThan", "value": 10}, {"expedite":
      false, "key": "FakeKey4", "labelOperator": "lessThanEqual", "value": 10.01},
      {"expedite": false, "key": "FakeKey5", "labelOperator": "greaterThan", "value":
      10}, {"expedite": false, "key": "FakeKey6", "labelOperator": "greaterThanEqual",
      "value": 10}], "attachedWorkerSelectors": [], "labels": {"key1": "JobKey", "key2":
      10, "key3": true}, "assignments": {}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199+00:00": "Fake notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:59 GMT
      trace-id: 21aee4ae106148187a931d006eb7b310
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:58 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "channelReference": "fakeChannelRef1", "jobStatus":
      "pendingClassification", "channelId": "fakeChannelId1", "classificationPolicyId":
      "sanitized", "queueId": "sanitized", "priority": 10, "requestedWorkerSelectors":
      [{"expedite": false, "key": "FakeKey1", "labelOperator": "equal", "value": true},
      {"expedite": false, "key": "FakeKey2", "labelOperator": "notEqual", "value":
      false}, {"expedite": false, "key": "FakeKey3", "labelOperator": "lessThan",
      "value": 10}, {"expedite": false, "key": "FakeKey4", "labelOperator": "lessThanEqual",
      "value": 10.01}, {"expedite": false, "key": "FakeKey5", "labelOperator": "greaterThan",
      "value": 10}, {"expedite": false, "key": "FakeKey6", "labelOperator": "greaterThanEqual",
      "value": 10}], "attachedWorkerSelectors": [{"expedite": false, "key": "FakeKeyFromCp",
      "labelOperator": "equal", "value": "FakeValue"}], "labels": {"key1": "JobKey",
      "key2": 10, "key3": true}, "assignments": {}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199+00:00": "Fake notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:59 GMT
      trace-id: 1878b435547ae9975443da2cc9091260
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:36:01 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "channelReference": "fakeChannelRef1", "jobStatus":
      "queued", "enqueueTimeUtc": "2022-05-16T07:35:59.3445669+00:00", "channelId":
      "fakeChannelId1", "classificationPolicyId": "sanitized", "queueId": "sanitized",
      "priority": 10, "requestedWorkerSelectors": [{"expedite": false, "key": "FakeKey1",
      "labelOperator": "equal", "value": true}, {"expedite": false, "key": "FakeKey2",
      "labelOperator": "notEqual", "value": false}, {"expedite": false, "key": "FakeKey3",
      "labelOperator": "lessThan", "value": 10}, {"expedite": false, "key": "FakeKey4",
      "labelOperator": "lessThanEqual", "value": 10.01}, {"expedite": false, "key":
      "FakeKey5", "labelOperator": "greaterThan", "value": 10}, {"expedite": false,
      "key": "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}], "attachedWorkerSelectors":
      [{"expedite": false, "key": "FakeKeyFromCp", "labelOperator": "equal", "value":
      "FakeValue"}], "labels": {"key1": "JobKey", "key2": 10, "key3": true}, "assignments":
      {}, "tags": {"tag1": "WorkerGenericInfo"}, "notes": {"2022-05-13T16:59:04.531199+00:00":
      "Fake notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:59 GMT
      trace-id: 2e523abbcb3d9cd9333e1e1daa2d7017
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "classificationPolicyId": "sanitized", "priority": 1, "requestedWorkerSelectors":
      [{"key": "FakeKey1", "labelOperator": "equal", "value": true, "expedite": false},
      {"key": "FakeKey2", "labelOperator": "notEqual", "value": false, "expedite":
      false}, {"key": "FakeKey3", "labelOperator": "lessThan", "value": 10, "expedite":
      false}, {"key": "FakeKey4", "labelOperator": "lessThanEqual", "value": 10.01,
      "expedite": false}, {"key": "FakeKey5", "labelOperator": "greaterThan", "value":
      10, "expedite": false}, {"key": "FakeKey6", "labelOperator": "greaterThanEqual",
      "value": 10, "expedite": false}], "labels": {"key1": "JobKey", "key2": 10, "key3":
      true, "FakeKey": "FakeWorkerValue"}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:36:01 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "channelReference": "fakeChannelRef1", "jobStatus":
      "pendin[...]
[...]
- request:
    body: '{"note": "Cancelling job after test cleanup after: test_update_job_w_cp",
      "dispositionCode": "JobCancelledAsPartOfTestCleanUp"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 16 May 2022 07:36:02 GMT
    method: POST
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      trace-id: 2b67847369bf8edf81586c49cf1b0595
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:36:02 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: b7729491daa5ca6a26ce9f009a585cb1
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:36:03 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: ab6c4c358e14d989b73b865bca0018cc
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
version: 1
