interactions:
- request:
    body: '{"name": "test_delete_classification_policy_tst_dp", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:36:34 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_delete_classification_policy_tst_dp",
      "offerTtlSeconds": 10, "mode": {"kind": "round-robin", "minConcurrentOffers":
      1, "maxConcurrentOffers": 1, "bypassSelectors": false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 07:36:35 GMT
      trace-id:
      - 9423835364ffba094026329614d40e64
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_delete_classification_policy_tst_q", "distributionPolicyId":
      "sanitized", "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4":
      false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:36:34 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_delete_classification_policy_tst_q",
      "distributionPolicyId": "sanitized", "labels": {"key1": "QueueKey", "key2":
      10, "key3": true, "key4": false, "key5": 10.1, "Id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 07:36:35 GMT
      trace-id:
      - 6091c11cb673c45ef407c1389b7b714a
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_delete_cp", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value":
      1}, "workerSelectors": [{"kind": "static", "labelSelector": {"key": "test_key",
      "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite":
      false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:36:35 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_delete_cp", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "static", "labelSelector": {"ttlSeconds":
      10, "expedite": false, "key": "test_key", "labelOperator": "equal", "value":
      "test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 07:36:35 GMT
      trace-id:
      - d67123ca399b4c56e98e9a7de43e68ac
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:36:35 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - b14e446722e1704ac4615529cec9f7c7
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:36:35 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"communicationError": {"code": "NotFound", "message": "The item was not
      found.", "target": "/routing/classificationPolicies/tst_delete_cp"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 736e1692720155f39d1a826235f078c1
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "tst_delete_cp", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value":
      1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind": "static-rule",
      "value": true}, "labelSelectors": [{"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:36:35 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_delete_cp", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind":
      "static-rule", "value": true}, "labelSelectors": [{"ttlSeconds": 10, "expedite":
      false, "key": "test_key", "labelOperator": "equal", "value": "test_value"}]}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 07:36:36 GMT
      trace-id:
      - ec2c2aca3c19fefbaa7d9ea76f641cdb
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_delete_cp", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value":
      1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector", "allocations":
      [{"weight": 1.0, "labelSelectors": [{"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:36:36 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_delete_cp", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector",
      "allocations": [{"weight": 1, "labelSelectors": [{"ttlSeconds": 10, "expedite":
      false, "key": "test_key", "labelOperator": "equal", "value": "test_value"}]}]}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 07:36:36 GMT
      trace-id:
      - 965cccd762deb16fa3b732f5c3747e6b
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_delete_cp", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "1"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value",
      "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:36:36 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_delete_cp", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "1"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"ttlSeconds": 10, "expedite": false, "key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 07:36:37 GMT
      trace-id:
      - 9b9a47196af3d6bad4fc3045bfadf9ac
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_delete_cp", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:36:37 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_delete_cp", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"ttlSeconds": 10, "expedite": false, "key":
      "test_key", "labelOperator": "equal", "value": "test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 07:36:38 GMT
      trace-id:
      - bb7d5fbbbe122460cc44b658d78b2dd0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_delete_cp", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:36:39 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_delete_cp", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"ttlSeconds":
      10, "expedite": false, "key": "test_key", "labelOperator": "equal", "value":
      "test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 07:36:40 GMT
      trace-id:
      - fe7d51f16291c9d35e4649e90cf6e633
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:37:00 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - 3ec687f4e1f8c080f7a629c492f65f98
    status:
      code: 204
      message: No Content
version: 1
