interactions:
- request:
    body: '{"name": "test_update_classification_policy_tst_dp_async", "offerTTLSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 01:37:17 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_update_classification_policy_tst_dp_async",
      "offerTTLSeconds": 10, "mode": {"kind": "round-robin", "minConcurrentOffers":
      1, "maxConcurrentOffers": 1, "bypassSelectors": false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Fri, 06 May 2022 01:37:09 GMT
      trace-id: d05b89390ef11f2f36626f7620ae37db
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_update_classification_policy_tst_q_async", "distributionPolicyId":
      "sanitized", "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4":
      false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 01:37:18 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_update_classification_policy_tst_q_async",
      "distributionPolicyId": "sanitized", "labels": {"key1": "QueueKey", "key2":
      10, "key3": true, "key4": false, "key5": 10.1, "Id": "sanitized"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Fri, 06 May 2022 01:37:10 GMT
      trace-id: 5202b48763296465c6fb0b364397d029
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "tst_update_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value":
      1}, "workerSelectors": [{"kind": "static", "labelSelector": {"key": "test_key",
      "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite":
      false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 01:37:19 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_update_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "static", "labelSelector": {"ttlSeconds":
      10, "expedite": false, "key": "test_key", "labelOperator": "equal", "value":
      "test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Fri, 06 May 2022 01:37:10 GMT
      trace-id: 7e997b68030ed5f7043f7e3f53d97b9b
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "tst_update_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "2"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value",
      "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 01:37:19 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_update_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "2"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"ttlSeconds": 10, "expedite": false, "key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Fri, 06 May 2022 01:37:10 GMT
      trace-id: 188f8e10eafc31fc3c156a00f9543eac
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "tst_update_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value":
      1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind": "static-rule",
      "value": true}, "labelSelectors": [{"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 01:37:19 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_update_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind":
      "static-rule", "value": true}, "labelSelectors": [{"ttlSeconds": 10, "expedite":
      false, "key": "test_key", "labelOperator": "equal", "value": "test_value"}]}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Fri, 06 May 2022 01:37:10 GMT
      trace-id: b6424fd4cc77131b675bfb7c5b55939d
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_update_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value":
      1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector", "allocations":
      [{"weight": 1.0, "labelSelectors": [{"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 01:37:20 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_update_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector",
      "allocations": [{"weight": 1, "labelSelectors": [{"ttlSeconds": 10, "expedite":
      false, "key": "test_key", "labelOperator": "equal", "value": "test_value"}]}]}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Fri, 06 May 2022 01:37:11 GMT
      trace-id: ebadc63d5f8cd14a0e3b77794747e951
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_update_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 01:37:21 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_update_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"ttlSeconds": 10, "expedite": false, "key":
      "test_key", "labelOperator": "equal", "value": "test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Fri, 06 May 2022 01:37:12 GMT
      trace-id: 560610271ad0510a16a2137a9fa1b68e
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_update_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 01:37:22 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_update_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"ttlSeconds":
      10, "expedite": false, "key": "test_key", "labelOperator": "equal", "value":
      "test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Fri, 06 May 2022 01:37:13 GMT
      trace-id: 0cb911839fc6de0a564acf92a3a720a3
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:37:36 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 68ef2166d0067bc8b76469ce6199c5d2
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Fri, 06 May 2022 01:37:37 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 57920491b5253fd756e460f9e5469577
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
version: 1
