interactions:
- request:
    body: '{"name": "test_update_classification_policy_tst_dp", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:06:20 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_update_classification_policy_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_classification_policy_tst_dp","name":"test_update_classification_policy_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 01:45:07 GMT
      trace-id:
      - 8c686df7c0711bf319d515671e42c894
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_update_classification_policy_tst_q", "distributionPolicyId":
      "test_update_classification_policy_tst_dp", "labels": {"key1": "QueueKey", "key2":
      10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:06:21 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_update_classification_policy_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_classification_policy_tst_q","name":"test_update_classification_policy_tst_q","distributionPolicyId":"test_update_classification_policy_tst_dp","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_update_classification_policy_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 01:45:09 GMT
      trace-id:
      - 7b042a718ccbc41feacc27a52f9f700a
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_update_cp", "fallbackQueueId": "test_update_classification_policy_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:06:22 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_update_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_cp","name":"tst_update_cp","fallbackQueueId":"test_update_classification_policy_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 01:45:12 GMT
      trace-id:
      - 2b55369413f47019e308fb18f5fb401d
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_update_cp", "fallbackQueueId": "test_update_classification_policy_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "2"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value",
      "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:06:23 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_update_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_cp","name":"tst_update_cp","fallbackQueueId":"test_update_classification_policy_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"expression-rule","language":"powerFx","expression":"2"},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 03:06:14 GMT
      trace-id:
      - 21e590cc30655546c8fe7eff174b2009
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_update_cp", "fallbackQueueId": "test_update_classification_policy_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind":
      "static-rule", "value": true}, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:06:24 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_update_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_cp","name":"tst_update_cp","fallbackQueueId":"test_update_classification_policy_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"conditional","condition":{"kind":"static-rule","value":true},"labelSelectors":[{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}]}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 03:06:14 GMT
      trace-id:
      - 4f265f4e9eb2e272afe17f5e6ca49e0c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_update_cp", "fallbackQueueId": "test_update_classification_policy_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector",
      "allocations": [{"weight": 1.0, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:06:27 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_update_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_cp","name":"tst_update_cp","fallbackQueueId":"test_update_classification_policy_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"weighted-allocation-worker-selector","allocations":[{"weight":1,"labelSelectors":[{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}]}]}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 03:06:18 GMT
      trace-id:
      - 2a0779790bc3a2679fa729e045090bc4
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_update_cp", "fallbackQueueId": "test_update_classification_policy_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUri": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:06:39 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_update_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_cp","name":"tst_update_cp","fallbackQueueId":"test_update_classification_policy_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"azure-function-rule","functionUri":"https://fake.azurewebsites.net/fakeRule"},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 03:06:29 GMT
      trace-id:
      - 44aa0836237287ee70b24a5bbabb58ee
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_update_cp", "fallbackQueueId": "test_update_classification_policy_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUri": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:06:46 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_update_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_cp","name":"tst_update_cp","fallbackQueueId":"test_update_classification_policy_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"azure-function-rule","functionUri":"https://fake.azurewebsites.net/fakeRule","credential":{"functionKey":"fakeKey"}},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 03:06:38 GMT
      trace-id:
      - a002348eb1c11ac6e834a22cd2ca6a25
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Aug 2022 03:08:38 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_update_classification_policy_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      trace-id:
      - a9cba5af7f698f9596cea989a92c8d4e
    status:
      code: 204
      message: No Content
version: 1
