interactions:
- request:
    body: '{"name": "tst_get_dp_async", "offerTtlSeconds": 10.0, "mode": {"kind":
      "best-worker", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 17:59:38 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_get_dp_async", "offerTTLSeconds": 10,
      "mode": {"kind": "best-worker", "scoringRuleOptions": {"scoringParameters":
      ["jobLabels", "workerSelectors"], "allowScoringBatchOfWorkers": false, "descendingOrder":
      true}, "minConcurrentOffers": 1, "maxConcurrentOffers": 1, "bypassSelectors":
      false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Fri, 06 May 2022 17:59:32 GMT
      trace-id: 3db9a5540cd73a0c0e0fee5cee3d8921
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Fri, 06 May 2022 17:59:38 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 8b2bbaa0c1aafb8c7a9e25cd9cb4f9b3
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
version: 1
