interactions:
- request:
    body: '{"name": "test_update_job_direct_q_w_kwargs_tst_dp_async", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:31 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_update_job_direct_q_w_kwargs_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_job_direct_q_w_kwargs_tst_dp_async","name":"test_update_job_direct_q_w_kwargs_tst_dp_async","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:29:33 GMT
      trace-id: 536d3640fde6846a49982248892e35dd
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/test_update_job_direct_q_w_kwargs_tst_dp_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_update_job_direct_q_w_kwargs_tst_q_async", "distributionPolicyId":
      "test_update_job_direct_q_w_kwargs_tst_dp_async", "labels": {"key1": "JobKey",
      "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:32 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_update_job_direct_q_w_kwargs_tst_q_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_job_direct_q_w_kwargs_tst_q_async","name":"test_update_job_direct_q_w_kwargs_tst_q_async","distributionPolicyId":"test_update_job_direct_q_w_kwargs_tst_dp_async","labels":{"key1":"JobKey","key2":10,"key3":true,"Id":"test_update_job_direct_q_w_kwargs_tst_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:29:33 GMT
      trace-id: 10e7ba72d9574c6f33e5ce3dbf4eea53
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/queues/test_update_job_direct_q_w_kwargs_tst_q_async?api-version=2022-07-18-preview
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "queueId": "test_update_job_direct_q_w_kwargs_tst_q_async", "priority": 10,
      "requestedWorkerSelectors": [{"key": "FakeKey1", "labelOperator": "equal", "value":
      true}, {"key": "FakeKey2", "labelOperator": "notEqual", "value": false}, {"key":
      "FakeKey3", "labelOperator": "lessThan", "value": 10}, {"key": "FakeKey4", "labelOperator":
      "lessThanEqual", "value": 10.01}, {"key": "FakeKey5", "labelOperator": "greaterThan",
      "value": 10}, {"key": "FakeKey6", "labelOperator": "greaterThanEqual", "value":
      10}], "labels": {"key1": "JobKey", "key2": 10, "key3": true}, "tags": {"tag1":
      "WorkerGenericInfo"}, "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached
      to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:32 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_update_job_man_w_kwargs_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_job_man_w_kwargs_async","channelReference":"fakeChannelRef1","jobStatus":"created","channelId":"fakeChannelId1","queueId":"test_update_job_direct_q_w_kwargs_tst_q_async","priority":10,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"state":"active","key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"state":"active","key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"state":"active","key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:29:33 GMT
      trace-id: c9e7bfab0ecfd34f8cafac59d43c7d21
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/jobs/tst_update_job_man_w_kwargs_async?api-version=2022-07-18-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:32 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_update_job_man_w_kwargs_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_job_man_w_kwargs_async","channelReference":"fakeChannelRef1","jobStatus":"queued","enqueueTimeUtc":"2022-08-30T23:29:34.1011871+00:00","channelId":"fakeChannelId1","queueId":"test_update_job_direct_q_w_kwargs_tst_q_async","priority":10,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"state":"active","key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"state":"active","key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"state":"active","key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:29:34 GMT
      trace-id: e2980d7c60fb08674bd12725c91fd779
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/jobs/tst_update_job_man_w_kwargs_async?api-version=2022-07-18-preview
- request:
    body: '{"labels": {"key1": "JobKey", "key2": 10, "key3": true, "FakeKey": "FakeWorkerValue"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:32 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_update_job_man_w_kwargs_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_job_man_w_kwargs_async","channelReference":"fakeChannelRef1","jobStatus":"queued","enqueueTimeUtc":"2022-08-30T23:29:34.1011871+00:00","channelId":[...]
[...]
- request:
    body: '{"dispositionCode": "JobCancelledAsPartOfTestCleanUp"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:33 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_update_job_man_w_kwargs_async:cancel?api-version=2022-07-18-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      trace-id: b3b6f3d39840576a4a1cb2d9706ecf9a
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/jobs/tst_update_job_man_w_kwargs_async:cancel?api-version=2022-07-18-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:29:34 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_update_job_direct_q_w_kwargs_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      trace-id: 3b1bc06cea2db072f4f4b00423754d0b
    status:
      code: 204
      message: No Content
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/test_update_job_direct_q_w_kwargs_tst_dp_async?api-version=2022-07-18-preview
version: 1
