interactions:
- request:
    body: '{"name": "tst_delete_dp_async", "offerTtlSeconds": 10.0, "mode": {"kind":
      "best-worker", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Sat, 07 May 2022 00:35:06 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_delete_dp_async", "offerTTLSeconds": 10,
      "mode": {"kind": "best-worker", "scoringRuleOptions": {"scoringParameters":
      ["jobLabels", "workerSelectors"], "allowScoringBatchOfWorkers": false, "descendingOrder":
      true}, "minConcurrentOffers": 1, "maxConcurrentOffers": 1, "bypassSelectors":
      false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Sat, 07 May 2022 00:34:58 GMT
      trace-id: 4853ce0813f87207d9f3ad5d80b23dbd
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Sat, 07 May 2022 00:35:06 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 162a4ed0d7c0b9538fe4fd5f8e0e753d
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Sat, 07 May 2022 00:35:06 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"communicationError": {"code": "NotFound", "message": "The item was not
      found.", "target": "/routing/distributionPolicies/tst_delete_dp_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      trace-id: 0157f8d32ad4e432baccd98b8da52c09
    status:
      code: 404
      message: Not Found
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Sat, 07 May 2022 00:35:07 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"communicationError": {"code": "NotFound", "message": "The item was not
      found.", "target": "/routing/distributionPolicies/tst_delete_dp_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      trace-id: 068923bb58663693cf906a726e59c656
    status:
      code: 404
      message: Not Found
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
version: 1
