{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_delete_classification_policy_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 16:52:55 GMT"
      },
      "RequestBody": {
        "name": "test_delete_classification_policy_tst_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 16:52:56 GMT",
        "trace-id": "153eda47-3cea-af33-11e6-e788fcd28f81"
      },
      "ResponseBody": {
        "id": "test_delete_classification_policy_tst_dp_async",
        "name": "test_delete_classification_policy_tst_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_delete_classification_policy_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 16:52:56 GMT"
      },
      "RequestBody": {
        "name": "test_delete_classification_policy_tst_q_async",
        "distributionPolicyId": "test_delete_classification_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 16:52:56 GMT",
        "trace-id": "8bbc0843-3372-dd15-ca2e-87b5bf20f1d2"
      },
      "ResponseBody": {
        "id": "test_delete_classification_policy_tst_q_async",
        "name": "test_delete_classification_policy_tst_q_async",
        "distributionPolicyId": "test_delete_classification_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_delete_classification_policy_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 16:52:56 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_cp",
        "fallbackQueueId": "test_delete_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 16:52:57 GMT",
        "trace-id": "13b699a9-b8cb-6c44-0c38-dfe2a364ca71"
      },
      "ResponseBody": {
        "id": "tst_delete_cp",
        "name": "tst_delete_cp",
        "fallbackQueueId": "test_delete_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "ttlSeconds": 10,
              "expedite": false,
              "state": "active",
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 16:52:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "948031a1-2133-b312-f1fc-49829568ed08"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "The item was not found.",
          "target": "/routing/classificationPolicies/tst_delete_cp"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 16:52:57 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_cp",
        "fallbackQueueId": "test_delete_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "conditional",
            "condition": {
              "kind": "static-rule",
              "value": true
            },
            "labelSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value",
                "ttlSeconds": 10.0,
                "expedite": false
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Mod[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 16:52:59 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_cp",
        "fallbackQueueId": "test_delete_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "weighted-allocation-worker-selector",
            "allocations": [
              {
                "weight": 1.0,
                "labelSelectors": [
                  {
                    "key": "test_key",
                    "labelOperator": "equal",
                    "value": "test_value",
                    "ttlSeconds": 10.0,
                    "expedite": false
                  }
                ]
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
    [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 16:53:00 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_cp",
        "fallbackQueueId": "test_delete_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "expression-rule",
          "language": "powerFx",
          "expression": "1"
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 16:53:03 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_cp",
        "fallbackQueueId": "test_delete_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "azure-function-rule",
          "functionUri": "https://dummy.endpoint.net"
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
       [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 16:53:06 GMT"
      },
      "RequestBody": {
        "name": "tst_delete_cp",
        "fallbackQueueId": "test_delete_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "azure-function-rule",
          "functionUri": "https://dummy.endpoint.net",
          "credential": {
            "functionKey": "Sanitized"
          }
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Con[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_delete_classification_policy_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 16:53:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "0febafb0-0f65-f5a5-5c25-c330079f67c6"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
