{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_sch_jobs_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 18 May 2023 07:53:32 GMT"
      },
      "RequestBody": {
        "name": "test_list_sch_jobs_tst_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 18 May 2023 01:49:34 GMT",
        "trace-id": "f403f8b0-c5fd-711e-bfa0-fcf6e14a2eb8"
      },
      "ResponseBody": {
        "id": "test_list_sch_jobs_tst_dp_async",
        "name": "test_list_sch_jobs_tst_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_sch_jobs_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 18 May 2023 07:53:32 GMT"
      },
      "RequestBody": {
        "name": "test_list_sch_jobs_tst_q_async",
        "distributionPolicyId": "test_list_sch_jobs_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 18 May 2023 01:49:34 GMT",
        "trace-id": "4ce2ff99-a418-94bf-90f9-a1977a7fd338"
      },
      "ResponseBody": {
        "id": "test_list_sch_jobs_tst_q_async",
        "name": "test_list_sch_jobs_tst_q_async",
        "distributionPolicyId": "test_list_sch_jobs_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "test_list_sch_jobs_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_list_sch_job_1_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 18 May 2023 07:53:32 GMT"
      },
      "RequestBody": {
        "channelReference": "fakeChannelRef1",
        "channelId": "fakeChannelId1",
        "queueId": "test_list_sch_jobs_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199Z": "Fake notes attached to job"
        },
        "unavailableForMatching": true,
        "scheduledTimeUtc": "2023-05-18T07:54:02.603275Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Thu, 18 May 2023 07:53:33 GMT",
        "trace-id": "ab3052fd-3c86-d4f6-01e2-a2a5c6d26995"
      },
      "ResponseBody": {
        "id": "tst_list_sch_job_1_async",
        "channelReference": "fakeChannelRef1",
        "jobStatus": "pendingSchedule",
        "channelId": "fakeChannelId1",
        "queueId": "test_list_sch_jobs_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199\u002B00:00": "Fake notes attached to job"
        },
        "unavailableForMatching": true,
        "scheduledTimeUtc": "2023-05-18T07:54:02.603275\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs?maxpagesize=2\u0026status=scheduled\u0026queueId=test_list_sch_jobs_tst_q_async\u0026channelId=fakeChannelId1\u0026scheduledBefore=2023-05-18T07:54:02.603275Z\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 18 May 2023 07:53:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "error": {
          "code": "Denied",
          "message": "Denied by the resource provider."
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_sch_jobs_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 18 May 2023 07:53:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "481f9e3e-8bad-8771-3880-03f26f6798b0"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- : There is active job with this queue",
          "target": "/routing/queues/test_list_sch_jobs_tst_q_async"
        }
      }
    }
  ],
  "Variables": {}
}
