interactions:
- request:
    body: '{"name": "tst_update_dp_async", "offerTtlSeconds": 10.0, "mode": {"kind":
      "best-worker", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 06 May 2022 17:59:41 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_update_dp_async", "offerTTLSeconds": 10,
      "mode": {"kind": "best-worker", "scoringRuleOptions": {"scoringParameters":
      ["jobLabels", "workerSelectors"], "allowScoringBatchOfWorkers": false, "descendingOrder":
      true}, "minConcurrentOffers": 1, "maxConcurrentOffers": 1, "bypassSelectors":
      false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Fri, 06 May 2022 17:59:35 GMT
      trace-id: 8c1203c091c941a8ab302d4781c87703
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Fri, 06 May 2022 17:59:42 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 86580b545ddb6b03695a4b4d17cf6db1
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
version: 1
