{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_exception_policies_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:05:58 GMT"
      },
      "RequestBody": {
        "name": "test_list_exception_policies_tst_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:05:57 GMT",
        "trace-id": "a4a9fdd6-f734-f739-e5e6-88846c628f02"
      },
      "ResponseBody": {
        "id": "test_list_exception_policies_tst_dp_async",
        "name": "test_list_exception_policies_tst_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_exception_policies_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:05:59 GMT"
      },
      "RequestBody": {
        "name": "test_list_exception_policies_tst_q_async",
        "distributionPolicyId": "test_list_exception_policies_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:05:57 GMT",
        "trace-id": "880ad692-fdb9-bddc-5dcf-94597e6c32ba"
      },
      "ResponseBody": {
        "id": "test_list_exception_policies_tst_q_async",
        "name": "test_list_exception_policies_tst_q_async",
        "distributionPolicyId": "test_list_exception_policies_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_list_exception_policies_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_list_exception_policies_tst_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:05:59 GMT"
      },
      "RequestBody": {
        "name": "test_list_exception_policies_tst_cp_async",
        "fallbackQueueId": "test_list_exception_policies_tst_q_async"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:05:57 GMT",
        "trace-id": "1ec162ba-676e-e23b-a327-9bbcf4312d32"
      },
      "ResponseBody": {
        "id": "test_list_exception_policies_tst_cp_async",
        "name": "test_list_exception_policies_tst_cp_async",
        "fallbackQueueId": "test_list_exception_policies_tst_q_async",
        "queueSelectors": [],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:06:00 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:05:58 GMT",
        "trace-id": "0f34560f-b992-4944-e379-e5ea96965d34"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1_async",
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies?maxpagesize=2\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:06:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "c4da033a-eb56-6cb1-5a15-f49623f814a8"
      },
      "ResponseBody": {
        "value": [
          {
            "exceptionPolicy": {
              "id": "tst_list_ep_3_async",
              "name": "tst_list_ep_3_async",
              "exceptionRules": {
                "fakeExceptionRuleId": {
                  "trigger": {
                    "kind": "queue-length",
                    "threshold": 1
                  },
                  "actions": {
                    "fakeExceptionActionId": {
                      "kind": "cancel"
                    }
                  }
                }
              }
            },
            "etag": "Sanitized"
          },
          {
            "exceptionPolicy": {
              "id": "tst_list_ep_2_async",
              "name": "tst_list_ep_2_async",
              "exceptionRules": {
                "fakeExceptionRuleId": {
                  "trigger": {
                    "kind": "queue-length",
                    "threshold": 1
                  },
                  "actions": {
                    "fakeExceptionActionId": {
                      "kind": "cancel"
                    }
                  }
                }
              }
            },
            "etag": "Sanitized"
          }
        ],
        "nextLink": "/routing/exceptionPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVdSR3hQUVUxMExYa3lRMVUzVTBWQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTlNWRVE2UVVFOVBTTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPamdqUmxCRE9rRm5SMGRvTkZsRlFVdEZZVUozUTBoQ1FVTlNURlJuUVNJc0luSmhibWRsSWpwN0ltMXBiaUk2SWlJc0ltMWhlQ0k2SWtaR0luMTlYUT09"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVdSR3hQUVUxMExYa3lRMVUzVTBWQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTlNWRVE2UVVFOVBTTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPamdqUmxCRE9rRm5SMGRvTkZsRlFVdEZZVUozUTBoQ1FVTlNURlJuUVNJc0luSmhibWRsSWpwN0ltMXBiaUk2SWlJc0ltMWhlQ0k2SWtaR0luMTlYUT09\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "Request[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVdSR3hQUVUxMExYa3lRMmx0YVVWQlFVRkJRVUZCUFQwalVsUTZNaU5VVWtNNk5DTlNWRVE2UVVFOVBTTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdPamdqUmxCRE9rRm5SMGRvTkZsRlFVdEZZVUozUTBoQ1FVTlNURlJuUVNJc0luSmhibWRsSWpwN0ltMXBiaUk2SWlJc0ltMWhlQ0k2SWtaR0luMTlYUT09\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "Request[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:06:01 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_list_exception_policies_tst_q_async",
                "priority": 1
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:05:59 GMT",
        "trace-id": "c1ce7dc7-8105-2dcf-e53d-110ba1062c0a"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1_async",
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_list_exception_policies_tst_q_async",
                "priority": 1,
                "workerSelectors": []
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:06:03 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_list_exception_policies_tst_cp_async"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:06:01 GMT",
        "trace-id": "2e838eef-adde-c9d1-2bf0-b0a54cb1e2e9"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1_async",
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_list_exception_policies_tst_cp_async",
                "labelsToUpsert": {}
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:06:05 GMT"
      },
      "RequestBody": {
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600.0
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:06:03 GMT",
        "trace-id": "d28c2c31-1518-a6f2-3e8b-fda2d654d9f3"
      },
      "ResponseBody": {
        "id": "tst_list_ep_1_async",
        "name": "tst_list_ep_1_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_list_ep_3_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:06:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "dada1a76-31b8-40b5-91cb-a6d3a5cc98d8"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
