interactions:
- request:
    body: '{"name": "test_list_exception_policies_tst_dp", "offerTtlSeconds": 10.0,
      "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:12:23 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_list_exception_policies_tst_dp?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"test_list_exception_policies_tst_dp","name":"test_list_exception_policies_tst_dp","offerTTLSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:12:24 GMT
      trace-id:
      - 3e090f06cb23e1db6ca383e3a133a691
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_list_exception_policies_tst_q", "distributionPolicyId":
      "test_list_exception_policies_tst_dp", "labels": {"key1": "QueueKey", "key2":
      10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:12:23 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_list_exception_policies_tst_q?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"test_list_exception_policies_tst_q","name":"test_list_exception_policies_tst_q","distributionPolicyId":"test_list_exception_policies_tst_dp","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_list_exception_policies_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:12:24 GMT
      trace-id:
      - fb2614574491db67e93c64de8b668668
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_list_exception_policies_tst_cp", "fallbackQueueId": "test_list_exception_policies_tst_q"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:12:23 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/test_list_exception_policies_tst_cp?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"test_list_exception_policies_tst_cp","name":"test_list_exception_policies_tst_cp","fallbackQueueId":"test_list_exception_policies_tst_q","queueSelectors":[],"workerSelectors":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:12:24 GMT
      trace-id:
      - 72176d9096c4cbfea131472417901b01
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_list_ep_1", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:12:24 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_list_ep_1","name":"tst_list_ep_1","exceptionRules":{"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:12:25 GMT
      trace-id:
      - 2a149526f4426a8718ae38c14d914353
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:12:24 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies?maxpagesize=2&api-version=2021-10-20-preview2
  response:
    body:
      string: '{"value":[{"etag":"\"5a05d4c5-0000-0700-0000-6282be390000\"","id":"tst_list_ep_1","name":"tst_list_ep_1","exceptionRules":{"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}},{"etag":"\"5a05dbc5-0000-0700-0000-6282be390000\"","id":"tst_list_ep_2","name":"tst_list_ep_2","exceptionRules":{"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}],"nextLink":"/routing/exceptionPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVUxQldrVk9WRkpCUVVGQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTkpVMVk2TWlOSlJVODZOalUxTmpjalJsQkRPa0ZrUlVGQlFVRkJRVUZCUVRCblFVRkJRVUZCUVVGQlBTSXNJbkpoYm1kbElqcDdJbTFwYmlJNklpSXNJbTFoZUNJNklrWkdJbjE5WFE9PQ%3D%3D"}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 5cb23f759fc22e208cec8a8f0f09445b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:12:24 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies?maxpagesize=2&api-version=2021-10-20-preview2&continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVUxQldrVk9WRkpCUVVGQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTkpVMVk2TWlOSlJVODZOalUxTmpjalJsQkRPa0ZrUlVGQlFVRkJRVUZCUVRCblFVRkJRVUZCUVVGQlBTSXNJbkpoYm1kbElqcDdJbTFwYmlJNklpSXNJbTFoZUNJNklrWkdJbjE5WFE9PQ%3D%3D
  response:
    body:
      string: '{"value":[{"etag":"\"5a05e6c5-0000-0700-0000-6282be390000\"","id":"tst_list_ep_3","name":"tst_list_ep_3","exceptionRules":{"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - cd69e078300eac7c23073398100aa1db
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_list_ep_1", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "manual-reclassify", "queueId": "test_list_exception_policies_tst_q",
      "priority": 1}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:12:24 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_list_ep_1","name":"tst_list_ep_1","exceptionRules":{"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"manual-reclassify","queueId":"test_list_exception_policies_tst_q","priority":1,"workerSelectors":[]}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:12:25 GMT
      trace-id:
      - c42efb645807c0f617a5766ed56b9526
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_list_ep_1", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "reclassify", "classificationPolicyId": "test_list_exception_policies_tst_cp"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:12:25 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/tst_list_ep_1?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_list_ep_1","name":"tst_list_ep_1","exceptionRules":{"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"reclassify","classificationPolicyId":"test_list_exception_policies_tst_cp","labelsToUpsert":{}}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:12:26 GMT
      trace-id:
      - c31d1bb18e7a89af75c065ad0a24d34c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:12:28 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/tst_list_ep_2?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - f7e0a9c1561183070944c6b27559a5b0
    status:
      code: 204
      message: No Content
version: 1
