{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_job_w_cp_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:39:55 GMT"
      },
      "RequestBody": {
        "name": "test_get_job_w_cp_tst_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:39:55 GMT",
        "trace-id": "3dfbba02b4f0c8482ccae5342599b159"
      },
      "ResponseBody": {
        "id": "test_get_job_w_cp_tst_dp_async",
        "name": "test_get_job_w_cp_tst_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_get_job_w_cp_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:39:56 GMT"
      },
      "RequestBody": {
        "name": "test_get_job_w_cp_tst_q_async",
        "distributionPolicyId": "test_get_job_w_cp_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:39:55 GMT",
        "trace-id": "6382930e80eb845905799fe74fd51425"
      },
      "ResponseBody": {
        "id": "test_get_job_w_cp_tst_q_async",
        "name": "test_get_job_w_cp_tst_q_async",
        "distributionPolicyId": "test_get_job_w_cp_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "test_get_job_w_cp_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_get_job_w_cp_tst_flbk_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:39:56 GMT"
      },
      "RequestBody": {
        "name": "test_get_job_w_cp_tst_flbk_q_async",
        "distributionPolicyId": "test_get_job_w_cp_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:39:55 GMT",
        "trace-id": "8c27a123dcf0d286352fb21dccb623c8"
      },
      "ResponseBody": {
        "id": "test_get_job_w_cp_tst_flbk_q_async",
        "name": "test_get_job_w_cp_tst_flbk_q_async",
        "distributionPolicyId": "test_get_job_w_cp_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "test_get_job_w_cp_tst_flbk_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_get_job_w_cp_tst_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:39:56 GMT"
      },
      "RequestBody": {
        "name": "test_get_job_w_cp_tst_cp",
        "fallbackQueueId": "test_get_job_w_cp_tst_flbk_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "test_get_job_w_cp_tst_q_async"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "FakeKeyFromCp",
              "labelOperator": "equal",
              "value": "FakeValue"
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:39:56 GMT",
        "trace-id": "d4be8ae78d7697fb1088acd27fc4d238"
      },
      "ResponseBody": {
        "id": "test_get_job_w_cp_tst_cp",
        "name": "test_get_job_w_cp_tst_cp",
        "fallbackQueueId": "test_get_job_w_cp_tst_flbk_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "test_get_job_w_cp_tst_q_async"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "expedite": false,
              "state": "active",
              "key": "FakeKeyFromCp",
              "labelOperator": "equal",
              "value": "FakeValue"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_get_job_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:39:56 GMT"
      },
      "RequestBody": {
        "channelReference": "fakeChannelRef1",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "test_get_job_w_cp_tst_cp",
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199Z": "Fake notes attached to job"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:39:56 GMT",
        "trace-id": "33dc4f9fd266148173752e2ae1fae52d"
      },
      "ResponseBody": {
        "id": "tst_get_job_cp_async",
        "channelReference": "fakeChannelRef1",
        "jobStatus": "pendingClassification",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "test_get_job_w_cp_tst_cp",
        "priority": 1,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199\u002B00:00": "Fake notes attached to job"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_get_job_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:39:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:39:56 GMT",
        "trace-id": "a9b45259d77cc07d3d9b7f3ca40f3ae6"
      },
      "ResponseBody": {
        "id": "tst_get_job_cp_async",
        "channelReference": "fakeChannelRef1",
        "jobStatus": "pendingClassification",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "test_get_job_w_cp_tst_cp",
        "queueId": "test_get_job_w_cp_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": [...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_get_job_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:40:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:39:56 GMT",
        "trace-id": "9851f66fc1d13079fb45acefdbdeddb3"
      },
      "ResponseBody": {
        "id": "tst_get_job_cp_async",
        "channelReference": "fakeChannelRef1",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2022-11-09T08:39:56.6072811\u002B00:00",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "test_get_job_w_cp_tst_cp",
        "queueId": "test_get_job_w_cp_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "stat[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_get_job_cp_async:cancel?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:40:00 GMT"
      },
      "RequestBody": {
        "dispositionCode": "JobCancelledAsPartOfTestCleanUp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f43a2d8082ffdcd44d347995fa1f91cb"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_job_w_cp_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:40:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "666eb1bfcf2829c7614af1bafafe193b"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
