{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_exception_policy_w_kwargs_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:05:36 GMT"
      },
      "RequestBody": {
        "name": "test_update_exception_policy_w_kwargs_tst_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:05:34 GMT",
        "trace-id": "2aeb8af1-ae8c-9029-a14d-05d6ecf87faf"
      },
      "ResponseBody": {
        "id": "test_update_exception_policy_w_kwargs_tst_dp_async",
        "name": "test_update_exception_policy_w_kwargs_tst_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_update_exception_policy_w_kwargs_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:05:36 GMT"
      },
      "RequestBody": {
        "name": "test_update_exception_policy_w_kwargs_tst_q_async",
        "distributionPolicyId": "test_update_exception_policy_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:05:34 GMT",
        "trace-id": "d2988bbf-6ccf-0040-c56e-759136eda448"
      },
      "ResponseBody": {
        "id": "test_update_exception_policy_w_kwargs_tst_q_async",
        "name": "test_update_exception_policy_w_kwargs_tst_q_async",
        "distributionPolicyId": "test_update_exception_policy_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_update_exception_policy_w_kwargs_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_update_exception_policy_w_kwargs_tst_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:05:36 GMT"
      },
      "RequestBody": {
        "name": "test_update_exception_policy_w_kwargs_tst_cp_async",
        "fallbackQueueId": "test_update_exception_policy_w_kwargs_tst_q_async"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:05:34 GMT",
        "trace-id": "2a553236-aafe-13f7-fb74-5c34881a2220"
      },
      "ResponseBody": {
        "id": "test_update_exception_policy_w_kwargs_tst_cp_async",
        "name": "test_update_exception_policy_w_kwargs_tst_cp_async",
        "fallbackQueueId": "test_update_exception_policy_w_kwargs_tst_q_async",
        "queueSelectors": [],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:05:37 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:05:35 GMT",
        "trace-id": "630edfd5-60af-293e-b3e1-91358ad2439c"
      },
      "ResponseBody": {
        "id": "tst_update_ep_w_kwargs_async",
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:05:37 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId": null,
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:05:35 GMT",
        "trace-id": "a67c10ee-de89-1394-a9b0-cedddbe69655"
      },
      "ResponseBody": {
        "id": "tst_update_ep_w_kwargs_async",
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:05:38 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_update_exception_policy_w_kwargs_tst_q_async",
                "priority": 1
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:05:36 GMT",
        "trace-id": "c92c2c62-c618-b1fa-0fa3-4578376825f9"
      },
      "ResponseBody": {
        "id": "tst_update_ep_w_kwargs_async",
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          },
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_update_exception_policy_w_kwargs_tst_q_async",
                "priority": 1,
                "workerSelectors": []
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:05:39 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_update_exception_policy_w_kwargs_tst_cp_async"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:05:37 GMT",
        "trace-id": "c4ddc88b-a3ae-70aa-07b2-2b075b66aa8d"
      },
      "ResponseBody": {
        "id": "tst_update_ep_w_kwargs_async",
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_update_exception_policy_w_kwargs_tst_q_async",
                "priority": 1,
                "workerSelectors": []
              }
            }
          },
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_update_exception_policy_w_kwargs_tst_cp_async",
                "labelsToUpsert": {}
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:05:40 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600.0
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:05:38 GMT",
        "trace-id": "18d055b6-f47e-ae5b-3b05-852fef9ab829"
      },
      "ResponseBody": {
        "id": "tst_update_ep_w_kwargs_async",
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_update_exception_policy_w_kwargs_tst_cp_async",
                "labelsToUpsert": {}
              }
            }
          },
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:05:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "b1ab36fa-4f7d-02e6-857d-91c11eb23fa9"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
