interactions:
- request:
    body: '{"name": "test_get_classification_policy_tst_dp", "offerTtlSeconds": 10.0,
      "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:09:12 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_get_classification_policy_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_classification_policy_tst_dp","name":"test_get_classification_policy_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 03:09:04 GMT
      trace-id:
      - ae6b3f1a70774432d89cb139e298b12f
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_get_classification_policy_tst_q", "distributionPolicyId":
      "test_get_classification_policy_tst_dp", "labels": {"key1": "QueueKey", "key2":
      10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:09:14 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_get_classification_policy_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_classification_policy_tst_q","name":"test_get_classification_policy_tst_q","distributionPolicyId":"test_get_classification_policy_tst_dp","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_get_classification_policy_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 03:09:06 GMT
      trace-id:
      - 8b8a340da5de3547735febc688dce78a
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_get_cp", "fallbackQueueId": "test_get_classification_policy_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:09:16 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_get_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_get_cp","name":"tst_get_cp","fallbackQueueId":"test_get_classification_policy_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 03:09:08 GMT
      trace-id:
      - db03c10f5fde0a433bb8db4d4384c4fd
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_get_cp", "fallbackQueueId": "test_get_classification_policy_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind":
      "static-rule", "value": true}, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:09:18 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_get_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_get_cp","name":"tst_get_cp","fallbackQueueId":"test_get_classification_policy_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"conditional","condition":{"kind":"static-rule","value":true},"labelSelectors":[{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}]}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 03:09:09 GMT
      trace-id:
      - b572148fb0202caa1873306722297053
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_get_cp", "fallbackQueueId": "test_get_classification_policy_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector",
      "allocations": [{"weight": 1.0, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:09:21 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_get_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_get_cp","name":"tst_get_cp","fallbackQueueId":"test_get_classification_policy_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"weighted-allocation-worker-selector","allocations":[{"weight":1,"labelSelectors":[{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}]}]}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 03:09:12 GMT
      trace-id:
      - 5a4834652666c332c8437b58d65b9149
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_get_cp", "fallbackQueueId": "test_get_classification_policy_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "1"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value",
      "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:09:23 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_get_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_get_cp","name":"tst_get_cp","fallbackQueueId":"test_get_classification_policy_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"expression-rule","language":"powerFx","expression":"1"},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 03:09:14 GMT
      trace-id:
      - 8d01954dfba5fe774df848952d183a38
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_get_cp", "fallbackQueueId": "test_get_classification_policy_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUri": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:09:30 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_get_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_get_cp","name":"tst_get_cp","fallbackQueueId":"test_get_classification_policy_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"azure-function-rule","functionUri":"https://fake.azurewebsites.net/fakeRule"},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 03:09:21 GMT
      trace-id:
      - 8cd0a0de9747e634580c679f4311e48c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_get_cp", "fallbackQueueId": "test_get_classification_policy_tst_q",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUri": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 03:09:36 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_get_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_get_cp","name":"tst_get_cp","fallbackQueueId":"test_get_classification_policy_tst_q","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"azure-function-rule","functionUri":"https://fake.azurewebsites.net/fakeRule","credential":{"functionKey":"fakeKey"}},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 03:09:27 GMT
      trace-id:
      - 040d70383a9a0f5f54c0a0a8efb21ec7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Aug 2022 03:11:02 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_get_classification_policy_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      trace-id:
      - 8f6458011d4e89e7557e673765aa2124
    status:
      code: 204
      message: No Content
version: 1
