interactions:
- request:
    body: '{"name": "test_create_queue_tst_dp", "offerTtlSeconds": 10.0, "mode": {"kind":
      "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:12:46 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_create_queue_tst_dp?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"test_create_queue_tst_dp","name":"test_create_queue_tst_dp","offerTTLSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:12:46 GMT
      trace-id:
      - 13e5ab90cd3290870d398cf6ce9bc16d
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_create_q", "distributionPolicyId": "test_create_queue_tst_dp",
      "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4": false, "key5":
      10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:12:46 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/tst_create_q?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_create_q","name":"tst_create_q","distributionPolicyId":"test_create_queue_tst_dp","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"tst_create_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 21:12:47 GMT
      trace-id:
      - 7cdbbb73ad4fed08a86c698297d50de9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:12:46 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_create_queue_tst_dp?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - 1fb19b939f824fcfc28c11909f176f34
    status:
      code: 204
      message: No Content
version: 1
