interactions:
- request:
    body: '{"name": "test_delete_queue_tst_dp_async", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 23:42:25 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_delete_queue_tst_dp_async","name":"test_delete_queue_tst_dp_async","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 17 Aug 2022 23:42:18 GMT
      trace-id: cbb2b63ed02988f117997d93a5171880
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_delete_q_async", "distributionPolicyId": "test_delete_queue_tst_dp_async",
      "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4": false, "key5":
      10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 23:42:27 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_delete_q_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_delete_q_async","name":"test_delete_q_async","distributionPolicyId":"test_delete_queue_tst_dp_async","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_delete_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 17 Aug 2022 23:42:20 GMT
      trace-id: 6497c87f08636f9dbd71e5f323adcf5a
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/queues/test_delete_q_async?api-version=2022-07-18-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 17 Aug 2022 23:42:29 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_delete_q_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"communicationError":{"code":"NotFound","message":"The item was not
        found.","target":"/routing/queues/test_delete_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      trace-id: 925d4712bcf0aa502fb52fae0bfd3141
    status:
      code: 404
      message: Not Found
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/queues/test_delete_q_async?api-version=2022-07-18-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 17 Aug 2022 23:42:30 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      trace-id: 01f4d6cb01d81143e466ae0b91adac95
    status:
      code: 204
      message: No Content
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_delete_queue_tst_dp_async?api-version=2022-07-18-preview
version: 1
