interactions:
- request:
    body: '{"name": "test_delete_classification_policy_tst_dp_async", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 20:39:44 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_delete_classification_policy_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_delete_classification_policy_tst_dp_async","name":"test_delete_classification_policy_tst_dp_async","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 17 Aug 2022 20:39:39 GMT
      trace-id: 77ef12e97acb331a437c83d983e251ac
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_delete_classification_policy_tst_dp_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_delete_classification_policy_tst_q_async", "distributionPolicyId":
      "test_delete_classification_policy_tst_dp_async", "labels": {"key1": "QueueKey",
      "key2": 10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 20:39:46 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_delete_classification_policy_tst_q_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_delete_classification_policy_tst_q_async","name":"test_delete_classification_policy_tst_q_async","distributionPolicyId":"test_delete_classification_policy_tst_dp_async","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_delete_classification_policy_tst_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 17 Aug 2022 20:39:41 GMT
      trace-id: c5468c09069806e4e33cc965e256e315
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/queues/test_delete_classification_policy_tst_q_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "tst_delete_cp", "fallbackQueueId": "test_delete_classification_policy_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 20:39:48 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_delete_cp","name":"tst_delete_cp","fallbackQueueId":"test_delete_classification_policy_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 17 Aug 2022 20:39:42 GMT
      trace-id: b4d21ceb9127bd51a0b4062dd192aee1
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 17 Aug 2022 20:39:51 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"communicationError":{"code":"NotFound","message":"The item was not
        found.","target":"/routing/classificationPolicies/tst_delete_cp"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      trace-id: 993e3462b7c4c89e392017d4eb38864b
    status:
      code: 404
      message: Not Found
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview
- request:
    body: '{"name": "tst_delete_cp", "fallbackQueueId": "test_delete_classification_policy_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind":
      "static-rule", "value": true}, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 20:39:52 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_delete_cp","name":"tst_delete_cp","fallbackQueueId":"test_delete_classification_policy_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"conditional","condition":{"kind":"static-rule","value":true},"labelSelectors":[{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}]}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 17 Aug 2022 20:39:46 GMT
      trace-id: 6d41b21cfe798fde2336359cdc4e2497
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview
[...]
- request:
    body: '{"name": "tst_delete_cp", "fallbackQueueId": "test_delete_classification_policy_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector",
      "allocations": [{"weight": 1.0, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 20:39:58 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_delete_cp","name":"tst_delete_cp","fallbackQueueId":"test_delete_classification_policy_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"weighted-allocation-worker-selector","allocations":[{"weight":1,"labelSelectors":[{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}]}]}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 17 Aug 2022 20:39:53 GMT
      trace-id: 1cd3dd9c05d1c2762c78cc31778ede8c
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview
[...]
- request:
    body: '{"name": "tst_delete_cp", "fallbackQueueId": "test_delete_classification_policy_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "1"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value",
      "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 20:40:03 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_delete_cp","name":"tst_delete_cp","fallbackQueueId":"test_delete_classification_policy_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"expression-rule","language":"powerFx","expression":"1"},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"state":"active","key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 17 Aug 2022 20:39:56 GMT
      trace-id: c3e2a9ae96b7777ee3878004f0e68d6d
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview
[...]
- request:
    body: '{"name": "tst_delete_cp", "fallbackQueueId": "test_delete_classification_policy_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUri": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 20:40:17 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview
 [...]
[...]
- request:
    body: '{"name": "tst_delete_cp", "fallbackQueueId": "test_delete_classification_policy_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUri": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 20:40:27 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_delete_cp?api-version=2022-07-18-preview
  response:
    body:
    [...]
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 17 Aug 2022 20:43:29 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_delete_classification_policy_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      trace-id: bf79849bf7d52e071a4c316378a4d64f
    status:
      code: 204
      message: No Content
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_delete_classification_policy_tst_dp_async?api-version=2022-07-18-preview
version: 1
