{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_create_job_w_cp_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 20:22:07 GMT"
      },
      "RequestBody": {
        "name": "test_create_job_w_cp_tst_dp",
        "offerExpiresAfterSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 20:22:07 GMT",
        "trace-id": "0647158a-191e-7119-93e6-7c4d68521892"
      },
      "ResponseBody": {
        "id": "test_create_job_w_cp_tst_dp",
        "name": "test_create_job_w_cp_tst_dp",
        "offerExpiresAfterSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_create_job_w_cp_tst_q?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 20:22:07 GMT"
      },
      "RequestBody": {
        "name": "test_create_job_w_cp_tst_q",
        "distributionPolicyId": "test_create_job_w_cp_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 20:22:07 GMT",
        "trace-id": "befe628b-a159-5516-ae22-528ae8f1d7f5"
      },
      "ResponseBody": {
        "id": "test_create_job_w_cp_tst_q",
        "name": "test_create_job_w_cp_tst_q",
        "distributionPolicyId": "test_create_job_w_cp_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "test_create_job_w_cp_tst_q"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_create_job_w_cp_tst_flbk_q?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 20:22:07 GMT"
      },
      "RequestBody": {
        "name": "test_create_job_w_cp_tst_flbk_q",
        "distributionPolicyId": "test_create_job_w_cp_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 20:22:07 GMT",
        "trace-id": "edd91596-c926-71b8-57e8-0ec61379bcc4"
      },
      "ResponseBody": {
        "id": "test_create_job_w_cp_tst_flbk_q",
        "name": "test_create_job_w_cp_tst_flbk_q",
        "distributionPolicyId": "test_create_job_w_cp_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "test_create_job_w_cp_tst_flbk_q"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_create_job_w_cp_tst_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 20:22:08 GMT"
      },
      "RequestBody": {
        "name": "test_create_job_w_cp_tst_cp",
        "fallbackQueueId": "test_create_job_w_cp_tst_flbk_q",
        "queueSelectors": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "test_create_job_w_cp_tst_q"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": [
          {
            "kind": "static",
            "workerSelector": {
              "key": "FakeKeyFromCp",
              "labelOperator": "equal",
              "value": "FakeValue"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 20:22:08 GMT",
        "trace-id": "7a0230ce-fcf8-e09d-e653-49567ebf5493"
      },
      "ResponseBody": {
        "id": "test_create_job_w_cp_tst_cp",
        "name": "test_create_job_w_cp_tst_cp",
        "fallbackQueueId": "test_create_job_w_cp_tst_flbk_q",
        "queueSelectors": [
          {
            "kind": "static",
            "queueSelector": {
              "key": "Id",
              "labelOperator": "equal",
              "value": "test_create_job_w_cp_tst_q"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 10
        },
        "workerSelectors": [
          {
            "kind": "static",
            "workerSelector": {
              "expedite": false,
              "status": "active",
              "key": "FakeKeyFromCp",
              "labelOperator": "equal",
              "value": "FakeValue"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_create_job_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 20:22:08 GMT"
      },
      "RequestBody": {
        "channelReference": "fakeChannelRef1",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "test_create_job_w_cp_tst_cp",
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199Z": "Fake notes attached to job"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 20:22:08 GMT",
        "trace-id": "3bb77d94-f1cc-4fe9-e590-ea3a106ae7b4"
      },
      "ResponseBody": {
        "id": "tst_create_job_cp",
        "channelReference": "fakeChannelRef1",
        "status": "pendingClassification",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "test_create_job_w_cp_tst_cp",
        "priority": 1,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199\u002B00:00": "Fake notes attached to job"
        },
        "matchingMode": {
          "modeType": "queueAndMatchMode",
          "queueAndMatchMode": {}
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_create_job_cp?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 20:22:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 11 Jul 2023 20:22:08 GMT",
        "trace-id": "03313e6c-4f0e-97b8-4af5-379231d68080"
      },
      "ResponseBody": {
        "id": "tst_create_job_cp",
        "channelReference": "fakeChannelRef1",
        "status": "queued",
        "enqueuedAt": "2023-07-11T20:22:08.9488926\u002B00:00",
        "channelId": "fakeChannelId1",
        "classificationPolicyId": "test_create_job_w_cp_tst_cp",
        "queueId": "test_create_job_w_cp_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "status": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": f[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_create_job_cp:cancel?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 20:22:11 GMT"
      },
      "RequestBody": {
        "dispositionCode": "JobCancelledAsPartOfTestCleanUp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "4f4362d2-0513-bf5a-0b99-42cc14c53f1a"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_create_job_w_cp_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 11 Jul 2023 20:22:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "efdd5fc5-135d-5e1d-f761-bd152e128fff"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
