interactions:
- request:
    body: '{"name": "test_create_job_w_cp_tst_dp_async", "offerTtlSeconds": 10.0,
      "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:40 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_create_job_w_cp_tst_dp_async", "offerTtlSeconds":
      10, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1, "bypassSelectors": false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:41 GMT
      trace-id: c8ca9ae9d2f0551b3acf12d1125fc51b
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_create_job_w_cp_tst_q_async", "distributionPolicyId": "sanitized",
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:40 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_create_job_w_cp_tst_q_async", "distributionPolicyId":
      "sanitized", "labels": {"key1": "JobKey", "key2": 10, "key3": true, "Id": "sanitized"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:41 GMT
      trace-id: 14159aa2547f1d2c2ba68699af25c0fd
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "test_create_job_w_cp_tst_cp", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "Id", "labelOperator":
      "equal", "value": "test_create_job_w_cp_tst_q_async"}}], "prioritizationRule":
      {"kind": "static-rule", "value": 10}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "FakeKeyFromCp", "labelOperator": "equal", "value":
      "FakeValue"}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:40 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_create_job_w_cp_tst_cp", "fallbackQueueId":
      "sanitized", "queueSelectors": [{"kind": "static", "labelSelector": {"key":
      "Id", "labelOperator": "equal", "value": "test_create_job_w_cp_tst_q_async"}}],
      "prioritizationRule": {"kind": "static-rule", "value": 10}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"expedite": false, "key": "FakeKeyFromCp",
      "labelOperator": "equal", "value": "FakeValue"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:41 GMT
      trace-id: 37f0712fbe983c7c7621b35182944e11
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "classificationPolicyId": "sanitized", "requestedWorkerSelectors": [{"key":
      "FakeKey1", "labelOperator": "equal", "value": true}, {"key": "FakeKey2", "labelOperator":
      "notEqual", "value": false}, {"key": "FakeKey3", "labelOperator": "lessThan",
      "value": 10}, {"key": "FakeKey4", "labelOperator": "lessThanEqual", "value":
      10.01}, {"key": "FakeKey5", "labelOperator": "greaterThan", "value": 10}, {"key":
      "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}], "labels": {"key1":
      "JobKey", "key2": 10, "key3": true}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:41 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "channelReference": "fakeChannelRef1", "jobStatus":
      "pendingClassification", "channelId": "fakeChannelId1", "classificationPolicyId":
      "sanitized", "priority": 1, "requestedWorkerSelectors": [{"expedite": false,
      "key": "FakeKey1", "labelOperator": "equal", "value": true}, {"expedite": false,
      "key": "FakeKey2", "labelOperator": "notEqual", "value": false}, {"expedite":
      false, "key": "FakeKey3", "labelOperator": "lessThan", "value": 10}, {"expedite":
      false, "key": "FakeKey4", "labelOperator": "lessThanEqual", "value": 10.01},
      {"expedite": false, "key": "FakeKey5", "labelOperator": "greaterThan", "value":
      10}, {"expedite": false, "key": "FakeKey6", "labelOperator": "greaterThanEqual",
      "value": 10}], "attachedWorkerSelectors": [], "labels": {"key1": "JobKey", "key2":
      10, "key3": true}, "assignments": {}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199+00:00": "Fake notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:41 GMT
      trace-id: 251aee78468328c72b1d13ce4734b5e4
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:41 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "channelReference": "fakeChannelRef1", "jobStatus":
      "queued", "enqueueTimeUtc": "2022-05-16T07:35:42.1573851+00:00", "channelId":
      "fakeChannelId1", "classificationPolicyId": "sanitized", "queueId": "sanitized",
      "priority": 10, "requestedWorkerSelectors": [{"expedite": false, "key": "FakeKey1",
      "labelOperator": "equal", "value": true}, {"expedite": false, "key": "FakeKey2",
      "labelOperator": "notEqual", "value": false}, {"expedite": false, "key": "FakeKey3",
      "labelOperator": "lessThan", "value": 10}, {"expedite": false, "key": "FakeKey4",
      "labelOperator": "lessThanEqual", "value": 10.01}, {"expedite": false, "key":
      "FakeKey5", "labelOperator": "greaterThan", "value": 10}, {"expedite": false,
      "key": "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}], "attachedWorkerSelectors":
      [{"expedite": false, "key": "FakeKeyFromCp", "labelOperator": "equal", "value":
      "FakeValue"}], "labels": {"key1": "JobKey", "key2": 10, "key3": true}, "assignments":
      {}, "tags": {"tag1": "WorkerGenericInfo"}, "notes": {"2022-05-13T16:59:04.531199+00:00":
      "Fake notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:42 GMT
      trace-id: e267d1a0493169bd46bd7494da5b9d0a
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"note": "Cancelling job after test cleanup after: test_create_job_w_cp",
      "dispositionCode": "JobCancelledAsPartOfTestCleanUp"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 16 May 2022 07:35:41 GMT
    method: POST
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      trace-id: fbbf951f8a5ead62cc1b7d0e7bc1d19f
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:41 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 78d8270be61c08ab7df8476ee950435c
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:42 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 3dec7a837da571010aaa1733460fbb16
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
version: 1
