{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_jobs_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:07:54 GMT"
      },
      "RequestBody": {
        "name": "test_list_jobs_tst_dp",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:07:52 GMT",
        "trace-id": "41314555-f4f5-0802-88b0-447e73bf524f"
      },
      "ResponseBody": {
        "id": "test_list_jobs_tst_dp",
        "name": "test_list_jobs_tst_dp",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_list_jobs_tst_q?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:07:54 GMT"
      },
      "RequestBody": {
        "name": "test_list_jobs_tst_q",
        "distributionPolicyId": "test_list_jobs_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:07:52 GMT",
        "trace-id": "c772e240-a21f-c874-88fd-1fce8877bfd8"
      },
      "ResponseBody": {
        "id": "test_list_jobs_tst_q",
        "name": "test_list_jobs_tst_q",
        "distributionPolicyId": "test_list_jobs_tst_dp",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "test_list_jobs_tst_q"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_list_job_1?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:07:54 GMT"
      },
      "RequestBody": {
        "channelReference": "fakeChannelRef1",
        "channelId": "fakeChannelId1",
        "queueId": "test_list_jobs_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199Z": "Fake notes attached to job"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:07:53 GMT",
        "trace-id": "767b74eb-382e-508c-f434-e186db78d6eb"
      },
      "ResponseBody": {
        "id": "tst_list_job_1",
        "channelReference": "fakeChannelRef1",
        "jobStatus": "created",
        "channelId": "fakeChannelId1",
        "queueId": "test_list_jobs_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199\u002B00:00": "Fake notes attached to job"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_list_job_1?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:07:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 18:07:53 GMT",
        "trace-id": "811b337b-2e2d-149e-24bc-20f80d37a1d8"
      },
      "ResponseBody": {
        "id": "tst_list_job_1",
        "channelReference": "fakeChannelRef1",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2023-04-25T18:07:53.8535029\u002B00:00",
        "channelId": "fakeChannelId1",
        "queueId": "test_list_jobs_tst_q",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey2",
            "labelOperator[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs?maxpagesize=2\u0026status=queued\u0026queueId=test_list_jobs_tst_q\u0026channelId=fakeChannelId1\u0026api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:08:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "4f656d70-965c-6fae-8f24-a33d12a36f68"
      },
      "ResponseBody": {
        "value": [
          {
            "routerJob": {
              "id": "tst_list_job_3",
              "channelReference": "fakeChannelRef1",
              "jobStatus": "queued",
              "enqueueTimeUtc": "2023-04-25T18:08:01.2980634\u002B00:00",
              "channelId": "fakeChannelId1",
              "queueId": "test_list_jobs_tst_q",
              "priority": 10,
              "requestedWorkerSelectors": [
                {
                  "expedite": false,
                  "state": "active",
                  "key": "FakeKey1"[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs?continuationToken=bWF4cGFnZXNpemU9MiZzdGF0dXM9cXVldWVkJnF1ZXVlSWQ9dGVzdF9saXN0X2pvYnNfdHN0X3EmY2hhbm5lbElkPWZha2VDaGFubmVsSWQxJmNvbnRpbnVhdGlvblRva2VuPVczc2lkRzlyWlc0aU9pSXJVa2xFT241V1JHeFBRVTlhZFRsYWVFTmFSVTFCUVVGQlFVRkJQVDBqVWxRNk1TTlVVa002TWlOU1ZFUTZjVEpWZFc4emFHRXhiR0ZWUzFCNlVHaDBZVEpDVFVoYWFWbEhNemxCUFQwalNWTldPaklqU1VWUE9qWTFOVFkzSTFGRFJqbzRJMFpRUXpwQlZVWnJVWGRCUVVGQlFVRlJNbEpFUVVGQlFVRkJRVDBpTENKeVlXNW5aU0k2[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_list_job_2:cancel?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:08:06 GMT"
      },
      "RequestBody": {
        "dispositionCode": "JobCancelledAsPartOfTestCleanUp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "f4db4b25-bcb8-3b0c-a593-4ead7244d04d"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_list_jobs_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 18:08:11 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "4d78f2be-cd51-638a-bad6-faa23135b51e"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
