interactions:
- request:
    body: '{"name": "test_get_job_w_cp_tst_dp_async", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:46 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_get_job_w_cp_tst_dp_async", "offerTtlSeconds":
      10, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1, "bypassSelectors": false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:47 GMT
      trace-id: ea1cbc4db5b040ded8eff3610ee1099d
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_get_job_w_cp_tst_q_async", "distributionPolicyId": "sanitized",
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:46 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_get_job_w_cp_tst_q_async", "distributionPolicyId":
      "sanitized", "labels": {"key1": "JobKey", "key2": 10, "key3": true, "Id": "sanitized"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:47 GMT
      trace-id: c6f12c577ccfa4bd3b11587d546b52f8
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "test_get_job_w_cp_tst_cp", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "Id", "labelOperator": "equal",
      "value": "test_get_job_w_cp_tst_q_async"}}], "prioritizationRule": {"kind":
      "static-rule", "value": 10}, "workerSelectors": [{"kind": "static", "labelSelector":
      {"key": "FakeKeyFromCp", "labelOperator": "equal", "value": "FakeValue"}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:47 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_get_job_w_cp_tst_cp", "fallbackQueueId":
      "sanitized", "queueSelectors": [{"kind": "static", "labelSelector": {"key":
      "Id", "labelOperator": "equal", "value": "test_get_job_w_cp_tst_q_async"}}],
      "prioritizationRule": {"kind": "static-rule", "value": 10}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"expedite": false, "key": "FakeKeyFromCp",
      "labelOperator": "equal", "value": "FakeValue"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:48 GMT
      trace-id: ccd65291c4914d6fdf8a505b5cc3e95f
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "classificationPolicyId": "sanitized", "requestedWorkerSelectors": [{"key":
      "FakeKey1", "labelOperator": "equal", "value": true}, {"key": "FakeKey2", "labelOperator":
      "notEqual", "value": false}, {"key": "FakeKey3", "labelOperator": "lessThan",
      "value": 10}, {"key": "FakeKey4", "labelOperator": "lessThanEqual", "value":
      10.01}, {"key": "FakeKey5", "labelOperator": "greaterThan", "value": 10}, {"key":
      "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}], "labels": {"key1":
      "JobKey", "key2": 10, "key3": true}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:47 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "channelReference": "fakeChannelRef1", "jobStatus":
      "pendingClassification", "channelId": "fakeChannelId1", "classificationPolicyId":
      "sanitized", "priority": 1, "requestedWorkerSelectors": [{"expedite": false,
      "key": "FakeKey1", "labelOperator": "equal", "value": true}, {"expedite": false,
      "key": "FakeKey2", "labelOperator": "notEqual", "value": false}, {"expedite":
      false, "key": "FakeKey3", "labelOperator": "lessThan", "value": 10}, {"expedite":
      false, "key": "FakeKey4", "labelOperator": "lessThanEqual", "value": 10.01},
      {"expedite": false, "key": "FakeKey5", "labelOperator": "greaterThan", "value":
      10}, {"expedite": false, "key": "FakeKey6", "labelOperator": "greaterThanEqual",
      "value": 10}], "attachedWorkerSelectors": [], "labels": {"key1": "JobKey", "key2":
      10, "key3": true}, "assignments": {}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199+00:00": "Fake notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:48 GMT
      trace-id: 74234ab8b29eb6cd8483fff00e38c0bb
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:47 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "channelReference": "fakeChannelRef1", "jobStatus":
      "pendingClassification", "channelId": "fakeChannelId1", "classificationPolicyId":
      "sanitized", "queueId": "sanitized", "priority": 10, "requestedWorkerSelectors":
      [{"expedite": false, "key": "FakeKey1", "labelOperator": "equal", "value": true},
      {"expedite": false, "key": "FakeKey2", "labelOperator": "notEqual", "value":
      false}, {"expedite": false, "key": "FakeKey3", "labelOperator": "lessThan",
      "value": 10}, {"expedite": false, "key": "FakeKey4", "labelOperator": "lessThanEqual",
      "value": 10.01}, {"expedite": false, "key": "FakeKey5", "labelOperator": "greaterThan",
      "value": 10}, {"expedite": false, "key": "FakeKey6", "labelOperator": "greaterThanEqual",
      "value": 10}], "attachedWorkerSelectors": [{"expedite": false, "key": "FakeKeyFromCp",
      "labelOperator": "equal", "value": "FakeValue"}], "labels": {"key1": "JobKey",
      "key2": 10, "key3": true}, "assignments": {}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199+00:00": "Fake notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:48 GMT
      trace-id: 398764f30252ce7373f433494bacb29e
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:50 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "channelReference": "fakeChannelRef1", "jobStatus":
      "queued", "enqueueTimeUtc": "2022-05-16T07:35:48.6501245+00:00", "channelId":
      "fakeChannelId1", "classificationPolicyId": "sanitized", "queueId": "sanitized",
      "priority": 10, "requestedWorkerSelectors": [{"expedite": false, "key": "FakeKey1",
      "labelOperator": "equal", "value": true}, {"expedite": false, "key": "FakeKey2",
      "labelOperator": "notEqual", "value": false}, {"expedite": false, "key": "FakeKey3",
      "labelOperator": "lessThan", "value": 10}, {"expedite": false, "key": "FakeKey4",
      "labelOperator": "lessThanEqual", "value": 10.01}, {"expedite": false, "key":
      "FakeKey5", "labelOperator": "greaterThan", "value": 10}, {"expedite": false,
      "key": "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}], "attachedWorkerSelectors":
      [{"expedite": false, "key": "FakeKeyFromCp", "labelOperator": "equal", "value":
      "FakeValue"}], "labels": {"key1": "JobKey", "key2": 10, "key3": true}, "assignments":
      {}, "tags": {"tag1": "WorkerGenericInfo"}, "notes": {"2022-05-13T16:59:04.531199+00:00":
      "Fake notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:48 GMT
      trace-id: 653d8dd40b8f3e8a7e4a58dee255749c
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"note": "Cancelling job after test cleanup after: test_get_job_w_cp",
      "dispositionCode": "JobCancelledAsPartOfTestCleanUp"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 16 May 2022 07:35:51 GMT
    method: POST
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      trace-id: 4dde11845f1d9a7d48a48cac188790fa
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:51 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 2a49dc65ebb356852f701dcc6843ee54
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:51 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 08d236091cb4d5d2e556f3ae609a2a07
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
version: 1
