interactions:
- request:
    body: '{"name": "tst_list_dp_1", "offerTtlSeconds": 10.0, "mode": {"kind": "best-worker",
      "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:34:21 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_list_dp_1", "offerTtlSeconds": 10, "mode":
      {"kind": "best-worker", "scoringRuleOptions": {"scoringParameters": ["jobLabels",
      "workerSelectors"], "allowScoringBatchOfWorkers": false, "descendingOrder":
      true}, "minConcurrentOffers": 1, "maxConcurrentOffers": 1, "bypassSelectors":
      false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Mon, 16 May 2022 07:34:23 GMT
      trace-id:
      - cd3ddaebab1917d5c1ef78403765260b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:34:23 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies?maxpagesize=sanitized&api-version=2021-10-20-preview2
  response:
    body: '{"value": [{"etag": "sanitized", "id": "sanitized", "name": "tst_create_dp_1",
      "offerTtlSeconds": 10, "mode": {"kind": "round-robin", "minConcurrentOffers":
      1, "maxConcurrentOffers": 1, "bypassSelectors": false}}, {"etag": "sanitized",
      "id": "sanitized", "name": "tst_update_dp_1", "offerTtlSeconds": 10, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 2, "maxConcurrentOffers": 2,
      "bypassSelectors": false}}], "nextLink": "/routing/distributionPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVVwMmRUUXRiRFJLWjBGQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTkpVMVk2TWlOSlJVODZOalUxTmpjalJsQkRPa0ZuUlVGQlVVRkpRVWhwYldjMGRFSkJSMEZCUVZGUlFXZFNRVUZQUVQwOUlpd2ljbUZ1WjJVaU9uc2liV2x1SWpvaUlpd2liV0Y0SWpvaVJrWWlmWDFk"}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - d705134a3ef4afd92e367a3f95dce43f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:34:23 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies?maxpagesize=sanitized&api-version=2021-10-20-preview2&continuationToken=sanitized
  response:
    body: '{"value": [{"etag": "sanitized", "id": "sanitized", "name": "test_update_queue_tst_dp",
      "offerTtlSeconds": 10, "mode": {"kind": "round-robin", "minConcurrentOffers":
      1, "maxConcurrentOffers": 1, "bypassSelectors": false}}, {"etag": "sanitized",
      "id": "sanitized", "name": "test_list_list_queues_tst_dp_async", "offerTtlSeconds":
      10, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1, "bypassSelectors": false}}], "nextLink": "/routing/distributionPolicies?continuationToken=bWF4cGFnZXNpemU9MiZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVVwMmRUUXRiRlpOWjBGQlFVRkJRVUZCUFQwalVsUTZNaU5VVWtNNk5DTkpVMVk2TWlOSlJVODZOalUxTmpjalJsQkRPa0ZuUlVGQlVVRkZRVVpGZVZsQlFVSkNRVU5DUlVGQk5DSXNJbkpoYm1kbElqcDdJbTFwYmlJNklpSXNJbTFoZUNJNklrWkdJbjE5WFE9PQ%3D%3D"}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 6b80875007bfc56bbc705bcae3327f81
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:34:23 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - 09219d79a5a76aa4161f8dc5d7d0e81a
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:34:24 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - fbf67e1c83004936c3c18def46dba920
    status:
      code: 204
      message: No Content
version: 1
