interactions:
- request:
    body: '{"name": "test_delete_exception_policy_tst_dp", "offerTtlSeconds": 10.0,
      "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 21:58:00 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_delete_exception_policy_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_delete_exception_policy_tst_dp","name":"test_delete_exception_policy_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 21:57:53 GMT
      trace-id:
      - 9cac2242db403c55751e89213f9f5924
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_delete_exception_policy_tst_q", "distributionPolicyId":
      "test_delete_exception_policy_tst_dp", "labels": {"key1": "QueueKey", "key2":
      10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 21:58:01 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_delete_exception_policy_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_delete_exception_policy_tst_q","name":"test_delete_exception_policy_tst_q","distributionPolicyId":"test_delete_exception_policy_tst_dp","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_delete_exception_policy_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 21:57:56 GMT
      trace-id:
      - 45b1f6b21394030bfa0982b3fea3e996
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_delete_exception_policy_tst_cp", "fallbackQueueId": "test_delete_exception_policy_tst_q"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 21:58:03 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/test_delete_exception_policy_tst_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_delete_exception_policy_tst_cp","name":"test_delete_exception_policy_tst_cp","fallbackQueueId":"test_delete_exception_policy_tst_q","queueSelectors":[],"workerSelectors":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 21:57:57 GMT
      trace-id:
      - acc42a03f3250c39d1f1d4267ca6a2bc
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_delete_ep", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 21:58:06 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_delete_ep","name":"tst_delete_ep","exceptionRules":{"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 21:58:00 GMT
      trace-id:
      - 394ece65922eab21c30d647c46e84995
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Aug 2022 21:58:09 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2022-07-18-preview
  response:
    body:
      string: '{"communicationError":{"code":"NotFound","message":"The item was not
        found.","target":"/routing/exceptionPolicies/tst_delete_ep"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 18cf286669c01a29011a6027f4bb3964
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "tst_delete_ep", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "manual-reclassify", "queueId": "test_delete_exception_policy_tst_q",
      "priority": 1}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 21:58:10 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_delete_ep","name":"tst_delete_ep","exceptionRules":{"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"manual-reclassify","queueId":"test_delete_exception_policy_tst_q","priority":1,"workerSelectors":[]}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 21:58:03 GMT
      trace-id:
      - fdaa89e814f28c29ff7ed74ddbdfac2e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_delete_ep", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "reclassify", "classificationPolicyId": "test_delete_exception_policy_tst_cp"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 21:58:13 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_delete_ep","name":"tst_delete_ep","exceptionRules":{"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"reclassify","classificationPolicyId":"test_delete_exception_policy_tst_cp","labelsToUpsert":{}}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 21:58:07 GMT
      trace-id:
      - 635eac73b25e0cfabd5672f786c68aab
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_delete_ep", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "wait-time", "thresholdSeconds": 3600.0}, "actions": {"fakeExceptionActionId":
      {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 17 Aug 2022 21:58:18 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_delete_ep","name":"tst_delete_ep","exceptionRules":{"fakeExceptionRuleId":{"trigger":{"kind":"wait-time","thresholdSeconds":3600},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Wed, 17 Aug 2022 21:58:12 GMT
      trace-id:
      - e895d3db503a36a0b5ee3014d1359eeb
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 17 Aug 2022 21:58:31 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/tst_delete_ep?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      trace-id:
      - f58543c916054659de5a9185e2263546
    status:
      code: 204
      message: No Content
version: 1
