{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_exception_policy_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:48 GMT"
      },
      "RequestBody": {
        "name": "test_update_exception_policy_tst_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:49 GMT",
        "trace-id": "f40cb7ab-88a4-0c7b-19b4-0cd09c4a5b32"
      },
      "ResponseBody": {
        "id": "test_update_exception_policy_tst_dp_async",
        "name": "test_update_exception_policy_tst_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_update_exception_policy_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:49 GMT"
      },
      "RequestBody": {
        "name": "test_update_exception_policy_tst_q_async",
        "distributionPolicyId": "test_update_exception_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:49 GMT",
        "trace-id": "dbeb2bc4-986c-2dfc-39b6-b2d439922a62"
      },
      "ResponseBody": {
        "id": "test_update_exception_policy_tst_q_async",
        "name": "test_update_exception_policy_tst_q_async",
        "distributionPolicyId": "test_update_exception_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_update_exception_policy_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_update_exception_policy_tst_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:49 GMT"
      },
      "RequestBody": {
        "name": "test_update_exception_policy_tst_cp_async",
        "fallbackQueueId": "test_update_exception_policy_tst_q_async"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:49 GMT",
        "trace-id": "47681f2d-3089-04a1-602f-c2380aeb6fa1"
      },
      "ResponseBody": {
        "id": "test_update_exception_policy_tst_cp_async",
        "name": "test_update_exception_policy_tst_cp_async",
        "fallbackQueueId": "test_update_exception_policy_tst_q_async",
        "queueSelectors": [],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:49 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:50 GMT",
        "trace-id": "46a0df3c-46b5-f4f5-95c0-4e702233120d"
      },
      "ResponseBody": {
        "id": "tst_update_ep_async",
        "name": "tst_update_ep_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:50 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_async",
        "exceptionRules": {
          "fakeExceptionRuleId": null,
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:50 GMT",
        "trace-id": "c2893f4a-8ef2-5361-a9dc-fcbfdc17d831"
      },
      "ResponseBody": {
        "id": "tst_update_ep_async",
        "name": "tst_update_ep_async",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:50 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_update_exception_policy_tst_q_async",
                "priority": 1
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:51 GMT",
        "trace-id": "75f430f0-8ee9-5b7c-4961-d97e4cd2d8d5"
      },
      "ResponseBody": {
        "id": "tst_update_ep_async",
        "name": "tst_update_ep_async",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          },
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_update_exception_policy_tst_q_async",
                "priority": 1,
                "workerSelectors": []
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:51 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_update_exception_policy_tst_cp_async"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:52 GMT",
        "trace-id": "17b20f85-e0f5-7d65-1de1-0497344ad0f1"
      },
      "ResponseBody": {
        "id": "tst_update_ep_async",
        "name": "tst_update_ep_async",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_update_exception_policy_tst_q_async",
                "priority": 1,
                "workerSelectors": []
              }
            }
          },
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_update_exception_policy_tst_cp_async",
                "labelsToUpsert": {}
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:52 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600.0
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:53 GMT",
        "trace-id": "933b573d-6e36-7891-58c7-aa48eed2de60"
      },
      "ResponseBody": {
        "id": "tst_update_ep_async",
        "name": "tst_update_ep_async",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_update_exception_policy_tst_cp_async",
                "labelsToUpsert": {}
              }
            }
          },
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "1712e6e4-1d9e-c7b2-3b4a-0b71044b4990"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
