interactions:
- request:
    body: '{"name": "test_create_classification_policy_tst_dp_async", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:32:28 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_create_classification_policy_tst_dp_async",
      "offerTtlSeconds": 10, "mode": {"kind": "round-robin", "minConcurrentOffers":
      1, "maxConcurrentOffers": 1, "bypassSelectors": false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:32:29 GMT
      trace-id: 9d75cf9650546f2bd4c0c83947d41341
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_create_classification_policy_tst_q_async", "distributionPolicyId":
      "sanitized", "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4":
      false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:32:28 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_create_classification_policy_tst_q_async",
      "distributionPolicyId": "sanitized", "labels": {"key1": "QueueKey", "key2":
      10, "key3": true, "key4": false, "key5": 10.1, "Id": "sanitized"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:32:29 GMT
      trace-id: deeb045344edca79223ff6d48fbc83f2
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "tst_create_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value":
      1}, "workerSelectors": [{"kind": "static", "labelSelector": {"key": "test_key",
      "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite":
      false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:32:28 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_create_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "static", "labelSelector": {"ttlSeconds":
      10, "expedite": false, "key": "test_key", "labelOperator": "equal", "value":
      "test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:32:29 GMT
      trace-id: 6fd8696f1559bca792bfff1ac6aabfef
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "tst_create_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value":
      1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind": "static-rule",
      "value": true}, "labelSelectors": [{"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:32:28 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_create_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind":
      "static-rule", "value": true}, "labelSelectors": [{"ttlSeconds": 10, "expedite":
      false, "key": "test_key", "labelOperator": "equal", "value": "test_value"}]}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:32:29 GMT
      trace-id: f4d632d03722ee95edf13cc92155d108
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_create_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value":
      1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector", "allocations":
      [{"weight": 1.0, "labelSelectors": [{"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:32:29 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_create_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector",
      "allocations": [{"weight": 1, "labelSelectors": [{"ttlSeconds": 10, "expedite":
      false, "key": "test_key", "labelOperator": "equal", "value": "test_value"}]}]}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:32:29 GMT
      trace-id: 3f7356114eaf701167aa94241f93dd4d
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "tst_create_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "1"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value",
      "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:32:29 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_create_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "1"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"ttlSeconds": 10, "expedite": false, "key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:32:30 GMT
      trace-id: f24efd9244e49ca59e4c636672a4dd3c
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_create_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:32:29 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_create_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"ttlSeconds": 10, "expedite": false, "key":
      "test_key", "labelOperator": "equal", "value": "test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:32:30 GMT
      trace-id: 2fef18fdd7e0069ed88a6763bfcb417c
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_create_cp_async", "fallbackQueueId": "sanitized", "queueSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:32:30 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_create_cp_async", "fallbackQueueId": "sanitized",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"ttlSeconds":
      10, "expedite": false, "key": "test_key", "labelOperator": "equal", "value":
      "test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:32:30 GMT
      trace-id: 08596aefa21d5ed4cad9b79562a4437c
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:32:37 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: eb464960ae97ae14dea3243a44eb8f6f
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:32:38 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 102b227b7d66e014ba2db9668bd104e9
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
version: 1
