interactions:
- request:
    body: '{"name": "test_list_jobs_tst_dp", "offerTtlSeconds": 10.0, "mode": {"kind":
      "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 15:44:04 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_list_jobs_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_list_jobs_tst_dp","name":"test_list_jobs_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 15:43:59 GMT
      trace-id:
      - d96dd1170429f0c54a819a0b9f89067d
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_list_jobs_tst_q", "distributionPolicyId": "test_list_jobs_tst_dp",
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 15:44:05 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_list_jobs_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_list_jobs_tst_q","name":"test_list_jobs_tst_q","distributionPolicyId":"test_list_jobs_tst_dp","labels":{"key1":"JobKey","key2":10,"key3":true,"Id":"test_list_jobs_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 15:40:57 GMT
      trace-id:
      - 93387e4aa58b4389005418ec21e21ddd
    status:
      code: 200
      message: OK
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "queueId": "test_list_jobs_tst_q", "priority": 10, "requestedWorkerSelectors":
      [{"key": "FakeKey1", "labelOperator": "equal", "value": true}, {"key": "FakeKey2",
      "labelOperator": "notEqual", "value": false}, {"key": "FakeKey3", "labelOperator":
      "lessThan", "value": 10}, {"key": "FakeKey4", "labelOperator": "lessThanEqual",
      "value": 10.01}, {"key": "FakeKey5", "labelOperator": "greaterThan", "value":
      10}, {"key": "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}],
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 15:44:06 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/jobs/tst_list_job_1?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_list_job_1","channelReference":"fakeChannelRef1","jobStatus":"queued","enqueueTimeUtc":"2022-08-18T15:42:51.7782074+00:00","channelId":"fakeChannelId1","queueId":"test_list_jobs_tst_q","priority":10,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"state":"active","key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"state":"active","key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"state":"active","key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 15:42:51 GMT
      trace-id:
      - 0db5b6a11ceb7b49239e300a4ed60a91
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 15:44:11 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs?maxpagesize=2&status=queued&queueId=test_list_jobs_tst_q&channelId=fakeChannelId1&api-version=2022-07-18-preview
  response:
    body:
      string: '{"value":[{"routerJob":{"id":"tst_list_job_2","channelReference":"fakeChannelRef1","jobStatus":"queued","enqueueTimeUtc":"2022-08-18T15:41:02.6645101+00:00","channelId":"fakeChannelId1","queueId":"test_list_jobs_tst_q","priority":10,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan"[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 15:44:12 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs?continuationToken=bWF4cGFnZXNpemU9MiZzdGF0dXM9cXVldWVkJnF1ZXVlSWQ9dGVzdF9saXN0X2pvYnNfdHN0X3EmY2hhbm5lbElkPWZha2VDaGFubmVsSWQxJmFwaS12ZXJzaW9uPTIwMjItMDctMTgtcHJldmlldyZjb250aW51YXRpb25Ub2tlbj1XM3NpZEc5clpXNGlPaUlyVWtsRU9uNVViVlpKUVV3elMzVk9iR3BSZDBsQlFVRkJRVUZCUFQwalVsUTZNU05VVWtNNk1pTkpVMVk2TWlOSlJVODZOalUxTmpjalVVTkdP[...]
- request:
    body: '{"note": "Cancelling job after test cleanup after: test_list_jobs", "dispositionCode":
      "JobCancelledAsPartOfTestCleanUp"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 18 Aug 2022 15:44:12 GMT
    method: POST
    uri: https://sanitized.int.communication.azure.net/routing/jobs/tst_list_job_3:cancel?api-version=2022-07-18-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 6b693c50c6ba4cc77006968ceae09e50
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 15:44:23 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_list_jobs_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview
      trace-id:
      - 3f09fd62539c1ef81d958ec54bec5600
    status:
      code: 204
      message: No Content
version: 1
