{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_classification_policy_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:08:33 GMT"
      },
      "RequestBody": {
        "name": "test_get_classification_policy_tst_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:08:32 GMT",
        "trace-id": "3236c6dfd909dcf4324713e101d99f7b"
      },
      "ResponseBody": {
        "id": "test_get_classification_policy_tst_dp_async",
        "name": "test_get_classification_policy_tst_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_get_classification_policy_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:08:33 GMT"
      },
      "RequestBody": {
        "name": "test_get_classification_policy_tst_q_async",
        "distributionPolicyId": "test_get_classification_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:08:32 GMT",
        "trace-id": "96c19a4e7b68f6510ca0a9dc04ac3495"
      },
      "ResponseBody": {
        "id": "test_get_classification_policy_tst_q_async",
        "name": "test_get_classification_policy_tst_q_async",
        "distributionPolicyId": "test_get_classification_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_get_classification_policy_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_get_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:08:33 GMT"
      },
      "RequestBody": {
        "name": "tst_get_cp_async",
        "fallbackQueueId": "test_get_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 09 Nov 2022 08:08:33 GMT",
        "trace-id": "1c1dc0d31b6517bac238a72f43232c66"
      },
      "ResponseBody": {
        "id": "tst_get_cp_async",
        "name": "tst_get_cp_async",
        "fallbackQueueId": "test_get_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "ttlSeconds": 10,
              "expedite": false,
              "state": "active",
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_get_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:08:34 GMT"
      },
      "RequestBody": {
        "name": "tst_get_cp_async",
        "fallbackQueueId": "test_get_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "conditional",
            "condition": {
              "kind": "static-rule",
              "value": true
            },
            "labelSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value",
                "ttlSeconds": 10.0,
                "expedite": false
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Mod[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_get_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:08:34 GMT"
      },
      "RequestBody": {
        "name": "tst_get_cp_async",
        "fallbackQueueId": "test_get_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "weighted-allocation-worker-selector",
            "allocations": [
              {
                "weight": 1.0,
                "labelSelectors": [
                  {
                    "key": "test_key",
                    "labelOperator": "equal",
                    "value": "test_value",
                    "ttlSeconds": 10.0,
                    "expedite": false
                  }
                ]
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
    [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_get_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:08:34 GMT"
      },
      "RequestBody": {
        "name": "tst_get_cp_async",
        "fallbackQueueId": "test_get_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "expression-rule",
          "language": "powerFx",
          "expression": "1"
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_get_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:08:36 GMT"
      },
      "RequestBody": {
        "name": "tst_get_cp_async",
        "fallbackQueueId": "test_get_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "azure-function-rule",
          "functionUri": "https://dummy.endpoint.net"
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
       [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_get_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:08:37 GMT"
      },
      "RequestBody": {
        "name": "tst_get_cp_async",
        "fallbackQueueId": "test_get_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "azure-function-rule",
          "functionUri": "https://dummy.endpoint.net",
          "credential": {
            "functionKey": "Sanitized"
          }
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Con[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_get_classification_policy_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 09 Nov 2022 08:08:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "67cd4ac95d867d0fbe62398242d9a688"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
