{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_job_direct_q_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 19:24:54 GMT"
      },
      "RequestBody": {
        "name": "test_update_job_direct_q_tst_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 19:24:52 GMT",
        "trace-id": "a5667f75-5d3b-b447-4c88-c0f560a5129c"
      },
      "ResponseBody": {
        "id": "test_update_job_direct_q_tst_dp_async",
        "name": "test_update_job_direct_q_tst_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_update_job_direct_q_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 19:24:54 GMT"
      },
      "RequestBody": {
        "name": "test_update_job_direct_q_tst_q_async",
        "distributionPolicyId": "test_update_job_direct_q_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 19:24:52 GMT",
        "trace-id": "264bf9b6-86b1-45bf-50c9-9540ea8ca7b4"
      },
      "ResponseBody": {
        "id": "test_update_job_direct_q_tst_q_async",
        "name": "test_update_job_direct_q_tst_q_async",
        "distributionPolicyId": "test_update_job_direct_q_tst_dp_async",
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true,
          "Id": "test_update_job_direct_q_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_man_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 19:24:55 GMT"
      },
      "RequestBody": {
        "channelReference": "fakeChannelRef1",
        "channelId": "fakeChannelId1",
        "queueId": "test_update_job_direct_q_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199Z": "Fake notes attached to job"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 19:24:53 GMT",
        "trace-id": "120e47ce-ca05-ca6b-86b8-a60147e57c2f"
      },
      "ResponseBody": {
        "id": "tst_update_job_man_async",
        "channelReference": "fakeChannelRef1",
        "jobStatus": "created",
        "channelId": "fakeChannelId1",
        "queueId": "test_update_job_direct_q_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey2",
            "labelOperator": "notEqual",
            "value": false
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey3",
            "labelOperator": "lessThan",
            "value": 10
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey4",
            "labelOperator": "lessThanEqual",
            "value": 10.01
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey5",
            "labelOperator": "greaterThan",
            "value": 10
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey6",
            "labelOperator": "greaterThanEqual",
            "value": 10
          }
        ],
        "attachedWorkerSelectors": [],
        "labels": {
          "key1": "JobKey",
          "key2": 10,
          "key3": true
        },
        "assignments": {},
        "tags": {
          "tag1": "WorkerGenericInfo"
        },
        "notes": {
          "2022-05-13T16:59:04.531199\u002B00:00": "Fake notes attached to job"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_man_async?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 19:24:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 19:24:53 GMT",
        "trace-id": "3ba6a02f-a393-915d-dfc8-1867345c7117"
      },
      "ResponseBody": {
        "id": "tst_update_job_man_async",
        "channelReference": "fakeChannelRef1",
        "jobStatus": "queued",
        "enqueueTimeUtc": "2023-04-25T19:24:53.7772547\u002B00:00",
        "channelId": "fakeChannelId1",
        "queueId": "test_update_job_direct_q_tst_q_async",
        "priority": 10,
        "requestedWorkerSelectors": [
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey1",
            "labelOperator": "equal",
            "value": true
          },
          {
            "expedite": false,
            "state": "active",
            "key": "FakeKey2",
          [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/tst_update_job_man_async:cancel?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 19:25:00 GMT"
      },
      "RequestBody": {
        "dispositionCode": "JobCancelledAsPartOfTestCleanUp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "ac17207a-36cd-7257-e7d3-6e345343db80"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_job_direct_q_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 19:25:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "aec5eeee-5bc9-1418-5d24-65b9a0433e78"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
