interactions:
- request:
    body: '{"name": "tst_create_dp", "offerTTLSeconds": 10.0, "mode": {"kind": "best-worker",
      "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Fri, 29 Apr 2022 02:18:16 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/tst_create_dp?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_create_dp","name":"tst_create_dp","offerTTLSeconds":10,"mode":{"kind":"best-worker","scoringRuleOptions":{"scoringParameters":["jobLabels","workerSelectors"],"allowScoringBatchOfWorkers":false,"descendingOrder":true},"minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0f00779c-0000-0700-0000-626b4adf0000"'
      last-modified:
      - Fri, 29 Apr 2022 02:18:07 GMT
      trace-id:
      - 3659161025e0b4c97ec844efc79b27b7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 29 Apr 2022 02:18:17 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/tst_create_dp?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - 0e4a0c352a0ff7666eb7e38c1497e2b1
    status:
      code: 204
      message: No Content
version: 1
