interactions:
- request:
    body: '{"name": "test_update_exception_policy_tst_dp", "offerTtlSeconds": 10.0,
      "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:08 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_update_exception_policy_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_exception_policy_tst_dp","name":"test_update_exception_policy_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:10 GMT
      trace-id:
      - 9070f1519af080ac35273e78aabfcb62
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_update_exception_policy_tst_q", "distributionPolicyId":
      "test_update_exception_policy_tst_dp", "labels": {"key1": "QueueKey", "key2":
      10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:09 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_update_exception_policy_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_exception_policy_tst_q","name":"test_update_exception_policy_tst_q","distributionPolicyId":"test_update_exception_policy_tst_dp","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_update_exception_policy_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:10 GMT
      trace-id:
      - 867c8f8a34852525b238b6b329e00af7
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_update_exception_policy_tst_cp", "fallbackQueueId": "test_update_exception_policy_tst_q"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:09 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/test_update_exception_policy_tst_cp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_exception_policy_tst_cp","name":"test_update_exception_policy_tst_cp","fallbackQueueId":"test_update_exception_policy_tst_q","queueSelectors":[],"workerSelectors":[]}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:11 GMT
      trace-id:
      - 8b03b5923251f5840c762edce1a6a388
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_update_ep", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:09 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep","name":"tst_update_ep","exceptionRules":{"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:11 GMT
      trace-id:
      - 5d773dfbfa386ba40a953fb2a6808eec
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_update_ep", "exceptionRules": {"fakeExceptionRuleId": null,
      "fakeExceptionRuleId2": {"trigger": {"kind": "queue-length", "threshold": 1},
      "actions": {"fakeExceptionActionId": {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:10 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep","name":"tst_update_ep","exceptionRules":{"fakeExceptionRuleId2":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:11 GMT
      trace-id:
      - 0c38564f1c82f4015cc50deb49faa538
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_update_ep", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "manual-reclassify", "queueId": "test_update_exception_policy_tst_q",
      "priority": 1}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:10 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep","name":"tst_update_ep","exceptionRules":{"fakeExceptionRuleId2":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}},"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"manual-reclassify","queueId":"test_update_exception_policy_tst_q","priority":1,"workerSelectors":[]}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:11 GMT
      trace-id:
      - c784cca62618450f3a00115116246f35
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_update_ep", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "reclassify", "classificationPolicyId": "test_update_exception_policy_tst_cp"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:10 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep","name":"tst_update_ep","exceptionRules":{"fakeExceptionRuleId2":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"manual-reclassify","queueId":"test_update_exception_policy_tst_q","priority":1,"workerSelectors":[]}}},"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"reclassify","classificationPolicyId":"test_update_exception_policy_tst_cp","labelsToUpsert":{}}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:12 GMT
      trace-id:
      - 4b117f00aebc11e0dcf7136bdfc5b3d4
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_update_ep", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "wait-time", "thresholdSeconds": 3600.0}, "actions": {"fakeExceptionActionId":
      {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:11 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep","name":"tst_update_ep","exceptionRules":{"fakeExceptionRuleId2":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"reclassify","classificationPolicyId":"test_update_exception_policy_tst_cp","labelsToUpsert":{}}}},"fakeExceptionRuleId":{"trigger":{"kind":"wait-time","thresholdSeconds":3600},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:27:12 GMT
      trace-id:
      - 5091780a2c67bc4b01e508de995ca4cf
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:13 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      trace-id:
      - b059167deae53f2cc035d62892c8eef0
    status:
      code: 204
      message: No Content
version: 1
