{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_update_exception_policy_w_kwargs_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:57 GMT"
      },
      "RequestBody": {
        "name": "test_update_exception_policy_w_kwargs_tst_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:57 GMT",
        "trace-id": "0da03278-6806-d3a3-2555-6ab5cfbd8826"
      },
      "ResponseBody": {
        "id": "test_update_exception_policy_w_kwargs_tst_dp_async",
        "name": "test_update_exception_policy_w_kwargs_tst_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_update_exception_policy_w_kwargs_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:57 GMT"
      },
      "RequestBody": {
        "name": "test_update_exception_policy_w_kwargs_tst_q_async",
        "distributionPolicyId": "test_update_exception_policy_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:58 GMT",
        "trace-id": "d3b4e321-53af-f7cc-4038-3843b3b5f05d"
      },
      "ResponseBody": {
        "id": "test_update_exception_policy_w_kwargs_tst_q_async",
        "name": "test_update_exception_policy_w_kwargs_tst_q_async",
        "distributionPolicyId": "test_update_exception_policy_w_kwargs_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_update_exception_policy_w_kwargs_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/test_update_exception_policy_w_kwargs_tst_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:58 GMT"
      },
      "RequestBody": {
        "name": "test_update_exception_policy_w_kwargs_tst_cp_async",
        "fallbackQueueId": "test_update_exception_policy_w_kwargs_tst_q_async"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:58 GMT",
        "trace-id": "9a68b498-ce98-f61e-0145-3e661c2feb46"
      },
      "ResponseBody": {
        "id": "test_update_exception_policy_w_kwargs_tst_cp_async",
        "name": "test_update_exception_policy_w_kwargs_tst_cp_async",
        "fallbackQueueId": "test_update_exception_policy_w_kwargs_tst_q_async",
        "queueSelectors": [],
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:58 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:58 GMT",
        "trace-id": "126e3646-52c5-4307-52c1-83b473e01a5d"
      },
      "ResponseBody": {
        "id": "tst_update_ep_w_kwargs_async",
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:58 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId": null,
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:59 GMT",
        "trace-id": "a3934e5a-bad7-38d1-80bb-438046a77934"
      },
      "ResponseBody": {
        "id": "tst_update_ep_w_kwargs_async",
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:07:59 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_update_exception_policy_w_kwargs_tst_q_async",
                "priority": 1
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:07:59 GMT",
        "trace-id": "d5cd30e4-5000-6ca9-f637-ad5284f28d66"
      },
      "ResponseBody": {
        "id": "tst_update_ep_w_kwargs_async",
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          },
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_update_exception_policy_w_kwargs_tst_q_async",
                "priority": 1,
                "workerSelectors": []
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:08:00 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_update_exception_policy_w_kwargs_tst_cp_async"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:08:01 GMT",
        "trace-id": "9c16de6b-4fcb-6ab6-2b5b-094647d97221"
      },
      "ResponseBody": {
        "id": "tst_update_ep_w_kwargs_async",
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "manual-reclassify",
                "queueId": "test_update_exception_policy_w_kwargs_tst_q_async",
                "priority": 1,
                "workerSelectors": []
              }
            }
          },
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_update_exception_policy_w_kwargs_tst_cp_async",
                "labelsToUpsert": {}
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:08:01 GMT"
      },
      "RequestBody": {
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600.0
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:08:02 GMT",
        "trace-id": "4e9e7371-be93-811f-1ccf-8e796112f406"
      },
      "ResponseBody": {
        "id": "tst_update_ep_w_kwargs_async",
        "name": "tst_update_ep_w_kwargs_async",
        "exceptionRules": {
          "fakeExceptionRuleId2": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "reclassify",
                "classificationPolicyId": "test_update_exception_policy_w_kwargs_tst_cp_async",
                "labelsToUpsert": {}
              }
            }
          },
          "fakeExceptionRuleId": {
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 3600
            },
            "actions": {
              "fakeExceptionActionId": {
                "kind": "cancel"
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:08:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "eaaf3392-1ff7-7f86-47ad-4f129d46ec2a"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
