interactions:
- request:
    body: '{"name": "test_get_job_direct_q_tst_dp", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:37 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_get_job_direct_q_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_job_direct_q_tst_dp","name":"test_get_job_direct_q_tst_dp","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:39 GMT
      trace-id:
      - ff68f1051401f3a1f64e4a53c548e0ae
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_get_job_direct_q_tst_q", "distributionPolicyId": "test_get_job_direct_q_tst_dp",
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:38 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_get_job_direct_q_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_get_job_direct_q_tst_q","name":"test_get_job_direct_q_tst_q","distributionPolicyId":"test_get_job_direct_q_tst_dp","labels":{"key1":"JobKey","key2":10,"key3":true,"Id":"test_get_job_direct_q_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:39 GMT
      trace-id:
      - 911354ea5dbd7b4b64360aba97a96be5
    status:
      code: 200
      message: OK
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "queueId": "test_get_job_direct_q_tst_q", "priority": 10, "requestedWorkerSelectors":
      [{"key": "FakeKey1", "labelOperator": "equal", "value": true}, {"key": "FakeKey2",
      "labelOperator": "notEqual", "value": false}, {"key": "FakeKey3", "labelOperator":
      "lessThan", "value": 10}, {"key": "FakeKey4", "labelOperator": "lessThanEqual",
      "value": 10.01}, {"key": "FakeKey5", "labelOperator": "greaterThan", "value":
      10}, {"key": "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}],
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:38 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_get_job_man?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_get_job_man","channelReference":"fakeChannelRef1","jobStatus":"created","channelId":"fakeChannelId1","queueId":"test_get_job_direct_q_tst_q","priority":10,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"state":"active","key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"state":"active","key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"state":"active","key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:40 GMT
      trace-id:
      - 3b6718167460b6ad3ec0d6c6936abccc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:39 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_get_job_man?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_get_job_man","channelReference":"fakeChannelRef1","jobStatus":"queued","enqueueTimeUtc":"2022-08-30T23:28:40.507337+00:00","channelId":"fakeChannelId1","queueId":"test_get_job_direct_q_tst_q","priority":10,"requestedWorkerSelectors":[{"expedite":false,"state":"active","key":"FakeKey1","labelOperator":"equal","value":true},{"expedite":false,"state":"active","key":"FakeKey2","labelOperator":"notEqual","value":false},{"expedite":false,"state":"active","key":"FakeKey3","labelOperator":"lessThan","value":10},{"expedite":false,"state":"active","key":"FakeKey4","labelOperator":"lessThanEqual","value":10.01},{"expedite":false,"state":"active","key":"FakeKey5","labelOperator":"greaterThan","value":10},{"expedite":false,"state":"active","key":"FakeKey6","labelOperator":"greaterThanEqual","value":10}],"attachedWorkerSelectors":[],"labels":{"key1":"JobKey","key2":10,"key3":true},"assignments":{},"tags":{"tag1":"WorkerGenericInfo"},"notes":{"2022-05-13T16:59:04.531199+00:00":"Fake
        notes attached to job"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Tue, 30 Aug 2022 23:28:40 GMT
      trace-id:
      - eac1f6a9ce6feab8db8aacb59662de90
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dispositionCode": "JobCancelledAsPartOfTestCleanUp"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:39 GMT
    method: POST
    uri: https://sanitized.ppe.communication.azure.net/routing/jobs/tst_get_job_man:cancel?api-version=2022-07-18-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - c1f121d495917ebf3a0270998e9ec139
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:28:40 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_get_job_direct_q_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      trace-id:
      - 740705430afd75458a980acbc1706a5a
    status:
      code: 204
      message: No Content
version: 1
