interactions:
- request:
    body: '{"name": "test_get_exception_policy_tst_dp", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Sat, 07 May 2022 00:35:18 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_get_exception_policy_tst_dp", "offerTTLSeconds":
      10, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1, "bypassSelectors": false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Sat, 07 May 2022 00:35:09 GMT
      trace-id:
      - 0989353029b1092fe378b64789a3b99b
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_get_exception_policy_tst_q", "distributionPolicyId": "sanitized",
      "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4": false, "key5":
      10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Sat, 07 May 2022 00:35:18 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_get_exception_policy_tst_q", "distributionPolicyId":
      "sanitized", "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4":
      false, "key5": 10.1, "Id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Sat, 07 May 2022 00:35:10 GMT
      trace-id:
      - 237c94709f16384a1f0fc1f5715e0f52
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test_get_exception_policy_tst_cp", "fallbackQueueId": "sanitized"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Sat, 07 May 2022 00:35:19 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_get_exception_policy_tst_cp", "fallbackQueueId":
      "sanitized", "queueSelectors": [], "workerSelectors": []}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Sat, 07 May 2022 00:35:10 GMT
      trace-id:
      - 99a21ae064861c42e25c05ee82754892
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "tst_get_ep", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Sat, 07 May 2022 00:35:19 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_get_ep", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "cancel"}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Sat, 07 May 2022 00:35:10 GMT
      trace-id:
      - 606363dbc622e8ecc11f01be839b51ae
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_get_ep", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "manual-reclassify", "queueId": "sanitized", "priority": 1}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Sat, 07 May 2022 00:35:19 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_get_ep", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "manual-reclassify", "queueId": "sanitized", "priority": 1, "workerSelectors":
      []}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Sat, 07 May 2022 00:35:11 GMT
      trace-id:
      - 81ba698bb4efe374a6b14f63dca72936
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "tst_get_ep", "exceptionRules": {"fakeExceptionRuleId": {"trigger":
      {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "reclassify", "classificationPolicyId": "sanitized"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Sat, 07 May 2022 00:35:20 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "tst_get_ep", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "reclassify", "classificationPolicyId": "sanitized", "labelsToUpsert":
      {}}}}}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Sat, 07 May 2022 00:35:11 GMT
      trace-id:
      - 4714847387e863c5b89acceb58605e4f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 May 2022 00:35:20 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - a2e243b665db0e7c902b4913e2369f84
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Sat, 07 May 2022 00:35:21 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/exceptionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2021-10-20-preview2
      trace-id:
      - 95e73b32793e1b07405e8c917043f555
    status:
      code: 204
      message: No Content
version: 1
