{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_assignment_scenario_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 18:02:28 GMT"
      },
      "RequestBody": {
        "name": "test",
        "offerTtlSeconds": 600.0,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 18:02:29 GMT",
        "trace-id": "e776f424-0a6e-2a52-03e7-5ca84e0a90c2"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_dp_async",
        "name": "test",
        "offerTtlSeconds": 600,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_assignment_scenario_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 18:02:29 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "test_assignment_scenario_tst_dp_async"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 18:02:29 GMT",
        "trace-id": "ed8103c0-611b-e901-271b-56e4b75d89a5"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_q_async",
        "name": "test",
        "distributionPolicyId": "test_assignment_scenario_tst_dp_async",
        "labels": {
          "Id": "test_assignment_scenario_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 18:02:29 GMT"
      },
      "RequestBody": {
        "queueAssignments": {
          "test_assignment_scenario_tst_q_async": {}
        },
        "totalCapacity": 1,
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 1
          }
        },
        "availableForOffers": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 18:02:30 GMT",
        "trace-id": "a7730206-f86f-38c3-3065-776c960b6c77"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_w",
        "state": "active",
        "queueAssignments": {
          "test_assignment_scenario_tst_q_async": {}
        },
        "totalCapacity": 1,
        "labels": {
          "Id": "test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 1
          }
        },
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 18:02:30 GMT"
      },
      "RequestBody": {
        "channelId": "fakeChannel1",
        "queueId": "test_assignment_scenario_tst_q_async",
        "priority": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 18:02:30 GMT",
        "trace-id": "4b0468e1-9c03-4372-10fe-d3747d5bf21d"
      },
      "ResponseBody": {
        "id": "assignment_scenario_job_id",
        "jobStatus": "created",
        "channelId": "fakeChannel1",
        "queueId": "test_assignment_scenario_tst_q_async",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 18:02:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 18:02:32 GMT",
        "trace-id": "f0c5e327-dc32-2c7d-8f07-e443a24aa2af"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_w",
        "state": "active",
        "queueAssignments": {
          "test_assignment_scenario_tst_q_async": {}
        },
        "totalCapacity": 1,
        "labels": {
          "Id": "test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 1
          }
        },
        "offers": [
          {
            "id": "cbfa8239-5d81-4e84-bfea-57248db6548d",
            "jobId": "assignment_scenario_job_id",
            "capacityCost": 1,
            "offerTimeUtc": "2023-04-26T18:02:32.7245395\u002B00:00",
            "expiryTimeUtc": "2023-04-26T18:12:32.7245397\u002B00:00"
          }
        ],
        "assignedJobs": [],
        "loadRatio": 1,
        "availableForOffers": true
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w/offers/cbfa8239-5d81-4e84-bfea-57248db6548d:accept?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 18:02:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "0fddf253-2229-63f2-9c11-a2a68baf7514"
      },
      "ResponseBody": {
        "assignmentId": "a657ea06-0f6a-4b8c-b730-96a92b29b590",
        "jobId": "assignment_scenario_job_id",
        "workerId": "test_assignment_scenario_tst_w"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w/offers/cbfa8239-5d81-4e84-bfea-57248db6548d:decline?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 18:02:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "480ed692-b664-964b-e062-8d23e02e1ae4"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "NotFound",
          "message": "Exception of type \u0027Microsoft.AzureCommunicationService.Router.Infrastructure.Domain.Abstractions.Exceptions.NotFoundException\u0027 was thrown.",
          "target": "/routing/workers/test_assignment_scenario_tst_w/offers/cbfa8239-5d81-4e84-bfea-57248db6548d:decline"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id/assignments/a657ea06-0f6a-4b8c-b730-96a92b29b590:unassign?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 18:02:35 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "4f7d19a6-be25-5b23-a7b4-9442f5492bf1"
      },
      "ResponseBody": {
        "jobId": "assignment_scenario_job_id",
        "unassignmentCount": 1
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/workers/test_assignment_scenario_tst_w?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 18:02:36 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 18:02:35 GMT",
        "trace-id": "37d8a0d3-73bb-7888-8825-6d87e8e9f285"
      },
      "ResponseBody": {
        "id": "test_assignment_scenario_tst_w",
        "state": "active",
        "queueAssignments": {
          "test_assignment_scenario_tst_q_async": {}
        },
        "totalCapacity": 1,
        "labels": {
          "Id": "test_assignment_scenario_tst_w"
        },
        "tags": {},
        "channelConfigurations": {
          "fakeChannel1": {
            "capacityCostPerJob": 1
          }
        },
        "offers": [],
        "assignedJobs": [
          {
            "id": "a657ea06-0f6a-4b8c-b730-96a92b29b590",
            "jobId": "assignment_scenario_job_id",
            "capacityCost": 1,
            "assignTime": "2023-04-26T18:02:35.1039344\u002B00:00"
          }
        ],
        "loadRatio": 1,
        "availableForOffers": true
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id:complete?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 18:02:40 GMT"
      },
      "RequestBody": {
        "assignmentId": "8e5f83da-3091-4b3c-a0f1-6e2aa9de654b"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "6b5f0ce3-1659-0585-cc1f-b95b526fff4d"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id:close?api-version=2022-07-18-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 18:02:40 GMT"
      },
      "RequestBody": {
        "assignmentId": "8e5f83da-3091-4b3c-a0f1-6e2aa9de654b"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "74f0a5b5-c590-34bb-af03-15d0b22b5b37"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2022-07-18-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 18:02:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 18:02:41 GMT",
        "trace-id": "54d8f3ab-ff5c-f182-816b-57e8c6a19904"
      },
      "ResponseBody": {
        "id": "assignment_scenario_job_id",
        "jobStatus": "closed",
        "enqueueTimeUtc": "2023-04-26T18:02:31.366779\u002B00:00",
        "channelId": "fakeChannel1",
        "queueId": "test_assignment_scenario_tst_q_async",
        "priority": 1,
        "dispositionCode": "Closed",
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {
          "8e5f83da-3091-4b3c-a0f1-6e2aa9de654b": {
            "id": "8e5f83da-3091-4b3c-a0f1-6e2aa9de654b",
            "workerId": "test_assignment_scenario_tst_w",
            "assignTime": "2023-04-26T18:02:40.0469485\u002B00:00",
            "completeTime": "2023-04-26T18:02:40.7867983\u002B00:00",
            "closeTime": "2023-04-26T18:02:41.2060651\u002B00:00"
          }
        },
        "tags": {},
        "notes": {}
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_assignment_scenario_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 18:02:43 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "732b7799-9418-c351-bc3b-ca8264a42b15"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
