interactions:
- request:
    body: '{"name": "test_update_exception_policy_w_kwargs_tst_dp_async", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:42 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_update_exception_policy_w_kwargs_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_exception_policy_w_kwargs_tst_dp_async","name":"test_update_exception_policy_w_kwargs_tst_dp_async","offerTtlSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:27:44 GMT
      trace-id: 913c321598f9c36aa03816b2ed1a052d
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/test_update_exception_policy_w_kwargs_tst_dp_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_update_exception_policy_w_kwargs_tst_q_async", "distributionPolicyId":
      "test_update_exception_policy_w_kwargs_tst_dp_async", "labels": {"key1": "QueueKey",
      "key2": 10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:42 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_update_exception_policy_w_kwargs_tst_q_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_exception_policy_w_kwargs_tst_q_async","name":"test_update_exception_policy_w_kwargs_tst_q_async","distributionPolicyId":"test_update_exception_policy_w_kwargs_tst_dp_async","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_update_exception_policy_w_kwargs_tst_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:27:44 GMT
      trace-id: d67716607529a18090acb218f3493da4
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/queues/test_update_exception_policy_w_kwargs_tst_q_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_update_exception_policy_w_kwargs_tst_cp_async", "fallbackQueueId":
      "test_update_exception_policy_w_kwargs_tst_q_async"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:43 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/test_update_exception_policy_w_kwargs_tst_cp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_update_exception_policy_w_kwargs_tst_cp_async","name":"test_update_exception_policy_w_kwargs_tst_cp_async","fallbackQueueId":"test_update_exception_policy_w_kwargs_tst_q_async","queueSelectors":[],"workerSelectors":[]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:27:44 GMT
      trace-id: 8e325309074795fcedf9f3e1ccc8121b
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/classificationPolicies/test_update_exception_policy_w_kwargs_tst_cp_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "tst_update_ep_w_kwargs_async", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:43 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep_w_kwargs_async","name":"tst_update_ep_w_kwargs_async","exceptionRules":{"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:27:45 GMT
      trace-id: c26b3c2129ae57507f49009b15890d4c
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "tst_update_ep_w_kwargs_async", "exceptionRules": {"fakeExceptionRuleId":
      null, "fakeExceptionRuleId2": {"trigger": {"kind": "queue-length", "threshold":
      1}, "actions": {"fakeExceptionActionId": {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:43 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep_w_kwargs_async","name":"tst_update_ep_w_kwargs_async","exceptionRules":{"fakeExceptionRuleId2":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:27:45 GMT
      trace-id: edc63f5a8d5a0b247aa8b3b7ca88204c
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "tst_update_ep_w_kwargs_async", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "manual-reclassify", "queueId": "test_update_exception_policy_w_kwargs_tst_q_async",
      "priority": 1}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:43 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep_w_kwargs_async","name":"tst_update_ep_w_kwargs_async","exceptionRules":{"fakeExceptionRuleId2":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}},"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"manual-reclassify","queueId":"test_update_exception_policy_w_kwargs_tst_q_async","priority":1,"workerSelectors":[]}}}}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:27:45 GMT
      trace-id: 0903c17c707ab9304d8d8d2d21058f3a
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview
[...]
- request:
    body: '{"name": "tst_update_ep_w_kwargs_async", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "queue-length", "threshold": 1}, "actions": {"fakeExceptionActionId":
      {"kind": "reclassify", "classificationPolicyId": "test_update_exception_policy_w_kwargs_tst_cp_async"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:44 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep_w_kwargs_async","name":"tst_update_ep_w_kwargs_async","exceptionRules":{"fakeExceptionRuleId2":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"manual-reclassify","queueId":"test_update_exception_policy_w_kwargs_tst_q_async","priority":1,"workerSelectors":[]}}},"fakeExceptionRuleId":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"reclassify","classificationPolicyId":"test_update_exception_policy_w_kwargs_tst_cp_async","labelsToUpsert":{}}}}}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:27:45 GMT
      trace-id: 6def250b3e98f16022896aed9b6ffe70
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview
[...]
- request:
    body: '{"name": "tst_update_ep_w_kwargs_async", "exceptionRules": {"fakeExceptionRuleId":
      {"trigger": {"kind": "wait-time", "thresholdSeconds": 3600.0}, "actions": {"fakeExceptionActionId":
      {"kind": "cancel"}}}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:44 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"tst_update_ep_w_kwargs_async","name":"tst_update_ep_w_kwargs_async","exceptionRules":{"fakeExceptionRuleId2":{"trigger":{"kind":"queue-length","threshold":1},"actions":{"fakeExceptionActionId":{"kind":"reclassify","classificationPolicyId":"test_update_exception_policy_w_kwargs_tst_cp_async","labelsToUpsert":{}}}},"fakeExceptionRuleId":{"trigger":{"kind":"wait-time","thresholdSeconds":3600},"actions":{"fakeExceptionActionId":{"kind":"cancel"}}}}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Tue, 30 Aug 2022 23:27:46 GMT
      trace-id: f798c94a8181d2839d0828a2e21ef886
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Tue, 30 Aug 2022 23:27:48 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      trace-id: 3fb8fe48958fedb580378a8204b98dd2
    status:
      code: 204
      message: No Content
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/exceptionPolicies/tst_update_ep_w_kwargs_async?api-version=2022-07-18-preview
version: 1
