{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_create_classification_policy_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 17:52:03 GMT"
      },
      "RequestBody": {
        "name": "test_create_classification_policy_tst_dp",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 17:52:01 GMT",
        "trace-id": "e941602c-6828-a917-bfc7-068f6aaf0d81"
      },
      "ResponseBody": {
        "id": "test_create_classification_policy_tst_dp",
        "name": "test_create_classification_policy_tst_dp",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_create_classification_policy_tst_q?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 17:52:03 GMT"
      },
      "RequestBody": {
        "name": "test",
        "distributionPolicyId": "test_create_classification_policy_tst_dp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 17:52:02 GMT",
        "trace-id": "04bd8ea7-346d-2bb1-acf8-5dfaa8799ceb"
      },
      "ResponseBody": {
        "id": "test_create_classification_policy_tst_q",
        "name": "test",
        "distributionPolicyId": "test_create_classification_policy_tst_dp",
        "labels": {
          "Id": "test_create_classification_policy_tst_q"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_create_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 17:52:04 GMT"
      },
      "RequestBody": {
        "name": "tst_create_cp",
        "fallbackQueueId": "test_create_classification_policy_tst_q",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Tue, 25 Apr 2023 17:52:02 GMT",
        "trace-id": "4cf8c397-aae2-bbea-bfa6-5ecb1b1e71e1"
      },
      "ResponseBody": {
        "id": "tst_create_cp",
        "name": "tst_create_cp",
        "fallbackQueueId": "test_create_classification_policy_tst_q",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "ttlSeconds": 10,
              "expedite": false,
              "state": "active",
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_create_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 17:52:04 GMT"
      },
      "RequestBody": {
        "name": "tst_create_cp",
        "fallbackQueueId": "test_create_classification_policy_tst_q",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "conditional",
            "condition": {
              "kind": "static-rule",
              "value": true
            },
            "labelSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value",
                "ttlSeconds": 10.0,
                "expedite": false
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Mod[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_create_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 17:52:05 GMT"
      },
      "RequestBody": {
        "name": "tst_create_cp",
        "fallbackQueueId": "test_create_classification_policy_tst_q",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "weighted-allocation-worker-selector",
            "allocations": [
              {
                "weight": 1.0,
                "labelSelectors": [
                  {
                    "key": "test_key",
                    "labelOperator": "equal",
                    "value": "test_value",
                    "ttlSeconds": 10.0,
                    "expedite": false
                  }
                ]
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
    [...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_create_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 17:52:06 GMT"
      },
      "RequestBody": {
        "name": "tst_create_cp",
        "fallbackQueueId": "test_create_classification_policy_tst_q",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "expression-rule",
          "language": "powerFx",
          "expression": "1"
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_create_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 17:52:08 GMT"
      },
      "RequestBody": {
        "name": "tst_create_cp",
        "fallbackQueueId": "test_create_classification_policy_tst_q",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "azure-function-rule",
          "functionUri": "https://dummy.endpoint.net"
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
       [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_create_cp?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 17:52:10 GMT"
      },
      "RequestBody": {
        "name": "tst_create_cp",
        "fallbackQueueId": "test_create_classification_policy_tst_q",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          }
        ],
        "prioritizationRule": {
          "kind": "azure-function-rule",
          "functionUri": "https://dummy.endpoint.net",
          "credential": {
            "functionKey": "Sanitized"
          }
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Con[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_create_classification_policy_tst_dp?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 25 Apr 2023 17:52:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "32e53b47-c984-1423-881c-53d60ac23959"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
