interactions:
- request:
    body: '{"name": "test_list_classification_policies_tst_dp_async", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:23:22 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id": "test_list_classification_policies_tst_dp_async", "name": "test_list_classification_policies_tst_dp_async",
        "offerTtlSeconds": 10, "mode": {"kind": "round-robin", "minConcurrentOffers":
        1, "maxConcurrentOffers": 1, "bypassSelectors": false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 31 Aug 2022 23:23:22 GMT
      trace-id: 8ce0307e34b824e547a503ee30b5f49f
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "test_list_classification_policies_tst_q_async", "distributionPolicyId":
      "test_list_classification_policies_tst_dp_async", "labels": {"key1": "QueueKey",
      "key2": 10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:23:22 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/queues/test_list_classification_policies_tst_q_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id": "test_list_classification_policies_tst_q_async", "name": "test_list_classification_policies_tst_q_async",
        "distributionPolicyId": "test_list_classification_policies_tst_dp_async",
        "labels": {"key1": "QueueKey", "key2": 10, "key3": true, "key4": false, "key5":
        10.1, "Id": "test_list_classification_policies_tst_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 31 Aug 2022 23:23:22 GMT
      trace-id: 4dc526b6b01b4ef524d37ccfa42a6345
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/queues/test_list_classification_policies_tst_q_async?api-version=2022-07-18-preview
- request:
    body: '{"name": "tst_list_cp_1_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:23:22 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id": "tst_list_cp_1_async", "name": "tst_list_cp_1_async", "fallbackQueueId":
        "test_list_classification_policies_tst_q_async", "queueSelectors": [{"kind":
        "static", "labelSelector": {"key": "test_key", "labelOperator": "equal", "value":
        "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value": 1},
        "workerSelectors": [{"kind": "static", "labelSelector": {"ttlSeconds": 10,
        "expedite": false, "state": "active", "key": "test_key", "labelOperator":
        "equal", "value": "test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 31 Aug 2022 23:23:23 GMT
      trace-id: b928c5f06755599a3fb86f6ebb70d88e
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2022-07-18-preview
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 31 Aug 2022 23:23:23 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies?maxpagesize=2&api-version=2022-07-18-preview
  response:
    body:
      string: '{"value": [{"classificationPolicy": {"id": "tst_list_cp_1_async", "name":
        "tst_list_cp_1_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
        "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key",
        "labelOperator": "equal", "value": "test_value"}}], "prioritizationRule":
        {"kind": "static-rule", "value": 1}, "workerSelectors": [{"kind": "static",
        "labelSelector": {"ttlSeconds": 10, "expedite": false, "state": "active",
        "key": "test_key", "labelOperator": "equal", "value": "test_value"}}]}, "etag":
        "sanitized"}, {"classificationPolicy": {"id": "tst_list_cp_2_async", "name":
        "tst_list_cp_2_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
        "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key",
        "labelOperator": "equal", "value": "test_value"}}], "prioritizationRule":
        {"kind": "static-rule", "value": 1}, "workerSelectors": [{"kind": "static",
        "labelSelector": {"ttlSeconds": 10, "expedite": false, "state": "active",
        "key": "test_key", "labelOperator": "equal", "value": "test_value"}}]}, "etag":
        "sanitized"}], "nextLink": "/routing/classificationPolicies?continuationToken=bWF4cGFnZXNpemU9MiZhcGktdmVyc2lvbj0yMDIyLTA3LTE4LXByZXZpZXcmY29udGludWF0aW9uVG9rZW49VzNzaWRHOXJaVzRpT2lJclVrbEVPbjVsYnpBeFFVOXJRMDE2TUhaQlowRkJRVUZCUVVGQlBUMGpVbFE2TVNOVVVrTTZNaU5KVTFZNk1pTkpSVTg2TmpVMU5qY2pVVU5HT2pnalJsQkRPa0ZUT0VOQlFVRkJRVUZCUVUxQlNVRkJRVUZCUVVGQlBTSXNJbkpoYm1kbElqcDdJbTFwYmlJNklpSXNJbTFoZUNJNklrWkdJbjE5WFE9PQ%3D%3D"}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      trace-id: a146a40db2c490d13bf8fb70fb2e5f93
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/classificationPolicies?maxpagesize=2&api-version=2022-07-18-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 31 Aug 2022 23:23:23 GMT
    method: GET
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies?continuationToken=bWF4cGFnZXNpemU9MiZhcGktdmVyc2lvbj0yMDIyLTA3LTE4LXByZXZpZXcmY29udGludWF0aW9uVG9rZW49VzNzaWRHOXJaVzRpT2lJclVrbEVPbjVsYnpBeFFVOXJRMDE2TUhaQlowRkJRVUZCUVVGQlBUMGpVbFE2TVNOVVVrTTZNaU5KVTFZNk1pTkpSVTg2TmpVMU5qY2pVVU5HT2pnalJsQkRPa0ZUT0VOQlFVRkJRVUZCUVUxQlNVRkJRVUZCUVVGQlBTSXNJbkpoYm1kbElqcDdJ[...]
- request:
    body: '{"name": "tst_list_cp_1_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind":
      "static-rule", "value": true}, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:23:23 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id": "tst_list_cp_1_async", "name": "tst_list_cp_1_async", "fallbackQueueId":
        "test_list_classification_policies_tst_q_async", "queueSelectors": [{"kind":
        "static", "labelSelector": {"key": "test_key", "labelOperator": "equal", "value":
        "test_value"}}], "prioritizationRule": {"kind": "static-rule", "value": 1},
        "workerSelectors": [{"kind": "conditional", "condition": {"kind": "static-rule",
        "value": true}, "labelSelectors": [{"ttlSeconds": 10, "expedite": false, "state":
        "active", "key": "test_key", "labelOperator": "equal", "value": "test_value"}]}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Wed, 31 Aug 2022 23:23:23 GMT
      trace-id: f2e266542e34e285a97eb265194783f9
    status:
      code: 200
      message: OK
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2022-07-18-preview
[...]
- request:
    body: '{"name": "tst_list_cp_1_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector",
      "allocations": [{"weight": 1.0, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:23:25 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id": "tst_list_cp_1_async", "name":[...]
[...]
- request:
    body: '{"name": "tst_list_cp_1_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "1"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value",
      "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:23:26 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2022-07-18-preview
  response:
    body:
      strin[...]
[...]
- request:
    body: '{"name": "tst_list_cp_1_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUri": "sanitized"}, "workerSelectors": [{"kind": "static", "labelSelector":
      {"key": "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds":
      10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:23:28 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2022-07-18-preview
  response:
    body:
   [...]
[...]
- request:
    body: '{"name": "tst_list_cp_1_async", "fallbackQueueId": "test_list_classification_policies_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUri": "sanitized", "credential": {"functionKey": "sanitized"}}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Wed, 31 Aug 2022 23:23:31 GMT
    method: PATCH
    uri: https://sanitized.ppe.communication.azure.net/routing/classificationPolicies/tst_list_cp_1_async?api-version=2022-07-18-preview
  response:
    body:
  [...]
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Wed, 31 Aug 2022 23:24:06 GMT
    method: DELETE
    uri: https://sanitized.ppe.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp_async?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2022-07-18-preview
      trace-id: 048e1697828d4984b4db4a23571970c1
    status:
      code: 204
      message: No Content
    url: https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/test_list_classification_policies_tst_dp_async?api-version=2022-07-18-preview
version: 1
