{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_create_classification_policy_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:05:47 GMT"
      },
      "RequestBody": {
        "name": "test_create_classification_policy_tst_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:05:47 GMT",
        "trace-id": "3e7545c0-0789-40d4-5e76-08cd169429a0"
      },
      "ResponseBody": {
        "id": "test_create_classification_policy_tst_dp_async",
        "name": "test_create_classification_policy_tst_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "round-robin",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/queues/test_create_classification_policy_tst_q_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:05:47 GMT"
      },
      "RequestBody": {
        "name": "test_create_classification_policy_tst_q_async",
        "distributionPolicyId": "test_create_classification_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:05:47 GMT",
        "trace-id": "4881140e-dcf1-70ed-1106-dd04a14e9345"
      },
      "ResponseBody": {
        "id": "test_create_classification_policy_tst_q_async",
        "name": "test_create_classification_policy_tst_q_async",
        "distributionPolicyId": "test_create_classification_policy_tst_dp_async",
        "labels": {
          "key1": "QueueKey",
          "key2": 10,
          "key3": true,
          "key4": false,
          "key5": 10.1,
          "Id": "test_create_classification_policy_tst_q_async"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/classificationPolicies/tst_create_cp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:05:47 GMT"
      },
      "RequestBody": {
        "name": "tst_create_cp_async",
        "fallbackQueueId": "test_create_classification_policy_tst_q_async",
        "queueSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value"
            }
          },
          {
            "kind": "conditional",
            "condition": {
              "kind": "static-rule",
              "value": true
            },
            "labelSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value"
              }
            ]
          },
          {
            "kind": "rule-engine",
            "rule": {
              "kind": "static-rule",
              "value": [
                {
                  "key": "test_key",
                  "labelOperator": "equal",
                  "value": "test_value"
                }
              ]
            }
          },
          {
            "kind": "pass-through",
            "key": "testKey",
            "labelOperator": "equal"
          },
          {
            "kind": "weighted-allocation-queue-selector",
            "allocations": [
              {
                "weight": 1.0,
                "labelSelectors": [
                  {
                    "key": "test_key",
                    "labelOperator": "equal",
                    "value": "test_value"
                  }
                ]
              }
            ]
          }
        ],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": [
          {
            "kind": "static",
            "labelSelector": {
              "key": "test_key",
              "labelOperator": "equal",
              "value": "test_value",
              "ttlSeconds": 10.0,
              "expedite": false
            }
          },
          {
            "kind": "conditional",
            "condition": {
              "kind": "static-rule",
              "value": true
            },
            "labelSelectors": [
              {
                "key": "test_key",
                "labelOperator": "equal",
                "value": "test_value",
                "ttlSeconds": 10.0,
                "expedite": false
              }
            ]
          },
          {
            "kind": "ru[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/test_create_classification_policy_tst_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:05:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "ed8587d7-9668-813d-89c1-6c306fb2e01d"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
