interactions:
- request:
    body: '{"name": "test_list_jobs_tst_dp_async", "offerTtlSeconds": 10.0, "mode":
      {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:51 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_list_jobs_tst_dp_async", "offerTtlSeconds":
      10, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1, "bypassSelectors": false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:53 GMT
      trace-id: 7f2c2a7d1297f868d1ecda455a5821b2
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_list_jobs_tst_q_async", "distributionPolicyId": "sanitized",
      "labels": {"key1": "JobKey", "key2": 10, "key3": true}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:52 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "name": "test_list_jobs_tst_q_async", "distributionPolicyId":
      "sanitized", "labels": {"key1": "JobKey", "key2": 10, "key3": true, "Id": "sanitized"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:53 GMT
      trace-id: 6ed55d0c88b540c7e112670b551a0d38
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/queues/sanitized?api-version=2021-10-20-preview2
- request:
    body: '{"channelReference": "fakeChannelRef1", "channelId": "fakeChannelId1",
      "queueId": "sanitized", "priority": 10, "requestedWorkerSelectors": [{"key":
      "FakeKey1", "labelOperator": "equal", "value": true}, {"key": "FakeKey2", "labelOperator":
      "notEqual", "value": false}, {"key": "FakeKey3", "labelOperator": "lessThan",
      "value": 10}, {"key": "FakeKey4", "labelOperator": "lessThanEqual", "value":
      10.01}, {"key": "FakeKey5", "labelOperator": "greaterThan", "value": 10}, {"key":
      "FakeKey6", "labelOperator": "greaterThanEqual", "value": 10}], "labels": {"key1":
      "JobKey", "key2": 10, "key3": true}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199Z": "Fake notes attached to job"}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 07:35:52 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "channelReference": "fakeChannelRef1", "jobStatus":
      "created", "channelId": "fakeChannelId1", "queueId": "sanitized", "priority":
      10, "requestedWorkerSelectors": [{"expedite": false, "key": "FakeKey1", "labelOperator":
      "equal", "value": true}, {"expedite": false, "key": "FakeKey2", "labelOperator":
      "notEqual", "value": false}, {"expedite": false, "key": "FakeKey3", "labelOperator":
      "lessThan", "value": 10}, {"expedite": false, "key": "FakeKey4", "labelOperator":
      "lessThanEqual", "value": 10.01}, {"expedite": false, "key": "FakeKey5", "labelOperator":
      "greaterThan", "value": 10}, {"expedite": false, "key": "FakeKey6", "labelOperator":
      "greaterThanEqual", "value": 10}], "attachedWorkerSelectors": [], "labels":
      {"key1": "JobKey", "key2": 10, "key3": true}, "assignments": {}, "tags": {"tag1":
      "WorkerGenericInfo"}, "notes": {"2022-05-13T16:59:04.531199+00:00": "Fake notes
      attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:53 GMT
      trace-id: b1829db37c215d1f6942f4f151fe74c4
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:53 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{"id": "sanitized", "channelReference": "fakeChannelRef1", "jobStatus":
      "queued", "enqueueTimeUtc": "2022-05-16T07:35:53.9290332+00:00", "channelId":
      "fakeChannelId1", "queueId": "sanitized", "priority": 10, "requestedWorkerSelectors":
      [{"expedite": false, "key": "FakeKey1", "labelOperator": "equal", "value": true},
      {"expedite": false, "key": "FakeKey2", "labelOperator": "notEqual", "value":
      false}, {"expedite": false, "key": "FakeKey3", "labelOperator": "lessThan",
      "value": 10}, {"expedite": false, "key": "FakeKey4", "labelOperator": "lessThanEqual",
      "value": 10.01}, {"expedite": false, "key": "FakeKey5", "labelOperator": "greaterThan",
      "value": 10}, {"expedite": false, "key": "FakeKey6", "labelOperator": "greaterThanEqual",
      "value": 10}], "attachedWorkerSelectors": [], "labels": {"key1": "JobKey", "key2":
      10, "key3": true}, "assignments": {}, "tags": {"tag1": "WorkerGenericInfo"},
      "notes": {"2022-05-13T16:59:04.531199+00:00": "Fake notes attached to job"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 07:35:53 GMT
      trace-id: bffe34011a1803c2df2493585c65210b
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:54 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs?status=sanitized&queueId=sanitized&channelId=sanitized&maxpagesize=sanitized&api-version=2021-10-20-preview2
  response:
    body: '{"value": [{"etag": "sanitized", "id": "sanitized", "channelReference":
      "fakeChannelRef1", "jobStatus": "queued", "enqueueTimeUtc": "2022-05-16T07:35:53.9290332+00:00",
      "channelId"[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:54 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs?status=sanitized&queueId=sanitized&channelId=sanitized&maxpagesize=sanitized&api-version=2021-10-20-preview2&continuationToken=sanitized
  response:
    body: '{"value": [{"etag": "sanitized", "id": "sanitized", "channelReference":
      "fakeChannelRef1", "jobStatus": "queued", "enqueueTimeUtc": "2022-05-16T07:35:54.80453[...]
- request:
    body: '{"note": "Cancelling job after test cleanup after: test_list_jobs", "dispositionCode":
      "JobCancelledAsPartOfTestCleanUp"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 16 May 2022 07:35:54 GMT
    method: POST
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body: '{}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      trace-id: 964d5491f329dd354b843613755750f2
    status:
      code: 200
      message: OK
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:54 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 837ff3ad566087b913999803d59cb9b6
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/jobs/sanitized?api-version=2021-10-20-preview2
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 07:35:55 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 3caee2c9e758fbc931429497475a29c7
    status:
      code: 204
      message: No Content
    url: https://sanitized.int.communication.azure.net/routing/distributionPolicies/sanitized?api-version=2021-10-20-preview2
version: 1
