{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/tst_create_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:06:33 GMT"
      },
      "RequestBody": {
        "name": "tst_create_dp_async",
        "offerTtlSeconds": 10.0,
        "mode": {
          "kind": "best-worker",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "Sanitized",
        "Last-Modified": "Wed, 26 Apr 2023 21:06:33 GMT",
        "trace-id": "b67f2ba4-3cfd-7e67-f30f-6438a401da03"
      },
      "ResponseBody": {
        "id": "tst_create_dp_async",
        "name": "tst_create_dp_async",
        "offerTtlSeconds": 10,
        "mode": {
          "kind": "best-worker",
          "scoringRuleOptions": {
            "scoringParameters": [
              "jobLabels",
              "workerSelectors"
            ],
            "allowScoringBatchOfWorkers": false,
            "descendingOrder": true
          },
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.net/routing/distributionPolicies/tst_create_dp_async?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 26 Apr 2023 21:06:34 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "d31ddb64-7ee0-5af1-42b3-abed2221b567"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
