interactions:
- request:
    body: '{"name": "test_create_classification_policy_tst_dp_async", "offerTtlSeconds":
      10.0, "mode": {"kind": "round-robin", "minConcurrentOffers": 1, "maxConcurrentOffers":
      1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:10:16 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_create_classification_policy_tst_dp_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"test_create_classification_policy_tst_dp_async","name":"test_create_classification_policy_tst_dp_async","offerTTLSeconds":10,"mode":{"kind":"round-robin","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:10:17 GMT
      trace-id: 03de49156018fb3488f249440ad51853
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_create_classification_policy_tst_dp_async?api-version=2021-10-20-preview2
- request:
    body: '{"name": "test_create_classification_policy_tst_q_async", "distributionPolicyId":
      "test_create_classification_policy_tst_dp_async", "labels": {"key1": "QueueKey",
      "key2": 10, "key3": true, "key4": false, "key5": 10.1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:10:16 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_create_classification_policy_tst_q_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"test_create_classification_policy_tst_q_async","name":"test_create_classification_policy_tst_q_async","distributionPolicyId":"test_create_classification_policy_tst_dp_async","labels":{"key1":"QueueKey","key2":10,"key3":true,"key4":false,"key5":10.1,"Id":"test_create_classification_policy_tst_q_async"}}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:10:17 GMT
      trace-id: eecb95cd7bb1bf51ccff0f2f1a5eb333
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/queues/test_create_classification_policy_tst_q_async?api-version=2021-10-20-preview2
- request:
    body: '{"name": "tst_create_cp_async", "fallbackQueueId": "test_create_classification_policy_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:10:17 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_create_cp_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_create_cp_async","name":"tst_create_cp_async","fallbackQueueId":"test_create_classification_policy_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:10:18 GMT
      trace-id: 4413a06bfaa843331523161c33105f46
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_create_cp_async?api-version=2021-10-20-preview2
- request:
    body: '{"name": "tst_create_cp_async", "fallbackQueueId": "test_create_classification_policy_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "conditional", "condition": {"kind":
      "static-rule", "value": true}, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:10:17 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_create_cp_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_create_cp_async","name":"tst_create_cp_async","fallbackQueueId":"test_create_classification_policy_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"conditional","condition":{"kind":"static-rule","value":true},"labelSelectors":[{"ttlSeconds":10,"expedite":false,"key":"test_key","labelOperator":"equal","value":"test_value"}]}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:10:18 GMT
      trace-id: 5473ad445fcc723244b52c07dcbc236e
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_create_cp_async?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_create_cp_async", "fallbackQueueId": "test_create_classification_policy_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "static-rule",
      "value": 1}, "workerSelectors": [{"kind": "weighted-allocation-worker-selector",
      "allocations": [{"weight": 1.0, "labelSelectors": [{"key": "test_key", "labelOperator":
      "equal", "value": "test_value", "ttlSeconds": 10.0, "expedite": false}]}]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:10:17 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_create_cp_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_create_cp_async","name":"tst_create_cp_async","fallbackQueueId":"test_create_classification_policy_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"static-rule","value":1},"workerSelectors":[{"kind":"weighted-allocation-worker-selector","allocations":[{"weight":1,"labelSelectors":[{"ttlSeconds":10,"expedite":false,"key":"test_key","labelOperator":"equal","value":"test_value"}]}]}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:10:18 GMT
      trace-id: df70f6b6e120ac5751e17f6592af5e44
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_create_cp_async?api-version=2021-10-20-preview2
- request:
    body: '{"name": "tst_create_cp_async", "fallbackQueueId": "test_create_classification_policy_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "expression-rule",
      "language": "powerFx", "expression": "1"}, "workerSelectors": [{"kind": "static",
      "labelSelector": {"key": "test_key", "labelOperator": "equal", "value": "test_value",
      "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:10:17 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_create_cp_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_create_cp_async","name":"tst_create_cp_async","fallbackQueueId":"test_create_classification_policy_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"expression-rule","language":"powerFx","expression":"1"},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:10:18 GMT
      trace-id: 2f7bb3aa82354aa0e4f3016772b519ac
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_create_cp_async?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_create_cp_async", "fallbackQueueId": "test_create_classification_policy_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule"}, "workerSelectors":
      [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator": "equal",
      "value": "test_value", "ttlSeconds": 10.0, "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:10:18 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_create_cp_async?api-version=2021-10-20-preview2
  response:
    body:
      string: '{"id":"tst_create_cp_async","name":"tst_create_cp_async","fallbackQueueId":"test_create_classification_policy_tst_q_async","queueSelectors":[{"kind":"static","labelSelector":{"key":"test_key","labelOperator":"equal","value":"test_value"}}],"prioritizationRule":{"kind":"azure-function-rule","functionUrl":"https://fake.azurewebsites.net/fakeRule"},"workerSelectors":[{"kind":"static","labelSelector":{"ttlSeconds":10,"expedite":false,"key":"test_key","labelOperator":"equal","value":"test_value"}}]}'
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      content-type: application/json; charset=utf-8
      etag: REDACTED
      last-modified: Mon, 16 May 2022 21:10:19 GMT
      trace-id: 421b5bc03c62b45d9c72d1ac6df3b5dc
    status:
      code: 200
      message: OK
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/classificationPolicies/tst_create_cp_async?api-version=2021-10-20-preview2
[...]
- request:
    body: '{"name": "tst_create_cp_async", "fallbackQueueId": "test_create_classification_policy_tst_q_async",
      "queueSelectors": [{"kind": "static", "labelSelector": {"key": "test_key", "labelOperator":
      "equal", "value": "test_value"}}], "prioritizationRule": {"kind": "azure-function-rule",
      "functionUrl": "https://fake.azurewebsites.net/fakeRule", "credential": {"functionKey":
      "fakeKey"}}, "workerSelectors": [{"kind": "static", "labelSelector": {"key":
      "test_key", "labelOperator": "equal", "value": "test_value", "ttlSeconds": 10.0,
      "expedite": false}}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Mon, 16 May 2022 21:10:18 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/classificationPolicies/tst_create_cp_async?api-version=2021-10-20-preview2
  response:
    bod[...]
[...]
- request:
    body: ''
    headers:
      x-ms-date:
      - Mon, 16 May 2022 21:10:25 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_create_classification_policy_tst_dp_async?api-version=2021-10-20-preview2
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-04-07-preview1, 2021-10-20-preview2
      trace-id: 07a57ea0cbf0390c26434df62540a706
    status:
      code: 204
      message: No Content
    url: https://rsarkar-sdktest.int.communication.azure.net/routing/distributionPolicies/test_create_classification_policy_tst_dp_async?api-version=2021-10-20-preview2
version: 1
