interactions:
- request:
    body: '{"name": "test", "offerTtlSeconds": 600.0, "mode": {"kind": "longest-idle",
      "minConcurrentOffers": 1, "maxConcurrentOffers": 1}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 21:17:57 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_assignment_scenario_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_assignment_scenario_tst_dp","name":"test","offerTtlSeconds":600,"mode":{"kind":"longest-idle","minConcurrentOffers":1,"maxConcurrentOffers":1,"bypassSelectors":false}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 21:17:41 GMT
      trace-id:
      - 01f81aa915db3192a0d49dc9110bdf43
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test", "distributionPolicyId": "test_assignment_scenario_tst_dp"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 21:17:57 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/queues/test_assignment_scenario_tst_q?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_assignment_scenario_tst_q","name":"test","distributionPolicyId":"test_assignment_scenario_tst_dp","labels":{"Id":"test_assignment_scenario_tst_q"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 21:17:43 GMT
      trace-id:
      - f3418af374221f2bd909515cf6fbecb7
    status:
      code: 200
      message: OK
- request:
    body: '{"queueAssignments": {"test_assignment_scenario_tst_q": {}}, "totalCapacity":
      1, "channelConfigurations": {"fakeChannel1": {"capacityCostPerJob": 1}}, "availableForOffers":
      true}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 21:17:57 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/workers/test_assignment_scenario_tst_w?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_assignment_scenario_tst_w","state":"active","queueAssignments":{"test_assignment_scenario_tst_q":{}},"totalCapacity":1,"labels":{"Id":"test_assignment_scenario_tst_w"},"tags":{},"channelConfigurations":{"fakeChannel1":{"capacityCostPerJob":1}},"offers":[],"assignedJobs":[],"loadRatio":0,"availableForOffers":true}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 21:17:45 GMT
      trace-id:
      - 9066f2fc4b3aa419af88ef925490dd0f
    status:
      code: 200
      message: OK
- request:
    body: '{"channelId": "fakeChannel1", "queueId": "test_assignment_scenario_tst_q",
      "priority": 1}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 18 Aug 2022 21:17:58 GMT
    method: PATCH
    uri: https://sanitized.int.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"assignment_scenario_job_id","jobStatus":"created","channelId":"fakeChannel1","queueId":"test_assignment_scenario_tst_q","priority":1,"requestedWorkerSelectors":[],"attachedWorkerSelectors":[],"labels":{},"assignments":{},"tags":{},"notes":{}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 21:17:52 GMT
      trace-id:
      - 7e9a6089b79f93304a3bdff149a4b2e2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 21:18:08 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/workers/test_assignment_scenario_tst_w?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"test_assignment_scenario_tst_w","state":"active","queueAssignments":{"test_assignment_scenario_tst_q":{}},"totalCapacity":1,"labels":{"Id":"test_assignment_scenario_tst_w"},"tags":{},"channelConfigurations":{"fakeChannel1":{"capacityCostPerJob":1}},"offers":[{"id":"ea7a4192-66e1-425e-a076-03d422e15cff","jobId":"assignment_scenario_job_id","capacityCost":1,"offerTimeUtc":"2022-08-18T21:17:56.7604805+00:00","expiryTimeUtc":"2022-08-18T21:27:56.7604817+00:00"}],"assignedJobs":[],"loadRatio":1,"availableForOffers":true}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 21:17:56 GMT
      trace-id:
      - 9f4a1132fc43afd44ae40250e7ce139c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 21:18:10 GMT
    method: POST
    uri: https://sanitized.int.communication.azure.net/routing/workers/test_assignment_scenario_tst_w/offers/ea7a4192-66e1-425e-a076-03d422e15cff:accept?api-version=2022-07-18-preview
  response:
    body:
      string: '{"assignmentId":"62bcdf03-b650-4e58-b7d9-00dc463c277a","jobId":"assignment_scenario_job_id","workerId":"test_assignment_scenario_tst_w"}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - cc426ee518bfd14907c66a581c99996b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 21:18:12 GMT
    method: POST
    uri: https://sanitized.int.communication.azure.net/routing/workers/test_assignment_scenario_tst_w/offers/ea7a4192-66e1-425e-a076-03d422e15cff:decline?api-version=2022-07-18-preview
  response:
    body:
      string: '{"communicationError":{"code":"InternalServerError","message":"An internal
        server error has occurred.","target":"/routing/workers/test_assignment_scenario_tst_w/offers/ea7a4192-66e1-425e-a076-03d422e15cff:decline"}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - 36a249cb1ca77b763a89c7c81a961206
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"assignmentId": "62bcdf03-b650-4e58-b7d9-00dc463c277a"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 18 Aug 2022 21:18:21 GMT
    method: POST
    uri: https://sanitized.int.communication.azure.net/routing/jobs/assignment_scenario_job_id:complete?api-version=2022-07-18-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - b8ed2a51371cfbb40019baa729f07d3a
    status:
      code: 200
      message: OK
- request:
    body: '{"assignmentId": "62bcdf03-b650-4e58-b7d9-00dc463c277a"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 18 Aug 2022 21:18:22 GMT
    method: POST
    uri: https://sanitized.int.communication.azure.net/routing/jobs/assignment_scenario_job_id:close?api-version=2022-07-18-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      trace-id:
      - bc995716f556f0f0b6f3ce50ff38d009
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 21:18:24 GMT
    method: GET
    uri: https://sanitized.int.communication.azure.net/routing/jobs/assignment_scenario_job_id?api-version=2022-07-18-preview
  response:
    body:
      string: '{"id":"assignment_scenario_job_id","jobStatus":"closed","enqueueTimeUtc":"2022-08-18T21:17:56.2888914+00:00","channelId":"fakeChannel1","queueId":"test_assignment_scenario_tst_q","priority":1,"dispositionCode":"Closed","requestedWorkerSelectors":[],"attachedWorkerSelectors":[],"labels":{},"assignments":{"62bcdf03-b650-4e58-b7d9-00dc463c277a":{"id":"62bcdf03-b650-4e58-b7d9-00dc463c277a","workerId":"test_assignment_scenario_tst_w","assignTime":"2022-08-18T21:18:03.2750299+00:00","completeTime":"2022-08-18T21:18:13.8808366+00:00","closeTime":"2022-08-18T21:18:15.113373+00:00"}},"tags":{},"notes":{}}'
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - REDACTED
      last-modified:
      - Thu, 18 Aug 2022 21:18:15 GMT
      trace-id:
      - 174eec39217c6dec292aa40f4ef147d0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Aug 2022 21:18:37 GMT
    method: DELETE
    uri: https://sanitized.int.communication.azure.net/routing/distributionPolicies/test_assignment_scenario_tst_dp?api-version=2022-07-18-preview
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-04-07-preview1, 2022-07-18-preview
      trace-id:
      - b31a223505b5cbb61b9f2354ca98afba
    status:
      code: 204
      message: No Content
version: 1
