interactions:
- request:
    body: '{"tags": {"tag1": "val1"}, "location": "eastus", "properties": {"sku":
      {"name": "PerNode"}, "retentionInDays": 30}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_async_test_scheduled_query_rules675b166d/providers/Microsoft.OperationalInsights/workspaces/workspacex675b166d?api-version=2020-03-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\"\
        : \"5aac52f9-c770-47f3-8d5f-26933146b583\",\r\n    \"provisioningState\":\
        \ \"Succeeded\",\r\n    \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n \
        \     \"maxCapacityReservationLevel\": 1000,\r\n      \"lastSkuUpdate\": \"\
        Wed, 27 May 2020 05:38:28 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\
        \n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\":\
        \ 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n  \
        \  },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n\
        \      \"quotaNextResetTime\": \"Thu, 28 May 2020 04:00:00 GMT\",\r\n    \
        \  \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\"\
        : \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\"\r\n  },\r\
        \n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_async_test_scheduled_query_rules675b166d/providers/microsoft.operationalinsights/workspaces/workspacex675b166d\"\
        ,\r\n  \"name\": \"workspacex675b166d\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\"\
        ,\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"tag1\": \"val1\"\
        \r\n  }\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"location": "eastus", "properties": {"description": "log alert description",
      "enabled": "true", "source": {"query": "Heartbeat | summarize AggregatedValue
      = count() by bin(TimeGenerated, 5m)", "dataSourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_async_test_scheduled_query_rules675b166d/providers/microsoft.operationalinsights/workspaces/workspacex675b166d",
      "queryType": "ResultCount"}, "schedule": {"frequencyInMinutes": 15, "timeWindowInMinutes":
      15}, "action": {"odata.type": "Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction",
      "severity": "1", "aznsAction": {"actionGroup": [], "emailSubject": "Email Header",
      "customWebhookPayload": "{}"}, "trigger": {"thresholdOperator": "GreaterThan",
      "threshold": 3.0, "metricTrigger": {"thresholdOperator": "GreaterThan", "threshold":
      5.0, "metricTriggerType": "Consecutive", "metricColumn": "Computer"}}}}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_async_test_scheduled_query_rules675b166d/providers/microsoft.insights/scheduledQueryRules/scheduledqueryrule675b166d?api-version=2018-04-16
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_async_test_scheduled_query_rules675b166d/providers/microsoft.insights/scheduledqueryrules/scheduledqueryrule675b166d\"\
        ,\r\n  \"name\": \"scheduledqueryrule675b166d\",\r\n  \"type\": \"microsoft.insights/scheduledqueryrules\"\
        ,\r\n  \"location\": \"eastus\",\r\n  \"tags\": null,\r\n  \"kind\": null,\r\
        \n  \"etag\": \"\\\"aa0002c1-0000-0100-0000-5ece07cd0000\\\"\",\r\n  \"properties\"\
        : {\r\n    \"description\": \"log alert description\",\r\n    \"displayName\"\
        : \"scheduledqueryrule675b166d\",\r\n    \"enabled\": \"true\",\r\n    \"\
        lastUpdatedTime\": \"2020-05-27T06:25:17.5596575Z\",\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"source\": {\r\n      \"query\": \"Heartbeat | summarize\
        \ AggregatedValue = count() by bin(TimeGenerated, 5m)\",\r\n      \"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_async_test_scheduled_query_rules675b166d/providers/microsoft.insights/scheduledQueryRules?api-version=2018-04-16
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_async_test_scheduled_query_rules675b166d/providers/microsoft.insights/scheduledqueryrules/scheduledqueryrule675b166d\"\
        ,\r\n      \"name\": \"scheduledqueryrule675b166d\",\r\n      \"type\": \"\
        microsoft.insights/scheduledqueryrules\",\r\n      \"location\": \"eastus\"\
        ,\r\n      \"tags\": null,\r\n      \"kind\": null,\r\n      \"etag\": \"\\\
        \"aa0002c1-0000-0100-0000-5ece07cd0000\\\"\",\r\n      \"properties\": {\r\
        \n        \"description\": \"log alert description\",\r\n        \"displayName\"\
        : \"scheduledqueryrule675b166d\",\r\n        \"enabled\": \"true\",\r\n  \
        \      \"lastUpdatedTime\": \"2020-05-27T06:25:17.5596575Z\",\r\n        \"\
        provisioningState\": \"Succeeded\",\r\n        \"source\": {\r\n         \
        \ \"query\": \"Heartbeat | summarize AggregatedValue = count() by bin(TimeGenerated,\
        \ 5m)\",\r\n          \"dataSourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_async_test_scheduled_query_rules675b166d/providers/microsoft.operationalinsights/workspaces/workspacex675b166d\"\
        ,\r\n       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/scheduledQueryRules?api-version=2018-04-16
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/lianw/providers/microsoft.insights/scheduledqueryrules/test2\"\
        ,\r\n      \"name\": \"test2\",\r\n      \"type\": \"microsoft.insights/scheduledqueryrules\"\
        ,\r\n      \"location\": \"eastus\",\r\n      \"tags\": {},\r\n      \"kind\"\
        : null,\r\n      \"etag\": \"\\\"00024a2b-0000-0100-0000-5eb285c00000\\\"\"\
        ,\r\n      \"properties\": {\r\n        \"description\": \"\",\r\n       \
        \ \"displayName\": \"test2\",\r\n        \"enabled\": \"true\",\r\n      \
        \  \"lastUpdatedTime\": \"2020-05-06T09:39:10.5311111Z\",\r\n        \"provisioningState\"\
        : \"Succeeded\",\r\n        \"source\": {\r\n          \"query\": \"Event\
        \ | sort by TimeGenerated desc\\r\\n// Oql: Type=Event // Args: {OQ: True;\
        \ WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True;\
        \ SortI: True; SortF: True} // Version: 0.1.122\",\r\n          \"authorizedResou[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_async_test_scheduled_query_rules675b166d/providers/microsoft.insights/scheduledQueryRules/scheduledqueryrule675b166d?api-version=2018-04-16
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes: '14999'
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourcegroups/test_cli_mgmt_monitor_async_test_scheduled_query_rules675b166d/providers/microsoft.insights/scheduledQueryRules/scheduledqueryrule675b166d?api-version=2018-04-16
version: 1
