interactions:
- request:
    body: 'b''{"location": "Global", "properties": {"scopes": ["subscriptions/00000000-0000-0000-0000-000000000000"],
      "enabled": true, "condition": {"allOf": [{"field": "category", "equals": "Administrative"},
      {"field": "level", "equals": "Error"}]}, "actions": {"actionGroups": []}, "description":
      "Sample activity log alert description"}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_activity_log_alertsbfb21318/providers/microsoft.insights/activityLogAlerts/activitylogalertxbfb21318?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_activity_log_alertsbfb21318/providers/microsoft.insights/activityLogAlerts/activitylogalertxbfb21318","type":"Microsoft.Insights/ActivityLogAlerts","name":"activitylogalertxbfb21318","location":"Global","kind":null,"tags":{},"properties":{"scopes":["subscriptions/00000000-0000-0000-0000-000000000000"],"condition":{"allOf":[{"field":"category","equals":"Administrative","containsAny":null,"odata.type":null},{"field":"level","equals":"Error","containsAny":null,"odata.type":null}],"odata.type":null},"actions":{"actionGroups":[]},"enabled":true,"description":"Sample
        activity log alert description"},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"tags": {"key1": "value1", "key2": "value2"}, "properties": {"enabled":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_activity_log_alertsbfb21318/providers/microsoft.insights/activityLogAlerts/activitylogalertxbfb21318?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_activity_log_alertsbfb21318/providers/microsoft.insights/activityLogAlerts/activitylogalertxbfb21318","type":"Microsoft.Insights/ActivityLogAlerts","name":"activitylogalertxbfb21318","location":"Global","kind":null,"tags":{"key1":"value1","key2":"value2"},"properties":{"scopes":["subscriptions/00000000-0000-0000-0000-000000000000"],"condition":{"allOf":[{"field":"category","equals":"Administrative","containsAny":null,"odata.type":null},{"field":"level","equals":"Error","containsAny":null,"odata.type":null}],"odata.type":null},"actions":{"actionGroups":[]},"enabled":false,"description":"Sample
        activity log alert description"},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_activity_log_alertsbfb21318/providers/microsoft.insights/activityLogAlerts/activitylogalertxbfb21318?api-version=2017-04-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
