interactions:
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "eastus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.Storage/storageAccounts/storageaccountx683f167c?api-version=2019-04-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/25005adb-c417-402d-aef0-252c8b0249ad?monitor=true&api-version=2019-04-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/25005adb-c417-402d-aef0-252c8b0249ad?monitor=true&api-version=2019-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.Storage/storageAccounts/storageaccountx683f167c","name":"storageaccountx683f167c","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2020-05-27T03:24:39.9335929Z"},"blob":{"enabled":true,"lastEnabledTime":"2020-05-27T03:24:39.9335929Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2020-05-27T03:24:39.8398209Z","primaryEndpoints":{"blob":"https://storageaccountx683f167c.blob.core.windows.net/","queue":"https://storageaccountx683f167c.queue.core.windows.net/","table":"https://storageaccountx683f167c.table.core.windows.net/","file":"https://storageaccountx683f167c.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "tags": {"tag1": "value1", "tag2": "value2"}, "sku":
      {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.EventHub/namespaces/namespacex683f167c?api-version=2017-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.EventHub/namespaces/namespacex683f167c","name":"namespacex683f167c","type":"Microsoft.EventHub/Namespaces","location":"East
        US","tags":{"tag1":"value1","tag2":"value2"},"properties":{"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"00000000-0000-0000-0000-000000000000:namespacex683f167c","createdAt":"2020-05-27T03:25:11.08Z","updatedAt":"2020-05-27T03:25:11.08Z","serviceBusEndpoint":"https://namespacex683f167c.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"rights": ["Listen", "Send", "Manage"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.EventHub/namespaces/namespacex683f167c/authorizationRules/authorizationrulex683f167c?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.EventHub/namespaces/namespacex683f167c/authorizationRules/authorizationrulex683f167c","name":"authorizationrulex683f167c","type":"Microsoft.EventHub/Namespaces/AuthorizationRules","location":"East
        US","properties":{"rights":["Listen","Send","Manage"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"messageRetentionInDays": 4, "partitionCount": 4, "status":
      "Active", "captureDescription": {"enabled": true, "encoding": "Avro", "intervalInSeconds":
      120, "sizeLimitInBytes": 10485763, "destination": {"name": "EventHubArchive.AzureBlockBlob",
      "properties": {"storageAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.Storage/storageAccounts/storageaccountx683f167c",
      "blobContainer": "container", "archiveNameFormat": "{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}"}}}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.EventHub/namespaces/namespacex683f167c/eventhubs/eventhubx683f167c?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.EventHub/namespaces/namespacex683f167c/eventhubs/eventhubx683f167c","name":"eventhubx683f167c","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"East
        US","properties":{"messageRetentionInDays":4,"partitionCount":4,"status":"Active","createdAt":"2020-05-27T03:26:30.127Z","updatedAt":"2020-05-27T03:26:30.727Z","partitionIds":["0","1","2","3"],"captureDescription":{"enabled":true,"encoding":"Avro","destination":{"name":"EventHubArchive.AzureBlockBlob","properties":{"storageAccountResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.Storage/storageAccounts/storageaccountx683f167c","blobContainer":"container","archiveNameFormat":"{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}"}},"intervalInSeconds":120,"sizeLimitInBytes":10485763}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Listen", "Send", "Manage"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.EventHub/namespaces/namespacex683f167c/eventhubs/eventhubx683f167c/authorizationRules/authorizationrulex683f167c?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.EventHub/namespaces/namespacex683f167c/eventhubs/eventhubx683f167c/authorizationRules/authorizationrulex683f167c","name":"authorizationrulex683f167c","type":"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules","location":"East
        US","properties":{"rights":["Listen","Send","Manage"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"tag1": "val1"}, "location": "eastus", "properties": {"sku":
      {"name": "PerNode"}, "retentionInDays": 30}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.OperationalInsights/workspaces/workspacex683f167c?api-version=2020-03-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\"\
        : \"f4a029a9-3f6f-4d1e-a5b7-8c83f29359fd\",\r\n    \"provisioningState\":\
        \ \"Creating\",\r\n    \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n  \
        \    \"maxCapacityReservationLevel\": 1000,\r\n      \"lastSkuUpdate\": \"\
        Wed, 27 May 2020 03:26:38 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\
        \n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\":\
        \ 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n  \
        \  },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n\
        \      \"quotaNextResetTime\": \"Wed, 27 May 2020 08:00:00 GMT\",\r\n    \
        \  \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\"\
        : \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\"\r\n  },\r\
        \n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/microsoft.operationalinsights/workspaces/workspacex683f167c\"\
        ,\r\n  \"name\": \"workspacex683f167c\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\"\
        ,\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"tag1\": \"val1\"\
        \r\n  }\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "properties": {"definition": {"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "triggers": {}, "actions": {},
      "outputs": {}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.Logic/workflows/workflow683f167c?api-version=2018-07-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","createdTime":"2020-05-27T03:27:17.2391801Z","changedTime":"2020-05-27T03:27:17.2238168Z","state":"Enabled","version":"08586110568482643347","accessEndpoint":"https://prod-65.eastus.logic.azure.com:443/workflows/7367d5808c02445d8e069897876109ce","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{},"triggers":{},"actions":{},"outputs":{}},"parameters":{},"endpointsConfiguration":{"workflow":{"outgoingIpAddresses":[{"address":"13.92.98.111"},{"address":"40.121.91.41"},{"address":"40.114.82.191"},{"address":"23.101.139.153"},{"address":"23.100.29.190"},{"address":"23.101.136.201"},{"address":"104.45.153.81"},{"address":"23.101.132.208"}],"accessEndpointIpAddresses":[{"address":"137.135.106.54"},{"address":"40.117.99.79"},{"address":"40.117.100.228"},{"address":"137.116.126.165"}]},"connector":{"outgoingIpAddresses":[{"address":"40.71.11.80/28"},{"address":"40.71.249.205"},{"address":"191.237.41.52"},{"address":"40.114.40.132"},{"address":"40.71.249.139"}]}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.Logic/workflows/workflow683f167c","name":"workflow683f167c","type":"Microsoft.Logic/workflows","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"properties": {"storageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.Storage/storageAccounts/storageaccountx683f167c",
      "eventHubAuthorizationRuleId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/microsoft.eventhub/namespaces/namespacex683f167c/authorizationrules/authorizationrulex683f167c",
      "eventHubName": "eventhubx683f167c", "metrics": [], "logs": [{"category": "WorkflowRuntime",
      "enabled": true, "retentionPolicy": {"enabled": false, "days": 0}}], "workspaceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/microsoft.operationalinsights/workspaces/workspacex683f167c"}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.Logic/workflows/workflow683f167c/providers/microsoft.insights/diagnosticSettings/insightx683f167c?api-version=2017-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/microsoft.logic/workflows/workflow683f167c/providers/microsoft.insights/diagnosticSettings/insightx683f167c","type":null,"name":"insightx683f167c","location":null,"kind":null,"tags":null,"properties":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/Microsoft.Storage/storageAccounts/storageaccountx683f167c","serviceBusRuleId":null,"workspaceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/microsoft.operationalinsights/workspaces/workspacex683f167c","eventHubAuthorizationRuleId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/microsoft.eventhub/namespaces/namespacex683f167c/authorizationrules/authorizationrulex683f167c","eventHubName":"eventhubx683f167c","metrics":[],"logs":[{"category":"WorkflowRuntime","enabled":true,"retentionPolicy":{"enabled":false,"days":0}}],"logAnalyticsDestinationType":null},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/microsoft.logic/workflows/workflow683f167c/providers/microsoft.insights/diagnosticSettingsCategories?api-version=2017-05-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/microsoft.logic/workflows/workflow683f167c/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowRuntime","type":"microsoft.insights/diagnosticSettingsCategories","name":"WorkflowRuntime","location":null,"kind":null,"tags":null,"properties":{"categoryType":"Logs"},"identity":null},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/microsoft.logic/workflows/workflow683f167c/providers/microsoft.insights/diagnosticSettingsCategories/AllMetrics","type":"microsoft.insights/diagnosticSettingsCategories","name":"AllMetrics","location":null,"kind":null,"tags":null,"properties":{"categoryType":"Metrics"},"identity":null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/microsoft.logic/workflows/workflow683f167c/providers/microsoft.insights/diagnosticSettings?api-version=2017-05-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_tes[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/microsoft.logic/workflows/workflow683f167c/providers/microsoft.insights/diagnosticSettings/insightx683f167c?api-version=2017-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_moni[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/microsoft.logic/workflows/workflow683f167c/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowRuntime?api-version=2017-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_cli_mgmt_monitor_test_monitor_diagnostic_settings683f167c/providers/microsoft.logic/workflows/workflow683f167c/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowRuntime","type":"microsoft.insights/diagnosticSettingsCategories","name":"WorkflowRuntime","location":null,"kind":null,"tags":null,"properties":{"categoryType":"Logs"},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
