{% extends "layout.html" %}

{% block content %}

<ol class="breadcrumb">
    <li class="active">Account</li>
</ol>

<h3>Subscriptions</h3>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Subscription ID</th>
            <th>Name</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        {% for sub in model.subscriptions %}
        <tr>
            <td><a href="{{ url_for('subscription_view', subscription_id=sub.subscription_id) }}">{{sub.subscription_id}}</a></td>
            <td>{{sub.display_name}}</td>
            <td>{{sub.state}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Tenants</h3>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Tenant ID</th>
        </tr>
    </thead>
    <tbody>
        {% for tenant in model.tenants %}
        <tr>
            <td>{{tenant.tenant_id}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
