{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<h3>ADAL for Python</h3>
<address>
    <strong>Support:</strong>   <a href="https://github.com/AzureAD/azure-activedirectory-library-for-python">https://github.com/AzureAD/azure-activedirectory-library-for-python</a><br />
</address>

<h3>Azure SDK for Python</h3>
<address>
    <strong>Support:</strong>   <a href="https://github.com/Azure/azure-sdk-for-python">https://github.com/Azure/azure-sdk-for-python</a><br />
    <strong>Documentation:</strong> <a href="http://azure-sdk-for-python.readthedocs.org/en/latest/">http://azure-sdk-for-python.readthedocs.org/en/latest/</a>
</address>

{% endblock %}
