{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Azure Resource Viewer</h1>
    <p class="lead">This is an example web application that uses the Azure SDK for Pyhon and ADAL for Python libraries to view some of the resources in your Azure subscriptions.</p>
    <p><a href="{{ url_for('account_view') }}" class="btn btn-primary btn-large">Start &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Azure Resource Management</h2>
        <p>
            TODO...
        </p>
        <p><a class="btn btn-default" href="https://github.com/Azure/azure-sdk-for-python">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azure Storage</h2>
        <p>The Azure storage libraries for Python give you access to blob, queue and table storage runtime APIs.</p>
        <p><a class="btn btn-default" href="https://github.com/Azure/azure-sdk-for-python">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Active Directory Authentication Library</h2>
        <p>ADAL for Python is used to obtain auth tokens to use with Azure Resource Management libraries.</p>
        <p><a class="btn btn-default" href="https://github.com/AzureAD/azure-activedirectory-library-for-python">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
