<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Azure Resource Viewer</title>
<!--    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Azure Resource Viewer</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home_view') }}">Home</a></li>
                    <li><a href="{{ url_for('contact_view') }}">Contact</a></li>
                    <li><a href="{{ url_for('account_view') }}">Account</a></li>
                </ul>
                {% if is_logged_in() %}
                <form id="logoutForm" action="{{ url_for('logout_post') }}" method="post" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </form>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('login_view') }}">Log in</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - Azure Resource Viewer</p>
        </footer>
    </div>

    <!--<script src="/static/scripts/jquery-1.10.2.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script src="/static/scripts/bootstrap.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
