{% extends "layout.html" %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="{{ url_for('account_view') }}">Account</a></li>
    <li><a href="{{ url_for('subscription_view', subscription_id=subscription_id) }}">{{subscription_id}}</a></li>
    <li><a href="{{ url_for('resourcegroup_view', subscription_id=subscription_id, resource_group_name=resource_group_name) }}">{{resource_group_name}}</a></li>
    <li class="active">{{model.name}}</li>
</ol>

<h3>Virtual Network Properties</h3>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th class="col-sm-3">Name</th>
            <th class="col-sm-9">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Resource Group</td>
            <td><a href="{{ url_for('resourcegroup_view', subscription_id=subscription_id, resource_group_name=resource_group_name) }}">{{resource_group_name}}</a></td>
        </tr>
        <tr>
            <td>Virtual Network Name</td>
            <td>{{model.name}}</td>
        </tr>
        <tr>
            <td>Provisioning State</td>
            <td>{{model.network.provisioning_state}}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{model.network.location}}</td>
        </tr>
    </tbody>
</table>

<h3>Subnets</h3>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th class="col-sm-3">Name</th>
            <th class="col-sm-2">Provisioning State</th>
            <th class="col-sm-2">Address Prefix</th>
        </tr>
    </thead>
    <tbody>
{% for subnet in model.network.subnets %}
        <tr>
            <td>{{subnet.name}}</td>
            <td>{{subnet.provisioning_state}}</td>
            <td>{{subnet.address_prefix}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
