{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/range/json?api-version=1.0\u0026query=50.97452,5.86605\u0026timeBudgetInSec=6000.0\u0026vehicleAxleWeight=0\u0026vehicleWidth=0.0\u0026vehicleHeight=0.0\u0026vehicleLength=0.0\u0026vehicleMaxSpeed=0\u0026vehicleWeight=0\u0026vehicleCommercial=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "AzureMapsSubscriptionKey"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "reachableRange": {
          "center": {
            "latitude": 50.97452,
            "longitude": 5.86605
          },
          "boundary": [
            {
              "latitude": 52.03715,
              "longitude": 5.73477
            },
            {
              "latitude": 52.04158,
              "longitude": 5.69294
            },
            {
              "latitude": 51.94085,
              "longitude": 5.50635
            },
            {
              "latitude": 51.92236,
              "longitude": 5.42497
            },
            {
              "latitude": 51.94518,
              "longitude": 5.24059
            [...]
