interactions:
- request:
    body: null
    headers:
      subscription-key:
      - <RealSubscriptionKey>
    method: GET
    uri: https://us.atlas.microsoft.com/route/range/json?api-version=1.0&query=50.97452%2C5.86605&timeBudgetInSec=6000.0
  response:
    body:
      string: '{"formatVersion":"0.0.1","reachableRange":{"center":{"latitude":50.97452,"longitude":5.86605},"boundary":[{"latitude":52.03715,"longitude":5.73477},{"latitude":52.04308,"longitude":5.61878},{"latitude":52.03557,"longitude":5.58779},{"latitude":51.94774,"longitude":5.37826},{"latitude":52.12436,"longitude":5.14729},{"latitude":52.08065,"longitude":4.98847},{"latitude":51.99952,"longitude":5.00415},{"latitude":51.82694,"longitude":4.7831},{"latitude":51.80576,"longitude":4.65033},{"latitude":51.6359,"longitude":4.53395},{"latitude":51.50976,"longitude":4.41061},{"latitude":51.42092,"longitude":4.1655[...]
