interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "U\nS\nA\n,\n \nU\nn\ni\nt\ne\nd\n
      \nS\nt\na\nt\ne\ns\n,\n \nU\nn\ni\nt\ne\nd\n \nS\nt\na\nt\ne\ns\n \no\nf\n \nA\nm\ne\nr\ni\nc\na\n\n\nW\na\ns\nh\ni\nn\ng\nt\no\nn\n,\n
      \nW\na\ns\nh\n.\n \n=\n>\n \nW\nA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searchd8051850.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchd8051850.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D83F23C6013CC7\"","name":"test-syn-map","format":"solr","synonyms":"U\nS\nA\n,\n
        \nU\nn\ni\nt\ne\nd\n \nS\nt\na\nt\ne\ns\n,\n \nU\nn\ni\nt\ne\nd\n \nS\nt\na\nt\ne\ns\n
        \no\nf\n \nA\nm\ne\nr\ni\nc\na\n\n\nW\na\ns\nh\ni\nn\ng\nt\no\nn\n,\n \nW\na\ns\nh\n.\n
        \n=\n>\n \nW\nA","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '83'
      etag: W/"0x8D83F23C6013CC7"
      location: https://searchd8051850.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searchd8051850.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://searchd8051850.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchd8051850.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D83F23C6013CC7\"","name":"test-syn-map","format":"solr","synonyms":"U\nS\nA\n,\n
        \nU\nn\ni\nt\ne\nd\n \nS\nt\na\nt\ne\ns\n,\n \nU\nn\ni\nt\ne\nd\n \nS\nt\na\nt\ne\ns\n
        \no\nf\n \nA\nm\ne\nr\ni\nc\na\n\n\nW\na\ns\nh\ni\nn\ng\nt\no\nn\n,\n \nW\na\ns\nh\n.\n
        \n=\n>\n \nW\nA","encryptionKey":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '11'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchd8051850.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://searchd8051850.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '19'
    status:
      code: 204
      message: No Content
    url: https://searchd8051850.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://searchd8051850.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchd8051850.search.windows.net/$metadata#synonymmaps","value":[]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '6'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchd8051850.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
version: 1
