interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "DefaultEndpointsProtocol=https;AccountName=storagename;AccountKey=NzhL3hKZbJBuJ2484dPTR+xF30kYaWSSCbs2BzLgVVI1woqeST/1IgqaLm6QAOTxtGvxctSNbIR/1hW8yH+bJg==;EndpointSuffix=core.windows.net"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search950921e4.search.windows.net/datasources?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search950921e4.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D8EFCCB97DCB0B\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '69'
      etag: W/"0x8D8EFCCB97DCB0B"
      location: https://search950921e4.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://search950921e4.search.windows.net/datasources?api-version=2020-06-30-Preview
- request:
    body: '{"name": "sample-datasource", "description": "updated", "type": "azureblob",
      "credentials": {"connectionString": "DefaultEndpointsProtocol=https;AccountName=storagename;AccountKey=NzhL3hKZbJBuJ2484dPTR+xF30kYaWSSCbs2BzLgVVI1woqeST/1IgqaLm6QAOTxtGvxctSNbIR/1hW8yH+bJg==;EndpointSuffix=core.windows.net"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://search950921e4.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search950921e4.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D8EFCCB98D97C5\"","name":"sample-datasource","description":"updated","type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '39'
      etag: W/"0x8D8EFCCB98D97C5"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search950921e4.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
- request:
    body: null
    headers:
      If-Match:
      - '"0x8D8EFCCB97DCB0B"'
    method: DELETE
    uri: https://search950921e4.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"error":{"code":"","message":"The precondition given in one of the
        request headers evaluated to false. No change was made to the resource from
        this request."}}'
    headers:
      content-language: en
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '6'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 412
      message: Precondition Failed
    url: https://search950921e4.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
version: 1
