interactions:
- request:
    body: 'b''{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "connection_string"}, "container": {"name": "searchcontainer"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search7a7716a5.search.windows.net/datasources?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search7a7716a5.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D7ED52C4646503\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '29'
      etag: W/"0x8D7ED52C4646503"
      location: https://search7a7716a5.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search7a7716a5.search.windows.net
        - /datasources
        - api-version=2020-06-30-Preview
        - ''
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "searchable": false}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search7a7716a5.search.windows.net/indexes?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search7a7716a5.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D7ED52C4C9C8F3\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"synonymMaps":[]}],"scoringProfiles":[],"corsOptions":null,"suggesters":[],"analyzers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '501'
      etag: W/"0x8D7ED52C4C9C8F3"
      location: https://search7a7716a5.search.windows.net/indexes('hotels')?api-version=2020-06-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search7a7716a5.search.windows.net
        - /indexes
        - api-version=2020-06-30-Preview
        - ''
[...]
- request:
    body: '{"name": "sample-indexer", "dataSourceName": "sample-datasource", "targetIndexName":
      "hotels", "disabled": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search7a7716a5.search.windows.net/indexers?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search7a7716a5.search.windows.net/$metadata#indexers/$entity","@odata.etag":"\"0x8D7ED52C5DC2E27\"","name":"sample-indexer","description":null,"dataSourceName":"sample-datasource","skillsetName":null,"targetIndexName":"hotels","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '540'
      etag: W/"0x8D7ED52C5DC2E27"
      location: https://search7a7716a5.search.windows.net/indexers('sample-indexer')?api-version=2020-06-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search7a7716a5.search.windows.net
        - /indexers
        - api-version=2020-06-30-Preview
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://search7a7716a5.search.windows.net/indexers?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search7a7716a5.search.windows.net/$metadata#indexers","value":[{"@odata.etag":"\"0x8D7ED52C60A4B66\"","name":"another-indexer","description":null,"dataSourceName":"another-datasource","skillsetName":null,"targetIndexName":"another-index","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null},{"@odata.etag":"\"0x8D7ED52C5DC2E27\"","name":"sample-indexer","description":null,"dataSourceName":"sample-datasource","skillsetName":null,"targetIndexName":"hotels","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '13'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search7a7716a5.search.windows.net
        - /indexers
        - api-version=2020-06-30-Preview
        - ''
version: 1
