interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America\nWashington, Wash. => WA"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - 14DF6A1BA00781A3CF66B77487C0D34B
    method: POST
    uri: https://search23141d6a.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search23141d6a.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D83FADE027012F\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '43'
      etag: W/"0x8D83FADE027012F"
      location: https://search23141d6a.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://search23141d6a.search.windows.net/synonymmaps?api-version=2020-06-30
- request:
    body: null
    headers:
      api-key:
      - 14DF6A1BA00781A3CF66B77487C0D34B
    method: GET
    uri: https://search23141d6a.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search23141d6a.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D83FADE027012F\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '14'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search23141d6a.search.windows.net/synonymmaps?api-version=2020-06-30
version: 1
