interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://searchb0ef1f4f.search.windows.net/indexes('drgqefsg')?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchb0ef1f4f.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D93C1D9BDC45B7\"","name":"drgqefsg","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]},{"name":"hotelName","type":"Edm.String","searchable":true,"filterable":true,"retrievable":true,"sortable":true,"facetable":false,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]},{"name":"description","type":"Edm.String","searchable":true,"filterable":false,"retrievable":true,"sortable":false,"facetable":false,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":"en.lucene","normalizer":null,"synonymMaps":[]},{"name":"desc[...]
- request:
    body: '{"value": [{"hotelId": "1000", "rating": 5, "rooms": [], "hotelName": "Azure
      Inn", "@search.action": "upload"}, {"hotelId": "3", "rating": 4, "rooms": [],
      "hotelName": "Redmond Hotel", "@search.action": "upload"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searchb0ef1f4f.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"value":[{"key":"1000","status":true,"errorMessage":null,"statusCode":201},{"key":"3","status":true,"errorMessage":null,"statusCode":200}]}'
    headers:
      content-type: application/json; odata.metadata=none
      elapsed-time: '181'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchb0ef1f4f.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2021-04-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://searchb0ef1f4f.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2021-04-30-Preview
  response:
    body:
      string: "\uFEFF11"
    headers:
      content-type: text/plain
      elapsed-time: '4'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchb0ef1f4f.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2021-04-30-Preview
version: 1
