interactions:
- request:
    body: '{"name": "test-ss", "description": "desc", "skills": [{"@odata.type": "#Microsoft.Skills.Text.EntityRecognitionSkill",
      "inputs": [{"name": "text", "source": "/document/content"}], "outputs": [{"name":
      "organizations", "targetName": "organizations"}]}]}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - ED631490CDB800ED48D1F3C3950D1DFA
    method: POST
    uri: https://search75151acc.search.windows.net/skillsets?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search75151acc.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8D83F24E55B079E\"","name":"test-ss","description":"desc","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":null,"description":null,"context":null,"categories":[],"defaultLanguageCode":null,"minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null,"encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '72'
      etag: W/"0x8D83F24E55B079E"
      location: https://search75151acc.search.windows.net/skillsets('test-ss')?api-version=2020-06-30
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://search75151acc.search.windows.net/skillsets?api-version=2020-06-30
- request:
    body: null
    headers:
      api-key:
      - ED631490CDB800ED48D1F3C3950D1DFA
    method: GET
    uri: https://search75151acc.search.windows.net/skillsets?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search75151acc.search.windows.net/$metadata#skillsets","value":[{"@odata.etag":"\"0x8D83F24E55B079E\"","name":"test-ss","description":"desc","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":"#1","description":null,"context":"/document","categories":["Person","Quantity","Organization","URL","Email","Location","DateTime"],"defaultLanguageCode":"en","minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null,"encryptionKey":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '75'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search75151acc.search.windows.net/skillsets?api-version=2020-06-30
version: 1
