interactions:
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "retrievable": true, "searchable": false, "filterable": false,
      "sortable": false, "facetable": false}, {"name": "baseRate", "type": "Edm.Double",
      "key": false, "retrievable": true, "searchable": false, "filterable": false,
      "sortable": false, "facetable": false}], "scoringProfiles": [], "corsOptions":
      {"allowedOrigins": ["*"], "maxAgeInSeconds": 60}}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://search3b9d19d1.search.windows.net/indexes('hotels')?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search3b9d19d1.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D8EFCCE90B318D\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":false,"retrievable":true,"sortable":false,"facetable":false,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]},{"name":"baseRate","type":"Edm.Double","searchable":false,"filterable":false,"retrievable":true,"sortable":false,"facetable":false,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]}],"scoringProfiles":[],"corsOptions":{"allowedOrigins":["*"],"maxAgeInSeconds":60},"suggesters":[],"analyzers":[],"normalizers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":{"@odata.type":"#Microsoft.Azure.Search.BM25Similarity","k1":null,"b":null}}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '559'
      etag: W/"0x8D8EFCCE90B318D"
      location: https://search3b9d19d1.search.windows.net/indexes('hotels')?api-version=2020-06-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://search3b9d19d1.search.windows.net/indexes('hotels')?api-version=2020-06-30-Preview
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "retrievable": true, "searchable": false, "filterable": false,
      "sortable": false, "facetable": false}, {"name": "baseRate", "type": "Edm.Double",
      "key": false, "retrievable": true, "searchable": false, "filterable": false,
      "sortable": false, "facetable": false}], "scoringProfiles": [{"name": "MyProfile"}],
      "corsOptions": {"allowedOrigins": ["*"], "maxAgeInSeconds": 60}}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://search3b9d19d1.search.windows.net/indexes('hotels')?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search3b9d19d1.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D8EFCCE9340F6A\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":false,"retrievable":true,"sortable":false,"facetable":false,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]},{"name":"baseRate","type":"Edm.Double","searchable":false,"filterable":false,"retrievable":true,"sortable":false,"facetable":false,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]}],"scoringProfiles":[{"name":"MyProfile","functionAggregation":null,"text":null,"functions":[]}],"corsOptions":{"allowedOrigins":["*"],"maxAgeInSeconds":60},"suggesters":[],"analyzers":[],"normalizers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":{"@odata.type":"#Microsoft.Azure.Search.BM25Similarity","k1":null,"b":null}}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '182'
      etag: W/"0x8D8EFCCE9340F6A"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search3b9d19d1.search.windows.net/indexes('hotels')?api-version=2020-06-30-Preview
version: 1
