interactions:
- request:
    body: '{"name": "test-ss", "description": "desc1", "skills": [{"@odata.type":
      "#Microsoft.Skills.Text.EntityRecognitionSkill", "inputs": [{"name": "text",
      "source": "/document/content"}], "outputs": [{"name": "organizations", "targetName":
      "organizations"}]}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      api-key:
      - 01403115EE5BE1BA6A55848DFE606F30
    method: PUT
    uri: https://search4ddb2428.search.windows.net/skillsets('test-ss')?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search4ddb2428.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8D83F24D3086636\"","name":"test-ss","description":"desc1","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":null,"description":null,"context":null,"categories":[],"defaultLanguageCode":null,"minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null,"encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '67'
      etag: W/"0x8D83F24D3086636"
      location: https://search4ddb2428.search.windows.net/skillsets('test-ss')?api-version=2020-06-30
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://search4ddb2428.search.windows.net/skillsets('test-ss')?api-version=2020-06-30
[...]
- request:
    body: null
    headers:
      api-key:
      - 01403115EE5BE1BA6A55848DFE606F30
    method: GET
    uri: https://search4ddb2428.search.windows.net/skillsets?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search4ddb2428.search.windows.net/$metadata#skillsets","value":[{"@odata.etag":"\"0x8D83F24D31A91F4\"","name":"test-ss","description":"desc2","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":"#1","description":null,"context":"/document","categories":["Person","Quantity","Organization","URL","Email","Location","DateTime"],"defaultLanguageCode":"en","minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null,"encryptionKey":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '39'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search4ddb2428.search.windows.net/skillsets?api-version=2020-06-30
version: 1
