interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "connection_string"}, "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searcha8211b7f.search.windows.net/datasources?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searcha8211b7f.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D8EFCDC99C3E1D\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '90'
      etag: W/"0x8D8EFCDC99C3E1D"
      location: https://searcha8211b7f.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searcha8211b7f.search.windows.net/datasources?api-version=2020-06-30-Preview
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "retrievable": true, "searchable": false}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searcha8211b7f.search.windows.net/indexes?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searcha8211b7f.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D8EFCDCA0F3F24\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]}],"scoringProfiles":[],"corsOptions":null,"suggesters":[],"analyzers":[],"normalizers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":{"@odata.type":"#Microsoft.Azure.Search.BM25Similarity","k1":null,"b":null}}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '522'
      etag: W/"0x8D8EFCDCA0F3F24"
      location: https://searcha8211b7f.search.windows.net/indexes('hotels')?api-version=2020-06-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searcha8211b7f.search.windows.net/indexes?api-version=2020-06-30-Preview
- request:
    body: '{"name": "sample-indexer", "dataSourceName": "sample-datasource", "targetIndexName":
      "hotels", "disabled": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searcha8211b7f.search.windows.net/indexers?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searcha8211b7f.search.windows.net/$metadata#indexers/$entity","@odata.etag":"\"0x8D8EFCDCA57B679\"","name":"sample-indexer","description":null,"dataSourceName":"sample-datasource","skillsetName":null,"targetIndexName":"hotels","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null,"encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '374'
      etag: W/"0x8D8EFCDCA57B679"
      location: https://searcha8211b7f.search.windows.net/indexers('sample-indexer')?api-version=2020-06-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searcha8211b7f.search.windows.net/indexers?api-version=2020-06-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://searcha8211b7f.search.windows.net/indexers?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searcha8211b7f.search.windows.net/$metadata#indexers","value":[{"@odata.etag":"\"0x8D8EFCDCA57B679\"","name":"sample-indexer","description":null,"dataSourceName":"sample-datasource","skillsetName":null,"targetIndexName":"hotels","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null,"encryptionKey":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '15'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searcha8211b7f.search.windows.net/indexers?api-version=2020-06-30-Preview
- request:
    body: '{"name": "sample-indexer", "description": "updated", "dataSourceName":
      "sample-datasource", "targetIndexName": "hotels", "disabled": false}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://searcha8211b7f.search.windows.net/indexers('sample-indexer')?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searcha8211b7f.search.windows.net/$metadata#indexers/$entity","@odata.etag":"\"0x8D8EFCDCAA1D996\"","name":"sample-indexer","description":"updated","dataSourceName":"sample-datasource","skillsetName":null,"targetIndexName":"hotels","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null,"encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '247'
      etag: W/"0x8D8EFCDCAA1D996"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searcha8211b7f.search.windows.net/indexers('sample-indexer')?api-version=2020-06-30-Preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://searcha8211b7f.search.windows.net/indexers('sample-indexer')?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searcha8211b7f.search.windows.net/$metadata#indexers/$entity","@odata.etag":"\"0x8D8EFCDCAA1D996\"","name":"sample-indexer","description":"updated","dataSourceName":"sample-datasource","skillsetName":null,"targetIndexName":"hotels","disabled":false,"schedule":null,"parameters":null,"fieldMappings":[],"outputFieldMappings":[],"cache":null,"encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '5'
      etag: W/"0x8D8EFCDCAA1D996"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searcha8211b7f.search.windows.net/indexers('sample-indexer')?api-version=2020-06-30-Preview
version: 1
