interactions:
- request:
    body: '{"name": "test-syn-map-1", "format": "solr", "synonyms": "U\nS\nA\n,\n
      \nU\nn\ni\nt\ne\nd\n \nS\nt\na\nt\ne\ns\n,\n \nU\nn\ni\nt\ne\nd\n \nS\nt\na\nt\ne\ns\n
      \no\nf\n \nA\nm\ne\nr\ni\nc\na\n\n\nW\na\ns\nh\ni\nn\ng\nt\no\nn\n,\n \nW\na\ns\nh\n.\n
      \n=\n>\n \nW\nA"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - C4FC437135EEBCBE83A959856D731C36
    method: POST
    uri: https://searche98a1ca9.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://searche98a1ca9.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D83F253828F1B9\"","name":"test-syn-map-1","format":"solr","synonyms":"U\nS\nA\n,\n
        \nU\nn\ni\nt\ne\nd\n \nS\nt\na\nt\ne\ns\n,\n \nU\nn\ni\nt\ne\nd\n \nS\nt\na\nt\ne\ns\n
        \no\nf\n \nA\nm\ne\nr\ni\nc\na\n\n\nW\na\ns\nh\ni\nn\ng\nt\no\nn\n,\n \nW\na\ns\nh\n.\n
        \n=\n>\n \nW\nA","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '51'
      etag: W/"0x8D83F253828F1B9"
      location: https://searche98a1ca9.search.windows.net/synonymmaps('test-syn-map-1')?api-version=2020-06-30
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searche98a1ca9.search.windows.net/synonymmaps?api-version=2020-06-30
[...]
- request:
    body: null
    headers:
      api-key:
      - C4FC437135EEBCBE83A959856D731C36
    method: GET
    uri: https://searche98a1ca9.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://searche98a1ca9.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D83F253828F1B9\"","name":"test-syn-map-1","format":"solr","synonyms":"U\nS\nA\n,\n
        \nU\nn\ni\nt\ne\nd\n \nS\nt\na\nt\ne\ns\n,\n \nU\nn\ni\nt\ne\nd\n \nS\nt\na\nt\ne\ns\n
        \no\nf\n \nA\nm\ne\nr\ni\nc\na\n\n\nW\na\ns\nh\ni\nn\ng\nt\no\nn\n,\n \nW\na\ns\nh\n.\n
        \n=\n>\n \nW\nA","encryptionKey":null},{"@odata.etag":"\"0x8D83F253833A20F\"","name":"test-syn-map-2","format":"solr","synonyms":"W\na\ns\nh\ni\nn\ng\nt\no\nn\n,\n
        \nW\na\ns\nh\n.\n \n=\n>\n \nW\nA","encryptionKey":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '19'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searche98a1ca9.search.windows.net/synonymmaps?api-version=2020-06-30
version: 1
