interactions:
- request:
    body: null
    headers:
      api-key:
      - BCC2B5F7B4D46977C101187522DA6F26
    method: GET
    uri: https://search24f71524.search.windows.net/servicestats?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search24f71524.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06_Preview.ServiceStatistics","counters":{"documentCount":{"usage":0,"quota":null},"indexesCount":{"usage":0,"quota":3},"indexersCount":{"usage":0,"quota":3},"dataSourcesCount":{"usage":0,"quota":3},"storageSize":{"usage":0,"quota":52428800},"synonymMaps":{"usage":0,"quota":3},"skillsetCount":{"usage":0,"quota":3}},"limits":{"maxFieldsPerIndex":1000,"maxFieldNestingDepthPerIndex":10,"maxComplexCollectionFieldsPerIndex":40,"maxComplexObjectsInCollectionsPerDocument":3000}}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '99'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search24f71524.search.windows.net
        - /servicestats
        - api-version=2019-05-06-Preview
        - ''
version: 1
