interactions:
- request:
    body: '{"name": "test-ss-1", "description": "desc1", "skills": [{"@odata.type":
      "#Microsoft.Skills.Text.EntityRecognitionSkill", "inputs": [{"name": "text",
      "source": "/document/content"}], "outputs": [{"name": "organizations", "targetName":
      "organizations"}]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search40851a0b.search.windows.net/skillsets?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search40851a0b.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8D96E691CCFE91B\"","name":"test-ss-1","description":"desc1","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":null,"description":null,"context":null,"categories":[],"defaultLanguageCode":null,"minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null,"encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '46'
      etag: W/"0x8D96E691CCFE91B"
      location: https://search40851a0b.search.windows.net/skillsets('test-ss-1')?api-version=2021-04-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://search40851a0b.search.windows.net/skillsets?api-version=2021-04-30-Preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://search40851a0b.search.windows.net/skillsets?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search40851a0b.search.windows.net/$metadata#skillsets","value":[{"@odata.etag":"\"0x8D96E691CCFE91B\"","name":"test-ss-1","description":"desc1","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":"#1","description":null,"context":"/document","categories":["Person","Quantity","Organization","URL","Email","Location","DateTime"],"defaultLanguageCode":"en","minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","[...]
