interactions:
- request:
    body: '{"name": "test-ss-1", "description": "desc1", "skills": [{"@odata.type":
      "#Microsoft.Skills.Text.EntityRecognitionSkill", "inputs": [{"name": "text",
      "source": "/document/content"}], "outputs": [{"name": "organizations", "targetName":
      "organizations"}]}]}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: POST
    uri: https://searche7b20da6.search.windows.net/skillsets?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche7b20da6.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8D7E7B7191C1836\"","name":"test-ss-1","description":"desc1","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":null,"description":null,"context":null,"categories":[],"defaultLanguageCode":null,"minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '232'
      etag: W/"0x8D7E7B7191C1836"
      location: https://searche7b20da6.search.windows.net/skillsets('test-ss-1')?api-version=2019-05-06-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searche7b20da6.search.windows.net/skillsets?api-version=2019-05-06-Preview
[...]
- request:
    body: null
    headers:
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: GET
    uri: https://searche7b20da6.search.windows.net/skillsets?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche7b20da6.search.windows.net/$metadata#skillsets","value":[{"@odata.etag":"\"0x8D7E7B7191C1836\"","name":"test-ss-1","description":"desc1","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":"#1","description":null,"context":"/document","categories":["Person","Quantity","Organization","URL","Email","Location","DateTime"],"defaultLanguageCode":"en","minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null},{"@odata.etag":"\"0x8D7E7B7192A2562\"","name":"test-ss-2","description":"desc2","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":"#1","description":null,"context":"/document","categories":["Person","Quantity","Organization","URL","Email","Location","DateTime"],"defaultLanguageCode":"en","minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '37'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searche7b20da6.search.windows.net/skillsets?api-version=2019-05-06-Preview
- request:
    body: null
    headers:
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: DELETE
    uri: https://searche7b20da6.search.windows.net/skillsets('test-ss-1')?api-version=2019-05-06-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '64'
    status:
      code: 204
      message: No Content
    url: https://searche7b20da6.search.windows.net/skillsets('test-ss-1')?api-version=2019-05-06-Preview
- request:
    body: null
    headers:
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: DELETE
    uri: https://searche7b20da6.search.windows.net/skillsets('test-ss-2')?api-version=2019-05-06-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '38'
    status:
      code: 204
      message: No Content
    url: https://searche7b20da6.search.windows.net/skillsets('test-ss-2')?api-version=2019-05-06-Preview
version: 1
