interactions:
- request:
    body: null
    headers:
      api-key:
      - 9668DBB06986BDAE69C5806FCE628E21
    method: GET
    uri: https://search3d4a19fe.search.windows.net/servicestats?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://search3d4a19fe.search.windows.net/$metadata#Microsoft.Azure.Search.V2020_06_30.ServiceStatistics","counters":{"documentCount":{"usage":0,"quota":null},"indexesCount":{"usage":0,"quota":3},"indexersCount":{"usage":0,"quota":3},"dataSourcesCount":{"usage":0,"quota":3},"storageSize":{"usage":0,"quota":52428800},"synonymMaps":{"usage":0,"quota":3}},"limits":{"maxFieldsPerIndex":1000,"maxFieldNestingDepthPerIndex":10,"maxComplexCollectionFieldsPerIndex":40,"maxComplexObjectsInCollectionsPerDocument":3000}}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '66'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search3d4a19fe.search.windows.net/servicestats?api-version=2020-06-30
version: 1
