interactions:
- request:
    body: '{"name": "test-syn-map-1", "format": "solr", "synonyms": "USA, United States,
      United States of America"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: POST
    uri: https://searche7b20da6.search.windows.net/synonymmaps?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche7b20da6.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D7E7B7250910B7\"","name":"test-syn-map-1","format":"solr","synonyms":"USA,
        United States, United States of America","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '29'
      etag: W/"0x8D7E7B7250910B7"
      location: https://searche7b20da6.search.windows.net/synonymmaps('test-syn-map-1')?api-version=2019-05-06-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searche7b20da6.search.windows.net/synonymmaps?api-version=2019-05-06-Preview
[...]
- request:
    body: null
    headers:
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: GET
    uri: https://searche7b20da6.search.windows.net/synonymmaps?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche7b20da6.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D7E7B7250910B7\"","name":"test-syn-map-1","format":"solr","synonyms":"USA,
        United States, United States of America","encryptionKey":null},{"@odata.etag":"\"0x8D7E7B725139A97\"","name":"test-syn-map-2","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '17'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searche7b20da6.search.windows.net/synonymmaps?api-version=2019-05-06-Preview
- request:
    body: null
    headers:
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: DELETE
    uri: https://searche7b20da6.search.windows.net/synonymmaps('test-syn-map-1')?api-version=2019-05-06-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '45'
    status:
      code: 204
      message: No Content
    url: https://searche7b20da6.search.windows.net/synonymmaps('test-syn-map-1')?api-version=2019-05-06-Preview
- request:
    body: null
    headers:
      api-key:
      - F078F6A85D2ED703E08FBF8A5960F28F
    method: DELETE
    uri: https://searche7b20da6.search.windows.net/synonymmaps('test-syn-map-2')?api-version=2019-05-06-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '13'
    status:
      code: 204
      message: No Content
    url: https://searche7b20da6.search.windows.net/synonymmaps('test-syn-map-2')?api-version=2019-05-06-Preview
version: 1
