interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America\nWashington, Wash. => WA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search5e99218c.search.windows.net/synonymmaps?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search5e99218c.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D93C1F56FF3448\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '84'
      etag: W/"0x8D93C1F56FF3448"
      location: https://search5e99218c.search.windows.net/synonymmaps('test-syn-map')?api-version=2021-04-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://search5e99218c.search.windows.net/synonymmaps?api-version=2021-04-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://search5e99218c.search.windows.net/synonymmaps?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search5e99218c.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D93C1F56FF3448\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '52'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search5e99218c.search.windows.net/synonymmaps?api-version=2021-04-30-Preview
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "Washington, Wash.
      => WA"}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://search5e99218c.search.windows.net/synonymmaps('test-syn-map')?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search5e99218c.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D93C1F571D48E8\"","name":"test-syn-map","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '22'
      etag: W/"0x8D93C1F571D48E8"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search5e99218c.search.windows.net/synonymmaps('test-syn-map')?api-version=2021-04-30-Preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://search5e99218c.search.windows.net/synonymmaps('test-syn-map')?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search5e99218c.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D93C1F571D48E8\"","name":"test-syn-map","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '7'
      etag: W/"0x8D93C1F571D48E8"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search5e99218c.search.windows.net/synonymmaps('test-syn-map')?api-version=2021-04-30-Preview
version: 1
