interactions:
- request:
    body: '{"value": [{"hotelId": "1000", "rating": 5, "rooms": [], "hotelName": "Azure
      Inn", "@search.action": "upload"}, {"hotelId": "3", "rating": 4, "rooms": [],
      "hotelName": "Redmond Hotel", "@search.action": "upload"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search96dd1f02.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"value":[{"key":"1000","status":true,"errorMessage":null,"statusCode":201},{"key":"3","status":true,"errorMessage":null,"statusCode":200}]}'
    headers:
      content-type: application/json; odata.metadata=none
      elapsed-time: '123'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search96dd1f02.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2021-04-30-Preview
version: 1
