interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "DefaultEndpointsProtocol=https;AccountName=storagename;AccountKey=NzhL3hKZbJBuJ2484dPTR+xF30kYaWSSCbs2BzLgVVI1woqeST/1IgqaLm6QAOTxtGvxctSNbIR/1hW8yH+bJg==;EndpointSuffix=core.windows.net"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - B9AD3FA1A5A00F28630A84A8C57C2595
    method: POST
    uri: https://search38471564.search.windows.net/datasources?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search38471564.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D7E76B7020FF97\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '52'
      etag: W/"0x8D7E76B7020FF97"
      location: https://search38471564.search.windows.net/datasources('sample-datasource')?api-version=2019-05-06-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search38471564.search.windows.net
        - /datasources
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: null
    headers:
      api-key:
      - B9AD3FA1A5A00F28630A84A8C57C2595
    method: GET
    uri: https://search38471564.search.windows.net/datasources?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search38471564.search.windows.net/$metadata#datasources","value":[{"@odata.etag":"\"0x8D7E76B7020FF97\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '22'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search38471564.search.windows.net
        - /datasources
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: null
    headers:
      api-key:
      - B9AD3FA1A5A00F28630A84A8C57C2595
    method: DELETE
    uri: https://search38471564.search.windows.net/datasources('sample-datasource')?api-version=2019-05-06-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '26'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search38471564.search.windows.net
        - /datasources('sample-datasource')
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: null
    headers:
      api-key:
      - B9AD3FA1A5A00F28630A84A8C57C2595
    method: GET
    uri: https://search38471564.search.windows.net/datasources?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search38471564.search.windows.net/$metadata#datasources","value":[]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '5'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search38471564.search.windows.net
        - /datasources
        - api-version=2019-05-06-Preview
        - ''
version: 1
