interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "connection_string"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search55741a3e.search.windows.net/datasources?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search55741a3e.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D83F24442234B1\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '59'
      etag: W/"0x8D83F24442234B1"
      location: https://search55741a3e.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://search55741a3e.search.windows.net/datasources?api-version=2020-06-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://search55741a3e.search.windows.net/datasources?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search55741a3e.search.windows.net/$metadata#datasources","value":[{"@odata.etag":"\"0x8D83F24442234B1\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '31'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search55741a3e.search.windows.net/datasources?api-version=2020-06-30-Preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://search55741a3e.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '34'
    status:
      code: 204
      message: No Content
    url: https://search55741a3e.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://search55741a3e.search.windows.net/datasources?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search55741a3e.search.windows.net/$metadata#datasources","value":[]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '7'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search55741a3e.search.windows.net/datasources?api-version=2020-06-30-Preview
version: 1
