interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "DefaultEndpointsProtocol=https;AccountName=storagename;AccountKey=NzhL3hKZbJBuJ2484dPTR+xF30kYaWSSCbs2BzLgVVI1woqeST/1IgqaLm6QAOTxtGvxctSNbIR/1hW8yH+bJg==;EndpointSuffix=core.windows.net"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - EFC4B188C8D10EBFAB62ED35CBA650BB
    method: POST
    uri: https://searchb0841f28.search.windows.net/datasources?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://searchb0841f28.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D83F2327FCCA36\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '57'
      etag: W/"0x8D83F2327FCCA36"
      location: https://searchb0841f28.search.windows.net/datasources('sample-datasource')?api-version=2020-06-30
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searchb0841f28.search.windows.net/datasources?api-version=2020-06-30
version: 1
