interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "connection_string"}, "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searcha79d175c.search.windows.net/datasources?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searcha79d175c.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D96BF74B548027\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null,"identity":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '40'
      etag: W/"0x8D96BF74B548027"
      location: https://searcha79d175c.search.windows.net/datasources('sample-datasource')?api-version=2021-04-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searcha79d175c.search.windows.net/datasources?api-version=2021-04-30-Preview
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "retrievable": true, "searchable": false}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searcha79d175c.search.windows.net/indexes?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searcha79d175c.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D96BF74BB9E448\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]}],"scoringProfiles":[],"corsOptions":null,"suggesters":[],"analyzers":[],"normalizers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":{"@odata.type":"#Microsoft.Azure.Search.BM25Similarity","k1":null,"b":null}}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '513'
      etag: W/"0x8D96BF74BB9E448"
      location: https://searcha79d175c.search.windows.net/indexes('hotels')?api-version=2021-04-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searcha79d175c.search.windows.net/indexes?api-version=2021-04-30-Preview
- request:
    body: '{"name": "sample-indexer", "dataSourceName": "sample-datasource", "targetIndexName":
      "hotels", "disabled": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searcha79d175c.search.windows.net/indexers?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"error":{"code":"","message":"Error with data source: Credentials
        provided in the connection string are invalid or have expired.\r\nAs a result
        of a one-time maintenance activity, your search service went through a change
        of the IP address for its API endpoint. This caused indexers that depend on
        network access rules on the data source to stop working. In order to address
        this issue, please update the network access rules in your data source to
        use the new IP address. We apologize for the inconvenience.\r\nFor more information
        on troubleshooting connection issues to Azure Storage accounts, please see
        https://go.microsoft.com/fwlink/?linkid=2049388  Please adjust your data source
        definition in order to proceed."}}'
    headers:
      content-language: en
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '494'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 400
      message: Bad Request
    url: https://searcha79d175c.search.windows.net/indexers?api-version=2021-04-30-Preview
version: 1
