interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "DefaultEndpointsProtocol=https;AccountName=storagename;AccountKey=NzhL3hKZbJBuJ2484dPTR+xF30kYaWSSCbs2BzLgVVI1woqeST/1IgqaLm6QAOTxtGvxctSNbIR/1hW8yH+bJg==;EndpointSuffix=core.windows.net"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - 7A89725BBC59BE289D165493C43F6C66
    method: POST
    uri: https://search38471564.search.windows.net/datasources?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search38471564.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D7E8A0605A970A\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '56'
      etag: W/"0x8D7E8A0605A970A"
      location: https://search38471564.search.windows.net/datasources('sample-datasource')?api-version=2019-05-06-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://search38471564.search.windows.net/datasources?api-version=2019-05-06-Preview
- request:
    body: null
    headers:
      api-key:
      - 7A89725BBC59BE289D165493C43F6C66
    method: GET
    uri: https://search38471564.search.windows.net/datasources?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search38471564.search.windows.net/$metadata#datasources","value":[{"@odata.etag":"\"0x8D7E8A0605A970A\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '24'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search38471564.search.windows.net/datasources?api-version=2019-05-06-Preview
- request:
    body: null
    headers:
      api-key:
      - 7A89725BBC59BE289D165493C43F6C66
    method: DELETE
    uri: https://search38471564.search.windows.net/datasources('sample-datasource')?api-version=2019-05-06-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '41'
    status:
      code: 204
      message: No Content
    url: https://search38471564.search.windows.net/datasources('sample-datasource')?api-version=2019-05-06-Preview
- request:
    body: null
    headers:
      api-key:
      - 7A89725BBC59BE289D165493C43F6C66
    method: GET
    uri: https://search38471564.search.windows.net/datasources?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search38471564.search.windows.net/$metadata#datasources","value":[]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '5'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search38471564.search.windows.net/datasources?api-version=2019-05-06-Preview
version: 1
