interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "DefaultEndpointsProtocol=https;AccountName=ragrsrakshith;AccountKey=sRkzuHuat3naczTACA6/9wsKMwpy56cMEev4jEEaPTJ7ULJQ0Wu8mOzzJ/bxl023ttAgLgOiQfqhoxGvExzE9w==;EndpointSuffix=core.windows.net"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - C40F8D742F60181079544E774DE5B535
    method: POST
    uri: https://search38471564.search.windows.net/datasources?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search38471564.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D7E766C5933512\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '67'
      etag: W/"0x8D7E766C5933512"
      location: https://search38471564.search.windows.net/datasources('sample-datasource')?api-version=2019-05-06-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search38471564.search.windows.net
        - /datasources
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: null
    headers:
      api-key:
      - C40F8D742F60181079544E774DE5B535
    method: GET
    uri: https://search38471564.search.windows.net/datasources?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search38471564.search.windows.net/$metadata#datasources","value":[{"@odata.etag":"\"0x8D7E766C5933512\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '9'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search38471564.search.windows.net
        - /datasources
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: null
    headers:
      api-key:
      - C40F8D742F60181079544E774DE5B535
    method: DELETE
    uri: https://search38471564.search.windows.net/datasources('sample-datasource')?api-version=2019-05-06-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '19'
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search38471564.search.windows.net
        - /datasources('sample-datasource')
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: null
    headers:
      api-key:
      - C40F8D742F60181079544E774DE5B535
    method: GET
    uri: https://search38471564.search.windows.net/datasources?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search38471564.search.windows.net/$metadata#datasources","value":[]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '4'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search38471564.search.windows.net
        - /datasources
        - api-version=2019-05-06-Preview
        - ''
version: 1
