interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "DefaultEndpointsProtocol=https;AccountName=storagename;AccountKey=NzhL3hKZbJBuJ2484dPTR+xF30kYaWSSCbs2BzLgVVI1woqeST/1IgqaLm6QAOTxtGvxctSNbIR/1hW8yH+bJg==;EndpointSuffix=core.windows.net"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - 9934F9F394547FDB82394143EC2A49E5
    method: POST
    uri: https://searche2561c44.search.windows.net/datasources?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche2561c44.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D7EBFED6E968C7\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '57'
      etag: W/"0x8D7EBFED6E968C7"
      location: https://searche2561c44.search.windows.net/datasources('sample-datasource')?api-version=2019-05-06-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - searche2561c44.search.windows.net
        - /datasources
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: '{"name": "sample-datasource", "description": "updated", "type": "azureblob",
      "credentials": {"connectionString": "DefaultEndpointsProtocol=https;AccountName=storagename;AccountKey=NzhL3hKZbJBuJ2484dPTR+xF30kYaWSSCbs2BzLgVVI1woqeST/1IgqaLm6QAOTxtGvxctSNbIR/1hW8yH+bJg==;EndpointSuffix=core.windows.net"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      api-key:
      - 9934F9F394547FDB82394143EC2A49E5
    method: PUT
    uri: https://searche2561c44.search.windows.net/datasources('sample-datasource')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche2561c44.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D7EBFED6F92313\"","name":"sample-datasource","description":"updated","type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '46'
      etag: W/"0x8D7EBFED6F92313"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - searche2561c44.search.windows.net
        - /datasources('sample-datasource')
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: '{"name": "sample-datasource", "description": "changed", "type": "azureblob",
      "credentials": {"connectionString": "DefaultEndpointsProtocol=https;AccountName=storagename;AccountKey=NzhL3hKZbJBuJ2484dPTR+xF30kYaWSSCbs2BzLgVVI1woqeST/1IgqaLm6QAOTxtGvxctSNbIR/1hW8yH+bJg==;EndpointSuffix=core.windows.net"},
      "container": {"name": "searchcontainer"}, "@odata.etag": "\"0x8D7EBFED6E968C7\""}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"0x8D7EBFED6E968C7"'
      Prefer:
      - return=representation
      api-key:
      - 9934F9F394547FDB82394143EC2A49E5
    method: PUT
    uri: https://searche2561c44.search.windows.net/datasources('sample-datasource')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"error":{"code":"","message":"The precondition given in one of the
        request headers evaluated to false. No change was made to the resource from
        this request."}}'
    headers:
      content-language: en
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '6'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 412
      message: Precondition Failed
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - searche2561c44.search.windows.net
        - /datasources('sample-datasource')
        - api-version=2019-05-06-Preview
        - ''
version: 1
