interactions:
- request:
    body: '{"name": "test-syn-map-1", "format": "solr", "synonyms": "USA, United States,
      United States of America\nWashington, Wash. => WA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searche98a1ca9.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche98a1ca9.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D8EFCDB55A20B5\"","name":"test-syn-map-1","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '59'
      etag: W/"0x8D8EFCDB55A20B5"
      location: https://searche98a1ca9.search.windows.net/synonymmaps('test-syn-map-1')?api-version=2020-06-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searche98a1ca9.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://searche98a1ca9.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searche98a1ca9.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D8EFCDB55A20B5\"","name":"test-syn-map-1","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null},{"@odata.etag":"\"0x8D8EFCDB56A8901\"","name":"test-syn-map-2","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '27'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searche98a1ca9.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
version: 1
