interactions:
- request:
    body: '{"name": "test-ss", "description": "desc1", "skills": [{"@odata.type":
      "#Microsoft.Skills.Text.EntityRecognitionSkill", "inputs": [{"name": "text",
      "source": "/document/content"}], "outputs": [{"name": "organizations", "targetName":
      "organizations"}]}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://search9d362229.search.windows.net/skillsets('test-ss')?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search9d362229.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8D96E68ED1FD734\"","name":"test-ss","description":"desc1","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":null,"description":null,"context":null,"categories":[],"defaultLanguageCode":null,"minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null,"encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '43'
      etag: W/"0x8D96E68ED1FD734"
      location: https://search9d362229.search.windows.net/skillsets('test-ss')?api-version=2021-04-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://search9d362229.search.windows.net/skillsets('test-ss')?api-version=2021-04-30-Preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://search9d362229.search.windows.net/skillsets?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search9d362229.search.windows.net/$metadata#skillsets","value":[{"@odata.etag":"\"0x8D96E68ED2D20E8\"","name":"test-ss","description":"desc2","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":"#1","description":null,"context":"/document","categories":["Person","Quantity","Organization","URL","Email","Location","DateTime"],"defaultLanguageCode":"en","minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null,"encryptionKey":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '17'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search9d362229.search.windows.net/skillsets?api-version=2021-04-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://search9d362229.search.windows.net/skillsets('test-ss')?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search9d362229.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8D96E68ED2D20E8\"","name":"test-ss","description":"desc2","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":"#1","description":null,"context":"/document","categories":["Person","Quantity","Organization","URL","Email","Location","DateTime"],"defaultLanguageCode":"en","minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null,"encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '13'
      etag: W/"0x8D96E68ED2D20E8"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search9d362229.search.windows.net/skillsets('test-ss')?api-version=2021-04-30-Preview
version: 1
