interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America\nWashington, Wash. => WA"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - C1A06778A3755356CFA9E8922964E7AC
    method: POST
    uri: https://searchc5e222a3.search.windows.net/synonymmaps?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://searchc5e222a3.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D83FADF482B178\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '49'
      etag: W/"0x8D83FADF482B178"
      location: https://searchc5e222a3.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searchc5e222a3.search.windows.net/synonymmaps?api-version=2020-06-30
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "W\na\ns\nh\ni\nn\ng\nt\no\nn\n,\n
      \nW\na\ns\nh\n.\n \n=\n>\n \nW\nA"}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      api-key:
      - C1A06778A3755356CFA9E8922964E7AC
    method: PUT
    uri: https://searchc5e222a3.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://searchc5e222a3.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D83FADF48DB0B0\"","name":"test-syn-map","format":"solr","synonyms":"W\na\ns\nh\ni\nn\ng\nt\no\nn\n,\n
        \nW\na\ns\nh\n.\n \n=\n>\n \nW\nA","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '29'
      etag: W/"0x8D83FADF48DB0B0"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchc5e222a3.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
- request:
    body: null
    headers:
      If-Match:
      - '"0x8D83FADF482B178"'
      api-key:
      - C1A06778A3755356CFA9E8922964E7AC
    method: DELETE
    uri: https://searchc5e222a3.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
  response:
    body:
      string: '{"error":{"code":"","message":"The precondition given in one of the
        request headers evaluated to false. No change was made to the resource from
        this request."}}'
    headers:
      content-language: en
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '6'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 412
      message: Precondition Failed
    url: https://searchc5e222a3.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30
version: 1
