interactions:
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "searchable": false}, {"name": "baseRate", "type": "Edm.Double"}],
      "scoringProfiles": [{"name": "MyProfile"}], "corsOptions": {"allowedOrigins":
      ["*"], "maxAgeInSeconds": 60}}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - 9E66BB3DB0EC5C59B1C55B957C665F88
    method: POST
    uri: https://search640f10d5.search.windows.net/indexes?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search640f10d5.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D7D4FC6E0B95E6\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"synonymMaps":[]},{"name":"baseRate","type":"Edm.Double","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"synonymMaps":[]}],"scoringProfiles":[{"name":"MyProfile","functionAggregation":null,"text":null,"functions":[]}],"corsOptions":{"allowedOrigins":["*"],"maxAgeInSeconds":60},"suggesters":[],"analyzers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '763'
      etag: W/"0x8D7D4FC6E0B95E6"
      location:
      - h
      - t
      - t
      - p
      - s
      - ':'
      - /
      - /
      - s
      - e
      - a
      - r
      - c
      - h
      - '6'
      - '4'
      - '0'
      - f
      - '1'
      - '0'
      - d
      - '5'
      - .
      - s
      - e
      - a
      - r
      - c
      - h
      - .
      - w
      - i
      - n
      - d
      - o
      - w
      - s
      - .
      - n
      - e
      - t
      - /
      - i
      - n
      - d
      - e
      - x
      - e
      - s
      - (
      - ''''
      - h
      - o
      - t
      - e
      - l
      - s
      - ''''
      - )
      - '?'
      - a
      - p
      - i
      - '-'
      - v
      - e
      - r
      - s
      - i
      - o
      - n
      - '='
      - '2'
      - '0'
      - '1'
      - '9'
      - '-'
      - '0'
      - '5'
      - '-'
      - '0'
      - '6'
      - '-'
      - P
      - r
      - e
      - v
      - i
      - e
      - w
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search640f10d5.search.windows.net
        - /indexes
        - api-version=2019-05-06-Preview
        - ''
version: 1
