interactions:
- request:
    body: '{"name": "sample-datasource", "type": "azureblob", "credentials": {"connectionString":
      "DefaultEndpointsProtocol=https;AccountName=storagename;AccountKey=NzhL3hKZbJBuJ2484dPTR+xF30kYaWSSCbs2BzLgVVI1woqeST/1IgqaLm6QAOTxtGvxctSNbIR/1hW8yH+bJg==;EndpointSuffix=core.windows.net"},
      "container": {"name": "searchcontainer"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searchb0601f27.search.windows.net/datasources?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchb0601f27.search.windows.net/$metadata#datasources/$entity","@odata.etag":"\"0x8D96BF59301C1E9\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null,"identity":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '45'
      etag: W/"0x8D96BF59301C1E9"
      location: https://searchb0601f27.search.windows.net/datasources('sample-datasource')?api-version=2021-04-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searchb0601f27.search.windows.net/datasources?api-version=2021-04-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://searchb0601f27.search.windows.net/datasources?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchb0601f27.search.windows.net/$metadata#datasources","value":[{"@odata.etag":"\"0x8D96BF59301C1E9\"","name":"sample-datasource","description":null,"type":"azureblob","subtype":null,"credentials":{"connectionString":null},"container":{"name":"searchcontainer","query":null},"dataChangeDetectionPolicy":null,"dataDeletionDetectionPolicy":null,"encryptionKey":null,"identity":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '12'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchb0601f27.search.windows.net/datasources?api-version=2021-04-30-Preview
- request:
    body: null
    headers:
    method: DELETE
    uri: https://searchb0601f27.search.windows.net/datasources('sample-datasource')?api-version=2021-04-30-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '24'
    status:
      code: 204
      message: No Content
    url: https://searchb0601f27.search.windows.net/datasources('sample-datasource')?api-version=2021-04-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://searchb0601f27.search.windows.net/datasources?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchb0601f27.search.windows.net/$metadata#datasources","value":[]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '5'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchb0601f27.search.windows.net/datasources?api-version=2021-04-30-Preview
version: 1
