interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://searchada31f38.search.windows.net/indexes('drgqefsg')?api-version=2020-06-30
  response:
    body:
      string: '{"@odata.context":"https://searchada31f38.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D84B958C33442C\"","name":"drgqefsg","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"synonymMaps":[]},{"name":"hotelName","type":"Edm.String","searchable":true,"filterable":true,"retrievable":true,"sortable":true,"facetable":false,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"synonymMaps":[]},{"name":"description","type":"Edm.String","searchable":true,"filterable":false,"retrievable":true,"sortable":false,"facetable":false,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":"en.lucene","synonymMaps":[]},{"name":"descriptionFr","type":"Edm.String","sear[...]
- request:
    body: '{"value": [{"hotelId": "3", "@search.action": "delete"}, {"hotelId": "4",
      "@search.action": "delete"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searchada31f38.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2020-06-30
  response:
    body:
      string: '{"value":[{"key":"3","status":true,"errorMessage":null,"statusCode":200},{"key":"4","status":true,"errorMessage":null,"statusCode":200}]}'
    headers:
      content-type: application/json; odata.metadata=none
      elapsed-time: '58'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchada31f38.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2020-06-30
- request:
    body: null
    headers:
    method: GET
    uri: https://searchada31f38.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2020-06-30
  response:
    body:
      string: "\uFEFF8"
    headers:
      content-type: text/plain
      elapsed-time: '6'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchada31f38.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2020-06-30
- request:
    body: null
    headers:
    method: GET
    uri: https://searchada31f38.search.windows.net/indexes('drgqefsg')/docs('3')?api-version=2020-06-30
  response:
    body:
      string: ''
    headers:
      elapsed-time: '5'
    status:
      code: 404
      message: Not Found
    url: https://searchada31f38.search.windows.net/indexes('drgqefsg')/docs('3')?api-version=2020-06-30
- request:
    body: null
    headers:
    method: GET
    uri: https://searchada31f38.search.windows.net/indexes('drgqefsg')/docs('4')?api-version=2020-06-30
  response:
    body:
      string: ''
    headers:
      elapsed-time: '5'
    status:
      code: 404
      message: Not Found
    url: https://searchada31f38.search.windows.net/indexes('drgqefsg')/docs('4')?api-version=2020-06-30
version: 1
