interactions:
- request:
    body: '{"value": [{"hotelId": "1000", "@search.action": "delete"}, {"hotelId":
      "4", "@search.action": "delete"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search75f51e7f.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"value":[{"key":"1000","status":true,"errorMessage":null,"statusCode":200},{"key":"4","status":true,"errorMessage":null,"statusCode":200}]}'
    headers:
      content-type: application/json; odata.metadata=none
      elapsed-time: '113'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search75f51e7f.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2021-04-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://search75f51e7f.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2021-04-30-Preview
  response:
    body:
      string: "\uFEFF9"
    headers:
      content-type: text/plain
      elapsed-time: '21'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search75f51e7f.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2021-04-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://search75f51e7f.search.windows.net/indexes('drgqefsg')/docs('1000')?api-version=2021-04-30-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '11'
    status:
      code: 404
      message: Not Found
    url: https://search75f51e7f.search.windows.net/indexes('drgqefsg')/docs('1000')?api-version=2021-04-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://search75f51e7f.search.windows.net/indexes('drgqefsg')/docs('4')?api-version=2021-04-30-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '3'
    status:
      code: 404
      message: Not Found
    url: https://search75f51e7f.search.windows.net/indexes('drgqefsg')/docs('4')?api-version=2021-04-30-Preview
version: 1
