interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America"}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - A7F0FF80C7963FD152667ECCD754F685
    method: POST
    uri: https://searchab401799.search.windows.net/synonymmaps?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchab401799.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D7E098DD6BACC5\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '308'
      etag: W/"0x8D7E098DD6BACC5"
      location:
      - h
      - t
      - t
      - p
      - s
      - ':'
      - /
      - /
      - s
      - e
      - a
      - r
      - c
      - h
      - a
      - b
      - '4'
      - '0'
      - '1'
      - '7'
      - '9'
      - '9'
      - .
      - s
      - e
      - a
      - r
      - c
      - h
      - .
      - w
      - i
      - n
      - d
      - o
      - w
      - s
      - .
      - n
      - e
      - t
      - /
      - s
      - y
      - n
      - o
      - n
      - y
      - m
      - m
      - a
      - p
      - s
      - (
      - ''''
      - t
      - e
      - s
      - t
      - '-'
      - s
      - y
      - n
      - '-'
      - m
      - a
      - p
      - ''''
      - )
      - '?'
      - a
      - p
      - i
      - '-'
      - v
      - e
      - r
      - s
      - i
      - o
      - n
      - '='
      - '2'
      - '0'
      - '1'
      - '9'
      - '-'
      - '0'
      - '5'
      - '-'
      - '0'
      - '6'
      - '-'
      - P
      - r
      - e
      - v
      - i
      - e
      - w
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searchab401799.search.windows.net/synonymmaps?api-version=2019-05-06-Preview
- request:
    body: null
    headers:
      api-key:
      - A7F0FF80C7963FD152667ECCD754F685
    method: GET
    uri: https://searchab401799.search.windows.net/synonymmaps?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchab401799.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D7E098DD6BACC5\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America","encryptionKey":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '17'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchab401799.search.windows.net/synonymmaps?api-version=2019-05-06-Preview
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "Washington, Wash.
      => WA"}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      api-key:
      - A7F0FF80C7963FD152667ECCD754F685
    method: PUT
    uri: https://searchab401799.search.windows.net/synonymmaps('test-syn-map')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchab401799.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D7E098DD899A92\"","name":"test-syn-map","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '21'
      etag: W/"0x8D7E098DD899A92"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchab401799.search.windows.net/synonymmaps('test-syn-map')?api-version=2019-05-06-Preview
[...]
- request:
    body: null
    headers:
      api-key:
      - A7F0FF80C7963FD152667ECCD754F685
    method: GET
    uri: https://searchab401799.search.windows.net/synonymmaps('test-syn-map')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchab401799.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D7E098DD899A92\"","name":"test-syn-map","format":"solr","synonyms":"Washington,
        Wash. => WA","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '6'
      etag: W/"0x8D7E098DD899A92"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchab401799.search.windows.net/synonymmaps('test-syn-map')?api-version=2019-05-06-Preview
version: 1
