interactions:
- request:
    body: '{"name": "test-syn-map", "format": "solr", "synonyms": "USA, United States,
      United States of America\nWashington, Wash. => WA"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://search23141d6a.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search23141d6a.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8D8EFCD90A73413\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '53'
      etag: W/"0x8D8EFCD90A73413"
      location: https://search23141d6a.search.windows.net/synonymmaps('test-syn-map')?api-version=2020-06-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://search23141d6a.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
- request:
    body: null
    headers:
    method: GET
    uri: https://search23141d6a.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://search23141d6a.search.windows.net/$metadata#synonymmaps","value":[{"@odata.etag":"\"0x8D8EFCD90A73413\"","name":"test-syn-map","format":"solr","synonyms":"USA,
        United States, United States of America\nWashington, Wash. => WA","encryptionKey":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '24'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search23141d6a.search.windows.net/synonymmaps?api-version=2020-06-30-Preview
version: 1
