interactions:
- request:
    body: '{"name": "test-ss", "description": "desc1", "skills": [{"@odata.type":
      "#Microsoft.Skills.Text.EntityRecognitionSkill", "inputs": [{"name": "text",
      "source": "/document/content"}], "outputs": [{"name": "organizations", "targetName":
      "organizations"}]}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      api-key:
      - 949AB1B55EE17FD30AB635C811264965
    method: PUT
    uri: https://search260a1985.search.windows.net/skillsets('test-ss')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search260a1985.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8D7E5707C99B8B7\"","name":"test-ss","description":"desc1","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":null,"description":null,"context":null,"categories":[],"defaultLanguageCode":null,"minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '52'
      etag: W/"0x8D7E5707C99B8B7"
      location: https://search260a1985.search.windows.net/skillsets('test-ss')?api-version=2019-05-06-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://search260a1985.search.windows.net/skillsets('test-ss')?api-version=2019-05-06-Preview
[...]
- request:
    body: null
    headers:
      api-key:
      - 949AB1B55EE17FD30AB635C811264965
    method: GET
    uri: https://search260a1985.search.windows.net/skillsets?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search260a1985.search.windows.net/$metadata#skillsets","value":[{"@odata.etag":"\"0x8D7E5707CA3CC9F\"","name":"test-ss","description":"desc2","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":"#1","description":null,"context":"/document","categories":["Person","Quantity","Organization","URL","Email","Location","DateTime"],"defaultLanguageCode":"en","minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null}]}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '20'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search260a1985.search.windows.net/skillsets?api-version=2019-05-06-Preview
- request:
    body: null
    headers:
      api-key:
      - 949AB1B55EE17FD30AB635C811264965
    method: GET
    uri: https://search260a1985.search.windows.net/skillsets('test-ss')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search260a1985.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8D7E5707CA3CC9F\"","name":"test-ss","description":"desc2","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":"#1","description":null,"context":"/document","categories":["Person","Quantity","Organization","URL","Email","Location","DateTime"],"defaultLanguageCode":"en","minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '24'
      etag: W/"0x8D7E5707CA3CC9F"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://search260a1985.search.windows.net/skillsets('test-ss')?api-version=2019-05-06-Preview
version: 1
