interactions:
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "retrievable": true, "searchable": false}, {"name": "baseRate",
      "type": "Edm.Double", "retrievable": true}], "scoringProfiles": [{"name": "MyProfile"}],
      "corsOptions": {"allowedOrigins": ["*"], "maxAgeInSeconds": 60}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://searchefa91fe3.search.windows.net/indexes?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchefa91fe3.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D96CA57E761144\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]},{"name":"baseRate","type":"Edm.Double","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]}],"scoringProfiles":[{"name":"MyProfile","functionAggregation":null,"text":null,"functions":[]}],"corsOptions":{"allowedOrigins":["*"],"maxAgeInSeconds":60},"suggesters":[],"analyzers":[],"normalizers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":{"@odata.type":"#Microsoft.Azure.Search.BM25Similarity","k1":null,"b":null}}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '1711'
      etag: W/"0x8D96CA57E761144"
      location: https://searchefa91fe3.search.windows.net/indexes('hotels')?api-version=2021-04-30-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: https://searchefa91fe3.search.windows.net/indexes?api-version=2021-04-30-Preview
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "retrievable": true, "searchable": false}, {"name": "baseRate",
      "type": "Edm.Double", "retrievable": true}], "scoringProfiles": [], "corsOptions":
      {"allowedOrigins": ["*"], "maxAgeInSeconds": 60}}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://searchefa91fe3.search.windows.net/indexes('hotels')?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"@odata.context":"https://searchefa91fe3.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D96CA57EB1F07B\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]},{"name":"baseRate","type":"Edm.Double","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"synonymMaps":[]}],"scoringProfiles":[],"corsOptions":{"allowedOrigins":["*"],"maxAgeInSeconds":60},"suggesters":[],"analyzers":[],"normalizers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":{"@odata.type":"#Microsoft.Azure.Search.BM25Similarity","k1":null,"b":null}}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '313'
      etag: W/"0x8D96CA57EB1F07B"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: https://searchefa91fe3.search.windows.net/indexes('hotels')?api-version=2021-04-30-Preview
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "retrievable": true, "searchable": false}, {"name": "baseRate",
      "type": "Edm.Double", "retrievable": true}], "scoringProfiles": [], "corsOptions":
      {"allowedOrigins": ["*"], "maxAgeInSeconds": 60}, "@odata.etag": "\"0x8D96CA57E761144\""}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"0x8D96CA57E761144"'
      Prefer:
      - return=representation
    method: PUT
    uri: https://searchefa91fe3.search.windows.net/indexes('hotels')?api-version=2021-04-30-Preview
  response:
    body:
      string: '{"error":{"code":"","message":"The precondition given in one of the
        request headers evaluated to false. No change was made to the resource from
        this request."}}'
    headers:
      content-language: en
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '62'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 412
      message: Precondition Failed
    url: https://searchefa91fe3.search.windows.net/indexes('hotels')?api-version=2021-04-30-Preview
version: 1
