interactions:
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "searchable": false}, {"name": "baseRate", "type": "Edm.Double"}],
      "scoringProfiles": [{"name": "MyProfile"}], "corsOptions": {"allowedOrigins":
      ["*"], "maxAgeInSeconds": 60}}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - 80AE7802DD95A3AC15F78D806265235E
    method: POST
    uri: https://search912f16e6.search.windows.net/indexes?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search912f16e6.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D7ED71B008B075\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"synonymMaps":[]},{"name":"baseRate","type":"Edm.Double","searchable":false,"filterable":true,"retrievable":true,"sortable":true,"facetable":true,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"synonymMaps":[]}],"scoringProfiles":[{"name":"MyProfile","functionAggregation":null,"text":null,"functions":[]}],"corsOptions":{"allowedOrigins":["*"],"maxAgeInSeconds":60},"suggesters":[],"analyzers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '571'
      etag: W/"0x8D7ED71B008B075"
      location: https://search912f16e6.search.windows.net/indexes('hotels')?api-version=2019-05-06-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search912f16e6.search.windows.net
        - /indexes
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: '{"name": "hotels", "fields": [{"name": "hotelId", "type": "Edm.String",
      "key": true, "searchable": false}, {"name": "baseRate", "type": "Edm.Double"}],
      "scoringProfiles": [], "corsOptions": {"allowedOrigins": ["*"], "maxAgeInSeconds":
      60}}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      api-key:
      - 80AE7802DD95A3AC15F78D806265235E
    method: PUT
    uri: https://search912f16e6.search.windows.net/indexes('hotels')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://search912f16e6.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8D7ED71B02BA833\"","name":"hotels","defaultScoringProfile":null,"fields":[{"name":"hotelId","type":"Edm.String","searchable":false,"filterable":true,"ret[...]
- request:
    body: null
    headers:
      If-Match:
      - '"0x8D7ED71B008B075"'
      api-key:
      - 80AE7802DD95A3AC15F78D806265235E
    method: DELETE
    uri: https://search912f16e6.search.windows.net/indexes('hotels')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"error":{"code":"","message":"The precondition given in one of the
        request headers evaluated to false. No change was made to the resource from
        this request."}}'
    headers:
      content-language: en
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '15'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 412
      message: Precondition Failed
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search912f16e6.search.windows.net
        - /indexes('hotels')
        - api-version=2019-05-06-Preview
        - ''
version: 1
