interactions:
- request:
    body: '{"name": "test-ss", "description": "desc", "skills": [{"@odata.type": "#Microsoft.Skills.Text.EntityRecognitionSkill",
      "inputs": [{"name": "text", "source": "/document/content"}], "outputs": [{"name":
      "organizations", "targetName": "organizations"}]}]}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - 36DD0265BF1F3517C97B8BDED46C4F81
    method: POST
    uri: https://searcha9e81761.search.windows.net/skillsets?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searcha9e81761.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8D7EBFE8EB6C23F\"","name":"test-ss","description":"desc","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":null,"description":null,"context":null,"categories":[],"defaultLanguageCode":null,"minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '144'
      etag: W/"0x8D7EBFE8EB6C23F"
      location: https://searcha9e81761.search.windows.net/skillsets('test-ss')?api-version=2019-05-06-Preview
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - searcha9e81761.search.windows.net
        - /skillsets
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: '{"name": "test-ss", "description": "updated", "skills": [{"@odata.type":
      "#Microsoft.Skills.Text.EntityRecognitionSkill", "inputs": [{"name": "text",
      "source": "/document/content"}], "outputs": [{"name": "organizations", "targetName":
      "organizations"}]}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
      api-key:
      - 36DD0265BF1F3517C97B8BDED46C4F81
    method: PUT
    uri: https://searcha9e81761.search.windows.net/skillsets('test-ss')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"@odata.context":"https://searcha9e81761.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8D7EBFE8EC6A3A2\"","name":"test-ss","description":"updated","skills":[{"@odata.type":"#Microsoft.Skills.Text.EntityRecognitionSkill","name":null,"description":null,"context":null,"categories":[],"defaultLanguageCode":null,"minimumPrecision":null,"includeTypelessEntities":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"organizations","targetName":"organizations"}]}],"cognitiveServices":null,"knowledgeStore":null}'
    headers:
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '48'
      etag: W/"0x8D7EBFE8EC6A3A2"
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - searcha9e81761.search.windows.net
        - /skillsets('test-ss')
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: null
    headers:
      If-Match:
      - '"0x8D7EBFE8EB6C23F"'
      api-key:
      - 36DD0265BF1F3517C97B8BDED46C4F81
    method: DELETE
    uri: https://searcha9e81761.search.windows.net/skillsets('test-ss')?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"error":{"code":"","message":"The precondition given in one of the
        request headers evaluated to false. No change was made to the resource from
        this request."}}'
    headers:
      content-language: en
      content-type: application/json; odata.metadata=minimal
      elapsed-time: '13'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 412
      message: Precondition Failed
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - searcha9e81761.search.windows.net
        - /skillsets('test-ss')
        - api-version=2019-05-06-Preview
        - ''
version: 1
