interactions:
- request:
    body: '{"value": [{"hotelId": "3", "@search.action": "delete"}, {"hotelId": "4",
      "@search.action": "delete"}]}'
    headers:
      Content-Type:
      - application/json
      api-key:
      - FB19A82DC258740C637BDC8D2B397D42
    method: POST
    uri: https://search37b1157f.search.windows.net/indexes('drgqefsg')/docs/search.index?api-version=2019-05-06-Preview
  response:
    body:
      string: '{"value":[{"key":"3","status":true,"errorMessage":null,"statusCode":200},{"key":"4","status":true,"errorMessage":null,"statusCode":200}]}'
    headers:
      content-type: application/json; odata.metadata=none
      elapsed-time: '90'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search37b1157f.search.windows.net
        - /indexes('drgqefsg')/docs/search.index
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: null
    headers:
      api-key:
      - FB19A82DC258740C637BDC8D2B397D42
    method: GET
    uri: https://search37b1157f.search.windows.net/indexes('drgqefsg')/docs/$count?api-version=2019-05-06-Preview
  response:
    body:
      string: "\uFEFF8"
    headers:
      content-type: text/plain
      elapsed-time: '5'
      odata-version: '4.0'
      preference-applied: odata.include-annotations="*"
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search37b1157f.search.windows.net
        - /indexes('drgqefsg')/docs/$count
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: null
    headers:
      api-key:
      - FB19A82DC258740C637BDC8D2B397D42
    method: GET
    uri: https://search37b1157f.search.windows.net/indexes('drgqefsg')/docs('3')?api-version=2019-05-06-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '4'
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search37b1157f.search.windows.net
        - /indexes('drgqefsg')/docs('3')
        - api-version=2019-05-06-Preview
        - ''
- request:
    body: null
    headers:
      api-key:
      - FB19A82DC258740C637BDC8D2B397D42
    method: GET
    uri: https://search37b1157f.search.windows.net/indexes('drgqefsg')/docs('4')?api-version=2019-05-06-Preview
  response:
    body:
      string: ''
    headers:
      elapsed-time: '3'
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - search37b1157f.search.windows.net
        - /indexes('drgqefsg')/docs('4')
        - api-version=2019-05-06-Preview
        - ''
version: 1
