-e ../../../eng/tools/azure-sdk-tools
../azure-core
-e ../azure-core/tests/testserver_tests/coretestserver
pyodide==0.19.0a1; python_version >= '3.8'
# 0.23.3 cannot be pulled into our azdo feed due to a restriction present on azdo feeds that is not present on pypi
# at the same time 0.24.0 has a regression that breaks azure-core-experimental, so we cannot upgrade to that
# pinning to 0.23.3 and pulling from our azure sdk artifacts location for now. any changes to azure-core-experimental
# should unpin this req and resolve the issue.
https://azuresdkartifacts.z5.web.core.windows.net/python/distributions/distros/httpx-0.23.3-py3-none-any.whl
urllib3>=2.0.0
