interactions:
- request:
    body: 'b''{"source": "<_io.BufferedReader name=\''/Users/isabellacai/Desktop/github_repos/azure-sdk-for-python/sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/business_cards/business-card-english.png\''>"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/prebuilt/businessCard/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "InvalidImageURL", "innerError": {"requestId": "1b731b25-d35d-4821-8c76-ebce0f06a1f6"},
        "message": "Image URL is badly formatted."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.1/prebuilt/businessCard/analyze?includeTextDetails=false
version: 1
