interactions:
- request:
    body: 'b''{"source": "https://badurl.jpg"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "FailedToDownloadImage", "innerError": {"requestId":
        "2c76697b-07ba-48f3-9f89-f615ef7c9a54"}, "message": "Failed to download image
        from input URL."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
