{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/copyAuthorization",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/eac2613c-e7dc-43aa-a06c-918307b3ce40"
      },
      "ResponseBody": {
        "modelId": "eac2613c-e7dc-43aa-a06c-918307b3ce40",
        "accessToken": "redacted",
        "expirationDateTimeTicks": 1639799027
      }
    }
  ],
  "Variables": {}
}
