interactions:
- request:
    body: 'b''{"source": "https://fakeuri.com/blank%20space"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/layout/analyze
  response:
    body:
      string: '{"error": {"code": "InvalidImage", "message": "The file submitted couldn''t
        be parsed. This can be due to one of the following reasons: the file format
        is not supported ( Supported formats include JPEG, PNG, BMP, PDF and TIFF),
        the file is corrupted or password protected."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/layout/analyze
version: 1
