interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/cf566ace-71ef-4331-9110-82734edf1bc8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/cf566ace-71ef-4331-9110-82734edf1bc8?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "cf566ace-71ef-4331-9110-82734edf1bc8", "status":
        "creating", "createdDateTime": "2020-05-14T00:50:42Z", "lastUpdatedDateTime":
        "2020-05-14T00:50:42Z"}, "accessToken": "redacted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/cf566ace-71ef-4331-9110-82734edf1bc8?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "cf566ace-71ef-4331-9110-82734edf1bc8", "status":
        "ready", "createdDateTime": "2020-05-14T00:50:42Z", "lastUpdatedDateTime":
        "2020-05-14T00:50:51Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Address:", "Company Name:", "Company Phone:", "Dated As:", "Email:",
        "Hero Limited", "Name:", "Phone:", "Phone:", "Purchase Order", "Purchase Order",
        "Purchase Order #:", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From",
        "Shipped To", "TAX", "TOTAL", "Vendor Name:", "Website:"]}}, "trainResult":
        {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages": 1, "errors":
        [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages": 1, "errors":
        [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages": 1, "errors":
        [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages": 1, "errors":
        [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages": 1, "errors":
        [], "status": "succeeded"}], "errors": []}, "accessToken": "redacted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "459db417-84b4-4588-aa3b-d64762c08200", "accessToken":
        "redacted", "expirationDateTimeTicks": 637251006533045470}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/459db417-84b4-4588-aa3b-d64762c08200
    status:
      code: 201
      message: Created
- request:
    body: 'b''b\''{"targetResourceId": "resource_id", "targetResourceRegion": "westus",
      "copyAuthorization": {"modelId": "459db417-84b4-4588-aa3b-d64762c08200", "accessToken":
      00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks": 637251006533045470}}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/cf566ace-71ef-4331-9110-82734edf1bc8/copy
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/cf566ace-71ef-4331-9110-82734edf1bc8/copyresults/6e206af9-5eae-4540-a80f-d0f8faf24ead
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/cf566ace-71ef-4331-9110-82734edf1bc8/copyresults/6e206af9-5eae-4540-a80f-d0f8faf24ead
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-05-14T00:51:00.1376588Z",
        "lastUpdatedDateTime": "2020-05-14T00:51:00.1376594Z", "copyResult": {}, "accessToken":
        "redacted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
