interactions:
- request:
    body: "\r\n# coding: utf-8\r\n# -------------------------------------------------------------------------\r\n#
      Copyright (c) Microsoft Corporation. All rights reserved.\r\n# Licensed under
      the MIT License. See License.txt in the project root for\r\n# license information.\r\n#
      --------------------------------------------------------------------------\r\n\r\nimport
      sys\r\n\r\n# Ignore async tests for Python < 3.5\r\ncollect_ignore_glob = []\r\nif
      sys.version_info < (3, 5):\r\n    collect_ignore_glob.append(\"*_async.py\")\r\n"
    headers:
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/prebuilt-receipt:analyze?stringIndexType=unicodeCodePoint&api-version=2021-09-30-preview
  response:
    body:
      string: '{"error": {"code": "InvalidRequest", "message": "Invalid request.",
        "innererror": {"code": "InvalidContent", "message": "The file is corrupted
        or format is unsupported. Refer to documentation for the list of supported
        formats."}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
