interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models?op=summary
  response:
    body:
      string: '{"summary": {"count": 0, "limit": 5000, "lastUpdatedDateTime": "2020-09-14T20:36:03Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/prebuilt/receipt/analyze?includeTextDetails=false&locale=%7B%27source%27%3A%20%27https%3A%2F%2Fraw.githubusercontent.com%2FAzure%2Fazure-sdk-for-python%2Fmaster%2Fsdk%2Fformrecognizer%2Fazure-ai-formrecognizer%2Ftests%2Fsample_forms%2Freceipt%2Fcontoso-allinone.jpg%27%7D
  response:
    body:
      string: '{"error": {"code": "InvalidImageURL", "innerError": {"requestId": "71665d6b-6546-4241-9327-20cd86805b4e"},
        "message": "Image URL is badly formatted."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
