{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models?op=summary",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "summary": {
          "count": 2241,
          "limit": 20000,
          "lastUpdatedDateTime": "2021-12-17T04:02:37Z"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "https://blob_sas_url"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/059f7b13-a19c-466a-89fd-398e08ee4f1c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/059f7b13-a19c-466a-89fd-398e08ee4f1c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-12-17T04:02:37Z",
        "lastUpdatedDateTime": "2021-12-17T04:02:40Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0.1273,
              "width": 1688,
              "height": 3000,
              "unit": "pixel"
            }
          ],
          "documentResults": [
            {
              "docType": "prebuilt:receipt",
              "pageRange": [
                1,
                1
              ],
              "fields": {
                "Items": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "object",
                      "valueObject": {
                        "Name": {
                          "type": "string",
                          "valueString": "Cappuccino",
                          "text": "Cappuccino",
                          "boundingBox": [
                            304,
                            1585,
                            658,
                            1598,
                            657,
                            1688,
                            302,
                            1679
                          ],
                          "page": 1,
                          "confidence": 0.558
                        },
                        "Quantity": {
                          "type": "number",
                          "valueNumber": 1,
                          "text": "1",
                          "boundingBox": [
                            244,
                            1581,
                            286,
                            1584,
                            283,
                            1678,
                            241,
                            1675
                          ],
                          "page": 1,
                          "confidence": 0.936
                        },
                        "TotalPrice": {
                          "type": "number",
                          "valueNumber": 2.2,
                          "text": "$2.20",
                          "boundingBox": [
                            1106,
                            1579,
                            1260,
                            1574,
                            1263,
                            1656,
                            1108,
                            1662
                          ],
                     [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models?op=summary",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "summary": {
          "count": 2241,
          "limit": 20000,
          "lastUpdatedDateTime": "2021-12-17T04:02:43Z"
        }
      }
    }
  ],
  "Variables": {}
}
