interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/6698b78c-6e23-4a82-9290-74e6319724eb
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/6698b78c-6e23-4a82-9290-74e6319724eb?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"6698b78c-6e23-4a82-9290-74e6319724eb","status":"creating","createdDateTime":"2020-04-14T22:28:54Z","lastUpdatedDateTime":"2020-04-14T22:28:54Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/6698b78c-6e23-4a82-9290-74e6319724eb?includeKeys=true
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/6698b78c-6e23-4a82-9290-74e6319724eb?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"6698b78c-6e23-4a82-9290-74e6319724eb","status":"ready","createdDateTime":"2020-04-14T22:28:54Z","lastUpdatedDateTime":"2020-04-14T22:29:01Z"},"keys":{"clusters":{"0":["Additional
        Notes:","Address:","Address:","Company Name:","Company Phone:","Dated As:","Email:","Hero
        Limited","Name:","Phone:","Phone:","Purchase Order","Purchase Order","Purchase
        Order #:","SUBTOTAL","Seattle, WA 93849 Phone:","Shipped From","Shipped To","TAX","TOTAL","Vendor
        Name:","Website:"]}},"trainResult":{"trainingDocuments":[{"documentName":"Form_1.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_2.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_3.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_4.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_5.jpg","pages":1,"errors":[],"status":"succeeded"}],"errors":[]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/6698b78c-6e23-4a82-9290-74e6319724eb?includeKeys=true
version: 1
