interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true, "modelName": "mymodel"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/36498e7b-1da6-4b67-867c-d09462bc6ff9
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/36498e7b-1da6-4b67-867c-d09462bc6ff9?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "36498e7b-1da6-4b67-867c-d09462bc6ff9", "modelName":
        "mymodel", "attributes": {"isComposed": false}, "status": "ready", "createdDateTime":
        "2021-05-11T01:40:43Z", "lastUpdatedDateTime": "2021-05-11T01:40:46Z"}, "trainResult":
        {"averageModelAccuracy": 0.96, "trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages": 1, "status":
        "succeeded"}, {"documentName": "Form_4.jpg", "pages": 1, "status": "succeeded"},
        {"documentName": "Form_5.jpg", "pages": 1, "status": "succeeded"}], "fields":
        [{"fieldName": "CompanyAddress", "accuracy": 0.8}, {"fieldName": "CompanyName",
        "accuracy": 0.995}, {"fieldName": "CompanyPhoneNumber", "accuracy": 0.995},
        {"fieldName": "DatedAs", "accuracy": 0.995}, {"fieldName": "Email", "accuracy":
        0.8}, {"fieldName": "Merchant", "accuracy": 0.995}, {"fieldName": "PhoneNumber",
        "accuracy": 0.995}, {"fieldName": "PurchaseOrderNumber", "accuracy": 0.995},
        {"fieldName": "Quantity", "accuracy": 0.995}, {"fieldName": "Signature", "accuracy":
        0.8}, {"fieldName": "Subtotal", "accuracy": 0.995}, {"fieldName": "Tax", "accuracy":
        0.995}, {"fieldName": "Total", "accuracy": 0.995}, {"fieldName": "VendorName",
        "accuracy": 0.995}, {"fieldName": "Website", "accuracy": 0.995}], "errors":
        []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/36498e7b-1da6-4b67-867c-d09462bc6ff9?includeKeys=true
- request:
    body: null
    headers:
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "95191e6d-3897-49b0-b548-83592457cd06", "accessToken":
        "redacted", "expirationDateTimeTicks": 1620783649}'
    headers:
      content-type: application/json; charset=utf-8
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/95191e6d-3897-49b0-b548-83592457cd06
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/copyAuthorization
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
      "targetResourceRegion": "region", "copyAuthorization": {"modelId": "95191e6d-3897-49b0-b548-83592457cd06",
      "accessToken": 00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks":
      1620783649}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/36498e7b-1da6-4b67-867c-d09462bc6ff9/copy
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/36498e7b-1da6-4b67-867c-d09462bc6ff9/copyresults/2853c2f9-e7f5-4610-9999-1b681513fea0
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/36498e7b-1da6-4b67-867c-d09462bc6ff9/copy
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/36498e7b-1da6-4b67-867c-d09462bc6ff9/copyresults/2853c2f9-e7f5-4610-9999-1b681513fea0
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2021-05-11T01:40:49Z",
        "lastUpdatedDateTime": "2021-05-11T01:40:49Z", "copyResult": {"modelId": "95191e6d-3897-49b0-b548-83592457cd06"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/36498e7b-1da6-4b67-867c-d09462bc6ff9/copyresults/2853c2f9-e7f5-4610-9999-1b681513fea0
[...]
