interactions:
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyze?language=not%20a%20language&readingOrder=basic
  response:
    body:
      string: '{"error": {"code": "NotSupportedLanguage", "message": "The requested
        operation is not supported in the language specified."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
