interactions:
- request:
    body: 'b''{"source": "<_io.BufferedReader name=\''C:\\\\\\\\Users\\\\\\\\krpratic\\\\\\\\azure-sdk-for-python\\\\\\\\sdk\\\\\\\\formrecognizer\\\\\\\\azure-ai-formrecognizer\\\\\\\\tests\\\\\\\\sample_forms\\\\\\\\business_cards\\\\\\\\business-card-english.png\''>"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/businessCard/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "InvalidImageURL", "innerError": {"requestId": "0af9ec42-94e3-4f5b-a144-72e1305bcf76"},
        "message": "Image URL is badly formatted."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/prebuilt/businessCard/analyze?includeTextDetails=false
version: 1
