interactions:
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyze?language=zh-Hans&readingOrder=basic
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyzeResults/28ed78ea-0e4c-41fb-9f9c-fbdbec20c94a
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyze?language=zh-Hans&readingOrder=basic
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyzeResults/28ed78ea-0e4c-41fb-9f9c-fbdbec20c94a
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-03-03T19:31:05Z",
        "lastUpdatedDateTime": "2021-03-03T19:31:09Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 8.5, "height": 11,
        "unit": "inch", "language": "zh-Hans", "lines": [{"boundingBox": [0.8792,
        1.1454, 1.7967, 1.1454, 1.7967, 1.3244, 0.8792, 1.3244], "text": "\u516c\u53f8A\u53d1\u7968",
        "appearance": {"style": {"name": "other", "confidence": 1}}, "words": [{"boundingBox":
        [0.8792, 1.1579, 1.0651, 1.1579, 1.0651, 1.3213, 0.8792, 1.3213], "text":
        "\u516c", "confidence": 1}, {"boundingBox": [1.0916, 1.1571, 1.2517, 1.1571,
        1.2517, 1.3228, 1.0916, 1.3228], "text": "\u53f8", "confidence": 1}, {"boundingBox":
        [1.2686, 1.1848, 1.3749, 1.1848, 1.3749, 1.309, 1.2686, 1.309], "text": "A",
        "confidence": 1}, {"boundingBox": [1.4246, 1.1454, 1.5952, 1.1454, 1.5952,
        1.3209, 1.4246, 1.3209], "text": "\u53d1", "co[...]
