{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/invoice/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "https://badurl.jpg"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "FailedToDownloadImage",
          "innerError": {
            "requestId": "4a6edc38-21fb-4d34-8be3-f3c40f221e68"
          },
          "message": "Failed to download image from input URL."
        }
      }
    }
  ],
  "Variables": {}
}
