{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "fe0c0b41-4ed3-40f9-93a8-08bcd0eb8c14",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url",
          "prefix": "testfolder"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31512841524_a6852609-1952-4c68-a51b-97715d829789?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31512841524_a6852609-1952-4c68-a51b-97715d829789?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31512841524_a6852609-1952-4c68-a51b-97715d829789",
        "kind": "documentModelBuild",
        "status": "failed",
        "createdDateTime": "2022-05-26T00:54:36Z",
        "lastUpdatedDateTime": "2022-05-26T00:54:37Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/fe0c0b41-4ed3-40f9-93a8-08bcd0eb8c14?api-version=2022-06-30-preview",
        "percentCompleted": 100,
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "details": [
            {
              "code": "ModelBuildError",
              "message": "Could not build the model: Can\u0027t find any OCR files for training."
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
