interactions:
- request:
    body: '!!! The request body has been omitted from the recording because its size
      184686 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - image/jpeg
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/invoice/analyze?includeTextDetails=true
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/invoice/analyzeResults/fa38e365-f48f-4bee-8e86-b6210c2aca94
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/invoice/analyze?includeTextDetails=true
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/invoice/analyzeResults/fa38e365-f48f-4bee-8e86-b6210c2aca94
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-09-22T05:29:26Z",
        "lastUpdatedDateTime": "2021-09-22T05:29:29Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 1700, "height":
        2200, "unit": "pixel", "lines": [{"text": "CONTOSO LTD.", "boundingBox": [114,
        134, 466, 134, 466, 175, 115, 175], "words": [{"text": "CONTOSO", "boundingBox":
        [115, 135, 333, 134, 333, 176, 115, 176], "confidence": 0.994}, {"text": "LTD.",
        "boundingBox": [357, 134, 465, 134, 465, 176, 358, 176], "confidence": 0.994}],
        "appearance": {"style": {"name": "other", "confidence": 0.878}}}, {"text":
        "INVOICE", "boundingBox": [1410, 114, 1601, 115, 1601, 155, 1410, 155], "words":
        [{"text": "INVOICE", "boundingBox": [1411, 115, 1593, 115, 1592, 156, 1411,
        155], "confidence": 0.995}], "appearance": {"style": {"name": "other", "confidence":
        0.878}}}, {"text": "Contoso Headquarters", "boundingBox": [114, 283, 423,
        284, 423, 313, 114, 311], "words": [{"text": "Contoso", "boundingBox": [116,
        284, 223, 284, 2[...]
