{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "94dbedbc-b1ed-449d-b75b-62c16ab4e0b1",
        "description": "a v3 model",
        "buildMode": "neural",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        },
        "tags": {
          "testkey": "testvalue"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31507399824_ab82dd26-44fd-4adc-92f5-6279096e8da3?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31507399824_ab82dd26-44fd-4adc-92f5-6279096e8da3?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31507399824_ab82dd26-44fd-4adc-92f5-6279096e8da3",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2022-07-28T00:29:35Z",
        "lastUpdatedDateTime": "2022-07-28T00:29:39Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/94dbedbc-b1ed-449d-b75b-62c16ab4e0b1?api-version=2022-06-30-preview",
        "tags": {
          "testkey": "testvalue"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31507399824_ab82dd26-44fd-4adc-92f5-6279096e8da3?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31507399824_ab82dd26-44fd-4adc-92f5-6279096e8da3",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2022-07-28T00:29:35Z",
        "lastUpdatedDateTime": "2022-07-28T00:39:44Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/94dbedbc-b1ed-449d-b75b-62c16ab4e0b1?api-version=2022-06-30-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "94dbedbc-b1ed-449d-b75b-62c16ab4e0b1": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "neural"
            }
          },
          "modelId": "94dbedbc-b1ed-449d-b75b-62c16ab4e0b1",
          "createdDateTime": "2022-07-28T00:39:43Z",
          "apiVersion": "2022-06-30-preview",
          "description": "a v3 model",
          "tags": {
            "testkey": "testvalue"
          }
        },
        "tags": {
          "testkey": "testvalue"
        }
      }
    }
  ],
  "Variables": {}
}
