interactions:
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyze?language=nl&readingOrder=basic
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyzeResults/64a7fefe-9799-40b9-b29f-2fb634354023
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyzeResults/64a7fefe-9799-40b9-b29f-2fb634354023
  response:
    body:
      string: '{"status": "running", "createdDateTime": "2021-03-01T18:40:38Z", "lastUpdatedDateTime":
        "2021-03-01T18:40:38Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyzeResults/64a7fefe-9799-40b9-b29f-2fb634354023
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-03-01T18:40:38Z",
        "lastUpdatedDateTime": "2021-03-01T18:40:44Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 8.5, "height": 11,
        "unit": "inch", "language": "nl", "lines": [{"boundingBox": [0.8917, 1.1119,
        2.3863, 1.1119, 2.3863, 1.2798, 0.8917, 1.2798], "text": "Bedrijf een factuur",
        "appearance": {"style": {"name": "other", "confidence": 1}}, "words": [{"boundingBox":
        [0.8917, 1.1119, 1.4011, 1.1119, 1.4011, 1.2798, 0.8917, 1.2798], "text":
        "Bedrijf", "confidence": 1}, {"boundingBox": [1.4519, 1.1528, 1.7248, 1.1528,
        1.7248, 1.2468, 1.4519, 1.2468], "text": "een", "confidence": 1}, {"boundingBox":
        [1.8205, 1.1119, 2.3863, 1.1119, 2.3863, 1.2468, 1.8205, 1.2468], "text":
        "factuur", "confidence": 1}]}, {"boundingBox": [6.0196, 1.0719, 7.1918, 1.0719,
        7.1918, 1.2137, 6.0196, 1.2137], "text": "Fact[...]
