interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/24837f23-2249-4d9a-a356-8ebac73891fb
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/24837f23-2249-4d9a-a356-8ebac73891fb?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "24837f23-2249-4d9a-a356-8ebac73891fb", "attributes":
        {"isComposed": false}, "status": "ready", "createdDateTime": "2020-10-05T23:55:21Z",
        "lastUpdatedDateTime": "2020-10-05T23:55:23Z"}, "trainResult": {"averageModelAccuracy":
        0.96, "trainingDocuments": [{"documentName": "Form_1.jpg", "pages": 1, "status":
        "succeeded"}, {"documentName": "Form_2.jpg", "pages": 1, "status": "succeeded"},
        {"documentName": "Form_3.jpg", "pages": 1, "status": "succeeded"}, {"documentName":
        "Form_4.jpg", "pages": 1, "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "status": "succeeded"}], "fields": [{"fieldName": "CompanyAddress",
        "accuracy": 0.8}, {"fieldName": "CompanyName", "accuracy": 1.0}, {"fieldName":
        "CompanyPhoneNumber", "accuracy": 1.0}, {"fieldName": "DatedAs", "accuracy":
        1.0}, {"fieldName": "Email", "accuracy": 0.8}, {"fieldName": "Merchant", "accuracy":
        1.0}, {"fieldName": "PhoneNumber", "accuracy": 1.0}, {"fieldName": "PurchaseOrderNumber",
        "accuracy": 1.0}, {"fieldName": "Quantity", "accuracy": 1.0}, {"fieldName":
        "Signature", "accuracy": 0.8}, {"fieldName": "Subtotal", "accuracy": 1.0},
        {"fieldName": "Tax", "accuracy": 1.0}, {"fieldName": "Total", "accuracy":
        1.0}, {"fieldName": "VendorName", "accuracy": 1.0}, {"fieldName": "Website",
        "accuracy": 1.0}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true, "modelName": "second-labeled-model"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/d1a69df1-4d35-48cc-9cb9-08df78904098
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"modelIds": ["24837f23-2249-4d9a-a356-8ebac73891fb", "d1a69df1-4d35-48cc-9cb9-08df78904098"],
      "modelName": "my composed model"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/compose
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/2d6fd659-35d0-436d-908f-97bfb08314ce
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/2d6fd659-35d0-436d-908f-97bfb08314ce?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "2d6fd659-35d0-436d-908f-97bfb08314ce", "modelName":
        "my composed model", "attributes": {"isComposed": true}, "status": "ready",
        "createdDateTime": "2020-10-05T23:55:32Z", "lastUpdatedDateTime": "2020-10-05T23:55:32Z"},
        "composedTrainResults": [{"averageModelAccuracy": 0.96, "trainingDocuments":
        [{"documentName": "Form_1.jpg", "pages": 1, "status": "succeeded"}, {"documentName":
        "Form_2.jpg", "pages": 1, "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages": 1, "status":
        "succeeded"}], "fields": [{"fieldName": "CompanyAddress", "accuracy": 0.8},
        [...]
