interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/744893a4-876f-420f-bc01-c13ad1c18bf8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/744893a4-876f-420f-bc01-c13ad1c18bf8?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "744893a4-876f-420f-bc01-c13ad1c18bf8", "status":
        "creating", "createdDateTime": "2021-03-19T18:25:00Z", "lastUpdatedDateTime":
        "2021-03-19T18:25:00Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/744893a4-876f-420f-bc01-c13ad1c18bf8?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "744893a4-876f-420f-bc01-c13ad1c18bf8", "status":
        "ready", "createdDateTime": "2021-03-19T18:25:00Z", "lastUpdatedDateTime":
        "2021-03-19T18:25:18Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "d849be6c-cb67-4e19-b545-30986f7a6c47", "accessToken":
        "redacted", "expirationDateTimeTicks": 1616264722}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/d849be6c-cb67-4e19-b545-30986f7a6c47
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
      "targetResourceRegion": "CANADACENTRAL", "copyAuthorization": {"modelId": "d849be6c-cb67-4e19-b545-30986f7a6c47",
      "accessToken": 00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks":
      1616264722}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/744893a4-876f-420f-bc01-c13ad1c18bf8/copy
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/744893a4-876f-420f-bc01-c13ad1c18bf8/copyresults/06b920a6-0244-4a96-acc5-fb2c06dd7b29
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/744893a4-876f-420f-bc01-c13ad1c18bf8/copyresults/06b920a6-0244-4a96-acc5-fb2c06dd7b29
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-03-19T18:25:26.6447915Z",
        "lastUpdatedDateTime": "2021-03-19T18:25:26.6447918Z", "copyResult": {"modelId":
        "d849be6c-cb67-4e19-b545-30986f7a6c47"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
