interactions:
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyze?language=pt&readingOrder=basic
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyzeResults/ea954c20-2da0-439a-b441-a137fedd18eb
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyze?language=pt&readingOrder=basic
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/layout/analyzeResults/ea954c20-2da0-439a-b441-a137fedd18eb
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-03-03T19:31:35Z",
        "lastUpdatedDateTime": "2021-03-03T19:31:39Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 8.5, "height": 11,
        "unit": "inch", "language": "pt", "lines": [{"boundingBox": [0.8917, 1.1215,
        2.5557, 1.1215, 2.5557, 1.2798, 0.8917, 1.2798], "text": "Empresa Uma Fatura",
        "appearance": {"style": {"name": "other", "confidence": 1}}, "words": [{"boundingBox":
        [0.8917, 1.122, 1.5491, 1.122, 1.5491, 1.2798, 0.8917, 1.2798], "text": "Empresa",
        "confidence": 1}, {"boundingBox": [1.6235, 1.1215, 1.9658, 1.1215, 1.9658,
        1.2468, 1.6235, 1.2468], "text": "Uma", "confidence": 1}, {"boundingBox":
        [2.075, 1.122, 2.5557, 1.122, 2.5557, 1.2468, 2.075, 1.2468], "text": "Fatura",
        "confidence": 1}]}, {"boundingBox": [6.0196, 1.0719, 7.0829, 1.0719, 7.0829,
        1.2512, 6.0196, 1.2512], "text": "Fatura para[...]
