interactions:
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyze?includeTextDetails=true
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/e47e0a3e-43af-4e89-bd9a-4e5487ba95e6
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyzeResults/e47e0a3e-43af-4e89-bd9a-4e5487ba95e6
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-03-19T20:59:55Z",
        "lastUpdatedDateTime": "2021-03-19T20:59:59Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 8.5, "height": 11,
        "unit": "inch", "lines": [{"text": "Contoso", "boundingBox": [0.5384, 1.1583,
        1.4466, 1.1583, 1.4466, 1.3534, 0.5384, 1.3534], "words": [{"text": "Contoso",
        "boundingBox": [0.5384, 1.1583, 1.4466, 1.1583, 1.4466, 1.3534, 0.5384, 1.3534],
        "confidence": 1}], "appearance": {"style": {"name": "other", "confidence":
        1}}}, {"text": "Address:", "boundingBox": [0.7994, 1.5143, 1.3836, 1.5143,
        1.3836, 1.6154, 0.7994, 1.6154], "words": [{"text": "Address:", "boundingBox":
        [0.7994, 1.5143, 1.3836, 1.5143, 1.3836, 1.6154, 0.7994, 1.6154], "confidence":
        1}], "appearance": {"style": {"name": "other", "confidence": 1}}}, {"text":
        "Invoice For: Microsoft", "boundingBox": [4.4033, 1.5114, 5.8155, 1.5114,
        5.8155, 1.6155, 4.4033, 1.6155], "words": [{[...]
