interactions:
- request:
    body: 'b''{"modelId": "f15e7e1d-66e9-4e4c-96ca-3baf718a7093", "azureBlobSource":
      {"containerUrl": "container_sas_url"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/operations/31527274860_c3bda26f-358a-44c4-baed-26f134e7de3e?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31527274860_c3bda26f-358a-44c4-baed-26f134e7de3e?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31527274860_c3bda26f-358a-44c4-baed-26f134e7de3e",
        "kind": "documentModelBuild", "status": "succeeded", "createdDateTime": "2021-12-09T23:39:00Z",
        "lastUpdatedDateTime": "2021-12-09T23:39:04Z", "resourceLocation": "https://region.api.cognitive.microsoft.com//formrecognizer/documentModels/f15e7e1d-66e9-4e4c-96ca-3baf718a7093?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"f15e7e1d-66e9-4e4c-96ca-3baf718a7093":
        {"fieldSchema": {"Merchant": {"type": "string"}, "MerchantAddress": {"type":
        "string"}, "MerchantPhoneNumber": {"type": "string"}, "CustomerName": {"type":
        "string"}, "CustomerAddress": {"type": "string"}, "CustomerPhoneNumber": {"type":
        "string"}, "FirstItem": {"type": "string"}, "FirstQuantity": {"type": "string"},
        "FirstPrice": {"type": "string"}, "Subtotal": {"type": "string"}, "Tax": {"type":
        "string"}, "Tip": {"type": "string"}, "Total": {"type": "string"}, "Signature":
        {"type": "string"}, "Merchant2": {"type": "string"}, "Customer2": {"type":
        "string"}, "Total2": {"type": "string"}, "Signature2": {"type": "string"}},
        "technique": "fixedTemplate-2021-07-30", "modelType": "form", "fieldConfidence":
        {"Customer2": 0.95, "CustomerAddress": 0.95, "CustomerName": 0.95, "CustomerPhoneNumber":
        0.95, "FirstItem": 0.95, "FirstPrice": 0.95, "FirstQuantity": 0.95, "Merchant":
        0, "Merchant2": 0, "MerchantAddress": 0.95, "MerchantPhoneNumber": 0.95, "Signature":
        0.95, "Signature2": 0.95, "Subtotal": 0.95, "Tax": 0.95, "Tip": 0.95, "Total":
        0.95, "Total2": 0.95}}}, "modelId": "f15e7e1d-66e9-4e4c-96ca-3baf718a7093",
        "createdDateTime": "2021-12-09T23:39:03Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
