interactions:
- request:
    body: 'b''{"modelId": "cc553a88-afda-4459-a627-d61fb514643c", "azureBlobSource":
      {"containerUrl": "container_sas_url"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534637189_a6a2f644-7fa2-4692-b14f-748571715922?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534637189_a6a2f644-7fa2-4692-b14f-748571715922?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31534637189_a6a2f644-7fa2-4692-b14f-748571715922",
        "kind": "documentModelBuild", "status": "succeeded", "createdDateTime": "2021-09-15T18:33:30Z",
        "lastUpdatedDateTime": "2021-09-15T18:33:34Z", "resourceLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/cc553a88-afda-4459-a627-d61fb514643c?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"cc553a88-afda-4459-a627-d61fb514643c":
        {"fieldSchema": {"Merchant": {"type": "string"}, "PhoneNumber": {"type": "string"},
        "Website": {"type": "string"}, "Email": {"type": "string"}, "PurchaseOrderNumber":
        {"type": "string"}, "DatedAs": {"type": "string"}, "VendorName": {"type":
        "string"}, "CompanyName": {"type": "string"}, "CompanyAddress": {"type": "string"},
        "CompanyPhoneNumber": {"type": "string"}, "Subtotal": {"type": "string"},
        "Tax": {"type": "string"}, "Total": {"type": "string"}, "Signature": {"type":
        "string"}, "Quantity": {"type": "number"}}, "fieldConfidence": {"CompanyAddress":
        0.8, "CompanyName": 0.95, "CompanyPhoneNumber": 0.95, "DatedAs": 0.95, "Email":
        0.8, "Merchant": 0.95, "PhoneNumber": 0.95, "PurchaseOrderNumber": 0.95, "Quantity":
        0.95, "Signature": 0.6, "Subtotal": 0.95, "Tax": 0.95, "Total": 0.95, "VendorName":
        0.95, "Website": 0.95}}}, "modelId": "cc553a88-afda-4459-a627-d61fb514643c",
        "createdDateTime": "2021-09-15T18:33:34Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534637189_a6a2f644-7fa2-4692-b14f-748571715922?api-version=2021-09-30-preview
- request:
    body: 'b''{"modelId": "2777686d-4897-4689-b50e-38937ff480ea"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:authorizeCopy?api-version=2021-09-30-preview
  response:
    body:
      string: '{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
        "targetResourceRegion": "region", "targetModelId": "2777686d-4897-4689-b50e-38937ff480ea",
        "targetModelLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/2777686d-4897-4689-b50e-38937ff480ea?api-version=2021-09-30-preview",
        "accessToken": "redacted", "expirationDateTime": "2021-09-15T19:33:38Z"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:authorizeCopy?api-version=2021-09-30-preview
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
      "targetResourceRegion": "region", "targetModelId": "2777686d-4897-4689-b50e-38937ff480ea",
      "targetModelLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/2777686d-4897-4689-b50e-38937ff480ea?api-version=2021-09-30-preview",
      "accessToken": 00000000-0000-0000-0000-000000000000, "expirationDateTime": "2021-09-15T19:33:38.000Z"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/00000000-0000-0000-0000-000000000000:copyTo?api-version=2021-09-30-preview
  response:
    body:
      string: '{"error": {"code": "NotFound", "message": "Resource not found.", "innererror":
        {"code": "ModelNotFound", "message": "The requested model was not found."}}}'
    headers:
      content-type: application/json
    status:
      code: 404
      message: Not Found
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/00000000-0000-0000-0000-000000000000:copyTo?api-version=2021-09-30-preview
version: 1
