interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/4719d11e-8390-4888-9a9e-676a96a54ee7
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/4719d11e-8390-4888-9a9e-676a96a54ee7?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "4719d11e-8390-4888-9a9e-676a96a54ee7", "status":
        "ready", "createdDateTime": "2021-09-07T21:24:23Z", "lastUpdatedDateTime":
        "2021-09-07T21:24:26Z"}, "trainResult": {"averageModelAccuracy": 0.889, "trainingDocuments":
        [{"documentName": "multipage_invoice1.pdf", "pages": 3, "status": "succeeded"},
        {"documentName": "multipage_invoice2.pdf", "pages": 3, "status": "succeeded"},
        {"documentName": "multipage_invoice3.pdf", "pages": 3, "status": "succeeded"},
        {"documentName": "multipage_invoice4.pdf", "pages": 3, "status": "succeeded"},
        {"documentName": "multipage_invoice5.pdf", "pages": 3, "status": "succeeded"}],
        "fields": [{"fieldName": "Customer2", "accuracy": 1.0}, {"fieldName": "CustomerAddress",
        "accuracy": 1.0}, {"fieldName": "CustomerName", "accuracy": 1.0}, {"fieldName":
        "CustomerPhoneNumber", "accuracy": 1.0}, {"fieldName": "FirstItem", "accuracy":
        1.0}, {"fieldName": "FirstPrice", "accuracy": 1.0}, {"fieldName": "FirstQuantity",
        "accuracy": 1.0}, {"fieldName": "Merchant", "accuracy": 0.0}, {"fieldName":
        "Merchant2", "accuracy": 0.0}, {"fieldName": "MerchantAddress", "accuracy":
        1.0}, {"fieldName": "MerchantPhoneNumber", "accuracy": 1.0}, {"fieldName":
        "Signature", "accuracy": 1.0}, {"fieldName": "Signature2", "accuracy": 1.0},
        {"fieldName": "Subtotal", "accuracy": 1.0}, {"fieldName": "Tax", "accuracy":
        1.0}, {"fieldName": "Tip", "accuracy": 1.0}, {"fieldName": "Total", "accuracy":
        1.0}, {"fieldName": "Total2", "accuracy": 1.0}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/4719d11e-8390-4888-9a9e-676a96a54ee7?includeKeys=true
version: 1
