interactions:
- request:
    body: 'b''{"modelId": "2002a6cc-27f7-4df3-8966-5d70d771c70c", "description": "model1",
      "azureBlobSource": {"containerUrl": "container_sas_url"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534642201_c05c8326-8df9-4ae2-a2b0-74855eeb23de?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534642201_c05c8326-8df9-4ae2-a2b0-74855eeb23de?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31534642201_c05c8326-8df9-4ae2-a2b0-74855eeb23de",
        "kind": "documentModelBuild", "status": "succeeded", "createdDateTime": "2021-09-15T17:09:58Z",
        "lastUpdatedDateTime": "2021-09-15T17:10:02Z", "resourceLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/2002a6cc-27f7-4df3-8966-5d70d771c70c?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"2002a6cc-27f7-4df3-8966-5d70d771c70c":
        {"fieldSchema": {"Merchant": {"type": "string"}, "PhoneNumber": {"type": "string"},
        "Website": {"type": "string"}, "Email": {"type": "string"}, "PurchaseOrderNumber":
        {"type": "string"}, "DatedAs": {"type": "string"}, "VendorName": {"type":
        "string"}, "CompanyName": {"type": "string"}, "CompanyAddress": {"type": "string"},
        "CompanyPhoneNumber": {"type": "string"}, "Subtotal": {"type": "string"},
        "Tax": {"type": "string"}, "Total": {"type": "string"}, "Signature": {"type":
        "string"}, "Quantity": {"type": "number"}}, "fieldConfidence": {"CompanyAddress":
        0.8, "CompanyName": 0.95, "CompanyPhoneNumber": 0.95, "DatedAs": 0.95, "Email":
        0.8, "Merchant": 0.95, "PhoneNumber": 0.95, "PurchaseOrderNumber": 0.95, "Quantity":
        0.95, "Signature": 0.6, "Subtotal": 0.95, "Tax": 0.95, "Total": 0.95, "VendorName":
        0.95, "Website": 0.95}}}, "modelId": "2002a6cc-27f7-4df3-8966-5d70d771c70c",
        "createdDateTime": "2021-09-15T17:10:02Z", "description": "model1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534642194_02b42d24-7c25-46a0-8aaa-d718ac1597f5?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31534642194_02b42d24-7c25-46a0-8aaa-d718ac1597f5",
        "kind": "documentModelBuild", "status": "succeeded", "createdDateTime": "2021-09-15T17:10:06Z",
        "lastUpdatedDateTime": "2021-09-15T17:10:09Z", "resourceLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/f0828f1f-1643-4a5e-aa29-2c08a0db0040?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"f0828f1f-1643-4a5e-aa29-2c08a0db0040":
        {"fieldSchema": {"Merchant": {"type": "string"}, "PhoneNumber": {"type": "string"},
        "Website": {"type": "string"}, "Email": {"type": "string"}, "PurchaseOrderNumber":
        {"type": "string"}, "DatedAs": {"type": "string"}, "VendorName": {"type":
        "string"}, "CompanyName": {"type": "string"}, "CompanyAddress": {"type": "string"},
        "CompanyPhoneNumber": {"type": "string"}, "Subtotal": {"type": "string"},
        "Tax": {"type": "string"}, "Total": {"type": "string"}, "Signature": {"type":
        "string"}, "Quantity": {"type": "number"}}, "fieldConfidence": {"CompanyAddress":
        0.8, "CompanyName": 0.95, "CompanyPhoneNumber": 0.95, "DatedAs": 0.95, "Email":
        0.8, "Merchant": 0.95, "PhoneNumber": 0.95, "PurchaseOrderNumber": 0.95, "Quantity":
        0.95, "Signature": 0.6, "Subtotal": 0.95, "Tax": 0.95, "Total": 0.95, "VendorName":
        0.95, "Website": 0.95}}}, "modelId": "f0828f1f-1643-4a5e-aa29-2c08a0db0040",
        "createdDateTime": "2021-09-15T17:10:09Z", "description": "model2"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"modelId": "66e97a20-2128-42ed-98d8-fc859c64e67b", "description": "my
      composed model", "componentModels": [{"modelId": "2002a6cc-27f7-4df3-8966-5d70d771c70c"},
      {"modelId": "f0828f1f-1643-4a5e-aa29-2c08a0db0040"}]}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:compose?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534642186_735cc4b5-cf7d-4382-8533-848227e2421b?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
[...]
