interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/791ac27c-ed29-4e04-b5e4-0bab0f01f8ea
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/791ac27c-ed29-4e04-b5e4-0bab0f01f8ea?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "791ac27c-ed29-4e04-b5e4-0bab0f01f8ea", "status":
        "creating", "createdDateTime": "2020-07-10T19:00:05Z", "lastUpdatedDateTime":
        "2020-07-10T19:00:05Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/791ac27c-ed29-4e04-b5e4-0bab0f01f8ea?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/791ac27c-ed29-4e04-b5e4-0bab0f01f8ea?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "791ac27c-ed29-4e04-b5e4-0bab0f01f8ea", "status":
        "ready", "createdDateTime": "2020-07-10T19:00:05Z", "lastUpdatedDateTime":
        "2020-07-10T19:00:15Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/791ac27c-ed29-4e04-b5e4-0bab0f01f8ea?includeKeys=true
version: 1
