interactions:
- request:
    body: 'b''{"source": "https://fakeuri.com/blank%20space"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/idDocument/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "Timeout", "message": "The operation was timeout."}}'
    headers:
      content-type:
      - application/json
    status:
      code: 408
      message: Timeout
version: 1
