interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/652c03ee-9d6a-4291-bb36-9b653107a2fd
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/652c03ee-9d6a-4291-bb36-9b653107a2fd?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "652c03ee-9d6a-4291-bb36-9b653107a2fd", "status":
        "creating", "createdDateTime": "2020-10-06T00:02:05Z", "lastUpdatedDateTime":
        "2020-10-06T00:02:05Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/652c03ee-9d6a-4291-bb36-9b653107a2fd?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "652c03ee-9d6a-4291-bb36-9b653107a2fd", "status":
        "ready", "createdDateTime": "2020-10-06T00:02:05Z", "lastUpdatedDateTime":
        "2020-10-06T00:02:19Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Ft Lauderdale, FL Phone:", "Hero Limited", "Name:", "Phone:", "Purchase Order",
        "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped
        From", "Shipped To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:",
        "Website:"]}}, "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"modelIds": ["652c03ee-9d6a-4291-bb36-9b653107a2fd", "1a3447aa-5b94-4360-9830-9267309ced37"]}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/compose
  response:
    body:
      string: '{"error": {"code": "1001", "message": "Specified model not found or
        not ready or has incompatible API version, Model Id: 1a3447aa-5b94-4360-9830-9267309ced37"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
