interactions:
- request:
    body: 'b''{"urlSource": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/prebuilt-receipt:analyze?stringIndexType=unicodeCodePoint&api-version=2021-09-30-preview
  response:
    body:
      string: '{"error": {"code": "401", "message": "Access denied due to invalid
        subscription key or wrong API endpoint. Make sure to provide a valid key for
        an active subscription and use a correct regional API endpoint for your resource."}}'
    headers:
      content-type: application/json
      www-authenticate: AzureApiManagementKey realm="https://region.api.cognitive.microsoft.com/formrecognizer",name="Ocp-Apim-Subscription-Key",type="header"
    status:
      code: 401
      message: Access Denied
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/prebuilt-receipt:analyze?stringIndexType=unicodeCodePoint&api-version=2021-09-30-preview
version: 1
