interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/d2ebad05-42b7-4340-a6f6-4e1f3ad819a3
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/d2ebad05-42b7-4340-a6f6-4e1f3ad819a3?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "d2ebad05-42b7-4340-a6f6-4e1f3ad819a3", "attributes":
        {"isComposed": false}, "status": "ready", "createdDateTime": "2021-09-24T06:55:25Z",
        "lastUpdatedDateTime": "2021-09-24T06:55:28Z"}, "trainResult": {"averageModelAccuracy":
        0.889, "trainingDocuments": [{"documentName": "multipage_invoice1.pdf", "pages":
        3, "status": "succeeded"}, {"documentName": "multipage_invoice2.pdf", "pages":
        3, "status": "succeeded"}, {"documentName": "multipage_invoice3.pdf", "pages":
        3, "status": "succeeded"}, {"documentName": "multipage_invoice4.pdf", "pages":
        3, "status": "succeeded"}, {"documentName": "multipage_invoice5.pdf", "pages":
        3, "status": "succeeded"}], "fields": [{"fieldName": "Customer2", "accuracy":
        0.995}, {"fieldName": "CustomerAddress", "accuracy": 0.995}, {"fieldName":
        "CustomerName", "accuracy": 0.995}, {"fieldName": "CustomerPhoneNumber", "accuracy":
        0.995}, {"fieldName": "FirstItem", "accuracy": 0.995}, {"fieldName": "FirstPrice",
        "accuracy": 0.995}, {"fieldName": "FirstQuantity", "accuracy": 0.995}, {"fieldName":
        "Merchant", "accuracy": 0.0}, {"fieldName": "Merchant2", "accuracy": 0.0},
        {"fieldName": "MerchantAddress", "accuracy": 0.995}, {"fieldName": "MerchantPhoneNumber",
        "accuracy": 0.995}, {"fieldName": "Signature", "accuracy": 0.995}, {"fieldName":
        "Signature2", "accuracy": 0.995}, {"fieldName": "Subtotal", "accuracy": 0.995},
        {"fieldName": "Tax", "accuracy": 0.995}, {"fieldName": "Tip", "accuracy":
        0.995}, {"fieldName": "Total", "accuracy": 0.995}, {"fieldName": "Total2",
        "accuracy": 0.995}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/d2ebad05-42b7-4340-a6f6-4e1f3ad819a3?includeKeys=true
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/d2ebad05-42b7-4340-a6f6-4e1f3ad819a3/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/d2ebad05-42b7-4340-a6f6-4e1f3ad819a3/analyzeresults/5a585030-e716-43ef-b7c8-16833ccc408f
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/d2ebad05-42b7-4340-a6f6-4e1f3ad819a3/analyze?includeTextDetails=false
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/d2ebad05-42b7-4340-a6f6-4e1f3ad819a3/analyzeresults/5a585030-e716-43ef-b7c8-16833ccc408f
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-09-24T06:55:31Z",
        "lastUpdatedDateTime": "2021-09-24T06:55:35Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 8.5, "height": 11,
        "unit": "inch", "selectionMarks": [{"boundingBox": [1.7276, 6.649, 2.072,
        6.649, 2.072, 6.804, 1.7276, 6.804], "confidence": 0.292, "state": "unselected"}]},
        {"page": 2, "angle": 0, "width": 8.5, "height": 11, "unit": "inch"}, {"page":
        3, "angle": 0, "width": 8.5, "height": 11, "unit": "inch"}], "pageResults":
        [{"page": 1, "tables": [{"rows": 8, "columns": 3, "cells": [{"rowIndex": 0,
        "columnIndex": 0, "text": "Item", "boundingBox": [0.9909, 2.9408, 3.1649,
        2.9408, 3.1649, 3.1528, 0.9909, 3.1528], "isHeader": true}, {"rowIndex": 0,
        "columnIndex": 1, "text": "Quantity", "boundingBox": [3.1649, 2.9408, 5.3322,
        2.9408, 5.3322, 3.1528, 3.1649, 3.1528], "isHeader": true}, {"rowIndex": 0,
        "columnIndex": 2, "text": "Price", "boundingBox": [5.3322, 2.9408, 7.4995,
        2.9408, 7.4995, 3.1528, 5.3322, 3.1528], "isHeader": true}, {"rowIndex": 1,
        "columnIndex": 0, "text": "A", "boundingBox": [0.9909, 3.1528, 3.1649, 3.1528,
        3.1649, 3.3586, 0.9976, 3.3586], "isHeader":[...]
