interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      true}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1886e5b0-3c03-4ff0-97d9-c306a734cf55
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1886e5b0-3c03-4ff0-97d9-c306a734cf55?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "1886e5b0-3c03-4ff0-97d9-c306a734cf55", "status":
        "creating", "createdDateTime": "2021-05-11T03:33:24Z", "lastUpdatedDateTime":
        "2021-05-11T03:33:24Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1886e5b0-3c03-4ff0-97d9-c306a734cf55?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1886e5b0-3c03-4ff0-97d9-c306a734cf55?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "1886e5b0-3c03-4ff0-97d9-c306a734cf55", "status":
        "ready", "createdDateTime": "2021-05-11T03:33:24Z", "lastUpdatedDateTime":
        "2021-05-11T03:33:41Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Ft Lauderdale, FL Phone:", "Hero Limited", "Name:", "Phone:", "Purchase Order",
        "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped
        From", "Shipped To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:",
        "Website:"]}}, "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "subfolder/Form_6.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1886e5b0-3c03-4ff0-97d9-c306a734cf55?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/acc31947-f334-4dfe-954b-a5399aa2f97c?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "acc31947-f334-4dfe-954b-a5399aa2f97c", "status":
        "ready", "createdDateTime": "2021-05-11T03:33:45Z", "lastUpdatedDateTime":
        "2021-05-11T03:33:52Z"}, "keys": {"clusters": {"0": ["Address:", "Company
        Name:", "Company Phone:", "Dated As:", "Details", "Name:", "Phone:", "Purchase
        Order #:", "Quantity", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "subfolder/Form_6.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/acc31947-f334-4dfe-954b-a5399aa2f97c?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/62b996e7-5683-4239-8696-a4a82f34a04d?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "62b996e7-5683-4239-8696-a4a82f34a04d", "status":
        "invalid", "createdDateTime": "2021-05-11T03:33:55Z", "lastUpdatedDateTime":
        "2021-05-11T03:33:56Z"}, "keys": {"clusters": {}}, "trainResult": {"trainingDocuments":
        [], "errors": [{"code": "2014", "message": "No valid blobs found in the specified
        Azure blob container. Please conform to the document format/size/page/dimensions
        requirements."}]}}'
    headers:
      content-type: application/json; charset=utf-8
      ms-azure-ai-errorcode: '2014'
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/62b996e7-5683-4239-8696-a4a82f34a04d?includeKeys=true
version: 1
