{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/invoice/analyze?includeTextDetails=false\u0026locale=not%20a%20locale",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "https://blob_sas_url"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "UnsupportedLocale",
          "innerError": {
            "requestId": "4bc96c78-7fc1-489d-a927-0350f95edb0f"
          },
          "message": "Locale unsupported. Supported locale includes en-US."
        }
      }
    }
  ],
  "Variables": {}
}
