{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt:analyze?stringIndexType=unicodeCodePoint\u0026api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "urlSource": "https://blob_sas_url"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/765a69bc-6ef2-4046-baa2-f2ba91928eb4?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/765a69bc-6ef2-4046-baa2-f2ba91928eb4?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-05-25T21:43:31Z",
        "lastUpdatedDateTime": "2022-05-25T21:43:35Z",
        "analyzeResult": {
          "apiVersion": "2022-06-30-preview",
          "modelId": "prebuilt-receipt",
          "stringIndexType": "unicodeCodePoint",
          "content": "Contoso\nContoso 123 Main Street Redmond, WA 98052\n123-456-7890\n6/10/2019 13:59\nSales Associate: Paul\n1 Surface Pro 6\n256GB / Intel Core i5 /\n8GB RAM (Black)\n- - -- -\n999.00\n1 SurfacePen\n99.99\n------ - -\nSub-Total\nTax\nTotal\n--\n-------\n1098.99\n104.40\n1203.39",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0.23417720198631287,
              "width": 1688,
              "height": 3000,
              "unit": "pixel",
              "words": [
                {
                  "content": "Contoso",
                  "polygon": [
                    592,
                    273,
                    1038,
                    272,
                    1040,
                    380,
                    595,
                    405
                  ],
                  "confidence": 0.9324844,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "Contoso",
                  "polygon": [
                    326,
                    592,
                    496,
                    601,
                    494,
                    652,
                    322,
                    640
                  ],
                  "confidence": 0.9913172,
                  "span": {
                    "offset": 8,
                    "length": 7
             [...]
