interactions:
- request:
    body: 'b''{"modelId": "69d857ad-a595-40b5-be0c-fd306e20a928", "azureBlobSource":
      {"containerUrl": "container_sas_url", "prefix": "subfolder"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
  response:
    body:
      string: '{"error": {"code": "InvalidRequest", "message": "Invalid request.",
        "innererror": {"code": "TrainingContentMissing", "message": "Training data
        is missing: Could not find any training data at the given path."}}}'
    headers:
      content-type: application/json
    status:
      code: 400
      message: Bad Request
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
version: 1
