interactions:
- request:
    body: 'b''{"source": "b\''\\\\x89PNG\''"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/prebuilt/receipt/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "InvalidImageURL", "innerError": {"requestId": "0a55bfe6-0706-4586-8d25-2594edc2928c"},
        "message": "Image URL is badly formatted."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0/prebuilt/receipt/analyze?includeTextDetails=false
version: 1
