interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/4dbd71a2-7b70-48e4-a4fd-41190a0313c9
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/4dbd71a2-7b70-48e4-a4fd-41190a0313c9?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "4dbd71a2-7b70-48e4-a4fd-41190a0313c9", "status":
        "creating", "createdDateTime": "2020-10-30T00:59:12Z", "lastUpdatedDateTime":
        "2020-10-30T00:59:12Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/4dbd71a2-7b70-48e4-a4fd-41190a0313c9?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/4dbd71a2-7b70-48e4-a4fd-41190a0313c9?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "4dbd71a2-7b70-48e4-a4fd-41190a0313c9", "status":
        "ready", "createdDateTime": "2020-10-30T00:59:12Z", "lastUpdatedDateTime":
        "2020-10-30T00:59:24Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Ft Lauderdale, FL Phone:", "Hero Limited", "Name:", "Phone:", "Purchase Order",
        "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped
        From", "Shipped To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:",
        "Website:"]}}, "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/4dbd71a2-7b70-48e4-a4fd-41190a0313c9?includeKeys=true
- request:
    body: 'b''{"source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/Form_1.jpg"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/4dbd71a2-7b70-48e4-a4fd-41190a0313c9/analyze?includeTextDetails=true
  response:
    body:
      string: ''
    headers:
      operation-location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/4dbd71a2-7b70-48e4-a4fd-41190a0313c9/analyzeresults/27f64af5-26a3-46f9-8421-90cfd083ffb8
    status:
      code: 202
      message: Accepted
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/custom/models/4dbd71a2-7b70-48e4-a4fd-41190a0313c9/analyze?includeTextDetails=true
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/4dbd71a2-7b70-48e4-a4fd-41190a0313c9/analyzeresults/27f64af5-26a3-46f9-8421-90cfd083ffb8
  response:
    body:
      string: '{"status": "running", "createdDateTime": "2020-10-30T00:59:27Z", "lastUpdatedDateTime":
        "2020-10-30T00:59:28Z", "analyzeResult": null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/4dbd71a2-7b70-48e4-a4fd-41190a0313c9/analyzeresults/27f64af5-26a3-46f9-8421-90cfd083ffb8
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/4dbd71a2-7b70-48e4-a4fd-41190a0313c9/analyzeresults/27f64af5-26a3-46f9-8421-90cfd083ffb8
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-10-30T00:59:27Z",
        "lastUpdatedDateTime": "2020-10-30T00:59:33Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 1700, "height":
        2200, "unit": "pixel", "lines": [{"text": "Purchase Order", "boundingBox":
        [137, 140, 351, 140, 351, 167, 137, 167], "words": [{"text": "Purchase", "boundingBox":
        [137, 140, 264, 140, 264, 167, 137, 167]}, {"text": "Order", "boundingBox":
        [269, 139, 351, 139, 351, 167, 269, 167]}]}, {"text": "Hero Limited", "boundingBox":
        [621, 206, 1075, 206, 1075, 266, 621, 266], "words": [{"text": "Hero", "boundingBox":
        [621, 208, 794, 208, 794, 266, 621, 266]}, {"text": "Limited", "boundingBox":
        [806, 205, 1075, 205, 1075, 266, 806, 266]}]}, {"text": "Purchase Order",
        "boundingBox": [...]
