interactions:
- request:
    body: 'b''{"source": "https://fakeuri.com/blank%20space", "sourceFilter": {"prefix":
      "", "includeSubFolders": false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/39f91c56-f66f-407e-812c-3b9a001feacd
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/39f91c56-f66f-407e-812c-3b9a001feacd?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "39f91c56-f66f-407e-812c-3b9a001feacd", "status":
        "creating", "createdDateTime": "2020-06-15T19:04:52Z", "lastUpdatedDateTime":
        "2020-06-15T19:04:52Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/39f91c56-f66f-407e-812c-3b9a001feacd?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/39f91c56-f66f-407e-812c-3b9a001feacd?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "39f91c56-f66f-407e-812c-3b9a001feacd", "status":
        "invalid", "createdDateTime": "2020-06-15T19:04:52Z", "lastUpdatedDateTime":
        "2020-06-15T19:06:17Z"}, "keys": {"clusters": {}}, "trainResult": {"trainingDocuments":
        [], "errors": [{"code": "2012", "message": "Unable to list blobs on the Azure
        blob storage account."}]}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-cs-error-code: '2012'
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/39f91c56-f66f-407e-812c-3b9a001feacd?includeKeys=true
version: 1
