interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true, "modelName": "mymodel"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/9b0f97b5-6008-4649-947e-0dfa8f3c9a47
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/9b0f97b5-6008-4649-947e-0dfa8f3c9a47?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "9b0f97b5-6008-4649-947e-0dfa8f3c9a47", "modelName":
        "mymodel", "attributes": {"isComposed": false}, "status": "ready", "createdDateTime":
        "2021-09-09T01:21:26Z", "lastUpdatedDateTime": "2021-09-09T01:21:29Z"}, "trainResult":
        {"averageModelAccuracy": 0.96, "trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages": 1, "status":
        "succeeded"}, {"documentName": "Form_4.jpg", "pages": 1, "status": "succeeded"},
        {"documentName": "Form_5.jpg", "pages": 1, "status": "succeeded"}], "fields":
        [{"fieldName": "CompanyAddress", "accuracy": 0.8}, {"fieldName": "CompanyName",
        "accuracy": 0.995}, {"fieldName": "CompanyPhoneNumber", "accuracy": 0.995},
        {"fieldName": "DatedAs", "accuracy": 0.995}, {"fieldName": "Email", "accuracy":
        0.8}, {"fieldName": "Merchant", "accuracy": 0.995}, {"fieldName": "PhoneNumber",
        "accuracy": 0.995}, {"fieldName": "PurchaseOrderNumber", "accuracy": 0.995},
        {"fieldName": "Quantity", "accuracy": 0.995}, {"fieldName": "Signature", "accuracy":
        0.8}, {"fieldName": "Subtotal", "accuracy": 0.995}, {"fieldName": "Tax", "accuracy":
        0.995}, {"fieldName": "Total", "accuracy": 0.995}, {"fieldName": "VendorName",
        "accuracy": 0.995}, {"fieldName": "Website", "accuracy": 0.995}], "errors":
        []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/9b0f97b5-6008-4649-947e-0dfa8f3c9a47?includeKeys=true
- request:
    body: null
    headers:
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "6260f94e-9978-4f25-b0d5-9ddf4da89ee1", "accessToken":
        "redacted", "expirationDateTimeTicks": 1631236891}'
    headers:
      content-type: application/json; charset=utf-8
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/6260f94e-9978-4f25-b0d5-9ddf4da89ee1
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/copyAuthorization
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
      "targetResourceRegion": "region", "copyAuthorization": {"modelId": "6260f94e-9978-4f25-b0d5-9ddf4da89ee1",
      "accessToken": 00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks":
      1631236891}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/9b0f97b5-6008-4649-947e-0dfa8f3c9a47/copy
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/9b0f97b5-6008-4649-947e-0dfa8f3c9a47/copyresults/963e9817-068c-4ddf-b985-13bac0226673
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/9b0f97b5-6008-4649-947e-0dfa8f3c9a47/copy
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/9b0f97b5-6008-4649-947e-0dfa8f3c9a47/copyresults/963e9817-068c-4ddf-b985-13bac0226673
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2021-09-09T01:21:32Z",
        "lastUpdatedDateTime": "2021-09-09T01:21:32Z", "copyResult": {"modelId": "6260f94e-9978-4f25-b0d5-9ddf4da89ee1"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/9b0f97b5-6008-4649-947e-0dfa8f3c9a47/copyresults/963e9817-068c-4ddf-b985-13bac0226673
[...]
