interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a8b39845-911a-4ea6-beed-b776aabb3b23
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a8b39845-911a-4ea6-beed-b776aabb3b23?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"a8b39845-911a-4ea6-beed-b776aabb3b23","status":"creating","createdDateTime":"2020-04-28T16:54:12Z","lastUpdatedDateTime":"2020-04-28T16:54:12Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a8b39845-911a-4ea6-beed-b776aabb3b23?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"a8b39845-911a-4ea6-beed-b776aabb3b23","status":"ready","createdDateTime":"2020-04-28T16:54:12Z","lastUpdatedDateTime":"2020-04-28T16:54:20Z"},"keys":{"clusters":{"0":["Additional
        Notes:","Address:","Address:","Company Name:","Company Phone:","Dated As:","Email:","Hero
        Limited","Name:","Phone:","Purchase Order","Purchase Order","Purchase Order
        #:","SUBTOTAL","Seattle, WA 93849 Phone:","Shipped From","Shipped To","TAX","TOTAL","Vendor
        Name:","Website:"]}},"trainResult":{"trainingDocuments":[{"documentName":"Form_1.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_2.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_3.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_4.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_5.jpg","pages":1,"errors":[],"status":"succeeded"}],"errors":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '%PDFUUU'
    headers:
      Content-Type:
      - application/pdf
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a8b39845-911a-4ea6-beed-b776aabb3b23/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a8b39845-911a-4ea6-beed-b776aabb3b23/analyzeresults/4a6a6d94-8dd4-459a-994f-0302d468583f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a8b39845-911a-4ea6-beed-b776aabb3b23/analyzeresults/4a6a6d94-8dd4-459a-994f-0302d468583f
  response:
    body:
      string: '{"status":"failed","createdDateTime":"2020-04-28T16:54:24Z","lastUpdatedDateTime":"2020-04-28T16:54:24Z","analyzeResult":{"version":"2.0.0","readResults":[],"pageResults":[],"documentResults":[],"errors":[{"code":"2005","message":"Unable
        to read file."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
