interactions:
- request:
    body: 'b''{"modelId": "acfa0f55-8bfd-47a0-852c-27f76c6b97a0", "azureBlobSource":
      {"containerUrl": "container_sas_url"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31533901449_c8ce4cdc-8d13-422a-be74-29aade0969ed?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31533901449_c8ce4cdc-8d13-422a-be74-29aade0969ed?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31533901449_c8ce4cdc-8d13-422a-be74-29aade0969ed",
        "kind": "documentModelBuild", "status": "succeeded", "createdDateTime": "2021-09-24T06:55:51Z",
        "lastUpdatedDateTime": "2021-09-24T06:55:53Z", "resourceLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/acfa0f55-8bfd-47a0-852c-27f76c6b97a0?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"acfa0f55-8bfd-47a0-852c-27f76c6b97a0":
        {"fieldSchema": {"table": {"type": "array", "items": {"type": "object", "properties":
        {"Item": {"type": "string"}, "Price": {"type": "string"}, "Tax": {"type":
        "string"}, "Total": {"type": "string"}}}}}, "fieldConfidence": {"table": 0.95,
        "table: Item": 0.95, "table: Price": 0.95, "table: Tax": 0.95, "table: Total":
        0.95}}}, "modelId": "acfa0f55-8bfd-47a0-852c-27f76c6b97a0", "createdDateTime":
        "2021-09-24T06:55:53Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31533901449_c8ce4cdc-8d13-422a-be74-29aade0969ed?api-version=2021-09-30-preview
- request:
    body: 'b''{"urlSource": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/acfa0f55-8bfd-47a0-852c-27f76c6b97a0:analyze?stringIndexType=unicodeCodePoint&api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/acfa0f55-8bfd-47a0-852c-27f76c6b97a0/analyzeResults/927d7d3b-f96e-46e5-88c4-5b657c2d3d97?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/acfa0f55-8bfd-47a0-852c-27f76c6b97a0:analyze?stringIndexType=unicodeCodePoint&api-version=2021-09-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/acfa0f55-8bfd-47a0-852c-27f76c6b97a0/analyzeResults/927d7d3b-f96e-46e5-88c4-5b657c2d3d97?api-version=2021-09-30-preview
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-09-24T06:55:58Z",
        "lastUpdatedDateTime": "2021-09-24T06:56:01Z", "analyzeResult": {"apiVersion":
        "2021-09-30-preview", "modelId": "acfa0f55-8bfd-47a0-852c-27f76c6b97a0", "stringIndexType":
        "unicodeCodePoint", "content": "Con\nt\noso, Ltd.\nItem\nPrice\nTax\nTotal\nApple\n5.00\n2.00\n7.00\nOrange\n2.00\n1.00\n3.00\n1.00\n4.00\n5.00\nPear\n2.00\n2.00",
        "pages": [{"pageNumber": 1, "angle": 0, "width": 8.5, "height": 11, "unit":
        "inch", "words": [{"content": "Con", "boundingBox": [1.0075, 1.0471, 1.2329,
        1.0471, 1.2329, 1.1465, 1.0075, 1.1465], "confidence": 1, "span": {"offset":
        0, "length": 3}}, {"content": "t", "boundingBox": [1.2461, 1.0557, 1.2901,
        1.0557, 1.2901, 1.1464, 1.2461, 1.1464], "confidence": 1, "span": {"offset":
        4, "length": 1}}, {"content": "oso,", "boundingBox": [1.3004, 1.0726, 1.5446,
        1.0726, 1.5446, 1.1669, 1.3004, 1.1669], "confidence": 1, "span": {"offset":
        6, "length": 4}}, {"content": "Ltd.", "boundingBox": [1.601, 1.0413, 1.8111,
        1.0413, 1.8111, 1.1465, 1.601, 1.1465], "confidence": 1, "span": {"offset":
        11, [...]
