interactions:
- request:
    body: 'b''{"modelId": "c3caf25d-3aa8-4cad-980d-6ae6829c12a4"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:authorizeCopy?api-version=2021-09-30-preview
  response:
    body:
      string: '{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
        "targetResourceRegion": "region", "targetModelId": "c3caf25d-3aa8-4cad-980d-6ae6829c12a4",
        "targetModelLocation": "https://region.api.cognitive.microsoft.com//formrecognizer/documentModels/c3caf25d-3aa8-4cad-980d-6ae6829c12a4?api-version=2021-09-30-preview",
        "accessToken": "redacted", "expirationDateTime": "2021-12-13T20:37:36Z"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:authorizeCopy?api-version=2021-09-30-preview
version: 1
