interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/acfd7344-3c7c-4e62-8a50-fcd4f38708f3
    status:
      code: 201
      message: Created
    url: https://westcentralus.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/acfd7344-3c7c-4e62-8a50-fcd4f38708f3?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "acfd7344-3c7c-4e62-8a50-fcd4f38708f3", "status":
        "creating", "createdDateTime": "2020-06-09T21:14:25Z", "lastUpdatedDateTime":
        "2020-06-09T21:14:25Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/acfd7344-3c7c-4e62-8a50-fcd4f38708f3?includeKeys=true
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/acfd7344-3c7c-4e62-8a50-fcd4f38708f3?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "acfd7344-3c7c-4e62-8a50-fcd4f38708f3", "status":
        "ready", "createdDateTime": "2020-06-09T21:14:25Z", "lastUpdatedDateTime":
        "2020-06-09T21:14:33Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/acfd7344-3c7c-4e62-8a50-fcd4f38708f3?includeKeys=true
- request:
    body: null
    headers:
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "fdf32c4d-18f5-4587-bf9e-fc301e24329f", "accessToken":
        "redacted", "expirationDateTimeTicks": 1591823676}'
    headers:
      content-type: application/json; charset=utf-8
      location: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/fdf32c4d-18f5-4587-bf9e-fc301e24329f
    status:
      code: 201
      message: Created
    url: https://westcentralus.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models/copyAuthorization
- request:
    body: 'b''b\''{"targetResourceId": "resource_id", "targetResourceRegion": "eastus",
      "copyAuthorization": {"modelId": "fdf32c4d-18f5-4587-bf9e-fc301e24329f", "accessToken":
      00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks": 1591823676}}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/acfd7344-3c7c-4e62-8a50-fcd4f38708f3/copy
  response:
    body:
      string: ''
    headers:
      operation-location: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/acfd7344-3c7c-4e62-8a50-fcd4f38708f3/copyresults/6429e0aa-d8ff-40d6-94bf-d86e23d3a367
    status:
      code: 202
      message: Accepted
    url: https://westcentralus.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models/acfd7344-3c7c-4e62-8a50-fcd4f38708f3/copy
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/acfd7344-3c7c-4e62-8a50-fcd4f38708f3/copyresults/6429e0aa-d8ff-40d6-94bf-d86e23d3a367
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2020-06-09T21:14:36Z",
        "lastUpdatedDateTime": "2020-06-09T21:14:36Z", "copyResult": {"modelId": "fdf32c4d-18f5-4587-bf9e-fc301e24329f"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/acfd7344-3c7c-4e62-8a50-fcd4f38708f3/copyresults/6429e0aa-d8ff-40d6-94bf-d86e23d3a367
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/acfd7344-3c7c-4e62-8a50-fcd4f38708f3/copyresults/6429e0aa-d8ff-40d6-94bf-d86e23d3a367
  response:
    body:
      string: '{"status": "failed", "createdDateTime": "2020-06-09T21:14:47.8140486Z",
        "lastUpdatedDateTime": "2020-06-09T21:14:47.814049Z", "copyResult": {"modelId":
        "fdf32c4d-18f5-4587-bf9e-fc301e24329f", "errors": [{"code": "AuthorizationError",
        "message": "Could not retrieve authorization metadata. If this issue persists
        use a different target model to copy into."}]}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-cs-error-code: AuthorizationError
    status:
      code: 200
      message: OK
    url: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/acfd7344-3c7c-4e62-8a50-fcd4f38708f3/copyresults/6429e0aa-d8ff-40d6-94bf-d86e23d3a367
version: 1
