interactions:
- request:
    body: 'b''{"source": "https://fakeuri.com/blank%20space"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/00000000-0000-0000-0000-000000000000/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "1001", "message": "Specified model not found or
        not ready, Model Id: 00000000-0000-0000-0000-000000000000"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/00000000-0000-0000-0000-000000000000/analyze?includeTextDetails=false
version: 1
