interactions:
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/invoice/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/invoice/analyzeResults/290c1537-da73-46a0-973a-2dcf239db921
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/invoice/analyzeResults/290c1537-da73-46a0-973a-2dcf239db921
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-09-22T18:56:16Z",
        "lastUpdatedDateTime": "2021-09-22T18:56:20Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 1700, "height":
        2200, "unit": "pixel"}], "pageResults": [{"page": 1, "tables": [{"rows": 3,
        "columns": 5, "cells": [{"rowIndex": 0, "columnIndex": 0, "text": "Invoice
        Number", "boundingBox": [100, 558, 378, 558, 380, 662, 100, 662], "isHeader":
        true}, {"rowIndex": 0, "columnIndex": 1, "text": "Invoice Date", "boundingBox":
        [378, 558, 661, 558, 661, 662, 380, 662], "isHeader": true}, {"rowIndex":
        0, "columnIndex": 2, "text": "Invoice Due Date", "boundingBox": [661, 558,
        941, 558, 941, 662, 661, 662], "isHeader": true}, {"rowIndex": 0, "columnIndex":
        3, "text": "Charges", "boundingBox": [941, 558, 1217, 558, 1219, 662, 941,
        662], "isHeader": true}, {"rowIndex": 0, "columnIndex": 4, "text": "VAT ID",
        "boundingBox": [1217, 558, 1500, 558, 1500, 662, 1219, 662], "isHeader": true},
        {"rowIndex": 1, "columnIndex": 0, "rowSpan": 2, "text": "34278587", "boundingBox":
        [100, 662, 380, 662, 381, 772, 100, 772]}, {"rowIndex": 1, "columnIndex":
        1, "rowSpan": 2, "text": "6/18/2017", "boundingBox": [380, 662, 661, 662,
        661, 772, 381, 772]}, {"rowIndex": 1, "columnIndex": 2, "rowSpan": 2, "text":
        "6/24/2017", "boundingBox": [661, 662, 941, 662, 941, 772, 661, 772]}, {"rowIndex":
        1, "columnIndex": 3, "rowSpan": 2, "text": "$56,651.49", "boundingBox": [941,
        662, 1219, 662, 1220, 772, 941, 772]}, {"rowIndex": 1, "columnIndex": 4, "rowSpan":
        2, "text": "PT", "boundingBox": [1219, 662, 1500, 662, 1500, 769, 1220, 772]}],
        "boundingBox": [100, 556, 1499, 556, 1498, 771, 99, 771]}]}], "documentResults":
        [{"docType": "prebuilt:invoice", "pageRange": [1, 1], "fields": {"CustomerAddress":
        {"type": "string", "valueString": "1020 Enterprise Way Sunnayvale, CA 87659",
        "text": "1020 Enterprise Way Sunnayvale, CA 87659", "boundingBox": [1038,
        338, 1331.1, 338.9, 1330.9, 408.4, 1037.8, 407.5], "page": 1, "confidence":
        0.955}, "CustomerAddressRecipient": {"type": "string", "valueString": "Microsoft",
        "text": "Microsoft", "boundingBox": [1033, 299, 1164, 300, 1165, 326, 1033,
        327], "page": 1, "confidence": 0.981}, "CustomerName": {"type": "string",
        "valueString": "Microsoft", "text": "Microsoft", "boundingBox": [1033, 299,
        1164, 300, 1165, 326, 1033, 327], "page": 1, "confidence": 0.981}, "DueDate":
        {"type": "date", "valueDate": "2017-06-24", "text": "6/24/2017", "boundingBox":
        [668, 679, 789, 679, 790, 705, 667, 705], "page": 1, "confidence": 0.981},
        "InvoiceDate": {"type": "date", "valueDate": "2017-06-18", "text": "6/18/2017",
        "boundingBox": [387, 680, 508, 680, 507, 705, 387, 705], "page": 1, "confidence":
        0.962}, "InvoiceId": {"type": "string", "valueString": "34278587", "text":
        "34278587", "boundingBox": [107, 680, 227, 680, 227, 705, 107, 705], "page":
        1, "confidence": 0.965}, "Items": {"type": "array", "valueArray": [{"type":
        "object", "valueObject": {"Amount": {"type": "number", "valueNumber": 56651.49,
        "text": "$56,651.49", "boundingBox": [1075, 680, 1213, 680, 1213, 706, 1075,
        707], "page": 1, "confidence": 0.802}, "Date": {"type": "date", "valueDate":
        "2017-06-18", "text": "6/18/2017", "boundingBox": [387, 680, 508, 680, 507,
        705, 387, 705], "page": 1, "confidence": 0.436}, "ProductCode": {"type": "string",
        "valueString": "34278587", "text": "34278587", "boundingBox": [107, 680, 227,
        680, 227, 705, 107, 705], "page": 1, "confidence": 0.661}, "Tax": {"type":
        "number", "text": "PT", "boundingBox": [1238, 679, 1277, 679, 1277, 704, 1238,
        705], "page": 1, "confidence": 0.497}}, "text": "34278587 6/18/2017 6/24/2017
        $56,651.49 PT", "boundingBox": [107, 679, 1277, 679, 1277, 707, 107, 707],
        "page": 1, "confidence": 0.538}]}, "VendorAddress": {"type": "string", "valueString":
        "1 Redmond way Suite 6000 Redmond, WA 99243", "text": "1 Redmond way Suite
        6000 Redmond, WA 99243", "boundingBox": [159, 337, 429, 337, 429, 441, 159,
        441], "page": 1, "confidence": 0.953}, "VendorName": {"type": "string", "valueString":
        "Contoso", "text": "Contoso", "boundingBox": [106, 232, 284, 234, 283, 274,
        105, 274], "page": 1, "confidence": 0.981}}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
