interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/3e92f280-e211-4acc-b9a9-8cebe7790fb0
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/3e92f280-e211-4acc-b9a9-8cebe7790fb0?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "3e92f280-e211-4acc-b9a9-8cebe7790fb0", "status":
        "creating", "createdDateTime": "2020-10-30T00:58:11Z", "lastUpdatedDateTime":
        "2020-10-30T00:58:11Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/3e92f280-e211-4acc-b9a9-8cebe7790fb0?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/3e92f280-e211-4acc-b9a9-8cebe7790fb0?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "3e92f280-e211-4acc-b9a9-8cebe7790fb0", "status":
        "ready", "createdDateTime": "2020-10-30T00:58:11Z", "lastUpdatedDateTime":
        "2020-10-30T00:58:34Z"}, "keys": {"clusters": {"0": ["Address:", "Invoice
        For:", "Item", "Price", "Quantity", "Redmond, WA", "Signature:", "Subtotal:",
        "Tax:", "Tip:", "Total:"]}}, "trainResult": {"trainingDocuments": [{"documentName":
        "multipage_invoice1.pdf", "pages": 3, "errors": [], "status": "succeeded"},
        {"documentName": "multipage_invoice2.pdf", "pages": 3, "errors": [], "status":
        "succeeded"}, {"documentName": "multipage_invoice3.pdf", "pages": 3, "errors":
        [], "status": "succeeded"}, {"documentName": "multipage_invoice4.pdf", "pages":
        3, "errors": [], "status": "succeeded"}, {"documentName": "multipage_invoice5.pdf",
        "pages": 3, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/3e92f280-e211-4acc-b9a9-8cebe7790fb0?includeKeys=true
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/3e92f280-e211-4acc-b9a9-8cebe7790fb0/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/3e92f280-e211-4acc-b9a9-8cebe7790fb0/analyzeresults/926ba5d6-8252-44dc-aba7-8267b91a157e
    status:
      code: 202
      message: Accepted
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/custom/models/3e92f280-e211-4acc-b9a9-8cebe7790fb0/analyze?includeTextDetails=false
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/3e92f280-e211-4acc-b9a9-8cebe7790fb0/analyzeresults/926ba5d6-8252-44dc-aba7-8267b91a157e
  response:
    body:
      string: '{"status": "running", "createdDateTime": "2020-10-30T00:58:37Z", "lastUpdatedDateTime":
        "2020-10-30T00:58:38Z", "analyzeResult": null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/3e92f280-e211-4acc-b9a9-8cebe7790fb0/analyzeresults/926ba5d6-8252-44dc-aba7-8267b91a157e
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/3e92f280-e211-4acc-b9a9-8cebe7790fb0/analyzeresults/926ba5d6-8252-44dc-aba7-8267b91a157e
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-10-30T00:58:37Z",
        "lastUpdatedDateTime": "2020-10-30T00:58:49Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 8.5, "height": 11.0,
        "unit": "inch", "lines": []}, {"page": 2, "angle": 0, "width": 8.5, "height":
        11.0, "unit": "inch", "lines": []}, {"page": 3, "angle": 0, "width": 8.5,
        "height": 11.0, "unit": "inch", "lines": []}], "pageResults": [{"page": 1,
        "keyValuePairs": [{"key": {"text": "Invoice For:", "boundingBox": [6.0208,
        1.0668, 7.0361, 1.0668, 7.0361, 1.2122, 6.0208, 1.2122], "elements": null},
        "value": {"text": "Bilbo Baggins 123 Hobbit Lane", "boundingBox": [6.0167,
        1.4532, 7.1, 1.4532, 7.1, 1.7854, 6.0167, 1.7854], "elements": null}, "confidence":
        1.0}, {"key": {"text": "Address:", "boundingBox": [0.8792, 1.4826, 1.5653,
        1.4826, 1.5653, 1.6156, 0.8792, 1.6156], "elements": null}, "value": {"text":
        "567 Main St.", "boundingBox": [0.8847, 1.8467, 1.7125, 1.8467, 1.7125, 1.9556,
        0.8847, 1.9556], "elements": null}, "confidence": 1.0}, {"key": {"text": "Redmond,
        WA", "boundingBox": [6.0167, 1.8923, 6.9792, 1.8923, 6.9792, 2.0233, 6.0167,
        2.0233], "elements": null}, "value": {"text": "555-555-555[...]
