interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/6a491bef-b049-49d8-8603-c7b0624060d9
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/6a491bef-b049-49d8-8603-c7b0624060d9?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"6a491bef-b049-49d8-8603-c7b0624060d9","status":"ready","createdDateTime":"2020-04-30T20:10:42Z","lastUpdatedDateTime":"2020-04-30T20:10:44Z"},"trainResult":{"averageModelAccuracy":0.889,"trainingDocuments":[{"documentName":"multipage_invoice1.pdf","pages":3,"status":"succeeded"},{"documentName":"multipage_invoice2.pdf","pages":3,"status":"succeeded"},{"documentName":"multipage_invoice3.pdf","pages":3,"status":"succeeded"},{"documentName":"multipage_invoice4.pdf","pages":3,"status":"succeeded"},{"documentName":"multipage_invoice5.pdf","pages":3,"status":"succeeded"}],"fields":[{"fieldName":"Customer2","accuracy":1.0},{"fieldName":"CustomerAddress","accuracy":1.0},{"fieldName":"CustomerName","accuracy":1.0},{"fieldName":"CustomerPhoneNumber","accuracy":1.0},{"fieldName":"FirstItem","accuracy":1.0},{"fieldName":"FirstPrice","accuracy":1.0},{"fieldName":"FirstQuantity","accuracy":1.0},{"fieldName":"Merchant","accuracy":0.0},{"fieldName":"Merchant2","accuracy":0.0},{"fieldName":"MerchantAddress","accuracy":1.0},{"fieldName":"MerchantPhoneNumber","accuracy":1.0},{"fieldName":"Signature","accuracy":1.0},{"fieldName":"Signature2","accuracy":1.0},{"fieldName":"Subtotal","accuracy":1.0},{"fieldName":"Tax","accuracy":1.0},{"fieldName":"Tip","accuracy":1.0},{"fieldName":"Total","accuracy":1.0},{"fieldName":"Total2","accuracy":1.0}],"errors":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/6a491bef-b049-49d8-8603-c7b0624060d9/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/6a491bef-b049-49d8-8603-c7b0624060d9/analyzeresults/14e769a4-2bf3-4ee0-8dbe-6a1956499d12
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/6a491bef-b049-49d8-8603-c7b0624060d9/analyzeresults/14e769a4-2bf3-4ee0-8dbe-6a1956499d12
  response:
    body:
      string: '{"status":"notStarted","createdDateTime":"2020-04-30T20:10:51Z","lastUpdatedDateTime":"2020-04-30T20:10:51Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/6a491bef-b049-49d8-8603-c7b0624060d9/analyzeresults/14e769a4-2bf3-4ee0-8dbe-6a1956499d12
  response:
    body:
      string: '{"status":"succeeded","createdDateTime":"2020-04-30T20:10:51Z","lastUpdatedDateTime":"2020-04-30T20:11:03Z","analyzeResult":{"version":"2.0.0","readResults":[{"page":1,"language":"en","angle":0,"width":8.5,"height":11,"unit":"inch"},{"page":2,"language":"en","angle":0,"width":8.4967,"height":10.9967,"unit":"inch"},{"page":3,"language":"en","angle":0,"width":8.5,"height":11,"unit":"inch"}],"pageResults":[{"page":1,"tables":[{"rows":8,"columns":3,"cells":[{"rowIndex":0,"columnIndex":0,"text":"Item","boundingBox":[1.0037,2.9443,3.1681,2.9443,3.1681,3.1543,1.0037,3.1543]},{"rowIndex":0,"columnIndex":1,"text":"Quantity","boundingBox":[3.1681,2.9443,5.3353,2.9443,5.3353,3.1543,3.1681,3.1543]},{"rowIndex":0,"columnIndex":2,"text":"Price","boundingBox":[5.3353,2.9443,7.4997,2.9443,7.4997,3.1543,5.3353,3.1543]},{"rowIndex":1,"columnIndex":0,"text":"A","boundingBox":[1.0037,3.1543,3.1681,3.1543,3.1681,3.3643,1.0037,3.3643]},{"rowIndex":1,"columnIndex":1,"text":"1","boundingBox":[3.1681,3.1543,5.3353,3.1543,5.33[...]
