{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-invoice:analyze?stringIndexType=unicodeCodePoint\u0026api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "urlSource": "https://blob_sas_url"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-invoice/analyzeResults/dd2ecf1a-f4ab-47dc-b5ac-a0e1eb4a3a52?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-invoice/analyzeResults/dd2ecf1a-f4ab-47dc-b5ac-a0e1eb4a3a52?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-06-23T23:52:24Z",
        "lastUpdatedDateTime": "2022-06-23T23:52:27Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-invoice/analyzeResults/dd2ecf1a-f4ab-47dc-b5ac-a0e1eb4a3a52?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-06-23T23:52:24Z",
        "lastUpdatedDateTime": "2022-06-23T23:52:30Z",
        "analyzeResult": {
          "apiVersion": "2022-06-30-preview",
          "modelId": "prebuilt-invoice",
          "stringIndexType": "unicodeCodePoint",
          "content": "Contoso\nAddress:\n1 Redmond way Suite\n6000 Redmond, WA\n99243\nInvoice For: Microsoft\n1020 Enterprise Way\nSunnayvale, CA 87659\nInvoice Number\nInvoice Date\nInvoice Due Date\nCharges\nVAT ID\n34278587\n6/18/2017\n6/24/2017\n$56,651.49\nPT",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 1700,
              "height": 2200,
              "unit": "pixel",
              "words": [
                {
                  "content": "Contoso",
                  "polygon": [
                    108,
                    231,
                    286,
                    233,
                    286,
                    275,
                    106,
                    275
                  ],
                  "confidence": 0.996,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "Address:",
                  "polygon": [
                    159,
                    300,
                    280,
                    301,
                    281,
                    326,
                    159,
                    325
                  ],
                  "confidence": 0.993,
                  "span": {
                    "offset": 8,
                    "length": 8
                [...]
