interactions:
- request:
    body: 'b''{"source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/receipt/contoso-allinone.jpg"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/receipt/analyze?includeTextDetails=false&locale=not%20a%20locale
  response:
    body:
      string: '{"error": {"code": "UnsupportedLocale", "innerError": {"requestId":
        "d63559c8-6e22-4c6a-af97-47f045e6a1bf"}, "message": "Locale unsupported. Supported
        locales include en-AU, en-CA, en-GB, en-IN and en-US."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
