interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/08e63737-da96-48c7-a683-163a477175e0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/08e63737-da96-48c7-a683-163a477175e0?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "08e63737-da96-48c7-a683-163a477175e0", "status":
        "creating", "createdDateTime": "2021-05-11T01:07:59Z", "lastUpdatedDateTime":
        "2021-05-11T01:07:59Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/08e63737-da96-48c7-a683-163a477175e0?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "08e63737-da96-48c7-a683-163a477175e0", "status":
        "ready", "createdDateTime": "2021-05-11T01:07:59Z", "lastUpdatedDateTime":
        "2021-05-11T01:08:17Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Ft Lauderdale, FL Phone:", "Hero Limited", "Name:", "Phone:", "Purchase Order",
        "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped
        From", "Shipped To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:",
        "Website:"]}}, "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "de9ed14b-9801-4f68-a52e-c15694dfbd97", "accessToken":
        "redacted", "expirationDateTimeTicks": 1620781700}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/de9ed14b-9801-4f68-a52e-c15694dfbd97
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
      "targetResourceRegion": "CANADACENTRAL", "copyAuthorization": {"modelId": "de9ed14b-9801-4f68-a52e-c15694dfbd97",
      "accessToken": 00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks":
      1620781700}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/08e63737-da96-48c7-a683-163a477175e0/copy
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/08e63737-da96-48c7-a683-163a477175e0/copyresults/6758998d-4c9e-4fd5-a850-62f7f41c8121
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/08e63737-da96-48c7-a683-163a477175e0/copyresults/6758998d-4c9e-4fd5-a850-62f7f41c8121
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2021-05-11T01:08:20Z",
        "lastUpdatedDateTime": "2021-05-11T01:08:20Z", "copyResult": {"modelId": "de9ed14b-9801-4f68-a52e-c15694dfbd97"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/08e63737-da96-48c7-a683-163a477175e0/copyresults/6758998d-4c9e-4fd5-a850-62f7f41c8121
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-05-11T01:08:27.9964786Z",
        "lastUpdatedDateTime": "2021-05-11T01:08:27.9964788Z", "copyResult": {"modelId":
        "de9ed14b-9801-4f68-a52e-c15694dfbd97"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
