interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - h
      - t
      - t
      - p
      - s
      - ':'
      - /
      - /
      - c
      - e
      - n
      - t
      - r
      - a
      - l
      - u
      - s
      - e
      - u
      - a
      - p
      - .
      - a
      - p
      - i
      - .
      - c
      - o
      - g
      - n
      - i
      - t
      - i
      - v
      - e
      - .
      - m
      - i
      - c
      - r
      - o
      - s
      - o
      - f
      - t
      - .
      - c
      - o
      - m
      - /
      - f
      - o
      - r
      - m
      - r
      - e
      - c
      - o
      - g
      - n
      - i
      - z
      - e
      - r
      - /
      - v
      - '2'
      - .
      - '0'
      - '-'
      - p
      - r
      - e
      - v
      - i
      - e
      - w
      - /
      - c
      - u
      - s
      - t
      - o
      - m
      - /
      - m
      - o
      - d
      - e
      - l
      - s
      - /
      - a
      - f
      - '9'
      - '2'
      - '5'
      - '5'
      - '7'
      - b
      - '-'
      - c
      - '2'
      - '4'
      - '6'
      - '-'
      - '4'
      - '0'
      - b
      - '8'
      - '-'
      - '8'
      - '1'
      - '5'
      - b
      - '-'
      - '4'
      - d
      - f
      - '4'
      - '2'
      - '1'
      - '5'
      - b
      - b
      - '0'
      - '4'
      - '3'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - centraluseuap.api.cognitive.microsoft.com
        - //formrecognizer/v2.0-preview/custom/models
        - ''
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/af92557b-c246-40b8-815b-4df4215bb043?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"af92557b-c246-40b8-815b-4df4215bb043","status":"ready","createdDateTime":"2020-04-11T18:47:46Z","lastUpdatedDateTime":"2020-04-11T18:47:49Z"},"trainResult":{"averageModelAccuracy":0.973,"trainingDocuments":[{"documentName":"Form_1.jpg","pages":1,"status":"succeeded"},{"documentName":"Form_2.jpg","pages":1,"status":"succeeded"},{"documentName":"Form_3.jpg","pages":1,"status":"succeeded"},{"documentName":"Form_4.jpg","pages":1,"status":"succeeded"},{"documentName":"Form_5.jpg","pages":1,"status":"succeeded"}],"fields":[{"fieldName":"CompanyAddress","accuracy":0.8},{"fieldName":"CompanyName","accuracy":1.0},{"fieldName":"CompanyPhoneNumber","accuracy":1.0},{"fieldName":"DatedAs","accuracy":1.0},{"fieldName":"Email","accuracy":0.8},{"fieldName":"Merchant","accuracy":1.0},{"fieldName":"PhoneNumber","accuracy":1.0},{"fieldName":"PurchaseOrderNumber","accuracy":1.0},{"fieldName":"Quantity","accuracy":1.0},{"fieldName":"Signature","accuracy":1.0},{"fieldName":"Subtotal","accuracy":1.0},{"fieldName":"Tax","accuracy":1.0},{"fieldName":"Total","accuracy":1.0},{"fieldName":"VendorName","accuracy":1.0},{"fieldName":"Website","accuracy":1.0}],"errors":[]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - centraluseuap.api.cognitive.microsoft.com
        - /formrecognizer/v2.0-preview/custom/models/af92557b-c246-40b8-815b-4df4215bb043
        - includeKeys=true
        - ''
version: 1
