interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/6734650f-732d-462a-823c-c2841a4368cd
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/6734650f-732d-462a-823c-c2841a4368cd?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "6734650f-732d-462a-823c-c2841a4368cd", "status":
        "creating", "createdDateTime": "2020-10-30T00:27:42Z", "lastUpdatedDateTime":
        "2020-10-30T00:27:42Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/6734650f-732d-462a-823c-c2841a4368cd?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/6734650f-732d-462a-823c-c2841a4368cd?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "6734650f-732d-462a-823c-c2841a4368cd", "status":
        "ready", "createdDateTime": "2020-10-30T00:27:42Z", "lastUpdatedDateTime":
        "2020-10-30T00:27:54Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Ft Lauderdale, FL Phone:", "Hero Limited", "Name:", "Phone:", "Purchase Order",
        "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped
        From", "Shipped To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:",
        "Website:"]}}, "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/6734650f-732d-462a-823c-c2841a4368cd?includeKeys=true
- request:
    body: null
    headers:
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "366a8ce1-3cb4-4877-8776-7acacc002740", "accessToken":
        "redacted", "expirationDateTimeTicks": 1604104078}'
    headers:
      content-type: application/json; charset=utf-8
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/366a8ce1-3cb4-4877-8776-7acacc002740
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/custom/models/copyAuthorization
- request:
    body: 'b''{"targetResourceId": "resource_id", "targetResourceRegion": "centraluseuap",
      "copyAuthorization": {"modelId": "366a8ce1-3cb4-4877-8776-7acacc002740", "accessToken":
      00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks": 1604104078}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/00000000-0000-0000-0000-000000000000/copy
  response:
    body:
      string: '{"error": {"code": "429", "message": "Requests to the Custom Form Model
        Management - Copy Custom Model Operation under Form Recognizer API (v2.1-preview.2)
        have exceeded rate limit of your current FormRecognizer S0 pricing tier. Please
        retry after 3 seconds. Please contact Azure support service if you would like
        to further increase the default rate limit."}}'
    headers:
      content-type: application/json
    status:
      code: 429
      message: Too Many Requests
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/custom/models/00000000-0000-0000-0000-000000000000/copy
- request:
    body: 'b''{"targetResourceId": "resource_id", "targetResourceRegion": "centraluseuap",
      "copyAuthorization": {"modelId": "366a8ce1-3cb4-4877-8776-7acacc002740", "accessToken":
      00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks": 1604104078}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/00000000-0000-0000-0000-000000000000/copy
  response:
    body:
      string: '{"error": {"code": "1022", "message": "Model with ''id=00000000-0000-0000-0000-000000000000''
        not found."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/custom/models/00000000-0000-0000-0000-000000000000/copy
version: 1
