interactions:
- request:
    body: '!!! The request body has been omitted from the recording because its size
      154512 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - image/jpeg
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/receipt/analyze?includeTextDetails=false&locale=en-IN
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/receipt/analyzeResults/0d57b4be-0cd8-4689-a1f9-446f94bb702d
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/receipt/analyze?includeTextDetails=false&locale=en-IN
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/receipt/analyzeResults/0d57b4be-0cd8-4689-a1f9-446f94bb702d
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-03-03T19:20:48Z",
        "lastUpdatedDateTime": "2021-03-03T19:20:50Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0.1273, "width": 1688, "height":
        3000, "unit": "pixel"}], "documentResults": [{"docType": "prebuilt:receipt",
        "pageRange": [1, 1], "fields": {"ReceiptType": {"type": "string", "valueString":
        "Itemized", "confidence": 0.99}, "MerchantName": {"type": "string", "valueString":
        "Contoso Contoso", "text": "Contoso Contoso", "boundingBox": [380.9, 282.9,
        1116, 473.2, 1025, 824.4, 290, 634], "page": 1, "confidence": 0.769}, "MerchantAddress":
        {"type": "string", "valueString": "123 Main Street Redmond, WA 98052", "text":
        "123 Main Street Redmond, WA 98052", "boundingBox": [298.3, 676.5, 844.6,
        781.5, 810.7, 958, 264.4, 853], "page": 1, "confidence": 0.99}, "MerchantPhoneNumber":
        {"type": "phoneNumber", "valuePhoneNumber": "+919876543210", "text": "987-654-3210",
        "boundingBox": [271, 1000, 651, 1049, 643, 1125, 264, 1075], "page": 1, "confidence":
        0.995}, "TransactionDate": {"type": "date", "valueDate": "2019-10-06", "text":
        "6/10/2019", "boundingBox": [259, 1224, 510, 1246, 505, 1331, 255, 1312],
        "page": 1, "confidence": 0.995}, "TransactionTime": {"type": "time", "valueTime":
        "13:59:00", "text": "13:59", "boundingBox": [527, 1248, 681, 1262, 675, 1341,
        522, 1332], "page": 1, "confidence": 0.995}, "Items": {"type": "array", "valueArray":
        [{"type": "object", "valueObject": {"Quantity": {"type": "number", "valueNumber":
        1, "text": "1", "boundingBox": [244, 1581, 288, 1584, 285, 1678, 241, 1675],
        "page": 1, "confidence": 0.936}, "Name": {"type": "string", "valueString":
        "Cappuccino", "text": "Cappuccino", "boundingBox": [306, 1585, 658, 1598,
        657, 1688, 304, 1679], "page": 1, "confidence": 0.976}, "TotalPrice": {"type":
        "number", "valueNumber": 2.2, "text": "$2.20", "boundingBox": [1106, 1579,
        1260, 1574, 1263, 1656, 1108, 1662], "page": 1, "confidence": 0.988}}}, {"type":
        "object", "valueObject": {"Quantity": {"type": "number", "valueNumber": 1,
        "text": "1", "boundingBox": [227, 1839, 278, 1839, 277, 1924, 226, 1924],
        "page": 1, "confidence": 0.882}, "Name": {"type": "string", "valueString":
        "BACON & EGGS Sunny-side-up", "text": "BACON & EGGS Sunny-side-up", "boundingBox":
        [294, 1839, 757, 1839, 757, 2064, 294, 2064], "page": 1, "confidence": 0.506},
        "TotalPrice": {"type": "number", "valueNumber": 9.5, "text": "$9.5", "boundingBox":
        [1134, 1948, 1252, 1948, 1252, 2041, 1134, 2041], "page": 1, "confidence":
        0.987}}}]}, "Tax": {"type": "number", "valueNumber": 1.17, "text": "1.17",
        "boundingBox": [1186, 2356, 1307, 2361, 1303, 2452, 1182, 2447], "page": 1,
        "confidence": 0.994}, "Total": {"type": "number", "valueNumber": 14.5, "text":
        "$14.50", "boundingBox": [1033, 2623, 1376, 2641, 1370, 2758, 1027, 2740],
        "page": 1, "confidence": 0.988}, "Subtotal": {"type": "number", "valueNumber":
        11.7, "text": "11.70", "boundingBox": [1139, 2228, 1309, 2228, 1308, 2313,
        1138, 2313], "page": 1, "confidence": 0.269}}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/receipt/analyzeResults/0d57b4be-0cd8-4689-a1f9-446f94bb702d
version: 1
