interactions:
- request:
    body: 'b''{"source": "https://fakeuri.com/blank%20space", "sourceFilter": {"prefix":
      "", "includeSubFolders": false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: upstream request timeout
    headers:
      content-type: text/plain
    status:
      code: 504
      message: Gateway Timeout
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
[...]
- request:
    body: 'b''{"source": "https://fakeuri.com/blank%20space", "sourceFilter": {"prefix":
      "", "includeSubFolders": false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: upstream request timeout
    headers:
      content-type: text/plain
    status:
      code: 504
      message: Gateway Timeout
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
version: 1
