interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/880bf152-b00a-4748-b50b-c67e25df09fc
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/880bf152-b00a-4748-b50b-c67e25df09fc?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"880bf152-b00a-4748-b50b-c67e25df09fc","status":"creating","createdDateTime":"2020-04-30T23:19:32Z","lastUpdatedDateTime":"2020-04-30T23:19:32Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/880bf152-b00a-4748-b50b-c67e25df09fc?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"880bf152-b00a-4748-b50b-c67e25df09fc","status":"ready","createdDateTime":"2020-04-30T23:19:32Z","lastUpdatedDateTime":"2020-04-30T23:19:43Z"},"keys":{"clusters":{"0":["Address:","Invoice
        For:","Redmond, WA","Signature:","Subtotal:","Tax:","Tip:","Total:"]}},"trainResult":{"trainingDocuments":[{"documentName":"multipage_invoice1.pdf","pages":3,"errors":[],"status":"succeeded"},{"documentName":"multipage_invoice2.pdf","pages":3,"errors":[],"status":"succeeded"},{"documentName":"multipage_invoice3.pdf","pages":3,"errors":[],"status":"succeeded"},{"documentName":"multipage_invoice4.pdf","pages":3,"errors":[],"status":"succeeded"},{"documentName":"multipage_invoice5.pdf","pages":3,"errors":[],"status":"succeeded"}],"errors":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/880bf152-b00a-4748-b50b-c67e25df09fc/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/880bf152-b00a-4748-b50b-c67e25df09fc/analyzeresults/420f94b0-37f4-48b4-aaae-867c7c46dc99
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/880bf152-b00a-4748-b50b-c67e25df09fc/analyzeresults/420f94b0-37f4-48b4-aaae-867c7c46dc99
  response:
    body:
      string: '{"status":"succeeded","createdDateTime":"2020-04-30T23:19:51Z","lastUpdatedDateTime":"2020-04-30T23:19:55Z","analyzeResult":{"version":"2.0.0","readResults":[{"page":1,"angle":0,"width":8.5,"height":11.0,"unit":"inch","lines":[]},{"page":3,"angle":0,"width":8.5,"height":11.0,"unit":"inch","lines":[]}],"pageResults":[{"page":1,"keyValuePairs":[{"key":{"text":"Invoice
        For:","boundingBox":[6.0028,1.0431,7.0528,1.0431,7.0528,1.2667,6.0028,1.2667],"elements":null},"value":{"text":"Bilbo
        Baggins 123 Hobbit Lane","boundingBox":[6.0028,1.4389,7.1083,1.4389,7.1083,1.8264,6.0028,1.8264],"elements":null},"confidence":1.0},{"key":{"text":"Address:","boundingBox":[0.8764,1.4681,1.5778,1.4681,1.5778,1.6625,0.8764,1.6625],"elements":null},"value":{"text":"567
        Main St.","boundingBox":[0.8764,1.8292,1.725,1.8292,1.725,1.9958,0.8764,1.9958],"elements":null},"confidence":1.0},{"key":{"text":"Redmond,
        WA","boundingBox":[6.0028,1.8792,6.9819,1.8792,6.9819,2.0458,6.0028,2.0458],"elements":null},"value":{"text":"555-555-5555","boundingBox":[6.0028,2.0986,6.9472,2.0986,6.9472,2.2653,6.0028,2.2653],"elemen[...]
