interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/39fb8ad8-9e3c-4695-b6fe-17c208381040
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/39fb8ad8-9e3c-4695-b6fe-17c208381040?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "39fb8ad8-9e3c-4695-b6fe-17c208381040", "status":
        "creating", "createdDateTime": "2021-03-11T17:57:03Z", "lastUpdatedDateTime":
        "2021-03-11T17:57:03Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/39fb8ad8-9e3c-4695-b6fe-17c208381040?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/39fb8ad8-9e3c-4695-b6fe-17c208381040?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "39fb8ad8-9e3c-4695-b6fe-17c208381040", "status":
        "ready", "createdDateTime": "2021-03-11T17:57:03Z", "lastUpdatedDateTime":
        "2021-03-11T17:57:54Z"}, "keys": {"clusters": {"0": ["1 Redmond way Suite",
        "Address:", "Charges", "Contoso", "Invoice Date", "Invoice Due Date", "Invoice
        For:", "Invoice Number", "VAT ID"], "1": ["Elemento", "Imposta:", "Prezzo",
        "Quantit\u00e0", "Suggerimento:", "Totale parziale:", "Totale:"], "2": ["Address:",
        "Article", "Bilbo Baggins", "Conseil:", "Invoice For:", "Item", "Price", "Prix",
        "Quantity", "Quantit\u00e9", "Redmond, WA", "Signature:", "Sous-total:", "Subtotal:",
        "Tax:", "Tip:", "Total:"], "3": ["Dica:", "Imposto:", "Item", "Pre\u00e7o",
        "Quantidade", "Subtotal:", "Total:"], "4": ["Art\u00edculo", "Cantidad", "Consejo:",
        "Impuesto:", "Precio", "Subtotal:", "Total:"], "5": ["Artikel", "Gesamt:",
        "Menge", "Preis", "Steuer:", "Tipp:", "Zwischensumme:"], "6": ["Belasting:",
        "Hoeveelheid", "Item", "Prijs", "Subtotaal:", "Tip:", "Totaal:"], "7": ["12
        RESTR:", "15 SEX:", "16 HGT:", "18 EYES:", "3 DOB:", "4alsS:", "4b EXP:",
        "4d DLN:", "9 CLASS:", "9a END:", "DUPS:"], "8": ["Total:"], "9": [], "10":
        ["Sales Associate:"], "11": [], "12": ["fax:", "mob:", "tel:"], "13": ["09
        / 21 in the amount of:", "650-768-2322 or e-mail to:", "Card Type:", "City:",
        "Email Address:", "Mailing Address:", "Name of Cardholder:", "Purpose of Payment:",
        "STATE OF CALIFORNIA:", "Signature:", "State:", "Zip Code:", "form. Telephone
        #:", "to charge my:"], "14": ["Address:", "Company Name:", "Company Phone:",
        "Dated As:", "Details", "Name:", "Phone:", "Purchase Order #:", "Quantity",
        "Total", "Unit Price", "Vendor Name:", "Website:"], "15": ["Division", "Quarterly
        Sales Update:", "Region", "Sales Team", "Units Shipped (Thousands)", "YOY"],
        "16": [], "17": ["Included", "Package", "Price", "Vendor #:", "below, and
        attach a check made out to:"], "18": ["Company Name:", "Contact:", "Preferred
        Package:", "Special Requests:", "Vendor #:"], "19": ["fax:", "mob:", "tel:"],
        "20": ["Sales Associate:"]}}, "trainResult": {"trainingDocuments": [{"documentName":
        "Document%1.pdf", "pages": 2, "errors": [], "status": "succeeded"}, {"documentName":
        "Form_1.jpg", "pages": 1, "errors": [], "status": "succeeded"}, {"documentName":
        "Invoice_1.pdf", "pages": 1, "errors": [], "status": "succeeded"}, {"documentName":
        "Invoice_1.tiff", "pages": 1, "errors": [], "status": "succeeded"}, {"documentName":
        "Invoice_6.pdf", "pages": 1, "errors": [], "status": "succeeded"}, {"documentName":
        "blank.pdf", "pages": 1, "errors": [], "status": "succeeded"}, {"documentName":
[...]
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/39fb8ad8-9e3c-4695-b6fe-17c208381040/analyze?includeTextDetails=false&pages=1
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/39fb8ad8-9e3c-4695-b6fe-17c208381040/analyzeresults/8df403cc-038e-4b07-880b-45b7efaff893
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/39fb8ad8-9e3c-4695-b6fe-17c208381040/analyze?includeTextDetails=false&pages=1
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/39fb8ad8-9e3c-4695-b6fe-17c208381040/analyzeresults/8df403cc-038e-4b07-880b-45b7efaff893
  response:
    body:
      string: '{"status": "running", "createdDateTime": "2021-03-11T17:58:00Z", "lastUpdatedDateTime":
        "2021-03-11T17:58:01Z", "analyzeResult": null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/39fb8ad8-9e3c-4695-b6fe-17c208381040/analyzeresults/8df403cc-038e-4b07-880b-45b7efaff893
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/39fb8ad8-9e3c-4695-b6fe-17c208381040/analyzeresults/8df403cc-038e-4b07-880b-45b7efaff893
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-03-11T17:58:00Z",
        "lastUpdatedDateTime": "2021-03-11T17:58:13Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 8.5, "height": 11.0,
        "unit": "inch", "lines": [], "selectionMarks": null}], "pageResults": [{"page":
        1, "keyValuePairs": [{"key": {"text": "Vendor #:", "boundingBox": [6.1278,
        1.0652, 7.1264, 1.0652, 7.1264, 1.2612, 6.1278, 1.2612], "elements": null},
        "value": {"text": "121", "boundingBox": [7.1264, 1.0625, 7.4792, 1.0625, 7.4792,
        1.2639, 7.1264, 1.2639], "elements": null}, "confidence": 1.0}, {"key": {"text":
        "below, and attach a check made out to:", "boundingBox": [0.9889, 3.2278,
        3.6778, 3.2278, 3.6778, 3.3958, 0.9889, 3.3958], "elements": null}, "value":
        {"text": "Contoso Ltd. 2345 Dogwood Lane Birch, Kansas 98123", "boundingBox":
        [0.9931, 3.5729, 2.375, 3.5729, 2.375, 4.1541, 0.9931, 4.1541], "elements":
        null}, "confidence": 1.0}], "tables": [{"rows": 6, "columns": 3, "boundingBox":
        [1.0694, 4.6806, 6.2917, 4.6806, 6.2917, 8.875, 1.0694, 8.875], "cells": [{"text":
        "Package", "rowIndex": 0, "columnIndex": 0, "boundingBox": [1.0722, 4.6944,
        1.6278, 4.6944, 1.6278, 4.8438, 1.0722, 4.8438], "confidence": 0.0, "rowSpan":
        1, "columnSpan": 1, "elements": null, "isHeader": true, "isFooter": false},
        {"text": "Included", "rowIndex": 0, "columnIndex": 1, "boundingBox": [2.6944,
        4.6806, 3.2708, 4.6806, 3.2708, 4.8438, 2.6944, 4.8438], "confidence": 0.0,
        "rowSpan": 1, "columnSpan": 1, "elements": null, "isHeader": true, "isFooter":
        false}, {"text": "Price", "rowIndex": 0, "columnIndex": 2, "boundingBox":
        [5.8222, 4.691, 6.1417, 4.691, 6.1417, 4.816, 5.8222, 4.816], "confidence":
        0.0, "rowSpan": 1, "columnSpan": 1, "elements": null, "isHea[...]
