interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/e04176f5-456c-402e-96d0-d5a3d46f7794
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/e04176f5-456c-402e-96d0-d5a3d46f7794?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "e04176f5-456c-402e-96d0-d5a3d46f7794", "status":
        "creating", "createdDateTime": "2021-03-18T15:57:08Z", "lastUpdatedDateTime":
        "2021-03-18T15:57:08Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/e04176f5-456c-402e-96d0-d5a3d46f7794?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/e04176f5-456c-402e-96d0-d5a3d46f7794?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "e04176f5-456c-402e-96d0-d5a3d46f7794", "status":
        "ready", "createdDateTime": "2021-03-18T15:57:08Z", "lastUpdatedDateTime":
        "2021-03-18T15:57:31Z"}, "keys": {"clusters": {"0": ["Contoso Ltd. Conference
        will be held on May 28-29, 2020 at the Elm Conference Center in", "Included",
        "Maple City, Massachusetts. The conference has sold out of its 1,500 tickets,
        with a 400 person", "Package", "Price", "Rates:", "Vendor #:", "Vendor Registration",
        "below, and attach a check made out to:", "waitlist. Vendor applications are
        being accepted through Feb 28, 2020. Please fill in the form"], "1": ["Company
        Name:", "Contact:", "Preferred Package:", "Special Requests:", "Vendor #:",
        "Vendor Details:"]}}, "trainResult": {"trainingDocuments": [{"documentName":
        "multi1.pdf", "pages": 2, "errors": [], "status": "succeeded"}, {"documentName":
        "multi2.pdf", "pages": 2, "errors": [], "status": "succeeded"}, {"documentName":
        "multi3.pdf", "pages": 2, "errors": [], "status": "succeeded"}, {"documentName":
        "multi4.pdf", "pages": 2, "errors": [], "status": "succeeded"}, {"documentName":
        "multi5.pdf", "pages": 2, "errors": [], "status": "succeeded"}], "errors":
        []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/e04176f5-456c-402e-96d0-d5a3d46f7794?includeKeys=true
version: 1
