interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a81575ae-1e9f-4622-95df-2fd6e9fbacf2
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a81575ae-1e9f-4622-95df-2fd6e9fbacf2?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "a81575ae-1e9f-4622-95df-2fd6e9fbacf2", "status":
        "creating", "createdDateTime": "2020-06-11T15:42:03Z", "lastUpdatedDateTime":
        "2020-06-11T15:42:03Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a81575ae-1e9f-4622-95df-2fd6e9fbacf2?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a81575ae-1e9f-4622-95df-2fd6e9fbacf2?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "a81575ae-1e9f-4622-95df-2fd6e9fbacf2", "status":
        "ready", "createdDateTime": "2020-06-11T15:42:03Z", "lastUpdatedDateTime":
        "2020-06-11T15:42:19Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a81575ae-1e9f-4622-95df-2fd6e9fbacf2?includeKeys=true
- request:
    body: null
    headers:
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "cc78c414-dff7-4576-be60-97b2f7edd30d", "accessToken":
        "redacted", "expirationDateTimeTicks": 1591976545}'
    headers:
      content-type: application/json; charset=utf-8
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/cc78c414-dff7-4576-be60-97b2f7edd30d
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models/copyAuthorization
- request:
    body: 'b''b\''{"targetResourceId": "resource_id", "targetResourceRegion": "centraluseuap",
      "copyAuthorization": {"modelId": "cc78c414-dff7-4576-be60-97b2f7edd30d", "accessToken":
      00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks": 1591976545}}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a81575ae-1e9f-4622-95df-2fd6e9fbacf2/copy
  response:
    body:
      string: ''
    headers:
      operation-location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a81575ae-1e9f-4622-95df-2fd6e9fbacf2/copyresults/c79d0ebc-dc4a-4389-a92b-a7f9db632842
    status:
      code: 202
      message: Accepted
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models/a81575ae-1e9f-4622-95df-2fd6e9fbacf2/copy
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a81575ae-1e9f-4622-95df-2fd6e9fbacf2/copyresults/c79d0ebc-dc4a-4389-a92b-a7f9db632842
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2020-06-11T15:42:25Z",
        "lastUpdatedDateTime": "2020-06-11T15:42:25Z", "copyResult": {"modelId": "cc78c414-dff7-4576-be60-97b2f7edd30d"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a81575ae-1e9f-4622-95df-2fd6e9fbacf2/copyresults/c79d0ebc-dc4a-4389-a92b-a7f9db632842
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a81575ae-1e9f-4622-95df-2fd6e9fbacf2/copyresults/c79d0ebc-dc4a-4389-a92b-a7f9db632842
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-06-11T15:42:31.4341575Z",
        "lastUpdatedDateTime": "2020-06-11T15:42:31.4341578Z", "copyResult": {"modelId":
        "cc78c414-dff7-4576-be60-97b2f7edd30d"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a81575ae-1e9f-4622-95df-2fd6e9fbacf2/copyresults/c79d0ebc-dc4a-4389-a92b-a7f9db632842
version: 1
