{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "1a09d397-ac19-4785-9435-a184268f0f98",
        "description": "model1",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31523110146_1549aa36-48c1-462d-885c-065f47a20c7a?api-version=2022-01-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31523110146_1549aa36-48c1-462d-885c-065f47a20c7a?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31523110146_1549aa36-48c1-462d-885c-065f47a20c7a",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2022-01-27T04:30:53Z",
        "lastUpdatedDateTime": "2022-01-27T04:30:59Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/1a09d397-ac19-4785-9435-a184268f0f98?api-version=2022-01-30-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "1a09d397-ac19-4785-9435-a184268f0f98": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.95,
                "CompanyPhoneNumber": 0.95,
                "DatedAs": 0.95,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.95,
                "PhoneNumber": 0.95,
                "PurchaseOrderNumber": 0.95,
                "Quantity": 0.95,
                "Signature": 0.95,
                "Subtotal": 0.95,
                "Tax": 0.95,
                "Total": 0.95,
                "VendorName": 0.95,
                "Website": 0.95
              }
            }
          },
          "modelId": "1a09d397-ac19-4785-9435-a184268f0f98",
          "createdDateTime": "2022-01-27T04:30:58Z",
          "apiVersion": "2022-01-30-preview",
          "description": "model1"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:compose?api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "61bd53b6-e30f-4cf8-8c89-ace42b9090a4",
        "description": "my composed model",
        "componentModels": [
          {
            "modelId": "1a09d397-ac19-4785-9435-a184268f0f98"
          },
          {
            "modelId": "78174af1-8d5c-4b31-a38d-088aa6bea671"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31523110131_a88fc940-bbcd-4a6b-9374-f7ebab826d28?api-version=2022-01-30-preview"
      },
      "ResponseBody": null
    },
[...]
