interactions:
- request:
    body: 'b''{"modelId": "16588fc8-ec0b-433b-b06a-5ae76544b6d6", "azureBlobSource":
      {"containerUrl": "container_sas_url"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534637263_a5b48501-dafa-4e2e-ab73-359a7b9e4857?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534637263_a5b48501-dafa-4e2e-ab73-359a7b9e4857?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31534637263_a5b48501-dafa-4e2e-ab73-359a7b9e4857",
        "kind": "documentModelBuild", "status": "succeeded", "createdDateTime": "2021-09-15T18:32:16Z",
        "lastUpdatedDateTime": "2021-09-15T18:32:20Z", "resourceLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/16588fc8-ec0b-433b-b06a-5ae76544b6d6?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"16588fc8-ec0b-433b-b06a-5ae76544b6d6":
        {"fieldSchema": {"Merchant": {"type": "string"}, "PhoneNumber": {"type": "string"},
        "Website": {"type": "string"}, "Email": {"type": "string"}, "PurchaseOrderNumber":
        {"type": "string"}, "DatedAs": {"type": "string"}, "VendorName": {"type":
        "string"}, "CompanyName": {"type": "string"}, "CompanyAddress": {"type": "string"},
        "CompanyPhoneNumber": {"type": "string"}, "Subtotal": {"type": "string"},
        "Tax": {"type": "string"}, "Total": {"type": "string"}, "Signature": {"type":
        "string"}, "Quantity": {"type": "number"}}, "fieldConfidence": {"CompanyAddress":
        0.8, "CompanyName": 0.95, "CompanyPhoneNumber": 0.95, "DatedAs": 0.95, "Email":
        0.8, "Merchant": 0.95, "PhoneNumber": 0.95, "PurchaseOrderNumber": 0.95, "Quantity":
        0.95, "Signature": 0.6, "Subtotal": 0.95, "Tax": 0.95, "Total": 0.95, "VendorName":
        0.95, "Website": 0.95}}}, "modelId": "16588fc8-ec0b-433b-b06a-5ae76544b6d6",
        "createdDateTime": "2021-09-15T18:32:20Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534637263_a5b48501-dafa-4e2e-ab73-359a7b9e4857?api-version=2021-09-30-preview
- request:
    body: 'b''{"modelId": "bf71f57c-acb0-4d19-ab5b-2c70311df63b"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:authorizeCopy?api-version=2021-09-30-preview
  response:
    body:
      string: '{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
        "targetResourceRegion": "region", "targetModelId": "bf71f57c-acb0-4d19-ab5b-2c70311df63b",
        "targetModelLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/bf71f57c-acb0-4d19-ab5b-2c70311df63b?api-version=2021-09-30-preview",
        "accessToken": "redacted", "expirationDateTime": "2021-09-15T19:32:25Z"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:authorizeCopy?api-version=2021-09-30-preview
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
      "targetResourceRegion": "region", "targetModelId": "bf71f57c-acb0-4d19-ab5b-2c70311df63b",
      "targetModelLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/bf71f57c-acb0-4d19-ab5b-2c70311df63b?api-version=2021-09-30-preview",
      "accessToken": 00000000-0000-0000-0000-000000000000, "expirationDateTime": "2021-09-15T19:32:25.000Z"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/16588fc8-ec0b-433b-b06a-5ae76544b6d6:copyTo?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534637254_4ca32663-90d4-4d18-af20-877d578b300c?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/16588fc8-ec0b-433b-b06a-5ae76544b6d6:copyTo?api-version=2021-09-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534637254_4ca32663-90d4-4d18-af20-877d578b300c?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31534637254_4ca32663-90d4-4d18-af20-877d578b300c",
        "kind": "documentModelCopyTo", "status": "succeeded", "createdDateTime": "2021-09-15T18:32:25Z",
        "lastUpdatedDateTime": "2021-09-15T18:32:26Z", "resourceLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/bf71f57c-acb0-4d19-ab5b-2c70311df63b?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"bf71f57c-acb0-4d19-ab5b-2c70311df63b":
        {"fieldSchema": {"Merchant": {"type": "string"}, "PhoneNumber": {"type": "string"},
        "Website": {"type": "string"}, "Email": {"type": "string"}, "PurchaseOrderNumber":
        {"type": "string"}, "DatedAs": {"type": "string"}, "VendorName": {"type":
        "string"}, "CompanyName": {"type": "string"}, "CompanyAddress": {"type": "string"},
        "CompanyPhoneNumber": {"type": "string"}, "Subtotal": {"type": "string"},
        "Tax": {"type": "string"}, "Total": {"type": "string"}, "Signature": {"type":
        "string"}, "Quantity": {"type": "number"}}, "fieldConfidence": {"CompanyAddress":
        0.8, "CompanyName": 0.95, "CompanyPhoneNumber": 0.95, "DatedAs": 0.95, "Email":
        0.8, "Merchant": 0.95, "PhoneNumber": 0.95, "PurchaseOrderNumber": 0.95, "Quantity":
        0.95, "Signature": 0.6, "Subtotal": 0.95, "Tax": 0.95, "Total": 0.95, "VendorName":
        0.95, "Website": 0.95}}}, "modelId": "bf71f57c-acb0-4d19-ab5b-2c70311df63b",
        "createdDateTime": "2021-09-15T18:32:20Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534637254_4ca32663-90d4-4d18-af20-877d578b300c?api-version=2021-09-30-preview
version: 1
