interactions:
- request:
    body: 'b''{"source": "https://badurl.jpg"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/prebuilt/receipt/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "FailedToDownloadImage", "innerError": {"requestId":
        "93c4c014-e852-482a-b904-3917a67f1423"}, "message": "Failed to download image
        from input URL."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.1/prebuilt/receipt/analyze?includeTextDetails=false
version: 1
