interactions:
- request:
    body: 'b''{"source": "https://badurl.jpg"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "FailedToDownloadImage", "innerError": {"requestId":
        "9c816f06-e0d7-4e50-9073-bc769ada4fbb"}, "message": "Failed to download image
        from input URL."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/idDocument/analyze?includeTextDetails=false
version: 1
