interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/06b44e8a-526c-4174-9a7c-8f651386ad1b
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/06b44e8a-526c-4174-9a7c-8f651386ad1b?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "06b44e8a-526c-4174-9a7c-8f651386ad1b", "status":
        "creating", "createdDateTime": "2021-05-11T01:54:53Z", "lastUpdatedDateTime":
        "2021-05-11T01:54:53Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/06b44e8a-526c-4174-9a7c-8f651386ad1b?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/06b44e8a-526c-4174-9a7c-8f651386ad1b?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "06b44e8a-526c-4174-9a7c-8f651386ad1b", "status":
        "ready", "createdDateTime": "2021-05-11T01:54:53Z", "lastUpdatedDateTime":
        "2021-05-11T01:55:07Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Ft Lauderdale, FL Phone:", "Hero Limited", "Name:", "Phone:", "Purchase Order",
        "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped
        From", "Shipped To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:",
        "Website:"]}}, "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/06b44e8a-526c-4174-9a7c-8f651386ad1b?includeKeys=true
- request:
    body: '!!! The request body has been omitted from the recording because its size
      479269 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - image/jpeg
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/06b44e8a-526c-4174-9a7c-8f651386ad1b/analyze?includeTextDetails=false&pages=1
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/06b44e8a-526c-4174-9a7c-8f651386ad1b/analyzeresults/604aa401-8c6c-459f-9186-52cfaca42b1a
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/06b44e8a-526c-4174-9a7c-8f651386ad1b/analyze?includeTextDetails=false&pages=1
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/06b44e8a-526c-4174-9a7c-8f651386ad1b/analyzeresults/604aa401-8c6c-459f-9186-52cfaca42b1a
  response:
    body:
      string: '{"status": "running", "createdDateTime": "2021-05-11T01:55:11Z", "lastUpdatedDateTime":
        "2021-05-11T01:55:11Z", "analyzeResult": null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/06b44e8a-526c-4174-9a7c-8f651386ad1b/analyzeresults/604aa401-8c6c-459f-9186-52cfaca42b1a
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/06b44e8a-526c-4174-9a7c-8f651386ad1b/analyzeresults/604aa401-8c6c-459f-9186-52cfaca42b1a
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-05-11T01:55:11Z",
        "lastUpdatedDateTime": "2021-05-11T01:55:16Z", "analyzeResult": {"version":
        null, "readResults": [{"page": 1, "angle": 0, "width": 1700, "height": 2200,
        "unit": "pixel", "lines": [], "selectionMarks": null}], "pageResults": [{"page":
        1, "keyValuePairs": [{"key": {"text": "Company Phone:", "boundingBox": [163,
        352, 359, 352, 359, 378, 163, 378], "elements": null}, "value": {"text": "555-348-6512",
        "boundingBox": [364, 351, 528, 351, 528, 378, 364, 378], "elements": null},
        "confidence": 1.0}, {"key": {"text": "Website:", "boundingBox": [167, 394,
        269, 394, 269, 417, 167, 417], "elements": null}, "value": {"text": "www.herolimited.com",
        "boundingBox": [273, 393, 531, 393, 531, 418, 273, 418], "elements": null},
        "confidence": 1.0}, {"key": {"text": "Email:", "boundingBox": [165, 435, 237,
        435, 237, 460, 165, 460], "elements": null}, "value": {"text": "accounts@herolimited.com",
        "boundingBox": [164, 481, 479, 481, 479, 503, 164, 503], "elem[...]
