interactions:
- request:
    body: 'b''{"modelId": "1cce1523-b161-45ad-8fc4-1663237c93c2", "description": "model1",
      "azureBlobSource": {"containerUrl": "container_sas_url"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534642449_33a628d8-df5c-48ab-bb9b-25b83ad2d939?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534642449_33a628d8-df5c-48ab-bb9b-25b83ad2d939?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31534642449_33a628d8-df5c-48ab-bb9b-25b83ad2d939",
        "kind": "documentModelBuild", "status": "succeeded", "createdDateTime": "2021-09-15T17:05:51Z",
        "lastUpdatedDateTime": "2021-09-15T17:05:55Z", "resourceLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/1cce1523-b161-45ad-8fc4-1663237c93c2?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"1cce1523-b161-45ad-8fc4-1663237c93c2":
        {"fieldSchema": {"Merchant": {"type": "string"}, "PhoneNumber": {"type": "string"},
        "Website": {"type": "string"}, "Email": {"type": "string"}, "PurchaseOrderNumber":
        {"type": "string"}, "DatedAs": {"type": "string"}, "VendorName": {"type":
        "string"}, "CompanyName": {"type": "string"}, "CompanyAddress": {"type": "string"},
        "CompanyPhoneNumber": {"type": "string"}, "Subtotal": {"type": "string"},
        "Tax": {"type": "string"}, "Total": {"type": "string"}, "Signature": {"type":
        "string"}, "Quantity": {"type": "number"}}, "fieldConfidence": {"CompanyAddress":
        0.8, "CompanyName": 0.95, "CompanyPhoneNumber": 0.95, "DatedAs": 0.95, "Email":
        0.8, "Merchant": 0.95, "PhoneNumber": 0.95, "PurchaseOrderNumber": 0.95, "Quantity":
        0.95, "Signature": 0.6, "Subtotal": 0.95, "Tax": 0.95, "Total": 0.95, "VendorName":
        0.95, "Website": 0.95}}}, "modelId": "1cce1523-b161-45ad-8fc4-1663237c93c2",
        "createdDateTime": "2021-09-15T17:05:55Z", "description": "model1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"modelId": "ab7be249-9ac1-4766-8712-2518417aba30", "description": "my
      composed model", "componentModels": [{"modelId": "1cce1523-b161-45ad-8fc4-1663237c93c2"},
      {"modelId": "0159d78d-1a32-4fda-b0f6-11ce0a10d341"}]}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:compose?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534642432_422080ec-01b0-4705-b1e4-7ab35abf0dc0?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
[...]
