{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt:analyze?stringIndexType=unicodeCodePoint\u0026api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "urlSource": "\u003C_io.BufferedReader name=\u0027C:\\\\Users\\\\caperal\\\\Documents\\\\Python\\\\azure-sdk-for-python-pr\\\\sdk\\\\formrecognizer\\\\azure-ai-formrecognizer\\\\tests\\\\sample_forms\\\\receipt\\\\contoso-receipt.png\u0027\u003E"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Invalid argument.",
          "innererror": {
            "code": "InvalidContentSourceFormat",
            "message": "Invalid content source: Url must be http or https."
          }
        }
      }
    }
  ],
  "Variables": {}
}
