interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/478597ff-4025-4777-873c-7a75cc577b5f
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/478597ff-4025-4777-873c-7a75cc577b5f?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "478597ff-4025-4777-873c-7a75cc577b5f", "status":
        "creating", "createdDateTime": "2020-09-14T21:01:03Z", "lastUpdatedDateTime":
        "2020-09-14T21:01:03Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/478597ff-4025-4777-873c-7a75cc577b5f?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "478597ff-4025-4777-873c-7a75cc577b5f", "status":
        "ready", "createdDateTime": "2020-09-14T21:01:03Z", "lastUpdatedDateTime":
        "2020-09-14T21:01:28Z"}, "keys": {"clusters": {"0": ["Address:", "Invoice
        For:", "Item", "Price", "Quantity", "Redmond, WA", "Signature:", "Subtotal:",
        "Tax:", "Tip:", "Total:"]}}, "trainResult": {"trainingDocuments": [{"documentName":
        "multipage_invoice1.pdf", "pages": 3, "errors": [], "status": "succeeded"},
        {"documentName": "multipage_invoice2.pdf", "pages": 3, "errors": [], "status":
        "succeeded"}, {"documentName": "multipage_invoice3.pdf", "pages": 3, "errors":
        [], "status": "succeeded"}, {"documentName": "multipage_invoice4.pdf", "pages":
        3, "errors": [], "status": "succeeded"}, {"documentName": "multipage_invoice5.pdf",
        "pages": 3, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
