interactions:
- request:
    body: '!!! The request body has been omitted from the recording because its size
      147362 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/pdf
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyze?includeTextDetails=false&locale=not%20a%20locale
  response:
    body:
      string: '{"error": {"code": "UnsupportedLocale", "innerError": {"requestId":
        "11c1ae3b-bf8d-49c3-a028-c9640d10a39e"}, "message": "Locale unsupported. Supported
        locale includes en-US."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
