interactions:
- request:
    body: '{"source": "blobsasurl",
      "sourceFilter": {"prefix": "subfolder", "includeSubFolders": true}, "useLabelFile":
      false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/bc031d5a-8f3b-4cda-ad6c-192475f41911
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - centraluseuap.api.cognitive.microsoft.com
        - //formrecognizer/v2.0-preview/custom/models
        - ''
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/bc031d5a-8f3b-4cda-ad6c-192475f41911?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"bc031d5a-8f3b-4cda-ad6c-192475f41911","status":"creating","createdDateTime":"2020-04-10T02:34:50Z","lastUpdatedDateTime":"2020-04-10T02:34:50Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - centraluseuap.api.cognitive.microsoft.com
        - /formrecognizer/v2.0-preview/custom/models/bc031d5a-8f3b-4cda-ad6c-192475f41911
        - includeKeys=true
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/bc031d5a-8f3b-4cda-ad6c-192475f41911?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"bc031d5a-8f3b-4cda-ad6c-192475f41911","status":"ready","createdDateTime":"2020-04-10T02:34:50Z","lastUpdatedDateTime":"2020-04-10T02:34:58Z"},"keys":{"clusters":{"0":["Additional
        Notes:","Address:","Address:","Company Name:","Company Phone:","Dated As:","Email:","Hero
        Limited","Name:","Phone:","Phone:","Purchase Order","Purchase Order","Purchase
        Order #:","SUBTOTAL","Seattle, WA 93849 Phone:","Shipped From","Shipped To","TAX","TOTAL","Vendor
        Name:","Website:"]}},"trainResult":{"trainingDocuments":[{"documentName":"subfolder/xxForm
        3.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"subfolder/xxForm
        5.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"subfolder/xxForm2.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"subfolder/xxForm4.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"subfolder/xxForm_1.jpg","pages":1,"errors":[],"status":"succeeded"}],"errors":[]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - centraluseuap.api.cognitive.microsoft.com
        - /formrecognizer/v2.0-preview/custom/models/bc031d5a-8f3b-4cda-ad6c-192475f41911
        - includeKeys=true
        - ''
version: 1
