interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      true}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/ca5bda2a-f7c6-43be-adb4-1a6199a86aee
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/ca5bda2a-f7c6-43be-adb4-1a6199a86aee?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "ca5bda2a-f7c6-43be-adb4-1a6199a86aee", "status":
        "creating", "createdDateTime": "2020-07-10T19:00:21Z", "lastUpdatedDateTime":
        "2020-07-10T19:00:21Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/ca5bda2a-f7c6-43be-adb4-1a6199a86aee?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/ca5bda2a-f7c6-43be-adb4-1a6199a86aee?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "ca5bda2a-f7c6-43be-adb4-1a6199a86aee", "status":
        "ready", "createdDateTime": "2020-07-10T19:00:21Z", "lastUpdatedDateTime":
        "2020-07-10T19:00:33Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "subfolder/Form_6.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/ca5bda2a-f7c6-43be-adb4-1a6199a86aee?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/3147eb57-5e40-418a-a192-7de7839934e3?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "3147eb57-5e40-418a-a192-7de7839934e3", "status":
        "ready", "createdDateTime": "2020-07-10T19:00:57Z", "lastUpdatedDateTime":
        "2020-07-10T19:01:03Z"}, "keys": {"clusters": {"0": ["Address:", "Company
        Name:", "Company Phone:", "Dated As:", "Details", "Name:", "Phone:", "Purchase
        Order #:", "Quantity", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "subfolder/Form_6.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/3147eb57-5e40-418a-a192-7de7839934e3?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/bb95b4f6-97e9-48a4-8485-812e148c2513?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "bb95b4f6-97e9-48a4-8485-812e148c2513", "status":
        "invalid", "createdDateTime": "2020-07-10T19:01:09Z", "lastUpdatedDateTime":
        "2020-07-10T19:01:10Z"}, "keys": {"clusters": {}}, "trainResult": {"trainingDocuments":
        [], "errors": [{"code": "2014", "message": "No valid blobs found in the specified
        Azure blob container. Please conform to the document format/size/page/dimensions
        requirements."}]}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-cs-error-code: '2014'
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/bb95b4f6-97e9-48a4-8485-812e148c2513?includeKeys=true
version: 1
