{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "f587b346-b511-4b87-b9bb-66d9d63a566b",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31523123719_7d4163ef-27be-4442-bbcf-7339d9082c00?api-version=2022-01-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31523123719_7d4163ef-27be-4442-bbcf-7339d9082c00?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31523123719_7d4163ef-27be-4442-bbcf-7339d9082c00",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2022-01-27T00:44:40Z",
        "lastUpdatedDateTime": "2022-01-27T00:44:45Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/f587b346-b511-4b87-b9bb-66d9d63a566b?api-version=2022-01-30-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "f587b346-b511-4b87-b9bb-66d9d63a566b": {
              "fieldSchema": {
                "VISA_SELECTION_MARK": {
                  "type": "selectionMark"
                },
                "AMEX_SELECTION_MARK": {
                  "type": "selectionMark"
                },
                "MASTERCARD_SELECTION_MARK": {
                  "type": "selectionMark"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "AMEX_SELECTION_MARK": 0.95,
                "MASTERCARD_SELECTION_MARK": 0.95,
                "VISA_SELECTION_MARK": 0.95
              }
            }
          },
          "modelId": "f587b346-b511-4b87-b9bb-66d9d63a566b",
          "createdDateTime": "2022-01-27T00:44:44Z",
          "apiVersion": "2022-01-30-preview"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/f587b346-b511-4b87-b9bb-66d9d63a566b:analyze?stringIndexType=unicodeCodePoint\u0026api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "JVBERi0xLjYNJe\u002B/ve\u002B/ve\u002B/ve\u002B/vQ0KMTQ2IDAgb2JqDTw8L0xpbmVhcml6ZWQgMS9MIDIwODIwMS9PIDE0OC9FIDE5OTk3OS9OIDEvVCAyMDc4NjQvSCB[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/f587b346-b511-4b87-b9bb-66d9d63a566b/analyzeResults/25bc7ab5-0583-4447-9792-89368bebb5a6?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-01-27T00:44:48Z",
        "lastUpdatedDateTime": "2022-01-27T00:44:53Z",
        "analyzeResult": {
          "apiVersion": "2022-01-30-preview",
          "modelId": "f587b346-b511-4b87-b9bb-66d9d63a566b",
          "stringIndexType": "unicodeCodePoint",
          "content": "STATE OF CALIFORNIA: CONTOSO\nBUREAU OF INSURANCE\n124 Main Street Palo Alto CA 842325\n(650)768-2322\nAUTHORIZATION OF CREDIT CARD PAYMENT\nFees owed to this Department may be paid by the use of a credit card. If you wish to pay your fee(s)\nwith your credit card, please complete this form and send it with your paperwork. Payment through\ncredit cards will not be processed without this authorization form. Please print or type clearly.\nName (company/individual for whom payment is being made) [...]
