interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false, "modelName": "mymodel"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/dd1712db-3142-46c2-9d20-139967ce745d
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/dd1712db-3142-46c2-9d20-139967ce745d?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "dd1712db-3142-46c2-9d20-139967ce745d", "modelName":
        "mymodel", "status": "creating", "createdDateTime": "2021-03-19T18:52:09Z",
        "lastUpdatedDateTime": "2021-03-19T18:52:09Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/dd1712db-3142-46c2-9d20-139967ce745d?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/dd1712db-3142-46c2-9d20-139967ce745d?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "dd1712db-3142-46c2-9d20-139967ce745d", "modelName":
        "mymodel", "status": "ready", "createdDateTime": "2021-03-19T18:52:09Z", "lastUpdatedDateTime":
        "2021-03-19T18:52:27Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/dd1712db-3142-46c2-9d20-139967ce745d?includeKeys=true
- request:
    body: null
    headers:
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "33a01fbf-85b0-444c-90e1-d5bd0740531e", "accessToken":
        "redacted", "expirationDateTimeTicks": 1616266350}'
    headers:
      content-type: application/json; charset=utf-8
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/33a01fbf-85b0-444c-90e1-d5bd0740531e
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/copyAuthorization
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
      "targetResourceRegion": "region", "copyAuthorization": {"modelId": "33a01fbf-85b0-444c-90e1-d5bd0740531e",
      "accessToken": 00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks":
      1616266350}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/dd1712db-3142-46c2-9d20-139967ce745d/copy
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/dd1712db-3142-46c2-9d20-139967ce745d/copyresults/f643b719-4b3d-4b25-ac90-35771bbf7efc
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/dd1712db-3142-46c2-9d20-139967ce745d/copy
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/dd1712db-3142-46c2-9d20-139967ce745d/copyresults/f643b719-4b3d-4b25-ac90-35771bbf7efc
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-03-19T18:52:31.3287314Z",
        "lastUpdatedDateTime": "2021-03-19T18:52:31.3287317Z", "copyResult": {"modelId":
        "33a01fbf-85b0-444c-90e1-d5bd0740531e"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/dd1712db-3142-46c2-9d20-139967ce745d/copyresults/f643b719-4b3d-4b25-ac90-35771bbf7efc
[...]
