interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/7dba63b5-a987-4bcd-a10f-b594bf9a020c
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/7dba63b5-a987-4bcd-a10f-b594bf9a020c?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"7dba63b5-a987-4bcd-a10f-b594bf9a020c","status":"creating","createdDateTime":"2020-04-08T18:54:45Z","lastUpdatedDateTime":"2020-04-08T18:54:45Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/7dba63b5-a987-4bcd-a10f-b594bf9a020c?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"7dba63b5-a987-4bcd-a10f-b594bf9a020c","status":"ready","createdDateTime":"2020-04-08T18:54:45Z","lastUpdatedDateTime":"2020-04-08T18:54:53Z"},"keys":{"clusters":{"0":["Additional
        Notes:","Address:","Address:","Company Name:","Company Phone:","Dated As:","Email:","Hero
        Limited","Name:","Phone:","Phone:","Purchase Order","Purchase Order","Purchase
        Order #:","SUBTOTAL","Seattle, WA 93849 Phone:","Shipped From","Shipped To","TAX","TOTAL","Vendor
        Name:","Website:"]}},"trainResult":{"trainingDocuments":[{"documentName":"Form
        1.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form 3.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form
        5.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form2.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form4.jpg","pages":1,"errors":[],"status":"succeeded"}],"errors":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
