{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt:analyze?stringIndexType=unicodeCodePoint\u0026api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "urlSource": "https://blob_sas_url"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/3f755b5c-6e06-4ce1-b6cc-d43edb170252?api-version=2022-01-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/3f755b5c-6e06-4ce1-b6cc-d43edb170252?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-03-04T00:02:34Z",
        "lastUpdatedDateTime": "2022-03-04T00:02:34Z"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-receipt/analyzeResults/3f755b5c-6e06-4ce1-b6cc-d43edb170252?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-03-04T00:02:34Z",
        "lastUpdatedDateTime": "2022-03-04T00:04:18Z",
        "analyzeResult": {
          "apiVersion": "2022-01-30-preview",
          "modelId": "prebuilt-receipt",
          "stringIndexType": "unicodeCodePoint",
          "content": "Contoso\nContoso\n123 Main Street\nRedmond, WA 98052\n987-654-3210\n6/10/2019 13:59\nSales Associate: Paul\n- -\n-\n-\n1 Cappuccino\n1 BACON \u0026 EGGS\n===\n$2.20\nSunny-side-up\n$9.5\n--- -\n-\n----\nSub-Total\nTax\nTip\nTotal\n$ 11.70\n$ 1.17\n$ 1.63\n$14,50",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0.2836,
              "width": 1688,
              "height": 3000,
              "unit": "pixel",
              "words": [
                {
                  "content": "Contoso",
                  "boundingBox": [
                    638,
                    510,
                    1056,
                    471,
                    1072,
                    551,
                    638,
                    598
                  ],
                  "confidence": 0.998,
                  "span": {
                    "offset": 0,
                    "length": 7
                  }
                },
                {
                  "content": "Contoso",
                  "boundingBox": [
                    310,
                    573,
                    517,
                    629,
                    502,
                    686,
                    298,
                    633
                  ],
                  "confidence": 0.935,
                  "span": {
                    "offset": 8,
                    "length": 7
             [...]
