{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "71392933-dee2-4d39-b080-bd69e7196a95",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31523109426_60122e72-72a7-4698-b0ab-a680584cdb56?api-version=2022-01-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31523109426_60122e72-72a7-4698-b0ab-a680584cdb56?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31523109426_60122e72-72a7-4698-b0ab-a680584cdb56",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2022-01-27T04:42:54Z",
        "lastUpdatedDateTime": "2022-01-27T04:42:58Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/71392933-dee2-4d39-b080-bd69e7196a95?api-version=2022-01-30-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "71392933-dee2-4d39-b080-bd69e7196a95": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "MerchantAddress": {
                  "type": "string"
                },
                "MerchantPhoneNumber": {
                  "type": "string"
                },
                "CustomerName": {
                  "type": "string"
                },
                "CustomerAddress": {
                  "type": "string"
                },
                "CustomerPhoneNumber": {
                  "type": "string"
                },
                "FirstItem": {
                  "type": "string"
                },
                "FirstQuantity": {
                  "type": "string"
                },
                "FirstPrice": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Tip": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Merchant2": {
                  "type": "string"
                },
                "Customer2": {
                  "type": "string"
                },
                "Total2": {
                  "type": "string"
                },
                "Signature2": {
                  "type": "string"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "Customer2": 0.95,
                "CustomerAddress": 0.95,
                "CustomerName": 0.95,
                "CustomerPhoneNumber": 0.95,
                "FirstItem": 0.95,
                "FirstPrice": 0.95,
                "FirstQuantity": 0.95,
                "Merchant": 0,
                "Merchant2": 0,
                "MerchantAddress": 0.95,
                "MerchantPhoneNumber": 0.95,
                "Signature": 0.95,
                "Signature2": 0.95,
                "Subtotal": 0.95,
                "Tax": 0.95,
                "Tip": 0.95,
                "Total": 0.95,
                "Total2": 0.95
              }
            }
          },
          "modelId": "71392933-dee2-4d39-b080-bd69e7196a95",
          "createdDateTime": "2022-01-27T04:42:57Z",
          "apiVersion": "2022-01-30-preview"
        }
      }
    }
  ],
  "Variables": {}
}
