{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/invoice/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022source\u0022: \u0022https://badurl.jpg\u0022}",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "FailedToDownloadImage",
          "innerError": {
            "requestId": "71288f18-d135-4ef1-8786-b1ee0ff4be27"
          },
          "message": "Failed to download image from input URL."
        }
      }
    }
  ],
  "Variables": {}
}
