interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/2f660c4f-0d5e-4843-a07e-5237062c2c63
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/2f660c4f-0d5e-4843-a07e-5237062c2c63?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "2f660c4f-0d5e-4843-a07e-5237062c2c63", "status":
        "creating", "createdDateTime": "2020-06-11T15:42:03Z", "lastUpdatedDateTime":
        "2020-06-11T15:42:03Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/2f660c4f-0d5e-4843-a07e-5237062c2c63?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "2f660c4f-0d5e-4843-a07e-5237062c2c63", "status":
        "ready", "createdDateTime": "2020-06-11T15:42:03Z", "lastUpdatedDateTime":
        "2020-06-11T15:42:19Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "9929dbe3-e464-4565-9105-52be47a8de13", "accessToken":
        "redacted", "expirationDateTimeTicks": 1591976539}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/9929dbe3-e464-4565-9105-52be47a8de13
    status:
      code: 201
      message: Created
- request:
    body: 'b''b\''{"targetResourceId": "resource_id", "targetResourceRegion": "centraluseuap",
      "copyAuthorization": {"modelId": "9929dbe3-e464-4565-9105-52be47a8de13", "accessToken":
      00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks": 1591976539}}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/2f660c4f-0d5e-4843-a07e-5237062c2c63/copy
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/2f660c4f-0d5e-4843-a07e-5237062c2c63/copyresults/57b640e1-6f05-41e8-b02d-bb80fd68cc2f
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/2f660c4f-0d5e-4843-a07e-5237062c2c63/copyresults/57b640e1-6f05-41e8-b02d-bb80fd68cc2f
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2020-06-11T15:42:19Z",
        "lastUpdatedDateTime": "2020-06-11T15:42:19Z", "copyResult": {"modelId": "9929dbe3-e464-4565-9105-52be47a8de13"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/9929dbe3-e464-4565-9105-52be47a8de13?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "9929dbe3-e464-4565-9105-52be47a8de13", "status":
        "ready", "createdDateTime": "2020-06-11T15:42:03Z", "lastUpdatedDateTime":
        "2020-06-11T15:42:19Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
