{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/invoice/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "https://blob_sas_url"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/invoice/analyzeResults/5de36d8f-6f97-4fa8-afa8-906fadd33e8d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/invoice/analyzeResults/5de36d8f-6f97-4fa8-afa8-906fadd33e8d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-12-17T04:42:09Z",
        "lastUpdatedDateTime": "2021-12-17T04:42:12Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "tables": [
                {
                  "rows": 3,
                  "columns": 5,
                  "cells": [
                    {
                      "rowIndex": 0,
                      "columnIndex": 0,
                      "text": "Invoice Number",
                      "boundingBox": [
                        0.4992,
                        2.7829,
                        1.8978,
                        2.79,
                        1.8978,
                        3.3181,
                        0.5064,
                        3.3181
                      ],
                      "isHeader": true
                    },
                    {
                      "rowIndex": 0,
                      "columnIndex": 1,
                      "text": "Invoice Date",
                      "boundingBox": [
                        1.8978,
                        2.79,
                        3.3036,
                        2.79,
                        3.3036,
                        3.3181,
                        1.8978,
                        3.3181
                      ],
           [...]
[...]
