interactions:
- request:
    body: 'b''{"source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/Invoice_1.tiff"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "401", "message": "Access denied due to invalid
        subscription key or wrong API endpoint. Make sure to provide a valid key for
        an active subscription and use a correct regional API endpoint for your resource."}}'
    headers:
    status:
      code: 401
      message: PermissionDenied
version: 1
