interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/c2407bf5-b8aa-4454-a9d4-f8c45e6c46db
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/c2407bf5-b8aa-4454-a9d4-f8c45e6c46db?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"c2407bf5-b8aa-4454-a9d4-f8c45e6c46db","status":"creating","createdDateTime":"2020-04-14T22:24:41Z","lastUpdatedDateTime":"2020-04-14T22:24:41Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/c2407bf5-b8aa-4454-a9d4-f8c45e6c46db?includeKeys=true
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/c2407bf5-b8aa-4454-a9d4-f8c45e6c46db?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"c2407bf5-b8aa-4454-a9d4-f8c45e6c46db","status":"ready","createdDateTime":"2020-04-14T22:24:41Z","lastUpdatedDateTime":"2020-04-14T22:24:48Z"},"keys":{"clusters":{"0":["Additional
        Notes:","Address:","Address:","Company Name:","Company Phone:","Dated As:","Email:","Hero
        Limited","Name:","Phone:","Purchase Order","Purchase Order","Purchase Order
        #:","SUBTOTAL","Seattle, WA 93849 Phone:","Shipped From","Shipped To","TAX","TOTAL","Vendor
        Name:","Website:"]}},"trainResult":{"trainingDocuments":[{"documentName":"Form_1.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_2.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_3.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_4.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_5.jpg","pages":1,"errors":[],"status":"succeeded"}],"errors":[]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/c2407bf5-b8aa-4454-a9d4-f8c45e6c46db?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/00679267-4156-43b6-9f91-68c8d37e924d?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"00679267-4156-43b6-9f91-68c8d37e924d","status":"ready","createdDateTime":"2020-04-14T22:25:02Z","lastUpdatedDateTime":"2020-04-14T22:25:05Z"},"trainResult":{"averageModelAccuracy":0.973,"trainingDocuments":[{"documentName":"Form_1.jpg","pages":1,"status":"succeeded"},{"documentName":"Form_2.jpg","pages":1,"status":"succeeded"},{"documentName":"Form_3.jpg","pages":1,"status":"succeeded"},{"documentName":"Form_4.jpg","pages":1,"status":"succeeded"},{"documentName":"Form_5.jpg","pages":1,"status":"succeeded"}],"fields":[{"fieldName":"CompanyAddress","accuracy":0.8},{"fieldName":"CompanyName","accuracy":1.0},{"fieldName":"CompanyPhoneNumber","accuracy":1.0},{"fieldName":"DatedAs","accuracy":1.0},{"fieldName":"Email","accuracy":0.8},{"fieldName":"Merchant","accuracy":1.0},{"fieldName":"PhoneNumber","accuracy":1.0},{"fieldName":"PurchaseOrderNumber","accuracy":1.0},{"fieldName":"Quantity","accuracy":1.0},{"fieldName":"Signature","accuracy":1.0},{"fieldName":"Subtotal","accuracy":1.0},{"fieldName":"Tax","accuracy":1.0},{"fieldName":"Total","accuracy":1.0},{"fieldName":"VendorName","accuracy":1.0},{"fieldName":"Website","accuracy":1.0}],"errors":[]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/00679267-4156-43b6-9f91-68c8d37e924d?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models?op=full
  response:
    body:
      string: '{"modelList":[{"modelId":"00679267-4156-43b6-9f91-68c8d37e924d","status":"ready","createdDateTime":"2020-04-14T22:25:02Z","lastUpdatedDateTime":"2020-04-14T22:25:05Z"},{"modelId":"c2407bf5-b8aa-4454-a9d4-f8c45e6c46db","status":"ready","createdDateTime":"2020-04-14T22:24:41Z","lastUpdatedDateTime":"2020-04-14T22:24:48Z"}],"nextLink":""}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models?op=full
- request:
    body: null
    headers:
    method: DELETE
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/c2407bf5-b8aa-4454-a9d4-f8c45e6c46db
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models/c2407bf5-b8aa-4454-a9d4-f8c45e6c46db
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/c2407bf5-b8aa-4454-a9d4-f8c45e6c46db?includeKeys=true
  response:
    body:
      string: '{"error":{"code":"1022","message":"Model with ''id=c2407bf5-b8aa-4454-a9d4-f8c45e6c46db''
        not found."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models/c2407bf5-b8aa-4454-a9d4-f8c45e6c46db?includeKeys=true
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/00679267-4156-43b6-9f91-68c8d37e924d?includeKeys=true
  response:
    body:
      string: '{"error":{"code":"1022","message":"Model with ''id=00679267-4156-43b6-9f91-68c8d37e924d''
        not found."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models/00679267-4156-43b6-9f91-68c8d37e924d?includeKeys=true
version: 1
