interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/54407cb6-f5cc-430f-94f2-bb4d4f4c9ff4
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/54407cb6-f5cc-430f-94f2-bb4d4f4c9ff4?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "54407cb6-f5cc-430f-94f2-bb4d4f4c9ff4", "status":
        "creating", "createdDateTime": "2021-03-19T18:49:20Z", "lastUpdatedDateTime":
        "2021-03-19T18:49:20Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/54407cb6-f5cc-430f-94f2-bb4d4f4c9ff4?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/54407cb6-f5cc-430f-94f2-bb4d4f4c9ff4?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "54407cb6-f5cc-430f-94f2-bb4d4f4c9ff4", "status":
        "ready", "createdDateTime": "2021-03-19T18:49:20Z", "lastUpdatedDateTime":
        "2021-03-19T18:49:36Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/54407cb6-f5cc-430f-94f2-bb4d4f4c9ff4?includeKeys=true
- request:
    body: null
    headers:
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "80811931-b9db-4431-a26c-db4ec036c7ce", "accessToken":
        "redacted", "expirationDateTimeTicks": 1616266180}'
    headers:
      content-type: application/json; charset=utf-8
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/80811931-b9db-4431-a26c-db4ec036c7ce
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/copyAuthorization
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
      "targetResourceRegion": "region", "copyAuthorization": {"modelId": "80811931-b9db-4431-a26c-db4ec036c7ce",
      "accessToken": 00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks":
      1616266180}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/00000000-0000-0000-0000-000000000000/copy
  response:
    body:
      string: '{"error": {"code": "1022", "message": "Model with ''id=00000000-0000-0000-0000-000000000000''
        not found."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/00000000-0000-0000-0000-000000000000/copy
version: 1
