interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/1ce5a146-3e09-42bd-9866-924dbf6adf8f
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/1ce5a146-3e09-42bd-9866-924dbf6adf8f?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"1ce5a146-3e09-42bd-9866-924dbf6adf8f","status":"creating","createdDateTime":"2020-04-15T19:07:44Z","lastUpdatedDateTime":"2020-04-15T19:07:44Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/1ce5a146-3e09-42bd-9866-924dbf6adf8f?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"1ce5a146-3e09-42bd-9866-924dbf6adf8f","status":"ready","createdDateTime":"2020-04-15T19:07:44Z","lastUpdatedDateTime":"2020-04-15T19:07:51Z"},"keys":{"clusters":{"0":["Additional
        Notes:","Address:","Address:","Company Name:","Company Phone:","Dated As:","Email:","Hero
        Limited","Name:","Phone:","Purchase Order","Purchase Order","Purchase Order
        #:","SUBTOTAL","Seattle, WA 93849 Phone:","Shipped From","Shipped To","TAX","TOTAL","Vendor
        Name:","Website:"]}},"trainResult":{"trainingDocuments":[{"documentName":"Form_1.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_2.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_3.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_4.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_5.jpg","pages":1,"errors":[],"status":"succeeded"}],"errors":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models?op=full
  response:
    body:
      string: '{"modelList":[{"modelId":"1ce5a146-3e09-42bd-9866-924dbf6adf8f","status":"ready","createdDateTime":"2020-04-15T19:07:44Z","lastUpdatedDateTime":"2020-04-15T19:07:51Z"}],"nextLink":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/1ce5a146-3e09-42bd-9866-924dbf6adf8f
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/1ce5a146-3e09-42bd-9866-924dbf6adf8f?includeKeys=true
  response:
    body:
      string: '{"error":{"code":"1022","message":"Model with ''id=1ce5a146-3e09-42bd-9866-924dbf6adf8f''
        not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
