interactions:
- request:
    body: '!!! The request body has been omitted from the recording because its size
      154512 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - image/jpeg
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/receipt/analyze?includeTextDetails=false&locale=not%20a%20locale
  response:
    body:
      string: '{"error": {"code": "UnsupportedLocale", "innerError": {"requestId":
        "4c27b38d-d0e4-4b41-b76a-0422a7b924b9"}, "message": "Locale unsupported. Supported
        locales include en-AU, en-CA, en-GB, en-IN and en-US."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/receipt/analyze?includeTextDetails=false&locale=not%20a%20locale
version: 1
