interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false, "modelName": "my unlabeled model"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/0c43273d-9486-4aff-8368-7f90683ad55d
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/0c43273d-9486-4aff-8368-7f90683ad55d?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "0c43273d-9486-4aff-8368-7f90683ad55d", "modelName":
        "my unlabeled model", "status": "creating", "createdDateTime": "2021-03-18T15:54:42Z",
        "lastUpdatedDateTime": "2021-03-18T15:54:42Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/0c43273d-9486-4aff-8368-7f90683ad55d?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/0c43273d-9486-4aff-8368-7f90683ad55d?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "0c43273d-9486-4aff-8368-7f90683ad55d", "modelName":
        "my unlabeled model", "status": "ready", "createdDateTime": "2021-03-18T15:54:42Z",
        "lastUpdatedDateTime": "2021-03-18T15:54:59Z"}, "keys": {"clusters": {"0":
        ["Additional Notes:", "Address:", "Company Name:", "Company Phone:", "Dated
        As:", "Details", "Email:", "Hero Limited", "Name:", "Phone:", "Purchase Order",
        "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped
        From", "Shipped To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:",
        "Website:"]}}, "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/0c43273d-9486-4aff-8368-7f90683ad55d?includeKeys=true
version: 1
