{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "e06902c0-750e-4e49-9e92-437d75d8dc99",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31526657765_83239e24-4de8-47d6-864b-0634a01b46fe?api-version=2021-09-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31526657765_83239e24-4de8-47d6-864b-0634a01b46fe?api-version=2021-09-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022operationId\u0022: \u002231526657765_83239e24-4de[...]
