interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/e0200274-4cd6-4967-a62a-a97a52c64b33
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/e0200274-4cd6-4967-a62a-a97a52c64b33?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "e0200274-4cd6-4967-a62a-a97a52c64b33", "attributes":
        {"isComposed": false}, "status": "ready", "createdDateTime": "2021-05-11T03:27:20Z",
        "lastUpdatedDateTime": "2021-05-11T03:27:23Z"}, "trainResult": {"averageModelAccuracy":
        0.889, "trainingDocuments": [{"documentName": "multipage_invoice1.pdf", "pages":
        3, "status": "succeeded"}, {"documentName": "multipage_invoice2.pdf", "pages":
        3, "status": "succeeded"}, {"documentName": "multipage_invoice3.pdf", "pages":
        3, "status": "succeeded"}, {"documentName": "multipage_invoice4.pdf", "pages":
        3, "status": "succeeded"}, {"documentName": "multipage_invoice5.pdf", "pages":
        3, "status": "succeeded"}], "fields": [{"fieldName": "Customer2", "accuracy":
        0.995}, {"fieldName": "CustomerAddress", "accuracy": 0.995}, {"fieldName":
        "CustomerName", "accuracy": 0.995}, {"fieldName": "CustomerPhoneNumber", "accuracy":
        0.995}, {"fieldName": "FirstItem", "accuracy": 0.995}, {"fieldName": "FirstPrice",
        "accuracy": 0.995}, {"fieldName": "FirstQuantity", "accuracy": 0.995}, {"fieldName":
        "Merchant", "accuracy": 0.0}, {"fieldName": "Merchant2", "accuracy": 0.0},
        {"fieldName": "MerchantAddress", "accuracy": 0.995}, {"fieldName": "MerchantPhoneNumber",
        "accuracy": 0.995}, {"fieldName": "Signature", "accuracy": 0.995}, {"fieldName":
        "Signature2", "accuracy": 0.995}, {"fieldName": "Subtotal", "accuracy": 0.995},
        {"fieldName": "Tax", "accuracy": 0.995}, {"fieldName": "Tip", "accuracy":
        0.995}, {"fieldName": "Total", "accuracy": 0.995}, {"fieldName": "Total2",
        "accuracy": 0.995}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
