interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/a59840d8-1cca-412b-a308-26a2f9da2fc7
    status:
      code: 201
      message: Created
    url: https://formrecognizeraccount.cognitiveservices.azure.com//formrecognizer/v2.0/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/a59840d8-1cca-412b-a308-26a2f9da2fc7?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "a59840d8-1cca-412b-a308-26a2f9da2fc7", "status":
        "creating", "createdDateTime": "2020-08-07T21:42:46Z", "lastUpdatedDateTime":
        "2020-08-07T21:42:46Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/a59840d8-1cca-412b-a308-26a2f9da2fc7?includeKeys=true
- request:
    body: null
    headers:
    method: GET
    uri: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/a59840d8-1cca-412b-a308-26a2f9da2fc7?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "a59840d8-1cca-412b-a308-26a2f9da2fc7", "status":
        "ready", "createdDateTime": "2020-08-07T21:42:46Z", "lastUpdatedDateTime":
        "2020-08-07T21:42:55Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/a59840d8-1cca-412b-a308-26a2f9da2fc7?includeKeys=true
[...]
