{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/layout/analyze?readingOrder=basic",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "https://blob_sas_url"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/layout/analyzeResults/170cbcff-9ebc-47ec-9f8e-bf6193656db4"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/layout/analyzeResults/170cbcff-9ebc-47ec-9f8e-bf6193656db4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2021-12-16T20:58:37Z",
        "lastUpdatedDateTime": "2021-12-16T20:58:39Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "lines": [
                {
                  "boundingBox": [
                    0.5384,
                    1.1583,
                    1.4466,
                    1.1583,
                    1.4466,
                    1.3534,
                    0.5384,
                    1.3534
                  ],
                  "text": "Contoso",
                  "appearance": {
                    "style": {
                      "name": "other",
                      "confidence": 1
                    }
                  },
                  "words": [
                    {
                      "boundingBox": [
                        0.5384,
                        1.1583,
                        1.4466,
                        1.1583,
                        1.4466,
                        1.3534,
                        0.5384,
                        1.3534
                      ],
                      "text": "Contoso",
                      "confidence": 1
                    }
                  ]
                },
                [...]
