interactions:
- request:
    body: 'b''{"urlSource": "https://fakeuri.com/blank%20space"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/prebuilt-receipt:analyze?stringIndexType=unicodeCodePoint&api-version=2021-09-30-preview
  response:
    body:
      string: '{"error": {"code": "InvalidRequest", "message": "Invalid request.",
        "innererror": {"code": "InvalidContent", "message": "The file is corrupted
        or format is unsupported. Refer to documentation for the list of supported
        formats."}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
