interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true, "modelName": "model1"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/642d377d-945d-4099-af5f-95340af85018
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/642d377d-945d-4099-af5f-95340af85018?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "642d377d-945d-4099-af5f-95340af85018", "modelName":
        "model1", "attributes": {"isComposed": false}, "status": "ready", "createdDateTime":
        "2020-11-03T20:49:16Z", "lastUpdatedDateTime": "2020-11-03T20:49:18Z"}, "trainResult":
        {"averageModelAccuracy": 0.96, "trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages": 1, "status":
        "succeeded"}, {"documentName": "Form_4.jpg", "pages": 1, "status": "succeeded"},
        {"documentName": "Form_5.jpg", "pages": 1, "status": "succeeded"}], "fields":
        [{"fieldName": "CompanyAddress", "accuracy": 0.8}, {"fieldName": "CompanyName",
        "accuracy": 1.0}, {"fieldName": "CompanyPhoneNumber", "accuracy": 1.0}, {"fieldName":
        "DatedAs", "accuracy": 1.0}, {"fieldName": "Email", "accuracy": 0.8}, {"fieldName":
        "Merchant", "accuracy": 1.0}, {"fieldName": "PhoneNumber", "accuracy": 1.0},
        {"fieldName": "PurchaseOrderNumber", "accuracy": 1.0}, {"fieldName": "Quantity",
        "accuracy": 1.0}, {"fieldName": "Signature", "accuracy": 0.8}, {"fieldName":
        "Subtotal", "accuracy": 1.0}, {"fieldName": "Tax", "accuracy": 1.0}, {"fieldName":
        "Total", "accuracy": 1.0}, {"fieldName": "VendorName", "accuracy": 1.0}, {"fieldName":
        "Website", "accuracy": 1.0}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"modelIds": ["642d377d-945d-4099-af5f-95340af85018", "fb9084fc-3d68-4748-82af-11862f2a7158"],
      "modelName": "composedmodel"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/compose
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/4c00b708-8afc-4158-b444-1db3b52a22c2
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/4c00b708-8afc-4158-b444-1db3b52a22c2?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "4c00b708-8afc-4158-b444-1db3b52a22c2", "modelName":
        "composedmodel", "attributes": {"isComposed": true}, "status": "ready", "createdDateTime":
        "2020-11-03T20:49:26Z", "lastUpdatedDateTime": "2020-11-03T20:49:27Z"}, "composedTrainResults":
        [{"averageModelAccuracy": 0.96, "trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages": 1, "status":
        "succeeded"}, {"documentName": "Form_4.jpg", "pages": 1, "status": "succeeded"},
        {"documentName": "Form_5.jpg", "pages": 1, "status": "succeeded"}], "fields":
        [{"fieldName": "CompanyAddress", "accuracy": 0.8}, [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "db7d331b-4725-4b5c-bcee-1a2bdffe7677", "accessToken":
        "redacted", "expirationDateTimeTicks": 1604522972}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/db7d331b-4725-4b5c-bcee-1a2bdffe7677
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"targetResourceId": "resource_id", "targetResourceRegion": "centraluseuap",
      "copyAuthorization": {"modelId": "db7d331b-4725-4b5c-bcee-1a2bdffe7677", "accessToken":
      00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks": 1604522972}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/4c00b708-8afc-4158-b444-1db3b52a22c2/copy
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/4c00b708-8afc-4158-b444-1db3b52a22c2/copyresults/ade8748a-4d49-43e3-ab37-b9fa66a1da40
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/4c00b708-8afc-4158-b444-1db3b52a22c2/copyresults/ade8748a-4d49-43e3-ab37-b9fa66a1da40
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2020-11-03T20:49:32Z",
        "lastUpdatedDateTime": "2020-11-03T20:49:32Z", "copyResult": {"modelId": "db7d331b-4725-4b5c-bcee-1a2bdffe7677"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
