interactions:
- request:
    body: '!!! The request body has been omitted from the recording because its size
      915108 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - image/jpeg
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/businessCard/analyze?includeTextDetails=true
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/businessCard/analyzeResults/cd217040-e51e-4832-a614-995e5574a892
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/businessCard/analyzeResults/cd217040-e51e-4832-a614-995e5574a892
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-11-11T17:51:02Z",
        "lastUpdatedDateTime": "2020-11-11T17:51:04Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": -16.6836, "width": 4032, "height":
        3024, "unit": "pixel", "lines": [{"text": "Dr. Avery Smith", "boundingBox":
        [416, 1155, 1608, 871, 1637, 993, 443, 1268], "words": [{"text": "Dr.", "boundingBox":
        [416, 1161, 661, 1103, 691, 1217, 446, 1268], "confidence": 0.984}, {"text":
        "Avery", "boundingBox": [683, 1098, 1158, 984, 1187, 1103, 712, 1212], "confidence":
        0.983}, {"text": "Smith", "boundingBox": [1179, 979, 1610, 871, 1637, 990,
        1209, 1097], "confidence": 0.985}], "appearance": {"style": {"name": "print",
        "confidence": 0.998}}}, {"text": "Senior Researcher", "boundingBox": [447,
        1313, 1317, 1103, 1332, 1179, 465, 1390], "words": [{"text": "Senior", "boundingBox":
        [447, 1313, 779, 1234, 796, 1310, 466, 1390], "confidence": 0.983}, {"text":
        "Researcher", "boundingBox": [794, 1231, 1318, 1103, 1332, 1181, 811, 1306],
        "confidence": 0.981}], "appearance": {"style": {"name": "print", "confidence":
        1}}}, {"text": "Cloud & Al Department", "boundin[...]
