{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "https://blob_sas_url",
        "sourceFilter": {
          "prefix": "",
          "includeSubFolders": false
        },
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/2f2da397-ff1b-49ea-bb8f-2375ac8cf596"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/2f2da397-ff1b-49ea-bb8f-2375ac8cf596?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "2f2da397-ff1b-49ea-bb8f-2375ac8cf596",
          "status": "ready",
          "createdDateTime": "2021-12-17T04:16:09Z",
          "lastUpdatedDateTime": "2021-12-17T04:16:11Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.889,
          "trainingDocuments": [
            {
              "documentName": "multipage_invoice1.pdf",
              "pages": 3,
              "status": "succeeded"
            },
            {
              "documentName": "multipage_invoice2.pdf",
              "pages": 3,
              "status": "succeeded"
            },
            {
              "documentName": "multipage_invoice3.pdf",
              "pages": 3,
              "status": "succeeded"
            },
            {
              "documentName": "multipage_invoice4.pdf",
              "pages": 3,
              "status": "succeeded"
            },
            {
              "documentName": "multipage_invoice5.pdf",
              "pages": 3,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "Customer2",
              "accuracy": 1.0
            },
            {
              "fieldName": "CustomerAddress",
              "accuracy": 1.0
            },
            {
              "fieldName": "CustomerName",
              "accuracy": 1.0
            },
            {
              "fieldName": "CustomerPhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "FirstItem",
              "accuracy": 1.0
            },
            {
              "fieldName": "FirstPrice",
          [...]
