interactions:
- request:
    body: 'b''{"urlSource": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/prebuilt-businessCard:analyze?stringIndexType=unicodeCodePoint&api-version=2021-07-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/prebuilt-businessCard/analyzeResults/ea374d59-0899-4a89-ba4d-5acfa7d48c47?api-version=2021-07-30-preview
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/prebuilt-businessCard/analyzeResults/ea374d59-0899-4a89-ba4d-5acfa7d48c47?api-version=2021-07-30-preview
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-09-14T09:15:06Z",
        "lastUpdatedDateTime": "2021-09-14T09:15:10Z", "analyzeResult": {"apiVersion":
        "2021-07-30-preview", "modelId": "prebuilt-businessCard", "stringIndexType":
        "unicodeCodePoint", "content": "Dr. Avery Smith\nSenior Researcher\nCloud
        & Al Department\navery.smith@contoso.com\nhttps://www.contoso.com/\nmob: +44
        (0) 7911 123456\ntel: +44 (0) 20 9876 5432\nfax: +44 (0) 20 6789 2345\nContoso\nO\n2
        Kingdom Street\nPaddington, London, W2 6BD", "pages": [{"pageNumber": 1, "angle":
        -15.8319, "width": 4032, "height": 3024, "unit": "pixel", "words": [{"content":
        "Dr.", "boundingBox": [422, 1161, 641, 1114, 661, 1216, 441, 1258], "confidence":
        0.998, "span": {"offset": 0, "length": 3}}, {"content": "Avery", "boundingBox":
        [661, 1109, 1104, 1006, 1127, 1113, 682, 1211], "confidence": 0.995, "span":
        {"offset": 4, "length": 5}}, {"content": "Smith", "boundingBox": [1158, 992,
        1565, 888, 1591, 994, 1182, 1099], "confidence": 0.995, "span": {"offset":
        10, "length": 5}}, {"content": "Senior", "boundingBox": [450, 1317, 757, 1240,
        773, 1310, 465, 1383], "confidence": 0.997, "span": {"offset": 16, "length":
        6}}, {"content": "Researc[...]
