interactions:
- request:
    body: 'b''{"modelId": "b93911e3-0a39-4ebb-853b-c7a64059c3ff", "azureBlobSource":
      {"containerUrl": "container_sas_url"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/operations/31527274823_202e2371-93cc-4cfc-86f9-b50d4969243f?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31527274823_202e2371-93cc-4cfc-86f9-b50d4969243f?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31527274823_202e2371-93cc-4cfc-86f9-b50d4969243f",
        "kind": "documentModelBuild", "status": "succeeded", "createdDateTime": "2021-12-09T23:39:36Z",
        "lastUpdatedDateTime": "2021-12-09T23:39:43Z", "resourceLocation": "https://region.api.cognitive.microsoft.com//formrecognizer/documentModels/b93911e3-0a39-4ebb-853b-c7a64059c3ff?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"b93911e3-0a39-4ebb-853b-c7a64059c3ff":
        {"fieldSchema": {"Merchant": {"type": "string"}, "PhoneNumber": {"type": "string"},
        "Website": {"type": "string"}, "Email": {"type": "string"}, "PurchaseOrderNumber":
        {"type": "string"}, "DatedAs": {"type": "string"}, "VendorName": {"type":
        "string"}, "CompanyName": {"type": "string"}, "CompanyAddress": {"type": "string"},
        "CompanyPhoneNumber": {"type": "string"}, "Subtotal": {"type": "string"},
        "Tax": {"type": "string"}, "Total": {"type": "string"}, "Signature": {"type":
        "string"}, "Quantity": {"type": "number"}, "FullSignature": {"type": "signature"}},
        "technique": "fixedTemplate-2021-07-30", "modelType": "form", "fieldConfidence":
        {"CompanyAddress": 0.4, "CompanyName": 0.6, "CompanyPhoneNumber": 0.6, "DatedAs":
        0.6, "Email": 0.4, "FullSignature": 0, "Merchant": 0.6, "PhoneNumber": 0.6,
        "PurchaseOrderNumber": 0.6, "Quantity": 0.6, "Signature": 0.95, "Subtotal":
        0.6, "Tax": 0.6, "Total": 0.6, "VendorName": 0.6, "Website": 0.6}}}, "modelId":
        "b93911e3-0a39-4ebb-853b-c7a64059c3ff", "createdDateTime": "2021-12-09T23:39:43Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
