interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/af4169c1-b0d9-4b98-90f1-101ed5562e82
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/af4169c1-b0d9-4b98-90f1-101ed5562e82?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "af4169c1-b0d9-4b98-90f1-101ed5562e82", "status":
        "creating", "createdDateTime": "2021-03-19T18:49:59Z", "lastUpdatedDateTime":
        "2021-03-19T18:49:59Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/af4169c1-b0d9-4b98-90f1-101ed5562e82?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/af4169c1-b0d9-4b98-90f1-101ed5562e82?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "af4169c1-b0d9-4b98-90f1-101ed5562e82", "status":
        "ready", "createdDateTime": "2021-03-19T18:49:59Z", "lastUpdatedDateTime":
        "2021-03-19T18:50:15Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/af4169c1-b0d9-4b98-90f1-101ed5562e82?includeKeys=true
- request:
    body: null
    headers:
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "31db5838-db27-4327-aa98-b5404705d01d", "accessToken":
        "redacted", "expirationDateTimeTicks": 1616266219}'
    headers:
      content-type: application/json; charset=utf-8
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/31db5838-db27-4327-aa98-b5404705d01d
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/copyAuthorization
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
      "targetResourceRegion": "region", "copyAuthorization": {"modelId": "31db5838-db27-4327-aa98-b5404705d01d",
      "accessToken": 00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks":
      1616266219}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/af4169c1-b0d9-4b98-90f1-101ed5562e82/copy
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/af4169c1-b0d9-4b98-90f1-101ed5562e82/copyresults/07b37341-9bd2-4a67-b246-f486cb7ee926
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/af4169c1-b0d9-4b98-90f1-101ed5562e82/copy
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/af4169c1-b0d9-4b98-90f1-101ed5562e82/copyresults/07b37341-9bd2-4a67-b246-f486cb7ee926
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2021-03-19T18:50:20Z",
        "lastUpdatedDateTime": "2021-03-19T18:50:20Z", "copyResult": {"modelId": "31db5838-db27-4327-aa98-b5404705d01d"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/af4169c1-b0d9-4b98-90f1-101ed5562e82/copyresults/07b37341-9bd2-4a67-b246-f486cb7ee926
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/af4169c1-b0d9-4b98-90f1-101ed5562e82/copyresults/07b37341-9bd2-4a67-b246-f486cb7ee926
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-03-19T18:50:31.0012965Z",
        "lastUpdatedDateTime": "2021-03-19T18:50:31.0012967Z", "copyResult": {"modelId":
        "31db5838-db27-4327-aa98-b5404705d01d"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/af4169c1-b0d9-4b98-90f1-101ed5562e82/copyresults/07b37341-9bd2-4a67-b246-f486cb7ee926
version: 1
