interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - h
      - t
      - t
      - p
      - s
      - ':'
      - /
      - /
      - c
      - e
      - n
      - t
      - r
      - a
      - l
      - u
      - s
      - e
      - u
      - a
      - p
      - .
      - a
      - p
      - i
      - .
      - c
      - o
      - g
      - n
      - i
      - t
      - i
      - v
      - e
      - .
      - m
      - i
      - c
      - r
      - o
      - s
      - o
      - f
      - t
      - .
      - c
      - o
      - m
      - /
      - f
      - o
      - r
      - m
      - r
      - e
      - c
      - o
      - g
      - n
      - i
      - z
      - e
      - r
      - /
      - v
      - '2'
      - .
      - '0'
      - '-'
      - p
      - r
      - e
      - v
      - i
      - e
      - w
      - /
      - c
      - u
      - s
      - t
      - o
      - m
      - /
      - m
      - o
      - d
      - e
      - l
      - s
      - /
      - '4'
      - '2'
      - '4'
      - '3'
      - f
      - e
      - '6'
      - '0'
      - '-'
      - c
      - '5'
      - '1'
      - '5'
      - '-'
      - '4'
      - '1'
      - e
      - '3'
      - '-'
      - b
      - '2'
      - b
      - e
      - '-'
      - f
      - '8'
      - '9'
      - c
      - '7'
      - '6'
      - a
      - d
      - '1'
      - '6'
      - '0'
      - d
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/4243fe60-c515-41e3-b2be-f89c76ad160d?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"4243fe60-c515-41e3-b2be-f89c76ad160d","status":"creating","createdDateTime":"2020-04-13T21:00:50Z","lastUpdatedDateTime":"2020-04-13T21:00:50Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/4243fe60-c515-41e3-b2be-f89c76ad160d?includeKeys=true
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/4243fe60-c515-41e3-b2be-f89c76ad160d?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"4243fe60-c515-41e3-b2be-f89c76ad160d","status":"ready","createdDateTime":"2020-04-13T21:00:50Z","lastUpdatedDateTime":"2020-04-13T21:00:58Z"},"keys":{"clusters":{"0":["Additional
        Notes:","Address:","Address:","Company Name:","Company Phone:","Dated As:","Email:","Hero
        Limited","Name:","Phone:","Purchase Order","Purchase Order","Purchase Order
        #:","SUBTOTAL","Seattle, WA 93849 Phone:","Shipped From","Shipped To","TAX","TOTAL","Vendor
        Name:","Website:"]}},"trainResult":{"trainingDocuments":[{"documentName":"Form_1.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_2.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_3.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_4.jpg","pages":1,"errors":[],"status":"succeeded"},{"documentName":"Form_5.jpg","pages":1,"errors":[],"status":"succeeded"}],"errors":[]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/4243fe60-c515-41e3-b2be-f89c76ad160d?includeKeys=true
- request:
    body: '{"source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/Form_1.jpg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/4243fe60-c515-41e3-b2be-f89c76ad160d/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/4243fe60-c515-41e3-b2be-f89c76ad160d/analyzeresults/9113ec87-8efe-49b1-a5d8-beb89190341b
    status:
      code: 202
      message: Accepted
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models/4243fe60-c515-41e3-b2be-f89c76ad160d/analyze?includeTextDetails=false
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/4243fe60-c515-41e3-b2be-f89c76ad160d/analyzeresults/9113ec87-8efe-49b1-a5d8-beb89190341b
  response:
    body:
      string: '{"status":"succeeded","createdDateTime":"2020-04-13T21:01:21Z","lastUpdatedDateTime":"2020-04-13T21:01:25Z","analyzeResult":{"version":"2.0.0","readResults":[{"page":1,"angle":0.12,"width":1700,"height":2200,"unit":"pixel","lines":[]}],"pageResults":[{"page":1,"keyValuePairs":[{"key":{"text":"Hero
        Limited","boundingBox":[620,203,1078,203,1078,271,620,271],"elements":null},"value":{"text":"","boundingBox":null,"elements":null},"confidence":0.5},{"key":{"text":"Company
        Phone:","boundingBox":[167,351,365,351,365,381,167,381],"elements":null},"value":{"text":"555-348-6512","boundingBox":[371,351,528,351,528,381,371,381],"elements":null},"confidence":1.0},{"key":{"text":"Website:","boundingBox":[167,392,269,392,269,420,167,420],"elements":null},"value":{"text":"www.herolimited.com","boundingBox":[275,392,528,392,528,420,275,420],"elements":null},"confidence":1.0},{"key":{"text":"Dated
        As:","boundingBox":[1025,418,1161,418,1161,451,1025,451],"elements":null},"value":{"text":"12/20/2020","boundingBox":[1168,418,1319,418,1319,451,1168,451],"elements":null},"confidence":1.0},{"key":{"text":"Email:","boundingBox":[167,431,240,431,240,458,167,458],"elements":null},"value":{"text":"accounts@herolimited.com","boundingBox":[168,480,476,480,476,505,168,505],"elements":null},"confidence":1.0},{"key":{"text":"Purchase
        Order #:","boundingBox":[1027,460,1275,460,1275,491,1027,491],"el[...]
