interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/96f21c6d-e2cf-4e5c-865d-36aa2dcb9e5e
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/96f21c6d-e2cf-4e5c-865d-36aa2dcb9e5e?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "96f21c6d-e2cf-4e5c-865d-36aa2dcb9e5e", "status":
        "ready", "createdDateTime": "2020-10-22T18:20:40Z", "lastUpdatedDateTime":
        "2020-10-22T18:20:42Z"}, "trainResult": {"averageModelAccuracy": 0.96, "trainingDocuments":
        [{"documentName": "Form_1.jpg", "pages": 1, "status": "succeeded"}, {"documentName":
        "Form_2.jpg", "pages": 1, "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages": 1, "status":
        "succeeded"}], "fields": [{"fieldName": "CompanyAddress", "accuracy": 0.8},
        {"fieldName": "CompanyName", "accuracy": 1.0}, {"fieldName": "CompanyPhoneNumber",
        "accuracy": 1.0}, {"fieldName": "DatedAs", "accuracy": 1.0}, {"fieldName":
        "Email", "accuracy": 0.8}, {"fieldName": "Merchant", "accuracy": 1.0}, {"fieldName":
        "PhoneNumber", "accuracy": 1.0}, {"fieldName": "PurchaseOrderNumber", "accuracy":
        1.0}, {"fieldName": "Quantity", "accuracy": 1.0}, {"fieldName": "Signature",
        "accuracy": 0.8}, {"fieldName": "Subtotal", "accuracy": 1.0}, {"fieldName":
        "Tax", "accuracy": 1.0}, {"fieldName": "Total", "accuracy": 1.0}, {"fieldName":
        "VendorName", "accuracy": 1.0}, {"fieldName": "Website", "accuracy": 1.0}],
        "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/4e8fd0ed-ffc2-469e-80e5-dfc17c05dc36?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "4e8fd0ed-ffc2-469e-80e5-dfc17c05dc36", "status":
        "ready", "createdDateTime": "2020-10-22T18:20:46Z", "lastUpdatedDateTime":
        "2020-10-22T18:20:54Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/Form_1.jpg"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/96f21c6d-e2cf-4e5c-865d-36aa2dcb9e5e/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/96f21c6d-e2cf-4e5c-865d-36aa2dcb9e5e/analyzeresults/fe54fb71-2479-4399-9565-31a3bdc0c078
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/96f21c6d-e2cf-4e5c-865d-36aa2dcb9e5e/analyzeresults/fe54fb71-2479-4399-9565-31a3bdc0c078
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-10-22T18:20:56Z",
        "lastUpdatedDateTime": "2020-10-22T18:21:01Z", "analyzeResult": {"version":
        "2.0.0", "readResults": [{"page": 1, "language": "en", "angle": 0, "width":
        1700, "height": 2200, "unit": "pixel"}], "pageResults": [{"page": 1, "tables":
        [{"rows": 4, "columns": 3, "cells": [{"rowIndex": 1, "columnIndex": 1, "text":
        "SUBTOTAL", "boundingBox": [1072, 1566, 1309, 1566, 1309, 1610, 1072, 1610]},
        {"rowIndex": 1, "columnIndex": 2, "text": "$140.00", "boundingBox": [1309,
        1566, 1544, 1566, 1544, 1610, 1309, 1610]}, {"rowIndex": 2, "columnIndex":
        1, "text": "TAX", "boundingBox": [1072, 1610, 1309, 1610, 1309, 1658, 1072,
        1658]}, {"rowIndex": 2, "columnIndex": 2, "text": "$4.00", "boundingBox":
        [1309, 1610, 1544, 1610, 1544, 1658, 1309, 1658]}, {"rowIndex": 3, "columnIndex":
        0, "text": "Bernie[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/4e8fd0ed-ffc2-469e-80e5-dfc17c05dc36/analyzeresults/3bfc58fd-a5e3-42a0-8ecb-d849b2c229a1
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-10-22T18:20:57Z",
        "lastUpdatedDateTime": "2020-10-22T18:21:01Z", "analyzeResult": {"version":
        "2.0.0", "readResults": [{"page": 1, "angle": 0.08, "width": 1700, "height":
        2200, "unit": "pixel", "lines": []}], "pageResults": [{"page": 1, "keyValuePairs":
        [{"key": {"text": "Hero Limited", "boundingBox": [621, 204, 1078, 204, 1078,
        271, 621, 271], "elements": null}, "value": {"text": "", "boundingBox": null,
        "elements": null}, "confidence": 0.5}, {"key": {"text": "Company Phone:",
        "boundingBox": [167, 351, 366, 351, 366, 382, 167, 382], "elements": null},
        "value": {"text": "555-348-6512", "boundingBox": [372, 352, 528, 352, 528,
        381, 372, 381], "elements": null}, "confidence": 1.0}, {"key": {"text": "Website:",
        "boundingBox": [167, 392, 270, 392, 270, 420, 167, 420], "elements": null},
        "value": {"text": "www.herolimited.com", "boundingBox": [275, 393, 529, 393,
        529, 421, 275, 421], "[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models?op=full
  response:
    body:
      string: '{"modelList": [{"modelId": "4e8fd0ed-ffc2-469e-80e5-dfc17c05dc36",
        "status": "ready", "createdDateTime": "2020-10-22T18:20:46Z", "lastUpdatedDateTime":
        "2020-10-22T18:20:54Z"}, {"modelId": "96f21c6d-e2cf-4e5c-865d-36aa2dcb9e5e",
        "status": "ready", "createdDateTime": "2020-10-22T18:20:40Z", "lastUpdatedDateTime":
        "2020-10-22T18:20:42Z"}], "nextLink": ""}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
