{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "da59f2bf-7c63-4232-ac85-51609b230627",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://fakeuri.com/blank%20space"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Invalid argument.",
          "innererror": {
            "code": "InvalidContentSourceFormat",
            "message": "Invalid content source: Source Uri must include container path"
          }
        }
      }
    }
  ],
  "Variables": {}
}
