interactions:
- request:
    body: '{"source": "https://badurl.jpg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/xx/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error":{"code":"1001","message":"Specified model not found or not
        ready, Model Id: xx"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
