interactions:
- request:
    body: 'b''{"source": "https://fakeuri.com/blank%20space", "sourceFilter": {"prefix":
      "", "includeSubFolders": false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/bca15202-6831-40ed-997d-5a11cc2ad10f
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/bca15202-6831-40ed-997d-5a11cc2ad10f?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "bca15202-6831-40ed-997d-5a11cc2ad10f", "status":
        "creating", "createdDateTime": "2021-03-19T17:54:49Z", "lastUpdatedDateTime":
        "2021-03-19T17:54:49Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/bca15202-6831-40ed-997d-5a11cc2ad10f?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "bca15202-6831-40ed-997d-5a11cc2ad10f", "status":
        "invalid", "createdDateTime": "2021-03-19T17:54:49Z", "lastUpdatedDateTime":
        "2021-03-19T17:56:16Z"}, "keys": {"clusters": {}}, "trainResult": {"trainingDocuments":
        [], "errors": [{"code": "2012", "message": "Unable to list blobs on the Azure
        blob storage account."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-azure-ai-errorcode:
      - '2012'
    status:
      code: 200
      message: OK
version: 1
