interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/c7c7774b-6fad-405c-8c3f-7b5e91bd58eb
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/c7c7774b-6fad-405c-8c3f-7b5e91bd58eb?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "c7c7774b-6fad-405c-8c3f-7b5e91bd58eb", "attributes":
        {"isComposed": false}, "status": "ready", "createdDateTime": "2020-09-14T20:13:21Z",
        "lastUpdatedDateTime": "2020-09-14T20:13:24Z"}, "trainResult": {"averageModelAccuracy":
        0.96, "trainingDocuments": [{"documentName": "Form_1.jpg", "pages": 1, "status":
        "succeeded"}, {"documentName": "Form_2.jpg", "pages": 1, "status": "succeeded"},
        {"documentName": "Form_3.jpg", "pages": 1, "status": "succeeded"}, {"documentName":
        "Form_4.jpg", "pages": 1, "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "status": "succeeded"}], "fields": [{"fieldName": "CompanyAddress",
        "accuracy": 0.8}, {"fieldName": "CompanyName", "accuracy": 1.0}, {"fieldName":
        "CompanyPhoneNumber", "accuracy": 1.0}, {"fieldName": "DatedAs", "accuracy":
        1.0}, {"fieldName": "Email", "accuracy": 0.8}, {"fieldName": "Merchant", "accuracy":
        1.0}, {"fieldName": "PhoneNumber", "accuracy": 1.0}, {"fieldName": "PurchaseOrderNumber",
        "accuracy": 1.0}, {"fieldName": "Quantity", "accuracy": 1.0}, {"fieldName":
        "Signature", "accuracy": 0.8}, {"fieldName": "Subtotal", "accuracy": 1.0},
        {"fieldName": "Tax", "accuracy": 1.0}, {"fieldName": "Total", "accuracy":
        1.0}, {"fieldName": "VendorName", "accuracy": 1.0}, {"fieldName": "Website",
        "accuracy": 1.0}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/Form_1.jpg"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/c7c7774b-6fad-405c-8c3f-7b5e91bd58eb/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/c7c7774b-6fad-405c-8c3f-7b5e91bd58eb/analyzeresults/cb251eb9-eba1-4343-9565-409c0da613b4
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/c7c7774b-6fad-405c-8c3f-7b5e91bd58eb/analyzeresults/cb251eb9-eba1-4343-9565-409c0da613b4
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2020-09-14T20:13:26Z",
        "lastUpdatedDateTime": "2020-09-14T20:13:30Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/c7c7774b-6fad-405c-8c3f-7b5e91bd58eb/analyzeresults/cb251eb9-eba1-4343-9565-409c0da613b4
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-09-14T20:13:26Z",
        "lastUpdatedDateTime": "2020-09-14T20:13:34Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 1700, "height":
        2200, "unit": "pixel", "selectionMarks": [{"boundingBox": [2, 2060, 195, 2060,
        195, 2200, 2, 2200], "confidence": 0.881, "state": "unselected"}]}], "pageResults":
        [{"page": 1, "tables": [{"rows": 4, "columns": 3, "cells": [{"rowIndex": 1,
        "columnIndex": 1, "text": "SUBTOTAL", "boundingBox": [1072, 1566, 1309, 1566,
        1309, 1610, 1072, 1610]}, {"rowIndex": 1, "columnIndex": 2, "text": "$140.00",
        "boundingBox": [1309, 1566, 1544, 1566, 1544, 1610, 1309, 1610]}, {"rowIndex":
        2, "columnIndex": 1, "text": "TAX", "boundingBox": [1072, 1610, 1309, 1610,
        1309, 1658, 1072, 1658]}, {"rowIndex": 2, "columnIndex": 2, "text": "$4.00",
        "boundingBox": [1309, 1610, 1544, 1610, 1544, 1658, 1309, 1658]}, {"rowIndex":
        3, "colum[...]
