interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/97202bbc-af18-483c-abd4-01224ae92fc9
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/97202bbc-af18-483c-abd4-01224ae92fc9?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "97202bbc-af18-483c-abd4-01224ae92fc9", "status":
        "creating", "createdDateTime": "2020-06-09T21:12:23Z", "lastUpdatedDateTime":
        "2020-06-09T21:12:23Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/97202bbc-af18-483c-abd4-01224ae92fc9?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "97202bbc-af18-483c-abd4-01224ae92fc9", "status":
        "ready", "createdDateTime": "2020-06-09T21:12:23Z", "lastUpdatedDateTime":
        "2020-06-09T21:12:38Z"}, "keys": {"clusters": {"0": ["Address:", "Invoice
        For:", "Item", "Price", "Quantity", "Redmond, WA", "Signature:", "Subtotal:",
        "Tax:", "Tip:", "Total:"]}}, "trainResult": {"trainingDocuments": [{"documentName":
        "multipage_invoice1.pdf", "pages": 3, "errors": [], "status": "succeeded"},
        {"documentName": "multipage_invoice2.pdf", "pages": 3, "errors": [], "status":
        "succeeded"}, {"documentName": "multipage_invoice3.pdf", "pages": 3, "errors":
        [], "status": "succeeded"}, {"documentName": "multipage_invoice4.pdf", "pages":
        3, "errors": [], "status": "succeeded"}, {"documentName": "multipage_invoice5.pdf",
        "pages": 3, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''b\''{"source": "blob_sas_url"}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/97202bbc-af18-483c-abd4-01224ae92fc9/analyze?includeTextDetails=true
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/97202bbc-af18-483c-abd4-01224ae92fc9/analyzeresults/4728ac15-c4e0-4865-8fe2-d21edffbd4cc
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/97202bbc-af18-483c-abd4-01224ae92fc9/analyzeresults/4728ac15-c4e0-4865-8fe2-d21edffbd4cc
  response:
    body:
      string: '{"status": "running", "createdDateTime": "2020-06-09T21:12:39Z", "lastUpdatedDateTime":
        "2020-06-09T21:12:39Z", "analyzeResult": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/97202bbc-af18-483c-abd4-01224ae92fc9/analyzeresults/4728ac15-c4e0-4865-8fe2-d21edffbd4cc
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-06-09T21:12:39Z",
        "lastUpdatedDateTime": "2020-06-09T21:12:44Z", "analyzeResult": {"version":
        "2.0.0", "readResults": [{"page": 1, "angle": 0, "width": 8.5, "height": 11.0,
        "unit": "inch", "lines": [{"text": "Company A Invoice", "boundingBox": [0.8764,
        1.1014, 2.3875, 1.1014, 2.3875, 1.2958, 0.8764, 1.2958], "words": [{"text":
        "Company", "boundingBox": [0.8764, 1.1014, 1.6236, 1.1014, 1.6236, 1.2958,
        0.8764, 1.2958]}, {"text": "A", "boundingBox": [1.6667, 1.1014, 1.7778, 1.1014,
        1.7778, 1.2958, 1.6667, 1.2958]}, {"text": "Invoice", "boundingBox": [1.8222,
        1.1014, 2.3875, 1.1014, 2.3875, 1.2958, 1.8222, 1.2958]}]}, {"text": "Invoice
        For:", "boundingBox": [6.0028, 1.0431, 7.0528, 1.0431, 7.0528, 1.2667, 6.0028,
        1.2667], "words": [{"text": "Invoice", "boundingBox[...]
