interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/f85cc461-0a62-4b3e-8e06-13cc0c35d0e4
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/f85cc461-0a62-4b3e-8e06-13cc0c35d0e4?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "f85cc461-0a62-4b3e-8e06-13cc0c35d0e4", "status":
        "creating", "createdDateTime": "2020-07-10T18:51:17Z", "lastUpdatedDateTime":
        "2020-07-10T18:51:17Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/f85cc461-0a62-4b3e-8e06-13cc0c35d0e4?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/f85cc461-0a62-4b3e-8e06-13cc0c35d0e4?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "f85cc461-0a62-4b3e-8e06-13cc0c35d0e4", "status":
        "ready", "createdDateTime": "2020-07-10T18:51:17Z", "lastUpdatedDateTime":
        "2020-07-10T18:51:34Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/f85cc461-0a62-4b3e-8e06-13cc0c35d0e4?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models?op=full
  response:
    body:
      string: '{"modelList": [{"modelId": "00f7fbe5-a3c7-4e24-a871-9b9a6a450fc1",
        "status": "ready", "createdDateTime": "2020-07-10T18:43:28Z", "lastUpdatedDateTime":
        "2020-07-10T18:43:35Z"}, {"modelId": "30998e09-3dc8-4816-bad2-4d3318719b0c",
        "status": "ready", "createdDateTime": "2020-07-10T18:43:51Z", "lastUpdatedDateTime":
        "2020-07-10T18:44:08Z"}, {"modelId": "3433e426-015e-421a-b794-58fe389a707b",
        "status": "ready", "createdDateTime": "2020-07-10T18:42:22Z", "lastUpdatedDateTime[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/f85cc461-0a62-4b3e-8e06-13cc0c35d0e4
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0/custom/models/f85cc461-0a62-4b3e-8e06-13cc0c35d0e4
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/f85cc461-0a62-4b3e-8e06-13cc0c35d0e4?includeKeys=true
  response:
    body:
      string: '{"error": {"code": "1022", "message": "Model with ''id=f85cc461-0a62-4b3e-8e06-13cc0c35d0e4''
        not found."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0/custom/models/f85cc461-0a62-4b3e-8e06-13cc0c35d0e4?includeKeys=true
version: 1
