interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true, "modelName": "my labeled model"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/d17d479d-fa8b-4c30-8535-250fa9c30e1b
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/d17d479d-fa8b-4c30-8535-250fa9c30e1b?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "d17d479d-fa8b-4c30-8535-250fa9c30e1b", "modelName":
        "my labeled model", "attributes": {"isComposed": false}, "status": "ready",
        "createdDateTime": "2021-05-11T03:34:01Z", "lastUpdatedDateTime": "2021-05-11T03:34:05Z"},
        "trainResult": {"averageModelAccuracy": 0.96, "trainingDocuments": [{"documentName":
        "Form_1.jpg", "pages": 1, "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages": 1, "status":
        "succeeded"}, {"documentName": "Form_5.jpg", "pages": 1, "status": "succeeded"}],
        "fields": [{"fieldName": "CompanyAddress", "accuracy": 0.8}, {"fieldName":
        "CompanyName", "accuracy": 0.995}, {"fieldName": "CompanyPhoneNumber", "accuracy":
        0.995}, {"fieldName": "DatedAs", "accuracy": 0.995}, {"fieldName": "Email",
        "accuracy": 0.8}, {"fieldName": "Merchant", "accuracy": 0.995}, {"fieldName":
        "PhoneNumber", "accuracy": 0.995}, {"fieldName": "PurchaseOrderNumber", "accuracy":
        0.995}, {"fieldName": "Quantity", "accuracy": 0.995}, {"fieldName": "Signature",
        "accuracy": 0.8}, {"fieldName": "Subtotal", "accuracy": 0.995}, {"fieldName":
        "Tax", "accuracy": 0.995}, {"fieldName": "Total", "accuracy": 0.995}, {"fieldName":
        "VendorName", "accuracy": 0.995}, {"fieldName": "Website", "accuracy": 0.995}],
        "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/d17d479d-fa8b-4c30-8535-250fa9c30e1b?includeKeys=true
version: 1
