interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true, "modelName": "model1"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/156950fb-2e25-4afc-aeab-d8b5516515f9
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/156950fb-2e25-4afc-aeab-d8b5516515f9?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "156950fb-2e25-4afc-aeab-d8b5516515f9", "modelName":
        "model1", "status": "creating", "createdDateTime": "2021-05-11T01:39:40Z",
        "lastUpdatedDateTime": "2021-05-11T01:39:40Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/156950fb-2e25-4afc-aeab-d8b5516515f9?includeKeys=true
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/156950fb-2e25-4afc-aeab-d8b5516515f9?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "156950fb-2e25-4afc-aeab-d8b5516515f9", "modelName":
        "model1", "attributes": {"isComposed": false}, "status": "ready", "createdDateTime":
        "2021-05-11T01:39:40Z", "lastUpdatedDateTime": "2021-05-11T01:39:46Z"}, "trainResult":
        {"averageModelAccuracy": 0.96, "trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages": 1, "status":
        "succeeded"}, {"documentName": "Form_4.jpg", "pages": 1, "status": "succeeded"},
        {"documentName": "Form_5.jpg", "pages": 1, "status": "succeeded"}], "fields":
        [{"fieldName": "CompanyAddress", "accuracy": 0.8}, {"fieldName": "CompanyName",
        "accuracy": 0.995}, {"fieldName": "CompanyPhoneNumber", "accuracy": 0.995},
        {"fieldName": "DatedAs", "accuracy": 0.995}, {"fieldName": "Email", "accuracy":
        0.8}, {"fieldName": "Merchant", "accuracy": 0.995}, {"fieldName": "PhoneNumber",
        "accuracy": 0.995}, {"fieldName": "PurchaseOrderNumber", "accuracy": 0.995},
        {"fieldName": "Quantity", "accuracy": 0.995}, {"fieldName": "Signature", "accuracy":
        0.8}, {"fieldName": "Subtotal", "accuracy": 0.995}, {"fieldName": "Tax", "accuracy":
        0.995}, {"fieldName": "Total", "accuracy": 0.995}, {"fieldName": "VendorName",
        "accuracy": 0.995}, {"fieldName": "Website", "accuracy": 0.995}], "errors":
        []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/156950fb-2e25-4afc-aeab-d8b5516515f9?includeKeys=true
[...]
- request:
    body: 'b''{"modelIds": ["156950fb-2e25-4afc-aeab-d8b5516515f9", "5d1dfdf5-9e0b-4a7f-bedf-d7cb2672d4f5"],
      "modelName": "composedmodel"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/compose
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/a708e9fd-ae1b-4add-9e2c-ce6a4d5afdd0
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/compose
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/a708e9fd-ae1b-4add-9e2c-ce6a4d5afdd0?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "a708e9fd-ae1b-4add-9e2c-ce6a4d5afdd0", "modelName":
        "composedmodel", "attributes": {"isComposed": true}, "status": "ready", "createdDateTime":
        "2021-05-11T01:39:57Z", "lastUpdatedDateTime": "2021-05-11T01:39:58Z"}, "composedTrainResults":
        [{"averageModelAccuracy": 0.96, "trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages": 1, "status":
        "succeeded"}, {"documentName": "Form_4.jpg", "pages": 1, "status": "succeeded"},
        {"documentName": "Form_5.jpg", "pages": 1, "status": "succeeded"}], "fields":
        [{"fieldName": "CompanyAddress", "accuracy": 0.8}, [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "0bb395ff-17a2-44a4-b863-e40055170b1f", "accessToken":
        "redacted", "expirationDateTimeTicks": 1620783603}'
    headers:
      content-type: application/json; charset=utf-8
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/0bb395ff-17a2-44a4-b863-e40055170b1f
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/copyAuthorization
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
      "targetResourceRegion": "region", "copyAuthorization": {"modelId": "0bb395ff-17a2-44a4-b863-e40055170b1f",
      "accessToken": 00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks":
      1620783603}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/a708e9fd-ae1b-4add-9e2c-ce6a4d5afdd0/copy
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/a708e9fd-ae1b-4add-9e2c-ce6a4d5afdd0/copyresults/32f726ef-96a4-4c35-86d2-349b1b98aa0f
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/a708e9fd-ae1b-4add-9e2c-ce6a4d5afdd0/copy
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/a708e9fd-ae1b-4add-9e2c-ce6a4d5afdd0/copyresults/32f726ef-96a4-4c35-86d2-349b1b98aa0f
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2021-05-11T01:40:04Z",
        "lastUpdatedDateTime": "2021-05-11T01:40:04Z", "copyResult": {"modelId": "0bb395ff-17a2-44a4-b863-e40055170b1f"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/a708e9fd-ae1b-4add-9e2c-ce6a4d5afdd0/copyresults/32f726ef-96a4-4c35-86d2-349b1b98aa0f
[...]
