interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/8d6e54e6-179e-410e-8415-c8e2dc822050
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/8d6e54e6-179e-410e-8415-c8e2dc822050?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "8d6e54e6-179e-410e-8415-c8e2dc822050", "status":
        "ready", "createdDateTime": "2020-06-11T15:42:06Z", "lastUpdatedDateTime":
        "2020-06-11T15:42:09Z"}, "trainResult": {"averageModelAccuracy": 0.973, "trainingDocuments":
        [{"documentName": "Form_1.jpg", "pages": 1, "status": "succeeded"}, {"documentName":
        "Form_2.jpg", "pages": 1, "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages": 1, "status":
        "succeeded"}], "fields": [{"fieldName": "CompanyAddress", "accuracy": 0.8},
        {"fieldName": "CompanyName", "accuracy": 1.0}, {"fieldName": "CompanyPhoneNumber",
        "accuracy": 1.0}, {"fieldName": "DatedAs", "accuracy": 1.0}, {"fieldName":
        "Email", "accuracy": 0.8}, {"fieldName": "Merchant", "accuracy": 1.0}, {"fieldName":
        "PhoneNumber", "accuracy": 1.0}, {"fieldName": "PurchaseOrderNumber", "accuracy":
        1.0}, {"fieldName": "Quantity", "accuracy": 1.0}, {"fieldName": "Signature",
        "accuracy": 1.0}, {"fieldName": "Subtotal", "accuracy": 1.0}, {"fieldName":
        "Tax", "accuracy": 1.0}, {"fieldName": "Total", "accuracy": 1.0}, {"fieldName":
        "VendorName", "accuracy": 1.0}, {"fieldName": "Website", "accuracy": 1.0}],
        "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"source": "https://badurl.jpg"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/8d6e54e6-179e-410e-8415-c8e2dc822050/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/8d6e54e6-179e-410e-8415-c8e2dc822050/analyzeresults/82607f88-911c-4d78-a569-85074007f340
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/8d6e54e6-179e-410e-8415-c8e2dc822050/analyzeresults/82607f88-911c-4d78-a569-85074007f340
  response:
    body:
      string: '{"status": "failed", "createdDateTime": "2020-06-11T15:42:12Z", "lastUpdatedDateTime":
        "2020-06-11T15:42:13Z", "analyzeResult": {"version": "2.0.0", "errors": [{"code":
        "3014", "message": "Generic error during prediction."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-cs-error-code:
      - '3014'
    status:
      code: 200
      message: OK
version: 1
