interactions:
- request:
    body: '%PDFUUU'
    headers:
      Content-Type:
      - application/pdf
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/businessCard/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "BadArgument", "innerError": {"requestId": "9f801696-55a0-41db-998a-878e7c253813"},
        "message": "Bad or unrecognizable request JSON or binary file."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/businessCard/analyze?includeTextDetails=false
version: 1
