{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/layout/analyze?language=not a language\u0026readingOrder=basic",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "https://blob_sas_url"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "NotSupportedLanguage",
          "message": "The requested operation is not supported in the language specified."
        }
      }
    }
  ],
  "Variables": {}
}
