interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/c6927ea9-3799-4d99-b0a4-aecfb9fa4819
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/c6927ea9-3799-4d99-b0a4-aecfb9fa4819?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "c6927ea9-3799-4d99-b0a4-aecfb9fa4819", "attributes":
        {"isComposed": false}, "status": "ready", "createdDateTime": "2020-10-30T17:53:17Z",
        "lastUpdatedDateTime": "2020-10-30T17:53:19Z"}, "trainResult": {"averageModelAccuracy":
        0.96, "trainingDocuments": [{"documentName": "Form_1.jpg", "pages": 1, "status":
        "succeeded"}, {"documentName": "Form_2.jpg", "pages": 1, "status": "succeeded"},
        {"documentName": "Form_3.jpg", "pages": 1, "status": "succeeded"}, {"documentName":
        "Form_4.jpg", "pages": 1, "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "status": "succeeded"}], "fields": [{"fieldName": "CompanyAddress",
        "accuracy": 0.8}, {"fieldName": "CompanyName", "accuracy": 1.0}, {"fieldName":
        "CompanyPhoneNumber", "accuracy": 1.0}, {"fieldName": "DatedAs", "accuracy":
        1.0}, {"fieldName": "Email", "accuracy": 0.8}, {"fieldName": "Merchant", "accuracy":
        1.0}, {"fieldName": "PhoneNumber", "accuracy": 1.0}, {"fieldName": "PurchaseOrderNumber",
        "accuracy": 1.0}, {"fieldName": "Quantity", "accuracy": 1.0}, {"fieldName":
        "Signature", "accuracy": 0.8}, {"fieldName": "Subtotal", "accuracy": 1.0},
        {"fieldName": "Tax", "accuracy": 1.0}, {"fieldName": "Total", "accuracy":
        1.0}, {"fieldName": "VendorName", "accuracy": 1.0}, {"fieldName": "Website",
        "accuracy": 1.0}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/c6927ea9-3799-4d99-b0a4-aecfb9fa4819?includeKeys=true
version: 1
