interactions:
- request:
    body: 'b''{"source": "https://badurl.jpg"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/xx/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "1001", "message": "Specified model not found or
        not ready, Model Id: xx"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://formrecognizeraccount.cognitiveservices.azure.com//formrecognizer/v2.0/custom/models/xx/analyze?includeTextDetails=false
version: 1
