{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "https://blob_sas_url",
        "sourceFilter": {
          "prefix": "",
          "includeSubFolders": false
        },
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/5181f4d8-1215-4ccd-9236-005f4f3ab266"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/5181f4d8-1215-4ccd-9236-005f4f3ab266?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "5181f4d8-1215-4ccd-9236-005f4f3ab266",
          "status": "creating",
          "createdDateTime": "2021-12-17T06:40:39Z",
          "lastUpdatedDateTime": "2021-12-17T06:40:39Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/5181f4d8-1215-4ccd-9236-005f4f3ab266?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "5181f4d8-1215-4ccd-9236-005f4f3ab266",
          "status": "ready",
          "createdDateTime": "2021-12-17T06:40:39Z",
          "lastUpdatedDateTime": "2021-12-17T06:40:54Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Additional Notes:",
              "Address:",
              "Company Name:",
              "Company Phone:",
              "Dated As:",
              "Details",
              "Email:",
              "Hero Limited",
              "Name:",
              "Phone:",
              "Purchase Order",
              "Purchase Order #:",
              "Quantity",
              "SUBTOTAL",
              "Seattle, WA 93849 Phone:",
              "Shipped From",
              "Shipped To",
              "TAX",
              "TOTAL",
              "Total",
              "Unit Price",
              "Vendor Name:",
              "Website:"
            ]
          }
        },
        "trainResult": {
          "trainingDocuments": [
            {
              "documentName": "Form_1.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_2.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_3.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_4.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            },
            {
              "documentName": "Form_5.jpg",
              "pages": 1,
              "errors": [],
              "status": "succeeded"
            }
          ],
          "errors": []
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/copyAuthorization",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/3cb15fec-f606-400d-95ef-fc58ffbd3065"
      },
      "ResponseBody": {
        "modelId": "3cb15fec-f606-400d-95ef-fc58ffbd3065",
        "accessToken": "redacted",
        "expirationDateTimeTicks": 1639809655
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/5181f4d8-1215-4ccd-9236-005f4f3ab266/copy",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
        "targetResourceRegion": "eastus",
        "copyAuthorization": {
          "modelId": "3cb15fec-f606-400d-95ef-fc58ffbd3065",
          "accessToken": "redacted",
          "expirationDateTimeTicks": 1639809655
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/5181f4d8-1215-4ccd-9236-005f4f3ab266/copyresults/3de13c79-4189-498f-9b04-51d1615ce9e2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/5181f4d8-1215-4ccd-9236-005f4f3ab266/copyresults/3de13c79-4189-498f-9b04-51d1615ce9e2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "notStarted",
        "createdDateTime": "2021-12-17T06:40:56Z",
        "lastUpdatedDateTime": "2021-12-17T06:40:56Z",
        "copyResult": {
          "modelId": "3cb15fec-f606-400d-95ef-fc58ffbd3065"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/5181f4d8-1215-4ccd-9236-005f4f3ab266/copyresults/3de13c79-4189-498f-9b04-51d1615ce9e2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ms-azure-ai-errorcode": "2024"
      },
      "ResponseBody": {
        "status": "failed",
        "createdDateTime": "2021-12-17T06:41:20.0935354Z",
        "lastUpdatedDateTime": "2021-12-17T06:41:20.0935357Z",
        "copyResult": {
          "modelId": "3cb15fec-f606-400d-95ef-fc58ffbd3065",
          "errors": [
            {
              "code": "2024",
              "innerError": {
                "requestId": "a0081c18-138d-462b-add3-404654f14358"
              },
              "message": "Could not retrieve authorization metadata. If this issue persists use a different target model to copy into."
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
