interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/421365f9-7f6f-4c1c-ad71-06c82fff3699
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/421365f9-7f6f-4c1c-ad71-06c82fff3699?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "421365f9-7f6f-4c1c-ad71-06c82fff3699", "attributes":
        {"isComposed": false}, "status": "ready", "createdDateTime": "2021-03-18T14:55:18Z",
        "lastUpdatedDateTime": "2021-03-18T14:55:22Z"}, "trainResult": {"averageModelAccuracy":
        0.96, "trainingDocuments": [{"documentName": "Form_1.jpg", "pages": 1, "status":
        "succeeded"}, {"documentName": "Form_2.jpg", "pages": 1, "status": "succeeded"},
        {"documentName": "Form_3.jpg", "pages": 1, "status": "succeeded"}, {"documentName":
        "Form_4.jpg", "pages": 1, "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "status": "succeeded"}], "fields": [{"fieldName": "CompanyAddress",
        "accuracy": 0.8}, {"fieldName": "CompanyName", "accuracy": 0.995}, {"fieldName":
        "CompanyPhoneNumber", "accuracy": 0.995}, {"fieldName": "DatedAs", "accuracy":
        0.995}, {"fieldName": "Email", "accuracy": 0.8}, {"fieldName": "Merchant",
        "accuracy": 0.995}, {"fieldName": "PhoneNumber", "accuracy": 0.995}, {"fieldName":
        "PurchaseOrderNumber", "accuracy": 0.995}, {"fieldName": "Quantity", "accuracy":
        0.995}, {"fieldName": "Signature", "accuracy": 0.8}, {"fieldName": "Subtotal",
        "accuracy": 0.995}, {"fieldName": "Tax", "accuracy": 0.995}, {"fieldName":
        "Total", "accuracy": 0.995}, {"fieldName": "VendorName", "accuracy": 0.995},
        {"fieldName": "Website", "accuracy": 0.995}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"modelIds": ["421365f9-7f6f-4c1c-ad71-06c82fff3699", "4cedc035-c0a4-46fc-9b12-2508f3fb932d"]}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/compose
  response:
    body:
      string: ''
    headers:
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/2ce015af-a43f-424a-9594-e694d44cd44c
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/2ce015af-a43f-424a-9594-e694d44cd44c?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "2ce015af-a43f-424a-9594-e694d44cd44c", "attributes":
        {"isComposed": true}, "status": "ready", "createdDateTime": "2021-03-18T14:55:29Z",
        "lastUpdatedDateTime": "2021-03-18T14:55:30Z"}, "composedTrainResults": [{"averageModelAccuracy":
        0.96, "trainingDocuments": [{"documentName": "Form_1.jpg", "pages": 1, "status":
        "succeeded"}, {"documentName": "Form_2.jpg", "pages": 1, "status": "succeeded"},
        {"documentName": "Form_3.jpg", "pages": 1, "status": "succeeded"}, {"documentName":
        "Form_4.jpg", "pages": 1, "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "status": "succeeded"}], "fields": [{"fieldName": "CompanyAddress",
        "accuracy": 0.8}, [...]
