{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "https://blob_sas_url",
        "sourceFilter": {
          "prefix": "",
          "includeSubFolders": false
        },
        "useLabelFile": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/57b65580-a5da-40e8-8052-40cd35409a05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/57b65580-a5da-40e8-8052-40cd35409a05?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "57b65580-a5da-40e8-8052-40cd35409a05",
          "status": "ready",
          "createdDateTime": "2022-06-24T01:32:25Z",
          "lastUpdatedDateTime": "2022-06-24T01:32:27Z"
        },
        "trainResult": {
          "averageModelAccuracy": 0.889,
          "trainingDocuments": [
            {
              "documentName": "multipage_invoice1.pdf",
              "pages": 3,
              "status": "succeeded"
            },
            {
              "documentName": "multipage_invoice2.pdf",
              "pages": 3,
              "status": "succeeded"
            },
            {
              "documentName": "multipage_invoice3.pdf",
              "pages": 3,
              "status": "succeeded"
            },
            {
              "documentName": "multipage_invoice4.pdf",
              "pages": 3,
              "status": "succeeded"
            },
            {
              "documentName": "multipage_invoice5.pdf",
              "pages": 3,
              "status": "succeeded"
            }
          ],
          "fields": [
            {
              "fieldName": "Customer2",
              "accuracy": 1.0
            },
            {
              "fieldName": "CustomerAddress",
              "accuracy": 1.0
            },
            {
              "fieldName": "CustomerName",
              "accuracy": 1.0
            },
            {
              "fieldName": "CustomerPhoneNumber",
              "accuracy": 1.0
            },
            {
              "fieldName": "FirstItem",
              "accuracy": 1.0
            },
            {
              "fieldName": "FirstPrice",
          [...]
