{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "operationId": "31505509003_01cb5272-bd79-4628-b352-78978523abd3",
            "kind": "documentModelBuild",
            "status": "succeeded",
            "createdDateTime": "2022-08-18T21:43:17Z",
            "lastUpdatedDateTime": "2022-08-18T21:43:20Z",
            "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/9de430e0-1e66-44cd-8c98-2bb904c59166?api-version=2022-08-31",
            "percentCompleted": 100
          },
          {
            "operationId": "31505509058_8cf54377-84b5-4fec-a422-b4027921d144",
            "kind": "documentModelBuild",
            "status": "succeeded",
            "createdDateTime": "2022-08-18T21:42:22Z",
            "lastUpdatedDateTime": "2022-08-18T21:42:25Z",
            "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/4973fc3c-d677-42c0-825a-01c45639df96?api-version=2022-08-31",
            "percentComple[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations?api-version=2022-08-31\u0026nextLink=2!228!MDAwMTI1IXN1YnNjcmlwdGlvbnMvZGFiZTliNjM3ZTgxNDcwODlkNWJjYTgzNDg0MTViOTYvb3BlcmF0aW9ucy8zMTUwNTY3NDc4OF84Mjc2YWYwMy0zZjMyLTQyYjktYWEzMC04ZGU4NzNkM2UzMWYvb3BlcmF0aW9uSW5mby5qc29uITAwMDAyOCE5OTk5LTEyLTMxVDIzOjU5OjU5Ljk5OTk5OTlaIQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31505763069_3afa08e6-e034-4619-8eea-c12b17b0ce18?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31505763069_3afa08e6-e034-4619-8eea-c12b17b0ce18",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2022-08-15T23:08:50Z",
        "lastUpdatedDateTime": "2022-08-15T23:08:54Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/32d2fd99-6403-4278-941e-59bcbedc8527?api-version=2022-06-30-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "32d2fd99-6403-4278-941e-59bcbedc8527": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "32d2fd99-6403-4278-941e-59bcbedc8527",
          "createdDateTime": "2022-08-15T23:08:54Z",
          "apiVersion": "2022-06-30-preview",
          "description": "my model description"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31505680163_0b34e1d6-e947-43a5-843f-c88a413d7fde?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31505680163_0b34e1d6-e947-43a5-843f-c88a413d7fde",
        "kind": "documentModelBuild",
        "status": "failed",
        "createdDateTime": "2022-08-16T22:10:37Z",
        "lastUpdatedDateTime": "2022-08-16T22:10:37Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/6c3ff3be-2681-4490-95f1-b9ce0c516045?api-version=2022-08-31",
        "percentCompleted": 100,
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid request.",
          "details": [
            {
              "code": "ModelBuildError",
              "message": "Could not build the model: Can\u0027t find any OCR files for training."
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
