interactions:
- request:
    body: 'b''{"source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/Invoice_1.pdf"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/338905b7-fe7e-4c93-b48f-fe5e6858f3a1
    status:
      code: 202
      message: Accepted
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/prebuilt/invoice/analyze?includeTextDetails=false
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/338905b7-fe7e-4c93-b48f-fe5e6858f3a1
  response:
    body:
      string: '{"status": "running", "createdDateTime": "2020-10-23T22:20:23Z", "lastUpdatedDateTime":
        "2020-10-23T22:20:23Z"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/338905b7-fe7e-4c93-b48f-fe5e6858f3a1
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/338905b7-fe7e-4c93-b48f-fe5e6858f3a1
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-10-23T22:20:23Z",
        "lastUpdatedDateTime": "2020-10-23T22:20:31Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 8.5, "height": 11,
        "unit": "inch"}], "pageResults": [{"page": 1, "tables": [{"rows": 2, "columns":
        6, "cells": [{"rowIndex": 0, "columnIndex": 0, "text": "Invoice Number", "boundingBox":
        [0.5075, 2.8088, 1.9061, 2.8088, 1.9061, 3.3219, 0.5075, 3.3219]}, {"rowIndex":
        0, "columnIndex": 1, "text": "Invoice Date", "boundingBox": [1.9061, 2.8088,
        3.3074, 2.8088, 3.3074, 3.3219, 1.9061, 3.3219]}, {"rowIndex": 0, "columnIndex":
        2, "text": "Invoice Due Date", "boundingBox": [3.3074, 2.8088, 4.7074, 2.8088,
        4.7074, 3.3219, 3.3074, 3.3219]}, {"rowIndex": 0, "columnIndex": 3, "text":
        "Charges", "boundingBox": [4.7074, 2.8088, 5.386, 2.8088, 5.386, 3.3219, 4.7074,
        3.3219]}, {"rowIndex": 0, "columnIndex": 5, "text": "VAT ID", "boundingBox":
        [6.1051, 2.8088, 7.5038, 2.8088, 7.5038, 3.3219, 6.1051, 3.3219]}, {"rowIndex":
        1, "columnIndex": 0, "text": "34278587", "boundingBox": [0.5075, 3.3219, 1.9061,
        3.3219, 1.9061, 3.859, 0.5075, 3.859]}, {"rowIndex": 1, "columnIndex": 1,
        "text": "6/18/2017", "boundingBox": [1.9061, 3.3219, 3.3074, 3.3219, 3.3074,
        3.859, 1.9061, 3.859]}, {"rowIndex": 1, "columnIndex": 2, "text": "6/24/2017",
        "boundingBox": [3.3074, 3.3219, 4.7074, 3.3219, 4.7074, 3.859, 3.3074, 3.859]},
        {"rowIndex": 1, "columnIndex": 3, "columnSpan": 2, "text": "$56,651.49", "boundingBox":
        [4.7074, 3.3219, 6.1051, 3.3219, 6.1051, 3.859, 4.7074, 3.859]}, {"rowIndex":
        1, "columnIndex": 5, "text": "PT", "boundingBox": [6.1051, 3.3219, 7.5038,
        3.3219, 7.5038, 3.859, 6.1051, 3.859]}]}]}], "documentResults": [{"docType":
        "prebuilt:invoice", "pageRange": [1, 1], "fields": {"VendorName": {"type":
        "string", "valueString": "Contoso", "text": "Contoso", "boundingBox": [0.5384,
        1.1583, 1.4466, 1.1583, 1.4466, 1.3534, 0.5384, 1.3534], "page": 1, "confidence":
        0.948}, "CustomerAddressRecipient": {"type": "string", "valueString": "Microsoft",
        "text": "Microsoft", "boundingBox": [5.2045, 1.5114, 5.8155, 1.5114, 5.8155,
        1.6151, 5.2045, 1.6151], "page": 1, "confidence": 0.986}, "VendorAddress":
        {"type": "string", "valueString": "1 Redmond way Suite 6000 Redmond, WA 99243",
        "text": "1 Redmond way Suite 6000 Redmond, WA 99243", "boundingBox": [0.8019,
        1.7033, 2.1445, 1.7033, 2.1445, 2.1911, 0.8019, 2.1911], "page": 1, "confidence":
        0.908}, "CustomerAddress": {"type": "string", "valueString": "1020 Enterprise
        Way Sunnayvale, CA 87659", "text": "1020 Enterprise Way Sunnayvale, CA 87659",
        "boundingBox": [5.196, 1.716, 6.6526, 1.716, 6.6526, 2.0359, 5.196, 2.0359],
        "page": 1, "confidence": 0.991}, "InvoiceId": {"type": "string", "valueString":
        "34278587", "text": "34278587", "boundingBox": [0.5397, 3.411, 1.1457, 3.411,
        1.1457, 3.5144, 0.5397, 3.5144], "page": 1, "confidence": 0.879}, "InvoiceDate":
        {"type": "date", "valueDate": "2017-06-18", "text": "6/18/2017", "boundingBox":
        [1.9455, 3.41, 2.551, 3.41, 2.551, 3.5144, 1.9455, 3.5144], "page": 1, "confidence":
        0.929}, "DueDate": {"type": "date", "valueDate": "2017-06-24", "text": "6/24/2017",
        "boundingBox": [3.346, 3.41, 3.9514, 3.41, 3.9514, 3.5144, 3.346, 3.5144],
        "page": 1, "confidence": 0.992}, "InvoiceTotal": {"type": "number", "valueNumber":
        56651.49, "text": "$56,651.49", "boundingBox": [5.3871, 3.4047, 6.0702, 3.4047,
        6.0702, 3.5321, 5.3871, 3.5321], "page": 1, "confidence": 0.895}, "CustomerName":
        {"type": "string", "valueString": "Microsoft", "text": "Microsoft", "boundingBox":
        [5.2045, 1.5114, 5.8155, 1.5114, 5.8155, 1.6151, 5.2045, 1.6151], "page":
        1, "confidence": 0.986}}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/338905b7-fe7e-4c93-b48f-fe5e6858f3a1
[...]
