{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/copyAuthorization",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/857c1c13-accd-4d87-938b-1f74848e9f99"
      },
      "ResponseBody": {
        "modelId": "857c1c13-accd-4d87-938b-1f74848e9f99",
        "accessToken": "redacted",
        "expirationDateTimeTicks": 1656120278
      }
    }
  ],
  "Variables": {}
}
