{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "80947100-a1bd-40f4-b7a4-8f0701db78ca",
        "description": "model1",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31526661377_06980e96-7af6-4c51-9db1-b181beb2acd9?api-version=2021-09-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31526661377_06980e96-7af6-4c51-9db1-b181beb2acd9?api-version=2021-09-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022operationId\u0022: \u002231526661377_06980e96-7af[...]
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:compose?api-version=2021-09-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022modelId\u0022: \u0022e6ab47ed-4b64-44ae-9ee4-e20c647348e2\u0022, \u0022description\u0022: \u0022my composed model\u0022, \u0022componentModels\u0022: [{\u0022modelId\u0022: \u002280947100-a1bd-40f4-b7a4-8f0701db78ca\u0022}, {\u0022modelId\u0022: \u00228f9572e4-3304-466d-a6ff-ab8ab374af99\u0022}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31526661360_cd9beac5-93b6-45b3-a392-c81161e84bfa?api-version=2021-09-30-preview"
      },
      "ResponseBody": null
    },
[...]
