{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-invoice?api-version=2021-09-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022docTypes\u0022: {\n",
        "    \u0022prebuilt:invoice\u0022: {\n",
        "      \u0022fieldSchema\u0022: {\n",
        "        \u0022CustomerName\u0022: {\n",
        "          \u0022type\u0022: \u0022string\u0022\n",
        "        },\n",
        "        \u0022CustomerId\u0022: {\n",
        "          \u0022type\u0022: \u0022string\u0022\n",
        "        },\n",
        "        \u0022PurchaseOrder\u0022: {\n",
        "          \u0022type\u002[...]
