interactions:
- request:
    body: 'b''{"modelId": "261185ae-638d-47fc-8a19-65fa223f2d3a", "azureBlobSource":
      {"containerUrl": "container_sas_url"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/operations/31527274806_613a3a9e-66f4-43a0-96fc-88d57c384490?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31527274806_613a3a9e-66f4-43a0-96fc-88d57c384490?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31527274806_613a3a9e-66f4-43a0-96fc-88d57c384490",
        "kind": "documentModelBuild", "status": "running", "createdDateTime": "2021-12-09T23:39:53Z",
        "lastUpdatedDateTime": "2021-12-09T23:39:57Z", "resourceLocation": "https://region.api.cognitive.microsoft.com//formrecognizer/documentModels/261185ae-638d-47fc-8a19-65fa223f2d3a?api-version=2021-09-30-preview"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31527274806_613a3a9e-66f4-43a0-96fc-88d57c384490?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31527274806_613a3a9e-66f4-43a0-96fc-88d57c384490",
        "kind": "documentModelBuild", "status": "succeeded", "createdDateTime": "2021-12-09T23:39:53Z",
        "lastUpdatedDateTime": "2021-12-09T23:40:02Z", "resourceLocation": "https://region.api.cognitive.microsoft.com//formrecognizer/documentModels/261185ae-638d-47fc-8a19-65fa223f2d3a?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"261185ae-638d-47fc-8a19-65fa223f2d3a":
        {"fieldSchema": {"Merchant": {"type": "string"}, "PhoneNumber": {"type": "string"},
        "Website": {"type": "string"}, "Email": {"type": "string"}, "PurchaseOrderNumber":
        {"type": "string"}, "DatedAs": {"type": "string"}, "VendorName": {"type":
        "string"}, "CompanyName": {"type": "string"}, "CompanyAddress": {"type": "string"},
        "CompanyPhoneNumber": {"type": "string"}, "Subtotal": {"type": "string"},
        "Tax": {"type": "string"}, "Total": {"type": "string"}, "Signature": {"type":
        "string"}, "Quantity": {"type": "number"}, "FullSignature": {"type": "signature"}},
        "technique": "fixedTemplate-2021-07-30", "modelType": "form", "fieldConfidence":
        {"CompanyAddress": 0.4, "CompanyName": 0.6, "CompanyPhoneNumber": 0.6, "DatedAs":
        0.6, "Email": 0.4, "FullSignature": 0, "Merchant": 0.6, "PhoneNumber": 0.6,
        "PurchaseOrderNumber": 0.6, "Quantity": 0.6, "Signature": 0.95, "Subtotal":
        0.6, "Tax": 0.6, "Total": 0.6, "VendorName": 0.6, "Website": 0.6}}}, "modelId":
        "261185ae-638d-47fc-8a19-65fa223f2d3a", "createdDateTime": "2021-12-09T23:40:02Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
