interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      true}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/4f252d24-59ad-4ff6-ba77-3b3893a4da81
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/4f252d24-59ad-4ff6-ba77-3b3893a4da81?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "4f252d24-59ad-4ff6-ba77-3b3893a4da81", "status":
        "creating", "createdDateTime": "2021-09-07T21:21:42Z", "lastUpdatedDateTime":
        "2021-09-07T21:21:42Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/4f252d24-59ad-4ff6-ba77-3b3893a4da81?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "4f252d24-59ad-4ff6-ba77-3b3893a4da81", "status":
        "ready", "createdDateTime": "2021-09-07T21:21:42Z", "lastUpdatedDateTime":
        "2021-09-07T21:21:57Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "subfolder/Form_6.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/fb278ead-f1b2-4295-a581-1f23a2f9b7e7?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "fb278ead-f1b2-4295-a581-1f23a2f9b7e7", "status":
        "ready", "createdDateTime": "2021-09-07T21:21:58Z", "lastUpdatedDateTime":
        "2021-09-07T21:22:06Z"}, "keys": {"clusters": {"0": ["Address:", "Company
        Name:", "Company Phone:", "Dated As:", "Details", "Name:", "Phone:", "Purchase
        Order #:", "Quantity", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "subfolder/Form_6.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/fa2fadff-617a-4dc5-a43e-b933b377d3a2?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "fa2fadff-617a-4dc5-a43e-b933b377d3a2", "status":
        "invalid", "createdDateTime": "2021-09-07T21:22:09Z", "lastUpdatedDateTime":
        "2021-09-07T21:22:10Z"}, "keys": {"clusters": {}}, "trainResult": {"trainingDocuments":
        [], "errors": [{"code": "2014", "message": "No valid blobs found in the specified
        Azure blob container. Please conform to the document format/size/page/dimensions
        requirements."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-azure-ai-errorcode:
      - '2014'
    status:
      code: 200
      message: OK
version: 1
