interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/2d72380c-9dac-475a-a4da-24f4cf110adc
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/2d72380c-9dac-475a-a4da-24f4cf110adc?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "2d72380c-9dac-475a-a4da-24f4cf110adc", "attributes":
        {"isComposed": false}, "status": "ready", "createdDateTime": "2021-03-18T15:58:52Z",
        "lastUpdatedDateTime": "2021-03-18T15:58:56Z"}, "trainResult": {"averageModelAccuracy":
        0.971, "trainingDocuments": [{"documentName": "multi1.pdf", "pages": 2, "status":
        "succeeded"}, {"documentName": "multi2.pdf", "pages": 2, "status": "succeeded"},
        {"documentName": "multi3.pdf", "pages": 2, "status": "succeeded"}, {"documentName":
        "multi4.pdf", "pages": 2, "status": "succeeded"}, {"documentName": "multi5.pdf",
        "pages": 2, "status": "succeeded"}], "fields": [{"fieldName": "Bronze", "accuracy":
        0.995}, {"fieldName": "CompanyName", "accuracy": 0.8}, {"fieldName": "Contact",
        "accuracy": 0.995}, {"fieldName": "Full", "accuracy": 0.995}, {"fieldName":
        "Gold", "accuracy": 0.995}, {"fieldName": "Half", "accuracy": 0.995}, {"fieldName":
        "Silver", "accuracy": 0.995}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/2d72380c-9dac-475a-a4da-24f4cf110adc?includeKeys=true
version: 1
