{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "7c8645ea-a921-4b75-9465-afb3f2508ca1",
        "description": "model1",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31523109921_0c2e00a5-fc1b-41f8-a40a-d5aba2a314b3?api-version=2022-01-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31523109921_0c2e00a5-fc1b-41f8-a40a-d5aba2a314b3?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31523109921_0c2e00a5-fc1b-41f8-a40a-d5aba2a314b3",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2022-01-27T04:34:39Z",
        "lastUpdatedDateTime": "2022-01-27T04:34:44Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/7c8645ea-a921-4b75-9465-afb3f2508ca1?api-version=2022-01-30-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "7c8645ea-a921-4b75-9465-afb3f2508ca1": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.95,
                "CompanyPhoneNumber": 0.95,
                "DatedAs": 0.95,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.95,
                "PhoneNumber": 0.95,
                "PurchaseOrderNumber": 0.95,
                "Quantity": 0.95,
                "Signature": 0.95,
                "Subtotal": 0.95,
                "Tax": 0.95,
                "Total": 0.95,
                "VendorName": 0.95,
                "Website": 0.95
              }
            }
          },
          "modelId": "7c8645ea-a921-4b75-9465-afb3f2508ca1",
          "createdDateTime": "2022-01-27T04:34:44Z",
          "apiVersion": "2022-01-30-preview",
          "description": "model1"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:compose?api-version=2022-01-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "66178b90-9035-4253-8dd2-0021ed298ada",
        "description": "my composed model",
        "componentModels": [
          {
            "modelId": "7c8645ea-a921-4b75-9465-afb3f2508ca1"
          },
          {
            "modelId": "21d813bf-b113-4d48-a3f4-9f1ae33b1e4d"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31523109904_a116494c-6d4a-48b3-85a1-e99bd3eba8ad?api-version=2022-01-30-preview"
      },
      "ResponseBody": null
    },
[...]
