interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a727930b-fcea-4030-9bb3-48789ac3424f
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a727930b-fcea-4030-9bb3-48789ac3424f?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "a727930b-fcea-4030-9bb3-48789ac3424f", "status":
        "ready", "createdDateTime": "2020-06-09T21:13:37Z", "lastUpdatedDateTime":
        "2020-06-09T21:13:39Z"}, "trainResult": {"averageModelAccuracy": 0.973, "trainingDocuments":
        [{"documentName": "Form_1.jpg", "pages": 1, "status": "succeeded"}, {"documentName":
        "Form_2.jpg", "pages": 1, "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages": 1, "status":
        "succeeded"}], "fields": [{"fieldName": "CompanyAddress", "accuracy": 0.8},
        {"fieldName": "CompanyName", "accuracy": 1.0}, {"fieldName": "CompanyPhoneNumber",
        "accuracy": 1.0}, {"fieldName": "DatedAs", "accuracy": 1.0}, {"fieldName":
        "Email", "accuracy": 0.8}, {"fieldName": "Merchant", "accuracy": 1.0}, {"fieldName":
        "PhoneNumber", "accuracy": 1.0}, {"fieldName": "PurchaseOrderNumber", "accuracy":
        1.0}, {"fieldName": "Quantity", "accuracy": 1.0}, {"fieldName": "Signature",
        "accuracy": 1.0}, {"fieldName": "Subtotal", "accuracy": 1.0}, {"fieldName":
        "Tax", "accuracy": 1.0}, {"fieldName": "Total", "accuracy": 1.0}, {"fieldName":
        "VendorName", "accuracy": 1.0}, {"fieldName": "Website", "accuracy": 1.0}],
        "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models?op=full
  response:
    body:
      string: '{"modelList": [{"modelId": "0530cd22-3401-4611-94f9-d1417ad23efc",
        "status": "ready", "createdDateTime": "2020-06-09T21:13:20Z", "lastUpdatedDateTime":
        "2020-06-09T21:13:25Z"}, {"modelId": "09866d2a-b433-42ff-95a2-886437df538d",
        "status": "ready", "createdDateTime": "2020-06-09T21:12:46Z", "lastUpdatedDateTime":
        "2020-06-09T21:12:48Z"}, {"modelId": "377d548d-2b75-4455-be39-ce1a2baae6ee",
        "status": "ready", "createdDateTime": "2020-06-09T21:12:27Z", "lastUpdatedDateTime":
        "2020-06-09T21:12:35Z"}, {"modelId": "a727930b-fcea-4030-9bb3-48789ac3424f",
        "status": "ready", "createdDateTime": "2020-06-09T21:13:37Z", "lastUpdatedDateTime":
        "2020-06-09T21:13:39Z"}, {"modelId": "c0387a6e-5c23-4220-be4a-8cf9f0f4b9e3",
        "status": "ready", "createdDateTime": "2020-06-09T21:12:57Z", "lastUpdatedDateTime":
        "2020-06-09T21:13:05Z"}, {"modelId": "c9c04756-ae7e-418b-ade7-f98f940eaa55",
        "status": "ready", "createdDateTime": "2020-06-09T21:12:10Z", "lastUpdatedDateTime":
        "2020-06-09T21:12:12Z"}], "nextLink": ""}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a727930b-fcea-4030-9bb3-48789ac3424f
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a727930b-fcea-4030-9bb3-48789ac3424f?includeKeys=true
  response:
    body:
      string: '{"error": {"code": "1022", "message": "Model with ''id=a727930b-fcea-4030-9bb3-48789ac3424f''
        not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
