interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/e8017a6e-8a0d-4b7f-80d7-91fa59dd81d0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/e8017a6e-8a0d-4b7f-80d7-91fa59dd81d0?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "e8017a6e-8a0d-4b7f-80d7-91fa59dd81d0", "status":
        "creating", "createdDateTime": "2020-06-09T21:14:52Z", "lastUpdatedDateTime":
        "2020-06-09T21:14:52Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/e8017a6e-8a0d-4b7f-80d7-91fa59dd81d0?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "e8017a6e-8a0d-4b7f-80d7-91fa59dd81d0", "status":
        "ready", "createdDateTime": "2020-06-09T21:14:52Z", "lastUpdatedDateTime":
        "2020-06-09T21:15:00Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
