{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "34def42e-e76c-48f9-babd-afa07ae0c5f1",
        "description": "model1",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31505674545_5978d0f7-70a7-4253-9c6f-42a5e32b4665?api-version=2022-08-31"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31505674545_5978d0f7-70a7-4253-9c6f-42a5e32b4665?api-version=2022-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31505674545_5978d0f7-70a7-4253-9c6f-42a5e32b4665",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2022-08-16T23:44:14Z",
        "lastUpdatedDateTime": "2022-08-16T23:44:18Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/34def42e-e76c-48f9-babd-afa07ae0c5f1?api-version=2022-08-31",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "34def42e-e76c-48f9-babd-afa07ae0c5f1": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "34def42e-e76c-48f9-babd-afa07ae0c5f1",
          "createdDateTime": "2022-08-16T23:44:18Z",
          "apiVersion": "2022-08-31",
          "description": "model1"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:compose?api-version=2022-08-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "9108c6a9-73c2-40f3-824a-7222ae947fc7",
        "description": "my composed model",
        "componentModels": [
          {
            "modelId": "34def42e-e76c-48f9-babd-afa07ae0c5f1"
          },
          {
            "modelId": "04a39c64-9d36-4c7f-ba03-c5167be4f6ac"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31505674532_aeb24fb8-c481-4a12-9d70-93bcb74f1e4b?api-version=2022-08-31"
      },
      "ResponseBody": null
    },
[...]
