interactions:
- request:
    body: 'b''{"modelId": "60eb4c4d-3157-42cd-b8a0-4d943ee4b966", "azureBlobSource":
      {"containerUrl": "container_sas_url"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534700991_12c32071-697e-4ac2-87e7-d6fc46897791?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534700991_12c32071-697e-4ac2-87e7-d6fc46897791?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31534700991_12c32071-697e-4ac2-87e7-d6fc46897791",
        "kind": "documentModelBuild", "status": "succeeded", "createdDateTime": "2021-09-15T00:50:09Z",
        "lastUpdatedDateTime": "2021-09-15T00:50:12Z", "resourceLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/60eb4c4d-3157-42cd-b8a0-4d943ee4b966?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"60eb4c4d-3157-42cd-b8a0-4d943ee4b966":
        {"fieldSchema": {"Merchant": {"type": "string"}, "MerchantAddress": {"type":
        "string"}, "MerchantPhoneNumber": {"type": "string"}, "CustomerName": {"type":
        "string"}, "CustomerAddress": {"type": "string"}, "CustomerPhoneNumber": {"type":
        "string"}, "FirstItem": {"type": "string"}, "FirstQuantity": {"type": "string"},
        "FirstPrice": {"type": "string"}, "Subtotal": {"type": "string"}, "Tax": {"type":
        "string"}, "Tip": {"type": "string"}, "Total": {"type": "string"}, "Signature":
        {"type": "string"}, "Merchant2": {"type": "string"}, "Customer2": {"type":
        "string"}, "Total2": {"type": "string"}, "Signature2": {"type": "string"}},
        "fieldConfidence": {"Customer2": 0.95, "CustomerAddress": 0.95, "CustomerName":
        0.95, "CustomerPhoneNumber": 0.95, "FirstItem": 0.95, "FirstPrice": 0.95,
        "FirstQuantity": 0.95, "Merchant": 0, "Merchant2": 0, "MerchantAddress": 0.95,
        "MerchantPhoneNumber": 0.95, "Signature": 0.95, "Signature2": 0.95, "Subtotal":
        0.95, "Tax": 0.95, "Tip": 0.95, "Total": 0.95, "Total2": 0.95}}}, "modelId":
        "60eb4c4d-3157-42cd-b8a0-4d943ee4b966", "createdDateTime": "2021-09-15T00:50:12Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534700991_12c32071-697e-4ac2-87e7-d6fc46897791?api-version=2021-09-30-preview
version: 1
