interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/7bee575f-1df2-41b2-8467-626912792ffb
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/7bee575f-1df2-41b2-8467-626912792ffb?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "7bee575f-1df2-41b2-8467-626912792ffb", "status":
        "creating", "createdDateTime": "2020-09-14T19:35:12Z", "lastUpdatedDateTime":
        "2020-09-14T19:35:12Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/7bee575f-1df2-41b2-8467-626912792ffb?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "7bee575f-1df2-41b2-8467-626912792ffb", "status":
        "ready", "createdDateTime": "2020-09-14T19:35:12Z", "lastUpdatedDateTime":
        "2020-09-14T19:35:26Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Ft Lauderdale, FL Phone:", "Hero Limited", "Name:", "Phone:", "Purchase Order",
        "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped
        From", "Shipped To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:",
        "Website:"]}}, "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "ff677acc-7b94-43ab-b77b-8d8e01a16f3b", "accessToken":
        "redacted", "expirationDateTimeTicks": 1600198528}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/ff677acc-7b94-43ab-b77b-8d8e01a16f3b
    status:
      code: 201
      message: Created
- request:
    body: 'b''b\''{"targetResourceId": "resource_id", "targetResourceRegion": "eastus",
      "copyAuthorization": {"modelId": "ff677acc-7b94-43ab-b77b-8d8e01a16f3b", "accessToken":
      00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks": 1600198528}}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/7bee575f-1df2-41b2-8467-626912792ffb/copy
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/7bee575f-1df2-41b2-8467-626912792ffb/copyresults/e35af486-5a91-48f5-998f-abc0e90c0201
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/7bee575f-1df2-41b2-8467-626912792ffb/copyresults/e35af486-5a91-48f5-998f-abc0e90c0201
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2020-09-14T19:35:28Z",
        "lastUpdatedDateTime": "2020-09-14T19:35:28Z", "copyResult": {"modelId": "ff677acc-7b94-43ab-b77b-8d8e01a16f3b"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/7bee575f-1df2-41b2-8467-626912792ffb/copyresults/e35af486-5a91-48f5-998f-abc0e90c0201
  response:
    body:
      string: '{"status": "failed", "createdDateTime": "2020-09-14T19:35:39.9404576Z",
        "lastUpdatedDateTime": "2020-09-14T19:35:39.9404579Z", "copyResult": {"modelId":
        "ff677acc-7b94-43ab-b77b-8d8e01a16f3b", "errors": [{"code": "AuthorizationError",
        "message": "Could not retrieve authorization metadata. If this issue persists
        use a different target model to copy into."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-cs-error-code:
      - AuthorizationError
    status:
      code: 200
      message: OK
version: 1
