interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/96a441e5-209b-4c06-81fa-50df90909c6d
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/96a441e5-209b-4c06-81fa-50df90909c6d?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "96a441e5-209b-4c06-81fa-50df90909c6d", "status":
        "creating", "createdDateTime": "2020-10-30T17:52:19Z", "lastUpdatedDateTime":
        "2020-10-30T17:52:19Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/96a441e5-209b-4c06-81fa-50df90909c6d?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/96a441e5-209b-4c06-81fa-50df90909c6d?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "96a441e5-209b-4c06-81fa-50df90909c6d", "status":
        "ready", "createdDateTime": "2020-10-30T17:52:19Z", "lastUpdatedDateTime":
        "2020-10-30T17:52:33Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Ft Lauderdale, FL Phone:", "Hero Limited", "Name:", "Phone:", "Purchase Order",
        "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped
        From", "Shipped To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:",
        "Website:"]}}, "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/96a441e5-209b-4c06-81fa-50df90909c6d?includeKeys=true
version: 1
