interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/840bd2e6-8761-4081-9540-586ed421ff2c
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/840bd2e6-8761-4081-9540-586ed421ff2c?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "840bd2e6-8761-4081-9540-586ed421ff2c", "status":
        "creating", "createdDateTime": "2021-05-11T01:16:40Z", "lastUpdatedDateTime":
        "2021-05-11T01:16:40Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/840bd2e6-8761-4081-9540-586ed421ff2c?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/840bd2e6-8761-4081-9540-586ed421ff2c?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "840bd2e6-8761-4081-9540-586ed421ff2c", "status":
        "ready", "createdDateTime": "2021-05-11T01:16:40Z", "lastUpdatedDateTime":
        "2021-05-11T01:16:57Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Ft Lauderdale, FL Phone:", "Hero Limited", "Name:", "Phone:", "Purchase Order",
        "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped
        From", "Shipped To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:",
        "Website:"]}}, "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/840bd2e6-8761-4081-9540-586ed421ff2c?includeKeys=true
- request:
    body: null
    headers:
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "967dff9f-cc03-426d-9260-8ac8e9bc05cb", "accessToken":
        "redacted", "expirationDateTimeTicks": 1620782220}'
    headers:
      content-type: application/json; charset=utf-8
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/967dff9f-cc03-426d-9260-8ac8e9bc05cb
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/copyAuthorization
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
      "targetResourceRegion": "CANADACENTRAL", "copyAuthorization": {"modelId": "967dff9f-cc03-426d-9260-8ac8e9bc05cb",
      "accessToken": 00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks":
      1620782220}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/840bd2e6-8761-4081-9540-586ed421ff2c/copy
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/840bd2e6-8761-4081-9540-586ed421ff2c/copyresults/537e8d9b-969f-4e58-8662-51c8062f735f
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/840bd2e6-8761-4081-9540-586ed421ff2c/copy
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/840bd2e6-8761-4081-9540-586ed421ff2c/copyresults/537e8d9b-969f-4e58-8662-51c8062f735f
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2021-05-11T01:17:01Z",
        "lastUpdatedDateTime": "2021-05-11T01:17:01Z", "copyResult": {"modelId": "967dff9f-cc03-426d-9260-8ac8e9bc05cb"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/840bd2e6-8761-4081-9540-586ed421ff2c/copyresults/537e8d9b-969f-4e58-8662-51c8062f735f
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/840bd2e6-8761-4081-9540-586ed421ff2c/copyresults/537e8d9b-969f-4e58-8662-51c8062f735f
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-05-11T01:17:29.8438241Z",
        "lastUpdatedDateTime": "2021-05-11T01:17:29.8438248Z", "copyResult": {"modelId":
        "967dff9f-cc03-426d-9260-8ac8e9bc05cb"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/840bd2e6-8761-4081-9540-586ed421ff2c/copyresults/537e8d9b-969f-4e58-8662-51c8062f735f
version: 1
