interactions:
- request:
    body: '{"source": "b''\\xff\\xd8\\xff\\xe0''"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/layout/analyze
  response:
    body:
      string: '{"error":{"code":"FailedToDownloadImage","message":"Failed to download
        image from input URL."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - centraluseuap.api.cognitive.microsoft.com
        - //formrecognizer/v2.0-preview/layout/analyze
        - ''
        - ''
version: 1
