interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/a6329d07-e95c-44fc-aed9-0d9847cb7965
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/a6329d07-e95c-44fc-aed9-0d9847cb7965?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "a6329d07-e95c-44fc-aed9-0d9847cb7965", "status":
        "creating", "createdDateTime": "2020-07-10T18:42:35Z", "lastUpdatedDateTime":
        "2020-07-10T18:42:35Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/a6329d07-e95c-44fc-aed9-0d9847cb7965?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "a6329d07-e95c-44fc-aed9-0d9847cb7965", "status":
        "ready", "createdDateTime": "2020-07-10T18:42:35Z", "lastUpdatedDateTime":
        "2020-07-10T18:42:44Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "8b206c1b-3975-44f9-92dd-9ca8efed488c", "accessToken":
        "redacted", "expirationDateTimeTicks": 1594492965}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/8b206c1b-3975-44f9-92dd-9ca8efed488c
    status:
      code: 201
      message: Created
- request:
    body: 'b''b\''{"targetResourceId": "resource_id", "targetResourceRegion": "centraluseuap",
      "copyAuthorization": {"modelId": "8b206c1b-3975-44f9-92dd-9ca8efed488c", "accessToken":
      00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks": 1594492965}}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/a6329d07-e95c-44fc-aed9-0d9847cb7965/copy
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/a6329d07-e95c-44fc-aed9-0d9847cb7965/copyresults/ac89fd4f-81a8-4fef-bf22-e17feb441e05
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/a6329d07-e95c-44fc-aed9-0d9847cb7965/copyresults/ac89fd4f-81a8-4fef-bf22-e17feb441e05
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2020-07-10T18:42:46Z",
        "lastUpdatedDateTime": "2020-07-10T18:42:46Z", "copyResult": {"modelId": "8b206c1b-3975-44f9-92dd-9ca8efed488c"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/8b206c1b-3975-44f9-92dd-9ca8efed488c?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "8b206c1b-3975-44f9-92dd-9ca8efed488c", "status":
        "ready", "createdDateTime": "2020-07-10T18:42:35Z", "lastUpdatedDateTime":
        "2020-07-10T18:42:44Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
