interactions:
- request:
    body: '!!! The request body has been omitted from the recording because its size
      154512 is larger than 128KB. !!!'
    headers:
      Content-Type:
      - application/octet-stream
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/prebuilt-receipt:analyze?locale=not%20a%20locale&stringIndexType=unicodeCodePoint&api-version=2021-09-30-preview
  response:
    body:
      string: '{"error": {"code": "InvalidArgument", "message": "Invalid argument.",
        "innererror": {"code": "InvalidParameter", "message": "The parameter Locale
        is invalid: The language code is invalid or not supported."}}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/prebuilt-receipt:analyze?locale=not%20a%20locale&stringIndexType=unicodeCodePoint&api-version=2021-09-30-preview
version: 1
