interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/53008695-7c34-41c1-a39a-f19fbfc388ec
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.1/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/53008695-7c34-41c1-a39a-f19fbfc388ec?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "53008695-7c34-41c1-a39a-f19fbfc388ec", "status":
        "creating", "createdDateTime": "2020-09-14T19:50:28Z", "lastUpdatedDateTime":
        "2020-09-14T19:50:28Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/53008695-7c34-41c1-a39a-f19fbfc388ec?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/53008695-7c34-41c1-a39a-f19fbfc388ec?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "53008695-7c34-41c1-a39a-f19fbfc388ec", "status":
        "ready", "createdDateTime": "2020-09-14T19:50:28Z", "lastUpdatedDateTime":
        "2020-09-14T19:50:45Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Ft Lauderdale, FL Phone:", "Hero Limited", "Name:", "Phone:", "Purchase Order",
        "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped
        From", "Shipped To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:",
        "Website:"]}}, "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/53008695-7c34-41c1-a39a-f19fbfc388ec?includeKeys=true
- request:
    body: '%PDFUUU'
    headers:
      Content-Type:
      - application/pdf
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/53008695-7c34-41c1-a39a-f19fbfc388ec/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/53008695-7c34-41c1-a39a-f19fbfc388ec/analyzeresults/8ed1e349-f8a8-40e8-a5d3-836631083265
    status:
      code: 202
      message: Accepted
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.1/custom/models/53008695-7c34-41c1-a39a-f19fbfc388ec/analyze?includeTextDetails=false
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/53008695-7c34-41c1-a39a-f19fbfc388ec/analyzeresults/8ed1e349-f8a8-40e8-a5d3-836631083265
  response:
    body:
      string: '{"status": "failed", "createdDateTime": "2020-09-14T19:50:49Z", "lastUpdatedDateTime":
        "2020-09-14T19:50:50Z", "analyzeResult": {"version": "2.1.0", "readResults":
        [], "pageResults": [], "documentResults": [], "errors": [{"code": "2005",
        "message": "Unable to read file."}]}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-cs-error-code: '2005'
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/53008695-7c34-41c1-a39a-f19fbfc388ec/analyzeresults/8ed1e349-f8a8-40e8-a5d3-836631083265
version: 1
