interactions:
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/idDocument/analyze?includeTextDetails=false&pages=1
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/idDocument/analyzeResults/336a83dc-7143-401f-a208-4153f16aac05
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/idDocument/analyze?includeTextDetails=false&pages=1
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/idDocument/analyzeResults/336a83dc-7143-401f-a208-4153f16aac05
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-09-23T22:11:05Z",
        "lastUpdatedDateTime": "2021-09-23T22:11:08Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": -0.2823, "width": 450, "height":
        294, "unit": "pixel"}], "documentResults": [{"docType": "prebuilt:idDocument:driverLicense",
        "docTypeConfidence": 0.995, "pageRange": [1, 1], "fields": {"Address": {"type":
        "string", "valueString": "123 STREET ADDRESS YOUR CITY WA 99999-1234", "text":
        "123 STREET ADDRESS YOUR CITY WA 99999-1234", "boundingBox": [158, 151, 326,
        151, 326, 177, 158, 177], "page": 1, "confidence": 0.965}, "CountryRegion":
        {"type": "countryRegion", "confidence": 0.99, "valueCountryRegion": "USA"},
        "DateOfBirth": {"type": "date", "valueDate": "1958-01-06", "text": "01/06/1958",
        "boundingBox": [187, 133, 272, 132, 272, 148, 187, 149], "page": 1, "confidence":
        0.99}, "DateOfExpiration": {"type": "date", "valueDate": "2020-08-12", "text":
        "08/12/2020", "boundingBox": [332, 230, 414, 228, 414, 244, 332, 245], "page":
        1, "confidence": 0.99}, "DocumentNumber": {"type": "string", "valueString":
        "WDLABCD456DG", "text": "LIC#WDLABCD456DG", "boundingBox": [162, 70, 307,
        68, 307, 84, 163, 85], "page": 1, "confidence": 0.987}, "FirstName": {"type":
        "string", "valueString": "LIAM R.", "text": "LIAM R.", "boundingBox": [158,
        102, 216, 102, 216, 116, 158, 116], "page": 1, "confidence": 0.985}, "LastName":
        {"type": "string", "valueString": "TALBOT", "text": "TALBOT", "boundingBox":
        [160, 86, 213, 85, 213, 99, 160, 100], "page": 1, "confidence": 0.987}, "Region":
        {"type": "string", "valueString": "Washington", "confidence": 0.99}, "Sex":
        {"type": "string", "valueString": "M", "text": "M", "boundingBox": [226, 190,
        232, 190, 233, 201, 226, 201], "page": 1, "confidence": 0.99}}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/idDocument/analyzeResults/336a83dc-7143-401f-a208-4153f16aac05
version: 1
