interactions:
- request:
    body: 'b''{"source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/Invoice_1.tiff"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/f6365f2f-3fd9-4961-b976-ab05b30d5d36
    status:
      code: 202
      message: Accepted
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/prebuilt/invoice/analyze?includeTextDetails=false
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/f6365f2f-3fd9-4961-b976-ab05b30d5d36
  response:
    body:
      string: '{"status": "running", "createdDateTime": "2020-10-30T01:12:45Z", "lastUpdatedDateTime":
        "2020-10-30T01:12:45Z"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/f6365f2f-3fd9-4961-b976-ab05b30d5d36
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/f6365f2f-3fd9-4961-b976-ab05b30d5d36
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-10-30T01:12:45Z",
        "lastUpdatedDateTime": "2020-10-30T01:12:53Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 1700, "height":
        2200, "unit": "pixel"}], "pageResults": [{"page": 1, "tables": [{"rows": 3,
        "columns": 6, "cells": [{"rowIndex": 0, "columnIndex": 0, "text": "Invoice
        Number", "boundingBox": [101, 556, 380, 558, 380, 662, 101, 661]}, {"rowIndex":
        0, "columnIndex": 1, "text": "Invoice Date", "boundingBox": [380, 558, 658,
        558, 659, 662, 380, 662]}, {"rowIndex": 0, "columnIndex": 2, "text": "Invoice
        Due Date", "boundingBox": [658, 558, 941, 558, 941, 662, 659, 662]}, {"rowIndex":
        0, "columnIndex": 3, "columnSpan": 2, "text": "Charges", "boundingBox": [941,
        558, 1220, 558, 1220, 662, 941, 662]}, {"rowIndex": 0, "columnIndex": 5, "text":
        "VAT ID", "boundingBox": [1220, 558, 1499, 556, 1500, 661, 1220, 662]}, {"rowIndex":
        1, "columnIndex": 0, "rowSpan": 2, "text": "34278587", "boundingBox": [101,
        661, 380, 662, 380, 771, 101, 771]}, {"rowIndex": 1, "columnIndex": 1, "rowSpan":
        2, "text": "6/18/2017", "boundingBox": [380, 662, 659, 662, 661, 771, 380,
        771]}, {"rowIndex": 1, "columnIndex": 2, "rowSpan": 2, "text": "6/24/2017",
        "boundingBox": [659, 662, 941, 662, 941, 771, 661, 771]}, {"rowIndex": 1,
        "columnIndex": 3, "rowSpan": 2, "columnSpan": 2, "text": "$56,651.49", "boundingBox":
        [941, 662, 1220, 662, 1220, 771, 941, 771]}, {"rowIndex": 1, "columnIndex":
        5, "rowSpan": 2, "text": "PT", "boundingBox": [1220, 662, 1500, 661, 1500,
        769, 1220, 771]}], "boundingBox": [100, 556, 1499, 556, 1498, 771, 99, 771]}]}],
        "documentResults": [{"docType": "prebuilt:invoice", "pageRange": [1, 1], "fields":
        {"VendorName": {"type": "string", "valueString": "Contoso", "text": "Contoso",
        "boundingBox": [106, 232, 288, 234, 288, 274, 105, 274], "page": 1, "confidence":
        0.921}, "CustomerAddressRecipient": {"type": "string", "valueString": "Microsoft",
        "text": "Microsoft", "boundingBox": [1035, 299, 1164, 300, 1165, 326, 1036,
        327], "page": 1, "confidence": 0.993}, "VendorAddress": {"type": "string",
        "valueString": "1 Redmond way Suite 6000 Redmond, WA 99243", "text": "1 Redmond
        way Suite 6000 Redmond, WA 99243", "boundingBox": [158, 337, 433, 337, 433,
        441, 158, 441], "page": 1, "confidence": 0.907}, "CustomerAddress": {"type":
        "string", "valueString": "1020 Enterprise Way Sunnayvale, CA 87659", "text":
        "1020 Enterprise Way Sunnayvale, CA 87659", "boundingBox": [1036.1, 337.1,
        1333.2, 338.1, 1333, 408.4, 1035.9, 407.5], "page": 1, "confidence": 0.995},
        "InvoiceId": {"type": "string", "valueString": "34278587", "text": "34278587",
        "boundingBox": [105, 680, 229, 680, 230, 705, 106, 705], "page": 1, "confidence":
        0.768}, "InvoiceDate": {"type": "date", "valueDate": "2017-06-18", "text":
        "6/18/2017", "boundingBox": [387, 680, 510, 680, 510, 705, 387, 705], "page":
        1, "confidence": 0.89}, "DueDate": {"type": "date", "valueDate": "2017-06-24",
        "text": "6/24/2017", "boundingBox": [668, 679, 792, 679, 792, 705, 667, 705],
        "page": 1, "confidence": 0.988}, "InvoiceTotal": {"type": "number", "valueNumber":
        56651.49, "text": "$56,651.49", "boundingBox": [1075, 680, 1224, 680, 1225,
        705, 1075, 707], "page": 1, "confidence": 0.847}, "CustomerName": {"type":
        "string", "valueString": "Microsoft", "text": "Microsoft", "boundingBox":
        [1035, 299, 1164, 300, 1165, 326, 1036, 327], "page": 1, "confidence": 0.993}}}]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/f6365f2f-3fd9-4961-b976-ab05b30d5d36
version: 1
