interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/b8524ec9-c0c3-4ffb-afb7-7ee42435b06b
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/b8524ec9-c0c3-4ffb-afb7-7ee42435b06b?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "b8524ec9-c0c3-4ffb-afb7-7ee42435b06b", "status":
        "creating", "createdDateTime": "2021-03-19T19:34:12Z", "lastUpdatedDateTime":
        "2021-03-19T19:34:12Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/b8524ec9-c0c3-4ffb-afb7-7ee42435b06b?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "b8524ec9-c0c3-4ffb-afb7-7ee42435b06b", "status":
        "ready", "createdDateTime": "2021-03-19T19:34:12Z", "lastUpdatedDateTime":
        "2021-03-19T19:34:32Z"}, "keys": {"clusters": {"0": ["Address:", "Invoice
        For:", "Item", "Price", "Quantity", "Redmond, WA", "Signature:", "Subtotal:",
        "Tax:", "Tip:", "Total:"]}}, "trainResult": {"trainingDocuments": [{"documentName":
        "multipage_invoice1.pdf", "pages": 3, "errors": [], "status": "succeeded"},
        {"documentName": "multipage_invoice2.pdf", "pages": 3, "errors": [], "status":
        "succeeded"}, {"documentName": "multipage_invoice3.pdf", "pages": 3, "errors":
        [], "status": "succeeded"}, {"documentName": "multipage_invoice4.pdf", "pages":
        3, "errors": [], "status": "succeeded"}, {"documentName": "multipage_invoice5.pdf",
        "pages": 3, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/b8524ec9-c0c3-4ffb-afb7-7ee42435b06b/analyze?includeTextDetails=true
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/b8524ec9-c0c3-4ffb-afb7-7ee42435b06b/analyzeresults/6acc651b-95d8-499d-b427-d8b3a91e74be
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/b8524ec9-c0c3-4ffb-afb7-7ee42435b06b/analyzeresults/6acc651b-95d8-499d-b427-d8b3a91e74be
  response:
    body:
      string: '{"status": "running", "createdDateTime": "2021-03-19T19:34:38Z", "lastUpdatedDateTime":
        "2021-03-19T19:34:39Z", "analyzeResult": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/b8524ec9-c0c3-4ffb-afb7-7ee42435b06b/analyzeresults/6acc651b-95d8-499d-b427-d8b3a91e74be
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-03-19T19:34:38Z",
        "lastUpdatedDateTime": "2021-03-19T19:34:49Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 8.5, "height": 11.0,
        "unit": "inch", "lines": [{"text": "Company A Invoice", "boundingBox": [0.8722,
        1.1107, 2.3958, 1.1107, 2.3958, 1.2917, 0.8722, 1.2917], "words": [{"text":
        "Company", "boundingBox": [0.8722, 1.1146, 1.6042, 1.1146, 1.6042, 1.2917,
        0.8722, 1.2917], "confidence": 0.994}, {"text": "A", "boundingBox": [1.6389,
        1.1076, 1.7431, 1.1076, 1.7431, 1.2917, 1.6389, 1.2917], "confidence": 0.997},
        {"text": "Invoice", "boundingBox": [1.7944, 1.1076, 2.3958, 1.1076, 2.3958,
        1.2917, 1.7944, 1.2917], "confidence": 0.932}]}, {"text": "Invoice For:",
        "boundingBox": [6.0028, 1.059, 7.0556, 1.059, 7.0556, 1.2292, 6.0028, 1.2292],
        "words": [{"text": "Invoice", "boundingBox": [6.0028, 1.059, 6.6181, 1.059,
        6.6181, 1.2292, 6.002[...]
