interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/7662c0c8-2d44-4018-b870-985a11b48c8e
    status:
      code: 201
      message: Created
    url: https://westus.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/7662c0c8-2d44-4018-b870-985a11b48c8e?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"7662c0c8-2d44-4018-b870-985a11b48c8e","status":"creating","createdDateTime":"2020-04-30T20:14:44Z","lastUpdatedDateTime":"2020-04-30T20:14:44Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/7662c0c8-2d44-4018-b870-985a11b48c8e?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/7662c0c8-2d44-4018-b870-985a11b48c8e?includeKeys=true
  response:
    body:
      string: '{"modelInfo":{"modelId":"7662c0c8-2d44-4018-b870-985a11b48c8e","status":"ready","createdDateTime":"2020-04-30T20:14:44Z","lastUpdatedDateTime":"2020-04-30T20:14:55Z"},"keys":{"clusters":{"0":["Address:","Invoice
        For:","Redmond, WA","Signature:","Subtotal:","Tax:","Tip:","Total:"]}},"trainResult":{"trainingDocuments":[{"documentName":"multipage_invoice1.pdf","pages":3,"errors":[],"status":"succeeded"},{"documentName":"multipage_invoice2.pdf","pages":3,"errors":[],"status":"succeeded"},{"documentName":"multipage_invoice3.pdf","pages":3,"errors":[],"status":"succeeded"},{"documentName":"multipage_invoice4.pdf","pages":3,"errors":[],"status":"succeeded"},{"documentName":"multipage_invoice5.pdf","pages":3,"errors":[],"status":"succeeded"}],"errors":[]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/7662c0c8-2d44-4018-b870-985a11b48c8e?includeKeys=true
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/7662c0c8-2d44-4018-b870-985a11b48c8e/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/7662c0c8-2d44-4018-b870-985a11b48c8e/analyzeresults/246d9c3a-7d2e-4d09-a686-92903bb8cdc7
    status:
      code: 202
      message: Accepted
    url: https://westus.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models/7662c0c8-2d44-4018-b870-985a11b48c8e/analyze?includeTextDetails=false
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/7662c0c8-2d44-4018-b870-985a11b48c8e/analyzeresults/246d9c3a-7d2e-4d09-a686-92903bb8cdc7
  response:
    body:
      string: '{"status":"succeeded","createdDateTime":"2020-04-30T20:14:59Z","lastUpdatedDateTime":"2020-04-30T20:15:04Z","analyzeResult":{"version":"2.0.0","readResults":[{"page":1,"angle":0,"width":8.5,"height":11.0,"unit":"inch","lines":[]},{"page":3,"angle":0,"width":8.5,"height":11.0,"unit":"inch","lines":[]}],"pageResults":[{"page":1,"keyValuePairs":[{"key":{"text":"Invoice
        For:","boundingBox":[6.0028,1.0431,7.0528,1.0431,7.0528,1.2667,6.0028,1.2667],"elements":null},"value":{"text":"Bilbo
        Baggins 123 Hobbit Lane","boundingBox":[6.0028,1.4389,7.1083,1.4389,7.1083,1.8264,6.0028,1.8264],"elements":null},"confidence":1.0},{"key":{"text":"Address:","boundingBox":[0.8764,1.4681,1.5778,1.4681,1.5778,1.6625,0.8764,1.6625],"elements":null},"value":{"text":"567
        Main St.","boundingBox":[0.8764,1.8292,1.725,1.8292,1.725,1.9958,0.8764,1.9958],"elements":null},"confidence":1.0},{"key":{"text":"Redmond,
        WA","boundingBox":[6.0028,1.8792,6.9819,1.8792,6.9819,2.0458,6.0028,2.0458],"elements":null},"value":{"text":"555-555-5555","boundingBox":[6.0028,2.0986,6.9472,2.0986,6.9472,2.2653,6.0028,2.2653],"elemen[...]
