{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "436f1b44-d192-4a85-aecf-627597e74fb8",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31510340076_70b3f307-42ae-4ddd-9d93-7e37e5d16b6d?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31510340076_70b3f307-42ae-4ddd-9d93-7e37e5d16b6d?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31510340076_70b3f307-42ae-4ddd-9d93-7e37e5d16b6d",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2022-06-23T23:45:23Z",
        "lastUpdatedDateTime": "2022-06-23T23:45:25Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/436f1b44-d192-4a85-aecf-627597e74fb8?api-version=2022-06-30-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "436f1b44-d192-4a85-aecf-627597e74fb8": {
              "fieldSchema": {
                "table": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Item": {
                        "type": "string"
                      },
                      "Price": {
                        "type": "string"
                      },
                      "Tax": {
                        "type": "string"
                      },
                      "Total": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "table": 0.995,
                "table: Item": 0.995,
                "table: Price": 0.995,
                "table: Tax": 0.995,
                "table: Total": 0.995
              }
            }
          },
          "modelId": "436f1b44-d192-4a85-aecf-627597e74fb8",
          "createdDateTime": "2022-06-23T23:45:25Z",
          "apiVersion": "2022-06-30-preview"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/436f1b44-d192-4a85-aecf-627597e74fb8:analyze?stringIndexType=unicodeCodePoint\u0026api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "urlSource": "https://blob_sas_url"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/436f1b44-d192-4a85-aecf-627597e74fb8/analyzeResults/d31a4d40-6506-429b-b105-7c8dd924b071?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/436f1b44-d192-4a85-aecf-627597e74fb8/analyzeResults/d31a4d40-6506-429b-b105-7c8dd924b071?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-06-23T23:45:30Z",
        "lastUpdatedDateTime": "2022-06-23T23:45:33Z",
        "analyzeResult": {
          "apiVersion": "2022-06-30-preview",
          "modelId": "436f1b44-d192-4a85-aecf-627597e74fb8",
          "stringIndexType": "unicodeCodePoint",
          "content": "Con t oso, Ltd.\nItem\nPrice\nTax\nTotal\nApple\n5.00\n2.00\n7.00\nOrange\n2.00\n1.00\n3.00\n1.00\n4.00\n5.00\nPear\n2.00\n2.00",
          "pages": [
            {
              "pageNumber": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch",
              "words": [
                {
                  "content": "Con",
                  "polygon": [
                    1.0075,
                    1.0471,
                    1.2329,
                    1.0471,
                    1.2329,
                    1.1465,
                    1.0075,
                    1.1465
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 0,
                    "length": 3
                  }
                },
                {
                  "content": "t",
                  "polygon": [
                    1.2461,
                    1.0557,
                    1.2901,
                    1.0557,
                    1.2901,
                    1.1464,
                    1.2461,
                    1.1464
                  ],
                  "confidence": 1,
                  "span": {
                    "offset": 4,
                    "length": 1
   [...]
