interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/bd013138-ae9a-4edc-b4f9-3b6cfd6bde14
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/bd013138-ae9a-4edc-b4f9-3b6cfd6bde14?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "bd013138-ae9a-4edc-b4f9-3b6cfd6bde14", "status":
        "creating", "createdDateTime": "2021-09-09T00:54:03Z", "lastUpdatedDateTime":
        "2021-09-09T00:54:03Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/bd013138-ae9a-4edc-b4f9-3b6cfd6bde14?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "bd013138-ae9a-4edc-b4f9-3b6cfd6bde14", "status":
        "ready", "createdDateTime": "2021-09-09T00:54:03Z", "lastUpdatedDateTime":
        "2021-09-09T00:54:17Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "e3c6ef6f-1047-4d06-be1e-971284b14894", "accessToken":
        "redacted", "expirationDateTimeTicks": 1631235259}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/e3c6ef6f-1047-4d06-be1e-971284b14894
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
      "targetResourceRegion": "CENTRALUSEUAP", "copyAuthorization": {"modelId": "e3c6ef6f-1047-4d06-be1e-971284b14894",
      "accessToken": 00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks":
      1631235259}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/bd013138-ae9a-4edc-b4f9-3b6cfd6bde14/copy
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/bd013138-ae9a-4edc-b4f9-3b6cfd6bde14/copyresults/3ab6d684-593e-4a4f-b13d-051fa21d76cf
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/bd013138-ae9a-4edc-b4f9-3b6cfd6bde14/copyresults/3ab6d684-593e-4a4f-b13d-051fa21d76cf
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-09-09T00:54:21.9582027Z",
        "lastUpdatedDateTime": "2021-09-09T00:54:21.9582029Z", "copyResult": {"modelId":
        "e3c6ef6f-1047-4d06-be1e-971284b14894"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
