interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a9b558b2-152e-43fc-b060-2f97d0a2fcc6
    status:
      code: 201
      message: Created
    url: https://westus.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a9b558b2-152e-43fc-b060-2f97d0a2fcc6?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "a9b558b2-152e-43fc-b060-2f97d0a2fcc6", "status":
        "creating", "createdDateTime": "2020-05-14T01:09:11Z", "lastUpdatedDateTime":
        "2020-05-14T01:09:11Z"}, "accessToken": "redacted"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a9b558b2-152e-43fc-b060-2f97d0a2fcc6?includeKeys=true
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a9b558b2-152e-43fc-b060-2f97d0a2fcc6?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "a9b558b2-152e-43fc-b060-2f97d0a2fcc6", "status":
        "ready", "createdDateTime": "2020-05-14T01:09:11Z", "lastUpdatedDateTime":
        "2020-05-14T01:09:18Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Address:", "Company Name:", "Company Phone:", "Dated As:", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order", "Purchase
        Order #:", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Vendor Name:", "Website:"]}}, "trainResult": {"trainingDocuments":
        [{"documentName": "Form_1.jpg", "pages": 1, "errors": [], "status": "succeeded"},
        {"documentName": "Form_2.jpg", "pages": 1, "errors": [], "status": "succeeded"},
        {"documentName": "Form_3.jpg", "pages": 1, "errors": [], "status": "succeeded"},
        {"documentName": "Form_4.jpg", "pages": 1, "errors": [], "status": "succeeded"},
        {"documentName": "Form_5.jpg", "pages": 1, "errors": [], "status": "succeeded"}],
        "errors": []}, "accessToken": "redacted"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a9b558b2-152e-43fc-b060-2f97d0a2fcc6?includeKeys=true
- request:
    body: null
    headers:
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "7c88c4f8-053f-4e37-bc03-ce80e81f49e5", "accessToken":
        "redacted", "expirationDateTimeTicks": 637251017619338551}'
    headers:
      content-type: application/json; charset=utf-8
      location: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/7c88c4f8-053f-4e37-bc03-ce80e81f49e5
    status:
      code: 201
      message: Created
    url: https://westus.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models/copyAuthorization
- request:
    body: 'b''b\''{"targetResourceId": "resource_id", "targetResourceRegion": "westus",
      "copyAuthorization": {"modelId": "7c88c4f8-053f-4e37-bc03-ce80e81f49e5", "accessToken":
      00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks": 637251017619338551}}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a9b558b2-152e-43fc-b060-2f97d0a2fcc6/copy
  response:
    body:
      string: ''
    headers:
      operation-location: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a9b558b2-152e-43fc-b060-2f97d0a2fcc6/copyresults/fe00dde8-61e6-4fb0-9712-6c3e0b5d61ce
    status:
      code: 202
      message: Accepted
    url: https://westus.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models/a9b558b2-152e-43fc-b060-2f97d0a2fcc6/copy
- request:
    body: null
    headers:
    method: GET
    uri: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a9b558b2-152e-43fc-b060-2f97d0a2fcc6/copyresults/fe00dde8-61e6-4fb0-9712-6c3e0b5d61ce
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-05-14T01:09:31.2445585Z",
        "lastUpdatedDateTime": "2020-05-14T01:09:31.2445588Z", "copyResult": {}, "accessToken":
        "redacted"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/a9b558b2-152e-43fc-b060-2f97d0a2fcc6/copyresults/fe00dde8-61e6-4fb0-9712-6c3e0b5d61ce
[...]
