interactions:
- request:
    body: 'b''{"source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/multi1.pdf"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/329f7239-2b17-45ee-86b8-519b200d2c19
    status:
      code: 202
      message: Accepted
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/prebuilt/invoice/analyze?includeTextDetails=false
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/329f7239-2b17-45ee-86b8-519b200d2c19
  response:
    body:
      string: '{"status": "running", "createdDateTime": "2020-11-04T21:05:34Z", "lastUpdatedDateTime":
        "2020-11-04T21:05:34Z"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/329f7239-2b17-45ee-86b8-519b200d2c19
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyzeResults/329f7239-2b17-45ee-86b8-519b200d2c19
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-11-04T21:05:34Z",
        "lastUpdatedDateTime": "2020-11-04T21:05:45Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 8.5, "height": 11,
        "unit": "inch"}, {"page": 2, "angle": 0, "width": 8.5, "height": 11, "unit":
        "inch"}], "pageResults": [{"page": 1, "tables": [{"rows": 13, "columns": 4,
        "cells": [{"rowIndex": 0, "columnIndex": 0, "text": "Package", "boundingBox":
        [0.9975, 4.6436, 2.6168, 4.6436, 2.6168, 4.8578, 0.9975, 4.8578], "elements":
        []}, {"rowIndex": 0, "columnIndex": 1, "columnSpan": 2, "text": "Included",
        "boundingBox": [2.6168, 4.6436, 5.7422, 4.6436, 5.7422, 4.8578, 2.6168, 4.8578],
        "elements": []}, {"rowIndex": 0, "columnIndex": 3, "text": "Price", "boundingBox":
        [5.7422, 4.6436, 7.4882, 4.6436, 7.4882, 4.8513, 5.7422, 4.8578], "elements":
        []}, {"rowIndex": 1, "columnIndex": 0, "text": "Gold Sponsor", "boundingBox":
        [0.9975, 4.8578, 2.6168, 4.8578, 2.6168, 5.0849, 0.9975, 5.0914], "elements":
        []}, {"rowIndex": 1, "columnIndex": 1, "text": "\uf0b7", "boundingBox": [2.6168,
        4.8578, 3.15, 4.8578, 3.15, 5.0849, 2.6168, 5.0849], "elements": []}, {"rowIndex":
        1, "columnIndex": 2, "text": "Full booth", "boundingBox": [3.15, 4.8578, 5.7422,
        4.8578, 5.7422, 5.0849, 3.15, 5.0849], "elements": []}, {"rowIndex": 1, "columnIndex":
        3, "text": "$1,500", "boundingBox": [5.7422, 4.8578, 7.4882, 4.8513, 7.4882,
        5.0849, 5.7422, 5.0849], "elements": []}, {"rowIndex": 2, "columnIndex": 0,
        "rowSpan": 3, "boundingBox": [0.9975, 5.0914, 2.6168, 5.0849, 2.6168, 5.9222,
        0.9975, 5.9222], "text": "", "elements": []}, {"rowIndex": 2, "columnIndex":
        1, "text": "\uf0b7 \uf0b7", "boundingBox": [2.6168, 5.0849, 3.15, 5.0849,
        3.15, 5.5198, 2.6168, 5.5198], "elements": []}, {"rowIndex": 2, "columnIndex":
        2, "text": "Pre-keynote thank you Logo on poster", "boundingBox": [3.15, 5.0849,
        5.7422, 5.0849, 5.7489, 5.5133, 3.15, 5.5198], "elements": []}, {"rowIndex":
    [...]
