interactions:
- request:
    body: 'b''{"source": "b\''\\\\xff\\\\xd8\\\\xff\\\\xe0\''"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/layout/analyze
  response:
    body:
      string: '{"error": {"code": "FailedToDownloadImage", "message": "Failed to download
        image from input URL."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0/layout/analyze
version: 1
