interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/pdf
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/prebuilt/receipt/analyze?includeTextDetails=false&locale=b%27%25PDFUUU%27
  response:
    body:
      string: '{"error": {"code": "InvalidImage", "innerError": {"requestId": "7e6e9015-43a3-4e13-93a6-7e94d7caebdc"},
        "message": "The input data is not a valid image or password protected."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
