interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true, "modelName": "my labeled model"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/0c7d379c-86cd-435a-94fa-55afa79a7520
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/0c7d379c-86cd-435a-94fa-55afa79a7520?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "0c7d379c-86cd-435a-94fa-55afa79a7520", "modelName":
        "my labeled model", "attributes": {"isComposed": false}, "status": "ready",
        "createdDateTime": "2021-09-07T21:22:21Z", "lastUpdatedDateTime": "2021-09-07T21:22:24Z"},
        "trainResult": {"averageModelAccuracy": 0.96, "trainingDocuments": [{"documentName":
        "Form_1.jpg", "pages": 1, "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages": 1, "status":
        "succeeded"}, {"documentName": "Form_5.jpg", "pages": 1, "status": "succeeded"}],
        "fields": [{"fieldName": "CompanyAddress", "accuracy": 0.8}, {"fieldName":
        "CompanyName", "accuracy": 0.995}, {"fieldName": "CompanyPhoneNumber", "accuracy":
        0.995}, {"fieldName": "DatedAs", "accuracy": 0.995}, {"fieldName": "Email",
        "accuracy": 0.8}, {"fieldName": "Merchant", "accuracy": 0.995}, {"fieldName":
        "PhoneNumber", "accuracy": 0.995}, {"fieldName": "PurchaseOrderNumber", "accuracy":
        0.995}, {"fieldName": "Quantity", "accuracy": 0.995}, {"fieldName": "Signature",
        "accuracy": 0.8}, {"fieldName": "Subtotal", "accuracy": 0.995}, {"fieldName":
        "Tax", "accuracy": 0.995}, {"fieldName": "Total", "accuracy": 0.995}, {"fieldName":
        "VendorName", "accuracy": 0.995}, {"fieldName": "Website", "accuracy": 0.995}],
        "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
