interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/c4cf199e-dc44-4c66-964e-f941bd614d23
    status:
      code: 201
      message: Created
    url: https://westcentralus.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/c4cf199e-dc44-4c66-964e-f941bd614d23?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "c4cf199e-dc44-4c66-964e-f941bd614d23", "status":
        "ready", "createdDateTime": "2020-06-09T21:14:57Z", "lastUpdatedDateTime":
        "2020-06-09T21:14:58Z"}, "trainResult": {"averageModelAccuracy": 0.889, "trainingDocuments":
        [{"documentName": "multipage_invoice1.pdf", "pages": 3, "status": "succeeded"},
        {"documentName": "multipage_invoice2.pdf", "pages": 3, "status": "succeeded"},
        {"documentName": "multipage_invoice3.pdf", "pages": 3, "status": "succeeded"},
        {"documentName": "multipage_invoice4.pdf", "pages": 3, "status": "succeeded"},
        {"documentName": "multipage_invoice5.pdf", "pages": 3, "status": "succeeded"}],
        "fields": [{"fieldName": "Customer2", "accuracy": 1.0}, {"fieldName": "CustomerAddress",
        "accuracy": 1.0}, {"fieldName": "CustomerName", "accuracy": 1.0}, {"fieldName":
        "CustomerPhoneNumber", "accuracy": 1.0}, {"fieldName": "FirstItem", "accuracy":
        1.0}, {"fieldName": "FirstPrice", "accuracy": 1.0}, {"fieldName": "FirstQuantity",
        "accuracy": 1.0}, {"fieldName": "Merchant", "accuracy": 0.0}, {"fieldName":
        "Merchant2", "accuracy": 0.0}, {"fieldName": "MerchantAddress", "accuracy":
        1.0}, {"fieldName": "MerchantPhoneNumber", "accuracy": 1.0}, {"fieldName":
        "Signature", "accuracy": 1.0}, {"fieldName": "Signature2", "accuracy": 1.0},
        {"fieldName": "Subtotal", "accuracy": 1.0}, {"fieldName": "Tax", "accuracy":
        1.0}, {"fieldName": "Tip", "accuracy": 1.0}, {"fieldName": "Total", "accuracy":
        1.0}, {"fieldName": "Total2", "accuracy": 1.0}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/c4cf199e-dc44-4c66-964e-f941bd614d23?includeKeys=true
version: 1
