interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/673fb7fe-4c10-4388-9d5e-64418ad84c7d
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/673fb7fe-4c10-4388-9d5e-64418ad84c7d?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "673fb7fe-4c10-4388-9d5e-64418ad84c7d", "status":
        "ready", "createdDateTime": "2020-08-07T21:42:34Z", "lastUpdatedDateTime":
        "2020-08-07T21:42:37Z"}, "trainResult": {"averageModelAccuracy": 0.973, "trainingDocuments":
        [{"documentName": "Form_1.jpg", "pages": 1, "status": "succeeded"}, {"documentName":
        "Form_2.jpg", "pages": 1, "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages": 1, "status":
        "succeeded"}], "fields": [{"fieldName": "CompanyAddress", "accuracy": 0.8},
        {"fieldName": "CompanyName", "accuracy": 1.0}, {"fieldName": "CompanyPhoneNumber",
        "accuracy": 1.0}, {"fieldName": "DatedAs", "accuracy": 1.0}, {"fieldName":
        "Email", "accuracy": 0.8}, {"fieldName": "Merchant", "accuracy": 1.0}, {"fieldName":
        "PhoneNumber", "accuracy": 1.0}, {"fieldName": "PurchaseOrderNumber", "accuracy":
        1.0}, {"fieldName": "Quantity", "accuracy": 1.0}, {"fieldName": "Signature",
        "accuracy": 1.0}, {"fieldName": "Subtotal", "accuracy": 1.0}, {"fieldName":
        "Tax", "accuracy": 1.0}, {"fieldName": "Total", "accuracy": 1.0}, {"fieldName":
        "VendorName", "accuracy": 1.0}, {"fieldName": "Website", "accuracy": 1.0}],
        "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
