interactions:
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/invoice/analyze?includeTextDetails=false&locale=not%20a%20locale
  response:
    body:
      string: '{"error": {"code": "UnsupportedLocale", "innerError": {"requestId":
        "23316842-484b-4aef-ba4e-6805619ad35b"}, "message": "Locale unsupported. Supported
        locale includes en-US."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/prebuilt/invoice/analyze?includeTextDetails=false&locale=not%20a%20locale
version: 1
