interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/e3b19ae0-3407-462d-a9ae-9b59cbfa59d5
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/e3b19ae0-3407-462d-a9ae-9b59cbfa59d5?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "e3b19ae0-3407-462d-a9ae-9b59cbfa59d5", "status":
        "creating", "createdDateTime": "2020-08-17T18:07:54Z", "lastUpdatedDateTime":
        "2020-08-17T18:07:54Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/e3b19ae0-3407-462d-a9ae-9b59cbfa59d5?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "e3b19ae0-3407-462d-a9ae-9b59cbfa59d5", "status":
        "ready", "createdDateTime": "2020-08-17T18:07:54Z", "lastUpdatedDateTime":
        "2020-08-17T18:08:06Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "1492ba3b-187c-4b9b-8e02-df2e0da5bcb9", "accessToken":
        "redacted", "expirationDateTimeTicks": 1597774092}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/1492ba3b-187c-4b9b-8e02-df2e0da5bcb9
    status:
      code: 201
      message: Created
- request:
    body: 'b''b\''{"targetResourceId": "resource_id", "targetResourceRegion": "centraluseuap",
      "copyAuthorization": {"modelId": "1492ba3b-187c-4b9b-8e02-df2e0da5bcb9", "accessToken":
      00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks": 1597774092}}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/00000000-0000-0000-0000-000000000000/copy
  response:
    body:
      string: '{"error": {"code": "1022", "message": "Model with ''id=00000000-0000-0000-0000-000000000000''
        not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
