{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "https://blob_sas_url",
        "sourceFilter": {
          "prefix": "",
          "includeSubFolders": false
        },
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/bf808b67-55b7-4668-82db-a7072d8d923e"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/bf808b67-55b7-4668-82db-a7072d8d923e?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "bf808b67-55b7-4668-82db-a7072d8d923e",
          "status": "creating",
          "createdDateTime": "2021-12-16T21:58:26Z",
          "lastUpdatedDateTime": "2021-12-16T21:58:26Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/bf808b67-55b7-4668-82db-a7072d8d923e?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "bf808b67-55b7-4668-82db-a7072d8d923e",
          "status": "ready",
          "createdDateTime": "2021-12-16T21:58:26Z",
          "lastUpdatedDateTime": "2021-12-16T22:01:17Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Item",
              "Price",
              "Tax",
              "Total"
            ],
            "1": [
              "1 Redmond way Suite",
              "Address:",
              "Charges",
              "Contoso",
              "Invoice Date",
              "Invoice Due Date",
              "Invoice For:",
              "Invoice Number",
              "VAT ID"
            ],
            "2": [
              "DESCRIPTION",
              "LINE TOTAL",
   [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/bf808b67-55b7-4668-82db-a7072d8d923e/analyze?includeTextDetails=false\u0026pages=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "https://blob_sas_url"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/bf808b67-55b7-4668-82db-a7072d8d923e/analyzeresults/121139b7-edd3-4b2d-8eb9-8ec96465cfaa"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/bf808b67-55b7-4668-82db-a7072d8d923e/analyzeresults/121139b7-edd3-4b2d-8eb9-8ec96465cfaa",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "{\u0022status\u0022: \u0022running\u0022, \u0022createdDateTime\u0022: \u00222021-12-16T22:01:23Z\u0022, \u0022lastUpdatedDateTime\u0022: \u00222021-12-16T22:01:24Z\u0022, \u0022analyzeResult\u0022: null}"
    },
[...]
