interactions:
- request:
    body: '%PDFUUU'
    headers:
      Content-Type:
      - application/pdf
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/prebuilt/invoice/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "BadArgument", "innerError": {"requestId": "216af805-d6c7-46cc-b99b-30e2e5dc8b23"},
        "message": "Bad or unrecognizable request JSON or binary file."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
