interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/2c4d3199-6b35-451c-9cc6-4e575601e5fb
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/2c4d3199-6b35-451c-9cc6-4e575601e5fb?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "2c4d3199-6b35-451c-9cc6-4e575601e5fb", "status":
        "creating", "createdDateTime": "2020-10-30T17:43:52Z", "lastUpdatedDateTime":
        "2020-10-30T17:43:52Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/2c4d3199-6b35-451c-9cc6-4e575601e5fb?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "2c4d3199-6b35-451c-9cc6-4e575601e5fb", "attributes":
        {"isComposed": false}, "status": "ready", "createdDateTime": "2020-10-30T17:43:52Z",
        "lastUpdatedDateTime": "2020-10-30T17:44:54Z"}, "trainResult": {"averageModelAccuracy":
        0.889, "trainingDocuments": [{"documentName": "multipage_invoice1.pdf", "pages":
        3, "status": "succeeded"}, {"documentName": "multipage_invoice2.pdf", "pages":
        3, "status": "succeeded"}, {"documentName": "multipage_invoice3.pdf", "pages":
        3, "status": "succeeded"}, {"documentName": "multipage_invoice4.pdf", "pages":
        3, "status": "succeeded"}, {"documentName": "multipage_invoice5.pdf", "pages":
        3, "status": "succeeded"}], "fields": [{"fieldName": "Customer2", "accuracy":
        1.0}, {"fieldName": "CustomerAddress", "accuracy": 1.0}, {"fieldName": "CustomerName",
        "accuracy": 1.0}, {"fieldName": "CustomerPhoneNumber", "accuracy": 1.0}, {"fieldName":
        "FirstItem", "accuracy": 1.0}, {"fieldName": "FirstPrice", "accuracy": 1.0},
        {"fieldName": "FirstQuantity", "accuracy": 1.0}, {"fieldName": "Merchant",
        "accuracy": 0.0}, {"fieldName": "Merchant2", "accuracy": 0.0}, {"fieldName":
        "MerchantAddress", "accuracy": 1.0}, {"fieldName": "MerchantPhoneNumber",
        "accuracy": 1.0}, {"fieldName": "Signature", "accuracy": 1.0}, {"fieldName":
        "Signature2", "accuracy": 1.0}, {"fieldName": "Subtotal", "accuracy": 1.0},
        {"fieldName": "Tax", "accuracy": 1.0}, {"fieldName": "Tip", "accuracy": 1.0},
        {"fieldName": "Total", "accuracy": 1.0}, {"fieldName": "Total2", "accuracy":
        1.0}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
