{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022value\u0022: [\n",
        "    {\n",
        "      \u0022operationId\u0022: \u002231523574406_a00ace94-4b92-445e-8a29-234dea3716c2\u0022,\n",
        "      \u0022kind\u0022: \u0022documentModelBuild\u0022,\n",
        "      \u0022status\u0022: \u0022succeeded\u0022,\n",
        "      \u0022createdDateTime\u0022: \u00222022-01-21T19:33:13Z\u0022,\n",
        "      \u0022lastUpdatedDateTime\u0022: \u00222022-01-21T19:33:17Z\u0022,\n",
        "      \u0022r[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31523998532_ae5dd99b-fca5-466e-8fdb-4dde21500c50?api-version=2022-01-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": [
        "{\n",
        "  \u0022operationId\u0022: \u002231523998532_ae5dd99b-fca[...]
