interactions:
- request:
    body: '%PDFUUU'
    headers:
      Content-Type:
      - application/pdf
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/prebuilt/invoice/analyze?includeTextDetails=false
  response:
    body:
      string: '{"error": {"code": "BadArgument", "innerError": {"requestId": "8313bda1-657e-406a-8a6b-7281fce65a07"},
        "message": "Bad or unrecognizable request JSON or binary file."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
