interactions:
- request:
    body: 'b''{"modelId": "b7f2b760-bff6-4d22-a6d7-0bf26561381e", "description": "model1",
      "azureBlobSource": {"containerUrl": "container_sas_url"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534641796_9e264bd8-0a96-4a1e-aa18-1478efc6902a?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534641796_9e264bd8-0a96-4a1e-aa18-1478efc6902a?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31534641796_9e264bd8-0a96-4a1e-aa18-1478efc6902a",
        "kind": "documentModelBuild", "status": "succeeded", "createdDateTime": "2021-09-15T17:16:44Z",
        "lastUpdatedDateTime": "2021-09-15T17:16:48Z", "resourceLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/b7f2b760-bff6-4d22-a6d7-0bf26561381e?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"b7f2b760-bff6-4d22-a6d7-0bf26561381e":
        {"fieldSchema": {"Merchant": {"type": "string"}, "PhoneNumber": {"type": "string"},
        "Website": {"type": "string"}, "Email": {"type": "string"}, "PurchaseOrderNumber":
        {"type": "string"}, "DatedAs": {"type": "string"}, "VendorName": {"type":
        "string"}, "CompanyName": {"type": "string"}, "CompanyAddress": {"type": "string"},
        "CompanyPhoneNumber": {"type": "string"}, "Subtotal": {"type": "string"},
        "Tax": {"type": "string"}, "Total": {"type": "string"}, "Signature": {"type":
        "string"}, "Quantity": {"type": "number"}}, "fieldConfidence": {"CompanyAddress":
        0.8, "CompanyName": 0.95, "CompanyPhoneNumber": 0.95, "DatedAs": 0.95, "Email":
        0.8, "Merchant": 0.95, "PhoneNumber": 0.95, "PurchaseOrderNumber": 0.95, "Quantity":
        0.95, "Signature": 0.6, "Subtotal": 0.95, "Tax": 0.95, "Total": 0.95, "VendorName":
        0.95, "Website": 0.95}}}, "modelId": "b7f2b760-bff6-4d22-a6d7-0bf26561381e",
        "createdDateTime": "2021-09-15T17:16:48Z", "description": "model1"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534641796_9e264bd8-0a96-4a1e-aa18-1478efc6902a?api-version=2021-09-30-preview
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534641787_4b8097a1-4f66-4b5b-90c8-0dc9ab452640?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31534641787_4b8097a1-4f66-4b5b-90c8-0dc9ab452640",
        "kind": "documentModelBuild", "status": "succeeded", "createdDateTime": "2021-09-15T17:16:52Z",
        "lastUpdatedDateTime": "2021-09-15T17:16:56Z", "resourceLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/c213530a-7718-49da-b970-7bd96ff075cf?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"c213530a-7718-49da-b970-7bd96ff075cf":
        {"fieldSchema": {"Merchant": {"type": "string"}, "PhoneNumber": {"type": "string"},
        "Website": {"type": "string"}, "Email": {"type": "string"}, "PurchaseOrderNumber":
        {"type": "string"}, "DatedAs": {"type": "string"}, "VendorName": {"type":
        "string"}, "CompanyName": {"type": "string"}, "CompanyAddress": {"type": "string"},
        "CompanyPhoneNumber": {"type": "string"}, "Subtotal": {"type": "string"},
        "Tax": {"type": "string"}, "Total": {"type": "string"}, "Signature": {"type":
        "string"}, "Quantity": {"type": "number"}}, "fieldConfidence": {"CompanyAddress":
        0.8, "CompanyName": 0.95, "CompanyPhoneNumber": 0.95, "DatedAs": 0.95, "Email":
        0.8, "Merchant": 0.95, "PhoneNumber": 0.95, "PurchaseOrderNumber": 0.95, "Quantity":
        0.95, "Signature": 0.6, "Subtotal": 0.95, "Tax": 0.95, "Total": 0.95, "VendorName":
        0.95, "Website": 0.95}}}, "modelId": "c213530a-7718-49da-b970-7bd96ff075cf",
        "createdDateTime": "2021-09-15T17:16:56Z", "description": "model2"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534641787_4b8097a1-4f66-4b5b-90c8-0dc9ab452640?api-version=2021-09-30-preview
- request:
    body: 'b''{"modelId": "5bb0d695-d8a2-4d98-b2da-3739a0f456fe", "description": "my
      composed model", "componentModels": [{"modelId": "b7f2b760-bff6-4d22-a6d7-0bf26561381e"},
      {"modelId": "c213530a-7718-49da-b970-7bd96ff075cf"}]}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:compose?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534641779_30a65abd-6f09-4601-85be-3f0b57710109?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:compose?api-version=2021-09-30-preview
[...]
