{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:build?api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "14b11cb8-f0c2-4120-b316-c7d8f1a26b84",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://blob_sas_url"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31510422281_3938ed26-d918-4d20-92fb-623bfa1c1674?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31510422281_3938ed26-d918-4d20-92fb-623bfa1c1674?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "operationId": "31510422281_3938ed26-d918-4d20-92fb-623bfa1c1674",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2022-06-23T00:55:19Z",
        "lastUpdatedDateTime": "2022-06-23T00:55:22Z",
        "resourceLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/14b11cb8-f0c2-4120-b316-c7d8f1a26b84?api-version=2022-06-30-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "14b11cb8-f0c2-4120-b316-c7d8f1a26b84": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "14b11cb8-f0c2-4120-b316-c7d8f1a26b84",
          "createdDateTime": "2022-06-23T00:55:22Z",
          "apiVersion": "2022-06-30-preview"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels:authorizeCopy?api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "c57436a0-10d6-4444-8a5b-7c255e1f8789",
        "description": "this is my copied model"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "westus2",
        "targetModelId": "c57436a0-10d6-4444-8a5b-7c255e1f8789",
        "targetModelLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/c57436a0-10d6-4444-8a5b-7c255e1f8789?api-version=2022-06-30-preview",
        "accessToken": "redacted",
        "expirationDateTime": "2022-06-23T01:55:26Z"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/14b11cb8-f0c2-4120-b316-c7d8f1a26b84:copyTo?api-version=2022-06-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/path/to/resource/id",
        "targetResourceRegion": "westus2",
        "targetModelId": "c57436a0-10d6-4444-8a5b-7c255e1f8789",
        "targetModelLocation": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/c57436a0-10d6-4444-8a5b-7c255e1f8789?api-version=2022-06-30-preview",
        "accessToken": "redacted",
        "expirationDateTime": "2022-06-23T01:55:26.000Z"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/operations/31510422274_43824af2-29f1-41ea-95e9-ea08ddebe99a?api-version=2022-06-30-preview"
      },
      "ResponseBody": null
    },
[...]
