interactions:
- request:
    body: 'b''{"modelId": "159295bc-4410-484b-9796-6fe72c78045e", "azureBlobSource":
      {"containerUrl": "container_sas_url"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534700983_192077c6-77e0-404d-9a86-43a1616255d9?api-version=2021-09-30-preview
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/documentModels:build?api-version=2021-09-30-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534700983_192077c6-77e0-404d-9a86-43a1616255d9?api-version=2021-09-30-preview
  response:
    body:
      string: '{"operationId": "31534700983_192077c6-77e0-404d-9a86-43a1616255d9",
        "kind": "documentModelBuild", "status": "succeeded", "createdDateTime": "2021-09-15T00:50:16Z",
        "lastUpdatedDateTime": "2021-09-15T00:50:19Z", "resourceLocation": "https://region.api.cognitive.microsoft.com/formrecognizer/documentModels/159295bc-4410-484b-9796-6fe72c78045e?api-version=2021-09-30-preview",
        "percentCompleted": 100, "result": {"docTypes": {"159295bc-4410-484b-9796-6fe72c78045e":
        {"fieldSchema": {"table": {"type": "array", "items": {"type": "object", "properties":
        {"Item": {"type": "string"}, "Price": {"type": "string"}, "Tax": {"type":
        "string"}, "Total": {"type": "string"}}}}}, "fieldConfidence": {"table": 0.95,
        "table: Item": 0.95, "table: Price": 0.95, "table: Tax": 0.95, "table: Total":
        0.95}}}, "modelId": "159295bc-4410-484b-9796-6fe72c78045e", "createdDateTime":
        "2021-09-15T00:50:19Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/operations/31534700983_192077c6-77e0-404d-9a86-43a1616255d9?api-version=2021-09-30-preview
version: 1
