interactions:
- request:
    body: 'b''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/c69fcc81-b905-4c4b-a998-25a5859b04bb
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/c69fcc81-b905-4c4b-a998-25a5859b04bb?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "c69fcc81-b905-4c4b-a998-25a5859b04bb", "status":
        "creating", "createdDateTime": "2020-10-30T00:24:43Z", "lastUpdatedDateTime":
        "2020-10-30T00:24:43Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/c69fcc81-b905-4c4b-a998-25a5859b04bb?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "c69fcc81-b905-4c4b-a998-25a5859b04bb", "status":
        "ready", "createdDateTime": "2020-10-30T00:24:43Z", "lastUpdatedDateTime":
        "2020-10-30T00:24:56Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Ft Lauderdale, FL Phone:", "Hero Limited", "Name:", "Phone:", "Purchase Order",
        "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped
        From", "Shipped To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:",
        "Website:"]}}, "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "b91de719-f2cf-43b0-a203-5b4a382f6688", "accessToken":
        "redacted", "expirationDateTimeTicks": 1604103899}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/b91de719-f2cf-43b0-a203-5b4a382f6688
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"targetResourceId": "resource_id", "targetResourceRegion": "centraluseuap",
      "copyAuthorization": {"modelId": "b91de719-f2cf-43b0-a203-5b4a382f6688", "accessToken":
      00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks": 1604103899}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models/00000000-0000-0000-0000-000000000000/copy
  response:
    body:
      string: '{"error": {"code": "1022", "message": "Model with ''id=00000000-0000-0000-0000-000000000000''
        not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
