interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0ecc55d1-f737-4d87-bd7d-d77058f6c38e
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0ecc55d1-f737-4d87-bd7d-d77058f6c38e?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "0ecc55d1-f737-4d87-bd7d-d77058f6c38e", "status":
        "creating", "createdDateTime": "2020-08-07T20:57:01Z", "lastUpdatedDateTime":
        "2020-08-07T20:57:01Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0ecc55d1-f737-4d87-bd7d-d77058f6c38e?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "0ecc55d1-f737-4d87-bd7d-d77058f6c38e", "status":
        "ready", "createdDateTime": "2020-08-07T20:57:01Z", "lastUpdatedDateTime":
        "2020-08-07T20:57:09Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "2c083f9d-7409-472b-a191-d0058a3d3f0e", "accessToken":
        "redacted", "expirationDateTimeTicks": 1596920231}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/2c083f9d-7409-472b-a191-d0058a3d3f0e
    status:
      code: 201
      message: Created
- request:
    body: 'b''b\''{"targetResourceId": "resource_id", "targetResourceRegion": "eastus",
      "copyAuthorization": {"modelId": "2c083f9d-7409-472b-a191-d0058a3d3f0e", "accessToken":
      00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks": 1596920231}}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0ecc55d1-f737-4d87-bd7d-d77058f6c38e/copy
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0ecc55d1-f737-4d87-bd7d-d77058f6c38e/copyresults/a4cc1993-28d2-41f8-9a27-ac6ed0de06e5
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0ecc55d1-f737-4d87-bd7d-d77058f6c38e/copyresults/a4cc1993-28d2-41f8-9a27-ac6ed0de06e5
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2020-08-07T20:57:12Z",
        "lastUpdatedDateTime": "2020-08-07T20:57:12Z", "copyResult": {"modelId": "2c083f9d-7409-472b-a191-d0058a3d3f0e"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://formrecognizeraccount.cognitiveservices.azure.com/formrecognizer/v2.0/custom/models/0ecc55d1-f737-4d87-bd7d-d77058f6c38e/copyresults/a4cc1993-28d2-41f8-9a27-ac6ed0de06e5
  response:
    body:
      string: '{"status": "failed", "createdDateTime": "2020-08-07T20:57:23.8136534Z",
        "lastUpdatedDateTime": "2020-08-07T20:57:23.8136537Z", "copyResult": {"modelId":
        "2c083f9d-7409-472b-a191-d0058a3d3f0e", "errors": [{"code": "AuthorizationError",
        "message": "Could not retrieve authorization metadata. If this issue persists
        use a different target model to copy into."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-cs-error-code:
      - AuthorizationError
    status:
      code: 200
      message: OK
version: 1
