interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/8f2048b5-0537-44f2-9a97-04034970db22
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/8f2048b5-0537-44f2-9a97-04034970db22?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "8f2048b5-0537-44f2-9a97-04034970db22", "status":
        "creating", "createdDateTime": "2021-03-19T20:11:34Z", "lastUpdatedDateTime":
        "2021-03-19T20:11:34Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/8f2048b5-0537-44f2-9a97-04034970db22?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "8f2048b5-0537-44f2-9a97-04034970db22", "status":
        "ready", "createdDateTime": "2021-03-19T20:11:34Z", "lastUpdatedDateTime":
        "2021-03-19T20:12:00Z"}, "keys": {"clusters": {"0": ["Address:", "Invoice
        For:", "Item", "Price", "Quantity", "Redmond, WA", "Signature:", "Subtotal:",
        "Tax:", "Tip:", "Total:"]}}, "trainResult": {"trainingDocuments": [{"documentName":
        "multipage_invoice1.pdf", "pages": 3, "errors": [], "status": "succeeded"},
        {"documentName": "multipage_invoice2.pdf", "pages": 3, "errors": [], "status":
        "succeeded"}, {"documentName": "multipage_invoice3.pdf", "pages": 3, "errors":
        [], "status": "succeeded"}, {"documentName": "multipage_invoice4.pdf", "pages":
        3, "errors": [], "status": "succeeded"}, {"documentName": "multipage_invoice5.pdf",
        "pages": 3, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"source": "blob_sas_url"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/8f2048b5-0537-44f2-9a97-04034970db22/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/8f2048b5-0537-44f2-9a97-04034970db22/analyzeresults/9e935abf-7954-43e9-af63-f426721b9c05
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/8f2048b5-0537-44f2-9a97-04034970db22/analyzeresults/9e935abf-7954-43e9-af63-f426721b9c05
  response:
    body:
      string: '{"status": "running", "createdDateTime": "2021-03-19T20:12:05Z", "lastUpdatedDateTime":
        "2021-03-19T20:12:06Z", "analyzeResult": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/8f2048b5-0537-44f2-9a97-04034970db22/analyzeresults/9e935abf-7954-43e9-af63-f426721b9c05
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2021-03-19T20:12:05Z",
        "lastUpdatedDateTime": "2021-03-19T20:12:17Z", "analyzeResult": {"version":
        "2.1.0", "readResults": [{"page": 1, "angle": 0, "width": 8.5, "height": 11.0,
        "unit": "inch", "lines": [], "selectionMarks": null}, {"page": 2, "angle":
        0, "width": 8.5, "height": 11.0, "unit": "inch", "lines": [], "selectionMarks":
        null}, {"page": 3, "angle": 0, "width": 8.5, "height": 11.0, "unit": "inch",
        "lines": [], "selectionMarks": null}], "pageResults": [{"page": 1, "keyValuePairs":
        [{"key": {"text": "Invoice For:", "boundingBox": [6.0028, 1.059, 7.0556, 1.059,
        7.0556, 1.2292, 6.0028, 1.2292], "elements": null}, "value": {"text": "Bilbo
        Baggins 123 Hobbit Lane", "boundingBox": [6.0, 1.4428, 7.1, 1.4428, 7.1, 1.8056,
        6.0, 1.8056], "elements": null}, "confidence": 1.0}, {"key": {"text": "Address:",
        "boundingBox": [0.875, 1.4757, 1.5764, 1.4757, 1.5764, 1.6285, 0.875, 1.6285],
        "elements": null}, "value": {"text": "567 Main St.", "boundingBox": [0.875,
        1.8368, 1.7194, 1.8368, 1.7194, 1.9698, 0.875, 1.9698], "elements": null},
        "confidence": 1.0}, {"key": {"text": "Redmond, WA", "boundingBox": [6.0, 1.8848,
        6.9556, 1.8848, 6.9556, 2.0256, 6.0, 2.0256], "elements": null}, "value":
        {"text": "555-555-5555", "bound[...]
