interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/d277aa6d-d498-4722-b548-b7de67b3af10
    status:
      code: 201
      message: Created
    url: https://westcentralus.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/d277aa6d-d498-4722-b548-b7de67b3af10?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "d277aa6d-d498-4722-b548-b7de67b3af10", "status":
        "creating", "createdDateTime": "2020-06-09T21:13:57Z", "lastUpdatedDateTime":
        "2020-06-09T21:13:57Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/d277aa6d-d498-4722-b548-b7de67b3af10?includeKeys=true
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/d277aa6d-d498-4722-b548-b7de67b3af10?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "d277aa6d-d498-4722-b548-b7de67b3af10", "status":
        "ready", "createdDateTime": "2020-06-09T21:13:57Z", "lastUpdatedDateTime":
        "2020-06-09T21:14:05Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/d277aa6d-d498-4722-b548-b7de67b3af10?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models?op=full
  response:
    body:
      string: '{"modelList": [{"modelId": "0244f662-e4ac-425d-9601-b30a92c1ebb6",
        "status": "ready", "createdDateTime": "2020-06-09T21:12:47Z", "lastUpdatedDateTime":
        "2020-06-09T21:12:55Z"}, {"modelId": "06b028d9-8d0e-4cd6-8351-da874a22db10",
        "status": "ready", "createdDateTime": "2020-06-09T21:12:11Z", "lastUpdatedDateTime":
        "2020-06-09T21:12:20Z"}, {"modelId": "0b7c9766-2b41-40ff-a5f0-db71ac48a03a",
        "status": "ready", "createdDateTime": "2020-06-09T21:12:11Z", "lastUpdatedDateTime":
        "2020-06-09T21:12:20Z"}, {"modelId": "98364c9d-0ed6-4dcd-abf9-b596d139685e",
        "status": "ready", "createdDateTime": "2020-06-09T21:12:47Z", "lastUpdatedDateTime":
        "2020-06-09T21:12:55Z"}, {"modelId": "cf5709ed-2823-47c2-a3c5-bbc0a1ad6e59",
        "status": "ready", "createdDateTime": "2020-06-09T21:13:20Z", "lastUpdatedDateTime":
        "2020-06-09T21:13:28Z"}, {"modelId": "d277aa6d-d498-4722-b548-b7de67b3af10",
        "status": "ready", "createdDateTime": "2020-06-09T21:13:57Z", "lastUpdatedDateTime":
        "2020-06-09T21:14:05Z"}], "nextLink": ""}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westcentralus.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models?op=full
- request:
    body: null
    headers:
    method: DELETE
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/d277aa6d-d498-4722-b548-b7de67b3af10
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://westcentralus.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models/d277aa6d-d498-4722-b548-b7de67b3af10
- request:
    body: null
    headers:
    method: GET
    uri: https://westcentralus.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/custom/models/d277aa6d-d498-4722-b548-b7de67b3af10?includeKeys=true
  response:
    body:
      string: '{"error": {"code": "1022", "message": "Model with ''id=d277aa6d-d498-4722-b548-b7de67b3af10''
        not found."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://westcentralus.api.cognitive.microsoft.com//formrecognizer/v2.0-preview/custom/models/d277aa6d-d498-4722-b548-b7de67b3af10?includeKeys=true
version: 1
