interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1542d9b6-4ab8-4bf6-ad76-dd920e2eccd7
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1542d9b6-4ab8-4bf6-ad76-dd920e2eccd7?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "1542d9b6-4ab8-4bf6-ad76-dd920e2eccd7", "status":
        "creating", "createdDateTime": "2021-05-11T01:34:34Z", "lastUpdatedDateTime":
        "2021-05-11T01:34:34Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1542d9b6-4ab8-4bf6-ad76-dd920e2eccd7?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1542d9b6-4ab8-4bf6-ad76-dd920e2eccd7?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "1542d9b6-4ab8-4bf6-ad76-dd920e2eccd7", "status":
        "ready", "createdDateTime": "2021-05-11T01:34:34Z", "lastUpdatedDateTime":
        "2021-05-11T01:34:53Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Ft Lauderdale, FL Phone:", "Hero Limited", "Name:", "Phone:", "Purchase Order",
        "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped
        From", "Shipped To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:",
        "Website:"]}}, "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg",
        "pages": 1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1542d9b6-4ab8-4bf6-ad76-dd920e2eccd7?includeKeys=true
- request:
    body: null
    headers:
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/copyAuthorization
  response:
    body:
      string: '{"modelId": "41fe08e5-3a03-4eb4-834c-c9555b5b5bd6", "accessToken":
        "redacted", "expirationDateTimeTicks": 1620783297}'
    headers:
      content-type: application/json; charset=utf-8
      location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/41fe08e5-3a03-4eb4-834c-c9555b5b5bd6
    status:
      code: 201
      message: Created
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/copyAuthorization
- request:
    body: 'b''{"targetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.CognitiveServices/accounts/frname",
      "targetResourceRegion": "region", "copyAuthorization": {"modelId": "41fe08e5-3a03-4eb4-834c-c9555b5b5bd6",
      "accessToken": 00000000-0000-0000-0000-000000000000, "expirationDateTimeTicks":
      1620783297}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1542d9b6-4ab8-4bf6-ad76-dd920e2eccd7/copy
  response:
    body:
      string: ''
    headers:
      operation-location: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1542d9b6-4ab8-4bf6-ad76-dd920e2eccd7/copyresults/ec09234a-3f95-4a69-9df5-de62a43b9675
    status:
      code: 202
      message: Accepted
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1542d9b6-4ab8-4bf6-ad76-dd920e2eccd7/copy
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1542d9b6-4ab8-4bf6-ad76-dd920e2eccd7/copyresults/ec09234a-3f95-4a69-9df5-de62a43b9675
  response:
    body:
      string: '{"status": "notStarted", "createdDateTime": "2021-05-11T01:34:57Z",
        "lastUpdatedDateTime": "2021-05-11T01:34:57Z", "copyResult": {"modelId": "41fe08e5-3a03-4eb4-834c-c9555b5b5bd6"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/1542d9b6-4ab8-4bf6-ad76-dd920e2eccd7/copyresults/ec09234a-3f95-4a69-9df5-de62a43b9675
[...]
