interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": true}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/7c880999-864b-49a8-9832-f3dc138a2cc3
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/7c880999-864b-49a8-9832-f3dc138a2cc3?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "7c880999-864b-49a8-9832-f3dc138a2cc3", "status":
        "creating", "createdDateTime": "2020-07-10T18:50:57Z", "lastUpdatedDateTime":
        "2020-07-10T18:50:57Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/7c880999-864b-49a8-9832-f3dc138a2cc3?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/7c880999-864b-49a8-9832-f3dc138a2cc3?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "7c880999-864b-49a8-9832-f3dc138a2cc3", "status":
        "ready", "createdDateTime": "2020-07-10T18:50:57Z", "lastUpdatedDateTime":
        "2020-07-10T18:51:11Z"}, "trainResult": {"averageModelAccuracy": 0.973, "trainingDocuments":
        [{"documentName": "Form_1.jpg", "pages": 1, "status": "succeeded"}, {"documentName":
        "Form_2.jpg", "pages": 1, "status": "succeeded"}, {"documentName": "Form_3.jpg",
        "pages": 1, "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages": 1, "status":
        "succeeded"}], "fields": [{"fieldName": "CompanyAddress", "accuracy": 0.8},
        {"fieldName": "CompanyName", "accuracy": 1.0}, {"fieldName": "CompanyPhoneNumber",
        "accuracy": 1.0}, {"fieldName": "DatedAs", "accuracy": 1.0}, {"fieldName":
        "Email", "accuracy": 0.8}, {"fieldName": "Merchant", "accuracy": 1.0}, {"fieldName":
        "PhoneNumber", "accuracy": 1.0}, {"fieldName": "PurchaseOrderNumber", "accuracy":
        1.0}, {"fieldName": "Quantity", "accuracy": 1.0}, {"fieldName": "Signature",
        "accuracy": 1.0}, {"fieldName": "Subtotal", "accuracy": 1.0}, {"fieldName":
        "Tax", "accuracy": 1.0}, {"fieldName": "Total", "accuracy": 1.0}, {"fieldName":
        "VendorName", "accuracy": 1.0}, {"fieldName": "Website", "accuracy": 1.0}],
        "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/7c880999-864b-49a8-9832-f3dc138a2cc3?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models?op=full
  response:
    body:
      string: '{"modelList": [{"modelId": "00f7fbe5-a3c7-4e24-a871-9b9a6a450fc1",
        "status": "ready", "createdDateTime": "2020-07-10T18:43:28Z", "lastUpdatedDateTime":
        "2020-07-10T18:43:35Z"}, {"modelId": "30998e09-3dc8-4816-bad2-4d3318719b0c",
        "status": "ready", "createdDateTime": "2020-07-10T18:43:51Z", "lastUpdatedDateTime":
        "2020-07-10T18:44:08Z"}, {"modelId": "3433e426-015e-421a-b794-58fe389a707b",
        "status": "ready", "createdDateTime": "2020-07-10T18:42:22Z", "lastUpdatedDateTime[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/7c880999-864b-49a8-9832-f3dc138a2cc3
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0/custom/models/7c880999-864b-49a8-9832-f3dc138a2cc3
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/7c880999-864b-49a8-9832-f3dc138a2cc3?includeKeys=true
  response:
    body:
      string: '{"error": {"code": "1022", "message": "Model with ''id=7c880999-864b-49a8-9832-f3dc138a2cc3''
        not found."}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0/custom/models/7c880999-864b-49a8-9832-f3dc138a2cc3?includeKeys=true
version: 1
