interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false, "modelName": "my unlabeled model"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/4fada4af-acee-46dc-8856-ca76689bb45d
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/4fada4af-acee-46dc-8856-ca76689bb45d?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "4fada4af-acee-46dc-8856-ca76689bb45d", "modelName":
        "my unlabeled model", "status": "creating", "createdDateTime": "2021-05-11T03:21:29Z",
        "lastUpdatedDateTime": "2021-05-11T03:21:29Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1/custom/models/4fada4af-acee-46dc-8856-ca76689bb45d?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "4fada4af-acee-46dc-8856-ca76689bb45d", "modelName":
        "my unlabeled model", "status": "ready", "createdDateTime": "2021-05-11T03:21:29Z",
        "lastUpdatedDateTime": "2021-05-11T03:21:44Z"}, "keys": {"clusters": {"0":
        ["Additional Notes:", "Address:", "Company Name:", "Company Phone:", "Dated
        As:", "Details", "Email:", "Ft Lauderdale, FL Phone:", "Hero Limited", "Name:",
        "Phone:", "Purchase Order", "Purchase Order #:", "Quantity", "SUBTOTAL", "Seattle,
        WA 93849 Phone:", "Shipped From", "Shipped To", "TAX", "TOTAL", "Total", "Unit
        Price", "Vendor Name:", "Website:"]}}, "trainResult": {"trainingDocuments":
        [{"documentName": "Form_1.jpg", "pages": 1, "errors": [], "status": "succeeded"},
        {"documentName": "Form_2.jpg", "pages": 1, "errors": [], "status": "succeeded"},
        {"documentName": "Form_3.jpg", "pages": 1, "errors": [], "status": "succeeded"},
        {"documentName": "Form_4.jpg", "pages": 1, "errors": [], "status": "succeeded"},
        {"documentName": "Form_5.jpg", "pages": 1, "errors": [], "status": "succeeded"}],
        "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
