interactions:
- request:
    body: 'b''{"source": "container_sas_url", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models
  response:
    body:
      string: ''
    headers:
      location:
      - https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/70965497-5cd3-4fae-a974-714dcb14aceb
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/70965497-5cd3-4fae-a974-714dcb14aceb?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "70965497-5cd3-4fae-a974-714dcb14aceb", "status":
        "creating", "createdDateTime": "2021-03-18T16:00:40Z", "lastUpdatedDateTime":
        "2021-03-18T16:00:40Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/70965497-5cd3-4fae-a974-714dcb14aceb?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "70965497-5cd3-4fae-a974-714dcb14aceb", "status":
        "ready", "createdDateTime": "2021-03-18T16:00:40Z", "lastUpdatedDateTime":
        "2021-03-18T16:00:57Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://region.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.3/custom/models/21fbe7fc-1af9-4061-8870-9ebbd52fb753?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "21fbe7fc-1af9-4061-8870-9ebbd52fb753", "status":
        "ready", "createdDateTime": "2021-03-18T16:00:59Z", "lastUpdatedDateTime":
        "2021-03-18T16:01:16Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
