interactions:
- request:
    body: 'b''{"source": "https://fakeuri.com/blank%20space", "sourceFilter": {"prefix":
      "", "includeSubFolders": false}, "useLabelFile": false}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.2/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/6b89b603-3179-48b4-be68-e0afd82653b5
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.1-preview.2/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/6b89b603-3179-48b4-be68-e0afd82653b5?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "6b89b603-3179-48b4-be68-e0afd82653b5", "status":
        "invalid", "createdDateTime": "2020-10-30T17:51:16Z", "lastUpdatedDateTime":
        "2020-10-30T17:51:16Z"}, "keys": {"clusters": {}}, "trainResult": {"trainingDocuments":
        [], "errors": [{"code": "2012", "message": "Unable to list blobs on the Azure
        blob storage account."}]}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-cs-error-code: '2012'
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.1-preview.1/custom/models/6b89b603-3179-48b4-be68-e0afd82653b5?includeKeys=true
version: 1
