interactions:
- request:
    body: 'b''b\''{"source": "containersasurl", "sourceFilter": {"prefix": "", "includeSubFolders":
      false}, "useLabelFile": false}\'''''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models
  response:
    body:
      string: ''
    headers:
      location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/0ed199d8-3344-436d-9352-6cd44b380b3a
    status:
      code: 201
      message: Created
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0/custom/models
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/0ed199d8-3344-436d-9352-6cd44b380b3a?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "0ed199d8-3344-436d-9352-6cd44b380b3a", "status":
        "creating", "createdDateTime": "2020-07-10T18:51:40Z", "lastUpdatedDateTime":
        "2020-07-10T18:51:40Z"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/0ed199d8-3344-436d-9352-6cd44b380b3a?includeKeys=true
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/0ed199d8-3344-436d-9352-6cd44b380b3a?includeKeys=true
  response:
    body:
      string: '{"modelInfo": {"modelId": "0ed199d8-3344-436d-9352-6cd44b380b3a", "status":
        "ready", "createdDateTime": "2020-07-10T18:51:40Z", "lastUpdatedDateTime":
        "2020-07-10T18:51:52Z"}, "keys": {"clusters": {"0": ["Additional Notes:",
        "Address:", "Company Name:", "Company Phone:", "Dated As:", "Details", "Email:",
        "Hero Limited", "Name:", "Phone:", "Purchase Order", "Purchase Order #:",
        "Quantity", "SUBTOTAL", "Seattle, WA 93849 Phone:", "Shipped From", "Shipped
        To", "TAX", "TOTAL", "Total", "Unit Price", "Vendor Name:", "Website:"]}},
        "trainResult": {"trainingDocuments": [{"documentName": "Form_1.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_2.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_3.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_4.jpg", "pages":
        1, "errors": [], "status": "succeeded"}, {"documentName": "Form_5.jpg", "pages":
        1, "errors": [], "status": "succeeded"}], "errors": []}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/0ed199d8-3344-436d-9352-6cd44b380b3a?includeKeys=true
- request:
    body: 'b''{"source": "https://raw.githubusercontent.com/Azure/azure-sdk-for-python/master/sdk/formrecognizer/azure-ai-formrecognizer/tests/sample_forms/forms/Form_1.jpg"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/0ed199d8-3344-436d-9352-6cd44b380b3a/analyze?includeTextDetails=false
  response:
    body:
      string: ''
    headers:
      operation-location: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/0ed199d8-3344-436d-9352-6cd44b380b3a/analyzeresults/2efdee3d-4177-495a-b5ab-b7664958ec6d
    status:
      code: 202
      message: Accepted
    url: https://centraluseuap.api.cognitive.microsoft.com//formrecognizer/v2.0/custom/models/0ed199d8-3344-436d-9352-6cd44b380b3a/analyze?includeTextDetails=false
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/0ed199d8-3344-436d-9352-6cd44b380b3a/analyzeresults/2efdee3d-4177-495a-b5ab-b7664958ec6d
  response:
    body:
      string: '{"status": "running", "createdDateTime": "2020-07-10T18:51:56Z", "lastUpdatedDateTime":
        "2020-07-10T18:51:58Z", "analyzeResult": null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/0ed199d8-3344-436d-9352-6cd44b380b3a/analyzeresults/2efdee3d-4177-495a-b5ab-b7664958ec6d
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0/custom/models/0ed199d8-3344-436d-9352-6cd44b380b3a/analyzeresults/2efdee3d-4177-495a-b5ab-b7664958ec6d
  response:
    body:
      string: '{"status": "succeeded", "createdDateTime": "2020-07-10T18:51:56Z",
        "lastUpdatedDateTime": "2020-07-10T18:52:01Z", "analyzeResult": {"version":
        "2.0.0", "readResults": [{"page": 1, "angle": 0.16, "width": 1700, "height":
        2200, "unit": "pixel", "lines": []}], "pageResults": [{"page": 1, "keyValuePairs":
        [{"key": {"text": "Hero Limited", "boundingBox": [620.0, 203.0, 1078.0, 203.0,
        1078.0, 271.0, 620.0, 271.0], "elements": null}, "value": {"text": "", "boundingBox":
        null, "elements": null}, "confidence": 0.5}, {"key": {"text": "Company Phone:",
        "boundingBox": [167.0, 351.0, 365.0, 351.0, 365.0, 381.0, 167.0, 381.0], "elements":
        null}, "value": {"text": "555-348-6512", "boundingBox": [371.0, 351.0, 528.0,
        351.0, 528.0, 381.0, 371.0, 381.0], "elements": null}, "confidence": 1.0},
        {"key": {"text": "Website:", "boundingBox": [167.0, 392.0, 271.0, 392.0, 271.0,
        420.0, 167.0, 420.0], "elements": null}, "value": {"text": "www.herolimited.com",
        "boundingB[...]
