{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "https://blob_sas_url",
        "sourceFilter": {
          "prefix": "",
          "includeSubFolders": false
        },
        "useLabelFile": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/68ecfc2b-3b5e-46eb-b506-04f1d05b51b1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/68ecfc2b-3b5e-46eb-b506-04f1d05b51b1?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "68ecfc2b-3b5e-46eb-b506-04f1d05b51b1",
          "status": "creating",
          "createdDateTime": "2022-06-24T00:23:14Z",
          "lastUpdatedDateTime": "2022-06-24T00:23:14Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/68ecfc2b-3b5e-46eb-b506-04f1d05b51b1?includeKeys=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "modelInfo": {
          "modelId": "68ecfc2b-3b5e-46eb-b506-04f1d05b51b1",
          "status": "ready",
          "createdDateTime": "2022-06-24T00:23:14Z",
          "lastUpdatedDateTime": "2022-06-24T00:24:11Z"
        },
        "keys": {
          "clusters": {
            "0": [
              "Item",
              "Price",
              "Tax",
              "Total"
            ],
            "1": [
              "1 Redmond way Suite",
              "Address:",
              "Charges",
              "Contoso",
              "Invoice Date",
              "Invoice Due Date",
              "Invoice For:",
              "Invoice Number",
              "VAT ID"
            ],
            "2": [
              "DESCRIPTION",
              "LINE TOTAL",
   [...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/68ecfc2b-3b5e-46eb-b506-04f1d05b51b1/analyze?includeTextDetails=false\u0026pages=1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "https://blob_sas_url"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/68ecfc2b-3b5e-46eb-b506-04f1d05b51b1/analyzeresults/5b555f63-8551-4852-ac21-cd8cde439d4d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/68ecfc2b-3b5e-46eb-b506-04f1d05b51b1/analyzeresults/5b555f63-8551-4852-ac21-cd8cde439d4d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2022-06-24T00:24:16Z",
        "lastUpdatedDateTime": "2022-06-24T00:24:17Z",
        "analyzeResult": null
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/v2.1/custom/models/68ecfc2b-3b5e-46eb-b506-04f1d05b51b1/analyzeresults/5b555f63-8551-4852-ac21-cd8cde439d4d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2022-06-24T00:24:16Z",
        "lastUpdatedDateTime": "2022-06-24T00:24:24Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11.0,
              "unit": "inch",
              "lines": [],
              "selectionMarks": null
            }
          ],
          "pageResults": [
            {
              "page": 1,
              "keyValuePairs": [
                {
                  "key": {
                    "text": "Vendor #:",
                    "boundingBox": [
                      6.1278,
                      1.0652,
                      7.1264,
                      1.0652,
                      7.1264,
                      1.2612,
                      6.1278,
                      1.2612
                    ],
                    "elements": null
                  },
                  "value": {
                    "text": "121",
                    "boundingBox": [
                      7.1264,
                      1.0625,
                      7.4792,
                      1.0625,
                      7.4792,
                      1.2639,
                      7.1264,
                      1.2639
                    ],
                    "elements": null
                  },
                  "confidence": 1.0
                },
                {
                  "key": {
                    "text": "below, and attach a check made out to:",
                    "boundingBox": [
                      0.9889,
                      3.2278,
                      3.6778,
                      3.2278,
                      3.6778,
                      3.3958,
                      0.9889,
                      3.3958
                    ],
                    "elements": null
                  },
                  "value": {
                    "text": "Contoso Ltd. 2345 Dogwood Lane Birch, Kansas 98123",
                    "boundingBox": [
                      0.9931,
                      3.5729,
                      2.375,
                      3.5729,
                      2.375,
                      4.1541,
                      0.9931,
                      4.1541
                    ],
                    "elements": null
                  },
                  "confidence": 1.0
                }
              ],
              "tables": [
                {
                  "rows": 6,
                  "columns": 3,
                  "boundingBox": [
                    1.0694,
                    4.6806,
                    6.2917,
                    4.6806,
                    6.2917,
                    8.875,
                    1.0694,
                    8.875
                  ],
                  "cells": [
                    {
                      "text": "Package",
                      "rowIndex": 0,
                      "columnIndex": 0,
                      "boundingBox": [
                        1.0722,
                        4.6944,
                        1.6278,
                        4.6944,
                        1.6278,
                        4.8438,
                        1.0722,
                        4.8438
                      ],
                      "confidence": 0.0,
                      "rowSpan": 1,
                      "columnSpan": 1,
                      "elements": null,
                      "isHeader": true,
                      "isFooter": false
                    },
                    {
                      "text": "Included",
                      "rowIndex": 0,
                      "columnIndex": 1,
                      "boundingBox": [
                        2.6944,
                        4.6806,
                        3.2708,
                        4.6806,
                        3.2708,
                        4.8438,
                        2.6944,
                        4.8438
                      ],
          [...]
