{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/formrecognizer/documentModels/prebuilt-invoice?api-version=2022-06-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "docTypes": {
          "invoice": {
            "fieldSchema": {
              "CustomerName": {
                "type": "string"
              },
              "CustomerId": {
                "type": "string"
              },
              "PurchaseOrder": {
                "type": "string"
              },
              "InvoiceId": {
                "type": "string"
              },
              "InvoiceDate": {
                "type": "date"
              },
              "DueDate": {
                "type": "date"
              },
              "VendorName": {
                "type": "string"
              },
              "VendorAddress": {
                "type": "string"
              },
              "VendorAddressRecipient": {
                "type": "string"
              },
              "CustomerAddress": {
                "type": "string"
              },
              "CustomerAddressRecipient": {
                "type": "string"
              },
              "BillingAddress": {
                "type": "string"
              },
              "BillingAddressRecipient": {
                "type": "string"
              },
              "ShippingAddress": {
                "type": "string"
              },
              "ShippingAddressRecipient": {
                "type": "string"
              },
              "SubTotal": {
                "type": "currency"
              },
              "TotalTax": {
                "type": "currency"
              },
              "InvoiceTotal": {
                "type": "currency"
              },
              "AmountDue": {
                "type": "currency"
              },
              "PreviousUnpaidBalance": {
                "type": "currency"
              },
              "RemittanceAddress": {
                "type": "string"
              },
              "RemittanceAddressRecipient": {
                "type": "string"
              },
              "ServiceAddress": {
                "type": "string"
              },
              "ServiceAddressRecipient": {
                "type": "string"
              },
              "ServiceStartDate": {
                "type": "date"
              },
              "ServiceEndDate": {
                "type": "date"
              },
              "TotalVAT": {
                "type": "currency"
              },
              "VendorTaxId": {
                "type": "string"
              },
              "CustomerTaxId": {
                "type": "string"
              },
              "PaymentTerm": {
                "type": "string"
              },
              "Items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "Amount": {
                      "type": "currency"
                    },
                    "Date": {
                      "type": "date"
                    },
                    "Description": {
                      "type": "string"
                    },
                    "Quantity": {
                      "type": "number"
                    },
                    "ProductCode": {
                      "type": "string"
                    },
                    "Tax": {
                      "type": "currency"
                    },
                    "Unit": {
                      "type": "string"
                    },
                    "UnitPrice": {
                      "type": "currency"
                    },
                    "VAT": {
                      "type": "currency"
                    }
                  }
                }
              }
            },
            "buildMode": "template"
          }
        },
        "modelId": "prebuilt-invoice",
        "createdDateTime": "2022-06-30T00:00:00Z",
        "apiVersion": "2022-06-30-preview",
        "description": "Extract key information from invoices."
      }
    }
  ],
  "Variables": {}
}
