interactions:
- request:
    body: '{"source": "https://krpraticstorageacc.blob.core.windows.net/form-recognizer-blobs/Invoice_1.pdf"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://centraluseuap.api.cognitive.microsoft.com/formrecognizer/v2.0-preview/layout/analyze
  response:
    body:
      string: '{"error":{"code":"401","message": "Access denied due to invalid subscription
        key or wrong API endpoint. Make sure to provide a valid key for an active
        subscription and use a correct regional API endpoint for your resource."}}'
    headers:
      content-type: application/json
      www-authenticate: AzureApiManagementKey realm="https://centraluseuap.api.cognitive.microsoft.com/formrecognizer",name="Ocp-Apim-Subscription-Key",type="header"
    status:
      code: 401
      message: Access Denied
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - centraluseuap.api.cognitive.microsoft.com
        - //formrecognizer/v2.0-preview/layout/analyze
        - ''
        - ''
version: 1
