{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/:analyze-text?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "kind": "LanguageDetection",
        "analysisInput": {
          "documents": [
            {
              "id": "Sanitized",
              "text": "Sentences in different languages."
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.LanguageDetection=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "kind": "LanguageDetectionResults",
        "results": {
          "documents": [
            {
              "id": "Sanitized",
              "warnings": [],
              "detectedLanguage": {
                "name": "Sanitized",
                "iso6391Name": "en",
                "confidenceScore": 1.0,
                "scriptName": "Latin",
                "scriptIso15924Code": "Latn"
              }
            }
          ],
          "errors": [],
          "modelVersion": "2024-11-01"
        }
      }
    }
  ],
  "Variables": {}
}
