{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/:analyze-text?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "kind": "EntityLinking",
        "analysisInput": {
          "documents": [
            {
              "id": "Sanitized",
              "text": "Microsoft was founded by Bill Gates with some friends he met at Harvard. One of his friends, Steve Ballmer, eventually became CEO after Bill Gates as well. Steve Ballmer eventually stepped down as CEO of Microsoft, and was succeeded by Satya Nadella. Microsoft originally moved its headquarters to Bellevue, Washington in January 1979, but is now headquartered in Redmond",
              "language": "en"
            }
          ]
        },
        "parameters": {
          "modelVersion": "latest"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.Language.Text.EntityLinking=1,CognitiveServices.TextAnalytics.TextRecords=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "kind": "EntityLinkingResults",
        "results": {
          "documents": [
            {
              "id": "Sanitized",
              "entities": [
                {
                  "bingId": "a093e9b9-90f5-a3d5-c4b8-5855e1b01f85",
                  "name": "Sanitized",
                  "matches": [
                    {
                      "text": "Microsoft",
                      "offset": 0,
                      "length": 9,
                      "confidenceScore": 0.54
                    },
                    {
                      "text": "Microsoft",
                      "offset": 251,
                      "length": 9,
                      "confidenceScore": 0.54
                    },
                    {
                      "text": "Microsoft",
                      "offset": 204,
                      "length": 9,
                      "confidenceScore": 0.54
                    }
                  ],
                  "language": "en",
                  "id": "Sanitized",
                  "url": "https://en.wikipedia.org/wiki/Microsoft",
                  "dataSource": "Wikipedia"
                },
                {
                  "bingId": "0d47c987-0042-5576-15e8-97af601614fa",
                  "name": "Sanitized",
                  "matches": [
                    {
                      "text": "Bill Gates",
                      "offset": 25,
                      "length": 10,
                      "confidenceScore": 0.56
                    },
                    {
                      "text": "Bill Gates",
                      "offset": 136,
  [...]
