{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "Sanitized",
              "text": "We love this trail and make the trip every year. The views are breathtaking and well worth the hike! Yesterday was foggy though, so we missed the spectacular views. We tried again today and it was amazing. Everyone in my family liked the trail although it was too challenging for the less athletic among us.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "kind": "CustomEntityRecognition",
            "taskName": "CustomEntitiesOperationActionSample",
            "parameters": {
              "projectName": "Example-ner-project",
              "deploymentName": "TestDeployment"
            }
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-deprecating": "Training config used by Deployment name Example-ner-project and project name TestDeployment used in CustomEntityRecognition will retire on 2025-11-15. (https://aka.ms/text-analytics-deprecated-model-versions)",
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/analyze-text/jobs/5e8980d2-e71b-4c5e-9ae1-55d170eaf427?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/analyze-text/jobs/5e8980d2-e71b-4c5e-9ae1-55d170eaf427?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "5e8980d2-e71b-4c5e-9ae1-55d170eaf427",
        "lastUpdatedDateTime": "2025-09-01T07:23:44Z",
        "createdDateTime": "2025-09-01T07:23:44Z",
        "expirationDateTime": "2025-09-02T07:23:44Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/analyze-text/jobs/5e8980d2-e71b-4c5e-9ae1-55d170eaf427?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "5e8980d2-e71b-4c5e-9ae1-55d170eaf427",
        "lastUpdatedDateTime": "2025-09-01T07:23:46Z",
        "createdDateTime": "2025-09-01T07:23:44Z",
        "expirationDateTime": "2025-09-02T07:23:44Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomEntityRecognitionLROResults",
              "taskName": "CustomEntitiesOperationActionSample",
              "lastUpdateDateTime": "2025-09-01T07:23:46.1844495Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "Sanitized",
                    "entities": [],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "Example-ner-project",
                "deploymentName": "TestDeployment"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
