interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.easm.defender.microsoft.com/subscriptions/59af3bf1-d118-4916-808e-923509b34a94/resourceGroups/nate-test-rg/workspaces/testSdkWorkspace9271133/discoTemplates/44368?api-version=2022-11-01-preview
  response:
    body:
      string: '{"id":"44368","name":"Datacolor AG","displayName":"Datacolor AG","industry":"Electronic
        Equipment, Instruments and Components","region":"Europe","countryCode":"CH","stateCode":null,"city":"Lucerne","seeds":[{"kind":"domain","name":"ziegelhof.ch"},{"kind":"domain","name":"medialogic.eu"},{"kind":"domain","name":"datacolor.com"}],"names":["Datacolor
        AG","Brauerei Ziegelhof","Datacolor, Inc.","Datacolor Group","Datacolor Holding
        AG","Wehrli & Co AG","The Beer Company","Media Logic SNC"]}'
    headers:
      content-type:
      - application/json
      x-ms-ui-version:
      - sdk
    status:
      code: 200
      message: ''
version: 1
