interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.easm.defender.microsoft.com/subscriptions/59af3bf1-d118-4916-808e-923509b34a94/resourceGroups/nate-test-rg/workspaces/testSdkWorkspace9271133/tasks/a23b2f6b-a1ce-4b89-9bfd-97339d39c847?api-version=2022-11-01-preview
  response:
    body:
      string: '{"id":"a23b2f6b-a1ce-4b89-9bfd-97339d39c847","startedAt":"2023-01-05T16:24:44.328+00:00","completedAt":"2023-01-05T16:24:44.472+00:00","lastPolledAt":null,"state":"complete","phase":"complete","reason":null}'
    headers:
      content-type:
      - application/json
      x-ms-ui-version:
      - sdk
    status:
      code: 200
      message: ''
version: 1
