azure-mgmt-keyvault<7.0.0
azure-mgmt-resource<15.0.0
azure-mgmt-storage<15.0.0
-e ../../../tools/azure-devtools
-e ../../../tools/azure-sdk-tools
../../core/azure-core
cryptography>=2.1.4
aiohttp>=3.0; python_version >= '3.5'
azure-identity
../azure-data-nspkg