recursive-include tests *.py *.yaml
include *.md
include azure/__init__.py
include azure/data/__init__.py
include LICENSE
recursive-include tests *.py
recursive-include samples *.py *.md
include azure/data/tables/py.typed
