interactions:
- request:
    body: '{"location": "eastus", "tags": {"key1": "value1"}, "properties": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2?api-version=2020-07-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Creating","version":3,"serviceId":"6b2372fd08da4ab5b984a80e6bd22ea4"},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"S0","tier":"Standard"},"location":"eastus","tags":{"key1":"value1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2","name":"myservice2"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/myservice2/operationId/2c097947-0806-4bfd-8da2-aeb978e844ea?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationResults/2c097947-0806-4bfd-8da2-aeb978e844ea/Spring/myservice2?api-version=2020-07-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/myservice2/operationId/2c097947-0806-4bfd-8da2-aeb978e844ea?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/myservice2/operationId/2c097947-0806-4bfd-8da2-aeb978e844ea","name":"2c097947-0806-4bfd-8da2-aeb978e844ea","status":"Running","startTime":"2021-01-04T09:11:00.6386416Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/myservice2/operationId/2c097947-0806-4bfd-8da2-aeb978e844ea?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/myservice2/operationId/2c097947-0806-4bfd-8da2-aeb978e844ea","name":"2c097947-0806-4bfd-8da2-aeb978e844ea","status":"Succeeded","startTime":"2021-01-04T09:11:00.6386416Z","endTime":"2021-01-04T09:13:58.2067052Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2?api-version=2020-07-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","version":3,"serviceId":"6b2372fd08da4ab5b984a80e6bd22ea4","networkProfile":{"outboundIPs":{"publicIPs":["20.185.96.226","20.185.97.176"]}}},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"S0","tier":"Standard"},"location":"eastus","tags":{"key1":"value1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2","name":"myservice2"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"configServer": {"gitProperty": {"uri": "https://github.com/Azure-Samples/piggymetrics-config.git",
      "label": "master"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/configServers/default?api-version=2020-07-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Updating"},"type":"Microsoft.AppPlatform/Spring/configServers"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/configServers/default?api-version=2020-07-01
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","configServer":{"gitProperty":{"uri":"https://github.com/Azure-Samples/piggymetrics-config.git","label":"master"}}},"type":"Microsoft.AppPlatform/Spring/configServers","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/configServers/default","name":"default"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/apps/myapp?api-version=2020-07-01
  response:
    body:
      string: '{"properties":{"public":false,"provisioningState":"Creating","enableEndToEndTLS":false},"type":"Microsoft.AppPlatform/Spring/apps","identity":null,"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/apps/myapp","name":"myapp"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/myapp/operationId/24c99478-f515-40b2-b9c6-d19ac9bb7097?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationResults/24c99478-f515-40b2-b9c6-d19ac9bb7097/Spring/myapp?api-version=2020-07-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/myapp/operationId/24c99478-f515-40b2-b9c6-d19ac9bb7097?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/myapp/operationId/24c99478-f515-40b2-b9c6-d19ac9bb7097","name":"24c99478-f515-40b2-b9c6-d19ac9bb7097","status":"Succeeded","startTime":"2021-01-04T09:15:05.3258287Z","endTime":"2021-01-04T09:15:11.6620369Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/apps/myapp?api-version=2020-07-01
  response:
    body:
      string: '{"properties":{"public":false,"provisioningState":"Succeeded","fqdn":"myservice2.azuremicroservices.io","httpsOnly":false,"createdTime":"2021-01-04T09:15:11.62Z","temporaryDisk":{"sizeInGB":5,"mountPath":"/tmp"},"persistentDisk":{"sizeInGB":0,"mountPath":"/persistent"},"enableEndToEndTLS":false},"type":"Microsoft.AppPlatform/Spring/apps","identity":null,"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/apps/myapp","name":"myapp"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"source": {"type": "Jar", "relativePath": "<default>",
      "version": "test-version"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/apps/myapp/deployments/mydeployment?api-version=2020-07-01
  response:
    body:
      string: '{"properties":{"source":{"type":"Jar","relativePath":"<default>","version":"test-version"},"appName":"myapp","deploymentSettings":{"cpu":1,"memoryInGB":1,"environmentVariables":null,"runtimeVersion":"Java_8"},"provisioningState":"Creating","status":"Running","active":false,"instances":null},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/apps/myapp/deployments/mydeployment","name":"mydeployment"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/mydeployment/operationId/fcfd1b59-f9ac-4822-a27c-36d17992900b?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationResults/fcfd1b59-f9ac-4822-a27c-36d17992900b/Spring/mydeployment?api-version=2020-07-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1199'
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/mydeployment/operationId/fcfd1b59-f9ac-4822-a27c-36d17992900b?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/mydeployment/operationId/fcfd1b59-f9ac-4822-a27c-36d17992900b","name":"fcfd1b59-f9ac-4822-a27c-36d17992900b","status":"Running","startTime":"2021-01-04T09:15:42.4526178Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/apps/myapp/deployments/mydeployment?api-version=2020-07-01
  response:
    body:
      string: '{"properties":{"source":{"type":"Jar","relativePath":"<default>","version":"test-version"},"appName":"myapp","deploymentSettings":{"cpu":1,"memoryInGB":1,"environmentVariables":null,"runtimeVersion":"Java_8"},"provisioningState":"Succeeded","status":"Running","active":false,"instances":[{"name":"myapp-mydeployment-5-64866f648d-qlpdb","status":"Running","discoveryStatus":"OUT_OF_SERVICE","startTime":"2021-01-04T09:15:40Z"}]},"type":"Microsoft.AppPlatform/Spring/apps/deployments","sku":{"name":"S0","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/apps/myapp/deployments/mydeployment","name":"mydeployment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/apps/myapp/getResourceUploadUrl?api-version=2020-07-01
  response:
    body:
      string: '{"relativePath":"resources/c1b70247946b22975617cfe4f3fdebe8bad9114057300be745f0632c007d2cc9-2021010409-196a918f-d594-4c44-84d7-7829dbc94f74","uploadUrl":"https://6d802901425d4549a5b739a1.file.core.windows.net/6b2372fd08da4ab5b984a80e6bd22ea4/resources/c1b70247946b22975617cfe4f3fdebe8bad9114057300be745f0632c007d2cc9-2021010409-196a918f-d594-4c44-84d7-7829dbc94f74?sv=2018-03-28&sr=f&sig=ZolIOExv%2BWp21fXgIce76aS%2BQxn1r%2F1Xv13ofDXWYLs%3D&se=2021-01-04T11%3A17%3A09Z&sp=w"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/disableTestEndpoint?api-version=2020-07-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/enableTestEndpoint?api-version=2020-07-01
  response:
    body:
      string: '{"primaryKey":"2RbrK2BrQGz2VkILJSwHRKIvkAId43CoV4PGhmgmUVUXtvvOD3880U6oiSQu4l3m","secondaryKey":"OEOAMuEVSQN3DAhxKwVurStvYif2IG9ipA8pIwAuoA71PLtFAdUbjVaQbynktbWW","primaryTestEndpoint":"https://primary:2RbrK2BrQGz2VkILJSwHRKIvkAId43CoV4PGhmgmUVUXtvvOD3880U6oiSQu4l3m@myservice2.test.azuremicroservices.io","secondaryTestEndpoint":"https://secondary:OEOAMuEVSQN3DAhxKwVurStvYif2IG9ipA8pIwAuoA71PLtFAdUbjVaQbynktbWW@myservice2.test.azuremicroservices.io","enabled":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "Primary"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/regenerateTestKey?api-version=2020-07-01
  response:
    body:
      string: '{"primaryKey":"ZZnytztJWo7oge9jlu2n5l1ewukwnlbyy8MvFomAgPlIc9lHGyC53xstoEWkR4gX","secondaryKey":"OEOAMuEVSQN3DAhxKwVurStvYif2IG9ipA8pIwAuoA71PLtFAdUbjVaQbynktbWW","primaryTestEndpoint":"https://primary:ZZnytztJWo7oge9jlu2n5l1ewukwnlbyy8MvFomAgPlIc9lHGyC53xstoEWkR4gX@myservice2.test.azuremicroservices.io","secondaryTestEndpoint":"https://secondary:OEOAMuEVSQN3DAhxKwVurStvYif2IG9ipA8pIwAuoA71PLtFAdUbjVaQbynktbWW@myservice2.test.azuremicroservices.io","enabled":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appplatform_2020_07_01_test_appplatform25ce140d/providers/Microsoft.AppPlatform/Spring/myservice2/listTestKeys?api-version=2020-07-01
  response:
    body:
      string: '{"primaryKey":"ZZnytztJWo7oge9jlu2n5l1ewukwnlbyy8MvFomAgPlIc9lHGyC53xstoEWkR4gX","secondaryKey":"OEOAMuEVSQN3DAhxKwVurStvYif2IG9ipA8pIwAuoA71PLtFAdUbjVaQbynktbWW","primaryTestEndpoint":"https://primary:ZZnytztJWo7oge9jlu2n5l1ewukwnlbyy8MvFomAgPlIc9lHGyC53xstoEWkR4gX@myservice2.test.azuremicroservices.io","secondaryTestEndpoint":"https://secondary:OEOAMuEVSQN3DAhxKwVurStvYif2IG9ipA8pIwAuoA71PLtFAdUbjVaQbynktbWW@myservice2.test.azuremicroservices.io","enabled":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "Microsoft.AppPlatform/Spring", "name": "myservice2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppPlatform/locations/eastus/checkNameAvailability?api-version=2020-07-01
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"Resource
        name already exists."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
      x-rp-server-mvid:
      - d82b857d-a974-4c29-8dc8-18f1eca47316
    status:
      code: 200
      message: OK
[...]
