# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for
# license information.
#
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is
# regenerated.
# --------------------------------------------------------------------------

import uuid
from msrest.pipeline import ClientRawResponse
from msrestazure.azure_exceptions import CloudError

from .. import models


class AdDomainServiceMembersOperations(object):
    """AdDomainServiceMembersOperations operations.

    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    :ivar api_version: The version of the API to be used with the client request. Constant value: "2014-01-01".
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):

        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self.api_version = "2014-01-01"

        self.config = config

    def list(
            self, service_name, is_groupby_site, filter=None, query=None, next_partition_key=None, next_row_key=None, take_count=None, custom_headers=None, raw=False, **operation_config):
        """Gets the details of the servers, for a given Active Directory Domain
        Service, that are onboarded to Azure Active Directory Connect Health.

        :param service_name: The name of the service.
        :type service_name: str
        :param is_groupby_site: Indicates if the result should be grouped by
         site or not.
        :type is_groupby_site: bool
        :param filter: The server property filter to apply.
        :type filter: str
        :param query: The custom query.
        :type query: str
        :param next_partition_key: The next partition key to query for.
        :type next_partition_key: str
        :param next_row_key: The next row key to query for.
        :type next_row_key: str
        :param take_count: The take count , which specifies the number of
         elements that can be returned from a sequence.
        :type take_count: int
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: An iterator like instance of AddsServiceMember
        :rtype:
         ~azure.mgmt.adhybridhealthservice.models.AddsServiceMemberPaged[~azure.mgmt.adhybridhealthservice.models.AddsServiceMember]
        :raises: :class:`CloudError<msrestazure.azure_exceptions.CloudError>`
        """
        def internal_paging(next_link=None, raw=False):

            if not next_link:
                # Construct URL
                url = self.list.metadata['url']
                path_format_arguments = {
                    'serviceName': self._serialize.url("service_name", service_name, 'str')
                }
                url = self._client.format_url(url, **path_format_arguments)

                # Construct parameters
                query_parameters = {}
                if filter is not None:
                    query_parameters['$filter'] = self._serialize.query("filter", filter, 'str')
                query_parameters['isGroupbySite'] = self._serialize.query("is_groupby_site", is_groupby_site, 'bool')
                if query is not None:
                    query_parameters['query'] = self._serialize.query("query", query, 'str')
                if next_partition_key is not None:
                    query_parameters['nextPartitionKey'] = self._serialize.query("next_partition_key", next_partition_key, 'str')
                if next_row_key is not None:
                    query_parameters['nextRowKey'] = self._serialize.query("next_row_key", next_row_key, 'str')
                if take_count is not None:
                    query_parameters['takeCount'] = self._serialize.query("take_count", take_count, 'int')
                query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str')

            else:
                url = next_link
                query_parameters = {}

            # Construct headers
            header_parameters = {}
            header_parameters['Content-Type'] = 'application/json; charset=utf-8'
            if self.config.generate_client_request_id:
                header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
            if custom_headers:
                header_parameters.update(custom_headers)
            if self.config.accept_language is not None:
                header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

            # Construct and send request
            request = self._client.get(url, query_parameters)
            response = self._client.send(
                request, header_parameters, stream=False, **operation_config)

            if response.status_code not in [200]:
                exp = CloudError(response)
                exp.request_id = response.headers.get('x-ms-request-id')
                raise exp

            return response

        # Deserialize response
        deserialized = models.AddsServiceMemberPaged(internal_paging, self._deserialize.dependencies)

        if raw:
            header_dict = {}
            client_raw_response = models.AddsServiceMemberPaged(internal_paging, self._deserialize.dependencies, header_dict)
            return client_raw_response

        return deserialized
    list.metadata = {'url': '/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/addomainservicemembers'}
