interactions:
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-date: ['Tue, 23 Jun 2015 00:07:27 GMT']
      x-ms-version: ['2014-02-14']
    method: GET
    uri: https://storagename.queue.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>true</Read><Write>true</Write><Delete>true</Delete><RetentionPolicy><Enabled>true</Enabled><Days>2</Days></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>2</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /></StorageServiceProperties>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2014-02-14']
    status: {code: 200, message: OK}
version: 1
