interactions:
- request:
    body: '{"location": "westus", "tags": {"my_tag": "myTagValue"}, "sku": {"name":
      "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appconfiguration_async_test_appconfiguration_list_key_values7d301eb9/providers/Microsoft.AppConfiguration/configurationStores/configuration7d301eb9?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-05-25T06:18:53.4628672+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appconfiguration_async_test_appconfiguration_list_key_values7d301eb9/providers/Microsoft.AppConfiguration/configurationStores/configuration7d301eb9","name":"configuration7d301eb9","location":"westus","tags":{}}'
    headers:
      azure-asyncoperation: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/ea4811de-0c58-8ecc-fd07-c060b23c5c23?api-version=2019-11-01-preview
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes: '1199'
    status:
      code: 201
      message: Created
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/test_cli_mgmt_appconfiguration_async_test_appconfiguration_list_key_values7d301eb9/providers/Microsoft.AppConfiguration/configurationStores/configuration7d301eb9?api-version=2019-11-01-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/ea4811de-0c58-8ecc-fd07-c060b23c5c23?api-version=2019-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/ea4811de-0c58-8ecc-fd07-c060b23c5c23","name":"ea4811de-0c58-8ecc-fd07-c060b23c5c23","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/ea4811de-0c58-8ecc-fd07-c060b23c5c23?api-version=2019-11-01-preview
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/ea4811de-0c58-8ecc-fd07-c060b23c5c23?api-version=2019-11-01-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appconfiguration_async_test_appconfiguration_list_key_values7d301eb9/providers/Microsoft.AppConfiguration/configurationStores/configuration7d301eb9?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-05-25T06:18:54+00:00","endpoint":"https://configuration7d301eb9.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appconfiguration_async_test_appconfiguration_list_key_values7d301eb9/providers/Microsoft.AppConfiguration/configurationStores/configuration7d301eb9","name":"configuration7d301eb9","location":"westus","tags":{"my_tag":"myTagValue"}}'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5800d491-0000-0700-0000-5ecb634e0000"
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/test_cli_mgmt_appconfiguration_async_test_appconfiguration_list_key_values7d301eb9/providers/Microsoft.AppConfiguration/configurationStores/configuration7d301eb9?api-version=2019-11-01-preview
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appconfiguration_async_test_appconfiguration_list_key_values7d301eb9/providers/Microsoft.AppConfiguration/configurationStores/configuration7d301eb9/ListKeys?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"ZTRi-l1-s0:LqT6+GeQNwUpClqy/Tzu","name":"Primary","value":"qlsOrboY0tu4YFHqS2rrDK5iuKx6+bxRMVXX3lrTkWs=","connectionString":"Endpoint=https://configuration7d301eb9.azconfig.io;Id=ZTRi-l1-s0:LqT6+GeQNwUpClqy/Tzu;Secret=qlsOrboY0tu4YFHqS2rrDK5iuKx6+bxRMVXX3lrTkWs=","lastModified":"2020-05-25T06:18:53+00:00","readOnly":false},{"id":"l0pp-l1-s0:104BPcRD3iFWB4TkKX81","name":"Secondary","value":"P5DP5FAhMHBroJfWKIOLxfb6fvdmiP++cAFIhu8+Yds=","connectionString":"Endpoint=https://configuration7d301eb9.azconfig.io;Id=l0pp-l1-s0:104BPcRD3iFWB4TkKX81;Secret=P5DP5FAhMHBroJfWKIOLxfb6fvdmiP++cAFIhu8+Yds=","lastModified":"2020-05-25T06:18:53+00:00","readOnly":false},{"id":"qk/z-l1-s0:WfPe6L++5uNww8izpwN1","name":"Primary
        Read Only","value":"XRiiv3sEE5BHmkcg1X+qGaJw2anYLiYgWekOGnPIuR8=","connectionString":"Endpoint=https://configuration7d301eb9.azconfig.io;Id=qk/z-l1-s0:WfPe6L++5uNww8izpwN1;Secret=XRiiv3sEE5BHmkcg1X+qGaJw2anYLiYgWekOGnPIuR8=","lastModified":"2020-05-25T06:18:53+00:00","readOnly":true},{"id":"YX+k-l1-s0:QR5BBy9y74jrQ8/PxjOb","name":"Secondary
        Read Only","value":"YmxQTVlkqg8hOlh90EFJTLYSxLWNM8wdQB52XABMJao=","connectionString":"Endpoint=https://configuration7d301eb9.azconfig.io;Id=YX+k-l1-s0:QR5BBy9y74jrQ8/PxjOb;Secret=YmxQTVlkqg8hOlh90EFJTLYSxLWNM8wdQB52XABMJao=","lastModified":"2020-05-25T06:18:53+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes: '1199'
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/test_cli_mgmt_appconfiguration_async_test_appconfiguration_list_key_values7d301eb9/providers/Microsoft.AppConfiguration/configurationStores/configuration7d301eb9/ListKeys?api-version=2019-11-01-preview
- request:
    body: '{"id": "ZTRi-l1-s0:LqT6+GeQNwUpClqy/Tzu"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appconfiguration_async_test_appconfiguration_list_key_values7d301eb9/providers/Microsoft.AppConfiguration/configurationStores/configuration7d301eb9/RegenerateKey?api-version=2019-11-01-preview
  response:
    body:
      string: '{"id":"d4Ym-l1-s0:X4dYQ8tGE28u6tOT9/HO","name":"Primary","value":"CHYEdTcAE87EKMDxZO5bPrC+mBewYMJ+zArYW9DLXWM=","connectionString":"Endpoint=https://configuration7d301eb9.azconfig.io;Id=d4Ym-l1-s0:X4dYQ8tGE28u6tOT9/HO;Secret=CHYEdTcAE87EKMDxZO5bPrC+mBewYMJ+zArYW9DLXWM=","lastModified":"2020-05-25T06:19:06+00:00","readOnly":false}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes: '1198'
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/test_cli_mgmt_appconfiguration_async_test_appconfiguration_list_key_values7d301eb9/providers/Microsoft.AppConfiguration/configurationStores/configuration7d301eb9/RegenerateKey?api-version=2019-11-01-preview
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 5b/E4qQlXHTRod+n+f+xjK6c/tRVR8uxoC62FjvGJPw=
      x-ms-date:
      - May, 25 2020 06:19:06 GMT
    method: PUT
    uri: https://configuration7d301eb9.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"nPevZZ1WTygjivUDZMs7FLMUKDp","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-05-25T06:19:08+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"nPevZZ1WTygjivUDZMs7FLMUKDp"'
      last-modified:
      - Mon, 25 May 2020 06:19:08 GMT
      sync-token:
      - zAJw6V16=ODoxIzE3MDE0OTQ=;sn=1701494
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_appconfiguration_async_test_appconfiguration_list_key_values7d301eb9/providers/Microsoft.AppConfiguration/configurationStores/configuration7d301eb9/listKeyValue?api-version=2019-11-01-preview
  response:
    body:
      string: '{"key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","value":"test
        value","contentType":"test content type","eTag":"nPevZZ1WTygjivUDZMs7FLMUKDp","lastModified":"2020-05-25T06:19:08+00:00","locked":false,"tags":{"tag1":"tag1","tag2":"tag2"}}'
    headers:
      content-type: application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes: '1197'
    status:
      code: 200
      message: OK
    url: https://management.azure.com/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/test_cli_mgmt_appconfiguration_async_test_appconfiguration_list_key_values7d301eb9/providers/Microsoft.AppConfiguration/configurationStores/configuration7d301eb9/listKeyValue?api-version=2019-11-01-preview
version: 1
