interactions:
- request:
    body: '{"location": "westus", "tags": {"my_tag": "myTagValue"}, "sku": {"name":
      "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-09-14T08:15:31.8743642+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c","name":"configurationcae61c3c","location":"westus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/aff8af00-5b34-5f16-165b-f920c2b1c519?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/aff8af00-5b34-5f16-165b-f920c2b1c519?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/aff8af00-5b34-5f16-165b-f920c2b1c519","name":"aff8af00-5b34-5f16-165b-f920c2b1c519","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/aff8af00-5b34-5f16-165b-f920c2b1c519?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-09-14T08:15:38+00:00","endpoint":"https://configurationcae61c3c.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c","name":"configurationcae61c3c","location":"westus","tags":{"my_tag":"myTagValue"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"56009200-0000-0700-0000-5f5f26a90000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"R3g7-l1-s0:I5/reC29Nk+pvMXgcJpz","name":"Primary","value":"V0EDlQxb6kNnqInoLFy97aKD6t5jaFHWhN7WC11Y7Y4=","connectionString":"Endpoint=https://configurationcae61c3c.azconfig.io;Id=R3g7-l1-s0:I5/reC29Nk+pvMXgcJpz;Secret=V0EDlQxb6kNnqInoLFy97aKD6t5jaFHWhN7WC11Y7Y4=","lastModified":"2020-09-14T08:15:37+00:00","readOnly":false},{"id":"nqlI-l1-s0:779gYmzrJp8B56vAiW/R","name":"Secondary","value":"vXtc/Kww24mrsF++l5zTNZ8PQi95ywqTnWaQECaUwk4=","connectionString":"Endpoint=https://configurationcae61c3c.azconfig.io;Id=nqlI-l1-s0:779gYmzrJp8B56vAiW/R;Secret=vXtc/Kww24mrsF++l5zTNZ8PQi95ywqTnWaQECaUwk4=","lastModified":"2020-09-14T08:15:37+00:00","readOnly":false},{"id":"Ndta-l1-s0:Q/yFZqBrOOtutWWkk1J5","name":"Primary
        Read Only","value":"lMj2eOnBBHSefbs0aFjRaaBHcc+j02BslKRSpc9f1kE=","connectionString":"Endpoint=https://configurationcae61c3c.azconfig.io;Id=Ndta-l1-s0:Q/yFZqBrOOtutWWkk1J5;Secret=lMj2eOnBBHSefbs0aFjRaaBHcc+j02BslKRSpc9f1kE=","lastModified":"2020-09-14T08:15:37+00:00","readOnly":true},{"id":"KEQI-l1-s0:myLMJ++rnqT+hF5CKe1H","name":"Secondary
        Read Only","value":"G9u5R3wCLcDUZQBRFPYIApeK0bytt5ACelfwnghFE/k=","connectionString":"Endpoint=https://configurationcae61c3c.azconfig.io;Id=KEQI-l1-s0:myLMJ++rnqT+hF5CKe1H;Secret=G9u5R3wCLcDUZQBRFPYIApeK0bytt5ACelfwnghFE/k=","lastModified":"2020-09-14T08:15:37+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "R3g7-l1-s0:I5/reC29Nk+pvMXgcJpz"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c/RegenerateKey?api-version=2020-06-01
  response:
    body:
      string: '{"id":"jjmA-l1-s0:3Ct91hRpYTbPu8QdJ7LS","name":"Primary","value":"yY54SM9as0VZRQW9fV0+zbMFVkXo6tSVLe2C8PV85C0=","connectionString":"Endpoint=https://configurationcae61c3c.azconfig.io;Id=jjmA-l1-s0:3Ct91hRpYTbPu8QdJ7LS;Secret=yY54SM9as0VZRQW9fV0+zbMFVkXo6tSVLe2C8PV85C0=","lastModified":"2020-09-14T08:15:44+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 5b/E4qQlXHTRod+n+f+xjK6c/tRVR8uxoC62FjvGJPw=
      x-ms-date:
      - Sep, 14 2020 08:15:44 GMT
    method: PUT
    uri: https://configurationcae61c3c.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"XuK4JkTld3O9xOQgSfAoz0Qq2dC","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-09-14T08:15:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"XuK4JkTld3O9xOQgSfAoz0Qq2dC"'
      last-modified:
      - Mon, 14 Sep 2020 08:15:46 GMT
      sync-token:
      - zAJw6V16=ODo0IzIyOTY0MjcjMT0tMQ==;sn=2296427
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c/listKeyValue?api-version=2020-06-01
  response:
    body:
      string: '{"key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","value":"test
        value","contentType":"test content type","eTag":"XuK4JkTld3O9xOQgSfAoz0Qq2dC","lastModified":"2020-09-14T08:15:46+00:00","locked":false,"tags":{"tag1":"tag1","tag2":"tag2"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
version: 1
