interactions:
- request:
    body: '{"location": "westus", "tags": {"my_tag": "myTagValue"}, "sku": {"name":
      "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-05-19T08:57:13.2303458+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c","name":"configurationcae61c3c","location":"westus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/4b7906d9-01af-c5da-6553-219f6afca280?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/4b7906d9-01af-c5da-6553-219f6afca280?api-version=2019-11-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/4b7906d9-01af-c5da-6553-219f6afca280","name":"4b7906d9-01af-c5da-6553-219f6afca280","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus/operationsStatus/4b7906d9-01af-c5da-6553-219f6afca280?api-version=2019-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c?api-version=2019-11-01-preview
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-05-19T08:57:14+00:00","endpoint":"https://configurationcae61c3c.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c","name":"configurationcae61c3c","location":"westus","tags":{"my_tag":"myTagValue"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0000b548-0000-0700-0000-5ec39f690000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c/ListKeys?api-version=2019-11-01-preview
  response:
    body:
      string: '{"value":[{"id":"Sgky-l1-s0:fNte7Ua+153vjZOJ7IoR","name":"Primary","value":"fyVQ+s6HeRWoGOTnAKn0uF0lPiQWTW5RiccwnCYLmC0=","connectionString":"Endpoint=https://configurationcae61c3c.azconfig.io;Id=Sgky-l1-s0:fNte7Ua+153vjZOJ7IoR;Secret=fyVQ+s6HeRWoGOTnAKn0uF0lPiQWTW5RiccwnCYLmC0=","lastModified":"2020-05-19T08:57:13+00:00","readOnly":false},{"id":"JI8n-l1-s0:T6ltsLF7184Cqq/QGe4r","name":"Secondary","value":"Q3kJO/K1DKFIOaBqbnAFiqiyGF4JJERrsqBL76hBlv4=","connectionString":"Endpoint=https://configurationcae61c3c.azconfig.io;Id=JI8n-l1-s0:T6ltsLF7184Cqq/QGe4r;Secret=Q3kJO/K1DKFIOaBqbnAFiqiyGF4JJERrsqBL76hBlv4=","lastModified":"2020-05-19T08:57:13+00:00","readOnly":false},{"id":"jZvw-l1-s0:E4cLlCI2p9MBJYiNUmWp","name":"Primary
        Read Only","value":"cK5XWXkGn6KGyx4AEZEC5Jd59AH8XbSm/YcFOQn/bD0=","connectionString":"Endpoint=https://configurationcae61c3c.azconfig.io;Id=jZvw-l1-s0:E4cLlCI2p9MBJYiNUmWp;Secret=cK5XWXkGn6KGyx4AEZEC5Jd59AH8XbSm/YcFOQn/bD0=","lastModified":"2020-05-19T08:57:13+00:00","readOnly":true},{"id":"DgHr-l1-s0:5Fn5wAmA6+mun/rMDuLm","name":"Secondary
        Read Only","value":"jP/o7jNIJDjcH6aNJl/DfyVc1nqzz5TumKNPWoLSBSQ=","connectionString":"Endpoint=https://configurationcae61c3c.azconfig.io;Id=DgHr-l1-s0:5Fn5wAmA6+mun/rMDuLm;Secret=jP/o7jNIJDjcH6aNJl/DfyVc1nqzz5TumKNPWoLSBSQ=","lastModified":"2020-05-19T08:57:13+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "Sgky-l1-s0:fNte7Ua+153vjZOJ7IoR"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c/RegenerateKey?api-version=2019-11-01-preview
  response:
    body:
      string: '{"id":"EUlu-l1-s0:tuoDaxaMbI/bjA5EgzJZ","name":"Primary","value":"4V7qRp4EnBGs1650b45Ebgdy+htMtEPSY3kl/2z3ypg=","connectionString":"Endpoint=https://configurationcae61c3c.azconfig.io;Id=EUlu-l1-s0:tuoDaxaMbI/bjA5EgzJZ;Secret=4V7qRp4EnBGs1650b45Ebgdy+htMtEPSY3kl/2z3ypg=","lastModified":"2020-05-19T08:57:25+00:00","readOnly":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309", "content_type": "test content
      type", "value": "test value", "tags": {"tag1": "tag1", "tag2": "tag2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 5b/E4qQlXHTRod+n+f+xjK6c/tRVR8uxoC62FjvGJPw=
      x-ms-date:
      - May, 19 2020 08:59:38 GMT
    method: PUT
    uri: https://configurationcae61c3c.azconfig.io/kv/PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309?label=test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309&api-version=1.0
  response:
    body:
      string: '{"etag":"3yLNLCnTMTncP47u20svt6FZFsF","key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","content_type":"test
        content type","value":"test value","tags":{"tag1":"tag1","tag2":"tag2"},"locked":false,"last_modified":"2020-05-19T08:57:27+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"3yLNLCnTMTncP47u20svt6FZFsF"'
      last-modified:
      - Tue, 19 May 2020 08:57:27 GMT
      sync-token:
      - zAJw6V16=NjoxIzIwODA0MDk=;sn=2080409
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309", "label":
      "test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.AppConfiguration/configurationStores/configurationcae61c3c/listKeyValue?api-version=2019-11-01-preview
  response:
    body:
      string: '{"key":"PYTHON_UNIT_test_key_a6af8952-54a6-11e9-b600-2816a84d0309","label":"test_label1_1d7b2b28-549e-11e9-b51c-2816a84d0309","value":"test
        value","contentType":"test content type","eTag":"3yLNLCnTMTncP47u20svt6FZFsF","lastModified":"2020-05-19T08:57:27+00:00","locked":false,"tags":{"tag1":"tag1","tag2":"tag2"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
version: 1
