interactions:
- request:
    body: '{"description": "biography of Sir Issac Newton", "language": "en", "multilingualResource":
      true, "settings": {"defaultAnswer": "no answer"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"projectName\": \"IssacNewton\",\n  \"description\": \"biography
        of Sir Issac Newton\",\n  \"language\": \"en\",\n  \"multilingualResource\":
        false,\n  \"createdDateTime\": \"2022-08-02T17:53:48Z\",\n  \"lastModifiedDateTime\":
        \"2022-08-02T17:55:04Z\",\n  \"settings\": {\n    \"defaultAnswer\": \"no
        answer\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "add", "value": {"questions": ["What is the easiest way to use
      azure services in my .NET project?"], "answer": "Using Microsoft''s Azure SDKs"}}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/qnas?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/qnas/jobs/7964c0a9-0b8a-42b6-afc3-6ddfbf974e53?api-version=2021-10-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.comlanguage/query-knowledgebases/projects/IssacNewton/qnas/jobs/7964c0a9-0b8a-42b6-afc3-6ddfbf974e53?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-08-02T17:55:04+00:00\",\n  \"expirationDateTime\":
        \"2022-08-02T23:55:04+00:00\",\n  \"jobId\": \"7964c0a9-0b8a-42b6-afc3-6ddfbf974e53\",\n
        \ \"lastUpdatedDateTime\": \"2022-08-02T17:55:04+00:00\",\n  \"status\": \"notStarted\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.comlanguage/query-knowledgebases/projects/IssacNewton/qnas/jobs/7964c0a9-0b8a-42b6-afc3-6ddfbf974e53?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-08-02T17:55:04+00:00\",\n  \"expirationDateTime\":
        \"2022-08-02T23:55:04+00:00\",\n  \"jobId\": \"7964c0a9-0b8a-42b6-afc3-6ddfbf974e53\",\n
        \ \"lastUpdatedDateTime\": \"2022-08-02T17:55:09+00:00\",\n  \"status\": \"succeeded\",\n
        \ \"resultUrl\": \"/knowledgebases/IssacNewton\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/qnas?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"id\": 1,\n      \"answer\": \"Using
        Microsoft's Azure SDKs\",\n      \"source\": \"Editorial\",\n      \"questions\":
        [\n        \"What is the easiest way to use azure services in my .NET project?\"\n
        \     ],\n      \"metadata\": {\n        \"system_metadata_qna_edited_manually\":
        \"true\"\n      },\n      \"dialog\": {\n        \"isContextOnly\": false,\n
        \       \"prompts\": []\n      },\n      \"activeLearningSuggestions\": [],\n
        \     \"isDocumentText\": false,\n      \"lastUpdatedDateTime\": \"08/02/2022
        17:55:06 +00:00\"\n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/qnas?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"id\": 1,\n      \"answer\": \"Using
        Microsoft's Azure SDKs\",\n      \"source\": \"Editorial\",\n      \"questions\":
        [\n        \"What is the easiest way to use azure services in my .NET project?\"\n
        \     ],\n      \"metadata\": {\n        \"system_metadata_qna_edited_manually\":
        \"true\"\n      },\n      \"dialog\": {\n        \"isContextOnly\": false,\n
        \       \"prompts\": []\n      },\n      \"activeLearningSuggestions\": [],\n
        \     \"isDocumentText\": false,\n      \"lastUpdatedDateTime\": \"08/02/2022
        17:55:06 +00:00\"\n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
