{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/:query-text?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "question": "How long it takes to charge surface?",
        "language": "es",
        "records": [
          {
            "text": "Power and charging. It takes two to four hours to charge the Surface Pro 4 battery fully.",
            "id": "doc1"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.QuestionAnsweringTextRecords=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "answers": [
          {
            "answer": "Power and charging. It takes two to four hours to charge the Surface Pro 4 battery fully.",
            "confidenceScore": 0.8991747498512268,
            "id": "doc1",
            "answerSpan": {
              "text": "two to four hours",
              "confidenceScore": 0.99528086,
              "offset": 28,
              "length": 18
            },
            "offset": 0,
            "length": 89
          },
          {
            "answer": "It takes two to four hours to charge the Surface Pro 4 battery fully.",
            "confidenceScore": 0.895972728729248,
            "id": "doc1",
            "answerSpan": {
              "text": "two to four hours",
              "confidenceScore": 0.9954626,
              "offset": 8,
              "length": 18
            },
            "offset": 20,
            "length": 69
          }
        ]
      }
    },
[...]
