interactions:
- request:
    body: '{"description": "biography of Sir Issac Newton", "language": "en", "multilingualResource":
      true, "settings": {"defaultAnswer": "no answer"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"projectName\": \"IssacNewton\",\n  \"description\": \"biography
        of Sir Issac Newton\",\n  \"language\": \"en\",\n  \"multilingualResource\":
        false,\n  \"createdDateTime\": \"2022-08-02T17:53:48Z\",\n  \"lastModifiedDateTime\":
        \"2022-08-02T17:56:44Z\",\n  \"settings\": {\n    \"defaultAnswer\": \"no
        answer\"\n  }\n}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://languagesdkresource.cognitiveservices.azure.com//language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
- request:
    body: '[{"op": "add", "value": {"displayName": "MicrosoftFAQ", "source": "https://www.microsoft.com/en-in/software-download/faq",
      "sourceUri": "https://www.microsoft.com/en-in/software-download/faq", "sourceKind":
      "url", "contentStructureKind": "unstructured", "refresh": false}}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      operation-location: https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/sources/jobs/e62f064d-5c2a-4da0-8e49-0b2edc48e809?api-version=2021-10-01
    status:
      code: 202
      message: Accepted
    url: https://languagesdkresource.cognitiveservices.azure.com//language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/sources/jobs/e62f064d-5c2a-4da0-8e49-0b2edc48e809?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-08-02T17:56:45+00:00\",\n  \"expirationDateTime\":
        \"2022-08-02T23:56:45+00:00\",\n  \"jobId\": \"e62f064d-5c2a-4da0-8e49-0b2edc48e809\",\n
        \ \"lastUpdatedDateTime\": \"2022-08-02T17:56:45+00:00\",\n  \"status\": \"notStarted\"\n}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/sources/jobs/e62f064d-5c2a-4da0-8e49-0b2edc48e809?api-version=2021-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/sources/jobs/e62f064d-5c2a-4da0-8e49-0b2edc48e809?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-08-02T17:56:45+00:00\",\n  \"expirationDateTime\":
        \"2022-08-02T23:56:45+00:00\",\n  \"jobId\": \"e62f064d-5c2a-4da0-8e49-0b2edc48e809\",\n
        \ \"lastUpdatedDateTime\": \"2022-08-02T17:57:03+00:00\",\n  \"status\": \"succeeded\",\n
        \ \"resultUrl\": \"/knowledgebases/IssacNewton\"\n}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/sources/jobs/e62f064d-5c2a-4da0-8e49-0b2edc48e809?api-version=2021-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"source\": \"Editorial\",\n      \"sourceKind\":
        \"file\",\n      \"contentStructureKind\": \"semistructured\",\n      \"lastUpdatedDateTime\":
        \"2022-08-02T17:56:14.6144171Z\"\n    },\n    {\n      \"displayName\": \"MicrosoftFAQ\",\n
        \     \"source\": \"https://www.microsoft.com/en-in/software-download/faq\",\n
        \     \"sourceUri\": \"https://www.microsoft.com/en-in/software-download/faq\",\n
        \     \"sourceKind\": \"url\",\n      \"contentStructureKind\": \"unstructured\",\n
        \     \"lastUpdatedDateTime\": \"2022-08-02T17:57:01.4095212Z\"\n    }\n  ]\n}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://languagesdkresource.cognitiveservices.azure.com//language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"source\": \"Editorial\",\n      \"sourceKind\":
        \"file\",\n      \"contentStructureKind\": \"semistructured\",\n      \"lastUpdatedDateTime\":
        \"2022-08-02T17:56:14.6144171Z\"\n    },\n    {\n      \"displayName\": \"MicrosoftFAQ\",\n
        \     \"source\": \"https://www.microsoft.com/en-in/software-download/faq\",\n
        \     \"sourceUri\": \"https://www.microsoft.com/en-in/software-download/faq\",\n
        \     \"sourceKind\": \"url\",\n      \"contentStructureKind\": \"unstructured\",\n
        \     \"lastUpdatedDateTime\": \"2022-08-02T17:57:01.4095212Z\"\n    }\n  ]\n}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://languagesdkresource.cognitiveservices.azure.com//language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01
version: 1
