{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/:query-knowledgebases?api-version=2025-05-15-preview&projectName=test-project&deploymentName=test",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "question": "Battery life",
        "top": 3,
        "filters": {
          "metadataFilter": {
            "metadata": [
              {
                "key": "explicitlytaggedheading",
                "value": "check the battery level"
              },
              {
                "key": "explicitlytaggedheading",
                "value": "make your battery last"
              }
            ],
            "logicalOperation": "OR"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.QuestionAnsweringTextRecords=1",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "answers": [
          {
            "questions": [
              "Check the battery level"
            ],
            "answer": "**Check the battery level**\n\nYou can check the battery level from the lock screen or on the desktop.",
            "confidenceScore": 0.6142,
            "id": 96,
            "source": "Sanitized",
            "metadata": {
              "system_metadata_qna_edited_manually": "true",
              "explicitlytaggedheading": "check the battery level"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": [
                {
                  "displayOrder": 0,
                  "qnaId": 97,
                  "displayText": "Lock screen"
                },
                {
                  "displayOrder": 1,
                  "qnaId": 98,
                  "displayText": "Desktop taskbar"
                }
              ]
            }
          },
          {
            "questions": [
              "Making your battery last"
            ],
            "answer": "**Making your battery last**\n\nTo learn ways to conserve power and make your battery last longer, see  [Surface battery and power](https://www.microsoft.com/surface/support/hardware-and-drivers/battery-and-power-pro)  on Surface.com.",
            "confidenceScore": 0.4434,
            "id": 99,
            "source": "Sanitized",
            "metadata": {
              "system_metadata_qna_edited_manually": "true",
              "explicitlytaggedheading": "make your battery last"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
