interactions:
- request:
    body: '{"qnaId": 19}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://test-resource.api.cognitive.microsoft.com/language/:query-knowledgebases?projectName=test-project&deploymentName=test&api-version=2021-10-01
  response:
    body:
      string: "{\n  \"answers\": [\n    {\n      \"questions\": [],\n      \"answer\":
        \"No good match found in KB\",\n      \"confidenceScore\": 0.0,\n      \"id\":
        -1,\n      \"metadata\": {}\n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.QuestionAnsweringTextRecords=1
    status:
      code: 200
      message: OK
version: 1
