interactions:
- request:
    body: '{"description": "biography of Sir Issac Newton", "language": "en", "multilingualResource":
      true, "settings": {"defaultAnswer": "no answer"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"projectName\": \"IssacNewton\",\n  \"description\": \"biography
        of Sir Issac Newton\",\n  \"language\": \"en\",\n  \"multilingualResource\":
        false,\n  \"createdDateTime\": \"2022-01-30T15:44:33Z\",\n  \"lastModifiedDateTime\":
        \"2022-01-30T16:03:29Z\",\n  \"settings\": {\n    \"defaultAnswer\": \"no
        answer\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "add", "value": {"displayName": "Issac Newton Bio", "sourceUri":
      "https://wikipedia.org/wiki/Isaac_Newton", "sourceKind": "url"}}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://test-resource.api.cognitive.microsoft.com:443/language/query-knowledgebases/projects/IssacNewton/sources/jobs/f8fd5f17-3830-4647-89a0-af0778ecf41f?api-version=2021-10-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources/jobs/f8fd5f17-3830-4647-89a0-af0778ecf41f?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-01-30T16:03:30+00:00\",\n  \"expirationDateTime\":
        \"2022-01-30T22:03:30+00:00\",\n  \"jobId\": \"f8fd5f17-3830-4647-89a0-af0778ecf41f\",\n
        \ \"lastUpdatedDateTime\": \"2022-01-30T16:03:31+00:00\",\n  \"status\": \"running\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: PUT
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/deployments/production?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://test-resource.api.cognitive.microsoft.com:443/language/query-knowledgebases/projects/IssacNewton/deployments/production/jobs/c2a22317-b67e-48ff-8c69-84e6203b865e?api-version=2021-10-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/deployments/production/jobs/c2a22317-b67e-48ff-8c69-84e6203b865e?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-01-30T16:04:01+00:00\",\n  \"expirationDateTime\":
        \"2022-01-30T22:04:01+00:00\",\n  \"jobId\": \"c2a22317-b67e-48ff-8c69-84e6203b865e\",\n
        \ \"lastUpdatedDateTime\": \"2022-01-30T16:04:08+00:00\",\n  \"status\": \"succeeded\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/deployments/production?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"NotFound\",\n    \"message\": \"Cannot
        find a deployment with name: production.\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
