interactions:
- request:
    body: '{"question": "How long should my Surface battery last?", "top": 3, "userId":
      "sd53lsY=", "confidenceScoreThreshold": 0.2, "answerSpanRequest": {"enable":
      true, "confidenceScoreThreshold": 0.2, "topAnswersWithSpan": 1}, "includeUnstructuredSources":
      true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://test-resource.api.cognitive.microsoft.com/language/:query-knowledgebases?projectName=test-project&deploymentName=test&api-version=2021-10-01
  response:
    body:
      string: "{\n  \"answers\": [\n    {\n      \"questions\": [\n        \"Make
        your battery last\"\n      ],\n      \"answer\": \"**Make your battery last**\\n\\nFor
        info on how to care for your battery and power supply, conserve power, and
        make your Surface battery last longer, see [Surface battery and power](http://www.microsoft.com/surface/support/hardware-and-drivers/battery-and-power)
        on Surface.com.\",\n      \"confidenceScore\": 0.9079,\n      \"id\": 136,\n
        \     \"source\": \"surface-pro-4-user-guide-EN.pdf\",\n      \"metadata\":
        {\n        \"explicitlytaggedheading\": \"make your battery last\"\n      },\n
        \     \"dialog\": {\n        \"isContextOnly\": false,\n        \"prompts\":
        []\n      }\n    },\n    {\n      \"questions\": [\n        \"Check the battery
        level\"\n      ],\n      \"answer\": \"**Check the battery level**\\n\\nYou
        can check the battery level from the lock screen or the desktop:\",\n      \"confidenceScore\":
        0.48469999999999996,\n      \"id\": 133,\n      \"source\": \"surface-pro-4-user-guide-EN.pdf\",\n
        \     \"metadata\": {\n        \"explicitlytaggedheading\": \"check the battery
        level\"\n      },\n      \"dialog\": {\n        \"isContextOnly\": false,\n
        \       \"prompts\": []\n      }\n    }\n  ]\n}"
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.QuestionAnsweringTextRecords=1
    status:
      code: 200
      message: OK
    url: https://wuppe.api.cognitive.microsoft.com/language/:query-knowledgebases?projectName=190a9e13-8ede-4e4b-a8fd-c4d7f2aeab6c&deploymentName=test&api-version=2021-10-01
- request:
    body: '{"question": "How long it takes to charge Surface?", "top": 3, "userId":
      "sd53lsY=", "confidenceScoreThreshold": 0.2, "context": {"previousQnaId": 136,
      "previousUserQuery": "How long should my Surface battery last?"}, "answerSpanRequest":
      {"enable": true, "confidenceScoreThreshold": 0.2, "topAnswersWithSpan": 1},
      "includeUnstructuredSources": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://test-resource.api.cognitive.microsoft.com/language/:query-knowledgebases?projectName=test-project&deploymentName=test&api-version=2021-10-01
  response:
    body:
      string: "{\n  \"answers\": [\n    {\n      \"qu[...]
