interactions:
- request:
    body: '{"description": "biography of Sir Issac Newton", "language": "en", "multilingualResource":
      true, "settings": {"defaultAnswer": "no answer"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"projectName\": \"IssacNewton\",\n  \"description\": \"biography
        of Sir Issac Newton\",\n  \"language\": \"en\",\n  \"multilingualResource\":
        false,\n  \"createdDateTime\": \"2022-01-31T15:25:07Z\",\n  \"lastModifiedDateTime\":
        \"2022-01-31T16:33:46Z\",\n  \"lastDeployedDateTime\": \"2022-01-31T16:28:45Z\",\n
        \ \"settings\": {\n    \"defaultAnswer\": \"no answer\"\n  }\n}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://wuppe.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
- request:
    body: null
    headers:
    method: POST
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/:export?api-version=2021-10-01&format=json
  response:
    body:
      string: ''
    headers:
      operation-location: https://test-resource.api.cognitive.microsoft.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/15895d14-f93a-42a4-896a-682aee8d1dbf?api-version=2021-10-01
    status:
      code: 202
      message: Accepted
    url: https://wuppe.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/:export?api-version=2021-10-01&format=json
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/15895d14-f93a-42a4-896a-682aee8d1dbf?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-01-31T16:33:47+00:00\",\n  \"expirationDateTime\":
        \"2022-01-31T22:33:47+00:00\",\n  \"jobId\": \"15895d14-f93a-42a4-896a-682aee8d1dbf\",\n
        \ \"lastUpdatedDateTime\": \"2022-01-31T16:33:51+00:00\",\n  \"status\": \"succeeded\",\n
        \ \"resultUrl\": \"https://test-resource.api.cognitive.microsoft.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/15895d14-f93a-42a4-896a-682aee8d1dbf/result?api-version=2021-10-01\"\n}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://wuppe.api.cognitive.microsoft.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/15895d14-f93a-42a4-896a-682aee8d1dbf?api-version=2021-10-01
version: 1
