{
  "Entries": [
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": {
        "description": "biography of Sir Issac Newton",
        "language": "en",
        "multilingualResource": true,
        "settings": {
          "defaultAnswer": "no answer"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "projectName": "IssacNewton",
        "description": "biography of Sir Issac Newton",
        "language": "en",
        "multilingualResource": false,
        "createdDateTime": "2022-09-06T20:44:34Z",
        "lastModifiedDateTime": "2022-09-06T20:49:35Z",
        "settings": {
          "defaultAnswer": "no answer"
        }
      }
    },
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": "[{\u0022op\u0022: \u0022add\u0022, \u0022value\u0022: {\u0022displayName\u0022: \u0022Issac Newton Bio\u0022, \u0022sourceUri\u0022: \u0022https://wikipedia.org/wiki/Isaac_Newton\u0022, \u0022sourceKind\u0022: \u0022url\u0022}}]",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://test-resource.api.cognitive.microsoft.com:443/language/query-knowledgebases/projects/IssacNewton/sources/jobs/9f9602f6-fb3f-45b4-a990-58dc33855fbe?api-version=2021-10-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources/jobs/9f9602f6-fb3f-45b4-a990-58dc33855fbe?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "30"
      },
      "ResponseBody": {
        "createdDateTime": "2022-09-06T20:49:35\u002B00:00",
        "expirationDateTime": "2022-09-07T02:49:35\u002B00:00",
        "jobId": "9f9602f6-fb3f-45b4-a990-58dc33855fbe",
        "lastUpdatedDateTime": "2022-09-06T20:49:35\u002B00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources/jobs/9f9602f6-fb3f-45b4-a990-58dc33855fbe?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "createdDateTime": "2022-09-06T20:49:35\u002B00:00",
        "expirationDateTime": "2022-09-07T02:49:35\u002B00:00",
        "jobId": "9f9602f6-fb3f-45b4-a990-58dc33855fbe",
        "lastUpdatedDateTime": "2022-09-06T20:50:33\u002B00:00",
        "status": "succeeded",
        "resultUrl": "/knowledgebases/IssacNewton"
      }
    },
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "displayName": "MicrosoftFAQ",
            "source": "https://www.microsoft.com/en-in/software-download/faq",
            "sourceUri": "https://www.microsoft.com/en-in/software-download/faq",
            "sourceKind": "url",
            "contentStructureKind": "unstructured",
            "lastUpdatedDateTime": "2022-09-06T20:47:59.9079202Z"
          },
          {
            "source": "Editorial",
            "sourceKind": "file",
            "contentStructureKind": "semistructured",
            "lastUpdatedDateTime": "2022-09-06T20:48:36.854788Z"
          },
          {
            "displayName": "Issac Newton Bio",
            "source": "https://wikipedia.org/wiki/Isaac_Newton",
            "sourceUri": "https://wikipedia.org/wiki/Isaac_Newton",
            "sourceKind": "url",
            "contentStructureKind": "semistructured",
            "lastUpdatedDateTime": "2022-09-06T20:50:30.5513065Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/deployments/production?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://test-resource.api.cognitive.microsoft.com:443/language/query-knowledgebases/projects/IssacNewton/deployments/production/jobs/c67a2616-1709-4d37-aca7-766937986339?api-version=2021-10-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/deployments/production/jobs/c67a2616-1709-4d37-aca7-766937986339?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "30"
      },
      "ResponseBody": {
        "createdDateTime": "2022-09-06T20:50:36\u002B00:00",
        "expirationDateTime": "2022-09-07T02:50:36\u002B00:00",
        "jobId": "c67a2616-1709-4d37-aca7-766937986339",
        "lastUpdatedDateTime": "2022-09-06T20:50:36\u002B00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/deployments/production?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "deploymentName": "production",
        "lastDeployedDateTime": "2022-09-06T20:50:45Z"
      }
    },
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/deployments?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "deploymentName": "production",
            "lastDeployedDateTime": "2022-09-06T20:50:45Z"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
