{
  "Entries": [
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/:query-knowledgebases?projectName=test-project\u0026deploymentName=test\u0026api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": {
        "question": "How long should my Surface battery last?",
        "top": 3,
        "userId": "sd53lsY=",
        "confidenceScoreThreshold": 0.2,
        "answerSpanRequest": {
          "enable": true,
          "confidenceScoreThreshold": 0.2,
          "topAnswersWithSpan": 1
        },
        "includeUnstructuredSources": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.QuestionAnsweringTextRecords=1"
      },
      "ResponseBody": {
        "answers": [
          {
            "questions": [
              "Making your battery last"
            ],
            "answer": "**Making your battery last**\n\nTo learn ways to conserve power and make your battery last longer, see [Surface battery and power](https://www.microsoft.com/surface/support/hardware-and-drivers/battery-and-power-pro) on Surface.com.",
            "confidenceScore": 0.7506,
            "id": 26,
            "source": "surface-book-user-guide-EN.pdf",
            "metadata": {
              "system_metadata_qna_edited_manually": "true",
              "explicitlytaggedheading": "make your battery last"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            }
          },
          {
            "questions": [
              "Check the battery level"
            ],
            "answer": "**Check the battery level**\n\nYou can check the battery level from the lock screen or on the desktop. Lock screen\n\nWhen you wake your Surface Book, the battery status appears in the lower-right corner of the lock screen. \u272A",
            "confidenceScore": 0.49579999999999996,
            "id": 24,
            "source": "surface-book-user-guide-EN.pdf",
            "metadata": {
              "system_metadata_qna_edited_manually": "true",
              "explicitlytaggedheading": "check the battery level"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": [
                {
                  "displayOrder": 0,
                  "qnaId": 25,
                  "displayText": "Desktop taskbar"
                }
              ]
            }
          },
          {
            "questions": [
              "Desktop taskbar"
            ],
            "answer": "**Desktop taskbar**\n\nOn the desktop, select the battery status icon on the right side of the taskbar. The battery status pane shows the charging level for both batteries. \u272A\n\nWhen your Surface Book is fully charged, it should last up to 10 hours for web browsing.",
            "confidenceScore": 0.43829999999999997,
            "id": 25,
            "source": "surface-book-user-guide-EN.pdf",
            "metadata": {},
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
