interactions:
- request:
    body: '{"description": "biography of Sir Issac Newton", "language": "en", "multilingualResource":
      true, "settings": {"defaultAnswer": "no answer"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"projectName\": \"IssacNewton\",\n  \"description\": \"biography
        of Sir Issac Newton\",\n  \"language\": \"en\",\n  \"multilingualResource\":
        false,\n  \"createdDateTime\": \"2022-08-02T22:04:43Z\",\n  \"lastModifiedDateTime\":
        \"2022-08-02T22:05:13Z\",\n  \"settings\": {\n    \"defaultAnswer\": \"no
        answer\"\n  }\n}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://languagesdkresource.cognitiveservices.azure.com//language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
- request:
    body: null
    headers:
    method: POST
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/:export?api-version=2021-10-01&format=json
  response:
    body:
      string: ''
    headers:
      operation-location: https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/ba4dce79-10da-45dc-a38a-60a2a3bcccea?api-version=2021-10-01
    status:
      code: 202
      message: Accepted
    url: https://languagesdkresource.cognitiveservices.azure.com//language/query-knowledgebases/projects/IssacNewton/:export?api-version=2021-10-01&format=json
- request:
    body: null
    headers:
    method: GET
    uri: https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/ba4dce79-10da-45dc-a38a-60a2a3bcccea?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-08-02T22:05:13+00:00\",\n  \"expirationDateTime\":
        \"2022-08-03T04:05:13+00:00\",\n  \"jobId\": \"ba4dce79-10da-45dc-a38a-60a2a3bcccea\",\n
        \ \"lastUpdatedDateTime\": \"2022-08-02T22:05:13+00:00\",\n  \"status\": \"notStarted\"\n}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/ba4dce79-10da-45dc-a38a-60a2a3bcccea?api-version=2021-10-01
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/ba4dce79-10da-45dc-a38a-60a2a3bcccea?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-08-02T22:05:13+00:00\",\n  \"expirationDateTime\":
        \"2022-08-03T04:05:13+00:00\",\n  \"jobId\": \"ba4dce79-10da-45dc-a38a-60a2a3bcccea\",\n
        \ \"lastUpdatedDateTime\": \"2022-08-02T22:06:42+00:00\",\n  \"status\": \"succeeded\",\n
        \ \"resultUrl\": \"https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/ba4dce79-10da-45dc-a38a-60a2a3bcccea/result?api-version=2021-10-01\"\n}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/ba4dce79-10da-45dc-a38a-60a2a3bcccea?api-version=2021-10-01
version: 1
