interactions:
- request:
    body: '{"description": "biography of Sir Issac Newton", "language": "en", "multilingualResource":
      true, "settings": {"defaultAnswer": "no answer"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"projectName\": \"IssacNewton\",\n  \"description\": \"biography
        of Sir Issac Newton\",\n  \"language\": \"en\",\n  \"multilingualResource\":
        false,\n  \"createdDateTime\": \"2022-08-02T22:07:25Z\",\n  \"lastModifiedDateTime\":
        \"2022-08-02T22:31:09Z\",\n  \"lastDeployedDateTime\": \"2022-08-02T22:29:41Z\",\n
        \ \"settings\": {\n    \"defaultAnswer\": \"no answer\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/:export?api-version=2021-10-01&format=json
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/443ca922-4230-40c7-8ab1-cbe723f2197d?api-version=2021-10-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/export/jobs/443ca922-4230-40c7-8ab1-cbe723f2197d?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-08-02T22:31:09+00:00\",\n  \"expirationDateTime\":
        \"2022-08-03T04:31:09+00:00\",\n  \"jobId\": \"443ca922-4230-40c7-8ab1-cbe723f2197d\",\n
        \ \"lastUpdatedDateTime\": \"2022-08-02T22:31:09+00:00\",\n  \"status\": \"notStarted\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/export/jobs/443ca922-4230-40c7-8ab1-cbe723f2197d?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-08-02T22:31:09+00:00\",\n  \"expirationDateTime\":
        \"2022-08-03T04:31:09+00:00\",\n  \"jobId\": \"443ca922-4230-40c7-8ab1-cbe723f2197d\",\n
        \ \"lastUpdatedDateTime\": \"2022-08-02T22:31:12+00:00\",\n  \"status\": \"succeeded\",\n
        \ \"resultUrl\": \"https://languagesdkresource.cognitiveservices.azure.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/443ca922-4230-40c7-8ab1-cbe723f2197d/result?api-version=2021-10-01\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
