interactions:
- request:
    body: '{"description": "biography of Sir Issac Newton", "language": "en", "multilingualResource":
      true, "settings": {"defaultAnswer": "no answer"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"projectName\": \"IssacNewton\",\n  \"description\": \"biography
        of Sir Issac Newton\",\n  \"language\": \"en\",\n  \"multilingualResource\":
        false,\n  \"createdDateTime\": \"2022-01-30T15:44:33Z\",\n  \"lastModifiedDateTime\":
        \"2022-01-30T16:04:33Z\",\n  \"settings\": {\n    \"defaultAnswer\": \"no
        answer\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/:export?api-version=2021-10-01&format=json
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://test-resource.api.cognitive.microsoft.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/5c14b4b8-d8d0-4c33-aa30-b3fc20411169?api-version=2021-10-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/export/jobs/5c14b4b8-d8d0-4c33-aa30-b3fc20411169?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-01-30T16:04:34+00:00\",\n  \"expirationDateTime\":
        \"2022-01-30T22:04:34+00:00\",\n  \"jobId\": \"5c14b4b8-d8d0-4c33-aa30-b3fc20411169\",\n
        \ \"lastUpdatedDateTime\": \"2022-01-30T16:04:35+00:00\",\n  \"status\": \"succeeded\",\n
        \ \"resultUrl\": \"https://test-resource.api.cognitive.microsoft.com:443/language/query-knowledgebases/projects/IssacNewton/export/jobs/5c14b4b8-d8d0-4c33-aa30-b3fc20411169/result?api-version=2021-10-01\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
