interactions:
- request:
    body: '{"description": "biography of Sir Issac Newton", "language": "en", "multilingualResource":
      true, "settings": {"defaultAnswer": "no answer"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"projectName\": \"IssacNewton\",\n  \"description\": \"biography
        of Sir Issac Newton\",\n  \"language\": \"en\",\n  \"multilingualResource\":
        false,\n  \"createdDateTime\": \"2022-02-10T19:42:15Z\",\n  \"lastModifiedDateTime\":
        \"2022-02-10T19:43:19Z\",\n  \"settings\": {\n    \"defaultAnswer\": \"no
        answer\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "add", "value": {"displayName": "MicrosoftFAQ", "source": "https://www.microsoft.com/en-in/software-download/faq",
      "sourceUri": "https://www.microsoft.com/en-in/software-download/faq", "sourceKind":
      "url", "contentStructureKind": "unstructured", "refresh": false}}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://test-resource.api.cognitive.microsoft.com:443/language/query-knowledgebases/projects/IssacNewton/sources/jobs/3af97bf1-c8f7-4f58-883d-5304c4a455af?api-version=2021-10-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources/jobs/3af97bf1-c8f7-4f58-883d-5304c4a455af?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-02-10T19:43:19+00:00\",\n  \"expirationDateTime\":
        \"2022-02-11T01:43:19+00:00\",\n  \"jobId\": \"3af97bf1-c8f7-4f58-883d-5304c4a455af\",\n
        \ \"lastUpdatedDateTime\": \"2022-02-10T19:43:49+00:00\",\n  \"status\": \"succeeded\",\n
        \ \"resultUrl\": \"/knowledgebases/IssacNewton\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"source\": \"Editorial\",\n      \"sourceKind\":
        \"file\",\n      \"contentStructureKind\": \"semistructured\",\n      \"lastUpdatedDateTime\":
        \"2022-02-10T19:42:48.0442242Z\"\n    },\n    {\n      \"displayName\": \"MicrosoftFAQ\",\n
        \     \"source\": \"https://www.microsoft.com/en-in/software-download/faq\",\n
        \     \"sourceUri\": \"https://www.microsoft.com/en-in/software-download/faq\",\n
        \     \"sourceKind\": \"url\",\n      \"contentStructureKind\": \"unstructured\",\n
        \     \"lastUpdatedDateTime\": \"2022-02-10T19:43:46.5564214Z\"\n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"source\": \"Editorial\",\n      \"sourceKind\":
        \"file\",\n      \"contentStructureKind\": \"semistructured\",\n      \"lastUpdatedDateTime\":
        \"2022-02-10T19:42:48.0442242Z\"\n    },\n    {\n      \"displayName\": \"MicrosoftFAQ\",\n
        \     \"source\": \"https://www.microsoft.com/en-in/software-download/faq\",\n
        \     \"sourceUri\": \"https://www.microsoft.com/en-in/software-download/faq\",\n
        \     \"sourceKind\": \"url\",\n      \"contentStructureKind\": \"unstructured\",\n
        \     \"lastUpdatedDateTime\": \"2022-02-10T19:43:46.5564214Z\"\n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
