interactions:
- request:
    body: '{"description": "biography of Sir Issac Newton", "language": "en", "multilingualResource":
      true, "settings": {"defaultAnswer": "no answer"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"projectName\": \"IssacNewton\",\n  \"description\": \"biography
        of Sir Issac Newton\",\n  \"language\": \"en\",\n  \"multilingualResource\":
        false,\n  \"createdDateTime\": \"2022-01-31T15:25:07Z\",\n  \"lastModifiedDateTime\":
        \"2022-01-31T16:28:09Z\",\n  \"lastDeployedDateTime\": \"2022-01-31T16:10:26Z\",\n
        \ \"settings\": {\n    \"defaultAnswer\": \"no answer\"\n  }\n}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://wuppe.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"projectName\": \"IssacNewton\",\n
        \     \"description\": \"biography of Sir Issac Newton\",\n      \"language\":
        \"en\",\n      \"multilingualResource\": false,\n      \"createdDateTime\":
        \"2022-01-31T15:25:07Z\",\n      \"lastModifiedDateTime\": \"2022-01-31T16:28:09Z\",\n
        \     \"lastDeployedDateTime\": \"2022-01-31T16:10:26Z\",\n      \"settings\":
        {\n        \"defaultAnswer\": \"no answer\"\n      }\n    },\n    {\n      \"projectNa[...]
