interactions:
- request:
    body: '{"description": "biography of Sir Issac Newton", "language": "en", "multilingualResource":
      true, "settings": {"defaultAnswer": "no answer"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"projectName\": \"IssacNewton\",\n  \"description\": \"biography
        of Sir Issac Newton\",\n  \"language\": \"en\",\n  \"multilingualResource\":
        false,\n  \"createdDateTime\": \"2022-01-26T21:05:50Z\",\n  \"lastModifiedDateTime\":
        \"2022-02-10T19:36:32Z\",\n  \"settings\": {\n    \"defaultAnswer\": \"no
        answer\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "add", "value": {"displayName": "Issac Newton Bio", "sourceUri":
      "https://wikipedia.org/wiki/Isaac_Newton", "sourceKind": "url"}}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://test-resource.api.cognitive.microsoft.com:443/language/query-knowledgebases/projects/IssacNewton/sources/jobs/232beb85-6b25-4ede-bfcd-261f6461d8d4?api-version=2021-10-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources/jobs/232beb85-6b25-4ede-bfcd-261f6461d8d4?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-02-10T19:36:32+00:00\",\n  \"expirationDateTime\":
        \"2022-02-11T01:36:32+00:00\",\n  \"jobId\": \"232beb85-6b25-4ede-bfcd-261f6461d8d4\",\n
        \ \"lastUpdatedDateTime\": \"2022-02-10T19:36:33+00:00\",\n  \"status\": \"succeeded\",\n
        \ \"resultUrl\": \"/knowledgebases/IssacNewton\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/sources?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"displayName\": \"Issac Newton Bio\",\n
        \     \"source\": \"https://wikipedia.org/wiki/Isaac_Newton\",\n      \"sourceUri\":
        \"https://wikipedia.org/wiki/Isaac_Newton\",\n      \"sourceKind\": \"url\",\n
        \     \"contentStructureKind\": \"semistructured\",\n      \"lastUpdatedDateTime\":
        \"2022-01-26T21:07:41.7684985Z\"\n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: PUT
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/deployments/production?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      operation-location:
      - https://test-resource.api.cognitive.microsoft.com:443/language/query-knowledgebases/projects/IssacNewton/deployments/production/jobs/249383a5-05f6-4848-b74d-161dee99b0fc?api-version=2021-10-01
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/deployments/production/jobs/249383a5-05f6-4848-b74d-161dee99b0fc?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"createdDateTime\": \"2022-02-10T19:37:02+00:00\",\n  \"expirationDateTime\":
        \"2022-02-11T01:37:02+00:00\",\n  \"jobId\": \"249383a5-05f6-4848-b74d-161dee99b0fc\",\n
        \ \"lastUpdatedDateTime\": \"2022-02-10T19:37:12+00:00\",\n  \"status\": \"succeeded\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/deployments/production?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"deploymentName\": \"production\",\n  \"lastDeployedDateTime\":
        \"2022-02-10T19:37:12Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton/deployments?api-version=2021-10-01
  response:
    body:
      string: "{\n  \"value\": [\n    {\n      \"deploymentName\": \"production\",\n
        \     \"lastDeployedDateTime\": \"2022-02-10T19:37:12Z\"\n    }\n  ]\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
