{
  "Entries": [
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects/IssacNewton?api-version=2021-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "biography of Sir Issac Newton",
        "language": "en",
        "multilingualResource": true,
        "settings": {
          "defaultAnswer": "no answer"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "projectName": "IssacNewton",
        "description": "biography of Sir Issac Newton",
        "language": "en",
        "multilingualResource": false,
        "createdDateTime": "2022-09-06T20:44:34Z",
        "lastModifiedDateTime": "2022-09-06T20:51:07Z",
        "lastDeployedDateTime": "2022-09-06T20:50:45Z",
        "settings": {
          "defaultAnswer": "no answer"
        }
      }
    },
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/query-knowledgebases/projects?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "projectName": "IssacNewton",
            "description": "biography of Sir Issac Newton",
            "language": "en",
            "multilingualResource": false,
            "createdDateTime": "2022-09-06T20:44:34Z",
            "lastModifiedDateTime": "2022-09-06T20:51:07Z",
            "lastDeployedDateTime": "2022-09-06T20:50:45Z",
            "settings": {
              "defaultAnswer": "no answer"
            }
          },
          {
            "projectName": [...]
