{
  "Entries": [
    {
      "RequestUri": "https://test-resource.api.cognitive.microsoft.com/language/:query-knowledgebases?projectName=test-project\u0026deploymentName=test\u0026api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "0000000000000000"
      },
      "RequestBody": {
        "question": "Battery life",
        "top": 3,
        "filters": {
          "metadataFilter": {
            "metadata": [
              {
                "key": "explicitlytaggedheading",
                "value": "check the battery level"
              },
              {
                "key": "explicitlytaggedheading",
                "value": "make your battery last"
              }
            ],
            "logicalOperation": "OR"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.TextAnalytics.QuestionAnsweringTextRecords=1"
      },
      "ResponseBody": {
        "answers": [
          {
            "questions": [
              "Check the battery level"
            ],
            "answer": "**Check the battery level**\n\nYou can check the battery level from the lock screen or on the desktop. Lock screen\n\nWhen you wake your Surface Book, the battery status appears in the lower-right corner of the lock screen. \u272A",
            "confidenceScore": 0.9004000000000001,
            "id": 24,
            "source": "surface-book-user-guide-EN.pdf",
            "metadata": {
              "system_metadata_qna_edited_manually": "true",
              "explicitlytaggedheading": "check the battery level"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": [
                {
                  "displayOrder": 0,
                  "qnaId": 25,
                  "displayText": "Desktop taskbar"
                }
              ]
            }
          },
          {
            "questions": [
              "Making your battery last"
            ],
            "answer": "**Making your battery last**\n\nTo learn ways to conserve power and make your battery last longer, see [Surface battery and power](https://www.microsoft.com/surface/support/hardware-and-drivers/battery-and-power-pro) on Surface.com.",
            "confidenceScore": 0.39399999999999996,
            "id": 26,
            "source": "surface-book-user-guide-EN.pdf",
            "metadata": {
              "system_metadata_qna_edited_manually": "true",
              "explicitlytaggedheading": "make your battery last"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
