interactions:
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 21 Apr 2022 12:50:38 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: qs3RWWZcxEGk9RVXQqSrZQ.0
      x-processing-time: 546ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
[...]
- request:
    body: '{"trunks": {"sbs3.sipconfigtest.com": {"sipSignalingPort": 2222}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-date:
      - Thu, 21 Apr 2022 12:50:41 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123},"sbs3.sipconfigtest.com":{"sipSignalingPort":2222}},"routes":[]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: 6bP75pAMsEWq9FryV01jgg.0
      x-processing-time: 871ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
- request:
    body: ''
    headers:
      x-ms-date:
      - Thu, 21 Apr 2022 12:50:42 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123},"sbs3.sipconfigtest.com":{"sipSignalingPort":2222}},"routes":[]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: iehAKioayU6IAF04Qao9VA.0
      x-processing-time: 238ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
version: 1
