interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs3.sipconfigtest.com":{"sipSignalingPort":2222}},"routes":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /bf01Wd8yE+oFw9VF+1C+Q.0
      x-processing-time:
      - 158ms
    status:
      code: 200
      message: OK
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs3.sipconfigtest.com":{"sipSignalingPort":2222}},"routes":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - MWZnCL9/9EWNl6SnB6lmWw.0
      x-processing-time:
      - 269ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"trunks": {"sbs1.sipconfigtest.com": {"sipSignalingPort": 1122}, "sbs2.sipconfigtest.com":
      {"sipSignalingPort": 1123}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ppXAtJyUdU62mcMamYGsgQ.0
      x-processing-time:
      - 965ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"routes": [{"description": "Handle numbers starting with ''+123''", "name":
      "First rule", "numberPattern": "\\+123[0-9]+", "trunks": ["sbs1.sipconfigtest.com"]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[{"description":"Handle
        numbers starting with ''+123''","name":"First rule","numberPattern":"\\+123[0-9]+","trunks":["sbs1.sipconfigtest.com"]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Iw8WsVFA7UCSPpNM/VX1FA.0
      x-processing-time:
      - 254ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[{"description":"Handle
        numbers starting with ''+123''","name":"First rule","numberPattern":"\\+123[0-9]+","trunks":["sbs1.sipconfigtest.com"]},{"description":"Handle
        numbers starting with ''+999''","name":"Alternative rule","numberPattern":"\\+999[0-9]+","trunks":["sbs2.sipconfigtest.com"]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - RveoqFJc7E+AzwQ78kP85Q.0
      x-processing-time:
      - 157ms
    status:
      code: 200
      message: OK
version: 1
