interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122}},"routes":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 9xqE5ajmu06sNE+jfEbgMQ.0
      x-processing-time:
      - 276ms
    status:
      code: 200
      message: OK
- request:
    body: '{"routes": []}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122}},"routes":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dNtB18LnukaFHEp3p7zu+g.0
      x-processing-time:
      - 481ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"trunks": {"sbs1.sipconfigtest.com": {"sipSignalingPort": 1122}, "sbs2.sipconfigtest.com":
      {"sipSignalingPort": 1123}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - NDrs2LTYg0av6dgBX8mJPA.0
      x-processing-time:
      - 841ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"routes": [{"description": "Handle numbers starting with ''+123''", "name":
      "First rule", "numberPattern": "\\+123[0-9]+", "trunks": ["sbs1.sipconfigtest.com"]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[{"description":"Handle
        numbers starting with ''+123''","name":"First rule","numberPattern":"\\+123[0-9]+","trunks":["sbs1.sipconfigtest.com"]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Vm3KzRR7dEqU1bFUcqHHjw.0
      x-processing-time:
      - 308ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":1123}},"routes":[{"description":"Handle
        numbers starting with ''+123''","name":"First rule","numberPattern":"\\+123[0-9]+","trunks":["sbs1.sipconfigtest.com"]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BH+1OAk8P0ecPGjNN9FDJQ.0
      x-processing-time:
      - 239ms
    status:
      code: 200
      message: OK
version: 1
