interactions:
- request:
    body: '{"routes": [{"description": "Handle all other numbers''''", "name": "Updated
      rule", "numberPattern": "\\+[1-9][0-9]{3,23}", "trunks": ["sbs1.sipconfigtest.com",
      "sbs2.sipconfigtest.com"]}]}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
  response:
    body:
      string: '{"trunks":{"sbs1.sipconfigtest.com":{"sipSignalingPort":1122},"sbs2.sipconfigtest.com":{"sipSignalingPort":8888}},"routes":[{"description":"Handle
        all other numbers''''","name":"Updated rule","numberPattern":"\\+[1-9][0-9]{3,23}","trunks":["sbs1.sipconfigtest.com","sbs2.sipconfigtest.com"]}]}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: Z81s+vg2uE2My3TdXbWMOw.0
      x-processing-time: 213ms
    status:
      code: 200
      message: OK
    url: https://sanitized.communication.azure.com/sip?api-version=2021-05-01-preview
version: 1
