include *.md
include LICENSE
include azure/keyvault/securitydomain/py.typed
recursive-include tests *.py
recursive-include samples *.py *.md
include azure/__init__.py
include azure/keyvault/__init__.py
