-e ../../../tools/azure-sdk-tools
../../core/azure-core
-e ../../../tools/azure-devtools
../../identity/azure-identity
-e ../../ml/azure-ai-ml
-e ../azure-ai-resources
-e ../azure-ai-generative[faiss,hugging_face,langchain,index,qa_generation,simulator,evaluate,promptflow]
pytest
pytest-xdist
openai>=1.4.0