recursive-include tests *.py
recursive-include samples *.py *.md *.txt
include *.md
include azure/__init__.py
include azure/ai/__init__.py
include azure/ai/generative/py.typed
include azure/ai/generative/index/_utils/encodings/*
include azure/ai/generative/evaluate/metrics/templates/*
recursive-include azure/ai/generative/evaluate/pf_templates *
recursive-include azure/ai/generative/synthetic/templates *.txt
recursive-include azure/ai/generative/synthetic/simulator/templates *.md
