[tool.azure-sdk-build]
mypy = true
type_check_samples = false
verifytypes = false
pyright = false
pylint = false
black = false
bandit = false
sphinx=true
breaking = false
whl_no_aio = false
strict_sphinx = true

[tool.mypy] 
python_version = "3.10"
exclude = ["azure/ai/generative/index/_langchain/vendor", "tests", "setup.py", "samples", "azure/ai/generative/evaluate/pf_templates/built_in_metrics"]   
warn_unused_configs = true 
follow_imports = "skip"
ignore_missing_imports = true
follow_imports_for_stubs = false