interactions:
- request:
    body: '{"properties": {"category": "Cost", "amount": 60.0, "timeGrain": "Monthly",
      "timePeriod": {"startDate": "2018-02-01T00:00:00.000Z", "endDate": "2018-02-28T00:00:00.000Z"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost?api-version=2018-01-31
  response:
    body: {string: '{"id":"subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost","name":"PythonSDKTestBudgetCost","type":"Microsoft.Consumption/budgets","eTag":"\"1d39eed4b572abe\"","properties":{"timePeriod":{"startDate":"2018-02-01T00:00:00Z","endDate":"2018-02-28T00:00:00Z"},"timeGrain":"Monthly","amount":60.0,"currentSpend":null,"category":"Cost","notifications":{},"filters":{"resourceGroups":[],"resources":[],"meters":[]}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://consumption.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost?api-version=2018-01-31']
      session-id: [7ccfbc94-4b6d-4f0c-8f5b-b4ee4b6be89b]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
version: 1
