interactions:
- request:
    body: '{"properties": {"category": "Cost", "amount": 100.0, "timeGrain": "Monthly",
      "timePeriod": {"startDate": "2022-01-01T00:00:00.000Z", "endDate": "2022-10-31T00:00:00.000Z"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_budgets_test_budgets85c60a49/providers/Microsoft.Consumption/budgets/budget85c60a49?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_budgets_test_budgets85c60a49/providers/Microsoft.Consumption/budgets/budget85c60a49","name":"budget85c60a49","type":"Microsoft.Consumption/budgets","eTag":"\"1d802d572939f3d\"","properties":{"timePeriod":{"startDate":"2022-01-01T00:00:00Z","endDate":"2022-10-31T00:00:00Z"},"timeGrain":"Monthly","amount":100.0,"currentSpend":null,"category":"Cost","notifications":{},"filter":{}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_budgets_test_budgets85c60a49/providers/Microsoft.Consumption/budgets/budget85c60a49?api-version=2021-10-01
      session-id:
      - 91c8a692-9924-41bb-b43d-9e787d5b9333
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_budgets_test_budgets85c60a49/providers/Microsoft.Consumption/budgets/budget85c60a49?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_budgets_test_budgets85c60a49/providers/Microsoft.Consumption/budgets/budget85c60a49","name":"budget85c60a49","type":"Microsoft.Consumption/budgets","eTag":"\"1d802d572939f3d\"","properties":{"timePeriod":{"startDate":"2022-01-01T00:00:00Z","endDate":"2022-10-31T00:00:00Z"},"timeGrain":"Monthly","amount":100.0,"currentSpend":{"amount":0.0,"unit":"USD"},"category":"Cost","notifications":{},"filter":{}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      session-id:
      - a52bd22c-d52e-4493-8537-9a46db2435aa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_budgets_test_budgets85c60a49/providers/Microsoft.Consumption/budgets/budget85c60a49?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      session-id:
      - eb82e90d-43ac-4961-a95a-1aa00de698d0
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
