interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost1?api-version=2018-01-31
  response:
    body: {string: '{"id":"subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost1","name":"PythonSDKTestBudgetCost1","type":"Microsoft.Consumption/budgets","eTag":"\"1d39eec337b8f5b\"","properties":{"timePeriod":{"startDate":"2018-02-01T00:00:00Z","endDate":"2018-02-28T00:00:00Z"},"timeGrain":"Monthly","amount":80.0,"currentSpend":{"amount":50.254680527413996,"unit":"USD"},"category":"Cost","notifications":{},"filters":{"resourceGroups":[],"resources":[],"meters":[]}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      session-id: [cf5a1de7-7298-4d80-8189-c111fb0c01d7]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost1?api-version=2018-01-31
  response:
    body: {string: '{"id":"subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost1","name":"PythonSDKTestBudgetCost1","type":"Microsoft.Consumption/budgets","eTag":"\"1d39eed56562e43\"","properties":{"timePeriod":{"startDate":"2018-02-01T00:00:00Z","endDate":"2018-02-28T00:00:00Z"},"timeGrain":"Monthly","amount":80.0,"currentSpend":{"amount":50.254680527413996,"unit":"USD"},"category":"Cost","notifications":{},"filters":{"resourceGroups":[],"resources":[],"meters":[]}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      session-id: [ae81899d-5f51-4376-8482-8827cfd9aeef]
    status: {code: 200, message: OK}
version: 1
