interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost8?api-version=2018-01-31
  response:
    body: {string: '{"id":"subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/budgets/PythonSDKTestBudgetCost8","name":"PythonSDKTestBudgetCost8","type":"Microsoft.Consumption/budgets","eTag":"\"1d39baf085c589a\"","properties":{"timePeriod":{"startDate":"2018-02-01T00:00:00Z","endDate":"2018-02-02T00:00:00Z"},"timeGrain":"Monthly","amount":60.0,"currentSpend":{"amount":50.254680527413996,"unit":"USD"},"category":"Cost","notifications":{},"filters":{"resourceGroups":[],"resources":[],"meters":[]}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      session-id: [87320c4e-2676-47d4-baf4-840376b83fe2]
    status: {code: 200, message: OK}
version: 1
