{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "NA",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.16.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026scope=https%3A%2F%2Floadtest.azure-dev.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://myservice.azure.com/loadtests/000?api-version=2022-06-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yashika-rg/providers/Microsoft.LoadTestService/loadtests/loadtestsdk",
        "description": "",
        "displayName": "TestingResource",
        "loadTestConfig": {
          "engineSize": "m",
          "engineInstances": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "environmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "keyvaultReferenceIdentityType": "SystemAssigned",
        "keyvaultReferenceIdentityId": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "48d531a8-0cc5-48ca-af82-e26f1733b111"
      },
      "ResponseBody": {
        "testId": "000",
        "description": "",
        "displayName": "TestingResource",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/python-sdk-test/providers/microsoft.loadtestservice/loadtests/loadtest-jf",
        "loadTestConfig": {
          "engineInstances": 1,
          "splitAllCSVs": false
        },
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "createdDateTime": "2022-07-26T02:38:46.669Z",
        "createdBy": null,
        "lastModifiedDateTime": "2022-07-26T02:38:46.669Z",
        "lastModifiedBy": null,
        "inputArtifacts": {
          "configUrl": null,
          "testScriptUrl": {
            "url": "https://stcntproddataeus.blob.core.windows.net/041c60a4-d25f-4102-b324-4f30261785e3/000?sv=2020-04-08\u0026se=2022-08-04T09%3A04%3A16Z\u0026sr=b\u0026sp=r\u0026sig=DtvmeUoDU3iajVdg7TXRGzoZQN46xeRiOIoUcNZPpqs%3D",
            "fileId": "000",
            "filename": "sample.jmx",
            "fileType": 0,
            "expireTime": "2022-08-04T08:14:16.1853263\u002B00:00",
            "validationStatus": "VALIDATION_INITIATED"
          },
          "userPropUrl": null,
          "inputArtifactsZipFileurl": null,
          "additionalUrls": []
        },
        "secrets": null,
        "environmentVariables": null,
        "subnetId": null,
        "keyvaultReferenceIdentityType": "SystemAssigned",
        "keyvaultReferenceIdentityId": null
      }
    },
    {
      "RequestUri": "https://myservice.azure.com/loadtests/000/files/000?api-version=2022-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "multipart/form-data; boundary=ad412b0cc1ca44cb6494fedb99483196"
      },
      "RequestBody": "LS1hZDQxMmIwY2MxY2E0NGNiNjQ5NGZlZGI5OTQ4MzE5Ng0KQ29udGVudC1EaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9InNhbXBsZS5qbXgiDQpDb250ZW50LVR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KDQo8P3htbCB2ZXJzaW9u[...]
[...]
    {
      "RequestUri": "https://myservice.azure.com/testruns/000?api-version=2022-06-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "testId": "000",
        "displayName": "TestingResource"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8491b2c7-72e6-4702-9cbf-5bf52a19f17e"
      },
      "ResponseBody": {
        "testRunId": "000",
        "displayName": "TestingResource",
        "testId": "000",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/python-sdk-test/providers/microsoft.loadtestservice/loadtests/loadtest-jf",
        "description": null,
        "status": "ACCEPTED",
        "startDateTime": null,
        "endDateTime": null,
        "loadTestConfig": {
          "engineInstances": 1,
          "splitAllCSVs": false
        },
        "testResult": "NOT_APPLICABLE",
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "testArtifacts": {
          "inputArtifacts": {
            "configUrl": {
              "url": "https://stcntproddataeus.blob.core.windows.net/041c60a4-d25f-4102-b324-4f30261785e3/6f03991d-1087-4d4b-968d-5bb2aae66a9d",
              "fileId": "6f03991d-1087-4d4b-968d-5bb2aae66a9d",
              "filename": "config.yaml",
              "fileType": 2,
              "expireTime": "2022-08-04T08:14:19.7472541\u002B00:00",
              "validationStatus": ""
            },
            "testScriptUrl": {
        [...]
[...]
    {
      "RequestUri": "https://myservice.azure.com/testruns/0000-0000?api-version=2022-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "07f85da8-c73c-4f14-923e-c3e4e001f953"
      },
      "ResponseBody": {
        "error": {
          "code": "TestRunNotFound",
          "message": "Test run not found with given identifier \u00220000-0000\u0022.",
          "target": null,
          "details": null
        }
      }
    }
  ],
  "Variables": {}
}
