interactions:
- request:
    body: '{"name": "app_component", "testId": "TEST_ID", "value": {"/subscriptions/SUBSCRIPTION_ID/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo":
      {"resourceId": "/subscriptions/SUBSCRIPTION_ID/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo",
      "resourceName": "App-Service-Sample-Demo", "resourceType": "Microsoft.Web/sites",
      "subscriptionId": "SUBSCRIPTION_ID"}, "subscriptions/SUBSCRIPTION_ID/resourceGroups/Demo-App-Service-Sample-rg/providers/Microsoft.Web/sites/Demo-App-Service-Sample":
      {"resourceId": "/subscriptions/SUBSCRIPTION_ID/resourceGroups/Demo-App-Service-Sample-rg/providers/Microsoft.Web/sites/Demo-App-Service-Sample",
      "resourceName": "Demo-App-Service-Sample", "resourceType": "Microsoft.Web/sites",
      "subscriptionId": "SUBSCRIPTION_ID"}, "/subscriptions/SUBSCRIPTION_ID/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample":
      {"resourceId": "/subscriptions/SUBSCRIPTION_ID/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample",
      "resourceName": "App-Service-Sample-Demo", "resourceType": "Microsoft.Web/sites",
      "subscriptionId": "SUBSCRIPTION_ID"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://myservice.azure.com/appcomponents/APP_COMPONENT?api-version=2022-06-01-preview
  response:
    body:
      string: '{"resourceId":"/subscriptions/SUBSCRIPTION_ID/resourcegroups/yashika-rg/providers/microsoft.loadtestservice/loadtests/loadtestsdk","testId":"TEST_ID","testRunId":null,"name":"APP_COMPONENT","value":{"/subscriptions/SUBSCRIPTION_ID/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo":{"resourceId":"/subscriptions/SUBSCRIPTION_ID/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo","resourceName":"App-Service-Sample-Demo","resourceType":"Microsoft.Web/sites","displayName":null,"resourceGroup":"App-Service-Sample-Demo-rg","subscriptionId":"SUBSCRIPTION_ID","kind":null},"/subscriptions/SUBSCRIPTION_ID/resourceGroups/Demo-App-Service-Sample-rg/providers/Microsoft.Web/sites/Demo-App-Service-Sample":{"resourceId":"/subscriptions/SUBSCRIPTION_ID/resourceGroups/Demo-App-Service-Sample-rg/providers/Microsoft.Web/sites/Demo-App-Service-Sample","resourceName":"Demo-App-Service-Sample","resourceType":"Microsoft.Web/sites","displayName":null,"resourceGroup":"Demo-App-Service-Sample-rg","subscriptionId":"SUBSCRIPTION_ID","kind":null},"/subscriptions/SUBSCRIPTION_ID/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample":{"resourceId":"/subscriptions/SUBSCRIPTION_ID/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample","resourceName":"App-Service-Sample-Demo","resourceType":"Microsoft.Web/sites","displayName":null,"resourceGroup":"App-Service-Sample-Demo-rg","subscriptionId":"SUBSCRIPTION_ID","kind":null}}}'
    headers:
      api-supported-versions:
      - 2021-07-01-preview, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 02145331-c4d8-4221-ab77-a6f413adcc8d
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "app_component", "value": {"/subscriptions/SUBSCRIPTION_ID/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample":
      {"resourceId": "/subscriptions/SUBSCRIPTION_ID/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample",
      "resourceName": "App-Service-Sample-Demo", "resourceType": "Microsoft.Web/sites",
      "subscriptionId": "SUBSCRIPTION_ID"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://myservice.azure.com/appcomponents/APP_COMPONENT?api-version=2022-06-01-preview
  response:
    body:
      string: '{"error":{"code":"RequiredTestOrTestRun","message":"Either testId or
        testRunId is required.","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2021-07-01-preview, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 22743f0b-caaa-4ef0-bad1-a334d0bf9687
    status:
      code: 400
      message: Bad Request
version: 1
