interactions:
- request:
    body: '{"testId": "TEST_ID", "displayName": "TestingResource", "requestSamplers":
      [], "errors": [], "percentiles": ["90"], "groupByInterval": "5s"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://myservice.azure.com/testruns/TEST_RUN_ID?api-version=2022-06-01-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-07-01-preview, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 9f63646f-7bc1-47c9-8a69-6bffb3b63471
    status:
      code: 200
      message: OK
version: 1
