interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://myservice.azure.com/appcomponents?api-version=2022-06-01-preview&testId=a011890b-0201-004d-020d
  response:
    body:
      string: '{"resourceId":"/subscriptions/fake-subs-id/resourcegroups/yashika-rg/providers/microsoft.loadtestservice/loadtests/loadtestsdk","testId":"a011890b-0201-004d-020d","testRunId":null,"name":"01730263-6671-4212-b283","value":{"/subscriptions/fake-subs-id/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo":{"resourceId":"/subscriptions/fake-subs-id/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo","resourceName":"App-Service-Sample-Demo","resourceType":"Microsoft.Web/sites","displayName":null,"resourceGroup":"App-Service-Sample-Demo-rg","subscriptionId":"fake-subs-id","kind":null}}}'
    headers:
      api-supported-versions: 2021-07-01-preview, 2022-06-01-preview
      content-type: application/json; charset=utf-8
      mise-correlation-id: 08734605-3ede-4520-9975-eb29d95d0373
    status:
      code: 200
      message: OK
    url: https://eccdc9b7-7603-402b-879d-bde2b637db56.eus.cnt-prod.loadtesting.azure.com/appcomponents?api-version=2022-06-01-preview&testId=a011890b-0201-004d-020d
version: 1
