interactions:
- request:
    body: '{"resourceId": "/subscriptions/fake-subs-id/resourceGroups/yashika-rg/providers/Microsoft.LoadTestService/loadtests/loadtestsdk",
      "description": "", "displayName": "new_name", "loadTestConfig": {"engineSize":
      "m", "engineInstances": 1, "splitAllCSVs": false}, "secrets": {}, "environmentVariables":
      {}, "passFailCriteria": {"passFailMetrics": {}}, "keyvaultReferenceIdentityType":
      "SystemAssigned", "keyvaultReferenceIdentityId": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://myservice.azure.com/loadtests/a011890b-0201-004d-020d?api-version=2022-06-01-preview
  response:
    body:
      string: '{"testId":"a011890b-0201-004d-020d","description":"","displayName":"new_name","resourceId":"/subscriptions/fake-subs-id/resourcegroups/yashika-rg/providers/microsoft.loadtestservice/loadtests/loadtestsdk","loadTestConfig":{"engineInstances":1,"splitAllCSVs":false},"passFailCriteria":{"passFailMetrics":{}},"createdDateTime":"2022-07-25T11:12:35.941Z","createdBy":null,"lastModifiedDateTime":"2022-07-25T11:12:35.941Z","lastModifiedBy":null,"inputArtifacts":{"configUrl":null,"testScriptUrl":null,"userPropUrl":null,"inputArtifactsZipFileurl":null,"additionalUrls":[]},"secrets":null,"environmentVariables":null,"subnetId":null,"keyvaultReferenceIdentityType":"SystemAssigned","keyvaultReferenceIdentityId":null}'
    headers:
      api-supported-versions: 2021-07-01-preview, 2022-06-01-preview
      content-type: application/json; charset=utf-8
      mise-correlation-id: 9e5ee545-5588-4951-8835-4369cc5384a7
    status:
      code: 200
      message: OK
    url: https://eccdc9b7-7603-402b-879d-bde2b637db56.eus.cnt-prod.loadtesting.azure.com/loadtests/a011890b-0201-004d-020d?api-version=2022-06-01-preview
version: 1
