interactions:
- request:
    body: '{"resourceId": "/subscriptions/SUBSCRIPTION_ID/resourceGroups/yashika-rg/providers/Microsoft.LoadTestService/loadtests/loadtestsdk",
      "description": "", "displayName": "TestingResource", "loadTestConfig": {"engineSize":
      "m", "engineInstances": 1, "splitAllCSVs": false}, "secrets": {}, "environmentVariables":
      {}, "passFailCriteria": {"passFailMetrics": {}}, "keyvaultReferenceIdentityType":
      "SystemAssigned", "keyvaultReferenceIdentityId": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://myservice.azure.com/loadtests/TEST_ID?api-version=2022-06-01-preview
  response:
    body:
      string: '{"testId":"TEST_ID","description":"","displayName":"TestingResource","resourceId":"/subscriptions/SUBSCRIPTION_ID/resourcegroups/python-sdk-test/providers/microsoft.loadtestservice/loadtests/loadtest-jf","loadTestConfig":{"engineInstances":1,"splitAllCSVs":false},"passFailCriteria":{"passFailMetrics":{}},"createdDateTime":"2022-07-26T02:38:46.669Z","createdBy":null,"lastModifiedDateTime":"2022-07-26T02:38:46.669Z","lastModifiedBy":null,"inputArtifacts":{"configUrl":null,"testScriptUrl":{"url":"https://stcntproddataeus.blob.core.windows.net/041c60a4-d25f-4102-b324-4f30261785e3/FILE_ID?sv=2020-04-08&se=2022-07-27T09%3A20%3A19Z&sr=b&sp=r&sig=g6SXztLdlXSafpIucyAbhRp1HtcU9nJXVYLv3anSVSA%3D","fileId":"FILE_ID","filename":"sample.jmx","fileType":0,"expireTime":"2022-07-27T08:30:19.3585192+00:00","validationStatus":"VALIDATION_INITIATED"},"userPropUrl":null,"inputArtifactsZipFileurl":null,"additionalUrls":[]},"secrets":null,"environmentVariables":null,"subnetId":null,"keyvaultReferenceIdentityType":"SystemAssigned","keyvaultReferenceIdentityId":null}'
    headers:
      api-supported-versions:
      - 2021-07-01-preview, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - f139de97-8597-4065-9b9d-81b5d87b2aec
    status:
      code: 200
      message: OK
version: 1
