{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "client_id=00000000-0000-0000-0000-000000000000\u0026client_secret=00000000-0000-0000-0000-000000000000\u0026grant_type=client_credentials\u0026scope=https%3A%2F%2Fcnt-prod.loadtesting.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 86399,
        "ext_expires_in": 86399,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://https://myservice.azure.com/tests/d4ab4621-36b0-4e8b-a603-fb500b596a71?api-version=2022-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "description": "",
        "displayName": "TestingResourcePyTest",
        "loadTestConfig": {
          "engineSize": "m",
          "engineInstances": 1,
          "splitAllCSVs": false
        },
        "secrets": {},
        "environmentVariables": {},
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "keyvaultReferenceIdentityType": "SystemAssigned",
        "keyvaultReferenceIdentityId": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://https://myservice.azure.com/tests/d4ab4621-36b0-4e8b-a603-fb500b596a71?api-version=2022-11-01",
        "mise-correlation-id": "26ff8084-59b4-4f09-ac26-9850b2459265"
      },
      "ResponseBody": {
        "passFailCriteria": {
          "passFailMetrics": {}
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "testId": "d4ab4621-36b0-4e8b-a603-fb500b596a71",
        "description": "",
        "displayName": "TestingResourcePyTest",
        "keyvaultReferenceIdentityType": "SystemAssigned",
        "createdDateTime": "2022-12-26T13:30:40.365Z",
        "lastModifiedDateTime": "2022-12-26T13:30:40.365Z"
      }
    },
[...]
    {
      "RequestUri": "https://https://myservice.azure.com/tests/4fdcbc67-f93c-45f5-8103-008619fa2e14?api-version=2022-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2022-06-01-preview, 2022-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9f601e51-b764-459f-95ab-d27b638a0753"
      },
      "ResponseBody": {
        "error": {
          "code": "TestNotFound",
          "message": "Test not found with given name \u00224fdcbc67-f93c-45f5-8103-008619fa2e14\u0022."
        }
      }
    }
  ],
  "Variables": {}
}
