interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://myservice.azure.com/appcomponents?api-version=2022-06-01-preview&testId=TEST_ID
  response:
    body:
      string: '{"resourceId":"/subscriptions/SUBSCRIPTION_ID/resourcegroups/python-sdk-test/providers/microsoft.loadtestservice/loadtests/loadtest-jf","testId":"TEST_ID","testRunId":null,"name":"APP_COMPONENT","value":{"/subscriptions/SUBSCRIPTION_ID/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo":{"resourceId":"/subscriptions/SUBSCRIPTION_ID/resourceGroups/App-Service-Sample-Demo-rg/providers/Microsoft.Web/sites/App-Service-Sample-Demo","resourceName":"App-Service-Sample-Demo","resourceType":"Microsoft.Web/sites","displayName":null,"resourceGroup":"App-Service-Sample-Demo-rg","subscriptionId":"SUBSCRIPTION_ID","kind":null}}}'
    headers:
      api-supported-versions: 2021-07-01-preview, 2022-06-01-preview
      content-type: application/json; charset=utf-8
      mise-correlation-id: 9c7f9122-5984-4a98-b35c-d478f198d112
    status:
      code: 200
      message: OK
    url: https://946598fc-b4a7-4e07-8fbb-a68ca02a9f10.eus.cnt-prod.loadtesting.azure.com/appcomponents?api-version=2022-06-01-preview&testId=a011890b-0201-004d-010d
version: 1
