interactions:
- request:
    body: '{"resourceId": "/subscriptions/SUBSCRIPTION_ID/resourceGroups/yashika-rg/providers/Microsoft.LoadTestService/loadtests/loadtestsdk",
      "description": "", "displayName": "TestingResource", "loadTestConfig": {"engineSize":
      "m", "engineInstances": 1, "splitAllCSVs": false}, "secrets": {}, "environmentVariables":
      {}, "passFailCriteria": {"passFailMetrics": {}}, "keyvaultReferenceIdentityType":
      "SystemAssigned", "keyvaultReferenceIdentityId": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://myservice.azure.com/loadtests/some-unique-test-id?api-version=2022-06-01-preview
  response:
    body:
      string: '{"testId":"some-unique-test-id","description":"","displayName":"TestingResource","resourceId":"/subscriptions/SUBSCRIPTION_ID/resourcegroups/yashika-rg/providers/microsoft.loadtestservice/loadtests/loadtestsdk","loadTestConfig":{"engineInstances":1,"splitAllCSVs":false},"passFailCriteria":{"passFailMetrics":{}},"createdDateTime":"2022-08-01T11:43:59.118Z","createdBy":null,"lastModifiedDateTime":"2022-08-02T05:31:52.85Z","lastModifiedBy":"niveditjain@microsoft.com","inputArtifacts":{"configUrl":null,"testScriptUrl":{"url":"https://stcntproddataeus.blob.core.windows.net/7119bd1d-cd3f-40be-ab75-0fda8862f6d5/some-unique-file-idT10%3A31%3A25Z&sr=b&sp=r&sig=N5ZIT2MuUutKG65wXa8le2CH75qZ00eq9I5hvLFI6is%3D","fileId":"some-unique-file-id","filename":"sample.jmx","fileType":0,"expireTime":"2022-08-02T09:41:25.5338947+00:00","validationStatus":"VALIDATION_INITIATED"},"userPropUrl":null,"inputArtifactsZipFileurl":null,"additionalUrls":[{"url":"https://stcntproddataeus.blob.core.windows.net/7119bd1d-cd3f-40be-ab75-0fda8862f6d5/unique-image-file-idT10%3A31%3A25Z&sr=b&sp=r&sig=tGzJYR%2FJR7nsOAdosk8keM6aLeL%2FavcLVBYSk0ycKHw%3D","fileId":"unique-image-file-id","filename":"sample-image.jpg","fileType":2,"expireTime":"2022-08-02T09:41:25.5338947+00:00","validationStatus":""}]},"secrets":null,"environmentVariables":null,"subnetId":null,"keyvaultReferenceIdentityType":"SystemAssigned","keyvaultReferenceIdentityId":null}'
    headers:
      api-supported-versions:
      - 2021-07-01-preview, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - ea416a4c-9ba4-4cb6-a231-a953da266c41
    status:
      code: 200
      message: OK
- request:
    body: "--0f45d903e6dbd69bbc04201761209a4d\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"sample.jmx\"\r\nContent-Type: application/octet-stream\r\n\r\n<?xml
      version=\"1.0\" encoding=\"UTF-8\"?>\r\n<jmeterTestPlan version=\"1.2\" properties=\"5.0\"
      jmeter=\"5.4.3\">\r\n  <hashTree>\r\n    <TestPlan guiclass=\"TestPlanGui\"
      testclass=\"TestPlan\" testname=\"Test Plan\" enabled=\"true\">\r\n      <stringProp
      name=\"TestPlan.comments\"></stringProp>\r\n      <boolProp name=\"TestPlan.functional_mode\">false</boolProp>\r\n
      \     <boolProp name=\"TestPlan.tearDown_on_shutdown\">true</boolProp>\r\n      <boolProp
      name=\"TestPlan.serialize_threadgroups\">false</boolProp>\r\n      <elementProp
      name=\"TestPlan.user_defined_variables\" elementType=\"Arguments\" guiclass=\"ArgumentsPanel\"
      testclass=\"Arguments\" testname=\"User Defined Variables\" enabled=\"true\">\r\n
      \       <collectionProp name=\"Arguments.arguments\"/>\r\n      </elementProp>\r\n
      \     <stringProp name=\"TestPlan.user_define_classpath\"></stringProp>\r\n
      \   </TestPlan>\r\n    <hashTree>\r\n      <kg.apc.jmeter.threads.UltimateThreadGroup
      guiclass=\"kg.apc.jmeter.threads.UltimateThreadGroupGui\" testclass=\"kg.apc.jmeter.threads.UltimateThreadGroup\"
      testname=\"jp@gc - Ultimate Thread Group\" enabled=\"true\">\r\n        <collectionProp
      name=\"ultimatethreadgroupdata\">\r\n          <collectionProp name=\"-1108691518\">\r\n
      \           <stringProp name=\"1567\">10</stringProp>\r\n            <stringProp
      name=\"48\">0</stringProp>\r\n            <stringProp name=\"48873\">180</stringProp>\r\n
      \           <stringProp name=\"49710\">240</stringProp>\r\n            <stringProp
      name=\"10\">5</stringProp>\r\n          </collectionProp>\r\n        </collectionProp>\r\n
      \       <elementProp name=\"ThreadGroup.main_controller\" elementType=\"LoopController\"
      guiclass=\"LoopControlPanel\" testclass=\"LoopController\" testname=\"Loop Controller\"
      enabled=\"true\">\r\n          <boolProp name=\"LoopController.continue_forever\">false</boolProp>\r\n
      \         <intProp name=\"LoopController.loops\">-1</intProp>\r\n        </elementProp>\r\n
      \       <stringProp name=\"ThreadGroup.on_sample_error\">continue</stringProp>\r\n
      \     </kg.apc.jmeter.threads.UltimateThreadGroup>\r\n      <hashTree>\r\n        <HTTPSamplerProxy
      guiclass=\"HttpTestSampleGui\" testclass=\"HTTPSamplerProxy\" testname=\"GET\"
      enabled=\"true\">\r\n          <elementProp name=\"HTTPsampler.Arguments\" elementType=\"Arguments\"
      guiclass=\"HTTPArgumentsPanel\" te[...]
- request:
    body: '{"testId": "some-unique-test-id", "displayName": "TestingResource"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://myservice.azure.com/testruns/some-unique-test-run-id?api-version=2022-06-01-preview
  response:
    body:
      string: '{"testRunId":"some-unique-test-run-id","displayName":"TestingResource","testId":"some-unique-test-id","resourceId":"/subscriptions/SUBSCRIPTION_ID/resourcegroups/yashika-rg/providers/microsoft.loadtestservice/loadtests/loadtestsdk","description":null,"status":"CANCELLED","startDateTime":"2022-08-02T07:40:53Z","endDateTime":"2022-08-02T07:41:02Z","loadTestConfig":{"engineInstances":1,"splitAllCSVs":false},"testResult":"NOT_APPLICABLE","passFailCriteria":{"passFailMetrics":{}},"testArtifacts":{"inputArtifacts":{"configUrl":{"url":"https://stcntproddataeus.blob.core.windows.net/7119bd1d-cd3f-40be-ab75-0fda8862f6d5/8849feb9-d723-4401-8c22-53570a4e0bebT10%3A31%3A27Z&sr=b&sp=r&sig=qkY8Xowf50eYBkmISGWcWgyT33doyj74Kt1%2BlURyVdg%3D","fileId":"8849feb9-d723-4401-8c22-53570a4e0beb","filename":"config.yaml","fileType":2,"expireTime":"2022-08-02T09:41:27.4498609+00:00","validationStatus":""},"testScriptUrl":{"url":"https://stcntproddataeus.blob.core.windows.net/7119bd1d-cd3f-40be-ab75-0fda8862f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://myservice.azure.com/testruns/some-unique-test-run-id/clientMetricsFilters?api-version=2022-06-01-preview
  response:
    body:
      string: '{"testRunId":"some-unique-test-run-id","filters":{"requestSamplerValues":["GET"],"errorFiltersValues":[]},"timeRange":{"startTime":"2022-08-02T07:40:53Z","endTime":"2022-08-02T07:41:02Z"}}'
    headers:
      api-supported-versions:
      - 2021-07-01-preview, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 239decc4-1c88-4e51-8dcb-074b51cfe6c7
    status:
      code: 200
      message: OK
- request:
    body: '{"requestSamplers": ["GET"], "startTime": "2022-08-02T07:40:53Z", "endTime":
      "2022-08-02T07:41:02Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://myservice.azure.com/testruns/some-unique-test-run-id/clientMetrics?api-version=2022-06-01-preview
  response:
    body:
      string: '{"testRunId":"some-unique-test-run-id","timeSeries":{"activeUsers":{"GET":[{"timestamp":"2022-08-02T07:40:00Z","value":1.0},{"timestamp":"2022-08-02T07:41:00Z","value":1.0}]},"responseTime":{"GET
        Pct 90":[{"timestamp":"2022-08-02T07:40:00Z","value":36.0},{"timestamp":"2022-08-02T07:41:00Z","value":21.0}]},"throughput":{"GET":[{"timestamp":"2022-08-02T07:40:00Z","value":1.1333333333333333},{"timestamp":"2022-08-02T07:41:00Z","value":0.36666666666666664}]},"errors":{}}}'
    headers:
      api-supported-versions:
      - 2021-07-01-preview, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 8885c651-73ad-4b17-806e-dd25305a961c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://myservice.azure.com/testruns/some-non-existing-test-run-id/clientMetricsFilters?api-version=2022-06-01-preview
  response:
    body:
      string: '{"error":{"code":"TestRunNotFound","message":"Test run not found with
        given identifier \"some-non-existing-test-run-id\".","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2021-07-01-preview, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 0451e74b-891e-4127-aeb4-273a063374d6
    status:
      code: 404
      message: Not Found
- request:
    body: '{"requestSamplers": ["GET"], "startTime": "2022-08-02T07:40:53Z", "endTime":
      "2022-08-02T07:41:02Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://myservice.azure.com/testruns/some-non-existing-test-run-id/clientMetrics?api-version=2022-06-01-preview
  response:
    body:
      string: '{"error":{"code":"TestRunNotFound","message":"Test run not found with
        given identifier \"some-non-existing-test-run-id\".","target":null,"details":null}}'
    headers:
      api-supported-versions:
      - 2021-07-01-preview, 2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 2e194475-e6d0-4ff1-b7c7-13064bc712e0
    status:
      code: 404
      message: Not Found
version: 1
