-e ../../../eng/tools/azure-sdk-tools
../../core/azure-core
../../identity/azure-identity
../../nspkg/azure-messaging-nspkg
aiohttp>=3.0
typing_extensions>=3.7.2
websockets>=15.0.1
pytest-asyncio>=0.21.0