interactions:
- request:
    body: '{"location": "westus", "properties": {}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_recoveryservices_test_can_create_get_list_delete_vault_extended_infofbe6202b/providers/Microsoft.RecoveryServices/vaults/PythonSDKTestResource?api-version=2016-06-01
  response:
    body: {string: '{"location":"westus","name":"PythonSDKTestResource","etag":"W/\"datetime''2017-10-27T22%3A44%3A38.7057081Z''\"","properties":{"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_recoveryservices_test_can_create_get_list_delete_vault_extended_infofbe6202b/providers/Microsoft.RecoveryServices/vaults/PythonSDKTestResource","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"properties": {"integrityKey": "b''xiUehVvlpWUuYNznjJdRdA==''", "algorithm":
      "None"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_recoveryservices_test_can_create_get_list_delete_vault_extended_infofbe6202b/providers/Microsoft.RecoveryServices/vaults/PythonSDKTestResource/extendedInformation/vaultExtendedInfo?api-version=2016-06-01
  response:
    body: {string: '{"name":"vaultExtendedInfo","etag":"906636c9-cf6b-4462-9253-4dfa5ef5c4cc","properties":{"integrityKey":"b''xiUehVvlpWUuYNznjJdRdA==''","algorithm":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_recoveryservices_test_can_create_get_list_delete_vault_extended_infofbe6202b/providers/Microsoft.RecoveryServices/vaults/PythonSDKTestResourceextendedInformation/vaultExtendedInfo","type":"Microsoft.RecoveryServices/vaults/extendedInformation"}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 200, message: OK}
version: 1
