trigger: none

pr:
  branches:
    include:
    - master
  paths:
    include:
    - sdk/cosmos

jobs:
  - job: 'Emulator'

    timeoutInMinutes: 120
    continueOnError: false
    strategy:
      maxParallel: 1
      matrix:
        Windows_Python35:
          OSVmImage: 'vs2017-win2016'
          PythonVersion: '3.5'
        Windows_Python27:
          OSVmImage: 'vs2017-win2016'
          PythonVersion: '2.7'

    pool:
      vmImage: $(OSVmImage)

    steps:
      - task: PowerShell@1
        displayName: 'Download Public Cosmos Emulator'
        inputs:
          scriptType: inlineScript
          inlineScript: |
            Write-Host "Downloading Cosmos Emulator - $(EmulatorMsiUrl)"
            wget "$(EmulatorMsiUrl)" -outfile "$env:temp\azure-cosmosdb-emulator.msi"
            Write-Host "Finished Downloading Cosmos Emulator - $env:temp\azure-cosmosdb-emulator.msi"
            dir "$env:temp"

      - task: CmdLine@2
        displayName: 'Cleanup already installed Azure Cosmos DB Emulator'
        inputs:
          script: |
            echo "Deleting Azure Cosmos DB Emulator directory"
            dir "%ProgramFiles%\"
            rmdir /Q /S "%ProgramFiles%\Azure Cosmos DB Emulator"
            echo "Directory after deleting"
            dir "%ProgramFiles%\"

      - task: CmdLine@2
        displayName: 'Install Public Cosmos DB Emulator'
        inputs:
          script: |
            choco install lessmsi
            choco upgrade lessmsi
            echo "Checking directory" 
            dir "%ProgramFiles%"
            mkdir "%TEMP%\Azure Cosmos DB Emulator"
            lessmsi x "%TEMP%\azure-cosmosdb-emulator.msi" "%TEMP%\Azure Cosmos DB Emulator\"
            dir "%TEMP%"
            dir "%Temp%\Azure Cosmos DB Emulator\"

      - task: PowerShell@1
        displayName: 'Run Public Cosmos DB Emulator'
        inputs:
          scriptType: inlineScript
          inlineScript: |
            dir "$env:Temp\"
            dir "$env:Temp\Azure Cosmos DB Emulator"
            dir "$env:Temp\Azure Cosmos DB Emulator\SourceDir\"
            dir "$env:Temp\Azure Cosmos DB Emulator\SourceDir\Azure Cosmos DB Emulator"
            Write-Host "Starting Comsos DB Emulator"
            Start-Process "$env:Temp\Azure Cosmos DB Emulator\SourceDir\Azure Cosmos DB Emulator\CosmosDB.Emulator.exe" "/NoExplorer /NoUI" -Verb RunAs
                              
      - task: UsePythonVersion@0
        displayName: 'Use Python $(PythonVersion)'
        inputs:
          versionSpec: $(PythonVersion)

      - script: |
          python -m pip install --upgrade pip
          pip install setuptools --upgrade
          python scripts/dev_setup.py --packageList azure-cosmos
        displayName: 'Set up Environment'

      - task: PowerShell@1
        displayName: 'Run Python Tests'
        inputs:
          scriptType: inlineScript
          inlineScript: |
            pytest --junitxml=sdk/cosmos/azure-cosmos/Test-junit.xml --verbose sdk/cosmos/azure-cosmos/test -k "not globaldb"
        env:
          ACCOUNT_KEY: $(python-cosmos-live-account-key)
          ACCOUNT_HOST: $(python-cosmos-live-account-host)
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: 'Publish Python Test Results'
        inputs:
          testResultsFiles: '**\TEST-*.xml'
          testRunTitle: 'Cosmos $(OSName) Node $(PythonVersion) - Python'
