interactions:
- request:
    body: null
    headers:
      X-MRC-CV:
      - 76YWo81ZJRcKImaUbAzGdY
    method: GET
    uri: https://sts.eastus.mixedreality.azure.com/Accounts/70a8e4d2-816a-4d03-a800-aeb20126ae51/token?api-version=2019-02-28-preview
  response:
    body:
      string: '{"AccessToken":"faketoken.eyJleHAiOjIxNDc0ODM2NDd9.faketoken"}'
    headers:
      content-type: application/json; charset=utf-8
      ms-cv: knRX6aZxeE2nt9RNlJCq0A.0
    status:
      code: 200
      message: OK
    url: https://sts.eastus2.mixedreality.azure.com/Accounts/cea4d2db-47b8-4dd1-913e-cfafd6635ce2/token?api-version=2019-02-28-preview
- request:
    body: '{"maxLeaseTimeMinutes": 15, "size": "Standard"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://remoterendering.eastus.mixedreality.azure.com/accounts/70a8e4d2-816a-4d03-a800-aeb20126ae51/sessions/f3fd6db9-86c6-4bee-b652-fb1fc0dde08e?api-version=2021-01-01
  response:
    body:
      string: '{"id":"f3fd6db9-86c6-4bee-b652-fb1fc0dde08e","creationTime":"2021-03-23T13:24:13.2901358+00:00","elapsedTimeMinutes":0,"maxLeaseTimeMinutes":15,"size":"Standard","status":"Starting"}'
    headers:
      api-supported-versions: 2021-01-01-preview, 2021-01-01
      content-type: application/json; charset=utf-8
      ms-cv: 8EKINz25lU+aoBK86PAk2A.0
    status:
      code: 201
      message: Created
    url: https://remoterendering.eastus2.mixedreality.azure.com/accounts/cea4d2db-47b8-4dd1-913e-cfafd6635ce2/sessions/f3fd6db9-86c6-4bee-b652-fb1fc0dde08e?api-version=2021-01-01
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://remoterendering.eastus.mixedreality.azure.com/accounts/70a8e4d2-816a-4d03-a800-aeb20126ae51/sessions/f3fd6db9-86c6-4bee-b652-fb1fc0dde08e?api-version=2021-01-01
  response:
    body:
      string: '{"id":"f3fd6db9-86c6-4bee-b652-fb1fc0dde08e","creationTime":"2021-03-23T13:24:13.2901358+00:00","arrInspectorPort":63910,"handshakePort":65353,"elapsedTimeMinutes":0,"hostname":"823736284-60fc7e44-5610-40c4-add9-fe5d851fd8d2.remoterendering.vm.eastus.mixedreality.azure.com","maxLeaseTimeMinutes":15,"size":"Standard","status":"Ready","teraflops":8.1}'
    headers:
      api-supported-versions: 2021-01-01-preview, 2021-01-01
      content-type: application/json; charset=utf-8
      ms-cv: stOqmH+N2k2g1jeug0RJ/A.0
    status:
      code: 200
      message: OK
    url: https://remoterendering.eastus2.mixedreality.azure.com/accounts/cea4d2db-47b8-4dd1-913e-cfafd6635ce2/sessions/f3fd6db9-86c6-4bee-b652-fb1fc0dde08e?api-version=2021-01-01
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://remoterendering.eastus.mixedreality.azure.com/accounts/70a8e4d2-816a-4d03-a800-aeb20126ae51/sessions?api-version=2021-01-01
  response:
    body:
      string: '{"sessions":[{"id":"f3fd6db9-86c6-4bee-b652-fb1fc0dde08e","creationTime":"2021-03-23T13:24:13.2901358+00:00","arrInspectorPort":63910,"handshakePort":65353,"elapsedTimeMinutes":0,"hostname":"823736284-60fc7e44-5610-40c4-add9-fe5d851fd8d2.remoterendering.vm.eastus.mixedreality.azure.com","maxLeaseTimeMinutes":5,"size":"Standard","status":"Ready","teraflops":8.1}]}'
    headers:
      api-supported-versions: 2021-01-01-preview, 2021-01-01
      content-type: application/json; charset=utf-8
      ms-cv: H1XJvunYZkSeEjIfQHtSFQ.0
    status:
      code: 200
      message: OK
    url: https://remoterendering.eastus2.mixedreality.azure.com/accounts/cea4d2db-47b8-4dd1-913e-cfafd6635ce2/sessions?api-version=2021-01-01
- request:
    body: null
    headers:
    method: POST
    uri: https://remoterendering.eastus.mixedreality.azure.com/accounts/70a8e4d2-816a-4d03-a800-aeb20126ae51/sessions/f3fd6db9-86c6-4bee-b652-fb1fc0dde08e/:stop?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions: 2021-01-01-preview, 2021-01-01
      ms-cv: 1J1piFQyKkCieSOYLf8SgA.0
    status:
      code: 204
      message: No Content
    url: https://remoterendering.eastus2.mixedreality.azure.com/accounts/cea4d2db-47b8-4dd1-913e-cfafd6635ce2/sessions/f3fd6db9-86c6-4bee-b652-fb1fc0dde08e/:stop?api-version=2021-01-01
- request:
    body: null
    headers:
    method: GET
    uri: https://remoterendering.eastus.mixedreality.azure.com/accounts/70a8e4d2-816a-4d03-a800-aeb20126ae51/sessions/f3fd6db9-86c6-4bee-b652-fb1fc0dde08e?api-version=2021-01-01
  response:
    body:
      string: '{"id":"f3fd6db9-86c6-4bee-b652-fb1fc0dde08e","creationTime":"2021-03-23T13:24:13.2901358+00:00","elapsedTimeMinutes":0,"maxLeaseTimeMinutes":20,"size":"Standard","status":"Stopped","teraflops":8.1}'
    headers:
      api-supported-versions: 2021-01-01-preview, 2021-01-01
      content-type: application/json; charset=utf-8
      ms-cv: AxoC8Q69lEm65dwzXEe9FA.0
    status:
      code: 200
      message: OK
    url: https://remoterendering.eastus2.mixedreality.azure.com/accounts/cea4d2db-47b8-4dd1-913e-cfafd6635ce2/sessions/f3fd6db9-86c6-4bee-b652-fb1fc0dde08e?api-version=2021-01-01
version: 1
