{
  "Entries": [
    {
      "RequestUri": "https://sts.eastus.mixedreality.azure.com/Accounts/00000000-0000-0000-0000-000000000000/token?api-version=2019-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "/U2OsiVpHkiJgMkygDQMZg.0"
      },
      "ResponseBody": {
        "AccessToken": "fake.eyJleHAiOjIxNDc0ODM2NDd9.fake"
      }
    },
    {
      "RequestUri": "https://remoterendering.eastus.mixedreality.azure.com/accounts/00000000-0000-0000-0000-000000000000/sessions/rr-test-id?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "maxLeaseTimeMinutes": 15,
        "size": "Standard"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "baKSSJAGr0qoVZfSFktbjw.0"
      },
      "ResponseBody": {
        "id": "rr-test-id",
        "creationTime": "2022-09-14T01:08:40.4381026\u002B00:00",
        "elapsedTimeMinutes": 0,
        "maxLeaseTimeMinutes": 15,
        "size": "Standard",
        "status": "Starting"
      }
    },
[...]
    {
      "RequestUri": "https://remoterendering.eastus.mixedreality.azure.com/accounts/00000000-0000-0000-0000-000000000000/sessions/rr-test-id?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "xj6ynwnCKEiJ\u002BQ6ct9iILA.0"
      },
      "ResponseBody": {
        "id": "rr-test-id",
        "creationTime": "2022-09-14T01:08:40.4381026\u002B00:00",
        "arrInspectorPort": 60693,
        "handshakePort": 61577,
        "elapsedTimeMinutes": 0,
        "hostname": "arrwu2standard3caf62e141184ae886b98670dc7836ed.remoterendering.vm.eastus.mixedreality.azure.com",
        "maxLeaseTimeMinutes": 15,
        "size": "Standard",
        "status": "Ready",
        "teraflops": 8.1
      }
    },
[...]
    {
      "RequestUri": "https://remoterendering.eastus.mixedreality.azure.com/accounts/00000000-0000-0000-0000-000000000000/sessions?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "8eBQlzUeUkyvhQp\u002B7l3esg.0"
      },
      "ResponseBody": {
        "sessions": [
          {
            "id": "rr-test-id",
            "creationTime": "2022-09-14T01:08:40.4381026\u002B00:00",
            "arrInspectorPort": 60693,
            "handshakePort": 61577,
            "elapsedTimeMinutes": 0,
            "hostname": "arrwu2standard3caf62e141184ae886b98670dc7836ed.remoterendering.vm.eastus.mixedreality.azure.com",
            "maxLeaseTimeMinutes": 20,
            "size": "Standard",
            "status": "Ready",
            "teraflops": 8.1
          }
        ]
      }
    },
    {
      "RequestUri": "https://remoterendering.eastus.mixedreality.azure.com/accounts/00000000-0000-0000-0000-000000000000/sessions/rr-test-id/:stop?api-version=2021-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
        "MS-CV": "gFLgK0r9cUaPNaCHBNcnaA.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://remoterendering.eastus.mixedreality.azure.com/accounts/00000000-0000-0000-0000-000000000000/sessions/rr-test-id?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "QTu7MoVGJ0uOWqT9PMgxXw.0"
      },
      "ResponseBody": {
        "id": "rr-test-id",
        "creationTime": "2022-09-14T01:08:40.4381026\u002B00:00",
        "elapsedTimeMinutes": 0,
        "maxLeaseTimeMinutes": 20,
        "size": "Standard",
        "status": "Stopped",
        "teraflops": 8.1
      }
    }
  ],
  "Variables": {}
}
