interactions:
- request:
    body: null
    headers:
      X-MRC-CV:
      - QVohNO99RsWAyPLds7urai
    method: GET
    uri: https://sts.eastus.mixedreality.azure.com/Accounts/70a8e4d2-816a-4d03-a800-aeb20126ae51/token?api-version=2019-02-28-preview
  response:
    body:
      string: '{"AccessToken":"faketoken.eyJleHAiOjIxNDc0ODM2NDd9.faketoken"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - APiTG5FFkUqfi57uMy4NuA.0
    status:
      code: 200
      message: OK
- request:
    body: '{"settings": {"inputLocation": {"storageContainerUri": "https://arrstorageaccount.blob.core.windows.net/test",
      "storageContainerReadListSas": "?sv=2015-04-05&sr=c&se=2122-03-10T16%3A13%3A40.0000000Z&sp=rwl&sig=fakeSig",
      "blobPrefix": "Input", "relativeInputAssetPath": "testBox.fbx"}, "outputLocation":
      {"storageContainerUri": "https://arrstorageaccount.blob.core.windows.net/test",
      "storageContainerWriteSas": "?sv=2015-04-05&sr=c&se=2122-03-10T16%3A13%3A40.0000000Z&sp=rwl&sig=fakeSig",
      "blobPrefix": "11b5d55d-b228-4291-8883-df3865a32088"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://remoterendering.eastus.mixedreality.azure.com/accounts/70a8e4d2-816a-4d03-a800-aeb20126ae51/conversions/11b5d55d-b228-4291-8883-df3865a32088?api-version=2021-01-01
  response:
    body:
      string: '{"id":"11b5d55d-b228-4291-8883-df3865a32088","creationTime":"2021-03-22T19:46:49.6665492Z","settings":{"inputLocation":{"storageContainerUri":"https://arrstorageaccount.blob.core.windows.net/test","blobPrefix":"Input/","relativeInputAssetPath":"testBox.fbx"},"outputLocation":{"storageContainerUri":"https://arrstorageaccount.blob.core.windows.net/test","blobPrefix":"11b5d55d-b228-4291-8883-df3865a32088/","outputAssetFilename":"testBox.arrAsset"}},"error":null,"status":"NotStarted"}'
    headers:
      api-supported-versions:
      - 2021-01-01-preview, 2021-01-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BHVJIEpw4EOMZqBenXS9EQ.0
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://remoterendering.eastus.mixedreality.azure.com/accounts/70a8e4d2-816a-4d03-a800-aeb20126ae51/conversions/11b5d55d-b228-4291-8883-df3865a32088?api-version=2021-01-01
  response:
    body:
      string: '{"id":"11b5d55d-b228-4291-8883-df3865a32088","creationTime":"2021-03-22T19:46:49.6665492Z","settings":{"inputLocation":{"storageContainerUri":"https://arrstorageaccount.blob.core.windows.net/test","blobPrefix":"Input/","relativeInputAssetPath":"testBox.fbx"},"outputLocation":{"storageContainerUri":"https://arrstorageaccount.blob.core.windows.net/test","blobPrefix":"11b5d55d-b228-4291-8883-df3865a32088/","outputAssetFilename":"testBox.arrAsset"}},"error":null,"status":"NotStarted"}'
    headers:
      api-supported-versions:
      - 2021-01-01-preview, 2021-01-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Mm7VZyz0CEm6yb+iqgg6Gw.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://remoterendering.eastus.mixedreality.azure.com/accounts/70a8e4d2-816a-4d03-a800-aeb20126ae51/conversions/11b5d55d-b228-4291-8883-df3865a32088?api-version=2021-01-01
  response:
    body:
      string: '{"id":"11b5d55d-b228-4291-8883-df3865a32088","creationTime":"2021-03-22T19:46:49.6665492Z","settings":{"inputLocation":{"storageContainerUri":"https://arrstorageaccount.blob.core.windows.net/test","blobPrefix":"Input/","relativeInputAssetPath":"testBox.fbx"},"outputLocation":{"storageContainerUri":"https://arrstorageaccount.blob.core.windows.net/test","blobPrefix":"11b5d55d-b228-4291-8883-df3865a32088/","outputAssetFilename":"testBox.arrAsset"}},"output":{"outputAssetUri":"https://arrstorageaccount.blob.core.windows.net/test/11b5d55d-b228-4291-8883-df3865a32088/testBox.arrAsset"},"error":null,"status":"Succeeded"}'
    headers:
      api-supported-versions:
      - 2021-01-01-preview, 2021-01-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 1SGpcqRTHUqxmSbnjZBo0Q.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://remoterendering.eastus.mixedreality.azure.com/accounts/70a8e4d2-816a-4d03-a800-aeb20126ae51/conversions?api-version=2021-01-01
  response:
    body:
      string: '{"conversions":[{"id":"9b0f30a1-f43f-492c-893d-6b3c05464bf4","creationTime":"2021-03-09T18:18:03.1675785Z","settings":{"inputLocation":{"storageContainerUri":"(''https://arrstorageaccount.blob.core.windows.net/test'',)","blobPrefix":"Input/","relativeInputAssetPath":"testBox.fbx"},"outputLocation":{"storageContainerUri":"(''https://arrstorageaccount.blob.core.windows.net/test'',)","blobPrefix":"9b0f30a1-f43f-492c-893d-6b3c05464bf4/","outputAssetFilename":"testBox.arrAsset"}},"error":{"code":"InternalServerErro[...]
