{
  "Entries": [
    {
      "RequestUri": "https://sts.eastus.mixedreality.azure.com/Accounts/00000000-0000-0000-0000-000000000000/token?api-version=2019-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ALV4m\u002BC3qUGt6qS0qAYOvg.0"
      },
      "ResponseBody": {
        "AccessToken": "fake.eyJleHAiOjIxNDc0ODM2NDd9.fake"
      }
    },
    {
      "RequestUri": "https://remoterendering.eastus.mixedreality.azure.com/accounts/00000000-0000-0000-0000-000000000000/conversions/rr-test-id?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "settings": {
          "inputLocation": {
            "storageContainerUri": "https://arrstorageaccount.blob.storage_endpoint_suffix/test",
            "storageContainerReadListSas": "?sv=2015-04-05\u0026sr=c\u0026se=2122-03-10T16%3A13%3A40.0000000Z\u0026sp=rwl\u0026sig=fakeSig",
            "blobPrefix": "Input",
            "relativeInputAssetPath": "testBox.fbx"
          },
          "outputLocation": {
            "storageContainerUri": "https://arrstorageaccount.blob.storage_endpoint_suffix/test",
            "storageContainerWriteSas": "?sv=2015-04-05\u0026sr=c\u0026se=2122-03-10T16%3A13%3A40.0000000Z\u0026sp=rwl\u0026sig=fakeSig",
            "blobPrefix": "rr-test-id"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "EGhrHSg\u002BSkudgRu4NjC2kA.0"
      },
      "ResponseBody": {
        "id": "rr-test-id",
        "creationTime": "2022-09-14T01:02:25.3744317Z",
        "settings": {
          "inputLocation": {
            "storageContainerUri": "https://arrstorageaccount.blob.storage_endpoint_suffix/test",
            "blobPrefix": "Input/",
            "relativeInputAssetPath": "testBox.fbx"
          },
          "outputLocation": {
            "storageContainerUri": "https://arrstorageaccount.blob.storage_endpoint_suffix/test",
            "blobPrefix": "rr-test-id/",
            "outputAssetFilename": "testBox.arrAsset"
          }
        },
        "error": null,
        "status": "NotStarted"
      }
    },
[...]
    {
      "RequestUri": "https://remoterendering.eastus.mixedreality.azure.com/accounts/00000000-0000-0000-0000-000000000000/conversions/rr-test-id?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "gvYR3uxMdE\u002BfwyUP1u5NBg.0"
      },
      "ResponseBody": {
        "id": "rr-test-id",
        "creationTime": "2022-09-14T01:02:25.3744317Z",
        "settings": {
          "inputLocation": {
            "storageContainerUri": "https://arrstorageaccount.blob.storage_endpoint_suffix/test",
            "blobPrefix": "Input/",
            "relativeInputAssetPath": "testBox.fbx"
          },
          "outputLocation": {
            "storageContainerUri": "https://arrstorageaccount.blob.storage_endpoint_suffix/test",
            "blobPrefix": "rr-test-id/",
            "outputAssetFilename": "testBox.arrAsset"
          }
        },
        "output": {
          "outputAssetUri": "https://arrstorageaccount.blob.storage_endpoint_suffix/test/rr-test-id/testBox.arrAsset"
        },
        "error": null,
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://remoterendering.eastus.mixedreality.azure.com/accounts/00000000-0000-0000-0000-000000000000/conversions?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-01-01-preview, 2021-01-01, 2021-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "BercPMZhH0C2SKg47tk5zg.0"
      },
      "ResponseBody": {
        "conversions": [
          {
            "id": "rr-test-id",
            "creationTime": "2022-09-14T01:02:25.3744317Z",
            "settings": {
              "inputLocation": {
                "storageContainerUri": "https://arrstorageaccount.blob.storage_endpoint_suffix/test",
                "blobPrefix": "Input/",
                "relativeInputAssetPath": "testBox.fbx"
              },
              "outputLocation": {
                "storageContainerUri": "https://arrstorageaccount.blob.storage_endpoint_suffix/test",
                "blobPrefix": "rr-test-id/",
                "outputAssetFilename": "testBox.arrAsset"
              }
            },
            "output": {
              "outputAssetUri": "https://arrstorageaccount.blob.storage_endpoint_suffix/test/rr-test-id/testBox.arrAsset"
            },
            "error": null,
            "status": "Succeeded"
          }
        ],
        "@nextLink": null
      }
    }
  ],
  "Variables": {}
}
