{{ imports }}
from .operations import (
    {% for operation_group in code_model.operation_groups %}
    {{ operation_group.name }},
    {% endfor %}
)
from {{ ".." if async_mode else "." }}_validation import api_version_validation
{{ client_initialization }}
{% for operation_group in operation_group_properties %}

    @property
    {% if operation_group.need_decorator %}
    {{ operation_group.decorator | indent }}
    {% endif %}
    def {{ operation_group.property_name }}(self):
        return {{ operation_group.name }}(self._client, self._config, Serializer({}), Deserializer({}))
    {% endfor %}