{{ imports }}
from .operations import (
    {% for operation_group in code_model.operation_groups %}
    {{ operation_group.name }},
    {% endfor %}
)
{{ client_initialization }}
{% for operation_group in code_model.operation_groups %}

    {% if operation_group.need_decorator %}
    {{ operation_group.decorator | indent }}
    {% endif %}
    @property
    def {{ operation_group.name }}(self):
        return {{ operation_group.name }}(self._client, self._config, Serializer(self._models_dict(api_version)), Deserializer(self._models_dict(api_version)))
    {% endfor %}