{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/map/copyright/caption/json?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "AzureMapsSubscriptionKey"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022f3cfa19fc3c68912b94faa097ee62351\u0022",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "copyrightsCaption": "\u00A9 1992 - 2022 TomTom."
      }
    }
  ],
  "Variables": {}
}
