{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/map/attribution?api-version=2022-08-01\u0026tilesetId=microsoft.base\u0026zoom=6\u0026bounds=42.982261,24.980233,56.526017,1.355233",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "AzureMapsSubscriptionKey"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "copyrights": [
          "\u003Ca data-azure-maps-attribution-tileset=\u0022microsoft.base\u0022\u003E\u0026copy;2022 TomTom\u003C/a\u003E"
        ]
      }
    }
  ],
  "Variables": {}
}
