interactions:
- request:
    body: null
    headers:
      subscription-key:
      - <RealSubscriptionKey>
      x-ms-client-id:
      - <RealClientId>
    method: GET
    uri: https://atlas.microsoft.com/map/copyright/caption/json?api-version=2.1
  response:
    body:
      string: "{\n   \"formatVersion\": \"0.0.1\",\n   \"copyrightsCaption\": \"\xA9
        1992 - 2022 TomTom.\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f3cfa19fc3c68912b94faa097ee62351"
      x-ms-azuremaps-region:
      - West US 2
    status:
      code: 200
      message: OK
version: 1
