{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/analyze-text/projects/single-class-project/:export?api-version=2025-05-15-preview&stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/export/jobs/35a5afd9-8b74-4b26-a7dd-6d8b54504612_638931456000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/export/jobs/35a5afd9-8b74-4b26-a7dd-6d8b54504612_638931456000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "35a5afd9-8b74-4b26-a7dd-6d8b54504612_638931456000000000",
        "createdDateTime": "2025-09-11T22:18:59Z",
        "lastUpdatedDateTime": "2025-09-11T22:19:00Z",
        "expirationDateTime": "2025-09-18T22:18:59Z",
        "status": "running"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/export/jobs/35a5afd9-8b74-4b26-a7dd-6d8b54504612_638931456000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "resultUrl": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/export/jobs/35a5afd9-8b74-4b26-a7dd-6d8b54504612_638931456000000000/result?api-version=2025-05-15-preview",
        "jobId": "35a5afd9-8b74-4b26-a7dd-6d8b54504612_638931456000000000",
        "createdDateTime": "2025-09-11T22:18:59Z",
        "lastUpdatedDateTime": "2025-09-11T22:19:00Z",
        "expirationDateTime": "2025-09-18T22:18:59Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
