{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/analyze-text/projects/single-class-project/models/model3/:load-snapshot?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/models/model3/load-snapshot/jobs/188b9a04-2b25-4795-a5bc-b492fe2294e5_638931456000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/models/model3/load-snapshot/jobs/188b9a04-2b25-4795-a5bc-b492fe2294e5_638931456000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "188b9a04-2b25-4795-a5bc-b492fe2294e5_638931456000000000",
        "createdDateTime": "2025-09-11T22:25:54Z",
        "lastUpdatedDateTime": "2025-09-11T22:25:54Z",
        "expirationDateTime": "2025-09-18T22:25:54Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/models/model3/load-snapshot/jobs/188b9a04-2b25-4795-a5bc-b492fe2294e5_638931456000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "188b9a04-2b25-4795-a5bc-b492fe2294e5_638931456000000000",
        "createdDateTime": "2025-09-11T22:25:54Z",
        "lastUpdatedDateTime": "2025-09-11T22:25:54Z",
        "expirationDateTime": "2025-09-18T22:25:54Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
