{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/:export?api-version=2025-05-15-preview&stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/export/jobs/bad043c2-becb-4cc8-95f5-139dc75c816d_638931456000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/export/jobs/bad043c2-becb-4cc8-95f5-139dc75c816d_638931456000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "bad043c2-becb-4cc8-95f5-139dc75c816d_638931456000000000",
        "createdDateTime": "2025-09-11T22:42:55Z",
        "lastUpdatedDateTime": "2025-09-11T22:42:55Z",
        "expirationDateTime": "2025-09-18T22:42:55Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/export/jobs/bad043c2-becb-4cc8-95f5-139dc75c816d_638931456000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "resultUrl": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/export/jobs/bad043c2-becb-4cc8-95f5-139dc75c816d_638931456000000000/result?api-version=2025-05-15-preview",
        "jobId": "bad043c2-becb-4cc8-95f5-139dc75c816d_638931456000000000",
        "createdDateTime": "2025-09-11T22:42:55Z",
        "lastUpdatedDateTime": "2025-09-11T22:42:55Z",
        "expirationDateTime": "2025-09-18T22:42:55Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
