{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/analyze-text/projects/MyTextProject0902?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "projectKind": "CustomMultiLabelClassification",
        "storageInputContainerName": "multi-class-example",
        "projectName": "MyTextProject0902",
        "language": "en",
        "description": "Project description for a Custom Entity Recognition project",
        "multilingual": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-09-11T21:54:24Z",
        "lastModifiedDateTime": "2025-09-11T21:54:24Z",
        "projectKind": "CustomMultiLabelClassification",
        "storageInputContainerName": "multi-class-example",
        "projectName": "MyTextProject0902",
        "multilingual": true,
        "description": "Project description for a Custom Entity Recognition project",
        "language": "en"
      }
    }
  ],
  "Variables": {}
}
