{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/deniz-model1?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/deniz-model1/jobs/0ed87e56-45c7-4502-b02a-a2866868fb63_638931456000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/deniz-model1/jobs/0ed87e56-45c7-4502-b02a-a2866868fb63_638931456000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "0ed87e56-45c7-4502-b02a-a2866868fb63_638931456000000000",
        "createdDateTime": "2025-09-11T22:38:45Z",
        "lastUpdatedDateTime": "2025-09-11T22:38:45Z",
        "expirationDateTime": "2025-09-18T22:38:45Z",
        "status": "running"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/deniz-model1/jobs/0ed87e56-45c7-4502-b02a-a2866868fb63_638931456000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "0ed87e56-45c7-4502-b02a-a2866868fb63_638931456000000000",
        "createdDateTime": "2025-09-11T22:38:45Z",
        "lastUpdatedDateTime": "2025-09-11T22:38:48Z",
        "expirationDateTime": "2025-09-18T22:38:45Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
