{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/train/jobs/8bfbd8e2-018f-4dfd-9f8f-75bf76410168_638931456000000000/:cancel?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/train/jobs/8bfbd8e2-018f-4dfd-9f8f-75bf76410168_638931456000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/train/jobs/8bfbd8e2-018f-4dfd-9f8f-75bf76410168_638931456000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "test002",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2025-09-11T22:35:21.8978288Z",
            "endDateTime": "2025-09-11T22:35:47.8653002Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 0,
            "status": "running"
          },
          "estimatedEndDateTime": "2025-09-11T22:35:46.8978288Z"
        },
        "jobId": "8bfbd8e2-018f-4dfd-9f8f-75bf76410168_638931456000000000",
        "createdDateTime": "2025-09-11T22:35:20Z",
        "lastUpdatedDateTime": "2025-09-11T22:36:06Z",
        "expirationDateTime": "2025-09-18T22:35:20Z",
        "status": "cancelling"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/train/jobs/8bfbd8e2-018f-4dfd-9f8f-75bf76410168_638931456000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "result": {
          "modelLabel": "test002",
          "trainingConfigVersion": "2022-05-01",
          "trainingStatus": {
            "percentComplete": 100,
            "startDateTime": "2025-09-11T22:35:21.8978288Z",
            "endDateTime": "2025-09-11T22:35:47.8653002Z",
            "status": "succeeded"
          },
          "evaluationStatus": {
            "percentComplete": 100,
            "startDateTime": "2025-09-11T22:35:49.6449461Z",
            "endDateTime": "2025-09-11T22:36:20.7754873Z",
            "status": "succeeded"
          }
        },
        "jobId": "8bfbd8e2-018f-4dfd-9f8f-75bf76410168_638931456000000000",
        "createdDateTime": "2025-09-11T22:35:20Z",
        "lastUpdatedDateTime": "2025-09-11T22:36:50Z",
        "expirationDateTime": "2025-09-18T22:35:20Z",
        "status": "succeeded",
        "warnings": []
      }
    }
  ],
  "Variables": {}
}
