-e ../../../tools/azure-sdk-tools
../../core/azure-core
-e ../../identity/azure-identity
-e ../../../tools/azure-devtools
-e ../azure-communication-identity
-e ../../../tools/vcrpy
../../nspkg/azure-communication-nspkg
aiohttp>=3.0; python_version >= '3.5'
parameterized
validators
