---
http_interactions:
- request:
    method: get
    uri: https://login.windows.net/<AZURE_TENANT_ID>/oauth2/token
    body:
      encoding: UTF-8
      string: resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_id=<AZURE_CLIENT_ID>&client_secret=<AZURE_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-gateway-service-instanceid:
      - ESTSFE_IN_235
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3600","expires_on":"1463608929","not_before":"1463605029","resource":"https://management.core.windows.net/","access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Wed, 18 May 2016 21:02:13 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Compute/locations/westus/publishers/canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/14.04.4-LTS/versions/14.04.201602220?api-version=2016-03-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-reads:
      - '14998'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"properties\": {\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\":
        \"Linux\"\r\n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\":
        \"westus\",\r\n  \"name\": \"14.04.201602220\",\r\n  \"id\": \"/Subscriptions/<AZURE_SUBSCRIPTION_ID>/Providers/Microsoft.Compute/Locations/westus/Publishers/canonical/ArtifactTypes/VMImage/Offers/UbuntuServer/Skus/14.04.4-LTS/Versions/14.04.201602220\"\r\n}"
  recorded_at: Wed, 18 May 2016 21:02:14 GMT
recorded_with: VCR 3.0.1
