---
http_interactions:
- request:
    method: get
    uri: https://login.windows.net/<AZURE_TENANT_ID>/oauth2/token
    body:
      encoding: UTF-8
      string: resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_id=<AZURE_CLIENT_ID>&client_secret=<AZURE_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-gateway-service-instanceid:
      - ESTSFE_IN_299
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3600","expires_on":"1463608923","not_before":"1463605023","resource":"https://management.core.windows.net/","access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Wed, 18 May 2016 21:02:07 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.Compute/locations/westus/usages?api-version=2016-03-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-reads:
      - '14999'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"unit\": \"Count\",\r\n      \"currentValue\":
        0,\r\n      \"limit\": 2000,\r\n      \"name\": {\r\n        \"value\": \"availabilitySets\",\r\n
        \       \"localizedValue\": \"Availability Sets\"\r\n      }\r\n    },\r\n
        \   {\r\n      \"unit\": \"Count\",\r\n      \"currentValue\": 0,\r\n      \"limit\":
        100,\r\n      \"name\": {\r\n        \"value\": \"cores\",\r\n        \"localizedValue\":
        \"Total Regional Cores\"\r\n      }\r\n    },\r\n    {\r\n      \"unit\":
        \"Count\",\r\n      \"currentValue\": 0,\r\n      \"limit\": 10000,\r\n      \"name\":
        {\r\n        \"value\": \"virtualMachines\",\r\n        \"localizedValue\":
        \"Virtual Machines\"\r\n      }\r\n    },\r\n    {\r\n      \"unit\": \"Count\",\r\n
        \     \"currentValue\": 0,\r\n      \"limit\": 50,\r\n      \"name\": {\r\n
        \       \"value\": \"virtualMachineScaleSets\",\r\n        \"localizedValue\":
        \"Virtual Machine Scale Sets\"\r\n      }\r\n    }\r\n  ]\r\n}"
  recorded_at: Wed, 18 May 2016 21:02:07 GMT
recorded_with: VCR 3.0.1
