include *.md
include LICENSE
include azure/monitor/querylogs/py.typed
recursive-include tests *.py
recursive-include samples *.py *.md
include azure/__init__.py
include azure/monitor/__init__.py
include azure/monitor/querylogs/__init__.py
