interactions:
- request:
    body: !!python/unicode '{"location": "westus2"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-py-test-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1?api-version=2017-08-15
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-py-test-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1","name":"sdk-py-test-acc-1","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2019-01-17T12%3A37%3A11.9099713Z''\"","location":"westus2","properties":{"provisioningState":"Creating"}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/36ad0dad-3594-4c37-a357-737b3acc5997?api-version=2017-08-15']
      content-type: [application/json; charset=utf-8]
      etag: [W/"datetime'2019-01-17T12%3A37%3A11.9099713Z'"]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/36ad0dad-3594-4c37-a357-737b3acc5997?api-version=2017-08-15
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/36ad0dad-3594-4c37-a357-737b3acc5997","name":"36ad0dad-3594-4c37-a357-737b3acc5997","status":"Succeeded","startTime":"2019-01-17T12:37:11.7691938Z","endTime":"2019-01-17T12:37:12.1754592Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-py-test-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"location": "westus2", "properties": {"serviceLevel":
      "Premium", "size": 4398046511104}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      location: [westus2]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-py-test-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1/capacityPools/sdk-py-test-pool-1?api-version=2017-08-15
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-py-test-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1/capacityPools/sdk-py-test-pool-1","name":"sdk-py-test-acc-1/sdk-py-test-pool-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2019-01-17T12%3A37%3A48.1765654Z''\"","location":"westus2","properties":{"serviceLevel":"Premium","size":4398046511104,"provisioningState":"Creating"}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/9f18d6fc-d4bf-4349-880e-d84bc17fe809?api-version=2017-08-15']
      content-type: [application/json; charset=utf-8]
      etag: [W/"datetime'2019-01-17T12%3A37%3A48.1765654Z'"]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-py-test-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1/capacityPools/sdk-py-test-pool-1?api-version=2017-08-15
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-py-test-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1/capacityPools/sdk-py-test-pool-1","name":"sdk-py-test-acc-1/sdk-py-test-pool-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2019-01-17T12%3A37%3A48.6869259Z''\"","location":"westus2","properties":{"poolId":"ea95325a-72d2-3167-82f6-16646d0db694","name":"sdk-py-test-acc-1/sdk-py-test-pool-1","serviceLevel":"Premium","size":4398046511104,"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"datetime'2019-01-17T12%3A37%3A48.6869259Z'"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-py-test-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1/capacityPools?api-version=2017-08-15
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-py-test-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1/capacityPools/sdk-py-test-pool-1","name":"sdk-py-test-acc-1/sdk-py-test-pool-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2019-01-17T12%3A37%3A48.6869259Z''\"","location":"westus2","properties":{"poolId":"ea95325a-72d2-3167-82f6-16646d0db694","name":"sdk-py-test-acc-1/sdk-py-test-pool-1","serviceLevel":"Premium","size":4398046511104,"provisioningState":"Succeeded"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-py-test-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1/capacityPools/sdk-py-test-pool-1?api-version=2017-08-15
  response:
    body: {string: !!python/unicode '{"error":{"code":"ResourceNotFound","message":"The
        Resource ''Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1/capacityPools/sdk-py-test-pool-1''
        under resource group ''sdk-py-test-rg'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-py-test-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1?api-version=2017-08-15
  response:
    body: {string: !!python/unicode '{"error":{"code":"ResourceNotFound","message":"The
        Resource ''Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1'' under resource
        group ''sdk-py-test-rg'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
version: 1
