interactions:
- request:
    body: !!python/unicode '{"location": "eastus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-tests-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1?api-version=2017-08-15
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-tests-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1","name":"sdk-py-test-acc-1","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2019-01-11T12%3A19%3A32.8889183Z''\"","location":"eastus","properties":{"provisioningState":"Creating"}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus/operationResults/74f64452-ea41-4b6f-8541-e8a2eece8308?api-version=2017-08-15']
      content-type: [application/json; charset=utf-8]
      etag: [W/"datetime'2019-01-11T12%3A19%3A32.8889183Z'"]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus/operationResults/74f64452-ea41-4b6f-8541-e8a2eece8308?api-version=2017-08-15
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus/operationResults/74f64452-ea41-4b6f-8541-e8a2eece8308","name":"74f64452-ea41-4b6f-8541-e8a2eece8308","status":"Succeeded","startTime":"2019-01-11T12:19:32.7361705Z","endTime":"2019-01-11T12:19:33.1741176Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-tests-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"location": "eastus", "properties": {"serviceLevel":
      "Premium", "size": 4398046511104}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      location: [eastus]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-tests-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1/capacityPools/sdk-py-tests-pool-1?api-version=2017-08-15
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-tests-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1/capacityPools/sdk-py-tests-pool-1","name":"sdk-py-test-acc-1/sdk-py-tests-pool-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2019-01-11T12%3A20%3A08.7976978Z''\"","location":"eastus","properties":{"serviceLevel":"Premium","size":4398046511104,"provisioningState":"Creating"}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus/operationResults/da967249-9a25-47b4-92ea-7d357b0ebfdd?api-version=2017-08-15']
      content-type: [application/json; charset=utf-8]
      etag: [W/"datetime'2019-01-11T12%3A20%3A08.7976978Z'"]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-tests-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1/capacityPools/sdk-py-tests-pool-1?api-version=2017-08-15
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-tests-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1/capacityPools/sdk-py-tests-pool-1","name":"sdk-py-test-acc-1/sdk-py-tests-pool-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2019-01-11T12%3A20%3A09.4623231Z''\"","location":"eastus","properties":{"poolId":"54653e1a-b80c-9ec2-3d46-08030f25f298","name":"sdk-py-test-acc-1/sdk-py-tests-pool-1","serviceLevel":"Premium","size":4398046511104,"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"datetime'2019-01-11T12%3A20%3A09.4623231Z'"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus/operationResults/cb222973-dfd4-4084-bb3e-584ab180c1b0?api-version=2017-08-15
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus/operationResults/cb222973-dfd4-4084-bb3e-584ab180c1b0","name":"cb222973-dfd4-4084-bb3e-584ab180c1b0","status":"Succeeded","startTime":"2019-01-11T12:21:15.3786751Z","endTime":"2019-01-11T12:21:15.6130808Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-tests-rg/providers/Microsoft.NetApp/netAppAccounts/sdk-py-test-acc-1"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
