interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 09 Jul 2021 07:54:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-03-07
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - lF1qmYEmEEajLK7De3cunA.0
      x-processing-time:
      - 64ms
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 09 Jul 2021 07:54:11 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-06-21-preview
  response:
    body:
      string: '{"expiresOn": "sanitized", "iceServers": [{"urls": "sanitized", "username":
        "sanitized", "credential": "sanitized"}]}'
    headers:
      api-supported-versions:
      - 2021-02-22-preview1, 2021-06-21-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 4VCad1kOcEOFNUNJBXhoxA.0
      x-processing-time:
      - 111ms
    status:
      code: 200
      message: OK
version: 1
