interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/metric_id/enrichment/anomalyDetection/configurations
  response:
    body:
      string: '{"value":[{"anomalyDetectionConfigurationId":"2fe9e687-4c9e-4e1b-8ec8-6541553db969","name":"new
        Name","description":"new description","metricId":"metric_id","wholeMetricConfiguration":{"conditionOperator":"OR","hardThresholdCondition":{"upperBound":500.0,"anomalyDetectorDirection":"Up","suppressCondition":{"minNumber":5,"minRatio":5.0}},"changeThresholdCondition":{"changePercentage":44.0,"shiftPoint":2,"anomalyDetectorDirection":"Both","withinRange":true,"suppressCondition":{"minNumber":4,"minRatio":4.0}}},"dimensionGroupOverrideConfigurations":[{"group":{"dimension":{"Dim1":"Common
        Lime"}},"hardThresholdCondition":{"upperBound":400.0,"anomalyDetectorDirection":"Up","suppressCondition":{"minNumber":2,"minRatio":2.0}}}],"seriesOverrideConfigurations":[{"series":{"seriesId":"54bdef99c03c71c764fd3ea671cd1260","dimension":{"Dim1":"Common
        Beech","Dim2":"Ant"}},"changeThresholdCondition":{"changePercentage":33.0,"shiftPoint":1,"anomalyDetectorDirection":"Both","withinRange":true,"suppressCondition":{"minNumber":2,"minRatio":2.0}}}]},{"anomalyDetectionConfigurationId":"bd309211-64b5-4a7a-bb81-a2789599c526","name":"js-all-as-anomaly","description":"","metricId":"metric_id","wholeMetricConfiguration":{"hardThresholdCondition":{"upperBound":0.0,"anomalyDetectorDirection":"Up","suppressCondition":{"minNumber":1,"minRatio":100.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]},{"anomalyDetectionConfigurationId":"a420626b-b09b-4938-9bd3-91f263f50612","name":"test_detection_configuration_java","description":"","metricId":"metric_id","wholeMetricConfiguration":{"conditionOperator":"AND","smartDetectionCondition":{"sensitivity":68.0,"anomalyDetectorDirection":"Up","suppressCondition":{"minNumber":1,"minRatio":100.0}},"changeThresholdCondition":{"changePercentage":5.0,"shiftPoint":1,"anomalyDetectorDirection":"Up","withinRange":false,"suppressCondition":{"minNumber":1,"minRatio":100.0}}},"dimensionGroupOverrideConfigurations":[{"group":{"dimension":{"Dim1":"Common
        Alder"}},"smartDetectionCondition":{"sensitivity":80.0,"anomalyDetectorDirection":"Down","suppressCondition":{"minNumber":1,"minRatio":100.0}}}],"seri[...]
