interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/anomaly_alert_configuration_id/alerts/alert_id/incidents
  response:
    body:
      string: '{"value":[{"dataFeedId":"151e5444-449f-441e-8b64-988f21c5d054","metricId":"metric_id","anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","incidentId":"30612c95b4c216ef418956c5c6162691-alert_id","startTime":"2021-09-07T00:00:00Z","lastTime":"2021-09-07T00:00:00Z","rootNode":{"dimension":{"dimension_name":"Tianjin","category":"Home
        & Garden"}},"property":{"maxSeverity":"Low","incidentStatus":"Active","valueOfRootNode":18544.0,"expectedValueOfRootNode":18573.49119556344}},{"dataFeedId":"151e5444-449f-441e-8b64-988f21c5d054","metricId":"metric_id","anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","incidentId":"4ec127166abf8387b2874bae49734ab1-alert_id","startTime":"2021-09-06T00:00:00Z","lastTime":"2021-09-07T00:00:00Z","rootNode":{"dimension":{"dimension_name":"__SUM__","category":"__SUM__"}},"property":{"maxSeverity":"High","incidentStatus":"Active","valueOfRootNode":65120708.60000002,"expectedValueOfRootNode":60928226.58873364}},{"dataFeedId":"151e5444-449f-441e-8b64-988f21c5d054","metricId":"metric_id","anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","incidentId":"efe6bdf61f01a37d8ddbb133afde0756-alert_id","startTime":"2021-09-07T00:00:00Z","lastTime":"2021-09-07T00:00:00Z","rootNode":{"dimension":{"dimension_name":"Istanbul","category":"Home
        & Garden"}},"property":{"maxSeverity":"Low","incidentStatus":"Active","valueOfRootNode":10715.2,"expectedValueOfRootNode":9806.569582296583}}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/1c1575d8-b09e-40c3-a3c0-d459c64d8382/alerts/17bbd8dec00/incidents
version: 1
