interactions:
- request:
    body: '{"metricId": "metric_id"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/query
  response:
    body:
      string: '{"value":[{"feedbackId":"65248b7b-b218-45a1-95c7-4572ef4d8995","createdTime":"2020-10-27T08:10:12.386Z","userPrincipal":"krpratic@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Los
        Angeles"}},"feedbackType":"Period","value":{"periodType":"AssignValue","periodValue":2}},{"feedbackId":"19c831ce-2d3a-41d4-b5ec-81a1a960f2a5","createdTime":"2020-10-27T08:10:11.784Z","userPrincipal":"krpratic@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Los
        Angeles"}},"feedbackType":"Comment","startTime":"2020-08-05T00:00:00Z","endTime":"2020-10-21T00:00:00Z","value":{"commentValue":"comment"}},{"feedbackId":"fbf9116a-e903-4c92-b5c0-3fc53259532d","createdTime":"2020-10-27T08:10:11.261Z","userPrincipal":"krpratic@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Los
        Angeles"}},"feedbackType":"ChangePoint","startTime":"2020-08-05T00:00:00Z","endTime":"2020-10-21T00:00:00Z","value":{"changePointValue":"NotChangePoint"}},{"feedbackId":"c76b5110-bfe7-49a0-945c-203f494f37e2","createdTime":"2020-10-27T08:10:10.635Z","userPrincipal":"krpratic@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Los
        Angeles"}},"feedbackType":"Anomaly","startTime":"2020-08-05T00:00:00Z","endTime":"2020-10-21T00:00:00Z","value":{"anomalyValue":"NotAnomaly"},"anomalyDetectionConfigurationId":null,"anomalyDetectionConfigurationSnapshot":null},{"feedbackId":"ef5b1524-09e6-41b7-9668-4d730c9bcf69","createdTime":"2020-10-27T08:07:24.085Z","userPrincipal":"krpratic@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Los
        Angeles"}},"feedbackType":"Period","value":{"periodType":"AssignValue","periodValue":2}},{"feedbackId":"8a10486d-ec37-49e3-baa7-45c82f59d116","createdTime":"2020-10-27T08:07:22.951Z","userPrincipal":"krpratic@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimensi[...]
- request:
    body: '{"metricId": "metric_id"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/feedback/metric/query?$top=20&$skip=20
  response:
    body:
      string: '{"value":[{"feedbackId":"7591752b-c59f-44ae-ab63-99f80c4aa5a5","createdTime":"2020-10-27T07:32:44.49Z","userPrincipal":"krpratic@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_na[...]
[...]
- request:
    body: '{"metricId": "metric_id"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/feedback/metric/query?$top=20&$skip=240
  response:
    body:
      string: '{"value":[{"feedbackId":"346c5198-fa76-4df0-aafb-d15e330908c5","createdTime":"2020-10-26T01:57:41.196Z","userPrincipal":"savaity@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Miami","category":"Health
        & Personal Care"}},"feedbackType":"Comment","startTime":"2020-01-01T00:00:00Z","endTime":"2020-10-22T00:00:00Z","value":{"commentValue":"Not
        an anomaly."}},{"feedbackId":"c6e1550f-c713-4e01-bd95-76814bfd4034","createdTime":"2020-10-26T01:57:39.903Z","userPrincipal":"savaity@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Miami","category":"Health
        & Personal Care"}},"feedbackType":"Comment","startTime":"2020-01-01T00:00:00Z",[...]
[...]
