interactions:
- request:
    body: '{"activeSince": "2020-01-01T00:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/metric_id/series/query
  response:
    body:
      string: '{"value":[{"metricId":"metric_id","dimension":{"dimension_name":"__SUM__","Dim2":"__SUM__"}},{"metricId":"metric_id","dimension":{"dimension_name":"Common
        Lime","Dim2":"__SUM__"}},{"metricId":"metric_id","dimension":{"dimension_name":"__SUM__","Dim2":"Amphibian"}},{"metricId":"metric_id","dimension":{"dimension_name":"Common
        Lime","Dim2":"Amphibian"}},{"metricId":"metric_id","dimension":{"dimension_name":"Cabbage
        Palm","Dim2":"__SUM__"}},{"metricId":"metric_id","dimension":{"dimension_name":"Cherry
        Laurel","Dim2":"__SUM__"}},{"metricId":"metri[...]
- request:
    body: '{"activeSince": "2020-01-01T00:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/metrics/metric_id/series/query?$top=20&$skip=20
  response:
    body:
      string: '{"value":[{"metricId":"metric_id","dimension":{"dimension_name":"Cabbage
        Palm","Dim2":"Amphibian"}},{"metricId":"metric_id","dimension":{"dimension_name":"Blue
        Atlas Ced[...]
[...]
- request:
    body: '{"activeSince": "2020-01-01T00:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/metrics/metric_id/series/query?$top=20&$skip=1380
  response:
    body:
      string: '{"value":[{"metricId":"metric_id","dimension":{"dimension_name":"Algerian
        Fir","Dim2":"American buffalo (bison)"}},{"metricId":"metric_id","dimension":{"dimension_name":"Common
        Juniper","Dim2":"Barnacle"}},{"metricId":"metric_id","dimension":{"dimension_name":"Black
        Mulberry","Dim2":"Alligator"}},{"metricId":"metric_id","dimension":{"dimension_name":"Aspen","Dim2":"Antelope"}},{"metricId":"metric_id","dimension":{"dimension_name":"Algerian
        Fir","Dim2":"Barnacle"}},{"metricId":"metric_id","dimension":{"dimension_name":"Algerian
        Fir","Dim2":"Bali cattle"}}],"@nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/metrics/efa9adb3-7342-494b-a6f1-427021e75ad6/series/query?$top=20&$skip=1380
version: 1
