interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "topnup54a8215a", "granularityName":
      "Daily", "metrics": [{"metricName": "cost"}, {"metricName": "revenue"}], "dimension":
      [{"dimensionName": "category"}, {"dimensionName": "city"}], "dataStartFrom":
      "2019-10-01T00:00:00.000Z", "startOffsetInSeconds": 0, "maxConcurrency": -1,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter":
      {"connectionString": "connectionstring", "query": "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/21b13e38-abc3-4400-b771-652f7fc73ccf
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/21b13e38-abc3-4400-b771-652f7fc73ccf
  response:
    body:
      string: "{\"dataFeedId\":\"21b13e38-abc3-4400-b771-652f7fc73ccf\",\"dataFeedName\"\
        :\"topnup54a8215a\",\"metrics\":[{\"metricId\":\"3528147b-cd89-4a79-873c-41e7de6a175c\"\
        ,\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\"\
        :\"\"},{\"metricId\":\"d9029a80-271f-4bb1-b4c4-e5b046d560a3\",\"metricName\"\
        :\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"\
        }],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\"\
        :\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"\
        }],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\"\
        ,\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\"\
        :30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\"\
        :null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\"\
        ,\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\"\
        :[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\"\
        :-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\"\
        ],\"viewers\":[],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\"\
        ,\"createdTime\":\"2020-10-22T15:51:51Z\",\"isAdmin\":true,\"actionLinkTemplate\"\
        :\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"\
        query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F\
        =\u202F@StartTime\"}}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/21b13e38-abc3-4400-b771-652f7fc73ccf
- request:
    body: '{"name": "topnup54a8215a", "description": "testing", "metricId": "3528147b-cd89-4a79-873c-41e7de6a175c",
      "wholeMetricConfiguration": {"smartDetectionCondition": {"sensitivity": 50.0,
      "anomalyDetectorDirection": "Both", "suppressCondition": {"minNumber": 50, "minRatio":
      50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/3b2f2591-a6b8-40aa-a7ba-3d4b226b5b86
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/3b2f2591-a6b8-40aa-a7ba-3d4b226b5b86
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"3b2f2591-a6b8-40aa-a7ba-3d4b226b5b86","name":"topnup54a8215a","description":"testing","metricId":"3528147b-cd89-4a79-873c-41e7de6a175c","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/3b2f2591-a6b8-40aa-a7ba-3d4b226b5b86
- request:
    body: '{"name": "testalert54a8215a", "hookIds": [], "metricAlertingConfigurations":
      [{"anomalyDetectionConfigurationId": "3b2f2591-a6b8-40aa-a7ba-3d4b226b5b86",
      "anomalyScopeType": "TopN", "topNAnomalyScope": {"top": 5, "period": 10, "minTopCount":
      9}, "snoozeFilter": {"autoSnooze": 5, "snoozeScope": "Metric", "onlyForSuccessive":
      true}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/3eb15fcd-1808-4858-b42f-9cef567318f0
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/3eb15fcd-1808-4858-b42f-9cef567318f0
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"3eb15fcd-1808-4858-b42f-9cef567318f0","name":"testalert54a8215a","description":"","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"3b2f2591-a6b8-40aa-a7ba-3d4b226b5b86","anomalyScopeType":"TopN","negationOperation":false,"topNAnomalyScope":{"top":5,"period":10,"minTopCount":9},"snoozeFilter":{"autoSnooze":5,"snoozeScope":"Metric","onlyForSuccessive":true}}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/3eb15fcd-1808-4858-b42f-9cef567318f0
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/3eb15fcd-1808-4858-b42f-9cef567318f0
  response:
    body:
      string: '{"code":"Not Found","message":"Not found this AnomalyAlertingConfiguration.
        TraceId: 1b4b417a-dd2b-455d-aa1b-49ce919e6c0d"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/3eb15fcd-1808-4858-b42f-9cef567318f0
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/21b13e38-abc3-4400-b771-652f7fc73ccf
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/21b13e38-abc3-4400-b771-652f7fc73ccf
version: 1
