interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: '{"value":[{"hookId":"65fa0aa4-9b71-451c-a04c-cc74cb413ad7","hookName":"myhook","hookType":"Email","externalLink":"external
        link","description":"","admins":["krpratic@microsoft.com"],"hookParameter":{"toList":["krpratic@microsoft.com"]}}],"@nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks
version: 1
