interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "datafeedconfigasyncdkaqg",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "region"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "viewMode": "Private", "authenticationType": "Basic", "dataSourceParameter":
      {"connectionString": "connectionstring", "query": "select * from adsample2 where
      Timestamp = @StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/619c341a-f091-4f61-baa2-168dd68538fe
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/619c341a-f091-4f61-baa2-168dd68538fe
  response:
    body:
      string: '{"dataFeedId":"619c341a-f091-4f61-baa2-168dd68538fe","dataFeedName":"datafeedconfigasyncdkaqg","metrics":[{"metricId":"2bd02e3a-2c09-4910-8242-250755a4f257","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"d137bc85-b24a-4c66-a762-3b1fe338ec0d","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"region","dimensionDisplayName":"region"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["xiangyan@microsoft.com"],"viewers":[],"creator":"xiangyan@microsoft.com","status":"Active","createdTime":"2021-09-29T19:42:01Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"query":"select
        * from adsample2 where Timestamp = @StartTime"},"authenticationType":"Basic"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/619c341a-f091-4f61-baa2-168dd68538fe
- request:
    body: '{"name": "multipledetectionconfigsasync4f6a2134", "description": "My test
      metric anomaly detection configuration", "metricId": "2bd02e3a-2c09-4910-8242-250755a4f257",
      "wholeMetricConfiguration": {"conditionOperator": "AND", "smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 5, "minRatio": 5.0}}, "hardThresholdCondition": {"lowerBound":
      0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition": {"changePercentage":
      50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, "dimensionGroupOverrideConfigurations":
      [{"group": {"dimension": {"region": "Sao Paulo"}}, "conditionOperator": "AND",
      "smartDetectionCondition": {"sensitivity": 63.0, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 1, "minRatio": 100.0}}, "hardThresholdCondition":
      {"lowerBound": 0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition":
      {"changePercentage": 50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, {"group":
      {"dimension": {"region": "Seoul"}}, "conditionOperator": "AND", "smartDetectionCondition":
      {"sensitivity": 63.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 1, "minRatio": 100.0}}}], "seriesOverrideConfigurations": [{"series":
      {"dimension": {"region": "Shenzhen", "category": "Jewelry"}}, "conditionOperator":
      "AND", "smartDetectionCondition": {"sensitivity": 63.0, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 1, "minRatio": 100.0}}, "hardThresholdCondition":
      {"lowerBound": 0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition":
      {"changePercentage": 50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, {"series":
      {"dimension": {"region": "Osaka", "category": "Cell Phones"}}, "conditionOperator":
      "AND", "smartDetectionCondition": {"sensitivity": 63.0, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 1, "minRatio": 100.0}}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/2e039cce-add4-4f75-ab02-56d46f2083f3
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/2e039cce-add4-4f75-ab02-56d46f2083f3
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"2e039cce-add4-4f75-ab02-56d46f2083f3","name":"multipledetectionconfigsasync4f6a2134","description":"My
        test metric anomaly detection configuration","metricId":"2bd02e3a-2c09-4910-8242-250755a4f257","wholeMetricConfiguration":{"conditionOperator":"AND","smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":5,"minRatio":5.0}},"hardThresholdCondition":{"lowerBound":0.0,"upperBound":100.0,"anomalyDetectorDirection":"Both","suppressCo[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/619c341a-f091-4f61-baa2-168dd68538fe
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/619c341a-f091-4f61-baa2-168dd68538fe
version: 1
