interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: '{"value":[{"dataFeedId":"10a95e4d-cbe6-4c00-b9a5-301670519e35","dataFeedName":"update5n7krwb5xyyi6zl7v2","metrics":[{"metricId":"1a27bf45-8657-41e2-94d5-e47160ac145f","metricName":"cost","metricDisplayName":"display
        cost","metricDescription":"the cost"},{"metricId":"fbc6e77e-9d38-436d-908c-51c90dc55a26","metricName":"revenue","metricDisplayName":"display
        revenue","metricDescription":"the revenue"}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"display
        category"},{"dimensionName":"city","dimensionDisplayName":"display city"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"Timestamp","startOffsetInSeconds":-1,"maxQueryPerMinute":30.0,"granularityName":"Daily","needRollup":"NoRollup","fillMissingPointType":"SmartFilling","fillMissingPointValue":0.0,"rollUpMethod":"None","dataFeedDescription":"my
        first data feed","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":0,"viewMode":"Private","admins":["yournamehere@microsoft.com","krpratic@microsoft.com"],"viewers":["viewers"],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2021-05-20T12:27:59Z","isAdmin":true,"actionLinkTemplate":"action
        link template","dataSourceParameter":{"query":"select?*?from?adsample2?where?Timestamp?=?@StartTime"},"authenticationType":"Basic"},{"dataFeedId":"180e174f-e4c0-45e9-9ee1-010201466740","dataFeedName":"updaten4b5tl22teykym5xm5","metrics":[{"metricId":"b04a273d-23e0-4a30-b14d-bc5ab96b2179","metricName":"cost","metricDisplayName":"display
        cost","metricDescription":"the cost"},{"metricId":"18ae15d0-f527-4c9b-8dba-bc28ac638bef","metricName":"revenue","metricDisplayName":"display
        revenue","metricDescription":"the revenue"}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"display
        ca[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/dataFeeds?$maxpagesize=20&$skip=20
  response:
    body:
      string: '{"value":[{"dataFeedId":"06b3a680-1bec-4f16-99f7-207f5c0e3ed4","dataFeedName":"seriesgroupvoxfassqh4jjs","metrics":[{"metricId":"c265bdd5-e3d6-4c86-9ce4-8245b628060d","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"ab6b2189-7528-455f-ada0-86c7364e7d[...]
