interactions:
- request:
    body: '{"dataSourceType": "MongoDB", "dataFeedName": "mongodbasynce0a8182f", "granularityName":
      "Daily", "metrics": [{"metricName": "cost"}, {"metricName": "revenue"}], "dimension":
      [{"dimensionName": "category"}, {"dimensionName": "city"}], "dataStartFrom":
      "2019-01-01T00:00:00.000Z", "startOffsetInSeconds": 0, "maxConcurrency": -1,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter":
      {"connectionString": "connectionstring", "database": "adsample", "command":
      "{\"find\": \"adsample\", \"filter\": { Timestamp: { $eq: @StartTime }} \"batchSize\":
      2000,}"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d89a50c0-b4c4-4983-ab65-0b4cb7261f04
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d89a50c0-b4c4-4983-ab65-0b4cb7261f04
  response:
    body:
      string: '{"dataFeedId":"d89a50c0-b4c4-4983-ab65-0b4cb7261f04","dataFeedName":"mongodbasynce0a8182f","metrics":[{"metricId":"2a49fc25-0762-4b98-8033-9943969a629f","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"927c1a40-6180-400f-91ac-c6f24e2b6785","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-01-01T00:00:00Z","dataSourceType":"MongoDB","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["f850650c-1fcf-4489-b46f-71af2e30d360"],"viewers":[],"creator":"f850650c-1fcf-4489-b46f-71af2e30d360","status":"Active","createdTime":"2020-12-26T19:38:18Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"connectionString":"connectionstring","database":"adsample","command":"{\"find\":
        \"adsample\", \"filter\": { Timestamp: { $eq: @StartTime }} \"batchSize\":
        2000,}"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/d89a50c0-b4c4-4983-ab65-0b4cb7261f04
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d89a50c0-b4c4-4983-ab65-0b4cb7261f04
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/d89a50c0-b4c4-4983-ab65-0b4cb7261f04
version: 1
