interactions:
- request:
    body: '{"dataSourceType": "MongoDB", "dataFeedName": "mongodbasync861616aa", "granularityName":
      "Daily", "metrics": [{"metricName": "cost"}, {"metricName": "revenue"}], "dimension":
      [{"dimensionName": "category"}, {"dimensionName": "city"}], "dataStartFrom":
      "2019-01-01T00:00:00.000Z", "startOffsetInSeconds": 0, "maxConcurrency": -1,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter":
      {"connectionString": "connectionstring", "database": "adsample", "command":
      "{\"find\": \"adsample\", \"filter\": { Timestamp: { $eq: @StartTime }} \"batchSize\":
      2000,}"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/5cd6dd2a-1c7b-4ff2-b284-11ff3e77e68d
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/5cd6dd2a-1c7b-4ff2-b284-11ff3e77e68d
  response:
    body:
      string: '{"dataFeedId":"5cd6dd2a-1c7b-4ff2-b284-11ff3e77e68d","dataFeedName":"mongodbasync861616aa","metrics":[{"metricId":"c183f02a-3ae6-47ab-af05-4181cd786078","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"25e1ce2b-3b71-4072-b128-64a45dab68a0","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-01-01T00:00:00Z","dataSourceType":"MongoDB","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2021-01-22T01:06:14Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"connectionString":"connectionstring","database":"adsample","command":"{\"find\":
        \"adsample\", \"filter\": { Timestamp: { $eq: @StartTime }} \"batchSize\":
        2000,}"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/5cd6dd2a-1c7b-4ff2-b284-11ff3e77e68d
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/5cd6dd2a-1c7b-4ff2-b284-11ff3e77e68d
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/5cd6dd2a-1c7b-4ff2-b284-11ff3e77e68d
version: 1
