interactions:
- request:
    body: '{"startTime": "2020-08-05T00:00:00.000Z", "endTime": "2020-08-07T00:00:00.000Z",
      "series": [{"city": "Mumbai", "category": "Shoes Handbags & Sunglasses"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-gualala.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/6412a857-8fa4-44e0-8cb4-a99e9b63d71f/data/query
  response:
    body:
      string: '{"value":[{"id":{"metricId":"6412a857-8fa4-44e0-8cb4-a99e9b63d71f","dimension":{"city":"Mumbai","category":"Shoes
        Handbags & Sunglasses"}},"timestampList":["2020-08-05T00:00:00Z","2020-08-06T00:00:00Z"],"valueList":[3700223.6,3602890.2]}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://anuchan-cg-gualala.cognitiveservices.azure.com//metricsadvisor/v1.0/metrics/6412a857-8fa4-44e0-8cb4-a99e9b63d71f/data/query
version: 1
