interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "testfeedasynce49a2006",
      "dataFeedDescription": "my first data feed", "granularityName": "Custom", "granularityAmount":
      20, "metrics": [{"metricName": "cost", "metricDisplayName": "display cost",
      "metricDescription": "the cost"}, {"metricName": "revenue", "metricDisplayName":
      "display revenue", "metricDescription": "the revenue"}], "dimension": [{"dimensionName":
      "category", "dimensionDisplayName": "display category"}, {"dimensionName": "city",
      "dimensionDisplayName": "display city"}], "timestampColumn": "Timestamp", "dataStartFrom":
      "2019-10-01T00:00:00.000Z", "startOffsetInSeconds": -1, "maxConcurrency": 0,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "needRollup":
      "AlreadyRollup", "rollUpMethod": "Sum", "allUpIdentification": "sumrollup",
      "fillMissingPointType": "CustomValue", "fillMissingPointValue": 10.0, "viewMode":
      "Private", "admins": ["yournamehere@microsoft.com"], "viewers": ["viewers"],
      "actionLinkTemplate": "action link template", "dataSourceParameter": {"connectionString":
      "connectionstring", "query": "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a6926b89-522f-4c2f-a5d3-a0f0a001ad2b
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a6926b89-522f-4c2f-a5d3-a0f0a001ad2b
  response:
    body:
      string: "{\"dataFeedId\":\"a6926b89-522f-4c2f-a5d3-a0f0a001ad2b\",\"dataFeedName\":\"testfeedasynce49a2006\",\"metrics\":[{\"metricId\":\"b33dc551-e0c5-44a7-bc4d-2c601c02e2db\",\"metricName\":\"cost\",\"metricDisplayName\":\"display
        cost\",\"metricDescription\":\"the cost\"},{\"metricId\":\"95271cfb-95f5-4021-bf67-12918ef66671\",\"metricName\":\"revenue\",\"metricDisplayName\":\"display
        revenue\",\"metricDescription\":\"the revenue\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"display
        category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"display
        city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"Timestamp\",\"startOffsetInSeconds\":-1,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Custom\",\"granularityAmount\":400,\"allUpIdentification\":\"sumrollup\",\"needRollup\":\"AlreadyRollup\",\"fillMissingPointType\":\"CustomValue\",\"fillMissingPointValue\":10.0,\"rollUpMethod\":\"Sum\",\"dataFeedDescription\":\"my
        first data feed\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":0,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\",\"yournamehere@microsoft.com\"],\"viewers\":[\"viewers\"],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\",\"createdTime\":\"2021-05-21T21:20:55Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"action
        link template\",\"dataSourceParameter\":{\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"},\"authenticationType\":\"Basic\"}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/a6926b89-522f-4c2f-a5d3-a0f0a001ad2b
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a6926b89-522f-4c2f-a5d3-a0f0a001ad2b
  response:
    body:
      string: '{"code":"ERROR_INVALID_PARAMETER","message":"datafeedId is invalid."}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/a6926b89-522f-4c2f-a5d3-a0f0a001ad2b
version: 1
