interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "alertupdatechrtbezdt5lzi",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "region"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "viewMode": "Private", "authenticationType": "Basic", "dataSourceParameter":
      {"connectionString": "connectionstring", "query": "select * from adsample2 where
      Timestamp = @StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d63cd4e7-f7e6-47c1-ab65-4cf4637063ab
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d63cd4e7-f7e6-47c1-ab65-4cf4637063ab
  response:
    body:
      string: '{"dataFeedId":"d63cd4e7-f7e6-47c1-ab65-4cf4637063ab","dataFeedName":"alertupdatechrtbezdt5lzi","metrics":[{"metricId":"23c422e0-d5fa-48eb-a375-0a7cce166314","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"778db709-4efa-4896-8784-e448d30a7fbf","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"region","dimensionDisplayName":"region"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["xiangyan@microsoft.com"],"viewers":[],"creator":"xiangyan@microsoft.com","status":"Active","createdTime":"2021-09-29T19:40:47Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"query":"select
        * from adsample2 where Timestamp = @StartTime"},"authenticationType":"Basic"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/d63cd4e7-f7e6-47c1-ab65-4cf4637063ab
- request:
    body: '{"name": "alertupdatefe5k2ncyyeto2", "description": "testing", "metricId":
      "23c422e0-d5fa-48eb-a375-0a7cce166314", "wholeMetricConfiguration": {"smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 5, "minRatio": 5.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/3e0c1c15-2041-4662-9f86-70eb6eaffc44
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/3e0c1c15-2041-4662-9f86-70eb6eaffc44
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"3e0c1c15-2041-4662-9f86-70eb6eaffc44","name":"alertupdatefe5k2ncyyeto2","description":"testing","metricId":"23c422e0-d5fa-48eb-a375-0a7cce166314","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":5,"minRatio":5.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/3e0c1c15-2041-4662-9f86-70eb6eaffc44
- request:
    body: '{"name": "alertupdategnkopjqxkcl4n", "crossMetricsOperator": "AND", "hookIds":
      [], "metricAlertingConfigurations": [{"anomalyDetectionConfigurationId": "3e0c1c15-2041-4662-9f86-70eb6eaffc44",
      "anomalyScopeType": "TopN", "topNAnomalyScope": {"top": 5, "period": 10, "minTopCount":
      9}, "valueFilter": {"lower": 1.0, "upper": 5.0, "direction": "Both", "type":
      "Value", "metricId": "23c422e0-d5fa-48eb-a375-0a7cce166314"}}, {"anomalyDetectionConfigurationId":
      "3e0c1c15-2041-4662-9f86-70eb6eaffc44", "anomalyScopeType": "Dimension", "dimensionAnomalyScope":
      {"dimension": {"region": "Shenzhen"}}, "severityFilter": {"minAlertSeverity":
      "Low", "maxAlertSeverity": "High"}}, {"anomalyDetectionConfigurationId": "3e0c1c15-2041-4662-9f86-70eb6eaffc44",
      "anomalyScopeType": "All", "severityFilter": {"minAlertSeverity": "Low", "maxAlertSeverity":
      "High"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/9cad7f98-fc4d-4cb1-8582-3951768ebda7
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/9cad7f98-fc4d-4cb1-8582-3951768ebda7
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"9cad7f98-fc4d-4cb1-8582-3951768ebda7","name":"alertupdategnkopjqxkcl4n","description":"","crossMetricsOperator":"AND","splitAlertByDimensions":[],"hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"3e0c1c15-2041-4662-9f86-70eb6eaffc44","anomalyScopeType":"TopN","negationOperation":false,"topNAnomalyScope":{"top":5,"period":10,"minTopCount":9},"valueFilter":{"lower":1.0,"upper":5.0,"direction":"Both","metricId":"23c422e0-d5fa-48eb-a375-0a7cce166314","triggerForMissing":false,"type":"Value"}},{"anomalyDetectionConfigurationId":"3e0c1c15-2041-4662-9f86-70eb6eaffc44","anomalyScopeType":"Dimension","negationOperation":false,"dimensionAnomalyScope":{"dimension":{"region":"Shenzhen"}},"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}},{"anomalyDetectionConfigurationId":"3e0c1c15-2041-4662-9f86-70eb6eaffc44","anomalyScopeType":"All","negationOperation":false,"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/9cad7f98-fc4d-4cb1-8582-3951768ebda7
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d63cd4e7-f7e6-47c1-ab65-4cf4637063ab
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/d63cd4e7-f7e6-47c1-ab65-4cf4637063ab
version: 1
