interactions:
- request:
    body: '{"hookType": "Email", "hookName": "testemailhookasync8281117e", "description":
      "my email hook", "externalLink": "external link", "hookParameter": {"toList":
      ["yournamehere@microsoft.com"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/248fbbca-9552-441f-a4dc-c328d97ac19f
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/248fbbca-9552-441f-a4dc-c328d97ac19f
  response:
    body:
      string: '{"hookId":"248fbbca-9552-441f-a4dc-c328d97ac19f","hookName":"testemailhookasync8281117e","hookType":"Email","externalLink":"external
        link","description":"my email hook","admins":["f850650c-1fcf-4489-b46f-71af2e30d360"],"hookParameter":{"toList":["yournamehere@microsoft.com"]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/248fbbca-9552-441f-a4dc-c328d97ac19f
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/248fbbca-9552-441f-a4dc-c328d97ac19f
  response:
    body:
      string: '{"code":"ERROR_INVALID_PARAMETER","message":"hookId is invalid."}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/248fbbca-9552-441f-a4dc-c328d97ac19f
version: 1
