interactions:
- request:
    body: '{"hookType": "Email", "hookName": "testwebhooke621493", "description":
      "my email hook", "externalLink": "external link", "hookParameter": {"toList":
      ["yournamehere@microsoft.com"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/cef9ace0-bef4-476c-8943-13c7c7cc4b30
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/cef9ace0-bef4-476c-8943-13c7c7cc4b30
  response:
    body:
      string: '{"hookId":"cef9ace0-bef4-476c-8943-13c7c7cc4b30","hookName":"testwebhooke621493","hookType":"Email","externalLink":"external
        link","description":"my email hook","admins":["krpratic@microsoft.com"],"hookParameter":{"toList":["yournamehere@microsoft.com"]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/cef9ace0-bef4-476c-8943-13c7c7cc4b30
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/cef9ace0-bef4-476c-8943-13c7c7cc4b30
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/cef9ace0-bef4-476c-8943-13c7c7cc4b30
version: 1
