interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "testfeedasynccc8f1802",
      "dataFeedDescription": "my first data feed", "granularityName": "Daily", "metrics":
      [{"metricName": "cost", "metricDisplayName": "display cost", "metricDescription":
      "the cost"}, {"metricName": "revenue", "metricDisplayName": "display revenue",
      "metricDescription": "the revenue"}], "dimension": [{"dimensionName": "category",
      "dimensionDisplayName": "display category"}, {"dimensionName": "city", "dimensionDisplayName":
      "display city"}], "timestampColumn": "Timestamp", "dataStartFrom": "2019-10-01T00:00:00.000Z",
      "startOffsetInSeconds": -1, "maxConcurrency": 0, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "needRollup": "NoRollup", "rollUpMethod":
      "None", "fillMissingPointType": "SmartFilling", "viewMode": "Private", "admins":
      ["yournamehere@microsoft.com"], "viewers": ["viewers"], "actionLinkTemplate":
      "action link template", "authenticationType": "Basic", "dataSourceParameter":
      {"connectionString": "connectionstring", "query": "select * from adsample2 where
      Timestamp = @StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/77b5d3b5-9070-4989-86ac-c7312aa48ccc
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/77b5d3b5-9070-4989-86ac-c7312aa48ccc
  response:
    body:
      string: '{"dataFeedId":"77b5d3b5-9070-4989-86ac-c7312aa48ccc","dataFeedName":"testfeedasynccc8f1802","metrics":[{"metricId":"233b1b4c-8d9a-40d5-b38a-e60d428ce258","metricName":"cost","metricDisplayName":"display
        cost","metricDescription":"the cost"},{"metricId":"52045000-9bbd-414b-a6fb-7757ca3237aa","metricName":"revenue","metricDisplayName":"display
        revenue","metricDescription":"the revenue"}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"display
        category"},{"dimensionName":"city","dimensionDisplayName":"display city"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"Timestamp","startOffsetInSeconds":-1,"maxQueryPerMinute":30.0,"granularityName":"Daily","needRollup":"NoRollup","fillMissingPointType":"SmartFilling","fillMissingPointValue":0.0,"rollUpMethod":"None","dataFeedDescription":"my
        first data feed","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":0,"viewMode":"Private","admins":["xiangyan@microsoft.com","yournamehere@microsoft.com"],"viewers":["viewers"],"creator":"xiangyan@microsoft.com","status":"Active","createdTime":"2021-09-29T19:41:29Z","isAdmin":true,"actionLinkTemplate":"action
        link template","dataSourceParameter":{"query":"select * from adsample2 where
        Timestamp = @StartTime"},"authenticationType":"Basic"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/77b5d3b5-9070-4989-86ac-c7312aa48ccc
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/77b5d3b5-9070-4989-86ac-c7312aa48ccc
  response:
    body:
      string: '{"code":"404 NOT_FOUND","message":"datafeedId is invalid."}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/77b5d3b5-9070-4989-86ac-c7312aa48ccc
version: 1
