interactions:
- request:
    body: 'b''{"dataSourceType": "SqlServer", "dataFeedName": "datafeedforconfigasync8d813149",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "select\\u202f*\\u202ffrom\\u202fadsample2\\u202fwhere\\u202fTimestamp\\u202f=\\u202f@StartTime"}}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/cf6c9853-6494-4e4c-9b6b-0fdc672cac53
    status:
      code: 201
      message: Created
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/cf6c9853-6494-4e4c-9b6b-0fdc672cac53
  response:
    body:
      string: "{\"dataFeedId\":\"cf6c9853-6494-4e4c-9b6b-0fdc672cac53\",\"dataFeedName\":\"datafeedforconfigasync8d813149\",\"metrics\":[{\"metricId\":\"69b4c5a2-5d80-42b5-b532-004fc5b4c81f\",\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\":\"\"},{\"metricId\":\"4bf00683-626c-45ee-bee2-ee3436e449f4\",\"metricName\":\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\":null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\":[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\"],\"viewers\":[],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\",\"createdTime\":\"2020-09-09T22:37:05Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/cf6c9853-6494-4e4c-9b6b-0fdc672cac53
- request:
    body: '{"name": "multipledetectionconfigsasync8d813149", "description": "My test
      metric anomaly detection configuration", "metricId": "69b4c5a2-5d80-42b5-b532-004fc5b4c81f",
      "wholeMetricConfiguration": {"conditionOperator": "AND", "smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 50, "minRatio": 50.0}}, "hardThresholdCondition": {"lowerBound":
      0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition": {"changePercentage":
      50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, "dimensionGroupOverrideConfigurations":
      [{"group": {"dimension": {"city": "Sao Paulo"}}, "conditionOperator": "AND",
      "smartDetectionCondition": {"sensitivity": 63.0, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 1, "minRatio": 100.0}}, "hardThresholdCondition":
      {"lowerBound": 0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition":
      {"changePercentage": 50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, {"group":
      {"dimension": {"city": "Seoul"}}, "conditionOperator": "AND", "smartDetectionCondition":
      {"sensitivity": 63.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 1, "minRatio": 100.0}}}], "seriesOverrideConfigurations": [{"series":
      {"dimension": {"city": "Shenzhen", "category": "Jewelry"}}, "conditionOperator":
      "AND", "smartDetectionCondition": {"sensitivity": 63.0, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 1, "minRatio": 100.0}}, "hardThresholdCondition":
      {"lowerBound": 0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition":
      {"changePercentage": 50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, {"series":
      {"dimension": {"city": "Osaka", "category": "Cell Phones"}}, "conditionOperator":
      "AND", "smartDetectionCondition": {"sensitivity": 63.0, "anomalyDetectorDirection":
      "Both", "suppressCondition": {"minNumber": 1, "minRatio": 100.0}}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/fd4bf8e1-770c-418b-b5c7-2e2a6674fd92
    status:
      code: 201
      message: Created
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/fd4bf8e1-770c-418b-b5c7-2e2a6674fd92
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"fd4bf8e1-770c-418b-b5c7-2e2a6674fd92","name":"multipledetectionconfigsasync8d813149","description":"My
        test metric anomaly detection configuration","metricId":"69b4c5a2-5d80-42b5-b532-004fc5b4c81f","wholeMetricConfiguration":{"conditionOperator":"AND","smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}},"hardThresholdCondition":{"lowerBound":0.0,"upperBound":100.0,"anomalyDetectorDirection":"Both","suppress[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/cf6c9853-6494-4e4c-9b6b-0fdc672cac53
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/cf6c9853-6494-4e4c-9b6b-0fdc672cac53
version: 1
