interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "wholeseries3kmxxfr6oig2q",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "region"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "viewMode": "Private", "authenticationType": "Basic", "dataSourceParameter":
      {"connectionString": "connectionstring", "query": "select * from adsample2 where
      Timestamp = @StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/84158850-facc-4fe2-bf12-14d1b334ba23
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/84158850-facc-4fe2-bf12-14d1b334ba23
  response:
    body:
      string: '{"dataFeedId":"84158850-facc-4fe2-bf12-14d1b334ba23","dataFeedName":"wholeseries3kmxxfr6oig2q","metrics":[{"metricId":"d8c2a7cf-085d-4bfd-a974-6dd272937592","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"99dcbd77-c11a-4c51-a50e-116c9ef930f4","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"region","dimensionDisplayName":"region"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["xiangyan@microsoft.com"],"viewers":[],"creator":"xiangyan@microsoft.com","status":"Active","createdTime":"2021-09-29T19:40:17Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"query":"select
        * from adsample2 where Timestamp = @StartTime"},"authenticationType":"Basic"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/84158850-facc-4fe2-bf12-14d1b334ba23
- request:
    body: '{"name": "wholeseries34z3ykui6hy64", "description": "testing", "metricId":
      "d8c2a7cf-085d-4bfd-a974-6dd272937592", "wholeMetricConfiguration": {"smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 5, "minRatio": 5.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/8bca9d23-3139-4582-9365-c25f3a7b2772
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/8bca9d23-3139-4582-9365-c25f3a7b2772
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"8bca9d23-3139-4582-9365-c25f3a7b2772","name":"wholeseries34z3ykui6hy64","description":"testing","metricId":"d8c2a7cf-085d-4bfd-a974-6dd272937592","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":5,"minRatio":5.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/8bca9d23-3139-4582-9365-c25f3a7b2772
- request:
    body: '{"name": "testalert71b321ad", "hookIds": [], "metricAlertingConfigurations":
      [{"anomalyDetectionConfigurationId": "8bca9d23-3139-4582-9365-c25f3a7b2772",
      "anomalyScopeType": "All", "valueFilter": {"lower": 1.0, "direction": "Down",
      "type": "Value", "metricId": "d8c2a7cf-085d-4bfd-a974-6dd272937592"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/6d1057fc-3e23-4a8c-8d18-f9b98bc51306
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/6d1057fc-3e23-4a8c-8d18-f9b98bc51306
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"6d1057fc-3e23-4a8c-8d18-f9b98bc51306","name":"testalert71b321ad","description":"","splitAlertByDimensions":[],"hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"8bca9d23-3139-4582-9365-c25f3a7b2772","anomalyScopeType":"All","negationOperation":false,"valueFilter":{"lower":1.0,"direction":"Down","metricId":"d8c2a7cf-085d-4bfd-a974-6dd272937592","triggerForMissing":false,"type":"Value"}}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/6d1057fc-3e23-4a8c-8d18-f9b98bc51306
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/6d1057fc-3e23-4a8c-8d18-f9b98bc51306
  response:
    body:
      string: '{"code":"Not Found","message":"Not found this AnomalyAlertingConfiguration.
        TraceId: fab33188-1655-4a85-849d-840db962a188"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/6d1057fc-3e23-4a8c-8d18-f9b98bc51306
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/84158850-facc-4fe2-bf12-14d1b334ba23
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/84158850-facc-4fe2-bf12-14d1b334ba23
version: 1
