interactions:
- request:
    body: '{"feedbackType": "ChangePoint", "metricId": "metric_id", "dimensionFilter":
      {"dimension": {"category": "Shoes Handbags & Sunglasses"}}, "startTime": "2021-08-05T00:00:00.000Z",
      "endTime": "2021-09-09T00:00:00.000Z", "value": {"changePointValue": "NotChangePoint"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/eebdf04d-190b-4e3a-a12a-b26de14e685f
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/feedback/metric
version: 1
