interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/anomaly_alert_configuration_id/alerts/alert_id/incidents
  response:
    body:
      string: '{"value":[{"dataFeedId":"9860df01-e740-40ec-94a2-6351813552ba","metricId":"metric_id","anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","incidentId":"51d849d03277901eadfa9a0e7665b4ad-alert_id","startTime":"2020-10-20T00:00:00Z","lastTime":"2020-10-20T00:00:00Z","rootNode":{"dimension":{"dimension_name":"Delhi","category":"Shoes
        Handbags & Sunglasses"}},"property":{"incidentStatus":"Resolved","valueOfRootNode":5079001.4,"expectedValueOfRootNode":5142673.035323909}},{"dataFeedId":"9860df01-e740-40ec-94a2-6351813552ba","metricId":"metric_id","anomalyDetectionConfigurationId":"anomaly_detection_configuration_id","incidentId":"daceb039d9ec34d28f04654dd61aee57-alert_id","startTime":"2020-10-20T00:00:00Z","lastTime":"2020-10-20T00:00:00Z","rootNode":{"dimension":{"dimension_name":"Karachi","category":"Handmade"}},"property":{"maxSeverity":"Medium","incidentStatus":"Active","valueOfRootNode":3724747.4,"expectedValueOfRootNode":3579278.2792707016}}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/175434e3400/incidents
version: 1
