interactions:
- request:
    body: '{"activeSince": "2020-01-01T00:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/metric_id/series/query
  response:
    body:
      string: '{"value":[{"metricId":"metric_id","dimension":{"dimension_name":"Miami","category":"Health
        & Personal Care"}},{"metricId":"metric_id","dimension":{"dimension_name":"Rio
        de Janeiro","category":"Historical & Advertising Collectibles"}},{"metricId":"metric_id","dimension":{"dimension_name":"Belo
        Horizonte","category":"Electronics (Consumer)"}},{"metricId":"metric_id","dimension":{"dimension_name":"Kinshasa","category":"Beauty"}},{"metricId":"metric_id","dimension":{"dimension_name":"Lahore","category":"Shoes
        Handbags & Sunglasses"}},{"metricId":"me[...]
- request:
    body: '{"activeSince": "2020-01-01T00:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/metrics/metric_id/series/query?$maxpagesize=20&$skip=20
  response:
    body:
      string: '{"value":[{"metricId":"metric_id","dimension":{"dimension_name":"Miami","category":"Software
        & Computer Games"}},{"metricId":"metric_id","dimension":{"dimension_name":"S[...]
[...]
- request:
    body: '{"activeSince": "2020-01-01T00:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/metrics/metric_id/series/query?$maxpagesize=20&$skip=1400
  response:
    body:
      string: '{"value":[{"metricId":"metric_id","dimension":{"dimension_name":"Tianjin","category":"Sports
        Collectibles"}},{"metricId":"metric_id","dimension":{"dimension_name":"Belo
        Horizonte","category":"Sports Collectibles"}},{"metricId":"metric_id","dimension":{"dimension_name":"Monterrey","category":"__SUM__"}},{"metricId":"metric_id","dimension":{"dimension_name":"Wuhan","category":"Baby
        Products (Excluding Apparel)"}},{"metricId":"metric_id","dimension":{"dimension_name":"Ankara","category":"__SUM__"}}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/metrics/27e3015f-04fd-44ba-a20b-bc529a0aebae/series/query?$maxpagesize=20&$skip=1400
version: 1
