interactions:
- request:
    body: '{"startTime": "2020-01-01T00:00:00.000Z", "endTime": "2020-10-21T00:00:00.000Z",
      "dimensionName": "dimension_name"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/anomaly_detection_configuration_id/anomalies/dimension/query
  response:
    body:
      string: '{"value":["Karachi","__SUM__","Los Angeles","Delhi","Manila","Seoul","Mumbai","Beijing","New
        York","Miami","Mexico City","Philadelphia","Osaka","Tianjin","Istanbul","Taipei","Kolkata","Madrid","Moscow","Shenzhen","Rio
        de Janeiro","Belo Horizonte","Lahore","Dallas","Jakarta","Hyderabad","Wuhan","Lima","Shanghai","Bangkok","Bogota","Houston","Buenos
        Aires","Kinshasa","Santiago","London","Bengaluru","Chennai","Tokyo","Sao Paulo","Lagos","Hong
        Kong","Cairo","Chongqing","Guangzhou","Chicago","Tehran","Dhaka","Paris","Ho
        Chi Minh City","Barcelona","Pune","Washington","Shenyang","Boston","Luanda","Baghdad","Guadalajara","Haora","Singapore","Toronto"],"@nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c/anomalies/dimension/query
version: 1
