interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/anomaly_alert_configuration_id/alerts/alert_id/incidents
  response:
    body:
      string: '{"value":[{"metricId":"27e3015f-04fd-44ba-a20b-bc529a0aebae","anomalyDetectionConfigurationId":"fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c","incidentId":"51d849d03277901eadfa9a0e7665b4ad-alert_id","startTime":"2020-10-18T00:00:00Z","lastTime":"2020-10-20T00:00:00Z","rootNode":{"dimension":{"city":"Delhi","category":"Shoes
        Handbags & Sunglasses"}},"property":{"maxSeverity":"High","incidentStatus":"Active"}},{"metricId":"27e3015f-04fd-44ba-a20b-bc529a0aebae","anomalyDetectionConfigurationId":"fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c","incidentId":"daceb039d9ec34d28f04654dd61aee57-alert_id","startTime":"2020-10-20T00:00:00Z","lastTime":"2020-10-20T00:00:00Z","rootNode":{"dimension":{"city":"Karachi","category":"Handmade"}},"property":{"maxSeverity":"High","incidentStatus":"Active"}}],"@nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/204a211a-c5f4-45f3-a30e-512fb25d1d2c/alerts/175434e3400/incidents
version: 1
