interactions:
- request:
    body: '{"hookType": "Webhook", "hookName": "testwebhookurdouq5ymrqubfabf1447",
      "description": "my web hook", "externalLink": "external link", "hookParameter":
      {"endpoint": "https://httpbin.org/post", "username": "krista", "password": "123"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/a96af4b5-30d8-4b25-8ab2-bf471261fb4a
    status:
      code: 201
      message: Created
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/a96af4b5-30d8-4b25-8ab2-bf471261fb4a
  response:
    body:
      string: '{"hookId":"a96af4b5-30d8-4b25-8ab2-bf471261fb4a","hookName":"testwebhookurdouq5ymrqubfabf1447","hookType":"Webhook","externalLink":"external
        link","description":"my web hook","admins":["krpratic@microsoft.com"],"hookParameter":{"endpoint":"https://httpbin.org/post","username":"krista","password":"123","headers":{},"certificateKey":"","certificatePassword":""}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/a96af4b5-30d8-4b25-8ab2-bf471261fb4a
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/a96af4b5-30d8-4b25-8ab2-bf471261fb4a
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/a96af4b5-30d8-4b25-8ab2-bf471261fb4a
version: 1
