interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds?dataFeedName=azsqlDatafeed
  response:
    body:
      string: '{"value":[{"dataFeedId":"data_feed_id","dataFeedName":"azsqlDatafeed","metrics":[{"metricId":"metric_id","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"a98a72e6-18ab-4dab-bac4-3db605691bca","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2020-08-30T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"timestamp","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":"__SUM__","needRollup":"NeedRollup","fillMissingPointType":"SmartFilling","fillMissingPointValue":0.0,"rollUpMethod":"Sum","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["kaghiya@microsoft.com","krpratic@microsoft.com","savaity@microsoft.com","anuchan@microsoft.com","xiangyan@microsoft.com","yumeng@microsoft.com","camaiaor@microsoft.com","chriss@microsoft.com","elraikhm@microsoft.com"],"viewers":[],"creator":"kaghiya@microsoft.com","status":"Active","createdTime":"2020-10-05T18:56:43Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"connectionString":"connectionstring;","query":"select
        * from adsample2 where Timestamp = @StartTime"}}],"@nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds?dataFeedName=azsqlDatafeed
version: 1
