interactions:
- request:
    body: '{"hookType": "Webhook", "hookName": "testwebhook4ae615cc", "description":
      "my web hook", "externalLink": "external link", "hookParameter": {"endpoint":
      "https://httpbin.org/post", "username": "krista", "password": "123"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/6d0f13df-36a9-43b3-8c2a-fc81563ece30
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/6d0f13df-36a9-43b3-8c2a-fc81563ece30
  response:
    body:
      string: '{"hookId":"6d0f13df-36a9-43b3-8c2a-fc81563ece30","hookName":"testwebhook4ae615cc","hookType":"Webhook","externalLink":"external
        link","description":"my web hook","admins":["f850650c-1fcf-4489-b46f-71af2e30d360"],"hookParameter":{"endpoint":"https://httpbin.org/post","username":"krista","password":"123","headers":{},"certificateKey":"","certificatePassword":""}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/6d0f13df-36a9-43b3-8c2a-fc81563ece30
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/6d0f13df-36a9-43b3-8c2a-fc81563ece30
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/6d0f13df-36a9-43b3-8c2a-fc81563ece30
version: 1
