interactions:
- request:
    body: '{"dataSourceType": "AzureDataLakeStorageGen2", "dataFeedName": "datalakeasync24lxnhehyxb9c7e16fb",
      "granularityName": "Daily", "metrics": [{"metricName": "cost", "metricDisplayName":
      "Cost"}, {"metricName": "revenue", "metricDisplayName": "Revenue"}], "dimension":
      [{"dimensionName": "category", "dimensionDisplayName": "Category"}, {"dimensionName":
      "city", "dimensionDisplayName": "City"}], "dataStartFrom": "2019-01-01T00:00:00.000Z",
      "startOffsetInSeconds": 0, "maxConcurrency": -1, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter": {"accountName": "adsampledatalakegen2",
      "accountKey": "connectionstring", "fileSystemName": "adsample", "directoryTemplate":
      "%Y/%m/%d", "fileTemplate": "adsample.json"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1e51064d-81ae-4042-94f3-db24d937d003
    status:
      code: 201
      message: Created
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1e51064d-81ae-4042-94f3-db24d937d003
  response:
    body:
      string: '{"dataFeedId":"1e51064d-81ae-4042-94f3-db24d937d003","dataFeedName":"datalakeasync24lxnhehyxb9c7e16fb","metrics":[{"metricId":"a8ccb8f3-39ac-4f4d-a253-56615c48afff","metricName":"cost","metricDisplayName":"Cost","metricDescription":""},{"metricId":"8cf6e68c-2312-4e3c-a09c-f42da5ba1dcc","metricName":"revenue","metricDisplayName":"Revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"Category"},{"dimensionName":"city","dimensionDisplayName":"City"}],"dataStartFrom":"2019-01-01T00:00:00Z","dataSourceType":"AzureDataLakeStorageGen2","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-10-13T16:36:06Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"fileTemplate":"adsample.json","accountName":"adsampledatalakegen2","directoryTemplate":"%Y/%m/%d","fileSystemName":"adsample","accountKey":"connectionstring"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/1e51064d-81ae-4042-94f3-db24d937d003
- request:
    body: null
    headers:
    method: DELETE
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1e51064d-81ae-4042-94f3-db24d937d003
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/1e51064d-81ae-4042-94f3-db24d937d003
version: 1
