interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "testfeedasyncsgywcvn5qiye49a2006",
      "dataFeedDescription": "my first data feed", "granularityName": "Custom", "granularityAmount":
      20, "metrics": [{"metricName": "cost", "metricDisplayName": "display cost",
      "metricDescription": "the cost"}, {"metricName": "revenue", "metricDisplayName":
      "display revenue", "metricDescription": "the revenue"}], "dimension": [{"dimensionName":
      "category", "dimensionDisplayName": "display category"}, {"dimensionName": "city",
      "dimensionDisplayName": "display city"}], "timestampColumn": "Timestamp", "dataStartFrom":
      "2019-10-01T00:00:00.000Z", "startOffsetInSeconds": -1, "maxConcurrency": 0,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "needRollup":
      "AlreadyRollup", "rollUpMethod": "Sum", "allUpIdentification": "sumrollup",
      "fillMissingPointType": "CustomValue", "fillMissingPointValue": 10.0, "viewMode":
      "Private", "admins": ["yournamehere@microsoft.com"], "viewers": ["viewers"],
      "actionLinkTemplate": "action link template", "dataSourceParameter": {"connectionString":
      "connectionstring", "query": "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/35c3dd25-0e6a-4b48-bbf1-b387b31cfc3f
    status:
      code: 201
      message: Created
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/35c3dd25-0e6a-4b48-bbf1-b387b31cfc3f
  response:
    body:
      string: "{\"dataFeedId\":\"35c3dd25-0e6a-4b48-bbf1-b387b31cfc3f\",\"dataFeedName\":\"testfeedasyncsgywcvn5qiye49a2006\",\"metrics\":[{\"metricId\":\"4a48496b-ac31-4c39-bb9b-07d8b85f82c1\",\"metricName\":\"cost\",\"metricDisplayName\":\"display
        cost\",\"metricDescription\":\"the cost\"},{\"metricId\":\"540c58f8-fc14-41b6-b2ae-c07fe0e4448b\",\"metricName\":\"revenue\",\"metricDisplayName\":\"display
        revenue\",\"metricDescription\":\"the revenue\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"display
        category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"display
        city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"Timestamp\",\"startOffsetInSeconds\":-1,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Custom\",\"granularityAmount\":20,\"allUpIdentification\":\"sumrollup\",\"needRollup\":\"AlreadyRollup\",\"fillMissingPointType\":\"CustomValue\",\"fillMissingPointValue\":10.0,\"rollUpMethod\":\"Sum\",\"rollUpColumns\":[],\"dataFeedDescription\":\"my
        first data feed\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":0,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\",\"yournamehere@microsoft.com\"],\"viewers\":[\"viewers\"],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\",\"createdTime\":\"2020-10-13T16:35:54Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"action
        link template\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/35c3dd25-0e6a-4b48-bbf1-b387b31cfc3f
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/35c3dd25-0e6a-4b48-bbf1-b387b31cfc3f
  response:
    body:
      string: '{"code":"ERROR_INVALID_PARAMETER","message":"datafeedId is invalid."}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/35c3dd25-0e6a-4b48-bbf1-b387b31cfc3f
version: 1
