interactions:
- request:
    body: '{"dataSourceType": "MongoDB", "dataFeedName": "mongodbasync861616aa", "granularityName":
      "Daily", "metrics": [{"metricName": "cost"}, {"metricName": "revenue"}], "dimension":
      [{"dimensionName": "category"}, {"dimensionName": "city"}], "dataStartFrom":
      "2019-01-01T00:00:00.000Z", "startOffsetInSeconds": 0, "maxConcurrency": -1,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter":
      {"connectionString": "connectionstring", "database": "adsample", "command":
      "{\"find\": \"adsample\", \"filter\": { Timestamp: { $eq: @StartTime }} \"batchSize\":
      2000,}"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/fb5a566d-e298-4423-bf8c-c2fff5b3358a
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/fb5a566d-e298-4423-bf8c-c2fff5b3358a
  response:
    body:
      string: '{"dataFeedId":"fb5a566d-e298-4423-bf8c-c2fff5b3358a","dataFeedName":"mongodbasync861616aa","metrics":[{"metricId":"36cec636-0c8a-463d-92dc-5e2602d65a62","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"b2f8b77c-c14a-4b7d-b508-824bec15f8d9","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-01-01T00:00:00Z","dataSourceType":"MongoDB","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2021-05-21T21:21:19Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"database":"adsample","command":"{\"find\":
        \"adsample\", \"filter\": { Timestamp: { $eq: @StartTime }} \"batchSize\":
        2000,}"},"authenticationType":"Basic"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/fb5a566d-e298-4423-bf8c-c2fff5b3358a
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/fb5a566d-e298-4423-bf8c-c2fff5b3358a
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/fb5a566d-e298-4423-bf8c-c2fff5b3358a
version: 1
