interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "topnupd7vtzttl3rqvxd5kuz",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/9a362a27-f0ba-44e8-801a-38a693bed30e
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/9a362a27-f0ba-44e8-801a-38a693bed30e
  response:
    body:
      string: "{\"dataFeedId\":\"9a362a27-f0ba-44e8-801a-38a693bed30e\",\"dataFeedName\":\"topnupd7vtzttl3rqvxd5kuz\",\"metrics\":[{\"metricId\":\"8b9f1764-364b-4206-9840-7029c6352a9e\",\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\":\"\"},{\"metricId\":\"87036093-c5fe-4ad4-9e20-8e811cb1ca18\",\"metricName\":\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\":null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\":[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"f850650c-1fcf-4489-b46f-71af2e30d360\"],\"viewers\":[],\"creator\":\"f850650c-1fcf-4489-b46f-71af2e30d360\",\"status\":\"Active\",\"createdTime\":\"2021-01-22T01:04:17Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/9a362a27-f0ba-44e8-801a-38a693bed30e
- request:
    body: '{"name": "topnupepclz2pnq3d2lgvm53", "description": "testing", "metricId":
      "8b9f1764-364b-4206-9840-7029c6352a9e", "wholeMetricConfiguration": {"smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 50, "minRatio": 50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/4f65e700-2233-4bc4-ac55-e91b82773725
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/4f65e700-2233-4bc4-ac55-e91b82773725
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"4f65e700-2233-4bc4-ac55-e91b82773725","name":"topnupepclz2pnq3d2lgvm53","description":"testing","metricId":"8b9f1764-364b-4206-9840-7029c6352a9e","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/4f65e700-2233-4bc4-ac55-e91b82773725
- request:
    body: '{"name": "testalertb0e02284", "hookIds": [], "metricAlertingConfigurations":
      [{"anomalyDetectionConfigurationId": "4f65e700-2233-4bc4-ac55-e91b82773725",
      "anomalyScopeType": "All", "severityFilter": {"minAlertSeverity": "Low", "maxAlertSeverity":
      "High"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/63e64cef-a41b-4752-b66f-08913f44dae8
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/63e64cef-a41b-4752-b66f-08913f44dae8
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"63e64cef-a41b-4752-b66f-08913f44dae8","name":"testalertb0e02284","description":"","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"4f65e700-2233-4bc4-ac55-e91b82773725","anomalyScopeType":"All","negationOperation":false,"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/63e64cef-a41b-4752-b66f-08913f44dae8
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/63e64cef-a41b-4752-b66f-08913f44dae8
  response:
    body:
      string: '{"code":"Not Found","message":"Not found this AnomalyAlertingConfiguration.
        TraceId: 80bc09f1-dcc9-4772-9ad1-597b8a414520"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/63e64cef-a41b-4752-b66f-08913f44dae8
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/9a362a27-f0ba-44e8-801a-38a693bed30e
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/9a362a27-f0ba-44e8-801a-38a693bed30e
version: 1
