interactions:
- request:
    body: '{"startTime": "2020-01-01T00:00:00.000Z", "endTime": "2020-10-21T00:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/metric_id/status/enrichment/anomalyDetection/query
  response:
    body:
      string: '{"value":[{"timestamp":"2020-10-12T00:00:00Z","status":"Succeeded","message":"{\"UpdateTime\":\"2020-10-26T17:47:55.076Z\",\"CreateTime\":\"2020-10-26T17:47:55.076Z\"}"},{"timestamp":"2020-10-15T00:00:00Z","status":"Succeeded","message":"{\"UpdateTime\":\"2020-10-26T17:47:55.076Z\",\"CreateTime\":\"2020-10-26T17:47:55.076Z\"}"},{"timestamp":"2020-10-17T00:00:00Z","status":"Succeeded","message":"{\"UpdateTime\":\"2020-10-26T17:47:55.076Z\",\"CreateTime\":\"2020-10-26T17:47:55.076Z\"}"},{"timestamp":"2020-10-16T00:00:00Z","status":"Succeeded","message":"{\"UpdateTime\":\"2020-10-26T17:47:55.076Z\",\"CreateTime\":\"2020-10-26T17:47:5[...]
