interactions:
- request:
    body: '{"dataSourceCredentialType": "AzureSQLConnectionString", "dataSourceCredentialName":
      "testsqlcredential98681f0a", "dataSourceCredentialDescription": "my credential",
      "parameters": {"connectionString": "connectionstring"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/813796b0-9b54-49b1-9897-ba1df3e289a2
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/credentials
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/813796b0-9b54-49b1-9897-ba1df3e289a2
  response:
    body:
      string: '{"dataSourceCredentialId":"813796b0-9b54-49b1-9897-ba1df3e289a2","dataSourceCredentialName":"testsqlcredential98681f0a","dataSourceCredentialDescription":"my
        credential","dataSourceCredentialType":"AzureSQLConnectionString","parameters":{}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/credentials/813796b0-9b54-49b1-9897-ba1df3e289a2
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/813796b0-9b54-49b1-9897-ba1df3e289a2
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/credentials/813796b0-9b54-49b1-9897-ba1df3e289a2
version: 1
