interactions:
- request:
    body: '{"metricId": "metric_id"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/query
  response:
    body:
      string: '{"value":[{"feedbackId":"feedback_id","createdTime":"2020-09-22T00:24:18.629Z","userPrincipal":"xiangyan@microsoft.com","metricId":"metric_id","dimensionFilter":{"dimension":{"dimension_name":"Common
        Lime","Dim2":"Amphibian"}},"feedbackType":"Anomaly","startTime":"2020-08-30T00:00:00Z","endTime":"2020-08-30T00:00:00Z","value":{"anomalyValue":"NotAnomaly"},"anomalyDetectionConfigurationId":"2fe9e687-4c9e-4e1b-8ec8-6541553db969","anomalyDetectionConfigurationSnapshot":{"anomalyDetectionConfigurationId":"2fe9e687-4c9e-4e1b-8ec8-6541553db969","name":"new
        Name","description":"new description","metricId":"metric_id","wholeMetricConfiguration":{"conditionOperator":"OR","hardThresholdCondition":{"upperBound":500.0,"anomalyDetectorDirection":"Up","suppressCondition":{"minAlertNumber":5,"minAlertRatio":5.0}},"changeThresholdCondition":{"changePercentage":44.0,"shiftPoint":2,"anomalyDetectorDirection":"Both","withinRange":true,"suppressCondition":{"minAlertNumber":4,"minAlertRatio":4.0}}},"dimensionGroupOverrideConfigurations":[{"group":{"seriesGroupConfigurationId":"51242ee0b8c72df4e537ffdfe0e8af69","tagSet":{"dimension_name":"Common
        Lime"}},"conditionOperator":"AND","hardThresholdCondition":{"upperBound":400.0,"anomalyDetectorDirection":"Up","suppressCondition":{"minAlertNumber":2,"minAlertRatio":2.0}}}],"seriesOverrideConfigurations":[{"series":{"seriesConfigurationId":"54bdef99c03c71c764fd3ea671cd1260","tagSet":{"dimension_name":"Common
        Beech","Dim2":"Ant"}},"conditionOperator":"OR","changeThresholdCondition":{"changePercentage":33.0,"shiftPoint":1,"anomalyDetectorDirection":"Both","withinRange":true,"suppressCondition":{"minAlertNumber":2,"minAlertRatio":2.0}}}],"favoriteSeries":[],"disabledSeries":[]}}],"@nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/query
version: 1
