interactions:
- request:
    body: '{"feedbackType": "Period", "metricId": "metric_id", "dimensionFilter":
      {"dimension": {"dimension_name": "Los Angeles"}}, "value": {"periodType": "AssignValue",
      "periodValue": 2}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/88139c25-5ba4-47d7-acb0-4664f2eed128
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/feedback/metric
version: 1
