interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: '{"value":[{"dataFeedId":"data_feed_id","dataFeedName":"azureSqlDatafeed","metrics":[{"metricId":"metric_id","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"4ab1295e-c85d-40b2-97f5-24f5087dd010","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"region","dimensionDisplayName":"region"}],"dataStartFrom":"2020-08-30T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"timestamp","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","allUpIdentification":"__SUM__","needRollup":"NeedRollup","fillMissingPointType":"SmartFilling","fillMissingPointValue":0.0,"rollUpMethod":"Sum","dataFeedDescription":"This
        description was generated by a sample.","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["xiangyan@microsoft.com","savaity@microsoft.com","kaghiya@microsoft.com","krpratic@microsoft.com","anuchan@microsoft.com","yumeng@microsoft.com","camaiaor@microsoft.com","chriss@microsoft.com","elraikhm@microsoft.com","f850650c-1fcf-4489-b46f-71af2e30d360"],"viewers":[],"creator":"savaity@microsoft.com","status":"Active","createdTime":"2021-09-07T22:29:43Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"query":"SELECT
        @IntervalStart as timestamp, region, category, revenue, cost FROM MASampleRevenueCost
        WHERE timestamp >= @IntervalStart and timestamp < @IntervalEnd"},"authenticationType":"Basic"}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
version: 1
