interactions:
- request:
    body: '{"startTime": "2020-01-01T00:00:00.000Z", "endTime": "2020-10-21T00:00:00.000Z",
      "series": [{"dimension_name": "Los Angeles", "category": "Homemade"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/metric_id/data/query
  response:
    body:
      string: '{"value":[{"id":{"metricId":"metric_id","dimension":{"dimension_name":"Los
        Angeles","category":"Homemade"}},"timestampList":[],"valueList":[]}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/metrics/27e3015f-04fd-44ba-a20b-bc529a0aebae/data/query
version: 1
