interactions:
- request:
    body: '{"activeSince": "2020-01-01T00:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/metric_id/series/query
  response:
    body:
      string: '{"value":[{"metricId":"metric_id","dimension":{"dimension_name":"Karachi","category":"Shoes
        Handbags & Sunglasses"}},{"metricId":"metric_id","dimension":{"dimension_name":"Los
        Angeles","category":"Shoes Handbags & Sunglasses"}},{"metricId":"metric_id","dimension":{"dimension_name":"Delhi","category":"Shoes
        Handbags & Sunglasses"}},{"metricId":"metric_id","dimension":{"dimension_name":"Manila","category":"Shoes
        Handbags & Sunglasses"}},{"metricId":"metric_id","dimension":{"dimension_name":"Mumbai","category":"Shoes
        Handbags & Sunglasses"}},[...]
- request:
    body: '{"activeSince": "2020-01-01T00:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/metrics/metric_id/series/query?$top=20&$skip=20
  response:
    body:
      string: '{"value":[{"metricId":"metric_id","dimension":{"dimension_name":"Santiago","category":"Shoes
        Handbags & Sunglasses"}},{"metricId":"metric_id","dimension":{"dimension_name":"Mosc[...]
[...]
