interactions:
- request:
    body: '{"dataSourceType": "HttpRequest", "dataFeedName": "httpgetasyncirajzpqxdcqa66241a8b",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"url": "connectionstring", "httpMethod": "GET"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/561ca45e-6e3c-4712-a577-35d4ddced00a
    status:
      code: 201
      message: Created
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/561ca45e-6e3c-4712-a577-35d4ddced00a
  response:
    body:
      string: '{"dataFeedId":"561ca45e-6e3c-4712-a577-35d4ddced00a","dataFeedName":"httpgetasyncirajzpqxdcqa66241a8b","metrics":[{"metricId":"c2eb04a0-a5c2-441e-a65f-e5408d4619a3","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"16a90cec-d882-4524-877b-512894d03637","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"HttpRequest","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-10-13T16:36:10Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"httpMethod":"GET","url":"connectionstring"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/561ca45e-6e3c-4712-a577-35d4ddced00a
- request:
    body: null
    headers:
    method: DELETE
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/561ca45e-6e3c-4712-a577-35d4ddced00a
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/561ca45e-6e3c-4712-a577-35d4ddced00a
version: 1
