interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "updatedetection3471210e",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "timestampColumn": "Timestamp", "dataStartFrom": "2019-10-01T00:00:00.000Z",
      "startOffsetInSeconds": 0, "maxConcurrency": -1, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter": {"connectionString":
      "connectionstring", "query": "select * from adsample2 where Timestamp = @StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1e1da8a5-8136-4bb9-989c-81baccbdcfb8
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1e1da8a5-8136-4bb9-989c-81baccbdcfb8
  response:
    body:
      string: '{"dataFeedId":"1e1da8a5-8136-4bb9-989c-81baccbdcfb8","dataFeedName":"updatedetection3471210e","metrics":[{"metricId":"d55aa96d-f2e1-491d-87bc-9597605c065f","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"d7a9579c-4d24-41bd-884a-04a3ed621c4b","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"Timestamp","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-10-26T17:47:42Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"connectionString":"connectionstring","query":"select
        * from adsample2 where Timestamp = @StartTime"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/1e1da8a5-8136-4bb9-989c-81baccbdcfb8
- request:
    body: '{"name": "testupdated3471210e", "description": "My test metric anomaly
      detection configuration", "metricId": "d55aa96d-f2e1-491d-87bc-9597605c065f",
      "wholeMetricConfiguration": {"conditionOperator": "AND", "smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 50, "minRatio": 50.0}}, "hardThresholdCondition": {"lowerBound":
      0.0, "upperBound": 100.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 5, "minRatio": 5.0}}, "changeThresholdCondition": {"changePercentage":
      50.0, "shiftPoint": 30, "withinRange": true, "anomalyDetectorDirection": "Both",
      "suppressCondition": {"minNumber": 2, "minRatio": 2.0}}}, "dimensionGroupOverrideConfigurations":
      [{"group": {"dimension": {"city": "Sao Paulo"}}, "smartDetectionCondition":
      {"sensitivity": 63.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 1, "minRatio": 100.0}}}], "seriesOverrideConfigurations": [{"series":
      {"dimension": {"city": "Shenzhen", "category": "Jewelry"}}, "smartDetectionCondition":
      {"sensitivity": 63.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 1, "minRatio": 100.0}}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/4aa28d0e-d811-4797-b2e1-26d8ebdc48d8
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/4aa28d0e-d811-4797-b2e1-26d8ebdc48d8
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"4aa28d0e-d811-4797-b2e1-26d8ebdc48d8","name":"testupdated3471210e","description":"My
        test metric anomaly detection configuration","metricId":"d55aa96d-f2e1-491d-87bc-9597605c065f","wholeMetricConfiguration":{"conditionOperator":"AND","smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}},"hardThresholdCondition":{"lowerBound":0.0,"upperBound":100.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":5,"minRatio":5.0}},"changeThresholdCondition":{"changePercentage":50.0,"shiftPoint":30,"anomalyDetectorDirection":"Both","withinRange":true,"suppressCondition":{"minNumber":2,"minRatio":2.0}}},"dimensionGroupOverrideConfigurations":[{"group":{"dimension":{"city":"Sao
        Paulo"}},"smartDetectionCondition":{"sensitivity":63.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":1,"minRatio":100.0}}}],"seriesOverrideConfigurations":[{"series":{"dimension":{"city":"Shenzhen","category":"Jewelry"}},"smartDetectionCondition":{"sensitivity":63.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":1,"minRatio":100.0}}}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/4aa28d0e-d811-4797-b2e1-26d8ebdc48d8
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1e1da8a5-8136-4bb9-989c-81baccbdcfb8
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/1e1da8a5-8136-4bb9-989c-81baccbdcfb8
version: 1
