interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "wholeseries71b321ad",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "timestampColumn": "Timestamp", "dataStartFrom": "2019-10-01T00:00:00.000Z",
      "startOffsetInSeconds": 0, "maxConcurrency": -1, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter": {"connectionString":
      "connectionstring", "query": "select * from adsample2 where Timestamp = @StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/2d376833-f6e1-4aa0-a5fc-e3c679a93e4b
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/2d376833-f6e1-4aa0-a5fc-e3c679a93e4b
  response:
    body:
      string: '{"dataFeedId":"2d376833-f6e1-4aa0-a5fc-e3c679a93e4b","dataFeedName":"wholeseries71b321ad","metrics":[{"metricId":"61d9ad35-c1b7-4c36-bc87-c67dbb5d3ee1","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"ddbe3195-b101-4b4d-8e63-318fbaa484df","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"Timestamp","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-10-26T17:45:08Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"connectionString":"connectionstring","query":"select
        * from adsample2 where Timestamp = @StartTime"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/2d376833-f6e1-4aa0-a5fc-e3c679a93e4b
- request:
    body: '{"name": "wholeseries71b321ad", "description": "testing", "metricId": "61d9ad35-c1b7-4c36-bc87-c67dbb5d3ee1",
      "wholeMetricConfiguration": {"smartDetectionCondition": {"sensitivity": 50.0,
      "anomalyDetectorDirection": "Both", "suppressCondition": {"minNumber": 50, "minRatio":
      50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/2c063bce-2eb5-459e-90c2-f0f37aeb9151
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/2c063bce-2eb5-459e-90c2-f0f37aeb9151
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"2c063bce-2eb5-459e-90c2-f0f37aeb9151","name":"wholeseries71b321ad","description":"testing","metricId":"61d9ad35-c1b7-4c36-bc87-c67dbb5d3ee1","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/2c063bce-2eb5-459e-90c2-f0f37aeb9151
- request:
    body: '{"name": "testalert71b321ad", "hookIds": [], "metricAlertingConfigurations":
      [{"anomalyDetectionConfigurationId": "2c063bce-2eb5-459e-90c2-f0f37aeb9151",
      "anomalyScopeType": "All", "valueFilter": {"lower": 1.0, "direction": "Down",
      "metricId": "61d9ad35-c1b7-4c36-bc87-c67dbb5d3ee1"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/20e28c9b-97cc-4c3f-b3a1-9141f81ad810
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/20e28c9b-97cc-4c3f-b3a1-9141f81ad810
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"20e28c9b-97cc-4c3f-b3a1-9141f81ad810","name":"testalert71b321ad","description":"","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"2c063bce-2eb5-459e-90c2-f0f37aeb9151","anomalyScopeType":"All","negationOperation":false,"valueFilter":{"lower":1.0,"direction":"Down","metricId":"61d9ad35-c1b7-4c36-bc87-c67dbb5d3ee1","triggerForMissing":false}}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/20e28c9b-97cc-4c3f-b3a1-9141f81ad810
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/20e28c9b-97cc-4c3f-b3a1-9141f81ad810
  response:
    body:
      string: '{"code":"Not Found","message":"Not found this AnomalyAlertingConfiguration.
        TraceId: 03a17854-cee9-4a82-98db-bfcb95a574ad"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/20e28c9b-97cc-4c3f-b3a1-9141f81ad810
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/2d376833-f6e1-4aa0-a5fc-e3c679a93e4b
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/2d376833-f6e1-4aa0-a5fc-e3c679a93e4b
version: 1
