interactions:
- request:
    body: '{"dataSourceType": "AzureApplicationInsights", "dataFeedName": "appinsightsasyncbmmelq7kd2561c20",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2020-07-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"azureCloud": "Azure", "applicationId": "3706fe8b-98f1-47c7-bf69-b73b6e53274d",
      "apiKey": "connectionstring", "query": "let gran=60m; let starttime=datetime(@StartTime);
      let endtime=starttime + gran; requests |\u202fwhere\u202ftimestamp\u202f>=\u202fstarttime\u202fand\u202ftimestamp\u202f<\u202fendtime
      |\u202fsummarize\u202frequest_count\u202f=\u202fcount(),\u202fduration_avg_ms\u202f=\u202favg(duration),\u202fduration_95th_ms\u202f=\u202fpercentile(duration,\u202f95),\u202fduration_max_ms\u202f=\u202fmax(duration)\u202fby\u202fresultCode"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b7d35b41-cf40-4e15-9a07-3495806923ec
    status:
      code: 201
      message: Created
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b7d35b41-cf40-4e15-9a07-3495806923ec
  response:
    body:
      string: "{\"dataFeedId\":\"b7d35b41-cf40-4e15-9a07-3495806923ec\",\"dataFeedName\":\"appinsightsasyncbmmelq7kd2561c20\",\"metrics\":[{\"metricId\":\"4e956c96-c59c-4f68-88b8-a54c15f172be\",\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\":\"\"},{\"metricId\":\"ba4fa275-8d7a-4972-af99-5ec1227bf887\",\"metricName\":\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"}],\"dataStartFrom\":\"2020-07-01T00:00:00Z\",\"dataSourceType\":\"AzureApplicationInsights\",\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\":null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\":[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\"],\"viewers\":[],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\",\"createdTime\":\"2020-10-13T16:35:56Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"\",\"dataSourceParameter\":{\"apiKey\":\"connectionstring\",\"query\":\"let
        gran=60m; let starttime=datetime(@StartTime); let endtime=starttime + gran;
        requests |\u202Fwhere\u202Ftimestamp\u202F>=\u202Fstarttime\u202Fand\u202Ftimestamp\u202F<\u202Fendtime
        |\u202Fsummarize\u202Frequest_count\u202F=\u202Fcount(),\u202Fduration_avg_ms\u202F=\u202Favg(duration),\u202Fduration_95th_ms\u202F=\u202Fpercentile(duration,\u202F95),\u202Fduration_max_ms\u202F=\u202Fmax(duration)\u202Fby\u202FresultCode\",\"azureCloud\":\"Azure\",\"applicationId\":\"3706fe8b-98f1-47c7-bf69-b73b6e53274d\"}}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/b7d35b41-cf40-4e15-9a07-3495806923ec
- request:
    body: null
    headers:
    method: DELETE
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/b7d35b41-cf40-4e15-9a07-3495806923ec
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/b7d35b41-cf40-4e15-9a07-3495806923ec
version: 1
