interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "alertupdateqe3u7lo7j3ddo",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/072a5c85-a8e3-458a-b23f-141beed86a01
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/072a5c85-a8e3-458a-b23f-141beed86a01
  response:
    body:
      string: "{\"dataFeedId\":\"072a5c85-a8e3-458a-b23f-141beed86a01\",\"dataFeedName\":\"alertupdateqe3u7lo7j3ddo\",\"metrics\":[{\"metricId\":\"48824b42-9d30-4732-af9e-5b566a1b5dfe\",\"metricName\":\"cost\",\"metricDisplayName\":\"cost\",\"metricDescription\":\"\"},{\"metricId\":\"9ed610dc-07f8-4db8-814c-7bd6f9f505aa\",\"metricName\":\"revenue\",\"metricDisplayName\":\"revenue\",\"metricDescription\":\"\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"\",\"startOffsetInSeconds\":0,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\":null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"PreviousValue\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\":[],\"dataFeedDescription\":\"\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":-1,\"viewMode\":\"Private\",\"admins\":[\"f850650c-1fcf-4489-b46f-71af2e30d360\"],\"viewers\":[],\"creator\":\"f850650c-1fcf-4489-b46f-71af2e30d360\",\"status\":\"Active\",\"createdTime\":\"2020-12-26T19:36:41Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/072a5c85-a8e3-458a-b23f-141beed86a01
- request:
    body: '{"name": "alertupdateeb2ocngwdj5ct", "description": "testing", "metricId":
      "48824b42-9d30-4732-af9e-5b566a1b5dfe", "wholeMetricConfiguration": {"smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 50, "minRatio": 50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/b8b9b855-8118-44ae-9cb4-61ffb49bb35b
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/b8b9b855-8118-44ae-9cb4-61ffb49bb35b
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"b8b9b855-8118-44ae-9cb4-61ffb49bb35b","name":"alertupdateeb2ocngwdj5ct","description":"testing","metricId":"48824b42-9d30-4732-af9e-5b566a1b5dfe","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/b8b9b855-8118-44ae-9cb4-61ffb49bb35b
- request:
    body: '{"name": "alertupdatekhxqk5ddqflgp", "crossMetricsOperator": "AND", "hookIds":
      [], "metricAlertingConfigurations": [{"anomalyDetectionConfigurationId": "b8b9b855-8118-44ae-9cb4-61ffb49bb35b",
      "anomalyScopeType": "TopN", "topNAnomalyScope": {"top": 5, "period": 10, "minTopCount":
      9}, "valueFilter": {"lower": 1.0, "upper": 5.0, "direction": "Both", "metricId":
      "48824b42-9d30-4732-af9e-5b566a1b5dfe"}}, {"anomalyDetectionConfigurationId":
      "b8b9b855-8118-44ae-9cb4-61ffb49bb35b", "anomalyScopeType": "Dimension", "dimensionAnomalyScope":
      {"dimension": {"city": "Shenzhen"}}, "severityFilter": {"minAlertSeverity":
      "Low", "maxAlertSeverity": "High"}}, {"anomalyDetectionConfigurationId": "b8b9b855-8118-44ae-9cb4-61ffb49bb35b",
      "anomalyScopeType": "All", "severityFilter": {"minAlertSeverity": "Low", "maxAlertSeverity":
      "High"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/99960e16-accc-4655-9eb2-300417dc81f1
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/99960e16-accc-4655-9eb2-300417dc81f1
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"99960e16-accc-4655-9eb2-300417dc81f1","name":"alertupdatekhxqk5ddqflgp","description":"","crossMetricsOperator":"AND","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"b8b9b855-8118-44ae-9cb4-61ffb49bb35b","anomalyScopeType":"TopN","negationOperation":false,"topNAnomalyScope":{"top":5,"period":10,"minTopCount":9},"valueFilter":{"lower":1.0,"upper":5.0,"direction":"Both","metricId":"48824b42-9d30-4732-af9e-5b566a1b5dfe","triggerForMissing":false}},{"anomalyDetectionConfigurationId":"b8b9b855-8118-44ae-9cb4-61ffb49bb35b","anomalyScopeType":"Dimension","negationOperation":false,"dimensionAnomalyScope":{"dimension":{"city":"Shenzhen"}},"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}},{"anomalyDetectionConfigurationId":"b8b9b855-8118-44ae-9cb4-61ffb49bb35b","anomalyScopeType":"All","negationOperation":false,"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/99960e16-accc-4655-9eb2-300417dc81f1
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/072a5c85-a8e3-458a-b23f-141beed86a01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/072a5c85-a8e3-458a-b23f-141beed86a01
version: 1
