interactions:
- request:
    body: '{"feedbackType": "Comment", "metricId": "metric_id", "dimensionFilter":
      {"dimension": {"dimension_name": "Common Lime"}}, "startTime": "2020-08-05T00:00:00.000Z",
      "endTime": "2020-08-07T00:00:00.000Z", "value": {"commentValue": "comment"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/6b0b14c2-33a2-4a1e-8f80-d9fd2f8d5a74
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/feedback/metric
version: 1
