interactions:
- request:
    body: '{"startTime": "2021-01-01T00:00:00.000Z", "endTime": "2021-09-09T00:00:00.000Z",
      "series": [{"dimension_name": "Los Angeles", "category": "Homemade"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/metric_id/data/query
  response:
    body:
      string: '{"value":[{"id":{"metricId":"metric_id","dimension":{"category":"Homemade","dimension_name":"Los
        Angeles"}},"timestampList":[],"valueList":[]}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/metrics/390d1139-98fb-45af-b831-8d5ad61b150a/data/query
version: 1
