interactions:
- request:
    body: '{"dataSourceCredentialType": "AzureSQLConnectionString", "dataSourceCredentialName":
      "testsqlcredential7ded21f6", "dataSourceCredentialDescription": "my credential
      entity", "parameters": {"connectionString": "connectionstring"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/2f06a2ec-1f2b-499e-98e8-1d87b075f781
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/credentials
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/2f06a2ec-1f2b-499e-98e8-1d87b075f781
  response:
    body:
      string: '{"dataSourceCredentialId":"2f06a2ec-1f2b-499e-98e8-1d87b075f781","dataSourceCredentialName":"testsqlcredential7ded21f6","dataSourceCredentialDescription":"my
        credential entity","dataSourceCredentialType":"AzureSQLConnectionString","parameters":{}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/credentials/2f06a2ec-1f2b-499e-98e8-1d87b075f781
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/2f06a2ec-1f2b-499e-98e8-1d87b075f781
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/credentials/2f06a2ec-1f2b-499e-98e8-1d87b075f781
version: 1
