interactions:
- request:
    body: '{"hookType": "Webhook", "hookName": "testwebhookasync226a0f2f", "description":
      "my web hook", "externalLink": "external link", "hookParameter": {"endpoint":
      "https://httpbin.org/post"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/4027080d-91cd-4af4-88c1-4330e77a92b6
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/4027080d-91cd-4af4-88c1-4330e77a92b6
  response:
    body:
      string: '{"hookId":"4027080d-91cd-4af4-88c1-4330e77a92b6","hookName":"testwebhookasync226a0f2f","hookType":"Webhook","externalLink":"external
        link","description":"my web hook","admins":["krpratic@microsoft.com"],"hookParameter":{"endpoint":"https://httpbin.org/post","username":"","password":"","headers":{},"certificateKey":"","certificatePassword":""}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/4027080d-91cd-4af4-88c1-4330e77a92b6
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/4027080d-91cd-4af4-88c1-4330e77a92b6
  response:
    body:
      string: '{"code":"ERROR_INVALID_PARAMETER","message":"hookId is invalid."}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/4027080d-91cd-4af4-88c1-4330e77a92b6
version: 1
