interactions:
- request:
    body: '{"hookType": "Email", "hookName": "testhookl7cyi3w4omf6e35740a81a22", "description":
      "my email hook", "externalLink": "external link", "hookParameter": {"toList":
      ["yournamehere@microsoft.com"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/57f59d14-b85e-4859-9522-82384ad01adf
    status:
      code: 201
      message: Created
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/57f59d14-b85e-4859-9522-82384ad01adf
  response:
    body:
      string: '{"hookId":"57f59d14-b85e-4859-9522-82384ad01adf","hookName":"testhookl7cyi3w4omf6e35740a81a22","hookType":"Email","externalLink":"external
        link","description":"my email hook","admins":["krpratic@microsoft.com"],"hookParameter":{"toList":["yournamehere@microsoft.com"]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/57f59d14-b85e-4859-9522-82384ad01adf
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/57f59d14-b85e-4859-9522-82384ad01adf
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/57f59d14-b85e-4859-9522-82384ad01adf
version: 1
