interactions:
- request:
    body: '{"dataSourceType": "AzureApplicationInsights", "dataFeedName": "applicationinsightsasync40b81da5",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2021-07-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "viewMode": "Private", "authenticationType": "Basic", "dataSourceParameter":
      {"azureCloud": "Azure", "applicationId": "3706fe8b-98f1-47c7-bf69-b73b6e53274d",
      "apiKey": "connectionstring", "query": "let gran=60m; let starttime=datetime(@StartTime);
      let endtime=starttime + gran; requests | where timestamp >= starttime and timestamp
      < endtime | summarize request_count = count(), duration_avg_ms = avg(duration),
      duration_95th_ms = percentile(duration, 95), duration_max_ms = max(duration)
      by resultCode"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/23f801f5-18a9-43c3-8d34-7741c50cbd66
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/23f801f5-18a9-43c3-8d34-7741c50cbd66
  response:
    body:
      string: '{"dataFeedId":"23f801f5-18a9-43c3-8d34-7741c50cbd66","dataFeedName":"applicationinsightsasync40b81da5","metrics":[{"metricId":"dc412dc6-c6cc-4ebb-93e7-42a9558dc9dd","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"0ee24839-1fc7-482d-9433-dd577389887c","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2021-07-01T00:00:00Z","dataSourceType":"AzureApplicationInsights","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["f850650c-1fcf-4489-b46f-71af2e30d360"],"viewers":[],"creator":"f850650c-1fcf-4489-b46f-71af2e30d360","status":"Active","createdTime":"2021-09-29T19:41:11Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"query":"let
        gran=60m; let starttime=datetime(@StartTime); let endtime=starttime + gran;
        requests | where timestamp >= starttime and timestamp < endtime | summarize
        request_count = count(), duration_avg_ms = avg(duration), duration_95th_ms
        = percentile(duration, 95), duration_max_ms = max(duration) by resultCode","azureCloud":"Azure","applicationId":"3706fe8b-98f1-47c7-bf69-b73b6e53274d"},"authenticationType":"Basic"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/23f801f5-18a9-43c3-8d34-7741c50cbd66
- request:
    body: null
    headers:
    method: DELETE
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/23f801f5-18a9-43c3-8d34-7741c50cbd66
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/23f801f5-18a9-43c3-8d34-7741c50cbd66
version: 1
