interactions:
- request:
    body: '{"dataSourceType": "AzureDataLakeStorageGen2", "dataFeedName": "datalakeasync9c7e16fb",
      "granularityName": "Daily", "metrics": [{"metricName": "cost", "metricDisplayName":
      "Cost"}, {"metricName": "revenue", "metricDisplayName": "Revenue"}], "dimension":
      [{"dimensionName": "category", "dimensionDisplayName": "Category"}, {"dimensionName":
      "city", "dimensionDisplayName": "City"}], "dataStartFrom": "2019-01-01T00:00:00.000Z",
      "startOffsetInSeconds": 0, "maxConcurrency": -1, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "dataSourceParameter": {"accountName": "adsampledatalakegen2",
      "accountKey": "connectionstring", "fileSystemName": "adsample", "directoryTemplate":
      "%Y/%m/%d", "fileTemplate": "adsample.json"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/384014f2-e097-4e6c-9e5a-094c8e913bb0
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/384014f2-e097-4e6c-9e5a-094c8e913bb0
  response:
    body:
      string: '{"dataFeedId":"384014f2-e097-4e6c-9e5a-094c8e913bb0","dataFeedName":"datalakeasync9c7e16fb","metrics":[{"metricId":"ccb8a3c3-c51a-45de-9638-3a53d251284c","metricName":"cost","metricDisplayName":"Cost","metricDescription":""},{"metricId":"94fa0f81-b64f-417d-b810-a66f7006676c","metricName":"revenue","metricDisplayName":"Revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"Category"},{"dimensionName":"city","dimensionDisplayName":"City"}],"dataStartFrom":"2019-01-01T00:00:00Z","dataSourceType":"AzureDataLakeStorageGen2","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-12-26T19:38:50Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"fileTemplate":"adsample.json","accountName":"adsampledatalakegen2","directoryTemplate":"%Y/%m/%d","fileSystemName":"adsample","accountKey":"connectionstring"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/384014f2-e097-4e6c-9e5a-094c8e913bb0
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/384014f2-e097-4e6c-9e5a-094c8e913bb0
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/384014f2-e097-4e6c-9e5a-094c8e913bb0
version: 1
