interactions:
- request:
    body: '{"dataSourceCredentialType": "AzureSQLConnectionString", "dataSourceCredentialName":
      "testsqlcredentialf33b18c3", "dataSourceCredentialDescription": "my credential
      entity", "parameters": {"connectionString": "connectionstring"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/2b873791-2387-44c4-8b54-f267fb2cd4d0
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/credentials
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/2b873791-2387-44c4-8b54-f267fb2cd4d0
  response:
    body:
      string: '{"dataSourceCredentialId":"2b873791-2387-44c4-8b54-f267fb2cd4d0","dataSourceCredentialName":"testsqlcredentialf33b18c3","dataSourceCredentialDescription":"my
        credential entity","dataSourceCredentialType":"AzureSQLConnectionString","parameters":{}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/credentials/2b873791-2387-44c4-8b54-f267fb2cd4d0
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials
  response:
    body:
      string: '{"value":[{"dataSourceCredentialId":"2b873791-2387-44c4-8b54-f267fb2cd4d0","dataSourceCredentialName":"testsqlcredentialf33b18c3","dataSourceCredentialDescription":"my
        credential entity","dataSourceCredentialType":"AzureSQLConnectionString","parameters":{}}],"@nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/credentials
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/2b873791-2387-44c4-8b54-f267fb2cd4d0
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/credentials/2b873791-2387-44c4-8b54-f267fb2cd4d0
version: 1
