interactions:
- request:
    body: '{"hookType": "Webhook", "hookName": "testwebhookasync604610b4", "description":
      "my web hook", "externalLink": "external link", "hookParameter": {"endpoint":
      "https://httpbin.org/post"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/216d3c8d-8830-483f-bbc4-7140e6ebe4b1
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/216d3c8d-8830-483f-bbc4-7140e6ebe4b1
  response:
    body:
      string: '{"hookId":"216d3c8d-8830-483f-bbc4-7140e6ebe4b1","hookName":"testwebhookasync604610b4","hookType":"Webhook","externalLink":"external
        link","description":"my web hook","admins":["f850650c-1fcf-4489-b46f-71af2e30d360"],"hookParameter":{"endpoint":"https://httpbin.org/post","username":"","password":"","headers":{},"certificateKey":"","certificatePassword":""}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/216d3c8d-8830-483f-bbc4-7140e6ebe4b1
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/216d3c8d-8830-483f-bbc4-7140e6ebe4b1
  response:
    body:
      string: '{"code":"404 NOT_FOUND","message":"hookId is invalid."}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/216d3c8d-8830-483f-bbc4-7140e6ebe4b1
version: 1
