interactions:
- request:
    body: '{"hookType": "Webhook", "hookName": "testhooke691958", "description": "my
      web hook", "externalLink": "external link", "hookParameter": {"endpoint": "https://httpbin.org/post",
      "username": "krista", "password": "123"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/09ad8c3e-b26e-4ee2-a2e0-a25fcda45b10
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/09ad8c3e-b26e-4ee2-a2e0-a25fcda45b10
  response:
    body:
      string: '{"hookId":"09ad8c3e-b26e-4ee2-a2e0-a25fcda45b10","hookName":"testhooke691958","hookType":"Webhook","externalLink":"external
        link","description":"my web hook","admins":["krpratic@microsoft.com"],"hookParameter":{"endpoint":"https://httpbin.org/post","username":"krista","password":"123","headers":{},"certificateKey":"","certificatePassword":""}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/09ad8c3e-b26e-4ee2-a2e0-a25fcda45b10
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/09ad8c3e-b26e-4ee2-a2e0-a25fcda45b10
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/09ad8c3e-b26e-4ee2-a2e0-a25fcda45b10
version: 1
