interactions:
- request:
    body: '{"feedbackType": "Comment", "metricId": "metric_id", "dimensionFilter":
      {"dimension": {"category": "Shoes Handbags & Sunglasses"}}, "startTime": "2021-08-05T00:00:00.000Z",
      "endTime": "2021-09-09T00:00:00.000Z", "value": {"commentValue": "comment"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/37552a22-7722-4963-bb13-98f86b70d857
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/feedback/metric
version: 1
