interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "topnup312c20ff", "granularityName":
      "Daily", "metrics": [{"metricName": "cost"}, {"metricName": "revenue"}], "dimension":
      [{"dimensionName": "category"}, {"dimensionName": "city"}], "timestampColumn":
      "Timestamp", "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "select * from adsample2 where Timestamp = @StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d8f1e14d-a27f-4e85-8fb9-be84e2448f6d
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d8f1e14d-a27f-4e85-8fb9-be84e2448f6d
  response:
    body:
      string: '{"dataFeedId":"d8f1e14d-a27f-4e85-8fb9-be84e2448f6d","dataFeedName":"topnup312c20ff","metrics":[{"metricId":"e888b7e0-002d-4be6-abd3-ddc58b27d589","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"544a419e-df90-41c2-97dc-f72a6ca67e25","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"Timestamp","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-10-26T17:45:20Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"connectionString":"connectionstring","query":"select
        * from adsample2 where Timestamp = @StartTime"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/d8f1e14d-a27f-4e85-8fb9-be84e2448f6d
- request:
    body: '{"name": "topnup312c20ff", "description": "testing", "metricId": "e888b7e0-002d-4be6-abd3-ddc58b27d589",
      "wholeMetricConfiguration": {"smartDetectionCondition": {"sensitivity": 50.0,
      "anomalyDetectorDirection": "Both", "suppressCondition": {"minNumber": 50, "minRatio":
      50.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/5f5ef6e7-5559-4749-8122-8f44b49c1fb5
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/5f5ef6e7-5559-4749-8122-8f44b49c1fb5
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"5f5ef6e7-5559-4749-8122-8f44b49c1fb5","name":"topnup312c20ff","description":"testing","metricId":"e888b7e0-002d-4be6-abd3-ddc58b27d589","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":50,"minRatio":50.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/5f5ef6e7-5559-4749-8122-8f44b49c1fb5
- request:
    body: '{"name": "testalert312c20ff", "hookIds": [], "metricAlertingConfigurations":
      [{"anomalyDetectionConfigurationId": "5f5ef6e7-5559-4749-8122-8f44b49c1fb5",
      "anomalyScopeType": "All", "severityFilter": {"minAlertSeverity": "Low", "maxAlertSeverity":
      "High"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/c720fd17-8096-4d02-957f-680166eac3b6
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/c720fd17-8096-4d02-957f-680166eac3b6
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"c720fd17-8096-4d02-957f-680166eac3b6","name":"testalert312c20ff","description":"","hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"5f5ef6e7-5559-4749-8122-8f44b49c1fb5","anomalyScopeType":"All","negationOperation":false,"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/c720fd17-8096-4d02-957f-680166eac3b6
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/c720fd17-8096-4d02-957f-680166eac3b6
  response:
    body:
      string: '{"code":"Not Found","message":"Not found this AnomalyAlertingConfiguration.
        TraceId: 17adf951-5022-4e6b-ab7d-d158f5a7de1d"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/c720fd17-8096-4d02-957f-680166eac3b6
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d8f1e14d-a27f-4e85-8fb9-be84e2448f6d
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/d8f1e14d-a27f-4e85-8fb9-be84e2448f6d
version: 1
