interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "testfeedasync60a9218b",
      "dataFeedDescription": "my first data feed", "granularityName": "Custom", "granularityAmount":
      20, "metrics": [{"metricName": "cost", "metricDisplayName": "display cost",
      "metricDescription": "the cost"}, {"metricName": "revenue", "metricDisplayName":
      "display revenue", "metricDescription": "the revenue"}], "dimension": [{"dimensionName":
      "category", "dimensionDisplayName": "display category"}, {"dimensionName": "city",
      "dimensionDisplayName": "display city"}], "timestampColumn": "Timestamp", "dataStartFrom":
      "2019-10-01T00:00:00.000Z", "startOffsetInSeconds": -1, "maxConcurrency": 0,
      "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds": -1, "needRollup":
      "AlreadyRollup", "rollUpMethod": "Sum", "allUpIdentification": "sumrollup",
      "fillMissingPointType": "CustomValue", "fillMissingPointValue": 10.0, "viewMode":
      "Private", "admins": ["yournamehere@microsoft.com"], "viewers": ["viewers"],
      "actionLinkTemplate": "action link template", "dataSourceParameter": {"connectionString":
      "connectionstring", "query": "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3f4994b7-5fcb-4270-a1b9-599d0bb3b581
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3f4994b7-5fcb-4270-a1b9-599d0bb3b581
  response:
    body:
      string: "{\"dataFeedId\":\"3f4994b7-5fcb-4270-a1b9-599d0bb3b581\",\"dataFeedName\":\"testfeedasync60a9218b\",\"metrics\":[{\"metricId\":\"91069fd2-0798-40a4-bb6d-1ec324de4676\",\"metricName\":\"cost\",\"metricDisplayName\":\"display
        cost\",\"metricDescription\":\"the cost\"},{\"metricId\":\"c2842953-3f3f-495c-a332-3c96b9e494a5\",\"metricName\":\"revenue\",\"metricDisplayName\":\"display
        revenue\",\"metricDescription\":\"the revenue\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"display
        category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"display
        city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"Timestamp\",\"startOffsetInSeconds\":-1,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Custom\",\"granularityAmount\":20,\"allUpIdentification\":\"sumrollup\",\"needRollup\":\"AlreadyRollup\",\"fillMissingPointType\":\"CustomValue\",\"fillMissingPointValue\":10.0,\"rollUpMethod\":\"Sum\",\"rollUpColumns\":[],\"dataFeedDescription\":\"my
        first data feed\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":0,\"viewMode\":\"Private\",\"admins\":[\"yournamehere@microsoft.com\",\"f850650c-1fcf-4489-b46f-71af2e30d360\"],\"viewers\":[\"viewers\"],\"creator\":\"f850650c-1fcf-4489-b46f-71af2e30d360\",\"status\":\"Active\",\"createdTime\":\"2020-12-26T19:37:59Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"action
        link template\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/3f4994b7-5fcb-4270-a1b9-599d0bb3b581
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/3f4994b7-5fcb-4270-a1b9-599d0bb3b581
  response:
    body:
      string: '{"code":"ERROR_INVALID_PARAMETER","message":"datafeedId is invalid."}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/3f4994b7-5fcb-4270-a1b9-599d0bb3b581
version: 1
