interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "multiplewcoc334p63efigp2",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "region"}], "dataStartFrom": "2019-10-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "viewMode": "Private", "authenticationType": "Basic", "dataSourceParameter":
      {"connectionString": "connectionstring", "query": "select * from adsample2 where
      Timestamp = @StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4b5a5ef7-6e2f-4be3-9c4c-04ca585d178b
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4b5a5ef7-6e2f-4be3-9c4c-04ca585d178b
  response:
    body:
      string: '{"dataFeedId":"4b5a5ef7-6e2f-4be3-9c4c-04ca585d178b","dataFeedName":"multiplewcoc334p63efigp2","metrics":[{"metricId":"d1791f2b-c93b-4d24-884c-afa9a359e31b","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"b24b67de-97c5-4145-9a20-a8f3b06702ae","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"region","dimensionDisplayName":"region"}],"dataStartFrom":"2019-10-01T00:00:00Z","dataSourceType":"SqlServer","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["xiangyan@microsoft.com"],"viewers":[],"creator":"xiangyan@microsoft.com","status":"Active","createdTime":"2021-09-29T19:39:35Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"query":"select
        * from adsample2 where Timestamp = @StartTime"},"authenticationType":"Basic"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/4b5a5ef7-6e2f-4be3-9c4c-04ca585d178b
- request:
    body: '{"name": "multipleiaew6ncf7lwjryjm", "description": "testing", "metricId":
      "d1791f2b-c93b-4d24-884c-afa9a359e31b", "wholeMetricConfiguration": {"smartDetectionCondition":
      {"sensitivity": 50.0, "anomalyDetectorDirection": "Both", "suppressCondition":
      {"minNumber": 5, "minRatio": 5.0}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/9d97ff8d-0fa0-468c-ad64-9ecdd8d427d5
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/9d97ff8d-0fa0-468c-ad64-9ecdd8d427d5
  response:
    body:
      string: '{"anomalyDetectionConfigurationId":"9d97ff8d-0fa0-468c-ad64-9ecdd8d427d5","name":"multipleiaew6ncf7lwjryjm","description":"testing","metricId":"d1791f2b-c93b-4d24-884c-afa9a359e31b","wholeMetricConfiguration":{"smartDetectionCondition":{"sensitivity":50.0,"anomalyDetectorDirection":"Both","suppressCondition":{"minNumber":5,"minRatio":5.0}}},"dimensionGroupOverrideConfigurations":[],"seriesOverrideConfigurations":[]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/9d97ff8d-0fa0-468c-ad64-9ecdd8d427d5
- request:
    body: '{"name": "testalert35871dac", "crossMetricsOperator": "AND", "hookIds":
      [], "metricAlertingConfigurations": [{"anomalyDetectionConfigurationId": "9d97ff8d-0fa0-468c-ad64-9ecdd8d427d5",
      "anomalyScopeType": "TopN", "topNAnomalyScope": {"top": 5, "period": 10, "minTopCount":
      9}, "valueFilter": {"lower": 1.0, "upper": 5.0, "direction": "Both", "type":
      "Value", "metricId": "d1791f2b-c93b-4d24-884c-afa9a359e31b"}}, {"anomalyDetectionConfigurationId":
      "9d97ff8d-0fa0-468c-ad64-9ecdd8d427d5", "anomalyScopeType": "Dimension", "dimensionAnomalyScope":
      {"dimension": {"region": "Shenzhen"}}, "severityFilter": {"minAlertSeverity":
      "Low", "maxAlertSeverity": "High"}}, {"anomalyDetectionConfigurationId": "9d97ff8d-0fa0-468c-ad64-9ecdd8d427d5",
      "anomalyScopeType": "All", "severityFilter": {"minAlertSeverity": "Low", "maxAlertSeverity":
      "High"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/c45bc0b3-c0bd-4dc8-9a89-d5df7b2d236d
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/c45bc0b3-c0bd-4dc8-9a89-d5df7b2d236d
  response:
    body:
      string: '{"anomalyAlertingConfigurationId":"c45bc0b3-c0bd-4dc8-9a89-d5df7b2d236d","name":"testalert35871dac","description":"","crossMetricsOperator":"AND","splitAlertByDimensions":[],"hookIds":[],"metricAlertingConfigurations":[{"anomalyDetectionConfigurationId":"9d97ff8d-0fa0-468c-ad64-9ecdd8d427d5","anomalyScopeType":"TopN","negationOperation":false,"topNAnomalyScope":{"top":5,"period":10,"minTopCount":9},"valueFilter":{"lower":1.0,"upper":5.0,"direction":"Both","metricId":"d1791f2b-c93b-4d24-884c-afa9a359e31b","triggerForMissing":false,"type":"Value"}},{"anomalyDetectionConfigurationId":"9d97ff8d-0fa0-468c-ad64-9ecdd8d427d5","anomalyScopeType":"Dimension","negationOperation":false,"dimensionAnomalyScope":{"dimension":{"region":"Shenzhen"}},"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}},{"anomalyDetectionConfigurationId":"9d97ff8d-0fa0-468c-ad64-9ecdd8d427d5","anomalyScopeType":"All","negationOperation":false,"severityFilter":{"minAlertSeverity":"Low","maxAlertSeverity":"High"}}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/c45bc0b3-c0bd-4dc8-9a89-d5df7b2d236d
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/c45bc0b3-c0bd-4dc8-9a89-d5df7b2d236d
  response:
    body:
      string: '{"code":"Not Found","message":"Not found this AnomalyAlertingConfiguration.
        TraceId: 67683cd6-2adf-4cf2-abd9-de000e0d9248"}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/alert/anomaly/configurations/c45bc0b3-c0bd-4dc8-9a89-d5df7b2d236d
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4b5a5ef7-6e2f-4be3-9c4c-04ca585d178b
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/4b5a5ef7-6e2f-4be3-9c4c-04ca585d178b
version: 1
