interactions:
- request:
    body: '{"hookType": "Email", "hookName": "testemailhookasync419b0ff9", "description":
      "my email hook", "externalLink": "external link", "hookParameter": {"toList":
      ["yournamehere@microsoft.com"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/daf32bfd-3174-4de7-9103-ad0aa23d87a7
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/daf32bfd-3174-4de7-9103-ad0aa23d87a7
  response:
    body:
      string: '{"hookId":"daf32bfd-3174-4de7-9103-ad0aa23d87a7","hookName":"testemailhookasync419b0ff9","hookType":"Email","externalLink":"external
        link","description":"my email hook","admins":["krpratic@microsoft.com"],"hookParameter":{"toList":["yournamehere@microsoft.com"]}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/daf32bfd-3174-4de7-9103-ad0aa23d87a7
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/daf32bfd-3174-4de7-9103-ad0aa23d87a7
  response:
    body:
      string: '{"code":"ERROR_INVALID_PARAMETER","message":"hookId is invalid."}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks/daf32bfd-3174-4de7-9103-ad0aa23d87a7
version: 1
