interactions:
- request:
    body: '{"startTime": "2020-08-09T00:00:00.000Z", "endTime": "2020-09-16T00:00:00.000Z"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/data_feed_id/ingestionStatus/query
  response:
    body:
      string: '{"value":[{"timestamp":"2020-09-15T00:00:00Z","status":"NotStarted","message":""},{"timestamp":"2020-09-14T00:00:00Z","status":"NotStarted","message":""},{"timestamp":"2020-09-13T00:00:00Z","status":"NotStarted","message":""},{"timestamp":"2020-09-12T00:00:00Z","status":"NotStarted","message":""},{"timestamp":"2020-09-11T00:00:00Z","status":"NotStarted","message":""},{"timestamp":"2020-09-10T00:00:00Z","status":"NotStarted","message":""},{"timestamp":"2020-09-09T00:00:00Z","status":"NotStarted","message":""},{"timestamp":"2020-09-08T00:00:00Z","status":"NotStarted","messa[...]
