interactions:
- request:
    body: '{"dataSourceCredentialType": "ServicePrincipal", "dataSourceCredentialName":
      "testserviceprincipalcredential1ebe1d47", "dataSourceCredentialDescription":
      "my credential", "parameters": {"clientId": "client_id", "clientSecret": "client_secret",
      "tenantId": "tenant_id"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials
  response:
    body:
      string: ''
    headers:
      location: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/fddfa2a7-66e2-452d-830f-cd7638ada331
    status:
      code: 201
      message: Created
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/credentials
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/fddfa2a7-66e2-452d-830f-cd7638ada331
  response:
    body:
      string: '{"dataSourceCredentialId":"fddfa2a7-66e2-452d-830f-cd7638ada331","dataSourceCredentialName":"testserviceprincipalcredential1ebe1d47","dataSourceCredentialDescription":"my
        credential","dataSourceCredentialType":"ServicePrincipal","parameters":{"clientId":"client_id","tenantId":"tenant_id"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/credentials/fddfa2a7-66e2-452d-830f-cd7638ada331
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/fddfa2a7-66e2-452d-830f-cd7638ada331
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/credentials/fddfa2a7-66e2-452d-830f-cd7638ada331
version: 1
