interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks
  response:
    body:
      string: '{"value":[{"hookId":"c5bcdcb2-4b0e-4d72-8548-4ea9b37f19ab","hookName":"email
        hook","hookType":"Email","externalLink":"https://docs.microsoft.com/en-us/azure/cognitive-services/metrics-advisor/how-tos/alerts","description":"my
        email hook","admins":["xiangyan@microsoft.com","f850650c-1fcf-4489-b46f-71af2e30d360"],"hookParameter":{"toList":["alertme@alertme.com"]}}]}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://ga-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/hooks
version: 1
