interactions:
- request:
    body: '{"feedbackType": "Anomaly", "metricId": "metric_id", "dimensionFilter":
      {"dimension": {"dimension_name": "Los Angeles"}}, "startTime": "2020-08-05T00:00:00.000Z",
      "endTime": "2020-10-21T00:00:00.000Z", "value": {"anomalyValue": "NotAnomaly"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/feedback/metric/2d8e40ab-24ce-45c3-bcd0-64850a1dd895
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/feedback/metric
version: 1
