interactions:
- request:
    body: '{"dataSourceType": "SqlServer", "dataFeedName": "updateas74h6p3c2thhoytvm",
      "dataFeedDescription": "my first data feed", "granularityName": "Daily", "metrics":
      [{"metricName": "cost", "metricDisplayName": "display cost", "metricDescription":
      "the cost"}, {"metricName": "revenue", "metricDisplayName": "display revenue",
      "metricDescription": "the revenue"}], "dimension": [{"dimensionName": "category",
      "dimensionDisplayName": "display category"}, {"dimensionName": "city", "dimensionDisplayName":
      "display city"}], "timestampColumn": "Timestamp", "dataStartFrom": "2019-10-01T00:00:00.000Z",
      "startOffsetInSeconds": -1, "maxConcurrency": 0, "minRetryIntervalInSeconds":
      -1, "stopRetryAfterInSeconds": -1, "needRollup": "NoRollup", "rollUpMethod":
      "None", "fillMissingPointType": "SmartFilling", "viewMode": "Private", "admins":
      ["yournamehere@microsoft.com"], "viewers": ["viewers"], "actionLinkTemplate":
      "action link template", "dataSourceParameter": {"connectionString": "connectionstring",
      "query": "select\u202f*\u202ffrom\u202fadsample2\u202fwhere\u202fTimestamp\u202f=\u202f@StartTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f7ecf77b-c8b0-452b-830a-6787ca94ff62
    status:
      code: 201
      message: Created
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f7ecf77b-c8b0-452b-830a-6787ca94ff62
  response:
    body:
      string: "{\"dataFeedId\":\"f7ecf77b-c8b0-452b-830a-6787ca94ff62\",\"dataFeedName\":\"updateas74h6p3c2thhoytvm\",\"metrics\":[{\"metricId\":\"e4bcce1b-1040-482d-83ab-5e6ab9507ea1\",\"metricName\":\"cost\",\"metricDisplayName\":\"display
        cost\",\"metricDescription\":\"the cost\"},{\"metricId\":\"6f4ac06b-09f4-4f07-992e-cae65ebcfbbc\",\"metricName\":\"revenue\",\"metricDisplayName\":\"display
        revenue\",\"metricDescription\":\"the revenue\"}],\"dimension\":[{\"dimensionName\":\"category\",\"dimensionDisplayName\":\"display
        category\"},{\"dimensionName\":\"city\",\"dimensionDisplayName\":\"display
        city\"}],\"dataStartFrom\":\"2019-10-01T00:00:00Z\",\"dataSourceType\":\"SqlServer\",\"timestampColumn\":\"Timestamp\",\"startOffsetInSeconds\":-1,\"maxQueryPerMinute\":30.0,\"granularityName\":\"Daily\",\"granularityAmount\":null,\"allUpIdentification\":null,\"needRollup\":\"NoRollup\",\"fillMissingPointType\":\"SmartFilling\",\"fillMissingPointValue\":0.0,\"rollUpMethod\":\"None\",\"rollUpColumns\":[],\"dataFeedDescription\":\"my
        first data feed\",\"stopRetryAfterInSeconds\":-1,\"minRetryIntervalInSeconds\":-1,\"maxConcurrency\":0,\"viewMode\":\"Private\",\"admins\":[\"krpratic@microsoft.com\",\"yournamehere@microsoft.com\"],\"viewers\":[\"viewers\"],\"creator\":\"krpratic@microsoft.com\",\"status\":\"Active\",\"createdTime\":\"2021-02-02T22:20:45Z\",\"isAdmin\":true,\"actionLinkTemplate\":\"action
        link template\",\"dataSourceParameter\":{\"connectionString\":\"connectionstring\",\"query\":\"select\u202F*\u202Ffrom\u202Fadsample2\u202Fwhere\u202FTimestamp\u202F=\u202F@StartTime\"}}"
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/f7ecf77b-c8b0-452b-830a-6787ca94ff62
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f7ecf77b-c8b0-452b-830a-6787ca94ff62
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://js-metrics-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/f7ecf77b-c8b0-452b-830a-6787ca94ff62
version: 1
