interactions:
- request:
    body: '{"dataSourceType": "AzureDataExplorer", "dataFeedName": "dataexplorerkyuchy3rajfo1626192e",
      "granularityName": "Daily", "metrics": [{"metricName": "cost"}, {"metricName":
      "revenue"}], "dimension": [{"dimensionName": "category"}, {"dimensionName":
      "city"}], "dataStartFrom": "2019-01-01T00:00:00.000Z", "startOffsetInSeconds":
      0, "maxConcurrency": -1, "minRetryIntervalInSeconds": -1, "stopRetryAfterInSeconds":
      -1, "dataSourceParameter": {"connectionString": "connectionstring", "query":
      "let StartDateTime = datetime(@StartTime); let EndDateTime = StartDateTime +
      1d; adsample | where Timestamp >= StartDateTime and Timestamp < EndDateTime"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds
  response:
    body:
      string: ''
    headers:
      location: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/8b42e4a2-e198-4c28-9a18-d31f05c1cdd3
    status:
      code: 201
      message: Created
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds
- request:
    body: null
    headers:
    method: GET
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/8b42e4a2-e198-4c28-9a18-d31f05c1cdd3
  response:
    body:
      string: '{"dataFeedId":"8b42e4a2-e198-4c28-9a18-d31f05c1cdd3","dataFeedName":"dataexplorerkyuchy3rajfo1626192e","metrics":[{"metricId":"c9a0eb7d-17a5-425e-87c5-1ce70c02807b","metricName":"cost","metricDisplayName":"cost","metricDescription":""},{"metricId":"7275ddac-aa66-47ee-abc5-3a63cc61eeda","metricName":"revenue","metricDisplayName":"revenue","metricDescription":""}],"dimension":[{"dimensionName":"category","dimensionDisplayName":"category"},{"dimensionName":"city","dimensionDisplayName":"city"}],"dataStartFrom":"2019-01-01T00:00:00Z","dataSourceType":"AzureDataExplorer","timestampColumn":"","startOffsetInSeconds":0,"maxQueryPerMinute":30.0,"granularityName":"Daily","granularityAmount":null,"allUpIdentification":null,"needRollup":"NoRollup","fillMissingPointType":"PreviousValue","fillMissingPointValue":0.0,"rollUpMethod":"None","rollUpColumns":[],"dataFeedDescription":"","stopRetryAfterInSeconds":-1,"minRetryIntervalInSeconds":-1,"maxConcurrency":-1,"viewMode":"Private","admins":["krpratic@microsoft.com"],"viewers":[],"creator":"krpratic@microsoft.com","status":"Active","createdTime":"2020-10-13T16:36:04Z","isAdmin":true,"actionLinkTemplate":"","dataSourceParameter":{"connectionString":"connectionstring","query":"let
        StartDateTime = datetime(@StartTime); let EndDateTime = StartDateTime + 1d;
        adsample | where Timestamp >= StartDateTime and Timestamp < EndDateTime"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/8b42e4a2-e198-4c28-9a18-d31f05c1cdd3
- request:
    body: null
    headers:
    method: DELETE
    uri: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/8b42e4a2-e198-4c28-9a18-d31f05c1cdd3
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: https://anuchan-cg-metric-advisor.cognitiveservices.azure.com//metricsadvisor/v1.0/dataFeeds/8b42e4a2-e198-4c28-9a18-d31f05c1cdd3
version: 1
