interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Jun 2021 06:07:31 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare228d1d46?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D924C38B034DA7"'
      last-modified:
      - Tue, 01 Jun 2021 06:07:31 GMT
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Jun 2021 06:07:31 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare228d1d46/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D924C38B172120"'
      last-modified:
      - Tue, 01 Jun 2021 06:07:32 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2021-06-01T06:07:32.0407328Z'
      x-ms-file-creation-time:
      - '2021-06-01T06:07:32.0407328Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2021-06-01T06:07:32.0407328Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 17860367565182308406*11459378189709739967
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Jun 2021 06:07:32 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare228d1d46/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D924C38B2B4909"'
      last-modified:
      - Tue, 01 Jun 2021 06:07:32 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2021-06-01T06:07:32.1728265Z'
      x-ms-file-creation-time:
      - '2021-06-01T06:07:32.1728265Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2021-06-01T06:07:32.1728265Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 17860367565182308406*11459378189709739967
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 01 Jun 2021 06:07:32 GMT
      x-ms-file-extended-info:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare228d1d46/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshare228d1d46\"
        DirectoryPath=\"dir1\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>subdir1</Name><FileId>11529285414812647424</FileId><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
version: 1
