{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare652d2aaa?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 22:46:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1A34B53E6B7\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:46:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare652d2aaa/file652d2aaa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 28 Sep 2022 22:46:35 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta": "{\u0027hello\u0027: \u0027world\u0027, \u0027number\u0027: \u002742\u0027}",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "42",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1A34B6D7C41\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:46:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-09-28T22:46:34.3554113Z",
        "x-ms-file-creation-time": "2022-09-28T22:46:34.3554113Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T22:46:34.3554113Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3254952746172754359*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare652d2aaa/file652d2aaa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 22:46:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAA1A34B6D7C41\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:46:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-09-28T22:46:34.3554113Z",
        "x-ms-file-creation-time": "2022-09-28T22:46:34.3554113Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T22:46:34.3554113Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3254952746172754359*9622787259914961209",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "42",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
