interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 13:01:36 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare8e3816ef?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D861532300C28B"'
      last-modified:
      - Fri, 25 Sep 2020 13:01:37 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1024'
      x-ms-date:
      - Fri, 25 Sep 2020 13:01:37 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare8e3816ef/file8e3816ef
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8615323538EF3"'
      last-modified:
      - Fri, 25 Sep 2020 13:01:37 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2020-09-25T13:01:37.5783667Z'
      x-ms-file-creation-time:
      - '2020-09-25T13:01:37.5783667Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2020-09-25T13:01:37.5783667Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 4010187179898695473*11459378189709739967
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 13:01:38 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - bfcb5576-8f43-4a1b-9906-cd82c8d232bb
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare8e3816ef/file8e3816ef?comp=lease
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8615323538EF3"'
      last-modified:
      - Fri, 25 Sep 2020 13:01:37 GMT
      x-ms-lease-id:
      - bfcb5576-8f43-4a1b-9906-cd82c8d232bb
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 13:01:38 GMT
      x-ms-lease-id:
      - b84dfbc3-90f9-40d2-96e9-e5ab0989d3dd
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare8e3816ef/file8e3816ef?comp=rangelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMismatchWithFileOperation</Code><Message>The
        lease ID specified did not match the lease ID for the file.\nRequestId:bbb96dea-f01a-0089-1e3c-936017000000\nTime:2020-09-25T13:01:38.0259024Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - LeaseIdMismatchWithFileOperation
      x-ms-version:
      - '2020-02-10'
    status:
      code: 412
      message: The lease ID specified did not match the lease ID for the file.
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 13:01:38 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare8e3816ef/file8e3816ef?comp=rangelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges />"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D8615323538EF3"'
      last-modified:
      - Fri, 25 Sep 2020 13:01:37 GMT
      x-ms-content-length:
      - '1024'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
version: 1
