{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare8b9f33ad?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Mon, 23 Jan 2023 23:57:50 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFD9D8B7C9BEC\u0022",
        "Last-Modified": "Mon, 23 Jan 2023 23:57:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare8b9f33ad/file8b9f33ad",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 23 Jan 2023 23:57:51 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFD9D8C244EE9\u0022",
        "Last-Modified": "Mon, 23 Jan 2023 23:57:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-01-23T23:57:12.9229033Z",
        "x-ms-file-creation-time": "2023-01-23T23:57:12.9229033Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-01-23T23:57:12.9229033Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13438439191449926184*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare8b9f33ad/file8b9f33ad",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 23 Jan 2023 23:57:53 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
