interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 22:40:54 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharebd1a12dd?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D864C8B9D886E7"'
      last-modified: Tue, 29 Sep 2020 22:40:54 GMT
      x-ms-version: '2020-02-10'
    status:
      code: 201
      message: Created
    url: https://seanmcccanary3.file.core.windows.net/sharebd1a12dd?restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 22:40:54 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - 777c966a-031c-4494-83aa-d0ddb074f2dc
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharebd1a12dd?comp=lease&restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D864C8B9D886E7"'
      last-modified: Tue, 29 Sep 2020 22:40:54 GMT
      x-ms-lease-id: 777c966a-031c-4494-83aa-d0ddb074f2dc
      x-ms-version: '2020-02-10'
    status:
      code: 201
      message: Created
    url: https://seanmcccanary3.file.core.windows.net/sharebd1a12dd?comp=lease&restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 22:40:54 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share1816f1171</Name><Properties><Last-Modified>Fri,
        11 Sep 2020 00:43:37 GMT</Last-Modified><Etag>\"0x8D855EBB87CFF33\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri,
        11 Sep 2020 00:43:37 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share182b3117d</Name><Properties><Last-Modified>Fri,
        11 Sep 2020 00:44:44 GMT</Last-Modified><Etag>\"0x8D855EBE0710239\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri,
        11 Sep 2020 00:44:44 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 22:40:55 GMT
      x-ms-lease-action:
      - release
      x-ms-lease-id:
      - 777c966a-031c-4494-83aa-d0ddb074f2dc
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharebd1a12dd?comp=lease&restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D864C8B9D886E7"'
      last-modified: Tue, 29 Sep 2020 22:40:54 GMT
      x-ms-lease-time: '0'
      x-ms-version: '2020-02-10'
    status:
      code: 200
      message: OK
    url: https://seanmcccanary3.file.core.windows.net/sharebd1a12dd?comp=lease&restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 22:40:55 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share1816f1171</Name><Properties><Last-Modified>Fri,
        11 Sep 2020[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 22:40:55 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share1816f1171?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:6b6290f8-101a-0038-27b1-967e02000000\nTime:2020-09-29T22:40:55.6303715Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/share1816f1171?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 22:40:56 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharerestorecb2f1317?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:6b62910b-101a-0038-38b1-967e02000000\nTime:2020-09-29T22:40:56.5910489Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/sharerestorecb2f1317?restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 22:40:56 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharesamples5?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:6b62910c-101a-0038-39b1-967e02000000\nTime:2020-09-29T22:40:56.6590968Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/sharesamples5?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 22:40:56 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/test-share-1200db32-dbe6-47c3-8fdc-badfe55a17f7?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:6b62910f-101a-0038-3cb1-967e02000000\nTime:2020-09-29T22:40:56.8722466Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/test-share-1200db32-dbe6-47c3-8fdc-badfe55a17f7?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 22:40:57 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/test16185160b?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:6b629123-101a-0038-4fb1-967e02000000\nTime:2020-09-29T22:40:57.7798814Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/test16185160b?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 29 Sep 2020 22:40:59 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/testf69713fa?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:6b629158-101a-0038-7fb1-967e02000000\nTime:2020-09-29T22:40:59.3720018Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/testf69713fa?restype=share
version: 1
