interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share41961029?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73BCD87801694"'
      Last-Modified:
      - Wed, 18 Sep 2019 00:17:02 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?prefix=share41961029&include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>share41961029</Prefix><Shares><Share><Name>share41961029</Name><Properties><Last-Modified>Wed,
        18 Sep 2019 00:17:02 GMT</Last-Modified><Etag>\"0x8D73BCD87801694\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share41961029</Name><Properties><Last-Modified>Wed,
        18 Sep 2019 00:17:02 GMT</Last-Modified><Etag>\"0x8D73BCD87801694\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:02 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share41961029?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Dec 2019 20:08:10 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share41961029?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
version: 1
