interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharefcf21448?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E36E1B666FA"'
      last-modified:
      - Tue, 31 Dec 2019 21:17:46 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:46 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E36E1C6EBF5"'
      last-modified:
      - Tue, 31 Dec 2019 21:17:46 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-12-31T21:17:46.3502837Z'
      x-ms-file-creation-time:
      - '2019-12-31T21:17:46.3502837Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-12-31T21:17:46.3502837Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 7171191556614012562*819117102506551579
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:46 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E36E1D482FB"'
      last-modified:
      - Tue, 31 Dec 2019 21:17:46 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-12-31T21:17:46.4393467Z'
      x-ms-file-creation-time:
      - '2019-12-31T21:17:46.4393467Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2019-12-31T21:17:46.4393467Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 7171191556614012562*819117102506551579
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:46 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1/file1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E36E1F83E11"'
      last-modified:
      - Tue, 31 Dec 2019 21:17:46 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-12-31T21:17:46.6735121Z'
      x-ms-file-creation-time:
      - '2019-12-31T21:17:46.6735121Z'
      x-ms-file-id:
      - '14988049928633188352'
      x-ms-file-last-write-time:
      - '2019-12-31T21:17:46.6735121Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 11817162760632156565*819117102506551579
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:46 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - idkDvDXe3nJP1SxRQ3/1/Q==
      etag:
      - '"0x8D78E36E202EE5F"'
      last-modified:
      - Tue, 31 Dec 2019 21:17:46 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utsharefcf21448\"
        DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file2</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file3</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory><Directory><Name>subdir3</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
