{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshared11d2dce?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 05 Oct 2022 22:27:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA720CEE72F59\u0022",
        "Last-Modified": "Wed, 05 Oct 2022 22:27:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshared11d2dce/filed11d2dce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 05 Oct 2022 22:27:37 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA720CEFA7CE7\u0022",
        "Last-Modified": "Wed, 05 Oct 2022 22:27:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-10-05T22:27:37.9661031Z",
        "x-ms-file-creation-time": "2022-10-05T22:27:37.9661031Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-10-05T22:27:37.9661031Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3254952746172754359*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshared11d2dce/filed11d2dce?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 05 Oct 2022 22:27:37 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA720CEFA7CE7\u0022",
        "Last-Modified": "Wed, 05 Oct 2022 22:27:37 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshared11d2dce/filed11d2dce",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 05 Oct 2022 22:27:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMissing\u003C/Code\u003E\u003CMessage\u003EThere is currently a lease on the file and no lease ID was specified in the request.\n",
        "RequestId:b3ed45d0-e01a-0031-3309-d9acb3000000\n",
        "Time:2022-10-05T22:27:38.2673541Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshared11d2dce/filed11d2dce",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 05 Oct 2022 22:27:38 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
