interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 14 Jan 2020 20:43:17 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharef0d118dc?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7993261ECB0C1"'
      last-modified: Tue, 14 Jan 2020 20:43:16 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragevpqzemrlpkla.file.core.windows.net
        - /utsharef0d118dc
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1024'
      x-ms-date:
      - Tue, 14 Jan 2020 20:43:17 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharef0d118dc/filef0d118dc
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79932620CD01F"'
      last-modified: Tue, 14 Jan 2020 20:43:16 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-14T20:43:16.8635935Z'
      x-ms-file-creation-time: '2020-01-14T20:43:16.8635935Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-14T20:43:16.8635935Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 12646170829045421908*513640277555363802
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragevpqzemrlpkla.file.core.windows.net
        - /utsharef0d118dc/filef0d118dc
        - ''
        - ''
- request:
    body: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 14 Jan 2020 20:43:17 GMT
      x-ms-range:
      - bytes=0-1023
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharef0d118dc/filef0d118dc?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: yaNM/IXZgmmMasifdgcavQ==
      etag: '"0x8D7993262175959"'
      last-modified: Tue, 14 Jan 2020 20:43:16 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragevpqzemrlpkla.file.core.windows.net
        - /utsharef0d118dc/filef0d118dc
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 14 Jan 2020 20:43:17 GMT
      x-ms-meta:
      - '{''test1'': ''foo'', ''test2'': ''bar''}'
      x-ms-meta-test1:
      - foo
      x-ms-meta-test2:
      - bar
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharef0d118dc/filef0d118dc?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79932621EADAD"'
      last-modified: Tue, 14 Jan 2020 20:43:16 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragevpqzemrlpkla.file.core.windows.net
        - /utsharef0d118dc/filef0d118dc
        - comp=metadata
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 14 Jan 2020 20:43:17 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharef0d118dc?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7993261ECB0C1"'
      last-modified: Tue, 14 Jan 2020 20:43:16 GMT
      x-ms-snapshot: '2020-01-14T20:43:17.0000000Z'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragevpqzemrlpkla.file.core.windows.net
        - /utsharef0d118dc
        - restype=share&comp=snapshot
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 14 Jan 2020 20:43:18 GMT
      x-ms-meta:
      - '{''test100'': ''foo100'', ''test200'': ''bar200''}'
      x-ms-meta-test100:
      - foo100
      x-ms-meta-test200:
      - bar200
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharef0d118dc/filef0d118dc?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D799326234D1C4"'
      last-modified: Tue, 14 Jan 2020 20:43:17 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragevpqzemrlpkla.file.core.windows.net
        - /utsharef0d118dc/filef0d118dc
        - comp=metadata
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 14 Jan 2020 20:43:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://storagename.file.core.windows.net/utsharef0d118dc/filef0d118dc
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D799326234D1C4"'
      last-modified: Tue, 14 Jan 2020 20:43:17 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-14T20:43:17.1257796Z'
      x-ms-file-creation-time: '2020-01-14T20:43:16.8635935Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-14T20:43:16.8635935Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 12646170829045421908*513640277555363802
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-meta-test100: foo100
      x-ms-meta-test200: bar200
      x-ms-server-encrypted: 'true'
      x-ms-type: File
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragevpqzemrlpkla.file.core.windows.net
        - /utsharef0d118dc/filef0d118dc
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 14 Jan 2020 20:43:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://storagename.file.core.windows.net/utsharef0d118dc/filef0d118dc?sharesnapshot=2020-01-14T20:43:17.0000000Z
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D79932621EADAD"'
      last-modified: Tue, 14 Jan 2020 20:43:16 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-14T20:43:16.9806765Z'
      x-ms-file-creation-time: '2020-01-14T20:43:16.8635935Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-14T20:43:16.8635935Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 12646170829045421908*513640277555363802
      x-ms-meta-test1: foo
      x-ms-meta-test2: bar
      x-ms-server-encrypted: 'true'
      x-ms-type: File
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragevpqzemrlpkla.file.core.windows.net
        - /utsharef0d118dc/filef0d118dc
        - sharesnapshot=2020-01-14T20:43:17.0000000Z
        - ''
version: 1
