{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharec5f126ad?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 22:50:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1A3D1DF6231\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:50:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
