interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 29 Apr 2022 22:17:05 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharede841c73?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA2A2DFEA9309B"'
      last-modified: Fri, 29 Apr 2022 22:17:06 GMT
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.file.core.windows.net/utsharede841c73?restype=share
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1024'
      x-ms-date:
      - Fri, 29 Apr 2022 22:17:06 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharede841c73/testfile
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA2A2DFECB755B"'
      last-modified: Fri, 29 Apr 2022 22:17:06 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2022-04-29T22:17:06.2988123Z'
      x-ms-file-creation-time: '2022-04-29T22:17:06.2988123Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2022-04-29T22:17:06.2988123Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 8725144154719613152*15111010650564761710
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.file.core.windows.net/utsharede841c73/testfile
- request:
    body: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 29 Apr 2022 22:17:06 GMT
      x-ms-range:
      - bytes=0-1023
      x-ms-version:
      - '2021-06-08'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharede841c73/testfile?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: yaNM/IXZgmmMasifdgcavQ==
      etag: '"0x8DA2A2DFED4C2C9"'
      last-modified: Fri, 29 Apr 2022 22:17:06 GMT
      x-ms-file-last-write-time: '2022-04-29T22:17:06.3597769Z'
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.file.core.windows.net/utsharede841c73/testfile?comp=range
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 29 Apr 2022 22:17:06 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharede841c73?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareAlreadyExists</Code><Message>The
        specified share already exists.\nRequestId:0909a857-101a-0075-7816-5cb1ee000000\nTime:2022-04-29T22:17:06.6197973Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: ShareAlreadyExists
      x-ms-version: '2021-06-08'
    status:
      code: 409
      message: The specified share already exists.
    url: https://jalauzoncanary.file.core.windows.net/utsharede841c73?restype=share
- request:
    body: null
    headers:
      x-ms-content-length:
      - '2048'
      x-ms-date:
      - Fri, 29 Apr 2022 22:17:06 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharede841c73/filetoupdate
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA2A2DFF087574"'
      last-modified: Fri, 29 Apr 2022 22:17:06 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2022-04-29T22:17:06.6985844Z'
      x-ms-file-creation-time: '2022-04-29T22:17:06.6985844Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2022-04-29T22:17:06.6985844Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 8725144154719613152*15111010650564761710
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.file.core.windows.net/utsharede841c73/filetoupdate
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 29 Apr 2022 22:17:06 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://storagename.file.core.windows.net/utsharede841c73/filetoupdate
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8DA2A2DFF087574"'
      last-modified: Fri, 29 Apr 2022 22:17:06 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2022-04-29T22:17:06.6985844Z'
      x-ms-file-creation-time: '2022-04-29T22:17:06.6985844Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2022-04-29T22:17:06.6985844Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 8725144154719613152*15111010650564761710
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-type: File
      x-ms-version: '2021-06-08'
    status:
      code: 200
      message: OK
    url: https://jalauzoncanary.file.core.windows.net/utsharede841c73/filetoupdate
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://storagename.file.core.windows.net/utsharede841c73/testfile?se=2022-04-29T23%3A17%3A06Z&sp=r&sv=2021-06-08&sr=f&sig=xxx
      x-ms-date:
      - Fri, 29 Apr 2022 22:17:06 GMT
      x-ms-file-last-write-time:
      - Now
      x-ms-range:
      - bytes=0-511
      x-ms-source-range:
      - bytes=0-511
      x-ms-version:
      - '2021-06-08'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharede841c73/filetoupdate?comp=range
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA2A2DFF507071"'
      last-modified: Fri, 29 Apr 2022 22:17:07 GMT
      x-ms-content-crc64: EZA9hgZaRrQ=
      x-ms-file-last-write-time: '2022-04-29T22:17:07.1703153Z'
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.file.core.windows.net/utsharede841c73/filetoupdate?comp=range
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 29 Apr 2022 22:17:07 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://storagename.file.core.windows.net/utsharede841c73/filetoupdate
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8DA2A2DFF507071"'
      last-modified: Fri, 29 Apr 2022 22:17:07 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2022-04-29T22:17:07.1703153Z'
      x-ms-file-creation-time: '2022-04-29T22:17:06.6985844Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2022-04-29T22:17:07.1703153Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 8725144154719613152*15111010650564761710
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-type: File
      x-ms-version: '2021-06-08'
    status:
      code: 200
      message: OK
    url: https://jalauzoncanary.file.core.windows.net/utsharede841c73/filetoupdate
version: 1
