interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:50:51 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare4ee91033?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A15C0BEF92F"'
      last-modified: Wed, 15 Jan 2020 23:50:51 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utshare4ee91033
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '2048'
      x-ms-date:
      - Wed, 15 Jan 2020 23:50:51 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare4ee91033/file4ee91033
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A15C0DCFEE1"'
      last-modified: Wed, 15 Jan 2020 23:50:51 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-15T23:50:51.6913889Z'
      x-ms-file-creation-time: '2020-01-15T23:50:51.6913889Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-15T23:50:51.6913889Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 5724850820508509333*16704459309046467611
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utshare4ee91033/file4ee91033
        - ''
        - ''
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 15 Jan 2020 23:50:51 GMT
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare4ee91033/file4ee91033?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: pTsTLZHyQ+et6NksJ1OHxg==
      etag: '"0x8D79A15C0E4EF82"'
      last-modified: Wed, 15 Jan 2020 23:50:51 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utshare4ee91033/file4ee91033
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:50:51 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare4ee91033/file4ee91033?comp=rangelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>511</End></Range><Range><Start>1024</Start><End>1535</End></Range></Ranges>"
    headers:
      content-type: application/xml
      etag: '"0x8D79A15C0ECE023"'
      last-modified: Wed, 15 Jan 2020 23:50:51 GMT
      x-ms-content-length: '2048'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utshare4ee91033/file4ee91033
        - comp=rangelist
        - ''
version: 1
