interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 17 Sep 2019 23:53:22 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73BCA395C5D85"'
      Last-Modified:
      - Tue, 17 Sep 2019 23:53:22 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-09-17T23:53:22.8001669Z'
      x-ms-file-creation-time:
      - '2019-09-17T23:53:22.8001669Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-09-17T23:53:22.8001669Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 17913408918638655783*10394889115079208622
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 17 Sep 2019 23:53:22 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73BCA39642797"'
      Last-Modified:
      - Tue, 17 Sep 2019 23:53:22 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-09-17T23:53:22.8512151Z'
      x-ms-file-creation-time:
      - '2019-09-17T23:53:22.8512151Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2019-09-17T23:53:22.8512151Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 17913408918638655783*10394889115079208622
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 17 Sep 2019 23:53:22 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1%2Fsubdir1%2Fsubdir2?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73BCA396BCA90"'
      Last-Modified:
      - Tue, 17 Sep 2019 23:53:22 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-09-17T23:53:22.9012624Z'
      x-ms-file-creation-time:
      - '2019-09-17T23:53:22.9012624Z'
      x-ms-file-id:
      - '16140971433240035328'
      x-ms-file-last-write-time:
      - '2019-09-17T23:53:22.9012624Z'
      x-ms-file-parent-id:
      - '11529285414812647424'
      x-ms-file-permission-key:
      - 17913408918638655783*10394889115079208622
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Tue, 17 Sep 2019 23:53:23 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1/file1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73BCA397FF3B9"'
      Last-Modified:
      - Tue, 17 Sep 2019 23:53:23 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-09-17T23:53:23.0333881Z'
      x-ms-file-creation-time:
      - '2019-09-17T23:53:23.0333881Z'
      x-ms-file-id:
      - '14988049928633188352'
      x-ms-file-last-write-time:
      - '2019-09-17T23:53:23.0333881Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 4099112195243312672*10394889115079208622
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 17 Sep 2019 23:53:23 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - idkDvDXe3nJP1SxRQ3/1/Q==
      ETag:
      - '"0x8D73BCA3988CF76"'
      Last-Modified:
      - Tue, 17 Sep 2019 23:53:23 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Tue, 17 Sep 2019 23:53:23 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1/subdir1/file2
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73BCA3995A3D4"'
      Last-Modified:
      - Tue, 17 Sep 2019 23:53:23 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-09-17T23:53:23.1755220Z'
      x-ms-file-creation-time:
      - '2019-09-17T23:53:23.1755220Z'
      x-ms-file-id:
      - '12682206919419494400'
      x-ms-file-last-write-time:
      - '2019-09-17T23:53:23.1755220Z'
      x-ms-file-parent-id:
      - '11529285414812647424'
      x-ms-file-permission-key:
      - 4099112195243312672*10394889115079208622
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: data2
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 17 Sep 2019 23:53:23 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1/subdir1/file2?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - /5zy1pDYiMszf2v0UmthMA==
      ETag:
      - '"0x8D73BCA39A362C8"'
      Last-Modified:
      - Tue, 17 Sep 2019 23:53:23 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 17 Sep 2019 23:53:23 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshare9681172a\"
        DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Dec 2019 20:02:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshare9681172a\"
        DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
