{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/testshare3ed9b2c14?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 07 Oct 2022 22:25:04 GMT",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-root-squash": "RootSquash",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA8B2C925C227\u0022",
        "Last-Modified": "Fri, 07 Oct 2022 22:25:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/testshare3ed9b2c14?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 07 Oct 2022 22:25:06 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA8B2C925C227\u0022",
        "Last-Modified": "Fri, 07 Oct 2022 22:25:05 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "RootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Fri, 07 Oct 2022 22:25:05 GMT",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/testshare3ed9b2c14?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 07 Oct 2022 22:25:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
