interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:55:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share1e691d71?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A1658BE76B6"'
      last-modified: Wed, 15 Jan 2020 23:55:06 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /share1e691d71
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:55:06 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share1e691d71/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A1658C5D43F"'
      last-modified: Wed, 15 Jan 2020 23:55:06 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2020-01-15T23:55:06.5532479Z'
      x-ms-file-creation-time: '2020-01-15T23:55:06.5532479Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-15T23:55:06.5532479Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 10306785916763839378*16704459309046467611
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /share1e691d71/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Wed, 15 Jan 2020 23:55:06 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share1e691d71/filea1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A1658CE8859"'
      last-modified: Wed, 15 Jan 2020 23:55:06 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-15T23:55:06.6102873Z'
      x-ms-file-creation-time: '2020-01-15T23:55:06.6102873Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2020-01-15T23:55:06.6102873Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 5724850820508509333*16704459309046467611
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /share1e691d71/filea1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 15 Jan 2020 23:55:06 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share1e691d71/filea1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: Ahu8fuILcRNNU+ICBr1v6w==
      etag: '"0x8D79A1658D7D8C5"'
      last-modified: Wed, 15 Jan 2020 23:55:06 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /share1e691d71/filea1
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Wed, 15 Jan 2020 23:55:06 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share1e691d71/fileb1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A1658FC2FFA"'
      last-modified: Wed, 15 Jan 2020 23:55:06 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-15T23:55:06.9094906Z'
      x-ms-file-creation-time: '2020-01-15T23:55:06.9094906Z'
      x-ms-file-id: '14988049928633188352'
      x-ms-file-last-write-time: '2020-01-15T23:55:06.9094906Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 5724850820508509333*16704459309046467611
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /share1e691d71/fileb1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 15 Jan 2020 23:55:06 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share1e691d71/fileb1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: Ahu8fuILcRNNU+ICBr1v6w==
      etag: '"0x8D79A1659024B7C"'
      last-modified: Wed, 15 Jan 2020 23:55:06 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /share1e691d71/fileb1
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:55:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/share1e691d71?maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"share1e691d71\"
        DirectoryPath=\"\"><MaxResults>2</MaxResults><Entries><Directory><Name>dir1</Name><Properties
        /></Directory><File><Name>filea1</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEy</NextMarker></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /share1e691d71
        - maxresults=2&restype=directory&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:55:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share1e691d71</Name><Properties><Last-Modified>Wed,
        15 Jan 2020 23:55:06 GMT</Last-Modified><Etag>\"0x8D79A1658BE76B6\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /
        - include=snapshots&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:55:07 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share1e691d71?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /share1e691d71
        - restype=share
        - ''
version: 1
