interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Mar 2022 18:57:08 GMT
      x-ms-version:
      - '2021-04-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/share729d1af2?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA0911192C0325"'
      last-modified:
      - Fri, 18 Mar 2022 18:57:06 GMT
      x-ms-version:
      - '2021-04-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Mar 2022 18:57:08 GMT
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&include=snapshots
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share729d1af2</Name><Properties><Last-Modified>Fri,
        18 Mar 2022 18:57:06 GMT</Last-Modified><Etag>\"0x8DA0911192C0325\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri,
        18 Mar 2022 18:57:06 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-04-10'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 18 Mar 2022 18:57:08 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2021-04-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share729d1af2?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-04-10'
    status:
      code: 202
      message: Accepted
version: 1
