{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareea2526ef?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 05 Oct 2022 22:14:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA71EF033E71B\u0022",
        "Last-Modified": "Wed, 05 Oct 2022 22:14:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareea2526ef/fileea2526ef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-date": "Wed, 05 Oct 2022 22:14:14 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA71EF04CA640\u0022",
        "Last-Modified": "Wed, 05 Oct 2022 22:14:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-10-05T22:14:14.8759104Z",
        "x-ms-file-creation-time": "2022-10-05T22:14:14.8759104Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-10-05T22:14:14.8759104Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3254952746172754359*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareea2526ef?restype=share\u0026comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 05 Oct 2022 22:14:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA71EF033E71B\u0022",
        "Last-Modified": "Wed, 05 Oct 2022 22:14:14 GMT",
        "x-ms-snapshot": "2022-10-05T22:14:14.0000000Z",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareea2526ef/fileea2526ef?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 05 Oct 2022 22:14:14 GMT",
        "x-ms-range": "bytes=0-1535",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWF[...]
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareea2526ef/fileea2526ef?comp=rangelist\u0026prevsharesnapshot=2022-10-05T22%3A14%3A14.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 05 Oct 2022 22:14:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DAA71EF08DC46F\u0022",
        "Last-Modified": "Wed, 05 Oct 2022 22:14:15 GMT",
        "x-ms-content-length": "2048",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CRanges\u003E\u003CRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E511\u003C/End\u003E\u003C/Range\u003E\u003CClearRange\u003E\u003CStart\u003E512\u003C/Start\u003E\u003CEnd\u003E1023\u003C/End\u003E\u003C/ClearRange\u003E\u003CRange\u003E\u003CStart\u003E1024\u003C/Start\u003E\u003CEnd\u003E1535\u003C/End\u003E\u003C/Range\u003E\u003C/Ranges\u003E"
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareea2526ef/fileea2526ef?comp=rangelist\u0026prevsharesnapshot=2022-10-05T22%3A14%3A15.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 05 Oct 2022 22:14:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DAA71EF08DC46F\u0022",
        "Last-Modified": "Wed, 05 Oct 2022 22:14:15 GMT",
        "x-ms-content-length": "2048",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CRanges\u003E\u003CClearRange\u003E\u003CStart\u003E512\u003C/Start\u003E\u003CEnd\u003E1023\u003C/End\u003E\u003C/ClearRange\u003E\u003C/Ranges\u003E"
    }
  ],
  "Variables": {}
}
