interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '2048'
      x-ms-date:
      - Tue, 17 Sep 2019 23:57:35 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharea5a50b39/filea5a50b39
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73BCACFD14B49"'
      Last-Modified:
      - Tue, 17 Sep 2019 23:57:35 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-09-17T23:57:35.2247113Z'
      x-ms-file-creation-time:
      - '2019-09-17T23:57:35.2247113Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-09-17T23:57:35.2247113Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 4099112195243312672*10394889115079208622
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 17 Sep 2019 23:57:35 GMT
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharea5a50b39/filea5a50b39?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - pTsTLZHyQ+et6NksJ1OHxg==
      ETag:
      - '"0x8D73BCACFD82AC7"'
      Last-Modified:
      - Tue, 17 Sep 2019 23:57:35 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 17 Sep 2019 23:57:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utsharea5a50b39/filea5a50b39?comp=rangelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>511</End></Range><Range><Start>1024</Start><End>1535</End></Range></Ranges>"
    headers:
      Content-Type:
      - application/xml
      ETag:
      - '"0x8D73BCACFDE46C6"'
      Last-Modified:
      - Tue, 17 Sep 2019 23:57:35 GMT
      x-ms-content-length:
      - '2048'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Dec 2019 20:04:17 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utsharea5a50b39/filea5a50b39?comp=rangelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>511</End></Range><Range><Start>1024</Start><End>1535</End></Range></Ranges>"
    headers:
      Content-Type:
      - application/xml
      ETag:
      - '"0x8D77F3E7A2AE3A0"'
      Last-Modified:
      - Thu, 12 Dec 2019 20:04:21 GMT
      x-ms-content-length:
      - '2048'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
