interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:53:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharea5f30b66?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D79A16235475D5"'
      last-modified:
      - Wed, 15 Jan 2020 23:53:36 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:53:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share845511b4</Name><Properties><Last-Modified>Wed,
        15 Jan 2020 23:53:36 GMT</Last-Modified><Etag>\"0x8D79A1622CF6EFB\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>sharea5f30b66</Name><Properties><Last-Modified>Wed,
        15 Jan 2020 23:53:36 GMT</Last-Modified><Etag>\"0x8D79A16235475D5\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>utshare10f21950</Name><Properties><Last-Modified>Wed,
        15 Jan 2020 23:44:04 GMT</Last-Modified><Etag>\"0x8D79A14CDE0D81F\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>utshare11ad1942</Name><Properties><Last-Modified>Wed,
        15 Jan 2020 23:44:22 GMT</Last-Modified><Etag>\"0x8D79A14D8FD59E3\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>utshare12e81d12</Name><Properties><Last-Modified>Wed,
        15 Jan 2020 23:53:32 GMT</Last-Modified><Etag>\"0x8D79A1620F9D51C\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>utshare14271500</Name><Snapshot>2020-01-15T23:43:51.0000000Z</Snapshot><Properties><Last-Modified>Wed,
        15 Jan 2020 23:43:51 GMT</Last-Modified><Etag>\"0x8D79A14C686D3CB\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>utshare14271500</Name><Properties><Last-Modified>Wed,
        15 Jan 2020 23:43:51 GMT</Last-Modified><Etag>\"0x8D79A14C686D3CB\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>utshare14f20f16</Name><Properties><Last-Modified>Wed,
        15 Jan 2020 23:43:50 GMT</Last-Modified><Et[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:53:37 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share845511b4?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:53:37 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/utshare10f21950?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:54:15 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/utshareff014ac?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
version: 1
