interactions:
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Hot
      x-ms-date:
      - Thu, 08 Oct 2020 05:52:49 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/share1f5414e2?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D86B4E63AB399D"'
      last-modified: Thu, 08 Oct 2020 05:52:49 GMT
      x-ms-version: '2020-02-10'
    status:
      code: 201
      message: Created
    url: https://seanmcccanary3.file.core.windows.net/share1f5414e2?restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 08 Oct 2020 05:52:49 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/share1f5414e2?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D86B4E63AB399D"'
      last-modified: Thu, 08 Oct 2020 05:52:49 GMT
      x-ms-access-tier: Hot
      x-ms-access-tier-change-time: Thu, 08 Oct 2020 05:52:49 GMT
      x-ms-has-immutability-policy: 'false'
      x-ms-has-legal-hold: 'false'
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-share-quota: '5120'
      x-ms-version: '2020-02-10'
    status:
      code: 200
      message: OK
    url: https://seanmcccanary3.file.core.windows.net/share1f5414e2?restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 08 Oct 2020 05:52:49 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share1816f1171</Name><Properties><Last-Modified>Fri,
        11 Sep 2020 00:43:37 GMT</Last-Modified><Etag>\"0x8D855EBB87CFF33\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri,
        11 Sep 2020 00:43:37 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share182b3117d</Name><Properties><Last-Modified>Fri,
        11 Sep 2020 00:44:44 GMT</Last-Modified><Etag>\"0x8D855EBE0710239\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri,
        11 Sep 2020 00:44:44 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 08 Oct 2020 05:52:49 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share1816f1171?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:076f3607-c01a-0082-2037-9d9b7c000000\nTime:2020-10-08T05:52:50.0094491Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/share1816f1171?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 08 Oct 2020 05:52:50 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharerestorecb2f1317?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:076f361b-c01a-0082-3337-9d9b7c000000\nTime:2020-10-08T05:52:51.0231695Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/sharerestorecb2f1317?restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 08 Oct 2020 05:52:50 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharesamples5?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:076f361c-c01a-0082-3437-9d9b7c000000\nTime:2020-10-08T05:52:51.0912174Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/sharesamples5?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 08 Oct 2020 05:52:51 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/test-share-1200db32-dbe6-47c3-8fdc-badfe55a17f7?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:076f3621-c01a-0082-3837-9d9b7c000000\nTime:2020-10-08T05:52:51.2883579Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/test-share-1200db32-dbe6-47c3-8fdc-badfe55a17f7?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 08 Oct 2020 05:52:51 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/test16185160b?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:076f3631-c01a-0082-4837-9d9b7c000000\nTime:2020-10-08T05:52:52.1499698Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/test16185160b?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 08 Oct 2020 05:52:53 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/testf69713fa?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:076f364b-c01a-0082-6137-9d9b7c000000\nTime:2020-10-08T05:52:53.7150823Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/testf69713fa?restype=share
version: 1
