interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 13 Nov 2020 22:18:32 GMT
      x-ms-enabled-protocols:
      - NFS
      x-ms-root-squash:
      - AllSquash
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.file.core.windows.net/testshare15df31aa6?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D888220F26CF6C"'
      last-modified: Fri, 13 Nov 2020 22:18:33 GMT
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://seancanarypremiumfile2.file.core.windows.net/testshare15df31aa6?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 13 Nov 2020 22:18:33 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>testshare15df31aa6</Name><Properties><Last-Modified>Fri,
        13 Nov 2020 22:18:33 GMT</Last-Modified><Etag>\"0x8D888220F26CF6C\"</Etag><Quota>100</Quota><EnabledProtocols>NFS</EnabledProtocols><RootSquash>AllSquash</RootSquash><AccessTier>Premium</AccessTier><ProvisionedIops>500</ProvisionedIops><ProvisionedIngressMBps>44</ProvisionedIngressMBps><ProvisionedEgressMBps>66</ProvisionedEgressMBps><NextAllowedQuotaDowngradeTime>Fri,
        13 Nov 2020 22:18:33 GMT</NextAllowedQuotaDowngradeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>testshare25df31aa6</Name><Properties><Last-Modified>Fri,
        13 Nov 2020 22:18:33 GMT</Last-Modified><Etag>\"0x8D888220F38FB50\"</Etag><Quota>100</Quota><EnabledProtocols>SMB</EnabledProtocols><AccessTier>Premium</AccessTier><ProvisionedIops>500</ProvisionedIops><ProvisionedIngressMBps>44</ProvisionedIngressMBps><ProvisionedEgressMBps>66</ProvisionedEgressMBps><NextAllowedQuotaDowngradeTime>Fri,
        13 Nov 2020 22:18:33 GMT</NextAllowedQuotaDowngradeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2020-04-08'
    status:
      code: 200
      message: OK
    url: https://seancanarypremiumfile2.file.core.windows.net/?include=&comp=list
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 13 Nov 2020 22:18:33 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>testshare15df31aa6</Name><Properties><Last-Modified>Fri,
        13 Nov [...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 13 Nov 2020 22:18:33 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-04-08'
    method: DELETE
    uri: https://storagename.file.core.windows.net/testshare15df31aa6?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2020-04-08'
    status:
      code: 202
      message: Accepted
    url: https://seancanarypremiumfile2.file.core.windows.net/testshare15df31aa6?restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 13 Nov 2020 22:18:33 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-04-08'
    method: DELETE
    uri: https://storagename.file.core.windows.net/testshare25df31aa6?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2020-04-08'
    status:
      code: 202
      message: Accepted
    url: https://seancanarypremiumfile2.file.core.windows.net/testshare25df31aa6?restype=share
version: 1
