{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/listshare060b33191?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 07 Oct 2022 21:09:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA8A82943639A\u0022",
        "Last-Modified": "Fri, 07 Oct 2022 21:09:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/?comp=list\u0026prefix=listshare\u0026maxresults=2\u0026include=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 07 Oct 2022 21:09:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://storagename.file.core.windows.net/\u0022\u003E\u003CPrefix\u003Elistshare\u003C/Prefix\u003E\u003CMaxResults\u003E2\u003C/MaxResults\u003E\u003CShares\u003E\u003CShare\u003E\u003CName\u003Elistshare060b33191\u003C/Name\u003E\u003CProperties\u003E\u003CLast-Modified\u003EFri, 07 Oct[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/?comp=list\u0026prefix=listshare\u0026marker=%2Fstoragename%2Flistshare260b33191\u0026maxresults=2\u0026include=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 07 Oct 2022 21:09:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
 [...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/?comp=list\u0026include=snapshots",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Fri, 07 Oct 2022 21:09:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encodin[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/listshare060b33191?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 07 Oct 2022 21:09:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/test14c92c18?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 07 Oct 2022 21:09:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMissing\u003C/Code\u003E\u003CMessage\u003EThere is currently a lease on the file share and no lease ID was specified in the request.\n",
        "RequestId:b32d46b1-301a-0050-6d91-da8ff0000000\n",
        "Time:2022-10-07T21:09:03.7974338Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/testff0c2e44?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Fri, 07 Oct 2022 21:09:03 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMissing\u003C/Code\u003E\u003CMessage\u003EThere is currently a lease on the file share and no lease ID was specified in the request.\n",
        "RequestId:b32d46b8-301a-0050-7491-da8ff0000000\n",
        "Time:2022-10-07T21:09:04.4330698Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
