{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare692368c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 01 Feb 2023 00:09:21 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E875EEB074\u0022",
        "Last-Modified": "Wed, 01 Feb 2023 00:08:34 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare692368c/file692368c.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 01 Feb 2023 00:09:22 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E876161968\u0022",
        "Last-Modified": "Wed, 01 Feb 2023 00:08:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-02-01T00:08:35.1512936Z",
        "x-ms-file-creation-time": "2023-02-01T00:08:35.1512936Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-02-01T00:08:35.1512936Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6195413519394405181*13244350442060319835",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare692368c/file692368c.",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 01 Feb 2023 00:09:22 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
