{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare233230cb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 22:51:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1A4066F3291\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:51:48 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare233230cb/%E5%95%8A%E9%BD%84%E4%B8%82%E7%8B%9B%E7%8B%9C",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 28 Sep 2022 22:51:49 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1A40682B28B\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:51:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-09-28T22:51:48.2283659Z",
        "x-ms-file-creation-time": "2022-09-28T22:51:48.2283659Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T22:51:48.2283659Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3254952746172754359*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare233230cb/%E5%95%8A%E9%BD%84%E4%B8%82%E7%8B%9B%E7%8B%9C?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 22:51:49 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1A40682B28B\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:51:48 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare233230cb/%E5%95%8A%E9%BD%84%E4%B8%82%E7%8B%9B%E7%8B%9C",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "11",
        "x-ms-date": "Wed, 28 Sep 2022 22:51:49 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMissing\u003C/Code\u003E\u003CMessage\u003EThere is currently a lease on the file and no lease ID was specified in the request.\n",
        "RequestId:93485c3a-f01a-004f-7d8c-d33cf4000000\n",
        "Time:2022-09-28T22:51:48.4263843Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare233230cb/%E5%95%8A%E9%BD%84%E4%B8%82%E7%8B%9B%E7%8B%9C?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 28 Sep 2022 22:51:49 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-range": "bytes=0-10",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "aGVsbG8gd29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XrY7u\u002BAe7tCTyyK7j1rNww==",
        "ETag": "\u00220x8DAA1A406C00095\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:51:48 GMT",
        "x-ms-file-last-write-time": "2022-09-28T22:51:48.6301333Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare233230cb/%E5%95%8A%E9%BD%84%E4%B8%82%E7%8B%9B%E7%8B%9C",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 22:51:50 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-10/11",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAA1A406C00095\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:51:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-09-28T22:51:48.6301333Z",
        "x-ms-file-creation-time": "2022-09-28T22:51:48.5271927Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T22:51:48.6301333Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3254952746172754359*9622787259914961209",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "aGVsbG8gd29ybGQ="
    }
  ],
  "Variables": {}
}
