interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare10f21950?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D79A14CDE0D81F"'
      last-modified:
      - Wed, 15 Jan 2020 23:44:04 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:04 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare10f21950/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D79A14CDEF25AB"'
      last-modified:
      - Wed, 15 Jan 2020 23:44:04 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2020-01-15T23:44:04.1239979Z'
      x-ms-file-creation-time:
      - '2020-01-15T23:44:04.1239979Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2020-01-15T23:44:04.1239979Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 10306785916763839378*16704459309046467611
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:04 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare10f21950/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D79A14CE00B4EA"'
      last-modified:
      - Wed, 15 Jan 2020 23:44:04 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2020-01-15T23:44:04.2390762Z'
      x-ms-file-creation-time:
      - '2020-01-15T23:44:04.2390762Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2020-01-15T23:44:04.2390762Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 10306785916763839378*16704459309046467611
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:04 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare10f21950/dir1/file1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D79A14CE2ED1CB"'
      last-modified:
      - Wed, 15 Jan 2020 23:44:04 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2020-01-15T23:44:04.5412811Z'
      x-ms-file-creation-time:
      - '2020-01-15T23:44:04.5412811Z'
      x-ms-file-id:
      - '14988049928633188352'
      x-ms-file-last-write-time:
      - '2020-01-15T23:44:04.5412811Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 5724850820508509333*16704459309046467611
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:04 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare10f21950/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - idkDvDXe3nJP1SxRQ3/1/Q==
      etag:
      - '"0x8D79A14CE3B2FF9"'
      last-modified:
      - Wed, 15 Jan 2020 23:44:04 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare10f21950/dir1?prefix=sub&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshare10f21950\"
        DirectoryPath=\"dir1\"><Prefix>sub</Prefix><Entries><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory><Directory><Name>subdir3</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
