interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 22 Sep 2022 23:47:49 GMT
      x-ms-version:
      - '2021-12-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare5d761a66?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA9CF4DB59FCF4"'
      last-modified:
      - Thu, 22 Sep 2022 23:47:49 GMT
      x-ms-version:
      - '2021-12-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 22 Sep 2022 23:47:49 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-12-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare5d761a66/%EF%BF%BFdirectory?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA9CF4DB6EE788"'
      last-modified:
      - Thu, 22 Sep 2022 23:47:49 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2022-09-22T23:47:49.3778312Z'
      x-ms-file-creation-time:
      - '2022-09-22T23:47:49.3778312Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2022-09-22T23:47:49.3778312Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 17890999755949055624*8424394211336681673
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-12-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 22 Sep 2022 23:47:49 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-12-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare5d761a66/%EF%BF%BFdirectory%2F%EF%BF%BFsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA9CF4DB7C0721"'
      last-modified:
      - Thu, 22 Sep 2022 23:47:49 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2022-09-22T23:47:49.4638369Z'
      x-ms-file-creation-time:
      - '2022-09-22T23:47:49.4638369Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2022-09-22T23:47:49.4638369Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 17890999755949055624*8424394211336681673
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-12-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Thu, 22 Sep 2022 23:47:49 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2021-12-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare5d761a66/%EF%BF%BFdirectory/%EF%BF%BFfile
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DA9CF4DB8D9350"'
      last-modified:
      - Thu, 22 Sep 2022 23:47:49 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2022-09-22T23:47:49.5788368Z'
      x-ms-file-creation-time:
      - '2022-09-22T23:47:49.5788368Z'
      x-ms-file-id:
      - '16140971433240035328'
      x-ms-file-last-write-time:
      - '2022-09-22T23:47:49.5788368Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 10871285626468601775*8424394211336681673
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-12-02'
    status:
      code: 201
      message: Created
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 22 Sep 2022 23:47:49 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2021-12-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare5d761a66/%EF%BF%BFdirectory/%EF%BF%BFfile?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - idkDvDXe3nJP1SxRQ3/1/Q==
      etag:
      - '"0x8DA9CF4DB9CD5AA"'
      last-modified:
      - Thu, 22 Sep 2022 23:47:49 GMT
      x-ms-file-last-write-time:
      - '2022-09-22T23:47:49.6788394Z'
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-12-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 22 Sep 2022 23:47:49 GMT
      x-ms-version:
      - '2021-12-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare5d761a66/%EF%BF%BFdirectory?restype=directory&comp=list&prefix=%EF%BF%BF
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshare5d761a66\"
        Encoded=\"true\" DirectoryPath=\"%EF%BF%BFdirectory\"><Prefix Encoded=\"true\">%EF%BF%BF</Prefix><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name
        Encoded=\"true\">%EF%BF%BFfile</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name
        Encoded=\"true\">%EF%BF%BFsubdir1</Name><FileId>11529285414812647424</FileId><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-12-02'
    status:
      code: 200
      message: OK
version: 1
