interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:40:59 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share240e1523?restype=share
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Sat, 03 Aug 2019 21:40:57 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7185B45B0FE71"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Sat, 03 Aug 2019 21:40:58 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share240e1523
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:40:59 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share240e1523</Name><Properties><Last-Modified>Sat,
        03 Aug 2019 21:40:58 GMT</Last-Modified><Etag>\"0x8D7185B45B0FE71\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Sat, 03 Aug 2019 21:40:57 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /
        - include=&comp=list
        - ''
version: 1
