interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share852b11ba?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793D5381B6D9D"'
      last-modified: Wed, 08 Jan 2020 00:53:47 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /share852b11ba
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/share852b11ba?restype=share&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><ShareStats><ShareUsageBytes>0</ShareUsageBytes></ShareStats>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /share852b11ba
        - restype=share&comp=stats
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share852b11ba</Name><Properties><Last-Modified>Wed,
        08 Jan 2020 00:53:47 GMT</Last-Modified><Etag>\"0x8D793D5381B6D9D\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /
        - include=snapshots&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:48 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share852b11ba?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /share852b11ba
        - restype=share
        - ''
version: 1
