interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:33:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E39120A3D54"'
      last-modified:
      - Tue, 31 Dec 2019 21:33:26 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:33:26 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E39121B7369"'
      last-modified:
      - Tue, 31 Dec 2019 21:33:26 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-12-31T21:33:26.4283497Z'
      x-ms-file-creation-time:
      - '2019-12-31T21:33:26.4283497Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-12-31T21:33:26.4283497Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 10082958551116444682*16372549965422257027
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Tue, 31 Dec 2019 21:33:26 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/filea1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E391226C013"'
      last-modified:
      - Tue, 31 Dec 2019 21:33:26 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-12-31T21:33:26.5024019Z'
      x-ms-file-creation-time:
      - '2019-12-31T21:33:26.5024019Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2019-12-31T21:33:26.5024019Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 5446561910063237901*16372549965422257027
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 31 Dec 2019 21:33:26 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/filea1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      etag:
      - '"0x8D78E3912312244"'
      last-modified:
      - Tue, 31 Dec 2019 21:33:26 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Tue, 31 Dec 2019 21:33:26 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/fileb1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E39126497C4"'
      last-modified:
      - Tue, 31 Dec 2019 21:33:26 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-12-31T21:33:26.9076932Z'
      x-ms-file-creation-time:
      - '2019-12-31T21:33:26.9076932Z'
      x-ms-file-id:
      - '14988049928633188352'
      x-ms-file-last-write-time:
      - '2019-12-31T21:33:26.9076932Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 5446561910063237901*16372549965422257027
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 31 Dec 2019 21:33:26 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/fileb1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      etag:
      - '"0x8D78E39126F210A"'
      last-modified:
      - Tue, 31 Dec 2019 21:33:26 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:33:26 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/shared84a1877?maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"shared84a1877\"
        DirectoryPath=\"\"><MaxResults>2</MaxResults><Entries><Directory><Name>dir1</Name><Properties
        /></Directory><File><Name>filea1</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEy</NextMarker></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:33:27 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>shared84a1877</Name><Properties><Last-Modified>Tue,
        31 Dec 2019 21:33:26 GMT</Last-Modified><Etag>\"0x8D78E39120A3D54\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:33:27 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/shared84a1877?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
version: 1
