interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:44 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share851111bc?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793D536346BF8"'
      last-modified: Wed, 08 Jan 2020 00:53:44 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /share851111bc
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:44 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share851111bc?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793D536346BF8"'
      last-modified: Wed, 08 Jan 2020 00:53:44 GMT
      x-ms-snapshot: '2020-01-08T00:53:44.0000000Z'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /share851111bc
        - restype=share&comp=snapshot
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:44 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share851111bc?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareHasSnapshots</Code><Message>The
        share has snapshots and the operation requires no snapshots.\nRequestId:35b907f6-301a-010d-77be-c50192000000\nTime:2020-01-08T00:53:44.3817455Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: ShareHasSnapshots
      x-ms-version: '2019-02-02'
    status:
      code: 409
      message: The share has snapshots and the operation requires no snapshots.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /share851111bc
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:44 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share851111bc?sharesnapshot=2020-01-08T00:53:44.0000000Z&restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /share851111bc
        - sharesnapshot=2020-01-08T00:53:44.0000000Z&restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share851111bc</Name><Properties><Last-Modified>Wed,
        08 Jan 2020 00:53:44 GMT</Last-Modified><Etag>\"0x8D793D536346BF8\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /
        - include=snapshots&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:45 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share851111bc?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /share851111bc
        - restype=share
        - ''
version: 1
