{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareaa7b40e3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 25 Jan 2023 01:44:17 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE7594481BB2\u0022",
        "Last-Modified": "Wed, 25 Jan 2023 01:43:37 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareaa7b40e3/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 25 Jan 2023 01:44:18 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE7595190046\u0022",
        "Last-Modified": "Wed, 25 Jan 2023 01:43:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-01-25T01:43:39.2418886Z",
        "x-ms-file-creation-time": "2023-01-25T01:43:39.2418886Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-01-25T01:43:39.2418886Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8792472798472242479*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareaa7b40e3/dir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 25 Jan 2023 01:44:20 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE7595190046\u0022",
        "Last-Modified": "Wed, 25 Jan 2023 01:43:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-01-25T01:43:39.2418886Z",
        "x-ms-file-creation-time": "2023-01-25T01:43:39.2418886Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-01-25T01:43:39.2418886Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8792472798472242479*1359530181238362790",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareaa7b40e3/dir1?restype=directory\u0026comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 25 Jan 2023 01:44:20 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "preserve",
        "x-ms-file-last-write-time": "preserve",
        "x-ms-file-permission": "preserve",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE759566ED87\u0022",
        "Last-Modified": "Wed, 25 Jan 2023 01:43:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-01-25T01:43:39.7525895Z",
        "x-ms-file-creation-time": "2023-01-25T01:43:39.2418886Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-01-25T01:43:39.2418886Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8792472798472242479*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareaa7b40e3/dir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 25 Jan 2023 01:44:20 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE759566ED87\u0022",
        "Last-Modified": "Wed, 25 Jan 2023 01:43:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-01-25T01:43:39.7525895Z",
        "x-ms-file-creation-time": "2023-01-25T01:43:39.2418886Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-01-25T01:43:39.2418886Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8792472798472242479*1359530181238362790",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
