interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:40 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FF098584187"'
      last-modified: Fri, 03 Jan 2020 01:59:40 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share8ecc1b3e
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:40 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FF098618EF0"'
      last-modified: Fri, 03 Jan 2020 01:59:40 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2020-01-03T01:59:40.7667952Z'
      x-ms-file-creation-time: '2020-01-03T01:59:40.7667952Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-03T01:59:40.7667952Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 14921403822832038700*12090018390305186981
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share8ecc1b3e/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:40 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1%2Fpref_dir3?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FF09866E719"'
      last-modified: Fri, 03 Jan 2020 01:59:40 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2020-01-03T01:59:40.8018201Z'
      x-ms-file-creation-time: '2020-01-03T01:59:40.8018201Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2020-01-03T01:59:40.8018201Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 14921403822832038700*12090018390305186981
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share8ecc1b3e/dir1%2Fpref_dir3
        - restype=directory
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:40 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/file1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FF09871221E"'
      last-modified: Fri, 03 Jan 2020 01:59:40 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-03T01:59:40.8688670Z'
      x-ms-file-creation-time: '2020-01-03T01:59:40.8688670Z'
      x-ms-file-id: '10376363910205800448'
      x-ms-file-last-write-time: '2020-01-03T01:59:40.8688670Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 1110339524169911339*12090018390305186981
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share8ecc1b3e/file1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:41 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: Ahu8fuILcRNNU+ICBr1v6w==
      etag: '"0x8D78FF0987764D1"'
      last-modified: Fri, 03 Jan 2020 01:59:40 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share8ecc1b3e/file1
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:41 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1/pref_file2
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FF0987C2099"'
      last-modified: Fri, 03 Jan 2020 01:59:40 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-03T01:59:40.9409177Z'
      x-ms-file-creation-time: '2020-01-03T01:59:40.9409177Z'
      x-ms-file-id: '14988049928633188352'
      x-ms-file-last-write-time: '2020-01-03T01:59:40.9409177Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 1110339524169911339*12090018390305186981
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share8ecc1b3e/dir1/pref_file2
        - ''
        - ''
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:41 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1/pref_file2?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: grijQ0kEQRqf3EPKh87nDA==
      etag: '"0x8D78FF09881037F"'
      last-modified: Fri, 03 Jan 2020 01:59:40 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share8ecc1b3e/dir1/pref_file2
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:41 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1/file3
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FF098871F14"'
      last-modified: Fri, 03 Jan 2020 01:59:41 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-03T01:59:41.0129684Z'
      x-ms-file-creation-time: '2020-01-03T01:59:41.0129684Z'
      x-ms-file-id: '12682206919419494400'
      x-ms-file-last-write-time: '2020-01-03T01:59:41.0129684Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 1110339524169911339*12090018390305186981
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share8ecc1b3e/dir1/file3
        - ''
        - ''
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:41 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1/file3?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: grijQ0kEQRqf3EPKh87nDA==
      etag: '"0x8D78FF0988C290F"'
      last-modified: Fri, 03 Jan 2020 01:59:41 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share8ecc1b3e/dir1/file3
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1?prefix=pref&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"share8ecc1b3e\"
        DirectoryPath=\"dir1\"><Prefix>pref</Prefix><Entries><Directory><Name>pref_dir3</Name><Properties
        /></Directory><File><Name>pref_file2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share8ecc1b3e/dir1
        - prefix=pref&restype=directory&comp=list
        - ''
version: 1
