interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Dec 2019 00:30:18 GMT
      x-ms-recursive:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.file.core.windows.net/test?comp=listhandles
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults><Entries><Handle><HandleId>31248616657</HandleId><Path
        /><FileId>0</FileId><ParentId>0</ParentId><SessionId>9479483953728458157</SessionId><ClientIp>167.220.2.5:3263</ClientIp><OpenTime>Tue,
        10 Dec 2019 00:24:30 GMT</OpenTime></Handle><Handle><HandleId>31248616663</HandleId><Path
        /><FileId>0</FileId><ParentId>0</ParentId><SessionId>9479483953728458157</SessionId><ClientIp>167.220.2.5:3263</ClientIp><OpenTime>Tue,
        10 Dec 2019 00:29:52 GMT</OpenTime></Handle></Entries><NextMarker /></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Tue, 10 Dec 2019 00:30:18 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      x-ms-version: '2019-07-07'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - http
        - emilystageaccount.file.core.windows.net
        - /test
        - comp=listhandles
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Dec 2019 00:30:18 GMT
      x-ms-handle-id:
      - '*'
      x-ms-recursive:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.file.core.windows.net/test?comp=forceclosehandles
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Tue, 10 Dec 2019 00:30:18 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-number-of-handles-closed: '2'
      x-ms-number-of-handles-failed: '0'
      x-ms-version: '2019-07-07'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - http
        - emilystageaccount.file.core.windows.net
        - /test
        - comp=forceclosehandles
        - ''
version: 1
