interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:16:51 GMT
      x-ms-meta:
      - '{''test1'': ''foo'', ''test2'': ''bar''}'
      x-ms-meta-test1:
      - foo
      x-ms-meta-test2:
      - bar
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharea910127e?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73BCD80E4C7CA"'
      Last-Modified:
      - Wed, 18 Sep 2019 00:16:51 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:16:51 GMT
      x-ms-meta-test100:
      - foo100
      x-ms-meta-test200:
      - bar200
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharea910127e?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73BCD80B69B80"'
      Last-Modified:
      - Wed, 18 Sep 2019 00:16:51 GMT
      x-ms-snapshot:
      - '2019-09-18T00:16:51.0000000Z'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:16:51 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/sharea910127e?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73BCD80E4C7CA"'
      Last-Modified:
      - Wed, 18 Sep 2019 00:16:51 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-meta-test1:
      - foo
      x-ms-meta-test2:
      - bar
      x-ms-share-quota:
      - '5120'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:16:51 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/sharea910127e?sharesnapshot=2019-09-18T00:16:51.0000000Z&restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73BCD80B69B80"'
      Last-Modified:
      - Wed, 18 Sep 2019 00:16:51 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-meta-test100:
      - foo100
      x-ms-meta-test200:
      - bar200
      x-ms-share-quota:
      - '5120'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:16:51 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>sharea910127e</Name><Snapshot>2019-09-18T00:16:51.0000000Z</Snapshot><Properties><Last-Modified>Wed,
        18 Sep 2019 00:16:51 GMT</Last-Modified><Etag>\"0x8D73BCD80B69B80\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>sharea910127e</Name><Properties><Last-Modified>Wed,
        18 Sep 2019 00:16:51 GMT</Last-Modified><Etag>\"0x8D73BCD80E4C7CA\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:16:51 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharea910127e?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:16:51 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharea910127e?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareBeingDeleted</Code><Message>The
        specified share is being deleted. Try operation later.\nRequestId:9b0a0f45-901a-000a-51b6-6df743000000\nTime:2019-09-18T00:16:51.6808629Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - ShareBeingDeleted
      x-ms-version:
      - '2019-02-02'
    status:
      code: 409
      message: The specified share is being deleted. Try operation later.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Dec 2019 20:07:48 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharea910127e?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
version: 1
