{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare86d03377?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 25 Jan 2023 00:14:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE691459F9F1\u0022",
        "Last-Modified": "Wed, 25 Jan 2023 00:14:09 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare86d03377/file86d03377",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 25 Jan 2023 00:14:50 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE6914FB7A38\u0022",
        "Last-Modified": "Wed, 25 Jan 2023 00:14:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-01-25T00:14:10.3392824Z",
        "x-ms-file-creation-time": "2023-01-25T00:14:10.3392824Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-01-25T00:14:10.3392824Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13438439191449926184*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare86d03377/file86d03377?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 25 Jan 2023 00:14:51 GMT",
        "x-ms-file-request-intent": "backup",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE6914FB7A38\u0022",
        "Last-Modified": "Wed, 25 Jan 2023 00:14:10 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare86d03377/file86d03377",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 25 Jan 2023 00:14:51 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-type": "file",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMismatchWithFileOperation",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMismatchWithFileOperation\u003C/Code\u003E\u003CMessage\u003EThe lease ID specified did not match the lease ID for the file.\n",
        "RequestId:35cac870-901a-008a-4351-307e18000000\n",
        "Time:2023-01-25T00:14:11.0289092Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare86d03377/file86d03377",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 25 Jan 2023 00:14:51 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-file-request-intent": "backup",
        "x-ms-lease-id": "44444444-3333-2222-1111-000000000000",
        "x-ms-type": "file",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAFE69157665BE\u0022",
        "Last-Modified": "Wed, 25 Jan 2023 00:14:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-01-25T00:14:11.1448510Z",
        "x-ms-file-creation-time": "2023-01-25T00:14:11.1448510Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-01-25T00:14:11.1448510Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13438439191449926184*1359530181238362790",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
