interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 18:36:15 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshareb6cf12d6?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78FB2A55E6874"'
      last-modified:
      - Thu, 02 Jan 2020 18:36:13 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1024'
      x-ms-date:
      - Thu, 02 Jan 2020 18:36:15 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshareb6cf12d6/fileb6cf12d6
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78FB2A56AA34D"'
      last-modified:
      - Thu, 02 Jan 2020 18:36:13 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2020-01-02T18:36:13.8394445Z'
      x-ms-file-creation-time:
      - '2020-01-02T18:36:13.8394445Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2020-01-02T18:36:13.8394445Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 2364469733857420365*9831534954311716035
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 02 Jan 2020 18:36:15 GMT
      x-ms-range:
      - bytes=0-1023
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshareb6cf12d6/fileb6cf12d6?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - yaNM/IXZgmmMasifdgcavQ==
      etag:
      - '"0x8D78FB2A576170C"'
      last-modified:
      - Thu, 02 Jan 2020 18:36:13 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 18:36:15 GMT
      x-ms-meta:
      - '{''test1'': ''foo'', ''test2'': ''bar''}'
      x-ms-meta-test1:
      - foo
      x-ms-meta-test2:
      - bar
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshareb6cf12d6/fileb6cf12d6?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78FB2A5818ACF"'
      last-modified:
      - Thu, 02 Jan 2020 18:36:13 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 18:36:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshareb6cf12d6?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78FB2A55E6874"'
      last-modified:
      - Thu, 02 Jan 2020 18:36:13 GMT
      x-ms-snapshot:
      - '2020-01-02T18:36:14.0000000Z'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 18:36:16 GMT
      x-ms-meta:
      - '{''test100'': ''foo100'', ''test200'': ''bar200''}'
      x-ms-meta-test100:
      - foo100
      x-ms-meta-test200:
      - bar200
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshareb6cf12d6/fileb6cf12d6?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78FB2A5A08A18"'
      last-modified:
      - Thu, 02 Jan 2020 18:36:14 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 18:36:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://storagename.file.core.windows.net/utshareb6cf12d6/fileb6cf12d6
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D78FB2A5A08A18"'
      last-modified:
      - Thu, 02 Jan 2020 18:36:14 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2020-01-02T18:36:14.1926936Z'
      x-ms-file-creation-time:
      - '2020-01-02T18:36:13.8394445Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2020-01-02T18:36:13.8394445Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 2364469733857420365*9831534954311716035
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-test100:
      - foo100
      x-ms-meta-test200:
      - bar200
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 18:36:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://storagename.file.core.windows.net/utshareb6cf12d6/fileb6cf12d6?sharesnapshot=2020-01-02T18:36:14.0000000Z
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D78FB2A5818ACF"'
      last-modified:
      - Thu, 02 Jan 2020 18:36:13 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2020-01-02T18:36:13.9895503Z'
      x-ms-file-creation-time:
      - '2020-01-02T18:36:13.8394445Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2020-01-02T18:36:13.8394445Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 2364469733857420365*9831534954311716035
      x-ms-meta-test1:
      - foo
      x-ms-meta-test2:
      - bar
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
