interactions:
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1024'
      x-ms-date:
      - Thu, 12 Dec 2019 22:08:26 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare8e3816ef/file8e3816ef
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D77F4FCFD19476"'
      Last-Modified:
      - Thu, 12 Dec 2019 22:08:26 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-12-12T22:08:26.1977206Z'
      x-ms-file-creation-time:
      - '2019-12-12T22:08:26.1977206Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-12-12T22:08:26.1977206Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 16864655153240182536*4804112389554988934
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Dec 2019 22:08:26 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - 3feab887-f628-4225-8f13-65105b1600a4
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare8e3816ef/file8e3816ef?comp=lease
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D77F4FCFD19476"'
      Last-Modified:
      - Thu, 12 Dec 2019 22:08:26 GMT
      x-ms-lease-id:
      - 3feab887-f628-4225-8f13-65105b1600a4
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Dec 2019 22:08:26 GMT
      x-ms-lease-id:
      - 4b477433-a2fc-493b-bff7-2c01f174dc39
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare8e3816ef/file8e3816ef?comp=rangelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMismatchWithFileOperation</Code><Message>The
        lease ID specified did not match the lease ID for the file.\nRequestId:0533ccd7-401a-0007-4d38-b1fe58000000\nTime:2019-12-12T22:08:26.4283851Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - LeaseIdMismatchWithFileOperation
      x-ms-version:
      - '2019-07-07'
    status:
      code: 412
      message: The lease ID specified did not match the lease ID for the file.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Dec 2019 22:08:26 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare8e3816ef/file8e3816ef?comp=rangelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges />"
    headers:
      Content-Type:
      - application/xml
      ETag:
      - '"0x8D77F4FCFD19476"'
      Last-Modified:
      - Thu, 12 Dec 2019 22:08:26 GMT
      x-ms-content-length:
      - '1024'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
version: 1
