interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:41:00 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share50061605?restype=share
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Sat, 03 Aug 2019 21:40:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7185B460047A2"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Sat, 03 Aug 2019 21:40:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share50061605
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:41:00 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share50061605?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Sat, 03 Aug 2019 21:40:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7185B460047A2"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Sat, 03 Aug 2019 21:40:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-snapshot: '2019-08-03T21:40:59.0000000Z'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share50061605
        - restype=share&comp=snapshot
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:41:00 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share50061605</Name><Snapshot>2019-08-03T21:40:59.0000000Z</Snapshot><Properties><Last-Modified>Sat,
        03 Aug 2019 21:40:59 GMT</Last-Modified><Etag>\"0x8D7185B460047A2\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share50061605</Name><Snapshot>2019-08-03T21:41:00.0000000Z</Snapshot><Properties><Last-Modified>Sat,
        03 Aug 2019 21:40:59 GMT</Last-Modified><Etag>\"0x8D7185B460047A2\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share50061605</Name><Properties><Last-Modified>Sat,
        03 Aug 2019 21:40:59 GMT</Last-Modified><Etag>\"0x8D7185B460047A2\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Sat, 03 Aug 2019 21:40:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /
        - include=snapshots&comp=list
        - ''
version: 1
