interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share61c110c7?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793A9595413A0"'
      last-modified: Tue, 07 Jan 2020 19:39:45 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /share61c110c7
        - restype=share
        - ''
- request:
    body: null
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share61c110c7?restype=share&comp=acl
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793A95960A41E"'
      last-modified: Tue, 07 Jan 2020 19:39:45 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /share61c110c7
        - restype=share&comp=acl
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/share61c110c7?restype=share&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type: application/xml
      etag: '"0x8D793A95960A41E"'
      last-modified: Tue, 07 Jan 2020 19:39:45 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /share61c110c7
        - restype=share&comp=acl
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>listshare0af571bc9</Name><Properties><Last-Modified>Tue,
        07 Jan 2020 19:39:43 GMT</Last-Modified><Etag>\"0x8D793A9586E00BB\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare1af571bc9</Name><Properties><Last-Modified>Tue,
        07 Jan 2020 19:39:43 GMT</Last-Modified><Etag>\"0x8D793A95876B4D7\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare2af571bc9</Name><Properties><Last-Modified>Tue,
        07 Jan 2020 19:39:43 GMT</Last-Modified><Etag>\"0x8D793A9587C3415\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare3af571bc9</Name><Properties><Last-Modified>Tue,
        07 Jan 2020 19:39:43 GMT</Last-Modified><Etag>\"0x8D793A958818C3E\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share240e1523</Name><Properties><Last-Modified>Tue,
        07 Jan 2020 19:39:44 GMT</Last-Modified><Etag>\"0x8D793A958BF90D8\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share50061605</Name><Snapshot>2020-01-07T19:39:44.0000000Z</Snapshot><Properties><Last-Modified>Tue,
        07 Jan 2020 19:39:44 GMT</Last-Modified><Etag>\"0x8D793A959135ED3\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share50061605</Name><Snapshot>2020-01-07T19:39:45.0000000Z</Snapshot><Properties><Last-Modified>Tue,
        07 Jan 2020 19:39:44 GMT</Last-Modified><Etag>\"0x8D793A959135ED3\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share50061605</Name><Properties><Last-Modified>Tue,
        07 Jan 2020 19:39:44 GMT</Last-Modified><Etag>\"0x8D793A959135ED3\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share61c110c7</Name><Properties><Last-Modified>Tue,
        07 Jan 2020 19:39:45 GMT</Last-Modified><Etag>\"0x8D793A95960A41E\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /
        - include=snapshots&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:45 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/listshare0af571bc9?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /listshare0af571bc9
        - restype=share
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:46 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share61c110c7?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /share61c110c7
        - restype=share
        - ''
version: 1
