interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:44 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E36E0ECB303"'
      last-modified:
      - Tue, 31 Dec 2019 21:17:44 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:44 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E36E0FD0EF5"'
      last-modified:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-12-31T21:17:45.0273525Z'
      x-ms-file-creation-time:
      - '2019-12-31T21:17:45.0273525Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-12-31T21:17:45.0273525Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 7171191556614012562*819117102506551579
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E36E10B9085"'
      last-modified:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-12-31T21:17:45.1224197Z'
      x-ms-file-creation-time:
      - '2019-12-31T21:17:45.1224197Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2019-12-31T21:17:45.1224197Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 7171191556614012562*819117102506551579
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1%2Fsubdir1%2Fsubdir2?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E36E1188B26"'
      last-modified:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-12-31T21:17:45.2074790Z'
      x-ms-file-creation-time:
      - '2019-12-31T21:17:45.2074790Z'
      x-ms-file-id:
      - '16140971433240035328'
      x-ms-file-last-write-time:
      - '2019-12-31T21:17:45.2074790Z'
      x-ms-file-parent-id:
      - '11529285414812647424'
      x-ms-file-permission-key:
      - 7171191556614012562*819117102506551579
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1/file1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E36E136038D"'
      last-modified:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-12-31T21:17:45.4006157Z'
      x-ms-file-creation-time:
      - '2019-12-31T21:17:45.4006157Z'
      x-ms-file-id:
      - '14988049928633188352'
      x-ms-file-last-write-time:
      - '2019-12-31T21:17:45.4006157Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 11817162760632156565*819117102506551579
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - idkDvDXe3nJP1SxRQ3/1/Q==
      etag:
      - '"0x8D78E36E1440FCD"'
      last-modified:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1/subdir1/file2
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E36E1506E1F"'
      last-modified:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-12-31T21:17:45.5737375Z'
      x-ms-file-creation-time:
      - '2019-12-31T21:17:45.5737375Z'
      x-ms-file-id:
      - '12682206919419494400'
      x-ms-file-last-write-time:
      - '2019-12-31T21:17:45.5737375Z'
      x-ms-file-parent-id:
      - '11529285414812647424'
      x-ms-file-permission-key:
      - 11817162760632156565*819117102506551579
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: data2
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1/subdir1/file2?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /5zy1pDYiMszf2v0UmthMA==
      etag:
      - '"0x8D78E36E15C5725"'
      last-modified:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:17:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare9681172a/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshare9681172a\"
        DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
