interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:37 GMT
      x-ms-meta:
      - '{''test1'': ''foo'', ''test2'': ''bar''}'
      x-ms-meta-test1:
      - foo
      x-ms-meta-test2:
      - bar
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharea8741778?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793D53203AAA7"'
      last-modified: Wed, 08 Jan 2020 00:53:37 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /sharea8741778
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:37 GMT
      x-ms-meta-test100:
      - foo100
      x-ms-meta-test200:
      - bar200
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharea8741778?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793D531DB7E80"'
      last-modified: Wed, 08 Jan 2020 00:53:37 GMT
      x-ms-snapshot: '2020-01-08T00:53:37.0000000Z'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /sharea8741778
        - restype=share&comp=snapshot
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:37 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/sharea8741778?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793D53203AAA7"'
      last-modified: Wed, 08 Jan 2020 00:53:37 GMT
      x-ms-has-immutability-policy: 'false'
      x-ms-has-legal-hold: 'false'
      x-ms-meta-test1: foo
      x-ms-meta-test2: bar
      x-ms-share-quota: '5120'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /sharea8741778
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:37 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/sharea8741778?sharesnapshot=2020-01-08T00:53:37.0000000Z&restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793D531DB7E80"'
      last-modified: Wed, 08 Jan 2020 00:53:37 GMT
      x-ms-has-immutability-policy: 'false'
      x-ms-has-legal-hold: 'false'
      x-ms-meta-test100: foo100
      x-ms-meta-test200: bar200
      x-ms-share-quota: '5120'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /sharea8741778
        - sharesnapshot=2020-01-08T00:53:37.0000000Z&restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>sharea8741778</Name><Snapshot>2020-01-08T00:53:37.0000000Z</Snapshot><Properties><Last-Modified>Wed,
        08 Jan 2020 00:53:37 GMT</Last-Modified><Etag>\"0x8D793D531DB7E80\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>sharea8741778</Name><Properties><Last-Modified>Wed,
        08 Jan 2020 00:53:37 GMT</Last-Modified><Etag>\"0x8D793D53203AAA7\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /
        - include=snapshots&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:38 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharea8741778?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /sharea8741778
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 08 Jan 2020 00:53:38 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharea8741778?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageizsjv7wg4knd.file.core.windows.net
        - /sharea8741778
        - restype=share
        - ''
version: 1
