interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:26:31 GMT
      x-ms-enabled-protocols:
      - NFS
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.file.core.windows.net/share1dd031899?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D88541906A3F77"'
      last-modified: Tue, 10 Nov 2020 06:26:31 GMT
      x-ms-version: '2020-04-08'
    status:
      code: 201
      message: Created
    url: https://seancanarypremiumfile2.file.core.windows.net/share1dd031899?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:26:32 GMT
      x-ms-root-squash:
      - NoRootSquash
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.file.core.windows.net/share1dd031899?restype=share&comp=properties
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D885419087D4F1"'
      last-modified: Tue, 10 Nov 2020 06:26:31 GMT
      x-ms-version: '2020-04-08'
    status:
      code: 200
      message: OK
    url: https://seancanarypremiumfile2.file.core.windows.net/share1dd031899?restype=share&comp=properties
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:26:32 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.file.core.windows.net/share1dd031899?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D885419087D4F1"'
      last-modified: Tue, 10 Nov 2020 06:26:31 GMT
      x-ms-access-tier: Premium
      x-ms-enabled-protocols: NFS
      x-ms-has-immutability-policy: 'false'
      x-ms-has-legal-hold: 'false'
      x-ms-root-squash: NoRootSquash
      x-ms-share-next-allowed-quota-downgrade-time: Tue, 10 Nov 2020 06:26:31 GMT
      x-ms-share-provisioned-egress-mbps: '66'
      x-ms-share-provisioned-ingress-mbps: '44'
      x-ms-share-provisioned-iops: '500'
      x-ms-share-quota: '100'
      x-ms-version: '2020-04-08'
    status:
      code: 200
      message: OK
    url: https://seancanarypremiumfile2.file.core.windows.net/share1dd031899?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:26:32 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share1dd031899</Name><Properties><Last-Modified>Tue,
        10 Nov 2020 06:26:31 GMT</Last-Modified><Etag>\"0x8D885419087D4F1\"</Etag><Quota>100</Quota><EnabledProtocols>NFS</EnabledProtocols><RootSquash>NoRootSquash</RootSquash><AccessTier>Premium</AccessTier><ProvisionedIops>500</ProvisionedIops><ProvisionedIngressMBps>44</ProvisionedIngressMBps><ProvisionedEgressMBps>66</ProvisionedEgressMBps><NextAllowedQuotaDowngradeTime>Tue,
        10 Nov 2020 06:26:31 GMT</NextAllowedQuotaDowngradeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share2dd031899</Name><Properties><Last-Modified>Tue,
        10 Nov 2020 06:26:31 GMT</Last-Modified><Etag>\"0x8D885419090620E\"</Etag><Quota>100</Quota><EnabledProtocols>NFS</EnabledProtocols><RootSquash>RootSquash</RootSquash><AccessTier>Premium</AccessTier><ProvisionedIops>500</ProvisionedIops><ProvisionedIngressMBps>44</ProvisionedIngressMBps><ProvisionedEgressMBps>66</ProvisionedEgressMBps><NextAllowedQuotaDowngradeTime>Tue,
        10 Nov 2020 06:26:31 GMT</NextAllowedQuotaDowngradeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2020-04-08'
    status:
      code: 200
      message: OK
    url: https://seancanarypremiumfile2.file.core.windows.net/?include=snapshots&comp=list
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:26:32 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-04-08'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share1dd031899?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2020-04-08'
    status:
      code: 202
      message: Accepted
    url: https://seancanarypremiumfile2.file.core.windows.net/share1dd031899?restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:26:32 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-04-08'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share2dd031899?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2020-04-08'
    status:
      code: 202
      message: Accepted
    url: https://seancanarypremiumfile2.file.core.windows.net/share2dd031899?restype=share
version: 1
