{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharedc2d3465?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AFF8ADCE0\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharedc2d3465/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:12 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AFF9B95B2\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:47:11.1768498Z",
        "x-ms-file-creation-time": "2022-09-28T21:47:11.1768498Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T21:47:11.1768498Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17100207456270243504*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharedc2d3465/dir2/test",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "11",
        "x-ms-date": "Wed, 28 Sep 2022 21:47:12 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AFFC203B5\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-09-28T21:47:11.4287029Z",
        "x-ms-file-creation-time": "2022-09-28T21:47:11.4287029Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2022-09-28T21:47:11.4287029Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "3254952746172754359*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharedc2d3465/dir2/test?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 28 Sep 2022 21:47:12 GMT",
        "x-ms-range": "bytes=0-10",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\u00220x8DAA19AFFD36640\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:11 GMT",
        "x-ms-file-last-write-time": "2022-09-28T21:47:11.5426368Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharedc2d3465/dir2/test?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:13 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AFFD36640\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:11 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharedc2d3465/dir2%2Ftest?restype=directory\u0026comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:13 GMT",
        "x-ms-destination-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-file-rename-source": "https://storagename.file.core.windows.net/utsharedc2d3465/dir1",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AFFF71590\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:47:11.7765008Z",
        "x-ms-file-creation-time": "2022-09-28T21:47:11.1768498Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T21:47:11.1768498Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "17100207456270243504*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharedc2d3465/dir2%2Ftest?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AFFF71590\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:47:11.7765008Z",
        "x-ms-file-creation-time": "2022-09-28T21:47:11.1768498Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T21:47:11.1768498Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "17100207456270243504*9622787259914961209",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
