interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:36:14 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/subdirshare?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7185A9BE7325C"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:36:13 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:36:15 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/subdirshare/parentdir?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7185A9C0B355D"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:36:14 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:36:15 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/subdirshare/parentdir%2Fsubdir?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7185A9C1DD65B"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:36:14 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '55'
      x-ms-date:
      - Sat, 03 Aug 2019 21:36:15 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/subdirshare/parentdir/sample
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7185A9C4B3017"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:36:14 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: Lorem ipsum dolor sit amet, consectetur adipiscing elit
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Sat, 03 Aug 2019 21:36:15 GMT
      x-ms-range:
      - bytes=0-54
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/subdirshare/parentdir/sample?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - /BCgjff6+jhxFmZGYJ4clQ==
      ETag:
      - '"0x8D7185A9C68F6AC"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:36:14 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '55'
      x-ms-date:
      - Sat, 03 Aug 2019 21:36:15 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/subdirshare/parentdir/subdir/sample
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7185A9C7BBEC1"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:36:14 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: Lorem ipsum dolor sit amet, consectetur adipiscing elit
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Sat, 03 Aug 2019 21:36:16 GMT
      x-ms-range:
      - bytes=0-54
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/subdirshare/parentdir/subdir/sample?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - /BCgjff6+jhxFmZGYJ4clQ==
      ETag:
      - '"0x8D7185A9CA6A711"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:36:15 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:36:16 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/subdirshare/parentdir?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"subdirshare\"
        DirectoryPath=\"parentdir\"><Entries><File><Name>sample</Name><Properties><Content-Length>55</Content-Length></Properties></File><Directory><Name>subdir</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:36:16 GMT
      x-ms-version:
      - '2018-11-09'
    method: DELETE
    uri: https://storagename.file.core.windows.net/subdirshare?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
