{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare7fa30d1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 01 Feb 2023 20:31:40 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0493371B349E\u0022",
        "Last-Modified": "Wed, 01 Feb 2023 20:30:53 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare7fa30d1/dir1.?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 01 Feb 2023 20:31:41 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0493372FCC5F\u0022",
        "Last-Modified": "Wed, 01 Feb 2023 20:30:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-02-01T20:30:53.5640159Z",
        "x-ms-file-creation-time": "2023-02-01T20:30:53.5640159Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-02-01T20:30:53.5640159Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4282235038938884634*13244350442060319835",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare7fa30d1/dir2.?restype=directory\u0026comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Wed, 01 Feb 2023 20:31:42 GMT",
        "x-ms-file-rename-source": "https://storagename.file.core.windows.net/utshare7fa30d1/dir1.",
        "x-ms-source-allow-trailing-dot": "true",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB04933745C55E\u0022",
        "Last-Modified": "Wed, 01 Feb 2023 20:30:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-02-01T20:30:53.7080158Z",
        "x-ms-file-creation-time": "2023-02-01T20:30:53.5640159Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-02-01T20:30:53.5640159Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4282235038938884634*13244350442060319835",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
