interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 23:03:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9ff01f2c?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FD7ED10BD02"'
      last-modified: Thu, 02 Jan 2020 23:03:05 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3zie4sluzqpi.file.core.windows.net
        - /utshare9ff01f2c
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 23:03:05 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9ff01f2c/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FD7ED19933F"'
      last-modified: Thu, 02 Jan 2020 23:03:05 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2020-01-02T23:03:05.4831423Z'
      x-ms-file-creation-time: '2020-01-02T23:03:05.4831423Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-02T23:03:05.4831423Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 10891720742259739725*18445631768368176068
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3zie4sluzqpi.file.core.windows.net
        - /utshare9ff01f2c/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 23:03:05 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9ff01f2c/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FD7ED1E9D35"'
      last-modified: Thu, 02 Jan 2020 23:03:05 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2020-01-02T23:03:05.5161653Z'
      x-ms-file-creation-time: '2020-01-02T23:03:05.5161653Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2020-01-02T23:03:05.5161653Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 10891720742259739725*18445631768368176068
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3zie4sluzqpi.file.core.windows.net
        - /utshare9ff01f2c/dir1%2Fsubdir1
        - restype=directory
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Thu, 02 Jan 2020 23:03:05 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9ff01f2c/dir1/file1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FD7ED2E5781"'
      last-modified: Thu, 02 Jan 2020 23:03:05 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-02T23:03:05.6192385Z'
      x-ms-file-creation-time: '2020-01-02T23:03:05.6192385Z'
      x-ms-file-id: '13835163608398430208'
      x-ms-file-last-write-time: '2020-01-02T23:03:05.6192385Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 6295157191138816842*18445631768368176068
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3zie4sluzqpi.file.core.windows.net
        - /utshare9ff01f2c/dir1/file1
        - ''
        - ''
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 02 Jan 2020 23:03:05 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9ff01f2c/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: idkDvDXe3nJP1SxRQ3/1/Q==
      etag: '"0x8D78FD7ED33D6BA"'
      last-modified: Thu, 02 Jan 2020 23:03:05 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3zie4sluzqpi.file.core.windows.net
        - /utshare9ff01f2c/dir1/file1
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 23:03:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare9ff01f2c?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FD7ED10BD02"'
      last-modified: Thu, 02 Jan 2020 23:03:05 GMT
      x-ms-snapshot: '2020-01-02T23:03:05.0000000Z'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3zie4sluzqpi.file.core.windows.net
        - /utshare9ff01f2c
        - restype=share&comp=snapshot
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 23:03:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare9ff01f2c/dir1?sharesnapshot=2020-01-02T23:03:05.0000000Z&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshare9ff01f2c\"
        ShareSnapshot=\"2020-01-02T23:03:05.0000000Z\" DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3zie4sluzqpi.file.core.windows.net
        - /utshare9ff01f2c/dir1
        - sharesnapshot=2020-01-02T23:03:05.0000000Z&restype=directory&comp=list
        - ''
version: 1
