{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare48f367f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 31 Jan 2023 23:44:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E4F29B1346\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:43:26 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare48f367f/file48f367f.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 31 Jan 2023 23:44:13 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta": "{\u0027hello\u0027: \u0027world\u0027, \u0027number\u0027: \u002742\u0027}",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "42",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E4F2BBEED8\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:43:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-01-31T23:43:26.2886616Z",
        "x-ms-file-creation-time": "2023-01-31T23:43:26.2886616Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-01-31T23:43:26.2886616Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6195413519394405181*13244350442060319835",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshare48f367f/file48f367f.",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Tue, 31 Jan 2023 23:44:14 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB03E4F2BBEED8\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:43:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-01-31T23:43:26.2886616Z",
        "x-ms-file-creation-time": "2023-01-31T23:43:26.2886616Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-01-31T23:43:26.2886616Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6195413519394405181*13244350442060319835",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "42",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
