{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharef6913492?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 12 Apr 2023 00:28:38 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB3AECD9391476\u0022",
        "Last-Modified": "Wed, 12 Apr 2023 00:28:33 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
