{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareb4663204?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 31 Jan 2023 23:42:58 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareAlreadyExists",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EShareAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified share already exists.\n",
        "RequestId:95d133ce-701a-0008-6fcd-35c247000000\n",
        "Time:2023-01-31T23:42:11.5963442Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareb4663204/fileb4663204.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 31 Jan 2023 23:42:59 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta": "{\u0027hello\u0027: \u0027world\u0027, \u0027number\u0027: \u002742\u0027}",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "42",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E4C64B374D\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:42:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-01-31T23:42:11.7302093Z",
        "x-ms-file-creation-time": "2023-01-31T23:42:11.7302093Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-01-31T23:42:11.7302093Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6195413519394405181*13244350442060319835",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareb4663204/fileb4663204.",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Tue, 31 Jan 2023 23:42:59 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB03E4C64B374D\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:42:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-01-31T23:42:11.7302093Z",
        "x-ms-file-creation-time": "2023-01-31T23:42:11.7302093Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-01-31T23:42:11.7302093Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "6195413519394405181*13244350442060319835",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hello": "world",
        "x-ms-meta-number": "42",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
