interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:50:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharea991943?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A15C4C4AD39"'
      last-modified: Wed, 15 Jan 2020 23:50:58 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharea991943
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1024'
      x-ms-date:
      - Wed, 15 Jan 2020 23:50:58 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharea991943/filea991943
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A15C4DF1406"'
      last-modified: Wed, 15 Jan 2020 23:50:58 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-15T23:50:58.4159238Z'
      x-ms-file-creation-time: '2020-01-15T23:50:58.4159238Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-15T23:50:58.4159238Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 5724850820508509333*16704459309046467611
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharea991943/filea991943
        - ''
        - ''
- request:
    body: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 15 Jan 2020 23:50:58 GMT
      x-ms-range:
      - bytes=0-1023
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharea991943/filea991943?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: yaNM/IXZgmmMasifdgcavQ==
      etag: '"0x8D79A15C4E7C813"'
      last-modified: Wed, 15 Jan 2020 23:50:58 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharea991943/filea991943
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:50:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://storagename.file.core.windows.net/utsharea991943/filea991943
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D79A15C4E7C813"'
      last-modified: Wed, 15 Jan 2020 23:50:58 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-15T23:50:58.4159238Z'
      x-ms-file-creation-time: '2020-01-15T23:50:58.4159238Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-15T23:50:58.4159238Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 5724850820508509333*16704459309046467611
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-type: File
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharea991943/filea991943
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-content-disposition:
      - inline
      x-ms-content-language:
      - spanish
      x-ms-date:
      - Wed, 15 Jan 2020 23:50:58 GMT
      x-ms-file-attributes:
      - Archive|Temporary
      x-ms-file-creation-time:
      - '2020-01-16T02:50:58.4159230Z'
      x-ms-file-last-write-time:
      - '2020-01-16T02:50:58.4159230Z'
      x-ms-file-permission:
      - preserve
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharea991943/filea991943?comp=properties
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A15C50B0D9C"'
      last-modified: Wed, 15 Jan 2020 23:50:58 GMT
      x-ms-file-attributes: Archive | Temporary
      x-ms-file-change-time: '2020-01-15T23:50:58.7041180Z'
      x-ms-file-creation-time: '2020-01-16T02:50:58.4159230Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-16T02:50:58.4159230Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 5724850820508509333*16704459309046467611
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharea991943/filea991943
        - comp=properties
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:50:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://storagename.file.core.windows.net/utsharea991943/filea991943
  response:
    body:
      string: ''
    headers:
      content-disposition: inline
      content-language: spanish
      etag: '"0x8D79A15C50B0D9C"'
      last-modified: Wed, 15 Jan 2020 23:50:58 GMT
      x-ms-file-attributes: Archive | Temporary
      x-ms-file-change-time: '2020-01-15T23:50:58.7041180Z'
      x-ms-file-creation-time: '2020-01-16T02:50:58.4159230Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-16T02:50:58.4159230Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 5724850820508509333*16704459309046467611
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-type: File
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharea991943/filea991943
        - ''
        - ''
version: 1
