interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 May 2019 06:19:06 GMT
      x-ms-recursive:
      - 'True'
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/test?comp=listhandles
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults><Entries><Handle><HandleId>21123954401</HandleId><Path
        /><FileId>0</FileId><ParentId>0</ParentId><SessionId>9385737614310506553</SessionId><ClientIp>167.220.2.92:27553</ClientIp><OpenTime>Fri,
        03 May 2019 05:59:43 GMT</OpenTime></Handle><Handle><HandleId>21123954403</HandleId><Path
        /><FileId>0</FileId><ParentId>0</ParentId><SessionId>9385737614310506553</SessionId><ClientIp>167.220.2.92:27553</ClientIp><OpenTime>Fri,
        03 May 2019 05:59:43 GMT</OpenTime></Handle><Handle><HandleId>21123950307</HandleId><Path>foo.txt</Path><FileId>11529293111394041856</FileId><ParentId>0</ParentId><SessionId>9385737614310506553</SessionId><ClientIp>167.220.2.92:27553</ClientIp><OpenTime>Fri,
        03 May 2019 05:57:25 GMT</OpenTime></Handle><Handle><HandleId>21123902372</HandleId><Path>wut/bla.txt</Path><FileId>13835136120607735808</FileId><ParentId>11529308504556830720</ParentId><SessionId>9385737614310506553</SessionId><ClientIp>167.220.2.92:27553</ClientIp><OpenTime>Fri,
        03 May 2019 04:52:31 GMT</OpenTime></Handle><Handle><HandleId>21123950645</HandleId><Path>wut/foo.txt</Path><FileId>9223450102180347904</FileId><ParentId>11529308504556830720</ParentId><SessionId>9385737614310506553</SessionId><ClientIp>167.220.2.92:27553</ClientIp><OpenTime>Fri,
        03 May 2019 05:57:45 GMT</OpenTime></Handle></Entries><NextMarker /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Dec 2019 20:07:42 GMT
      x-ms-recursive:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/test?comp=listhandles
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The
        specified share does not exist.\nRequestId:e8348917-d01a-00cf-6527-b103b2000000\nTime:2019-12-12T20:07:46.0943832Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - ShareNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified share does not exist.
version: 1
