{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharee3e32973?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 22:46:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1A34C3B1772\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:46:35 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharee3e32973/filee3e32973",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 28 Sep 2022 22:46:37 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1A34C4A7548\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:46:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-09-28T22:46:35.8035784Z",
        "x-ms-file-creation-time": "2022-09-28T22:46:35.8035784Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T22:46:35.8035784Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3254952746172754359*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharee3e32973/filee3e32973?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 22:46:37 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1A34C4A7548\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:46:35 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharee3e32973/filee3e32973",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 22:46:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMissing\u003C/Code\u003E\u003CMessage\u003EThere is currently a lease on the file and no lease ID was specified in the request.\n",
        "RequestId:efa1fd29-e01a-001e-0f8c-d3a178000000\n",
        "Time:2022-09-28T22:46:38.1844458Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharee3e32973/filee3e32973",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 22:46:39 GMT",
        "x-ms-lease-id": "00000000-1111-2222-3333-444444444444",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
