{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharebf0d3221?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 Feb 2023 01:33:08 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB05867DBB4C28\u0022",
        "Last-Modified": "Fri, 03 Feb 2023 01:32:19 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharebf0d3221/filebf0d3221.",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 03 Feb 2023 01:33:09 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB05867E1BFD86\u0022",
        "Last-Modified": "Fri, 03 Feb 2023 01:32:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-02-03T01:32:20.2577286Z",
        "x-ms-file-creation-time": "2023-02-03T01:32:20.2577286Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-02-03T01:32:20.2577286Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1934690642959699923*17937419127535597749",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharebf0d3221/filebf0d3221",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 03 Feb 2023 01:33:10 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharebf0d3221/filebf0d3221.",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-allow-trailing-dot": "true",
        "x-ms-date": "Fri, 03 Feb 2023 01:33:10 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB05867E1BFD86\u0022",
        "Last-Modified": "Fri, 03 Feb 2023 01:32:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-02-03T01:32:20.2577286Z",
        "x-ms-file-creation-time": "2023-02-03T01:32:20.2577286Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-02-03T01:32:20.2577286Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1934690642959699923*17937419127535597749",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
