interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:33:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share62ad1111?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D78E391A1F6C94"'
      last-modified:
      - Tue, 31 Dec 2019 21:33:39 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:33:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/share62ad1111?sharesnapshot=2017-07-19T06:53:46.0000000Z&restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The
        specified share does not exist.\nRequestId:c8781b4c-001a-0041-5f21-c0d9bc000000\nTime:2019-12-31T21:33:39.9682275Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ShareNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified share does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:33:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share62ad1111</Name><Properties><Last-Modified>Tue,
        31 Dec 2019 21:33:39 GMT</Last-Modified><Etag>\"0x8D78E391A1F6C94\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 31 Dec 2019 21:33:40 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share62ad1111?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
version: 1
