interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 23:03:04 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare11ad1942?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FD7EC847A9E"'
      last-modified: Thu, 02 Jan 2020 23:03:04 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3zie4sluzqpi.file.core.windows.net
        - /utshare11ad1942
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 23:03:04 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare11ad1942/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FD7EC8A31B8"'
      last-modified: Thu, 02 Jan 2020 23:03:04 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2020-01-02T23:03:04.5434808Z'
      x-ms-file-creation-time: '2020-01-02T23:03:04.5434808Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-02T23:03:04.5434808Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 10891720742259739725*18445631768368176068
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3zie4sluzqpi.file.core.windows.net
        - /utshare11ad1942/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 23:03:04 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare11ad1942/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FD7EC8F62CC"'
      last-modified: Thu, 02 Jan 2020 23:03:04 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2020-01-02T23:03:04.5775052Z'
      x-ms-file-creation-time: '2020-01-02T23:03:04.5775052Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2020-01-02T23:03:04.5775052Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 10891720742259739725*18445631768368176068
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3zie4sluzqpi.file.core.windows.net
        - /utshare11ad1942/dir1%2Fsubdir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Thu, 02 Jan 2020 23:03:04 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare11ad1942/dir1/file1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FD7EC9C848A"'
      last-modified: Thu, 02 Jan 2020 23:03:04 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-02T23:03:04.6635658Z'
      x-ms-file-creation-time: '2020-01-02T23:03:04.6635658Z'
      x-ms-file-id: '13835093239654252544'
      x-ms-file-last-write-time: '2020-01-02T23:03:04.6635658Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 6295157191138816842*18445631768368176068
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3zie4sluzqpi.file.core.windows.net
        - /utshare11ad1942/dir1/file1
        - ''
        - ''
[...]
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 02 Jan 2020 23:03:04 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare11ad1942/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: idkDvDXe3nJP1SxRQ3/1/Q==
      etag: '"0x8D78FD7ECA1DCAE"'
      last-modified: Thu, 02 Jan 2020 23:03:04 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3zie4sluzqpi.file.core.windows.net
        - /utshare11ad1942/dir1/file1
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jan 2020 23:03:04 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare11ad1942/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshare11ad1942\"
        DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file2</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file3</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory><Directory><Name>subdir3</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage3zie4sluzqpi.file.core.windows.net
        - /utshare11ad1942/dir1
        - restype=directory&comp=list
        - ''
version: 1
