interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:51 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/share35a8156e?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D860F21420BD5B"'
      last-modified: Fri, 25 Sep 2020 01:26:50 GMT
      x-ms-version: '2020-02-10'
    status:
      code: 201
      message: Created
    url: https://seanmcccanary3.file.core.windows.net/share35a8156e?restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:51 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/share35a8156e?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D860F21420BD5B"'
      last-modified: Fri, 25 Sep 2020 01:26:50 GMT
      x-ms-snapshot: '2020-09-25T01:26:50.0000000Z'
      x-ms-version: '2020-02-10'
    status:
      code: 201
      message: Created
    url: https://seanmcccanary3.file.core.windows.net/share35a8156e?restype=share&comp=snapshot
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:51 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - 75ad4e99-4bc4-4764-a46b-8415ac57c715
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/share35a8156e?comp=lease&restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D860F21420BD5B"'
      last-modified: Fri, 25 Sep 2020 01:26:50 GMT
      x-ms-lease-id: 75ad4e99-4bc4-4764-a46b-8415ac57c715
      x-ms-version: '2020-02-10'
    status:
      code: 201
      message: Created
    url: https://seanmcccanary3.file.core.windows.net/share35a8156e?comp=lease&restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:52 GMT
      x-ms-lease-action:
      - acquire
      x-ms-lease-duration:
      - '-1'
      x-ms-proposed-lease-id:
      - 054754f3-1c19-48dd-b994-72e19d73c48a
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/share35a8156e?sharesnapshot=2020-09-25T01:26:50.0000000Z&comp=lease&restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D860F21420BD5B"'
      last-modified: Fri, 25 Sep 2020 01:26:50 GMT
      x-ms-lease-id: 054754f3-1c19-48dd-b994-72e19d73c48a
      x-ms-version: '2020-02-10'
    status:
      code: 201
      message: Created
    url: https://seanmcccanary3.file.core.windows.net/share35a8156e?sharesnapshot=2020-09-25T01:26:50.0000000Z&comp=lease&restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:54 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/share35a8156e?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D860F21420BD5B"'
      last-modified: Fri, 25 Sep 2020 01:26:50 GMT
      x-ms-access-tier: TransactionOptimized
      x-ms-access-tier-change-time: Fri, 25 Sep 2020 01:26:50 GMT
      x-ms-has-immutability-policy: 'false'
      x-ms-has-legal-hold: 'false'
      x-ms-lease-duration: infinite
      x-ms-lease-state: leased
      x-ms-lease-status: locked
      x-ms-share-quota: '5120'
      x-ms-version: '2020-02-10'
    status:
      code: 200
      message: OK
    url: https://seanmcccanary3.file.core.windows.net/share35a8156e?restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:54 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/share35a8156e?sharesnapshot=2020-09-25T01:26:50.0000000Z&restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D860F21420BD5B"'
      last-modified: Fri, 25 Sep 2020 01:26:50 GMT
      x-ms-access-tier: TransactionOptimized
      x-ms-access-tier-change-time: Fri, 25 Sep 2020 01:26:50 GMT
      x-ms-has-immutability-policy: 'false'
      x-ms-has-legal-hold: 'false'
      x-ms-lease-duration: infinite
      x-ms-lease-state: leased
      x-ms-lease-status: locked
      x-ms-share-quota: '5120'
      x-ms-version: '2020-02-10'
    status:
      code: 200
      message: OK
    url: https://seanmcccanary3.file.core.windows.net/share35a8156e?sharesnapshot=2020-09-25T01:26:50.0000000Z&restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:54 GMT
      x-ms-lease-action:
      - release
      x-ms-lease-id:
      - 054754f3-1c19-48dd-b994-72e19d73c48a
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/share35a8156e?sharesnapshot=2020-09-25T01:26:50.0000000Z&comp=lease&restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D860F21420BD5B"'
      last-modified: Fri, 25 Sep 2020 01:26:50 GMT
      x-ms-lease-time: '0'
      x-ms-version: '2020-02-10'
    status:
      code: 200
      message: OK
    url: https://seanmcccanary3.file.core.windows.net/share35a8156e?sharesnapshot=2020-09-25T01:26:50.0000000Z&comp=lease&restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:55 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share1816f1171</Name><Properties><Last-Modified>Fri,
        11 Sep 2020 00:43:37 GMT</Last-Modified><Etag>\"0x8D855EBB87CFF33\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri,
        11 Sep 2020 00:43:37 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share182b3117d</Name><Properties><Last-Modified>Fri,
        11 Sep 2020 00:44:44 GMT</Last-Modified><Etag>\"0x8D855EBE0710239\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri,
        11 Sep 2020 00:44:44 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share336d1532</Name><Properties><Last-Modified>Fri,
        11 Sep 2020 00:02:03 GMT</Last-Modified><Etag>\"0x8D855E5EA1BA89C\"</Etag><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri,
        11 Sep 2020 00:02:03 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share35a8156e</Name><Snapshot>2020-09-25T01:26:50.0000000Z</Snapshot><Properties><Last-Modified>Fri,
        25 Sep 2020 01:26:50 GMT</Last-Modified><Etag>\"0x8D860F21420BD5B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>5120</Quota><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share35a8156e</Name><Properties><Last-Modified>Fri,
        25 Sep 2020 01:26:50 GMT</Las[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:55 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share1816f1171?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:13b2027f-001a-009d-2cda-922878000000\nTime:2020-09-25T01:26:55.3108727Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/share1816f1171?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:56 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharerestorecb2f1317?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:13b2028f-001a-009d-3bda-922878000000\nTime:2020-09-25T01:26:55.9803490Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/sharerestorecb2f1317?restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:56 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharesamples5?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:13b20290-001a-009d-3cda-922878000000\nTime:2020-09-25T01:26:56.0393911Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/sharesamples5?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:56 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/test-share-1200db32-dbe6-47c3-8fdc-badfe55a17f7?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:13b20294-001a-009d-3fda-922878000000\nTime:2020-09-25T01:26:56.2175182Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/test-share-1200db32-dbe6-47c3-8fdc-badfe55a17f7?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:57 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/test16185160b?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:13b202a3-001a-009d-4dda-922878000000\nTime:2020-09-25T01:26:57.0260945Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/test16185160b?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 25 Sep 2020 01:26:58 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/testf69713fa?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:13b202c1-001a-009d-6ada-922878000000\nTime:2020-09-25T01:26:58.1829231Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/testf69713fa?restype=share
version: 1
