{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharea31f31fa?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:46:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AE848C0AF\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:46:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharea31f31fa/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:46:33 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AE85AC73E\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:46:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:46:32.1645374Z",
        "x-ms-file-creation-time": "2022-09-28T21:46:32.1645374Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T21:46:32.1645374Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17100207456270243504*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharea31f31fa/dir1%2Fdir2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:46:33 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AE86A7C54\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:46:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:46:32.2674772Z",
        "x-ms-file-creation-time": "2022-09-28T21:46:32.2674772Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2022-09-28T21:46:32.2674772Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "17100207456270243504*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharea31f31fa/dir1%2Fdir2?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:46:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
        "RequestId:d2d08de4-b01a-0013-5a83-d369ac000000\n",
        "Time:2022-09-28T21:46:32.4721618Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {}
}
