interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:15:21 GMT
      x-ms-enabled-protocols:
      - NFS
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.file.core.windows.net/share1503d161c?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D88540011042A7"'
      last-modified:
      - Tue, 10 Nov 2020 06:15:21 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:15:22 GMT
      x-ms-root-squash:
      - NoRootSquash
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://storagename.file.core.windows.net/share1503d161c?restype=share&comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D88540013C5748"'
      last-modified:
      - Tue, 10 Nov 2020 06:15:21 GMT
      x-ms-version:
      - '2020-04-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:15:22 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.file.core.windows.net/share1503d161c?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D88540013C5748"'
      last-modified:
      - Tue, 10 Nov 2020 06:15:21 GMT
      x-ms-access-tier:
      - Premium
      x-ms-enabled-protocols:
      - NFS
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-root-squash:
      - NoRootSquash
      x-ms-share-next-allowed-quota-downgrade-time:
      - Tue, 10 Nov 2020 06:15:21 GMT
      x-ms-share-provisioned-egress-mbps:
      - '66'
      x-ms-share-provisioned-ingress-mbps:
      - '44'
      x-ms-share-provisioned-iops:
      - '500'
      x-ms-share-quota:
      - '100'
      x-ms-version:
      - '2020-04-08'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:15:22 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>jtsshareapitestsgetpropertiespremium0000717281de4d707</Name><Properties><Last-Modified>Fri,
        06 Nov 2020 00:36:15 GMT</Last-Modified><Etag>\"0x8D881EBF8498DE0\"</Etag><Quota>100</Quota><EnabledProtocols>SMB</EnabledProtocols><AccessTier>Premium</AccessTier><ProvisionedIops>500</ProvisionedIops><ProvisionedIngressMBps>44</ProvisionedIngressMBps><ProvisionedEgressMBps>66</ProvisionedEgressMBps><NextAllowedQuotaDowngradeTime>Fri,
        06 Nov 2020 00:36:15 GMT</NextAllowedQuotaDowngradeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>jtsshareapitestsgetpropertiespremium000979586a91d779e</Name><Properties><Last-Modified>Thu,
        05 Nov 2020 20:50:20 GMT</Last-Modified><Etag>\"0x8D881CC69061C5C\"</Etag><Quota>100</Quota><EnabledProtocols>SMB</EnabledProtocols><AccessTier>Premium</AccessTier><ProvisionedIops>500</ProvisionedIops><ProvisionedIngressMBps>44</ProvisionedIngressMBps><ProvisionedEgressMBps>66</ProvisionedEgressMBps><NextAllowedQuotaDowngradeTim[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:15:23 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-04-08'
    method: DELETE
    uri: https://storagename.file.core.windows.net/jtsshareapitestsgetpropertiespremium0000717281de4d707?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:15:29 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-04-08'
    method: DELETE
    uri: https://storagename.file.core.windows.net/jtsshareapitestssetpremiumproperties0005030d11bbb90c2?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:15:30 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-04-08'
    method: DELETE
    uri: https://storagename.file.core.windows.net/jtsshareasyncapitestsgetpropertiespremium007489712835a8?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:15:30 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-04-08'
    method: DELETE
    uri: https://storagename.file.core.windows.net/jtsshareasyncapitestssetpremiumproperties0034025976272b?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:15:31 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-04-08'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharesfd5503d161c?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:15:32 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-04-08'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharsfe6503d161c?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:15:32 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-04-08'
    method: DELETE
    uri: https://storagename.file.core.windows.net/test-share-023c770f-85c9-48bf-87ab-e9551b1f9aa8?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:15:34 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-04-08'
    method: DELETE
    uri: https://storagename.file.core.windows.net/testshare1503d161c?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 10 Nov 2020 06:15:34 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-04-08'
    method: DELETE
    uri: https://storagename.file.core.windows.net/testshare2503d161c?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 202
      message: Accepted
version: 1
