interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharec6fa1c20?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793A957269608"'
      last-modified: Tue, 07 Jan 2020 19:39:41 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /sharec6fa1c20
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:42 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharec6fa1c20/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793A9573EB942"'
      last-modified: Tue, 07 Jan 2020 19:39:41 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2020-01-07T19:39:41.8699074Z'
      x-ms-file-creation-time: '2020-01-07T19:39:41.8699074Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-07T19:39:41.8699074Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 9349305716260749681*16817652741053339384
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /sharec6fa1c20/dir1
        - restype=directory
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharec6fa1c20?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793A957269608"'
      last-modified: Tue, 07 Jan 2020 19:39:41 GMT
      x-ms-snapshot: '2020-01-07T19:39:41.0000000Z'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /sharec6fa1c20
        - restype=share&comp=snapshot
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:42 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharec6fa1c20/file1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793A95767A679"'
      last-modified: Tue, 07 Jan 2020 19:39:42 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-07T19:39:42.1381241Z'
      x-ms-file-creation-time: '2020-01-07T19:39:42.1381241Z'
      x-ms-file-id: '10376363910205800448'
      x-ms-file-last-write-time: '2020-01-07T19:39:42.1381241Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 4739095578992328310*16817652741053339384
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /sharec6fa1c20/file1
        - ''
        - ''
- request:
    body: data
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:42 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/sharec6fa1c20/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: jXd/OF09/siBXSD3SWAm3A==
      etag: '"0x8D793A95777FD86"'
      last-modified: Tue, 07 Jan 2020 19:39:42 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /sharec6fa1c20/file1
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/sharec6fa1c20?sharesnapshot=2020-01-07T19:39:41.0000000Z&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"sharec6fa1c20\"
        ShareSnapshot=\"2020-01-07T19:39:41.0000000Z\" DirectoryPath=\"\"><Entries><Directory><Name>dir1</Name><Properties
        /></Directory><Directory><Name>dir2</Name><Properties /></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /sharec6fa1c20
        - sharesnapshot=2020-01-07T19:39:41.0000000Z&restype=directory&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:42 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>sharec6fa1c20</Name><Snapshot>2020-01-07T19:39:41.0000000Z</Snapshot><Properties><Last-Modified>Tue,
        07 Jan 2020 19:39:41 GMT</Last-Modified><Etag>\"0x8D793A957269608\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>sharec6fa1c20</Name><Properties><Last-Modified>Tue,
        07 Jan 2020 19:39:41 GMT</Last-Modified><Etag>\"0x8D793A957269608\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /
        - include=snapshots&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:42 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharec6fa1c20?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /sharec6fa1c20
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:42 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharec6fa1c20?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /sharec6fa1c20
        - restype=share
        - ''
version: 1
