interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share7bd421e4?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FF0976C3735"'
      last-modified: Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share7bd421e4
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FF097733372"'
      last-modified: Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2020-01-03T01:59:39.2046962Z'
      x-ms-file-creation-time: '2020-01-03T01:59:39.2046962Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-03T01:59:39.2046962Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 14921403822832038700*12090018390305186981
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share7bd421e4/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1/filea1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FF0977B9968"'
      last-modified: Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-03T01:59:39.2597352Z'
      x-ms-file-creation-time: '2020-01-03T01:59:39.2597352Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2020-01-03T01:59:39.2597352Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 1110339524169911339*12090018390305186981
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share7bd421e4/dir1/filea1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1/filea1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: Ahu8fuILcRNNU+ICBr1v6w==
      etag: '"0x8D78FF097802E1B"'
      last-modified: Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share7bd421e4/dir1/filea1
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1/fileb1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FF09799870C"'
      last-modified: Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-03T01:59:39.4558732Z'
      x-ms-file-creation-time: '2020-01-03T01:59:39.4558732Z'
      x-ms-file-id: '14988049928633188352'
      x-ms-file-last-write-time: '2020-01-03T01:59:39.4558732Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 1110339524169911339*12090018390305186981
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share7bd421e4/dir1/fileb1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1/fileb1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: Ahu8fuILcRNNU+ICBr1v6w==
      etag: '"0x8D78FF0979E69F2"'
      last-modified: Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share7bd421e4/dir1/fileb1
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1?maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"share7bd421e4\"
        DirectoryPath=\"dir1\"><MaxResults>2</MaxResults><Entries><File><Name>filea1</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>filea2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEz</NextMarker></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share7bd421e4/dir1
        - maxresults=2&restype=directory&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1?marker=1!8!ZmlsZWEz&maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"share7bd421e4\"
        DirectoryPath=\"dir1\"><Marker>1!8!ZmlsZWEz</Marker><MaxResults>2</MaxResults><Entries><File><Name>filea3</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>fileb1</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /share7bd421e4/dir1
        - marker=1!8!ZmlsZWEz&maxresults=2&restype=directory&comp=list
        - ''
version: 1
