{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareba5b2926?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 22:52:15 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1A415E0C57A\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:52:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareba5b2926/fileba5b2926",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "27",
        "x-ms-date": "Wed, 28 Sep 2022 22:52:15 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA1A415F5C693\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:52:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-09-28T22:52:14.1483667Z",
        "x-ms-file-creation-time": "2022-09-28T22:52:14.1483667Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T22:52:14.1483667Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3254952746172754359*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareba5b2926/fileba5b2926?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 28 Sep 2022 22:52:15 GMT",
        "x-ms-range": "bytes=0-26",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "aGVsbG8g5ZWK6b2E5LiC54ub54ucIHdvcmxk",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1dmqejQJFCXZC/Jqkmc1Lw==",
        "ETag": "\u00220x8DAA1A416057BB3\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:52:14 GMT",
        "x-ms-file-last-write-time": "2022-09-28T22:52:14.2513075Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshareba5b2926/fileba5b2926",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 22:52:15 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-26/27",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAA1A416057BB3\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 22:52:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-09-28T22:52:14.2513075Z",
        "x-ms-file-creation-time": "2022-09-28T22:52:14.1483667Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T22:52:14.2513075Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "3254952746172754359*9622787259914961209",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "aGVsbG8g5ZWK6b2E5LiC54ub54ucIHdvcmxk"
    }
  ],
  "Variables": {}
}
