interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharef1514c2?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D78FF098FD5F10"'
      last-modified: Fri, 03 Jan 2020 01:59:41 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragejabiue52veq7.file.core.windows.net
        - /sharef1514c2
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 Jan 2020 01:59:41 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share1e691d71</Name><Properties><Last-Modified>Fri,
        03 Jan 2020 01:59:39 GMT</Last-Modified><Etag>\"0x8D78FF097D44F1B\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share20df1504</Name><Properties><Last-Modified>Fri,
        03 Jan 2020 01:59:35 GMT</Last-Modified><Etag>\"0x8D78FF09500CFB6\"</Etag><Quota>1</Quota></Properties></Share><Share><Name>share507a1060</Name><Properties><Last-Modified>Fri,
        03 Jan 2020 01:59:33 GMT</Last-Modified><Etag>\"0x8D78FF094544439\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share60a5161b</Name><Properties><Last-Modified>Fri,
        03 Jan 2020 01:59:34 GM[...]
