interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Oct 2020 01:21:58 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/share1e59a13e4?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D870A8C08C18FE"'
      last-modified: Thu, 15 Oct 2020 01:22:16 GMT
      x-ms-version: '2020-02-10'
    status:
      code: 201
      message: Created
    url: https://seanmcccanary3.file.core.windows.net/share1e59a13e4?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Oct 2020 01:22:16 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/share1e59a13e4?restype=share&comp=properties
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D870A8C0B52CF7"'
      last-modified: Thu, 15 Oct 2020 01:22:16 GMT
      x-ms-version: '2020-02-10'
    status:
      code: 200
      message: OK
    url: https://seanmcccanary3.file.core.windows.net/share1e59a13e4?restype=share&comp=properties
- request:
    body: null
    headers:
      x-ms-access-tier:
      - Hot
      x-ms-date:
      - Thu, 15 Oct 2020 01:22:16 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/share1e59a13e4?restype=share&comp=properties
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D870A8C0BF40F9"'
      last-modified: Thu, 15 Oct 2020 01:22:16 GMT
      x-ms-version: '2020-02-10'
    status:
      code: 200
      message: OK
    url: https://seanmcccanary3.file.core.windows.net/share1e59a13e4?restype=share&comp=properties
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Oct 2020 01:22:16 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/share1e59a13e4?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D870A8C0BF40F9"'
      last-modified: Thu, 15 Oct 2020 01:22:16 GMT
      x-ms-access-tier: Hot
      x-ms-access-tier-change-time: Thu, 15 Oct 2020 01:22:16 GMT
      x-ms-access-tier-transition-state: pending-from-transactionOptimized
      x-ms-has-immutability-policy: 'false'
      x-ms-has-legal-hold: 'false'
      x-ms-share-quota: '3'
      x-ms-version: '2020-02-10'
    status:
      code: 200
      message: OK
    url: https://seanmcccanary3.file.core.windows.net/share1e59a13e4?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Oct 2020 01:22:16 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share1816f1171</Name><Properties><Last-Modified>Fri,
        11 Sep 2020 00:43:37 GMT</Last-Modified><Etag>\"0x8D855EBB87CFF33\"</Etag><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri,
        11 Sep 2020 00:43:37 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share182b3117d</Name><Properties><Last-Modified>Fri,
        11 Sep 2020 00:44:44 GMT</Last-Modified><Etag>\"0x8D855EBE0710239\"</Etag><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Fri,
        11 Sep 2020 00:44:44 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share1e59a13e4</Name><Properties><Last-Modified>Thu,
        15 Oct 2020 01:22:16 GMT</Last-Modified><Etag>\"0x8D870A8C0BF40F9\"</Etag><Quota>3</Quota><AccessTier>Hot</AccessTier><AccessTierChangeTime>Thu,
        15 Oct 2020 01:22:16 GMT</AccessTierChangeTime><AccessTierTransitionState>pending-from-transactionOptimized</AccessTierTransitionState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share2e59a13e4</Name><Properties><Last-Modified>Thu,
        15 Oct 2020 01:22:16 GMT</Last-Modified><Etag>\"0x8D870A8C0C8917F\"</Etag><Quota>2</Quota><AccessTier>Cool</AccessTier><AccessTierChangeTime>Thu,
        15 Oct 2020 01:22:16 GMT</AccessTierChangeTime><Access[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Oct 2020 01:22:17 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share1816f1171?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:d30fedfa-001a-0024-2c91-a22c62000000\nTime:2020-10-15T01:22:17.0045713Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/share1816f1171?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Oct 2020 01:22:18 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharerestorecb2f1317?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:d30fee0f-001a-0024-4091-a22c62000000\nTime:2020-10-15T01:22:18.2224324Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/sharerestorecb2f1317?restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Oct 2020 01:22:18 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharesamples5?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:d30fee11-001a-0024-4291-a22c62000000\nTime:2020-10-15T01:22:18.2864770Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/sharesamples5?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Oct 2020 01:22:18 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/test-share-0883f636-747e-4a87-8604-3d2bd0767c0a?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2020-02-10'
    status:
      code: 202
      message: Accepted
    url: https://seanmcccanary3.file.core.windows.net/test-share-0883f636-747e-4a87-8604-3d2bd0767c0a?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Oct 2020 01:22:25 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/test16185160b?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMissing</Code><Message>There
        is currently a lease on the file share and no lease ID was specified in the
        request.\nRequestId:d30fee89-001a-0024-3391-a22c62000000\nTime:2020-10-15T01:22:25.6617161Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: LeaseIdMissing
      x-ms-version: '2020-02-10'
    status:
      code: 412
      message: There is currently a lease on the file share and no lease ID was specified
        in the request.
    url: https://seanmcccanary3.file.core.windows.net/test16185160b?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Oct 2020 01:22:27 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2020-02-10'
    method: DELETE
    uri: https://storagename.file.core.windows.net/utshare1d770f1d?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2020-02-10'
    status:
      code: 202
      message: Accepted
    url: https://seanmcccanary3.file.core.windows.net/utshare1d770f1d?restype=share
version: 1
