interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Mar 2022 00:07:00 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare73051e8b?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA02F310B1A8FD"'
      last-modified: Fri, 11 Mar 2022 00:07:00 GMT
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.file.core.windows.net/utshare73051e8b?restype=share
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1024'
      x-ms-date:
      - Fri, 11 Mar 2022 00:07:00 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare73051e8b/testfile
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA02F310D7354F"'
      last-modified: Fri, 11 Mar 2022 00:07:00 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2022-03-11T00:07:00.9194319Z'
      x-ms-file-creation-time: '2022-03-11T00:07:00.9194319Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2022-03-11T00:07:00.9194319Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 8725144154719613152*15111010650564761710
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.file.core.windows.net/utshare73051e8b/testfile
- request:
    body: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 11 Mar 2022 00:07:00 GMT
      x-ms-range:
      - bytes=0-1023
      x-ms-version:
      - '2021-06-08'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare73051e8b/testfile?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: yaNM/IXZgmmMasifdgcavQ==
      etag: '"0x8DA02F310E034AD"'
      last-modified: Fri, 11 Mar 2022 00:07:00 GMT
      x-ms-file-last-write-time: '2022-03-11T00:07:00.9783981Z'
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.file.core.windows.net/utshare73051e8b/testfile?comp=range
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Mar 2022 00:07:01 GMT
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare73051e8b?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareAlreadyExists</Code><Message>The
        specified share already exists.\nRequestId:376ed71a-901a-006b-7edb-345d36000000\nTime:2022-03-11T00:07:01.4200660Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: ShareAlreadyExists
      x-ms-version: '2021-06-08'
    status:
      code: 409
      message: The specified share already exists.
    url: https://jalauzoncanary.file.core.windows.net/utshare73051e8b?restype=share
- request:
    body: null
    headers:
      x-ms-content-length:
      - '2048'
      x-ms-date:
      - Fri, 11 Mar 2022 00:07:01 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2021-06-08'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare73051e8b/filetoupdate
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA02F3112F3391"'
      last-modified: Fri, 11 Mar 2022 00:07:01 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2022-03-11T00:07:01.4961041Z'
      x-ms-file-creation-time: '2022-03-11T00:07:01.4961041Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2022-03-11T00:07:01.4961041Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 8725144154719613152*15111010650564761710
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.file.core.windows.net/utshare73051e8b/filetoupdate
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Mar 2022 00:07:01 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://storagename.file.core.windows.net/utshare73051e8b/filetoupdate
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8DA02F3112F3391"'
      last-modified: Fri, 11 Mar 2022 00:07:01 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2022-03-11T00:07:01.4961041Z'
      x-ms-file-creation-time: '2022-03-11T00:07:01.4961041Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2022-03-11T00:07:01.4961041Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 8725144154719613152*15111010650564761710
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-type: File
      x-ms-version: '2021-06-08'
    status:
      code: 200
      message: OK
    url: https://jalauzoncanary.file.core.windows.net/utshare73051e8b/filetoupdate
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://storagename.file.core.windows.net/utshare73051e8b/testfile?se=2022-03-11T01%3A07%3A01Z&sp=r&sv=2021-06-08&sr=f&sig=xxx
      x-ms-date:
      - Fri, 11 Mar 2022 00:07:01 GMT
      x-ms-file-last-write-time:
      - Preserve
      x-ms-range:
      - bytes=0-511
      x-ms-source-range:
      - bytes=0-511
      x-ms-version:
      - '2021-06-08'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare73051e8b/filetoupdate?comp=range
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA02F316598905"'
      last-modified: Fri, 11 Mar 2022 00:07:10 GMT
      x-ms-content-crc64: EZA9hgZaRrQ=
      x-ms-file-last-write-time: '2022-03-11T00:07:01.4961041Z'
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-06-08'
    status:
      code: 201
      message: Created
    url: https://jalauzoncanary.file.core.windows.net/utshare73051e8b/filetoupdate?comp=range
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Mar 2022 00:07:10 GMT
      x-ms-version:
      - '2021-06-08'
    method: HEAD
    uri: https://storagename.file.core.windows.net/utshare73051e8b/filetoupdate
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8DA02F316598905"'
      last-modified: Fri, 11 Mar 2022 00:07:10 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2022-03-11T00:07:10.1621509Z'
      x-ms-file-creation-time: '2022-03-11T00:07:01.4961041Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2022-03-11T00:07:01.4961041Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 8725144154719613152*15111010650564761710
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-server-encrypted: 'true'
      x-ms-type: File
      x-ms-version: '2021-06-08'
    status:
      code: 200
      message: OK
    url: https://jalauzoncanary.file.core.windows.net/utshare73051e8b/filetoupdate
version: 1
