{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharedf6434d0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:24:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA197C2A5E92C\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:24:00 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharedf6434d0/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:24:01 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-meta-test1": "foo",
        "x-ms-meta-test2": "bar",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA197C2B79B9A\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:24:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:24:00.5292954Z",
        "x-ms-file-creation-time": "2022-09-28T21:24:00.5292954Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T21:24:00.5292954Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17100207456270243504*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharedf6434d0?restype=share\u0026comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:24:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA197C2A5E92C\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:24:00 GMT",
        "x-ms-snapshot": "2022-09-28T21:24:00.0000000Z",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharedf6434d0/dir1?restype=directory\u0026comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:24:02 GMT",
        "x-ms-meta-test100": "foo100",
        "x-ms-meta-test200": "bar200",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA197C2DCF864\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:24:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharedf6434d0/dir1?restype=directory\u0026sharesnapshot=2022-09-28T21:24:00.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:24:02 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA197C2B79B9A\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:24:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:24:00.5292954Z",
        "x-ms-file-creation-time": "2022-09-28T21:24:00.5292954Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T21:24:00.5292954Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17100207456270243504*9622787259914961209",
        "x-ms-meta-test1": "foo",
        "x-ms-meta-test2": "bar",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
