interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 23 Sep 2022 00:02:39 GMT
      x-ms-version:
      - '2021-12-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharee94f1c73?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA9CF6EDF131AD"'
      last-modified: Fri, 23 Sep 2022 00:02:39 GMT
      x-ms-version: '2021-12-02'
    status:
      code: 201
      message: Created
    url: https://895xscnapby3pev24a.file.core.windows.net/utsharee94f1c73?restype=share
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 23 Sep 2022 00:02:39 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-12-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharee94f1c73/dir1%EF%BF%BE?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA9CF6EDFFB279"'
      last-modified: Fri, 23 Sep 2022 00:02:39 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2022-09-23T00:02:39.5191929Z'
      x-ms-file-creation-time: '2022-09-23T00:02:39.5191929Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2022-09-23T00:02:39.5191929Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 17890999755949055624*8424394211336681673
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-12-02'
    status:
      code: 201
      message: Created
    url: https://895xscnapby3pev24a.file.core.windows.net/utsharee94f1c73/dir1%EF%BF%BE?restype=directory
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 23 Sep 2022 00:02:39 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2021-12-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharee94f1c73/dir1%EF%BF%BE%2Fsubdir1%EF%BF%BE?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA9CF6EE0EA6A6"'
      last-modified: Fri, 23 Sep 2022 00:02:39 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2022-09-23T00:02:39.6171942Z'
      x-ms-file-creation-time: '2022-09-23T00:02:39.6171942Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2022-09-23T00:02:39.6171942Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 17890999755949055624*8424394211336681673
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-12-02'
    status:
      code: 201
      message: Created
    url: https://895xscnapby3pev24a.file.core.windows.net/utsharee94f1c73/dir1%EF%BF%BE%2Fsubdir1%EF%BF%BE?restype=directory
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Fri, 23 Sep 2022 00:02:39 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2021-12-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharee94f1c73/dir1%EF%BF%BE/file1%EF%BF%BE
  response:
    body:
      string: ''
    headers:
      etag: '"0x8DA9CF6EE1FE4D2"'
      last-modified: Fri, 23 Sep 2022 00:02:39 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2022-09-23T00:02:39.7301970Z'
      x-ms-file-creation-time: '2022-09-23T00:02:39.7301970Z'
      x-ms-file-id: '13835093239654252544'
      x-ms-file-last-write-time: '2022-09-23T00:02:39.7301970Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 10871285626468601775*8424394211336681673
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-12-02'
    status:
      code: 201
      message: Created
    url: https://895xscnapby3pev24a.file.core.windows.net/utsharee94f1c73/dir1%EF%BF%BE/file1%EF%BF%BE
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 23 Sep 2022 00:02:39 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2021-12-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharee94f1c73/dir1%EF%BF%BE/file1%EF%BF%BE?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: idkDvDXe3nJP1SxRQ3/1/Q==
      etag: '"0x8DA9CF6EE27D404"'
      last-modified: Fri, 23 Sep 2022 00:02:39 GMT
      x-ms-file-last-write-time: '2022-09-23T00:02:39.7821956Z'
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2021-12-02'
    status:
      code: 201
      message: Created
    url: https://895xscnapby3pev24a.file.core.windows.net/utsharee94f1c73/dir1%EF%BF%BE/file1%EF%BF%BE?comp=range
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 23 Sep 2022 00:02:39 GMT
      x-ms-version:
      - '2021-12-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utsharee94f1c73/dir1%EF%BF%BE?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utsharee94f1c73\"
        Encoded=\"true\" DirectoryPath=\"dir1%EF%BF%BE\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name
        Encoded=\"true\">file1%EF%BF%BE</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name
        Encoded=\"true\">subdir1%EF%BF%BE</Name><FileId>11529285414812647424</FileId><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2021-12-02'
    status:
      code: 200
      message: OK
    url: https://895xscnapby3pev24a.file.core.windows.net/utsharee94f1c73/dir1%EF%BF%BE?restype=directory&comp=list
version: 1
