interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 07 Oct 2020 02:08:16 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/shared365137f?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D86A65DAC12265"'
      last-modified: Wed, 07 Oct 2020 02:08:16 GMT
      x-ms-version: '2020-02-10'
    status:
      code: 201
      message: Created
    url: https://emilyeuap.file.core.windows.net/shared365137f?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 07 Oct 2020 02:08:16 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/shared365137f?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The
        specified share does not exist.\nRequestId:d3f843ec-301a-0032-354e-9c4dd7000000\nTime:2020-10-07T02:08:16.9138006Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: ShareNotFound
      x-ms-version: '2020-02-10'
    status:
      code: 404
      message: The specified share does not exist.
    url: https://emilyeuap.file.core.windows.net/shared365137f?restype=share
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 07 Oct 2020 02:08:47 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=deleted&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>existing647b1102</Name><Properties><Last-Modified>Mon,
        11 May 2020 18:30:59 GMT</Last-Modified><Etag>\"0x8D7F5D973C38650\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>existingbed60c48</Name><Properties><Last-Modified>Mon,
        11 May 2020 17:36:05 GMT</Last-Modified><Etag>\"0x8D7F5D1C82848E3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Mon,
        11 May 2020 17:36:05 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>share647b1102</Name><Deleted>true</Deleted><Version>01D69C4E05E0F6C1</Version><Properties><Last-Modified>Wed,
        07 Oct 2020 02:03:17 GMT</Last-Modified><Etag>\"0x8D86A6528428E2C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>broken</LeaseState><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Wed,
        07 Oct 2020 02:03:17 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><DeletedTime>Wed,
        07 Oct 2020 02:03:17 GMT</DeletedTime><RemainingRetentionDays>7</RemainingRetentionDays></Properties></Share><Share><Name>share647b1102</Name><Properties><Last-Modified>Wed,
        07 Oct 2020 02:03:48 GMT</Last-Modified><Etag>\"0x8D86A653AA236A4\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>Wed,
        07 Oct 2020 02:03:48 GMT</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScop[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 07 Oct 2020 02:08:47 GMT
      x-ms-deleted-share-name:
      - shared365137f
      x-ms-deleted-share-version:
      - 01D69C4EB84A8D4F
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/shared365137f?restype=share&comp=undelete
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareAlreadyExists</Code><Message>The
        specified share already exists.\nRequestId:613add17-701a-0033-214e-9c120b000000\nTime:2020-10-07T02:08:47.5350394Z</Message></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: ShareAlreadyExists
      x-ms-version: '2020-02-10'
    status:
      code: 409
      message: The specified share already exists.
    url: https://emilyeuap.file.core.windows.net/shared365137f?restype=share&comp=undelete
version: 1
