interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:21 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A14D87FA50B"'
      last-modified: Wed, 15 Jan 2020 23:44:21 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharecde41c24
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:21 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A14D886C885"'
      last-modified: Wed, 15 Jan 2020 23:44:21 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2020-01-15T23:44:21.8949765Z'
      x-ms-file-creation-time: '2020-01-15T23:44:21.8949765Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-15T23:44:21.8949765Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 10306785916763839378*16704459309046467611
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharecde41c24/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:21 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A14D88F2E65"'
      last-modified: Wed, 15 Jan 2020 23:44:21 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2020-01-15T23:44:21.9500133Z'
      x-ms-file-creation-time: '2020-01-15T23:44:21.9500133Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2020-01-15T23:44:21.9500133Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 10306785916763839378*16704459309046467611
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharecde41c24/dir1%2Fsubdir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:21 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1%2Fsubdir1%2Fsubdir2?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A14D8960D66"'
      last-modified: Wed, 15 Jan 2020 23:44:21 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2020-01-15T23:44:21.9950438Z'
      x-ms-file-creation-time: '2020-01-15T23:44:21.9950438Z'
      x-ms-file-id: '16140971433240035328'
      x-ms-file-last-write-time: '2020-01-15T23:44:21.9950438Z'
      x-ms-file-parent-id: '11529285414812647424'
      x-ms-file-permission-key: 10306785916763839378*16704459309046467611
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharecde41c24/dir1%2Fsubdir1%2Fsubdir2
        - restype=directory
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:22 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1/file1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A14D8A32F08"'
      last-modified: Wed, 15 Jan 2020 23:44:22 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-15T23:44:22.0811016Z'
      x-ms-file-creation-time: '2020-01-15T23:44:22.0811016Z'
      x-ms-file-id: '14988049928633188352'
      x-ms-file-last-write-time: '2020-01-15T23:44:22.0811016Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 5724850820508509333*16704459309046467611
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharecde41c24/dir1/file1
        - ''
        - ''
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:22 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: idkDvDXe3nJP1SxRQ3/1/Q==
      etag: '"0x8D79A14D8AA5C32"'
      last-modified: Wed, 15 Jan 2020 23:44:22 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharecde41c24/dir1/file1
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:22 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1/subdir1/file2
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D79A14D8B8B68A"'
      last-modified: Wed, 15 Jan 2020 23:44:22 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-15T23:44:22.2221962Z'
      x-ms-file-creation-time: '2020-01-15T23:44:22.2221962Z'
      x-ms-file-id: '13835093239654252544'
      x-ms-file-last-write-time: '2020-01-15T23:44:22.2221962Z'
      x-ms-file-parent-id: '11529285414812647424'
      x-ms-file-permission-key: 5724850820508509333*16704459309046467611
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharecde41c24/dir1/subdir1/file2
        - ''
        - ''
[...]
- request:
    body: data2
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:22 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1/subdir1/file2?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: /5zy1pDYiMszf2v0UmthMA==
      etag: '"0x8D79A14D8C14383"'
      last-modified: Wed, 15 Jan 2020 23:44:22 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharecde41c24/dir1/subdir1/file2
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:44:22 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utsharecde41c24\"
        DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage43x4qoc3y4bx.file.core.windows.net
        - /utsharecde41c24/dir1
        - restype=directory&comp=list
        - ''
version: 1
