interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:54:53 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharecf0e3a?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D79A1650F3235B"'
      last-modified:
      - Wed, 15 Jan 2020 23:54:53 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:54:53 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharecf0e3a/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D79A16510AF4AB"'
      last-modified:
      - Wed, 15 Jan 2020 23:54:53 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2020-01-15T23:54:53.5845035Z'
      x-ms-file-creation-time:
      - '2020-01-15T23:54:53.5845035Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2020-01-15T23:54:53.5845035Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 10306785916763839378*16704459309046467611
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '11'
      x-ms-date:
      - Wed, 15 Jan 2020 23:54:53 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharecf0e3a/dir1/file1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D79A1651233BCA"'
      last-modified:
      - Wed, 15 Jan 2020 23:54:53 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2020-01-15T23:54:53.7436106Z'
      x-ms-file-creation-time:
      - '2020-01-15T23:54:53.7436106Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2020-01-15T23:54:53.7436106Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 5724850820508509333*16704459309046467611
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 15 Jan 2020 23:54:53 GMT
      x-ms-range:
      - bytes=0-10
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/sharecf0e3a/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - XrY7u+Ae7tCTyyK7j1rNww==
      etag:
      - '"0x8D79A165130F9C8"'
      last-modified:
      - Wed, 15 Jan 2020 23:54:53 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://storagename.file.core.windows.net/sharecf0e3a/dir1/file1?se=2020-01-16T00%3A54%3A53Z&sp=r&sv=2019-02-02&sr=s&sig=I6h6qxJSCDQjsHzziH/Un3OV%2BfWVQ6fiuYIYNhzA3LY%3D
  response:
    body:
      string: hello world
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D79A165130F9C8"'
      last-modified:
      - Wed, 15 Jan 2020 23:54:53 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2020-01-15T23:54:53.7436106Z'
      x-ms-file-creation-time:
      - '2020-01-15T23:54:53.7436106Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2020-01-15T23:54:53.7436106Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 5724850820508509333*16704459309046467611
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:54:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>sharecf0e3a</Name><Properties><Last-Modified>Wed,
        15 Jan 2020 23:54:53 GMT</Last-Modified><Etag>\"0x8D79A1650F3235B\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jan 2020 23:54:54 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharecf0e3a?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
version: 1
