{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharea75e3405?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19B00324F0F\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharea75e3405/dir1?restype=directory\u0026se=end\u0026sp=rw\u0026sv=2023-01-03\u0026sr=s\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:13 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19B004BDFB5\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:47:12.3321781Z",
        "x-ms-file-creation-time": "2022-09-28T21:47:12.3321781Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T21:47:12.3321781Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17100207456270243504*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharea75e3405/dir2?restype=directory\u0026comp=rename\u0026se=end\u0026sp=rw\u0026sv=2023-01-03\u0026sr=s\u0026sig=fake_token_value",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:13 GMT",
        "x-ms-file-rename-source": "https://storagename.file.core.windows.net/utsharea75e3405/dir1?se=end\u0026sp=rw\u0026sv=2023-01-03\u0026sr=s\u0026sig=fake_token_value",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19B0060C429\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:47:12.4690985Z",
        "x-ms-file-creation-time": "2022-09-28T21:47:12.3321781Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T21:47:12.3321781Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17100207456270243504*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utsharea75e3405/dir2?restype=directory\u0026se=end\u0026sp=rw\u0026sv=2023-01-03\u0026sr=s\u0026sig=fake_token_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19B0060C429\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:47:12.4690985Z",
        "x-ms-file-creation-time": "2022-09-28T21:47:12.3321781Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T21:47:12.3321781Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17100207456270243504*9622787259914961209",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
