interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/random6348110b?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73BCD87BF181F"'
      Last-Modified:
      - Wed, 18 Sep 2019 00:17:02 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/random6348110b?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73BCD87BF181F"'
      Last-Modified:
      - Wed, 18 Sep 2019 00:17:02 GMT
      x-ms-snapshot:
      - '2019-09-18T00:17:02.0000000Z'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>random6348110b</Name><Snapshot>2019-09-18T00:17:02.0000000Z</Snapshot><Properties><Last-Modified>Wed,
        18 Sep 2019 00:17:02 GMT</Last-Modified><Etag>\"0x8D73BCD87BF181F\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>random6348110b</Name><Snapshot>2019-09-18T00:17:03.0000000Z</Snapshot><Properties><Last-Modified>Wed,
        18 Sep 2019 00:17:02 GMT</Last-Modified><Etag>\"0x8D73BCD87BF181F\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>random6348110b</Name><Properties><Last-Modified>Wed,
        18 Sep 2019 00:17:02 GMT</Last-Modified><Etag>\"0x8D73BCD87BF181F\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:03 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/random6348110b?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares /><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
