interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:50 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharecdaa1334?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793A95C7F84AD"'
      last-modified: Tue, 07 Jan 2020 19:39:50 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /sharecdaa1334
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:51 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharecdaa1334/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793A95C95D041"'
      last-modified: Tue, 07 Jan 2020 19:39:50 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2020-01-07T19:39:50.8292673Z'
      x-ms-file-creation-time: '2020-01-07T19:39:50.8292673Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2020-01-07T19:39:50.8292673Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 9349305716260749681*16817652741053339384
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /sharecdaa1334/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '11'
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:51 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/sharecdaa1334/dir1/file1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D793A95CA22E92"'
      last-modified: Tue, 07 Jan 2020 19:39:50 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2020-01-07T19:39:50.9103250Z'
      x-ms-file-creation-time: '2020-01-07T19:39:50.9103250Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2020-01-07T19:39:50.9103250Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 4739095578992328310*16817652741053339384
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /sharecdaa1334/dir1/file1
        - ''
        - ''
- request:
    body: hello world
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:51 GMT
      x-ms-range:
      - bytes=0-10
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/sharecdaa1334/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: XrY7u+Ae7tCTyyK7j1rNww==
      etag: '"0x8D793A95CB0FE42"'
      last-modified: Tue, 07 Jan 2020 19:39:51 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /sharecdaa1334/dir1/file1
        - comp=range
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://storagename.file.core.windows.net/sharecdaa1334/dir1/file1?se=2020-01-07T20%3A39%3A51Z&sp=r&sv=2019-02-02&sr=s&sig=0OOxjbrDJw2t4zFctiZR5mpuVCuTucebTvIKwyuFUj8%3D
  response:
    body:
      string: hello world
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D793A95CB0FE42"'
      last-modified:
      - Tue, 07 Jan 2020 19:39:51 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2020-01-07T19:39:50.9103250Z'
      x-ms-file-creation-time:
      - '2020-01-07T19:39:50.9103250Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2020-01-07T19:39:50.9103250Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 4739095578992328310*16817652741053339384
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:51 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>sharecdaa1334</Name><Properties><Last-Modified>Tue,
        07 Jan 2020 19:39:50 GMT</Last-Modified><Etag>\"0x8D793A95C7F84AD\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /
        - include=snapshots&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 07 Jan 2020 19:39:51 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/sharecdaa1334?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageemebfcdptkm2.file.core.windows.net
        - /sharecdaa1334
        - restype=share
        - ''
version: 1
