{
  "Entries": [
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshared27d3860?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AFEC279FE\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshared27d3860/dir1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:11 GMT",
        "x-ms-file-attributes": "none",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AFED57CFF\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:47:09.8786047Z",
        "x-ms-file-creation-time": "2022-09-28T21:47:09.8786047Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T21:47:09.8786047Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7468832583480677772*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshared27d3860/dir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AFED57CFF\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:09 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:47:09.8786047Z",
        "x-ms-file-creation-time": "2022-09-28T21:47:09.8786047Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T21:47:09.8786047Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7468832583480677772*9622787259914961209",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshared27d3860/dir2?restype=directory\u0026comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:11 GMT",
        "x-ms-file-permission": "preserve",
        "x-ms-file-rename-source": "https://storagename.file.core.windows.net/utshared27d3860/dir1",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AFEF55C51\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:47:10.0874833Z",
        "x-ms-file-creation-time": "2022-09-28T21:47:09.8786047Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T21:47:09.8786047Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7468832583480677772*9622787259914961209",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://storagename.file.core.windows.net/utshared27d3860/dir2?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Wed, 28 Sep 2022 21:47:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA19AFEF55C51\u0022",
        "Last-Modified": "Wed, 28 Sep 2022 21:47:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2022-09-28T21:47:10.0874833Z",
        "x-ms-file-creation-time": "2022-09-28T21:47:09.8786047Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-09-28T21:47:09.8786047Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7468832583480677772*9622787259914961209",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
