interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 24 Sep 2020 01:51:02 GMT
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharea5a50b39?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8602C4AD588A3"'
      last-modified:
      - Thu, 24 Sep 2020 01:51:02 GMT
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '2048'
      x-ms-date:
      - Thu, 24 Sep 2020 01:51:02 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2020-02-10'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharea5a50b39/filea5a50b39
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D8602C4B17A6D1"'
      last-modified:
      - Thu, 24 Sep 2020 01:51:02 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2020-09-24T01:51:02.7593937Z'
      x-ms-file-creation-time:
      - '2020-09-24T01:51:02.7593937Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2020-09-24T01:51:02.7593937Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 4010187179898695473*11459378189709739967
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 24 Sep 2020 01:51:03 GMT
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2020-02-10'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharea5a50b39/filea5a50b39?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - pTsTLZHyQ+et6NksJ1OHxg==
      etag:
      - '"0x8D8602C4B29AB78"'
      last-modified:
      - Thu, 24 Sep 2020 01:51:02 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 24 Sep 2020 01:51:03 GMT
      x-ms-version:
      - '2020-02-10'
    method: GET
    uri: https://storagename.file.core.windows.net/utsharea5a50b39/filea5a50b39?comp=rangelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>511</End></Range><Range><Start>1024</Start><End>1535</End></Range></Ranges>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D8602C4B3AECBB"'
      last-modified:
      - Thu, 24 Sep 2020 01:51:02 GMT
      x-ms-content-length:
      - '2048'
      x-ms-version:
      - '2020-02-10'
    status:
      code: 200
      message: OK
version: 1
