interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Dec 2019 20:08:31 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/share240e1523?restype=share
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._multidict.istr
      - Date
      : Thu, 12 Dec 2019 20:08:34 GMT
      ? !!python/object/new:multidict._multidict.istr
      - Etag
      : '"0x8D77F3F11A2EFF9"'
      ? !!python/object/new:multidict._multidict.istr
      - Last-Modified
      : Thu, 12 Dec 2019 20:08:35 GMT
      ? !!python/object/new:multidict._multidict.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share240e1523
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Dec 2019 20:08:31 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share240e1523</Name><Properties><Last-Modified>Thu,
        12 Dec 2019 20:08:35 GMT</Last-Modified><Etag>\"0x8D77F3F11A2EFF9\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._multidict.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._multidict.istr
      - Date
      : Thu, 12 Dec 2019 20:08:34 GMT
      ? !!python/object/new:multidict._multidict.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._multidict.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._multidict.istr
      - Vary
      : Origin
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /
        - include=&comp=list
        - ''
version: 1
