interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><Cors><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><AllowedHeaders
      /><ExposedHeaders /><MaxAgeInSeconds>0</MaxAgeInSeconds></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><AllowedHeaders
      /><ExposedHeaders /><MaxAgeInSeconds>0</MaxAgeInSeconds></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><AllowedHeaders
      /><ExposedHeaders /><MaxAgeInSeconds>0</MaxAgeInSeconds></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><AllowedHeaders
      /><ExposedHeaders /><MaxAgeInSeconds>0</MaxAgeInSeconds></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><AllowedHeaders
      /><ExposedHeaders /><MaxAgeInSeconds>0</MaxAgeInSeconds></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><AllowedHeaders
      /><ExposedHeaders /><MaxAgeInSeconds>0</MaxAgeInSeconds></CorsRule></Cors></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:36:35 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML
        specified is not syntactically valid.\nRequestId:90fa4fd8-701a-0063-5f43-4a2225000000\nTime:2019-08-03T21:36:34.5062328Z</Message><LineNumber>0</LineNumber><LinePosition>0</LinePosition><Reason
        /></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - InvalidXmlDocument
      x-ms-version:
      - '2018-11-09'
    status:
      code: 400
      message: XML specified is not syntactically valid.
[...]
