{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_509965066061?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "new-description",
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/testCompute",
          "displayName": "new_builder_command_job",
          "experimentName": "mfe-test1-dataset",
          "isArchived": false,
          "jobType": "Sweep",
          "earlyTermination": {
            "delayEvaluation": 200,
            "evaluationInterval": 100,
            "policyType": "TruncationSelection",
            "truncationPercentage": 40
          },
          "inputs": {
            "uri": {
              "uri": "azureml://datastores/workspaceblobstore/paths/python/data.csv",
              "jobInputType": "uri_file"
            }
          },
          "limits": {
            "jobLimitsType": "Sweep",
            "timeout": "PT5M",
            "maxConcurrentTrials": 2,
            "maxTotalTrials": 10
          },
          "objective": {
            "goal": "maximize",
            "primaryMetric": "accuracy"
          },
          "outputs": {},
          "samplingAlgorithm": {
            "samplingAlgorithmType": "Random"
          },
          "searchSpace": {
            "lr": [
              "loguniform",
              [
                0.001,
                0.1
              ]
            ]
          },
          "trial": {
            "command": "echo ${{inputs.uri}} ${{search_space.learning_rate}}",
            "environmentId": "azureml:AzureML-sklearn-1.0-ubuntu20.04-py38-cpu:33"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_509965066061?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1155",
        "x-ms-response-type": "standard",
        "x-request-time": "1.228"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_509965066061",
        "name": "test_509965066061",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "new-description",
          "tags": {
            "_aml_system_max_concurrent_jobs": "2",
            "_aml_system_max_total_jobs": "10",
            "_aml_system_max_duration_minutes": "5",
            "_aml_system_policy_config": "{\u0022name\u0022:\u0022TruncationSelection\u0022,\u0022properties\u0022:{\u0022evaluation_interval\u0022:100,\u0022delay_evaluation\u0022:200,\u0022truncation_percentage\u0022:40,\u0022exclude_finished_jobs\u0022:false}}",
            "_aml_system_generator_config": "{\u0022name\u0022:\u0022RANDOM\u0022,\u0022parameter_space\u0022:{\u0022lr\u0022:[\u0022loguniform\u0022,[0.001,0.1]]},\u0022properties\u0022:{\u0022rule\u0022:\u0022Random\u0022,\u0022logbase\u0022:null,\u0022seed\u0022:null}}",
            "_aml_system_primary_metric_config": "{\u0022name\u0022:\u0022accuracy\u0022,\u0022goal\u0022:\u0022maximize\u0022}",
            "_aml_system_platform_config": "{\u0022ServiceAddress\u0022:\u0022https://eastus.api.azureml.ms\u0022,\u0022SubscriptionId\u0022:\u002200000000-0000-0000-0000-000000000\u0022,\u0022ResourceGroupName\u0022:\u002200000\u0022,\u0022WorkspaceName\u0022:\u002200000\u0022,\u0022ExperimentName\u0022:\u0022mfe-test1-dataset\u0022,\u0022Definition\u0022:{\u0022Configuration\u0022:null,\u0022Attribution\u0022:null,\u0022TelemetryValues\u0022:null,\u0022Overrides\u0022:{\u0022Script\u0022:null,\u0022Command\u0022:\u0022echo ${{inputs.u[...]
