{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11993",
        "x-ms-response-type": "standard",
        "x-request-time": "0.015"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sadnuammrwdeilc",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtesthhy5m5pqcjec6",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aidnuammrwdeilc",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crdnuammrwdeilc",
          "notebookInfo": {
            "resourceId": "493ca697a7f447848820635d6ef3a5f0",
            "fqdn": "ml-sdkvnextcli-eastus2-c33afa53-cead-40f1-8d1d-ac5976604612.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "c33afa53-cead-40f1-8d1d-ac5976604612",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "066b0d89-53d2-4b58-8bc8-ac382527e4fb",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "ab3f5d04-98db-441d-97a8-f558ea82f4ef",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-01-17T23:08:06.6643232Z",
          "createdBy": "dipeck@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-01-17T23:08:06.6643232Z",
          "lastModifiedBy": "dipeck@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/getByHash?hash=a4e91c079c2a271d699ffac5ca5441abc8034151356913e57bff8f483c3d3a3b\u0026hashVersion=202208",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.019"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Request body could not be read. Ensure data was provided in the request body and that the content-type header is correct.",
          "messageFormat": null,
          "messageParameters": {},
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": null,
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": null,
        "environment": null,
        "location": null,
        "time": "0001-01-01T00:00:00\u002B00:00",
        "componentName": null
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/assetstore/v1.0/temporaryDataReference/createOrGet",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "assetId": "azureml://locations/eastus2/workspaces/c33afa53-cead-40f1-8d1d-ac5976604612/codes/000000000000000000000/versions/1",
        "temporaryDataReferenceId": "1c8252b5-52d1-4b21-9334-c2b7ee3e3f75",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.083"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://sadnuammrwdeilc.blob.core.windows.net:443/c33afa53-c-95a89278-9bae-5ac5-8e2c-fa8891f734de",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sadnuammrwdeilc",
          "credential": {
            "sasUri": "https://sadnuammrwdeilc.blob.core.windows.net/c33afa53-c-95a89278-9bae-5ac5-8e2c-fa8891f734de?skoid=ab3f5d04-98db-441d-97a8-f558ea82f4ef\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-17T23%3A58%3A03Z\u0026ske=2023-01-19T08%3A08%3A03Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-17T23%3A58%3A53Z\u0026se=2023-01-18T08%3A08%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=nq6J4I5mLgoauz2ram8ccBHjZe5Yg1SbFYInjsNU%2BTc%3D",
            "wasbsUri": null,
            "credentialType": "SAS"
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "1c8252b5-52d1-4b21-9334-c2b7ee3e3f75",
        "temporaryDataReferenceType": null
      }
    },
    {
      "RequestUri": "https://sadnuammrwdeilc.blob.core.windows.net/c33afa53-c-95a89278-9bae-5ac5-8e2c-fa8891f734de/python/sample1.csv?skoid=ab3f5d04-98db-441d-97a8-f558ea82f4ef\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-17T23%3A58%3A03Z\u0026ske=2023-01-19T08%3A08%3A03Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-17T23%3A58%3A53Z\u0026se=2023-01-18T08%3A08%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=nq6J4I5mLgoauz2ram8ccBHjZe5Yg1SbFYInjsNU%2BTc%3D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 18 Jan 2023 00:08:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sadnuammrwdeilc.blob.core.windows.net/c33afa53-c-95a89278-9bae-5ac5-8e2c-fa8891f734de/python/simple_train.py?skoid=ab3f5d04-98db-441d-97a8-f558ea82f4ef\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-17T23%3A58%3A03Z\u0026ske=2023-01-19T08%3A08%3A03Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-17T23%3A58%3A53Z\u0026se=2023-01-18T08%3A08%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=nq6J4I5mLgoauz2ram8ccBHjZe5Yg1SbFYInjsNU%2BTc%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "CJ5ufDE5SUpMppnKB03iOg==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 18 Jan 2023 00:08:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aW1wb3J0IGFyZ3BhcnNlCgppbXBvcnQgbWxmbG93LnNrbGVhcm4KaW1wb3J0IG51bXB5IGFzIG5wCmZyb20gc2tsZWFybi5zdm0gaW1wb3J0IFNWQwoKCmRlZiBwYXJzZV9hcmdzKCk6CiAgICBwYXJzZXIgPSBhcmdwYXJzZS5Bcmd1bWVudFBhcnNlcihkZXNjcmlwdGlvbj0iU1ZNIGV4YW1wbGUiKQogICAgcGFyc2VyLmFkZF9hcmd1bWVudCgKICAgICAgICAiLWMiLAogICAgICAgIHR5cGU9ZmxvYXQsCiAgICAgICAgZGVmYXVsdD0xLjAsCiAgICAgICAgaGVscD0iU1ZNIENvc3Qg[...]
[...]
    {
      "RequestUri": "https://sadnuammrwdeilc.blob.core.windows.net/c33afa53-c-95a89278-9bae-5ac5-8e2c-fa8891f734de/python/sweep_script_search.py?skoid=ab3f5d04-98db-441d-97a8-f558ea82f4ef\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-17T23%3A58%3A03Z\u0026ske=2023-01-19T08%3A08%3A03Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-17T23%3A58%3A53Z\u0026se=2023-01-18T08%3A08%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=nq6J4I5mLgoauz2ram8ccBHjZe5Yg1SbFYInjsNU%2[...]
    {
      "RequestUri": "https://sadnuammrwdeilc.blob.core.windows.net/c33afa53-c-95a89278-9bae-5ac5-8e2c-fa8891f734de/python/sweep_script.py?skoid=ab3f5d04-98db-441d-97a8-f558ea82f4ef\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-17T23%3A58%3A03Z\u0026ske=2023-01-19T08%3A08%3A03Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-17T23%3A58%3A53Z\u0026se=2023-01-18T08%3A08%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=nq6J4I5mLgoauz2ram8ccBHjZe5Yg1SbFYInjsNU%2BTc%3D"[...]
    {
      "RequestUri": "https://sadnuammrwdeilc.blob.core.windows.net/c33afa53-c-95a89278-9bae-5ac5-8e2c-fa8891f734de/python/train.py?skoid=ab3f5d04-98db-441d-97a8-f558ea82f4ef\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-17T23%3A58%3A03Z\u0026ske=2023-01-19T08%3A08%3A03Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-17T23%3A58%3A53Z\u0026se=2023-01-18T08%3A08%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=nq6J4I5mLgoauz2ram8ccBHjZe5Yg1SbFYInjsNU%2BTc%3D",
     [...]
    {
      "RequestUri": "https://sadnuammrwdeilc.blob.core.windows.net/c33afa53-c-95a89278-9bae-5ac5-8e2c-fa8891f734de/python/sample1.csv?comp=metadata\u0026skoid=ab3f5d04-98db-441d-97a8-f558ea82f4ef\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-17T23%3A58%3A03Z\u0026ske=2023-01-19T08%3A08%3A03Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-17T23%3A58%3A53Z\u0026se=2023-01-18T08%3A08%3A53Z\u0026sr=c\u0026sp=rcwl\u0026sig=nq6J4I5mLgoauz2ram8ccBHjZe5Yg1SbFYInjsNU%2BTc%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Wed, 18 Jan 2023 00:08:54 GMT",
        "x-ms-meta-name": "000000000000000000000",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAF8E82FBE17DF\u0022",
        "Last-Modified": "Wed, 18 Jan 2023 00:08:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sadnuammrwdeilc.blob.core.windows.net:443/c33afa53-c-95a89278-9bae-5ac5-8e2c-fa8891f734de/python"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2022-05-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1193",
        "x-ms-response-type": "standard",
        "x-request-time": "0.189"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://sadnuammrwdeilc.blob.core.windows.net:443/c33afa53-c-95a89278-9bae-5ac5-8e2c-fa8891f734de/python"
        },
        "systemData": {
          "createdAt": "2023-01-18T00:08:56.9840812\u002B00:00",
          "createdBy": "Diondra Peck",
          "createdByType": "User",
          "lastModifiedAt": "2023-01-18T00:08:56.9840812\u002B00:00",
          "lastModifiedBy": "Diondra Peck",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_821921906822?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/testCompute",
          "displayName": "test_821921906822",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Sweep",
          "inputs": {},
          "limits": {
            "jobLimitsType": "Sweep",
            "timeout": "PT5M",
            "maxConcurrentTrials": 10,
            "maxTotalTrials": 2
          },
          "objective": {
            "goal": "maximize",
            "primaryMetric": "accuracy"
          },
          "outputs": {},
          "samplingAlgorithm": {
            "samplingAlgorithmType": "Random"
          },
          "searchSpace": {
            "lr": [
              "uniform",
              [
                0.001,
                0.1
              ]
            ],
            "conv_size": [
              "choice",
              [
                [
                  2,
                  5,
                  7
                ]
              ]
            ],
            "dropout_rate": [
              "uniform",
              [
                0.1,
                0.5
              ]
            ]
          },
          "trial": {
            "codeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "command": "python ./sweep_script.py --lr ${{search_space.lr}} --conv_size ${{search_space.conv_size}} --dropout_rate ${{search_space.dropout_rate}}",
            "environmentId": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1",
            "environmentVariables": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_821921906822?api-version=2022-10-01-preview",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1192",
        "x-ms-response-type": "standard",
        "x-request-time": "0.783"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_821921906822",
        "name": "test_821921906822",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {
            "_aml_system_max_concurrent_jobs": "10",
            "_aml_system_max_total_jobs": "2",
            "_aml_system_max_duration_minutes": "5",
            "_aml_system_policy_config": "{\u0022name\u0022:\u0022Default\u0022,\u0022properties\u0022:{}}",
            "_aml_system_generator_config": "{\u0022name\u0022:\u0022RANDOM\u0022,\u0022parameter_space\u0022:{\u0022lr\u0022:[\u0022uniform\u0022,[0.001,0.1]],\u0022conv_size\u0022:[\u0022choice\u0022,[[2,5,7]]],\u0022dropout_rate\u0022:[\u0022uniform\u0022,[0.1,0.5]]},\u0022properties\u0022:{\u0022rule\u0022:\u0022Random\u0022,\u0022logbase\u0022:null,\u0022seed\u0022:null}}",
            "_aml_system_primary_metric_config": "{\u0022name\u0022:\u0022accuracy\u0022,\u0022goal\u0022:\u0022maximize\u0022}",
            "_aml_system_platform_config": "{\u0022ServiceAddress\u0022:\u0022https://eastus2.api.azureml.ms\u0022,\u0022SubscriptionId\u0022:\u002200000000-0000-0000-0000-000000000\u0022,\u0022ResourceGroupName\u0022:\u002200000\u0022,\u0022WorkspaceName\u0022:\u002200000\u0022,\u0022ExperimentName\u0022:\u0022azure-ai-ml\u0022,\u0022Definition\u0022:{\u0022Configuration\u0022:null,\u0022Attribution\u0022:null,\u0022TelemetryValues\u0022:null,\u0022Overrides\u0022:{\u0022Script\u0022:null,\u0022Command\u0022:\u0022python ./sweep_script[...]
[...]
