{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.015"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sanivmn56gycywe",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestkrudpxwclesxi",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/ainivmn56gycywe",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crnivmn56gycywe",
          "notebookInfo": {
            "resourceId": "36cecea4ada841f6bb66d7c0c4a39d95",
            "fqdn": "ml-sdkvnextcli-eastus2-286e8d2e-e209-418e-a56e-0302dc2456ac.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "286e8d2e-e209-418e-a56e-0302dc2456ac",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "e1f7b545-6243-4abf-ba76-c5691d2edb62",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "e7975743-0e15-4593-8ced-ab7ab29a3c20",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-01-26T03:36:38.2535158Z",
          "createdBy": "dipeck@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-01-26T03:36:38.2535158Z",
          "lastModifiedBy": "dipeck@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/getByHash?hash=3f25d0eddda4d746af5932d69549929ec110cadc6cb567536858e647474f42bb\u0026hashVersion=202208",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.384"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Request body could not be read. Ensure data was provided in the request body and that the content-type header is correct.",
          "messageFormat": null,
          "messageParameters": {},
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": null,
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": null,
        "environment": null,
        "location": null,
        "time": "0001-01-01T00:00:00\u002B00:00",
        "componentName": null
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/assetstore/v1.0/temporaryDataReference/createOrGet",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "assetId": "azureml://locations/eastus2/workspaces/286e8d2e-e209-418e-a56e-0302dc2456ac/codes/000000000000000000000/versions/1",
        "temporaryDataReferenceId": "f24261a5-eb8f-45ab-ac39-f747d54df10c",
        "temporaryDataReferenceType": "TemporaryBlobReference"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.339"
      },
      "ResponseBody": {
        "blobReferenceForConsumption": {
          "blobUri": "https://sanivmn56gycywe.blob.core.windows.net:443/286e8d2e-e-17bd528e-d542-5ee6-b6e7-71dd4c8b13f5",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sanivmn56gycywe",
          "credential": {
            "sasUri": "https://sanivmn56gycywe.blob.core.windows.net/286e8d2e-e-17bd528e-d542-5ee6-b6e7-71dd4c8b13f5?skoid=e7975743-0e15-4593-8ced-ab7ab29a3c20\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-27T23%3A55%3A43Z\u0026ske=2023-01-29T08%3A05%3A43Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-28T00%3A13%3A40Z\u0026se=2023-01-28T08%3A23%3A40Z\u0026sr=c\u0026sp=rcwl\u0026sig=fzokZZTaJByPYv9%2BojiMZnm1nyYgaM%2FXoyr7J%2Bum%2BC8%3D",
            "wasbsUri": null,
            "credentialType": "SAS"
          }
        },
        "imageReferenceForConsumption": null,
        "temporaryDataReferenceId": "f24261a5-eb8f-45ab-ac39-f747d54df10c",
        "temporaryDataReferenceType": null
      }
    },
    {
      "RequestUri": "https://sanivmn56gycywe.blob.core.windows.net/286e8d2e-e-17bd528e-d542-5ee6-b6e7-71dd4c8b13f5/python/sample1.csv?skoid=e7975743-0e15-4593-8ced-ab7ab29a3c20\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-27T23%3A55%3A43Z\u0026ske=2023-01-29T08%3A05%3A43Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-28T00%3A13%3A40Z\u0026se=2023-01-28T08%3A23%3A40Z\u0026sr=c\u0026sp=rcwl\u0026sig=fzokZZTaJByPYv9%2BojiMZnm1nyYgaM%2FXoyr7J%2Bum%2BC8%3D",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sat, 28 Jan 2023 00:23:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanivmn56gycywe.blob.core.windows.net/286e8d2e-e-17bd528e-d542-5ee6-b6e7-71dd4c8b13f5/python/simple_train.py?skoid=e7975743-0e15-4593-8ced-ab7ab29a3c20\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-27T23%3A55%3A43Z\u0026ske=2023-01-29T08%3A05%3A43Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-28T00%3A13%3A40Z\u0026se=2023-01-28T08%3A23%3A40Z\u0026sr=c\u0026sp=rcwl\u0026sig=fzokZZTaJByPYv9%2BojiMZnm1nyYgaM%2FXoyr7J%2Bum%2BC8%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "CJ5ufDE5SUpMppnKB03iOg==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 28 Jan 2023 00:23:41 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": "aW1wb3J0IGFyZ3BhcnNlCgppbXBvcnQgbWxmbG93LnNrbGVhcm4KaW1wb3J0IG51bXB5IGFzIG5wCmZyb20gc2tsZWFybi5zdm0gaW1wb3J0IFNWQwoKCmRlZiBwYXJzZV9hcmdzKCk6CiAgICBwYXJzZXIgPSBhcmdwYXJzZS5Bcmd1bWVudFBhcnNlcihkZXNjcmlwdGlvbj0iU1ZNIGV4YW1wbGUiKQogICAgcGFyc2VyLmFkZF9hcmd1bWVudCgKICAgICAgICAiLWMiLAogICAgICAgIHR5cGU9ZmxvYXQsCiAgICAgICAgZGVmYXVsdD0xLjAsCiAgICAgICAgaGVscD0iU1ZNIENvc3Qg[...]
[...]
    {
      "RequestUri": "https://sanivmn56gycywe.blob.core.windows.net/286e8d2e-e-17bd528e-d542-5ee6-b6e7-71dd4c8b13f5/python/sweep_script_search.py?skoid=e7975743-0e15-4593-8ced-ab7ab29a3c20\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-27T23%3A55%3A43Z\u0026ske=2023-01-29T08%3A05%3A43Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-28T00%3A13%3A40Z\u0026se=2023-01-28T08%3A23%3A40Z\u0026sr=c\u0026sp=rcwl\u0026sig=fzokZZTaJByPYv9%2BojiMZnm1nyYgaM%2FXoyr7J%[...]
    {
      "RequestUri": "https://sanivmn56gycywe.blob.core.windows.net/286e8d2e-e-17bd528e-d542-5ee6-b6e7-71dd4c8b13f5/python/sweep_script.py?skoid=e7975743-0e15-4593-8ced-ab7ab29a3c20\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-27T23%3A55%3A43Z\u0026ske=2023-01-29T08%3A05%3A43Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-28T00%3A13%3A40Z\u0026se=2023-01-28T08%3A23%3A40Z\u0026sr=c\u0026sp=rcwl\u0026sig=fzokZZTaJByPYv9%2BojiMZnm1nyYgaM%2FXoyr7J%2Bum%2B[...]
    {
      "RequestUri": "https://sanivmn56gycywe.blob.core.windows.net/286e8d2e-e-17bd528e-d542-5ee6-b6e7-71dd4c8b13f5/python/train.py?skoid=e7975743-0e15-4593-8ced-ab7ab29a3c20\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-27T23%3A55%3A43Z\u0026ske=2023-01-29T08%3A05%3A43Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-28T00%3A13%3A40Z\u0026se=2023-01-28T08%3A23%3A40Z\u0026sr=c\u0026sp=rcwl\u0026sig=fzokZZTaJByPYv9%2BojiMZnm1nyYgaM%2FXoyr7J%2Bum%2BC8%3D",[...]
    {
      "RequestUri": "https://sanivmn56gycywe.blob.core.windows.net/286e8d2e-e-17bd528e-d542-5ee6-b6e7-71dd4c8b13f5/python/sample1.csv?comp=metadata\u0026skoid=e7975743-0e15-4593-8ced-ab7ab29a3c20\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2023-01-27T23%3A55%3A43Z\u0026ske=2023-01-29T08%3A05%3A43Z\u0026sks=b\u0026skv=2019-07-07\u0026sv=2021-08-06\u0026st=2023-01-28T00%3A13%3A40Z\u0026se=2023-01-28T08%3A23%3A40Z\u0026sr=c\u0026sp=rcwl\u0026sig=fzokZZTaJByPYv9%2BojiMZnm1nyYgaM%2FXoyr7J%2Bum%2BC8%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Sat, 28 Jan 2023 00:23:42 GMT",
        "x-ms-meta-name": "000000000000000000000",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00C5E90C878C\u0022",
        "Last-Modified": "Sat, 28 Jan 2023 00:23:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sanivmn56gycywe.blob.core.windows.net:443/286e8d2e-e-17bd528e-d542-5ee6-b6e7-71dd4c8b13f5/python"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1?api-version=2022-05-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.409"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://sanivmn56gycywe.blob.core.windows.net:443/286e8d2e-e-17bd528e-d542-5ee6-b6e7-71dd4c8b13f5/python"
        },
        "systemData": {
          "createdAt": "2023-01-28T00:23:44.8755569\u002B00:00",
          "createdBy": "Diondra Peck",
          "createdByType": "User",
          "lastModifiedAt": "2023-01-28T00:23:44.8755569\u002B00:00",
          "lastModifiedBy": "Diondra Peck",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_791764293096?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/testCompute",
          "displayName": "test_791764293096",
          "experimentName": "sdk-cli-v2",
          "isArchived": false,
          "jobType": "Sweep",
          "earlyTermination": {
            "delayEvaluation": 200,
            "evaluationInterval": 100,
            "policyType": "TruncationSelection",
            "truncationPercentage": 40
          },
          "inputs": {},
          "limits": {
            "jobLimitsType": "Sweep",
            "timeout": "PT1M",
            "maxConcurrentTrials": 10,
            "maxTotalTrials": 1
          },
          "objective": {
            "goal": "maximize",
            "primaryMetric": "accuracy"
          },
          "outputs": {},
          "samplingAlgorithm": {
            "samplingAlgorithmType": "Random"
          },
          "searchSpace": {
            "lr": [
              "uniform",
              [
                0.001,
                0.1
              ]
            ],
            "conv_size": [
              "choice",
              [
                [
                  2,
                  5,
                  7
                ]
              ]
            ],
            "dropout_rate": [
              "uniform",
              [
                0.1,
                0.5
              ]
            ]
          },
          "trial": {
            "codeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions/1",
            "command": "python ./sweep_script.py --lr ${{search_space.lr}} --conv_size ${{search_space.conv_size}} --dropout_rate ${{search_space.dropout_rate}}",
            "environmentId": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1",
            "environmentVariables": {
              "test_var1": "set",
              "AZUREML_COMPUTE_USE_COMMON_RUNTIME": "false"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_791764293096?api-version=2022-10-01-preview",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "1.671"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_791764293096",
        "name": "test_791764293096",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {
            "_aml_system_max_concurrent_jobs": "10",
            "_aml_system_max_total_jobs": "1",
            "_aml_system_max_duration_minutes": "1",
            "_aml_system_policy_config": "{\u0022name\u0022:\u0022TruncationSelection\u0022,\u0022properties\u0022:{\u0022evaluation_interval\u0022:100,\u0022delay_evaluation\u0022:200,\u0022truncation_percentage\u0022:40,\u0022exclude_finished_jobs\u0022:false}}",
            "_aml_system_generator_config": "{\u0022name\u0022:\u0022RANDOM\u0022,\u0022parameter_space\u0022:{\u0022lr\u0022:[\u0022uniform\u0022,[0.001,0.1]],\u0022conv_size\u0022:[\u0022choice\u0022,[[2,5,7]]],\u0022dropout_rate\u0022:[\u0022uniform\u0022,[0.1,0.5]]},\u0022properties\u0022:{\u0022rule\u0022:\u0022Random\u0022,\u0022logbase\u0022:null,\u0022seed\u0022:null}}",
            "_aml_system_primary_metric_config": "{\u0022name\u0022:\u0022accuracy\u0022,\u0022goal\u0022:\u0022maximize\u0022}",
            "_aml_system_platform_config": "{\u0022ServiceAddress\u0022:\u0022https://eastus2.api.azureml.ms\u0022,\u0022SubscriptionId\u0022:\u002200000000-0000-0000-0000-000000000\u0022,\u0022ResourceGroupName\u0022:\u002200000\u0022,\u0022WorkspaceName\u0022:\u002200000\u0022,\u0022ExperimentName\u0022:\u0022sdk-cli-v2\u0022,\u0022Definition\u0022:{\u0022Configuration\u0022:null,\u0022Attribution\u0022:null,\u0022TelemetryValues\u0022:null,\u0022Overrides\u0022:{\u0022Script\u0022:null,\u0022Command\u0022:\u0022python ./sweep_script.[...]
[...]
