-e ../../../tools/azure-devtools
-e ../../../tools/azure-sdk-tools
-e ../../core/azure-core
-e ../../identity/azure-identity
-e ../azure-keyvault-keys
-e ../azure-mgmt-keyvault
../../nspkg/azure-keyvault-nspkg
aiohttp>=3.0
azure-storage-blob==12.6.0
parameterized>=0.7.3