# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.core.polling import LROPoller, NoPolling, PollingMethod
from azure.core.polling.base_polling import LROBasePolling

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class SearchOperations(object):
    """SearchOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~azure.maps.search.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def list_polygons(
        self,
        geometry_ids,  # type: List[str]
        format="json",  # type: Union[str, "models.JsonFormat"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.PolygonResult"
        """**Get Polygon**

        **Applies to**\ : S1 pricing tier.

        The Get Polygon service allows you to request the geometry data such as a city or country
        outline for a set of entities, previously retrieved from an Online Search request in GeoJSON
        format. The geometry ID is returned in the sourceGeometry object under "geometry" and "id" in
        either a Search Address or Search Fuzzy call.

        Please note that any geometry ID retrieved from an Online Search endpoint has a limited
        lifetime. The client  should not store geometry IDs in persistent storage for later referral,
        as the stability of these identifiers is  not guaranteed for a long period of time. It is
        expected that a request to the Polygon method is made within a  few minutes of the request to
        the Online Search method that provided the ID. The service allows for batch  requests up to 20
        identifiers.

        :param geometry_ids: Comma separated list of geometry UUIDs, previously retrieved from an
         Online Search request.
        :type geometry_ids: list[str]
        :param format: Desired format of the response. Only ``json`` format is supported.
        :type format: str or ~azure.maps.search.models.JsonFormat
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: PolygonResult, or the result of cls(response)
        :rtype: ~azure.maps.search.models.PolygonResult
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.PolygonResult"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.list_polygons.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['geometries'] = self._serialize.query("geometry_ids", geometry_ids, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('PolygonResult', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    list_polygons.metadata = {'url': '/search/polygon/{format}'}  # type: ignore

    def fuzzy_search(
        self,
        query,  # type: str
        format="json",  # type: Union[str, "models.ResponseFormat"]
        is_type_ahead=None,  # type: Optional[bool]
        top=None,  # type: Optional[int]
        skip=None,  # type: Optional[int]
        category_filter=None,  # type: Optional[List[int]]
        country_filter=None,  # type: Optional[List[str]]
        lat=None,  # type: Optional[float]
        lon=None,  # type: Optional[float]
        radius_in_meters=None,  # type: Optional[int]
        top_left=None,  # type: Optional[str]
        btm_right=None,  # type: Optional[str]
        language=None,  # type: Optional[str]
        extended_postal_codes_for=None,  # type: Optional[List[Union[str, "models.SearchIndexes"]]]
        min_fuzzy_level=None,  # type: Optional[int]
        max_fuzzy_level=None,  # type: Optional[int]
        index_filter=None,  # type: Optional[List[Union[str, "models.SearchIndexes"]]]
        brand_filter=None,  # type: Optional[List[str]]
        electric_vehicle_connector_filter=None,  # type: Optional[List[Union[str, "models.ElectricVehicleConnector"]]]
        entity_type=None,  # type: Optional[Union[str, "models.GeographicEntityType"]]
        localized_map_view=None,  # type: Optional[Union[str, "models.LocalizedMapView"]]
        operating_hours=None,  # type: Optional[Union[str, "models.OperatingHoursRange"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.SearchAddressResult"
        """**Free Form Search**

        **Applies to**\ : S0 and S1 pricing tiers.

        The basic default API is Free Form Search which handles the most fuzzy of inputs handling any
        combination of address or POI tokens. This search API is the canonical 'single line search'.
        The Free Form Search API is a seamless combination of POI search and geocoding. The API can
        also be weighted with a contextual position (lat./lon. pair), or fully constrained by a
        coordinate and radius, or it can be executed more generally without any geo biasing anchor
        point.:code:`<br>`:code:`<br>`We strongly advise you to use the 'countrySet' parameter to
        specify only the countries for which your application needs coverage, as the default behavior
        will be to search the entire world, potentially returning unnecessary
        results.:code:`<br>`:code:`<br>` E.g.: ``countrySet``\ =US,FR :code:`<br>`:code:`<br>`Please
        see `Search Coverage <https://docs.microsoft.com/azure/location-based-services/geocoding-
        coverage>`_ for a complete list of all the supported countries.:code:`<br>`:code:`<br>`Most
        Search queries default to ``maxFuzzyLevel``\ =2 to gain performance and also reduce unusual
        results. This new default can be overridden as needed per request by passing in the query param
        ``maxFuzzyLevel``\ =3 or 4.

        :param query: The applicable query string (e.g., "seattle", "pizza"). Can *also* be specified
         as a comma separated string composed by latitude followed by longitude (e.g., "47.641268,
         -122.125679"). Must be properly URL encoded.
        :type query: str
        :param format: Desired format of the response. Value can be either *json* or *xml*.
        :type format: str or ~azure.maps.search.models.ResponseFormat
        :param is_type_ahead: Boolean. If the typeahead flag is set, the query will be interpreted as a
         partial input and the search will enter predictive mode.
        :type is_type_ahead: bool
        :param top: Maximum number of responses that will be returned. Default: 10, minimum: 1 and
         maximum: 100.
        :type top: int
        :param skip: Starting offset of the returned results within the full result set. Default: 0,
         minimum: 0 and maximum: 1900.
        :type skip: int
        :param category_filter: A comma-separated list of category set IDs which could be used to
         restrict the result to specific Points of Interest categories. ID order does not matter. When
         multiple category identifiers are provided, only POIs that belong to (at least) one of the
         categories from the provided list will be returned. The list of supported categories can be
         discovered using  `POI Categories API <https://aka.ms/AzureMapsPOICategoryTree>`_. Usage
         examples:


         *
           **categorySet=7315**\  (Search Points of Interest from category Restaurant)

         *
           **categorySet=7315025,7315017**\  (Search Points of Interest of category either Italian or
         French Restaurant).
        :type category_filter: list[int]
        :param country_filter: Comma separated string of country codes, e.g. FR,ES. This will limit the
         search to the specified countries.
        :type country_filter: list[str]
        :param lat: Latitude where results should be biased. E.g. 37.337.
        :type lat: float
        :param lon: Longitude where results should be biased. E.g. -121.89.
        :type lon: float
        :param radius_in_meters: The radius in meters to for the results to be constrained to the
         defined area.
        :type radius_in_meters: int
        :param top_left: Top left position of the bounding box. E.g. 37.553,-122.453.
        :type top_left: str
        :param btm_right: Bottom right position of the bounding box. E.g. 37.553,-122.453.
        :type btm_right: str
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :param extended_postal_codes_for: Indexes for which extended postal codes should be included in
         the results.

         Available indexes are:

          **Addr** = Address ranges

          **Geo** = Geographies

          **PAD** = Point Addresses

          **POI** = Points of Interest

          **Str** = Streets

          **XStr** = Cross Streets (intersections)

         Value should be a comma separated list of index types (in any order) or **None** for no
         indexes.

         By default extended postal codes are included for all indexes except Geo. Extended postal code
         lists for geographies can be quite long so they have to be explicitly requested when needed.

         Usage examples:

          extendedPostalCodesFor=POI

          extendedPostalCodesFor=PAD,Addr,POI

          extendedPostalCodesFor=None

         Extended postal code is returned as an **extendedPostalCode** property of an address.
         Availability is region-dependent.
        :type extended_postal_codes_for: list[str or ~azure.maps.search.models.SearchIndexes]
        :param min_fuzzy_level: Minimum fuzziness level to be used. Default: 1, minimum: 1 and maximum:
         4


         *
           Level 1 has no spell checking.

         *
           Level 2 uses normal n-gram spell checking. For example, query "restrant" can be matched to
         "restaurant."

         *
           Level 3 uses sound-like spell checking, and shingle spell checking. Sound-like spell
         checking is for "rstrnt" to "restaurant" matching. Shingle spell checking is for "mountainview"
         to "mountain view" matching.

         *
           Level 4 doesn’t add any more spell checking functions.

         The search engine will start looking for a match on the level defined by minFuzzyLevel, and
         will stop searching at the level specified by maxFuzzyLevel.
        :type min_fuzzy_level: int
        :param max_fuzzy_level: Maximum fuzziness level to be used. Default: 2, minimum: 1 and maximum:
         4


         *
           Level 1 has no spell checking.

         *
           Level 2 uses normal n-gram spell checking. For example, query "restrant" can be matched to
         "restaurant."

         *
           Level 3 uses sound-like spell checking, and shingle spell checking. Sound-like spell
         checking is for "rstrnt" to "restaurant" matching. Shingle spell checking is for "mountainview"
         to "mountain view" matching.

         *
           Level 4 doesn’t add any more spell checking functions.

         The search engine will start looking for a match on the level defined by minFuzzyLevel, and
         will stop searching at the level specified by maxFuzzyLevel.
        :type max_fuzzy_level: int
        :param index_filter: A comma separated list of indexes which should be utilized for the search.
         Item order does not matter. Available indexes are: Addr = Address range interpolation, Geo =
         Geographies, PAD = Point Addresses, POI = Points of interest, Str = Streets, Xstr = Cross
         Streets (intersections).
        :type index_filter: list[str or ~azure.maps.search.models.SearchIndexes]
        :param brand_filter: A comma-separated list of brand names which could be used to restrict the
         result to specific brands. Item order does not matter. When multiple brands are provided, only
         results that belong to (at least) one of the provided list will be returned. Brands that
         contain a "," in their name should be put into quotes.

         Usage examples:

          brandSet=Foo

          brandSet=Foo,Bar

          brandSet="A,B,C Comma",Bar.
        :type brand_filter: list[str]
        :param electric_vehicle_connector_filter: A comma-separated list of connector types which could
         be used to restrict the result to Electric Vehicle Station supporting specific connector types.
         Item order does not matter. When multiple connector types are provided, only results that
         belong to (at least) one of the provided list will be returned.

         Available connector types are:


         * ``StandardHouseholdCountrySpecific`` - These are the standard household connectors for a
         certain region. They are all AC single phase and the standard Voltage and standard Amperage.
         See also: `Plug & socket types - World Standards
         <https://www.worldstandards.eu/electricity/plugs-and-sockets>`_.
         * ``IEC62196Type1`` - Type 1 connector as defined in the IEC 62196-2 standard. Also called
         Yazaki after the original manufacturer or SAE J1772 after the standard that first published it.
         Mostly used in combination with 120V single phase or up to 240V single phase infrastructure.
         * ``IEC62196Type1CCS`` - Type 1 based combo connector as defined in the IEC 62196-3 standard.
         The connector is based on the Type 1 connector – as defined in the IEC 62196-2 standard – with
         two additional direct current (DC) contacts to allow DC fast charging.
         * ``IEC62196Type2CableAttached`` - Type 2 connector as defined in the IEC 62196-2 standard.
         Provided as a cable and plug attached to the charging point.
         * ``IEC62196Type2Outlet`` - Type 2 connector as defined in the IEC 62196-2 standard. Provided
         as a socket set into the charging point.
         * ``IEC62196Type2CCS`` - Type 2 based combo connector as defined in the IEC 62196-3 standard.
         The connector is based on the Type 2 connector – as defined in the IEC 62196-2 standard – with
         two additional direct current (DC) contacts to allow DC fast charging.
         * ``IEC62196Type3`` - Type 3 connector as defined in the IEC 62196-2 standard. Also called
         Scame after the original manufacturer. Mostly used in combination with up to 240V single phase
         or up to 420V three phase infrastructure.
         * ``Chademo`` - CHAdeMO connector named after an association formed by the Tokyo Electric
         Power Company and industrial partners. Because of this is is also known as the TEPCO's
         connector. It supports fast DC charging.
         * ``IEC60309AC1PhaseBlue`` - Industrial Blue connector is a connector defined in the IEC 60309
         standard. It is sometime referred to as by some combination of the standard, the color and the
         fact that is a single phase connector. The connector usually has the "P+N+E, 6h" configuration.
         * ``IEC60309DCWhite`` - Industrial White connector is a DC connector defined in the IEC 60309
         standard.
         * ``Tesla`` - The Tesla connector is the regionally specific Tesla Supercharger connector.
         I.e. it refers to either Tesla's proprietary connector, sometimes referred to as Tesla Port
         mostly limited to North America or the modified Type 2 (DC over Type 2) in Europe.

         Usage examples:

          connectorSet=IEC62196Type2CableAttached
          connectorSet=IEC62196Type2Outlet,IEC62196Type2CableAttached.
        :type electric_vehicle_connector_filter: list[str or ~azure.maps.search.models.ElectricVehicleConnector]
        :param entity_type: Specifies the level of filtering performed on geographies. Narrows the
         search for specified geography entity types, e.g. return only municipality. The resulting
         response will contain the geography ID as well as the entity type matched. If you provide more
         than one entity as a comma separated list, endpoint will return the 'smallest entity
         available'. Returned Geometry ID can be used to get the geometry of that geography via `Get
         Search Polygon <https://docs.microsoft.com/rest/api/maps/search/getsearchpolygon>`_ API. The
         following parameters are ignored when entityType is set:


         * heading
         * number
         * returnRoadUse
         * returnSpeedLimit
         * roadUse
         * returnMatchType.
        :type entity_type: str or ~azure.maps.search.models.GeographicEntityType
        :param localized_map_view: The View parameter (also called the "user region" parameter) allows
         you to show the correct maps for a certain country/region for geopolitically disputed regions.
         Different countries have different views of such regions, and the View parameter allows your
         application to comply with the view required by the country your application will be serving.
         By default, the View parameter is set to “Unified” even if you haven’t defined it in  the
         request. It is your responsibility to determine the location of your users, and then set the
         View parameter correctly for that location. Alternatively, you have the option to set
         ‘View=Auto’, which will return the map data based on the IP  address of the request. The View
         parameter in Azure Maps must be used in compliance with applicable laws, including those
         regarding mapping, of the country where maps, images and other data and third party content
         that you are authorized to  access via Azure Maps is made available. Example: view=IN.

         Please refer to `Supported Views <https://aka.ms/AzureMapsLocalizationViews>`_ for details and
         to see the available Views.
        :type localized_map_view: str or ~azure.maps.search.models.LocalizedMapView
        :param operating_hours: Hours of operation for a POI (Points of Interest). The availability of
         hours of operation will vary based on the data available. If not passed, then no opening hours
         information will be returned.
         Supported value: nextSevenDays.
        :type operating_hours: str or ~azure.maps.search.models.OperatingHoursRange
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: SearchAddressResult, or the result of cls(response)
        :rtype: ~azure.maps.search.models.SearchAddressResult
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.SearchAddressResult"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.fuzzy_search.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['query'] = self._serialize.query("query", query, 'str')
        if is_type_ahead is not None:
            query_parameters['typeahead'] = self._serialize.query("is_type_ahead", is_type_ahead, 'bool')
        if top is not None:
            query_parameters['limit'] = self._serialize.query("top", top, 'int', maximum=100, minimum=1)
        if skip is not None:
            query_parameters['ofs'] = self._serialize.query("skip", skip, 'int', maximum=1900, minimum=0)
        if category_filter is not None:
            query_parameters['categorySet'] = self._serialize.query("category_filter", category_filter, '[int]', div=',')
        if country_filter is not None:
            query_parameters['countrySet'] = self._serialize.query("country_filter", country_filter, '[str]', div=',')
        if lat is not None:
            query_parameters['lat'] = self._serialize.query("lat", lat, 'float')
        if lon is not None:
            query_parameters['lon'] = self._serialize.query("lon", lon, 'float')
        if radius_in_meters is not None:
            query_parameters['radius'] = self._serialize.query("radius_in_meters", radius_in_meters, 'int')
        if top_left is not None:
            query_parameters['topLeft'] = self._serialize.query("top_left", top_left, 'str')
        if btm_right is not None:
            query_parameters['btmRight'] = self._serialize.query("btm_right", btm_right, 'str')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')
        if extended_postal_codes_for is not None:
            query_parameters['extendedPostalCodesFor'] = self._serialize.query("extended_postal_codes_for", extended_postal_codes_for, '[str]', div=',')
        if min_fuzzy_level is not None:
            query_parameters['minFuzzyLevel'] = self._serialize.query("min_fuzzy_level", min_fuzzy_level, 'int', maximum=4, minimum=1)
        if max_fuzzy_level is not None:
            query_parameters['maxFuzzyLevel'] = self._serialize.query("max_fuzzy_level", max_fuzzy_level, 'int', maximum=4, minimum=1)
        if index_filter is not None:
            query_parameters['idxSet'] = self._serialize.query("index_filter", index_filter, '[str]', div=',')
        if brand_filter is not None:
            query_parameters['brandSet'] = self._serialize.query("brand_filter", brand_filter, '[str]', div=',')
        if electric_vehicle_connector_filter is not None:
            query_parameters['connectorSet'] = self._serialize.query("electric_vehicle_connector_filter", electric_vehicle_connector_filter, '[str]', div=',')
        if entity_type is not None:
            query_parameters['entityType'] = self._serialize.query("entity_type", entity_type, 'str')
        if localized_map_view is not None:
            query_parameters['view'] = self._serialize.query("localized_map_view", localized_map_view, 'str')
        if operating_hours is not None:
            query_parameters['openingHours'] = self._serialize.query("operating_hours", operating_hours, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('SearchAddressResult', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    fuzzy_search.metadata = {'url': '/search/fuzzy/{format}'}  # type: ignore

    def search_point_of_interest(
        self,
        query,  # type: str
        format="json",  # type: Union[str, "models.ResponseFormat"]
        is_type_ahead=None,  # type: Optional[bool]
        top=None,  # type: Optional[int]
        skip=None,  # type: Optional[int]
        category_filter=None,  # type: Optional[List[int]]
        country_filter=None,  # type: Optional[List[str]]
        lat=None,  # type: Optional[float]
        lon=None,  # type: Optional[float]
        radius_in_meters=None,  # type: Optional[int]
        top_left=None,  # type: Optional[str]
        btm_right=None,  # type: Optional[str]
        language=None,  # type: Optional[str]
        extended_postal_codes_for=None,  # type: Optional[List[Union[str, "models.PointOfInterestExtendedPostalCodes"]]]
        brand_filter=None,  # type: Optional[List[str]]
        electric_vehicle_connector_filter=None,  # type: Optional[List[Union[str, "models.ElectricVehicleConnector"]]]
        localized_map_view=None,  # type: Optional[Union[str, "models.LocalizedMapView"]]
        operating_hours=None,  # type: Optional[Union[str, "models.OperatingHoursRange"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.SearchAddressResult"
        """**Get POI by Name**

        **Applies to**\ : S0 and S1 pricing tiers.

        Points of Interest (POI) Search allows you to request POI results by name.  Search supports
        additional query parameters such as language and filtering results by area of interest driven
        by country or bounding box.  Endpoint will return only POI results matching the query string.
        Response includes POI details such as address, coordinate location and category.

        :param query: The POI name to search for (e.g., "statue of liberty", "starbucks"), must be
         properly URL encoded.
        :type query: str
        :param format: Desired format of the response. Value can be either *json* or *xml*.
        :type format: str or ~azure.maps.search.models.ResponseFormat
        :param is_type_ahead: Boolean. If the typeahead flag is set, the query will be interpreted as a
         partial input and the search will enter predictive mode.
        :type is_type_ahead: bool
        :param top: Maximum number of responses that will be returned. Default: 10, minimum: 1 and
         maximum: 100.
        :type top: int
        :param skip: Starting offset of the returned results within the full result set. Default: 0,
         minimum: 0 and maximum: 1900.
        :type skip: int
        :param category_filter: A comma-separated list of category set IDs which could be used to
         restrict the result to specific Points of Interest categories. ID order does not matter. When
         multiple category identifiers are provided, only POIs that belong to (at least) one of the
         categories from the provided list will be returned. The list of supported categories can be
         discovered using  `POI Categories API <https://aka.ms/AzureMapsPOICategoryTree>`_. Usage
         examples:


         *
           **categorySet=7315**\  (Search Points of Interest from category Restaurant)

         *
           **categorySet=7315025,7315017**\  (Search Points of Interest of category either Italian or
         French Restaurant).
        :type category_filter: list[int]
        :param country_filter: Comma separated string of country codes, e.g. FR,ES. This will limit the
         search to the specified countries.
        :type country_filter: list[str]
        :param lat: Latitude where results should be biased. E.g. 37.337.
        :type lat: float
        :param lon: Longitude where results should be biased. E.g. -121.89.
        :type lon: float
        :param radius_in_meters: The radius in meters to for the results to be constrained to the
         defined area.
        :type radius_in_meters: int
        :param top_left: Top left position of the bounding box. E.g. 37.553,-122.453.
        :type top_left: str
        :param btm_right: Bottom right position of the bounding box. E.g. 37.553,-122.453.
        :type btm_right: str
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :param extended_postal_codes_for: Indexes for which extended postal codes should be included in
         the results.

         Available indexes are:

          **POI** = Points of Interest

         Value should be **POI** or **None** to disable extended postal codes.

         By default extended postal codes are included.

         Usage examples:

          extendedPostalCodesFor=POI

          extendedPostalCodesFor=None

         Extended postal code is returned as an **extendedPostalCode** property of an address.
         Availability is region-dependent.
        :type extended_postal_codes_for: list[str or ~azure.maps.search.models.PointOfInterestExtendedPostalCodes]
        :param brand_filter: A comma-separated list of brand names which could be used to restrict the
         result to specific brands. Item order does not matter. When multiple brands are provided, only
         results that belong to (at least) one of the provided list will be returned. Brands that
         contain a "," in their name should be put into quotes.

         Usage examples:

          brandSet=Foo

          brandSet=Foo,Bar

          brandSet="A,B,C Comma",Bar.
        :type brand_filter: list[str]
        :param electric_vehicle_connector_filter: A comma-separated list of connector types which could
         be used to restrict the result to Electric Vehicle Station supporting specific connector types.
         Item order does not matter. When multiple connector types are provided, only results that
         belong to (at least) one of the provided list will be returned.

         Available connector types are:


         * ``StandardHouseholdCountrySpecific`` - These are the standard household connectors for a
         certain region. They are all AC single phase and the standard Voltage and standard Amperage.
         See also: `Plug & socket types - World Standards
         <https://www.worldstandards.eu/electricity/plugs-and-sockets>`_.
         * ``IEC62196Type1`` - Type 1 connector as defined in the IEC 62196-2 standard. Also called
         Yazaki after the original manufacturer or SAE J1772 after the standard that first published it.
         Mostly used in combination with 120V single phase or up to 240V single phase infrastructure.
         * ``IEC62196Type1CCS`` - Type 1 based combo connector as defined in the IEC 62196-3 standard.
         The connector is based on the Type 1 connector – as defined in the IEC 62196-2 standard – with
         two additional direct current (DC) contacts to allow DC fast charging.
         * ``IEC62196Type2CableAttached`` - Type 2 connector as defined in the IEC 62196-2 standard.
         Provided as a cable and plug attached to the charging point.
         * ``IEC62196Type2Outlet`` - Type 2 connector as defined in the IEC 62196-2 standard. Provided
         as a socket set into the charging point.
         * ``IEC62196Type2CCS`` - Type 2 based combo connector as defined in the IEC 62196-3 standard.
         The connector is based on the Type 2 connector – as defined in the IEC 62196-2 standard – with
         two additional direct current (DC) contacts to allow DC fast charging.
         * ``IEC62196Type3`` - Type 3 connector as defined in the IEC 62196-2 standard. Also called
         Scame after the original manufacturer. Mostly used in combination with up to 240V single phase
         or up to 420V three phase infrastructure.
         * ``Chademo`` - CHAdeMO connector named after an association formed by the Tokyo Electric
         Power Company and industrial partners. Because of this is is also known as the TEPCO's
         connector. It supports fast DC charging.
         * ``IEC60309AC1PhaseBlue`` - Industrial Blue connector is a connector defined in the IEC 60309
         standard. It is sometime referred to as by some combination of the standard, the color and the
         fact that is a single phase connector. The connector usually has the "P+N+E, 6h" configuration.
         * ``IEC60309DCWhite`` - Industrial White connector is a DC connector defined in the IEC 60309
         standard.
         * ``Tesla`` - The Tesla connector is the regionally specific Tesla Supercharger connector.
         I.e. it refers to either Tesla's proprietary connector, sometimes referred to as Tesla Port
         mostly limited to North America or the modified Type 2 (DC over Type 2) in Europe.

         Usage examples:

          connectorSet=IEC62196Type2CableAttached
          connectorSet=IEC62196Type2Outlet,IEC62196Type2CableAttached.
        :type electric_vehicle_connector_filter: list[str or ~azure.maps.search.models.ElectricVehicleConnector]
        :param localized_map_view: The View parameter (also called the "user region" parameter) allows
         you to show the correct maps for a certain country/region for geopolitically disputed regions.
         Different countries have different views of such regions, and the View parameter allows your
         application to comply with the view required by the country your application will be serving.
         By default, the View parameter is set to “Unified” even if you haven’t defined it in  the
         request. It is your responsibility to determine the location of your users, and then set the
         View parameter correctly for that location. Alternatively, you have the option to set
         ‘View=Auto’, which will return the map data based on the IP  address of the request. The View
         parameter in Azure Maps must be used in compliance with applicable laws, including those
         regarding mapping, of the country where maps, images and other data and third party content
         that you are authorized to  access via Azure Maps is made available. Example: view=IN.

         Please refer to `Supported Views <https://aka.ms/AzureMapsLocalizationViews>`_ for details and
         to see the available Views.
        :type localized_map_view: str or ~azure.maps.search.models.LocalizedMapView
        :param operating_hours: Hours of operation for a POI (Points of Interest). The availability of
         hours of operation will vary based on the data available. If not passed, then no opening hours
         information will be returned.
         Supported value: nextSevenDays.
        :type operating_hours: str or ~azure.maps.search.models.OperatingHoursRange
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: SearchAddressResult, or the result of cls(response)
        :rtype: ~azure.maps.search.models.SearchAddressResult
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.SearchAddressResult"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.search_point_of_interest.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['query'] = self._serialize.query("query", query, 'str')
        if is_type_ahead is not None:
            query_parameters['typeahead'] = self._serialize.query("is_type_ahead", is_type_ahead, 'bool')
        if top is not None:
            query_parameters['limit'] = self._serialize.query("top", top, 'int', maximum=100, minimum=1)
        if skip is not None:
            query_parameters['ofs'] = self._serialize.query("skip", skip, 'int', maximum=1900, minimum=0)
        if category_filter is not None:
            query_parameters['categorySet'] = self._serialize.query("category_filter", category_filter, '[int]', div=',')
        if country_filter is not None:
            query_parameters['countrySet'] = self._serialize.query("country_filter", country_filter, '[str]', div=',')
        if lat is not None:
            query_parameters['lat'] = self._serialize.query("lat", lat, 'float')
        if lon is not None:
            query_parameters['lon'] = self._serialize.query("lon", lon, 'float')
        if radius_in_meters is not None:
            query_parameters['radius'] = self._serialize.query("radius_in_meters", radius_in_meters, 'int')
        if top_left is not None:
            query_parameters['topLeft'] = self._serialize.query("top_left", top_left, 'str')
        if btm_right is not None:
            query_parameters['btmRight'] = self._serialize.query("btm_right", btm_right, 'str')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')
        if extended_postal_codes_for is not None:
            query_parameters['extendedPostalCodesFor'] = self._serialize.query("extended_postal_codes_for", extended_postal_codes_for, '[str]', div=',')
        if brand_filter is not None:
            query_parameters['brandSet'] = self._serialize.query("brand_filter", brand_filter, '[str]', div=',')
        if electric_vehicle_connector_filter is not None:
            query_parameters['connectorSet'] = self._serialize.query("electric_vehicle_connector_filter", electric_vehicle_connector_filter, '[str]', div=',')
        if localized_map_view is not None:
            query_parameters['view'] = self._serialize.query("localized_map_view", localized_map_view, 'str')
        if operating_hours is not None:
            query_parameters['openingHours'] = self._serialize.query("operating_hours", operating_hours, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('SearchAddressResult', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    search_point_of_interest.metadata = {'url': '/search/poi/{format}'}  # type: ignore

    def search_nearby_point_of_interest(
        self,
        lat,  # type: float
        lon,  # type: float
        format="json",  # type: Union[str, "models.ResponseFormat"]
        top=None,  # type: Optional[int]
        skip=None,  # type: Optional[int]
        category_filter=None,  # type: Optional[List[int]]
        country_filter=None,  # type: Optional[List[str]]
        radius_in_meters=None,  # type: Optional[int]
        language=None,  # type: Optional[str]
        extended_postal_codes_for=None,  # type: Optional[List[Union[str, "models.SearchIndexes"]]]
        brand_filter=None,  # type: Optional[List[str]]
        electric_vehicle_connector_filter=None,  # type: Optional[List[Union[str, "models.ElectricVehicleConnector"]]]
        localized_map_view=None,  # type: Optional[Union[str, "models.LocalizedMapView"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.SearchAddressResult"
        """**Nearby Search**

        **Applies to**\ : S0 and S1 pricing tiers.

        If you have a use case for only retrieving POI results around a specific location, the nearby
        search method may be the right choice. This endpoint will only return POI results, and does not
        take in a search query parameter.

        :param lat: Latitude where results should be biased. E.g. 37.337.
        :type lat: float
        :param lon: Longitude where results should be biased. E.g. -121.89.
        :type lon: float
        :param format: Desired format of the response. Value can be either *json* or *xml*.
        :type format: str or ~azure.maps.search.models.ResponseFormat
        :param top: Maximum number of responses that will be returned. Default: 10, minimum: 1 and
         maximum: 100.
        :type top: int
        :param skip: Starting offset of the returned results within the full result set. Default: 0,
         minimum: 0 and maximum: 1900.
        :type skip: int
        :param category_filter: A comma-separated list of category set IDs which could be used to
         restrict the result to specific Points of Interest categories. ID order does not matter. When
         multiple category identifiers are provided, only POIs that belong to (at least) one of the
         categories from the provided list will be returned. The list of supported categories can be
         discovered using  `POI Categories API <https://aka.ms/AzureMapsPOICategoryTree>`_. Usage
         examples:


         *
           **categorySet=7315**\  (Search Points of Interest from category Restaurant)

         *
           **categorySet=7315025,7315017**\  (Search Points of Interest of category either Italian or
         French Restaurant).
        :type category_filter: list[int]
        :param country_filter: Comma separated string of country codes, e.g. FR,ES. This will limit the
         search to the specified countries.
        :type country_filter: list[str]
        :param radius_in_meters: The radius in meters to for the results to be constrained to the
         defined area, Min value is 1, Max Value is 50000.
        :type radius_in_meters: int
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :param extended_postal_codes_for: Indexes for which extended postal codes should be included in
         the results.

         Available indexes are:

          **Addr** = Address ranges

          **Geo** = Geographies

          **PAD** = Point Addresses

          **POI** = Points of Interest

          **Str** = Streets

          **XStr** = Cross Streets (intersections)

         Value should be a comma separated list of index types (in any order) or **None** for no
         indexes.

         By default extended postal codes are included for all indexes except Geo. Extended postal code
         lists for geographies can be quite long so they have to be explicitly requested when needed.

         Usage examples:

          extendedPostalCodesFor=POI

          extendedPostalCodesFor=PAD,Addr,POI

          extendedPostalCodesFor=None

         Extended postal code is returned as an **extendedPostalCode** property of an address.
         Availability is region-dependent.
        :type extended_postal_codes_for: list[str or ~azure.maps.search.models.SearchIndexes]
        :param brand_filter: A comma-separated list of brand names which could be used to restrict the
         result to specific brands. Item order does not matter. When multiple brands are provided, only
         results that belong to (at least) one of the provided list will be returned. Brands that
         contain a "," in their name should be put into quotes.

         Usage examples:

          brandSet=Foo

          brandSet=Foo,Bar

          brandSet="A,B,C Comma",Bar.
        :type brand_filter: list[str]
        :param electric_vehicle_connector_filter: A comma-separated list of connector types which could
         be used to restrict the result to Electric Vehicle Station supporting specific connector types.
         Item order does not matter. When multiple connector types are provided, only results that
         belong to (at least) one of the provided list will be returned.

         Available connector types are:


         * ``StandardHouseholdCountrySpecific`` - These are the standard household connectors for a
         certain region. They are all AC single phase and the standard Voltage and standard Amperage.
         See also: `Plug & socket types - World Standards
         <https://www.worldstandards.eu/electricity/plugs-and-sockets>`_.
         * ``IEC62196Type1`` - Type 1 connector as defined in the IEC 62196-2 standard. Also called
         Yazaki after the original manufacturer or SAE J1772 after the standard that first published it.
         Mostly used in combination with 120V single phase or up to 240V single phase infrastructure.
         * ``IEC62196Type1CCS`` - Type 1 based combo connector as defined in the IEC 62196-3 standard.
         The connector is based on the Type 1 connector – as defined in the IEC 62196-2 standard – with
         two additional direct current (DC) contacts to allow DC fast charging.
         * ``IEC62196Type2CableAttached`` - Type 2 connector as defined in the IEC 62196-2 standard.
         Provided as a cable and plug attached to the charging point.
         * ``IEC62196Type2Outlet`` - Type 2 connector as defined in the IEC 62196-2 standard. Provided
         as a socket set into the charging point.
         * ``IEC62196Type2CCS`` - Type 2 based combo connector as defined in the IEC 62196-3 standard.
         The connector is based on the Type 2 connector – as defined in the IEC 62196-2 standard – with
         two additional direct current (DC) contacts to allow DC fast charging.
         * ``IEC62196Type3`` - Type 3 connector as defined in the IEC 62196-2 standard. Also called
         Scame after the original manufacturer. Mostly used in combination with up to 240V single phase
         or up to 420V three phase infrastructure.
         * ``Chademo`` - CHAdeMO connector named after an association formed by the Tokyo Electric
         Power Company and industrial partners. Because of this is is also known as the TEPCO's
         connector. It supports fast DC charging.
         * ``IEC60309AC1PhaseBlue`` - Industrial Blue connector is a connector defined in the IEC 60309
         standard. It is sometime referred to as by some combination of the standard, the color and the
         fact that is a single phase connector. The connector usually has the "P+N+E, 6h" configuration.
         * ``IEC60309DCWhite`` - Industrial White connector is a DC connector defined in the IEC 60309
         standard.
         * ``Tesla`` - The Tesla connector is the regionally specific Tesla Supercharger connector.
         I.e. it refers to either Tesla's proprietary connector, sometimes referred to as Tesla Port
         mostly limited to North America or the modified Type 2 (DC over Type 2) in Europe.

         Usage examples:

          connectorSet=IEC62196Type2CableAttached
          connectorSet=IEC62196Type2Outlet,IEC62196Type2CableAttached.
        :type electric_vehicle_connector_filter: list[str or ~azure.maps.search.models.ElectricVehicleConnector]
        :param localized_map_view: The View parameter (also called the "user region" parameter) allows
         you to show the correct maps for a certain country/region for geopolitically disputed regions.
         Different countries have different views of such regions, and the View parameter allows your
         application to comply with the view required by the country your application will be serving.
         By default, the View parameter is set to “Unified” even if you haven’t defined it in  the
         request. It is your responsibility to determine the location of your users, and then set the
         View parameter correctly for that location. Alternatively, you have the option to set
         ‘View=Auto’, which will return the map data based on the IP  address of the request. The View
         parameter in Azure Maps must be used in compliance with applicable laws, including those
         regarding mapping, of the country where maps, images and other data and third party content
         that you are authorized to  access via Azure Maps is made available. Example: view=IN.

         Please refer to `Supported Views <https://aka.ms/AzureMapsLocalizationViews>`_ for details and
         to see the available Views.
        :type localized_map_view: str or ~azure.maps.search.models.LocalizedMapView
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: SearchAddressResult, or the result of cls(response)
        :rtype: ~azure.maps.search.models.SearchAddressResult
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.SearchAddressResult"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.search_nearby_point_of_interest.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['lat'] = self._serialize.query("lat", lat, 'float')
        query_parameters['lon'] = self._serialize.query("lon", lon, 'float')
        if top is not None:
            query_parameters['limit'] = self._serialize.query("top", top, 'int', maximum=100, minimum=1)
        if skip is not None:
            query_parameters['ofs'] = self._serialize.query("skip", skip, 'int', maximum=1900, minimum=0)
        if category_filter is not None:
            query_parameters['categorySet'] = self._serialize.query("category_filter", category_filter, '[int]', div=',')
        if country_filter is not None:
            query_parameters['countrySet'] = self._serialize.query("country_filter", country_filter, '[str]', div=',')
        if radius_in_meters is not None:
            query_parameters['radius'] = self._serialize.query("radius_in_meters", radius_in_meters, 'int')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')
        if extended_postal_codes_for is not None:
            query_parameters['extendedPostalCodesFor'] = self._serialize.query("extended_postal_codes_for", extended_postal_codes_for, '[str]', div=',')
        if brand_filter is not None:
            query_parameters['brandSet'] = self._serialize.query("brand_filter", brand_filter, '[str]', div=',')
        if electric_vehicle_connector_filter is not None:
            query_parameters['connectorSet'] = self._serialize.query("electric_vehicle_connector_filter", electric_vehicle_connector_filter, '[str]', div=',')
        if localized_map_view is not None:
            query_parameters['view'] = self._serialize.query("localized_map_view", localized_map_view, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('SearchAddressResult', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    search_nearby_point_of_interest.metadata = {'url': '/search/nearby/{format}'}  # type: ignore

    def search_point_of_interest_category(
        self,
        query,  # type: str
        format="json",  # type: Union[str, "models.ResponseFormat"]
        is_type_ahead=None,  # type: Optional[bool]
        top=None,  # type: Optional[int]
        skip=None,  # type: Optional[int]
        category_filter=None,  # type: Optional[List[int]]
        country_filter=None,  # type: Optional[List[str]]
        lat=None,  # type: Optional[float]
        lon=None,  # type: Optional[float]
        radius_in_meters=None,  # type: Optional[int]
        top_left=None,  # type: Optional[str]
        btm_right=None,  # type: Optional[str]
        language=None,  # type: Optional[str]
        extended_postal_codes_for=None,  # type: Optional[List[Union[str, "models.SearchIndexes"]]]
        brand_filter=None,  # type: Optional[List[str]]
        electric_vehicle_connector_filter=None,  # type: Optional[List[Union[str, "models.ElectricVehicleConnector"]]]
        localized_map_view=None,  # type: Optional[Union[str, "models.LocalizedMapView"]]
        operating_hours=None,  # type: Optional[Union[str, "models.OperatingHoursRange"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.SearchAddressResult"
        """**Get POI by Category**

        **Applies to**\ : S0 and S1 pricing tiers.

        Points of Interest (POI) Category Search allows you to request POI results from given category.
        Search allows to query POIs from one category at a time.  Endpoint will only return POI results
        which are categorized as specified.  Response includes POI details such as address, coordinate
        location and classification.

        :param query: The POI category to search for (e.g., "AIRPORT", "RESTAURANT"), must be properly
         URL encoded. Supported main categories can be requested by calling `Get Search POI Category
         Tree API <https://aka.ms/AzureMapsPOICategoryTree>`_. List of available categories can also be
         found `here <https://docs.microsoft.com/azure/azure-maps/supported-search-categories>`_. We
         recommend to use POI Search Category Tree API to request the supported categories.
        :type query: str
        :param format: Desired format of the response. Value can be either *json* or *xml*.
        :type format: str or ~azure.maps.search.models.ResponseFormat
        :param is_type_ahead: Boolean. If the typeahead flag is set, the query will be interpreted as a
         partial input and the search will enter predictive mode.
        :type is_type_ahead: bool
        :param top: Maximum number of responses that will be returned. Default: 10, minimum: 1 and
         maximum: 100.
        :type top: int
        :param skip: Starting offset of the returned results within the full result set. Default: 0,
         minimum: 0 and maximum: 1900.
        :type skip: int
        :param category_filter: A comma-separated list of category set IDs which could be used to
         restrict the result to specific Points of Interest categories. ID order does not matter. When
         multiple category identifiers are provided, only POIs that belong to (at least) one of the
         categories from the provided list will be returned. The list of supported categories can be
         discovered using  `POI Categories API <https://aka.ms/AzureMapsPOICategoryTree>`_. Usage
         examples:


         *
           **categorySet=7315**\  (Search Points of Interest from category Restaurant)

         *
           **categorySet=7315025,7315017**\  (Search Points of Interest of category either Italian or
         French Restaurant).
        :type category_filter: list[int]
        :param country_filter: Comma separated string of country codes, e.g. FR,ES. This will limit the
         search to the specified countries.
        :type country_filter: list[str]
        :param lat: Latitude where results should be biased. E.g. 37.337.
        :type lat: float
        :param lon: Longitude where results should be biased. E.g. -121.89.
        :type lon: float
        :param radius_in_meters: The radius in meters to for the results to be constrained to the
         defined area.
        :type radius_in_meters: int
        :param top_left: Top left position of the bounding box. E.g. 37.553,-122.453.
        :type top_left: str
        :param btm_right: Bottom right position of the bounding box. E.g. 37.553,-122.453.
        :type btm_right: str
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :param extended_postal_codes_for: Indexes for which extended postal codes should be included in
         the results.

         Available indexes are:

          **Addr** = Address ranges

          **Geo** = Geographies

          **PAD** = Point Addresses

          **POI** = Points of Interest

          **Str** = Streets

          **XStr** = Cross Streets (intersections)

         Value should be a comma separated list of index types (in any order) or **None** for no
         indexes.

         By default extended postal codes are included for all indexes except Geo. Extended postal code
         lists for geographies can be quite long so they have to be explicitly requested when needed.

         Usage examples:

          extendedPostalCodesFor=POI

          extendedPostalCodesFor=PAD,Addr,POI

          extendedPostalCodesFor=None

         Extended postal code is returned as an **extendedPostalCode** property of an address.
         Availability is region-dependent.
        :type extended_postal_codes_for: list[str or ~azure.maps.search.models.SearchIndexes]
        :param brand_filter: A comma-separated list of brand names which could be used to restrict the
         result to specific brands. Item order does not matter. When multiple brands are provided, only
         results that belong to (at least) one of the provided list will be returned. Brands that
         contain a "," in their name should be put into quotes.

         Usage examples:

          brandSet=Foo

          brandSet=Foo,Bar

          brandSet="A,B,C Comma",Bar.
        :type brand_filter: list[str]
        :param electric_vehicle_connector_filter: A comma-separated list of connector types which could
         be used to restrict the result to Electric Vehicle Station supporting specific connector types.
         Item order does not matter. When multiple connector types are provided, only results that
         belong to (at least) one of the provided list will be returned.

         Available connector types are:


         * ``StandardHouseholdCountrySpecific`` - These are the standard household connectors for a
         certain region. They are all AC single phase and the standard Voltage and standard Amperage.
         See also: `Plug & socket types - World Standards
         <https://www.worldstandards.eu/electricity/plugs-and-sockets>`_.
         * ``IEC62196Type1`` - Type 1 connector as defined in the IEC 62196-2 standard. Also called
         Yazaki after the original manufacturer or SAE J1772 after the standard that first published it.
         Mostly used in combination with 120V single phase or up to 240V single phase infrastructure.
         * ``IEC62196Type1CCS`` - Type 1 based combo connector as defined in the IEC 62196-3 standard.
         The connector is based on the Type 1 connector – as defined in the IEC 62196-2 standard – with
         two additional direct current (DC) contacts to allow DC fast charging.
         * ``IEC62196Type2CableAttached`` - Type 2 connector as defined in the IEC 62196-2 standard.
         Provided as a cable and plug attached to the charging point.
         * ``IEC62196Type2Outlet`` - Type 2 connector as defined in the IEC 62196-2 standard. Provided
         as a socket set into the charging point.
         * ``IEC62196Type2CCS`` - Type 2 based combo connector as defined in the IEC 62196-3 standard.
         The connector is based on the Type 2 connector – as defined in the IEC 62196-2 standard – with
         two additional direct current (DC) contacts to allow DC fast charging.
         * ``IEC62196Type3`` - Type 3 connector as defined in the IEC 62196-2 standard. Also called
         Scame after the original manufacturer. Mostly used in combination with up to 240V single phase
         or up to 420V three phase infrastructure.
         * ``Chademo`` - CHAdeMO connector named after an association formed by the Tokyo Electric
         Power Company and industrial partners. Because of this is is also known as the TEPCO's
         connector. It supports fast DC charging.
         * ``IEC60309AC1PhaseBlue`` - Industrial Blue connector is a connector defined in the IEC 60309
         standard. It is sometime referred to as by some combination of the standard, the color and the
         fact that is a single phase connector. The connector usually has the "P+N+E, 6h" configuration.
         * ``IEC60309DCWhite`` - Industrial White connector is a DC connector defined in the IEC 60309
         standard.
         * ``Tesla`` - The Tesla connector is the regionally specific Tesla Supercharger connector.
         I.e. it refers to either Tesla's proprietary connector, sometimes referred to as Tesla Port
         mostly limited to North America or the modified Type 2 (DC over Type 2) in Europe.

         Usage examples:

          connectorSet=IEC62196Type2CableAttached
          connectorSet=IEC62196Type2Outlet,IEC62196Type2CableAttached.
        :type electric_vehicle_connector_filter: list[str or ~azure.maps.search.models.ElectricVehicleConnector]
        :param localized_map_view: The View parameter (also called the "user region" parameter) allows
         you to show the correct maps for a certain country/region for geopolitically disputed regions.
         Different countries have different views of such regions, and the View parameter allows your
         application to comply with the view required by the country your application will be serving.
         By default, the View parameter is set to “Unified” even if you haven’t defined it in  the
         request. It is your responsibility to determine the location of your users, and then set the
         View parameter correctly for that location. Alternatively, you have the option to set
         ‘View=Auto’, which will return the map data based on the IP  address of the request. The View
         parameter in Azure Maps must be used in compliance with applicable laws, including those
         regarding mapping, of the country where maps, images and other data and third party content
         that you are authorized to  access via Azure Maps is made available. Example: view=IN.

         Please refer to `Supported Views <https://aka.ms/AzureMapsLocalizationViews>`_ for details and
         to see the available Views.
        :type localized_map_view: str or ~azure.maps.search.models.LocalizedMapView
        :param operating_hours: Hours of operation for a POI (Points of Interest). The availability of
         hours of operation will vary based on the data available. If not passed, then no opening hours
         information will be returned.
         Supported value: nextSevenDays.
        :type operating_hours: str or ~azure.maps.search.models.OperatingHoursRange
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: SearchAddressResult, or the result of cls(response)
        :rtype: ~azure.maps.search.models.SearchAddressResult
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.SearchAddressResult"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.search_point_of_interest_category.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['query'] = self._serialize.query("query", query, 'str')
        if is_type_ahead is not None:
            query_parameters['typeahead'] = self._serialize.query("is_type_ahead", is_type_ahead, 'bool')
        if top is not None:
            query_parameters['limit'] = self._serialize.query("top", top, 'int', maximum=100, minimum=1)
        if skip is not None:
            query_parameters['ofs'] = self._serialize.query("skip", skip, 'int', maximum=1900, minimum=0)
        if category_filter is not None:
            query_parameters['categorySet'] = self._serialize.query("category_filter", category_filter, '[int]', div=',')
        if country_filter is not None:
            query_parameters['countrySet'] = self._serialize.query("country_filter", country_filter, '[str]', div=',')
        if lat is not None:
            query_parameters['lat'] = self._serialize.query("lat", lat, 'float')
        if lon is not None:
            query_parameters['lon'] = self._serialize.query("lon", lon, 'float')
        if radius_in_meters is not None:
            query_parameters['radius'] = self._serialize.query("radius_in_meters", radius_in_meters, 'int')
        if top_left is not None:
            query_parameters['topLeft'] = self._serialize.query("top_left", top_left, 'str')
        if btm_right is not None:
            query_parameters['btmRight'] = self._serialize.query("btm_right", btm_right, 'str')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')
        if extended_postal_codes_for is not None:
            query_parameters['extendedPostalCodesFor'] = self._serialize.query("extended_postal_codes_for", extended_postal_codes_for, '[str]', div=',')
        if brand_filter is not None:
            query_parameters['brandSet'] = self._serialize.query("brand_filter", brand_filter, '[str]', div=',')
        if electric_vehicle_connector_filter is not None:
            query_parameters['connectorSet'] = self._serialize.query("electric_vehicle_connector_filter", electric_vehicle_connector_filter, '[str]', div=',')
        if localized_map_view is not None:
            query_parameters['view'] = self._serialize.query("localized_map_view", localized_map_view, 'str')
        if operating_hours is not None:
            query_parameters['openingHours'] = self._serialize.query("operating_hours", operating_hours, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('SearchAddressResult', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    search_point_of_interest_category.metadata = {'url': '/search/poi/category/{format}'}  # type: ignore

    def get_point_of_interest_category_tree(
        self,
        format="json",  # type: Union[str, "models.JsonFormat"]
        language=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.PointOfInterestCategoryTreeResult"
        """**Get POI Category Tree**

        **Applies to**\ : S0 and S1 pricing tiers.

        POI Category API provides a full list of supported Points of Interest (POI) categories and
        subcategories together with their translations and synonyms. The returned content can be used
        to provide more meaningful results through other Search Service APIs, like `Get Search POI
        <https://docs.microsoft.com/rest/api/maps/search/getsearchpoi>`_.

        :param format: Desired format of the response. Only ``json`` format is supported.
        :type format: str or ~azure.maps.search.models.JsonFormat
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, except NGT and NGT-Latn. Language tag is case insensitive. When
         data in specified language is not available for a specific field, default language is used
         (English).

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: PointOfInterestCategoryTreeResult, or the result of cls(response)
        :rtype: ~azure.maps.search.models.PointOfInterestCategoryTreeResult
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.PointOfInterestCategoryTreeResult"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.get_point_of_interest_category_tree.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('PointOfInterestCategoryTreeResult', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_point_of_interest_category_tree.metadata = {'url': '/search/poi/category/tree/{format}'}  # type: ignore

    def search_address(
        self,
        query,  # type: str
        format="json",  # type: Union[str, "models.ResponseFormat"]
        is_type_ahead=None,  # type: Optional[bool]
        top=None,  # type: Optional[int]
        skip=None,  # type: Optional[int]
        country_filter=None,  # type: Optional[List[str]]
        lat=None,  # type: Optional[float]
        lon=None,  # type: Optional[float]
        radius_in_meters=None,  # type: Optional[int]
        top_left=None,  # type: Optional[str]
        btm_right=None,  # type: Optional[str]
        language=None,  # type: Optional[str]
        extended_postal_codes_for=None,  # type: Optional[List[Union[str, "models.SearchIndexes"]]]
        entity_type=None,  # type: Optional[Union[str, "models.GeographicEntityType"]]
        localized_map_view=None,  # type: Optional[Union[str, "models.LocalizedMapView"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.SearchAddressResult"
        """**Address Geocoding**

        **Applies to**\ : S0 and S1 pricing tiers.

        In many cases, the complete search service might be too much, for instance if you are only
        interested in traditional geocoding. Search can also be accessed for address look up
        exclusively. The geocoding is performed by hitting the geocode endpoint with just the address
        or partial address in question. The geocoding search index will be queried for everything above
        the street level data. No POIs will be returned. Note that the geocoder is very tolerant of
        typos and incomplete addresses. It will also handle everything from exact street addresses or
        street or intersections as well as higher level geographies such as city centers, counties,
        states etc.

        :param query: The address to search for (e.g., "1 Microsoft way, Redmond, WA"), must be
         properly URL encoded.
        :type query: str
        :param format: Desired format of the response. Value can be either *json* or *xml*.
        :type format: str or ~azure.maps.search.models.ResponseFormat
        :param is_type_ahead: Boolean. If the typeahead flag is set, the query will be interpreted as a
         partial input and the search will enter predictive mode.
        :type is_type_ahead: bool
        :param top: Maximum number of responses that will be returned. Default: 10, minimum: 1 and
         maximum: 100.
        :type top: int
        :param skip: Starting offset of the returned results within the full result set. Default: 0,
         minimum: 0 and maximum: 1900.
        :type skip: int
        :param country_filter: Comma separated string of country codes, e.g. FR,ES. This will limit the
         search to the specified countries.
        :type country_filter: list[str]
        :param lat: Latitude where results should be biased. E.g. 37.337.
        :type lat: float
        :param lon: Longitude where results should be biased. E.g. -121.89.
        :type lon: float
        :param radius_in_meters: The radius in meters to for the results to be constrained to the
         defined area.
        :type radius_in_meters: int
        :param top_left: Top left position of the bounding box. E.g. 37.553,-122.453.
        :type top_left: str
        :param btm_right: Bottom right position of the bounding box. E.g. 37.553,-122.453.
        :type btm_right: str
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :param extended_postal_codes_for: Indexes for which extended postal codes should be included in
         the results.

         Available indexes are:

          **Addr** = Address ranges

          **Geo** = Geographies

          **PAD** = Point Addresses

          **POI** = Points of Interest

          **Str** = Streets

          **XStr** = Cross Streets (intersections)

         Value should be a comma separated list of index types (in any order) or **None** for no
         indexes.

         By default extended postal codes are included for all indexes except Geo. Extended postal code
         lists for geographies can be quite long so they have to be explicitly requested when needed.

         Usage examples:

          extendedPostalCodesFor=POI

          extendedPostalCodesFor=PAD,Addr,POI

          extendedPostalCodesFor=None

         Extended postal code is returned as an **extendedPostalCode** property of an address.
         Availability is region-dependent.
        :type extended_postal_codes_for: list[str or ~azure.maps.search.models.SearchIndexes]
        :param entity_type: Specifies the level of filtering performed on geographies. Narrows the
         search for specified geography entity types, e.g. return only municipality. The resulting
         response will contain the geography ID as well as the entity type matched. If you provide more
         than one entity as a comma separated list, endpoint will return the 'smallest entity
         available'. Returned Geometry ID can be used to get the geometry of that geography via `Get
         Search Polygon <https://docs.microsoft.com/rest/api/maps/search/getsearchpolygon>`_ API. The
         following parameters are ignored when entityType is set:


         * heading
         * number
         * returnRoadUse
         * returnSpeedLimit
         * roadUse
         * returnMatchType.
        :type entity_type: str or ~azure.maps.search.models.GeographicEntityType
        :param localized_map_view: The View parameter (also called the "user region" parameter) allows
         you to show the correct maps for a certain country/region for geopolitically disputed regions.
         Different countries have different views of such regions, and the View parameter allows your
         application to comply with the view required by the country your application will be serving.
         By default, the View parameter is set to “Unified” even if you haven’t defined it in  the
         request. It is your responsibility to determine the location of your users, and then set the
         View parameter correctly for that location. Alternatively, you have the option to set
         ‘View=Auto’, which will return the map data based on the IP  address of the request. The View
         parameter in Azure Maps must be used in compliance with applicable laws, including those
         regarding mapping, of the country where maps, images and other data and third party content
         that you are authorized to  access via Azure Maps is made available. Example: view=IN.

         Please refer to `Supported Views <https://aka.ms/AzureMapsLocalizationViews>`_ for details and
         to see the available Views.
        :type localized_map_view: str or ~azure.maps.search.models.LocalizedMapView
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: SearchAddressResult, or the result of cls(response)
        :rtype: ~azure.maps.search.models.SearchAddressResult
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.SearchAddressResult"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.search_address.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['query'] = self._serialize.query("query", query, 'str')
        if is_type_ahead is not None:
            query_parameters['typeahead'] = self._serialize.query("is_type_ahead", is_type_ahead, 'bool')
        if top is not None:
            query_parameters['limit'] = self._serialize.query("top", top, 'int', maximum=100, minimum=1)
        if skip is not None:
            query_parameters['ofs'] = self._serialize.query("skip", skip, 'int', maximum=1900, minimum=0)
        if country_filter is not None:
            query_parameters['countrySet'] = self._serialize.query("country_filter", country_filter, '[str]', div=',')
        if lat is not None:
            query_parameters['lat'] = self._serialize.query("lat", lat, 'float')
        if lon is not None:
            query_parameters['lon'] = self._serialize.query("lon", lon, 'float')
        if radius_in_meters is not None:
            query_parameters['radius'] = self._serialize.query("radius_in_meters", radius_in_meters, 'int')
        if top_left is not None:
            query_parameters['topLeft'] = self._serialize.query("top_left", top_left, 'str')
        if btm_right is not None:
            query_parameters['btmRight'] = self._serialize.query("btm_right", btm_right, 'str')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')
        if extended_postal_codes_for is not None:
            query_parameters['extendedPostalCodesFor'] = self._serialize.query("extended_postal_codes_for", extended_postal_codes_for, '[str]', div=',')
        if entity_type is not None:
            query_parameters['entityType'] = self._serialize.query("entity_type", entity_type, 'str')
        if localized_map_view is not None:
            query_parameters['view'] = self._serialize.query("localized_map_view", localized_map_view, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('SearchAddressResult', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    search_address.metadata = {'url': '/search/address/{format}'}  # type: ignore

    def reverse_search_address(
        self,
        query,  # type: List[float]
        format="json",  # type: Union[str, "models.ResponseFormat"]
        language=None,  # type: Optional[str]
        include_speed_limit=None,  # type: Optional[bool]
        heading=None,  # type: Optional[int]
        radius_in_meters=None,  # type: Optional[int]
        number=None,  # type: Optional[str]
        include_road_use=None,  # type: Optional[bool]
        road_use=None,  # type: Optional[List[Union[str, "models.RoadUseType"]]]
        allow_freeform_newline=None,  # type: Optional[bool]
        include_match_type=None,  # type: Optional[bool]
        entity_type=None,  # type: Optional[Union[str, "models.GeographicEntityType"]]
        localized_map_view=None,  # type: Optional[Union[str, "models.LocalizedMapView"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.ReverseSearchAddressResult"
        """**Reverse Geocode to an Address**

        **Applies to**\ : S0 and S1 pricing tiers.

        There may be times when you need to translate a  coordinate (example: 37.786505, -122.3862)
        into a human understandable street address. Most often  this is needed in tracking applications
        where you  receive a GPS feed from the device or asset and  wish to know what address where the
        coordinate is  located. This endpoint will return address  information for a given coordinate.

        :param query: The applicable query specified as a comma separated string composed by latitude
         followed by longitude e.g. "47.641268,-122.125679".
        :type query: list[float]
        :param format: Desired format of the response. Value can be either *json* or *xml*.
        :type format: str or ~azure.maps.search.models.ResponseFormat
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
         languages>`_ for details.
        :type language: str
        :param include_speed_limit: Boolean. To enable return of the posted speed limit.
        :type include_speed_limit: bool
        :param heading: The directional heading of the vehicle in degrees, for travel along a segment
         of roadway. 0 is North, 90 is East and so on, values range from -360 to 360. The precision can
         include upto one decimal place.
        :type heading: int
        :param radius_in_meters: The radius in meters to for the results to be constrained to the
         defined area.
        :type radius_in_meters: int
        :param number: If a number is sent in along with the request, the response may include the side
         of the street (Left/Right) and also an offset position for that number.
        :type number: str
        :param include_road_use: Boolean. To enable return of the road use array for reverse geocodes
         at street level.
        :type include_road_use: bool
        :param road_use: To restrict reverse geocodes to a certain type of road use. The road use array
         for reverse geocodes can be one or more of LimitedAccess, Arterial, Terminal, Ramp, Rotary,
         LocalStreet.
        :type road_use: list[str or ~azure.maps.search.models.RoadUseType]
        :param allow_freeform_newline: Format of newlines in the formatted address.

         If true, the address will contain newlines.
         If false, newlines will be converted to commas.
        :type allow_freeform_newline: bool
        :param include_match_type: Include information on the type of match the geocoder achieved in
         the response.
        :type include_match_type: bool
        :param entity_type: Specifies the level of filtering performed on geographies. Narrows the
         search for specified geography entity types, e.g. return only municipality. The resulting
         response will contain the geography ID as well as the entity type matched. If you provide more
         than one entity as a comma separated list, endpoint will return the 'smallest entity
         available'. Returned Geometry ID can be used to get the geometry of that geography via `Get
         Search Polygon <https://docs.microsoft.com/rest/api/maps/search/getsearchpolygon>`_ API. The
         following parameters are ignored when entityType is set:


         * heading
         * number
         * returnRoadUse
         * returnSpeedLimit
         * roadUse
         * returnMatchType.
        :type entity_type: str or ~azure.maps.search.models.GeographicEntityType
        :param localized_map_view: The View parameter (also called the "user region" parameter) allows
         you to show the correct maps for a certain country/region for geopolitically disputed regions.
         Different countries have different views of such regions, and the View parameter allows your
         application to comply with the view required by the country your application will be serving.
         By default, the View parameter is set to “Unified” even if you haven’t defined it in  the
         request. It is your responsibility to determine the location of your users, and then set the
         View parameter correctly for that location. Alternatively, you have the option to set
         ‘View=Auto’, which will return the map data based on the IP  address of the request. The View
         parameter in Azure Maps must be used in compliance with applicable laws, including those
         regarding mapping, of the country where maps, images and other data and third party content
         that you are authorized to  access via Azure Maps is made available. Example: view=IN.

         Please refer to `Supported Views <https://aka.ms/AzureMapsLocalizationViews>`_ for details and
         to see the available Views.
        :type localized_map_view: str or ~azure.maps.search.models.LocalizedMapView
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ReverseSearchAddressResult, or the result of cls(response)
        :rtype: ~azure.maps.search.models.ReverseSearchAddressResult
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.ReverseSearchAddressResult"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        api_version = "1.0"
        accept = "application/json"

        # Construct URL
        url = self.reverse_search_address.metadata['url']  # type: ignore
        path_format_arguments = {
            'format': self._serialize.url("format", format, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['api-version'] = self._serialize.query("api_version", api_version, 'str')
        query_parameters['query'] = self._serialize.query("query", query, '[float]', div=',')
        if language is not None:
            query_parameters['language'] = self._serialize.query("language", language, 'str')
        if include_speed_limit is not None:
            query_parameters['returnSpeedLimit'] = self._serialize.query("include_speed_limit", include_speed_limit, 'bool')
        if heading is not None:
            query_parameters['heading'] = self._serialize.query("heading", heading, 'int', maximum=360, minimum=-360)
        if radius_in_meters is not None:
            query_parameters['radius'] = self._serialize.query("radius_in_meters", radius_in_meters, 'int')
        if number is not None:
            query_parameters['number'] = self._serialize.query("number", number, 'str')
        if include_road_use is not None:
            query_parameters['returnRoadUse'] = self._serialize.query("include_road_use", include_road_use, 'bool')
        if road_use is not None:
            query_parameters['roadUse'] = self._serialize.query("road_use", road_use, '[str]', div=',')
        if allow_freeform_newline is not None:
            query_parameters['allowFreeformNewline'] = self._serialize.query("allow_freeform_newline", allow_freeform_newline, 'bool')
        if include_match_type is not None:
            query_parameters['returnMatchType'] = self._serialize.query("include_match_type", include_match_type, 'bool')
        if entity_type is not None:
            query_parameters['entityType'] = self._serialize.query("entity_type", entity_type, 'str')
        if localized_map_view is not None:
            query_parameters['view'] = self._serialize.query("localized_map_view", localized_map_view, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if self._config.client_id is not None:
            header_parameters['x-ms-client-id'] = self._serialize.header("self._config.client_id", self._config.client_id, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.ErrorResponse, response)
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize('ReverseSearchAddressResult', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    reverse_search_address.metadata = {'url': '/search/address/reverse/{format}'}  # type: ignore

    def reverse_search_cross_street_address(
        self,
        query,  # type: List[float]
        format="json",  # type: Union[str, "models.ResponseFormat"]
        top=None,  # type: Optional[int]
        heading=None,  # type: Optional[int]
        radius_in_meters=None,  # type: Optional[int]
        language=None,  # type: Optional[str]
        localized_map_view=None,  # type: Optional[Union[str, "models.LocalizedMapView"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.ReverseSearchCrossStreetAddressResult"
        """**Reverse Geocode to a Cross Street**

        **Applies to**\ : S0 and S1 pricing tiers.

        There may be times when you need to translate a  coordinate (example: 37.786505, -122.3862)
        into a human understandable cross street. Most often this  is needed in tracking applications
        where you  receive a GPS feed from the device or asset and wish to know what address where the
        coordinate is  located.
        This endpoint will return cross street information  for a given coordinate.

        :param query: The applicable query specified as a comma separated string composed by latitude
         followed by longitude e.g. "47.641268,-122.125679".
        :type query: list[float]
        :param format: Desired format of the response. Value can be either *json* or *xml*.
        :type format: str or ~azure.maps.search.models.ResponseFormat
        :param top: Maximum number of responses that will be returned. Default: 10, minimum: 1 and
         maximum: 100.
        :type top: int
        :param heading: The directional heading of the vehicle in degrees, for travel along a segment
         of roadway. 0 is North, 90 is East and so on, values range from -360 to 360. The precision can
         include upto one decimal place.
        :type heading: int
        :param radius_in_meters: The radius in meters to for the results to be constrained to the
         defined area.
        :type radius_in_meters: int
        :param language: Language in which search results should be returned. Should be one of
         supported IETF language tags, case insensitive. When data in specified language is not
         available for a specific field, default language is used.

         Please refer to `Supported Languages <https://docs.microsoft.com/azure/azure-maps/supported-
[...]
