interactions:
- request:
    body: '{"location": "global", "sku": {"name": "Free"}, "kind": "Bot", "properties":
      {"displayName": "this is a test bot", "description": "this is a description
      for a test bot", "endpoint": "https://bing.com/messages/", "msaAppId": "056d9ad9-17a9-4cc7-aebb-43bf6f293a08",
      "developerAppInsightKey": "59513bad-10a7-4d41-b4d0-b1c34c6af512", "developerAppInsightsApiKey":
      "w24iw5ocbhcig71su7ibaj63hey5ieaozeuwdv11", "developerAppInsightsApplicationId":
      "cf03484e-3fdb-4b5e-9ad7-94bde32e5a11"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30?api-version=2020-06-02
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30","name":"azurebot45e81a30","type":"Microsoft.BotService/botServices","etag":"\"0000c326-0000-1800-0000-600fbf850000\"","location":"global","sku":{"name":""},"kind":"Bot","tags":{},"properties":{"displayName":"this
        is a test bot","description":"this is a description for a test bot","iconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://bing.com/messages/","msaAppId":"056d9ad9-17a9-4cc7-aebb-43bf6f293a08","developerAppInsightKey":"59513bad-10a7-4d41-b4d0-b1c34c6af512","developerAppInsightsApplicationId":"cf03484e-3fdb-4b5e-9ad7-94bde32e5a11","luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":true,"isStreamingSupported":false,"publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":null,"storageResourceId":null,"migrationToken":null,"isCmekEnabled":false,"cmekKeyVaultUrl":null,"cmekEncryptionStatus":"Off","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0000c326-0000-1800-0000-600fbf850000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "global", "properties": {"clientId": "clientId", "clientSecret":
      "clientSecret", "scopes": "read,write", "serviceProviderId": "00ea67de-bfc6-4f45-9ede-083899596b7b",
      "parameters": [{"key": "key1", "value": "value1"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30/connections/myconnection45e81a30?api-version=2020-06-02
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30/connections/myconnection45e81a30","name":"azurebot45e81a30/myconnection45e81a30","type":"Microsoft.BotService/botServices/connections","etag":"W/\"84ec112cb25f40b6dbc750b05a030e161/26/2021
        7:06:47 AM\"","location":"global","properties":{"settingId":"b81b1e53-eafd-ba84-0dc0-fe4c07e72950_c1776b78-b6b0-4f60-07e3","clientId":"clientId","clientSecret":"clientSecret","scopes":"read,write","serviceProviderId":"00ea67de-bfc6-4f45-9ede-083899596b7b","serviceProviderDisplayName":null,"parameters":[{"key":"key1","value":"value1"}],"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"84ec112cb25f40b6dbc750b05a030e161/26/2021 7:06:47 AM"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30/connections?api-version=2020-06-02
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30/connections/myconnection45e81a30","name":"azurebot45e81a30/myconnection45e81a30","type":"Microsoft.BotService/botServices/connections","etag":"W/\"4cdcedef2fd8a61ec29a17aa74d29be81/26/2021
        7:06:48 AM\"","location":"global","properties":{"serviceProviderDisplayName":"Wunderlist","id":"b81b1e53-eafd-ba84-0dc0-fe4c07e72950_c1776b78-b6b0-4f60-07e3","name":"myconnection45e81a30","serviceProviderId":"00ea67de-bfc6-4f45-9ede-083899596b7b","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30/connections/myconnection45e81a30?api-version=2020-06-02
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The resource with identifier
        ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30/connections/myconnection45e81a30''
        is not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
