interactions:
- request:
    body: '{"location": "global", "sku": {"name": "Free"}, "kind": "Bot", "properties":
      {"displayName": "this is a test bot", "description": "this is a description
      for a test bot", "endpoint": "https://bing.com/messages/", "msaAppId": "056d9ad9-17a9-4cc7-aebb-43bf6f293a08",
      "developerAppInsightKey": "59513bad-10a7-4d41-b4d0-b1c34c6af512", "developerAppInsightsApiKey":
      "w24iw5ocbhcig71su7ibaj63hey5ieaozeuwdv11", "developerAppInsightsApplicationId":
      "cf03484e-3fdb-4b5e-9ad7-94bde32e5a11"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30?api-version=2018-07-12
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30","name":"azurebot45e81a30","type":"Microsoft.BotService/botServices","etag":"W/\"datetime''2018-07-30T22%3A59%3A55.0881078Z''\"","location":"global","sku":{"name":""},"kind":"Bot","tags":{},"properties":{"displayName":"this
        is a test bot","description":"this is a description for a test bot","iconUrl":"//bot-framework.azureedge.net/bot-icons-v1/bot-framework-default.png","endpoint":"https://bing.com/messages/","msaAppId":"056d9ad9-17a9-4cc7-aebb-43bf6f293a08","developerAppInsightKey":"59513bad-10a7-4d41-b4d0-b1c34c6af512","developerAppInsightsApplicationId":"cf03484e-3fdb-4b5e-9ad7-94bde32e5a11","luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":true,"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"datetime'2018-07-30T22%3A59%3A55.0881078Z'"]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "global", "properties": {"clientId": "clientId", "clientSecret":
      "clientSecret", "scopes": "read,write", "serviceProviderId": "00ea67de-bfc6-4f45-9ede-083899596b7b",
      "parameters": [{"key": "key1", "value": "value1"}]}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30/Connections/myconnection45e81a30?api-version=2018-07-12
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30/connections/myconnection45e81a30","name":"azurebot45e81a30/myconnection45e81a30","type":"Microsoft.BotService/botServices/connections","etag":"W/\"84ec112cb25f40b6dbc750b05a030e167/30/2018
        11:00:18 PM\"","location":"global","properties":{"settingId":"b81b1e53-eafd-ba84-0dc0-fe4c07e72950_c1776b78-b6b0-4f60-07e3","clientId":"clientId","clientSecret":"clientSecret","scopes":"read,write","serviceProviderId":"00ea67de-bfc6-4f45-9ede-083899596b7b","serviceProviderDisplayName":null,"parameters":[{"key":"key1","value":"value1"}],"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['W/"84ec112cb25f40b6dbc750b05a030e167/30/2018 11:00:18 PM"']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30/connections?api-version=2018-07-12
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30/connections/myconnection45e81a30","name":"azurebot45e81a30/myconnection45e81a30","type":"Microsoft.BotService/botServices/connections","etag":"W/\"4cdcedef2fd8a61ec29a17aa74d29be87/30/2018
        11:00:32 PM\"","location":"global","properties":{"serviceProviderDisplayName":"Wunderlist","id":"b81b1e53-eafd-ba84-0dc0-fe4c07e72950_c1776b78-b6b0-4f60-07e3","name":"myconnection45e81a30","serviceProviderId":"00ea67de-bfc6-4f45-9ede-083899596b7b","provisioningState":"Succeeded"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30/Connections/myconnection45e81a30?api-version=2018-07-12
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The resource with
        identifier ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/python_conn45e81a30/providers/Microsoft.BotService/botServices/azurebot45e81a30/connections/myconnection45e81a30''
        is not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
version: 1
