interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BotService/listAuthServiceProviders?api-version=2020-06-02
  response:
    body:
      string: '{"value":[{"properties":{"id":"00ea67de-bfc6-4f45-9ede-083899596b7b","displayName":"Wunderlist","serviceProviderName":"wunderlist","devPortalUrl":null,"iconUrl":null,"parameters":[{"name":"ClientId","type":"string","displayName":"Client
        id","description":"The id used to identify this application with the service
        provider","helpUrl":null,"default":null,"metadata":{"constraints":{"required":true}}},{"name":"ClientSecret","type":"securestring","displayName":"Client
        secret","description":"The shared secret used to authenticate this application
        with the service provider","helpUrl":null,"default":null,"metadata":{"constraints":{"required":true}}}]}},{"properties":{"id":"01340562-8c8f-4892-abd4-90daf0e5face","displayName":"Google","serviceProviderName":"google","devPortalUrl":null,"iconUrl":null,"parameters":[{"name":"ClientId","type":"string","displayName":"Client
     [...]
