{
  "Entries": [
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/LocalUpload/6a98eb37-15d7-430a-bb2f-dc62982f46c5/test.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:42:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/LocalUpload/6a98eb37-15d7-430a-bb2f-dc62982f46c5/test.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Aug 2022 16:42:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Y29udGVudA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mgNkuembtIDdJeHwKEyFVQ==",
        "ETag": "\u00220x8DA8AA695D34F25\u0022",
        "Last-Modified": "Tue, 30 Aug 2022 16:42:10 GMT",
        "x-ms-content-crc64": "YUxQJV9dFZY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/LocalUpload/6a98eb37-15d7-430a-bb2f-dc62982f46c5/test.txt?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:42:12 GMT",
        "x-ms-meta-name": "name",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "53bf3ef0-544a-4ae3-880a-214d444aab4d",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8AA695E1F2ED\u0022",
        "Last-Modified": "Tue, 30 Aug 2022 16:42:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/LocalUpload/6a98eb37-15d7-430a-bb2f-dc62982f46c5/test.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:42:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mgNkuembtIDdJeHwKEyFVQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA8AA695F61410\u0022",
        "Last-Modified": "Tue, 30 Aug 2022 16:42:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Aug 2022 16:42:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "name",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "version from mfe",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/LocalUpload/1c868647-0bd1-42a4-8508-9a900c55ba60/test_dir/sub_dir/test.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:42:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/LocalUpload/1c868647-0bd1-42a4-8508-9a900c55ba60/test_dir/sub_dir/test.txt?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:42:13 GMT",
        "x-ms-meta-name": "name",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "f6bf26c0-24d1-4e94-94d3-0bac4450bf32",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8AA696362078\u0022",
        "Last-Modified": "Tue, 30 Aug 2022 16:42:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/LocalUpload/1c868647-0bd1-42a4-8508-9a900c55ba60/test_dir/sub_dir/test.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:42:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mgNkuembtIDdJeHwKEyFVQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA8AA6964698B8\u0022",
        "Last-Modified": "Tue, 30 Aug 2022 16:42:11 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Aug 2022 16:42:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "name",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "version from mfe",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir_asset_id": "1c868647-0bd1-42a4-8508-9a900c55ba60",
    "file_asset_id": "6a98eb37-15d7-430a-bb2f-dc62982f46c5"
  }
}
