{
  "Entries": [
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/LocalUpload/b9dad6f9-1990-472d-940a-6608bd8d7e23/test.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:42:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/LocalUpload/b9dad6f9-1990-472d-940a-6608bd8d7e23/test.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Aug 2022 16:42:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "Y29udGVudA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mgNkuembtIDdJeHwKEyFVQ==",
        "ETag": "\u00220x8DA8AA69309042A\u0022",
        "Last-Modified": "Tue, 30 Aug 2022 16:42:06 GMT",
        "x-ms-content-crc64": "YUxQJV9dFZY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/LocalUpload/b9dad6f9-1990-472d-940a-6608bd8d7e23/test.txt?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:42:07 GMT",
        "x-ms-meta-name": "name",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "version",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8AA69318B933\u0022",
        "Last-Modified": "Tue, 30 Aug 2022 16:42:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/LocalUpload/269e0254-44d4-45ae-87da-1ebc7981d5b7/test_dir/sub_dir/test.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:42:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/LocalUpload/269e0254-44d4-45ae-87da-1ebc7981d5b7/test_dir/sub_dir/test.txt?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:42:08 GMT",
        "x-ms-meta-name": "name",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "version",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA8AA69345B5C8\u0022",
        "Last-Modified": "Tue, 30 Aug 2022 16:42:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/LocalUpload/b9dad6f9-1990-472d-940a-6608bd8d7e23/test.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:42:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mgNkuembtIDdJeHwKEyFVQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA8AA69318B933\u0022",
        "Last-Modified": "Tue, 30 Aug 2022 16:42:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Aug 2022 16:42:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "name",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "version",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/az-ml-artifacts/b9dad6f9-1990-472d-940a-6608bd8d7e23/test.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:42:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://teststorageaccount.blob.core.windows.net/testblob/az-ml-artifacts/269e0254-44d4-45ae-87da-1ebc7981d5b7/test_dir/sub_dir/test.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 30 Aug 2022 16:42:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir_asset_id": "269e0254-44d4-45ae-87da-1ebc7981d5b7",
    "file_asset_id": "b9dad6f9-1990-472d-940a-6608bd8d7e23"
  }
}
