interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: HEAD
    uri: https://management.azure.com/providers/Microsoft.DocumentDB/databaseAccountNames/pycosmosdbtst427b100e?api-version=2015-04-08
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-tenant-reads: ['14999']
    status: {code: 404, message: NotFound}
- request:
    body: '{"location": "westus", "properties": {"locations": [{"locationName": "westus"}],
      "databaseAccountOfferType": "Standard"}, "kind": "GlobalDocumentDB"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_cosmosdb_test_accounts_create427b100e/providers/Microsoft.DocumentDB/databaseAccounts/pycosmosdbtst427b100e?api-version=2015-04-08
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_cosmosdb_test_accounts_create427b100e/providers/Microsoft.DocumentDB/databaseAccounts/pycosmosdbtst427b100e","name":"pycosmosdbtst427b100e","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Initializing","ipRangeFilter":"","enableAutomaticFailover":false,"databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"pycosmosdbtst427b100e-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0}],"readLocations":[{"id":"pycosmosdbtst427b100e-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0}],"failoverPolicies":[{"id":"pycosmosdbtst427b100e-westus","locationName":"West
        US","failoverPriority":0}]}}'}
    headers:
      Content-Location: ['https://management.documents.azure.com:450/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_cosmosdb_test_accounts_create427b100e/providers/Microsoft.DocumentDB/databaseAccounts/pycosmosdbtst427b100e?api-version=2015-04-08']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_cosmosdb_test_accounts_create427b100e/providers/Microsoft.DocumentDB/databaseAccounts/pycosmosdbtst427b100e/operationResults/0a8b4700-bf82-4fa0-abb5-7c1c3a943792?api-version=2015-04-08']
      x-ms-gatewayversion: [version=1.14.55.2]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: Ok}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_cosmosdb_test_accounts_create427b100e/providers/Microsoft.DocumentDB/databaseAccounts/pycosmosdbtst427b100e/operationResults/0a8b4700-bf82-4fa0-abb5-7c1c3a943792?api-version=2015-04-08
  response:
    body: {string: '{"status":"Dequeued","error":{}}'}
    headers:
      Content-Location: ['https://management.documents.azure.com:450/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_cosmosdb_test_accounts_create427b100e/providers/Microsoft.DocumentDB/databaseAccounts/pycosmosdbtst427b100e/operationResults/0a8b4700-bf82-4fa0-abb5-7c1c3a943792?api-version=2015-04-08']
      Content-Type: [application/json]
      Location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_cosmosdb_test_accounts_create427b100e/providers/Microsoft.DocumentDB/databaseAccounts/pycosmosdbtst427b100e/operationResults/0a8b4700-bf82-4fa0-abb5-7c1c3a943792?api-version=2015-04-08']
      x-ms-gatewayversion: [version=1.14.55.2]
      x-ms-ratelimit-remaining-subscription-reads: ['14997']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_cosmosdb_test_accounts_create427b100e/providers/Microsoft.DocumentDB/databaseAccounts/pycosmosdbtst427b100e/operationResults/0a8b4700-bf82-4fa0-abb5-7c1c3a943792?api-version=2015-04-08
  response:
    body: {string: '{"status":"Succeeded","error":{}}'}
    headers:
      Content-Location: ['https://management.documents.azure.com:450/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_cosmosdb_test_accounts_create427b100e/providers/Microsoft.DocumentDB/databaseAccounts/pycosmosdbtst427b100e/operationResults/0a8b4700-bf82-4fa0-abb5-7c1c3a943792?api-version=2015-04-08']
      Content-Type: [application/json]
      x-ms-gatewayversion: [version=1.14.33.2]
      x-ms-ratelimit-remaining-subscription-reads: ['14999']
    status: {code: 200, message: Ok}
version: 1
