interactions:
- request:
    body: '{"properties": {"displayName": "test_pool", "vmSize": "small", "deploymentConfiguration":
      {"cloudServiceConfiguration": {"osFamily": "5"}}, "scaleSettings": {"fixedScale":
      {"targetDedicatedNodes": 0, "targetLowPriorityNodes": 0}}, "userAccounts": [{"name":
      "UserName", "password": "p@55wOrd"}], "startTask": {"commandLine": "cmd.exe
      /c \"echo hello world\"", "resourceFiles": [{"httpUrl": "https://blobsource.com",
      "filePath": "filename.txt"}], "environmentSettings": [{"name": "ENV_VAR", "value":
      "env_value"}], "userIdentity": {"autoUser": {"elevationLevel": "Admin"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_paas_pool?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_paas_pool","name":"test_paas_pool","type":"Microsoft.Batch/batchAccounts/pools","etag":"W/\"0x8D71AC56DAA5BD9\"","properties":{"lastModified":"2019-08-06T23:25:54.6975193Z","creationTime":"2019-08-06T23:25:54.6975193Z","provisioningState":"Succeeded","provisioningStateTransitionTime":"2019-08-06T23:25:54.6975193Z","allocationState":"Resizing","allocationStateTransitionTime":"2019-08-06T23:25:54.6975193Z","vmSize":"Small","interNodeCommunication":"Disabled","maxTasksPerNode":1,"taskSchedulingPolicy":{"nodeFillType":"Spread"},"deploymentConfiguration":{"cloudServiceConfiguration":{"osFamily":"5","osVersion":"*"}},"scaleSettings":{"fixedScale":{"targetDedicatedNodes":0,"targetLowPriorityNodes":0,"resizeTimeout":"PT15M"}},"startTask":{"commandLine":"cmd.exe
        /c \"echo hello world\"","resourceFiles":[{"filePath":"filename.txt","httpUrl":"https://blobsource.com"}],"environmentSettings":[{"name":"ENV_VAR","value":"env_value"}],"userIdentity":{"autoUser":{"scope":"Pool","elevationLevel":"Admin"}},"maxTaskRetryCount":0,"waitForSuccess":true},"userAccounts":[{"name":"UserName","elevationLevel":"NonAdmin","windowsUserConfiguration":{"loginMode":"Interactive"}}],"resizeOperationStatus":{"targetDedicatedNodes":0,"nodeDeallocationOption":"Requeue","resizeTimeout":"PT15M","startTime":"2019-08-06T23:25:54.6975193Z"},"currentDedicatedNodes":0,"currentLowPriorityNodes":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D71AC56DAA5BD9"
      last-modified:
      - Tue, 06 Aug 2019 23:25:54 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"displayName": "test_pool", "vmSize": "Standard_A1", "deploymentConfiguration":
      {"virtualMachineConfiguration": {"imageReference": {"publisher": "MicrosoftWindowsServer",
      "offer": "WindowsServer", "sku": "2016-Datacenter-smalldisk"}, "nodeAgentSkuId":
      "batch.node.windows amd64", "windowsConfiguration": {"enableAutomaticUpdates":
      true}}}, "scaleSettings": {"fixedScale": {"targetDedicatedNodes": 0, "targetLowPriorityNodes":
      0}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool","name":"test_iaas_pool","type":"Microsoft.Batch/batchAccounts/pools","etag":"W/\"0x8D71AC56E1EF6CD\"","properties":{"lastModified":"2019-08-06T23:25:55.4617037Z","creationTime":"2019-08-06T23:25:55.4617037Z","provisioningState":"Succeeded","provisioningStateTransitionTime":"2019-08-06T23:25:55.4617037Z","allocationState":"Resizing","allocationStateTransitionTime":"2019-08-06T23:25:55.4617037Z","vmSize":"STANDARD_A1","interNodeCommunication":"Disabled","maxTasksPerNode":1,"taskSchedulingPolicy":{"nodeFillType":"Spread"},"deploymentConfiguration":{"virtualMachineConfiguration":{"imageReference":{"publisher":"MicrosoftWindowsServer","offer":"WindowsServer","sku":"2016-Datacenter-smalldisk","version":"latest"},"nodeAgentSkuId":"batch.node.windows
        amd64","windowsConfiguration":{"enableAutomaticUpdates":true}}},"scaleSettings":{"fixedScale":{"targetDedicatedNodes":0,"targetLowPriorityNodes":0,"resizeTimeout":"PT15M"}},"resizeOperationStatus":{"targetDedicatedNodes":0,"nodeDeallocationOption":"Requeue","resizeTimeout":"PT15M","startTime":"2019-08-06T23:25:55.4617037Z"},"currentDedicatedNodes":0,"currentLowPriorityNodes":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D71AC56E1EF6CD"
      last-modified:
      - Tue, 06 Aug 2019 23:25:55 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools?api-version=2019-08-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch[...]
[...]
- request:
    body: '{"properties": {"scaleSettings": {"autoScale": {"formula": "$TargetDedicatedNodes=1"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool","name":"test_iaas_pool","type":"Microsoft.Batch/batchAccounts/pools","etag":"W/\"0x8D71AC56E7EB1BB\"","properties":{"lastModified":"2019-08-06T23:25:56.0890811Z","creationTime":"2019-08-06T23:25:55.4617037Z","provisioningState":"Succeeded","provisioningStateTransitionTime":"2019-08-06T23:25:55.4617037Z","allocationState":"Resizing","allocationStateTransitionTime":"2019-08-06T23:25:56.0890811Z","vmSize":"STANDARD_A1","interNodeCommunication":"Disabled","maxTasksPerNode":1,"taskSchedulingPolicy":{"nodeFillType":"Spread"},"deploymentConfiguration":{"virtualMachineConfiguration":{"imageReference":{"publisher":"MicrosoftWindowsServer","offer":"WindowsServer","sku":"2016-Datacenter-smalldisk","version":"latest"},"nodeAgentSkuId":"batch.node.windows
        amd64","windowsConfiguration":{"enableAutomaticUpdates":true}}},"scaleSettings":{"autoScale":{"formula":"$TargetDedicatedNodes=1","evaluationInterval":"PT15M"}},"resizeOperationStatus":{"targetDedicatedNodes":1,"nodeDeallocationOption":"Requeue","resizeTimeout":"PT15M","startTime":"2019-08-06T23:25:56.0890811Z"},"currentDedicatedNodes":0,"currentLowPriorityNodes":0,"autoScaleRun":{"evaluationTime":"2019-08-06T23:25:56.0890811Z","results":"$TargetDedicatedNodes=1;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D71AC56E7EB1BB"
      last-modified:
      - Tue, 06 Aug 2019 23:25:56 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool/stopResize?api-version=2019-08-01
  response:
    body:
      string: '{"error":{"code":"OperationInvalidForCurrentState","message":"The specified
        operation is not valid for the current state of the resource.\nRequestId:d08b54a1-fcef-4659-a737-11e00b7c23f4\nTime:2019-08-06T23:25:57.5317370Z","target":"BatchAccount","details":[{"code":"Reason","message":"The
        specified pool has AutoScale enabled. AutoScale resize cannot be stopped"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 409
      message: The specified operation is not valid for the current state of the resource.
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool/disableAutoScale?api-version=2019-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Ba[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool?api-version=2019-08-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/poolOperationResults/delete-test_iaas_pool?api-version=2019-08-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/poolOperationResults/delete-test_iaas_pool?api-version=2019-08-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/poolOperationResults/delete-test_iaas_pool?api-version=2019-08-01
    status:
      code: 202
      message: Accepted
[...]
