interactions:
- request:
    body: 'b''b\''{"location": "westcentralus", "properties": {"autoStorage": {"storageAccountId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Storage/storageAccounts/batch"},
      "publicNetworkAccess": "Enabled"}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch93ef11ffapi-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch/operationResults/054dcc7d-9c3b-4db4-b255-05ac89f1b563?api-version=2021-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch/operationResults/054dcc7d-9c3b-4db4-b255-05ac89f1b563?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch","name":"batch","type":"Microsoft.Batch/batchAccounts","location":"westcentralus","properties":{"accountEndpoint":"batch.westcentralus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":700,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":100},{"name":"standardDv2Family","coreQuota":100},{"name":"standardDv3Family","coreQuota":100},{"name":"standardEv3Family","coreQuota":50},{"name":"standardDSv2Family","coreQuota":100},{"name":"standardDSv3Family","coreQuota":100},{"name":"standardESv3Family","coreQuota":50},{"name":"standardFFamily","coreQuota":50},{"name":"standardFSFamily","coreQuota":50},{"name":"standardA0_A7Family","coreQuota":0},{"name":"standardA8_A11Family","coreQuota":0},{"name":"standardDFamily","coreQuota":0},{"name"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch/syncAutoStorageKeys?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
- request:
    body: '{"properties": {"displayName": "my_application_name", "allowUpdates": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch/applications/my_application_id?api-version=2021-01-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch/applications/my_application_id","name":"my_application_id","etag":"W/\"0x8D8C351C7AB5964\"","properties":{"displayName":"my_application_name","allowUpdates":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D8C351C7AB5964"
      last-modified:
      - Thu, 28 Jan 2021 05:58:48 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch/applications?api-version=2021-01-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.Batch/batchAccounts/applications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch/applications/my_application_id","name":"my_application_id","etag":"W/\"0x8D8C351C7AB5964\"","properties":{"displayName":"my_application_name","allowUpdates":true}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch/applications/my_application_id/versions/v1.0?api-version=2021-01-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications/versions","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch/applications/my_application_id/versions/v1.0","name":"v1.0","etag":"W/\"0x8D8C351C8749A6F\"","properties":{"storageUrl":"https://batch.blob.core.windows.net/app-my-application-id-24a654921d5f443184f81f52a2587738/v1.0?sv=2018-03-28&sr=b&sig=41KCzk9ebrMOzdZet4qrO848FkgRixxCWONRchp%2FUPA%3D&st=2021-01-28T05%3A53%3A49Z&se=2021-01-28T09%3A58%3A49Z&sp=rw","storageUrlExpiry":"2021-01-28T09:58:49.5843053Z","state":"Pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D8C351C8749A6F"
      last-modified:
      - Thu, 28 Jan 2021 05:58:49 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
- request:
    body: Hello World
    headers:
      x-ms-blob-type:
      - BlockBlob
    method: PUT
    uri: https://batch.blob.core.windows.net/app-my-application-id-24a654921d5f443184f81f52a2587738/v1.0?sv=2018-03-28&sr=b&sig=41KCzk9ebrMOzdZet4qrO848FkgRixxCWONRchp%2FUPA%3D&st=2021-01-28T05%3A53%3A49Z&se=2021-01-28T09%3A58%3A49Z&sp=rw
  response:
    body:
      string: ''
    headers:
      content-md5:
      - sQqNsWTgdUEFt6mb5y4/5Q==
      etag:
      - '"0x8D8C351C9357B20"'
      last-modified:
      - Thu, 28 Jan 2021 05:58:50 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: '{"format": "zip"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch/applications/my_application_id/versions/v1.0/activate?api-version=2021-01-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications/versions","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch/applications/my_application_id/versions/v1.0","name":"v1.0","etag":"W/\"0x8D8C351C9734D00\"","properties":{"storageUrl":"https://batch.blob.core.windows.net/app-my-application-id-24a654921d5f443184f81f52a2587738/v1.0?sv=2018-03-28&sr=b&sig=Ta0NNjbNK5esMSKnGqH2xPzO6HYgb0RJMAhCDzTRdZ4%3D&st=2021-01-28T05%3A53%3A51Z&se=2021-01-28T09%3A58%3A51Z&sp=rw","storageUrlExpiry":"2021-01-28T09:58:51.2795636Z","state":"Active","format":"zip","lastActivationTime":"2021-01-28T05:58:51.2340645Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D8C351C9734D00"
      last-modified:
      - Thu, 28 Jan 2021 05:58:51 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"displayName": "my_updated_name", "allowUpdates": false,
      "defaultVersion": "v1.0"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch/applications/my_application_id?api-version=2021-01-01
  response:
    body:
      string: '{"type":"Microsoft.Batch/batchAccounts/applications","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch/applications/my_application_id","name":"my_application_id","etag":"W/\"0x8D8C351C9BD5BCA\"","properties":{"displayName":"my_updated_name","allowUpdates":false,"defaultVersion":"v1.0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D8C351C9BD5BCA"
      last-modified:
      - Thu, 28 Jan 2021 05:58:51 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Batch/locations/westcentralus/accountOperationResults/batch-e0541d47-0c01-4c9f-b31f-cd64d74ff11f?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
version: 1
