interactions:
- request:
    body: '{"properties": {"displayName": "test_pool", "vmSize": "small", "deploymentConfiguration":
      {"cloudServiceConfiguration": {"osFamily": "5"}}, "scaleSettings": {"fixedScale":
      {"targetDedicatedNodes": 0, "targetLowPriorityNodes": 0}}, "userAccounts": [{"name":
      "UserName", "password": "p@55wOrd"}], "startTask": {"commandLine": "cmd.exe
      /c \"echo hello world\"", "resourceFiles": [{"httpUrl": "https://blobsource.com",
      "filePath": "filename.txt"}], "environmentSettings": [{"name": "ENV_VAR", "value":
      "env_value"}], "userIdentity": {"autoUser": {"elevationLevel": "Admin"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_paas_pool?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_paas_pool","name":"test_paas_pool","type":"Microsoft.Batch/batchAccounts/pools","etag":"W/\"0x8D8772FF5801521\"","properties":{"displayName":"test_pool","lastModified":"2020-10-23T08:45:13.8905377Z","creationTime":"2020-10-23T08:45:13.8905377Z","provisioningState":"Succeeded","provisioningStateTransitionTime":"2020-10-23T08:45:13.8905377Z","allocationState":"Resizing","allocationStateTransitionTime":"2020-10-23T08:45:13.8905377Z","vmSize":"Small","interNodeCommunication":"Disabled","taskSlotsPerNode":1,"taskSchedulingPolicy":{"nodeFillType":"Spread"},"deploymentConfiguration":{"cloudServiceConfiguration":{"osFamily":"5","osVersion":"*"}},"scaleSettings":{"fixedScale":{"targetDedicatedNodes":0,"targetLowPriorityNodes":0,"resizeTimeout":"PT15M"}},"startTask":{"commandLine":"cmd.exe
        /c \"echo hello world\"","resourceFiles":[{"filePath":"filename.txt","httpUrl":"https://blobsource.com"}],"environmentSettings":[{"name":"ENV_VAR","value":"env_value"}],"userIdentity":{"autoUser":{"scope":"Pool","elevationLevel":"Admin"}},"maxTaskRetryCount":0,"waitForSuccess":true},"userAccounts":[{"name":"UserName","elevationLevel":"NonAdmin","windowsUserConfiguration":{"loginMode":"Interactive"}}],"resizeOperationStatus":{"targetDedicatedNodes":0,"nodeDeallocationOption":"Requeue","resizeTimeout":"PT15M","startTime":"2020-10-23T08:45:13.8905377Z"},"currentDedicatedNodes":0,"currentLowPriorityNodes":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D8772FF5801521"
      last-modified:
      - Fri, 23 Oct 2020 08:45:13 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"displayName": "test_pool", "vmSize": "Standard_A1", "deploymentConfiguration":
      {"virtualMachineConfiguration": {"imageReference": {"publisher": "MicrosoftWindowsServer",
      "offer": "WindowsServer", "sku": "2016-Datacenter-smalldisk"}, "nodeAgentSkuId":
      "batch.node.windows amd64", "windowsConfiguration": {"enableAutomaticUpdates":
      true}}}, "scaleSettings": {"fixedScale": {"targetDedicatedNodes": 0, "targetLowPriorityNodes":
      0}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool","name":"test_iaas_pool","type":"Microsoft.Batch/batchAccounts/pools","etag":"W/\"0x8D8772FF5FCE6F4\"","properties":{"displayName":"test_pool","lastModified":"2020-10-23T08:45:14.7085556Z","creationTime":"2020-10-23T08:45:14.7085556Z","provisioningState":"Succeeded","provisioningStateTransitionTime":"2020-10-23T08:45:14.7085556Z","allocationState":"Resizing","allocationStateTransitionTime":"2020-10-23T08:45:14.7085556Z","vmSize":"STANDARD_A1","interNodeCommunication":"Disabled","taskSlotsPerNode":1,"taskSchedulingPolicy":{"nodeFillType":"Spread"},"deploymentConfiguration":{"virtualMachineConfiguration":{"imageReference":{"publisher":"MicrosoftWindowsServer","offer":"WindowsServer","sku":"2016-Datacenter-smalldisk","version":"latest"},"nodeAgentSkuId":"batch.node.windows
        amd64","windowsConfiguration":{"enableAutomaticUpdates":true}}},"scaleSettings":{"fixedScale":{"targetDedicatedNodes":0,"targetLowPriorityNodes":0,"resizeTimeout":"PT15M"}},"resizeOperationStatus":{"targetDedicatedNodes":0,"nodeDeallocationOption":"Requeue","resizeTimeout":"PT15M","startTime":"2020-10-23T08:45:14.7085556Z"},"currentDedicatedNodes":0,"currentLowPriorityNodes":0}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D8772FF5FCE6F4"
      last-modified:
      - Fri, 23 Oct 2020 08:45:14 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools?api-version=2020-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch[...]
[...]
- request:
    body: '{"properties": {"scaleSettings": {"autoScale": {"formula": "$TargetDedicatedNodes=0"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool?api-version=2020-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool","name":"test_iaas_pool","type":"Microsoft.Batch/batchAccounts/pools","etag":"W/\"0x8D877300021F736\"","properties":{"displayName":"test_pool","lastModified":"2020-10-23T08:45:31.728671Z","creationTime":"2020-10-23T08:45:14.7085556Z","provisioningState":"Succeeded","provisioningStateTransitionTime":"2020-10-23T08:45:14.7085556Z","allocationState":"Steady","allocationStateTransitionTime":"2020-10-23T08:45:31.9076711Z","vmSize":"STANDARD_A1","interNodeCommunication":"Disabled","taskSlotsPerNode":1,"taskSchedulingPolicy":{"nodeFillType":"Spread"},"deploymentConfiguration":{"virtualMachineConfiguration":{"imageReference":{"publisher":"MicrosoftWindowsServer","offer":"WindowsServer","sku":"2016-Datacenter-smalldisk","version":"latest"},"nodeAgentSkuId":"batch.node.windows
        amd64","windowsConfiguration":{"enableAutomaticUpdates":true}}},"scaleSettings":{"autoScale":{"formula":"$TargetDedicatedNodes=0","evaluationInterval":"PT15M"}},"resizeOperationStatus":{"targetDedicatedNodes":0,"nodeDeallocationOption":"Requeue","resizeTimeout":"PT15M","startTime":"2020-10-23T08:45:14.7085556Z"},"currentDedicatedNodes":0,"currentLowPriorityNodes":0,"autoScaleRun":{"evaluationTime":"2020-10-23T08:45:31.728671Z","results":"$TargetDedicatedNodes=0;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D877300021F736"
      last-modified:
      - Fri, 23 Oct 2020 08:45:31 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/pools/test_iaas_pool?api-version=2020-09-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/poolOperationResults/delete-test_iaas_pool?api-version=2020-09-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14996'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_pools1f5c0f25/providers/Microsoft.Batch/batchAccounts/batch1f5c0f25/poolOperationResults/delete-test_iaas_pool?api-version=2020-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
version: 1
