interactions:
- request:
    body: '{"location": "westcentralus", "properties": {"autoStorage": {"storageAccountId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Storage/storageAccounts/batch",
      "authenticationMode": "StorageKeys"}, "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_applications93ef11ff/providers/Microsoft.Batch/batchAccounts/batch?api-version=2021-06-01
  response:
    body:
      string: '{"error":{"code":"NoRegisteredProviderFound","message":"No registered
        resource provider found for location ''westcentralus'' and API version ''2021-06-01''
        for type ''batchAccounts''. The supported api-versions are ''2014-05-01-privatepreview,
        2015-07-01, 2015-09-01, 2015-12-01, 2017-01-01, 2017-05-01, 2017-09-01, 2018-12-01,
        2019-04-01, 2019-08-01, 2020-03-01, 2020-03-01-preview, 2020-05-01, 2020-09-01,
        2021-01-01''. The supported locations are ''westeurope, eastus, eastus2, westus,
        northcentralus, brazilsouth, northeurope, centralus, eastasia, japaneast,
        australiasoutheast, japanwest, koreasouth, koreacentral, southeastasia, southcentralus,
        australiaeast, jioindiawest, southindia, centralindia, westindia, canadacentral,
        canadaeast, uksouth, ukwest, westcentralus, westus2, francecentral, southafricanorth,
        uaenorth, australiacentral, germanywestcentral, switzerlandnorth, norwayeast,
        brazilsoutheast, westus3, swedencentral, eastus2euap, centraluseuap''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 400
      message: Bad Request
version: 1
