interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_byos_account94171201/providers/Microsoft.KeyVault/vaults/batchsnt26otr65akk7tsusl?api-version=2018-02-14
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_byos_account94171201/providers/Microsoft.KeyVault/vaults/batchsnt26otr65akk7tsusl","name":"batchsnt26otr65akk7tsusl","type":"Microsoft.KeyVault/vaults","location":"westcentralus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"f520d84c-3fd3-4cc8-88d4-2ed25b00d27a","permissions":{"keys":["all"],"secrets":["all"]}}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"vaultUri":"https://batchsnt26otr65akk7tsusl.vault.azure.net/","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westcentralus", "properties": {"poolAllocationMode": "UserSubscription",
      "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_byos_account94171201/providers/Microsoft.Batch/batchAccounts/batch94171201?api-version=2021-01-01
  response:
    body:
      string: '{"error":{"code":"InvalidRequestBody","message":"The specified Request
        Body is not syntactically valid.\nRequestId:699c3adb-72dd-4163-8aaf-3d07850493d2\nTime:2021-01-28T02:21:49.9445454Z","target":"BatchAccount","details":[{"code":"Reason","message":"keyVaultReference
        must be set if poolAllocationMode is specified as ''UserSubscription'' on
        a PUT request"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 400
      message: The specified Request Body is not syntactically valid.
- request:
    body: 'b''{"location": "westcentralus", "properties": {"poolAllocationMode": "UserSubscription",
      "keyVaultReference": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_byos_account94171201/providers/Microsoft.KeyVault/vaults/batchsnt26otr65akk7tsusl",
      "url": "https://batchsnt26otr65akk7tsusl.vault.azure.net/"}, "publicNetworkAccess":
      "Enabled"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_byos_account94171201/providers/Microsoft.Batch/batchAccounts/batch94171201?api-version=2021-01-01
  response:
    body:
      string: '{"error":{"code":"InsufficientPermissions","message":"The Batch service
        does not have the required permissions to access the specified Subscription.\nRequestId:938a0d40-7ed7-4b0c-813e-35eb743c5f37\nTime:2021-01-28T02:21:56.8579391Z","target":"BatchAccount"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 400
      message: The Batch service does not have the required permissions to access
        the specified Subscription.
version: 1
