{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "NA",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "linux",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.18.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=a2df54d5-ab03-4725-9b80-9a00b3b1967f\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=0vj7Q~IsFayrD0V_8oyOfygU-GE3ELOabq95a\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "publicNetworkAccess": "Disabled"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/operationResults/c2fb3f29-1d5a-4a0e-b366-3c3106e93274?api-version=2022-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/operationResults/c2fb3f29-1d5a-4a0e-b366-3c3106e93274?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DA6F9DCBA0A950\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 07:01:14 GMT",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da",
        "name": "batchpendpointa75328da",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "eastus",
        "properties": {
          "accountEndpoint": "batchpendpointa75328da.eastus.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 500,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardAv2Family",
              "coreQuota": 500
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardEv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardDSv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDSv3Family",
         [...]
[...]
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Network/virtualNetworks/vneta75328da?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subneta75328da",
              "properties": {
                "addressPrefix": "10.0.0.0/24",
                "privateEndpointNetworkPolicies": "Disabled"
              }
            }
          ],
          "enableDdosProtection": false,
          "enableVmProtection": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/f8bb667f-b074-4dc6-8655-b08d7c94fde0?api-version=2020-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "name": "vneta75328da",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Network/virtualNetworks/vneta75328da",
        "etag": "W/\u0022ff714133-06d9-47de-8e74-209e8c64c211\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "3d421b4b-f359-4ac4-9966-8275680b93b0",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subneta75328da",
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Network/virtualNetworks/vneta75328da/subnets/subneta75328da",
              "etag": "W/\u0022ff714133-06d9-47de-8e74-209e8c64c211\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/f8bb667f-b074-4dc6-8655-b08d7c94fde0?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Network/privateEndpoints/pea75328da?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "subnet": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Network/virtualNetworks/vneta75328da/subnets/subneta75328da"
          },
          "manualPrivateLinkServiceConnections": [
            {
              "name": "peca75328da",
              "properties": {
                "privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da",
                "groupIds": [
                  "batchAccount"
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/7bd32cd9-f6d5-4774-9a4d-02208cb5e7f2?api-version=2020-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "name": "pea75328da",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Network/privateEndpoints/pea75328da",
        "etag": "W/\u0022562163ce-0501-48a4-bcc8-fe2dee0392ac\u0022",
        "type": "Microsoft.Network/privateEndpoints",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "4f6069dc-2335-4ea2-a752-05d8a62c1296",
          "privateLinkServiceConnections": [],
          "manualPrivateLinkServiceConnections": [
            {
              "name": "peca75328da",
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Network/privateEndpoints/pea75328da/manualPrivateLinkServiceConnections/peca75328da",
              "etag": "W/\u0022562163ce-0501-48a4-bcc8-fe2dee0392ac\u0022",
              "properties": {
                "provisioningState": "Succeeded",
                "privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da",
                "groupIds": [
                  "batchAccount"
                ],
                "privateLinkServiceConnectionState": {
                  "status": "Pending",
                  "description": "Awaiting Approval",
                  "actionsRequired": "None"
                }
              },
              "type": "Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections"
            }
          ],
          "subnet": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Network/virtualNetworks/vneta75328da/subnets/subneta75328da"
          },
          "networkInterfaces": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Network/networkInterfaces/pea75328da.nic.278c93c1-3607-4f46-a1c9-6d1d57e4dc17"
            }
          ],
          "customDnsConfigs": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateLinkResources?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateLinkResources/batchAccount",
            "name": "batchAccount",
            "type": "Microsoft.Batch/batchAccounts/privateLinkResources",
            "properties": {
              "groupId": "batchAccount",
              "requiredMembers": [
                "batchAccount"
              ],
              "requiredZoneNames": [
                "privatelink.batch.azure.com"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateLinkResources/batchAccount?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateLinkResources/batchAccount",
        "name": "batchAccount",
        "type": "Microsoft.Batch/batchAccounts/privateLinkResources",
        "properties": {
          "groupId": "batchAccount",
          "requiredMembers": [
            "batchAccount"
          ],
          "requiredZoneNames": [
            "privatelink.batch.azure.com"
          ]
        }
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateEndpointConnections?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateEndpointConnections/pea75328da.4f6069dc-2335-4ea2-a752-05d8a62c1296",
            "name": "pea75328da.4f6069dc-2335-4ea2-a752-05d8a62c1296",
            "type": "Microsoft.Batch/batchAccounts/privateEndpointConnections",
            "etag": "W/\u00220x8DA6F9DD56087C8\u0022",
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Network/privateEndpoints/pea75328da"
              },
              "privateLinkServiceConnectionState": {
                "status": "Pending",
                "description": "Manual approval still required",
                "actionsRequired": "Manual approval required"
              },
              "groupIds": [
                "batchAccount"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateEndpointConnections/pea75328da.4f6069dc-2335-4ea2-a752-05d8a62c1296?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
   [...]
[...]
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-vayp6hgdy6ebjsmv5f4zcjkxkodc5hfwfbkiuymijb7gtfbpastq3mruyqmfsasnvftd66qkirs/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateEndpointConnectionResults/Updating$pea75328da.4f6069dc-2335-4ea2-a752-05d8a62c1296$4a8a4064-e322-4707-b808-7d5359c7b53b?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "retryAfter": 5
      }
    },
[...]
