{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "NA",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded",
        "x-client-cpu": "x64",
        "x-client-current-telemetry": "4|730,0|",
        "x-client-last-telemetry": "4|0|||",
        "x-client-os": "win32",
        "x-client-sku": "MSAL.Python",
        "x-client-ver": "1.17.0",
        "x-ms-lib-capability": "retry-after, h429"
      },
      "RequestBody": "client_id=a2df54d5-ab03-4725-9b80-9a00b3b1967f\u0026grant_type=client_credentials\u0026client_info=1\u0026client_secret=0vj7Q%7EIsFayrD0V_8oyOfygU-GE3ELOabq95a\u0026claims=%7B%22access_token%22%3A\u002B%7B%22xms_cc%22%3A\u002B%7B%22values%22%3A\u002B%5B%22CP1%22%5D%7D%7D%7D\u0026scope=https%3A%2F%2Fmanagement.azure.com%2F.default",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_type": "Bearer",
        "expires_in": 3599,
        "ext_expires_in": 3599,
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da?api-version=2022-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "publicNetworkAccess": "Disabled"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/operationResults/d9d835af-7987-4408-9507-06f05bc3bc2f?api-version=2022-01-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/operationResults/d9d835af-7987-4408-9507-06f05bc3bc2f?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DA019F421CAF31\u0022",
        "Last-Modified": "Wed, 09 Mar 2022 07:34:34 GMT",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da",
        "name": "batchpendpointa75328da",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "eastus",
        "properties": {
          "accountEndpoint": "batchpendpointa75328da.eastus.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 500,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardAv2Family",
              "coreQuota": 500
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardEv3Family",
              "coreQuota": 500
            },
            {
              "name": "standardDSv2Family",
              "coreQuota": 250
            },
            {
              "name": "standardDSv3Family",
         [...]
[...]
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Network/virtualNetworks/vneta75328da?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subneta75328da",
              "properties": {
                "addressPrefix": "10.0.0.0/24",
                "privateEndpointNetworkPolicies": "Disabled"
              }
            }
          ],
          "enableDdosProtection": false,
          "enableVmProtection": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/44e04e7e-1b9f-4010-86c8-f9ba7e6a6fa4?api-version=2020-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "vneta75328da",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Network/virtualNetworks/vneta75328da",
        "etag": "W/\u0022242fa883-870c-4bba-9ae5-a08ec7617c51\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "6bd1f5a6-b017-49d1-ab71-7abd93360db8",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subneta75328da",
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Network/virtualNetworks/vneta75328da/subnets/subneta75328da",
              "etag": "W/\u0022242fa883-870c-4bba-9ae5-a08ec7617c51\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/44e04e7e-1b9f-4010-86c8-f9ba7e6a6fa4?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Network/privateEndpoints/pea75328da?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "subnet": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Network/virtualNetworks/vneta75328da/subnets/subneta75328da"
          },
          "manualPrivateLinkServiceConnections": [
            {
              "name": "peca75328da",
              "properties": {
                "privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da",
                "groupIds": [
                  "batchAccount"
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/4922b803-e518-49c1-8820-cdfd06c4d689?api-version=2020-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "pea75328da",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Network/privateEndpoints/pea75328da",
        "etag": "W/\u002240cbbe39-391e-4576-b9ad-ca40f3587a2e\u0022",
        "type": "Microsoft.Network/privateEndpoints",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "a3760477-62bb-4d97-8fd3-392f8fc9b957",
          "privateLinkServiceConnections": [],
          "manualPrivateLinkServiceConnections": [
            {
              "name": "peca75328da",
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Network/privateEndpoints/pea75328da/manualPrivateLinkServiceConnections/peca75328da",
              "etag": "W/\u002240cbbe39-391e-4576-b9ad-ca40f3587a2e\u0022",
              "properties": {
                "provisioningState": "Succeeded",
                "privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da",
                "groupIds": [
                  "batchAccount"
                ],
                "privateLinkServiceConnectionState": {
                  "status": "Pending",
                  "description": "Awaiting Approval",
                  "actionsRequired": "None"
                }
              },
              "type": "Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections"
            }
          ],
          "subnet": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Network/virtualNetworks/vneta75328da/subnets/subneta75328da"
          },
          "networkInterfaces": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Network/networkInterfaces/pea75328da.nic.81c962ff-680c-4b85-8197-95420e602220"
            }
          ],
          "customDnsConfigs": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateLinkResources?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateLinkResources/batchpendpointa75328da",
            "name": "batchpendpointa75328da",
            "type": "Microsoft.Batch/batchAccounts/privateLinkResources",
            "properties": {
              "groupId": "batchAccount",
              "requiredMembers": [
                "batchAccount"
              ],
              "requiredZoneNames": [
                "privatelink.eastus.batch.azure.com"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateLinkResources/batchpendpointa75328da?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateLinkResources/batchpendpointa75328da",
        "name": "batchpendpointa75328da",
        "type": "Microsoft.Batch/batchAccounts/privateLinkResources",
        "properties": {
          "groupId": "batchAccount",
          "requiredMembers": [
            "batchAccount"
          ],
          "requiredZoneNames": [
            "privatelink.eastus.batch.azure.com"
          ]
        }
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateEndpointConnections?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateEndpointConnections/pea75328da.a3760477-62bb-4d97-8fd3-392f8fc9b957",
            "name": "pea75328da.a3760477-62bb-4d97-8fd3-392f8fc9b957",
            "type": "Microsoft.Batch/batchAccounts/privateEndpointConnections",
            "etag": "W/\u00220x8DA019F57FDEECD\u0022",
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Network/privateEndpoints/pea75328da"
              },
              "privateLinkServiceConnectionState": {
                "status": "Pending",
                "description": "Manual approval still required",
                "actionsRequired": "Manual approval request"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateEndpointConnections/pea75328da.a3760477-62bb-4d97-8fd3-392f8fc9b957?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody[...]
[...]
    {
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-j4svsiaqxr3z3gwjczsgeoooaxe4fxpo65u47uxl5a3jnxsjjtxvas24ukhbdptphcrpumvz53b/providers/Microsoft.Batch/batchAccounts/batchpendpointa75328da/privateEndpointConnectionResults/Updating$pea75328da.a3760477-62bb-4d97-8fd3-392f8fc9b957$b93240d6-f53f-4a5d-a1b8-9dd8f96a2780?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "retryAfter": 0
      }
    },
[...]
