interactions:
- request:
    body: '{"location": "westcentralus", "identity": {"type": "SystemAssigned"}, "properties":
      {"publicNetworkAccess": "Disabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a?api-version=2021-01-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a/operationResults/0ca6e739-4925-40cf-91d3-95ce593ce32c?api-version=2021-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a/operationResults/0ca6e739-4925-40cf-91d3-95ce593ce32c?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a","name":"batchpendpointdefb137a","type":"Microsoft.Batch/batchAccounts","location":"westcentralus","properties":{"accountEndpoint":"batchpendpointdefb137a.westcentralus.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":700,"dedicatedCoreQuotaPerVMFamily":[{"name":"standardAv2Family","coreQuota":100},{"name":"standardDv2Family","coreQuota":100},{"name":"standardDv3Family","coreQuota":100},{"name":"standardEv3Family","coreQuota":50},{"name":"standardDSv2Family","coreQuota":100},{"name":"standardDSv3Family","coreQuota":100},{"name":"standardESv3Family","coreQuota":50},{"name":"standardFFamily","coreQuota":50},{"name":"standardFSFamily","coreQuota":50},{"name":"standardA0_A7Family","coreQuota":0},{"name":"standardA8_A11Family","coreQuota":0},{"name":"standardDFamily","coreQuota":0},{"name"[...]
- request:
    body: '{"location": "westcentralus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"name": "subnetdefb137a", "properties": {"addressPrefix":
      "10.0.0.0/24", "privateEndpointNetworkPolicies": "Disabled"}}], "enableDdosProtection":
      false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/vnetdefb137a?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnetdefb137a\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/vnetdefb137a\"\
        ,\r\n  \"etag\": \"W/\\\"9457a05b-7e33-4457-8071-155d478573e1\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"2df93329-24f4-4349-9456-2b2981f0e6c0\",\r\n    \"\
        addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\
        \r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\"\
        : \"subnetdefb137a\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/vnetdefb137a/subnets/subnetdefb137a\"\
        ,\r\n        \"etag\": \"W/\\\"9457a05b-7e33-4457-8071-155d478573e1\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\"\
        : [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n \
        \         \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\
        \n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n    \
        \  }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\"\
        : false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/a8896261-ad0f-4204-acc8-4ad10ac3f9b6?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/a8896261-ad0f-4204-acc8-4ad10ac3f9b6?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westcentralus", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/vnetdefb137a/subnets/subnetdefb137a"},
      "manualPrivateLinkServiceConnections": [{"name": "pecdefb137a", "properties":
      {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a",
      "groupIds": ["batchAccount"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/privateEndpoints/pedefb137a?api-version=2020-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"pedefb137a\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/privateEndpoints/pedefb137a\"\
        ,\r\n  \"etag\": \"W/\\\"911708d4-6046-469d-b75f-5cb3ac6bfc85\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/privateEndpoints\",\r\n  \"location\": \"\
        westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"resourceGuid\": \"371a52b2-7650-42d1-96fc-9ad7b92298f5\",\r\n \
        \   \"privateLinkServiceConnections\": [],\r\n    \"manualPrivateLinkServiceConnections\"\
        : [\r\n      {\r\n        \"name\": \"pecdefb137a\",\r\n        \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/privateEndpoints/pedefb137a/manualPrivateLinkServiceConnections/pecdefb137a\"\
        ,\r\n        \"etag\": \"W/\\\"911708d4-6046-469d-b75f-5cb3ac6bfc85\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateLinkServiceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a\"\
        ,\r\n          \"groupIds\": [\r\n            \"batchAccount\"\r\n       \
        \   ],\r\n          \"privateLinkServiceConnectionState\": {\r\n         \
        \   \"status\": \"Pending\",\r\n            \"description\": \"Awaiting Approval\"\
        ,\r\n            \"actionsRequired\": \"None\"\r\n          }\r\n        },\r\
        \n        \"type\": \"Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections\"\
        \r\n      }\r\n    ],\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualNetworks/vnetdefb137a/subnets/subnetdefb137a\"\
        \r\n    },\r\n    \"networkInterfaces\": [\r\n      {\r\n        \"id\": \"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/networkInterfaces/pedefb137a.nic.5cd1e9da-0528-4cca-b2e3-eebbc71f12d2\"\
        \r\n      }\r\n    ],\r\n    \"customDnsConfigs\": []\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/43bcd897-3d26-4a2a-b7bf-942a17e9e89e?api-version=2020-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a/privateLinkResources?api-version=2021-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a/privateLinkResources/batchpendpointdefb137a","name":"batchpendpointdefb137a","type":"Microsoft.Batch/batchAccounts/privateLinkResources","properties":{"groupId":"batchAccount","requiredMembers":["batchAccount"],"requiredZoneNames":["privatelink.westcentralus.batch.azure.com"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a/privateLinkResources/batchpendpointdefb137a?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a/privateLinkResources/batchpendpointdefb137a","name":"batchpendpointdefb137a","type":"Microsoft.Batch/batchAccounts/privateLinkResources","properties":{"groupId":"batchAccount","requiredMembers":["batchAccount"],"requiredZoneNames":["privatelink.westcentralus.batch.azure.com"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a/privateEndpointConnections?api-version=2021-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a/privateEndpointConnections/pedefb137a.371a52b2-7650-42d1-96fc-9ad7b92298f5","name":"pedefb137a.371a52b2-7650-42d1-96fc-9ad7b92298f5","type":"Microsoft.Batch/batchAccounts/privateEndpointConnections","etag":"W/\"0x8D8C3615C515A58\"","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/privateEndpoints/pedefb137a"},"privateLinkServiceConnectionState":{"status":"Pending","description":"Manual
        approval still required","actionsRequired":"Manual approval request"}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a/privateEndpointConnections/pedefb137a.371a52b2-7650-42d1-96fc-9ad7b92298f5?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a/privateEndpointConnections/pedefb137a.371a52b2-7650-42d1-96fc-9ad7b92298f5","name":"pedefb137a.371a52b2-7650-42d1-96fc-9ad7b92298f5","type":"Microsoft.Batch/batchAccounts/privateEndpointConnections","etag":"W/\"0x8D8C3615C515A58\"","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/privateEndpoints/pedefb137a"},"privateLinkServiceConnectionState":{"status":"Pending","description":"Manual
        approval still required","actionsRequired":"Manual approval request"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D8C3615C515A58"
      last-modified:
      - Thu, 28 Jan 2021 07:50:20 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a/privateEndpointConnectionResults/Updating$pedefb137a.371a52b2-7650-42d1-96fc-9ad7b92298f5$deb2dad8-fbd2-4d33-b471-24b89706a2f0?api-version=2021-01-01
  response:
    body:
      string: '{"status":"Succeeded","retryAfter":0}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a/privateEndpointConnections/pedefb137a.371a52b2-7650-42d1-96fc-9ad7b92298f5?api-version=2021-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Batch/batchAccounts/batchpendpointdefb137a/privateEndpointConnections/pedefb137a.371a52b2-7650-42d1-96fc-9ad7b92298f5","name":"pedefb137a.371a52b2-7650-42d1-96fc-9ad7b92298f5","type":"Microsoft.Batch/batchAccounts/privateEndpointConnections","etag":"W/\"0x8D8C3615C515A58\"","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/privateEndpoints/pedefb137a"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Approved
        for test","actionsRequired":"Manual approval request"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D8C3615C515A58"
      last-modified:
      - Thu, 28 Jan 2021 07:50:20 GMT
    status:
      code: 200
      message: OK
version: 1
