interactions:
- request:
    body: '{"location": "westcentralus", "properties": {"poolAllocationMode": "UserSubscription",
      "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_batch_test_mgmt_batch_byos_account94171201/providers/Microsoft.Batch/batchAccounts/batch94171201?api-version=2020-09-01
  response:
    body:
      string: '{"error":{"code":"InvalidRequestBody","message":"The specified Request
        Body is not syntactically valid.\nRequestId:bffc0dfe-8dc2-4dc2-a630-071d321df091\nTime:2020-10-23T07:24:35.8280213Z","target":"BatchAccount","details":[{"code":"Reason","message":"keyVaultReference
        must be set if poolAllocationMode is specified as ''UserSubscription'' on
        a PUT request"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 400
      message: The specified Request Body is not syntactically valid.
version: 1
