interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 16 Nov 2021 23:06:41 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-10-08-preview
  response:
    body:
      string: '{"iceServers": [{"routeType": "any", "urls": ["turn.skype.com", "turn:world.relay.skype.com:3478"],
        "username": "sanitized", "credential": "sanitized"}, {"routeType": "nearest",
        "urls": ["stun:13.107.17.41:3478", "turn:13.107.17.41:3478"], "username":
        "BQAANvKq+koB19zQBweakrFDOv2ryC7xNWF/jV9BJoAAAAAMARCsgNlqhd5IsZldo6P6NifIAa6byOgmmQCuGcIq36sfDTfL6Cc=",
        "credential": "pF5SPr5F7X6ZwmMOn8cGEKl50YM="}], "expiresOn": "2021-11-16T23:06:41.3447718+00:00"}'
    headers:
      api-supported-versions:
      - 2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - nsDeFbsDmUi6XnHX4QvoSA.0
      x-processing-time:
      - 159ms
    status:
      code: 200
      message: OK
version: 1
