interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 03 Feb 2022 07:45:11 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - J8UhxqlGcUGDO+4Lo1wvEw.0
      x-processing-time:
      - 55ms
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 03 Feb 2022 07:45:11 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01
  response:
    body:
      string: '{"iceServers": [{"routeType": "any", "urls": ["turn.skype.com", "turn:turn.azure.com:3478"],
        "username": "sanitized", "credential": "sanitized"}, {"routeType": "nearest",
        "urls": ["stun:13.107.17.41:3478", "turn:13.107.17.41:3478"], "username":
        "BQAANkxWcaUB2BpkiVInoRmzrxcA2O+hf9yDRV1Fhi8AAAAMARCsgNlqhd5IsZldo6P6NifIRUcwFyc50m1vfos1oYDwTYPvBOc=",
        "credential": "r79G6AB0Jiv3EDh4+zwLgZvx+Ak="}], "expiresOn": "2022-02-05T07:45:08.7345427+00:00"}'
    headers:
      api-supported-versions:
      - 2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-02-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mdgZcjPqX0uW4hlz3I+1IQ.0
      x-processing-time:
      - 28ms
    status:
      code: 200
      message: OK
version: 1
