interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Fri, 01 Oct 2021 23:03:08 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-06-21-preview
  response:
    body:
      string: '{"expiresOn": "2021-10-01T23:03:09.2274327+00:00", "iceServers": [{"urls":
        ["turn.skype.com", "turn:world.relay.skype.com:3478"], "username": "sanitized",
        "credential": "sanitized"}]}'
    headers:
      api-supported-versions:
      - 2021-02-22-preview1, 2021-06-21-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - c1XdV0vrhEOnOWF2LrDjGQ.0
      x-processing-time:
      - 311ms
    status:
      code: 200
      message: OK
version: 1
