interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 17 Mar 2022 20:37:20 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type: application/json; charset=utf-8
      ms-cv: zXU3eNDtyU6ncl03nMuI2g.0
      x-processing-time: 37ms
    status:
      code: 201
      message: Created
    url: https://smstestapp.communication.azure.com/identities?api-version=2021-10-31-preview
- request:
    body: '{"id": "sanitized", "ttl": 172800}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 17 Mar 2022 20:37:20 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview
  response:
    body:
      string: '{"iceServers": [{"routeType": "any", "urls": ["turn.skype.com", "turn:turn.azure.com:3478"],
        "username": "sanitized", "credential": "sanitized"}, {"routeType": "nearest",
        "urls": ["stun:13.107.17.41:3478", "turn:13.107.17.41:3478"], "username":
        "BQAANiHBrFwB2DvRn37Gf06I8995phipQRmsm58xQLgAAAAMARCsgNlqhd5IsZldo6P6NifIzFsdsvc5f+vRzKUI57YUZpszDng=",
        "credential": "G4b9LqwUwvi6GirKKocUoCORSFg="}], "expiresOn": "2022-03-19T20:37:20.8019035+00:00"}'
    headers:
      api-supported-versions: 2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview,
        2022-03-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: usfigMMuwUGRwUEvG3olUw.0
      x-processing-time: 27ms
    status:
      code: 200
      message: OK
    url: https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview
version: 1
