interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 21:06:48 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type: application/json; charset=utf-8
      ms-cv: TIOyuzVhnU+PQTRUOsnLjg.0
      x-processing-time: 26ms
    status:
      code: 201
      message: Created
    url: https://smstestapp.communication.azure.com/identities?api-version=2021-10-31-preview
- request:
    body: '{"id": "sanitized", "ttl": 172800}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Mon, 21 Mar 2022 21:06:48 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview
  response:
    body:
      string: '{"iceServers": [{"routeType": "any", "urls": ["turn.skype.com", "turn:turn.azure.com:3478"],
        "username": "sanitized", "credential": "sanitized"}, {"routeType": "nearest",
        "urls": ["stun:13.107.17.41:3478", "turn:13.107.17.41:3478"], "username":
        "BQAASOkFJkMB2D75sJVQCH4RqZhUaBRR+fN4DgJE2VwAAAAMARCsgNlqhd5IsZldo6P6NifIAhAAAAAQTi9vq5nGWToNAGl0tvfhdpmD79fV1wfwU0P+hXtABgE=",
        "credential": "dRHxDqtQSV/y5KlfbdAehgiY0AQ="}], "expiresOn": "2022-03-23T21:06:48.4662729+00:00"}'
    headers:
      api-supported-versions: 2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview,
        2022-03-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: rO6SC6FasUCQC+fd2hLWtg.0
      x-processing-time: 23ms
    status:
      code: 200
      message: OK
    url: https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview
version: 1
