interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 16 Nov 2021 18:12:15 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-10-08-preview
  response:
    body:
      string: '{"iceServers": [{"routeType": "any", "urls": ["turn.skype.com", "turn:world.relay.skype.com:3478"],
        "username": "sanitized", "credential": "sanitized"}, {"routeType": "nearest",
        "urls": ["stun:13.107.17.41:3478", "turn:13.107.17.41:3478"], "username":
        "BQAANtDZQ14B19ynJItWCVBEIV7eYH+2EnQv47U1OEYAAAAMARCsgNlqhd5IsZldo6P6NifI5yZ9rBvIkDZ3yvTxXOZh6XqEVzk=",
        "credential": "OnQGn2aQWQS/aTw2LFojZfzwEPk="}], "expiresOn": "2021-11-16T18:12:15.2361077+00:00"}'
    headers:
      api-supported-versions: 2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview
      content-type: application/json; charset=utf-8
      ms-cv: byMReZIO1US/hX11MkdNwg.0
      x-processing-time: 20ms
    status:
      code: 200
      message: OK
    url: https://smstestapp.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-10-08-preview
version: 1
