interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 03 Feb 2022 18:48:53 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-03-31-preview1, 2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type: application/json; charset=utf-8
      ms-cv: zse4gKG4m0KfW3DRgdvKAw.0
      x-processing-time: 29ms
    status:
      code: 201
      message: Created
    url: https://smstestapp.communication.azure.com/identities?api-version=2021-10-31-preview
- request:
    body: '{"id": "sanitized", "routeType": "any"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 03 Feb 2022 18:48:53 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01
  response:
    body:
      string: '{"iceServers": [{"routeType": "any", "urls": ["turn.skype.com", "turn:turn.azure.com:3478"],
        "username": "sanitized", "credential": "sanitized"}], "expiresOn": "2022-02-05T18:48:53.9672294+00:00"}'
    headers:
      api-supported-versions: 2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview,
        2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: xr5DYvhM9k2b3TeRc/nu6Q.0
      x-processing-time: 32ms
    status:
      code: 200
      message: OK
    url: https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01
version: 1
