interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 23 Mar 2022 18:20:55 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-10-31-preview, 2021-11-01, 2022-06-01
      content-type: application/json; charset=utf-8
      ms-cv: 7dp+TD6o9UmpvvCFEk9CzQ.0
      x-processing-time: 24ms
    status:
      code: 201
      message: Created
    url: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
- request:
    body: '{"id": "sanitized", "routeType": "any", "ttl": 172800}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 23 Mar 2022 18:20:55 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview
  response:
    body:
      string: '{"iceServers": [{"routeType": "any", "urls": ["turn.skype.com", "turn:turn.azure.com:3478"],
        "username": "sanitized", "credential": "sanitized"}], "expiresOn": "2022-03-25T18:20:55.8698682+00:00"}'
    headers:
      api-supported-versions: 2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview,
        2022-03-01-preview
      content-type: application/json; charset=utf-8
      ms-cv: GWGJa3VoFkCmT6tfB/5g8Q.0
      x-processing-time: 22ms
    status:
      code: 200
      message: OK
    url: https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview
version: 1
