interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 23 Mar 2022 18:20:54 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-06-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dbyUn5R4r0Wyle7c1NOhig.0
      x-processing-time:
      - 44ms
    status:
      code: 201
      message: Created
- request:
    body: '{"id": "sanitized", "ttl": 172800}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Wed, 23 Mar 2022 18:20:54 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview
  response:
    body:
      string: '{"iceServers": [{"routeType": "any", "urls": ["turn.skype.com", "turn:turn.azure.com:3478"],
        "username": "sanitized", "credential": "sanitized"}, {"routeType": "nearest",
        "urls": ["stun:13.107.17.41:3478", "turn:13.107.17.41:3478"], "username":
        "BQAANhDktpIB2EB11ZxFTZIG5szkLXHDpmiFHK7M3PsAAAAMARCsgNlqhd5IsZldo6P6NifIZJi9WflTq7gHG7d2R6llKpIC3A8=",
        "credential": "mYPGKaMAz8sf3v95VI6Jl7kLjA4="}], "expiresOn": "2022-03-25T18:20:54.6291636+00:00"}'
    headers:
      api-supported-versions:
      - 2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 5rcsfrTwHUqUqmfbcem48Q.0
      x-processing-time:
      - 39ms
    status:
      code: 200
      message: OK
version: 1
