interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 16 Nov 2021 04:40:47 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2021-10-31-preview
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions: 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07,
        2021-03-31-preview1, 2021-10-31-preview, 2021-11-01
      content-type: application/json; charset=utf-8
      ms-cv: 3+1oH5z9t0OADoly/cuolA.0
      x-processing-time: 26ms
    status:
      code: 201
      message: Created
    url: https://smstestapp.communication.azure.com/identities?api-version=2021-10-31-preview
- request:
    body: '{"id": "sanitized"}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Tue, 16 Nov 2021 04:40:47 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-10-08-preview
  response:
    body:
      string: '{"iceServers": [{"routeType": "any", "urls": ["turn.skype.com", "turn:world.relay.skype.com:3478"],
        "username": "sanitized", "credential": "sanitized"}, {"routeType": "nearest",
        "urls": ["stun:13.107.17.41:3478", "turn:13.107.17.41:3478"], "username":
        "BQAANnSXU4EB19w2aCWTWAJL01t6XoklNPG7HphtE/8AAAAMARCsgNlqhd5IsZldo6P6NifIEHLHZlovGBYG/Um0CEiYowfIPEM=",
        "credential": "zQTkxP2TkfXcd37rPKsaK8x47mE="}], "expiresOn": "2021-11-16T04:40:47.3233983+00:00"}'
    headers:
      api-supported-versions: 2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview
      content-type: application/json; charset=utf-8
      ms-cv: adJLtbC3R02Dl6M5sFljLw.0
      x-processing-time: 22ms
    status:
      code: 200
      message: OK
    url: https://smstestapp.communication.azure.com/networktraversal/:issueRelayConfiguration?api-version=2021-10-08-preview
version: 1
