interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-date:
      - Thu, 03 Feb 2022 18:48:54 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01
  response:
    body:
      string: '{"iceServers": [{"routeType": "any", "urls": ["turn.skype.com", "turn:turn.azure.com:3478"],
        "username": "sanitized", "credential": "sanitized"}, {"routeType": "nearest",
        "urls": ["stun:13.107.17.41:3478", "turn:13.107.17.41:3478"], "username":
        "BQAANgYxlmcB2BrBmOkk7dodlksTeVNNlLPll3a/8vUAAAAMARCsgNlqhd5IsZldo6P6NifI71pHAPaxnhz3quixSC6b2yP0yFU=",
        "credential": "egUQ8I98NizJWDVciXdIZr4KQT4="}], "expiresOn": "2022-02-05T18:48:54.2424885+00:00"}'
    headers:
      api-supported-versions: 2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview,
        2022-02-01
      content-type: application/json; charset=utf-8
      ms-cv: YwUfrzcV/0ihAEQJufzHUQ.0
      x-processing-time: 25ms
    status:
      code: 200
      message: OK
    url: https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-02-01
version: 1
