interactions:
- request:
    body: '{"kty": "RSA-HSM", "attributes": {"enabled": true, "exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault257c152b.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/1cb8b39431834d2480b89ea3e07aca4e","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"v2ibWGXVP3N82OFif-aGTppv1XP7x2z61pYaMw0nqSmA7GvQhv92DpSEE4MetAV5UMIcYunwCBseIZD92XROuXLqDhKGheZVdNgS7chz1mO86wPqQ91MDfbdo0n8jJ212FMoyBqDkDE5HBpD_JneF7g8CegU5GTw2mZdcUDBfWO7qq0xsGaAmV1EsLpBDGjUTxYK7JCwqFucdFdDwBoJ9rZbcoszUaLhXplh-h30ClRXE2T0BpyPuz4z-nMF-TNGLnIDlzaa9yjx7LAmPDaUvnkEzAxrWchWbfnEYJ8IZGaKJJoIFdeY-yVmiZMKCXy_AZFbxn22IcSt06qI0PowYw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":2527401600,"created":1559082093,"updated":1559082093,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault257c152b.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/78802af50b6f4ca3affb6b95ea0bef2b","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"vz2o-L82rcA7V9wbNiLxsRXAPDZ-qYKhHQdQAFeZOu9Bqrc2ClFj1epPPCaUK8WMWLO8oAulv8okeif_aePb2AK-tWfkB8siMytAtgqnGajR9Ixe56CyWkLSagFnoQ4nePhAh0VopIWOg0TDzWOY6FOWicQunOpr_4GNU1HoZQxtgRmwh0beH9YsxjKXauDauUegMS3OUr0flOxBZbI5BqzGeYUiBJk_6GrxQkwwOll5iJ_Hw00hg4QCYYwunuINg0FWuuMsh2pgjj_Ic8rIUNeiKQH6I3_tHkHiAlYCWNiu4A_ZEirAGYWFbGbsy_dQdoCOtM5tAU5Vsoz5C24ROQ","e":"AQAB"},"attributes":{"enabled":true,"created":1559082093,"updated":1559082093,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault257c152b.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/46429af3e8404216b13c72809c544625","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"JTWTnHztxcUUQlSWu98tY5yOR5544QB9ng9NZ3viG60","y":"HeUX-0ulYujwGaNb3mf2Jh1dOilGroMnoKtB27hE2QY"},"attributes":{"enabled":true,"created":1559082093,"updated":1559082093,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault257c152b.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/46429af3e8404216b13c72809c544625","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"JTWTnHztxcUUQlSWu98tY5yOR5544QB9ng9NZ3viG60","y":"HeUX-0ulYujwGaNb3mf2Jh1dOilGroMnoKtB27hE2QY"},"attributes":{"enabled":true,"created":1559082093,"updated":1559082093,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault257c152b.vault.azure.net/keys/key-name/46429af3e8404216b13c72809c544625?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/46429af3e8404216b13c72809c544625","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"JTWTnHztxcUUQlSWu98tY5yOR5544QB9ng9NZ3viG60","y":"HeUX-0ulYujwGaNb3mf2Jh1dOilGroMnoKtB27hE2QY"},"attributes":{"enabled":true,"created":1559082093,"updated":1559082093,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": {"kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify",
      "wrapKey", "unwrapKey"], "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "e": "AQAB", "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5[...]
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault257c152b.vault.azure.net/keys/key-name/46429af3e8404216b13c72809c544625?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/46429af3e8404216b13c72809c544625","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"JTWTnHztxcUUQlSWu98tY5yOR5544QB9ng9NZ3viG60","y":"HeUX-0ulYujwGaNb3mf2Jh1dOilGroMnoKtB27hE2QY"},"attributes":{"enabled":true,"exp":2524723200,"created":1559082093,"updated":1559082093,"recoveryLevel":"Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault257c152b.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/6b210a4c596f4b7da235ebe5c48e99ab","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU","e":"AQAB"},"attributes":{"enabled":true,"created":1559082093,"updated":1559082093,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
