interactions:
- request:
    body: !!python/unicode '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultab6c128e.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: !!python/unicode '{"value":"value0","id":"https://vaultab6c128e.vault.azure.net/secrets/secret0/eb5f42b5bbf4469e80d7ccc33411a421","attributes":{"enabled":true,"created":1560219299,"updated":1560219299,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultab6c128e.vault.azure.net/secrets/secret3?api-version=7.0
  response:
    body:
      string: !!python/unicode '{"recoveryId":"https://vaultab6c128e.vault.azure.net/deletedsecrets/secret3","deletedDate":1560219301,"scheduledPurgeDate":1567995301,"id":"https://vaultab6c128e.vault.azure.net/secrets/secret3/0bbabc579eea42a486e53c971e11b188","attributes":{"enabled":true,"created":1560219300,"updated":1560219300,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultab6c128e.vault.azure.net/deletedsecrets/secret3?api-version=7.0
  response:
    body:
      string: !!python/unicode '{"error":{"code":"SecretNotFound","message":"Deleted
        Secret not found: secret3"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultab6c128e.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body:
      string: !!python/unicode '{"value":[{"recoveryId":"https://vaultab6c128e.vault.azure.net/deletedsecrets/secret0","deletedDate":1560219301,"scheduledPurgeDate":1567995301,"id":"https://vaultab6c128e.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1560219299,"updated":1560219299,"recoveryLevel":"Recoverable+Purgeabl[...]
