interactions:
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultf75a0e1e.vault.azure.net/keys/keyrecf75a0e1e/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultf75a0e1e.vault.azure.net/keys/keyrecf75a0e1e/3673b7b46f1142d2b83555ecee0ca187","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"medn2tVwt--iq0WzXfCtq95pmDiJ_1NKYzZb6PAUWiXz5LhiFsWkQxgQiaEbgSS5PJEiQcTkojqL23ztwS9P-bVZJPJIxt8QptaoNYdGjWZEpkrpbmRfF1j7XnUCLvPxKamqL7Z4j2xA-biItw37kZ8wL3CAq6h_YFg7Lmv__NK7v2GABf_gwK3DMC6N3IAKkevnWryEGd701ZPVtizPiu9fTPlCmDSlASuFdqVTw8d7gJjpTmS9KrIJgBoESEhV_V2tAd4s3u7givR2ZxqujX0vMOO7sTMoY2sg6gyT80ZpKjx4rjx48C8Ie-DsVOAS2mgXBF8yASj4d5Q45txFGw","e":"AQAB"},"attributes":{"enabled":true,"created":1559066086,"updated":1559066086,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultf75a0e1e.vault.azure.net/keys/keyprgf75a0e1e/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultf75a0e1e.vault.azure.net/keys/keyprgf75a0e1e/157d91a8552f4cc1b693e296dd891f3e","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"4Vwn_wVGrsQVOCJiNvqJ1nhsga-YG1yMDed_JHjz-kFjRgK1cX47LvdZ_Ry7dbvpHXoBM5xpnC6SvwxgoWJ7KWybr6udD-Ar4w4nUZ0_oyxuCBQy5G0rdiXftxoKKVjNhqNIPUouAbxjuhJ0wbpYjpYiLSHS7lptTYQaKFmknLHZVUXhJ-nUu-QbD9nHZudaQRXNDuyKchc_-RkHiU5FbBx3nhOJ6Yv6hsaMFxgWSqALUmRb9jibNm0a1Js-Gy9BBnJ6Mt57aw6vW5GyZU7PRiNiBq9WqspEU2T5CNHYcnOAoCopj8E6IT9kkfV6OmUCIJvciL_-vXEObWqyb8jFmQ","e":"AQAB"},"attributes":{"enabled":true,"created":1559066088,"updated":1559066088,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultf75a0e1e.vault.azure.net/keys/keyrecf75a0e1e?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultf75a0e1e.vault.azure.net/deletedkeys/keyrecf75a0e1e","deletedDate":1559066090,"scheduledPurgeDate":1566842090,"key":{"kid":"https://vaultf75a0e1e.vault.azure.net/keys/keyrecf75a0e1e/458d62eb96594192ab3eb12b885d3656","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"x3INewCtn4z5nagZjR2W94Rj8eSS8-e40qbi81NNxJoo0Mjb6Oorg6BLxa-qUXQsbdAZEaesDGGLgX37jpqwf5iJx92xrc0WgpnppCDIY3MrumY4-1H4fANdJkt6vcp7J24J7FoE5HRlJ_1-XDjSqGCinJkaKRuMjaWCzd9Vc0Lty3WBPO2urdBergvGiHJHZo27-uFG_v90bE12p1lf4TdPsMrLxpMw9OVQzc7YreBpoKXV2fsofj7yNNu2s5g33v2SxzlKNddNbKwYtfBHuxHfoi55q0PEvneLueU3A4nkwkSIrZ13b4Mft2M6EL9F9qgFaXLXjI9TqsZU7M7-GQ","e":"AQAB"},"attributes":{"enabled":true,"created":1559066088,"updated":1559066088,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultf75a0e1e.vault.azure.net/keys/keyprgf75a0e1e?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultf75a0e1e.vault.azure.net/deletedkeys/keyprgf75a0e1e","deletedDate":1559066091,"scheduledPurgeDate":1566842091,"key":{"kid":"https://vaultf75a0e1e.vault.azure.net/keys/keyprgf75a0e1e/37a10c85db2b40d5bde2a3cc618a5414","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"k_tUaRxzQkiN-JKmopNg8FQX9Kk-BOvUdVwTTPnro9CqMS_4ZKYs4jS62unz79tmo8PW4kjArhGn0b-83ZaeEt9VTu8d_WrY0XNCfvv-sj-58tBleZmLOFuQ7ydev6bWsQvty6h_ICNEp9WDx2Jj_00yutmVmLcAsx3YZ2d24aQbKouT1PVOWmjDvF01PkRm7VgG3iI95btTzrd_3qrAK4KeoMtDyDrM15elsqsxXRXcF9ktyy3qEgBszv-6i6-zZv8k4KSNLfSKtHt7tAl7UDZz-6Jhb2aWATYPaugkY8at3hAD2DVUH8Zfdrb9O0zPgL8EMYN_Gcda5qiaAL25dw","e":"AQAB"},"attributes":{"enabled":true,"created":1559066090,"updated":1559066090,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultf75a0e1e.vault.azure.net/deletedkeys/keyrecf75a0e1e?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: keyrecf75a0e1e"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultf75a0e1e.vault.azure.net/deletedkeys/keyprgf75a0e1e?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultf75a0e1e.vault.azure.net/deletedkeys/keyprgf75a0e1e","deletedDate":1559066091,"scheduledPurgeDate":1566842091,"key":{"kid":"https://vaultf75a0e1e.vault.azure.net/keys/keyprgf75a0e1e/37a10c85db2b40d5bde2a3cc618a5414","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"k_tUaRxzQkiN-JKmopNg8FQX9Kk-BOvUdVwTTPnro9CqMS_4ZKYs4jS62unz79tmo8PW4kjArhGn0b-83ZaeEt9VTu8d_WrY0XNCfvv-sj-58tBleZmLOFuQ7ydev6bWsQvty6h_ICNEp9WDx2Jj_00yutmVmLcAsx3YZ2d24aQbKouT1PVOWmjDvF01PkRm7VgG3iI95btTzrd_3qrAK4KeoMtDyDrM15elsqsxXRXcF9ktyy3qEgBszv-6i6-zZv8k4KSNLfSKtHt7tAl7UDZz-6Jhb2aWATYPaugkY8at3hAD2DVUH8Zfdrb9O0zPgL8EMYN_Gcda5qiaAL25dw","e":"AQAB"},"attributes":{"enabled":true,"created":1559066090,"updated":1559066090,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultf75a0e1e.vault.azure.net/deletedkeys/keyrecf75a0e1e/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultf75a0e1e.vault.azure.net/keys/keyrecf75a0e1e/458d62eb96594192ab3eb12b885d3656","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"x3INewCtn4z5nagZjR2W94Rj8eSS8-e40qbi81NNxJoo0Mjb6Oorg6BLxa-qUXQsbdAZEaesDGGLgX37jpqwf5iJx92xrc0WgpnppCDIY3MrumY4-1H4fANdJkt6vcp7J24J7FoE5HRlJ_1-XDjSqGCinJkaKRuMjaWCzd9Vc0Lty3WBPO2urdBergvGiHJHZo27-uFG_v90bE12p1lf4TdPsMrLxpMw9OVQzc7YreBpoKXV2fsofj7yNNu2s5g33v2SxzlKNddNbKwYtfBHuxHfoi55q0PEvneLueU3A4nkwkSIrZ13b4Mft2M6EL9F9qgFaXLXjI9TqsZU7M7-GQ","e":"AQAB"},"attributes":{"enabled":true,"created":1559066088,"updated":1559066088,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultf75a0e1e.vault.azure.net/keys/keyrecf75a0e1e/?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Key not found: keyrecf75a0e1e"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultf75a0e1e.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
