interactions:
- request:
    body: '{"value": "secVal0b42e0c07", "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultb42e0c07.vault.azure.net/secrets/sec0?api-version=7.0
  response:
    body:
      string: '{"value":"secVal0b42e0c07","id":"https://vaultb42e0c07.vault.azure.net/secrets/sec0/1565be75a0904386aa2e80506842f678","attributes":{"enabled":true,"created":1556234603,"updated":1556234603,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultb42e0c07.vault.azure.net/secrets?api-version=7.0&maxresults=7
  response:
    body:
      string: '{"value":[{"id":"https://vaultb42e0c07.vault.azure.net/secrets/sec0","attributes":{"enabled":true,"created":1556234603,"updated":1556234603,"recoveryLevel":"Purgeable"}},{"id":"https://vaultb42e0c07.vault.azure.net/secrets/sec1","attributes":{"enabled":true,"created":1556234603,"updated":1556234603,"recoveryLevel":"Purgeable"}},{"id":"https://vaultb42e0c07.vault.azure.net/secrets/sec2","attributes":{"enabled":true,"created":1556234603,"updated":1556234603,"recoveryLevel":"Purgeable"}},{"id":"https://vaultb42e0c07.vault.azure.net/secrets/sec3","attributes":{"enabled":true,"created":1556234604,"updated":1556234604,"recoveryLevel":"Purgeable"}},{"id":"https://vaultb42e0c07.vault.azure.net/secrets/sec4","attributes":{"enabled":true,"created":1556234604,"updated":1556234604,"recoveryLevel":"Purgeable"}},{"id":"https://vaultb42e0c07.vault.azure.net/secrets/sec5","attributes":{"enabled":true,"created":1556234604,"updated":1556234604,"recoveryLevel":"Purgeable"}},{"id":"https://vaultb42e0c07.vault.azure.net/secrets/sec6","attributes":{"enabled":true,"created":1556234604,"updated":1556234604,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
