interactions:
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultf5740e0c.vault.azure.net/keys/keyrec0f5740e0c/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultf5740e0c.vault.azure.net/keys/keyrec0f5740e0c/838715626d2d41c996a3fe711675b403","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1Dkuw42x403fzy985ETll4cRjwTcqTYm7FXWOvbgqWtgT9j7oD-y5KGuBHWNl9WkXuH23qrfAQSJV9GaJDaKuK10_9kwsFPYp1HURhdur6pcnlx4IOU7Q6YCGe-ujpGvGKTwvbI-TD7BBkFmGFBBlFERI8vlg9M7LGJOyoYF3z31_0FPO8TtD8bMGLTndk5L7YAtjvd9Fs3YrtWI3eDuYTF5DDGjy3yMawvuPRzyq3KjTWWycNDJnVl5ySYjisJOUfDGItM4ptuHoIIlfgUCbv0GPABKlJGEqxXMHKTJleOVH2yZMsYBcj50sm5IwJoryClyA7lim7EkM6nBhp3r4w","e":"AQAB"},"attributes":{"enabled":true,"created":1559068714,"updated":1559068714,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultf5740e0c.vault.azure.net/keys/keyprg0f5740e0c/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultf5740e0c.vault.azure.net/keys/keyprg0f5740e0c/b26a2c83816545eb9906ffade4beff8c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"r1fMzn85wGy8UcW9RuGN0Fpsh_ZtqE0i38F9QgqV_feONcbf5DMfBZ2L0sCuMmR2qI5hzuswgj32Og7SWwHXHJOcZeNZhPwR0KKZLl7TBPG2Jzz1EL3ePt58_XTgQk64Pla6ZUF8ga3oNeQrOhyO_orbUllTJKGlXrX3W28vwrv9v0zMBgHFLHBple0v6zLMN80P_xKzCUF1QV0eokeUTetj5GsdKyGjjh3rRzDPK_E-Lsf1304-trT4UDwjGYZK8MbpVkuLv7n6ygOWyDJHhZdTuJ-hZQwvvor0QMCQn8atmhYKoRGRFBYIQ1pfcbSY0xtSiKbGnQSVIoeLVQ_Vcw","e":"AQAB"},"attributes":{"enabled":true,"created":1559068716,"updated":1559068716,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultf5740e0c.vault.azure.net/keys/keyrec0f5740e0c?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultf5740e0c.vault.azure.net/deletedkeys/keyrec0f5740e0c","deletedDate":1559068718,"scheduledPurgeDate":1566844718,"key":{"kid":"https://vaultf5740e0c.vault.azure.net/keys/keyrec0f5740e0c/838715626d2d41c996a3fe711675b403","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1Dkuw42x403fzy985ETll4cRjwTcqTYm7FXWOvbgqWtgT9j7oD-y5KGuBHWNl9WkXuH23qrfAQSJV9GaJDaKuK10_9kwsFPYp1HURhdur6pcnlx4IOU7Q6YCGe-ujpGvGKTwvbI-TD7BBkFmGFBBlFERI8vlg9M7LGJOyoYF3z31_0FPO8TtD8bMGLTndk5L7YAtjvd9Fs3YrtWI3eDuYTF5DDGjy3yMawvuPRzyq3KjTWWycNDJnVl5ySYjisJOUfDGItM4ptuHoIIlfgUCbv0GPABKlJGEqxXMHKTJleOVH2yZMsYBcj50sm5IwJoryClyA7lim7EkM6nBhp3r4w","e":"AQAB"},"attributes":{"enabled":true,"created":1559068714,"updated":1559068714,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultf5740e0c.vault.azure.net/keys/keyprg0f5740e0c?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultf5740e0c.vault.azure.net/deletedkeys/keyprg0f5740e0c","deletedDate":1559068720,"scheduledPurgeDate":1566844720,"key":{"kid":"https://vaultf5740e0c.vault.azure.net/keys/keyprg0f5740e0c/b26a2c83816545eb9906ffade4beff8c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"r1fMzn85wGy8UcW9RuGN0Fpsh_ZtqE0i38F9QgqV_feONcbf5DMfBZ2L0sCuMmR2qI5hzuswgj32Og7SWwHXHJOcZeNZhPwR0KKZLl7TBPG2Jzz1EL3ePt58_XTgQk64Pla6ZUF8ga3oNeQrOhyO_orbUllTJKGlXrX3W28vwrv9v0zMBgHFLHBple0v6zLMN80P_xKzCUF1QV0eokeUTetj5GsdKyGjjh3rRzDPK_E-Lsf1304-trT4UDwjGYZK8MbpVkuLv7n6ygOWyDJHhZdTuJ-hZQwvvor0QMCQn8atmhYKoRGRFBYIQ1pfcbSY0xtSiKbGnQSVIoeLVQ_Vcw","e":"AQAB"},"attributes":{"enabled":true,"created":1559068716,"updated":1559068716,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultf5740e0c.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultf5740e0c.vault.azure.net/deletedkeys/keyprg0f5740e0c","deletedDate":1559068720,"scheduledPurgeDate":1566844720,"kid":"https://vaultf5740e0c.vault.azure.net/keys/keyprg0f5740e0c","attributes":{"enabled":true,"created":1559068716,"updated":1559068716,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"https://vaultf5740e0c.vault.azure.net/deletedkeys/keyprg1f5740e0c","deletedDate":1559068720,"scheduledPurgeDate":1566844720,"kid":"https://vaultf5740e0c.vault.azure.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultf5740e0c.vault.azure.net/deletedkeys?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMjghTURBd01EVXlJV3RsZVM5TFJWbFNSVU0xUmpVM05EQkZNRU12UXpsRU5ERXpNek16UkVJeU5Ea3lRVUUxT0RBd1JqQkRORGt6TlVJek1UTWhNREF3TURJNElUazVPVGt0TVRJdE16RlVNak02TlRrNk5Ua3VPVGs1T1RrNU9Wb2giLCJUYXJnZXRMb2NhdGlvbiI6MH0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultf5740e0c.vault.azure.net/deletedkeys/keyrec6f5740e0c","deletedDate":1559068720,"scheduledPurgeDate":1566844720,"kid":"https://vaultf5740e0c.vault.azure.net/keys/keyrec6f5740e0c","attributes":{"enabled":true,"created":1559068716,"updated":1559068716,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultf5740e0c.vault.azure.net/deletedkeys/keyrec0f5740e0c/recover?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultf5740e0c.vault.azure.net/keys/keyrec0f5740e0c/838715626d2d41c996a3fe711675b403","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1Dkuw42x403fzy985ETll4cRjwTcqTYm7FXWOvbgqWtgT9j7oD-y5KGuBHWNl9WkXuH23qrfAQSJV9GaJDaKuK10_9kwsFPYp1HURhdur6pcnlx4IOU7Q6YCGe-ujpGvGKTwvbI-TD7BBkFmGFBBlFERI8vlg9M7LGJOyoYF3z31_0FPO8TtD8bMGLTndk5L7YAtjvd9Fs3YrtWI3eDuYTF5DDGjy3yMawvuPRzyq3KjTWWycNDJnVl5ySYjisJOUfDGItM4ptuHoIIlfgUCbv0GPABKlJGEqxXMHKTJleOVH2yZMsYBcj50sm5IwJoryClyA7lim7EkM6nBhp3r4w","e":"AQAB"},"attributes":{"enabled":true,"created":1559068714,"updated":1559068714,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultf5740e0c.vault.azure.net/deletedkeys/keyprg0f5740e0c?api-version=7.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultf5740e0c.vault.azure.net/keys/keyrec0f5740e0c/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultf5740e0c.vault.azure.net/keys/keyrec0f5740e0c/838715626d2d41c996a3fe711675b403","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"1Dkuw42x403fzy985ETll4cRjwTcqTYm7FXWOvbgqWtgT9j7oD-y5KGuBHWNl9WkXuH23qrfAQSJV9GaJDaKuK10_9kwsFPYp1HURhdur6pcnlx4IOU7Q6YCGe-ujpGvGKTwvbI-TD7BBkFmGFBBlFERI8vlg9M7LGJOyoYF3z31_0FPO8TtD8bMGLTndk5L7YAtjvd9Fs3YrtWI3eDuYTF5DDGjy3yMawvuPRzyq3KjTWWycNDJnVl5ySYjisJOUfDGItM4ptuHoIIlfgUCbv0GPABKlJGEqxXMHKTJleOVH2yZMsYBcj50sm5IwJoryClyA7lim7EkM6nBhp3r4w","e":"AQAB"},"attributes":{"enabled":true,"created":1559068714,"updated":1559068714,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultf5740e0c.vault.azure.net/keys/keyrec6f5740e0c/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultf5740e0c.vault.azure.net/keys/keyrec6f5740e0c/fd267a6bb2d34c078f05b25f808f1044","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"xXCZAJIou_L0rpNlyK-9UKI9YEkMXG-ocOdL1G-xtBlEHupUNKmwuyz4ifrT5_C9DC7ilpoD_u-Oxd589kWYSxOYen0OOXS9WxL5JP2tqpnoLyaQB8bKDbhhOnH0aisNL6OgcLXOIhShl5LXH9_i3c_l0p_mV-eF6oBWgnKBHoOSgs8lxKpD-XDmNcIl8QXXANjzPSemZ8MbbISnR4vHYOvkbsJRG-58zsm0C8DXGcjE-B9x1xhYsKjGUgGjCEsUuSJUFGxdcerERXEP4vfZLIqkY3k08oz3TK_YINEl-5aXbgivgq0DX1lO90VBnWrd53DLrEcWc1ItbIGYAk9rgw","e":"AQAB"},"attributes":{"enabled":true,"created":1559068716,"updated":1559068716,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
