interactions:
- request:
    body: '{"value": "secval646010f0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault646010f0.vault.azure.net/secrets/sec646010f0?api-version=7.0
  response:
    body:
      string: '{"value":"secval646010f0","id":"https://vault646010f0.vault.azure.net/secrets/sec646010f0/9f25ffad8f7343e082d634127f674dd2","attributes":{"enabled":true,"created":1558568728,"updated":1558568728,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault646010f0.vault.azure.net/secrets/sec646010f0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault646010f0.vault.azure.net/deletedsecrets/sec646010f0","deletedDate":1558568729,"scheduledPurgeDate":1566344729,"id":"https://vault646010f0.vault.azure.net/secrets/sec646010f0/0a83d26da41d477ea99472aef081259b","attributes":{"enabled":true,"created":1558568729,"updated":1558568729,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault646010f0.vault.azure.net/deletedsecrets/sec646010f0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        sec646010f0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://vault646010f0.vault.azure.net/deletedsecrets/sec646010f0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault646010f0.vault.azure.net/deletedsecrets/sec646010f0","deletedDate":1558568729,"scheduledPurgeDate":1566344729,"id":"https://vault646010f0.vault.azure.net/secrets/sec646010f0/0a83d26da41d477ea99472aef081259b","attributes":{"enabled":true,"created":1558568729,"updated":1558568729,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
