interactions:
- request:
    body: '{"kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify", "wrapKey",
      "unwrapKey"], "attributes": {"enabled": true, "exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaulteeb14b8.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaulteeb14b8.vault.azure.net/keys/key-name/f347ee646358411dac068459ed330c5c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rVtBT49bFup1Jby42hEcUtijVObENWuV9M1c54rfHbICjwVroij7-Ip9HB_THNoF3hVmGfmjMoKkH2FFQDCM16Qqdis_GTkEYOdoEHPhiP34I97AEi6XWrgvgzMXvBswcSPAn41JJQVwqpfxcI1ldrKE-TW5DLb9odAd223sbWE12XGn-6NsXMyWtDijdRbfV4-za_-siz_WKorj89RnKFttUCypPV8pPZIVEpOigEA-BTSeF1wAUh82s5MTWDr8gRi7nwbj_Tbdj0vmO9urVeTMxZsqIJaB7rMd4MVxI51iEYfY1pN-W-LeNRlf3fL1KLsQegzcKxxGc8ZOtt24OQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1558546115,"updated":1558546115,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaulteeb14b8.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaulteeb14b8.vault.azure.net/keys/key-name/f347ee646358411dac068459ed330c5c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rVtBT49bFup1Jby42hEcUtijVObENWuV9M1c54rfHbICjwVroij7-Ip9HB_THNoF3hVmGfmjMoKkH2FFQDCM16Qqdis_GTkEYOdoEHPhiP34I97AEi6XWrgvgzMXvBswcSPAn41JJQVwqpfxcI1ldrKE-TW5DLb9odAd223sbWE12XGn-6NsXMyWtDijdRbfV4-za_-siz_WKorj89RnKFttUCypPV8pPZIVEpOigEA-BTSeF1wAUh82s5MTWDr8gRi7nwbj_Tbdj0vmO9urVeTMxZsqIJaB7rMd4MVxI51iEYfY1pN-W-LeNRlf3fL1KLsQegzcKxxGc8ZOtt24OQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1558546115,"updated":1558546115,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaulteeb14b8.vault.azure.net/keys/key-name/f347ee646358411dac068459ed330c5c?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaulteeb14b8.vault.azure.net/keys/key-name/f347ee646358411dac068459ed330c5c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rVtBT49bFup1Jby42hEcUtijVObENWuV9M1c54rfHbICjwVroij7-Ip9HB_THNoF3hVmGfmjMoKkH2FFQDCM16Qqdis_GTkEYOdoEHPhiP34I97AEi6XWrgvgzMXvBswcSPAn41JJQVwqpfxcI1ldrKE-TW5DLb9odAd223sbWE12XGn-6NsXMyWtDijdRbfV4-za_-siz_WKorj89RnKFttUCypPV8pPZIVEpOigEA-BTSeF1wAUh82s5MTWDr8gRi7nwbj_Tbdj0vmO9urVeTMxZsqIJaB7rMd4MVxI51iEYfY1pN-W-LeNRlf3fL1KLsQegzcKxxGc8ZOtt24OQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2527401600,"created":1558546115,"updated":1558546115,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vaulteeb14b8.vault.azure.net/keys/key-name/f347ee646358411dac068459ed330c5c?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaulteeb14b8.vault.azure.net/keys/key-name/f347ee646358411dac068459ed330c5c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rVtBT49bFup1Jby42hEcUtijVObENWuV9M1c54rfHbICjwVroij7-Ip9HB_THNoF3hVmGfmjMoKkH2FFQDCM16Qqdis_GTkEYOdoEHPhiP34I97AEi6XWrgvgzMXvBswcSPAn41JJQVwqpfxcI1ldrKE-TW5DLb9odAd223sbWE12XGn-6NsXMyWtDijdRbfV4-za_-siz_WKorj89RnKFttUCypPV8pPZIVEpOigEA-BTSeF1wAUh82s5MTWDr8gRi7nwbj_Tbdj0vmO9urVeTMxZsqIJaB7rMd4MVxI51iEYfY1pN-W-LeNRlf3fL1KLsQegzcKxxGc8ZOtt24OQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1558546115,"updated":1558546115,"recoveryLevel":"Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaulteeb14b8.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaulteeb14b8.vault.azure.net/keys/key-name/f347ee646358411dac068459ed330c5c","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"rVtBT49bFup1Jby42hEcUtijVObENWuV9M1c54rfHbICjwVroij7-Ip9HB_THNoF3hVmGfmjMoKkH2FFQDCM16Qqdis_GTkEYOdoEHPhiP34I97AEi6XWrgvgzMXvBswcSPAn41JJQVwqpfxcI1ldrKE-TW5DLb9odAd223sbWE12XGn-6NsXMyWtDijdRbfV4-za_-siz_WKorj89RnKFttUCypPV8pPZIVEpOigEA-BTSeF1wAUh82s5MTWDr8gRi7nwbj_Tbdj0vmO9urVeTMxZsqIJaB7rMd4MVxI51iEYfY1pN-W-LeNRlf3fL1KLsQegzcKxxGc8ZOtt24OQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1558546115,"updated":1558546115,"recoveryLevel":"Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
