interactions:
- request:
    body: '{"kty": "RSA-HSM", "attributes": {"enabled": true, "exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault257c152b.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/7fd4e0083822418b84a5bd57a778d1e5","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"9p3hXZO3RtzzbsGry8AOlOwi904UScQTaApqQtcxm3CPYI-6rtExDq60dztcm-m1K5_KGO36RbHeIw4lvpCM43i0dUXb5Qon0W_euAWLChX2kYwgGTicyhahnoT3oddi5JdPDPZPEAkCCsscnRh_8AphJEIkewY9CR8jboHQHnNERe7TpgyZAF4gxQdyldU4zJCpXkdoFJP49cEpgqqpHJVQSRokbVeaDsI8fMf5Q840rwRdPP8a9760fmTlBMap-JOuyJ_DO5tRakiCmDUuJLDwFS3pRrKNHByCVSrcoreK1rCoylrC79bcaHtxCEn8DUpuDcYVpK3L9n-vh7R7Aw","e":"AAEAAQ"},"attributes":{"enabled":true,"exp":2527401600,"created":1559154275,"updated":1559154275,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA-HSM", "key_size": 2048, "key_ops": ["encrypt", "decrypt",
      "sign", "verify", "wrapKey", "unwrapKey"], "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault257c152b.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/02b3c04028d441d9aa10050f1bbc96cf","kty":"RSA-HSM","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"3SngcpmozB2FfXan-jZppxMMsg689GDaRsHpzaFKIJrpBRPWG10AseitmHa4zQE7ZRTVNR9NmjBf85W5ZlXTKES3C23TTwDYt3vXKem_dm3ABL8JoOrIuPoJcEd1zZ23ErtnQcAUFFbGDHlw3Nex7fVMJp93xHMZNmLFUPjKF0EtGVJa1JfbpZz5YLgxGP6jp18MeOsSswOJSzNOawoiLtM3DBGcgHgcYhXZbVQ27oNdVvFu3TAuK32CdZUdWPLEbchFTIyOQlh_ThWGYj3qlScHTaOCZuT60CVa3eO5xYZH-6pPSvlOq1UflrEmiYtVOzry37_ZxG_1D3dYAwBbXw","e":"AAEAAQ"},"attributes":{"enabled":true,"created":1559154276,"updated":1559154276,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault257c152b.vault.azure.net/keys/key-name/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/1808d2230f1345e7958d8f78f2217599","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"hTwEayiOq4y1VrWbqu0-fQ1d2qsmUq3L_CukGHMbQjc","y":"5Ay-ffq58XiySZRpnfFdmQEe5_DnFooscd5Brp0Aavw"},"attributes":{"enabled":true,"created":1559154276,"updated":1559154276,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault257c152b.vault.azure.net/keys/key-name/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/1808d2230f1345e7958d8f78f2217599","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"hTwEayiOq4y1VrWbqu0-fQ1d2qsmUq3L_CukGHMbQjc","y":"5Ay-ffq58XiySZRpnfFdmQEe5_DnFooscd5Brp0Aavw"},"attributes":{"enabled":true,"created":1559154276,"updated":1559154276,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault257c152b.vault.azure.net/keys/key-name/1808d2230f1345e7958d8f78f2217599?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/1808d2230f1345e7958d8f78f2217599","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"hTwEayiOq4y1VrWbqu0-fQ1d2qsmUq3L_CukGHMbQjc","y":"5Ay-ffq58XiySZRpnfFdmQEe5_DnFooscd5Brp0Aavw"},"attributes":{"enabled":true,"created":1559154276,"updated":1559154276,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"key": {"kty": "RSA", "key_ops": ["encrypt", "decrypt", "sign", "verify",
      "wrapKey", "unwrapKey"], "n": "AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU",
      "e": "AQAB", "d": "Ynx9JGaBSP4iUsf6ZJ6opantRNdcdmzaQrKbZg6ZQE8Ohi1FYabJWvaoPSE-CiJEsDzShXZHMhUHN4X7Bn8BXaGQhK3p9HXgiwQKmix7oAJTu4ElUIyd8UC3UWHSZr40el4PaQD-HYu_eMzCXus34MnRiNbh_BUWm6T-Eidhk9d3kNIyaSi9YNDQHW6tjWrEhhq63O7JU1j9ZonFChZxpKk20jdkQKQURVAdpOdL-5j4I70ZxFuU6wHZj8DS8oRQfwGOvZKbgYDb5jgf3UNL_7eACqq92XPVX56vm7iKbqeyjCqAIx5y3hrSRIJtZlWCwjYnYQGd4unxDLi8wmJWSQ",
      "dp": "AMmhWb5yZcu6vJr8xJZ-t0_likxJRUMZAtEULaWZt2DgODj4y9JrZDJP6mvckzhQP0WXk2NuWbU2HR5pUeCN2wieG1B76VKoH76vfnaJDqT1NuJVBcP2SLHog3ffwZtMME5zjfygchG3kihqOSpwTQ9ETAqAJTkRC38fEhwAz_Cp",
      "dq": "AKC9TAo9n2RDaggjdLXK8kiLrBVoaWFTpqXkzYXRhtsx4vWPAkxhfSnze05rVMl6HiXv7FnE0f0wYawzUJzoyuXBH0zS6D9BqCZPeF543AmWB27iPf38Q9Z8Rjr6oBgMSnGDV_mm8nDVQkeaDyE4cOZh-5UKvKShTKKQVwunmDNH",
      "qi": "AJ_nrkLpK8BPzVeARkvSHQyKwMWZ-a8CD95qsKfn0dOZAvXY-2xhQYTEwbED-0bpTNEKbIpA-ZkaHygmnzJkNbbFAnb9pkkzU8ZQqDP3JNgMfVIroWx58Oth9nJza2j7i-MkPRCUPEq3Ao0J52z7WJIiLji8TTVYW_NaiM1oxzsH",
      "p": "ANHerI1o3dLB_VLVmZZVss8VZSYN5SaeQ_0qhfOSgOFwj__waCFmy2EG7l6l6f_Z-Y0L7Mn_LNov68lyWSFa2EuQUeVj4UoFHc5Di8ZUGiSsTwFM-XMtNuv8HmGgDYLL5BIJD3eTz71LdgW-Ez38OZH34b7VeG8zfeUDb8Hi30zz",
      "q": "AMPcZrZBqbc82DO8Q5zTT8ZXRGWrW36KktMllaIk1W2RHnRiQiW0jBWmcCgqUcQNHa1LwumjyNqwx28QBS37BTvG7ULGUoio6LrOeoiBGEMj-U19sX6m37plEhj5[...]
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault257c152b.vault.azure.net/keys/key-name/1808d2230f1345e7958d8f78f2217599?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/1808d2230f1345e7958d8f78f2217599","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"hTwEayiOq4y1VrWbqu0-fQ1d2qsmUq3L_CukGHMbQjc","y":"5Ay-ffq58XiySZRpnfFdmQEe5_DnFooscd5Brp0Aavw"},"attributes":{"enabled":true,"exp":2524723200,"created":1559154276,"updated":1559154277,"recoveryLevel":"Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault257c152b.vault.azure.net/keys/key-name?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault257c152b.vault.azure.net/keys/key-name/828c1e91321d4238bf400ccead89ae51","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"AKCRTQAjSsaDshtMFdW-2Ie9yVnC5Xr1Suc06PAHINd10nXkVSB-N4TO62ClCkZV3XKnqU0nHo7o95WaZpym53W_DiO62umRtFKdl4UotL2QUh0y3SZWeWuoK2u_x2aMj17rUFN0f9GZMZ0pqEQNCPRBLVJ_-TEe2nGCWSC0exxGsRqz6R1zFkB-icfzQPe4WjQELOUXQ7J9RxhAPTTHtDivYYG-BeTRHrmF04JT1_6b9T_C8bAC0i0teT-nmlBLarQtBJKATXBx1yegbPOoiTqlQrFQP4MrKWNxtnB9Tcbjcvj-Z9je0ckI_eRc4DvAhqcUh_p15Dqg4GeaoNIO_jU","e":"AQAB"},"attributes":{"enabled":true,"created":1559154277,"updated":1559154277,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
