interactions:
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault5416109f.vault.azure.net/keys/crud-ec-key/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-ec-key/77a2260d1b744670a4e574e6c3a123bf","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"CO8wQ4QSEID1HmczTXJgKMhVDdikQMtIn4DhgFKrxBc","y":"3HnHC6vs3TUK8H9gaPYodZX4u_dd3UjZnIcbpL4Af6s"},"attributes":{"enabled":true,"created":1559085856,"updated":1559085856,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "EC", "crv": "P-256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault5416109f.vault.azure.net/keys/crud-P-256-ec-key/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-P-256-ec-key/217a77a78c8045709867a6996deb426d","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"U0296Oui1qxRQNCwmZdw8oOFcJNCBLFmgYNC3cjMrDk","y":"6pOG9SbW-KnXT6q8Gj097gNBWyuAu6bYIgsWOpkjMT0"},"attributes":{"enabled":true,"created":1559085857,"updated":1559085857,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "tags": {"purpose": "unit test", "test name
      ": "CreateRSAKeyTest"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault5416109f.vault.azure.net/keys/crud-rsa-key/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-rsa-key/991fefb75f5941d18774d2f74f1a0219","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"w0foeqSSnfS8A0FyXAhAQm-WDDL-enx0NSsoVt7xQ4vFJHak1dx69lGn4tX1wlKBgOtzQXdqc8ihuLQBQzcaZk4ZDyaKB1o99JJYbCj-bcCTb10h430ivdiWZenThABS1X_Pba-AVdMmNgHxt7R6WonPeGkVS6AWirQfwhWwizE7fHgaitnhRpgOC_Y28cu6jdl7S-pY8_nU7qRnJsSVFNoKxOATaQKTLhrvK0SQ4ZGt9DZl694snVCikcUK2GKu28Xp-wjhZPQ94QLI7PSVUOMg20ipAUD2kx0XLiGgGHbI3u-oH54Vq0hm6SrAq7s2pdUHOpPIwsC6bSjrgPWXQQ","e":"AQAB"},"attributes":{"enabled":true,"created":1559085857,"updated":1559085857,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault5416109f.vault.azure.net/keys/crud-rsa-key/991fefb75f5941d18774d2f74f1a0219?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-rsa-key/991fefb75f5941d18774d2f74f1a0219","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"w0foeqSSnfS8A0FyXAhAQm-WDDL-enx0NSsoVt7xQ4vFJHak1dx69lGn4tX1wlKBgOtzQXdqc8ihuLQBQzcaZk4ZDyaKB1o99JJYbCj-bcCTb10h430ivdiWZenThABS1X_Pba-AVdMmNgHxt7R6WonPeGkVS6AWirQfwhWwizE7fHgaitnhRpgOC_Y28cu6jdl7S-pY8_nU7qRnJsSVFNoKxOATaQKTLhrvK0SQ4ZGt9DZl694snVCikcUK2GKu28Xp-wjhZPQ94QLI7PSVUOMg20ipAUD2kx0XLiGgGHbI3u-oH54Vq0hm6SrAq7s2pdUHOpPIwsC6bSjrgPWXQQ","e":"AQAB"},"attributes":{"enabled":true,"created":1559085857,"updated":1559085857,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault5416109f.vault.azure.net/keys/crud-rsa-key/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-rsa-key/991fefb75f5941d18774d2f74f1a0219","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"w0foeqSSnfS8A0FyXAhAQm-WDDL-enx0NSsoVt7xQ4vFJHak1dx69lGn4tX1wlKBgOtzQXdqc8ihuLQBQzcaZk4ZDyaKB1o99JJYbCj-bcCTb10h430ivdiWZenThABS1X_Pba-AVdMmNgHxt7R6WonPeGkVS6AWirQfwhWwizE7fHgaitnhRpgOC_Y28cu6jdl7S-pY8_nU7qRnJsSVFNoKxOATaQKTLhrvK0SQ4ZGt9DZl694snVCikcUK2GKu28Xp-wjhZPQ94QLI7PSVUOMg20ipAUD2kx0XLiGgGHbI3u-oH54Vq0hm6SrAq7s2pdUHOpPIwsC6bSjrgPWXQQ","e":"AQAB"},"attributes":{"enabled":true,"created":1559085857,"updated":1559085857,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault5416109f.vault.azure.net/keys/crud-rsa-key?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault5416109f.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1559085858,"scheduledPurgeDate":1566861858,"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-rsa-key/991fefb75f5941d18774d2f74f1a0219","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"w0foeqSSnfS8A0FyXAhAQm-WDDL-enx0NSsoVt7xQ4vFJHak1dx69lGn4tX1wlKBgOtzQXdqc8ihuLQBQzcaZk4ZDyaKB1o99JJYbCj-bcCTb10h430ivdiWZenThABS1X_Pba-AVdMmNgHxt7R6WonPeGkVS6AWirQfwhWwizE7fHgaitnhRpgOC_Y28cu6jdl7S-pY8_nU7qRnJsSVFNoKxOATaQKTLhrvK0SQ4ZGt9DZl694snVCikcUK2GKu28Xp-wjhZPQ94QLI7PSVUOMg20ipAUD2kx0XLiGgGHbI3u-oH54Vq0hm6SrAq7s2pdUHOpPIwsC6bSjrgPWXQQ","e":"AQAB"},"attributes":{"enabled":true,"created":1559085857,"updated":1559085857,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault5416109f.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault5416109f.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1559085858,"scheduledPurgeDate":1566861858,"key":{"kid":"https://vault5416109f.vault.azure.net/keys/crud-rsa-key/991fefb75f5941d18774d2f74f1a0219","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"w0foeqSSnfS8A0FyXAhAQm-WDDL-enx0NSsoVt7xQ4vFJHak1dx69lGn4tX1wlKBgOtzQXdqc8ihuLQBQzcaZk4ZDyaKB1o99JJYbCj-bcCTb10h430ivdiWZenThABS1X_Pba-AVdMmNgHxt7R6WonPeGkVS6AWirQfwhWwizE7fHgaitnhRpgOC_Y28cu6jdl7S-pY8_nU7qRnJsSVFNoKxOATaQKTLhrvK0SQ4ZGt9DZl694snVCikcUK2GKu28Xp-wjhZPQ94QLI7PSVUOMg20ipAUD2kx0XLiGgGHbI3u-oH54Vq0hm6SrAq7s2pdUHOpPIwsC6bSjrgPWXQQ","e":"AQAB"},"attributes":{"enabled":true,"created":1559085857,"updated":1559085857,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
