interactions:
- request:
    body: '{"value": "secret-value", "attributes": {"enabled": true, "exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultc7d31821.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vaultc7d31821.vault.azure.net/secrets/secret-name/eb44a2fd31d74844abadd725ac827d97","attributes":{"enabled":true,"exp":2527401600,"created":1556567876,"updated":1556567876,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://vaultc7d31821.vault.azure.net/secrets/secret-name/eb44a2fd31d74844abadd725ac827d97?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vaultc7d31821.vault.azure.net/secrets/secret-name/eb44a2fd31d74844abadd725ac827d97","attributes":{"enabled":true,"exp":2527401600,"created":1556567876,"updated":1556567876,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://vaultc7d31821.vault.azure.net/secrets/secret-name/?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vaultc7d31821.vault.azure.net/secrets/secret-name/eb44a2fd31d74844abadd725ac827d97","attributes":{"enabled":true,"exp":2527401600,"created":1556567876,"updated":1556567876,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"contentType": "text/plain", "attributes": {}, "tags": {"foo": "updated
      tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vaultc7d31821.vault.azure.net/secrets/secret-name/eb44a2fd31d74844abadd725ac827d97?api-version=7.0
  response:
    body:
      string: '{"contentType":"text/plain","id":"https://vaultc7d31821.vault.azure.net/secrets/secret-name/eb44a2fd31d74844abadd725ac827d97","attributes":{"enabled":true,"exp":2527401600,"created":1556567876,"updated":1556567877,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultc7d31821.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultc7d31821.vault.azure.net/deletedsecrets/secret-name","deletedDate":1556567877,"scheduledPurgeDate":1564343877,"contentType":"text/plain","id":"https://vaultc7d31821.vault.azure.net/secrets/secret-name/eb44a2fd31d74844abadd725ac827d97","attributes":{"enabled":true,"exp":2527401600,"created":1556567876,"updated":1556567877,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
