interactions:
- request:
    body: '{"attributes": {"exp": 2527401600, "enabled": true}, "value": "secret-value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault441d1a22.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vault441d1a22.vault.azure.net/secrets/secret-name/23e44eea17ae453f99118a77a23c65b5","attributes":{"enabled":true,"exp":2527401600,"created":1560219170,"updated":1560219170,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault441d1a22.vault.azure.net/secrets/secret-name/?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vault441d1a22.vault.azure.net/secrets/secret-name/23e44eea17ae453f99118a77a23c65b5","attributes":{"enabled":true,"exp":2527401600,"created":1560219170,"updated":1560219170,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault441d1a22.vault.azure.net/secrets/secret-name/23e44eea17ae453f99118a77a23c65b5?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vault441d1a22.vault.azure.net/secrets/secret-name/23e44eea17ae453f99118a77a23c65b5","attributes":{"enabled":true,"exp":2527401600,"created":1560219170,"updated":1560219170,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"contentType": "text/plain", "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault441d1a22.vault.azure.net/secrets/secret-name/?api-version=7.0
  response:
    body:
      string: '{"contentType":"text/plain","id":"https://vault441d1a22.vault.azure.net/secrets/secret-name/23e44eea17ae453f99118a77a23c65b5","attributes":{"enabled":true,"exp":2527401600,"created":1560219170,"updated":1560219170,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault441d1a22.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault441d1a22.vault.azure.net/deletedsecrets/secret-name","deletedDate":1560219171,"scheduledPurgeDate":1567995171,"contentType":"text/plain","id":"https://vault441d1a22.vault.azure.net/secrets/secret-name/23e44eea17ae453f99118a77a23c65b5","attributes":{"enabled":true,"exp":2527401600,"created":1560219170,"updated":1560219170,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
