interactions:
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultb4dd0c0a.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key0/51f955e118b245008578cfc3bfd98f45","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wgkgphcsjmcINm2WJ4RWiyLy9_z5dSTrgiUvOq_uFjhh-uV69gmZMT963Ttg3Yj3Db1FhVk4gOTUh3Bu_Zj3l2R0tA6eiBsjwrXc0qDIIgJ_kgSIHCdQTF8zar6RpA1-0xitd48eYeskb0N7NzxCv_dVW99q81abSHYHZ1pq2rDUPlm61LYoasawAHqyDDsGUz8sXNxOhcxkFVcp-DhByXT773x1p3q0MnDD4Cy1i-Ylc3fTQCK4LGxM7dtNS0ziCDg4aPgJzNp12gw2BRwn9Fdrh0EUuOFYNTe7yNJ1WkZvyngfTKtoJ11lk0TLJeVBG16jMFy1woanNIMwAeuD2w","e":"AQAB"},"attributes":{"enabled":true,"created":1559249180,"updated":1559249180,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultb4dd0c0a.vault.azure.net/keys?maxresults=7&api-version=7.0
  response:
    body:
      string: '{"value":[{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1559249180,"updated":1559249180,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1559249180,"updated":1559249180,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1559249180,"updated":1559249180,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1559249180,"updated":1559249180,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key4","attributes":{"enabled":true,"created":1559249181,"updated":1559249181,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key5","attributes":{"enabled":true,"created":1559249181,"updated":1559249181,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb4dd0c0a.vault.azure.net/keys/key6","attributes":{"enabled":true,"created":1559249181,"updated":1559249181,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
