interactions:
- request:
    body: '{"kty": "RSA"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault32f70fb3.vault.azure.net/keys/sec32f70fb3/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault32f70fb3.vault.azure.net/keys/sec32f70fb3/befcb154f5d84f37bed2c5b0e521f495","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"i0_D-XViO2R2GuCfVU_3tnPfyncBb4ErnymvG2WZAN1Ut_D-kZ1o1a_akHnhHqJdAiChDkUMtfBJ-CKHT0Mh2WIKrHt9lVjzYW8SiQaqVVoRQepkvIWPidLntxaqXqA9Nf9lpX45lns-H9nXUsZln4FZVbxVbxwAE63npCeohDqtfFtyPOYbItKhqRvuCNWSYtPogxMwgIDr6-Xvuow0SE5eHggKuISZQenAm7ay7krA6dBBG7BFW8zaVxYuB2Qhjmg1ntiCJDycrkl9ElFZIvkf3ciW7Z3cywXqXvaoZmf9AFmtJQPQ3_pa5ZxZAXLXEewTJ0KQU5Ft9VcUETr4MQ","e":"AQAB"},"attributes":{"enabled":true,"created":1560219221,"updated":1560219221,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault32f70fb3.vault.azure.net/keys/sec32f70fb3?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault32f70fb3.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1560219222,"scheduledPurgeDate":1567995222,"key":{"kid":"https://vault32f70fb3.vault.azure.net/keys/sec32f70fb3/1b4b047ca8ad4004850a46e1c36e9c4f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"wz4TlVg7BHsGc8gHoZQRv-7Jjq-ywLmORTWS_m-oDfom9e263KGyq1dXFc7Z_Q_4NIs43yxlw4lXP4talz1q1LF4l-Ivwhs_Gq_Dvm9R7qDCwuD2mxPta4Jxj4ABONZnHzV-zFjrsOD4pdkTMu-q_zdRnDMH8RRcg7tJUJ4tBSsMeVkxWZPfKb3zp5XSVBNx573tdP-YisDh9nktjIYwtRnfDa4AvyHcE_oGXDdYpolreS-OusxG-HdWcvXWmSU0ZHr4tYfpxAwdcvaFkO4vwKx5quK4jYXfOTbXf263hZVDjymfvt3C-wJnp-oPUHB8lu5cQmNF4BOmeDFfYYCt2Q","e":"AQAB"},"attributes":{"enabled":true,"created":1560219222,"updated":1560219222,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault32f70fb3.vault.azure.net/deletedkeys/sec32f70fb3?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"KeyNotFound","message":"Deleted Key not found: sec32f70fb3"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault32f70fb3.vault.azure.net/deletedkeys?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vault32f70fb3.vault.azure.net/deletedkeys/sec32f70fb3","deletedDate":1560219222,"scheduledPurgeDate":1567995222,"kid":"https://vault32f70fb3.vault.azure.net/keys/sec32f70fb3","attributes":{"enabled":true,"created":1560219222,"updated":1560219222,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
