interactions:
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultab6c128e.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"value":"value0","id":"https://vaultab6c128e.vault.azure.net/secrets/secret0/31d0d130bbb54c2bbf649a3fd1752e6f","attributes":{"enabled":true,"created":1560537694,"updated":1560537694,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultab6c128e.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultab6c128e.vault.azure.net/deletedsecrets/secret0","deletedDate":1560537695,"scheduledPurgeDate":1568313695,"id":"https://vaultab6c128e.vault.azure.net/secrets/secret0/31d0d130bbb54c2bbf649a3fd1752e6f","attributes":{"enabled":true,"created":1560537694,"updated":1560537694,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultab6c128e.vault.azure.net/deletedsecrets/secret0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        secret0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultab6c128e.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultab6c128e.vault.azure.net/deletedsecrets/secret0","deletedDate":1560537695,"scheduledPurgeDate":1568313695,"id":"https://vaultab6c128e.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1560537694,"updated":1560537694,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId[...]
[...]
