interactions:
- request:
    body: '{"value": "secret-value", "attributes": {"enabled": true, "exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault61fd1a9e.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vault61fd1a9e.vault.azure.net/secrets/secret-name/6ea758e2310447a3ba2afcdfb549f0b2","attributes":{"enabled":true,"exp":2527401600,"created":1556753564,"updated":1556753564,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault61fd1a9e.vault.azure.net/secrets/secret-name/6ea758e2310447a3ba2afcdfb549f0b2?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vault61fd1a9e.vault.azure.net/secrets/secret-name/6ea758e2310447a3ba2afcdfb549f0b2","attributes":{"enabled":true,"exp":2527401600,"created":1556753564,"updated":1556753564,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault61fd1a9e.vault.azure.net/secrets/secret-name/?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vault61fd1a9e.vault.azure.net/secrets/secret-name/6ea758e2310447a3ba2afcdfb549f0b2","attributes":{"enabled":true,"exp":2527401600,"created":1556753564,"updated":1556753564,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"contentType": "text/plain", "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault61fd1a9e.vault.azure.net/secrets/secret-name/6ea758e2310447a3ba2afcdfb549f0b2?api-version=7.0
  response:
    body:
      string: '{"contentType":"text/plain","id":"https://vault61fd1a9e.vault.azure.net/secrets/secret-name/6ea758e2310447a3ba2afcdfb549f0b2","attributes":{"enabled":true,"exp":2527401600,"created":1556753564,"updated":1556753564,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault61fd1a9e.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault61fd1a9e.vault.azure.net/deletedsecrets/secret-name","deletedDate":1556753564,"scheduledPurgeDate":1564529564,"contentType":"text/plain","id":"https://vault61fd1a9e.vault.azure.net/secrets/secret-name/6ea758e2310447a3ba2afcdfb549f0b2","attributes":{"enabled":true,"exp":2527401600,"created":1556753564,"updated":1556753564,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
