{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/personalizer/events/event_id_returned_by_rank/reward?api-version=2022-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": 1.0
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US 2 EUAP"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
