{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/personalizer/rank?api-version=2022-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "actions": [
          {
            "id": "Person",
            "features": [
              {
                "videoType": "documentary",
                "videoLength": 35,
                "director": "CarlSagan"
              },
              {
                "mostWatchedByAge": "30-35"
              }
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.Personalizer.Transaction=1"
      },
      "ResponseBody": {
        "ranking": [
          {
            "id": "Person",
            "probability": 1.0
          }
        ],
        "eventId": "1d37807caba44b83bea54d8e1594f305-aOWCo",
        "rewardActionId": "Person"
      }
    }
  ],
  "Variables": {}
}
