{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/personalizer/multislot/rank?api-version=2022-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "actions": [
          {
            "id": "NewsArticle",
            "features": [
              {
                "type": "News"
              }
            ]
          },
          {
            "id": "SportsArticle",
            "features": [
              {
                "type": "Sports"
              }
            ]
          },
          {
            "id": "EntertainmentArticle",
            "features": [
              {
                "type": "Entertainment"
              }
            ]
          }
        ],
        "slots": [
          {
            "id": "Main Article",
            "baselineAction": "NewsArticle",
            "features": [
              {
                "Size": "Large",
                "Position": "Top Middle"
              }
            ],
            "excludedActions": [
              "SportsArticle",
              "EntertainmentArticle"
            ]
          },
          {
            "id": "Side Bar",
            "baselineAction": "SportsArticle",
            "features": [
              {
                "Size": "Small",
                "Position": "Bottom Right"
              }
            ],
            "excludedActions": [
              "EntertainmentArticle"
            ]
          }
        ],
        "eventId": "123456789"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "csp-billing-usage": "CognitiveServices.Personalizer.Transaction=1"
      },
      "ResponseBody": {
        "slots": [
          {
            "id": "Main Article",
            "rewardActionId": "NewsArticle"
          },
          {
            "id": "Side Bar",
            "rewardActionId": "SportsArticle"
          }
        ],
        "eventId": "123456789"
      }
    }
  ],
  "Variables": {}
}
