{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/personalizer/configurations/service?api-version=2022-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "rewardAggregation": "average",
        "modelExportFrequency": "PT3M",
        "defaultReward": 1.0,
        "modelRetrainDays": 2,
        "rewardWaitTime": "PT4H",
        "explorationPercentage": 0.3,
        "logRetentionDays": -1,
        "learningMode": "Online"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US 2 EUAP"
      },
      "ResponseBody": {
        "rewardWaitTime": "PT4H",
        "defaultReward": 1.0,
        "rewardAggregation": "average",
        "explorationPercentage": 0.3,
        "modelExportFrequency": "PT3M",
        "logRetentionDays": -1,
        "lastConfigurationEditDate": "2022-11-03T00:58:59",
        "learningMode": "Online",
        "isAutoOptimizationEnabled": true,
        "autoOptimizationFrequency": "P27D",
        "autoOptimizationStartDate": "2022-09-01T21:02:42",
        "modelRetrainDays": 2,
        "isInferenceExplainabilityEnabled": false
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/personalizer/configurations/service?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US 2 EUAP"
      },
      "ResponseBody": {
        "rewardWaitTime": "PT4H",
        "defaultReward": 1.0,
        "rewardAggregation": "average",
        "explorationPercentage": 0.3,
        "modelExportFrequency": "PT3M",
        "logRetentionDays": -1,
        "lastConfigurationEditDate": "2022-11-03T00:58:59",
        "learningMode": "Online",
        "isAutoOptimizationEnabled": true,
        "autoOptimizationFrequency": "P27D",
        "autoOptimizationStartDate": "2022-09-01T21:02:42",
        "modelRetrainDays": 2,
        "isInferenceExplainabilityEnabled": false
      }
    }
  ],
  "Variables": {}
}
