{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test179896846292?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "WestCentralUS",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "regionDetails": [
            {
              "acrDetails": [
                {
                  "systemCreatedAcrAccount": {
                    "acrAccountSku": "Premium"
                  }
                }
              ],
              "location": "WestCentralUS",
              "storageAccountDetails": [
                {
                  "systemCreatedStorageAccount": {
                    "storageAccountHnsEnabled": false,
                    "storageAccountType": "standard_lrs"
                  }
                }
              ]
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/23ecc28b-84b6-4eff-a6dd-c9ed7bbce157?api-version=2022-10-01-preview\u0026type=async",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/23ecc28b-84b6-4eff-a6dd-c9ed7bbce157?api-version=2022-10-01-preview\u0026type=location",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.107"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/23ecc28b-84b6-4eff-a6dd-c9ed7bbce157?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.044"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/23ecc28b-84b6-4eff-a6dd-c9ed7bbce157?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11986",
        "x-ms-response-type": "standard",
        "x-request-time": "0.071"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "percentComplete": 100.0
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test179896846292?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11985",
        "x-ms-response-type": "standard",
        "x-request-time": "0.020"
      },
      "ResponseBody": {
        "tags": {},
        "location": "westcentralus",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "dc2d9276-1519-4fb7-b60d-e12d0bd5bb1d",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test179896846292",
        "name": "test179896846292",
        "type": "Microsoft.MachineLearningServices/registries",
        "properties": {
          "regionDetails": [
            {
              "location": "westcentralus",
              "storageAccountDetails": [
                {
                  "existingStorageAccount": null,
                  "newStorageAccount": null,
                  "userCreatedStorageAccount": null,
                  "systemCreatedStorageAccount": {
                    "storageAccountName": "test182860f89c30b4ae1b1e",
                    "storageAccountType": "standard_lrs",
                    "storageAccountHnsEnabled": false,
                    "armResourceId": {
                      "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/azureml-rg-test179896846292_6f272104-c95a-4711-9d29-e3ec5e8cd05f/providers/Microsoft.Storage/storageAccounts/test182860f89c30b4ae1b1e"
                    }
                  }
                }
              ],
              "acrDetails": [
                {
                  "existingAcrAccount": null,
                  "newAcrAccount": null,
                  "userCreatedAcrAccount": null,
                  "systemCreatedAcrAccount": {
                    "acrAccountName": "test19bb04d01c8b34cc08f3",
                    "acrAccountSku": "Premium",
                    "armResourceId": {
                      "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/azureml-rg-test179896846292_6f272104-c95a-4711-9d29-e3ec5e8cd05f/providers/Microsoft.ContainerRegistry/registries/test19bb04d01c8b34cc08f3"
                    }
                  }
                }
              ]
            }
          ],
          "intellectualPropertyPublisher": null,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://westcentralus.api.azureml.ms/registrymanagement/v1.0/registries/test179896846292/discovery",
          "managedResourceGroup": {
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/azureml-rg-test179896846292_6f272104-c95a-4711-9d29-e3ec5e8cd05f"
          },
          "managedResourceGroupTags": {},
          "mlFlowRegistryUri": "azureml://westcentralus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test179896846292"
        },
        "systemData": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westcentralus/registryOperationsStatus/9dd879cf-c39c-414a-9e8b-6c6aaec85047?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11983",
        "x-ms-response-type": "standard",
        "x-request-time": "0.044"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "percentComplete": 100.0
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test179896846292?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.MachineLearningServices/registries/test179896846292\u0027 under resource group \u002700000\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "reg_name": "test_179896846292"
  }
}
