{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test185148974116?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "one": "two",
          "three": "five"
        },
        "location": "WestCentralUS",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "regionDetails": [
            {
              "acrDetails": [
                {
                  "systemCreatedAcrAccount": {
                    "acrAccountSku": "Premium"
                  }
                }
              ],
              "location": "WestCentralUS",
              "storageAccountDetails": [
                {
                  "systemCreatedStorageAccount": {
                    "storageAccountHnsEnabled": false,
                    "storageAccountType": "standard_lrs"
                  }
                }
              ]
            }
          ],
          "managedResourceGroupTags": {
            "one": "two",
            "three": "five"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/3354dfd5-5c61-43eb-8560-ec155e143921?api-version=2022-10-01-preview\u0026type=async",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/3354dfd5-5c61-43eb-8560-ec155e143921?api-version=2022-10-01-preview\u0026type=location",
        "x-aml-cluster": "vienna-westcentralus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.435"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/3354dfd5-5c61-43eb-8560-ec155e143921?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.042"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/3354dfd5-5c61-43eb-8560-ec155e143921?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11990",
        "x-ms-response-type": "standard",
        "x-request-time": "0.073"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "percentComplete": 100.0
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test185148974116?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11989",
        "x-ms-response-type": "standard",
        "x-request-time": "0.018"
      },
      "ResponseBody": {
        "tags": {
          "one": "two",
          "three": "five"
        },
        "location": "westcentralus",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "9b769f70-2a33-4309-a0a8-e02abf1b7604",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test185148974116",
        "name": "test185148974116",
        "type": "Microsoft.MachineLearningServices/registries",
        "properties": {
          "regionDetails": [
            {
              "location": "westcentralus",
              "storageAccountDetails": [
                {
                  "userCreatedStorageAccount": null,
                  "systemCreatedStorageAccount": {
                    "storageAccountName": "test1ab8b1d30c8d740a6a22",
                    "storageAccountType": "standard_lrs",
                    "storageAccountHnsEnabled": false,
                    "armResourceId": {
                      "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/azureml-rg-test185148974116_e209cecc-a4c1-4ee0-95fe-7a85c9e7d160/providers/Microsoft.Storage/storageAccounts/test1ab8b1d30c8d740a6a22"
                    }
                  }
                }
              ],
              "acrDetails": [
                {
                  "userCreatedAcrAccount": null,
                  "systemCreatedAcrAccount": {
                    "acrAccountName": "test154bda7ef6bcc48939c1",
                    "acrAccountSku": "Premium",
                    "armResourceId": {
                      "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/azureml-rg-test185148974116_e209cecc-a4c1-4ee0-95fe-7a85c9e7d160/providers/Microsoft.ContainerRegistry/registries/test154bda7ef6bcc48939c1"
                    }
                  }
                }
              ]
            }
          ],
          "intellectualPropertyPublisher": null,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://westcentralus.api.azureml.ms/registrymanagement/v1.0/registries/test185148974116/discovery",
          "managedResourceGroup": {
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/azureml-rg-test185148974116_e209cecc-a4c1-4ee0-95fe-7a85c9e7d160"
          },
          "managedResourceGroupTags": {
            "one": "two",
            "three": "five"
          },
          "mlFlowRegistryUri": "azureml://westcentralus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test185148974116"
        },
        "systemData": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westcentralus/registryOperationsStatus/f633e71a-f05c-4f73-a921-e0720d6043d3?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11986",
        "x-ms-response-type": "standard",
        "x-request-time": "0.039"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westcentralus/registryOperationsStatus/f633e71a-f05c-4f73-a921-e0720d6043d3?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11985",
        "x-ms-response-type": "standard",
        "x-request-time": "0.042"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "percentComplete": 100.0
      }
    }
  ],
  "Variables": {
    "reg_name": "test_185148974116"
  }
}
