{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test524092512276?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "WestCentralUS",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "regionDetails": [
            {
              "acrDetails": [
                {
                  "systemCreatedAcrAccount": {
                    "acrAccountSku": "Premium"
                  }
                }
              ],
              "location": "WestCentralUS",
              "storageAccountDetails": [
                {
                  "systemCreatedStorageAccount": {
                    "storageAccountHnsEnabled": false,
                    "storageAccountType": "standard_lrs"
                  }
                },
                {
                  "systemCreatedStorageAccount": {
                    "storageAccountHnsEnabled": false,
                    "storageAccountType": "standard_lrs"
                  }
                },
                {
                  "systemCreatedStorageAccount": {
                    "storageAccountHnsEnabled": false,
                    "storageAccountType": "standard_lrs"
                  }
                }
              ]
            }
          ],
          "managedResourceGroupTags": {}
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/0ff12b7a-4c1f-4e7a-b367-e43037fa4964?api-version=2022-10-01-preview\u0026type=async",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/0ff12b7a-4c1f-4e7a-b367-e43037fa4964?api-version=2022-10-01-preview\u0026type=location",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.103"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/0ff12b7a-4c1f-4e7a-b367-e43037fa4964?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11980",
        "x-ms-response-type": "standard",
        "x-request-time": "0.041"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/0ff12b7a-4c1f-4e7a-b367-e43037fa4964?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11958",
        "x-ms-response-type": "standard",
        "x-request-time": "0.044"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "percentComplete": 100.0
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test524092512276?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11957",
        "x-ms-response-type": "standard",
        "x-request-time": "0.014"
      },
      "ResponseBody": {
        "tags": {},
        "location": "westcentralus",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "b29daffa-0324-47bc-82e7-653f1922ed38",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test524092512276",
        "name": "test524092512276",
        "type": "Microsoft.MachineLearningServices/registries",
        "properties": {
          "regionDetails": [
            {
              "location": "westcentralus",
              "storageAccountDetails": [
                {
                  "userCreatedStorageAccount": null,
                  "systemCreatedStorageAccount": {
                    "storageAccountName": "test5dab7fd5ff03d4ac89c3",
                    "storageAccountType": "standard_lrs",
                    "storageAccountHnsEnabled": false,
                    "armResourceId": {
                      "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/azureml-rg-test524092512276_1256d615-76e3-4ab6-854b-5880ebb01a69/providers/Microsoft.Storage/storageAccounts/test5dab7fd5ff03d4ac89c3"
                    }
                  }
                },
                {
                  "userCreatedStorageAccount": null,
                  "systemCreatedStorageAccount": {
                    "storageAccountName": "test51051b39dcec34207aae",
                    "storageAccountType": "sta[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westcentralus/registryOperationsStatus/a820412d-a424-48d4-a696-1d6f2930dfe2?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11954",
        "x-ms-response-type": "standard",
        "x-request-time": "0.041"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westcentralus/registryOperationsStatus/a820412d-a424-48d4-a696-1d6f2930dfe2?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11953",
        "x-ms-response-type": "standard",
        "x-request-time": "0.044"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "percentComplete": 100.0
      }
    }
  ],
  "Variables": {
    "reg_name": "test_524092512276"
  }
}
