{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test270596885301?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "WestCentralUS",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "regionDetails": [
            {
              "acrDetails": [
                {
                  "systemCreatedAcrAccount": {
                    "acrAccountSku": "Premium"
                  }
                }
              ],
              "location": "WestCentralUS",
              "storageAccountDetails": [
                {
                  "systemCreatedStorageAccount": {
                    "storageAccountHnsEnabled": false,
                    "storageAccountType": "standard_lrs"
                  }
                }
              ]
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/9261ab89-7d4d-4d6c-a246-b796b2915971?api-version=2022-10-01-preview\u0026type=async",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/9261ab89-7d4d-4d6c-a246-b796b2915971?api-version=2022-10-01-preview\u0026type=location",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.099"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/9261ab89-7d4d-4d6c-a246-b796b2915971?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.183"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/9261ab89-7d4d-4d6c-a246-b796b2915971?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11989",
        "x-ms-response-type": "standard",
        "x-request-time": "0.076"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "percentComplete": 100.0
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test270596885301?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11988",
        "x-ms-response-type": "standard",
        "x-request-time": "0.018"
      },
      "ResponseBody": {
        "tags": {},
        "location": "westcentralus",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "3da52f05-623d-43d9-9e20-8f64dd2a0631",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test270596885301",
        "name": "test270596885301",
        "type": "Microsoft.MachineLearningServices/registries",
        "properties": {
          "regionDetails": [
            {
              "location": "westcentralus",
              "storageAccountDetails": [
                {
                  "existingStorageAccount": null,
                  "newStorageAccount": null,
                  "userCreatedStorageAccount": null,
                  "systemCreatedStorageAccount": {
                    "storageAccountName": "test2fcab520109a24666896",
                    "storageAccountType": "standard_lrs",
                    "storageAccountHnsEnabled": false,
                    "armResourceId": {
                      "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/azureml-rg-test270596885301_a896ec71-e970-458f-9944-f3879099e6d9/providers/Microsoft.Storage/storageAccounts/test2fcab520109a24666896"
                    }
                  }
                }
              ],
              "acrDetails": [
                {
                  "existingAcrAccount": null,
                  "newAcrAccount": null,
                  "userCreatedAcrAccount": null,
                  "systemCreatedAcrAccount": {
                    "acrAccountName": "test2b701c19db2184f84834",
                    "acrAccountSku": "Premium",
                    "armResourceId": {
                      "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/azureml-rg-test270596885301_a896ec71-e970-458f-9944-f3879099e6d9/providers/Microsoft.ContainerRegistry/registries/test2b701c19db2184f84834"
                    }
                  }
                }
              ]
            }
          ],
          "intellectualPropertyPublisher": null,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://westcentralus.api.azureml.ms/registrymanagement/v1.0/registries/test270596885301/discovery",
          "managedResourceGroup": {
            "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/azureml-rg-test270596885301_a896ec71-e970-458f-9944-f3879099e6d9"
          },
          "managedResourceGroupTags": {},
          "mlFlowRegistryUri": "azureml://westcentralus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test270596885301"
        },
        "systemData": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westcentralus/registryOperationsStatus/cbdf575b-6e48-4412-a70b-cf746d59b0eb?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11986",
        "x-ms-response-type": "standard",
        "x-request-time": "0.044"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test270596885301?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11958",
        "x-ms-response-type": "error",
        "x-request-time": "0.022"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Registry test270596885301 not found",
          "messageFormat": "Registry {registryName} not found",
          "messageParameters": {
            "registryName": "test270596885301"
          },
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFound",
            "innerError": {
              "code": "RegistryNotFound",
              "innerError": null
            }
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "0363af9b465bf140d5547f4eab8daee4",
          "request": "802a9bd18b45f326"
        },
        "environment": "westcentralus",
        "location": "westcentralus",
        "time": "2022-10-21T18:16:05.9189309\u002B00:00",
        "componentName": "feedmanagement"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test270596885301?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.MachineLearningServices/registries/test270596885301\u0027 under resource group \u002700000\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test270596885301?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.MachineLearningServices/registries/test270596885301\u0027 under resource group \u002700000\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "reg_name": "test_270596885301"
  }
}
