{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test347651729949?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "WestCentralUS",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "regionDetails": [
            {
              "acrDetails": [
                {
                  "systemCreatedAcrAccount": {
                    "acrAccountSku": "Premium"
                  }
                }
              ],
              "location": "WestCentralUS",
              "storageAccountDetails": [
                {
                  "systemCreatedStorageAccount": {
                    "storageAccountHnsEnabled": false,
                    "storageAccountType": "standard_lrs"
                  }
                },
                {
                  "systemCreatedStorageAccount": {
                    "storageAccountHnsEnabled": false,
                    "storageAccountType": "standard_lrs"
                  }
                },
                {
                  "systemCreatedStorageAccount": {
                    "storageAccountHnsEnabled": false,
                    "storageAccountType": "standard_lrs"
                  }
                }
              ]
            }
          ],
          "managedResourceGroupTags": {}
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/a7cd2709-944b-4d8e-a970-5d8fe79e563e?api-version=2022-10-01-preview\u0026type=async",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/a7cd2709-944b-4d8e-a970-5d8fe79e563e?api-version=2022-10-01-preview\u0026type=location",
        "x-aml-cluster": "vienna-westcentralus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.104"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/a7cd2709-944b-4d8e-a970-5d8fe79e563e?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11984",
        "x-ms-response-type": "standard",
        "x-request-time": "0.043"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/WestCentralUS/registryOperationsStatus/a7cd2709-944b-4d8e-a970-5d8fe79e563e?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11967",
        "x-ms-response-type": "standard",
        "x-request-time": "0.075"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "percentComplete": 100.0
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test347651729949?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11966",
        "x-ms-response-type": "standard",
        "x-request-time": "0.020"
      },
      "ResponseBody": {
        "tags": {},
        "location": "westcentralus",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "674465bd-080c-4b32-94fe-045dd20e4e54",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/registries/test347651729949",
        "name": "test347651729949",
        "type": "Microsoft.MachineLearningServices/registries",
        "properties": {
          "regionDetails": [
            {
              "location": "westcentralus",
              "storageAccountDetails": [
                {
                  "userCreatedStorageAccount": null,
                  "systemCreatedStorageAccount": {
                    "storageAccountName": "test304c009647e5c440abaa",
                    "storageAccountType": "standard_lrs",
                    "storageAccountHnsEnabled": false,
                    "armResourceId": {
                      "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/azureml-rg-test347651729949_6aa4b71f-8a12-43b8-98f9-fe1f27e38abc/providers/Microsoft.Storage/storageAccounts/test304c009647e5c440abaa"
                    }
                  }
                },
                {
                  "userCreatedStorageAccount": null,
                  "systemCreatedStorageAccount": {
                    "storageAccountName": "test30ae9f49efc0f4c6bab0",
                    "storageAccountType": "sta[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westcentralus/registryOperationsStatus/e3db742b-8200-4534-93c4-6f92c6fecf9f?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11963",
        "x-ms-response-type": "standard",
        "x-request-time": "0.044"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westcentralus/registryOperationsStatus/e3db742b-8200-4534-93c4-6f92c6fecf9f?api-version=2022-10-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westcentralus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11962",
        "x-ms-response-type": "standard",
        "x-request-time": "0.047"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "percentComplete": 100.0
      }
    }
  ],
  "Variables": {
    "reg_name": "test_347651729949"
  }
}
