interactions:
- request:
    body: '{"kind": "CustomConversation", "analysisInput": {"conversationItem": {"participantId":
      "1", "id": "1", "language": "en", "modality": "text", "text": "Send an email
      to Carol about the tomorrow''s demo"}}, "parameters": {"projectName": "conv_test",
      "deploymentName": "dep_test", "verbose": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://test-resource.api.cognitive.microsoft.com/language/:analyze-conversations?api-version=2022-03-01-preview
  response:
    body:
      string: '{"kind":"CustomConversationResult","results":{"query":"Send an email
        to Carol about the tomorrow''s demo","prediction":{"topIntent":"Setup","projectKind":"conversation","intents":[{"category":"Setup","confidenceScore":0.6254007},{"category":"Play","confidenceScore":0.20336723},{"category":"Send","confidenceScore":0.13618475},{"category":"Read","confidenceScore":0.01904324},{"category":"Call","confidenceScore":0.00859508},{"category":"Set","confidenceScore":0.0033787973},{"category":"Find","confidenceScore":0.0028723886},{"category":"Open","confidenceScore":0.0010411387},{"category":"None","confidenceScore":0.00011662581}],"entities":[{"category":"Contact","text":"Carol","offset":17,"length":5,"confidenceScore":1,"extraInformation":[{"extraInformationKind":"EntitySubtype","value":"person.name"}]},{"category":"MeetingDate","text":"tomorrow","offset":33,"length":8,"confidenceScore":1,"resolutions":[{"resolutionKind":"DateTimeResolution","dateTimeSubKind":"Date","timex":"2022-04-17","value":"2022-04-17"}],"extraInformation":[{"extraInformationKind":"EntitySubtype","value":"datetime.date"}]}]}}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://languagesdktest.cognitiveservices.azure.com/language/:analyze-conversations?api-version=2022-03-01-preview
version: 1
