interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:38:55 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultipgpidsf7em3h5fufkw.vault.azure.net,
        /secrets/secret0, api-version=7.0, '']
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"value":"value0","id":"https://vault.vault.azure.net/secrets/secret0/6204adb8145943fb813ea8ccca0ea25a","attributes":{"enabled":true,"created":1575488335,"updated":1575488335,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '235', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:38:55 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultipgpidsf7em3h5fufkw.vault.azure.net,
        /secrets/secret0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault.vault.azure.net/deletedsecrets/secret0","deletedDate":1575488336,"scheduledPurgeDate":1583264336,"id":"https://vault.vault.azure.net/secrets/secret0/6204adb8145943fb813ea8ccca0ea25a","attributes":{"enabled":true,"created":1575488335,"updated":1575488335,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '362', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:38:56 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultipgpidsf7em3h5fufkw.vault.azure.net,
        /secrets/secret0, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault.vault.azure.net/deletedsecrets/secret0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not
        found: secret0"}}'}
    headers: {cache-control: no-cache, content-length: '81', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:38:56 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultipgpidsf7em3h5fufkw.vault.azure.net,
        /deletedsecrets/secret0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vault.vault.azure.net/deletedsecrets/secret0","deletedDate":1575488336,"scheduledPurgeDate":1583264336,"id":"https://vault.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1575488335,"updated":1575488335,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"https://vault.vault.azure.[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault.vault.azure.net/deletedsecrets/secret0/recover?api-version=7.0
  response:
    body: {string: '{"id":"https://vault.vault.azure.net/secrets/secret0/6204adb8145943fb813ea8ccca0ea25a","attributes":{"enabled":true,"created":1575488335,"updated":1575488335,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '218', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:42:03 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultipgpidsf7em3h5fufkw.vault.azure.net,
        /deletedsecrets/secret0/recover, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault.vault.azure.net/secrets/secret0/?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Secret not found:
        secret0"}}'}
    headers: {cache-control: no-cache, content-length: '73', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:42:03 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultipgpidsf7em3h5fufkw.vault.azure.net,
        /secrets/secret0/, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault.vault.azure.net/secrets/secret6/?api-version=7.0
  response:
    body: {string: '{"value":"value6","id":"https://vault.vault.azure.net/secrets/secret6/306fbff228514c80966e68c089e4c052","attributes":{"enabled":true,"created":1575488336,"updated":1575488336,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '235', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:44:41 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultipgpidsf7em3h5fufkw.vault.azure.net,
        /secrets/secret6/, api-version=7.0, '']
version: 1
