interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret237014a2?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "crud_secret_value"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret237014a2?api-version=7.3
  response:
    body:
      string: '{"value":"crud_secret_value","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret237014a2/20b2e7059a8545949982e6c0503b8694","attributes":{"enabled":true,"created":1648004739,"updated":1648004739,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "crud_secret_value", "tags": {"foo": "created tag"}, "contentType":
      "password", "attributes": {"enabled": true, "nbf": 1422864000, "exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret237014a2?api-version=7.3
  response:
    body:
      string: '{"value":"crud_secret_value","contentType":"password","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret237014a2/df12ec8e2c024d818a97810e3718eb62","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1648004739,"updated":1648004739,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret237014a2/?api-version=7.3
  response:
    body:
      string: '{"value":"crud_secret_value","contentType":"password","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret237014a2/df12ec8e2c024d818a97810e3718eb62","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1648004739,"updated":1648004739,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret237014a2/df12ec8e2c024d818a97810e3718eb62?api-version=7.3
  response:
    body:
      string: '{"value":"crud_secret_value","contentType":"password","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret237014a2/df12ec8e2c024d818a97810e3718eb62","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1648004739,"updated":1648004739,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret237014a2?api-version=7.3
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secret237014a2","deletedDate":1648004741,"scheduledPurgeDate":1648609541,"contentType":"text/plain","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret237014a2/df12ec8e2c024d818a97810e3718eb62","attributes":{"enabled":false,"nbf":1422864000,"exp":2524723200,"created":1648004739,"updated":1648004740,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
