interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc7fc1f1453.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "secret-value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc7fc1f1453.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vault458ad70cc7fc1f1453.vault.azure.net/secrets/secret-name/6933d8294f8343bf95291b1ea4c070d0","attributes":{"enabled":true,"created":1572546543,"updated":1572546543,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc7fc1f1453.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc7fc1f1453.vault.azure.net/deletedsecrets/secret-name","deletedDate":1572546543,"scheduledPurgeDate":1580322543,"id":"https://vault458ad70cc7fc1f1453.vault.azure.net/secrets/secret-name/6933d8294f8343bf95291b1ea4c070d0","attributes":{"enabled":true,"created":1572546543,"updated":1572546543,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7fc1f1453.vault.azure.net/deletedsecrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        secret-name"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault458ad70cc7fc1f1453.vault.azure.net/deletedsecrets/secret-name/recover?api-version=7.0
  response:
    body:
      string: '{"id":"https://vault458ad70cc7fc1f1453.vault.azure.net/secrets/secret-name/6933d8294f8343bf95291b1ea4c070d0","attributes":{"enabled":true,"created":1572546543,"updated":1572546543,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7fc1f1453.vault.azure.net/secrets/secret-name/?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Secret not found: secret-name"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7fc1f1453.vault.azure.net/secrets/secret-name/?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vault458ad70cc7fc1f1453.vault.azure.net/secrets/secret-name/6933d8294f8343bf95291b1ea4c070d0","attributes":{"enabled":true,"created":1572546543,"updated":1572546543,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
