interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/crud-secret888911df?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "crud_secret_value888911df"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/crud-secret888911df?api-version=7.1
  response:
    body:
      string: '{"value":"crud_secret_value888911df","id":"https://vaultname.vault.azure.net/secrets/crud-secret888911df/069c7a61348847289e0d25a0465f60bf","attributes":{"enabled":true,"created":1596730061,"updated":1596730061,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/secrets/crud-secret888911df?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/crud-secret888911df","deletedDate":1596730062,"scheduledPurgeDate":1604506062,"id":"https://vaultname.vault.azure.net/secrets/crud-secret888911df/069c7a61348847289e0d25a0465f60bf","attributes":{"enabled":true,"created":1596730061,"updated":1596730061,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets/crud-secret888911df?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        crud-secret888911df"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedsecrets/crud-secret888911df/recover?api-version=7.1
  response:
    body:
      string: '{"id":"https://vaultname.vault.azure.net/secrets/crud-secret888911df/069c7a61348847289e0d25a0465f60bf","attributes":{"enabled":true,"created":1596730061,"updated":1596730061,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/crud-secret888911df/?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"A secret with (name/id)
        crud-secret888911df was not found in this key vault. If you recently deleted
        this secret you may be able to recover it using the correct recovery command.
        For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/crud-secret888911df/?api-version=7.1
  response:
    body:
      string: '{"value":"crud_secret_value888911df","id":"https://vaultname.vault.azure.net/secrets/crud-secret888911df/069c7a61348847289e0d25a0465f60bf","attributes":{"enabled":true,"created":1596730061,"updated":1596730061,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
