interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault99e4122d.vault.azure.net/secrets/sec99e4122d?api-version=7.0
  response:
    body:
      string: ''
    headers:
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault99e4122d.vault.azure.net
        - /secrets/sec99e4122d
        - api-version=7.0
        - ''
- request:
    body: '{"value": "secval99e4122d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault99e4122d.vault.azure.net/secrets/sec99e4122d?api-version=7.0
  response:
    body:
      string: '{"value":"secval99e4122d","id":"https://vault99e4122d.vault.azure.net/secrets/sec99e4122d/20f0eeb32d06495c95c55d147e46c524","attributes":{"enabled":true,"created":1565043709,"updated":1565043709,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault99e4122d.vault.azure.net
        - /secrets/sec99e4122d
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault99e4122d.vault.azure.net/secrets/sec99e4122d?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault99e4122d.vault.azure.net/deletedsecrets/sec99e4122d","deletedDate":1565043710,"scheduledPurgeDate":1572819710,"id":"https://vault99e4122d.vault.azure.net/secrets/sec99e4122d/4830acd0242c487ba4b17a42a5b6a7e0","attributes":{"enabled":true,"created":1565043710,"updated":1565043710,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault99e4122d.vault.azure.net
        - /secrets/sec99e4122d
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault99e4122d.vault.azure.net/deletedsecrets/sec99e4122d?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        sec99e4122d"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault99e4122d.vault.azure.net
        - /deletedsecrets/sec99e4122d
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault99e4122d.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vault99e4122d.vault.azure.net/deletedsecrets/sec99e4122d","deletedDate":1565043710,"scheduledPurgeDate":1572819710,"id":"https://vault99e4122d.vault.azure.net/secrets/sec99e4122d","attributes":{"enabled":true,"created":1565043710,"updated":1565043710,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault99e4122d.vault.azure.net
        - /deletedsecrets
        - api-version=7.0
        - ''
version: 1
