interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault674299e4122d.vault.azure.net/secrets/sec99e4122d?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:33:08 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674299e4122d.vault.azure.net,
        /secrets/sec99e4122d, api-version=7.0, '']
- request:
    body: '{"value": "secval99e4122d"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault674299e4122d.vault.azure.net/secrets/sec99e4122d?api-version=7.0
  response:
    body: {string: '{"value":"secval99e4122d","id":"https://vault674299e4122d.vault.azure.net/secrets/sec99e4122d/2ef941199aad405c98eb13c04c4c7373","attributes":{"enabled":true,"created":1566837189,"updated":1566837189,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '240', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:33:09 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674299e4122d.vault.azure.net,
        /secrets/sec99e4122d, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault674299e4122d.vault.azure.net/secrets/sec99e4122d?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault674299e4122d.vault.azure.net/deletedsecrets/sec99e4122d","deletedDate":1566837189,"scheduledPurgeDate":1574613189,"id":"https://vault674299e4122d.vault.azure.net/secrets/sec99e4122d/5d7afa9cd3464ff6aaf6473fad7575dc","attributes":{"enabled":true,"created":1566837189,"updated":1566837189,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '356', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:33:09 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674299e4122d.vault.azure.net,
        /secrets/sec99e4122d, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674299e4122d.vault.azure.net/deletedsecrets/sec99e4122d?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not
        found: sec99e4122d"}}'}
    headers: {cache-control: no-cache, content-length: '85', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:33:09 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674299e4122d.vault.azure.net,
        /deletedsecrets/sec99e4122d, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674299e4122d.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vault674299e4122d.vault.azure.net/deletedsecrets/sec99e4122d","deletedDate":1566837189,"scheduledPurgeDate":1574613189,"id":"https://vault674299e4122d.vault.azure.net/secrets/sec99e4122d","attributes":{"enabled":true,"created":1566837189,"updated":1566837189,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '351', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:33:27 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674299e4122d.vault.azure.net,
        /deletedsecrets, api-version=7.0, '']
version: 1
