{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "crud_secret_value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "crud_secret_value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/782d8ecbc6db4e66b2b9c2827c89547d",
        "attributes": {
          "enabled": true,
          "created": 1648762612,
          "updated": 1648762612,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "crud_secret_value",
        "tags": {
          "foo": "created tag"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1422864000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "crud_secret_value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b16802965ab74613917f6e8c4dd6ee69",
        "attributes": {
          "enabled": true,
          "nbf": 1422864000,
          "created": 1648762612,
          "updated": 1648762612,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "created tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "crud_secret_value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b16802965ab74613917f6e8c4dd6ee69",
        "attributes": {
          "enabled": true,
          "nbf": 1422864000,
          "created": 1648762612,
          "updated": 1648762612,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "created tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b16802965ab74613917f6e8c4dd6ee69?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "crud_secret_value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b16802965ab74613917f6e8c4dd6ee69",
        "attributes": {
          "enabled": true,
          "nbf": 1422864000,
          "created": 1648762612,
          "updated": 1648762612,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "created tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b16802965ab74613917f6e8c4dd6ee69?api-version=2016-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contentType": "text/plain",
        "attributes": {
          "enabled": false,
          "exp": 2527401600
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b16802965ab74613917f6e8c4dd6ee69",
        "attributes": {
          "enabled": false,
          "nbf": 1422864000,
          "exp": 2527401600,
          "created": 1648762612,
          "updated": 1648762613,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secret4d6a3164",
        "deletedDate": 1648762613,
        "scheduledPurgeDate": 1649367413,
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b16802965ab74613917f6e8c4dd6ee69",
        "attributes": {
          "enabled": false,
          "nbf": 1422864000,
          "exp": 2527401600,
          "created": 1648762612,
          "updated": 1648762613,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secret4d6a3164?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: livekvtestcrud-secret4d6a3164"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secret4d6a3164?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation get is not allowed on a disabled secret.",
          "innererror": {
            "code": "SecretDisabled"
          }
        }
      }
    }
  ],
  "Variables": {}
}
