interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault9388fc1f1453.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"value": "secret-value"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault9388fc1f1453.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body: {string: '{"value":"secret-value","id":"https://vault9388fc1f1453.vault.azure.net/secrets/secret-name/765c93b25d9e46ae91a6f2443d0ffca0","attributes":{"enabled":true,"created":1566926023,"updated":1566926023,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault9388fc1f1453.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault9388fc1f1453.vault.azure.net/deletedsecrets/secret-name","deletedDate":1566926024,"scheduledPurgeDate":1574702024,"id":"https://vault9388fc1f1453.vault.azure.net/secrets/secret-name/765c93b25d9e46ae91a6f2443d0ffca0","attributes":{"enabled":true,"created":1566926023,"updated":1566926023,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault9388fc1f1453.vault.azure.net/deletedsecrets/secret-name?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not
        found: secret-name"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault9388fc1f1453.vault.azure.net/deletedsecrets/secret-name/recover?api-version=7.0
  response:
    body: {string: '{"id":"https://vault9388fc1f1453.vault.azure.net/secrets/secret-name/765c93b25d9e46ae91a6f2443d0ffca0","attributes":{"enabled":true,"created":1566926023,"updated":1566926023,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
