interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea52819e3?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"attributes": {"exp": 2527401600}, "value": "secret-value"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea52819e3?api-version=2016-10-01
  response:
    body:
      string: '{"value":"secret-value","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea52819e3/b991972c531441be9eb7c82297d1cc19","attributes":{"enabled":true,"exp":2527401600,"created":1618953234,"updated":1618953234,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea52819e3/?api-version=2016-10-01
  response:
    body:
      string: '{"value":"secret-value","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea52819e3/b991972c531441be9eb7c82297d1cc19","attributes":{"enabled":true,"exp":2527401600,"created":1618953234,"updated":1618953234,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea52819e3/b991972c531441be9eb7c82297d1cc19?api-version=2016-10-01
  response:
    body:
      string: '{"value":"secret-value","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea52819e3/b991972c531441be9eb7c82297d1cc19","attributes":{"enabled":true,"exp":2527401600,"created":1618953234,"updated":1618953234,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"contentType": "text/plain", "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea52819e3/?api-version=2016-10-01
  response:
    body:
      string: '{"contentType":"text/plain","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea52819e3/b991972c531441be9eb7c82297d1cc19","attributes":{"enabled":true,"exp":2527401600,"created":1618953234,"updated":1618953235,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea52819e3?api-version=2016-10-01
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-namea52819e3","deletedDate":1618953235,"scheduledPurgeDate":1626729235,"contentType":"text/plain","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea52819e3/b991972c531441be9eb7c82297d1cc19","attributes":{"enabled":true,"exp":2527401600,"created":1618953234,"updated":1618953235,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-namea52819e3?api-version=2016-10-01
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        livekvtestsecret-namea52819e3"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-namea52819e3?api-version=2016-10-01
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-namea52819e3","deletedDate":1618953235,"scheduledPurgeDate":1626729235,"contentType":"text/plain","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea52819e3/b991972c531441be9eb7c82297d1cc19","attributes":{"enabled":true,"exp":2527401600,"created":1618953234,"updated":1618953235,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
