interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault24c80f77.vault.azure.net/secrets/sec24c80f77?api-version=7.0
  response:
    body:
      string: ''
    headers:
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault24c80f77.vault.azure.net
        - /secrets/sec24c80f77
        - api-version=7.0
        - ''
- request:
    body: '{"value": "secVal24c80f77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault24c80f77.vault.azure.net/secrets/sec24c80f77?api-version=7.0
  response:
    body:
      string: '{"value":"secVal24c80f77","id":"https://vault24c80f77.vault.azure.net/secrets/sec24c80f77/d14f229e00a0466588945a17f72f9ef4","attributes":{"enabled":true,"created":1564528588,"updated":1564528588,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault24c80f77.vault.azure.net
        - /secrets/sec24c80f77
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault24c80f77.vault.azure.net/secrets/sec24c80f77/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://vault24c80f77.vault.azure.net/secrets/sec24c80f77/548690f3d6e448a4afa1946ddd2ad9a3","attributes":{"enabled":true,"created":1564528589,"updated":1564528589,"recoveryLevel":"Purgeable"}},{"id":"https://vault24c80f77.vault.azure.net/secrets/sec24c80f77/581cbd091a3646daa866c6c54732fed3","attrib[...]
