interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault7f7a16d0.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault7f7a16d0.vault.azure.net
        - /secrets/secret-name
        - api-version=7.0
        - ''
- request:
    body: '{"value": "secret-value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault7f7a16d0.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vault7f7a16d0.vault.azure.net/secrets/secret-name/76b80c85b9324d5c91b7aafa387b2aa7","attributes":{"enabled":true,"created":1571203346,"updated":1571203346,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault7f7a16d0.vault.azure.net
        - /secrets/secret-name
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault7f7a16d0.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault7f7a16d0.vault.azure.net/deletedsecrets/secret-name","deletedDate":1571203346,"scheduledPurgeDate":1578979346,"id":"https://vault7f7a16d0.vault.azure.net/secrets/secret-name/76b80c85b9324d5c91b7aafa387b2aa7","attributes":{"enabled":true,"created":1571203346,"updated":1571203346,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault7f7a16d0.vault.azure.net
        - /secrets/secret-name
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault7f7a16d0.vault.azure.net/deletedsecrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        secret-name"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault7f7a16d0.vault.azure.net
        - /deletedsecrets/secret-name
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault7f7a16d0.vault.azure.net/deletedsecrets/secret-name/recover?api-version=7.0
  response:
    body:
      string: '{"id":"https://vault7f7a16d0.vault.azure.net/secrets/secret-name/76b80c85b9324d5c91b7aafa387b2aa7","attributes":{"enabled":true,"created":1571203346,"updated":1571203346,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault7f7a16d0.vault.azure.net
        - /deletedsecrets/secret-name/recover
        - api-version=7.0
        - ''
version: 1
