interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret-namef5351862?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "secret-value", "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret-namef5351862?api-version=7.2
  response:
    body:
      string: '{"value":"secret-value","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret-namef5351862/c1ba08ff73fb4cf8a21476ecc38a1f65","attributes":{"enabled":true,"exp":2527401600,"created":1620405083,"updated":1620405083,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret-namef5351862/?api-version=7.2
  response:
    body:
      string: '{"value":"secret-value","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret-namef5351862/c1ba08ff73fb4cf8a21476ecc38a1f65","attributes":{"enabled":true,"exp":2527401600,"created":1620405083,"updated":1620405083,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret-namef5351862/c1ba08ff73fb4cf8a21476ecc38a1f65?api-version=7.2
  response:
    body:
      string: '{"value":"secret-value","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret-namef5351862/c1ba08ff73fb4cf8a21476ecc38a1f65","attributes":{"enabled":true,"exp":2527401600,"created":1620405083,"updated":1620405083,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"foo": "updated tag"}, "contentType": "text/plain"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret-namef5351862/?api-version=7.2
  response:
    body:
      string: '{"contentType":"text/plain","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret-namef5351862/c1ba08ff73fb4cf8a21476ecc38a1f65","attributes":{"enabled":true,"exp":2527401600,"created":1620405083,"updated":1620405083,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret-namef5351862?api-version=7.2
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-namef5351862","deletedDate":1620405083,"scheduledPurgeDate":1628181083,"contentType":"text/plain","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret-namef5351862/c1ba08ff73fb4cf8a21476ecc38a1f65","attributes":{"enabled":true,"exp":2527401600,"created":1620405083,"updated":1620405083,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-namef5351862?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        livekvtestsecret-namef5351862"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-namef5351862?api-version=7.2
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-namef5351862","deletedDate":1620405083,"scheduledPurgeDate":1628181083,"contentType":"text/plain","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret-namef5351862/c1ba08ff73fb4cf8a21476ecc38a1f65","attributes":{"enabled":true,"exp":2527401600,"created":1620405083,"updated":1620405083,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
