interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretd267137a?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "crud_secret_value"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretd267137a?api-version=7.1
  response:
    body:
      string: '{"value":"crud_secret_value","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretd267137a/0f4250c7d034433894142b18d46b7e38","attributes":{"enabled":true,"created":1613675895,"updated":1613675895,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "crud_secret_value", "contentType": "password", "tags": {"foo":
      "created tag"}, "attributes": {"enabled": true, "exp": 2527401600, "nbf": 1422864000}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretd267137a?api-version=7.1
  response:
    body:
      string: '{"value":"crud_secret_value","contentType":"password","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretd267137a/3040d346f55a4fde8698b29b7a1a5a19","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1613675895,"updated":1613675895,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretd267137a/?api-version=7.1
  response:
    body:
      string: '{"value":"crud_secret_value","contentType":"password","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretd267137a/3040d346f55a4fde8698b29b7a1a5a19","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1613675895,"updated":1613675895,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretd267137a/3040d346f55a4fde8698b29b7a1a5a19?api-version=7.1
  response:
    body:
      string: '{"value":"crud_secret_value","contentType":"password","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretd267137a/3040d346f55a4fde8698b29b7a1a5a19","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1613675895,"updated":1613675895,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretd267137a?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secretd267137a","deletedDate":1613675897,"scheduledPurgeDate":1621451897,"contentType":"text/plain","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretd267137a/3040d346f55a4fde8698b29b7a1a5a19","attributes":{"enabled":false,"nbf":1422864000,"exp":2524723200,"created":1613675895,"updated":1613675897,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
