interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault458ad70cc7534c1061.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 23 Oct 2019 22:22:58 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc7534c1061.vault.azure.net,
        /secrets/secret-name, api-version=7.0, '']
- request:
    body: '{"value": "secret-value"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault458ad70cc7534c1061.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body: {string: '{"value":"secret-value","id":"https://vault458ad70cc7534c1061.vault.azure.net/secrets/secret-name/0a662c9b032947118e1eac522558af9a","attributes":{"enabled":true,"created":1571869379,"updated":1571869379,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '232', content-type: application/json;
        charset=utf-8, date: 'Wed, 23 Oct 2019 22:22:59 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc7534c1061.vault.azure.net,
        /secrets/secret-name, api-version=7.0, '']
version: 1
