interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault1051159997ce560cd9.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997ce560cd9.vault.azure.net
        - /secrets/secret0
        - api-version=7.0
        - ''
- request:
    body: client_id=fd341195-73b0-4ba7-bf05-a33d6464f84c&client_secret=Bx7%2FR.J%3FvGhcA%3AE3pvBCAXRGje06%3A%3A%2Ac&grant_type=client_credentials&scope=https%3A%2F%2Fvault.azure.net%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImllX3FXQ1hoWHh0MXpJRXN1NGM3YWNRVkduNCIsImtpZCI6ImllX3FXQ1hoWHh0MXpJRXN1NGM3YWNRVkduNCJ9.eyJhdWQiOiJodHRwczovL3ZhdWx0LmF6dXJlLm5ldCIsImlzcyI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0LzcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0Ny8iLCJpYXQiOjE1Njg2NzE1MTQsIm5iZiI6MTU2ODY3MTUxNCwiZXhwIjoxNTY4Njc1NDE0LCJhaW8iOiI0MkZnWUxEbU0zMWVhbDZyVkZuaUhETExVaWdlQUE9PSIsImFwcGlkIjoiZmQzNDExOTUtNzNiMC00YmE3LWJmMDUtYTMzZDY0NjRmODRjIiwiYXBwaWRhY3IiOiIxIiwiaWRwIjoiaHR0cHM6Ly9zdHMud2luZG93cy5uZXQvNzJmOTg4YmYtODZmMS00MWFmLTkxYWItMmQ3Y2QwMTFkYjQ3LyIsIm9pZCI6IjQ5ZDNhN2RhLTgxM2ItNDAzYS1hYzVjLWI5Y2YxNmNlNjZmMCIsInN1YiI6IjQ5ZDNhN2RhLTgxM2ItNDAzYS1hYzVjLWI5Y2YxNmNlNjZmMCIsInRpZCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsInV0aSI6IjlidS1vNkF5Y0U2cWN4aEN0a0VxQUEiLCJ2ZXIiOiIxLjAifQ.vQn5E2_5VyQl95ggCH8xu_LWFQqYbwcBgdkvHdsyKJVikVPrMVAN7gHaq0RE21prkdw4L4HYnGZ_HqDnQDLnckbIndP7a9bgwln-qzyZvNvDviOcyf-7kyJSPDeB0GXYLUgzPLru23ayZoGgzybXcyTKwilF4S7f4yfMZfwXkx0pWRWCMtDxcSxfnMcTxSKXOdR8rl65B1qX3tnMRBdk_HyYGa4LvW0dNi1rp9K6_OMjF6I4da9SCbpvXhrlC5ddzynJC7yuHhwj1NVNowfJkAE56caSiLOvaZ01WWWYcIhUfLUCm_bgoDfUh4uGOnQ3MIe1ziX650ItfgJTzmHxug"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault1051159997ce560cd9.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"value":"value0","id":"https://vault1051159997ce560cd9.vault.azure.net/secrets/secret0/d7d0f1f9894e4b88a42548882359130c","attributes":{"enabled":true,"created":1568671814,"updated":1568671814,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997ce560cd9.vault.azure.net
        - /secrets/secret0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault1051159997ce560cd9.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault1051159997ce560cd9.vault.azure.net/deletedsecrets/secret0","deletedDate":1568671815,"scheduledPurgeDate":1576447815,"id":"https://vault1051159997ce560cd9.vault.azure.net/secrets/secret0/d7d0f1f9894e4b88a42548882359130c","attributes":{"enabled":true,"created":1568671814,"updated":1568671814,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997ce560cd9.vault.azure.net
        - /secrets/secret0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997ce560cd9.vault.azure.net/deletedsecrets/secret0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        secret0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997ce560cd9.vault.azure.net
        - /deletedsecrets/secret0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997ce560cd9.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vault1051159997ce560cd9.vault.azure.net/deletedsecrets/secret0","deletedDate":1568671815,"scheduledPurgeDate":1576447815,"id":"https://vault1051159997ce560cd9.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1568671814,"updated":1568671814,"recoveryLevel":"Recover[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault1051159997ce560cd9.vault.azure.net/deletedsecrets/secret0/recover?api-version=7.0
  response:
    body:
      string: '{"id":"https://vault1051159997ce560cd9.vault.azure.net/secrets/secret0/d7d0f1f9894e4b88a42548882359130c","attributes":{"enabled":true,"created":1568671814,"updated":1568671814,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997ce560cd9.vault.azure.net
        - /deletedsecrets/secret0/recover
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997ce560cd9.vault.azure.net/secrets/secret0/?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Secret not found: secret0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997ce560cd9.vault.azure.net
        - /secrets/secret0/
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997ce560cd9.vault.azure.net/secrets/secret6/?api-version=7.0
  response:
    body:
      string: '{"value":"value6","id":"https://vault1051159997ce560cd9.vault.azure.net/secrets/secret6/8cb154e65c2f4d07abdb9cdb48411a6f","attributes":{"enabled":true,"created":1568671815,"updated":1568671815,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997ce560cd9.vault.azure.net
        - /secrets/secret6/
        - api-version=7.0
        - ''
version: 1
