interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc7ce560cd9.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ce560cd9.vault.azure.net
        - /secrets/secret0
        - api-version=7.0
        - ''
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc7ce560cd9.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"value":"value0","id":"https://vault458ad70cc7ce560cd9.vault.azure.net/secrets/secret0/ed65e3efd07c40efa6cffa377a4ad0bb","attributes":{"enabled":true,"created":1571258310,"updated":1571258310,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ce560cd9.vault.azure.net
        - /secrets/secret0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc7ce560cd9.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc7ce560cd9.vault.azure.net/deletedsecrets/secret0","deletedDate":1571258311,"scheduledPurgeDate":1579034311,"id":"https://vault458ad70cc7ce560cd9.vault.azure.net/secrets/secret0/ed65e3efd07c40efa6cffa377a4ad0bb","attributes":{"enabled":true,"created":1571258310,"updated":1571258310,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ce560cd9.vault.azure.net
        - /secrets/secret0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7ce560cd9.vault.azure.net/deletedsecrets/secret0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        secret0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ce560cd9.vault.azure.net
        - /deletedsecrets/secret0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7ce560cd9.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vault458ad70cc7ce560cd9.vault.azure.net/deletedsecrets/secret0","deletedDate":1571258311,"scheduledPurgeDate":1579034311,"id":"https://vault458ad70cc7ce560cd9.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1571258310,"updated":1571258310,"recoveryLevel":"Recover[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault458ad70cc7ce560cd9.vault.azure.net/deletedsecrets/secret0/recover?api-version=7.0
  response:
    body:
      string: '{"id":"https://vault458ad70cc7ce560cd9.vault.azure.net/secrets/secret0/ed65e3efd07c40efa6cffa377a4ad0bb","attributes":{"enabled":true,"created":1571258310,"updated":1571258310,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ce560cd9.vault.azure.net
        - /deletedsecrets/secret0/recover
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7ce560cd9.vault.azure.net/secrets/secret0/?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Secret not found: secret0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ce560cd9.vault.azure.net
        - /secrets/secret0/
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7ce560cd9.vault.azure.net/secrets/secret6/?api-version=7.0
  response:
    body:
      string: '{"value":"value6","id":"https://vault458ad70cc7ce560cd9.vault.azure.net/secrets/secret6/d466b672faa6468eae33ea223c2aa9ae","attributes":{"enabled":true,"created":1571258310,"updated":1571258310,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7ce560cd9.vault.azure.net
        - /secrets/secret6/
        - api-version=7.0
        - ''
version: 1
