{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccab378f?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccab378f?api-version=7.3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secret-value",
        "attributes": {
          "enabled": true,
          "exp": 2527401600
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secret-value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccab378f/8c4d1ff20aa44070b665dce79171cfbb",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1648222160,
          "updated": 1648222160,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccab378f/?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secret-value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccab378f/8c4d1ff20aa44070b665dce79171cfbb",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1648222160,
          "updated": 1648222160,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccab378f/8c4d1ff20aa44070b665dce79171cfbb?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secret-value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccab378f/8c4d1ff20aa44070b665dce79171cfbb",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1648222160,
          "updated": 1648222160,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccab378f/?api-version=7.3",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contentType": "text/plain",
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccab378f/8c4d1ff20aa44070b665dce79171cfbb",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1648222160,
          "updated": 1648222161,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccab378f?api-version=7.3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-nameccab378f",
        "deletedDate": 1648222161,
        "scheduledPurgeDate": 1648826961,
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccab378f/8c4d1ff20aa44070b665dce79171cfbb",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1648222160,
          "updated": 1648222161,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-nameccab378f?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: livekvtestsecret-nameccab378f"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-nameccab378f?api-version=7.3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-nameccab378f",
        "deletedDate": 1648222161,
        "scheduledPurgeDate": 1648826961,
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccab378f/8c4d1ff20aa44070b665dce79171cfbb",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1648222160,
          "updated": 1648222161,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    }
  ],
  "Variables": {}
}
