interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault29fe19b8.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: ''
    headers:
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault29fe19b8.vault.azure.net
        - /secrets/secret-name
        - api-version=7.0
        - ''
- request:
    body: '{"value": "secret-value", "attributes": {"enabled": true, "exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault29fe19b8.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vault29fe19b8.vault.azure.net/secrets/secret-name/ca16299ea5d949de974552cdb454d08b","attributes":{"enabled":true,"exp":2527401600,"created":1565043672,"updated":1565043672,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault29fe19b8.vault.azure.net
        - /secrets/secret-name
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault29fe19b8.vault.azure.net/secrets/secret-name/?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vault29fe19b8.vault.azure.net/secrets/secret-name/ca16299ea5d949de974552cdb454d08b","attributes":{"enabled":true,"exp":2527401600,"created":1565043672,"updated":1565043672,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault29fe19b8.vault.azure.net
        - /secrets/secret-name/
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault29fe19b8.vault.azure.net/secrets/secret-name/ca16299ea5d949de974552cdb454d08b?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vault29fe19b8.vault.azure.net/secrets/secret-name/ca16299ea5d949de974552cdb454d08b","attributes":{"enabled":true,"exp":2527401600,"created":1565043672,"updated":1565043672,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault29fe19b8.vault.azure.net
        - /secrets/secret-name/ca16299ea5d949de974552cdb454d08b
        - api-version=7.0
        - ''
- request:
    body: '{"contentType": "text/plain", "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault29fe19b8.vault.azure.net/secrets/secret-name/?api-version=7.0
  response:
    body:
      string: '{"contentType":"text/plain","id":"https://vault29fe19b8.vault.azure.net/secrets/secret-name/ca16299ea5d949de974552cdb454d08b","attributes":{"enabled":true,"exp":2527401600,"created":1565043672,"updated":1565043672,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault29fe19b8.vault.azure.net
        - /secrets/secret-name/
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault29fe19b8.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault29fe19b8.vault.azure.net/deletedsecrets/secret-name","deletedDate":1565043672,"scheduledPurgeDate":1572819672,"contentType":"text/plain","id":"https://vault29fe19b8.vault.azure.net/secrets/secret-name/ca16299ea5d949de974552cdb454d08b","attributes":{"enabled":true,"exp":2527401600,"created":1565043672,"updated":1565043672,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault29fe19b8.vault.azure.net
        - /secrets/secret-name
        - api-version=7.0
        - ''
version: 1
