interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultstorname.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultstorname.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"value":"value0","id":"https://vaultstorname.vault.azure.net/secrets/secret0/91ca1ad59c2c4bd7ac0fd04a1d9b1af5","attributes":{"enabled":true,"created":1575487740,"updated":1575487740,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultstorname.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vaultstorname.vault.azure.net/deletedsecrets/secret0","deletedDate":1575487740,"scheduledPurgeDate":1583263740,"id":"https://vaultstorname.vault.azure.net/secrets/secret0/91ca1ad59c2c4bd7ac0fd04a1d9b1af5","attributes":{"enabled":true,"created":1575487740,"updated":1575487740,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultstorname.vault.azure.net/deletedsecrets/secret0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not
        found: secret0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultstorname.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vaultstorname.vault.azure.net/deletedsecrets/secret0","deletedDate":1575487740,"scheduledPurgeDate":1583263740,"id":"https://vaultstorname.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1575487740,"updated":1575487740,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"ht[...]
