interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf9f143e?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: https://mcpatinotest.vault.azure.net/secrets/livekvtestcrud-secretf9f143e?api-version=7.0
- request:
    body: '{"value": "crud_secret_value"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf9f143e?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_value","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf9f143e/e2153d6d4c2c43c7887f1f1e39b32a21","attributes":{"enabled":true,"created":1618954531,"updated":1618954531,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/secrets/livekvtestcrud-secretf9f143e?api-version=7.0
- request:
    body: '{"value": "crud_secret_value", "tags": {"foo": "created tag"}, "attributes":
      {"enabled": true, "nbf": 1422864000}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf9f143e?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_value","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf9f143e/f3b0aaca779849e8a900108755bb0087","attributes":{"enabled":true,"nbf":1422864000,"created":1618954531,"updated":1618954531,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/secrets/livekvtestcrud-secretf9f143e?api-version=7.0
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf9f143e/?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_value","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf9f143e/f3b0aaca779849e8a900108755bb0087","attributes":{"enabled":true,"nbf":1422864000,"created":1618954531,"updated":1618954531,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/secrets/livekvtestcrud-secretf9f143e/?api-version=7.0
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf9f143e/f3b0aaca779849e8a900108755bb0087?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_value","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf9f143e/f3b0aaca779849e8a900108755bb0087","attributes":{"enabled":true,"nbf":1422864000,"created":1618954531,"updated":1618954531,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/secrets/livekvtestcrud-secretf9f143e/f3b0aaca779849e8a900108755bb0087?api-version=7.0
- request:
    body: '{"contentType": "text/plain", "tags": {"foo": "updated tag"}, "attributes":
      {"enabled": false, "exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf9f143e/f3b0aaca779849e8a900108755bb0087?api-version=7.0
  response:
    body:
      string: '{"contentType":"text/plain","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf9f143e/f3b0aaca779849e8a900108755bb0087","attributes":{"enabled":false,"nbf":1422864000,"exp":2527401600,"created":1618954531,"updated":1618954533,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/secrets/livekvtestcrud-secretf9f143e/f3b0aaca779849e8a900108755bb0087?api-version=7.0
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf9f143e?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secretf9f143e","deletedDate":1618954533,"scheduledPurgeDate":1626730533,"contentType":"text/plain","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf9f143e/f3b0aaca779849e8a900108755bb0087","attributes":{"enabled":false,"nbf":1422864000,"exp":2527401600,"created":1618954531,"updated":1618954533,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://mcpatinotest.vault.azure.net/secrets/livekvtestcrud-secretf9f143e?api-version=7.0
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secretf9f143e?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        livekvtestcrud-secretf9f143e"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: https://mcpatinotest.vault.azure.net/deletedsecrets/livekvtestcrud-secretf9f143e?api-version=7.0
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secretf9f143e?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Forbidden","message":"Operation get is not allowed
        on a disabled secret.","innererror":{"code":"SecretDisabled"}}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 403
      message: Forbidden
    url: https://mcpatinotest.vault.azure.net/deletedsecrets/livekvtestcrud-secretf9f143e?api-version=7.0
version: 1
