interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret0daf10d3a?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret0daf10d3a?api-version=7.1
  response:
    body:
      string: '{"value":"value0","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret0daf10d3a/dfd758bea9ce48d3b6b7ec950c39ada1","attributes":{"enabled":true,"created":1613675896,"updated":1613675896,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret5daf10d3a?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret5daf10d3a","deletedDate":1613675898,"scheduledPurgeDate":1621451898,"id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret5daf10d3a/5ba21bdca6874a67aa97267a578c994d","attributes":{"enabled":true,"created":1613675897,"updated":1613675897,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret5daf10d3a?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        livekvtestsecret5daf10d3a"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets?api-version=7.1
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secretd267137a","deletedDate":1613675897,"scheduledPurgeDate":1621451897,"contentType":"text/plain","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretd267137a","attributes":{"enabled":false,"nbf":1422864000,"exp":2524723200,"created":1613675895,"updated":1613675897,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}},{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret0ab6c128e","deletedDate":1613675933,"scheduledPurgeDate":1621451933,"id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret0ab6c128e","attributes":{"enabled":true,"created":1613675894,"updated":1613675894,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret0daf10d3a","deletedDate":1613675958,"scheduledPurgeDate":1621451958,"id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret0daf10d3a","attributes":{"enabled":true,"created":1613675896,"updated":1613675896,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}],"nextLink":"https://vaultname.vault.azure.net:443/deletedsecrets?api-version=7.1&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExNDghTURBd01EWTFJWE5sWTNKbGRDOU1TVlpGUzFaVVJWTlVVMFZEVWtWVU1FUkJSakV3UkROQkwwUkdSRGMxT0VKRlFUbERSVFE0UkROQ05rSTNSVU01TlRCRE16bEJSRUV4SVRBd01EQXlPQ0U1T1RrNUxURXlMVE14VkRJek9qVTVPalU1TGprNU9UazVPVGxhSVEtLSIsIlRhcmdldExvY2F0aW9uIjowfQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets?api-version=7.1&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExNDghTURBd01EWTFJWE5sWTNKbGRDOU1TVlpGUzFaVVJWTlVVMFZEVWtWVU1FUkJSakV3UkROQkwwUkdSRGMxT0VKRlFUbERSVFE0UkROQ05rSTNSVU01TlRCRE16bEJSRUV4SVRBd01EQXlPQ0U1T1RrNUxURXlMVE14VkRJek9qVTVPalU1TGprNU9UazVPVGxhSVEtLSIsIlRhcmdldExvY2F0aW9uIjowfQ
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedse[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets?api-version=7.1&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExMDAhTURBd01ETXhJWE5sWTNKbGRDOU1TVlpGUzFaVVJWTlVVMFZEVmtWU016TkJPVEJHUkRnaE1EQXdNREk0SVRrNU9Ua3RNVEl0TXpGVU1qTTZOVGs2TlRrdU9UazVPVGs1T1ZvaCIsIlRhcmdldExvY2F0aW9uIjowfQ
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret5daf10d3a/recover?api-version=7.1
  response:
    body:
      string: '{"id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret5daf10d3a/5ba21bdca6874a67aa97267a578c994d","attributes":{"enabled":true,"created":1613675897,"updated":1613675897,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret5daf10d3a/?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"A secret with (name/id)
        livekvtestsecret5daf10d3a was not found in this key vault. If you recently
        deleted this secret you may be able to recover it using the correct recovery
        command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret3daf10d3a/?api-version=7.1
  response:
    body:
      string: '{"value":"value3","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret3daf10d3a/c4b872eeeee743219ae10d3dd8278f17","attributes":{"enabled":true,"created":1613675897,"updated":1613675897,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
