interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault1051159997c01d1319.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997c01d1319.vault.azure.net
        - /secrets/crud-secret
        - api-version=7.0
        - ''
- request:
    body: client_id=fd341195-73b0-4ba7-bf05-a33d6464f84c&client_secret=Bx7%2FR.J%3FvGhcA%3AE3pvBCAXRGje06%3A%3A%2Ac&grant_type=client_credentials&scope=https%3A%2F%2Fvault.azure.net%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImllX3FXQ1hoWHh0MXpJRXN1NGM3YWNRVkduNCIsImtpZCI6ImllX3FXQ1hoWHh0MXpJRXN1NGM3YWNRVkduNCJ9.eyJhdWQiOiJodHRwczovL3ZhdWx0LmF6dXJlLm5ldCIsImlzcyI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0LzcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0Ny8iLCJpYXQiOjE1Njg2NzE0MzEsIm5iZiI6MTU2ODY3MTQzMSwiZXhwIjoxNTY4Njc1MzMxLCJhaW8iOiI0MkZnWUxpbi9IL3pmYjUrbHMrVyszYy8yOHBhQkFBPSIsImFwcGlkIjoiZmQzNDExOTUtNzNiMC00YmE3LWJmMDUtYTMzZDY0NjRmODRjIiwiYXBwaWRhY3IiOiIxIiwiaWRwIjoiaHR0cHM6Ly9zdHMud2luZG93cy5uZXQvNzJmOTg4YmYtODZmMS00MWFmLTkxYWItMmQ3Y2QwMTFkYjQ3LyIsIm9pZCI6IjQ5ZDNhN2RhLTgxM2ItNDAzYS1hYzVjLWI5Y2YxNmNlNjZmMCIsInN1YiI6IjQ5ZDNhN2RhLTgxM2ItNDAzYS1hYzVjLWI5Y2YxNmNlNjZmMCIsInRpZCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsInV0aSI6InJNUHB4U2V0WVVDOXhKYkxyRXNzQUEiLCJ2ZXIiOiIxLjAifQ.uL2yetwsxMVJik6nA8ZIgaHPBFe1pF2KtC_VK-UkuzrG5RPqIucbSFCYvgQJPH0w-PgXSWoK88jKn1ZRdPH0zep12so5wh4AybyEEskpUPhIwyru7W-Lr0uf7A7lXkO9a4UmH3EXgfoQDOlqRwwoS_FptwprTyoHuDM5zrRbNOFtDoHmBhykgdzfL2D3iJQnWIe5nsQ7l2ylhL-qBdXdPOg0RR3r_NT0LcZdBjgx84lz0fD7zFk6bUSnLm_BvZsreKcJ0GUwSiQBvGdpFyNRZGDfHEXkNAemDpXhJehZPKZlXtdJKOpDlDcQplcpCVTxnwtUZQWviSfczmwJwYTFsg"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "crud_secret_valuec01d1319"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault1051159997c01d1319.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valuec01d1319","id":"https://vault1051159997c01d1319.vault.azure.net/secrets/crud-secret/99eda77d6e5e41e8bbd0e551a7140c99","attributes":{"enabled":true,"created":1568671731,"updated":1568671731,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997c01d1319.vault.azure.net
        - /secrets/crud-secret
        - api-version=7.0
        - ''
- request:
    body: '{"value": "crud_secret_valuec01d1319", "tags": {"foo": "created tag"},
      "attributes": {"enabled": true, "nbf": 1422864000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault1051159997c01d1319.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valuec01d1319","id":"https://vault1051159997c01d1319.vault.azure.net/secrets/crud-secret/f2cb634acf454747bcb1d124b0cbcebb","attributes":{"enabled":true,"nbf":1422864000,"created":1568671731,"updated":1568671731,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997c01d1319.vault.azure.net
        - /secrets/crud-secret
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997c01d1319.vault.azure.net/secrets/crud-secret/?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valuec01d1319","id":"https://vault1051159997c01d1319.vault.azure.net/secrets/crud-secret/f2cb634acf454747bcb1d124b0cbcebb","attributes":{"enabled":true,"nbf":1422864000,"created":1568671731,"updated":1568671731,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997c01d1319.vault.azure.net
        - /secrets/crud-secret/
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997c01d1319.vault.azure.net/secrets/crud-secret/f2cb634acf454747bcb1d124b0cbcebb?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valuec01d1319","id":"https://vault1051159997c01d1319.vault.azure.net/secrets/crud-secret/f2cb634acf454747bcb1d124b0cbcebb","attributes":{"enabled":true,"nbf":1422864000,"created":1568671731,"updated":1568671731,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997c01d1319.vault.azure.net
        - /secrets/crud-secret/f2cb634acf454747bcb1d124b0cbcebb
        - api-version=7.0
        - ''
- request:
    body: '{"contentType": "text/plain", "attributes": {"enabled": false, "exp": 2527401600},
      "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault1051159997c01d1319.vault.azure.net/secrets/crud-secret/f2cb634acf454747bcb1d124b0cbcebb?api-version=7.0
  response:
    body:
      string: '{"contentType":"text/plain","id":"https://vault1051159997c01d1319.vault.azure.net/secrets/crud-secret/f2cb634acf454747bcb1d124b0cbcebb","attributes":{"enabled":false,"nbf":1422864000,"exp":2527401600,"created":1568671731,"updated":1568671732,"recoveryLevel":"Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997c01d1319.vault.azure.net
        - /secrets/crud-secret/f2cb634acf454747bcb1d124b0cbcebb
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997c01d1319.vault.azure.net/secrets/crud-secret/?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Secret not found: crud-secret"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault1051159997c01d1319.vault.azure.net
        - /secrets/crud-secret/
        - api-version=7.0
        - ''
version: 1
