interactions:
- request:
    body: '{"value": "crud_secret_valuec01d1319"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultc01d1319.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valuec01d1319","id":"https://vaultc01d1319.vault.azure.net/secrets/crud-secret/177427fb4ac34d35be6430082742ca9d","attributes":{"enabled":true,"created":1560296924,"updated":1560296924,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "crud_secret_valuec01d1319", "attributes": {"enabled": true,
      "nbf": 1422864000}, "tags": {"foo": "created tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultc01d1319.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valuec01d1319","id":"https://vaultc01d1319.vault.azure.net/secrets/crud-secret/259ce6cd4405435a9c10114cde527ecd","attributes":{"enabled":true,"nbf":1422864000,"created":1560296924,"updated":1560296924,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultc01d1319.vault.azure.net/secrets/crud-secret/?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valuec01d1319","id":"https://vaultc01d1319.vault.azure.net/secrets/crud-secret/259ce6cd4405435a9c10114cde527ecd","attributes":{"enabled":true,"nbf":1422864000,"created":1560296924,"updated":1560296924,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultc01d1319.vault.azure.net/secrets/crud-secret/259ce6cd4405435a9c10114cde527ecd?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valuec01d1319","id":"https://vaultc01d1319.vault.azure.net/secrets/crud-secret/259ce6cd4405435a9c10114cde527ecd","attributes":{"enabled":true,"nbf":1422864000,"created":1560296924,"updated":1560296924,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"exp": 2527401600, "enabled": false}, "contentType": "text/plain",
      "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vaultc01d1319.vault.azure.net/secrets/crud-secret/259ce6cd4405435a9c10114cde527ecd?api-version=7.0
  response:
    body:
      string: '{"contentType":"text/plain","id":"https://vaultc01d1319.vault.azure.net/secrets/crud-secret/259ce6cd4405435a9c10114cde527ecd","attributes":{"enabled":false,"nbf":1422864000,"exp":2527401600,"created":1560296924,"updated":1560296926,"recoveryLevel":"Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultc01d1319.vault.azure.net/secrets/crud-secret/?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Secret not found: crud-secret"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
