interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc7daf10d3a.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc7daf10d3a.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"value":"value0","id":"https://vault458ad70cc7daf10d3a.vault.azure.net/secrets/secret0/15928485cf964aaca9a0139c2fb817fe","attributes":{"enabled":true,"created":1571336969,"updated":1571336969,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc7daf10d3a.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault458ad70cc7daf10d3a.vault.azure.net/deletedsecrets/secret0","deletedDate":1571336969,"scheduledPurgeDate":1579112969,"id":"https://vault458ad70cc7daf10d3a.vault.azure.net/secrets/secret0/15928485cf964aaca9a0139c2fb817fe","attributes":{"enabled":true,"created":1571336969,"updated":1571336969,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7daf10d3a.vault.azure.net/deletedsecrets/secret0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        secret0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7daf10d3a.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vault458ad70cc7daf10d3a.vault.azure.net/deletedsecrets/secret0","deletedDate":1571336969,"scheduledPurgeDate":1579112969,"id":"https://vault458ad70cc7daf10d3a.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1571336969,"updated":1571336969,"recoveryLevel":"Recover[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault458ad70cc7daf10d3a.vault.azure.net/deletedsecrets/secret0/recover?api-version=7.0
  response:
    body:
      string: '{"id":"https://vault458ad70cc7daf10d3a.vault.azure.net/secrets/secret0/15928485cf964aaca9a0139c2fb817fe","attributes":{"enabled":true,"created":1571336969,"updated":1571336969,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7daf10d3a.vault.azure.net/secrets/secret0/?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Secret not found: secret0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7daf10d3a.vault.azure.net/secrets/secret6/?api-version=7.0
  response:
    body:
      string: '{"value":"value6","id":"https://vault458ad70cc7daf10d3a.vault.azure.net/secrets/secret6/45f10eaead14481ba3644872c0a5d623","attributes":{"enabled":true,"created":1571336969,"updated":1571336969,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
