interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault8bf41593ca5b50e84.vault.azure.net/secrets/sec0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca5b50e84.vault.azure.net
        - /secrets/sec0
        - api-version=7.0
        - ''
- request:
    body: '{"value": "secVal05b50e84"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault8bf41593ca5b50e84.vault.azure.net/secrets/sec0?api-version=7.0
  response:
    body:
      string: '{"value":"secVal05b50e84","id":"https://vault8bf41593ca5b50e84.vault.azure.net/secrets/sec0/dcddc7c2fa7041b7862a2c4fcdc89f8c","attributes":{"enabled":true,"created":1570206073,"updated":1570206073,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca5b50e84.vault.azure.net
        - /secrets/sec0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593ca5b50e84.vault.azure.net/secrets?api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://vault8bf41593ca5b50e84.vault.azure.net/secrets/sec0","attributes":{"enabled":true,"created":1570206073,"updated":1570206073,"recoveryLevel":"Purgeable"}},{"id":"https://vault8bf41593ca5b50e84.vault.azure.net/secrets/sec1","attributes":{"enabled":true,"created":1570206074,"updated":1570206074,"recoveryLevel":"Purgeable"}},{"id":"https://vault8bf41593ca5b50e84.vault.azure.net/secrets/sec2","attributes":{"enabled":true,"created":1570206074,"updated":1570206074,"recoveryLevel":"Purgeable"}},{"id":"https://vault8bf41593ca5b50e84.vault.azure.net/secrets/sec3","attributes":{"enabled":true,"created":1570206074,"updated":1570206074,"recoveryLevel":"Purgeable"}},{"id":"https://vault8bf41593ca5b50e84.vault.azure.net/secrets/sec4","attributes":{"enabled":true,"created":1570206074,"updated":1570206074,"recoveryLevel":"Purgeable"}},{"id":"https://vault8bf41593ca5b50e84.vault.azure.net/secrets/sec5","attributes":{"enabled":true,"created":1570206074,"updated":1570206074,"recoveryLevel":"Purgeable"}},{"id":"https://vault8bf41593ca5b50e84.vault.azure.net/secrets/sec6","attributes":{"enabled":true,"created":1570206074,"updated":1570206074,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593ca5b50e84.vault.azure.net
        - /secrets
        - api-version=7.0
        - ''
version: 1
