interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault2aad19c6.vault.azure.net/secrets/key0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault2aad19c6.vault.azure.net
        - /secrets/key0
        - api-version=7.0
        - ''
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault2aad19c6.vault.azure.net/secrets/key0?api-version=7.0
  response:
    body:
      string: '{"value":"value0","id":"https://vault2aad19c6.vault.azure.net/secrets/key0/776b00c3110746979d272c587cae2620","attributes":{"enabled":true,"created":1571203345,"updated":1571203345,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault2aad19c6.vault.azure.net
        - /secrets/key0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault2aad19c6.vault.azure.net/secrets?api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://vault2aad19c6.vault.azure.net/secrets/key0","attributes":{"enabled":true,"created":1571203345,"updated":1571203345,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault2aad19c6.vault.azure.net/secrets/key1","attributes":{"enabled":true,"created":1571203346,"updated":1571203346,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault2aad19c6.vault.azure.net/secrets/key2","attributes":{"enabled":true,"created":1571203346,"updated":1571203346,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault2aad19c6.vault.azure.net/secrets/key3","attributes":{"enabled":true,"created":1571203346,"updated":1571203346,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault2aad19c6.vault.azure.net/secrets/key4","attributes":{"enabled":true,"created":1571203346,"updated":1571203346,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault2aad19c6.vault.azure.net/secrets/key5","attributes":{"enabled":true,"created":1571203346,"updated":1571203346,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault2aad19c6.vault.azure.net/secrets/key6","attributes":{"enabled":true,"created":1571203346,"updated":1571203346,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault2aad19c6.vault.azure.net
        - /secrets
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault2aad19c6.vault.azure.net/secrets/secret-name/versions?api-version=7.0
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault2aad19c6.vault.azure.net
        - /secrets/secret-name/versions
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault2aad19c6.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault2aad19c6.vault.azure.net
        - /deletedsecrets
        - api-version=7.0
        - ''
version: 1
