interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultab6c128e.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultab6c128e.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"value":"value0","id":"https://vaultab6c128e.vault.azure.net/secrets/secret0/7c87fa93d89446eea0f139051b978a91","attributes":{"enabled":true,"created":1571243343,"updated":1571243343,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultab6c128e.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vaultab6c128e.vault.azure.net/deletedsecrets/secret0","deletedDate":1571243344,"scheduledPurgeDate":1579019344,"id":"https://vaultab6c128e.vault.azure.net/secrets/secret0/7c87fa93d89446eea0f139051b978a91","attributes":{"enabled":true,"created":1571243343,"updated":1571243343,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultab6c128e.vault.azure.net/deletedsecrets/secret0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not
        found: secret0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultab6c128e.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vaultab6c128e.vault.azure.net/deletedsecrets/secret0","deletedDate":1571243344,"scheduledPurgeDate":1579019344,"id":"https://vaultab6c128e.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1571243343,"updated":1571243343,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"ht[...]
