{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "crud_secret_value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "crud_secret_value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/21c3926ca6e34a7ba884376b5400a3e8",
        "attributes": {
          "enabled": true,
          "created": 1648244990,
          "updated": 1648244990,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "crud_secret_value",
        "tags": {
          "foo": "created tag"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1422864000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "crud_secret_value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b9b6be166f9c4a2f8e65a98d8b07f21b",
        "attributes": {
          "enabled": true,
          "nbf": 1422864000,
          "created": 1648244990,
          "updated": 1648244990,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "created tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "crud_secret_value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b9b6be166f9c4a2f8e65a98d8b07f21b",
        "attributes": {
          "enabled": true,
          "nbf": 1422864000,
          "created": 1648244990,
          "updated": 1648244990,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "created tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b9b6be166f9c4a2f8e65a98d8b07f21b?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "crud_secret_value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b9b6be166f9c4a2f8e65a98d8b07f21b",
        "attributes": {
          "enabled": true,
          "nbf": 1422864000,
          "created": 1648244990,
          "updated": 1648244990,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "created tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b9b6be166f9c4a2f8e65a98d8b07f21b?api-version=2016-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contentType": "text/plain",
        "attributes": {
          "enabled": false,
          "exp": 2527401600
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b9b6be166f9c4a2f8e65a98d8b07f21b",
        "attributes": {
          "enabled": false,
          "nbf": 1422864000,
          "exp": 2527401600,
          "created": 1648244990,
          "updated": 1648244991,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secret4d6a3164",
        "deletedDate": 1648244992,
        "scheduledPurgeDate": 1648849792,
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret4d6a3164/b9b6be166f9c4a2f8e65a98d8b07f21b",
        "attributes": {
          "enabled": false,
          "nbf": 1422864000,
          "exp": 2527401600,
          "created": 1648244990,
          "updated": 1648244991,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secret4d6a3164?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: livekvtestcrud-secret4d6a3164"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secret4d6a3164?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation get is not allowed on a disabled secret.",
          "innererror": {
            "code": "SecretDisabled"
          }
        }
      }
    }
  ],
  "Variables": {}
}
