interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault674295e71749.vault.azure.net/secrets/key0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault674295e71749.vault.azure.net/secrets/key0?api-version=7.0
  response:
    body: {string: '{"value":"value0","id":"https://vault674295e71749.vault.azure.net/secrets/key0/23f265c0fd234b7eb189daf464db9a3e","attributes":{"enabled":true,"created":1566837187,"updated":1566837187,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674295e71749.vault.azure.net/secrets?api-version=7.0
  response:
    body: {string: '{"value":[{"id":"https://vault674295e71749.vault.azure.net/secrets/key0","attributes":{"enabled":true,"created":1566837187,"updated":1566837187,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault674295e71749.vault.azure.net/secrets/key1","attributes":{"enabled":true,"created":1566837188,"updated":1566837188,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault674295e71749.vault.azure.net/secrets/key2","attributes":{"enabled":true,"created":1566837188,"updated":1566837188,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault674295e71749.vault.azure.net/secrets/key3","attributes":{"enabled":true,"created":1566837188,"updated":1566837188,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault674295e71749.vault.azure.net/secrets/key4","attributes":{"enabled":true,"created":1566837188,"updated":1566837188,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault674295e71749.vault.azure.net/secrets/key5","attributes":{"enabled":true,"created":1566837188,"updated":1566837188,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault674295e71749.vault.azure.net/secrets/key6","attributes":{"enabled":true,"created":1566837188,"updated":1566837188,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674295e71749.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body: {string: '{"value":[],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
