interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret0f5de0d8e?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret0f5de0d8e?api-version=7.2
  response:
    body:
      string: '{"value":"value0","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret0f5de0d8e/7740b9c054e146a786a2fc234a810e6c","attributes":{"enabled":true,"created":1620404217,"updated":1620404217,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret6f5de0d8e?api-version=7.2
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret6f5de0d8e","deletedDate":1620404219,"scheduledPurgeDate":1628180219,"id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret6f5de0d8e/ce551b803cd94e8cbd2b0f26bc38fa03","attributes":{"enabled":true,"created":1620404219,"updated":1620404219,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret6f5de0d8e?api-version=7.2
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        livekvtestsecret6f5de0d8e"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets?api-version=7.2
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret0f5de0d8e","deletedDate":1620404297,"scheduledPurgeDate":1628180297,"id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret0f5de0d8e","attributes":{"enabled":true,"created":1620404217,"updated":1620404217,"recoveryLevel":"Recoverable+P[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets?api-version=7.2&$skiptoken=eyJOZXh0TWFya2VyIjoiMiExNDghTURBd01EWTFJWE5sWTNKbGRDOU1TVlpGUzFaVVJWTlVVMFZEVWtWVU0wWTRRalV4TTBJMUwwTkJNelkxT1RNNVJERkVNVFF6UmpVNU1VUTVNME0wUkVNd01rTXlNa1JCSVRBd01EQXlPQ0U1T1RrNUxURXlMVE14VkRJek9qVTVPalU1TGprNU9UazVPVGxhSVEtLSIsIlRhcmdldExvY2F0aW9uIjowfQ
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedse[...]
[...]
