interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret236e14a0?api-version=7.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "crud_secret_value"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret236e14a0?api-version=7.1
  response:
    body:
      string: '{"value":"crud_secret_value","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret236e14a0/939681ad68d2446780382be196cca6ba","attributes":{"enabled":true,"created":1618955864,"updated":1618955864,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"foo": "created tag"}, "contentType": "password", "value": "crud_secret_value",
      "attributes": {"nbf": 1422864000, "enabled": true, "exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret236e14a0?api-version=7.1
  response:
    body:
      string: '{"value":"crud_secret_value","contentType":"password","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret236e14a0/736cb04cf5ac4b0680c82380c4642816","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1618955864,"updated":1618955864,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret236e14a0/?api-version=7.1
  response:
    body:
      string: '{"value":"crud_secret_value","contentType":"password","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret236e14a0/736cb04cf5ac4b0680c82380c4642816","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1618955864,"updated":1618955864,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret236e14a0/736cb04cf5ac4b0680c82380c4642816?api-version=7.1
  response:
    body:
      string: '{"value":"crud_secret_value","contentType":"password","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret236e14a0/736cb04cf5ac4b0680c82380c4642816","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1618955864,"updated":1618955864,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret236e14a0?api-version=7.1
  response:
    body:
      string: '{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secret236e14a0","deletedDate":1618955866,"scheduledPurgeDate":1626731866,"contentType":"text/plain","id":"https://vaultname.vault.azure.net/secrets/livekvtestcrud-secret236e14a0/736cb04cf5ac4b0680c82380c4642816","attributes":{"enabled":false,"nbf":1422864000,"exp":2524723200,"created":1618955864,"updated":1618955865,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
