interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultstorname.vault.azure.net/secrets/key0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:26:29 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultolvgwobupm5koh4zydk.vault.azure.net,
        /secrets/key0, api-version=7.0, '']
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultstorname.vault.azure.net/secrets/key0?api-version=7.0
  response:
    body: {string: '{"value":"value0","id":"https://vaultstorname.vault.azure.net/secrets/key0/6a22a686ba23496a8f84bae133b3c426","attributes":{"enabled":true,"created":1575487589,"updated":1575487589,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '232', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:26:29 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultolvgwobupm5koh4zydk.vault.azure.net,
        /secrets/key0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultstorname.vault.azure.net/secrets?api-version=7.0
  response:
    body: {string: '{"value":[{"id":"https://vaultstorname.vault.azure.net/secrets/key0","attributes":{"enabled":true,"created":1575487589,"updated":1575487589,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vaultstorname.vault.azure.net/secrets/key1","attributes":{"enabled":true,"created":1575487590,"updated":1575487590,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vaultstorname.vault.azure.net/secrets/key2","attributes":{"enabled":true,"created":1575487590,"updated":1575487590,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vaultstorname.vault.azure.net/secrets/key3","attributes":{"enabled":true,"created":1575487590,"updated":1575487590,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vaultstorname.vault.azure.net/secrets/key4","attributes":{"enabled":true,"created":1575487590,"updated":1575487590,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vaultstorname.vault.azure.net/secrets/key5","attributes":{"enabled":true,"created":1575487590,"updated":1575487590,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vaultstorname.vault.azure.net/secrets/key6","attributes":{"enabled":true,"created":1575487590,"updated":1575487590,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '1308', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:26:30 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultolvgwobupm5koh4zydk.vault.azure.net,
        /secrets, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultstorname.vault.azure.net/secrets/secret-name/versions?api-version=7.0
  response:
    body: {string: '{"value":[],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '28', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:26:30 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultolvgwobupm5koh4zydk.vault.azure.net,
        /secrets/secret-name/versions, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultstorname.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body: {string: '{"value":[],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '28', content-type: application/json;
        charset=utf-8, date: 'Wed, 04 Dec 2019 19:26:30 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.883, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultolvgwobupm5koh4zydk.vault.azure.net,
        /deletedsecrets, api-version=7.0, '']
version: 1
