{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretfde93014?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "crud_secret_value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "crud_secret_value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretfde93014/7a988de79d374940901d50b318f4b5af",
        "attributes": {
          "enabled": true,
          "created": 1647442491,
          "updated": 1647442491,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretfde93014?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "crud_secret_value",
        "tags": {
          "foo": "created tag"
        },
        "attributes": {
          "enabled": true,
          "nbf": 1422864000
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "crud_secret_value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretfde93014/d6f4699a6f49406e8eb5e0f5bc844973",
        "attributes": {
          "enabled": true,
          "nbf": 1422864000,
          "created": 1647442491,
          "updated": 1647442491,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "created tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretfde93014/?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "crud_secret_value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretfde93014/d6f4699a6f49406e8eb5e0f5bc844973",
        "attributes": {
          "enabled": true,
          "nbf": 1422864000,
          "created": 1647442491,
          "updated": 1647442491,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "created tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretfde93014/d6f4699a6f49406e8eb5e0f5bc844973?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "crud_secret_value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretfde93014/d6f4699a6f49406e8eb5e0f5bc844973",
        "attributes": {
          "enabled": true,
          "nbf": 1422864000,
          "created": 1647442491,
          "updated": 1647442491,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "created tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretfde93014/d6f4699a6f49406e8eb5e0f5bc844973?api-version=7.0",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contentType": "text/plain",
        "attributes": {
          "enabled": false,
          "exp": 2527401600
        },
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretfde93014/d6f4699a6f49406e8eb5e0f5bc844973",
        "attributes": {
          "enabled": false,
          "nbf": 1422864000,
          "exp": 2527401600,
          "created": 1647442491,
          "updated": 1647442492,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretfde93014?api-version=7.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secretfde93014",
        "deletedDate": 1647442493,
        "scheduledPurgeDate": 1648047293,
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretfde93014/d6f4699a6f49406e8eb5e0f5bc844973",
        "attributes": {
          "enabled": false,
          "nbf": 1422864000,
          "exp": 2527401600,
          "created": 1647442491,
          "updated": 1647442492,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secretfde93014?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: livekvtestcrud-secretfde93014"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secretfde93014?api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Operation get is not allowed on a disabled secret.",
          "innererror": {
            "code": "SecretDisabled"
          }
        }
      }
    }
  ],
  "Variables": {}
}
