interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultce560cd9.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: ''
    headers:
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vaultce560cd9.vault.azure.net
        - /secrets/secret0
        - api-version=7.0
        - ''
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vaultce560cd9.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"value":"value0","id":"https://vaultce560cd9.vault.azure.net/secrets/secret0/d1f164c23b8d4dd99f17bb50e84c5d1f","attributes":{"enabled":true,"created":1564528692,"updated":1564528692,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vaultce560cd9.vault.azure.net
        - /secrets/secret0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultce560cd9.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vaultce560cd9.vault.azure.net/deletedsecrets/secret0","deletedDate":1564528693,"scheduledPurgeDate":1572304693,"id":"https://vaultce560cd9.vault.azure.net/secrets/secret0/d1f164c23b8d4dd99f17bb50e84c5d1f","attributes":{"enabled":true,"created":1564528692,"updated":1564528692,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vaultce560cd9.vault.azure.net
        - /secrets/secret0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultce560cd9.vault.azure.net/deletedsecrets/secret0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        secret0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vaultce560cd9.vault.azure.net
        - /deletedsecrets/secret0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultce560cd9.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultce560cd9.vault.azure.net/deletedsecrets/secret0","deletedDate":1564528693,"scheduledPurgeDate":1572304693,"id":"https://vaultce560cd9.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1564528692,"updated":1564528692,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultce560cd9.vault.azure.net/deletedsecrets/secret0/recover?api-version=7.0
  response:
    body:
      string: '{"id":"https://vaultce560cd9.vault.azure.net/secrets/secret0/d1f164c23b8d4dd99f17bb50e84c5d1f","attributes":{"enabled":true,"created":1564528692,"updated":1564528692,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vaultce560cd9.vault.azure.net
        - /deletedsecrets/secret0/recover
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultce560cd9.vault.azure.net/secrets/secret0/?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Secret not found: secret0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vaultce560cd9.vault.azure.net
        - /secrets/secret0/
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultce560cd9.vault.azure.net/secrets/secret6/?api-version=7.0
  response:
    body:
      string: '{"value":"value6","id":"https://vaultce560cd9.vault.azure.net/secrets/secret6/04d8d9d3f519485683412facb79f3240","attributes":{"enabled":true,"created":1564528692,"updated":1564528692,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vaultce560cd9.vault.azure.net
        - /secrets/secret6/
        - api-version=7.0
        - ''
version: 1
