interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc7d267137a.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "crud_secret_valued267137a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc7d267137a.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valued267137a","id":"https://vault458ad70cc7d267137a.vault.azure.net/secrets/crud-secret/fbf02d2e11c0488b875a654b9a8c2c31","attributes":{"enabled":true,"created":1572546609,"updated":1572546609,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"value": "crud_secret_valued267137a", "tags": {"foo": "created tag"},
      "contentType": "password", "attributes": {"enabled": true, "nbf": 1422864000,
      "exp": 2527401600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc7d267137a.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valued267137a","contentType":"password","id":"https://vault458ad70cc7d267137a.vault.azure.net/secrets/crud-secret/de69818bba52445780e04fca2bf80620","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1572546609,"updated":1572546609,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7d267137a.vault.azure.net/secrets/crud-secret/?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valued267137a","contentType":"password","id":"https://vault458ad70cc7d267137a.vault.azure.net/secrets/crud-secret/de69818bba52445780e04fca2bf80620","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1572546609,"updated":1572546609,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7d267137a.vault.azure.net/secrets/crud-secret/de69818bba52445780e04fca2bf80620?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valued267137a","contentType":"password","id":"https://vault458ad70cc7d267137a.vault.azure.net/secrets/crud-secret/de69818bba52445780e04fca2bf80620","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1572546609,"updated":1572546609,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc7d267137a.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body:
      string: '{"contentType":"text/plain","id":"https://vault458ad70cc7d267137a.vault.azure.net/secrets/crud-secret/de69818bba52445780e04fca2bf80620","attributes":{"enabled":false,"nbf":1422864000,"exp":2524723200,"created":1572546609,"updated":1572546610,"recoveryLevel":"Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
