interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault674224c80f77.vault.azure.net/secrets/sec24c80f77?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:33:13 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674224c80f77.vault.azure.net,
        /secrets/sec24c80f77, api-version=7.0, '']
- request:
    body: '{"value": "secVal24c80f77"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault674224c80f77.vault.azure.net/secrets/sec24c80f77?api-version=7.0
  response:
    body: {string: '{"value":"secVal24c80f77","id":"https://vault674224c80f77.vault.azure.net/secrets/sec24c80f77/4c53d7ac7c2845399777cc0394a77c3b","attributes":{"enabled":true,"created":1566837194,"updated":1566837194,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '228', content-type: application/json;
        charset=utf-8, date: 'Mon, 26 Aug 2019 16:33:13 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.876, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault674224c80f77.vault.azure.net,
        /secrets/sec24c80f77, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault674224c80f77.vault.azure.net/secrets/sec24c80f77/versions?api-version=7.0
  response:
    body: {string: '{"value":[{"id":"https://vault674224c80f77.vault.azure.net/secrets/sec24c80f77/47132dc064124005843cdb64766846a5","attributes":{"enabled":true,"created":1566837194,"updated":1566837194,"recoveryLevel":"Purgeable"}},{"id":"https://vault674224c80f77.vault.azure.net/secrets/sec24c80f77/4c53d7ac7c2845399777cc0394a77c3b",[...]
