interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault458ad70cc75b50e84.vault.azure.net/secrets/sec0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:38:54 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc75b50e84.vault.azure.net,
        /secrets/sec0, api-version=7.0, '']
- request:
    body: '{"value": "secVal05b50e84"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault458ad70cc75b50e84.vault.azure.net/secrets/sec0?api-version=7.0
  response:
    body: {string: '{"value":"secVal05b50e84","id":"https://vault458ad70cc75b50e84.vault.azure.net/secrets/sec0/c8eaab2de84d44c69196288728779230","attributes":{"enabled":true,"created":1570214335,"updated":1570214335,"recoveryLevel":"Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '226', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:38:55 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc75b50e84.vault.azure.net,
        /secrets/sec0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc75b50e84.vault.azure.net/secrets?api-version=7.0
  response:
    body: {string: '{"value":[{"id":"https://vault458ad70cc75b50e84.vault.azure.net/secrets/sec0","attributes":{"enabled":true,"created":1570214335,"updated":1570214335,"recoveryLevel":"Purgeable"}},{"id":"https://vault458ad70cc75b50e84.vault.azure.net/secrets/sec1","attributes":{"enabled":true,"created":1570214335,"updated":1570214335,"recoveryLevel":"Purgeable"}},{"id":"https://vault458ad70cc75b50e84.vault.azure.net/secrets/sec2","attributes":{"enabled":true,"created":1570214335,"updated":1570214335,"recoveryLevel":"Purgeable"}},{"id":"https://vault458ad70cc75b50e84.vault.azure.net/secrets/sec3","attributes":{"enabled":true,"created":1570214335,"updated":1570214335,"recoveryLevel":"Purgeable"}},{"id":"https://vault458ad70cc75b50e84.vault.azure.net/secrets/sec4","attributes":{"enabled":true,"created":1570214335,"updated":1570214335,"recoveryLevel":"Purgeable"}},{"id":"https://vault458ad70cc75b50e84.vault.azure.net/secrets/sec5","attributes":{"enabled":true,"created":1570214335,"updated":1570214335,"recoveryLevel":"Purgeable"}},{"id":"https://vault458ad70cc75b50e84.vault.azure.net/secrets/sec6","attributes":{"enabled":true,"created":1570214335,"updated":1570214335,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers: {cache-control: no-cache, content-length: '1210', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:38:55 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc75b50e84.vault.azure.net,
        /secrets, api-version=7.0, '']
version: 1
