interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultaxnjywktbxdaf10d3a.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultaxnjywktbxdaf10d3a.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"value":"value0","id":"https://vaultaxnjywktbxdaf10d3a.vault.azure.net/secrets/secret0/7dcd99d5e04b496791abe17db59fa02b","attributes":{"enabled":true,"created":1566941581,"updated":1566941581,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultaxnjywktbxdaf10d3a.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vaultaxnjywktbxdaf10d3a.vault.azure.net/deletedsecrets/secret0","deletedDate":1566941582,"scheduledPurgeDate":1574717582,"id":"https://vaultaxnjywktbxdaf10d3a.vault.azure.net/secrets/secret0/7dcd99d5e04b496791abe17db59fa02b","attributes":{"enabled":true,"created":1566941581,"updated":1566941581,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultaxnjywktbxdaf10d3a.vault.azure.net/deletedsecrets/secret0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not
        found: secret0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultaxnjywktbxdaf10d3a.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vaultaxnjywktbxdaf10d3a.vault.azure.net/deletedsecrets/secret0","deletedDate":1566941582,"scheduledPurgeDate":1574717582,"id":"https://vaultaxnjywktbxdaf10d3a.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1566941581,"updated":1566941581,"recoveryLevel":"Recoverable+[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultaxnjywktbxdaf10d3a.vault.azure.net/deletedsecrets/secret0/recover?api-version=7.0
  response:
    body: {string: '{"id":"https://vaultaxnjywktbxdaf10d3a.vault.azure.net/secrets/secret0/7dcd99d5e04b496791abe17db59fa02b","attributes":{"enabled":true,"created":1566941581,"updated":1566941581,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultaxnjywktbxdaf10d3a.vault.azure.net/secrets/secret0/?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Secret not found:
        secret0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultaxnjywktbxdaf10d3a.vault.azure.net/secrets/secret6/?api-version=7.0
  response:
    body: {string: '{"value":"value6","id":"https://vaultaxnjywktbxdaf10d3a.vault.azure.net/secrets/secret6/2dde563b0f6c4e9299bce7e0f04baa81","attributes":{"enabled":true,"created":1566941582,"updated":1566941582,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
