{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secVal"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secVal",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74/6cbac49ef05e4856a155d8626484fb7f",
        "attributes": {
          "enabled": true,
          "created": 1648762824,
          "updated": 1648762824,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74/versions?maxresults=6\u0026api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74/091afc434e5a4df[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74/versions?maxresults=6\u0026api-version=7.2\u0026$skiptoken=eyJOZXh0TWFya2VyIjoiMiExNDAhTURBd01EWXhJWE5sWTNKbGRDOU1TVlpGUzFaVVJWTlVVMFZETlRBMU5qSkROelF2UmtJd1F6YzROVUZDUVRaR05EQkVRemcwTUVNeE9EZENSVGRCUkVZeVJERWhNREF3TURJNElUazVPVGt0TVRJdE16RlVNak02TlRrNk5Ua3VPVGs1T1RrNU9Wb2giLCJUYXJnZXRMb2NhdGlvbiI6MH0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74/fb0c785aba6f40dc840c187be7adf2d1",
            "attributes": {
              "enabled": true,
              "created": 1648762824,
              "updated": 1648762824,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
