interactions:
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault95e71749.vault.azure.net/secrets/key0?api-version=7.0
  response:
    body:
      string: '{"value":"value0","id":"https://vault95e71749.vault.azure.net/secrets/key0/b2d6b0c76bb148ad93020d0df141ac0c","attributes":{"enabled":true,"created":1562687785,"updated":1562687785,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault95e71749.vault.azure.net/secrets?api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://vault95e71749.vault.azure.net/secrets/key0","attributes":{"enabled":true,"created":1562687785,"updated":1562687785,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault95e71749.vault.azure.net/secrets/key1","attributes":{"enabled":true,"created":1562687785,"updated":1562687785,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault95e71749.vault.azure.net/secrets/key2","attributes":{"enabled":true,"created":1562687786,"updated":1562687786,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault95e71749.vault.azure.net/secrets/key3","attributes":{"enabled":true,"created":1562687786,"updated":1562687786,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault95e71749.vault.azure.net/secrets/key4","attributes":{"enabled":true,"created":1562687786,"updated":1562687786,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault95e71749.vault.azure.net/secrets/key5","attributes":{"enabled":true,"created":1562687786,"updated":1562687786,"recoveryLevel":"Recoverable+Purgeable"}},{"id":"https://vault95e71749.vault.azure.net/secrets/key6","attributes":{"enabled":true,"created":1562687786,"updated":1562687786,"recoveryLevel":"Recoverable+Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault95e71749.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
