interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret0c8b51bd2?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecret0c8b51bd2?api-version=7.3-preview
  response:
    body:
      string: '{"value":"value0","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret0c8b51bd2/11d1fc85e86a47cbafda9d20e38ea553","attributes":{"enabled":true,"created":1630453787,"updated":1630453787,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets?api-version=7.3-preview
  response:
    body:
      string: '{"value":[{"id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret0c8b51bd2","attributes":{"enabled":true,"created":1630453787,"updated":1630453787,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90}},{"id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret1c8b51bd2","attributes":{"enabled":true,"created[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/secret-name/versions?api-version=7.3-preview
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/deletedsecrets?api-version=7.3-preview
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-namec75e1bc4","deletedDate":1630453783,"scheduledPurgeDate":1638229783,"contentType":"text/plain","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecret-namec75e1bc4","attributes":{"enabled":true,"exp":2527401600,"created":1630453783,"updated":1630453783,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"tags":{"foo":"updated
        tag"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
