interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecretce671360?api-version=7.3
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"value": "secret_value"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecretce671360?api-version=7.3
  response:
    body:
      string: '{"value":"secret_value","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecretce671360/8aeea5df1049438394dc5cc54b7c762b","attributes":{"enabled":true,"created":1648004875,"updated":1648004875,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultname.vault.azure.net/secrets/livekvtestsecretce671360/?api-version=7.3
  response:
    body:
      string: '{"value":"secret_value","id":"https://vaultname.vault.azure.net/secrets/livekvtestsecretce671360/8aeea5df1049438394dc5cc54b7c762b","attributes":{"enabled":true,"created":1648004875,"updated":1648004875,"recoveryLevel":"CustomizedRecoverable+Purgeable","recoverableDays":7}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
