interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault13d40ee5.vault.azure.net/secrets/sec0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"value": "secVal013d40ee5"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault13d40ee5.vault.azure.net/secrets/sec0?api-version=7.0
  response:
    body: {string: '{"value":"secVal013d40ee5","id":"https://vault13d40ee5.vault.azure.net/secrets/sec0/c0b37f3c6a88431785d7a0c865c91b56","attributes":{"enabled":true,"created":1569342172,"updated":1569342172,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault13d40ee5.vault.azure.net/secrets?maxresults=7&api-version=7.0
  response:
    body: {string: '{"value":[{"id":"https://vault13d40ee5.vault.azure.net/secrets/sec0","attributes":{"enabled":true,"created":1569342172,"updated":1569342172,"recoveryLevel":"Purgeable"}},{"id":"https://vault13d40ee5.vault.azure.net/secrets/sec1","attributes":{"enabled":true,"created":1569342172,"updated":1569342172,"recoveryLevel":"Purgeable"}},{"id":"https://vault13d40ee5.vault.azure.net/secrets/sec2","attributes":{"enabled":true,"created":1569342172,"updated":1569342172,"recoveryLevel":"Purgeable"}},{"id":"https://vault13d40ee5.vault.azure.net/secrets/sec3","attributes":{"enabled":true,"created":1569342172,"updated":1569342172,"recoveryLevel":"Purgeable"}},{"id":"https://vault13d40ee5.vault.azure.net/secrets/sec4","attributes":{"enabled":true,"created":1569342172,"updated":1569342172,"recoveryLevel":"Purgeable"}},{"id":"https://vault13d40ee5.vault.azure.net/secrets/sec5","attributes":{"enabled":true,"created":1569342172,"updated":1569342172,"recoveryLevel":"Purgeable"}},{"id":"https://vault13d40ee5.vault.azure.net/secrets/sec6","attributes":{"enabled":true,"created":1569342173,"updated":1569342173,"recoveryLevel":"Purgeable"}}],"nextLink":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
