interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault458ad70cc799e4122d.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:37:56 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc799e4122d.vault.azure.net,
        /secrets/secret0, api-version=7.0, '']
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault458ad70cc799e4122d.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"value":"value0","id":"https://vault458ad70cc799e4122d.vault.azure.net/secrets/secret0/880b73f4be444d208bc1d4cc11e3d22f","attributes":{"enabled":true,"created":1570214277,"updated":1570214277,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '234', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:37:57 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc799e4122d.vault.azure.net,
        /secrets/secret0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc799e4122d.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault458ad70cc799e4122d.vault.azure.net/deletedsecrets/secret0","deletedDate":1570214278,"scheduledPurgeDate":1577990278,"id":"https://vault458ad70cc799e4122d.vault.azure.net/secrets/secret0/880b73f4be444d208bc1d4cc11e3d22f","attributes":{"enabled":true,"created":1570214277,"updated":1570214277,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '360', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:37:58 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc799e4122d.vault.azure.net,
        /secrets/secret0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc799e4122d.vault.azure.net/deletedsecrets/secret0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not
        found: secret0"}}'}
    headers: {cache-control: no-cache, content-length: '81', content-type: application/json;
        charset=utf-8, date: 'Fri, 04 Oct 2019 18:37:59 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vault458ad70cc799e4122d.vault.azure.net,
        /deletedsecrets/secret0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc799e4122d.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vault458ad70cc799e4122d.vault.azure.net/deletedsecrets/secret0","deletedDate":1570214278,"scheduledPurgeDate":1577990278,"id":"https://vault458ad70cc799e4122d.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1570214277,"updated":1570214277,"recoveryLevel":"Recoverable+[...]
