interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc724c80f77.vault.azure.net/secrets/sec24c80f77?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc724c80f77.vault.azure.net
        - /secrets/sec24c80f77
        - api-version=7.0
        - ''
- request:
    body: '{"value": "secVal24c80f77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc724c80f77.vault.azure.net/secrets/sec24c80f77?api-version=7.0
  response:
    body:
      string: '{"value":"secVal24c80f77","id":"https://vault458ad70cc724c80f77.vault.azure.net/secrets/sec24c80f77/c8cfc7687ff04b08892b6c9ab8e4faec","attributes":{"enabled":true,"created":1572546527,"updated":1572546527,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc724c80f77.vault.azure.net
        - /secrets/sec24c80f77
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc724c80f77.vault.azure.net/secrets/sec24c80f77/versions?api-version=7.0
  response:
    body:
      string: '{"value":[{"id":"https://vault458ad70cc724c80f77.vault.azure.net/secrets/sec24c80f77/0465e57b210c404ab7683b21c074a306","attributes":{"enabled":true,"created":1572546527,"updated":1572546527,"recoveryLevel":"Purgeable"}},{"id":"https://vault458ad70cc724c80f77.vault.azure.net/secrets/sec24c80f77/6d0d980f254[...]
