interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultce560cd9.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers: {cache-control: no-cache, content-length: '87', content-type: application/json;
        charset=utf-8, date: 'Wed, 16 Oct 2019 16:28:39 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      www-authenticate: 'Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"', x-aspnet-version: 4.0.30319, x-content-type-options: nosniff,
      x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 401, message: Unauthorized}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultce560cd9.vault.azure.net,
        /secrets/secret0, api-version=7.0, '']
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vaultce560cd9.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"value":"value0","id":"https://vaultce560cd9.vault.azure.net/secrets/secret0/d91533be29294bdb89ddc0c1f0b30d11","attributes":{"enabled":true,"created":1571243320,"updated":1571243320,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '224', content-type: application/json;
        charset=utf-8, date: 'Wed, 16 Oct 2019 16:28:40 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultce560cd9.vault.azure.net,
        /secrets/secret0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vaultce560cd9.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vaultce560cd9.vault.azure.net/deletedsecrets/secret0","deletedDate":1571243321,"scheduledPurgeDate":1579019321,"id":"https://vaultce560cd9.vault.azure.net/secrets/secret0/d91533be29294bdb89ddc0c1f0b30d11","attributes":{"enabled":true,"created":1571243320,"updated":1571243320,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '340', content-type: application/json;
        charset=utf-8, date: 'Wed, 16 Oct 2019 16:28:41 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultce560cd9.vault.azure.net,
        /secrets/secret0, api-version=7.0, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultce560cd9.vault.azure.net/deletedsecrets/secret0?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not
        found: secret0"}}'}
    headers: {cache-control: no-cache, content-length: '81', content-type: application/json;
        charset=utf-8, date: 'Wed, 16 Oct 2019 16:28:41 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultce560cd9.vault.azure.net,
        /deletedsecrets/secret0, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultce560cd9.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body: {string: '{"value":[{"recoveryId":"https://vaultce560cd9.vault.azure.net/deletedsecrets/secret0","deletedDate":1571243321,"scheduledPurgeDate":1579019321,"id":"https://vaultce560cd9.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1571243320,"updated":1571243320,"recoveryLevel":"Recoverable+Purgeable"}},{"recoveryId":"ht[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vaultce560cd9.vault.azure.net/deletedsecrets/secret0/recover?api-version=7.0
  response:
    body: {string: '{"id":"https://vaultce560cd9.vault.azure.net/secrets/secret0/d91533be29294bdb89ddc0c1f0b30d11","attributes":{"enabled":true,"created":1571243320,"updated":1571243320,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '207', content-type: application/json;
        charset=utf-8, date: 'Wed, 16 Oct 2019 16:31:01 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultce560cd9.vault.azure.net,
        /deletedsecrets/secret0/recover, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultce560cd9.vault.azure.net/secrets/secret0/?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Secret not found:
        secret0"}}'}
    headers: {cache-control: no-cache, content-length: '73', content-type: application/json;
        charset=utf-8, date: 'Wed, 16 Oct 2019 16:31:03 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 404, message: Not Found}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultce560cd9.vault.azure.net,
        /secrets/secret0/, api-version=7.0, '']
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultce560cd9.vault.azure.net/secrets/secret6/?api-version=7.0
  response:
    body: {string: '{"value":"value6","id":"https://vaultce560cd9.vault.azure.net/secrets/secret6/a244f11b49b447f3af1768e38af609fe","attributes":{"enabled":true,"created":1571243321,"updated":1571243321,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers: {cache-control: no-cache, content-length: '224', content-type: application/json;
        charset=utf-8, date: 'Wed, 16 Oct 2019 16:31:15 GMT', expires: '-1', pragma: no-cache,
      server: Microsoft-IIS/10.0, strict-transport-security: max-age=31536000;includeSubDomains,
      x-aspnet-version: 4.0.30319, x-content-type-options: nosniff, x-ms-keyvault-network-info: addr=131.107.160.72;act_addr_fam=InterNetwork;,
      x-ms-keyvault-region: westus, x-ms-keyvault-service-version: 1.1.0.879, x-powered-by: ASP.NET}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, vaultce560cd9.vault.azure.net,
        /secrets/secret6/, api-version=7.0, '']
version: 1
