interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"value": "secret-value", "attributes": {"exp": 2527401600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body: {string: '{"value":"secret-value","id":"https://vault.vault.azure.net/secrets/secret-name/688c01f6f4de45b9a6590f7e34594813","attributes":{"enabled":true,"exp":2527401600,"created":1575487306,"updated":1575487306,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault.vault.azure.net/secrets/secret-name/?api-version=7.0
  response:
    body: {string: '{"value":"secret-value","id":"https://vault.vault.azure.net/secrets/secret-name/688c01f6f4de45b9a6590f7e34594813","attributes":{"enabled":true,"exp":2527401600,"created":1575487306,"updated":1575487306,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault.vault.azure.net/secrets/secret-name/688c01f6f4de45b9a6590f7e34594813?api-version=7.0
  response:
    body: {string: '{"value":"secret-value","id":"https://vault.vault.azure.net/secrets/secret-name/688c01f6f4de45b9a6590f7e34594813","attributes":{"enabled":true,"exp":2527401600,"created":1575487306,"updated":1575487306,"recoveryLevel":"Recoverable+Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"contentType": "text/plain", "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://vault.vault.azure.net/secrets/secret-name/?api-version=7.0
  response:
    body: {string: '{"contentType":"text/plain","id":"https://vault.vault.azure.net/secrets/secret-name/688c01f6f4de45b9a6590f7e34594813","attributes":{"enabled":true,"exp":2527401600,"created":1575487306,"updated":1575487306,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault.vault.azure.net/deletedsecrets/secret-name","deletedDate":1575487306,"scheduledPurgeDate":1583263306,"contentType":"text/plain","id":"https://vault.vault.azure.net/secrets/secret-name/688c01f6f4de45b9a6590f7e34594813","attributes":{"enabled":true,"exp":2527401600,"created":1575487306,"updated":1575487306,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault.vault.azure.net/deletedsecrets/secret-name?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not
        found: secret-name"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault.vault.azure.net/deletedsecrets/secret-name?api-version=7.0
  response:
    body: {string: '{"recoveryId":"https://vault.vault.azure.net/deletedsecrets/secret-name","deletedDate":1575487306,"scheduledPurgeDate":1583263306,"contentType":"text/plain","id":"https://vault.vault.azure.net/secrets/secret-name/688c01f6f4de45b9a6590f7e34594813","attributes":{"enabled":true,"exp":2527401600,"created":1575487306,"updated":1575487306,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
