interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault8bf41593cab5580c06.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593cab5580c06.vault.azure.net
        - /secrets/secret0
        - api-version=7.0
        - ''
- request:
    body: '{"value": "value0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault8bf41593cab5580c06.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"value":"value0","id":"https://vault8bf41593cab5580c06.vault.azure.net/secrets/secret0/1410aee5b5884eeaa80d01227f6063d6","attributes":{"enabled":true,"created":1570206043,"updated":1570206043,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593cab5580c06.vault.azure.net
        - /secrets/secret0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault8bf41593cab5580c06.vault.azure.net/secrets/secret0?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault8bf41593cab5580c06.vault.azure.net/deletedsecrets/secret0","deletedDate":1570206043,"scheduledPurgeDate":1577982043,"id":"https://vault8bf41593cab5580c06.vault.azure.net/secrets/secret0/1410aee5b5884eeaa80d01227f6063d6","attributes":{"enabled":true,"created":1570206043,"updated":1570206043,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593cab5580c06.vault.azure.net
        - /secrets/secret0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593cab5580c06.vault.azure.net/deletedsecrets/secret0?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        secret0"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593cab5580c06.vault.azure.net
        - /deletedsecrets/secret0
        - api-version=7.0
        - ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault8bf41593cab5580c06.vault.azure.net/deletedsecrets?api-version=7.0
  response:
    body:
      string: '{"value":[{"recoveryId":"https://vault8bf41593cab5580c06.vault.azure.net/deletedsecrets/secret0","deletedDate":1570206043,"scheduledPurgeDate":1577982043,"id":"https://vault8bf41593cab5580c06.vault.azure.net/secrets/secret0","attributes":{"enabled":true,"created":1570206043,"updated":1570206043,"recoveryLevel":"Recover[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault8bf41593cab5580c06.vault.azure.net/deletedsecrets/secret6?api-version=7.0
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault8bf41593cab5580c06.vault.azure.net
        - /deletedsecrets/secret6
        - api-version=7.0
        - ''
version: 1
