interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault1051159997d267137a.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body: {string: '{"error":{"code":"Unauthorized","message":"Request is missing
        a Bearer or PoP token."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: ['Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
          resource="https://vault.azure.net"']
    status: {code: 401, message: Unauthorized}
- request:
    body: '{"value": "crud_secret_valued267137a"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault1051159997d267137a.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body: {string: '{"value":"crud_secret_valued267137a","id":"https://vault1051159997d267137a.vault.azure.net/secrets/crud-secret/049a8187928d45e5adf35305320b4fe4","attributes":{"enabled":true,"created":1566943911,"updated":1566943911,"recoveryLevel":"Purgeable"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"value": "crud_secret_valued267137a", "tags": {"foo": "created tag"},
      "contentType": "password", "attributes": {"enabled": true, "nbf": 1422864000,
      "exp": 2527401600}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://vault1051159997d267137a.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body: {string: '{"value":"crud_secret_valued267137a","contentType":"password","id":"https://vault1051159997d267137a.vault.azure.net/secrets/crud-secret/914aa2d751444814b4b1450a8d3caf9f","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1566943911,"updated":1566943911,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997d267137a.vault.azure.net/secrets/crud-secret/?api-version=7.0
  response:
    body: {string: '{"value":"crud_secret_valued267137a","contentType":"password","id":"https://vault1051159997d267137a.vault.azure.net/secrets/crud-secret/914aa2d751444814b4b1450a8d3caf9f","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1566943911,"updated":1566943911,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997d267137a.vault.azure.net/secrets/crud-secret/914aa2d751444814b4b1450a8d3caf9f?api-version=7.0
  response:
    body: {string: '{"value":"crud_secret_valued267137a","contentType":"password","id":"https://vault1051159997d267137a.vault.azure.net/secrets/crud-secret/914aa2d751444814b4b1450a8d3caf9f","attributes":{"enabled":true,"nbf":1422864000,"exp":2527401600,"created":1566943911,"updated":1566943911,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vault1051159997d267137a.vault.azure.net/secrets/crud-secret/?api-version=7.0
  response:
    body: {string: '{"error":{"code":"SecretNotFound","message":"Secret not found:
        crud-secret"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
version: 1
