interactions:
- request:
    body: '{"value": "secret-value"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault96b3173a.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"value":"secret-value","id":"https://vault96b3173a.vault.azure.net/secrets/secret-name/1084b4861c3c4efca9d0894a430b8d39","attributes":{"enabled":true,"created":1560219234,"updated":1560219234,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault96b3173a.vault.azure.net/secrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault96b3173a.vault.azure.net/deletedsecrets/secret-name","deletedDate":1560219234,"scheduledPurgeDate":1567995234,"id":"https://vault96b3173a.vault.azure.net/secrets/secret-name/1084b4861c3c4efca9d0894a430b8d39","attributes":{"enabled":true,"created":1560219234,"updated":1560219234,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault96b3173a.vault.azure.net/deletedsecrets/secret-name?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"SecretNotFound","message":"Deleted Secret not found:
        secret-name"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://vault96b3173a.vault.azure.net/deletedsecrets/secret-name/recover?api-version=7.0
  response:
    body:
      string: '{"id":"https://vault96b3173a.vault.azure.net/secrets/secret-name/1084b4861c3c4efca9d0894a430b8d39","attributes":{"enabled":true,"created":1560219234,"updated":1560219234,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
