interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc7c01d1319.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type: application/json; charset=utf-8
      www-authenticate: Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c01d1319.vault.azure.net
        - /secrets/crud-secret
        - api-version=7.0
        - ''
- request:
    body: '{"value": "crud_secret_valuec01d1319"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc7c01d1319.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valuec01d1319","id":"https://vault458ad70cc7c01d1319.vault.azure.net/secrets/crud-secret/4f08c17e551f4986acf42db4f07098b2","attributes":{"enabled":true,"created":1571703762,"updated":1571703762,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c01d1319.vault.azure.net
        - /secrets/crud-secret
        - api-version=7.0
        - ''
- request:
    body: '{"value": "crud_secret_valuec01d1319", "tags": {"foo": "created tag"},
      "attributes": {"enabled": true, "nbf": 1422864000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://vault458ad70cc7c01d1319.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valuec01d1319","id":"https://vault458ad70cc7c01d1319.vault.azure.net/secrets/crud-secret/4dff4856335c4c31a45fe1ca03fca129","attributes":{"enabled":true,"nbf":1422864000,"created":1571703762,"updated":1571703762,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c01d1319.vault.azure.net
        - /secrets/crud-secret
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7c01d1319.vault.azure.net/secrets/crud-secret/?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valuec01d1319","id":"https://vault458ad70cc7c01d1319.vault.azure.net/secrets/crud-secret/4dff4856335c4c31a45fe1ca03fca129","attributes":{"enabled":true,"nbf":1422864000,"created":1571703762,"updated":1571703762,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c01d1319.vault.azure.net
        - /secrets/crud-secret/
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: GET
    uri: https://vault458ad70cc7c01d1319.vault.azure.net/secrets/crud-secret/4dff4856335c4c31a45fe1ca03fca129?api-version=7.0
  response:
    body:
      string: '{"value":"crud_secret_valuec01d1319","id":"https://vault458ad70cc7c01d1319.vault.azure.net/secrets/crud-secret/4dff4856335c4c31a45fe1ca03fca129","attributes":{"enabled":true,"nbf":1422864000,"created":1571703762,"updated":1571703762,"recoveryLevel":"Purgeable"},"tags":{"foo":"created
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c01d1319.vault.azure.net
        - /secrets/crud-secret/4dff4856335c4c31a45fe1ca03fca129
        - api-version=7.0
        - ''
- request:
    body: '{"contentType": "text/plain", "attributes": {"enabled": false, "exp": 2527401600},
      "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault458ad70cc7c01d1319.vault.azure.net/secrets/crud-secret/4dff4856335c4c31a45fe1ca03fca129?api-version=7.0
  response:
    body:
      string: '{"contentType":"text/plain","id":"https://vault458ad70cc7c01d1319.vault.azure.net/secrets/crud-secret/4dff4856335c4c31a45fe1ca03fca129","attributes":{"enabled":false,"nbf":1422864000,"exp":2527401600,"created":1571703762,"updated":1571703763,"recoveryLevel":"Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c01d1319.vault.azure.net
        - /secrets/crud-secret/4dff4856335c4c31a45fe1ca03fca129
        - api-version=7.0
        - ''
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault458ad70cc7c01d1319.vault.azure.net/secrets/crud-secret?api-version=7.0
  response:
    body:
      string: '{"contentType":"text/plain","id":"https://vault458ad70cc7c01d1319.vault.azure.net/secrets/crud-secret/4dff4856335c4c31a45fe1ca03fca129","attributes":{"enabled":false,"nbf":1422864000,"exp":2527401600,"created":1571703762,"updated":1571703763,"recoveryLevel":"Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - vault458ad70cc7c01d1319.vault.azure.net
        - /secrets/crud-secret
        - api-version=7.0
        - ''
version: 1
