interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:40:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage7d2b16cf.file.core.windows.net/listshare07d2b16cf?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D73238E1630514"'
      last-modified:
      - Thu, 05 Sep 2019 19:40:17 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:40:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage7d2b16cf.file.core.windows.net/?prefix=listshare&maxresults=2&include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage7d2b16cf.file.core.windows.net/\"><Prefix>listshare</Prefix><MaxResults>2</MaxResults><Shares><Share><Name>listshare07d2b16cf</Name><Properties><Last-Modified>Thu,
        05 Sep 2019 19:40:17 GMT</Last-Modified><Etag>\"0x8D73238E1630514\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare17d2b16cf</Name><Properties><Last-Modified>Thu,
        05 Sep 2019 19:40:17 GMT</Last-Modified><Etag>\"0x8D73238E1707510\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker>/pyacrstorage7d2b16cf/listshare27d2b16cf</NextMarker></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:40:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage7d2b16cf.file.core.windows.net/?prefix=listshare&marker=%2Fpyacrstorage7d2b16cf%2Flistshare27d2b16cf&maxresults=2&include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage7d2b16cf.file.core.windows.net/\"><Prefix>listshare</Prefix><Marker>/pyacrstorage7d2b16cf/listshare27d2b16cf</Marker><MaxResults>2</MaxResults><Shares><Share><Name>listshare27d2b16cf</Name><Properties><Last-Modified>Thu,
        05 Sep 2019 19:40:17 GMT</Last-Modified><Etag>\"0x8D73238E17C0FE1\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare37d2b16cf</Name><Properties><Last-Modified>Thu,
        05 Sep 2019 19:40:17 GMT</Last-Modified><Etag>\"0x8D73238E187AABF\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
