interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:24 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share7bd421e4?restype=share
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:00:21 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DC69E817F0"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:00:22 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:25 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share7bd421e4/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:00:21 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DC69EFD592"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:00:22 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:25 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share7bd421e4/dir1/filea1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:00:21 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DC69F8629F"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:00:22 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1/filea1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:25 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share7bd421e4/dir1/filea1?comp=range
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : Ahu8fuILcRNNU+ICBr1v6w==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:00:21 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DC69FE08FB"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:00:22 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1/filea1
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:25 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share7bd421e4/dir1/fileb1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:00:21 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DC6A1DCBC3"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:00:22 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1/fileb1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:25 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share7bd421e4/dir1/fileb1?comp=range
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : Ahu8fuILcRNNU+ICBr1v6w==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:00:21 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DC6A2323EA"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:00:22 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1/fileb1
        - comp=range
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:25 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://remoteremotestoragename.file.core.windows.net/share7bd421e4/dir1?maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://remoteremotestoragename.file.core.windows.net/\"
        ShareName=\"share7bd421e4\" DirectoryPath=\"dir1\"><MaxResults>2</MaxResults><Entries><File><Name>filea1</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>filea2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEz</NextMarker></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:00:21 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1
        - maxresults=2&restype=directory&comp=list
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:25 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://remoteremotestoragename.file.core.windows.net/share7bd421e4/dir1?marker=1!8!ZmlsZWEz&maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://remoteremotestoragename.file.core.windows.net/\"
        ShareName=\"share7bd421e4\" DirectoryPath=\"dir1\"><Marker>1!8!ZmlsZWEz</Marker><MaxResults>2</MaxResults><Entries><File><Name>filea3</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>fileb1</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:00:21 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1
        - marker=1!8!ZmlsZWEz&maxresults=2&restype=directory&comp=list
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:02:04 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share7bd421e4?restype=share
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:02:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DCA5576170"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:02:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:02:04 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share7bd421e4/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:02:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DCA55F7AFF"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:02:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:02:04 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share7bd421e4/dir1/filea1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:02:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DCA566F66E"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:02:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1/filea1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:02:04 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share7bd421e4/dir1/filea1?comp=range
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : Ahu8fuILcRNNU+ICBr1v6w==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:02:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DCA56C75A9"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:02:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1/filea1
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:02:05 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share7bd421e4/dir1/fileb1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:02:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DCA591DECE"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:02:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1/fileb1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:02:05 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share7bd421e4/dir1/fileb1?comp=range
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : Ahu8fuILcRNNU+ICBr1v6w==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:02:01 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DCA59736F4"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:02:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1/fileb1
        - comp=range
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:02:05 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://remotestoragename.file.core.windows.net/share7bd421e4/dir1?maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://remotestoragename.file.core.window[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:02:05 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://remotestoragename.file.core.windows.net/share7bd421e4/dir1?marker=1!8!ZmlsZWEz&maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://remotestoragen[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:27 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share7bd421e4?restype=share
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:12:23 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DE18808CBD"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:12:24 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:27 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:12:23 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DE1888E404"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:12:24 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:27 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1/filea1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:12:23 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DE1890D4B6"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:12:24 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1/filea1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:27 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1/filea1?comp=range
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : Ahu8fuILcRNNU+ICBr1v6w==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:12:23 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DE1896C93D"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:12:24 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1/filea1
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:27 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1/fileb1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:12:24 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DE18BBE42B"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:12:24 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1/fileb1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:27 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1/fileb1?comp=range
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : Ahu8fuILcRNNU+ICBr1v6w==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:12:24 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DE18C18A88"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:12:25 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /share7bd421e4/dir1/fileb1
        - comp=range
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:27 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1?maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" Sha[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:28 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/share7bd421e4/dir1?marker=1!8!ZmlsZWEz&maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.cor[...]
