interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 18:10:29 GMT
      x-ms-meta:
      - '{''hello'': ''world'', ''number'': ''42''}'
      x-ms-meta-hello:
      - world
      x-ms-meta-number:
      - '42'
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageba41919.file.core.windows.net/shareba41919?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D732F57F3FE0BA"'
      last-modified: Fri, 06 Sep 2019 18:10:27 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageba41919.file.core.windows.net
        - /shareba41919
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 18:10:29 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorageba41919.file.core.windows.net/?include=metadata&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorageba41919.file.core.windows.net/\"><Shares><Share><Name>shareba41919</Name><Properties><Last-Modified>Fri,
        06 Sep 2019 18:10:27 GMT</Last-Modified><Etag>\"0x8D732F57F3FE0BA\"</Etag><Quota>5120</Quota></Properties><Metadata><hello>world</hello><number>42</number></Metadata></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageba41919.file.core.windows.net
        - /
        - include=metadata&comp=list
        - ''
version: 1
