interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:17:17 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageba8b17d0.file.core.windows.net/utshareba8b17d0?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D2BE66690E"'
      last-modified: Mon, 14 Oct 2019 18:17:16 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageba8b17d0.file.core.windows.net
        - /utshareba8b17d0
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1024'
      x-ms-date:
      - Mon, 14 Oct 2019 18:17:17 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageba8b17d0.file.core.windows.net/utshareba8b17d0/fileba8b17d0
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D2C12407C0"'
      last-modified: Mon, 14 Oct 2019 18:17:20 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-10-14T18:17:20.9932736Z'
      x-ms-file-creation-time: '2019-10-14T18:17:20.9932736Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-10-14T18:17:20.9932736Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 2316782581985785885*9837608960490655891
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageba8b17d0.file.core.windows.net
        - /utshareba8b17d0/fileba8b17d0
        - ''
        - ''
- request:
    body: viscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelona
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:17:22 GMT
      x-ms-range:
      - bytes=0-1023
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorageba8b17d0.file.core.windows.net/utshareba8b17d0/fileba8b17d0?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: du4kJz1REW8y+U0MUsGZyA==
      etag: '"0x8D750D2C4D771F0"'
      last-modified: Mon, 14 Oct 2019 18:17:27 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageba8b17d0.file.core.windows.net
        - /utshareba8b17d0/fileba8b17d0
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:17:28 GMT
      x-ms-meta:
      - '{''test1'': ''foo'', ''test2'': ''bar''}'
      x-ms-meta-test1:
      - foo
      x-ms-meta-test2:
      - bar
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageba8b17d0.file.core.windows.net/utshareba8b17d0/fileba8b17d0?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D2C4E0EA27"'
      last-modified: Mon, 14 Oct 2019 18:17:27 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageba8b17d0.file.core.windows.net
        - /utshareba8b17d0/fileba8b17d0
        - comp=metadata
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:17:28 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageba8b17d0.file.core.windows.net/utshareba8b17d0?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D2BE66690E"'
      last-modified: Mon, 14 Oct 2019 18:17:16 GMT
      x-ms-snapshot: '2019-10-14T18:17:27.0000000Z'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageba8b17d0.file.core.windows.net
        - /utshareba8b17d0
        - restype=share&comp=snapshot
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:17:29 GMT
      x-ms-meta:
      - '{''test100'': ''foo100'', ''test200'': ''bar200''}'
      x-ms-meta-test100:
      - foo100
      x-ms-meta-test200:
      - bar200
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageba8b17d0.file.core.windows.net/utshareba8b17d0/fileba8b17d0?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D2C54B10B7"'
      last-modified: Mon, 14 Oct 2019 18:17:27 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageba8b17d0.file.core.windows.net
        - /utshareba8b17d0/fileba8b17d0
        - comp=metadata
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:17:29 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstorageba8b17d0.file.core.windows.net/utshareba8b17d0/fileba8b17d0
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D750D2C54B10B7"'
      last-modified: Mon, 14 Oct 2019 18:17:27 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-10-14T18:17:27.9599799Z'
      x-ms-file-creation-time: '2019-10-14T18:17:20.9932736Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-10-14T18:17:20.9932736Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 2316782581985785885*9837608960490655891
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-meta-test100: foo100
      x-ms-meta-test200: bar200
      x-ms-server-encrypted: 'true'
      x-ms-type: File
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageba8b17d0.file.core.windows.net
        - /utshareba8b17d0/fileba8b17d0
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:17:29 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstorageba8b17d0.file.core.windows.net/utshareba8b17d0/fileba8b17d0?sharesnapshot=2019-10-14T18:17:27.0000000Z
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D750D2C4E0EA27"'
      last-modified: Mon, 14 Oct 2019 18:17:27 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-10-14T18:17:27.2643111Z'
      x-ms-file-creation-time: '2019-10-14T18:17:20.9932736Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-10-14T18:17:20.9932736Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 2316782581985785885*9837608960490655891
      x-ms-meta-test1: foo
      x-ms-meta-test2: bar
      x-ms-server-encrypted: 'true'
      x-ms-type: File
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageba8b17d0.file.core.windows.net
        - /utshareba8b17d0/fileba8b17d0
        - sharesnapshot=2019-10-14T18:17:27.0000000Z
        - ''
version: 1
