interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 26 Jun 2019 04:58:51 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://blobstoragename.file.core.windows.net/utsharefcf21448/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F9F2FBB6763D"'
      Last-Modified:
      - Wed, 26 Jun 2019 04:58:51 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 26 Jun 2019 04:58:51 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://blobstoragename.file.core.windows.net/utsharefcf21448/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F9F2FBC8C915"'
      Last-Modified:
      - Wed, 26 Jun 2019 04:58:52 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Wed, 26 Jun 2019 04:58:51 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://blobstoragename.file.core.windows.net/utsharefcf21448/dir1/file1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6F9F2FC031D89"'
      Last-Modified:
      - Wed, 26 Jun 2019 04:58:52 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 26 Jun 2019 04:58:51 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://blobstoragename.file.core.windows.net/utsharefcf21448/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - idkDvDXe3nJP1SxRQ3/1/Q==
      ETag:
      - '"0x8D6F9F2FC1633D0"'
      Last-Modified:
      - Wed, 26 Jun 2019 04:58:52 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 26 Jun 2019 04:58:52 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://blobstoragename.file.core.windows.net/utsharefcf21448/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://blobstoragename.file.core.windows.net/\" ShareName=\"\
        utsharefcf21448\" DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file2</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file3</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties\
        \ /></Directory><Directory><Name>subdir2</Name><Properties /></Directory><Directory><Name>subdir3</Name><Properties\
        \ /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 26 Jun 2019 14:07:19 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FA3F9A6FEFA4"'
      Last-Modified:
      - Wed, 26 Jun 2019 14:07:20 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 26 Jun 2019 14:07:20 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FA3F9A7D5F8E"'
      Last-Modified:
      - Wed, 26 Jun 2019 14:07:20 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Wed, 26 Jun 2019 14:07:20 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1/file1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FA3F9AA7D280"'
      Last-Modified:
      - Wed, 26 Jun 2019 14:07:20 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 26 Jun 2019 14:07:20 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - idkDvDXe3nJP1SxRQ3/1/Q==
      ETag:
      - '"0x8D6FA3F9AB89E60"'
      Last-Modified:
      - Wed, 26 Jun 2019 14:07:20 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 26 Jun 2019 14:07:20 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        utsharefcf21448\" DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file2</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file3</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties\
        \ /></Directory><Directory><Name>subdir2</Name><Properties /></Directory><Directory><Name>subdir3</Name><Properties\
        \ /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
