interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      content-type:
      - application/xml; charset=utf-8
      x-ms-client-request-id:
      - f0b2d0b0-d9a6-11e9-9aaa-001a7dda7113
      x-ms-date:
      - Tue, 17 Sep 2019 23:57:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare5db41615?restype=share
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-date:
      - Thu, 12 Sep 2019 07:11:14 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage5db41615.file.core.windows.net/utshare5db41615?restype=share
>>>>>>> ,pre recordingd and fixes
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Tue, 17 Sep 2019 23:57:43 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73BCAD4DEE40C"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Tue, 17 Sep 2019 23:57:43 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-id: 28d8225e-a01a-00e5-3eb3-6d02b6000000
=======
      content-length: '0'
      date: Thu, 12 Sep 2019 07:11:13 GMT
      etag: '"0x8D7375065923EEB"'
      last-modified: Thu, 12 Sep 2019 07:11:13 GMT
      server: Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
>>>>>>> ,pre recordingd and fixes
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
<<<<<<< HEAD
        - emilydevtest.file.core.windows.net
=======
        - pyacrstorage5db41615.file.core.windows.net
>>>>>>> ,pre recordingd and fixes
        - /utshare5db41615
        - restype=share
        - ''
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      content-type:
      - application/xml; charset=utf-8
      x-ms-client-request-id:
      - f0bb8c5e-d9a6-11e9-8ac7-001a7dda7113
      x-ms-content-length:
      - '2048'
      x-ms-date:
      - Tue, 17 Sep 2019 23:57:43 GMT
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-content-length:
      - '2048'
      x-ms-date:
      - Thu, 12 Sep 2019 07:11:15 GMT
>>>>>>> ,pre recordingd and fixes
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
<<<<<<< HEAD
    uri: https://storagename.file.core.windows.net/utshare5db41615/file5db41615
=======
    uri: https://pyacrstorage5db41615.file.core.windows.net/utshare5db41615/file5db41615
>>>>>>> ,pre recordingd and fixes
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Tue, 17 Sep 2019 23:57:42 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73BCAD4E7A44B"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Tue, 17 Sep 2019 23:57:43 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-09-17T23:57:43.7597771Z'
      x-ms-file-creation-time: '2019-09-17T23:57:43.7597771Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-09-17T23:57:43.7597771Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 4099112195243312672*10394889115079208622
      x-ms-request-id: 763184dd-101a-00bd-4eb3-6ddae9000000
=======
      content-length: '0'
      date: Thu, 12 Sep 2019 07:11:13 GMT
      etag: '"0x8D7375065B94D73"'
      last-modified: Thu, 12 Sep 2019 07:11:13 GMT
      server: Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-09-12T07:11:13.9768691Z'
      x-ms-file-creation-time: '2019-09-12T07:11:13.9768691Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-09-12T07:11:13.9768691Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 6692777138468208547*17600468774885873453
>>>>>>> ,pre recordingd and fixes
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
<<<<<<< HEAD
        - emilydevtest.file.core.windows.net
=======
        - pyacrstorage5db41615.file.core.windows.net
>>>>>>> ,pre recordingd and fixes
        - /utshare5db41615/file5db41615
        - ''
        - ''
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      Content-Type:
      - application/octet-stream
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      x-ms-client-request-id:
      - f0c2b48a-d9a6-11e9-8eab-001a7dda7113
      x-ms-date:
      - Tue, 17 Sep 2019 23:57:43 GMT
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-date:
      - Thu, 12 Sep 2019 07:11:15 GMT
>>>>>>> ,pre recordingd and fixes
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
<<<<<<< HEAD
    uri: https://storagename.file.core.windows.net/utshare5db41615/file5db41615?comp=range
=======
    uri: https://pyacrstorage5db41615.file.core.windows.net/utshare5db41615/file5db41615?comp=range
>>>>>>> ,pre recordingd and fixes
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : pTsTLZHyQ+et6NksJ1OHxg==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Tue, 17 Sep 2019 23:57:42 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73BCAD4EA15E2"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Tue, 17 Sep 2019 23:57:43 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-id: 763184de-101a-00bd-4fb3-6ddae9000000
=======
      content-length: '0'
      content-md5: pTsTLZHyQ+et6NksJ1OHxg==
      date: Thu, 12 Sep 2019 07:11:13 GMT
      etag: '"0x8D7375065C2EC23"'
      last-modified: Thu, 12 Sep 2019 07:11:14 GMT
      server: Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
>>>>>>> ,pre recordingd and fixes
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
<<<<<<< HEAD
        - emilydevtest.file.core.windows.net
=======
        - pyacrstorage5db41615.file.core.windows.net
>>>>>>> ,pre recordingd and fixes
        - /utshare5db41615/file5db41615
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      content-type:
      - application/xml; charset=utf-8
      x-ms-client-request-id:
      - f0c917a6-d9a6-11e9-b12d-001a7dda7113
      x-ms-date:
      - Tue, 17 Sep 2019 23:57:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare5db41615?restype=share&comp=snapshot
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-date:
      - Thu, 12 Sep 2019 07:11:15 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage5db41615.file.core.windows.net/utshare5db41615?restype=share&comp=snapshot
>>>>>>> ,pre recordingd and fixes
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Tue, 17 Sep 2019 23:57:43 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73BCAD4DEE40C"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Tue, 17 Sep 2019 23:57:43 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-id: c5e31a37-f01a-0051-08b3-6dce78000000
      x-ms-snapshot: '2019-09-17T23:57:43.0000000Z'
=======
      content-length: '0'
      date: Thu, 12 Sep 2019 07:11:14 GMT
      etag: '"0x8D7375065923EEB"'
      last-modified: Thu, 12 Sep 2019 07:11:13 GMT
      server: Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-snapshot: '2019-09-12T07:11:14.0000000Z'
>>>>>>> ,pre recordingd and fixes
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
<<<<<<< HEAD
        - emilydevtest.file.core.windows.net
=======
        - pyacrstorage5db41615.file.core.windows.net
>>>>>>> ,pre recordingd and fixes
        - /utshare5db41615
        - restype=share&comp=snapshot
        - ''
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      content-type:
      - application/xml; charset=utf-8
      x-ms-client-request-id:
      - f0dd8c66-d9a6-11e9-9c17-001a7dda7113
      x-ms-date:
      - Tue, 17 Sep 2019 23:57:44 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare5db41615/file5db41615?sharesnapshot=2019-09-17T23:57:43.0000000Z&comp=rangelist
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-date:
      - Thu, 12 Sep 2019 07:11:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage5db41615.file.core.windows.net/utshare5db41615/file5db41615?sharesnapshot=2019-09-12T07:11:14.0000000Z&comp=rangelist
>>>>>>> ,pre recordingd and fixes
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>511</End></Range><Range><Start>1024</Start><End>1535</End></Range></Ranges>"
    headers:
<<<<<<< HEAD
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Tue, 17 Sep 2019 23:57:43 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73BCAD4EC8779"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Tue, 17 Sep 2019 23:57:43 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      x-ms-content-length: '2048'
      x-ms-request-id: 91af88e7-901a-009c-3bb3-6dfe92000000
=======
      content-type: application/xml
      date: Thu, 12 Sep 2019 07:11:13 GMT
      etag: '"0x8D7375065CEAE19"'
      last-modified: Thu, 12 Sep 2019 07:11:14 GMT
      server: Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding: chunked
      x-ms-content-length: '2048'
>>>>>>> ,pre recordingd and fixes
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
<<<<<<< HEAD
        - emilydevtest.file.core.windows.net
        - /utshare5db41615/file5db41615
        - sharesnapshot=2019-09-17T23:57:43.0000000Z&comp=rangelist
=======
        - pyacrstorage5db41615.file.core.windows.net
        - /utshare5db41615/file5db41615
        - sharesnapshot=2019-09-12T07:11:14.0000000Z&comp=rangelist
>>>>>>> ,pre recordingd and fixes
        - ''
version: 1
