interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 21:11:47 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e?restype=share
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 21:11:46 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7178E072B8175"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 21:11:46 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share8ecc1b3e
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 21:11:47 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 21:11:46 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7178E0739E772"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 21:11:47 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share8ecc1b3e/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 21:11:47 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1%2Fpref_dir3?restype=directory
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 21:11:46 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7178E0743AD36"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 21:11:47 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share8ecc1b3e/dir1%2Fpref_dir3
        - restype=directory
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 21:11:47 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/file1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 21:11:46 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7178E0759F85D"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 21:11:47 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share8ecc1b3e/file1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 21:11:47 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/file1?comp=range
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : Ahu8fuILcRNNU+ICBr1v6w==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 21:11:46 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7178E0760B04F"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 21:11:47 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share8ecc1b3e/file1
        - comp=range
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 21:11:47 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1/pref_file2
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 21:11:46 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7178E07691648"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 21:11:47 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share8ecc1b3e/dir1/pref_file2
        - ''
        - ''
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 21:11:47 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1/pref_file2?comp=range
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : grijQ0kEQRqf3EPKh87nDA==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 21:11:46 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7178E076F8011"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 21:11:47 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share8ecc1b3e/dir1/pref_file2
        - comp=range
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 21:11:47 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1/file3
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 21:11:47 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7178E07780D1C"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 21:11:47 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share8ecc1b3e/dir1/file3
        - ''
        - ''
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 21:11:47 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1/file3?comp=range
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : grijQ0kEQRqf3EPKh87nDA==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 21:11:47 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7178E077FD6B4"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 21:11:47 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share8ecc1b3e/dir1/file3
        - comp=range
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 21:11:47 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/share8ecc1b3e/dir1?prefix=pref&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"share8ecc1b3e\"
        DirectoryPath=\"dir1\"><Prefix>pref</Prefix><Entries><Directory><Name>pref_dir3</Name><Properties
        /></Directory><File><Name>pref_file2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 21:11:47 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /share8ecc1b3e/dir1
        - prefix=pref&restype=directory&comp=list
        - ''
version: 1
