interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:07 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB3586ADCF"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:06 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:08 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB35ACE045"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:06 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:08 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1/filea1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB35BC2628"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:06 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:08 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1/filea1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      etag:
      - '"0x8D72CBB35CB44FE"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:06 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:08 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1/fileb1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB361EA914"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:07 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:08 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1/fileb1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      etag:
      - '"0x8D72CBB3630125B"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:07 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:09 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1?maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorageffa41cea.file.core.windows.net/\" ShareName=\"shareffa41cea\"
        DirectoryPath=\"dir1\"><MaxResults>2</MaxResults><Entries><File><Name>filea1</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>filea2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEz</NextMarker></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:09 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1?marker=1%218%21ZmlsZWEz&maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorageffa41cea.file.core.windows.net/\" ShareName=\"shareffa41cea\"
        DirectoryPath=\"dir1\"><Marker>1!8!ZmlsZWEz</Marker><MaxResults>2</MaxResults><Entries><File><Name>filea3</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>fileb1</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
