interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:10:46 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragefcf21448.file.core.windows.net/utsharefcf21448?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D1D5876771"'
      last-modified:
      - Mon, 14 Oct 2019 18:10:45 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:10:47 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragefcf21448.file.core.windows.net/utsharefcf21448/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D1D5B1D385"'
      last-modified:
      - Mon, 14 Oct 2019 18:10:45 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-10-14T18:10:45.9802501Z'
      x-ms-file-creation-time:
      - '2019-10-14T18:10:45.9802501Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-10-14T18:10:45.9802501Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 8412106732083577378*2046578799727351211
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:10:47 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragefcf21448.file.core.windows.net/utsharefcf21448/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D1D5CA690F"'
      last-modified:
      - Mon, 14 Oct 2019 18:10:46 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-10-14T18:10:46.1413647Z'
      x-ms-file-creation-time:
      - '2019-10-14T18:10:46.1413647Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2019-10-14T18:10:46.1413647Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 8412106732083577378*2046578799727351211
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Mon, 14 Oct 2019 18:10:47 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragefcf21448.file.core.windows.net/utsharefcf21448/dir1/file1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D1D6103161"'
      last-modified:
      - Mon, 14 Oct 2019 18:10:46 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-10-14T18:10:46.5986913Z'
      x-ms-file-creation-time:
      - '2019-10-14T18:10:46.5986913Z'
      x-ms-file-id:
      - '14988049928633188352'
      x-ms-file-last-write-time:
      - '2019-10-14T18:10:46.5986913Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 13026099877224250661*2046578799727351211
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:10:47 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstoragefcf21448.file.core.windows.net/utsharefcf21448/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - idkDvDXe3nJP1SxRQ3/1/Q==
      etag:
      - '"0x8D750D1D6251CC9"'
      last-modified:
      - Mon, 14 Oct 2019 18:10:46 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:10:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragefcf21448.file.core.windows.net/utsharefcf21448/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragefcf21448.file.core.windows.net/\" ShareName=\"utsharefcf21448\"
        DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file2</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file3</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory><Directory><Name>subdir3</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
