interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Sep 2019 07:09:49 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pytestremote.file.core.windows.net/remoteshare71b41138?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:b7950324-001a-0128-0639-690089000000\nTime:2019-09-12T07:09:49.1724813Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'v7nYUwZQS0/6kp8BUUvZUxJCO5KS+A8Ts7Ct7FK5gyI='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\n\n\n\n\n\n\n\nx-ms-client-request-id:4f23ba5e-d52c-11e9-85ca-2816a845e8c6\nx-ms-date:Thu,
        12 Sep 2019 07:09:49 GMT\nx-ms-version:2019-02-02\n/pytestremote/remoteshare71b41138\nrestype:share'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pytestremote.file.core.windows.net
        - /remoteshare71b41138
        - restype=share
        - ''
version: 1
