interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 18:22:30 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage61aa1e4a.file.core.windows.net/utshare61aa1e4a?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7272DB01E86F0"'
      last-modified: Thu, 22 Aug 2019 18:22:27 GMT
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage61aa1e4a.file.core.windows.net
        - /utshare61aa1e4a
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 18:22:30 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage61aa1e4a.file.core.windows.net/utshare61aa1e4a/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7272DB037EF56"'
      last-modified: Thu, 22 Aug 2019 18:22:27 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage61aa1e4a.file.core.windows.net
        - /utshare61aa1e4a/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 18:22:30 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage61aa1e4a.file.core.windows.net/utshare61aa1e4a/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7272DB0407C5F"'
      last-modified: Thu, 22 Aug 2019 18:22:28 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage61aa1e4a.file.core.windows.net
        - /utshare61aa1e4a/dir1%2Fsubdir1
        - restype=directory
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Thu, 22 Aug 2019 18:22:30 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage61aa1e4a.file.core.windows.net/utshare61aa1e4a/dir1/file1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7272DB05B836B"'
      last-modified: Thu, 22 Aug 2019 18:22:28 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage61aa1e4a.file.core.windows.net
        - /utshare61aa1e4a/dir1/file1
        - ''
        - ''
[...]
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 22 Aug 2019 18:22:30 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage61aa1e4a.file.core.windows.net/utshare61aa1e4a/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: idkDvDXe3nJP1SxRQ3/1/Q==
      etag: '"0x8D7272DB0608D61"'
      last-modified: Thu, 22 Aug 2019 18:22:28 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage61aa1e4a.file.core.windows.net
        - /utshare61aa1e4a/dir1/file1
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 18:22:30 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorage61aa1e4a.file.core.windows.net/utshare61aa1e4a/dir1?prefix=sub&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage61aa1e4a.file.core.windows.net/\" ShareName=\"utshare61aa1e4a\"
        DirectoryPath=\"dir1\"><Prefix>sub</Prefix><Entries><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory><Directory><Name>subdir3</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage61aa1e4a.file.core.windows.net
        - /utshare61aa1e4a/dir1
        - prefix=sub&restype=directory&comp=list
        - ''
version: 1
