interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 03:24:44 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73279C33BF0E9"'
      Last-Modified:
      - Fri, 06 Sep 2019 03:24:44 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-09-06T03:24:44.4131561Z'
      x-ms-file-creation-time:
      - '2019-09-06T03:24:44.4131561Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-09-06T03:24:44.4131561Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 17913408918638655783*10394889115079208622
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 03:24:44 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73279C3487711"'
      Last-Modified:
      - Fri, 06 Sep 2019 03:24:44 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-09-06T03:24:44.4952337Z'
      x-ms-file-creation-time:
      - '2019-09-06T03:24:44.4952337Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2019-09-06T03:24:44.4952337Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 17913408918638655783*10394889115079208622
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Fri, 06 Sep 2019 03:24:44 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1/file1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D73279C3692663"'
      Last-Modified:
      - Fri, 06 Sep 2019 03:24:44 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-09-06T03:24:44.7094371Z'
      x-ms-file-creation-time:
      - '2019-09-06T03:24:44.7094371Z'
      x-ms-file-id:
      - '14988049928633188352'
      x-ms-file-last-write-time:
      - '2019-09-06T03:24:44.7094371Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 4099112195243312672*10394889115079208622
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 06 Sep 2019 03:24:44 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - idkDvDXe3nJP1SxRQ3/1/Q==
      ETag:
      - '"0x8D73279C37165BA"'
      Last-Modified:
      - Fri, 06 Sep 2019 03:24:44 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 03:24:45 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utsharefcf21448/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utsharefcf21448\"
        DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file2</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file3</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory><Directory><Name>subdir3</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
