interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 03:05:54 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorageaf571bc9.file.core.windows.net/listshare0af571bc9?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D72776D0402C4A"'
      last-modified: Fri, 23 Aug 2019 03:05:54 GMT
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaf571bc9.file.core.windows.net
        - /listshare0af571bc9
        - restype=share
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 03:05:55 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorageaf571bc9.file.core.windows.net/?maxresults=2&include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorageaf571bc9.file.core.windows.net/\"><MaxResults>2</MaxResults><Shares><Share><Name>listshare0af571bc9</Name><Properties><Last-Modified>Fri,
        23 Aug 2019 03:05:54 GMT</Last-Modified><Etag>\"0x8D72776D0402C4A\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare1af571bc9</Name><Properties><Last-Modified>Fri,
        23 Aug 2019 03:05:55 GMT</Last-Modified><Etag>\"0x8D72776D04D9C31\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker>/pyacrstorageaf571bc9/listshare2af571bc9</NextMarker></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaf571bc9.file.core.windows.net
        - /
        - maxresults=2&include=&comp=list
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 03:05:55 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorageaf571bc9.file.core.windows.net/?marker=/pyacrstorageaf571bc9/listshare2af571bc9&maxresults=2&include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorageaf571bc9.file.core.windows.net/\"><Marker>/pyacrstorageaf571bc9/listshare2af571bc9</Marker><MaxResults>2</MaxResults><Shares><Share><Name>listshare2af571bc9</Name><Properties><Last-Modified>Fri,
        23 Aug 2019 03:05:55 GMT</Last-Modified><Etag>\"0x8D72776D05C6BEB\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare3af571bc9</Name><Properties><Last-Modified>Fri,
        23 Aug 2019 03:05:55 GMT</Last-Modified><Etag>\"0x8D72776D066CE06\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorageaf571bc9.file.core.windows.net
        - /
        - marker=/pyacrstorageaf571bc9/listshare2af571bc9&maxresults=2&include=&comp=list
        - ''
version: 1
