interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 18:08:13 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage90471726.file.core.windows.net/share90471726?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D732F52E6C33B0"'
      last-modified:
      - Fri, 06 Sep 2019 18:08:12 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 18:08:13 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage90471726.file.core.windows.net/share90471726/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D732F52E87A76B"'
      last-modified:
      - Fri, 06 Sep 2019 18:08:12 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-09-06T18:08:12.5233003Z'
      x-ms-file-creation-time:
      - '2019-09-06T18:08:12.5233003Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-09-06T18:08:12.5233003Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 16857740945476498777*9307141633897439952
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 18:08:14 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage90471726.file.core.windows.net/share90471726?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D732F52E6C33B0"'
      last-modified:
      - Fri, 06 Sep 2019 18:08:12 GMT
      x-ms-snapshot:
      - '2019-09-06T18:08:12.0000000Z'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 06 Sep 2019 18:08:14 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage90471726.file.core.windows.net/share90471726/file1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D732F52ED5D5BE"'
      last-modified:
      - Fri, 06 Sep 2019 18:08:13 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-09-06T18:08:13.0356670Z'
      x-ms-file-creation-time:
      - '2019-09-06T18:08:13.0356670Z'
      x-ms-file-id:
      - '10376363910205800448'
      x-ms-file-last-write-time:
      - '2019-09-06T18:08:13.0356670Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 2993051248788851294*9307141633897439952
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: data
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 06 Sep 2019 18:08:14 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage90471726.file.core.windows.net/share90471726/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - jXd/OF09/siBXSD3SWAm3A==
      etag:
      - '"0x8D732F52EE43040"'
      last-modified:
      - Fri, 06 Sep 2019 18:08:13 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 18:08:14 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage90471726.file.core.windows.net/share90471726?sharesnapshot=2019-09-06T18:08:12.0000000Z&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage90471726.file.core.windows.net/\" ShareName=\"share90471726\"
        ShareSnapshot=\"2019-09-06T18:08:12.0000000Z\" DirectoryPath=\"\"><Entries><Directory><Name>dir1</Name><Properties
        /></Directory><Directory><Name>dir2</Name><Properties /></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
