interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 17:51:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://amqptest.file.core.windows.net/utshare11ad1942?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D73229B614AB62"'
      last-modified: Thu, 05 Sep 2019 17:51:42 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /utshare11ad1942
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 17:51:43 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://amqptest.file.core.windows.net/utshare11ad1942/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D73229B632D665"'
      last-modified: Thu, 05 Sep 2019 17:51:42 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2019-09-05T17:51:42.8047461Z'
      x-ms-file-creation-time: '2019-09-05T17:51:42.8047461Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-09-05T17:51:42.8047461Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 17360570244679638438*10967959146200238639
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /utshare11ad1942/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 17:51:43 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://amqptest.file.core.windows.net/utshare11ad1942/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D73229B64B6BF4"'
      last-modified: Thu, 05 Sep 2019 17:51:42 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2019-09-05T17:51:42.9658612Z'
      x-ms-file-creation-time: '2019-09-05T17:51:42.9658612Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2019-09-05T17:51:42.9658612Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 17360570244679638438*10967959146200238639
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /utshare11ad1942/dir1%2Fsubdir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Thu, 05 Sep 2019 17:51:43 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://amqptest.file.core.windows.net/utshare11ad1942/dir1/file2
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D73229B66A1D1B"'
      last-modified: Thu, 05 Sep 2019 17:51:43 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-09-05T17:51:43.1670043Z'
      x-ms-file-creation-time: '2019-09-05T17:51:43.1670043Z'
      x-ms-file-id: '13835093239654252544'
      x-ms-file-last-write-time: '2019-09-05T17:51:43.1670043Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 3501246319223038625*10967959146200238639
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /utshare11ad1942/dir1/file2
        - ''
        - ''
[...]
- request:
    body: data2
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 05 Sep 2019 17:51:43 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://amqptest.file.core.windows.net/utshare11ad1942/dir1/file2?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: /5zy1pDYiMszf2v0UmthMA==
      etag: '"0x8D73229B672AA2E"'
      last-modified: Thu, 05 Sep 2019 17:51:43 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /utshare11ad1942/dir1/file2
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 17:51:43 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://amqptest.file.core.windows.net/utshare11ad1942/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://amqptest.file.core.windows.net/\" ShareName=\"utshare11ad1942\"
        DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file2</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file3</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory><Directory><Name>subdir3</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /utshare11ad1942/dir1
        - restype=directory&comp=list
        - ''
version: 1
