interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 18:10:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage1e691d71.file.core.windows.net/share1e691d71?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D732F5720BBA10"'
      last-modified: Fri, 06 Sep 2019 18:10:05 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1e691d71.file.core.windows.net
        - /share1e691d71
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 18:10:07 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage1e691d71.file.core.windows.net/share1e691d71/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D732F57215A7AB"'
      last-modified: Fri, 06 Sep 2019 18:10:05 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2019-09-06T18:10:05.8612651Z'
      x-ms-file-creation-time: '2019-09-06T18:10:05.8612651Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-09-06T18:10:05.8612651Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 9400487767235928301*16910484172229523300
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1e691d71.file.core.windows.net
        - /share1e691d71/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 06 Sep 2019 18:10:07 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage1e691d71.file.core.windows.net/share1e691d71/filea1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D732F572227B40"'
      last-modified: Fri, 06 Sep 2019 18:10:05 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-09-06T18:10:05.9453248Z'
      x-ms-file-creation-time: '2019-09-06T18:10:05.9453248Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2019-09-06T18:10:05.9453248Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 4760009603863207914*16910484172229523300
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1e691d71.file.core.windows.net
        - /share1e691d71/filea1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 06 Sep 2019 18:10:07 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage1e691d71.file.core.windows.net/share1e691d71/filea1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: Ahu8fuILcRNNU+ICBr1v6w==
      etag: '"0x8D732F5722D52A7"'
      last-modified: Fri, 06 Sep 2019 18:10:06 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1e691d71.file.core.windows.net
        - /share1e691d71/filea1
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 06 Sep 2019 18:10:07 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage1e691d71.file.core.windows.net/share1e691d71/fileb1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D732F57253310A"'
      last-modified: Fri, 06 Sep 2019 18:10:06 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-09-06T18:10:06.2645514Z'
      x-ms-file-creation-time: '2019-09-06T18:10:06.2645514Z'
      x-ms-file-id: '14988049928633188352'
      x-ms-file-last-write-time: '2019-09-06T18:10:06.2645514Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 4760009603863207914*16910484172229523300
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1e691d71.file.core.windows.net
        - /share1e691d71/fileb1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 06 Sep 2019 18:10:07 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage1e691d71.file.core.windows.net/share1e691d71/fileb1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: Ahu8fuILcRNNU+ICBr1v6w==
      etag: '"0x8D732F5725B6FEA"'
      last-modified: Fri, 06 Sep 2019 18:10:06 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1e691d71.file.core.windows.net
        - /share1e691d71/fileb1
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 18:10:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage1e691d71.file.core.windows.net/share1e691d71?maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage1e691d71.file.core.windows.net/\" ShareName=\"share1e691d71\"
        DirectoryPath=\"\"><MaxResults>2</MaxResults><Entries><Directory><Name>dir1</Name><Properties
        /></Directory><File><Name>filea1</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEy</NextMarker></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage1e691d71.file.core.windows.net
        - /share1e691d71
        - maxresults=2&restype=directory&comp=list
        - ''
version: 1
