interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 26 Jun 2019 22:14:12 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FA839E6352F8"'
      Last-Modified:
      - Wed, 26 Jun 2019 22:14:12 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-06-26T22:13:13Z</Start><Expiry>2019-06-26T23:14:13Z</Expiry><Permission>w</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 26 Jun 2019 22:14:13 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FA839E9DD993"'
      Last-Modified:
      - Wed, 26 Jun 2019 22:14:12 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 26 Jun 2019 22:14:13 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-06-26T22:13:13.0000000Z</Start><Expiry>2019-06-26T23:14:13.0000000Z</Expiry><Permission>w</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      Content-Type:
      - application/xml
      ETag:
      - '"0x8D6FA839E9DD993"'
      Last-Modified:
      - Wed, 26 Jun 2019 22:14:12 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
