interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 17:50:57 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage44f21a32.file.core.windows.net/utshare44f21a32?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D732299AE7EA9E"'
      last-modified:
      - Thu, 05 Sep 2019 17:50:57 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 17:50:57 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage44f21a32.file.core.windows.net/utshare44f21a32/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D732299B050D09"'
      last-modified:
      - Thu, 05 Sep 2019 17:50:57 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-09-05T17:50:57.2061961Z'
      x-ms-file-creation-time:
      - '2019-09-05T17:50:57.2061961Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-09-05T17:50:57.2061961Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 12506053365553884320*14219354229015935785
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 17:50:57 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage44f21a32.file.core.windows.net/utshare44f21a32/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D732299B15D8F8"'
      last-modified:
      - Thu, 05 Sep 2019 17:50:57 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-09-05T17:50:57.3162744Z'
      x-ms-file-creation-time:
      - '2019-09-05T17:50:57.3162744Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2019-09-05T17:50:57.3162744Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 12506053365553884320*14219354229015935785
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Thu, 05 Sep 2019 17:50:58 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage44f21a32.file.core.windows.net/utshare44f21a32/dir1/file1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D732299B34630C"'
      last-modified:
      - Thu, 05 Sep 2019 17:50:57 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-09-05T17:50:57.5164172Z'
      x-ms-file-creation-time:
      - '2019-09-05T17:50:57.5164172Z'
      x-ms-file-id:
      - '10376363910205800448'
      x-ms-file-last-write-time:
      - '2019-09-05T17:50:57.5164172Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 7923418429881357223*14219354229015935785
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 05 Sep 2019 17:50:58 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage44f21a32.file.core.windows.net/utshare44f21a32/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - idkDvDXe3nJP1SxRQ3/1/Q==
      etag:
      - '"0x8D732299B41ABE5"'
      last-modified:
      - Thu, 05 Sep 2019 17:50:57 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 17:50:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage44f21a32.file.core.windows.net/utshare44f21a32?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D732299AE7EA9E"'
      last-modified:
      - Thu, 05 Sep 2019 17:50:57 GMT
      x-ms-snapshot:
      - '2019-09-05T17:50:57.0000000Z'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 17:50:58 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage44f21a32.file.core.windows.net/utshare44f21a32/dir1?sharesnapshot=2019-09-05T17:50:57.0000000Z&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage44f21a32.file.core.windows.net/\" ShareName=\"utshare44f21a32\"
        ShareSnapshot=\"2019-09-05T17:50:57.0000000Z\" DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
