interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 00:31:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoraged0ef1367.file.core.windows.net/testshare?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D73198572BA04D"'
      last-modified:
      - Thu, 05 Sep 2019 00:31:06 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 00:31:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoraged0ef1367.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoraged0ef1367.file.core.windows.net/\"><Shares><Share><Name>testshare</Name><Properties><Last-Modified>Thu,
        05 Sep 2019 00:31:06 GMT</Last-Modified><Etag>\"0x8D73198572BA04D\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 00:31:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstoraged0ef1367.file.core.windows.net/testshare?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
version: 1
