interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:03 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share90471726?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DC5D1BFA6D"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:00:00 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:03 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share90471726/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DC5D2CE0DA"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:00:00 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:03 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share90471726?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DC5D1BFA6D"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:00:00 GMT
      x-ms-snapshot:
      - '2019-08-02T00:00:00.0000000Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:04 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share90471726/file1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DC5D6C8D85"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:00:01 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: data
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:04 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share90471726/file1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - jXd/OF09/siBXSD3SWAm3A==
      ETag:
      - '"0x8D716DC5D7939FC"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:00:01 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:04 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://remoteremotestoragename.file.core.windows.net/share90471726?sharesnapshot=2019-08-02T00:00:00.0000000Z&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://remoteremotestoragename.file.core.windows.net/\"
        ShareName=\"share90471726\" ShareSnapshot=\"2019-08-02T00:00:00.0000000Z\"
        DirectoryPath=\"\"><Entries><Directory><Name>dir1</Name><Properties /></Directory><Directory><Name>dir2</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:05 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share90471726?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DCEDB4E18D"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:03 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:06 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share90471726/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DCEDC3B393"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:03 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:06 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share90471726?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DCEDB4E18D"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:03 GMT
      x-ms-snapshot:
      - '2019-08-02T00:04:03.0000000Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:06 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share90471726/file1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DCEE04C01F"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:03 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: data
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:06 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share90471726/file1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - jXd/OF09/siBXSD3SWAm3A==
      ETag:
      - '"0x8D716DCEE147A70"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:03 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:06 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://remotestoragename.file.core.windows.net/share90471726?sharesnapshot=2019-08-02T00:04:03.0000000Z&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://remotestoragename.file.core.windows.net/\" ShareName=\"share90471726\"
        ShareSnapshot=\"2019-08-02T00:04:03.0000000Z\" DirectoryPath=\"\"><Entries><Directory><Name>dir1</Name><Properties
        /></Directory><Directory><Name>dir2</Name><Properties /></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:08 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share90471726?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DE0D621B14"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:05 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:08 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share90471726/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DE0D6F5C17"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:06 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:09 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share90471726?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DE0D621B14"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:05 GMT
      x-ms-snapshot:
      - '2019-08-02T00:12:06.0000000Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:09 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share90471726/file1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DE0DA2D18E"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:06 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: data
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:09 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share90471726/file1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - jXd/OF09/siBXSD3SWAm3A==
      ETag:
      - '"0x8D716DE0DAF7E18"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:06 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:09 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/share90471726?sharesnapshot=2019-08-02T00:12:06.0000000Z&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"share90471726\"
        ShareSnapshot=\"2019-08-02T00:12:06.0000000Z\" DirectoryPath=\"\"><Entries><Directory><Name>dir1</Name><Properties
        /></Directory><Directory><Name>dir2</Name><Properties /></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
