interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      content-type:
      - application/xml; charset=utf-8
      x-ms-client-request-id:
      - a21ec32c-d9a9-11e9-96bf-001a7dda7113
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:00 GMT
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-date:
      - Wed, 11 Sep 2019 22:02:31 GMT
>>>>>>> Migrate Files to Devtools Framework
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage635f1636.file.core.windows.net/share635f1636?restype=share
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 18 Sep 2019 00:16:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73BCD864A70EF"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Wed, 18 Sep 2019 00:17:00 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-id: ac78800c-501a-0083-0db6-6d4d96000000
=======
      content-length: '0'
      date: Wed, 11 Sep 2019 22:02:33 GMT
      etag: '"0x8D73703BF9C38B4"'
      last-modified: Wed, 11 Sep 2019 22:02:33 GMT
      server: Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
>>>>>>> Migrate Files to Devtools Framework
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
<<<<<<< HEAD
        - emilydevtest.file.core.windows.net
=======
        - pyacrstorage635f1636.file.core.windows.net
>>>>>>> Migrate Files to Devtools Framework
        - /share635f1636
        - restype=share
        - ''
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      content-type:
      - application/xml; charset=utf-8
      x-ms-client-request-id:
      - a22922e2-d9a9-11e9-9ea2-001a7dda7113
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:00 GMT
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Wed, 11 Sep 2019 22:02:35 GMT
>>>>>>> Migrate Files to Devtools Framework
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage635f1636.file.core.windows.net/share635f1636/file1
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 18 Sep 2019 00:16:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73BCD86511C4B"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Wed, 18 Sep 2019 00:17:00 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-09-18T00:17:00.4011595Z'
      x-ms-file-creation-time: '2019-09-18T00:17:00.4011595Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-09-18T00:17:00.4011595Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 4099112195243312672*10394889115079208622
      x-ms-request-id: ac78800f-501a-0083-0eb6-6d4d96000000
=======
      content-length: '0'
      date: Wed, 11 Sep 2019 22:02:33 GMT
      etag: '"0x8D73703C00554EE"'
      last-modified: Wed, 11 Sep 2019 22:02:34 GMT
      server: Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-09-11T22:02:34.2218990Z'
      x-ms-file-creation-time: '2019-09-11T22:02:34.2218990Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-09-11T22:02:34.2218990Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 3917045604437409573*11456256371135272875
>>>>>>> Migrate Files to Devtools Framework
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
<<<<<<< HEAD
        - emilydevtest.file.core.windows.net
=======
        - pyacrstorage635f1636.file.core.windows.net
>>>>>>> Migrate Files to Devtools Framework
        - /share635f1636/file1
        - ''
        - ''
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      x-ms-client-request-id:
      - a22ca1ac-d9a9-11e9-837b-001a7dda7113
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:00 GMT
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-date:
      - Wed, 11 Sep 2019 22:02:35 GMT
>>>>>>> Migrate Files to Devtools Framework
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage635f1636.file.core.windows.net/share635f1636/file1?comp=range
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : idkDvDXe3nJP1SxRQ3/1/Q==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 18 Sep 2019 00:16:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73BCD86538DE3"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Wed, 18 Sep 2019 00:17:00 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-id: ac788010-501a-0083-0fb6-6d4d96000000
=======
      content-length: '0'
      content-md5: idkDvDXe3nJP1SxRQ3/1/Q==
      date: Wed, 11 Sep 2019 22:02:33 GMT
      etag: '"0x8D73703C00D93C3"'
      last-modified: Wed, 11 Sep 2019 22:02:34 GMT
      server: Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
>>>>>>> Migrate Files to Devtools Framework
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
<<<<<<< HEAD
        - emilydevtest.file.core.windows.net
=======
        - pyacrstorage635f1636.file.core.windows.net
>>>>>>> Migrate Files to Devtools Framework
        - /share635f1636/file1
        - comp=range
        - ''
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      content-type:
      - application/xml; charset=utf-8
      x-ms-client-request-id:
      - a23021a8-d9a9-11e9-b3c2-001a7dda7113
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:00 GMT
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-date:
      - Wed, 11 Sep 2019 22:02:35 GMT
>>>>>>> Migrate Files to Dev[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      content-type:
      - application/xml; charset=utf-8
      x-ms-client-request-id:
      - a2348b80-d9a9-11e9-814d-001a7dda7113
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:00 GMT
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-content-length:
      - '5'
     [...]
- request:
    body: data2
    headers:
      Content-Type:
      - application/octet-stream
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      x-ms-client-request-id:
      - a236fac6-d9a9-11e9-8488-001a7dda7113
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:00 GMT
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-date:
      - Wed, 11 Sep 2019 22:02:35 GMT
>>>>>>> Migrate Files to Devtools[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      content-type:
      - application/xml; charset=utf-8
      x-ms-client-request-id:
      - a23ebda4-d9a9-11e9-b452-001a7dda7113
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:00 GMT
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-date:
      - Wed, 11 Sep 2019 22:02:35 GMT
>>>>>>> Migrate Files to Devtools Framework
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage635f1636.file.core.windows.net/share635f1636?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage635f1636.file.core.windows.net/\" ShareName=\"share635f1636\"
        DirectoryPath=\"\"><Entries><Directory><Name>dir1</Name><Properties /></Directory><Directory><Name>dir2</Name><Properties
        /></Directory><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
<<<<<<< HEAD
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 18 Sep 2019 00:16:59 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      x-ms-request-id: ac788015-501a-0083-14b6-6d4d96000000
=======
      content-type: application/xml
      date: Wed, 11 Sep 2019 22:02:33 GMT
      server: Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding: chunked
>>>>>>> Migrate Files to Devtools Framework
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
<<<<<<< HEAD
        - emilydevtest.file.core.windows.net
=======
        - pyacrstorage635f1636.file.core.windows.net
>>>>>>> Migrate Files to Devtools Framework
        - /share635f1636
        - restype=directory&comp=list
        - ''
version: 1
