interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:12:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage11ad1942.file.core.windows.net/utshare11ad1942?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D2030A3463"'
      last-modified: Mon, 14 Oct 2019 18:12:02 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage11ad1942.file.core.windows.net
        - /utshare11ad1942
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:12:03 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage11ad1942.file.core.windows.net/utshare11ad1942/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D2031BA49D"'
      last-modified: Mon, 14 Oct 2019 18:12:02 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2019-10-14T18:12:02.1712029Z'
      x-ms-file-creation-time: '2019-10-14T18:12:02.1712029Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-10-14T18:12:02.1712029Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 15809739343918541664*12951328026713636073
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage11ad1942.file.core.windows.net
        - /utshare11ad1942/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:12:03 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage11ad1942.file.core.windows.net/utshare11ad1942/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D20325DFA8"'
      last-modified: Mon, 14 Oct 2019 18:12:02 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2019-10-14T18:12:02.2382504Z'
      x-ms-file-creation-time: '2019-10-14T18:12:02.2382504Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2019-10-14T18:12:02.2382504Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 15809739343918541664*12951328026713636073
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage11ad1942.file.core.windows.net
        - /utshare11ad1942/dir1%2Fsubdir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Mon, 14 Oct 2019 18:12:03 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage11ad1942.file.core.windows.net/utshare11ad1942/dir1/file1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D2034C3354"'
      last-modified: Mon, 14 Oct 2019 18:12:02 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-10-14T18:12:02.4894292Z'
      x-ms-file-creation-time: '2019-10-14T18:12:02.4894292Z'
      x-ms-file-id: '13835093239654252544'
      x-ms-file-last-write-time: '2019-10-14T18:12:02.4894292Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 1953634770927637607*12951328026713636073
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage11ad1942.file.core.windows.net
        - /utshare11ad1942/dir1/file1
        - ''
        - ''
[...]
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:12:03 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage11ad1942.file.core.windows.net/utshare11ad1942/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: idkDvDXe3nJP1SxRQ3/1/Q==
      etag: '"0x8D750D203524EED"'
      last-modified: Mon, 14 Oct 2019 18:12:02 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage11ad1942.file.core.windows.net
        - /utshare11ad1942/dir1/file1
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:12:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage11ad1942.file.core.windows.net/utshare11ad1942/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage11ad1942.file.core.windows.net/\" ShareName=\"utshare11ad1942\"
        DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file2</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file3</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory><Directory><Name>subdir3</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage11ad1942.file.core.windows.net
        - /utshare11ad1942/dir1
        - restype=directory&comp=list
        - ''
version: 1
