interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:31 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare61aa1e4a?restype=share
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 09:55:30 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7172F8E4F5CD5"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 09:55:31 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /utshare61aa1e4a
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:31 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare61aa1e4a/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 09:55:30 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7172F8E5CC825"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 09:55:31 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /utshare61aa1e4a/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:31 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare61aa1e4a/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 09:55:30 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7172F8E6B70D1"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 09:55:31 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /utshare61aa1e4a/dir1%2Fsubdir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:31 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare61aa1e4a/dir1/file1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 09:55:31 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7172F8E8FEF66"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 09:55:31 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /utshare61aa1e4a/dir1/file1
        - ''
        - ''
[...]
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:31 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare61aa1e4a/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : idkDvDXe3nJP1SxRQ3/1/Q==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 09:55:31 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D7172F8E99B52E"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 09:55:31 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /utshare61aa1e4a/dir1/file1
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 09:55:31 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare61aa1e4a/dir1?prefix=sub&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshare61aa1e4a\"
        DirectoryPath=\"dir1\"><Prefix>sub</Prefix><Entries><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory><Directory><Name>subdir3</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 09:55:31 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - amqptest.file.core.windows.net
        - /utshare61aa1e4a/dir1
        - prefix=sub&restype=directory&comp=list
        - ''
version: 1
