interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 02:50:15 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage11ad1942.file.core.windows.net/utshare11ad1942?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D72774A01DEF7C"'
      last-modified: Fri, 23 Aug 2019 02:50:15 GMT
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage11ad1942.file.core.windows.net
        - /utshare11ad1942
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 02:50:15 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage11ad1942.file.core.windows.net/utshare11ad1942/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D72774A02903CD"'
      last-modified: Fri, 23 Aug 2019 02:50:15 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage11ad1942.file.core.windows.net
        - /utshare11ad1942/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 02:50:15 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage11ad1942.file.core.windows.net/utshare11ad1942/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D72774A03FC436"'
      last-modified: Fri, 23 Aug 2019 02:50:15 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage11ad1942.file.core.windows.net
        - /utshare11ad1942/dir1%2Fsubdir1
        - restype=directory
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Fri, 23 Aug 2019 02:50:15 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage11ad1942.file.core.windows.net/utshare11ad1942/dir1/file2
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D72774A05FFC38"'
      last-modified: Fri, 23 Aug 2019 02:50:15 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage11ad1942.file.core.windows.net
        - /utshare11ad1942/dir1/file2
        - ''
        - ''
[...]
- request:
    body: data2
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 23 Aug 2019 02:50:15 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage11ad1942.file.core.windows.net/utshare11ad1942/dir1/file2?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: /5zy1pDYiMszf2v0UmthMA==
      etag: '"0x8D72774A068622D"'
      last-modified: Fri, 23 Aug 2019 02:50:15 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage11ad1942.file.core.windows.net
        - /utshare11ad1942/dir1/file2
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 02:50:15 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorage11ad1942.file.core.windows.net/utshare11ad1942/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage11ad1942.file.core.windows.net/\" ShareName=\"utshare11ad1942\"
        DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file2</Name><Properties><Content-Length>5</Content-Length></Properties></File><File><Name>file3</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory><Directory><Name>subdir3</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage11ad1942.file.core.windows.net
        - /utshare11ad1942/dir1
        - restype=directory&comp=list
        - ''
version: 1
