interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 03:25:17 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24?restype=share
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 06 Sep 2019 03:25:17 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73279D73A8525"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 06 Sep 2019 03:25:17 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - emilydevtest.file.core.windows.net
        - /utsharecde41c24
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 03:25:18 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 06 Sep 2019 03:25:17 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73279D7423856"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 06 Sep 2019 03:25:18 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2019-09-06T03:25:18.0087382Z'
      x-ms-file-creation-time: '2019-09-06T03:25:18.0087382Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-09-06T03:25:18.0087382Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 17913408918638655783*10394889115079208622
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - emilydevtest.file.core.windows.net
        - /utsharecde41c24/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 03:25:18 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1%2Fsubdir1?restype=directory
  response:
    b[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 03:25:18 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1%2Fsubdir1%2Fsubdir2?restype=directory
  respo[...]
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Fri, 06 Sep 2019 03:25:18 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1/file1
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 06 Sep 2019 03:25:17 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73279D752DE2D"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 06 Sep 2019 03:25:18 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-09-06T03:25:18.1178413Z'
      x-ms-file-creation-time: '2019-09-06T03:25:18.1178413Z'
      x-ms-file-id: '14988049928633188352'
      x-ms-file-last-write-time: '2019-09-06T03:25:18.1178413Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 4099112195243312672*10394889115079208622
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - emilydevtest.file.core.windows.net
        - /utsharecde41c24/dir1/file1
        - ''
        - ''
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 06 Sep 2019 03:25:18 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : idkDvDXe3nJP1SxRQ3/1/Q==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 06 Sep 2019 03:25:17 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73279D75576DE"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 06 Sep 2019 03:25:18 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - emilydevtest.file.core.windows.net
        - /utsharecde41c24/dir1/file1
        - comp=range
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Fri, 06 Sep 2019 03:25:18 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://storagename.file.core.windows.n[...]
[...]
- request:
    body: data3
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 06 Sep 2019 03:25:18 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1/subdir1/file3?comp=range
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Content-Md5
      : eTafePeILBuqu8fUXcXaoA==
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 06 Sep 2019 03:25:17 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73279D75DDD5B"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 06 Sep 2019 03:25:18 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - emilydevtest.file.core.windows.net
        - /utsharecde41c24/dir1/subdir1/file3
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 06 Sep 2019 03:25:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/utsharecde41c24/dir1?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utsharecde41c24\"
        DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 06 Sep 2019 03:25:17 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - emilydevtest.file.core.windows.net
        - /utsharecde41c24/dir1
        - restype=directory&comp=list
        - ''
version: 1
