interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 26 Jun 2019 13:10:47 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://blobstoragename.file.core.windows.net/share31600fc8?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FA37B53694DF"'
      Last-Modified:
      - Wed, 26 Jun 2019 13:10:48 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 26 Jun 2019 13:10:47 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://blobstoragename.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.file.core.windows.net/\"><Shares><Share><Name>share31600fc8</Name><Properties><Last-Modified>Wed,
        26 Jun 2019 13:10:48 GMT</Last-Modified><Etag>\"0x8D6FA37B53694DF\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>utsharea52e1263</Name><Properties><Last-Modified>Wed,
        26 Jun 2019 05:03:04 GMT</Last-Modified><Etag>\"0x8D6F9F3923BEEEF\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 26 Jun 2019 13:45:16 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share31600fc8?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FA3C85DC5340"'
      Last-Modified:
      - Wed, 26 Jun 2019 13:45:17 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 26 Jun 2019 13:45:17 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share31600fc8</Name><Properties><Last-Modified>Wed,
        26 Jun 2019 13:45:17 GMT</Last-Modified><Etag>\"0x8D6FA3C85DC5340\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 10:00:56 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share31600fc8?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D71730504AC002"'
      Last-Modified:
      - Fri, 02 Aug 2019 10:00:56 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
