interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:28 GMT
      x-ms-meta:
      - '{''hello'': ''world'', ''number'': ''42''}'
      x-ms-meta-hello:
      - world
      x-ms-meta-number:
      - '42'
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/shareba41919?restype=share
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:00:25 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DC6C31A016"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:00:26 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /shareba41919
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:28 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://remoteremotestoragename.file.core.windows.net/?include=metadata&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://remoteremotestoragename.file.core.windows.net/\"><Shares><Share><Name>shareba41919</Name><Properties><Last-Modified>Fri,
        02 Aug 2019 00:00:26 GMT</Last-Modified><Etag>\"0x8D716DC6C31A016\"</Etag><Quota>5120</Quota></Properties><Metadata><hello>world</hello><number>42</number></Metadata></Share><Share><Name>utsharef82c7b02680b4157bf0842ca890ff18e</Name><Properties><Last-Modified>Thu,
        01 Aug 2019 20:44:45 GMT</Last-Modified><Etag>\"0x8D716C116342B2F\"</Etag><Quota>5120</Quota></Properties><Metadata
        /></Share></Shares><NextMarker /></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:00:26 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunked
      ? !!python/object/new:multidict._istr.istr
      - Vary
      : Origin
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /
        - include=metadata&comp=list
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:02:08 GMT
      x-ms-meta:
      - '{''hello'': ''world'', ''number'': ''42''}'
      x-ms-meta-hello:
      - world
      x-ms-meta-number:
      - '42'
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/shareba41919?restype=share
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:02:04 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DCA7669C66"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:02:05 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /shareba41919
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:02:08 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://remotestoragename.file.core.windows.net/?include=metadata&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://remotestoragename.file.core.windows.net/\"><Shares><Share><Name>sh[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:31 GMT
      x-ms-meta:
      - '{''hello'': ''world'', ''number'': ''42''}'
      x-ms-meta-hello:
      - world
      x-ms-meta-number:
      - '42'
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/shareba41919?restype=share
  response:
    body:
      string: ''
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Fri, 02 Aug 2019 00:12:27 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D716DE1AAAED70"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Fri, 02 Aug 2019 00:12:28 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - rakshithqueueasynctest.file.core.windows.net
        - /shareba41919
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:31 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=metadata&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>shareba41919</[...]
