interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 00:32:07 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec0d317bd.file.core.windows.net/myshare?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:d5424dee-501a-0117-7c81-63623e000000\nTime:2019-09-05T00:32:07.1480973Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request '9aElW/WV0xSvRo8Cc4VihmAEa70gytIe+Sc5f728idM='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/octet-stream\n\n\n\n\n\n\nx-ms-client-request-id:9722b452-cf74-11e9-9b0c-2816a845e8c6\nx-ms-date:Thu,
        05 Sep 2019 00:32:07 GMT\nx-ms-version:2019-02-02\n/pyacrstoragec0d317bd/myshare\nrestype:share'.</AuthenticationErrorDetail></Error>"
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec0d317bd.file.core.windows.net
        - /myshare
        - restype=share
        - ''
version: 1
