interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 18:22:51 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage9ff01f2c.file.core.windows.net/utshare9ff01f2c?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7272DBCADEFAF"'
      last-modified: Thu, 22 Aug 2019 18:22:48 GMT
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage9ff01f2c.file.core.windows.net
        - /utshare9ff01f2c
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 18:22:51 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage9ff01f2c.file.core.windows.net/utshare9ff01f2c/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7272DBCBCFCD8"'
      last-modified: Thu, 22 Aug 2019 18:22:48 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage9ff01f2c.file.core.windows.net
        - /utshare9ff01f2c/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 18:22:51 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage9ff01f2c.file.core.windows.net/utshare9ff01f2c/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7272DBCCBA584"'
      last-modified: Thu, 22 Aug 2019 18:22:49 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage9ff01f2c.file.core.windows.net
        - /utshare9ff01f2c/dir1%2Fsubdir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Thu, 22 Aug 2019 18:22:51 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage9ff01f2c.file.core.windows.net/utshare9ff01f2c/dir1/file1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7272DBCDD8320"'
      last-modified: Thu, 22 Aug 2019 18:22:49 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage9ff01f2c.file.core.windows.net
        - /utshare9ff01f2c/dir1/file1
        - ''
        - ''
[...]
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 22 Aug 2019 18:22:51 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage9ff01f2c.file.core.windows.net/utshare9ff01f2c/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: idkDvDXe3nJP1SxRQ3/1/Q==
      etag: '"0x8D7272DBCE68577"'
      last-modified: Thu, 22 Aug 2019 18:22:49 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage9ff01f2c.file.core.windows.net
        - /utshare9ff01f2c/dir1/file1
        - comp=range
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 18:22:51 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage9ff01f2c.file.core.windows.net/utshare9ff01f2c?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7272DBCADEFAF"'
      last-modified: Thu, 22 Aug 2019 18:22:48 GMT
      x-ms-snapshot: '2019-08-22T18:22:50.0000000Z'
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage9ff01f2c.file.core.windows.net
        - /utshare9ff01f2c
        - restype=share&comp=snapshot
        - ''
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 18:22:53 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorage9ff01f2c.file.core.windows.net/utshare9ff01f2c/dir1?sharesnapshot=2019-08-22T18:22:50.0000000Z&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage9ff01f2c.file.core.windows.net/\" ShareName=\"utshare9ff01f2c\"
        ShareSnapshot=\"2019-08-22T18:22:50.0000000Z\" DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage9ff01f2c.file.core.windows.net
        - /utshare9ff01f2c/dir1
        - sharesnapshot=2019-08-22T18:22:50.0000000Z&restype=directory&comp=list
        - ''
version: 1
