interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:40:24 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage31600fc8.file.core.windows.net/share31600fc8?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D73238E53C5D4D"'
      last-modified:
      - Thu, 05 Sep 2019 19:40:24 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:40:24 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage31600fc8.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage31600fc8.file.core.windows.net/\"><Shares><Share><Name>share31600fc8</Name><Properties><Last-Modified>Thu,
        05 Sep 2019 19:40:24 GMT</Last-Modified><Etag>\"0x8D73238E53C5D4D\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
