interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 27 Jun 2019 21:44:19 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/testshare?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FB489C31F61A"'
      Last-Modified:
      - Thu, 27 Jun 2019 21:44:19 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 27 Jun 2019 21:44:19 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>testshare</Name><Properties><Last-Modified>Thu,
        27 Jun 2019 21:44:19 GMT</Last-Modified><Etag>\"0x8D6FB489C31F61A\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 27 Jun 2019 21:44:19 GMT
      x-ms-version:
      - '2018-11-09'
    method: DELETE
    uri: https://storagename.file.core.windows.net/testshare?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
