interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Sep 2019 07:14:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage4ea915e4.file.core.windows.net/testshare?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D73750C8D8677C"'
      last-modified: Thu, 12 Sep 2019 07:14:00 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage4ea915e4.file.core.windows.net
        - /testshare
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Sep 2019 07:14:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage4ea915e4.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage4ea915e4.file.core.windows.net/\"><Shares><Share><Name>testshare</Name><Properties><Last-Modified>Thu,
        12 Sep 2019 07:14:00 GMT</Last-Modified><Etag>\"0x8D73750C8D8677C\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage4ea915e4.file.core.windows.net
        - /
        - include=&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Sep 2019 07:14:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstorage4ea915e4.file.core.windows.net/testshare?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage4ea915e4.file.core.windows.net
        - /testshare
        - restype=share
        - ''
version: 1
