interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:02 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FB8556DA459B"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:02 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:02 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FB8556E9C1CE"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:02 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:02 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/filea1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FB8556F86A7E"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:02 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:02 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/filea1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      ETag:
      - '"0x8D6FB85570BCEF2"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:02 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:03 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/fileb1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FB85574EFEB6"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:03 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:03 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/fileb1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      ETag:
      - '"0x8D6FB85575E43BA"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:03 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:03 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/shared84a1877?maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        shared84a1877\" DirectoryPath=\"\"><MaxResults>2</MaxResults><Entries><Directory><Name>dir1</Name><Properties\
        \ /></Directory><File><Name>filea1</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEy</NextMarker></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
