interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:39:52 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7185B1DE91686"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:39:51 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:39:53 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7185B1E03AF97"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:39:52 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Sat, 03 Aug 2019 21:39:53 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1/filea1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7185B1E2D5F3B"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:39:52 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Sat, 03 Aug 2019 21:39:53 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1/filea1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      ETag:
      - '"0x8D7185B1E4AD7A1"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:39:52 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Sat, 03 Aug 2019 21:39:54 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1/fileb1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7185B1EC32A9C"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:39:53 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Sat, 03 Aug 2019 21:39:54 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1/fileb1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      ETag:
      - '"0x8D7185B1EE7821B"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:39:53 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:39:54 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1?maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"shareffa41cea\"
        DirectoryPath=\"dir1\"><MaxResults>2</MaxResults><Entries><File><Name>filea1</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>filea2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEz</NextMarker></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:39:55 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1?marker=1%218%21ZmlsZWEz&maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"shareffa41cea\"
        DirectoryPath=\"dir1\"><Marker>1!8!ZmlsZWEz</Marker><MaxResults>2</MaxResults><Entries><File><Name>filea3</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>fileb1</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:39:55 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>shareffa41cea</Name><Properties><Last-Modified>Sat,
        03 Aug 2019 21:39:51 GMT</Last-Modified><Etag>\"0x8D7185B1DE91686\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:39:55 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2018-11-09'
    method: DELETE
    uri: https://storagename.file.core.windows.net/shareffa41cea?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
