interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      content-type:
      - application/xml; charset=utf-8
      x-ms-client-request-id:
      - a34cacb0-d9a9-11e9-aafb-001a7dda7113
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:02 GMT
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-date:
<<<<<<< HEAD
      - Wed, 11 Sep 2019 22:03:04 GMT
>>>>>>> Migrate Files to Devtools Framework
=======
      - Thu, 12 Sep 2019 07:22:48 GMT
>>>>>>> ,pre recordingd and fixes
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragef1514c2.file.core.windows.net/sharef1514c2?restype=share
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '0'
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 18 Sep 2019 00:17:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Etag
      : '"0x8D73BCD87792F8D"'
      ? !!python/object/new:multidict._istr.istr
      - Last-Modified
      : Wed, 18 Sep 2019 00:17:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-id: 61de6fb1-e01a-00e4-02b6-6d5d6a000000
=======
      content-length: '0'
      date: Thu, 12 Sep 2019 07:22:49 GMT
      etag: '"0x8D737520497007A"'
      last-modified: Thu, 12 Sep 2019 07:22:50 GMT
      server: Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
>>>>>>> Migrate Files to Devtools Framework
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
<<<<<<< HEAD
        - emilydevtest.file.core.windows.net
=======
        - pyacrstoragef1514c2.file.core.windows.net
>>>>>>> Migrate Files to Devtools Framework
        - /sharef1514c2
        - restype=share
        - ''
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      content-type:
      - application/xml; charset=utf-8
      x-ms-client-request-id:
      - a3597acc-d9a9-11e9-b651-001a7dda7113
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:02 GMT
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-date:
<<<<<<< HEAD
      - Wed, 11 Sep 2019 22:03:04 GMT
>>>>>>> Migrate Files to Devtools Framework
=======
      - Thu, 12 Sep 2019 07:22:52 GMT
>>>>>>> ,pre recordingd and fixes
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragef1514c2.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
<<<<<<< HEAD
<<<<<<< HEAD
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>sharef1514c2</Name><Properties><Last-Modified>Wed,
        18 Sep 2019 00:17:02 GMT</Last-Modified><Etag>\"0x8D73BCD87792F8D\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Wed, 18 Sep 2019 00:17:02 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      ? !!python/object/new:multidict._istr.istr
      - Transfer-Encoding
      : chunke[...]
