interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:08 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage8ecc1b3e.file.core.windows.net/share8ecc1b3e?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D4424B3936"'
      last-modified: Mon, 14 Oct 2019 18:28:07 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8ecc1b3e.file.core.windows.net
        - /share8ecc1b3e
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:08 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage8ecc1b3e.file.core.windows.net/share8ecc1b3e/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D44267FFD7"'
      last-modified: Mon, 14 Oct 2019 18:28:07 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2019-10-14T18:28:07.3615319Z'
      x-ms-file-creation-time: '2019-10-14T18:28:07.3615319Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-10-14T18:28:07.3615319Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 18414610098819094418*10905167714544074779
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8ecc1b3e.file.core.windows.net
        - /share8ecc1b3e/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:08 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage8ecc1b3e.file.core.windows.net/share8ecc1b3e/dir1%2Fpref_dir3?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D4427213D1"'
      last-modified: Mon, 14 Oct 2019 18:28:07 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2019-10-14T18:28:07.4275793Z'
      x-ms-file-creation-time: '2019-10-14T18:28:07.4275793Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2019-10-14T18:28:07.4275793Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 18414610098819094418*10905167714544074779
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8ecc1b3e.file.core.windows.net
        - /share8ecc1b3e/dir1%2Fpref_dir3
        - restype=directory
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:08 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage8ecc1b3e.file.core.windows.net/share8ecc1b3e/file1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D4428997C2"'
      last-modified: Mon, 14 Oct 2019 18:28:07 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-10-14T18:28:07.5816898Z'
      x-ms-file-creation-time: '2019-10-14T18:28:07.5816898Z'
      x-ms-file-id: '10376363910205800448'
      x-ms-file-last-write-time: '2019-10-14T18:28:07.5816898Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 4608897672732518549*10905167714544074779
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8ecc1b3e.file.core.windows.net
        - /share8ecc1b3e/file1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:08 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage8ecc1b3e.file.core.windows.net/share8ecc1b3e/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: Ahu8fuILcRNNU+ICBr1v6w==
      etag: '"0x8D750D4429028A7"'
      last-modified: Mon, 14 Oct 2019 18:28:07 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8ecc1b3e.file.core.windows.net
        - /share8ecc1b3e/file1
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:08 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage8ecc1b3e.file.core.windows.net/share8ecc1b3e/dir1/pref_file2
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D4429A158A"'
      last-modified: Mon, 14 Oct 2019 18:28:07 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-10-14T18:28:07.6897674Z'
      x-ms-file-creation-time: '2019-10-14T18:28:07.6897674Z'
      x-ms-file-id: '14988049928633188352'
      x-ms-file-last-write-time: '2019-10-14T18:28:07.6897674Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 4608897672732518549*10905167714544074779
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8ecc1b3e.file.core.windows.net
        - /share8ecc1b3e/dir1/pref_file2
        - ''
        - ''
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:08 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage8ecc1b3e.file.core.windows.net/share8ecc1b3e/dir1/pref_file2?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: grijQ0kEQRqf3EPKh87nDA==
      etag: '"0x8D750D442A07F53"'
      last-modified: Mon, 14 Oct 2019 18:28:07 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8ecc1b3e.file.core.windows.net
        - /share8ecc1b3e/dir1/pref_file2
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:09 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage8ecc1b3e.file.core.windows.net/share8ecc1b3e/dir1/file3
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D442AABA68"'
      last-modified: Mon, 14 Oct 2019 18:28:07 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-10-14T18:28:07.7988456Z'
      x-ms-file-creation-time: '2019-10-14T18:28:07.7988456Z'
      x-ms-file-id: '12682206919419494400'
      x-ms-file-last-write-time: '2019-10-14T18:28:07.7988456Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 4608897672732518549*10905167714544074779
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8ecc1b3e.file.core.windows.net
        - /share8ecc1b3e/dir1/file3
        - ''
        - ''
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:09 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage8ecc1b3e.file.core.windows.net/share8ecc1b3e/dir1/file3?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: grijQ0kEQRqf3EPKh87nDA==
      etag: '"0x8D750D442B235D4"'
      last-modified: Mon, 14 Oct 2019 18:28:07 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8ecc1b3e.file.core.windows.net
        - /share8ecc1b3e/dir1/file3
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:09 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage8ecc1b3e.file.core.windows.net/share8ecc1b3e/dir1?prefix=pref&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage8ecc1b3e.file.core.windows.net/\" ShareName=\"share8ecc1b3e\"
        DirectoryPath=\"dir1\"><Prefix>pref</Prefix><Entries><Directory><Name>pref_dir3</Name><Properties
        /></Directory><File><Name>pref_file2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage8ecc1b3e.file.core.windows.net
        - /share8ecc1b3e/dir1
        - prefix=pref&restype=directory&comp=list
        - ''
version: 1
