interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:26:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage492a15b6.file.core.windows.net/share492a15b6?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D4163A99F9"'
      last-modified:
      - Mon, 14 Oct 2019 18:26:53 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-14T18:25:54Z</Start><Expiry>2019-10-14T19:26:54Z</Expiry><Permission>w</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Mon, 14 Oct 2019 18:26:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage492a15b6.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D416557D25"'
      last-modified:
      - Mon, 14 Oct 2019 18:26:53 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:26:54 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage492a15b6.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-10-14T18:25:54.0000000Z</Start><Expiry>2019-10-14T19:26:54.0000000Z</Expiry><Permission>w</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D750D416557D25"'
      last-modified:
      - Mon, 14 Oct 2019 18:26:53 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
