interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:39:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D73238D36E5497"'
      last-modified:
      - Thu, 05 Sep 2019 19:39:54 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:39:55 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D73238D3EEC97C"'
      last-modified:
      - Thu, 05 Sep 2019 19:39:55 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-09-05T19:39:55.1413628Z'
      x-ms-file-creation-time:
      - '2019-09-05T19:39:55.1413628Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-09-05T19:39:55.1413628Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 3827634291295888616*6756906907582083937
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Thu, 05 Sep 2019 19:39:55 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1/filea1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D73238D405B0F3"'
      last-modified:
      - Thu, 05 Sep 2019 19:39:55 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-09-05T19:39:55.2914675Z'
      x-ms-file-creation-time:
      - '2019-09-05T19:39:55.2914675Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2019-09-05T19:39:55.2914675Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 17682736641996610543*6756906907582083937
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 05 Sep 2019 19:39:56 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1/filea1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      etag:
      - '"0x8D73238D410FD93"'
      last-modified:
      - Thu, 05 Sep 2019 19:39:55 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Thu, 05 Sep 2019 19:39:56 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1/fileb1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D73238D453DEE8"'
      last-modified:
      - Thu, 05 Sep 2019 19:39:55 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-09-05T19:39:55.8038248Z'
      x-ms-file-creation-time:
      - '2019-09-05T19:39:55.8038248Z'
      x-ms-file-id:
      - '14988049928633188352'
      x-ms-file-last-write-time:
      - '2019-09-05T19:39:55.8038248Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 17682736641996610543*6756906907582083937
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 05 Sep 2019 19:39:56 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1/fileb1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      etag:
      - '"0x8D73238D45FEEFF"'
      last-modified:
      - Thu, 05 Sep 2019 19:39:55 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:39:56 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1?maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorageffa41cea.file.core.windows.net/\" ShareName=\"shareffa41cea\"
        DirectoryPath=\"dir1\"><MaxResults>2</MaxResults><Entries><File><Name>filea1</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>filea2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEz</NextMarker></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:39:56 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1?marker=1%218%21ZmlsZWEz&maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorageffa41cea.file.core.windows.net/\" ShareName=\"shareffa41cea\"
        DirectoryPath=\"dir1\"><Marker>1!8!ZmlsZWEz</Marker><MaxResults>2</MaxResults><Entries><File><Name>filea3</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>fileb1</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
