interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:40:30 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage492a15b6.file.core.windows.net/share492a15b6?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D73238EC1AC0D9"'
      last-modified:
      - Thu, 05 Sep 2019 19:40:35 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-09-05T19:39:37Z</Start><Expiry>2019-09-05T20:40:37Z</Expiry><Permission>w</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 05 Sep 2019 19:40:37 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage492a15b6.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D73238ED34208D"'
      last-modified:
      - Thu, 05 Sep 2019 19:40:37 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:40:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage492a15b6.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-09-05T19:39:37.0000000Z</Start><Expiry>2019-09-05T20:40:37.0000000Z</Expiry><Permission>w</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D73238ED34208D"'
      last-modified:
      - Thu, 05 Sep 2019 19:40:37 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
