interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec6fa1c20.file.core.windows.net/sharec6fa1c20?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D43F3AFD3B"'
      last-modified: Mon, 14 Oct 2019 18:28:02 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec6fa1c20.file.core.windows.net
        - /sharec6fa1c20
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:03 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec6fa1c20.file.core.windows.net/sharec6fa1c20/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D43F4D0B73"'
      last-modified: Mon, 14 Oct 2019 18:28:02 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2019-10-14T18:28:02.1517171Z'
      x-ms-file-creation-time: '2019-10-14T18:28:02.1517171Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-10-14T18:28:02.1517171Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 4629001924789756002*2947221858525313003
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec6fa1c20.file.core.windows.net
        - /sharec6fa1c20/dir1
        - restype=directory
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:03 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec6fa1c20.file.core.windows.net/sharec6fa1c20?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D43F3AFD3B"'
      last-modified: Mon, 14 Oct 2019 18:28:02 GMT
      x-ms-snapshot: '2019-10-14T18:28:02.0000000Z'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec6fa1c20.file.core.windows.net
        - /sharec6fa1c20
        - restype=share&comp=snapshot
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:04 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragec6fa1c20.file.core.windows.net/sharec6fa1c20/file1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D43FAF619A"'
      last-modified: Mon, 14 Oct 2019 18:28:02 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-10-14T18:28:02.7961754Z'
      x-ms-file-creation-time: '2019-10-14T18:28:02.7961754Z'
      x-ms-file-id: '10376363910205800448'
      x-ms-file-last-write-time: '2019-10-14T18:28:02.7961754Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 9243157661682704229*2947221858525313003
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec6fa1c20.file.core.windows.net
        - /sharec6fa1c20/file1
        - ''
        - ''
- request:
    body: data
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:04 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstoragec6fa1c20.file.core.windows.net/sharec6fa1c20/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: jXd/OF09/siBXSD3SWAm3A==
      etag: '"0x8D750D43FB5A44E"'
      last-modified: Mon, 14 Oct 2019 18:28:02 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec6fa1c20.file.core.windows.net
        - /sharec6fa1c20/file1
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:04 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragec6fa1c20.file.core.windows.net/sharec6fa1c20?sharesnapshot=2019-10-14T18:28:02.0000000Z&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragec6fa1c20.file.core.windows.net/\" ShareName=\"sharec6fa1c20\"
        ShareSnapshot=\"2019-10-14T18:28:02.0000000Z\" DirectoryPath=\"\"><Entries><Directory><Name>dir1</Name><Properties
        /></Directory><Directory><Name>dir2</Name><Properties /></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragec6fa1c20.file.core.windows.net
        - /sharec6fa1c20
        - sharesnapshot=2019-10-14T18:28:02.0000000Z&restype=directory&comp=list
        - ''
version: 1
