interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:18:38 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragef0d118dc.file.core.windows.net/utsharef0d118dc?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D2EEBDD84C"'
      last-modified: Mon, 14 Oct 2019 18:18:37 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef0d118dc.file.core.windows.net
        - /utsharef0d118dc
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1024'
      x-ms-date:
      - Mon, 14 Oct 2019 18:18:38 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragef0d118dc.file.core.windows.net/utsharef0d118dc/filef0d118dc
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D2EEDF64F1"'
      last-modified: Mon, 14 Oct 2019 18:18:37 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-10-14T18:18:37.7186545Z'
      x-ms-file-creation-time: '2019-10-14T18:18:37.7186545Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-10-14T18:18:37.7186545Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 12872068577002234196*1874111429829872090
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef0d118dc.file.core.windows.net
        - /utsharef0d118dc/filef0d118dc
        - ''
        - ''
- request:
    body: viscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelonaviscaelbarcelona
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:18:38 GMT
      x-ms-range:
      - bytes=0-1023
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstoragef0d118dc.file.core.windows.net/utsharef0d118dc/filef0d118dc?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: du4kJz1REW8y+U0MUsGZyA==
      etag: '"0x8D750D2EEE6E06E"'
      last-modified: Mon, 14 Oct 2019 18:18:37 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef0d118dc.file.core.windows.net
        - /utsharef0d118dc/filef0d118dc
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:18:39 GMT
      x-ms-meta:
      - '{''test1'': ''foo'', ''test2'': ''bar''}'
      x-ms-meta-test1:
      - foo
      x-ms-meta-test2:
      - bar
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragef0d118dc.file.core.windows.net/utsharef0d118dc/filef0d118dc?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D2EEEDBF95"'
      last-modified: Mon, 14 Oct 2019 18:18:37 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef0d118dc.file.core.windows.net
        - /utsharef0d118dc/filef0d118dc
        - comp=metadata
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:18:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragef0d118dc.file.core.windows.net/utsharef0d118dc?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D2EEBDD84C"'
      last-modified: Mon, 14 Oct 2019 18:18:37 GMT
      x-ms-snapshot: '2019-10-14T18:18:37.0000000Z'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef0d118dc.file.core.windows.net
        - /utsharef0d118dc
        - restype=share&comp=snapshot
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:18:39 GMT
      x-ms-meta:
      - '{''test100'': ''foo100'', ''test200'': ''bar200''}'
      x-ms-meta-test100:
      - foo100
      x-ms-meta-test200:
      - bar200
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragef0d118dc.file.core.windows.net/utsharef0d118dc/filef0d118dc?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D2EF215C81"'
      last-modified: Mon, 14 Oct 2019 18:18:38 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef0d118dc.file.core.windows.net
        - /utsharef0d118dc/filef0d118dc
        - comp=metadata
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:18:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstoragef0d118dc.file.core.windows.net/utsharef0d118dc/filef0d118dc
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D750D2EF215C81"'
      last-modified: Mon, 14 Oct 2019 18:18:38 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-10-14T18:18:38.1509761Z'
      x-ms-file-creation-time: '2019-10-14T18:18:37.7186545Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-10-14T18:18:37.7186545Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 12872068577002234196*1874111429829872090
      x-ms-lease-state: available
      x-ms-lease-status: unlocked
      x-ms-meta-test100: foo100
      x-ms-meta-test200: bar200
      x-ms-server-encrypted: 'true'
      x-ms-type: File
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef0d118dc.file.core.windows.net
        - /utsharef0d118dc/filef0d118dc
        - ''
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:18:39 GMT
      x-ms-version:
      - '2019-02-02'
    method: HEAD
    uri: https://pyacrstoragef0d118dc.file.core.windows.net/utsharef0d118dc/filef0d118dc?sharesnapshot=2019-10-14T18:18:37.0000000Z
  response:
    body:
      string: ''
    headers:
      content-type: application/octet-stream
      etag: '"0x8D750D2EEEDBF95"'
      last-modified: Mon, 14 Oct 2019 18:18:37 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-10-14T18:18:37.8127253Z'
      x-ms-file-creation-time: '2019-10-14T18:18:37.7186545Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-10-14T18:18:37.7186545Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 12872068577002234196*1874111429829872090
      x-ms-meta-test1: foo
      x-ms-meta-test2: bar
      x-ms-server-encrypted: 'true'
      x-ms-type: File
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragef0d118dc.file.core.windows.net
        - /utsharef0d118dc/filef0d118dc
        - sharesnapshot=2019-10-14T18:18:37.0000000Z
        - ''
version: 1
