interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 21:54:17 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage240e1523.file.core.windows.net/share240e1523?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7274B47E6946E"'
      last-modified: Thu, 22 Aug 2019 21:54:17 GMT
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage240e1523.file.core.windows.net
        - /share240e1523
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 22 Aug 2019 21:54:17 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorage240e1523.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage240e1523.file.core.windows.net/\"><Shares><Share><Name>share240e1523</Name><Properties><Last-Modified>Thu,
        22 Aug 2019 21:54:17 GMT</Last-Modified><Etag>\"0x8D7274B47E6946E\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage240e1523.file.core.windows.net
        - /
        - include=&comp=list
        - ''
version: 1
