interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:32 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage625f1644.file.core.windows.net/share625f1644?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB44A16E82"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:31 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:33 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage625f1644.file.core.windows.net/share625f1644/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB44BAD104"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:31 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:33 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage625f1644.file.core.windows.net/share625f1644/dir1%2Fpref_dir3?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB44C5F6A8"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:32 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:33 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage625f1644.file.core.windows.net/share625f1644/file1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB44DFC4E2"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:32 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:33 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage625f1644.file.core.windows.net/share625f1644/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      etag:
      - '"0x8D72CBB44EB1195"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:32 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:33 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage625f1644.file.core.windows.net/share625f1644/dir1/pref_file2
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB44F8CFB5"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:32 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:33 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage625f1644.file.core.windows.net/share625f1644/dir1/pref_file2?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - grijQ0kEQRqf3EPKh87nDA==
      etag:
      - '"0x8D72CBB45057C33"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:32 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:33 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage625f1644.file.core.windows.net/share625f1644/dir1/file3
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB4510EFF9"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:32 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:33 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage625f1644.file.core.windows.net/share625f1644/dir1/file3?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - grijQ0kEQRqf3EPKh87nDA==
      etag:
      - '"0x8D72CBB451C1590"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:32 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:34 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorage625f1644.file.core.windows.net/share625f1644/dir1?prefix=pref&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage625f1644.file.core.windows.net/\" ShareName=\"share625f1644\"
        DirectoryPath=\"dir1\"><Prefix>pref</Prefix><Entries><Directory><Name>pref_dir3</Name><Properties
        /></Directory><File><Name>pref_file2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
