interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:26:16 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D4001DF136"'
      last-modified:
      - Mon, 14 Oct 2019 18:26:16 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:26:17 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D40044E5A3"'
      last-modified:
      - Mon, 14 Oct 2019 18:26:16 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-10-14T18:26:16.4018595Z'
      x-ms-file-creation-time:
      - '2019-10-14T18:26:16.4018595Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-10-14T18:26:16.4018595Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 13134411046003236181*16041236185366317788
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Mon, 14 Oct 2019 18:26:17 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1/filea1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D4005DCAFB"'
      last-modified:
      - Mon, 14 Oct 2019 18:26:16 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-10-14T18:26:16.5650171Z'
      x-ms-file-creation-time:
      - '2019-10-14T18:26:16.5650171Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2019-10-14T18:26:16.5650171Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 8519969452455567954*16041236185366317788
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:26:17 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1/filea1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      etag:
      - '"0x8D750D400717EEA"'
      last-modified:
      - Mon, 14 Oct 2019 18:26:16 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Mon, 14 Oct 2019 18:26:18 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1/fileb1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D400D38D40"'
      last-modified:
      - Mon, 14 Oct 2019 18:26:17 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-10-14T18:26:17.3367616Z'
      x-ms-file-creation-time:
      - '2019-10-14T18:26:17.3367616Z'
      x-ms-file-id:
      - '14988049928633188352'
      x-ms-file-last-write-time:
      - '2019-10-14T18:26:17.3367616Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 8519969452455567954*16041236185366317788
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:26:18 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1/fileb1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      etag:
      - '"0x8D750D400E6569A"'
      last-modified:
      - Mon, 14 Oct 2019 18:26:17 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:26:18 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1?maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorageffa41cea.file.core.windows.net/\" ShareName=\"shareffa41cea\"
        DirectoryPath=\"dir1\"><MaxResults>2</MaxResults><Entries><File><Name>filea1</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>filea2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEz</NextMarker></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:26:19 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorageffa41cea.file.core.windows.net/shareffa41cea/dir1?marker=1%218%21ZmlsZWEz&maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorageffa41cea.file.core.windows.net/\" ShareName=\"shareffa41cea\"
        DirectoryPath=\"dir1\"><Marker>1!8!ZmlsZWEz</Marker><MaxResults>2</MaxResults><Entries><File><Name>filea3</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>fileb1</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
