interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 03:04:07 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage7d2b16cf.file.core.windows.net/listshare07d2b16cf?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72776908179A2"'
      last-modified:
      - Fri, 23 Aug 2019 03:04:08 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 03:04:08 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorage7d2b16cf.file.core.windows.net/?prefix=listshare&maxresults=2&include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage7d2b16cf.file.core.windows.net/\"><Prefix>listshare</Prefix><MaxResults>2</MaxResults><Shares><Share><Name>listshare07d2b16cf</Name><Properties><Last-Modified>Fri,
        23 Aug 2019 03:04:08 GMT</Last-Modified><Etag>\"0x8D72776908179A2\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare17d2b16cf</Name><Properties><Last-Modified>Fri,
        23 Aug 2019 03:04:08 GMT</Last-Modified><Etag>\"0x8D72776909776B8\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker>/pyacrstorage7d2b16cf/listshare27d2b16cf</NextMarker></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 03:04:08 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorage7d2b16cf.file.core.windows.net/?prefix=listshare&marker=%2Fpyacrstorage7d2b16cf%2Flistshare27d2b16cf&maxresults=2&include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage7d2b16cf.file.core.windows.net/\"><Prefix>listshare</Prefix><Marker>/pyacrstorage7d2b16cf/listshare27d2b16cf</Marker><MaxResults>2</MaxResults><Shares><Share><Name>listshare27d2b16cf</Name><Properties><Last-Modified>Fri,
        23 Aug 2019 03:04:08 GMT</Last-Modified><Etag>\"0x8D7277690A5AA25\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare37d2b16cf</Name><Properties><Last-Modified>Fri,
        23 Aug 2019 03:04:08 GMT</Last-Modified><Etag>\"0x8D7277690B404B1\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
