interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:01 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share625f1644?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DC5C143B8B"'
      Last-Modified:
      - Thu, 01 Aug 2019 23:59:58 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:01 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share625f1644/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DC5C226C03"'
      Last-Modified:
      - Thu, 01 Aug 2019 23:59:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:02 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share625f1644/dir1%2Fpref_dir3?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DC5C392C79"'
      Last-Modified:
      - Thu, 01 Aug 2019 23:59:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:02 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share625f1644/file1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DC5C551E11"'
      Last-Modified:
      - Thu, 01 Aug 2019 23:59:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:02 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share625f1644/file1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      ETag:
      - '"0x8D716DC5C63517E"'
      Last-Modified:
      - Thu, 01 Aug 2019 23:59:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:02 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share625f1644/dir1/pref_file2
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DC5C71ABFC"'
      Last-Modified:
      - Thu, 01 Aug 2019 23:59:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:02 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share625f1644/dir1/pref_file2?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - grijQ0kEQRqf3EPKh87nDA==
      ETag:
      - '"0x8D716DC5C7F1BEF"'
      Last-Modified:
      - Thu, 01 Aug 2019 23:59:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:02 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share625f1644/dir1/file3
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DC5C8BC87E"'
      Last-Modified:
      - Thu, 01 Aug 2019 23:59:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:02 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/share625f1644/dir1/file3?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - grijQ0kEQRqf3EPKh87nDA==
      ETag:
      - '"0x8D716DC5C989C1D"'
      Last-Modified:
      - Thu, 01 Aug 2019 23:59:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:00:02 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://remoteremotestoragename.file.core.windows.net/share625f1644/dir1?prefix=pref&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://remoteremotestoragename.file.core.windows.net/\"
        ShareName=\"share625f1644\" DirectoryPath=\"dir1\"><Prefix>pref</Prefix><Entries><Directory><Name>pref_dir3</Name><Properties
        /></Directory><File><Name>pref_file2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:04 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share625f1644?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DCECD9152F"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:01 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:04 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share625f1644/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DCECE5AE21"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:01 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:04 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share625f1644/dir1%2Fpref_dir3?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DCECF31E0E"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:02 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:05 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share625f1644/file1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DCED0F5DBF"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:02 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:05 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share625f1644/file1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      ETag:
      - '"0x8D716DCED1C7F82"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:02 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:05 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share625f1644/dir1/pref_file2
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DCED2B4F46"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:02 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:05 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share625f1644/dir1/pref_file2?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - grijQ0kEQRqf3EPKh87nDA==
      ETag:
      - '"0x8D716DCED39A9C7"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:02 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:05 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share625f1644/dir1/file3
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DCED4B603B"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:02 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:05 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/share625f1644/dir1/file3?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - grijQ0kEQRqf3EPKh87nDA==
      ETag:
      - '"0x8D716DCED580CC2"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:04:02 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:04:05 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://remotestoragename.file.core.windows.net/share625f1644/dir1?prefix=pref&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://remotestoragename.file.core.windows.net/\" ShareName=\"share625f1644\"
        DirectoryPath=\"dir1\"><Prefix>pref</Prefix><Entries><Directory><Name>pref_dir3</Name><Properties
        /></Directory><File><Name>pref_file2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:07 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DE0C860319"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:04 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:07 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DE0C94D984"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:04 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:07 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1%2Fpref_dir3?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DE0CA2497B"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:04 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:07 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/file1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DE0CBE13FE"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:04 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:07 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/file1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      ETag:
      - '"0x8D716DE0CCD801C"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:04 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:07 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/pref_file2
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DE0CDAF00F"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:05 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:07 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/pref_file2?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - grijQ0kEQRqf3EPKh87nDA==
      ETag:
      - '"0x8D716DE0CE79C95"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:05 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:08 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/file3
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716DE0CF47039"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:05 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:08 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/file3?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - grijQ0kEQRqf3EPKh87nDA==
      ETag:
      - '"0x8D716DE0D005940"'
      Last-Modified:
      - Fri, 02 Aug 2019 00:12:05 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:12:08 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/share625f1644/dir1?prefix=pref&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"share625f1644\"
        DirectoryPath=\"dir1\"><Prefix>pref</Prefix><Entries><Directory><Name>pref_dir3</Name><Properties
        /></Directory><File><Name>pref_file2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
