interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:40:18 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7185B2D45FA11"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:40:17 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-08-03T21:39:19Z</Start><Expiry>2019-08-03T22:40:19Z</Expiry><Permission>w</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:40:19 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D7185B2D6AF9E4"'
      Last-Modified:
      - Sat, 03 Aug 2019 21:40:17 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:40:19 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share492a15b6</Name><Properties><Last-Modified>Sat,
        03 Aug 2019 21:40:17 GMT</Last-Modified><Etag>\"0x8D7185B2D6AF9E4\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:40:19 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2018-11-09'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
