interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 01:45:37 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/remoteshare82ca119d?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:12907cfc-401a-002a-29d3-482084000000\nTime:2019-08-02T01:45:37.9896587Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'DmuTN4thryeUiCdzWREuGfqOq5pmdNgzqzgOYipMH6A='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/xml; charset=utf-8\n\n\n\n\n\n\nx-ms-client-request-id:39e36a0c-b4c7-11e9-997b-2816a845e8c6\nx-ms-date:Fri,
        02 Aug 2019 01:45:37 GMT\nx-ms-version:2018-11-09\n/remotestoragename/remoteshare82ca119d\nrestype:share'.</AuthenticationErrorDetail></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
version: 1
