interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 03:05:56 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage6fc61ab0.file.core.windows.net/share6fc61ab0?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D72776D13B1270"'
      last-modified: Fri, 23 Aug 2019 03:05:56 GMT
      x-ms-version: '2018-11-09'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage6fc61ab0.file.core.windows.net
        - /share6fc61ab0
        - restype=share
        - ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-08-23T03:04:56Z</Start><Expiry>2019-08-23T04:05:56Z</Expiry><Permission>w</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 03:05:56 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage6fc61ab0.file.core.windows.net/share6fc61ab0?restype=share&comp=acl
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D72776D14AE9FE"'
      last-modified: Fri, 23 Aug 2019 03:05:56 GMT
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage6fc61ab0.file.core.windows.net
        - /share6fc61ab0
        - restype=share&comp=acl
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 03:05:56 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorage6fc61ab0.file.core.windows.net/share6fc61ab0?restype=share&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-08-23T03:04:56.0000000Z</Start><Expiry>2019-08-23T04:05:56.0000000Z</Expiry><Permission>w</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      content-type: application/xml
      etag: '"0x8D72776D14AE9FE"'
      last-modified: Fri, 23 Aug 2019 03:05:56 GMT
      x-ms-version: '2018-11-09'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage6fc61ab0.file.core.windows.net
        - /share6fc61ab0
        - restype=share&comp=acl
        - ''
version: 1
