interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:41:47 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage7bd421e4.file.core.windows.net/share7bd421e4?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7323916ABE9FF"'
      last-modified: Thu, 05 Sep 2019 19:41:47 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7bd421e4.file.core.windows.net
        - /share7bd421e4
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:41:47 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage7bd421e4.file.core.windows.net/share7bd421e4/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7323916CDC571"'
      last-modified: Thu, 05 Sep 2019 19:41:47 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2019-09-05T19:41:47.3323377Z'
      x-ms-file-creation-time: '2019-09-05T19:41:47.3323377Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-09-05T19:41:47.3323377Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 7901287631548197915*395231751674641298
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7bd421e4.file.core.windows.net
        - /share7bd421e4/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Thu, 05 Sep 2019 19:41:48 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage7bd421e4.file.core.windows.net/share7bd421e4/dir1/filea1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7323916D9AE7B"'
      last-modified: Thu, 05 Sep 2019 19:41:47 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-09-05T19:41:47.4103931Z'
      x-ms-file-creation-time: '2019-09-05T19:41:47.4103931Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2019-09-05T19:41:47.4103931Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 12528114138698240796*395231751674641298
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7bd421e4.file.core.windows.net
        - /share7bd421e4/dir1/filea1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 05 Sep 2019 19:41:48 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage7bd421e4.file.core.windows.net/share7bd421e4/dir1/filea1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: Ahu8fuILcRNNU+ICBr1v6w==
      etag: '"0x8D7323916DFCA15"'
      last-modified: Thu, 05 Sep 2019 19:41:47 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7bd421e4.file.core.windows.net
        - /share7bd421e4/dir1/filea1
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Thu, 05 Sep 2019 19:41:48 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage7bd421e4.file.core.windows.net/share7bd421e4/dir1/fileb1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D7323916FEF072"'
      last-modified: Thu, 05 Sep 2019 19:41:47 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-09-05T19:41:47.6545650Z'
      x-ms-file-creation-time: '2019-09-05T19:41:47.6545650Z'
      x-ms-file-id: '14988049928633188352'
      x-ms-file-last-write-time: '2019-09-05T19:41:47.6545650Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 12528114138698240796*395231751674641298
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7bd421e4.file.core.windows.net
        - /share7bd421e4/dir1/fileb1
        - ''
        - ''
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 05 Sep 2019 19:41:48 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage7bd421e4.file.core.windows.net/share7bd421e4/dir1/fileb1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: Ahu8fuILcRNNU+ICBr1v6w==
      etag: '"0x8D7323917046FB0"'
      last-modified: Thu, 05 Sep 2019 19:41:47 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7bd421e4.file.core.windows.net
        - /share7bd421e4/dir1/fileb1
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:41:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage7bd421e4.file.core.windows.net/share7bd421e4/dir1?maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage7bd421e4.file.core.windows.net/\" ShareName=\"share7bd421e4\"
        DirectoryPath=\"dir1\"><MaxResults>2</MaxResults><Entries><File><Name>filea1</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>filea2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEz</NextMarker></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7bd421e4.file.core.windows.net
        - /share7bd421e4/dir1
        - maxresults=2&restype=directory&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 05 Sep 2019 19:41:48 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage7bd421e4.file.core.windows.net/share7bd421e4/dir1?marker=1!8!ZmlsZWEz&maxresults=2&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage7bd421e4.file.core.windows.net/\" ShareName=\"share7bd421e4\"
        DirectoryPath=\"dir1\"><Marker>1!8!ZmlsZWEz</Marker><MaxResults>2</MaxResults><Entries><File><Name>filea3</Name><Properties><Content-Length>4</Content-Length></Properties></File><File><Name>fileb1</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage7bd421e4.file.core.windows.net
        - /share7bd421e4/dir1
        - marker=1!8!ZmlsZWEz&maxresults=2&restype=directory&comp=list
        - ''
version: 1
