interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 11 Sep 2019 21:25:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragea3c190c.file.core.windows.net/listshare?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D736FE955A8991"'
      last-modified: Wed, 11 Sep 2019 21:25:35 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragea3c190c.file.core.windows.net
        - /listshare
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 11 Sep 2019 21:25:36 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragea3c190c.file.core.windows.net/listshare/mydir?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D736FE9588814B"'
      last-modified: Wed, 11 Sep 2019 21:25:35 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2019-09-11T21:25:35.4558795Z'
      x-ms-file-creation-time: '2019-09-11T21:25:35.4558795Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-09-11T21:25:35.4558795Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 9903667008867924123*16261305008992579346
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragea3c190c.file.core.windows.net
        - /listshare/mydir
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '55'
      x-ms-date:
      - Wed, 11 Sep 2019 21:25:36 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragea3c190c.file.core.windows.net/listshare/mydir/sample
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D736FE95913566"'
      last-modified: Wed, 11 Sep 2019 21:25:35 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-09-11T21:25:35.5129190Z'
      x-ms-file-creation-time: '2019-09-11T21:25:35.5129190Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2019-09-11T21:25:35.5129190Z'
      x-ms-file-parent-id: '13835128424026341376'
      x-ms-file-permission-key: 5263347861690877852*16261305008992579346
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragea3c190c.file.core.windows.net
        - /listshare/mydir/sample
        - ''
        - ''
- request:
    body: Lorem ipsum dolor sit amet, consectetur adipiscing elit
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 11 Sep 2019 21:25:36 GMT
      x-ms-range:
      - bytes=0-54
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstoragea3c190c.file.core.windows.net/listshare/mydir/sample?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: /BCgjff6+jhxFmZGYJ4clQ==
      etag: '"0x8D736FE959702D4"'
      last-modified: Wed, 11 Sep 2019 21:25:35 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragea3c190c.file.core.windows.net
        - /listshare/mydir/sample
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 11 Sep 2019 21:25:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragea3c190c.file.core.windows.net/listshare/mydir?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstoragea3c190c.file.core.windows.net/\" ShareName=\"listshare\"
        DirectoryPath=\"mydir\"><Entries><File><Name>sample</Name><Properties><Content-Length>55</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragea3c190c.file.core.windows.net
        - /listshare/mydir
        - restype=directory&comp=list
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 11 Sep 2019 21:25:36 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstoragea3c190c.file.core.windows.net/listshare?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-02-02'
    status:
      code: 202
      message: Accepted
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstoragea3c190c.file.core.windows.net
        - /listshare
        - restype=share
        - ''
version: 1
