interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:09 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage72fe113c.file.core.windows.net/share72fe113c?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB36ECB034"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:08 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:10 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage72fe113c.file.core.windows.net/share72fe113c/file1
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB370028D2"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:08 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:10 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage72fe113c.file.core.windows.net/share72fe113c/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - idkDvDXe3nJP1SxRQ3/1/Q==
      etag:
      - '"0x8D72CBB37153B33"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:09 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:10 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage72fe113c.file.core.windows.net/share72fe113c/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB37287884"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:09 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:10 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage72fe113c.file.core.windows.net/share72fe113c/dir1/file2
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D72CBB37380BB2"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:09 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: data2
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:10 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage72fe113c.file.core.windows.net/share72fe113c/dir1/file2?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /5zy1pDYiMszf2v0UmthMA==
      etag:
      - '"0x8D72CBB3748FEA4"'
      last-modified:
      - Thu, 29 Aug 2019 19:58:09 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Aug 2019 19:58:11 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorage72fe113c.file.core.windows.net/share72fe113c?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage72fe113c.file.core.windows.net/\" ShareName=\"share72fe113c\"
        DirectoryPath=\"\"><Entries><Directory><Name>dir1</Name><Properties /></Directory><Directory><Name>dir2</Name><Properties
        /></Directory><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
