interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      content-type:
      - application/xml; charset=utf-8
      x-ms-client-request-id:
      - a343da3a-d9a9-11e9-b895-001a7dda7113
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:02 GMT
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-date:
<<<<<<< HEAD
      - Wed, 11 Sep 2019 22:00:34 GMT
>>>>>>> Migrate Files to Devtools Framework
=======
      - Thu, 12 Sep 2019 07:21:06 GMT
>>>>>>> ,pre recordingd and fixes
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage41961029.file.core.windows.net/share41961029?restype=share
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      Date:
      - Wed, 18 Sep 2019 00:17:01 GMT
      ETag:
      - '"0x8D73BCD87801694"'
      Last-Modified:
      - Wed, 18 Sep 2019 00:17:02 GMT
      Server:
      - Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
      x-ms-request-id:
      - 775bbabb-b01a-00a4-34b6-6d5a52000000
=======
      date:
      - Thu, 12 Sep 2019 07:21:05 GMT
      etag:
      - '"0x8D73751C68FF38E"'
      last-modified:
      - Thu, 12 Sep 2019 07:21:05 GMT
      server:
      - Windows-Azure-File/1.0 Microsoft-HTTPAPI/2.0
>>>>>>> Migrate Files to Devtools Framework
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.18362-SP0)
      content-type:
      - application/xml; charset=utf-8
      x-ms-client-request-id:
      - a35bc450-d9a9-11e9-9a8e-001a7dda7113
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:02 GMT
=======
      - azsdk-python-storage-file/12.0.0b3 Python/3.7.3 (Windows-10-10.0.17763-SP0)
      x-ms-date:
<<<<<<< HEAD
      - Wed, 11 Sep 2019 22:00:34 GMT
>>>>>>> Migrate Files to Devtools Framework
=======
      - Thu, 12 Sep 2019 07:21:07 GMT
>>>>>>> ,pre recordingd and fixes
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage41961029.file.core.windows.net/?prefix=share41961029&include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
<<<<<<< HEAD
<<<<<<< HEAD
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>share41961029</Prefix><Shares><Share><Name>share41961029</Name><Properties><Last-Modified>Wed,
        18 Sep 2019 00:17:02 GMT</Last-Modified><Etag>\"0x8D73BCD87801694\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share41961029[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Wed, 18 Sep 2019 00:17:02 GMT
      x-ms-delete-snapshots:
      - include
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://storagename.file.core.windows.net/share41961029?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
=======
>>>>>>> Migrate Files to Devtools Framework
version: 1
