interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 01:45:22 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare44f21a32/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716EB1576D703"'
      Last-Modified:
      - Fri, 02 Aug 2019 01:45:22 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 01:45:22 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare44f21a32/dir1%2Fsubdir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716EB15835C7D"'
      Last-Modified:
      - Fri, 02 Aug 2019 01:45:23 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Fri, 02 Aug 2019 01:45:22 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare44f21a32/dir1/file1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716EB159B55AD"'
      Last-Modified:
      - Fri, 02 Aug 2019 01:45:23 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 02 Aug 2019 01:45:22 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare44f21a32/dir1/file1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - idkDvDXe3nJP1SxRQ3/1/Q==
      ETag:
      - '"0x8D716EB15A5B7D0"'
      Last-Modified:
      - Fri, 02 Aug 2019 01:45:23 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 01:45:22 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare44f21a32?restype=share&comp=snapshot
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716EB1549398A"'
      Last-Modified:
      - Fri, 02 Aug 2019 01:45:22 GMT
      x-ms-snapshot:
      - '2019-08-02T01:45:23.0000000Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 01:45:23 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/utshare44f21a32/dir1?sharesnapshot=2019-08-02T01:45:23.0000000Z&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"utshare44f21a32\"
        ShareSnapshot=\"2019-08-02T01:45:23.0000000Z\" DirectoryPath=\"dir1\"><Entries><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File><Directory><Name>subdir1</Name><Properties
        /></Directory><Directory><Name>subdir2</Name><Properties /></Directory></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
