interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 20:44:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragea5a50b39.file.core.windows.net/utsharea5a50b39?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7330B1059E014"'
      last-modified:
      - Fri, 06 Sep 2019 20:44:50 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '2048'
      x-ms-date:
      - Fri, 06 Sep 2019 20:44:52 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragea5a50b39.file.core.windows.net/utsharea5a50b39/filea5a50b39
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D7330B1081BB36"'
      last-modified:
      - Fri, 06 Sep 2019 20:44:51 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-09-06T20:44:51.0808886Z'
      x-ms-file-creation-time:
      - '2019-09-06T20:44:51.0808886Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-09-06T20:44:51.0808886Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 9807519124890244814*2358662379358862912
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 06 Sep 2019 20:44:52 GMT
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstoragea5a50b39.file.core.windows.net/utsharea5a50b39/filea5a50b39?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - pTsTLZHyQ+et6NksJ1OHxg==
      etag:
      - '"0x8D7330B108C6B8D"'
      last-modified:
      - Fri, 06 Sep 2019 20:44:51 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 06 Sep 2019 20:44:52 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragea5a50b39.file.core.windows.net/utsharea5a50b39/filea5a50b39?comp=rangelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>511</End></Range><Range><Start>1024</Start><End>1535</End></Range></Ranges>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D7330B1096CDB9"'
      last-modified:
      - Fri, 06 Sep 2019 20:44:51 GMT
      x-ms-content-length:
      - '2048'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
