interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Thu, 01 Aug 2019 23:57:51 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remoteremotestoragename.file.core.windows.net/remoteshare77b91697?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the value of Authorization header
        is formed correctly including the signature.\nRequestId:3ff24c95-d01a-0102-35c4-48116e000000\nTime:2019-08-01T23:57:48.6848841Z</Message><AuthenticationErrorDetail>The
        MAC signature found in the HTTP request 'TImqrUkLJQ5OWNdcmLPqFBr279TbwUMn9QqV/r1JgVE='
        is not the same as any computed signature. Server used following string to
        sign: 'PUT\n\n\n\n\napplication/xml; charset=utf-8\n\n\n\n\n\n\nx-ms-client-request-id:2bdc75e4-b4b8-11e9-906d-2816a845e8c6\nx-ms-date:Thu,
        01 Aug 2019 23:57:51 GMT\nx-ms-version:2018-11-09\n/remoteremotestoragename/remoteshare77b91697\nrestype:share'.</AuthenticationErrorDetail></Error>"
    headers:
      ? !!python/object/new:multidict._istr.istr
      - Content-Length
      : '765'
      ? !!python/object/new:multidict._istr.istr
      - Content-Type
      : application/xml
      ? !!python/object/new:multidict._istr.istr
      - Date
      : Thu, 01 Aug 2019 23:57:48 GMT
      ? !!python/object/new:multidict._istr.istr
      - Server
      : Microsoft-HTTPAPI/2.0
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - storagename.file.core.windows.net
        - /remoteshare77b91697
        - restype=share
        - ''
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 00:09:44 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://remotestoragename.file.core.windows.net/remoteshare77b91697?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server
        failed to authenticate the request. Make sure the [...]
