interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:05 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage635f1636.file.core.windows.net/share635f1636?restype=share
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D440E1C2FF"'
      last-modified: Mon, 14 Oct 2019 18:28:04 GMT
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage635f1636.file.core.windows.net
        - /share635f1636
        - restype=share
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:06 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage635f1636.file.core.windows.net/share635f1636/file1
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D440F3B582"'
      last-modified: Mon, 14 Oct 2019 18:28:04 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-10-14T18:28:04.9216898Z'
      x-ms-file-creation-time: '2019-10-14T18:28:04.9216898Z'
      x-ms-file-id: '13835128424026341376'
      x-ms-file-last-write-time: '2019-10-14T18:28:04.9216898Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 6623716106966558527*17531601807454474161
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage635f1636.file.core.windows.net
        - /share635f1636/file1
        - ''
        - ''
- request:
    body: data1
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:06 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage635f1636.file.core.windows.net/share635f1636/file1?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: idkDvDXe3nJP1SxRQ3/1/Q==
      etag: '"0x8D750D440FD2D23"'
      last-modified: Mon, 14 Oct 2019 18:28:04 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage635f1636.file.core.windows.net
        - /share635f1636/file1
        - comp=range
        - ''
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:06 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage635f1636.file.core.windows.net/share635f1636/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D441062F7B"'
      last-modified: Mon, 14 Oct 2019 18:28:05 GMT
      x-ms-file-attributes: Directory
      x-ms-file-change-time: '2019-10-14T18:28:05.0427771Z'
      x-ms-file-creation-time: '2019-10-14T18:28:05.0427771Z'
      x-ms-file-id: '11529285414812647424'
      x-ms-file-last-write-time: '2019-10-14T18:28:05.0427771Z'
      x-ms-file-parent-id: '0'
      x-ms-file-permission-key: 11211681477294037048*17531601807454474161
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage635f1636.file.core.windows.net
        - /share635f1636/dir1
        - restype=directory
        - ''
- request:
    body: null
    headers:
      x-ms-content-length:
      - '5'
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:06 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage635f1636.file.core.windows.net/share635f1636/dir1/file2
  response:
    body:
      string: ''
    headers:
      etag: '"0x8D750D4410F58E9"'
      last-modified: Mon, 14 Oct 2019 18:28:05 GMT
      x-ms-file-attributes: Archive
      x-ms-file-change-time: '2019-10-14T18:28:05.1028201Z'
      x-ms-file-creation-time: '2019-10-14T18:28:05.1028201Z'
      x-ms-file-id: '16140971433240035328'
      x-ms-file-last-write-time: '2019-10-14T18:28:05.1028201Z'
      x-ms-file-parent-id: '11529285414812647424'
      x-ms-file-permission-key: 6623716106966558527*17531601807454474161
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage635f1636.file.core.windows.net
        - /share635f1636/dir1/file2
        - ''
        - ''
- request:
    body: data2
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:06 GMT
      x-ms-range:
      - bytes=0-4
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage635f1636.file.core.windows.net/share635f1636/dir1/file2?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5: /5zy1pDYiMszf2v0UmthMA==
      etag: '"0x8D750D44115E9D2"'
      last-modified: Mon, 14 Oct 2019 18:28:05 GMT
      x-ms-request-server-encrypted: 'true'
      x-ms-version: '2019-02-02'
    status:
      code: 201
      message: Created
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage635f1636.file.core.windows.net
        - /share635f1636/dir1/file2
        - comp=range
        - ''
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:28:06 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage635f1636.file.core.windows.net/share635f1636?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage635f1636.file.core.windows.net/\" ShareName=\"share635f1636\"
        DirectoryPath=\"\"><Entries><Directory><Name>dir1</Name><Properties /></Directory><Directory><Name>dir2</Name><Properties
        /></Directory><File><Name>file1</Name><Properties><Content-Length>5</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type: application/xml
      x-ms-version: '2019-02-02'
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - pyacrstorage635f1636.file.core.windows.net
        - /share635f1636
        - restype=directory&comp=list
        - ''
version: 1
