interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Sep 2019 07:15:34 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage78d4168f.file.core.windows.net/listshare?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D73751004E33B9"'
      last-modified:
      - Thu, 12 Sep 2019 07:15:33 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Sep 2019 07:15:34 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage78d4168f.file.core.windows.net/listshare/mydir?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D73751005F3850"'
      last-modified:
      - Thu, 12 Sep 2019 07:15:33 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-09-12T07:15:33.4333520Z'
      x-ms-file-creation-time:
      - '2019-09-12T07:15:33.4333520Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-09-12T07:15:33.4333520Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 13313542163745726710*14994754873418086271
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '55'
      x-ms-date:
      - Thu, 12 Sep 2019 07:15:35 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage78d4168f.file.core.windows.net/listshare/mydir/sample
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D737510070EED2"'
      last-modified:
      - Thu, 12 Sep 2019 07:15:33 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-09-12T07:15:33.5494354Z'
      x-ms-file-creation-time:
      - '2019-09-12T07:15:33.5494354Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2019-09-12T07:15:33.5494354Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 8698977957874081777*14994754873418086271
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: Lorem ipsum dolor sit amet, consectetur adipiscing elit
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 12 Sep 2019 07:15:35 GMT
      x-ms-range:
      - bytes=0-54
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage78d4168f.file.core.windows.net/listshare/mydir/sample?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /BCgjff6+jhxFmZGYJ4clQ==
      etag:
      - '"0x8D737510081E1DD"'
      last-modified:
      - Thu, 12 Sep 2019 07:15:33 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Sep 2019 07:15:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage78d4168f.file.core.windows.net/listshare/mydir?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage78d4168f.file.core.windows.net/\" ShareName=\"listshare\"
        DirectoryPath=\"mydir\"><Entries><File><Name>sample</Name><Properties><Content-Length>55</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 12 Sep 2019 07:15:35 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstorage78d4168f.file.core.windows.net/listshare?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
version: 1
