interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:14:01 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragea5a50b39.file.core.windows.net/utsharea5a50b39?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D249D31A13"'
      last-modified:
      - Mon, 14 Oct 2019 18:14:00 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '2048'
      x-ms-date:
      - Mon, 14 Oct 2019 18:14:02 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstoragea5a50b39.file.core.windows.net/utsharea5a50b39/filea5a50b39
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D24A01EC21"'
      last-modified:
      - Mon, 14 Oct 2019 18:14:01 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-10-14T18:14:01.1208737Z'
      x-ms-file-creation-time:
      - '2019-10-14T18:14:01.1208737Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-10-14T18:14:01.1208737Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 821681440481416107*11801641777163729701
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:14:02 GMT
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstoragea5a50b39.file.core.windows.net/utsharea5a50b39/filea5a50b39?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - pTsTLZHyQ+et6NksJ1OHxg==
      etag:
      - '"0x8D750D24A117F64"'
      last-modified:
      - Mon, 14 Oct 2019 18:14:01 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:14:02 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstoragea5a50b39.file.core.windows.net/utsharea5a50b39/filea5a50b39?comp=rangelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>511</End></Range><Range><Start>1024</Start><End>1535</End></Range></Ranges>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D750D24A22E7A7"'
      last-modified:
      - Mon, 14 Oct 2019 18:14:01 GMT
      x-ms-content-length:
      - '2048'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
version: 1
