interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:05 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FB85590F225B"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FB8559201C1C"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1%2Fpref_dir3?restype=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FB855930E807"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/file1
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FB855950D1F7"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1024'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/file1?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Ahu8fuILcRNNU+ICBr1v6w==
      ETag:
      - '"0x8D6FB85595F2C76"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/pref_file2
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FB85596D86FE"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/pref_file2?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - grijQ0kEQRqf3EPKh87nDA==
      ETag:
      - '"0x8D6FB85597C0899"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:07 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '4'
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/file3
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D6FB8559899FAD"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:07 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '1025'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-range:
      - bytes=0-3
      x-ms-version:
      - '2018-11-09'
      x-ms-write:
      - update
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/file3?comp=range
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - grijQ0kEQRqf3EPKh87nDA==
      ETag:
      - '"0x8D6FB8559984857"'
      Last-Modified:
      - Fri, 28 Jun 2019 04:59:07 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 28 Jun 2019 04:59:06 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/share625f1644/dir1?prefix=pref&restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        share625f1644\" DirectoryPath=\"dir1\"><Prefix>pref</Prefix><Entries><Directory><Name>pref_dir3</Name><Properties\
        \ /></Directory><File><Name>pref_file2</Name><Properties><Content-Length>4</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
