interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 03:04:25 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage492a15b6.file.core.windows.net/share492a15b6?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D727769AE779D2"'
      last-modified:
      - Fri, 23 Aug 2019 03:04:25 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-08-23T03:03:25Z</Start><Expiry>2019-08-23T04:04:25Z</Expiry><Permission>w</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 03:04:25 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://pyacrstorage492a15b6.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D727769AF51DDC"'
      last-modified:
      - Fri, 23 Aug 2019 03:04:25 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 23 Aug 2019 03:04:25 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://pyacrstorage492a15b6.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-08-23T03:03:25.0000000Z</Start><Expiry>2019-08-23T04:04:25.0000000Z</Expiry><Permission>w</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D727769AF51DDC"'
      last-modified:
      - Fri, 23 Aug 2019 03:04:25 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
