interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:20:10 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage64bc164f.file.core.windows.net/subdirshare?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D32589111E"'
      last-modified:
      - Mon, 14 Oct 2019 18:20:09 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:20:10 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage64bc164f.file.core.windows.net/subdirshare/parentdir?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D325973DE9"'
      last-modified:
      - Mon, 14 Oct 2019 18:20:09 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-10-14T18:20:09.5204841Z'
      x-ms-file-creation-time:
      - '2019-10-14T18:20:09.5204841Z'
      x-ms-file-id:
      - '13835128424026341376'
      x-ms-file-last-write-time:
      - '2019-10-14T18:20:09.5204841Z'
      x-ms-file-parent-id:
      - '0'
      x-ms-file-permission-key:
      - 5692730194614424929*2872036386850570984
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:20:10 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - inherit
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage64bc164f.file.core.windows.net/subdirshare/parentdir%2Fsubdir?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D325A634C3"'
      last-modified:
      - Mon, 14 Oct 2019 18:20:09 GMT
      x-ms-file-attributes:
      - Directory
      x-ms-file-change-time:
      - '2019-10-14T18:20:09.6185539Z'
      x-ms-file-creation-time:
      - '2019-10-14T18:20:09.6185539Z'
      x-ms-file-id:
      - '11529285414812647424'
      x-ms-file-last-write-time:
      - '2019-10-14T18:20:09.6185539Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 5692730194614424929*2872036386850570984
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '55'
      x-ms-date:
      - Mon, 14 Oct 2019 18:20:10 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage64bc164f.file.core.windows.net/subdirshare/parentdir/sample
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D325B50487"'
      last-modified:
      - Mon, 14 Oct 2019 18:20:09 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-10-14T18:20:09.7156231Z'
      x-ms-file-creation-time:
      - '2019-10-14T18:20:09.7156231Z'
      x-ms-file-id:
      - '16140971433240035328'
      x-ms-file-last-write-time:
      - '2019-10-14T18:20:09.7156231Z'
      x-ms-file-parent-id:
      - '13835128424026341376'
      x-ms-file-permission-key:
      - 10338977907817605734*2872036386850570984
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: Lorem ipsum dolor sit amet, consectetur adipiscing elit
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:20:10 GMT
      x-ms-range:
      - bytes=0-54
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage64bc164f.file.core.windows.net/subdirshare/parentdir/sample?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /BCgjff6+jhxFmZGYJ4clQ==
      etag:
      - '"0x8D750D325C1B104"'
      last-modified:
      - Mon, 14 Oct 2019 18:20:09 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-length:
      - '55'
      x-ms-date:
      - Mon, 14 Oct 2019 18:20:11 GMT
      x-ms-file-attributes:
      - none
      x-ms-file-creation-time:
      - now
      x-ms-file-last-write-time:
      - now
      x-ms-file-permission:
      - Inherit
      x-ms-type:
      - file
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://pyacrstorage64bc164f.file.core.windows.net/subdirshare/parentdir/subdir/sample
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D750D325CBEC13"'
      last-modified:
      - Mon, 14 Oct 2019 18:20:09 GMT
      x-ms-file-attributes:
      - Archive
      x-ms-file-change-time:
      - '2019-10-14T18:20:09.8657299Z'
      x-ms-file-creation-time:
      - '2019-10-14T18:20:09.8657299Z'
      x-ms-file-id:
      - '10376363910205800448'
      x-ms-file-last-write-time:
      - '2019-10-14T18:20:09.8657299Z'
      x-ms-file-parent-id:
      - '11529285414812647424'
      x-ms-file-permission-key:
      - 10338977907817605734*2872036386850570984
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: Lorem ipsum dolor sit amet, consectetur adipiscing elit
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Mon, 14 Oct 2019 18:20:11 GMT
      x-ms-range:
      - bytes=0-54
      x-ms-version:
      - '2019-02-02'
      x-ms-write:
      - update
    method: PUT
    uri: https://pyacrstorage64bc164f.file.core.windows.net/subdirshare/parentdir/subdir/sample?comp=range
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /BCgjff6+jhxFmZGYJ4clQ==
      etag:
      - '"0x8D750D325D8E6B9"'
      last-modified:
      - Mon, 14 Oct 2019 18:20:09 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:20:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://pyacrstorage64bc164f.file.core.windows.net/subdirshare/parentdir?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://pyacrstorage64bc164f.file.core.windows.net/\" ShareName=\"subdirshare\"
        DirectoryPath=\"parentdir\"><Entries><File><Name>sample</Name><Properties><Content-Length>55</Content-Length></Properties></File><Directory><Name>subdir</Name><Properties
        /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 14 Oct 2019 18:20:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: DELETE
    uri: https://pyacrstorage64bc164f.file.core.windows.net/subdirshare?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-02-02'
    status:
      code: 202
      message: Accepted
version: 1
