interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 01:48:52 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/share31600fc8?restype=share
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8D716EB92EE826D"'
      Last-Modified:
      - Fri, 02 Aug 2019 01:48:53 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Fri, 02 Aug 2019 01:48:53 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>share31600fc8</Name><Properties><Last-Modified>Fri,
        02 Aug 2019 01:48:53 GMT</Last-Modified><Etag>\"0x8D716EB92EE826D\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>utshare1f959397749748d28547b12abbab575b</Name><Properties><Last-Modified>Fri,
        02 Aug 2019 01:31:55 GMT</Last-Modified><Etag>\"0x8D716E934011551\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>utsharef3cb3a4c16624e9d85715290486dccf4</Name><Properties><Last-Modified>Fri,
        02 Aug 2019 01:31:29 GMT</Last-Modified><Etag>\"0x8D716E92470285E\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>utsharef82c7b02680b4157bf0842ca890ff18e</Name><Properties><Last-Modified>Thu,
        01 Aug 2019 20:44:45 GMT</Last-Modified><Etag>\"0x8D716C116342B2F\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
