interactions:
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:40:29 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://storagename.file.core.windows.net/%E5%95%8A%E9%BD%84%E4%B8%82%E7%8B%9B%E7%8B%9C?restype=share
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidResourceName</Code><Message>The
        specifed resource name contains invalid characters.\nRequestId:134aa229-701a-00c2-3c44-4aecbe000000\nTime:2019-08-03T21:40:29.1202684Z</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - InvalidResourceName
      x-ms-version:
      - '2018-11-09'
    status:
      code: 400
      message: The specifed resource name contains invalid characters.
- request:
    body: null
    headers:
      content-type:
      - application/xml; charset=utf-8
      x-ms-date:
      - Sat, 03 Aug 2019 21:40:30 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://storagename.file.core.windows.net/?include=snapshots&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares /><NextMarker
        /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
