interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 May 2019 07:04:34 GMT']
      x-ms-recursive: ['True']
      x-ms-version: ['2018-11-09']
    method: GET
    uri: https://storagename.file.core.windows.net/test?comp=listhandles
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults><Entries><Handle><HandleId>21129680188</HandleId><Path>foo2.txt</Path><FileId>12682214616000888832</FileId><ParentId>0</ParentId><SessionId>9385737614310506553</SessionId><ClientIp>167.220.2.92:27553</ClientIp><OpenTime>Fri,\
        \ 03 May 2019 06:59:59 GMT</OpenTime></Handle><Handle><HandleId>21129680656</HandleId><Path>wut/bla1.txt</Path><FileId>17293900634428276736</FileId><ParentId>11529308504556830720</ParentId><SessionId>9385737614310506553</SessionId><ClientIp>167.220.2.92:27553</ClientIp><OpenTime>Fri,\
        \ 03 May 2019 07:00:18 GMT</OpenTime></Handle><Handle><HandleId>21129680100</HandleId><Path>wut/foo1.txt</Path><FileId>14988057625214582784</FileId><ParentId>11529308504556830720</ParentId><SessionId>9385737614310506553</SessionId><ClientIp>167.220.2.92:27553</ClientIp><OpenTime>Fri,\
        \ 03 May 2019 06:59:55 GMT</OpenTime></Handle></Entries><NextMarker /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-11-09']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 May 2019 07:04:35 GMT']
      x-ms-handle-id: ['*']
      x-ms-recursive: ['True']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.file.core.windows.net/test?comp=forceclosehandles
  response:
    body: {string: ''}
    headers:
      x-ms-number-of-handles-closed: ['3']
      x-ms-version: ['2018-11-09']
    status: {code: 200, message: OK}
version: 1