# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for
# license information.
#
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is
# regenerated.
# --------------------------------------------------------------------------

import uuid
from msrest.pipeline import ClientRawResponse
from msrest.polling import LROPoller, NoPolling
from msrestazure.polling.arm_polling import ARMPolling

from .. import models


class QuotaOperations(object):
    """QuotaOperations operations.

    You should not instantiate directly this class, but create a Client instance that will create it for you and attach it as attribute.

    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    :ivar api_version: The API version to use for this operation. Constant value: "2021-03-15-preview".
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):

        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self.api_version = "2021-03-15-preview"

        self.config = config

    def get(
            self, resource_name, scope, custom_headers=None, raw=False, **operation_config):
        """Gets the quota limit and current quota usage of a resource. The
        response can be used to determine the remaining quota and calculate a
        new quota limit that can be submitted with a PUT request.

        :param resource_name: Resource name for a given resource provider. For
         example:
         - SKU name for Microsoft.Compute
         - Sku or TotalLowPriorityCores for Microsoft.MachineLearningServices
        :type resource_name: str
        :param scope: The target Azure resource URI. For example,
         `/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/resourceGroups/qms-test/providers/Microsoft.Batch/batchAccounts/testAccount/`.
         This is the target Azure resource URI for the List GET operation. If a
         `{resourceName}` is added after `/quotaLimits`, then it's the target
         Azure resource URI in the GET operation for the specific resource.
        :type scope: str
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: CurrentQuotaLimitBase or ClientRawResponse if raw=true
        :rtype: ~azure.mgmt.quota.models.CurrentQuotaLimitBase or
         ~msrest.pipeline.ClientRawResponse
        :raises:
         :class:`ExceptionResponseException<azure.mgmt.quota.models.ExceptionResponseException>`
        """
        # Construct URL
        url = self.get.metadata['url']
        path_format_arguments = {
            'resourceName': self._serialize.url("resource_name", resource_name, 'str'),
            'scope': self._serialize.url("scope", scope, 'str', skip_quote=True)
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str', min_length=1)

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200]:
            raise models.ExceptionResponseException(self._deserialize, response)

        header_dict = {}
        deserialized = None
        if response.status_code == 200:
            deserialized = self._deserialize('CurrentQuotaLimitBase', response)
            header_dict = {
                'ETag': 'str',
            }

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            client_raw_response.add_headers(header_dict)
            return client_raw_response

        return deserialized
    get.metadata = {'url': '/{scope}/providers/Microsoft.Quota/quotaLimits/{resourceName}'}


    def _create_or_update_initial(
            self, resource_name, scope, properties=None, custom_headers=None, raw=False, **operation_config):
        create_quota_request = models.CurrentQuotaLimitBase(properties=properties)

        # Construct URL
        url = self.create_or_update.metadata['url']
        path_format_arguments = {
            'resourceName': self._serialize.url("resource_name", resource_name, 'str'),
            'scope': self._serialize.url("scope", scope, 'str', skip_quote=True)
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str', min_length=1)

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        header_parameters['Content-Type'] = 'application/json; charset=utf-8'
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct body
        body_content = self._serialize.body(create_quota_request, 'CurrentQuotaLimitBase')

        # Construct and send request
        request = self._client.put(url, query_parameters, header_parameters, body_content)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200, 202]:
            raise models.ExceptionResponseException(self._deserialize, response)

        deserialized = None

        if response.status_code == 200:
            deserialized = self._deserialize('CurrentQuotaLimitBase', response)
        if response.status_code == 202:
            deserialized = self._deserialize('CurrentQuotaLimitBase', response)

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized

    def create_or_update(
            self, resource_name, scope, properties=None, custom_headers=None, raw=False, polling=True, **operation_config):
        """Create or update the quota limit for the specified resource to the
        requested value. To update the quota, follow these steps:
        1. Use the GET operation to determine how much quota remains for the
        specific resource and to calculate the new quota limit. These steps are
        detailed in [this
        example](https://techcommunity.microsoft.com/t5/azure-governance-and-management/using-the-new-quota-rest-api/ba-p/2183670).
        2. Use this PUT operation to update the quota limit.

        :param resource_name: Resource name for a given resource provider. For
         example:
         - SKU name for Microsoft.Compute
         - Sku or TotalLowPriorityCores for Microsoft.MachineLearningServices
        :type resource_name: str
        :param scope: The target Azure resource URI. For example,
         `/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/resourceGroups/qms-test/providers/Microsoft.Batch/batchAccounts/testAccount/`.
         This is the target Azure resource URI for the List GET operation. If a
         `{resourceName}` is added after `/quotaLimits`, then it's the target
         Azure resource URI in the GET operation for the specific resource.
        :type scope: str
        :param properties: Quota properties for the specified resource.
        :type properties: ~azure.mgmt.quota.models.QuotaProperties
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: The poller return type is ClientRawResponse, the
         direct response alongside the deserialized response
        :param polling: True for ARMPolling, False for no polling, or a
         polling object for personal polling strategy
        :return: An instance of LROPoller that returns CurrentQuotaLimitBase
         or ClientRawResponse<CurrentQuotaLimitBase> if raw==True
        :rtype:
         ~msrestazure.azure_operation.AzureOperationPoller[~azure.mgmt.quota.models.CurrentQuotaLimitBase]
         or
         ~msrestazure.azure_operation.AzureOperationPoller[~msrest.pipeline.ClientRawResponse[~azure.mgmt.quota.models.CurrentQuotaLimitBase]]
        :raises:
         :class:`ExceptionResponseException<azure.mgmt.quota.models.ExceptionResponseException>`
        """
        raw_result = self._create_or_update_initial(
            resource_name=resource_name,
            scope=scope,
            properties=properties,
            custom_headers=custom_headers,
            raw=True,
            **operation_config
        )

        def get_long_running_output(response):
            deserialized = self._deserialize('CurrentQuotaLimitBase', response)

            if raw:
                client_raw_response = ClientRawResponse(deserialized, response)
                return client_raw_response

            return deserialized

        lro_delay = operation_config.get(
            'long_running_operation_timeout',
            self.config.long_running_operation_timeout)
        if polling is True: polling_method = ARMPolling(lro_delay, **operation_config)
        elif polling is False: polling_method = NoPolling()
        else: polling_method = polling
        return LROPoller(self._client, raw_result, get_long_running_output, polling_method)
    create_or_update.metadata = {'url': '/{scope}/providers/Microsoft.Quota/quotaLimits/{resourceName}'}


    def _update_initial(
            self, resource_name, scope, properties=None, custom_headers=None, raw=False, **operation_config):
        create_quota_request = models.CurrentQuotaLimitBase(properties=properties)

        # Construct URL
        url = self.update.metadata['url']
        path_format_arguments = {
            'resourceName': self._serialize.url("resource_name", resource_name, 'str'),
            'scope': self._serialize.url("scope", scope, 'str', skip_quote=True)
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str', min_length=1)

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        header_parameters['Content-Type'] = 'application/json; charset=utf-8'
        if self.config.generate_client_request_id:
            header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
        if custom_headers:
            header_parameters.update(custom_headers)
        if self.config.accept_language is not None:
            header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

        # Construct body
        body_content = self._serialize.body(create_quota_request, 'CurrentQuotaLimitBase')

        # Construct and send request
        request = self._client.patch(url, query_parameters, header_parameters, body_content)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200, 202]:
            raise models.ExceptionResponseException(self._deserialize, response)

        deserialized = None

        if response.status_code == 200:
            deserialized = self._deserialize('CurrentQuotaLimitBase', response)
        if response.status_code == 202:
            deserialized = self._deserialize('CurrentQuotaLimitBase', response)

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized

    def update(
            self, resource_name, scope, properties=None, custom_headers=None, raw=False, polling=True, **operation_config):
        """Update the quota limit for a specific resource to the specified value:
        1. Use the GET operation to determine how much quota remains for the
        specific resource and to calculate the new quota limit. These steps are
        detailed in [this
        example](https://techcommunity.microsoft.com/t5/azure-governance-and-management/using-the-new-quota-rest-api/ba-p/2183670).
        2. Use this PUT operation to update the quota limit.

        :param resource_name: Resource name for a given resource provider. For
         example:
         - SKU name for Microsoft.Compute
         - Sku or TotalLowPriorityCores for Microsoft.MachineLearningServices
        :type resource_name: str
        :param scope: The target Azure resource URI. For example,
         `/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/resourceGroups/qms-test/providers/Microsoft.Batch/batchAccounts/testAccount/`.
         This is the target Azure resource URI for the List GET operation. If a
         `{resourceName}` is added after `/quotaLimits`, then it's the target
         Azure resource URI in the GET operation for the specific resource.
        :type scope: str
        :param properties: Quota properties for the specified resource.
        :type properties: ~azure.mgmt.quota.models.QuotaProperties
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: The poller return type is ClientRawResponse, the
         direct response alongside the deserialized response
        :param polling: True for ARMPolling, False for no polling, or a
         polling object for personal polling strategy
        :return: An instance of LROPoller that returns CurrentQuotaLimitBase
         or ClientRawResponse<CurrentQuotaLimitBase> if raw==True
        :rtype:
         ~msrestazure.azure_operation.AzureOperationPoller[~azure.mgmt.quota.models.CurrentQuotaLimitBase]
         or
         ~msrestazure.azure_operation.AzureOperationPoller[~msrest.pipeline.ClientRawResponse[~azure.mgmt.quota.models.CurrentQuotaLimitBase]]
        :raises:
         :class:`ExceptionResponseException<azure.mgmt.quota.models.ExceptionResponseException>`
        """
        raw_result = self._update_initial(
            resource_name=resource_name,
            scope=scope,
            properties=properties,
            custom_headers=custom_headers,
            raw=True,
            **operation_config
        )

        def get_long_running_output(response):
            deserialized = self._deserialize('CurrentQuotaLimitBase', response)

            if raw:
                client_raw_response = ClientRawResponse(deserialized, response)
                return client_raw_response

            return deserialized

        lro_delay = operation_config.get(
            'long_running_operation_timeout',
            self.config.long_running_operation_timeout)
        if polling is True: polling_method = ARMPolling(lro_delay, **operation_config)
        elif polling is False: polling_method = NoPolling()
        else: polling_method = polling
        return LROPoller(self._client, raw_result, get_long_running_output, polling_method)
    update.metadata = {'url': '/{scope}/providers/Microsoft.Quota/quotaLimits/{resourceName}'}

    def list(
            self, scope, custom_headers=None, raw=False, **operation_config):
        """Get a list of current quota limits and usages of all resources. The
        response from this GET operation can be leveraged to submit requests to
        update a quota.

        :param scope: The target Azure resource URI. For example,
         `/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/resourceGroups/qms-test/providers/Microsoft.Batch/batchAccounts/testAccount/`.
         This is the target Azure resource URI for the List GET operation. If a
         `{resourceName}` is added after `/quotaLimits`, then it's the target
         Azure resource URI in the GET operation for the specific resource.
        :type scope: str
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: An iterator like instance of CurrentQuotaLimitBase
        :rtype:
         ~azure.mgmt.quota.models.CurrentQuotaLimitBasePaged[~azure.mgmt.quota.models.CurrentQuotaLimitBase]
        :raises:
         :class:`ExceptionResponseException<azure.mgmt.quota.models.ExceptionResponseException>`
        """
        def prepare_request(next_link=None):
            if not next_link:
                # Construct URL
                url = self.list.metadata['url']
                path_format_arguments = {
                    'scope': self._serialize.url("scope", scope, 'str', skip_quote=True)
                }
                url = self._client.format_url(url, **path_format_arguments)

                # Construct parameters
                query_parameters = {}
                query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str', min_length=1)

            else:
                url = next_link
                query_parameters = {}

            # Construct headers
            header_parameters = {}
            header_parameters['Accept'] = 'application/json'
            if self.config.generate_client_request_id:
                header_parameters['x-ms-client-request-id'] = str(uuid.uuid1())
            if custom_headers:
                header_parameters.update(custom_headers)
            if self.config.accept_language is not None:
                header_parameters['accept-language'] = self._serialize.header("self.config.accept_language", self.config.accept_language, 'str')

            # Construct and send request
            request = self._client.get(url, query_parameters, header_parameters)
            return request

        def internal_paging(next_link=None):
            request = prepare_request(next_link)

            response = self._client.send(request, stream=False, **operation_config)

            if response.status_code not in [200]:
                raise models.ExceptionResponseException(self._deserialize, response)

            return response

        # Deserialize response
        header_dict = None
        if raw:
            header_dict = {}
        deserialized = models.CurrentQuotaLimitBasePaged(internal_paging, self._deserialize.dependencies, header_dict)

        return deserialized
    list.metadata = {'url': '/{scope}/providers/Microsoft.Quota/quotaLimits'}
