{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/geolocation/ip/json?api-version=1.0\u0026ip=2001%3A4898%3A80e8%3Ab%3A%3A189",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "AzureMapsSubscriptionKey"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "countryRegion": {
          "isoCode": "US"
        },
        "ipAddress": "2001:4898:80e8:b::189"
      }
    }
  ],
  "Variables": {}
}
