{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11982",
        "x-ms-response-type": "standard",
        "x-request-time": "0.047"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "eastus2euap",
        "tags": {},
        "properties": {
          "createdOn": "2022-10-03T21:46:20.5346963\u002B00:00",
          "modifiedOn": "2022-10-03T21:46:27.112137\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "eastus2euap",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 0,
            "targetNodeCount": 0,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2022-10-03T23:05:00.388\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11979",
        "x-ms-response-type": "standard",
        "x-request-time": "0.089"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "sariqusicnq3pzs",
          "containerName": "azureml-blobstore-4860fcd6-4e42-4327-b152-15fae98c7b6f",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2022-10-03T21:46:07.2789154\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2022-10-03T21:46:08.2131223\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1194",
        "x-ms-response-type": "standard",
        "x-request-time": "0.239"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://sariqusicnq3pzs.blob.core.windows.net/azureml-blobstore-4860fcd6-4e42-4327-b152-15fae98c7b6f/LocalUpload/00000000000000000000000000000000/python/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 04 Oct 2022 00:07:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "dUQjYq1qrTeqLOaZ4N2AUQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAA590040CC842\u0022",
        "Last-Modified": "Mon, 03 Oct 2022 22:38:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 03 Oct 2022 22:38:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "7f5666a9-07a3-40c5-b7e3-7d34bc0b078c",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sariqusicnq3pzs.blob.core.windows.net/azureml-blobstore-4860fcd6-4e42-4327-b152-15fae98c7b6f/az-ml-artifacts/00000000000000000000000000000000/python/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 04 Oct 2022 00:07:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/7f5666a9-07a3-40c5-b7e3-7d34bc0b078c/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sariqusicnq3pzs.blob.core.windows.net/azureml-blobstore-4860fcd6-4e42-4327-b152-15fae98c7b6f/LocalUpload/00000000000000000000000000000000/python"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1188",
        "x-ms-response-type": "standard",
        "x-request-time": "0.081"
      },
      "Response[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World \u0026 echo ${{inputs.component_in_number}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/7f5666a9-07a3-40c5-b7e3-7d34bc0b078c/versions/1",
            "environment": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1",
            "name": "azureml_anonymous",
            "tags": {},
            "version": "000000000000000000000",
            "display_name": "hello_world_component_inline",
            "is_deterministic": true,
            "inputs": {
              "component_in_number": {
                "type": "integer",
                "default": "10",
                "description": "Am integer"
              }
            },
            "outputs": {},
            "type": "command",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1187",
        "x-ms-response-type": "standard",
        "x-request-time": "0.525"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/62fa198a-96c4-4130-84ad-8a51236710c5",
        "name": "62fa198a-96c4-4130-84ad-8a51236710c5",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "componentSpec": {
            "name": "azureml_anonymous",
            "version": "62fa198a-96c4-4130-84ad-8a51236710c5",
            "display_name": "hello_world_component_inline",
            "is_deterministic": "True",
            "type": "command",
            "inputs": {
              "component_in_number": {
                "type": "integer",
                "optional": "False",
                "default": "10",
                "description": "Am integer"
              }
            },
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/7f5666a9-07a3-40c5-b7e3-7d34bc0b078c/versions/1",
            "environment": "azureml://registries/CuratedRegistry/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu/versions/1",
            "resources": {
              "instance_count": "1"
            },
            "command": "echo Hello World \u0026 echo ${{inputs.component_in_number}}",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json"
          }
        },
        "systemData": {
          "createdAt": "2022-10-04T00:07:16.3506566\u002B00:00",
          "createdBy": "Tony Ponwin Jeparatnam",
          "createdByType": "User",
          "lastModifiedAt": "2022-10-04T00:07:16.3506566\u002B00:00",
          "lastModifiedBy": "Tony Ponwin Jeparatnam",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_982999093808?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "The hello world pipeline job with inline components",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "test_982999093808",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "job_in_number": {
              "jobInputType": "literal",
              "value": "10.01"
            },
            "job_in_other_number": {
              "jobInputType": "literal",
              "value": "15"
            }
          },
          "jobs": {
            "hello_world_component_inline": {
              "resources": null,
              "distribution": null,
              "limits": null,
              "environment_variables": {},
              "name": "hello_world_component_inline",
              "type": "command",
              "display_name": null,
              "tags": {},
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "inputs": {
                "component_in_number": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_number}}"
                }
              },
              "outputs": {},
              "properties": {},
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/62fa198a-96c4-4130-84ad-8a51236710c5"
            },
            "hello_world_component_inline_with_schema": {
              "resources": null,
              "distribution": null,
              "limits": null,
              "environment_variables": {},
              "name": "hello_world_component_inline_with_schema",
              "type": "command",
              "display_name": null,
              "tags": {},
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "inputs": {
                "component_in_number": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_number}}"
                }
              },
              "outputs": {},
              "properties": {},
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/72a95e5e-d4d7-433d-8d59-979ab80eee08"
            }
          },
          "outputs": {},
          "settings": {
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_982999093808?api-version=2022-10-01-preview",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1184",
        "x-ms-response-type": "standard",
        "x-request-time": "7.191"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_982999093808",
        "name": "test_982999093808",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "The hello world pipeline job with inline components",
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{\u0022job_in_number\u0022:\u002210.01\u0022,\u0022job_in_other_number\u0022:\u002215\u0022}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultComputeName": "cpu-cluster",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "test_982999093808",
          "status": "Preparing",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://eastus2euap.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/test_982999093808?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "jobType": "Pipeline",
          "settings": {
            "_source": "YAML.JOB"
          },
          "jobs": {
            "hello_world_component_inline": {
              "resources": null,
              "distribution": null,
              "limits": null,
              "environment_variables": {},
              "name": "hello_world_component_inline",
              "type": "command",
              "display_name": null,
              "tags": {},
 [...]
[...]
