{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11873",
        "x-ms-response-type": "standard",
        "x-request-time": "0.038"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "createdOn": "2023-02-09T01:54:27.5698654\u002B00:00",
          "modifiedOn": "2023-02-09T01:54:31.3327171\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "eastus2",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 4,
            "targetNodeCount": 4,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 2,
              "idleNodeCount": 2,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2023-02-12T04:34:54.108\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11872",
        "x-ms-response-type": "standard",
        "x-request-time": "0.028"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/safat2f6rn4hclg",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestkwk2ikhiolcmu",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aifat2f6rn4hclg",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crfat2f6rn4hclg",
          "notebookInfo": {
            "resourceId": "0000000-0000-0000-0000-000000000000",
            "fqdn": "ml-sdkvnextcli-eastus2-f7a7a6a9-166d-4f8e-9423-60668c799dd1.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "f7a7a6a9-166d-4f8e-9423-60668c799dd1",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "0000000-0000-0000-0000-000000000000",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "0000000-0000-0000-0000-000000000000",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-02-09T01:53:50.8086974Z",
          "createdBy": "dipeck@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-09T01:53:50.8086974Z",
          "lastModifiedBy": "dipeck@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/getByHash?hash=d3c05b496c685e7e5a204e3cebc689086bd0f622c2975d8090c18968739a464a\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.077"
      },
      "ResponseBody": {
        "snapshotType": "LocalFiles",
        "id": "36e721f6-9af7-4594-8211-d87935c6ea68",
        "root": {
          "name": "",
          "hash": null,
          "type": "Directory",
          "timestamp": "0001-01-01T00:00:00\u002B00:00",
          "sasUrl": null,
          "absoluteUrl": null,
          "sizeBytes": 0,
          "sizeSet": false,
          "children": {
            "COMPONENT_PLACEHOLDER": {
              "name": "COMPONENT_PLACEHOLDER",
              "hash": "2FF0E74A91489FE8DA41673EB1441D73",
              "type": "File",
              "timestamp": "0001-01-01T00:00:00\u002B00:00",
              "sasUrl": null,
              "absoluteUrl": null,
              "sizeBytes": 35,
              "sizeSet": true,
              "children": {}
            }
          }
        },
        "tags": {},
        "properties": {
          "hash_sha256": "d3c05b496c685e7e5a204e3cebc689086bd0f622c2975d8090c18968739a464a",
          "hash_version": "202208",
          "azureml.codeUri": "https://safat2f6rn4hclg.blob.core.windows.net:443/000000000000000000000000000000000000/"
        },
        "description": null,
        "name": "c5e725e4-390c-4ed9-8afd-37e3b074f122",
        "version": "1",
        "createdBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Diondra Peck",
          "upn": null
        },
        "createdTime": "2023-02-10T05:46:32.7207975\u002B00:00",
        "modifiedBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Diondra Peck",
          "upn": null
        },
        "modifiedTime": "2023-02-10T05:46:32.7207975\u002B00:00",
        "gitRepositoryCommit": null,
        "uri": "https://safat2f6rn4hclg.blob.core.windows.net:443/000000000000000000000000000000000000/",
        "contentHash": "d3c05b496c685e7e5a204e3cebc689086bd0f622c2975d8090c18968739a464a",
        "hashVersion": "202208",
        "provisioningState": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/c5e725e4-390c-4ed9-8afd-37e3b074f122/versions/1?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11871",
        "x-ms-response-type": "standard",
        "x-request-time": "0.045"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/c5e725e4-390c-4ed9-8afd-37e3b074f122/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://safat2f6rn4hclg.blob.core.windows.net:443/000000000000000000000000000000000000/"
        },
        "systemData": {
          "createdAt": "2023-02-10T05:46:32.7207975\u002B00:00",
          "createdBy": "Diondra Peck",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-10T05:46:32.7207975\u002B00:00",
          "lastModifiedBy": "Diondra Peck",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the command component for sweep",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo \u0022Start training ...\u0022 \u0026\u0026 python mnist.py --data_folder ${{inputs.data_folder}} --batch_size ${{inputs.batch_size}} --first_layer_neurons ${{inputs.first_layer_neurons}} --second_layer_neurons ${{inputs.second_layer_neurons}} --third_layer_neurons ${{inputs.third_layer_neurons}} --epochs ${{inputs.epochs}} --f1 ${{inputs.f1}} --f2 ${{inputs.f2}} --weight_decay ${{inputs.weight_decay}} --momentum ${{inputs.momentum}} --learning_rate ${{inputs.learning_rate}} --saved_model ${{outputs.trained_model_dir}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/c5e725e4-390c-4ed9-8afd-37e3b074f122/versions/1",
            "environment": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1",
            "name": "azureml_anonymous",
            "description": "This is the command component for sweep",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentForSweep",
            "is_deterministic": true,
            "inputs": {
              "batch_size": {
                "type": "integer"
              },
              "first_layer_neurons": {
                "type": "integer"
              },
              "second_layer_neurons": {
                "type": "integer"
              },
              "third_layer_neurons": {
                "type": "integer"
              },
              "epochs": {
                "type": "integer"
              },
              "momentum": {
                "type": "number"
              },
              "weight_decay": {
                "type": "number"
              },
              "learning_rate": {
                "type": "number"
              },
              "f1": {
                "type": "number"
              },
              "f2": {
                "type": "number"
              },
              "random_seed": {
                "type": "integer",
                "default": "42"
              },
              "data_folder": {
                "type": "mltable"
              }
            },
            "outputs": {
              "trained_model_dir": {
                "type": "mlflow_model"
              }
            },
            "type": "command",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1148",
        "x-ms-response-type": "standard",
        "x-request-time": "0.549"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11870",
        "x-ms-response-type": "standard",
        "x-request-time": "0.067"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "safat2f6rn4hclg",
          "containerName": "azureml-blobstore-f7a7a6a9-166d-4f8e-9423-60668c799dd1",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2023-02-09T01:54:14.8328018\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2023-02-09T01:54:15.4266439\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1165",
        "x-ms-response-type": "standard",
        "x-request-time": "0.079"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/000000000000000000000000000000000000c799dd1/LocalUpload/00000000000000000000000000000000/data/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sun, 12 Feb 2023 04:43:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kD7N5\u002BygjTfbYTFhyEo7RA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB0A44A847D81E\u0022",
        "Last-Modified": "Thu, 09 Feb 2023 02:23:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 09 Feb 2023 02:23:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "c1166f0b-1354-4e4b-af57-7a425c41999e",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "5cfc8745-c7da-4612-baf2-af1f63436df4",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/000000000000000000000000000000000000c799dd1/az-ml-artifacts/00000000000000000000000000000000/data/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sun, 12 Feb 2023 04:43:08 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/000000000000000000000000000000000000c799dd1/LocalUpload/00000000000000000000000000000000/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sun, 12 Feb 2023 04:43:09 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kD7N5\u002BygjTfbYTFhyEo7RA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB0ABBCA43A385\u0022",
        "Last-Modified": "Thu, 09 Feb 2023 16:36:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 09 Feb 2023 16:36:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "014e4810-cd0b-4472-aaf9-258be8e26d55",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "f5249f53-0fde-4aeb-b9cb-5a14dbd0b9f7",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/000000000000000000000000000000000000c799dd1/az-ml-artifacts/00000000000000000000000000000000/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Sun, 12 Feb 2023 04:43:09 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_550581550973?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "The hello world pipeline job with data binding",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "pipeline_with_data_binding",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "job_in_number": {
              "jobInputType": "literal",
              "value": "1"
            },
            "job_in_string": {
              "jobInputType": "literal",
              "value": "accuracy"
            },
            "job_in_folder": {
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/data/",
              "jobInputType": "uri_folder"
            },
            "job_in_file": {
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/sample1.csv",
              "jobInputType": "uri_file"
            },
            "target_compute": {
              "jobInputType": "literal",
              "value": "cpu-cluster"
            },
            "output_file_name": {
              "jobInputType": "literal",
              "value": "sample1.csv"
            }
          },
          "jobs": {
            "hello_world_sweep": {
              "limits": {
                "max_total_trials": 1
              },
              "sampling_algorithm": "random",
              "objective": {
                "goal": "maximize",
                "primary_metric": "${{parent.inputs.job_in_string}}"
              },
              "search_space": {
                "batch_size": {
                  "values": [
                    25,
                    35
                  ],
                  "type": "choice"
                }
              },
              "name": "hello_world_sweep",
              "type": "sweep",
              "inputs": {
                "epochs": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_number}}"
                },
                "data_folder": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_folder}}"
                },
                "first_layer_neurons": {
                  "job_input_type": "literal",
                  "value": "32"
                },
                "second_layer_neurons": {
                  "job_input_type": "literal",
                  [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_550581550973/cancel?api-version=2022-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationResults/jc:f7a7a6a9-166d-4f8e-9423-60668c799dd1:test_550581550973?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-ratelimit-remaining-subscription-writes": "1163",
        "x-ms-response-type": "standard",
        "x-request-time": "0.493"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationResults/jc:f7a7a6a9-166d-4f8e-9423-60668c799dd1:test_550581550973?api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationResults/jc:f7a7a6a9-166d-4f8e-9423-60668c799dd1:test_550581550973?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11868",
        "x-ms-response-type": "standard",
        "x-request-time": "0.036"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2/mfeOperationResults/jc:f7a7a6a9-166d-4f8e-9423-60668c799dd1:test_550581550973?api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11867",
        "x-ms-response-type": "standard",
        "x-request-time": "0.026"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "name": "test_550581550973"
  }
}
