{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11744",
        "x-ms-response-type": "standard",
        "x-request-time": "0.237"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "centraluseuap",
        "tags": {},
        "properties": {
          "createdOn": "2022-09-22T09:02:22.1899959\u002B00:00",
          "modifiedOn": "2022-11-21T09:48:12.4511558\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "centraluseuap",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 6,
              "minNodeCount": 1,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 3,
            "targetNodeCount": 2,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 2,
              "idleNodeCount": 1,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Resizing",
            "allocationStateTransitionTime": "2023-01-05T10:27:46.358\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11743",
        "x-ms-response-type": "standard",
        "x-request-time": "0.158"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "sagvgsoim6nmhbq",
          "containerName": "azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2022-09-22T09:02:03.2629568\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-22T09:02:04.166989\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1060",
        "x-ms-response-type": "standard",
        "x-request-time": "0.176"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/LocalUpload/00000000000000000000000000000000/train/MLTable",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 05 Jan 2023 10:28:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "gzKXoPqTu85Rz1sGY4HgaA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAC3C167F06293\u0022",
        "Last-Modified": "Fri, 11 Nov 2022 08:47:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Nov 2022 08:47:46 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "185a700f-0f83-487a-9671-db3533cca68c",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "b342a12a-4218-4ba6-861e-96ceef3258b5",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/az-ml-artifacts/00000000000000000000000000000000/train/MLTable",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 05 Jan 2023 10:28:39 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_555725293578?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "The hello world pipeline job",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "test_555725293578",
          "experimentName": "my_first_experiment",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "forecasting_train_data": {
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/train",
              "jobInputType": "mltable"
            }
          },
          "jobs": {
            "hello_automl_forecasting": {
              "name": "hello_automl_forecasting",
              "tags": {},
              "properties": {},
              "type": "automl",
              "outputs": {},
              "log_verbosity": "info",
              "training_data": "${{parent.inputs.forecasting_train_data}}",
              "limits": {
                "max_concurrent_trials": 1,
                "max_trials": 1
              },
              "featurization": {
                "mode": "auto"
              },
              "target_column_name": "BeerProduction",
              "n_cross_validations": 2,
              "task": "forecasting",
              "primary_metric": "normalized_root_mean_squared_error",
              "training": {
                "enable_stack_ensemble": false,
                "enable_vote_ensemble": false
              },
              "forecasting": {
                "forecast_horizon": 12,
                "time_column_name": "DATE",
                "frequency": "MS"
              }
            }
          },
          "outputs": {},
          "settings": {
            "continue_on_step_failure": false,
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_555725293578?api-version=2022-10-01-preview",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1007",
        "x-ms-response-type": "standard",
        "x-request-time": "2.776"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_555725293578",
        "name": "test_555725293578",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "The hello world pipeline job",
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultComputeName": "cpu-cluster",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "test_555725293578",
          "status": "Preparing",
          "experimentName": "my_first_experiment",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/test_555725293578?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "jobType": "Pipeline",
          "settings": {
            "continue_on_step_failure": false,
            "_source": "YAML.JOB"
          },
          "jobs": {
            "hello_automl_forecasting": {
              "name": "hello_automl_forecasting",
              "tags": {},
              "properties": {},
              "type": "automl",
              "outputs": {},
              "log_verbosity": "info",
              "training_data": "${{parent.inputs.forecasting_train_data}[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_555725293578/cancel?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/jc:e61cd5e2-512f-475e-9842-5e2a973993b8:test_555725293578?api-version=2022-10-01-preview",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-ratelimit-remaining-subscription-writes": "1059",
        "x-ms-response-type": "standard",
        "x-request-time": "0.771"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/jc:e61cd5e2-512f-475e-9842-5e2a973993b8:test_555725293578?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/jc:e61cd5e2-512f-475e-9842-5e2a973993b8:test_555725293578?api-version=2022-10-01-preview",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11742",
        "x-ms-response-type": "standard",
        "x-request-time": "0.063"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/jc:e61cd5e2-512f-475e-9842-5e2a973993b8:test_555725293578?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11741",
        "x-ms-response-type": "standard",
        "x-request-time": "0.030"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "name": "test_555725293578"
  }
}
