{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/microsoftsamples_command_component_basic/versions/0.0.1?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11907",
        "x-ms-response-type": "standard",
        "x-request-time": "0.065"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/microsoftsamples_command_component_basic/versions/0.0.1",
        "name": "0.0.1",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "componentSpec": {
            "name": "microsoftsamples_command_component_basic",
            "version": "0.0.1",
            "display_name": "CommandComponentBasic",
            "is_deterministic": "True",
            "type": "command",
            "description": "This is the basic command component",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "inputs": {
              "component_in_path": {
                "type": "uri_folder",
                "optional": "False",
                "description": "A path"
              },
              "component_in_number": {
                "type": "number",
                "optional": "True",
                "default": "10.99",
                "description": "A number"
              }
            },
            "outputs": {
              "component_out_path": {
                "type": "uri_folder"
              }
            },
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/e7a3f40e-eb47-4499-9b80-1e5d911878f8/versions/1",
            "environment": "azureml://registries/azureml/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu/versions/1",
            "resources": {
              "instance_count": "1"
            },
            "command": "echo Hello World \u0026 echo $[[${{inputs.component_in_number}}]] \u0026 echo ${{inputs.component_in_path}} \u0026 echo ${{outputs.component_out_path}} \u003E ${{outputs.component_out_path}}/component_in_number",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json"
          }
        },
        "systemData": {
          "createdAt": "2023-02-23T02:16:48.1720909\u002B00:00",
          "createdBy": "Diondra Peck",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-23T02:16:48.2342911\u002B00:00",
          "lastModifiedBy": "Diondra Peck",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11906",
        "x-ms-response-type": "standard",
        "x-request-time": "0.052"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "createdOn": "2023-02-23T02:09:37.0381833\u002B00:00",
          "modifiedOn": "2023-02-23T02:09:40.5544927\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "eastus2",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 2,
            "targetNodeCount": 0,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 2,
              "preemptedNodeCount": 0
            },
            "allocationState": "Resizing",
            "allocationStateTransitionTime": "2023-02-23T03:28:12.002\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11903",
        "x-ms-response-type": "standard",
        "x-request-time": "0.027"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/saveorz2izv2bas",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtest4k4d3fds6sjxs",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aiveorz2izv2bas",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crveorz2izv2bas",
          "notebookInfo": {
            "resourceId": "0000000-0000-0000-0000-000000000000",
            "fqdn": "ml-sdkvnextcli-eastus2-2d1e66ae-85e3-42c0-be91-34de66397f26.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "2d1e66ae-85e3-42c0-be91-34de66397f26",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "0000000-0000-0000-0000-000000000000",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "0000000-0000-0000-0000-000000000000",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-02-23T02:09:00.5159669Z",
          "createdBy": "dipeck@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-23T02:09:00.5159669Z",
          "lastModifiedBy": "dipeck@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://eastus2.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/getByHash?hash=a4e91c079c2a271d699ffac5ca5441abc8034151356913e57bff8f483c3d3a3b\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.044"
      },
      "ResponseBody": {
        "snapshotType": "LocalFiles",
        "id": "99542f3d-f069-49d3-9cc9-b427c1c8ed70",
        "root": {
          "name": "",
          "hash": null,
          "type": "Directory",
          "timestamp": "0001-01-01T00:00:00\u002B00:00",
          "sasUrl": null,
          "absoluteUrl": null,
          "sizeBytes": 0,
          "sizeSet": false,
          "children": {
            "sample1.csv": {
              "name": "sample1.csv",
              "hash": "903ECDE7ECA08D37DB613161C84A3B44",
              "type": "File",
              "timestamp": "0001-01-01T00:00:00\u002B00:00",
              "sasUrl": null,
              "absoluteUrl": null,
              "sizeBytes": 499,
              "sizeSet": true,
              "children": {}
            },
            "simple_train.py": {
              "name": "simple_train.py",
              "hash": "089E6E7C3139494A4CA699CA074DE23A",
              "type": "File",
              "timestamp": "0001-01-01T00:00:00\u002B00:00",
              "sasUrl": null,
              "absoluteUrl": null,
              "sizeBytes": 1010,
              "sizeSet": true,
              "children": {}
            },
            "sweep_script_search.py": {
              "name": "sweep_script_search.py",
              "hash": "D6CD553E776D3CA9799A5E09213CB8C2",
              "type": "File",
              "timestamp": "0001-01-01T00:00:00\u002B00:00",
              "sasUrl": null,
              "absoluteUrl": null,
              "sizeBytes": 2797,
              "sizeSet": true,
              "children": {}
            },
            "sweep_script.py": {
              "name": "sweep_script.py",
              "hash": "3020E5228A8D7D442D4D801A862C3EA5",
              "type": "File",
              "timestamp": "0001-01-01T00:00:00\u002B00:00",
              "sasUrl": null,
              "absoluteUrl": null,
              "sizeBytes": 515,
              "sizeSet": true,
              "children": {}
            },
            "train.py": {
              "name": "train.py",
              "hash": "F4F3547C4D5D54BC0A494EB945137546",
              "type": "File",
              "timestamp": "0001-01-01T00:00:00\u002B00:00",
              "sasUrl": null,
              "absoluteUrl": null,
              "sizeBytes": 1036,
              "sizeSet": true,
              "children": {}
            }
          }
        },
        "tags": {},
        "properties": {
          "hash_sha256": "a4e91c079c2a271d699ffac5ca5441abc8034151356913e57bff8f483c3d3a3b",
          "hash_version": "202208",
          "azureml.codeUri": "https://saveorz2izv2bas.blob.core.windows.net:443/000000000000000000000000000000000000/python"
        },
        "description": null,
        "name": "51872d28-bb1a-461a-9ed1-6e46d16c62c4",
        "version": "1",
        "createdBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Diondra Peck",
          "upn": null
        },
        "createdTime": "2023-02-23T02:13:08.3319505\u002B00:00",
        "modifiedBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Diondra Peck",
          "upn": null
        },
        "modifiedTime": "2023-02-23T02:13:08.3319505\u002B00:00",
        "gitRepositoryCommit": null,
        "uri": "https://saveorz2izv2bas.blob.core.windows.net:443/000000000000000000000000000000000000/python",
        "contentHash": "a4e91c079c2a271d699ffac5ca5441abc8034151356913e57bff8f483c3d3a3b",
        "hashVersion": "202208",
        "provisioningState": "Succeeded"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/51872d28-bb1a-461a-9ed1-6e46d16c62c4/versions/1?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11902",
        "x-ms-response-type": "standard",
        "x-request-time": "0.052"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/51872d28-bb1a-461a-9ed1-6e46d16c62c4/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://saveorz2izv2bas.blob.core.windows.net:443/000000000000000000000000000000000000/python"
        },
        "systemData": {
          "createdAt": "2023-02-23T02:13:08.3319505\u002B00:00",
          "createdBy": "Diondra Peck",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-23T02:13:08.3319505\u002B00:00",
          "lastModifiedBy": "Diondra Peck",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World \u0026 echo ${{inputs.component_in_number}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/51872d28-bb1a-461a-9ed1-6e46d16c62c4/versions/1",
            "environment": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1",
            "name": "azureml_anonymous",
            "version": "1",
            "is_deterministic": true,
            "inputs": {
              "component_in_number": {
                "type": "integer",
                "optional": false,
                "default": "10",
                "description": "Am integer"
              }
            },
            "type": "command",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1161",
        "x-ms-response-type": "standard",
        "x-request-time": "0.409"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_331811311275?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "The hello world pipeline job with inline components",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "test_331811311275",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "job_in_number": {
              "jobInputType": "literal",
              "value": "10.01"
            },
            "job_in_other_number": {
              "jobInputType": "literal",
              "value": "15"
            }
          },
          "jobs": {
            "hello_world_component_inline": {
              "name": "hello_world_component_inline",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "inputs": {
                "component_in_number": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_number}}"
                }
              },
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/a82d0606-cab2-44ff-a2e5-208cf88b799a"
            },
            "hello_world_component_inline_with_schema": {
              "name": "hello_world_component_inline_with_schema",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "inputs": {
                "component_in_number": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_number}}"
                }
              },
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/7793e7db-e303-4076-a046-761092f64e0d"
            }
          },
          "outputs": {},
          "settings": {
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_331811311275?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-ms-response-type": "standard",
        "x-request-time": "1.195"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_331811311275",
        "name": "test_331811311275",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "The hello world pipeline job with inline components",
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{\u0022job_in_number\u0022:\u002210.01\u0022,\u0022job_in_other_number\u0022:\u002215\u0022}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultComputeName": "cpu-cluster",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "test_331811311275",
          "status": "Preparing",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/test_331811311275?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Mic[...]
[...]
