{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11866",
        "x-ms-response-type": "standard",
        "x-request-time": "0.042"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "eastus2euap",
        "tags": {},
        "properties": {
          "createdOn": "2022-09-15T03:11:46.912489\u002B00:00",
          "modifiedOn": "2022-09-15T03:11:50.5830108\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "eastus2euap",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 4,
            "targetNodeCount": 4,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 3,
              "idleNodeCount": 1,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2022-09-16T03:07:28.035\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/gpu-cluster?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-02",
       [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11864",
        "x-ms-response-type": "standard",
        "x-request-time": "0.096"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "sagh4dshas62md4",
          "containerName": "azureml-blobstore-a6d5a3b8-8717-4928-b8f7-4c9f36d21085",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2022-09-15T03:11:44.0146435\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-15T03:11:44.7999179\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1144",
        "x-ms-response-type": "standard",
        "x-request-time": "0.120"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-a6d5a3b8-8717-4928-b8f7-4c9f36d21085/LocalUpload/00000000000000000000000000000000/python/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 16 Sep 2022 03:19:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "dUQjYq1qrTeqLOaZ4N2AUQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA975B4CC57610\u0022",
        "Last-Modified": "Thu, 15 Sep 2022 20:46:01 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Sep 2022 20:46:01 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "f0648f42-ca3c-4aee-9d9e-f2fe26dc4430",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-a6d5a3b8-8717-4928-b8f7-4c9f36d21085/az-ml-artifacts/00000000000000000000000000000000/python/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 16 Sep 2022 03:19:01 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/f0648f42-ca3c-4aee-9d9e-f2fe26dc4430/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "4e52a86566310f35d5af74fd1150f3fff7cd3d8c689be98febd72151eed53fd7",
            "hash_version": "202208"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-a6d5a3b8-8717-4928-b8f7-4c9f36d21085/LocalUpload/00000000000000000000000000000000/python"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1100",
        "x-ms-response-type": "standard",
        "x-request-time": "0.092"
      },
      "Response[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World \u0026 echo ${{inputs.component_in_number}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/f0648f42-ca3c-4aee-9d9e-f2fe26dc4430/versions/1",
            "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu/versions/1",
            "name": "azureml_anonymous",
            "tags": {},
            "version": "000000000000000000000",
            "is_deterministic": true,
            "inputs": {
              "component_in_number": {
                "type": "integer",
                "default": "10",
                "description": "Am integer"
              }
            },
            "outputs": {},
            "type": "command",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.552"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/78c7032b-86c2-4bde-9269-20720112cb98",
        "name": "78c7032b-86c2-4bde-9269-20720112cb98",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "componentSpec": {
            "name": "azureml_anonymous",
            "version": "78c7032b-86c2-4bde-9269-20720112cb98",
            "is_deterministic": "True",
            "type": "command",
            "inputs": {
              "component_in_number": {
                "type": "integer",
                "optional": "False",
                "default": "10",
                "description": "Am integer"
              }
            },
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/f0648f42-ca3c-4aee-9d9e-f2fe26dc4430/versions/1",
            "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu/versions/1",
            "resources": {
              "instance_count": "1"
            },
            "command": "echo Hello World \u0026 echo ${{inputs.component_in_number}}",
            "$schema": "https://componentsdk.azureedge.net/jsonschema/CommandComponent.json"
          }
        },
        "systemData": {
          "createdAt": "2022-09-16T03:19:02.6191232\u002B00:00",
          "createdBy": "Neehar Duvvuri",
          "createdByType": "User",
          "lastModifiedAt": "2022-09-16T03:19:02.6191232\u002B00:00",
          "lastModifiedBy": "Neehar Duvvuri",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-a6d5a3b8-8717-4928-b8f7-4c9f36d21085/LocalUpload/00000000000000000000000000000000/COMPONENT_PLACEHOLDER",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 16 Sep 2022 03:19:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "L/DnSpFIn\u002BjaQWc\u002BsUQdcw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA96C8560C1979\u0022",
        "Last-Modified": "Thu, 15 Sep 2022 03:14:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Sep 2022 03:14:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "ac7e0240-c159-4c9c-828e-d3e8df43e80f",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-a6d5a3b8-8717-4928-b8f7-4c9f36d21085/az-ml-artifacts/00000000000000000000000000000000/COMPONENT_PLACEHOLDER",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 16 Sep 2022 03:19:03 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the command component for sweep",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo \u0022Start training ...\u0022 \u0026\u0026 python mnist.py --data_folder ${{inputs.data_folder}} --batch_size ${{inputs.batch_size}} --first_layer_neurons ${{inputs.first_layer_neurons}} --second_layer_neurons ${{inputs.second_layer_neurons}} --third_layer_neurons ${{inputs.third_layer_neurons}} --epochs ${{inputs.epochs}} --f1 ${{inputs.f1}} --f2 ${{inputs.f2}} --weight_decay ${{inputs.weight_decay}} --momentum ${{inputs.momentum}} --learning_rate ${{inputs.learning_rate}} --saved_model ${{outputs.trained_model_dir}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/ac7e0240-c159-4c9c-828e-d3e8df43e80f/versions/1",
            "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/AzureML-sklearn-0.24-ubuntu18.04-py37-cpu/versions/1",
            "name": "azureml_anonymous",
            "description": "This is the command component for sweep",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "version": "000000000000000000000",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentForSweep",
            "is_deterministic": true,
            "inputs": {
              "batch_size": {
                "type": "integer"
              },
              "first_layer_neurons": {
                "type": "integer"
              },
              "second_layer_neurons": {
                "type": "integer"
              },
              "third_layer_neurons": {
                "type": "integer"
              },
              "epochs": {
                "type": "integer"
              },
              "momentum": {
                "type": "number"
              },
              "weight_decay": {
                "type": "number"
              },
              "learning_rate": {
                "type": "number"
              },
              "f1": {
                "type": "number"
              },
              "f2": {
                "type": "number"
              },
              "random_seed": {
                "type": "integer",
                "default": "42"
              },
              "data_folder": {
                "type": "mltable"
              }
            },
            "outputs": {
              "trained_model_dir": {
                "type": "mlflow_model"
              }
            },
            "type": "command",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/00[...]
[...]
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-a6d5a3b8-8717-4928-b8f7-4c9f36d21085/LocalUpload/00000000000000000000000000000000/data/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 16 Sep 2022 03:19:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "dUQjYq1qrTeqLOaZ4N2AUQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA96C8A69D2BBA\u0022",
        "Last-Modified": "Thu, 15 Sep 2022 03:16:15 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 15 Sep 2022 03:16:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "e95adacf-11cf-47c5-85eb-199ded56347d",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "a26e0dac-f124-4247-b13c-6e81f9a28197",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagh4dshas62md4.blob.core.windows.net/azureml-blobstore-a6d5a3b8-8717-4928-b8f7-4c9f36d21085/az-ml-artifacts/00000000000000000000000000000000/data/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Fri, 16 Sep 2022 03:19:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_19144649545?api-version=2022-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "The hello world pipeline job with inline components",
          "properties": {
            "mlflow.source.git.repoURL": "fake_git_url",
            "mlflow.source.git.branch": "fake_git_branch",
            "mlflow.source.git.commit": "fake_git_commit",
            "azureml.git.dirty": "fake_git_dirty_value"
          },
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "test_19144649545",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "job_in_number": {
              "jobInputType": "literal",
              "value": "10.01"
            },
            "job_in_other_number": {
              "jobInputType": "literal",
              "value": "15"
            }
          },
          "jobs": {
            "hello_sweep_inline_trial": {
              "limits": {
                "max_concurrent_trials": 10,
                "max_total_trials": 20,
                "timeout": 7200
              },
              "sampling_algorithm": "random",
              "objective": {
                "goal": "maximize",
                "primary_metric": "accuracy"
              },
              "early_termination": {
                "delay_evaluation": 200,
                "evaluation_interval": 100,
                "policy_type": "MedianStopping"
              },
              "search_space": {
                "component_in_number": {
                  "values": [
                    1,
                    2
                  ],
                  "type": "choice"
                }
              },
              "name": "hello_sweep_inline_trial",
              "type": "sweep",
              "display_name": null,
              "tags": {},
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/gpu-cluster",
              "inputs": {
                "component_in_number": {
                  "job_input_type": "literal"
                }
              },
              "outputs": {},
              "_source": "YAML.JOB",
              "trial": {
                "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/78c7032b-86c2-4bde-9269-20720112cb98"
              }
            },
            "hello_sweep_inline_file_trial": {
              "limits": {
                "max_total_trials": 3
              },
              "sampling_algorithm": "random",
              "objective": {
                "goal": "maximize",
                "primary_metric": "accuracy"
              },
              "search_space": {
                "batch_size": {
                  "values": [
                    25,
                    35
                  ],
                  "type": "choice"
                },
                "first_layer_neurons": {
                  "type": "randint",
                  "upper": 50
                },
                "second_layer_neurons": {
                  "type": "quniform",
                  "min_value": 10,
                  "max_value": 50,
                  "q": 5
                },
                "third_layer_neurons": {
                  "type": "qlognormal",
                  "mu": 5,
                  "sigma": 1,
                  "q": 5
                },
                "epochs": {
                  "type": "qloguniform",
                  "min_value": 1,
                  "max_value": 5,
                  "q": 5
                },
                "momentum": {
                  "type": "qnormal",
                  "mu": 10,
                  "sigma": 5,
                  "q": 2
                },
                "weight_decay": {
                  "type": "lognormal",
                  "mu": 0,
  [...]
