{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/1501d6c4-1f27-2199-02ab-0f2d5c96cb64?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "azureml_anonymous",
            "version": "1",
            "$schema": "http://azureml/sdk-2-0/DataTransferComponent.json",
            "display_name": "Data Transfer Component copy-files",
            "is_deterministic": true,
            "inputs": {
              "folder1": {
                "type": "uri_folder"
              }
            },
            "outputs": {
              "output_folder": {
                "type": "uri_folder"
              }
            },
            "type": "data_transfer",
            "task": "copy_data",
            "data_copy_mode": "merge_with_overwrite",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/1501d6c4-1f27-2199-02ab-0f2d5c96cb64?api-version=2022-10-01",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.315"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/2b641469-d8d4-4b86-a4e4-78c88ff81ff3",
        "name": "2b641469-d8d4-4b86-a4e4-78c88ff81ff3",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "componentSpec": {
            "name": "azureml_anonymous",
            "version": "1",
            "display_name": "Data Transfer Component copy-files",
            "is_deterministic": "True",
            "type": "data_transfer",
            "inputs": {
              "folder1": {
                "type": "uri_folder",
                "optional": "False"
              }
            },
            "outputs": {
              "output_folder": {
                "type": "uri_folder"
              }
            },
            "task": "CopyData",
            "$schema": "http://azureml/sdk-2-0/DataTransferComponent.json"
          }
        },
        "systemData": {
          "createdAt": "2023-02-07T09:29:46.585622\u002B00:00",
          "createdBy": "Ying Chen",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-07T09:29:47.0377314\u002B00:00",
          "lastModifiedBy": "Ying Chen",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_870077660716?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "pipeline with data transfer components",
          "properties": {},
          "tags": {},
          "displayName": "test_870077660716",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "cosmos_folder": {
              "uri": "azureml://locations/centraluseuap/workspaces/80eaba04-c6ec-4775-8ddc-d538e9642c2d/data/dtv2_asset_uriFolder/versions/1",
              "jobInputType": "uri_folder"
            }
          },
          "jobs": {
            "copy_files": {
              "type": "data_transfer",
              "task": "copy_data",
              "name": "copy_files",
              "inputs": {
                "folder1": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.cosmos_folder}}"
                }
              },
              "outputs": {
                "output_folder": {
                  "value": "${{parent.outputs.merged_blob}}",
                  "type": "literal"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/2b641469-d8d4-4b86-a4e4-78c88ff81ff3",
              "data_copy_mode": "merge_with_overwrite"
            }
          },
          "outputs": {
            "merged_blob": {
              "uri": "azureml://datastores/workspaceblobstore/paths/azureml/dtv2_dest/",
              "jobOutputType": "uri_folder"
            }
          },
          "settings": {
            "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/adftest",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_870077660716?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "2.494"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_870077660716",
        "name": "test_870077660716",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "pipeline with data transfer components",
          "tags": {},
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultComputeName": "adftest",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "test_870077660716",
          "status": "Preparing",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/test_870077660716?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": null,
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "jobType": "Pipeline",
          "settings": {
            "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/adftest",
            "_source": "YAML.JOB"
          },
          "jobs": {
            "copy_files": {
              "type": "data_transfer",
              "task": "copy_data",
              "name": "copy_files",
              "inputs": {
                "folder1": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.cosmos_folder}}"
                }
              },
              "outputs": {
                "output_folder": {
                  "value": "${{parent.outputs.merged_blob}}",
                  "type": "literal"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/2b641469-d8d4-4b86-a4e4-78c88ff81ff3",
              "data_copy_mode": "merge_with_overwrite"
            }
          },
          "inputs": {
            "cosmos_folder": {
              "description": null,
              "uri": "azureml://locations/centraluseuap/workspaces/80eaba04-c6ec-4775-8ddc-d538e9642c2d/data/dtv2_asset_uriFolder/versions/1",
              "mode": "ReadOnlyMount",
              "jobInputType": "uri_folder"
            }
          },
          "outputs": {
            "merged_blob": {
              "description": null,
              "uri": "azureml://datastores/workspaceblobstore/paths/azureml/dtv2_dest/",
              "assetName": null,
              "assetVersion": null,
              "mode": "ReadWriteMount",
              "jobOutputType": "uri_folder"
            }
          },
          "sourceJobId": null
        },
        "systemData": {
          "createdAt": "2023-02-07T11:09:45.7330818\u002B00:00",
          "createdBy": "Ying Chen",
          "createdByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_870077660716/cancel?api-version=2022-12-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "error",
        "x-request-time": "15.859"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "The pipeline run test_870077660716 is in terminal status, it can\u0027t be canceled.",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "f460c28739310acbf6fa7de8fdc55f99",
                  "request": "bb250d5cad984285"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "master"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "westus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2023-02-07T11:10:04.8828082\u002B00:00"
              }
            },
            {
              "type": "InnerError",
              "info": {
                "value": {
                  "code": "BadArgument",
                  "innerError": {
                    "code": "ArgumentInvalid",
                    "innerError": {
                      "code": "CancelPipelineRunInTerminalStatus",
                      "innerError": null
                    }
                  }
                }
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "name": "test_870077660716"
  }
}
