{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11970",
        "x-ms-response-type": "standard",
        "x-request-time": "0.091"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "centraluseuap",
        "tags": {},
        "properties": {
          "createdOn": "2023-03-03T20:15:53.6718786\u002B00:00",
          "modifiedOn": "2023-03-03T20:16:07.2474943\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "centraluseuap",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 2,
            "targetNodeCount": 1,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 1,
              "unusableNodeCount": 0,
              "leavingNodeCount": 1,
              "preemptedNodeCount": 0
            },
            "allocationState": "Resizing",
            "allocationStateTransitionTime": "2023-03-05T19:09:44.31\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "enableBatchPrivateLink": false,
            "propertyBag": {}
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_910310706916?api-version=2023-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "The hello world pipeline job with inline command job having inputs",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "test_910310706916",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {},
          "jobs": {
            "hello_world_inline_commandjob_1": {
              "name": "hello_world_inline_commandjob_1",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "outputs": {
                "component_out_path_1": {
                  "value": "${{parent.outputs.job_out_path_1}}",
                  "type": "literal"
                }
              },
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/88f7aca9-8cb5-4919-ae54-eaae1a9082ab"
            },
            "hello_world_inline_commandjob_2": {
              "name": "hello_world_inline_commandjob_2",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/1913b55a-7020-402a-bc3e-7a8cf970b9b3"
            }
          },
          "outputs": {
            "job_out_path_1": {
              "mode": "ReadWriteMount",
              "jobOutputType": "uri_folder"
            }
          },
          "settings": {
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_910310706916?api-version=2023-02-01-preview",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1191",
        "x-ms-response-type": "standard",
        "x-request-time": "2.667"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_910310706916",
        "name": "test_910310706916",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "The hello world pipeline job with inline command job having inputs",
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultComputeName": "cpu-cluster",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "test_910310706916",
          "status": "Preparing",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/test_910310706916?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "notificationSetting": null,
          "jobType": "Pipeline",
          "settings": {
            "_source": "YAML.JOB"
          },
          "jobs": {
            "hello_world_inline_commandjob_1": {
              "name": "hello_world_inline_commandjob_1",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "outputs": {
                "comp[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11964",
        "x-ms-response-type": "standard",
        "x-request-time": "0.012"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "centraluseuap",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sax5mzqu7xztpx4",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestsgwgquo2dadsi",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aix5mzqu7xztpx4",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crx5mzqu7xztpx4",
          "creationTime": "2023-03-03T20:15:14.9243872Z",
          "notebookInfo": {
            "resourceId": "0000000-0000-0000-0000-000000000000",
            "fqdn": "ml-sdkvnextc-centraluseuap-288fbc99-974d-4a49-b40f-53b041fe40cc.centraluseuap.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "288fbc99-974d-4a49-b40f-53b041fe40cc",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://master.api.azureml-test.ms/discovery",
          "mlFlowTrackingUri": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "0000000-0000-0000-0000-000000000000",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "0000000-0000-0000-0000-000000000000",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-03-03T20:15:14.9243872Z",
          "createdBy": "alias@contoso.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-03-03T20:15:14.9243872Z",
          "lastModifiedBy": "alias@contoso.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://master.api.azureml-test.ms/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.007"
      },
      "ResponseBody": {
        "api": "https://master.api.azureml-test.ms",
        "catalog": "https://catalog.cortanaanalytics.com",
        "experimentation": "https://master.experiments.azureml-test.net",
        "gallery": "https://gallery.cortanaintelligence.com/project",
        "history": "https://master.experiments.azureml-test.net",
        "hyperdrive": "https://master.experiments.azureml-test.net",
        "labeling": "https://master.experiments.azureml-test.net",
        "modelmanagement": "https://mms.azureml-test.net",
        "pipelines": "https://westus2.aether-dev.ms",
        "quota-manager": "https://master.experiments.azureml-test.net",
        "studio": "https://ml.azure.com"
      }
    },
    {
      "RequestUri": "https://master.api.azureml-test.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "runId": "test_910310706916",
        "selectRunMetadata": true,
        "selectRunDefinition": true,
        "selectJobSpecification": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.064"
      },
      "ResponseBody": {
        "runMetadata": {
          "runNumber": 1678043568,
          "rootRunId": "test_910310706916",
          "createdUtc": "2023-03-05T19:12:48.249526\u002B00:00",
          "createdBy": {
            "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
            "userPuId": "10037FFEAD05DD5D",
            "userIdp": null,
            "userAltSecId": null,
            "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "userName": "Firstname Lastname",
            "upn": null
          },
          "userId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "token": null,
          "tokenExpiryTimeUtc": null,
          "error": null,
          "warnings": null,
          "revision": 7,
          "statusRevision": 4,
          "runUuid": "84dd83e9-f61e-4d2e-9e08-34b345e61640",
          "parentRunUuid": null,
          "rootRunUuid": "84dd83e9-f61e-4d2e-9e08-34b345e61640",
          "lastStartTimeUtc": null,
          "currentComputeTime": null,
          "computeDuration": "00:00:03.7265043",
          "effectiveStartTimeUtc": null,
          "lastModifiedBy": {
            "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
            "userPuId": "10037FFEAD05DD5D",
            "userIdp": null,
            "userAltSecId": null,
            "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "userName": "Firstname Lastname",
            "upn": null
          },
          "lastModifiedUtc": "2023-03-05T19:12:53.5882226\u002B00:00",
          "duration": "00:00:03.7265043",
          "cancelationReason": null,
          "currentAttemptId": 1,
          "runId": "test_910310706916",
          "parentRunId": null,
          "experimentId": "faefb8b1-9353-4e62-af4d-3952469db3c9",
          "status": "Completed",
          "startTimeUtc": "2023-03-05T19:12:50.1126221\u002B00:00",
          "endTimeUtc": "2023-03-05T19:12:53.8391264\u002B00:00",
          "scheduleId": null,
          "displayName": "test_910310706916",
          "name": null,
          "dataContainerId": "dcid.test_910310706916",
          "description": "The hello world pipeline job with inline command job having inputs",
          "hidden": false,
          "runType": "azureml.PipelineRun",
          "runTypeV2": {
            "orchestrator": "Pipeline",
            "traits": [
              "azureml.PipelineRun",
              "MFE",
              "HTTP",
              "DevPlatv2"
            ],
            "attribution": null,
            "computeType": null
          },
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultComputeName": "cpu-cluster",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun",
            "azureml.pipelines.stages": "{\u0022Initialization\u0022:null,\u0022Execution\u0022:{\u0022StartTime\u0022:\u00222023-03-05T19:12:50.6612774\u002B00:00\u0022,\u0022EndTime\u0022:\u00222023-03-05T19:12:53.3635358\u002B00:00\u0022,\u0022Status\u0022:\u0022Finished\u0022}}"
          },
          "parameters": {},
          "actionUris": {
            "Cancel": "https://master.api.azureml-test.ms/studioservice/api/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/workspaces/00000/PipelineRuns/test_910310706916/cancel"
          },
          "scriptName": null,
          "target": null,
          "uniqueChildRunComputeTargets": [
            "cpu-cluster"
          ],
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "settings": {},
          "services": {},
          "inputDatasets": [],
          "outputDatasets": [],
          "runDefinition": null,
          "jobSpecification": null,
          "primaryMetricName": null,
          "createdFrom": null,
          "cancelUri": "https://master.api.azureml-test.ms/studioservice/api/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/workspaces/00000/PipelineRuns/test_910310706916/cancel",
          "completeUri": null,
          "diagnosticsUri": null,
          "computeRequest": null,
          "compute": null,
          "retainForLifetimeOfWorkspace": false,
          "queueingInfo": null,
          "inputs": {},
          "outputs": {
            "default": {
              "assetId": "azureml://locations/centraluseuap/workspaces/288fbc99-974d-4a49-b40f-53b041fe40cc/data/azureml_test_910310706916_output_data_default/versions/1",
              "type": "UriFolder"
            },
            "job_out_path_1": {
              "assetId": "azureml://locations/centraluseuap/workspaces/288fbc99-974d-4a49-b40f-53b041fe40cc/data/azureml_407c84af-a29d-4722-8284-ec8900ff782d_output_data_component_out_path_1/versions/1",
              "type": "UriFolder"
            }
          }
        },
        "runDefinition": {
          "JobType": "Pipeline",
          "PipelineJobType": "AzureML",
          "Pipeline": null,
          "ComputeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "RunId": null,
          "Settings": {
            "_source": "YAML.JOB"
          },
          "ComponentJobs": null,
          "Inputs": {},
          "Outputs": {
            "job_out_path_1": {
              "JobOutputType": 3,
              "Uri": null,
              "Mode": 0,
              "AssetName": null,
              "AssetVersion": null,
              "Description": null
            }
          },
          "Bindings": null,
          "Jobs": {
            "hello_world_inline_commandjob_1": {
              "name": "hello_world_inline_commandjob_1",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "outputs": {
                "component_out_path_1": {
                  "value": "${{parent.outputs.job_out_path_1}}",
                  "type": "literal"
                }
              },
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/88f7aca9-8cb5-4919-ae54-eaae1a9082ab"
            },
            "hello_world_inline_commandjob_2": {
              "name": "hello_world_inline_commandjob_2",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/1913b55a-7020-402a-bc3e-7a8cf970b9b3"
            }
          },
          "InputBindings": {},
          "OutputBindings": {
            "job_out_path_1": {
              "DatastoreId": null,
              "PathOnDatastore": null,
              "PathOnCompute": null,
              "Description": null,
              "Uri": null,
              "Mode": "ReadWriteMount",
              "AssetUri": null,
              "IsAssetJobOutput": true,
              "JobOutputType": 3,
              "AssetName": null,
              "AssetVersion": null
            }
          },
          "SourceJobId": null,
          "ProvisioningState": "Succeeded",
          "ParentJobName": null,
          "DisplayName": "test_910310706916",
          "ExperimentName": "azure-ai-ml",
          "Status": "NotStarted",
          "InteractionEndpoints": null,
          "Identity": null,
          "Compute": null,
          "Priority": null,
          "Output": null,
          "IsArchived": false,
          "Schedule": null,
          "ComponentId": null,
          "NotificationSetting": null,
          "Description": "The hello world pipeline job with inline command job having inputs",
          "Tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "Properties": {}
        },
        "jobSpecification": null,
        "systemSettings": null
      }
    },
    {
      "RequestUri": "https://master.api.azureml-test.ms/data/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/dataversion/batchGetResolvedUris",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "values": [
          "azureml://locations/centraluseuap/workspaces/288fbc99-974d-4a49-b40f-53b041fe40cc/data/azureml_test_910310706916_output_data_default/versions/1"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.027"
      },
      "ResponseBody": {
        "values": {
          "azureml://locations/centraluseuap/workspaces/288fbc99-974d-4a49-b40f-53b041fe40cc/data/azureml_test_910310706916_output_data_default/versions/1": {
            "uri": "azureml://subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceartifactstore/paths/ExperimentRun/dcid.test_910310706916/",
            "type": "UriFolder",
            "legacyDatasetType": null
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2022-10-01\u0026count=30\u0026isDefault=true\u0026orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11963",
        "x-ms-response-type": "standard",
        "x-request-time": "0.084"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
            "name": "workspaceblobstore",
            "type": "Microsoft.MachineLearningServices/workspaces/datastores",
            "properties": {
              "description": null,
              "tags": null,
              "properties": null,
              "isDefault": true,
              "credentials": {
                "credentialsType": "AccountKey"
              },
              "datastoreType": "AzureBlob",
              "accountName": "sax5mzqu7xztpx4",
              "containerName": "azureml-blobstore-288fbc99-974d-4a49-b40f-53b041fe40cc",
              "endpoint": "core.windows.net",
              "protocol": "https",
              "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
            },
            "systemData": {
              "createdAt": "2023-03-03T20:15:35.8475982\u002B00:00",
              "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
              "createdByType": "Application",
              "lastModifiedAt": "2023-03-03T20:15:36.7830744\u002B00:00",
              "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
              "lastModifiedByType": "Application"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
 [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore/listSecrets?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1191",
        "x-ms-response-type": "standard",
        "x-request-time": "0.168"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://sax5mzqu7xztpx4.blob.core.windows.net/000000000000000000000000000000000000310706916%2F\u0026include=metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sun, 05 Mar 2023 19:13:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://sax5mzqu7xztpx4.blob.core.windows.net/\u0022 ContainerName=\u0022azureml\u0022\u003E\u003CPrefix\u003EExperimentRun/dcid.test_910310706916/\u003C/Prefix\u003[...]
    {
      "RequestUri": "https://sax5mzqu7xztpx4.blob.core.windows.net/azureml/ExperimentRun/dcid.test_910310706916/logs/azureml/executionlogs.txt",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sun, 05 Mar 2023 19:13:12 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-262/263",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB1DAD9F922B48\u0022",
        "Last-Modified": "Sun, 05 Mar 2023 19:12:54 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sun, 05 Mar 2023 19:12:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "WzIwMjMtMDMtMDUgMTk6MTI6NTFaXSBDb21wbGV0aW5nIHByb2Nlc3NpbmcgcnVuIGlkIDVhOTFmNmE3LTZjMzUtNDFjMy1hYmQwLWUwZDc3NGNjNzBjYy4KWzIwMjMtMDMtMDUgMTk6MTI6NTFaXSBDb21wbGV0aW5nIHByb2Nlc3NpbmcgcnVuIGlkIGZjMGIyNGIxLTRiNDItNGE3Zi1hMDJlLTY0NTIwZWYwZWY1MS4KWzIwMjMtMDMtMDUgMTk6MTI6NTJaXSBGaW5pc2hpbmcgZXhwZXJpbWVudDogbm8gcnVucyBsZWZ0IGFuZCBub3RoaW5nIHRvIHNjaGVkdWxlLgo="
    },
    {
      "RequestUri": "https://sax5mzqu7xztpx4.blob.core.windows.net/azureml/ExperimentRun/dcid.test_910310706916/logs/azureml/stderrlogs.txt",
[...]
