{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.048"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "createdOn": "2023-02-13T17:11:25.9357988\u002B00:00",
          "modifiedOn": "2023-02-13T17:11:29.6078331\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "eastus2",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 0,
            "targetNodeCount": 0,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2023-02-13T23:34:22.902\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "standard",
        "x-request-time": "0.016"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/saocxrxy4dyx3oa",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestasvsnmm4pzm5a",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aiocxrxy4dyx3oa",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crocxrxy4dyx3oa",
          "notebookInfo": {
            "resourceId": "0000000-0000-0000-0000-000000000000",
            "fqdn": "ml-sdkvnextcli-eastus2-43bdc2d7-9930-46b1-b7d0-0e906bdb656a.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "43bdc2d7-9930-46b1-b7d0-0e906bdb656a",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "0000000-0000-0000-0000-000000000000",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "0000000-0000-0000-0000-000000000000",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-02-13T17:10:49.3829227Z",
          "createdBy": "dipeck@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-13T17:10:49.3829227Z",
          "lastModifiedBy": "dipeck@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/content/v2.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/snapshots/getByHash?hash=2735546483b0329614357785c9ce58e15d3c43b1401bacc7e587e6526ff79af5\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.173"
      },
      "ResponseBody": {
        "snapshotType": "LocalFiles",
        "id": "b2428fa3-0332-46b4-8f18-fb5a02983908",
        "root": {
          "name": "",
          "hash": null,
          "type": "Directory",
          "timestamp": "0001-01-01T00:00:00\u002B00:00",
          "sasUrl": null,
          "absoluteUrl": null,
          "sizeBytes": 0,
          "sizeSet": false,
          "children": {
            "train.py": {
              "name": "train.py",
              "hash": "D2F1705C4A14D669E7EC752D21F6E456",
              "type": "File",
              "timestamp": "0001-01-01T00:00:00\u002B00:00",
              "sasUrl": null,
              "absoluteUrl": null,
              "sizeBytes": 1459,
              "sizeSet": true,
              "children": {}
            }
          }
        },
        "tags": {},
        "properties": {
          "hash_sha256": "2735546483b0329614357785c9ce58e15d3c43b1401bacc7e587e6526ff79af5",
          "hash_version": "202208",
          "azureml.codeUri": "https://saocxrxy4dyx3oa.blob.core.windows.net:443/000000000000000000000000000000000000/train_src"
        },
        "description": null,
        "name": "37d19191-c935-4762-8f3b-52f08baff083",
        "version": "1",
        "createdBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Diondra Peck",
          "upn": null
        },
        "createdTime": "2023-02-13T22:36:20.3824491\u002B00:00",
        "modifiedBy": {
          "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "userPuId": "10037FFEAD05DD5D",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Diondra Peck",
          "upn": null
        },
        "modifiedTime": "2023-02-13T22:36:20.3824491\u002B00:00",
        "gitRepositoryCommit": null,
        "uri": "https://saocxrxy4dyx3oa.blob.core.windows.net:443/000000000000000000000000000000000000/train_src",
        "contentHash": "2735546483b0329614357785c9ce58e15d3c43b1401bacc7e587e6526ff79af5",
        "hashVersion": "202208",
        "provisioningState": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/37d19191-c935-4762-8f3b-52f08baff083/versions/1?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-ms-response-type": "standard",
        "x-request-time": "0.122"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/37d19191-c935-4762-8f3b-52f08baff083/versions/1",
        "name": "1",
        "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isArchived": false,
          "isAnonymous": false,
          "codeUri": "https://saocxrxy4dyx3oa.blob.core.windows.net:443/000000000000000000000000000000000000/train_src"
        },
        "systemData": {
          "createdAt": "2023-02-13T22:36:20.3824491\u002B00:00",
          "createdBy": "Diondra Peck",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-13T22:36:20.3824491\u002B00:00",
          "lastModifiedBy": "Diondra Peck",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "A dummy training component",
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "python train.py --training_data ${{inputs.training_data}} $[[--max_epochs ${{inputs.max_epochs}}]] --learning_rate ${{inputs.learning_rate}} --learning_rate_schedule ${{inputs.learning_rate_schedule}} --model_output ${{outputs.model_output}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/37d19191-c935-4762-8f3b-52f08baff083/versions/1",
            "environment": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:5",
            "name": "azureml_anonymous",
            "description": "A dummy training component",
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/latest/commandComponent.schema.json",
            "display_name": "Train Model",
            "is_deterministic": true,
            "inputs": {
              "training_data": {
                "type": "uri_folder"
              },
              "max_epochs": {
                "type": "integer",
                "optional": true
              },
              "learning_rate": {
                "type": "number",
                "default": "0.01"
              },
              "learning_rate_schedule": {
                "type": "string",
                "default": "time-based"
              }
            },
            "outputs": {
              "model_output": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "1.206"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11996",
        "x-ms-response-type": "standard",
        "x-request-time": "0.101"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "saocxrxy4dyx3oa",
          "containerName": "azureml-blobstore-43bdc2d7-9930-46b1-b7d0-0e906bdb656a",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2023-02-13T17:11:13.2628496\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2023-02-13T17:11:13.9880587\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.147"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://saocxrxy4dyx3oa.blob.core.windows.net/000000000000000000000000000000000000bdb656a/LocalUpload/00000000000000000000000000000000/data/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Feb 2023 00:15:44 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "kD7N5\u002BygjTfbYTFhyEo7RA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB0DE7616528C5\u0022",
        "Last-Modified": "Mon, 13 Feb 2023 17:26:02 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 13 Feb 2023 17:26:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "1a2ff5d9-a245-40e8-9793-90bdea996ca8",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "5551450a-4340-4c26-b431-e15f33d67118",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://saocxrxy4dyx3oa.blob.core.windows.net/000000000000000000000000000000000000bdb656a/az-ml-artifacts/00000000000000000000000000000000/data/sample1.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 14 Feb 2023 00:15:44 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_964197251281?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "displayName": "test_964197251281",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "training_input": {
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/data/",
              "jobInputType": "uri_folder"
            },
            "training_max_epochs": {
              "jobInputType": "literal",
              "value": "20"
            },
            "training_learning_rate": {
              "jobInputType": "literal",
              "value": "1.8"
            },
            "learning_rate_schedule": {
              "jobInputType": "literal",
              "value": "time-based"
            }
          },
          "jobs": {
            "train_job": {
              "name": "train_job",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "inputs": {
                "training_data": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.training_input}}"
                },
                "max_epochs": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.training_max_epochs}}"
                },
                "learning_rate": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.training_learning_rate}}"
                },
                "learning_rate_schedule": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.learning_rate_schedule}}"
                }
              },
              "outputs": {
                "model_output": {
                  "value": "${{parent.outputs.trained_model}}",
                  "type": "literal"
                }
              },
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/5cda9cb4-3906-40e3-8a2a-8eb41e8de69b"
            }
          },
          "outputs": {
            "trained_model": {
              "jobOutputType": "uri_folder"
            }
          },
          "settings": {
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_964197251281?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "1.500"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_964197251281",
        "name": "test_964197251281",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{\u0022training_max_epochs\u0022:\u002220\u0022,\u0022training_learning_rate\u0022:\u00221.8\u0022,\u0022learning_rate_schedule\u0022:\u0022time-based\u0022}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "test_964197251281",
          "status": "Preparing",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/test_964197251281?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": null,
          "isArchived": false,
          "identity": null,
          "componen[...]
