{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11993",
        "x-ms-response-type": "standard",
        "x-request-time": "0.038"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "createdOn": "2023-02-09T01:54:27.5698654\u002B00:00",
          "modifiedOn": "2023-02-09T01:54:31.3327171\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "eastus2",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 3,
            "targetNodeCount": 1,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 0,
              "idleNodeCount": 3,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Resizing",
            "allocationStateTransitionTime": "2023-02-12T04:57:58.782\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_22012498841?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "The hello world pipeline job with inline command job having inputs",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "test_22012498841",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {},
          "jobs": {
            "hello_world_inline_commandjob_1": {
              "name": "hello_world_inline_commandjob_1",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "outputs": {
                "component_out_path_1": {
                  "value": "${{parent.outputs.job_out_path_1}}",
                  "type": "literal"
                }
              },
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/b053f786-a786-403b-abb9-feeadb1645cc"
            },
            "hello_world_inline_commandjob_2": {
              "name": "hello_world_inline_commandjob_2",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/1b00cbb2-2360-4dc8-99e2-7917158ff315"
            }
          },
          "outputs": {
            "job_out_path_1": {
              "mode": "ReadWriteMount",
              "jobOutputType": "uri_folder"
            }
          },
          "settings": {
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_22012498841?api-version=2022-12-01-preview",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-ms-response-type": "standard",
        "x-request-time": "1.267"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_22012498841",
        "name": "test_22012498841",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "The hello world pipeline job with inline command job having inputs",
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultComputeName": "cpu-cluster",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "test_22012498841",
          "status": "Preparing",
          "experimentName": "azure-ai-ml",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/test_22012498841?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "jobType": "Pipeline",
          "settings": {
            "_source": "YAML.JOB"
          },
          "jobs": {
            "hello_world_inline_commandjob_1": {
              "name": "hello_world_inline_commandjob_1",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "ou[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11988",
        "x-ms-response-type": "standard",
        "x-request-time": "0.018"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/safat2f6rn4hclg",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestkwk2ikhiolcmu",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/aifat2f6rn4hclg",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crfat2f6rn4hclg",
          "notebookInfo": {
            "resourceId": "0000000-0000-0000-0000-000000000000",
            "fqdn": "ml-sdkvnextcli-eastus2-f7a7a6a9-166d-4f8e-9423-60668c799dd1.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "f7a7a6a9-166d-4f8e-9423-60668c799dd1",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "0000000-0000-0000-0000-000000000000",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "0000000-0000-0000-0000-000000000000",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2023-02-09T01:53:50.8086974Z",
          "createdBy": "dipeck@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-09T01:53:50.8086974Z",
          "lastModifiedBy": "dipeck@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.010"
      },
      "ResponseBody": {
        "api": "https://eastus2.api.azureml.ms",
        "catalog": "https://catalog.cortanaanalytics.com",
        "experimentation": "https://eastus2.experiments.azureml.net",
        "gallery": "https://gallery.cortanaintelligence.com/project",
        "history": "https://eastus2.experiments.azureml.net",
        "hyperdrive": "https://eastus2.experiments.azureml.net",
        "labeling": "https://eastus2.experiments.azureml.net",
        "modelmanagement": "https://eastus2.modelmanagement.azureml.net",
        "pipelines": "https://eastus2.aether.ms",
        "studio": "https://ml.azure.com"
      }
    },
    {
      "RequestUri": "https://eastus2.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/rundata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "runId": "test_22012498841",
        "selectRunMetadata": true,
        "selectRunDefinition": true,
        "selectJobSpecification": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.036"
      },
      "ResponseBody": {
        "runMetadata": {
          "runNumber": 1676177934,
          "rootRunId": "test_22012498841",
          "createdUtc": "2023-02-12T04:58:54.8542069\u002B00:00",
          "createdBy": {
            "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
            "userPuId": "10037FFEAD05DD5D",
            "userIdp": null,
            "userAltSecId": null,
            "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "userName": "Diondra Peck",
            "upn": null
          },
          "userId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
          "token": null,
          "tokenExpiryTimeUtc": null,
          "error": null,
          "warnings": null,
          "revision": 7,
          "statusRevision": 100,
          "runUuid": "449f696a-3764-49a2-9e79-e063fcfc9a7f",
          "parentRunUuid": null,
          "rootRunUuid": "449f696a-3764-49a2-9e79-e063fcfc9a7f",
          "lastStartTimeUtc": null,
          "currentComputeTime": null,
          "computeDuration": "00:00:00.9810443",
          "effectiveStartTimeUtc": null,
          "lastModifiedBy": {
            "userObjectId": "b3a957de-450c-4ca7-b2aa-88dd98c87fef",
            "userPuId": "10037FFEAD05DD5D",
            "userIdp": null,
            "userAltSecId": null,
            "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
            "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "userName": "Diondra Peck",
            "upn": null
          },
          "lastModifiedUtc": "2023-02-12T04:58:56.2587588\u002B00:00",
          "duration": "00:00:00.9810443",
          "cancelationReason": null,
          "currentAttemptId": null,
          "runId": "test_22012498841",
          "parentRunId": null,
          "experimentId": "e1ba9c9f-b077-4a0b-94bc-0ac21660d4ba",
          "status": "Completed",
          "startTimeUtc": "2023-02-12T04:58:55.335645\u002B00:00",
          "endTimeUtc": "2023-02-12T04:58:56.3166893\u002B00:00",
          "scheduleId": null,
          "displayName": "test_22012498841",
          "name": null,
          "dataContainerId": "dcid.test_22012498841",
          "description": "The hello world pipeline job with inline command job having inputs",
          "hidden": false,
          "runType": "azureml.PipelineRun",
          "runTypeV2": {
            "orchestrator": "Pipeline",
            "traits": [
              "azureml.PipelineRun",
              "MFE",
              "HTTP",
              "DevPlatv2"
            ],
            "attribution": null,
            "computeType": null
          },
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultComputeName": "cpu-cluster",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun",
            "azureml.pipelines.stages": "{\u0022Initialization\u0022:null,\u0022Execution\u0022:{\u0022StartTime\u0022:\u00222023-02-12T04:58:55.5471185\u002B00:00\u0022,\u0022EndTime\u0022:\u00222023-02-12T04:58:56.2266388\u002B00:00\u0022,\u0022Status\u0022:\u0022Finished\u0022}}"
          },
          "parameters": {},
          "actionUris": {
            "Cancel": "https://eastus2.api.azureml.ms/studioservice/api/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/workspaces/00000/PipelineRuns/test_22012498841/cancel"
          },
          "scriptName": null,
          "target": null,
          "uniqueChildRunComputeTargets": [
            "cpu-cluster"
          ],
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "settings": {},
          "services": {},
          "inputDatasets": [],
          "outputDatasets": [],
          "runDefinition": null,
          "jobSpecification": null,
          "primaryMetricName": null,
          "createdFrom": null,
          "cancelUri": "https://eastus2.api.azureml.ms/studioservice/api/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/workspaces/00000/PipelineRuns/test_22012498841/cancel",
          "completeUri": null,
          "diagnosticsUri": null,
          "computeRequest": null,
          "compute": null,
          "retainForLifetimeOfWorkspace": false,
          "queueingInfo": null,
          "inputs": {},
          "outputs": {
            "job_out_path_1": {
              "assetId": "azureml://locations/eastus2/workspaces/f7a7a6a9-166d-4f8e-9423-60668c799dd1/data/azureml_e659b035-463a-48cc-9e01-a79d7a558727_output_data_component_out_path_1/versions/1",
              "type": "UriFolder"
            }
          }
        },
        "runDefinition": {
          "JobType": "Pipeline",
          "PipelineJobType": "AzureML",
          "Pipeline": null,
          "ComputeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "RunId": null,
          "Settings": {
            "_source": "YAML.JOB"
          },
          "ComponentJobs": null,
          "Inputs": {},
          "Outputs": {
            "job_out_path_1": {
              "JobOutputType": 3,
              "Uri": null,
              "Mode": 0,
              "AssetName": null,
              "AssetVersion": null,
              "Description": null
            }
          },
          "Bindings": null,
          "Jobs": {
            "hello_world_inline_commandjob_1": {
              "name": "hello_world_inline_commandjob_1",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "outputs": {
                "component_out_path_1": {
                  "value": "${{parent.outputs.job_out_path_1}}",
                  "type": "literal"
                }
              },
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/b053f786-a786-403b-abb9-feeadb1645cc"
            },
            "hello_world_inline_commandjob_2": {
              "name": "hello_world_inline_commandjob_2",
              "type": "command",
              "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
              "_source": "YAML.JOB",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/1b00cbb2-2360-4dc8-99e2-7917158ff315"
            }
          },
          "InputBindings": {},
          "OutputBindings": {
            "job_out_path_1": {
              "DatastoreId": null,
              "PathOnDatastore": null,
              "PathOnCompute": null,
              "Description": null,
              "Uri": null,
              "Mode": "ReadWriteMount",
              "AssetUri": null,
              "IsAssetJobOutput": true,
              "JobOutputType": 3,
              "AssetName": null,
              "AssetVersion": null
            }
          },
          "SourceJobId": null,
          "ProvisioningState": "Succeeded",
          "ParentJobName": null,
          "DisplayName": "test_22012498841",
          "ExperimentName": "azure-ai-ml",
          "Status": "NotStarted",
          "InteractionEndpoints": null,
          "Identity": null,
          "Compute": null,
          "Priority": null,
          "Output": null,
          "IsArchived": false,
          "Schedule": null,
          "ComponentId": null,
          "NotificationSetting": null,
          "Description": "The hello world pipeline job with inline command job having inputs",
          "Tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "Properties": {}
        },
        "jobSpecification": null,
        "systemSettings": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2022-10-01\u0026count=30\u0026isDefault=true\u0026orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11986",
        "x-ms-response-type": "standard",
        "x-request-time": "0.074"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
            "name": "workspaceblobstore",
            "type": "Microsoft.MachineLearningServices/workspaces/datastores",
            "properties": {
              "description": null,
              "tags": null,
              "properties": null,
              "isDefault": true,
              "credentials": {
                "credentialsType": "AccountKey"
              },
              "datastoreType": "AzureBlob",
              "accountName": "safat2f6rn4hclg",
              "containerName": "azureml-blobstore-f7a7a6a9-166d-4f8e-9423-60668c799dd1",
              "endpoint": "core.windows.net",
              "protocol": "https",
              "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
            },
            "systemData": {
              "createdAt": "2023-02-09T01:54:14.8328018\u002B00:00",
              "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
              "createdByType": "Application",
              "lastModifiedAt": "2023-02-09T01:54:15.4266439\u002B00:00",
              "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
              "lastModifiedByType": "Application"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
      [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore/listSecrets?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.202"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/000000000000000000000000000000000000rimentRun%2Fdcid.test_22012498841%2F\u0026include=metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sun, 12 Feb 2023 04:59:11 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://safat2f6rn4hclg.blob.core.windows.net/\u0022 ContainerName=\u0022azureml\u0022\u003E\u003CPrefix\u003EExperimentRun/dcid.test_22012498841/\u003C/Prefix\u003E[...]
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/azureml/ExperimentRun/dcid.test_22012498841/logs/azureml/executionlogs.txt",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sun, 12 Feb 2023 04:59:12 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-262/263",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB0CB5D8904F8E\u0022",
        "Last-Modified": "Sun, 12 Feb 2023 04:58:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sun, 12 Feb 2023 04:58:56 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "WzIwMjMtMDItMTIgMDQ6NTg6NTVaXSBDb21wbGV0aW5nIHByb2Nlc3NpbmcgcnVuIGlkIDQ3ZmUyMDRhLTMyZTQtNDZjZi04MjQ5LTRiMzgxNzdmODM1MS4KWzIwMjMtMDItMTIgMDQ6NTg6NTVaXSBDb21wbGV0aW5nIHByb2Nlc3NpbmcgcnVuIGlkIDM0Nzk4M2JiLTUxMWItNGI2OS1iZWQ2LTZjZjZkNjI5M2E3OS4KWzIwMjMtMDItMTIgMDQ6NTg6NTZaXSBGaW5pc2hpbmcgZXhwZXJpbWVudDogbm8gcnVucyBsZWZ0IGFuZCBub3RoaW5nIHRvIHNjaGVkdWxlLgo="
    },
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/azureml/ExperimentRun/dcid.test_22012498841/logs/azureml/stderrlogs.txt",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sun, 12 Feb 2023 04:59:12 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 416,
      "ResponseHeaders": {
        "Content-Range": "bytes */0",
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidRange",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidRange\u003C/Code\u003E\u003CMessage\u003EThe range specified is invalid for the current size of the resource.\n",
        "RequestId:a570234c-201e-0075-559e-3e197e000000\n",
        "Time:2023-02-12T04:59:12.8136835Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://safat2f6rn4hclg.blob.core.windows.net/azureml/ExperimentRun/dcid.test_22012498841/logs/azureml/stdoutlogs.txt",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-date": "Sun, 12 Feb 2023 04:59:12 GMT",
        "x-ms-range": "bytes=0-33554431",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 416,
      "ResponseHeaders": {
        "Content-Range": "bytes */0",
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidRange",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EInvalidRange\u003C/Code\u003E\u003CMessage\u003EThe range specified is invalid for the current size of the resource.\n",
        "RequestId:a570242a-201e-0075-0d9e-3e197e000000\n",
        "Time:2023-02-12T04:59:13.0705319Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
[...]
