interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://contosoprod.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/deployments/dpokluda-test.2020-1111-1124-8
  response:
    body:
      string: "{\r\n  \"deploymentId\": \"dpokluda-test.2020-1111-1124-8\",\r\n  \"deploymentType\":
        \"Complete\",\r\n  \"startDateTime\": \"2020-11-11T19:28:19.775213+00:00\",\r\n
        \ \"deviceGroupType\": \"DeviceGroupDefinitions\",\r\n  \"deviceGroupDefinition\":
        [\r\n    \"dpokluda-test\"\r\n  ],\r\n  \"updateId\": {\r\n    \"provider\":
        \"Contoso\",\r\n    \"name\": \"Virtual-Machine\",\r\n    \"version\": \"2020.1111.1124.8\"\r\n
        \ },\r\n  \"isCanceled\": false,\r\n  \"isCompleted\": false,\r\n  \"isRetry\":
        false\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
