interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://contosoprod.api.prod.adu.microsoft.com/deviceupdate/blue/v2/updates/providers/Contoso/names/Virtual-Machine/versions/2020.1111.1124.8
  response:
    body:
      string: '{"updateId":{"provider":"Contoso","name":"Virtual-Machine","version":"2020.1111.1124.8"},"updateType":"SWUpdate","installedCriteria":"1.2.3.4","compatibility":[{"deviceManufacturer":"contoso","deviceModel":"virtual-machine"}],"manifestVersion":"2.0","importedDateTime":"2020-11-11T19:28:08.6877591Z","createdDateTime":"2020-11-11T19:24:08.767382Z","etag":"\"8df14165-59d2-48ad-aac6-e68567800458\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8df14165-59d2-48ad-aac6-e68567800458"'
    status:
      code: 200
      message: OK
version: 1
