interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://contosoprod.api.prod.adu.microsoft.com/deviceupdate/blue/v2/updates/providers/foo/names/bar/versions
  response:
    body:
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.4","title":"Not
        Found","status":404,"traceId":"00-fd6f813749df1f44a65e27f631652dfd-2f0cd3b76be5d542-00"}'
    headers:
      content-type:
      - application/problem+json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
