interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://contosoprod.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/devices/dpokluda-test
  response:
    body:
      string: '{"deviceId":"dpokluda-test","deviceClassId":"b83e3c87fbf98063c20c3269f1c9e58d255906dd","manufacturer":"Contoso","model":"Virtual-Machine","lastAttemptedUpdateId":{"provider":"Contoso","name":"Virtual-Machine","version":"2020.1111.1124.8"},"installedUpdateId":{"provider":"Contoso","name":"Virtual-Machine","version":"2020.1111.1124.8"},"onLatestUpdate":true,"deploymentStatus":"Succeeded","groupId":"dpokluda-test","lastDeploymentId":"dpokluda-test.2020-1111-1124-8"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
