interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://contosoprod.api.prod.adu.microsoft.com/deviceupdate/blue/v2/management/deployments/foo/status
  response:
    body:
      string: "{\r\n  \"type\": \"https://tools.ietf.org/html/rfc7231#section-6.5.4\",\r\n
        \ \"title\": \"Not Found\",\r\n  \"status\": 404,\r\n  \"traceId\": \"00-e48edc03ee0384418ac1d8c9bb7ea9c6-771762ce48b36946-00\"\r\n}"
    headers:
      content-type:
      - application/problem+json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
