interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/WestUS/serviceLimits?api-version=2020-10-25
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/WestUS/serviceLimits","name":"lowPriorityCores","properties":{"currentValue":0,"limit":100,"name":{"value":"lowPriorityCores","localizedValue":"Total
        Regional Low-priority vCPUs"},"properties":{},"unit":"Count"},"type":"Microsoft.Capacity/ServiceLimits"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/WestUS/serviceLimits","name":"basicAFamily","properties":{"currentValue":0,"limit":100,"name":{"value":"basicAFamily","localizedValue":"Basic
        A Family vCPUs"},"properties":{},"unit":"Count"},"type":"Microsoft.Capacity/ServiceLimits"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Capacity/[...]
