interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/operations?api-version=2019-04-01
  response:
    body:
      string: '{"value":[{"name":"Microsoft.Capacity/appliedreservations/read","display":{"provider":"Microsoft
        Capacity","resource":"Reservations","operation":"Get Reservations","description":"Read
        All Reservations"}},{"name":"Microsoft.Capacity/calculateprice/action","display":{"provider":"Microsoft
        Capacity","resource":"Reservations","operation":"Calculate Reservation Price","description":"Calculate
        any Reservation Price"}},{"name":"Microsoft.Capacity/catalogs/read","display":{"provider":"Microsoft
        Capacity","resource":"Reservations","operation":"Read Reservation Catalog","description":"Read
        catalog of Reservation"}},{"name":"Microsoft.Capaci[...]
