interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Capacity/appliedReservations?api-version=2019-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.capacity/AppliedReservations/default","type":"Microsoft.Capacity/AppliedReservations","name":"default","properties":{"reservationOrderIds":{"value":["/providers/Microsoft.Capacity/reservationorders/7385a455-06c9-49ea-b3c5-91eee0079701","/providers/Microsoft.Capacity/reservationorders/8f962b1d-b9f6-4b4a-9732-e1b3ceadc391","/providers/Microsoft.Capacity/reservationorders/ad97a623-2933-4ca4-940b-1fd28316095f","/providers/Microsoft.Capacity/reservationorders/aa5b5cf9-05e3-4cda-907c-be3dd2b3b40b","/providers/Microsoft.Capacity/reservationorders/051c56f2-56db-460a-a705-668f8ed40e7f","/providers/Microsoft.Capacity/reservationorders/e317e964-f6f7-4[...]
