{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_994364279784?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "authType": "UsernamePassword",
          "category": "Snowflake",
          "target": "dummy",
          "credentials": {
            "username": "dummy",
            "password": "dummy"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1191",
        "x-ms-response-type": "standard",
        "x-request-time": "0.246"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_994364279784",
        "name": "e2etest_wps_conn_test_994364279784",
        "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {
          "authType": "UsernamePassword",
          "credentials": null,
          "category": "Snowflake",
          "expiryTime": null,
          "target": "dummy",
          "metadata": {}
        },
        "systemData": {
          "createdAt": "2023-07-31T16:02:21.3266048Z",
          "createdBy": "milesholland@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-07-31T16:02:21.3266048Z",
          "lastModifiedBy": "milesholland@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_994364279784?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11986",
        "x-ms-response-type": "error",
        "x-request-time": "0.055"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Connection e2etest_wps_conn_test_994364279784 can\u0027t be found in this workspace",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "d689e2f80e421951fb90dbc5d92c6b72",
          "request": "f7f9a71a08d29186"
        },
        "environment": "eastus2",
        "location": "eastus2",
        "time": "2023-07-31T16:02:22.6796931\u002B00:00",
        "componentName": "account-rp"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections?category=Snowflake\u0026api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11985",
        "x-ms-response-type": "standard",
        "x-request-time": "0.024"
      },
      "ResponseBody": {
        "value": [
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_874614173736",
            "name": "e2etest_wps_conn_test_874614173736",
            "type": "Microsoft.MachineLearningServices/workspaces/connections",
            "properties": {
              "authType": "UsernamePassword",
              "cre[...]
