{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai-mhe?api-version=2018-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11954"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai-mhe",
        "name": "uai-mhe",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "location": "eastus2euap",
        "tags": {},
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "principalId": "0a390e3a-8a74-4a63-b4b1-358a6da87aac",
          "clientId": "d8e8dc97-154f-4c2c-9ec0-de8568032d3e"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai-mhe2?api-version=2018-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11953"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/providers/Microsoft.ManagedIdentity/userAssignedIdentities/uai-mhe2",
        "name": "uai-mhe2",
        "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
        "location": "eastus2euap",
        "tags": {},
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "principalId": "35341706-b4e3-4b8e-ab6f-b818a9cebaec",
          "clientId": "b8233824-a37a-448e-9418-53538acd0c87"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/e2etest_test_547794314469?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.MachineLearningServices/workspaces/e2etest_test_547794314469\u0027 under resource group \u002700000\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/providers/Microsoft.Resources/deployments/e2etest_test_547794314469-7482616?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "workspaceName": {
                "type": "string",
                "metadata": {
                  "description": "Specifies the name of the Azure Machine Learning workspace."
                }
              },
              "description": {
                "type": "string",
                "metadata": {
                  "description": "Description string."
                }
              },
              "friendlyName": {
                "type": "string",
                "metadata": {
                  "description": "Friendly name."
                }
              },
              "location": {
                "type": "string",
                "metadata": {
                  "description": "Specifies the location for all resources."
                }
              },
              "resourceGroupName": {
                "type": "string",
                "metadata": {
                  "description": "Specifies the resource group name of the Azure Machine Learning workspace."
                }
              },
              "storageAccountOption": {
                "type": "string",
                "defaultValue": "new",
                "allowedValues": [
                  "new",
                  "existing"
                ],
                "metadata": {
                  "description": "Determines whether or not a new storage should be provisioned."
                }
              },
              "storageAccountName": {
                "type": "string",
                "defaultValue": "[concat(\u0027sa\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the storage account."
                }
              },
              "storageAccountType": {
                "type": "string",
                "defaultValue": "Standard_LRS"
              },
              "storageAccountBehindVNet": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "true",
                  "false"
                ],
                "metadata": {
                  "description": "Determines whether or not to put the storage account behind VNet"
                }
              },
              "storageAccountResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "storageAccountLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "keyVaultOption": {
                "type": "string",
                "defaultValue": "new",
                "allowedValues": [
                  "new",
                  "existing"
                ],
                "metadata": {
                  "description": "Determines whether or not a new key vault should be provisioned."
                }
              },
              "keyVaultName": {
                "type": "string",
                "defaultValue": "[concat(\u0027kv\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the key vault."
                }
              },
              "keyVaultBehindVNet": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "true",
                  "false"
                ],
                "metadata": {
                  "description": "Determines whether or not to put the storage account behind VNet"
                }
              },
              "keyVaultResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "keyVaultLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "applicationInsightsOption": {
                "type": "string",
                "defaultValue": "new",
                "allowedValues": [
                  "new",
                  "existing"
                ],
                "metadata": {
                  "description": "Determines whether or not new ApplicationInsights should be provisioned."
                }
              },
              "applicationInsightsName": {
                "type": "string",
                "defaultValue": "[concat(\u0027ai\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of ApplicationInsights."
                }
              },
              "applicationInsightsResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "applicationInsightsLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "containerRegistryOption": {
                "type": "string",
                "defaultValue": "none",
                "allowedValues": [
                  "new",
                  "existing",
                  "none"
                ],
                "metadata": {
                  "description": "Determines whether or not a new container registry should be provisioned."
                }
              },
              "containerRegistryName": {
                "type": "string",
                "defaultValue": "[concat(\u0027cr\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "The container registry bind to the workspace."
                }
              },
              "containerRegistrySku": {
                "type": "string",
                "defaultValue": "Standard",
                "allowedValues": [
                  "Basic",
                  "Standard",
                  "Premium"
                ]
              },
              "containerRegistryResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "containerRegistryBehindVNet": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "true",
                  "false"
                ],
                "metadata": {
                  "description": "Determines whether or not to put container registry behind VNet."
                }
              },
              "containerRegistryLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "vnetOption": {
                "type": "string",
                "defaultValue": "[if(equals(parameters(\u0027privateEndpointType\u0027), \u0027none\u0027), \u0027none\u0027, \u0027new\u0027)]",
                "allowedValues": [
                  "new",
                  "existing",
                  "none"
                ],
                "metadata": {
                  "description": "Determines whether or not a new VNet should be provisioned."
                }
              },
              "vnetName": {
                "type": "string",
                "defaultValue": "[concat(\u0027vn\u0027,uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the VNet"
                }
              },
              "vnetResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "addressPrefixes": {
                "type": "array",
                "defaultValue": [
                  "10.0.0.0/16"
                ],
                "metadata": {
                  "description": "Address prefix of the virtual network"
                }
              },
              "subnetOption": {
                "type": "string",
                "defaultValue": "[if(or(not(equals(parameters(\u0027privateEndpointType\u0027), \u0027none\u0027)), equals(parameters(\u0027vnetOption\u0027), \u0027new\u0027)), \u0027new\u0027, \u0027none\u0027)]",
                "allowedValues": [
                  "new",
                  "existing",
                  "none"
                ],
                "metadata": {
                  "description": "Determines whether or not a new subnet should be provisioned."
                }
              },
              "subnetName": {
                "type": "string",
                "defaultValue": "[concat(\u0027sn\u0027,uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the subnet"
                }
              },
              "subnetPrefix": {
                "type": "string",
                "defaultValue": "10.0.0.0/24",
                "metadata": {
                  "description": "Subnet prefix of the virtual network"
                }
              },
              "adbWorkspace": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Azure Databrick workspace to be linked to the workspace"
                }
              },
              "confidential_data": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Specifies that the Azure Machine Learning workspace holds highly confidential data."
                }
              },
              "encryption_status": {
                "type": "string",
                "defaultValue": "Disabled",
                "allowedValues": [
                  "Enabled",
                  "Disabled"
                ],
                "metadata": {
                  "description": "Specifies if the Azure Machine Learning workspace should be encrypted with customer managed key."
                }
              },
              "cmk_keyvault": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Specifies the customer managed keyVault arm id."
                }
              },
              "resource_cmk_uri": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Specifies if the customer managed keyvault key uri."
                }
              },
              "privateEndpointType": {
                "type": "string",
                "defaultValue": "none",
                "allowedValues": [
                  "AutoApproval",
                  "ManualApproval",
                  "none"
                ]
              },
              "tagValues": {
                "type": "object"
              },
              "privateEndpointName": {
                "type": "string",
                "defaultValue": "pe",
                "metadata": {
                  "description": "Name of the private end point added to the workspace"
                }
              },
              "privateEndpointResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]",
                "metadata": {
                  "description": "Name of the resource group where the private end point is added to"
                }
              },
              "imageBuildCompute": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The name of the compute target to use for building environment Docker images with the container registry is behind a VNet."
                }
              },
              "publicNetworkAccess": {
                "type": "string",
                "defaultValue": "Enabled",
                "allowedValues": [
                  "Disabled",
                  "Enabled"
                ],
                "metadata": {
                  "description": "Whether to allow public endpoint connectivity when a workspace is private link enabled."
                }
              },
              "soft_delete_enabled": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Whether to create a workspace with soft delete capability"
                }
              },
              "allow_recover_softdeleted_workspace": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Whether to allow an existing soft-deleted workspace to be recovered"
                }
              },
              "encryption_cosmosdb_resourceid": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The Bring-Your-Own cosmosdb account that customer brings to store data"
                }
              },
              "encryption_storage_resourceid": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The Bring-Your-Own storage account that customer brings to store data"
                }
              },
              "encryption_search_resourceid": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The Bring-Your-Own search account that customer brings to store data"
                }
              },
              "identity": {
                "type": "object",
                "defaultValue": {
                  "type": "systemAssigned"
                },
                "metadata": {
                  "description": "Managed identities assigned to workspace. If not specificed, SystemAssigned managed identity is the default."
                }
              },
              "primaryUserAssignedIdentity": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "ARM identifier of primary user assigned managed identity, in case multiple ones are specified. Also the default managed identity for clusterless compute."
                }
              }
            },
            "variables": {
              "tenantId": "[subscription().tenantId]",
              "storageAccount": "[resourceId(parameters(\u0027storageAccountResourceGroupName\u0027), \u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027storageAccountName\u0027))]",
              "keyVault": "[resourceId(parameters(\u0027keyVaultResourceGroupName\u0027), \u0027Microsoft.KeyVault/vaults\u0027, parameters(\u0027keyVaultName\u0027))]",
              "containerRegistry": "[resourceId(parameters(\u0027containerRegistryResourceGroupName\u0027), \u0027Microsoft.ContainerRegistry/registries\u0027, parameters(\u0027containerRegistryName\u0027))]",
              "applicationInsights": "[resourceId(parameters(\u0027applicationInsightsResourceGroupName\u0027), \u0027Microsoft.Insights/components\u0027, parameters(\u0027applicationInsightsName\u0027))]",
              "vnet": "[resourceId(parameters(\u0027vnetResourceGroupName\u0027), \u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027vnetName\u0027))]",
              "subnet": "[resourceId(parameters(\u0027vnetResourceGroupName\u0027), \u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027vnetName\u0027), parameters(\u0027subnetName\u0027))]",
              "enablePE": true,
              "networkRuleSetBehindVNet": {
                "defaultAction": "deny",
                "virtualNetworkRules": [
                  {
                    "action": "Allow",
                    "id": "[variables(\u0027subnet\u0027)]"
                  }
                ]
              },
              "subnetPolicyForPE": {
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "privateEndpointSettings": {
                "name": "[concat(parameters(\u0027workspaceName\u0027), \u0027-PrivateEndpoint\u0027)]",
                "properties": {
                  "privateLinkServiceId": "[resourceId(\u0027Microsoft.MachineLearningServices/workspaces\u0027, parameters(\u0027workspaceName\u0027))]",
                  "groupIds": [
                    "amlworkspace"
                  ]
                }
              },
              "defaultPEConnections": "[array(variables(\u0027privateEndpointSettings\u0027))]",
              "privateEndpointDeploymentName": "[concat(\u0027DeployPrivateEndpoint-\u0027, uniqueString(parameters(\u0027privateEndpointName\u0027)))]"
            },
            "resources": [
              {
                "condition": "[and(variables(\u0027enablePE\u0027), equals(parameters(\u0027vnetOption\u0027), \u0027new\u0027))]",
                "type": "Microsoft.Network/virtualNetworks",
                "apiVersion": "2019-09-01",
                "name": "[parameters(\u0027vnetName\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "tags": "[parameters(\u0027tagValues\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": "[parameters(\u0027addressPrefixes\u0027)]"
                  },
                  "enableDdosProtection": false,
                  "enableVmProtection": false
                }
              },
              {
                "condition": "[and(variables(\u0027enablePE\u0027), equals(parameters(\u0027subnetOption\u0027), \u0027new\u0027))]",
                "type": "Microsoft.Network/virtualNetworks/subnets",
                "apiVersion": "2019-09-01",
                "name": "[concat(parameters(\u0027vnetName\u0027), \u0027/\u0027, parameters(\u0027subnetName\u0027))]",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027vnetName\u0027))]"
                ],
                "properties": {
                  "addressPrefix": "[parameters(\u0027subnetPrefix\u0027)]",
                  "privateEndpointNetworkPolicies": "Disabled",
                  "privateLinkServiceNetworkPolicies": "Enabled",
                  "serviceEndpoints": [
                    {
                      "service": "Microsoft.Storage"
                    },
                    {
                      "service": "Microsoft.KeyVault"
                    },
                    {
                      "service": "Microsoft.ContainerRegistry"
                    }
                  ]
                }
              },
              {
                "condition": "[and(equals(parameters(\u0027subnetOption\u0027), \u0027existing\u0027), not(equals(parameters(\u0027privateEndpointType\u0027), \u0027none\u0027)))]",
                "type": "Microsoft.Resources/deployments",
                "apiVersion": "2019-10-01",
                "name": "[concat(\u0027UpdateSubnetPolicy-\u0027, uniqueString(parameters(\u0027vnetName\u0027), parameters(\u0027subnetName\u0027)))]",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027vnetName\u0027), parameters(\u0027subnetName\u0027))]"
                ],
                "resourceGroup": "[parameters(\u0027vnetResourceGroupName\u0027)]",
                "properties": {
                  "mode": "Incremental",
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "resources": [
                      {
                        "type": "Microsoft.Network/virtualNetworks/subnets",
                        "apiVersion": "2019-09-01",
                        "name": "[concat(parameters(\u0027vnetName\u0027), \u0027/\u0027, parameters([...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/providers/Microsoft.Resources/deployments/e2etest_test_547794314469-7482616/operationStatuses/08585346895849253969?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11951"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/deployments/e2etest_test_547794314469-7482616/operations?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11950"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/deployments/e2etest_test_547794314469-7482616/operations?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Resources/deployments/e2etest_test_547794314469-7482616/operations/D2846DC937FF1995",
            "operationId": "D2846DC937FF1995",
            "properties": {
              "provisioningOperation": "Create",
              "provisioningState": "Succeeded",
              "timestamp": "2022-10-28T00:35:10.3967901Z",
              "duration": "PT6.9052303S",
              "trackingId": "f24f6209-1afc-4626-b7f0-454d7f76d4ae",
              "statusCode": "OK",
              "targetResource": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Insights/components/e2etesttinsights617a8d9c",
                "resourceType": "Microsoft.Insights/components",
                "resourceName": "e2etesttinsights617a8d9c"
              }
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Resources/deployments/e2etest_test_547794314469-7482616/operations/145BCD5A823A6249",
            "operationId": "145BCD5A823A6249",
            "properties": {
              "provisioningOperation": "Create",
              "provisioningState": "Running",
              "timestamp": "2022-10-28T00:35:09.4802[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2euap/workspaceOperationsStatus/21c01c2e-b511-4e5c-a2a1-ccea272bb442?api-version=2022-05-01\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "standard",
        "x-request-time": "0.020"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/providers/Microsoft.Resources/deployments/e2etest_test_547794314469-7482616?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11931"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Resources/deployments/e2etest_test_547794314469-7482616",
        "name": "e2etest_test_547794314469-7482616",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "13271771408155890629",
          "parameters": {
            "workspaceName": {
              "type": "String",
              "value": "e2etest_test_547794314469"
            },
            "description": {
              "type": "String",
              "value": "e2etest_test_547794314469 description"
            },
            "friendlyName": {
              "type": "String",
              "value": "e2etest_test_547794314469 display name"
            },
            "location": {
              [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/e2etest_test_547794314469?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
