{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/diagnose?api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/ee858220-ab28-4c1a-bc01-ec58c29e5302?api-version=2023-04-01-preview\u0026type=location",
        "x-aml-cluster": "vienna-westus3-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11957",
        "x-ms-response-type": "standard",
        "x-request-time": "0.242"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/ee858220-ab28-4c1a-bc01-ec58c29e5302?api-version=2023-04-01-preview\u0026type=location",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/ee858220-ab28-4c1a-bc01-ec58c29e5302?api-version=2023-04-01-preview\u0026type=async",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/ee858220-ab28-4c1a-bc01-ec58c29e5302?api-version=2023-04-01-preview\u0026type=location",
        "x-aml-cluster": "vienna-westus3-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11956",
        "x-ms-response-type": "standard",
        "x-request-time": "0.026"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus2euap/workspaceOperationsStatus/6bcb977a-a805-42a6-9c31-d49197eb9ecb?api-version=2023-04-01-preview\u0026type=async",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11955",
        "x-ms-response-type": "standard",
        "x-request-time": "0.016"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/ee858220-ab28-4c1a-bc01-ec58c29e5302?api-version=2023-04-01-preview\u0026type=location",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus3-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11954",
        "x-ms-response-type": "standard",
        "x-request-time": "0.076"
      },
      "ResponseBody": {
        "value": {
          "userDefinedRouteResults": [],
          "networkSecurityRuleResults": [],
          "resourceLockResults": [],
          "dnsResolutionResults": [],
          "storageAccountResults": [
            {
              "code": "DependencyResourceNotExist",
              "level": "Error",
              "message": "Resource /subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/wsmhee2etest8724221320 has been removed, which is an essential resource to use Azure Machine Learning. Please recover Resource /subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/wsmhee2etest8724221320."
            },
            {
              "code": "UnableToCheckDependencyResource",
              "level": "Warning",
              "message": "Unable to check settings on resource \u0027/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/wsmhee2etest8724221320\u0027."
            }
          ],
          "keyVaultResults": [
            {
              "code": "DependencyResourceNotExist",
              "level": "Error",
              "message": "Resource /subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/wsmhee2etest7826901913 has been removed, which is an essential resource to use Azure Machine Learning. Please recover Resource /subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/wsmhee2etest7826901913."
            },
            {
              "code": "UnableToCheckDependencyResource",
              "level": "Warning",
              "message": "Unable to check settings on resource \u0027/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/wsmhee2etest7826901913\u0027."
            }
          ],
          "containerRegistryResults": [],
          "applicationInsightsResults": [
            {
              "code": "DependencyResourceNotExist",
              "level": "Error",
              "message": "Resource /subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/wsmhee2etest0558698191 has been removed, which is an essential resource to use Azure Machine Learning. Please recover Resource /subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/wsmhee2etest0558698191."
            }
          ],
          "otherResults": []
        }
      }
    }
  ],
  "Variables": {}
}
