{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_490248175656?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "authType": "UsernamePassword",
          "category": "Git",
          "target": "https://test-git-feed.com",
          "credentials": {
            "username": "dummy",
            "password": "dummy"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1193",
        "x-ms-response-type": "standard",
        "x-request-time": "0.255"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_490248175656",
        "name": "e2etest_wps_conn_test_490248175656",
        "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {
          "authType": "UsernamePassword",
          "credentials": null,
          "category": "Git",
          "expiryTime": null,
          "target": "https://test-git-feed.com",
          "metadata": {}
        },
        "systemData": {
          "createdAt": "2023-07-31T16:02:19.2172157Z",
          "createdBy": "milesholland@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2023-07-31T16:02:19.2172157Z",
          "lastModifiedBy": "milesholland@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_490248175656?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11989",
        "x-ms-response-type": "error",
        "x-request-time": "0.053"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Connection e2etest_wps_conn_test_490248175656 can\u0027t be found in this workspace",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "58d32e1e7cd6c63fd13142acc2f9aafb",
          "request": "9227f006deb402f4"
        },
        "environment": "eastus2",
        "location": "eastus2",
        "time": "2023-07-31T16:02:20.6408302\u002B00:00",
        "componentName": "account-rp"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections?category=Git\u0026api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11988",
        "x-ms-response-type": "standard",
        "x-request-time": "0.028"
      },
      "ResponseBody": {
        "value": [
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_498820302179",
            "name": "e2etest_wps_conn_test_498820302179",
            "type": "Microsoft.MachineLearningServices/workspaces/connections",
            "properties": {
              "authType": "PAT",
              "credentials": nu[...]
