{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/e2etest_test_809699762343?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.MachineLearningServices/workspaces/e2etest_test_809699762343\u0027 under resource group \u002700000\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/providers/Microsoft.Resources/deployments/e2etest_test_809699762343-3717792?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "workspaceName": {
                "type": "string",
                "metadata": {
                  "description": "Specifies the name of the Azure Machine Learning workspace."
                }
              },
              "description": {
                "type": "string",
                "metadata": {
                  "description": "Description string."
                }
              },
              "friendlyName": {
                "type": "string",
                "metadata": {
                  "description": "Friendly name."
                }
              },
              "kind": {
                "type": "string",
                "defaultValue": "Default",
                "metadata": {
                  "description": "Specifies the Kind of the workspace."
                }
              },
              "location": {
                "type": "string",
                "metadata": {
                  "description": "Specifies the location for all resources."
                }
              },
              "resourceGroupName": {
                "type": "string",
                "metadata": {
                  "description": "Specifies the resource group name of the Azure Machine Learning workspace."
                }
              },
              "storageAccountOption": {
                "type": "string",
                "defaultValue": "new",
                "allowedValues": [
                  "new",
                  "existing"
                ],
                "metadata": {
                  "description": "Determines whether or not a new storage should be provisioned."
                }
              },
              "storageAccountName": {
                "type": "string",
                "defaultValue": "[concat(\u0027sa\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the storage account."
                }
              },
              "storageAccountType": {
                "type": "string",
                "defaultValue": "Standard_LRS"
              },
              "storageAccountBehindVNet": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "true",
                  "false"
                ],
                "metadata": {
                  "description": "Determines whether or not to put the storage account behind VNet"
                }
              },
              "storageAccountResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "storageAccountLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "keyVaultOption": {
                "type": "string",
                "defaultValue": "new",
                "allowedValues": [
                  "new",
                  "existing"
                ],
                "metadata": {
                  "description": "Determines whether or not a new key vault should be provisioned."
                }
              },
              "keyVaultName": {
                "type": "string",
                "defaultValue": "[concat(\u0027kv\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the key vault."
                }
              },
              "keyVaultBehindVNet": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "true",
                  "false"
                ],
                "metadata": {
                  "description": "Determines whether or not to put the storage account behind VNet"
                }
              },
              "keyVaultResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "keyVaultLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "applicationInsightsOption": {
                "type": "string",
                "defaultValue": "new",
                "allowedValues": [
                  "new",
                  "existing"
                ],
                "metadata": {
                  "description": "Determines whether or not new ApplicationInsights should be provisioned."
                }
              },
              "logAnalyticsName": {
                "type": "string",
                "defaultValue": "[concat(\u0027la\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of LogAnalytics to be used by ApplicationInsights resource."
                }
              },
              "logAnalyticsArmId": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "ARM Id of LogAnalytics to be used by ApplicationInsights resource."
                }
              },
              "applicationInsightsName": {
                "type": "string",
                "defaultValue": "[concat(\u0027ai\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of ApplicationInsights."
                }
              },
              "applicationInsightsResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "applicationInsightsLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "containerRegistryOption": {
                "type": "string",
                "defaultValue": "none",
                "allowedValues": [
                  "new",
                  "existing",
                  "none"
                ],
                "metadata": {
                  "description": "Determines whether or not a new container registry should be provisioned."
                }
              },
              "containerRegistryName": {
                "type": "string",
                "defaultValue": "[concat(\u0027cr\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "The container registry bind to the workspace."
                }
              },
              "containerRegistrySku": {
                "type": "string",
                "defaultValue": "Standard",
                "allowedValues": [
                  "Basic",
                  "Standard",
                  "Premium"
                ]
              },
              "containerRegistryResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "containerRegistryBehindVNet": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "true",
                  "false"
                ],
                "metadata": {
                  "description": "Determines whether or not to put container registry behind VNet."
                }
              },
              "containerRegistryLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "vnetOption": {
                "type": "string",
                "defaultValue": "[if(equals(parameters(\u0027privateEndpointType\u0027), \u0027none\u0027), \u0027none\u0027, \u0027new\u0027)]",
                "allowedValues": [
                  "new",
                  "existing",
                  "none"
                ],
                "metadata": {
                  "description": "Determines whether or not a new VNet should be provisioned."
                }
              },
              "vnetName": {
                "type": "string",
                "defaultValue": "[concat(\u0027vn\u0027,uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the VNet"
                }
              },
              "vnetResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "addressPrefixes": {
                "type": "array",
                "defaultValue": [
                  "10.0.0.0/16"
                ],
                "metadata": {
                  "description": "Address prefix of the virtual network"
                }
              },
              "subnetOption": {
                "type": "string",
                "defaultValue": "[if(or(not(equals(parameters(\u0027privateEndpointType\u0027), \u0027none\u0027)), equals(parameters(\u0027vnetOption\u0027), \u0027new\u0027)), \u0027new\u0027, \u0027none\u0027)]",
                "allowedValues": [
                  "new",
                  "existing",
                  "none"
                ],
                "metadata": {
                  "description": "Determines whether or not a new subnet should be provisioned."
                }
              },
              "subnetName": {
                "type": "string",
                "defaultValue": "[concat(\u0027sn\u0027,uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the subnet"
                }
              },
              "subnetPrefix": {
                "type": "string",
                "defaultValue": "10.0.0.0/24",
                "metadata": {
                  "description": "Subnet prefix of the virtual network"
                }
              },
              "adbWorkspace": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Azure Databrick workspace to be linked to the workspace"
                }
              },
              "confidential_data": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Specifies that the Azure Machine Learning workspace holds highly confidential data."
                }
              },
              "encryption_status": {
                "type": "string",
                "defaultValue": "Disabled",
                "allowedValues": [
                  "Enabled",
                  "Disabled"
                ],
                "metadata": {
                  "description": "Specifies if the Azure Machine Learning workspace should be encrypted with customer managed key."
                }
              },
              "cmk_keyvault": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Specifies the customer managed keyVault arm id."
                }
              },
              "resource_cmk_uri": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Specifies if the customer managed keyvault key uri."
                }
              },
              "privateEndpointType": {
                "type": "string",
                "defaultValue": "none",
                "allowedValues": [
                  "AutoApproval",
                  "ManualApproval",
                  "none"
                ]
              },
              "tagValues": {
                "type": "object"
              },
              "privateEndpointName": {
                "type": "string",
                "defaultValue": "pe",
                "metadata": {
                  "description": "Name of the private end point added to the workspace"
                }
              },
              "privateEndpointResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]",
                "metadata": {
                  "description": "Name of the resource group where the private end point is added to"
                }
              },
              "imageBuildCompute": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The name of the compute target to use for building environment Docker images with the container registry is behind a VNet."
                }
              },
              "publicNetworkAccess": {
                "type": "string",
                "defaultValue": "Enabled",
                "allowedValues": [
                  "Disabled",
                  "Enabled"
                ],
                "metadata": {
                  "description": "Whether to allow public endpoint connectivity when a workspace is private link enabled."
                }
              },
              "soft_delete_enabled": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Whether to create a workspace with soft delete capability"
                }
              },
              "allow_recover_softdeleted_workspace": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Whether to allow an existing soft-deleted workspace to be recovered"
                }
              },
              "encryption_cosmosdb_resourceid": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The Bring-Your-Own cosmosdb account that customer brings to store data"
                }
              },
              "encryption_storage_resourceid": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The Bring-Your-Own storage account that customer brings to store data"
                }
              },
              "encryption_search_resourceid": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The Bring-Your-Own search account that customer brings to store data"
                }
              },
              "identity": {
                "type": "object",
                "defaultValue": {
                  "type": "systemAssigned"
                },
                "metadata": {
                  "description": "Managed identities assigned to workspace. If not specificed, SystemAssigned managed identity is the default."
                }
              },
              "primaryUserAssignedIdentity": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "ARM identifier of primary user assigned managed identity, in case multiple ones are specified. Also the default managed identity for clusterless compute."
                }
              },
              "managedNetwork": {
                "type": "object",
                "defaultValue": {
                  "isolationMode": "Disabled"
                },
                "metadata": {
                  "description": "Managed network settings to be used for the workspace. If not specified, isolation mode Disabled is the default"
                }
              },
              "spark_runtime_version": {
                "type": "string",
                "metadata": {
                  "description": "spark version to be used by all feature sets"
                }
              },
              "offline_store_connection_name": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store offline store config"
                }
              },
              "online_store_connection_name": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store online store config"
                }
              },
              "offline_store_connection_target": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store offline store connection target"
                }
              },
              "online_store_connection_target": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store online store connection target"
                }
              },
              "workspace_connection_secret_expiry_time": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Secret expiry time for workspace connection, default to be 2 years from now if not set"
                }
              },
              "materialization_identity_client_id": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store materialization credential client id"
                }
              },
              "materialization_identity_resource_id": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store materialization credential resource id"
                }
              },
              "setup_materialization_store": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Whether to set up materialization store"
                }
              },
              "enable_data_isolation": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "A flag to determine if workspace has data isolation enabled. The flag can only be set at the creation phase, it can\u0027t be updated."
                }
              }
            },
            "variables": {
              "tenantId": "[subscription().tenantId]",
              "storageAccount": "[resourceId(parameters(\u0027storageAccountResourceGroupName\u0027), \u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027storageAccountName\u0027))]",
              "keyVault": "[resourceId(parameters(\u0027keyVaultResourceGroupName\u0027), \u0027Microsoft.KeyVault/vaults\u0027, parameters(\u0027keyVaultName\u0027))]",
              "containerRegistry": "[resourceId(parameters(\u0027containerRegistryResourceGroupName\u0027), \u0027Microsoft.ContainerRegistry/registries\u0027, parameters(\u0027containerRegistryName\u0027))]",
              "applicationInsights": "[resourceId(parameters(\u0027applicationInsightsResourceGroupName\u0027), \u0027Microsoft.Insights/components\u0027, parameters(\u0027applicationInsightsName\u0027))]",
              "vnet": "[resourceId(parameters(\u0027vnetResourceGroupName\u0027), \u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027vnetName\u0027))]",
              "subnet": "[resourceId(parameters(\u0027vnetResourceGroupName\u0027), \u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027vnetName\u0027), parameters(\u0027subnetName\u0027))]",
              "enablePE": true,
              "networkRuleSetBehindVNet": {
                "defaultAction": "deny",
                "virtualNetworkRules": [
                  {
                    "action": "Allow",
                    "id": "[variables(\u0027subnet\u0027)]"
                  }
                ]
              },
              "privateEndpointSettings": {
                "name": "[concat(parameters(\u0027workspaceName\u0027), \u0027-PrivateEndpoint\u0027)]",
                "properties": {
                  "privateLinkServiceId": "[resourceId(\u0027Microsoft.MachineLearningServices/workspaces\u0027, parameters(\u0027workspaceName\u0027))]",
                  "groupIds": [
                    "amlworkspace"
                  ]
                }
              },
              "defaultPEConnections": "[array(variables(\u0027privateEndpointSettings\u0027))]",
              "privateEndpointDeploymentName": "[concat(\u0027DeployPrivateEndpoint-\u0027, uniqueString(parameters(\u0027privateEndpointName\u0027)))]",
              "offlineStoreConnectionName": "[if(equals(parameters(\u0027offline_store_connection_name\u0027), \u0027\u0027), \u0027OfflineStoreConnectionName\u0027, parameters(\u0027offline_store_connection_name\u0027))]",
              "onlineStoreConnectionName": "[if(equals(parameters(\u0027online_store_connection_name\u0027), \u0027\u0027), \u0027OnlineStoreConnectionName\u0027, parameters(\u0027online_store_connection_name\u0027))]"
            },
            "resources": [
              {
                "condition": "[and(variables(\u0027enablePE\u0027), equals(parameters(\u0027vnetOption\u0027), \u0027new\u0027))]",
                "type": "Microsoft.Network/virtualNetworks",
                "apiVersion": "2019-09-01",
                "name": "[parameters(\u0027vnetName\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "tags": "[parameters(\u0027tagValues\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": "[parameters(\u0027addressPrefixes\u0027)]"
                  },
                  "enableDdosProtection": false,
                  "enableVmProtection": false
                }
              },
              {
                "condition": "[and(variables(\u0027enablePE\u0027), equals(parameters(\u0027subnetOption\u0027), \u0027new\u0027))]",
                "type": "Microsoft.Network/virtualNetworks/subnets",
                "apiVersion": "2019-09-01",
                "name": "[concat(parameters(\u0027vnetName\u0027), \u0027/\u0027, parameters(\u0027subnetName\u0027))]",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027vnetName\u0027))]"
                ],
                "properties": {
                  "addressPrefix": "[parameters(\u0027subnetPrefix\u0027)]",
                  "privateEndpointNetworkPolicies": "Disabled",
                  "privateLinkServiceNetworkPolicies": "Enabled",
                  "serviceEndpoints": [
                    {
                      "service": "Microsoft.Storage"
                    },
                    {
                      "service": "Microsoft.KeyVault"
                    },
                    {
                      "service": "Microsoft.ContainerRegistry"
                    }
                  ]
                }
              },
              {
                "condition": "[and(variables(\u0027enablePE\u0027), equals(parameters(\u0027storageAccountOption\u0027), \u0027new\u0027))]",
                "type": "Microsoft.Storage/storageAccounts",
                "apiVersion": "2019-04-01",
                "name": "[parameters(\u0027storageAccountName\u0027)]",
                "tags": "[parameters(\u0027tagValues\u0027)]",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027vnetName\u0027), parameters(\u0027subnetName\u0027))]"
                ],
                "location": "[parameters(\u0027storageAccountLocation\u0027)]",
                "sku": {
                  "name": "[parameters(\u0027storageAccountType\u0027)]"
                },
                "kind": "StorageV2",
                "properties": {
                  "encryption": {
                    "services": {
                      "blob": {
                        "enabled": true
                      },
                      "file": {
                        "enabled": true
                      }
                    },
                    "keySource": "Microsoft.Storage"
                  },
                  "supportsHttpsTrafficOnly": true,
                  "allowBlobPublicAccess": false,
                  "networkAcls": "[if(equals(parameters(\u0027storageAccountBehindVNet\u0027), \u0027true\u0027), variables(\u0027networkRuleSetBehindVNet\u0027), json(\u0027null\u0027))]"
                }
              },
              {
                "condition": "[and(variables(\u0027enablePE\u0027), equals(parameters(\u0027keyVaultOption\u0027), \u0027new\u0027))]",
                "type": "Microsoft.KeyVault/vaults",
                "apiVersion": "2019-09-01",
                "tags": "[parameters(\u0027tagValues\u0027)]",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027vnetName\u0027), parameters(\u0027subnetName\u0027))]"
                ],
                "name": "[parameters(\u0027keyVaultName\u0027)]",
                "location": "[parameters(\u0027keyVaultLocation\u0027)]",
                "properties": {
                  "tenantId": "[variables(\u0027tenantId\u0027)]",
                  "sku": {
                    "name": "standard",
                    "family": "A"
                  },
                  "accessPolicies": [],
                  "networkAcls": "[if(equals(parameters(\u0027keyVaultBehindVNet\u0027), \u0027true\u0027), variables(\u0027networkRuleSetBehindVNet\u0027), json(\u0027null\u0027))]"
                }
              },
              {
                "condition": "[and(variables(\u0027enablePE\u0027), equals(parameters(\u0027containerRegistryOption\u0027), \u0027new\u0027))]",
                "type": "Microsoft.ContainerRegistry/registries",
                "apiVersion": "2019-05-01",
                "tags": "[parameters(\u0027tagValues\u0027)]",
                "name": "[parameters(\u0027containerRegistryName\u0027)]",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027vnetName\u0027), parameters(\u0027subnetName\u0027))]"
                ],
                "location": "[parameters(\u0027containerRegistryLocation\u0027)]",
                "sku": {
                  "name": "[parameters(\u0027containerRegistrySku\u0027)]"
                },
                "properties": {
                  "adminUserEnabled": true,
                  "networkRuleSet": "[if(equals(parameters(\u0027containerRegistryBehindVNet\u0027), \u0027true\u0027), variables(\u0027networkRuleSetBehindVNet\u0027), json(\u0027null\u0027))]"
                }
              },
              {
                "condition": "[and(variables(\u0027enablePE\u0027), equals(parameters(\u0027applicationInsightsOption\u0027), \u0027new\u0027))]",
                "type": "Microsoft.OperationalInsights/workspaces",
                "tags": "[parameters(\u0027tagValues\u0027)]",
                "apiVersion": "2020-08-01",
                "name": "[parameters(\u0027logAnalyticsName\u0027)]",
[...]
