{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_915486662829?api-version=2022-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "authType": "AccessKey",
          "category": "S3",
          "target": "dummy",
          "credentials": {
            "accessKeyId": "dummy",
            "secretAccessKey": "dummy"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1189",
        "x-ms-response-type": "standard",
        "x-request-time": "0.375"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_915486662829",
        "name": "e2etest_wps_conn_test_915486662829",
        "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {
          "authType": "AccessKey",
          "credentials": null,
          "category": "S3",
          "expiryTime": null,
          "target": "dummy",
          "metadata": null
        },
        "systemData": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_915486662829?api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11983",
        "x-ms-response-type": "error",
        "x-request-time": "0.022"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Connection e2etest_wps_conn_test_915486662829 can\u0027t be found in this workspace",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "5cb755bbdd284df96d628e1b773227b6",
          "request": "af4acccc07de9ad1"
        },
        "environment": "master",
        "location": "westus2",
        "time": "2023-03-11T19:03:02.7287881\u002B00:00",
        "componentName": "account-rp"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections?category=S3\u0026api-version=2022-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11982",
        "x-ms-response-type": "standard",
        "x-request-time": "0.026"
      },
      "ResponseBody": {
        "value": [
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/my_s3_connection",
            "name": "my_s3_connection",
            "type": "Microsoft.MachineLearningServices/workspaces/connections",
            "properties": {
              "authType": "UsernamePassword",
              "credentials": null,
              "category": "S3",
              "expiryTime": null,
              "target": "amldataimport",
              "metadata": null
            },
            "systemData": null
          }
        ]
      }
    }
  ],
  "Variables": {
    "wps_connection_name": "test_915486662829"
  }
}
