{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/000000000000000000000/versions?api-version=2023-04-01\u0026hash=130742b0e91b2c36796e829acefbbce3d05e65f002768115bb2b30355200e4a7\u0026hashVersion=202208",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-ms-response-type": "standard",
        "x-request-time": "0.073"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/f4e96966-d034-4f76-9428-883f6606c9f1/versions/1",
            "name": "1",
            "type": "Microsoft.MachineLearningServices/workspaces/codes/versions",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {
                "hash_sha256": "130742b0e91b2c36796e829acefbbce3d05e65f002768115bb2b30355200e4a7",
                "hash_version": "202208"
              },
              "isArchived": false,
              "isAnonymous": false,
              "codeUri": "https://samcw32zcnpjldw.blob.core.windows.net:443/72e8eff8-1-1eb8f8e2-6a39-5f50-9268-47f3373943f9/src",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2023-04-22T07:02:42.3321043\u002B00:00",
              "createdBy": "Firstname Lastname",
              "createdByType": "User",
              "lastModifiedAt": "2023-04-22T07:02:42.3321043\u002B00:00",
              "lastModifiedBy": "Firstname Lastname",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/f4e96966-d034-4f76-9428-883f6606c9f1/versions/1?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Aml Spark add greeting column test module",
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/f4e96966-d034-4f76-9428-883f6606c9f1/versions/1",
            "entry": {
              "file": "add_greeting_column.py"
            },
            "py_files": [
              "utils.zip"
            ],
            "files": [
              "my_files.txt"
            ],
            "conf": {
              "spark.driver.cores": 2,
              "spark.driver.memory": "1g",
              "spark.executor.cores": 1,
              "spark.executor.memory": "1g",
              "spark.executor.instances": 1
            },
            "args": "--file_input ${{inputs.file_input}}",
            "name": "add_greeting_column_spark_component",
            "description": "Aml Spark add greeting column test module",
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/latest/sparkComponent.schema.json",
            "display_name": "Aml Spark add greeting column test module",
            "is_deterministic": true,
            "inputs": {
              "file_input": {
                "type": "uri_file",
                "mode": "direct"
              }
            },
            "type": "spark",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1190",
        "x-ms-response-type": "standard",
        "x-request-time": "0.233"
      },
      "ResponseBody": {
        "id": "/subscriptions/000000[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "Aml Spark count by row test module",
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/f4e96966-d034-4f76-9428-883f6606c9f1/versions/1",
            "entry": {
              "file": "count_by_row.py"
            },
            "jars": [
              "scalaproj.jar"
            ],
            "files": [
              "my_files.txt"
            ],
            "conf": {
              "spark.driver.cores": 2,
              "spark.driver.memory": "1g",
              "spark.executor.cores": 1,
              "spark.executor.memory": "1g",
              "spark.executor.instances": 1
            },
            "args": "--file_input ${{inputs.file_input}} --output ${{outputs.output}}",
            "name": "count_by_row_spark_component",
            "description": "Aml Spark count by row test module",
            "version": "1",
            "$schema": "https://azuremlschemas.azureedge.net/latest/sparkComponent.schema.json",
            "display_name": "Aml Spark count by row test module",
            "is_deterministic": true,
            "inputs": {
              "file_input": {
                "type": "uri_file",
                "mode": "direct"
              }
            },
            "outputs": {
              "output": {
                "type": "uri_folder",
                "mode": "direct"
              }
            },
            "type": "spark",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/comp[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11995",
        "x-ms-response-type": "standard",
        "x-request-time": "0.126"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "samcw32zcnpjldw",
          "containerName": "azureml-blobstore-72e8eff8-148b-4582-a07d-efc79559f19f",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2023-04-22T04:25:24.8100138\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2023-04-22T04:25:25.4215298\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-ms-response-type": "standard",
        "x-request-time": "0.135"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://samcw32zcnpjldw.blob.core.windows.net/azureml-blobstore-72e8eff8-148b-4582-a07d-efc79559f19f/LocalUpload/00000000000000000000000000000000/iris.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 24 Apr 2023 03:59:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "XRrMlLBQw8xkEE3P\u002Bec4mg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB42FF9723E39A\u0022",
        "Last-Modified": "Sat, 22 Apr 2023 07:02:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Apr 2023 07:02:52 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "f87536ce-6533-4e80-bf97-05cf1b904089",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "aac7c686-d0cb-42c9-8773-1571c0e82906",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://samcw32zcnpjldw.blob.core.windows.net/azureml-blobstore-72e8eff8-148b-4582-a07d-efc79559f19f/az-ml-artifacts/00000000000000000000000000000000/iris.csv",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 24 Apr 2023 03:59:12 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2023-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "submit a pipeline with spark job",
          "properties": {},
          "tags": {},
          "displayName": "spark_pipeline_from_yaml",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "iris_data": {
              "mode": "Direct",
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/iris.csv",
              "jobInputType": "uri_file"
            }
          },
          "jobs": {
            "add_greeting_column": {
              "type": "spark",
              "resources": {
                "instance_type": "standard_e4s_v3",
                "runtime_version": "3.2.0"
              },
              "py_files": [
                "utils.zip"
              ],
              "files": [
                "my_files.txt"
              ],
              "identity": {
                "identity_type": "UserIdentity"
              },
              "conf": {
                "spark.driver.cores": 2,
                "spark.driver.memory": "1g",
                "spark.executor.cores": 1,
                "spark.executor.memory": "1g",
                "spark.executor.instances": 1
              },
              "args": "--file_input ${{inputs.file_input}}",
              "name": "add_greeting_column",
              "inputs": {
                "file_input": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.iris_data}}"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/b16cf475-7f36-4fa1-92a0-5b94fdf6fd57",
              "entry": {
                "spark_job_entry_type": "SparkJobPythonEntry",
                "file": "add_greeting_column.py"
              }
            },
            "count_by_row": {
              "type": "spark",
              "resources": {
                "instance_type": "standard_e4s_v3",
                "runtime_version": "3.2.0"
              },
              "jars": [
                "scalaproj.jar"
              ],
              "files": [
                "my_files.txt"
              ],
              "identity": {
                "identity_type": "UserIdentity"
              },
              "conf": {
                "spark.driver.cores": 2,
                "spar[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000/cancel?api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationResults/jc:72e8eff8-148b-4582-a07d-efc79559f19f:000000000000000000000?api-version=2023-04-01-preview",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-ratelimit-remaining-subscription-writes": "1195",
        "x-ms-response-type": "standard",
        "x-request-time": "0.591"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationResults/jc:72e8eff8-148b-4582-a07d-efc79559f19f:000000000000000000000?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationResults/jc:72e8eff8-148b-4582-a07d-efc79559f19f:000000000000000000000?api-version=2023-04-01-preview",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11994",
        "x-ms-response-type": "standard",
        "x-request-time": "0.029"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationResults/jc:72e8eff8-148b-4582-a07d-efc79559f19f:000000000000000000000?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11993",
        "x-ms-response-type": "standard",
        "x-request-time": "0.033"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
