{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11945",
        "x-ms-response-type": "standard",
        "x-request-time": "0.114"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "sas3vrosykmdp4s",
          "containerName": "azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2022-09-29T22:16:05.5940148\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-29T22:16:06.5431636\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1164",
        "x-ms-response-type": "standard",
        "x-request-time": "0.100"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://sas3vrosykmdp4s.blob.core.windows.net/azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1/LocalUpload/00000000000000000000000000000000/src/convert_data.py",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 29 Sep 2022 23:31:25 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sas3vrosykmdp4s.blob.core.windows.net/azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1/LocalUpload/00000000000000000000000000000000/src/convert_data.py",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "DhunCanKGufSVuPKEYN51w==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 29 Sep 2022 23:31:25 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "aW1wb3J0IGFyZ3BhcnNlDQppbXBvcnQgb3MNCmZyb20gcGF0aGxpYiBpbXBvcnQgUGF0aA0KDQpwYXJzZXIgPSBhcmdwYXJzZS5Bcmd1bWVudFBhcnNlcigpDQpwYXJzZXIuYWRkX2FyZ3VtZW50KCItLWlucHV0X2RhdGEiLCB0eXBlPXN0cikNCnBhcnNlci5hZGRfYXJndW1lbnQoIi0tZmlsZV9vdXRwdXRfZGF0YSIsIHR5cGU9c3RyKQ0KDQphcmdzID0gcGFyc2VyLnBhcnNlX2FyZ3MoKQ0KDQpwcmludCgiaW5wdXRfZGF0YSBwYXRoOiAlcyIgJSBhcmdzLmlucHV0X2RhdGEpDQoN[...]
    {
      "RequestUri": "https://sas3vrosykmdp4s.blob.core.windows.net/azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1/LocalUpload/00000000000000000000000000000000/src/score.py",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "ssg/A2ubXwbxCqYfP/U6Mw==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 29 Sep 2022 23:31:25 GMT",
        "x-ms-version": "2020-[...]
    {
      "RequestUri": "https://sas3vrosykmdp4s.blob.core.windows.net/azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1/LocalUpload/00000000000000000000000000000000/src/convert_data.py?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 29 Sep 2022 23:31:25 GMT",
        "x-ms-meta-name": "1992c9ec-9950-4a10-b848-21eccf196b5e",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA272BA182BEE\u0022",
        "Last-Modified": "Thu, 29 Sep 2022 23:31:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/1992c9ec-9950-4a10-b848-21eccf196b5e/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sas3vrosykmdp4s.blob.core.windows.net/azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1/LocalUpload/00000000000000000000000000000000/src"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/1992c9ec-9950-4a10-b848-21eccf196b5e/versions/1?api-version=2022-05-01",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1107",
        "x-ms-response-type": "standard",
        "x-request-time": "0.621"
      },
      "ResponseBody": {
        "id": "/subscriptions/000000[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "parallel component for batch score",
          "properties": {},
          "tags": {},
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "name": "azureml_anonymous",
            "description": "parallel component for batch score",
            "tags": {},
            "version": "000000000000000000000",
            "$schema": "http://azureml/sdk-2-0/ParallelComponent.json",
            "display_name": "BatchScore",
            "is_deterministic": true,
            "inputs": {
              "job_data_path": {
                "type": "mltable",
                "description": "The data to be split and scored in parallel."
              }
            },
            "outputs": {
              "job_output_path": {
                "type": "uri_folder"
              }
            },
            "type": "parallel",
            "resources": {
              "instance_count": 2
            },
            "task": {
              "type": "run_function",
              "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/1992c9ec-9950-4a10-b848-21eccf196b5e/versions/1",
              "entry_script": "score.py",
              "program_arguments": "--job_output_path ${{outputs.job_output_path}}",
              "environment": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1"
            },
            "mini_batch_size": "1",
            "input_data": "${{inputs.job_data_path}}",
            "max_concurrency_per_instance": 1,
            "mini_batch_error_threshold": 1,
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-[...]
[...]
    {
      "RequestUri": "https://sas3vrosykmdp4s.blob.core.windows.net/azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1/LocalUpload/00000000000000000000000000000000/mnist-data/0.png",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 29 Sep 2022 23:31:30 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sas3vrosykmdp4s.blob.core.windows.net/azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1/LocalUpload/00000000000000000000000000000000/mnist-data/0.png",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "yLW2CQQeldeN1S7hH1/5Nw==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 29 Sep 2022 23:31:31 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAAAAABXZoBIAAAApklEQVR4nGNgGG4gZOf86TYqOCTv/QOCj8egYJUJiqRzkUfR4sf/HgKV/Hr6718PpnZBJz5nZ2dr0Tf/snDaH/z3ohAuObGX/4Nxamz8904Hl5z1z392ODW2/tvNikuO8\u002BwPK5wa6/5twynn/fuDJS454bv/luGSYz7977YyLkm1f/98ccnJP/hXzIhLsvXfPxNccraf8EhW/vt3WwO35HmcUYUFAADoRUgXjdCLBAAAAABJRU5ErkJggg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "yLW2CQQeldeN1S7hH1/5Nw==",
        "ETag": "\u00220x8DAA272BD3EC11A\u0022",
        "Last-Modified": "Thu, 29 Sep 2022 23:31:31 GMT",
        "x-ms-content-crc64": "udv6YBRBC3o=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sas3vrosykmdp4s.blob.core.windows.net/azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1/LocalUpload/00000000000000000000000000000000/mnist-data/MLTable",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-MD5": "MqcWyV2Ifb9O1CFXsVXNBg==",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 29 Sep 2022 23:31:31 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": "cGF0aHM6DQogIC0gZmlsZTogLi8wLnBuZw0KICAtIGZpbGU6IC4vMS5wbmcNCiAgLSBmaWxlOiAuLzIucG5nDQogIC0gZmlsZTogLi8zLnBuZw0K",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "MqcWyV2Ifb9O1CFXsVXNBg==",
        "ETag": "\u00220x8DAA272BD421C00\u0022",
        "Last-Modified": "Thu, 29 Sep 2022 23:31:31 GMT",
        "x-ms-content-crc64": "0CgkdSBqsos=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sas3vrosykmdp4s.blob.core.windows.net/azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1/LocalUpload/00000000000000000000000000000000/mnist-data/0.png?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-date": "Thu, 29 Sep 2022 23:31:31 GMT",
        "x-ms-meta-name": "776195be-0520-410c-baf6-30d470c2ba98",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "9e2621cd-06f1-4034-af15-7e796b2f5bb7",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DAA272BD4B9081\u0022",
        "Last-Modified": "Thu, 29 Sep 2022 23:31:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "displayName": "parallel_in_pipeline",
          "experimentName": "parallel_in_pipeline",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "job_data_path": {
              "mode": "EvalMount",
              "uri": "azureml://datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/mnist-data",
              "jobInputType": "mltable"
            }
          },
          "jobs": {
            "batch_inference_node": {
              "type": "parallel",
              "resources": {
                "instance_count": 2,
                "properties": {}
              },
              "error_threshold": null,
              "mini_batch_error_threshold": 1,
              "environment_variables": {},
              "max_concurrency_per_instance": 1,
              "task": {
                "type": "run_function",
                "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/1992c9ec-9950-4a10-b848-21eccf196b5e/versions/1",
                "entry_script": "score.py",
                "program_arguments": "--job_output_path ${{outputs.job_output_path}}",
                "environment": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1"
              },
              "input_data": "${{inputs.job_data_path}}",
              "name": "batch_inference_node",
              "display_name": null,
              "tags": {},
              "computeId": null,
              "inputs": {
                "job_data_path": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_data_path}}"
                }
              },
              "outputs": {},
              "properties": {},
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/a117d1fb-2606-4184-a51f-66f5509ae349",
              "retry_settings": null,
              "logging_level": null,
              "mini_batch_size": 5
            }
          },
          "outputs": {},
          "settings": {
            "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
            "_source": "DSL"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-06-01-preview",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1105",
        "x-ms-response-type": "standard",
        "x-request-time": "2.964"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000",
        "name": "000000000000000000000",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultComputeName": "cpu-cluster",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "parallel_in_pipeline",
          "status": "Preparing",
          "experimentName": "parallel_in_pipeline",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/000000000000000000000?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null
            }
          },
          "computeId": null,
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "jobType": "Pipeline",
          "settings": {
            "default_compute": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
            "_source": "DSL"
          },
          "jobs": {
            "batch_inference_node": {
              "type": "parallel",
              "resources": {
                "instance_count": 2,
                "pr[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000/cancel?api-version=2022-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/jc:86253a4f-a7a6-4008-8c86-ce9cf2978bc1:000000000000000000000?api-version=2022-06-01-preview",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-async-operation-timeout": "PT1H",
        "x-ms-ratelimit-remaining-subscription-writes": "1162",
        "x-ms-response-type": "standard",
        "x-request-time": "0.998"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/jc:86253a4f-a7a6-4008-8c86-ce9cf2978bc1:000000000000000000000?api-version=2022-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/jc:86253a4f-a7a6-4008-8c86-ce9cf2978bc1:000000000000000000000?api-version=2022-06-01-preview",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11943",
        "x-ms-response-type": "standard",
        "x-request-time": "0.032"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/providers/Microsoft.MachineLearningServices/locations/centraluseuap/mfeOperationResults/jc:86253a4f-a7a6-4008-8c86-ce9cf2978bc1:000000000000000000000?api-version=2022-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11942",
        "x-ms-response-type": "standard",
        "x-request-time": "0.030"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
