{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11933",
        "x-ms-response-type": "standard",
        "x-request-time": "0.245"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "centraluseuap",
        "tags": {},
        "properties": {
          "createdOn": "2022-09-29T22:16:14.236098\u002B00:00",
          "modifiedOn": "2022-09-29T22:17:32.3214572\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "centraluseuap",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 2,
            "targetNodeCount": 4,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 2,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Resizing",
            "allocationStateTransitionTime": "2022-09-29T23:30:16.916\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11932",
        "x-ms-response-type": "standard",
        "x-request-time": "0.088"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "sas3vrosykmdp4s",
          "containerName": "azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2022-09-29T22:16:05.5940148\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-29T22:16:06.5431636\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1154",
        "x-ms-response-type": "standard",
        "x-request-time": "0.100"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://sas3vrosykmdp4s.blob.core.windows.net/azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1/LocalUpload/00000000000000000000000000000000/COMPONENT_PLACEHOLDER",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 29 Sep 2022 23:33:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "L/DnSpFIn\u002BjaQWc\u002BsUQdcw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DAA269B39E05D8\u0022",
        "Last-Modified": "Thu, 29 Sep 2022 22:26:49 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 29 Sep 2022 22:26:49 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "5559a10b-f428-4259-a127-d246099b26e8",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sas3vrosykmdp4s.blob.core.windows.net/azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1/az-ml-artifacts/00000000000000000000000000000000/COMPONENT_PLACEHOLDER",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Thu, 29 Sep 2022 23:33:14 GMT",
        "x-ms-version": "2020-10-02"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2020-10-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/5559a10b-f428-4259-a127-d246099b26e8/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sas3vrosykmdp4s.blob.core.windows.net/azureml-blobstore-86253a4f-a7a6-4008-8c86-ce9cf2978bc1/LocalUpload/00000000000000000000000000000000"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1094",
        "x-ms-response-type": "standard",
        "x-request-time": "0.197"
      },
      "ResponseBody":[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the basic command component",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World \u0026 echo $[[${{inputs.component_in_number}}]] \u0026 echo ${{inputs.component_in_path}} \u0026 echo ${{outputs.component_out_path}} \u003E ${{outputs.component_out_path}}/component_in_number",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/5559a10b-f428-4259-a127-d246099b26e8/versions/1",
            "environment": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1",
            "name": "azureml_anonymous",
            "description": "This is the basic command component",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "version": "000000000000000000000",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentBasic",
            "is_deterministic": true,
            "inputs": {
              "component_in_number": {
                "type": "number",
                "optional": true,
                "default": "10.99",
                "description": "A number"
              },
              "component_in_path": {
                "type": "uri_folder",
                "description": "A path"
              }
            },
            "outputs": {
              "component_out_path": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/000000000000000000000?api-version=2022-05-01",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1093",
        "x-ms-response-type": "standard",
        "x-request-time": "2.808"
      },
      "ResponseBody": {
        "id": "/subscriptions/[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "The hello world pipeline job",
          "properties": {},
          "tags": {
            "owner": "sdkteam",
            "tag": "tagvalue"
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "test_513969847651",
          "experimentName": "dsl_pipeline_e2e",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "job_in_number": {
              "jobInputType": "literal",
              "value": "10"
            },
            "job_in_other_number": {
              "jobInputType": "literal",
              "value": "15"
            },
            "job_in_path": {
              "uri": "https://dprepdata.blob.core.windows.net/demo/Titanic.csv",
              "jobInputType": "uri_file"
            }
          },
          "jobs": {
            "test_677497348113": {
              "resources": null,
              "distribution": null,
              "limits": null,
              "environment_variables": {},
              "name": "test_677497348113",
              "type": "command",
              "display_name": null,
              "tags": {},
              "computeId": null,
              "inputs": {
                "component_in_number": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_number}}"
                },
                "component_in_path": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_path}}"
                }
              },
              "outputs": {},
              "properties": {},
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/e0278748-0e23-4e24-ae9b-e79ea968e5ce"
            },
            "test_677497348113_1": {
              "resources": null,
              "distribution": null,
              "limits": null,
              "environment_variables": {},
              "name": "test_677497348113_1",
              "type": "command",
              "display_name": null,
              "tags": {},
              "computeId": null,
              "inputs": {
                "component_in_number": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_other_number}}"
                },
                "component_in_path": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_path}}"
                }
              },
              "outputs": {},
              "properties": {},
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/e0278748-0e23-4e24-ae9b-e79ea968e5ce"
            }
          },
          "outputs": {},
          "settings": {
            "continue_on_step_failure": true,
            "_source": "DSL"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-06-01-preview",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1090",
        "x-ms-response-type": "standard",
        "x-request-time": "2.960"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000",
        "name": "000000000000000000000",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "The hello world pipeline job",
          "tags": {
            "owner": "sdkteam",
            "tag": "tagvalue"
          },
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{\u0022job_in_number\u0022:\u002210\u0022,\u0022job_in_other_number\u0022:\u002215\u0022}",
            "azureml.continue_on_step_failure": "True",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultComputeName": "cpu-cluster",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "test_513969847651",
          "status": "Preparing",
          "experimentName": "dsl_pipeline_e2e",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/000000000000000000000?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "jobType": "Pipeline",
          "settings": {
            "continue_on_step_failure": true,
            "_source": "DSL"
          },
          "jobs": {
            "test_677497348113": {
              "resources": null,
              "distribution": null,
              "limits": null,
              "environment_variables": {},
              "name": "test_677497348113",
              "type": "command",
              "display_name": null,
        [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11927",
        "x-ms-response-type": "standard",
        "x-request-time": "0.017"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
        "name": "00000",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "centraluseuap",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "00000",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/sas3vrosykmdp4s",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/kvtestpbl3qtk57uhx4",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.insights/components/ais3vrosykmdp4s",
          "hbiWorkspace": false,
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crs3vrosykmdp4s",
          "notebookInfo": {
            "resourceId": "5cbfa9e5693c4e2bac727eafadd87429",
            "fqdn": "ml-sdkvnextc-centraluseuap-86253a4f-a7a6-4008-8c86-ce9cf2978bc1.centraluseuap.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "86253a4f-a7a6-4008-8c86-ce9cf2978bc1",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "discoveryUrl": "https://master.api.azureml-test.ms/discovery",
          "mlFlowTrackingUri": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "sdkTelemetryAppInsightsKey": "e31c22bb-e424-4992-a495-6519750e273a",
          "sasGetterUri": ""
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "b8a11eea-ee92-432f-9f53-ca8c07f61e94",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2022-09-29T22:15:45.7783361Z",
          "createdBy": "adsingha@microsoft.com",
          "createdByType": "User",
          "lastModifiedAt": "2022-09-29T22:15:45.7783361Z",
          "lastModifiedBy": "adsingha@microsoft.com",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://master.api.azureml-test.ms/discovery",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.012"
      },
      "ResponseBody": {
        "api": "https://master.api.azureml-test.ms",
        "catalog": "https://catalog.cortanaanalytics.com",
        "experimentation": "https://master.experiments.azureml-test.net",
        "gallery": "https://gallery.cortanaintelligence.com/project",
        "history": "https://master.experiments.azureml-test.net",
        "hyperdrive": "https://master.experiments.azureml-test.net",
        "labeling": "https://master.experiments.azureml-test.net",
        "modelmanagement": "https://mms.azureml-test.net",
        "pipelines": "https://westus2.aether-dev.ms",
        "quota-manager": "https://master.experiments.azureml-test.net",
        "studio": "https://ml.azure.com"
      }
    },
    {
      "RequestUri": "https://master.api.azureml-test.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/runs/000000000000000000000/children",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.101"
      },
      "ResponseBody": {
        "value": [
          {
            "runNumber": 1664494409,
            "rootRunId": "000000000000000000000",
            "createdUtc": "2022-09-29T23:33:29.1618463\u002B00:00",
            "createdBy": {
              "userObjectId": "1e086a41-b193-4e0a-8b65-15bc2d52d049",
              "userPuId": "10032000BB4EF586",
              "userIdp": null,
              "userAltSecId": null,
              "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
              "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "userName": "Aditi Singhal",
              "upn": null
            },
            "userId": "1e086a41-b193-4e0a-8b65-15bc2d52d049",
            "token": null,
            "tokenExpiryTimeUtc": null,
            "error": null,
            "warnings": null,
            "revision": 2,
            "statusRevision": 0,
            "runUuid": "126d6602-a401-48f0-a299-1e259826dbc7",
            "parentRunUuid": "326fae47-b980-4eb8-a095-e031ccf3ecbd",
            "rootRunUuid": "326fae47-b980-4eb8-a095-e031ccf3ecbd",
            "lastStartTimeUtc": null,
            "currentComputeTime": null,
            "computeDuration": "00:00:00.0536009",
            "effectiveStartTimeUtc": null,
            "lastModifiedBy": {
              "userObjectId": "1e086a41-b193-4e0a-8b65-15bc2d52d049",
              "userPuId": "10032000BB4EF586",
              "userIdp": null,
              "userAltSecId": null,
              "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
              "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "userName": "Aditi Singhal",
              "upn": null
            },
            "lastModifiedUtc": "2022-09-29T23:33:29.1618463\u002B00:00",
            "duration": "00:00:00.0536009",
            "cancelationReason": null,
            "currentAttemptId": null,
            "runId": "a7195e77-fdf8-44e5-9a2c-c09ddc5580f2",
            "parentRunId": "000000000000000000000",
            "experimentId": "a115e82c-8ee9-46fe-8511-0cd814c496f4",
            "status": "Completed",
            "startTimeUtc": "2022-09-29T23:33:29.1618463\u002B00:00",
            "endTimeUtc": "2022-09-29T23:33:29.2154472\u002B00:00",
            "scheduleId": null,
            "displayName": "test_677497348113",
            "name": "azureml_anonymous",
            "dataContainerId": "dcid.7a3be77c-dc66-4be4-8ecb-1f89b8e15177",
            "description": null,
            "hidden": false,
            "runType": "azureml.StepRun",
            "runTypeV2": {
              "orchestrator": null,
              "traits": [
                "azureml.StepRun"
              ],
              "attribution": null,
              "computeType": null
            },
            "properties": {
              "azureml.isreused": "true",
              "azureml.reusedrunid": "7a3be77c-dc66-4be4-8ecb-1f89b8e15177",
              "azureml.reusednodeid": "9838ff54",
              "azureml.reusedpipeline": "000000000000000000000",
              "azureml.reusedpipelinerunid": "000000000000000000000",
              "azureml.runsource": "azureml.StepRun",
              "azureml.nodeid": "1675d363",
              "ContentSnapshotId": "266faa6f-de4e-4fcc-8561-b002fe154dbe",
              "StepType": "PythonScriptStep",
              "ComputeTargetType": "AmlCompute",
              "azureml.moduleid": "e0278748-0e23-4e24-ae9b-e79ea968e5ce",
              "azureml.moduleName": "azureml_anonymous",
              "azureml.moduleVersion": "000000000000000000000",
              "azureml.pipeline": "000000000000000000000",
              "azureml.pipelinerunid": "000000000000000000000",
              "azureml.DevPlatv2": "true",
              "azureml.pipelineComponent": "masterescloud",
              "_azureml.ComputeTargetType": "amlctrain",
              "ProcessInfoFile": "azureml-logs/process_info.json",
              "ProcessStatusFile": "azureml-logs/process_status.json"
            },
            "parameters": {},
            "actionUris": {
              "Cancel": "https://master.api.azureml-test.ms/studioservice/apiv2/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/workspaces/00000/runs/a7195e77-fdf8-44e5-9a2c-c09ddc5580f2/Cancel"
            },
            "scriptName": null,
            "target": "cpu-cluster",
            "uniqueChildRunComputeTargets": [],
            "tags": {
              "azureml.nodeid": "1675d363",
              "azureml.pipeline": "000000000000000000000",
              "_aml_system_ComputeTargetStatus": "{\u0022AllocationState\u0022:\u0022steady\u0022,\u0022PreparingNodeCount\u0022:0,\u0022RunningNodeCount\u0022:0,\u0022CurrentNodeCount\u0022:0}"
            },
            "settings": {},
            "services": {},
            "inputDatasets": [],
            "outputDatasets": [],
            "runDefinition": null,
            "jobSpecification": null,
            "primaryMetricName": null,
            "createdFrom": null,
            "cancelUri": "https://master.api.azureml-test.ms/studioservice/apiv2/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/workspaces/00000/runs/a7195e77-fdf8-44e5-9a2c-c09ddc5580f2/Cancel",
            "completeUri": null,
            "diagnosticsUri": null,
            "computeRequest": null,
            "compute": null,
            "retainForLifetimeOfWorkspace": null,
            "queueingInfo": null,
            "inputs": null,
            "outputs": null
          },
          {
            "runNumber": 1664494409,
            "rootRunId": "000000000000000000000",
            "createdUtc": "2022-09-29T23:33:29.1818876\u002B00:00",
            "createdBy": {
              "userObjectId": "1e086a41-b193-4e0a-8b65-15bc2d52d049",
              "userPuId": "10032000BB4EF586",
              "userIdp": null,
              "userAltSecId": null,
              "userIss": "https://sts.windows.n[...]
[...]
    {
      "RequestUri": "https://master.api.azureml-test.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/runs/a7195e77-fdf8-44e5-9a2c-c09ddc5580f2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01[...]
[...]
