{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11991",
        "x-ms-response-type": "standard",
        "x-request-time": "0.179"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "samcw32zcnpjldw",
          "containerName": "azureml-blobstore-3bd2018e-4b43-401e-ad49-85df181c9e0a",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2023-02-18T09:22:33.5645164\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2023-02-18T09:22:34.1712214\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1193",
        "x-ms-response-type": "standard",
        "x-request-time": "0.118"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://samcw32zcnpjldw.blob.core.windows.net/azureml-blobstore-3bd2018e-4b43-401e-ad49-85df181c9e0a/LocalUpload/00000000000000000000000000000000/COMPONENT_PLACEHOLDER",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 22 Feb 2023 07:18:44 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "L/DnSpFIn\u002BjaQWc\u002BsUQdcw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB1192C06E1C79\u0022",
        "Last-Modified": "Sat, 18 Feb 2023 09:30:19 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 18 Feb 2023 09:30:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "c4b5a984-a0c9-4622-a5cf-f22114f04941",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://samcw32zcnpjldw.blob.core.windows.net/azureml-blobstore-3bd2018e-4b43-401e-ad49-85df181c9e0a/az-ml-artifacts/00000000000000000000000000000000/COMPONENT_PLACEHOLDER",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Wed, 22 Feb 2023 07:18:44 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/c4b5a984-a0c9-4622-a5cf-f22114f04941/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://samcw32zcnpjldw.blob.core.windows.net/azureml-blobstore-3bd2018e-4b43-401e-ad49-85df181c9e0a/LocalUpload/00000000000000000000000000000000"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1188",
        "x-ms-response-type": "standard",
        "x-request-time": "0.298"
      },
      "ResponseBody": {
   [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/6eedff85d2f858b9cd4e12021dbc722e?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "isAnonymous": true,
          "isArchived": false,
          "condaFile": "channels:\n- defaults\ndependencies:\n- python=3.8.12\n- pip=21.2.2\n- pip:\n  - --extra-index-url=https://azuremlsdktestpypi.azureedge.net/sdk-cli-v2\n  - mldesigner==0.1.0b6\n  - mlflow==1.29.0\n  - azureml-mlflow==1.45.0\n  - azure-ai-ml==1.0.0\n  - azure-core==1.26.0\n  - azure-common==1.1.28\n  - azureml-core==1.45.0.post2\n  - azure-ml-component==0.9.13.post1\n  - azure-identity==1.11.0\n",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu20.04"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Build-ID": "ca6",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/6eedff85d2f858b9cd4e12021dbc722e?api-version=2022-05-01",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1187",
        "x-ms-response-type": "standard",
        "x-request-time": "0.233"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/6eedff85d2f858b9cd4e12021dbc722e",
        "name": "6eedff85d2f858b9cd4e12021dbc722e",
        "type": "Microsoft.MachineLearningServices/workspaces/environments/versions",
        "properties": {
          "description": null,
          "tags": {},
          "properties": {},
          "isArchived": false,
          "isAnonymous": true,
          "environmentType": "UserCreated",
          "image": "mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu20.04",
          "condaFile": "{\n  \u0022channels\u0022: [\n    \u0022defaults\u0022\n  ],\n  \u0022dependencies\u0022: [\n    \u0022python=3.8.12\u0022,\n    \u0022pip=21.2.2\u0022,\n    {\n      \u0022pip\u0022: [\n        \u0022--extra-index-url=https://azuremlsdktestpypi.azureedge.net/sdk-cli-v2\u0022,\n        \u0022mldesigner==0.1.0b6\u0022,\n        \u0022mlflow==1.29.0\u0022,\n        \u0022azureml-mlflow==1.45.0\u0022,\n        \u0022azure-ai-ml==1.0.0\u0022,\n        \u0022azure-core==1.26.0\u0022,\n        \u0022azure-common==1.1.28\u0022,\n        \u0022azureml-core==1.45.0.post2\u0022,\n        \u0022azure-ml-component==0.9.13.post1\u0022,\n        \u0022azure-identity==1.11.0\u0022\n      ]\n    }\n  ]\n}",
          "osType": "Linux"
        },
        "systemData": {
          "createdAt": "2023-02-22T07:15:57.5551751\u002B00:00",
          "createdBy": "Firstname Lastname",
          "createdByType": "User",
          "lastModifiedAt": "2023-02-22T07:15:57.5551751\u002B00:00",
          "lastModifiedBy": "Firstname Lastname",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/primitive_component_with_normal_input_output_v2?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11990",
        "x-ms-response-type": "standard",
        "x-request-time": "0.046"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/primitive_component_with_normal_input_output_v2",
        "name": "primitive_component_with_normal_input_output_v2",
        "type": "Microsoft.MachineLearningServices/workspaces/components",
        "properties": {
          "description": "",
          "tags": {},
          "properties": {},
          "isArchived": false,
          "latestVersion": null,
          "nextVersion": "2023-02-22-07-18-49-5177439"
        },
        "systemData": {
          "createdAt": "2023-02-22T07:16:10.1816891\u002B00:00",
          "lastModifiedAt": "2023-02-22T07:16:10.2634851\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/primitive_component_with_normal_input_output_v2/versions/2023-02-22-07-18-49-5177439?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {
            "codegenBy": "mldesigner"
          },
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "command": "mldesigner execute --source entry.py --name primitive_component_with_normal_input_output_v2 --inputs input_data=\u0022${{inputs.input_data}}\u0022 parambool=\u0022${{inputs.parambool}}\u0022 paramint=\u0022${{inputs.paramint}}\u0022 paramfloat=\u0022${{inputs.paramfloat}}\u0022 paramstr=\u0022${{inputs.paramstr}}\u0022 --outputs output_data=\u0022${{outputs.output_data}}\u0022 bool_param_output=\u0022${{outputs.bool_param_output}}\u0022 int_param_output=\u0022${{outputs.int_param_output}}\u0022 float_param_output=\u0022${{outputs.float_param_output}}\u0022 str_param_output=\u0022${{outputs.str_param_output}}\u0022",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/c4b5a984-a0c9-4622-a5cf-f22114f04941/versions/1",
            "environment": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/environments/CliV2AnonymousEnvironment/versions/6eedff85d2f858b9cd4e12021dbc722e",
            "name": "primitive_component_with_normal_input_output_v2",
            "tags": {
              "codegenBy": "mldesigner"
            },
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "primitive_component_with_normal_input_output_v2",
            "is_deterministic": true,
            "inputs": {
              "input_data": {
                "type": "uri_folder"
              },
              "parambool": {
                "type": "boolean"
              },
              "paramint": {
                "type": "integer"
              },
              "paramfloat": {
                "type": "number"
              },
              "paramstr": {
                "type": "string"
              }
            },
            "outputs": {
              "output_data": {
                "type": "uri_folder"
              },
              "bool_param_output": {
                "type": "boolean",
                "is_control": true,
                "early_available": true
              },
              "int_param_output": {
                "type": "integer",
                "is_control": true
              },
              "float_param_output": {
                "type": "number",
                "is_control": true
              },
              "str_param_output": {
                "type": "string",
                "is_control": true
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/primitive_component_with_normal_input_output_v2/versions/2023-02-22-07-18-49-5177439?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1186",
        "x-ms-response-type": "standard",
        "x-request-time": "0.625"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/primitive_component_with_normal_input_output_v2/versions/2023-02-22-07-18-49-5177439",
        "name": "2023-02-22-07-18-49-5177439",
        "type": "Microsoft.MachineLearningServices/workspaces/components/versions",
        "properties": {
          "description": null,
          "tags": {
            "codegenBy": "mldesigner"
          },
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "componentSpec": {
            "name": "primitive_component_with_normal_input_output_v2",
            "version": "2023-02-22-07-18-49-5177439",
            "display_name": "primitive_component_with_normal_input_output_v2",
            "is_deterministic": "True",
            "type": "command",
            "tags": {
              "codegenBy": "mldesigner"
            },
            "inputs": {
              "input_data": {
                "type": "uri_folder",
                "optional": "False"
              },
              "parambool": {
                "type": "boolean",
                "optional": "False"
              },
              "paramint": {
                "type": "integer",
                "optional": "False"
              },
              "paramfloat": {
                "type": "number",
                "optional": "False"
              },
              "paramstr": {
                "type": "string",
                "optional": "False"
              }
          [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/d05a7f33-3a5b-517c-2015-3947477bc182?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {
           [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_pipeline_component_control_output?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11989",
        "x-ms-response-type": "standard",
        "x-request-time": "0.053"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_pipeline_component_control_output",
        "name": "test_pipeline_component_control_output",
        "type": "Microsoft.MachineLearningServices/workspaces/components",
        "properties": {
          "description": "",
          "tags": {},
          "properties": {},
          "isArchived": false,
          "latestVersion": null,
          "nextVersion": "2023-02-22-07-18-51-7247143"
        },
        "systemData": {
          "createdAt": "2023-02-22T07:16:12.9135237\u002B00:00",
          "lastModifiedAt": "2023-02-22T07:16:12.9664231\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_pipeline_component_control_output/versions/2023-02-22-07-18-51-7247143?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "isAnonymous": false,
          "isArchived": false,
          "componentSpec": {
            "name": "test_pipeline_component_control_output",
            "display_name": "test_pipeline_component_control_output",
            "outputs": {
              "output_data": {
                "type": "uri_folder"
              },
              "bool_param_output": {
                "type": "boolean",
                "is_control": true
              },
              "int_param_output": {
                "type": "integer",
                "is_control": true
              },
              "float_param_output": {
                "type": "number",
                "is_control": true
              },
              "str_param_output": {
                "type": "string",
                "is_control": true
              }
            },
            "type": "pipeline",
            "jobs": {
              "node": {
                "name": "node",
                "type": "command",
                "inputs": {
                  "input_data": {
                    "uri": "https://dprepdata.blob.core.windows.net/demo/Titanic.csv",
                    "job_input_type": "uri_file"
                  },
                  "parambool": {
                    "job_input_type": "literal",
                    "value": "True"
                  },
                  "paramint": {
                    "job_input_type": "literal",
                    "value": "2"
                  },
                  "paramfloat": {
                    "job_input_type": "literal",
                    "value": "2.2"
                  },
                  "paramstr": {
                    "job_input_type": "literal",
                    "value": "test"
                  }
                },
                "outputs": {
                  "output_data": {
                    "value": "${{parent.outputs.output_data}}",
                    "type": "literal"
                  },
                  "bool_param_output": {
                    "value": "${{parent.outputs.bool_param_output}}",
                    "type": "literal"
                  },
                  "int_param_output": {
                    "value": "${{parent.outputs.int_param_output}}",
                    "type": "literal"
                  },
                  "float_param_output": {
                    "value": "${{parent.outputs.float_param_output}}",
                    "type": "literal"
                  },
                  "str_param_output": {
                    "value": "${{parent.outputs.str_param_output}}",
                    "type": "literal"
                  }
                },
                "_source": "YAML.COMPONENT",
                "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/808ebba8-2163-488b-a649-2a9e13f85c94"
              }
            },
            "_source": "DSL",
            "sourceJobId": null
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/test_pipeline_component_control_output/versions/2023-02-22-07-18-51-7247143?api-version=2022-10-01",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-r[...]
