{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/gpu-cluster?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11839",
        "x-ms-response-type": "standard",
        "x-request-time": "0.024"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/gpu-cluster",
        "name": "gpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "centraluseuap",
        "tags": {},
        "properties": {
          "createdOn": "2022-09-22T09:04:32.8245567\u002B00:00",
          "modifiedOn": "2022-09-22T09:04:38.3624603\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "centraluseuap",
          "provisioningState": "Failed",
          "provisioningErrors": [
            {
              "error": {
                "code": "ClusterMinNodesExceedCoreQuota",
                "message": "The specified subscription has a Standard ND family vCPU quota of 0 and cannot accomodate for at least 1 requested managed compute nodes which maps to 6 vCPUs. Talk to your Subscription Admin or refer to https://docs.microsoft.com/azure/machine-learning/how-to-manage-quotas#request-quota-increases to increase the family quota"
              }
            }
          ],
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_ND6S",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 4,
              "minNodeCount": 0,
              "nodeIdleTimeBeforeScaleDown": null
            },
            "subnet": null,
            "currentNodeCount": null,
            "targetNodeCount": null,
            "nodeStateCounts": null,
            "allocationState": null,
            "errors": null,
            "remoteLoginPortPublicAccess": "NotSpecified",
            "virtualMachineImage": null,
            "isolatedNetwork": false
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/microsoftsamples_command_component_mpi?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11838",
        "x-ms-response-type": "error",
        "x-request-time": "0.209"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "message": "Not found component microsoftsamples_command_component_mpi.",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "11b4d3718409eb5089dc5d9efe0ecc4f",
                  "request": "816af8ab5d196bd6"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "master"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "westus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2022-12-26T03:45:51.7255865\u002B00:00"
              }
            },
            {
              "type": "InnerError",
              "info": {
                "value": {
                  "code": "NotFound",
                  "innerError": {
                    "code": "ComponentNotFound",
                    "innerError": null
                  }
                }
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11837",
        "x-ms-response-type": "standard",
        "x-request-time": "0.087"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "datastoreType": "AzureBlob",
          "accountName": "sagvgsoim6nmhbq",
          "containerName": "azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2022-09-22T09:02:03.2629568\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2022-09-22T09:02:04.166989\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1129",
        "x-ms-response-type": "standard",
        "x-request-time": "0.089"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/LocalUpload/00000000000000000000000000000000/COMPONENT_PLACEHOLDER",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 26 Dec 2022 03:45:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "L/DnSpFIn\u002BjaQWc\u002BsUQdcw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA9D48E17467D7\u0022",
        "Last-Modified": "Fri, 23 Sep 2022 09:49:17 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 23 Sep 2022 09:49:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "9c9cfba9-82bd-45db-ad06-07009d1d9672",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "1",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/az-ml-artifacts/00000000000000000000000000000000/COMPONENT_PLACEHOLDER",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Mon, 26 Dec 2022 03:45:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/9c9cfba9-82bd-45db-ad06-07009d1d9672/versions/1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {
            "hash_sha256": "0000000000000",
            "hash_version": "0000000000000"
          },
          "isAnonymous": true,
          "isArchived": false,
          "codeUri": "https://sagvgsoim6nmhbq.blob.core.windows.net/azureml-blobstore-e61cd5e2-512f-475e-9842-5e2a973993b8/LocalUpload/00000000000000000000000000000000"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1089",
        "x-ms-response-type": "standard",
        "x-request-time": "0.244"
      },
      "ResponseBody":[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/c9249431-2b90-41aa-0532-3e039aee55f2?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the mpi command component",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World \u0026 echo ${{inputs.component_in_number}} \u0026 echo ${{inputs.component_in_path}} \u0026 echo ${{outputs.component_out_path}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/9c9cfba9-82bd-45db-ad06-07009d1d9672/versions/1",
            "environment": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1",
            "resources": {
              "instance_count": 2
            },
            "distribution": {
              "type": "mpi",
              "process_count_per_instance": 1
            },
            "name": "azureml_anonymous",
            "description": "This is the mpi command component",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "version": "c9249431-2b90-41aa-0532-3e039aee55f2",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentMpi",
            "is_deterministic": true,
            "inputs": {
              "component_in_number": {
                "type": "number",
                "default": "10.99",
                "description": "A number"
              },
              "component_in_path": {
                "type": "uri_folder",
                "description": "A path"
              }
            },
            "outputs": {
              "component_out_path": {
                "type": "uri_folder"
              }
            },
            "type": "command",
            "_source": "YAML.COMPONENT"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/c9249431-2b90-41aa-0532-3e039aee55f2?api-version=2022-05-01",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1088",
        "x-ms-response-type": "standard",
        "x-request-time": "1.183"
      },
      "ResponseBody": {
        "id": "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/microsoftsamples_command_component_pytorch?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/microsoftsamples_command_component_tensor_flow?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vi[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/835b4868-deef-96eb-b9ae-abb0274ca475?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "This is the TensorFlow command component",
          "properties": {},
          "tags": {
            "tag": "tagvalue",
            "owner": "sdkteam"
          },
          "isAnonymous": true,
          "isArchived": false,
          "componentSpec": {
            "command": "echo Hello World \u0026 echo ${{inputs.component_in_number}} \u0026 echo ${{inputs.component_in_path}} \u0026 echo ${{outputs.component_out_path}}",
            "code": "azureml:/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/codes/9c9cfba9-82bd-45db-ad06-07009d1d9672/versions/1",
            "environment": "azureml:AzureML-sklearn-0.24-ubuntu18.04-py37-cpu:1",
            "resources": {
              "instance_count": 2
            },
            "distribution": {
              "type": "tensorflow",
              "parameter_server_count": 1,
              "worker_count": 2
            },
            "name": "azureml_anonymous",
            "description": "This is the TensorFlow command component",
            "tags": {
              "tag": "tagvalue",
              "owner": "sdkteam"
            },
            "version": "835b4868-deef-96eb-b9ae-abb0274ca475",
            "$schema": "https://azuremlschemas.azureedge.net/development/commandComponent.schema.json",
            "display_name": "CommandComponentTensorFlow",
            "is_deterministic": true,
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "The hello world pipeline job",
          "properties": {},
          "tags": {
            "owner": "sdkteam",
            "tag": "tagvalue"
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/gpu-cluster",
          "displayName": "test_235398503046",
          "experimentName": "dsl_pipeline_e2e",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "job_in_number": {
              "jobInputType": "literal",
              "value": "10"
            },
            "job_in_path": {
              "uri": "https://dprepdata.blob.core.windows.net/demo/Titanic.csv",
              "jobInputType": "uri_file"
            }
          },
          "jobs": {
            "hello_world_component_mpi": {
              "resources": {
                "instance_count": 2
              },
              "distribution": {
                "distribution_type": "Mpi",
                "process_count_per_instance": 2
              },
              "name": "hello_world_component_mpi",
              "type": "command",
              "inputs": {
                "component_in_number": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_number}}"
                },
                "component_in_path": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_path}}"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/9821248b-afad-42ee-8a1b-b50f3b2b1ab5"
            },
            "hello_world_component_pytorch": {
              "resources": {
                "instance_count": 2
              },
              "distribution": {
                "distribution_type": "PyTorch",
                "process_count_per_instance": 2
              },
              "name": "hello_world_component_pytorch",
              "type": "command",
              "inputs": {
                "component_in_number": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_number}}"
                },
                "component_in_path": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_path}}"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/2daaf590-6808-4e86-bcea-d6b6fc258aa9"
            },
            "hello_world_component_tensorflow": {
              "resources": {
                "instance_count": 2
              },
              "distribution": {
                "distribution_type": "TensorFlow",
                "parameter_server_count": 0,
                "worker_count": 2
              },
              "name": "hello_world_component_tensorflow",
              "type": "command",
              "inputs": {
                "component_in_number": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_number}}"
                },
                "component_in_path": {
                  "job_input_type": "literal",
                  "value": "${{parent.inputs.job_in_path}}"
                }
              },
              "_source": "YAML.COMPONENT",
              "componentId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/components/azureml_anonymous/versions/b1f0faeb-3eb7-495b-917a-40a1410888ba"
            }
          },
          "outputs": {},
          "settings": {
            "_source": "DSL"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000?api-version=2022-10-01-preview",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1083",
        "x-ms-response-type": "standard",
        "x-request-time": "2.090"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/000000000000000000000",
        "name": "000000000000000000000",
        "type": "Microsoft.MachineLearningServices/workspaces/jobs",
        "properties": {
          "description": "The hello world pipeline job",
          "tags": {
            "owner": "sdkteam",
            "tag": "tagvalue"
          },
          "properties": {
            "azureml.DevPlatv2": "true",
            "azureml.runsource": "azureml.PipelineRun",
            "runSource": "MFE",
            "runType": "HTTP",
            "azureml.parameters": "{\u0022job_in_number\u0022:\u002210\u0022}",
            "azureml.continue_on_step_failure": "False",
            "azureml.continue_on_failed_optional_input": "True",
            "azureml.defaultComputeName": "gpu-cluster",
            "azureml.defaultDataStoreName": "workspaceblobstore",
            "azureml.pipelineComponent": "pipelinerun"
          },
          "displayName": "test_235398503046",
          "status": "Preparing",
          "experimentName": "dsl_pipeline_e2e",
          "services": {
            "Tracking": {
              "jobServiceType": "Tracking",
              "port": null,
              "endpoint": "azureml://master.api.azureml-test.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            },
            "Studio": {
              "jobServiceType": "Studio",
              "port": null,
              "endpoint": "https://ml.azure.com/runs/000000000000000000000?wsid=/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000",
              "status": null,
              "errorMessage": null,
              "properties": null,
              "nodes": null
            }
          },
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/gpu-cluster",
          "isArchived": false,
          "identity": null,
          "componentId": null,
          "jobType": "Pipeline",
          "settings": {
            "_source": "DSL"
          },
          "jobs": {
            "hello_world_component_mpi": {
              "resources": {
                "instance_count": 2
              },
              "distribution": {
                "distribution_type": "Mpi",
                "process_count_per_instance": 2
              },
              "name": "hello_world_component_mpi",
              "type": "com[...]
