interactions:
- request:
    body: '{"TableName": "uttable8ff51b1d"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 22 Jul 2020 17:55:51 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.error":{"code":"OperationTimedOut","message":{"lang":"en-US","value":"Operation
        could not be completed within the specified time.\nRequestId:cdfb2843-1002-00dd-6151-6062cd000000\nTime:2020-07-22T17:56:21.7281016Z"}}}'
    headers:
      content-type:
      - application/json
      x-ms-error-code:
      - OperationTimedOut
    status:
      code: 500
      message: Operation could not be completed within the specified time.
- request:
    body: '{"TableName": "uttable8ff51b1d"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 22 Jul 2020 17:55:51 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable8ff51b1d"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttable8ff51b1d')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jul 2020 17:56:40 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable8ff51b1d')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
version: 1
