interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><Logging><Version>1.0</Version><Delete>false</Delete><Read>false</Read><Write>false</Write><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors
      /></StorageServiceProperties>'
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Tue, 21 Jul 2020 19:14:34 GMT
      x-ms-version:
      - 12.0.0b1
    method: PUT
    uri: https://storagename.table.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?>\r\n<error
        xmlns=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\">\r\n
        \ <code>InvalidHeaderValue</code>\r\n  <message xml:lang=\"en-US\">The value
        for one of the HTTP headers is not in the correct format.\nRequestId:e24c4a1b-c002-000c-1993-5f88a2000000\nTime:2020-07-21T19:14:35.3298586Z</message>\r\n</error>"
    headers:
      content-type:
      - application/xml
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
version: 1
