interactions:
- request:
    body: '{"TableName": "listtable051291081"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Tue, 21 Jul 2020 19:13:31 GMT
=======
      - Tue, 21 Jul 2020 19:20:46 GMT
>>>>>>> c8d2333f4b67a39e7180fc86a6170762aaec73ee
      User-Agent:
      - azsdk-python-storage-table/12.0.0b1 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
<<<<<<< HEAD
      - Tue, 21 Jul 2020 19:13:31 GMT
=======
      - Tue, 21 Jul 2020 19:20:46 GMT
>>>>>>> c8d2333f4b67a39e7180fc86a6170762aaec73ee
      x-ms-version:
      - 12.0.0b1
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?>\r\n<error
        xmlns=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\">\r\n
        \ <code>InvalidHeaderValue</code>\r\n  <message xml:lang=\"en-US\">The value
        for one of the HTTP headers is not in the correct format.\nRequestId:eb50b4a9-2002-0049-6493-5f5d41000000\nTime:2020-07-21T19:13:31.9498134Z</message>\r\n</error>"
    headers:
      content-type:
      - application/xml
<<<<<<< HEAD
      - Tue, 21 Jul 2020 19:13:31 GMT
      server:
      - Microsoft-HTTPAPI/2.0
=======
      - Tue, 21 Jul 2020 19:20:44 GMT
      location:
      - https://storagename.table.core.windows.net/Tables('listtable051291081')
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding:
      - chunked
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: '{"TableName": "listtable151291081"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 21 Jul 2020 19:20:46 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"listtable151291081"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('listtable151291081')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 21 Jul 2020 19:20:46 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.table.core.windows.net/Tables?$top=2
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables","value":[{"TableName":"listtable051291081"},{"TableName":"listtable151291081"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-continuation-nexttablename:
      - 1!48!bGlzdHRhYmxlMjUxMjkxMDgxATAxZDY1Zjk0MDg0YjE1NzM-
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 21 Jul 2020 19:20:46 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.table.core.windows.net/Tables?$top=2&NextTableName=1%2148%21bGlzdHRhYmxlMjUxMjkxMDgxATAxZDY1Zjk0MDg0YjE1NzM-
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables","value":[{"TableName":"listtable251291081"},{"TableName":"listtable351291081"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-continuation-nexttablename:
      - 1!48!cHl0YWJsZXN5bmM1MTJhMTA4NQEwMWQ2NWY5NDA3ZGY5NWVj
      x-ms-version:
      - '2019-07-07'
>>>>>>> c8d2333f4b67a39e7180fc86a6170762aaec73ee
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
version: 1
