interactions:
- request:
    body: '{"TableName": "pytableasyncdea11390"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 22 Jul 2020 13:38:27 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"pytableasyncdea11390"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('pytableasyncdea11390')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragezfpr7mey3qch.table.core.windows.net/Tables
- request:
    body: '{"TableName": "pytableasyncdea11390"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 22 Jul 2020 13:38:28 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.error":{"code":"TableAlreadyExists","message":{"lang":"en-US","value":"The
        table specified already exists.\nRequestId:8be78f18-2002-0017-622d-60ca69000000\nTime:2020-07-22T13:38:28.4279268Z"}}}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version: '2019-07-07'
    status:
      code: 409
      message: Conflict
    url: https://pyacrstoragezfpr7mey3qch.table.core.windows.net/Tables
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jul 2020 13:38:28 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('pytableasyncdea11390')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragezfpr7mey3qch.table.core.windows.net/Tables('pytableasyncdea11390')
version: 1
