interactions:
- request:
    body: '{"TableName": "uttable7732118a"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Tue, 21 Jul 2020 19:14:02 GMT
=======
      - Tue, 21 Jul 2020 19:18:26 GMT
>>>>>>> c8d2333f4b67a39e7180fc86a6170762aaec73ee
      User-Agent:
      - azsdk-python-storage-table/12.0.0b1 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
<<<<<<< HEAD
      - Tue, 21 Jul 2020 19:14:02 GMT
=======
      - Tue, 21 Jul 2020 19:18:26 GMT
>>>>>>> c8d2333f4b67a39e7180fc86a6170762aaec73ee
      x-ms-version:
      - 12.0.0b1
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?>\r\n<error
        xmlns=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\">\r\n
        \ <code>InvalidHeaderValue</code>\r\n  <message xml:lang=\"en-US\">The value
        for one of the HTTP headers is not in the correct format.\nRequestId:b008f91f-f002-0065-2e93-5fb1ee000000\nTime:2020-07-21T19:14:02.5822547Z</message>\r\n</error>"
    headers:
<<<<<<< HEAD
      content-length:
      - '371'
      content-type:
      - application/xml
      date:
      - Tue, 21 Jul 2020 19:14:01 GMT
=======
      cache-control:
      - no-cache
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      date:
      - Tue, 21 Jul 2020 19:18:25 GMT
      location:
      - https://storagename.table.core.windows.net/Tables('uttable7732118a')
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding:
      - chunked
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: '{"TableName": "querytable7732118a"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 21 Jul 2020 19:18:27 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"querytable7732118a"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('querytable7732118a')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 21 Jul 2020 19:18:27 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.table.core.windows.net/querytable7732118a()
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable7732118a","value":[]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 21 Jul 2020 19:18:27 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable7732118a')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 21 Jul 2020 19:18:27 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('querytable7732118a')
  response:
    body:
      string: ''
    headers:
>>>>>>> c8d2333f4b67a39e7180fc86a6170762aaec73ee
      server:
      - Microsoft-HTTPAPI/2.0
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
version: 1
