interactions:
- request:
    body: '{"TableName": "uttable5da124b0"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 02 Jul 2020 17:49:21 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable5da124b0"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttable5da124b0')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragedvrm5jjbskal.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "a''''''''b", "RowKey": "a''''''''b", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 02 Jul 2020 17:49:21 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/uttable5da124b0
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable5da124b0/@Element","odata.etag":"W/\"datetime''2020-07-02T17%3A49%3A18.7018309Z''\"","PartitionKey":"a''''''''b","RowKey":"a''''''''b","Timestamp":"2020-07-02T17:49:18.7018309Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-07-02T17%3A49%3A18.7018309Z'"
      location: https://storagename.table.core.windows.net/uttable5da124b0(PartitionKey='a''''''''b',RowKey='a''''''''b')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragedvrm5jjbskal.table.core.windows.net/uttable5da124b0
- request:
    body: '{"PartitionKey": "a''''''''b", "RowKey": "a''''''''b", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 02 Jul 2020 17:49:21 GMT
      x-ms-version:
      - '2019-07-07'
    method: PATCH
    uri: https://storagename.table.core.windows.net/uttable5da124b0(PartitionKey='a''''b',RowKey='a''''b')
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?><m:error xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><m:code>AuthenticationFailed</m:code><m:message
        xml:lang="en-US">Server failed to authenticate the request. Make sure the
        value of Authorization header is formed correctly including the signature.

        RequestId:d4c38103-2002-005a-6899-501eb1000000

        Time:2020-07-02T17:49:18.7818877Z</m:message></m:error>'
    headers:
      content-type: application/xml
      x-ms-error-code: AuthenticationFailed
    status:
      code: 403
      message: Server failed to authenticate the request. Make sure the value of Authorization
        header is formed correctly including the signature.
    url: https://pyacrstoragedvrm5jjbskal.table.core.windows.net/uttable5da124b0(PartitionKey='a''''b',RowKey='a''''b')
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 02 Jul 2020 17:49:21 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable5da124b0')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragedvrm5jjbskal.table.core.windows.net/Tables('uttable5da124b0')
version: 1
