interactions:
- request:
    body: '{"TableName": "pytablesync99dc0b08"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 17 Jul 2020 18:04:20 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"pytablesync99dc0b08"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('pytablesync99dc0b08')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "test", "RowKey": "test1", "text": "hello"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 17 Jul 2020 18:04:20 GMT
      x-ms-version:
      - '2019-07-07'
    method: PATCH
    uri: https://storagename.table.core.windows.net/pytablesync99dc0b08(PartitionKey='test',RowKey='test1')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2020-07-17T18%3A04%3A21.0656807Z'"
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 17 Jul 2020 18:04:21 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.table.core.windows.net/pytablesync99dc0b08()?st=2020-07-17T18%3A03%3A21Z&se=2020-07-17T19%3A04%3A21Z&sp=r&sv=2019-07-07&ss=t&srt=o&sig=e%2FNRsqpdeqdGbVjJVrNtAI4QVXjgGgX%2BuCaKw%2FsyA7w%3D
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#pytablesync99dc0b08","value":[{"odata.etag":"W/\"datetime''2020-07-17T18%3A04%3A21.0656807Z''\"","PartitionKey":"test","RowKey":"test1","Timestamp":"2020-07-17T18:04:21.0656807Z","text":"hello"},{"odata.etag":"W/\"datetime''2020-07-17T18%3A04%3A21.1667527Z''\"","PartitionKey":"test","RowKey":"test2","Timestamp":"2020-07-17T18:04:21.1667527Z","text":"hello"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Jul 2020 18:04:21 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('pytablesync99dc0b08')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
version: 1
