interactions:
- request:
    body: '{"TableName": "uttablecd510cdc"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 17 Jul 2020 18:14:42 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablecd510cdc"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttablecd510cdc')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pkcd510cdc", "RowKey": "rkcd510cdc", "date": "2003-09-27T09:52:43Z",
      "date@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 17 Jul 2020 18:14:42 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/uttablecd510cdc
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablecd510cdc/@Element","odata.etag":"W/\"datetime''2020-07-17T18%3A14%3A43.07468Z''\"","PartitionKey":"pkcd510cdc","RowKey":"rkcd510cdc","Timestamp":"2020-07-17T18:14:43.07468Z","date@odata.type":"Edm.DateTime","date":"2003-09-27T09:52:43Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-07-17T18%3A14%3A43.07468Z'"
      location:
      - https://storagename.table.core.windows.net/uttablecd510cdc(PartitionKey='pkcd510cdc',RowKey='rkcd510cdc')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Fri, 17 Jul 2020 18:14:43 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.table.core.windows.net/uttablecd510cdc(PartitionKey='pkcd510cdc',RowKey='rkcd510cdc')
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablecd510cdc/@Element","odata.etag":"W/\"datetime''2020-07-17T18%3A14%3A43.07468Z''\"","PartitionKey":"pkcd510cdc","RowKey":"rkcd510cdc","Timestamp":"2020-07-17T18:14:43.07468Z","date@odata.type":"Edm.DateTime","date":"2003-09-27T09:52:43Z"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-07-17T18%3A14%3A43.07468Z'"
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Jul 2020 18:14:43 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttablecd510cdc')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
version: 1
