interactions:
- request:
    body: '{"TableName": "uttablee10d18a6"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 15 Jul 2020 19:22:24 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablee10d18a6"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttablee10d18a6')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pke10d18a6", "RowKey": "rke10d18a6", "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa":
      "badval"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 15 Jul 2020 19:22:24 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/uttablee10d18a6
  response:
    body:
      string: '{"odata.error":{"code":"PropertyNameTooLong","message":{"lang":"en-US","value":"The
        property name exceeds the maximum allowed length (255).\nRequestId:011d739d-6002-0075-34dd-5ad348000000\nTime:2020-07-15T19:22:23.9016192Z"}}}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-07-07'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Jul 2020 19:22:24 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttablee10d18a6')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
version: 1
