interactions:
- request:
    body: '{"TableName": "\u554a\u9f44\u4e02\u72db\u72dc"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 22 Jun 2020 14:56:14 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.error":{"code":"InvalidResourceName","message":{"lang":"en-US","value":"The
        specifed resource name contains invalid characters.\nRequestId:7aaf7b88-2002-002b-73a5-481b10000000\nTime:2020-06-22T14:56:14.8145395Z"}}}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-07-07'
    status:
      code: 400
      message: Bad Request
version: 1
