interactions:
- request:
    body: '{"TableName": "uttablef8471404"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 22 Jul 2020 17:57:41 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablef8471404"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttablef8471404')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragek6mlykhumnf4.table.core.windows.net/Tables
- request:
    body: '{"PartitionKey": "test", "RowKey": "test1", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 22 Jul 2020 17:57:41 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/uttablef8471404?se=2020-07-22T18:57:41Z&sp=a&sv=2019-07-07&tn=uttablef8471404&spk=test&srk=test1&epk=test&erk=test1&sig=lyW%2B5S%2BQAUS9GvG3JUrXc1nqdz/TLuMT3TgvvC4i300%3D
  response:
    body:
      string: '{"odata.error":{"code":"InvalidUri","message":{"lang":"en-US","value":"The
        requested URI does not represent any resource on the server.\nRequestId:f3425baf-3002-00e8-4151-60cc98000000\nTime:2020-07-22T17:57:41.7987840Z"}}}'
    headers:
      content-type: application/json
      x-ms-error-code: InvalidUri
    status:
      code: 400
      message: The requested URI does not represent any resource on the server.
    url: https://pyacrstoragek6mlykhumnf4.table.core.windows.net//uttablef8471404?se=2020-07-22T18:57:41Z&sp=a&sv=2019-07-07&tn=uttablef8471404&spk=test&srk=test1&epk=test&erk=test1&sig=lyW%2B5S%2BQAUS9GvG3JUrXc1nqdz/TLuMT3TgvvC4i300%3D
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jul 2020 17:57:41 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttablef8471404')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragek6mlykhumnf4.table.core.windows.net/Tables('uttablef8471404')
version: 1
