interactions:
- request:
    body: '{"TableName": "uttablee64a13f7"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 16 Jul 2020 15:25:46 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttablee64a13f7"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location:
      - https://storagename.table.core.windows.net/Tables('uttablee64a13f7')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pke64a13f7", "RowKey": "rke64a13f7", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "EdmType.DATETIME"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - '3.0'
      If-Match:
      - '*'
      x-ms-date:
      - Thu, 16 Jul 2020 15:25:46 GMT
      x-ms-version:
      - '2019-07-07'
    method: PATCH
    uri: https://storagename.table.core.windows.net/uttablee64a13f7(PartitionKey='pke64a13f7',RowKey='rke64a13f7')
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?><error xmlns="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"><code>InvalidInput</code><message
        xml:lang="en-US">An error occurred while processing this request.

        RequestId:8ffa39e9-2002-0050-4185-5bf20a000000

        Time:2020-07-16T15:25:48.5793022Z</message></error>'
    headers:
      content-type:
      - application/xml;charset=utf-8
      x-ms-version:
      - '2019-07-07'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 16 Jul 2020 15:25:49 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttablee64a13f7')
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
version: 1
