interactions:
- request:
    body: '{"TableName": "uttableac7612b8"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Tue, 21 Jul 2020 19:14:06 GMT
=======
      - Tue, 21 Jul 2020 19:18:35 GMT
>>>>>>> c8d2333f4b67a39e7180fc86a6170762aaec73ee
      User-Agent:
      - azsdk-python-storage-table/12.0.0b1 Python/3.8.4 (Windows-10-10.0.19041-SP0)
      x-ms-date:
<<<<<<< HEAD
      - Tue, 21 Jul 2020 19:14:06 GMT
=======
      - Tue, 21 Jul 2020 19:18:35 GMT
>>>>>>> c8d2333f4b67a39e7180fc86a6170762aaec73ee
      x-ms-version:
      - 12.0.0b1
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?>\r\n<error
        xmlns=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\">\r\n
        \ <code>InvalidHeaderValue</code>\r\n  <message xml:lang=\"en-US\">The value
        for one of the HTTP headers is not in the correct format.\nRequestId:8ec4c86a-9002-0001-4593-5f4076000000\nTime:2020-07-21T19:14:06.8554327Z</message>\r\n</error>"
    headers:
<<<<<<< HEAD
=======
      cache-control:
      - no-cache
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      date:
      - Tue, 21 Jul 2020 19:18:33 GMT
      location:
      - https://storagename.table.core.windows.net/Tables('uttableac7612b8')
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding:
      - chunked
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: '{"PartitionKey": "pkac7612b8", "RowKey": "rkac7612b8", "Description": "\ua015"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 21 Jul 2020 19:18:36 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/uttableac7612b8
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableac7612b8/@Element","odata.etag":"W/\"datetime''2020-07-21T19%3A18%3A34.625721Z''\"","PartitionKey":"pkac7612b8","RowKey":"rkac7612b8","Timestamp":"2020-07-21T19:18:34.625721Z","Description":"\ua015"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-07-21T19%3A18%3A34.625721Z'"
      location:
      - https://storagename.table.core.windows.net/uttableac7612b8(PartitionKey='pkac7612b8',RowKey='rkac7612b8')
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Tue, 21 Jul 2020 19:18:36 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.table.core.windows.net/uttableac7612b8()?$filter=PartitionKey%20eq%20%27pkac7612b8%27
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableac7612b8","value":[{"odata.etag":"W/\"datetime''2020-07-21T19%3A18%3A34.625721Z''\"","PartitionKey":"pkac7612b8","RowKey":"rkac7612b8","Timestamp":"2020-07-21T19:18:34.625721Z","Description":"\ua015"},{"odata.etag":"W/\"datetime''2020-07-21T19%3A18%3A34.7137826Z''\"","PartitionKey":"pkac7612b8","RowKey":"test2","Timestamp":"2020-07-21T19:18:34.7137826Z","Description":"\ua015"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 21 Jul 2020 19:18:36 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttableac7612b8')
  response:
    body:
      string: ''
    headers:
>>>>>>> c8d2333f4b67a39e7180fc86a6170762aaec73ee
      content-length:
      - '371'
      content-type:
      - application/xml
      date:
<<<<<<< HEAD
      - Tue, 21 Jul 2020 19:14:06 GMT
=======
      - Tue, 21 Jul 2020 19:18:33 GMT
>>>>>>> c8d2333f4b67a39e7180fc86a6170762aaec73ee
      server:
      - Microsoft-HTTPAPI/2.0
    status:
      code: 400
      message: The value for one of the HTTP headers is not in the correct format.
version: 1
