interactions:
- request:
    body: '{"TableName": "\u554a\u9f44\u4e02\u72db\u72dc"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 02 Jul 2020 13:22:56 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.error":{"code":"InvalidResourceName","message":{"lang":"en-US","value":"The
        specifed resource name contains invalid characters.\nRequestId:e8da6c7b-c002-00a6-3873-50ed7d000000\nTime:2020-07-02T13:22:54.1959966Z"}}}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2019-07-07'
    status:
      code: 400
      message: Bad Request
version: 1
