interactions:
- request:
    body: '{"TableName": "uttable264f151d"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Tue, 21 Jul 2020 15:27:49 GMT
      User-Agent:
      - azsdk-python-storage-table/2019-07-07 Python/3.8.3 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Tue, 21 Jul 2020 15:27:49 GMT
=======
      - Thu, 02 Jul 2020 17:24:44 GMT
      User-Agent:
      - azsdk-python-storage-table/2019-07-07 Python/3.8.3 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Thu, 02 Jul 2020 17:24:44 GMT
>>>>>>> 8bdf4dab46b1d77ee840080c15bb142508964575
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable264f151d"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
<<<<<<< HEAD
      - Tue, 21 Jul 2020 15:27:47 GMT
=======
      - Thu, 02 Jul 2020 17:24:41 GMT
>>>>>>> 8bdf4dab46b1d77ee840080c15bb142508964575
      location:
      - https://storagename.table.core.windows.net/Tables('uttable264f151d')
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding:
      - chunked
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"PartitionKey": "pk264f151d", "RowKey": "rk264f151d1", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Tue, 21 Jul 2020 15:27:50 GMT
      User-Agent:
      - azsdk-python-storage-table/2019-07-07 Python/3.8.3 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Tue, 21 Jul 2020 15:27:50 GMT
=======
      - Thu, 02 Jul 2020 17:24:45 GMT
      User-Agent:
      - azsdk-python-storage-table/2019-07-07 Python/3.8.3 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Thu, 02 Jul 2020 17:24:45 GMT
>>>>>>> 8bdf4dab46b1d77ee840080c15bb142508964575
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/querytable264f151d
  response:
    body:
<<<<<<< HEAD
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable264f151d/@Element","odata.etag":"W/\"datetime''2020-07-21T15%3A27%3A48.703887Z''\"","PartitionKey":"pk264f151d","RowKey":"rk264f151d1","Timestamp":"2020-07-21T15:27:48.703887Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
=======
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable264f151d/@Element","odata.etag":"W/\"datetime''2020-07-02T17%3A24%3A42.6560133Z''\"","PartitionKey":"pk264f151d","RowKey":"rk264f151d1","Timestamp":"2020-07-02T17:24:42.6560133Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
>>>>>>> 8bdf4dab46b1d77ee840080c15bb142508964575
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
<<<<<<< HEAD
      - Tue, 21 Jul 2020 15:27:47 GMT
      etag:
      - W/"datetime'2020-07-21T15%3A27%3A48.703887Z'"
=======
      - Thu, 02 Jul 2020 17:24:41 GMT
      etag:
      - W/"datetime'2020-07-02T17%3A24%3A42.6560133Z'"
>>>>>>> 8bdf4dab46b1d77ee840080c15bb142508964575
      location:
      - https://storagename.table.core.windows.net/querytable264f151d(PartitionKey='pk264f151d',RowKey='rk264f151d1')
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      transfer-encoding:
      - chunked
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
<<<<<<< HEAD
      - Tue, 21 Jul 2020 15:27:50 GMT
=======
      - Thu, 02 Jul 2020 17:24:45 GMT
>>>>>>> 8bdf4dab46b1d77ee840080c15bb142508964575
      User-Agent:
      - azsdk-python-storage-table/2019-07-07 Python/3.8.3 (Windows-10-10.0.19041-SP0)
      accept:
      - application/json;odata=fullmetadata
      x-ms-date:
<<<<<<< HEAD
      - Tue, 21 Jul 2020 15:27:50 GMT
=======
      - Thu, 02 Jul 2020 17:24:45 GMT
>>>>>>> 8bdf4dab46b1d77ee840080c15bb142508964575
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.table.core.windows.net/querytable264f151d()
  response:
    body:
<<<<<<< HEAD
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable264f151d","value":[{"odata.type":"storagename.querytable264f151d","odata.id":"https://storagename.table.core.windows.net/querytable264f151d(PartitionKey=''pk264f151d'',RowKey=''rk264f151d1'')","odata.etag":"W/\"datetime''2020-07-21T15%3A27%3A48.703887Z''\"","odata.editLink":"querytable264f151d(PartitionKey=''pk264f151d'',RowKey=''rk264f151d1'')","PartitionKey":"pk264f151d","RowKey":"rk264f151d1","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2020-07-21T15:27:48.703887Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a578[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - Tue, 21 Jul 2020 15:27:50 GMT
      User-Agent:
      - azsdk-python-storage-table/2019-07-07 Python/3.8.3 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Tue, 21 Jul 2020 15:27:50 GMT
=======
      - Thu, 02 Jul 2020 17:24:45 GMT
      User-Agent:
      - azsdk-python-storage-table/2019-07-07 Python/3.8.3 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Thu, 02 Jul 2020 17:24:45 GMT
>>>>>>> 8bdf4dab46b1d77ee840080c15bb142508964575
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable264f151d')
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Tue, 21 Jul 2020 15:27:48 GMT
=======
      - Thu, 02 Jul 2020 17:24:42 GMT
>>>>>>> 8bdf4dab46b1d77ee840080c15bb142508964575
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
<<<<<<< HEAD
      - Tue, 21 Jul 2020 15:27:50 GMT
      User-Agent:
      - azsdk-python-storage-table/2019-07-07 Python/3.8.3 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Tue, 21 Jul 2020 15:27:50 GMT
=======
      - Thu, 02 Jul 2020 17:24:45 GMT
      User-Agent:
      - azsdk-python-storage-table/2019-07-07 Python/3.8.3 (Windows-10-10.0.19041-SP0)
      x-ms-date:
      - Thu, 02 Jul 2020 17:24:45 GMT
>>>>>>> 8bdf4dab46b1d77ee840080c15bb142508964575
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('querytable264f151d')
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Tue, 21 Jul 2020 15:27:48 GMT
=======
      - Thu, 02 Jul 2020 17:24:42 GMT
>>>>>>> 8bdf4dab46b1d77ee840080c15bb142508964575
      server:
      - Windows-Azure-Table/1.0 Microsoft-HTTPAPI/2.0
      x-content-type-options:
      - nosniff
      x-ms-version:
      - '2019-07-07'
    status:
      code: 204
      message: No Content
version: 1
