interactions:
- request:
    body: '{"TableName": "uttable121a1965"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 22 Jul 2020 17:57:38 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#Tables/@Element","TableName":"uttable121a1965"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      location: https://storagename.table.core.windows.net/Tables('uttable121a1965')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragek6mlykhumnf4.table.core.windows.net/Tables
[...]
- request:
    body: '{"PartitionKey": "pk121a1965", "RowKey": "rk121a19651", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "ratio": 3.1,
      "evenratio": 3.0, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type:
      - application/json;odata=nometadata
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 22 Jul 2020 17:57:38 GMT
      x-ms-version:
      - '2019-07-07'
    method: POST
    uri: https://storagename.table.core.windows.net/querytable121a1965
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable121a1965/@Element","odata.etag":"W/\"datetime''2020-07-22T17%3A57%3A38.8087788Z''\"","PartitionKey":"pk121a1965","RowKey":"rk121a19651","Timestamp":"2020-07-22T17:57:38.8087788Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag: W/"datetime'2020-07-22T17%3A57%3A38.8087788Z'"
      location: https://storagename.table.core.windows.net/querytable121a1965(PartitionKey='pk121a1965',RowKey='rk121a19651')
      x-ms-version: '2019-07-07'
    status:
      code: 201
      message: Created
    url: https://pyacrstoragek6mlykhumnf4.table.core.windows.net/querytable121a1965
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 22 Jul 2020 17:57:39 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.table.core.windows.net/querytable121a1965()?$top=2
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable121a1965","value":[{"odata.etag":"W/\"datetime''2020-07-22T17%3A57%3A38.8087788Z''\"","PartitionKey":"pk121a1965","RowKey":"rk121a19651","Timestamp":"2020-07-22T17:57:38.8087788Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"},{"odata.etag":"W/\"datetime''2020-07-22T17%3A57%3A38.889837Z''\"","PartitionKey":"pk121a1965","RowKey":"rk121a196512","Timestamp":"2020-07-22T17:57:38.889837Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}]}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-continuation-nextpartitionkey: 1!16!cGsxMjFhMTk2NQ--
      x-ms-continuation-nextrowkey: 1!20!cmsxMjFhMTk2NTEyMw--
      x-ms-version: '2019-07-07'
    status:
      code: 200
      message: OK
    url: https://pyacrstoragek6mlykhumnf4.table.core.windows.net/querytable121a1965()?$top=2
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 22 Jul 2020 17:57:39 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.table.core.windows.net/querytable121a1965()?$top=2&NextPartitionKey=1!16!cGsxMjFhMTk2NQ--&NextRowKey=1!20!cmsxMjFhMTk2NTEyMw--
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable121a1965","value":[{"odata.etag":"[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 22 Jul 2020 17:57:39 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://storagename.table.core.windows.net/querytable121a1965()?$top=2&NextPartitionKey=1!16!cGsxMjFhMTk2NQ--&NextRowKey=1!20!cmsxMjFhMTk2NTEyMzQ1
  response:
    body:
      string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable121a1965","value":[{"odata.etag":"W/\"datetime''2020-07-22T17%3A57%3A39.1360138Z''\"","PartitionKey":"pk121a1965","RowKey":"rk121a196512345","Timestamp":"2020-07-22T17:57:39.1360138Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}]}'
    headers:
      content-type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version: '2019-07-07'
    status:
      code: 200
      message: OK
    url: https://pyacrstoragek6mlykhumnf4.table.core.windows.net/querytable121a1965()?$top=2&NextPartitionKey=1!16!cGsxMjFhMTk2NQ--&NextRowKey=1!20!cmsxMjFhMTk2NTEyMzQ1
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jul 2020 17:57:39 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('uttable121a1965')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragek6mlykhumnf4.table.core.windows.net/Tables('uttable121a1965')
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 22 Jul 2020 17:57:39 GMT
      x-ms-version:
      - '2019-07-07'
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('querytable121a1965')
  response:
    body:
      string: ''
    headers:
      x-ms-version: '2019-07-07'
    status:
      code: 204
      message: No Content
    url: https://pyacrstoragek6mlykhumnf4.table.core.windows.net/Tables('querytable121a1965')
version: 1
