interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Microsoft was founded by Bill Gates.",
      "language": "English"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/linking?showStats=false
  response:
    body:
      string: '{"code":"InternalServerError","message":"Processing failed unexpectedly.
        Please try again later."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-ta-request-id:
      - a98c38fc-0f99-4787-8944-1550d024f476
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"documents": [{"id": "0", "text": "Microsoft was founded by Bill Gates.",
      "language": "English"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/linking?showStats=false
  response:
    body:
      string: '{"code":"InternalServerError","message":"Processing failed unexpectedly.
        Please try again later."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-aml-ta-request-id:
      - 9a44752e-aea4-4237-beed-964109dc0fbd
    status:
      code: 500
      message: Internal Server Error
version: 1
