interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This is written in English.", "countryHint":
      "United States"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/languages?showStats=false
  response:
    body:
      string: '{"documents":[],"errors":[{"id":"0","error":{"code":"InvalidArgument","innerError":{"code":"InvalidCountryHint","message":"Country
        hint is not valid. Please specify an ISO 3166-1 alpha-2 two letter country
        code."},"message":"Invalid Country Hint."}}],"modelVersion":"2019-10-01"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=0
      x-aml-ta-request-id:
      - fb6abf77-e289-47da-9723-4037f5319803
    status:
      code: 200
      message: OK
version: 1
