interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "This was the best day of my life.",
      "countryHint": "US"}, {"id": "1", "text": "I did not like the hotel we stayed
      it. It was too expensive.", "countryHint": "US"}, {"id": "2", "text": "The restaurant
      was not as good as I hoped.", "countryHint": "US"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/languages?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"0","detectedLanguages":[{"name":"English","iso6391Name":"en","score":1.0}]},{"id":"1","detectedLanguages":[{"name":"English","iso6391Name":"en","score":1.0}]},{"id":"2","detectedLanguages":[{"name":"English","iso6391Name":"en","score":1.0}]}],"errors":[],"modelVersion":"2019-10-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=3
      x-aml-ta-request-id: 7d7fa84e-db98-45d8-9300-5dab5afa00d1
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - westus2.api.cognitive.microsoft.com
        - //text/analytics/v3.0-preview.1/languages
        - showStats=false
        - ''
version: 1
