interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "I had a wonderful experience! The rooms
      were wonderful and the staff was helpful."}]}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK-Client: [Python-SDK]
    method: POST
    uri: https://westcentralus.api.cognitive.microsoft.com/text/analytics/v2.1/languages
  response:
    body: {string: '{"documents":[{"id":"1","detectedLanguages":[{"name":"English","iso6391Name":"en","score":1.0}]}],"errors":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      csp-billing-usage: [CognitiveServices.TextAnalytics.BatchScoring|1]
      x-aml-ta-request-id: [3211bf52-3057-40a2-ad42-98a0294aaf6d]
      x-ms-transaction-count: ['1']
    status: {code: 200, message: OK}
version: 1
