interactions:
- request:
    body: '{"documents": [{"id": "1", "text": "Microsoft was founded by Bill Gates
      and Paul Allen on April 4, 1975.", "language": "en"}, {"id": "2", "text": "Microsoft
      fue fundado por Bill Gates y Paul Allen el 4 de abril de 1975.", "language":
      "es"}, {"id": "3", "text": "Microsoft wurde am 4. April 1975 von Bill Gates
      und Paul Allen gegr\u00fcndet.", "language": "de"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/entities/recognition/general?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"1","entities":[{"text":"Microsoft","type":"Organization","offset":0,"length":9,"score":1.0},{"text":"Bill
        Gates","type":"Person","offset":25,"length":10,"score":0.999755859375},{"text":"Paul
        Allen","type":"Person","offset":40,"length":10,"score":0.99876481294631958},{"text":"April
        4, 1975","type":"DateTime","subtype":"Date","offset":54,"length":13,"score":0.8}]},{"id":"2","entities":[{"text":"Microsoft","type":"Organization","offset":0,"length":9,"score":0.99482542276382446},{"text":"Bill
        Gates","type":"Person","offset":26,"length":10,"score":0.99993896484375},{"text":"Paul
        Allen","type":"Person","offset":39,"length":10,"score":0.99963384866714478},{"text":"4
        de abril de 1975","type":"DateTime","subtype":"Date","offset":53,"length":18,"score":0.8}]},{"id":"3","entities":[{"text":"Microsoft","type":"Organization","offset":0,"length":9,"score":0.999847412109375},{"text":"4.
        April 1975","type":"DateTime","subtype":"Date","offset":19,"length":13,"score":0.8},{"text":"Bill
        Gates","type":"Person","offset":37,"length":10,"score":0.99951183795928955},{"text":"Paul
        Allen","type":"Person","offset":52,"length":10,"score":0.99981689453125}]}],"errors":[],"modelVersion":"latest"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=3
      x-aml-ta-request-id:
      - 34aeac3a-a8a2-4fe4-af3c-07cf1f1bde21
    status:
      code: 200
      message: OK
version: 1
