interactions:
- request:
    body: '{"documents": [{"id": "0", "text": "Este es un document escrito en Espa\u00f1ol.",
      "countryHint": "CA"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/languages?showStats=false
  response:
    body:
      string: '{"documents":[{"id":"0","detectedLanguages":[{"name":"Spanish","iso6391Name":"es","score":1.0}]}],"errors":[],"modelVersion":"2019-10-01"}'
    headers:
      content-type: application/json; charset=utf-8
      csp-billing-usage: CognitiveServices.TextAnalytics.BatchScoring=1
      x-aml-ta-request-id: 97df1900-4fa2-481d-af47-4feefcd375b9
    status:
      code: 200
      message: OK
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult
        - https
        - westus2.api.cognitive.microsoft.com
        - //text/analytics/v3.0-preview.1/languages
        - showStats=false
        - ''
version: 1
