interactions:
- request:
    body: '{"documents": [{"id": "56", "text": ":)"}, {"id": "0", "text": ":("}, {"id":
      "22", "text": ""}, {"id": "19", "text": ":P"}, {"id": "1", "text": ":D"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BingApis-SDK-Client:
      - Python-SDK
    method: POST
    uri: https://westus2.api.cognitive.microsoft.com/text/analytics/v3.0-preview.1/sentiment?model-version=latest&showStats=true
  response:
    body:
      string: '{"statistics":{"documentsCount":5,"validDocumentsCount":4,"erroneousDocumentsCount":1,"transactionsCount":4},"documents":[{"id":"56","sentiment":"positive","statistics":{"charactersCount":2,"transactionsCount":1},"documentScores":{"positive":0.79595094919204712,"neutral":0.181293323636055,"negative":0.0227557774633169},"sentences":[{"sentiment":"positive","sentenceScores":{"positive":0.79595094919204712,"neutral":0.181293323636055,"negative":0.0227557774633169},"offset":0,"length":2}]},{"id":"0","sentiment":"negative","statistics":{"charactersCount":2,"transactionsCount":1},"documentScores":{"positive":0.0299581550061703,"neutral":0.20621491968631739,"negative":0.76382696628570557},"sentences":[{"sentiment":"negative","sentenceScores":{"positive":0.0299581550061703,"neutral":0.20621491968631739,"negative":0.76382696628570557},"offset":0,"length":2}]},{"id":"19","sentiment":"positive","statistics":{"charactersCount":2,"transactionsCount":1},"documentScores":{"positive":0.46800261735916138,"neutral":0.46502783894538879,"negative":0.0669695809483528},"sentences":[{"sentiment":"positive","sentenceScores":{"positive":0.46800261735916138,"neutral":0.46502783894538879,"negative":0.0669695809483528},"offset":0,"length":2}]},{"id":"1","sentiment":"positive","statistics":{"charactersCount":2,"transactionsCount":1},"documentScores":{"positive":0.79595112800598145,"neutral":0.18129308521747589,"negative":0.0227557606995106},"sentences":[{"sentiment":"positive","sentenceScores":{"positive":0.79595112800598145,"neutral":0.18129308521747589,"negative":0.0227557606995106},"offset":0,"length":2}]}],"errors":[{"id":"22","error":{"code":"InvalidArgument","innerError":{"code":"InvalidDocument","message":"Document
        text is empty."},"message":"Invalid document in request."}}],"modelVersion":"latest"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      csp-billing-usage:
      - CognitiveServices.TextAnalytics.BatchScoring=4
      x-aml-ta-request-id:
      - cd310a12-3186-47b3-a5df-84428de02af5
    status:
      code: 200
      message: OK
version: 1
