-e ../../../tools/azure-sdk-tools
../../core/azure-core
../../nspkg/azure-mixedreality-nspkg
../../mixedreality/azure-mixedreality-authentication
aiohttp>=3.0
-e ../../identity/azure-identity
-e ../../../tools/azure-devtools

