{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/ecc1e7b3-198e-4fd6-85d6-6c4d03e1ddcd",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "ecc1e7b3-198e-4fd6-85d6-6c4d03e1ddcd",
        "name": "alertconfigdkmhriqoxh6aq",
        "description": "",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "d6bf0bae-f177-4238-9be8-cfc0887e6fe2",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "4d6e163c-ce27-400b-9686-db6cb48e2cbc",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "d6bf0bae-f177-4238-9be8-cfc0887e6fe2",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "d6bf0bae-f177-4238-9be8-cfc0887e6fe2",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/ae568f95-9373-40c1-a78d-de5fff4bde07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "ecc1e7b3-198e-4fd6-85d6-6c4d03e1ddcd",
    "alert_config_name": "alertconfigdkmhriqoxh6aq",
    "data_feed_id": "ae568f95-9373-40c1-a78d-de5fff4bde07",
    "data_feed_metric_id": "4d6e163c-ce27-400b-9686-db6cb48e2cbc",
    "data_feed_name": "datafeedydbu6mkrjlf3hn6h",
    "detection_config_id": "d6bf0bae-f177-4238-9be8-cfc0887e6fe2",
    "detection_config_name": "detectionconfigfxqaofluq"
  }
}
