{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfig4bf04fa3-4c39-48d3-9c2c-8850617ee4f5",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "135aa00f-6a21-436c-baf5-9979a1099a3f",
            "anomalyScopeType": "Dimension",
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "lower": 1.0,
              "direction": "Down",
              "metricId": "bf331065-8531-4c94-bd7c-f4279b697b18"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/c2138a15-8bfb-43b3-b6b0-565af319e1df"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/c2138a15-8bfb-43b3-b6b0-565af319e1df",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "c2138a15-8bfb-43b3-b6b0-565af319e1df",
        "name": "alertconfig4bf04fa3-4c39-48d3-9c2c-8850617ee4f5",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "135aa00f-6a21-436c-baf5-9979a1099a3f",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "lower": 1.0,
              "direction": "Down",
              "metricId": "bf331065-8531-4c94-bd7c-f4279b697b18",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/07bcead5-6f51-4eba-9465-253597815048",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfig4bf04fa3-4c39-48d3-9c2c-8850617ee4f5",
    "data_feed_id": "07bcead5-6f51-4eba-9465-253597815048",
    "data_feed_metric_id": "bf331065-8531-4c94-bd7c-f4279b697b18",
    "data_feed_name": "datafeed5cb0790e-fccc-4eda-a6c8-af8c32ae1dab",
    "detection_config_id": "135aa00f-6a21-436c-baf5-9979a1099a3f",
    "detection_config_name": "detectionconfig3e03fcde-92c7-40bd-9c7a-ed936dd30e6c"
  }
}
