{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022dataSourceType\u0022: \u0022SqlServer\u0022, \u0022dataFeedName\u0022: \u0022testfeeda82f9eb9-5a98-4352-aa94-298718a12e2a\u0022, \u0022dataFeedDescription\u0022: \u0022my first data feed\u0022, \u0022granularityName\u0022: \u0022Daily\u0022, \u0022metrics\u0022: [{\u0022metricName\u0022: \u0022cost\u0022, \u0022metricDisplayName\u0022: \u0022display cost\u0022, \u0022metricDescription\u0022: \u0022the cost\u0022}, {\u0022metricName\u0022: \u0022revenue\u0022, \u0022metricDisplayName\u00[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a20ff9d6-b643-4999-880b-169ecb3545d8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "a20ff9d6-b643-4999-880b-169ecb3545d8",
        "dataFeedName": "testfeeda82f9eb9-5a98-4352-aa94-298718a12e2a",
        "metrics": [
          {
            "metricId": "0af551b9-e82c-4b20-bbb5-fc050968a9d4",
            "metricName": "cost",
            "metricDisplayName": "display cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "8932c131-b109-4c6b-b7c3-f6417c9fbf37",
            "metricName": "revenue",
            "metricDisplayName": "display revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "display category"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "display city"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "Timestamp",
        "startOffsetInSeconds": -1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "SmartFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "my first data feed",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": 0,
        "viewMode": "Private",
        "admins": [
          "yournamehere@microsoft.com",
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "viewers": [
          "viewers"
        ],
        "creator": "f850650c-1fcf-4489-b46f-71af2e30d360",
        "status": "Active",
        "createdTime": "2021-12-16T01:11:29Z",
        "isAdmin": true,
        "actionLinkTemplate": "action link template",
        "dataSourceParameter": {
          "query": "select * from adsample2 where Timestamp = @StartTime"
        },
        "authenticationType": "Basic"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a20ff9d6-b643-4999-880b-169ecb3545d8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "code": "404 NOT_FOUND",
        "message": "datafeedId is invalid."
      }
    }
  ],
  "Variables": {
    "data_feed_id": "a20ff9d6-b643-4999-880b-169ecb3545d8",
    "data_feed_name": "testfeeda82f9eb9-5a98-4352-aa94-298718a12e2a"
  }
}
