{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/b1652519-063d-49a8-928a-e083612c7ea0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "b1652519-063d-49a8-928a-e083612c7ea0",
        "name": "alertconfigfb14d30f-5d6b-4df4-aeef-73ebd6cc3d4d",
        "description": "",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "8d601f07-e668-49d6-8c93-4e5146cd9e8c",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "cba5f51f-b12a-45bb-9ea9-0e8901be52f5",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "8d601f07-e668-49d6-8c93-4e5146cd9e8c",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "8d601f07-e668-49d6-8c93-4e5146cd9e8c",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1152961b-82bb-48ff-ad2a-5b4edea59d70",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "b1652519-063d-49a8-928a-e083612c7ea0",
    "alert_config_name": "alertconfigfb14d30f-5d6b-4df4-aeef-73ebd6cc3d4d",
    "alert_config_updated_name": "update8188b9e3-a0cc-4499-9e51-62f7435d6c66",
    "data_feed_id": "1152961b-82bb-48ff-ad2a-5b4edea59d70",
    "data_feed_metric_id": "cba5f51f-b12a-45bb-9ea9-0e8901be52f5",
    "data_feed_name": "datafeedfdbe357f-1ab6-4fd1-8646-287f7e107729",
    "detection_config_id": "8d601f07-e668-49d6-8c93-4e5146cd9e8c",
    "detection_config_name": "detectionconfig22711ef3-33b5-4d91-8ced-bba10d54c74a"
  }
}
