{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "dataSourceType": "PostgreSql",
        "dataFeedName": "postgresql7fa7f787-3288-4981-b425-300504db2547",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost"
          },
          {
            "metricName": "revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category"
          },
          {
            "dimensionName": "city"
          }
        ],
        "dataStartFrom": "2019-01-01T00:00:00.000Z",
        "startOffsetInSeconds": 0,
        "maxConcurrency": -1,
        "minRetryIntervalInSeconds": -1,
        "stopRetryAfterInSeconds": -1,
        "viewMode": "Private",
        "authenticationType": "Basic",
        "dataSourceParameter": {
          "connectionString": "postgresql_connection_string",
          "query": "\u0027select * from adsample2 where Timestamp = @StartTime\u0027"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1c8a0f39-63d1-40ca-8523-960fd5ad38c6"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1c8a0f39-63d1-40ca-8523-960fd5ad38c6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "1c8a0f39-63d1-40ca-8523-960fd5ad38c6",
        "dataFeedName": "postgresql7fa7f787-3288-4981-b425-300504db2547",
        "metrics": [
          {
            "metricId": "09290469-6246-4436-ac08-92e8a87030bd",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          },
          {
            "metricId": "65229d86-75c2-4452-ab95-9f31b2d45554",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2019-01-01T00:00:00Z",
        "dataSourceType": "PostgreSql",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "viewers": [],
        "creator": "krpratic@microsoft.com",
        "status": "Active",
        "createdTime": "2022-09-29T23:25:34Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "query": "\u0027select * from adsample2 where Timestamp = @StartTime\u0027"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/1c8a0f39-63d1-40ca-8523-960fd5ad38c6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "1c8a0f39-63d1-40ca-8523-960fd5ad38c6",
    "data_feed_name": "postgresql7fa7f787-3288-4981-b425-300504db2547"
  }
}
