{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/4c0b884f-d09f-4e5c-9120-8f4b604a088b",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": "{\u0022name\u0022: \u0022updatea3ecafe9-5ec4-40c0-86ba-4af7a3eae7ca\u0022, \u0022metricAlertingConfigurations\u0022: [{\u0022anomalyDetectionConfigurationId\u0022: \u002295bb6509-e000-449a-8bf0-fe28bc4b6195\u0022, \u0022anomalyScopeType\u0022: \u0022TopN\u0022, \u0022topNAnomalyScope\u0022: {\u0022top\u0022: 5, \u0022period\u0022: 10, \u0022minTopCount\u0022: 9}}], \u0022description\u0022: \u0022\u0022}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "4c0b884f-d09f-4e5c-9120-8f4b604a088b",
        "name": "updatea3ecafe9-5ec4-40c0-86ba-4af7a3eae7ca",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "95bb6509-e000-449a-8bf0-fe28bc4b6195",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/347095a4-8b93-4357-b7fe-2f1a40f4a252",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "4c0b884f-d09f-4e5c-9120-8f4b604a088b",
    "alert_config_name": "alertconfigtu3qmaoaapnuo",
    "alert_config_updated_name": "updatea3ecafe9-5ec4-40c0-86ba-4af7a3eae7ca",
    "data_feed_id": "347095a4-8b93-4357-b7fe-2f1a40f4a252",
    "data_feed_metric_id": "6868c33e-c174-44fd-a74c-96b2ab83791e",
    "data_feed_name": "datafeedmyavojcj7zla7sv3",
    "detection_config_id": "95bb6509-e000-449a-8bf0-fe28bc4b6195",
    "detection_config_name": "detectionconfigpnxruipym"
  }
}
