{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testdetectionconfigc83a5d4a-f216-4b12-a777-ed5083c22222",
        "description": "My test metric anomaly detection configuration",
        "metricId": "4a3a4652-c28e-496e-8f7b-4410f7c69e93",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 0.0,
            "upperBound": 100.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 50.0,
            "shiftPoint": 30,
            "withinRange": true,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 2,
              "minRatio": 2.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "conditionOperator": "AND",
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "hardThresholdCondition": {
              "lowerBound": 0.0,
              "upperBound": 100.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 5,
                "minRatio": 5.0
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 50.0,
              "shiftPoint": 30,
              "withinRange": true,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 2,
                "minRatio": 2.0
              }
            },
            "group": {
              "dimension": {
                "region": "Sao Paulo"
              }
            }
          },
          {
            "conditionOperator": "AND",
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "group": {
              "dimension": {
                "region": "Seoul"
              }
            }
          }
        ],
        "seriesOverrideConfigurations": [
          {
            "conditionOperator": "AND",
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "hardThresholdCondition": {
              "lowerBound": 0.0,
              "upperBound": 100.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 5,
                "minRatio": 5.0
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 50.0,
              "shiftPoint": 30,
              "withinRange": true,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 2,
                "minRatio": 2.0
              }
            },
            "series": {
              "dimension": {
                "region": "Shenzhen",
                "category": "Jewelry"
              }
            }
          },
          {
            "conditionOperator": "AND",
            "smartDetectionCondition": {
              "sensitivity": 63.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 1,
                "minRatio": 100.0
              }
            },
            "series": {
              "dimension": {
                "region": "Osaka",
                "category": "Cell Phones"
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/5d4bdac0-7d99-4187-b545-d879b16cfd46"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/5d4bdac0-7d99-4187-b545-d879b16cfd46",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "5d4bdac0-7d99-4187-b545-d879b16cfd46",
        "name": "testdetectionconfigc83a5d4a-f216-4b12-a777-ed5083c22222",
        "description": "My test metric anomaly detection configuration",
        "metricId": "4a3a4652-c28e-496e-8f7b-4410f7c69e93",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNu[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/9c973d4e-e6af-466c-8fde-5c772e56ecc5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "9c973d4e-e6af-466c-8fde-5c772e56ecc5",
    "data_feed_metric_id": "4a3a4652-c28e-496e-8f7b-4410f7c69e93",
    "data_feed_name": "datafeed0a9b26fa-5765-4452-b52a-1e6700fd99ce",
    "detection_config_name": "testdetectionconfigc83a5d4a-f216-4b12-a777-ed5083c22222"
  }
}
