{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022dataSourceCredentialType\u0022: \u0022ServicePrincipal\u0022, \u0022dataSourceCredentialName\u0022: \u0022testserviceprincipalcredential521fa668-57fd-43d8-953e-6724a76b1b05\u0022, \u0022dataSourceCredentialDescription\u0022: \u0022my credential\u0022, \u0022parameters\u0022: {\u0022clientId\u0022: \u0022client_id\u0022, \u0022clientSecret\u0022: \u0022client_secret\u0022, \u0022tenantId\u0022: \u0022tenant_id\u0022}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/cf9ba8f1-9c87-485c-b60d-676e5d52bfda"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/cf9ba8f1-9c87-485c-b60d-676e5d52bfda",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "cf9ba8f1-9c87-485c-b60d-676e5d52bfda",
        "dataSourceCredentialName": "testserviceprincipalcredential521fa668-57fd-43d8-953e-6724a76b1b05",
        "dataSourceCredentialDescription": "my credential",
        "dataSourceCredentialType": "ServicePrincipal",
        "parameters": {
          "clientId": "client_id",
          "tenantId": "tenant_id"
        }
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/cf9ba8f1-9c87-485c-b60d-676e5d52bfda",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "credential_id": "cf9ba8f1-9c87-485c-b60d-676e5d52bfda",
    "credential_name": "testserviceprincipalcredential521fa668-57fd-43d8-953e-6724a76b1b05"
  }
}
