{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/54b77911-4af2-43fc-9ed1-6c6cbcd1e319",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "54b77911-4af2-43fc-9ed1-6c6cbcd1e319",
        "dataFeedName": "datafeedoxvotdjbhidf5a36",
        "metrics": [
          {
            "metricId": "c6e7a000-7840-44ab-812a-db583501289a",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "6fbbf016-f482-403a-b530-6ed7045e8f30",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "Timestamp",
        "startOffsetInSeconds": -1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "SmartFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "my first data feed",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": 0,
        "viewMode": "Private",
        "admins": [
          "krpratic@microsoft.com",
          "yournamehere@microsoft.com"
        ],
        "viewers": [
          "viewers"
        ],
        "creator": "krpratic@microsoft.com",
        "status": "Active",
        "createdTime": "2021-12-16T03:21:51Z",
        "isAdmin": true,
        "actionLinkTemplate": "action link template",
        "dataSourceParameter": {
          "query": "select * from adsample2 where Timestamp = @StartTime"
        },
        "authenticationType": "Basic"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/54b77911-4af2-43fc-9ed1-6c6cbcd1e319",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "54b77911-4af2-43fc-9ed1-6c6cbcd1e319",
        "dataFeedName": "update8370488d-75be-49b5-9dce-940f301708bd",
        "metrics": [
          {
            "metricId": "c6e7a000-7840-44ab-812a-db583501289a",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "6fbbf016-f482-403a-b530-6ed7045e8f30",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2021-09-10T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "time",
        "startOffsetInSeconds": 1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "allUpIdentification": "sumrollup",
        "needRollup": "AlreadyRollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 2.0,
        "rollUpMethod": "Sum",
        "dataFeedDescription": "updateMe",
        "stopRetryAfterInSeconds": 1,
        "minRetryIntervalInSeconds": 120,
        "maxConcurrency": 1,
        "viewMode": "Public",
        "admins": [
          "krpratic@microsoft.com",
          "yournamehere@microsoft.com"
        ],
        "viewers": [
          "updated"
        ],
        "creator": "krpratic@microsoft.com",
        "status": "Paused",
        "createdTime": "2021-12-16T03:21:51Z",
        "isAdmin": true,
        "actionLinkTemplate": "updated",
        "dataSourceParameter": {
          "query": "get data"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/54b77911-4af2-43fc-9ed1-6c6cbcd1e319",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "54b77911-4af2-43fc-9ed1-6c6cbcd1e319",
    "data_feed_metric_id": "c6e7a000-7840-44ab-812a-db583501289a",
    "data_feed_name": "datafeedoxvotdjbhidf5a36",
    "data_feed_updated_name": "update8370488d-75be-49b5-9dce-940f301708bd"
  }
}
