{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022dataSourceCredentialType\u0022: \u0022ServicePrincipal\u0022, \u0022dataSourceCredentialName\u0022: \u0022testserviceprincipalcredential43c48c8b-fa22-40bc-aa21-82d284603bc7\u0022, \u0022dataSourceCredentialDescription\u0022: \u0022my credential\u0022, \u0022parameters\u0022: {\u0022clientId\u0022: \u0022client_id\u0022, \u0022clientSecret\u0022: \u0022client_secret\u0022, \u0022tenantId\u0022: \u0022tenant_id\u0022}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/76f7dc57-1e1f-4c7e-bdcd-30960b18f30d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/76f7dc57-1e1f-4c7e-bdcd-30960b18f30d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataSourceCredentialId": "76f7dc57-1e1f-4c7e-bdcd-30960b18f30d",
        "dataSourceCredentialName": "testserviceprincipalcredential43c48c8b-fa22-40bc-aa21-82d284603bc7",
        "dataSourceCredentialDescription": "my credential",
        "dataSourceCredentialType": "ServicePrincipal",
        "parameters": {
          "clientId": "client_id",
          "tenantId": "tenant_id"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/credentials/76f7dc57-1e1f-4c7e-bdcd-30960b18f30d",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "credential_id": "76f7dc57-1e1f-4c7e-bdcd-30960b18f30d",
    "credential_name": "testserviceprincipalcredential43c48c8b-fa22-40bc-aa21-82d284603bc7"
  }
}
