{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/04c2c521-11f4-4449-b543-39918001c5ac",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "hookType": "Webhook",
        "hookName": "updatecf8c30bc-5236-49e0-9fc6-5b3d2a41d5e8",
        "description": "update",
        "externalLink": "update",
        "hookParameter": {
          "endpoint": "https://httpbin.org/post",
          "username": "myusername",
          "password": "password",
          "certificateKey": null,
          "certificatePassword": null
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "04c2c521-11f4-4449-b543-39918001c5ac",
        "hookName": "updatecf8c30bc-5236-49e0-9fc6-5b3d2a41d5e8",
        "hookType": "Webhook",
        "externalLink": "update",
        "description": "update",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "hookParameter": {
          "endpoint": "https://httpbin.org/post",
          "username": "myusername",
          "password": "password",
          "certificateKey": "",
          "certificatePassword": ""
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/04c2c521-11f4-4449-b543-39918001c5ac",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "hook_updated_name": "updatecf8c30bc-5236-49e0-9fc6-5b3d2a41d5e8",
    "web_hook_id": "04c2c521-11f4-4449-b543-39918001c5ac",
    "web_hook_name": "web_hook9e8b62bf-d82d-4237-9d75-b538da6cbe56"
  }
}
