{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/0e6e3b70-e9ed-4cc0-bcf5-003a8d77a47d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "0e6e3b70-e9ed-4cc0-bcf5-003a8d77a47d",
        "name": "alertconfigark25w4lkwrjo",
        "description": "",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "cd981acc-d09c-4b79-974e-7f31610d928a",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "14f8eb90-5ffa-41da-9ee1-f9284b54c207",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "cd981acc-d09c-4b79-974e-7f31610d928a",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "cd981acc-d09c-4b79-974e-7f31610d928a",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/945ec505-9c32-4819-8dce-98a21f4b22e5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "0e6e3b70-e9ed-4cc0-bcf5-003a8d77a47d",
    "alert_config_name": "alertconfigark25w4lkwrjo",
    "alert_config_updated_name": "updatef036a07a-7b4d-47c1-bc91-45d36238e1d4",
    "data_feed_id": "945ec505-9c32-4819-8dce-98a21f4b22e5",
    "data_feed_metric_id": "14f8eb90-5ffa-41da-9ee1-f9284b54c207",
    "data_feed_name": "datafeedftjata4knhvgsrs6",
    "detection_config_id": "cd981acc-d09c-4b79-974e-7f31610d928a",
    "detection_config_name": "detectionconfig6vul7qdrm"
  }
}
