{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "hookId": "8c88db0d-0020-4b7d-b88b-0a1b1c0eb315",
            "hookName": "js-test-emailHook-163122810639507343",
            "hookType": "Email",
            "externalLink": "",
            "description": "description",
            "admins": [
              "f850650c-1fcf-4489-b46f-71af2e30d360",
              "savaity@microsoft.com"
            ],
            "hookParameter": {
              "toList": [
                "test@example.com"
              ]
            }
          },
          {
            "hookId": "c5bcdcb2-4b0e-4d72-8548-4ea9b37f19ab",
            "hookName": "email hook",
            "hookType": "Email",
            "externalLink": "https://docs.microsoft.com/en-us/azure/cognitive-services/metrics-advisor/how-tos/alerts",
            "description": "my email hook",
            "admins": [
              "xiangyan@microsoft.com",
              "f850650c-1fcf-4489-b46f-71af2e3[...]
