{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022name\u0022: \u0022alertconfig805094b6-7722-415a-8f4a-9e25fdc75b79\u0022, \u0022hookIds\u0022: [], \u0022metricAlertingConfigurations\u0022: [{\u0022anomalyDetectionConfigurationId\u0022: \u002257bb5658-c5cc-4c37-af95-d04a2a489218\u0022, \u0022anomalyScopeType\u0022: \u0022All\u0022, \u0022valueFilter\u0022: {\u0022lower\u0022: 1.0, \u0022direction\u0022: \u0022Down\u0022, \u0022type\u0022: \u0022Value\u0022, \u0022metricId\u0022: \u0022800350f4-1b9f-480c-b91e-a94a913a2678\u0022}}]}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/ef0e014e-f957-49d0-8f86-0b3f7b99c8a7"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/ef0e014e-f957-49d0-8f86-0b3f7b99c8a7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "ef0e014e-f957-49d0-8f86-0b3f7b99c8a7",
        "name": "alertconfig805094b6-7722-415a-8f4a-9e25fdc75b79",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "57bb5658-c5cc-4c37-af95-d04a2a489218",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "valueFilter": {
              "lower": 1.0,
              "direction": "Down",
              "metricId": "800350f4-1b9f-480c-b91e-a94a913a2678",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/90a51b1e-eef9-4b6f-8e95-f0346fc55fde",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfig805094b6-7722-415a-8f4a-9e25fdc75b79",
    "data_feed_id": "90a51b1e-eef9-4b6f-8e95-f0346fc55fde",
    "data_feed_metric_id": "800350f4-1b9f-480c-b91e-a94a913a2678",
    "data_feed_name": "datafeeduewvsxr6dkddb6v5",
    "detection_config_id": "57bb5658-c5cc-4c37-af95-d04a2a489218",
    "detection_config_name": "detectionconfigucfmw2dwr"
  }
}
