{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022name\u0022: \u0022testdetectionconfig9134802d-5df6-4858-a1c9-1876766392f7\u0022, \u0022description\u0022: \u0022My test metric anomaly detection configuration\u0022, \u0022metricId\u0022: \u00229aee833b-0d84-4435-b722-d26ee9a9fdbe\u0022, \u0022wholeMetricConfiguration\u0022: {\u0022conditionOperator\u0022: \u0022OR\u0022, \u0022smartDetectionCondition\u0022: {\u0022sensitivity\u0022: 50.0, \u0022anomalyDetectorDirection\u0022: \u0022Both\u0022, \u0022suppressCondition\u0022: {\u0022minNumber\u0022: 5, \u0022minRatio\u0022: 5.0}}, \u0022hardThresholdCondition\u0022: {\u0022lowerBound\u0022: 0.0, \u0022upperBound\u0022: 100.0, \u0022anomalyDetectorDirection\u0022: \u0022Both\u0022, \u0022suppressCondition\u0022: {\u0022minNumber\u0022: 5, \u0022minRatio\u0022: 5.0}}, \u0022changeThresholdCondition\u0022: {\u0022changePercentage\u0022: 50.0, \u0022shiftPoint\u0022: 30, \u0022withinRange\u0022: true, \u0022anomalyDetectorDirection\u0022: \u0022Both\u0022, \u0022suppressCondition\u0022: {\u0022minNumber\u0022: 2, \u0022minRatio\u0022: 2.0}}}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/b8cddb00-e644-489e-9a16-1652e2f3ba8b"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/b8cddb00-e644-489e-9a16-1652e2f3ba8b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "b8cddb00-e644-489e-9a16-1652e2f3ba8b",
        "name": "testdetectionconfig9134802d-5df6-4858-a1c9-1876766392f7",
        "description": "My test metric anomaly detection configuration",
        "metricId": "9aee833b-0d84-4435-b722-d26ee9a9fdbe",
        "wholeMetricConfiguration": {
          "conditionOperator": "OR",
          "smartDetectionCondition": {
            "sensitivity": 50.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 0.0,
            "upperBound": 100.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 5.0
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 50.0,
            "shiftPoint": 30,
            "anomalyDetectorDirection": "Both",
            "withinRange": true,
            "suppressCondition": {
              "minNumber": 2,
              "minRatio": 2.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [],
        "seriesOverrideConfigurations": []
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/b8cddb00-e644-489e-9a16-1652e2f3ba8b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "code": "Not Found",
        "message": "Not found this AnomalyDetectionConfiguration. TraceId: 0d69ff7a-8bb6-41ad-941e-fd0fa14e30f7"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/a3b871b6-1dac-4176-b5c5-8dd72ea4697e",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "a3b871b6-1dac-4176-b5c5-8dd72ea4697e",
    "data_feed_metric_id": "9aee833b-0d84-4435-b722-d26ee9a9fdbe",
    "data_feed_name": "datafeedr4s44embzrgiestt",
    "detection_config_id": "b8cddb00-e644-489e-9a16-1652e2f3ba8b",
    "detection_config_name": "testdetectionconfig9134802d-5df6-4858-a1c9-1876766392f7"
  }
}
