{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/9ace3700-6c95-47e1-b1be-c8dc83e94e98",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": "{\u0022hookName\u0022: \u0022update\u0022, \u0022description\u0022: \u0022update\u0022, \u0022externalLink\u0022: \u0022update\u0022, \u0022hookType\u0022: \u0022Email\u0022, \u0022hookParameter\u0022: {\u0022toList\u0022: [\u0022myemail@m.com\u0022]}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "9ace3700-6c95-47e1-b1be-c8dc83e94e98",
        "hookName": "update",
        "hookType": "Email",
        "externalLink": "update",
        "description": "update",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "hookParameter": {
          "toList": [
            "myemail@m.com"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/9ace3700-6c95-47e1-b1be-c8dc83e94e98",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "email_hook_id": "9ace3700-6c95-47e1-b1be-c8dc83e94e98",
    "email_hook_name": "emailhookm6v7bbudif7phap"
  }
}
