{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/a2e6eff5-d6ca-4fcc-bbdf-327cc3d38e4c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "a2e6eff5-d6ca-4fcc-bbdf-327cc3d38e4c",
        "name": "alertconfigvp4htxu5yu7rp",
        "description": "",
        "crossMetricsOperator": "AND",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "086b1c2f-6741-4540-90a5-a05b942eb8fe",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "1f4b9da4-88a7-452d-9789-b3a700390a9b",
              "triggerForMissing": false,
              "type": "Value"
            }
          },
          {
            "anomalyDetectionConfigurationId": "086b1c2f-6741-4540-90a5-a05b942eb8fe",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Beijing"
              }
            },
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          },
          {
            "anomalyDetectionConfigurationId": "086b1c2f-6741-4540-90a5-a05b942eb8fe",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "severityFilter": {
              "minAlertSeverity": "Low",
              "maxAlertSeverity": "High"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/d581f2c2-2e07-40b1-9387-511ed1c65f6b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "a2e6eff5-d6ca-4fcc-bbdf-327cc3d38e4c",
    "alert_config_name": "alertconfigvp4htxu5yu7rp",
    "alert_config_updated_name": "update5319e7a4-5298-40c2-a444-94b04f00f6ad",
    "data_feed_id": "d581f2c2-2e07-40b1-9387-511ed1c65f6b",
    "data_feed_metric_id": "1f4b9da4-88a7-452d-9789-b3a700390a9b",
    "data_feed_name": "datafeedd2vu3hw5r5mmkf5h",
    "detection_config_id": "086b1c2f-6741-4540-90a5-a05b942eb8fe",
    "detection_config_name": "detectionconfigkhcycr3qa"
  }
}
