{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7792d51e-d334-42ca-b660-8b5e1323ef5c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "7792d51e-d334-42ca-b660-8b5e1323ef5c",
        "dataFeedName": "datafeedb7v7zbx2btqwwhby",
        "metrics": [
          {
            "metricId": "8d8bcef1-b1d9-471b-818c-49526c63f1c9",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "4d6f7b69-1258-4779-895a-e0ae30aa8b56",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "Timestamp",
        "startOffsetInSeconds": -1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "SmartFilling",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "my first data feed",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": 0,
        "viewMode": "Private",
        "admins": [
          "krpratic@microsoft.com",
          "yournamehere@microsoft.com"
        ],
        "viewers": [
          "viewers"
        ],
        "creator": "krpratic@microsoft.com",
        "status": "Active",
        "createdTime": "2021-12-16T03:21:45Z",
        "isAdmin": true,
        "actionLinkTemplate": "action link template",
        "dataSourceParameter": {
          "query": "select * from adsample2 where Timestamp = @StartTime"
        },
        "authenticationType": "Basic"
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7792d51e-d334-42ca-b660-8b5e1323ef5c",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "7792d51e-d334-42ca-b660-8b5e1323ef5c",
        "dataFeedName": "updateb86cc1e6-8a45-4185-afdc-cb3189f76edf",
        "metrics": [
          {
            "metricId": "8d8bcef1-b1d9-471b-818c-49526c63f1c9",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": "the cost"
          },
          {
            "metricId": "4d6f7b69-1258-4779-895a-e0ae30aa8b56",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": "the revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "region",
            "dimensionDisplayName": "region"
          }
        ],
        "dataStartFrom": "2021-09-10T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "time",
        "startOffsetInSeconds": 1,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "allUpIdentification": "sumrollup",
        "needRollup": "AlreadyRollup",
        "fillMissingPointType": "CustomValue",
        "fillMissingPointValue": 2.0,
        "rollUpMethod": "Sum",
        "dataFeedDescription": "updated",
        "stopRetryAfterInSeconds": 1,
        "minRetryIntervalInSeconds": 120,
        "maxConcurrency": 1,
        "viewMode": "Public",
        "admins": [
          "krpratic@microsoft.com",
          "yournamehere@microsoft.com"
        ],
        "viewers": [
          "updated"
        ],
        "creator": "krpratic@microsoft.com",
        "status": "Paused",
        "createdTime": "2021-12-16T03:21:45Z",
        "isAdmin": true,
        "actionLinkTemplate": "updated",
        "dataSourceParameter": {
          "query": "get data"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/7792d51e-d334-42ca-b660-8b5e1323ef5c",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "7792d51e-d334-42ca-b660-8b5e1323ef5c",
    "data_feed_metric_id": "8d8bcef1-b1d9-471b-818c-49526c63f1c9",
    "data_feed_name": "datafeedb7v7zbx2btqwwhby",
    "data_feed_updated_name": "updateb86cc1e6-8a45-4185-afdc-cb3189f76edf"
  }
}
