{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022dataSourceType\u0022: \u0022MongoDB\u0022, \u0022dataFeedName\u0022: \u0022mongodbd22c6e7d-007b-4a37-af95-afca566c7074\u0022, \u0022granularityName\u0022: \u0022Daily\u0022, \u0022metrics\u0022: [{\u0022metricName\u0022: \u0022cost\u0022}, {\u0022metricName\u0022: \u0022revenue\u0022}], \u0022dimension\u0022: [{\u0022dimensionName\u0022: \u0022category\u0022}, {\u0022dimensionName\u0022: \u0022city\u0022}], \u0022dataStartFrom\u0022: \u00222019-01-01T00:00:00.000Z\u0022, \u0022startOffsetInSeconds\u0022: 0, \u0022maxConcurrency\u0022: -1, \u0022minRetryIntervalInSeconds\u0022: -1, \u0022stopRetryAfterInSeconds\u0022: -1, \u0022viewMode\u0022: \u0022Private\u0022, \u0022authenticationType\u0022: \u0022Basic\u0022, \u0022dataSourceParameter\u0022: {\u0022connectionString\u0022: \u0022mongodb_connection_string\u0022, \u0022database\u0022: \u0022adsample\u0022, \u0022command\u0022: \u0022{\\\u0022find\\\u0022: \\\u0022adsample\\\u0022, \\\u0022filter\\\u0022: { Timestamp: { $eq: @StartTime }} \\\u0022batchSize\\\u0022: 2000,}\u0022}}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4b340aae-4e51-47d4-8e11-efef457c60e3"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4b340aae-4e51-47d4-8e11-efef457c60e3",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "4b340aae-4e51-47d4-8e11-efef457c60e3",
        "dataFeedName": "mongodbd22c6e7d-007b-4a37-af95-afca566c7074",
        "metrics": [
          {
            "metricId": "b0d6d3ad-73d7-4ef2-9d7b-1391fdbb43aa",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          },
          {
            "metricId": "eee0242d-f203-44bb-bed4-2b61f33b16e3",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2019-01-01T00:00:00Z",
        "dataSourceType": "MongoDB",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "viewers": [],
        "creator": "krpratic@microsoft.com",
        "status": "Active",
        "createdTime": "2021-12-16T01:11:50Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "database": "adsample",
          "command": "{\u0022find\u0022: \u0022adsample\u0022, \u0022filter\u0022: { Timestamp: { $eq: @StartTime }} \u0022batchSize\u0022: 2000,}"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/4b340aae-4e51-47d4-8e11-efef457c60e3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "4b340aae-4e51-47d4-8e11-efef457c60e3",
    "data_feed_name": "mongodbd22c6e7d-007b-4a37-af95-afca566c7074"
  }
}
