{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "dataSourceType": "AzureCosmosDB",
        "dataFeedName": "cosmosfeedd249b551-0127-47e1-85d9-9be28426e8b2",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "cost"
          },
          {
            "metricName": "revenue"
          }
        ],
        "dimension": [
          {
            "dimensionName": "category"
          },
          {
            "dimensionName": "city"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00.000Z",
        "startOffsetInSeconds": 0,
        "maxConcurrency": -1,
        "minRetryIntervalInSeconds": -1,
        "stopRetryAfterInSeconds": -1,
        "viewMode": "Private",
        "authenticationType": "Basic",
        "dataSourceParameter": {
          "connectionString": "azure_cosmosdb_connection_string",
          "sqlQuery": "\u0027SELECT * FROM Items I where I.Timestamp \u003E= @StartTime and I.Timestamp \u003C @EndTime\u0027",
          "database": "adsample",
          "collectionId": "adsample"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/6e16a84e-001e-4945-b7b4-7d8155bc05cd"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/6e16a84e-001e-4945-b7b4-7d8155bc05cd",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "6e16a84e-001e-4945-b7b4-7d8155bc05cd",
        "dataFeedName": "cosmosfeedd249b551-0127-47e1-85d9-9be28426e8b2",
        "metrics": [
          {
            "metricId": "252fa238-47c7-4408-ad34-6c4d7045bb04",
            "metricName": "cost",
            "metricDisplayName": "cost",
            "metricDescription": ""
          },
          {
            "metricId": "a01e7536-077a-4be3-9c35-6c41d7ce3d12",
            "metricName": "revenue",
            "metricDisplayName": "revenue",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "category",
            "dimensionDisplayName": "category"
          },
          {
            "dimensionName": "city",
            "dimensionDisplayName": "city"
          }
        ],
        "dataStartFrom": "2019-10-01T00:00:00Z",
        "dataSourceType": "AzureCosmosDB",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "f850650c-1fcf-4489-b46f-71af2e30d360"
        ],
        "viewers": [],
        "creator": "f850650c-1fcf-4489-b46f-71af2e30d360",
        "status": "Active",
        "createdTime": "2022-09-29T23:25:18Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "database": "adsample",
          "sqlQuery": "\u0027SELECT * FROM Items I where I.Timestamp \u003E= @StartTime and I.Timestamp \u003C @EndTime\u0027",
          "collectionId": "adsample"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/6e16a84e-001e-4945-b7b4-7d8155bc05cd",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "data_feed_id": "6e16a84e-001e-4945-b7b4-7d8155bc05cd",
    "data_feed_name": "cosmosfeedd249b551-0127-47e1-85d9-9be28426e8b2"
  }
}
