{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "{\u0022name\u0022: \u0022alertconfig1d7701d0-a6e8-4a0a-bedc-04af247cdac3\u0022, \u0022hookIds\u0022: [], \u0022metricAlertingConfigurations\u0022: [{\u0022anomalyDetectionConfigurationId\u0022: \u002241807004-101d-430e-bc44-ad723e5d876a\u0022, \u0022anomalyScopeType\u0022: \u0022All\u0022, \u0022valueFilter\u0022: {\u0022upper\u0022: 5.0, \u0022direction\u0022: \u0022Up\u0022, \u0022type\u0022: \u0022Value\u0022, \u0022metricId\u0022: \u00224177ec26-cb88-4515-aac4-43d676ed9e45\u0022}}]}",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/665b7bb8-2abb-4351-a83a-9269b831b232"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/665b7bb8-2abb-4351-a83a-9269b831b232",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "665b7bb8-2abb-4351-a83a-9269b831b232",
        "name": "alertconfig1d7701d0-a6e8-4a0a-bedc-04af247cdac3",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "41807004-101d-430e-bc44-ad723e5d876a",
            "anomalyScopeType": "All",
            "negationOperation": false,
            "valueFilter": {
              "upper": 5.0,
              "direction": "Up",
              "metricId": "4177ec26-cb88-4515-aac4-43d676ed9e45",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/6b5ecde0-3dfb-4cb3-b093-7d3d5eb9dbaf",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfig1d7701d0-a6e8-4a0a-bedc-04af247cdac3",
    "data_feed_id": "6b5ecde0-3dfb-4cb3-b093-7d3d5eb9dbaf",
    "data_feed_metric_id": "4177ec26-cb88-4515-aac4-43d676ed9e45",
    "data_feed_name": "datafeedrpfvly3bhbl3amtq",
    "detection_config_id": "41807004-101d-430e-bc44-ad723e5d876a",
    "detection_config_name": "detectionconfigovnek7pj4"
  }
}
