{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/b415bb0a-e2ef-40ad-9413-ef889afb4aeb",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "name": "update6f6b6296-0689-4c83-9b03-7bb8249bafec",
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "46c6b2ba-9a67-4013-8fe5-c5f71e9cb354",
            "anomalyScopeType": "TopN",
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            }
          }
        ],
        "description": ""
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "b415bb0a-e2ef-40ad-9413-ef889afb4aeb",
        "name": "update6f6b6296-0689-4c83-9b03-7bb8249bafec",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "46c6b2ba-9a67-4013-8fe5-c5f71e9cb354",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 5,
              "period": 10,
              "minTopCount": 9
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/002bb72f-c3ea-4abf-b0f2-d1cf87c25a97",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_id": "b415bb0a-e2ef-40ad-9413-ef889afb4aeb",
    "alert_config_name": "alertconfig33719943-f054-4f25-a4d6-46e07726b6bf",
    "alert_config_updated_name": "update6f6b6296-0689-4c83-9b03-7bb8249bafec",
    "data_feed_id": "002bb72f-c3ea-4abf-b0f2-d1cf87c25a97",
    "data_feed_metric_id": "17c6623c-5a91-4394-b8c3-c0c7d4927a5c",
    "data_feed_name": "datafeede82d532e-a9d4-4779-b546-5dfcc78646aa",
    "detection_config_id": "46c6b2ba-9a67-4013-8fe5-c5f71e9cb354",
    "detection_config_name": "detectionconfig54fd3865-5a74-49fe-8b68-41412980ff97"
  }
}
