{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/f6280e6e-8ee3-4c2d-9efd-6bea96ca849d",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": "{\u0022hookName\u0022: \u0022update\u0022, \u0022description\u0022: \u0022update\u0022, \u0022externalLink\u0022: \u0022update\u0022, \u0022hookType\u0022: \u0022Webhook\u0022, \u0022hookParameter\u0022: {\u0022endpoint\u0022: \u0022https://httpbin.org/post\u0022, \u0022username\u0022: \u0022myusername\u0022, \u0022password\u0022: \u0022password\u0022}}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "hookId": "f6280e6e-8ee3-4c2d-9efd-6bea96ca849d",
        "hookName": "update",
        "hookType": "Webhook",
        "externalLink": "update",
        "description": "update",
        "admins": [
          "krpratic@microsoft.com"
        ],
        "hookParameter": {
          "endpoint": "https://httpbin.org/post",
          "username": "myusername",
          "password": "password"
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/hooks/f6280e6e-8ee3-4c2d-9efd-6bea96ca849d",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "web_hook_id": "f6280e6e-8ee3-4c2d-9efd-6bea96ca849d",
    "web_hook_name": "web_hookwwf5jmmvunq2ypr7"
  }
}
