{
  "Entries": [
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "alertconfig09277bac-d2dc-4b87-8f6f-0a1c0b32173c",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "3d4b0689-6038-4954-8048-7a8b1fb655e6",
            "anomalyScopeType": "Dimension",
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "ab8e6696-520f-40fa-86f8-521c906ca927"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/839b4210-c086-4162-ac9d-b21693433831"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/839b4210-c086-4162-ac9d-b21693433831",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "839b4210-c086-4162-ac9d-b21693433831",
        "name": "alertconfig09277bac-d2dc-4b87-8f6f-0a1c0b32173c",
        "description": "",
        "splitAlertByDimensions": [],
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "3d4b0689-6038-4954-8048-7a8b1fb655e6",
            "anomalyScopeType": "Dimension",
            "negationOperation": false,
            "dimensionAnomalyScope": {
              "dimension": {
                "region": "Shenzhen"
              }
            },
            "valueFilter": {
              "lower": 1.0,
              "upper": 5.0,
              "direction": "Both",
              "metricId": "ab8e6696-520f-40fa-86f8-521c906ca927",
              "triggerForMissing": false,
              "type": "Value"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeendpoint.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/24757ec5-a254-4011-bf27-9942ad5405b1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "alert_config_name": "alertconfig09277bac-d2dc-4b87-8f6f-0a1c0b32173c",
    "data_feed_id": "24757ec5-a254-4011-bf27-9942ad5405b1",
    "data_feed_metric_id": "ab8e6696-520f-40fa-86f8-521c906ca927",
    "data_feed_name": "datafeed690801dd-bdae-44df-83b5-a28029dfb089",
    "detection_config_id": "3d4b0689-6038-4954-8048-7a8b1fb655e6",
    "detection_config_name": "detectionconfig6b127423-6527-460c-9bc5-fb0036e93092"
  }
}
